[2020-09-11 21:37] jasonnutter commented on #2274
@raj-here Apologies for the delay. MSAL.js is currently not supported in server environments, and only works client-side. For MSAL.js v2 we will address this, see #2073. Closing.

[2020-09-11 21:37] #2274 closed

[2020-09-11 22:16] jasonnutter commented on #2272
Closing.

@LastTribunal As I believe I have warned you before, by participating in this repository, you agree to follow Microsoft's Code of Conduct: https://opensource.microsoft.com/codeofconduct/

Further violations may result permanent banishment.

[2020-09-11 22:16] #2272 closed

[2020-09-11 23:06] LastTribunal opened #2277 "MSAL JS + ADFS, id_token not returning custom attributes"
## Library
- [ ] `@azure/msal@1.4.0`
## Description
In ADAL JS, the ADFS did not return custom attributes, unless **response_mode="form_post"** was sent in the request.
I am having the same problem here

I understand this is a limitation not of MSAL, but of ADFS.
Is there a way to get the full id_token from ADFS via MSAL.JS?

ref:
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deve

[2020-09-11 23:07] LastTribunal opened #2279 "MSAL.JS + ADFS custom attributes in id_token"
## Library
- [ ] `@azure/msal@1.4.0`
## Description
In ADAL JS, the ADFS did not return custom attributes, unless **response_mode="form_post"** was sent in the request.
I am having the same problem here

I understand this is a limitation not of MSAL, but of ADFS.
Is there a way to get the full id_token from ADFS via MSAL.JS?

ref:
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deve

[2020-09-11 23:08] #2279 closed

[2020-09-11 23:08] jasonnutter commented on #2042
@Lexcess Apologies about the frustration using MSAL and Angular. The sample is question is updated to show how it could work using redirects instead of popups. There are still a couple known issues (e.g. updating state properly), but we'll be addressing those soon. MSAL.js v2 requires async processing of redirect responses, which has introduced new complexity into mechanisms like the guard that we

[2020-09-11 23:08] LastTribunal commented on #2279
duplicate

[2020-09-12 01:42] julio177 commented on #2266
I'm sorry, clearCache call was supposed to be in the catch section of the call.
So calling the method on anything other than logout i.e. error calls is not an expected behaviour right?

[2020-09-12 01:43] MellVgaEcu opened #2280 "CORS error Azure B2C"
Hi everyone!
I developed an application that works with Azure B2C and I have my work flow available for profile editing, when I want to edit a data , this redirect to index but with a cors error.
I'wll attach the issue description. Please, can anyone help me with this?

**Request at 'https://xxxxx.b2clogin.com/xxxxxx.onmicrosoft.com/b2c_1_signup…kveCtN0Bnp1GpsilHJRtFb&x-client-SKU=ID_NETSTANDARD2_

[2020-09-12 05:27] gulench commented on #2268
**Some more observations on the login-redirect flow**

I made the following adjustments to the sample app:

1. Protect the root-route *also* with `MsalGuard`:

[code]

2. Moved the redirect-subscription from `home.component.ts` to `app.component.ts`:

[code]

With the above changes, the login-process **gets stuck** in *infinite redirects* between the application and login-authorization endpoint (e

[2020-09-12 05:44] rangeranger commented on #2211
@gumowy-kaczak :

**How to control authorize endpoint oauth2/authorize vs oauth2/v2.0/authorize?**

1. If your app is registered with the legacy registration portal then it uses the V1 endpoint. If it is created with the new portal then it uses the V2 endpoint.

2. If your app is created with the legacy portal and if you want to use the V2 endpoint then you have to set the value of _**accessTokenA

[2020-09-12 10:30] jacksonhart commented on #2231
Thanks. downgraded msal and its working .
Will close this issue.

[2020-09-12 10:30] #2231 closed

[2020-09-13 00:30] #2104 closed

[2020-09-13 00:30] #1925 closed

[2020-09-13 00:30] #1880 closed

[2020-09-13 09:46] #2244 closed

[2020-09-13 12:57] superman-lopez commented on #2268
@jo-arroyo thanks for putting in the effort to improve this.  Could I suggest to change back the default method to popup (`InteractionType.POPUP`) so that people that try the sample project don't immediately run into an issue?

[2020-09-13 13:54] ssunkara79 commented on #2237
from acquireTokenPopup

[2020-09-13 22:52] whittssg opened #2282 "Silent token refresh event"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-angularjs@1.1.1`
MSAL 1.3.4 (downgraded from 1.4 due to too many issues)

## Description

Is there an event in the angular version that i can subscribe to when the silent token refresh starts?

From the documentation i can see these:

[code]

But they all seem

[2020-09-14 00:14] antonfil opened #2283 "Does acquireTokenSilent require prior loginPopup/loginRedirect to get account in @azure/msal-browser@2.1.0"
## Library
- [x] `@azure/msal-browser@2.1.0`

## Description
acquireTokenSilent method takes SilentRequest parameter with mandatory field 'account'. How can I get this account? Do I need to firstly loginPopup/loginRedirect to get account? What if I already logged in - how to check it and get account without loginPopup/loginRedirect?

[2020-09-14 01:40] jkewley commented on #2268
@jo-arroyo Is there some place where those of us who want to track the progress of the Angular 10 wrapper for MSAL can see known issues, workarounds, and limitations? Most of the documentation I've seen out there is Angular 6-9 and I spent some time trying to get [the current Angular 10 sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samp

[2020-09-14 02:27] superman-lopez commented on #2268
@jkewley The current sample works for me when using `InteractionType.POPUP` as the login configuration.  I have a repository where I integrate the sample project into a ASP.net project.  Even if you have a different server side framework, you can look at the README to check for the Angular related configuration: https://github.com/superman-lopez/AzureAd_AspNet_Angular

I recommend you read the  _R

[2020-09-14 02:48] georgejdli commented on #2263
Using a blank html page for the redirectUri seems to resolve the iframe timeout issue (at least for now).

I am still seeing an intermittent issue with the loginPop itself either failing to navigate to the interactive login page with microsoft or after interactive login failing to redirect to my application home page but I guess that's an unrelated issue.

[2020-09-14 02:48] #2263 closed

[2020-09-14 12:29] elliott90 opened #2284 "MsalGuard forces renew token on each page request"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ 1] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am using angular 9, using a dotnet web api protected using azure B2C.

I have a w

[2020-09-14 13:28] CerosDev commented on #1999
@tnorling Any ETA? Thanks

[2020-09-14 14:57] Lexcess commented on #2042
@jasonnutter thanks for the reply, the MSAL 2.0 code seems to still be working ok. We have noticed one or two glitches that could be state related (but have proven difficult to reproduce), so any more information on that or fixes related to that would be welcome.

In terms of MSAL-Angular 2 feedback; I would hope issues like SameSite won't crop up too often, but if you are going to keep MSAL-Angul

[2020-09-14 16:12] idri opened #2285 "SPA iframe support for loginRedirect flow"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When performing loginRedirect flow from an iframe that is used in an Angular SPA I get this error:
`Unhandled rejection BrowserAuthError: redirect_in_iframe: Code flow is not supported inside a

[2020-09-14 16:58] jasonnutter commented on #2042
That is fair feedback, and we are working to get better at communication about the roadmap, and decreasing the time it takes to update the wrapper libraries to support new versions of the core libraries.

[2020-09-14 17:06] jo-arroyo commented on #2268
@superman-lopez Your suggestion makes sense. We will change the default interaction type to Popup.

@jkewley Thanks for your feedback. The readme for the Angular 10 sample will be updated to reflect current known issues and limitations.

[2020-09-14 17:24] Luismvm opened #2286 "Retrieve Authorization Code using MSAL Browser"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Is it possible to just retrieve the authorization code using the MSAL browser library?

From what I was able to gather from multiple code samples, the library uses the authorization code flow,

[2020-09-14 17:36] jmckennon commented on #2286
We currently do not expose the authorization code in `msal-browser`. Auth codes returned to the browser are not redeemable server-side. In our `msal-node` library we do expose the authorization code, so you may want to see if that can fit your use case.

We have considerations to include the ability to use both `msal-browser` and `msal-node` in the same app together, and your use case sounds like

[2020-09-14 17:43] jmckennon commented on #2285
Redirect actions are blocked in iframes because the login UX can't be rendered in an iframe. We are working on improving support for iframed applications in `msal` 2.x.

Can you provide details about how you accomplished this in `msal@1.3.x`?

[2020-09-14 17:45] jmckennon commented on #2284
This should be fixed by #2206. Thanks for the information!

[2020-09-14 17:49] jmckennon commented on #2283
Yes, this is correct, you will need to call one of the login methods before using `acquireTokenSilent` successfully. This can be seen in [our msal-browser sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js), along with our recommended usage for the library as well. We also have an example of how t

[2020-09-14 17:53] jmckennon commented on #2282
No, there is not currently an event to support this. We are currently looking into improving the events for `msal-angular` and we'll definitely take this feedback into account.

Token acquisition performance is impacted by a number of factors. Does it always seem to take 4+ seconds, or is that duration intermittent?

[2020-09-14 17:55] jmckennon commented on #2280
Have you set your application to the "SPA" type in the portal? We have documentation on [registering applications in the portal](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#redirect-uri-msaljs-20-with-auth-code-flow).

In the future, please fill out the issue template with your configurations, versions, and usage. Can you add these to your post or

[2020-09-14 18:09] jmckennon commented on #1810
@sudipbanfse Can you open a new issue with you description here and any other msal configurations and versions? Thanks!

[2020-09-14 18:12] whittssg commented on #2282
OK thank you, I will look out for any updates in the future.

It seems to be around 4 seconds ish like you said on the first call, subsequent calls are instant. This is why I was looking for an event to show some kind of feedback once the process starts (if for instance it takes longer than 1 second)..

[2020-09-14 18:15] jmckennon commented on #2266
`clearCache` is designed for logout, and we don't recommend calling it directly.

[2020-09-14 18:48] tnorling commented on #1999
This started deployment late last week and is expected to be completed by the end of this week assuming everything goes smoothly.

[2020-09-14 19:39] MellVgaEcu commented on #2280
@jmckennon  Thank you for replying my message

I am developing an app using **asp net core 3.1 MVC** that works with **Azure B2C**. This app comunicates with an API which is also authenticated, when I try signing in my app, this directs to  b2c login and it works well, but I have an option where i can edit th profile with the same work flow that has b2c and each time I uptade a data , this redirec

[2020-09-14 21:21] jmckennon commented on #2220
Since you're using B2C, I would recommend also filing a ticket with the [B2C service team](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options).

Are you using a social/third party IDP or a local login? Sometimes social IDPs (i.e. Google) can automatically redirect without our given parameters, which is my guess to what is happening here. I would recommend taking a look at

[2020-09-15 00:29] #2010 closed

[2020-09-15 07:25] DarkLite1 commented on #2123
Sp np feedback on this anymore?

[2020-09-15 09:02] sameerrswt commented on #2108
Hi.. Any update on the same?

[2020-09-15 10:35] daniel-seitz commented on #2225
I now circumvent the bug in the comment above with this code. Unfortunately the bug in IE11 still occurs:

    const msalConfig = ... // see bug description

    const resultHandler = (result: AuthenticationResult) => {
        if (!result) {
            checkAndSetInitialState();  // PREVENT REFRESH WHEN LOGGED IN BUG
            return;
        }
        this.isAuth$.next(true);
    };

    this

[2020-09-15 14:22] Codeluck opened #2291 "openid-configuration is called in every acquireTokenSilent call (B2C)"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

@azure/msal-browser@2.1.0

## Framework
React

## Description

`/.well-known/openid-configuration` endpoint is called every time I call `acquireTokenSilent`

At first I call `loginRedirect` with scopes
[code]

[2020-09-15 15:00] mohsinmuzawar01 opened #2292 "MSAL: ClientAuthError: Token renewal operation failed due to timeout."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@1.1.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 8

## Description
![image](https://user-images.githubusercontent.com/71313954/93222232-59112780-f78c-11ea-90fb-c561b88fab8a.png)

## Error Message
ClientAuthError: Token renewal operation failed due to timeou

[2020-09-15 16:48] 01010100010100100100100101000111 opened #2293 "BrowserAuthError: monitor_window_timeout:"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am using the login redirect flow with Azure B2C (localStorage) and all seems to be working OK, however when I leave the session and come back a day or so later, when it tries to acquireTokenS

[2020-09-15 16:52] tnorling commented on #2123
@DarkLite1 Apologies for letting this slip, I'd like to clarify a couple things and then see if you can help us determine what's going on in your case.

Passwords are not stored anywhere in the browser nor are they ever known to msal. The 2 storage related items to be aware of are: the tokens stored in local/session storage which belong to the msal context and a cookie which represents your sessio

[2020-09-15 17:18] jmckennon commented on #2293
Sessions lifetimes only last for 24 hours, so if you call `acquireTokenSilent` after 24 hours (and it doesn't have a login function to fall back to) it will error out. This is represented by your `invalid_grant` error you're seeing. I would not expect to see the `"BrowserAuthError: monitor_window_timeout: Token acquisition in popup failed due to timeout."` error, so I'll look into this to see if t

[2020-09-15 17:22] jmckennon commented on #2292
@mohsinmuzawar01 Can you also post your `msal` code and usage? We will need to see a bit more to debug/assist further. Timeouts can occur for a number of reasons.

[2020-09-15 17:27] 01010100010100100100100101000111 commented on #2293
Thanks for the quick response. So when you say "it doesn't have a login function to fall back to", what does that mean?

I am trying to integrate this into a VueJs project and below is my token method so far (work in progress):

[code]

[2020-09-15 18:29] tnorling commented on #2291
@Codeluck What I'm not seeing here is where you're specifying your authority. Try providing your B2C authority on `msalConfig.auth.authority`

If you are passing an authority to your request object which is different from the value of `msalConfig.auth.authority` (defaults to login.microsoftonline.com/common) it will make a new call to the `openid-config` endpoint each time by design. I recognize t

[2020-09-15 20:11] jmckennon commented on #2282
Can you provide your msal config? I'd be interested in seeing what page you're using for your redirectUri, as the process can cause some reloads on that page.

Additionally, the first call to AAD to establish a session will inherently take a bit longer than subsequent ones, but 4 seconds is more than what we would expect.

[2020-09-15 20:13] jmckennon commented on #2280
For clarity: Are you using `msal js` and some version of `msal.NET` or just one of these libraries? This was unclear to me based on your code/screenshots.

[2020-09-15 20:16] jmckennon commented on #2262
The timeout is occurring because `x-frame-options` is set on the B2C page inside of the iframe. This may be due to multiple accounts being signed in or multi-factor authentication. You should invoke `acquireTokenPopup` or `acquireTokenRedirect` to alleviate this.

[2020-09-15 20:18] jmckennon commented on #2261
@bankszorsqt Have you been able to consistently reproduce this problem? If so, what are the steps? We haven't seen anything like this with our sample apps.

[2020-09-15 20:24] MellVgaEcu commented on #2280
@jmckennon  thank you for replying me again
I'm using this.
![image](https://user-images.githubusercontent.com/71160286/93260818-81d2f600-f767-11ea-8d25-f3c82714e653.png)

[2020-09-15 20:26] jmckennon commented on #2237
@ssunkara79 can you provide the full set of errors/logs that you're seeing? If you're receiving the error "Could not silently retrieve token from storage", it would be very unlikely that it came from `acquireTokenPopup`, as that function does not make a silent call. Can you also provide the browsers and their versions that you're seeing this functionality in?

[2020-09-15 20:29] Codeluck commented on #2291
@tnorling thank you for the answer. Yes, I use 2 authorities which are different custom B2C policies. I conditionally determine the policy right at the moment of sign in. Therefore I have to bypass `msalConfig.auth.authority` (it's not set as you see) and pass it as a request parameter when calling `loginRedirect` or `acquireTokenSilent`. Will it cause `openid-config` to be re-called on each reque

[2020-09-15 20:34] jmckennon commented on #2225
@daniel-seitz If you're using redirect flows, you should not call `ssoSilent` until `handleRedirectPromise` is completed. We have an example of this in [our sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d1b306f8acf438d62033b045520e30f81f5bcd55/samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent/auth.js#L29). This is probably causing the error you're see

[2020-09-15 20:37] tnorling commented on #2291
@Codeluck Yes. Is there a reason you can't do your conditional logic before initializing msal? Do you need to switch back and forth between the authorities in the same browser context?

[2020-09-15 20:46] #2147 closed

[2020-09-15 21:08] jennyf19 commented on #2280
@MellVgaEcu looks like this should go in the [Microsoft Identity Web repo](https://github.com/AzureAD/microsoft-identity-web/issues), i don't see a way to transfer the issue over there.
Also, did you try with the latest version of MS Identity Web (version 0.4.0-preview)? We've had a lot of b2c related fixes since 0.1.4-preview. Also, w/MS Identity Web, you don't need the AzureADB2C.UI anymore, as

[2020-09-16 01:14] jakehockey10 commented on #2134
I'm using @azure/msal-angular ^1.1.1 and msal ^1.4.0 and I'm still seeing this issue on Microsoft Edge and Mozilla Firefox.  During development, the hot-reload feature of the angular framework might be authenticating quite frequently, which could be causing this.  But I'm not sure how to get rid of it without deliberately slowing down my development changes...

[2020-09-16 06:48] DarkLite1 commented on #2123
Thank you for taking the time to go through all of this and trying to clear up some stuff for a newbie like me. Sorry about phrasing it incorrectly with storing the password. That part wasn't clear, but the issue still stands.

The two logout steps are happening correctly. When we call the `logout()` method the `sessionStorage` is being cleared completely and the user is redirected to AAD to selec

[2020-09-16 06:59] DarkLite1 commented on #2123
@tnorling I've sent you the log files by mail Hope you see something that might clear up the confusion.

[2020-09-16 08:34] Tzvetelin88 commented on #2258
Hello and sorry for the late response. Regarding "acquireTokenPopup". I do not have anywhere "acquireTokenPopup". I have uploaded all my code above.

Here are the steps and issue with popup:

**1. Step one on application side click Login:**
![image](https://user-images.githubusercontent.com/9692941/93312608-1729c500-f810-11ea-85e2-72cbab43263f.png)

**2. Step two redirecting to MS page:**
![image]

[2020-09-16 09:26] daniel-seitz commented on #2225
Thank you for the answers @jmckennon,

ssoSilent throws this error (monitor_window_timeout) even if I call it after handleRedirectPromise is finished.
I also found this out and adapted the code. Please see the code of the more _recent comment_ instead.

I tried already to switch off protected mode of my IE11.
I also tried with acquireTokenSilent as outlined in the example that you provided.

[2020-09-16 09:52] Vizzr opened #2294 "Firefox private browsing Invalid state Expected null"
_Originally posted by @jasonnutter in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1035#issuecomment-621997612_

The issue still occurs in Firefox Private browsing when the app is deployed (localhost works).

Packages:
msal: 1.4.0
@azure/msal-angular: 1.1.1

Configuration:
[code]

[2020-09-16 10:37] devalshilu commented on #2162
did anyone get any solution for the same? what if the user wants to log in with a different account, not with the current login user? did the user need to wait till the session got expire in IDP?

[2020-09-16 13:08] vcs38 opened #2295 "Token renewal operation failed due to timeout"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 8

## Description
Cannot get access token when app is hosted on azure and everything works in my company

[2020-09-16 14:18] veera-raghavagupta commented on #2162
We are still waiting for the fix as we are still facing the issue. Team, please help me with turn around solution.

[2020-09-16 14:59] rhnsharma999 commented on #2163
Hi @technical-boy,
We have indeed started seeing issues with the multiple iFrame spawn. This issue is consistently reproducible.

I am adding the details below

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

`@azure/msal-browser@2.0.1`

## Framework
N/A

[2020-09-16 15:10] ImantsSkultans commented on #2134
Its happened again in Chrome (Version 84.0.4147.89 (Official Build) (64-bit)), incognito mode in localhost (development)
![msal_list_cookies_edit](https://user-images.githubusercontent.com/10184995/93356130-7d7e0a00-f847-11ea-9ece-049004d68fc7.jpg)

[2020-09-16 15:11] carlosrc commented on #2162
I am in the same situation. Any help will be appreciated. Thanks.

[2020-09-16 15:44] whittssg commented on #2282
Sure:

[code]

Thanks,

[2020-09-16 15:55] bankszorsqt commented on #2261
@jmckennon Well, it happens over time, local storage gets bigger each time the user gets logged in. (around 50 rows are added each time). Also, might be worth mentioning, we are sending a bearer token with each API request.

[2020-09-16 16:13] mohsinmuzawar01 commented on #2292
AuthService.ts

import { Observable, of } from 'rxjs';
import { Injectable } from '@angular/core';
import { MsalService } from '@azure/msal-angular';
import { Account, AuthenticationParameters, AuthResponse, Logger, LogLevel } from 'msal';

@Injectable({
  providedIn: 'root'
})
export class AuthService {
  authParams: AuthenticationParameters = {
    scopes: ['user.read', 'files.readwrite', 'email

[2020-09-16 16:17] jmckennon commented on #2277
@LastTribunal You are exactly correct, ADFS will not return certain fields like custom attributes because the token size will grow and it is difficult to predict if it will fit in query string--so ADFS prohibits it.

We're looking into whether or not this will be supported in `msal` version 2 which uses the authorization code flow.

[2020-09-16 16:20] jmckennon commented on #2295
This is potentially the cause of your timeouts. Can you share more details about the errors messages you're seeing?

[2020-09-16 16:22] jmckennon commented on #2294
This may be caused by localStorage being cleared by Firefox while in private mode, can you try setting `storeAuthStateInCookie: true` in Firefox to see if that fixes your issue?

[2020-09-16 16:24] jakehockey10 commented on #2134
This is happening for me on all the browsers I have installed on this computer (the big 3) and each of them just put me in an endless login/logout loop until I get the "too large" error.  Each time it happens, I see this error in the console: Refused to display 'https://teamincb2c.b2clogin.com/<my-companies-b2c>.onmicrosoft.com/oauth2/authresp' in a frame because it set 'X-Frame-Options' to 'deny'

[2020-09-16 16:28] jmckennon commented on #2282
Have you done any debugging or network tracing in your app to determine where the bottleneck for those 4 seconds is? You can email me a fiddler trace at the email on my profile and we can check to see if it's AAD that's taking a long time in your case.

[2020-09-16 16:31] jmckennon commented on #2261
Since I'm unable to reproduce this, have you done any debugging or network tracing to determine why there may be so many entries or why they aren't getting deleted? You can send a fiddler trace to the email on my profile if you see anything suspicious.

[2020-09-16 16:36] tnorling commented on #2162
@veera-raghavagupta @carlosrc As explained above this is expected behavior for Social IDPs. There's a great answer on [Stack Overflow](https://stackoverflow.com/questions/12909332/how-to-logout-of-an-application-where-i-used-oauth2-to-login-with-google) explaining why it works this way.

I've also added an entry to our FAQ [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/b

[2020-09-16 16:39] jmckennon commented on #2257
You need to expose an API and create a custom scope in the portal to get an access token for that audience. There are instructions for this on the [Microsofts docs page](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis).

[2020-09-16 16:41] jmckennon commented on #2161
The linked PR (#2115) should fix this issue, it's in the review process at the moment.

[2020-09-16 16:45] veera-raghavagupta commented on #2162
@tnorling We are not using Social IDPs for logging in

[2020-09-16 16:49] jmckennon commented on #2134
@jakehockey10 @ppisarski These sounds like separate problems at this point, can you open a new issue with your configs, versions, and code so we can track separately?

Additionally, has anyone been able to consistently reproduce this, or is it intermittent? I have not been able to repro the "Request Entity too large" or the lots of entries in local storage. I would take a look at network traces to

[2020-09-16 16:51] jmckennon commented on #2195
@jviney this is being tracked internally and worked on by another AAD team. I will leave this open as a work-in-progress for updates.

[2020-09-16 16:57] jmckennon commented on #2225
@daniel-seitz Can you take try taking a look at network traces/debugging to see where the bottleneck is? I've still been unable to repro this, unfortunately. You can send a fiddler trace to the email on my profile, as well.

Did you also try to circumvent this by extending the iframe timeout after all these changes? Might be worth trying again.

[2020-09-16 17:23] tnorling commented on #2162
@veera-raghavagupta Can you send me a network trace including the login, logout and the 2nd login? Email is on my profile. Thanks!

[2020-09-16 17:26] LastTribunal commented on #2277
ADFS DOES return custom attributes, but only with "form_post", as I described.
ADFS needs to allow it.  the fact that the seize may grow, should not be a deemed as prohibitor of the feature.  If anything, an upper limit should be set to prevent over-sized responses

[2020-09-16 17:30] LastTribunal opened #2298 "msal js does not retrieve cached id tokens (as adal js does)"
## Library
- [ ]`@azure/msal@1.4`

I don't see a justification for not supporting id token caching as was done in adal js.
As a result, implementors have to rig their own algorithms to check when the id teken expires, so they can implement "get token from cache when not expired"

[2020-09-16 17:37] #2298 closed

[2020-09-16 17:46] LastTribunal opened #2299 "msal js does not retrieve access tokens from cache when calling acquireTokenSilent"
[ ]@azure/msal@1.4
I can see the access token in sessionStorage
 _{"authority":"https://login.microsoftonline.com.... :{"accessToken":"eyJ......_
but no matter what scope is used, a**cquireTokenSilent()** never gets the token from cache.
As a result, developers have to implement their own token refresh mechanisms

Moreover, if a acquireTokenSilent is called consecutively within short intervals, wh

[2020-09-16 19:06] antonfil commented on #2283
@jmckennon thanks for the answer.

If PublicClientApplication.getAllAccounts() returns some account/accounts then does it guarantee that user is logged in? If I want to check authentication on startup do I need to force loginRedirect/loginPopup or I can firstly check that getAllAccounts() already has something? What is the best practice?

`let config = {...}
const authProvider = new AuthProvider(c

[2020-09-16 19:24] LarsKemmann opened #2301 "Angular MSAL.js 2.0 B2C sample needs to call a B2C-protected API instead of MS Graph API"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x

[2020-09-16 20:48] tnorling commented on #1979
Closing per #2267 all network calls should request default scopes

[2020-09-16 20:48] #1979 closed

[2020-09-16 20:51] sameerag commented on #1744
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2302 fixes this!

[2020-09-16 20:51] #1744 closed

[2020-09-16 20:51] #1390 closed

[2020-09-16 21:07] LarsKemmann commented on #2301
I should add that this _does_ work when using `InteractionType.POPUP`, but we need to get this working with `InteractionType.REDIRECT` so we can support Safari without telling users they need to manually allow popups. I'm going to try to get a reproducible sample live that I can share here, still seeing if there is something else on my end that I need to fix. I did end up running `npm update` and

[2020-09-16 21:48] LarsKemmann commented on #2301
Hmm, looks like I may just have had something mixed up on my end between version/configuration updates and browser cache issues. This is working now, after updating the sample's version of `@azure/msal-browser` to `2.1.0` and following the [B2C configuration guidance](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md)! Although I

[2020-09-16 21:48] #2301 closed

[2020-09-16 22:11] tnorling commented on #2123
@DarkLite1 Based on the screenshots you shared above it seems logout is behaving as expected. The fact that you are prompted to select an account proves that the server session **for this app** was closed. You can verify this by clearing localstorage manually then refreshing the page and logging in. You'll notice the behavior is slightly different in that the server puts you right through instead

[2020-09-16 23:25] jasonnutter commented on #2163
This will be addressed in #2290

[2020-09-16 23:54] antonfil opened #2305 "'PublicClientApplication.acquireTokenSilent' throws 'state_mismatch' exception when refresh token is expired in @azure/msal-browser@2.1.0"
## Library
- [x] `@azure/msal-browser@2.1.0`

## Description
'PublicClientApplication.acquireTokenSilent' throws 'state_mismatch' exception when refresh token is expired.
How to handle this exception?

![image](https://user-images.githubusercontent.com/5970483/93403744-15541600-f891-11ea-92a9-fcc654441e09.png)

[2020-09-17 06:40] Nasicus opened #2307 "Login timeouts / login not possible anymore for Australian AAD's (tenants)"
- [x] `msal@1.4.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

MSAL

## Description

We noticed already quite a time ago that our Australian customers have a very slow performance when performing a log in or when refreshing tokens.

Starting a few days ago they couldn't even login at all an

[2020-09-17 06:41] DarkLite1 commented on #2123
Thank you for getting back to me @tnorling . I've checked our Azure AD and it seems like Seamless SSO is Disabled in our case:
![image](https://user-images.githubusercontent.com/10828570/93428830-6e876e00-f8c0-11ea-9af4-0daacf6a8e74.png)

I've sent you the correct log files with the redirect method this time. What I would expect is:

- A users logs in, does his thing, signs out and another user ca

[2020-09-17 07:09] fengzhihenxs opened #2308 "How does Angular use MSAL to add an authorization code stream with PKCE?"
hi，Does the latest version of Microsoft Authentication Library for Angular (msal-angular: 1.1.1) support pkce?

If Angular is not supported to implement pkce, how to implement it?

[2020-09-17 07:26] felixvanleeuwen opened #2309 "Build error after upgrading to Angular 10 and opting out of Ivy"
## Library
- `msal@1.4.0`
- `@azure/msal-angular@1.1.1`
- `@angular/core@10.1.1`

Disabled Ivy: `"angularCompilerOptions": { "enableIvy": false }`
## Framework
Angular 10

## Description
After upgrading to angular 10 MSAL gives us a build error.
We were using older versions of MSAL before the upgrade and figured updating to the latest versions would fix something.
This was not the case though and

[2020-09-17 08:05] mohsinmuzawar01 commented on #2292
@jmckennon I started printing logs using the logger i started getting the below error just before it throws the token timeout exception.

**Error monitorIframeForHash unable to find hash in url, timing out**

[2020-09-17 08:46] Codeluck commented on #2291
@tnorling I've finally implemented a conditional initialization of my msalObject so that the "main" current authority is always set as `msalConfig.auth.authority`. Now it works like a charm! I don't see any extra requests to my B2C's policy `well-known/openid-configuration` endpoint anymore. Thank you very much for your suggestion! It would be great if you can describe such a behavior in the docum

[2020-09-17 09:57] Vizzr commented on #2309
I don't know why it doesn't work for you, but I can tell you that it works for me.
Running the same package versions as you specified.

[2020-09-17 10:01] Vizzr commented on #2294
Thanks for your reply.
This indeed fixed the issue in Firefox.

I copied the isIE part from the Angular 9 Sample App. It might be useful to mention such an error somewhere.

[2020-09-17 10:01] #2294 closed

[2020-09-17 13:58] jzelos commented on #2299
We just upgraded from 1.3.4 and have exactly the same scenario.

[2020-09-17 14:10] jzelos commented on #2299
Just checking and I this has been recorded under https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2238 as well. Its certainly the same for us.

[2020-09-17 15:31] daniel-seitz commented on #2225
@jmckennon I debugged it and found the the cause.

In SilentHandler lines 157 and 158 you set:

    if (window.frames && window.frames[iframeId]) {
        authFrame = window.frames[iframeId];
    }

This overwrites what _"authFrame = document.getElementsByTagName("body")[0].appendChild(ifr);"_ set a few lines above. Which seems to work fine - usually.

The IE11 here however doesn't retrieve the w

[2020-09-17 15:34] jasonnutter commented on #2225
@daniel-seitz Thanks for that information. This should be resolved in #2290, as those lines will be removed: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2290/files#diff-cf2c9a08cdff88ae830746eba108729cL157-L159

[2020-09-17 16:11] tnorling commented on #2291
@Codeluck Thanks for the update, glad that worked out! I'll leave this open for now and mark it as an enhancement as I do think there's room for improvement here.

[2020-09-17 16:28] snebjorn opened #2310 "Updating causes a switch from v2 token to invalid v1 token"
## Library
- [x] `msal@1.4.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

## Description
Updating from
[code]
Causes a switch in the token sent to self (localhost).
Before it was a v2 token.
Now it's a v1 token, and on top of that the signature is invalid.

None of the changelogs indicated

[2020-09-17 17:07] mathieu2em commented on #2308
I have the same question. Thank you.

[2020-09-17 17:12] jasonnutter commented on #2308
MSAL Angular does not yet support PKCE. We will be updating it to support MSAL.js v2, and will post more details about this soon.

For now, you can use MSAL.js v2 directly. We have a sample that demonstrates how to do this: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular10-browser-sample

[2020-09-17 17:12] #2308 closed

[2020-09-17 17:36] jasonjoh opened #2311 "msal-node@1.0.0-alpha.5 has dependency on uuid, not listed in package.json"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- [x] `@azure/msal-node@1.0.0-alpha.5`

## Framework
Node.js/Express

## Description
msal-node depends on uuid, but uuid is not in package.json as a dependency, so it isn't installed. Running `npm install uuid

[2020-09-17 18:34] rnkpareek opened #2312 "State error b2c"
Hello,
I request you people to create a clear documentation and the samples code itself have issues.
I have faced a lot of issues while doing refresh tokens and iam facing state routes Error now..

[2020-09-17 20:12] #2163 closed

[2020-09-17 20:12] #2175 closed

[2020-09-17 20:12] #2225 closed

[2020-09-17 20:56] jmckennon commented on #2305
This is intended. When your refresh token is expired and there is not an established session in AAD, you get an error, both from the server (invalid_grant) and in our client library. You should have a fallback to a login function on your acquireTokenSilent calls for cases like this one. This is shown in our [samples for msal-browser](https://github.com/AzureAD/microsoft-authentication-library-for-

[2020-09-17 21:03] jmckennon commented on #2307
Can you take a look at the network traces (both when on success and error/timeout) to try to see where the bottleneck is? You can send a fiddler trace to the email on my profile as well.

You can also set your `redirectUri` to a blank html page to prevent any reloading shenanigans. This speeds up the process for many users.

We've also had some reports of AAD slowing down, so I will make sure that

[2020-09-17 21:13] jmckennon commented on #2299
@jzelos That is correct, #2206 plans to address this issue. Users can downgrade to `msal@1.3.2` to mitigate the bug until the fix is in. Closing this as it's effectively a duplicate of #2238, if you see further issues please open a new ticket so we can track accordingly. Thanks!

[2020-09-17 21:13] #2299 closed

[2020-09-17 21:29] jmckennon commented on #2293
What you have here is actually exactly what my comment suggests--you have a `.catch` after the `acquireTokenSilent` that contains some logic to handle an error, which calls `loginRedirect`.

Can you try setting `loadFrameTimeout` to a higher number, maybe 30 seconds? And report back if you see any changes.

Are you only ever seeing the timeout when you need to establish a session again? Can you ta

[2020-09-17 21:39] jmckennon commented on #2305
Additionally, #2290 addresses an issue with multiple concurrent requests. If you are making multiple `acquireTokenSilent` calls, that PR may fix the issue as well.

[2020-09-17 21:39] thoo1 opened #2313 "invalid_grant is being handled by calling ssoSilent which relies on ITP"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When a refresh token is expired and we try to acquireTokenSilent, it will throw a invalid_grant error which is currently being handled by calling ssoSilent https://github.com/AzureAD/microsoft-

[2020-09-17 21:50] jmckennon commented on #2313
This is by design. We attempt to get a new RT/auth code in an iframe, and if that fails the error will be thrown to the app where you should be invoking an interactive call. So yes, this is expected to fail in Safari with ITP--nonetheless, even in other browsers, you should have that fallback logic in place.

[2020-09-17 21:56] thoo1 commented on #2313
@jmckennon thanks for the quick response

Nice that makes sense! I'm wondering what error it will throw? We already handle `InteractionRequiredAuthError` and call `acquireTokenRedirect`.

[2020-09-17 22:51] thoo1 commented on #2219
I'd also like more information if possible for this monitor_window_timeout error, in the code it looks like it can either resolve with the token or reject with this error, but it'd like to know why it didn't resolve on this line https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2c75dcfdc3af95ce942433d950ceb95de085c3da/lib/msal-browser/src/interaction_handler/SilentHandler.ts#

[2020-09-17 23:04] jmckennon commented on #2312
Hi @rnkpareek, we've been actively working on documentation and samples, and we definitely agree with your feedback that documentation could be improved.

If you can fill out the issue template and provide your `msal` versions, config, and usage, we can help with debugging or fixing any problems you may be seeing.

[2020-09-17 23:47] thoo1 opened #2314 "loadFrameTimeout not doing what it is documented to in msal-browser?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
Noticed this while I was reading what `loadFrameTimeout` does, in the documentation:
https:

[2020-09-17 23:57] thoo1 commented on #2313
@jmckennon and a follow up, does this mean to make an interactive call (acquireTokenRedirect) if the iframe times out as well? Because you mentioned "nonetheless, even in other browsers, you should have that fallback logic in place."

[2020-09-18 01:23] LastTribunal commented on #2238
Downgrading from 1.4 is not an option for me since I use this library to access both AAD and ADFS..  But I wired up my own token refresh, and it works well so far
(built off of @scambier in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/759)

async function getTokenInternal() {
    var token
    if (client.getAccount()) {
        var cachedToken = await getCachedToken(30

[2020-09-18 05:50] Nasicus commented on #2307
Thanks for the response.

I don't want to bother another customer atm, but I already asked our infrastructure guys to give me an australian VM. As soon as I have it, I will create an australian demo tenant and can try to reproduce it.

I already strongly suspected that it's not MSAL-libraries fault, my hope was (is) that someone would give me a miracle setting like "you obviously have to set `enab

[2020-09-18 06:43] vaughanh1 commented on #1999
@tnorling Please may we have an update on this one? Will be fantastic to round off a long week with this and 2.2.0 working with the B2C. Thanks.

[2020-09-18 06:51] vaughanh1 commented on #1999
For anyone interested, a reliable source from Microsoft has informed me that there will be some big announcements next week (including security/identity) at the Microsoft Ignite event. Might be worth a look. https://myignite.microsoft.com/home

[2020-09-18 07:26] Tzvetelin88 commented on #2258
Reading more it seems "acquireTokenSilent" do not support MFA? So only way is to use MFA on Application Side in POPUP?

[2020-09-18 09:37] 01010100010100100100100101000111 commented on #2293
Yes, it's otherwise working fine.

Let me try your suggestions on loadFrameTimeout and redirect url to see if that is any different, if not I will have a go at providing some traces (may be a few days until I can that though).

[2020-09-18 09:43] daniel-seitz commented on #2225
@jmckennon @jasonnutter thank you!

I tested and it works now. (Even without changing the IE security settings.)

One last question since I have found different examples but no documentation about it:

- Since the recent version works for IE11, is **calling aquireTokenSilent after ssoSilent** necessary anyway, or.. when should I do this? ssoSilent already returns Promise<AuthenticationResult>, doe

[2020-09-18 10:28] dfibuch opened #2315 "AccessToken empty after upgrading to 2.2.0 for ADB2C"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
After updating to v2.2.0 from v2.1.0 and trying to login using my ADB2C account, the `accessToke

[2020-09-18 10:34] 01010100010100100100100101000111 commented on #2293
I tried this again without any changes and on both localhost and on the web I am now getting invalid_redirect_uri - this was due to it trying to go to "https://localhost:44316/Account" (the page I was logging in from) but on each the app.loginRedirect's I set the redirectUrl to window.location.origin (so yes I incur an extra re-direct, that's fine) but it shouldn't have been trying to re-direct me

[2020-09-18 11:03] felixvanleeuwen commented on #2309
@Vizzr are you sure you are using the `@angular/core` version that I listed?
Can you check the package.json file to see if you're not just installing a version from your cache or something?

https://angular.io/guide/deprecations#modulewithproviders-type-without-a-generic
Angular documentation is pretty clear on having to use a generic type when extending `ModuleWithProviders`.

[2020-09-18 11:05] felixvanleeuwen commented on #2309
Even the source [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.module.ts#L21) shows no use of a generic type.

[2020-09-18 11:17] Takas0522 opened #2316 "Build Error occurs when tsconfig 'strict: true'"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

None

## Description

I tried to use '@azure/msal-browser' in TypeScript.

At that time, if strict of TypeScrip

[2020-09-18 11:22] Takas0522 commented on #2316
Sorry.
Did this behavior work before?
❌Version: 2.1.0
⭕Version: 2.0.0

[2020-09-18 11:58] Vizzr commented on #2309
"dependencies": {
    "@angular-mdc/web": "^6.0.0-canary.9",
    "@angular/animations": "^10.1.1",
    "@angular/cdk": "^10.2.0",
    "@angular/common": "^10.1.1",
    "@angular/compiler": "^10.1.1",
    "@angular/core": "^10.1.1",
    "@angular/forms": "^10.1.1",
    "@angular/material": "^10.2.0",
    "@angular/material-moment-adapter": "^10.2.0",
    "@angular/platform-browser": "^10.1.1",

[2020-09-18 13:15] ssunkara79 commented on #2237
I am checking on Google chrome,Version 85.0.4183.102

First it opens the popup,after I enter the credentials closes the popup and getting this error
Could not silently retrieve token from storage. AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.
Correlation ID: 934f2d15-3f1c-4412-aff3-e72580ae8359
Timestamp: 2020-09-18 12:56:56Z
|interaction_r

[2020-09-18 13:31] felixvanleeuwen commented on #2309
Tried the sample, it works.
Then tried the sample again without Ivy:
`"angularCompilerOptions": {
    "enableIvy": false
  }`
This breaks the compile of the source code of the sample itself.
When inspecting the `msal.module.d.ts` the error I reported is also here.

I will update the bug description to better reflect what is going on.

[2020-09-18 14:13] DASPRiD opened #2317 "CORS issue when exchanging authorization code for token"
## Library
- [X] `@azure/msal-browser@2.2.0`

## Framework

React / SPA

## Description

When the login redirects back to the SPA, MSAL tries to exchange the authorization code for a token. The OPTIONS response of the `token` endpoint does in fact include the required CORS headers, but the following POST response does not. This leads to the following error message:

## Error Message

Cross-Origin

[2020-09-18 16:18] tnorling commented on #1999
@vaughanh1 Unfortunately a bug was found during testing and the rollout had to be restarted, tentatively expected next week. Knowing these things happen I'm reluctant to provide another ETA until it's out and available. There will be a public announcement when B2C + msal.js v2 is considered "released" and supported, so please keep your eyes out for that.

[2020-09-18 16:24] jmckennon commented on #2314
The value here does not delay the load of the frame, it is the maximum amount of time to wait for a frame to load. It is a timeout based on the iframe loading.

[2020-09-18 16:30] jmckennon commented on #2316
I was able to reproduce this with our sample, thanks for the heads up. Mitigation for now is to use `"strict": false`. Thanks!

[2020-09-18 16:47] tnorling commented on #2123
Resolved offline. ADFS server was retaining session on domain joined machines and silently logging the user back in. Closing as there is no further action on msal

[2020-09-18 16:47] #2123 closed

[2020-09-18 16:57] tnorling commented on #2315
@dfibuch You're not getting an access_token because no access_token was requested, if you need an access_token you should request a scope for a resource you're trying to access (`openid` and `profile` will usually only return an idToken).

As for the `interaction_in_progress` error and login loop, please make sure `handleRedirectPromise` has resolved before calling `loginRedirect` or one of the `g

[2020-09-18 17:14] thoo1 commented on #2314
@jmckennon doesn't `setTimeout` only run the function once the timer expires? so in this case, it waits `this.loadFrameTimeout` milliseconds before running the function, and the function starts the iframe loading. Maybe I'm misunderstanding something here..

[2020-09-18 17:37] dfibuch commented on #2315
Cheers for the detailed reply @tnorling ! Can you provide me some more details about how I go about requesting the `access_token`? I take it something around this has changed in this latest version because I didn't have to request it before.

As to the error, I can say for certain that my login code gets called again before the promise has resolved as I can see this happening in console. This is b

[2020-09-18 17:50] tnorling commented on #2315
@dfibuch You should get an access_token if you request a scope associated with a resource. `openid` and `profile` release information about the user which is usually contained in an id_token. Can you confirm that you were getting an access_token using these same scopes before and can you confirm which version that happened in? I would not expect a code change to change what the server responds wit

[2020-09-18 18:02] dfibuch commented on #2315
I was (and still am on our UAT system) performing the same request with the same scopes in msal-browser v2.1.0 and I get my access token, though it seems only on `acquireTokenSilent` (I get the token in both situations with Azure AD, but this is ADB2C)

![image](https://user-images.githubusercontent.com/4235431/93629914-fd8ba780-f9e0-11ea-88d6-208166a73358.png)

And this is my `silentRequest` (sam

[2020-09-18 18:36] et1975 opened #2319 "handleRedirectPromise and userRequestState - how to access the state upon the redirect back to my SPA?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
`handleRedirectCallback` had `AuthResponse`, but with it being obsolete, how do I get access to `userRequestState` upon the return to my SPA following the login?

[2020-09-18 18:45] tnorling commented on #2315
@dfibuch In this example you are passing a resource scope which I would expect to return an access_token. The example you provided in the original post only contained `openid`, `profile` and `offline_access` which I would expect to only return an id_token. Is the original post incorrect or do you have 2 separate requests?

[2020-09-18 18:50] dfibuch commented on #2315
Sorry, I can see the confusion. In the original post I was showing my `loginRedirect` return which I was expecting to give me the `access_token` but you correctly pointed out that this doesn't (at least not for ADB2C sign in), and I can confirm this is the same behaviour for 2.1.0.

In my 2nd example you can see that my `acquireTokenSilent` is returning an `access_token` (2.1.0) but this was not t

[2020-09-18 19:20] et1975 commented on #2319
nm, I see the `userRequestState` is available in the `handleRedirectPromise` promise.

[2020-09-18 19:20] #2319 closed

[2020-09-18 19:58] tnorling commented on #2315
@dfibuch I think some network logs would be useful here. Could you capture your network traffic when using both 2.1.0 and 2.2.0 and I can take a look to see what might be different? You can send it to the email on my profile.

[2020-09-18 22:58] tnorling commented on #2317
@DASPRiD Can you confirm that your redirectUri is registered in the Azure Portal as type "spa" and you do not have that same redirectUri also registered as type "Web"?

[2020-09-19 05:31] pdl5p commented on #2317
I've just seen this issue too. In my case my Azure AD App registration had the SPA redirect url set to http://localhost:3001, but also had a web redirect of http://localhost:3000.

Once I removed the redirect url for the web, it started working. Seems like having different port numbers for the different app types is not a valid configuration.

[2020-09-19 11:36] ferryferry opened #2320 "Popup authentication with other domain as redirect URI than application URI"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm using MSAL in an embedded Angular app. Due to embedding, I don't have a public endpoint which is reachable from the outside (for redirect URI).

So I have hosted the application somewhere e

[2020-09-19 11:53] DASPRiD commented on #2317
We figured it out yesterday: Even though the URLs were set up correctly only in the SPA section, there were entries for other clients in the web section (different URLs), and the implicit flags were checked for them. In summary, you cannot mix implicit and authorization code applications (which seems like a bug).

We've created a secondary app registration now, where we migrate everything in our d

[2020-09-19 13:24] ppisarski commented on #2134
My problem was related to react-aad-msal@2.3.5 implementation - it works but with msal@1.2.1.
If anyone is interested in the code, here it is https://github.com/ppisarski/reactapp-with-msal

[2020-09-20 11:09] 01010100010100100100100101000111 commented on #2293
Setting the redirectUrl on the app seems rather than setting in the loginRedirect options seems to have resolved this, it now re-directs me to log in again once the session has expired.

[2020-09-20 11:09] #2293 closed

[2020-09-20 17:45] veera-raghavagupta commented on #1592
Can you please help if you have fixed the issue as I am facing same issue. I am using msal 1.4 and @azure/msal-angular 1.1.0 and custom interceptor

[2020-09-21 05:20] Rahul-P commented on #2234
the issue still persists. Token received back from B2C is correct. Angular App just drops the ball and reports the error:
1.4.0-Error Error during login:
Login_In_Progress: Error during login call - login is already in progress.

[2020-09-21 06:04] bilalmalik777 opened #2321 "token refresh redirected to 'The reply URL specified in the request does not match"
We are using adal-angular for authentication from the azure ad. After some time it redirects to the page which is attached below

![MicrosoftTeams-image](https://user-images.githubusercontent.com/23011613/93736509-1c03c580-fbd0-11ea-85f1-d91ffd52aaf4.png)
We have no idea why is it happening either it is caused by token expiration or re-login. It is occurring over both local and production environm

[2020-09-21 08:28] fengzhihenxs opened #2322 "How do users log in that does not exist in the tenant's "default directory"?"
Hello, I want to know how to log in if the logged-in user is not in the tenant's "default directory"? For example, I want to log in with a Skype or Microsoft account, but they are not in the "default directory" of the application tenant. How to implement or set up the application?

For example, the official demo: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/m

[2020-09-21 11:35] DarkLite1 commented on #2316
Same TS error here after upgrading from `"@azure/msal-browser": "2.1.0"` to "@azure/msal-browser": "2.2.0":

![image](https://user-images.githubusercontent.com/10828570/93762138-4c1e8900-fc0f-11ea-9c15-7325077b6069.png)

Downgrading for now.

[2020-09-21 12:39] mehavel opened #2323 "Not able to declare msalservice as @optional in angular"
## Library
msal@1.3.2
@azure/msal-angular@1.0.0

## Framework
Angular 9

## Description
Angular has the feature to inject optional dependency. Not able to inject msal service as optional.

## Error Message
No provider for msal service (declared @optional for msalservice)

## Security
- No

## Regression
- No
#2316

#2316  Expected behavior
msalservice should be an optional dependency and should no

[2020-09-21 16:37] wasabii commented on #2315
I am having the same issue. However, I'm also having it with 2.1.0. `acquireTokenSilent` with `{ account: it, scopes: [ 'scopeurl'] ] }` is returning a response with an idToken, but no accessToken. This is happening after the callback from `loginRedirect`.

[2020-09-21 16:41] rhnsharma999 opened #2324 "Error handling and retry policies for silent calls."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Sorry if this has been asked earlier.

So i wanted to know what all errors fall into the case of a retry-able error (500s or any similar ones) or an error which can be retried after some time (

[2020-09-21 16:51] rajeshvinayagam opened #2325 "Forgot Password and Login Issue"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-09-21 16:59] rajeshvinayagam commented on #2325
##msal@1.3.3
Getting the below errors

1.  When i select forgot password link

 Redirect Error:  Login_In_Progress: Error during login call - login is already in progress.
{errorCode: 'login_progress_error', errorMessage: 'Login_In_Progress: Error during login call - login is already in progress.', name: 'ClientAuthError', stack: 'ClientAuthError: Login_In_Progress: Error dur…r (http://localhost:4

[2020-09-21 17:37] jmckennon commented on #2310
Have you looked at any network/fiddler traces of the behavior you're seeing? You can send them to the email on my profile for us to take a look. If you can provide two traces, one of the successful call and one with the erroneous one, we may be able to see what the problem is.

[2020-09-21 17:45] jmckennon commented on #2314
@thoo1 I think I misunderstood your original question, and upon taking a second look, you're correct that there's a disconnect here and is actually a bug. We're going to move this over to be fixed, thanks for the heads up!

[2020-09-21 17:50] jmckennon commented on #2292
@mohsinmuzawar01 Can you try setting `initialNavigation` to false when you're inside an iframe and let us know if that fixes the error? This has helped other users in the [past with timeout errors](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1260#issuecomment-586766234).

[2020-09-21 17:56] jmckennon commented on #2283
Yes, if `getAllAccounts` doesn't return an account object, then you can assume that you need to call a login function, and if it does return an account, you can use it to call `acquireTokenSilent`. The structure of your code seems like its on the right path with the account-checking logic.

Additionally, unless you call `logout` or the cache gets cleared, we won't remove an existing account out of

[2020-09-21 18:01] jmckennon commented on #2258
Yes, this is correct. If MFA is required, you must invoke one of the interactive methods to resolve.

[2020-09-21 18:03] jmckennon commented on #2325
@rajeshvinayagam Can you try to upgrade to `msal@1.4.0`? This may fix the issues you're seeing.

[2020-09-21 18:08] jmckennon commented on #2322
@fengzhihenxs Can you fill out the issue template with your config, versions, and usage? We will need more information to help with questions and debugging.

To clarify: is the problem that you can't login with any Microsoft account at all? You may need to just make your set your app to be multi-tenanted to enable this functionality.

[2020-09-21 18:11] jmckennon commented on #2321
You receive this error when the `redirectUri` used in your app on the request is not the same as one registered in AAD. Can you please confirm that these are always the same in your erroneous calls?

[2020-09-21 18:18] jmckennon commented on #2320
When your app is running on `localhost`, `msal` will not be able to parse the response from a popup running on a different domain. `msal` does not support using a different domain for the `redirectUri`.

Does the popup flow work if the app and the `redirectUri` are both on the `angular-host.z6.web.core.windows.net` domain?

[2020-09-21 18:28] tnorling commented on #2317
@DASPRiD Great to hear you solved it! We are aware of issues with different type redirectUris configured on the same app registration and we recommend you keep separate app registrations for each of your apps. We will follow up with the portal team to understand whether and how this will be addressed, for now I'm going to close this as there's no further action needed on the library.

[2020-09-21 18:28] #2317 closed

[2020-09-21 18:28] JonDReese commented on #2139
There is a new problem that this caused. When my token expires and an API request fails, it automatically tries to acquire a new token silently, but that attempt doesn't have state attached to it, so it fails. I'm guessing there is some way for me to override that process to include state as well? I will look into it soon.

[2020-09-21 18:51] jmckennon commented on #2324
We have some [documentation in the repo on this topic](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/Throttling.md).

The cases that cause a back-off are:
* 429 and 5xx statuses
* Response contains Retry-After header _without_ a 2xx status
* `InteractionRequiredError` on the response

The default is that a call will be locked out for 60 seconds, b

[2020-09-21 18:59] ferryferry commented on #2320
Yes, when logging in on application and redirect-url on the same domain, it's working as expected.
But in my case this is not possible when the app is embedded (since Microsoft Business Central cannot forward that request into my Angular app).

So, I'm using the MSAL library to authenticate against microsoft-api's (main use-case is to deploy a PowerApp inside my application to a user's tenant). An

[2020-09-21 22:36] jasonnutter commented on #2323
@mehavel Can you provide more detail on why the msal service should be marked as optional?

[2020-09-21 22:55] zqwitt opened #2327 "msal-node add HTTPClient overwrite: Access to XMLHttpRequest at 'https://login.microsoftonline.com/<tenant>/oauth2/v2.0/devicecode' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `@azure/msal-node@1.0.0-alpha.4`

## Description

I am trying to write a Figma plugin that can access Microsoft Graph API and thus need to authenticate using MSAL. Figma uses iFrames to allow web APIs like XMLHttpRequest. I am able to configure, instantiate, and begin the r

[2020-09-21 23:33] jmckennon commented on #2271
Closing this now as I've confirmed that B2C is handling this. Thanks!

[2020-09-21 23:33] #2271 closed

[2020-09-21 23:36] jmckennon commented on #2226
Closing this as we are assuming there are no further questions due to inactivity. Please open a new issue if you have further questions, thanks!

[2020-09-21 23:36] #2226 closed

[2020-09-22 00:30] #2194 closed

[2020-09-22 00:38] tnorling commented on #2315
@wasabii Can you do some debugging on your end and determine if `acquireTokenSilent` is returning from cache or making a network call?

If it's making a network call can you determine if:
A. The requested scopes are included on the request
B. The access token is in the response

If you don't know how to inspect the request/response feel free to capture the network trace and email it to me. Thanks!

[2020-09-22 00:46] franktr opened #2328 "storeAuthStateInCookie false is not being honor by msal api"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
Calling msal-browser ssoSilent /w storeAuthStateInCookie = false results in read of cookie inst

[2020-09-22 00:48] jasonnutter commented on #2328
@franktr Thanks! Confirmed that MSAL attempts to read from `document.cooke` before checking if `storeAuthStateInCookie` is set: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/1c1a65f9ccdf7f31b53e10f0a1fe5397afd4d788/lib/msal-browser/src/cache/BrowserStorage.ts#L180-L181

[2020-09-22 00:56] fengzhihenxs commented on #2322
@jmckennon
## Library
- [ ] `@azure/msal-browser@2.2.0`

## Description
I want to log in with a Skype or Azure account, but they are not in the tenant's "default directory". How to implement or set up the application?
In the official demo, the logged-in user may not be in the default directory of azureserver in the demo. For example, my azure account is not there, but I can log in and get the toke

[2020-09-22 01:03] wasabii commented on #2315
There is a form POST to `/oauth2/v2.0/token`. The form data contains `scope: https://aesapplabs.onmicrosoft.com/analyticssimulator-dev1-api/Api openid profile` for `grant_type` `refresh_token`.

The result only has `idToken` present in it.

The additional `openid` and `profile` scopes are probably the issue.

[2020-09-22 01:54] fengzhihenxs opened #2329 "How to use MSAL.js 2.x (msal-browser) to implement authentication code (with PKCE) flow?"
Hello, I am using angular9 and msaljs (V2.2.0), how to implement authentication code (with PKCE) flow, how to configure options?

[2020-09-22 08:17] dfibuch commented on #2315
Sorry @tnorling , I haven't forgotten about this, just been prioritised on other things for time being but I will get back to it if you guys haven't figured it out already.

[2020-09-22 09:35] antonfil commented on #2305
@jmckennon
As I see this 'state_mismatch' exception is not instance of 'InteractionRequiredAuthError'. Is it supposed to be so?
Do we need to handle it like below?
[code]

[2020-09-22 10:29] BristolJim commented on #2240
Hi @jmckennon,

Yes, understood, and I have a mechanism for doing that now. Unfortunately, having been round the loop many times now, I'm back with the initial issue with `ssoSilent` failing, but only under some circumstances. I'll detail the steps to explain...

* Clear all cookies & storage in the browser (Chromium)
* Log on to Dynamics 365
* Visit my SPA
* `ssoSilent` works (given that I supply

[2020-09-22 10:38] mcdonnell-john opened #2330 "Upgrading to msal-angular@1.1.1 from 0.1.4 - Help handling redirect URL with an invitation flow."
# Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Up until recently we were using @azure/msal-angular@0.1.4, since we upgraded to 1.1.1 we've introduce an issue where by the invitation flow we had doesn't work any more.

The flow we have is:
![

[2020-09-22 10:46] mcdonnell-john commented on #2330
Additionally the msal logging when we do press confirm on the confirmation screen and are redirected back to the login screen, it doesn't show much to me but it might help in investigating:
[code]

[2020-09-22 11:00] DASPRiD commented on #2317
@tnorling The problem with that approach is that multiple app registrations cannot expose the same application API, which is a blocker.

[2020-09-22 12:48] daniel-seitz opened #2331 "Need to call aquireTokenSilent after ssoSilent necessary?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I have found different examples but no documentation about it:

Here https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d1b306f8acf438d62033b045520e30f81f5bcd55/samples/msa

[2020-09-22 12:53] daniel-seitz commented on #2329
@fengzhihenxs it is best practice to read the documentation https://github.com/AzureAD/microsoft-authentication-library-for-js and examples.

There you find a link for v2.x. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser

There you also find an Angular example.

[2020-09-22 15:57] mehavel commented on #2323
@jasonnutter we are planning to load a module, without authentication. the other modules will be disabled for the first time. During the next load all the modules will be enabled and will be behind msal. The is based on a feature flag. We tried injecting msalservice as optional for the first time and it did not work. hope this helps

[2020-09-22 16:04] jmckennon commented on #2329
@fengzhihenxs In the future, please fill out the full issue template with config, versions, and usage.

Currently our angular library does not support the auth code flow with PKCE (version 2 of our library), and can only be used with version 1 (implicit flow). There's a PR containing the sample for angular with version 2 of the library in #2306.

[2020-09-22 16:06] #2283 closed

[2020-09-22 16:14] jmckennon commented on #2320
Unfortunately `msal` does not support CORS redirect URIs as a security consideration. We will consider supporting scenarios like this one in the future.

[2020-09-22 16:17] jmckennon commented on #2313
Yes, it will throw `InteractionRequiredAuthError`.

It depends on what's causing the timeouts, but calling an interactive method can be a good fallback for timeouts.

[2020-09-22 16:26] jmckennon commented on #2234
@rangeranger @Rahul-P Can you try setting `redirectUri` to a page that does not require auth, like a blank html page?

[2020-09-22 16:29] jmckennon commented on #2219
@thoo1 Unfortunately, due to the same-origin policy in the browser, we don't have a way to know why an iframe times out (we cannot programmatically inspect the contents of the iframe if it's on a different origin, such as login.microsoftonline.com).

[2020-09-22 16:32] jmckennon commented on #2331
Technically, you can pass the same scopes to `ssoSilent` that you would pass so `acquireTokenSilent`, however we recommend that you invoke them separately, especially if you have an application where you need to request access tokens for multiple resources.

[2020-09-22 16:36] jmckennon commented on #2330
When the user is redirected from B2C to the app, is there information included in the URL about the user?

[2020-09-22 16:39] jmckennon commented on #2327
@zqwitt Can you confirm if you're trying to do this in the browser? The `msal-node` library is only intended to be used in node. If you're looking to acquire tokens in the browser, you will need to use `msal-browser`.

[2020-09-22 16:40] jasonnutter commented on #2323
@mehavel Makes sense, thanks for the explanation.

[2020-09-22 16:46] jmckennon commented on #2237
This looks like an issue/question for B2C, can you [file an issue with the B2C support team](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)? Feel free to link this issue to it.

[2020-09-22 17:02] tnorling commented on #2317
@DASPRiD I would suggest you open a [support ticket](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request#:~:text=%20To%20start%20a%20support%20request%20from%20anywhere,your%20problem.%20We%27ll%20suggest%20some%20possible...%20More%20) since this is a problem with the portal/service and not with the library.

[2020-09-22 17:09] tnorling commented on #2315
@wasabii @dfibuch I'm not able to repro this on my end. Can you double check that your app registration has the redirectUri configured as type "spa", implicit grant settings are disabled and that the scopes are exposed? Can you also share what policy you are using and the identity provider you are trying to login with? Unfortunately without being able to reproduce this and without any logs it's di

[2020-09-22 18:12] jakehockey10 commented on #2134
@jmckennon I've been struggling to find time to package everything up for you.  This is an issue for the devs and qa, but hasn't really bubbled up onto our board, but I'm campaigning for it to be.  In the meantime, I've been looking into it further.  I believe this has several causes in our case.  The devs and qa members are jumping from DEV, TEST, STAGING, and PRODUCTION quite a bit and we had si

[2020-09-22 18:26] wasabii commented on #2315
It is registered as a SPA.

Simply changing it to `acquireTokenPopup` works fine, by the way.

[2020-09-22 18:56] zqwitt commented on #2327
I am performing this in a Figma Plugin https://www.figma.com/plugin-docs/making-network-requests my best guess is it is running in electron using chromium. But I do not have access to writing to location href or redirecting the user to external uris. So I cannot use msal-browser since I cannot set a redirecturi.  I can however make fetch requests and XMLHttpRequests Thus I am trying to use a devic

[2020-09-22 19:39] tnorling commented on #2315
@wasabii That tells me it's related to refresh token redemption, are you passing the `offline_access` scope? But again it's working as expected with my sample app so it could be an issue with either the policy or the IDP you're using. I would suggest you open a ticket with the service so they can take a look on their end. If you can provide a reproduceable sample I can also bring it up internally.

[2020-09-23 00:30] #2164 closed

[2020-09-23 00:30] #2077 closed

[2020-09-23 03:16] rangeranger commented on #2234
@jmckennon : What to do if the app doesn't have a page that doesn't require auth?

[2020-09-23 06:17] AnkHansen commented on #2329
Hi @jmckennon

I am in the middle of implementing MSAL in our Angular application. I've used 1.0 with implicit flow and have that figured out. But last night on Ignite a saw a session about 2.0.

Just to be clear, would I be better of using msal.js 2.0 directly (maybe inspired by the sample you link above) or should I just go for msal-angular 1.0 for now - and once you release msal-angular 2.0 I s

[2020-09-23 06:38] AnkHansen opened #2333 "Is the msal.idtoken safe to use for authentication"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi

I am in the process of enabling our existing web site (Angular SPA with .Net Core API (and apps)) to make use of Azure AD through MSAL for authenticating our users.

Our solution already ha

[2020-09-23 07:16] mcdonnell-john commented on #2330
Hi @jmckennon

Yes, when the user is redirected from B2C to our app, they have an id_token:
[code]
If I decode that token, it has my users details.

I also added some logging to the handleRedirectCallback:
[code]

But neither were logged to the console, so maybe my assumption about needing to do something in this method is incorrect since its not called?  Or should it be?

[2020-09-23 07:21] Tzvetelin88 commented on #2258
Yep....
I found out that there is MSAL.js 2.x apps: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications  and now testing  "msal-browser-react".
It seems it's supporting MFA on MS page and working much better with React and one page applications. Also it's supporting handleRedirectPromise.

Not sure what is the core difference between "msal-brows

[2020-09-23 08:47] igorvvv commented on #2234
I have the same issue.
Tried msal 1.3.4 as well as setting redirectUri to a page without auth. Nothing helps.

[2020-09-23 10:19] karol-majewski commented on #2329
I'm also interested in this, although I'm using React and not Angular. The `README.md` says:

Is that still true? You can't use the library to implement the PKCE flow for B2C customers?

[2020-09-23 10:53] dfibuch commented on #2315
@tnorling My app-registration
![image](https://user-images.githubusercontent.com/4235431/94002488-ddb60400-fd91-11ea-814c-801d04a8f1c7.png)

API Permissions
![image](https://user-images.githubusercontent.com/4235431/94002571-f7efe200-fd91-11ea-8583-6ac25ac5a966.png)

Using `acquireTokenPopup` like @wasabii suggested, with the same `SilentRequest` as always and a single scope for my `execute` api I

[2020-09-23 11:25] Rahul-P commented on #2234
@jmckennon gave up for now mate. The combination that worked for me is: azure/msal-angular@1.1.0 and msal@1.3.3-beta.0

Had to do a fair bit of configuration, especially to subdue client auth error but for now the world seems at peace again.

watching the issue closely as soon as a formidable fix is in i will upgrade to the latest and the greatest.

cheers.

[2020-09-23 12:40] igorvvv commented on #2234
The problem, as I see it, is that when 'navigateToLoginRequestUrl' is set to true, msal stores in a cache only url path, say '/workflow', but when it processes hash, it compares path to full url.
There is no match, and another
window.location.assign(`${finalRedirectUrl}${hash}`);
is made.
This redirect hits MsalGuard in Angular and yes, two login requests collide.
Screenshots attached to illustrat

[2020-09-23 13:25] snebjorn commented on #2310
@jmckennon you've got mail :)

While I was gathering the data I observed some strange behavior! (in the new version)
It makes two requests to `/oauth2/v2.0/authorize?response_type=id_token` right after each other. This didn't happen before the update.
Another weird thing I observed was that sometimes it would attach the correct v2 token.

[2020-09-23 14:06] rangeranger commented on #2234
Nowadays most of the apps are SPA, it's so tough to explain to the business that **Microsoft MSAL library** **sucks** and we don't have other options to achieve SSO. So many issues with every version. Sometimes I get thoughts like to create a change.org petition to Satya Nadella to hire better and more developers in the MSAL team and fix all the open issues.

It won't work in Safari. Can't ask use

[2020-09-23 14:16] rangeranger commented on #2234
Here is my petition [link](http://chng.it/MF6DC7XBTQ). If anyone agrees with me then please sign it

[2020-09-23 14:17] Rahul-P commented on #2234
@rangeranger i absolutely do agree :)

[2020-09-23 15:50] m-mattu opened #2334 "Does MSAL.js 2.0 require third party cookies to be enabled?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.3.4`
- [ ] `@azure/msal-browser@2.2.2`

## Description
We are currently using msal@1.3.4 library in a production app and it requires third party cookies to be enabled to work on all the various devices. We plan to migrate to @azure/msal-browser, since PKCE is a much

[2020-09-23 16:21] tnorling commented on #2315
`acquireTokenSilent` will first attempt to find the token in the cache, so this is likely why you got the accessToken after calling `acquireTokenPopup` first. It sounds like the issue happens when exchanging the refreshToken for new tokens, which happens if there is no cached accessToken or if the cached accessToken is expired.

[2020-09-23 17:10] tnorling commented on #2315
@dfibuch It looks to me to be an issue with either the B2C policy you're using or the downstream IDP you're logging in with. I may be able to confirm with network logs and if you can confirm for me your scenario or provide a reproduction (preferably using one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.

[2020-09-23 17:12] dfibuch commented on #2315
@tnorling I'll try to get some time to look at this again tomorrow (seems unfortunate that due to our timezones I finish when you start 😂). Unless @wasabii is able to provide some of this info as well.

[2020-09-23 17:48] wasabii commented on #2315
I did find that I had those implicit settings enabled. Disabling them did fix it in 2.1. So, I'm trying to get 2.2 working to properly align with the original bug.

However now I'm struggling with a different issue where popup is actually presenting a login screen in a popup. When I figure that guy out, I'll let y'all know where it stands.

[2020-09-23 17:52] jmckennon commented on #2329
@AnkHansen I would recommend using angular 1.x for now. There may be a few breaking changes from 1.x to 2.x, but we will have a migration guide to make the change as simple as possible. You can expect to see a full `msal-angular@2.0.0` in the next few months, but no release date as of today.

@karol-majewski It's possible to use B2C in development, but we don't recommend moving into prod with thos

[2020-09-23 18:01] jmckennon commented on #2330
I believe what's happening here is that you click the email and are immediately redirected to B2C, so when B2C redirects to the app, `msal` doesn't actually have the correct context and cache contents, so it doesn't process the hash.

The solution is to email the user a link to the application which attaches the query parameters needed (`id_token_hint`) and have that initiate the request to B2C so

[2020-09-23 18:11] jmckennon commented on #2334
Taken from the [Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas):

`msal-browser@2.x` uses the auth-code flow with PKCE, so no, it does not require third-party cookies to be enabled.

[2020-09-23 18:19] #2259 closed

[2020-09-23 18:28] wasabii commented on #2315
Okay. Cleared that up. So, on 2.2, I'm getting an empty accessToken. Call to acquireTokenSilent happens pretty closely after the return to the site after login. But yeah, empty accessToken in 2.2.

[2020-09-23 19:56] #2316 closed

[2020-09-23 20:28] mcdonnell-john commented on #2330
Hi @jmckennon,

So we do this already.  When we generate the email link to the user, we generate a `id_token_hint` query parameter, which is made up of 3 claims, firstName lastName and email, which are referenced in our B2C Custom Policy.

Just gonna paste some key extracts from this policy file here:

[code]

So as I understand it, we should be doing everything you asked for.  This was working wh

[2020-09-23 20:32] jmckennon commented on #2333
I will first say that the usage you're trying to describe here is generally not fully supported by us, but it should theoretically work. It seems to me like you're on the right track and things are correct for your use case.

Would that be considered a correct approach? Or do I need to get an access token from MSAL? (I find that step not necessary.)

This is fine as long as you are using the id to

[2020-09-23 20:53] tnorling commented on #2330
@mcdonnell-john It's not clear from the policy what the flow is. It should be something like this:

User clicks link in email -> your app calls `loginRedirect` or `loginPopup` with the `id_token_hint` passed into `extraQueryParameters` ->B2C service -> your app calls `handleRedirectCallback` to process response.

It looks like in the flow diagram you shared originally, that 2nd step is missing, ca

[2020-09-23 21:16] mcdonnell-john commented on #2330
Hi @tnorling,

No, I think the image I have is what we do now, but what you have above is slightly different.

Basically the link we generate as part of the email is in the following format:

`https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/B2C_1A_signup_invitation-r2sys/oauth2/v2.0/authorize?client_id={clientId}&nonce={nonce}&redirect_uri=https://XXX/login&scope=openid&response_type=id_tok

[2020-09-23 21:37] tnorling commented on #2330
Correct. msal.js will not process responses for requests that it did not create.

Correct. Your call should look something like this:
[code]

[2020-09-23 21:41] mcdonnell-john commented on #2330
Cool thanks, I'll test it out tomorrow

[2020-09-24 02:47] tylerjwatson opened #2338 "loginRedirect on msal-browser from CDN causes a CORS error and no token provided."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
msal@2.1.0

## Framework

Simple HTML page.

## Description

Following instructions on https://github.com/AzureAD/microsoft-au

[2020-09-24 06:55] AnkHansen commented on #2333
Thanks for the quick reply.
I will continue on the path I am on.

It would be great to not have the step where our product generates the access token, because we could then just claim standard OAuth2 compliant.

But I can't figure out how to inject the extra information we need in our token (userid, roleid, and unitid) into the Azure token.

It comes down to a chicken or egg dilemma. I can't trust

[2020-09-24 09:49] ferryferry commented on #2320
Okay, I understand this security concern. I changed the way my application is embedded in the other application by embedding the application in an iframe. This way the origin remains the same.

This way the login works as expected. Thanks!

[2020-09-24 09:49] #2320 closed

[2020-09-24 11:25] puneeth-91 opened #2339 "How to write unit test case for msal using jsamin"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How to write unit test cases for msal for angular 8 projects,
i have implemented be

[2020-09-24 14:21] s2ramana commented on #2025
Is there any update on this? We are also running into this issue and we are using B2C.

[2020-09-24 14:25] s2ramana commented on #996
Will https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1802 resolve this issue if we can pass the id_token_hint as part of the logout method?

[2020-09-24 14:41] s2ramana opened #2340 "B2C support for MSAL.js 2.0 with Authorization Code Flow"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The Readme states that B2C support for MSAL.js 2.0 with Authorization Code Flow is n

[2020-09-24 17:15] jo-arroyo commented on #2025
@s2ramana The B2C service has been working on this, and has some updates for custom policies, although some issues appear to remain. For help with your custom policy, please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

[2020-09-24 17:15] #2025 closed

[2020-09-24 17:38] jmckennon commented on #2322
I may still not be 100% clear on the issue, but I think [this documentation about multi-tenanted apps](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant) will lead you in the right direction. To have any users (Skype/Azure/Microsoft) be allowed to login to your app, it must be multi-tenanted.

[2020-09-24 17:40] jmckennon commented on #2340
This is correct, we are still not ready to use B2C in production apps with `msal-browser@2.x.x`. We are actively working on this support and trying to get it out ASAP. Sorry for the delay!

[2020-09-24 18:13] thoo1 commented on #2313
@jmckennon for `monitor_timeout_error`s, they are`BrowserAuthError`s instead of `InteractionRequiredAuthError`s, just want to make sure if this is expected?

If so, I'll update our code to call interactive methods as a fallback for these `monitor_timeout_error`s as well (as right now we only do so for `InteractionRequiredAuthError`s

[2020-09-24 18:34] jasonnutter commented on #2338
@tylerjwatson Is the redirect URI of type "spa"? This is required for MSAL.js v2 to work cross-origin.

[2020-09-24 18:45] jasonnutter commented on #2234
@rangeranger By participating in this repository you agree to adhere to the Microsoft Open Source Code of Conduct: https://opensource.microsoft.com/codeofconduct/

Failure to adhere may result in permanent banishment from this repository.

[2020-09-24 18:54] jmckennon commented on #2339
We generally are going to leave testing up to the app developer to figure out what works best for their app, but the two ways that I would recommend writing tests are to do one of the following:

1. Mock any functions that make network calls (things like `acquireTokenSilent`) to return specific responses so you can control the path your app goes down, and let the rest of your app test around that.

[2020-09-24 19:09] jasonnutter commented on #2234
This specific issue should be fixed in the latest version of MSAL Angular, which will contruct an absolute url instead of a relative url. Please upgrade to `@azure/msal-angular@1.1.1` and let me know if this is still an issue.

[2020-09-24 19:21] jasonnutter commented on #2234
@rangeranger As long as you are not using redirects for interactions (which it doesn't look like you are), you can set the `auth.redirectUri` configuration value to the url for a blank html page. You can do this by creating an html file (e.g. `auth.html`) and putting it in the `assets` folder of your app, then registering the full url for that page in the Azure portal as a redirect URI and setting

[2020-09-24 20:51] jmckennon commented on #2333
The purpose for this, as I see it, is that if some of the customer organization want to lock down API access even more, then by creating this scope, and saying only admins can grant it - then the individual users can not accept on their own - but need higher level access.

Yes, this is the exact use case for a custom scope. AAD wants users to be able to get tokens for an arbitrary setup using scop

[2020-09-24 21:15] jmckennon commented on #2305
@antonfil yes, if you wanted to catch both of those errors and fallback to `acquireTokenRedirect`, that would work. Many errors can be solved by calling an interactive method, and some users will choose to do that in various scenarios.

[2020-09-24 21:18] jmckennon commented on #2269
Closing this due to inactivity as we are assuming the problem has been solved. If you have further questions, please open a new issue. Thanks!

[2020-09-24 21:18] #2269 closed

[2020-09-24 21:26] jasonnutter commented on #1892
@jrmcdona SSR with MSAL Browser will be fixed in #2073

[2020-09-24 21:28] jmckennon commented on #2258
Yes, there is a version 2 of our library named `msal-browser`. We recommend most users to upgrade to get more advanced support and features. We have a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#migrating-from-previous-msal-versions) for users looking to upgrade.

`msal-browser-react` is not a library/app that we own, that was writ

[2020-09-24 21:28] #2305 closed

[2020-09-24 21:29] jmckennon commented on #2241
Closing this due to inactivity as we are assuming the original problem has been solved. Please open a new issue if you have further questions. Thanks!

[2020-09-24 21:29] #2241 closed

[2020-09-24 21:51] jmckennon commented on #2134
@jakehockey10

You can try increasing the timeout by adjusting `loadFrameTimeout` to see if that helps and if these requests are truly timing out.

Unfortunately, there are many causes of timeouts, but the most common solution is to set your `redirectUri` to a blank html page. This prevents the app from reloading and instantiating new auth processes that can mess with the original one. Again, if y

[2020-09-24 22:00] jmckennon commented on #1824
@tom171296 I'm currently working on this fix, I will link the PR when it's up.

[2020-09-24 22:13] jmckennon commented on #2313
You are correct--I was mistaken, I just double checked and it it most definitely a `BrowserAuthError`. The actual error code is `monitor_window_timeout`, if we are talking about the same error. Can be seen [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/5783a8157633b4e6aa0dac330b4d4265bdbaa4f3/lib/msal-browser/src/error/BrowserAuthError.ts#L52).

[2020-09-24 22:17] jmckennon commented on #2277
@LastTribunal I've been trying to open a proper internal channel to communicate some of this feedback (and to find what work is needed on our end to enable this feature with the auth code flow) to ADFS, but in the meantime, feedback can be communicated externally [here](https://windowsserver.uservoice.com/forums/295047-general-feedback).

[2020-09-24 22:35] #1892 closed

[2020-09-24 22:35] #2052 closed

[2020-09-24 23:49] tylerjwatson commented on #2338
Thanks for the reply @jasonnutter, that was it.  I had no idea the `Spa` redirect URI type existed.

For future visitors:

MSAL 2.x PKCE flow requires a Redirect URI entry of type `Spa`.  `Web` Redirect URIs are not supported.  You need to edit your application entry's manifest and change the `Web` type to `Spa` to enable PKCE flow.

1) As of the time of writing, use the *Add a Platform* button on

[2020-09-24 23:49] #2338 closed

[2020-09-25 06:03] AnkHansen commented on #2333
Thanks again.

And yes - I think i'm stuck with the two authorizations.

I need the token I use for data-requests to include the additional claims. But who knows - I might find a better way before I'm done.

[2020-09-25 06:03] #2333 closed

[2020-09-25 07:15] daniel-seitz commented on #2331
@jmckennon thank you for the answer, however it's not clear to me, yet.

Perhaps I need to explain better, basically the code is as follows:

    this.authApp = new PublicClientApplication(msalConfig);

    this.authApp
            .handleRedirectPromise()
            .then((result: AuthenticationResult) => {
                if(!result) { // (right now I'm only interested in this path here)

[2020-09-25 08:31] Tzvetelin88 commented on #2258
Thanks so much. I have switched to MSAL 2.x and now everything works fine. You can close this ticket.

[2020-09-25 09:10] rajithakolan commented on #2177
I  cannot find any documentation for this. Any inputs pls?

[2020-09-25 16:12] jmckennon commented on #2327
@zqwitt Since the device-code flow does not support CORS, we don't believe this is a supported scenario. We do have a [POC for msal-electron](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/experimental/msal-electron-proof-of-concept) that may help.

[2020-09-25 16:16] zqwitt commented on #2327
@jmckennon Great I will take a look at that.

[2020-09-25 16:16] #2327 closed

[2020-09-25 16:23] jmckennon commented on #2240
@BristolJim Can you try disabling SSO and see if you still see the same errors? This page gives some information about SSO [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start).

[2020-09-25 16:26] #2139 closed

[2020-09-25 16:28] jmckennon commented on #2133
@BerndGewehr You will need to open a ticket on Azure for that question--I'm not sure if that's in the scope of this particular team.

[2020-09-25 16:44] jmckennon commented on #2331
Exactly, that is our recommended usage.

[2020-09-25 17:22] rugglcon commented on #2110
@hectormmg any updates on this? Will updating to msal 1.4.0 resolve this issue? We are not using msal-angular, just msal.

[2020-09-25 17:27] rugglcon commented on #2291
@tnorling We are setting our authority on app initialization (we also have two authorities), but are still seeing this behavior on `msal@1.3.1`. Do you have any other suggestions for what we could do?

[2020-09-25 17:28] s2ramana commented on #2340
Thanks for the update! Is there a time-line for this? This will help us to plan our migration from msal 1.x to 2.x.

[2020-09-25 17:46] rhnsharma999 commented on #2324
Thanks Jake for the info.

 So if I understand correctly (feel free to correct me otherwise)
- For 5xx or 429, we'll get `ServerError` thrown when making a silent call.
- This can be fixed (or rather retried) using an interactive call for the same request?
- Are there any specific error codes with respect to the `ServerError` object received in the error block for which an interactive call should

[2020-09-25 18:20] jmckennon commented on #2340
We don't have a timeline, but it is currently our #1 priority. We will make an announcement and change the docs when the feature is ready.

[2020-09-25 18:28] tnorling commented on #2291
@rugglcon Version 1.x behaves a little bit differently. Are you perhaps also passing the authority to your request object? If you are only setting it on app initialization and not as part of the request, it should only be called once. But every request that has an authority provided on it will make the openid-config call.

[2020-09-25 18:30] hectormmg commented on #2110
@rugglcon if you are seeing this behavior in msal@1.3.x, I'd expect to see it fixed when we release 1.4.1, based on the changes in #2206.

[2020-09-25 18:34] rugglcon commented on #2291
@tnorling No, we are not. But we updated to 1.4.0 to test if that has the same behavior, and it didn't send multiple requests to openid-configuration endpoint. Not sure why, we didn't change any code all we did was update the version. Oh well, thanks for the reply!

[2020-09-25 21:14] barrymarc commented on #2315
I'm also getting an empty accessToken after upgrading to version 2.2.  I tried switching the msal.interceptor.ts line 32 to 'return this.authService.acquireTokenPopup' and this returns an accessToken.  I'm currently using the Angular10-Browser-Sample code, but changed the config to use my B2C server and access my API.
I changed the B2C client application registration to match the setting listed in

[2020-09-25 21:38] tnorling commented on #2315
A couple useful things that might help us out:
1. What B2C policy are you using? One of the built in flows or a custom policy?
2. What Identity Provider are you using? Is it B2C local login or a Social Login (Google, Facebook, etc)?
3. Network logs can be emailed to the e-mail address listed on my profile
4. A reproduction of the issue - either code I can take a look at (preferably using one of ou

[2020-09-25 21:43] wasabii commented on #2315
+ Sign Up and Sign In.
+ Internal and Google both do it for me.

[2020-09-25 22:42] tnorling commented on #2315
Ok I was finally able to repro this behavior on my end:
1. Login request does not contain scopes, MSAL makes an auth Code request with defaults `openid`, `profile`, receive idToken and refreshToken in the response.
2. Call `acquireTokenSilent` with your resource scope, MSAL attempts to exchange refreshToken from step 1 for an accessToken with the requested scope + `openid` and `profile`. No access

[2020-09-25 22:43] wasabii commented on #2315
Ahh. I explicitly do not include my scopes there, as I need scopes from two different resources. And including both breaks it. Not supported or something.

[2020-09-25 22:49] tnorling commented on #2315
Yes, you do need to make 2 separate requests for 2 separate resources. Are you still getting this behavior if you include the 2nd resource set in `extraScopesToConsent`?

For example:

[code]

[2020-09-26 00:30] #2224 closed

[2020-09-26 14:12] barrymarc commented on #2315
@tnorling I sent you an email, but here are the answers to the troubleshooting tips you listed above.
1. Tried with our custom policy and default B2C_1A_signup_signin.
2. B2C local account.
3. Attached to the email.
4. Repo listed in the email.

[2020-09-26 15:41] #2133 closed

[2020-09-28 06:31] daniel-seitz commented on #2331
Perfect, thank you.

[2020-09-28 06:31] #2331 closed

[2020-09-28 09:30] sudhirmadaan opened #2346 "Keep me signed in prompt not appearing"
## Library
- [ ] `@azure/msal-browser@2.1.0`

## Framework
React/Typescript using this sample - https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/TypescriptTestApp2.0

## Description
Keep me signed in prompt doesn't appear during initial login. This is causing sign-in prompt (with error code 50058) being presented to users on subsequent visits

[2020-09-28 09:33] ForellenDompteur opened #2347 "Optional Redirect URI in documentation"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [X] README file
- [

[2020-09-28 10:43] #2339 closed

[2020-09-28 19:30] #895 closed

[2020-09-28 19:31] jasonnutter commented on #916
This is being addressed in MSAL.js v2, closing.

[2020-09-28 19:31] #916 closed

[2020-09-28 19:32] jasonnutter commented on #1639
Fixed in v2 via #2073

[2020-09-28 19:32] #1639 closed

[2020-09-28 19:39] jmckennon commented on #2340
Going to close this as I'm assuming the question is here is answered and we are tracking this internally--please open a new issue if you have further questions. Thanks!

[2020-09-28 19:39] #2340 closed

[2020-09-28 19:40] jasonnutter commented on #1427
This was implemented in MSAL.js v2, closing.

[2020-09-28 19:40] #1427 closed

[2020-09-28 19:47] jmckennon commented on #2324
5xx will be `ServerError`, 429 is just a generic backoff request that the library respects. There could be any errors associated with it as well.

Yes, if you make an interactive call it bypasses any throttles set--and a successful interactive call will alleviate that throttle.

The main one is `InteractionRequiredAuthError` (different from `ServerError`, to be clear). It's up the the app develope

[2020-09-28 19:49] jmckennon commented on #2312
Closing this as I'm assuming the original question has been answered, if you have further questions please open a new issue. Thanks!

[2020-09-28 19:49] #2312 closed

[2020-09-28 19:51] jmckennon commented on #2286
Closing this as we're assuming the original question has been answered, please open a new issue if you have further questions. Thanks!

[2020-09-28 19:51] #2286 closed

[2020-09-28 19:52] jmckennon commented on #2285
Closing this as we're assuming the original problem has been solved due to inactivity, please open a new issue if you have further questions. Thanks!

[2020-09-28 19:52] #2285 closed

[2020-09-28 19:53] jmckennon commented on #2266
Closing this as we're assuming the original question has been answered, please open a new issue if you have further questions. Thanks!

[2020-09-28 19:53] #2266 closed

[2020-09-28 19:53] jmckennon commented on #2262
Closing this as we're assuming the original problem has been solved due to inactivity, please open a new issue if you have further questions. Thanks!

[2020-09-28 19:53] #2262 closed

[2020-09-28 19:54] jmckennon commented on #2258
Awesome, happy to help. Closing now as the problem has been solved.

[2020-09-28 19:54] #2258 closed

[2020-09-28 19:58] jmckennon commented on #2220
Closing this as we're assuming the original problem has been solved due to inactivity, please open a new issue if you have further questions. Thanks!

[2020-09-28 19:58] #2220 closed

[2020-09-28 21:06] jmckennon commented on #2347
You don't have to provide a `redirectUri` in the msal configuration (it defaults to the current page), but it still always needs to be registered in the portal `msal` to function properly.

[2020-09-28 21:11] jmckennon commented on #2196
Closing this as we're assuming the original question has been answered. Please open a new issue if you have further questions. Thanks!

[2020-09-28 21:11] #2196 closed

[2020-09-28 21:29] jmckennon commented on #2346
This feature isn't controlled by the `msal` library, you can find docs for it [here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/keep-me-signed-in).

[2020-09-28 22:05] jmckennon commented on #2310
Wanted to update here--I couldn't get any great reasoning from the logs, so I'm going to escalate this internally to the server team. My guess is something may just need to be changed in the configuration of the portal/app reg. Will report back with information when I have it, sorry for the delay.

[2020-09-28 22:07] jmckennon commented on #2310
A thought I also just had would be to recreate your app registration and test the updated version against that app reg to see if it fixes the problem.

[2020-09-29 00:31] #2159 closed

[2020-09-29 01:17] fengzhihenxs opened #2350 "Set token expiration time"
## Library
- [x] `@azure/msal-browser@2.1.0`

## Description

Examples:
 How long does the default token expire?
How to set the token expiration time?

[2020-09-29 04:19] sudhirmadaan commented on #2346
Thanks! Would look into it

[2020-09-29 04:19] #2346 closed

[2020-09-29 07:07] ForellenDompteur commented on #2347
@jmckennon thank you. The problem with this approach is that I get an error message after a successful login, saying that the provided redirect uri is not equal to the one provided in the azure project.

[2020-09-29 10:20] rajithakolan opened #2351 "Login into @msal/angular angular application using id_token generated by custom policy"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.1.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did th

[2020-09-29 10:33] HockeyJustin commented on #2042
Just commenting to keep this open as the issue is still ongoing.

[2020-09-29 12:22] vcs38 commented on #2295
I've captures the logs for each solution I've tested.
With "normal" scenario the same app works perfectly when deployed on our internal servers.
What I've noticed is that when it works, the app in the hidden frame has not time to load and all the requests to te script are canceled because I guess the iframe was closed. Here is the capture of this (it is written "finished" but it was written "cance

[2020-09-29 13:40] vinceve opened #2352 "Logging configuration not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Logging is not triggered with configuration.

## Error Message
Logging is not triggered with configuration object PublicClientApplication

## Security
- [ ] Is this issue security related? no

[2020-09-29 14:08] mcdonnell-john commented on #2330
Hi @tnorling apologies for the delay, we had some infrastructure issues :(

This works, we managed so update the email link a user gets to redirect to our application which then redirects the user to B2C using the msal `loginRedirect` method.

[2020-09-29 15:42] rajithakolan commented on #2351
Is there is any option to login the user into angular application using a existing token.

http://localhost:4200/#id_token=eyJ0eXAiOiJKV1...

[2020-09-29 16:03] jmckennon commented on #2347
The `redirectUri` in your app will always need to match one of the `redirectUri` listed in the portal whether it's provided in the app or not. It's optional to provide it in the app configuration only because it defaults to the current window. If that window (for example, http://localhost:30662) is not listed in the portal as a valid `redirectUri`, you will get an error like this one.

[2020-09-29 16:08] jmckennon commented on #2351
@rajithakolan Please fill out the issue template with your configs, versions, and `msal` usage.

Where are you getting your `id_token` from?

[2020-09-29 16:12] jmckennon commented on #2350
The default expiration for a refresh token is 24 hours and 1 hour for refresh tokens and access tokens, respectively. We have more information on [configurable token expiry times](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties) in our documentation.

[2020-09-29 16:17] jmckennon commented on #2295
When you receive the "Blocked a frame..." error message, can you try opening the `login.microsoftonline.com` URL in its own tab?

[2020-09-29 16:18] rajithakolan commented on #2351
Using Identity Experience Framework custom policy 'B2C_1A_SignUpSignInSaml' policy we are generating a token and redirecting the user to angular application.
![image](https://user-images.githubusercontent.com/57349756/94585144-352a0780-029d-11eb-9c75-cea5cdb192b7.png)

So at angular end, how to create msal instance for that token and how to login the user automatically.

Basically we are using the

[2020-09-29 17:05] amng9560 opened #2353 "Using refresh tokens in @azure/msal-browser"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello,
I was wondering how this library handles the refresh token in Javascript/Reas

[2020-09-29 19:19] uberchris2 opened #2354 "CommonJS or AMD dependencies warning in Angular 10"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.4.0`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

Angular 10

## Description

Angular 10 provides a build warning. This seems to stem from the [use of minimatch]

[2020-09-29 19:40] jmckennon commented on #2352
I was not able to reproduce the logger not working, at least not with our [sample implementation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/da2fda9c751b9d121ae16ea8a80e295162668cea/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js#L13). `msal-browser` doesn't actually have that much logging in general, so it may just not be hitting a path with

[2020-09-29 21:49] hectormmg commented on #2116
Hey @dsaunders45459 I published a draft PR that should fix your issue, but I haven't been able to reproduce your original use-case. Could you please help me out by pulling the branch in #2355 , build `msal-core` locally and see if your issue is fixed? I'd really appreciate if you could confirm that for me so we can have validation that the problem is fixed! Thanks!

[2020-09-29 21:50] hectormmg commented on #2116
@ebonato could you provide more information around your issue? It seems like this is a separate issue because it is happening in 2.0, so maybe open a separate issue to track it? Thanks!

[2020-09-29 21:57] hectormmg commented on #2185
Closing since msal@1.4.1 has been released with the fix in #2206 . Please let us know if you're still seeing this issue after upgrading to 1.4.1.

[2020-09-30 00:31] #2221 closed

[2020-09-30 02:39] fengzhihenxs commented on #2353
I also have this requirement. I am using angular9. I am thinking that if the token expires, should I call the method to refresh the token?

[2020-09-30 04:07] zmsoft opened #2357 "error: "invalid_instance""
## Library
"@azure/msal-angular": "^1.1.1"

## Framework

## Description
I clone the example project and then replace the configuration file in app-config.json with my own.
After compiling successfully, run the project. When I click the login button, the console prompts error: error: "invalid_instance".

## Error Message
{"error":"invalid_instance","error_description":"AADSTS50049: Unknown or inva

[2020-09-30 07:01] vcs38 commented on #2295
When I open `login.microsoft.com` I can log in and I'm redirected to office365 dashboard.
In my app, I have this message
[code]

[2020-09-30 07:06] vinceve commented on #2352
@jmckennon thank you for your answer. I am upgrading from the "regular" msal library to the new msal-browser package. When I turned on logging in the "regular" MSAL library I could see a lot of extra information. For example: Do I hit the cache for refreshing my token. (Which in fact is my root problem now :-) ).

[2020-09-30 16:03] tnorling commented on #2099
@cliedeman Can you try `msal-browser@2.2.0` and let us know if this has been resolved?

[2020-09-30 16:16] jmckennon commented on #2351
Instead of passing an `id_token` to `msal` (`msal` does not support bootstrapping an `id_token` requested by another app), can you pass the user's email and use it in the `loginHint` field to call `ssoSilent`? This would achieve the SSO you're looking for.

[2020-09-30 16:20] jmckennon commented on #2295
Can you generate a fiddler trace of the timeout error you were seeing previously and send it to the email on my profile?

[2020-09-30 16:24] jmckennon commented on #2310
@snebjorn Are you requesting tokens from Microsoft Graph and then validating them in your backend? If so, you should not be using Microsoft Graph tokens to authorize your API--you should instead create a custom scope for your resource and request tokens for it.

[2020-09-30 16:25] Tzvetelin88 opened #2358 "Loading flag after redirect to App side and before handleRedirectPromise()"
#2300  Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`

## Description
Hello is there a flag which is set on MSAL after redirect back to Application side and before handleRedirectPromise() ?
Because handleRedirectPromise() need few seconds to get the response users can still see Login page on App side and after handleRedirectPromise() response it is login the us

[2020-09-30 16:36] jmckennon commented on #2357
Can you try either setting `validateAuthority: false` or to keep that field as true and to provide your URI in `knownAuthorities`?

[2020-09-30 16:47] jmckennon commented on #2358
This is controlled by the `redirectUri`. We generally recommend setting this to a blank html page, or a page with no auth/low functionality, but you can redirect to whichever page you'd like (so the user doesn't have to see the login screen again).

We don't currently expose a flag that shows if the redirect has been completed or not. What's your use case where this would be useful?

[2020-09-30 17:03] Tzvetelin88 commented on #2358
Well redirect to blank page on App side before we get response is some kind of workaround.

handleRedirectPromise() is initiated after the redirect on App side, but it takes few seconds to get response from it.
So, everything inside handleRedirectPromise() will took affect after that time, so we can't use that one to control App side Loading etc.

Also you can't do anything on App side to handle t

[2020-09-30 17:09] TissonMathew commented on #2329
@karol-majewski Following up on the comment from @jmckennon. We are trying to use Azure AD B2C + Custom Policies + PKCE flow etc. for local, AAD and Google identity providers. Any luck using msal-browser?

[2020-09-30 17:42] jasonjohnlee opened #2360 "Unable to detect if unauthenticated right after redirect login"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi, I have a React.js app and I want to ensure that only authenticated users can access certain pages/routes.  We login using the `loginRedirect` and when MS redirects back to our application I

[2020-09-30 18:57] hectormmg commented on #2185
Closing since msal@1.4.1, which includes a fix for this issue, has been published. Please let us know if the issue persists after upgrading to msal@1.4.1.

[2020-09-30 18:57] #2185 closed

[2020-09-30 20:37] snebjorn commented on #2310
@jmckennon we're requesting tokens from the MS Graph and using it in the frontend to call MS Graph directly (from the frontend). But we also use the token to identify the user when they make calls to the backend. Adding a custom scope to the token doesn't add any value, that I can see, as we're only interested in the object id (AzureAD guid) of the token. We validate the token on the backend so it

[2020-09-30 20:43] tnorling commented on #2360
@jasonjohnlee `handleRedirectPromise` will only resolve once. What seems to be happening here is that you're calling it twice and the 2nd one (inside isAuthenticated) is immediately returning null because the first has already started doing what it needs to do. You can kind of think of `handleRedirectPromise` as the resolution of the unresolved promise from `loginRedirect`.

What you should do ins

[2020-10-01 00:58] jasonjohnlee commented on #2360
Thanks @tnorling !  Removing the `handleRedirectPromise` in `isAuthenticated` solved the problem of the null response.  It also required me to redesign/rethink how I performed this unauthenticated check.  I originally thought I'd be able to do a simple if statement in the router to see if the user was authenticated before going to certain routes, but I had to change my approach to make my `Authent

[2020-10-01 00:58] #2360 closed

[2020-10-01 03:17] karol-majewski commented on #2329
@TissonMathew I ended up building my own component around `@azure/msal-browser` inspired by [`msal-react-v2`](https://github.com/lukezirngibl/msal-react-v2/).

[2020-10-01 04:54] TissonMathew commented on #2329
Thanks @karol-majewski Does it support Azure AD B2C + Custom Policies + MSAL.js 2.0 + Authorization Code flow?

I see another issue posted but its on closed status -- https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2271

[2020-10-01 05:14] mderriey commented on #2238
Hey folks, thanks for pushing msal@1.4.1.

I tested it and I unfortunately observe the same behaviour as @1.4.0, i.e. every route change triggers an id token refresh request to AAD.

I suspect in my case, it might be because we're using a multitenant application:

- The id token in the cache has the `authority` set to `https://login.microsoftonline.com/<tenant-id>`; but
- Because it's a multi-tena

[2020-10-01 08:00] Nasicus commented on #2307
Small update.

I now have an Australian VM (Central Australia).

I basically set up our "dev setup" there. This means all data is stored in a local (docker) database, therefore there are no API calls to anywhere else and of course the web app is also hosted locally.

I also removed my `loadFrameTimeout` setting again, so it's back to default.

I did a very basis test with 2 different AADs on this

[2020-10-01 08:20] edd82 opened #2361 "[ERROR] ClientAuthError: Token renewal operation failed due to timeout."
## Library
 `msal@1.3.3`
 "react-aad-msal": "2.3.5",

## Framework

React JS

## Description

After opening up a number of tabs to our application we receive the 'Token renewal operation failed due to timeout' error and the user are confronted with the "Microsoft Pick an account"  page with the error "We couldn't sign you in. Please try again."  If the user tried the original account then the issu

[2020-10-01 10:07] MaheshakaMudli opened #2362 "Token issue in tenant with MFA and Windows integrated authentication(only username and password)"
## Library
- [ ] `msal@1.4.0`

## Framework
Html and Javascript

## Description
We are using MSAL for generating token to get graph data. On our tenant we have enabled MFA authentication for all the users. Recently we have activated one policy in which if the user signs from the trusted domain, it would ask for the MFA authentication code also there is password-less settings enabled on our tenant.

[2020-10-01 10:45] Tzvetelin88 commented on #2358
Actually Local Storage is preserved after refresh, and I used Persist Reducer to set Flag in the store.
When user clicks SignIn, flag is set to true and then redirects to MS page.

On return back, as we have flag true I show loading and after  handleRedirectPromise return a promise I redirect the user to Welcome page.

[2020-10-01 10:45] #2358 closed

[2020-10-01 11:05] Tzvetelin88 opened #2363 "Wrong Issuer in the Token Response causing Invalid JWT."
## Library
- [X] `@azure/msal-browser@2.2.0`

## Framework
React 16.12.0

## Description
Migrated from MSAL 1.x to MSAL 2.x.
Authenticating against API Mamangent in Azure failed with Invalid JWT token.

Token versions:
https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens
v1 using https://sts.windows.net/
v2 using https://login.microsoftonline.com

## Error Message
Invalid

[2020-10-01 12:15] vcs38 commented on #2295
That's done.
Thank you

[2020-10-01 12:40] kiranbhadani opened #2364 "Unatuhorized client error - AzureAD B2C + custom policies"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@2.1.0`.

## Framework
Pure JS

## Description
Trying to setup SPA authentication with msal-browser, with Azure AD B2C custom policies,

[2020-10-01 13:07] pandoras commented on #1999
So not in release 2.3? Also waiting it to be fixed...

[2020-10-01 13:14] andmagom opened #2365 "Msal-angular 2.0"
## Library
- [x] `@azure/msal-angular@1.x.x`

## Description
Hello AzureAD Team !

We use msal-angular 1.x in a lot of projects, we want to use authorization code flow but it is only enabled in msal 2.0. We are wondering if you will include in your backlog a new version of msal-angular in order to use this flow.

We know there is an example for use msal-browser in Angular 10, However we want to ex

[2020-10-01 13:22] karol-majewski commented on #2329
@TissonMathew It definitely works with Azure AD B2C + Authorization Code flow.

The docs at [`msal-browser`](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) say it doesn't support B2C:

[code]

but it's not true — it does work. How do I know? The API call made to `https://login.microsoftonline.com` contains the `response_type=code` part, which indicate

[2020-10-01 13:25] Nasicus commented on #2307
@jmckennon fyi I just had a call with a Microsoft Support Engineer (via an Azure Ticket) and sent him the HAR and fiddler files. He said he will keep yo updated.

[2020-10-01 14:27] Tzvetelin88 opened #2366 "Always asks for MFA"
## Library
- [X] `@azure/msal-browser@2.2.0`

## Framework
React 16.12.0

## Description
Login to Application using:
[code]
always asking for MFA, no matter if I'm accessing from Internal or External network.

## Error Message
No

## Security
- [ ] Is this issue security related?

## Regression
- [X] Did this behavior work before?
Version: MSAL 1.x this wasn't a issue. It was asking only when acce

[2020-10-01 15:18] kiranbhadani commented on #2364
I am able to resolve it, it was issue with app registration it requires to enable 'public client', now I am facing issue with aquireTokenSlient, it works with local account and google account, but fails with azure account, the same issue was in msal 1.0, so we trying to upgrade it to msal 2.0, but didn't work

ClientAuthError: no_account_in_silent_request: Please pass an account object, silent flo

[2020-10-01 16:12] jmckennon commented on #2361
Can you upgrade to `msal@1.4.1` and see if the issue is fixed?

[2020-10-01 16:14] jmckennon commented on #2362
We will need more information to assist with debugging, could you please fill out the provided issue template with your msal usage, verisons, and configuration?

[2020-10-01 16:18] vinceve commented on #2352
Yes indeed. I see my browser hitting the token endpoint each time. So my guess is that the token is not cached. (I have a polling mechanism so I am hitting the endpoint on each poll)

[2020-10-01 16:18] jasonnutter commented on #2365
@andmagom Yes, we will update our roadmap soon to reflect our plan for MSAL Angular v2. We expect to have preview versions available relatively soon.

[2020-10-01 16:24] jmckennon commented on #2363
Is your app originally created in the legacy app registration? You may need to recreate your app in the new app registration or set your `accessTokenAcceptedVersion` to 2 in the legacy app reg. This can be seen [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#accesstokenacceptedversion-attribute).

[2020-10-01 16:31] tnorling commented on #2238
@mderriey Thanks for the detailed explanation, this behavior with common authorities was fixed a while back for access token lookup but it seems this was not carried over to the new id_token lookup logic. We will make sure this gets addressed in 1.4.2, apologies for the inconvenience.

[2020-10-01 16:35] kkadapa opened #2367 "Error when running npm install @azuread/msal-react-native-android-poc@1.0.5 https://github.com/AzureAD/microsoft-authentication-library-for-js/packages/292089"
## Library

- [ ] `@azure/microsoft-authentication-library-for-js`

https://github.com/AzureAD/microsoft-authentication-library-for-js/packages/292089

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
msal-react-native-android-poc 1.0.5

## Description

## Error Message
![image](https://user-images.githubusercontent.com/6679852/94837622-7e37a400-03e2-

[2020-10-01 16:46] jasonnutter commented on #2367
This package is only published to the Github Registry, not the npm registry, so you will need to update your npmrc to use the Github Registry for the `@azuread` scope: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-react-native-android-poc-sample/.npmrc

Furthermore, this package is a proof-of-concept, and not meant for production usage.

[2020-10-01 16:49] jmckennon commented on #2364
Can you post your `msal` usage and any related account/acquireTokenSilent code?

[2020-10-01 16:54] tnorling commented on #1999
@pandoras This is a server issue so it's not tied to a release of msal. Once it has completed deployment it should work with any version of msal-browser you're running. Unfortunately the rollout has been delayed a few times for reasons outside of our control but rest assured it's still a priority and will make it out as soon as it's able to.

[2020-10-01 17:09] jmckennon commented on #2352
Can you provide your `msal` usage? We would not expect to always bypass the cache and go to the network.

[2020-10-01 17:20] jmckennon commented on #2366
This is most likely an app registration problem. MFA can be required conditionally based on whichever settings are added in the portal--your new app reg most likely has it set to always require MFA. Instructions for adding/changing MFA policies can be seen on the [Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa).

[2020-10-01 18:03] kkadapa commented on #2367
Thanks @jasonnutter !

We have an API App Service in Azure and we created two AD Apps one is for the server-side and another is for the client (Mobile App) side.

We were unable to implement React Native AD Authentication using the Client App ID and TENANT ID from this link https://docs.microsoft.com/en-us/graph/tutorials/react-native

Which library from https://github.com/AzureAD should we utiliz

[2020-10-01 18:15] tnorling commented on #2329
@karol-majewski

B2C + MSAL.js v2 does work but is not yet considered production ready due to a few outstanding issues on the server, which is why the docs have not been updated yet. You are free to use MSAL.js v2 with B2C in development, we are just recommending you do not deploy your app to production until we announce that B2C is fully supported.

@TissonMathew

Custom policies will be supporte

[2020-10-01 19:57] andmagom commented on #2365
**Awesome** @jasonnutter !!

 We are going to be waiting for the update !

Thanks

[2020-10-01 19:57] #2365 closed

[2020-10-01 20:26] TissonMathew commented on #2329
Thank you @tnorling what's the ETA on B2C official support?

[2020-10-01 20:39] tnorling commented on #2329
@TissonMathew Due to the fact that the work needed is server-side and deployments can be delayed for a number of reasons I'm unfortunately not able to provide an ETA. What I can say is that supporting B2C with Auth Code + PKCE is one of our top priorities and the server team is working to get the necessary fixes rolled out as quickly as they can.

[2020-10-01 21:01] jmckennon commented on #2353
@amng9560 You can read about properties of refresh tokens in the library and how they're handled [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md#token-renewal). The `forceRefresh` flag bypasses a cache lookup for any tokens and goes directly to the network. You can use this to force a token refresh, but it will happen as n

[2020-10-01 21:10] jmckennon commented on #2307
@Nasicus I would still recommend trying to set your `redirectUri` to a blank or almost blank html page (if you haven't tried that already) to try and speed up the auth process--that could also potentially help mitigate the problem. I will be in contact with the support engineer to provide assistance where I can.

[2020-10-01 21:39] jasonnutter commented on #2367
@kkadapa You can try using MSAL for Objective C and MSAL for Android directly (which the POC does), or finding a third-party library (such as the one recommended in the tutorial).

[2020-10-02 00:31] #2243 closed

[2020-10-02 00:31] #2050 closed

[2020-10-02 05:00] Nasicus commented on #2307
@jmckennon our login-complete page is already quite minimal (and not the same page is the main app) I can not really reduce it any further.

[2020-10-02 05:01] kiranbhadani commented on #2329
I am able to setup a sample application with MSAL 2.0 + Azure AD B2C + Custom polices, but getting a issue with aquireTokenSlient when login with Azure account

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2364

[2020-10-02 05:06] kiranbhadani commented on #2364
@jmckennon here is the code from sample application

`const myMSALObj = new msal.PublicClientApplication(msalConfig);

let accessToken;

// Register Callbacks for Redirect flow
myMSALObj.handleRedirectPromise().then((response) => {
  if (response){
    if (response.accessToken) {
      console.log("access_token acquired at: " + new Date().toString());
      accessToken = response.accessToken;

[2020-10-02 05:38] brunnosantos commented on #2268
Exact the same problem here... redirect method doesn't work correctly on Safari if The user doesn't have a session already (first Microsoft login).

Apparently the session data are not yet cached when handleRedirectObservable subscription streams for the existence of an Account in MsalGuard

[2020-10-02 07:46] kumarunster opened #2370 "Still Login Redirect Loop after upgrade to 1.4.1, if previously cached tokens exists in browser store"
## Library
- [x ] `msal@1.4.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React

## Description

This is the follow up to reported and closed [MSAL 1.4.0 was released, and is causing infinite redirection loop #2185](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2

[2020-10-02 07:47] kumarunster commented on #2370
@hectormmg could you take a look please?

[2020-10-02 09:06] delan-dev opened #2371 "Opening a new tab requires to login again on firefox"
## Library
- [x] `@azure/msal-angular@^0.1.2`
- [x] `msal@^0.2.3`
- [x] `@azure/msal-browser@2.1.0`

## Framework
- Angular 5.2
- Angular 9.1
- Angular 10.0
- React 16.8.6

## Description

When an user logs in an application based on Angular and opens a new tab, the new tab requires the user to sign in again. This issue is occuring only on Firefox the version81.1 with cookie protection and plugins

[2020-10-02 10:31] #2321 closed

[2020-10-02 10:31] bilalmalik777 commented on #2321
the issue  has been resolved
thanks, @jmckennon  for your assistance

[2020-10-02 10:56] edd82 commented on #2361
Unfortunately not we have updated library both locally and on our test servers but we are still getting the same error.    Opening up Chrome tabs 10/11 times and error persists.

Also we’ve just noticed that when routing through a web reverse proxy the error happens every time away.  Perhaps this is different issue but I thought I should raise it.

From: Jake McKennon <notifications@github.com>
Se

[2020-10-02 11:27] Shigerua commented on #2370
I have a similar issue. With the new 1.4.1 the login works once. After reloading my page I always get the error 'The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more requirements'.
Workaround is to clean the localstorage and sign in again. (Then it works for 1 time).

Never had this before. Downgrading msal works fine.

[2020-10-02 11:39] edd82 commented on #2361
We've realised that the Web Proxy problem was a different issue and have now resolved it.   We'd tried creating an auth.html blank file and set that as the tokenRefreshUri, this caused issues with the web  proxy so have reverted to /auth and can now access the site.

Opening multiple tabs still causes the "Token renewal operation failed due to timeout" error

[2020-10-02 14:32] kiranbhadani commented on #2364
I am able to solve it by passing account and scopes with acquireTokenRedirect()

[code]

[2020-10-02 14:32] #2364 closed

[2020-10-02 14:45] Tzvetelin88 commented on #2366
Hey thanks so much for the hint.

Indeed it was an issue with App Registration and more specific with MFA policy which was applied to the App Registration.

For future issues of this kind here are some screenshots:

Tracking what policies were applied on the time of the authentication:
![image](https://user-images.githubusercontent.com/9692941/94936325-c1733f00-04d6-11eb-9815-193ca373aac6.png)

an

[2020-10-02 14:45] #2366 closed

[2020-10-02 15:51] jimbarrett33 commented on #1810
I am leaving a comment since I don't want this issue to auto-close. I believe there is something to fix here.

[2020-10-02 16:08] jmckennon commented on #2371
@delan-dev `sessionStorage` does not share data between tabs, can you try using `localStorage` and see if the issue persists?

[2020-10-02 16:13] jmckennon commented on #2361
@edd82 Can you send a fiddler trace to the email on my profile so we can take a closer look?

[2020-10-02 16:17] jmckennon commented on #2310
Tokens that are issued for Microsoft Graph should only be sent and inspected by Microsoft Graph, you shouldn't be validating or using them to identify the user on your backend.

[2020-10-02 16:55] calvinnelms opened #2372 "Receiving error - Seamless single sign on failed for the user"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 10.0.2

## Description
When a user logs into the angular application from Safari via either a mac, iPad, or iPhone, they receive an error listed below.
The app loads correctly on Chromium

[2020-10-02 17:09] snebjorn commented on #2310
thanks for bringing that to my attention. I'll have to investigate this

[2020-10-02 18:26] hectormmg commented on #2370
Hi @kumarunster. Thanks for following up, I'm sorry the fix in 1.4.1 didn't completely solve your issues. We're currently looking into this, which seems to be caused by caching the same tokens with different authorities. We'll follow up if we need more information, otherwise we'll get the fix out as soon as we can.

[2020-10-02 18:41] pkanher617 commented on #2334
@m-mattu To be more clear, third party cookies are required in order to complete silent authentication. Because @azure/msal-browser uses the auth code flow, it can use the refresh token instead of cookies to perform this, with the caveat that the refresh token is limited to a 24 hour lifetime. You can read more about it [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob

[2020-10-02 19:05] derisen opened #2373 "[msal-browser] rogue console.log() in BrowserCrypto.ts"
## Library
- [x] `@azure/msal-browser@2.3.0`

## Framework
N/A

## Description
A `console.log()` statement seems to be forgotten in the latest release.

This appears in: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/80962a0f7fc9064c2fbe98387b10cb2e9a2c86e6/lib/msal-browser/src/crypto/BrowserCrypto.ts#L140

## Error Message
N/A

## Security
- [ ] Is this issue security rel

[2020-10-02 19:05] jasonnutter commented on #2373
FYI @pkanher617

(I need to add this to the lint rules.)

[2020-10-02 19:51] jmckennon commented on #2307
@Nasicus Okay, for now, hopefully you can use `loadFrameTimeout` to mitigate the problem. I will be escalating this to the server team and have accessed the support engineer to do the same as I believe this is out of scope for the `msal` library and could be a problem with the service. It also just may be that the latency between West EU and Australia makes that big of a difference in load times.

[2020-10-02 20:11] Mobiletainment commented on #2329
I encountered **a different behavior** when using **B2C** that quickly gave the impression that it doesn't fully support the Auth Code Flow with PKCE. But in the end I managed to find out.

I'm using the latest @azure/msal-browser version 2.2.1.
We first used https://login.microsoftonline.com/common/ to test the Auth Code Flow with PKCE. Everything worked fine.

When I switched to our corporate's

[2020-10-02 20:31] LarsKemmann commented on #2315
@tnorling Do you have any updates from the server team, and any idea of timing for a fix? We can go forward with the suggested workaround for now during development (we've confirmed that it works), but that will not work in production (redirects tear down in-progress user work, popups don't work with Safari users). Thanks!

[2020-10-03 00:32] #2270 closed

[2020-10-03 00:32] #2142 closed

[2020-10-03 02:11] debugmodedotnet commented on #1662
any one resolved it ?

[2020-10-03 12:47] jrmcdona commented on #1662
@debugmodedotnet  they are supporting SSR in newer releases.

[2020-10-03 12:47] #1662 closed

[2020-10-03 20:50] wasabii commented on #2315
@tnorling I gave it a go. Not supported:

AADB2C90146:+The+scope+'https://***/analyticssimulator-dev1-web/Web+https://***/analyticssimulator-dev1-api/Api+openid+profile'+provided+in+request+specifies+more+than+one+resource+for+an+access+token,+which+is+not+supported.

[2020-10-04 00:34] #2211 closed

[2020-10-04 12:44] debugmodedotnet commented on #1662
anyone having any sample where msal.js is used for angular universal? I

[2020-10-05 09:08] LadaM opened #2378 "Token renewal errors on page reload"
While running the react application which is using Azure AD authentication locally the following 3 msal errors are happening every time application reloads:
1. [ERROR] ClientAuthError: Token renewal operation failed due to timeout.
2. [ERROR] ClientAuthError: Token renewal operation failed due to timeout.
3. [ERROR] ClientAuthError: Login_In_Progress: Error during login call - login is already in

[2020-10-05 09:12] ralphtheninja opened #2379 "How to resolve problems with CORS headers"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm using the latest `msal-browser` with the `.loginPopup()` use case. But I run in

[2020-10-05 09:58] vishmay-AF commented on #1592
My question here is why does MSAL guard need to renew the token on each page request? even if the old token is not yet expired?

[2020-10-05 12:37] amng9560 commented on #2353
@jmckennon Thank you for explaining the `forceRefresh` flag, giving me the documentation, and your fast response. I have read the documentation and I'm still a little confused as to how to use the refresh token.

I have the code that uses the `aquireTokenSilent` method but it still doesn't work, and I must refresh the page a couple of times before it gets a token.

`async getTokenRedirect(request,

[2020-10-05 12:38] delan-dev commented on #2371
Hello @jmckennon and thank your for your interest in my issue.

It does indeed work as intended when setting `cacheLocation` to `localStorage` but every SPA we have developed ( 4 using Angular 5.x to 9x and one based on React ) use `sessionStorage` as a `cacheLocation` and it has always worked as intendend before. This comportment is not reproduced on other browsers except when third-party cookies

[2020-10-05 13:01] ralphtheninja commented on #2379
Nevermind. I found the problem. I created a new application from scratch and then it worked.

[2020-10-05 13:01] #2379 closed

[2020-10-05 13:24] vcs38 commented on #2295
@jmckennon have you received my trace ?

[2020-10-05 17:27] HarryGifford opened #2380 "Remove the `debug` package from `msal-common`'s `dependencies`"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-common@1.5.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Please remove `debug` (and `@types/debug`) from the `package.json` of `@azure/msal-common` or move it to `devDependencies`. It does not appear to be used in th

[2020-10-05 17:31] jmckennon commented on #2284
@vishmay-AF We think that #2206 should have fixed this problem as well, as it also solves cache-lookup problems that result in token renewals. Can you test `msal@1.4.1` to see if your issues are still persistent?

If you still have problems, please open a new issue with your config, versions, and usage so we can assist further.

[2020-10-05 17:48] jmckennon commented on #2378
We have some documentation on common issues that can result in timeouts in [our docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#token-renewal-operation-failed-due-to-timeout).

Can you try upgrading to `msal@1.4.1` to see if your issue persists? This may not work as I'm unsure if `react-aad-msal` will support our new version (we don't

[2020-10-05 17:54] jmckennon commented on #2353
@amng9560 Can you provide any errors/logs you're seeing and also your `msal` config?

[2020-10-05 18:09] jmckennon opened #2381 "MSAL version 2 supports integration with B2C"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We're currently working on supporting integration between B2C and `msal-browser`, and this issue tracks that process. ETA mid-October.

## Known-issues

#2315 - `acquireTokenSilent` does not r

[2020-10-05 18:10] jmckennon commented on #2329
Since the open issues on this issue are resolved, we'll be closing this. Support for B2C in `msal-browser` is our top priority and can be tracked on #2381

[2020-10-05 18:10] #2329 closed

[2020-10-05 18:12] jmckennon commented on #2372
@calvinnelms Does this error still occur with ITP disabled?

[2020-10-05 18:17] jmckennon commented on #2371
Unfortunately, at this time, if you are using `sessionStorage` and third-party cookies are disabled then you will have to do an interactive login in this scenario.

[2020-10-05 18:26] jmckennon commented on #1592
@vishmay-AF This should have been fixed in `msal@1.4.1`, can you upgrade to the new version and if your problem still persists, open a new issue with your version, config, and usage?

[2020-10-05 18:27] amng9560 commented on #2353
@jmckennon Unfortunately I don't have any logs. The only one that I usually get is the console.warn message that I wrote in the `getTokenRedirect` function that I showed you above. I have to refresh the page multiple times and sometimes it would work, otherwise I'd need to clear my localStorage and cookies to get a new token.

Sorry for asking so many questions and not being able to provide more i

[2020-10-05 19:13] calvinnelms commented on #2372
@jmckennon Yes actually, if I uncheck "Prevent cross-site tracking" on both mac os and ios/ipados safari, the site works.

Are there any work arounds if I leave this setting enabled?  Or is this one of the downsides of the msal library?

[2020-10-05 19:22] Tzvetelin88 commented on #2363
Sorry for the late response. Yes,  I've created a new App Registration, but after I have looked into manifest, I saw accessTokenAcceptedVersion was null, which by default goes to v.1 Tokens and not v.2 Tokens. After I've set it to 2 it worked. Thanks so much

[2020-10-05 19:22] #2363 closed

[2020-10-05 20:28] jmckennon commented on #2295
@vcs38 The trace that you sent shows an access token being acquired successfully, was that the correct trace that you meant to show us? I was expecting one with errors.

Additionally, `loadFrameTimeout` just increases the time before getting a timeout error. Sometimes playing with the value can help show if the error is truly a timeout and it just needed more time to complete, but this is usually

[2020-10-05 22:22] #2311 closed

[2020-10-05 22:43] ollief87 commented on #2042
Has anyone tried using Azure AD PKCE with a generic OAuth2 library such as https://www.npmjs.com/package/angular-oauth2-oidc?

[2020-10-05 22:49] tummah commented on #2042
I was able to use https://github.com/IdentityModel/oidc-client-js with angular and azure ad b2c with pkce.

[2020-10-06 07:18] vcs38 commented on #2295
I don't have any network issues you are right.
I acquire the token via the network but it's in the application that I have this error.
For reminding, the same app is deployed on two different environments: one internally and another one on Azure.
What we can see is that the app deployed internally works perfectly maybe because some scripts in the iframe are not loaded (maybe the network is not fas

[2020-10-06 07:40] LadaM commented on #2378
Thanks for the reply. You're right it's most probably a problem with the wrapper lib.

I've tried to update to msal@1.4.0 and it caused endless reload cycles, so it's easy to assume that the react-aad lib isn't working well with the newer version. What worked for me is to use the msal directly. I'll post the issue on their board and close this one.

[2020-10-06 07:48] #2378 closed

[2020-10-06 12:51] renjithgr commented on #2042
@HockeyJustin Thank you so much for keeping this issue alive, we are facing the same challenges.

Can someone please confirm if the following error message is related to the issue being discussed in this thread?

[code]

[2020-10-06 14:38] CraigComeOnThisNameCantBeTaken opened #2382 "It is not clear what 'storeAuthStateInCookie' does given that my access token is still in local storage"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-10-06 15:08] mexmirror commented on #2268
Is there a workaround for this? I need to use Authoritzation-Code Flow, and I cannot use a popup as well.

[2020-10-06 15:31] vishmay-AF commented on #1592
@jmckennon
Just now, my issues was solved by setting up azure configuration,
I'm not sure which one did the trick, so I'm listing all...
1. I gave some permission, (attached)
2. created client secret,
3. Exposed API with scope for impersonate user.
I'ven't checked with 1.4.1,
1.4.0 is working for me.
[permissions .txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/533491

[2020-10-06 15:33] vishmay-AF commented on #2284
@jmckennon
Just now, my issues was solved by setting up azure configuration,
I'm not sure which one did the trick, so I'm listing all...

I gave some permission, (attached)
created client secret,
Exposed API with scope for impersonate user.
I'ven't checked with 1.4.1,
1.4.0 is working for me.
permissions .txt

[2020-10-06 17:07] DarylThayil commented on #2382
StoreAuthStateInCookie stores a specific set of authentication artifacts in the cookie.  Specifically `state` and `nonce`, and I believe this was to get around some interesting issues on ie11.

The storage you choose, either local or session is where all other artifacts like token are stored

[2020-10-06 17:09] DarylThayil commented on #2380
@HarryGifford the debug package is added specifically to support debugging messages in the wild, not just in dev
@jasonnutter  cc

[2020-10-06 20:18] amng9560 commented on #2353
@jmckennon I finally got the errors and looked at them. This is the error I get in the network tab `{"error":"invalid_grant","error_description":"AADSTS700081: The refresh token has expired due to maximum lifetime. The token was issued on 2020-10-05T12:48:43.5425484+00:00 and the maximum allowed lifetime for this application is 1.00:00:00."}`

Then in the console I got the errors:
![refresh_error]

[2020-10-06 22:11] pmcgannon22 opened #2383 "acquireTokenSilent failing in only IE11 (embedded iframe scenario)"
## Library
- [x] `msal@1.4.1`

## Description

acquireTokenSilent issues in IE11, whereas it is working properly in all other browsers (Chrome, FF, Edge Chromium), using the exact same code path. The implementation involves an embedded, hidden iframe across a large number of domains that proxies calls inside of the frame and sends their responses to the parents. The expectation is that the parent

[2020-10-07 07:37] vinceve commented on #2352
Hi Jake,

Sorry it took a while to respond:

configuration:
[code]

When I successfully have authenticated I configure following Axios interceptor:
[code]

[2020-10-07 08:01] jaami01 commented on #2268
Unfortunately, this is a known issue with using redirect in the Angular sample, and we are currently researching ways to handle this better.

@jo-arroyo , is there any workaround available for this in angular ?

[2020-10-07 08:32] Tzvetelin88 opened #2384 "Best practice to store and secure tokens/sensitive data in Cookies"
## Library
- [X] `@azure/msal-browser@2.3.0`

## Description
Using MSAL 2.x with React 16.12.0.
Is it possible to store sensitive data like Tokens only in Cookies and not in Local/Session storage?

I know about Msal Config:
[code]
, but reading more it seems MSAL will always store data in Local/Session storage and if checked storeAuthStateInCookie to true will store in Cookie too.

What is the rig

[2020-10-07 15:19] vcs38 commented on #2295
I've seen exactly why I'm having a timeout in msal.js file by debugging.
This fonction creates the timeout:

[code]

On Azure I'm reaching this block of code:

[code]

I reach this blocl because the variable href is in error.
I've set a breakpoint at th specific line and href is undefined.

href is set at this specific line:

[code]

What i can see with my breakpoint is that the content of `conten

[2020-10-07 16:01] jasonnutter commented on #2384
No, it is not possible with MSAL.js. Cookies come with their own set of negative tradeoffs, namely length concerns.

`storeAuthStateInCookie` will enable MSAL to store certain pieces of information in a cookie, as a mitigation for scenarios where localStorage/sessionStorage gets cleared (IE, Firefox InPrivate) during redirection.

[2020-10-07 16:15] sameerag commented on #2383
@pmcgannon22 Are you able to make a call to the openid-configuration [endpoint](https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration) independent of `msal js` in IE11?

Also FYI: some of the IE11 issues we have seen in the past are documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/FAQ.md#what-browsers-a

[2020-10-07 16:18] sameerag commented on #2382
@CraigComeOnThisNameCantBeTaken The documentation for IE11 is available [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser) and can be navigated from our [FAQs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/FAQ.md#what-browsers-are-supported-by-msaljs) page. If the explanation there isn

[2020-10-07 16:29] pmcgannon22 commented on #2383
@sameerag, yes, I am. I just tried sending an XHR from the console and everything seemed to work fine. I was going through that page, but wasn't able to pinpoint something that applied to my scenario.

Some additional information. Here is what sessionStorage looks like in IE after the attempt to auth with MSAL:

[code]

Additionally, I am also internal Microsoft if you want/have time reach out for

[2020-10-07 16:36] sameerag commented on #2383
@pmcgannon22 Couple more follow up questions:

* Have you followed all the considerations highlighted in our IE sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp/app/ie11-sample) - Including providing a `promise polyfill`?
* Are you able to run your application successfully outside of an iframe in IE11?

[2020-10-07 17:09] pmcgannon22 commented on #2383
@sameerag

- Confirmed that Promise polyfill is in place before any MSAL code is run. Also, confirmed there is no trusted sites issue and the `storeAuthStateInCookie` set to true in IE contexts.
- I just went directly to the embedded iframe to test and it is behaving in essentially the exact manner given the MSAL log output.

Thanks for the help.

[2020-10-07 17:28] ryan-ost commented on #2372
I am also experiencing this issue on iOS and MacOS in safari, but not chrome. The workaround works for me as well.

[2020-10-07 17:28] jasonnutter commented on #2042
@renjithgr Most likely, yes. You should be able to resolve by invoking interaction.

[2020-10-07 20:30] renjithgr commented on #2042
@jasonnutter Thank you for making this issue part of the milestone. Appreciate it!

[2020-10-07 21:33] manoharnikkam opened #2385 "How to get user role of the logged in user"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.3.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
What is the right way to get the logged in user role setup in Azure AD app registration in [angular10-browser-sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev

[2020-10-07 21:40] MigukNamja commented on #2042
Thank you so much @jasonnutter !!!

[2020-10-07 21:50] bstair opened #2386 "Renewing Token"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Claims aren't updating when renewing the token.

Using msal-browser 2.2 with a custom user flow that sets some claims in the token.
The application has a workflow to update some of those field

[2020-10-07 23:05] jasonjohnlee opened #2390 "How to use msal-browser with React, Typescript, and IE11"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Our React application does not fully work with msal-browser and IE11.  When Azure redirects back to our application after a user enters their credentials, the page in our application displays

[2020-10-07 23:27] jo-arroyo commented on #2268
@brunnosantos Can you please clarify what you are referring to? Are you referring to this line in msal-guard?
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/38bb90e4e94a8d89363d6266d91390d33910d2f0/samples/msal-angular-v2-samples/angular10-browser-sample/src/app/msal/msal.guard.ts#L63

[2020-10-07 23:45] jeffleems opened #2391 "FetchClient uses Headers without checking for existence"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.2.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The FetchClient code uses Headers without first checking to see if they are defined/exist. For browsers such as IE11 where fetch may be polyfilled but Headers is not (such as unfetch is widely

[2020-10-08 00:27] #2099 closed

[2020-10-08 15:46] meinto opened #2395 "Is it possible to authenticate websites with a broker like the MS-Authenticator-App on android?"
## Library
- [x] `@azure/msal-browser@2.x.x`

## Description

I have multiple android apps and websites (spa's) and want to provide SSO across all of them. I successfully implemented SSO across the native apps using the msal-sdk and the MS-Authenticator app in shared-mode. But when i setup the [masl.js sample app](https://github.com/Azure-Samples/ms-identity-javascript-v2), it always asks me for c

[2020-10-08 16:21] sameerag commented on #2386
I am not entirely sure if this is a service issue or the library. Can you please share us the steps to reproduce or email me [here](sameera.gajjarapu@microsoft.com) if the custom claims and token details are specific to your application, for me to be able to check your use case with the eSTS team?

[2020-10-08 16:25] sameerag commented on #2385
@manoharnikkam your question isn't clear to me. Are you asking if the above steps are the correct way to get the `user roles` in your tokens?

[2020-10-08 16:31] sameerag commented on #2395
`msal js` doesn't support native brokers and we do not have SSO with the native applications in android yet. From my understanding, in FLW, embedded web view works with brokers and hence the default browsers will not have the cookies for `msal js` to login silently.

Linking @rpdome from the android team to note this use case for the FLW design.

[2020-10-08 17:35] manoharnikkam commented on #2385
@sameerag Sorry, I was not clear.  I got the token with application roles coming back after authentication. The area I needed help was on how to get these roles into the [Angular 10](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular10-browser-sample) application so that I can use them trim security in UI based on the role.
Appreciat

[2020-10-08 18:23] jasonjohnlee commented on #2390
I actually just figured it out with the help of [this post](https://stackoverflow.com/questions/48328842/redirecting-to-null-in-inetrnet-explorer-11-in-some-specific-versions-after-su).   The problem is that MSAL doesn't work correctly if "Protected Mode" is active in IE.

[2020-10-08 18:23] #2390 closed

[2020-10-08 19:32] zekeinferno commented on #2268
The only change I saw in the Angular 10 sample was an update to msal-browser to the latest version (v2.3.0), which did fix the issue for me.

Aside from that, after the user was redirected back to the site after signing in, the page would refresh itself repeatedly until I modified my main page's routing from "/" to an actual path "/dashboard" like so:

![image](https://user-images.githubuserconten

[2020-10-08 21:23] jasonjohnlee opened #2397 "msal-browser and B2B: redirect to the Azure sign in page in a specified language"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When we use the `PublicClientApplication.loginRedirect` function, is it possible to specify the language to display on the Azure login page?  I looked at the `RedirectRequest` interface and I

[2020-10-08 21:27] tnorling commented on #2352
@vinceve Looks like you're calling `acquireTokenByRefreshToken`. This function always makes a network call and is intended to only be used internally by msal. You should not call this directly as it is subject to change or be removed at any time. You should use `acquireTokenSilent` instead which will first do a cache lookup, then attempt to refresh if the token is expired or can't be found in cach

[2020-10-08 22:07] bstair commented on #2386
I've tried to include all relevant information, please let me know if there's something else needed for clarification.

Our B2C Policy makes a REST call to a service to populate some custom claims in the token.

1. Log into application (I get a valid access token with claims)
2. Land on an Account Information Page
3. Update some fields that are usually shown on the token.
4. Hit save
    a) a serv

[2020-10-09 00:33] #2261 closed

[2020-10-09 00:33] #2257 closed

[2020-10-09 00:33] #2162 closed

[2020-10-09 01:17] fengzhihenxs opened #2398 "Modify or add the parameter value of "scope""
## Library
- [x] `@azure/msal-browser@2.2.0`

## Description
 Hello, how can I modify or add the parameter value of "scope" in the request using this library?

[2020-10-09 07:31] bilalmalik777 opened #2400 "Token is not getting refreshed"
Hello, We are using adal-angular for authentication, in the react js application, from the azure ad. After some time it shows the error and the token is getting refreshed. The error is given below. also shared the network trace(ttreacttest.azurewebsites.net.txt), code, and console error image. We are using OAuth and generating a token for API resources. After reloading the page error, the applicat

[2020-10-09 07:32] deasems opened #2401 "Does MSAL v2 support redirect interactions in iframe scenarios?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm working on an application that will be embedded within an iframe in a partner ap

[2020-10-09 08:53] xmesaj2 commented on #2309
Go to
``node_modules\@azure\msal-angular\src\msal.module.d.ts``
search
``ModuleWithProviders;``
and replace with
``ModuleWithProviders<any>;``
as a temp workaround for Angular 10

[2020-10-09 09:20] felixvanleeuwen commented on #2309
That's fine for a local build but setting that up for our build pipelines is a little funky.

[2020-10-09 09:51] DK8ALREC commented on #2310
@jmckennon what do you mean when you say "issued for Microsoft Graph"? And why not use the token in your own backend if using Azure AD for single sign-on?

Microsoft [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview) on MSAL says:
"Microsoft Authentication Library (MSAL) enables developers to acquire tokens from the Microsoft identity platform endpoint i

[2020-10-09 10:12] web265p3 opened #2402 "Calling two backend APIs not possible with interceptor => "The cache contains multiple tokens satisfying the requirements""
## Library
- [x ] `msal@1.4.1`
- [ x] `@azure/msal-angular@1.1.1`

## Framework
Angular 10.1.4

## Description
If I try to call two different APIs from my Angular application, msal throws an error that the token cache contains multiple tokens satisfying the requirements.
In both cases I have the same client id and authority. Only the scopes are different as you can see in my configuration.
If I de

[2020-10-09 13:28] Venipa commented on #2402
im having the exact same problem rn.

previous version which worked:
[code]

[2020-10-09 14:52] jdmiedema commented on #2402
I am having the same problem. I think it has something to do with this commit: [https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/23ddd4ab6632d932a8fd4dd276b39c7c8202ff6c#diff-a7db5bdfe2343db691caf7a7c5ad8671](https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/23ddd4ab6632d932a8fd4dd276b39c7c8202ff6c#diff-a7db5bdfe2343db691caf7a7c5ad8671)

In this com

[2020-10-09 14:53] patrick-jones opened #2403 "Inconsistent behavior of handleRedirectPromise causes spurious errors"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

Depending on the configuration value of `auth.navigateToLoginRequestUrl` and your redirect url,

[2020-10-09 15:03] jdmiedema commented on #2402
Previous version that worked for me:
[code]

[2020-10-09 15:37] web265p3 commented on #2402
Yes, same for me! 1.4.0 works fine

[2020-10-09 16:21] sameerag commented on #2401
@deasems At this time, the `redirect` APIs in `msal-browser` are not supported in iframed applications (`popup` and `silent` APIs are supported). This is a restriction from the Service where the login UX does not support rendering in an iframe. We are working on providing support for embedded application scenarios like this, however that work is currently in progress and hence there is no document

[2020-10-09 16:26] sameerag commented on #2403
@tnorling Can you please take a look at this?

[2020-10-09 16:34] xmesaj2 commented on #2309
Perhaps can still do it little hacky over an extra step after npm install and before ng build that invokes script that does eg. find and replace of that line
in the `angular.json` dir
[code]

[2020-10-09 17:02] #2391 closed

[2020-10-09 17:24] tnorling commented on #2403
@patrick-jones Thank you for the detailed explanation of the problem! It sounds like this would be solved by putting a delay between kicking off navigation and returning from `handleRedirectPromise`. Is that a reasonable conclusion? I'll see if I can reproduce this and get a PR up for a fix.

[2020-10-09 18:24] hectormmg commented on #2402
Hi everyone. There is a related bug in 1.4.1 which I have a fix for in #2376 pending some refactoring (it affects both access and ID token lookup). I need to investigate a bit further to confirm if it's the same issue, but either way this should be fixed in 1.4.2

[2020-10-09 19:20] #2228 closed

[2020-10-09 20:15] tnorling commented on #2315
Update: When exchanging a refresh token for a new access token the server will only respond with an access token for the scopes that were requested when obtaining that refresh token. This was by design but we are going to work with the server team to see if this behavior can be changed. Full disclosure: it will probably take some time to decide on and implement a fix.

The reason it appeared to wo

[2020-10-09 20:39] mhermher opened #2405 "Reimplement isNodeEnvironment without Eval"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [?] `@azure/msal-angular@0.x.x`
- [?] `@azure/msal-angular@1.x.x`
- [?] `@azure/msal-angularjs@1.x.x`

There must be someway to rewrite this function that does not depend on using a Function constructor

[2020-10-09 20:50] #2405 closed

[2020-10-09 20:51] mhermher commented on #2405
Wrong library! Sorry guys.

[2020-10-09 21:16] patrick-jones commented on #2403
I would think that you could just return `this.handleHash(responseHash)` after calling `BrowserUtils.navigateWindow(homepage, true)`. Maybe it won't complete before the redirect happens, but at least if it does it's the correct return value.

[2020-10-10 07:41] rajeshvinayagam commented on #2325
I tied updating the library still it produces the same error

[2020-10-10 22:16] judedaryl opened #2408 "Acquire silent token refresh strategy does not return an access token"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.3.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
When targeting multiple resources, acquireSilentToken does not return an access token for

[2020-10-10 22:35] judedaryl commented on #2408
This issue was addressed here https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1962/files, but i think it regressed for version 2.3.0

[2020-10-11 15:59] amng9560 commented on #2353
Hi, I'm still lost as to what to do about the refresh token because I am using the aquireTokenSilent method. I'm using react so to make the auth work, I'm using higher-order components and the auth component wraps the app component. I still can't figure out how to use the refresh token correctly. Can I please get a little more direction on how to use the refresh token? I get those errors and I hav

[2020-10-11 16:59] tnorling commented on #2408
@judedaryl This is a known issue with B2C and is being tracked in #2315. Please see that thread for the suggested workaround until a fix is rolled out. Closing as duplicate.

[2020-10-11 16:59] #2408 closed

[2020-10-12 03:38] rajeshvinayagam commented on #2234
Am still having the issue with the latest version of @azure/msal-angular@1.1.1. Can you help with the request.

[2020-10-12 04:30] deasems commented on #2401
Thanks @sameerag, I'll keep an eye out for roadmap updates.

[2020-10-12 04:30] #2401 closed

[2020-10-12 07:56] aimkey opened #2409 "Authentication failure, invalid audience with Confidential Client (Microsoft Graph, Node.js)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm trying to read and write users and send some email on my Node.js backend (permi

[2020-10-12 08:10] dfibuch commented on #2315
Cheers for the update @tnorling , I'm glad I wasn't actually going mad when I couldn't get it to work. Is there any harm staying on v2.1.0 of the library until a fix is implemented? Are there any critical changes that I should be using in v2.2.0/2.3.0?

[2020-10-12 12:23] felixvanleeuwen commented on #2309
@jasonnutter As assignee to this issue, any word?

[2020-10-12 13:44] graphicsxp commented on #2370
just to confirm I'm experiencing the same issue after upgrading to 1.4.1.
I use it along with angular-msal so it took me a while to figure out where the issue was coming from until I stumbled upon this post.

[2020-10-12 17:24] tnorling commented on #2315
@dfibuch No critical updates but if you do run into any other issues upgrading to the latest version is always a great first step. Also I would like to remind everyone that B2C integration with MSAL.js version 2 is not production ready and is only recommended for development environments at this time.

[2020-10-12 17:39] sameerag commented on #2409
@aimkey

You mentioned  `msal@1.x.x or @azure/msal@1.x.x` in your question. Are you using `msal@1.x.x  or msal-node`?`msal@1.x.x` does not support confidential client and supports only implicit_flow in browser apps.
If you are looking for a backend authentication support, please use `msal-node` which is currently in private preview [here](https://github.com/AzureAD/microsoft-authentication-library

[2020-10-12 17:50] sameerag commented on #2400
@bilalmalik777 Can you clarify if you are seeing the `token expired` error even after refreshing the token? Please note that every token has a limited lifetime and the application should refresh the token before expiry to keep it active. This usually can be done by calling `acquireToken` which silently refreshes the token.

I suspect that the page refresh is doing this for you and hence the error

[2020-10-12 17:51] sameerag commented on #2398
Can you please read the documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/request-response-object.md#scopes)?

Hope it helps!

[2020-10-12 17:56] sameerag commented on #2395
@meinto Please contact the [Android team](https://github.com/AzureAD/microsoft-authentication-library-for-android) for any more questions. Closing this.

[2020-10-12 17:56] #2395 closed

[2020-10-12 18:11] sameerag commented on #2372
@calvinnelms @ryan-ost Is calling `acquireTokenPopup` or `acquireTokenRedirect` working in this case?

[2020-10-12 19:25] #2373 closed

[2020-10-12 20:35] #2330 closed

[2020-10-12 22:25] aimkey commented on #2409
I got things working my changing my scope to ```'https://graph.microsoft.com/.default'```

[2020-10-12 22:25] #2409 closed

[2020-10-13 00:35] #2292 closed

[2020-10-13 03:24] sameerag commented on #2397
@hpsin We tried passing `extraQueryParameters` with `ui-locales`:`<desired language code>?` and still see the issue.

[code]

 Is there any other global setting needed here for the user to have dynamic language support for the above use case?

[2020-10-13 03:37] hpsin commented on #2397
ui_locales is not supported by AAD.  I've opened a tracking item for it internally.

[2020-10-13 07:06] vcs38 commented on #2295
I really need some support. Can someone tell me what else can I do ?

[2020-10-13 08:52] RichardSunMS opened #2412 "When could MSAL React package released?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-react@???`

Is there any release plan ready for msal React version?

Thanks.
Richard.

[2020-10-13 09:08] jonasgroendahl opened #2413 "Cannot read property 'split' of undefined` Error upon starting app"
## Library
- [ ] `@azure/msal-browser@2.3.0`

## Framework
Next.js

## Description
When using the HTML export feature in nextjs to build my app, I get an error once the app starts. It works fine locally in development, but as I soon as I export the app and run the static files, it throws an error. I believe maybe the error has something to do with msal-browser changing the browser history behind t

[2020-10-13 09:41] web265p3 commented on #2402
Waiting for 1.4.2 also... :)

[2020-10-13 09:45] ursedaniel commented on #1665
Hello, any news into this? It's a really good functionality and we really need it for our project, thanks!

[2020-10-13 09:53] tschmidt01 commented on #2402
Same issue here.

[2020-10-13 14:05] brunnosantos commented on #2268
@jo-arroyo Yep, I was referring to that line!

Btw, I've changed the strategy by using msal-browser 2.3.0 on APP_INITIALIZER as suggested on MS Msal 2 docs and everything is working fine now. They suggest using a strategy that avoids loading the entire angular app, then redirecting the user after the app is fully loaded. So basically, what I've managed to do was placing your code from canActivate

[2020-10-13 14:26] CerosDev commented on #1999
@tnorling any news?

[2020-10-13 15:05] Tzvetelin88 commented on #2384
When it is expected, sounds good.
So, storeAuthStateInCookie  is not yet available?

[2020-10-13 16:01] sameerag commented on #2413
@tnorling Can you please address this issue? This may fall under the `React` bucket of issues.

[2020-10-13 16:23] jasonnutter commented on #2384
@Tzvetelin88 `storeAuthStateInCookie` is already available in the library. As noted, it only enables storing of certain values in cookies.

See https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2060 for progress on custom storage.

(I will also reiterate that we do not believe that it is inherently insecure to store tokens in local storage. )

[2020-10-13 17:45] tnorling commented on #2413
@jonasgroendahl Can you clarify if `msal-browser` is throwing this error or something else? If you could provide a reproduction or do some debugging on your own to determine what's going on here that would be helpful. We have tested `msal-browser` with next.js and have not experienced this.

[2020-10-13 18:08] jonasgroendahl commented on #2413
if I remove the useEffect hook, the app works no problem. it only happens for **HTML exported nextjs** apps.

[2020-10-13 20:38] thoo1 opened #2416 "Seeings CORS error when POST /token returns 401. There are no CORS headers in response"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
Getting unexpected CORS error
sample x-ms-request-id: 1fc40f56-aa0b-4c05-9a96-45fd61420400

[2020-10-13 21:27] ankursehdev commented on #2412
looking forward to this too!

[2020-10-13 22:34] jasonnutter commented on #2416
@thoo1 Can you please confirm that the redirect URI used for the request is of type "spa"? This is required for CORS with MSAL v2.

[2020-10-13 22:47] thoo1 commented on #2416
@jasonnutter yes, I can confirm that, however its a bit complicated because i'm using safe rollout (our app is a first-party app) and so the config change that switches the reply url from "web" to "spa" is inside a safe rollout which is enabled by passing some queryParameters

I did this for `acquireTokenRedirect` and `loginRedirect` as those functions have options for `extraQueryParameters`, I no

[2020-10-13 22:59] jasonnutter commented on #2416
@thoo1 Ah, sounds like we need to add `extraQueryParameters` to the acquireTokenSilent API?

[2020-10-13 23:02] jasonnutter commented on #2416
Although looking at the logs for the request above, the error is happening when MSAL.js is attempting to trade the authorization code. If this error happens in that scenario, it means the redirect URI used to acquire the authorization code was not of type spa.

[2020-10-13 23:16] thoo1 commented on #2416
In that case then yea, it looks like the acquireTokenSilent api needs this `extraQueryParameters` to support safe rollout

I tried this manually by copying the request in browser and adding query param and it still fails with same error (no cors headers returned and response is 401) (x-ms-request-id: 935b4122-6d56-4cba-9501-950b35ba0a00)

Btw in fiddler, I'm able to see that the body is: {
  "erro

[2020-10-13 23:24] jasonnutter commented on #2416
As a workaround for now, when you get this error can you invoke `ssoSilent` (passing the same scopes and the users's email as the loginHint)? It accepts extraQueryParameters.

[2020-10-13 23:33] thoo1 commented on #2416
Sure, I can try that, however could we confirm if adding the safe_rollout query param to the request will fix the issue? Because in the above comment, I tried and the request was still failing

Is there a reason why 401s on this endpoint does not return CORS headers? This makes the js unable to read the response at all and do anything according to the response body's error codes

[2020-10-14 00:34] thoo1 commented on #2416
Thanks for the quick action on this @jasonnutter! Looking forward to the next release

[2020-10-14 00:34] #2237 closed

[2020-10-14 01:13] NuSkooler opened #2418 "msal-node multiple resources"
## Library
`@azure/msal-node`

## Description
I'm using `msal-node` with the device code flow. I would like to acquire consent and tokens for multiple resources but can't seem to figure out how to do it with this library. Please advise.

[2020-10-14 07:28] jonasgroendahl commented on #2413
Seems to be a problem with another dept. Apologies

[2020-10-14 07:28] #2413 closed

[2020-10-14 08:01] Tzvetelin88 commented on #2384
I agree, but the only concern with local storage is security. JavaScript code easily access local storage: it has no data protection whatsoever. This is the big one for security reasons.  It is perfect when you need to store some publicly available information that is not at all sensitive, doesn't need to be used in a high-performance app, isn't larger than 5MB, and consists of purely string data.

[2020-10-14 08:44] NishanthRE opened #2419 "MSAL throws clientAuthError"
At firsttime login with the msal is working fine. when i try to open the same application in another tab it throws an error as **clientAuthError:  The idToken is null or empty. Please review the trace to determine the root cause. Raw ID Token Value: null**
![Screenshot (482)](https://user-images.githubusercontent.com/43135722/95965120-345dad80-0e27-11eb-96d4-eb9c4905b2fa.png)

using the latest ver

[2020-10-14 13:53] abf7d opened #2420 "handleRedirectPromise is returning a null token response"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.3.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
I am developing an Angular 10 app that utilizes Azure B2C for policy and user management. I set

[2020-10-14 15:22] jrmcdona opened #2421 "navigateToLoginRequestUrl: true - For Dyanmic pages"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-browser@2.x.x`

## Description
I have dynamic pages, like a blog for example.  If the user tries to access a blog and they are not signed in, we are redirecting them to sign in.    Therefore, I want to use navigateToLoginRequestUrl: true.   However, I am gettin

[2020-10-14 15:58] Shyam268 opened #2422 "Logout is not working properly"
Packages Used:
   "msal": "^1.3.4",
    "@azure/msal-angular": "^1.0.0",
issue:
User cannot logout it struct at logout session page:
![image](https://user-images.githubusercontent.com/30112490/95956763-63baed00-0e1c-11eb-968b-8ec610106243.png)

Code to reproduce:
appsetting.json

[code]
msalConfig.ts
[code]
logoutComponet.ts
  logout() {
    this.authService.logout();
  }

app registration setting

[2020-10-14 15:59] Shyam268 opened #2423 "How do i configure msal angular service which is wrapper service of deferent services"
Used packages versions:
"@azure/msal-angular": "^1.0.0",
"msal": "^1.3.4",

json example:

[code]

msal-coniguration.ts
[code]
we have deferent service for deferent models instead of exposing all services  we are using wrapper service for these services.
the wrapper service(https://service-xyz-abc.azurewebsites.net) which will redirect to intended endpoints based on the route.

when we used respec

[2020-10-14 16:05] Shyam268 opened #2424 "Is there any way to only change password instead of forgot password?"
Is there any way to only change password instead of forgot password?

used packages versions:
"@azure/msal-angular": "^1.0.0",
"msal": "^1.3.4",

I have integrated msal and signup, sign and forgot policies are working fine.
but i have to give support to user to change password after login.

simillar issue https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/76

[2020-10-14 16:10] superman-lopez commented on #2268
I haven't tested this in depth, but the issue seems to be resolved when using the latest sample.

[2020-10-14 16:13] jasonnutter commented on #2384
@Tzvetelin88 HttpOnly cookies will not work for MSAL.js, as MSAL.js needs to be able to read/write cookies from JavaScript.

Closing.

[2020-10-14 16:13] #2384 closed

[2020-10-14 17:29] sameerag commented on #2418
@NuSkooler Can you please share your template code?

Here are the general guidelines on acquiring tokens for multiple resources:

* Please pass scopes(resource specific) in separate requests, typically one resource per `acquireToken` call
* Make sure the concerned consent is given to the user accessing the resources, either through interaction, or pre-consent in the portal

Please let me know if t

[2020-10-14 18:07] derisen commented on #2424
[Duplicate issue](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/76). Closing.

[2020-10-14 18:07] #2424 closed

[2020-10-14 18:37] tnorling commented on #2421
@jrmcdona You should set your `redirectUri` in MSAL to something that is registered in the portal and implement `handleRedirectPromise` on that page as well. After signing in AAD will redirect you to your `redirectUri` and from there `handleRedirectPromise` will redirect you a 2nd time to the original page that made the request (this is the part that `navigateToLoginRequestUrl: true` enables)

[2020-10-14 19:34] NuSkooler commented on #2418
@sameerag Thanks for your response. Here are some more details and some code:

I'm attempting to use `node-msal` to:
- Use the Device Code flow prompting the user to grant permission for multiple resource/scopes (requires user interaction of course)
- Acquire a token for each of the resource/scope pairs (this portion should be silent as they have already consented)

There isn't a ton of informatio

[2020-10-14 19:52] sameerag commented on #2420
@abf7d Can you please read the documentation on `handleRedirectPromise` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#i-dont-understand-the-redirect-flow-how-does-the-handleredirectpromise-function-work) and let us know if you are still seeing this issue?

cc @tnorling to track this if a follow up is needed.

[2020-10-14 19:53] sameerag commented on #2421
@jrmcdona You can also find the relevant documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#i-dont-understand-the-redirect-flow-how-does-the-handleredirectpromise-function-work)

[2020-10-14 20:22] brunnosantos commented on #2385
Subscribe to MSALBroadcastService.msalSubject$ and filter any events LOGIN_SUCCESS || ACQUIRE_TOKEN_SUCCESS... for my use case I just needed to do it once, but the operators depend on your needs

`if (authService.getAllAccounts().length > 0) {
        broadcastService.msalSubject$
            .pipe(
                filter(msg => msg.type === MsalBroadcastEvent.LOGIN_SUCCESS || msg.type === MsalBro

[2020-10-14 20:47] abf7d commented on #2420
I removed all other calls using my msalInstance object.  I'm still getting null for my response. I switched navigateToLoginRequestUrl to false as the redirectUri is the same as the login request url.  This is just a random question... looking at Azure Active Directory, I see the registration for my client id that I'm using is listed under "Owned Applications". Does that impact anything?

[2020-10-14 21:05] tnorling commented on #2420
@abf7d Could you implement the [msal logger](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#using-the-config-object) and paste the log messages here?

[2020-10-14 21:17] abf7d commented on #2420
I think I have implemented the msal logger (see MSAL Configuration above, loggerCallback). I get no messages in my console.

I looked under the application tab in the debugger and have found a number of entries:
msal.<other text>nonce.id_token<other text>
msal.<other text>request.params
msal.<other text>request.origin
msal.<other text>request.state<other text>
msal.<other text>authority<other text

[2020-10-14 21:41] sameerag commented on #2422
@Shyam268 Can you share your logs and any fiddler trace you can collect? Would like to especially see what is happening once you call `logOut` in `msal-browser`.

@hpsin Is there any known issue on the server end where post logout URI redirect is not triggered? I remember MSA accounts has this issue but unsure if it is fixed.

[2020-10-14 21:47] hpsin commented on #2422
![image](https://user-images.githubusercontent.com/1666363/96048927-2a8a7900-0e2c-11eb-9740-c867f7bb8774.png)

We won't send you to the logout redirect URI if the logout redirect URI is not registered. That's a dangerous open redirector avenue.

[2020-10-14 22:21] pedoe commented on #2402
Same

[2020-10-14 23:15] tnorling commented on #1999
The fix for this has completed rollout and should be generally available. Please make sure your `redirectUri` is registered in the portal as type "SPA" in order to be issued a 24hr refresh token.

Closing as resolved. If anyone continues to experience issues please open a new issue.

[2020-10-14 23:15] #1999 closed

[2020-10-14 23:42] tnorling commented on #2420
@abf7d Could you capture your network traffic when trying to login and email it to me? Email is on my profile. There are a couple reasons `handleRedirectPromise` might return null and the immediate obvious answers would have logged to the console. I'll make a note to add some more logging throughout `handleRedirectPromise`

In the meantime, while I look at the network traces it may be helpful if y

[2020-10-14 23:59] jasonnutter commented on #2423
@Shyam268 Different ways to dynamically configure MSAL Angular are documented here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/configuration.md

Is this what you are looking?

[2020-10-15 01:23] CerosDev commented on #1999
@tnorling Does this mean that msal-browser can be safely use with B2C now?

[2020-10-15 05:49] sameerag commented on #2422
Thanks @hpsin.

@Shyam268 Can you please configure your logout redirect uri for your app and let us know if it works as expected?

[2020-10-15 07:04] Shyam268 commented on #2422
I have mentions "postLogoutRedirectUri": "http://localhost:4200/" i think this should work right?. even @sameerag I tried logout redirect uri still it is not working.

[2020-10-15 07:08] hpsin commented on #2422
Your app registration has to also have it filled in. See the picture I posted above - your app does not have a logout redirect uri registered, so when your code attempts to use it, we reject it since no logout redirect uri matches.

[2020-10-15 08:14] ulken commented on #1999
@tnorling Friendly reminder, might want to update: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue

[2020-10-15 13:14] ryan-ost commented on #2372
It looks like we were not calling acquireTokenRedirect after acquireTokenSilent failed. After adding this, I am able to log in in safari.

[2020-10-15 14:20] Shyam268 commented on #2422
logout redirect uri is also not help full.

[2020-10-15 14:21] andreasgloor commented on #2268
@superman-lopez In the sample application handleRedirectObservable() is only called in MsalGuard on canActivate. If your redirect page isn't protected with the MsalGuard then there will be never an event created after the login redirect. You could call handleRedirectObservable oninit in your component then the events should be created.

[2020-10-15 15:32] rotirk20 opened #2433 "User login is required on non-guard route Angular"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular

## Description
The problem is that when we come to the front part of the page in which we didn't put in

[2020-10-15 16:08] nfpiche opened #2434 "Confusion around loginPopup"
## Library
- [x] `msal@1.4.1`

## Description
I am on page `myapp.com/sub-route` with potentially infinite sub-routes (in a SPA) and authenticate via `UserAgetApplication.loginPopup`.  We have an authorized `redirectUri` that is set to `myapp.com/specfic-route`.  I am unsure what is supposed to happen when the `loginpopup` hits that authorized redirectUri.  Currently it just hits that page, the po

[2020-10-15 16:12] lgadola commented on #2402
same problem

[2020-10-15 16:46] sameerag commented on #2434
@nfpiche The most common case we have seen where a `popup` can potentially stay open is if the `redirectUri` set in the `popup request` has a different domain than the webpage that initiated the `popup`. Can you please verify this?

Please provide your MSAL `configuration` and the `request` for us to further help you.

[2020-10-15 16:49] tal-athena opened #2436 "IPublicClientApplication.GetAccountsAsync() returns only empty array"
## My Code

[code]

## Expected behavior
After first login, I think _pca.GetAccountsAsync() should return accounts list and be able to refresh token

## Actual behavior
always _pca.GetAccountsAsync() returns empty array so, can't refresh token
So it ask to login every time app launches.

[2020-10-15 16:50] sameerag commented on #2433
@rotirk20 Can you please provide your `angular route configuration`?

[2020-10-15 16:52] sameerag commented on #2436
@tal-athena This seems to be MSAL .Net and not MSAL JS. Can you please raise this issue in the right [repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet)?

[2020-10-15 16:55] tal-athena commented on #2436
ah, right wrong raise,

[2020-10-15 16:55] #2436 closed

[2020-10-15 16:55] sameerag commented on #2419
@NishanthRE Can you please share your configuration? If you are using `sessionStorage` you will not be able to share authentication across tabs.

[2020-10-15 16:57] NishanthRE commented on #2419
Sameera,
          Thanks for the response. I have fixed it by myself.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Sameera Gajjarapu <notifications@github.com>
Sent: Thursday, October 15, 2020 10:26:06 PM
To: AzureAD/microsoft-authentication-library-for-js <microsoft-authentication-library-for-js@noreply.github.com>
Cc: Nishanthkumar M <nishanthkumar@clou

[2020-10-15 17:43] nfpiche commented on #2434
Thanks for the quick response @sameerag

Here is what our code looks like, this request is being initiated from `https://local.app.com:33221/some/other/route`.  Could the addition of the port have an effect?

[code]

[2020-10-15 18:07] #2419 closed

[2020-10-15 18:22] sameerag commented on #2434
I think so: Same origin policy  RFC6454 [here](https://tools.ietf.org/html/rfc6454#section-3.2) specifies that if a different `port` is used, it is not considered as `Same origin`.

[2020-10-15 18:42] calvinnelms commented on #2372
@ryan-ost Can you post a code sample of the "call acquireTokenRedirect after acquireTokenSilent failed" fix?

[2020-10-15 18:45] jasonnutter commented on #2434
@sameerag Correct, addresses with different ports are considered different origins.

[2020-10-15 18:50] ryan-ost commented on #2372
Sure, it's similar to the implementation in the sample app here on line 72: https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/authRedirect.js

[code]

I am sure there is a better way to do this, but I am hoping to upgrade to MSAL 2.0 once this is resolved: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2381

[2020-10-15 18:52] calvinnelms commented on #2372
Thanks @ryan-ost , I'll give this a try!