[2021-08-04 02:59] zettry1 opened #3920 "How to handle PERN(Postgres) authentication"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

2.0.0

### Description

Hello. My current app(Nodejs Web app) was using passport-azure-ad to signIn. Now I need to separate  into PERN stack assuming I successfully login using msal react at front-end how do I check authentication a

[2021-08-04 07:29] sickpuppysoftware opened #3923 "Extension/Manifest v3 Browser detection and use of window"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

msal-browser doesn't work as it should when called from a manifest v3 service worker.
I've adapted the extension sample in an attempt to get it working under manifest v3. However I have the following issues depending on where I try to use the library.
Background service worker - The library's

[2021-08-04 09:54] maxcww opened #3924 "ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I have used this msal-react library for few months already. Today I tried to logout of my application and login again. For some reason it didn't work anymore. It cannot retrieve the endpoints anymore from the

[2021-08-04 13:05] MaxEleg commented on #3768
It works ! Thank you but be careful ⚠️ **this script works only in nodejs env, not on the browser**

[2021-08-04 13:06] #3768 closed

[2021-08-04 13:47] tsnyder-gs1us commented on #3913
I got the Angular sample working by setting the system timeout values. Can you verify if we need both values and what is a expects timeout value for SLO.

      iframeHashTimeout: 8000,
      loadFrameTimeout: 8000,

[2021-08-04 13:50] viktorlarsson opened #3926 "BrowserAuthError: hash_empty_error: Hash value cannot be processed in Safari"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

When using loginPopup() in Safari, and after a successful login, an error message occurs  when the popup is closed on a deployed web app. Everything works in almost any other browser on the market. I have a r

[2021-08-04 14:12] viktorlarsson commented on #3926
The redirect uri is a bit wierd?

`https://localhost:3000&client-request-id=407c94d3-f017-44f7-98b5-9996a4b56884`

[2021-08-04 14:24] syatom opened #3927 "Is it possible to get an access token using client credential grant flow?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.12

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

I need to get an access token using the client credential grant flow from a React app, this seems impossible to do from the browser side, is there a way it can be done??

### MSAL Configuration

_No response_

[2021-08-04 15:14] celluj34 opened #3928 "Infinite reload loop when loading old/empty/expired #code"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

When loading my application with a faulty `#code` in the url, some handler in MSAL constantly redirects my application to base url `"/"` without removing `window.location.hash`.

### Error Message

There

[2021-08-04 15:16] celluj34 commented on #3928
I thought this issue was similar to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2884 but after updating, the issue remains.

[2021-08-04 15:55] samuelkubai commented on #3927
Hi @syatom, you cannot use the client credential flow on the browser as this is a flow reserved for server side applications that can ensure the `clientSecret` or `clientCertificate` used is kept secure. Thus the flow is only available through the `ConfidentialApplication` which is only available in `msal-node`.

[2021-08-04 16:06] acgritt commented on #3918
It turns out my issue was that Firefox, even in non-private browser was by default set to Strict mode for the 3rd party cookies and this was causing the blockage.

[2021-08-04 16:06] #3918 closed

[2021-08-04 16:21] syatom commented on #3927
Ok thanks for the reply, I had a feeling that was going to be the answer.

[2021-08-04 16:21] #3927 closed

[2021-08-04 16:35] samuelkubai commented on #3928
Hi @celluj34, could you please provide a step by step reproduction of this issue, using one of our samples, to better understand your code usage and flow.

[2021-08-04 16:38] samuelkubai commented on #3924
Hi @maxcww, could you email me the fiddler trace of both the working and broken situations of this, to best understand the issue.

[2021-08-04 16:40] samuelkubai commented on #3913
Hi @tsnyder-gs1us, thank you for reaching back out. The logout page should be a dedicated logout page, that does nothing else but perform logout. Could you describe the page for front-channel logout, as based on your description and solution suspect there might be call to get a token, either by interceptor through the http service or by another route.

[2021-08-04 16:46] jasonnutter commented on #3923
@sickpuppysoftware To clarify, this is what you are referring to? https://developer.chrome.com/docs/extensions/mv3/intro/mv3-overview/

Unfortunately, this isn't something we have tested, but we'll add it to our backlog to investigate. We also welcome PRs if you have ideas for specific changes that can be made.

[2021-08-04 17:11] sickpuppysoftware commented on #3923
That is what I'm referring to.

[2021-08-04 21:04] tsnyder-gs1us commented on #3913
Hi @samuelkubai, we were testing the msal.js Angular sample from this github repo. The logout page looks straight forward it does a console.log and then calls the logout redirect method. I think msal.js is doing something during page load. In the logger trace you can see messages coming from msal.js before the console.log from the logout page is displayed. By adding the timeout I think we are givi

[2021-08-05 01:00] #3790 closed

[2021-08-05 01:00] #3776 closed

[2021-08-05 01:14] zettry1 commented on #3920
@samuelkubai
Hello, I am looking for a best practice.
For SPA app auth handled in the client side, and how do I protect my back-end side? Is there recommended way of request method for only authenticated user can  access to back-end api.

[2021-08-05 02:29] derisen commented on #3920
@zettry1 in that case, you don't really need to authenticate users to the backend -you only need to make sure they are "authorized" to access data on your backend. For that, the client app calls the backend with a valid access token, attached to the authorization header of the request, and the backend validates the token, and if the token is valid, responds with the data. This sample would be a go

[2021-08-05 03:09] celluj34 commented on #3928
Sure thing, here's the repo: https://github.com/celluj34/microsoft-authentication-library-for-js/tree/feature/demo-broken-hash

All you have to do is clone, `npm i`, `npm run start`, let the app authenticate you successfully, then copy/paste `http://localhost:4200/#code=typeAnyTextHereItDoesNotMatter`.

The only changes I made were updating all libraries to the latest version, and making the `Home

[2021-08-05 07:51] viktorlarsson commented on #3926
I have located an issue at this line

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0e04ce3b0f93f001900d1056fc22bc18658a1bcb/lib/msal-browser/src/interaction_handler/PopupHandler.ts#L63

![image](https://user-images.githubusercontent.com/722315/128312690-31e206ac-f29a-4399-a8bf-a7ba0737b844.png)

As you can see, the contentHash is "" and will always be hit. Any idea why w

[2021-08-05 08:17] maxcww commented on #3924
Hi Samuel,

I have downloaded Fiddler and tried to record the internet traffic. I hope it is useful, I did remove some traces that seemed to be from different internet traffic not related to my application.
I have further no idea how to read those traces so I couldn’t debug it myself.

Best,
Max Wong

On 4 Aug 2021, at 18:38, Samuel Kubai ***@***.******@***.***>> wrote:

Hi @maxcww<https://github.

[2021-08-05 08:19] zettry1 commented on #3920
@derisen  Thanks, Looks like that is the only way :)

[2021-08-05 08:19] #3920 closed

[2021-08-05 08:36] viktorlarsson commented on #3926
Also only occurs when deployed to an App Service and not locallly, might it be that the web.config redirect is the issue here?

[code]

[2021-08-05 11:54] #3907 closed

[2021-08-05 13:27] jonybekov opened #3931 "Failed authentication. AADSTS700081: The refresh token has expired due to maximum lifetime."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I am getting "The refresh token has expired due to maximum lifetime." type of error after being inactive more than 24 hours. I've handled the edge case as mentioned in [here](https://github.com/AzureAD/micros

[2021-08-05 13:55] cccs-cat001 opened #3932 "[msal-react] AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

When using the msal-react library as defined, I get the title error upon logging in
[code]

### Error Message

AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'clie

[2021-08-05 13:56] cccs-cat001 commented on #3932
.. Forgot to mention in the above that I saw this issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3792 and attempted the fix from there, but that did not fix my issue.

[2021-08-05 14:19] viktorlarsson commented on #3932
Did you register an App on Azure AD?

[2021-08-05 14:22] cccs-cat001 commented on #3932
Yeah it's set up on AAD, I have a redirect URL for SPA set up as http://localhost:3000

[2021-08-05 14:41] av-virlan commented on #3879
@hectormmg @jasonnutter any idea on when an updated msal-browser build will be released with a fix for this?

[2021-08-05 16:03] jasonnutter commented on #3879
@av-virlan Latest version of msal-browser should contain this fix.

[2021-08-05 16:12] tnorling commented on #3932
@cccs-cat001 Do you happen to have other localhost reply urls registered or is that your only one?

[2021-08-05 17:05] av-virlan commented on #3879
@jasonnutter thanks I see it's published on NPM. I was looking for it in Github Releases and was only seeing 2.16.0, didn't think to check NPM directly 👍

[2021-08-05 22:15] jo-arroyo commented on #3896
@mleimer After conversing with the B2C team, they are happy to look at this issue. Please open a service request [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) directly for the B2C team so they can help you with this. Additionally, you are welcome to email me the network trace, and I can pass it onto the team to look at. My email is in my profile.

[2021-08-06 06:52] skyshine999 opened #3935 "msal logout not returning to login screen"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

none

### Description

msal application doesn't land me in login screen.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Reproduction Steps

ms

[2021-08-06 08:05] mleimer commented on #3896
I just received an answer from the Microsoft support team informing me that

Refer to:
“You can enable the KMSI feature for users of your web and native applications who have local accounts in your Azure AD B2C directory. When you enable the feature, users can opt to stay signed in so the session remains active after they close the browser. Then they can reopen the browser without being prompted t

[2021-08-06 08:05] #3896 closed

[2021-08-06 11:21] cccs-cat001 commented on #3932
Yeah I have other localhost ones registered, but not for SPA. I'm in the process of creating a replica app registration which will only have the one reply url to see if that fixes anything

[2021-08-06 11:41] AbhaysinghBhosale opened #3938 "Add option to use Secure Cookies to msal similar to msal browser"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Wrapper Library

Not Applicable

### Description

Msal stores the cookies in cache where in msal-browser there is option make cookies secure. Same option is not available in msal. I am using msal 1.3.2 where update to 1.4.2 also not have having such option to make cookies secure

### Source

External (Customer)

[2021-08-06 12:36] samuelkubai commented on #3935
Hi @skyshine999, could you recreate this with one of our samples to better understand your code flow and usage?

[2021-08-06 12:42] samuelkubai commented on #3932
Hi @cccs-cat001, feel free to let us know if it fixes the problem.

[2021-08-06 13:42] samuelkubai commented on #3913
Hi @tsnyder-gs1us, I agree the reason the timeout is fixing the issue is that it's giving the IFrame time to complete the other msal.js calls in order to complete the single logout call and thus successfully logout. To not need the timeout you would need to create a simple page for the logout action.

[2021-08-06 14:38] DevRCRun opened #3939 "Guidance over status of passport-azure-ad?"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

na

### Wrapper Library

Not Applicable

### Wrapper Library Version

na

### Description

Hi

When we initially started looking into the feasibility of authenticating with aad from node last year I first looked at https://github.com/AzureAD/passport-azure-ad/ after following MS documentation / tutorial.

It appears

[2021-08-06 16:18] tnorling commented on #3932
@cccs-cat001 Thanks for confirming. localhost is a special case in which the server treats localhost urls the same if the only difference is the port. (e.g. localhost:3000 is the same as localhost:4000) When you have multiple localhost urls registered under different app types the server will choose one at random to use which can result in the error you are experiencing if it didn't happen to choo

[2021-08-06 16:31] jasonnutter commented on #3939
@DevRCRun Apologies for the confusion. Yes, we are moving the `passport-azure-ad` codebase to this repo, and will continue to support it (no set timeline at the moment), albeit the current version is in maintenance (i.e no new features or non-critical bug fixes) while we work on providing a new solution for validating tokens and other middleware functionality based on MSAL Node.

[2021-08-06 17:18] LandyCuadra opened #3940 "adal-node: acquireTokenWithUsernamePassword is returning http error 405"
hi, I am trying to use the power bi REST Api... but first I need a token from the azure app... but it is returning:

`Error: WS-Trust RST request returned http error: 405 and server response: ""`

I am using 'https://analysis.windows.net/powerbi/api' as scope, the email account as username (not sure about this one), it respective password, and the applicationId as clientId.

any help would be appr

[2021-08-06 18:00] #3940 closed

[2021-08-06 20:11] #3820 closed

[2021-08-06 20:11] #3901 closed

[2021-08-08 01:00] #3898 closed

[2021-08-08 12:33] rhalaly opened #3943 "MsalAuthenticationTemplate isn't working under Teams Desktop as Tab App"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

`MsalAuthenticationTemplate` not working (nothing at all) under Teams Tab App in Teams Desktop

I'm using the code:
[code]

Everything is working well in the browser. But since I use this component my Teams T

[2021-08-09 07:19] maxcww commented on #3924
Hi Samuel, I think I found the problem. I had the login button wrapped in a <form> and by removing this, the login works successfully.

[2021-08-09 07:19] #3924 closed

[2021-08-09 15:43] happycollision commented on #3931
How strange. I looked up this error since I am new to the `msal-browser` package. I rewrote my code to call `acquireTokenRedirect` in a very similar fashion as you have, and it works just fine.

Is it possible that your `.catch` function isn't even firing? It doesn't seem like that should be an issue with the code you have shown in your example, but I wonder if you try and log something inside you

[2021-08-09 16:41] pkanher617 commented on #3938
@AbhaysinghBhosale We are not making any additional feature changes to msal@1.x versions today. If you would like the secure cookies behavior, you will have to move to msal 2.x. We provide some documentation for migrating to msal@2.x from msal@1.x [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md).

We also accept PRs if you wo

[2021-08-09 17:59] tsnyder-gs1us commented on #3913
Once, we have added the logout page and related checks to our full blown Angular application. We are seeing some weird timing issues where about 50% of the time the logout gets called but the user is not being logged out.

Note: Our application is Angular 12.

Were turned on Verbose logging and can see the request just stop before finishing the logout. Here are the logs differences when successful

[2021-08-09 20:07] tsnyder-gs1us commented on #3913
Some additional details. We see consistent behavior in Chrome and Edge. In Firefox we get an error back from B2C about trying to logout. The normal app logout works fine, we only see this error in Firefox when B2C triggers the single sign out flow.

loggerCallback: [Mon, 09 Aug 2021 20:00:47 GMT] : @azure/msal-browser@2.16.1 : Info - Emitting event: msal:logoutFailure main-es2017.e13715c413b62781c

[2021-08-09 22:01] jasonnutter commented on #3926
@viktorlarsson That check is needed, as it means the popup has been redirect back to your redirect uri, but there is no hash to parse, which is an expected scenario. Is it possible your application is removing the hash before msal has a chance to parse it?

[2021-08-10 00:45] rosspi opened #3949 "For 'User assignment required' prevent redirect and LOGIN_FAILURE event"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

Hello, I'm hoping somebody knows what my problem is here with MSAL or AAD.
I have an angular app that is referencing an application in AAD for which I have turned on 'User assignment required', and I have al

[2021-08-10 07:26] sammachin commented on #3914
I don't know what feedback you are wanting from me, all the info I have is in the issue and the parent issue linked.

[2021-08-10 14:15] aikobeyers opened #3950 "BrowserAuthError: interaction_in_progress - Unable to fix, regardles of solutions found"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I'm implementing security for the applications at the company I'm working at right now. I followed your example found [here ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/li

[2021-08-10 16:31] wwlorey opened #3951 ""Device must be managed by Microsoft" error when signing in with `acquireTokenByDeviceCode`"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When using MSAL's `acquireTokenByDeviceCode` to sign in on a device managed by Microsoft, the auth flow in the browser completes but this error is shown and an `AuthenticationResult` is never returned:

![image](https://user-image

[2021-08-10 17:50] niketk opened #3952 "AcquireSilentToken Tokenresponse.accesstoken is empty"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

We deployed msal.js changes in production. We are seeing an interesting issue reported by few users in Japan. The code requests a token for one of our apis and AAD actually returns it. However in our Gettoken

[2021-08-10 20:51] pkanher617 commented on #3943
@rhalaly The Teams Tab may not support the MsalAuthenticationTemplate. We do have a sample [here](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs) demonstrating using msal-browser and msal-react to sign in a user. There are updated instructions in [this PR](https://github.com/pnp/teams-dev-samples/pull/137) that may be easier to follow.

The redirect flow will not wor

[2021-08-10 21:04] rhalaly commented on #3943
Thanks for your response, I will try that.

My goal is to create a website that can be **also** a Teams Tab. So I want to share the code as much as possible.

I tried to use the `allowRedirectInIframe` flag, but it throws an error that `X-Frame-Options` is `deny` in microsotonline.com...

[2021-08-10 23:44] jasonnutter commented on #3951
Can you please share the correlation id (this is not PII). Thanks!

[2021-08-11 00:20] wwlorey commented on #3951
**Correlation Id**: 6ec11736-db61-4d61-978b-3cace889dd1d

[2021-08-11 01:00] #3904 closed

[2021-08-11 01:03] pkanher617 commented on #3950
@aikobeyers Are your sessionStorage values being cleared on page load? Or are they remaining in the cache when the page is reloaded? This usually happens when the page is reloaded without a recognizable hash and the values aren't cleared correctly before calling an `acquireToken` API. If this is happening, we need to figure out why the values in sessionStorage aren't being cleared.

Could you try

[2021-08-11 01:10] pkanher617 commented on #3949
@rosspi Could you provide a code snippet of how you are invoking authentication? You can add placeholders for any GUIDs and URIs.

Could you also provide any additional error information about the LOGIN_FAILURE event? Is there any additional messaging that is provided stating the cause of the failure?

[2021-08-11 01:13] pkanher617 commented on #3952
@niketk Could you provide some logs from the browser? This can help us see if the response is being processed successfully. It appears the server is returning an access token from the images of the trace, but MSAL isn't handling it correctly and returning a blank access token when processing the response. This may be due to a caching bug.

If you can, please send me the whole fiddler trace in an e

[2021-08-11 01:41] rosspi commented on #3949
The LOGIN_FAILURE js event is a valid kind of failure in the sense that it reports that the user I am trying to login with is not assigned to the app in AAD, and therefore should not have access.
But what I want to happen is for the login process on the Microsoft side to _not_ redirect back to my site when a user who is not assigned to that application attempts to login.
What is happening currentl

[2021-08-11 04:42] niketk commented on #3952
Hi Prithvi

You can access the full trace here : \\NIKETKWIN10DEV2\msal-jaissue<file://NIKETKWIN10DEV2/msal-jaissue>

Thanks
NIket

Sent from Outlook<http://aka.ms/weboutlook>
From: Prithvi Kanherkar ***@***.***>
Sent: Tuesday, August 10, 2021 6:14 PM
To: AzureAD/microsoft-authentication-library-for-js ***@***.***>
Cc: Niket Kalgaonkar ***@***.***>; Mention ***@***.***>
Subject: Re: [AzureAD/micro

[2021-08-11 06:52] aikobeyers commented on #3950
Hi @pkanher617 , the sessionStorage values are not being cleared on page load. I also have no idea why they are put in there, as I configured it to be stored in the localStorage.

I will try to reproduce it with your sample as well!

[2021-08-11 07:42] rhalaly commented on #3943
@pkanher617 but I set the `allowRedirectInIframe` to `true` but it still not working. Actually, I tried the `popup` way, it seems to be blocked as well.
When I use popup, it opens the Windows "Open With" dialog for some reason...

[2021-08-11 09:34] aikobeyers commented on #3950
I have also noticed that it automatically redirects me to login, even though I have nowhere specified to do that. I want to have it on a button, but whenever I run and open the app, if the storages and cookies are empty, it automatically prompts me to login.

[2021-08-11 11:56] ClemensSchneider opened #3961 "`MsalBroadcastService#inProgress$` can be stuck in `InteractionStatus#HandleRedirect`"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

`MsalBroadcastService#inProgress$` can be stuck in `InteractionStatus#HandleRedirect`.
I cannot provide a repo to reproduce the issue, but when looking at the code and its execution flow, it gets clear th

[2021-08-11 12:27] rhalaly commented on #3943
@pkanher617 I've tested the sample in your first message, but I get this error:

![image](https://user-images.githubusercontent.com/8597700/129028444-db41ac5a-7d33-4df6-9152-d786a5f59b7e.png)

[2021-08-11 12:43] kdmadej opened #3962 "`no_tokens_found` when using `acquireTokenSilent` or `logoutRedirect` with `Office.Dialog` API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I've implemented authentication flow in an Excel add-in using `Office.Dialog` API. The sign in flow seems to be working just fine – the add-in is able to perform actions that require authentication after the user signs in wit

[2021-08-12 08:27] skyshine999 commented on #3935
I integrated msal in my current react app. Sometimes it is not returning to login screen and i added my react app in electron container there also same behaviour

[2021-08-12 08:36] abhi12299 commented on #2600
Facing the same issue. Although in my case, it works sometimes for a few hours and breaks after that :(

[2021-08-12 09:07] sadiomanhne opened #3966 "Log in on multiple tabs"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

When I opened my web app on two tabs, I logged out tab 1, trigger event logout on tab 2 also.
Both of the tabs redirect to the login page: https://abc.b2clogin.com/abc.onmicrosoft.com/....
I input username/pa

[2021-08-12 10:25] selenajosephine commented on #3908
I was working through this - Expected identifier - this is the new error. function v({instance:e,children:t}){ at this line.
![image](https://user-images.githubusercontent.com/43022347/129181434-a0b4d41b-a356-4ff8-9311-af700a667b43.png)

[2021-08-12 10:30] selenajosephine commented on #3908
I use MSAL within my application, for IE, I dont want it to load at all, so I added the polyfills, configured lazy loading and everything, but still the page does not load. From my local workspace, it works, but after I take the build, it does not work.

[2021-08-12 11:53] cccs-cat001 commented on #3932
Sorry issue still isn't resolved, our cloud team is just taking a while to approve the app registration I'm trying to create

[2021-08-12 15:18] niketk commented on #3952
Hi @Prithvi ***@***.***> - any update on this issue ? This is impacting customers in our portal.

Thanks
Niket

From: Niket Kalgaonkar
Sent: Tuesday, August 10, 2021 9:43 PM
To: AzureAD/microsoft-authentication-library-for-js ***@***.***>; AzureAD/microsoft-authentication-library-for-js ***@***.***>; Prithvi Kanherkar ***@***.***>
Cc: Mention ***@***.***>; Jason Nutter ***@***.***>
Subject: RE: [A

[2021-08-12 16:32] pkanher617 commented on #3949
Sorry, I'm a bit unclear on the flow of how this is happening. Could you provide some more detailed repro steps? When you are signing in users, what API calls are you making? It sounds like you are making a redirect request? Generally if there is an error during a redirect on the login.microsoftonline.com page, it will display the error without navigating back to the application. `interaction_requ

[2021-08-12 16:37] pkanher617 commented on #3943
Just to clarify - invoking popup or redirect APIs in MSAL directly from the Teams Tab will not work today, as popups are blocked inside the Teams Tab (using DOM APIs) and redirects are not allowed, regardless of the `allowRedirectInIframe` flag. You will need to open a popup window using the Teams Tab API and redirect inside of that popup.

Regarding the device management error above, I'm not sure

[2021-08-12 16:37] pkanher617 commented on #3962
Are you calling `handleRedirectPromise` before the `acquireTokenSilent` method when coming back from a successful login? The app needs to resolve the `handleRedirectPromise()` Promise before attempting to retrieve something from the cache with `acquireTokenSilent`.

[2021-08-12 16:41] pkanher617 commented on #3966
Are there any details you can provide around the Bad Request error? or do you only see the 400 error code? And is the error coming from the B2C page or does tab 2 redirect back to your application before throwing the error?

[2021-08-12 16:47] PetrSnobelt opened #3967 "Pop params are missing in thumbprint"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Pop properties are missing in [requestThumbprint](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3837/files#diff-827dd2c804974fc1c04ca2f8fa2372b1d42f06b7d0c248f0b390da147e208931R93) and it means that

[2021-08-13 01:37] sadiomanhne commented on #3966
=> only see the 400, no additional information

=> The error coming from the B2C page
I think maybe the authentication status is stored on B2C page cookies, I logged in on Tab 1, the cookies set to authenticated or something like that, then I logged in on Tab 2, request will send the cookies that changed on Tab 1 to server. Server verify it is invalid and response a Bad request

[2021-08-13 07:41] JamesBaxterSoftware opened #3968 "Skip authentication when writing UI tests in cypress"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I have setup msal-broswer and msal-react authentication and it's working well but we need to be able to skip authentication so we can test features in isolation via cypress/selenium and not have to spend 10-1

[2021-08-13 07:48] DevRCRun commented on #3939
Thanks for the reply and clarifying the documentation

[2021-08-13 09:16] mleimer opened #3969 "MsalAuthenticationTemplate is rendering children despite having logged out in other tab"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

MsalAuthenticationTemplate does not get reevaluated upon reoping the browser tab containing that component.
This is a problem for NextJS applications using the SWR-Library with an MSAL-Access-Token to fetch d

[2021-08-13 16:21] jasonnutter commented on #3969
In step 6, are you refreshing the page?

[2021-08-13 17:34] selenajosephine commented on #3908
@tnorling , please use this repo - git@github.com:selenajosephine/azure-react-msal-test-app.git

The repository can be found here - https://github.com/selenajosephine/azure-react-msal-test-app. I basically cloned the app given here - git clone https://github.com/Azure-Samples/ms-identity-javascript-react-spa and followed steps mentioned here - https://docs.microsoft.com/en-us/azure/active-director

[2021-08-13 17:42] jo-arroyo commented on #3961
@ClemensSchneider While we haven't been able to reproduce this behavior either, we agree that this merits more investigation, and will add it to our backlog.

[2021-08-13 18:00] tnorling commented on #3908
@selenajosephine It says the repo is empty

![image](https://user-images.githubusercontent.com/5307810/129399803-7518c4f2-0489-408c-9db9-a52964a00b4e.png)

Can you also double check your browserslist includes ie 11? The sample you linked does not include ie 11 by default.

[2021-08-13 18:35] mleimer commented on #3969
@jasonnutter: No, I just open the browser tab without conditional or explicit page reload / refresh.

Due to the nature of how SWR works (in its default configuration), it will revalidate all data requested by child components upon focus (eg. when opening a browser tab with a page where those child components are rendered in). This then fails when it wants to try to get an access token, as there i

[2021-08-13 19:14] aoshi321 commented on #3926
I'm also encountering the same issue in Safari. @viktorlarsson did you manage to resolve this.

[2021-08-13 19:53] zhshqzyc opened #3970 "Can we get the fresh token through loginPopup() method?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.0.0

### Description

I want to get refresh-token when user login from loginPopup. The return value doesn't include it. I have to call another method to get the fresh token. It is inconvenient to the user. And I don't know wh

[2021-08-13 23:37] pkanher617 commented on #3968
@JamesBaxterSoftware We have some docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md) around sideloading tokens in v2.17.0. You can use this to initialize the msal cache for testing, as well as implement some level of mocking as you said.

[2021-08-16 08:19] selenajosephine commented on #3908
Yes, after adding the browserslist, I see that it works in the sample app. I tried doing the same thing in my actual app, and it still doesnt work.

I get an error in the highlighted section.

![image](https://user-images.githubusercontent.com/43022347/129532515-8aec0328-cf93-412f-a978-55009285ad3e.png)

/*!***************************************************************!*\
  !*** ./node_modules/@a

[2021-08-16 09:41] kdmadej commented on #3962
I'm not calling `acquireTokenSilent` after coming back from a successful login. I'm using a dialog-based flow as described [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins) and [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api).

The login/logout flows are performed using the redirect methods in a separate

[2021-08-16 15:12] afoures commented on #3968
it seems that the v2.17.0 is not published, when will it be available ?

[2021-08-16 16:11] scale-tone opened #3972 "How to (correctly) get an access token with "aud" claim set to AAD app registration's ClientId?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

.

### Description

The scenario is the simplest ever:
* Azure Function App acting as an API and protected by [EasyAuth](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) module.
* Client-side JavaScript SPA,

[2021-08-16 16:23] #3939 closed

[2021-08-16 16:40] tnorling commented on #3966
@sadiomanhne Please open a ticket with [B2C Support](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) as server side issues are out of scope for this library. Thanks!

[2021-08-16 16:56] tnorling commented on #3970
@zhshqzyc The refresh token is not returned by any MSAL API by design. If you can explain why you need it, I can try to suggest alternative ways to achieve what you're trying to achieve.

[2021-08-16 17:05] tnorling commented on #3972
@scale-tone The way to do this is to expose an API on your app registration and request this custom scope when acquiring a token using MSAL. [This tutorial](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis) walks you through the process of exposing an API on your app registration.

[2021-08-16 17:13] scale-tone commented on #3972
Thanks @tnorling , but as I was trying to explain, **this is not an option**.
I do not have control over those hundreds of AAD app registrations out there and I do not have an option to drop backward compatibility. I can't just break all those deployments with a new version and then say 'hey, you now need to add custom scopes to your AAD app'.

Do you have any better ideas?

[2021-08-16 17:47] tnorling commented on #3969
@mleimer The components we provide are meant to cover the most common use cases and may not meet all your requirements. The logic you describe is something you will likely need to implement yourself. What is the desired behavior when tab 1 is refocused? If `MsalAuthenticationTemplate` thinks no user is signed in it will auto redirect back to the login screen to attempt to sign a user in. That soun

[2021-08-16 17:50] tnorling commented on #3972
@scale-tone How are the existing apps working today? What scopes are they requesting?

[2021-08-16 17:58] scale-tone commented on #3972
@tnorling , as I was trying to explain, with adal.js and msal.js v1 people have always just put AAD app registration's ClientId (plain GUID) as a requested scope. This matched well EasyAuth Express settings. And always resulted in an access token containing that ClientId in its `aud` claim.

To underscore again, there're billions of existing AAD app registrations out there, that do not have any cu

[2021-08-16 18:17] zhshqzyc commented on #3970
I thought the fresh token was for the token expired or handling 401 unauthorized error in angular interceptor. If MSAL API is unnecessary to use the refresh token, please let me know. Otherwise would you please guide me the right direction?

[2021-08-16 18:20] tnorling commented on #3972
@scale-tone In Adal.js and Msal.js v1 requesting clientId as scope results in an `idToken` **not** an `accessToken`. Msal.js v1 API may return the token in the `accessToken` field but if you crack it open (using jwt.ms or other jwt decoder) you'll see that it is actually an `idToken`. To avoid breaking changes during migration to v2, use the `idToken`. However, idTokens should be used to identify

[2021-08-16 18:31] tnorling commented on #3970
@zhshqzyc The `acquireTokenSilent` API uses the refresh token under the hood when the access token is expired. The msal-angular interceptor uses `acquireTokenSilent` before it calls an API. Are you getting token expired or 401 errors unexpectedly? If so please share an example.

[2021-08-16 18:36] tnorling commented on #3908
@selenajosephine If it works in the sample app please try to figure out what your app is doing differently. It sounds to me like your bundler is misconfigured but it's impossible for me to help without a reproduction.

[2021-08-16 18:40] zhshqzyc commented on #3970
No, I can get the token by calling `this.authService.loginPopup({...this.msalGuardConfig.authRequest} as PopupRequest)`. But I can't find an example put `acquireTokenSilent` and `authService.loginPopup` together. Did you mean I need call `acquireTokenSilent` first then call `authService.loginPopup`?

[2021-08-16 18:41] tnorling commented on #3931
@jonybekov Where are you getting this error from? Is this being returned by an MSAL API or just in the network logs? This particular error should be caught and handled inside `acquireTokenSilent` and should never be returned by the API. If I had to guess based on the code you've shared, `acquireTokenSilent` is throwing a non InteractionRequired error which is why it's not redirecting on failure. L

[2021-08-16 18:55] tnorling commented on #3962
@kdmadej I'm noticing in your config you haven't specified a cache location (default is `sessionStorage`). This is very likely your issue. Can you try setting cache location to `localStorage` in your config? If you haven't seen this already you may also find [this sample](https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Office-Add-in-Microsoft-Graph-React), which demonstrates u

[2021-08-16 18:58] tnorling commented on #3951
@wwlorey We'll need a timestamp as well to look this up in the server logs. Feel free to reach out to me on Teams and we can get this figured out.

[2021-08-16 20:23] tnorling commented on #3935
@skyshine999 In order for post logout redirection to occur you need to:
1. Register your `postLogoutRedirectUri` as a reply url on your app registration
2. Provide the `postLogoutRedirectUri` to the MSAL config and/or the logout API
3. Have a valid, unexpired session on the AAD server

Can you please verify that all 3 of these things are true? If so, please provide a `correlationId` and a timestam

[2021-08-16 20:52] scale-tone commented on #3972
OK, that was my suspicion as well...

Can you explain *why exactly they should not* be used? I mean, I know, that the documentation page says so, but it doesn't explain that either. Are they less secure or what?

As I was trying to explain, the above-described workaround with `client-id/.default` scope does produces an actual **access token** (not an id_token).
Are you saying that this approach is

[2021-08-16 22:36] tnorling commented on #3913
@tsnyder-gs1us Can you please share your msal config and email me a network trace of the failure? Endpoints_resolution_error means something happened that prevented msal from retrieving the end session endpoint. This can happen for a number of reasons and if you can catch this error and inspect the `errorMessage` property that may provide additional context about why it failed in this case.

[2021-08-16 22:38] tnorling commented on #3970
@zhshqzyc `loginPopup` should be used when no user is signed in. After that `acquireTokenSilent` can be used instead (until an `InteractionRequiredAuthError` is thrown). If you're using the msal-angular Interceptor it will call `acquireTokenSilent` for you under the hood and you do not need to do this yourself. All of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js

[2021-08-16 22:50] Dima11235813 commented on #3966
@sadiomanhne
I've always implemented cross tab auth event tracking in my own code as MSAL doesn't implement that.

You can use local or session storage events to indicate if you are authenticated or not.

That way when you have multiple tabs open. You can trigger msal's logout redirect and also set some state in browser storage.

Then have an browser state event listener for that change and trigge

[2021-08-16 22:59] zhshqzyc commented on #3970
Thanks for the nice hint.
The specific question is that I don't use `msal-angular Interceptor`. I created [interceptor] (https://angular.io/api/common/http/HttpInterceptor) by myself. Also I use loginPopup in MSAL. So in this case there is no refresh token available.

[2021-08-16 23:12] tnorling commented on #3972
@scale-tone

IdTokens only contain information about **who** the user is, not about **what** they can access (scopes). There's also the issue of validating tokens, the API should only ever accept tokens issued for its own clientId and reject those that don't match.
Access tokens can also benefit from additional security mechanisms including [Proof of Possession](https://github.com/AzureAD/microsof

[2021-08-16 23:17] tnorling commented on #3970
@zhshqzyc Any particular reason you are not using the provided interceptor? Since you are writing your own you will need to call `acquireTokenSilent` in the Interceptor and fallback to `acquireTokenPopup` when it fails. `loginPopup` is only used when the user initially needs to sign in for the first time. You can take a look at the provided interceptor's code to see how we do this [here](https://g

[2021-08-17 05:54] garrytrinder commented on #3445
@sameerag can you elaborate on 'selective versions'? We have an open issue https://github.com/pnp/cli-microsoft365/issues/2637 where a user is now unable to authenticate after we moved to `msal-node` but was able to when we previously used `adal-node`.

[2021-08-17 06:51] mleimer commented on #3969
@tnorling May I ask how I can implement said logic myself. Is it sufficient just to check whether there is at least 1 account or an active account and/or should I also try to fetch an access token to identify if a user is still authorized or not?

Actually, the redirect to the login screen upon opening tab 1 again is desired in our use case. I understand that other teams might want to have special

[2021-08-17 08:28] jonybekov commented on #3931
As I explained in the question, I'm getting them both, in the console and networks tab. I was also getting `Refused to display <Proxy target URL> in a frame because it set 'X-Frame-Options' to 'deny'` type of error in the console. We are using proxy and I thought that ignoring X-Frame-Options explicitly would help. Fortunately, it did. We re-configured our backend and set X-Frame-Options to SAMEOR

[2021-08-17 09:46] kdmadej commented on #3962
Oh boy... of course! 🤦‍♂️  I was so sure I set it that my mind just kept skipping over that part of the code.
This fixed the issue right away! Thank you so much for your help and sorry for the trouble 🙈

[2021-08-17 11:18] cccs-cat001 commented on #3932
Looks like it works fine with just the one localhost redirect :)

[2021-08-17 11:18] #3932 closed

[2021-08-17 11:19] scale-tone commented on #3972
This makes sense, thanks for explanation.

Again, yes, here we're talking about the simplest yet most typical "SPA+its own API" scenario, where the app registration doesn't have nor will ever have any custom scopes. Therefore this approach really seems to be the way to go. I suggest it to be explicitly documented and/or illustrated with a dedicated sample.

[2021-08-17 11:26] viktorlarsson commented on #3926
@aoshi321

* The first issue was that the redirect uri was set to the startpage, which redirected to /login. Every other browser on the markets seems to handle this except Safari
* The last issue was that redirect uri requires you to have a trailing slash, otherwise Safari will not add the #code=121412. so redirecturi needs to. be 'https://www.domain.tld/login/' or 'http://localhost:3000/login/'

[2021-08-17 12:29] StefanSchoof opened #3976 "npmjs has no licence for @azure/msal-angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://www.npmjs.com/package/@azure/msal-angular

### Description

![grafik](https://user-images.githubusercontent.com/4662023/129725548-cc27837c-b3be-4ac9-8709-e113a7045586.png)

On https://www.npmjs.com/package/@azure/msal-angular the License field says None,

[2021-08-17 13:56] zhshqzyc commented on #3970
Thank you!

[2021-08-17 13:56] #3970 closed

[2021-08-17 15:45] tnorling commented on #3931
@jonybekov

The question is: is this being thrown from the MSAL API? As in, can you catch it in your code or is it just showing up in your browser dev tools? This error is not unexpected unless it is directly being thrown by `acquireTokenSilent`.

When the refresh token is expired `acquireTokenSilent` will fallback to the hidden iframe flow whereby it will open a hidden iframe on your page and nav

[2021-08-17 15:59] tnorling commented on #3972
@scale-tone You'll find a sample for this scenario [here](https://github.com/Azure-Samples/ms-identity-javascript-tutorial#chapter-3-protect-an-api-and-call-the-api-from-your-client-app). Closing as the original question has been answered.

[2021-08-17 15:59] #3972 closed

[2021-08-17 16:06] scale-tone commented on #3972
Thanks, @tnorling , but again, as I was trying to explain, that sample requires creating custom scopes.
The goal is to _avoid_ requiring that, so that your library **remains backward-compatible**.

People are very much outraged already by this never-ending migration saga (adal->msal v1->msal v2->...) , can we please try to not complicate things even more?

[2021-08-17 16:34] tnorling commented on #3976
@StefanSchoof Thanks for pointing this out. Will make sure this gets addressed.

[2021-08-17 16:34] tnorling commented on #3962
Thanks for confirming that fixed it! Closing.

[2021-08-17 16:34] #3962 closed

[2021-08-17 16:46] tnorling commented on #3969
@mleimer

Checking if there is 1 account or an active account should be sufficient to tell you whether or not you need to "login". When you need a token the pattern should always be to call `acquireTokenSilent` and if that fails call `acquireTokenRedirect` or `acquireTokenPopup`.

I agree this does sound like a reasonable request. I'll mark this as an enhancement and see what can be done on our en

[2021-08-17 16:50] tnorling commented on #3968
@afoures We typically release new versions on the first Monday of the month, making the next release scheduled for 9/6. If you need a solution before then we also have a sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TestingSample/test/browser-test.spec.ts) demonstrating how you can obtain tokens using msal-node's ROPC flow an

[2021-08-17 16:52] tnorling commented on #3862
Closing as answered.

[2021-08-17 16:52] #3862 closed

[2021-08-17 21:25] tnorling commented on #3928
@celluj34 Thanks for providing a repro, I was able to determine root cause here and will make sure this gets addressed. Please also note that your `redirectUri` should not be protected by the Guard when using path routing as documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-guard.md#using-the-msal-guard-with-path-routin

[2021-08-17 21:34] celluj34 commented on #3928
Ah, interesting. It seems like every time there's _one more_ thing I need to do to correctly implement MSAL 😅

The issue came up when (IIRC) a co-worker had an old token saved in their history when they navigated to our internal application. I believe a more nuanced login/logout/token-expired scenario would be the main cause, though I didn't dig deep enough to explore all possibilities.

[2021-08-17 21:35] tnorling commented on #3445
@garrytrinder `msal-node` supports ADFS 2019 and ADFS federated through AAD. You can read more about this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/ADFS.md). Please open a new issue if you are having specific problems migrating from adal-node

[2021-08-17 21:41] tnorling commented on #3928
@celluj34 Gotcha, I believe that scenario would be addressed by creating a dedicated, unprotected redirect route. Even still entering `#code=` into the url on any page should not result in this broken behavior and I'll make sure that gets fixed in the next release. Thanks for providing a quality reproduction, it's super helpful in tracking these sorts of bugs down.

[2021-08-17 21:49] celluj34 commented on #3928
FWIW here's the workaround I'm currently using:

[code]

[2021-08-17 21:58] celluj34 commented on #3928
@tnorling Actually, regarding the unguarded /auth route, what's the purpose of <app-redirect> then? I am using that in my index.html.

[2021-08-17 22:08] tnorling commented on #3928
@celluj34 When you use the dedicated /auth route what happens is that after sign in the server will redirect you back to /auth and that page will strip the #code from the url, temporarily cache it and redirect you back to the original calling page, let's say /profile. The original calling page will need to call `handleRedirectObservable` to exchange the cached code for a token. When you bootstrap

[2021-08-17 22:11] celluj34 commented on #3928
So I should use both, then? Because with /auth but no `<app-redirect>`, I am still logged in/out correctly.

[2021-08-17 22:14] tnorling commented on #3928
Because the Guard is calling `handleRedirectObservable`. If all of your routes are protected by the MsalGuard you do not need the `<app-redirect>`.

[2021-08-18 09:24] rhalaly commented on #3943
OK, it seems to be working but sometimes I get the device management error (randomly?)

No, it is not a new app. We have had this app for years as a web app, and I can sign it inside the browser. Now as a Teams app I get this device management error but sometimes

[2021-08-18 16:16] tnorling commented on #3943
@rhalaly Do you have a correlationId and a timestamp you can share?

[2021-08-18 16:17] rhalaly commented on #3943
How can I get them?

[2021-08-18 16:21] tnorling commented on #3943
@rhalaly You can click "More details" on the error screen and it should give you the details

[2021-08-18 16:32] rhalaly commented on #3943
Ok next time it happens I will notify you with all the details. I will close this issue now so it not be locked by your policy. This happens randomally so I don't now when it will appear next time

[2021-08-18 16:32] #3943 closed

[2021-08-18 18:20] zhshqzyc opened #3979 "The token can't be found in request header"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

I use MsalInterceptor to do authentication. I can see the token the localstorage but in Network TAB, click any api it won't show the token in the header. I am not sure if it related protectedResourceMap.

I

[2021-08-18 18:45] #3976 closed

[2021-08-18 18:51] tnorling commented on #3979
@zhshqzyc Can you please provide your msal configuration? The code snippet you shared does not show where you are providing the `protectedResourceMap` to msal. Please review [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md) for interceptor usage directions.

[2021-08-18 19:17] zhshqzyc commented on #3979
It is something like
[code]
and
[code]

[2021-08-18 19:36] Neutrino-Sunset opened #3980 "MSAL 2 - Angular 12 sample does not work"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2

### Description

The Angular 12 sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular12-sample-app) does not work.

### Error Message

Attempting t

[2021-08-18 19:42] #3793 closed

[2021-08-18 20:13] tnorling commented on #3980
@Neutrino-Sunset Please use your own clientId and authority. The default values in our samples are used for internal testing.

[2021-08-18 22:17] tnorling commented on #3913
@tsnyder-gs1us Based on the fiddler trace you provided it appears a network call to the ./well-known/openid-configuration endpoint is being aborted (possibly due to the front channel logout iframe being closed prematurely) which is resulting in the endpoints_resolution_error. Given that this network call is unnecessary in the front channel logout scenario I'm going to make a change to ensure this

[2021-08-19 00:00] tnorling commented on #3979
@zhshqzyc Are both the graph api call and your app's api call missing the access token, or is it just your own local api call that's not working as expected? Also you should not send your Graph access token (User.Read scope) to your own api. That token is intended only for MS Graph.

Please provide a link to a minimal reproduction of this issue using one of our samples [here](https://github.com/Az

[2021-08-19 01:20] zhshqzyc commented on #3970
try https://github.com/zhshqzyc/FullStack

On Mon, Aug 16, 2021 at 7:17 PM Thomas Norling ***@***.***>
wrote:

[2021-08-19 01:21] zhshqzyc commented on #3979
try https://github.com/zhshqzyc/FullStack

[2021-08-19 08:36] aikobeyers commented on #3950
Hi, @pkanher617 have you perhaps had any time? I don't want to be in your heels but I haven't found anything myself yet.

[2021-08-19 09:31] aikobeyers commented on #3950
Update: I've had a breakthrough. If I change the login type to Popup and handle it this way, it's fixed. I can login and logout without any issues. However if I then change it back to Redirect, it's broken again. So for now I'll keep it on Popup. Simple solution, but I hadn't thought of it because I assumed the issue would be occur there as well.

[2021-08-19 16:11] tnorling commented on #3979
@zhshqzyc Each resource (MS Graph or your API) has their own scopes (permissions) associated with them. User.Read, for example, is a MS Graph scope and is used to acquire an access token for MS Graph. If you are implementing your own custom API you need to create a custom scope on your app registration and request that. "customscope.read" is meaningless unless you've previously created a scope wit

[2021-08-19 16:17] tnorling commented on #3950
@aikobeyers If you wish to use redirects please review [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) to understand how redirects work and the additional considerations around handling redirect responses. Please also review [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/m

[2021-08-19 16:29] r4hulp opened #3985 "MSAL Angular shows blank page on IE11 with an error "Syntax Error""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

When I try to locally debug my Angular 9 project on IE11 (unfortunately, my client expects the app to work on IE11 too),

I get a blank app and this error in console -

![image](https://user-images.github

[2021-08-19 17:17] zhshqzyc commented on #3979
We are close the final line. Say the clientId is `d16e1a06-3be2-4ae1-8bd4-718c19cecac3` Please tell me which one is correct if I want use wildcard for all?
One
` protectedResourceMap.set('http://localhost:8080/api', ['api://d16e1a06-3be2-4ae1-8bd4-718c19cecac3/api']);`
Two
 ` protectedResourceMap.set('http://localhost:8080/*', ['api://d16e1a06-3be2-4ae1-8bd4-718c19cecac3/.read']);`
Three
` protect

[2021-08-19 17:21] tnorling commented on #3985
@r4hulp You've selected `msal-browser` but specified version 1.4.12. Can you please confirm if you are using msal.js v1 or v2?

Please review [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/ie-support.md) for instructions on supporting IE11 with msal-angular and let us know if you're still having issues.

[2021-08-19 17:30] tnorling commented on #3979
@zhshqzyc Regarding the resource if all your apis reside under `/api` you may need to try the following as it can depend on how your app is configured:

`http://localhost:8080/api/*` or `/api/*` or `api/*`

For more information please read [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md)

Regarding the scope y

[2021-08-19 17:32] r4hulp commented on #3985
Updated the issue.. I am using `2.16.1`. I made the required changes for IE11 but somehow I can not open `http://localhost:4200` on IE11..

[2021-08-19 20:50] StefanSchoof opened #3987 "Dead Link on angular readme"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/README.md

### Description

In Usage -> Advanced Topics -> CORS API is a link to https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angu

[2021-08-20 00:02] zhshqzyc commented on #3979
For the right side of protectedResourceMap.set.
`['api://d16e1a06-3be2-4ae1-8bd4-718c19cecac3/api']`
Is the `d16e1a06-3be2-4ae1-8bd4-718c19cecac3` clientId or application Id? I think clientId is different from applicationId.

[2021-08-20 00:06] tnorling commented on #3987
@StefanSchoof Thanks, looks like this link wasn't removed when the doc was removed, will make sure this gets fixed. Was there something in particular you were looking for?

[2021-08-20 05:05] StefanSchoof commented on #3987
No, I am using CORS and was curious about this link. Ao I wanted to read if there was something good to know.

[2021-08-20 05:56] garrytrinder opened #3991 "[adal-node -> msal-node] ADFS auth no longer working in CLI for Microsoft 365 after migration"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.2.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

None

### Description

Related to https://github.com/pnp/cli-microsoft365/issues/2637

A user has reported an issue with authenticating to Microsoft 365 using ADFS authentication flow since we migrated from `adal-node

[2021-08-20 16:26] tnorling commented on #3991
@garrytrinder Unfortunately ADFS 2012 is not supported in msal-node. If you would like to migrate from ADAL to MSAL you will need to also upgrade to ADFS 2019+

[2021-08-20 16:31] tnorling commented on #3987
@StefanSchoof All of the information that was in that doc is now in [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md)

[2021-08-20 16:33] StefanSchoof commented on #3987
Thanks, @tnorling

[2021-08-20 16:35] tnorling commented on #3985
@r4hulp Are you saying it is still giving you the syntax error?

[2021-08-20 16:44] tnorling commented on #3979
@zhshqzyc

ClientId and ApplicationId are the same thing.

He did. See [here](https://github.com/tamani-coding/angular-msal-interceptor-example/blob/main/src/app/app.module.ts#L20). If you need an access token for an API you need to specify at least 1 scope in the `protectedResourceMap`. If the API does not require an access token (unprotected) then you do not need to specify a scope in the `prote

[2021-08-20 16:47] tnorling commented on #3926
@viktorlarsson Can you please confirm whether or not this issue has been resolved?

[2021-08-20 17:53] garrytrinder commented on #3991
Thank you for confirming @tnorling 👍🏻

[2021-08-20 17:53] #3991 closed

[2021-08-20 18:37] #3987 closed

[2021-08-20 21:34] tsnyder-gs1us commented on #3913
@tnorling, thanks for the suggested work around. We tested setting the authority metadata manually and the issues in Firefox has been resolved. This work around appears to resolved the timing issues we were seeing in Chrome and Edge too. We will continue testing the single logout functionality next week across all browsers.  At what point, will your PR to skip calling the authority metadata be mer

[2021-08-21 10:13] zhshqzyc commented on #3979
That is my confusion. My thought is to add a scope is through portal setting something such as the 'read' in the image
![portal-02-expose-api](https://user-images.githubusercontent.com/7240266/130318495-22dbf2f3-f366-40bf-90ae-17c548ecd343.png).

Then adding the code in app.module.ts. But the author of the video didn't set it in portal. Do I miss something? Because I still can't get the token atta

[2021-08-23 11:16] kleky commented on #3949
Hi, I'm having this same issue. I'm getting the error screen `Sorry, but we’re having trouble with signing you in.`, but I don't want this; I want to be re-directed back to the app and handle this in the app, allowing the user to sign out of the invalid account.

Here's my setup:

[code]

I'm using Authorization Code Flow with PKCE and have a SPA redirect URI in there for `http://localhost:4200`

[2021-08-23 13:46] r4hulp commented on #3985
That's correct. It gives me the Syntax Error as mentioned in the screenshot. I tried running the MSAL examples too, I get the same error.. Is MSAL compatible with IE11 anymore?

[2021-08-23 16:17] tnorling commented on #3979
@zhshqzyc

Yes, you need to do this.

I've taken a quick look at the video. He actually does do this, starting at the 11:00 mark.

This is likely because you haven't registered the scope in the portal. The access token will only be acquired if a scope is both registered **and** requested.

[2021-08-23 19:26] jahed-uddin opened #3997 "Retrieve the ID token (not access token) from msal-react library?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

2.0.0

### Description

Using @azure/msal-react lib, I am able to retrieve the JWT Access token, but unsure on how to retrieve the JWT ID token from using the MSAL libray (although I can clearly see the claims as an object when I co

[2021-08-23 19:43] jasonnutter commented on #3997
@jahed-uddin Unfortunately, the raw id token is not available via acquireTokenSilent. You are not the first one to request this (e.g. for id_token_hint for logout), so I'll add to our backlog as an enhancement.

You can get the raw idToken as part of the AuthenticationResult returned from login calls (however this may not work for your needs).

[2021-08-23 19:55] jahed-uddin commented on #3997
@jasonnutter Many thanks for your response, can you please give a snippet how I can get the raw idToken using **AuthenticationResult** returned from login calls.

[2021-08-23 20:10] tnorling commented on #3997
Is this true? All APIs should return both idToken and accessToken, we don't discriminate in v2

Thomas Norling
Software Engineer II
Azure Identity - Auth Client (MSAL.js)
***@***.******@***.***>

[Microsoft Logo]

________________________________
From: Jason Nutter ***@***.***>
Sent: Monday, August 23, 2021 12:43 PM
To: AzureAD/microsoft-authentication-library-for-js ***@***.***>
Cc: Subscribed **

[2021-08-23 20:15] jahed-uddin commented on #3997
@tnorling  Thanks for replying. Are you addressing me or @jasonnutter? I'm just asking the questions as I have zero experience with msal until like yest.

[2021-08-23 20:21] jasonnutter commented on #3997
@jahed-uddin Correction, the raw id token is available when you call `acquireTokenSilent` (response.idToken). It is not available on the `AccountInfo` objects returned from the account APIs. Will still keep in backlog, as others have asked for this.

Can you clarify why you want the id token? In most cases, registering a custom scope and getting an access token for that scope is the correct usage

[2021-08-23 21:16] jahed-uddin commented on #3997
ok many thanks @jasonnutter. Basically, I want to use that JWT so I can send it to my backend Django REST API and use it for protecting my API endpoints. I.e. if a user has managed to sign in from the Front-End using msal-react lib, then  that token can be sent to the Backend REST API (who can verify the JWT) and subsequently return protected API data behind the Django API. It sounds like as if yo

[2021-08-23 21:42] muratygt opened #3998 "iframe for token refresh is NOT hidden and distracts the user"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.11

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

As the documentation indicates, MSAL implicit flow does not refresh token (v1) automatically so we need to call acquireSilenToken() periodically to refresh token. We implemented this approach in our web app (React) as seen th

[2021-08-23 21:44] jasonnutter commented on #3998
Can you please provide a screenshot of this behavior? The iframe created by MSAL should be hidden and not require any user interaction to close.

[2021-08-24 04:31] rosspi commented on #3949
@kleky You're actually having the opposite problem to me.
The behaviour I _was_ experiencing is the one that you want.
However, I have noticed recently (past week), that the login flow behaviour has changed to align with what I was expecting - I assume something changed on the Microsoft end.

[2021-08-24 09:11] jahed-uddin commented on #3997
@jasonnutter

Please advise how I can register for a custom scope?

[2021-08-24 09:20] BogdanGeorge opened #4000 "Forgot password"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Our home page is redirecting to login page when the user is not authenticated using MsalAuthenticationTemplate. On the b2c login page when i click reset password it redirects back to our website with an error

[2021-08-24 10:28] jahed-uddin commented on #3997
Why does the JWT **ACCESS TOKEN**  `acquireTokenSilent` (response.idToken) contain invalid signature (I have used the following code and also pasted the JWT in jwt.io and it says the signature is invalid):

[code]

[2021-08-24 11:14] jahed-uddin commented on #3997
Hi @jasonnutter,

I created a token using custom scopes and token validation works fine. However, if I want to call MS Graph now, that token is not valid - my question is can I get tokens that will have scope to both the custom APi and Graph, or will I have to create seperate msal instances in my react app (with the API specific scopes in those MSAL instances).

[2021-08-24 13:44] EricEzaM commented on #3997
I am looking for this as well. If I explain my use case could you let me know if it sounds like a reasonable way of doing things?

I would like my app (react SPA + .NET REST API) to allow login with Microsoft accounts (Azure AD), but don't need it to call downstream API's on the users behalf. I just want to use MS Accounts for authentication, not authorization (I will handle authz on my app side).

[2021-08-24 15:11] kleky commented on #3949
Hi @rosspi , yes that's correct, I want the behaviour you didn't want.

[2021-08-24 15:36] jasonnutter commented on #3997
Access tokens are scoped per resource, thus you cannot get an access token that will work for both your web api and ms graph. As a result, you will need to invoke acquireTokenSilent twice, once for each set of scopes for each resource, which will give you an access token you can use for that respective resource. You do not need to create a new instance of MSAL.

Read more here: https://github.com/

[2021-08-24 18:21] JJHakiLe opened #4001 "[Question] Get Authorization Code URL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi All,

I was playing around with MSAL-Browser library and was wondering if there was a way for a developer to get the query string parameters of the authorization code URL when a user uses the loginRedirect() function (or a

[2021-08-24 18:36] tnorling commented on #4000
@BogdanGeorge What does `initializeMsalInstance` do? Does it just instantiate `PublicClientApplication` and return it or is it also calling `handleRedirectPromise` (if it is it should not be)? `MsalAuthenticationTemplate` should also be listening for the `LOGIN_FAILURE` event and rendering the error component. The fact that it's invoking the login tells me it may not have registered the event call

[2021-08-24 18:55] jasonnutter commented on #4001
Yes, the `onRedirectNavigate` callback will be invoked with the full url. Returning `false` in this callback will stop the pending navigation: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/6b257b717/lib/msal-browser/src/request/RedirectRequest.ts#L37

[2021-08-24 19:00] #3914 closed

[2021-08-24 19:03] JJHakiLe commented on #4001
Thank you @jasonnutter for the swift response! So the redirectRequest property onRedirectNavigate can be provided so that the callback will return false to stop the pending navigation. During which, the full URL will be available to use within that a callback?

[2021-08-24 19:47] jasonnutter commented on #4001
Yes. Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/ChromiumExtensionSample/auth.js#L83-L93

[2021-08-24 20:15] zhshqzyc commented on #3979
Yes, I think that I am close the final line. I can see the Bearer token in the header. One more question.
`loginPopup() {
    if (this.msalGuardConfig.authRequest){
      this.authService.loginPopup({...this.msalGuardConfig.authRequest} as PopupRequest)
        .subscribe((response: AuthenticationResult) => {
          console.log(response);
          this.authService.instance.setActiveAccount(res

[2021-08-24 21:33] jasonnutter commented on #3985
@r4hulp Unfortunately, there is a known issue where Angular 9 applications using MSAL Angular do not work in IE11. See #3277.

Are you able to upgrade to newer version of Angular?

[2021-08-24 21:44] tnorling commented on #3979
@zhshqzyc The refresh token is not exposed by design, it is managed internally by MSAL. Can you please explain why you need it?

[2021-08-24 22:09] zhshqzyc commented on #3979
I don't know. Just the old applications used the fresh token. I am not sure how msal 2.0 works if the access token expired. Does a new window pops up if the token is expired?

[2021-08-24 22:35] #3997 closed

[2021-08-24 22:40] tnorling commented on #3979
No. Msal.js will use the refresh token (which it manages internally) to acquire a new access token when the access token is expired. When the refresh token is expired, msal.js will attempt to silently acquire a new set of both access and refresh tokens and if that fails only then will you be prompted to sign in again. You can read more about how msal.js manages token expiration/renewal [here](http

[2021-08-24 22:54] EricEzaM commented on #3997
@jasonnutter Sorry to tag you - any feedback on my comment above?

[2021-08-24 22:59] jasonnutter commented on #3997
@EricEzaM Can you please open a new issue?

[2021-08-24 23:19] #3979 closed

[2021-08-25 00:29] JJHakiLe commented on #4001
Great thank you for the example @jasonnutter . One last question I have is if a user invokes a `loginRedirect() `function with the `onRedirectNavigate `callback set to `false`, and then invokes another `loginRedirect `with a different `redirectRequest` where the  `onRedirectNavigate` callback is set to` true` or doesn't exist, will the user then be redirected or will the subsequent `loginRedirect(

[2021-08-25 13:00] #3952 closed

[2021-08-25 16:20] sameerag commented on #4001
@JJHakiLe You will get an `InteractionInProgress` error in this case. Since we set the temporary cache variables when `loginRedirect` is invoked, until you resolve the call with a `handleRedirectPromise()` call, MSAL JS tracks this as a token request in progress.

[2021-08-25 16:24] JJHakiLe commented on #4001
@sameerag Great, that makes sense. Thank you very much @sameerag and @jasonnutter for your explanations. So `handleRedirectPromise()` needs to resolve those `InteractionInProgress` errors. I believe that should resolve any questions I have now. Thanks again!

[2021-08-25 16:24] #4001 closed

[2021-08-27 13:02] melloware opened #4004 "AccountInfo -> TokenClaim missing custom claim"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

We are migrating from the old https://github.com/syncweek-react-aad/react-aad MSAL 1.0 to 2.0 library to this library and we have most of our code working.  However one major difference in the old library and

[2021-08-27 13:06] zhshqzyc opened #4005 "CORS error in localhost but the Bearer Token does show in the request header"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

My uris like
[code]
So I set the protectedResourceMap by wildcard
`protectedResourceMap.set('/apis/*', ['api://d16e1a06-3be2-4ae1-8bd4-718c19cecac3/api']);`

By debugging, I print `console.log(requestClone) `

[2021-08-27 17:33] brriann opened #4006 "Password Reset issue"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I am seeing a possible issue with this implementation of Password Reset
https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-custom-policy

We are using Custom Poli

[2021-08-28 02:26] thoo1 opened #4008 "[Safari] handleRedirectPromise not called if login request url is the same path as the reply url"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

This is only reproducible in Safari (I'm on Safari v14.0.3) and is more of a description of what I think is a Safari bug that impacts this library. We're noticing on our application that if the user goes to our page (eg someE

[2021-08-28 05:33] thoo1 commented on #4008
I did however find that when the authorization code in the hash comes back from AAD's redirect, that the safari browser emits a "hashchange" event

So maybe that is the way forward, that we should also listen on "hashchange" to try to handle the authorization code. I can show a repro of this, just contact my alias on teams (I'm internal MSFT)

[2021-08-28 06:44] byunru opened #4009 "How to access DevOps API with MSAL ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

"@azure/msal-angular": "^2.0.2"

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

"@azure/msal-angular": "^2.0.2"

### Description

How to config MSAL to access Devops API

My angular library reference:
    "@azure/msal-angular": "^2.0.2",
    "@azure/msal-browser": "^2.16.1",

The ap

[2021-08-28 13:39] sameerag commented on #4004
@melloware Thanks for bringing this to our attention. We do strive to send all claims and the `idToken` type is mostly for internal reference. Let me try reproducing this and reach out.

[2021-08-28 13:46] sameerag commented on #4009
@byunru Have you reached out to the DevOps team for the list of relevant scopes to be enabled?

[2021-08-28 13:54] melloware commented on #4004
OK thank you!

[2021-08-28 17:40] byunru commented on #4009
@sameerag
Since "https://management.azure.com/user_impersonation" is the global scope for All azure resource API, so I assume that "https://app.vsaex.visualstudio.com/user_impersonation" is the global scope for DevOps API

I tried with this format
    endpoint: "https://dev.azure.com/msaltestingjs/_apis/projects?api-version=4.0",
    scopes: ["499b84ac-1321-427f-aa17-267ca6975798/.default"]
from h

[2021-08-29 01:00] #3966 closed

[2021-08-29 07:39] sameerag commented on #4005
@zhshqzyc MSAL JS has a requirement that the registered `redirectUri` should be of the same domain as the origin request. In your case it looks like they are different, hence this error is expected.

[2021-08-29 11:38] ktikku opened #4010 "Best way to determine if user is still logged in?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi Team,

What is the best way to determine if the user has a valid session?
I read on a few stackoverflow threads that we can use `getAllAccounts` nut that returns cached accounts as per my knowledge.
Is there a better way?

[2021-08-29 13:00] #3935 closed

[2021-08-29 13:00] #3908 closed

[2021-08-30 01:00] #3931 closed

[2021-08-30 01:00] #3968 closed

[2021-08-30 10:52] fhljys commented on #3687
Any update?

[2021-08-30 12:51] melloware commented on #4004
@sameerag I am closing this ticket.  The issue was on our end where the custom claim was not added to our account. Our admins adjusted our profile and now we get our immutable id.  I thought the above TS object was the issue but it was not!   Closing ticket.

[2021-08-30 12:51] #4004 closed

[2021-08-30 13:47] sameerag commented on #4004
Thank you @melloware

[2021-08-30 13:56] sameerag commented on #3687
This is being tracked as a new feature but we currently do not have an ETA. We will reach out once we have this feature slated for release. @pkanher617 lets track this internally and figure out the details.

[2021-08-30 15:18] zhshqzyc commented on #4005
In my app.module.ts, I set

`redirectUri: window.location.origin`

In azure, I have redirectUri as `http://localhost`. Anything wrong?
In my backend spring boot, I found the error `did not process request since did not find bearer token`.

But my code just works find in dev but in localhost.

[2021-08-30 16:11] ramya-rao-a opened #4011 "adal-node depends on xmldom that has a security vulnerability"
### Core Library

ADAL Node (adal-node)

### Core Library Version

0.2.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

The `adal-node` package has a dependency on `xmldom` which in turn has a security vulnerability. Please see https://www.npmjs.com/advisories/1769

As per the discussion in https://github.com/Azure/ms-rest-nodeauth/issues/134#issuecomment-

[2021-08-30 16:14] sameerag commented on #4011
Thanks @ramya-rao-a. Will be tracking this.

[2021-08-30 16:19] sameerag commented on #4011
#3988 merged a fix for this. This will be a part of the next release we make on adal-node.

[2021-08-30 17:27] jasonnutter commented on #4010
@ktikku Correct, the MSAL account APIs will read cached accounts, which may be out of sync with the server. To check if the user still has an active session, you will need to invoke a network request to the server, either via `loginPopup`, `loginRedirect`, `ssoSilent`, or `acquireTokenSilent` (with `forceRefresh` set to `true`). Which one you use depends on your scenario and your desired user expe

[2021-08-30 17:29] jasonnutter commented on #4010
And generally speaking, we tend to recommend that applications invoke network requests _reactively_ (as a result of an error, e.g. `acquireTokenSilent` returning an interaction required error), as opposed to _proactively_.

[2021-08-30 17:31] jasonnutter commented on #4008
@thoo1 Thanks for the descriptive bug report, I'll see if I can reproduce this and follow up with further questions.

[2021-08-30 17:38] jasonnutter commented on #4005
CORS errors like this are outside the scope of MSAL, as your resource (localhost:8080) needs to be configured to allow cross-origins requests from `localhost:4200` for the API and http request method.

This error message ("Redirect is not allowed for a preflight request.") indicates that your resource is responding to the [browser's preflight (`OPTIONS`) request](https://developer.mozilla.org/en-U

[2021-08-30 18:18] jasonnutter commented on #4006
@brriann Thanks for the detailed issue. This was identified as an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2021-08-30 18:18] #4006 closed

[2021-08-30 20:16] #3913 closed

[2021-08-30 21:57] tnorling commented on #4000
@BogdanGeorge Thanks for providing a reproduction. I was able to determine root cause here and it is indeed a bug in the library. I will have a fix up shortly.

[2021-08-31 03:31] muratygt commented on #3998
@jasonnutter . I fixed all of the redirect uris to match the correct app url. So if I am on `https://dev.mayappname.hub.aws.com`, I am sure that `redirectUri=https://dev.mayappname.hub.aws.com` so they all match the home link of each environment.

However problem still happens. Popup window appears when the `Uncaught (in promise) ClientAuthError: Token calls are blocked in hidden iframes` error oc

[2021-08-31 12:28] zhshqzyc commented on #4005
I will double check the backend code. But I have a question for redirectUri, this is an angular application. So I set
`redirectUri` as `http://localhost` in SPA platform. Is it right?

Or I need to set it in Web platform or both places. Or it doesn't matter.

[2021-08-31 12:33] ktikku commented on #4010
@jasonnutter
We wanted to have a method which checks for the active session and returns false if the user's session has expired.
Currently we're invoking `acquireTokenSilent` to check if we're able to renew the token, and if not we're catching the error and returning false.
But this method renews the token, and is just promoting keeping tokens alive forever without the user’s knowledge :/
Thoughts

[2021-08-31 15:22] jasonnutter commented on #4010
@ktikku Out of curiosity, why do you want to do this? What are doing based on the result of this operation?

[2021-08-31 15:23] jasonnutter commented on #4005
Yes, this is right. Do not set it as a web redirect.

[2021-08-31 15:59] muratygt commented on #3998
Here is the more with the error messaging.
`ClientAuthError: Token renewal operation failed due to timeout.`

[2021-08-31 16:08] #3887 closed

[2021-08-31 17:14] byunru commented on #4009
According to https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops
"MSAL is the best authentication mechanism to use with our REST APIs."

I hope can get advise or tips from you soon @jasonnutter

[2021-08-31 18:59] thoo1 commented on #4008
@jasonnutter were you able to reproduce the issue? I can repro on our site, we can hop on a call to discuss

[2021-08-31 19:46] muratygt commented on #3998
I was able to grab the request endpoint with its query params. I can assure that redirectUri is correct. Some posts were talking about requesting `openid profile and User.Read.All` at the same time throws error.

- Is that really the case?
- Do you see anything in this request which is not ideal?

[code]

[2021-08-31 20:29] muratygt commented on #3998
@jasonnutter It looks like there are some answers [on this page](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#refused-to-display--in-a-frame-because-it-set-x-frame-options-to-deny).

[code]

Looks like ideal solution to this problem redirectUri should be a blank page. I am using React Router for the navigation. So if I create a new route

[2021-08-31 21:35] brriann commented on #4006
Thank you @jasonnutter !
More info:
Fix is demonstrated here: https://github.com/brriann/b2c-msal-pwreset
Answer from responder here: https://github.com/azure-ad-b2c/samples/issues/274

[2021-08-31 23:30] jasonnutter commented on #3998
@muratygt Sorry for the delayed response.

Yes, I would recommend setting a blank page as the redirect URI for your calls to `acquireTokenSilent` and `acquireTokenPopup/loginPopup` (you cannot use a blank page for the redirect uri for `loginRedirect`, please continue to use your home page for the redirect URI for that). You can do this by setting the `redirectUri` explicitly on each `acquireTokenS

[2021-09-01 00:08] SummerCat200 opened #4019 "acquireTokenSilent function failed with error 'ServerError: temporarily_unavailable: 50033 - [2021-08-02 15:36:10Z]: CCS could not serve the request that had failed at ESTS due to server error and got auto failed over to CCS. '"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

On 08/02 and 08/03, 4 of our acquireTokenSilent requests failed with error 'ServerError: temporarily_unavailable: 50033 - [2021-08-02 15:36:10Z]: CCS could not serve the request that had failed at ESTS due to server error and

[2021-09-01 05:14] ktikku commented on #4010
@jasonnutter we have a middleware which is invoked on client side routing, we want to logout the user of SPA if they don't have a valid token.

[2021-09-01 13:00] #3950 closed

[2021-09-01 14:07] zhshqzyc commented on #4005
In another online board, I was told my setting is wrong. I am not sure. My backend is spring boot and front end is angular. So we registered the application as SPA rather than web. Is it right?

[2021-09-01 14:34] peterzenz commented on #4019
These represent an authentication failure at the server where an attempt was made to process the request on our backup authentication service and failed as well.  You should include these in your metrics as failures and they should be extremely rare.   You can read more about out [Backup authentication service](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/99-99-uptime-for

[2021-09-01 14:34] #4019 closed

[2021-09-01 15:42] muratygt commented on #3998
Thanks @jasonnutter for your response. This gives me more confidence on what to do to solve the problem.

Here is what I came up. Just wanted to confirm with you.

1. I created a Route (not protected) to the empty page called `/auth`  and created an empty page called `AuthRedirect` shown below. I will make sure I add `myapplink.com/auth` urls for each environment to the `Azure Registration`

<img

[2021-09-01 16:09] anshammer opened #4023 "CORS issue for trying to fetch an access token for Confidential Client App"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am trying to fetch an access token for a confidential client application but it fails to fetch the token with a CORS error - I am making the call to fetch access token by client credentials - **acquireTokenByClientCredential**

[2021-09-01 17:06] jasonnutter commented on #4023
@anshammer Confidential clients cannot obtain tokens client side in the browsers, as requests to token endpoint must be made server-side. Can you clarify if you are just using the confidential client for test automation?

If so, we recommend the approach used in this sample, which uses ROPC to authenticate teh user, and the sideload the tokens in the MSAL browser cache: https://github.com/AzureAD/

[2021-09-01 18:28] jasonnutter commented on #3998
Yes, that looks correct.

It doesn't have to be outside of our React application (e.g. as a blank html page in your assets folder), but sometimes that can simpler in the interest of the page not itself requiring auth.

Just checking for "#access_token" isn't comprehensive. If you know the only time your application will be rendered in an frame with a hash, then you can simplified that check to che

[2021-09-01 18:36] muratygt commented on #3998
Testing changes locally

This empty page now opens up the pop up window again and takes all the attention with empty content

<img width="1792" alt="Screen Shot 2021-09-01 at 1 49 42 PM" src="https://user-images.githubusercontent.com/51856156/131724185-4c0a9225-3dfd-4761-8fff-72aeab087ba0.png">

And here is the console logs and the error messaging

<img width="1073" alt="Screen Shot 2021-09-01 at

[2021-09-01 19:10] muratygt commented on #3998
In the Routes component, we have a function (useEffect hook) that calls `acquireToken` when there is `401 Error`.

Do you think this is triggering some sort of infinite loop and then iframe is getting blocked/timeout which makes it `popup window` visible?

<img width="853" alt="Screen Shot 2021-09-01 at 3 07 21 PM" src="https://user-images.githubusercontent.com/51856156/131729559-b5115c6f-de6e-409

[2021-09-01 20:01] wwlorey commented on #3951
Hi @tnorling, after going through Microsoft support regarding the "Device must be managed by Microsoft" issue, it was confirmed that my device is compliant and it looks like the problem is coming from MSAL or the way I've configured MSAL.

I created a sample VS Code extension that singles out the issue. Here are [instructions](https://github.com/wwlorey/vscode-msal-device-code-sample#readme) for i

[2021-09-01 20:13] jasonnutter commented on #4023
Yes, you will need to create a test user. This can be done in your own test tenant, or you can onboard to MSID Labs, which offers test accounts for first-party applications.

No. If your test user is setup to not require MFA, you can complete login using ROPC without interaction.

[2021-09-01 20:18] jasonnutter commented on #4023
And we have a new API to make sideloading tokens easier, however, our testing sample is not updated to use that. I'll make sure we do that: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md

[2021-09-01 20:26] anshammer commented on #4023
Ok, that sounds re-assuring.

Here's the MSAL flow in my app:
When the UI loads, it does the handleredirects and checks for the response :
`			const response = await this.authContext.handleRedirectPromise();
`to check if this request was an auth redirect.

If a response was present, it looks for the active accounts
[code]
if it was not a redirect, it checks if there are any active accounts otherwi

[2021-09-01 20:32] jasonnutter commented on #4023
ROPC is done completely separately from your app logic. The testing sample shows that is done.

One change you may make is if you detect that it was not a redirect, and there is not active account, check for any cached accounts via `getAllAccounts`, and if you have sideloaded your tokens properly, it should be populated with the account from the ROPC flow. You can then set that account as the acti

[2021-09-01 20:35] anshammer commented on #4023
Alright, thanks. I will try it out.

I will close this issue for now and will reach out if I need any help.

[2021-09-01 20:35] #4023 closed

[2021-09-01 22:40] muratygt commented on #3998
Is `acquireTokenPopup` call the only way to refresh token when there is an error on `acquireTokenSilent` call?

It looks like it is how that popup window is getting opened with `/#access_token...` stuff in the url.

How can we eliminate error happening on the `acquireTokenSilent` call  so it does not call `acquireTokenPopup` because it is pretty frequent on our case?

![Screen Shot 2021-09-01 at 6

[2021-09-01 23:27] jasonnutter commented on #4010
If they don't have a valid access (or id) token, or their AAD session has ended? Those are not necessarily the same.

We usually recommend applications leveraged cached tokens for as long as they are valid, and they perform actions such as automatically logging out if you receive an error using or renewing the token. Going to the network routinely to check if the user still has an active sessions

[2021-09-01 23:36] jasonnutter commented on #4009
@byunru Apologies for the delayed response. @derisen Can you help with the devops sample linked above?

[2021-09-01 23:42] #4005 closed

[2021-09-01 23:43] jasonnutter commented on #3998
If silent authentication fails, you must usually perform an interactive flow to complete auth. You can either do a full page redirect or popup.

Popups should not show up often, and should close themselves automatically, and I'm not understand why your don't do that. Can you try using a blank html page (that is not part of your app)?

And have you inspected the error returned from acquireTokenSile

[2021-09-02 01:00] #3980 closed

[2021-09-02 09:58] christeredvartsen commented on #3949
We are experiencing a similar issue, but we are not using the JS-library.

Our issue is that whenever the `AADSTS50105: The signed in user 'Christer.Edvartsen@nav.no' is not assigned to a role for the application '6e45010d-2637-4a40-b91d-d4cbb451fb57'(naisdevice-apiserver).` error occurs for our users, the client is no longer sent to the `redirect_uri` for the application (specified as a query par

[2021-09-02 13:00] #3926 closed

[2021-09-02 13:56] muratygt commented on #3998
@jasonnutter

About this, the popup we have is closing itself in a minute or two. But popup window is appearing pretty often which creates a major distraction to the user.

I inspected the error returned from the `acquireTokenSilent`. It throws `Token renewal operation failed due to the timeout.`

Here is how it looks

<img width="995" alt="Screen Shot 2021-09-02 at 9 38 41 AM" src="https://user-i

[2021-09-02 16:59] derisen commented on #4009
@byunru you need to make sure to [connect your AAD tenant to your Azure DevOps account](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-azure-active-directory-groups?view=azure-devops&tabs=preview-page&viewFallbackFrom=vsts), and then modify the `config.js` like:

[code]

Can you give this a try and let me know? Steps should have been much clearer, apologies. Making a P

[2021-09-02 18:51] #3967 closed

[2021-09-02 18:55] jo-arroyo commented on #3851
`https-proxy-agent` has been updated to version 5.0.0 in [this PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3996) and will be available in the next release.

[2021-09-02 18:55] #3851 closed

[2021-09-02 20:26] muratygt commented on #3998
I also grabbed the response from `acquireTokenSilent` call to see if that means anything for you in regards to our app's misconfiguration.

<img width="451" alt="Screen Shot 2021-09-02 at 4 21 07 PM" src="https://user-images.githubusercontent.com/51856156/131911346-a661eb9d-fcb2-4784-a6a0-a5e975a41cd4.png">

[2021-09-02 20:43] #3961 closed

[2021-09-02 20:43] #4000 closed

[2021-09-02 23:12] byunru commented on #4009
I got error as below when use the above config (my aad account is the admin of adoz portal)
=========================== error msg =======================================
[Thu, 02 Sep 2021 22:58:37 GMT] : @azure/msal-browser@2.16.1 : Info - Emitting event: msal:acquireTokenSuccess 2 app.module.ts:27:10
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at htt

[2021-09-03 04:43] vinod01 opened #4028 "msal-angular : How to Fetch latest payload after edit profile."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I am facing issue with how to fetch updated user profile information. Right now in chrome Inspect : Application Session storage is showing both information, old first name, last name and after edit profile

[2021-09-03 07:10] fennibay commented on #4011
When is the next release planned?

[2021-09-03 10:27] Shyam268 opened #4029 "[MSAL with REACT] loading configuration from json"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

    "@types/react": "^17.0.16",

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

 "@azure/msal-browser": "^2.16.1",

### Description

Configuration:
    "@azure/msal-browser": "^2.16.1",
    "@azure/msal-react": "^1.0.1",
    "@types/node": "^12.20.19",
    "@types/react": "^17.0.16",

[2021-09-03 15:01] derisen commented on #4009
CORS issues are beyond the scope of MSAL. Basically the API you are calling needs to allow CORS for your client app.

Regardless, DevOps API [supports CORS](https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/cross-origin-resource-sharing?view=azure-devops). Are you sure you're making a simple GET request? Can you share a code snippet or network trace?

[2021-09-03 16:12] muratygt commented on #3998
This is how I explicitly refresh token. I created a `setInterval` which calls `extractMSALToken` function on every 55 min.

`extractMSALToken` function removes all of the msal values from the local storage and make a new call to the `acquireToken` function which calls `acquireTokenSilent` (if fails `acquireTokenPopup`)

**Question:**
Do you think this flow might be the cause of the issue since we

[2021-09-04 01:15] ViieeS opened #4032 "Specify Authorization header for /token request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I want `/token` request includes the `client_id` as username and the `client_secret` as password in the `Authorization` header using the `Basic` schema. Is it possible and how?

### MSAL Configuration

_No re

[2021-09-04 04:49] ViieeS commented on #4032
Found a solution:

[code]

Is there other way?

[2021-09-04 06:03] byunru commented on #4009
@derisen  can you provide email? I can zip the code to you.

My app is pure angular + MSAL, no server-side code., it based on https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular12-sample-app
I added very little code.

In app I call Graph api & Azure resource api with no issue. only have issue when I call DevOps api, so no idea where t

[2021-09-05 03:31] derisen commented on #4009
@byunru you can find my email on my GitHub profile, though I would recommend creating a GitHub repo instead

[2021-09-05 07:34] RajGanguly opened #4033 "acquireTokenSilent MSAL Client Auth Error - Vue + nuxt implementation"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.12

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

vue:  2.16.14
nuxt: 2.15.8
msal: 1.4.12

Trying to implement Azure login + getting refresh token + calling graph api.
To achieve this I have tried 3 APIs till now (as provided in the code snippet below):

1.  `acquireTokenSil

[2021-09-07 15:33] jasonnutter commented on #4032
@ViieeS MSAL.js only supports public clients, which do not use client secrets, as they run in an environment (e.g. a web browser) which is not capable of securely storing secrets (e.g. client secrets). Can you detail why you want to authenticate this way? We have no plans to formally support the functionality you demonstrate here.

Generally speaking, yes, providing your own network client is how

[2021-09-07 16:37] byunru commented on #4009
@derisen   I've sent the code, hope I provided enough information so that easy for you to reproduce the issue on your side.

[2021-09-07 17:01] hectormmg commented on #4028
Hi @vinod01 . I see that you are caching the ID token in the response yourself, which is why you may be seeing both the old and new ID Token claims in the cache. Since MSAL handles caching, you don't need to cache the tokens yourself.

After the profile information is updated, you will find the updated ID Token in the result of the next acquire token request, so the `ACQUIRE_TOKEN_SUCCESS` event i

[2021-09-07 17:26] hectormmg commented on #4033
Hi @RajGanguly. My first recommendation would be that you try MSAL Browser (MSAL v2) instead of MSAL v1. Other than that, I have a few of questions.

1. Are you using AzureAD B2C by any chance? I ask because you seem to be doing a login with Google.
2. The usual calling pattern we recommend is that you call acquireTokenSilent first and then you fall back to either acquireTokenRedirect or acquireTo

[2021-09-07 18:37] derisen commented on #4009
@byunru this went to the spam folder apparently, sorry. Checking and will get back to you.

[2021-09-08 00:32] derisen commented on #4009
@byunru I couldn't reproduce your issue. The request was successful for these coordinates:

`this.resourceMap.set("https://dev.azure.com/MY_TENANT/_apis/projects?api-version=4.0", ["499b84ac-1321-427f-aa17-267ca6975798/.default"]);`

![ss](https://user-images.githubusercontent.com/13197548/132426850-c658b5c0-2445-4a2b-afba-78e9c686c3ce.png)

I only tested this on localhost. Are you having this iss

[2021-09-08 01:00] #3985 closed

[2021-09-08 02:40] mindingdata opened #4036 "[Angular] Move MsalRedirectComponent To APP_INITIALIZER"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

I've been working with MSAL v2 with the Angular wrapper recently on a project, and for the most part, I like having the MsalRedirectComponent as a way, out of the box to handle the redirect observable.

Where things started to go awry was where various parts of the app woul

[2021-09-08 04:47] byunru commented on #4009
@derisen   thanks trying out for me,
It is very very old, I tested localhost and deploy to storage account (static site), having the same error while retrieving azure resource with no issue, I tested with chrome, edge, Firefox.
Do you mind arrange a remote screen-sharing troubleshooting this ? I can create a service ticket from my company portal if you need.

[2021-09-08 05:57] vinod01 commented on #4028
After login we are able to see payload.idToken but after edit profile when page redirecting to home application. payload.idToken is not showing under ACQUIRE_TOKEN_SUCCESS event. I am also trying with sessionStorage.clear(); when application redirect from Home application to edit profile page.

Below is my script.

App Component
-------------------
ngOnInit(): void {
    //console.log("App compone

[2021-09-08 07:36] anton-marchenko commented on #3277
The project for reproducing the issue is here:
[ng9.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/7126737/ng9.zip)

Node: v14.15.0

Note: if you change tsconfig.json target from "es5" to "es2015" and revert it to "es5" the issue will stop to reproduce. In this case you should remove `node_modules` folder and make `npm i`. Then the issue will start to reproduce again

[2021-09-08 07:47] kleky commented on #3949
I've since worked around this with a less than ideal solution, but I'd at
least like to know what's going on.

On Wed, 8 Sep 2021, 02:00 msftbot[bot], ***@***.***> wrote:

[2021-09-08 10:21] frikkf opened #4037 "Support longer refresh tokens for b2c msal-browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

Due to security constraints azure ad b2c refresh tokens for the browser-library only issues refresh tokens valid for 24 hours.

It would be great to be able to provide a real consumer level experience to login with longer refresh tokens that can be defined in the custom policie

[2021-09-08 13:59] kdmadej opened #4038 "Handling `logoutRedirect` in a window opened with `Office.Dialog` API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

I have an auth flow implemented with the help of `Office.Dialog` API (this is a bit of a followup on a [different issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3962) I used to have). Everyth

[2021-09-08 15:03] rdick opened #4039 "React Javascript Sample Code - Not Logging In / Can't Find Email"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

Code Sample React Version

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

**React Sample Code Problem**

When I download the sample MSAL code from the github repo I get the following error.

"We couldn't find an account with that username. Try another, or get a ne

[2021-09-08 15:27] derisen commented on #4029
hey @Shyam268 sorry for late response. We recommend initializing msal instance outside of your React component tree, for example in your `index.js` file:

[code]

As such, you can simply delay rendering your app until the `json` file is fetched. For example:

[code]

Let me know if that's not what you had in mind.

[2021-09-08 15:39] derisen commented on #4039
@rdick your request is going to the wrong authority (`login.windows-ppe.net` is for internal use). Please update the authority field in your configuration file. Depending on your app's [audience](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-supported-account-types), this will most likely be `https://login.microsoftonline.com/common` or `https://login.microsoftonline.com/YOUR_

[2021-09-08 16:02] jasonnutter commented on #4036
@mindingdata Great suggestion, seems like something we should consider. You are welcome to open a PR to demonstrate how you think this could work, and we can go from there. Thanks!

[2021-09-08 16:06] jasonnutter commented on #3998
@muratygt Generally speaking, we do not recommend proactively renewing tokens, such as with the code you shared. Our general best practice is to invoke `acquireTokenSilent` when you need a token, let MSAL figure out if the token has expired (and get you a new one if so), and then handle any errors MSAL returns if it is unable to do so. Furthermore, you do not need to manage the cache, as MSAL hand

[2021-09-08 16:14] hectormmg commented on #4037
@hpsin @nickgmicrosoft I believe this is a question for the service side. Thanks.

[2021-09-08 16:17] BarishSarac opened #4040 "How to Check if user is Logged in"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Hello,

How can I tell if user that is trying to load the app is logged in or not? Currently, I have this:

But with this snippet, app loads the page I see text and images then it redirects to login.

### MSA

[2021-09-08 16:18] BarishSarac commented on #4040
I need to redirect user to login screen right away if user is not logged in. User shouldn't see the app at all.

[2021-09-08 16:20] hectormmg commented on #4038
Hi @kdmadej , could you please confirm that the `postLogoutUri ("https://localhost:3000/login.html?logout")` is registered as a replyUrl in your app registration? Thanks.

Here's our documentation on logout, please ensure that your configuration is correct and see if anything there can help fix your issue.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser

[2021-09-08 16:29] tnorling commented on #3951
Followed up offline. This is a CA issue and out of scope for MSAL. Closing.

[2021-09-08 16:37] hectormmg commented on #4040
Hi @BarishSarac , in order to achieve that specific behavior, there are two options:

1. Delay rendering your app until the user is confirmed to be logged in (they will be redirected to authenticate before you render your app).
2. Handle this on the server side by redirecting to the login interaction before the app is rendered (which would involve a solution other than `msal-react`).

Here is some

[2021-09-08 17:44] derisen commented on #4009
Interesting.. ok let's setup some for this. I've added you on Teams.

[2021-09-08 19:23] derisen commented on #4009
This was resolved offline. For reference, the issue was to [connect the DevOps organization to Azure AD tenant](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/connect-organization-to-azure-ad?view=azure-devops). Closing.

[2021-09-08 19:23] #4009 closed

[2021-09-08 19:33] muratygt commented on #3998
Thanks @jasonnutter

I created that `setInterval` logic because of [this statement](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow#refreshing-tokens) in the MSAL Implicit Flow documentation.

Based on my understanding on this statement
[code]

To refresh the token `periodically`, I created a function to clear cache (just to be sure) and call `acquireT

[2021-09-08 20:59] kdmadej commented on #4038
Yup, it is:
![image](https://user-images.githubusercontent.com/2098250/132584248-e66ea603-5c5b-4c4c-9574-4bba0f2c5596.png)

I even set it as a front-channel logout URL although I think that's redundant as I don't want to [sign the user out across all apps](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#front-channel-logout).

I tried pro

[2021-09-09 00:18] wwlorey commented on #3951
It turns out that the device code authentication flow cannot be used with the "require managed device" grant control:

This explains the error when authenticating with Microsoft employee accounts, which have that grant control in place.

As for why this [device code sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/device-code) works with

[2021-09-09 07:20] zanul-siddiqui-au3 opened #4050 "How can I add custom Policy for forgot password and change phone number in azure msal?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

Currently we are using @azure/msal-browser package for msal signin by passing this config and it works fine for signIn but now we need to add custom policy for forgot password and change phone no. But I d

[2021-09-09 08:17] anton-marchenko commented on #3189
@jasonnutter

Is there any update?

[2021-09-09 10:13] vinod01 commented on #4028
how can we handle Cancel event, when coming from third party to Home App in Angular? How to check form which policy it is coming back. Policy like edit profile, Reset-Password, Change Phone?

[2021-09-09 10:31] manishpatil8149 opened #4051 "skip offline_access scope while signing in user"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I am using MSAL libraries in my React SPA. With Default configuration as shown below I haven't added 'offline_access' scope while requesting id tokens. But When I try to login as a user offline_access is auto

[2021-09-09 13:18] huberchrigu commented on #4008
We have the same issue and it makes our app unusable for any customer using Safari. Any workaround is highly appreciated.

[2021-09-09 16:54] hectormmg commented on #4038
@kdmadej can you try changing the URL to `http://` instead of `https://` and seeing if that changes anything. Usually redirect URIs have to use `https://`, but localhost is an exception to this rule.

[2021-09-09 17:05] hectormmg commented on #4051
Hi @manishpatil8149 , MSAL v2 doesn't currently support opting out of any default scopes. One available workaround is to use MSAL v1, which doesn't include `offline_access` as one of the default scopes. The main drawback is that we're only maintaining MSAL v1 for security updates at the moment, and will not be providing much additional maintenance or support for it in the future.

[2021-09-09 17:05] #4051 closed

[2021-09-09 17:13] hectormmg commented on #4050
Hi @zanul-siddiqui-au3 . The [Create user flows and custom policies in Azure Active Directory B2C tutorial](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-user-flow) shows how to create a custom password reset/forgot password policy.

Once you've registered your custom policies in the portal, you can consult the [Configure authentication in a samp

[2021-09-10 00:22] jasonnutter commented on #4008
@thoo1

We intentionally do not do this. If the redirect uri is the same as the login request url, we just process and return the hash there: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/interaction_client/RedirectClient.ts#L99-L109

Furthermore, I'm not able to see any issues when loading the [default sample](https://github.com/AzureAD/microsoft

[2021-09-10 00:25] jasonnutter commented on #4008
Debugging `handleRedirectPromise` and/or sharing verbose logs will be helpful in understanding why the hash isn't being processed.

[2021-09-10 00:37] jasonnutter commented on #3998
Call `acquireTokenSilent` when you need an access token, and let MSAL handle figuring out if the token is still valid, and if its not, it will attempt to renew it. If runs into a problem doing that, it will throw an error, which your application should catch and handle (usually by invoking an interactive method).

You also do not need to manage the msal cache (e.g. removing old tokens), as msal wi

[2021-09-10 02:03] bobbywarner commented on #3653
It would be amazing to get an official Vue 3 plugin to use with MSALv2 (like the React and Angular ones).

Use this Vue2 sample (https://github.com/AspNetMonsters/vue-azure-b2c-sample) as a start, but convert to Vue 3 with the Composition API.

[2021-09-10 10:56] anton-marchenko opened #4053 "Why I can't get "signed in" account in v.2 despite in v.1.2 I could?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I am reading [migration documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/v1-v2-upgrade-guide.md):

I just want to get my current "si

[2021-09-10 12:27] anton-marchenko commented on #3277
@jasonnutter

I noticed that Angular 10 ignores `"target": "es5"` option. I suppose it is same for Angular 11. Instead of compiling `esm5`, Angular 10 compiles code to `esm2015`.

Angular 10 output with `"target": "es5"`:

[code]

Angular 9 output with `"target": "es5"`:

[code]

[2021-09-10 13:52] kdmadej commented on #4038
The same result – stays on the "close all browser windows" screen and loads the redirect url in an iframe.

[2021-09-10 14:50] shreenath-is opened #4054 "acquireTokenSilent refreshes page when React.Suspense is wrapped inside MsalProvider from @azure/msal-react"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/getting-started.md

### Description

Libraries
`@azure/msal-browser versions tested 2.17.0, 2.11.2` (probbaly also true for `2.16`)
`@azure/msal-react versions tested 11.0

[2021-09-10 16:02] jasonnutter commented on #4011
`adal-node@0.2.3` has been released with `@xmldom/xmldom`. Closing.

[2021-09-10 16:02] #4011 closed

[2021-09-10 17:03] derisen commented on #3189
@anton-marchenko @olafwrieden @mojanas @amrutha95 See the updated [document on accounts](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/accounts.md) and the [react-router sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample) which has this logic now.

[2021-09-10 18:49] hectormmg commented on #4053
Hi @anton-marchenko . The main difference is that MSAL v1 didn't support multiple accounts, so there was no need to filter through them because there would always only be one account in the cache. Since MSAL v2 supports multiple cached accounts, you need to specify a way to identify the account you need to get.

Having said that, MSAL v2 has a `getAllAccounts` API that will return all of the accou

[2021-09-10 19:11] hectormmg commented on #4038
@kdmadej could you send me a Fiddler or network trace of this flow so I can see what's going on between the app and server? You can find my work e-mail on my GitHub profile so you can send it privately.

[2021-09-10 19:25] hectormmg commented on #4028
@vinod01 I wouldn't recommend clearing the cache yourself, even between network calls. MSAL should update the cache correctly for you.

We haven't been able to reproduce the issue, the cached ID token should contain the correct/updated information in the claims after editing the profile info.

Have you tried calling acquireToken after you've already come back from the profile edit? Not based on th

[2021-09-10 19:59] tnorling commented on #4054
Thanks, we'll take a look at this and try to figure out what's going on.

[2021-09-10 21:29] pashvin opened #4056 "Getting unexpected login dialog box"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

App is using latest MSAL 2.0 library and passing token to Graph library using acquireTokenSilent. Randomly acquireTokenSilent is returning "InteractionRequiredAuthError" which ends up calling acquireTokenPopup and user sees log

[2021-09-10 22:17] tnorling commented on #4056
@pashvin Refresh tokens issued to "SPA" apps have a 24 hour, non adjustable lifetime as a security consideration given that the tokens are stored in the browser. This is documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md#refresh-tokens). When the RT is expired MSAL.js will attempt to acquire a new set of access and

[2021-09-10 22:54] pashvin commented on #4056
@tnorling  thanks for the quick response

How this library is getting 24 hours token because as per MS document this RT timeout is fixed 90 days or can be adjusted by only AD admin for their tenant (and we don't have any custom setting so it should be 90 days for us)

Ref - https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Also if librar

[2021-09-10 23:09] tnorling commented on #4056
@pashvin This is dictated by the service for all reply urls of type "SPA" (which is required to use MSAL.js v2 or any other client-side auth library) and is not configurable. See the note in the [refresh token document](https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens#token-timeouts). If you need an RT with a longer lifetime you'll need to use a server side library (m

[2021-09-11 08:18] anton-marchenko commented on #4053
Okay. It helps. Thanks!

[2021-09-11 08:18] #4053 closed

[2021-09-12 23:37] pashvin commented on #4056
@tnorling thanks for confirmation that RT is only for 24 hours. I also got some more detail from one of the user. The user is putting his laptop in sleep over night while application running and then weak-up in morning which is less than 24 hours but I see in that case MSAL is sending "InteractionRequiredAuthError" while renewing token in morning. Is it possible is we try to call acquireTokenSilen

[2021-09-13 08:19] badsyntax opened #4058 "acquireTokenSilent results in 400 and "infinite" loop"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.2

### Description

When calling `acquireTokenSilent` a 400 is returned from the token endpoint and the library gets stuck in a loop.

Here are the auth and request logs:

<img width="1418" alt="Screenshot 2021-09-13 at 09 15 11

[2021-09-13 08:54] badsyntax commented on #4058
The odd thing is it seems to be sending 2 requests to get a token. The first request succeeds and the second request fails:

<img width="1356" alt="Screenshot 2021-09-13 at 09 47 46" src="https://user-images.githubusercontent.com/102141/133053487-45b7638a-f505-4e81-b18f-30be3f55c697.png">

Could this be due to some weird localstorage state? This is what's in my localstorage:

[code]

It seems that

[2021-09-13 16:36] tnorling commented on #4056
@pashvin No, `InteractionRequiredAuthError` is thrown as a result of very specific error codes returned by the server (token expired, consent required, MFA required, login required, etc.) If the network is unavailable you should get a [no_network_connectivity error](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a653fab258bb9abcd5c34e32aaf13a6999258287/lib/msal-browser/src

[2021-09-13 16:48] pashvin commented on #4056
@tnorling Yes, I understand that RT is valid from the time it is obtained but here is my understanding First time login MSAL obtain access token (1 hour validity) and refresh token (24 hour validity) and app continue to use access token till hour to make MS graph calls. After 1 hour MS Graph request will find access token is not valid and that that point we request acquireTokenSilent and that gets

[2021-09-13 16:49] pashvin commented on #4056
I am assuming acquireTokenSilent is getting new RT because if that is not the case , then most of user must be reporting for interactive prompt after every weekend because many of them not running app in weekend and that is more than 24 hours.

[2021-09-13 17:10] thoo1 commented on #4008
This is more a point about the difference between Safari and Chrome's handling of redirecting, it appears that Safari will not load the page but Chrome will which makes a difference because that means in Safari, it will not execute the initial scripts again when the page loads (which includes the script to even call `handleRedirectPromise`)

I'll try to repro this again on Safari and attach a gif

[2021-09-13 17:14] tnorling commented on #4056
@pashvin No, again the RT is **not renewable**, `acquireTokenSilent` does not obtain a new RT on every call. There are 3 ways to get a new RT:

1. Call an interactive acquireToken API
2. Call `ssoSilent` API
3. Call `acquireTokenSilent` API **after** RT has expired

Methods 2 and 3 above are essentially the same as `acquireTokenSilent` calls `ssoSilent` under the hood when it needs a new RT. Howev

[2021-09-13 18:16] pashvin commented on #4056
@tnorling most of our user has MFA enabled and they are in AD network so do you think when "acquireTokenSilent" fails with Interaction Required error (assuming user consent is done), then instead of calling acquireTokenPopup directly , if I call ssoSilent first, then it may reduce frequency of popup?

Also now I know that this popup may come and in some cases I can't avoid it, then is there any wa

[2021-09-13 18:32] tnorling commented on #4056
@pashvin

No, if you receive `InteractionRequiredAuthError` you must invoke interaction to resolve. `ssoSilent` will also fail.

MSAL.js should throw an `interaction_in_progress` error if you try to invoke `acquireTokenPopup` while another is already in progress. When this happens do you perhaps have multiple tabs/windows open that may each be invoking their own popup? Can you please share a .gif

[2021-09-13 18:39] pashvin commented on #4056
acquireTokenPopup does throw interaction_in_progress but it also shows popup so it is too late because I see those error in log but also see multiple popup. Do you think it should just throw error and not show popup and it is MSAL bug?

I am thinking to introduce some flag on my side to avoid duplicate unless there is some flag already which I can use it.

[2021-09-13 19:11] pashvin commented on #4056
Few more update from my app users. Some users are saying they get popup (and based on our discussion that is due to access and RT both expired) and some user just tried to just close popup and they are able to get data (my app gets user meetings using graph API which uses token from MSAL). I don't understand how the token is refreshed without user respond to interactive popup?

[2021-09-13 21:31] tnorling commented on #4056
It should just throw the error and not open a 2nd popup. Can you please provide a video/.gif of this behavior and/or a sample app that reproduces this?

If a user closes the popup the API will throw a `user_cancelled` error. I can't speculate as to what's going on here, I would need a sample app that reproduces this behavior to debug further.

[2021-09-13 21:53] pashvin commented on #4056
I don't have small sample app yet but I have some internal product screenshot which shows two dialog box (and logs shows two fast calls and then exception and later each call has exception). Most of user reported two and not more than that. Here is log statement which I quickly placed for one user to track down. I don't know when and how the duplicate popup check is done but looks like it may be s

[2021-09-13 21:57] pashvin commented on #4056
When user cancel dialog box, then I see "user_cancelled" error in the log but also see calls to graph API is fine.

By the way is there any impact on "Keep me signed" checked by user for 24 hour RT expiration as mentioned in following web page.

Ref: https://www.zubairalexander.com/blog/azure-active-directorys-configurable-token-lifetimes/

[2021-09-13 22:13] BarishSarac commented on #4040
Hello @hectormmg
I have the below setup. I need to have my own AuthWrapper so I created a HOC and wrapped my whole app with it. Whenever I use `instance.loginRedirect(loginRequest)` inside the appwrapper's app.js my app gets into forever refreshing cycle.

All I am trying to achieve is have AuthWrapper HOC, configure my MSAL and redirect users if they're not logged in to the login page...

index.j

[2021-09-13 23:22] tnorling commented on #4056
One of the first things `acquireTokenPopup` does is checks sessionStorage for an `interaction_in_progress` value. If it's there it throws and if it's not it creates it. If you make 2 acquireTokenPopup calls at virtually the same time it is possible that they both make it through that check and open their own popups. Are you sure the `interaction_in_progress` error you are seeing isn't being thrown

[2021-09-13 23:34] BarishSarac commented on #4040
After much research, this is the code that works

Anyone that needs to require users to sign in to view the applicaton can use this. I can't believe everywhere about msal examples include only click to sign in. No single best practice to signinredirect already implemented

i```
mport React from "react";
import { useIsAuthenticated, useMsal } from "@azure/msal-react";
import { InteractionStatus } f

[2021-09-13 23:46] hectormmg commented on #4040
Thanks for the feedback @BarishSarac! Closing the issue since you've found a solution that works for you.

[2021-09-13 23:46] #4040 closed

[2021-09-13 23:47] pashvin commented on #4056
@tnorling By the way thanks for all your valuable time and advice. Appreciate your prompt response.

For multiple popup , yes may be my app is making quick multiple call graph call on startup which may be getting integration required error and creating race condition and I will fix that in my app.

For canceling popup, user are not entering username or password, they are just closing it. I am addi

[2021-09-14 00:25] tnorling commented on #4056
There is not.

What you have here is very similar to what MSAL does to renew the access token. I would like to reiterate that the refresh token behavior is **not** an MSAL.js limitation but rather a result of very deliberate protocol designs implemented on the server to mitigate several attack vectors. You can use any Oauth compliant library you wish or even write your own, but as long as you are

[2021-09-14 01:17] pashvin commented on #4056
Ok I understand 24 hour rule and it is MS enforced but user are reporting before 24 hours. Now myself can't reproduce so it is working for me beyond 24 hours so I have few choices
1) spend time to create sample app and reproduce and as I said it never happens on my machine so will not have scucess
2) in old app without using MSAL don't have issue so find out how that works but not MSAL lib.
3) gen

[2021-09-14 12:14] LukasCornille opened #4059 "One msalInstance for multiple MsalProvider components"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.2

### Description

Hi,

I'm trying to create several custom elements that make use of the react-msal library to authenticate user.
The use case for this is that I have a static website, which will implement these elements to al

[2021-09-14 16:11] tnorling commented on #4056
@pashvin

If it's happening before 24 hours it's very likely due to something other than RT expiration. Maybe the RT was removed from browser storage or MFA is required. Best way to confirm is by collecting network traces or providing me with a correlationId and timestamp when this happens.

If your app has a server side component that can acquire tokens you should be acquiring tokens server side

[2021-09-14 16:28] pashvin commented on #4056
We have all user enabled with MFA but only few has this issue. I asked one user who can reproduce always to capture new logs.

[2021-09-15 01:00] #4010 closed

[2021-09-15 08:02] mixxit opened #4061 "Line 18:3: 'React' must be in scope when using JSX react/react-in-jsx-scope"
### Core Library

_No response_

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/README.md#prerequisites

### Description

Following the instructions on the page results in the following error

C:\dev\git\microsoft-authentication-library-for-js\samples\msal-react-samples\b2c-

[2021-09-15 11:28] mixxit opened #4062 "Root folder Npm Install Errors"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

dev branch

### Wrapper Library

Not Applicable

### Wrapper Library Version

not applicable

### Description

npm install gives errors

[code]

[2021-09-15 13:37] RajOfficeTroops commented on #4033
@hectormmg Thanks for your generous reply, will check and let you know

[2021-09-15 14:07] pashvin commented on #4056
While we are waiting for user logs, I have one more question. Is there any way to get popup window object handle? Sometime this popup comes at startup and it goes behind the main app (because user may accidentally click on main window) so popup is waiting for user input and user has main window and it is waiting for data. If we get handle on popup , then I can register on unfocus event and put bac

[2021-09-15 15:11] JamesBaxterSoftware opened #4063 "What to set clientInfo as when side loading tokens for testing?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

none

### Description

I am following documentation below to side load tokens for testing purposes but I do not know what clientInfo should be set to?

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/ms

[2021-09-15 16:35] tnorling commented on #4056
You can use the event API and listen to the `POPUP_OPENED` event. The payload is the popup window object. You can read more about the event API usage [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/events.md)

[2021-09-15 16:54] pashvin commented on #4056
Yes, I have hook for those event but those event does not provide popup window object so I can't hookup to find out popup is going in/out focus or can't put back in focus. I am looking a way to control popup and put in user visibility or make it always on top so user sees it.

[2021-09-15 17:14] tnorling commented on #4056
Can you please share the code you are using to listen to the event? Like I said the payload for the `POPUP_OPENED` event is the popup window object. [See here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a653fab258bb9abcd5c34e32aaf13a6999258287/lib/msal-browser/src/interaction_client/PopupClient.ts#L110)

[2021-09-15 21:27] pashvin commented on #4056
It was my mistake. I was adding following code in LOGIN START event. I see popup window object in POPUP_OPENED event but still can't force to focus because it is a cross origin popup so I don't get blur event in my handler so I don't think I can put in focus.

this.msalauthService.addEventCallback((event: EventMessage) => {
if (event.eventType === EventType.POPUP_OPENED) {
          const popup: W

[2021-09-15 23:03] pashvin commented on #4056
@tnorling I got one network capture from user but during overnight sleep test there was internet outage so if this has not good info, then I am going to get one more clean test tomorrow.
[test-1.har.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/7173743/test-1.har.zip)

[2021-09-15 23:25] tnorling commented on #4056
Did this fail due to `InteractionRequired`? I'm only seeing a gateway timeout (likely due to the internet outage) which does not result in `InteractionRequired`.

Side note: please email me (email on my profile) the next trace instead of posting publicly due to the sensitive nature of what is inside.

[2021-09-15 23:44] pashvin commented on #4056
So user put machine in the sleep overnight and in morning he saw MS login window but that was blank and then internet connection was back and popup window got login ui so it got the popup (which normally happen due to interaction required) but anyway I don't want to go in wrong direction because of internet outage so if something does not make sense, then don't spend time and will get next set of

[2021-09-16 10:18] icazemier opened #4065 "Deprecate library in npmjs.com"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Please just deprecate the npm package in npmjs.com also.

This is as easy as: `npm deprecate  msal "Future versions...."`

This makes it clear,easy to understand and npm would give warnings when one tries to install it.

###

[2021-09-16 15:23] jasonnutter commented on #4065
@icazemier Thanks for the feedback. We are not ready to fully deprecate `msal` v1 yet, but when we are, we will make sure to take this into account.

Closing, as no further action needed at this time.

[2021-09-16 15:23] #4065 closed

[2021-09-16 16:59] jasonbrice opened #4067 "Samples link broken for B2C"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Samples

### Description

The link for the b2c-javascript-spa sample gives a 404 not found -> https://github.com/Azure-Samples/active-directory-b2c-javascript-spa

[2021-09-16 17:17] RajGanguly commented on #4033
@hectormmg
Currently this is the implementation that I've come up with after upgrading to ```msal-browser```
[code]

The Graph API implementation
[code]
Now here's how my API invocation looks like

[code]
  So everything works fine when the cache holds the value for azure accounts:
  ```const account = this.connection.getAllAccounts()[0]``` doesn't give ```null```

  When the account returns null

[2021-09-16 18:00] derisen commented on #4067
@jasonbrice thanks for catching this! We'll get that fixed -the link should have been: https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa

[2021-09-16 18:30] hectormmg commented on #4033
Hey, @RajGanguly .

1. Since MSAL supports multiple account, `acquireTokenSilent` requires an account object so MSAL knows which account's tokens to return from the cache. If there is no account in the cache, then your user is not authenticated (i.e. logged in) and you need to authenticate them through either an interaction (popup or redirect login), or through MSAL's `ssoSilent` API (please check

[2021-09-16 19:03] byunru opened #4068 "Infinite loop on msal:acquireTokenStart /msal:acquireTokenSuccess issue when switchMap to a azdo api"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

"@azure/msal-angular": "^2.0.3",     "@azure/msal-browser": "^2.17.0",

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

    "@azure/msal-angular": "^2.0.3",     "@azure/msal-browser": "^2.17.0",

### Description

If I use of(1), won’t lead to infinite loop, but when I replace of(1) w

[2021-09-16 21:13] jasonbrice opened #4070 "Azure AD B2C sample cannot acquire accessToken"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

azure/msal-browser@2.13.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Using the Azure AD B2C samples outlined [here ](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa) and [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi), I

[2021-09-17 00:08] derisen commented on #4070
@jasonbrice In Azure Portal > App Registration, please **uncheck** the boxes under the **Implicit grant and hybrid flows** section, as this sample was meant to work with [authorization code flow with PKCE](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow), not [implicit flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-

[2021-09-17 08:48] rhalaly opened #4071 ".default scope can't be combined with resource-specific scopes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.0.1

### Description

Started to receive this error recently: `.default scope can't be combined with resource-specific scopes`

### Error Message

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code S

[2021-09-17 11:45] RajGanguly commented on #4033
@hectormmg
1.  As per your comment I have tried implementing `ssoSilent` when the cache clears the account details (when `const account = this.connection.getAllAccounts()[0]` returns null). I have checked the docs for the necessary request options for `ssoSilent`.
This is how `ssoSilent` is implemented on fallback if account is null on `acquireTokenSilent`

[code]
And I get
![Screenshot from 2021-

[2021-09-17 11:52] jasonbrice commented on #4070
I've unchecked both boxes and saved the app, same results.
![image](https://user-images.githubusercontent.com/1713380/133778266-0b98174a-f88c-479f-aa65-4889ba51c39c.png)

![image](https://user-images.githubusercontent.com/1713380/133778339-660f244f-26d2-423f-8abd-7234d17ca04c.png)

[2021-09-17 12:14] RajGanguly commented on #4033
@hectormmg
As per your second point I'm receiving the `accessToken` from `loginPopup` and then for every graph api call I'm calling `acquireTokenSilent` to get the token to call respective APIs. It works well for 24 hours after which on calling `acquireTokenSilent` gives error because the account information is removed from the cache. I'm trying to handle that scenario without any interaction henc

[2021-09-17 15:02] ashinzekene opened #4073 "How to acquire v1 token using msal-angular"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

^0.2.4

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

Currently when calling msal.js, we only get version 2 tokens, is there a way to specify the token version we want to generate?

In the app manifest on AAD, we already have `"accessTokenAcceptedVersion": 1,`

### MSA

[2021-09-17 17:19] byunru commented on #4068
@derisen ,  Do you have time to take a look on this issue?  Thanks.

[2021-09-17 17:38] wwlorey opened #4074 "403 error when deploying to Azure Functions & App Service"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

^1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

This may well be out of the scope of this team - if so please let me know.

I'm working on bringing MSAL to the [Azure Account Extension for VS Code](https://github.com/microsoft/vscode-azure-account). Azure SDK calls work as expe

[2021-09-17 17:39] derisen commented on #4073
@ashinzekene the resource app's app registration dictates what version of access tokens you get in your client app (the app acquiring tokens with msal.js). Are you calling your own web API? If so, set the `accessTokenAcceptedVersion` in that app's registration. If calling Microsoft Graph, you can't choose token version.

[2021-09-17 17:54] derisen commented on #4071
@rhalaly I think the issue here is that you're mixing scopes for different resources (Microsoft Graph and your own web API). See [our documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md#resources-and-scopes) on this.

Also, can you double check the code snippet you shared? I'm assuming you renamed `tokenRequestSer

[2021-09-17 18:04] rhalaly commented on #4071
Yes, I was rename it for simplicity. Fixed... When I used a specific resources instead of `.default` it works. Any idea why?

[2021-09-17 18:27] derisen commented on #4071
@rhalaly you can put all the MS Graph scopes into the `scopes` array, and use the `extraScopesToConsent` array for your web API's scope. Would that help?

[2021-09-17 18:39] derisen commented on #4074
hey @wwlorey by any chance did you enable App Service [authentication](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) on the portal?

[2021-09-17 19:00] wwlorey commented on #4074
That appears to be for setting up in-app authentication. The error I'm running into is when you attempt to deploy to the web app.

[2021-09-17 19:02] derisen commented on #4070
@jasonbrice apologies, my bad this wasn't related to your issue. For some reason the scopes field looks empty in your `acquireTokenPopup` response (the last screenshot), so can you clarify what is the exact request object you are passing to that API?

[2021-09-17 19:11] derisen commented on #4074
@wwlorey my bad I've misunderstood you. It would be great if you could give us more information -what msal-node API you are using to acquire a token? what does the token request object looks like (scopes etc.)? What are the claims in the access token you've obtained (masking sensitive information)? What is the API endpoint you are calling?

[2021-09-17 19:46] jasonbrice commented on #4070
I'm assuming that the scope for the accessToken is in the authConfig.js ?

![image](https://user-images.githubusercontent.com/1713380/133845029-2b6a3167-8c78-4de9-8929-566caad5d000.png)

I've tried plugging the values "openid", "offline_access", ...apiConfig.b2cScopes, and the URI of the api I exposed: "https://ambaguest.onmicrosoft.com/eeff946f-5d1a-43db-885f-bbb4f662a848/User.Read"

![image](htt

[2021-09-17 19:56] derisen commented on #4070
@jasonbrice Ok that must be the issue, you cannot mix scopes for different resources in the same token request, take a look at our [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md) on this. Basically, make sure only the scope for your web API goes into the tokenRequest object (i.e. `https://ambaguest.onmicroso

[2021-09-17 20:44] rhalaly commented on #4071
Maybe I missed something. For my understanding, the `scope` field is foe the login respone and the "extra" are for consent only (for getToken). If I move the Graph scopes to the `scopes` it can work? I just need them for consent. The actual Graph request is used later

[2021-09-17 22:05] derisen commented on #4071
@rhalaly true, your understanding is correct.

Interesting, this does look like a recent change, which you actually mentioned.. Ok, so you won't be able to use the `.default` scope but you should be fine if you replace it with the actual scope (e.g. 'XXXX-XXXX-XXXX-XXXX/my_scope'). This for instance should work:

[code]

[2021-09-17 22:40] jasonbrice commented on #4070
Ok, I've changed the b2cScopes in apiConfig.js to the one I created:
![image](https://user-images.githubusercontent.com/1713380/133860740-ae05fb1f-09e0-469e-835e-331decd1957c.png)

I've changed the scopes in the authConfig.js to match:
![image](https://user-images.githubusercontent.com/1713380/133860770-9aeafbb3-3c3d-480a-bc32-396794ccaf2b.png)

I'm still getting a blank access token... I tried bo

[2021-09-17 22:50] rhalaly commented on #4071
Thank you for the comments. If this is a new thing, I don't understand why it isn't introduced in a major version of the package. It is a breaking change that broke our system.

I will try to use the system scopes explicitly and update if it works

[2021-09-17 22:55] jasonnutter commented on #4071
This condition is being enforced by AAD, as opposed to MSAL. @hpsin Do you have any insight into why this behavior may have changed recently?

[2021-09-17 23:04] pashvin commented on #4056
@tnorling sent some new logs to your email address.

[2021-09-18 01:13] derisen commented on #4070
@jasonbrice are you signing in with an admin account? In the screenshot you shared (the second one [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4070#issuecomment-922040138)), you choose "only admins can consent to this scope". Did you grant [admin consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-admin-consent) to this scope in your cli

[2021-09-18 03:28] wwlorey commented on #4074
No worries - here's more info:

* msal-node API: public client app's `acquireTokenByCode`
* token request object:
[code]
* `idTokenClaims`:
[code]
* API endpoint:
[code]

[2021-09-19 01:48] RajGanguly commented on #4033
@hectormmg Any advice on this?

[2021-09-19 07:48] rhalaly commented on #4071
@derisen I use the default scope for the on-behalf-of flow. I read that this is the only way to do that. Any alternative how to solve this in this case?

[2021-09-19 13:35] ashinzekene commented on #4073
Yes, I'm calling my own web API

[2021-09-20 14:25] derisen commented on #4067
The link is now fixed. Closing this.

[2021-09-20 14:25] #4067 closed

[2021-09-20 14:44] Shriyanshmit opened #4075 "Not getting Groups as a claim in access token."
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.0.0

### Description

I have created custom **API permissions** which include attached setting.
![image](https://user-images.githubusercontent.com/11751143/134021698-b455e131-3d2e-4872-84f4-b2ca6000fc77.png)

Now In the node js config sectio

[2021-09-20 14:48] jasonnutter commented on #4008
@thoo1 Any update on a reproduction? And if possible, a reproduction using one of our samples would be best. Thanks!

[2021-09-20 15:18] derisen commented on #4071
@rhalaly it's a convenient way, but there are other alternatives. The main issue is to grant consent to the permissions required by the middle-tier web API, as it has no way of directly prompting the user (who is facing the client app). One alternative is to use a single app registration for both the client and the middle-tier app, which makes sense for OBO scenarios as they are often logically "o

[2021-09-20 15:21] derisen commented on #4073
@ashinzekene sounds good, let us know if this solution is not working for you.

[2021-09-20 15:28] derisen commented on #4075
@Shriyanshmit do you mean roles claim or groups claim (or both?) Regardless, roles claim should appear in access tokens by default, while groups claim should be configured via custom token claims configuration blade on the app registration portal. Take a look at these samples: [React SPA calling Node.js web API using App Roles](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial

[2021-09-20 15:46] derisen commented on #4074
@wwlorey thanks! Are you sending the ID token to access this web API? If so, 403 would be expected, as you are supposed to send the [access token](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens), which should have the appropriate `aud` and `scp` claims. For acquring such an access token, your token request object should contain the scopes that are exposed by the **ma

[2021-09-20 15:59] Shriyanshmit commented on #4075
Thanks for your quick response.

I am following below article with nodejs
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-nodejs-webapp

But I am getting groups inside access token. It is coming under profiles.

**In Config File:**
  scope: ['profile', 'offline_access','api://ID/ReadAllScope']

This is custom API permission.

[2021-09-20 16:12] pkanher617 commented on #3949
Sorry for the delay on this issue, but it sounds like the original issue was resolved, so I will be closing this.

@kleky the issue you describe above is a bit confusing, since you want the user to sign out, but the user hasn't been able to sign in anyway. So are you seeing this after the account has already acquired tokens? Or before any tokens have been returned for the account that wasn't signe

[2021-09-20 16:17] pkanher617 commented on #4063
The client_info should be available on the response from the /authorize endpoint with the authorization code. Please make sure you set `client_info=1` on the request to the /authorize endpoint. If you cannot obtain the client info from the /authorize endpoint, then you won't be able to save tokens correctly in the MSAL library.

[2021-09-20 16:43] kleky commented on #3949
Hi. The latter. User is signed in under a different account in the same tenant, from somewhere like Azure DevOps, but this use account is unauthorized for the app by not being assigned to the appropriate role. User wants to use a different account from that tenant but they're unable to sign into it due to this error.

[2021-09-20 18:07] derisen commented on #4068
@byunru apologies for late response. I was not able to reproduce your issue using your `this.getRuns(project, pip.id)` method:

![ss](https://user-images.githubusercontent.com/13197548/134050829-45b78701-092c-470c-a073-7f287460ad0b.png)

However I might be missing what you are intending to do here. Your issue description is rather cryptic. Can you clarify:

* What are you trying to achieve here?
*

[2021-09-20 18:44] derisen commented on #4075
@Shriyanshmit no worries : ) The the second sample link I've shared is exactly what you want. Regardless, by "it is coming under profiles" I think you mean it is coming in the ID token. This is configurable via the App registration portal:

![ss2](https://user-images.githubusercontent.com/13197548/134056777-08d01c46-4fa7-4fec-83ce-ca5a804388e4.png)

[2021-09-20 21:31] jo-arroyo commented on #3256
We are working on middleware scenarios that will be built on top of msal-node, where the MSAL Logger with customizations is available. Keep an eye out for future msal-node updates.

@Sefriol Please open up a separate issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose) for returning a log message as JSON.

[2021-09-20 21:31] #3256 closed

[2021-09-20 21:41] jo-arroyo commented on #3261
No longer a security vulnerability. Closing.

[2021-09-20 21:41] #3261 closed

[2021-09-20 21:43] jo-arroyo commented on #3264
As passport-azure-ad is now in maintenance, we will not be addressing this issue in the library. Please watch out for future middleware scenarios built on top of msal-node.

[2021-09-20 21:43] #3264 closed

[2021-09-20 21:55] jo-arroyo commented on #3265
As passport-azure-ad is now in maintenance and future middleware scenarios will be built on top of msal-node, please watch for msal-nodes announcements regarding this SAML and WS-Fed.

@EmLauber for your prioritization.

[2021-09-20 21:55] #3265 closed

[2021-09-20 21:56] jo-arroyo commented on #3267
Closing issue as PR has been merged.

[2021-09-20 21:56] #3267 closed

[2021-09-20 22:00] #3387 closed

[2021-09-20 22:01] jo-arroyo commented on #3389
No further activity on this issue. Passport-azure-ad is now in maintenance and all future middleware scenarios will be build on top of msal-node. Please watch msal-node for updates. Closing.

[2021-09-20 22:01] #3389 closed

[2021-09-20 22:48] jo-arroyo commented on #3390
We are working on middleware scenarios that will be built on top of msal-node, which will support using state. Keep an eye out for future msal-node updates. Closing as no issue activity.

[2021-09-20 22:48] #3390 closed

[2021-09-20 22:48] jo-arroyo commented on #3391
We are working on middleware scenarios that will be built on top of msal-node, and will keep this issue in mind. Closing as no issue activity.

[2021-09-20 22:48] #3391 closed

[2021-09-20 22:49] jo-arroyo commented on #3392
Closing as no issue activity. Passport-azure-ad is now in maintenance, and future middleware scenarios will be built on msal-node.

[2021-09-20 22:49] #3392 closed

[2021-09-20 22:50] jo-arroyo commented on #3398
Passport-azure-ad is now in maintenance. Future middleware scenarios will be built on top of msal-node. Closing.

[2021-09-20 22:50] #3398 closed

[2021-09-21 02:27] byunru commented on #4068
@derisen  I guess your devops project doesn't has any yaml pipeline created, so returns empty, can you add at least one (dummy) yaml pipeline to see what will happen?
I can do a screen sharing demo the issue if ok from your side.

emit verbose logs, output same pattern:
[Tue, 21 Sep 2021 01:53:03 GMT] : @azure/msal-angular@2.0.3 : Verbose - MSAL Interceptor activated 						app.module.ts:25:10
[Tue

[2021-09-21 07:02] JSteunou commented on #3385
Frankly I did not remember, it was 3 years ago and I do not work on this project anymore :sweat_smile: But I will pass along this info

[2021-09-21 11:03] ashinzekene commented on #4073
Still not working, I was able to generate a v1 token using MSAL 2, but can't seem to do the same with msal-angularjs

[2021-09-21 13:00] #4032 closed

[2021-09-21 13:00] #4029 closed

[2021-09-21 14:47] bladmoreno commented on #3789
Hi Team, I have been trying to migrate our app to V2, I migrated the Redirect URLS to SPA and disabled Access Token and Hybrid flow from Azure AD but I am getting this error, that supposed to be the right configuration for code flow.

#error=unsupported_response_type&error_description=AADSTS700054%3a+response_type+%27id_token%27+is+not+enabled+for+the+application.%0d%0aTrace+ID%3a+94f892c9-3f75-46

[2021-09-21 15:49] derisen commented on #4073
@ashinzekene choosing a token version is governed by Azure AD and not MSAL, so it wouldn't matter whether you are using msal-angularjs or msal-angular-v2. When you set the `accessTokenAcceptedVersion` in the web API's app registration and later acquire a token for that web API in your Angular app, you should get a token with the right version. Would it be possible that you're looking at the wrong

[2021-09-21 16:21] byunru commented on #4068
@derisen   I got project and pipeline data, means protectedResourceMap should be correct. once using switchMap on existing pipeline, the behavior becomes unpredictable.

[2021-09-21 19:10] ashinzekene commented on #4073
Yeah, thank I've found the issue, it's the login token that v2. What's the type for `protectedResourceMap`. in [Optional Config Object for MSAL initialization](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/maintenance/msal-angularjs/README.md#optional-config-object-for-msal-initialization), or can I get an example, the one there seems to be incorrect

[2021-09-21 19:25] thoo1 commented on #4008
I'm able to consistently repro on our site but not using one of the samples. In the samples, when it does loginRedirect, the address bar changes to AAD and then AAD redirects back to the original site. However in our site, when we do loginRedirect it does not change address bar to AAD site but after a small delay, it changes the address bar to our site but with an additional #code hash. I'm not su

[2021-09-21 19:28] thoo1 commented on #4008
Perhaps it'll be simpler to ask the question, is the #code hash only from server side - if so, how is our application getting this #code hash added without a (visible) redirect to AAD

[2021-09-21 19:43] derisen commented on #4073
So your `protectedResourceMap` should look like this:

[code]

Have you seen the [AngularJS sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angularjs-samples/MsalAngularjsDemoApp) we have. Take a look at it, which calls a custom web API. Though I would really recommend you to migrate to msal-angular-v2.

[2021-09-21 20:46] jasonnutter commented on #4008
Yes, it is. Do you see an outgoing request to AAD in the network tab?

[2021-09-21 20:47] jasonnutter commented on #4008
Can you share a network trace (fiddler or har)? Thanks!

[2021-09-21 21:26] jasonnutter commented on #4008
Also, I'll note that `handleRedirectPromise` will take a response hash as a parameter, so as a workaround, you could write logic to detect this scenario, and then parse the hash and pass it to MSAL explicitly.

[2021-09-21 21:50] tnorling commented on #4059
@LukasCornille Using multiple instances of the `MsalProvider` component is not a recommended pattern. You should instead render a single MsalProvider component at the top level (or as high up as you can) and then conditionally render your other components underneath. `msal-react` provides components to help you do this. For example to achieve the scenario you've listed above you can use the `MsalA

[2021-09-21 21:53] pashvin commented on #3998
Hi, I have similar issue (unexpected login popup) but may be diff root cause. I see in your post you mentioned about timeout. I had that issue long time ago and I fixed by providing following iframeHashTimeout in MSAL init code. Give a try if that works.

auth : {...}
cache : {...}
system: {
        iframeHashTimeout: 10000
}

[2021-09-22 06:16] anshi1690 opened #4083 "Should MSAL Guard redirect to redirectURI or the route it is protecting?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.12.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.1

### Description

In my application, I have a landing page which has a login button. This button when clicked should trigger the microsoft authentication. When the authentication succeeds, the user should be taken t

[2021-09-22 08:05] lf-novelt opened #4084 "angular MsalGuard wrongly checking for 'code=' in URL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

When the app url contains a query parameter named like "table_code=XXx", it creates a redirect loop due to MsalGuard.

It's probably because of the way checking for the string `code=` in the current path,

[2021-09-22 08:32] lf-novelt commented on #4084
Bug also present in latest msal-angular 2.0.3
![image](https://user-images.githubusercontent.com/46479127/134310048-7140dc4d-c034-4fdc-9fc7-3995a631e7dc.png)

[2021-09-22 08:37] lf-novelt commented on #4084
Proposed fix:
[code]

[2021-09-22 11:09] ashinzekene commented on #4073
This doesn't seem to be working. Here's my config

[code]

The id token is still being sent for requests to `/OData/*`

I'm able to acquire a token using
`msalService.acquireToken(['app_id_uri/user_impersonation/my_scope'])`

I'm wondering why the interceptor doesn't.

However it works with msal-anguler-v2 with this config
[code]

[2021-09-22 15:23] JamesBaxterSoftware commented on #4063
what do you mean by the  /authorize endpoint? we are using signup/signup to login and I was planning on using ROPC to sideload the token for testing. I do not understand your answer. Thanks

[2021-09-22 16:42] jo-arroyo commented on #4084
@lf-novelt Thanks for pointing this out. We will investigate a fix for this bug and let you know when it is released.

[2021-09-22 17:20] jo-arroyo commented on #4083
@anshi1690 Can you try setting the `navigateToLoginRequestUrl` to `true`? Setting this to false is preventing your app from redirecting to your home page after a successful login by the MsalGuard.

The MsalGuard should take care of the redirecting, and you should not need to subscribe to `LOGIN_SUCCESS` to navigate to home.

Additionally, are you using the `MsalRedirectComponent` to handle redirec

[2021-09-22 18:01] jo-arroyo commented on #4083
@anshi1690 Are you able to provide verbose logs?

[2021-09-22 18:13] anshi1690 commented on #4083
@jo-arroyo Can you please help me enable verbose logs?

[2021-09-22 21:22] hectormmg commented on #4033
Hey, @RajGanguly.

1.  MSAL trying to navigate to "https://login.microsoftonline.com/common/oauth2/v2.0/undefined" is unexpected. Given that navigating to /undefined will result in a 404, the server will not receive/process the request and MSAL times out waiting for a response. This can happen if the authority object in the request is corrupted. Is there any place in the code where you modify or s

[2021-09-23 01:00] #4038 closed

[2021-09-23 13:00] #4028 closed

[2021-09-23 13:03] izikl commented on #3687
@sameerag this issue is blocking our team from moving to MsalV2. You wrote 24 days ago that there in no ETA, is this still the case?

[2021-09-23 15:03] fhljys commented on #3687
Same situation here. We got everything done and waiting for this fix. Could we take priority on this bug?

[2021-09-23 15:06] jasonnutter commented on #3687
Does setting `forceRefresh` to `true` when invoking `acquireTokenSilent` work as a workaround? Obviously you shouldn't set it everytime, but setting it to true when you know the user has switched tenants should fix it, correct?

[2021-09-23 15:10] izikl commented on #3687
We tried that. It works when forceRefresh is true but consecutive calls with forceRefresh = false are returning the old access token.

[2021-09-23 15:17] jasonnutter commented on #3687
To clarify, are you saying that `acquireTokenSilent` with forceRefresh set to true returns the correct token, but when it is set to false (even after making a call where it was set to true) returns the old token?

[2021-09-23 15:19] izikl commented on #3687
Yes.

[2021-09-23 15:20] derisen commented on #4068
@byunru I was able to reproduce your issue finally. Will try to debug further and get back to you.

[2021-09-23 15:23] jasonnutter commented on #3687
Thanks. And did you try the workaround described above (when they switch tenants, send them through the login flow): https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3687#issuecomment-852566421

[2021-09-23 15:30] cmplank commented on #4084
Wow. I just came here to report the same bug. Here are some further clarifications not in the original bug report.

1. In version 2.0.3 the problem is partially mitigated. Prior to 2.0.3, you would run into a loop which leaves the page unable to render. In 2.0.3, it doesn't loop, but it does stop navigation and removes all query params from the url. Depending on what those query params are, it can

[2021-09-23 15:45] izikl commented on #3687
We tried calling `acquireTokenRedirect` as well.

[2021-09-23 16:00] izikl commented on #3687
Actually, with `acquireTokenRedirect` we saw an infinite redirect loop, that might have been caused by a bug on our side. I will go over it today and update this thread.

[2021-09-23 16:19] jo-arroyo commented on #4083
@anshi1690 Sure, you can find the logging documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/logging.md) and examples of configuring logging in our samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/82a9e4ff2369a3f07c3ab6c45a6e2a5a18a57b6f/samples/msal-angular-v2-samples/angular12-sample

[2021-09-23 17:29] anshi1690 commented on #4083
@jo-arroyo Thanks for the resources. Here are the logs:

VM313:4187 [Thu, 23 Sep 2021 17:26:50 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:handleRedirectStart
VM313:4187 [Thu, 23 Sep 2021 17:26:50 GMT] :  : @azure/msal-browser@2.12.1 : Info - handleRedirectPromise called but there is no interaction in progress, returning null.
VM313:4187 [Thu, 23 Sep 2021 17:26:50 GMT] :  :

[2021-09-23 20:45] jo-arroyo commented on #4083
@anshi1690 Are you able to change the `logLevel` to `Verbose`? E.g. [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/82a9e4ff2369a3f07c3ab6c45a6e2a5a18a57b6f/samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.module.ts#L43).

[2021-09-23 21:12] anshi1690 commented on #4083
@jo-arroyo  -

[Thu, 23 Sep 2021 21:05:22 GMT] :  : @azure/msal-browser@2.12.1 : Verbose - Event callback registered with id: 158dfa21-bb26-4afe-8917-eaade316abcd
core.js:27988 Angular is running in development mode. Call enableProdMode() to enable production mode.
app.module.ts:59 [Thu, 23 Sep 2021 21:05:22 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:handleRedirectStart
app

[2021-09-23 22:41] wwlorey commented on #4074
I am sending the access token, but the only scope I supply so far is "User.Read" so it makes sense this is a scope issue.

I'm not familiar with adding permissions for APIs in the app registration portal - could you offer some guidance on that? The app I'm working with is registered through [firstpartyportal.msidentity.com](https://firstpartyportal.msidentity.com) and is only set up for AAD if tha

[2021-09-24 02:04] Miwa199739 commented on #3687
@jasonnutter, this workaround https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3687#issuecomment-925903055 doesn't seem appropriate for our case, where the main use scenario consists of
1. user login to home tenant,
2. select a data factory (an Azure resource) _in another tenant_,
3. access the selected data factory and other Azure resources (azure storage, azure table and

[2021-09-24 03:17] byunru opened #4088 "How to access DataBricks API with MSAL use proper protectedResourceMap ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

 "@azure/msal-angular": "^2.0.3",

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.3

### Description

How to config MSAL to access DataBricks API in Angular

My angular library reference:
  "@azure/msal-angular": "^2.0.3",
  "@azure/msal-browser": "^2.17.0",

The app can call Az

[2021-09-24 05:23] izikl commented on #3687
The workaround works. Thanks @jasonnutter.
I will keep an eye on this thread for the `acquireTokenSilent` fix.

[2021-09-24 10:34] BriHav commented on #3949
@kleky sounds like your issue can be solved by providing the prompt: 'select_account' parameter, which will prompt the user to select which account to use whenever they login.

@christeredvartsen I have a similar issue, I have an application where I would like to handle the error AADSTS50105, however from around the middle of August, this error is no longer being redirected back to the application

[2021-09-24 10:42] christeredvartsen commented on #3949
Yes, and because of this using this flag is a no-go for our use case.

[2021-09-24 14:13] jasonnutter commented on #3687
@Miwa199739 Can you please clarify this point? And does doing this fix this issue for you?

[2021-09-24 14:28] derisen commented on #4074
@wwlorey ADAL is using the [v1 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/azure-ad-endpoint-comparison), which doesn't have the concept of scope, only "resource". You can read more on how to add permissions [here](https://identitydocs.azurewebsites.net/static/futureoverview/permissions.html). I don't have the exact scope in mind, but possibly it's `https://manage

[2021-09-24 14:35] derisen commented on #4088
@byunru can you clarify further? What error are you getting? What does the token look like (have the right `aud` and `scp`claims?). Most likely these things depend on acquiring the right access token and sending it to the right endpoint, which is not directly related to MSAL. I would recommend going through their [documentation on Azure AD authentication](https://docs.microsoft.com/en-us/azure/dat

[2021-09-24 16:14] tnorling commented on #4061
@mixxit These are lint errors, can you please confirm that you have not configured your own lint rules somewhere? (I was not able to reproduce this) You can either turn off the "react/react-in-jsx-scope" rule if you're using react 17 or add `import React from "react";` to each of the offending files.

[2021-09-24 16:26] byunru commented on #4088
@derisen  I did go through https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token and https://prakamya.medium.com/accessing-databricks-rest-api-using-service-principal-6da4f03b389f
still didn't give what is the correct key for protectedResourceMap, I also tried many combination

just a simple api call
 this.http.get("https://adb-************.azuredatabricks.net/ap

[2021-09-24 16:28] jasonnutter commented on #4088
@byunru Please try this (add a wildcard to the end of the url):

`protectedResourceMap.set("https://adb-********.azuredatabricks.net/*", ["2ff814a6-3304-4ab8-85cb-cd0e6f879c1d/.default"])`

[2021-09-24 16:59] byunru commented on #4088
@jasonnutter

Thanks for your feedback, tried this (add a wildcard to the end of the url), still no luck
----------------------- verbose error -------------------------
XHROPTIONShttps://adb-8728122282744649.9.azuredatabricks.net/api/2.0/clusters/list
CORS Missing Allow Origin

OPTIONS
	https://adb-8728122282744649.9.azuredatabricks.net/api/2.0/clusters/list
Status401
Unauthorized
VersionHTTP/2
Tr

[2021-09-24 17:14] jasonnutter commented on #4088
@byunru Thanks. The CORS errors on the OPTIONS request likely means that the Azure Databricks API does not accept CORS requests, such as those from your Angular application. You will likely need to proxy these requests through a server-side resource.

[2021-09-25 05:43] Miwa199739 commented on #3687
@jasonnutter, yes, forceRefresh works in terms of funcitonality, but the experience is unwanted cause we don't expect token API call to be invoked too frequently.

Regarding 'In step 1, we do not want to re-login user to data factory tenant since it's a behavior change,', we actually mean if we want to reduce forceRefresh call due to mis-match tenant in step3 as much as possible, we gotta re-login

[2021-09-25 20:17] arvindbhairat opened #4090 "Add IsAuthenticated() method to ConfidentialClient"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

Hi,

I am using @azure/msal-node with my express app to authenticate users. When the user if redirected to redirect URL, I am redirecting user to another route (say /dashboard). I need to check if the user visiting /dashboard is authenticated or not. As the authentication is handled by Confidentia

[2021-09-26 01:00] #4039 closed

[2021-09-26 06:38] dacapoday opened #4091 "ChromiumExtensionSample not work"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

raise
Uncaught (in promise) BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API. For more visit: aka.ms/msalj

[2021-09-27 01:32] byunru commented on #4088
@jasonnutter  thanks for the feedback, I'll add a support ticket to Databricks team to confirm about this.

[2021-09-27 03:59] pashvin commented on #4056
Still under monitor and waiting for new logs

[2021-09-27 08:28] mrazgoner opened #4092 "Login popup window does not appear in the center when using multiple screens"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.17.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

when I open a login popup while using multiple screens, the popup appears in a place that doesn't make sense and is partially inaccessible.

### Error Message

_No response_

### Msal Logs

_No response_

[2021-09-27 12:14] MahammedAslam opened #4095 "Outlook add-in - React Web App - MSAL authentication - SSO - Desktop Mode issue"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Authentication implemented using MSAL package ( "@azure/msal-browser": "^2.16.1", "@azure/msal-react": "^1.0.1",) For Outlook Web client - online (O365 version), it's working as expected with login prompt ope

[2021-09-27 16:07] samuelkubai commented on #4062
Hi @mixxit, sorry for the delayed response, could you try delete the node-modules folder under msal-core and try run the `npm install` command again.

[2021-09-28 01:42] derisen commented on #4068
@byunru I've looked a bit more into your issue. During debugging, msal successfully fetched the token each time and attached it to the request going to the `runs` endpoint. The endpoint responds with the data so the issue is not related to authentication/authorization. The problem lies with the usage of RxJS (or rather the usage of RxJS with respect to this endpoint), which keeps making a request

[2021-09-28 06:24] MahammedAslam commented on #4095
@samuelkubai  - Please let us know for more details(if any) in investigating our issue. We  anticipate quick response and resolution to above issue.

[2021-09-28 09:20] birneamstiel opened #4099 "Endpoints_resolution_error when using ROPC flow in msal-node (B2C)"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm trying to acquire a token from our Azure AD B2C authority via the ROPC flow (using `acquireTokenByUsernamePassword`) but always get an `endpoints_resolution_error`. I played around with the authority url quite a bit but couldn

[2021-09-28 11:12] BenediktZoller opened #4102 "MSAL store auth tokens inside cookies instead of sessionStorage or localStorage"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

We currently encounter the problem of `single logout` over multiple subdomain single page applications. As long as the auth tokens are stored in sessionStorage or localStorage by msal.js library we are not able to logout the user at all opened  browser-taps instantly. We do have several apps u

[2021-09-28 11:57] garvraj opened #4103 "MsalInterceptor breaks ngx-translate"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.6

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

Translate module seems not working with msal

### Error Message

![image](https://user-images.githubusercontent.com/41892368/135081771-e1085086-9f70-452f-9049-6bbe741935cc.png)

### Msal Logs

_No response

[2021-09-28 12:18] Codeluck opened #4104 "Can't catch invalid_grant error after refresh token revoke"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

We have an Azure AD B2C with custom policies configured.
By our security policy we are going to revoke all refresh tokens once user changed his password.
The expected behavior is like that;
1. Revoke all refresh tokens for a

[2021-09-28 14:07] nominds opened #4105 "Can MSAL RIP in few years ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

Not applicable

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I have used ADAL in my project. I hear the community is suggesting MSAL is the modern library and ADAL will not be active from June 2022.

I want to know if "MSAL" is backed by a commitment from Microsoft on continual

[2021-09-28 14:21] BenediktZoller commented on #4102
I found this Issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2384 telling me to use memoryStorage if I like to store tokens in cookies. However, I don´t get it how to access the refresh token in memoryStorage cache-mode, since it is not inside the `getTokenCache()` or `AuthenticationResult`. I use redirect to obtain my tokens.

[2021-09-28 15:38] jasonnutter commented on #4103
@garvraj This is a known issue with known workaround, see this issue for details: #2515

Closing.

[2021-09-28 15:38] #4103 closed

[2021-09-28 15:41] jasonnutter commented on #4102
As noted in the issue you linked, we currently do not support storing tokens in cookies. And unfortunately, the work to allow custom storage has been deprioritized, however, may be revisited in the future.

Assuming these applications are different client ids, you can achieve single logout by registering a front-channel redirect uri for each application. This page will be loaded in a hidden iframe

[2021-09-28 15:59] peterzenz commented on #4105
General questions about the Microsoft Support Lifecycle can be found here:  https://docs.microsoft.com/en-us/lifecycle/faq/general-lifecycle

MSAL is under active development so support will last for some time.  New releases that include general security updates and other features, including breaking changes, will come from time to time.  It's in your best interest as an application developer that

[2021-09-28 15:59] #4105 closed

[2021-09-28 18:15] tnorling commented on #4058
@badsyntax So sorry this went unanswered for so long. Based on the logs it looks like your components are being re-rendered which is likely what's causing the loop. I see many `handleRedirectStart` events being emitted, suggesting the `MsalProvider` component is being re-rendered with a new instance of `PublicClientApplication`. Can you please confirm your `PublicClientApplication` instance is not

[2021-09-28 18:24] tnorling commented on #4037
@frikkf Token lifetime is not something the library controls. Please [open a ticket](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) with B2C support.

It's worth noting that even though the refresh token lifetime is 24 hours, that does not necessarily mean the user needs to enter their credentials again every 24 hours. If the session is still active on the server the

[2021-09-28 18:24] #4037 closed

[2021-09-28 18:48] tnorling commented on #4054
@shreenath-is Can you please provide a link to a sample app that demonstrates this behavior? I was not able to reproduce this.

[2021-09-28 22:22] riteshbhoi opened #4108 "OBO Token fetch takes a long time"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

OBO token fetch call takes more than 15 seconds. Here are few correlation ids which are sent with token request
2aff96ca-48dc-48f3-8a06-e2d1788e644c
44b3cc1c-0c05-4fdc-9b0e-dc134ca4775d
0a4bb391-a9b2-4621-9ac7-793a0981b188
6934214

[2021-09-29 01:00] #3998 closed

[2021-09-29 08:47] BenediktZoller commented on #4102
Thanks for the reply. I would be glad to see this feature in future. At the moment I can life with the iframe solution or at least a sessonStorage-solution with a short expiration date of the id-token.

[2021-09-29 08:48] #4102 closed

[2021-09-29 10:05] Dendekky opened #4109 "Authentication with OIDC asking for code_challenge when requesting for access tokens"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are trying to authenticate users to the app using Azure AD OIDCStrategy. As stated in the documentation, if the responseType is set as 'code' or 'code id_token' or 'id_token code',  we should get an access token. Howev

[2021-09-29 10:53] samuelkubai commented on #4091
Hi @dacapoday,

This is an error caused by calling an interaction API; which in this case is `loginRedirect` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ba041e8c2d8c393896e5f3bb3b8b83c522ec2910/samples/msal-browser-samples/ChromiumExtensionSample/auth.js#L85); whilst another interaction API has not been resolved, you can find more information on this error [here]

[2021-09-29 12:31] samuelkubai commented on #4092
Hi @mrazgoner, we have pushed some work on this issue on meal-angular v2, have you tried to reproduce this bug with the latest version of msal-angular?

[2021-09-29 14:26] christeredvartsen commented on #3949
I'd like to get a proper explanation at least. Not sure if this comment will remove the stale status of the issue though...

[2021-09-29 15:57] mrazgoner commented on #4092
Hi @samuelkubai, Thank you for your response,
we use msal-angular v1 since the project is on Angular6 and the version support table on https://www.npmjs.com/package/@azure/msal-angular says it's the appropriate version to use,
however I have tried to run the popup on "Angular 11 - MSAL v2 Quickstart Sample" and could not reproduce the behavior.

[2021-09-29 16:04] BenediktZoller opened #4110 "acquireTokenSilent does always call api even though token is already in cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

"^2.17.0"

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Revering to this documentations: [token-lifetimes](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md) and [aquire-token](https://github.com/AzureAD/microso

[2021-09-29 16:33] samuelkubai commented on #4110
Hi @BenediktZoller, this is the behavior when you pass in the client id as part of the scopes, a fix of this is however being pushed today.

[2021-09-29 16:34] samuelkubai commented on #4109
Hi @Dendekky, a code challenge should not be needed if you provide a secret, could you ensure the secret is being passed in the configuration.

[2021-09-29 16:35] samuelkubai commented on #4108
Hi @riteshbhoi, could you provide timestamps for each of the correlation ids?

[2021-09-29 16:37] samuelkubai commented on #4104
Hi @Codeluck,

The current behaviour is by design, at this moment the library does not support your scenario, we are however taking this suggestion under consideration for our next iterations.

[2021-09-29 16:40] samuelkubai commented on #4092
Hi @mrazgoner, please provide a screenshot/video of this behaviour?

[2021-09-29 16:49] Shivam60 opened #4111 "AcquireTokenSilent Does not create any iframe."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Prior to upgrading to V2 we were logging users who already have logged in some other Microsoft website silently by creating an iframe and triggering a signin by redirect flow in the iframe. This helped us in

[2021-09-29 17:10] jasonnutter commented on #4111
`acquireTokenSilent` in MSAL.js v2 does not use hidden iframes to acquire access tokens most of the time. The `ssoSilent` API will create a hidden iframe to attempt to silently authenticate the user, and is likely more appropriate for your scenario (at least to silently authenticate the user when your app first loads. You should use acquireTokenSilent to silently acquire tokens after that). Note,

[2021-09-29 17:18] Shivam60 commented on #4111
I don't have any value in account array. How else can i access `sid` or `loginHint`

[2021-09-29 17:37] jasonnutter commented on #4111
You may not be able to get those values, unfortunately. You are not the only customer who has this scenario and needs to be able to call `ssoSilent` without `sid` or `loginHint`, which is why we will be removing this restriction soon.

For now, you should invoke an interactive method (e.g. loginRedirect, loginPopup) to allow the user to authentication. Note, if the user is already signed in (and t

[2021-09-29 18:12] Shivam60 commented on #4111
Is there eta/workitem for this ?

Asking users to login interactively would break the current experience. What other alternative would you suggest us in that case ?
Should we go back to the iframe then?

[2021-09-29 18:32] jasonnutter commented on #4111
Please connect with @pkanher617 internally and he can provide this for you.

When loginredirect is called and the user has one active session, they should not need to interactively login, and AAD will redirect them back to your application immediately. If they aren't logged in, or if they have multiple accounts, then they will need to perform interaction. This isn't any different than what would h

[2021-09-29 18:34] riteshbhoi commented on #4108
Here is the timestamp details
2aff96ca-48dc-48f3-8a06-e2d1788e644c -> 9/28/2021, 12:03:56.574 PM PST
44b3cc1c-0c05-4fdc-9b0e-dc134ca4775d -> 9/28/2021, 12:03:53.249 PM PST
0a4bb391-a9b2-4621-9ac7-793a0981b188 -> 9/28/2021, 12:03:51.905 PM PST
69342148-340c-43cb-a092-b88cc0b6ba15 -> 9/28/2021, 12:03:52.990 PM PST
2aff96ca-48dc-48f3-8a06-e2d1788e644c -> 9/28/2021, 12:03:56.574 PM PST

[2021-09-29 18:53] Shivam60 commented on #4111
It appears majority of our users are logged in via single account only. Thus using redirect within an iframe has worked for us ensuring a higher signed users and an experience where users doesnt navigate away from the site for login if there exisits an active session.

I ll wait for @pkanher617 's thoughts and ETA on the above. It looks we ll have to revert back to our iframe code :(

[2021-09-29 20:16] Codeluck commented on #4104
Hello @samuelkubai and thank you for your feedback!

Could you add an additional configuration object like `Configuration.throwOn` with the signature like:
[code]

If the error for an appropriate flag is caught then just throw it without processing silent refresh token request in the iframe.
What do you think?

Btw, I've noticed at least one similar issue here closed because of inactivity. So this

[2021-09-29 21:13] samuelkubai commented on #4110
The issue is being tracked under this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2451)

[2021-09-30 05:19] byunru commented on #4088
@jasonnutter   I can call Databricks api from my console, does it that means Databricks API accept CORS requests ?

show my code below:
----------------------------------------------------------------------------
$rg   = "**"
$dbks = "**"
$token = az account get-access-token --resource "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d" -o tsv --query "accessToken"
$workspace = az databricks workspace show -g

[2021-09-30 05:25] byunru commented on #4068
@derisen  you are right, something wrong with my usage of RxJS, you may close this case, thanks for the investigation.

[2021-09-30 08:20] MahammedAslam commented on #4095
Hi @samuelkubai , Thanks for responding.

In high level, our team followed different  approach to facilitate SSO along with MSAL authentication for Outlook Add-in by  leveraging  ‘msal-react’ package (MSAL package ( "@azure/msal-browser": "^2.16.1", "@azure/msal-react": "^1.0.1") and ‘acquireTokenSilent’ method.

**References used in our Approach:-**

1)	[Acquire token for an API](https://docs.mic

[2021-09-30 08:34] Dendekky commented on #4109
I can confirm that we are passing the client secret into the configuration. And the AZUREAD_AUTH_CLIENT_SECRET is being picked from the env file.
`const options = { clientSecret: process.env.AZUREAD_AUTH_CLIENT_SECRET,` ...rest }.

[2021-09-30 10:48] mixxit commented on #4061
I haven't configured any lint rules i just checked it out from scratch

I do not see any import React from "react" in microsoft-authentication-library-for-js\samples\msal-react-samples\b2c-sample\src

Are you saying the source in git is missing this?

package.json in the b2c sample folder seems to show     "react": "^17.0.1", for me

Thanks!

[2021-09-30 11:06] samuelkubai commented on #4088
Hi @byunru,

No it does not, as documented [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the CORS mechanism is restricted to browsers and thus the only way to get around this is to proxy your requests through a server-side resource, as mentioned by @jasonnutter.

[2021-09-30 11:21] adrian-badulescu opened #4113 "Stuck into "Silent flow client created""
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

^1.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Application get randomly stuck into "Silent flow client created" and I cannot access any protected routes

### Error Message

Verbose - Silent flow client created

### Msal Logs

appSettings is configured
[Thu, 30 Sep 2021 09:45:

[2021-09-30 11:29] samuelkubai commented on #4068
Thank you @byunru for raising and aiding in the resolution of this issue. Closing this issue now.

[2021-09-30 11:29] #4068 closed

[2021-09-30 12:37] shreenath-is commented on #4054
Sure, I'll try to create a sample with the issue over the weekend.

[2021-09-30 12:45] samuelkubai commented on #4061
Hi @mixxit,

I have been unable to reproduce this error as well, however as noted in the [this](https://github.com/facebook/create-react-app/issues/9850) issue, this might be an issue with CRA, could you follow [this](https://github.com/facebook/create-react-app/issues/9850) instructions to try resolve the error and tell us if it works.

At the end of the day adding `import React from 'react'` at

[2021-09-30 13:44] rahul-microsoft opened #4114 "post_request_failed error is thrown when network connection is disabled with MSAL2.17"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

post_request_failed error is thrown when network connection is disabled with MSAL2.17

### Error Message

code: "**post_request_failed**",
desc: "Network request failed: If the browser threw a CORS error, ch

[2021-09-30 17:00] JasonGore opened #4115 "MSAL inconsistently exports error types"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm writing error handling code around MSAL error constructs but am finding that the error types MSAL can throw outside of its boundaries are inconsistently exported. I'd like to tightly couple to them wherever possible in or

[2021-09-30 17:46] jasonnutter commented on #4115
Thanks @JasonGore. You are probably right that we should be exporting any error classes we throw. Most of these errors come from [msal-common](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/index.ts#L80-L85), although not all of them [are re-exported](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/in

[2021-09-30 18:27] christiankaseburg opened #4116 "@azure/msal-browser not requesting user consent from app registrations api permissions"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

When users sign into the client application they are directed through the login redirect flow. Once authenticated the user will be prompted to consent to the application required permissions, which only list

[2021-09-30 20:58] pashvin commented on #4056
Closing issue as after upgrading to 2.17 issue is not noticed

[2021-09-30 20:58] #4056 closed

[2021-09-30 21:47] christiankaseburg commented on #4116
I fixed this by setting the scopes to .default.

[code]

[2021-09-30 22:12] tnorling commented on #4110
@BenediktZoller The fix for this has finished rollout on the B2C service. Can you please try it again and close this issue if this has been resolved? Thanks!

[2021-09-30 22:15] tnorling commented on #2451
I've just confirmed with the B2C service team that a fix for this has been rolled out. Thanks everyone for your patience! Closing this but please feel free to open a new issue if you continue to have problems.

[2021-09-30 22:15] #2451 closed

[2021-09-30 22:40] jasonnutter commented on #4116
@christiankaseburg Yes, you will need to also provide those scopes at runtime to MSAL, in addition to configuring them in the portal. Closing.

[2021-09-30 22:40] #4116 closed

[2021-09-30 23:17] byunru commented on #4088
@samuelkubai  thanks for clarification, I am connecting Databricks support engineer to confirm if their API is CORS capable.

[2021-10-01 01:00] #4070 closed

[2021-10-01 06:43] samuelkubai commented on #4095
Hi @MahammedAslam,

To best understand how to support you, we would like to understand where exactly the sample we provided branches out from your current implementation and how exactly you have been unable to integrate our recommended approach.

Because msal-react just adds some additional react specific layers on top of msal-browser, you can use as much or as little as you want but either way ms

[2021-10-01 06:58] LukasCornille commented on #4059
I've resolved this issue by using the JS library over the React library. As I stated I'm using a static element with multiple custom elements in which React components live. The solution provided by @tnorling therefore does not work, by using the JS library I was able to handle the redirect promise before registering the custom elements and therefore only initialise the library once.

[2021-10-01 06:58] #4059 closed

[2021-10-01 07:10] mapennig commented on #4110
The issue has not been resolved. It is still not using the cache.

[2021-10-01 08:00] cranarma commented on #4110
I'm still experiencing this issue, even after upgrading msal-browser to the latest 2.17.0 version, clearing all cache and logging back in. The "scope" value of the response from B2C is still a slash.

[2021-10-01 08:01] cranarma commented on #2451
I'm still experiencing this issue. The "scope" value in the response from B2C is still a slash.

[2021-10-01 08:16] mixxit commented on #4061
my package.json says "react-scripts": "4.0.1" but it is advising changing it to "react-scripts": "4.0.0-next.98"
the .env file already existed with SKIP_PREFLIGHT_CHECK=true
the eslint was different but i have added it

the npm start is now

![image](https://user-images.githubusercontent.com/233287/135587954-a8b8e072-bbd6-4b95-bef6-245af62b3134.png)

[2021-10-01 12:13] MahammedAslam commented on #4095
Hello @samuelkubai , Thank you once again for confirming on usage of Office SDK and loginredirect method for current issue. Our team started to explore suggested approach in integrating  with current implementation.

We'll let you know on outcome once tested after integration from our end. We would also demonstrate our current case through connect call planned for any assistance and sorting out re

[2021-10-01 16:02] tnorling commented on #4110
@mapennig @cranarma Can you please email me a fiddler trace (email on my profile) and I'll follow up with the service team? cc @nickgmicrosoft

[2021-10-01 16:15] tnorling commented on #4061
@mixxit You shouldn't need to downgrade react-scripts to a prerelease version. What happens if you revert back to 4.0.1 but keep the new eslint rules?