[2019-04-09 07:33] tabinnorway opened #631 "How about creating an example that actually works?"
git clone
npm install
ng serve

App comes up fine. Press login. AAD login screen pops up. Log in. Move around the app. Each "tab" presents the login screen again.

[x] All browsers
[x] Angular version 7.x installed, but using local, which is 1.7.x

[2019-04-09 20:01] aashiman commented on #601
An admin will now be able to see the consent experience inline, would this work for your needs:
https://docs.microsoft.com/en-us/azure/active-directory/develop/application-consent-experience

[2019-04-09 20:09] aashiman commented on #590
The access token version returned is based on the configuration of the resource/web API. You will need to check their documentation; this is important as otherwise you wont be able to access the API and/or the data  you are trying to access.

[2019-04-09 20:18] aashiman commented on #625
Are you checking the access token or id token or both ? is your client app and API app the same app ID?

[2019-04-09 21:55] navyasric commented on #620
This issue seems related to #534. Please track that issue. Closing this

[2019-04-09 21:55] #620 closed

[2019-04-09 22:01] ryandegruyter commented on #625
Checking the access token.

Client app and API app don't have the same clientId.

[2019-04-09 22:14] pkanher617 commented on #211
@spottedmahn Apologies for the long delay on this issue. I have read some of the history of this issue, and I have a couple of questions:

1. Are you still seeing an issue with the auth callback not firing when returning from a failed non-B2C login? This is not something we have seen in our test environments.
2. Are you unable to access localStorage or sessionStorage from your application? After M

[2019-04-09 22:20] DarylThayil commented on #608
Is this being rendered server side?

[2019-04-10 00:00] aashiman commented on #535
@navyasric  is this a dup of  issue #498

[2019-04-10 10:15] mahoekst opened #632 "Unicode issue with username"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-04-10 15:10] spottedmahn commented on #211
Hi @pkanher617  👋

Not a failed login but a "reset password request".

[2019-04-10 15:13] spottedmahn commented on #211
I can it's hacky though.  I'm messing w/ the internals.  I'm crossing the boundary from public to private, not a fan of that.  Make sense?

[2019-04-10 15:40] fristys opened #633 "How do you unit test this library?"
## I'm submitting a...

<pre><code>
[x] Documentation issue or request
</code></pre>

We're interested in using MSAL, however, all of our development is test driven. Is it possible, and/or are there any examples of unit testing the library (in conjunction with Angular in particular)?

[2019-04-10 22:12] SamNutkins commented on #534
I'm having the same issue, although it seems to happen when calling `loginRedirect`.  The flow works fine on Firefox, but fails on Chrome with the same 'Set-Cookie' warning being logged.

Does anyone know a work-around? Is there a plan for this to be fixed?

[2019-04-11 05:35] navyasric commented on #633
Please take a look at [these steps to run the unit tests](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Build-and-run-tests) for the library and let us know if that helps you.

[2019-04-11 05:38] navyasric commented on #632
This issue is same as existing report of the issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/596. Please track above issue and the PR: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/549 that could fix this. Closing.

[2019-04-11 05:38] #632 closed

[2019-04-11 06:12] fristys commented on #633
I meant, how do you unit test your own services and such implementing the library in an Angular application, not how to build and test the actual library.

[2019-04-11 10:29] heymega opened #637 "Provide In-Memory Storage of Access Token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Currently you can store the access token in either **localStorage** or **sessionStorage**.

## Expected behavior
Add a third

[2019-04-11 18:09] DarylThayil commented on #534
@SamNutkins  can you repro this consistently?
If so can you capture through Fiddler logs for us?

[2019-04-11 22:34] sameerag commented on #633
@fristys  We have existing UT cases and end-to-end cases for angular, may be the end-to-end cases would help you in this context. Having said that we started a comprehensive test suite addition to our core library code as we move forward with our [API changes in msal core](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap).

Can you give us an example of what exactly

[2019-04-12 16:06] SamNutkins commented on #534
@DarylThayil

I've actually been able to work around the issue for now.

I was seeing redirect loop the behavior described in #498.  As several people suggested there, setting the `navigateToLoginRequestUrl` config property to `false` solved my problem and the redirect flow is working.

It's worth noting that even after that change, I still see the 'Set-Cookie' warning in the logs.  I'm not sure i

[2019-04-12 16:09] chesteryang opened #640 "How to remove admin consent check box?"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
N/A

## Library version

Library version: 0.2.4

## Current behavior
When calling loginPopup, there are scopes such as Group.ReadWrit

[2019-04-12 16:23] aappddeevv commented on #590
I'm using AD, signed up for the API that was a 2.0 endpoint via the registration process. I think you are saying that it is the endpoint's fault. Both the id and access tokens come from the same place but in one case I'm getting a 2.0 token but *then* it starts issuing 1.0 tokens. I think your are saying that its not the library's fault it is happening e.g. there is *no* 1.0/2.0 token switch or pa

[2019-04-12 16:38] rocketraman commented on #458
As per my comment on pull #462, Azure support is telling me is that comparison of the redirect URI against the exact URIs listed as allowed URIs is the current expected behavior, which is contrary to what I and others believed above. If that is the case, then the code in pull #462 cannot actually solve this problem, and does break some existing setups as well (the code might still be useful for ot

[2019-04-15 11:15] jacksonhart commented on #288
life saved.
adding a bit of logic into the root component of an angular app (unguarded) produced this error.
needed to inject msalService.

some more docs about this would be good or did I miss it.

[2019-04-16 17:38] kaburkett commented on #303
I am receiving a similar error.

```BSSO Telemetry: {"result":"Error", "error":"NoExtension","type":"ChromeSsoTelemetry","data":{},"traces":["BrowserSSO Initialized","Creating ChromeBrowserCore provider", "Sending message for method CreateProviderAsync","Received message for method CreateProviderAsync","Error: ChromeBrowserCore error NoExtension: Extension is not installed."]}```

The only extensi

[2019-04-17 07:02] emilpalsson commented on #588
I agree. `location.replace` leads to annoying user experience.
We've done a silly workaround for this:
[code]
This way, msal replaces our faked history item instead of the current one, which allows for proper back navigation.

[2019-04-17 09:44] zinonz commented on #400
My azure tenant gives the sharepoint search scope as [https://microsoft.sharepoint-df.com/Sites.Search.All](url)

[2019-04-18 08:56] ThomasJacob commented on #498
Hi All,

This seems to fix the login loop from an angular application. Where I'm invoking this from the AppComponent ngOnInit() method.

[code]

Hope this helps.

[2019-04-18 22:56] Zawad commented on #640
Thank you for sharing this idea @chesteryang! I would like to fully understand the value you are looking for here, so can you provide more details on the value of having this functionality?

Here is a little background on the checkbox functionality as it is now - The checkbox only appears for global admin users. The global admin role is a very privileged role that only a select few employees shoul

[2019-04-19 20:08] DarylThayil commented on #637
Can you describe what you mean by in memory?

[2019-04-19 20:53] przemos opened #3391 "Inconsistent override capability between OIDCStrategy and BearerStrategy"
In OIDCStrategy one can override a couple of important strategy properties such as client id, client secret, redirect url and so forth in passport.authenticate() call through options. This is very important if one needs to apply strategies dynamically on a request basis.

BearerStrategy does not allow to override it in such a way which makes the whole approach inconsistent.

[2019-04-20 12:02] bguidinger commented on #508
@chigivigi can you make sure your scope has a double forward slash in it?  I'm not sure if your `environment.endpoints.crmUri` has a trailing slash or not.  For example, your scope should be `https://<organization>.crm.dynamics.com//.default` or `https://<organization>.crm.dynamics.com//user_impersonation`.

[2019-04-22 15:30] fristys commented on #633
For example, imagine I have a service that has a method that silently acquires a token, performs `GET https://graph.microsoft.com/beta/me`, and returns the request response. How do I test that?

[2019-04-23 22:50] chesteryang commented on #640
Thanks for the response. We have such scenario as getting consent once to setup an application on an azure account. We cannot assume there is always a knowledgeable global admin user. And also we don't want to provide a chance through the application to let admin user check consent box for others. If they do it in azure portal, they can do it but it is slightly different and it has nothing to do w

[2019-04-24 15:38] holwech commented on #590
Copying from here: [#396](https://github.com/AzureAD/passport-azure-ad/issues/396) - If you haven't figured it out by now already, to get a v2.0 access token go to [portal.azure.com](https://portal.azure.com) -> `Azure Active Directory` -> `App registrations (preview)` -> Find your app registration in the list -> `Manifest`. In the manifest file you will find a field called `accessTokenAcceptedVer

[2019-04-24 15:42] aappddeevv commented on #590
Wow! I'll give that a try. I did not come across that part of the docs. Hopefully that solves the issuance problem and the nodejs-passport-azure authentication problem together.

[2019-04-24 17:43] heymega commented on #637
Storing the value in a variable/object inside a service registered as a singleton.

[2019-04-26 07:10] abishekreddy opened #663 "AADSTS28004: The provided value for the input parameter 'scope' exceeded the number of scopes allowed"
We get an `AADSTS28004: The provided value for the input parameter 'scope' exceeded the number of scopes allowed.` error when we add more than 5 values to the consentScopes list.

![image](https://user-images.githubusercontent.com/24618556/56789812-79031c80-6820-11e9-9984-b012930f9a24.png)

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a ne

[2019-04-26 08:12] subasreeg commented on #414
@navyasric @miwri
Hi Navya,  our team is also waiting to get these issues fixed more than 2 months now. Many our customers, who have a huge user base use only IE as their default browser. I have attached the emails that we are receiving from our customers regarding this issue. It would also help if you can provide tentative dates by which we can expect these fixes.

[2019-04-27 13:15] 217Wilder-User1 commented on #414
@subasreeg Please see @bwronin comment above.  It worked for me on ie11.  Not great, but it appears to be working.  Basic idea:  Copy the msal .ts file from azure/msal to your project. Remove azure/msal from package.json.  Add the latest msal library (not azure/msal) to you package.json. Add a comment if this works.

[2019-04-27 14:05] Zireael commented on #227
Yes, I too would like to get both tokens

[2019-04-27 19:56] sameerag commented on #227
@Zireael @ChristianOlsson  We have a new MSAL JS release that supports this. It is still in preview but would you want to try the release and let us know how it works? It is breaking changes wrt the API surface and documented [msal 1.0.0-preview.x](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-preview-api-release).

npm install msal@preview should give you t

[2019-04-29 08:26] RichardMaher opened #667 "CredentialManagement API support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ X ] Feature request
[ X ] Documentation issue or request
[ X ] Other... Please describe: W3C Standard support
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ X ] Edge version XX
- [ ] Safari

[2019-04-29 23:36] sameerag commented on #667
@navyasric  any insights?

[2019-04-29 23:41] Rorotu opened #668 "Guarding a route using MSAL.js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

For guarding a route, is calling acquireTokenSilent an appropriate way to ensure that the user is still authenticated when using MSAL.js (msal-c

[2019-04-29 23:49] sameerag commented on #668
@Rorotu  Is this B2C? and Is this Angular?

[2019-04-29 23:52] Rorotu commented on #668
Yes, it is b2c, but not angular.

[2019-04-29 23:56] sameerag commented on #668
Guarding routes are usually in the context of msal-angular in our code and hence I was confused if it is an angular app.

Our tokens expire every hour. If you want a silent authentication you can call acquireTokenSilent periodically to keep session, If you choose user interaction for expired tokens for your app model, you can call loginPopup (for idToken) and then acquireToken() calls for the acce

[2019-04-30 09:52] mlankamp opened #669 "Inconsistent behaviour for different user account types"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
<pre><code>
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX
</cod

[2019-04-30 09:59] mlankamp opened #670 "UserAgentApplication is missing the loginInProgress"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-04-30 21:48] aashiman commented on #669
@mlankamp  if you pass sid, please do not pass login_hint or domain_hint as the protocol does not work when these do not align i.e. login hint has a diff user than the one in the sid.

Please refer to this and let us know if this can be called out in an easier way
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso

[2019-04-30 21:49] pkanher617 commented on #670
@mlankamp I have changed the getLoginInProgress function to be publicly available. Please feel free to pull and test the branch and let me know if you have any further issues.

[2019-04-30 21:49] #670 closed

[2019-04-30 22:02] aashiman commented on #663
Hi, in the interest of a best user experience with consent, we recommend that the scopes are asked for when needed using MSAL and the OIDC certified v2 protocol.

Are you really  needing to consent across 5 APIs in the 1st user screen? have you collected end-user feedback? Our experience has been that you are likely to see user drop off on this screen

https://docs.microsoft.com/en-us/azure/active

[2019-04-30 22:04] sameerag commented on #633
@fristys  What you mentioned is an end-to-end case.
Since the response if returned to you, you can validate the tokens and other parameters of the response at your end.

We are also actively filling in our Unit tests and end-to-end tests in our code and we will be soon enhancing the end-2-end testing to match most use cases. The use cases you are referring to will be covered in those.

[2019-04-30 22:23] sameerag commented on #617
@peshos  We are planning to looking at this and update after msal 1.0.0 release.

[2019-04-30 22:30] sameerag commented on #615
@AbhaysinghBhosale What you seem to require us to clear 'localStorage'  on exit which is beyond the functionality of this library. You may be able to clear the 'localStorage' on the exit of the window from the application end.

Closing this issue.

[2019-04-30 22:30] #615 closed

[2019-04-30 22:30] #633 closed

[2019-04-30 22:34] sameerag commented on #608
@Julien-sans Can you please give us clear instructions on the repro? The usage seems alright from your sample code but there may be an issue with the way your environment is configured that may be leading to this.

[2019-04-30 22:44] sameerag commented on #637
Linking this with #602 ; closing this issue.

[2019-04-30 22:44] #637 closed

[2019-04-30 22:46] sameerag commented on #601
@JingyuShao Please reopen if the above data is not sufficient for your needs.

[2019-04-30 22:46] #601 closed

[2019-04-30 23:04] sameerag commented on #597
@aappddeevv MSAL JS tokens expire every hour. acquireTokenSilent() call helps you with a silent refresh in the background without a popup. Combining this with the above suggestion from @AndrewCraswell may be something you are looking for.

We are also documenting our expiry_time for more clarity on questions like this.
Please reopen if your issue is still unaddressed.

[2019-04-30 23:04] #597 closed

[2019-04-30 23:21] sameerag commented on #590
@aappddeevv Please let us know if the above suggestions solves your issue. Please reopen if you need more help.

[2019-04-30 23:21] #590 closed

[2019-04-30 23:36] sameerag commented on #547
@abishekreddy @vbora Can you please refer to [Known Issues in Safari](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari) and see if it helps. This is something we cannot resolve in MSAL at this point and we provided workarounds for the same in the above link.

[2019-04-30 23:39] sameerag commented on #537
@inandi Can you repost this with clear detailed steps on where you are failing to help you further? Our samples work out of the box and we are more than happy to resolve any configuration issues. Please refer to the code samples in our quickstart to help with the basic patterns, [QuickStart](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2)

[2019-04-30 23:39] #537 closed

[2019-04-30 23:47] pkanher617 commented on #535
@Gtyrande Thanks for submitting this issue. Our compatibility with Vue is something we are taking a look at, but this may be a library issue.

We have recently gone through a redesign of the library's API surface and the calling pattern for the redirect pattern. Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/micr

[2019-04-30 23:47] #535 closed

[2019-04-30 23:49] sameerag commented on #534
@sameerag We are following up with the service team regarding the cookie length, Will update once we have a traction on this.

[2019-04-30 23:51] sameerag commented on #527
@dwatty This fix is in progress.

[2019-04-30 23:59] sameerag commented on #512
@cleberdantas We have enhanced our library to make this configurable. In the latest preview of msal, Configuration takes a parameter:

tokenRenewalOffsetSeconds?: number;

Which addresses this issue.

We have recently gone through a redesign of the library's API surface. Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/Azu

[2019-04-30 23:59] #512 closed

[2019-05-01 00:04] sameerag commented on #508
@chigivigi have you tried @bguidinger 's suggestion? Also we support 'scopes' per resource at a time for accessTokens but can pre consent at the time of signing in (idToken) only.

We have recently gone through a redesign of the library's API surface. Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/microsoft-authe

[2019-05-01 00:04] #508 closed

[2019-05-01 00:05] Rorotu commented on #668
I guess the periodic check could work well with a web worker.

However, this solution will probably not work when the web app is offline, given that the token expire every hour.

[2019-05-01 00:05] sameerag commented on #593
Tracking this with #504 as a new feature.

[2019-05-01 00:05] #593 closed

[2019-05-01 00:07] sameerag commented on #498
@tszymanik Apart from the above suggestion made by @ThomasJacob,

We have also recently gone through a redesign of the library's API surface to improve the redirect experience.

Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev) and try updating your code and see if t

[2019-05-01 00:07] #498 closed

[2019-05-01 00:11] sameerag commented on #490
@Ralms @daniel-seitz Logout screen is not controlled by MSAL JS but the service. We are tracking this with the service team who are in control of the logout screen if there is a query parameter that can help achieve this behavior.

We will update this issue once we hear back from them.

[2019-05-01 00:17] sameerag commented on #488
@raikoss msal does cache the tokens and looks up the cache for existing valid tokens for a request as long as the 'authority' and 'scopes' are matched in the original request (where the token is cached in the corresponding response).

We also recently fixed a bug that causes cache misses with authority.

We have recently gone through a redesign of the library's API surface. Please download our [la

[2019-05-01 00:20] sameerag commented on #453
Closing this issue as there is no response from the user.
Please reopen if the issue persists with clear repro steps.

[2019-05-01 00:20] #453 closed

[2019-05-01 00:36] sameerag commented on #393
@srivathsanvlb @kwaazaar

We have recently gone through a redesign of the library's API surface. Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev) and try updating your code and see if the issue still persists.

If you would like guidance on how to use the new versio

[2019-05-01 00:37] sameerag commented on #393
Please reopen if the issue still persists.

[2019-05-01 00:37] #393 closed

[2019-05-01 00:37] Ralms commented on #490
@sameerag Thank you for the update.

[2019-05-01 00:49] sameerag commented on #317
@spottedmahn We are tracking this issue after our 1.0.0 release.

[2019-05-01 00:52] sameerag commented on #293
@spottedmahn we are removing /dist in the upcoming release. We are working on a strategy for /docs, and they will have to remain for some time in github.

[2019-05-01 00:52] #293 closed

[2019-05-01 00:54] sameerag commented on #264
Tracking this with #596

[2019-05-01 00:54] #264 closed

[2019-05-01 00:58] sameerag commented on #64
@spottedmahn We have enhanced our error handling with our API changes and this would help catch any authority validation or endpoint errors.

Please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev) and try updating your code and see if the issue still persists.

If you wou

[2019-05-01 00:58] #64 closed

[2019-05-01 02:14] sameerag commented on #614
This issue is being fixed in the core library with #548. Angular adaption when it happens will automatically pick this up (as angular is a wrapper) on our core library. Please check our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/548) for updates on the same periodically.

[2019-05-01 02:17] sameerag commented on #99
@BatmanAMA  @Only1MrAnderson We are testing our latest MSAL JS against this and will update the documentation on ADFS supportability based on the same. Please expect this to be after our current release though.

[2019-05-01 02:21] sameerag commented on #211
@spottedmahn I have asked the B2C Service team to take a look at this issue and test this locally. We will try addressing this soon after our 1.0.0 release goes out.

[2019-05-01 02:41] sameerag commented on #668
We do not want tokens to be valid for longer durations in SPAs and hence there is a default one hour expiry.
From the service, accessTokens can be configured for a max 1 day expiry referenced
 at [Configurable Token Lifetimes](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes)

If you are setting it for less than 5 mins though, please rea

[2019-05-01 02:46] sameerag commented on #669
Also with the new APIs this is **sid** or **login_hint** or **account** - Only one of these can be passed in the request.

[2019-05-01 06:01] cicorias commented on #293
so, there's nothing wrong with the docs unless they're auto-generated. the /dist/*.js are all TSC emitted and non-sensical from a Git perspective to be within the repo.  However, they DO need to be in any NPM or other package manager assets.

The Docs imho probably are OK - unless there is a move shift all docs and the pr/change process within the repo to docs.microsoft.com

[2019-05-01 06:12] sameerag commented on #293
@cicorias Sure. Yeah, we took some time since we were working on removing a legacy dependency on /dist in the test code. We already made the separation in our dev now and hence yes, we are on track.

For now we are stabilizing the comments to make the docs more relevant, but the strategy is evolving in parallel for the /docs.

[2019-05-01 10:27] spottedmahn commented on #64
Hi @sameerag - that's great.  Can you provide a link to the PR/commit?

[2019-05-01 11:14] srivathsanvlb commented on #393
Thanks @sameerag for the reply. Good to see that msal.js has matured extensively.

I will give it a try and let you know on how it goes, but will take sometime since I have moved to a different project.

[2019-05-01 13:50] nonongodup opened #3392 "authentication failed due to: In setOptions: Unable to fetch metadata"
I am running behind company proxy. After i added some proxy for http call, i am getting this when tried to call login authentication. Before adding proxy, i was getting connectiontimeout when without VPN and econnrefused when using corporate VPN. Not sure what is the issue.

[2019-05-01 18:20] sameerag commented on #64
So we had multiple PRs as this was a big API surface change activity. npm@msal-preview should pull the latest code for you as mentioned above - or 'dev' branch is up to date. We do plan a release soon and get out of the preview mode. This release is majorly focused in API surface changes to improve the usability of the library.

Having said that some of the inner workings updates (includes logging

[2019-05-01 18:31] mlankamp commented on #669
I'm using the new API's (1.0.0-preview.4) and I'm only providing the **account**:

<pre><code>
const request: AuthenticationParameters = {
    scopes: ["user_read"],
    account: this.authcontext.getAccount(),
};

this.authcontext.acquireTokenSilent(request).then((value) => {
    resolve(value.accessToken);
});
</code></pre>

My point is that when you login with an live-id (that is added as a gues

[2019-05-01 18:33] mlankamp commented on #670
Thank you!

I'm going to give a try!

[2019-05-01 18:34] sameerag commented on #669
Sure. Let me take a look at this and see if we are adding hints when we don’t need to. The idea is to fall back on the info the api has if the user did not populate any hint data.

[2019-05-01 18:50] spottedmahn commented on #64
Fair enough, thanks for the reply 👍

[2019-05-01 19:39] mlankamp commented on #669
I've created an example https://msaljs.azurewebsites.net/ (based on the VanillaJSTestApp/index.html). In the function `acquireTokenPopupAndCallMSGraph` i've added the line `request.account = myMSALObj.getAccount();` If I remove this line, the application works as expected.

The sign-in works, but the request token has a failure. The url called is:

https ://login.microsoftonline.com/65382380-7f03-

[2019-05-01 19:42] sameerag commented on #669
Yes please. Can you please add the live id: "testmsal@outlook.com"? I will reach out later in the day once the sort this out.

[2019-05-01 19:44] mlankamp commented on #669
I've added the live-id to my tenant (you should receive an invite email)

[2019-05-01 19:52] sameerag commented on #669
Thanks much. Received the email.

[2019-05-02 01:19] cpchiu opened #677 "wids field missing from access token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-02 08:37] Rorotu commented on #668
Why should I extend the access/id token lifetime ? If the the access/id token lifetime is 60 minutes and the web app session lifetime is 1440 minutes, why do I need to periodically call acquireTokenSilent before the access token expire. Instead, shouldn't acquireTokenSilent be called before the expiration of the web session? In which case, this bring us to the same limit of 1 day.

[2019-05-02 09:49] mlankamp commented on #669
Any update? Maybe reopen this issue?

[2019-05-02 16:39] sameerag commented on #669
Sorry @mlankamp ... heads down in a release. But this is something we want to fix before that. I am hoping I will have something today.

[2019-05-02 19:26] sameerag commented on #347
@MarcusPenn we cannot store idTokens in cookies. The length is a problem and so is the security. This specific case for IE/Edge is a browser limitation that is beyond MSALs reach. We have our guidance documented here: [Known Issues for IE/Edge](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser
)

One option is to save the idToken once it is

[2019-05-02 19:26] #347 closed

[2019-05-02 20:23] sameerag commented on #264
@juunas11 I am trying to integrate this solution in our preview and will update the build details in the tagged #596. Please test and let us know if this works once we release the fix.

[2019-05-02 23:50] sameerag commented on #677
@cpchiu There is a known limitation in returning wids claim through implicit flow documented [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) - specifically stating
"May not be present in tokens obtained through the implicit flow due to token length concerns".

The JWT is populated by the service and MSAL JS is an intermediate carrier of the token to the app.

[2019-05-03 01:18] cpchiu commented on #677
Thank you for the response.

The error I am getting is

{
  "error": {
    "code": "UnknownError",
    "message": "Auth token does not contain valid permissions or user does not have valid roles.",
    "innerError": {
      "request-id": "9551e1b5-c4d7-4ee0-92d3-58246c9fd89c",
      "date": "2019-05-03T01:05:52"
    }
  }
}

I checked the token and it has the follow security permissions:
openid pr

[2019-05-03 02:48] navyasric commented on #668
@Rorotu The acquireTokenSilent method renews the access and id tokens cached by the library. If it is called before the expiration of the user session with Azure AD, the session is kept active and it will extend the session. However, the library or your app does not track if the user session on Azure AD domain is active or not. Please take a look at this [FAQ topic](https://github.com/AzureAD/micr

[2019-05-03 05:45] amigup commented on #629
I'm experiencing the same issue due to which in SSO flow, the user is always asked to select an available account (due to hardcoded prompt=select_account in older version msal.js lib). Since, msal.js 0.2.4 already incorporated the required behavior, so can this @azure/msal-angular package use the latest msal version i.e. 0.2.4.

[2019-05-03 06:50] Rorotu commented on #668
Yes, I wanted to confirm this behavior, because I think I might have a problem with the session duration. I will verify and see how it goes. Thanks !

[2019-05-03 16:27] sameerag commented on #668
@Rorotu Please let us know if we can close this issue once you test this.

[2019-05-03 18:06] jannikbuschke commented on #599
The api looks much better than the current one.

[2019-05-03 18:42] pkanher617 commented on #527
@dwatty @freeman-g We have updated the [dev branch](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev) with changes to introduce this. We will be releasing another preview version of the library with these changes in [npm](https://www.npmjs.com/package/msal) by the end of the day. We will also be releasing the 1.0.0 version of the library soon as well, so please be on the

[2019-05-03 18:42] #527 closed

[2019-05-03 19:45] pkanher617 commented on #548
@blindfish3 We have updated the library to return the correct state in the PR referenced above, and it has been merged to dev. We plan on pushing a new preview release by the end of day today, and will be releasing our 1.0.0 version soon. Please feel free to pull our dev branch or use the npm preview release version 1.0.0-preview.5 and reopen this issue if there are any issues with the state param

[2019-05-03 19:45] #548 closed

[2019-05-03 21:50] aashiman commented on #534
@SamNutkins  does the warning in the logs impact end user sign-in? It might be a false positive from chrome dev tools, likely complaining about total cookie size, for which Chrome doesn’t actually have a limit: http://browsercookielimits.squawky.net/

[2019-05-03 21:52] aashiman commented on #625
Can you please confirm that the access token version for this API / app ID URL is 1? We only support these attributes for atver=1 access tokens

[2019-05-03 21:55] aashiman commented on #617
@peshos  can you please share a requestId/correlationId for a broken request?  We will look into our service logs to see what might be causing this.

Better if you are able to track a success vs fail flow via fiddler, that would help as well

[2019-05-03 21:58] aashiman commented on #663
@abishekreddy I am closing this request as you should be able to do incremental/dynamic consent with MSAL/AAD v2 protocol. Please feel free to re-open if that does not work for you

[2019-05-03 21:58] #663 closed

[2019-05-04 06:11] Rorotu commented on #668
I did some tests and it works. The problem was on my side. I kept my original solution. I call acquireTokenSilent (with the fallback on acquireTokenRedirect) when the user navigate through the app.

[2019-05-04 06:11] #668 closed

[2019-05-04 13:32] daniel-seitz commented on #490
Great, thank you.
One important thing to consider is that the user might use other ms apps in other tabs as well. Here we should likely not log out the user from all apps. Or at least thats something to think about.

[2019-05-04 14:06] alimpaecher commented on #590
So I'm running into the same problem. I get a version 2.0  id_token and then the access_token says it itself is a v1.0 access token. I've checked the manifest however and accessTokenAcceptedVersion has been set to 2 already.

In what I believe is a related error (though that might be a misdiagnosis), I get the following error when I try to login using a personal account.

Since my manifest has
`"s

[2019-05-04 14:12] aashiman commented on #677
@cpchiu  can you please make sure your application configuration has the claim enabled to be safe?

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping

[2019-05-04 16:27] kosjanne opened #689 "redirectCallback method is not called if navigateToLoginRequestUrl is false"
## I'm submitting a...

<pre><code>
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 73
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-05-04 17:28] cpchiu commented on #677
We are trying to build an application that can be used across multiple azure ad domains so it looks like we would fall under the "cross-tenant" scenario where it looks like the policies are ignored according to the documentation. The goal is to be able to login to our application using microsoft creds and making graph queries on behalf of the user logged in without any setup in the logged in user'

[2019-05-04 21:23] cpchiu commented on #677
When I do look at the permissions for our application I have the following:

![permissions](https://user-images.githubusercontent.com/547950/57184938-3fba5480-6e91-11e9-877d-63c360e50e87.PNG)

And have granted admin consent for each of the permissions.

[2019-05-04 21:43] cpchiu commented on #677
I also modified the manifest of the application to add the optional claims to no avail

[2019-05-05 14:24] Danieliverant commented on #174
Using Angular 7 - the Angular wrapper not compatible so I have to use the vanilla JS library.
And I'm facing the same issue.

I've created a service guard that do all the authentication process and on success redirect the app (using Angular Router) to the main page.

How can I use @chetanku workaround to close the popup?
where should I insert the code snippet?

[2019-05-05 15:59] Danieliverant commented on #326
using Angular 7  (vanilla JS package because the Angular wrapper compatible just up to version 5) and loginPopup(), when I set "isAngular" to true the popup opens and closes itself without doing anything (really weird behavior because I can't catch the error, not in the 'then' block nor in the 'catch').

When not using "isAngular", and using Angular Router to redirect to the main page of the app a

[2019-05-05 19:26] Tovli opened #691 "ClientAuthError: Error: could not resolve endpoints. Please check network and try again when not supplying authenticationParameters"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-05 19:56] sameerag commented on #691
@Tovli Thanks for raising this. loginPopup() should have been working without any request. Will reach out once I debug this.

[2019-05-05 20:21] sameerag commented on #691
@Tovli  I just tested this and it works as expected. loginPopup() works without a parameter. From the error you posted I do see that this could be probably the endPoint Verification that is failing. Can you please send us the authority that you are using to make this call?

"Error: could not resolve endpoints." is seen only when we make a call to the end point before sending a real request to the

[2019-05-05 20:27] Tovli commented on #691
Hi man,
you are right, I forgot to add my config.
I'm sending authority : https://login.microsoftonline.com/tfp/<tenant_name>.
onmicrosoft.com/<SignInSignUp_User_Flow_Name>

And the ClientId of course.
Sorry for the disinformation
Thanks for checking this

Now I send the same authority in the loginRequest as well and it works as
expected (Would change that later on of course :) )

On Sun, May 5, 2

[2019-05-05 20:28] SaeedAkhter-MSFT opened #692 "calling loginPopup for a "switch account" experience"
Most of the time, I'm signed in as one user, and I want skip the account selection screen and just sign in quickly.  However, if an app wants to build both a "Sign In" button and a "Switch Account" button, we want to accommodate an app to force prompt=select_account.

On the request object, there is a prompt: parameter that can be set by the developer.  However, it's ignored unless one of (loginHi

[2019-05-05 20:41] sameerag commented on #692
@SaeedAkhter-MSFT good catch. I can check this and see how we can remedy this.

prompt=select_account is supposed to give the tile selection independent of login_hint. When there is no login_hint passed from the user, we append some information (if we have it already) to the request to the server. We are still supposed to pass an interactive prompt to the service since the user chose to, looks lik

[2019-05-05 20:44] Tovli commented on #691
so this is the expected behavior?

On Sun, May 5, 2019, 23:38 Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-05-05 21:01] sameerag commented on #691
Yes. loginPopup() and logonRedirect() work without any inputs, they give you an idToken with scopes as "clientId". acquireToken() calls need 'scopes' as parameters.

Any failure in the i/p parameters in config(if authority is set there - or during app registration) is thrown to the user before we proceed with the authentication.

[2019-05-05 21:06] Tovli commented on #691
Wonder why you've decide to introduce this in 1.0.0
The only thing I do now is sending the authority to the loginPopup as well
as to the constructor.
previously (0.2.4) just the constructor was enough...
The error text is still an enigma to me as the url stays the same.

I must be missing something in the desired flow

On Mon, May 6, 2019, 00:01 Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-05-05 21:08] sameerag commented on #691
oh! Sorry I misunderstood you too. I thought passing the right authority in 'configuration' solved your issue. Are you saying if the authority in configuration is correct and you are making a loginPopup() request without any parameters, are you still failing?

[2019-05-05 21:11] Tovli commented on #691
yes.
I will try to put a better code sample for this issue tomorrow.
it's midnight here already :-)

Thanks for helping.

On Mon, May 6, 2019, 00:08 Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-05-06 12:20] mlankamp commented on #669
Tested with version 1.0.0, the error still exists

[2019-05-06 13:56] Tovli commented on #691
Hi
I've cloned [msal B2C sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp.git) and all I've changed was this line:
```clientApplication.loginPopup(loginRequest).then(function (loginResponse) {```
to:
```clientApplication.loginPopup().then(function (loginResponse) {```

My workaround was to create a login request with authority and pass it to the login pop

[2019-05-06 15:11] sameerag commented on #669
@mlankamp Yes, no fix has gone in yet. I am yet to debug this. If a fix is identified, we want it to go in the next release. I will update once I have a test branch for you to try out.

We are still swamped with some of the release related work and please expect some delaY.

[2019-05-07 00:57] rayterrill commented on #677
We are having this exact same problem, and in working with some MS Dev support came to the exact same conclusion.

Quoting from that email:
The implicit grant in through AAD uses response_mode=fragment by default. Once the response mode is changed to response_mode=form_post the id token ,and access token if requested, are sent as a POST request and contain the wids claim which allows the Graph API

[2019-05-07 14:45] anubi commented on #631
It works for me fine. If you are being presented with a login on each tab, this indicates an authentication failure. Check your browser's console for error output. It's possible your local environment is setup incorrectly, your browser is incompatible, failing HTTP requests via network issues, or something weird.

[2019-05-07 14:54] anubi commented on #599
The feedback I have is probably not helpful, because I'm new to this library and Azure's authentication scheme in general. However, I think my overall experience is just clouded because of the general complexity of Azure B2C and the facilitation of multiple APIs.

I can authenticate against a dummy app I registered in Tenant A and get access tokens for whatever scopes I choose, downstream APIs won

[2019-05-07 15:21] jannikbuschke commented on #599
I aggree with the documentation issue: its overly complex and stuff is all over the place. Its unclear what is up-to-date and recommended to do by microsoft. Also there are many different flows.

I think security needs more priority, especially it should be **simple**, easy to understand, easy to implement/configure.

Current state is a developer needs quite some time to understand different flows

[2019-05-07 16:57] sameerag commented on #599
@anubi We have focused the API improvements for msal-core in the last quarter. We plan to bringup angular wrapper up to speed with msal-core in the near future.

With regards to documentation, any feedback is welcome. We are continuously trying to simplify and make it more user friendly for anyone to adapt our authentication solutions.

[2019-05-07 18:06] pkanher617 commented on #689
@kosjanne Thank you for the submission. I was able to reproduce this, looking at the fix now.

[2019-05-07 22:48] jannikbuschke commented on #599
Actually this focus on angular is weird. We have the web platform, there is React, Vue, plain JavaScript/HTML and others. The web is diverse. Why does MS even need to provide an Angular wrapper?

Pls just provide a top notch javascript lib!

The community is able to tailor it for more specific needs/opinions.

[2019-05-08 01:32] anubi commented on #599
I agree that the focus on angular is weird. In this particular case, it works out for me, since my team is using angular. But we could just as well be using react or vue or xyz. But I disagree with the sense that the community should drive this - what'll happen is we'll have a dozen or more forks of the same thing that will all be broken by any changes Microsoft makes.

For instance, this library

[2019-05-08 04:42] Tovli commented on #691
@sameerag ?

[2019-05-08 04:49] sameerag commented on #691
@Tovli I ack your response. I will try to reach out this/next week on this once I check with the B2C service team. I have tested with MSA and it works without 'authority'  and hence I suspect the B2C flow issue in this case.

[2019-05-08 04:54] Tovli opened #693 "Hebrew characters are not displaying right"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-08 04:56] sameerag commented on #693
@Tovli This is tagged with #549  and we plan to release a fix in the next release.

[2019-05-08 04:57] #693 closed

[2019-05-08 05:14] Tovli commented on #691
Thanks. Maybe I'm misusing the authority parameter...
Will wait for you update

[2019-05-08 05:16] Tovli commented on #693
Superb

[2019-05-08 07:58] peshos commented on #617
@aashiman I am sorry about the delay. Here is one from today:

AADSTS50158: External security challenge not satisfied.Trace ID: 260083b7-3f60-45a2-8a81-1e4f30220400Correlation ID: 410cb97b-8551-4e8f-bbaf-31078037705aTimestamp: 2019-05-08 07:54:51Z

I can provide a fiddler flow but I am afraid I cannot do this publicly. Is there another way?

[2019-05-08 09:32] hxiongg commented on #599
Agreed that we should focus more on security, one of which is to move away from implicit flow to auth code with PKCE flow.

[2019-05-08 09:43] jofo-eb opened #694 "ReferenceError: "event is not defined""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-08 12:35] anubi opened #695 "Support for b2clogin.com"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version (Chromium 69.0.3497.100)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari versio

[2019-05-08 19:16] pkanher617 commented on #691
Hi @Tovli and @runeabrahams1 thanks for your feedback.

Can you post the full stack trace of the error you are receiving? We can help better debug these issues that way. Thanks.

[2019-05-08 19:18] sameerag commented on #691
@Tovli and @runeabrahams1  I found one issue which will be a PR soon, in addition to this as @pkanher617 mentioned stack trace would help us get a test branch sooner to ensure we are fixing the same bug.

[2019-05-08 19:23] pkanher617 commented on #689
@kosjanne I have introduced a PR to fix this. Feel free to pull the branch and test.

[2019-05-08 19:30] pkanher617 commented on #694
@jofo-eb Is this an issue relating to msal-angular?

Can you post a stack trace or error string?

[2019-05-08 20:28] thomas-mindruptive opened #697 "msal js not suited for "real" single page apps? reload and history state issues"
## I'm submitting a...

<pre><code>
- [x] Bug report
</code></pre>

## Browser:
- [x] Chrome 74.0.3729.131, 64 bit

## Library version
msal js, version: 1.0.0

## Attachments
Please see attached word document with screen shots, console log etc.
[msalProbs.docx](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/3159080/msalProbs.docx)

## Current behavior
* "loginPopup()" and

[2019-05-08 22:43] sameerag commented on #617
@peshos Sure. Can you please send me an email @ sameera.gajjarapu@microsoft.com and we can take the conversation private?

[2019-05-09 02:09] sameerag commented on #691
Can you guys please try #698 and let me know? The PR still needs Unit tests added, but I suspect this will fix your issue.

[2019-05-09 02:29] sameerag commented on #695
@anubi we are working with the B2C service team to clarify requirements for this support. We are aware that there is a customer base that is looking forward on this and we can get back once we have this as an active feature.

[2019-05-09 02:35] sameerag commented on #631
@tabinnorway I am closing this issue. Please send us complete repro and stacktrace in case you haven't been able to get this to work. Please also note that there is angular wrapper support missing for the latest msal release and  please watch our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) for updates on this.

[2019-05-09 02:35] #631 closed

[2019-05-09 03:34] Torvin opened #699 "acquireTokenSilent fails with a timeout error when interaction is required"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
<pre><code>
[x] Chrome version 72
[x] Firefox version 56
[ ] IE version XX
[ ] Edge version XX
[ ] Safari version XX
</code></pre>

[2019-05-09 05:39] sameerag commented on #699
@Torvin That is not the reason why you have seen this failure. Please read the documentation on token renewals and lifetimes in our [FAQs](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs)

The error is not regarding "interaction required", it is because you no longer have a session. And yes, it is on the "developer" library to fall ba

[2019-05-09 05:40] sameerag commented on #699
Also "extraQueryParameters" are not ignored by MSAL, they are passed as is to the service and the service usually decides to honor, ignore or throw an error depending on the parameters sent.

[2019-05-09 06:26] Tovli commented on #691
@sameerag thanks, I will test it later. In the meantime, here is my stackTrace:
[code]

[2019-05-09 06:45] sameerag commented on #697
@thomas-mindruptive Thanks for the detailed description of the issues you are facing integrating msal JS into your SPA.

Since MSAL JS is a facilitator library that communicates with the service (endpoint in this case which also gives the tokens) through http calls, it always handles a 302 redirect as the method of retrieving the token from the service. Our app is designed to parse the hash return

[2019-05-09 07:00] sameerag commented on #669
@mlankamp can you please try the fix in #700 and let us know if it fixes your issue? Looks like there is one case where "sid" check is missing when adding "login_hint" and that could be causing this behavior.

[2019-05-09 08:24] jofo-eb commented on #694
This happens when calling acquireTokenSilent. I'd say it is related to msal-angular.

There are two errors in the console.
First error:
ERROR ReferenceError: "event is not defined"
Second error:
Unhandled Promise rejection: event is not defined ; Zone: <root> ; Task: Promise.then ; Value: ReferenceError: "event is not defined"

Can you see the undefined event variable in the code that I pointed ou

[2019-05-09 08:59] jofo-eb commented on #694
Note: If I extend the if-condition like this, the error vanishes:
`if (typeof event !== 'undefined' && event && event.preventDefault)`
...and makes space for another exception:
`ERROR DOMException: "'#access_token=[...long token and other params...]' is not a valid selector"`

[2019-05-09 09:30] mlankamp commented on #669
@sameerag I've pulled the version from your pull request and build this version, but the problem still exists. But I get an different error:

AADSTS900051: Unable to complete request. The request was invalid since **sid** and **domain_hint** cannot be used together.

[2019-05-09 10:31] Torvin commented on #699
@sameerag thank you for a quick reply. Unfortunately, I have to disagree:

- I understand that it's my job to fallback to `acquireTokenPopup`. However, MSAL's job is to deliver the server's error message to me, so I can decide what to do next. I repeat: right now the error I get is `Token renewal operation failed due to timeout` because the invisible iframe created by MSAL never communicates to th

[2019-05-09 15:53] sameerag commented on #669
@mlankamp Thanks for the followup. This is interesting because service always told us that 'login_hint' and 'sid' cannot be sent together but looks like they have further restrictions when 'sid' is enabled. I am following up with them to clarify the requirement.

The code changes are indeed simple. I will get back once I hear back from them to make this change.

[2019-05-09 17:47] Tovli commented on #691
@sameerag - As I am using npm to install msal in my app (vue spa). I cannot test this using the same way I would install the npm package you eventually publish (no name attribute in the package.json)
Please let me know if there is a way to install your branch as I would be happy to assist in testing.
Another option for you is to try it on the [msal B2C sample](https://github.com/Azure-Samples/acti

[2019-05-09 19:07] Mentate commented on #400
I have done some research on this. Based on [this](https://blog.mastykarz.nl/azure-ad-app-only-access-token-using-certificate-dotnet-core/) article you can use the AAD auth to access the SharePoint Rest API, but you must use a *certificate* rather than a secret. According to Microsoft's documentation  [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#

[2019-05-09 20:00] mlankamp commented on #669
Looks like SID in combination with live-ids is restricted, normal AD accounts don't have this problem.

[2019-05-09 20:02] LakeGH commented on #691
Experiencing this issue as well, but only in Edge. In Chrome works as expected.

[code]

Configuration:
[code]

We've tried with and without authority, but still get the same error on Edge. Chrome works in either case.

Tried using msal version 1.0.0 and 1.0.0-preview.5, same result.

[2019-05-09 21:21] Mentate commented on #400
I had to dig through the MSAL source but I got it to work! Below is the code I used (Python)

`cert = {"private_key": "key.pem contents", "thumbprint": "cert thumbpring"}# the thumbprint can be found on the app registration where you uploaded the cert
        app = msal.ConfidentialClientApplication(client_id = client_ID, client_credential = cert, authority = ("https://login.microsoftonline.com/"

[2019-05-09 21:28] dsm0880 commented on #400
@Mentate Awesome, hopefully someone from Microsoft can shed some light as I would think digging through the source code shouldn't be needed, but I'll try something similar on our app and report back.

[2019-05-09 23:13] Torvin commented on #699
@sameerag thanks. I created a sample app to demostrate. Source code is here: https://codesandbox.io/s/q3wn0p4rlw

To be able to see the bugs, open this link _in a private browser tab_: https://q3wn0p4rlw.codesandbox.io/
Open 'Console' tab in your Dev Tools, click the 'Test' button and observe:

[code]

Now switch to 'Network' tab. Here's the real error sent via query params instead of fragment:
![

[2019-05-09 23:38] DarylThayil commented on #608
@Julien-sans  my hunch is that if this is being server rendered, the same code that should only be run client side is being run server side and causing this issue

[2019-05-10 07:27] snehanandi15 commented on #324
@wvandeneede Hey i have created a electron application using react that uses Microsoft graph API, I was facing similar issue for login, So i tried your approach but did not worked. can you provide more elaborate solution for this? Thanks in advance

[2019-05-10 08:39] vanbujm opened #701 "AuthError: Unexpected error in authentication.: Hash does not contain state."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-10 09:06] wvandeneede commented on #324
@snehanandi15 the idea is to use a custom protocol to be able to catch the redirect request, and register that custom protocol in the electron main process.  Can you provide us with an example of what you did?

[2019-05-10 10:21] xeaser opened #702 "Msal react signature verification fails"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-05-10 10:47] snehanandi15 commented on #324
[code]

This is in my main process and in the AAD i have set the custom redirect uri for public client
![image](https://user-images.githubusercontent.com/44401231/57521829-e9409080-733e-11e9-96dd-9b406f55ba10.png)

But i am still getting the authentication error .
![img1](https://user-images.githubusercontent.com/44401231/57521874-037a6e80-733f-11e9-88cc-cb8e12dea993.PNG)

[2019-05-10 12:48] thomas-mindruptive commented on #697
@sameerag Thanks for the quick response!
I investigated further:

- One could catch the refresh by checking the hashes. => If certain hashes are present, don't load the app, only a minimal "empty page"
- But: One must at least create the Msal.UserAgentApplication in the "empty page"
- But: The problem with the roundtrips still exists. In my sample, each time I call "aquireTokenSilently", the "empt

[2019-05-10 13:04] thomas-mindruptive commented on #697
@sameerag I've ammended my sample: If I add the code between the comments "login silently", the app works without roundtrips. So it reallys seems to be a local cache problem?

I would kindly suggest to add this information to the docs: rountrips, popup and iframe. What happens exactly, what are the consequences? And especially how to prevent a full re- instantiation of the app (i.e. check hash and

[2019-05-10 13:22] snebjorn opened #703 "MsalGuard to support redirect on failure"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74.0.3729.131
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Lib

[2019-05-10 14:22] piotrekkmt commented on #435
+1 from me. What's the status on this?

[2019-05-10 16:58] DarylThayil commented on #703
@snebjorn  Thank you for sharing your thoughts.  We are currently finishing up work on our `msal-core` library, and will begin work on `msal-angular` this summer.  We will consider your suggestion, and investigate the impact on the library.

cc @negoe

[2019-05-10 17:44] pkanher617 commented on #667
@RichardMaher We are still discussing this. We will update you as soon as we have some more info. Thanks

[2019-05-10 17:46] pkanher617 commented on #701
@vanbujm Thank you for submitting this issue. We are aware of some issues with the B2C Password Reset flows in msal, and we are working them out with the B2C team. We will update shortly with our planned fixes.

[2019-05-10 17:58] pkanher617 commented on #702
@xeaser I'm a little unclear on the issue. Does the idToken renewal fail? Or are you seeing another error relating to signature verification failure?

A stack trace or error description would help us here.

We have also released our 1.0.0 version. If possible, please download our [latest preview package](https://www.npmjs.com/package/msal) or pull the [dev branch](https://github.com/AzureAD/micros

[2019-05-10 19:20] sameerag commented on #435
@piotrekkmt Now that MSAL core 1.0.0 release is made, we started requirement discussions with the B2C service team on this feature and will announce the dates on this support soon. I will update this ticket as and when it is finalized.

[2019-05-11 19:19] aszalacinski commented on #701
I am seeing the same error when redirecting from Sign Up v2

[2019-05-11 21:05] aszalacinski opened #704 "Login Redirect nor Login Pop Up are not working for Sign Up v2 or v1 with AAD B2C"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [X] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-11 23:19] aszalacinski commented on #704
aha! It is not a code issue per se... more than likely a gap in my knowledge.

So the sample code was still working. The only difference was my redirect URL i specified the register app was buried in my site... https://<my-site>/confirmation

I got rid of the /confirmation and it's working now. I guess MSAL defaults a redirect url to the page that sent the file however why would I specify the Repl

[2019-05-12 20:45] rayterrill commented on #677
It looks like the newly announced /riskyusers API will give me what I was looking for (https://docs.microsoft.com/en-us/graph/api/riskyusers-list). Still it would be nice if the AzureAD auth teams and Graph Security teams were on the same page on this.

[2019-05-13 05:02] xeaser commented on #702
Sorry, If I was unclear the idToken renewal fails and we are creating our token after idToken generation. If the idToken is expired than signature verification fails.
I'll try with the newer version too.

[2019-05-13 05:56] kest85 commented on #704
I'm having this redirect loop in react application too. After calling loginRedirect() it does not set msal.idtoken in session storage (I see only msal.nonce.idtoken set there) after the redirect - I see this id token in browser address bar for several milliseconds and then redirect happens again and it does not set it in session storage. If I try calling acquireTokenSilent() after that - it always

[2019-05-13 06:38] snehanandi15 commented on #324
@wvandeneede
Hey, can you please help me out with the issue i mentioned above. Actually i am new to these things. Please let me know whether the information provided by me are enough to figure out the issue or you need some else. Thanks in advance

[2019-05-13 07:34] snebjorn commented on #703
Would you accept a PR on this? As this will probably introduce breaking changes.

[2019-05-13 15:50] Apollinaire commented on #174
Not working for me either, on React + msal 1.0.0. I tried the fix suggested above, it did not work. Adding a listener on the popup isn't that hard, and all the other libs do it so it's an expected behaviour and there are plenty of open source examples for the implementation.

[2019-05-13 17:26] DarylThayil commented on #703
We are always open to pull requests, but I think as it stands right now, will not be releasing breaking changes until 1.0.0 (or the final preview). We will be working to communicate more about timeline, and keep the feature top of mind as we plan what developers need!

[2019-05-13 21:55] DarylThayil commented on #704
@aszalacinski  the library does default the redirect uri to the page it was sent, but can be overrode in configuration

[code]
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release#configuration-options

[2019-05-13 21:59] DarylThayil commented on #704
@kest85 loginRedirect is a funny beast. There are actually a few redirects happening to massage the state, we hope to simplify this soon.
Where we have seen login redirect loops, it usually because login redirect is being called regardless if a user is already logged in.

Our direction is to follow a pattern like this

[code]
if this does not capture your use case, let me know and we can get into

[2019-05-13 22:00] DarylThayil commented on #704
@kest85  your comment actuallyseems to be separate from the original.  I am going to close @aszalacinski issue because he was able to resolve. If my comment does not resolve your issue, please do make another ticket!

[2019-05-13 22:00] #704 closed

[2019-05-13 22:12] aszalacinski commented on #704
@DarylThayil you rock! thanks for the pointer.

[2019-05-14 04:08] sameerag commented on #174
@Apollinaire Can you please send us the sample code that you have used with your react application? For a native JS application, I have tested and the popup closes by itself. Repro steps can help us understand your issue.

@Danieliverant Is your issue with Angular 7? For angular, we have not yet upgraded our current wrapper with the latest msal 1.0.0, our [roadmap](https://github.com/AzureAD/micro

[2019-05-14 05:16] ryandegruyter commented on #625
Ah I see, we have token version 2.0

[2019-05-14 07:44] kest85 opened #705 "Login redirect loop in v1.0.0"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74.0.3729.131 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [

[2019-05-14 10:56] engbibi opened #706 "MSAL no event when user cancels aquireTokenPopup"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74.0
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-05-14 11:52] sameerag commented on #706
@engbibi Can you please try this with the latest MSAL version 1.0.0? We added 'user cancelled error' and various other error handling with our new version.

[2019-05-14 11:56] sameerag commented on #625
@ryandegruyter does this clarify your question? Can we close this ticket? Please let us know.

[2019-05-14 12:29] Apollinaire commented on #174
I found the issue: so the workaround is actually to create the AuthProvider as a global, and not in React. If you do this it won't work:
[code]
But this setup works:
[code]

This still feels like a hack and should not be 'per design'. The good design would be to track the popup's `location` and resolve the promise when the token appears in the hash.
But anyway, the lib does not support `response_t

[2019-05-14 12:41] engbibi commented on #706
I am using the azure wrapper version 0.1.2 which is based on MSAL.js version 1.0.0. User canceled flow works on longinPopup, but not on aquireTokenPopup.

[2019-05-14 15:18] sameerag commented on #706
Got it. Let us debug this before we get back. I see the error handling added to openPopup which is a common function, but I haven't yet checked the total flow. Will reach out once we have a conclusion on this. Thank you for bringing this to our notice.

[2019-05-14 15:31] sameerag commented on #706
@engbibi can you please try out the PR #707 if you can locally build using the git PR branch? If you don't know how, please let me know, can help.

[2019-05-14 17:47] DarylThayil commented on #174
@Apollinaire  thanks for sharing, I think that the setup code you provided that works is not necessarily a hack, but understand the frustration around no set pattern for react.
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap
React is on our roadmap, and we hope to have a wrapper that abstracts all of this away.

We are also working on ideas for cleaner ways to resol

[2019-05-14 17:53] DarylThayil commented on #705
@kest85 is the getAccount() null when called?

[2019-05-14 17:54] DarylThayil commented on #705
cc @pkanher617  for visibility

[2019-05-14 17:55] DarylThayil commented on #705
@kest85  This could be a regression of a bug we thought we solved, can you try a small hack, and put a 500ms wait around your code check, so that after it comes back to the app, you wait before running your check
If this is the problem, getAccount() should return an account after the 500ms, and we could be in this race condition.

[2019-05-14 17:56] DarylThayil commented on #706
@engbibi  if you don't want to build the branch locally, you can see the one line change in the pr and try adding that predicate to your node_module code for a quick and dirty way to make sure it fixes

[2019-05-14 18:13] steenole opened #708 "Problem calling acquireTokenSilent with sid"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-05-15 00:25] jeverduzco commented on #596
Any ideas for when this list update? @navyasric
This is very important to me because many of my users complain about it :(

[2019-05-15 00:32] sameerag commented on #596
@jeverduzco Our next patch release will have this fix, tentatively in a week. Will update here once the release is made.

[2019-05-15 04:16] sameerag commented on #708
@steenole Yes, this seems to be a typo. Instead of just fixing this, I also want to consolidate all the checks we do for hints as separate util function if possible. Please expect a PR tomorrow for this.

[2019-05-15 04:22] sameerag commented on #385
@negberts Does API here means the resource you want to access? I am little unclear about what you meant. The clientId of the application cannot be changed post MSAL JS initialization as of today. But for any accessToken() call, I believe you can call them separately as long as the service can give the token.

Can you send some sample code on what you mean? May be that will help for us to analyze i

[2019-05-15 04:25] sameerag commented on #532
@hansmaad This will be a part of our angular wrapper upgrade to msal core release 1.0.0 coming soon in summer. The [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) will be added with more details once we start this activity.

[2019-05-15 04:28] sameerag commented on #614
@vramasam The original state issue is now fixed with msal core 1.0.0; angular wrapper update is planned for this summer and the [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) will be updated with more details as and when we start on this activity.

[2019-05-15 04:40] sameerag commented on #669
@mlankamp  The latest I have on this: we are internally clarifying the requirements with the service to standardize the behavior when the user sets "sid". I will try to close this asap to have this make it to the next patch release.

[2019-05-15 05:30] ryandegruyter commented on #625
Yes, will there be any support for v2 tokens in the near future?

[2019-05-15 05:31] sameerag commented on #693
@Tovli Can you help testing this with the PR at #712?

[2019-05-15 05:39] sameerag commented on #625
@ryandegruyter I am following up with the service team internally if this is planned for v2. Can update once I hear from them.

[2019-05-15 05:40] ryandegruyter opened #713 "conditional access policies validation"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x ] Safari version XX

## Library ver

[2019-05-15 05:42] sameerag commented on #713
@ryandegruyter Can you please send us the steps to Repro? We have some 'claims' behavior already supported and the 'Conditional Access' feature in progress. Understanding where your use case falls through will help us track this with the CA feature.

[2019-05-15 06:46] kest85 commented on #705
Yes, getAccount() always returns null. I have tried adding wait, but this did not change anything (tried even waiting for as long as 5 seconds).

[2019-05-15 06:52] ryandegruyter commented on #713
@sameerag our specific use case is a Cordova based app being deployed as a native app for Android and iOS.

These devices need to comply with the "Require compliant device" conditional access policy.
The compliancy rules are set by our MDM solution Microsoft Intune.

Do you think it is possible for this library to provide the required device information?

[2019-05-15 07:01] negberts commented on #385
@sameerag I want to be able to adjust consentscopes and protectedresourcemap after initialization of the module, because at the time of module initialization I do not know these parameters yet.

[2019-05-15 07:52] Apollinaire commented on #174
@DarylThayil Thanks for your answer. It's good to know that the maintainers intends to improve for SPAs too.
Do you ever plan on supporting the `authorization_code` too? I think the endpoint V2 supports it: https://docs.microsoft.com/en-us/graph/auth-v2-user#authorization-request

[2019-05-15 08:29] engbibi commented on #706
@sameerag I tried to build the PR but it seems that it has a dependency to an older version of msal:
`"dependencies": {
    "msal": "0.2.1",
    "tslib": "1.7.1"
  },`

If I use the build from msal-core I get type errors.

[2019-05-15 08:39] Navega commented on #705
We have this problem in our Teams integration. The library works fine in Teams web, but not in Teams native app, where we find the loop.

We got success with this solution:

- Initial login view: if getAccount() we try to get the token with "acquireTokenSilent" else with "loginRedirect" with redirectUri value to a callback view.
- Callback view: we try it only with "acquireTokenSilent" and return

[2019-05-15 15:07] mirkodelgado commented on #421
When is Angular 7 support going to be released? Could you please provide an estimated time frame?

[2019-05-15 16:27] sameerag commented on #421
@mirkodelgado This upcoming summer, [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) will be updated with details as we start this activity.

[2019-05-15 16:33] sameerag commented on #706
@engbibi This PR is based off the dev branch which is msal 1.0.0; will a new npm release help your case? We will anyways release this PR to the next patch and can give you a release.

Can you share the type errors you are seeing? And also the details of how you are including msal in your application?

[2019-05-15 16:38] sameerag commented on #625
@ryandegruyter I checked with the service, unfortunately at this point they do not intend to support this behavior on v2 tokens. The v1 behavior introduced certain complexity in validation code and hence the decision.

[2019-05-15 16:38] #625 closed

[2019-05-15 17:08] sameerag commented on #385
@negberts You should be able to.

**Consentscopes:**

- module initialization is only for the scopes you need consent to at login, but each acquireToken() call that follows can be send newer scopes. There is a dynamic consent screen that will be displayed if you are unable to consent it prior.

- Only in the case where you do not want interaction, you have an option to pre-decide all the scopes yo

[2019-05-15 17:11] sameerag commented on #713
@pkanher617 can you please check if this scenario is supported/will be supported in our upcoming CA feature?

[2019-05-15 18:26] negberts commented on #385
No, I did not know about a 1.0.0 release until now :) But as I am using Angular it means I have to wait until summer right? I will give it a try then. Can we keep this one open until then?

[2019-05-15 20:00] sameerag commented on #385
@negberts Okay. We are tracking all angular issues with a tag and will close them as and when the release is made with the ask in the corresponding tickets.

[2019-05-15 22:30] DarylThayil commented on #174
@Apollinaire  we absolutely do. Currently, our plan is that our node.js lib will support it, although that does not help SPA.  We have used the implict flow on the web because of previous recommendations by the Oauth spec , but from what I understand those winds have shifted and auth_code is now safe to use on the web.  This requires some investigation on our end and I don't have a solid answer ye

[2019-05-15 22:32] DarylThayil commented on #705
That is interesting @kest85, @sameerag  @pkanher617  do you have any thoughts on Kest situation?
Sounds like login is returning but the right attributes are either not returned or set.

@kest85  can you capture fiddler logs and share them with us ?

[2019-05-15 23:45] pkanher617 commented on #713
Hi @ryandegruyter, can you please explain how you are using msal.js to perform the request? We support the scenario [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/conditional-access-dev-guide#complying-with-a-conditional-access-policy) where the app attempts to access a service with a conditional access policy and is given a claims challenge to pass to the subsequent reques

[2019-05-16 00:07] #689 closed

[2019-05-16 03:19] KevinMallinson opened #714 "How do I use this library to edit profile? (Azure B2C)"
## I'm submitting a...
<pre><code>[x] Documentation issue or request</code></pre>

## Browser:
- [x] Chrome version 74

## Library version
<pre><code>Library version: 0.2.4</code></pre>

------------------------

I am trying to use this library to update the users profile. I have created the user flow in B2C, and I can successfully open a popup, to change their profile details:

[code]

However, i

[2019-05-16 09:23] mlankamp commented on #669
If I have to test a PR, just let me know.

[2019-05-16 10:52] engbibi commented on #706
@sameerag If I update msal to version 1.0.0 in msal-angular project (from version 0.2.1) I get a lot of problems like: "/node_modules/msal/lib-commonjs" has no exported member 'User'. This PR must have an msal-angular version with outdated dependencies, or is msal-angular in general a little behind?

[2019-05-16 11:56] ryandegruyter commented on #713
Hi @pkanher617 , we're currently using the ADAL Cordova plugin (https://github.com/AzureAD/azure-activedirectory-library-for-cordova/tree/archive#broker-support) which works for our scenario.

But since it has been deprecated, I'm currently investigating alternative solutions.
I haven't made any specific implementation yet with MSAL since I'm only reading and searching through various documentatio

[2019-05-16 14:22] tamasmj commented on #705
I run into the same problem, you can reproduce it if you set the navigateToLoginRequestUrl to false.

In the handleAuthenticationResponse method you have this condition:

      if (!this.redirectCallbacksSet) {
        // We reached this point too early, return and come back later
        return;
      }

The window hash is emptied and processcallback is not called. There will be no user account s

[2019-05-16 16:56] sameerag commented on #705
@tamasmj I believe the ‘navigateToLiginRequestUrl’  issue is resolved with #696. Can you pull the latest dev and try this out? If it is still seen, fiddler logs and the sample code will help us debug this further.

[2019-05-16 17:43] pkanher617 commented on #714
Hi @KevinMallinson is there any error string that you are getting? ATS may be failing with an interaction_required error, which may be why it isn't working as expected.

Since you are using 0.2.4, you won't have any exception being thrown. The errors come back in the reject of the promise as an error string.

[2019-05-16 22:36] KevinMallinson commented on #714
Hi, since I am using the async syntax, the catch is actually equivalent to reject with the exception being the reject message.

In this case, the message is undefined.

[2019-05-17 03:17] keystroke commented on #706
I am also getting this same error using 1.0.0; I can repro my inducing a call to acquireTokenPopup asking for scopes that require admin consent - this gives me the opportunity to close the pop-up, and no event or error is triggered. The same does NOT happen for loginPopup; that function will raise an error ("ClientAuthError: User Cancelled the flow.") if the user closes the login. I am using msal

[2019-05-17 03:25] sameerag commented on #706
@engbibi yes, msal 1.0.0 is for the core library. Angular will follow suit, mostly this summer as mentioned in our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap)

@keystroke PR #707  will be released next week in a patch release for msal core and should solve your issue.

[2019-05-17 08:50] verbedr opened #715 "Logout should use the EndSessionEndpoint when available"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... **Improvement**
</code></pre>

## Browser:
- [x] All
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Libr

[2019-05-17 08:58] verbedr commented on #715
#716
I created the PR in order to better explain the intend.

[2019-05-17 16:13] Tovli commented on #177
Hi
I'm also having this issue with Google.
the acquireTokenSilent is generating this:
Refused to display 'https://accounts.google.com/o/oauth2/auth?client_id=xxxxx' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

[2019-05-17 16:20] sameerag commented on #715
Thanks @verbedr for taking the time for a PR. Let us check with our service team and others if this is aligned with their logout requirements, and I will respond if we can take this PR.

[2019-05-17 19:41] keystroke opened #717 "TypeError: Cannot read property 'indexOf' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-05-17 20:52] AE-MS commented on #691
FWIW I believe I just ran into this issue the first time I tried to use the msal library.  The symptoms+fix+error message seem to be the same. I debugging the issue and it does indeed seem to be fixed with #698 .  Note that it affects both loginPopup and loginRedirect and #698 appears to fix both cases.

[2019-05-17 21:08] sameerag commented on #691
Great! Thanks, @AE-MS. I will optimize all our parameter checks tonight and finalize this PR. We want this included in the patch release we are planning next week.

[2019-05-17 21:50] sameerag commented on #669
#700 is modified with the needed check. We are still finalizing the changes but the needed functionality is in, you can test it and let us know if it works for all cases you need.

[2019-05-20 09:08] frjtrifork commented on #481
Sorry for my late reply. I got it working now without providing the windowwrapper. I am not sure why it did not work for me the first time around. Thanks for the instructions

[2019-05-20 09:17] chansen-p44 commented on #697
I am seeing exactly the same behavior as @thomas-mindruptive  and I completely agree with him that reloading the whole SPA into an iframe isn't a viable solution.
It might work fine with your small example, but not so much with an "enterprise" SPA.

[2019-05-20 17:31] bh3605 commented on #326
@Danieliverant Our Angular application(s) use full page redirection and don't utilize any popups. I've also switched to using OidcClient.js from msal.js. It has a higher level of granularity (IMO), also uses events, the code is very well abstracted out, and there are more configuration options in OidcClient.js. OidcClient.js also operates differently from the "automatic" nature msal.js uses. Prima

[2019-05-20 18:17] spottedmahn commented on #326
@bh3605 - I assume you mean [IdentityModel/oidc-client-js](https://github.com/IdentityModel/oidc-client-js)?

[2019-05-20 20:38] DarylThayil commented on #717
@keystroke  Thanks for submitting this and bringing it to our attention.
@sameerag  can you confirm this is related to #706 and may be resolved by #707

[2019-05-20 22:18] DarylThayil commented on #715
#716  closes this ticket

[2019-05-20 22:18] #715 closed

[2019-05-20 22:23] DarylThayil commented on #713
@ryandegruyter  Confirming you want to use msal js with Cordova correct?
We have not tested with cordova in msal js.   As it currently stands msal js is aimed toward single page web apps.
My suggestion would be to try out the library in your app and see what is missing for you.  If they are easy features, we can try and work them into our roadmap.  If they require a new msal-cordova lib, that is g

[2019-05-20 22:27] DarylThayil commented on #713
@ryandegruyter  elaborating on "does it fit your use case", might mean that you look at what cordova exposes api wise, and find in our code where that could be used and open another issue / pr ( this will help us understand how it can fit into our roadmap)
Sorry I don't have a better answer.
Closing this for now, since this is not a bug.

[2019-05-20 22:27] #713 closed

[2019-05-20 22:33] DarylThayil commented on #708
@sameerag  can you add update on the pr for this ?

[2019-05-20 22:38] DarylThayil commented on #714
@KevinMallinson  can you confirm that the catch that is happening is coming from acquireTokenSilent? You would think even if it was an uncaught error, there would be an err object
strange

[2019-05-20 22:57] sameerag commented on #708
PR #700 has the needed changes as we already have a relevant issue being fixed in the same. I plan to include the PR in the upcoming patch release.

Regarding consolidation of hints, I later decided to pushing those as a separate PR makes it easier for traction and also to expedite the needed fixes to the patch release.

@steenole can test #700 for this issue.

[2019-05-20 23:03] sameerag commented on #717
I am yet to debug this but my thinking aligns with yours. I will update once I confirm that theory.

[2019-05-20 23:27] DaveSkender opened #718 "Circular reference: Utils.js ->ClientAuthError.js -> Utils.js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-21 00:09] DaveSkender commented on #718
I think this is actually related to a bad Chart.js package in my site.  Closing.

[2019-05-21 00:09] #718 closed

[2019-05-21 09:22] MariuszKogut commented on #705
Same here, using React. I have used the latest dev version to reproduce this error and even added a dirty sleep(5000) before calling

``userAgentApplication.loginRedirect``

without success.

[2019-05-21 13:28] sameerag commented on #691
#698 is now merged with dev.

[2019-05-21 16:49] DarylThayil commented on #705
@tamasmj  thanks for the repro! Still investigating will get back asap

[2019-05-21 17:13] DarylThayil commented on #697
@chansen-p44  that is really good feedback, I think that is something we need to take to heart in future iterations.  We are in the early stages of talking about supporting the `auth-code` flow client side which should help us get around a lot of these issues

[2019-05-21 17:17] DarylThayil commented on #697
@thomas-mindruptive  I am really sorry to hear that our product is not up to your current use case.  I think you bring a lot of valid feedback, this is something we will make sure to consider moving forward.  I will create work on our end to document the things you suggested better. Please do follow us and our roadmap, I think we will have more elegant solutions moving forward.

[2019-05-21 17:53] bh3605 commented on #326
@spottedmahn Yep, that's the one.

[2019-05-21 20:02] sameerag commented on #264
#712 fixes this issue. As mentioned above, this will be in the next patch release from msal js, @juunas11 @ghost @jeverduzco @Davilink please feel free to pick the PR or the dev branch (which has the PR now) to test this until the patch is released.

[2019-05-21 20:04] sameerag commented on #596
#712 is now merged to dev @jeverduzco if you want to try the fix. We will soon have a patch release which would consist of this fix among others.

[2019-05-22 07:01] thomas-mindruptive commented on #697
@DarylThayil Thanks a lot for taking the time. In the meantime, I created following work-around, a poor man's token approach. I'm fully aware that it isn't as secure as the OpenID-Connect-flow, because users enter the credentials in the app's UI, not a trusted identity-provider. But it's simple, fast and better than "session-based".

- The client sends its credentials to my ID-server via xhr/HTTPS

[2019-05-22 07:57] sameerag commented on #717
@keystroke @DarylThayil This is a different issue than #706. I see us throwing the right server error but I also see "Cannot read property 'indexOf' of undefined" error too. Will update with my analysis some time next week.

[2019-05-22 12:04] steenole commented on #708
Yes #700 seems to solve the issue I have reported.

[2019-05-22 14:34] Anees-Raja opened #721 "loginRedirect() doesn't have a redirect callback"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-05-22 18:36] DarylThayil commented on #705
@tamasmj  a fix for the codepath you shared got merged last week, will be deployed today.  If you could pull latest patch tomorrow morning and let us know if it fixes, that would help a lot

[2019-05-23 07:32] ShieldPad commented on #347
Feels a bit funky though, that even though one selects a full Microsoft stack, to cater enterprise users who default to Edge/IE, the pieces still don't interoperate.

[2019-05-23 08:53] raikoss commented on #721
It seems to me that you have forgotten to call the `handleRedirectCallback` function on your `msalInstance`.
If you after you define the instance in this way
[code]

More on this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release).

[2019-05-23 11:01] raikoss opened #722 "Fetching multiple access tokens silently only succeeds for one token"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-05-23 13:39] ritwbanerjee commented on #721
Can someone add this to the MSALJS documentation.

[2019-05-23 14:57] sameerag commented on #708
Great. msal js 1.0.1 is released now with #700; closing this issue.

[2019-05-23 14:57] #708 closed

[2019-05-23 17:36] jeverduzco commented on #596
I upgraded to version 1.0.1 and it worked perfectly. Thank you.

[2019-05-23 17:36] #596 closed

[2019-05-23 17:40] sameerag commented on #596
@jeverduzco Awesome!

[2019-05-23 17:45] sameerag commented on #669
@mlankamp #700 is now part of the latest patch release msal 1.01. Can you please confirm if this issue is fixed?

[2019-05-23 18:00] teocomi opened #724 "LoginPopup throws "wrong reply URL" when logging in from routes"
## I'm submitting a...

- [X] Bug report

## Browser:
- [X] Chrome version 74

## Library version
Library version: 1.0.1

## Current behavior
If I try to access my SPA from a route that is not listed in my app registration I get the "wrong reply URL" error. Eg: http://myapp.com works fine, but not http://myapp.com/about
Since the app uses dynamic routing it'd be impossible to add all routes and th

[2019-05-23 18:54] citosid opened #3399 "Logout and close session"
We are using this library along with nest. We use the following code:

[code]

And it works correctly.

However, we can't find a way to handle the logout. We are able to destroy the sessions in our system, but cannot redirect the user to the OpenID Provider.

We tried this:

[code]
Could you please point us to the documentation for this?

[2019-05-24 01:17] oehm-smith commented on #174
For the record, in Angular7 app using MSAL I have:

import {Component, OnInit} from '@angular/core';
import {UserAgentApplication} from 'msal';

[code]

This component is hit as part of the redirectUri.

[2019-05-24 01:26] mcqueene commented on #400
@Mentate
I might try to get this working in JS but I have yet to work with certs in AAD so I am not sure I can get a sample going.

[2019-05-24 02:55] oehm-smith opened #728 "_this.logger.warning is not a function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 74.0.3729.157
- [X] Firefox version 66.0.5
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

#

[2019-05-24 03:25] ThomasJacob commented on #722
Another case, for multiple scope token graph scope and custom api scope
In case of first login it properly returns the token properly. But if there was a cache token available which has expired, After adding some delay after login the token gets returned but the token will be for the graph scope and not for the request one. If there is no delay it returns empty.

Can we move this to a high priorit

[2019-05-24 11:26] peshos commented on #724
You cannot have wildcards in the redirectUri for security reasons. More [here](https://tools.ietf.org/html/rfc6749#section-3.1.2).
You can do:
1. vuex stores the path in localStorage/cookie prior to authenticating.
2. Main route checks for a saved value after authenticating and if existing, delete the setting and transfer to the saved path.

[2019-05-24 17:13] DarylThayil commented on #728
Thanks for sharing @oehm-smith
I think that this is valid feedback.
We are working on shipping Telemetry soon and then reevaluating our logging from the library.
For now I believe what you did, implementing all the functions is the workaround, but you are right, we should have some defaults that if not implemented, are put in.
I am going to put a work item in for the team.
This should be a part of

[2019-05-24 17:14] #728 closed

[2019-05-24 17:20] DarylThayil commented on #724
@teocomi Thanks for the issue, If you use the `redirectUri` field in configuration, you can specify the redirect path.

The error is not complaining about the path you are logging in from, rather the path you are redirecting to.  If you don't set it, it defaults to your current page.

That way you can login from an page, but are redirected to a page that is white listed to receive the auth paramet

[2019-05-24 17:20] #724 closed

[2019-05-24 17:24] DarylThayil commented on #722
@raikoss  @ThomasJacob
Thank you for the feedback, this is a good call out of something we should fix.
I am making a work item for the team, to make sure we can fetch multiple tokens concurrently.

Are either of you currently blocked? If I am thinking of the problem we need to solve in the code, it may not be a quick fix.

@sameerag  / @pkanher617  I know we have some code in place that currently

[2019-05-24 17:27] DarylThayil commented on #722
@ThomasJacob  having a little trouble understanding your issue, is it related to the concurrent, or is it a separate issue that has to do with how we are caching ?

[2019-05-24 17:29] DarylThayil commented on #714
pinging this thread @KevinMallinson

[2019-05-24 17:49] raikoss commented on #722
@DarylThayil When I was testing this yesterday, there was a period where only one token got fetched, but as the day passed I somehow succeeded in getting both tokens. It seems pretty random, but in periods, as every test case I tried earlier that day failed, and every test case I tried later during the day succeeded. This also hasn't happened to me since I created this issue, strangely enough.

Ma

[2019-05-24 19:23] teocomi commented on #724
That worked, how could have I missed that!!!
Thanks Daryl!

[2019-05-24 19:25] sameerag commented on #706
Closing this issue as PR #707 is now released. Please reopen if you are seeing any variant of this issue again.

[2019-05-24 19:25] #706 closed

[2019-05-24 19:28] sameerag commented on #691
Closing this as the PR #698 got merged into dev now.

[2019-05-24 19:28] #691 closed

[2019-05-24 19:29] sameerag commented on #669
@mlankamp Closing this as PR #700 is now released. Please let me know if there are any more edge cases you see that are not addressed with this PR.

[2019-05-24 20:00] Tovli commented on #691
Thanks.
I need to understand how I can test code that is on PR and not through npm
in vue so I can be of a better help

On Fri, May 24, 2019, 22:28 Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-05-25 08:19] xenalite opened #729 "No event emitted when token is in session storage"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 71.0.3578.98
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Lib

[2019-05-25 11:03] KevinMallinson commented on #714
Hi Daryl, I will attempt to replicate within the next week and verify if the exception occurs via acquireTokenSilent.

[2019-05-27 10:53] dluque92 opened #730 "Wrong decode with UTF-8 Characteres"
Using this to decode a token:

Utils.base64DecodeStringUrlSafe = function (base64IdToken) {
        // html5 should support atob function for decoding
        base64IdToken = base64IdToken.replace(/-/g, "+").replace(/_/g, "/");
        if (window.atob) {
            return decodeURIComponent(encodeURIComponent(window.atob(base64IdToken))); // jshint ignore:line
        }
        else {

[2019-05-27 16:17] sameerag commented on #730
@dluque92 Can you please elaborate what your issue is? We purposely moved away from window.atob as we had developers reporting encoding/decoding issues. There is also a stack overflow that elaborates the same issue: [atob issue with decode](https://stackoverflow.com/questions/30106476/using-javascripts-atob-to-decode-base64-doesnt-properly-decode-utf-8-strings)

Also can you please follow the temp

[2019-05-28 09:29] #730 closed

[2019-05-28 09:29] dluque92 commented on #730
After update to 1.0.1
I was using 0.2.3
Thanks!

[2019-05-28 10:28] hadaromash commented on #705
Same here. I'm using a react app. I see that the cookie gets loaded with bunch of msal.authority, msal.nonce.idtoken and msal.state.login fields for every redirect loop.

[2019-05-28 13:59] johnsardine commented on #717
I am also experiencing this issue using the following parameters on my `loginPopup` method

[code]

Once the popup opens, I just click Back and an exception is thrown

[code]

[2019-05-28 16:32] vbucchar commented on #414
I've tried the steps outlined by @DeanB2015 (both posts) and I cannot get this to work in IE11. Chrome works great. Am I doing something wrong? When will an official fix be made available?

![image](https://user-images.githubusercontent.com/40006271/58495008-685a0500-8144-11e9-9b48-23106009b8c4.png)

![image](https://user-images.githubusercontent.com/40006271/58495032-7c9e0200-8144-11e9-8b11-dd11d

[2019-05-28 17:29] sameerag commented on #717
@johnsardine We are also tracking 'Back' button error separately, I believe we have the fix, will update the PR once we are able to.

[2019-05-28 20:57] TiagoBrenck opened #733 "acquireTokenSilent error not InteractionRequiredAuthError as documented"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 74
- [x ] Firefox version 67

## Library version

Library version: 1.0.0

## Current behavior

According to t

[2019-05-28 22:21] DarylThayil commented on #608
@Julien-sans  closing this issue since we have not seen activity.  If you come across this issue again, please reopen / create a new issue

[2019-05-29 02:26] rick-hayek commented on #494
any update? same issue here when trying to integrate editprofile policy. I'm using msal@1.0.1 & latest Chrome.

[2019-05-29 02:58] rick-hayek commented on #494
@navyasric I'm checking the [Q6 ](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q6-how-to-avoid-page-reloads-when-acquiring-and-renewing-tokens-silently) from FAQ. for the first workaround **Specify a different html for the iframe**, can you elaborate a little more how it works? I mean how to configure the application in AD and source. I'm trying to update the **Repl

[2019-05-29 06:40] tkoenig89 commented on #414
@vbucchar I also tried a lot of the above and did not get it to work without breaking something else.
As @navyasric pointed out, we should not expect something in the next 2-3 month, as the roadmap shows Angular MSAL is beeing focused arround *July-Sep 2019*.

Luckily my organisation is shifting to chrome as default browser in the next weeks or month so i could stop wasting time, trying to fix thi

[2019-05-29 09:15] TPullen21 opened #734 "MSAL Invalid_State error in Edge"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version Microsoft EdgeHTML 17.17134
- [ ] Safari ve

[2019-05-29 09:28] TPullen21 commented on #734
Fixed - forgot I raised a similar issue before and a fix was mentioned here:

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/519#issuecomment-451555765

This has now been resolved by setting the `storeAuthStateInCookie` flag in the set up of the user agent application:

`new UserAgentApplication(
      /* clientId, */
      /* authority, */
      /* callback, */
      {

[2019-05-29 09:28] #734 closed

[2019-05-29 21:30] pkanher617 commented on #733
@TiagoBrenck Thank you for bringing this to our attention. I believe this is because some errors contain the code in the description vs the error-code field. I can fix this in a PR. Do you have a console log of the full error object that causes this bug? Just to see what the field values are for code, description and name.

[2019-05-29 21:58] TiagoBrenck commented on #733
Here is the error object for a `login_required` exception:

[code]

[2019-05-30 05:13] SainathReddy-GNV commented on #575
I also facing the same issue is there any workaround for this

[2019-05-30 11:21] Tovli commented on #255
This is just a one liner:
JSON.parse(atob(this.jwt.split('.')[1]))
and it is actually giving you incentive to create a facade over the msaljs lib. so you can have an API that is better for your needs and abstract the use of this external lib.

Everyone is happy :)

[2019-05-30 23:44] jonathaneckman opened #735 "User cannot log out"
## I'm submitting a...
- [x] Bug report

## Browser:
- [x] Chrome version XX
- [x] Edge version 76.0.167.1

## Library version
Library version: 1.0.1

## Current behavior
1. Use clicks logout. App uses MSAL logout() to redirect to:

[code]

Sometimes, AD stops at this page and asks the user to select which account they should log out of. Other times, it blows right past it and automatically redire

[2019-05-31 12:23] mmuarc opened #736 "acquireTokensilent return null accessToken randomly."
## I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ x] Other... Please describe:
Technical doubt and possibly a bug.

Browser:
- [ X] Chrome
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version

[2019-05-31 14:23] jasonshsoftware commented on #575
I have found no workaround. We are advising teams to upgrade to the latest angular framework.

[2019-05-31 17:12] DarylThayil commented on #735
@jonathaneckman  Thank you for the comment.  We do know there are some scenarios where the server is currently not always redirecting back to webpage.  This is something we are working with that team on.

There are different storage options, sessionStorage which will hold true to the browser session, and localStorage which will persist longer.

@sameerag  / @pkanher617  do you have any extra conte

[2019-05-31 23:13] souvikbasu commented on #421
Any work around for Angular 7 if this PR is not yet released? I need to authenticate to Azure AD on my Angular 7 app

[2019-06-01 01:30] bryanchen-d opened #738 "hitting error of Cannot read property 'getRequestInfo' of null when login in an iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-01 02:10] rayterrill commented on #599
Echoing the dislike for focusing on Angular (We personally use VueJS). I don’t love the idea of focusing on any one framework - code should ideally be framework agnostic.

Also echoing frustrations with the documentation. Too many options, documentation that’s out of date, etc. I would love to see a variety of examples - a super simple POC-level example, something slightly more complicated (maybe

[2019-06-01 08:25] jannikbuschke commented on #599
To also bring some positive feedback; imho the 1.0 version is much much better api wise and I also feel the documentation has improved over time.

[2019-06-01 21:15] anth-git commented on #421
@souvikbasu it still works with Angular 7 and 8, but with Ivy renderer disabled.

[2019-06-03 00:36] oehm-smith opened #3398 "BearerStrategies use of `async.waterfall` creates unresolving async code"
I first started to work out the problems I was having with using this library in AzureAD/passport-azure-ad#427.  I fixed my issues and I found one big one with this lib.

At https://github.com/AzureAD/passport-azure-ad/blob/e9684341920ac8ac41c55a1e7150d1765dced809/lib/bearerstrategy.js#L404 is the start of the use of `async.waterfall`.  I've never used this before though it seems to run asynchrono

[2019-06-03 15:34] hilarudeens commented on #288
`rudolphdewet commented on 14 Nov 2018` you are right.

I have get in to msal-angular further...

MSAL renew token via iframe and expect acquireTokenSilent call from inside iframe
By this time, MSAL updates localstorage against iframe-requestId.
`Eg: msal.token.renew.status9c490d12-49c6-4179-9015-aad285cc45c2: Completed`

If you are not call this acquireTokenSilent from iframe which is result of r

[2019-06-03 15:39] freeman-g opened #739 "ClientAuthError: Nonce is not matching after several silent renewals"
## I'm submitting a...
- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2019-06-03 17:22] DarylThayil commented on #739
@freeman-g  thanks for submitting the issue. We will definitely investigate.

@pkanher617  can you look at htis?

@freeman-g  the library will refresh your token before it expires, so you may need the code here to do this yourself.
@pkanher617  can you add more color to this

[2019-06-03 17:23] DarylThayil commented on #738
@pkanher617  / @sameerag  is this fixed in 1.0.x?

[2019-06-03 17:27] DarylThayil commented on #736
@mmuarc  thank you for explaining your issue so well
@pkanher617  can you investigate this?

[2019-06-03 21:42] bryanchen-d commented on #738
I tried version 1.0.1, and the issue is still there.

[2019-06-03 21:43] DarylThayil commented on #738
thanks for letting me know! @pkanher617  can you look into this and see what the issue might be?

[2019-06-03 23:21] souvikbasu commented on #421
Just an update from my side, it works for me if rxjs-compat is installed as somebody already mentioned above. Tested on Angular 7.2.3

[2019-06-03 23:34] pkanher617 commented on #738
Hi @bryanchen-d just to clarify, you are using msal inside an iframe correct?

I believe this is a known issue with our library currently. We are reviewing our calling pattern for this, and I will see if your suggestion has any other repercussions.

[2019-06-04 19:14] bryanchen-d commented on #738
Yes. I am also testing the scenarios with UI testing framework like cypress, in which it launch the SPA inside an iframe.

[2019-06-04 19:21] bryanchen-d opened #740 "getLoginInProgress() return false when redirected back to the redirect_uri"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-04 22:14] DarylThayil commented on #705
Please install `1.0.1` and see if this fixes the issue. We believe it may be fixed

[2019-06-05 15:14] BoyanPalagachev opened #741 "Changes in acquireTokenSilent now cause "User login is required""
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>
## Browser:
- [X] Chrome version 74.0.3729.169 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ]

[2019-06-05 16:16] #494 closed

[2019-06-05 19:01] zamzowd commented on #741
This also didn't work prior to the version 1.0.0 update.  It actually looks like it only worked in 1.0.0 as a result of a mistake on the intended boolean condition, which the commit you identified "fixed".

I submitted a PR #572 for a "loginSilent", but they were working on 1.0.0 at the time.  I don't plan on updating my PR, but someone else is welcome to do something similar for the current versi

[2019-06-05 21:15] zamzowd commented on #741
The bug that gave us the desired behavior was introduced in this commit: https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/e9204be39b4b797d0cd119888fdcab7b3f472363

Pretty clear that inverting the condition was not intended in this change.

[2019-06-06 05:23] sameerag commented on #741
@zamzowd Thanks for bringing up the 'loginSilent' context. We are not allowed to send a request to service without any local cache/account information. But let me check with the service if this is something can be supported in the Azure AD world.

@BoyanPalagachev  I am curious about one thing, Can you send a login_hint or account information as a part of your subsequent login request (this could

[2019-06-06 05:25] sameerag commented on #740
@pkanher617 Can you check this?

[2019-06-06 09:57] mlankamp opened #744 "Latest version missing on CDN"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-06 10:07] vamsibassetty08 commented on #16
I still see this issue with MSAL while launching the application in IE11 and console has below Error:

SCRIPT1002: Syntax error
vendor.js (148561,1)

`class AuthenticationResult {
    constructor(token, tokenType) {
        this._token = "";
        this._tokenType = "";
        this._token = token;
        if (tokenType) {
            this._tokenType = tokenType;
        }
    }
    get token() {

[2019-06-06 10:14] mlankamp commented on #669
@sameerag I did a new test today with library version 1.0.1 and the problem still exists. When I add a live-id to my Azure AD tenant and try to login with the live-id and the SID parameter is enabled in the application I still receive the following error:

AADSTS900051: Unable to complete request. The request was invalid since sid and domain_hint cannot be used together.

[2019-06-06 13:48] zamzowd commented on #741
@sameerag I've seen this expressed by the team before - that this is a requirement.  What is the cause or justification of this requirement?

Single Sign On behavior is generally achieved by letting an authentication on the authority count as authentication on all registered applications.  Both Azure AD and Azure AD B2C can accept and respond to authentication requests with `prompt=none` and no hi

[2019-06-06 16:40] sameerag commented on #744
Yes, we are following up on this and should close it soon.

[2019-06-06 17:10] sameerag commented on #669
@mlankamp That is interesting. I know you have added me before to your app with id: testmsal@outlook.com; Is that still added?

I want to test this once to see what is missing. Apologies for the back and forth, we are working on adding a comprehensive test sample for all hints to have better gating in future.

[2019-06-06 21:28] nmetulev opened #746 "The base64.js dependency is not an es6 module and does not work in the browser"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge dev latest
- [ ] Safari version XX

## Library versi

[2019-06-06 21:49] sameerag commented on #746
@nmetulev Thanks for raising this. Will adding {"babel-preset-env": "^1.7.0"} in devdependecies solve this issue? We kind of debated within the team keeping it vs removing it and ultimately decided to not go ahead to keep the dependencies lean.

Let me know and maybe I can push for that.

[2019-06-06 21:51] sameerag commented on #746
@DarylThayil FYI - the ES6 dependency I was talking about when we pulled in this change. Looks like it is affecting some customers. Can you take a look too and see if there is another approach apart from what I suggested above?

[2019-06-07 00:41] nmetulev commented on #746
Thanks for the response @sameerag. I don't believe "babel-preset-env" will solve this  since you are generating the es modules directly through `tsc` and it's not passing through babel

[2019-06-07 00:44] hemantshelar commented on #435
@Sikta I tried above solution but getting below error:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://XXX.b2clogin.com/XXX.onmicrosoft.c…thorize?p=b2c_1_signup/v2.0/.well-known/openid-configuration. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).`

I am using '"@azure/msal-angular": "^0.1.2" library in my Angular 7 project. f Be

[2019-06-07 06:46] Worthy7 commented on #697
Just wanted to offer my 2cents here since I seem to have created something similar to what MSAL does already.

My solution is using a backend server (asp net) which returns a challenge to the front end, but the redirect afterwards goes to a very small minimal page which passes back the extracted access token to my angular app, then closes the window:
[code]

This is picked up by a listener which i

[2019-06-07 09:26] raikoss commented on #736
This looks like the issue I experienced in issue #722.

[2019-06-07 13:55] sfigie commented on #736
I am seeing this issue as well.  After logging in, I make a few API calls, and each call gets an access token.  I notice that sometimes the access token response is successful but the token is null.  This only seems to happen on a fresh incognito browser instance.

[2019-06-07 16:34] jasonnutter commented on #746
Looks like we need a base64 implementation that is compatible with es modules, correct @nmetulev? Taking a look to see if I can find any that would match that.

Also, I think it would be good to add a sample/test case to our repo to catch Graph Toolkit's use case.

[2019-06-07 16:36] sameerag commented on #746
@jasonnutter So you also need to take into account that we need approvals from our sec team to approve of any external encoding/decoding library we use. base64.js is approved, we may need to go through all that process if we are deciding to pick a new library.

[2019-06-07 17:23] jasonnutter commented on #746
@sameerag Gotya. Another (potentially simpler) option would be to contribute to base64.js to add the es modules compatibility.

[2019-06-07 17:27] sameerag commented on #746
That sounds good. But I believe they have intentionally kept the dependencies minimum to make it a standalone library. We can try!

[2019-06-07 18:13] arunprasathv opened #750 "Support for Angular 7"
@RamonPage @vladzaharia @DarylThayil
@azure/msal-angular - Does this library support angular 7 application.?

I see in the desc,
MSAL.js library which enables Angular(4.3 to 5) applications to authenticate enterprise users using Microsoft Azure Active Directory (AAD).

npm install warnings

npm WARN @angular/core@7.2.15 requires a peer of zone.js@~0.8.26 but none is installed. You must install pee

[2019-06-07 18:41] DarylThayil commented on #750
Thanks for your request, we will be supporting angular 2+ as a part of our work to get msal-angular to 1.0.0.

This work will likely being in July

https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap

closing this ticket but please do stay in touch with any questions you may have

[2019-06-07 18:43] DarylThayil commented on #746
@nmetulev  thanks for letting us know, I agree with @jasonnutter  we need a sample so we catch some of this.  assigning this to @jasonnutter  to follow up on

[2019-06-07 22:23] michael-hawker commented on #746
They do call out an [ES6+ example](https://github.com/dankogai/js-base64#es6) on their homepage, so it seems like a scenario they want to support?  Might just be an oversight on their part for this type of embedded dependency scenario.

[2019-06-08 08:51] Sharathmk99 opened #3400 "Support for both session cookie and Authorisation Header"
Hello,
I have built application using passport-azure-ad library with OIDC strategy. This strategy uses session cookie to authenticate users, it works well. Now I have to support Bearer token strategy also for same endpoints. Example I have endpoint called /hello, when user calls this API without token, he will be redirected to Microsoft login page, once authenticated session cookie is set and it w

[2019-06-08 19:09] suhailsalim commented on #507
Is a fix coming anytime soon ?

[2019-06-09 14:09] jonathaneckman commented on #735
Thanks @DarylThayil. I do see the same behavior with both storage options. Whats strange is there there is nothing in local or session storage at all when the user gets logged back in again without a credential prompt. I have no idea how its logging me back in. Best guess is its cached in the iframe and I cant see it in developer tools.

![image](https://user-images.githubusercontent.com/11893200/

[2019-06-09 17:32] BoyanPalagachev commented on #741
Thank you for your replies.

I see that there is possibility to call acquireTokenSilent specifying both request.sid and  request.loginHint. I guess I can get the SID as suggested in [this documentation article](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso) (in the "Using Session ID (SID)" section). Based on [this documentation article](https://docs.microsoft.com/en-u

[2019-06-09 20:42] mlankamp commented on #669
Yes, this user is still added

[2019-06-10 10:07] Ivan-L commented on #733
Hi @pkanher617 I believe we are also affected by this issue.

[code]

Is there any additional information that I can provide to help expedite this bug fix? We are currently using msal-angular preview.

[2019-06-10 10:13] dipesh-wadhwa commented on #705
@DarylThayil can you please update MSAL CDN.
There is no 1.0.1 msal js file on cdn- https://secure.aadcdn.microsoftonline-p.com/lib/1.0.1/js/msal.js

[2019-06-10 10:15] jmprieur commented on #625
@ryandegruyter : if you are using msal.js, you are on the client side?
You should not look at the content of the access token (which is only for the Web API).
Or do I miss something?

[2019-06-10 11:58] madatan opened #752 "Id_token renew issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-06-10 14:43] zamzowd commented on #741
@BoyanPalagachev That is under the "Automatically select account on Azure AD" section of the article.  Is having users logged in with multiple accounts simultaneously a scenario for you?  How do you plan on determining which SID to provide?

So far as I can tell, the "Applications on different domains" section of the SSO article is actively blocked for `acquireTokenSilent`.  I suppose the directio

[2019-06-10 17:14] DarylThayil commented on #752
@sameerag   / @negoe  cc

I think there may be some confusion in usage here.  `AcquireTokenSilent()` is specifically for acquiring an accessToken, not an id token.  Id tokens are obtained by logging a user in, or by calling `GetAccount()` (if already logged in) access token renewal is done.

[2019-06-10 17:32] #750 closed

[2019-06-10 17:40] DarylThayil commented on #746
Yeah I think unfortunately that  es6+ in most libs means, If you are transpiling, this is how you can write your code! vs modules written in es6 to be used directly in the browser.

[2019-06-10 20:57] pkanher617 commented on #733
@TiagoBrenck @Ivan-L I believe I have found the cause for this issue. Our logic for checking the error was leaving out some error cases. I have implemented a fix for it in a PR #753. Please pull and run the branch to see if this fixes your issue.

[2019-06-10 21:00] pkanher617 commented on #736
@mmuarc @raikoss @sfigie Thank you for describing the issue with detail and examples. I am looking into this, I will try to get back ASAP.

[2019-06-10 21:04] pkanher617 commented on #740
@bryanchen-d Thanks for reporting this issue and looking into it. I will take a look and resolve this ASAP.

[2019-06-10 21:18] pkanher617 commented on #738
@sameerag This looks like support for MSAL inside an iframe.

[2019-06-10 21:48] arunprasathv opened #754 "Get Access Token Issue -loginRedreict"
@dhanyahk

Hi, How do i get the access token to call graph API?   I'm trying something like this but doesn't return the token.  I'm doing it in Angular 7.

this.broadcastService.subscribe("msal:acquireTokenSuccess", (payload) => {
      // do something here

      console.log('token success'  + JSON.stringify(payload));
 });

public getToken(): Promise<string> {
    return this.msalService.acquire

[2019-06-10 23:02] DarylThayil commented on #754
@pkanher617  do you have direction to add on this?

[2019-06-11 01:02] arunprasathv commented on #754
@DarylThayil @pkanher617
Is it possible to get the accesstoken using this library ? I think we it should work in order to make a call to graph API.

[2019-06-11 08:06] Ankita22 opened #755 "Unable to get AccessToken after using loginRedirect Method"
Hi,
I am trying to use MSAL.js with Angular 7 for login. In which i am using loginRedirect method instead of loginPopup method but i am not able to get the access token. I tried using sample code provided by MS for loginPopup method which returns callback, it is returning Accesstoken successfully but unable to get it with loginRedirect method.

I am pasting the code sample which i am using for log

[2019-06-11 11:24] madatan commented on #752
This is from the acquireTokenSilent method (msal.js 1.01.)definition:

 * To renew idToken, please pass clientId as the only scope in the Authentication Parameters
     * @returns {Promise.<AuthResponse>} - a promise that is fulfilled when this function has completed, or rejected if an error was raised. Returns the {@link AuthResponse} object
    acquireTokenSilent(request: AuthenticationParameter

[2019-06-11 17:11] arunprasathv commented on #755
I do have similar issue with loginRedirect() - I tried to set response_type still not getting it.

extraQueryParameters: 'response_type=id_token token'

[2019-06-11 17:25] sameerag commented on #754
@anuprasathv yes, you can get an accessToken with this library. If you are using loginRedirect(), you need to register a callback for your calls. We have the details on how our library is structured  [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics) and [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release

[2019-06-11 17:31] arunprasathv commented on #754
@sameerag could you please point me to angular examples , im using  @azure/msal-angular": "^0.1.2" library.

[2019-06-11 17:33] sameerag commented on #755
@Ankita22 I have added some information on how to use our library in #754, please check the same. Having said that we also have an Angular Wrapper for our core planned in the next few months as @DarylThayil suggested in a different ticket #750.

@arunprasathv The developer cannot set 'response_type=id_token token' as it is determined by the MSAL JS library based on your cache status and session st

[2019-06-11 18:35] sameerag commented on #755
Linking this to #754 and closing this ticket.

[2019-06-11 18:35] #755 closed

[2019-06-11 18:36] sameerag commented on #754
@arunprasathv  we do not have Angular working for Core libraries yet, please check our roadmap for more updates: [Angular Roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap).

[2019-06-11 19:57] DarylThayil commented on #754
@sameerag  msal angular was working for redirect though in that version, correct?

[2019-06-11 19:58] sameerag commented on #754
Yes! It is. Unless they are using msal-core latest with their Angular App it should be functional.

[2019-06-11 22:24] DarylThayil commented on #705
1.0.1 should be pushed today to cdn, apologies for the hold up.

[2019-06-12 08:41] anjiuidev opened #756 "Prompt="select_account" is not working as expected."
## I'm submitting a...
[ ] Bug report

## Library version
Library version: 1.0.0

## Current behavior
Prompt="select_account" is not redirecting to account selection page and using the existing session to login.

## Expected behavior
It should redirect to the account selection page.

## Minimal reproduction of the problem with instructions
Step 1: Clone or download this repository

From your shell

[2019-06-12 12:57] dipesh-wadhwa commented on #705
@DarylThayil I am trying to implement msal in my web app. When I am calling `acquireTokenSilent()` method on landing page it throws "token renewal operation failed due to timeout" error. After research I found that `loadIframeTimeout` can be used to increase timeout but it does not help.
Below is the visual of my implementation:

![image](https://user-images.githubusercontent.com/46276877/59352993

[2019-06-12 13:09] dipesh-wadhwa opened #758 "msal.getAccount() returns null on landing page"
## getAccount() returns null on landing page

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 75.0.3770.80
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Saf

[2019-06-12 13:55] arunprasathv commented on #754
I will use logingPopup until login redirect works.

[2019-06-12 13:59] dipesh-wadhwa commented on #728
@DarylThayil this issue still exists in 1.0.1
I have added all parameters as suggest by @oehm-smith but it gives same error - _this.logger.warning is not a function

[2019-06-12 17:50] pkanher617 commented on #758
@dipesh-wadhwa Thank you for submitting this. I am taking a look and will try to get back to you today.

[2019-06-12 17:51] pkanher617 commented on #744
@mlankamp Sorry for the delay, there are some access issues we are sorting out on our end. Please expect a CDN release today or tomorrow.

[2019-06-12 17:52] pkanher617 commented on #705
@dipesh-wadhwa Sorry for the delay, we are having some access issues on our end for CDN release. Please expect a release either today or tomorrow.

[2019-06-12 18:24] pkanher617 commented on #758
@dipesh-wadhwa I believe what is happening is that the handleRedirectCallbacks is not being called where it needs to be. Since your redirect uri is the /home page, the app will need to handle the redirect on that page. Your login page will look like:

### Login.html
[code]
and your Home page will look like this:
### Home
[code]
This should fix your issue. Please let me know if you still can't get

[2019-06-12 19:18] Ivan-L commented on #733
Hi @pkanher617 I see the fix was in msal-core.

We are using msal-angular preview and it is stuck on an old version of msal-core. Referencing a newer version of msal-core causes msal-angular to not compile last time I checked, so it is difficult for me to verify.

I might move over to [angular-msal](https://www.npmjs.com/package/angular-msal) which is a fork of msal-angular but references a newer

[2019-06-13 00:31] derekparsons718 commented on #534
Any news on this? I'm having the same issue intermittently.

[2019-06-13 02:52] PraveenVerma17 commented on #705
@DarylThayil  i see the new msal version in npm. Are you going to put the fix in MSAL Provider too?

[2019-06-13 04:36] oehm-smith commented on #728
Specifically I now have:

            const loggerCallback = (logLevel, message, containsPii) => {
                console.log(`Auth: [${logLevel} ${message}`);
            };
            const logger = new Logger(
                loggerCallback,
                {correlationId: '1234', level: LogLevel.Info, piiLoggingEnabled: true});

            const data = await this.getIds();

            this

[2019-06-13 09:59] scambier opened #759 "MSAL does not return the new token after an acquireSilent()"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chromium version 74 (with Brave)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

#

[2019-06-13 11:17] fristys commented on #736
I'm experiencing this problem too.

[2019-06-13 16:23] arunprasathv opened #760 "this.msalService.acquireTokenSilent returns idtoken instead of accessToken"
@DarylThayil @sameerag

Hi,

Getting id token instead of the access token from acquireTokenSilent, I'm using loginPopup method.

Yesterday it was working fine, was getting access token. anything changed ?

What am I missing more here? It should be consistent I guess.

 Thanks
Arun

[2019-06-13 18:11] DarylThayil commented on #760
I believe if you don't pass in scopes to consent but pass in client id instead, you will get the id token instead .

Can you share your msal lib and version?

[2019-06-13 18:13] DarylThayil commented on #759
This is really interesting, thanks for sharing!
@pkanher617  can you take a look at this?
Looks like we may be fumbling something in the cache of refreshed tokens

[2019-06-13 18:15] DarylThayil commented on #754
closing this issue as it will be addressed with angular 1.0.0

[2019-06-13 18:15] #754 closed

[2019-06-13 18:16] DarylThayil commented on #756
@pkanher617  can you look at this?

@anjiuidev  thanks for sharing such a well fleshed out example for us.

[2019-06-14 09:16] PraveenVerma17 commented on #127
Any update here.. postlogout uri is not working.

[2019-06-14 09:33] ritwbanerjee commented on #84
What is a GUID for b2c?

[2019-06-14 09:37] dipesh-wadhwa commented on #758
@pkanher617 I have made changes as you suggested. Still same problem exist. Below are my observation:

1. handleRedirectCallback() does not triggers on landing page. In my case it is home.html
2. myMSALObj.getAccount() still returns null. (See screenshot below)

![image](https://user-images.githubusercontent.com/46276877/59499859-e7299e80-8eb5-11e9-8a98-93304592d8f4.png)

[2019-06-14 16:27] rick-hayek opened #762 "[performance | bug] acquireTokenSilent is always talking to azure"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version: Version 75.0.3770.90 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version

[2019-06-14 17:03] DarylThayil commented on #762
@pkanher617  is this related to authority and the cache?

[2019-06-14 17:05] DarylThayil commented on #705
@PraveenVerma17  what do you mean by msal provider? Do you mean angular?

[2019-06-14 17:05] DarylThayil commented on #714
closing due to inactivity, please reopen if this is still an issue

[2019-06-14 17:05] #714 closed

[2019-06-14 17:07] DarylThayil commented on #722
Closing without repro + solution for concurrent request being done serially.
We do have work slated to handle concurrent token requests in the future

[2019-06-14 17:09] DarylThayil commented on #735
So just to be clear when a user logs in, the cache is empty? but you still have access to the account?

[2019-06-14 17:09] DarylThayil commented on #736
Still in progress, thanks for patience

[2019-06-14 17:10] DarylThayil commented on #738
@bryanchen-d  unfortunately we do not support msal inside of an iframe, but this is an issue we would like to solve soon in a minor release .  Closing this ticket because it is already tracked

[2019-06-14 17:10] DarylThayil commented on #738
Please look to our roadmap in next 2 weeks for a solid update

[2019-06-14 17:10] #738 closed

[2019-06-14 17:14] DarylThayil commented on #739
@pkanher617  do you have an update to add?

[2019-06-14 17:18] PraveenVerma17 commented on #705
I am using Microsoft graph toolkit which has msalprovider.

Sent from my iPhone

[2019-06-14 17:20] DarylThayil commented on #752
the current method to get an id token, with preauthorized scopes is `loginPopup` or `loginRedirect` methods.  You can get an id token with `acquireTokenSilent` by passing the clientId in scopes, but then I believe you can not add email to it.

Would something like this work

[code]

I think we definitely need to support a simpler way here, but curious if this works.

[2019-06-14 17:48] DarylThayil commented on #728
@sameerag  can you investigate this since you tested this ? Thanks!

[2019-06-14 18:47] pkanher617 commented on #744
@mlankamp CDN for 1.0.1 should be published now. Hopefully there should be no more delays moving forward. Thanks for your patience.

https://secure.aadcdn.microsoftonline-p.com/lib/1.0.1/js/msal.min.js

[2019-06-14 18:49] #744 closed

[2019-06-14 18:49] pkanher617 commented on #705
@dipesh-wadhwa The CDN should now be published.

https://secure.aadcdn.microsoftonline-p.com/lib/1.0.1/js/msal.min.js
https://secure.aadcdn.microsoftonline-p.com/lib/1.0.1/js/msal.js

[2019-06-16 20:29] verbedr commented on #735
@jonathaneckman Is it possible to share how you have configured msal.  I have just recently set up a B2C with msal@1.0.1 (in a test setup with Aurelia framework). And I only configured the authority and client id and it all works as it should.

What is strange in your explanation is that the logout url is not in line with the login url.  If you specified the authority can you check the <authority>

[2019-06-17 00:26] tylerjwatson commented on #759
+1.  I get this as well.

Question for @scambier if I may:  In your 'workaround', I noticed this line:
[code]
Is there any specific reason why the id token is getting injected into your Authorization header and not the access token?  The workaround seems succinct, apart from this one line.

Cheers! 👍

[2019-06-17 00:38] tylerjwatson commented on #759
Team, I also noticed something of particular interest:

In the localStorage container, tokens acquired on initial boot have the `expiredIn` property set to a number:
![image](https://user-images.githubusercontent.com/5001408/59571793-a9ae5680-90eb-11e9-8400-d6766241bde4.png)

whereas subsequents (or tokens requested by `acquireTokenSilent`) are strings:

![image](https://user-images.githubusercont

[2019-06-17 01:41] wisercoder opened #763 "Please provide d.ts type definition file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-17 06:22] scambier commented on #759
@tylerjwatson I have two objects containing an `access_token` in the localStorage (cf. my second screenshot), and their keys (that are also objects) don't make them easy to retrieve and compare, so I'm just picking the `msal.idtoken` value. Since it's a workaround, I didn't give it much thought and went with the first "it seems to work" solution

[2019-06-17 11:29] dipesh-wadhwa commented on #705
@pkanher617 Thanks for updating CDN. Can you please help to resolve above issue?
Long story short `accquireTokenSilent `method throws "token renewal operation failed due to timeout" error even after upgrading to 1.0.1.

[2019-06-17 15:07] hrschoch opened #764 "Dynamic configuration"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior
The only option to set a configuration is when defining the MsalModule.forRoot(...).
If the configuration is loaded dynamically (e.g. from an API),

[2019-06-17 15:07] arunprasathv commented on #760
It works now, not sure what has caused it to stop working. I did pass scopes.

[2019-06-17 16:13] arunprasathv commented on #414
@vbucchar @nehaagrawal @tkoenig89 @DeanB2015
I couldn't make it work either. it breaks graph client API as @vbucchar mentioned.  Would be nice if the fix is available sooner as a patch.

[2019-06-17 20:37] arunprasathv opened #765 "IE 11 not Working with Angular MSAL Library"
I still see this issue with MSAL Angular library while launching the application in IE11 and console has below Error:

SCRIPT1002: Syntax error
vendor.js (148561,1)

class AuthenticationResult { constructor(token, tokenType) { this._token = ""; this._tokenType = ""; this._token = token; if (tokenType) { this._tokenType = tokenType; } } get token() { return this._token; } set token(value) { this._t

[2019-06-18 01:43] sgentile commented on #414
what is the status of this bug - it's breaking all users of IE11 using Azure AD authentication.

[2019-06-18 01:53] sgentile commented on #765
I'm getting the same error, works fine in Chrome, but IE11 broken (this is Azure and it's broken for IE ?)

[2019-06-18 11:02] alexm-babylon opened #766 "Error AADSTS700051 on acquireTokenSilent and fails to renew token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 75.0.3770.90 (Official Build) (64-bit)

## Library version

Library version: 1.0.1

## Current behavior

`login

[2019-06-18 13:39] GNMurthy1982 commented on #414
what is the status of this. We are waiting for this fix since 5 months, Still there is no update.
Are there any plans to address this issue? If so, Please provide a date so that we will communicate to our customers.

[2019-06-18 14:37] arunprasathv commented on #765
Yes, i know this and i made it to work by recompiling to target es5 and it works in IE11 but the login popup goes in loop.

Refer :
![image](https://user-images.githubusercontent.com/7142390/59693525-14779480-91b5-11e9-8b66-19c98c061eb5.png)

[2019-06-18 14:47] mattwiz commented on #414
The Microsoft team was focusing on the 1.0 release of msal-core. Based on the often communicated roadmap the Angular wrapper will get an upgrade in Q3 2019: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki. I wouldn't expect this issue to be resolved before then.
@pkanher617's instructions worked for me and are straight forward.

[2019-06-18 15:09] arunprasathv commented on #414
@mattwiz after following the steps below as mentioned by @DeanB2015 it worked but the login popup goes in a loop and I see security errors in the IE Console.

Are you following the same steps and use login popup ?

Steps

clone and npm install https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular
npm run build:modules and change to tsc && tsc -m es2015 --outD

[2019-06-18 15:17] mattwiz commented on #414
That is correct. I used these steps. The only additional step I did was to publish the modified msal-angular to my own NPM repository and list it as a dependency in my application.

[2019-06-18 15:22] arunprasathv commented on #414
@mattwiz are you using loginRedirect ?

[2019-06-18 15:30] mattwiz commented on #414
yes

[2019-06-18 15:36] hunterwebapps opened #767 "Minified Script: Invalid regular expression"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 74
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-18 15:49] arunprasathv commented on #414
@mattwiz  are you able to get accesstoken using loginRedirect

[2019-06-18 16:23] jasonnutter commented on #763
@wisercoder As you noted, `msal` should ship with its own type definition files (as opposed to from the `@types` org). If those do not appear to be working, I think that would be a bug. Can you provide more info on what you are or are not seeing (e.g. intellisense not working, etc)? Thanks!

[2019-06-18 16:27] sgentile commented on #414
@mattwiz @pkanher617 this is what the README says . "We would like to get to a monthly minor release schedule, with patches coming as often as needed."

That seems to imply we wouldn't be waiting for months to get something as important as making sure this works with IE11... considering this is where all the Angular Azure AD instructions say to use this library ???

Is there a workaround ?  I've p

[2019-06-18 16:31] arunprasathv commented on #414
@sgentile  I followed the steps below,  I could do loginRedirect and it works fine. but loginRedirect doesn't provide accessToken.   If you don't need accessTojen your fine.

Steps
clone and npm install https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular
npm run build:modules and change to tsc && tsc -m es2015 --outDir lib-es6
copy the newly created files f

[2019-06-18 16:44] mattwiz commented on #414
I use loginRedirect and require an access token for the API. It works for me just fine. I use AAD B2C in case that makes a difference.

[2019-06-18 16:58] sgentile commented on #414
I just get stuck in an infinite loop of login, redirect, login

On Tue, Jun 18, 2019 at 12:44 PM mattwiz <notifications@github.com> wrote:

[2019-06-18 17:06] sgentile commented on #414
I get this error:

{"_error":"Token renewal operation failed due to
timeout","_errorDesc":"Token Renewal Failed","_scopes":""}

Same code works fine in Chrome - only fails in IE

On Tue, Jun 18, 2019 at 12:44 PM mattwiz <notifications@github.com> wrote:

[2019-06-18 17:13] sgentile commented on #414
Here is the error I'm seeing:

   Request URL:
http://localhost:49731/#error=login_required&error_description=
*AADSTS50058%3a*+
*A+silent+sign-in+request+was+sent+but+none+of+the+currently+signed+in+user(s)+match+the+requested+login+hint*
.%0d%0aTrace+ID%3a+cb2e8fd4-b530-47bb-8148-dafd068b2b00%0d%0aCorrelation+ID%3a+685837d7-30ce-4bf7-a856-277d0a310430%0d%0aTimestamp%3a+2019-06-18+17%3a11%3a43Z&s

[2019-06-18 17:31] mattwiz commented on #414
The silent operation works only in Chrome. It also doesn't work in Safari. I refrain from using it.

[2019-06-18 19:00] sgentile commented on #414
@mattwiz Are you not using the MsalGuard then - as I believe the guard is making this call ?

[code]

[2019-06-18 19:02] sgentile commented on #414
What is odd, this issue I'm seeing is only now when using localhost

[2019-06-18 19:58] DarylThayil commented on #764
I am assuming that this is in regards to msal-angular?

Currently core can only be configured on instantiation, however requests can take overriding params like authority.

We will begin angular work soon, to bring it to parity with 1.0.0 msal-core and will keep this in mind as a feature request.

Closing for now since this is not an issue , but an improvement

@negoe  to track for feature request

[2019-06-18 19:58] #764 closed

[2019-06-18 19:59] DarylThayil commented on #765
@jasonnutter  when you get a chance can you look at this and see if we are not compiling down to the right target for ie11?

[2019-06-18 21:28] mattwiz commented on #414
You are correct. I had to implement my own API Interceptor with the MsalGuard code base

[2019-06-18 21:28] DarylThayil commented on #767
This is really strange, it only happens in azure app services?

[2019-06-18 21:30] DarylThayil commented on #766
Is your AAD application set up to allow this? @shivbijlani  do you have any context on why we may see this error?

[2019-06-18 22:02] pkanher617 commented on #739
I will take a look at this today. Sorry for the delay.

[2019-06-18 22:32] pkanher617 commented on #736
@mmuarc @raikoss @sfigie Thanks for your patience. I have pushed a fix in PR #768. Please feel free to pull this branch and let me know if this fix works. I will push this as a patch as soon as I have verified that it works for you.

[2019-06-18 22:32] pkanher617 commented on #722
@raikoss @ThomasJacob Re-opening because I was able to repro. I have added a fix for this in PR #768. Can you please check if this fixes your issue? I will push a patch as soon as I have confirmed that it sufficiently fixes the issue.

[2019-06-18 22:43] pkanher617 commented on #740
@bryanchen-d this is working as expected. The loginInProgress method will not return true once the id_token has been returned to the application. This behavior has not changed since 0.2.4.

If you check line 322 of UserAgentApplication.ts in msal 0.2.4 you will see that we remove the hash in processCallback as well.

There is an acquireTokenInProgress method as well if you need a state variable fo

[2019-06-18 22:43] #740 closed

[2019-06-19 02:37] wisercoder commented on #763
@jasonnutter turns out this is working as you described. My bad.

[2019-06-19 02:37] #763 closed

[2019-06-19 02:44] sameerag commented on #766
@alexm-babylon  When you register your application, is it configured for implicit flow for both IdToken and accessToken? It is possible that 'token' type is enabled for idToken in your case and hence is working, but not for accessToken.

If you have used the azure portal for the app registration, there is an option the portal provides to enable this. You can find the documentation [here](https://d

[2019-06-19 03:48] sameerag commented on #760
Closing this as it seems to work now. If you have clear steps of repro, please reopen this. As @DarylThayil  mentioned, if you pass client_id instead of scopes we get an id_token for an acquireTokenSilent call. It is also possible to get both id_token and token in a single call if there is no session found (expired or otherwise).

[2019-06-19 03:48] #760 closed

[2019-06-19 08:43] raikoss commented on #736
This seems to fix the issue on my end :) Good job!

[2019-06-19 08:44] raikoss commented on #722
The changes in the pull request seems to fix the issue.

[2019-06-19 08:44] #722 closed

[2019-06-19 11:12] athreyee opened #769 "Acquiretokensilent returning AADSTS50058 with MSAL.js 1.0.1 version(AAD and Live accounts)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [x] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-19 12:33] freeman-g commented on #739
Thank you for looking at this. For what its worth, I also noticed some timeout errors on the 4th silent renewal. I saw several other Github issues that's sounded similar related to acquireTokenSilent, so I didn't create a separate issue for that.

[2019-06-19 16:51] Pheil commented on #767
I get the same bug.  Switching to the non-minified version seems to work.

[2019-06-19 17:34] pkanher617 commented on #736
@raikoss Thanks for testing this. I will push a patch tonight to npm and CDN,

[2019-06-19 18:19] sgentile commented on #414
Would you be willing to share your custom interceptor ?  I'd like to see
how you handle this scenario.

On Tue, Jun 18, 2019 at 5:28 PM mattwiz <notifications@github.com> wrote:

[2019-06-19 19:13] mmuarc commented on #736
Hi, @pkanher617  thanks for your work.

This is embarrassing but although I pulled the branch I don't know exactly what to do to test it in my app since I'm using an npm package.

Any place where I can find how to generate the package locally?

[2019-06-19 19:19] raikoss commented on #736
@mmuarc What I did was:
1. Clone the project
2. Switch to the branch
3. Run `npm install` and `npm run build` in the `/lib/msal-core` folder
4. In my project where I use msal, run `npm uninstall msal` to remove the npm hosted package
5. Run `npm install file:<path_to_msal-core_folder` to install the package locally

Though this may be different than what others may do, this is what enabled me to t

[2019-06-19 19:24] sameerag commented on #736
@raikoss Thanks for the steps. We would suggest the same @mmuarc. Please let us know if this doesn't work for you.

[2019-06-19 20:06] mmuarc commented on #736
Thanks for your help @raikoss, @sameerag . I finally tested it.

@pkanher617, this fixed the issue for me. Great job

[2019-06-20 16:22] sberube opened #770 "Username"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 75.0
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-06-20 16:42] arunprasathv opened #771 "loginRedirect goes in loop , it works fine after deleting cookies"
@DarylThayil @jasonnutter @sameerag
Using Angular Wrapper, after sometime when accessing the application, loginRedirect goes into loop then I have to delete cookies to make it work. What's the trick to make it work. it works fine for the first time.   Appreciate your help.

[2019-06-20 16:45] vbucchar commented on #414
I've followed the work-around listed and it still does not work for me. I get the blank white screen in IE 11 with an error on vendor.js, same error as I posted above. Am I building the DEV branch incorrectly? Is there a way to tell what I'm doing wrong?

[2019-06-20 17:54] pkanher617 commented on #739
@freeman-g I pushed a fix for some of those other acquireTokenSilent issues to dev. Could you test it and let me know if it fixes this issue? We had a bug preventing async silent calls which seemed to be fixed for other use cases.

[2019-06-20 17:56] pkanher617 commented on #762
@rick-hayek I will take a look at this today. Thank you for the detailed repro.

[2019-06-20 18:00] hunterwebapps commented on #767
@DarylThayil I can only confirm that it happened after deploying to an azure app service, but it did not happen in my local environment. The non-minified version works in both environments.

[2019-06-20 18:13] freeman-g commented on #739
Yes, I suspected my issue was related to some of the other issues. I'll give the dev branch a try and let you know.  Thanks!

[2019-06-20 18:53] sameerag commented on #771
@arunprasathv Can you please share the sample code you are using for loginRedirect?

[2019-06-20 19:19] arunprasathv commented on #771
Code :
public scopes: string[] = ['User.Read', 'openid', 'profile', 'email', 'Directory.Read.All'];
this.msalService.loginRedirect(this.scopes);

In AppModule,

 MsalModule.forRoot({
      clientID:  clientid
      authority: 'https://login.microsoftonline.com/tenant-id/',
      validateAuthority: true,
      cacheLocation : 'localStorage',
      navigateToLoginRequestUrl: true,
      popUp: true,

[2019-06-20 20:07] sameerag commented on #770
@sberube Thanks for reporting this issue. This issue is indeed fixed with #596 and it is integrated with msal core.

We have Angular work in planning right now, as mentioned in our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap). This and all other issues w.r.t angular compatibility with msal 1.0.x will be addressed as a part of that effort.

I am closing

[2019-06-20 20:07] #770 closed

[2019-06-20 20:57] freeman-g commented on #739
@pkanher617 Do you know how I can install the Dev branch with NPM? I tried this but got an error:

`npm install AzureAd/microsoft-authentication-library-for-js#dev --save`

And/or how to use the Dev branch? Do I need to do a typescript build?

Thanks

[2019-06-21 00:43] pkanher617 commented on #736
I have published 1.0.2. Thanks for all your feedback!

[2019-06-21 00:51] pkanher617 commented on #739
@freeman-g I have published the patches to the latest NPM. You should be able to test it from there.

In the future, you can use the following steps to run the dev branch (given by another user [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/736#issuecomment-503711527))

1. Clone and build the repo locally.
2. Build the project. You will see the new dist files in m

[2019-06-21 08:58] Apollinaire commented on #490
Any update on this @sameerag ?

[2019-06-21 09:42] yakimko commented on #406
@nehaagrawal looks like this issue appears in the version 1.0.1

[2019-06-21 10:20] dluque92 opened #777 "FAQ in Wiki is deprecated"
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q10-how-to-pass-custom-state-parameter-value-in-msaljs-authentication-request-for-example-when-you-want-to-pass-the-page-the-user-is-on-or-custom-info-to-your-redirect-uri

With the new version 1.0.2: state, scope, onTokenCallBack... and more changed

[2019-06-21 11:39] dluque92 opened #778 "Missed state when create a new UserAgentApplication"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-21 13:19] johnnliu opened #779 "is there an example of using MSAL.js for doing confidential client nodejs application?"
## I'm submitting a...

<pre><code>
[x] Documentation issue or request
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] Edge version Chromium

## Library version

<pre><code>
Library version: MSAL.js any

</code></pre>

[2019-06-21 14:33] arunprasathv commented on #771
@sameerag  any update on this?

[2019-06-21 15:58] pkanher617 commented on #778
Hi @dluque92, we allow the user to pass a state in the AuthenticationParameters object, which is the object sent in the login and acquireToken requests.

[code]
This pattern should be the same for all of the login and acquiretoken APIs. Please let me know if you are still having issues.

[2019-06-21 16:01] pkanher617 commented on #777
@dluque92 Could you be more clear on what is missing from the FAQ?

[2019-06-21 16:08] pkanher617 commented on #779
@johnnliu Thanks for the questions. Currently, the MSAL.js library only supports the implicit flow, which was built specifically for public clients. It is not recommended to use the implicit flow for confidential clients.

We do have a [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Roadmap) for an MSAL Node.js library which will support the auth code and device c

[2019-06-21 16:14] pkanher617 commented on #406
@yakimko Would you mind posting a repro in 1.01? I can take a look.

We pushed 1.0.2 yesterday as well, please take a look and see if the issue persists.

[2019-06-21 16:15] pkanher617 commented on #779
Closing for now, please re-open if you are still seeing the issue.

[2019-06-21 16:15] #779 closed

[2019-06-21 16:16] yakimko commented on #406
it refers to this issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/778
thanks

[2019-06-21 16:17] yakimko commented on #778
@pkanher617 I got tslint error when why to pass state property, because its not defined in type

[2019-06-21 16:24] pkanher617 commented on #778
Hm I haven't received this error before. Could you post a code snippet of your acquireToken or login call and the request object you are constructing?

[2019-06-21 16:26] dluque92 commented on #778
Hi @pkanher617 the new UserAgentApplication expects config with this format:
https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/msal-js-initializing-client-applications

[code]

[2019-06-21 16:32] pkanher617 commented on #778
@dluque92 As of MSAL.js v1.0.0, we no longer accept state as a configuration parameter. This is because the state needs to be set per request, not per instance of MSAL.

The new configuration objects and parameters can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications).

We have also changed how the requests for [login](https:/

[2019-06-21 16:35] dluque92 commented on #777
@pkanher617 Hi, yes, in the documentation how to initialize client applications:
https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/msal-js-initializing-client-applications

[code]

[2019-06-21 16:36] sameerag commented on #778
@dluque92 To expand specifically how a request looks:

export type AuthenticationParameters = {
    scopes?: Array<string>;
    extraScopesToConsent?: Array<string>;
    prompt?: string;
    extraQueryParameters?: Dict;
    claimsRequest?: string;
    authority?: string;
    state?: string;
    correlationId?: string;
    account?: Account;
    sid?: string;
    loginHint?: string;
};

We will be

[2019-06-21 16:37] sameerag commented on #777
@negoe to followup on thos

[2019-06-21 16:41] dluque92 commented on #778
@sameerag Then this file is wrong:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/bff2b7007bfa7283fe8b9b77ca95994e5cef5c97/lib/msal-core/src/Configuration.ts

[code]

[2019-06-21 16:44] sameerag commented on #771
@arunprasathv I would need the sample code that handles the callback.

A Couple things that stood out to me in the configuration:
- why is *popUp: true* set when this is loginRedirect() call?
- extraQueryParameters: 'response_type=id_token' - This is not supposed to be a user set parameter, 'response_type' is always dynamically determined by the msal js application depending on the session status.

[2019-06-21 16:47] pkanher617 commented on #778
@dluque92 Thanks for pointing that out. I will fix the comments right now.

[2019-06-21 16:53] dluque92 commented on #778
@pkanher617 But also, the AuthenticationParameters has been changed, As you said [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications)

How can we pass state in this case?
Thanks!

[2019-06-21 17:06] pkanher617 commented on #778
@dluque92 This is still the configuration object.

Please see my above comment and the AuthenticationParameters.ts class.

[2019-06-21 17:23] sameerag commented on #767
Also @hunterwebapps Can you confirm this is the case with all releases? Can you please test it with msal 1.0.2 and confirm the same?

[2019-06-21 17:53] Pheil commented on #767
Here's my results running locally with my Chrome extension.

I'm not an expert, but shouldn't the minimization not change the code @hunterwebapps mentioned to this?  Looks almost like an encoding conversion issue.

`re_btou=new RegExp(["[Ã€-ÃŸ][Â€-Â¿]","[Ã -Ã¯][Â€-Â¿]{2}","[Ã°-Ã·][Â€-Â¿]{3}"]`

[2019-06-21 18:02] sameerag commented on #767
Thanks for the feedback @Pheil. We will look into this and get back.

[2019-06-21 18:03] arunprasathv commented on #771
@sameerag

I don't see a callback for loginRedirect(), the return type is void not a promise like loginPopup.

If i don't pass extraQueryParameters: 'response_type=id_token' , it doesn't work , says the user is not authorized and takes reponse_type=token. it doesn't take id_toke unless I pass it.

is popUp: true set to true since I was using loginpopup before, I forgot to remove that. This is not

[2019-06-21 18:56] freeman-g commented on #739
@pkanher617 I tested with MSAL 1.0.2 and I'm still having issues with acquireTokenSilent.

This is a little difficult to explain, so bear with me.

- I ran my test in a new incognito tab with a fresh login and fresh local storage entries, etc
- I'm renewing both AccessTokens and ID tokens silently every 45 minutes via a Javascript setInterval loop.
- aquireTokenSilent gives me a bad token on the 4

[2019-06-21 19:49] pkanher617 commented on #733
@Ivan-L I understand your frustration. I will leave this issue open and update once we have an angular solution available.

[2019-06-21 21:50] DarylThayil commented on #769
@sameerag  can you please take a look at this when you get a chance ?

[2019-06-21 21:53] DarylThayil commented on #756
cc @sameerag

[2019-06-21 21:54] DarylThayil commented on #752
@madatan  ping to try this

[2019-06-21 21:56] DarylThayil commented on #741
trying to clarify here, is this a bug or a feature request in line with login silent?

[2019-06-21 22:04] aathithan opened #782 "loginStartPage URL doesn't have # when HashLocationStrategy is used"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 75
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-21 22:22] sameerag commented on #782
@negoe  Can you help with the AAD requirement here? Do we support # in the reply URL?

[2019-06-21 23:00] negoe commented on #782
@aathithan Hi Archana, Who is your target audiene? We do not support fragments in reply URL for AAD+MSA audience. It is supported for AAD only.
cc @sameerag

[2019-06-22 15:53] kissferenc commented on #421
@souvikbasu thx, the install of rxjs-compat is works for me.

[2019-06-23 12:32] mbrevda opened #783 "Support proxying requests for dynamic url redirects"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
non specific

## Library version

Library version: 1.0.2

## Current behavior

Logins expect credentials only via their own internal

[2019-06-24 04:51] keystroke opened #784 "Change authority when calling loginPopup?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-06-24 06:09] sameerag commented on #784
@keystroke Thanks for raising this. Can you please provide the logs in this context where the "authority" in the request(AuthenticationParameters) is not honored? We set the 'authority' to default only if the user does not send a valid authority. If not, it is indeed a bug.

I will also try to reproduce this on my end.

[2019-06-24 06:10] sameerag commented on #782
@aathithan Can you please confirm what is the target audience in your case?

[2019-06-24 06:17] sameerag commented on #783
@mbrevda Thanks for raising this.  As you mentioned, the decision to limit the reply URLs is due to security concerns. The suggestions above are a good start, but the enhancement to support a URL list would involve  Azure Portal + AAD service support in addition to MSAL client libraries.

At this point, we cannot support this behavior but I am happy to pass this on as a suggested enhancement we ar

[2019-06-24 06:17] #783 closed

[2019-06-24 06:19] sameerag commented on #778
@dluque92 as @pkanher617 mentioned above, AuthenticationParameters.ts class has the detail on how to send the 'state' per request. Closing this issue as #780 is in dev.

[2019-06-24 06:19] #778 closed

[2019-06-24 06:54] sameerag commented on #769
@athreyee There is a fix that is propagated to all latest msal versions from 2.3 which stores certain data in cookies to fix this issue. More details are [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser).

Enabling 'storeAuthStateInCookie = true' in MSAL configurartion should mitigate this (as the above article details it). Can you

[2019-06-24 06:54] #769 closed

[2019-06-24 06:57] sameerag commented on #702
@xeaser Is there an update on this ticket? Did this resolve with a later version of MSAL JS?

[2019-06-24 07:36] mbrevda commented on #783
@sameerag thanks for reviewing this. Can you elaborate what changed would be needed to the portal to support option 4.ii above? To recap, I'm suggesting setting a url in the portal and using that as a proxy - no changes to the portal required.

[2019-06-24 08:23] keystroke commented on #784
@sameerag Which logs do you need? Not sure how to retrieve them. Once I call loginPopup as described in code snippet above, the popup is directed to the original authority URL setup via the ctor of the Msal.UserAgentApplication class. I don't see the pop URL change to the new authority value.

I am not confident of the correct way to "set" the desired authority for the login request (outside of th

[2019-06-24 10:12] keystroke commented on #717
@sameerag I just confirmed the "back button" version of this issue still exists in version 1.0.2 on chrome.

[2019-06-24 11:22] hadaromash commented on #771
Same for me in my React client. I'm using version 1.0.1

[2019-06-24 14:26] arunprasathv commented on #771
@sameerag Could you please provide an update on this?

[2019-06-24 15:22] athreyee commented on #769
@sameerag  We already tried this storeAuthStateInCookie as true and it didnt help . We are using MSAL .js and currently on 1.0.1. It works when we change the browser setting but we cannot ask every user to change that way so please re open the bug

[2019-06-24 15:57] RobARichardson commented on #762
I'm seeing this behavior in my application as well.

[2019-06-24 16:29] sameerag commented on #771
@arunprasathv For redirect calls (both loginRedirect and acquireTokenRedirect) it is mandatory to handle the token in the callback: handleRedirectCallback(authCallback); The usage is mentioned in the [ReadMe](https://github.com/AzureAD/microsoft-authentication-library-for-js).

I do not see that in the above sample code.

Also since you mentioned you are using Angular Wrapper,  Can you please give

[2019-06-24 16:40] jasonnutter commented on #765
I was able to reproduce this with the MSAL Angular sample, and the cause looks to be that the main export for `msal-angular` isn't the CommonJS version of the library. Fix coming shortly.

[2019-06-24 17:06] sameerag commented on #99
@negoe can you please follow up on the ADFS support for MSALs? We do know that we do not support the endpoint directly, Clear documentation will help folks who come to this route.

[2019-06-24 17:13] joshfriend commented on #534
related: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/864

[2019-06-24 17:27] sameerag commented on #211
@spottedmahn Is this still seen with the latest MSAL JS? I am planning to sort through B2C issues with the server team and would like to know if this issue needs to be debugged?

[2019-06-24 18:00] sameerag commented on #769
@athreyee Unfortunately since the restriction is from the IE browser implementation, we are limited on the support we can extend from MSAL JS. As a SPA support library, we are limited in our storage options: localStorage/sessionStorage and cannot store the tokens elsewhere as of today.

One option we are considering is to give an option to the developer to cache the tokens; which could mitigate th

[2019-06-24 18:08] DarylThayil commented on #534
Quick question, is this showing up as a warning only or are you blocked from getting tokens?

[2019-06-24 18:20] DarylThayil commented on #783
@mbrevda  I think I understand what you are asking for and while I think it makes sense in your use case, explicitly supporting it gives me some pause.  The surface area where an app can send sensitive information is restricted for security concerns.  Restricting it in the portal and allowing for it to proxy to another domain through the library seems to break the spirit of that restriction.

@neg

[2019-06-24 18:37] sameerag commented on #300
@SandyVeliz Can you please migrate to the latest MSAL 1.0.x and confirm if the issue still exists? Since the code changed significantly a repro on the latest can help.

[2019-06-24 18:41] spottedmahn commented on #211
Hi @sameerag - yes, still an issue for this use case.  I'm not actively working on this project anymore so I'm not a personally vested in it.

To me, it's all about the [use case stated above](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/211#issuecomment-359438043).  Whether that is exposing the error and some other means I'm game.

[2019-06-24 18:44] sameerag commented on #342
Closing this as no response since some time. Please reopen if the issue still persists.

[2019-06-24 18:44] #342 closed

[2019-06-24 18:47] sameerag commented on #352
@vladkosarev @jrebagliatti Is this issue still seen? I am able to login with twitter using the basic SUSI policy. Please let us know if this issue still persists.

[2019-06-24 18:59] derekparsons718 commented on #534
@DarylThayil Just as ritmos explains, the cookie warning appears first and then a few seconds later this error is thrown: "Token renewal operation failed due to timeout|Token Renewal Failed". No token is returned.

[2019-06-24 19:10] sameerag commented on #211
@spottedmahn The later MSAL versions 1.0.x do expose error in the response. If that mitigates this issue, then it is great. My confusion was more about if this is a B2C specific issue or just the error interface.

We have enhanced our [error handling](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release#error-handling-in-msaljs) and it should cover your

[2019-06-24 19:26] spottedmahn commented on #211
Oh, nice 😊.  Closing the issue! 👍

Great, I'll take a look!

[2019-06-24 19:26] #211 closed

[2019-06-24 20:06] #765 closed

[2019-06-24 20:09] jasonnutter commented on #765
Fix merged, I'll post here when it has been published. Thanks!

[2019-06-24 20:14] sameerag opened #786 "Angular Wrapper in sync with core MSAL 1.0.x"
This is a placeholder to track all the "Angular" specific issues which simply need the wrapper to be upgraded to the latest msal js core version.

- supports latest Angular versions with rxjs support
- is Msal JS 1.0.X compatible - with access to the new API Surfaced

All tickets raised asking for this support will be tagged with this issue going forward. This is to simplify the traction from our

[2019-06-24 20:15] sameerag commented on #385
Tagging this with #786.

[2019-06-24 20:15] #385 closed

[2019-06-24 20:16] sameerag commented on #786
From #385: Make protectedresourcemaps flexible post-initialization of MSAL.

[2019-06-24 20:34] jasonnutter commented on #414
@vbucchar Can you try building from `dev` again? I merged a fix that should address this issue.

[2019-06-24 20:34] chriskuech opened #787 "Ultra simple wrapper"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [X] Documentation issue or request
- [ ] Other... Please describe:

## Browser
N/A

## Library version
N/A

## Current behavior
I find the design of `msal` very confusing.  Fundamentally, all most developers want to do is auth

[2019-06-24 20:53] sameerag commented on #400
@negoe Can you please help pointing (or creating if need be) a document that helps people understand how to access SharePoint resources using MSAL JS?

[2019-06-24 21:41] sameerag commented on #421
#786 to track this

[2019-06-24 21:41] #421 closed

[2019-06-24 21:42] sameerag commented on #786
From #421: Angular 6/7/8 support with rxjs-compat

[2019-06-24 21:47] sameerag commented on #454
Tracking this with #440. @adamtay Please reopen if the "navigateToLoginRequestUrl" suggested above did not help your case.

We also upgraded our library to 1.0.x with a better API surfacing, please try the newer version if that is an option. Most of our dev work is focused on the later releases.

[2019-06-24 21:47] #454 closed

[2019-06-24 21:57] sameerag commented on #457
#414 is now fixed with a potential PR. Also the latest msal release: 1.0.x has AuthResponse.ts as the response class.

Please check out our [release notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release) for more details.

[2019-06-24 21:57] #457 closed

[2019-06-24 21:58] sameerag commented on #475
Linking to #786

[2019-06-24 21:58] #475 closed

[2019-06-24 21:59] sameerag commented on #786
From #475: Typescript typings support in Angular Wrapper

[2019-06-24 22:06] sameerag commented on #476
Linking #786 but keeping this open as this is a specific ask.

[2019-06-24 22:16] sameerag commented on #606
@byteoriginkiran Since B2C authority validation is not possible (as there will be virtually 100s of domains to support in theory), we are currently supporting any B2C endpoint by setting "validateAuthority: false" in the configuration for MSAL JS.

We are working on formulating a better interface for Authority validation and would announce as and when we are ready. Until then please use the above

[2019-06-24 22:16] #606 closed

[2019-06-24 22:21] sameerag commented on #488
@Ra-Sedgwick Is this still seen on the later MSAL JS versions: 1.0.x?

[2019-06-24 22:26] sameerag commented on #695
Linking to #435 and closing this. b2clogin.com support will be tracked with the linked issue.

[2019-06-24 22:26] #695 closed

[2019-06-24 22:29] sameerag commented on #319
@spottedmahn I am curious if the opening up of error interface solves this one too or would you still need multiple instances of msal supported? I can tag this issue accordingly.

[2019-06-24 23:46] sameerag commented on #532
Linking this with #786

[2019-06-24 23:46] #532 closed

[2019-06-24 23:47] sameerag commented on #786
From #786: redirectURI as a function -> This should happen when the wrapper is compatible with msal 1.0.x

[2019-06-24 23:48] sameerag commented on #531
@NaceurBouhamed Is this issue still seen?

[2019-06-24 23:53] sameerag commented on #526
Linking with #786 but leaving this open as this is a popular requirement for Angular Wrapper design. The gist is to offload the redirect to a separate HTML: A HTML/JS file to check the iFrame and passing the control back to parent - saving the app from reloading every time a silent token call is made in the background.

[2019-06-24 23:55] sameerag commented on #786
From #526: Separate the ATS redirect handling from the main application code. Write a small html/js service that processes the token extraction and passes the control to the parent (Angular app) to avoid reload every time a token is acquired.

[2019-06-25 01:47] andy008 commented on #177
I have the same issue @Tovli - did you solve?

[2019-06-25 04:14] Tovli commented on #177
moved to auth0 :-(

On Tue, Jun 25, 2019, 04:47 Andrew Farrell <notifications@github.com> wrote:

[2019-06-25 07:37] NaceurBouhamed commented on #531
not sure, but probably yes. What I did though to avoid the error on 0.1.1, is transpiling the whole package files using babel and then running the build again.  Seems Angular 4 uglify fails because it doesn't handle es6 files well at that time.

[2019-06-25 12:55] madatan commented on #752
Thanks DarylThayl for suggstion. Although I don't think this should be the solution to the issue, I'll try it.
I managed to find a workaround for email by using another field value from id token, but now the biggest issue for me is that sometimes it doesn't renew the id token when calling acquireTokenSilent(requestWithClientId), instead it renews the access token. :(

[2019-06-25 13:26] Aculeo commented on #400
@zedthehead I was confused by the same, but that is probably why it is a permission that requires admin consent.

The consent shows as `https://microsoft.sharepoint-df.com/Sites.Search.All`, but in the actual app you should request your token with the scope `https://yourtenant.sharepoint.com/Sites.Search.All`.  If you don't SharePoint Online will reject the token because of invalid audience (meani

[2019-06-25 13:37] vcs38 opened #788 "Too long time for each request"
Hi,

I'm facing issue whith this very helpful library.

Each time I' doing a request to microsoft, the iframe is reloading and my app is very heavy to load therefore it happens that for each request the resulat displays after 15-20 seconds.

I'm giving you some code to help me.

this is how I configure the module
`MsalModule.forRoot({
      clientID: '00944399-ee66-47b8-84d6-bbc64656a3fc',
      l

[2019-06-25 16:20] DarylThayil commented on #390
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angularjs/samples/MsalAngularjsDemoApp/app.js#L3
this is how the sample does it, does this not work?

[2019-06-25 16:42] dotnetcanuck commented on #421
@anth-git @souvikbasu @kissferenc The upgrade guide for Angular 8 says to remove `rxjs-compat` though...?

[2019-06-25 17:43] sameerag commented on #756
@anjiuidev I see prompt: "select_account" is working as expected for AAD/MSA but not for B2C. I will start working with the B2C service team to debug this as the screen that needs to be displayed for select_account is owned by them. Please expect some delay on this but we are actively tracking this.

[2019-06-25 18:12] mbrevda commented on #783
The spec [specifically allows](https://tools.ietf.org/html/rfc6749#section-3.1.2.2) for this type of behavior "allowing the client to dynamically vary only the query component of the redirection URI when requesting authorization".

Building this into the lib can actually help prevent secret leakage by ensuring that even while proxying these restrictions are being meet.

[2019-06-25 18:19] sameerag commented on #756
@anjiuidev I verified with the other MSAL teams and B2C service again. We (MSAL JS) are sending the queryString parameter "&prompt=select_account" in our request to the service. The second level of indirection where if a developer selects google or MSA or any other IDP, the select tile is not being rendered by the service team.

I flagged it to their team and will tag it accordingly. Though this i

[2019-06-25 19:02] sameerag commented on #531
Okay. There is recently a fix that helped with Angular ES6 compilation, please take a look @ #785. I am closing this issue since it seems to be more of a transpilation issue which I believe is resolved with the above PR.

If you think it is not resolved by the #785, please feel free to reopen.

Thanks for the prompt response.

[2019-06-25 19:02] #531 closed

[2019-06-25 19:04] sameerag commented on #692
@SaeedAkhter-MSFT It is probably the way the sample is written in this case. We login in the background if the account instance is detected without giving an option to the user to login again (or click a sign-in button). I tested the prompt=select_account in other cases and it does seem to work, I also verified the NW calls we make and we do include "&prompt=select_account" as a part of our query

[2019-06-25 19:16] sameerag commented on #692
@SaeedAkhter-MSFT I tested this behavior and it seems to work fine. I edited our sample to have an extra button to switch accounts with prompt: "select_account" and verified that the request sent out to the service is also populated with querystring parameter: "&prompt=select_account".

Please let me know if I missed any corner case. I can also send you the sample over email if you woud like to te

[2019-06-25 19:20] sameerag commented on #692
I will check in this sample soon to have a running demo for prompt behavior for users.

[2019-06-25 19:38] kissferenc commented on #421
@dotnetcanuck I removed the rxjs-compat library and the compiler can't compile my project.
Maybe I have to remove/upgrade some deprecated methodes.

These are the error codes:

`ERROR in node_modules/rxjs/Subscription.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/Subscription'.
node_modules/rxjs/BehaviorSubject.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/BehaviorSubject'.

[2019-06-25 19:52] baltie commented on #421
You shouldn't remove the rxjs-compat libary until MSAL for Angular version 1.0 is ready. It is needed by the current version 0.1.2.

[2019-06-25 20:36] dotnetcanuck commented on #421
@kissferenc @baltie I don't really understand how. Our project isn't using `rxjs-compat` at all, and MSAL has been working fine so far. That's why I am so confused.

The project has been on Angular 7.3 until now, and I just upgraded it to Angular 8. I removed the MSAL package to get past the errors thrown by `ng update` (although later I found the `--force` flag), and then reinstalled it after the

[2019-06-25 20:53] baltie commented on #421
This is the MSAL package you're using? https://www.npmjs.com/package/@azure/msal-angular

It depends on RxJS 5. So if it is working without you explicitly installing rxjs-compat, something else you're using is installing it for you. Have you tried `npm ls rxjs-compat` in your project directory? You should be able to see if it has been added by some other package. You can also check node_modules fo

[2019-06-25 21:15] jrebagliatti commented on #352
Thanks @vladkosarev . We ended up implementing [hello.js|https://adodson.com/hello.js/] due to the limitation described above. I'll give a try to the new version of MSAL and let you know.
Thanks!

[2019-06-25 21:19] dotnetcanuck commented on #421
@baltie That is indeed the package that I've installed, yes.

Everything that you are saying makes logical sense to me, because a package that depends on RxJS 5 will not run against RxJS 6 without rxjs-compat. But that's the total opposite of what I'm seeing. Even our CI builds in DevOps haven't thrown any errors, and when I deploy the site to our Azure dev environment, everything works! (and yes,

[2019-06-25 22:30] sameerag commented on #539
@Weschk Thanks for raising this issue. Linking this with #786 -> will add this as one of the use cases to test when the new angular wrapper work starts.

@negoe @DarylThayil FYI.

[2019-06-25 22:30] #539 closed

[2019-06-25 22:31] sameerag commented on #786
From #539: Routes without router guard would need full path match before they are pushed to unprotected resources. Add this as a test case for the new Angular Wrapper.

[2019-06-25 22:41] sameerag commented on #513
@cleberdantas Thanks for raising this issue. I am discussing with the team if we can fix this before the Angular Wrapper sync with msal 1.0.x as this seems simple enough. Will keep you posted on the same.

Apologies for the delay, we are getting through most angular issues one by one post the core release.

[2019-06-25 23:45] sameerag commented on #752
@madatan I am a little confused on the renewal of access Token comment. We have a check in our code where we renew idToken specifically in the acquireTokenSilent() call if the scope passed is clientId:

[code]

Can you share your sample code where you get an accessToken renewed instead of idToken?

We also have token renewals documented [here](https://github.com/AzureAD/microsoft-authentication-li

[2019-06-26 00:20] sameerag commented on #513
@DarylThayil  On further thought maybe we should modify this to check _idToken != null_ than to verify a specific claim, so we can be independent of the token contents.

[code]
would be
[code]

[2019-06-26 02:24] arunprasathv commented on #771
The example your provided is for msal.js, I'm looking for the angular wrapper and i see that broadcast service methods are callback as below, and i did have this call back.. let me take another look. will update you once i have the fix.

this.broadcastService.subscribe("msal:loginFailure", (payload) => {
// do something here
});

this.broadcastService.subscribe("msal:loginSuccess", (payload) => {

[2019-06-26 02:34] arunprasathv commented on #765
@jasonnutter Thanks. This is great!!   #414 closed?

[2019-06-26 02:35] sameerag commented on #507
@CRidge @suhailsalim Apologies for the delay in responding to this issue. We recently revamped our msal js core library to have a better error interface, please check our documentation for [Error Handling](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release#error-handling-in-msaljs). I believe this will solve your issue to handle error cases better.

H

[2019-06-26 02:35] #507 closed

[2019-06-26 02:36] sameerag commented on #786
From #507: Error handling for Angular Wrapper.

[2019-06-26 03:19] sameerag commented on #497
Linking this with #786, We have this as a pattern in the core sample today, ensure it is integrated into the angular wrapper as the angular devs do not have a UI/Code control to call the fallback when aquireTokenSilent fails.

[2019-06-26 03:21] sameerag commented on #786
From #497: Introduce a flag in the angular wrapper for the interceptor to fallback to interactive calls when acquireTokenSilent fails. This is needed for the wrapper as the angular developers has no control of the interceptor code to write the fall back code themselves.

[2019-06-26 03:35] sameerag commented on #771
@arunprasathv, Long term solution to your problem would be to move to the latest msal js 1.0.x - we have internal customers who have seen this issue in their implementations (Mostly React) but did not in the latest version of msal. This is because we simplified some of our redirect code in the API release.

But since moving to the latest msal js is not a viable option for folks using the angular w

[2019-06-26 03:59] sameerag commented on #490
@Ralms @daniel-seitz @Apollinaire The service team confirmed that this behavior in v2 is by design even if it is an extra prompt for the user to select for the below reasons (for cases without a hint) :

**In the security considerations of the OpenId Session Mgmt spec:**
The id_token_hint parameter to a logout request can be used to determine which RP initiated the logout request. Logout requests

[2019-06-26 04:45] sameerag commented on #490
Looks like this is something the service plans to revisit but only after a quarter. Tagging @negoe to track this as a feature we want to work on later.

@negoe once we have this feature in ADO, please close this ticket or tag it with a milestone that is appropriate to revisit later.

[2019-06-26 05:07] sameerag commented on #733
Linking this to #786. We are tagging all angular requests that can be resolved with a basic angular wrapper support to msal 1.0.x with the above PR.

[2019-06-26 05:07] #733 closed

[2019-06-26 05:07] sameerag commented on #786
From #733: Angular wrapper for error handling

[2019-06-26 05:18] sameerag commented on #629
@amigup We are pushing a fix in #785 which also lets the user pick an angular version from a local repo instead of npm. Can you upgrade to msal 2.4 in your environment, build it and see if angular wrapper works as is?

Ideally, we would want everyone on msal 1.0.x (which is breaking changes from msal 0.2.4) but angular wrapper work is not yet updated with the same. Meanwhile, all angular wrapper i

[2019-06-26 05:20] sameerag commented on #629
Linking this to #786 for traction and closing this.

[2019-06-26 05:20] #629 closed

[2019-06-26 05:22] sameerag commented on #786
From #629: prompt=select_account removal from msal js. This is already addressed in msal 0.2.4 but since angular is stuck on an older version, this is an issue for some users. Feedback is to not hardcode msal versions to be used with angular, #785 partially addresses this - revisit if more checks are needed.

[2019-06-26 05:25] sameerag commented on #614
Linking this to #786. This is fixed in the lastest msal 1.0.x, but angular wrappers cannot use this until the upgrade happens.

[2019-06-26 05:25] #614 closed

[2019-06-26 05:26] sameerag commented on #786
From #614: state parameter set by the user in request to be sent in the response. Addressed in latest msal js 1.0.x.

[2019-06-26 05:28] sameerag commented on #605
May not be angular specific issue. @jasonnutter any ideas?

[2019-06-26 06:21] sameerag commented on #598
@stweedie
- we usually advise the users to fall back to interactive calls as expanded [here](https://github.com/AzureAD/microsoft-authentication-library-for-js#3-get-an-access-token-to-call-an-api) when there is a failure seen in silent calls. The library does not handle this as there are some SPAs who would not like interaction triggered by msal.  However, I suspect if this is an option with rout

[2019-06-26 06:22] sameerag commented on #595
@RedEyedDog Hopefully the above comments from @pkanher617 are helpful. Closing this issue, please reachout in case you need more info.

[2019-06-26 06:22] #595 closed

[2019-06-26 06:28] sameerag commented on #585
Tracking this with #786. Same issue as #526.

Also, @negoe to track samples on redirect usage for core and angular.

[2019-06-26 06:28] #585 closed

[2019-06-26 06:31] sameerag commented on #575
Probably not. Our angular wrapper work which is coming up in the [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) will include support to the later angular versions.

@DarylThayil Any more ideas?

[2019-06-26 06:35] sameerag commented on #552
@Davilink Can you please expand this requirement?

[2019-06-26 06:43] madatan commented on #752
Hi,
Here is the code:

[code]

[2019-06-26 10:17] rossbuggins commented on #99
@sameerag this is something that would be really useful, teams report that all is working with our .net clients, just the js that its a problem with still.

[2019-06-26 13:12] ingarhillestad commented on #414
Will there be any update on npm with this fix "anytime soon"?

[2019-06-26 14:30] arunprasathv commented on #771
@sameerag Appreciate your Help!.

Option 1.

I just did npm install , how can i pick the msal version 0.2.4. ?

Option 2
Sure, will wait for your update.

[2019-06-26 15:21] jasonnutter commented on #414
@ingarhillestad We'll work to get this published soon, apologies for the delay.

[2019-06-26 15:26] sergey-tihon opened #790 "Incorrect calculation of accessTokenResponse.expiresOn date"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-26 15:53] jasonnutter commented on #605
Right, I imagine this isn't Angular specific. That is seemingly strange behavior from JSDOM, though. I'll create a ticket in our backlog to investigate.

[2019-06-26 16:18] sgentile commented on #414
Will this address the IE issue with silent tokens ?

This is used where web is getting a token for separate Azure API

On Wed, Jun 26, 2019, 11:21 AM Jason Nutter <notifications@github.com>
wrote:

[2019-06-26 17:21] sameerag commented on #788
Same as #526; We do not have a fix yet but strongly considering to contain the refresh in an upcoming angular wrapper release. Please check our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) for the latest announcements.

We are also tracking all angular issues regarding the upgrade to msal core 1.0.x with #786.

My apologies that we do not have a readym