[2021-04-15 08:15] kwoxer commented on #3151
Well @jasonnutter I can create a short screenshot to demonstrate it if you want?

This is the line I use for the authentication, maybe I am using it wrong?

`const account = await msalTokenCache.getAccountByHomeId(req.cookies.homeAccountId);`

[2021-04-15 10:01] deepti1805 opened #3472 "msal logout without account selection and without redirection"
### Core Library

@azure/msal-browser

### Core Library Version

2.6.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

We are having one scenario where we need to trigger the logout from trips.amtrak.com but the msal code resides in amtrak.com. So is it possible to log out without redirect and without account selection?

### MSAL Configuration

_

[2021-04-15 16:37] jasonnutter commented on #3472
@deepti1805 In the latest version of MSAL Browser, you can use `logoutPopup`, which perform popup-based logout. Account selection may still be required, unfortunately.

[2021-04-15 17:27] derisen commented on #3463
@levalencia you're welcome! Check out one of the deployment guide we have [here](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/tree/main/4-Deployment/1-deploy-storage). Closing this as resolved.

[2021-04-15 17:27] #3463 closed

[2021-04-15 20:17] #3396 closed

[2021-04-15 21:58] bsrchalam commented on #3420
@rayterrill was it clearing the response headers as well? especially access-control-allow-origin

[2021-04-15 22:00] nairmanu opened #3475 "InteractionType.Redirect not taking user back to request url"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

When using InteractionType.Redirect, user is not taken to the original requested url but only to the registered redirect url in AAD.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code

[2021-04-15 22:33] sadasant opened #3476 "Avoid calling asynchronous requests from `setInterval()`"
### Core Library

@azure/msal-node

### Core Library Version

Latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

Latest

### Description

Hello team! I'm reporting a bug which happens in the odd case that a network request might take longer than an interval. In such cases, users will experience their Node process not to close properly, and errors might not be able to bubble

[2021-04-15 23:20] sameerag commented on #3476
Thanks @sadasant. Community PRs welcome btw if you know the exact change and we can help with the tests.

[2021-04-16 01:34] rayterrill commented on #3420
@bsrchalam I don't know - it basically entirely failed to load the front end with the sign-in error I included in the screenshot because it wasn't able to get past the initial AzureAD auth (which we require up-front before we display content).

[2021-04-16 05:38] bsrchalam commented on #3427
Issue was with trying to acquire token manually instead of relying on msal-interceptor to acquire token silently and attaching to the http request.

[2021-04-16 05:43] ramchalamtci commented on #3427
Issue was with trying to acquire token manually. removed that in app.component.ts and used msal-interceptor to acquire token silently and attach to the http request which removed the delay,

[2021-04-16 05:44] #3427 closed

[2021-04-16 06:11] #3475 closed

[2021-04-16 06:15] nairmanu commented on #3475
This was a config issue. Specifying a correct redirecturl fixed the issue

[2021-04-16 07:58] tlaskowski opened #3477 "Object literal may only specify known properties, and 'provide' does not exist in type 'IPublicClientApplication'."
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0.beta-4

### Description

Hi,
I'm trying to create Angular Library using msal-angular with the following config. I have a trouble to add MsalModule.forRoot(). I was inspired https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/l

[2021-04-16 17:37] jasonnutter commented on #3477
@tlaskowski The first argument to `MsalModule.forRoot` should be the `IPublicClientApplication` instance itself:

[code]

[2021-04-16 19:55] parmjitv opened #3479 "MSAL version 2 beta - missing entities?"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

Hello All,

Thank you for providing such a great product!

I am updating an angular application to use the latest v2 betas of the MSAL libraries for JS.  Apparently, a number of entities that were previously available in v1 a

[2021-04-16 22:04] jasonnutter commented on #3479
This is now a private function of the MSAL Interceptor class: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.interceptor.ts#L107

This function has been removed.

This has been renamed to `CryptoOpts`: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/crypto/CryptoOps.ts

This has been renamed to

[2021-04-18 18:02] parmjitv commented on #3479
Thanks Jason!  I believe this will be adequate, if I have any specific questions I will submit as a new issue.

Cheers,

Parmjit V.

[2021-04-18 18:02] #3479 closed

[2021-04-19 05:06] sameerag commented on #3444
@jaunusa Thank you for the update.

[2021-04-19 08:39] Marcel0024 commented on #3293
Hi @jo-arroyo,

Any news on this?

Was the sample sufficient?
Were you able to reproduce?
Did i do something wrong?
Do you require more detailed steps to reproduce?

[2021-04-19 13:49] kdmadej opened #3484 "Is `msal-browser` a viable choice for authentication in a React add-in loaded in a desktop office app?"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

not applicable

### Description

I was wondering if using `@azure/msal-browser` is a viable choice for authenticating users in a React add-in that is loaded inside a desktop office app (i.e. Excel) and not on the web?

I've prepared an auth flow using the `...P

[2021-04-19 15:19] Flywheel commented on #3456
Thanks for your response. I had been using the sample explicitly marked B2C at https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts  So far, this approach appears to be more stable.

[2021-04-19 15:36] olafwrieden commented on #3189
+1 I am also waiting for this. When multiple users are signed in and one isn’t able to refresh the token, then it still shows as “authenticated” even if the second user has no relation to my application whatsoever.

In this case, my app may try to fetch profile info from my API to re-hydrate the user context, thinks a valid user is authenticated, yet may actually return `undefined` because the use

[2021-04-19 15:47] pra7eek opened #3485 "MSAL.js with Server Side auth"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

Hi Team,

How can we retrieve an `authorization code` from MSAL.js and send it to backend for further processing? The UI doesn't have to handle anything there but retrieve a permanent authorization code. Backend will do modifications in bac

[2021-04-19 16:23] derisen commented on #3485
@pra7eek this is not supported and in general, moving around sensitive information like `authorization code` is not a good idea. Instead, have you considered the [on-behalf-of flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow)? This should be able cover your use case.

You can find a [sample project here](https://github.com/Azure-Samples/ms-identity-

[2021-04-19 16:31] jasonnutter commented on #3484
@kdmadej Yes, MSAL Browser can be used for Office Addins.

This is the recommended approach, as it ensures compatibility across web and native. You can find a sample demonstrating this pattern here: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React

[2021-04-19 17:15] SaviChinnadurai opened #3486 "Getting "BrowserAuthError: no_cached_authority_error: No cached authority found" error"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.2

### Description

We are getting this "no_cached_authority_error" error sometimes especially when the site is kept open in the browser. It starts when the site redirects to login page and though user enters valid login credentials it throws up

[2021-04-19 17:49] pra7eek commented on #3485
@derisen thank you for the response. The "on-behalf-of flow" might work out but I need to test it first. I cloned the sample project to try it out. I did all the steps which are mentioned in the sample app readme, but I'm seeing the following error once the login popup closes after I authorize it:

`AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client

[2021-04-19 20:01] derisen commented on #3485
@pra7eek just [answered](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/issues/16).

[2021-04-19 21:37] jasonnutter commented on #3486
@SaviChinnadurai The `no_cached_authority_error` error happens if there isn't a cache entry for the authority for request. This can potentially happen if the temporary cache used by MSAL is cleared. In MSAL.js v2, all temporary cache values are stored in `sessionStorage` (token storage is based on the `cache.cacheLocation` setting). Can you please try debugging to figure out if there is a session

[2021-04-19 22:15] saadataz opened #3491 "URIError on Safari"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

When passing "viva-pi%C3%B1ata-tip" as state in loginRedirect, it somehow gets converted into "viva-pi%25u00f1ata-tip". when [StringUtils](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fee7efbd7616e144918c969af5cce

[2021-04-20 01:05] jasonnutter commented on #3491
@saadataz Thanks for the report, we'll look into this. For now, I would recommend using the workaround of encoding your state value before you pass it to MSAL, and then decoding it when handling the response. This should mitigate encoding issues.

[2021-04-20 02:03] jasonnutter commented on #3293
@Marcel0024 Apologies for the delayed response. I can reproduce the behavior you describe. While I investigate, please follow our recommended best practice using a dedicated redirect route that is not protected by the MSAL Guard, which should mitigate the issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#pathlocationstrategy

[2021-04-20 03:29] pra7eek commented on #3485
@derisen , In the example, I see that every request to the server has a bearer token. So in theory, can this bearer token be saved in some database permanently? As I mentioned earlier, there is no UI interaction once we retrieve the token, everything has to run on the server based on some actions. What is the expiry time of the token?

[2021-04-20 07:08] pra7eek commented on #3485
I noticed that UI refreshes the token after a while. This solution won't work for us. UI just needs to have one time connect and give that token to the server api and things will be handled by a backend service. Is there anyway to refresh this token on the server side like the other OAuth apps?

[2021-04-20 07:13] Marcel0024 commented on #3293
Thanks @jasonnutter i must have missed that in the docs. It does mitigate it! Is this the correct way of using it or is this a workaround?

[2021-04-20 08:01] aosyatnik opened #3492 "User can login twice"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.2

### Description

It's worth to mention, that issue is not constantly reproducible. The main issue, that a user can log in with different accounts in 1 browser, which leads to other issues.

### Error Message

_No response_

### Msal Logs

_No respons

[2021-04-20 11:00] tlaskowski commented on #3477
It helps:) thank a lot @jasonnutter

[2021-04-20 11:00] #3477 closed

[2021-04-20 12:29] ghost opened #3493 "interaction_in_process"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

I am using MSAL Library v 2.13 for authentication and authorization my angular a of app, consider a scenario - I hit the browser with my hosting/redirect URI, it auth/auth me and lands me back to the same page but the session

[2021-04-20 13:16] enaSo97 opened #3494 "logoutRedirect() does not clear session storage nor logs out the user."
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

I am calling logoutRedirect() on signout button click, but it only redirects to homepage and does not logs out the user.

I've looked into session storage, and when signout button is clicked it doesn't clear, it would just redi

[2021-04-20 13:16] SimoneRavetto opened #3495 "Intermittent BrowserAuthError using loginPopup in a REACT PWA"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

I'm using MSAL JS in order to authenticate users in a PWA application developed using REACT. Sometimes login works perfectly, redirecting users to the home page of the app. Other times login popup opens, users insert their logi

[2021-04-20 15:19] SaviChinnadurai commented on #3486
Thanks jason. I have implemented your mitigation suggestion  to set `storeAuthStateInCookie ` to true for now. Hopefully it will resolve the issue.

[2021-04-20 15:33] jasonnutter commented on #3494
@enaSo97 To clarify, are you saying nothing is cleared from session storage? Note, MSAL will only clear MSAL-related cache entries from browser storage.

Yes, please see here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#sign-out

[2021-04-20 15:33] jasonjoh opened #3497 "Remove clientId values from your samples"
### Core Library

@azure/msal or msal

### Core Library Version

N/A

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

You have included app registration IDs that are still working in your samples. For example, this:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/b425c895d02ff5eab37225b34fb36dd3c1d60424/samples/msal-angular-v2-sample

[2021-04-20 15:45] enaSo97 commented on #3494
All the accounts that are in B2C right now is just local accounts using, email and password. no IDP is used. In the document you provided it says

[2021-04-20 15:46] jasonnutter commented on #3486
@SaviChinnadurai Great, let me know how it goes. We've heard separate reports of this error, so we'll investigate further.

[2021-04-20 16:31] RandScullard opened #3498 "@azure/msal-node-extensions error deleting lockfile in Artillery.io"
### Core Library

@azure/msal-node

### Core Library Version

1.0.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am using @azure/msal-node and msal-node-extensions (FilePersistenceWithDataProtection) in my Artillery.io load test script (via custom JavaScript). When I have simulated users arrive at a high rate (e.g., 100 per second), and all of them st

[2021-04-20 17:02] derisen commented on #3485
@pra7eek This is possible. In this case your frontend and backend apps should share the same app registration (i.e. client Id). Your backend app then can use MSAL's `AcquireTokenSilent()` API to refresh the tokens as needed.

You would also need a mechanism that would trigger the front-end to prompt the user for interactive token acquisition when the back-end can no longer use the token for some r

[2021-04-20 17:12] pra7eek commented on #3485
@derisen, That's the issue.

We can't rely on the UI for the further authentication. For example:

A person connects their calendar with our project using the lib so that we can add events to his calendar on his behalf. We save the access token in the database for further use. Now after a day or so, we have an action which needs us to add an event to the calendar, but the token has expired, and it

[2021-04-20 17:39] derisen commented on #3485
@pra7eek sorry if I haven't made it clear -you will still refresh the token in the backend, its just that if (for whatever reason) the backend is not able to refresh it, you'll need to notify the frontend to prompt the user.

Please go through [this sample](https://github.com/Azure-Samples/ms-identity-dotnet-advanced-token-cache/tree/master/1-Integrated-Cache/1-2-WebAPI-BgWorker) once and see if t

[2021-04-20 17:40] jasonnutter commented on #3486
@SaviChinnadurai I've been unable to reproduce this issue.

Can you please clarify for how long the site is kept open? And on which site is the browser left open, your app or the login page?

[2021-04-20 17:42] jasonnutter commented on #3497
@jasonjoh Thanks for bringing this to our attention. Unfortunately, there is nothing we can do to stop applications from reusing other app's client ids, even if we remove our test client ids from the repo. We'll make it clear in the samples not to reuse those client IDs, and to register their own.

[2021-04-20 17:48] jasonnutter commented on #3497
cc: @svrooij Please see my comment in the linked stack overflow question. Closing.

[2021-04-20 17:48] #3497 closed

[2021-04-20 17:50] SimoneRavetto commented on #3495
@jasonnutter I'm trying to debug this problem...
In _acquireTokenPopupAsync_ function seems that I have the hash empty:

![image](https://user-images.githubusercontent.com/19594796/115440071-a0becc80-a20f-11eb-9c0d-0d518c58ed00.png)

I can't understand where this hash is cleared, also because it has been cleared only sometimes (seems related with the quickness of login procedure, but I'm not so su

[2021-04-20 17:50] jasonnutter commented on #3498
@RandScullard Thanks for bringing this to our attention and providing reproduction steps. @sameerag @samuelkubai Can you please take a look at this issue?

[2021-04-20 17:54] jasonnutter commented on #3492
@aosyatnik To clarify, you don't want a user to be able to log in with multiple accounts in the same browser? If you want to prevent multiple accounts, your app should check if MSAL has a cached account, and not allow the user to initiate login if they are already logged in.

And please provide your MSAL configuration (this is not sensitive data), thanks!

[2021-04-20 17:56] jasonnutter commented on #3293
@Marcel0024 Yes, this is our recommended best practice.

[2021-04-20 17:58] jasonnutter commented on #3493
@kimayapawaskar This error happens because your app is making an interactive request while another request is still in progress. See: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

We recommend that Angular applications use a dedicated redirect URI that does not have the MSAL Guard to help mitigate these sorts of issues. Plea

[2021-04-20 18:43] jasonnutter commented on #3486
Also, please verify that this issue still exists with the latest version of MSAL Broser (2.14.0).

[2021-04-20 18:57] kimayapawaskar commented on #3493
I implemented https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md but initially it is not auth/auth user. It is auth/auth when I route to component with MSALGuard.

[2021-04-20 18:59] SaviChinnadurai commented on #3486
Unfortunately I too don't have the fixed steps to reproduce this error. As I mentioned it happens randomly sometimes. I have deployed the mitigation change to our dev site and going to test it for next few days to confirm if the fix has resolved the issue.
Yes, I have upgraded both msal/angular (2.0.0-beta.4) and msal/browser (2.14.0) to latest versions.

Our site has a set of public pages (requir

[2021-04-20 19:45] tnorling commented on #2315
Closing as the feature has completed rollout. Please open a new issue if anything else comes up. Thanks!

[2021-04-20 19:45] #2315 closed

[2021-04-20 20:30] #3054 closed

[2021-04-20 21:45] #3454 closed

[2021-04-20 23:38] AyaanRanosys commented on #3395
@jasonnutter

Waiting for your response here. Thanks.

[2021-04-21 03:00] #3317 closed

[2021-04-21 03:00] #3305 closed

[2021-04-21 07:10] aosyatnik commented on #3492
@jasonnutter hi, thank you for such a fast reply.

Yes, exactly, that's what we want.

MSAL config for dev:

`environment.ts`
[code]

Used in `app.module.msal.factory.ts`:
[code]

Connected in `app.module.ts` as this:
[code]

We are using `MsalGuard` and as I said, usually, it works, but sometimes different users can log in with 1 browser.

[2021-04-21 10:52] alinbujor commented on #3394
I also have this issue, we have an Angular 10 App, we use the MSALInterceptorConfigFactory to automatically add the token to all our requests. And the MsalGuard to protect our routes. The loginRedirect is triggered by the guard. We don't have a login button. The login works fine, but after that for each request to our API a request for the token is made.

I read lots of posts regarding this issue

[2021-04-21 11:51] enaSo97 commented on #3494
@jasonnutter

I'm getting same behaviour every time I try to logout. I am able to logout from the home component but it seems like I can't logout if I go to another react router. It returns `endpoint_resolution_error` in session storage.

I've tried on Microsoft Edge, Chrome, and Brave.

[2021-04-21 14:46] forellendev opened #3503 "Proof-of-Possession flow error"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

No wrapper

### Description

Hi,

I'm trying to implement the [Proof-of-Possession flow](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ef11fd7eb7f523fba1cf2002579ec75e4179b619/lib/msal-browser/docs/access-token-proof-of-possession.md),

[2021-04-21 14:52] forellendev commented on #3239
It's early stage really, but I think will be common in laptops once manufacturers add them by default:
https://google.github.io/tpm-js/

[2021-04-21 18:45] jrmcdona opened #3504 "The provided value for the input parameter 'scope' is not valid"
### Core Library

@azure/msal-browser

### Core Library Version

2.14

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I have a Microsoft first party app id.   I only care about MSA so I use consumers.  This app only is checked for Microsoft Accounts and not for AAD.

I am getting an error message about not valid scope.  However, I am only passing in one va

[2021-04-21 22:18] #2894 closed

[2021-04-21 23:02] jasonnutter commented on #3293
We have root caused this issued, and should have a fix in the next version of MSAL Angular v2.

[2021-04-21 23:51] jasonnutter commented on #3503
@forellendev It seems like there are temporary cache values stuck in teh cache. Can you try logging out and trying the requests again? Also, make sure you are invoking `handleRedirectPromise` to process the redirect request.

[2021-04-21 23:53] jasonnutter commented on #3504
@jrmcdona `openid profile offline_access` are the default OIDC scopes, so they are not the problem. Can you please verify the value you registered for your custom scope? They are often in the format of `api://9550e889-e1b2-4c54-96b5-f09de31ba11e/User.Access`.

[2021-04-22 00:00] jrmcdona commented on #3504
@jasonnutter  in the first party portal here at Microsoft (not the Azure portal) you don't have that option to do it like that.   I have it working like this in a different project.

I went ahead and tried it but same error:

The+provided+value+for+the+input+parameter+'scope'+is+not+valid.+The+scope+'api://9550e889-e1b2-4c54-96b5-f09de31ba11e/User.Access+openid+profile+offline_access'+does+not+exi

[2021-04-22 00:35] jrmcdona commented on #3504
@jasonnutter  I just noticed on the API MSA isn't checked only AAD is.  So  that could be the issue, will have to redo that and try again.

[2021-04-22 07:44] Umbreonn opened #3507 "loginPopup is not storing token in localStorage"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

Hello,

I'm trying to upgrade my msal version to 2 but I'm facing some issues. After successfully login on my app I can't find my token in my localStorage.

### Error Message

no error message

### Msal Logs

_No response_

#

[2021-04-22 11:02] piotrlech commented on #2600
Have the same, but the weird thing is that msal-node works fine (I think it gets the proxy from the browser) on 2 servers, but on the other one it doesn't, and I don't know why

[2021-04-22 12:47] jesben commented on #3420
Me and a colleague have struggled a lot with this error. We have 2 identical apps, same code, just different key vaults. The latest app reg. works through an app proxy and the old one gets the error "AADSTS9002325: Proof Key for Code Exchange is required for cross-origin authorization code redemption". After we compared manifests and tried a lot, we gave up. We deleted the old app registration and

[2021-04-22 16:07] jasonnutter commented on #3507
@Umbreonn Are you able to reproduce this with one of our samples?

[2021-04-22 17:42] #3293 closed

[2021-04-22 18:07] sameerag commented on #2600
Can you share the error you see here @piotrlech ?

[2021-04-22 18:25] piotrlech commented on #2600
signin error: ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a trusted authority. Please include this authority in the knownAuthorities config parameter.
GET /auth/signin 302 31628.943 ms

So many ms means a timeout to me. When looking at the tc

[2021-04-22 20:46] jrmcdona commented on #3504
Yup that was the issue.

[2021-04-22 20:46] #3504 closed

[2021-04-22 21:25] jasonnutter commented on #3507
@Umbreonn And to be clear, are you saying a token that was present in localStorage before you performed the upgrade was removed after you logged in?

[2021-04-22 22:50] #3486 closed

[2021-04-22 23:07] sameerag commented on #2600
This is interesting. Is it possible to share the fiddler's trace for success and failure cases with us @piotrlech? You can email me, my email is available in my profile. I am curious what configuration is causing this error.

Also is it the same app all these scenarios? If they are different apps, can you please share the `config` details in each case?

[2021-04-22 23:08] sameerag commented on #2600
Also, the proxy settings you made, if possible.

[2021-04-23 00:03] aron89682 opened #3522 "React B2C Sample - Token is requested twice"
### Core Library

@azure/msal or msal

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.0

### Description

When requesting an access token, it is making 2 requests.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Reproduction Steps

Replace the

[2021-04-23 01:47] dilin-MS commented on #3375
Hi @sameerag , any update?

[2021-04-23 06:00] kberawala opened #3523 "Question - handleRedirectResponse information missing when sign up !"
### Core Library

@azure/msal-browser

### Core Library Version

Question - handleRedirectResponse information missing !

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Description

when using SIGN_IN flow via redirect => then handleRedirectPromise().then(response => {});
the response object =>
[code]

However, when user SIGN_UP using sign up flow via redirect => then han

[2021-04-23 06:46] #3523 closed

[2021-04-23 06:47] kberawala commented on #3523
no longer a problem, config error

[2021-04-23 07:53] Umbreonn commented on #3507
I will try this!

Before the upgrade when I was logged my token was in the localstorage, that's not the case anymore, I can't find it.

[2021-04-23 07:59] matteocusinato commented on #3293
Hi @jasonnutter , I got to test the new version, in fact the url is now clean after the redirect, but only if you have the Guard canActivate. My route for example is canLoad and the problem still exists. Thank you!

[2021-04-23 11:56] johnvittneyk commented on #3394
I upgraded my package to latest version and it solved the issue.

[2021-04-23 11:56] #3394 closed

[2021-04-23 12:11] yousourceinc opened #3524 "Insufficient permission and empty scope when user logs in and grants admin consent"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.8

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.2

### Description

We are receiving an invalid accessToken with empty scopes on the first grant of admin consent. If the user retries again - we call the acquireTokenPopup and the accessToken becomes valid. We can't call acquireTokenPopup when the acce

[2021-04-23 12:17] NewReactUser28 opened #3525 "MSAL authentication failing in Teams Tab"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

2.13.1

### Description

We are trying to extend our SPFx Webparts in Teams tab.
**this.myMSALObj.getAccountByUsername(this.userName)**
During MSAL authentication, code is failing when we are trying to obtain the signed in account matching the username.
We n

[2021-04-23 17:54] jasonnutter commented on #3525
@NewReactUser28 SSO in Teams Tab has different considerations than a normal webpage. Please see this sample for how to SSO in Teams when you don't have a cached account: https://github.com/pnp/teams-dev-samples/tree/master/samples/tab-sso/src/nodejs

[2021-04-23 18:20] jasonnutter commented on #3522
@tnorling Can you please take a look this issue?

[2021-04-23 19:49] arsenzavialov opened #3526 "acquireTokenSilent always gets new token via network, ignoring cache"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

Hi, i use acquireTokenSilent every time to call .net core api which requires idToken as bearer jwt, but i faced the problem that this method always acquires new idToken through network ignoring my cache in sessionStorage. Can s

[2021-04-23 21:03] tnorling commented on #3522
@aron89682 Thanks for raising this. There appears to be a bug in the `useAccount` hook causing an extra state update which is causing this behavior. I'll work on a fix, but in the meantime you can try using the `accounts` array returned from the `useMsal` hook

[2021-04-23 21:30] aron89682 commented on #3522
Yep that's what I did to fix it.

[2021-04-23 21:57] sameerag commented on #3375
@dilin-MS Are you explicitly calling `acquireTokenSilent()` to access cached tokens?

[2021-04-24 06:13] nicolgit opened #3528 "protectedResourceMap non working when "search" string is parameters URL"
### Core Library

@azure/msal or msal

### Core Library Version

1.3.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.0.0

### Description

with this configuration

[code]

this call does not include the Authorization Header

[code]

instead this call includes the Authorization Header

[code]

### Error Message

with this configuration

[code]

instead this call includes

[2021-04-25 06:39] dilin-MS commented on #3375
No. Am I supposed to do so?

[2021-04-25 06:41] dilin-MS commented on #3375
I study the implementation of `cca.acquireTokenOnBehalfOf()` and seems it should read from cache first before execute token request. Have I missed anything? Or, what's the recommended practice to acquire token and read from cache first?

[2021-04-25 11:29] forellendev opened #3529 "acquireTokenSilent not working as expected"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not Applicable

### Description

I want to pick up the issue with acquireTokenSilent from #2579. There seems to be an incoherence with the [documentation](https://docs.microsoft.com/de-de/azure/active-directory/develop/scenario-spa-acquire-token?tabs=javascript

[2021-04-25 11:45] forellendev commented on #3503
Thank you jason! I emptied the local storage and ran the application again, but with no success. I get redirected to the login page, get an authorization code, but then the local storage is quickly filled up with msal entries, one of them being `*.interaction.status` set to `interaction_in_progress`.
I followed the [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/

[2021-04-25 23:28] kberawala opened #3530 "ClientAuthError: access_token_entity_null: Access token entity is null, please check logs and cache to ensure a valid access"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Description

on handleRedirectPromise() after login

ClientAuthError: access_token_entity_null: Access token entity is null, please check logs and cache to ensure a valid access token is present.

### Error Message

_No response_

### Msal Logs

_No resp

[2021-04-26 09:33] brugh commented on #3179
Just to send some feedback; I completely reworked the login procedure based on this ticket. Problem I'm having is that Office.js REQUIRES a /#/ router while Azure AD entirely prohibits the use of fragments in the redirectUri. To work around that in Angular is difficult because the initial router picks up everything so having a login component that goes without a # and an application that uses hash

[2021-04-26 10:28] jindrichkuba opened #3531 "Supporting state for acquireTokenSilent?"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.2

### Description

Hi,

I see silentRequest is supporting:

 * - scopes                 - Array of scopes the application is requesting access to.
 * - authority              - Url of the authority which the application acquires tokens from.
 * -

[2021-04-26 11:37] lvasiliou opened #3532 "sign in and request bearer token for bespoke api - react"
### Core Library

@azure/msal-browser

### Core Library Version

2.14

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

Hi I am trying to sign in the user and retrieve an access token for my custom API. However, I end up in an endless redirect loop.

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Identity Provider

Azure A

[2021-04-26 15:43] imakeinterfaces opened #3533 "After AzureAD outages MSAL cookie becomes corrupt"
### Core Library

@azure/msal-browser

### Core Library Version

2.11.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.11.2

### Description

We have noticed in the past that during Microsoft AzureAD outages, the cookie state of our users becomes corrupt necessitating a cookie reset. This is a widespread problem that affects all users who were using our application during the

[2021-04-26 15:47] #3456 closed

[2021-04-26 15:49] jasonnutter commented on #3533
@imakeinterfaces Please upgrade to the latest version of MSAL Browse (2.14.1) and see if this is still an issue, as we made fixes in 2.12.1 to properly clear temporary cache values: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/changelog.md#2121

[2021-04-26 15:59] DmytroKuznyetsov commented on #3530
The same issue on new 2.14.1 version. On 2.14.0 everything works as expected.

[2021-04-26 16:19] hectormmg commented on #3529
Hi, @forellendev . `acquireTokenSilent` does do an automatic token refresh when there is a valid refresh token in the cache. It will also throw an error when the refresh isn't possible. MSAL doesn't do error handling by design, so could you clarify what you mean by an incoherence with the documentation? Thanks!

[2021-04-26 16:23] hectormmg commented on #3530
Hi @kberawala . Could you provide a network trace over e-mail so we can help you debug this error? My e-mail is in my GitHub profile. Thanks!

[2021-04-26 16:58] tnorling commented on #3179
@brugh

This problem can be solved by setting your `redirectUri` to your homepage (which does not require a hash). If you initiate login from a different page, let's say `/#/profile`, MSAL will handle getting you back to that page after the redirect to `/`. Our [angular 11 sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-

[2021-04-26 17:12] tnorling commented on #3532
@lvasiliou A couple things to point out here:

1. We [don't recommend](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redirect-flow-in-a-react-app) calling `handleRedirectPromise` yourself when using `msal-react` as this is done under the hood by the library.
2. The `loginRedirect` and `acquireTokenRedirect` APIs are not expect

[2021-04-26 17:18] jindrichkuba commented on #3531
can I contribute for this change?

[2021-04-26 17:22] jasonnutter commented on #3293
This is a known limitation (path routing, redirect uri set to page using MSAL Guard via canLoad) that is not supported at this time. Please use a dedicated redirect URI that either does not use the MSAL Guard or uses canActivite.

[2021-04-26 17:28] derisen commented on #3503
@forellendev another PoP sample here: [Angular SPA calling .NET web API](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/7-AdvancedScenarios/2-call-api-pop)

[2021-04-26 18:40] tnorling commented on #3324
Closing due to inactivity. Please open a new issue if this has not been resolved. Thanks!

[2021-04-26 18:40] #3324 closed

[2021-04-26 19:03] jakehockey10 commented on #3283
@jasonnutter Thanks for the response and sorry for my own delay in responding.  I haven't been able to focus on this lately, so I was hoping that I could get back to you soon still.  We are still trying to find the right time to make the switch to the new msal-angular v2 relative to our other priorities (PWA has fallen in priority, but I would assume v2 would still be a good thing to move to).  Wh

[2021-04-26 19:07] hectormmg commented on #3526
Hi @arsenzavialov . The `acquireTokenSilent` API does not support empty scopes requests. If you want to get an ID token using `acquireTokenSilent`, you need to pass in a valid scopes array as part of the request. For this use case you can pass in the account and a scopes array containing the OIDC scopes: ["openid", "profile"].

I recommend you read the documentation on [silent login](https://githu

[2021-04-26 19:17] hectormmg commented on #3531
@jindrichkuba you are very welcome to contribute a PR for this change. Please review our [contribution guidelines](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/contributing.md) before you start to make sure your contribution experience is as smooth as possible! Feel free to update this issue with any questions you have. Thanks!

[2021-04-26 20:17] jasonnutter commented on #3283
@jakehockey10 No worries. MSAL Angular v2 is currently scheduled to GA in May.

[2021-04-26 22:12] tnmckesson commented on #3530
@hectormmg  Can you please provide the solution if you are able to resolve this issue? I'm having the same issue. Thanks

[2021-04-26 22:32] #3522 closed

[2021-04-26 22:46] jo-arroyo commented on #3528
@nicolgit I have been unable to reproduce this bug. Are you able to reproduce this behavior using one of our [msal-angular v1 samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-samples)?

We also encourage you to try out [msal-angular v2](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular), which might

[2021-04-27 05:00] jakehockey10 commented on #3283
Cool thanks for the update. I'll try to find the time to attempt the migration on a new branch in preparation

[2021-04-27 09:28] arsenzavialov commented on #3526
Thanks, i forgot about the scopes, that solved my issue!

[2021-04-27 09:28] #3526 closed

[2021-04-27 10:34] lvasiliou commented on #3532
loginRedirect not resolving causes serious race conditions. I am in a situation where my code progresses before I am signed in and before I acquired an API token, resulting in an unauthorised exception. Or maybe I am doing something wrong. So short of re-engineering the entire app to fit in MSAL, I dont see it working otherwise.

`function App() {
  const { instance, inProgress } = useMsal();
  co

[2021-04-27 12:23] ChaithanyaGK opened #3538 "UnauthenticatedTemplate is rendered right after successful redirect login"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

**UnauthenticatedTemplate**  is rendered for a split second before **AuthenticatedTemplate** is being rendered immediately after redirect login.

This behavior can be reproducible with [react-router-sample](https://github.com/A

[2021-04-27 14:03] SujeetKulkarnii opened #3540 "In which scenario I should use Authentication link from Web App Azure Portal and in which scenario I have to use MSAL Library"
### Core Library

@azure/msal or msal

### Core Library Version

2.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0

### Description

I want to Authenticate user using Azure AD. I had application registration in Azure AD and everything is set up ,I am using Authentication link from Azure Portal Web app settings section. According to Microsoft dcoumentation MSAL library

[2021-04-27 14:24] jml88 opened #3541 "MSAL.js Twitter popup not redirecting after second login attempt"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Using Azure MSAL library in a vanilla js application running in localhost. I step up with a problem in the login flow with Twitter.

I am using the loginPopup() approach and it seems to work fine. When I choose to sign in with Twitter it

[2021-04-27 14:39] derisen commented on #3540
@SujeetKulkarnii the **Authentication** service on **App Service** is a simpler but less flexible alternative to MSAL. If you are using MSAL, you should just disable it, as you have no need for it. See one of the deployment guides [here](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/4-Deployment).

[2021-04-27 14:57] SujeetKulkarnii commented on #3540
Thank you @Doğan Erişen

[2021-04-27 15:56] BozidarPolic opened #3542 "MSAL Angular v2 sign-in doesn't work if using b2c login url without opening the app first"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

Our whole angular application is under guard. We use PathLocationStrategy and auth route as recommended in [PathLocationStrategy ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/d

[2021-04-27 16:00] jasonnutter commented on #3542
@BozidarPolic Please try the latest version of MSAL Angular v2 (beta.5), as it includes a fix for this issue.

[2021-04-27 16:06] jasonnutter commented on #3542
@BozidarPolic Correction, this scenario is not supported. The user must visit your app first so that MSAL can verify the request is valid.

As a workaround, you can create a page in your app (e.g. /login) that automatically invokes `loginRedirect` on page load.

[2021-04-27 16:07] jasonnutter commented on #3542
But please also update to `beta.5` as it includes a fix for when the page used as the redirect URI uses the MSAL Guard.

[2021-04-27 16:24] tnorling commented on #3532
If you need to block code from running you can await `loginRedirect`. By its very nature, the page will redirect away from your app before the promise resolves. If you would like a more straightforward API you can use `loginPopup` instead which will not leave the page.

Can you please clarify what code is running before you acquired a token? I would again suggest reading through our docs and looki

[2021-04-27 16:32] tnorling commented on #3538
@ChaithanyaGK Thanks for bringing this up. This a bug in the library, which I will make sure gets fixed in the next release. If you need a workaround in the interim you can add a check to your component that blocks rendering if `inProgress === InteractionStatus.HandleRedirect`

[2021-04-27 16:51] brriann commented on #3530
I saw this issue as well.  Solution was to update @azure/msal-browser 2.11.2 to 2.14.0 as @DmytroKuznyetsov mentioned.  Ideally we would update to latest, but maybe best to hold off is this bug is present in 2.14.1 as well.

[2021-04-27 17:17] Oskenso commented on #3530
Experiencing this issue here as well, hoping for a proper solution

[2021-04-27 17:18] Oskenso commented on #3530
Experiencing this issue here as well, hoping for a proper fix as we can no longer trust a .1 release

[2021-04-27 17:32] hectormmg commented on #3530
Updating the thread since there's more activity: We're still investigating the root cause and will update when we have an answer and solution. Thanks.

[2021-04-27 21:55] hectormmg commented on #3530
Hi everyone, I can confirm there's a bug in this scenario.

A temporary workaround for now is to add the app's clientId as a scope to the request that is resulting in an error.

[code]

The bug happens because MSAL expects an access token in the /token response, but some IDPs (like B2C) may not return an access token if there are no resource scopes in the request (which is the case for some login

[2021-04-28 07:56] sameerag commented on #3208
@ccosmincc Is this a browser use case? I thought this was marked as an `msal-node` issue, but looks like you are using `msal-browser`. To access an Account, can you try `getAccount()` which ideally always has `idTokenClaims` populated in case you have previously logged in. In your case when you successfully make a `loginSilent` call, it means that the account can be fetched from the cache and we p

[2021-04-28 08:49] anhaehne opened #3547 "How to authenticate a user in a asp.net core web api"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

Hi,
i'm currently trying implement a authentication flow for azure ad users to sign in to a angular front end which will pass the authentication to the asp.net core api.

Right now i get the error in the backend that the acce

[2021-04-28 09:42] chtourou-youssef commented on #3530
Not working for me ?

[2021-04-28 09:42] Kumar-Aakash commented on #3378
I am also facing the exact same issues. My Angular app have redirect flows only for single sign-on. For Google, Apple It is fine but for Microsoft login, I am getting exact same error. Post logout, it should redirect back to the app.

[2021-04-28 09:50] kberawala commented on #3530
Below is the workaround, worked for me.

[code]

[2021-04-28 10:21] ccosmincc commented on #3208
@sameerag no, it's not a browser use case. I'm using `msal-node` in Electron following [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/67ab72d3b76f1e2c98bc2b1a36c73934c74b0a38/samples/msal-node-samples/standalone-samples/ElectronTestApp) sample. All of my previous comments are using links from this Electron sample.
I want to achieve the following:
1. user opens the E

[2021-04-28 11:49] DmytroKuznyetsov commented on #3530
@kberawala this works for me as well

[2021-04-28 12:15] BozidarPolic commented on #3542
@jasonnutter  Thank you for the suggested workaround.
The way we implemented it is inProgress susbscription when there are no interactions we check if there are any accounts signed in. If not we do loginRedirect.
Updated to beta.5 as well (left msal browser on 14.0 since 14.1 has issues described in [#3530](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3530)).

[2021-04-28 12:36] ottodranik commented on #3530
This works for me.
`var request = {
      redirectStartPage: 'some_redirect_link',
      scopes: ['app_id_that _used_for_susi']
  }
  this.app.loginRedirect(request);`
But there is a problem with `msal-angular` npm package because the loginRedirect() method is calling  in `MsalGuard.ts`. For now just create this MsalGuard by myself as CustomMsalGuard.

[2021-04-28 14:03] #3542 closed

[2021-04-28 16:06] hectormmg commented on #3541
Hi @jml88 . Do you see any errors from MSAL in the browser console? That would be helpful so we can diagnose your issue.

[2021-04-28 16:18] hectormmg commented on #3524
Hi @yousourceinc . Could you send me a network trace from a tool like Fiddler so we can inspect the requests your app is making and have more context on your issue? You can send it to the e-mail on my profile.

Also, please consider upgrading to @azure/msal-angular v2, which does a better job of handling this type of scenario. Thanks!

[2021-04-28 16:24] hectormmg commented on #3304
Closing due to inactivity. Please let us know if you still have this issue.

[2021-04-28 16:25] hectormmg commented on #3314
Closing due to inactivity. Please let us know if this is still an issue.

[2021-04-28 16:25] #3314 closed

[2021-04-28 16:28] #3330 closed

[2021-04-28 16:59] sameerag commented on #3337
Closing this issue as it is decided to not take up `node 8` support for `msal-node` as discussed offline @sadasant

[2021-04-28 16:59] #3337 closed

[2021-04-28 17:00] sameerag commented on #3332
@sadasant Since you folks decided to solve this issue differently, is it alright to close this issue? Please let me know.

[2021-04-28 17:04] #3304 closed

[2021-04-28 17:05] sameerag commented on #3346
@NickLiffen Closing this issue. We will follow up on strict null checks enhancement, I just do not have a clear timeline at this point. Marked it internally.

[2021-04-28 17:05] #3346 closed

[2021-04-28 17:56] ascott18 commented on #3533
@jasonnutter I am on 2.14.1 and am having the same issue. If I put a breakpoint in the clearMsalCookies, it is never hit.

[2021-04-28 18:12] hectormmg commented on #3530
@ottodranik thanks for pointing it out, should be resolved when we fix the underlying issue.

[2021-04-28 19:07] jml88 commented on #3541
Hi @hectormmg ,

Thanks for the reply.

On the source page (where the login attempt is initiated) there are no messages at all in the console.
Inside the popup there is a warning from twitter.

`Error parsing a meta element's content: ';' is not a valid key-value pair separator. Please use ',' instead.`

I let you a screenshot of this.

![image](https://user-images.githubusercontent.com/4543817/11

[2021-04-29 00:08] #2974 closed

[2021-04-29 05:37] AyaanRanosys commented on #3395
@jasonnutter

Any update here?

Thanks.

[2021-04-29 09:46] lvasiliou commented on #3532
Give us an example of a scalable app in react strict with routing instead of function components. Also, nobody wants to have a screen with a sign in button. And considering how all borwsers block popups, that feels like an outdated scenario.

[2021-04-29 11:20] azuregurus commented on #3318
The method fails, so it is not redirect to the URI.

We will follow-up on this issue next week with some debug information.

[2021-04-29 15:45] jasonnutter commented on #3533
@ascott18 After invoking which API, logout or acquireTokenSilent? Or something else?

[2021-04-29 15:57] tnorling commented on #3532
All of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples) use React Strict and most demonstrate routing; for example [react-router sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample).

If you're specifically interested in class components over function

[2021-04-29 15:57] #3532 closed

[2021-04-29 16:03] #3538 closed

[2021-04-29 16:50] ascott18 commented on #3533
@jasonnutter This is on a page that is using `loginRedirect`. If the user closes the tab without completing the authentication flow, our app is bricked for that user and is no longer able to perform `loginRedirect` anymore.

[2021-04-29 17:15] tcc-sejohnson opened #3556 "Authentication Flow for Separate Frontend/API"
### Core Library

@azure/msal-node

### Core Library Version

1.0.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

I'm trying to figure out what flow/library I should be using to authenticate our app.

Our frontend is a SSR React app. It lives on <site_name>.mydomain.com. Our backend lives on api.mydomain.com and is a set of C# Azure Functions. We're using

[2021-04-29 17:16] jasonnutter commented on #3533
@ascott18 I see, this should be handled by `handleRedirectPromise`: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/26c54cc4e186ae1164a73a5155f9e853ba173153/lib/msal-browser/src/app/ClientApplication.ts#L202-L208

Can you debug `handleRedirectPromise` and see what is happening there? I'll also see if I can repro.

[2021-04-30 03:41] ChaithanyaGK opened #3559 "Prompting to select an account to sign out of after logout, although a single user is logged in."
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.2

### Description

After logout (using `msalInstance.logoutRedirect()`), I'm prompted to pick an account to sign out of -- although a single user is logged in. Can it be avoided or is it a mandatory step ?

![prompt](https://user-images.githubuse

[2021-04-30 13:54] wertzui commented on #3547
To give some more information on how we fixed this issue

The problem was the `'openid'` scope requested which is a shorthand for `graph.microsoft.com/openid` as described at https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md#working-with-multiple-resources

When we changed it to `'api://<client_id>/access'` it worked. `'access

[2021-04-30 13:58] SimoneRavetto commented on #3495
Solved changing the redirect url to the same login url - no more problems.

[2021-04-30 13:58] #3495 closed

[2021-04-30 16:11] samuelkubai commented on #3498
@RandScullard thank you for bringing this up and sharing such detailed reproduction steps, I'll be taking this up and we'll update you through this issue on the progress.

[2021-04-30 16:29] tnorling commented on #3556
While `msal-browser` and `msal-react` won't break SSR, they can only actually handle authentication on the client side due to needing access to the window object. If you want to do server-side auth `msal-node` is the right choice. If you'll be doing all your API calls from the server and don't need tokens on the frontend this should be fine, however, if your front-end code will be making API calls

[2021-04-30 17:12] tcc-sejohnson commented on #3556
@tnorling - That's literally _all_ I needed to hear to make that decision! All API calls are made server-side, so `msal-node` is the way to go. The only thing needed on the frontend is the array of roles for the user to contextually render components ("Log in" vs "Log out", etc).

@tnorling and @derisen - That does lead to a couple of questions, though. (Please note I _might_ mis-name some functio

[2021-04-30 18:16] hectormmg commented on #3559
Hi @ChaithanyaGK . We've documented the way logoutRedirect works and what it does [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#logoutredirect. As the doc explains, it is possible to skip the account selection from the server, but doing so would mean the user is only logged out locally (i.e. MSAL clears the credentials cache), bu

[2021-04-30 18:35] v-zhangw opened #3561 "MSAL Error: AADSTS9001023"
### Core Library

@azure/msal or msal

### Core Library Version

1.9.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

After moving from ADAL 1.6.6 to MSAL 1.91, an error was encountered when trying to connect to an Azure Data Explorer endpoint.

Error reads as follows:
AADSTS9001023: The grant type is not supported over the /common or /consumers endpoints.

[2021-04-30 18:57] #3292 closed

[2021-04-30 18:57] #3440 closed

[2021-04-30 19:02] jasonnutter commented on #3561
@v-zhangw Can you please clarify which MSAL library you are using? There is no version 1.6.6 or 1.91 of MSAL.js or ADAL.js.

[2021-04-30 19:50] v-zhangw commented on #3561
Sorry, I made this issue on the wrong repository, this was intended for MSAL4J not for JS. My apologies.

[2021-04-30 19:50] #3561 closed

[2021-04-30 20:06] derisen commented on #3547
@wertzui @anhaehne that's right, each access token is meant for a specific resource (represented by the [aud](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims) claim), so Graph API and your own web API would be different resources here, and the valid tokens for each wouldn't contain the scopes meant for the other (you decide what to name the scopes for y

[2021-04-30 20:50] ursmeier-mercatus opened #3562 "Principal Identity Name null"
### Core Library

@azure/msal or msal

### Core Library Version

2.14.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.5

### Description

- Azure function app secured with AD and checking the user identity in the function
- Calling a function in browser: the Principal object is fully populated
- Calling a function in angular / msal: some attributes in the Princ

[2021-04-30 23:04] #3547 closed

[2021-05-01 11:43] IIrafail commented on #3224
@amrutha95  I will open the issue there, thanks

[2021-05-01 11:43] #3224 closed

[2021-05-01 16:09] #3559 closed

[2021-05-01 18:26] peterfeng-hub opened #3564 "Role information of the logged in user"
### Core Library

@azure/msal-browser

### Core Library Version

2.13

### Wrapper Library

Not Applicable

### Wrapper Library Version

2

### Description

How do I get the roles information of the logged in user, please?

The reason is that I'm using "roles" value of the logged in user to determine if the user is authorized to access the protected backend resource.

I was hoping to find the "rol

[2021-05-01 21:45] jakehockey10 opened #3565 "access_token_entity_null"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.5

### Description

If I initiate a forgotPassword request while on a `MsalGuard` guarded route, and successfully get redirected back to the angular application, I receive an `access_token_entity_null` error.

### Error Message

[code]

### Msal

[2021-05-02 04:26] peterfeng-hub commented on #3564
[](url)

[2021-05-02 14:05] BillyCottrell commented on #3424
My apologies for the late response, but didn't notice the update + the project was placed on hold for a long time. As a matter of fact I just started to look back into this and I have to mention that I kept the code for the cookies and session, I just integrated it with my API to make it work. I probably could have removed parts of it but didn't because I didn't want to mess with it. Any ways I'm

[2021-05-02 14:26] derisen commented on #3564
@peterfeng-hub can you confirm that the signed-in user has been added to any roles? To make sure, you can follow the guide: [Add app roles to your application and receive them in the token](https://docs.microsoft.com/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#assign-users-and-groups-to-roles). For a code sample, see [React SPA using App Roles](https://github.com/Azure-Samp

[2021-05-03 05:36] jakehockey10 opened #3566 "endless loop of acquireTokenSuccess when making call to b2c protected web api from angular app."
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.5

### Description

I have a Web API registered as well as an Angular app registered in B2C.  The API has a scope defined on it, and I've added the scope to my b2c-config.ts.  When I visit an `MsalGuard` protected angular route that initiates an

[2021-05-03 09:25] eluchsinger commented on #3530
Downgrading `@azure/msal-browser` to `2.13.1` stopped showing this behavior. I can't confirm it fixes everything, because I am now getting an other issue.

[2021-05-03 11:48] peterfeng-hub commented on #3564
Thanks @derisen for the instructions!
I inadvertently added the app roles to the backend resource api, as opposed to the client app, which explained why I couldn't find the roles information.

Also I found that the roles claim information exists in the `idToken`'s payload only. The `accessToken` 's payload does not have the roles information. Is it designed that way?

![image](https://user-images.

[2021-05-03 12:54] derisen commented on #3564
@peterfeng-hub no worries! Can you decode your access token over at [jwt.ms](https://jwt.ms/)? You should be seeing the roles claim in the decoded token.

[2021-05-03 13:11] peterfeng-hub commented on #3564
Thanks for the quick turnaround, @derisen .

Please see the decoded `accessToken`. I can't find roles claim in it. However if I decode the `idToken`, both 'roles' and 'groups' claims could be spotted.
![image](https://user-images.githubusercontent.com/58540075/116879904-dcb45180-ac53-11eb-8682-2e02af48318f.png)

[2021-05-03 13:32] derisen commented on #3564
@peterfeng-hub ah, my bad : ) The token you show is meant for MS Graph. You should check the token meant for your web API (`scp` claim will have your web API's scope and no other), provided that you assign users on your web API's app registration as shown below:

![step1](https://user-images.githubusercontent.com/13197548/116882149-f4022900-abd8-11eb-89da-a6ca832e44e9.png)
![step2](https://user-im

[2021-05-03 14:11] derisen commented on #3564
@peterfeng-hub just to make sure, you were on the right track here -roles should be added to both client and backend apps.

[2021-05-03 14:32] Bjego commented on #2600
Hey guys, I've implemented a proxy client:
proxyclient.js
[code]

and in my main:
[code]

[2021-05-03 14:41] dzoech opened #3567 "MsalModule.forRoot example code uses outdated parameters"
### Core Library

_No response_

### Wrapper Library

@azure/msal-angular

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/initialization.md#include-and-initialize-the-msal-module-in-your-app-module

### Description

Although the documentation indicates it is for V2, it doesn't use the update method signature for

[2021-05-03 14:48] peterfeng-hub commented on #3564
This is becoming interesting @derisen .

For the backend resource api, I have added a couple app roles to it and assigned those roles to the user that I use to sign in.

![image](https://user-images.githubusercontent.com/58540075/116891531-661e5080-ac61-11eb-8995-c709ae0251ef.png)

The `accessToken` would not have any roles claim after being decoded IF I do not specify any `scopes` using the `msal

[2021-05-03 15:20] derisen commented on #3564
@peterfeng-hub that's expected. You are requesting an access token for your web api during login (based on the `scopes` you pass). If you don't, you'll just get a AT for MS Graph (with default scopes openid etc). So the roles claim will appear only in ATs meant for your web api, not any other resource (`aud` and `scp` claims tells you which resource the AT is meant for). Just to mention, you can a

[2021-05-03 15:41] eluchsinger opened #3569 "MSAL Angular v2: Logout with ID Token"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.5

### Description

In Azure AD B2C, one can enable the option to require the ID Token for logouts. This option does not seem to be supported out of the box by the MSAL Angular (v2) wrapper.

Are there any plans to support this feature before co

[2021-05-03 17:02] jo-arroyo commented on #3567
@dzoech We are currently working on updating these docs. I will link the PR once it is up.

[2021-05-03 17:05] chanakya-1984 opened #3570 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress."
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beat-5

### Description

While trying to do a query for https://graph.microsoft.com/v1.0/me on component init it throws "BrowserAuthError: interaction_in_progress: Interaction is currently in progress." in redirect flow while pop-up flow works as exp

[2021-05-03 17:06] jo-arroyo commented on #3569
@eluchsinger `logoutPopup` and `logoutRedirect` on the MSAL Angular wrapper does support passing in an `EndSessionRequest`, which can include the `idTokenHint`. Have you tried passing in the ID token there? Or is your question how to get the ID token to be passed in?

[2021-05-03 18:13] hectormmg commented on #3562
Hi @ursmeier-mercatus . Could you provide some more context on how you are using msal on the client side? The Principal object you refer to is not something that MSAL JS deals with explicitly, so your issue is probably not coming from MSAL here.

[2021-05-03 18:18] jo-arroyo commented on #3570
@chanakya-1984 It looks like you are manually determining whether interaction is in progress. To determine whether an interaction is in progress, we recommend subscribing to the `inProgress$` observable. Please see our [error doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/errors.md#interaction_in_progress) for more information about t

[2021-05-03 18:19] hectormmg commented on #3565
Hi @jakehockey10 . I believe this is a duplicate of #3530 . I have a PR to fix this (#3557 ). Can you try the workaround I suggested in #3530 until we merge and release the fix? Thanks.

[2021-05-03 18:35] jo-arroyo commented on #3566
@jakehockey10 I'm going to try to reproduce this issue and get back to you. In the meantime, can you tell me how you're handling redirects?

[2021-05-03 19:02] hectormmg commented on #3503
@forellendev following up, did our sample help resolve your issue?

[2021-05-03 19:03] hectormmg commented on #3507
@Umbreonn have you been able to reproduce the issue with one of our samples?

[2021-05-03 19:04] ursmeier-mercatus commented on #3562
Thank you for having a look at this issue.
The principal object has nothing do to with MSal, however MSal is used for the authentication which then creates the principal object.

e.g.  the following call succeeds only if the user has successfully logged with MSal (Function App protected by Active Directory)

` updateOrganiatonTeamMember(organisationTeamMember: OrganisationTeamMemberType): Observab

[2021-05-03 19:16] hectormmg commented on #3492
Hi @aosyatnik ! As @jasonnutter suggests, your app needs to check if MSAL already has an account in the cache and block the login if that's the case. You can see our [account APIs' documentation here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#account-apis). Please let us know if this helps so we can close the issue!

[2021-05-03 19:19] hectormmg commented on #3525
@NewReactUser28 could you please let us know if the sample helped resolve your issue? Thanks.

[2021-05-03 19:30] chanakya-1984 commented on #3570
@jo-arroyo  nop. I don't think so unless i did something silly and unable to catch it. Just in case you are talking about "isRequestInProgress" that i am using to track my API call not the graph call. For this application what I have done is use the configuration (same is provided with the bug at **MSAL Configuration** ) setpup the MSAL_INSTANCE, HTTP_INTERCEPTORS and MSAL_INTERCEPTOR_CONFIG. afte

[2021-05-03 20:02] chanakya-1984 commented on #3570
here is link to produce the issue [stackblitz](https://angular-4a2z5h.stackblitz.io)

[2021-05-03 20:16] #3530 closed

[2021-05-03 21:25] jasonnutter commented on #3277
@Crio1979 Apologies for the delayed response. I am unable to reproduce this behavior using our Angular 11 sample: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/971e30f44c76b6c29546e80e69b3f881624808d8/samples/msal-angular-v2-samples/angular11-sample-app/tsconfig.json#L18

Are you able to reproduce this error with that sample? And if so, can you share details? Thanks!

[2021-05-03 21:27] jasonnutter commented on #3378
@Kumar-Aakash Please confirm you have a front-channel logout uri set, that the post logout redirect uri is also registered as a reply url for your app, and it is configured in MSAL. If you still do not get a post logout redirect, please share a Fiddler (email in profile). Thanks!

[2021-05-03 22:32] hectormmg commented on #3494
Hi @enaSo97 . I believe your issue is happening because of the way you are calling `instance.getActiveAccount`. You are passing the function reference instead of the actual account

Can you try adjusting your code to use parentheses in the getActiveAccount call and let me know if that solves your issue?

[code]

[2021-05-03 22:56] jo-arroyo commented on #3570
@chanakya-1984 Are you able to provide verbose logs?

[2021-05-03 23:28] jasonnutter commented on #3306
We have several samples that cover many of the basic scenarios (hash routing, path routing, etc), however, please note we cannot have samples for all scenarios (even all "basic" scenarios). We are working on providing documentation for scenarios that are not covered in samples.

This should be addressed in the last version.

I have not heard about this. Please file a separate issue with details if

[2021-05-04 00:00] jasonnutter commented on #3378
I'd also be interested if using the `/common` or `/organizations` authority makes a difference.

[2021-05-04 00:26] hectormmg commented on #3395
Hi @AyaanRanosys .

I've gone over your issue and I can't see anything wrong with your `msal` usage here. Here's the link to [Configure Azure AD B2C session behavior](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#configure-azure-ad-b2c-session-behavior). There's a lot of information there on how you can configure your application to handle sessio

[2021-05-04 00:28] olafwrieden commented on #3189
Any progress on this logic? Commenting to keep open.

[2021-05-04 00:57] hectormmg commented on #3367
@Gyalomalom I'm able to reproduce this behavior. I'll provide and update when we have a fix. Thanks!

[2021-05-04 04:54] chanakya-1984 commented on #3570
@jo-arroyo Below is the log events from MSAL logs. This also has been created using the same [Stackblitz ](https://angular-4a2z5h.stackblitz.io/)

[full-log-msal.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/6419050/full-log-msal.log)

[code]

[2021-05-04 07:17] aosyatnik commented on #3492
@hectormmg ok, yes, we can close the issue.

[2021-05-04 07:17] #3492 closed

[2021-05-04 07:45] eluchsinger commented on #3569
@jo-arroyo the question is how do I get the ID token to be passed in.

[2021-05-04 09:15] chanakya-1984 commented on #3570
as I had said in my pervious comment

this was the case. My apologies for the wasting your time. I will close this. Thanks a lot for your help and time on this.

[2021-05-04 09:15] #3570 closed

[2021-05-04 09:18] nilact opened #3574 "How to make user flow work as a query parameter?"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Description

I am using sample [here](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa) and trying to authenticate with Azure B2C AD wrapper. The endpoints in OpenID configuration are as below:

https://test.abc.com/OAuth/oauth2/v2.0/autho

[2021-05-04 10:05] brugh commented on #3179
@tnorling I should test that some more. I took the example  you mentioned and built the office addin around it but still ran into trouble when the app.component and app.router started. somewhere when idtokens and code's were returned the routing still went wrong (coming back to #code breaks routing and whatnot). not sure if there's something I missed but in all tests I still haven't found a way to

[2021-05-04 14:24] DiegoMouts opened #3575 "ClientAuthError: The client info AuthError.ts 26 could not be parsed/decoded correctly"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.6

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.4.6

### Description

React project using the libraries:
"msal": "^1.4.6",
"react-aad-msal": "^2.3.5",
![Captura de tela de 2021-05-04 11-04-18](https://user-images.githubusercontent.com/68430254/117018071-8df5ce80-acca-11eb-98e1-584b1039b158.png)

presents

[2021-05-04 16:02] tnorling commented on #3179
@brugh Yeah you'll need to add a #code route to your routing module like demonstrated in the [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts#L32).

Closing but please feel free to open a new issue if you continue to have issues getting this set up. Thanks!

[2021-05-04 16:02] #3179 closed

[2021-05-04 16:13] jjalonso opened #3577 "Change URL v2.0 endpoint."
### Core Library

@azure/msal or msal

### Core Library Version

2.14.01

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.2

### Description

Hi, Im new to ADFS and Microsoft authentication, I spent days reading and now im starting to setup some prototype.

The company where i work on have already a Microsoft ADFS system in place and its being used along all other a

[2021-05-04 16:14] jakehockey10 commented on #3566
@jo-arroyo thanks for the response!  I'm using the MsalRedirectComponent as follows:
![image](https://user-images.githubusercontent.com/1821383/117035064-22f3ca00-acc1-11eb-85b0-b8a05bf16a10.png)
![image](https://user-images.githubusercontent.com/1821383/117035172-3e5ed500-acc1-11eb-99d2-3d148523b688.png)

My angular router is configured like so (in app.module.ts):
![image](https://user-images.git

[2021-05-04 17:13] #3246 closed

[2021-05-04 17:24] jjalonso commented on #3434
same error.

[2021-05-04 19:17] jjalonso opened #3578 "Resource and state query parameters"
### Core Library

@azure/msal or msal

### Core Library Version

2.14.01

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.2

### Description

Hi guys, Im trying to integrate a SPA with a currently working ADFS system that the guys have in my company, I have no previous experience in microsoft authentication and im trying to read and learn.

I got this URL in some in

[2021-05-04 19:24] #3577 closed

[2021-05-04 21:19] hectormmg commented on #3578
Hi, @jjalonso. The `state` value you see on the URL generated by MSAL is a GUID that MSAL generates for each request. This `state` value is also returned in the `/token` response and it should match exactly when the server returns it. You can also add your own value for `state` to the token request, but it's not necessary since MSAL can generate a unique state for you.

Could you elaborate on what

[2021-05-04 21:23] jjalonso commented on #3578
Hi @hectormmg thanks for your reply, I was not able to do the full flow, but i just figured out that If I pass a different domain as redirectUri (the production one) it doesnt fail, but if I pass localhost it fail, it is because need to be whitelisted on the server guys?

[2021-05-04 21:29] hectormmg commented on #3578
Yes, the redirect URI has to be registered on the B2C App registration. You can check [this tutorial](https://stackoverflow.microsoft.com/questions/256879) out for more information. Let us know if this solves your issue!

[2021-05-04 21:41] hectormmg commented on #3578
Hi @jjalonso yes. The redirect URI has to be registered on the app registration. Adding `http:localhost:3000` as a "Web" type reply/redirect URI should solve your issue. Please let us know if it does!

[2021-05-05 00:36] #3439 closed

[2021-05-05 00:36] #3428 closed

[2021-05-05 00:37] #3407 closed

[2021-05-05 00:37] #3403 closed

[2021-05-05 00:37] #3381 closed

[2021-05-05 00:37] #3280 closed

[2021-05-05 00:40] kushalwaikar opened #3581 "[msal-angular 1.1.2]: ClientAuthError: Error: could not resolve endpoints. Please check network and try again. Details: QuotaExceededError: Failed to execute 'setItem' on 'Storage'"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.2

### Description

**Symptoms:**
If end user never logs out of the app and continues to use _Angular v10.2_ app for several days, msal-angular library keeps adding `msal.*` entries to _localstorage_ and at one point since _localstorage_ exceeds its ava

[2021-05-05 07:13] decpio opened #3582 "acquireTokenByUsernamePassword won't work because client_secret is missing"
### Core Library

@azure/msal-node

### Core Library Version

1.0.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

new PublicClientApplication(msalConfig).acquireTokenByUsernamePassword(...) can't get acces_token succesfully because authority service required client_secret, which is not possible to pass.

I know that 'acquireTokenByUsernamePassword' is not

[2021-05-05 10:02] nilact commented on #3574
Nobody has any idea or did I ask the wrong question?

[2021-05-05 11:15] luismiguelprs opened #3583 "How to let user edit profile?"
### Core Library

@azure/msal-browser

### Core Library Version

2.14.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.4

### Description

I'm trying to let user edit their profile in my application, but the only function that takes the user to edit profile page is the "loginRedirect" or "loginPopup". The problem is that, when I use that functions and the user c

[2021-05-05 15:21] jasonnutter commented on #3581
@kushalwaikar Can you please provide more details on which specific `msal.` entries you see?

[2021-05-05 16:13] jp185357 commented on #3582
I'm having this identical issue with msal-react

[2021-05-05 18:26] hectormmg commented on #3574
HI @nilact . Could you please clarify on why you want to skip the call to the OIDC configuration endpoint? As long as you are setting the authority to the right policy, you don't need to add the policy to the extra query parameters.

[2021-05-05 19:19] kushalwaikar commented on #3581
@jasonnutter Following are the entries for all the `msal.*` keys in _localstorage_. Please note that I have masked _TenantId, ClientIds, Keys_ and _ScopeIds_.

`msal.<ClientId>.acquireTokenAccount|<SomeKey>|ee903468-dc55-44cd-b287-3ef289864f3e`
`msal.<ClientId>.state.acquireToken|7c1db28a-e50c-4c72-9b0c-93af91a5ad9e`
`msal.<ClientId>.nonce.idtoken|945a7e4c-459b-4b3c-8657-eed324c39793`
`msal.author

[2021-05-05 20:07] svrooij commented on #3569
Isn’t it available in `this.msal.instance.getAccounts()[0]`?

[2021-05-05 20:13] svrooij commented on #3566
Both the MsalInterceptor and the MsalGuard are capable of getting an access token.

Are you loading stuff in the constructor? That might cause an issue. Can you try to move the loading of data to the ngOnInit method?

[2021-05-05 20:19] svrooij commented on #3525
@jasonnutter it would however be very nice if the sso in teams could somehow be integrated in MSAL-angular, but that might be a completely new issue.

[2021-05-05 20:24] jasonnutter commented on #3416
Closing, as this is addressed in v2.

[2021-05-05 20:24] #3416 closed

[2021-05-05 22:45] hectormmg commented on #3367
@Gyalomalom I have a fix for this issue in #3587 . If you could try pulling the branch locally and testing to see if the problem is solved for you, we'd really appreciate it. Thanks!

[2021-05-05 22:53] jakehockey10 commented on #3566
They definitely seem capable of getting the access token. I keep seeing token acquisition was successful messages. This is when navigating to a protected route after the app has been loaded and bootstrapped already

[2021-05-05 23:36] jo-arroyo commented on #3566
@jakehockey10 Thanks for the redirect information, that was indeed what I was looking for. However, I've been unable to reproduce this behavior, based on your code examples above. Are you able to reproduce this looping in one of our [sample apps](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples)?

[2021-05-05 23:37] jakehockey10 commented on #3566
I'll try and let you know.  Thank you for spending the time looking into it.  I'll keep you posted.

[2021-05-06 00:36] #3451 closed

[2021-05-06 04:18] nilact commented on #3574
@hectormmg

I don't want to skip the call to OIDC configuration if msal.js doesn't append "?" to the URL if it already exists. Can I control that behavior? If not, can I provide metadata details myself rather than MSAL.js hitting the discovery (OIDC configuration endpoint) and screw it up?

I want to ensure that if the OIDC configuration endpoint contains URL with a query string, MSAL.js should no

[2021-05-06 08:16] eluchsinger commented on #3569
@svrooij  I guess I need the JWT, but in `this.msal.instance.getAccounts()[0]` I have got the claims.

[code]

[2021-05-06 08:28] svrooij commented on #3569
We are using this code to logout, and it picks up the id token in the logout request (I always assumed at least):

[code]

[2021-05-06 08:35] eluchsinger commented on #3569
To be honest, the only thing I see the `account` parameter doing is setting the account to `null` (you set it to `undefined`).

I don't see anything to do with `idToken` in the code here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/b4cda68b9c2708976e2b794c71344a8b9dfdd627/lib/msal-browser/src/app/ClientApplication.ts#L686

[2021-05-06 08:41] ozkoidi commented on #1665
@jo-arroyo any news on this? I'm using msal-angular 2.0.0-beta.5 and msal-browser 2.14.1 and **sometimes** I get an error because the MSAL initialization starts before `APP_INITIALIZER ` finishes reading the JSON configuration file:

![image](https://user-images.githubusercontent.com/42638799/117265899-0092b580-ae55-11eb-8cc8-58e10e39b68f.png)

My project uses `PathLocationStrategy`(like the [angu

[2021-05-06 08:46] eluchsinger opened #3590 "Logout Redirection issue"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.5

### Description

There is a mismatch about what the documentation says about the post logout redirection and what actually happens. I will try to elaborate. The documentation can be found [here](https://github.com/

[2021-05-06 09:24] matteocusinato opened #3591 "Msal Guard doesn't let me browse after redirect"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.5

### Description

Hi, I am using the b2c version of azure @ msal-angular. When I updated to version 2.0.0-beta.5 I noticed that after the redirect (after login) it no longer navigates to the desired component and it

[2021-05-06 11:08] svrooij commented on #3569
Sorry I might have assumed incorrectly that it would use that information to do something to the logout request.

If you really want the ID token that was used for authentication, they are stored in the **Local Storage** under the key `<user-id>.<tenant-id>-login.windows.net-idtoken-<app-id>` which should contain an object where the `secret` property has the identity token.

But this is completely

[2021-05-06 11:35] eluchsinger commented on #3569
@svrooij  exactly. I guess I could also use the `acquireTokenSilent`, but I would have to replicate lots of code from the Angular Wrapper to call it.

[2021-05-06 11:39] eluchsinger commented on #3591
This is probably a duplicate of: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3530

[2021-05-06 12:10] jjalonso commented on #3578
thanks @hectormmg

Since adding localhost appear not to be a valid option at the moment (security) i tried to start playing using a valid redirect url despite the library (msal) is not there to collect the code,

but after succesfullly login i see the redirect was called with: (I have modified to token for security reasons)
`
https://my.adfs.server.com/oauth2/callback#code=nnciR-rgXUWXmaaD200oog.G

[2021-05-06 12:59] matteocusinato commented on #3591
Close as of duplicate of: #3530

[2021-05-06 12:59] #3591 closed

[2021-05-06 16:13] forellendev commented on #3503
@hectormmg Unfortunately I still get `interaction_in_progress`, despite following the sample.

[2021-05-06 16:37] hectormmg commented on #3578
That is the auth code, MSAL will use it to obtain a token after the redirect.

[2021-05-06 18:25] jo-arroyo commented on #3569
@eluchsinger Thanks for your patience. `acquireTokenSilent` is our recommendation for getting tokens to use in requests. Please see an example below:
[code]
The point is calling `acquireTokenSilent` and then using the result to call `logoutPopup` or `logoutRedirect` with the idToken. As the most recent version of msal-common has not been released yet, with the fix for #3530, I've included lines th

[2021-05-06 18:31] svrooij commented on #3569
@jo-arroyo removed my suggestion, but wouldn't it be nice if you can just add the `account` to the logout request and have it automatically add the Id token (if existing) to the logout request.

That was what I was expecting to happen to begin with.

[2021-05-06 19:26] jasonnutter commented on #3581
@kushalwaikar It looks like these are temporary cache values for requests, are these requests failing?

Note, as a mitigation, you can try refreshing the page if you get this error, as MSAL should clear temporary storage on page load (if there isn't a hash in the url).

[2021-05-06 19:33] hectormmg commented on #3575
Hi @DiegoMouts .

Could you elaborate on how to reproduce the issue? Does this only happen immediately after a user changes their password? Or does it persist for future authentication?

[2021-05-06 21:52] kushalwaikar commented on #3581
@jasonnutter I checked error logs for 10-20 guids from above _localstorage_ snapshot and I do not see them there. It means those requests were not failing. As per your recommendation, I tried refreshing the page (without hash in URL) but that does not clear temporary storage used by `msal.*`. Does _msal-angular_ send log message in case of temporary storage cleanup? If yes, I should be able to see

[2021-05-06 22:37] anderskitson opened #3600 "Login and token requests are not supported in non-browser environments."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am trying to check if a user is signed in first via a silent request, if they are not signed in I want them to be automatically redirected to the login user flow I have set up. I am able to get a login flow to work with `ms

[2021-05-06 22:39] hectormmg commented on #3590
Hi @eluchsinger

1. The reason the popup is closing even if you don't set the `postLogoutRedirectUri` in the token request configuration may be that you have it configured in the MSAL Client configuration (so MSAL is still adding it to the request). What the doc means is that the server requires a `postLogoutReidrectUri` because otherwise it won't know where to redirect the browser to. For that re

[2021-05-06 23:07] hectormmg commented on #3583
Hi @luismiguelprs

Could you please provide your MSAL configuration and the code snippet from where you are using the MSAL APIs and configuring the login requests?

Also, what do you mean by "the only function that takes the user to edit profile page"?

Thanks.

[2021-05-07 01:25] #3472 closed

[2021-05-07 01:26] #3151 closed

[2021-05-07 04:13] AyaanRanosys commented on #3395
Hi @hectormmg

Thanks for your response.

The link you have provided to understand Azure AD B2C session behavior configuration has really helped me to understand the required configuration. I  am able to resolve the issue after going through the same. I was using wrong **SessionExpiryType** as **Absolute** which was creating the problem. Changes it to **Rolling** has fixed the issue.

Thanks again

[2021-05-07 04:14] #3395 closed

[2021-05-07 07:38] aosyatnik opened #3603 "MSAL v2 b2c: edit profile not working"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.5

### Description

Thanks for all your hard work for V2!

I'm testing this demo app: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample

#

[2021-05-07 07:55] eluchsinger commented on #3590
Hi @hectormmg
I guess you mean the `environment.FrontendBaseUrl` variable in the MSAL Configuration. The value there is `https://localhost:3000`.   That should not be causing the the `/logout`  redirection.

[2021-05-07 08:05] eluchsinger commented on #3569
@jo-arroyo That's what I meant in my problem description.

The code you posted is only handling the `logoutRedirect` and not the `logoutPopup`. If I want to support both or want to switch from one to the other, the code grows a lot. Hence my question if there is anything planned regarding support for the ID Token out of the box. Actually, what @svrooij  said might be an option or it should be as e

[2021-05-07 08:40] samuelkubai commented on #3498
@RandScullard the extensions are not meant to be used concurrently by more than I'd say 5-10 processes. The scenario they are built for are for desktop clients only, not web apps and thus it is not expected that 100 processes would try to use extensions concurrently.

[2021-05-07 09:32] sschimpf opened #3604 "CORS Error with Azure AD Application Proxy"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.1.12

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

Hi!

I'm currently trying to set up a project with the following setup:

- Angular App packaged with Capacitor as an iPad App

- Backend behind an Azure AD Application Proxy

Login with MSAL works, the ap

[2021-05-07 10:37] DiegoMouts commented on #3575
The error persists, it was solved by cleaning the local storage.

[2021-05-07 10:42] luismiguelprs commented on #3583
Hi @hectormmg,

I've updated my questions with information you've requested.
When I say "the only function that takes the user to edit profile page", I would say that I've expected to have a method on the client to call the edit profile flow (for example: client.editProfileRedirect()).
That code of my sniped is executing after user was logged in, and, in this case, the user is take to edit profile

[2021-05-07 15:18] RandScullard commented on #3498
@samuelkubai Thanks for that clarification. Thinking about your comment, I realized that for my Artillery use case I don't actually need a file cache for MSAL since everything is running in a single process. So I have worked around this issue by removing the cache, and it seems to work fine with large numbers of concurrent virtual users.

[2021-05-07 15:40] derisen opened #3605 "Can't obtain signed v2 access token for PoP"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-beta.1

### Description

This looks like an issue with the STS -hoping to understand and track it here.

I'm trying to specify the version of access tokens issued by AAD. v1 access tokens have the necessary `cnf` claim, but it

[2021-05-07 17:06] anderskitson commented on #3600
Yes the resolves my question, thanks.

And just for anyone out there this worked for using the `msal-browser` package. I would like to use the React one, but waiting for it to come out of beta.

[code]

[2021-05-07 17:17] hectormmg commented on #3600
Thanks for posting the workaround! Glad it worked!

[2021-05-07 17:17] #3600 closed

[2021-05-07 17:23] hectormmg commented on #3605
@derisen can you inspect the requests being made to ESTS and see if the /token request has a property called req_cnf? I think it's likely that that the token being returned isn't a POP token because the req_cnf isn't being sent. Also, could you try upgrading the msal-browser version and see if the problem persists? We 've been shipping updates/enhancements to POP since I 2.14 I believe. Thanks for

[2021-05-07 17:30] jo-arroyo commented on #3569
@svrooij @eluchsinger Thanks for your input and suggestions. We do not have any plans to make changes to the logout APIs currently, but we can look into exposing the idToken on the account object in the future.

[2021-05-07 17:43] anderskitson opened #3606 "ClientAuthError: no_tokens_found"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am running a silent request on one page called `login` that is redirecting to Azure login correctly then I am redirected to a page called `auth-verify` this is where my code fails, I basically have the same silent request i

[2021-05-07 18:36] hectormmg commented on #3575
And after clearing localStorage, have you seen the error again?

[2021-05-07 18:54] hectormmg commented on #3582
Hi @decpio. By any chance, do you have a Web redirect URI in your app registration? If so, the app registration will assume that yours is a Confidential Client, which is why AAD requires a client secret (which a Public Client does not have). If you could elaborate on where your application is running (web server, SPA, desktop/native app) it would help give you a better answer of how to better deal

[2021-05-07 19:31] anderskitson commented on #3606
I have tried some new code with awaiting the `handleRedirectPromise()` As seen below.

What is happening is the login page redirects to azure, I am taken to the auth-verify page and then auth verify redirects to login, and then login redirects to auth-verify. So it's stuck in a loop. Why may this be?

thanks

Login Page

[code]

Auth Verify page

[code]

[2021-05-07 20:02] danishuahmad opened #3607 "getAccessTokenSilent hits openid-configuration endpoint every time instead of using cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,

My application calls `getAccessTokenSilent` at several places and it creates a cluster of ` .../v2.0/.well-known/openid-configuration` request which also affects the overall performance of my application.

Is there an

[2021-05-07 20:09] tnorling commented on #3606
@anderskitson I would recommend reading through [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#i-dont-understand-the-redirect-flow-how-does-the-handleredirectpromise-function-work). `handleRedirectPromise` will, by default, redirect back to the page that started the auth flow, in your case, the login page. If this is undesired you should

[2021-05-07 20:09] derisen commented on #3605
Ok, upgraded to msal-browser 2.14.1, msal-react 1.0.0-beta.2.
Set `accessTokenAcceptedVersion` to 2

**Request:**

[code]

[code]

**Response:**

[code]

[code]

Looks like the access token issued just doesn't have the `cnf` claim.

[2021-05-07 20:17] anderskitson commented on #3606
Perfect thank you, I will try those things and report back.

[2021-05-07 20:26] anderskitson commented on #3606
I solved it with your suggestions, and ended up using the code approach below in both pages.

Lastly I am still getting the 400 error and have added the knowAuthorities. Maybe I have the wrong url, I used the URL in Azure dashboard AD B2C right below it so `app.onmicrosoft.com` for example. Should I be looking for the known Authorities somewhere else?

[code]

[2021-05-07 20:29] tnorling commented on #3606
@anderskitson Should be the first part of whatever your authority url is. Usually the authority is in the form: `https://yourDomain.b2clogin.com/yourDomain.onmicrosoft.com/sign_in_policy` so knownAuthorities in this case would be `["yourDomain.b2clogin.com"]`

[2021-05-07 20:36] #3606 closed

[2021-05-07 21:46] hectormmg commented on #3583
@luismiguelprs I think I understand now.

Given that MSAL has to support multiple authentication services, there aren't any B2C specific APIs (such as `ClientApplication.editProfileRedirect()`). Using the login and acquireToken APIs for these use cases is the right approach. As to the duplicate accounts after a user changes their profile information, we'll take a look and see if we can reproduce t

[2021-05-09 13:40] #3564 closed

[2021-05-09 17:59] diberry opened #3611 "AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.12.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-beta.0

### Description

I believe the ability to debug run and debug the react app with MSAL react and browser needs more documentation. When I run the react app and try to login, I get this error because I have my launch.jso

[2021-05-10 06:15] clivecham opened #3612 "Can MSAL JS accept id-token issued from another application with a different client-id?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am using Azure B2C.
I have an application A using MSAL JS 2.0. Application B is using implicit grant flow with Custom policy and the authentication is handle on the server side. My use case is if there is a way to SSO the user

[2021-05-10 10:12] emepetres opened #3614 "Angular POST oauth2/v2.0/token 400 (Bad Request)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

msal-browser 2.x

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.5

### Description

I'm trying to make a POST request to an AzureML endpoint in a tenant different than the clientId tenant. The token aquisition seems to be wrong as it tries to aquire it __by POST__, retur

[2021-05-10 11:39] DiegoMouts commented on #3575
No, the error happens when you change the password.
After cleaning the localstorage, there are no errors.

[2021-05-10 14:20] ghost opened #3616 "InteractionType Redirect results in loop"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-beta.2

### Description

When using react-msal in combination with nextjs 10.1.3 a redirection loop happens when a user logs in using the InteractionType Redirect.
When I add an event handler and just log the event I notice ms

[2021-05-10 16:05] mrs-eload opened #3660 "With Azure B2C App setting isB2C to true returns 401 response but not when it's false"
Using Azure B2C application to test authentication I used the following configuration with OIDCStrategy.
Being in a NestJS application I also use @nestjs/passport as passport wrapper.
passport-azure-ad version : `4.3.0`

[code]

This configuration always returns the following

[code]

After playing around with B2C for a while, it appears that setting `isB2C` to `false` is properly authenticating m

[2021-05-10 16:12] TimFrancois commented on #3616
Ok, I got it fixed.

It wasn't a problem with msal-react.
I'm using `next-pwa` and i had to disable dynamicStartUrl within the pwa configuration by setting:
[code]

[2021-05-10 16:12] #3616 closed, assigned to nobody

[2021-05-10 17:57] tnorling commented on #3590
@eluchsinger This was in reference to your first question about why the popup still closes despite not including `postLogoutRedirectUri` on the request object.

`postLogoutRedirectUri` -> navigated to in the popup window
`mainWindowRedirectUri` -> navigated to in the main window

Can you please provide logs and/or a link to a minimal reproduction? The main window should not be redirecting at all i

[2021-05-10 18:01] tnorling commented on #3556
Closing as the question was answered. Please feel free to open a new issue if you have further questions. Thanks!

[2021-05-10 18:01] #3556 closed

[2021-05-10 18:08] #2726 closed

[2021-05-10 18:10] tnorling commented on #3154
Closing as this issue is regarding a library we don't own. Please open a new issue if you have further questions. Thanks!

[2021-05-10 18:10] #3154 closed

[2021-05-10 18:30] tnorling commented on #3607
@danishuahmad The openid-configuration metadata should be saved in-memory on the `PublicClientApplication` instance. There are a couple reasons you may see multiple calls to this endpoint:

1. You're making several concurrent requests before the metadata has been cached
2. You're re-instantiating `PublicClientApplication` between token calls
3. Each token call uses a different authority (will caus

[2021-05-10 19:55] #3367 closed

[2021-05-10 20:05] Gyalomalom commented on #3367
@hectormmg Sorry, I didn't see your comment. So the fix was merged into the main branch?

[2021-05-10 20:16] #3210 closed

[2021-05-10 22:13] #3540 closed

[2021-05-11 04:09] Upamanyu2 opened #3619 "Authentication with msal-node working in incognito only"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.0.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0.0

### Description

I am using msal-node in server side code for authentication. My node version is 12.13.1. Using msal-node I am getting the access token to call the graph api. Everything works fine in incognito mode. But in the normal browsing mod

[2021-05-11 05:08] nilact commented on #3574
@tnorling @hectormmg

As this is tagged as a bug now, will this be fixed anytime soon?

[2021-05-11 05:19] jo-arroyo commented on #3614
@emepetres Can you confirm which endpoint is throwing the bad request error and what scopes you are sending for that endpoint?

[2021-05-11 16:17] jo-arroyo commented on #3619
@Upamanyu2 Is there any chance you could provide us with a Fiddler trace? Additionally, is there a reason you are clearing cookies before redirecting?

[2021-05-11 16:23] jo-arroyo commented on #3612
@clivecham MSAL does not expose a function to set the idToken. IdTokens should be for a specific audience, and apps cannot share idTokens.

[2021-05-11 21:09] roopeshreddy opened #3621 "Redirect URL is converted to lowercase"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta5

### Description

Let's say the app url is - **http://abc.com/PROJECT/P1555**. If we trigger authentication, after successfully authenticated, the url is coming in lowercase - **http://abc.com/project/p1555**

### Er

[2021-05-11 23:15] madmaxlax opened #3622 "Need a way to catch redirect errors when not using MsalAuthenticationTemplate"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-beta.1

### Description

Hi

I am trying to set up my React SPA to allow for unauthenticated routes (for now, just a page with a login button) as well as authenticated routes (most of the routes, once user is logged in).
becau

[2021-05-11 23:23] tnorling commented on #3622
@madmaxlax You can use the [event API](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/events.md) for this. You'll want to filter on the `LOGIN_FAILURE` and/or `ACQUIRE_TOKEN_FAILURE` events.

[2021-05-12 01:00] #3485 closed

[2021-05-12 03:40] Upamanyu2 commented on #3619
I am getting an auth code in normal browsing mode, but that auth code is not going inside app.get('/redirect') api in my code. While in incognito I am getting an auth code which is going inside the app.get('/redirect') API.

[2021-05-12 07:36] pradeepKaatnam opened #3624 "Can `protectedResourceMap` of MSALInterceptor be updated after application start up?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

^1.1.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

I have a scenario where some of the endpoints will come from a protected backend api. So from client, I should be calling the backend api which is protected by making use of MSALInterceptor and have to upd

[2021-05-12 09:50] emepetres commented on #3614
Thanks @jo-arroyo for answering.

Regarding your first question, the failing endpoint is `https://westeurope.api.azureml.ms/pipelines/v1.0/subscriptions/a9e872a5-7096-47ea-ba33-94ed364c2fcc/resourceGroups/VirtualStage/providers/Microsoft.MachineLearningServices/workspaces/virtualstage/PipelineRuns/PipelineEndpointSubmit/Id/76f08f87-56ce-442b-8f96-eaa9def90326`, an AzureML endpoints that doesn't ha

[2021-05-12 13:55] roopeshreddy commented on #3621
I know the URL's shouldn't be case-sensitive, but one of the apps, they need the few URL PARAMS to be in uppercase.

[2021-05-12 15:27] madmaxlax commented on #3622
wonderful, that worked
thank you so much for the response! might i suggest adding something around this to the newer msal-react or msal-browser docs specifically around error handling? ie:

code sample in case anyone comes across this and finds it helpful later:

[code]

[2021-05-12 15:27] #3622 closed

[2021-05-12 15:49] jasonnutter commented on #3621
@roopeshreddy Thanks, we'll look at fixing this.

[2021-05-12 18:15] jasonnutter commented on #3621
@roopeshreddy I'm not able to reproduce this issue. To clarify, it isn't the redirect uri that is being lowercased (which you have set to `http://localhost:4200`), but rather the page you were originally on (`http://abc.com/PROJECT/P1555`). I think the changes in #3625 may fix this, so if you can try that branch and let me know, that'd be helpful (I can create a tarball build if you can build from

[2021-05-12 18:25] derisen commented on #3614
@emepetres the [documentation on accessing your ML workspace](https://github.com/microsoft/MLOps/blob/master/examples/AzureML-REST-API/workspace.md) suggests that the resource and scope you need to obtain an access token for is the [Azure Resource Manager API](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview). In that case the resource is `https://management.azure.

[2021-05-12 18:35] derisen commented on #3612
@clivecham may I ask why you need to validate the ID token or what is your goal here? As far as I know Azure B2C service does not offer a token validation endpoint.

When you receive an ID token directly from the IdP on a secure channel (e.g. HTTPS), there’s no need to validate the signature. If you were to do it, you would validate it by asking the same server that gave you the ID token to give y

[2021-05-12 18:44] emepetres commented on #3614
Thank you @derisen , it does help. Actually I had previously tested what you suggested and it is working, however I was thinking that maybe I was using the library wrong and I hoped that I could use the interceptor to call the AzureML endpoint instead of doing it in a more "manual" way.

Not being that the case, I'll close the issue then, thanks again!

[2021-05-12 18:44] #3614 closed

[2021-05-12 19:04] derisen commented on #3614
@emepetres cheers! I'm afraid to use the interceptor you'll have to setup a proxy endpoint that does a service to service call to that specific server. Then the `protectedResourceMap.set[ "/path/to/proxy", [ "https://management.azure.com/user_impersonation"] ]` would have worked.

The docs also mention using [client credentials](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oa

[2021-05-12 20:48] jeffj6123 opened #3632 "Moving from adal and requiring admin approval now"
### Core Library

ADAL.js (adal.js)

### Core Library Version

1.0.18

### Wrapper Library

ADAL Angular (adal-angular)

### Wrapper Library Version

1.0.18

### Description

Having upgraded an angularjs application to angular 11, we previously were using adal to handle authentication.
I wanted to move to msal but it appears there are additional permissions being requested now.
This isnt ideal bec

[2021-05-12 22:41] jo-arroyo commented on #3624
@pradeepKaatnam While we have not provided specific methods in msal-angular to directly update the `protectedResourceMap`, this shouldn't be a problem. The easiest way is to provide the configuration options via factory providers, and write your own function to update the `protectedResourceMap`. The docs on configuring via factory providers can be found [here](https://github.com/AzureAD/microsoft-

[2021-05-12 23:28] jo-arroyo commented on #3619
@Upamanyu2 We will try reproducing this behavior in our samples. In the meantime, can you tell us why your code is dependent on cookie states, and not following the pattern of our samples?

[2021-05-13 03:59] uberchris2 opened #3633 "ProtectedResourceMap not matching properly for B2C auth"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.5

### Description

When I use a somewhat specific key in my protectedResourceMap (such as "https://maintenance-tracker-api.azurewebsites.net/*" or even "https://maintenance-tracker-api.azurewebsites.net/api/vehicles"

[2021-05-13 04:36] clivecham commented on #3612
@derisen I have multiple apps, each with its own domain name. When a user login to one of these apps and subsequently navigates to another app, instead of redirecting to Azure B2C server to check if user is already login and issue an id-token, I wanted to pass the id-token of the first app to the second app to avoid the redirect. To add on a layer of security, I wanted to validate the id-token rec

[2021-05-13 05:06] Upamanyu2 commented on #3619
@jo-arroyo I chose to store the user specific info into the browser cookie- to manage multiple user in a server. OAuth 2.0 remembers the signed in user once he is signed in. So I used a cookie to fetch the present user details from MSAL cache, and maintain the SSO for the user.

[2021-05-13 05:19] Upamanyu2 commented on #3619
While in incognito it is allowing me to login
![image](https://user-images.githubusercontent.com/42129903/118081376-dc951e00-b3d8-11eb-8962-792951d27b12.png)
But in normal browsing mode(specially in Microsoft Edge)
![image](https://user-images.githubusercontent.com/42129903/118081301-b2436080-b3d8-11eb-9435-b4b6b98cf6d3.png)

[2021-05-13 06:33] decpio commented on #3582
Hi,

SOLUTION
to deal with that issue you have to check one option:

Microsoft_AAD_RegisteredApps -> yours app -> Authentication -> Advanced settings -> Allow public client flows -> Enable the following mobile and desktop flows: YES

After that it works.

Returned error message is strange and not helping with that situation.

[2021-05-13 06:33] #3582 closed

[2021-05-13 11:04] luismiguelprs commented on #3583
@hectormmg just to let it open...

[2021-05-13 16:42] mdarefull commented on #3306
@jasonnutter: I'm all for collaborating to improve this great library. I'm currently very short on time but I have scheduled to check the newest modifications to the library and update our projects, just wait for couple days and I would provide one (or many) simple projects highlighting each issue I encounter.

Personally, I think the more projects adhere to the recommended configurations the best

[2021-05-13 17:31] #3567 closed

[2021-05-13 18:16] roopeshreddy commented on #3621
@jasonnutter I've tried it with the newer version **@azure/msal-browser v2.14.2**. Now it's always redirecting to the default route after authentication.

Let's say, the authentication is triggered from this path -` http://abc.com/PROJECT/P1555`, after successful authentication, it's redirecting to `path: ''` (default route) instead of ` http://abc.com/PROJECT/P1555`

[2021-05-13 19:55] pim3nt3l commented on #3633
What's the error are you getting at the browser console?

[2021-05-13 19:58] uberchris2 commented on #3633
As mentioned, the error is an unexpected 302 from the API due to the missing Authorization header.

[2021-05-13 20:13] pim3nt3l commented on #3633
I'm using a custom httpInterceptor like this

`constructor(
    @Inject(MSAL_INTERCEPTOR_CONFIG)
    private msalInterceptorConfig: MsalInterceptorConfiguration,
    private authService: MsalService
  ) {}

  intercept(
    req: HttpRequest<any>,
    next: HttpHandler
  ): Observable<HttpEvent<any>> {
    let account: AccountInfo;
    if (!!this.authService.instance.getActiveAccount()) {
      acc

[2021-05-13 20:26] derisen commented on #3612
@clivecham I see. Have you considered the [single-sign on](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow) (with msal's [ssoSilent](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#silent-login-with-ssosilent)) and [keep me signed in](https://docs.microsoft.com/en-us/azure/active-direc

[2021-05-13 21:10] Turbocarte opened #3637 "AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.1.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm using the auth-code-pkce sample for a nodejs app. I registered the app in our Azure AD tenant (with the appropriate administrator grant).

### Error Message

{"errorCode":"invalid_request","errorMessage":"9002327 - [2021-05-13

[2021-05-13 21:20] jo-arroyo commented on #3633
@uberchris2 Is there any chance your app is using relative paths? We have seen some customers who needed to add relative endpoints to the protectedResourceMap instead. Are you also able to provide a code snippet from when you call the API endpoint in a component?

[2021-05-13 21:32] uberchris2 commented on #3633
@jo-arroyo Sure, here is an example API call; pretty basic stuff.
`  getAll(): Observable<Vehicle[]> {
    return this.http.get<Vehicle[]>('api/vehicles');
  }`

  Here is the complete codebase on a branch with the issue: https://github.com/uberchris2/maintenance-tracker/tree/auth-update

[2021-05-13 22:43] derisen commented on #3637
@Turbocarte this is an issue with registration settings. On the **Authentication** blade, please remove the **Single-Page Application** platform, and add "Mobile and desktop applications". Can you give this a try and let me know?

I realize that app registration with msal-node PKCE is not clear. I'll get this documented.

[2021-05-13 23:20] jo-arroyo commented on #3632
@jeffj6123 thanks for your question. We're currently investigating this and will get back to you with a response.

[2021-05-13 23:34] jeffj6123 commented on #3632
@jo-arroyo after talking around my team trying to get more information I was pointed out to this In our docs here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad#create-azure-ad-applications-and-assign-users-to-roles
Specifically
"You are prompted to sign in to an account that has administrative privileges for the Azure AD tenant. After you sign in,

[2021-05-13 23:55] jo-arroyo commented on #3619
@Upamanyu2 From your photos attached, it looks like the authorize call to AAD is working and it is signing in to the server, but the browser is unable to find your node server in non-incognito. We have not been able to reproduce this behavior in our samples with your code snippet. Is there a chance that there are caching issues with your app or other cache entries that may be interfering? There ma

[2021-05-14 11:43] Turbocarte commented on #3637
Hi @derisen. Thank you for the quick response. Generally, when we hear about nodejs, it's about a web server backend. In my case, it's a straigth forward console app.
I'm gonna try your solution in the morning and give you feedback  as fast as possible.
Again, thank you.

[2021-05-14 13:22] emepetres commented on #3614
Yes, indeed using client/secret credentials would be much easier, but I understand it should only be used in a backend environment.

In this particular case I wanted to know, out of curiosity, what would be the best way to connect to the AzureML endpoint from a pure client environment, without needing a server.

Thanks @derisen for your insights :)

[2021-05-14 13:31] Turbocarte commented on #3637
Thank you @derisen. It's now working.
As a side question, isn't the authentication flow with PKCE more secure than the Oauth 'Bearer' strategy used in the msal-browser template?
Again, thank you for the fast reply.

[2021-05-14 13:31] #3637 closed

[2021-05-14 15:26] derisen commented on #3637
@Turbocarte can you mention which msal-browser template is that? PKCE vs. oauth bearer is a bit like apples vs oranges. PKCE is a method that allows you to securely acquire tokens for your client (for public clients where a client secret or certificate cannot be stored without exposing it to public); bearer strategy is a method for authenticating/authorizing a request (mostly by service or resourc

[2021-05-14 15:27] nilact opened #3638 "Hash value cannot be processed because it is empty."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I raised [an issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3574) that MSAL.js v2.0 adds "?" even if one is present in the URL. That issue is now resolved with version 2.14.2.

Now with versi

[2021-05-14 15:55] Turbocarte commented on #3637
I get that you can't use them interchangeably. Thank you.

[2021-05-16 04:14] vanpyrzericj opened #3639 "aquireTokenSilent with forceRefresh is not pulling new token w/ updated claims (custom attribute)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Unable to force a new access token to be retrieved with updated claims (custom attribute was added by backend server via Graph API). It is just using the cached token, despite setting force refresh in the `aquireTokenSilent`

[2021-05-16 20:00] danquah commented on #3464
Yeah, I think I got some things mixed around here. My idea was that I want to avoid having the SPA touch the bearer-token at all. Something like this can be archived by either allowing the SPA to have access to the token for an instant, where it then immediately calls a "please store this for me" endpoint on the API which then replies with a response that sets a HttpOnly cookie with the token. Or,

[2021-05-17 09:49] JuanGarciaCarmona opened #3640 "Angular SSR: ReferenceError - window is not defined"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.2

### Description

We are using MsalGuard to protect certain routes, as always, and we have noticed that this routes are broken in production due to SSR. Our error points directly to MsalGuard.ActivateHelper.

Taking

[2021-05-17 12:32] mmarshad commented on #3607
I'm having the issue with IE11 as well that the response in handleRedirectPromise method is null.
[code]
and my config settings are as below
[code]

[2021-05-17 16:30] #3493 closed

[2021-05-17 16:33] tnorling commented on #3607
@mmarshad Can you please open a new issue as this is off-topic. Thanks!

[2021-05-17 16:52] roopeshreddy commented on #3621
@jasonnutter Any help on this?

[2021-05-17 18:14] danishuahmad commented on #3607
Sorry for replying so late. I think this is the issue

Hence this is my application-specific and isn't related to `
microsoft-authentication-library-for-js`. Sorry for the trouble and thanks for your time.

[2021-05-17 18:15] #3607 closed

[2021-05-17 18:44] mmarshad opened #3643 "@azure/msal-react v1.0.0 upgrade not working in IE11 anymore"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

we were using version 1.0.0.beta.1 previously and the code was working fine for IE11 but since last week I have upgraded to version 1.0.0 , it stops working in IE11.
the handleRedirectPromise method return nu

[2021-05-17 19:05] ExperimentsAndIdeas opened #3644 "Is my legacy tenant affecting MSAL 1.0 and 2.0 integrations with LiveID, Passport, MSN ID?"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

1

### Wrapper Library

Not Applicable

### Wrapper Library Version

1

### Description

Last year I was working as a temporary contractor for Azure B2C deployments. Please see the following GUID for problems integrating the many disconnected teams that MSAL 2.0 involves. (route this to product manager??)

lamontdcp

[2021-05-17 19:37] jo-arroyo commented on #3638
@nilact Are you able to provide a fiddler/network trace?

[2021-05-17 19:39] jo-arroyo commented on #3639
@vanpyrzericj At this time, this is the expected behavior. The claims from the new token are the same as in the original authorization request. We're evaluating an enable fresh claims as an option for custom policies. We will update this Github issue if that becomes available.

[2021-05-17 20:05] ascott18 commented on #3533
@jasonnutter Thanks, adding a call to handleRedirectPromise at the beginning of our auth flow resolved this. This is very unintuitive and makes it very difficult to fall into the "pit of success" when using this library. Why is it designed such that we have to call this function even on pages that are not the target of a redirect? At best, this is a dire violation of the Single Responsibility Prin

[2021-05-17 20:54] jasonnutter commented on #3533
In MSAL.js v1, the constructor of `UserAgentApplication` automatically handled both redirect logic processing and cleanup, however, we received feedback that this was too opinionated (and also violated the single responsibility principal). We decided to move this logic to `handleRedirectPromise` and required applications to invoke it on pages used for redirect URIs (and any other pages that may in

[2021-05-17 22:40] tnorling commented on #3643
@mmarshad Can you please provide verbose logs and email me a network trace? I was not able to reproduce this behavior with our [sample app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample) in IE 11.

[2021-05-18 02:32] vanpyrzericj commented on #3639
@jo-arroyo given that context, do you recommend a way to get those fresh claims? Or is manually clearing session storage the only way to accomplish this (without logging out the user and forcing them to re-authenticate).

[2021-05-18 06:24] VickySH9112020 opened #3646 "After token expired, If I calls several APIs at same time, renew token calls will also happen several times"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.3

### Description

Hello Team,

I'm beginner of angular 11 and MSAL 2, after i set MSAL configuration as sample did, I can login in and get token successfully.
The problem is when token expired, i triggered one event

[2021-05-18 07:15] andhe27 opened #3647 "MSAL Guard navigates to wrong path"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0.

### Description

I opened https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3440#issue-857036849 a few weeks ago.
According your repository this should be fixed. Unfortunately I still see the same

[2021-05-18 08:36] code-by-gijs opened #3648 "Is it possible to see if a user has KMSI enabled"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Hi!

I was wondering if the msal-browser package can give any information about the user having kmsi enabled. For example, I would like to redirect straight to the adb2c login page when a user has kmsi enabled and their acces

[2021-05-18 12:51] wparad opened #3649 "offline_access is incorrectly always added to scopes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.0.0

### Description

The `offline_access` scope is always being added even when it isn't necessary, and it cannot be removed.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code Snip

[2021-05-18 13:01] Droidlover opened #3650 "Wrong umdModuleIds for @azure/msal-browser in @azure/msal-angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Hi there,

In `microsoft-authentication-library-for-js-dev/lib/msal-angular/ng-package.json` umdModuleIds is as following :
[code]
After build this makes UMD file search for **msal-browser** in **global['

[2021-05-18 13:59] celluj34 commented on #3647
I am having the same or similar issue. Routing worked to redirect to the default in 2-beta.5, but 2.beta-6 and 2.0 do not navigate to our catch-all route. Reload works just fine, as does logging in and navigating manually (or using the navbar).

[2021-05-18 16:59] Nishant1500 opened #3652 "Where is Xbox Live Scope?"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.1.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am making a Application Which uses Microsoft Authentication To Get Xbox Live Infos but I am unable to find a Xbox Live scope in API Permission Tab. So can you please tell me where is the Xbox live scope in Azure AD

### MSAL Con

[2021-05-18 17:04] jo-arroyo commented on #3649
@wparad Are you seeing any issues or errors occurring in your app with the `offline_access` scope being present?

[2021-05-18 17:15] wparad commented on #3649
Of course, users don't want to approve access to offline when there is no reason. Our users are telling us, they don't want to approve apps, if we ask for email or offline access. We don't need those scopes, so we should be able to remove them, but the library prevents that.

Additionally it is just good security practice: `principle of least privilege`. This is common best security practice, whic

[2021-05-18 17:28] pkanher617 commented on #3649
@wparad The `offline_access` scope is required for refresh tokens to be issued to the application. It is considered as part of OIDC scopes for AAD/MSA auth, which is why it is added by default to all requests, similar to `openid` and `profile`.

[2021-05-18 17:30] wparad commented on #3649
Yes it is a scope, no it is a `default` scope. That parts wrong. There are lots of scopes, and it is for the app developer to decide what scopes they want, not this library. The API works without the scopes, the library needs to be fixed.

Additionally, correct, the `offline_access` scope is required for refresh tokens. We don't need refresh token, ergo we don't need this scope.

[2021-05-18 18:18] ninjamon23 opened #3653 "Vue js Integration msal browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi,

I'd like to ask if there is a proper integration for Vue js, I've tried to use the vanilla js but I'm having an issue checking if the user is currently authenticated also having an issue when I use the login redirect ins

[2021-05-18 18:23] jo-arroyo commented on #3648
@code-by-gijs We recommend using `acquireTokenSilent` to renew expired access tokens. KMSI is more for the server-side session to extend the session lifetime, and MSAL doesn't get a signal from the server that KMSI is enabled.

[2021-05-18 18:26] pkanher617 commented on #3649
I'm not saying it is a default scope, I am saying it is added by default by the MSAL library because refresh tokens are used in the basic SPA flow. While we understand the app developer should have control over the scopes they want to use, we add specific scopes by default, namely OIDC scopes (`openid`, `profile`, `offline_access`). The API does work without the offline_access scope, but there are

[2021-05-18 18:41] jo-arroyo commented on #3646
@VickySH9112020 This is currently a known issue with making parallel requests. Calling several APIs at the same time triggers the interceptor to check the cache for tokens, and if the tokens are expired, to renew tokens. Because they are being called at the same time, the first token renewal would not have completed and cached its token before the second checks the cache for tokens, and this can c

[2021-05-18 18:42] jo-arroyo commented on #3644
@ExperimentsAndIdeas Can you clarify which library you are referencing, Passport AD or MSAL? Can you also clarify what issues you are seeing here?

[2021-05-18 18:51] wparad commented on #3649
Why the hell does the auth server require `offline_access` to keep the user logged in to an SPA. Please go back and validate this, if so that's a huge concern, we expect that silent-auth would use a azure domain HttpOnly/SameSite=Strict cookie or PostMessage to a secure iframe to continue the session and generate a new access token, and **not use a "refresh token" to generate a new access token**.

[2021-05-18 21:39] jo-arroyo commented on #3650
@Droidlover I've been unable to reproduce your issue. You're welcome to submit a PR for the change you want to see, and our team will review it with our libraries.

[2021-05-18 21:53] jo-arroyo commented on #3632
@jeffj6123 It does appear that the setup scripts in the Service Fabric docs you linked are creating new apps, so yes, that could require consent. On our side, having the same app upgrade should not usually need additional consent, but perhaps this is a specific scenario that does. This doesn't seem to be something MSAL can help with, please contact the Service Fabric team or Azure Support.

[2021-05-18 21:57] jo-arroyo commented on #3581
@kushalwaikar Thanks for detailing your workaround. Is this still an issue for you? How many end users are impacted by this? Thanks for your patience while we continue to look into this.

[2021-05-18 22:43] jo-arroyo commented on #3562
@ursmeier-mercatus The principal object and claims are not controlled by the MSAL libraries, but is part of the app's manifest. You may need to reach out to Azure Support regarding the difference in the principal object on the server.

[2021-05-19 02:55] VickySH9112020 commented on #3646
OK, got it, thanks for your explanation. I will close this question.

[2021-05-19 02:55] #3646 closed

[2021-05-19 04:19] #3476 closed

[2021-05-19 07:21] ursmeier-mercatus commented on #3562
Thank you.

[2021-05-19 07:21] #3562 closed

[2021-05-19 13:48] roopeshreddy commented on #3647
@jasonnutter This was the issue with 2.14.2 which I mentioned.

@celluj34 @andhe27 Please use 2.14.1 and it should work fine.

All, I've opened an issue, where if the deep link URL is case-sensitive, then after redirect, it's coming a lower-case. Refer (#3621 )

[2021-05-19 13:50] roopeshreddy commented on #3621
@jasonnutter  Can you please help?

[2021-05-19 14:35] celluj34 commented on #3647
@roopeshreddy That does fix my issue for now - thank you!

[2021-05-19 14:49] smhnkmr commented on #2827
I too have the same issue in alpha.6 latest release. it's blocking the cache implementation. any updates on this fix? or any other workaround for now?

[2021-05-19 17:03] jasonnutter commented on #3306
@mdarefull Sounds good!

Closing, as no further action at this time.

[2021-05-19 17:03] #3306 closed

[2021-05-19 17:31] jo-arroyo commented on #3653
@ninjamon23 While we don't currently have a wrapper library for Vue.js, that is something we will take into consideration.

In the meantime, can you please provide a simple sample app that demonstrates the issue you are seeing? Please also note that when calling redirect APIs, `handleRedirectPromise` must be called to handle the API, and double check that you are doing so correctly. See [our docs]

[2021-05-19 17:34] jo-arroyo commented on #3652
@Nishant1500 While you may find the [official XBox Live REST API documentation](https://docs.microsoft.com/en-us/gaming/xbox-live/api-ref/xbox-live-rest/additional/httpstandardheaders) useful, this isn't an issue that involves MSAL, so unfortunately we are not able to assist you. Please try contacting Azure Support for more help.

[2021-05-19 17:41] sameerag commented on #2827
@eanders-MS @smhnkmr Can you please confirm if you have installed the prerequisites needed for `node-gyp` listed [here](https://github.com/nodejs/node-gyp#on-windows)?

[2021-05-19 18:30] jo-arroyo commented on #3648
@code-by-gijs Yes, unfortunately extending the token expiration by KMSI cannot be supported by MSAL because the setting is server-rendered and the client doesn't have a context. Closing as there's nothing further MSAL can do.

[2021-05-19 18:30] #3648 closed

[2021-05-19 19:15] c0d3blooded opened #3656 "Using prompt=login RedirectRequest parameter does not get passed to B2C Identity Provider"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-beta.3

### Description

I'm working the include the `prompt=login` flag in an custom AD B2C flow which includes an Azure AD Identity Provider (in addition to email login). When the `prompt: 'login'` flag is added into the `lo

[2021-05-19 20:46] ninjamon23 commented on #3653
Hi @jo-arroyo , thanks for the reply. I've created a repo on https://github.com/ninjamon23/vue.msal2.connect in case it can be of use. I'm trying to create a simple wrapper plugin for vue, if I use the vue js plugin I'm creating I'm getting error
![image](https://user-images.githubusercontent.com/58360160/118881621-e01f2c80-b925-11eb-9d0c-dc9ddcf46fa5.png)
but if I use the separate js file wherein

[2021-05-19 23:46] jo-arroyo commented on #3633
@uberchris2 I wasn't able to identify anything in your code that could be causing this issue, and was not able to reproduce it. The fact that the header is attached when you use `"*"` suggests that there may be an issue with the endpoint you are putting in your protectedResourceMap. You can try relative endpoints, or try to debug in the `MsalInterceptor` to see if the endpoint that is actually use

[2021-05-20 03:11] Nishant1500 commented on #3652
Oh then I will contact Azure Support. Thanks anyways! :)

[2021-05-20 07:46] nilact commented on #3638
@jo-arroyo

Firstly, I'm getting the error when I use the loginPopup method. Because of the error when the popup window gets closed, developer tools also get closed for that Window and I can not get the network traffic. I don't have a fiddler installed on my machine as of now.

Secondly, I also tried the loginRedirect method and handleResponse method receives a response as null.

Can you please co

[2021-05-20 07:55] nilact opened #3661 "How to provide Metadata endpoint just like AAD?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm using MSAL.jx v2.x for authentication and other flow of Azure B2C AD.

Can we provide a metadata endpoint ourselves, just like AAD for Azure B2C [as mentioned in the documentation](https://github.com/AzureAD/microsoft-aut

[2021-05-20 16:05] jo-arroyo commented on #3652
Closing as not involving MSAL.

[2021-05-20 16:05] #3652 closed

[2021-05-20 20:31] jo-arroyo commented on #3656
@c0d3blooded This is a known issue that is currently being addressed by the B2C service. If you'd like to track this with them directly you can open a support ticket [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and in the meantime we'll leave this open until we've verified the fix has been rolled out.

[2021-05-20 20:52] jo-arroyo commented on #3661
@nilact Can you clarify what you mean by the following:

[2021-05-20 22:45] jo-arroyo commented on #3640
@JuanGarciaCarmona Thanks for your patience. I haven't been able to reproduce this error, however this seems like a reasonable ask, and I have made a change to the line you described in the linked PR. Can you check if this solves your reference error?

[2021-05-21 06:37] Shivam60 opened #3665 "Proper Types not mentioned in the docs for `instance.acquireTokenSilent ` function"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md

### Description

As per the docs there is no typescript issue for using `acquireTokenSilent` funciton from useMsal lib.

However in practice this issue is observ

[2021-05-21 07:53] JuanGarciaCarmona commented on #3640
I've just seen your changes and it looks like it will fix the issue. I've just told our team to check it out. I'll let you know.

Thank you!

[2021-05-21 11:16] samuelkubai commented on #2827
@eanders-MS @smhnkmr I tried to reproduce this and was not successful. Could you give us a more detailed step by step instruction for the reproduction?

[2021-05-21 11:18] LoveSponge opened #3666 "[chrome extension/service worker] Chrome.Storage cache location when using service workers."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

In order to make msal play nice with chrome extension in a service worker, the cache location can be 'mocked' by forcing window.localStorage to instead use chrome.storage apis. The problem is that these apis are asynchronous, and there is no way to make the cache location functions work nicely

[2021-05-21 13:16] clivecham commented on #3612
@derisen thanks for the reply. I will close the issue.

[2021-05-21 13:16] #3612 closed

[2021-05-21 14:20] nilact commented on #3661
@jo-arroyo

It is working as expected. It should hit the Metadata endpoint and use it for all the other flows and grab the appropriate endpoint, for example, /token.

However, as per the documentation, we can provide the Metadata for AAD as a part of the configuration.

Can we do the same for Azure B2C AD? Is it supported?

[2021-05-21 14:42] c0d3blooded commented on #3656
ok, thank you @jo-arroyo!

[2021-05-21 15:35] jasonnutter commented on #3666
@LoveSponge We're aware of this limitation of the current storage options. We are looking into how to support async storage options (e.g. `chrome.storage`, IndexedDB, etc). For now, you may need to use the MSAL `MemoryStorage` option, and implement your own caching outside MSAL until we are able to provide built-in support for async storage interfaces.

[2021-05-21 17:59] jasonnutter commented on #3621
@roopeshreddy Apologies for the delay. I am still unable to reproduce this issue. Can you please try reproducing it with [one of our samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples), and then share a working version of a sample that demonstrates the issue?

[2021-05-21 18:03] jasonnutter commented on #3647
@andhe27 Can you please try adding placeholder routes for things like `code`? This is usually needed when doing hash routing with redirects: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9eab0f4be2be20dd828a033941fbd9a30fb92f1e/samples/msal-angular-v2-samples/angular11-sample-app/src/app/app-routing.module.ts#L32

Note, due to the way redirects are processed, you may need

[2021-05-21 18:06] celluj34 commented on #3647
@jasonnutter We're not using hash routing, but I will see if it helps.

[2021-05-21 18:56] lakshmipuli opened #3667 "Infinite loop with out Login button"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I am trying to login user seamlessly, with out having a login button as it will be hosted on Azure. But ending in infinite loop with error:

interaction_in_progress: Interaction is currently in progress.
Plea

[2021-05-21 19:18] menosprezzi opened #3668 "Why msal-core and msal-browser doesnt support stateless login (or redirections from other login origin)?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Hello guys!!

We have one application that redirects to our Azure ADB2C login URL.
Let's say that this application lives in `https://my.app.com`.

So this application do a `window.location.assign` to:
[code]

When the user co

[2021-05-21 19:31] jasonnutter commented on #3647
The placeholder routes are only needed for hash routing.

[2021-05-21 21:36] tnorling commented on #3665
@Shivam60 thanks for bringing this up, I'll make sure the docs get updated.

To resolve, you can either cast this to the right type `accounts[0] as AccountInfo` or use the `useAccount` hook to get the `AccountInfo` object. `const account = useAccount(accounts[0])`

[2021-05-21 21:43] tnorling commented on #3667
@lakshmipuli This code example will call `instance.loginRedirect` on every render. You need to make sure you check `inProgress === InteractionStatus.None` before calling `loginRedirect` as documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/errors.md#interaction_in_progress).

Alternatively, instead of calling `loginRedirect` yourself y

[2021-05-22 03:17] roopeshreddy commented on #3621
@jasonnutter Thanks for your reply! After few hours of comparing the code with the sample app, I found that, 'initialNavigation' Router option is the difference -

`initialNavigation: !isIframe ? 'enabled' : 'disabled'`

Looks like, if we set this, it's working fine now with latest 2.14.2

Thank you. Let me update this to our teams and will close this issue.

[2021-05-22 12:45] RonaldRegan69 commented on #3665
Thanks

[2021-05-22 16:18] eluchsinger commented on #3590
Keep open

[2021-05-22 17:04] eluchsinger opened #3671 "Errors in the Documentation"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/initialization.md

### Description

Trying to follow the MSAL Angular documentation step by step, there seem to be some inconsistencies.

[Step one](https://

[2021-05-22 19:54] clivecham opened #3672 "how to sign in a user using id token hint"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Does MSAL JS support id token hint to SSO a user? The use case is the user is sign in to a mobile app and attempt to access a website launched from webview. The mobile app will pass the id_token_hint to the website to SSO to the w

[2021-05-23 13:00] #3611 closed

[2021-05-23 13:00] #3603 closed

[2021-05-23 13:00] #3578 closed

[2021-05-23 13:00] #3566 closed

[2021-05-23 13:00] #3565 closed

[2021-05-23 13:00] #3529 closed

[2021-05-23 13:00] #3528 closed

[2021-05-23 13:00] #3525 closed

[2021-05-23 13:00] #3524 closed

[2021-05-23 13:00] #3507 closed

[2021-05-23 13:00] #3494 closed

[2021-05-23 13:00] #3434 closed

[2021-05-23 13:00] #3378 closed

[2021-05-23 13:00] #3318 closed

[2021-05-23 13:00] #3283 closed

[2021-05-24 03:37] mindingdata opened #3673 "Angular Guard Does Nothing"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

My Angular Guard doesn't seem to redirect (Or do anything), despite I assume being set up correctly. However if I try and kick off the login process manually, it does work (Although with errors about an i

[2021-05-24 07:27] JuanGarciaCarmona commented on #3640
Hi,

We haven't found an easy way to test this part of the code in a real scenario. Use SSR and security mechanisms (API calls over SSL) in our environments requires to pass through our build and release pipelines, even in DEV environment.

We've seen the changes and that protection against null reference using the window object seems enough. There is another usage of window in the guard, but that

[2021-05-24 09:10] yvoneee opened #3674 "Token calls are blocked in hidden iframes"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

I'm getting error "Token calls are blocked in hidden iframes" during acquireTokenSilent in MsalInterceptor. It happend all the time when I'm trying log in to app. Clearing localStorage and cache doesn't wo

[2021-05-24 09:53] LoveSponge commented on #3666
@jasonnutter Thanks for getting back to me.

That's great to know, maybe you could help me with my current issue - i've implemented my own 'localstorage' which basically just points each of the `*Item` functions to chrome.identity functions instead...

My issue is that it doesn't appear to be setting any values, only getting and removing them? i'm using an implementation that mimics the [Chromium

[2021-05-24 16:45] JasSuri commented on #3639
The only way right now would be to clear the MSAL objects, and call acquireTokenRedirect(). You do not want to call logout from MSAL, as that will remove the session cookie, and then the user has to login again. We are working on getting a custom refresh token flow released in the next few months.

[2021-05-24 17:27] jo-arroyo commented on #3671
@eluchsinger Thanks for your feedback. We will work on making the docs and code samples more comprehensive and link the PR here once it's up.

[2021-05-24 21:56] sadasant opened #3676 "msal-node’s configuration types doesn’t allow elements on the clientCapabilities (type [] does not allow elements)"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

Latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

The type of clientCapabilities On msal-node is `[]`, but that type does not allow properties to be set. It should be at least `string[]`.

This is what I’m seeing when I try to pass values in that property. Let me know

[2021-05-24 23:20] vanpyrzericj commented on #3639
@JasSuri what would be the best way to clear the MSAL objects? For context, I am in a VueJs application, set up via: `export const msalInstance = new PublicClientApplication(msalConfig);

[2021-05-25 00:01] tnorling commented on #3639
@vanpyrzericj You should not need to clear any storage, when MSAL gets new tokens it will update the cache. You can call `ssoSilent`,  `acquireTokenRedirect` or `acquireTokenPopup` to guarantee a call is made to the /authorize endpoint which should return the updated claims.

[2021-05-25 00:02] tnorling commented on #3661
@nilact Yes this is supported for B2C

[2021-05-25 00:10] vanpyrzericj commented on #3639
@tnorling gotcha, so basically I shouldn't have been calling `acquireTokenSilent` as that will always pull from cache first. I'll give your guidance a try and see if it pulls the updated claims.

[2021-05-25 01:00] #3533 closed

[2021-05-25 04:29] nilact commented on #3661
@tnorling

But the [documentation ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/performance.md)reads for B2C, it is not supported. One has to see whether it is working or not despite in documentation says it doesn't? I've added the same note below from the documenation.

[2021-05-25 08:22] bclevering commented on #3619
We have the same problem

[2021-05-25 13:00] #3624 closed

[2021-05-25 14:54] sameerag commented on #3676
I am not sure if this is supposed to be string. @tnorling to comment once.

[2021-05-25 16:04] tiny-dancer commented on #3583
Ran into this for msal-react as well - looking forward to findings/recommendations. Thanks!

[2021-05-25 16:10] tnorling commented on #3661
This is a mistake in the docs, I will make sure this gets fixed. Thanks for pointing this out.

To set the record straight: The first section of the doc "Bypass cloud instance discovery resolution" **is not** supported for B2C because the B2C service doesn't expose this endpoint or metadata. The second section of the doc "Bypass authority metadata resolution" **is** supported for B2C.

[2021-05-25 16:43] tnorling commented on #3583
@luismiguelprs @tiny-dancer Right now the way the B2C service is designed (separating different operations into different user flows) causes MSAL to see idTokens from different flows as completely different "users" (tokens are also not shared across flows). If and until that design changes there are 2 approaches you can take to work around the multiple account issue:

1. Filter the result of `getA

[2021-05-25 16:44] tnorling commented on #3676
@sameerag Yes it should be type `string[]`. Thanks @sadasant, I'm surprised this didn't get caught earlier...

[2021-05-25 16:46] roopeshreddy commented on #3621
@jasonnutter We're seeing some mixed behaviour's in our apps if we enable the 'initialNavigation'. Somtimes App is not bootstrapping.

Also, we noticed the difference in the Angular v10.x & Angular v11.x samples.

The below code is not available in the Angular v11.x sample.
![image](https://user-images.githubusercontent.com/1386644/119536555-355ca300-bd57-11eb-8f64-ce59253b764e.png)

Any specific

[2021-05-25 17:21] roopeshreddy commented on #3621
Also the initial Navigation configuration is more for the SSR, as per the [Angular docs](https://v10.angular.io/api/router/InitialNavigation).

Actually, if we remove `initialNavigation`, our apps are working fine, except the Uppercase urls.

[2021-05-25 19:25] pkanher617 commented on #3668
@menosprezzi We don't support handling a login from another application in MSAL. In order for MSAL login flows to work, the request must originate from the MSAL library. Our authentication relies on the fact that your application's sign-in is bound to a single domain.

We also send other information in the state parameter to inform MSAL how to handle responses in redirect vs popup cases, so while

[2021-05-25 20:00] #3661 closed

[2021-05-25 20:11] jo-arroyo commented on #3673
@mindingdata Can you provide your app-routing.module.ts, or where the routing for your app is set up? Most of our sample apps use `canActivate` instead of `canLoad`. Just checking that is what you're intending to use?

[2021-05-25 20:27] mindingdata commented on #3673
Yep. And good shout because I actually did get this working using CanActivate instead of CanLoad. But CanLoad was the desired guard.

[code]

This is not my design, but basically our AppComponent has nothing but <router-outlet> in it, then MainLayoutComponent has our header, footer etc. And itself has a <router-outlet> on it, which then loads the actual jobs page for example. I don't particularly

[2021-05-25 20:53] vanpyrzericj commented on #3639
Confirmed, @tnorling's guidance works. Closing this out. Thanks, Thomas!

[2021-05-25 20:53] #3639 closed

[2021-05-25 21:31] roopeshreddy commented on #3621
@jasonnutter  I've created a demo - [https://github.com/roopeshreddy/msalv2angularIssue](https://github.com/roopeshreddy/msalv2angularIssue)

I've taken the Angular v10 sample app and updated the use case. You will see empty page when you load the `http://localhost:4200` To get it working, try uncommenting `initialNavigation` in the `app.routing.ts` file and it loads.

[2021-05-25 21:57] pkanher617 commented on #3672
@clivecham We do not support id_token_hint on the login flows today, but you can pass the id_token_hint by using the [`extraQueryParameters` request option](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_browser.html#redirectrequest). Example:

[code]

However this won't achieve the silent sign-in that you are looking for. You can achieve this by extracti

[2021-05-26 08:41] shsuman commented on #3279
This can be closed now we have decided to upgrade to the msal-node library. We will open another issue if we have problems with that as well.

[2021-05-26 08:43] jbs2706 opened #3682 "MSAL Interceptor matches wrong endpoint configuration on request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Our Angular application does HTTP calls to two seperate backend services (A and B). Both of these backend services require a scope for every API call to that service. In the protected resource map this is

[2021-05-26 12:06] VladBozhinovski opened #3683 "Msal-Angular server-telemetry-undefined (Firefox)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I'm using Msal-Angular for authentication. It works perfectly fine on Chrome, Edge, Safari but when I run the web app on Firefox its frozen, it will prompt for authentication but nothing happens once I fi

[2021-05-26 15:32] jBuchholz590 opened #3684 "msal-angular 2.x The request body must contain the following parameter: 'client_assertion' or 'client_secret'"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Hi,
we are trying to upgrade from msal-angular v1 to v2.
With v1 we used Implicit Flow and got the token directly from the `/authorize` endpoint.
v2 uses authorization code with PKCE which we have adjuste

[2021-05-26 18:13] pkanher617 commented on #3674
I'm working on trying to reproduce this issue, will get back as soon as I can.

[2021-05-26 19:25] uberchris2 commented on #3633
Good suggestion, @jo-arroyo. I debugged the interceptor and found the issue. My code uses an interceptor to dynamically add the base URL to each API call. because the MsalInterceptor was running before the base interceptor, the MsalInterceptor was only matching against a partial path. Reordering the interceptors in app.module.ts fixed the problem.

[2021-05-26 19:25] #3633 closed

[2021-05-27 03:24] clivecham commented on #3672
@pkanher617  thank you for the reply. Isn't this what id_token_hint should do? I am looking at this doc and looks like it will sign the user in : https://docs.microsoft.com/en-us/azure/active-directory-b2c/id-token-hint

TIA.

[2021-05-27 03:39] JoeHan1994 opened #3686 "[React] Client report error: BrowserAuthError: pkce_not_created"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

Local can successful run, but when I deployed it by IIS, I use other machine(Internal) to access http://ip:port, it report error as follows.
**Browser**: Edge & Chrome
**ErrorInfo**: BrowserAuthError: pkce_no

[2021-05-27 04:34] Miwa199739 opened #3687 "Access token didn't get refreshed after switching to another tenant in MSAL2.0"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

We're implementing this customer requirement:
1. user login with the home tenant, and get an access token to management.azure.com/.default scope, acquireTokenSilently
2. we list all tenants that the current user belongs to (in

[2021-05-27 05:00] josh-hemphill commented on #2273
In the meantime I've created a polyfilled fork and bundled into a deno package. Once official support comes, I'll be happy to have it removed/archived to prevent confusion. Should also be a good reference when going to create the official package.
https://deno.land/x/azure_msal_deno@v1.1.0
Just needed something in the meantime to get started on a couple of small tools.

[2021-05-27 06:32] andhe27 commented on #3647
ok thanks for your answer.
I got rid of hashRouting and everything works as expected.

With hashRouting I don't know where the placeholder Routes should navigate to, since every other Route is also protected (see app-routing configuration).

[2021-05-27 08:39] jBuchholz590 commented on #3684
Forget it, I'm stupid... accidentally used the wrong clientId thus my changes in the app registration were obviously not taken into account.

[2021-05-27 08:39] #3684 closed

[2021-05-27 14:30] jasonnutter commented on #3647
In our samples, we have the placeholder routes render the `HomeComponent` (i.e. the home page of your app).

[2021-05-27 14:32] jasonnutter commented on #3686
@JoeHan1994 It looks like your site is being loaded over http, which is not supported by MSAL.js, as the browser crypto APIs require https (or localhost). Please make sure your app is loaded over https.

[2021-05-27 16:19] tnorling commented on #3638
@nilact The issue is that your `id-ip-test.abc.com` Identity Provider is returning the response directly back to your application and in the query string, when MSAL is expecting it in the hash. Instead your custom policy should pass a b2c redirectUri to your custom IDP and let B2C redirect back to your application. See this [doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-iden

[2021-05-27 16:43] pkanher617 commented on #3649
@wparad We will probably add some APIs to skip default scopes, please be on the lookout for PRs.

[2021-05-27 16:47] pkanher617 commented on #3581
@kushalwaikar Are you still seeing this issue with the 2.0.0 version of the MSAL Angular library?

[2021-05-27 16:50] pkanher617 commented on #3442
@teresahoes Apologies for the delay in getting back on this issue. Can you try this on the 2.0.0 version of the library and see if this issue still persists?

[2021-05-27 17:09] jo-arroyo commented on #3671
@eluchsinger I've recently merged a PR that addresses the concerns you raised. Thanks again for your feedback. Closing this issue, if you have any further feedback please feel free to open a new issue.

[2021-05-27 17:09] #3671 closed

[2021-05-27 18:23] kushalwaikar commented on #3581
@pkanher617 - Thank you for following up. We have moved to _[msal-angular 2.0.0](https://www.npmjs.com/package/@azure/msal-angular/v/2.0.0)_ couple of days ago and so far we do not see same issue. I will update this thread or create a new ticket if we observe same issue with _[msal-angular 2.0.0](https://www.npmjs.com/package/@azure/msal-angular/v/2.0.0)_

[2021-05-27 20:41] jasonnutter commented on #3621
@roopeshreddy I see a blank page until I comment out the `PlatformreadyGuard`, at which point the app seems to work as intended (I also had to use the correct MS graph endpoint, which was set to ppe).

[2021-05-27 20:43] jasonnutter commented on #3621
And `initialNavigation` is dynamically set to prevent the router from removing hashes from hidden iframes (during silent requests), which can result in timeouts. But it shouldn't impact interactive requests.

[2021-05-27 21:33] pkanher617 commented on #3674
@yvoneee This is probably happening because the page rendering the iframe is calling acquireTokenSilent again. Make sure that the page on the redirect URI you use for the silent requests does not invoke acquireTokenSilent. You can also try setting initialNavigation to `disabled` when the app is rendered inside an iframe: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/21123

[2021-05-27 21:50] pkanher617 commented on #3672
You can try it, but I was informed that it will only work for a sign-up flow, such as the an invite email (see [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/id-token-hint#use-cases). To get the SSO that you are looking for you will need to extract the username from the token claims and pass it to the login_hint.

[2021-05-27 22:02] #3581 closed

[2021-05-27 22:46] vpopescu opened #3691 "PKCE code flow and React SPA?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

What is the guidance for implementing PKCE flow in a react SPA (multitenant) app? I see a number of confusing answers around, including some that seem more like hacks than solutions.

Here's my problem. I hav

[2021-05-27 23:07] jo-arroyo commented on #3640
@JuanGarciaCarmona Can you or someone on your team provide a simple working sample demonstrating this issue? Or you can try to reproduce it on one of our samples. Our team feels it would be good to be able to reproduce this issue before making a change.

[2021-05-27 23:08] derisen commented on #3691
@vpopescu the first error usually occurs when you select "Web" instead of "Single-page application" on the **Authentication** blade on Azure portal. But I see from your manifest that you have already selected "Single-page application" (i.e. `replyUrlsWithType`). It might be that the changes require some time to take effect, if you have recently switched from web to spa (also a good idea to check i

[2021-05-27 23:15] jo-arroyo commented on #3673
@mindingdata At the moment, the MsalGuard does not interactively prompt for login with `canLoad` because it does not pass us the same information as the `canActivate` interface, but we can look into enhancing the MsalGuard in the future to make this possible. In the meantime, `canActivate` can prompt for login, or you may have to log in first before using `canLoad` on a route. We also welcome PRs

[2021-05-27 23:19] mindingdata commented on #3673
Sounds good. I think in the meantime there should be some level of documentation around that canload then because I definitely burned a lot of time on trying to get it working. In the end I switched to CanActivate which is all fine and does what I need it to do, but it is a little misleading :)

[2021-05-27 23:19] jo-arroyo commented on #3682
@jbs2706 Thanks for bringing this to our attention. This is a bug that we will address, and will link a PR once it is available.

[2021-05-27 23:21] jo-arroyo commented on #3673
@mindingdata That's a great callout, we will update the docs to note this.

[2021-05-28 00:10] vpopescu commented on #3691
Thank you. That was after a few hours of trying, so any changes should've taken effect. However I just deleted the app and recreated it, making sure it's set to SPA and never Web, and I still see the same issue.

I also see the following in the audit log, if it helps any:

[code]
Unfortunately I don't know what it is referring to?

I will hack around a bit more, thank you.

[2021-05-28 00:32] derisen commented on #3691
@vpopescu no worries : ) What would help here is the logs generated by msal-react (which will appear in your browser's console). Can you share them?

Also, you have set your `redirectUri` to `http://localhost:3000/redirect` -is that page actually running msal-react? (the tutorial suggests to set it to `http://localhost:3000/`)

[2021-05-28 01:27] vpopescu commented on #3691
I somehow got part of it to work, but I don't know how just yet, still looking into it. Could it have something to do with the fact that I was using a Global Admin that was external to the directory? For example, me_live.com#EXT#@mydomain.onmicrosoft.com?

I created a global admin in the domain (me@mydnsname.com), and it still got the PKCE error, but it managed to grant admin consent somehow.

I a

[2021-05-28 03:58] deepti1805 opened #3692 "suggestion to make configuration value in PublicClientApplication dynamic"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.6.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

We have one scenario where we have 3 policy signin, signup and forgot password, and we are handling their response in single js file. Initially we are having signin policy as a default and whenever the page redirect

[2021-05-28 07:28] johnvinosh opened #3693 "After Upgrading to msal v2 in angular, MSAL Guard not considering the --base-href parameter while redirecting after loggin in"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I was using msal v1 and it was working fine. I tried to update to v2 and I made all the configuration. Application was working on my local computer. But I am facing issue while deploying to server.

I don

[2021-05-28 09:26] dvut opened #3694 "Invalid code example for setLogger in MSAL 2 Angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/logging.md

### Description

The code example for setting a logger seems to be invalid code:

_The logger can also be set dynamically by using MsalService.se

[2021-05-28 14:02] RoystonGates opened #3697 "npm install @azure/msal-node"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

N/A

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

N/A

### Description

When i use command:
npm install @azure/msal-node i continually get following error:
npm ERR! Error while executing:
npm ERR! C:\Program Files\Git\cmd\git.EXE ls-remote -h -t ssh://git@github.com/pe

[2021-05-28 14:29] MonksterFX opened #3850 "Multi ClientID B2C"
We have an B2C instance and multiple applications. Our Api should accept any token of these applications.

[code]

Which didnt't work. Just the Token from the application set in "clientID" worked. But I was curious and changed clientID to:

[code]

Strangly that worked, altough the documentation states that clientID should be a string. Is this intentional or how can this be achieved.

[2021-05-28 17:18] sadasant commented on #3335
@samuelkubai should we close this issue?

[2021-05-28 17:24] sameerag commented on #3335
Yes, Closing it.

[2021-05-28 19:21] lakshmipuli commented on #3667
Hi @tnorling,

Sorry for the delay in responding and Thank you so much for the response.  I did try it in my POC and it worked. I am going to integrate with my code and update you if I have any further issue.

Thanks,
Lakshmi.

[2021-05-28 20:16] tnorling commented on #3667
Thanks for letting us know! I'll close this but feel free to open a new issue if you run into any other issues. Thanks!

[2021-05-28 20:16] #3667 closed

[2021-05-28 21:59] sameerag commented on #3697
@RoystonGates Does this happen on a clean install?

[2021-05-29 05:51] JuanGarciaCarmona commented on #3640
@jo-arroyo ,

Hi, the only thing that we can do is to give you a recipe, it is simple:

1. Create an Angular project. You could use your own sample project, the one referenced in the SSR documentation section should be perfect. (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/angular-universal.md )
2. Follow those instructions to use angula

[2021-05-29 06:08] RoystonGates commented on #3697
No I will try adding to clean install to see what happens,  currently I'm adding to existing project which has also had node/npm upgraded V10 to v14

Get Outlook for Android

[2021-05-30 01:00] #3643 closed

[2021-05-30 22:42] mehdiibrahim opened #3797 "Chrome v91, Refused to display 'https://login.microsoftonline.com/' in a frame because it set 'X-Frame-Options' to 'deny'."
I have an AngularJS website that uses Azure AD for authentication through adal-angular. It has worked fine for years. But with the most recent release of Chrome (v91), all of our users are now getting the following error:

"AADSTS50196: The server terminated an operation because it encountered a client request loop. Please contact your app vendor."

Other times, we get this error in the console wi

[2021-05-31 01:00] #3650 closed

[2021-05-31 01:24] menosprezzi commented on #3668
@pkanher617

Thanks for your quick and awesome response!

Any plans to msal support this flow, ignoring the necessity of the state param and reading the id_token param coming in url  by default? What block this? Security reasons?

[2021-05-31 07:00] eluchsinger commented on #3590
<div class="js-timeline-item js-timeline-progressive-focus-container" data-gid="MDEyOklzc3VlQ29tbWVudDg0NjQzMDY1NA==" style="box-sizing: border-box;"><div class="TimelineItem js-comment-container" data-gid="MDEyOklzc3VlQ29tbWVudDg0NjQzMDY1NA==" data-url="/_render_node/MDEyOklzc3VlQ29tbWVudDg0NjQzMDY1NA==/timeline/issue_comment?variables%5BdeferredCommentActions%5D=false" style="box-sizing: border-

[2021-05-31 13:00] #3644 closed

[2021-05-31 13:00] #3632 closed

[2021-06-01 06:21] yvoneee commented on #3674
Would you like to tell me what is the proper way to do this? Right now I'm navigate user to the page where in  routing config is canActivate flag managing by MsalGuard. If I understood correctly that I should navigate user to page with empty component or something like that?

I will also try this solution and reply to you If it's work. Despite that I would be glad If you answer me for previous que

[2021-06-01 07:35] nilact commented on #3638
I'll check it and get back to you. Thanks.

[2021-06-01 07:43] nilact commented on #3661
I believe [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md) page also needs to be updated to indicate that cloudDiscoveryMetaData is for the AAD scenario and authorityMetadata is for Azure B2C.

[2021-06-01 08:55] VladBozhinovski commented on #3683
This issue was due to having dynamic msal configuration which caused config not to be loaded before msal instance.

[2021-06-01 08:55] #3683 closed

[2021-06-01 13:16] bclevering commented on #3619
@jo-arroyo what is the status? this problem isn't resolved...

[2021-06-01 16:00] tnorling commented on #3590
@eluchsinger We're still waiting for more information we requested from you. Please provide logs and/or a minimal reproduction so that we can assist you in debugging this. Thanks!

[2021-06-01 17:19] mehdiibrahim commented on #3674
i think this issue was introduced with the latest release of Chrome (v91). i'm running into the same problem. works with prior version of Chrome.

[2021-06-01 17:22] Upamanyu2 commented on #3619
Sorry, did not check my personal email for a a week or two.. Yes this
problem is resolved..

On Tue, 1 Jun 2021, 18:46 L.E. Clevering (Bert), ***@***.***>
wrote:

[2021-06-01 17:24] bclevering commented on #3619
@Upamanyu2 how did you resolve this?? We have the same problem.

[2021-06-01 17:26] #3619 closed

[2021-06-01 17:28] Upamanyu2 commented on #3619
Just add in the domain name in the REQUEST_URI in web.config of the azure web application. It will solve the issue on every redirection.

[2021-06-01 17:34] Upamanyu2 commented on #3619
Just add the domain name (for example: example.azurewebsites.net) into the
web.config of the web application. Where it filters the "REQUEST_URI", with
a rewrite rule.
This will be able to recognize the domain at every redirection.

On Tue, 1 Jun 2021, 22:55 L.E. Clevering (Bert), ***@***.***>
wrote:

[2021-06-01 17:45] nbanek-fp opened #3701 "Token successfully obtained using MSAL is rejected as an invalid claims token when used with protected API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Working with Microsoft's WVD SDK team and trying to use the MSAL.js library for authentication with WVD.  Have successfully obtained an access token with MSAL, but when passing this token to the WVD SDK API for retrieving wor

[2021-06-01 20:10] eluchsinger commented on #3647
I am having the same issue. For me it redirect to the root path, causing a loop...

[2021-06-01 20:29] gaut7 opened #3702 "How do I get an authorization code from the library?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I did all the configuration as mentioned in the instruction but why after calling "loginpopup' or "loginredirect" method I am getting an **access token** instead of **auth code**. In my use case, I want t

[2021-06-01 21:56] lukas-mertens opened #3704 "Using the Azure AD B2C Localization Feature in msal-angular v2"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.12.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

How can I use the localization option of Azure AD B2C in the msal-angular library v2? I wasn't able to find any documentation. I tried adding a `lang: 'de'` parameter to the `extraQueryParameters` in the

[2021-06-01 23:08] roopeshreddy commented on #3621
@jasonnutter Sorry, I was away from work. Yes, don't comment the guard. Keep it. But remove the `initialNavigation` the app will work.

[2021-06-01 23:26] sameerag commented on #3208
@ccosmincc Apologies for the delayed response. We are able to reproduce this issue and it is a bug on our end. Working on a fix and will update soon after a PR is available here.

[2021-06-01 23:28] sameerag commented on #3332
Closing it. Please open a new issue if need be.

[2021-06-01 23:31] pkanher617 commented on #3702
@gaut7 The msal-browser library is meant for browser-based authentication for Single-Page applications, which is why all AuthNZ is done inside the browser. For a server-side flow, you can use the [msal-node library](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node).

[2021-06-01 23:32] pkanher617 commented on #3702
The library takes care of token renewal, so the refresh token is not returned. This is something done in most MSAL libraries.

[2021-06-01 23:41] pkanher617 commented on #3704
@lukas-mertens Do you see the `lang=de` query parameter added to the url?

[2021-06-01 23:47] pkanher617 commented on #3692
@deepti1805 You can set the authority per request, which it appears you are doing.

Are you saying you don't want the signUpSignIn policy to be the default every time? I think that is something that you can better handle in the application, rather than updating the configuration in MSAL.

[2021-06-01 23:48] pkanher617 commented on #3687
The user will need to sign into the non-home tenant, which will populate the cache with the account from that tenant. You can then use the account from that tenant to obtain tokens from that tenant for that user.

[2021-06-01 23:52] pkanher617 commented on #3541
@jml88 Sorry for the delayed response on this. Is the `https://localhost:3001/` redirect URI the same as the one used in the successful popup flow? I'm immediately sure why this is happening, it appears the main window is not able to parse the url after the redirect occurs in the popup.

[2021-06-02 03:14] lukas-mertens commented on #3704
@pkanher617 no, at least in my setup it adds another parameter to the request in which it requests the custom html: some-domain-where-i-host-the-html.org/en/idpSelector.html?ui_locales=en

I couldn't find a lang=de parameter in another url, which one should it be?

[2021-06-02 09:04] Miwa199739 commented on #3687
Thanks for the response but still got a few questions.

Are you referring to that in MSAL 2.0, we can only fetch access tokens to a specific tenant that the user is logged into? say if we want a home tenant access token, then log in user to the home tenant, and whenever cross-tenant acquireToken is invoked, the user should be forced to log in to that tenant?
This sounds unexpected since if I pass

[2021-06-02 09:44] wparad commented on #3649
.

[2021-06-02 11:48] deepti1805 commented on #3692
ok @pkanher617 I was thinking some other solution for this condition but its fine will work on our application. Thanks.

[2021-06-02 11:49] #3692 closed

[2021-06-02 14:50] nbanek-fp commented on #3701
@pkanher617, Brian Taintor on Microsoft's WVD SDK team asked me to create this ticket as part of an ongoing investigation into this issue that we are conducting jointly with his team.  We've been working with the WVD SDK team for a couple months on the problem and they believe the next step to be taken is for us to work with the MS Identity team.  Brian's indication was that this ticket needed to

[2021-06-02 15:35] pkanher617 commented on #3701
Got it, when you have more information please feel free to update here, we can help from our end.

[2021-06-02 15:37] pkanher617 commented on #3704
It should show up in the call to the `https://<authority-url>/authorize/...` endpoint (the one which the page is redirected to or is opened inside of a popup). I will check with the B2C team what the expected behavior here should be.

[2021-06-02 16:07] pkanher617 commented on #3701
cc @hpsin

[2021-06-02 16:10] hpsin commented on #3701
Certainly this isn't an MSAL.js problem, as they're just requesting the token.  @jmprieur may be the best person to loop in, for the SDK server-side code.

[2021-06-02 16:10] RoystonGates commented on #3697
@sameerag Thankyou I took your advice and tried a clean install by deleting node modules and adding "@azure/msal-node": "^1.0.0" to the package.json and reinstalled. This worked and completed the installation though this time there was a warning rather than an error and was treated as an optional dependancy, which is fine by me, thanks again for your help :)

npm WARN optional SKIPPING OPTIONAL DE

[2021-06-02 16:10] #3697 closed

[2021-06-02 17:59] javafrog commented on #3649
We are also experiencing this issue. With the "new" default oauth code flow, there is no more need for refresh tokens, so it should not be any default and most certainly not mandatory for my app. The less such sensitive data is transferred across the Web, the better.

[2021-06-02 18:33] JWess opened #3705 "Provide a way to only retrieve cached tokens when calling acquireTokenSilent"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

My app uses Axios to make API calls. I have created and added an interceptor (see snippet below) for all outgoing requests. The interceptor calls `msalApp.acquireTokenSilent()` to get the access token and the

[2021-06-02 20:29] jbockle commented on #3674
I'm having the same issue with edgium/chrome v91 with an aurelia app.  Confirmed that users upgrading to v91 are now running into the issue as well.  I can't find a specific release notes from v91 that would cause this.  In some edge browsers, users are also seeing this error `Refused to display 'https://login.microsoftonline.com/' in a frame because it set 'X-Frame-Options' to 'deny'.`.  @pkanher

[2021-06-02 21:36] sameerag commented on #3697
Great!

[2021-06-03 06:04] ChaithanyaGK opened #3706 "Unable to login and acquireTokenSilent for Microsoft Personal Accounts with ARM Scope"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

Login or acquireTokenSilent using Microsoft Personal Account with ARM scope is failing with error "invalid_scope", the same request is working fine with organization accounts.

The login URL is "https://login

[2021-06-03 08:50] code-by-gijs opened #3709 "silent_sso_error after changing to new policy"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Last week we have changed our adb2c login policy to a new policy and we are now facing a problem with users unable to login. The `acquireTokenSilent` function throws an error: `silent_sso_error`. Users are not able to login a

[2021-06-03 14:31] noelmccrory commented on #3621
I'm seeing the same issue. We use hash based routing. With MSAL v1, MSAL would redirect to the correct URL. With v2, when following the setup as per samples, it appears to briefly redirect to the correct page, but then back again to the root URL.

If I remove the setting of `initialNavigation` or set `initialNavigation: 'legacy_enabled'` which is the default for Angular 9, then it works as expecte

[2021-06-03 14:49] jbockle commented on #3674
I fixed it in my case, I changed `redirectUri` for `acquireTokenSilent` to be an blank page without any msal initialization/backend authorization requirement per the FAQ https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/FAQ.md#when-using-a-popup-or-silent-api

[2021-06-03 14:50] noelmccrory commented on #3621
As per https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3647#issuecomment-844124029 , I downgraded msal-browser to 2.14.1 from 2.14.2 and it fixed the issue without having to change any `initialNavigation` settings.

[2021-06-03 15:55] murutchan opened #3710 "@azure/msal-react how to use it with microservices?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.10

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

none

### Description

Hello,
we have been trying to resolve the issue for almost 2 weeks now. We have a website that has 5-6 microservices. All of them live separately, and we use msal b2c for authentication. The problem is, when I

[2021-06-03 16:24] jasonnutter commented on #3706
@ChaithanyaGK In order to use ARM scopes with MSA accounts, you need to use `https://login.microsoftonline.com/organizations` instead of `/common`, and then enable MSA passthrough. Please try that and let us know if that works.

[2021-06-03 16:25] jasonnutter commented on #3694
@jo-arroyo Can you please look at this when you get a chance?

[2021-06-03 16:39] tnorling commented on #3709
@code-by-gijs It looks like there's a couple things going on here. First, it looks like you're trying to use the refresh token for policy `B2C_1_signin_v2` to acquire a new access token for policy `B2C_1_signin_v3`. This is not supported and what the AADB2C90088 server error is trying to tell you. Second, when this fails `acquireTokenSilent` will fallback to calling `ssoSilent` to attempt an ifram

[2021-06-03 16:40] sameerag commented on #3498
Closing this.

[2021-06-03 16:40] #3498 closed

[2021-06-03 16:45] sameerag commented on #2827
Closing this. We are working on a feature to improve the experience of installing dependencies for `msal-node-extensions`. Please check our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md) for updates, we plan to add this soon with a projected timeline.

Regarding this specific issue, a clean install usually solves most of the installation issues se

[2021-06-03 16:45] #2827 closed

[2021-06-03 16:47] sameerag commented on #3375
@samuelkubai is able to reproduce this. We are currently debugging now and will post an update soon.

[2021-06-03 16:52] sameerag commented on #3019
@waldekmastykarz This is now addressed in the docs [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-node-migration#remove-logic-around-refresh-tokens).

[2021-06-03 17:05] ChaithanyaGK commented on #3706
@jasonnutter Thanks for the reply. Could you please share any documentation around enabling MSA passthrough.

[2021-06-03 17:26] waldekmastykarz commented on #3019
Thanks for the update @sameerag. The document you mentioned only explains removing the logic for handling refresh tokens from old apps using ADALJS, but doesn't mention anything related to removing the refresh token from MSAL cache.

[2021-06-03 17:30] sameerag commented on #3019
Well, msal-node creates a new cache and hence we no longer refer to the older cache. You make a good point though, there can be a guidance for folks migrating to remove the older cache instance/data once we have fetched a new `refreshToken`. Let me work with my docs team and reach out.

[2021-06-03 17:41] derisen commented on #3019
@waldekmastykarz good point! @sameerag picking this up.

[2021-06-03 17:50] roopeshreddy commented on #3621
@noelmccrory  Our case was like, if we trigger authentication from deep app link and if the app url is in uppercase, it return back in lower case after authentication.

[2021-06-03 17:59] roopeshreddy commented on #3673
I've experienced this and I thought of opening a PR on this. Will do that soon.

[2021-06-03 18:17] noelmccrory commented on #3621
All of our URLs are lower case so I didn't see that particular issue.

On Thu, 3 Jun 2021, 18:51 Roopesh Chinnakampalli, ***@***.***>
wrote:

[2021-06-03 20:26] tnorling commented on #3705
@JWess We have a feature request #2884 open to support multiple concurrent calls to `acquireTokenSilent` which we hope to get to soon. This would make it so that if 2 or more of the same requests are made at the same time only one would go to the network but all would receive the response. Would this help solve your issue?

[2021-06-03 20:47] JWess commented on #3705
Thank you...I do think that would alleviate my issue. Though I do still think it would be useful to make `acquireTokenSilent()` more flexible/configurable.

[2021-06-03 20:48] JWess commented on #2884
I am very excited to hear this will be implemented. Hopefully soon!

[2021-06-03 21:08] thoo1 opened #3712 "First call to acquireTokenSilent is slow due to getting authority metadata, even if token is served from localStorage"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We've added some instrumentation to measure the timing of getToken and are noticing some higher than expected durations for tokens that were served out of localStorage.

Upon reproducing this locally, I noticed that the first

[2021-06-03 21:41] thoo1 commented on #3712
A suggestion I have is to do the resolveEndpointsAsync inside `handleRedirectPromise`? That way the request is started earlier (when application sets up authentication, vs when application wants to get a token for some request)

[2021-06-03 21:59] tnorling commented on #3705
Great thanks for confirming. We have had heard this feedback before, I'll mark this as an enhancement for now and someone will get back if and when there's an update. PRs are always welcome if this is something you need prioritized.

[2021-06-04 06:28] code-by-gijs commented on #3709
Thank you for your response. I didn't know it was falling back to `ssoSilent`. But I think that call fails because the browser doesn't support third party cookies.

I'm now using `account.idTokenClaims.tfp` to determine if the policy is correct. Thanks for the help!

[2021-06-04 09:45] jeromechrist opened #3713 "Infinite loop when using with Azure Ad B2C"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Following this issue I've encountered while trying the [samples with Azure AD B2C](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/2-call-api-b2c)

ht

[2021-06-04 12:46] brandonsmith86 opened #3714 "Can't Use Custom App Initializer with HttpClient"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I am currently using msal-angular v2.0, and configuring everything via APP_INITIALIZER providers (including HTTP_INTERCEPTORS).
[code]
This all works great, until I try to add another APP_INITIALIZER that

[2021-06-04 15:04] hhertogh opened #3715 "MSAL with Windows Virtual Desktop (WVD°"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.1.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,
We have a VueJS application which is using MSALJS to make use of the Azure AD authentication in a corporate environment (we enforce MFA for our users).
Our application is working perfectly in our offices but recently we

[2021-06-04 15:48] tnorling commented on #3709
The error you were getting was a configuration error and was thrown before it even tried to open an iframe. But yes this step would be expected to fail if 3rd party cookies are blocked.

In most cases `acquireTokenSilent` actually will return the server error. However, invalid_grant errors can be resolved by acquiring a new auth code and exchanging for new tokens so `acquireTokenSilent` will quiet

[2021-06-04 23:52] pkanher617 commented on #3710
Unfortunately in v1 we do not provide an API to only clear cache and not navigate to the logout API. This functionality does exist in v2, but we don't have any plans to implement this in v1 today. You can try clearing the cache yourself.

[2021-06-04 23:56] pkanher617 commented on #3713
Thank you for bringing this to our attention. I read through the issue posted in the angular-tutorial repo and will get back here once we can find a root cause.

[2021-06-05 00:03] pkanher617 commented on #3715
@hpsin any ideas here? Probably something to do with configuration for the app?

[2021-06-05 00:06] pkanher617 commented on #3712
We can take a look at some performance improvements here @thoo1, I agree with your sentiments here:

I'm not sure about resolveEndpointAsync inside handleRedirectPromise() but it's something we can consider.

[2021-06-05 00:08] pkanher617 commented on #3687
Discussed offline, seems like this will need some improvements in the library for multi-tenant scenarios (i.e. tenant profiles, multi-tenant accounts). We will track this here and add a PR when we have some bandwidth for this feature.

[2021-06-06 17:48] mmanikandan123 commented on #3693
we are using the "**@azure/msal-browser": "^2.14.0"** in **angular 10**.  Created the azure app service root and subfolder virtual directory, deployed the angular applications respectively into root and subfolder.
For example
Root site :  https://domain.com/
Subfolder site :  https://domain.com/site1

we are this build command for
root app: ng build --configuration=dev
subfolder site : ng build --

[2021-06-07 07:29] lukas-mertens commented on #3704
No, there isn't any: `https://<my-adb2c-name>.b2clogin.com/<my-adb2c-name>.onmicrosoft.com/b2c_1_registration_login/oauth2/v2.0/authorize?client_id=<my-client-id>&scope=openid%20profile%20offline_access&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2F&client-request-id=<my-client-request-id>&response_mode=fragment&response_type=code&x-client-SKU=msal.js.browser&x-client-VER=2.12.0&x-client-OS=&x-clie

[2021-06-07 07:51] jeromechrist commented on #3713
alright, thank you

[2021-06-07 12:13] gvheertum commented on #3674
I can confirm that version >= 91 Chrome/Edge are causing issues. Although Chrome does not seem to yield the error message edge is giving us, both Chrome and Edge are no longer working.

Firefox and Chrome <= 90 seem to keep functioning without any issues.

[2021-06-07 12:53] samuelkubai commented on #3674
@gvheertum @jbockle @mehdiibrahim @yvoneee did implementing the solution above, resolve your problems for Chrome and Edge with versions >= 91?

[2021-06-07 13:43] gvheertum commented on #3674
We are trying to get that one to work, but changing the redirectUri to a blank page causes other issues since this means that after the login we also go the the blank page. We might need to have some changes in other consumed packages. So for now no success yet :(

[2021-06-07 13:46] #3709 closed

[2021-06-07 14:15] nicolaszawada opened #3722 "Angular app is not being bootstrapped after B2C error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

We have an Angular application where all of our routes are protected by the `MsalGuard`. So when a user navigates to our application, it gets redirected automatically to our Azure AD B2C login page. The u

[2021-06-07 14:39] nicolaszawada commented on #3714
I am having the same issue.
I have noticed this is because of the `initialNavigation: isIframe ? 'disabled' : 'enabled'` in the `AppRouterModule`.

When removing this line, the wait for the `APP_INITIALIZER` is done correctly. However removing this is no option, because otherwise other MSAL related stuff is not working correctly.

I am able to fix this by fetching the relevant config in the main.t

[2021-06-07 14:50] jbockle commented on #3674
Its fixed for me.  Specifying the blank page redirectUri for `acquireTokenSilent`/`acquireTokenPopup` shouldn't cause any undesired redirect issues, don't set it to the blank page for `loginRedirect`, set it to your desired redirect page.

[2021-06-07 14:57] mehdiibrahim commented on #3674
A redirectUri in itself didn't work for me. But after upgrading our project to .NET core 3.1 and the front end libraries, it resolved itself. I need to dig in a little deeper to isolate the cause and fix and will post back once I have more clarity.

[2021-06-07 15:11] brandonsmith86 commented on #3714
Interesting @nicolaszawada.  I don't have `initialNavigation` set in my app router module and am still seeing the issue with APP_INITIALIZERS not waiting.  Based on your info here, I tried setting `initialNavigation` to `'enabledBlocking'`, since that is supposed to be the equivalent of `'enabled'` in the latest version.  I noticed no difference; app initializer is still running before authenticat

[2021-06-07 16:01] a2441918 opened #3723 "How do I get Bearer (Access) Token in v2 format using @azure/msal-react?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I created a new app service and set accessTokenAcceptedVersion to 2 in manifest.json as I am looking for a v2 token similar to [here][1]. However the accessToken generated by Microsoft always has an iss value

[2021-06-07 16:26] #3665 closed

[2021-06-07 18:15] derisen commented on #3723
@a2441918 the access token version that your app gets is dictated by the resource server that the token is intended for. Here it looks like this access token is meant for calling MS Graph API, in that case there isn't much you can do, its up to the Graph API. If you were acquiring a token to call your own web API, you could set this the same way (Manifest> `accessTokenAcceptedVersion`) in your web

[2021-06-07 19:21] derisen commented on #3713
Adding the [repo for reproduction](https://github.com/jeromechrist/repro-step-b2c). cc @jasonnutter checking for `interaction_in_progress` in the component where looping happens doesn't seem to have an effect.

@jeromechrist Can you capture the network trace using [Fiddler](https://www.telerik.com/fiddler) and send it to us? You can use the email under my [profile](https://github.com/derisen).

[2021-06-07 19:38] derisen commented on #3722
@nicolaszawada **MsalGuard** should not be added to the route that serves as `redirectUri` (here, `path: '/'` for **HomeComponent**). Can you either remove **MsalGuard** from there or use a different `redirectUri`, like `localhost:4200/redirect`? Does this help? (see [also](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#what-should-i-set-my-redi

[2021-06-07 19:52] jasonnutter commented on #3713
General comment: apps using redirects with MSAL Angular must make sure to not perform any action (e.g. http request) that might result in an interactive MSAL request (e.g. redirect to the login page) until any previous interactions have completed. This can be done by subscribing to the `$inProgress` subject and waiting for `InteractionStatus.None`.

Details here: https://github.com/AzureAD/microso

[2021-06-07 21:10] hpsin commented on #3715
Seems like a conditional access concern.  Ravi Vennapusa may have ideas?