[2020-01-24 23:17] #1238 closed

[2020-01-24 23:17] UnbiasedGoat commented on #1238
It was spring security denying the x frame.

.headers().frameOptions().sameOrigin()

[2020-01-24 23:47] hpsin commented on #1037
#please-close
The resolution to this issue is: AAD and MSA servers have updated (several months ago) to correctly mark the cookies that are needed.  Some cookies are not marked by design, which causes warnings to appear in the Chrome dev console. Any issues in your site that occur when signing into AAD need to be fixed in your app.

[2020-01-25 10:24] daniel-codeoasis opened #1242 "get data from login page in the app"
## Library
- [ X] `msal@1.2.1`

## Description

I'm using msal.js in my Angular app (**not** the Angular wrapper).
I'm sending the "ui_locales" query param to the login page so the user can see the page in the same language he had in my app.

but if the user changes this parameter I want to know about it and redirect him to the corresponding language.

the redirect callback in the "response-handle

[2020-01-25 16:42] rits-development commented on #1229
My answers to your questions/remarks:
1. That was the way it used to work with ADAL. Guess that's no longer the way to go for MSAL?
2. When I try that setup, I get redirected to `https://localhost:30666/auth.html` (since it's configured like that on `https://localhost:30666/` and my Azure AD App Registration). But since `auth.html` is an empty page per the docs you referred to, nothing happens. Th

[2020-01-25 17:33] extfoxDusan opened #1243 "Getting Access Token from Intune Company Portal for iOS"
Hi Guys, I am trying to receive the token of the currently logged user at Intune Company Portal.

We are creating an application that's being distributed through the Intune app, and from there we would like to have SSO ready. It does not make sense for us to prompt login if user is already authorized through the Intune Company Portal app.

**Is this possible?**

[2020-01-25 20:23] sameerag commented on #1243
@extfoxDusan Can you please follow the template while raising issues? Is it possible that this is a MSAL iOS question as we do not support mobile apps with MSAL JS, we only support single page applications.

[2020-01-25 20:47] sameerag commented on #1242
@daniel-codeoasis Our `response` is constructed based on the `service  response`.  I do not think `ui-locales` are supported but will reach out once I confirm it.

Other options I can think of for you to tie up a request to a response is to pass a "state" parameter with the request, which is returned unchanged to you.

[2020-01-26 06:54] sameerag commented on #1240
@mjrousos Thanks for the follow up comment. I think this could be an issue with our scopes cache logic, which may be treating the second call as a new call since we check the token cache based on our scopes. Will track this and update once we confirm if this needs a fix from us.

[2020-01-26 07:03] sameerag commented on #1239
@vcrudu Can you please follow the template when raising a new issue? It helps us to address your issues faster.

Please fill in the sections mentioned in the sample, especially the code sequence of where you are calling `getAccount()`.

[2020-01-26 07:59] daniel-codeoasis commented on #1242
Thank you for the response.

The first method you mentioned might work, but I don't want to change the "state" parameter in the login page manually, which may cause unwanted side effects.

setting different redirectURI won't work also, possible scenario:
user starts with the English version -> get the "/en" redirectURI -> changing the ui_locales in the login page to "/es" and now I want him to com

[2020-01-26 10:50] Choran66 commented on #1011
"Very soon" is not a helpful response for those of us with schedules.

[2020-01-26 13:57] daniel-codeoasis commented on #1242
For now, I manage to have this functionality by changing the "redirect_uri" parameter in the url with JS, and adding each redirect_uri I want to support in Azure.

if there a better way to do it please tell me.

[2020-01-26 14:20] Raysapps commented on #1213
Executing 'ng build ---prod'  with   @azure/msal-angular 1.0.0-beta.1 version is giving an error "Function calls are not supported in decorators but 'Logger' was called in 'environment'".
I understand that this is a beta version but this is stopping me from publishing on to Azure. If anyone can please suggest a workaround, that'll be great.

[2020-01-26 22:24] rellis-of-rhindleton opened #1244 "Is BroadcastService's use of observables set in stone, or can it be improved?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

BroadcastService exposes a way to subscribe to messages regarding msal activity, but the way it works is not what I would normally expect in an Angular application, or with RxJS in general.

-

[2020-01-27 07:53] gopinav opened #1245 "[Help needed] How to implement forgot password flow?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm trying to implement the 'Reset Password' or 'Forgot Password' flow but the msal

[2020-01-27 09:39] ricey-cmd commented on #1213
@asanchezfe I am using angular 8, not sure what version of webpack. If you want I can strip back my project to a bare bones sample and put a link to it on github for you to look at.

[2020-01-27 09:57] sorenhoyer commented on #1000
It is pretty easy to get authorization code with pkce working for b2c with oidc-client up until the point of the cors issue, which MS does not seem to have an interest in fixing anytime soon?

https://stackoverflow.com/questions/34200409/cors-issue-when-getting-a-token-in-azure-ad-b2c-implict-flow
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37689847-cors-for-token-e

[2020-01-27 11:57] AbhaysinghBhosale opened #1246 "How to autoRenew msal.idtoken before expiry"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.2.1`

## Description
I have implemented the user login flow using the msal in SPA react application. Normal login flow is working fine(except sometime redirect loop).

The issue is msal.idtoken is valid for 1 hour and we send this to out back-end API's. So API fails

[2020-01-27 12:30] asanchezfe commented on #1213
@ricey-cmd if you do, I can take a look. Don't know why, but we don't have this issue.

[2020-01-27 13:23] eirikb commented on #1072
We are about to release my hack to production, as we have no other choice.

I've updated my demo, and made it runnable for others to test, in order to find bugs.
Add this manifest as [Custom add-in](https://docs.microsoft.com/en-us/outlook/add-ins/sideload-outlook-add-ins-for-testing):
**https://eirikb.github.io/msal-outlook-demo/manifest.xml**

@oscarcosta Using the version is a good idea, as the

[2020-01-27 13:36] wvanderdeijl commented on #1207
We are also running into this issue after upgrading MSAL from v1.1.3 to v1.2.0.
This change in behaviour seems to have been introduced in ff2b0e3164278004c9f3d2a36a1f49484ddaabc1

As stated above, this can break the login flow whenever a link is used to access the application. To make things worse, our users use the application links from https://myapps.microsoft.com to access the application and

[2020-01-27 13:50] wvanderdeijl commented on #1207
This is probably related to #1095 and #1198

[2020-01-27 14:17] DASPRiD opened #1247 "msal creates iframe with redundant sandboxing"
In [WindowUtils.ts](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/utils/WindowUtils.ts#L132), an iframe with sandboxing is created, with both allow-same-origin and allow-scripts set.

This makes the sandboxing itself redundant, and browsers like Firefox actually recommend to just remove the sandboxing altogether in that case. See "Notes about sandbox

[2020-01-27 16:18] daniel-codeoasis opened #1248 "acquire token on IOS Safari"
## Library
- [X] `msal@1.2.1` `

## Description

knowing this issue:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-known-issues-safari-browser

is there any other method I can acquire token on iPhone Safari?
or it just impossible to use msal.js with iPhone Safari?

I've tried using acquireTokenPopup but the same result: redirect back to the login/signup page.

[2020-01-27 17:04] pasanenl commented on #1222
@sameerag Do you know if this issue is being addressed as a bug? We've hit this issue on every version of MSAL for Angular 1.0.0. We see this error **ClientAuthError: URL navigated to is https://xxxx, Token renewal operation failed due to timeout.** We've used the previous versions of MSAL for Angular without hitting this issue.

To reproduce: Have an http interceptor or code that retrieves a toke

[2020-01-27 18:59] sameerag commented on #1248
Support for auth-code flow in the browser, with some server features will be the solution for this. @pkanher617 just released an alpha branch for auth-code support in the browser, we are hoping that by March (this quarter) we will have a better handle on ITP issues (safari).

Hope this clarifies.

[2020-01-27 19:05] daniel-codeoasis commented on #1248
so meanwhile, no support for iPhone Safari at all?

[2020-01-27 20:42] pkanher617 commented on #1248
@daniel-codeoasis Due to issues with ITP, the current version of msal (1.2.1) will not work completely with Safari when the ITP updates are put into place. As @sameerag pointed out, when we have the auth-code support available in March, we hope to address these issues. Sorry for any inconveniences!

As the link you posted shows, you can try the workaround to uncheck "Prevent cross-site tracking",

[2020-01-27 21:05] pkanher617 commented on #1242
Hi @daniel-codeoasis, I'm a little confused by your use case. Is this being done for a B2C use case as described [here?](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-language-customization#customize-the-page-ui-by-using-language-customization). If so, then it will be a little more complicated as we only support user query parameters, no path changes. W

[2020-01-27 21:09] pkanher617 commented on #1243
Hi @extfoxDusan, could you please use the [issue template](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/.github/ISSUE_TEMPLATE/question.md) when creating these issues? It makes it easier for us to identify what library you are using.

MSAL.js is meant to run in browser environments, so is this an [MSAL iOS](https://github.com/AzureAD/microsoft-authentication-library-

[2020-01-27 21:13] jasonnutter commented on #1247
@DASPRiD This is intentional, as the sandboxing is to prevent the hidden iframe from navigating the top frame (but we still need scripts to execute in the iframe and need be able to access it programmatically via same-origin).

[2020-01-27 21:17] DASPRiD commented on #1247
So is it a bug in the Firefox developer tools console then that it reports this?

```An iframe which has both allow-scripts and allow-same-origin for its sandbox attribute can remove its sandboxing.```

[2020-01-27 21:23] jasonnutter commented on #1037
Thanks @hpsin, closing.

[2020-01-27 21:23] #1037 closed

[2020-01-27 21:33] pkanher617 commented on #1246
@AbhaysinghBhosale in order to renew id tokens, you need to use acquireTokenSilent with the client-id of your application as the scope.

So before you send the token to your backend application, but after the initial login call, you can retrieve a valid token from MSAL by doing the following:
[code]
acquireTokenSilent will perform the token renewal if the expiry time is within the tokenRenewalOffs

[2020-01-27 21:40] jasonnutter commented on #1247
@DASPRiD Typically, sandboxing is used to isolate 3rd-party websites for scenarios such as when they are used as widgets, for example. In our case, there are only two domains that will rendered inside the hidden iframe: your authority domain (e.g. login.microsoftonline.com) and your website itself. Because we trust both of these domains, were not worried about the iframed page being able to remove

[2020-01-27 21:46] pkanher617 commented on #1245
Related to https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/9.

[2020-01-27 21:47] pkanher617 commented on #1245
@gopinav Sorry for the inconvenience. We are working on making the B2C experience in our library smoother, I will update here when I have more info.

[2020-01-27 21:49] jasonnutter commented on #1244
@rellis-of-rhindleton This is great feedback, thanks for the explanation!

This seems like a sensible change, especially if it makes for a more idiomatic Angular library. I would definitely be open to considering this change, and would love to see a PR to demonstrates a proposed changed. Feel free to create a PR off of `dev-angular-1.0-beta` (which I will be very soon).

Since we are still in pre-

[2020-01-27 22:01] johnmccrae commented on #547
Hi, I am getting this error from the Azure training website. https://www.microsoft.com/en-us/learning/azure-exams.aspx

It blows up as soon as I touch any exam and it tries to log me in.

[2020-01-27 22:02] johnmccrae commented on #547
@jasonnutter A current example for you.

[2020-01-27 23:30] sameerag commented on #1222
cc @jasonnutter who is working on Angular.

[2020-01-27 23:54] jasonnutter commented on #547
@johnmccrae Thanks, I'll find out who owns that site and let them know.

[2020-01-28 00:00] rellis-of-rhindleton commented on #1244
Idiomatic - that’s the word I was looking for, thank you.

Backwards compatible just means not getting rid of the existing public members, right? I’ll write something up.

[2020-01-28 04:46] AbhaysinghBhosale commented on #1246
Yes i know about acquireTokenSilent but should i explicitly call this method ?

i had created a function called acquireToken as below

[code]

after setting `tokenRenewalOffsetSeconds: 300` msal will automatically call this function was expected. OR i have to call this method explicitly 5 min before token expiry. I generate own token using msal.idtoken  once user logged in and renew it every hr if

[2020-01-28 04:55] marckassay commented on #1213
@Raysapps you can omit the system object in the config:
[code]
Strangely, simply just assigning `undefined` to logger results in run-time errors. So hence omitting system object.
Although it would be better to provide an 'alternative class provider'. But it seems that the way this Logger is being imported in msal, it is making it difficult to do so.

[2020-01-28 08:05] daniel-codeoasis commented on #1248
but I can't prompt my users to change their browsers settings...
and without acquiring token the library can't be used in iPhone at all.
so, no solution until March?

[2020-01-28 08:20] daniel-codeoasis commented on #1242
my scenario is as follows:
- the user goes to my-site.com/en
- redirect to an English login page.
- in the login page, the user changes the language to Spanish (ui_locales = "es").
- the user performs a login, and by default redirected to my-site.com/en

I want to redirect him to the Spanish site (my-site.com/es).

[2020-01-28 09:30] hrishy opened #1250 "Acquire both id_token and access_token in one call"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How do i acquire both id_token and access_token in one call to azure id ?

[2020-01-28 10:49] daltondhcp commented on #1161
Do we have an update on this issue?

[2020-01-28 11:02] ShinRai1090 commented on #421
@jasonnutter Can we expect the update this month?

[2020-01-28 12:19] DASPRiD commented on #1247
Ah well, that makes sense. It still feels like the message is misleading in that case, since the sandboxing still has an effect, so I'd assume that Firefox should not confuse developers with it. I gonna check with them how they feel about it, thanks for your time :)

[2020-01-28 16:47] jasonnutter commented on #1219
@jfbloom22 That means MSAL doesn't think the user is logged in. You should check if `msalApp.getAccount()` is truthy, and if not, invoke one of the login methods before calling one of the acquireToken methods.

[2020-01-28 16:51] jasonnutter commented on #1244
@rellis-of-rhindleton Correct. If you are able to make it a non-breaking change, we can add it incrementally to the upcoming Angular release, instead of having to decide now between potentially delaying that release or waiting until v2.

[2020-01-28 17:03] #1247 closed

[2020-01-28 17:11] WretchedDade commented on #965
@sameerag Any update?

[2020-01-28 20:31] OlivierTD commented on #421
@jasonnutter I saw a merge of a beta version that happened today. Any ETA on when that version will be released? We're just starting a new project. It would be great if we could just use this new version right off the bat. Thanks!

[2020-01-28 23:21] jasonnutter commented on #1213
I have put together a PR to address this: #1251. The PR includes updates to the new samples, showing proposed usage. Let me know if you have any feedback! Will work to get this release ASAP (at least as a beta that you can use with the new Angular wrapper).

[2020-01-28 23:40] luklew commented on #843
I have the exact same issue, I cannot login using Chrome or Safari on iOS. I managed to log in using Safari only when I disabled "Prevent cross-site tracking", but that's not the best solution since most people will have that enabled.

Im using msal-angular 0.1.4.

Any news/solutions on this?

Thanks

[2020-01-28 23:48] luklew commented on #843
Any updates on this?
Thanks!

[2020-01-29 04:46] NareshKumarM opened #1252 "Differentiating between idToken acquired on sign in vs idToken acquired silently/renewed"
## Library
- [x] `@azure/msal-angular@0.x.x` - 0.1.4

## Browser
- Chrome - Version 78.0.3904.108

## Description
Hi Team,

I am fairly new to the MSAL-Angular realm and I have this question of differentiating between idToken acquired on sign in vs idToken acquired silently/renewed. Are there any identifiers in the idTokens themselves that can indicate that the token acquired, is either a fresh on

[2020-01-29 10:22] Raysapps commented on #1213
@marckassay : Successfully built by omitting system object, but  resulted in  run time  error in the browser console "ERROR TypeError: Cannot read property 'framework' of undefined"

[2020-01-29 11:50] don1989 commented on #1199
@thisisbrianstewart Thanks for your support so far. I was wondering if you could clarify an issue I am still having. Even after adding the empty auth.html to my public folder and changing the tokenRefreshUri AND updating the redirectURI in the Azure portal too to use http://localhost:3000/auth.html, this error is still happening when the token is attempting a silent refresh (usually the next day).

[2020-01-29 12:05] asanchezfe commented on #1213
Hi guys,
have you tried to use a factory to pass the conf (@jasonnutter)?  As I told previously, we are using AOT and Angular 8 without getting any error calling new Logger on a decorator, cause the call is not really on the decorator:

[code]

[2020-01-29 12:10] AbhaysinghBhosale commented on #409
Did the same implementation. But have to issue with calling aquireTokenSilent() method. Documentation says call this method each time i call REST API (backend in c#). This is not feasible for me.

So want to renew token only if it is near expiry. do i have to write own logic to track expiry time and call the method ?

[2020-01-29 15:47] toddfsnyder opened #1253 "MSAL.JS SSO No Longer Works when Upgrading to 1.2"
## Library
- `msal@1.2`

## Framework
Angular 7 (SPA) Using MSAL.js library directly

## Description
We have different applications configured to work with Azure B2C (Angular 7 and ASP.NET MVC 4.8). Previously when using msal.js 1.0.2 SSO was working when we logged into the ASP.NET MVC application than navigated to the Angular 7 application (see sample code below). After upgrading to 1.2 (or 1.2.1

[2020-01-29 18:00] thisisbrianstewart commented on #1199
Hi @don1989 -- answering the questions you've asked below, but in general, you will need to setup the Azure AD App Registration to have _both_ http://localhost:3000/auth.html and http://localhost:3000 as Redirect URIs.  The silent token refresh loads an iframe into that empty auth.html file, and that same auth.html file needs to receive the response back, so the acquire token silent flow provides

[2020-01-29 19:00] ranjanmicrosoft opened #1254 "TypeError when acquiring token for scopes"
## Library
- [x] `msal@1.2.1`
- [x] `@azure/msal-angular@1.0.0-beta.1`

## Description
Received the following error when trying to get token for graph API.

Error when acquiring token for scopes: user.read TypeError: Cannot read property 'extraQueryParameters' of null

## Regression

I haven't successfully used MSAL yet.

## Configuration

        MsalModule.forRoot({
            auth: {

[2020-01-29 20:36] jfbloom22 commented on #701
This is still an issue for me on MSAL 1.2.1 and setting `storeAuthStateInCookie` to true did not help.

[2020-01-29 20:57] don1989 commented on #1199
Awesome @thisisbrianstewart thanks a lot for your assistance and taking your time out to explain so thoroughly! It is very much appreciated! :)

[2020-01-29 21:19] sameerag commented on #701
@jfbloom22 I believe this is because IE restricts URL length and in cases where response_type=id_token_token, we observed that the browser trims the end of the #hash sent by the server which contains state, expiry_time etc.

This is tracked with #1172 where msal js can add a check detecting IE/any other browser that restricts URL lengths in response and make two calls to the service instead of one

[2020-01-29 22:03] jfbloom22 commented on #701
@sameerag thanks for the quick response.  I am able to replicate the issue consistently in Safari and Chrome for Mac.

[2020-01-29 22:14] pkanher617 commented on #1246
MSAL will not automatically call acquireTokenSilent. MSAL doesn't place any timeouts on the page to renew a token. The library will instead check the token **when it is retrieved**.

Which means that you should be calling acquireTokenSilent **when you need the token**. If this function is called within the renewal offset (5 min before expiration), or after the expiration, we will renew the token a

[2020-01-29 22:18] marckassay commented on #1213
@asanchezfe thanks, I haven't applied your recommendation. Your initial post didn't included the second half of your previous post, which confused me on how it could of worked. In addition, I was exhausted at the time of discovering this issue and settled on the least cognitive intensive solution, which was to pull the object out of code.

But I believe your solution is correct. I found that error

[2020-01-29 22:21] pkanher617 commented on #1242
As I said above, please try sending
[code]
and see if this works for the B2C service. If this doesn't work I can do more investigation into how to get this use case working for you.

[2020-01-29 22:35] jasonnutter commented on #1176
@gauravgoyal5 Apologies for the delay. Can you please try changing your configuration as such:

[code]

[2020-01-29 22:55] marckassay commented on #1213
@Raysapps,

There is a 'framework' literal object which is one of 'system' siblings. I just recommended to remove the 'system' object. Perhaps you deleted 'framework' object?

[2020-01-29 23:59] jasonnutter commented on #1250
@hrishy Can you explain your use case? The library sets the response type based on the status of the cache and request type.

[2020-01-30 07:00] anderseide opened #1256 "Support for SSR in msal.js"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Based on my own testing, and issue #914 and #608, Server Side Rendering support see

[2020-01-30 07:23] AbhaysinghBhosale commented on #1246
I had created own logic to check msal expiry by following function
[code]

and

[code]

So it call aquireTokenSilent when expiry is greater than current time-5 min. But the issue is that logger shows `Thu, 30 Jan 2020 07:20:34 GMT:1234-1.1.3-Info User login is required` and error in console is

[code]

[2020-01-30 08:20] Nasicus commented on #1222
In our production app - without - angular this also happens form time to time. I couldn't find a way to reproduce it now, but it happens so often, that in our error log we have like ~ 10 entries of this per day.
When it happend to me I basically just refreshed the page again and it worked.....However it's obviously annoying, because an error is shown on the first page load.

The error looks like t

[2020-01-30 12:04] arabelaa commented on #1199
When the token expires I get an `InteractionRequiredAuthError `with errorCode "`login_required`".
As mentioned in the documentation I call `acquireTokenRedirect ` with the scope parameter.

My redirectUri in Azure AD is `http://localhost/local`.
But when calling `acquireTokenRedirect `I get the new accessToken but the redirect is done to `http://localhost` - a non existing page, having into accoun

[2020-01-30 15:02] sameerag commented on #1253
@toddfsnyder Any fiddler trace or logs that can help us? Also, did you try our angular branch [msal-angular](https://www.npmjs.com/package/@azure/msal-angular/v/1.0.0-beta.1)?

[2020-01-30 15:11] sameerag commented on #1252
@NareshKumarM AFAIK `idTokens` are JWTs that do not contain the information whether they are invoked for the first time or renewed. When you request for a token, depending on your cache and the specific API call made (interactive vs silent) the library fetches the token either from the cache or from the network. There are use cases that may fetch the idToken from cache and not renew it.

The only

[2020-01-30 15:13] sameerag commented on #1256
@hamiltonha to follow up internally if this feature is in the pipeline.

[2020-01-30 16:06] emadalsous opened #1257 "After login access token is expired, MSAL interceptor acquire token for every request"
Hello I am using MSAL with Angular. When i first login the website work correctly as expected. After a while, i think after the first token refreshing, MSAL interceptor start to make acquireTokenSilent for every request.

I checked the interceptor and i found that the following method is always returning null after the first acquired token expires and renewed:
const tokenStored = this.auth.getCach

[2020-01-30 18:01] sameerag commented on #965
Couple of things here:

- Google accounts are accessible with B2C with our current sample [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) - the existing issue is only with multiple google accounts, and it is a bug with the B2C Service. When there are two active google accounts logged in, `msal js` sends `prompt=select_account` to the service for the user

[2020-01-30 18:07] sameerag commented on #1161
@daltondhcp This could be unrelated to scopes.  Can you describe the steps to repro this and we can debug? I suspect that there is some service API expecting interaction in this use case, I can have the B2C dev team help us understand if this is a supported scenario. cc @ktsakas

@jennyf19 does this use case work for .Net?

[2020-01-30 18:09] d-daeda commented on #1011
Try creating a microservice with lambda implementing the graphQL so the need for this library is removed.

[2020-01-30 18:11] sameerag commented on #1237
@davallen what happens if you just pass `scopes`? I am curious if there is an overwrite somewhere, we check this the first thing in our `request` APIs and did not encounter this before.

Can you also try with chrome dev tools to check what is the value passed to the msal in the debug window? I suspect a local runtime issue.

One other option is to share us a sample app with steps of repro, if your

[2020-01-30 18:19] jasonnutter commented on #1257
@emadalsous Can you please clarify which version of the library you are using? And in the future, please follow one of the Github issue templates, thanks!

[2020-01-30 18:40] sameerag commented on #1256
`According to documentation, MSAL SSR support exists for ASP.NET Core, ASP.NET, Java and Python. Javascript would be a good addition in 2020`

@anderseide `msal-node` is in the pipeline and we are currently in the planning stages. This could potentially add this support for you. Please check our roadmap for the timelines, we will update it when we have a plan in place.

[2020-01-30 19:28] jennyf19 commented on #1161
@sameerag i read through the issue from @daltondhcp and if it's regarding MFA + user flow, we do not have this issue in .NET. The set up of MFA happens in the portal on a per user flow basis, and is outside of the control of MSAL.NET. Let me know if you need anything else from us.

[2020-01-30 20:19] jasonnutter commented on #1213
@ricey-cmd @Raysapps @marckassay Please update to `msal@1.2.2-beta.0` and `@azure/msal-angular@1.0.0-beta.2`, which has fixes for the issues with `Logger`, `Map`, and `framework of undefined`: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/5c616874cf81eded852b69618e2d53abb896ca41/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md#adjustments-for-aot-mode

For `Logger`, you can

[2020-01-30 20:44] mpetro-t commented on #1072
Is there any timeline or official feedback/workaround from Microsoft about this bug?

[2020-01-30 20:58] sameerag opened #1258 "msal-node PR tracker"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
`msal-node` is currently in development. The project status can be monitored in the [MSAL Node]() project page. All the PRs checked in towards building this library will be also listed below.

**Note**: This is a dynamically changing list until the `alpha`  branch is released for `msal-node`

## Phase I: All base modules in `msal-com

[2020-01-30 20:58] sameerag commented on #1256
Closing this to track with #1258.

[2020-01-30 20:58] #1256 closed

[2020-01-30 21:11] frnk01 commented on #1072
Hope this is fixed asap. Can you share any timeline @jasonnutter @sameerag ?

[2020-01-30 21:53] jasonnutter commented on #1226
@keystroke Thanks for the context, and apologies for the delayed follow up. We'll definitely make sure that requests are not cancelled and that the right tokens are handed back to the right requests.

Having the same-scoped requests de-duped into a single request is unlikely to change, as we need to help prevent clients from unintentionally making too many of the same request in a short period of

[2020-01-30 21:56] jasonnutter commented on #1045
@LiamMartens Thanks, we'll take a look at that PR and provide feedback there.

[2020-01-30 22:06] jasonnutter commented on #1218
@asanchezfe To clarify, the access token is correctly attached in the Authorization header, but then after an hour, you get `null`? Does this happen every time or is it intermittent?

[2020-01-30 22:09] jasonnutter commented on #1227
@mohanrajselvam007 Can you try the new version of MSAL Angular and let me know if this is still an issue?

Upgrade instructions here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-01-30 22:13] jasonnutter commented on #421
@Taats @ShinRai1090 @OlivierTD Please follow the upgrade here to try out the new beta for MSAL Angular: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

This version will support Angular 6+ and rxjs 6.

[2020-01-30 22:16] unindented opened #1259 "localStorage `expiresIn` out of sync with JWT `exp`"
## Library
- [X] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
No framework.

## Description
We’re seeing instances where MSAL's `expiresIn` value stored in `localStorage` differs quite a bit from the `exp` value in the JWT token (sometimes in the minutes, sometimes in the hours/d

[2020-01-30 22:16] jasonnutter commented on #1011
@stevenruizhang @jaleleddineagrebi @Choran66 There is a new beta for MSAL Angular with rxjs 6 support, including samples for Angular 6, 7, 8 (9 coming soon). Please see this upgrade guide for details: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

Apologies again for the delay, and let me kn

[2020-01-30 22:17] WretchedDade commented on #965
@sameerag thanks for the follow up. I am signed in to multiple google accounts. I'll log out of all but one and see if that resolves my issue!

[2020-01-30 22:24] jasonnutter commented on #843
@mohanrajselvam007 @luklew We have a new beta of the Angular wrapper, details here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

I've heard a few reports of trouble with mobile browsers, so we'll investigate that now and try to get a solution soon.

Note, that if cross-site tracking is ena

[2020-01-30 22:33] jasonnutter commented on #1222
@Nasicus What happens when you open that `login.microsoftonline.com` url in its own tab?

[2020-01-30 22:37] jasonnutter commented on #1199
@arabelaa You can set redirect URIs per request, so when you call `acquireTokenRedirect`, you can set the `redirectUri` on that request to a url that is different from the `redirectUri` you set in the configuration of `UserAgentApplication`.

[2020-01-30 22:44] luklew commented on #843
@jasonnutter Thanks for your reply! Does the beta version you linked solve the issue, at least for now?

[2020-01-30 22:46] jasonnutter commented on #843
@luklew I haven't done any work for this issue specifically, so potentially not.

[2020-01-30 22:51] luklew commented on #843
@jasonnutter Just as a very rough guide, do you know when it may be ready in the beta at least? It's currently being used in our production software and we're just trying to look at options depending on how long it may take to fix.
Thanks!

[2020-01-30 23:20] jasonnutter commented on #995
@NareshKumarM Can you try upgrading to the beta of MSAL Angular 1, and let me know if this issue still exists?

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-01-30 23:24] jasonnutter commented on #1074
@hilarudeens If this is still an issue, can you try the latest version of MSAL Angular and let me know if this is still an issue? https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

Note, we have heard about issues with popups in IE/Edge, so you may want to try using redirect methods for IE/Edge

[2020-01-30 23:26] jasonnutter commented on #1122
There is a now beta and an upgrade guide: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

Please let us know if the latest version fixes this issue, thanks!

[2020-01-30 23:27] jasonnutter commented on #1035
MSAL Angular has now been updated with the latest version of MSAL, upgrade guide available here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

Please let me know if this is still an issue after upgrading, thanks!

[2020-01-30 23:28] jasonnutter commented on #1139
@HockeyJustin Can you please try the latest MSAL Angular beta and let me know if it fixes this issue? https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-protectedresources/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-01-31 07:08] Nasicus commented on #1222
do you mean now or when it happens? Because now it  just immediately back to the app. The next time it happens to me I will try it.

[2020-01-31 12:04] asanchezfe commented on #1218
Hi @jasonnutter
I'm not really sure if sometime works, but it seems to happen every time.
Let's see a sample:
- I was using the app until  09:55.
- I left the computer and after a while, at 11:13 I make an action on the app (I didn't close the tab) that makes a REST call so Msal interceptor makes a GET call to
`https://login.microsoftonline.com/MY-CLIENT-ID/v2.0/.well-known/openid-configuration`
I

[2020-01-31 14:34] rellis-of-rhindleton commented on #1244
Hey, so I'm not ignoring this, but I'm behind the curve on the tooling. Never dealt with a lerna project before. Are we supposed to be able to build msal-angular and have the updated code be usable by the sample projects, or am I misreading this?

If you don't have time to point me in the right direction I understand -- but on the other hand I'll be happy to write up a cheat sheet, if I can get it

[2020-01-31 15:49] HockeyJustin commented on #1139
@jasonnutter . Thanks for the update. Unfortunately, It will be a few weeks until I get the chance, but I'll defintely get on it and let you know the result. Thanks for the update.

[2020-01-31 18:08] jasonnutter commented on #1244
@rellis-of-rhindleton After cloning the repo, run `npm install` in the root. This will first install lerna, then bootstrap all of the libraries and samples, which yes, will make it so that the samples will use the local versions of the library. If it doesn't appear that this is happening, `cd` back to the root folder and run `npx lerna bootstrap`.

[2020-01-31 18:12] jasonnutter commented on #1218
@asanchezfe Thanks for that info. I'll investigate and let you know if I need more info.

[2020-01-31 18:16] jasonnutter commented on #1222
@Nasicus When it happaens, specifically. And if you could share one of those urls with us, that would also be helpful. (Email is on my profile page). Thanks!

[2020-01-31 19:14] sameerag commented on #1253
@toddfsnyder Any update?

[2020-01-31 19:16] sameerag commented on #1252
@jasonnutter Anything to add for `msal-angular`?

[2020-01-31 19:22] sameerag commented on #1199
Since the original issue is addressed and we have the documentation needed for this in draft now, I am closing this issue. Feel free to ask us any open questions though.

[2020-01-31 19:22] #1199 closed

[2020-01-31 19:22] sameerag commented on #1204
@hamiltonha Since you are tracking this internally and it is now in the queue, closing this git issue.

[2020-01-31 19:22] #1204 closed

[2020-01-31 19:25] jasonnutter commented on #1252
In `msal@1` we have added a `fromCache` property to `AuthResponse`, which will indicate whether or not the token was returned from the cache or from the network. I'm not sure if that is exactly what you are looking forward, but it is the closest we have I believe.

This is available in the new version of MSAL Angular. Please follow the instructions here to upgrade: https://github.com/AzureAD/micro

[2020-01-31 19:26] sameerag commented on #1250
@hrishy We discourage fetching both tokens always by default: `response_type` is set by the library and not by the user by design. If a user is logging in for the first time, we set it to `id_token`; based on the cache state and any hint sent to us about an existing session, we set it to `id_token_token`. We advise the users not to modify this, as this may cause performance issues fetching two tok

[2020-01-31 20:44] toddfsnyder commented on #1253
No, we are not using the msal-angular library, our application is already in production with no plans to migrate at this time. I will email the fiddler trace.

[2020-01-31 21:23] jasonnutter commented on #843
@luklew I'll start looking into this issue next week, and can hopefully have a new beta with a fix next week or week after.

[2020-01-31 23:40] emadalsous opened #1260 "MSAL Guard on redirect URI causes: Token renewal operation failed due to timeout."
## Library
- [*] `msal@1.2.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ *] `@azure/msal-angular@1.0.0-beta2`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

[2020-02-01 00:11] keystroke commented on #1226
@jasonnutter can you please clarify:

1. If multiple silent token requests (all with the same properties) are initiated within a short duration, they will all resolve to the same target iframe, and thus receive the same result in their callbacks (like how promise branching works). Will this literally be the same promise object, or distinct promise objects that all resolve or reject with the same d

[2020-02-01 04:20] NareshKumarM commented on #1252
Hi @sameerag @jasonnutter Thabks for your inputs guys. I did manage to find out another easy way to identify a new token from renewed token
The objectIdFromSession when exposed via custom policy in B2C, it will come up as false if it's a fresh token and will come up as true if it is a renewed token

[2020-02-01 06:40] sameerag commented on #1252
Thanks @NareshKumarM. Closing this ticket.

[2020-02-01 06:40] #1252 closed

[2020-02-01 06:42] sameerag commented on #1235
Can you detail the policy here and the steps to repro for this issue @bojantv?

[2020-02-01 06:47] sameerag commented on #1260
I see the error  `AADSTS50058: A silent sign-in request was sent but none of the currently signed in user(s) match the requested login hint` in the URL listed in the time out.

`msal js` times out when the error is not redirected by the service to the application in certain cases. As an alternative, we provide the URL in our error message for the user to be able to discern the cause of the failure

[2020-02-01 09:59] emadalsous commented on #1260
Hello Sameera,

Thanks for your answer. Below you find my comments:
I see the error AADSTS50058: A silent sign-in request was sent but none of the currently signed in user(s) match the requested login hint in the URL listed in the time out. **--> i cannot see this error. How did you see it ?**

How can i get the error message from the url ?

I call this.auth.logout(); when i logout from the system

[2020-02-01 12:05] luklew commented on #843
@jasonnutter Thanks ! Much appreciated!!
Ill be looking out for the new beta 👍

[2020-02-01 14:48] #1224 closed

[2020-02-02 14:40] emadalsous commented on #1260
Hello,

I have some more information. Some times even the retry 3 times cannot work. ON IE i see the following warning message:

Best reagards,
Emad

[2020-02-03 03:01] sameerag commented on #1260
The above warning can be ignored as `msal js` isn't sandboxing the iframe for security purpose.

For your question:

I have clicked the below link you provided in the original issue desc. The idea is that for some errors which aren't sent back to the client after a redirect from the service, and hence resulting in `msal js` timing out, we provide a `URL` for the user to click in the error messagin

[2020-02-03 06:03] AbhaysinghBhosale commented on #960
i had update to the current version and token renew works fine and token renewed on server but with following error in console.

(index):1 Unsafe JavaScript attempt to initiate navigation for frame with URL 'https://myapp.example.com/#/dashboard/example' from frame with URL 'https://myapp.example.com/#id_token=ey...&client_info=...&state=04...&session_state=75...'.

The frame attempting navigation

[2020-02-03 08:17] emadalsous commented on #1260
Hello Sameerag,

First of all thanks for your following. You are right the link above give silent login failure. I found that it was only the url i put here with this issue. I clicked on another timeout error message and i was redirected to the app successfully. I investigated further and clicked on other links where i had this problem on Chrome and IE Edge and i got the following conclusion.

The

[2020-02-03 10:24] ShinRai1090 commented on #421
@madhugore1 @mamta1992

[2020-02-03 11:58] AndreasRybin opened #1261 "Error when trying to load device information from Intune via Graph API."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@^0.1.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- @angular/cli": "~8.3.2",

## Description
Error when trying to load device information from Intune via Graph API.

When using the msal-azure library for calling the Grap API endpoint [https://g

[2020-02-03 16:25] asanchezfe commented on #1260
To avoid something similar, we are doing this, to forze user go to login:
[code]

[2020-02-03 16:44] asanchezfe opened #1262 "Users can't logout in Chrome if they aren't on "/""
## Library
- [ ] `msal@1.2.2-beta.0`
- [ ] `@azure/msal-angular@1.0.0-beta.2`

## Framework
Angular 8.2.14

## Description
User is on `http://localhost:4200/projects` (our index main page) clicks on logout and he sees the select account to logout MS screen. Ok this is correct.

Users navigates to `http://localhost:4200/project/3/summary` clicks on logout and he is redirected to `http://localhost:4

[2020-02-03 18:07] jasonnutter commented on #1226
@keystroke

1. Yes, they will reuse the same iframe and get the same result. There will be multiple promises that are each given the same result.
2. They are separate promises, so I don't think that is happening. What I do see happening is that if you fire a silent and popup request for the same set of scopes, and if the silent request finishes first, it will close any popups, without indicating t

[2020-02-03 18:21] jasonnutter commented on #1260
@emadalsous Correct, putting the MsalGuard on your redirect URI could cause another redirect and thus a timeout. I'll see if we can make the guard smarter such that it doesn't cause the redirect when it is loaded inside a hidden iframe. Note that since `msal@1.2.0`, you can set your redirect uri for silent/popup requests to a page that has no content at all (e.g. a blank html page), and that you c

[2020-02-03 18:43] jasonnutter commented on #960
@AbhaysinghBhosale If you the "Unsafe JavaScript attempt to initiate navigation..." error again, try opening the second url in its own tab, as its likely that the request was not properly formatted or had some other kind of critical error.

[2020-02-03 21:44] jasonnutter commented on #1227
Going to close this as a duplicate of #843.

[2020-02-03 21:44] #1227 closed

[2020-02-04 02:58] Chryogenic commented on #1230
This happens to me as well. Does anyone have a workaround?

[2020-02-04 03:42] keystroke commented on #1226
@jasonnutter You need to try-out all the combinations ;)

In below version of sample, I trace each callback distinctly to make it easier. This should help clarify what I was getting at in the second item of my previous reply. What you noted can be seen in configurations 1 and 4 in below table, whereas I am also concerned about the behavior in configurations 2 and 3. It changes based on which reque

[2020-02-04 08:40] sebcam commented on #349
i have the same issue on chrome.

[2020-02-04 12:08] sanderaernouts opened #1263 "New users unable to login the first time after redeeming Azure AD invite (msal.interaction_status=inProgress)"
## Library
`msal@1.2.1`

## Framework
Angular v8

## Description
We allow users to sign-up for a new user account in Azure AD using an e-mail invite. When the user completes the invite flow in the same browser window as they have our application open in the user is unable to sign-in.

When we call the `loginRedirect` method the user is immediately redirected back to our application and in `localSt

[2020-02-04 16:09] Taats opened #1264 "Preview Version With B2C?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hey team, i've been trying out the new version as requested by @jasonnutter and so i am upgrading from an other client ('oidc-client', which can login/logout etc) but i can not get this new ve

[2020-02-04 18:38] jasonnutter commented on #1264
@Taats Unfortunately, B2C does not yet support the Auth Code Flow. cc @pkanher617 who can provide more context.

[2020-02-04 19:19] sameerag commented on #965
Any update @WretchedDade?
@ktsakas  Can we debug this sometime?

[2020-02-04 19:54] s2ramana commented on #1207
I am also having this issue and our work-around was to set window.opener to null. We still see intermittent failures where the redirect is not processed.

[2020-02-04 20:02] WretchedDade commented on #965
I can confirm my issue is related to multiple google accounts being signed in.

[2020-02-04 21:18] sameerag commented on #1187
cc @tnorling

[2020-02-04 21:20] sameerag commented on #965
Great! Thanks, As mentioned, this is work-in-progress with B2C service tracked with #842. Can I close this issue?

[2020-02-04 22:23] DarylThayil commented on #1264
@Taats  Auth code flow is in an alpha in our core library and support for it in Angular would probably not be ready till next quarter at the earliest.

[2020-02-04 22:24] DarylThayil commented on #1263
@pkanher617  do you know what this could be caused by?

[2020-02-04 22:25] DarylThayil commented on #1262
Can you confirm the version of the Angular lib you are on?

[2020-02-04 22:26] DarylThayil commented on #1262
@jasonnutter  can you take a look at this?

[2020-02-04 22:28] DarylThayil commented on #1261
were you able to successfully acquire an access token?

[2020-02-04 23:06] jasonnutter commented on #843
@luklew @abannsunny I have been unable to reproduce this issue with the new beta. Can you please try it out and let me know if the issue still occurs?

[2020-02-04 23:09] jasonnutter commented on #1230
@Tim91084 Apologies for the delay in responding. I have some theories about what is happening, I'll investigate and follow up.

[2020-02-04 23:15] jasonnutter commented on #1262
@asanchezfe I'm confused, can you clarify this?

If you a user is redirected to a page with a hash such as `#id_token` that would indicate that login was initiated, not logout.

[2020-02-05 00:12] jasonnutter commented on #1203
@ericmok66  `https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/<policy-name>` should work. Can you set `validateAuthority` to `false`?

[2020-02-05 01:05] jasonnutter commented on #1226
@keystroke Thanks for the thorough breakdown. Yes, we will fix the issues with silent/popup requests interfering with each other, and I agree that each request being its own distinct operation should be the default (especially since it will simplify the request handling code in the library, which I think is overly-complex due to some of the optimizations that were made to "join" requests). We'll d

[2020-02-05 01:53] keystroke commented on #1226
@jasonnutter Thanks! Sorry for any confusion around the scenarios (and for my aggressive details), it definitely gets complicated to discuss. Appreciate your time and confirmation on target behavior!

I did also check behavior as you indicate; concurrent popup requests beyond the first will immediately resolve an error to their catch handler with the message "AcquireToken_In_Progress: Error during

[2020-02-05 02:09] AndreiZe commented on #1259
Excellent find, Daniel! We recently ran into the same issue. It happens pretty rarely but for our app it results in pretty bad user experience. Hopefully this is treated with high priority, looking forward to the patched version.

[2020-02-05 07:48] Taats commented on #1264
@DarylThayil Thanks for the heads up, guess ill have to look elsewhere then (for now : )

[2020-02-05 07:48] #1264 closed

[2020-02-05 08:16] AndreasRybin commented on #1261
I can show you the Token that is send in the Authorization Header. In the 'scp' claim there is the scope 'DeviceManagementManagedDevices.Read.All'.

If i call another endpoint everything works fine. Maybe I am not using the right scope for my requested  endpoint? And i got the scope for 'Calendars.Read' although i never asked for it.

Request URL: https://graph.microsoft.com/v1.0/deviceManagement/

[2020-02-05 09:03] mapennig opened #1265 "Can not logout"
## Library
- [x ] `msal@1.2.1`

## Framework
Vanilla JS

## Description
When you use the logout method it calls the Azure B2C logout endpoint, but it doesn't set the client id as query parameter. You get redirected to your application but it doesn't log you out.

## Security
Is this issue security related?
Yes

## Regression
Did this behavior work before?
No
## Configuration
MSAL Example Configura

[2020-02-05 09:12] asanchezfe commented on #1262
@jasonnutter yeah, the logout button executes the MsalService logout() method, however it seems that in Chrome the users re-login.
I'm investigating but seems that the user is redirected to '/' and it is a MsalGuard route guarded so it ask for a login again? The strange thing is that only happens on Chrome. We are using a custom guard that nest inside the MsalGuard, checking also if this affects i

[2020-02-05 11:18] asanchezfe commented on #1262
Sorry, after investigating, I saw that the button of logout had a router link not necessary (is a big app reusing code...)
`<button (click)="logout()" routerLink="/login"">`
This was causing the user be redirected to main page (cause /login doesn't exist) that was MsalGuarded and for any reason it re-logs the user.

[2020-02-05 11:18] #1262 closed

[2020-02-05 13:59] ssvinciak commented on #1169
Hello, could you kindly check current status of the issue for me? I've been waiting for fixing this problem for a month. Thanks

[2020-02-05 17:24] michaelmaillot commented on #400
Hi,

As I was facing the same problems, I'll post here how I managed to connect to SharePoint API through AAD Application with MSAL (OAuth v2 and AAD v2 endpoint).

First, I only succeeded with a certificate (the client / secret method doesn't work as far as I know).

# Create certificate
For testing purposes, I've created a self-signed certificate with the "[New-PnPAzureCertificate](https://docs.

[2020-02-05 20:21] Gevornairi opened #1266 "APPLE ID LOGIN acquireTokenSilent X-Frame-Options DENY ERROR"
## Library
- msal Javascript Library: 1.2.1

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## Description
User navigates to Azure AD B2C Authentication page, selects Apple to login then IdToken is coming back but when we call acquireTokenSilent function it throws **Refused to display https://appleid.apple.com/auth/authorize?

[2020-02-05 20:35] toddfsnyder commented on #1037
@hpsin

Plus we noticed that with the stable version of Chrome 80 the --enable-features=SameSiteDefaultChecksMethodRigorously command line no longer seems to turn off the SameSite grace period. Do you know if there is another way to test with the grace period off with the stable version of Chrome 80?

Todd Snyder

[2020-02-05 20:41] jasonnutter commented on #1266
@Gevornairi If you have a b2c policy that requires interaction, it is currently expected that you will receive this error from `acquireTokenSilent`. A workaround is to call `acquireTokenPopup` or `acquireTokenRedirect`.

[2020-02-05 21:02] hpsin commented on #1037
Hi @toddfsnyder - what makes you think this? It may be beta only, so you might need to try in version 81.

[2020-02-05 21:10] Gevornairi commented on #1266
Thanks for the comment,

Multiple things.

1. In the policy I have also another provider(spotify) which works fine, why apple not working fine?
2. Then through MSAL how I can get and IDToken and Access Token together?
3. acquireTokenPopup, acquireTokenRedirect will refresh the page how I can do silently?

[2020-02-05 21:28] jasonnutter commented on #1266
@Gevornairi

1. I'm guessing that Spotify is okay with its page being rendered in an iframe, while Apple is not.
2. Currently we don't allow users to indicate that they need both tokens in a single call, as that is considered an implementation detail of the library. Can you explain why you want both in one call?
3. There is no way to perform these requests silently other than `acquireTokenSilent`.

[2020-02-05 21:30] jasonnutter commented on #1265
This appears to be a duplicate of #1235, closing.

[2020-02-05 21:30] #1265 closed

[2020-02-05 22:20] toddfsnyder commented on #1037
If you check chrome://version in Chrome 80 Beta vs Chrome 80 Stable it no longer shows the the command line setting even when chrome is being loaded with the SameSiteDefaultChecksMethodRigorously command line. We have a test site that fails in Chrome 80 Beta with the SameSiteDefaultChecksMethodRigorously  and works in Chrome 80 Stable. It not clear if the issue has no longer valid or if the comman

[2020-02-05 22:34] Gevornairi commented on #1266
Thanks Jason,

Regards,

[2020-02-05 22:35] hpsin commented on #1037
Yes, the command line turns off the grace period.  Sounds like it doesn’t work in the stable release, will roll that into our docs.

From: toddfsnyder <notifications@github.com>
Sent: Wednesday, February 5, 2020 2:21 PM
To: AzureAD/microsoft-authentication-library-for-js <microsoft-authentication-library-for-js@noreply.github.com>
Cc: Hirsch Singhal <hirsin@microsoft.com>; Mention <mention@noreply

[2020-02-06 01:20] sameerag commented on #1169
Yes! The code is now moved to dev and release will happen this week. Blocked the release as we are working on a sample.

[2020-02-06 01:30] sameerag commented on #1169
Also, did you happen to try our auth-code alpha branch #1000? That could be a good long term solution for folks wanting to use redirect in iFrames as implicit flow solution we have in place still may be a problem for certain use cases where third party cookies are blocked or for Safari ITP restrictions. This is FYI and we plan to release the msal-browser by the end of March.

More context on this

[2020-02-06 07:00] cliedeman commented on #960
Hello

I have been having similar issues when migrating from react-aad-msal to direct msal (for more fine grained control).

react-aad-msal did not have this issue but when I migrated to msal with identical configuration parameters and loginRedirect calls msal failed while react-aad-msal worked.

After digging into it a bit more I found that it was caused by when I invoked msal.handleRedirectCallb

[2020-02-06 08:23] sameerag commented on #1225
@keystroke can you pull the changes from #1225? I can share the compiled js offline if you are ready to test it

[2020-02-06 08:25] sameerag commented on #965
Closing this. Please track the original issue with #842.

[2020-02-06 08:25] #965 closed

[2020-02-06 08:54] emadalsous opened #1268 "getAccount name is not correctly displayed"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
Angula

[2020-02-06 09:01] askpatrickw commented on #825
This should be revisited now that App Center Auth has been deprecated for core Auth services (and their libraries).

[2020-02-06 10:27] quickstar commented on #1253
Same issue here, it seems somehow related to a state check. The callstack might help:

`"AuthError@https://localhost:4200/vendor.js:123346:28
ClientAuthError@https://localhost:4200/vendor.js:123484:28
./node_modules/msal/lib-es6/error/ClientAuthError.js/ClientAuthError.createInvalidStateError@https://localhost:4200/vendor.js:123518:16
./node_modules/msal/lib-es6/UserAgentApplication.js/UserAgentAp

[2020-02-06 18:52] alexantom commented on #519
when we store token in cookie, in safari we started seeing  `431 Request Header Fields Too Large safari`

[2020-02-06 19:31] jasonnutter commented on #1268
@emadalsous Can you please provide an example test case?

[2020-02-06 19:33] jasonnutter commented on #519
@alexantom We're aware of issues with cookie length. Cookies are really only needed for IE / old Edge, and should not be needed for Safari.

[2020-02-06 19:43] jasonnutter commented on #825
@askpatrickw Have you tried our native mobile MSAL libraries?

[2020-02-06 19:49] jasonnutter commented on #960
@cliedeman Ah interesting, thanks for the sharing, good to know. We'll probably want to add fix in the library to mitigate that.

[2020-02-06 19:50] jasonnutter commented on #960
@cliedeman Can you please open a new issue (specifically on the issue of delaying `handleRedirectCallback`) so that we can track? Thanks!

[2020-02-06 19:51] askpatrickw commented on #825
@jasonnutter Are you asking, have I tried building my authentication screens in Objective-C\Swift for iOS and Java for Android instead of using React Native?  If so, No.

For comparison: You should look at how easy it is to use expo and AWS Amplify.

[2020-02-06 20:16] alex-mason-by opened #1269 "acquireTokenSilent iframe issue with B2C and federation to AAD common endpoint"
## Library
- [msal@1.2.1 ]

## Framework
React 16

## Description
A previous fix resolved issue [1165](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1165) but remains an issue for B2C federations to the common AAD endpoint

## Security
Is this issue security related? No

## Regression
Did this behavior work before? Not clear

## Configuration
Configure common AAD tenant

[2020-02-06 20:33] alexantom commented on #519
is there  a specific reason `invalid_state_error` happens, this happens in chrome windows, but not able to reproduce the issue every time.

[2020-02-06 21:05] jasonnutter commented on #825
@askpatrickw That's fair, I agree they definitely do a good job. We are going to be looking at React sometime this year (likely focusing first on the browser), and React Native is certainly something we will consider.

@DarylThayil

[2020-02-06 21:36] keystroke commented on #1225
@sameerag Thanks! I can try this out today or tomorrow if you can provide the compiled JS (if you want to send via email or teams instead of posting here that is also fine).

[2020-02-07 00:12] unindented opened #1270 "Add .npmignore to avoid publishing unnecessary files to the registry"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Right now you're publishing a lot of unnecessary stuff (config, tests, etc.) to the npm registry:

<img width="335" alt="Screen Shot 2020-02-06 at 4 09 06 PM" src="https://user-images.githubusercontent.com/69485/7398

[2020-02-07 01:13] jasonnutter commented on #1270
Good call, been meaning to do this.

[2020-02-07 07:23] Nasicus commented on #1222
I can no successfully reproduce this!
I'm not sure if there are also other scenarios, but this one is for sure one.

**Reproduce:**

0. Use Chrome (may also work with other browsers)
1. Open "any" site (e.g. github) in a tab
2. Open another tab and navigate to your site which uses MSAL (note: ensure that a token has to be acquired via the hidden iframe => i.e. 1 hour passed since you last accessed

[2020-02-07 10:52] MCKLMT commented on #271
My customer is also interested by the support of Cordova / Ionic mobile application with MSAL.
Should we understand that it will never be supported? 😒

[2020-02-07 10:53] MCKLMT commented on #271
My customer is also interested by the support of Cordova / Ionic mobile application with MSAL.
Should we understand that it will never be supported? 😒

[2020-02-07 14:48] develm commented on #1000
Is there any planned release date for this feature?

[2020-02-07 16:13] michaelmaillot commented on #400
Hi @osysltd !

The AAD Permissions you want to set up depends on your context (maybe you already have the answer though):
- If you want to interact with SharePoint throught a (C#) console application (daemon app), you will set up **Application Permissions** ([Client Credential Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#client-credentials))
- If

[2020-02-07 22:12] brayanL commented on #1069
I have the same issue with B2C sometimes the app open a new login tab and AuthenticationState.InProgress keep in true. Sometimes the new tab is closed automatically after 3 or more minutes. @sameerag Should I open a new ticket?

[2020-02-09 14:53] gitvishnu commented on #1000
I just tried the alpha release in chrome browser with cors-setting disabled and I still could not find the auth code in its response and I don't see any clear details like how to fetch the auth-code in the [NPM library](https://www.npmjs.com/package/@azure/msal-browser) README file. Could anyone say how to get the auth code by using this package? I was playing around with "samples/VanillaJSTestApp

[2020-02-09 20:21] Chryogenic commented on #1230
Hi @jasonnutter, were you able to look into this issue? Thanks!

[2020-02-09 21:53] luklew commented on #843
@jasonnutter I tried using the new library . I seem to be able to log in using iOS, but now I am getting issues authenticating with the backend API. The acquireTokenSilent() seems to be failing, and so the auth token doesn't get attached to the API requests.

Do you know a way to fix this?
Thanks

[2020-02-09 23:21] PoyaManouchehri commented on #1134
We are also affected by this and it's a high priority issue. The request for `id_token` seems to respect the `domain_hint` correctly, however during the `token` request `domain_hint` is sent twice, one being the domain I supplied and the second being `organization`

Would be keen to hear if a fix is scheduled soon and if there is a workaround in the meant time. Thanks!

[2020-02-10 01:53] fpiazza99 commented on #1245
Three years to get this functionality??? Really

[2020-02-10 10:45] MCKLMT commented on #271
@navyasric Can you comment?

[2020-02-10 11:54] JasSuri commented on #1269
This problem is likely different.
More likely that at the common endpoint you have multiple accounts available to login into. Due to the ambiguity, AAD will offer a form to choose an account, and that will trigger the x frame options deny. Check in a non SSO/silent token flow to see if you are seeing the account selection screen.

The only way I think to solve this is to pass the login hint along

[2020-02-10 15:57] AndriiDidkivsky commented on #1240
Same issue in msal 1.1.3.
No issue in msal 0.2.3.

As is found openid is required scope.
https://openid.net/specs/openid-connect-basic-1_0.html#Scopes

So question is, do you handle this logic internally in the lib?
If it is true why didn't you highlight this in documentation?
If i remove openId and profile from scopes do i get correct behavior?

[2020-02-10 15:59] sameerag commented on #1134
@AndrewCraswell and @PoyaManouchehri; we heard from the service and the recommendation here is to support domain_hint (whatever the user sets it to) in interactive calls and ignore it for silent calls (it isn't supported at all). Though the fix is simple, this may need extensive testing as we are changing behavior that has been in production for some time.

Please expect this to be merged in a wee

[2020-02-10 16:02] sameerag commented on #1269
I agree with @JasSuri (Thank you). @alex-mason-jdas did you happen to test this in interactive flow?

[2020-02-10 16:03] sameerag commented on #1266
Closing this as this is expected behavior for B2C endpoints when interaction is required.

[2020-02-10 16:03] #1266 closed

[2020-02-10 16:38] jasonnutter commented on #519
@alexantom It could happen for a few different reasons. If you are able to determine why they are happening for your scenario, feel free to open a new issue, thanks!

[2020-02-10 17:06] jasonnutter commented on #843
@luklew Could you please open a new issue with details on what you are observing, thanks!

[2020-02-10 17:26] jasonnutter commented on #1230
@Chryogenic Not yet, I'll follow up when I have.

[2020-02-10 18:12] alex-mason-jdas commented on #1269
It happened after the initial login and when getting an access token. I think that this is the acquireTokenSilent flow of the library.

[2020-02-10 19:21] sameerag commented on #1269
Can you pass `login_hint` and see if that helps? This could use a better user experience from us but the changes needed should be agreed upon by both the `B2C service` and `msal js`.

cc @ktsakas any ideas?

[2020-02-10 19:28] JasSuri commented on #1269
As part of the silent token msal call, you will have the ‘extraQueryParameters’ overload. Use that to pass in ‘login_hint=“email address”’

[2020-02-10 21:05] sameerag commented on #1269
Can you please use the parameter: `login_hint` which is supported? We suggest that as we ignore hints sent in `extraQueryParameters`.

[2020-02-10 21:13] rits-development commented on #1229
Any help on this one? I'm really stuck. Thanks!

[2020-02-10 21:19] pkanher617 commented on #1000
@develm We are planning to release this sometime in March. The beta version of the library should be out later this month as well. No exact timelines, we are waiting on other teams and services to roll out features. Please come back to this issue for updates.

[2020-02-10 21:20] pkanher617 commented on #1000
@gitvishnu The MSAL library does not give back an auth code- it retrieves tokens using the auth code flow. If you have a use case for only receiving an authorization code, I am happy to discuss it here, but for now this library will retrieve tokens using an authorization code without giving this code back to the user.

[2020-02-10 21:50] sameerag opened #1271 "msal-node Configuration"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
`msal-node` Configuration files in place for all flows that will be supported by this library.
 - Generic configuration file design/code
- Flexible to add new flows planned in upcoming quarter (Confidential and other Public Client flows other than auth-code and device-code flows)
- msal-common and msal-node interfaces well defined

#

[2020-02-10 21:52] sameerag opened #1272 "msal-node error handling"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
Error module for `msal-node`
- Design and code error interfaces/implementation for node
- classify to be flexible to contain all flows
- introduce numeric codes and documentation(a webpage) for the developer to look up
- OAuth compliance (@sameerag to specify the details in this ticket soon)
- Compatible with `msal-browser`

## Prior

[2020-02-10 21:55] sameerag opened #1273 "msal-node Cache"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
Cache module for `msal-node`
- Well defined boundaries between `msal-common` and `msal-node` for cache
- Design well defined interfaces and implementation to support SSO between python/java/.net libraries with node => Serialized cache objects
- Documentation for cache module design and future hooks (For async cache storage - indexDB

[2020-02-10 21:55] luklew commented on #1260
@jasonnutter Removed the MsalGuard  off the redirect URI and that seems to have solved the issue for me.

[2020-02-10 21:56] sameerag opened #1274 "msal-node Accounts support"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
Accounts module for `msal-node`
- multiple accounts support, design and implementation
- cache implementation for tenant based cache; interaction between Account and Cache modules
- Tenant profiles
- `getAccount(byUserId)`, `getAccounts()` - decide public interface APIs for Accounts
- B2C behavior for multiple accounts in auth-code

[2020-02-10 21:59] sameerag opened #1275 "msal-node B2C support"
- B2C works as expected in msal-node
- Samples and Documentation is in place for both flows
- All v2 flows tested and documented before release

[2020-02-10 22:38] christo-k commented on #481
Apologies for commenting on a closed post but I'm interested in the solution described above while waiting for a new feature to be added to the source.

The problem I'm encountering is that I receive the following runtime error whenever I try to import MsalModule without using .forRoot():

`Provider parse errors:
Cannot instantiate cyclic dependency! ApplicationRef ("[ERROR ->]"): in NgModule AppM

[2020-02-11 05:39] develm commented on #1000
@pkanher617
Thank you quick response.
Unfortunately I also need the auth code from this library.

I have multiple unsecure client applications (web and mobile) that need to acquire authorization code using only **clientId**. Authorization code generated this way can not be exchanged without the **clientSecret**.
The code is then passed to a secure api that has the appropriate **clientSecret** and

[2020-02-11 17:53] gitvishnu commented on #1000
@pkanher617 Sorry I was expecting that it will return the auth code in its response or as a query param when it is getting redirected into the redirect uri. so is there any option to get the auth code from the MSAL js?

[2020-02-11 19:51] brayanL commented on #1009
I'm using msal 1.2.1 and the error persists: `token_renewal_error, Token renewal operation failed due to timeout.`, you should re-open the issue, please.

[2020-02-11 21:19] brayanL commented on #1260
this error persists I'm using msal 1.2.1, any solution?

[2020-02-11 23:28] sameerag commented on #1009
@brayanL I see you commented on #1260. Can we please track your issue with #1260  instead of this thread?

[2020-02-11 23:36] MXuWu commented on #1000
@pkanher617 Any news on CDN solution for the alpha?

[2020-02-11 23:43] jasonnutter commented on #1260
@brayanL Timeouts can happen for a number of reasons, so any investigations you can do in your app to determine what might be causing your timeouts would be helpful, thanks!

[2020-02-11 23:48] jasonnutter commented on #481
@christo-k Do you think that #814 addresses that?

[2020-02-11 23:51] pkanher617 commented on #1000
@MXuWu We are running into a few issues with our CDN provider, we are working to restore the service moving forward, but there is expected to be CDN available for versions going forward. i will update here when it is available.

[2020-02-12 12:32] Wholteza commented on #1229
I think I'm having a simular issue.

And i also had the problem with redirecting to auth.html, since no js is loaded nothing happened. Instead I opted to use the application root as callback url.

I'm developing a react application and what i did was a check if the application was rendered inside of an iframe. If the application is rendered in an iframe the react application is never rendered to p

[2020-02-12 14:02] christo-k commented on #481
Upon further review I found that I had the causality wrong - error not
related to the workaround described above. (In fact, I had removed my
comment when I discovered this, but not soon enough!)

Thanks for the message - looking forward to the GA release.

On Tue, Feb 11, 2020 at 6:48 PM Jason Nutter <notifications@github.com>
wrote:

[2020-02-12 17:56] willyt150 commented on #855
@jasonnutter I'm seeing the progress on MSAL Angular 1.0 which is exciting, however, I'm about to start a new Angular project, so we want/need to use Angular 9, and we're going to need to auth with Azure AD.

I know that MSAL.js is the recommended approach going forward, do you have any idea on when this library will work with Angular 9 and Ivy?

[2020-02-12 20:57] alex-mason-jdas commented on #1134
@sameerag  I am assuming that "isn't supported at all" doesn't mean it's broken in this case of using domain hints but intended that silent calls will get tokens based on the context of the account that originally was authenticated using the domain hint? In other words, the domain hint isn't needed for silent calls because the account has been established.

[2020-02-13 01:11] sameerag commented on #1134
Yes. In addition to this assumption, we are also preferring to ignore `domain_hint` for silent calls in the case of user setting a wrong domain_hint that could prompt silent calls to fail (requiring interaction if the account is looked up in the wrong domain).

[2020-02-13 01:28] alex-mason-jdas commented on #1134
I am pretty confused on this because I am issuing particular custom token claims based on the B2C identity provider resolved by the domain_hint and also using the domain_hint in a home realm discovery (HRD) scenario. I am not sure how it would work without the domain_hint for access tokens resolved silently. This all works fine on the initial return (id token and access token both) but now am wond

[2020-02-13 14:27] petrce commented on #960
@anandyadavMSFT
I can confirm the same behavior in Angular, error is the same as in the first post

it can be workarounded using setTimeout but it can create race conditions

[2020-02-13 18:44] jasonnutter commented on #855
@snebjorn @willyt150 I have put together a sample for Angular 9 using the new version of MSAL and MSAL Angular. Can you please try this and let me know if you have any feedback? https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-9-sample/samples/angular9-sample-app

[2020-02-13 20:29] artmasa commented on #614
Did the wrapper was changed to use this fix?

[2020-02-13 21:47] sameerag opened #1280 "msal-node Authorization Code PublicClientApplication"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Description
Complete a PublicClientApplication.ts for auth-code flow for `msal-node`
- Public API definitions
- Request/Response/Error/Cache/Account/Network interfaces defined and implemented

## Priority
Alpha branch by March end (Current Quarter - Q3)

## Acceptance Criteria
-  End-to-end auth-code flow works for `msal-node`
-  Unit tests for

[2020-02-13 23:00] willyt150 commented on #855
@jasonnutter thank you for pointing me to this sample.

The auth worked, ran into a few items/issues. I'm also going to try this in setting up my own project and see how it goes. I was under the impression that with Ivy and AoT compilation doing something like `MsalModule.forRoot()` in the import isn't supposed to be allowed, did you do something to get around that, or am I confusing something?

F

[2020-02-14 03:43] sameerag opened #1281 "msal-node Device-Code PublicClientApplication"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Description
Complete a PublicClientApplication.ts for device-code flow for `msal-node`
- Public API definitions
- Request/Response/Error/Cache/Account/Network interfaces defined and implemented

## Priority
Alpha branch by March end (Current Quarter - Q3)

## Acceptance Criteria
-  End-to-end auth-code flow works for `msal-node`
-  Unit tests fo

[2020-02-14 03:45] sameerag opened #1282 "msal-node Auth-Code ConfidentialClientApplication"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Description
Complete a ConfidentialClient.ts for auth-code flow for msal-node
- Public API definitions
- Request/Response/Error/Cache/Account/Network interfaces defined and implemented

## Priority
Alpha branch by April end (Current Quarter - Q3)

## Acceptance Criteria
-  End-to-end auth-code flow for a confidential client works for msal-node
-

[2020-02-14 03:58] sameerag opened #1283 "msal-node Network and Crypto Modules"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
Network module for `msal-node`
- implement `msal-common` interfaces for NW calls
- `npm request` (?)  as implementation detail for POST calls to be made
- If we consider providing UI support for `code` part of the auth-code flow (`npm open`?), define NW interface and implementation for the `code` acquisition

## Priority
Alpha branch

[2020-02-14 08:54] Ivan-L commented on #1260
Hey @jasonnutter I'm also hitting the timeout issue randomly (more often than not) and have also removed `MsalGuard` from the root route of the app, which is our redirect URI. Something is not right when the app in the main frame tries to obtain the hash from the nested iframe. This happens when the `MsalInterceptor` runs and `acquireTokenSilent` runs. I've also applied the technique in your lates

[2020-02-14 18:24] jasonnutter commented on #855
@willyt150

1. `forRoot`: I did not do anything special in that regard. I'll do some more research.
2. `npm ci`: fsevents is for Mac only I believe, so I would expect errors when installing on Windows. Does that error happen with a stock Angular 9 app (without MSAL)?
3. `AADSTS65001`: Are you logging in with a work or personal account? Try either logging in with a personal account, or create your

[2020-02-14 18:36] willyt150 commented on #855
@jasonnutter

1. Ok cool, I had tried to do the Angular update path for a previous Angular 8 project to Angular 9, and we had a number of modules we were importing with .forRoot() that the `ng update` failed on saying that those weren't allowed. I compared a net new `angular.json` and `tsconfig.json` created by the latest angular cli to the ones in your samples and the only differences were names.

[2020-02-14 18:58] jasonnutter commented on #855
@willyt150

1. Gotya.
2. No worries!
3. I see...at this point I would just create your own client id in your tenant, might just be a result of that client id being created in the MSFT tenant.

GA: we're working to have it ready for the end of this month, unfortunately, things keep getting pushed back due to some dependencies outside our team. Sorry for the delay on that. I'll have the [roadmap](ht

[2020-02-15 12:14] engbibi opened #1284 "MSAL Angular: Popups in Facebook mobile browser"
## Library
- [ ] `@azure/msal-angular@1.0.0-beta2

## Framework
Angular V9

## Description
I have a SPA with MSAL B2C authentication. Everything works fine in desktop and mobile browsers: Chrome, Firefox and Safari. However, in Facebook internal browser my app does not seems to receive any event from auth window. The second window opens, user sign in successfully, redirects fine, window closes and

[2020-02-16 07:58] oscarcosta commented on #1072
Hello @jasonnutter @sameerag, any update on this subject?

For my application (React with Typescript) the @eirikb's hack only solved the issue in the Outlook on IOS. So, I still unable to login using  Outlook Desktop on Windows or Outlook Web on Edge.

Thanks.

[2020-02-16 14:25] mbrevda opened #1285 "createBlockTokenRequestsInHiddenIframeError"
## Library
- [x] `msal@1.2.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
- React

## Description
exception `createBlockTokenRequestsInHiddenIframeError` is thrown after `loginPopup`. Possibly related, the iFrame is never removed, causing our app to run twice (and cause issues). It should be noted that if dev tools are closed (i.e. exceptions re

[2020-02-16 15:33] mbrevda commented on #1285
I've updated my code to point to a dummy redirectUrl preventing the issue above. The iframe still stays in the dom. Is this the intended behavior?

[2020-02-16 15:33] eirikb commented on #1072
@oscarcosta Did you try the latest version of my demo (updated 2020-02-04)? We've deployed it to production and it works for us on all platforms except old Edge.

[2020-02-16 22:37] jrmcdona commented on #964
Do we know when this will be on the public docs?   I am trying to convert the ME Control to MSAL based on an ADAL ME Control example and getting quite confused on some stuff!

[2020-02-16 23:12] Ivan-L commented on #1260
Hey @jasonnutter I have found the cause of the timeouts in our app.

We are using `HashLocationStrategy` in our app by setting `useHash: true` in our app routing module because we need to serve the app via CDN with no extra web server configuration for Angular routing. With the previous msal-angular 0.1.4-beta.2 I had applied a hack in our app where I added all possible MSAL hashes so that the app

[2020-02-17 05:10] vaibhav915 opened #1286 "SCP is missing in access token claims"
Unable to get SCP="access_as_user" in access token claims. I want an access token of OAuth v2.0 that returns SCP="access_as_user" in the claims.

## Library
- [ ] `@azure/msal-angular`: `^1.0.0-beta.2`
- [ ] `msal`: `^1.2.2-beta.0`

## Description
I am trying to get SCP claim from the access token using msal-angular 1.0.0 beta version in my SPA application. Please refer below steps:

1. Define Msa

[2020-02-17 05:18] AbhaysinghBhosale opened #1287 "Issues on Mac - Login flickering screen with issue in url 'error=login_required&error_description=Silent+authentication+was+denied.+The+user+must+first+sign+in+and+if..."
## Library
- [ ] `msal@1.1.3`

## Framework
React v16.5

## Description
Once user tries to login to the application screen is flickering for some time. This behavior started recently. In the URL i can see the issue as follows.

https://myexample.com/#/error=login_required&error_description=Silent+authentication+was+denied.+The+user+must+first+sign+in+and+if.

## Security
Is this issue security rel

[2020-02-17 08:39] sameerag commented on #964
@jrmcdona We just checked in a docs PR and kicked off a project consolidating all our documentation to be at one place. This effort will reflect in public docs incrementally. Please give us a couple weeks before we close this particular issue.

cc @pkanher617 Please prioritize this issue in the docs effort, I would suggest linking to typedocs in addition to expanding on each parameter in Microsoft

[2020-02-17 11:33] asanchezfe commented on #855
Hi!
Updating from Angular 8 to 9 i'm getting a error that seems to be related with Ivy load:
[code]

We were loading the module like this, cause the configs depend on data from an Angular Service.

[code]
I see in the Angular 9 sample you load the module with a .forRoot() but this way is mandatory to pass the MSAL_CONFIG on it, but for me it depends on a factory... how can I pass the config data i

[2020-02-17 13:12] AbhaysinghBhosale commented on #519
getting the same issue. found `invalid_state_error `in localStorage. unable to find exact reason of this issue.

[2020-02-17 13:34] strabu commented on #855
I'm having exactly the same problem, we are also using a factory (because of different configuration in dev/staging/production).

NullInjectorError: No provider for MsalService! R3InjectorError(AppModule)[AuthenticationService -> MsalService -> MsalService -> MsalService]

And that's the only reason why I can't enable Ivy in our Project.

[2020-02-18 00:51] elhedran opened #1288 "handleRedirectCallback not useful in SPA, documentation misleading"
## Library

msal@1.2.1

## Framework

React v16, + parcel bundler

## Description

The redirect flow handles the return from a redirect in a way that it does an additional navigation to hide the hash and return the user to the page they were on when they redirected.  So far this is good.

However... using the handleRedirectCallback only gets called on the first redirect (with the hash) and on the

[2020-02-18 02:05] oscarcosta commented on #1072
@eirikb, yes, I tried the latest version. From what I could understand, the message is not being received in the event handler.

I have also tried other approach using `Office.context.ui.displayDialogAsync` with `loginRedirect` and `handleRedirectCallback`, similar to this example [Office Add-in Microsoft Graph React](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Ad

[2020-02-18 02:19] kfear27 opened #1289 "How to loop through tenantid's by changing authority url"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
I've created a multi tenant App in Azure AD and can use MSAL+Graph API successfully, however I am not attempting to loop through our tenants to collect information, however am unsure of how to do so.

When creating a loop

[2020-02-18 12:38] AbhaysinghBhosale commented on #498
Getting same issue even after updating with current version. User redirect twice to the login page.

[2020-02-18 16:17] frejsoya commented on #1169
Thanks for the info. Any updates on the release? We can always write our own hacky solution, but i did not want to duplicate your work :)

[2020-02-18 17:47] mbrevda commented on #1222
I seem to have the same issue - `await msal.acquireTokenSilent(req)` never completes. I can see the iframe and it seems to have received the token. FWIW I'm redirecting to a blank page.

In my case/setup, it's reproducible every time.

[2020-02-18 17:53] mbrevda commented on #1230
This seems to be happening for as well since updating to 1.2.1

[2020-02-18 18:03] mbrevda commented on #1222
I noticed that the timeout seems to only happen when the blank redirect page is not on sameorigin. Is there any reason same origin should be necessary?

[2020-02-18 19:36] jasonnutter commented on #1222
@mbrevda Yes, in order MSAL to read the url of the iframe, the redirect uri needs to be on the same origin as the application. Otherwise, we have no way to read the response, which would result in a timeout.

[2020-02-18 19:55] sameerag commented on #1169
@frejsoya Thanks for your patience.
Can you help testing a branch? This solution needs the below conditions as prerequisite to work:

- the parent and iframe apps run `msal js`
- iframe app allows for messaging from the parent -> ideally this should be working by default
- Some placeholder code in the parent app to help with acknowledging the iframe app's request for parent app's UI

I can share m

[2020-02-18 21:01] mbrevda commented on #1222
Thanks. I guess what threw me off was that the `src` isn't set to the same origin:
![image](https://user-images.githubusercontent.com/293004/74777614-86ebc780-52a2-11ea-98df-7e75fe338fc5.png)
Might want to document this requirement somewhere!

[2020-02-18 22:15] sameerag commented on #1285
@mbrevda  `createBlockTokenRequestsInHiddenIframeError` is just an informative message that for folks who are reloading their home page (which could in turn have another `acquireToken*` call in theory that we do not execute those requests in a hidden iframe. The recommendation to redirect to a blank page is to avoid this behavior and to save some cycles consumed by the app reloading.

On a success

[2020-02-18 22:31] jasonnutter commented on #1222
@mbrevda Initially, we the `src` to a location on your authority (e.g. `login.microsoftonline.com`), and then when the operation is complete, the authority redirects that response (and thus the iframe) to the provided redirect uri, which allows us to parse it.

You can read more about the implementation of the implicit flow here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-o

[2020-02-18 22:34] sameerag commented on #1286
@vaibhav915 Your token depends on the scopes requested/permitted for your app and the authority that grants the token to those scopes. `access_as_user` used to be a default scope provided by the app portal registration experience but the new UI requires one to explicitly add this as a supported scope now.

From what I gather, the request above does not request this scope explicitly and hence you d

[2020-02-18 22:54] mbrevda commented on #1285
Yes. The first time the page loads the iframe seems to persist for the
duration of the session. After a reload, it doesn't stick around. This
doesn't bother me per se (it's hidden after all) I just found it strange.

On Wed, Feb 19, 2020, 12:15 AM Sameera Gajjarapu <notifications@github.com>
wrote:

[2020-02-19 05:24] mbrevda commented on #1285
update: while the iframe still lingers at times, auth & tokens are now working after https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1222#issuecomment-587717744

[2020-02-19 07:23] vaibhav915 commented on #1286
@sameerag
Thanks for the quick reply.
Yes, after adding explicitly I have scp in my access token.

Can you please elaborate this point, I didn't get you.

Thanks
Vaibhav

[2020-02-19 10:15] suresh777 opened #1290 "Token renewal operation failed due to timeout(React)."
Hi, i am using this library(msal@1.2.1) in my react project for authentication. I am trying loginRedirect, after that i am trying silent token.
I am facing this issue

[code]
But if i use msal@1.1.3 it is working

[2020-02-19 10:21] suresh777 commented on #1009
I am also facing same issue in 1.2.1 in react project. Is this issue resolved ?

[2020-02-19 10:58] vadimblv commented on #1263
@sanderaernouts Have you found workaround?

[2020-02-19 11:21] mayo589 commented on #1169
@sameerag
I can also help to test with this one I think. My scenario is that, I hide iframe with MSAL in SharePoint Bottom placeholder. So, I think:
- we can include MSAL js into parent, which is sharepoint online
- messaging to iframe should be working
- we can implement maybe some popups with acknowleding

[2020-02-19 13:14] sanderaernouts commented on #1263
@vadimblv yes, we detect that login is in progress using `app.getLoginInProgress()`, show a model with an error message and then invoke `app.logOut` when the user dismisses the modal.

The behavior is a bit strange because the user tries to log in, fails, and is then forced to logout and try again. But, in our case, it does get the user out of this situation.

[2020-02-19 13:15] sanderaernouts commented on #1263
@DarylThayil @pkanher617 any ideas what is causing this? As mentioned in my previous comment we do have a workaround but it feels like a last resort and is not really a good user experience :(

[2020-02-19 14:07] fippli commented on #815
Thanks @funcelotwork! Working like a charm!

[2020-02-19 16:23] jasonnutter commented on #1284
@engbibi When you say Facebook internal browser, you are referring to the browser that comes up when you click a facebook link from the facebook app? From what I've read we might have trouble supporting popups, given the limitation on the in-app browser. As a workaround, have you tried using the redirect methods instead?

[2020-02-19 16:29] jasonnutter commented on #1287
@AbhaysinghBhosale Can you clarify what you mean by "flickering"? Is your app going in a login loop (i.e. redirecting to the login page, back to your app, back to the login screen, etc).

Do you have third-party cookies disabled?

[2020-02-19 16:33] jasonnutter commented on #1288
@elhedran I agree this is confusing, it's something we've talked about addressing but haven't gotten to it yet. For now as a workaround, can you try setting `auth.navigateToLoginRequestUrl` to `false`?

[2020-02-19 16:51] jasonnutter commented on #964
We have reference docs available here: https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-core/modules/_authenticationparameters_.html

[2020-02-19 18:15] jasonnutter commented on #855
@asanchezfe @strabu Thanks, that is very helpful. I'll investigate and follow up.

[2020-02-19 18:19] jasonnutter commented on #1260
@emadalsous Thanks for the context!

Since `msal@1.2.0` your redirect URI no longer has to have MSAL running on it (which was a previous requirement), which means you can set your redirect URI to be a page with no content on it for silent and popup flows (as you propose). You can also set the `redirectUri` per request, so that you can set the default `redirectUri` to be a blank page, and then expl

[2020-02-19 18:49] DarylThayil commented on #1263
Sorry just to refresh this, is the problem that application state (local storage) is not taking into account that the user is already logged in with the identity provider or is the problem that the identity provider is no aware the user is logged in?

[2020-02-19 18:50] DarylThayil commented on #1263
@pkanher617  pinging this could this be a case where inProgress in not turned off because of a special login case returning a different hash?

[2020-02-19 18:58] soares-fernando opened #1292 "Auto login redirect when application starts"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello, how is it going?
I'm working with an Angular application that uses Azure authentication, and I'm wondering if there is way to redirect to the login page before the application "starts",

[2020-02-19 19:27] Ivan-L commented on #1260
Hi @jasonnutter thanks for the feedback.

Yes, `msal@1.2.0` does have the ability to set the `redirectUri` per request so that it can redirect to a blank HTML page for silent and popup flows, however the `MsalInterceptor` and `MsalGuard` in `@azure/msal-angular@1.0.0-beta.2` do not allow for a custom `redirectUri` for those flows. Check out the `acquireTokenSilent` calls [here](https://github.com/

[2020-02-19 20:12] Ivan-L opened #1293 "AcquireTokenPopup for someone other than logged on user"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
This question relates to `msal@1.2.x` even though we have SPA which uses `@azure/msal-angular@0.1.4-beta.2` and which we're trying to upgrade to `@azure/msal-angular@1.0.0-beta.2` (therefore bringing in the `msal@1.2.x` peer dependency).

Previously when we were using `@azure/msal-angular@0.1.4-beta.2`, we took a dependency of `@

[2020-02-19 20:50] elhedran commented on #1288
The code I posted is a working work around.  Sorry, I guess I didn't make
that clear.

On Thu, 20 Feb 2020, 2:33 am Jason Nutter, <notifications@github.com> wrote:

[2020-02-19 21:27] jrmcdona opened #1294 "@azure/msal-angular": "^1.0.0-beta.2" - acquireSilentToken and consent error"
## Library
@azure/msal-angular": "^1.0.0-beta.2"

## Description
I am acquireTokenSilent after a successful interactive logon.  However I get an error saying the user has not consented and to send an interactive logon request. Having the user sign in again is not solving the issue.

I have two app registrations in the Microsoft tenant.  One of the front end and one for the protected API.  All perm

[2020-02-19 22:55] jrmcdona commented on #1294
Solved this by changing to this code:

[code]

[2020-02-19 22:55] #1294 closed

[2020-02-20 05:09] AbhaysinghBhosale commented on #1287
The issue is once page redirected back from microsoft.login website it land on dashboard, but this occurs multiple times without redirecting to Microsoft domain. Yes app is going in login loop and login  callback get called multiple times. But user just see flickering on screen instead redirecting to microsoft.login . In local storage i can see multiple login request, states,interaction inProgress

[2020-02-20 05:25] engbibi commented on #1284
@jasonnutter I did some remote de debugging with Chrome on an Android device. It seems that on Android, Facebook is using webviews to open links and popups are restricted. I believe that on iOS we have a similar situation.
Redirect flow works as expected, so we should implement checks if browser have popups restricted.

[2020-02-20 07:33] HockeyJustin commented on #1139
@jasonnutter  - Thanks for the upgrade tips. That was really handy.

I can confirm the issue is fixed. The latest version is a big improvement on the early alpha I was previous using.

Thanks.

[2020-02-20 07:33] #1139 closed

[2020-02-20 08:03] HockeyJustin opened #1295 "@azure/msal-angular on .NET Core Project. Token Timeout prevents navigation [MsalGuard]"
## Library
- [X ] `@azure/msal@1.2.2-beta.0`

## Framework
Angular 8

## Description
This is similar to [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1139#issuecomment-580788098). That issue caused an error on accessing the API, which has now been fixed.

This issue: An old token allows access to resources, but renders the angular application unable to navi

[2020-02-20 14:55] brayanL commented on #1260
I found the solution, my problem was `redirectUri` and `postLogoutRedirectUri` params on authProvider File, both on Azure Portal and authProvider File the URLs should be the same, I had on azure portal http://locahost:3000/ but on authProvider File was http://localhost:3000/login. I hope this can help someone.

[2020-02-20 17:16] jasonnutter commented on #1260
@Ivan-L You are correct, and I agree that you should have the ability to do that. Note that for now, if you aren't using one of the redirect flows (`loginRedirect` or `acquireTokenRedirect`) you can set the default `redirectUri` to a blank page. I'll follow up when I have more on this.

@brayanL Makes sense, thanks for the update!

[2020-02-20 17:22] jasonnutter commented on #1284
@engbibi Thanks for the update. For now, I don't think we'll be implementing any checks in the library for this, as we intentionally any business logic like this up to consuming applications. Closing, as no further actions items at this time. Thanks!

[2020-02-20 17:22] #1284 closed

[2020-02-20 18:03] jasonnutter commented on #1288
@elhedran I see. Setting `navigateToLoginRequestUrl` will prevent the second redirect, is that not desired?

[2020-02-20 18:33] jasonnutter commented on #1287
@AbhaysinghBhosale I see. Can you confirm whether or not third-party cookies are disabled? It is a known issue that disabling third-party cookies (e.g. via Safari ITP) will cause a login loop.

[2020-02-20 18:43] sanderaernouts commented on #1263
@DarylThayil the identity provider is not aware that the user is already logged in. Clearing the cache, local storage, and cookies does not help. If the user closes the browser and opens a new one then this problem does not occur anymore as far as I know.

[2020-02-20 18:54] jasonnutter commented on #1229
@rits-development I'm curious if this approach fixes your issue (delaying the registration of `handleRedirectCallback`): https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/960#issuecomment-582765417

[2020-02-20 20:09] elhedran commented on #1288
If I prevented the second redirect I'd only have to handle getting the user
back to where they were before login anyway. Admittedly there are ways of
doing that without causing an actual redirect, but I like how little code
the whole pattern is with msal, even with redirect.

I guess I don't understand why callbacks for handling redirect instead of
queries against cached state, as msal internally

[2020-02-20 20:18] rits-development commented on #1229
@jasonnutter Thanks for your help! I've tried adding a `setTimeout`, however that didn't solve the problem.

I've been debugging the code in MSAL and noticed the code in `WindowUtils.checkIfBackButtonIsPressed(this.cacheStorage);` (called in the ctor of `Msal.UserAgentApplication`) clears local storage. After constructing `Msal.UserAgentApplication`, I invoke `myMSALObj.handleRedirectCallback(auth

[2020-02-20 22:08] jasonnutter commented on #1260
@Ivan-L Follow up, you should be able to pass additional options to the `MsalGuard` by providing an object for `extraQueryParameters`, which will get added to the request the guard makes.

[code]

These options don't get added to the interceptor, however, and I'm strongly considering changing this options object to allow you to do that.

[2020-02-21 08:27] nikheelneelay opened #1296 "Property 'intercept' in type 'MsalInterceptor' is not assignable to the same property in base type 'HttpInterceptor'"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.1.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
Angula

[2020-02-21 09:32] sonphnt commented on #1011
This sample does not work in my case. I got this exception.

Application 'xxxxxxxxx' is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

I created an Azure App in AD as Single Tenant for my organization only
Tried to remove t

[2020-02-21 10:02] MubashirEbad commented on #1009
@jasonnutter I am using msal 1.1.3 now, and its not working properly in Safari now. It was working fine on Safari earlier in msal 1.1.2 but now its the same **token renewal operation failed** issue on Safari.

[2020-02-21 13:04] suresh777 commented on #1009
Right now i am using 1.1.3, it is working fine in all browsers. But if i try with latest version 1.2.1 i am getting token renewal operation failed

[2020-02-21 17:28] rasedgwick opened #1297 "Manually trigger InteractionRequiredAuthError"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.2.1`

## Description
How can I manually trigger a InteractionRequiredAuthError.

I'm upgrading an Aurelia SPA from v 0.2.2 to 1.2.1 and am interested in testing agent.acquireTokenRedirect() which would be called after receiving this error.

[code]

[2020-02-21 18:33] jasonnutter commented on #1288
@elhedran The callback for redirect is implemented to provide your app with the response from the redirect action once it has been parsed and stored, so that you don't have to handle doing that.

Appreciate the feedback, I'll chat with the team and follow up with any adjustments we decide to make. Thanks!

[2020-02-21 20:38] rasedgwick opened #1298 "acquireTokenSilent() is not retrieving token from cache"
## Library
- [ ] `msal@1.2.1`

## Framework
Aurelia 1.*

## Description
Ever time a call acquireTokenSilent() the log states "Token is not in cache for scope: ......

I expected that it should be cached.

[code]

## Security
Is this issue security related?
No

## Regression
Did this behavior work before?
I was on version 0.2.2 before and this was not working.

## Configuration
Please provide your

[2020-02-21 22:00] rajbaral commented on #1011
I am able to login but when I tried to get the logged in user details I got following problem

AADSTS65001: The user or administrator has not consented to use the application with ID 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx' named 'App Name'.
Send an interactive authorization request for this user and resource.

[2020-02-24 07:58] sameerag commented on #1134
We have decided we will no longer populate `domain_hint` from the library - `organizations` and `consumers`. The new policy on `domain_hint` for `msal js` will be as follows:
- We will be passing customer's choice of `domain_hint` to the server for `interactive` calls
- We will  ignore any `domain_hint` passed for `silent` calls (as a wrong `domain_hint` can cause an error in authentication the us

[2020-02-24 13:25] neexs commented on #349
Same issue on Chrome

[2020-02-24 15:23] rasedgwick commented on #1298
I've determined my issues was related to an invalid scope 'offline_access'. After removing the scope token caching is working as expected.

[2020-02-24 15:23] #1298 closed

[2020-02-24 18:03] jasonnutter commented on #1289
@kfear27 Apologies for the delay in responding. @sameerag @pkanher617 can correct me if I'm wrong, but I believe this falls under multi-account scenarios, which isn't currently supported.

[2020-02-24 18:10] jasonnutter commented on #1292
@soares-fernando To clarify, are you using Angular or AngularJS? The sample you link to is for Angular, not AngularJS.

Since MSAL is a client-side library, your application will have to load client-side initially in some way before redirecting to the login page. As you mention, you could create a page in your app dedicated to making this check, but that is work you would need to do, and is outsid

[2020-02-24 18:15] prashantkarkera opened #1300 "Unable to build as per documentation"
Hi ,

This is for https://www.npmjs.com/package/@azure/msal-browser
I am following the documentation but unable to build . Please see steps below:

npm install @azure/msal-browser - This works fine

The next commands do not work.
lerna bootstrap.

This always gives an error of the form that either package.json or lerna.json was not found. Could you please check this and let me know what is require

[2020-02-24 18:20] jasonnutter commented on #1293
@Ivan-L Thanks for the detailed investigation! This definitely looks like a bug. Have you had a chance to figure out what a potential fix might be?

Regardless, we'll investigate and follow up, thanks!

[2020-02-24 18:28] jasonnutter commented on #1297
@rasedgwick You can trigger an `InteractionRequiredAuthError` by removing consent for the application on the [consent page](https://account.live.com/consent/Manage). You can also trigger it by requesting a new scope for which the user has not provided consent.

[2020-02-24 18:32] burns47 opened #1301 "Redirect loop when linking to the site with target="_blank""
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 9

## Description
A link to an angular app using target="_blank" results in an infinite loop since the M

[2020-02-24 19:04] jasonnutter commented on #1301
@burns47 This is a known issue, we plan to have a fix soon. cc: @sameerag

[2020-02-24 19:15] jasonnutter commented on #1011
@sonphnt If your app is single tenant, your authority url should something like: `https://login.microsoftonline.com/<mytenant>.onmicrosoft.com`. This url should be visible on the **Overview** page for your tenant in the Azure Portal under **Azure Activity Directory**.

[2020-02-24 19:34] ahqardah opened #1302 "Users are getting 401's when using acquireTokenSilent"
## Library
- [X] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
`React 16.8.6`

## Description
After upgrading from msal 1.2.0 to msal 1.2.1, users keep getting 401's if their token is expired, acquireTokenSilent isn't refreshing the token as it's supposed to. Also, noticed a bunch

[2020-02-24 19:54] jasonnutter commented on #1296
@nikheelneelay For Angular 8, you should use `@azure/msal-angular@1.0.0` instead of `0.1.4`.

You can see a sample for Angular 8 here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-1.0/samples/angular8-sample-app
Upgrade guide: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-02-24 20:44] thoo1 opened #1303 "Background token renewal"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.2.1` or `@azure/msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Currently there is no background token renewal, the client code has to call acquireT

[2020-02-24 21:22] jasonnutter commented on #1303
@thoo1 The library does not work this way in part because of the load that would put on Microsoft's services if every application was silently renewing tokens on some sort of schedule (as you describe). Furthermore, silent requests/renewals are not guaranteed to succeed, and so it could create a poor UX in your application if not handled correctly.

Please also note that if the same user makes too

[2020-02-24 21:36] kfear27 commented on #1289
@jasonnutter, thank you for the response. Our Azure AD App is multi tenant capeable, I would have thought this was sufficient to do what is needed ? We do have the permissions to access multiple tenants but each request requires a full refresh. Is there a workaround which can be used to flush sessionStorage/localStorage before each new request so it requests a new token for the new teant id ?

[2020-02-24 21:52] rajbaral commented on #1011
Hello @jasonnutter, thank you for this sample code. I am able to login after replacing the client id, and some setting on azure, it works perfectly and replace the /common with our azure tenant id. But my question is, how do we set up for other tenant to access this application and more importantly how do I control this to only those tenant that exist in our database?

[2020-02-24 22:20] jasonnutter commented on #1011
@rajbaral Please read this documentation to learn how to build a multi-tenant application and how to control which tenants have access: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant#understand-user-and-admin-consent

[2020-02-24 23:02] alex-mason-jdas commented on #1269
At this point, I have moved away from the common endpoint

[2020-02-24 23:50] JasSuri commented on #1269
You can still have this issue if there are two accounts logged in at some point to the same tenant. I would recommend adding loginhint for the most robust solution.

[2020-02-25 07:02] satish1597 opened #1304 "Changing the client id on run time"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description

[2020-02-25 09:10] siback opened #1305 ""endpoints_resolution_error" in Microsoft Teams Web in Edge"
## Library
- [ ] `msal@1.2.1`

## Framework
React 16.10.2

## Description
We are trying to use my application inside an iframe in Microsoft Teams Web. (add as website).
In Edge, with a PC inside the same domain as the application is authenticating to, this results in:
"Error signing into iframe ClientAuthError: Error: could not resolve endpoints. Please check network and try again.".

This approac

[2020-02-25 10:50] Glideh commented on #735
I'm neither able to logout a user.
I have the exact same behavior as the OP.
Should I create a new issue with the same title and content ?

[2020-02-25 11:34] franzk opened #1306 "No timeout error if authority is not reachable"
## Library
- [x] `msal@1.2.1`

## Description
There's no timeout error if the authority is not reachable. `WindowUtils::monitorWindowForHash` loops forever, because https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c7c5d1e2c88f7bcbf6f108099f8fc06350773223/lib/msal-core/src/utils/WindowUtils.ts#L61 always matches. I'd consider a timeout to be a hard limit, whatever happens. I

[2020-02-25 11:36] franzk commented on #1306
BTW: My workaround is to have my own timeout around `acquireTokenSilent`, but this is silly, as the loop keeps running and the iframe remains.

[2020-02-25 13:50] odeera-lgim commented on #1011
@cwoolum regarding your example of your protectedResourceMap

would the "https://mycoolservice.com" be the host application and the "https://mycoolservice.onmicrosoft.com" the host application? I've got a similar sort of scenario wherein I've added my API Permissions but am unsure which URLs to use for my protectedResourceMap.

Cheers

[2020-02-25 13:54] snebjorn commented on #855
@jasonnutter I also have the config injection issue.

I'm writing my own AuthGuard and I need to

[code]

Also they are not exported in the base module. So we have to import them like this. It's not ideal.

[code]

Also I don't think the MsalService usage is clear.
Looking at https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/84136a0fa3e1ea57fd0bf579b7840d7fc86ef3fc/lib/msal-a

[2020-02-25 14:01] Glideh opened #1307 "Local dev env not being localhost"
## Library
- [x] `msal@1.2.1`

## Description

I'm trying to configure my app on Azure Portal for my dev env which is not using http://localhost as URI.

Let's say my application is locally served on http://my-app.test, Portal will tell me the URI:

How can I register this http://my-app.test local URI ?

I've been able to do so on other OAuth 2 suppliers and I'd rather not have to add a self signe

[2020-02-25 15:39] xstof opened #1308 "MSAL fails fetching access tokens after running AAD B2C `edit profile` flow"
## Library
- [x] `msal@1.2.1`

## Framework

Quasar ( == vue.js) - Although this also has been reproed using plain old javascript.

## Description

MSAL fails fetching access tokens using `acquireTokenSilent` after AAD B2C `edit profile` flow was executed.

## Security
Is this issue security related?

No.

## Regression
Did this behavior work before?

No.  This never worked.

## Configuration
Plea

[2020-02-25 16:58] alex-volfson-jdas opened #1310 "Safari History with acquireTokenSilent"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
Angular v8
## Description

Us

[2020-02-25 17:31] cwoolum commented on #1011
`https://mycoolservice.com` would be the url for your service. `https://mycoolservice.onmicrosoft.com` would be the scope defined in Azure AD B2C.

 You can think of the protectedResourceMap as a mapping from Urls to scopes. When you make a call to a service, MSAL will look at this map and see if any of the mappings match the URL you are requesting. If it finds a match, MSAL will attempt to fetch

[2020-02-25 19:38] widget31too commented on #1310
This is also happening in Chrome, at least version 79.0.3945.130

[2020-02-25 20:08] Edgias commented on #1302
I think this might be related to the error I am also face: **Token is not in cache for scope:openid profile user.read** then it seems to not go past this step: **Renew token for scope: openid profile user.read is in progress. Registering callback**

[2020-02-25 20:12] gabriel-kohen-jdas commented on #1269
What would be the way to get the preferred_login to populate such login_hint?

[2020-02-25 20:27] alex-mason-jdas commented on #1269
It seems like subject id is the right thing that should determine silent token behavior but that wouldn't line up with login_hint. We have the possibility that the same federated identity resolves to different b2c identities.

[2020-02-25 22:46] jasonnutter commented on #855
@snebjorn

1. `MSAL_CONFIG, MSAL_CONFIG_ANGULAR`: I agree, and am planning to make them available from the main export of the library.
2. `MsalGuard` broadcasts: The difference with the `MsalGuard` broadcast is that it is broadcasting login-related events, whereas the MsalService broadcasts token-related events. It does look like both would occur, which I agree is potentially confusing (both conce

[2020-02-26 05:11] AbhaysinghBhosale commented on #1287
@jasonnutter no there is not configuration for disabling third party cookies.

[2020-02-26 10:48] odeera-lgim commented on #1011
@cwoolum That makes sense, Thanks!
Another question I have is, is there any way for me to give msal an access token and have it NOT login? I'm currently using MSAL_CONFIG in my bootstrap to set it all up, but it forces me to login. I want to be able to essentially say "here, I've got this access token already so skip the login"
does that make sense?

[2020-02-26 12:07] rits-development commented on #1229
@jasonnutter any news on this? Can you confirm this is a bug in MSAL? The line of code I referred to was added 3 months ago in [this commit](https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/e3f4081988c54d1193b54d0efb27ff7ce3e2d7a0) by @sameerag, so it might be regression.

[2020-02-26 14:27] BillyCottrell opened #3424 "Any way to use passport-azure-ad without sessions/cookies"
Hi I have checked issue AzureAD/passport-azure-ad#343, and I am kind of in the same situation I am using angular 9 for the website and loopback with express middleware for the backend. Thing is I have my own auth setup which works without issues, and I want to use Microsoft Graph to get booking information. So I don't need user information or anything else, except for the access tokens. Is there a

[2020-02-26 17:14] JasSuri commented on #1269
Each federated identity will come back with an objectId or Identifier, which is then transformed into a AlternativeSecurityId. That transformation always returns the same output as long as the Identifier is the same. Therefore sending the login hint as well as the domain hint would still satisfy this issue.

[2020-02-26 17:15] JasSuri commented on #1269
@gabriel-kohen-jdas you can extract the preferred_login from the Azure AD token as part of the OutputClaims within your AAD OIDC Technical Profile and issue that into the AAD B2C token as a claim name of your choice. Then on subsequent silent calls, use the claim value as the login hint in the new request.

[2020-02-26 17:18] alex-mason-jdas commented on #1269
Totally agree with login_hint + domain_hint but unfortunately I believe that MSAL.js is going to merge a PR that basically ignores domain_hint on silent calls so isn't there still an issue here?

https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1299

[2020-02-26 17:24] JasSuri commented on #1269
Not really to be fair, since in a silent token call, we already know which IdP to send the request to due to the cookies present.

[2020-02-26 17:36] jasonnutter commented on #843
Closing this, as it looks to have been addressed by the new version of MSAL Angular. You can also use `loginRedict`/`acquireTokenRedirect` if there are issues specifically with popup.

[2020-02-26 17:36] #843 closed

[2020-02-26 18:37] cwoolum commented on #1011
That's a question for @jasonnutter

[2020-02-26 18:44] jasonnutter commented on #1011
@odeera-lgim MSAL requires knowledge of a user session in order to obtain an access token. If you know the user already has an active session with AAD, you can silently request an ID token for that session (which is this context is analogous to signing in) by making a call to `acquireTokenSilent` with `clientId` as the only scope along with either `sid` or `loginHint` (we're working on formalizing

[2020-02-26 19:07] #1213 closed

[2020-02-26 19:09] jasonnutter commented on #990
New samples for Angular are available:

- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-1.0/samples/angular6-sample-app
- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-1.0/samples/angular7-sample-app
- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-1.0/samples/angular8-sample-app

https

[2020-02-26 19:09] #990 closed

[2020-02-26 19:09] #1033 closed

[2020-02-26 19:10] jasonnutter commented on #901
New samples are available:

- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-1.0/samples/
- https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular

[2020-02-26 19:10] #901 closed

[2020-02-26 19:12] jasonnutter commented on #1011
I'm actually going to close this issue, as the original ask (Angular 8 sample using the new version of MSAL Angular) is complete. If you have further questions (especially questions unrelated to the sample itself), please open a new issue, thanks!

[2020-02-26 19:12] #1011 closed

[2020-02-26 19:14] jasonnutter commented on #1034
This work is complete, and available in the beta version of MSAL Angular.

[2020-02-26 19:14] #1034 closed

[2020-02-26 19:16] jasonnutter commented on #1032
This will be done incrementally (some of it has already been done in the new beta). Closing.

[2020-02-26 19:16] #1032 closed

[2020-02-26 19:23] jasonnutter commented on #1307
@Glideh Non-https redirect uris are only possible in certain scenarios. See our docs for more info: https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#supported-schemes

[2020-02-26 19:24] jasonnutter commented on #1304
@satish1597 You could try instantiating a new instance of `UserApplication` with a different clientId, have you tried that?

[2020-02-26 20:56] gabbsmo opened #1313 "How to port redirectUri page from ADAL.js to MSAL.js?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

## Description
When building SPAs with ADAL.js you would implement a separate page for redirectUri

[2020-02-26 23:24] jasonnutter commented on #1285
@mbrevda The iframe not getting removed is not necessarily a problem, are you seeing any other problematic behavior?

[2020-02-26 23:25] #1285 closed

[2020-02-26 23:28] jasonnutter commented on #1286
@vaibhav915 Generally speaking, we do not recommend decoding access tokens (especially tokens for resources you do not control, e.g. Microsoft Graph), as they should be treated as opaque strings. If you need to validate an access tokens for your own resource, we recommend to use one of our middleware libraries.

Closing, as the original issue is resolved.

[2020-02-26 23:28] #1286 closed

[2020-02-26 23:33] jasonnutter commented on #1287
@AbhaysinghBhosale I'm referring to the third-party cookie options on the browser.

Safari: https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac
Chrome: https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en

The behavior you describe is the behavior we expect to see when third-party cookies are disabled in the browser. The error you mentio

[2020-02-26 23:48] jasonnutter commented on #1289
@kfear27 Ah, I think we understand your problem now. The underlying root cause (concurrent requests with the same scope but different authorities) is a known issue (#1225).

For now, a potential workaround is to make each of those requests in serial, instead of doing them in parallel.

[2020-02-26 23:59] jasonnutter commented on #1290
@suresh777 Apologies for the delay. Are you getting a response in `handleRedirectCallback`? Also, it would be helpful if you could debug MSAL to determine what is happening when you call `acquireTokenSilent`, as timeouts could happen for a number of reasons.

Any other information you can provide (such as Fiddler traces, correlation IDs) would be helpful, thanks!

[2020-02-27 00:00] kfear27 commented on #1289
Thanks @jasonnutter - Do you have an ETA on any updates where this can be run in parallel ?

[2020-02-27 00:07] jasonnutter commented on #1305
@siback Are you able to reproduce this consistently? There are known issues with Edge and popups, specifically relating to security zones: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser

[2020-02-27 06:50] siback commented on #1305
Yes, I am able to reproduce this consistently. My users can't log in at all inside Teams Web. This saturday, my organization will upgrade to the latest Edge Chromium, so hopefully that will solve our problems.

[2020-02-27 09:35] AbhaysinghBhosale opened #1316 "431 Request Header Fields Too Large due to msal long cookie send in headers"
## Library
- [ ] `msal@1.2.1`

## Framework
React v16.6

## Description
Due to loo long cookie send in request header azure webapp returning 431 error ie request headers field too large. After looking into the issues found that cookie send in the header is too long causing this issue.

cookie shown in request headers(in chrome network tab) contains a long info about msal as follows.
It contains ms

[2020-02-27 10:28] AbhaysinghBhosale commented on #1287
No, i have not disabled third party cookies, also one of application user received this issue and dont know cookies were disabled or not.

But this issue is reported at the time of login and i call `acquireTokenSilent `method after 1 hr of login. So if its issue with `acquireTokenSilent `they it should occur while renewing token instead the time of login.

[2020-02-27 11:08] osysltd commented on #400
Hi @michaelmaillot!
Thanks a lot for explicit clarification, but as I can see you leverage Graph API permissions set in the app registration and not SharePoint

[code]

![image](https://user-images.githubusercontent.com/1292744/75439143-954c7a00-5959-11ea-891e-ca46246f9355.png)

Could you please give a hint (or any reference to MSFT article) on how to reuse SharePoint permissions set and not Graph

[2020-02-27 11:28] don1989 opened #1317 "No 'Access-Control-Allow-Origin' header is present on the requested resource - when silently acquiring token"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
react: ^16.12.0
react-aad-msal: ^2.3.4
I am using a template created from create react app using typescript.
I a

[2020-02-27 11:47] soares-fernando commented on #1292
@jasonnutter I'm so sorry. I'm using Angular, not AngularJS. Force of habit to call it AngularJS. That said, thanks for your answer. I'm definitely look into this two options, building a login page, or use a server-side MSAL library.  Since the project is for a client I'll have to consider it with them. But anyways, thanks.

[2020-02-27 11:48] #1292 closed

[2020-02-27 12:43] gabbsmo commented on #1313
So far I have replaced adal.js with msal.js and updated the Microsoft.IdentityModel.* nuget packages since the version I used with adalwas not able to extract a principal from the request.

My app consists of two server side pages. One with a AngularJS SPA that talks to a Azure AD authenticated web api and a page with no dependencies other than msal for handling the redirect with the token.

In my

[2020-02-27 16:32] zsid commented on #1287
I have raised a similar bug to `https://github.com/syncweek-react-aad/react-aad/issues/211` which I think it might be a `msal` issue.

My case is when I have Dev and QA env and user credentials that can log into one and not the other. So for example:
1. I log into Dev
2. Navigate to QA env now
3. Stuck in a redirect loop and I have error in the url. I think it is not checking that the first attemp

[2020-02-27 16:49] zsid commented on #1287
This is the error I get in the url

`
http://localhost:3000/login#error=interaction_required&error_description=AADSTS50105%3a+The+signed+in+user+%27%7bEmailHidden%7d%27+is+not+assigned+to+a+role+for+the+application
`

[2020-02-27 17:07] jasonnutter commented on #1287
@AbhaysinghBhosale @zsid Can you both provide a Fiddler trace for the behavior you are seeing? Thanks!

[2020-02-27 17:10] jasonnutter commented on #1289
@kfear27 Not yet, but we're working on it. I would follow that issues for updates.

Closing as a duplicate.

[2020-02-27 17:10] #1289 closed

[2020-02-27 17:29] thelowman opened #1318 "Incorrect redirectUri parameter is displayed at the Azure portal website."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x

[2020-02-27 17:35] jasonnutter commented on #1305
@siback Gotya. Have you debugged `loginPopup` to see what is triggering that error (unfortunately, the "could not resolve endpoints" error can be a bit misleading)?

[2020-02-27 17:36] zsid commented on #1287
@jasonnutter  - this is what i get in fiddler

[code]

[2020-02-27 17:37] jasonnutter commented on #1318
@thelowman Great catch, we'll make sure that gets fixed, thanks!

[2020-02-27 17:46] jasonnutter commented on #1287
@zsid That particular error needs to be resolved an admin: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-sign-in-problem-federated-sso-gallery#user-not-assigned-a-role

Have you gone through those steps?

[2020-02-27 18:45] jasonnutter commented on #1229
@rits-development Yeah we think there's a bug in the redirect response processing. @tnorling will be investigating.

[2020-02-27 19:16] DarylThayil commented on #1072
@hhertogh  Jumping in, Are you using Electron in the outlook client? Or is your native app opening a web browser containing msal js?  Trying to understand the whole scope here.

[2020-02-27 21:11] jasonnutter commented on #1287
@AbhaysinghBhosale I think I'm confused about what is going on. The error you mention (`error=login_required&error_description=Silent+authentication+was+denied.+The+user+must+first+sign+in+and+if.`) is one that would be sent when calling `acquireTokenSilent`, which you say is being done one hour after login?

1. Call `loginRedirect`
2. Wait one hour, call `acquireTokenSilent`
3. Receive the `login

[2020-02-27 21:16] jasonnutter commented on #1317
@don1989 The urls that you provided are urls that look to be for the Auth Code flow, not the implicit flow (e.g. `response_type=code+id_token`). The version of `msal` you are using uses the Implicit Flow. Is your application enabled for Implict Flow in the Azure Portal? https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#enable-the-implicit-flow

[2020-02-27 22:28] m-sterspace commented on #1288
I also found this extremely confusing and in general found the documentation on how to implement a redirect flow (and why you're implementing what parts of it), very confusing.

It would help if there was a clear and concise explanation of what the flow is (i.e.):
- Wrap your application in an Auth component.
- When your application and hence the Auth component initializes, try and acquiretokensil

[2020-02-27 22:54] Raysapps opened #1322 "MSAL Angular B2C Authorization SignalR connection/Hub"
## Library
"@azure/msal-angular": "^1.0.0-beta.2"

## Description
My Angular -ASP.NET Core web app hosted on Azure AppService is integrated with Active directory B2C for Web API authorization and I would like to use the same B2C credentials to authorize SignalR connection/hub.Is this possible? If yes, could you please provide the procedure/samples to implement the same.

[2020-02-28 02:58] kfear27 commented on #1289
Just an FYI I found a solution to this.

Functions:
[code]

Client ID array & calling the chaining function:
[code]

[2020-02-28 04:41] AbhaysinghBhosale commented on #1287
No issue is that error occur on login itself and not on `acquireTokenSilent` as before calling this acquireTokenSilent i check token expiry time and if its near to expiry then only this method gets called.

following is the error case.

1. - Call loginRedirect
2. User redirected back to website(screen flicker here) and user get logged in after 2-3 times flickering.

Now if i capture video and see

[2020-02-28 04:46] AbhaysinghBhosale commented on #1316
@jasonnutter is there any workaround for this? will it fixed in any new version of msal ?

[2020-02-28 04:55] AbhaysinghBhosale commented on #1302
Having same issue with multiple inProgress values in localStorage.

[2020-02-28 05:37] Glideh commented on #1307
Thank you for your quick anwser.
So I understand I don't have the choice in my case.
I'll most likely go for a self signed certificate.

[2020-02-28 05:37] #1307 closed

[2020-02-28 09:49] Edgias opened #1324 "Failing to acquire access token - Non-interactive error: block_token_requests"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.2.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React v16.12.0

## Description
I have 2 applications which are both protected by azure ad: a react app and an asp.net core web API. These applications are registered separately in Azure so each has its own client id. Users will get authenticated via

[2020-02-28 10:05] suresh777 commented on #1290
I am not getting any response in handleRedirectCallback and  in fiddler traces also nothing i found

[2020-02-28 13:57] don1989 commented on #1317
Hi @jasonnutter we do have Implicit Flow enabled. Please see the attached screenshot below of our configuration in the Azure Portal

![AzurePortal](https://user-images.githubusercontent.com/10096212/75553663-c055cd00-5a30-11ea-9e3b-0ab609e7cd50.jpg)

[2020-02-28 18:00] jasonnutter commented on #1324
@Edgias Can you try opening the `login.microsoftonline.com` url in its on tab, and let me know what happens?

[2020-02-28 22:19] willyt150 commented on #855
@jasonnutter So we're running into a very similar issue to what's mentioned above for trying to setup MSAL without doing the .forRoot call. We had to do this so we can host the same compiled site on different environments, each with their own Azure AD Application and tenant.

The error we're getting is: `R3InjectorError(AppModule)[MsalService -> InjectionToken MSAL_CONFIG -> InjectionToken MSAL_CO

[2020-02-28 23:57] hkhamm opened #1326 "Access Panel Applications links break login"
## Library
msal@1.2.1

## Framework
react@16.13.0

## Description
When opening our app from a link on our tenant's Access Panel Applications page (https://account.activedirectory.windowsazure.com/r#/applications), then calling `UserAgentApplication.loginRedirect({ scopes: [<clientId>] })` results in a redirect where we enter our MS credentials, and then we are redirected back to the app. The authe

[2020-02-29 01:26] JamesBream commented on #1000
@pkanher617 Will the auth code flow remove the limitation of returning no more than 6 groups in an access token that the current implicit flow has?

Is this still on track for a March release? We're keen to move away from the implicit flow when we can.

[2020-02-29 02:17] hkhamm commented on #1326
Found the issue in `UserAgentApplication.ts`. After the redirect, in the constructor checks
`if (urlContainsHash && !WindowUtils.isInIframe() && !WindowUtils.isInPopup())` before calling `handleAuthenticationResponse`.  The first two were true, but `!WindowUtils.isInPopup()` is false. That method (in `WindowUtils.ts`) is doing this:

[code]

My hacky fix was to manually set `window.opener = null`

[2020-02-29 08:14] Raysapps commented on #1322
I've successfully authorized SignalR from angular by accessing token from the broadcast service as below:
` this.acquireTokenSuccessSubscription = this.broadcastService.subscribe("msal:acquireTokenSuccess", (payload) => {

// pass token to _signalR service init method
      _signalR.init(payload["accessToken"]);

    });
class SignalR
{
     init(accessToken:string) {
    this.createConnection(acc

[2020-02-29 10:01] Edgias commented on #1324
@jasonnutter My bad about the url, the unsafe javascript error is gone but I am still getting **Non-interactive error: block_token_requests**. What am I missing? Could it be the way I registered my apps as described above?

[2020-03-01 22:04] mbassit opened #1327 "Failing Angular tests in 'Angular8-sample-app'"
## Framework
Angular v8

## Description
The existing 4 tests for the 'Angular8-sample-app' are failing

## Reproduction steps
1. Run 'npm test' from terminal
2. Notice 4 failing tests (see screenshot below)

## Expected behavior
If the sample app comes with tests, they should be passing

![FailedTests](https://user-images.githubusercontent.com/3085147/75634776-77f10780-5c08-11ea-9259-1e3ee1b53db6.

[2020-03-02 09:19] zsid commented on #1287
@jasonnutter, this is a valid use case for us. Only few users within our organisation will have access to our application. We would like to show an error page to the rest of the users that they are not authorised to use the application.

How can we do this?

[2020-03-02 10:13] sameerag commented on #1271
#1325 - PR defining folder structure and proper naming

[2020-03-02 13:04] andreifloricel commented on #1000
@pkanher617 Hi, are there any news regarding the CORS support? Is there an issue where we can track the progress of the server-side team?

[2020-03-02 15:07] hhertogh commented on #1072
Hey,
@DarylThayil : No, we are not using Electron, it's the native app, in which the iframe is containing msal.js.

[2020-03-02 16:37] jasonnutter commented on #1326
@hkhamm Yes, this is the recommended workaround for now. We're aware of this issue, and plan to have a fix soon. Thanks!

[2020-03-02 16:41] jasonnutter commented on #1324
@Edgias That error is thrown when we detect that your application is try to make a call to `acquireTokenSilent` on page load when it is loaded inside a hidden iframe. We throw this error to prevent bad side effects from occurring (endlessly acquiring tokens in nested iframes, namely). This error is mostly informative, and does not prevent your application from acquiring tokens. To suppress this er

[2020-03-02 17:29] hkhamm commented on #1326
Sadly, the `window.opener = null` fix does not work in original Edge. We ended up forking so we could remove the `!WindowUtils.isInPopup()` check. Any suggestions @jasonnutter?

[2020-03-02 18:29] jasonnutter commented on #1288
@m-sterspace Our [quickstarts](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript) are meant to help address this, and I agree they could be better with some of the specifics as you mention.

The `handleRedirectCallback` function needs to be called to parse the redirect response and register your callback, which we agree is confusing (it should probably just d

[2020-03-02 18:56] DarylThayil commented on #1072
So the truth is, this scenario is not currently supported in the library. We definitely have plans to enable Native Embedding scenarios, but it requires a few features before we can get there that we are still planning.
I

[2020-03-02 19:06] m-sterspace commented on #1288
I read through that quick start, and it got me up and running with the loginpopup method in a couple of hours, but it doesn't provide any information on how to properly implement the redirect flow.

For instance this diagram is great: https://docs.microsoft.com/en-us/azure/active-directory/develop/media/quickstart-v2-javascript/javascriptspa-intro.svg ... but it doesn't really make sense with a re

[2020-03-02 19:17] jasonnutter commented on #1316
@AbhaysinghBhosale Not yet, we are planning to have a fix soon.

[2020-03-02 20:49] jasonnutter commented on #1287
@AbhaysinghBhosale

1. First, you do not need to manually check the expiry time of the token, as `acquireTokenSilent` will handle that for you. So you should just call `acquireTokenSilent` right before you need a token, and let it figure out whether or not you need a new token (which it will acquire for you).
2. No, MSAL does not automatically call `acquireTokenSilent`. The symptoms you describe (

[2020-03-02 20:50] jasonnutter commented on #1287
@zsid If you want to show an error page specifically for that scenario, you can inspect the error response (in `handleRedirectCallback`) and perform the desired business logic based on that response.

[2020-03-02 20:51] jasonnutter commented on #1290
@suresh777 Can you share the Fiddler trace with me? Email is in my profile, thanks!

[2020-03-02 20:56] jasonnutter commented on #1326
@hkhamm Ah, that's unfortunate, good to know. We have a number of other customers asking about this, so we'll get this prioritized. Not sure of another workaround at the moment.

[2020-03-02 20:57] jasonnutter commented on #1326
Closing as a duplicate of #1301.

[2020-03-02 20:57] #1326 closed

[2020-03-02 20:59] jasonnutter commented on #1317
@don1989 Do you have a Fiddler trace you can share with me? That would be helpful. Email is in my profile, thanks!

[2020-03-02 21:05] sameerag commented on #1301
Status: Working on a POC and will release a beta to get this rolling, potentially later this week or early next week.

[2020-03-02 21:10] 00vareladavid opened #1331 "'user.read' scope"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

I am new to both ad b2c and msal. I'm trying to follow this tutorial: https://github.com/Azure-Samples/active

[2020-03-02 21:12] AndreiZe commented on #1316
This is serious issue because all requests going to app will be failing with the same 431 error. We fixed this in our case by specifying
cache: { storeAuthStateInCookie: false }
in MSAL configuration. We could do it because we do not support IE anymore and rely on localStorage for caching tokens.

[2020-03-02 21:20] jasonnutter commented on #1316
Closing as duplicate, tracked in #1188

[2020-03-02 21:20] #1316 closed

[2020-03-02 21:30] 00vareladavid commented on #1331
Do I somehow have to create that scope through the azure portal?

[2020-03-02 21:31] jasonnutter commented on #1288
@m-sterspace Thanks again for the feedback. I agree the timing of `handleRedirectCallback` invocation isn't clear, we're looking at how to improve that (and making sure it is documented).

[2020-03-02 21:31] AndreiZe commented on #1306
We ran into this as well.

We are seeing this issue when silent token fetch is called and there is network issue. In addition, there has to be cached response for openid-configuration endpoint; otherwise, endpoints_resolution_error is returned. I believe that the issue is due to the fact that with network error hidden iframe that is used to get token response from login.microsoftonline.com never g

[2020-03-02 21:32] jasonnutter commented on #1331
@00vareladavid You need to enable that scope for your application in the Portal (under the "API Permissions" blade).

[2020-03-02 21:33] derisen commented on #1331
Hi @00vareladavid,

the sample you mention is calling a web api that has only the scope `.../demo.read`, so that will have to be the scope requesting an access token. For instance,

[code]

When requesting an id token, the scopes you pass to `loginRequest` object are used. There, the scope `openid` is crucial to get the id token, whereas the other scopes are for what the user pre-consents (so that

[2020-03-02 22:00] pkanher617 commented on #1000
@JamesBream I'm unfamiliar with that particular issue, but I do know of the issue with tokens being truncated in the url hash for implicit flow. We will no longer have restrictions on size limits for tokens since these are coming back in http responses. If your issue is related to something other than token size, I will have to understand a little more about the use case.

It is still on track for

[2020-03-02 23:23] jasonnutter commented on #855
I have released a new beta for MSAL Angular that should address compatibility issues with Ivy: `@azure/msal-angular@1.0.0-beta.3`

This version was built with the Angular 9 CLI, and has been tested with the new [Angular 9 sample app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev-angular-9-sample/samples/angular9-sample-app). Please test this out and let me know of any

[2020-03-03 00:08] jasonnutter commented on #855
@willyt150 Can you checkout this [commit](https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/8b8f6b01339f4e49cfd58006fd4243985f904ac2) (which is based on the Angular 9 sample) and let me know if doing something like that works for your app?

[2020-03-03 00:14] willyt150 commented on #855
@jasonnutter I haven't had a chance to update our implementation to use the new beta, but the commit you've linked to above follows the very same approach as what we were doing.

The only slight difference is that we're setting some of the values programmatically, like the popup, for the handling of IE, but I would assume that should work ok.

I'm hoping to have a chance tomorrow to look into it.

[2020-03-03 00:24] sameerag opened #1332 "[msal-node] README"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
`msal-node` ReadMe. Model after [`msal-browser`](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) for uniformity

## Priority
README.md  should be functional by the end of March (Current Quarter - Q3)

## Acceptance Criteria
- Update all `msal-node` guidance and documentation
- All samples

[2020-03-03 00:25] markau commented on #1000
I am also very keen on this change. (Any preview doco would be appreciated). I advocated for using auth code flow in our server side applications, and I can't in good conscience launch an app using implicit in 2020. Thanks for your efforts!

[2020-03-03 01:25] system47 commented on #1250
Hi @sameerag,

I may have a different use case than @hrishy but I do have the same issue. The app I'm building utilizes Graph API calls for the frontend's layout (which requires the access_token), in addition to making calls to my backend API with the id_token. Because the Graph API calls are a part of the layout, this forces two full redirection flows when a user initially logs in to the applicat

[2020-03-03 02:34] CodyMorris commented on #1269
Can login_hint currently be used when using the AngularJS wrapper?

[2020-03-03 03:20] AndreiZe opened #1333 "Temporary local storage entries are not cleared when token request has "state" value"
## Library
- [msal@1.2.1]

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
React 16.8.1

## Description
Local storage use grows uncontrollably when silent token fetch request has "state" value passed as part of AuthenticationParameters object. Eventually it results in localStorage exhaustion and failure to fetch tokens in case

[2020-03-03 03:28] sameerag commented on #1333
Thanks @AndreiZe, this is an important find and will fix it asap. Please check here for the PR link.

[2020-03-03 04:08] 00vareladavid commented on #1331
Thank you for the quick replies.

Your advice helped me pinpoint my problem. I had this line:
[code]

Changing it to the following solved my problem:
[code]

[2020-03-03 04:08] #1331 closed

[2020-03-03 04:34] CodyMorris opened #1334 "Status of AngularJS wrapper, unsupported?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angularjs@1.x.x`

## Description
When investigating msal and msal-angularjs, it appears as if its an actively supported wrapper.  Neither the core readme or the readme for the AngularJS mention that the wrapper is no longer su

[2020-03-03 09:59] jrdutton commented on #1177
Hi @jasonnutter, I've tried many of the solutions suggested. They all work with Angular 8, but none work with Angular 9 + Ivy + AOT = true.

In all cases, I see the following error ...

bootstrap-fail NullInjectorError: R3InjectorError(AppModule)[MsalService -> InjectionToken MSAL_CONFIG -> InjectionToken MSAL_CONFIG -> InjectionToken MSAL_CONFIG]:
  NullInjectorError: No provider for InjectionTok

[2020-03-03 11:21] suresh777 commented on #1290
I didn't get any traces in console and so many users already raised this issue, It is not working in latest version

[2020-03-03 15:09] Nitin393 opened #1335 "MSAL issue in MS Teams"
I have developed an SPFX component where I am authenticating Azure AD using MSAL. I am able to get token and extension is working fine for me. Now, when I add this SharePoint page in MS Teams (Desktop version) tab, I am getting error while acquiring token. I am acquiring token using 'acquireTokenSilent' method of MSAL and passing authentication parameters with loginHint with scopes. SharePoint wor

[2020-03-03 16:35] jasonnutter commented on #1177
@jrdutton Please see my comments here about Angular 9 + Ivy, specifically links to the new sample: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/855#issuecomment-593674986

[2020-03-03 16:44] jasonnutter commented on #1334
@CodyMorris Yes, the `@azure/msal-angularjs` wrapper is in maintenance mode, and only receiving high-priority security fixes. We are concentrating our efforts on `@azure/msal-angular`.

We'll make sure this made clearer in our documentation. Thanks for the feedback!

[2020-03-03 16:45] jrdutton commented on #1177
Thanks very much, @jasonnutter, I saw your branch and was very excited. I'd already tried almost identical code to yours within main.ts and app.module.ts, but guess there is something else that I am missing.

[2020-03-03 17:02] jasonnutter commented on #1177
@jrdutton Are you using `@azure/msal-angular@1.0.0-beta.3`?

[2020-03-03 18:05] jasonnutter commented on #1313
@gabbsmo Apologies for the delay in responding. To your original question, yes, in MSAL you can also have a dedicated page for your redirect URI. Since v1.2.0, for popup and silent actions this page can be a blank HTML page (i.e. it doesn't even have to include MSAL on it). Redirect URI for redirect actions (loginRedirect and acquireTokenRedirect) will still need to include MSAL in order to proces

[2020-03-03 18:39] cleberdantas opened #1336 "Unable to change accounts when using OpenID Connect pointing to an AAD tenant"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Azure AD B2C is configured to use `Local Accounts` and `OpenID Connect`, which points to an Azure Active Directory tenant.

When an user from the AAD logs in via the button configured in B2C, u

[2020-03-03 19:41] jasonnutter commented on #1260
PR to short-circuit the guard if used on a redirect URI is up: #1337

Will release in the next beta.

[2020-03-03 20:40] sameerag commented on #1334
cc @hamiltonha

[2020-03-03 21:01] Ivan-L commented on #1293
@jasonnutter Apologies for the late response, I have been under pressure to meet certain deadlines.

I did some more digging and narrowed down the issue even further by debugging both the old version and new version of `UserAgentApplication`.

In the old version 0.2.4 of the `processCallback` method of `UserAgentApplication`, the access token in our case [is obtained](https://github.com/AzureAD/mi

[2020-03-03 21:39] Ivan-L commented on #970
@jasonnutter I can confirm that we are also getting this same error with @azure/msal-angular 0.1.4-beta.2. Our repro steps are exactly the same, whenever somebody accesses the app for the first time in the day, a GET to https://login.microsoftonline.com/[tenant_id]/oauth2/v2.0/undefined is made. The only recovery from that issue is to clear the local/session storage. I haven's tested whether this

[2020-03-03 22:19] jasonnutter commented on #1293
@Ivan-L Thanks! This is very helpful. I'll put up a PR, and we'll get it out in the next version / beta.

[2020-03-03 22:32] jasonnutter commented on #1293
@Ivan-L Question: in your scenario, does this log statement get reached? https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/1212c640aa619718328a5f6931f14ecf27ea0b36/lib/msal-core/src/UserAgentApplication.ts#L1541-L1542

If not, which path does it take?

[2020-03-03 23:08] willyt150 commented on #855
@jasonnutter we've had a chance to try the new beta with our main.ts approach and it's working!

thank you very much!

[2020-03-04 00:02] sameerag commented on #1333
PR #1339 should fix this.

[2020-03-04 02:05] mindingdata opened #1340 "Redirect_URI "Simple Page" Question"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
I'm working on a project that has implemented MSAL 1.2.0 inside an Angular App, but without using the Angular library (e.g. Just standard JS inside the app as a service).

Ignoring all the other multitudes of issues with this, an issue we have is the redirect_uri creating an iframe loop. The documentation (https://github.com/Azur

[2020-03-04 06:31] abishekreddy opened #1341 "MsalInterceptor not attaching tokens"
## Library
- [x] `@azure/msal-angular@1.0.0-beta.2`

## Framework
Angular 7.2

## Description
The MsalInterceptor is not attaching tokens to API calls.
I have added the logger callback with console logging and log level set to Verbose to identify where its failing. The log shows that its unable to find the url in the protectedResourceMap array even though it has been passed.

Note: I am passing th

[2020-03-04 06:47] abishekreddy commented on #1341
Seems like the issue is with the getScopesForEndpoint method of MsalService. On line 182, the code doesn't seem to check for an empty array/map.

`const protectedResourceMap = (this.msalConfig.framework && this.msalConfig.framework.protectedResourceMap) || new Map(this.msalAngularConfig.protectedResourceMap);`

So if framework is not passed as part of msalConfig and msal sets a default, then prote

[2020-03-04 06:47] satish1597 commented on #1304
@jasonnutter Defining new MsalService requires 4 arguments and it contains msalConfig and msalAngularConfig. What is the difference between them?

[2020-03-04 07:32] asanchezfe commented on #855
For us, without changes, seems to work also. Can't test a lot because we have other libraries not compatible with ng9 yet so we'll not take it into prod.

[2020-03-04 08:08] rits-development commented on #1313
@gabbsmo I attempted the exact same migration. However, I bumped into a bug in MSAL.js (see #1229) so the redirect flow with a separate authenticated redirect page won't work with the current version of MSAL.js.

[2020-03-04 14:09] Ivan-L commented on #1293
@jasonnutter No, the log statement does not get reached.

Neither
[code]
nor
[code]
evaluate to `true` and the entire [block of code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/1212c640aa619718328a5f6931f14ecf27ea0b36/lib/msal-core/src/UserAgentApplication.ts#L1534-L1547) is skipped in our scenario.

I have not tested the suggestion in our app. I can do so, but it may

[2020-03-04 16:18] jasonnutter commented on #1341
@abishekreddy Great catch, I'll make sure this gets fixed. Thanks!

[2020-03-04 16:47] jasonnutter commented on #1304
@satish1597 `msalConfig` is the same `Configuration` object that is used to initialize `msal`, while `msalAngularConfig` is a set of configuration options that are needed specifically for MSAL Angular.

[2020-03-04 16:47] jasonnutter commented on #855
@willyt150 @asanchezfe Great to hear, thanks for the feedback!

[2020-03-04 16:49] jasonnutter commented on #1293
@Ivan-L I see, thanks for the follow up. Don't worry about testing this out yet, I'll chat with the team today and if we like your proposed fix, we can likely release a beta version with a fix that you can try.

[2020-03-04 17:21] allen-huynh-at-dow commented on #1184
Hi @jasonnutter ,
I spent some time troubleshooting why having `popUp: false`, `navigateToLoginRequestUrl: true`, and in setting `canActivate: [MsalGuard]` on a route were redirecting me to the redirectUri instead of the protected component.
Figured it had to be a bug and tried to look for an issue for this, and I stumbled on this side conversation.
Do you have any updates on when the bug on retur

[2020-03-04 17:37] jasonnutter commented on #1340
@mindingdata

1. **"What does a "simple page" constitute. On this simple page, do I have to fire MSAL for any reason?"**: As of `msal@1.2.0`, a "simple page" can be a blank HTML file with no content. For silent and pop actions (e.g. acquireTokenSilent, acquireTokenPopup, etc), MSAL is not required on that page. For redirect actions (acquireTokenRedirect, loginRedirect), MSAL is required.
2. **"Whe

[2020-03-04 17:46] jasonnutter commented on #1184
@allen-huynh-at-dow I've actually been looking at this exact issue, planning to have a fix in the next version.

[2020-03-04 19:16] #855 closed

[2020-03-04 19:55] mindingdata commented on #1340
Interesting. Do you mean because the user must be redirected eventually, or because MSAL is required inside the hidden IFrame?

For example my code on my empty HTML page is nothing but...

[code]

So any user hitting this after logging in is redirected back to my website with the hash no worries. The iframe however is stopped dead in it's tracks.

Is this a viable solution?

[2020-03-04 21:31] jmckennon commented on #893
Update: This ended up evolving into something totally different. We had to completely rework the way we use and make uploads to our CDN in order to facilitate keeping the same domain that we were on previously. Today, we are able to make manual uploads again with our new method by directly accessing Azure storage with a CDN connected to it. I'll be closing this ticket in reference to that untracke

[2020-03-04 21:32] #893 closed

[2020-03-04 21:34] jmckennon opened #1345 "Automate new CDN uploads"
We've reworked the CDN so that we can directly upload to Azure Storage. We want to automate this process in our pipeline. Extension of #893

[2020-03-04 21:35] #1176 closed

[2020-03-04 21:35] jasonnutter commented on #1176
Closing due to inactivity. Let us know if you still have questions.

[2020-03-04 21:38] jasonnutter commented on #964
Closing, please use the link above to the reference docs (which we will work on improving).

[2020-03-04 21:38] #964 closed

[2020-03-04 21:39] jmckennon opened #1346 "msal-common supports client-side throttling"
WRT https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/1249?_a=files&path=%2FService%20protection%2FIntial%20set%20of%20protection%20measures.md

Client libraries are adding in the idea of throttling a `StrictRequestThumbprint`, a way of identifying a particular user accessing a particular resource. The above spec details the implementation.

[2020-03-04 21:43] jmckennon opened #1347 "msal-core supports client-side throttling"
WRT https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/1249?_a=files&path=%2FService%20protection%2FIntial%20set%20of%20protection%20measures.md

msal-core should support client side throttling. This will differ from the above spec in that we'll be specifically looking for `server_error` and `temporary_unavailable` as an analog of receiving a 429/5xx code. Sist

[2020-03-04 21:49] jmckennon opened #1348 "msal-common supports sub-error codes"
Previous issue: #903. We found this was not applicable to msal-core and the implicit flow, but will be implemented in msal-common and the auth-code flow. These are detailed further on #903. They should be passed through to users of the msal client with errors when applicable.

The .NET team has [an implementation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1254/fil

[2020-03-05 09:17] don1989 commented on #1317
@jasonnutter I've sent across the Fiddler trace via email. Let me know here/via email if you need any more info.

[2020-03-05 14:35] BoshJeckerleg opened #1349 "Accessing SPA via a hyperlink breaks MSAL login process, handleRedirectCallback is never called"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- Angular v7.2.16
- NGRX v8.2.0

## Description
The msal set up I have in my angular application uses NGRX and a MSAL service to authenticate the user and store specific values and tokens in the store. Currently we use

[2020-03-05 15:12] zackzane opened #1350 "loginRedirect() not redirecting to MS login screen"
## Library
- [x] `msal@1.2.2-beta.1`
- [x] `@azure/msal-angular@1.0.0-beta.3`

## Framework
Angular v8

## Description
loginRedirect() is called without any arguments, and nothing happens. Tracing the problem reaches an error of: Error: could not resolve endpoints. Please check network and try again.
The network tab reveals that the https://login.microsoftonline.com/v2.0/.well-known/openid-configu

[2020-03-05 15:25] strabu commented on #855
@jasonnutter thanks a lot!
Now it also works for us with Ivy.

[2020-03-05 18:03] jasonnutter commented on #1317
@don1989 Thanks! The issue is that your `auth.html` page is setup to require authentication, which results in a redirect to the login screen inside the hidden iframe, which causes the error you are observing. The fix is that your `auth.html` page must not itself require authentication, to prevent this redirect.

[2020-03-05 18:36] jasonnutter commented on #1340
@mindingdata

For silent and popup flows, the main window for the app (which initiated the actions) will monitor the iframe/popup for the redirect back to the application and then parse out the response. Because that main window is doing all the work, MSAL doesn't need to be running on the redirect URI used for those actions.

For `loginRedirect/acquireTokenRedirect`, the main window itself gets r

[2020-03-05 19:46] icatchx22i commented on #1335
Hey, I'm not an expert on the issue by any means but I hit this same issue where my React app was authenticating successfully in browser but failing gloriously as an MSTeams Tab. I believe the solution here is to use the popup workflow instead of the redirect method.  Now im not sure if fully applicable to SPFX components, but here is the example : https://github.com/OfficeDev/microsoft-teams-samp

[2020-03-05 19:50] jmckennon commented on #1336
To clarify the use case here:

You have B2C configured with an AAD tenant. You have a user who is logged into multiple applications, we'll say your B2C app and Office. If the user logs out of the B2C app, and then tries to login again on a different user in the same AAD tenant. At this point, they will login to the original user, not the new one. If the second app, Office in this scenario, was nev

[2020-03-05 19:51] icatchx22i commented on #1335
Unfortunately.. it seems like there's a known bug that means this may not work with MSAL: #1095

[2020-03-05 21:37] zackzane commented on #1350
Apologies - turns out to be a non-issue, as I think it has something to do with a local settings on my PC. Works perfectly fine once deployed elsewhere.

[2020-03-05 21:37] #1350 closed

[2020-03-05 22:24] keystroke commented on #1345
Yes please! I'd love to rely on the new release notifications implying that the new version is available at the CDN link. I've seen it delayed weeks and it is annoying.

[2020-03-05 23:53] dcokely7 opened #1353 "x-frame-deny with Angular PWA on iOS after disabling ITP"
## Library
- [x ] `msal@1.2.1`

## Framework
Angular 8
angular/pwa": "^0.802.0"

## Description
Using B2C login with an AAD tenant as the identity provider, the newer b2clogin.com based url (instead of *onmicrosoft.com) for the auth response in the iframe results in the x-frame-options deny when acquiring a token (slient) in a PWA on iOS only.  Using Safari directly (not bookmarking) on iOS works

[2020-03-06 00:25] jasonnutter commented on #1349
@BoshJeckerleg Does this happen when the link that opened the site is set to open the app in a new window? If so, this is a known issue, and we are working on a fix.

In the mean time, a potential workaround is to set `window.opener = null` in your app.

[2020-03-06 00:28] jasonnutter commented on #1345
@keystroke Trust me, don't have to tell @jmckennon how annoying this has been :)

[2020-03-06 08:18] BoshJeckerleg commented on #1349
@jasonnutter Yes, that is what's happening currently. Thanks for the work around i'll implement that now.

[2020-03-06 11:56] tragdorvigani1 opened #1356 "Safari on iOS: acquireTokenSilent never completes"
## Library
- [X] `msal@1.2.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React 16.12.0

## Description
In iOS Safari, acquireTokenSilent does not complete.  No result is ever processed, no error is caught.

## Security
No

## Regression
No

## Configuration

[code]

#

[2020-03-06 13:37] cleberdantas commented on #1336
It is partially correct.

The scenario where the Office was never opened before does not change the behavior.

Lets say I'm opening the application in a new computer (no session/cookies anywhere), so I open my B2C app and go to login, there I can choose to do the authentication `locally` or via a `federated` AAD (a button like facebook, but for an AAD tenant). In this case I will choose the button

[2020-03-06 16:10] liben-y commented on #1117
Sorry for the late response,
Thanks @emadalsous, I somehow managed to get it working locally and had further issues after I deployed the app to azure.

I then realized that the examples I was using updated and so did the msal libraries.

The issue I had when setting up CORS is, I needed to both set
AllowCredentials()
AllowAnyHeaders()

`                services.AddCors(options =>
                {

[2020-03-06 17:03] snebjorn commented on #855
@jasonnutter It works! 🚀

But...

Any particular reason MsalService isn't provided in root?
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9d809a9fe7618768bc35614c7a457110fd8c96a9/lib/msal-angular/src/msal.service.ts#L31
If it's provided in root we don't have to provide it our self. Like it's done in the sample
https://github.com/AzureAD/microsoft-authentication-library-fo

[2020-03-06 17:17] jasonnutter commented on #1356
@tragdorvigani1 Yes, I believe #1354 should fix this. Working to have that released soon.

[2020-03-06 17:20] jasonnutter commented on #1336
@cleberdantas Yes, you can provide the prompt parameter via `extraQueryParameters`: `extraQueryParameters: 'prompt=select_account',`

[2020-03-06 17:27] jasonnutter commented on #1349
@BoshJeckerleg Great, thanks for confirming.

Closing as a duplicate of #1198, #1207

[2020-03-06 17:27] #1349 closed

[2020-03-06 17:45] jennyf19 commented on #1353
@jasonnutter @sameerag @DarylThayil

[2020-03-06 19:36] sameerag commented on #400
We have all the instructions from multiple people on this thread. Closing this now and if there are new questions, please raise a new PR.

[2020-03-06 19:36] #400 closed

[2020-03-06 20:04] pkanher617 opened #1357 "[1.x] Tokens are being cached with client id scope"
## Library
- [x] `msal@1.2.2-beta.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
When completing a redirect auth flow, the tokens in the cache are being cached with the client id as th

[2020-03-06 20:38] sameerag commented on #1336
Hey all, The recommendation is to send prompt as its own parameter and is supported in the request for interactive calls. silent calls include `prompt=none` from the library scrubbing any other `prompt` values set as we want no prompts in that case.

[2020-03-07 23:04] jeverduzco commented on #701
I have the same problem in my case the browser is Edge Chromium and I can't get the password reset flow to work with Ad B2C, if the user cancels or completes the flow I get the error.

note: I have `storeAuthStateInCookie` in `true`

[2020-03-08 09:37] ElectricLlama commented on #627
"client side JS web apps running in a browser such as single page apps". These do not need a web server to run. Right now I have a SPA which calls Azure API's and the only reason it needs a web server is so that the app registration callback URI works. I'd happily run it without a web server but then I'd need to get device code working (and it sounds like it doesn't work with MSAL.js)

[2020-03-08 10:18] tragdorvigani1 commented on #1356
@jasonnutter Thanks! Is there some way I can register for a notification for that release? If it'll take a while I could try patching the changes myself, to find out whether it solves the issue.

[2020-03-08 20:17] sameerag commented on #627
Yes. please track [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/4) which will have device-code support.

[2020-03-09 01:11] jeverduzco commented on #1245
Any updates on this? it's impossible to put an application into production without this functionality.

[2020-03-09 11:36] don1989 commented on #1317
Hi @jasonnutter not sure what you mean that the auth.html page is setup to require authentication. The auth.html page is just a blank file in the public folder as suggested by the react-aad-msal package. It's not a route that's wrapped in the authentication layer as far as I'm aware on the code side.

Does the file need to be marked in some way to ignore authentication or is it something that need

[2020-03-09 16:39] jasonnutter commented on #855
I'm not sure, I'll look into that.

Good to know.

I'll see about including them, hopefully just a setting in `ng-packagr`.

[2020-03-09 16:56] jasonnutter commented on #1317
@don1989 If I go to your `/auth.html` route in an incognito window, I ultimately get redirect to the login screen. So yes, this route needs to be marked in your app code so that it doesn't trigger this redirect (which is what is causing the error you are seeing), as it looks like your whole app has been setup to require auth.

[2020-03-09 19:38] joshpennington commented on #701
Same as @jeverduzco. I am having the issue in Edge Chromium when using the password reset flow in AD B2C. I also have storeAuthStateInCookie set to true

[2020-03-09 23:51] #1341 closed

[2020-03-10 00:48] DarylThayil commented on #1353
Can you confirm one thing? If you call Acquire Token Silent and get a catch from Xframes Deny, can you try acquire Token Popup and see if this works and if it does, is it because interaction was required?

[2020-03-10 01:01] jasonnutter commented on #1353
@dcokely7 To confirm, you receive the `X-FRAME-DENY` header when using b2clogin.com and your site is used as a PWA? And if you either use the site in normal Mobile Safari with ITP enabled, or use `onmicrosoft.com`, it works as expected?

If so, I am guessing that when you install and use a site as a PWA on iOS, ITP is turned on (I will find out to confirm). If so, unfortunately, I don't think ther

[2020-03-10 02:54] fezproof opened #1359 "How do I use MSAL on non root web app?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am currently working with my team to develop an react web app for them that requir

[2020-03-10 03:04] jasonnutter commented on #1359
@fezproof The `auth.redirectUri` property allows you to control where users are redirected back to after logging in. It doesn't look like you are setting this value, so by default, it should use the current page location. Take a look at the `login.microsoftonline.com` url your users are redirect to, what is set for the `redirect_uri` query parameter? And which page are you initiating the redirect

[2020-03-10 03:11] fezproof commented on #1359
@jasonnutter The redirectUri should default to`window.location.href` which is the complete location of the page (`foo.bar.com/something/else/`). The redirect URIs for this subpath app are set to the correct paths.

The `navigateToRequestUrl` config flag just doesn't seem to do anything though. Should this be set to true or false to get this functionality. The docs said the default is true but I do

[2020-03-10 03:23] jasonnutter commented on #1359
@fezproof If the redirect URIs are set correctly, then your users should be sent back to those pages, not to the root. Can you share a Fiddler trace that reproduces this behavior (email is in my profile)?

`navigateToRequestUrl` is to be enabled when you are using a hard-coded `redirectUri`, and then want your users to be redirected back to the page they were originally on after they are redirecte

[2020-03-10 03:31] fezproof commented on #1359
`https://login.microsoftonline.com/**/oauth2/v2.0/authorize?response_type=token&scope=**&client_id=**&redirect_uri=https://foo.bar.com/something/else/&state=**&nonce=**&client_info=1&x-client-SKU=MSAL.JS&x-client-Ver=1.2.1&login_hint=**&login_req=**&domain_req=**&domain_hint=organizations&client-request-id=**&response_mode=fragment`

This is the outgoing request. I will ask the head of IT if it is

[2020-03-10 03:35] tragdorvigani1 commented on #1359
I've had a similar (identical?) issue, but I assumed I was doing something wrong. My use case isn't the same, what I wanted was a user arriving at the site at a non-root URL should be directed to log in, and afterwards, should be redirected to the original URL they visited, not the root. Nothing I did made that work. I tried various settings for redirectUri and navigateToRequestUrl. I didn't inves

[2020-03-10 03:43] jasonnutter commented on #1359
@fezproof Can you at least share the `client-request-id` with me? I can use that to query our logs (which have PII scrubbed, btw). Thanks!

[2020-03-10 03:46] jasonnutter commented on #1359
We have seen some issues recently with `handleRedirectCallback` and `navigateToLoginRequestUrl`, which @tnorling is addressing in #1358.

[2020-03-10 03:48] fezproof commented on #1359
Thanks for all the help @jasonnutter . I am getting a recreated url now. I will send you a client-request-id directly soon

[2020-03-10 03:56] jasonnutter commented on #1359
@tragdorvigani1 Have you debugged your app and MSAL to figure out what is happening when the user comes back from the redirect?

Regardless, when #1358 is merged we can have both of you try it, as it should fix some of the issues we have heard about.

[2020-03-10 04:01] fezproof commented on #1359
@jasonnutter I have emailed you now :)

[2020-03-10 04:16] tragdorvigani1 commented on #1359
@jasonnutter - only to the extent that I'm sure the initial redirectUri setting is the full URL I expect. I haven't been brave enough to dive into MSAL itself yet. I'm a bit time-poor. I might end up needing to go there eventually I guess... it should be possible to trace through to find out where the disconnect is between the setup and the generation of the login URL.

[2020-03-10 06:36] alexantom commented on #124
@rohitnarula7176 im facing similar issue,  when  referrer is available page get blocked with
`id_token` in the url, this is with msal version `1.2.2` in react app.

[2020-03-10 10:48] don1989 commented on #1317
I see now, thanks for your help and patience @jasonnutter. It turns out we had 'Log in with Azure Active Directory' enabled in our Authentication Azure portal options which forced the entire app to require authentication. The fix was to set it to Allow Anonymous requests so it didn't wrap the auth.html in authentication:

<img width="483" alt="AuthError" src="https://user-images.githubusercontent.

[2020-03-10 10:48] #1317 closed

[2020-03-10 16:04] jasonnutter commented on #124
@alexantom This is a known issue, and we'll have a fix soon, thanks!

[2020-03-10 19:13] #1293 closed

[2020-03-10 19:55] dcokely7 commented on #1353
@jasonnutter to your first point, Safari on mobile still requires ITP disabled (for both onmicrosoft.com and b2clogin), but everything works fine once thats turned off. PWA works with onmicrosoft.com but not b2clogin.

I agree its almost like the in-app browser (or whatever the PWA is rendered in, since its not a full safari) always has ITP enabled, regardless of what the user selects. At least on

[2020-03-10 20:11] jasonnutter commented on #1353
@dcokely7

Doesn't look like it, unfortunately: https://azure.microsoft.com/en-us/updates/b2c-deprecate-msol/

[2020-03-11 06:45] ChristopherGillis commented on #124
@jasonnutter Is there a link to this known issue so we can follow updates?

[2020-03-11 13:05] arsnyder16 commented on #1241
Seeing this issue as well. As a workaround for now i am always passing ` forceRefresh: true` when i need an `idToken`

[2020-03-11 13:56] singshiv90 opened #1360 "how to get scopes using “@azure/msal-angular”: “^0.1.4”?"
Currently, I am facing an issue with scope. As we are passing the scope in the URL but after successful authentication with azure I am able to get the token, but when I decode the token the scopes are not present in the token. Could you please help out here? I have tried so many ways, but unfortunately, I am unable to get scopes in the token.

Plugin Used: "@azure/msal-angular": "^0.1.4"

![my](ht

[2020-03-11 17:15] jasonnutter commented on #124
@ChristopherGillis #1207

[2020-03-11 17:17] #1260 closed

[2020-03-11 18:15] ebsndrs opened #1361 "Improve documentation for defining scopes for implicit flow"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [x] docs.microsoft.com
- [x] MSAL.js Github Wiki
- [ ] README file
- [

[2020-03-11 19:09] alberthoekstra commented on #1245
In previous versions it was possible to replace the authority with the url to the password forgot policy and just call the loginredirect or loginpopup method.

I’m currently on the latest beta version that’s on npm and this method doesn’t work anymore.

[2020-03-11 19:21] jasonnutter commented on #1303
Closing, as no further action at this time. Feel free to let us know if you have further questions.

[2020-03-11 19:21] #1303 closed

[2020-03-11 21:31] jasonnutter commented on #1340
Closing, let us know if you have any further questions, thanks!

[2020-03-11 21:31] #1340 closed

[2020-03-11 21:34] jasonnutter commented on #1336
@cleberdantas Is this solved?

[2020-03-11 21:42] jasonnutter commented on #1324
Closing. We will look into improving this error message and documentation. Let us know if you have any questions.

[2020-03-11 21:42] #1324 closed

[2020-03-11 21:44] jasonnutter commented on #1318
A fix is in progress for this, we'll update this ticket when it is done.

[2020-03-11 21:47] jasonnutter commented on #1313
@rits-development I think we'll be able to address this in #1358, so keep an eye on that issue.

@gabbsmo Is this still an issue for you?

[2020-03-11 21:52] jasonnutter commented on #1310
@alex-volfson-jdas Apologies for the delay. We'll investigate this and follow up.

[2020-03-11 21:56] jasonnutter commented on #1308
@xstof Apologies for the delay. We'll investigate this and follow up.

Can you clarify how it fails? Thanks!

cc: @sameerag

[2020-03-11 22:41] #1333 closed

[2020-03-11 23:22] jasonnutter commented on #1333
The fix for this is available in `msal@1.2.2-beta.2`, please try that version and confirm that it has been fixed, thanks!

[2020-03-11 23:23] jasonnutter commented on #1230
The fix for this is available in `msal@1.2.2-beta.2`, please try that version and confirm that it has been fixed, thanks!

[2020-03-11 23:23] #1230 closed

[2020-03-11 23:24] jasonnutter commented on #1293
The fix for this is available in `msal@1.2.2-beta.2`, please try that version and confirm that it has been fixed, thanks!

[2020-03-11 23:26] jasonnutter commented on #1306
The fix for this is available in `msal@1.2.2-beta.2`, please try that version and confirm that it has been fixed, thanks!

[2020-03-11 23:27] #1306 closed

[2020-03-11 23:27] jasonnutter commented on #1297
Closing, please let us know if you have further questions, thanks!

[2020-03-11 23:27] #1297 closed

[2020-03-11 23:31] jasonnutter commented on #547
Closing this issue, as we are working on building proper throttling mechanisms into the library, e.g. #1338

[2020-03-11 23:31] #547 closed

[2020-03-11 23:35] jasonnutter commented on #1356
The fix for this is available in `msal@1.2.2-beta.2`, please try that version and confirm that it has been fixed, thanks!

[2020-03-11 23:35] #1356 closed

[2020-03-11 23:57] jasonnutter commented on #1290
@suresh777 A Fiddler trace will help us in debugging your issue. There are many things that can cause a timeout, so your situation may be different from others.

[2020-03-12 03:50] isaacList commented on #1041
how can we allow user to select account and ask for consent together? It seems strange not able to select_account and consent in one shot.

[2020-03-12 08:19] alberthoekstra commented on #1245
I got it to work with beta version.

Used package versions:
[code]

[code]

'environment.passwordResetPolicy' is an url to the password reset policy like: 'https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/B2C_1A_ChangePassword'

[2020-03-12 14:13] jarodsmk commented on #1035
Hey @jasonnutter!

I got this exact error with:
- `msal: 1.2.2-beta.0`
- `msal-angular: 1.0.0-beta.3`

(Took these from the Angular 9 example directory, although I am running Angular 8)

[2020-03-12 14:35] Glideh commented on #1199
Thanks for all these details.
For those using Vue.js having the issue, I had it working well before using the router of Vue.
Enabling the router adds the default `/#/` route that needs to be taken into account in the redirect URLs.

[2020-03-12 14:54] razorsyntax opened #1364 "Needs a clear installation guide"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ x] `@azure/msal-angular@1.x.x`
- [x ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ x] docs.microsoft.com
- [x ] MSAL.js Github Wiki
- [x ] README fi

[2020-03-12 15:22] Stefan185 opened #1365 "Guard does not set the valid token"
## Library
- [ x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am using the Beta 4 with ng9 - latest version.
I have two portals with the same b2c tenent.

I have a simple href link to http://localhost:4200  from one portal to the other one.
If the targ

[2020-03-12 16:43] jasonnutter commented on #1365
@Stefan185 This is a known issue with the core `msal` library, which we plan to have fixed soon.

[2020-03-12 16:51] jasonnutter commented on #1361
@ebsndrs As you observe, access tokens are issued per resource, e.g. you cannot use an access token issued for MS Graph on your custom web API.

During login calls, you can provide scopes that span multiple resources, however, when calling `acquireTokenSilent`, you need to make separate calls for each set of scopes per resource.

For example:

[code]

I agree this isn't as intuitive as it could be

[2020-03-12 19:10] deasems commented on #1000
@pkanher617 I'm testing out the alpha and I'm seeing issues using loginRedirect when specifying multiple scopes:
[code]
Once the user completes the login and is redirected back to my app, MSAL requests an access token and gets a 400 response with the error `AADSTS28000: Provided value for the input parameter scope is not valid because it contains more than one resource. Scope openid profile email

[2020-03-12 20:10] dadeleac opened #1366 "Compability with Ionic 4 - Angular 8 PWA"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Is it possible to use MSAL in a PWA project with Angular 8 and Ionic 4?

In localhost it works, but we deployed in Azure and when we integrated the packages "@angular/pwa" and "@angular/service

[2020-03-12 20:24] mrivero2020 opened #1367 "@azure/msal-angular and SSO for apps from different domains"
## Library
msal@1.2.2-beta.0
@azure/msal-angular@1.0.0-beta.2

## Description

I am trying to implement SSO from two different (but related) angular 9 apps, hosted on different domains.

The Microsoft documentation states that SSO functionality is provided out of the box if apps are hosted on the same domain. However, if they are not on the same domain, then using acquireTokenSilent with optional

[2020-03-12 20:53] mrivero2020 commented on #1367
Just added the optionalClaims section below to the application manifest and so far it looks like that is all I needed to do to get SSO between applications on different domains. Is this the solution?

"optionalClaims":
	 {
	     "idToken": [
		{
      		      "name": "sid",
      		      "essential": false
        		}
       	     ]
	},

[2020-03-12 21:34] Ivan-L commented on #1293
The issue has been fixed with `msal@1.2.2-beta.2`, thanks @jasonnutter!

[2020-03-13 01:25] sameerag commented on #1041
Thanks @keystroke. Yes, eg: we had `prompt=auto` supported before a while in older libraries. The decisive authority here is the service team and they would like to keep this expandable.

@isaacList I am not sure if UI supports that. @jmprieur Any help here. The question is: "Can we allow user to select account and ask for consent together? It seems strange not able to select_account and consent i

[2020-03-13 02:25] keystroke commented on #1041
@isaacList The behavior here is determined 100% by the AAD backend. All MSAL gets to do is construct the URI to send the user, like below two examples which you can click:

1. https://login.microsoftonline.com/common/oauth2/authorize?client_id=a963b646-fa01-4c06-b302-42c6ed1b2774&redirect_uri=https%3a%2f%2flocalhost%3a3000&response_type=code+id_token&scope=openid+profile&nonce=foo&prompt=consent

[2020-03-13 04:22] sameerag commented on #1041
This is exactly how it works @keystroke, Thanks for the explanation. Since the thread deviated from the original issue, and we have answers for all the points discussed, I am closing this issue. Please open a new issue for any remaining concerns @isaacList.

[2020-03-13 04:22] #1041 closed

[2020-03-13 04:25] sameerag commented on #1187
#1276 is solving this issue. Closing this as the PR is open and tracked.

[2020-03-13 04:25] #1187 closed

[2020-03-13 05:10] satish1597 opened #1369 "loginRedirect() does not work"
## Library
- [ ] `@azure/msal-angular@1.2.2-beta.1`

## Framework
angular v8

## Description
loginRedirect() does not return to msal: loginSuccess() and the user does not get logged in.

## Expected behavior
It should logs in the user.

## Browsers
It does not work in all the browser.

[2020-03-13 08:10] dinukaw007 opened #1370 "How do I properly update @azure/msal-angular 0.1.4 to latest"
## Library
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@angular/compiler@8.2.13`
- [ ] `typescript@3.4.5`

## Description
After update the library form 0.1.4 it's gives error when build the angular 8 app (Cannot find module 'msal'.) in node_modules. For the information tried to delete node_modules and (npm run) again it didn't work either.

[2020-03-13 08:32] alberthoekstra commented on #1370
[code]

[2020-03-13 09:37] alberthoekstra commented on #1245
This seems to work in development env, but not when I publish it to Azure app service.
Any devs know why?

[2020-03-13 11:20] sameerag commented on #1283
#1371 implements this

[2020-03-13 15:20] jeverduzco commented on #1245
I'm running some tests today to see if I can make it work.

[2020-03-13 18:03] alberthoekstra commented on #1245
It has something to do with executing the redirect in the handleRedirectCallback.
If I move the loginRedirect to the passwordResetPolicy outside the handleRedirectCallback it does work.

[2020-03-13 19:11] jasonnutter commented on #1370
@dinukaw007 You can find complete instructions for upgrading here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-03-13 19:13] jasonnutter commented on #1369
@satish1597 Can you please provide more information? Is this under all circumstances? What is your configuration? Are you calling `handleRedirectCallback`? Are you receiving any errors?

[2020-03-13 19:14] jasonnutter commented on #1367
@mrivero2020 Yes, I believe `sid` should be the right approach. And for this scenario, I wouldn't worry about staying within the Guard (I'm planning to revise that guidance).

[2020-03-13 19:16] jasonnutter commented on #1364
@razorsyntax We are currently working on the GA of MSAL Angular, which will include improved documentation and quickstart guides, which I believe is what you are asking for. We'll make an announcement when that is ready.

In the mean time, let us know if you have any specific questions, thanks!

[2020-03-13 19:56] sameerag opened #1372 "[msal-node] coverage works with same tools as `msal-common`"
## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Description
`msal-node` coverage tools are currently running with `tsdx test --coverage`. Since `msal-common` uses a different set of tools, make sure automation pipeline works when `msal-node` is merged to dev

## Priority
Alpha branch by March end (Current Quarter - Q3)

## Acceptance Criteria
- Coverage works with build automation pipeline

[2020-03-13 20:52] PoyaManouchehri commented on #1134
@sameerag any updates on this? I can see the PR has been inactive for a while.

[2020-03-14 17:08] exequeryphil opened #1375 "MSAL React Sample App Error in IE11"
## Library
The version included in the MSAL React Sample App.

## Framework
The version included in the MSAL React Sample App.

## Description
In IE11, after clicking the "Sign In" button, nothing happens, and the console reports the following:
Possible Unhandled Promise Rejection (id: 0):
TypeError: Invalid calling object
If the page is refreshed, and the "Sign In" button is clicked again, the au

[2020-03-15 01:41] jrmcdona opened #1376 "@azure/msal-angular Not allowing HTTP calls without login"
## Library
  @azure/msal-angular": "1.0.0-beta.3"
"msal": "1.2.2-beta.0",

## Framework
"@angular/core": "9.0.4",

## Description
In my Angular app I have some endpoints that need a Bearer and some that do not.  Users are not forced to login.

In the app.component.ts I am using ->  let user = this.maslService.getAccount();  to check and see if a user is logged in or not.   If they are not, my webp

[2020-03-15 07:07] myleskeeffe opened #1377 "MSAL Angular Raw UserID (Access to own Web API)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I've got a NodeJS backend webserver with passport.js and passport-azure-ad. I am loo

[2020-03-15 10:59] myleskeeffe commented on #1377
Found the answer after ages looking around. RawIDToken is saved in session storage so I was able to retrieve it using `sessionStorage.getItem("msal.idtoken")` and then request my web api using `this.http.get("http://localhost:8080/api/user/prefs/", {headers: {Authorization:"Bearer " + sessionStorage.getItem("msal.idtoken")}})......`

[2020-03-15 10:59] #1377 closed

[2020-03-15 12:47] jrmcdona commented on #1376
Tracked it down.  My own issue in the code flow

[2020-03-15 12:47] #1376 closed

[2020-03-16 04:25] dinukaw007 opened #1378 "Locally access_token retrieve perfectly but after build for production and deploy it wont work"
## Library
- [ ] `@azure/msal-angular@1.0.0-beta.4`
- [ ] `@angular/cli@8.3.24`
- [ ] `@angular/compiler-cli@8.2.14`

## Description

When I run the system (Anguler 8 app) locally  access_token retrieve perfectly. But ones I build to --prod and deploy it, It wont work and give id token as access_token so below code snippet  wont work. and Graph API gives InvalidAuthenticationToken [401 Unauthorize

[2020-03-16 07:43] sameerag commented on #1280
#1379 implements this partially

[2020-03-16 10:22] thelements opened #1380 "Authenticating MSAL.js auth Tokens using Node.js"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
I have used MSAL.js with my React,js Application. This application uses backend api used in node,js apis to drive the application.
I read the docs, but I am unable to authenticate any user using Node.js
Is there any docs or library available which I am missing?

[2020-03-16 10:25] jasondicker commented on #1177
I had the same problem but managed to resolve it with the @azure/msal-angular@1.0.0-beta.3 build. The key was replacing 'adalConfig' with MSAL_CONFIG_ANGULAR in the providers section:

        {
          provide: MSAL_CONFIG,
          useFactory: msAdalAngular6ConfigFactory
        },
        {
          provide: MSAL_CONFIG_ANGULAR,
          useFactory: msAdalAngular6ConfigFactory
        },

[2020-03-16 11:44] jrdutton commented on #1177
Hi, we did get this working. We used:

"@azure/msal-angular": "^1.0.0-beta.3"
"msal": "^1.2.2-beta.0"

and then this within our main.ts file...

export function getBaseUrl() {
  return document.getElementsByTagName("base")[0].href;
}

fetch(getBaseUrl() + "/api/configuration/authorisation")
  .then(response => response.json())
  .then(json => {
    const configuration = {
      auth: {
        aut

[2020-03-16 12:57] ShinRai1090 commented on #1088
@jasonnutter is the new version out yet?

++ @Mamta92

[2020-03-16 13:18] Sl1MBoy opened #1381 "Hidden iFrame accessibility error"
I have noticed that the application is loaded to the hidden iframe while using msal. Unfortunately this causing A11Y voice over features to focus and read out elements inside the iframe. This can be prevented by adding aria-hidden="true" attribute to the iframe.

I have experienced this with msal 1.2.1 and Safari browser.

[2020-03-16 15:48] jasonnutter commented on #1088
@ShinRai1090 Yes, you can find upgrade instructions here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md

[2020-03-16 16:17] jasonnutter commented on #970
We have determined this is a bug in login.microsoftonline.com, not the library itself. The service team is triaging now.

[2020-03-16 16:19] kemins commented on #970
it looks like a blocker, any ETA when it might be solved

[2020-03-16 16:38] jasonnutter commented on #970
@kemins Not at this time, unfortunately. I'll follow up when I know more.

[2020-03-16 16:49] jasonnutter commented on #943
At this time, using `platformBrowserDynamic` is our recommended approach to dynamically load MSAL configuration. If that doesn't work for your use case, please let us know why, thanks!

[2020-03-16 17:19] jasonnutter commented on #1381
@Sl1MBoy Thanks for the information, we definitely want to make sure this is fixed.

[2020-03-16 17:20] jasonnutter commented on #1380
@thelements You can use our `passport-azure-ad` library to validate access tokens server-side in your Node application: https://github.com/AzureAD/passport-azure-ad/

[2020-03-16 17:28] jasonnutter commented on #1377
@myleskeeffe For custom web APIs, you should use access tokens (with custom scopes) instead of ID tokens, as access tokens represent that the user has provided consent for a given resource (e.g. your custom web api). More context here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1040#issuecomment-540810355