[2022-04-14 18:54] yahyaakli commented on #4705
I am having the same issue. npm audit proposes a fix but the fix create other security vulnerabilities.

This is what I get before running an audit fix:
`# npm audit report

async  <2.6.4
Severity: high
Prototype Pollution in async - https://github.com/advisories/GHSA-fwr7-v2mv-hh25
fix available via `npm audit fix --force`
Will install passport-azure-ad@1.4.8, which is a breaking change
node_modu

[2022-04-14 19:40] siddarthapal commented on #4154
@jasonnutter One quick question. We are using MSAL for Angular 13. Instead of access token, we need to pass ID Token. I don't see any method in "MsalService" for the same. We have different methods.

Could you please arrange to answer the following:-
1: Does MSAL npm package somehow allows to get access to "ID Token"?
2: If Yes, any pointers you can provide?( I have raised this already to stack ov

[2022-04-14 19:55] prsauer opened #4710 "loadExternalTokens incorrectly assigns expires_in to expiresOn"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

In the code to side-load an access token the `expires_in` field from the server response is written to the cache as `expiresOn`. This causes all access tokens to fail validation because they appear to be out

[2022-04-14 19:56] prsauer commented on #4519
@hectormmg please see https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4710

[2022-04-14 20:27] jasonnutter commented on #4154
@siddarthapal Again, please open a new issue, thanks.

[2022-04-14 20:33] svrooij commented on #4445
@kevindixon if it really is a showstopper, maybe spend some time in implementing it yourself.

That’s always working for us, if we don’t want to wait on others implementing it. I cannot look in your time or capabilities, but the team is accepting PR’s often.

[2022-04-14 20:55] svrooij commented on #3420
@rayterrill if I understand the Azure App proxy correctly, it sits between the user and the webserver where the app is hosted. If you set it to pre-authenticate, like you, the users’ browser first needs to login before the browser can even access the JavaScript files.

What happens if you would just open the login pop-up afterwards?
1. User tries to access app
2. App Proxy forces user to login
3.

[2022-04-14 21:00] rayterrill commented on #3420
@svrooij I've moved on and no longer work with AzureAD - feel free to close. :)

[2022-04-14 21:03] jasonnutter commented on #4710
@prsauer Thanks for the PR, will review and provide feedback.

[2022-04-14 21:05] svrooij commented on #1626
@jasonnutter we also need this, what is the best place in the lib for this to land, is there already a `GenerateUrlForLogin` some where? Then I’ll submit a PR soon.

[2022-04-14 21:16] svrooij commented on #4481
A use case for this callback functionality is that you’re then able to generate an assertion in the key vault without being able to export the certificate. I’ve build a small extension for the dotnet SDK that dynamically creates an assertion on demand, by sending the unsigned assertion to the keyvault and signing it in the cloud.

more details [here](https://svrooij.io/2022/01/20/secure-multi-tena

[2022-04-14 23:05] jasonnutter commented on #4705
async has published 2.6.4, which should resolve this alert: https://github.com/caolan/async/blob/2.x/CHANGELOG.md#v264

[2022-04-14 23:40] siddarthapal opened #4716 "How to access ID Token for passing to web api project"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md

### Description

One quick question. We are using MSAL for Angular 13. Instead of access token, we need to pass ID Token. I don't see an

[2022-04-15 00:41] jasonnutter commented on #4716
@siddarthapal Unfortunately not, no. The interceptor we provide is only for attaching access tokens, as we believe this is the best practice for protecting web apis. You can write our own interceptor if our interceptor does not satisfy your requirements.

Can you detail why you are using ID tokens instead of access tokens? Are you looking for specific ID token claims (e.g. roles)?

[2022-04-15 03:51] shisoAqron commented on #4706
It seemed that the problem was caused by the fact that the user information that was logged in before using the test account remained.
I was able to complete the login tutorial by using the secret mode browser and using SSL communication.

[2022-04-15 03:52] #4706 closed, assigned to jasonnutter

[2022-04-15 08:31] tejaswibm-roposo commented on #4573
Does this relate to multiple `LOGIN_SUCCESS` events getting fired, post login or is this related to Hash error in general ??

[2022-04-15 08:45] mvpindev opened #4718 "Azure AD B2C: User can't login after login-page was open for some time"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

If a user leaves the login-page open for a few hours (or over night) they can't log in due to a 400 Bad Request Error.

If you click on "Sign In", a loading indicator is shown for a short amount of time, but

[2022-04-15 14:56] davidspiess commented on #4628
@tnorling i posted the logs which were shown in the developer console after i initiated the loginRedirect call.
Maybe some of the logs got cleared when the page redirect took place. I will retry to collect them.

[2022-04-15 15:39] jasonnutter commented on #4718
This was identified as an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2022-04-15 15:39] #4718 closed, assigned to jasonnutter

[2022-04-15 15:46] yahyaakli commented on #4705
When I run an audit fix, I still get the same issue where it creates more security vulnerabilities related to passport-azure-ad.

[2022-04-15 16:11] siddarthapal commented on #4716
We have a web api (in .NET Core) which connected to another web api (in .NET Core), which is build by another organization. For some reason, they are not using MSAL. They are using some other library and they are using ID Tokens. I have also read on MS Site that for authentication, its better to use Access Tokens not ID Tokens.

I discovered something in Angular 13 sample code. If I click "Login"

[2022-04-15 17:53] sameerag commented on #4255
Closing this. We are working on improving build tooling for the next version.

[2022-04-15 17:53] #4255 closed, assigned to pkanher617

[2022-04-15 18:06] sameerag commented on #4141
Tracking with #1588

[2022-04-15 18:06] #4141 closed, assigned to nobody

[2022-04-15 18:19] sameerag commented on #3705
Tracked with #4153

[2022-04-15 18:19] #3705 closed

[2022-04-15 22:04] muratygt opened #4720 "Skip Auth Process on Unit Testing Phase"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

When I run the unit tests, I try to mock msal libraries as follow
`
jest.mock('@azure/msal-browser');
jest.mock('@azure/msal-react');
`

However, unit test is failing as shown below screenshot. It is stating

[2022-04-15 22:11] muratygt commented on #4720
Unit Tests Written for `Content` component as shown below

<img width="1133" alt="Screen Shot 2022-04-15 at 6 09 42 PM" src="https://user-images.githubusercontent.com/51856156/163648367-f21d164f-c398-4769-a9e2-c6eca9c0efcf.png">

[2022-04-15 23:00] jasonnutter commented on #1626
@svrooij We'll be discussing this feature request internally to determine if/where/how we will support it and follow up.

[2022-04-16 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-16 01:00] jasonnutter commented on #4720
@muratygt See this document for details on how to sideload tokens into the MSAL cache for testing: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md

You can see a full sample here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/TestingSample

Let me know if you have further questio

[2022-04-16 08:22] matzehecht commented on #4701
Thanks for the quick response. I am happy to test this as soon as the fix is released.

[2022-04-17 01:00] ghost commented on #4693
@ppagadala This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-17 01:00] ghost commented on #4689
@prsauer This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-17 13:00] ghost commented on #4551
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-18 03:23] LastTribunal opened #4722 "Consent not being requested for multitenant app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

latest

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

latest

### Description

in ADAL angular, when an user of a non consented domain logged into azure via angular-adal SPA, he/her/xe/xer/whatever would be prompted for consent.
With MSAL, the SPA just hangs there, since its not ge

[2022-04-18 04:32] #4722 closed, assigned to bmahall

[2022-04-18 13:00] ghost commented on #4699
@KrzysztofJaneczko This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-18 13:00] ghost commented on #4658
@benlieber-codaio This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-18 13:00] #4613 closed, assigned to jo-arroyo

[2022-04-18 14:25] DerekJDev commented on #4551
@pkanher617  Do I need to provide anything else to debug this?

[2022-04-18 15:38] jasonnutter commented on #4705
@yahyaakli Those alerts do not appear for passport-azure-ad, which does not depend on all of those packages.

Closing, as the alert for async should be resolved.

[2022-04-18 15:38] #4705 closed, assigned to jasonnutter

[2022-04-18 16:01] #4701 closed, assigned to jasonnutter

[2022-04-18 16:15] jasonnutter commented on #4716
@siddarthapal Correct, and it should also be called after calling `acquireTokenSilent`, which you can use in a custom interceptor.

[2022-04-18 16:36] prsauer commented on #4689
From SignOutButton:
[code]

Index page
UserInfo displays name+email of active account
[code]

[2022-04-18 16:50] jasonnutter commented on #4689
@prsauer Thanks. We recommend adding a check for `inProgress` to be `InteractionStatus.None`, which should catch intermediate states such as during the middle of logout.

[2022-04-18 17:00] prsauer commented on #4689
Where would I check that? Isn't that something the template would cover?

[2022-04-18 18:54] jasonnutter commented on #4689
@prsauer Apologies for the confusion, misread your code. When using `AuthenticatedTemplate`, it is expected that when a logout is initiated, it will continue to show the authenticated content until the interaction is complete. When using `useIsAuthenticated` directly, we recommend also looking at `inProgress` from [useMsal](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/de

[2022-04-18 19:10] prsauer commented on #4689
Got it. So this would be the intended pattern:

[code]

[2022-04-19 01:00] ghost commented on #4631
@jeffj6123 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-19 01:00] ghost commented on #4685
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-04-19 07:03] AndrewHarrison92 commented on #4705
@jasonnutter passport-azure-ad depends on async 1.x, which still triggers the alert.

[2022-04-19 13:00] #4659 closed, assigned to sameerag

[2022-04-19 13:00] #4607 closed, assigned to hectormmg

[2022-04-19 16:05] jasonnutter commented on #4705
@AndrewHarrison92 You are correct, my mistake. #4724 will resolve that.

[2022-04-19 17:12] restfulhead opened #4725 "BrowserCacheManager tries to access cookies which fails in iframe"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

The BrowserCacheManager still tries to access cookies, even when specifying `BrowserCacheLocation.LocalStorage` as the cache location: https://github.com/AzureAD/microsoft-authentication-library-for-js/bl

[2022-04-19 22:49] bmahall commented on #4725
@restfulhead Curious to know whether this is breaking any of the intended behavior flows (e.g- logout) in your case?

It is expected that clearMsalCookies() is called , however we will be looking into improving the error handling in this scenario, and add a descriptive error message for when cookies are not found.

[2022-04-20 08:04] kaushalbcactus opened #4726 "Refresh token fails to refresh after sometime"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.7.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

App functinality:-

1. We have node solution which fetches emails of 1 user(xyz@abc.com) using oauth code grant(https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow)  and then process and send e

[2022-04-20 13:00] ghost commented on #4710
@prsauer This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-20 17:02] prsauer commented on #4710
#4711 awaiting review

[2022-04-20 18:40] #3883 closed

[2022-04-21 01:00] ghost commented on #4628
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-04-21 07:07] norangit opened #4728 "how can custom http request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version
Vue3,  just same js normal javascript

### Description

Hi, My app is SPA, there are 3 redirect urls (1、http://validdomain.com, 2、http://localhost:8888/auth,3、http://localhost:8888/fc/auth,) in SPA config in AAD. I got an error when did aad auth, de

[2022-04-21 13:00] chamikasandamal commented on #4298
Is this started?

[2022-04-21 13:00] chamikasandamal commented on #4298
Is this started?

[2022-04-21 13:00] ghost commented on #4720
@muratygt This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-21 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-21 14:25] norangit commented on #4728
It is impossible to change Origin in Browser after tried, browser always set Origin is current href without path. so I have to request support from azure clound support.

[2022-04-21 14:27] #4728 closed, assigned to bmahall

[2022-04-21 14:48] davidspiess commented on #4628
@tnorling here the logs with "preserve log" enabled in the devtools between page reloads

<details>
<summary>1.2,0</summary>

[code]
</details>

<details>
<summary>1.3,2</summary>

[code]
</details>

[2022-04-21 14:56] jasonnutter commented on #4298
@chamikasandamal Not yet, no. We'll update this issue when we have.

[2022-04-21 21:28] bmahall commented on #4726
It is advised not to manually refresh the token as detailed above, instead the AcquireTokenSilent API ([Token Renewal] https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md) should be used for refreshing a token when it's getting close to expiration.

Besides, can you include the logic for getAzureAccessToken() for better understanding

[2022-04-21 21:57] tnorling commented on #4628
@davidspiess Thanks - it's still looking like in your 1.3.2 scenario `handleRedirectPromise` isn't finding a response hash. Can you try to dig into what is removing the hash? Does this reproduce with any of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples)? Alternatively if you can provide me with a link to your repo or a hosted s

[2022-04-22 05:49] Alekhyasingi opened #4731 "Manage tokenRefresh while using ConfidentialClientApplication"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.8.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Functionality: Migration to Oauth from basic authentication with offline_access. My application runs in background to retrieve and update data from O365.

Implementation:
I am using msal.ConfidentialClientApplication to fetch the

[2022-04-22 10:20] davidspiess commented on #4628
@tnorling In 1.3.2 `RedirectClient.prototype.handleRedirectPromise` in line
[code]
`window.location.hash` is an empty string.

After the redirect to `localhost:30000/` React Router 6 immediately redirects to a subpage

[code]

If i remove this redirect, the location.hash is set correctly in 1.3.2.
Maybe through this redirect the msal redirect process gets interrupted, even if the routes are wrappe

[2022-04-22 12:46] davidspiess commented on #4628
This seems to be similar to the issue described here https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4573#issuecomment-1072257965

[2022-04-22 13:15] kjerstifagerholt opened #4732 "Standard case with MsalInterceptor and MsalGuard causes error in component with multiple http calls before redirecting to login page"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

I have configured an angular v13 app with Msallnterceptor and MsalGuard, following the examples in documentation. There's two pages in the app. The first makes one http call to get data from API and the s

[2022-04-22 13:52] finbarw opened #4733 "Invalid_grant error when library calls auth endpoint with grant type of refresh_token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We have a client app deployed to an Azure Static Web app.

We are finding that, once an access token has expired, the library is hitting a 400 acquiring a new token. This is happening occasionally, when a user returns to the

[2022-04-22 15:17] DerekJDev commented on #4551
@pkanher617 after updating the package and modifying some settings I was able to get it to work better. It works as it should most of the time, but sometimes it still redirects more than once.

I changed my logout redirect url and redirectUri to: http://localhost:4200. In my app registration, I left the "Front-channel logout URL" empty and I have http://localhost:4200/ as one of the redirect urls.

[2022-04-22 15:56] tnorling commented on #4628
@davidspiess Right, navigating away from the page like this will clear the hash and create a race between MSAL and your router. If navigating like this is a requirement you should include logic that checks that `inProgress === InteractionStatus.None` before navigating to ensure MSAL has completed any response handling it needs to do.

[2022-04-22 19:57] davidspiess commented on #4628
Ok, thanks for your help! In the end it was basically a nasty race condition, which surfaced only after the 1.3.0 update.

[2022-04-22 19:57] #4628 closed, assigned to tnorling

[2022-04-24 01:00] ghost commented on #4716
@siddarthapal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-24 01:00] #4693 closed, assigned to jasonnutter

[2022-04-24 01:00] ghost commented on #4689
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-04-24 11:26] tscislo opened #4734 "Unable to read /me from MS Graph API even if authentication is successful"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.1.2

### Description

I'm trying to use your sample angular13-rxjs6-sample.
The only  code part I changed is to use your Prod environment clientId.
When I try to authenticate either using my company account or private this i

[2022-04-24 13:00] #4366 closed, assigned to jasonnutter

[2022-04-24 13:00] ghost commented on #4685
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-04-25 01:00] ghost commented on #4725
@restfulhead This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-25 02:23] JimmyLS opened #4735 "Official MSAL react native library request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

Currently we only have [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/packages/292089) POC library for MSAL react native. As mentioned in that article, this POC library is not intended to use in production.

We also found two compatible libraries in g

[2022-04-25 02:57] its-miller-time opened #4736 "Auth code grant stuck on authorization code"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

We have been using this same Aure app registration, redirect, etc for over 2 years without any issues but  over the past few days, our auth flow has been failing. To eliminate application errors I followed th

[2022-04-25 10:59] huzaifah050 commented on #4573
For those who have a fixed for this, please can you create a sample on Codesanbox @tejaswibm-roposo?

[2022-04-25 18:37] bmahall commented on #4733
@chuckyOHare We expect that the server will return 400 error when refresh token expires. Through the Guard, MSAL can refresh access tokens silently as long as a refresh token is valid.

When the refresh token expires, AcquireTokenSilent will throw InteractionRequiredError that signals to the application that they need to fallback to an Interactive token acquisition method. You can refer to [TokenL

[2022-04-25 18:42] bmahall commented on #4732
@kjerstifagerholt It is advised to perform the token acquisition in the two http call scenario-sequentially, i.e.
acquire the first token, once it's done, then acquire the second token.

This error happens due to the async nature of handleRedirectPromise() and is in accordance with the design.
Please let me know in case of any further questions.

[2022-04-25 18:58] hectormmg commented on #4734
Hi, @tscislo. Could you please provide the code you're using to actually request the token (the request and the acquireToken call)? Also, if you could show the way you're making the graph request (i.e. appending the token to the headers) that could be helpful.

This seems like an access or configuration issue that may be unrelated to the actual token acquisition by MSAL, which seems to be working

[2022-04-25 19:06] jasonnutter commented on #4689
@prsauer Yes, correct.

[2022-04-25 19:32] hectormmg commented on #4736
@its-miller-time thanks for raising this issue. I've followed your repro steps and haven't been able to reproduce the stalling behavior. Are you able to share a network trace using a tool like Fiddler? You can send it to the email listed in my profile to avoid sharing sensitive information over GitHub.

There is also the possibility that the auth code is being cleared from the URL before MSAL can

[2022-04-25 19:53] #4689 closed, assigned to jasonnutter

[2022-04-25 20:39] #4631 closed, assigned to hectormmg, sameerag

[2022-04-25 23:43] hectormmg commented on #4731
@Alekhyasingi thanks for your question. The `ConfidentialClientApplication.acquireTokenByClientCredential` method has internal token caching logic that will:

1. Return a valid (not expired) access token from the cache when it is available and
2. Silently refresh an expired access token when a valid (not expired) refresh token is available

Given that the Client credentials flow does not require u

[2022-04-26 01:00] #4699 closed, assigned to jasonnutter

[2022-04-26 01:00] #4658 closed, assigned to jasonnutter

[2022-04-26 01:00] ghost commented on #4710
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-04-26 02:36] ashu8912 opened #4737 "Login flow in electron chromium browser popups is it secure??"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

2.0

### Description

I wan to use msal for my electron app authentication flow and i am not sure if it is secure to do the entire authentication process inside the chromium runtime based window that electron provides, I was in an i

[2022-04-26 05:42] Alekhyasingi commented on #4731
Thankyou for your answer. So how do I acquire new accessToken once it expires, do I need to call `ConfidentialClientApplication.acquireTokenByClientCredential` method again to renew accessToken?

Note: My tasks are running in the background and I am using another library to store this accessToken for further operations.

[2022-04-26 07:28] tscislo commented on #4734
Hi @hectormmg !
I'm using your sample application: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/typescript-sample

For which the only thing I changed is authConfig to

[code]

Since I cannot use this authority: https://login.windows-ppe.net/common I changed it to https://login.microsoftonline.com/common and I'm using 6226576d-37e9-49eb-b201

[2022-04-26 10:52] finbarw commented on #4733
That's helfpul, thanks @bmahall. If we're not explicitly calling acquireTokenSilent, is there a recommended way to catch the resulting InteractionRequiredAuthError from the hidden iframe call?

[2022-04-26 12:49] mustafaAly opened #4738 "Access Token Returned with non-ascii characters"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.8.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.8.0

### Description

I tried to authenticate with my electron desktop app with azureAD using Azure/msal/node V 1.8.0 and it successfully returned the access token and id token but when I use this access token for a

[2022-04-26 17:40] hectormmg commented on #4737
@ashu8912 thanks for the question. Since MSAL Node doesn't officially support Electron, the security considerations from the OAuth 2.0 perspective haven't been fully investigated. I will look into using the default browser and will update the sample accordingly, but please remember that this is a usage sample for a scenario that isn't officially supported.

[2022-04-26 17:47] hectormmg commented on #4738
Hi @mustafaAly , thanks for opening the issue.

Please don't post access token secrets since GitHub is a public forum and those are sensitive credentials.

Having said that, the access token value you posted does seem to be wrong since access tokens are BASE64 encoded JWTs (they should start with "eyJ...").

We've recently made changes to our Electron sample that might help solve your issue, could

[2022-04-26 21:21] sunkimMS opened #4739 "npm install fails"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

n/a

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Following this document to do PR to contribute.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/contributing.md

and "Npm install" fails with following error.
![image](https://user-images.githubuserco

[2022-04-26 21:23] siddarthapal commented on #4716
Closing this for now

[2022-04-26 21:23] #4716 closed, assigned to jasonnutter

[2022-04-27 01:00] ghost commented on #4726
@kaushalbcactus This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-27 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-27 04:19] yongks opened #4740 "Device ID not detected in Azure Single Sign On using MSAL 2.23.0 (Browser)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

My app is a browser extension with MSAL 2.23.0 (browser). It had been working fine until one day IT department imposed a conditional access rule that restrict domain joined device. That is when I realize AAD had rejected the

[2022-04-27 06:53] Shyam268 commented on #4312
No can we have any working example

[2022-04-27 12:40] mustafaAly commented on #4738
Hi @hectormmg , thanks for replying I made these changes to my electron app and the problem still exists
my access code returned started with "EwBwA8l6BAAUkj1NuJYtTVha+Mogk+HEiPbQo04AARC8x0U82pbqS9kpGS/qrDtM8SyXTt8dBEfsc0JLXx2KM/"
also, it contains the "..." I will send to you the authentication flow to your mail
Thank you

[2022-04-27 16:23] gitmurali opened #4741 "InteractionRequiredAuthError: no_tokens_found: No refresh token found in the cache. Please sign-in"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

Here's the bit of code that I was working on. I am using MSAL for two SSO apps on same domain for example https://some-domain.com/app1 and https://some-domain.com/app2 and please see the code snippet below.

[2022-04-27 18:14] hectormmg commented on #4739
@sunkimMS thanks for opening the issue, will try to repro and then remove the validation library from lerna in a PR to fix it.

[2022-04-27 18:21] donaldoakes commented on #4705
Thanks for the fix. Can we expect an updated package to be published on npmjs.com? Our enterprise has strict requirements on addressing Dependabot alerts.

[2022-04-27 18:23] hectormmg commented on #4741
@gitmurali thanks for opening the issue.

As described in the docs you referenced, SSO between apps requires the use of either `login_hint` or `sid` (session ID) in the silent request. Please try to use one of these options as described in the doc.

Out of curiosity, what does the `getAllAccounts` API return on app 2? Given that the MSAL cache storage is separated by domain (i.e. app 2 doesn't hav

[2022-04-27 18:35] jasonnutter commented on #4705
Yes, planning to include this in our releases next week.

[2022-04-27 20:29] hectormmg commented on #4738
@mustafaAly I couldn't open the Fiddler everywhere file, could you export the .saz file and send that instead please?

[2022-04-27 21:34] gitmurali commented on #4741
@hectormmg from the documentation it looks like both `login_hint` and `sid` are JWT but it doesn't mention which specific `JWT` to use. Can you please highlight which `JWT` `token` to be used ?

`getAllAccounts()` method returned `account` in an `array` and I sent the `account` in the `acquireTokenSilent` call. But, I think the way I'm sending might be wrong. Let me give a try on that and get back

[2022-04-27 21:42] hectormmg commented on #4741
@gitmurali `login_hint` and `sid` are actually claims that you can read out of an ID token, they are not JSON Web Tokens themselves. Both of these claims are actually strings when they are present in the ID token (some ID Token claims have to be opted-into in the client application registration).

[2022-04-27 21:51] gitmurali commented on #4741
@hectormmg What I get from my `idToken` is the following and I don't see `sid` or `login_hint` in the list of props.
I have removed actual values for sake of security but from the below list of props do you think any of prop is actually a `sid` or a `login_hint` ?

[code]

[2022-04-27 22:14] gitmurali commented on #4741
also I see parameter type of `acquireTokenSilent(silentRequest: SilentRequest)` method is `SilentRequest` which doesn't have `sid` or `login_hint`. See below

[code]

[2022-04-27 22:30] EmLauber commented on #4735
As of right now, the MSAL.js team does not have commitments to turn the POC library into official support. I will track this ask on our backlog for future consideration.

[2022-04-28 01:00] ghost commented on #4551
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-28 05:19] Alekhyasingi commented on #4731
using `ConfidentialClientApplication.acquireTokenByClientCredential`  is the solution for any kind of token retrieval , which includes even after expiry(refreshToken). Hence closing it.

[2022-04-28 05:19] #4731 closed, assigned to hectormmg

[2022-04-28 08:01] fvdnabee opened #4753 "react-18 sample not rerendering in firefox after successfull signing using popup"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

The [msal-react sample for react-18](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-18-sample) is not re-rendering the homepage after a successful

[2022-04-28 08:05] fvdnabee commented on #4753
Screencast illustrating the issue:

https://user-images.githubusercontent.com/1157936/165706727-199dcc62-ac69-44e7-9568-dfc20a8cd904.mp4

[2022-04-28 08:05] fvdnabee commented on #4753
As a comparison, the logs in chromium (where the issue does not reproduce) look as follows (for the same signin via popup in the react18 sample):
[code]

[2022-04-28 15:35] gitmurali commented on #4741
@hectormmg this solved my problem https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md in Firefox or other browsers but Chrome is throwing errors.

[2022-04-28 16:40] cotepatrice opened #4754 "Problem with handleLoginRedirect() usage in Vue.js with router"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

I have a problem with a custom workflow using Vue.js with Vue router.

As written in [the documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications), I h

[2022-04-28 21:42] hectormmg commented on #4741
@gitmurali did you use the `ssoSilent` API? That would be the recommended approach for this scenario.

I apologize, I thought `acquireTokenSilent` could also use login_hint and sid to behave like `ssoSilent`, but I was mistaken. We're discussing possible changes to make acquireTokenSilent handle this scenario better, will update the issue and post a pull request when it's ready.

[2022-04-29 01:00] #4720 closed, assigned to jasonnutter

[2022-04-29 06:59] #4732 closed, assigned to bmahall

[2022-04-29 09:03] gitmurali commented on #4741
@hectormmg I have used `ssoSilent` which fixed the problem. Please can this document be updated https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#sso-between-apps as it's misleading. Thanks.

[2022-04-29 10:16] yongks commented on #4740
any update on this ?

[2022-04-29 12:25] fvdnabee commented on #4753
Are there any suggestions for a work-around for this issue? Can I force a re-render of our root react component when the pop up whenever is closed? This is blocking our project from switching to react 18.

[2022-04-29 14:42] RoussillonClement opened #4757 "How can I get token from Azure Enterprise application proxy pre-authentication in Browser ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,

In my company, we have multiple Enterprise applications (not App registrations) in Azure AD with a proxy pre-authentication with 2FA.
In order to keep our security, we don't want to remove the proxy pre-auth check so

[2022-04-29 16:40] chitturs opened #4759 "Recommendation for server side authentication for node.js"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

None

### Description

What would be the recommendation for server side auth for node.js? I see passport authentication support, but that looks like in maintenance. It sounded like [microsoft-authentication-l

[2022-04-29 19:34] hectormmg commented on #4753
@fvdnabee I was able to reproduce this and will be investigating to find a root cause. Once I figure out a work-around or fix I will update the issue.

[2022-04-29 19:49] hectormmg commented on #4759
@chitturs can you please describe your requirements more elaborately? MSAL Node has support for server-side authentication using the following OAuth2.0 flows:

Confidential Client:
- [Authorization Code Grant](https://oauth.net/2/grant-types/authorization-code/) with a client credential
- [Refresh Token Grant](https://oauth.net/2/grant-types/refresh-token/)
- [Silent Flow](https://docs.microsoft.c

[2022-04-29 20:10] peterzenz commented on #4757
@RoussillonClement we have no support for the Azure AD Application Proxy today.  We will track this as a customer ask but we don't have this in our current roadmap today.  @EmLauber for FYI.

[2022-04-29 20:10] #4757 closed, assigned to hectormmg

[2022-04-29 20:13] hectormmg commented on #4738
@mustafaAly could you update your code snippets in the description to match the way it looks now? Also, could you provide more details on what platform you are using? I couldn't find the /token request or response in your Fiddler trace so you may need to do another capture that has the calls to /authorize and /token as well as their responses.

[2022-04-29 20:42] chitturs commented on #4759
Thanks. Can you point to me a BearerStrategy server side sample like https://github.com/AzureADQuickStarts/AppModelv2-WebAPI-nodejs? That is what I am currently using.

My client is a daemon app (confidential client) as well as a public client (using auth code flow).

[2022-04-29 21:14] jasonnutter commented on #4740
For Chrome, please install the Windows Account extension, which should handles including your device id in outgoing requests (MSAL.js is not and cannot be responsible for including device id): https://chrome.google.com/webstore/detail/windows-accounts/ppnbnpeolgkicgegkbkbjmhlideopiji

[2022-04-29 21:23] hectormmg commented on #4759
@chitturs to be clear, are you looking to protect a server-side API running on Node, or are you trying to acquire access tokens from a daemon app running on Node?

If it is the former, we don't currently have a published token validation library yet, although we are working on one.

If it is the latter, the client credentials or auth code samples in our [samples/msal-node-samples](https://github.c

[2022-04-29 21:25] hectormmg commented on #4741
@gitmurali we'll look into updating the SSO docs since although technically correct, they may be misleading. Closing the issue since using ssoSilent fixed your problem.

[2022-04-29 21:25] #4741 closed, assigned to hectormmg

[2022-04-29 22:30] #4739 closed, assigned to hectormmg

[2022-04-30 01:00] ghost commented on #4685
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-04-30 01:08] chitturs commented on #4759
Yep, former. Is there a way I can be notified when the server-side library is available?

Thanks

[2022-04-30 13:26] brugh opened #4767 "Getting consent for a live.com account fails with invalid_request: The provided request must include a 'client_id' input parameter."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

I load msal in an Office.js add-in. The first time I run the add-in the user needs to give consent. When I use a AzureAD account, the consent screen shows up inside the add-in just fine. But when I use a

[2022-04-30 16:05] yongks commented on #4740
I had tried the extension, it doesn't work as well. Don't understand how this would help.

When using chrome identity API, "launchWebAuthFlow" will launch a window for SSO login, it is this window that I suspect the device ID didn't get pass through.

[2022-05-01 01:00] ghost commented on #4736
@its-miller-time This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-01 13:00] ghost commented on #4734
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-05-01 13:00] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-05-01 13:00] ghost commented on #4710
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-05-01 21:33] daniel-crouch opened #4768 "passport-azure-ad vs msal-node server side cache/storage"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.8.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

From my understanding `passport-azure-ad` can be configured using cookie-session persisting authentication state in cookies and nothing is stored server side (relying on passport to validate the session etc). With `msal-node`, the

[2022-05-02 01:00] ghost commented on #4737
@ashu8912 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-02 10:05] bartlomiejborzucki commented on #4736
I have the same problem.
Maybe this is the reason:
`"There is also the possibility that the auth code is being cleared from the URL before MSAL can process it, are you getting any errors about an empty URL hash?" `
but I changed nothing in my code (like @its-miller-time)

[2022-05-02 11:16] brugh commented on #4767
Also, if I really do need displayDialogAsync (although I don't understand why AzureAD accounts don't need it and live.com accounts do), how do I configure MsalGuard to open a dialog too instead of redirecting or even worse, trying to open a popup in the add-in...

[2022-05-02 11:36] janekos commented on #4573
this worked for me. shame on you microsoft for making users have to write hacks like these

[code]

[2022-05-02 12:34] fvdnabee commented on #4753
As a work-around I've tried adding react state to the Home component (which contains `AuthenticatedTemplate`) that is updated in a callback from msal-browser event's API (as per [this example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/events.md#registering-and-unregistering-an-event-callback)). Eventhough the event callback is executed, the sta

[2022-05-02 12:36] its-miller-time commented on #4736
Apologies for the delayed follow up. Dug into this an found it was a conflict in a minor version of react-router. Not sure which one, needed to get a fix out so I pinned it to the lowest minor version. Try taking the caret out of your dependencies list for react-router-dom and related dependancies.

[2022-05-02 13:00] #4725 closed, assigned to bmahall

[2022-05-02 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-05-02 16:40] #4697 closed, assigned to jasonnutter

[2022-05-02 18:22] #4603 closed, assigned to sameerag

[2022-05-02 19:52] hectormmg commented on #4736
Thanks, closing the issue.

[2022-05-02 19:52] #4736 closed, assigned to hectormmg

[2022-05-02 21:30] tnorling commented on #4740
The chrome extension or Edge browser is **required** in order to inject the deviceId into the request. It sounds like the extension isn't getting loaded into the window opened by the `launchWebAuthFlow` API. You may need to open a new tab to the /authorize endpoint and then find a way to feed the response back to your extension. We unfortunately don't have an example of how to do this. We have ano

[2022-05-02 21:30] tnorling commented on #4740
The chrome extension or Edge browser is **required** in order to inject the deviceId into the request. It sounds like the extension isn't getting loaded into the window opened by the `launchWebAuthFlow` API. You may need to open a new tab to the /authorize endpoint and then find a way to feed the response back to your extension. We unfortunately don't have an example of how to do this. We have ano

[2022-05-02 21:44] tnorling commented on #4452
@johnyoungnvs Your redirect loop is happening because you have a race condition between the interceptor and MSAL processing the response from the previous redirect. Did you try the suggestion posted by Jason above?

[2022-05-02 21:50] tnorling commented on #4551
@DerekJDev I apologize that this fell through the cracks, Prithvi is no longer on the team. Please email me your logs and I will be happy to follow up on this.

[2022-05-02 21:57] tnorling commented on #4754
@cotepatrice The original response is cached *in memory*, meaning to clear this and start fresh you will need to re-instantiate `PublicClientApplication`. One way to do this would be to not use client-side routing when hitting cancel to go back to your login.vue page, causing your app to reload. Perhaps a better solution would be to call `handleRedirectPromise` outside the context of each route so

[2022-05-02 22:27] ghost commented on #3883
:tada:This issue was addressed in #4694, which has now been successfully released as `@azure/msal-common@v6.3.0`.:tada:

We recommend upgrading to the latest version of `@azure/msal-browser` or `@azure/msal-node` to take advantage of this change.

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-common-v6.3.0)
* [Official NPM Relea

[2022-05-02 22:27] ghost commented on #4538
:tada:This issue was addressed in #4680, which has now been successfully released as `@azure/msal-common@v6.3.0`.:tada:

We recommend upgrading to the latest version of `@azure/msal-browser` or `@azure/msal-node` to take advantage of this change.

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-common-v6.3.0)
* [Official NPM Relea

[2022-05-02 22:52] jasonnutter commented on #4710
@prsauer Thanks, reviewing!

[2022-05-03 03:06] dillonbailey commented on #4486
Thanks @sameerag - any new updates on targeted release?

[2022-05-03 05:54] fvdnabee commented on #4753
Issue is still present after updating to msal-react 1.4.0 & msal-browser 2.24.0.

[2022-05-03 16:31] vikram-k opened #4780 "passport-azure-ad 4.3.2 on npm"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I noticed that passport-azure-ad 4.3.2 was updated a couple weeks ago containing a vulnerability fix for the async package.
Will 4.3.2 be published to npmjs? Let me know what the timeline is for that. Thank you!

### MSAL

[2022-05-03 17:04] tnorling commented on #4733
@chuckyOHare How is `acquireTokenSilent` being called, if not explicitly? Do you mean to say that you are using the Interceptor? If so, the Interceptor should handle the fallback with the interaction type you've specified in your Interceptor config.

[2022-05-03 17:10] tnorling commented on #4759
@chitturs You can track our [releases page](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases). Keep an eye out for `@azure/node-token-validation`. We will also update and close this issue when it has been published.

[2022-05-03 17:34] tnorling commented on #4734
@tscislo When switching off PPE you also need to update the `graphMeEndpoint` config in the same file to `https://graph.microsoft.com/v1.0/me`. Can you try that and let me know if that works?

[2022-05-03 18:56] tnorling commented on #4767
@brugh This looks like the same issue you raised previously in #3179. To build an office add-on you need to use the dialog API when invoking interaction, every time. There's 2 ways you can do this:

1. Write your own custom guard that opens the dialog box to a page that calls login and returns to a page that handles the response and sends the response back up to the guard. This approach is roughly

[2022-05-03 23:08] jasonnutter commented on #4780
`passport-azure-ad@4.3.2` is now available on npm.

[2022-05-03 23:08] #4780 closed, assigned to tnorling

[2022-05-04 11:34] cotepatrice commented on #4754
@Thanks @tnorling ! The sample show how to use the MSAL ```setNavigationClient()``` method, which seems to be what I'm looking for.

[2022-05-04 11:34] #4754 closed, assigned to tnorling

[2022-05-04 13:00] #4726 closed, assigned to bmahall

[2022-05-04 13:34] qqzm opened #4782 "Silent Sign-in Fails in Safari with Error Code AADSTS50058"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not Applicable

### Description

I am using msal-browser to authenticate against an Azure AD domain. My app is configured as an SPA with relevant redirect Uris configured and Implicit grant and hybrid flows turned-off.
The outer page (https://serve

[2022-05-04 14:20] tnorling commented on #4782
@qqzm Unfortunately, ssoSilent will always fail if 3P cookies are blocked, as is the default setting in Safari. Currently the only way to authenticate in this case is to invoke interaction, after you have signed in you can then invoke `acquireTokenSilent` to get tokens silently for around 24 hours. At this point `acquireTokenSilent` will throw an `Interaction_required` error which your app should

[2022-05-04 14:27] qqzm commented on #4782
Hi @tnorling, thanks for your reply.
Ok, in that case I have a slightly different problem - acquireTokenSilent gives the error and prompts me for interaction every single time. Even once I have already authenticated interactively on the second page, I don't get the 24 hours of working silently in Safari.

[2022-05-04 15:15] qqzm commented on #4782
Oh, I think I may have fixed it and it now logs in silently the first time. What I've done is changed the following on the request:
Instead of:
`request.loginHint = username;`
I'm now doing:
`request.account = msal.getAccountByUsername(username);`
I still need to do more testing but it seems to be fixed.

[2022-05-04 15:48] tnorling commented on #4782
Cool, keep us posted!

[2022-05-04 16:00] mustafaAly commented on #4738
@hectormmg  yeah sure , I wonder if I can send you the project in your mail to check what's wrong , Thanks in Advance

[2022-05-04 16:26] brugh commented on #4767
True, I struggled with this before. Good that you remember the other case.
I noticed the new msal versions and gave it another go. I tried some reworks of my other workaround of having two separate applications which created a situation that our dev env differs from our prod significantly which makes for hard testing.
the new version does solve a few of our issues, except this one. Since we can no

[2022-05-04 17:25] tnorling commented on #4767
Whether it works or not, this is not the recommended approach for developing office add-ins. Dialogs are the recommended approach.

You should wait until the `inProgress` observable indicates there is not interaction in progress before making an http request that might invoke the interceptor. See [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angula

[2022-05-04 17:59] tnorling commented on #4753
@fvdnabee For some reason the moment the popup is opened the whole UI freezes and nothing is clickable anymore. It's not clear to me what is causing this yet but I have found a way to fix it. Setting the `asyncPopups` flag to `true` on [the `PublicClientApplication` config](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#system-con

[2022-05-04 19:38] VladimirTrunov opened #4787 "npm install @azure/msal-node downloads "axios" of "0.21.4" which has vulnerabilities"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

1.0.0

### Description

When I run "npm install @azure/msal-node", it downloads as a dependency "axios" of "0.21.4" which has vulnerabilities and we are recommended to update it to "0.26.0" (https://nvd.nist.gov/vuln/detail/CVE-2022-1214).

I understand

[2022-05-04 19:42] VladimirTrunov commented on #4787
The version of node is v16.15.0, npm: 8.5.5

[2022-05-04 20:50] tnorling commented on #4768
@daniel-crouch We are working on a new token validation library that will replace passport-azure-ad. I don't have an ETA to share at the moment but it is in active development and we can update this issue when the first version has been released

[2022-05-04 21:28] daniel-crouch commented on #4768
Many thanks @tnorling for your reply. When you say to replace passport-azure-ad, does that mean it will be another plug-in for passportjs as a strategy?

I am trying to understand the differences and the need for both this and msal-node is why I ask.

[2022-05-04 22:09] tnorling commented on #4768
It will be more generic, not specific to passport.

msal-node = token acquisition library
node-token-validation = token validation library (Coming soon)

Depending on what you're building you may need to use one or the other or both

[2022-05-04 22:13] daniel-crouch commented on #4768
I see. Sounds good. However I feel my original question is unanswered still. Passport-azure-ad from what I can tell does not persist state on the server, yet msal-node does. I understand you have a new library to replace passport-azure-ad, but in replacing it, it's not like for like. Therefore is there a solution which does not need to persist any state on the server and we can just rely on cookie

[2022-05-05 06:38] fvdnabee commented on #4753
`asyncPopups: true` is indeed a work-around for this issue, thanks! Do you know if `asyncPopups` has any down sides (i.e. why is the default false)?

[2022-05-05 09:58] finbarw commented on #4733
Thanks for clarifying @tnorling. Yes, we're using the interceptor with InteractionType.Redirect (see configuration above).

[2022-05-05 12:04] gyz0072004 commented on #4787
+1 also facing this issue. @VladimirTrunov if your npm version is >=8, you can try this: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides for a quick mitigate. However, still it should be fixed by this library.

[2022-05-05 12:52] priyanka-ciandt opened #4791 "Special characters in ConfidentialClientApplication.acquireTokenByUsernamePassword() breaking the Request."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

I am using "ConfidentialClientApplication" to get token but it has same issue if there is special character in password it breaks the Request which going call acquire token.

I bet that it is with all the calls in msal-node because

[2022-05-05 12:53] priyanka-ciandt commented on #4326
[Related bug : 4791](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4791)

[2022-05-05 12:53] trevonmckay opened #4792 "handleRedirectPromise always returns null token response"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

After signing in to our application I receive a null token response which makes the app not usable as we don't know the current signed in user.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configu

[2022-05-05 15:38] qqzm commented on #4782
I'm now getting the following error:

InteractionRequiredAuthError: invalid_grant: AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access 'api://[app-id]'.

Timestamp: 2022-05-05 15:34:04Z
AuthError — AuthError.js:27
InteractionRequiredAuthError — InteractionRequiredAuthError.js:40
(anonymous

[2022-05-05 16:15] jasonnutter commented on #4787
We are planning to migrate off of axios completely in #4744.

[2022-05-05 16:15] qqzm commented on #4782
(Needless to say I have not made any configuration changes and I have not moved to a new location)

[2022-05-05 16:47] trevonmckay commented on #4792
I found the reason for this issue to be caused by an immediate redirect happening after the handleRedirectPromise being called.

[2022-05-05 16:47] #4792 closed, assigned to tnorling

[2022-05-05 16:59] tnorling commented on #4791
@priyanka-ciandt This is being tracked by #4326, updates will be posted in that issue. In the meantime you can try URI encoding the password (which is likely what msal-node should be doing under the hood to mitigate this). Closing this issue for now as duplicate

[2022-05-05 16:59] #4791 closed, assigned to tnorling

[2022-05-05 17:13] tnorling commented on #4782
@qqzm It's likely happening because the cookies are being blocked. Do you get the same error in Chrome Incognito? Silent calls are never guaranteed to succeed, in general your app should catch `InteractionRequiredAuthError` and invoke an interactive API

[2022-05-05 17:18] hectormmg commented on #4738
@mustafaAly sure, you can send me a zip so I can look at the code as well. Thanks!

[2022-05-05 17:19] tnorling commented on #4733
@chuckyOHare It's a little unclear to me what you need from us. Can you please clarify?

[2022-05-05 17:36] tnorling commented on #4753
Async popups are potentially more likely to be blocked by popup blockers

[2022-05-05 17:58] tnorling commented on #4595
@youkabeng Yes this should be fine. Are you still experiencing issues with this?

[2022-05-05 23:54] tnorling commented on #4768
@daniel-crouch We do not offer a cookie storage solution out of the box, however, you may be able to write your own implementation and provide it to msal-node via `ICachePlugin`. Docs on that can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/caching.md)

[2022-05-06 07:34] qqzm commented on #4782
My app does catch InteractionRequiredAuthError and invoke an interactive api and **that** is when this error occurs - in the call to either acquireTokenRedirect or acquireTokenPopup (I've tried both).
The error does not occur in Chrome incognito mode, just Safari.

[2022-05-06 10:34] Deewens opened #4795 "PublicClientApplication constructor parameters"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular-auth-code#configure-the-application

### Description

I am following the documentation linked above to setup SSO with Azure on my Angular App. The documentation tells us to add th

[2022-05-06 14:59] qqzm commented on #4782
I think I have now resolved or worked around all my issues.
I've solved my original issue - the second page will now log the user in silently the first time, even in Safari or Chrome incognito. I'll post my solution code next week once I've tidied it up.

The latest issue with the AADSTS50076 error I've managed to find a workaround, which is to require MFA for all MacOS and iOS users at all times

[2022-05-06 15:56] finbarw commented on #4733
In that case, it seems possible that the fallback is not being handled correctly for us in some instances.

@bmahall suggests here that an interactive fallback is required when AcquireTokenSilent fails.

@tnorling you seem to be telling me that the `InteractionType.Redirect` option in the MSAL Interceptor configuration should handle this error with a redirect, is that right?

We're finding that, i

[2022-05-06 17:07] tnorling commented on #4782
Interactive APIs don't throw InteractionRequired. This has to be coming from an uncaught silent call somewhere

[2022-05-06 17:16] tnorling commented on #4733
@chuckyOHare

This is correct.

Can you please clarify what happens when your app gets into this error state? The error you shared above is coming from the network request (this is expected and you may see this printed to the browser console), however, the library catches this error internally and attempts to handle it silently. It will never be thrown back to the application but if the silent bac

[2022-05-06 19:13] tnorling commented on #4795
@Deewens Apologies for the confusion. That tutorial takes you step by step in setting up an Angular app from the ground up. As such, some of the individual code snippets may be incomplete until you get further into the tutorial. If you scroll down you'll find a section that has you replace those `null` placeholders with the `MsalGuard` and `MsalInterceptor` configs. I'll see what we can do to make

[2022-05-08 01:00] ghost commented on #4740
@yongks This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-08 01:00] ghost commented on #4710
@prsauer This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-08 01:00] ghost commented on #4551
@DerekJDev This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-08 01:00] ghost commented on #4452
@johnyoungnvs This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-08 12:02] mustafaAly commented on #4738
@hectormmg  Hi Hector, thank you so much for your time and your support I really appreciate that I resolve my issue and the access token was returned successfully thank you again for your help

[2022-05-08 12:02] #4738 closed, assigned to hectormmg

[2022-05-09 01:00] ghost commented on #4734
@tscislo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-09 01:00] #4737 closed, assigned to hectormmg

[2022-05-09 04:17] DerekJDev commented on #4551
@tnorling thanks for the response, after making the changes I mentioned above and upgrading to the latest package I haven't been running into the issue. I will close this issue. If run into it in the future, I can reopen this issue and provide logs.

[2022-05-09 04:17] #4551 closed, assigned to tnorling

[2022-05-09 06:51] WellyHong opened #4796 "After login it will redirect to default page even if set `navigateToLoginRequestUrl: false`"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

We implement Azure AD login via @azure/msal-browser and encounter unexpected behavior after upgrading from  2.14.0 to 2.23.0.
We use `history.push` to go to a specific url (e.g. `https://mywebsite.com/#/app`) after `handleRedi

[2022-05-09 14:53] prsauer commented on #4710
bumping to not close, still on my desk to be done (https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4711)

[2022-05-09 15:57] muralishetty2558 commented on #4787
+1 - facing issue.

[2022-05-09 16:08] brugh commented on #4767
Very well, I concede ;) I still don't understand exactly why we need the dialogs but the flow in this version works fine now.

I created a boilerplate repo because I can't seem to find a sample project that works for Office desktop as well as Office Online and that has the correct **MSAL** flow for **Office**.js in **Angular**, connects to the **Graph**-API and uses **Fluent-UI** Web-components an

[2022-05-09 17:11] tnorling commented on #4767
Great thank you! I've created an item in our backlog to write an official sample for Angular + Office Add-in, we will certainly take a look at what you've got there when we're ready to pick that up. Closing for now but let us know if you have any other questions

[2022-05-09 17:11] #4767 closed, assigned to tnorling

[2022-05-09 21:46] tnorling commented on #4796
@WellyHong Looks like you're using hash routing, can you please confirm? The identity provider returns responses back to the application via the hash in the url, which MSAL extracts and then clears (which is why it redirects to `/#/`). This is expected behavior, however, if you would like to end up on a different route than `/#/` you can flip `navigateToLoginRequestUrl` to `true` and MSAL will han

[2022-05-10 08:16] WellyHong commented on #4796
@tnorling
exactly, we use hash routing.
we face same situation after setting `navigateToLoginRequestUrl: true` & specific request via `redirectStartPage`. ☹️
suggestions are greatly appreciated.

[2022-05-10 11:21] qqzm commented on #4782
Thanks, that's really helpful. The MFA error seems to have gone away so it must have been some test code or something that I've since removed.
Here's how I solved the issue with Safari IDP blocking the authentication, in case anyone comes here with the same situation as me (one page with another inside an iframe, wanting to sign-in once on the the outer page then have it silently authenticate in t

[2022-05-10 11:21] #4782 closed, assigned to tnorling

[2022-05-10 13:55] finbarw commented on #4733
Thanks for clarifying @tnorling. The issue is hard hard to replicate but I'm investigating further. I'll get back to you asap.

[2022-05-10 14:18] MateusDev98 opened #4799 "MSAL sign out does not appear to clear cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Hello, guys, I have a problem with my application, I'll explain:
When I login the user he has the expected behavior, however when the logout is performed the user is redirected to a page of the account choice

[2022-05-10 16:13] jasonnutter commented on #4799
Is this user logging into the same account they are signed into Windows with? (e.g. they are signed into Windows with their @microsoft.com corp account and are using that account in your application)

[2022-05-10 16:17] MateusDev98 commented on #4799
@jasonnutter  So the user can have the corporate account on windows or not, does that make a difference? Because this problem only occurs in browsers that are not Edge or IEE, that is, it only happens in chrome, firefox and the like.

[2022-05-11 01:00] ghost commented on #4768
@daniel-crouch This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-11 01:00] ghost commented on #4595
@youkabeng This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-11 11:17] naveenrk92 commented on #4573
**"Has value cannot be processed because it is empty"**
I see this error due to a recent update in the msal-common package which is being referenced by msal-browser.
Recent version msal-common is [6.3.0]. msal-browser version should sync with this.
Below is a combination which works :

npm uninstall @azure/msal-common
npm uninstall @azure/msal-browser
npm uninstall @azure/msal-react
npm i @azure/m

[2022-05-11 11:41] NidalGhonaim opened #4802 "Roles undefined in idTokenClaims but exist in token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

`idTokenClaims.roles` returns undefined.
The claims I get are: aud, exp, iat, iss, name, nbf, nonce, oid, preferred_username, rh, sub, tid, uti, ver ... but no roles.
When I print the token from `msalInstance

[2022-05-11 15:45] mustafaAly opened #4804 "Can't Sign out from my account to authenticate with another one"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.9.0

### Description

Hi Team, thank you for your efforts and your support I have a critical issue that I can't sign out from my account after logout from my application and call the logout function to authenticate

[2022-05-11 15:55] jasonnutter commented on #4802
When you call `msalInstance.acquireTokenSilent`, are you looking in the `accessToken`?

[2022-05-11 16:14] tnorling commented on #4796
@WellyHong I'm not sure I fully understand the issue, can you please clarify? Like I said, removing the hash is expected behavior and is done to prevent the auth code from being accessible in browser history.

[2022-05-11 18:04] NidalGhonaim commented on #4802
@jasonnutter yes.

[2022-05-11 22:06] jasonnutter commented on #4804
Try setting `prompt` to `select_account`:

[code]

[2022-05-12 01:00] ghost commented on #4795
@Deewens This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-12 01:33] hectormmg commented on #4326
@PakitoSec  I just finished testing and found that using encodeURIComponent on the password does in fact fix the issue. Could you elaborate on why it doesn't work for you?

[2022-05-12 09:00] svrooij commented on #4802
@NidalGhonaim can you confirm you are using the same client ID for both the API and the client? If this is not the case, the ID token is to tell your client `Hey this is user x accessing your client application` and the access token is to tell the API `User x has this permissions for your API application`

In the identity token you will get the roles that the user has assigned in you Client applic

[2022-05-12 10:29] mustafaAly commented on #4804
thanks a lot, it works fine

[2022-05-12 10:29] #4804 closed, assigned to mpminayo

[2022-05-12 11:02] mustafaAly opened #4808 "Can't Sign in again after cancelling the authentication popup by the close or back button"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.9.0

### Description

Hi Team, thank you for your efforts and your support I have a critical issue that I can't sign in again  to my account after canceling the authentication popup by the close button or back butto

[2022-05-12 17:18] Deewens commented on #4795
Hi!

Thanks for your reply! When I scrolled down I found the other parts about MsalGuard and MsalInterceptor. It is not really intuitive, however. I think it would be best to add the required parameter (if it is really mandatory) and explain with a comment why it is there and that will be described in a later part.

I just wanted to understand how to get up and running, but I am also curious to kn

[2022-05-12 19:31] svrooij opened #4809 "Documentation on loadExternalToken"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

docs.microsoft.com

### Description

Recently I’ve been experimenting with an existing Angular SPA, with `@azure/msal-angular` in combination with a teams tabs. We figured out a hack-y-way to use information from the access token that we got from Teams SSO (the Teams app is pre-auth

[2022-05-12 19:46] derisen commented on #4809
@svrooij the document on `loadExternalToken` can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md). However this approach shouldn't be used outside of testing scenarios -it sounds like this is what you're aiming at. Can you elaborate a bit more on your scenario? You should be able to make use of the teams sso access token

[2022-05-12 20:03] NidalGhonaim commented on #4802
@svrooij Ah! ... now I understand. Thank you for your response.

I'm using different app registrations for the client (SPA) and the API,
and I am trying to check if the user has the permission to access certain API endpoints.
Is my approach of decoding the the token correct?
Or should I duplicate the roles (from the API app registration) to the client app registration?

[2022-05-12 20:07] derisen commented on #4802
@NidalGhonaim the resource server (API) should decode and validate the access token, so that's fine. If you need to adjust the UI based on user's role then duplicating roles on the client app registration also makes sense (here's an [example](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/tree/main/5-AccessControl/1-call-api-roles) doing that).

[2022-05-12 20:12] NidalGhonaim commented on #4802
@derisen It all makes sense now. Thank you very much.

[2022-05-12 20:13] #4802 closed, assigned to mpminayo

[2022-05-12 20:22] svrooij commented on #4809
@derisen Sure I can elaborate on our scenario. We have an API protected with Azure AD token. We already have an angular app using this api (it's hosted as Azure Static Web App, combining both the SPA and the API on a single domain). The angular app uses MSAL to get tokens for the api.

Now we want a portion of the angular app to be available in Teams. In teams you have two options to get a token,

[2022-05-12 23:58] derisen commented on #4809
@svrooij I see. IMHO modifying the existing code (perhaps via a custom interceptor) to accommodate the SSO token from Teams SDK  would be less of a hurdle in future than opening the app to unpredictable behavior by using the loadExternalToken API.

[2022-05-13 17:16] zzbxd opened #4810 "IDToken roles between two react applications"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I have two react applications using same tenant, I register two applications in Azure AD for them. I use the IDToken role to control GUI.

When I log in to first app, I get the first app's IDToken role; -- ex

[2022-05-13 18:39] tnorling commented on #4810
@zzbxd Can you please share code snippets showing how you are retrieving the roles? Are both apps hosted on the same domain?

[2022-05-13 18:48] tnorling commented on #4808
@mustafaAly I'm not sure I understand what the issue is. Msal-node does not provide popup handling code, can you please clarify what you believe is a bug in MSAL?

[2022-05-13 18:56] tnorling commented on #4795
@Deewens Thanks, I agree the tutorial could be more clear in this regard. I've noted your feedback and will see what we can do to improve this for future users.

As for not using the Guard or Interceptor, the configs are required but you don't have to protect any routes or APIs.

You could set the configs to the minimum required, something like this and then if you don't want to guard any routes y

[2022-05-13 19:06] tnorling commented on #4799
@MateusDev98 Yes it matters, users signed into Windows can be signed in automatically using a feature called Browser SSO. This feature is built into Edge Chromium and Firefox out of the box and can be enabled in Chrome by installing either the Windows Accounts extension or the Office extension (If working on a corp machine your admins may auto install one or both of these extensions).

If this is

[2022-05-13 19:19] svrooij commented on #4802
@NidalGhonaim and if you don’t want to replicate the roles in the client app. You can use the client id of the api in the client app, but I’m not sure what the official policy on that is.

[2022-05-13 19:21] zzbxd commented on #4810
Both apps running on local http://localhost:3000; Of course they can not run same time, so I start one, stop it, then start another one.

Here are the code for getting idtoken roles:
`
  const { instance, inProgress } = useMsal();`
`
  const activeAccount = instance.getActiveAccount();`
`
  const roles = activeAccount.idTokenClaims.roles;
`

[2022-05-13 19:37] svrooij commented on #4809
Building a custom Interceptor seems like more hassle then injecting the token…. That is because then we would need to copy the entire code of the current interceptor and add a new way when the client is in teams. That is because the current interceptor has all its method defined as private, so you cannot extend it and re-use the existing code.

You pointed me to the documentation of the loadExtern

[2022-05-13 20:26] tnorling commented on #4810
I see. Because both apps are running on the same domain they will share storage and accounts are not tied to any app ID. If you need to get the most up to date roles I would suggest pulling them from the idToken, rather than from the account. You can call `acquireTokenSilent` with the account object and then read the roles from the response.

[code]

[2022-05-13 20:34] tnorling commented on #4809
@svrooij We **strongly** discourage using the `loadExternalToken` API for anything other than testing. If you choose to use it in production, please know that you do so at your own risk and we make no guarantees that we will support issues that arise from it. Furthermore, by injecting the tokens you are creating a 2nd source of truth in terms of cached tokens (one in the Teams context and another

[2022-05-13 20:42] svrooij commented on #4809
@tnorling understood!

A solution might be to provide enough information to the loginscreen through the query string that it logs in automatically. Is that something that would be possible?

I think that if the application is consented for that user opening the login screen with the domain set and the loginHint it might not ask the user for more info and just continue (and auto close).

[2022-05-13 20:51] tnorling commented on #4809
Yes theoretically, if a user is already signed in and you provide a hint (`login_hint` [optional claim](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) is the best one to use) to MSAL it __can__ sign you in without interaction, however, there may still be cases where interaction may be required such as when the user's session has expired or MFA is

[2022-05-13 20:57] svrooij commented on #4809
Thanks for the explanation. This issue can be closed

[2022-05-13 20:57] #4809 closed, assigned to mpminayo

[2022-05-14 01:16] zzbxd commented on #4810
So, what's the exact meaning of 'same domain' here?
- If say I hosted those two apps separately on app1.example.com and app2.example.com, will app1 get its IDToken Role and app2 also get its IDToken Role?
- Or does it mean I had to host them separately on app1.domain1.com and app2.domain2.com to get their own IDToken roles?

Also, I tried to apply your code into both app1 and app2, and repeat the

[2022-05-15 01:00] ghost commented on #4787
@VladimirTrunov This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-15 01:00] #4740 closed, assigned to tnorling

[2022-05-15 04:29] MateusDev98 commented on #4799
@tnorling Okay, I'll make a video showing the behavior that currently occurs and I'll send it to you by email! This is an example I found on the internet, see if it helps: https://www.youtube.com/watch?v=XIiQZL7pERQ

[2022-05-15 04:36] MateusDev98 commented on #4799
@tnorling What happens in this video is exactly what I went through as an example, in a first login it asks for the password and e-mail for the user, when the user logs out and logs back in, the credentials are not required again.

[2022-05-15 13:00] #4452 closed, assigned to tnorling

[2022-05-15 14:44] mustafaAly commented on #4808
i handled popup handling by CreateAuthWindow Function
	static createAuthWindow() {
		return new BrowserWindow({
			width: 400,
			height: 600
		});
	}

[2022-05-16 05:42] rmyourself commented on #4787
Can we have a quick fix for this issue?

[2022-05-16 08:14] Mohdaqib1 opened #4812 "Auto Redirect if from login page if user is Logged in"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

1.Whenever I see my output after saving by writing something wrong in my code and then I fix it and then see output so our login page is shown sometimes.
2.Whenever I change the tab then our login page is show

[2022-05-16 12:17] kjkent opened #4813 ""initialize has already been called once" warning in console upon app start."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Description

Upon starting a React development server with `npm start`, a warning message appears that `initialize` has already been called, despite (unless I've messed up somewhere) me laying out the project as described

[2022-05-16 13:00] #4734 closed, assigned to tnorling

[2022-05-16 13:53] Deewens commented on #4795
@tnorling Alright, thanks for your answer!

[2022-05-16 17:24] tnorling commented on #4808
@mustafaAly Can you please clarify what you believe is a bug in MSAL?

[2022-05-16 18:29] #4795 closed, assigned to tnorling

[2022-05-16 18:32] tnorling commented on #4810
`app1.example.com` and `app2.example.com` are considered different domains for the purposes of caching (this is enforced by browsers, not by MSAL).

When you get an InteractionRequired error you should fallback to acquireTokenPopup or acquireTokenRedirect

[2022-05-16 20:37] tnorling commented on #4813
@kjkent This happens because React StrictMode mounts your react components twice and `initialize` is called when `MsalProvider` is mounted. This log message can be safely ignored.

[2022-05-16 20:40] tnorling commented on #4812
@Mohdaqib1 I unfortunately don't understand your question, can you please provide more details? Code snippets showing how you are using the library and a brief explanation of what is happening vs what you expect to happen and steps to reproduce would help clarify. Thanks!

[2022-05-16 20:43] tnorling commented on #4799
@MateusDev98 Can you please email me a fiddler trace? Thanks!

[2022-05-16 20:56] #4189 closed, assigned to jo-arroyo

[2022-05-16 20:56] #4710 closed, assigned to jasonnutter

[2022-05-17 01:00] ghost commented on #4796
@WellyHong This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-17 01:00] ghost commented on #4733
@chuckyOHare This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-17 01:35] #4810 closed, assigned to mpminayo

[2022-05-17 04:59] harishnarain opened #4816 "Transition from passport-azure-ad to msal-node"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We're currently looking to get clarification on whether we should be transitioning from passport-azure-ad to msal-node? There seems to be some conflicting information on passport-azure-ad only being in maintenance mode bu

[2022-05-17 08:28] dillonbailey commented on #4486
@tnorling @sameerag any updates here?

[2022-05-17 13:14] kjkent commented on #4813
@tnorling Thanks so much for the clarification. Would you accept a PR to include this info on [this docs page](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md)?

[2022-05-17 17:15] tnorling commented on #4813
@kjkent In general yes, we welcome PRs, however, I want to be clear that this is **not** an error and would not be appropriate for that doc. It is merely a log message, which you can turn off by not configuring the logger (which you should only configure during development or debugging anyway).

[2022-05-17 18:01] kjkent commented on #4813
@tnorling I can appreciate that this is not an error message and perhaps that is the wrong doc page. However, it **is** a warning message. As warnings highlight potentially adverse behaviour, I think I would disagree with the assertion that it's on par with the other, purely informational log messages. If in this case the warning can be disregarded, I would guess the community might benefit from t

[2022-05-17 18:35] MateusDev98 commented on #4799
@tnorling My friend I sent the email with the video I made for you, I'm waiting for your answer.

[2022-05-17 18:38] MateusDev98 commented on #4799
@tnorling Soon after I will send the fiddle trace.

[2022-05-17 18:53] MateusDev98 commented on #4799
@tnorling I sent the fiddler trace.

[2022-05-17 19:17] tnorling commented on #4816
@harishnarain passport-azure-ad is in maintenance and is not receiving any updates besides critical security fixes. `msal-node` can be used to acquire tokens, however, we do not yet have a token validation replacement for passport-azure-ad. A replacement token validation library is currently in active development.

[2022-05-17 19:24] tnorling commented on #4813
I understand the message is potentially confusing, we may need to rethink if warning is appropriate or if the wording needs to be rephrased.  There is no adverse behavior in calling `initialize` more than once as MSAL will immediately return on subsequent invocations, the log message was intended to point out that subsequent calls will not do anything and are unnecessary.

[2022-05-17 19:25] #4326 closed, assigned to hectormmg

[2022-05-17 19:35] kjkent commented on #4813
That's fair enough. Thanks again for your input, @tnorling , it's much appreciated.

[2022-05-17 21:36] siddarthapal opened #4817 "How to configure Microsoft Login Dialogue while using MSAL Library for Angular 13"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

[Forum.docx](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/8711656/Forum.docx)

Hi MSAL Lib Team

Please refer the word document to view the query.

best regards

### MSAL Confi

[2022-05-17 21:42] tnorling commented on #4799
@MateusDev98 Thanks for sending that over. Looks like the logout is failing due to a disallowed post_logout_redirect_uri. Can you please confirm that you have done all of the following as per the [logout docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md):

1. The `postLogoutRedirectUri` (in your case looks like you're using the /home

[2022-05-18 03:59] andrew-hwahin commented on #4486
hope this issue will be resolved asap as it affects production 🙏🙇‍♂️
we had to keep restarting the application server to overcome the error

[2022-05-18 09:23] alakdam07 opened #4818 "React-Apollo: azure msal-browser does not return token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Description

I am moving my package from [react-adal](https://www.npmjs.com/package/react-adal) to [@azure/msal-react](https://www.npmjs.com/package/@azure/msal-react). In [react-adal](https://www.npmjs.com/package/react-

[2022-05-18 12:01] alakdam07 commented on #4818
@tnorling any clue?

[2022-05-18 13:00] #4768 closed, assigned to tnorling

[2022-05-18 13:00] #4595 closed, assigned to tnorling

[2022-05-18 13:47] MateusDev98 commented on #4799
Does this redirect uri need to have some content? Because in some tests I did it didn't work, even configuring within the azure b2c. I'll send you a picture of my setup!
![image](https://user-images.githubusercontent.com/44756508/169054551-656b854a-10ea-4f14-915c-17532f6ca662.png)
![image](https://user-images.githubusercontent.com/44756508/169055080-dee57916-8f7c-4c2c-bd91-f124d6b67aad.png)

[2022-05-18 16:38] tnorling commented on #4799
@MateusDev98 It does not need to have any content but it needs to be provided to your _logout_ request, rather than _login_

[2022-05-18 16:44] tnorling commented on #4818
@alakdam07 Your call to `getAllAccounts` is likely happening before the login has completed. If you have logic dependent on users being signed in or out, you should write that logic inside a React component underneath the `MsalProvider` by either using the provided React methods, such as the `accounts` context value returned by the `useMsal` hook, or by checking the `inProgress` value before attem

[2022-05-18 16:45] tnorling commented on #4817
@siddarthapal Can you please describe your question in detail and provide relevant code snippets showing what you've tried? Thanks!

[2022-05-18 16:50] tnorling commented on #4813
Opened a PR to address. Let me know if the changes help resolve your concerns around this. Thanks!

[2022-05-19 04:55] alakdam07 commented on #4818
Could you please show me code sample?

[2022-05-19 05:08] hiroki-nishida-avanade opened #4822 "loginRedirect() does not automatically redirect on iOS with Intune"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Description

We have an SSO app using the msal-react.
The app works on a PC, but it doesn't work as expected when accessed from an Edge browser on iOS with Microsoft Intune.
The app is not automatically redirected by logi

[2022-05-19 07:04] alakdam07 commented on #4818
@tnorling  I console logged the `Progress` and `Accounts ` in my App component. The  `Progress` is always `none`status. That is what I get 👇🏾👇🏾👇🏾
<img width="998" alt="Screenshot 2022-05-19 at 10 04 02" src="https://user-images.githubusercontent.com/47625626/169230880-9f2fa68c-813b-485f-88e7-f7645c6319d5.png">

[2022-05-19 09:46] RaulBurian opened #4824 "How to handle multiple concurrent requests that require interaction"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

In our application we have some points where we make multiple API requests at the same time.

In order to do that we try to obtain a token with `msal` for every request first using the silent way and falling

[2022-05-19 16:39] jasonnutter commented on #4822
@HLNishida We're aware of this issue, but have been unable to prioritize a fix. See this comment for a workaround: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4458#issuecomment-1026614100

[2022-05-19 19:13] siddarthapal commented on #4817
@tnorling I have added a a word document describing the scenario. Could you please have a look?
In simple words, I want to replicate the login and logout process which happens when we connect to "Azure Portal", on our portal. And it's something related to re-direct flow....

[2022-05-19 19:23] MateusDev98 commented on #4799
@tnorling Hello my friend, it didn't work, I did all the steps you gave me and I got no result. Have another alternative?

[2022-05-19 20:15] dhirajv07 opened #4825 "@azure/msal-browser and @azure/msal-angular failing on latest package version"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Description

msal-angular 2.2.0 is restoring in UAt and working fine,  but msal-angular 2.3.0 is being restored in QA and breaking

### Error Message

Generating browser application bundles (phase: setup)...An unhandl

[2022-05-20 03:08] super-chen opened #4826 "If the browser has logged in to two Azure accounts, the logout popup does not close automatically when user select one to logout."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

**Precondition**
Log in with an Azure account, and it exists two Azure accounts on the browser

**Steps**
1. Login with one of the Azure account
2. Show logout popup when I call instance.logoutPopup()
3. Sele

[2022-05-20 06:02] WellyHong commented on #4796
@tnorling
sorry for the late reply, like you said, removing the hash is expected behavior.
I found the issue was caused by `contentWindow.location.hash = Constants.EMPTY_STRING;`;
It will cause browser reload, so we see a blink (default page, e.g. https://mywebsite.com/#/) after login.
Can you give me any suggestion on this matter.

[2022-05-20 09:31] josefhardelin opened #4827 "@azure/msal-browser and @azure/msal-react fails on latest version"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

I get the following error. Works on previous version

### Error Message

react.development.js:2467

       Uncaught TypeError: instance.initialize is not a function
    at eval (msal-react.esm.js:268:14)

[2022-05-20 14:31] mhmoritz opened #4828 "CacheManager.isAuthorityMetadata blocks main thread"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Description

We observe isolated but regular performance bottlenecks for about 2-3 weeks now, caused by a blocked main thread in a node.js application. According to the CPU profile recorded during the outages, node gets stuck on validating `Cache

[2022-05-21 14:11] mirkode opened #4830 "React 18 sample fails with `interaction_in_progress: Interaction is currently in progress` error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-18-sample

### Description

Hey folks,

tried all kind of possible configurations (including completely checking the whole codebase out again).
Tried with no

[2022-05-21 21:22] derisen commented on #4808
@tnorling I can reproduce this with our electron samples (@mustafaAly I assume your app is based on [this sample](https://github.com/Azure-Samples/ms-identity-javascript-nodejs-desktop) -in that case the sample is outdated and there is currently a [PR](https://github.com/Azure-Samples/ms-identity-javascript-nodejs-desktop/pull/8) underway to fix that). It looks like the app hangs inside the protoc

[2022-05-22 01:00] ghost commented on #4812
@Mohdaqib1 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-22 14:17] taylorhutchison commented on #4825
Have you tried deleting node_modules folder, npm installing again, and checking in your package-lock.json file?

[2022-05-22 21:41] kjkent commented on #4813
Apologies for the slow response; I just looked through the PR and I definitely agree with the changes. Thanks for being so open to feedback about this :).

[2022-05-23 01:00] ghost commented on #4816
@harishnarain This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-23 09:16] finbarw commented on #4733
I'm still looking into this, apologies for the delay. It only appears on our production environment and only every now and again so it's tricky to pin down. I will update asap.

[2022-05-23 13:00] #4787 closed, assigned to tnorling

[2022-05-23 15:35] finbarw commented on #4733
To elaborate what I mean by 'error state':
During initialisation our application fetches job data from our api. This outgoing request requires an access token. The MSAL interceptor handles token acquisition for us. When reaching this error state, we see the invalid_grant error in the console and network trace, however **we never see the actual outgoing /jobs request (which triggers the token call)

[2022-05-23 16:00] tnorling commented on #4817
@siddarthapal I would prefer not to download files in order to answer questions. Please copy over the relevant details into the issue body above and I would be happy to help resolve whatever issues you are having. Thanks!

[2022-05-23 16:16] tnorling commented on #4830
@mirkode Can you please describe what steps you are taking that result in this error being thrown? I was just able to run this sample and did not get this error.

[2022-05-23 16:18] tnorling commented on #4827
@josefkvist Please try deleting your node_modules/package-lock and reinstalling.

[2022-05-23 16:26] tnorling commented on #4733
@chuckyOHare Could you please configure MSAL to output verbose level logs and share the logs here? That should give us a better clue as to what's happening.

[2022-05-23 16:29] tnorling commented on #4812
@Mohdaqib1 I'm sorry but I still don't understand. Can you please provide the following:

1. Code snippets showing how you are using the library
2. Steps to reproduce the issue and/or a short video showing the behavior

[2022-05-23 16:30] tnorling commented on #4799
@MateusDev98 Please email me a new network trace showing the behavior after making these changes. Thanks.

[2022-05-23 16:40] tnorling commented on #4796
@WellyHong I see now. You want to go directly to your intended hash without the intermediate stage of clearing the hash, is that right? I don't have a solution for you right now but I'll add an item to our backlog to investigate.

[2022-05-23 16:57] tnorling commented on #4824
@RaulBurian You should not need to invoke more than one interaction. What I mean by that is that, when interaction is required by one or more invocations of `acquireTokenSilent` you will only need to invoke interaction on one of them and then retry the silent call for the others when the interaction is complete. You should not need to serialize interactive calls.

The implementation would be diffe

[2022-05-23 17:01] tnorling commented on #4818
@alakdam07 Can you show the code snippets of where you put this? It needs to be somewhere underneath the `MsalProvider` (default value for accounts is [] and inProgress is "none" if you try to access from outside context)

[2022-05-23 17:11] tnorling commented on #4826
@super-chen I was not able to reproduce this. Does this also reproduce with only a single account signed in? Does it matter if you are signing out of an AAD account or MSA account or does this reproduce with both? Have you followed the `postLogoutRedirectUri` instructions in [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md)?

[2022-05-24 05:52] alakdam07 commented on #4818
<img width="643" alt="Screenshot 2022-05-24 at 8 51 41" src="https://user-images.githubusercontent.com/47625626/169958518-c7e0e7df-de67-4b11-8eeb-f9ef90713416.png">

[2022-05-24 05:53] alakdam07 commented on #4818
Also I am getting CORS error:`'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.`

[2022-05-24 10:31] finbarw commented on #4733
![image](https://user-images.githubusercontent.com/29379528/170011245-6dad3dc5-31cb-483c-8723-e3006084e26f.png)

.log file:
[logfile.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/8761847/logfile.log)

[2022-05-24 16:37] MateusDev98 commented on #4799
@tnorling I sent it to your email!

[2022-05-24 17:43] e110c0 opened #4833 "How to front-channel logout via b2c with angular hash routing"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Description

I'm trying to set up an angular app with single sign-out and hash routing.
Building and running the `angular11-sample-app` (only change: clientId and authority to own b2c tenant)

While the app itself is

[2022-05-24 18:07] tnorling commented on #4818
@alakdam07 This logic needs to be somewhere **underneath** the `MsalProvider` component. Right now your console.log statement lives above it.

Regarding the CORS error please see [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md#access-to-fetch-at-url-has-been-blocked-by-cors-policy)

[2022-05-24 18:19] #4813 closed, assigned to tnorling

[2022-05-25 08:46] dboschm opened #4835 "Msal Angular Interceptor is not working properly in Anuglar Universal SSR"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Description

MSAL Angular Interceptor is using window APIs and is therefore not applicable in Angular Universal / SSR Projects.

From what I see in the error message and in the code this probably comes from this line.

[2022-05-25 09:46] dboschm commented on #4835
To be more precise. I don't expect the msal interceptor make any backendrequests that it knows are protected (are in the protected sourcemap) in the case of SSR.

[2022-05-25 09:58] mirkode commented on #4830
Hi @tnorling,
sorry for my late reply and my apologies. I don't know what happened but in order to gather the reproduction steps I completely cloned the project again and after setting it up and installing everything it worked out of the box.

Now I am not sure what caused it. Could it maybe be a node/npm configuration?

In any case I will observe closely and as soon as I can reproduce reopen.

So

[2022-05-25 09:58] #4830 closed, assigned to tnorling

[2022-05-25 12:09] mebsn commented on #4573
does any1 knows solution that helps with the same problem but for vue2 project?

i need a little better explanation of that blank.html solution

[2022-05-25 15:58] tnorling commented on #4573
Please see the explanation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a94db43e8b50fd831b82bb4c5a27422c07a63b12/lib/msal-browser/docs/errors.md#hash_empty_error) which will be added to our docs as a part of the linked PR

[2022-05-25 17:19] #4573 closed, assigned to tnorling

[2022-05-26 12:51] sT0pe opened #4836 "Select another account is not working after browser back button was clicked"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Description

Select another account is not working after browser back button was clicked

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

[2022-05-26 18:54] tnorling commented on #4836
@sT0pe Going back into the middle of an already completed sign-in like this is not supported. If you want to switch users you need to call one of the sign in APIs and start the flow from the beginning.

[2022-05-26 21:19] davecarlile commented on #4458
I solved this by adding a trailing slash to redirectUri. It turns out Safari was stripping the hash because it was not preceeded by a slash.

This works everywhere but safari and for certain users IOS Chrome: https://app.foo.com/auth/return#code=0.AVcAeMaRO0JAkE...
This works everywhere I have tested: https://app.foo.com/auth/return/#code=0.AVcAeMaRO0JAkE...

[2022-05-26 21:39] jasonnutter commented on #4458
@davecarlile Interesting, thanks for the information.

[2022-05-27 01:00] ghost commented on #4808
@mustafaAly This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-27 07:11] sT0pe commented on #4836
@tnorling understood, thank you

[2022-05-27 07:11] #4836 closed, assigned to sameerag

[2022-05-27 08:08] gitmurali opened #4838 "InteractionRequiredAuthError: interaction_required: AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I'm trying to make single sign on work between two apps which has two different client id's but it throws the following error.
I have seen there's another similar issue raised here https://github.com/AzureAD/

[2022-05-27 16:32] StephenTHendrix opened #4839 ".loginPopup fails in full-screen browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1.4.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

2.24.0

### Description

When logging in from a full-screen browser, a new tab is opened allowing me to sign in, but I get redirected back to the login page. From here if I click the login button again, I see the route change to the

[2022-05-27 19:54] sameerag commented on #4839
@StephenTHendrix There is new guidance published on the `redirects` with #4793, can you please check that and let us know if there is any pattern that you can change in your application which can help here?

[2022-05-27 20:15] sameerag commented on #4835
@dboschm Thanks for raising this. Unfortunately we do not support server side token fetch for MSAL JS, the library is always meant to work only on client side. If you need better error handling, we can provide the support by adding a more meaningful error message.

We recommend `msal-node` for any server side use cases.

[2022-05-28 10:35] dboschm commented on #4835
Thanks a lot for the response. At least I found this msal docs file, which states that msal-angular has minimal ssr capabilities: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/angular-universal.md
And indeed e.g. guards are working fine. I have a partially public and partially protected api, and I configured the msal interceptor with the

[2022-05-28 10:35] dboschm commented on #4835
Thanks a lot for the response. At least I found this msal docs file, which states that msal-angular has minimal ssr capabilities: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/angular-universal.md
And indeed e.g. guards are working fine. I have a partially public and partially protected api, and I configured the msal interceptor with the

[2022-05-28 23:03] sameerag commented on #4833
@e110c0 Can you please use a route that does not have a fragment but instead a query param for front channel logout? This would also need some more code on your end to redirect to the specific route you want after logout as mentioned below:
[code]

[2022-05-28 23:06] sameerag commented on #4838
The IDP used for both the applications should match for an `ssoSilent` call to match the session. If the IDPs are different (which each profile in B2C is considered as one), it is possible that the cookies are not picked up.

Can you please raise an issue with the B2C service team to check if they have any workarounds as indicated [here](https://github.com/AzureAD/microsoft-authentication-library-

[2022-05-29 01:00] ghost commented on #4827
@josefkvist This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-29 01:00] ghost commented on #4824
@RaulBurian This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-29 18:13] RaulBurian commented on #4824
Thank you for the help!

[2022-05-30 01:00] ghost commented on #4826
@super-chen This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:00] ghost commented on #4825
@dhirajv07 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:00] ghost commented on #4822
@HLNishida This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:00] ghost commented on #4818
@alakdam07 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:00] ghost commented on #4817
@siddarthapal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:00] ghost commented on #4812
@Mohdaqib1 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-05-30 01:01] #4816 closed, assigned to tnorling

[2022-05-30 01:01] ghost commented on #4828
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-05-30 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-05-30 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-05-30 07:52] e110c0 commented on #4833
@sameerag query parameters as well are not allowed in a b2c front channel logout url.

The only options we have found so far are:
1. don't use hash routing (which our environment doesn't allow)
2. create a second SPA for the sole purpose of handling the logout.

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#front-channel-logout points t

[2022-05-30 08:01] PriyankaDatDure opened #4842 "Azure login in ionic cordova mobile app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

I am using @azure/msal-angular plugin to login with azure in ionic mobile app. I'am able to login but theres some issue with the redirect url. I get Application error net::ERR_CONNECTION_REFUSED (http://l

[2022-05-30 12:15] mustafaAly commented on #4808
Hi @derisen thank you for replying and your interest, I will check that and test it again I will make my feedback thank you

[2022-05-31 00:18] StephenTHendrix commented on #4839
@sameerag thanks for the quick response! I'm not sure where I should be looking - do you mean this? https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in?tabs=javascript2

Either way I don't yet see much I can do on my end, but that PR looks like it addresses my issue about perfectly! Any idea when it might get released? Thanks again!

[2022-05-31 03:41] sameerag commented on #4839
@StephenTHendrix Should be a part of June's `msal-browser` release.

[2022-05-31 03:47] sameerag commented on #4835
@dboschm Thanks for the details. I am tagging this as an enhancement and we will try to improve this experience. However please note that the prioritization may be low, since we are currently heads down delivering committed features. cc @EmLauber

[2022-05-31 03:50] sameerag commented on #4833
@e110c0 Feedback noted. The guidance above is for AAD apps, however B2C has specific implementation that could be hindering this. Can you please raise this issue in the B2C forums and check if they have any workarounds other than what you mentioned above? You can raise an issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#what-should-i-

[2022-05-31 10:17] OfirSam opened #4843 "Requesting authorization CODE only to pass for backend to redeem for longer tokens lifetime"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1

### Description

Hi everyone,
Currently i use a [Code grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) to get a code & then i pass it to the backend to redeem and extend the tokens

[2022-05-31 10:17] gitmurali commented on #4838
@sameerag we are using the same IDP's and it did work for us in the past but I can see errors now. Is it possible that someone from B2C disabled the SSO ?

[2022-05-31 10:25] gitmurali commented on #4838
in terms of work around I have used `acquireTokenRedirect` which worked for me but I want to implement it using `ssoSilent`

[2022-05-31 16:51] ellymakuba commented on #4842
@PriyankaDatDure please provide the fiddler trace, MSAL configuration and relevant code snippet.

[2022-05-31 17:01] ellymakuba commented on #4843
@OfirSam please provide more context on the use case - MSAL configuration, relevant code snippet and fiddler traces. For SPA applications we don't provide long-lived refresh tokens beyond 24 hours. For more information on token lifetimes see this link https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md.

[2022-05-31 17:22] #4808 closed, assigned to derisen

[2022-05-31 17:55] ellymakuba commented on #4842
@PriyankaDatDure see the link shared on how to resolve the error of localhost not being accessible from a mobile device while using ionic [Redirect URI for Angular/Ionic App on Device · Issue #2723 · AzureAD/microsoft-authentication-library-for-js (github.com)](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2723#issuecomment-742766291)

[2022-05-31 19:13] eirikb commented on #4733
We're seeing the same error message when doing
[code]
The call works fine, and we get a token, but the error will be printed to console.
Not a big deal by itself, but we have global error handlers that pick it up and log + show error to user. Perhaps not the best pattern, but this is how it has been for a long time.

I'm struggling to reproduce the behavior, waiting (at least an hour) does not alw

[2022-05-31 19:31] tnorling commented on #4733
You're going to have to work around this. As explained above, the error printing to the console is expected, and not something we can suppress. As long as you are successfully getting a token or a more descriptive error returned from the API itself everything is working as expected.

[2022-05-31 19:33] eirikb commented on #4733
Got it. Thanks for the quick response. Our pattern is a bad one to begin with, just wasn't sure this was really expected. Now I know, and I will find a way to deal with it :slightly_smiling_face:

[2022-06-01 05:49] himadrinath commented on #4753
same problem seeing in firefox and safari

[2022-06-01 09:38] PriyankaDatDure commented on #4842
this the config:

MsalModule.forRoot( new PublicClientApplication({
      auth: {
        clientId: 'CLIENTID',
        authority: 'https://login.microsoftonline.com/tenantId',
      },
      cache: {
        cacheLocation: 'localStorage',
        storeAuthStateInCookie: isIE,
      }
    }), null, null)

and i use     this.authService.loginRedirect() method to login

[2022-06-01 11:18] mustafaAly commented on #4808
Hi @derisen I tried this solution and it didn't resolve the issue
I found that when I make this scenario again and run this function
------------------------
	async getTokenInteractive(tokenRequest) {
		// Generate PKCE Challenge and Verifier before request
		const cryptoProvider = new CryptoProvider();
		const { challenge, verifier } = await cryptoProvider.generatePkceCodes();
		const authWindow

[2022-06-01 11:56] MarekBodingerBA opened #4847 "React sample fails for users registered with phone number"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

not applicable

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

not applicable

### Description

If user registers just with phone number in React example the WelcomeName component fails because the name is not provided.

### Error Message

`samples/msal-react-samples/react-18-sample/src

[2022-06-01 12:03] MateusDev98 commented on #4799
Hi guys, any news? @tnorling @sameerag

[2022-06-01 12:17] h4n0sh1 opened #4848 "Chrome-extension : Pop up window does not close after redirect"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

v2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,

Problem : **In some cases**, the pop up window does not close after sucessfull authentication and redirection, thus not returning the promise.

I am leveraging MSAL js 2.24 as is (no wrapper) for my chrome-extension

[2022-06-01 12:42] shahnisargweb opened #4856 "need some documentation how to use and what are fuctions why its maded like services ,guards and many more"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

need some improvement

### Description

i have little bit confusing i want to migrate Microsoft authentication in our existing Angular  project (version 13 with rxjs 7) then i need some kind of code guidance what is purpose of  functions and how i configure it in

[2022-06-01 15:56] ellymakuba commented on #4856
@shahnisargweb please start with this link https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#readme. Let us know if you have further questions.

[2022-06-01 16:04] ellymakuba commented on #4848
@h4n0sh1 for chrome extensions the redirect uri must be a chromiumapp.org uri as shown in this sample as shown in this link https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/ChromiumExtensionSample. Please note that unfortunately msal-browser does not support manifest v3 for chromium extensions. Please see issue #3923 for more details.

[2022-06-01 16:09] derisen commented on #4808
@mustafaAly this is a separate issue, but I'm not able to reproduce it with our electron sample -can you please try reproducing this with the [ElectronTestApp](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ElectronTestApp) sample and start another issue thread if you can?

[2022-06-01 16:25] mustafaAly commented on #4808
yeah sure let me check

[2022-06-01 17:16] h4n0sh1 commented on #4848
Hi thanks for the update, but this does not seem to work in manifest v3 i've replaced my current extension with the code in that sample but then i get an : "Uncaught (in promise) Type Error: Cannot read properties of undefined (reading 'launchWebAuthFlow') " suggesting that it can not resolve the chrome.identity object.

I tried placing the code at several places such as in background or directly

[2022-06-01 17:22] jasonnutter commented on #4848
You must enable the `chrome.identity` APIs in your manifest: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/ChromiumExtensionSample/manifest.json#L11

I think that by solving this issue, i will also solve my plugin problem, the behaviour is very similar.

Your redirect URI must be the on the same domain as your application, so using `google

[2022-06-01 17:39] Jhoni-Silva commented on #4799
Hey guys, i'm Jhoni and i'm the software enginnering specialist of the product where Mateus is working now.

We don't have any kind of software on our machines to keep it logged in, and we have tested on our own personal smartphones with the same problem.

The thing is:
1 - The user log in with "keep connected" option on.
2 - After closing the browser and reopen the site, MSAL keep us connected, a

[2022-06-01 17:50] h4n0sh1 commented on #4848
Hello, yes i already have identity declared in my manifest.

As for the redirect URI i have also added the chromiumapp.org corresponding to my extension ID following the format https://epfnbngoodhmbeepjlcohfacgnbhbhah.chromiumapp.org/ but now what happens is that instead of getting a popup stuck in "google.com" i get a popup stuck at "this site can't be reached" error page (DNS_PROBE_FINISHED_NXDO

[2022-06-02 00:01] h4n0sh1 commented on #4848
Hello again,

Just a little update on the meaningful things i've tried so far, getting closer, but still always hitting a roadblock in each way, sadly.

1/ Tried downgrading to manifest v2 with the code provided in [https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/ChromiumExtensionSample](https://github.com/AzureAD/microsoft-authentication-li

[2022-06-02 06:33] ravinleague opened #4857 "ServerRequestParameters.ts setting of scopes throws undefined error"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.16

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are trying to implement ADAL to MSAL migration in our SharePoint Online environment for our SPFx Apps.
To start with, we have updated one of our SPFx web parts to use MSAL and it worked without any issues after moving to M

[2022-06-02 16:55] ellymakuba commented on #4857
@ravinleague please provide verbose logs from msal.

[2022-06-02 17:29] #4685 closed, assigned to ellymakuba

[2022-06-02 18:27] sameerag commented on #4828
I am unable to reproduce it on my end. Is this still persistent @mhmoritz?

[2022-06-02 18:42] sameerag commented on #4839
Closing. Please raise a new issue if the issue still persists post june release.

[2022-06-02 18:42] #4839 closed, assigned to sameerag

[2022-06-02 20:34] #4847 closed, assigned to ellymakuba

[2022-06-02 21:49] philip-young opened #4860 "Refresh Token from different B2C Policy being used when logged into another Policy"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

This might end up being a B2C question but I thought I would start here as this library is using the refresh token provided from it. Or maybe it is a bug, or a setting I need to set on the MSAL side.

I have

[2022-06-02 22:24] ravinleague commented on #4857
![image](https://user-images.githubusercontent.com/18733308/171748276-a7c7cfba-2fb3-407f-9925-d9cdc5d30701.png)

[2022-06-03 01:24] hiroki-nishida-avanade commented on #4822
I successfully fixed the problem with the comment.
Thanks!

[2022-06-03 01:24] #4822 closed, assigned to sameerag

[2022-06-03 04:30] scottdurow opened #4861 "More information on serviceName and accountName on mac/Linux"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.0.0-alpha.17

### Description

The `persistenceConfiguration` accepts serviceName and accountName:

[code]

The docs simply say 'This specifies the service/account name to be used on Mac and/or Linux'.

Could this b

[2022-06-03 16:15] ellymakuba commented on #4860
@philip-young are you able to reproduce this issue with the latest version of MSAL (2.24.0)?

[2022-06-03 18:59] nickeeromo opened #4862 "MSAL Interceptor seems to violate the library's own rule, producing a console error (but not affecting functionality)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

When accessing my application for the first time in a while, there is one MSAL error log and one regular console error log. But the application continues to flow as if nothing had happened.

### Error Mes

[2022-06-04 01:00] ghost commented on #4824
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-06-04 04:48] sameerag commented on #4838
Did you get a chance to follow up in the B2C channel linked above?

[2022-06-05 01:00] #4827 closed, assigned to tnorling

[2022-06-05 13:00] ghost commented on #4833
@e110c0 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-06 01:00] ghost commented on #4843
@OfirSam This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-06 01:00] ghost commented on #4733
@chuckyOHare This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-06 01:00] #4826 closed, assigned to sameerag

[2022-06-06 01:00] #4825 closed, assigned to tnorling

[2022-06-06 01:00] #4818 closed, assigned to tnorling

[2022-06-06 13:00] #4812 closed, assigned to sameerag

[2022-06-06 13:00] ghost commented on #4842
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-06-06 15:52] philip-young commented on #4860
@ellymakuba Sure, I will give that a try. I'll have to let the token expire to get the refresh token to work - will get back to you soon.

[2022-06-06 16:53] #4824 closed, assigned to tnorling

[2022-06-06 18:18] jasonnutter commented on #4862
@nickeeromo It looks like you may have two parallel http requests that are triggering the interceptor, which both fail, and both attempt to do `loginRedirect`, so this behavior makes sense if so. For now, this error can be ignored, assuming the silent requests succeed once you complete the redirect operation.

[2022-06-06 22:29] ghost commented on #4326
:tada:This issue was addressed in #4807, which has now been successfully released as `@azure/msal-common@v6.4.0`.:tada:

We recommend upgrading to the latest version of `@azure/msal-browser` or `@azure/msal-node` to take advantage of this change.

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-common-v6.4.0)
* [Official NPM Relea

[2022-06-06 22:31] ghost commented on #4813
:tada:This issue was addressed in #4820, which has now been successfully released as `@azure/msal-browser@v2.25.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.25.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.25.0)

[2022-06-06 22:31] ghost commented on #4573
:tada:This issue was addressed in #4793, which has now been successfully released as `@azure/msal-browser@v2.25.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.25.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.25.0)

[2022-06-07 01:00] ghost commented on #4856
@shahnisargweb This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-07 01:00] ghost commented on #4848
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-06-07 01:00] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-06-07 02:09] r-delgadillo opened #4871 "Are there any plans to expose the refresh_token for confidential client authorization_code grant flows?"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

We are currently migrating from the AAD V1 endpoint to the Identity V2 endpoint using MSAL Node. We just noticed that the confidential client `acquireTokenByCode` method does not return the refresh_token in the result. This becomes an issue for us since we have multiple instances of our service ru

[2022-06-07 02:55] derisen commented on #4871
@r-delgadillo refresh tokens are not returned in auth code response but you should be able to retrieve them directly from the cache (either in memory or persisted to disk). Is this not the case?

After that, you can make use of the [`acquireTokenByRefreshToken`](https://azuread.github.io/microsoft-authentication-library-for-js/ref/classes/_azure_msal_node.confidentialclientapplication.html#acquire

[2022-06-07 03:38] r-delgadillo commented on #4871
@derisen I'm having trouble finding the refresh token in the cache. Do you happen to have an example of how this is done or which method to use if it's exposed through the cache?

Yes, we currently use Redis as our distributed cache in other flows. We'll take a look at adding it to this as well, thank you.

[2022-06-07 03:40] r-delgadillo commented on #4871
Accidentally closed issue

[2022-06-07 04:58] adrianzielonka commented on #4598
Seems like this issue should now be resolved with the release of version 4.3.3
@erik-neumann

[2022-06-07 07:12] Depechie opened #4873 "Combine repositories or provide similar examples"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.1.2

### Description

I submitted an issue on : [https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/issues/180](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/issues/180)

It's

[2022-06-07 09:24] Leaking opened #4874 "How can I get a access_token for activesync protocol。"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.0.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.0.0

### Description

According to [Authenticate an IMAP, POP or SMTP connection using OAuth](https://docs.microsoft.com/en-us/exchange/client-developer/legacy-protocols/how-to-authenticate-an-imap-pop-smtp-applicat

[2022-06-07 13:43] 72gm commented on #4799
just in case it helps anyone.... I spent ages trying to work out why my logout component wouldn't log out the user properly - after the initial login (and after logging out) it would just let the user login without having to enter their credentials even though the cache/session had been cleared in the browser...

My code was exactly the same as a working PoC I'd done previously but I'd copied a li

[2022-06-07 14:59] jasonnutter commented on #4598
Correct, 4.3.3 was released yesterday without `request`.

[2022-06-07 14:59] #4598 closed, assigned to hectormmg

[2022-06-07 15:41] philip-young commented on #4860
hi @ellymakuba I am still getting the error after testing. I updated to the latest: msal-react 1.4.0 and msal-browser 2.24.0.

[2022-06-07 16:07] finbarw commented on #4733
Hi, our question has still not been answered. We're getting some push from the client to resolve the issue, I appreciate this may turn out to be an issue with our code, but we'd really appreciate your continued assistance!

[2022-06-07 16:16] ellymakuba commented on #4842
@PriyankaDatDure did you try the above, if yes what was the outcome?

[2022-06-07 16:29] derisen commented on #4871
So if you are using a [cache plugin](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/cachePlugin.js) to persist the cache, you could access the refresh token entry there. The cache template looks like [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/cache.json). But if you were to read it from in-

[2022-06-07 16:45] jasonnutter commented on #4874
@Leaking I'm not finding any information about this, unfortunately. Have you considered using the Microsoft Graph API to send email: https://docs.microsoft.com/en-us/graph/api/user-sendmail?view=graph-rest-1.0&tabs=http

[2022-06-07 16:51] jasonnutter commented on #4873
@Depechie Thanks for the feedback. We'll make sure your question is answered. cc @derisen

We maintain samples both [inside of this repository](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples) and in the Azure Samples organization, such as the one you are using. While I don't think we will combine those samples into this repository, we'll

[2022-06-07 16:58] derisen commented on #4873
@Depechie apologies, we had it in the backlog but didn't get a chance so far. We'll double down on updating them.

[2022-06-07 21:24] gaweCodes opened #4876 "Angular v14"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.3.0

### Description

Are there any plans for Angular v14? It the package already ready for Angular v14?

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

### Identity Provider

Azure AD / MS

[2022-06-07 22:05] jasonnutter commented on #4861
@scottdurow Something that uniquely identifies your app should be fine. This is what the MSAL.NET Extensions library uses as an example: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/blob/master/sample/ManualTestApp/Config.cs#L27-L28

Apologies for the confusion, we'll update our examples to make this more clear.

[2022-06-07 22:06] jasonnutter commented on #4876
@gaweCodes Yes, Angular 14 is supported and there are multiple samples available: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples

[2022-06-08 01:00] ghost commented on #4828
@mhmoritz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-08 04:17] scottdurow commented on #4861
Hi @jasonnutter - many thanks for the info. I had suspected that it's purely for the path in the keychain/libsecret - thank you for confirming that there is no special implications.

Presumably when using the persistence across multiple node applications, by providing the same values, the authentication cache store can be shared?

[2022-06-08 05:56] gaweCodes commented on #4876
Thanks a lot. Issue can be closed

[2022-06-08 05:56] #4876 closed, assigned to jasonnutter

[2022-06-08 08:02] ozkoidi commented on #4862
I see the same exceptions on Application Insights. In my case is not 2 but 5 calls that are done within the same second.
I think there is something wrong that should be fixed even if the end user doesn't notice this issue.

![image](https://user-images.githubusercontent.com/42638799/172562284-a5cfafa5-9056-452b-946c-3d6b9839a5c5.png)

[2022-06-08 12:42] UMANGAWASTHY opened #4877 "After authentication while redirecting back to application return error 404 not found."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

Hello Team
I am using azure/msal in angular 12.2.0 application. It’s working fine on http://localhost:4200/. I had deploy my application apache server, its’ redirecting on Microsoft authentication site and

[2022-06-08 14:16] bgavrilMS opened #4878 "AAD errors are masked by misleading "network_error" from MSAL node"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

Version 1.9.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

This issue is related to MSAL node and can be reproduced with **any** MSAL node sample. I have not tried other MSAL js flavours.

Use for example the Username-Password node sample.
Configure everything but set **a bad pass

[2022-06-08 16:38] jasonnutter commented on #4878
@bgavrilMS Thanks Bogdan, we'll get this in our backlog to address. cc @EmLauber

[2022-06-08 16:41] jasonnutter commented on #4877
@UMANGAWASTHY It looks like your server is not configured correctly to route `/login` to your Angular application when a user visits the page directly (it works initially likely because you are using client-side routing in Angular). Please verify your server configuration to ensure any pages on your application are routed to your application when visited directly.

Closing, as this is outside of t

[2022-06-08 16:41] #4877 closed, assigned to jasonnutter

[2022-06-08 16:42] jasonnutter commented on #4861
Yes, that should work.

[2022-06-08 16:44] scottdurow commented on #4861
Perfect - thank you.

[2022-06-08 16:44] #4861 closed, assigned to jasonnutter

[2022-06-08 16:44] jasonnutter commented on #4860
@tnorling Do you have any insight here, would this be expected?

[2022-06-08 16:46] jasonnutter commented on #4857
@ravinleague Can you please also provide logs from MSAL.js? Are you able to reproduce this with one of our samples?

Futhermore, SPFX Webparts should use the token APIs provided by SPFX, instead of using MSAL.js directly. You can find more information here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/connect-to-api-secured-with-aad#use-the-aadtokenprovider-to-retrieve-a

[2022-06-08 16:51] jasonnutter commented on #4848
Why do you want to do this? You should not need to know what is happening in the login UX.

I don't know why this would be happening, do you have an ad blocker running bychance?

We would not recommend doing this, and instead relying on the popups created by the browser.

[2022-06-08 16:57] jasonnutter commented on #4799
@Jhoni-Silva As noted earlier, the browser or operating system may automatically sign a user in. Does this happen with an incognito/private browser?

And calling the MSAL logout API and redirecting to AAD should result in relevant cookies being cleared, you don't need to add any special parameters.

[2022-06-08 17:29] tnorling commented on #4860
@philip-young Each B2C policy you use will be tied to a separate `account` object and the tokens will be looked up in the cache based on the `account` you pass into the request. Make sure when you call `acquireTokenXXX` you are passing the `account` associated with the policy you intend to use. To check which policy the account belongs to you can check the `acr` or `tfp` claims in `idTokenClaims`

[2022-06-09 01:05] scottdurow commented on #3332
Hi @jasonnutter - I have a package that is run using npx/npm exec - so I don't think pkg is an option here?

Are there any options to distribute the binaries so a package command can be run using npx without the need for the compilation step?

I really want to use the node-extensions since they are perfect for authentication across node npx commands - but not if you have to have all the compilatio

[2022-06-09 13:00] ghost commented on #4838
@gitmurali This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-09 13:28] awanlin opened #4879 "Getting ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints with @azure/msal-node 1.9.1"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Since upgrading from 1.9.0 to 1.9.1 we are running into the error listed in this issue below. We have a node application that runs on an interval to update profile pictures in [Backstage a Developer Portal](https://backstage.io/)

[2022-06-09 13:30] awanlin commented on #4879
@Robbie-Microsoft I noticed you worked on #4744, do you have any idea why I would be running into this error?

[2022-06-09 15:47] UMANGAWASTHY commented on #4877
Hey @jasonnutter, it seems my hosting server in fully SSL configured.
My question is azure ad authentication will work here.

![image](https://user-images.githubusercontent.com/29591202/172889691-0abaed78-4516-4fe0-93b9-af91abe17786.png)

[2022-06-10 12:58] Jhoni-Silva commented on #4799
@jasonnutter Hi. Thanks for reply.

_"As noted earlier, the browser or operating system may automatically sign a user in. Does this happen with an incognito/private browser?"_
**No, on privete browser the login is required.**

_"And calling the MSAL logout API and redirecting to AAD should result in relevant cookies being cleared, you don't need to add any special parameters."_
**Understood, so i

[2022-06-10 16:22] jasonnutter commented on #4879
@awanlin Thanks for the information. Are you using a network proxy?

[2022-06-10 16:25] jasonnutter commented on #4877
@UMANGAWASTHY Again, the issue if your web server not routing `/login` to your app correctly, not anything to do with MSAL.js.

[2022-06-10 20:57] nickeeromo commented on #4862
@jasonnutter very close! Using info gleaned from your comment I did some digging into separate areas - it was on us.

We have a landing page that is protected with an MsalGuard - we also had one request in the ngOnInit portion of our AppComponent.ts file, that also happened to use an MsalInterceptor on the way out.

So the MsalInterceptor was requesting a token, but since our AppComponent's templa

[2022-06-10 21:15] nickeeromo commented on #4862
Small disclaimer here that IF that actually wasn't the original case, other refactoring removed all http request attempts until after someone has signed in via the Guard anyway, just in case it could also have been at the time two http requests going out at or around the same time.

[2022-06-12 05:01] gitmurali commented on #4838
looks like our internal Azure B2C guys have disabled `ssoSilent` for security reasons. I'm going with `acquireTokenRedirect`.  Closing this issue as Its no longer a problem for us.

[2022-06-12 13:01] #4833 closed, assigned to sameerag

[2022-06-12 20:58] cmgchess opened #4887 "ADAL.js - what should be the IFrame target origin for embedding PowerBI dashboard"
### Core Library

ADAL.js (adal.js)

### Core Library Version

1.0.17

### Wrapper Library

ADAL Angular (adal-angular)

### Wrapper Library Version

1.0.17

### Description

I'm using the [PowerBI REST API](https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/get-dashboards-in-group) along with [ADAL.js](https://github.com/AzureAD/azure-activedirectory-library-for-js) and getting Dashboa

[2022-06-13 00:02] akarray opened #4890 "Magic link documentation is missing (connection for id_token or access_token)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md

### Description

Hi,

I don't find any documentation about using magic link scenario.
The goal is to login with a link like this exemple : https://g

[2022-06-13 01:01] ghost commented on #4874
@Leaking This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-13 01:01] ghost commented on #4873
@Depechie This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-13 01:01] ghost commented on #4871
@r-delgadillo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-13 01:01] ghost commented on #4842
@PriyankaDatDure This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-13 01:01] #4843 closed, assigned to ellymakuba

[2022-06-13 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-06-13 05:09] #4873 closed, assigned to jasonnutter

[2022-06-13 06:12] Alekhyasingi commented on #4879
@jasonnutter I saw an ongoing issue which states the setup isn't working on network proxy but I am not using any proxies right now and it stopped working on my servers recently with the same error as mentioned above. My implementation is almost similar to what it is stated here. But version is 1.8.0 which I had to re install for some other reasons.

[2022-06-13 12:11] awanlin commented on #4879
@jasonnutter no, I'm not using a network proxy, our setup is very simple

[2022-06-13 14:26] MateusDev98 commented on #4799
@jasonnutter

[2022-06-13 15:21] philip-young commented on #4860
Hi @tnorling , thanks for the response. That sounds like exactly what I need to do! It took me a bit to get the tfp claim set up in my B2C Tenant (originally I was wondering why it was missing in the ```idTokenClaims``` until I looked into it). Do you guys mind leaving this open while I try this out?

[2022-06-13 19:44] jasonnutter commented on #4879
cc @EmLauber

[2022-06-13 19:57] derisen commented on #4890
@akarray Our documentation aims to cover general usage, but it might not be able to discuss every use case. It's best if you could raise an issue with the [azure-ad-b2c/samples](https://github.com/azure-ad-b2c/samples) repo and ask for a JavaScript example. Regardless, it seems the scenario requires your client app to grab the signed JWT which contains the `id_token_hint` claim from the query para

[2022-06-13 20:01] #4486 closed, assigned to sameerag

[2022-06-13 22:52] sharmmoh1983 opened #4904 "No Access token Issue while running Express Server"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.1

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

NA

### Description

I am running Test Express Server with Redis but getting issue while accessing the graph api
/profile endpoint is nit working but sign up is successful

Please let me know if I can use this app as

[2022-06-14 01:01] ghost commented on #4857
@ravinleague This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-14 01:01] ghost commented on #4848
@h4n0sh1 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-14 01:01] #4856 closed, assigned to ellymakuba

[2022-06-14 15:04] chandveri opened #4908 "Redirect url with state parameter"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.3.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.1

### Description

Hello,

We have created a new  app in azure app registration to integrate microsoft teams with our application. Currently we are  stuck on below two points. Any help will be highly appreciated.

1- Redirec

[2022-06-14 15:37] jasonnutter commented on #4862
@nickeeromo Requesting multiple tokens at the same time is fine. This error is thrown because a second redirect is being attempted while the first one is in progress (and there can only be one redirect happening at a time). And if your scenario, that's fine.

[2022-06-14 15:39] jasonnutter commented on #4862
I think there is something wrong that should be fixed even if the end user doesn't notice this issue.

@ozkoidi Out of curiosity, what behavior would be desired from the interceptor in this scenario? Fail silently?

[2022-06-14 16:51] sameerag commented on #4486
@dillonbailey @andrew-hwahin We have released a new `msal-node` version that should fix this. Can you please try and let us know if it solves your issue?

🎉@azure/msal-node@v1.10.0 has been released which incorporates this pull request.🎉

Handy links:

[Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.10.0)
[Official NPM Release](https://w

[2022-06-14 16:53] sameerag commented on #4838
Closing the issue as per the customer comments.

[2022-06-14 16:53] #4838 closed, assigned to sameerag

[2022-06-14 16:54] sameerag commented on #4481
A new `msal-node` release now has this functionality.

🎉@azure/msal-node@v1.10.0 has been released which incorporates this pull request.🎉

Handy links:

[Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.10.0)
[Official NPM Release](https://www.npmjs.com/package/@azure/msal-node/v/1.10.0)

[2022-06-14 16:54] #4481 closed, assigned to hectormmg, sameerag

[2022-06-14 17:09] hectormmg commented on #4904
Hi @sharmmoh1983 , could you please share a code snippet of how you're using MSAL APIs to acquire tokens? Thanks!

[2022-06-14 19:31] akarray commented on #4890
@derisen Thank you for explanation. I understand better now.
It still not working for us this flow. Authority link look mysterious for us.

We tested format of your example : https://xxxx.b2clogin.com/mytenant.onmicrosoft.com/b2c_1a_signin_with_magic_links
_We get this error: ServerError: invalid_request: AADB2C90233: The provided id_token_hint parameter failed signature validation._
We are sure t

[2022-06-14 20:35] hectormmg commented on #4908
Hi @chandveri .

For the first issue, it is possible that Angular is redirecting the user to the base route because the redirectUri isn't registered as a route in your app's routing module even when the server is redirecting to your redirect URI. Can you confirm if this is the case?

For the dynamic parameters in the URL, we could may need some clarification.

If the user is already in the locatio

[2022-06-14 21:56] sharmam-caremonitor commented on #4904
Hi @hectormmg

I am using the sample provided in the code . Just using local Redis for session store

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ExpressTestApp

[code]

Not getting the reason why error is appearing even though I am just using the existing code

Is it possible for you to run the sample and see if the same error appears.Is i

[2022-06-14 21:57] sharmmoh1983 commented on #4904
Hi @hectormmg

I am using the sample provided in the code . Just using local Redis for session store

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ExpressTestApp

[code]

Not getting the reason why error is appearing even though I am just using the existing code

Is it possible for you to run the sample and see if the same error appears.Is i

[2022-06-15 01:01] #4828 closed, assigned to sameerag

[2022-06-15 01:57] derisen commented on #4890
@akarray it seems your first case actually hit the correct B2C policy (the second case i.e. policy name in query parameters is not supported) -it's just that the service couldn't validate the signature. It's not really possible for us to determine the reason here. If possible, consider [opening a support ticket](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-b

[2022-06-15 02:02] derisen commented on #4904
@sharmmoh1983 just to confirm, are you using the sample with B2C?

Regarding the [RedisTestApp](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/RedisTestApp) -this sample demonstrates a web app with the [distributed token caching pattern](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/caching.md#p

[2022-06-15 02:23] sharmmoh1983 commented on #4904
Yes with default authority

[2022-06-15 02:36] derisen commented on #4904
By default authority I assume you mean a default policy/user-flow (like signup/signin?). It would be great if you could share your appSettings here.

Regardless, with a B2C sign-in, you won't be able to acquire an access token for Graph API (or any Microsoft APIs). Please have a look at the guide: [Working with MSAL.js and Azure AD B2C](https://github.com/AzureAD/microsoft-authentication-library-f

[2022-06-15 02:39] sharmmoh1983 commented on #4904
Yes you are correct .It won’t be possible to share the app settings as it contains secret values.

so how to get the access token silently from cache in case of B2c

[2022-06-15 02:48] sharmmoh1983 commented on #4904
Also AAD Authentication against a B2C Tenant can get you tokens as per the link you shared .as I am not using any custom policy

[2022-06-15 03:16] himadrinath commented on #4753
looks like problem has been fixed in react@latest release

[2022-06-15 09:10] zarko-tg opened #4910 "Unable to login with a Cordova / InAppBrowser redirect on iOS"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We have a Cordova app (using a slightly older but proven Ionic/Angular stack and codebase) and we seem to have succeeded in integrating msal-browser but it's working only on Android and in the desktop browser (development and

[2022-06-15 09:18] zarko-tg commented on #4910
Attaching MSAL log just in case:
[Safari log.txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/8907846/Safari.log.txt)

[2022-06-15 17:33] derisen commented on #4904
@sharmmoh1983 I'm unable to reproduce this with the sample -you'll need to provide your appSettings (excluding client secret of course) and confirm that the account you use to sign-in have admin privileges to be able to provide consent to Graph scopes. There are limitations to calling Graph API for a B2C tenant with delegated permissions. I would also recommend going through [this sample](https://

[2022-06-15 20:22] hectormmg commented on #4910
@zarko-tg thanks for raising the issue. Could you send a network trace from a tool such as Fiddler to the e-mail address listed on my profile? I can see the last log is from the auth code navigation, so it's unclear what request the error message is referring to.

Also, if you could post a snippet of how you're using the MSAL acquieToken APIs, that would be helpful as well.

[2022-06-15 20:32] hectormmg commented on #4879
@awanlin I was able to reproduce the issue. Will start working on debugging and will update this issue when I figure out what's wrong. Thanks!

[2022-06-15 21:15] zarko-tg commented on #4910
Thanks @hectormmg, here is the gist our current implementation / use of msal-browser:

<img width="785" alt="Screenshot 2022-06-15 at 23 02 05" src="https://user-images.githubusercontent.com/6142411/173929417-6b474476-1c26-4f5a-8abf-85f75f35d50e.png">

I'm sending you a Fiddler log in short.

[2022-06-15 22:28] akarray commented on #4890
Thank you.

[2022-06-15 22:28] #4890 closed, assigned to hectormmg

[2022-06-15 23:32] zarko-tg commented on #4910
Here's a demo project demonstrating the problem, see README.md inside:
[msal-gh-4910.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/8914147/msal-gh-4910.zip)

[2022-06-16 05:06] sharmmoh1983 commented on #4904
@derisen

Thanks a lot for your support
Please find the following file
[code]

Also I have admin privileges for the AD account used for sign in and that is why I am able to get the access token while doing sign up.

It is when I am  trying to access protected /profile resource , I am getting the error.

Also you mentioned the sample is working at your end so it seems i can use the B2C tenant with

[2022-06-16 05:21] andrew-hwahin commented on #4486
@sameerag thanks to you and your team for fixing the bug, I will test it out and report back if the issue still persists. 🙏🙇‍♂️

[2022-06-16 07:29] tejaswibm-roposo opened #4913 "redirectUri getting redirected to https on localhost."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

When I look at the network calls on chrome for the interaction, though `redirecUri` is set to `http://localhost:9000/blank.html` , the request is going to `https://localhost:9000/blank.html` and failing to ac

[2022-06-16 07:49] andrew-hwahin commented on #4486
@sameerag I got HTTP status code 401 after upgrading my @azure/msal-node from 1.8.0 to 1.10.0, I've read the release notes from 1.9.0, 1.9.1 and 1.10.0, but doesn't find any instruction which I needed to make in order to upgrade.

[2022-06-16 08:51] MudulOzan opened #4914 "monitor_window_timeout on Teams app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Hi, we are trying to put our web app to teams tab,  it is built by teams fx. The app works perfectly on web but in teams we couldn't know which redirect url that we are going to put for teams, thus it is givi

[2022-06-16 13:31] marco-bertelli commented on #4879
same issue here any news? @jasonnutter ?

[2022-06-16 14:35] ozkoidi commented on #4862
Hi @jasonnutter, if it is a known issue of the library and has no further consequences I see no reason to pollute logs with this error so indeed failing silently would be nice.

**But,** if this error is not to be expected and indicates that there is something wrong in our code then I prefer to fix the login issue on our side. I'm debugging to find the source of the problem, in our case we might b

[2022-06-16 14:58] jasonnutter commented on #4862
@ozkoidi Thanks. We would tend to disagree on failing silently, as we'd rather have spurious errors that can be ignored on a case-by-case basis, as opposed to potentially hiding real issues by failing silently.

[2022-06-16 18:38] derisen commented on #4904
@sharmmoh1983 thanks for the info, I can reproduce this now. Let me debug this and get back to you.

[2022-06-16 19:05] hectormmg commented on #4879
I'm trying to reproduce the issue so I can figure out what's wrong. I'll update this issue once I have more information.

[2022-06-16 20:08] hectormmg commented on #4914
@MudulOzan please take a look at our [Teams Tab SSO sample](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs) to see how to use MSAL with the Teams SDK. The regular interactive flows will not work, you need to use an auth dialogue from the teams SDK and do the interactions in the resulting popup. Please let us know if this helps answer your question so we can close you

[2022-06-16 20:14] hectormmg commented on #4913
@tejaswibm-roposo it's a bit unclear why the protocol is being upgraded, however, the way your auth logic is set up, you're calling acquireTokenSilent twice before calling an interactive flow. My suggestion is that you try moving your catch blocks into the `callMSGraph` function and remove the duplication like so:

[code]

[2022-06-16 22:03] hectormmg commented on #4879
@awanlin can you reproduce this issue locally in development? Or does in only happen in production?

[2022-06-16 22:27] MudulOzan commented on #4914
If I am not mistaken, it receives an access token from a custom API. We want to do it with MSAL itself in the component

[2022-06-16 23:32] hills001 opened #4915 "Multiple B2C policies used in the one app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.2

### Description

Hi,

I've been working on an Angular/B2C app based on the sample https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular11-b2c-sample.

I have cre

[2022-06-16 23:35] awanlin commented on #4879
@hectormmg, I ran into this error both on my local environment and once deployed to our development environment, it did not go to staging or production once I noticed the errors I cancelled the deployment. This code is in a plugin that is part of our Backstage developer portal which runs in a Docker container and deployed to AWS.

I'd be willing to share the entire code with you in some secure fas

[2022-06-17 00:31] dheerajbalmuri opened #4916 "Need Help acquiring Tokens using MSAL. js for Datverse APIs"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

Is there documentation on how to obtain tokens for Dataverse APIs using Msal .Js . I was able to obain it using post by following the [documentation](https://docs.microsoft.com/en-us/power-apps/developer/data

[2022-06-17 06:28] tejaswibm-roposo commented on #4913
@hectormmg - As suggested by you, I have updated the code to call `acquireTokenSilent` only once and then do interactive login if there is an error.

Am not able to understand why protocol is getting updated to `https` on localhost, when the request params clearly shows that `http://localhost:9000/blank.html` is being sent as `redirect_uri`.

[2022-06-17 20:05] derisen commented on #4904
@sharmmoh1983 strangely, I couldn't reproduce it again when I tried today. I'm assuming what happens is due to incorrect cache record being retrieved from redis cache. Can you please flush your redis cache, restart the redis server and give this a try again? If that does not resolve your issue, please send me the complete msal logs (set the [msal logger](https://github.com/AzureAD/microsoft-authen

[2022-06-17 20:42] hectormmg commented on #4910
@zarko-tg I've looked at the Fiddler trace you sent and I can see the error showing up but it isn't clear which request the server is complaining about. The authorization/ endpoint request MSAL makes is working properly and the server never redirects back to MSAL so it doesn't have a chance to perform the /token request, so it seems this may be an issue unrelated to MSAL directly.

[2022-06-17 20:45] hectormmg commented on #4916
@dheerajbalmuri please check out our [MSAL React](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react) library docs for information on how to use it to acquire tokens on your React app. Please let us know if this helps resolve your question so we can close the issue.

[2022-06-17 21:13] hectormmg commented on #4887
@cmgchess I'm not sure we can help here since this isn't an issue with the ADAL library. I'm unfamiliar with the environment that you're working with, but perhaps this question is better directed at the Power BI SDK?

[2022-06-18 00:06] sharmmoh1983 commented on #4904
@derisen
I am killing the redis  server and starting again  every time node starts and I could see the redis key with home account id as key

[code]

Logs : Removed critical values

[code]

[2022-06-18 13:37] cmgchess commented on #4887
hi @hectormmg
Thanks for the reply!
I guess https://community.powerbi.com/ is the correct place to ask this question 🤔

[2022-06-19 01:01] ghost commented on #4860
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-06-19 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-19 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-20 01:01] ghost commented on #4908
@chandveri This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-20 01:01] #4874 closed, assigned to jasonnutter

[2022-06-20 07:38] zarko-tg commented on #4910
Ok, so we're stuck with this for the time being. It isn't clear what causes the issue. And unfortunately I haven't been able to find any alternative solution yet.

[2022-06-20 07:57] tiennguyen1293 opened #4918 "AADSTS50058 - Unable authenticate on MS Teams Desktop App"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Description

Using template [tab-aad-msal2](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-aad-msal2)

And upgrade
[code]

`this.msalClient.loginRedirect(this.request)` working on Teams Web, but not working on Teams Desktop A

[2022-06-20 13:01] #4842 closed, assigned to ellymakuba

[2022-06-20 19:12] bmahall commented on #4918
@tiennguyen1293 Does this issue persist only for Chrome or any other browsers as well? Are you using incognito mode?
 Can you please try enabling storeAuthStateInCookie and issuing the redirect call , and let us know. Thanks!

[2022-06-20 22:38] derisen commented on #4878
@EmLauber +1 for this. This is breaking apps that are attempting `acquireTokenSilent` first, where we recommend to catch the `interaction_required` error and handle interactively. I can't seem to find when this regression was introduced.

[2022-06-20 23:01] derisen commented on #4904
@sharmmoh1983 just to make sure, killing the redis-server might not be enough to clear the cache, make sure to run `FLUSHALL` on redis-cli as well.

On the other hand, I think the issue is in the `getToken` method in the sample wrapper -specifically [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/b315d95797810241224a3cf118e67a1a723adec7/samples/msal-node-samples/Expr

[2022-06-21 01:01] #4857 closed, assigned to jasonnutter

[2022-06-21 01:01] #4848 closed, assigned to jasonnutter

[2022-06-21 04:54] tiennguyen1293 commented on #4918
Hi @bmahall , i didn't using incognito mode and i tried change brower default on MacOS, but it's still not working

NOTE: issue happening Teams Desktop App when i using `microsoftTeams.authentication.authenticate` from `"@microsoft/teams-js": "^2.0.0"` and open login popup, Teams Web (https://teams.microsoft.com) its working.

[code]

<img width="668" alt="image" src="https://user-images.githubuse

[2022-06-21 08:41] zarko-tg commented on #4910
After some cumbersome attempts I can conclude that one should not even bother to use InAppBrowser / WKWebView. The only likely solution is to launch the external browser and do redirection(s) back to the app using deep links (via Firebase for example). It doesn't seem like the best UX compared to showing/using an embedded browser (InAppBrowser / WKWebView) within the Cordova app but at least login

[2022-06-21 08:41] #4910 closed, assigned to hectormmg

[2022-06-21 17:03] #4887 closed, assigned to hectormmg

[2022-06-21 17:03] #4908 closed, assigned to hectormmg

[2022-06-21 17:04] hectormmg commented on #4914
@MudulOzan unfortunately MSAL cannot be used on its own in a Teams Tab since all interactive flows have to go through the Teams SDK.

[2022-06-21 22:54] sharmmoh1983 commented on #4904
@derisen  I have  done the FLUSHALL but no imapct. So please correct my understanding on below points

-   solution will work to get the token silently for B2c AAD
- Current implementation for Redis App need to be done to fix the issue

[2022-06-22 00:31] grosch commented on #4298
@sandrooco Are you planning to do this still?  Would love to have this updated.

[2022-06-22 01:01] ghost commented on #4862
@nickeeromo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-22 07:19] sandrooco commented on #4298
@grosch this is handled internally at Microsoft now. There were two PRs from the community that got closed due to backwards compatibility "issues".
As @jasonnutter mentioned, they will update this issue as soon as there are news.

[2022-06-22 07:47] #4914 closed, assigned to hectormmg

[2022-06-22 07:48] MudulOzan commented on #4914
Thanks, we found graph api and using it now.

[2022-06-22 08:21] OlegSharyk commented on #4595
@samuelkubai, according to your advice I need to get access Token every time when I need to call to API in react component.
But using axios interceptor helps to get access Token once and than call API in Redux-Saga, not in each react component.
According to your advice I need to rewrite logic for application and refuse Redux-Saga.

[2022-06-22 12:51] euphoria3k opened #4920 "MSAL Angular Forgotten password error event not caught with PathLocationStrategy"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.2

### Description

Hi, I have a problem and i'm unsure whether it is a bug or me doing something dumb.

I have reproduced the problem using the Angular 11 B2C sample application, with PathLocationStrategy routing enabled.
I

[2022-06-22 13:01] ghost commented on #4913
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-22 15:23] derisen commented on #4904
@sharmmoh1983 apologies, let me rephrase. I think what's happening here is that the `acquireTokenSilent` call fails in the sample wrapper, but msal-node doesn't throw the `InteractionRequiredAuthError ` error as expected, so the app doesn't attempt to acquire a token interactively instead for handling the error.

A workaround for now (until the [original issue](https://github.com/AzureAD/microsoft

[2022-06-22 17:09] yoLotus opened #4921 "popup flow broken in full-screen macOS"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

It seems that using the `loginPopup` function does not work properly on *full-screen*  mode on **macOS**.
The popup never get closed and the flow fails silently.
When the browser is not in *full-screen* mode, it always works

[2022-06-22 18:54] mikeyyyzhao opened #4931 "How to get auth code using msal"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js

### Description

is it possible to request auth code (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) using this library for React? If so, is it possible for

[2022-06-23 01:01] ghost commented on #4916
@dheerajbalmuri This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-23 05:38] sunilshrestha commented on #4378
Same issue with password reset. Because of the way the redirect response handled in this scenario the handleRedirectPromise always returns the existing response which is AuthError received from the redirection. There might be a proper way to handle but for quick fix this custom implementation might help.

Override the handleRedirectPromise method and check the error code and delete the response ca

[2022-06-23 08:21] andreaslarssen opened #4932 "(Angular) PWA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

Hi.

I'm currently building an (Angular) PWA app which uses Azure B2C as IDP. I have issues where the user is offline, and MSAL calls B2C endpoints which results in the user being redirected to B2C. Havin

[2022-06-23 12:31] Toso82 opened #4933 "Add Subscription Check"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.2.0

### Description

My problem i want to add extra check on login for subscription user state. It is possible to add check on refresh token? And how? I have api to check state of subscription.  Or there is other best solutio

[2022-06-23 13:16] zhshqzyc opened #4934 "Unit test spec file missing mock @Inject MsalGuardConfiguration part"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2

### Description

I want to do unit test for app.component. In the constructor there are many injection  but your spec file doesn't include all. So it is hard to follow them. I know most of them are similar, but for the @InjectT

[2022-06-23 17:52] tnorling commented on #4753
Thanks for the update @himadrinath! @fvdnabee Does upgrading react resolve this issue for you as well?

[2022-06-23 19:52] danielvoigt opened #4935 "Unable to acquire token silently after B2C login and redirection to SPA redirectUri"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

My understanding is that the B2C flow with MSAL.js for a sign-in only policy works in the following way (please correct if mistaken):

1) create `msalInstance` with the msal config
2) call `msalInstance.handleRedirectPromise(

[2022-06-23 20:26] danielvoigt commented on #4935
@jasonnutter and @hectormmg are you available to look at this? It looks you like you are actively responding to issues in this repo

[2022-06-24 02:31] jerryliang64 commented on #4921
I faced this problem too, beside I always fail to login when I'm full sceen. Here is the error:
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/8124783/175450436-739165a6-e690-4b0b-bced-3e5af0b2cc82.png">

[2022-06-24 13:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-24 13:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-24 14:34] MateusDev98 commented on #4799
@hectormmg Can you help us?

[2022-06-24 15:53] derisen commented on #4931
@mikeyyyzhao msal-browser/msal-react does not expose the authorization code to the developer, and the authorization code obtained for your frontend shouldn't be passed to your backend. If you need to authenticate users to your backend, you should use [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node) instead. If you need to authenticate users on

[2022-06-24 22:13] Jhoni-Silva commented on #4799
@hectormmg, did you manage to simulate the problem? Can we help in any way?

[2022-06-26 01:01] ghost commented on #4860
@philip-young This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-26 01:01] ghost commented on #4915
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-06-26 21:27] logan-jobzmall commented on #4931
@derisen how does one go about a situation such as this then: Angular SPA needs auth code to send to backend API server request so that the backend can then use that to request an Auth Token bundle, and then store those for later usage for offline access?

[2022-06-27 04:31] toddarmstrong commented on #4486
Hi @sameerag

I am a colleague of @dillonbailey and am taking over here.
We have updated msal-node to 1.10.0 but are still experiencing this issue.

What information do you need from us to further look into this?

[2022-06-27 06:57] orenweil opened #4937 "Unable to run vue3-sample-app, getting multiple error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

After running ```npm install``` without issues
running ```npm start``` and getting multiple error then trying to access the site:

[code]

```npm list``` output:
[code]

### Error Message

[code]

### Msal Logs

_No response_

[2022-06-27 07:04] sunilshrestha commented on #4935
Hi @danielvoigt did you tried using msal interceptor (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md). It internally handles acquireTokenSilent logic based on your configuration if you don't have any custom logic implementation.

[2022-06-27 10:39] raiajithkumarr opened #4938 "How to navigate desired URL after Azure AD Login"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

Hi Team,

We are using Azure AD Authentication to validate users after successful verification it is navigating to configured redirect url

For example :

**redirecturi** : https://www.testurl.com (Configured i

[2022-06-27 11:03] kengaderdus opened #4939 "Does msal-node support Client credentials flow for Azure AD B2C"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.10.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

Recently, Client credentials flow for Azure AD B2C moved to public preview. Works okay when you make an HTTP call, but it seems not to work when using msal-node.

### Error Message

ClientAuthError: network_error: Network request

[2022-06-27 13:01] ghost commented on #4913
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-27 15:28] bmahall commented on #4935
@danielvoigt I am currently looking into this , thanks for your patience!

[2022-06-27 15:29] bmahall commented on #4933
@Toso82 I am currently looking into this , thanks for your patience!

[2022-06-27 15:29] bmahall commented on #4934
@zhshqzyc I am currently looking into this  and will get back as soon as I have more information .

[2022-06-27 15:29] bmahall commented on #4932
@andreaslarssen I am currently looking into this , thanks for your patience!

[2022-06-27 15:30] bmahall commented on #4921
@yoLotus  I am currently looking into this , thanks for your patience!

[2022-06-27 16:09] theoturner opened #4941 "useIsAuthenticated is false on first load"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

[This has been raised before and a fix merged](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2846), but the problem was not actually fixed.

`useIsAuthenticated` is always false on

[2022-06-27 16:14] danielvoigt commented on #4935
Thanks for the suggestion @sunilshrestha. I'm currently using MSAL.js v2 for the browser (@azure/msal-browser), rather than the angular specific wrapper library. However I will attempt to re-implement this with the wrapper library if I'm unable to figure out the issue with the general MSAL browser lib.

[2022-06-27 16:23] omegaji commented on #4753
for me updating react from 18.1.0 to 18.2.0 did the job! Thank you all!

[2022-06-27 17:46] derisen commented on #4918
@tiennguyen1293 can you share the code block that throws this error? If there was indeed a silent sign-in request, it would be expected to fail on Teams Desktop as the desktop client won't have access to AAD session cookies that the system browser has, so this error needs to be caught and handled with an interactive login request (loginRedirect).

[2022-06-27 18:34] derisen commented on #4915
@hills001 Unfortunately this has been a limitation of working with B2C with MSAL. Technically you do not need to request a token for profile edit user flow, only to take the user to [`/authorize` endpoint](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow#1-get-an-authorization-code) with the profile edit policy as authority, but msal-browser/msal-angular abstract

[2022-06-27 18:54] derisen commented on #4931
@logan-jobzmall can you provide more detail on your use case here? Tokens issued for a single page app have a short lifetime (1hr for access tokens, 24 hr for refresh tokens -[see](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md)). It might be better to use a web app (confidential client) here with msal-node instead -the [hybrid

[2022-06-27 20:46] KarishmaGhiya opened #4942 "Regression for authority host resolution since June 3rd 2022"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Since June 2nd, for @azure/identity package live tests are failing with the error - `CredentialUnavailableError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientCon

[2022-06-27 22:01] #4916 closed, assigned to hectormmg

[2022-06-27 22:05] hectormmg commented on #4913
@tejaswibm-roposo could this be an issue with your app's router configuration?

[2022-06-28 00:49] KarishmaGhiya commented on #4942
On further investigation, found that this issue was caused due to a workaround for recorder configuration options added in the tests for @azure/identity SDK.  The workaround was getting triggered for live tests also, which shouldn't have happened. Removing of this workaround, solves the issue, we were facing in the live tests. No work required from MSAL and no customers were affected.

[2022-06-28 00:49] #4942 closed, assigned to jo-arroyo

[2022-06-28 01:01] ghost commented on #4904
@sharmmoh1983 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-06-28 01:05] sharmmoh1983 commented on #4904
@derisen i am working on it and will get back soon

[2022-06-28 03:42] tiennguyen1293 commented on #4918
Thank for your response @derisen,

I was using `microsoftTeams.authentication.authenticate` to open popup on Teams Desktop provided by `@microsoft/teams-js` and after that I redirect to page using silent sign-in.

I implemented like [react-router-sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample) example from this rep

[2022-06-28 03:46] tiennguyen1293 commented on #4918
And if Silent Auth is expected to fail on Teams Desktop, Do we have any way to get session sign-in of the user to no need to re-login?

[2022-06-28 05:13] raiajithkumarr commented on #4938
Hi Team,
Please provide some information on this question

[2022-06-28 05:54] hills001 commented on #4915
Hi @derisen, many thanks for the reply.

I've spent some time today working with the B2C sample and built in B2C policies to see if I could recreate the issue. I suspect there could be an issue in my own app or with my custom policies, as I haven't been able to recreate the exact issue, however, I did see some behaviour I wasn't expecting with setActiveAccount/getActiveAccount (I've set cacheLocat

[2022-06-28 07:55] zarko-tg opened #4944 "How to keep a mobile SPA user logged in for more than a day"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We have an existing B2B-type of mobile app built using Apache Cordova, basically a SPA running locally on the device. Some of our clients/users wants to log into our own service using their Azure accounts. The app doesn't nee

[2022-06-28 10:02] ozkoidi commented on #4862
Hello @jasonnutter, I've found that the exceptions we get are indeed caused by calling `MsalService.getAllAccounts()` before the authentication process has finished.
Since our Angular app has **all routes protected by the MsalGuard**, how can I check if the user is authenticated without calling `getAllAccounts()` (which triggers calls that cause _"Interaction in progress"_ exceptions)?

[2022-06-28 14:25] ashitaagrwl opened #4946 "Mechanism used to fetch Tokens from MSa Service"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

None

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

HI Team, I am currently working on a chrome extension and we have a limitation that from Manifest Version3, chrome extensions don't allow the usage of XMLHttpRequest. I would like to confirm if the access tokens

[2022-06-28 15:22] SimonManfredo opened #4947 "token size with groups"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

authentication works fine and I get Access token and ID Token. but in some cases the ID token is too long. greater than 11 thousand characters and causes me that when sending it to my backend, I get a 413

[2022-06-28 15:26] philip-young commented on #4860
Hi @tnorling sorry for the delay on my response. I was able to test this by passing in the Account as you suggested once I found the correct one for the Policy. It worked great, thanks for the help!

[2022-06-28 15:26] #4860 closed, assigned to tnorling

[2022-06-28 16:36] jasonnutter commented on #4862
@ozkoidi You should wait for InteractionStatus to be be `None`. More information here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/events.md#the-inprogress-observable

[2022-06-28 16:43] derisen commented on #4947
@SimonManfredo you can configure group claims to contain only the groups that are assigned to the application (though you won't be receiving nested groups that way). More on this [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims). Also, you normally shouldn't pass the id token to another application -group claims can also be added to access token