[2022-06-28 17:14] derisen commented on #4918
@tiennguyen1293 I haven't tried the sample myself but I don't think there's much you can do to avoid popups with this setup, as [noted by the author](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-aad-msal2#summary) (by the way is the user prompted for full sign-in, or just seeing a brief popup?). Did you had a chance to try out the [Teams Tab SSO](https://github.com/pnp/teams-dev-

[2022-06-28 17:27] tiennguyen1293 commented on #4918
User just see a brief popup, and after that I saw the errors.

By the way, i found the root cause was because i used `prompt: "none"` and it didn't work on Teams Desktop. If I remove it, Teams desktop will redirect to login page instead of showing an error.

[2022-06-28 17:40] derisen commented on #4918
That's right, I should have mentioned, `prompt: none` is the issue here.

[2022-06-28 20:43] jo-arroyo commented on #4946
@ashitaagrwl Where the Fetch API is detected (i.e. `window.fetch && window.Headers`), MSAL will use Fetch instead of XMLHttpRequest.

[2022-06-28 20:50] jo-arroyo commented on #4938
@raiajithkumarr Can you please confirm whether your application is using MSAL 1.x or msal-react (which wraps MSAL 2.x)?

If MSAL 1.x, can you try setting `navigateToLoginRequestUrl` to `true` in your `auth` configurations?

[code]

[2022-06-28 22:20] jo-arroyo commented on #4944
@zarko-tg This is expected behavior. Refresh tokens used in single page apps and with the authorization code flow are limited to 24 hours. Once outside the 24 hour window, it is supposed to fail and require interactive login. Please see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens#token-timeouts) about refresh tokens lifetimes and [this document](h

[2022-06-29 02:41] derisen commented on #4939
@kengaderdus I can reproduce this. The actual error response from the service:

`'{"error":"invalid_scope","error_description":"AADB2C99068: Scope parameter (https://fabrikamb2c.onmicrosoft.com/3aab53e3-c083-49e8-a54e-2444ad952113/.default openid profile offline_access) must be formatted like https://<application-uri>/.default\r\nCorrelation ID: 07dc20f2-b4f0-421d-ad35-6a7d97526814\r\nTimestamp: 2

[2022-06-29 07:15] zarko-tg commented on #4944
@jo-arroyo Thanks @jo-arroyo, I am more or less aware of that limitation since I've been through documentation a number of times. But that likely means a bad user experience. How many (good) mobile apps are there which force the user to log in manually again after a day of inactivity?

The reason for filing this issue is to look for any possible configuration, workaround or a solution. Is there an

[2022-06-29 07:28] tiennguyen1293 commented on #4918
Do we have a plan to fix it?

[2022-06-29 09:51] raiajithkumarr commented on #4938
We are using MSAL 1.X version only i.e.  "msal": "^1.4.4"

Even after using **navigateToLoginRequestUrl: true** property still it is redirecting to home page only and it is asking AAD login two times after that it is navigating to home page instead of requested URL

**Locally it is working fine (even using state also same behavior) only on deployed version we are facing this issue.**

We deployed

[2022-06-29 11:01] awanlin commented on #4879
@hectormmg, any updates on this? Thanks in advance!

[2022-06-29 11:50] PetrPospisil commented on #1588
Hi, what is the status of this. We want to use it in our angular project. Thx

[2022-06-29 14:16] bmahall commented on #4935
@danielvoigt  Can you kindly refer to the below attached code snippet and check if it works:-
`msalInstance.handleRedirectPromise()

    .then((tokenResponse) => {
        if (!tokenResponse) {
            const accounts = msalInstance.getAllAccounts();
            if (accounts.length === 0) {
                // No user signed in
                msalInstance.loginRedirect();
            }

[2022-06-29 14:21] Toso82 commented on #4933
I'm waiting the solution :-) thanks @bmahall

[2022-06-29 16:54] jo-arroyo commented on #4920
@euphoria3k Thank you for your patience. I was able to reproduce this behavior, and am investigating a fix or a workaround.

To clarify, are you getting the `LOGIN_FAILURE` event when the user clicks the forgot password link and cancels, or as soon as they click the forgot password link? If a user clicks the forgot password link and sets a new password, they should be able to log in, which should

[2022-06-29 16:59] bmahall commented on #4934
@zhshqzyc Can you try the following code to mock @Inject MsalGuardConfiguration in the concerned unit test case.
[code]
Please let me know in case of any further questions. Thanks

[2022-06-29 17:45] zhshqzyc commented on #4934
In the app component constructor, we still have `private msalBroadcastService: MsalBroadcastService,`

Can you also mock it? Because there is the error
`NullInjectorError No provider for MsalBroadcastService`

[2022-06-29 18:09] bmahall commented on #4933
@Toso82 Thanks for your question.  For adding a Rest API call during Azure AD B2C Custom policy- Sign In, the process should be similar to:-
[https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-api-connector-token-enrichment?pivots=b2c-user-flow](url)
[https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-api-connector?pivots=b2c-user-flow](url)

For more information on Techn

[2022-06-29 22:11] jo-arroyo commented on #4941
@theoturner Can you clarify what you mean by "first load"? Do you mean the first load of the tab, or the first render of each page load? If you mean the former, you can persist state across tabs/browser instances by using local storage instead of session storage.

[2022-06-29 22:32] jo-arroyo commented on #4938
@raiajithkumarr Are you able to provide verbose logs for this behavior?

[2022-06-29 22:57] jo-arroyo commented on #4937
@orenweil Can you try `npm install element-plus@2.2.6` and see if it runs?

[2022-06-29 23:10] jo-arroyo commented on #4944
@zarko-tg Unfortunately, MSAL.js has to abide by the refresh token lifetimes set by the service, and we're unable to provide a workaround at this time. While we recognize that this is not the best user experience, the 24 hour limit was chosen for [security reasons](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas#security-implications-of-refresh-to

[2022-06-30 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-30 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-06-30 04:09] raiajithkumarr commented on #4938
Hi @jo-arroyo
You want verbose logs from deployed version means application insight ? or locally ?

Currently locally it is working fine

[2022-06-30 05:27] ckeboss opened #4953 "`useMsalAuthentication` `acquireTokenSilent` logic fails if using `prompt` other than `none`"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

This change (https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4280) introduced logic to the `useMsalAuthentication` hook that tries to call `acquireTokenSilent`.

It takes the `authenti

[2022-06-30 06:28] orenweil commented on #4937
yes, I tried to upgrade all the packages in projects and it solve the issue

[2022-06-30 07:54] zarko-tg commented on #4944
@jo-arroyo Ok, that confirms our concerns.

Changing a tech stack and large code base immediately is not realistic. We are going to try a solution that basically does not depend on any MSAL/Azure sessions (refreshing tokens and related complexity). It'll be a bit of an improvisation but at least we will not force users to log in frequently and repetitively.

Our own system / backend has its own us

[2022-06-30 07:54] #4944 closed, assigned to jo-arroyo

[2022-06-30 08:56] euphoria3k commented on #4920
@jo-arroyo thank you for your reply! The problem is that when the user clicks the forgotten password link, it returns to our site with the code AADB2C90118, but the LOGIN_FAILURE event doesn't get raised resulting in the user then not being redirected to the forgotten password flow at all.

[2022-06-30 09:37] theoturner commented on #4941
By first load I mean first of the tab. Thank you for the pointer to use localStorage in the MSAL Config. That works!

Alternatively, if you can't use localstorage, this useEffect hook also works:
[code]

[2022-06-30 09:37] #4941 closed, assigned to jo-arroyo

[2022-06-30 10:11] baggiolorenzo opened #4954 "MSAL doesn't recognize the signed MS Account when there are multiple accounts Signed"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Description

We have two sites published in two different servers on the same domain (currently azurewebsites.net) that use MSAL to authenticate the user.
The Internal site is called by the Main site via 'iframe'.

Wh

[2022-06-30 10:28] kevindixon commented on #4445
@EmLauber CY22Q2 is drawing to a close - any update?

[2022-06-30 13:27] ckeboss commented on #4953
Looking at this a bit more, really the issue comes down to casting `PopupRequest|RedirectRequest|SsoSilentRequest` to `SilentRequest`, and then for the fallback, passing `login` `SilentRequest` where `PopupRequest|RedirectRequest|SsoSilentRequest` is expected.

[2022-06-30 15:17] raiajithkumarr commented on #4938
After doing analysis of this behavior observed that, if we try to navigate child URL other than Origin(http://testurl.com)  for example  **http://testurl.com/data/1 or http://testurl.com/report/1** or anything like this it will navigate to AAD login page ( https://login.microsoftonline.com/<tenantId>/oauth2/v2.0/authorize?response_type=id_token&scope) **twice**

How to handle this behavior.

Inste

[2022-06-30 18:33] jo-arroyo commented on #4937
@orenweil Thanks for bring this to our attention. We will update the dependencies in the sample.

[2022-06-30 18:36] Pablodotjs opened #4956 "MSAL Angular not Ivy compatible"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.2

### Description

I can't build applications that uses MsalModule if I'm using yarn plug and play

### Error Message

Error: src/app/app.module.ts:109:5 - error NG6002: 'MsalModule' does not appear to be an NgModule class.

[2022-06-30 20:22] jo-arroyo commented on #4956
@Pablodotjs We are aware that the current version of msal-angular may not be compatible with Ivy. This work is being tracked [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4298) and will be prioritized in future quarters.

@EmLauber for roadmap.

[2022-06-30 23:33] drGarbinsky commented on #4759
Is [this code sample ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/on-behalf-of/web-api/index.js)the current recommended approach for validating a token? I am coming from a Azure AD background where bearer strategies were common. The fact that node-token-validation has yet to be complete makes me think I am unnecessarily working towards an

[2022-06-30 23:33] drGarbinsky commented on #4759
[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/on-behalf-of/web-api/index.js](url)

[2022-07-01 04:05] #4937 closed, assigned to jo-arroyo

[2022-07-01 12:29] baggiolorenzo commented on #4954
We published two application on the same domain, connected to the same Azure Application.  to check if after reproducing the situations of the multiple AAD Accounts signed the problem remains.

[2022-07-01 12:35] baggiolorenzo commented on #4954
We published two application linked to the same Azure Application, on the same domain, to test the problem of the multi AAD signed accounts. After logging in an application, the second one didn't recognize the current Active Account and reproposed the login form.

[2022-07-01 17:44] timtong1982 opened #4965 "loginRedirect doesn't work with React-Route V6 with a index Route"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

When there is a index Route in the React-Route config, the loginRedirect will not acquire account

 "react-router-dom": "6.3.0",

### Error Message

_No response_

### Msal Logs

{eventType: 'msal:initializeS

[2022-07-01 17:55] timtong1982 commented on #4965
A possible reason is when the redirect back from AAD is happening, before MSAL process the response code, React Route the index route hijacked the URL and redirected it to the index route points

[2022-07-01 18:20] jo-arroyo commented on #4953
@ckeboss I've been unable to reproduce this error so far. Are you able to reproduce this behavior in one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples)?

[2022-07-03 01:01] ghost commented on #4932
@andreaslarssen This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-03 01:01] ghost commented on #4931
@mikeyyyzhao This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-03 01:01] ghost commented on #4921
@yoLotus This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-03 01:01] ghost commented on #4913
@tejaswibm-roposo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-03 04:43] sharmmoh1983 commented on #4904
@derisen  This will solve the exception issue but why user has to be prompted  again to give consent as the first call itself is failing to get the profile.

[2022-07-03 07:36] xtianus79 opened #4966 "More Information needed for "authority" option in MSAL js library for Azure AD B2C. It seems like a very important option."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL React (@azure/msal-react), MSAL Node Extensions (@azure/msal-node-extensions), Not Applicable

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

### Description

I'll start with this as an

[2022-07-03 07:37] andreaslarssen commented on #4932
Comment to keep it open

[2022-07-03 13:01] ghost commented on #4915
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-04 01:01] ghost commented on #4947
@SimonManfredo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-04 01:01] ghost commented on #4946
@ashitaagrwl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-04 11:04] tsampath opened #4967 "APPLE ID LOGIN: Need to login twice when used acquireTokenRedirect due to X-Frame-Options DENY ERROR"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.1

### Description

When we used acquireTokenRedirect as per suggestion given at https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1266, user needs to login twice as apple site is loaded in background

[2022-07-04 13:01] ghost commented on #4918
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-04 15:46] yoLotus commented on #4921
A comment to just to let this issue opened

[2022-07-04 17:02] derisen commented on #4904
@sharmmoh1983 are you saying the call fails even after providing consent? If not, the first call failing would be expected, as at that point there is no consent provided for this scope, since delegated graph permissions can only be provided dynamically in the case of B2C, and only by an admin user.

If you need to call graph for B2C users, I would rather recommend you to setup a B2C web API/backgr

[2022-07-04 23:15] derisen commented on #4966
@xtianus79 that's fair criticism mostly, but you see it's a double-edged sword. One goal of the library is to abstract away the details of OAuth 2.0 & OpenID Connect protocols (which is complex enough) AND how Azure AD/B2C implements that protocol (which introduces other idiosyncrasies) within reason. A proper discussion of `authority` would require getting into these details, which at that point,

[2022-07-05 01:01] ghost commented on #4935
@danielvoigt This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-05 01:01] ghost commented on #4933
@Toso82 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-05 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-05 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-05 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-05 02:21] annndddy opened #4970 "question about login page using login_hint"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi, im trying the msal by passing login hint abc@abcde.com
https://login.microsoftonline.com/xxxxxxxx/&login_hint=abc@abcde.com
but the login password page will show the azure account that associate with my login hint like 12

[2022-07-05 09:50] sharmmoh1983 commented on #4904
@derisen Thanks I will implement in the same manner

[2022-07-05 10:45] AndrewJohnWalker commented on #4862
Is there any way to run parallel requests with msalInterceptor? I have an oninit() that calls two protected routes, if there isn't a valid token this will fail twice and cause the Interaction is currently in progress error. If one of these fails is it possible to not retrigger the acquireTokenInteractively() in msal interceptor if it is already in progress?

[2022-07-05 13:01] ghost commented on #4920
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-07-05 15:36] Toso82 commented on #4933
Hi I try to understand how to put your suggestion but I'm not so clear I understand I could add a custom workflow but how it is not so easy. I mean if I understand correct I must to add something return claim or role to check in client?

[2022-07-05 16:08] jasonnutter commented on #4862
@AndrewJohnWalker The interceptor can attempt multiple silent requests at once, however, if there is an error that requires an interaction, only one interactive request can be made at a time. Are you using popups or redirects for the interceptor?

[2022-07-05 17:01] derisen commented on #4904
@sharmmoh1983 sounds good, let us know if you need anything further with that effort. I'll keep this open 'till I update the sample regarding the exception issue.

[2022-07-05 17:28] derisen commented on #4918
@tiennguyen1293 Apologies for late response. Seeing some brief prompts is an inherent limitation with this setup, so what I meant is that setting `prompt: none` will prevent msal to acquire tokens via the popup opened by Teams, hence it shouldn't be set in the first place. Achieving SSO will require some server component in the setup, so you should check out the [Tab SSO sample](https://github.com

[2022-07-05 17:30] derisen commented on #4947
Closing this assuming to be resolved, but let us know if you have a follow-up.

[2022-07-05 17:30] #4947 closed, assigned to derisen

[2022-07-05 17:33] derisen commented on #4931
Closing this as resolved. Please let us know if you have a follow-up -thanks!

[2022-07-05 17:33] #4931 closed, assigned to derisen

[2022-07-06 01:01] ghost commented on #4956
@Pablodotjs This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-06 01:01] ghost commented on #4938
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-07-06 04:58] sharmmoh1983 commented on #4904
@derisen Just to summarise , we need the users to give consent only first up when signup/signin happens and then keep the refresh token available in redis cache to be used in subsequent call to any ms graph api call

In current scenario , i could see the consent is happening successfully and required tokens are getting generated and getting persist in redis. It is just while making any subsequent

[2022-07-06 06:55] xtianus79 opened #4988 "MSAL JS 2.16.0 - 2.27.0 Getting 400 error from discovery URL and knowAuthority ClientConfigurationError when using a custom domain in Azure AD b2c"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.3

### Description

when using the Angular 12 sample I am getting error's regarding the known authority and discovery URL:

I have the spa application warning but the first error comes into that sign-on as well. To note, whe

[2022-07-06 07:41] AndrewJohnWalker commented on #4862
@jasonnutter Redirects

[2022-07-06 14:11] arielrahmane commented on #4939
Hi, I'm having the same issue and couldn't find a solution... Maybe I'm missing something?

## Error

[code]

## Complete log

[code]

## Configs

[code]

## The function where the error happens

[code]

## Dependencies

[code]

[2022-07-06 14:24] kengaderdus commented on #4939
@jo-arroyo

FYI: Azure AD B2C now directly supports Client credentials flow (see article here: [Set up OAuth 2.0 client credentials flow in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/client-credentials-grant-flow?pivots=b2c-user-flow)), so we expect msal should support this flow for Azure AD B2C.

[2022-07-06 15:36] jasonnutter commented on #4862
@AndrewJohnWalker And you are saying that both requests fail with an interaction_in_progress error? Note, the original poster of this issue indicated that the first request would successfully trigger a redirect, while the second would fail, which is what we would expect.

[2022-07-06 21:42] scottdurow opened #4991 "acquireTokenByClientCredential caching/refreshing behaviour"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.11.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Is there any way to use acquireTokenByClientCredential (supplying a client id/secret), cache a refresh token and then allow calling acquireTokenSilent to refresh after that?

This would support a scenario where I want to avoid st

[2022-07-07 01:01] ghost commented on #4953
@ckeboss This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-07 03:32] raiajithkumarr commented on #4938
Hi @jo-arroyo ,
Any updates on this issue.
It is going two times for AAD login (I think first time it is not getting token through msal.js library).

Please suggest here

[2022-07-07 07:16] tejaswibm-roposo commented on #4913
I do not think so. The configuration works as expected in other environments except on localhost `https` is being used. Not sure why is this so.

[2022-07-07 10:00] sudeep-yadagiri opened #4992 "Redirect to user requested URL after MSAL authentication in Angular"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

Angular MSAL Version: @azure/msal-angular": "^1.1.2"

It is redirecting to redirectURL not to the initial requested page after login.

Step 1: Browsed the https://<url>/#/support/request
Step 2: Redirected to login page
Step 3: After successful login redirected to Redirecte

[2022-07-07 14:23] sudeep-yadagiri commented on #4992
@mpminayo, can you please provide some suggestions

[2022-07-07 18:18] xtianus79 commented on #4988
Hi is there any update for this or suggestion for how to overcome this?

[2022-07-07 18:33] EmLauber commented on #4445
Thanks for following up. Due to changing priorities, we were unable to work on this in CY22Q2. It is still in our backlog. If that does not work for your timeline, we are open to PRs!

[2022-07-07 21:24] jeroenheijmans opened #4994 "nextjs-sample fails on "name.split(" ")" for test users"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.0.0

### Description

Running the `nextjs-sample` from the repository results in an error after signing in with redirect flow.

### Error Message

Full error details, browser window:

[code]

Devtools console shows several error

[2022-07-07 22:43] mpminayo commented on #4988
Hi, could we get the values for authority and  knownAuthorities?

[2022-07-08 04:19] xtianus79 commented on #4988
Hi @mpminayo I found the issue. I can't call it a bug because I don't know if that accurate but to me it's a bug because it broke the login.

So how did we get here. In msal-browser.js v 2.13.1 (which is the initial vanilla spa application implementation I used) worked fine. No issues. When I moved to the Angular v2 sample to test it out the error described above occurred. In my redact ie., <redac

[2022-07-08 05:05] minggangw opened #4996 "Add configuration to let the pop-ups not be blocked on Safari iOS"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Platform: iPhone/iPad
OS: iOS 15.5
Browser: Safari
Description: When using MSAL.js to execute login, the pop-up will be blocked by Safari without any hint, and after disabling the Block Pop-ups from Settings=>Safari, it will show as below
![image](https://user-images.githubusercontent.com/6469

[2022-07-08 12:42] MateusDev98 commented on #4799
@hectormmg, @jasonnutter, @tnorling, @sameerag  Can you help us?

[2022-07-08 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-08 14:01] sudeep-yadagiri commented on #4938
Hi Ranjith, Have you deployed this application in Azure portal?

[2022-07-08 14:06] sudeep-yadagiri commented on #4992
Its resolved

[2022-07-08 14:06] #4992 closed, assigned to mpminayo

[2022-07-08 16:23] derisen commented on #4939
@EmLauber can this be tracked?

[2022-07-08 16:52] derisen commented on #4904
@sharmmoh1983 I can't reproduce this with the sample I'm afraid. If you can mail me the complete msal logs (including correlation Ids), a Fiddler trace, your app settings (except client secret) and the user account (except password) that has this issue we can debug this further. You can find my mail on my GitHub profile.

[2022-07-08 18:07] robins1212 opened #4997 "TypeError: "listener" argument must be a function in passport-azure-ad 4.3.3"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Azure Cloud Shell uses passport-azure-ad for token validation in our containers and after updating to version 4.3.3 token validation fails and the container crashes

### Error Message

[ERROR]  TypeError: "listener" argum

[2022-07-08 20:36] jo-arroyo commented on #4920
@euphoria3k I've worked on a fix for msal-angular which should address your issue of not being able to get the LOGIN_FAILURE event. Feel free to take a look at #4998, which should be available in the next release.

[2022-07-08 21:22] jo-arroyo commented on #4938
@raiajithkumarr Can you confirm that you are using the correct redirectUri in your deployed application?
Also, is the navigation to AAD only happening on the deployed version or on your local app as well?

[2022-07-08 21:36] jo-arroyo commented on #4956
Closing because feature is being tracked in #4298 .

[2022-07-08 21:36] #4956 closed, assigned to jo-arroyo

[2022-07-08 22:23] siddarthapal opened #5000 "MSAL Library compatibility with B2C with Angular 13"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.23.0

### Description

We have angular 13 project in which we have Azure AD Authentication set up. Using various resources over internet, we implemented successfully authentication using MSAL library. Following are the details

[2022-07-09 01:01] ghost commented on #4915
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-09 13:01] ghost commented on #4967
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-10 01:01] ghost commented on #4966
@xtianus79 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-10 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-10 13:01] ghost commented on #4970
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-10 13:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-10 13:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-10 18:15] jeroenheijmans opened #5001 "NextJS SSR support for navigateToLoginRequestUrl"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.4.2

### Description

When using the redirect flow in a NextJS application, I expect the server to already redirect to the correct route. In the current library this seems to happen client side. This prevents us from making full

[2022-07-10 20:09] jeroenheijmans commented on #5001
A few hours of research later, I realize that this might currently not be possible with the library? The target URL [seems to be saved in the cache](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/34de2de2596dbe275277dbad1ab75f3db653eca5/lib/msal-browser/src/interaction_client/RedirectClient.ts#L113), which is documented as:

[code]

Neither `localStorage` nor `sessionStora

[2022-07-10 22:38] sumedhdev commented on #4921
I'm also having this issue.

[2022-07-11 01:01] ghost commented on #4918
@tiennguyen1293 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-11 01:01] #4946 closed, assigned to jo-arroyo

[2022-07-11 01:01] ghost commented on #4965
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-11 01:01] ghost commented on #4933
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-11 12:37] jon-a-nygaard commented on #4632
@sameerag @salman90 @samuelkubai Has there been made any recent updates or progress related to this issue topic? :slightly_smiling_face:
I feel the documentation and example on distributed caching is a bit lacking, and could benefit from some updates and elaboration to boost the confidence about maturity and security of the implementation.

So far I have encountered the following issues when tryin

[2022-07-11 14:51] svdHero opened #5002 "Warning - Account used to refresh tokens not in persistence, refreshed tokens will not be stored in the cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

I am writing an SPA with back-end REST API. After updating my npm packages, I noticed that my browser's console log is full of warnings when running my app saying
[code]

I've also noticed that requests to th

[2022-07-11 16:37] derisen commented on #4632
@jon-a-nygaard apologies for the confusion. This sample was demoing an initial approach to distributed caching, but since then msal-node was updated and a more mature pattern has been implemented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/RedisTestApp) -can you please refer to that sample instead? I'll keep this open to update the *

[2022-07-11 18:41] ckeboss commented on #4953
@jo-arroyo I can write a test for this if that helps?

[2022-07-11 20:46] derisen commented on #4915
@hills001 a fix is underway to resolve the `getActiveAccount` issue that you've run into. Please keep an eye on the [PR here](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5004).

[2022-07-12 01:01] ghost commented on #4991
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-12 07:04] tiennguyen1293 commented on #4918
@derisen I'm implementing sample code from you guys, i will respond as soon as I done.

[2022-07-12 07:20] jon-a-nygaard commented on #4632
Thanks for the quick reply and help @derisen, I will look to the `RedisTestApp` sample. Glad to see that you're updating the docs as well 🙂

[2022-07-12 13:01] ghost commented on #4913
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-12 18:31] sameerag commented on #5002
@svdHero It is possible that the cleanup you are making for the B2C accounts associated with certain mismatched policies may be evicting the accounts. Did you check the cache dump before and after executing the cleanup and see if any unrelated delete of `accounts` is happening?

If the issue still persists, please let me know. Will try reproducing on my end.

[2022-07-12 18:32] sameerag commented on #5001
Yes, we unfortunately do not support complete SSR today with `msal-browser`. Will `msal-node` help in your case and can you hydrate your `client` session with SSO?

[2022-07-12 18:37] sameerag commented on #5000
cc @derisen, can you please check what versions we are using in our samples? And if we have a working sample with the latest version?

@siddarthapal we have the supported versions of `Angular` by the library listed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#version-support). Are you saying that `2.23.0` is not working with Angular 13 for you

[2022-07-12 18:39] sameerag commented on #4997
cc @jo-arroyo

@robins1212 We are not actively maintaining `passport-azure-ad`, and currently only doing security patches if needed. However we are working on a new library for `token validation` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/node-token-validation), currently a work-in-progress.

Can you please track this for release and migrate to this libr

[2022-07-12 18:42] sameerag commented on #4996
@minggangw I assume you mean `Google` and `Facebook` pages in Safari. This is interesting as we do not control the pop-up blocking behavior of the browser. Let me check with my UX team and reach out.

[2022-07-12 19:03] jeroenheijmans commented on #5001
Thanks for the response. I had briefly spotted `msal-node` but [its FAQ suggests it should be used for server side (web) applications](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#are-spas-supported-by-msal-node) (and by "server side" I understood "fully server side", not so much "SSR-enabled-SPA's".... but perhaps incorrectly?) and refers b

[2022-07-12 19:12] siddarthapal commented on #4817
I have found solution to this issue eventually and sorry for the late update.

[2022-07-12 19:16] siddarthapal commented on #5000
@sameerag Yes, the same did not worked. But we have found the solution. Seems some issues with the cookies. We have set up in browser settings, when user log off from the portal, remove the cookies. After doing this, the code started to work. But this is still the Mistry , why the same did not happened with Angular 11 sample? Any inputs would be helpful....

[2022-07-12 19:19] siddarthapal commented on #5000
<img width="346" alt="Screen shot for issue raised" src="https://user-images.githubusercontent.com/100094024/178576431-3528ef81-a2fc-4a06-9779-3cf5204d3296.png">

Please check this screen shot.

[2022-07-12 22:55] siddarthapal commented on #5000
We are having another issue. Now the token is not being passed in the "Auth" header when we are hitting endpoint. Any pointer would be helpful...

[2022-07-12 23:03] derisen commented on #5000
@sameerag we apparently don't have a B2C sample with Angular 14, but I find it unlikely that Angular version is the culprit here.

@siddarthapal would you mind sharing your msal configuration, as well as couple of code snippets showing how you are using the library (in particular `app.module.ts` where you setup MsalGuard and MsalInterceptor)? Also, any steps to reproduce the issue would be appreci

[2022-07-13 00:05] taurheim opened #5006 "[Feature Request] Allow for login popup to be refocused"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Apologies if this is already supported by the library - I can't seem to find documentation as to how it works (despite being closed as completed in #181)

This is basically the same ask as #181.

**Use case**
1. User clicks sign in (application calls `loginPopup`)
2. User accidentally or inten

[2022-07-13 01:01] ghost commented on #4994
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-13 02:15] minggangw commented on #4996
Yes, the pop-ups of Google & Facebook, which will navigate to the login page, don't get blocked by Safari.

[2022-07-13 04:13] tiennguyen1293 commented on #4918
Hi @derisen i still get a login page, even when I'm signed in to Microsoft Teams Desktop App.
i based on [App Auth sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/app-auth)

<img width="891" alt="image" src="https://user-images.githubusercontent.com/26110369/178648962-c61ab173-bcbe-420a-b7ec-0d127570a5a1.png">
<img width="483" alt="image" src="https://user-images.git

[2022-07-13 04:21] raiajithkumarr commented on #4938
Due to some other hooks it is calling authorization very fast before we get the response from MSAL Library.
Now we applied some delay with this it is working fine.

So I am closing this request.

[2022-07-13 04:21] #4938 closed, assigned to jo-arroyo

[2022-07-13 07:20] svdHero commented on #5002
@sameerag Thank you for your comment. What exactly do you mean by "cleanup"?
Do you mean this part?
[code]
And what do you mean with cache dump? How would I do that?

[2022-07-13 13:01] ghost commented on #4988
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-13 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-13 13:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-13 14:48] siddarthapal commented on #5000
@sameerag It was my our mistake. Scope was not configured properly(Azure configuration was changed and it was not updated in front end configuration file). We can see the token being passed now :). Sorry for the in convenience caused.

[2022-07-13 14:50] siddarthapal commented on #5000
@derisen @sameerag I could not recall in MSAL documentation that we need to have a certain setting in browser.

[2022-07-13 16:01] jo-arroyo commented on #4953
@ckeboss Yes, that would be helpful, thank you.

[2022-07-13 16:20] derisen commented on #5000
@siddarthapal can you open this a bit? What was the setting in browser that was not mentioned? Do you refer to clearing the cookies when page is closed? MSAL does not set cookies on your page's domain unless you enable the `storeAuthStateInCookie` flag in the configuration. If you did so, it could be that when your Azure configuration have changed, state in the cookie caused some discrepancies som

[2022-07-13 17:03] derisen commented on #4918
@tiennguyen1293 apologies, we haven't developed that particular sample. Let me take some time to go through it, but it might be faster to direct this query to the maintainers of the [Microsoft-Teams-Samples](https://github.com/OfficeDev/Microsoft-Teams-Samples) repo. On the other hand, we did contribute the [Tab SSO sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab

[2022-07-14 00:44] waykolep opened #5007 "MSAL not returning control back to application after login failure"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

We are migrating from adal-> msal and using MSAL react npm package for the same.

A sample code usage -

[code]

For a happy use case where user has access, it works fine but for alternate use case where user

[2022-07-14 01:01] ghost commented on #4939
@kengaderdus This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-14 01:01] ghost commented on #4904
@sharmmoh1983 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-14 01:01] #4862 closed, assigned to jasonnutter

[2022-07-14 05:43] sameerag commented on #5007
@waykolep The service team does not relay this error back to MSAL and hence the application cannot be redirected or the error handled. I can check with them if this is a scenario they support.

[2022-07-14 07:52] MrsCD opened #5008 "B2C Redirect URLs change from login.microsof to b2clogin.com"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.3

### Description

Hi,
we are trying to change the URLs from login.microsoft to b2clogin.com in the Azure Portal and in our code itself. However it is absolutely not working at all. The problem is, the deadline Azure provid

[2022-07-14 08:58] florianfischerx commented on #4206
Hi,
we are facing this exact same issue. The workaround by forcing a refresh is suboptimal for various reasons :- \
Is there any eta for an update for this?

[2022-07-14 16:09] euphoria3k commented on #4920
@jo-arroyo that is great! Thank you for the quick response 👍 I will keep an eye out for the release.

[2022-07-15 01:01] ghost commented on #4967
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-15 09:49] kengaderdus commented on #4939
@derisen

I see you're taking care of this issue.

[2022-07-15 13:01] ghost commented on #4970
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-15 17:35] ChongZhiCZ opened #5011 "After successful login and redirection, the execution of the routing guard is interrupted."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

HI,

I have a sign in page. When you visit the website without authentication, you will be redirected to this page.

When I click sign in to enter the login process and successfully authenticate and jump back to my website, t

[2022-07-15 18:14] Alino commented on #3923
hi @bartlomiejzuber , did you finish it? Is your solution working well? I wonder if there are not issues with the localStorage when it's kind of polyfilled from ```jsdom```

Does it actually store the data and load it back when you reopen the browser or when the service worker 'resets'? Or are you using your own caching?

[2022-07-15 18:28] Pablodotjs commented on #4298
Is there any news about this?

[2022-07-15 18:46] derisen commented on #4939
@kengaderdus the preference now is for the B2C service to align their behavior with AAD, so waiting to hear back from them at the moment. If not, there's a PR to fix the issue on msal-node side, but that's less desirable as it would necessitate a package update for the consumers of msal-node.

[2022-07-15 18:51] derisen commented on #5008
@MrsCD could you please provide more detail on what is not working? Can you share the error or faulty behavior, some code snippets for how you are initializing and using msal, as well as any reproduction steps? If you could fill out the issue form that would help to diagnose -thanks.

[2022-07-15 21:37] #4920 closed, assigned to jo-arroyo

[2022-07-15 21:48] barosenfeldSA opened #5012 "Don't log user in immediately after password reset?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.3

### Description

I have setup B2C authentication in my React app that was created with create-react-app. Everything seems to be working. However, after a user successfully resets their password the _LOGIN_SUCCESS_ event is em

[2022-07-15 22:24] Alino commented on #3666
Any ETA on this please?

[2022-07-16 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-16 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-16 01:01] ghost commented on #4733
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-16 10:15] bartlomiejzuber commented on #3923
Hi, yeah it worked. Not everything can be pollyfilled by jsdom though. When it comes to local storage you need to implement it using chrome's storage API.

[2022-07-16 13:01] ghost commented on #4965
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-16 13:01] ghost commented on #4933
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-16 21:12] Alino commented on #3923
Thanks, I have tried this, implementing the localStorage using chrome storage API but I think msal cannot access the value of ```localStorage.getItem()``` as it is async. And real localStorage is not async.

[code]

I think it would require changes in msal code itself to be able to await async values.

Did you do it in a different way?

relation with https://github.com/AzureAD/microsoft-authentica

[2022-07-17 13:01] ghost commented on #4915
@hills001 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-18 01:01] ghost commented on #4997
@robins1212 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-18 01:01] ghost commented on #5006
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-18 01:01] ghost commented on #5001
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-18 01:01] ghost commented on #4994
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-18 01:01] ghost commented on #4991
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-18 01:01] ghost commented on #4913
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-18 01:01] ghost commented on #4817
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-18 01:59] sameerag commented on #5012
@derisen Can you please confirm this behavior once with our samples? I assume the general behavior has to be re-enter the password.

[2022-07-18 05:38] 153011490 opened #5013 "Can not back to application after successfully login via popup"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.3

### Description

Hi MS supp,

   Our application is using MSAL React to login, we are using `loginPopup ` interaction type. When we set `http://localhost:3000` as the redirect uri in our local machine, the login pop up can cl

[2022-07-18 13:01] ghost commented on #5002
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-18 13:01] ghost commented on #4996
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-07-18 13:53] kengaderdus commented on #4939
@derisen Thanks for the update.

[2022-07-18 17:24] sameerag commented on #5007
Service confirmed they cannot return the control to the app, these failures are displayed to the user to close the browser session and retry as needed.

MSAL JS has no control here.

[2022-07-18 17:33] #4817 closed, assigned to sameerag

[2022-07-18 17:58] sameerag commented on #4954
When you say same domain, is it as per [same domain rules](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy), and can you please confirm if the cache is shared?  I suspect the cache isn't and hence you are unable to fetch the accounts info. Please let us know once you check this.

[2022-07-18 18:09] sameerag commented on #4970
`login_hint` is the `upn` or `preferred_username` claim in the `idToken`, you can find the reference [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens).

Can you please clarify what you mean by:

Where are you entering this? As the `username` in the `login` page?

[2022-07-18 18:23] sameerag commented on #5001
`msal-node` is supported for desktop (public clients) apps (electron apps say or any node based apps) and for web applications (confidential clients). If you are looking for a way to transfer a server based app session(say msal-node authenticated your service app), to your SPA (which uses msal-browser), we support couple of ways to do this.

One way to address this is using the API `ssoSilent`and

[2022-07-18 19:04] #5007 closed, assigned to sameerag

[2022-07-18 19:06] derisen commented on #5012
@BeeR-II this is expected, with both legacy and self-service password reset user flows. If you want the user to sign-in again with their new password, you can listen for the `LOGIN_SUCCESS` event, and then check the `idTokenClaims `of the user. If the `isForgotPassword ` claim appears and is set to true, you can log them out and ask them to sign-in again -you might need to migrate to [self-service

[2022-07-18 19:11] sameerag commented on #4996
@minggangw  can you please provide me the below info:
- What is the `msal-browser` version in use?
- Did you explicitly allow popups for the websites above or are you testing all the scenarios on default settings of safari?

We expect `msal-browser` to work if the popup method is triggered as a result of user interaction and popups were previously blocked. Please also share the logs (enable msal l

[2022-07-18 19:19] sameerag commented on #4988
@xtianus79 What you arrived at is correct, in the case that the `KnownAuthorities` is a static array that informs MSAL JS of all the authorities an application would use in a given MSAL instance. The authorities added here should match the one used in the request/configuration for a successful token request.

Did you add both the URLs in `KnownAuthorities` and test if both the token calls pass?

[2022-07-18 19:31] barosenfeldSA commented on #5012
@derisen Thank you for the quick response and confirmation. That was what I had implemented as a workaround in the meantime, but I'm happy to know that this is the expected behavior and that is the recommended approach.

For the benefit of anyone else reading this thread, after listening for the `LOGIN_SUCCESS` event and triggering log out if the the user was resetting the password, I was still se

[2022-07-18 19:31] #5012 closed, assigned to sameerag

[2022-07-18 19:32] tnorling commented on #5006
@taurheim Thanks for the suggestion! We'll add this to our backlog to investigate. To help provide a bit more detail, what are you expecting each API call to return in this case? Are you expecting both invocations of `loginPopup` to return the result? Or is it acceptable for the 2nd call to continue to throw `interaction_in_progress` as long as it refocuses the popup first? What about if the two p

[2022-07-18 19:35] hectormmg commented on #4879
@awanlin apologies for the delay, we have been investigating a possibly related issue with msal-node's network module that may be affecting the way network and HTTP errors are reported. Will update this issue when we have more information.

[2022-07-18 19:47] hectormmg commented on #4913
@tejaswibm-roposo have you tried different browsers? We can't seem to find any reason for the protocol to upgrade, but there could be a browser configuration setting doing this automatically.

[2022-07-18 20:57] tnorling commented on #5013
@153011490 Can you please confirm the top frame application domain matches the popup window domain exactly? Are there any errors thrown or printed to the console?

[2022-07-18 21:23] tnorling commented on #5011
@zico209 Can you please provide your configuration and your routing guard implementation so I can better assist you? Have you seen our Vue3 sample, which implements a routing Guard [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/vue3-sample-app/src/router/Guard.ts)?

[2022-07-18 21:28] tnorling commented on #4994
@jeroenheijmans Thanks for raising this, this is happening because the `idToken` issued by the service does not contain a `name` claim in your case. Either double check if additional configurations are needed by the service to return this claim or add a check that verifies `account[0].name` is defined before attempting to run `.split` on it. I'll update the sample to include this additional check.

[2022-07-18 21:50] #4601 closed, assigned to shylasummers

[2022-07-18 21:50] #4915 closed, assigned to bmahall

[2022-07-18 21:52] tnorling commented on #4967
@tsampath I would first suggest upgrading to `msal-browser` v2 and `msal-angular` v2 as this will provide you with a refresh token that can be used to silently acquire new access tokens for up to 24 hours.

The x-frame options deny error happens when the IDP is expecting some sort of user interaction (such as sign in) which it cannot display in the hidden iframe (which is the only silent renewal m

[2022-07-18 23:36] ghost commented on #4601
:tada:This issue was addressed in #5004, which has now been successfully released as `@azure/msal-common@v7.2.0`.:tada:

We recommend upgrading to the latest version of `@azure/msal-browser` or `@azure/msal-node` to take advantage of this change.

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-common-v7.2.0)
* [Official NPM Relea

[2022-07-18 23:38] ghost commented on #4601
:tada:This issue was addressed in #5004, which has now been successfully released as `@azure/msal-browser@v2.28.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.28.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.28.0)

[2022-07-19 00:58] 153011490 commented on #5013
Yes, the top frame application domain matches the popup window, the console doesn't show any errors. May we know if it is necessary to use NodeJS Server to deploy instead of using Weblogic Server to deploy? We are using webpack to build our application and then deploy output javascript files to Weblogic.

[2022-07-19 01:01] ghost commented on #4953
@ckeboss This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-19 01:01] ghost commented on #4918
@tiennguyen1293 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-19 01:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-19 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-07-19 02:18] annndddy commented on #4970
that mean i input like this
![msal1](https://user-images.githubusercontent.com/66762687/179648830-c4e3edea-d492-4bc5-8f9b-a376427c6d29.PNG)
after i click next it show like this
![msal2](https://user-images.githubusercontent.com/66762687/179648886-de311b22-7908-42a2-85e8-2cfcefb630f1.PNG)

you can see at the second picture the email abc@abcde.com show at the input password phase

but i use login_hi

[2022-07-19 03:29] sameerag commented on #5006
cc @EmLauber

[2022-07-19 03:32] minggangw commented on #4996
We are using @azure/msal-browser v2.22.0 2022-02-08

The pop-up blocker is enabled as default on Safari iOS and we tested using the default setting (enable the pop-up blocker)

Meanwhile, I did more investigation to identify the root cause and found that

- Calling `msalObj.loginPopup()` only can trigger the popup
- Our case is calling `msalObj.loginPopup()` inside `ssoSilent()`, which fails, e.g.

[2022-07-19 03:34] sameerag commented on #5002
Yes. You seem to selectively logout based on policy.

The cache contents for account before and after your code. In your case, `sessionStorage`.

Can you also share your console logs (msal logs - which may indicate deletion of the account if executed)?

[2022-07-19 04:03] sameerag commented on #5002
The original warning you are seeing happens when we try caching the tokens after the server response and cannot find an "account" stored in the cache. Adding @derisen who recently made changes in a related PR.

[2022-07-19 05:42] MrsCD commented on #5008
@derisen unfortunately I cant send you a code snippet. This is all I have. We tried again yesterday to change the URL. However it isnt working. We only see a blank screen when calling the web app. We spent so much time already, but we cant find a solution and the deadline is so near.
Is there a possibility to change the deadline for us? Even only 1 more month, so instead of Aug 31, 2022 to Oct 01,

[2022-07-19 05:44] ChongZhiCZ commented on #5011
https://github.com/AzureAD/microsoft-authentication-library-for-js/files/9122801/vue3-sample-app.zip

This is my demo project modified on vue3 simple. All details are here.

[2022-07-19 06:17] tejaswibm-roposo commented on #4913
@hectormmg  - No. I have not tried on other browsers. Will try to replicate it and update here.

[2022-07-19 06:34] Airdevelopments commented on #4910
I got it working on iOS. I am also using the msal-browser module + the InAppBrowser.

The only difference I noted on quick glance: I am using the AAD protocol. But I doubt that is the cause of your issue.

Also note: It's not working in dev environment, only in a final build. This is because of browser security.

[2022-07-19 07:18] jeroenheijmans commented on #4994
Cheers, thanks! That'd be great for future users of the sample! I had figured as much for the root cause, but it'll be great for others if the sample's robust against this out of the box.

Thanks for your replies, good luck with your endeavors!

[2022-07-19 08:18] sharmmoh1983 commented on #4904
@derisen  I have already  shared  the details in previous posts. Call is failing while retrieving the token from cache first time.
Or you let me know the exact steps that you ra following at your end which is working

[2022-07-19 10:16] svdHero commented on #5002
@sameerag and @derisen I have removed the lines
[code]
completely now, but that did not change anything. Still the same warnings and behaviour.

The verbose browser log looks like this:
[code]

Cookies in my browser include

- `x-ms-cpim-sso:mycompanyauth.onmicrosoft.com_0`
- `ai_session`
- `x-ms-cpim-csrf`
- `ai_user`

The Session Storage has values for these keys (slightly obfuscated):
- `9fbe96

[2022-07-19 13:01] #4632 closed, assigned to derisen

[2022-07-19 15:44] Alino opened #5023 "Allow developers to use custom cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

As a developer I would like to be able to somehow hook into the caching mechanism of MSAL for browser so that I can write my own functions for retrieving data from cache and storing data to cache.

This would for example allow me to to use chrome.storage API in the chromium extension context.

[2022-07-19 15:52] Alino commented on #3666
relation with https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5023

[2022-07-19 16:15] tnorling commented on #5023
@Alino Thanks for expressing your interest in this feature, it is one we have heard before and we do have an item in our backlog to add this. Closing this as duplicate, however, you can track any updates regarding prioritization in #1588. cc. @EmLauber

[2022-07-19 16:15] #5023 closed, assigned to tnorling

[2022-07-19 16:28] tnorling commented on #4965
@timtong1982

This is exactly right. When using a router with the redirect flow you must ensure that either:

1. Your route change is triggered **after** `handleRedirectPromise` has resolved
or
2. Your router preserves the url fragment (hash) during the route change

In your case your router is navigating to a static route, which results in the response hash from the login being lost.

[2022-07-19 16:30] tnorling commented on #5013
@153011490 What you use to deploy shouldn't matter. Can you please provide a video or a link to your site showing the behavior? You may email it to me if you prefer.

[2022-07-19 16:38] tnorling commented on #5008
@MrsCD Unfortunately there's not enough information here to help you. I'm not aware of the deadline you're referring to and have no power to change it. My only suggestion is that you can file a [support ticket with B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and they may be better able to assist in this regard. If you have issues specific to MSAL.js I would be

[2022-07-19 16:47] tnorling commented on #4996
@minggangw This makes sense. Popup blockers require that the popup be opened as a direct result of user interaction (clicking a button for example) in order to not be blocked. By wrapping the call in ssoSilent first, the popup is now opened in an async context, rather than from the button click. Is there a reason you need to call ssoSilent on button click?

[2022-07-19 18:04] derisen commented on #5002
@svdHero this is strange. Can you please share `homeAccountId`s of all the accounts in the cache (via `getAllAccounts()` for instance) and the current active account (`getActiveAccount()`) when this happens? Also, can you tell me if you are acquiring a token for your web API at sign-in (i.e. passing web API scopes to the `login*` method), or incrementally later on?

[2022-07-19 18:13] derisen commented on #4904
@sharmmoh1983 I'm afraid I don't have enough information to diagnose this, which is why I asked those details. The original issue and the details provided was about the `interaction_required` error/exception not being thrown, hence the failing silent token call (which is expected in this case) did not get handled. This was fixed by catching the correct exception, and initiating an interactive toke

[2022-07-19 18:35] tnorling commented on #4970
@annndddy Is this a guest user scenario? In other words, does abc@abcde.com belong to the tenant which you are trying to sign in or a different one?

[2022-07-19 18:48] tnorling commented on #4733
@chuckyOHare Apologies for letting this fall through the cracks. It appears the redirect interaction is invoked as expected and then your code immediately prints "no jobs found". I'm wondering if this may be due to [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/48525cc579e3102a25ea0c1f9e7be6663368acb5/lib/msal-angular/src/msal.interceptor.ts#L105) not being awa

[2022-07-19 19:13] tnorling commented on #4799
@MateusDev98 I've taken another look at your latest network trace and you are passing a `postLogoutRedirectUri` of: `https://sit-viatracking.via.com.br/loggedout` which doesn't appear to be registered. This is why the cookies are not being cleared and you are not being redirected back to your application. You need to either register this as a `redirectUri` on your app registration or provide a` po

[2022-07-19 19:40] tnorling commented on #5011
@zico209 Thanks! A couple things I noticed:

1. By default the library will redirect the user back to the page which started the login flow (in your case /signin) after hitting the specified `redirectUri`. Sounds like you don't want this behavior so to disable you can either set the `navigateToLoginRequestUrl` flag to false in your `auth` config (authConfig.ts -> msalConfig -> auth). Alternatively

[2022-07-19 20:14] MateusDev98 commented on #4799
@tnorling Well, I believe I already made this configuration, but let's run it again and I'll send you a report with the call logs.

[2022-07-20 01:05] 153011490 commented on #5013
@tnorling Please refer the picture
![login popup window](https://user-images.githubusercontent.com/26665684/179873530-27727495-cc8d-4ba9-8261-e18582a936f5.png)
.

[2022-07-20 01:43] Jesse-Lucas1996 opened #5027 "Redis Support"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.4.1

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

2.0

### Description

Hello!

I was hoping you could tell me when we could expect redis support for caching? I see it on the road map was just seeing if we had a date!

Thank you

### MSAL Configuration

_No respo

[2022-07-20 01:59] annndddy commented on #4970
@tnorling this use case is from our company user
the user like this
{
username 12345@abc.onmicrosoft.com
email: abc@abcde.com
}
and we already set allow to login by email, and pass the email (abc@abcde.com) by the login_hint
in this case we input the password and the login is successful
but the problem is we don't want the username show to the user, because the username (@abc.onmicrosoft.com) is n

[2022-07-20 04:35] minggangw commented on #4996
I see, we call the ssoSilent because we want to sso directly for Edge browser where some Edge-only functions are available to achieve that. I think we can call `loginPopup` on Safari directly in this case, so close this issue and thanks for your help!

[2022-07-20 04:35] #4996 closed, assigned to mpminayo

[2022-07-20 05:07] sameerag commented on #2600
Closing this. We have a custom proxy implementation now with node http/https and should solve this issue.

[2022-07-20 05:07] #2600 closed

[2022-07-20 05:07] sameerag commented on #3332
cc @tnorling

[2022-07-20 05:08] sameerag commented on #4153
cc @Robbie-Microsoft, assigning this to you, aligns with the current feature you are working on. Please update this feature once we close on it.

[2022-07-20 07:10] euphoria3k commented on #4920
@jo-arroyo unfortunately i have tried the new release with the Angular 11 B2C sample and the same problem still occurs. If you add the code to handle the LOGIN_FAILURE event to check for 'AADB2C90118', click "Web API" link to navigate to the protected path, it will redirect correctly to the login screen. However when you click the forgotten password link it returns to the sample app but does not t

[2022-07-20 08:53] remojansen opened #5028 "<AuthenticatedTemplate> is rendering children when session is expired"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.3

### Description

I'm trying to use `<AuthenticatedTemplate>` and `<UnauthenticatedTemplate>`. They work as expected with one exception: When the session is expired. When the session expired, I could not use `acquireTokenSilen

[2022-07-20 12:15] svdHero commented on #5002
@derisen Thank you for your questions. I've added your requested account information to the logging and get the following now:
[code]

I do not pass any API scopes to the initial `msalSingleton.loginRedirect()` call. Only later, I pass my back-end API scope to the `msalInstance.acquireTokenSilent()` call.

More precisely, the initial login request is
[code]
and the acquire token request is
[code]

[2022-07-20 15:34] taurheim commented on #5006
Hi @tnorling, good questions :)

I don't think we have an expectation of what the API would look like - for our use case the approach you describe would work (throw interaction_in_progress but still focus the window)

[2022-07-20 16:33] tnorling commented on #5028
@remojansen This behavior is expected and as designed. MSAL.js is stateless in that it doesn't have any knowledge of the validity of the user's session, it only has some static information about the user, including tokens. You should never assume that acquireTokenSilent will work, nor should you use the `AuthenticatedTemplate` or `UnauthenticatedTemplate` components as a security boundary, they ar

[2022-07-20 16:35] tnorling commented on #5027
@Jesse-Lucas1996 Have you seen our [redis sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/RedisTestApp)?

[2022-07-20 17:49] tnorling commented on #5013
@153011490 Please check that your router is not auto-redirecting the popup or removing the hash. We generally recommend using a blank page that does not contain any logic as your redirectUri page when using popups as your interaction type, both for improved performance and to avoid issues like this.

[2022-07-20 18:00] tnorling commented on #4970
@annndddy I believe it will always show username but this is not something that MSAL controls so I can't say for sure. If you'd like you can open a support ticket [here](https://azure.microsoft.com/en-us/support/create-ticket/) and they may be able to answer more definitively.

[2022-07-20 18:00] #4970 closed, assigned to tnorling

[2022-07-20 18:41] remojansen commented on #5028
Thanks for the answer, I'm doing what you suggested but I wanted an official confirmation :)

[2022-07-20 18:41] #5028 closed, assigned to tnorling

[2022-07-20 19:51] devszr opened #5030 "Teams Tab using msal-browser ssoSilent on Android Device"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are using msal-browser in our Teams SSO tab to invoke backend APIs with SSO. The flow is as follows:

* User signs into Microsoft Teams
* User loads a Tab with our custom App
* The Tab uses msal-browser to get an access to

[2022-07-20 21:52] jo-arroyo commented on #4920
@euphoria3k Did you configure the sample [like so](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/events.md#optional-msalbroadcastservice-configurations)?

[2022-07-20 21:57] #4994 closed, assigned to tnorling

[2022-07-20 22:18] ghost opened #5031 "msal.loginPopup fails to login when user has permissions w/o error message"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.3.2

### Description

Two issues:
1. msal.loginPopup fails to login when user has permissions w/o error message

What we saw:
1. open the website in Chrome or Edge
2. Click Login button
4. sign in with popup dialog (msal.loginPo

[2022-07-21 01:01] ghost commented on #5000
@siddarthapal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-21 01:08] 153011490 commented on #5013
@tnorling But in my local machine, using `http://localhost:3000` as both host and redirectUri is normal , the popup window will close itself after login

[2022-07-21 12:02] euphoria3k commented on #4920
@jo-arroyo yes i have added the following to ngOnInit in app.component.ts

[code]

Thanks

[2022-07-21 13:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-21 13:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-21 13:02] sailor commented on #4921
I'm also having the same problem.

[2022-07-21 15:02] jo-arroyo commented on #4920
@euphoria3k Please add configuration values for the `MsalBroadcastService`, in addition to what you've done above. It is detailed in the docs I linked above (it will be in the app.module.ts, not in the app.configuration.ts), but I have also pasted the relevant parts below:

[code]

[2022-07-21 17:46] tnorling commented on #5030
@devszr Can you share some code snippets of your usage? Can you also try to collect some logs from MSAL as well as the network? Thanks!

[2022-07-21 17:51] tnorling commented on #5031
@momoliu-msft What do you mean when you say "page gets refreshed"? Are you referring to the main tab or the popup window? Refreshing the page during a sign in will abort the flow, you should debug to see why this is happening.

[2022-07-21 17:54] tnorling commented on #5013
@153011490 I can't tell you why localhost is behaving differently from your hosted app without a reproduction. I can, however, tell you what may cause this behavior more generally, which is what I explained above. Does the popup window still contain a hash in the url when it is left open?

[2022-07-21 18:25] derisen commented on #5002
@svdHero apologies for the late response. It seems you have only one account in the cache, which suggests this isn't related to switching accounts. Let me try to reproduce this on my end. In the meantime, any chance you can add your API scope to the `loginRequest` object and see if you are running into the same issue again (this log in the console)? I have a suspicion that msal is not able to rede

[2022-07-21 18:31] ghost commented on #5031
Hey, I mean the page gets redirected as expected after the msal.loginPopup(). We do not interrupt the login process.

[2022-07-21 18:32] ghost commented on #5031
then if we check useIsAuthenticated, it is still false.

[2022-07-21 19:10] Alino commented on #1588
I created my forked version with similar changes from the master branch. I have tested it manually and it works, but it is still synchronous. I will try to make it work with async.

https://github.com/Alino/microsoft-authentication-library-for-js/tree/customStorage

[2022-07-21 20:17] tnorling commented on #5031
@momoliu-msft I'm not sure I understand. MSAL does not redirect the main page when using popups, is this something your app is doing specifically?

[2022-07-21 20:24] ghost commented on #5031
Let's forget the redirect. What I see is that, after msal.loginPopup(), useIsAuthenticated is still false and we do not have any exception/error returned.
Rarely see it when using Edge, but a lot when using Chrome.

[2022-07-21 20:34] tnorling commented on #5031
@momoliu-msft The redirect here is important because if an error occurs it will be lost when the page changes. The only reasons `isAuthenticated` would be false is if there is no user signed in or there isn't an `MsalProvider` component rendered above. Since you say it works in Edge it means it's likely the former and is likely due to an error. If an error occurs during login you will need to capt

[2022-07-21 21:46] KeviCheng opened #5037 "Inquiry for token retrieval failure using first party application with MSALV1"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

I am making a call to get token using my first party application for some new feature work, but an encountering a time out. Could someone please help me lookt into the logs to see whats going on?

request url:
Request URL: htt

[2022-07-21 21:56] ghost commented on #5031
Thanks for the explanation. We see this intermittently on both Edge and Chrome. (Just less frequent with Edge)

Let's say that the endpoint is https://abcd.azurewebsites.net, user account is xyz@microsoft.com.

When the user visits the page, they see the login button, click it, then a window pops up, user chooses the account they want to use, which is xyz@microsoft.com, the popped-up windows gets

[2022-07-21 21:59] tnorling commented on #5037
Resolved offline. App registration was not configured for implicit grant

[2022-07-21 21:59] #5037 closed, assigned to tnorling

[2022-07-21 22:03] tnorling commented on #5031
@momoliu-msft Ah ok. This happens because there's a race condition between your application's router and MSAL.js attempting to retrieve the response from the popup (which is returned in the hash of the url). You need to ensure that your router is not redirecting the page or removing the hash inside the popup (most commonly people configure some sort of static route which results in the hash disapp

[2022-07-21 22:23] ghost commented on #5031
By setting redirectUri to a blank page, shall I expect that every time signing in, it will get redirected to that blank page? Or am I missing something here? Can I have an example?

[2022-07-21 22:25] tnorling commented on #5031
@momoliu-msft Only the popup window gets redirected to your redirectUri and ideally that popup should get closed before the user has even noticed

[2022-07-21 22:52] ghost commented on #5031
Something like this?

msalInstance.loginPopup({
    redirectUri: "http://localhost:3000/blank.html"
});

[2022-07-22 01:01] ghost commented on #4933
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-22 03:10] bmahall commented on #4933
@Toso82 Apologies for the delay, I have relayed your follow-up query for exact implementation details regarding B2C Custom policy to the relevant team.

Meanwhile, a broad-level overview of the implementation level changes that are involved in your scenario are as follows:-
Assuming you have your RestAPI registered in Azure, the following steps are required:-
1. **Cut UserJourneys section from Bas

[2022-07-22 07:28] svdHero commented on #5002
@derisen Okay, I have basically changed my code to this:

[code]
and the warnings disappeared. The logs look like this now:
[code]

My OIDC / OAuth knowledge is rather basic, so just two quick question for understanding the background:

1. With the code change above, the MSAL login not only retrieves an ID Token, but also an Access Token at the same time. Is that correct?
2. So the warning will re

[2022-07-22 07:56] ghost commented on #5031
Looks like we still have this issue after adding blank page redirect. Any other thoughts?

[2022-07-22 16:17] tnorling commented on #5031
@momoliu-msft Please confirm your blank page is not subject to your router. Does the url of the popup window contain a hash?

[2022-07-22 17:56] gitmurali opened #5038 "Next.Js SSR support example"
### Core Library

MSAL.js v2 (@azure/msal-browser), MSAL.js v1 (@azure/msal or msal), MSAL Node (@azure/msal-node)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

I was using msal-node library and I was trying to make it work with Next.JS SSR following these docs here https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node

but unfortunately

[2022-07-22 20:40] jeroenheijmans commented on #5001
Thanks for your reply and the extra info @sameerag. You mention:

The second bullet doesn't hold for my application. It's a NextJS application, which is an application framework on top of React, so we're using `msal-react`.

The third and fourth bullet I'm not sure about, would _maybe_ be possible, would have to investigate. But since you explicitly end with:

and since NextJS _is_ an SSR framewor

[2022-07-22 20:59] derisen commented on #4966
@xtianus79 apologies, this one fell through the cracks apparently. I've put this in the backlog and tracking internally, though I don't have an ETA unfortunately.

[2022-07-22 21:34] ghost commented on #5031
That's a good point. I made it work in local environment where the blank page not subject to the router.

I am wondering what address of the blank page we could use when the website in in the cloud.

[2022-07-22 21:51] derisen commented on #5002
@svdHero no worries, let me get to your questions (btw, you mentioned that the request to token endpoint takes about 3-11 seconds -is there an improvement on that front as well?)

1) That's correct. B2C (but not AAD) does not issue an access token at first sign-in -you'll have to explicitly ask for an API scope if you want that.
2) No, that shouldn't happen. Because you are now getting an access t

[2022-07-23 11:26] bartlomiejzuber commented on #3923
@Alino Hi again, I don't have access to that code anymore but briefly I can explain that I've tried two approaches:

* Converting async code to sync by spawning another service worker via `navigator.serviceWorker.register`, then doing a sync XHR, intercepting that call inside spawned service worker and putting data there. That didn't work well as finds out that there's a long waiting bug on chrome

[2022-07-23 13:01] ghost commented on #4991
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-07-23 16:17] devszr commented on #5030
@tnorling Thank you for the quick response.

Unfortunately, the latest version of Teams on Android has a problem with displaying the Dev Tools Window from both a physical and emulator device. See this MicrosoftDocs/msteams-docs#6467. Due to this, I am unable to get logs from the Dev Tools console.

I'll try to detail the code flow below:

We have a Blazor web app which is displayed as a Tab within

[2022-07-23 19:40] euphoria3k commented on #4920
@jo-arroyo thank you for your reply. I had not implemented the changes to the app.module.ts, however after doing so, i still can not get to work. I have pasted the code below:

[code]

Thank you for your support

[2022-07-24 01:01] ghost commented on #4988
@xtianus79 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-24 01:01] ghost commented on #4967
@tsampath This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-24 01:01] ghost commented on #4954
@baggiolorenzo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-24 01:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-24 20:26] sameerag commented on #4991
@scottdurow Apologies for the delay in the response.
`refresh_token` can never be returned for `client_credentials_flow` by design as per the spec [here](https://datatracker.ietf.org/doc/html/rfc6749#section-4.4.3).

The USP of`client_credentials` is to be able to revoke the credentials as needed without worrying about stolen refresh tokens. This is highlighted in the spec [here](https://datatrack

[2022-07-24 20:31] sameerag commented on #5001
Thanks @jeroenheijmans. Sorry that we could not help your use case.
@EmLauber marking this as `won't fix`. If we ever plan to support `Next JS` we can re-open this as needed.

[2022-07-24 20:31] #5001 closed, assigned to sameerag

[2022-07-25 01:01] ghost commented on #5011
@zico209 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #5008
@MrsCD This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #4965
@timtong1982 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #4913
@tejaswibm-roposo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #4904
@sharmmoh1983 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #4799
@MateusDev98 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] ghost commented on #4733
@chuckyOHare This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-25 01:01] #4997 closed, assigned to mpminayo

[2022-07-25 06:31] ChongZhiCZ commented on #5011
@tnorling Thank you! This is really helpful.

[2022-07-25 06:31] #5011 closed, assigned to tnorling

[2022-07-25 12:05] MateusDev98 commented on #4799
I'm still checking.

[2022-07-25 13:22] svdHero commented on #5002
@derisen Hm, regarding my second question: I don't really understand. When I tested it, the warning does reappear after the access token's expiration timestamp.
Also, I thought the problem was that the refresh token could not be cached and hence not be redeemed for an access token either.

Unfortunately, I do not have a public repo for testing. Let me see, if I can boil the problem down to some mi

[2022-07-25 16:13] scottdurow commented on #4991
Ok thanks @sameerag - so in my scenario I would need to store the client secret somewhere since the msal-node extensions don't allow you to store them in the same way as the refreshtoken.

[2022-07-25 16:41] jo-arroyo commented on #4920
@euphoria3k Please try using different numbers for the `replayPastEvents` and see if it works.

[2022-07-25 17:19] MateusDev98 commented on #4799
Hello, how can I see if you are actually passing the logout url? Well, everything is set up correctly. @tnorling

[2022-07-25 17:31] tnorling commented on #4799
@MateusDev98 You can check your network requests to AAD's `/logout` endpoint. You'll see your post_logout_redirect_uri in the query string

[2022-07-25 18:12] MateusDev98 commented on #4799
As I imagined, the correct url is being passed on logout. @tnorling

![image](https://user-images.githubusercontent.com/44756508/180845303-9a8c3bb0-f82b-459b-8044-d76e144fc400.png)
![image](https://user-images.githubusercontent.com/44756508/180845496-828ad534-294b-41db-b684-b46dabc6427c.png)

[2022-07-25 18:13] MateusDev98 commented on #4799
As I imagined, the correct url is being passed on logout.

![image](https://user-images.githubusercontent.com/44756508/180845660-749f77a7-d4e0-4a04-a3a0-af8df1f76377.png)
![image](https://user-images.githubusercontent.com/44756508/180845702-357f317d-95bb-4e66-b230-6dce4da5961a.png)

[2022-07-25 18:15] MateusDev98 commented on #4799
As I imagined, the correct url is being passed on logout. @tnorling

![image](https://user-images.githubusercontent.com/44756508/180845908-f13fb556-b16d-4314-830a-86447db30be2.png)
![image](https://user-images.githubusercontent.com/44756508/180845947-816adc87-2bbc-417f-9668-4ab0442ff5ac.png)

[2022-07-25 18:47] ver1ss1mus commented on #4104
We are facing the same issue as here, is there any updates?

[2022-07-25 19:58] tnorling commented on #4799
@MateusDev98 Please confirm this is also registered as a redirect url on the app registration?

[2022-07-25 20:17] MateusDev98 commented on #4799
@tnorling Yes it is, according to the second print.

[2022-07-25 20:58] tnorling commented on #4799
@MateusDev98 That is the front channel logout url, which is different from reply url (aka. redirect url). It needs to be registered as a reply url.

For example:
![image](https://user-images.githubusercontent.com/5307810/180877475-e3fdfc88-d6e6-488a-aefc-625c56d60d88.png)

[2022-07-25 22:08] tnorling commented on #5031
@momoliu-msft You should be able to serve up static assets. Alternatively, you can ensure that your router preserves the hash while routing. The issue isn't so much the presence of the router and more so that it is indeterminately redirecting to a static route which ends up removing the hash.

[2022-07-25 22:17] tnorling commented on #4753
Closing as it sounds like this has been resolved by upgrading React. Please open a new issue if you're still having issues.

[2022-07-25 22:17] #4753 closed, assigned to tnorling

[2022-07-26 01:01] ghost commented on #5027
@Jesse-Lucas1996 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-26 03:07] 153011490 commented on #5013
@tnorling Yes, your understanding is right, I have solved it, thanks~

[2022-07-26 03:07] #5013 closed, assigned to tnorling

[2022-07-26 08:43] khanhnguyen3759 opened #5041 "Seamless SSO with Azure AD"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Description

Hello guys,

I working on a feature request for Seamless SSO https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-how-it-works

Could electron apply this topic? https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-co

[2022-07-26 09:26] euphoria3k commented on #4920
@jo-arroyo i have tried increasing the value with several different values and it doesn't seem to make any difference.

[2022-07-26 12:59] MateusDev98 commented on #4799
Hi, yes it is configured in that option as well. @tnorling

![image](https://user-images.githubusercontent.com/44756508/181011519-6dc21297-05a4-4ab5-9cc1-b86a66ba1ef3.png)

[2022-07-26 13:30] jconway12 opened #5042 "@azure/msal-angular@2.3.0 : Error - Guard - error while logging in, unable to activate"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

13

### Description

I successfully set up Azure AD B2C with a separate configuration. I am attempting to update the auth-config file to include a copied version of the Azure instance, but the login window does now appear on redirect

[2022-07-26 14:57] tnorling commented on #5038
@gitmurali We unfortunately do not support token acquisition during server-side rendering for SPA apps today. I've added a feature to our backlog to take this under consideration.

[2022-07-26 15:01] tnorling commented on #5030
@devszr It sounds like this is a bug in the Teams app if it's working on an older version. I unfortunately can't provide more insight than that without logs. I would suggest raising this with Teams to find out what changed or if your usage in their environment can be improved.

[2022-07-26 15:43] sameerag commented on #4991
Yes. cc @jmprieur in case he has anything to add.

[2022-07-26 15:48] jo-arroyo commented on #4920
@euphoria3k Can you check that you are filtering for the right error when subscribing to the failure events?

[2022-07-26 17:45] derisen commented on #5002
@svdHero apologies, I've given this a try again but I'm not able to reproduce it. From the cache keys you shared it seems the refresh token *is* cached, but for some reason it seems msal is not able to redeem it for an access token. There was a change recently to how msal handles refresh tokens that *might* have caused a regression, but your version of msal-common suggests this is not related (I c

[2022-07-26 18:59] awanlin commented on #4879
Just wanted to check in to see if there was any update on this?

We have tried using version `1.12.0` of @azure/msal-node but we still get the same error

[2022-07-27 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-27 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-27 01:19] jmprieur commented on #4991
@scottdurow if you cannot use a secret store, you could use Azure KeyVault.
See [here](https://www.bing.com/search?q=node.js%20secret%20store&qs=n&form=QBRE&=Search%20%7B0%7D%20for%20%7B1%7D&=Search%20work%20for%20%7B0%7D&=%25eManage%20Your%20Search%20History%25E&sp=-1&pq=node.js%20secret%20store&sc=0-20&sk=&cvid=73D63A1F531F48C6870214B31943D6AC&ghsh=0&ghacc=0&ghpl=)

[2022-07-27 09:42] euphoria3k commented on #4920
@jo-arroyo i am filtering like so

[code]

[2022-07-27 11:44] mudaser85 commented on #4879
As @awanlin mentioned, this is not working for us too. We have a very simple environment and this is the error we are receiving.
"errorCode":"endpoints_resolution_error","errorMessage":"Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_config_error: Could not retrieve endpoints. Check your authority and verify the .well-known/openid-configurati

[2022-07-27 12:47] gitmurali commented on #5038
@tnorling does `msal-node` package not support on SSR  on SPA's ?

[2022-07-27 12:56] gitmurali commented on #5038
@tnorling can we not use this as example app in my nextjs app ? https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-nodejs-webapp-msal

[2022-07-27 13:01] ghost commented on #4933
@Toso82 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-27 16:58] ellymakuba commented on #5042
try to use the following authority "https://tmwdev.b2clogin.com/tmwdev.onmicrosoft.com/B2C_1_tmwdevsingupsignin". Please also provide verbose logs from MSAL.

[2022-07-27 17:02] ellymakuba commented on #5041
Please clarify what you want to achieve. Seamless SSO feature in windows is enabled by admins and is out of the control of the MSAL SDK.

[2022-07-27 17:05] khanhnguyen3759 commented on #5041
@ellymakuba  so how electron can do this feature without msal sdk?

[2022-07-27 17:08] tnorling commented on #5038
If you are purely acquiring tokens server-side I suppose you could use msal-node but that would defeat the purpose of SSR, no? When I think about SSR support I'm thinking that you would like the ability to acquire tokens server-side when the app (or a new page) is first loaded and then client-side thereafter. This is a scenario we do not support today.

[2022-07-27 17:12] khanhnguyen3759 commented on #5041
Any limitation here with electron to do this feature if any sir? Could you explain?

[2022-07-27 17:18] tnorling commented on #4799
@MateusDev98 hmm...the logs you had sent me before stated that this wasn't registered. I can follow up on this with our server teams to see if they can identify the discrepancy here but I'll need a fresh network trace. Think you could email me a new one?

[2022-07-27 17:22] MateusDev98 commented on #4799
@tnorling Hello, sorry I didn't express myself correctly, but this last configuration in the redirect url was done last, right after your request, but it didn't work either, I'll provide a new network log.

[2022-07-27 20:22] svdHero commented on #5002
@derisen I am a bit busy this week, but next week I will certainly provide you with both some test app and (if you show me how) with some Fiddler trace.
Would I just add Fiddler to my Front-End SPA via npm package?

P.S.: I will check the API permissions tomorrow first thing in the morning.

[2022-07-27 20:23] jo-arroyo commented on #4920
@euphoria3k Could you try console logging or otherwise printing the result.error to make sure that 'AADB2C90118' is the error being thrown? I am not able to reproduce that exact error because our samples do not use the legacy password reset policy. Have you considered using the self-service password reset policy detailed [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-passwo

[2022-07-27 20:53] derisen commented on #5002
@svdHero sounds great. For Fiddler, there are some instructions here on [how to install](https://docs.telerik.com/fiddler/configure-fiddler/tasks/installfiddler) and [capture traffic](https://www.telerik.com/videos/fiddler/getting-started-with-fiddler-web-debugging-proxy). But essentially you let it run/capture in the background while running your app end to end (trying to reproduce the issue), th

[2022-07-27 22:19] cssuh opened #5044 "AADSTS50148: The code_verifier does not match the code_challenge supplied in the authorization request for PKCE"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.9.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

After fetching the auth code, I try calling `acquireTokenByCode` and it gives me this error:

`'50148 - [2022-07-27 18:16:02Z]: AADSTS50148: The code_verifier does not match the code_challenge supplied in the authorization request

[2022-07-28 00:01] derisen commented on #5044
@cssuh can you also share the code snippet where you call the `acquireTokenByCode` API? Also, is this a public client or confidential client app?

[2022-07-28 00:45] cssuh commented on #5044
public client - I am working on the MSAL implementation for ADS
I updated the code snippets, please let me know if there is any other info you need.

[2022-07-28 01:01] #5000 closed, assigned to mpminayo

[2022-07-28 04:27] derisen commented on #5044
@cssuh ah, it seems you're not passing the code verifier to the `acquireTokenByCode`. Your request object should look something like:

[code]

[2022-07-28 07:26] svdHero commented on #5002
@derisen I have checked B2C App Registration for my Front-End SPA in Azure Portal. When I click on the menu item "API permissions", I see the following:
![API-Permissions](https://user-images.githubusercontent.com/24250824/181445921-96fde42f-0e75-45f8-a901-686a7496175d.png)
I assume that admin consent is granted then. How else can I check that?

[2022-07-28 08:08] cssuh commented on #5044
@derisen that worked, thank you so much!

[2022-07-28 08:08] #5044 closed, assigned to ellymakuba

[2022-07-28 13:44] jconway12 commented on #5042
I reconfigured the authority as you specified and updated the code to follow this tutorial: https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-angular-spa-app.

I will say there were some outdated components of that documentation, so I had to take some liberties to get it working. Redirect is now working as expected. Thank you!

[2022-07-28 13:44] #5042 closed, assigned to ellymakuba

[2022-07-28 15:38] derisen commented on #5002
@svdHero looks in order, thanks for confirming that!

[2022-07-28 16:18] binarydmon opened #5046 "The provided authority is not a trusted authority"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

In our Kibana logs the following error occurs very often:

Uncaught (in promise): ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detai

[2022-07-28 17:20] sameerag commented on #4991
Thanks @jmprieur. Closing the issue @scottdurow, please reach out in case you are blocked on anything else with a new issue.

[2022-07-28 17:20] #4991 closed, assigned to sameerag

[2022-07-28 17:26] jasonnutter commented on #3569
#5036 will expose the raw id token, which applications can pass to the logout APIs if desired (the library will not automatically include it as `id_token_hint` if an account is passed).

[2022-07-28 17:30] jasonnutter commented on #4686
This should be addressed in `2.27.0`. Please open a new issue if there are further concerns.

[2022-07-28 17:30] #4686 closed, assigned to nobody

[2022-07-28 17:34] jasonnutter commented on #4176
@0xdbe Curious if the changes made in #4998 help here?

[2022-07-28 17:54] ellymakuba commented on #5041
Msal-node doesn't support token retrieval from WAM today, but we will in the future. So, you cannot do seamless SSO with electron alone.

[2022-07-29 07:24] keki007 opened #5050 "How to pass additional Headers to msal-node HttpClient"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I need to add some custom Headers to the HTTP requests made by the msal-node.

The reason for this is that I'm trying to implement the Authorization code with PKCE flow in Node and it only works if I add the Origin header (normal

[2022-07-29 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-07-29 13:58] TiagoNH opened #5051 "acquireTokenByClientCredential is returning an invalid token"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm trying to retrieve a valid access token, but it happens that the token I'm getting is not valid, I mean, if I put it on jwt.ms website it cannot be decoded.
At first glance the string looks like a valid jwt token, but when I

[2022-07-29 14:01] #5051 closed, assigned to ellymakuba

[2022-07-29 14:01] TiagoNH commented on #5051
sorry, found the issue

[2022-07-29 14:55] mpbiehn opened #5052 "Redirect URL in hybrid (cordova) app results in error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.3

### Description

I'm trying to leverage msal-react within a hybrid app using Cordova. Web is working great but I can't figure out what redirectUri to specify to get it working in the hybrid app (web view). I've leveraged the

[2022-07-29 15:40] devszr commented on #5030
Thanks @tnorling for a quick response once again.

We did a few more tests and managed to get our Tab app using msal-browser working on the Teams desktop, web and Android clients.

What we found is, `MSAL.ssoSilent(tokenRequest)` fails on the first attempt for some reason on the teams Android client even though we have performed a ` microsoftTeams.authentication.getAuthToken()` before calling it w

[2022-07-29 16:42] tnorling commented on #5030
@devszr This does make sense, silent calls are not guaranteed to succeed and you should always implement fallback logic to an interactive API as you've done here. What you've shown here works, you could further optimize by selectively calling redirect or popup based on the environment rather than potentially calling both but that's ultimately up to you, it shouldn't affect MSAL's behavior.

[2022-07-29 16:49] devszr commented on #5030
Sounds good. I am not sure we are able to know if we are inside the Teams web, desktop or mobile clients from within JavaScript, so until we have a way to figure out the environment we are working in, I guess we'll have to continue with this try/catch approach.

Thank you for all the assistance. I will close this issue.

[2022-07-29 16:49] #5030 closed, assigned to tnorling

[2022-07-29 19:42] sameerag commented on #5050
@kevinkilroy  Yes it is possible to override the default `HttpClient` implementation in `msal-node`. While configuring the app, a user can initialize it with an instance of [`INetworkModule`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/network/INetworkModule.ts) to do this.

[2022-07-30 14:57] danljs commented on #5051
@TiagoNH Encountered a similar problem, how did you solve it?

[2022-07-30 20:38] easingthemes opened #5053 "idToken can't be retrieved from cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

`acquireTokenSilent` method can be used only for accessToken.
It should also be available for idToken.

My app is using only idToken, accessToken is always empty.

Currently there is no way to get idToken from cache, with the

[2022-07-31 01:01] ghost commented on #5031
@momoliu-msft This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-31 01:01] ghost commented on #5027
@Jesse-Lucas1996 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-07-31 01:01] #4988 closed, assigned to mpminayo

[2022-07-31 09:49] TiagoNH commented on #5051
@danljs there were no issue at all, it was my mistake...I was checking the token through the debugger, which apparently doesn't show the entire string. So, when I picked the token with a console.log and checked it, it was OK.

And I really thought my token was invalid, because when I was using it to authenticate on the web API, I was getting an authentication error. But now I found the real reason

[2022-07-31 13:01] #4954 closed, assigned to mpminayo

[2022-08-01 00:52] keki007 commented on #5050
Yes I know I can do that, I was more thinking of extending the current implementation rather than replace it. Something like:

[code]

But I couldn't find a way of importing the existing HttpClient. Is it possible?

Thanks,

Kevin.

[2022-08-01 04:08] r-delgadillo commented on #4871
@derisen We are finishing up some existing code paths for ADAL -> MSAL adoption and noticed the cache is not being set when using NodeJs ConfidentialClient.acquireTokenByRefreshToken method. Underneath it goes through the [RefreshTokenClient.acquireToken](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/5ef1da0fa05bad08d09bc6f41dec14f373acdb3f/lib/msal-common/src/response/Re

[2022-08-01 11:34] svdHero commented on #5002
@derisen I've briefly looked into Fiddler now. I am not sure if that thing would pass our IT security policy and/or the Security Agent installed on my developer machine. So I would rather avoid installing it. However, I am in the process of building a small public repo for reproducing the issue and I will email you the corresponding .env-File with all the relevant GUIDs.

[2022-08-01 13:01] #5008 closed, assigned to tnorling

[2022-08-01 13:01] #4965 closed, assigned to tnorling

[2022-08-01 13:01] #4913 closed, assigned to hectormmg

[2022-08-01 13:01] #4904 closed, assigned to derisen

[2022-08-01 13:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-01 13:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-01 13:39] MateusDev98 commented on #4799
@tnorling Hi, I sent the network log to your email.

[2022-08-01 15:11] jasonnutter commented on #5050
Can you please clarify why you want to do this? The Auth Code Flow w/ PKCE for SPAs (i.e. CORS) requires the origin header (i.e. the flow used by MSAL.js), but you can still use the Auth Code Flow w/ PKCE without CORS. See this sample for more: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/auth-code-pkce

[2022-08-01 15:14] jasonnutter commented on #5053
@easingthemes The ID token should always be returned from `acquireTokenSilent`. However, the ID token is currently not returned in the `AccountInfo` objects returned from the `getAccount*` APIs, which will be addressed in #5036

[2022-08-01 15:23] jasonnutter commented on #4871
@sameerag Is this supported?

[2022-08-01 15:24] jasonnutter commented on #5046
@binarydmon This could be due to network connectivity issues. Please let us know when you have a reproduction.

[2022-08-01 16:01] jasonnutter commented on #5052
@mpbiehn Is this domain of this domain in the picture `localhost` bychance?

![](https://user-images.githubusercontent.com/61591158/181779077-9db40f36-66ff-46ae-9d15-c3ade71c7d10.png)

This error indicates that the domain is not accessible from the device, which is common mistake if using localhost. Make sure when running the app on a phone, that the application domain (and redirect uri, which mus

[2022-08-01 16:05] derisen commented on #4871
This is supported as of msal-node@1.12.0 (msal-common@7.2.0). @r-delgadillo you'll need to set the `forceCache` property to **true** in the initial token request, e.g.:

[code]
Please see the [refresh-token](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/refresh-token) sample for an illustration.

[2022-08-01 16:27] derisen commented on #5002
@svdHero that's ok, a repro should be enough.

[2022-08-01 17:52] easingthemes commented on #5053
Thanks @jasonnutter, I've checked now deeper and indeed idToken should be retrieved from cache, just naming is confusing.
Method `readAccessTokenFromCache` is not referring to `accessToken` only, but other tokens also, depending on the type.
[code]
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/lib/msal-common/src/cache/CacheManager.ts#L421

Thanks for the explanati

[2022-08-01 18:49] mpbiehn commented on #5052
@jasonnutter thanks for the question. Nope, the domain redacted in the screenshot is not localhost. It's the scheme://hostname we have set in config.xml of our Cordova app. I've tried several alternatives, including the domain of our web URL, without any luck.

[2022-08-01 19:04] #4871 closed, assigned to derisen

[2022-08-01 21:39] #4507 closed, assigned to sameerag

[2022-08-02 01:32] keki007 commented on #5050
I tried that sample but on the 2nd leg (handling the callback from Microsoft IDP and requesting a token) I was get the following exception:

[code]

I then stepped through the code and saw that another exception was occurring which was being swallowed/lost:

`"{\"error\":\"invalid_request\",\"error_description\":\"AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only

[2022-08-02 07:58] binarydmon commented on #5046
@jasonnutter could it be related to the old msal version (2.0.4)?

We haven't had any users complaining about this issue, but we do see a lot of occurrences for the past month (thousands). The userbase is about 15 000.

[2022-08-02 08:13] sapanpandey-ey opened #5072 "React Native iOS"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

We are trying to implement MSAL authentication in React Native based application, is this package support for iOS or it will be available in the future release?

I could see the POC application for Android but not for iOS.

### Source

External (Customer)

[2022-08-02 10:04] phyr0s commented on #5052
@jasonnutter  Same problem in android and iOS i can get this log in xCode -->

2022-08-02 11:49:54.796392+0200 demo-app[6468:453896] webView:didFailProvisionalNavigation - -1004: Could not connect to the server.

2022-08-02 11:50:21.057345+0200 demo-app[6468:453896] Could not signal service com.apple.WebKit.WebContent: 113: Could not find specified service

To test  just add this lines to config.x

[2022-08-02 10:06] GusLAN commented on #5052
Same error

[2022-08-02 11:20] svdHero commented on #5002
@derisen I took my app and reduced it to the essential parts. It's still bigger than a minimal repro app, but I hope it will do.
Explanations see in README:
https://github.com/svdHero/msal-caching-issue-demo-app
I will send the `.env` file via mail.

[2022-08-02 14:48] jasonnutter commented on #5050
@kevinkilroy This likely means the redirect URI you are using for the flow is registered as a "spa" redirect URI, which should only be used for redirect URIs needed for MSAL.js (not MSAL Node). Can you try changing the redirect URI to be of type "Web"?

[2022-08-02 15:33] jasonnutter commented on #5072
@sapanpandey-ey Unfortunately, we do not offer an officially supported library for React Native (for any platform). It is in our backlog, but there is no eta at this time. Cc @EmLauber

[2022-08-02 17:24] jasonnutter commented on #5046
@binarydmon You can try updating the latest versions of MSAL Browser and MSAL Angular and see if that helps. Also, I'd be curious if the format of your authority configuration option makes any difference (i.e. try `https://login.microsoftonline.com/<tenant-id>`).

[2022-08-02 17:29] jasonnutter commented on #5052
@mpbiehn Unfortunately, I'm not sure how much we can help here, given this is a network level error, and likely not caused by MSAL itself. Furthermore, we don't fully support Ionic/Cordova at this time, so there is limited expertise we can provide.

[2022-08-02 19:42] derisen commented on #5002
@svdHero just saw your mail, thanks! Will debug this and get back to you.

[2022-08-03 00:44] EmLauber commented on #5072
@sapanpandey-ey as Jason said, we don't offer an officially supported React Native MSAL library for any platform. We are tracking the ask in #4735 so I will close this issue as duplicate.

[2022-08-03 00:44] #5072 closed, assigned to jasonnutter

[2022-08-03 00:46] keki007 commented on #5050
That's what I thought. If I do that I now need to setup a client secret which was something I was trying to avoid (since they need to be rotated)

[2022-08-03 01:01] ghost commented on #5041
@khanhnguyen3759 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-03 01:01] #4953 closed, assigned to jo-arroyo

[2022-08-03 09:17] TobiasKrok opened #5074 "Infinite refresh loop with React 18 and react-router-dom v6 using Redirects"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Description

Using Redirect interaction causes infinite redirect loop with React 18 and react-router-dom v6. Same code code works using React 17 and react-router-dom v5

### Error Message

_No response_

### Msal Logs

_N

[2022-08-03 12:50] finbarw commented on #4733
Thanks @tnorling for your response, and apologies in return for my delay, I must confess I'd stopped checking this thread.
We'll look into your suggestion and get back to you.

[2022-08-03 13:12] mpbiehn commented on #5052
@jasonnutter bummer, would love to get this added to the feature request list. :)

[2022-08-03 16:50] Alino commented on #3923
@bartlomiejzuber Hello again, thank you very much for your input. This idea also came across my mind for a while but I kind of ditched it as a dirty hack. But when rethinking it, it is probably the most simple workaround and there isn't anything better without having to refactor the whole MSAL library to use async cache...

I have actually created a sample repository for this.
https://github.com/A

[2022-08-03 16:56] jasonnutter commented on #5074
Please see this comment for likely cause of this issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4965#issuecomment-1189305455

[2022-08-04 01:01] #4933 closed, assigned to bmahall

[2022-08-04 01:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-04 01:42] LodenH16 opened #5077 "HTTP status code 400 | Attempted to reach: https://login.microsoftonline.com/common/oauth2/v2.0/token"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

na

### Description

`.acquireTokenByCode()` results in an http status 400

I'm creating an OAuth flow with Vercel/Nextjs serverless functions and this error has plagued me for a week. The auth code flow works fine using `.getAuthCodeUrl()`.

Testing a

[2022-08-04 05:12] adrianzielonka commented on #5074
@TobiasKrok

In your implementation above the nesting order of your BrowserRouter/Router and MsalProvider will be the cause of the issue. Ideally if your application requires authentication for all routes you could structure it differently to allow MSAL to complete the authentication process before React Router is even rendered.

This will ensure MSAL is finished with processing the #code it puts

[2022-08-04 07:50] svdHero commented on #5002
By hint of @derisen (via email) I've just found out that the problem only occurs with internal user accounts, but not with local B2C user accounts. The internal user accounts are from our company AAD that is configured in B2C as an OpenID Connect identity provider.

I will ask our IT department to add a limited test user account for @derisen to our company AAD for further investigations.

[2022-08-04 12:22] mmuszalski opened #5080 "Profile edit flow - without sing-out"
In the example you pointed to edit profile flow is just sign-in flow actually there is even this sentence "Like password reset, edit profile user-flow requires users to sign-out and sign-in again". My question would be, is it possible to edit profile without signing out. It seems to me, when I do such request, and successfully change profile data, I get two accounts with two homeAccountIds (...b2c

[2022-08-04 12:22] #5080 closed, assigned to nobody

[2022-08-04 12:48] mmuszalski opened #5081 "Profile edit flow without sing-out"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

In the example [you pointed](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3742#issuecomment-859186227) to edit profile flow is just sign-in flow actually there is even this sentence:

My question

[2022-08-04 13:52] snydergd commented on #5052
Possibly related to this is this issue for cordova-plugin-ionic-webview: https://github.com/ionic-team/cordova-plugin-ionic-webview/issues/623 -- according to that there seems that external sites may not be able to successfully do a 302 redirect (or similar) back to the cordova app.  Maybe this could be some sort of cross-site security measure.  A workaround provided there is to have a separate ex

[2022-08-04 15:20] dpwatrous commented on #5077
We've seen a very similar-looking issue, though it's hard to say if it's the same without more info.

In our case, it's in an Electron app, and the error only seems to happen to a certain customer who is using ADFS. The renderer (browser) process performs interactive auth, and when the redirect URI is hit, it sends the auth code to the main (Node.js) process, which calls `acquireTokenByCode()`. Th

[2022-08-04 16:07] jasonnutter commented on #5077
@LodenH16 Can you please share a correlation and timestamp of a failing request, or your client id?

[2022-08-04 16:50] derisen commented on #5002
@svdHero sounds good! Will also setup a test tenant to reproduce this -this sounds like something we should cover in E2E tests.

[2022-08-04 18:45] LodenH16 commented on #5077
Client Id :
16a28d7b-1a6b-4dfb-a64d-a21fe587a490

Where can I find the request logs? This is my first time using Azure and I'm finding the dashboard very difficult to navigate.

[2022-08-04 18:48] jo-arroyo commented on #4411
@julian-code @ranzolinrafa @davidspiess @deryost @francesconi Thank you for your patience. This issue was addressed in PR #5004, and was released with `@azure/msal-browser@2.28.0`. Please upgrade to the newest version of msal-browser to access this fix. This issue will now be closed. Please open a new issue if you encounter further problems.

[2022-08-04 18:48] #4411 closed, assigned to jo-arroyo

[2022-08-04 19:09] jasonnutter commented on #5077
@LodenH16 I see errors in our logs indicating an invalid redirect URI. Please verify that the redirect URI used for these requests is registered exactly in the portal.

General information about AAD logs can be found here: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-audit-logs

However, as noted, the library could be returning better errors (#4878).

[2022-08-04 19:10] jasonnutter commented on #5081
@mmuszalski Looks like we will have an updated sample that demonstrates how to do this. See #5015 for more information.

[2022-08-05 10:32] #5074 closed, assigned to jasonnutter

[2022-08-05 16:04] aleknik opened #5082 "MSAL node PoP support"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Hey team,

Is it possible to get a PoP protected token using client credential flow in msal node?

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

### Identity Provider

_No response_

### Source

[2022-08-05 16:18] jasonnutter commented on #5082
@aleknik This is in our backlog, unsure about ETA. @EmLauber

[2022-08-05 16:20] jasonnutter commented on #5053
@easingthemes Correct. In v2, acquireToken/login/ssoSilent APIs will always return both an ID token and an access token.

[2022-08-05 16:23] jasonnutter commented on #5050
@kevinkilroy The sample linked above demonstrates how to use MSAL Node to do the Auth Code Flow as a public client (i.e. without a client secret).

[2022-08-05 16:29] derisen commented on #4312
@Shyam268 apologies for the late response, is this still an issue? You can see a working example in this [PR ](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5015) (the Angular sample in particular)

[2022-08-05 18:16] manio143 opened #5083 "acquireTokenSilent using RefreshTokenClient fails to include redirectUri in the payload"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When acquiring a token using a refresh token in cross origin scenarios, such as requesting a token from another authority (i.e. another tenant) than the user has logged into, but in which they exist as a guest, AAD requires a

[2022-08-05 18:37] jasonnutter commented on #5083
@manio143 Thanks, I'll investigate if this is intended behavior by the server.

[2022-08-05 19:27] LodenH16 commented on #5077
@jasonnutter I triple checked and the redirect URI `http://localhost:3000/api/outlook/exchange-auth-code` was registered correctly in the Azure portal.

After seeing this I started experimenting with different Redirect URI's and discovered `http://localhost:3000/account`, where the front end page is hosted, works and the code successfully returns an access token.
I have no idea why this works, I t

[2022-08-05 20:29] EmLauber commented on #5082
@aleknik we don't have an ETA but are looking into this. Are you Microsoft internal? If so we should connect on a possible private preview. CC: @medhir

[2022-08-05 21:31] jasonnutter commented on #5077
@LodenH16 Interesting, glad to hear its now working.

[2022-08-05 21:31] #5077 closed, assigned to jasonnutter

[2022-08-05 21:42] jasonnutter commented on #5052
AAD should already do this for browser scenarios, can you debug and double check?

[2022-08-07 01:01] #5031 closed, assigned to tnorling

[2022-08-07 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-07 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-07 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-08-07 13:01] #5027 closed, assigned to tnorling

[2022-08-08 01:01] ghost commented on #5046
@binarydmon This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-08 01:17] keki007 commented on #5050
@jasonnutter I was getting an exception saying client_secret or client_assertion must be present in the body. I finally got it to work when switching the redirect URL from Web to Public (mobile/desktop) in the App registration in Azure portal. Thanks for your assistance.

[2022-08-08 01:17] #5050 closed, assigned to jasonnutter

[2022-08-08 09:10] khanhnguyen3759 commented on #5041
How electron app like Microsoft Teams can work without MSAL ?
Could you explain @ellymakuba ? Does it related to backend ?

[2022-08-08 21:06] mpbiehn commented on #5052
@jasonnutter still working out some kinks but came across a react-router-sample and an Angular example that leveraged CustomNavigationClient and Cordova's InAppBrowser to get login/logout working in hybrid app. Using CustomNavigationClient's navigateExternal we can leverage cordova.InAppBrowser to capture the redirect from the auth provider and handle #state passed in the redirectUri accordingly.

[2022-08-09 01:01] ghost commented on #4733
@chuckyOHare This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-09 08:18] h3rmanj opened #5089 "MsalAuthenticationTemplate causes redirect loop when refresh token expires"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.4

### Description

`MsalAuthenticationTemplate` seems to cause a redirect loop when a tab is left open long enough for the refresh token to expire.

### Error Message

By looking at the network calls, i see this pattern;
![imag

[2022-08-09 08:34] h3rmanj commented on #5089
According to [these docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens) the refresh token lifetime is non-configurable. Seems to reproduce this without waiting 24 hours would be to revoke the token without the msal instance knowing.

[2022-08-09 09:26] h3rmanj commented on #5089
I can't seem to reproduce it

I've tried making a simple app, with `forceRefresh: true` so it tries to fetch an access token on every reload without it being expired.
https://codesandbox.io/s/shy-pond-689hjt?file=/src/App.js

1. Login to the site ( https://689hjt.csb.app/ )
2. Run `Revoke-AzureADSignedInUserAllRefreshToken` PS command
3. Reload site so it tries to fetch new access token and realiz

[2022-08-09 11:21] h3rmanj commented on #5089
I've made a change in my code that enables debug logging so I'll be able to post logs if it happens again.

[2022-08-09 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-09 15:43] jasonnutter commented on #5052
@mpbiehn Interesting, thanks for the update.

[2022-08-09 15:57] #4966 closed, assigned to derisen

[2022-08-09 18:07] peterzenz commented on #5081
@derisen assigning to you to resolve once your PR is complete.

[2022-08-09 18:08] snydergd commented on #5052
@jasonnutter I've poked around for the Javascript redirect a little bit.  I'm looking at the options for the [auth code endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code) and do not see one to have redirection done with Javascript rather than with an HTTP 302.  I have tried using PKCE challenges, using `response_type=to

[2022-08-09 18:11] derisen commented on #4966
@xtianus79 please refer to the [authority doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/authority.md) here. Closing this.

[2022-08-09 18:16] jasonnutter commented on #4932
@bmahall This looks related to #3758 potentially.

[2022-08-09 20:32] jasonnutter commented on #5052
@snydergd It would be done for requests made to the `authorize` endpoint. It is possible the server doesn't always do a javascript-based redirect. I'll see if I can find out more.

[2022-08-09 20:58] jasonnutter commented on #5052
@snydergd Looks like this behavior is done conditionally and is not something you have direct control over, unfortunately.

[2022-08-10 01:01] ghost commented on #5002
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-10 03:37] derisen commented on #5002
@svdHero apologies for the delay. I can finally reproduce this with the internal account. Will debug this and get back to you.

[2022-08-10 05:54] foramkumar-parekh opened #5090 "SPA with MSAL V2 not redirected to login page"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Description

Current Setup:
Angular - 13
MSAL Angular - 2.3.0
MSAL Browser - 2.24.0
Node - 16.16.0
npm - 8.11.0

I have an angular app, with the above setup. The application is deployed in Azure App Service. The appli

[2022-08-10 07:05] Benni03 opened #5091 "Login popup doesn't close and displays react app itself"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Description

Hi, I think I've just found a bug in MSAL.js. I installed the latest version in two different samples for React. When I try to log in, sometimes the popup shows the React Webapp itself and doesn't close.

- T

[2022-08-10 17:11] svdHero commented on #5002
No need to apologize. I am grateful for everything you're doing. Looking forward to more insights.

[2022-08-10 17:16] ssunday commented on #4878
Is there a timeline on a fix for this?

[2022-08-10 22:56] taoisu opened #5093 "MsalAuthenticationTemplate doesn't work correctly 9 out of 10 times in deployment"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Description

I'm using `MsalAuthenticationTemplate` to show authenticated content. When I develop locally this component works nicely without any problem. However, when I deployed it with a k8s pod the component is not wo

[2022-08-11 01:01] ghost commented on #5083
@manio143 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-11 02:29] dmedellin opened #5094 "Broken link to Configuration options"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/configuration.md

### Description

When clicking on any of the Configuration links shown in the image below new tab is opened with a 404 not found HTTP respo

[2022-08-11 06:14] manio143 commented on #5083
The issue is being discussed internally.

[2022-08-11 07:10] ViswanathCelitotech opened #5095 "PopupRequest - prompt - login not working as expected."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi Team,
As part of the application requirement, to perform certain operation, need to force the user to reauthenticate by entering the username and password.

To achieve the requirement, in **PopRequest** , the **prompt** as

[2022-08-11 12:49] h3rmanj commented on #5089
I have acquired debug logs, but I'm reluctant to post them here as they contain auth codes etc.
@bmahall

[2022-08-11 13:30] xsegrity commented on #4931
@derisen I have the same issue as @logan-jobzmall. I have an angular based spa app where I want the user to grant authorization for their personal Outlook Calendar so that my back end server can then add/update events on their behalf on an ongoing, non-interactive basis. This is easy in Google where I get an AccessCode on the client that I then send to the server to trade for an AccessToken/Refres

[2022-08-11 15:40] michaelhum opened #5096 "Force login locale doesn't seem to work with extraQueryParameters"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.4

### Description

Based on #4289, we should be able to override the browser's preferred language setting with a `locale` parameter in the `extraQueryParameters` property of the login request.

However, this does not seem to wo

[2022-08-11 16:36] AlexM-WSFBC opened #5097 "Blank Screen after the user clicks CANCEL on the B2C screens (Password Update)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.2

### Description

On password update B2C Screen, when the user click "CANCEL" button the user is redirected back to the angular application and is redirected to a BLANK screen.

the MSAL Login ends with @azure/msal-angular

[2022-08-11 21:18] jmprieur commented on #4878
@bgavrilMS I think we should fix this ASAP, indeed.
I don't even think this would be a breaking change?

@derisen : do you also agree?

[2022-08-12 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-12 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-12 13:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-08-15 01:01] ghost commented on #5081
@mmuszalski This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-15 01:01] ghost commented on #5053
@easingthemes This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-15 01:01] ghost commented on #5052
@mpbiehn This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-15 01:01] ghost commented on #4932
@andreaslarssen This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-15 01:01] ghost commented on #5041
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @EmLauber please follow up.

[2022-08-15 06:10] andreaslarssen commented on #4932
Comment to keep it open

[2022-08-15 08:59] tiennguyen1293 commented on #4918
hi @derisen

and Why the issue was closed? :(

I used 2 samples, it just works on Teams Web, but doesn't work on Teams Desktop.

Still facing the issue.
`InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explor

[2022-08-15 10:52] DevRCRun commented on #3221
Is there any indication please as to when the new library is targeted to be available for production use? (I've found the work in progess at https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/node-token-validation )

[2022-08-15 13:01] ghost commented on #5091
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-15 13:01] ghost commented on #5090
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-15 15:14] r-delgadillo commented on #4878
@jmprieur @derisen  any updates on this issue?

[2022-08-15 16:39] vvolodin commented on #5091
I'm having the same issue with my Angular app. Popup shows up, I login, and then the app sign in page is displayed in the popup window which doesn't close. Console shows this error:
[code]
I'm only using Popup flow, there's no mention of other interaction types anywhere in my config.

[2022-08-15 17:37] taoisu commented on #5093
@bmahall Do you have any ideas?

[2022-08-15 17:39] taoisu commented on #5091
I'm having the same issue, too. Any ideas how to resolve it? This is blocking my app from being widely adopted by my team.

[2022-08-15 18:03] vvolodin commented on #5091
Check this issue, it helped me to come up with a workaround:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5013

I realized that I had some sort of race condition, here's how the popup interaction works: your main frame opens a popup and waits for a popup URL to contain a hash (#code....). When it catches the hash, popup is closed and token is being read from the hash.

[2022-08-15 19:29] EmLauber commented on #4878
@bmahall is currently working on this, no ETA yet.

[2022-08-15 21:18] taoisu commented on #5091
Thanks @vvolodin! This is useful information. I'll try redirecting to a blank page.

[2022-08-16 00:12] bmahall commented on #5096
@michaelhum  Thanks for creating a new issue.  I am able to reproduce this behavior.
Just FYI, if you are using Azure b2c, there are detailed steps for language customization here [https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-react-spa-app-options?tabs=popup](url).

The locale parameter doesnt override the default browser setting and  I am checking if we can su

[2022-08-16 00:36] MateusDev98 commented on #4799
Hi, any feedback? @tnorling

[2022-08-16 01:01] #4733 closed, assigned to tnorling

[2022-08-16 01:01] ghost commented on #5002
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @derisen please follow up.

[2022-08-16 01:02] bmahall commented on #5095
@ViswanathCelitotech  We don't officially support third party IDP [https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-compatibility](url).
To debug on the MSAL side of things, can you please try using the sessionStorage once for your scenario and see if the credentials popup is shown every time.

[2022-08-16 01:10] bmahall commented on #5093
@taoisu  Thanks for your patience!
`<MsalAuthenticationTemplate interactionType={InteractionType.Popup} >
        <App />
      </MsalAuthenticationTemplate>`

This code piece will render the app only in case of authenticated users. IS there a chance the authentication is still in progress/ unsuccessful which renders the popup empty?

[2022-08-16 01:43] derisen commented on #5002
Just an update, the issue is caused by a mismatch in cache keys. What happens is that, when the user first signs-in with via Azure AD as an identity provider (i.e. internal account), they receive an ID token with a certain tenant ID, MSAL creates a cache key, and stores the account information accordingly. Later when the user tries to acquire a token, the service sends an ID token with a different

[2022-08-16 03:48] keki007 opened #5103 "CORS error using PublicClientApplication"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

Hi,

I have a serverless function running msal-node as a PublicClientApplication which is protecting static content.

I'm using the Authorization Code Flow with PKCE.

The Client is a w

[2022-08-16 04:33] bmahall commented on #5091
@taoisu Thanks for opening this issue.
Can you please share fiddler trace for me to be better able to debug this issue? You can share it on my email found in the Github profile.
Meanwhile,
- Is there any error in the browser console in this scenario? You will need to ensure the authority value is as expected.  Please refer to [auth](https://github.com/AzureAD/microsoft-authentication-library-for-j

[2022-08-16 04:47] likidu opened #5104 "Login popup cross domain redirectUri"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0.0

### Public or Confidential Client?

Public

### Description

Hi MSAL,

When tried to use loginPopup with `redirectUri` on the same domain such as `http://localhost:5000/blank.html`, the procedure works flawlessly. But can I use `redirectUri`

[2022-08-16 04:57] bmahall commented on #5089
@h3rmanj Thanks for opening this issue,can you kindly please share the logs on my email found in Github profile?

[2022-08-16 05:50] phyr0s commented on #5052
@jasonnutter  any news?

[2022-08-16 09:01] bmahall commented on #5089
@h3rmanj Thanks for the email. While I am investigating your logs, an older issue might be of relevance to your case so linking it here for further investigation: [#4058](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4058), particularly the part where it is suggested to ensure that the pca instance is not re-rendered multiple times.

[2022-08-16 09:25] bmahall commented on #5090
@foramkumar-parekh Thanks for opening this issue. From the error logs provided, the window.crypto.subtle is available only over secure context, as explained here [Crypto-subtle](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/subtle)
, which means it can only be used for https and localhost (not http).
Are you using any http /unsecured context in your application which might be resulting i

[2022-08-16 09:35] h3rmanj commented on #5089
I don't think that's the case. I'm instantiating the PublicClientApplication in it's own `auth.ts` file, which I then import the instance from and pass to `<MsalProvider>`. The app and auth works perfectly normal usually, but ever so often in a long-living tab it'll do this. Worth mentioning that I'm on React 18 in concurrent mode, although this is on a live site, so `StrictMode` shouldn't be doin

[2022-08-16 10:41] Gameboy98 commented on #3118
Still facing this issue, Please Refer This:
const { instance } = useMsal();
instance
  .loginPopup(loginRequest)
  .then((res) => {
    localStorage.setItem('msToken', JSON.stringify(res))
    callMsGraph(res.accessToken).then((response) => {
      handleLogin(employee_code);
    }); // <-- This never gets called on Mobile Devices
  })
  .catch((e) => {
    console.log(e);
  });

[2022-08-16 13:01] ghost commented on #5083
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-08-16 13:08] michaelhum commented on #5096
Hi @bmahall we are unfortunately not using B2C yet, but that's good to know for the future thanks!

I am not sure I follow regarding trying to write a dedicated handler - is this something supported by msal? Or do you mean trying to edit the text of the popup manually? I don't see a setting to swap the locale of the popup once it's opened (unless I am missing something here) - sorry for the confus

[2022-08-16 16:04] bmahall commented on #5046
@binarydmon Any updates?

[2022-08-16 16:25] derisen commented on #4918
@tiennguyen1293 sorry for the confusion, issues without response gets stale and close automatically.

As we discussed before, you'll need to remove the `prompt: 'none'` as interaction is needed at this stage and there is no way avoiding it. The article on the link you've shared also mentions this:

[2022-08-16 16:25] #5094 closed, assigned to hectormmg

[2022-08-16 16:28] tnorling commented on #4799
@MateusDev98 Still waiting to hear back from our server teams - I've followed up with them and will get back to you as soon as I hear something. I appreciate your patience.

[2022-08-16 16:46] #3569 closed

[2022-08-16 16:46] #5053 closed, assigned to Robbie-Microsoft

[2022-08-16 16:50] bmahall commented on #5097
@AlexM-WSFBC Thanks so much for your patience! What is the redirect uri you have configured in the Sign in flow ? That is the path where the user will be redirected to.

When the user clicks Cancel on the password update screen, it is expected behavior to receive AADB2C90091 error , so it is appropriate to catch it and redirect to the page that is desired. However  am curious as to why the custom

[2022-08-16 18:45] derisen commented on #4939
@Robbie-Microsoft transferring this to you

[2022-08-16 21:04] hectormmg commented on #5052
I would recommend trying to register the redirect URI as mobile/desktop rather than SPA or Web, given that the mobile device is technically a native public client. Although we're not seeing the server error that is my best guess on what could be the problem. It's important that the redirect URI registered as mobile/desktop isn't exactly the same as the one used for the web URL since the portal won

[2022-08-16 21:13] hectormmg commented on #5103
@kevinkilroy MSAL and AAD don't support initiating token requests on a server and then finishing on the client. Is there a reason you can't use [msal-browser](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) (assuming you have a JS front-end) to make the token request directly from the client?

[2022-08-16 21:35] hectormmg commented on #5104
@likidu cross-domain requests are not supported in MSAL Browser. Is the requirement for different domains a development enviroment issue only?

[2022-08-16 21:36] bmahall commented on #5093
@taoisu Can you also please share verbose logs and fiddler trace to further debug?

[2022-08-16 21:48] bmahall commented on #4932
@andreaslarssen This is being tracked internally, dont have an ETA at this point.
#3758 covers similar ask.

[2022-08-16 22:58] EmLauber commented on #5041
The Microsoft Teams electron app uses a different internal library. The MSAL.js team is not involved in the Seamless SSO feature, and looks like you already asked the question for the team I would redirect you to: https://github.com/electron/electron/issues/35066. Closing this for the MSAL.js team.

[2022-08-16 22:58] #5041 closed, assigned to EmLauber

[2022-08-16 23:30] bmahall commented on #5097
@AlexM-WSFBC It is worth adding the catching logic at this point and re-share the logs. [msal-guard](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/cbd870e115bd4968d68ddbc228cae17fe86cee0c/lib/msal-angular/src/msal.guard.ts#L180)

[2022-08-17 01:02] keki007 commented on #5103
We do use msal-browser but that's initiated from a different domain, then more static content is pulled from another domain, so the 2nd domain has no knowledge of the fact that the client is already authenticated.

[2022-08-17 03:24] dilidili opened #5107 "Firefox get an error "window.indexedDB.databases is not a function" when user logout"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Public or Confidential Client?

Public

### Description

When call the ```IPublicClientApplication.logoutRedirect()```, the deletion of MSAL databse https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/

[2022-08-17 03:28] likidu commented on #5104
@hectormmg, thanks for the info. I also found the info in the #2320. No, it's the app created for KaiOS phone, which the app only provides origin as `http://app_name.localhost:8081` as [this doc](https://developer.kaiostech.com/docs/sfp-3.0/introduction/overview/#app-types-in-kaios-30) specified. It looks a problem cannot easily be solved since the `msal` package does not support cross origin popu

[2022-08-17 04:28] foramkumar-parekh commented on #5090
The SPA is deployed in the App Service and the _URL used is provided by azure_, which is HTTPS (eg. _https://myapp.azurewebsites.net_).

**Browser versions:**
- Chrome: 104.0.5112.81
- Firefox: 103.0.2
- Edge: 104.0.1293.54

[2022-08-17 05:24] zgqit opened #5108 "contributing.md 404"
### Core Library

_No response_

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/README.md

### Description

Contribute
We enthusiastically welcome contributions and feedback. Please read the [contributing guide](https://githu

[2022-08-17 06:00] ladudu opened #5109 "How to get MsalInterceptor's error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.2

### Public or Confidential Client?

Public

### Description

I want handle the MsalInterceptor error but I just got error log.
I have requested an api which is not authorized by the admin．
He seems to keep looping, reques

[2022-08-17 06:12] tiennguyen1293 commented on #4918
Hi @derisen, Thank you for responding so quickly.

So this is limitation in the library? Or can you suggest an alternative solution that can allow silent authentication on Teams desktop client?

[2022-08-17 06:30] bmahall commented on #5093
@taoisu Please refer to my previous comments, and also can you confirm if redirectURI in the Azure portal is the same as the two options specified above? It must exactly match "http://localhost:3000" in case of localhost.

[2022-08-17 06:44] bmahall commented on #5091
@taoisu Also, did setting the redirect uri to blank page change the scenario? If you want to use redirect  uri in your app you can set it on per request basis, instead of in the auth config.

[2022-08-17 09:29] lexxizz commented on #5041
@EmLauber could you please help us to find some examples of integrations of Seamless SSO for the native applications? It could not be related to electron. Could be written on any language. We just need to find sequence of actions which we need to do. Thanks in advance

[2022-08-17 11:34] bgavrilMS commented on #3024
@waldekmastykarz Is memory pressure really a concern or is latency of getting token out of the cache a problem? There will be 1 token (~2KB) per **tenant** and per **resource**. So, a multi-tenant service that talks to downstream service for 1M tenants, each trying to get a token for Graph and one for SharePoint, would see a memory pressure of `1M * 2 resources * 2KB = 2 GB`. How many tenants / re

[2022-08-17 11:52] barisbikmaz opened #5110 "acquireTokenSilent throws a monitor_window_timeout error when refresh token is expired or revoked"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0.0

### Public or Confidential Client?

Public

### Description

I use the ssoSilent to login.
When the refresk token is expired or revoked acquireTokenSilent throws a "monitor_window_timeout: Token acquisition in iframe failed due to timeout. "

[2022-08-17 13:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-17 13:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-17 16:51] tlockhart commented on #4921
I am experiencing a similiar issue.  When logging into my application in full-screen (macOS), msal opens a loginRedirect  in a new window, instead of a loginPopup.  After log-in, the new window redirects to my sign-in page, instead of the dashboard.  When not in full-screen, the loginPopup works just fine.

[2022-08-17 18:02] hectormmg commented on #5103
There's no way for MSAL to access the 302 contents because the browsers will block cross-origin requests.

[2022-08-17 18:07] hectormmg commented on #5104
@likidu MSAL cannot support cross-origin requests because the browser blocks requests initiated from different domains. Thanks for the input, there are currently no plans to support KaiOS.

Closing the issue, please let us know if there's anything else we can help with.

[2022-08-17 18:07] #5104 closed, assigned to hectormmg

[2022-08-17 18:09] hectormmg commented on #5107
Thanks for bringing this to our attention. I'll look into it.

[2022-08-17 18:22] hectormmg commented on #5108
Thanks for bringing this to our attention, I've fixed the link!

[2022-08-17 18:22] #5108 closed, assigned to hectormmg

[2022-08-17 18:43] derisen commented on #4918
@tiennguyen1293 the best approach for SSO is demonstrated in the [Teams Tab OSS sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-sso/nodejs). Are you saying that, when you try the sample as it is (without setting the prompt), you are prompted to sign-in when accessing the tab application? (that is, after signing into the Teams desktop client itself, you shouldn't

[2022-08-17 18:52] 1hw7 opened #5111 "User is not redirected to redirect uri on mobile"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Public or Confidential Client?

Public

### Description

On mobile (safari and edge) when a user logs out, it hangs on the "you have logged out page" and the redirect uri does not seem to be triggered (user is never redir

[2022-08-17 18:58] jasonnutter commented on #4918
@derisen For now, that is correct. If you are unable to perform the OBO flow on your own server to silently acquire tokens (demonstrated in the sample), you can try what you describe, otherwise, you will need to show a prompt (via the Teams SDK, as also shown in the sample).

[2022-08-17 20:16] hectormmg commented on #5110
@barisbikmaz thanks for raising this issue. It seems to be a duplicate of #4104 and there's a PR in the works that addresses this, so I'll be closing the issue. Please follow #4104 for updates.

[2022-08-17 20:16] #5110 closed, assigned to hectormmg

[2022-08-17 20:20] hectormmg commented on #5111
@1hw7 is the `postLogoutRedirectUri` registered as a redirect URL and Logout URL in your app registration?

Here's the three requirements for successful redirection after logout:

1. Pass a postLogoutRedirectUri to logout
2. Register this url as a redirectUri on the app registration

Check out the [MSAL Logout](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-br

[2022-08-17 20:52] 1hw7 commented on #5111
Thanks for your help Hector! Yes, it is and this works for us in desktop. The issue only arises on a mobile device
edit: actually, it's possible we didn't configure this correctly! sorry, double checking now. Thank you!

[2022-08-17 22:41] jo-arroyo commented on #5109
@ladudu The MsalInterceptor is designed to handle errors thrown by `acquireTokenSilent` by invoking interaction and acquiring the token interactively, either by popup or by redirect. After the logs pasted above, are you then able to acquire the token by redirect? Are there other errors thrown later? Please provide the rest of the logs if possible.

[2022-08-17 23:02] EmLauber commented on #5041
The Quickstart for the feature is an example you can walk through: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start. If that doesn't help, I recommend the FAQ or Troubleshooting references linked at the bottom of that page.

[2022-08-17 23:52] keki007 commented on #5103
yes I've reached the same conclusion, therefore I will proxy requests so they're all served from the same domain/origin and then the flow succeeds. Thanks for your input.

[2022-08-17 23:52] #5103 closed, assigned to hectormmg

[2022-08-18 01:42] ladudu commented on #5109
Thank you for your reply.I seem to understand what you mean.
it able to acquire the token by redirect，but It cant get access token always.Because this api currently has not authorized by the admin.So MsalInterceptor will keep trying to get the token, but he can never get it.

I want show error message in this state，But he keeps looping.How to stop it？

Below are all the logs about azure，
[msal.txt

[2022-08-18 03:19] khanhnguyen3759 commented on #5041
@EmLauber of course we already config everything in that page. We try to open electron in a joined domain computer but still require password everytime

[2022-08-18 03:58] tiennguyen1293 commented on #4918
Hi @derisen @jasonnutter

I'm understanding you are not sure about silently acquiring tokens will work on Teams Desktop App?
For some reason, we still have to display a prompt to re-login again in the Teams Tab app.

I'm meaning Teams App => login => Tab App => get Token => re-login?

[2022-08-18 07:32] waldekmastykarz commented on #3024
It's been a while, but if I recall correctly, I wanted to ensure that no unnecessary resources are left after logging out.

[2022-08-18 08:23] tiennguyen1293 commented on #4918
So ... Do we help update the DOC on [this](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-silent-aad#how-silent-authentication-works)?

Just to clearly and for others to have the same question as me.

[2022-08-18 12:22] henrylake commented on #5006
I had this same issue recently when using meal-react.

As a workaround, you can listen for the “POPUP_OPENED” event. The event returns the popup window in its payload which you can store. In your onClick handler for your sign in button, you can first check if you have a reference to the popup window and if you do, you can focus it which will bring it back to the front.

The code might look somethi

[2022-08-18 15:09] jcharnley opened #5113 "Multi Tenant guest users - wrong authority"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

0

### Public or Confidential Client?

Public

### Description

Having a issue when I configure MSAL to accept guest users from multi tenants. Guest users cannot access the resource because their tenant id is pointing to the base application on the

[2022-08-18 15:17] bgavrilMS commented on #5082
@aleknik - can you contact us directly via email ? POP is not ready for 3p at this point, but we can work with you to understand your 1p scenario.

[2022-08-18 17:44] Mrtblg opened #5114 "Cannot resolve endpoints when used in combinaison with mailgun-js"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

When importing "mailgun-js": "^0.22.0" (latest) the msal library will fail oAuth with an error message

The bug is very easy to reproduce, juste create a running application with

[2022-08-18 18:43] vineeshvenu97 opened #5115 "msal-browser - handleRedirectPromise() returns null for loginRedirect request from SPFx React app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2

### Public or Confidential Client?

Public

### Description

I am trying to implement redirect based authentication from an SPFx React application. I am using @azure/msal-browser version 2.28.1, in this I have implemented handleRedirectPromise()

[2022-08-18 21:36] jasonnutter commented on #4918
If you are not able to perform the OBO flow using the Teams SSO token (as shown in the sample) you can try invoking ssoSilent on page load to attempt to silently sign in. If that fails, you will need to invoke an interactive prompt.

Yes, those docs should probably be updated. cc @EmLauber

[2022-08-18 21:49] japem opened #5117 "Support query response mode for login redirect flow"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Description

This is a rehash of #2228, but that issue is locked and I can't comment.

I have a specific use case for wanting this feature - I have a single public client used for many different hosts, and rather than configuring each one to be an

[2022-08-19 08:18] eluchsinger opened #5118 "Firefox stuck in login loop"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

On Firefox we are noticing a redirection loop when trying to login. This stops from happening after clearing the cookies & cache.

### Error Message

The only e

[2022-08-19 08:21] eluchsinger commented on #5118
I have to say these loops have been a common thing for MSAL since it's release. Maybe you could look into implementing better tools to detect them (and gather the metrics needed to understand them) and if possible automatically try to fix them, like trying to clear the storages.

[2022-08-19 09:20] Mrtblg commented on #5114
Hello @bgavrilMS @jmprieur @jennyf19 I absolutely need to get this working for the beginning of september to provide SSO to a big client using AzureAD.
Can you give me a level of prioritiazation on your end ?

Thank you for your update

[2022-08-19 09:27] lexxizz commented on #5041
@EmLauber Could you please share any libraries which could be used for integration [Password hash synchronization (PHS)](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-phs) or [Pass-through authentication (PTA)](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta)

[2022-08-19 13:26] KrishnaFlutura opened #5119 "How to get list og groups user has access to? Without having admin access!"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

2

### Public or Confidential Client?

Confidential

### Description

Hello everyone,

On NodeJS I am able to get authenticated and retrive user information as well but in addition to that I **need the list of groups

[2022-08-19 15:30] rahulraajtanwar opened #5120 "Not storing token in storage correctly"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Public or Confidential Client?

Confidential

### Description

Stored token information is different in 2 separate packages with the same library version.

### Error Message

_No response_

### Msal Logs

_No response

[2022-08-19 16:27] diberry opened #5121 "@azure/msal-node missing README.md"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

no version

### Wrapper Library

Not Applicable

### Wrapper Library Version

no wrapper

### Public or Confidential Client?

Public

### Description

The readme is missing from npm:

![image](https://user-images.githubusercontent.com/41597107/185425197-c60a3a60-cb4c-44d1-adcc-09cfae469576.png)

**Expected behavior**
This sh

[2022-08-19 16:31] jasonnutter commented on #5121
I think this is a transient npmjs.com issue, as I've seen it with various packages. Doesn't currently reproduce for me:

![image](https://user-images.githubusercontent.com/443409/185665176-0bf7289b-0be0-4bff-8903-0316c064a9fb.png)

[2022-08-19 17:00] jasonnutter commented on #5121
@hectormmg Can you look at potentially improving discoverability of basic usage examples and full sample links?

[2022-08-19 17:10] bmahall commented on #5096
@michaelhum Can you please try using mkt parameter?
Example: mkt=fr-fr

[2022-08-19 17:21] jo-arroyo commented on #5109
@ladudu If you are wanting to show the error message after acquireTokenSilent fails in the MsalInterceptor, we recommend you use a custom interceptor, as the current MsalInterceptor will handle it interactively without throwing the error.

[2022-08-19 17:42] derisen commented on #5119
@KrishnaFlutura you can receive a groups claim listing the groups that the user is a member of in ID and access tokens. Please have a look at:  [Configure group claims for applications by using Azure Active Directory](https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-fed-group-claims). The [sample here](https://github.com/Azure-Samples/ms-identity-javascript-nodejs-tutorial/t

[2022-08-19 17:56] ladudu commented on #5109
Thank you for your help.I would write myself interceptor.
have a great day!

[2022-08-19 17:59] jo-arroyo commented on #5109
Thank you. Closing this issue as customer question answered.

[2022-08-19 17:59] #5109 closed, assigned to hectormmg

[2022-08-19 18:59] snydergd commented on #5052
@hectormmg I updated the redirect URI to be `InstalledClient` in the app registration which was the only one of [the documented options](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#replyurlswithtype-attribute) that I didn't try previously.  This is also giving me a 302 redirect rather than a JavaScript one, though.

[2022-08-19 21:39] taoisu commented on #5093
@bmahall this issue sounds like the same as https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5091

The issue only happens after I deployed the service to the cloud, it never happens locally in localhost. I did check the url of the popup window and the hash seems to be eaten. I've tried your suggestion to redirect to an empty page, after I did that the issue seems to be gon

[2022-08-19 21:40] taoisu commented on #5093
I checked the debug console and I didn't see any errors.

[2022-08-19 21:41] taoisu commented on #5093
I'm sorry I'm not familiar with the fiddler nor do I know how to enable verbose logs, since now the issue is gone, feel free to close this issue. If you still want me to share the log, please let me know and share with me how to make that happen. Thanks very much!

[2022-08-20 17:36] jsbinette commented on #4879
Error is still there on 1.12.1

[2022-08-21 13:01] ghost commented on #5095
@ViswanathCelitotech This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-21 13:01] ghost commented on #5002
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-21 13:01] ghost commented on #5089
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-21 13:01] ghost commented on #5083
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-08-22 00:48] danielvoigt commented on #4935
@bmahall The solution proposed does not work. I moved on to `msal-angular`, hoping to find a bug free solution, but I'm running into new bugs with that library as well.

[2022-08-22 01:01] ghost commented on #5097
@AlexM-WSFBC This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-22 01:01] ghost commented on #4932
@andreaslarssen This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-22 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-08-22 01:01] danielvoigt opened #5123 "Login popup flow does not work for full-screen browsers"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

The issue is fairly simple:
- When the browser is in full-screen mode, the flow starts but then the page does not close itself or redirect back to the original

[2022-08-22 06:21] andreaslarssen commented on #4932
Comment to keep it open

[2022-08-22 11:03] svdHero commented on #5002
@derisen Thank you for your update.

I can confirm that one `tid` is our company tenant's id (configured as an OIDC provider for B2C) while the other `tid` is our B2C tenant's id. I would have expected that in any case B2C should always set the `tid` to the B2C tenant's id.
After all, other identity providers like Facebook oder Google do not have a tenant id anyway. So why treat AAD differently as

[2022-08-22 11:29] KrishnaFlutura commented on #5119
@derisen Thanks for the response. Those links helped a lot. Finally able to extract the Group/Role info.

[2022-08-22 11:29] #5119 closed, assigned to bgavrilMS, jmprieur, jennyf19

[2022-08-22 11:32] bgavrilMS commented on #5119
I haven't looked into all the details, but one thing to note is that in a web app scenario, you should be parsing the id token, not the access token, because the access token is meant for somebody else.

[2022-08-22 11:56] bgavrilMS commented on #5114
Hi @Mrtblg - this is just a network error, an http call cannot be made. Looking closely to the error, it looks like you might have not configured the authority. See "undefined" there.

![image](https://user-images.githubusercontent.com/12273384/185915610-317f28a6-bcb1-452e-b3ab-5d9de46656db.png)

[2022-08-22 12:55] Mrtblg commented on #5114
Hi @bgavrilMS I know it might look like it at first glance.

But in reality the problem is caused some how by the `const mailGun = require("mailgun-js");`.
As I said, as soon as I comment this line (without any other change in the configuration or authority), suddenly the http call is made correctly and everything is working as expected.
As soon as I uncomment back the line, the problem is back.

[2022-08-22 13:01] ghost commented on #5091
@Benni03 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-22 13:01] #5081 closed, assigned to derisen

[2022-08-22 13:01] ghost commented on #5090
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-22 13:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-22 13:41] michaelhum commented on #5096
@bmahall the mkt parameter seems to work! I am able to swap between English/French with en/fr as input for both the login and logout popup. Thanks!

[2022-08-22 14:31] bgavrilMS commented on #5114
@derisen - do you have any idea what's happening?

[2022-08-22 14:32] bgavrilMS commented on #5114
@Mrtblg - afaik, you can introduce your own network layer, see https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a43ec23afdc77fcf45d116a939c1e002bcdf5e6f/lib/msal-node/src/config/Configuration.ts#L125 / INetworkClient - maybe this can be used as a workaround.

CC @Robbie-Microsoft

[2022-08-22 15:15] jasonnutter commented on #5114
Looks like this could be caused by something in `mailgun-js`: https://github.com/mailgun/mailgun-js-boland/issues/265#issuecomment-744054957

[2022-08-22 15:19] jasonnutter commented on #5114
More detail: https://github.com/MONEI/Shopify-api-node/issues/406#issuecomment-678069541

It looks like `nodemailer` does not have this issue, so please try switching to it (also note that mailgun-js is deprecated and unlikely to be updated).

[2022-08-22 16:03] Mrtblg commented on #5114
@jasonnutter thank you for the investigation. `mailgun-js` is deprecated indeed and does mess-up https requests.

I migrated to `mailgun.js` which is the new official library and it all seams to work as expected 👍

Thank you for your help !

[2022-08-22 16:03] #5114 closed, assigned to bgavrilMS, jmprieur, jennyf19

[2022-08-22 16:15] Benni03 commented on #5091
Updating to react 18 solved this issue for me. I hope I can help others with this information.
Thanks!

[2022-08-22 17:52] derisen commented on #5120
@rahulraajtanwar I think you are looking at the temporary auth artifacts that msal is caching. If you have configured your msal with `cacheLocation: "localStorage"`, durable cache entries will be stored in local storage (your 1st screenshot). msal also caches some temporary entries, and they will be in the session storage (or memory storage if you specify it in configuration). Checkout the [cachin

[2022-08-22 19:01] hectormmg commented on #5113
@jcharnley thanks for the question and sorry for the delay. I'll need some time to look into it and get back to you with more information.

[2022-08-22 19:10] hectormmg commented on #5115
@vineeshvenu97 thanks for opening the issue. In order to debug this, it'd be helpful if you could please send a Fiddler or network trace to the e-mail in my profile and if possible, the MSAL logs which you can post here on your issue description.

[2022-08-22 19:15] hectormmg commented on #5117
@japem thanks for the request. There are currently no plans to support other response modes as the documentation update referenced in the issue states. I'll still bring your use case to the team and I'll update this issue with the results of the discussion. Thanks again!

[2022-08-22 19:18] hectormmg commented on #5118
@eluchsinger thanks for the suggestion and for opening the issue.  Was this loop something that was only seen once and fixed by clearing storage and cookies? Or has it been noticed by multiple users?

[2022-08-22 19:42] peterzenz commented on #5117
@EmLauber might be worth understanding the use case here.

[2022-08-22 20:01] jasonnutter commented on #5117
Would the auth requests start on one domain and end on another?

[2022-08-22 22:16] japem commented on #5117
Yes, as far as AD FS is concerned it is receiving a request from one domain and then redirecting to another. However ultimately the flow would end on the domain that started it after being proxied through the server hosted at the redirect URL.

[2022-08-22 23:04] Arikr-microsoft commented on #4879
Hello, @hectormmg any updates on this issue or eta on when it will be fixed? I am also encountering the same error: https://github.com/AzureAD/microsoft-authentication-library-for-js/discussions/5076

Thank you!

[2022-08-23 01:01] ghost commented on #5107
@dilidili This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-23 01:01] ghost commented on #4921
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-23 08:22] jcharnley commented on #5113
I really appreciate this, let me know if you need further information.

[2022-08-23 09:27] MarcoHuib opened #5126 "Guard triggers interceptor and result into error: BrowserAuthError: interaction_in_progress"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Public or Confidential Client?

Public

### Description

We are currently migrating from msal version 1 to 2. We are using redirects in MSAL Angular v2 and follow the instructions based on the example in git + this do

[2022-08-23 14:03] t-jmakulec opened #5127 "Delegated Admin - Switching tenants / Authenticating against a different authority returns a cached token from the incorrect issuer"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

When a user that has access to multiple tenants, after authenticating with one, a silent authentication request to other authorities succeeds, however the token that it responds wit

[2022-08-23 15:01] aleknik opened #5128 "MSAL retry policy"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Confidential

### Description

What is the guidance on retry policy for MSAL node?

### Source

Internal (Microsoft)

## Spec

MSAL throws several types of exceptions:

- base class is [AuthError](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/72fdd1fe92

[2022-08-23 16:10] jasonnutter commented on #5117
@japem Okay, thanks. I don't think that is something our library can support, as the SDK needs to be able to validate the request, which is does by storing temporary pieces of state in browser storage (session storage, usually) on the origin which initiated the request (and due to the [same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy), those pieces of st

[2022-08-23 16:27] japem commented on #5117
I’m not looking to use MSAL on this other host, though, so I don’t need it to validate anything for me. I’m looking to implement the remainder of the authorization code flow myself.

[2022-08-23 16:37] japem commented on #5117
Or, alternatively I could have my server redirect to the same host as I initiated the flow from with a 3xx status code. In this case I would use MSAL to perform the rest of the authorization code flow, but from the same origin it initiated from, and I believe all session storage should be available depending on the cache type I use. (This seems like it should just work but I’m not sure.)

[2022-08-23 16:37] jo-arroyo commented on #5126
@MarcoHuib The `MsalInterceptor` is designed to automatically acquire tokens for outgoing HTTP requests. Can I ask why you are having a custom guard with a request to acquire a token, instead of making the HTTP request in the component without the custom guard?

[2022-08-23 16:58] Pablodotjs commented on #4298
Still blocked with this, any news Microsoft? 😞

[2022-08-23 17:19] MarcoHuib commented on #5126
In our application, we need to fetch specific data before rendering the application. I use the guard to prevent the application from loading until this data is fetched. By using a guard, I can place this guard on the root level and all child components will have benefit from this, instead of adding duplicate code in all components that require this data.

Hopefully my explanation gives an idea wha

[2022-08-23 18:03] jo-arroyo commented on #5126
@MarcoHuib Are you able to send us verbose logs of the behavior above?

[2022-08-23 18:40] MarcoHuib commented on #5126
3 '[Tue, 23 Aug 2022 18:36:55 GMT] : @azure/msal-browser@2.26.0 : Verbose - Event callback registered with id: 0c08bcfc-ccf2-4488-900e-817e43f785f2'
app.module.ts:46 3 '[Tue, 23 Aug 2022 18:36:55 GMT] : @azure/msal-browser@2.26.0 : Verbose - getAllAccounts called'
app.module.ts:46 3 '[Tue, 23 Aug 2022 18:36:55 GMT] : @azure/msal-browser@2.26.0 : Verbose - Adding account storage listener.'
core.mjs

[2022-08-23 18:59] 1hw7 commented on #5111
We confirmed that our implementation follows the docs you linked Hector (thank you!) so we are awaiting further context on what the error is and how we can solve this problem

[2022-08-23 22:48] #5096 closed, assigned to bmahall

[2022-08-23 23:58] jo-arroyo commented on #5123
@danielvoigt For clarification, is your app causing the browser to be in full-screen mode, or is this in the case when the user chooses full-screen at the browser-level?

[2022-08-24 01:01] ghost commented on #4918
@tiennguyen1293 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-24 01:01] #5046 closed, assigned to hectormmg

[2022-08-24 03:20] tiennguyen1293 commented on #4918
Many thanks team !!!

[2022-08-24 04:37] danielvoigt commented on #5123
@jo-arroyo The popup does not work in full-screen mode when the user chooses full-screen at the browser-level. The app does not cause the browser to be in full-screen mode - but we need to be able to use MSAL for full-screen and non-full-screen browsers.

The redirect is also not happening during a successful login and/or logout. I have to force redirect after a successful login or logout. Since I

[2022-08-24 11:49] bgavrilMS commented on #4445
Just out of curiosity, can't the same requirement be achieved with Conditional Access policies - https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#refresh-and-session-token-lifetime-policy-properties ? This would imply no code change in MSAL.

[2022-08-24 12:01] svrooij commented on #4445
@bgavrilMS if I may pitch in, what he is trying to accomplish is something like this:

You have this banking app (eg.) where the user is logged in. Now the user wants to transfer money, while accessing the balance it doesn't really matter for how long the session is alive. But for transferring money (privileged action) the app wants the user to re-authenticate or at least trigger a new MFA call.

[2022-08-24 12:07] svdHero commented on #5002
After further investigation it seems likely that the problem is related to our B2C custom policy and not to MSAL. Right now, we are looking into this and will post an update, once we can confirm that.

[2022-08-24 12:33] bgavrilMS commented on #4445
I don't know who to achieve this exactly, but does `max_age` solve it? You cannot force MFA this way?

Either the Identity Provider or the RP must challenge the user, e.g. the RP can return a 401 Unauthorized and include a WWW-Authenticate header which contains some claims. The app then requests a new token (interactively) and includes these claims in the request to the Identity Provider (AAD). Th

[2022-08-24 12:39] svrooij commented on #4445
This is the first reference I could find that mentions max_age. It's in the openid connect spec and Microsoft implemented it in Azure AD.

https://hajekj.net/2017/03/06/forcing-reauthentication-with-azure-ad/

You can use it to force re-authentication from the client side, but reading your explanation I guess you can implement continuous access evaluation to force re-authentication from the API si

[2022-08-24 13:16] awanlin commented on #4879
Yes, an update would be nice, starting to worry that our pinned version could cause issues in the near future

[2022-08-24 14:15] marco-bertelli commented on #4879
guys i had the similar problem, for me the solution was switching version + clear node_modules and pipeline cache for it.
not clear what the problem was but look some cache problem, and a fresh install solve it

[2022-08-24 16:17] derisen commented on #4918
Created an issue for the team to update their docs. Closing this cc @EmLauber

[2022-08-24 16:17] #4918 closed, assigned to derisen

[2022-08-24 16:32] Pablodotjs commented on #4298
Here's auth0 update to Ivy distribution: https://github.com/auth0/auth0-angular/pull/324
Would like to know even if someone in Microsoft is really looking into this, Angular 14 is already released for couple of months now and it's very hard to me to believe a big corp like Microsoft isn't putting big effort in letting people continue using their libraries.

[2022-08-24 17:24] bgavrilMS commented on #4153
My 2 cents on this is that sign-out should be handled by the application, without using the concept of access token expiration. Access tokens are not even meant for the client application, they are meant for a downstream web api. You can also use Conditional Access policies - see https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime

H

[2022-08-24 18:12] jo-arroyo commented on #5126
@MarcoHuib Can you try subscribing to the `inProgress$` observable and ensuring that interaction is none before making the HTTP call in your custom guard? Information about using the `inProgress$` observable can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/events.md#the-inprogress-observable).

[2022-08-24 18:46] jo-arroyo commented on #5123
@danielvoigt Can I confirm that this issue is only happening with macOS users? In my tests the popup window still functions as normal on a Windows machine.

Re: the redirect, are you using the `MsalRedirectComponent`? How are you handling the redirects?

[2022-08-24 22:16] udayansarma opened #5130 "Slow Logins and Redirects using MSAL with Azure AD and B2C"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

Hello team, using MSAL js library for React for an enterprise application doing authentication and authorization. The initial attempt to authenticate using that librar