[2021-06-07 22:44] kwilkins opened #3724 "Unable to handle BrowserAuthError from user closing pop up with msal-react"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I have a simple react app that attempts to login the user automatically with the popup window method, however if the user closes the popup window the react app crashes. I've also seen this happen at certain t

[2021-06-07 22:51] kwilkins commented on #3724
As typical debugging goes, I discovered the solution right after I created the incident.

The button users can use to manually login was calling `msalContext.instance.loginPopup()` without awaiting which was throwing the error into the ether and crashing the app. Properly awaiting this call, and wrapping it in try/catch solved this for me.

[2021-06-07 22:51] #3724 closed

[2021-06-08 01:31] a2441918 commented on #3723
So do I need two app registrations, one for the API and one for the UI? The aud given by the token belongs to the Graph API and I need to get my API's aud in the token. My goal is to send the accessToken to the backend, decode the JWT in the backend and verify the signature, validate the OID against my database to verify user authentication.

This is my implementation of my configuration.

![image

[2021-06-08 02:43] derisen commented on #3723
@a2441918 every access token is meant for a resource, represented in the `aud` claim. To get a token for your backend API, you need to use the scope(s) that you expose in your access token request. [Check out the docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md) for more on this.

And yes, it is best practice to create

[2021-06-08 06:15] EPilz opened #3725 "Logout redirect does not work if permissions for app are not granted"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

If I refuse the App authorization when forwarding to the login, the redirect no longer works during the subsequent logout. In every other case it works.

Deny the app permission (Cancel):

![grafik](https

[2021-06-08 07:55] gvheertum commented on #3674
It appears to be wrapped by some other code in our situation, which only allowed us to set a single redirectUri which is used for all possible actions. So I'll have to dig deeper into the wrapping code to make a distinction somewhere.

What I am also afraid of is that I might need to also add the blank page to the B2C application allowed Reply and redirect Uri's which is something we rather not do

[2021-06-08 10:18] gvheertum commented on #3674
I did some changes to only use a blank page for the acquireTokenSilent and using the regular for the loginRedirect, *but* it did not yield the correct results. After the token was acquired the user is redirected to the blank page with the status information in the url part (after the #). I am not sure why this is happening, but it looks like the solution is not working for us (yet).

[2021-06-08 13:17] ratnapraveen opened #3726 "Only one version of refresh token is being used for any scope."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are using Azure B2C custom policy with a RESTful technical profile to get additional claims. Our SPA uses multiple scopes and access tokens to access the WebAPIs. While generating these tokens silently the MSAL library red

[2021-06-08 14:57] nbanek-fp commented on #3701
Microsoft WVD team is in contact with MSAL devs and we are iterating through ideas to diagnose and address the problem.

[2021-06-08 15:31] pkanher617 commented on #3668
@menosprezzi We unfortunately won't be supporting this at this time. MSAL will only consume the tokens and redirect parameters if MSAL initiated the request. This is mostly to prevent the app authentication from ending up in a bad state.

[2021-06-08 17:24] samuelkubai commented on #3704
@lukas-mertens the parameter to be passed should be `ui_locales` in the `extraQueryParameters ` object. If you try this and the parameter is not propagated as expected, please provide a network trace.

[2021-06-08 17:34] samuelkubai commented on #3714
@brandonsmith86 to successfully initialize the application you will need to dynamically load the configuration as shown [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/13941cfa7c0f08f6cc60820fd416860fe35b007d/lib/msal-angular/docs/v2-docs/configuration.md#platformbrowserdynamic) using the fetch API to avoid the issue with circular dependency.

[2021-06-08 17:41] jasonnutter commented on #3725
@EPilz This is by design, as we only allow an application to complete sign out for a user if they have consented to the app, in order to prevent applications from signing out a user without their consent.

[2021-06-08 18:19] brandonsmith86 commented on #3714
@samuelkubai  I'm not attempting to load dynamic msal configuration.  I am attempting to use one of my own app initializers _after_ MSAL has initialized.  However, _my_ initializer is executing before the MSAL initializers have finished.

[2021-06-08 18:29] tnorling commented on #3726
@ratnapraveen

in B2C you cannot exchange a refresh token for another with scope different from the one you got it for. B2C refresh tokens, unlike AAD refresh tokens are single-resource refresh tokens.

This used to be true but has recently changed. B2C refresh tokens can now be redeemed for any previously consented scope similar to AAD. You can verify this yourself by comparing the scopes for the

[2021-06-09 00:36] jasonnutter commented on #3693
Apologies for the delay, we'll look into fixing this soon, thanks!

[2021-06-09 00:38] jasonnutter commented on #3693
As a workaround, make sure that the correct base url is set in the `base` element that is rendered on the page. We'll look into making the interceptor smarter to be able to pick up a base url that is passed via the command line.

[2021-06-09 03:52] johnvinosh commented on #3693
Hello @jasonnutter , Thanks for looking into this issue. Could you please let me know where to add this base element ?

Because, when I use this command to build `ng build --base-href=/mywebsite/`, It will automatically add the base element to index.html. Please find the index.html which is generated using this command. But still it doesn't work.

[code]

[2021-06-09 06:21] jacksonhart opened #3730 "angular b2c sample - no access token 'known error'"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I am using an essentially unchanged angular11-b2c-sample app.

I have only changed:

1. the clientID in app.module.ts to point at a new (SPA) b2c app registration created using https://docs.microsoft.com/

[2021-06-09 06:37] gvheertum commented on #3674
Update: I also saw that the blank page solution resulted in the X-Frame error. Digging a bit deeper it seems that the login provider (IdentityServer in our case) kept adding the X-Frame header to all responses served, meaning that serving _any_ page via that server will result in the X-Frame header and a non-working saml plugin.

We tried removing the header from the response of the server to see

[2021-06-09 08:42] ratnapraveen commented on #3726
Thank you, @tnorling.

You are right, the B2C service is generating the token with right scope and audience. However, the custom claims added through a REST API claims provider are not related to the scope requested with redeeming a refresh token. I will try to use the other alternatives, but they are obviously not as elegant as silent acquireTokenSilent.

Is there a way I can track the B2C servic

[2021-06-09 12:18] nicolaszawada commented on #3722
Hi @derisen thanks for your reply. However there still seems to be an issue with this approach.
When adding an unprotected 'redirect' route and configuring, the app is being bootstrapped, but then a white screen occurs.

This is also reproducible in the B2C Sample by configuring `'/redirect'` as the `redirectUri` and adding following route to the `AppRoutingModule`
[code]

Keep in mind that all th

[2021-06-09 13:00] #3686 closed

[2021-06-09 13:00] #3672 closed

[2021-06-09 13:00] #3442 closed

[2021-06-09 14:57] samuelkubai commented on #3375
@dilin-MS we are currently reviewing a solution for this issue and we'll update the thread with any updates on the solution.

[2021-06-09 15:16] dipankarmedhi91 opened #3733 "Ionic framework Msal React not working in Native devices (iOS and Android) [works perfectly in Web]"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

Msal React in Ionic framework not working in Native devices (iOS and Android) [works perfectly in Web]
In iOS the accounts array returned by `useMsal` is always empty
`import { useMsal } from '@azure/msal-rea

[2021-06-09 15:59] jasonnutter commented on #3706
Resolved offline using instructions provided above, closing.

[2021-06-09 15:59] #3706 closed

[2021-06-09 16:06] tnorling commented on #3726
I'm not aware of a public tracker but you can open a support ticket with B2C [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and they can provide status updates for you. You can reference this issue if they need more context.

[2021-06-09 16:08] ratnapraveen commented on #3726
Thank you @tnorling . I will give it a go.

[2021-06-09 17:59] derisen commented on #3730
@jacksonhart can you confirm that you've granted admin consent to scope `https://xx.onmicrosoft.com/xxWebApiDev/Access` in your SPA's app registration, and if not, can you do that and give it a try again?

[2021-06-09 18:58] derisen commented on #3722
@nicolaszawada apologies, I did not realize you're not using hash routing. Please use the `MsalRedirectComponent` as component for the `redirect` route in AppRoutingModule. More on this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#how-do-i-log-users-in-when-they-hit-the-application).

I was able to reproduce this. Will get back to

[2021-06-09 19:26] #3022 closed

[2021-06-09 19:39] derisen commented on #3722
@nicolaszawada can you setup a [login-failed route](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-guard.md#login-failed-route) as discussed in the docs? You can then show a component that displays a button to take users back to login page -would that cover your use case?

[2021-06-09 19:42] jasonnutter commented on #3693
@johnvinosh Unfortunately, I am unable to reproduce your issue. When setting `--base-href` (and correct redirect uri in msal), I get redirected back to the correct app. Can you please try reproducing this with one of our samples? https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples

[2021-06-09 21:41] jasonnutter commented on #3733
@dipankarmedhi91

This error happens when the browser doesn't have access to the crypto APIs, which are needed by MSAL. Normally, this is not an issue if your app is served on https (which is also required for the redirect uris). If you are running in an environment where they do not exist, you will need to provide a `window.crypto` polyfill, such as MSR crypto: https://github.com/microsoft/MSR-Ja

[2021-06-09 22:02] dipankarmedhi91 commented on #3733
@jasonnutter Thanks for the reply
Yes we have tried debugging MSAL, the accounts array remains empty even after we get successfully redirected from AD B2C after correct Login.

Also just to understand on the Note above;
Does that mean that MSAL libraries will not work with Ionic currently ?
Or is there any existing limited support for it ?

[2021-06-09 22:54] jasonnutter commented on #3733
You do not appear to set a cacheStorage option, which means MSAL will default to `sessionStorage`. Is there anything in sessionStorage? Is sessionStorage even available?

We do not have documentation or samples for MSAL with Ionic, nor do we do any testing or have considerations for Ionic in the library, and are unlikely to prioritize Ionic specific features or fixes.

[2021-06-10 01:00] #3691 closed

[2021-06-10 06:20] johnvinosh commented on #3693
Hello @jasonnutter , I can able to reproduce the issue using Angular 10 Sample App which is taken from this repository.

[Angular 10 Sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular10-sample-app)

Please find the steps which I did to reproduce the issue.
1. Downloaded the sample app from [Angular 10 Sample](https://github.c

[2021-06-10 07:20] Miwa199739 commented on #3687
This issue hasn't been resolved, and @pkanher617 is working on the fix, thanks!

[2021-06-10 12:42] jakobgn opened #3737 "Access token does not get picked up from cache when using clientId as scope"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

2

### Description

Using MSAL 2.x with Angular (no wrapper lib), B2C and a first party API that validates access tokens,  MSAL fetches a new access token on each request instead of picking it up from cache. We are using the B2C clientId as the onl

[2021-06-10 14:12] jakobgn commented on #3737
Update: using user_impersonation scope does not fix this as target from server token response is still "/"

[2021-06-10 14:22] nicolaszawada commented on #3722
This works when using a login-failed route which is not guarded, but this doesn't seem to be an elegant solution.
This means an authenticated user in our application clicks on 'Password Reset', then **cancels** in the password reset flow, gets redirected to the newly introduced _DummyComponent_, where he has to click on another 'Take me back' button. It just seems like an extra useless step.

To e

[2021-06-10 14:45] murutchan commented on #3710
Thank you for the response, we still havent figure it out. We will probably switch to v2.

[2021-06-10 15:20] todortestnow opened #3738 "Program way to log off(clear authentication data)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

Is there a program way to sign out a user without redirecting to MS log out page?

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

### Identity Provider

Azure AD / MSA

### Source

External (C

[2021-06-10 15:43] jasonnutter commented on #3738
@todortestnow Yes, see here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#skipping-the-server-sign-out

[2021-06-10 15:54] tnorling commented on #3737
@jakobgn This is a known issue being tracked in #2451. The B2C service team is aware and is working on a fix. In the meantime the mitigation is to create a custom scope on your app registration and use that instead. Closing as duplicate but feel free to track the linked issue for resolution. Thanks!

[2021-06-10 15:54] #3737 closed

[2021-06-10 17:40] dipankarmedhi91 commented on #3733
@jasonnutter
As we didn't see cacheStorage option, we tried updating the **cache : cacheLocation** value to both the applicable values on that configuration i.e. sessionStorage & localStorage
[code]
But had no luck, The accounts array from `useMsal` still returns empty Array

What we can see in Native devices is;
The storage has some values related to Ad B2C before being migrated to Custom policy:

[2021-06-10 17:48] jasonnutter commented on #3733
@dipankarmedhi91 There are temporary values in sessionStorage that are set by MSAL when the request starts and are deleted when the rquest is completed. From the screenshot, what you see in sessionStorage are those temporary values, so those being deleted in expected. Have you tried localStorage as the `cacheLocation`?

[2021-06-10 17:52] dipankarmedhi91 commented on #3733
yes we did try out localStorage, it had the same Issues
I think cacheLocation only supports those 2 values

[2021-06-10 18:26] gvheertum commented on #3674
Another update: I worked together with a colleague to make a custom rolled IdentityServer3 package that suppressed the X-Frame headers. Web issues wouldn't be web issues if after clearing one another will arise, so after the X-Frame we had to battle the SameOrigin flag on the cookies, apparently this is also more strictly enforced by Chromium (although in the past the SameOrigin stuff already gave

[2021-06-10 18:49] derisen commented on #3722
@jasonnutter @jo-arroyo any insights on this?

[2021-06-10 19:16] jasonnutter commented on #3693
@johnvinosh This appears to be a bug with the `MsalCustomNavigationClient`. Please try commenting these lines out: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/319600946963c68d1bd8f6f001f05c3637213cfc/samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.ts#L28-L29

[2021-06-10 22:22] tnorling commented on #3726
I did follow up with the B2C service team and they said they do have a solution for this and customer support should be able to help you get it enabled. For custom policies it will require some changes to your refresh token user journey and for basic policies they'll need to enable the feature for your tenant.

Closing as there's no further action from MSAL.js needed at this time but please feel f

[2021-06-10 22:22] #3726 closed

[2021-06-10 22:30] ratnapraveen commented on #3726
Brilliant!! I will follow-up with the support team.

Thank you @tnorling.

[2021-06-10 22:38] r-delgadillo opened #3741 "MSAL ConfidentialClientApplication using SNI (x5c) throwing "AADSTS700027: Client assertion contains an invalid signature""
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.1.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm having trouble acquiring a first-party AAD token using msal-node using SNI. I followed the example in the [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/319600946963c68d1bd8f6f001f05c36

[2021-06-10 23:54] RayGHeld opened #3742 "Please provide the profile edit policy in this sample"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

The sample does not show users how to perform a profile edit using the b2c policy for profile edit.  Please provide an example in this code.  There is an open support case for the issue.  @derisen  -- tagging you per @jennyf19  in our Teams chat for this issue.  Thank you!

###

[2021-06-11 01:05] derisen commented on #3742
Hi @RayGHeld , for profile edit flow, please refer to [this sample](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/tree/main/1-Authentication/2-sign-in-b2c). Let me know if you need anything further.

[2021-06-11 06:02] nickgmicrosoft commented on #3726
To help expand:
1) Today, when a refresh token is redeemed for an access token (regardless if for a different resource or not), aside from expiry/other datetime claims, claims are read directly from the refresh token and included in the access token. That is, information from the directory or from REST calls are not re-fetched. This has been the behavior in both built-in and custom policies.
2) Th

[2021-06-11 07:18] johnvinosh commented on #3693
@jasonnutter You are right. After commenting out that line. It is working now as expected.

But just want to understand, What will be the impact of removing it. Will there be any performance issues ?

Will it be fixed on future release ?

[2021-06-11 12:13] ratnapraveen commented on #3726
Thank you @nickgmicrosoft for the clear explanation.

@tnorling - Looks like I need to fallback to _acquireTokenRedirect_ in case the token is not already available in the cache. Is there any preferred way through which I can restrict MSAL from using  _acquireTokenByRefreshToken_? So, I can call  silent acquire first and then fallback to _acquireTokenRedirect_ if it cannot find the token in the ca

[2021-06-11 14:27] todortestnow commented on #3738
I replaced:
 await msalInstance.logoutRedirect({
    account: currentAccount,
    postLogoutRedirectUri: "https://contoso.com/loggedOut"
});

with:
msalInstance.logoutRedirect({
    onRedirectNavigate: (url) => {
        // Return false if you would like to stop navigation after local logout
        return false;
    }
});
but now after the log off finished in:
msalInstance.handleRedirectPromise()

[2021-06-11 14:49] dipankarmedhi91 commented on #3733
There is one more observation, the token url (`oauth2/v2.0/token`) is not getting called from the simulator,

**IOS Simulator:**
![Screenshot 2021-06-11 at 7 57 52 PM](https://user-images.githubusercontent.com/10825788/121705084-54bb3600-caa2-11eb-9740-695848f4cf35.png)

**Web:**
![Screenshot 2021-06-11 at 8 00 08 PM](https://user-images.githubusercontent.com/10825788/121705231-6f8daa80-caa2-11eb-

[2021-06-11 18:09] sameerag commented on #3741
@r-delgadillo The error you are seeing is coming from the service, MSAL JS relays it to you. Did you follow the instructions listed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/certificate-credentials.md) for using cert-credentials for `msal-node`?

cc @derisen

[2021-06-11 18:43] JJHakiLe opened #3744 "Validating Expiration Time of JWT's"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

This is more of a general question for validating json web tokens, but is there an public API or endpoint available from Azure Ad B2C that can be used to get a UNIX timestamp to compare against the json web tokens expiration

[2021-06-11 19:43] r-delgadillo commented on #3741
Let me take a look at the documentation. I will update the thread shortly. Thanks

[2021-06-11 21:33] jo-arroyo commented on #3640
@JuanGarciaCarmona Thank you for your patience. We were able to reproduce the error, and after some consideration, have updated the `MsalGuard` as well as our guidance around using Angular SSR with msal-angular. As the core libraries do use browser-only objects, much of msal-angular's login and token acquisition would have to occur client-side, although we have made a few changes so that using msa

[2021-06-13 05:33] cwardcode commented on #3702
@pkanher617 My use case involves taking the refresh token, access token, and identity token and shipping it somewhere else so that it can be used to re-authenticate outside of the web app. Something like using device code flow doesn't work in my case, because the initial configuration must be made from the SPA. In this case, being able to retrieve the refresh token is essential so that I do not ha

[2021-06-13 07:33] nikhil1746 commented on #3733
@jasonnutter I tried one more approach to verify if the data missing in localStorage is the reason behind this issue. I tried explicitly feeding the LocalStorage data picked from web chrome browser and with this Im able to get the account info and token API also getting called.
It's not working perfectly but the logic which requires data in localStorage is working correctly with this.

[2021-06-13 09:07] jacksonhart commented on #3730
@derisen thanks for the reply.

I am not familiar with these Azure settings but I found the following in the App Registration > 'Expose an API' screen.
Does it appear correct?
![image](https://user-images.githubusercontent.com/17895642/121801173-8b42ad80-cc68-11eb-9b47-3c07289908d5.png)

However note that if I leave the apiConfig the same as the sample (as below) I still get the issue.
This rules

[2021-06-14 01:00] #3647 closed

[2021-06-14 01:00] #3638 closed

[2021-06-14 03:44] BretMishler opened #3748 "Property 'name' does not exist on type 'Partial<Pick<AccountInfo, "homeAccountId" | "localAccountId" | "username">>'.ts(2339)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

In the following code

[code]

JavaScript has no problem with this, and the code works as expected. But when I make this a TypeScript file, I get errors that

Property 'name' does not exist on type 'Partial<P

[2021-06-14 03:45] BretMishler commented on #3748
A StackOverflow user has contributed the following:

https://stackoverflow.com/a/67964536/5137782

[2021-06-14 09:35] graphicsxp opened #3749 "how to use loginRedirect with msal 2.0"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

My application was working just fine with msal-angular 1.1 but we have to migrate to the latest version and I need help to do the login redirect when user is not logged in.

Before my app is loaded, I take

[2021-06-14 09:44] gomobileas opened #3750 "Still not working - Re: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2524"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

I still get null when I try to get all or the current accountId.

// APIClient.getMsAccountHomeAccountId() is our cookie stored version of account.HomeAccountId which we aquired when we logged in the first tim

[2021-06-14 09:46] gomobileas commented on #3750
Ps. We use @azure/msal-browser directly in our reactjs code. We do not use MSAL React (@azure/msal-react).

[2021-06-14 11:15] Rinki-MSFT opened #3751 "[PublicClientApplication.getAllAccounts() - (msal-browser)] Proper documentation not available describing multiple logged in accounts scenarios."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-acquire-token?tabs=javascript2; https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-java-get-remove-accounts-token-cache

### Description

PublicClientApplication.getAllAccounts() - (msal-b

[2021-06-14 11:26] manandkumaar commented on #2828
I am looking for the solution/recommendation on the below remarks.
I understood that the persistent cache logic in the below file has to be replaced with redis for example.

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/cachePlugin.js

Highly appreciated if anyone can point to any reference implementation.

![

[2021-06-14 11:48] benvdh commented on #2828
@manandkumaar As far as I know there is no reference implementation available of implementing a redis-based cache. You only have two different implementations by Microsoft:

1. The typical in-memory cache (which is (likely) based on a javascript object in JS, and a dictionary in python (see thread above))
2. The serializable cache example (file-based cache, where the whole cache gets serialized in

[2021-06-14 13:00] #3590 closed

[2021-06-14 13:00] #3541 closed

[2021-06-14 13:11] adodrndarr opened #3752 "Call interactive API, before logging in user"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I'm using **MSAL** to authenticate and later b2c flows to sign in users to the application, everything works fine so far.

However, I'd like to **register** (sign up) users not using the b2c user flow, bu

[2021-06-14 14:47] samuelkubai commented on #3464
Closing this issue.

[2021-06-14 14:47] #3464 closed

[2021-06-14 14:49] roopeshreddy commented on #3621
Yes, If the URL's are all lowercase, then it's fine. Also, one more observation regarding this -

`
const customNavigationClient = new MsalCustomNavigationClient(this.authService, this.router, this.location);
 this?.authService?.msalInstance?.setNavigationClient(customNavigationClient);
`

The above lines are missing the Angular v11 sample. It was present in the Angular v10 sample. If we try to re

[2021-06-14 14:59] samuelkubai commented on #3710
Closing this issue, feel free to re-open the issue if necessary.

[2021-06-14 14:59] #3710 closed

[2021-06-14 15:01] derisen commented on #3730
@jacksonhart you still need to provide admin consent though. Go to App registrations > your app > API Permissions blade, you'll find the **Grant admin consent for {your tenant}** button there. Can you do that and try again?

![ss](https://user-images.githubusercontent.com/13197548/121913851-9805e680-cce6-11eb-9652-3b0dcd04b342.png)

[2021-06-14 15:18] samuelkubai commented on #3751
@Rinki-MSFT thanks of the feedback, we will ensure we update the docs. In the meantime here are the answers to your questions:

If you have made multiple interactive calls (redirect or popup) and the user has chosen different accounts in two or more of the interactions.

No and No, unless the other two websites are on the same domain.

No, `getAllAccounts` returns local account state and does not

[2021-06-14 15:23] samuelkubai commented on #3750
@gomobileas what gets returned by `getAllAccounts()`, do you see you `homeAccountId` in the list of accounts that are returned?

[2021-06-14 15:25] samuelkubai commented on #3749
@graphicsxp have you followed the documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) on redirects in msal-angular v2.0?

[2021-06-14 15:26] BretMishler commented on #3748
Also of note is that the code snippet shared in this post is that provided by Microsoft docs

https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-react

So I imagine a lot of people will run into this problem when they go to update their App.js to .ts.

[2021-06-14 15:28] samuelkubai commented on #3748
@BretMishler we are aware of this and have the fix for it in pull request (#3677), the fix will be available in the next release. Till then you can use the `useAccount` hook to get the account.

[2021-06-14 15:55] cwardcode opened #3753 "How can we receive the refresh token?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I'm not exactly sure how I can retrieve the refresh token from the `/token` request's response using the MSAL library. I have a use case where I need to supply the Access, ID, and Refresh tokens to an ext

[2021-06-14 16:14] Rinki-MSFT commented on #3751
@samuelkubai Thank you so much for the answers :).

[2021-06-14 16:29] samuelkubai commented on #3701
Closing the issue as it is not related to msal.js, feel free to open another ticket if need be.

[2021-06-14 16:29] #3701 closed

[2021-06-14 16:30] samuelkubai commented on #3753
Hi @cwardcode, in an effort to better understand the issue, why can't the headless device do the device code flow?

[2021-06-14 16:31] samuelkubai commented on #3752
Hi @adodrndarr, in an effort to best debug the issue, please provide the msal-angular configuration

[2021-06-14 16:42] graphicsxp commented on #3749
@samuelkubai Yes I have. The documentation recommends to use a handleRedirectObservable component, which is out of the question for me if you take a look at my code. I must check if the user is authenticated and call redirectLogin from within the APP_INITIALIZER when my Angular app is boostrap. There is no component at this stage.

The other way is to subscribe to handleRedirectObservable  manuall

[2021-06-14 16:43] cwardcode commented on #3753
Hi @samuelkubai,

Unfortunately, the device is not equipped with the functionality to do the extra steps necessary to initiate and validate a device-code flow, but it is capable of receiving the tokens as part of a configuration object, and knows how to work with them from that point.

[2021-06-14 17:27] adodrndarr commented on #3752
Hi @samuelkubai, the issue was updated with the msal-angular configuration

[2021-06-14 17:36] jasonnutter commented on #3733
@dipankarmedhi91

No, there are no OS specific checks. After MSAL receives an auth code, it will be immediately traded for tokens. Did you try debugging MSAL to see what is happening?

[2021-06-14 17:53] jasonnutter commented on #3733
The main question I am interested in currently is what happens when MSAL writes data to localStorage in Ionic? Does the data persist, or is it erased? This will likely require debugging MSAL itself.

[2021-06-14 19:29] jasonnutter commented on #3621
@roopeshreddy Are you saying that removing the custom navigation client fixes the issue?

[2021-06-14 19:50] adodrndarr commented on #3752
Thanks @samuelkubai  for the support, you're right the config was the issue.
Issue was resolved by:

export function MSALInterceptorConfigFactory(): MsalInterceptorConfiguration {
  const protectedResourceMap = new Map<string, Array<string>>();

  return {

    interactionType: InteractionType.Redirect,
    protectedResourceMap,
    authRequest: {}
  };
}

Configuring the correct protectedResource

[2021-06-14 19:50] #3752 closed

[2021-06-14 19:54] cwardcode commented on #3753
The device doesn't support it at all. There isn't any way to proxy an HTTP request through it, or an API to initiate a device code request. It does expose a configuration that allows me to pass in the tokens individually, though

[2021-06-14 20:35] muratygt opened #3756 "Token is not refreshing before it expires"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1.4.11

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I have an SPA (React) using MSAL for user authentication. The app is throwing 401 Auth error at 60 min mark regardless of user being active or not.

The token is not refreshing before it expires. I think the app is passing th

[2021-06-14 21:54] #3748 closed

[2021-06-14 23:19] jasonnutter commented on #3693
@johnvinosh The custom navigation client is provided to make navigating between pages in your site (in the context of MSAL) faster, so removing will mean actions like navigating between the redirect uri and redirect start page will take longer (as it will no longer use the Angular router).

And yes, we'll look into fixing this.

[2021-06-15 01:40] a2441918 commented on #3723
Thanks @derisen it worked

[2021-06-15 09:03] pratapdev commented on #3756
I am looking for the same kind of auto login in my application, can you please provide a basic code for this approach, thanks

[2021-06-15 10:05] jacksonhart commented on #3730
beautiful that was it thanks.

[2021-06-15 10:05] #3730 closed

[2021-06-15 12:15] DiegoMouts commented on #3575
![image](https://user-images.githubusercontent.com/68430254/122050726-24350e00-cdba-11eb-9768-d31860212b54.png)

[2021-06-15 12:17] DiegoMouts commented on #3575
![image](https://user-images.githubusercontent.com/68430254/122051016-80982d80-cdba-11eb-8a81-56d4a2654a2f.png)

[2021-06-15 12:19] DiegoMouts commented on #3575
![image](https://user-images.githubusercontent.com/68430254/122051093-93aafd80-cdba-11eb-82a2-9a21e6c5ff8a.png)

follow the error, after clearing the localstorage and changing the password

[2021-06-15 13:44] kevincathcart-cas opened #3758 "Angular interceptor should support APIs with optional authentication"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

There should be a way in the angular interceptor to specify an API where authentication is optional
(i.e. it should send the access token if it has a valid one, or if it can silent acquire one, but omit it otherwise). This is useful for APIs that do not strictly require aut

[2021-06-15 13:58] derisen commented on #3723
@a2441918 cheers! Closing this. Let us know if you need further help.

[2021-06-15 13:58] #3723 closed

[2021-06-15 15:20] tnorling commented on #3756
@muratygt Can you try setting `tokenRenewalOffsetSeconds` to 300? This will tell MSAL to renew the token if it's within 5 minutes of expiration. A value of 0 means that MSAL will not attempt to renew the token until it is expired which can lead to behaviors such as the one you describe.

[2021-06-15 15:32] samuelkubai commented on #3753
Thank you @cwardcode for expounding on the limitations, since the headless device cannot handle an HTTP request, how do you intend to use the token on the device?

[2021-06-15 15:35] jasonnutter commented on #3758
Note, this is currently possible in v2. See more here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md#protected-resource-map

[2021-06-15 15:37] cwardcode commented on #3753
@samuelkubai It can make HTTP requests, it just cannot make any custom HTTP requests like I would need in order to initiate and verify a device though device code flow. After it receives the tokens, it can call any Azure-related web api to fetch necessary data and refresh the access token when needed. It knows how to do all of that, but it needs to have all three tokens supplied to it, as per the

[2021-06-15 15:55] samuelkubai commented on #3758
@kevincathcart-cas thank you for filling this issue, we'll mark it as an enhancement and put it in the backlog. We'll update this issue with any updates.

[2021-06-15 16:04] tnorling commented on #3575
@DiegoMouts This is a different error. The "User login required" error means that `acquireTokenSilent` was called without a `sid` or `login_hint` which tells MSAL which account you want to acquire a token for. To resolve you should provide the `sid` or `login_hint` or call an interactive method if you don't have those available yet. Let us know if you need more clarification or if that does not re

[2021-06-15 16:05] samuelkubai commented on #3744
Hi @JJHakiLe, to the best of our knowledge we don't have such a public API or endpoint from Azure AD B2C to provide timestamps or validate JWT expiration time.

[2021-06-15 16:22] kevincathcart-cas commented on #3758
Right, I misread the source, and if specify only `ProtectedResourceScopes`, but don't include a specific httpMethod in any, it will fall back to not using auth. Good.

Obviously the point about optional authentication for a route still stands.

[2021-06-15 16:36] sbsdcorp opened #3759 "Migrating to msal-angular v2 - issue loading in iframe."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Hi all,

We were able to successfully migrate from v1 to v2 authorization code flow with PKCE (redirect flow), the upgrade documentation really help through the process. The app is working fine, but we ha

[2021-06-15 17:27] cwardcode commented on #3753
@samuelkubai The device can take in the tokens if provided separately and make requests to receive calendar information for a user, it just does not have the ability to initially retrieve those tokens itself. Once the Access, ID, and Refresh tokens are provided, it can use the refresh token to generate new Access and ID tokens.

It seems as if I'm repeating myself. The original question was - How

[2021-06-15 17:38] derisen commented on #3741
cc @hpsin

[2021-06-15 17:59] PumpkinVision opened #3760 "Request help refreshing tokens/getting new token after expiration"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,

I have had success using @azure/msal-browser with a Vue SPA and Azure AD in the past but now am having trouble refreshing tokens.
At least two things have changed:
1. My company has started requiring 2FA for IT users,

[2021-06-15 18:04] PumpkinVision commented on #3760
Additional details: I am using the v2 workflow and the popup flow.

[2021-06-15 18:28] muratygt commented on #3756
Thanks @tnorling. I am doing it now and will update the thread with findings. But with more reading the docs, I feel like our app is using Implicit Grant Flow which is not refreshing the token implicitly as mentioned here

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow#prefer-the-auth-code-flow

I feel like `tokenRenewalOffsetSeconds: 300` won't be en

[2021-06-15 19:13] tnorling commented on #3756
Yes msal.js v1 uses Implicit Grant Flow and we highly recommend upgrading to v2 if you are able to. The `tokenRenewalOffsetSeconds` will be relevant in either version however. Both libraries will only return a token if it thinks it is valid, if it's unable to renew for any reason it should throw an error.

[2021-06-15 22:05] roopeshreddy commented on #3621
Yes @jasonnutter It's working fine after removing the custom navigation client.

[2021-06-16 00:14] jasonnutter commented on #3621
@roopeshreddy Thanks, I'm working on a potential fix, follow the linked PR for details.

[2021-06-16 16:23] samuelkubai commented on #3760
Hi @PumpkinVision, could you please provide the correlation id and email me the fiddler trace.

[2021-06-16 17:58] md56n opened #3762 "Only connects to previous project"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I used MSAL to connect to an azure client and now I'm trying to connect to a new client using a new Angular project but it defaults to the previous client. Both clients were in the same directory but I de

[2021-06-16 20:50] JJHakiLe commented on #3744
Hi @samuelkubai Thank you for your clear reply. That's unfortunate to hear but understandable. Thanks for your time

[2021-06-16 20:50] #3744 closed

[2021-06-16 21:38] jasonnutter commented on #3733
This has been solved offline, issue was a mismatch in the origin that initialized the request and the redirect uri.

[2021-06-16 21:38] #3733 closed

[2021-06-16 21:40] jasonnutter commented on #3759
@sbsdcorp Yes, if your app is loaded in an iframe, you will need to change the logic provided in the samples for `initialNavigation`.

Likely yes. This logic is provided to prevent issues when your app is loaded in an iframe or popup when acquiring new tokens, so will need to make this logic smarter to handle your scenario.

Please provide your MSAL Angular configuration. Note, applications that r

[2021-06-16 21:45] jasonnutter commented on #3722
I don't understand why this isn't an option. I would not expect a page that is intended to be shown to users who can't login to require them to log in.

[2021-06-16 22:07] jasonnutter commented on #3714
@brandonsmith86 Can you share your MSAL Angular configuration (specifically for teh guard and interceptor)?

[2021-06-17 02:14] emmansun opened #3853 "ReferenceError: state is not defined"
We used 4.0.0, but it seems the issue is still there in latest version.

![image](https://user-images.githubusercontent.com/7235232/122320280-95102d80-cf54-11eb-85c8-15064962ad94.png)

![image](https://user-images.githubusercontent.com/7235232/122320426-c2f57200-cf54-11eb-9cba-1ecfa5ec439c.png)

[2021-06-17 03:00] Chun817 opened #3763 "Will the error catched in handleRedirectPromise method contain user privacy data?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Since we have a requirement to log all error info into our telemetry for debugging. I searched the web, I cannot find clearly explanations what kind of error will be throw from handleRedirectPromise. If the error contains cus

[2021-06-17 03:50] AimeSoleil commented on #3756
hi @tnorling, could you explain more about `tokenRenewalOffsetSeconds`? When set this flag to `300`, does it mean a background task will refresh the token before 5 minutes when token get expired or we have to call `acquireToken` explicitly?

[2021-06-17 07:45] BeejeeDS commented on #3722
In this scenario the user is already logged in properly, goes to the profile page (on our webapp) and decides to change his password. Because the passwords are managed by Azure B2C we redirect them to the correct flow.

But here comes the tricky part, on this page the user has the possibility to cancel, which should result in him being redirected to the original page again (on our webapp). The use

[2021-06-17 09:08] thaxy opened #3764 "Not compatible with latest SPFx SharePoint Framework 1.12.1"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

This library is sadly not compatible with the **latest** version of the ``SPFx Framework v1.12.1`` because the ``react`` version ``16.9.0`` doesn't match  ``"react": "^16.13.0 || ^17"``. Please update ``SPFx`` or downgrade the ``react`` version in this repo to make both Microso

[2021-06-17 09:43] corporate-warrior opened #3765 "Using msal-angular with Angular9 and IE11 causes build error."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

We're using IE11 with Angular9 in our project, but having some trouble while introducing msal-angular into it.
When we install msal-angular and build the project, we get the following error.

_ERROR in ge

[2021-06-17 12:09] PumpkinVision commented on #3760
Hello and thank you for the reply.
I tried just now hoping to reproduce the issue, but I had no errors in Edge.
Is there a way to force my token to expire?

[2021-06-17 13:26] PumpkinVision commented on #3760
I was able to reproduce the error.
The full error message (with correlation id b9bc8029-946d-4b65-b40a-50350e00645b) is {"error":"invalid_grant","error_description":"AADSTS700081: The refresh token has expired due to maximum lifetime. The token was issued on 2021-06-16T12:09:11.5199847+00:00 and the maximum allowed lifetime for this application is 1.00:00:00.\r\nTrace ID: 084af7f0-f422-4005-862d-c

[2021-06-17 13:48] semihucari opened #3767 "Fragment redirect"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

Hi, I created the exact flow @jasonnutter described here https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2531#issuecomment-770110059. Since I am using react-router and azure portal d

[2021-06-17 14:50] muratygt commented on #3756
Update from adding `tokenRenewalOffsetSeconds: 300` into the configuration. It did not fix the problem of refreshing token before it expires. App is still throwing 401 auth error. I guess it fits into the @tnorling 's last statement of `Both libraries will only return a token if it thinks it is valid, if it's unable to renew for any reason it should throw an error.`

[2021-06-17 16:18] #3762 closed

[2021-06-17 16:22] MaxEleg opened #3768 "How to feed sessionStorage for be connected in e2e test in cypress ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.10.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.10.0

### Description

Hi

I'm using @azure/msal-browser for handle auth on my app, i wrote e2e tests with [cypress](https://www.cypress.io/) but i would like be connected on azure ad when cypress run the tests.

I use the webservice https://logi

[2021-06-17 16:26] jasonnutter commented on #3764
@tnorling Is there a reason we have the peer dep marked as `16.13.0`? Or can it just be `16 || 17`?

[2021-06-17 16:31] jasonnutter commented on #3767
@semihucari

The response being passed back in the fragment instead of a the query parameter (and thus not being readable by the server) is by design. MSAL.js will understand how to parse the response (when `handleRedirectPromise` is invoked), validate it, and then trade the auth code for tokens (or throw an error).

Your page used as the redirect should invoke `handleRedirectPromise` and not atte

[2021-06-17 16:39] RomaRathi opened #3769 "Authentication prompt while 401 request failure - MSAL renew token after expiry takes time"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.12.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.1

### Description

The access token gets expired in half an hour and after that when the api request is made the same expiry token gets appended in the headers and thus 401 response is thrown and that results in the

[2021-06-17 16:45] tnorling commented on #3756
You still need to call `acquireTokenSilent`. If the token is expired or within 5 minutes of being expired MSAL will attempt to renew it instead of returning the cached token. We do this to account for any sort of clock skew that might cause MSAL to return a token that is already expired.

The 401 is being thrown by the resource, not MSAL, correct? To clarify my previous statement, barring some edg

[2021-06-17 16:50] tnorling commented on #3768
@MaxEleg Check out our [testing sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/TestingSample) which uses `msal-node` to acquire tokens in the test suite and hydrates sessionStorage with those tokens. What you're interested in can be found in [this file](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samp

[2021-06-17 19:26] tnorling commented on #3764
@thaxy Thanks for pointing out this incompatibility. We'll see what can be done either on our side or SPFx to resolve this.

@jasonnutter Hooks weren't added until v16.8.0 so that would be the absolute minimum we could support. I'm not sure if we're using any other features that came after that so we would need to test.

[2021-06-17 21:06] #3682 closed

[2021-06-17 23:27] jasonnutter commented on #3765
I can reproduce this, and will close as a duplicate of #3277. It seems Angular 9 does not perform the needed transpiling by default, while Angular 11 does, so I'll see if I can figure out what can be done about that.

[2021-06-17 23:27] #3765 closed

[2021-06-18 04:21] blueshirtdeveloper commented on #2600
@Bjego  I tried your implementation, but its showing the same error, have you tested your implementation?
Thanks for the solution.

[2021-06-18 07:20] semihucari commented on #3767
The redirecturl is set to somewhere in the server since I couldn't put fragments in the azure portal redirect urls (fragments for react-router library). Are you saying that the server can pass the fragment part (fragment for msal auth) back to the client side? Sorry I didn't know its possible, I will try thanks.

[2021-06-18 07:34] thaxy commented on #3764
Thanks for the quick feedback, guys. I skimmed through the [changelog ](https://github.com/facebook/react/blob/master/CHANGELOG.md#1690-august-8-2019) from ``react `` ``16.9.0`` to ``16.13.0`` and saw no breaking changes or features that interfere on the first glance with things being used in ``msal-react``.

Maybe you can think about this internally.

``SPFx`` Framework is used to create SharePoi

[2021-06-18 07:49] lukas-mertens commented on #3704
Before this is getting closed: It didn't work yet, I am currently trying to fix another problem though. It is unlikely that it is related, but I want to be sure... The ui_locales parameter is still not present. Is there any minimal example which includes this? Where can I find documentation? Probably this could serve as a documentation task issue in the meantime.

[2021-06-18 08:35] samuelkubai commented on #3763
Hi @Chun817, Yes the errors thrown for `handleRedirectPromise` are only the errors in `BrowserAuthErrorMessage` that pertain to the flow.

[2021-06-18 08:39] Chun817 commented on #3763
Thanks for your response. Will the errors in BrowserAuthErrorMessage contains any customer privacy data? like user id, client id and etc.

[2021-06-18 08:55] samuelkubai commented on #3753
Hi @cwardcode, apologies for the late reply, the msal library does not avail the refresh token by design. As the library is designed to handle token refreshes for it's users.

What we would implore you to do is try implement the [Device code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code) as that is the flow that best suites your scenario. Feel free to

[2021-06-18 08:57] samuelkubai commented on #3763
No, customer privacy data like user id, client id and the like are not included in the errors.

[2021-06-18 09:01] yvoneee commented on #3674
This part is confusing for me because part of users using Chrome >= 91 and everything works fine. Other user use exactly the same version of Chrome and they have problems during login to app. We had one case when user couldn't log in from his Chrome account but could log in from his account on other computer.

@gvheertum we are not using IdentityServer so it isn't solve our problem :( I have error

[2021-06-18 13:07] jakobgn opened #3771 "Infinite reload loop when refresh token expires"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

2

### Description

When our users access our page and there is an expired refresh token in the cache,  _acquireTokenSilent_ fails with the following error object:
{
    "errorCode": "monitor_window_timeout",
    "errorMessage": "Token acquisition

[2021-06-18 14:49] PumpkinVision commented on #3760
Ran into the issue again today.
{"error":"invalid_grant","error_description":"AADSTS700081: The refresh token has expired due to maximum lifetime. The token was issued on 2021-06-17T13:27:58.3361948+00:00 and the maximum allowed lifetime for this application is 1.00:00:00.\r\nTrace ID: c50baa14-2e35-4a23-abd1-5276cb5f1f00\r\nCorrelation ID: cedab5ae-790a-42a2-ac97-f209ee908a07\r\nTimestamp: 2021-0

[2021-06-18 15:11] tnorling commented on #3771
@jakobgn This error is thrown by `acquireTokenSilent`, not `acquireTokenRedirect`, and is expected when 3rd party cookies are blocked. Can you try to determine why this error is not being caught by your code?

[2021-06-18 15:18] tnorling commented on #3769
@RomaRathi Is there a reason you aren't using the [Interceptor](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md) provided by msal-angular?

The code you've shared isn't working because you need to await your `getAccessToken()` call in the `_setAuthHeaders` function and await that before calling your API.

[2021-06-18 15:25] RomaRathi commented on #3769
@tnorling I'm using interceptor in the app.module file as follows.
{ provide: HTTP_INTERCEPTORS, useClass: MsalInterceptor, multi: true }
It dos not append the accesstoken for the API calls that is why I have to append it by calling acquiretokensilent.

[2021-06-18 15:49] tnorling commented on #3769
@RomaRathi

It should. Let's figure out why it's not. Can you share your interceptor config?

[2021-06-18 15:51] RomaRathi commented on #3769
@tnorling
[Interceptor config.txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/6678095/Interceptor.config.txt)

[2021-06-18 16:02] tnorling commented on #3769
@RomaRathi Thanks. For your `window.location.origin + /api/*` and `window.location.origin + /api/*/*` routes can you try providing the relative path instead, both with and without the leading slash? There's a note at the bottom of [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md) about relative resources.

Also

[2021-06-18 16:02] RomaRathi commented on #3769
@tnorling

I have awaited the getAccessToken as suggested but this still does not work.

private async _setAuthHeaders(token_type = 'Bearer') {
    //access_token = access_token || this.getAccessToken();
    if (this.accessToken == "" || this.tokenExpiry < Date.now() + 60000)
      await this.getAccessToken();

    this.authHeaders = new HttpHeaders();
    this.authHeaders = this.authHeaders.appen

[2021-06-18 16:06] RomaRathi commented on #3769
Actually this approach will be a bit of a work for the organization as every time the new api is added we need to add the path here.
also there are too many api calls in the project.
Will this be a better approach?

[2021-06-18 16:15] tnorling commented on #3769
@RomaRathi You can still use the wildcards, just omit the `window.location.origin` part.

Try `/api/*` and `/api/*/*` and `api/*` and `api/*/*`

[2021-06-18 16:23] jasonnutter commented on #3704
@lukas-mertens Documentation is available here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/language-customization?pivots=b2c-user-flow

[2021-06-18 16:27] RomaRathi commented on #3769
@tnorling
Yeah gotcha...! I removed the window.location.origin and removed the implementation of setting the headers from the AcquireTokensilent method.
Happy to see the token is getting appended in the headers without it.
Now I just need to test that what happens if I make a call after the expiry of the token.

[2021-06-18 16:31] RomaRathi commented on #3769
@tnorling

One observation though.
Every time the new token is appended for every API request but that is not the case with the AcquireTokensilent method.
With AcquireTokensilent one token is utilized unless and until it is expired.

[2021-06-18 16:31] #3769 closed

[2021-06-18 16:33] jasonnutter commented on #3767
@semihucari

The reason why fragments aren't support in redirect uris is because AAD needs to send back the response in the fragment.

And no, the url fragment is not send to the server, so this is not possible. Why do you want the response sent to your server?

If you require that the redirect response be sent to your server, as opposed to being processed client-side by MSAL.js, you will need to

[2021-06-18 16:43] tnorling commented on #3769
@RomaRathi I noticed you had set `tokenRenewalOffsetSeconds` in your msal config to 60,000. This is way too high and likely why it's not using the cached token. We typically recommend a value of around 300 which means the token will only be renewed if it is within 5 minutes of expiration. 60,000 is much higher than the lifetime of the token so it will always try to renew

[2021-06-18 17:12] brandonsmith86 commented on #3714
[code]

[2021-06-18 17:38] a2441918 opened #3772 "useIsAuthenticated hook returns false on every refresh"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I try to use the useIsAuthenticated hook to see if I am logged in or not. If not, I render a login screen and clicking the button will call instance.loginRedirect(). I see the login screen on every fresh logi

[2021-06-18 18:07] tnorling commented on #3772
@a2441918 Can you please confirm that the `MsalProvider` component is rendered above the `App` component?

If so it's possible the login is not succeeding. Can you try calling `handleRedirectPromise` and see if it returns a result or throws an error?

[2021-06-18 18:31] a2441918 commented on #3772
Yeah.

    import './support/polyfills';
    import './index.scss';

    import React from 'react';
    import ReactDOM from 'react-dom';

    import {
      AuthenticationResult,
      EventMessage,
      EventType,
      PublicClientApplication,
    } from '@azure/msal-browser';

    import { MsalProvider } from '@azure/msal-react';

    import App from './components/shared/App';
    import { ms

[2021-06-19 02:02] cwardcode commented on #3753
Unfortunately it’s not possible due to limitations of the third party device that I cannot modify. I’ll stick with using my forked version instead.

I’m a little disappointed that it was a conscious effort to not supply the refresh token to consumers, especially since it is returned in the network request.

[2021-06-19 02:02] #3753 closed

[2021-06-19 15:11] derisen commented on #3742
Closing due to inactivity. Please open a new issue if needed.

[2021-06-19 15:11] #3742 closed

[2021-06-20 01:00] #3713 closed

[2021-06-21 01:00] #3725 closed

[2021-06-21 04:52] sameerag commented on #3741
We figured that this is a usage issue, windows is inserting `carriage return` if the `x5c` is initiated a certain way invalidating it on the server end. We plan to document this for now, and work with the server team to see if this is something they can address. cc @derisen for documenting this.

[2021-06-21 04:52] #3741 closed

[2021-06-21 06:58] semihucari commented on #3767
Thanks for the fast replies and thanks your time, that helped a lot.

[2021-06-21 06:58] #3767 closed

[2021-06-21 07:11] jakobgn commented on #3771
@tnorling Sorry the description was not correct, it is indeed acquireTokenSilent that fails

[2021-06-21 07:15] jakobgn commented on #3771
And as I understand, the library should still work with 3rd party cookies blocked as it is 2.x with auth code and PKCE?

We also do catch the error, it is just not handled well by default (going in infinite reload loop). Maybe it is MSAL, probably B2C, but who knows really.

[2021-06-21 07:59] gvheertum commented on #3674
It wouldn't be the first time that Chromium rolls out some kind of A/B test to production. They did the same with the SameSite cookie policy a while back, where a part of the install base had a different setting on how to handle the samesite flag on the cookies. I believe they eventually reverted that change, but that also puzzled us at the moment why not 100% of the Chrome users had issues.

We e

[2021-06-21 12:57] samuelkubai commented on #3704
@lukas-mertens you could also go through the sample [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/tree/master#optional) to get a better feel of how to implement the ui locale.

Note: The example is a v1 sample but I would expect it works the same in v2

[2021-06-21 13:00] #3668 closed

[2021-06-21 14:16] PumpkinVision commented on #3760
I want to add that I must have been confused when I said earlier that using Chrome fixed my Edge refresh, as I now understand that whether tokens are kept as cookies or in local storage, Chrome and Edge use different cookie sets and different areas of local storage.

But in any event, I encountered the refresh issue again (morning of Monday 6/21/2021). I was able to resolve by fully logging out of

[2021-06-21 17:02] tnorling commented on #3772
This could definitely be it. What happens if you don't clear localStorage?

[2021-06-21 17:05] a2441918 commented on #3772
If I dont clear it, it works great. The reason I clear localStorage is that I am accessing this app from a portal. The portal sends me a token and I store that token in localStorage and use that for API calls. There are cases where I can access this app directly instead through the portal. The existing token in localStorage is expired but still the expired token is being used as a Bearer token.

[2021-06-21 17:09] tnorling commented on #3771
Yes, the library will work in **most** scenarios where 3rd party cookies are blocked. The one thing that will not work with 3rd party cookies blocked is silent token renewal when the refresh token has expired (every 24 hours).

In this scenario you'll receive a `monitor_window_timeout` error such as the one you're getting. And you'll need to catch this and call `acquireTokenRedirect` as you're doi

[2021-06-21 17:16] tnorling commented on #3760
@PumpkinVision The `invalid_grant` error is expected every 24 hours as it means the Refresh Token has expired. The MSAL library should silently catch this error and attempt to acquire a new Refresh Token and Access Token using a hidden iframe, which may result in the `monitor_window_timeout` error you've shown in the screenshot if 3rd party cookies are blocked.

Can you please confirm a couple thi

[2021-06-21 17:19] tnorling commented on #3772
@a2441918 Can you clear just the token in question (I would also suggest adding an expiration check if this is an issue)? MSAL needs to maintain state between page loads so clearing all storage will definitely break MSAL.

[2021-06-21 17:21] a2441918 commented on #3772
Sure, yeah I'll do that. My other plan is to validate the token from the portal and if its a good one, I'll make a call to MS and get the token through msal and use this new token for Bearer auth. Is this a good approach?

[2021-06-21 17:47] jasonnutter commented on #3749
@graphicsxp If your application uses redirect-based interaction, you will need to invoke `handleRedirectObservable` before making any further MSAL requests. This is because processing redirects in v2 is asynchronous. You can do this by using the `MsalRedirectComponent` (which invokes this method for you), or by manually invoking `handleRedirectObservable`.

This could look something like this:

[c

[2021-06-21 17:53] tnorling commented on #3674
@yvoneee Did you try setting the `redirectUri` to a blank page as suggested above and in the docs?

@gvheertum

This is likely because you didn't actually solve the underlying problem but suppressed the error instead. The issue is that when you call `acquireTokenSilent` it opens a hidden iframe to your identity provider requesting a token. When the identity provider redirects to your redirectUri,

[2021-06-21 18:05] jasonnutter commented on #3714
@brandonsmith86 Thanks. Applications using redirect-based navigation need to invoke `handleRedirectObservable` (or handleRedirectPromise` to process any in progress interactions before making further MSAL calls (the guidance about waiting for interaction status to be none assumes your app is separately invoking `handleRedirectObservable`, which will emit the needed events). Please try invoking `ha

[2021-06-21 18:17] tnorling commented on #3772
If you have a valid token why do you need to get a new one? If you want to make sure all tokens are obtained by MSAL I'd suggest not passing the token in from the portal at all. But it's ultimately up to you and what makes sense for your app and the scenarios you need to support.

[2021-06-21 18:19] a2441918 commented on #3772
Got it. Thanks man. Appreciate the help.

[2021-06-21 18:19] #3772 closed

[2021-06-21 18:20] gvheertum commented on #3674
Come to think of it, that sounds fair and possibly correct indeed. We did not succeed in redirecting to the blank-page at first since somehow the underlying identity provider or wiring logic on our side either refused doing what was asked or also redirected us to the blank page _after_ successful authentication, but even that part we didn't get to work in Chrome at first (as far as I recall Chrome

[2021-06-21 18:22] brandonsmith86 commented on #3714
@jasonnutter Isn't that the same as #2 in my description?  In the provider, I am waiting for interaction to be set to none.   However, it never happens.  I can only assume it is because the app has to finish initializing.

[code]

[2021-06-21 18:25] jasonnutter commented on #3714
`handleRedirectPromise` is the function that performs the needed initializing to emit the events your code is waiting for.

[2021-06-21 18:27] brandonsmith86 commented on #3714
So you're saying I can `await handleRedirectPromise` within my initializer and everything should start working?

[2021-06-21 18:41] jasonnutter commented on #3714
I haven't had a chance to test this myself, but in theory, yes. Let us know if that doesn't work.

[2021-06-21 20:05] tnorling commented on #3430
Closing as the question was answered and there has been no activity since. Please open a new issue if this is still a problem, thanks!

[2021-06-21 20:05] #3430 closed

[2021-06-21 20:07] bladmoreno opened #3776 "Unhandled rejection ClientAuthError: Token calls are blocked in hidden iframes"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

We can login with the existing users with no issues, although we created a new user with different roles and we are getting this error only with that user, I already saw your ticket #1156 that was closed,

[2021-06-21 20:25] PumpkinVision commented on #3760
@tnorling Hi and thank you for the comment.
1. I'm not sure how to answer. I am not checking for errors apart from checking for instances of msal.InteractionRequiredAuthError within an attempt to acquireTokenSilent. Functionally, my app is trying to fill a grid with data acquired from a secured api. Since I don't have a valid token, I'm unable to get the data. I see the errors in the console tab o

[2021-06-21 21:04] tnorling commented on #3760
@PumpkinVision

Where did you copy the `invalid_grant` error you shared above from? Was it outputted directly to the console or did you copy it from the network tab? The screenshot you shared of the console does not show this error and instead shows `monitor_window_timeout` error. I want to make sure we're chasing the correct error, as it's expected that the network would respond with the `invalid

[2021-06-21 21:23] #3640 closed

[2021-06-22 01:00] #3702 closed

[2021-06-22 11:56] svdHero opened #3777 "Missing information in msal-react FAQ code snippet"
### Core Library

_No response_

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redirect-flow-in-a-react-app

### Description

In said documentation there is the following code snippet:

[code]
What exactly is `inProgress` here? Is it some local st

[2021-06-22 13:43] jakobgn commented on #3771
Good points, thank you for your insight!

We are indeed using `msal-browser `in Angular without the Angular wrapper. We wanted to move to MSAL 2.0 before the wrapper was ready.
We are indeed calling `handleRedirectPromise ` in the `authGuard `which should be called on all authenticated page loads. I can look into if it gets called and completed before `acquireTokenSilent `
And we are sometimes man

[2021-06-22 15:10] BrandonSchreck opened #3778 "What order are user roles returned?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

Is there was a specific order in which user roles are returned (roles that were created/assigned first, alphabetic, etc.) from Azure, if it was static (the same order on each request), or some type of rand

[2021-06-22 15:13] derisen commented on #3777
@svdHero `inProgress` value comes from [useMsal()](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook) hook. It indicates whether msal is performing any interactions at the moment (acquiring a token, handling redirect response etc.)

The snippet should've been like this (will make sure to update the docs):

[code]

[2021-06-22 15:50] derisen commented on #3777
@svdHero just updated the docs. Feel free to close this if your issue is resolved.

[2021-06-22 16:21] tnorling commented on #3776
@bladmoreno This error means that the page you use as your redirectUri for silent token calls is itself making a token request. You have 2 options to fix this:

1. Make sure that your `redirectUri` is not making token requests when it is loaded in an iframe (this includes making sure it's not protected by the guard and it's not attempting to make API calls on page load that may invoke the intercep

[2021-06-22 16:48] robsierra opened #3780 "Identity is not authenticated and has empty claims when it reaches API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I've been trying to implement this library with Azure B2C but I've hit a roadblock with authentication. I'm able to login to the app with the front-end code and push the access token to the API but by the

[2021-06-22 16:52] derisen commented on #3778
@BrandonSchreck there is no mention of this in any of the roles documentation that I know of. I've just did a few tests and it doesn't seem that like they are sorted by date of creation or the order of user assignment.

@hpsin do you have any insight on this?

[2021-06-22 17:18] rhummelmose opened #3781 "Calling acquireTokenSilent throws but error cannot be caught"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not applicable

### Description

Calling ssoSilent throws but error cannot be caught.

### Error Message

[code]

### Msal Logs

[code]

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Reproduction Steps

1. Use MSAL.js brow

[2021-06-22 17:42] hpsin commented on #3778
There are no orderings or set pattern to how roles are put into the array I'm afraid.  You should always be doing full existence checks on the values in roles, and there should be no roles that imply _lesser_ authorization than another. E.g. a role of "CannotAccessSentMail" would be inappropriate to build, as it's very easy to write buggy code around it.

[2021-06-22 18:31] tnorling commented on #3781
@rhummelmose This error is not being thrown by `ssoSilent`. It is thrown by the `SilentFlowClient` which is created internally when calling `acquireTokenSilent` and should be caught and handled internally by MSAL. It should never be thrown back to you as the developer. Can you please share the code you are using to call `acquireTokenSilent`? Can you also please confirm that you are not using the `

[2021-06-22 18:33] rhummelmose commented on #3781
@tnorling See the code snippet, that is all I do.

[2021-06-22 18:35] tnorling commented on #3781
@rhummelmose Something else is being run somewhere. You can see it in the logs shared. `ssoSilent` is succeeding and immediately afterwards `acquireTokenSilent` is called.

[2021-06-22 18:40] BrandonSchreck commented on #3778
I think this is where the big was introduced. While a user may have multiple roles, the code is using the first value from the array as the user’s role. Thank you all for the quick feedback.

[2021-06-22 18:46] rhummelmose commented on #3781
@tnorling Shit you're right :) I'll close when verified. Thanks.

[2021-06-22 18:49] tnorling commented on #3780
@robsierra Can you please clarify, is your API receiving the token but with missing claims or is it not receiving a token at all?

[2021-06-22 18:58] robsierra commented on #3780
@tnorling Yes, thank you for examining the question. I receive the token but all of the information in the identity is null:
![image](https://user-images.githubusercontent.com/86315244/122983735-4e626f00-d36a-11eb-869f-39b0955d5e53.png)

[2021-06-22 19:07] PumpkinVision commented on #3760
You are correct; I did get the invalid_grant error from the network tab. I forgot that I had checked both the console tab and the network tab for error messages.

I first tried just updating my redirect uri to http://localhost:8080/test, both in the app and in Azure AD registration.
That didn't seem to work on its own.
I then updated my getPopup method to always try acquireTokenPopup if acquireTok

[2021-06-22 19:23] tnorling commented on #3760
@PumpkinVision It sounds like both of these are the culprit (Redirect1 originally, and Redirect2 after you switched to using /test). You don't have to give up either approach if you have a dedicated route you use as your `redirectUri` that doesn't re-route (best is if you make this page completely blank with no logic). If you're only using the popup and silent flows the `redirectUri` will only eve

[2021-06-22 19:28] tnorling commented on #3781
Great thanks! It's worth repeating that I don't expect `token_refresh_required` error to ever be thrown back to you. If it is we should understand why because MSAL should be swallowing that error.

[2021-06-22 19:29] PumpkinVision commented on #3760
Thank you very much for the info and your time!
I'm not sure which approach I will choose, but I think I am sufficiently unstuck to proceed on my own and will close the the issue.
Thanks again!

[2021-06-22 19:29] #3760 closed

[2021-06-22 19:36] rhummelmose commented on #3781
It's happening here:
[code]

https://user-images.githubusercontent.com/620878/122988226-ca2bde00-d3a1-11eb-90b5-072bcf7d6bdc.mp4

[2021-06-22 20:16] tnorling commented on #3781
@rhummelmose From the video it doesn't appear that this error is being thrown to your application, it's being thrown and handled inside msal-browser as I would expect. Are you seeing this error anywhere else when you're not using debug tools? This is an internal mechanism MSAL uses to fallback to making a network call to refresh the token instead of returning a token from the cache.

[2021-06-22 20:18] rhummelmose commented on #3781
@tnorling you are correct but it is not being swallowed correctly by MSAL, otherwise I wouldn't catch it with the "Uncaught exception" breakpoint.

[2021-06-22 20:34] tnorling commented on #3781
I'm not sure I understand. It does not appear to be caught by the "Uncaught exception" breakpoint but rather one of the other breakpoints (which are hidden by the recording widget). If it was uncaught I would expect to see it in the console. Nevertheless, if you can reproduce this in a non-debug setting we can take a closer look.

[2021-06-22 20:57] tnorling commented on #3778
Closing as resolved. Please do let us know if you need further assistance. Thanks!

[2021-06-22 20:57] #3778 closed

[2021-06-22 22:43] bladmoreno commented on #3776
All right so from this blank page you mean from here redirect in some way to the protected application pages, right?

[2021-06-22 23:14] tnorling commented on #3776
No, it should do nothing. The blank page will only be opened in the hidden iframe used by MSAL to renew the token. It will never be visible to the user.

[2021-06-23 06:44] rhummelmose commented on #3781
@tnorling But if I remove all breakpoints apart from the uncaught exception breakpoint, it still bubbles up to the debugger. We use a lot of packages and only have this type of problem with MSAL.

https://user-images.githubusercontent.com/620878/123048895-32f57380-d3ff-11eb-8042-c54314ed811f.mp4

[2021-06-23 08:19] svdHero commented on #3777
@derisen Thank you for your help. I have one follow-up question, though. When should I check the condition `inProgress === InteractionStatus.None`? Every time I interact with MSAL? I haven't seen such a check in former code snippets and MS tutorials (like 6 months ago). Is this new?

[2021-06-23 09:40] mpsijm opened #3851 "Update dependency on `https-proxy-agent` (and, transitively, `base-agent`)"
The version of `base-agent` that this package currently uses as a dependency, patches Node's core `https.request` method, causing trouble in unrelated code: https://github.com/TooTallNate/node-agent-base/issues/35

This has been fixed in [`agent-base`@5.0.0](https://github.com/TooTallNate/node-agent-base/releases/tag/5.0.0), and `https-proxy-update` bumps their dependency on this package in [versi

[2021-06-23 14:12] sbsdcorp commented on #3759
Hey @jasonnutter, thanks for the feedback. I think you nailed the issue pointing out that applications rendering in iframes cannot use redirects for interaction and will have to use popups. I will give it a shot, hopefully I will be able to have a conditional flow so the app uses redirect when not loaded in iframe and popup when it does, otherwise we will need to switch it all to popup.

Thank you

[2021-06-23 15:27] derisen commented on #3777
@svdHero ensuring that there is no other interaction taking place when using an interactive API is the standard recommendation with msal.js (there might be a doc/sample where this is not reflected, do you remember where you saw it?). This is especially true in hooks like `useEffect()` that updates dom upon component mount and update. Pretty much all the code samples and tutorials at this point ref

[2021-06-23 16:34] tnorling commented on #3781
@rhummelmose I'm not familiar enough with the debugging tool you're using here to have a good answer for you unfortunately. Unless you can show me this error is being thrown to your app or to the browser in a production setting I'm not going to spend time tracking this down, especially as it looks like everything is working as expected after you clear the breakpoint. I can tell you that this error

[2021-06-23 16:34] sbsdcorp commented on #3759
Thank you guys for supporting this libraries.

[2021-06-23 16:34] #3759 closed

[2021-06-23 16:38] #3676 closed

[2021-06-23 16:40] tnorling commented on #3780
@robsierra Since MSAL is successfully acquiring the token and attaching it to the request I'm going to suggest you reach out to Azure B2C Support. MSAL has no control over the contents of the token, that is likely controlled by your tenant settings, policy configuration, app registration and/or specific claims/scopes you need to request. Unfortunately we are not the experts in this area so I can't

[2021-06-23 17:47] tnorling commented on #3604
@sschimpf So sorry this was missed for so long. You may be able to configure this via the CORS blade on Azure App Service. You can take a look at this [tutorial](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/tree/main/5-Deployment#step-3-enable-cross-origin-resource-sharing-cors) for a brief walkthrough. However, this is outside the scope of MSAL.js and [Azure Support](https://a

[2021-06-23 17:51] tnorling commented on #3118
@goldylucks Is this still an issue with the latest version of msal-browser v2.14.2? If so are you getting any error messages?

[2021-06-23 18:55] #3621 closed

[2021-06-23 18:55] #3693 closed

[2021-06-23 19:29] tnorling commented on #3503
@forellendev Is this still an issue?

[2021-06-24 06:16] goldylucks commented on #3118
dunno, I no longer work on that project, closing

[2021-06-24 06:16] #3118 closed

[2021-06-24 06:32] nilact opened #3789 "Does MSAL.js v2.x support hybrid flow?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I got to know from the FAQ that MSAL.js V2.x only supports response_mode=fragment.

However, I couldn't find anywhere that whether the library supports hybrid flow.

I also tried providing response_type: id_token as extraQuer

[2021-06-24 07:30] ssunkara79 opened #3790 "Msal angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

Upgraded msal version to 2.

After login ,not able to get active account,retuns null as active account.

### Error Message

BrowserAuthError: interaction_in_progress: Interaction is currently in progress. P

[2021-06-24 09:06] svdHero commented on #3777
@derisen I have three folders on ma hard-disk with official microsoft samples that do not reflect any `InteractionStatus` checks when retrrieving a token. The folder names are

- msal-browser-samples
- msal-react-samples
- ms-identity-javascript-react-spa-main

Unfortunately, I do not know from which Github repo I downloaded them originally. So probably the folder names above do not help really, d

[2021-06-24 10:21] sondrf14 opened #3791 "Inconsistent type definitions between retrieving account and silent request [TS]"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

Using React Typescript, when retrieving the active account from the MSAL instance, the type definition is AccountInfo | Null.
While e.g. the SilentRequest account property requires a type of AccountInfo | Und

[2021-06-24 13:00] #3738 closed

[2021-06-24 14:42] sandeshindi opened #3792 "@azure/msal-react with PublicClientApplication gives error "AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret"'."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

@azure/msal-react 1.0.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

@azure/msal-react 1.0.0

### Description

When we use @azure/msal-react and PublicClientApplication initialize the config we get an error after login

"AADSTS7000218: The request body must contain the following para

[2021-06-24 15:25] jasonnutter commented on #3789
@nilact To clarify, are you referring to the hybrid flow defined here? https://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth

[2021-06-24 15:35] nilact commented on #3789
@jasonnutter Please refer to the below link:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-id-token-as-well-hybrid-flow

[2021-06-24 15:35] robsierra commented on #3780
@tnorling Okay, thank you very much I'll do just that.

[2021-06-24 17:12] JosNun opened #3793 "State Parameter for logout / end session requests"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

In the [OpenID Connect RP-Initiated Logout draft](https://openid.net/specs/openid-connect-rpinitiated-1_0.html#RPLogout), they define a state parameter parameter that get's passed back to the RP using the `state` parameter when redirecting the User Agent back to the RP. As far

[2021-06-24 17:25] sameerag commented on #3793
Yep. @JosNun we do not support `state` for logout/end session requests currently.  I am keeping this open since this is marked as a `feature` for future traction. Once we decide if we want to support it, I can update here.

[2021-06-24 17:28] sameerag commented on #3792
@sandeshindi Can you please check your app'e portal configuration if it is registered as a `publicClientApplication`? The only time we encounter this error if the app is configured as `Confidential` prompting the server to throw this.

[2021-06-24 17:38] jasonnutter commented on #3789
@nilact Right, thanks. MSAL.js v2 does not currently support the hybrid flow. I will add this to our backlog as an enhancement.

[2021-06-24 17:40] sameerag commented on #3791
Silent calls have `AccountInfo` as a mandated parameter. I believe this is converted to `AccountInfo/Undefined` post compilation?

`getActiveAccount()` can return a null, since there is a possibility of no accounts in the cache/memory.

I can check if there is a better way to avoid this.

[2021-06-24 17:44] #3375 closed

[2021-06-24 18:04] jasonnutter commented on #3790
@ssunkara79 If your app uses redirect-based interaction, you need to wait until any in progress redirect operations are completed before making further MSAL requests. Please see this document for more details on using redirects: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

[2021-06-25 07:44] sandeshindi commented on #3792
@sameerag yes its confidential application we do not want it public . Is there a way we can resolve it if it is Confidential Application ?

[2021-06-25 11:39] jakobgn commented on #3771
@tnorling
I have investigated a bit further based on your feedback. Our solution is more or less the same as https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular10-browser-sample

- The interceptor acquireTokenRedirect returns to our baseUrl with only #state in the url. It does not remember the furl href i.e. /user/settings.
[code]

-

[2021-06-25 11:50] sandeshindi commented on #3792
Update changed the Redirect URI in Azure AD from WEB to SPA. then it works fine

[2021-06-25 11:50] #3792 closed

[2021-06-25 12:02] jakobgn commented on #3771
Sadly adding state to the route fragment like so `/admin/dashboard#state=eyJpZCI6ImRlZjkw...` does not fix the infinite reload 😢

[2021-06-25 12:22] jakobgn commented on #3771
Would it be a solution to just clear the cache for msal tokens before doing the acquireTokenRedirect? We don't mind that the user will need to do an interactive login after 24 hours - I think it would actually be preferable to limit access via stored refresh tokens as much as possible for security purposes

[2021-06-25 14:25] md56n opened #3795 "How do I connect my app to Active Directory using Msal?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I've followed the documentation but I'm still having trouble setting up a user sign in. What am I missing?

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Identity Provider

Azure

[2021-06-25 14:32] MaxEleg commented on #3768
I try to implement the code but I got CORS error, where can i fix this ?

![image](https://user-images.githubusercontent.com/25806663/123440303-ea8eaf00-d5d2-11eb-9b43-66173d6d73c5.png)

[2021-06-25 15:42] md56n commented on #3795
The console doesn't get any msal logs.
Right now I'm getting this error:

Sorry, but we’re having trouble signing you in.
AADSTS700016: Application with identifier '[correct id]' was not found in the directory '[wrong directory id]'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authent

[2021-06-25 16:37] derisen commented on #3795
@md56n to get the msal logs you'll need to set the [logger](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md) to `verbose` mode, like:

[code]

Regardless, the error you're getting is telling you that this application (client/app id) has not been [added/provisioned](https://docs.microsoft.com/en-us/azure/active-directory/develop/app

[2021-06-25 16:55] md56n commented on #3795
I changed all of that but now I'm getting this error:
AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: '[client id]'.

I directly copied the redirectUri from under the authentication tab so I'm not sure why it says they don't match.

[2021-06-25 17:01] derisen commented on #3795
@md56n might be a good idea to restart the app and clear browser cache for the app. Occasionally, changes on App registration portal might take a few minutes to take effect.

[2021-06-25 18:11] md56n commented on #3795
I did that but I'm still having the same issue. Is there some setting in Azure that could be changing that?

[2021-06-25 19:23] derisen commented on #3795
@md56n there's really not much chance of this happening other than a mismatch between what's on App registration portal (Authentication blade) and what's on your msal app configuration (redirectUri).

![sdf](https://user-images.githubusercontent.com/13197548/123474961-98886200-d5af-11eb-9595-ce61541f6325.png)

If the issue persists, can you capture the network traffic with [Fiddler](https://www.te

[2021-06-25 19:34] md56n commented on #3795
The only time I get a different result is when both urls are /.auth/login/aad/callback which causes this:
The page cannot be displayed because an internal server error has occurred.

Do you know why this could be happening?

[2021-06-25 21:19] derisen commented on #3795
@md56n are you using Azure App Service? Is the app deployed there? If so, make sure to disable the authentication service on App Service portal:

![disable_easy_auth](https://user-images.githubusercontent.com/13197548/123486021-266c4900-d5c0-11eb-826b-af6d250fef56.png)

Otherwise please send us a Fiddler trace and a link to public repository if you can.

[2021-06-25 21:27] md56n commented on #3795
I do have it deployed. Unfortunately, I don't have the option to turn that off. The page just says "This app is configured using the new authentication experience". The closest option I can find is toggling between "require authentication" and "allow unauthenticated access"

[2021-06-25 21:29] jasonnutter commented on #3797
@mehdiibrahim Apologies of the delay. So far, we have found that this issue is caused by applications not setting `SameSite` to `none` on cookies for their own server (e.g. your own server-side auth cookies), which causes login loops, which results in being throttled, which results in this error. Please verify that any server-side auth cookies your app sets have the `SameSite` attribute set.

[2021-06-25 21:31] jasonnutter commented on #3798
Transferring and closing due to inactivity. Please let us know if this is still an issue, and we highly encourage all developers to move to MSAL.js.

[2021-06-25 21:31] #3798 closed

[2021-06-25 22:31] mehdiibrahim commented on #3797
@jasonnutter we're using aad as our idp. the cookie is being set by aad. we don't set any auth cookie on our own.

[2021-06-25 22:53] derisen commented on #3795
That explains! So I wonder why you needed the msal in the first place. The authentication service on the App Service is a no-code alternative to msal -so they shouldn't be used together. You need to decide between the two. If you like to keep using msal, just check the "allow unauthenticated access".

Can you mention the documentation you initially followed? Sounds like its misleading.

[2021-06-26 08:05] sforsandeep opened #3799 "NullInjectorError: No provider for InjectionToken MSAL_GUARD_CONFIG!"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.14

### Description

I have made a wrapper which reads MSAL configuration from JSON file..

So the structure is a service to read from JSON file and it delivers the value of any key we pass into it. The the wrapper which output

[2021-06-27 11:14] Shrikan14443 opened #3800 "Empty Hash Error while login in via pop up"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Hi,
I'm using a Azure ADB2C for my application.
When i try log in via pop up and do a tab change such as go to notepad to get email and password after adding those and clicking on login-in, I get the belo

[2021-06-27 13:00] #3750 closed

[2021-06-27 14:37] sanjaysarena opened #3801 "Not able to use ssoSilent in msal-angular v1"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.11

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

HI,

I am trying to achieve an sso solution for my apps.
One uses msal-angular v2 and other uses msal-angular v1.

The flow:
User signs in using Azure b2c flow on one app->
The account preffered_username

[2021-06-27 14:39] sanjaysarena commented on #3801
I see that the GET call has '/undefined' at the end. Not sure what is causing this.

[2021-06-28 08:14] svdHero commented on #3777
No, I am not trying to avoud the check for performance reasons. I was merely wondering how to design the "UX flow" and what to do, in case a user presses the button, the check fails and `inProgress` is not `None`.

Maybe it would be worthwhile to add some submit button code snippet to the code samples for noobies like me? Other than that, the documentations has really been improved and is much cle

[2021-06-28 10:42] kanakanaidu opened #3803 "Microsoft Authentication Library(MSAL) not working with PNPJS to create SharePoint List Item"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not Applicable

### Description

Using below article we are trying to perform CRUD(Create, Read, Update & Delete) operations.
[Calling SharePoint via MSAL](https://pnp.github.io/pnpjs/authentication/msaljsclient/#calling-sharepoint-via-msal)

But c

[2021-06-28 13:00] #3575 closed

[2021-06-28 13:24] ssunkara79 commented on #3790
@jasonnutter ,

I have included MsalRedirectComponent but still had same issue.

getting below errors
AADB2C90079: Clients must send a client_secret when redeeming a confidential grant.
interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API.  For more visit: aka.ms/msaljs/browser-errors.
BrowserAuthErr

[2021-06-28 16:10] jasonnutter commented on #3790
@ssunkara79 Please verify that all redirect URIs used with MSAL.js are marked as "spa".

[2021-06-28 16:29] ssunkara79 commented on #3790
It works fine in MSAL 1.0, while upgrading angular version 1.0 to 2.0 I am getting the above issues.
Is there any Azure B2C related changed in Msal version 2.0?

[2021-06-28 16:32] #3780 closed

[2021-06-28 16:51] tnorling commented on #3777
@svdHero It's really up to you how you want to handle this scenario, there's no right or wrong way to do this (which is also why it's not explicitly documented). MSAL will throw an error if interaction is in progress and you try to invoke another interaction so if you want to avoid this error it would be wise to check if anything is in progress before invoking interaction. Other ways you could han

[2021-06-28 16:54] jasonnutter commented on #3790
@ssunkara79 Setting your redirect URI to spa is a requirement for MSAL v2: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#redirect-uri-msaljs-20-with-auth-code-flow

[2021-06-28 16:56] tnorling commented on #3803
@kanakanaidu @pnp/msaljsclient is not a library we support. Can you please open an issue on their [repo](https://github.com/pnp/pnpjs/) instead?

[2021-06-28 17:22] tnorling commented on #3801
@sanjaysarena localStorage is not shared across domains and thus I don't expect app 2 to have access to the preferred_username from app 1. Can you please confirm that this is the case? You may have to find a different way to pass the loginHint between apps.

The `/undefined` is unexpected and I'd like to understand what's happening here. Is this happening in msal-angular v1 or v2? Can you send me

[2021-06-28 17:24] tnorling commented on #3800
@Shrikan14443

This is most likely why this error is being thrown. Your redirectUri will be opened in the popup when authentication is complete and if the redirectUri is auto-navigating to a different page or clearing the hash this error will be thrown. Can you try setting the redirectUri to a page that is not protected by the MSAL Guard?

[2021-06-28 17:26] tnorling commented on #3799
@sforsandeep You need to call `forRoot()` on the `MsalConfModule` in your NgModule imports.

You also have a typo in your `MsalConfModule`. `staticforroot()` should be `static forRoot()`

[2021-06-28 17:28] tnorling commented on #3768
@MaxEleg Your `redirectUri` needs to be registered as type "Spa" in your app registration. Can you please verify this?

[2021-06-28 17:45] tnorling commented on #3771
@jakobgn

I'm not sure I understand your scenario both the expected behavior as well as the current behavior. Can you please walk me through step by step how you want this to work and how it is working right now? For instance, you say only #state is in the url. Are you saying that AAD is redirecting back to your redirectUri with only #state and no tokens? Or is your app providing a custom state th

[2021-06-28 20:42] Ethan-Arrowood opened #3805 "Auth flow stuck on "Working...""
### Core Library

ADAL Node (adal-node)

### Core Library Version

1.0.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

While setting up the Electron Sample App, my auth flow is stuck at "Working...". I'm able to launch the auth window, sign in with my microsoft email, use authenticator for 2fa, and then it gets stuck at this point; not closing the auth w

[2021-06-28 20:51] Ethan-Arrowood commented on #3805
I think I fixed my issue by replacing the `common` in my authority configuration with the Microsoft AAD tenant ID

[2021-06-28 20:51] #3805 closed

[2021-06-28 22:45] #3751 closed

[2021-06-28 23:11] #3206 closed

[2021-06-29 07:12] veenagadag opened #3811 "LoginPop method is opening a microsoft login page in new tab on macbook pro (google chrome- Version 91.0.4472.114))"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I would like to have pop up on my existing application when I click on the login button(  login method is called )which is inside one of the dialog. But currently its opening up in new tab.
I am using macb

[2021-06-29 07:15] nilact commented on #3789
@jasonnutter Thanks for clarifying it. It should have been mentioned somewhere in the FAQ at least.

[2021-06-29 07:38] Shrikan14443 commented on #3800
Hi @tnorling
i changed the redirect url and its working but when i deployed the application without using hash i get an http error and to tackle that i implemented HashLocationStrategy than im getting the below error:
ERROR BrowserAuthError: hash_does_not_contain_known_properties: Hash does not contain known properites. Please verify that your redirectUri is not changing the hash.
    at BrowserAu

[2021-06-29 09:24] ssunkara79 commented on #3790
I have followed above URL and marked all the redirect url's as SPA, but still having same issue.

[2021-06-29 14:27] amshalev opened #3812 "Can't get AcountInfo for acquireTokenSilent"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

0.1.28

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm trying to use acquireTokenSilent but I don't manage to get the AccountInfo which require for the silent flow.
I acquired the token successfully using ConfidentialClientApplication.acquireTokenByClientCredential with clientId

[2021-06-29 15:18] a2441918 opened #3813 "Clicking back button in browser after login throws an error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I have a login screen which has a button. I click the button and it calls loginRedirect with the config. I enter my credentials and I am successfully authenticated and I enter the app. However, when I click t

[2021-06-29 15:57] jasonnutter commented on #3789
@nilact You're welcome, and yeah, that's fair, I'll see that it gets added.

[2021-06-29 16:12] tnorling commented on #3813
@hpsin Any ideas? Have you seen this before?

[2021-06-29 16:22] hpsin commented on #3813
The login flow is a path-dependent flow, so going back takes you to the same page via the wrong path, leading to errors like this.  There are two options I think:
1. We (Azure AD) make a change to edit the back stack while navigating through so that hitting back takes you to the original sign in page, rather than an intermediate step.
2. The app manipulates the back stack, so that hitting back doe

[2021-06-29 18:32] a2441918 commented on #3813
@tnorling @hpsin Apparently, it looks like we are experiencing the same behavior in portal.azure.com as well as office.com

Is this expected or should we do something about it?

https://www.loom.com/share/f790f454d5864e478876892c3376e3f4

[2021-06-29 21:34] tnorling commented on #3800
@Shrikan14443 You need to ensure the page you use as your `redirectUri` is not changing or removing the hash. This error means that the hash appended by AAD was unexpectedly replaced by something else once your application was loaded in the popup.

[2021-06-29 22:25] tnorling commented on #3812
@amshalev This is because the Client Credential flow authenticates an application, not a user. `acquireTokenByClientCredential` should first check the cache for tokens before going to the network. Can you please explain your scenario and why you need to call `acquireTokenSilent`?

[2021-06-29 23:12] #3075 closed

[2021-06-30 01:00] #3722 closed

[2021-06-30 03:21] blackmo18 opened #3815 "Next Login No authentication required after the user logs out"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

User Automatically Logins after the user Tries to logout

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Reproduction S

[2021-06-30 05:58] rash09 opened #3818 "setting navigateToLoginRequestUrl true, the redirect url flicker"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

4.4.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I am redirecting the user to MSAL Edit profile page, upon editing the page and redirecting back to my application, i want the user to redirect back to Edit profile page in my application for which i have set n

[2021-06-30 06:14] amshalev commented on #3812
Thanks @tnorling, I guess I didn't understand correctly the usage acquireTokenSilent.
So in any aquireToken flow the client will first check the cache, right?
If so, can you please explain me for when should I use the acquireTokenSilent?

[2021-06-30 09:41] kirikou12 opened #3819 "Invalid token: aud is empty"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

I'm using angular msal V1 with spring boot 2.2.6.RELEASE

My frontend app generates tokens automatically that seams incorrect, because the audiance part contains only zeros:

[code]

Here is my msal config

[2021-06-30 13:00] #3756 closed

[2021-06-30 13:25] Pitt-Pauly opened #3820 "msal-react react router sample fails to authorize request to fetch profile"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.0.1

### Description

We are working on getting the react-router sample for the msal-react library to run to explore how the MSAL auth workflow works.
I have been following the [docs](https://github.com/AzureAD/microsoft-authent

[2021-06-30 14:51] derisen commented on #3819
@kirikou12 the access token you shared looks valid -it's a token meant for Microsoft Graph (00000003-0000-0000-c000-000000000000 is the app id of MS Graph). The `aud` claim in the token will indicate the intended recipient of the access token; only in ID tokens the `aud` will be your app's app/client Id, otherwise it will be for another app/resource. See this doc for more: [resources and scopes](h

[2021-06-30 17:26] tnorling commented on #3818
@rash09 Can you please share a video/gif of this flickering? Could you also please send me a fiddler trace of the network activity when this happens? You can reach out to me over Teams or email it to me. Thanks!

[2021-06-30 17:32] tnorling commented on #3820
@Pitt-Pauly

Firstly, you should replace the clientId and authority with your own. The values in the samples are intended for our testing and not to be used externally.

Second, the `InteractionRequiredAuthError` indicates that you have not yet provided consent to the scopes you are trying to request an access token for (in this case User.Read). To resolve this you should either request the releva

[2021-06-30 17:33] Shrikan14443 commented on #3800
Hi @tnorling
Actually i tried some solutions but none are working.
Basically, when we are trying with redirecturi as http://localhost:4200/ it is working but when we are enabling hashLocationStrategy and moving to another window as mentioned like notepad for signing in it is throwing an error.
Is there a way in msal to work with hashLocationStartegy i.e. http://localhost:4200/#/ in the scenario of

[2021-06-30 17:35] tnorling commented on #3815
@blackmo18 Are you signing in with a "local" account or a federated account through an external identity provider (Google, Facebook, etc)? This is expected behavior for federated accounts as documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md#b2c-and-sign-out-experience) and [here](https://github.com/AzureAD/micros

[2021-06-30 17:39] tnorling commented on #3812
Not all acquireToken functions will do cache lookups, however, `acquireTokenByClientCredential` is one of the ones that does, as is `acquireTokenSilent`.

`acquireTokenSilent` is currently only used when you are acquiring tokens for a **user** (Authorization Code flow, On Behalf Of flow, ROPC flow, etc.), hence why Account is a required parameter for that API. `acquireTokenByClientCredential` acqu

[2021-06-30 17:50] tnorling commented on #3813
@hpsin

Correct me if I'm wrong, but this wouldn't be a viable solution as the app has already fully redirected to AAD before AAD starts its own redirects. We can prevent the first page (e.g. https://login.microsoftonline.com/common) from being added to the browser history but after that it's in AAD's hands.

It sounds to me like option 1 is the solution here: change server-side behavior to essent

[2021-06-30 18:20] tnorling commented on #3800
@Shrikan14443 I am not able to reproduce this with our Angular 11 B2C sample, which does use the hash location strategy. Did you make any changes to the sample other than changing the interaction type to Popup [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c9d7d774b3af38f3cad1963c0af18c19d5cce40c/samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.modul

[2021-06-30 18:37] lukas-mertens commented on #3704
@samuelkubai
[code]
Am I doing it in the right place? I wanted to look into the source code of the library to find out what's going on, but a search for `ui_locales` yields no results. That means that the library just passes on whatever I add there to Azure AD, right? So there are only two options left:
1. Something in my configuration of AD B2C in Angular is broken, so that it isn't able to add t

[2021-06-30 19:00] tnorling commented on #3704
@lukas-mertens

Correct. `extraQueryParameters` is the mechanism provided by MSAL to add any additional query parameters to the /authorize request that we don't already account for on the public API surface. So this would be the correct way to include the `ui_locales` parameter.

Yes, if you are calling `loginRedirect` directly you will need to pass the authRequest to that function

The `MsalGuard

[2021-07-01 02:38] Shrikan14443 commented on #3800
Hi @tnorling
![Screenshot (56)](https://user-images.githubusercontent.com/85301574/124056308-0f57ac00-da43-11eb-8a87-b0fd9a174a63.png)
when you try twice or thrice by changing tab to notepad and opening popup on notepad it does not work.
This is the only change i made
![image](https://user-images.githubusercontent.com/85301574/124056512-7c6b4180-da43-11eb-8d36-3abcaf17edc2.png)

[2021-07-01 04:16] Shrikan14443 commented on #3800
Hi @tnorling
I added debug on PopupHandler.js
As you can see in the below image it is getting only #/state and not the whole hash token
![image](https://user-images.githubusercontent.com/85301574/124063707-1d142e00-da51-11eb-8122-801638eb0c10.png)

[2021-07-01 04:19] Shrikan14443 commented on #3800
Hi @tnorling
I added debug on popuphandler.js and it is getting only #/state and not the contentHash token
![Screenshot (61)](https://user-images.githubusercontent.com/85301574/124063903-754b3000-da51-11eb-86be-72a32caf5ad1.png)

[2021-07-01 06:20] Shrikan14443 commented on #3800
This issue is intermittent it works sometimes and it doesn't work sometimes.

[2021-07-01 06:45] kirikou12 commented on #3819
@derisen Thanks for the detailed answer.
I don't understant then why my api app is not able to validate it? I get a 401 error.

I'm using Spring Boot Starter for Azure Active Directory

pom.xml:

[code]

webSecurityConfig:

[code]

application.properties
spring.security.oauth2.resourceserver.jwt.issuer-uri=https://sts.windows.net/tenantId

[2021-07-01 06:46] ssunkara79 commented on #3790
yes, getting 2 issues after setting the redirect Urls to SPA,

[2021-07-01 06:57] blackmo18 commented on #3815
@tnorling we are using our Identity Provider, do we have already a solutions for this?

I tried upgrading the msal to 14.2 but I got issues with known authorities.

[2021-07-01 08:25] jakobgn commented on #3771
@tnorling

Sorry for the confusion. We are being redirected back from B2C with tokens and everything as expected. The issue is that we are navigating our users to a default page using the angular router when the page is done loading and the ACQUIRE_TOKEN_SUCCESS event is emitted from MSAL. This happens before MSAL is done timing out, which seem to cause the loop. Appending the #state to the new ro

[2021-07-01 10:32] Shrikan14443 commented on #3800
Hi @tnorling
When we are signing in and staying on the browser it is working.

But when we use hashEnabledRouting while signing in if i switch my login popup window to another parent window i.e. notepad and sign in and stay over notepad till the sign in completes and pop up closes than we are getting the error of hash does not contain known properties on the browser window console.

![image](https

[2021-07-01 10:41] suresh777 commented on #3792
@sandeshindi i am facing same issue, where should i do this change WEB to SPA

[2021-07-01 14:27] derisen commented on #3819
@kirikou12 apologies, I wasn't exactly clear. The token you shared is a valid access token, but it is an access token for Microsoft Graph, not for your web API. So you need to request an access token for your web API by passing the scopes of your web API to the token request, like:

[code]

And the token you get should have the claims `aud`: "myCustomApiClientId" and `scp`: "My.Scope"

[2021-07-01 15:03] kirikou12 commented on #3819
Thanks @derisen
Ok, I will try to configure my app and on azure and test and let you know if it works.

I have another question: is it normal that I get invalid signature error when I parse jwt.io ?

[2021-07-01 16:15] tnorling commented on #3815
@blackmo18 The reason this doesn't work as you expect is that when you sign out of app A it doesn't mean you also want to sign out of App B, C and D that use the same account. When you call logout B2C will clear it's own session cookies but your downstream Identity Provider will not, in order to allow other applications to remain signed in. Now when you try to log back in, your Identity Provider w

[2021-07-01 17:21] tnorling commented on #3800
@Shrikan14443 Thanks, I am able to reproduce this now. What appears to be happening is that when the main window is minimized the popup window is auto navigating to the `/#/` route **before** the main window can extract the hash, creating a race condition.

To resolve this you'll need to set `initialNavigation` to `disabled` in your `app-routing.module.ts` when the app is loaded inside the popup.

[2021-07-01 17:45] derisen commented on #3819
Judging by the token you shared I wouldn't say so. Can you please use https://jwt.ms/ instead?

[2021-07-01 17:47] tnorling commented on #3771
@jakobgn

Got it. Can you please put a check in your code to detect when it's being run in an iframe? When your app is loaded in an iframe it should not do **any** navigation or manipulate the hash as it can cause race conditions like this. I suspect this navigation is causing the top frame's acquireTokenSilent call to timeout which means it's falling back to `acquireTokenRedirect` and causing you

[2021-07-01 18:29] tnorling commented on #3790
@ssunkara79 Can you please also confirm that you don't have other localhost reply urls registered as type "web" on the same registration? If localhost exists as both type web and spa the login server will arbitrarily choose one to use, which can cause the client_secret error.

[2021-07-01 19:05] kirikou12 commented on #3819
I used it and it shows [Signature] in green, I suppose that means the signature is ok?
I still can't understand why my api tells me that the token signature is invalid?

I've tried, as you advised me, to get an access token for my api: first I changed my azure app config. Under "expose an API" I added an id uri: api://appId/MyApiScope. Under "Authorized API" I added my api.
Now when I send the acc

[2021-07-01 19:23] tnorling commented on #3712
@thoo1 The authority metadata network call actually is important for serving tokens out of the cache as it provides aliasing information for different authorities that may help with cache lookups when the token is cached under a different authority domain than what you requested. (i.e. login.windows.net is the same as login.microsoftonline.com). Without this network call you may actually get unexp

[2021-07-01 20:27] tnorling commented on #3811
@veenagadag We were able to reproduce this. Given this is happening on all browsers on Mac we're inclined to believe there is some system setting that is causing this but have, as of yet, been unable to find it. We're looking into this and will get back to you when we have a solution or workaround.

[2021-07-01 21:16] derisen commented on #3819
@kirikou12 If you can parse your access token on https://jwt.ms/ and you see the claims as should be (correct `aud` and `scp` etc.), then it must be something do with the validation logic on the web API side. Unfortunately I'm not familiar with the Spring Boot Starter. May I suggest you to take this issue to the [ms-identity-java-spring-tutorial](ms-identity-java-spring-tutorial) repo?

Before doi

[2021-07-01 21:25] thoo1 commented on #3712
@tnorling thanks for the explanation, I think it's fair that we can pre-emptively call acquireTokenSilent in handleRedirectPromise to get it out of the way. One step further, is it possible that resolveEndpointsAsync is exposed directly? That way we also don't have to pay the cost of acquiring a new token in case the token is expired while we are calling it pre-emptively in handleRedirectPromise

[2021-07-01 22:46] tnorling commented on #3712
Not sure what you mean by "in handleRedirectPromise". You should call `acquireTokenSilent` in your initialization code.

Probably not, but it is very likely that we add an initialization API in the somewhat near future that will do some initial async set up we can't do in the constructor. This type of pre-fetching would be a prime example of something we could include in that initialization API. I

[2021-07-01 23:50] blackmo18 commented on #3815
I gonna close this issue, since the behavior is expected. Nonetheless thank you for the response.

[2021-07-01 23:50] #3815 closed

[2021-07-02 00:23] blackmo18 commented on #3815
@tnorling this might not be related, but the thing is once i logout i can see the session is cleared, but when ever i got redirected after i rel ogin (no authentication anymore) it goes to `<UnauthenticatedTemplate>....</UnauthenticatedTemplate>`

i use this for login
[code]

any ideas, since its working fine if not used with identity provider

[2021-07-02 01:00] #3763 closed

[2021-07-02 07:15] kirikou12 commented on #3819
@derisen I finally got it working locally. I just forgot to add my scope in the protected resources map like this:

[code]

But when I deploy my app on production env, I get a 401 error. Is there a sepcic config when passing from http to https ?

[2021-07-02 11:40] ssunkara79 commented on #3790
hi @tnorling
yeah I have same localhost url's  registered in WEB and SPA.
Now we modified the ports.so in WEB the localhost url is different and in SPA It is different.
Now I am getting the only Client secret error
invalid_request: undefined - [undefined]: AADB2C90079: Clients must send a client_secret when redeeming a confidential grant.
Correlation ID: 1a2da4e5-e14d-47c1-9d03-e0bbd80df85d
![Capt

[2021-07-02 15:49] tnorling commented on #3790
@ssunkara79 localhost URIs are all treated the same by the portal, changing the port is not enough. See [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#localhost-exceptions) and please make sure localhost is only defined as type SPA

[2021-07-02 15:54] tnorling commented on #3815
@blackmo18 You're right this is likely a different issue but I would need more information to understand what is happening. Can you first try to reproduce this with our [b2c sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/b2c-sample) and if you're seeing the same issue there or if you need help understanding what you're doing different

[2021-07-02 17:42] Pitt-Pauly commented on #3820
Thank you for your response @tnorling!
The docs mentioned that changing the clientId would be optional, so I assumed it would work out of the box. Registering a new user and logging in actually worked, which makes this even more confusing. I assume in the App registration the admin would have to allow the newly registered user to use the app, hence the consent error message.

Sorry but I don't qui

[2021-07-02 18:19] tnorling commented on #3820
In this case it's actually the user that must to consent to the app having access to their profile data. When you request the scope User.Read in an interactive request AAD will prompt the user to consent. Until that consent has been given, silent token acquisition will fail, which is what's happening here. Read more about scopes and consent [here](https://docs.microsoft.com/en-us/azure/active-dire

[2021-07-03 02:26] mindingdata opened #3828 "MSAL inside Ionic Capacitor"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.1

### Description

Firstly, I know MSAL with Ionic is not officially supported, but I have seen some bugs raised here that looked like they were eventually resolved. So this is a moonshot.

I believe my issue is very very c

[2021-07-03 02:37] mindingdata commented on #3828
One more thing I want to mention. Is that if I don't force feed it, I am left with the correct values in local storage :

![image](https://user-images.githubusercontent.com/1021021/124340834-239ad500-dc0c-11eb-9769-d0f1d0ea91e9.png)

Importantly the origin is correct. So I am definitely starting, redirecting, and ending on the same domain/scheme so I don't believe this to be an issue.

[2021-07-04 01:00] #3749 closed

[2021-07-04 01:00] #3714 closed

[2021-07-04 01:00] #3674 closed

[2021-07-04 04:30] mindingdata commented on #3828
Oof. Following MSAL documentation it will tell you to do something like so :

[code]

However I believe using the route navigate is causing issues. I can't be sure, I think it might be something to do with routing including the hash instead of extracting that out. However using window.location.href and navigating that way did work!

Closing this for now.

[2021-07-04 04:30] #3828 closed

[2021-07-04 06:02] amshalev commented on #3812
Thanks!

[2021-07-04 06:02] #3812 closed

[2021-07-04 06:45] svdHero commented on #3777
Thank you @tnorling for your explanations. I will consider your points and will have a look at the latest examples again.

Maybe it could help to add the explanations in this issue to the documentation. Or is there already a paragraph dedicated to `InteractionStatus` and check failure handling?

[2021-07-04 19:53] rhalaly opened #3829 "Store a token from different source"
I have a web app that uses MSAL for Microsoft authentcation.

Everything is fine, but now I want to use my web app as a  MicrosoftTeams Tab App (in addition to the web app that is accessible from the browser)

But Microsoft Teams has its own auth context via the Teams JavaScript SDK.

It would be great if MSAL will able to use Teams as auth context if available.

[2021-07-04 19:53] #3829 closed

[2021-07-05 02:53] fhljys commented on #3687
@pkanher617 Any update on this issue?

[2021-07-05 08:53] rhalaly opened #3830 "Msal SSO with Teams Javascript SDK"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

We are developing a web app that is accessible from the browser and everything works fine. But we want to be able to use our web app as Teams Tab App as well.

For Teams Tab App, we have to use the Teams Java

[2021-07-05 09:11] ssunkara79 commented on #3790
hi @tnorling ,
thanks for the quick response.
I have removed localhost URLs in web. kept localhost URLs as SPA.
still having same issue, please help me on this asap

[2021-07-05 12:58] jakobgn commented on #3771
Sure - but my understanding was that the running in iframe is an implementation detail of MSAL so how do I know when it is running in an iframe? Which MSAL file can give me this information?

Fair - It is probably not important.

Yea unfortunately it is fetching tokens on the same page several times without redirects. The only change being the configuration of  memoryStorage over localStorage and

[2021-07-05 15:31] r4hulp opened #3831 "MSAL logout doesn't land me on microsoft logout page"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.1

### Description

Hi,

I am using Angular wrapper of MSAL.js v2 in one of my clients' applications. We have a logout button, click on which should redirect the user to the Microsoft identity page where the user can select

[2021-07-05 15:50] derisen commented on #3830
@rhalaly  It's unlikely that you'll be able to use the same code for both browser and Teams environments -you'll have to make use of Teams JavaScript SDK client as you mention. For doing SSO in a Teams Tab app, you can use MSAL in conjunction with Teams JS SDK. See [this sample](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs) for an implementation. Also good to check

[2021-07-05 15:59] derisen commented on #3819
@kirikou12 are you saying that when you deploy both your SPA and the web API behind https, calls to the web API result in 401 error? Hard to say before knowing more about the error: Anything in the console on the web API side? Regardless, there should be no special configs on the SPA side, so I would say you should look into Spring Boot Starter configuration. Again, I can't help much with Spring.

[2021-07-05 16:07] hhertogh opened #3832 "MSAL with Windows Virtual Desktop (WVD)"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.1.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,
I opened this question a month ago but it was closed without answer (https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3715).
We have a VueJS application which is using MSALJS to make use of the

[2021-07-05 16:09] derisen commented on #3831
@r4hulp have you registered your `postLogoutRedirectUri` as a Redirect URI (in addition to `http://localhost:4200/auth-callback`). Is there any argument you are passing to [logout()](url) or [logoutRedirect()](url) (in [particular](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#skipping-the-server-sign-out))? Btw, your `redirectUri` is o

[2021-07-05 16:14] rhalaly commented on #3830
I don't need a deep integration. It is more for being able to be displayed inside Teams as a Tab.

About the `ssoSilent()`, I'm using the `msal-react` lib and use `MsalAuthenticationTemplate` for the login. I didn't dig inside the source code but I want to believe that it uses `ssoSilent` first before the acutal interaction.

[2021-07-05 20:35] blackmo18 commented on #3815
Right now I am using `const isAuthenticated = useIsAuthenticated()` to check whether i am really have correct token
and clear all token info cached on the app side before relogin, and whenever i am in unauthenticated template redirect back to login.

it works for now, ill post another issue if i have another unusual behavior related to this

[code]
```<UnauthenticatedTemplate><Login/></Unauthentic

[2021-07-06 01:00] #3781 closed

[2021-07-06 01:00] #3604 closed

[2021-07-06 01:00] #3503 closed

[2021-07-06 01:29] derisen commented on #3830
@rhalaly not sure how this relates to msal then. You can display web page in Teams as a tab in general. You'll need to look into Teams app development for more on this. Keep in mind that you can achieve sso between apps on the same domain if you [configure msal to use localStorage](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#ca

[2021-07-06 07:42] rhalaly commented on #3830
@derisen sorry if some context was missing. I have a web app that has a protected area that the user must login to see it. I want to show one of the protected pages in the Microsoft Teams Tab.
Microsoft Team handles the authentication for its tabs and with Teams Javascript SDK Client you can get the login info.

But in some cases, MSAL doesn't see that Teams already authenticated and redirects the

[2021-07-06 11:55] skyshine999 opened #3833 "MSAL logout remove account selection page"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.14.11

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.14.11

### Description

i am using msal.js library for azure authentication. Due to refresh token timeout issues in msal we thought of implementing session timeout. If user is inactive for 15 mins we do logout but when i do msal.

[2021-07-06 16:17] mexmirror commented on #3649
Is this is issue planned or on a roadmap? Having a 30 day refresh token in browser storage is insecure and would force us to use another library if this is not fixed soon.

[2021-07-06 16:42] tnorling commented on #3649
Refresh tokens for SPAs have a 24 hour lifetime. We currently do not have plans to remove the defaults, however, we will look into providing a way to turn off the defaults for those that don't want them, though this work has not yet been scheduled. Please do be aware that not using the refresh token may result in more frequent interactive sign-ins, especially in browsers that block 3rd party cooki

[2021-07-06 16:45] derisen commented on #3830
@rhalaly sounds like the [sample](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs) I shared covers your use-case here. Are you having this issue with the sample? If the user has an active session with Azure AD, the `ssoSilent()` API would be able to leverage that. The login page you mention shouldn't require user to enter credentials, only to choose an account (which

[2021-07-06 16:48] rhalaly commented on #3830
I will try it. I will close the issue now. Thank you!

[2021-07-06 16:49] #3830 closed

[2021-07-06 16:56] sameerag commented on #3832
@hhertogh Sorry the original issue is closed as there was no response from server team. MSAL JS cannot solve this issue. I will keep the issue #3715 open and send a reminder, closing this one.

[2021-07-06 16:56] #3832 closed

[2021-07-06 16:56] sameerag commented on #3715
Will connect Ravi with the customer soon

[2021-07-06 17:06] sameerag commented on #3833
I think this is by design. `logout` is not supported without select accounts by the service today. @hpsin can clarify if this is coming.

Any details on this scenario? May be we can help with an alternative?

[2021-07-06 17:19] tnorling commented on #3771
@jakobgn

Use this: `const isInIframe = window !== window.parent;`

To be very clear, the timeout is **not** caused by an expired token or a failed call to the /token endpoint. The timeout is caused by a race condition between your app's route changes and MSAL receiving the response from the server. There's unfortunately nothing we can do on our side to fix that or make it handle that scenario mor

[2021-07-06 17:33] tnorling commented on #3777
@svdHero From the [FAQ on redirects](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redirect-flow-in-a-react-app):

Additionally, most of our code snippets and all of our samples demonstrate checking `inProgress`/`InteractionStatus` before invoking MSAL APIs. You'll also find a detailed explanation specifically about the `inter

[2021-07-06 17:53] hpsin commented on #3833
We have a logout hint coming over the next few months - it will allow the app to silently logout a user.  This fixes a DoS potential, where apps could signout a user entirely without ever knowing who they are or signing them in.

[2021-07-06 17:54] tnorling commented on #3818
@rash09 Thanks for emailing me the video. It looks like you're getting stuck in a loop between the homepage and `/profile`. Since you're setting `navigateToLoginRequestUrl: true` your flow should look something like this:

`http://localhost/profile` -> B2C edit profile page -> `http://localhost/` -> http://localhost/profile`

Something seems to be causing you to be auto redirected back to `/` the

[2021-07-07 01:00] #3791 closed

[2021-07-07 07:33] rash09 commented on #3818
@tnorling , below is my logic for reactjs based SPA
**Router file:**
[code]

**Expected flow:**
http://localhost/profile -> B2C edit profile page -> http://localhost/profile`

So i am basically checking the isAuthenticated for each route path.
I guess the isAuthenticated is failing or there is a delay in authenticating the user due to which the condition is switching back and forth.

- Is there a

[2021-07-07 07:53] MaxEleg commented on #3768
@tnorling it is
![image](https://user-images.githubusercontent.com/25806663/124720943-f484ac00-df08-11eb-9fad-43b00e2868d2.png)

[2021-07-07 09:29] RomanHubyak opened #3839 "Does msal.js support ADFS 2016?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

none yet

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

none yet

### Description

I found the mention about ADFS 2019 support (https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/99) but there is no information about other versions of ADFS. So, does msal.js s

[2021-07-07 15:56] tnorling commented on #3818
@rash09

This is why you're getting stuck in a loop. `useIsAuthenticated` will always return `false` on the first render. This is because MSAL needs to perform a few initialization steps, and in the case of coming back from a redirect, process the response from the server. In order to fix this you should not redirect to the homepage if the `inProgress` value from the `useMsal` hook is not equal to

[2021-07-07 16:24] tnorling commented on #3768
@MaxEleg Do you happen to have any other redirect Uris registered as type "web"? Are all of them type "SPA"? If you have a localhost uri registered as both types the server may choose either one (even if the ports don't match)

[2021-07-07 16:25] tnorling commented on #3790
@ssunkara79 Can you please email me a fiddler trace and your app registration manifest?

[2021-07-07 17:14] jcox86 opened #3842 "TypeError: cannot read property initializeWrapperLibrary of undefined"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.1

### Description

I have upgraded to the latest versions of Angular 12 and msal packages coming from Angular 11 and @azure/msal-angular 1.1.1 (no @azure/msal-browser) where everything worked fine.

I have added in all code

[2021-07-07 20:02] RavennMSFT commented on #3715
@hhertogh is this behavior when logging into the WVD web client, or the WVD VMs

[2021-07-08 01:17] sameerag commented on #3839
@RomanHubyak We do not. We support any federated ADFS flow, as long as AAD supports it. For direct endpoints, we only support ADFS 2019, since it is OIDC compliant.

[2021-07-08 02:36] Raffledoocious opened #3845 "How to configure scopes for an app which hosts both the api and front end on a single app service"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I have a .Net Core hosted Web API which also serves the Angular front end. This app is deployed on a single app service in production. Before upgrading to the 2.x version of the MSAL library, we have been

[2021-07-08 05:21] RomanHubyak commented on #3839
Thanks!

[2021-07-08 05:21] #3839 closed

[2021-07-08 09:32] hhertogh commented on #3715
@RavennMSFT we are using the Remote Desktop App to connect to WVD VMs.

[2021-07-08 10:26] cbismuth opened #3846 "BrowserAuthError: no_account_error: No account object provided to acquireTokenSilent and no active account has been set. Please call setActiveAccount or provide an account on the request."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Users are authenticated with Microsoft Azure AD identity provider, it works great but we can't retrieve user details from MSAL and MS Graph API.

### MSAL Configuration

[code]

### Relevant Code Snippets

[c

[2021-07-08 11:07] DevRCRun opened #3847 "PKCE for msal-node auth code flow with confidential client best practise?"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.2.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am assuming playing with the below samples that the implementation should be largely the same for a confidential client?

[1] https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/

[2021-07-08 12:32] jakobgn commented on #3771
@tnorling
isInIframe is always false, is that a bad sign?

I discovered that we initiate angular routing already as soon as we have an account object available starting the race condition in the case that the token is invalid. If I delay the routing until `msal:acquireTokenSuccess` has been emitted the loop is avoided but the app doesn't reroute at all in the case that there is a valid token in th

[2021-07-08 15:57] derisen commented on #3846
@cbismuth are you using [App Service authentication/authorization](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) by chance? If so, your issue is due to users not being authenticated with MSAL itself. App service authentication is a no-code alternative to MSAL for basic authN/authZ i.e. you don't need to use one if you're using the other.

[2021-07-08 16:08] tnorling commented on #3771
This should return false anytime this code is run in the top frame of the window. It should return true if it is run inside of an iframe. Unless your app is intentionally being embedded inside an iframe the only time this should return true is inside the hidden iframe that is used when the refresh token is expired.

What you're looking for here is `msal:HandleRedirectEnd` which will be emitted aft

[2021-07-08 16:19] MaxEleg commented on #3768
@tnorling we got only SPA

[2021-07-08 16:24] jasonnutter commented on #3842
@jcox86 Can you please share a repo that includes a sample app that reproduces your issue? Thanks!

[2021-07-08 16:44] sameerag commented on #3848
Track this for the new middleware - if we still need to support the App ID URL. Need clarity from portal/app model teams.

[2021-07-08 16:44] derisen commented on #3845
@Raffledoocious in your `protectedResourceMap`, the scope you are requesting for the resource `environment.apiBase` is openid, which gets you an ID token and an Access Token for [graph user_info endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo). Can you replace it with the scope you exposed during app registration (the first screenshot) and give it a try again?

[2021-07-08 17:16] cbismuth commented on #3846
Thank you @derisen, I think we do so. How can we retrieve user identifier or how can we resolve if a user belongs to App role? (cc @JamesDLD)

![image](https://user-images.githubusercontent.com/21545602/124963779-83381c80-e020-11eb-9b21-222731575ae3.png)

![image](https://user-images.githubusercontent.com/21545602/124964085-e033d280-e020-11eb-814b-57014f760336.png)

[2021-07-08 17:21] sameerag commented on #3847
@DevRCRun PKCE can be used by all clients (Confidential & Public). We did not specify samples for confidentialClient since we do not have too many clients using PKCE on `ConfidentialClientApplication`.
We can add the support, however.

Can you please elaborate the possible problem you envision here?

[2021-07-08 17:22] tnorling commented on #3768
@MaxEleg Can you please email me a fiddler trace and a copy of your app manifest? Thanks!

[2021-07-08 18:01] bmahall commented on #3491
@saadataz  I am not able to reproduce this on Safari. Can you please share a network trace of this behavior? Feel free to share on email or here.
Also, can you verify what version of msal-browser you are using. Kindly update to the latest published version and let us know if you run into this issue again.

[2021-07-08 19:07] derisen commented on #3846
@cbismuth I'm not very familiar with App Service authentication unfortunately. [This article](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-user-identities) might be of help perhaps.

[2021-07-08 20:38] RavennMSFT commented on #3715
Perhaps I misunderstood your use case. Are you saying that VueJS enforces MFA as expected on desktops but when the same app is used within a VM, it does not?

[2021-07-08 21:29] bladmoreno commented on #3776
I did this change to our application but I still got the same error

[2021-07-08 21:56] #2884 closed

[2021-07-08 22:24] sameerag commented on #3776
@bladmoreno Are you seeing this on the "blankpage"? Can you share the relevant code snippets?

[2021-07-08 22:26] bonk-se opened #3849 "TypeError: this.fail is not a function"
My node server crashes when I get an authentication failure, since it can't handle the error message properly. Here's the crash log:

[code]

Just before the crash, the error log for an authentication error is printed, containing:
"authentication failed due to: invalid signature"
which matches the failWithLog-functions output

[2021-07-08 22:32] sameerag commented on #3852
@pkanher617 to track this for the new version

[2021-07-08 22:33] sameerag commented on #3853
We will work on a repro and get back.

[2021-07-08 22:33] MassivDash opened #3854 "[Question] The reason for dropping SAML and WSFED ?"
I have read through the changelog and have noticed that SAML and WSFED staregies were dropped by this package, been recently tasked to implement SAML2.0 auth protocol against my strong plead to use Oauth2 with PKCE version, I was hoping maybe there is Azure Ad security reason or any other related issues that would help me drop the protocol, and conceive my overloards to use Oauth  ?

[2021-07-09 05:46] rash09 commented on #3818
@tnorling , The above solution seems to be working after adding the **_inProgress_** router login and **_navigateToLoginRequestUrl_** set to **true**, but i am facing different issue now with this logic in place.
http://localhost/profile -> B2C edit profile page
When i click on edit profile link,

1. The component gets re-rendered before redirecting to B2C edit profile page
2. Once returned back t

[2021-07-09 06:47] cbismuth commented on #3846
I'll read this, thanks @derisen, and I'll post the solution in the comments.

[2021-07-09 09:06] hhertogh commented on #3715
Yes, from a desktop no issue, from WVD (VM), MSAL is not working properly probably because of conditional access.
I have encountered similar issues when using MSAL on an Outlook add-in. From desktop working, but not from Outlook on WVD...

[2021-07-09 09:34] cbismuth commented on #3846
Problem solved, everything is contained is the response below, thanks a lot @derisen:

[code]

[2021-07-09 09:34] #3846 closed

[2021-07-09 09:56] larskaare opened #3856 "authorityMetadata not handled properly (msal-node@1.1.0"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

4.3.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.1.0

### Description

Hi,

not sure if all the details for core libs etc. are ok, but anyhow; I have been experimenting with msal-node (v.1.1.0) and using the "authorityMetadata" option to define end-points. To my u

[2021-07-09 12:33] DevRCRun commented on #3847
@sameerag thanks for your reply, it would be a helpful clarification in the samples for me, given that the Oauth site and various MS pages recommend PKCE for both client types (unless I'm reading them wrong?)

The query I have may be a flaw in my understanding of the flow in the auth code PKCE example.

First the PKCE code object is initialised:

     // Set up PKCE Code object in app's local memo

[2021-07-09 13:00] #3795 closed

[2021-07-09 16:07] tnorling commented on #3818
@rash09

This is expected as the `inProgress` value will change when you invoke interaction. I would not expect `navigateToLoginRequestUrl` to affect this as this flag is used **after** authentication. Can you clarify why the re-render is an issue?

Can you provide more detail around this error? You can email me a fiddler trace.

I'm not sure what you mean by "methods called in the background" but

[2021-07-09 17:05] RavennMSFT commented on #3715
@sameerag this isnt an RDP issue, but MSAL within a VM. I am not sure why it would behave differently, but pls check.

[2021-07-09 18:17] sameerag commented on #3856
@larskaare Good find. Marking this as a bug. Will reproduce it and update here once we have a fix.

[2021-07-09 18:19] sameerag commented on #3715
@hhertogh Is it possible to share fiddler logs for the failure cases? My email is available in my profile.

[2021-07-09 19:31] sameerag commented on #3856
On further discussion with my team, I realized this is intentional. We intentionally made this property only support strings (and not parsed JS objects) as we want developers to treat the JSON response from the discovery endpoint as an opaque blob, and not try to parse/modify it.

We can add docs to clarify this. Unmarking the "bug" tag.

[2021-07-09 19:59] Raffledoocious commented on #3845
I've tried this but then I get an error from requesting the token to the line of

ERROR ServerError: invalid_client: AADSTS650053: The application 'Backup iFrame 2.0' asked for scope 'user_impersonation' that doesn't exist on the resource '00000003-0000-0000-c000-000000000000'. Contact the app vendor.
Trace ID: bd31efd3-be8c-48a4-9bb4-4f11b6cf8500

I feel I am missing something to protect this res

[2021-07-09 21:19] larskaare commented on #3856
Thanx, I can live with that even if I find it a bit strange that this parts of the config behave differently from the other parts - which accepts a normal JSON structure. If you go forward with the current behavior I suggest that the error message is enhanced to reflect that the JSON parsing failed. I spend some time messing around with this - I suspect this will be the case for others as well - a

[2021-07-09 22:59] sameerag commented on #3856
Sure @larskaare. Keeping this issue open, will link it to the docs change. Appreciate the feedback.

[2021-07-09 23:46] derisen commented on #3845
Is your scope named `user_impersonation`? The app ID URI before the scope is also needed. Can you try setting your `protectedResourceMap` like:

`[ environment.apiBase, ['https://xxxxx/xxxxxxxxxxxxxx/user_impersonation'] ],`

Also, your app ID URI suggests that your app is multi-tenant (in single tenant apps the form is usually like `api://<app_id>/<scope_name>`), however your configuration looks

[2021-07-09 23:53] derisen commented on #3847
@DevRCRun you're basically right. The sample is using `app.locals` since it's primarily meant for testing and not for actual usage (and also to avoid having an extra dependency), but in reality you should consider using a session solution that would allow you to store these variables on a user/request basis. We'll consider revising the samples to make this point clear.

[2021-07-11 13:00] #3803 closed

[2021-07-11 13:00] #3801 closed

[2021-07-11 13:00] #3799 closed

[2021-07-12 07:43] skyshine999 commented on #3833
currently i am using msal.js for azure authentication, rarely i get timeout issue. Now i wanted to give a try @azure/msal-react. Is this library completely resolve refresh token timeout issue

[2021-07-12 09:12] DevRCRun commented on #3847
Thanks for the clarification, a note in the sample would be helpful.

[2021-07-12 13:07] snebjorn commented on #3845
I believe I'm having a similar issue.

I updated from msal-angular v1 to v2 and now I'm getting access tokens (v1 tokens) instead of id tokens (v2 tokens) for the protected resource urls that define the openid scope.

[code]

There's even a comment in the source code suggesting that when the `openid` scope is included it'll get an idToken
https://github.com/AzureAD/microsoft-authentication-library

[2021-07-12 14:13] jakobgn commented on #3771
@tnorling
I updated our app to use the latest angular wrapper and it seemed to have fixed the issues mentioned here (hurray!). Thanks for the help.

The MSAL interceptor does multiple requests to the token endpoint instead of waiting for the first request to finish

![image](https://user-images.githubusercontent.com/29198565/125301061-e67cc400-e32a-11eb-8e52-e83430d0ddab.png)
We had a fix to this

[2021-07-12 16:08] tnorling commented on #3771
@jakobgn Great to hear, thanks for the update! The parallel requests issue will be resolved in the next release of msal-browser via #3837

As this issue has been resolved, I'll go ahead and close this but feel free to open a new issue if you run into anything else.

[2021-07-12 16:08] #3771 closed

[2021-07-12 18:37] Raffledoocious commented on #3845
@derisen oh AWESOME. Changing the scope to include the full URI did fix it for me and I get a valid token back. Thank you for the very thorough explanation. I'll take a look at the documentation and see if it is something I missed and I'll respond here if I think there could be changes. I completely missed the requirement to use the full URI.

[2021-07-12 20:21] tnorling commented on #3813
@a2441918 We've opened a ticket on the AAD service to change the behavior when a user clicks the back button so that they're not presented with a confusing error. It should be noted that clicking the back button in the middle of the auth flow is unsupported, and even after this change may not result in a successful sign-in.

If the desire is to change the account you're signing in with, the guidan

[2021-07-12 20:21] #3813 closed

[2021-07-12 20:37] derisen commented on #3845
@Raffledoocious sounds great! Yeah please let us know if the docs are misleading, the full app Id URI + scope name should be used when requesting a token.

@snebjorn to control whether a resource should receive a v1 or v2 access tokens, you should set the `accessTokenAcceptedVersion` property in the application manifest on Azure portal (i.e.  **Azure portal** > **App Registration** > **Your app**

[2021-07-12 22:32] #3673 closed

[2021-07-12 22:32] #3694 closed

[2021-07-13 12:39] larskaare opened #3858 "Readme.md for msal-node states that the confidential client supports username and password flow"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

4.3.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.1.0

### Description

The readme.md file for msal-node states that the confidential client support the username and password flow.

(https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/ms

[2021-07-13 12:52] ssunkara79 commented on #3790
![MSALError](https://user-images.githubusercontent.com/70937077/125454080-b219d8c3-93d5-48d4-a0a3-000fc5189ddd.PNG)
[FiddlerTrace.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/6808922/FiddlerTrace.zip)
Hi
I have attached fiddler trace and app registration manifest.
I have created new active directory and app ,now I am getting different error.
can you please check at

[2021-07-13 12:59] ashinzekene opened #3860 "No information about @azure/msal-angularjs"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

None

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I can get any up-to-date information concerning [@azure/msal-angularjs](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/052f3c3d98acce53852d441a0c9a87930a011a43/lib/msal-angularjs). The README says it's

[2021-07-13 15:32] jasonnutter commented on #3858
@larskaare Apologies for the confusion. Support for this is currently in PR review: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3838

[2021-07-13 15:41] jasonnutter commented on #3860
@ashinzekene Apologies for the confusion. We have moved the code for `msal-angularjs` to the `maintenance` folder, as it is currently deprecated: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/maintenance/msal-angularjs

We encourage developers to use MSAL.js v2 and if possible, upgrade to Angular and use MSAL Angular v2.

[2021-07-13 15:54] larskaare commented on #3858
Ok,no problem @jasonnutter Any ETA for when this will be available?

[2021-07-13 16:09] #3858 closed

[2021-07-13 16:10] sameerag commented on #3858
@larskaare This is merged now and we plan to make a release early next week for `msal-node`.

[2021-07-13 16:57] tnorling commented on #3790
@ssunkara79 This fiddler trace is empty, and the manifest is not included in the .zip

Regarding the `untrusted_authority` error, did you update your `knownAuthorities` config parameter after you created the new directory?

[2021-07-13 20:57] miguel-orange opened #3881 "Upgrade to uuid 7+"
Please upgrade to uuid version 7+.

`npm list uuid`
<img width="357" alt="Screen Shot 2021-07-13 at 1 55 25 PM" src="https://user-images.githubusercontent.com/13228659/125523623-20dbfdac-97e5-4f53-b1cb-d71bfdc0aded.png">

[2021-07-14 01:00] #3704 closed

[2021-07-14 06:23] ssunkara79 commented on #3790
Hi
thanks for quick response.
I have updated knownAuthorities, now I am able to login but after login getting Interaction is In progress error. please check the attached error.

I have added fiddler trance and manifest  again please check.
![error](https://user-images.githubusercontent.com/70937077/125573199-0fbac8ed-6db2-479e-889c-80687f78aa47.PNG)
[fiddlertrace.zip](https://github.com/AzureAD/mi

[2021-07-14 07:21] veenagadag commented on #3811
@tnorling - Hi , Can we customize the login pop up from msal . For example if I don't want to have 'can't access your account'? in the login screen then is there a way to get rid off . Please let me know .

[2021-07-14 12:10] ashinzekene commented on #3860
Alright, thank you!

[2021-07-14 12:10] #3860 closed

[2021-07-14 14:00] bobleujr opened #3861 "Automated tests can obtain token using clientId/secret but MSAL.clientInfo is null"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

In order to have Cypress automated tests login to AAD, I am doing a POST request to my authority and am able to get the access token back. However, it isn't clear what has to be stored in the localStorage in

[2021-07-14 16:06] tnorling commented on #3811
@veenagadag I don't believe so. You can [customize the branding of the page](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding) for your organization but I don't think you can remove individual elements. We are, however, not responsible for the sign-in pages so there may be certain features we are unaware of. These types of questions should be directed at Azur

[2021-07-14 16:18] tnorling commented on #3790
@ssunkara79 Can you please review [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/errors.md#interaction_in_progress) about the `interaction_in_progress` error?

[2021-07-14 16:19] jasonnutter commented on #3833
Yes, we expect fewer timeouts when renewing tokens in MSAL.js v2/MSAL React.

[2021-07-14 17:08] jasonnutter commented on #3861
@bobleujr For automated tests, we recommend using the ROPC flow (with a test account that doesn't require MFA), and then putting those values in browser storage. We have a sample that demonstrates this here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/TestingSample

This file shows how to put values in browser storage for your tests: htt

[2021-07-14 18:05] sameerag commented on #3715
Responded over email. We need traces for the authentication calls made from MSAL to the AAD in the fiddler log.

[2021-07-14 18:07] sameerag commented on #3847
@DevRCRun Thank you for the feedback.
@derisen Let's note this in the sample work we are planning. Closing this.

[2021-07-14 18:07] #3847 closed

[2021-07-14 23:27] dse opened #3862 "Scenario where `loginPopup` and `loginRedirect` should respect the `responseMode` parameter."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Regarding #2228.

I'm working on a serverless web app that currently uses an **AWS Lambda function as a redirect URI**.  It receives the Microsoft authentication tokens, validates them, generates an AWS STS token, and sends the STS token back to the browser.  The browser then uses that token f

[2021-07-15 09:13] omri08 opened #3863 "reproduce refresh token has expired error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

After more than 24 hours I wasn't active (but I was still logged in), I received `the refresh token has expired due to maximum lifetime` error when `acquireTokenSilent` was called.
Now Im trying to reproduce

[2021-07-15 09:42] Nexyll commented on #2600
I'm facing the same issue, even with the` node-fetch-with-proxy client` as describe in @Bjego solution's

[2021-07-15 11:22] paulmorar opened #3864 "Upgrading msal v1.3.2 -> v1.3.3"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.3.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Upgrading msal dependency from 1.3.2 to 1.3.3 introduces breaking changes in functionality. As far as I observed, there is a new call to https://login.microsoftonline.com/common/discovery/instance which gets introduced, and th

[2021-07-15 14:57] jonybekov opened #3865 "Extra redirect to a current page when route is changed."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Recently, I've migrated from msal v1.x to @azure/msal-browser. In the msal v1.x I had issue with Firefox where after loginRedirect page redirected to wrong url. It worked good on localhost but failed at staging preview. After

[2021-07-15 15:22] jasonnutter commented on #3862
@dse MSAL Browser is only intended to support client-side authentication flows. If you need the response to be available server side, you should use a server-side auth library, such as MSAL Node. Have you looked at [our samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples) for MSAL Node?

[2021-07-15 15:37] jasonnutter commented on #3864
@paulmorar Please add `login.microsoftonline.com` to the `knownAuthorities` array to mitigate. Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-core-samples/VanillaJSTestApp/app/b2c/authConfig.js#L6

cc @tnorling

[2021-07-15 15:48] jasonnutter commented on #3865
@jonybekov First thing is that if your app uses redirect-based interaction, `handleRedirectPromise` should be invoked on every page load, not only when you are about to perform a redirect operation.

Generally speaking, the flow should look like:

1. On page load, invoke `handleRedirectPromise` (this will process any in progress interactive requests), and await the response.
2. When `handleRedirec

[2021-07-15 15:48] jasonnutter commented on #3865
@jonybekov First thing is that if your app uses redirect-based interaction, `handleRedirectPromise` should be invoked on every page load, not only when you are about to perform a redirect operation.

Generally speaking, the flow should look like:

1. On page load, invoke `handleRedirectPromise (this will process any in progress interactive requests), and await the response.
2. When

[2021-07-15 15:51] jasonnutter commented on #3865
Furthermore, if you are using React, we highly suggest looking at our MSAL React wrapper library, which provides nice abstractions for this logic.

[2021-07-15 16:34] sameerag commented on #2600
We think this is axios not supporting proxy: https://github.com/axios/axios/issues/2072#issuecomment-567473812; Can you please try the alternative they suggested and let us know?

[2021-07-15 22:14] jasonnutter commented on #3863
@omri08 Unfortunately, there isn't an easy to trigger this, as the library intentionally relies on AAD to inform us if an RT is no longer valid.

Our guidance is to check the error class type for `InteractionRequiredAuthError`: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/15b76527f1efb056edd212bc7a84f849c08ae4a6/samples/msal-browser-samples/VanillaJSTestApp2.0/app/defaul

[2021-07-16 07:23] Nexyll commented on #2600
Hi,

After some tests, the solution given by @Bjego works correctly for authentication. To send requests with Axios I had to use `https-proxy-agent`

[code]

Now it works properly, thanks.

[2021-07-16 10:41] jonybekov commented on #3865
Thank you. I've managed it using hooks and it works pretty well.

[2021-07-16 10:41] #3865 closed

[2021-07-16 11:01] Rishanthakumar opened #3869 "loginRedirect fails when angular index.html base href is different from the origin"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.1

### Description

Msal login fails if the base href of the angular index.html is different from origin URL.

### Error Message

Failed to execute 'replaceState' on 'History': A history state object with URL 'https://cdn-ur

[2021-07-16 11:57] sgreco-dev opened #3870 "idTokenClaims roles using Typescript"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0

### Description

I am currently using the `useAccount` hook to retrieve account information for the logged in user, I am attempting to access the roles information that is part of the `idTokenClaims` object.

When attempting

[2021-07-16 16:49] jasonnutter commented on #3870
@sgreco-dev `account.idTokenClaims["roles"]`

[2021-07-16 20:17] jasonnutter commented on #3869
@Rishanthakumar Thanks for the information, feel free to open a PR with a fix.

[2021-07-17 08:45] jonybekov opened #3876 "TypeError: cryptoObj.getRandomValues is not a function; unrelated error when using jest & testing-library/react"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I have a project where I've used msal-react & msal-browser in some part of my application. When I try to test some other components (which doesn't depend on msal-browser) using react-testing-library and run n

[2021-07-17 09:36] jonybekov commented on #3876
Sorry but I realized that this is unrelated to msal-browser. It's related to powerbi-client. I fixed it using [this comment](https://github.com/microsoft/powerbi-client-react/issues/21#issuecomment-766722092) if anyone needs

[2021-07-17 09:36] #3876 closed

[2021-07-18 01:00] #3819 closed

[2021-07-19 01:45] mindingdata commented on #2451
Tend to agree but if a "bug" has been ongoing for the past 9 months. Not sure at what point this turns into a feature.

I came here searching for this as we moved from MSAL 1.X to 2. It is very frustrating that such a common scenario now doesn't work correctly.

[2021-07-19 04:17] sameerag commented on #2451
This is a dependency on the B2C service and we have been trying our best to follow through. They are unable to fix this right away as this isn't straight forward for them. I will amplify this again in the right channels. Apologies for the frustrating wait.

[2021-07-19 09:41] av-virlan opened #3879 "URI malformed error when current page HASH contains %25 in it"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.10.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

If you configure MSAL on a page that uses hash for storing state and the hash contains %25 in it, when you call

client.acquireTokenSilent(..) it crashes

This seems to be similar to - https://github.com/AzureAD/microsoft-aut

[2021-07-19 13:00] #3777 closed

[2021-07-19 14:17] Tcharl commented on #2600
Hi Everyone,

We're struggling with that too: we've tried using global-agent library, put simply importing it and calling bootstrap does not look sufficient.
Can you please describe the overall code?

Thank you very much in advance

[2021-07-19 18:01] bobleujr commented on #3861
@jasonnutter  thank you for the resource. I followed the sample and since we are working with a private client, it gives me

[code]
Which I believe is the error code I am supposed to be getting given the scenario. Are you aware of when this support will be rollout?

[2021-07-19 18:02] sgreco-dev commented on #3870
This also does not work for me.  I get the following error when trying this.

[code]

[2021-07-19 18:11] jasonnutter commented on #3861
@bobleujr ROPC with confidential clients should be released this week. This issue should get an automated message when that is released to npm.

[2021-07-19 18:33] bobleujr commented on #3861
Sounds great! Thanks @jasonnutter

[2021-07-19 18:40] jasonnutter commented on #3861
Closing, as no further action at this time.

[2021-07-19 18:40] #3861 closed

[2021-07-19 19:35] hectormmg commented on #3879
Hi @av-virlan! Thanks for raising this issue. We're currently looking into issue #3491 that looks similar to yours, so we'll update this issue when we confirm whether or not it has the same root cause.

I understand not wanting to keep the state double decoded for the main application's use, but is there a reason why you can't encode the state value you pass to `acquireTokenSilent` and then decode

[2021-07-19 20:56] jasonnutter commented on #3881
@miguel-orange `Math.random` is only used by `uuid@3.x` in browser scenarios, which is out of scope for ADAL Node: https://github.com/uuidjs/uuid/blob/e2d731463b680c5b816d144f66feef902586410e/lib/rng-browser.js#L28

Furthermore, please consider updating to [MSAL Node](https://www.npmjs.com/package/@azure/msal-node), as ADAL Node is no longer actively maintained.

[2021-07-20 05:15] Bjego commented on #2600
Interesting that so many people still struggeling. Have you tried to trust your inhouse cert in node? You can do this by the environmentvariable: https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file
in k8s
[code]
or plain linux
[code]

more: https://linuxconfig.org/how-to-set-and-list-environment-variables-on-linux#:~:text=%20How%20to%20set%20and%20list%20environment%20variables,order%20to

[2021-07-20 07:39] av-virlan commented on #3879
I can give that a shot - so something like this:

**Before:**
client.acquireTokenSilent({ ... }).then(function (resp) { }).catch(function (error){});

**After:**
client.acquireTokenSilent({ ..., _**state: encodeURIComponent(window.location.hash.substring(1))**_ }).then(function (resp) { }).catch(function (error){});

[2021-07-20 07:50] av-virlan commented on #3879
I'm back - I just tested the above and it doesn't change anything. If you look at the stacktrace the issue starts from **preflightBrowserEnvironmentCheck** method which calls **blockReloadInHiddenIframes** which is hardcoded to use window.location.hash instead of the state I pass in the request.

So the issue is not with acquiring itsel but with the pre-validation which is hardcoded to use window.

[2021-07-20 07:56] Glideh opened #3882 "AADSTS500011 invalid_resource - Dynamics API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Seems quite similar to #3614.
I'm developping an SPA (Vue.js) that needs to communicate with Dynamics.
So in Portal I:
- Registered the app
- Added an SPA config with http://localhost for now
- Added a client secret
- Added t

[2021-07-20 08:39] Glideh commented on #3882
Seems like I just used the wrong permission.
The right one was `https://admin.services.crm.dynamics.com/user_impersonation`

[2021-07-20 08:39] #3882 closed

[2021-07-20 12:34] pascalu opened #3883 "acquireTokenByUsernamePassword (ROPC) will not return an id_token in Azure AD B2C"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.2.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When using the Resource Owner Password Credential Flow with Azure AD B2C an id_token seems to be only returned when:

- scopes include `openid`
- response_type is `id_token` or `token id_token`

See [Test the ROPC Flow](https://do

[2021-07-20 13:15] graphicsxp opened #3884 "Handling authentication for multiple applications on localhost"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1.4.11

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I have multiple Angular applications that can be run locally on localhost:4200 (not simultaneously though).

Authentication using msal-angular 2.0  works fine for the first app when launching the `ng serv

[2021-07-20 13:56] MaxEleg commented on #3768
ok i will thanks!

[2021-07-20 15:42] jasonnutter commented on #3870
Ah right, sorry. You can create your own type for the properties you will use from idTokenClaims, and then cast the idTokenClaims object to that type.

[code]

[2021-07-20 16:20] derisen commented on #3019
@waldekmastykarz apologies for delay. I've updated the migration guide with how to migrate the still valid refresh tokens and a note on destroying the older adal-node token cache afterwards [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-node-migration#remove-logic-around-refresh-tokens). Hope this captures your concern, but let me know!

[2021-07-20 17:46] hectormmg commented on #3879
@av-virlan I'm able to reproduce the issue, I'll do some more investigating to determine the best fix/workaround and will update this issue when I have more information, thanks!

[2021-07-20 18:43] Tcharl commented on #2600
Sure, I even usually add my ca into the [trusted system ca store](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/sec-shared-system-certificates).
I do not really like adding the CA by runtime, but it's a matter of preference ;-)

[2021-07-21 01:00] #3842 closed

[2021-07-21 01:00] #3831 closed

[2021-07-21 01:30] prandell commented on #2600
Hi guys, @Nexyll how were you able to get @Bjego's solution to work? I am still getting the same error when trying to authenticate with the updated network client.

[2021-07-21 07:21] Miwa199739 opened #3886 "Silently log out a user, w/o page redirection or popup"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

Is there any way to silently log out a user without redirect or popup? We have a me control component as the following to list all the logged-in users, and we want to silently sign out a user from our site and also end the ser

[2021-07-21 09:33] paulmorar commented on #3864
@jasonnutter You are correct. It seems I overlooked that. Thank you for the prompt reply!

Cheers

[2021-07-21 13:59] PetrSnobelt opened #3887 "Cannot set log level to Error with configuration"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.14.1

### Description

It is not possible to specify ErrorLevel (0) as default log level due to or condition:
`this.level = loggerOptions.logLevel || LogLevel.Info;`
if logLevel is 0 (Error) then it is set to Info instead.

Fix should be simple,

[2021-07-21 14:02] PetrSnobelt commented on #3887
Workaround:
`myMSALObj.logger.level = msal.LogLevel.Error;`
after creating myMSALObj

[2021-07-21 16:33] hectormmg commented on #3884
Hi @graphicsxp . This behavior is expected from `getAllAccounts` in MSAL Browser. The `getAllAccounts` API does not filter based on an application's `clientId`, but instead relies on the browser's own storage restrictions to filter by domain (localhost:4200 in this case).

In this case, since both of your angular apps are running on `localhost:4200`, the browser believes it is the same application

[2021-07-21 21:58] hectormmg commented on #3887
Hi @PetrSnobelt , thanks for raising the issue. I'll update the issue when a PR to fix this is ready.

[2021-07-21 22:05] hectormmg commented on #3886
Hi @Miwa199739 , AAD does not currently support silent login at the moment. Please consult the discussion on issue #3833 for more information.

[2021-07-21 22:05] #3886 closed

[2021-07-22 01:00] #3818 closed

[2021-07-22 08:09] graphicsxp commented on #3884
Hello @hectormmg

In the end I chose to run each of my local apps on a different port. This solves the problem. And indeed onc deployed to different domains, there is no such issue.

thank you for the answer.

[2021-07-22 08:09] #3884 closed

[2021-07-22 13:38] ssunkara79 commented on #3790
Hi,
Login success event is raising multiple times.
I have kept the below event in app component
ngOnInit() {

    if (this.authService.instance.getActiveAccount() == null) {
      this.broadcastService.msalSubject$
        .pipe(
          filter((msg: EventMessage) => msg.eventType === EventType.LOGIN_SUCCESS),
        )
        .subscribe({
          next: (result: EventMessage) => {

[2021-07-22 14:02] alam-R opened #3888 "Content Security Policy Issues"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

There is some kind of Content Security Policy problem when using msal.
We do not use any proxy.

Our configuration:
[code]
With the above configuration we get:
_Uncaught (in promise) ClientAuthError: endpoint

[2021-07-22 14:57] sanjaysarena commented on #3277
issue persists with Angular 9.1.
with ngcc getting the following error:
![image](https://user-images.githubusercontent.com/42990692/126661021-d198f5ab-a6e8-40da-a4b2-d15dfe2700db.png)

target is es5

[2021-07-22 16:25] hectormmg commented on #3888
Hi @alam-R . The authority specified in the first MSAL configuration object you listed is incomplete because it's missing the sign-in audience (this can be your tenantId, "common", "organizations", or consumers.

Please consult the [AAD Authority docs] (https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration#authority) for more information and let us k

[2021-07-22 17:37] #3869 closed

[2021-07-22 17:38] #3800 closed

[2021-07-22 17:43] tnorling commented on #3790
@ssunkara79 Can you please provide verbose level logs?

[2021-07-22 18:21] alam-R commented on #3888
Thank you very much for the quick response @hectormmg.
We do use the tenantId, please check the provided MSAL conf above. I've just wrote tenant inside <> and it is omitted from the url... I've edited it with [].
It doesn't seem valid this one: _Once you add the audience, since login.microsoftonline.com authorities are trusted authorities by default, you shouldn't need to add the knownAuthorities

[2021-07-22 21:46] jasonnutter commented on #3883
I can confirm this is a bug, thanks! We'll add it to our backlog. We'd also accept a pull request with a fix.

[2021-07-23 07:07] ssunkara79 commented on #3790
![log1](https://user-images.githubusercontent.com/70937077/126747950-cb844f4c-4edb-4ec5-b438-87f8510fb3a2.png)
Hi
I have attached verbose level logs.

[2021-07-23 07:16] mleimer opened #3896 "Self-Service change password flow considers user as logged out, despite valid access token present in local storage"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

1.2.0

### Description

Given:
- A self-service change password flow based on a custom policy identical to: https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-change-policy?pivots=b2c-custom-policy
- MSALs `cacheLocation` prop

[2021-07-23 07:29] Glideh opened #3897 "Acquiring token & Login confusion"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/acquire-token.md

### Description

There seems to have a confusion in the [acquireToken doc page](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-br

[2021-07-23 11:16] devbrains-com opened #3898 "How to get the emails claim into the id token with custom policies"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

According to this code line here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/04b6bd4fd2b4a643505b525ed3d44271bcc3b654/lib/msal-common/src/cache/entities/AccountEntity.ts#L173

The username for the

[2021-07-23 12:07] bodrick commented on #3870
Just to add here is a more fleshed out IdTokenClaims.

[code]

[2021-07-23 12:26] bladmoreno commented on #3776
I don't really have any codesnip, I am just redirecting to the blank page, and getting not the ClientError anymore, but the infinite loop about the non-allowed permission to load the page from the iframe

[2021-07-23 15:27] Robbie-Microsoft commented on #2600
Hey everyone. Can someone please list steps to reproduce this issue for a node app?

[2021-07-23 16:36] sameerag commented on #3833
Closing this. Both the topics discussed in this issue are addressed.

[2021-07-23 16:36] #3833 closed

[2021-07-23 16:37] sameerag commented on #3019
@waldekmastykarz Closing this. In case you have more concerns, please let us know and we can track it as needed.

[2021-07-23 16:37] #3019 closed

[2021-07-23 16:45] tnorling commented on #3790
@ssunkara I'm not seeing any login success events here. Can you please include all the logs, additionally this appears to be log level `info`. Please set the log level to `verbose`. Thanks!

[2021-07-23 17:08] derisen commented on #3897
@Glideh the [OAuth authorization code flow](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-auth-code-flow) is a two-step process i.e. you get an auth code and then exchange it for tokens. `acquireToken*` methods handle both steps. I guess this could be made more explicit in the docs.

The `login*` methods are only a special case of `acquireToken*` methods (i.e internally uses

[2021-07-23 17:46] derisen commented on #3898
@devbrains-com would you mind raising this question at the [b2c-samples](https://github.com/azure-ad-b2c/samples) repo? This repo contains custom policy samples and can help with custom policy related issues.

[2021-07-24 09:49] sammachin opened #3914 "Old version of https-proxy-agent"
Hi,

Could you please take a look at upgrading the version of https-proxy-agent in your dependencies, you are currently on 2.4.0 which uses an old version of agent-base (<6.0.0) and this is causing issues with a package that depends on you.
https://github.com/joeyboey/node-red-contrib-passport-azure-ad/issues/1

[2021-07-25 13:00] #3845 closed

[2021-07-26 05:46] waldekmastykarz commented on #3019
Thank you!

[2021-07-26 07:01] Glideh commented on #3897
Thank you for your quick answer.

I admit that I didn't get that at first read.

Ok ! So once logged in with that methods the browser already has his access token ? This didn't appear clearly for me when following the SPAs steps, especially from [the login instructions](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in?tabs=javascript2) through next [acquiring to

[2021-07-26 11:37] devbrains-com commented on #3898
Yes sure. But why do you only read the emails claim and not the email claim? Because the email claim is set in the id token by using the default custom policies.

[2021-07-26 12:16] skyshine999 opened #3901 "msal accounts are empty after browser refresh"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

i added @azure/msal-react in my react application. Based on accounts length i am showing signout button. After login if i refresh browser msal accounts length is zero, After some time it is showing accounts.

[2021-07-26 13:27] jonybekov opened #3902 "handleRedirect is never resolved after changing route"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I'm using msal-react and authenticating using redirect method. When I load page for the first time it performs auth correctly.
But when I go to another page and come back, inProgress status is not updated to

[2021-07-26 15:09] #3864 closed

[2021-07-26 18:03] derisen commented on #3897
@Glideh So when the user signs in, they get an access token containing permissions for the [userinfo endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo) (which is hosted on Graph API, so it's an access token _meant for_ Graph). During that step you can also prompt the user to consent to additional resources (like your web API) by passing their scope to the login req

[2021-07-26 19:38] jo-arroyo commented on #3901
@skyshine999 Where are you calling `useMsal()` and checking for accounts? Are you able to use one of our msal-react samples to reproduce this behavior?

[2021-07-26 20:17] derisen commented on #3898
I believe this is because the [standard user-flows](https://docs.microsoft.com/azure/active-directory-b2c/user-flow-overview) return only emails claim in the id token (you can see that if you try to create a new one), so the library is basing the assumption on that (i.e. it is not necessary for developers to make use of a custom policy).

![ss](https://user-images.githubusercontent.com/13197548/12

[2021-07-27 06:22] skyshine999 commented on #3901
I have seen msal-react sample there also we are msal accounts using useMsal(), below i shared sample
[code]

[2021-07-27 06:23] Glideh commented on #3897
That's all clear, thank you again

[2021-07-27 06:23] #3897 closed

[2021-07-27 13:00] #3811 closed

[2021-07-27 13:00] #3715 closed

[2021-07-27 13:31] jonybekov commented on #3902
I've found the issue. The problem was I was using MsalProvider inside a component which is code splitted. So that's why when I change route, my msal instance is reinitialized. I've lifted my MsalProvider up in the component tree and it works well now. This [response](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3324#issuecomment-811287808) inspired me to find a solutio

[2021-07-27 13:31] #3902 closed

[2021-07-27 15:23] jonybekov commented on #3797
Hi. I am also facing the same problem. I'm using Azure AAD for auth provider. Is there any solution for this error?

[2021-07-27 17:43] jo-arroyo commented on #3901
@skyshine999 Have you tried checking that the `inProgress` value is none? Please see [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook) on how to check for `inProgress` status and ensure that all initialization and interactions are done before accessing accounts.

We will also update our samples to make this process cle

[2021-07-28 05:58] router19 opened #3904 "msal query param fetch"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I need to switch between Idps based on the url query parameter. In the below snippet given below if url query parameters has xxx=yyy then I should use auth1 Idp else auth2.

I have MSAL configuration and

[2021-07-28 08:53] selenajosephine opened #3905 "Opening the browser in --disbale-web-security mode, I get AADSTS9002327 Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I tried opening my Chrome browser with the below command.
chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security --allow-file-access-from-file

I am using sample app, and it redirects to au

[2021-07-28 08:56] Sefriol commented on #3256
Probably a different issue, but it would be nice if [MSAL Logger](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/logger/Logger.ts) would allow a configuration parameter to return log message as a JSON instead. Then the end user could define their own logging message style instead on relying on the provided one.

[2021-07-28 13:00] #3863 closed

[2021-07-28 13:00] #3491 closed

[2021-07-28 13:03] sgreco-dev commented on #3870
This solution worked.  Thank you for this, learn something new every day.

[2021-07-28 13:03] #3870 closed

[2021-07-28 17:27] jo-arroyo commented on #3905
@selenajosephine This is expected behavior, as `--disable-web-security` is not meant as a production-level setting. When `--disable-web-security` is set, fetch requests do not set an origin header, and AAD is not able to determine that a user is making a CORS request from the browser, and this error is thrown. If you remove the flag, authentication should work as usual.

[2021-07-28 17:32] jo-arroyo commented on #3896
@mleimer This seems like a B2C service issue. Please file a support ticket with the B2C team by following the instructions [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options). Please also be aware that cookies are the service's responsibility, not MSAL.

[2021-07-28 20:17] jo-arroyo commented on #3904
@router19 To clarify, are you looking to authenticate to two different endpoints? Or use two different IdPs with the same app?
While MSAL has multi-tenant support and the ability to set the tenant dynamically (see documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/multi-tenant.md)), MSAL does not include a way to intercept the URL

[2021-07-28 21:01] jo-arroyo commented on #3776
@bladmoreno Without code snippets, it is difficult to determine if the issue is cause by usage or an issue with the library. Our recommendation is that you upgrade to msal-angular v2. This updated library was recently generally available, does not use hidden iframes, and should fix the iframe blocking tokens and the redirect loop. Please see our migration guide [here](https://github.com/AzureAD/mi

[2021-07-29 05:56] router19 opened #3906 "MSAL with third party IDP"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

Is it possible to use third-party authority with MSAL. I want to try an integration with PingFederate but as per the documentation at https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-c

[2021-07-29 07:59] mleimer commented on #3896
@jo-arroyo Kindly note that I already opened a service request with TrackingID#2107260050000997 where I was informed that "we at the Azure active directory department do not handle issues related to the MSAL.js v2 (Microsoft authentication library". Please inform what kind of support ticket and service type I should create to get further help on this matter.

[2021-07-29 09:35] sundariragavan opened #3907 "InteractionRequiredAuthError: Silent authentication was denied. The user must first sign in and if needed grant the client application access to the scope 'user.read mail.send openid profile'."
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.12

### Wrapper Library

Not Applicable

### Wrapper Library Version

000

### Description

Hello,
       I have created the outlook add in web. I need to read and write the calendar events. I have created the application in microsoft azure. Added the required permission. But i'm getting this error after the login.
<

[2021-07-29 14:29] router19 commented on #3904
@jo-arroyo Thanks for your response. I want to authenticate using two different IdPs with the same app based on some query param. e.g. if the query param has flow=b2c then I would use b2c otherwise third-party IdP like Ping. Is it possible to use third-party Idp with MSAL?

[2021-07-29 16:46] selenajosephine opened #3908 "IE 11 has Unhandled promise rejection"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

My Azure Authentication works fine on Chrome, but It causes a script error on IE 11.

I tried adding in the index.html <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js" class

[2021-07-29 17:52] hectormmg commented on #3888
@alam-R I haven't been able to reproduce your issue. You shouldn't need to add `https://login.microsoftonline.com/<tenant>` to `knownAuthorities`, so its unclear to me why you are getting the initial error. For the CSP error you get when adding the authorize endpoint to the knownAuthorities array, that content security policy is something configured in your React application, so you would need to

[2021-07-29 18:50] tnorling commented on #3908
@selenajosephine Please see the IE11 instructions in our react sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample#running-the-sample-in-ie11)

[2021-07-29 22:00] jo-arroyo commented on #3907
@sundariragavan Are you able to provide a code snippet of where the login occurs? In general, `InteractionRequiredAuthErrors` should be handled, and the user prompted to sign in interactively. [Here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/54562e777ed6c99ba882beeeefc414181d5de015/samples/msal-core-samples/VanillaJSTestApp/app/default/auth.js#L63) is an example of th

[2021-07-29 22:32] jo-arroyo commented on #3904
@router19 We don't generally support 3rd party IdPs. MSAL is designed to work with AAD, so while you can try using 3rd party IdPs, we cannot guarantee it will work.

[2021-07-29 22:33] jo-arroyo commented on #3906
Closing as duplicate. Answered on #3904.

[2021-07-29 22:33] #3906 closed

[2021-07-30 03:50] selenajosephine commented on #3908
Thanks. I added the two packages mentioned (uncommented them, installed and tested) and I still got the same error. Is there anything else I can try?

[2021-07-30 03:51] selenajosephine commented on #3905
Thanks!

[2021-07-30 03:51] #3905 closed

[2021-07-30 09:10] talgat-saribayev commented on #3260
Following @benc-uk and removing "audience" helped.

[2021-07-30 18:43] tnorling commented on #3908
@selenajosephine I am not able to reproduce this behavior with the sample mentioned above in IE11. The app is able to load and able to sign in. Are you using the sample as is or did you make changes? Are you able to determine what line of code it's complaining about?

[2021-07-30 19:00] jo-arroyo commented on #3896
@nickgmicrosoft Is anyone from your team able to provide assistance with this issue? Looks like it's related to the B2C service.

[2021-08-02 12:48] miszo opened #3912 "TS Docs for localAccountId in AccountInfo type definition."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/Accounts.md

### Description

I'm a little confused by TS Docs for `localAccountId` provided in `AccountInfo` type definition.

https://github.com/AzureAD/microsoft-authentication-librar

[2021-08-02 13:39] alam-R commented on #3888
The error is:
Refused to connect to 'https://login.microsoftonline.com/[tenant]/v2.0/.well-known/openid-configuration' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'connect-src' was not explicitly set, so 'default-src' is used as a fallback.

FetchClient.ts:24
export class FetchClient implements INetworkModule {

    /**
     * Fetch Client f

[2021-08-02 16:31] samuelkubai commented on #3888
Hi @alam-R, could you share with me a fiddler trace of this, so we can inspect how the content security headers are being set for the application.

[2021-08-02 16:33] samuelkubai commented on #3907
Now that you can get a valid access token, this seems like a graph problem, are you able to decode the access token and share with us the scopes from the token just to ensure, the necessary scopes are being passed as expected?

[2021-08-02 16:38] samuelkubai commented on #3912
Hi @miszo, thank you for bringing this up, you are right `localAccountId` is the same thing as `OID`, we'll upgrade the documentation and remove the ".., usually used in legacy cases" part as it is no longer the case and is misleading at this point.

[2021-08-02 16:41] miszo commented on #3912
@samuelkubai, thanks a million!

[2021-08-02 17:59] tsnyder-gs1us opened #3913 "Azure B2C Single Sign Out/Front channel Logout URL Supported?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

For our project, we have made the necessary changes to the Azure B2C policy to support Single Sign Out and setup the Front channel logout URL. When we log out, we can trace and see both our server based (ASP.NET) and SPA (Angul

[2021-08-02 21:03] jasonnutter commented on #3879
@hectormmg @bmahall This got fixed by #3903, correct?

[2021-08-02 21:24] hectormmg commented on #3879
Yes, this was fixed in #3903.

[2021-08-02 21:24] #3879 closed

[2021-08-02 21:44] pkanher617 commented on #3914
I'll take a look at this.

[2021-08-03 07:23] fella752 opened #3933 "adal-node: Issue in GetToken"
Not getting any response for /getToken
Able to login but error: No response from the server response: undefined

Error Stack: err:::: Error: No response from the server
    at Logger.createError ()
    at axios.then.catch ()
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2021-08-03 10:05] samuelkubai commented on #3912
My pleasure, feel free to re-open and/or create a new issue if you have another question.

[2021-08-03 10:05] #3912 closed

[2021-08-03 10:45] samuelkubai commented on #3913
Hi @tsnyder-gs1us, you can find the documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#front-channel-logout) on Front-channel logout and see it in action in this [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-sample-app). Ensure your logout p

[2021-08-03 13:54] alam-R commented on #3888
Missing configuration on the web security level was the key. Indeed the problem was on the application part, so I guess we can close the issue.
Thanks for your time and your effort!

[2021-08-03 13:54] #3888 closed

[2021-08-03 15:27] acgritt opened #3918 "IFramed Redirect Fails in Firefox"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

We have a legacy VB.NET Webforms application that is authenticated against Azure B2C. As we are trying to replace certain pages/functionality we are trying to host a sub-domain in an IFrame within the Web

[2021-08-03 21:33] tsnyder-gs1us commented on #3913
Thanks, we tried out the angular 11 sample and running into an issue. When the configured front end URL is called when get the following error. To help debug Verbose logging has been enabled. Any insight on what is causing the issue - BrowserAuthError: interaction_in_progress.

**How we are Testing**
Note for our use case we have two applications: ASP.NET Core and Angular 11 sample. We updated the