[2016-09-08 16:30] davidrapin opened #3256 "Allow setting a custom logger"
We have a custom logger and don't want this library to write to stdout by itself.

For now, this is how we overwrite the default bunyan logger:

[code]

It seems to be working but we'd prefer to have a `OIDCStrategy` constructor option to do that.

[2017-04-01 02:49] kpanwar opened #3 "Implement Telemetry public API surface"
Implement Telemetry public API surface

[2017-04-01 02:49] kpanwar opened #4 "Implement Logger API"
Implement Logger API and request context per .NET implementation.

[2017-04-04 17:24] shivbijlani opened #6 "Split the single large .ts file into multiple files."

[2017-04-15 00:40] shivbijlani opened #12 "B2C Authority validation"

[2017-04-20 15:43] jmprieur opened #16 "MSAL.js does not work with IE11."
**Repro steps**

1. Clone https://github.com/jmprieur/angular-msgraph-rest-sample-with-msaljs.git
2. Run the application (just follow the README.md of that repo. You don't need to register the application, though.
3. execute http://localhost:8080 in Internet Explorer

**Actual**
In IE we get a blank page, using the F12 tools, we can notice that there is a Syntax error in msal.js(3,5):
``ReferenceE

[2017-04-20 15:54] jmprieur opened #17 "Running MSAL.js in an Edge "In Private window" does not produce the expected result"
**Repro steps**

1. Clone https://github.com/jmprieur/angular-msgraph-rest-sample-with-msaljs.git
2. Run the application (just follow the README.md of that repo. You don't need to register the application, though.
3. execute http://localhost:8080 in an Edge "In Private Window"
4. Sign-in with your corporate credentials (which requires 2FA)

**Actual**
Once the authentication dance has happened, th

[2017-04-20 17:19] jmprieur opened #18 "When sign-out with MSAL.js, one is required to "choose which account to use", which is confusing"
**Repro steps**

1. Clone https://github.com/jmprieur/angular-msgraph-rest-sample-with-msaljs.git
2. Run the application (just follow the README.md of that repo. You don't need to register the application, though.
3. execute http://localhost:8080 in your favorite browser
4. Sign-in
5. Sign-out

**Actual**
the pages announces "which account do you want to use?", which is not clear. It even appears

[2017-04-20 18:53] kpanwar opened #19 "Replace login.windows.net with login.microsoftonline.com"
Replace login.windows.net authority host with login.microsoftonline.com

[2017-04-20 18:56] #3 closed

[2017-04-20 18:56] #4 closed

[2017-04-20 19:49] #6 closed

[2017-04-20 22:07] rohitnarula7176 commented on #16
We are currently compiling our typescript files to ES6 and IE 11 is having issues with that. We will have a conversation regarding this with the IE team and get back to you. If you change the property : "target": "es5", in tsconfig.json to compile to ES5, you should be able to consume MSAL.js in IE 11. Also, to be able to use popUp based login, please uncheck the Enable protected mode setting in I

[2017-04-21 15:41] jmprieur opened #22 "On Chrome, in a single page application, the popup showing the consent fails to be presented with an error: "Popup Window is null. This can happen if you are using IE ""
**Repro steps**

1. Clone https://github.com/jmprieur/v2jsapp
2. Run the application. For this instance use Python as proposed in the README.md file or open in VS:
- Open Visual Studio, and use File | Open | Web Site, and choose from the file system, the root of your repo
- in the browser combo box in the toolbar choose "Google Chrome" as the default browser.
- Debug | Start Without Debugging, whi

[2017-04-24 19:38] shivbijlani opened #24 "Support Promises instead of callbacks in scenarios with popups"

[2017-04-24 19:47] shivbijlani opened #25 "Remove slice=testslice once Login fixes known issues"

[2017-04-25 00:37] shivbijlani opened #26 "Build a dev app that can be used to test msal"

[2017-04-28 13:36] jmprieur opened #30 "MSAL.js should detect user cancellation, and let the developer handle it"
Today MSAL has no way of detecting a user cancel programmatically.
MSAL.js should detect user cancellation, and let the developer handle it

[2017-04-28 22:42] shivbijlani opened #31 "Add MIT license to file headers"

[2017-05-01 20:53] shivbijlani opened #32 "Endpoint discovery and open ID connect configuration should be cached on the client"
The response from OIDC configuration endpoint and endpoint discovery should be cached. Right now there is a todo in the code.

[2017-05-03 11:23] lovemaths opened #3255 "Token cache and access token refresh feature"
Allow user to refresh access token.

[2017-05-04 09:33] jmprieur commented on #22
Now works in Chrome like in Edge with the latest msal.js

[2017-05-04 09:33] #22 closed

[2017-05-10 06:43] rohitnarula7176 commented on #16
Fixed

[2017-05-10 06:43] #16 closed

[2017-05-10 06:43] rohitnarula7176 commented on #26
Fixed.

[2017-05-10 06:43] #26 closed

[2017-05-10 06:44] rohitnarula7176 commented on #24
Fixed.

[2017-05-10 06:44] #24 closed

[2017-05-10 06:44] rohitnarula7176 commented on #25
Fixed.

[2017-05-10 06:44] #25 closed

[2017-05-10 06:44] rohitnarula7176 commented on #30
Fixed.

[2017-05-10 06:44] #30 closed

[2017-05-10 06:45] rohitnarula7176 commented on #12
Fixed.

[2017-05-10 06:45] #12 closed

[2017-05-10 06:46] rohitnarula7176 commented on #19
Fixed.

[2017-05-10 06:46] #19 closed

[2017-05-10 07:03] jmprieur commented on #17
This is now fixed in msal.js 0.1.1

[2017-05-10 07:03] #17 closed

[2017-05-10 21:15] SaeedAkhter-MSFT opened #54 "Please post a non-minified version on the CDN"
https://secure.aadcdn.microsoftonline-p.com/lib/0.1.1/js/msal.min.js does exist BUT
https://secure.aadcdn.microsoftonline-p.com/lib/0.1.1/js/msal.js does not exist.

Please post a version that can be used for debugging on the CDN.

[2017-05-11 08:44] jmprieur commented on #18
Update on this. This is because we want an app to sign-out a user without his acknowledgement (as this is signing-him off this identity for all pages in the browser). The UX needs work, though, and this work is planned.

[2017-05-11 14:29] jmprieur commented on #18
Closing as duplicate.

[2017-05-11 14:29] #18 closed

[2017-05-11 19:40] harshithkashyap opened #55 "Use commonjs instead of amd in typescript compilerOptions"
I'm trying to import this module in Angular 4 but it looks like the client library is not exported. Use commonjs as used by [Microsoft JS Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-javascript)

[2017-05-13 03:11] austindyoung opened #56 "Login request redirect uri header is set to url with specific path for SPAs that do not use hash-based routing"
UserAgentApplication.redirectUri is hard coded as

```window.location.href.split("?")[0].split("#")[0]```,

which assumes that routing is hash-based (e.g. https://spa.com/#/path/to/page).

If the routing is non-hash-based, this results in the login request's "redirect-uri" header being set to whatever the specific SPA path is. If this is not the app's registered redirect URI (e.g. https://spa.com/

[2017-05-16 20:18] nmiddendorff opened #58 "Setting .cacheLocation does not affect where the token is stored."
Before the loginRedirect() function is called I set the cacheLocation to 'localStorage'. When my user is authenticated, the token is stored in sessionStorage.

[code]

I also tried clientApplication.cacheLocation('localStorage'); but .cacheLocation is not a function

[2017-05-21 16:34] hkamel opened #59 "Token renewal operation failed due to timeout: null"
Hello team,

I'm getting the above error whenever I try to use acquireTokenSilent().

any guidance?

[2017-05-21 23:19] hiraldesai opened #60 "JWT Bearer Authentication Parameters for Graph 2.0 endpoint token"
Question: Is it possible to use the token obtained by `Msal.UserAgentApplication.acquireTokenSilent()` method to post as a bearer authorization header to authenticate against a dotnet core Web API? If so, what should I use as `JwtBearerOptions` in `app.UseJwtBearerAuthentication()` method?

I tried the standard options used by one of my other apps that uses Azure Active Directory. But getting the

[2017-05-22 07:09] MariusSc commented on #60
This worked for me in case of AD B2C:

[code]
TenantId is the GUID of your AD tenant.
AppId is the GUID of your App.
Policy is the name of the sign-in or sign-up policy that you have configured in B2C.

[2017-05-22 07:19] MariusSc commented on #58
I encountered a similar problem. I tried clientApplication.cacheLocation = "localStorage", right after instantiating the client, but the storage is still session storage. How can I switch to local storage?

If I use session storage, the user must re-enter his credentials each time the browser refreshes the site. Therefore I want to switch to local storage.

[2017-05-22 11:41] igaidai4uk opened #61 "Is it possible to get a refresh token?"
I want to integrate with Miscrosoft Outlook. I am able to login with MSAL.js and get an access token, but I am not able to get a refresh token. Is there a way to do it?

[2017-05-22 22:20] hiraldesai commented on #60
I don't have a B2C implementation, I have registered my app on https://apps.dev.microsoft.com/ as per instructions from [here](https://github.com/AzureADQuickStarts/AppModelv2-WebAPI-DotNet). There is no notion of `AAD:Policy` AFAIK.

The only difference in my case is that my web API is dotnet core app so there is no `UseOAuthBearerAuthentication` and my front-end is my own implementation of angul

[2017-05-23 23:21] hiraldesai opened #62 "Is it normal for getUser() to return user information even when the jwt id token has expired?"
I'm seeing a weird behavior in my app where id token for my `Msal.UserAgentApplication` has expired but it still returns the user information when `getUser()` is called. Am I missing something here?

If this is intended behavior then what's the best way to check if user is authenticated? Something like `app.isUserAuthenticated()`?

[2017-05-23 23:57] austindyoung opened #63 "Token renewal causes infinite loop"
Token renewal in an Angular app causes an infinite loop in which:

1. acquireTokenSilent([clientId]) causes iframe reassigment
2. Iframe src assignment causes app to get reconstructed
3. Hash "callback" is for access token (not id token)
2. acquireTokenSilent([clientId]) causes iframe reassigment

[2017-05-24 03:48] shivbijlani opened #64 "Endpoint discovery and Authority validation needs Logging"

[2017-05-24 07:58] pieterdv opened #65 "Disable MSA"
Is there a possibility to disable Microsoft Account to login, so to only use AAD account as login option?

[2017-05-24 18:08] austindyoung opened #66 "Token renewal iframe resolves token for the iframe"
Token renewal iframe resolves the token renewed within the iframe. In this case, any request associated with the current SPA route that is waiting on the token will get executed in the iframe. It would be preferable for the iframe only to resolve the token promise for the parent.

[2017-05-29 12:13] prichter commented on #56
Following worked for me.  Not sure if this helps for hash-based routing...
`var UserAgentApplication = new Msal.UserAgentApplication('APP ID', null, function....{}
userAgentApplication.redirectUri = 'redirect URI here...`

[2017-05-29 12:55] jmprieur commented on #56
Yes, @austindyoung: you can always set the redirectUri after the construction of UserAgentApplication. Does it work for you?

[2017-05-29 12:55] #56 closed

[2017-05-29 12:57] jmprieur commented on #59
Hi @hkamel, were you able to check if this was due to network latencies as discussed? Closing this for now. Feel free to re-open.

[2017-05-29 12:57] #59 closed

[2017-05-29 16:26] austindyoung commented on #56
Yes, @jmprieur. This is what I did initially. However, it was a surprise to me that the client has to mutate the UserAgentApplication object whenever the app uses non-hash routing. I opened a PR in which redirectUri is included as an optional constructor parameter.

[2017-05-29 19:31] austindyoung opened #72 "The contribution guide link is 404ing"

[2017-05-30 23:05] austindyoung opened #73 "Token renewal for multiple asynchronously triggered renewal requests is not supported"
Currently, if a UI action asynchronously triggers multiple authenticated requests, only one token will get resolved. This is because only one iframe request ever gets made and the callback values set on `window.callbacksMappedToRenewState` are set for their unique authentication request state GUIDs.

[2017-05-31 23:53] newtack opened #75 "No popups"
With a SPA application that leverages Azure AD B2C, I would like to allow the user to enter email password WITHIN the application without requiring a popup or a redirect.

Can I do this with MSAL? If so, how and is there any example available?

Note: I'd also offer social logins for the user, and in that case would want a popup, but not when the user chooses email/password option.

[2017-06-01 06:46] FredrikOhrn commented on #62
I have the same experience.

[2017-06-01 10:12] bampakoa commented on #59
@jmprieur I get the same error with the sample provided [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/devApps/VanillaJSTestApp-b2c). Below are my steps to reproduce:

1. Click the login button
2. The popup shows up and I sign in with my credentials
3. The popup closes and I notice a delay
4. The popup shows again and I sign again also.
5. I get the following er

[2017-06-01 18:57] hiraldesai commented on #62
I have done the following as a temporary workaround if anyone is interested. It's a snippet from my auth.service typescript file for one of my angular2 projects. Honestly - I don't know why `MSAL` doesn't expose a method for `getIdToken()` and `isAuthenticated()` as a part of library itself. I'd like to know the reason behind that.

[code]

[2017-06-01 19:02] hiraldesai commented on #60
I ended up scrapping the idea of directly validating the graph token. Instead, I ended up validating the id token as usual and sent graph token as a custom header to my requests to the api.

[2017-06-01 19:02] #60 closed

[2017-06-01 21:21] andretms opened #76 "Standard pop-up blocker for Chrome and Firefox blocks consent screeen"
After user signs-in, a call to acquireTokenPopup(["https://graph.microsoft.com/user.read"]) fails due built-in pop-up blocker in Chrome or Firefox when consent is needed. The following error is happens:

popup_window_error:Error opening popup window. This can happen if you are using IE or if popups are blocked in the browser

In order to test this, create a new brand new application in ARP, login

[2017-06-02 10:30] bampakoa commented on #59
Just to let you know, after some digging, we found out that it was a scope problem. `b2cScopes` was not set correctly in `applicationConfig`. Specifically, we set it to the `clientID` value and it worked.

[2017-06-05 04:49] sethreidnz commented on #75
I agree with @newtack. I got really excited when I saw this as I'm currently trying to figure out the best way to auth with Azure B2C and a SPA framework. But this IMO severely limits the user experience and expeciall ony things like mobile you don't really want to pop a new windwow.

Is there any plan to create say essentially the same thing as the `loginPopup` except we just have like `loginUser

[2017-06-06 17:24] hkusulja opened #77 "AngularJS 1 / 2 / 4 support"
Like old [Azure Active Directory Authentication Library (ADAL) for JavaScript](https://github.com/AzureAD/azure-activedirectory-library-for-js) had a [library AngularJS 1 (adal-angular.js)](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal-angular.js), and we hope Angular 2 and Angular 4.

Are there any plans to develop Angular library inside MSAL for major stable v

[2017-06-08 20:54] nmiddendorff opened #78 "Cookie length should be less then or equal to 4096 characters"
I am using the userAgentApplication.loginRedirect(config.b2cScopes) function to authenticate the users for my app.

Occasionally when I login, I receive the following message:
`Set-Cookie header is ignored in response from url: https://login.microsoftonline.com/xxxxxxx.onmicrosoft.com/login. Cookie length should be less then or equal to 4096 characters.`

This prevents msal.js from authenticating

[2017-06-14 13:51] mswehli opened #80 "Documentation typo, Example Part 3"
Part 3 of the example on the index page of the repo (https://github.com/AzureAD/microsoft-authentication-library-for-js) appears to contain an typo of a misplaced parentheses,
// interaction required
            if(error.indexOf("interaction_required" != -1)) {

should isntead be:
 if(error.indexOf("interaction_required") != -1){

[2017-06-14 14:59] alexandro81 opened #81 "MSAL.js replacement of adal.js?"
Hi guys,
I was just wondering if MSAL.js is supposed to be the replacement for adal.js to consume from single-page applications Azure AD version > 1.

[2017-06-14 15:08] jmprieur commented on #81
Hi @alexandro81: [MSAL.js](https://github.com/AzureAD/microsoft-authentication-library-for-js) works with the [AzureAD V2 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-appmodel-v2-overview), whereas ADAL.js works with the [AzureAD V1 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-developers-guide). The V1 endp

[2017-06-14 15:12] alexandro81 commented on #81
Hi @jmprieur,
thanks for the quick response!
So that means that if we switched to AzureAD v2, we could use MSAL.js to authenticate work accounts, mirroring what we're currently doing by consuming AzureAD v1 through adal.js.
Is that correct?

[2017-06-14 15:18] jmprieur commented on #81
Yes @alexandro81, I think so. But mind you that msal is for the moment in preview. Not all the scenarios are yet supported. For JavaScript, though, I think that this should be ok (this implements the implicit flow).

[2017-06-20 09:16] jmprieur commented on #65
No @pieterdv, msal is about the converged endpoint, which offers authentication for both AAD and MSA. If you want only AAD, you probably want to use [ADAL.js](https://github.com/AzureAD/azure-activedirectory-library-for-js).

[2017-06-20 09:16] #65 closed

[2017-06-20 09:20] #81 closed

[2017-06-20 09:20] pieterdv commented on #65
I was in the believe that MSAL is the future library and ADAL.js is going to be phased out? So MSAL and ADAL will be maintained a long each other?

[2017-06-20 09:25] jmprieur commented on #65
Yes, for the moment, until the converged endpoint ([AAD V2](https://aka.ms/aadv2)) supports all the scenarios that the V1 endpoint supports

[2017-06-20 09:28] pieterdv commented on #65
Ok, my question was more a feature request, not something I need right away. The possibility to only login to AAD will come to MSAL in the future? If so my question is answered. Thanks!

[2017-06-23 13:56] Wozbo opened #82 "Avoid overwriting window.msal to support multiple providers for Azure B2C"
I've just got Msal for JS working in an angular application but I had a problem supporting multiple login types for an Azure B2C scenario.

I was doing (for a quick proto)
 `
    environment.authSettings.forEach(setting => {
//setup new msal and store in array
});
`

I basically had something like
`[{policyName: 'b2c_1_facebook',...},
{policyName: 'b2c_1_linkedin',...},
...]`

So that I could have

[2017-06-26 07:12] jmprieur commented on #82
Thanks @Wozbo. I believe this makes sense. We'll consider it for the backlog

[2017-06-27 23:18] rohitnarula7176 commented on #82
@Wozbo Can you try out my branch https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_82 and let me know if it fixes the issue. With this change you can use 'this' inside the tokenRecievedCallback function to refer to the instance of the userAgentApplication as shown below:
[code]

[2017-06-28 12:14] Wozbo commented on #82
Hey, this looks pretty good!  With this, is there any need for window.msal?  Seems like a potential artifact that could be removed to not cause confusion.

[2017-06-29 12:58] Wozbo commented on #82
Hey, I spoke too soon; this fails in an angular service because of the usage of 'this.'  Is there any other solution that would be better and backward compatible?

[2017-06-29 23:40] rohitnarula7176 commented on #82
@Wozbo Can you provide a small repo to demonstrate the issue you are facing.

[2017-07-03 17:14] Molibar commented on #58
MariusSc: Your solution on stackoverflow seemed to make it use local storage
https://stackoverflow.com/a/44133641/1176452

The problem I'm facing now is that when creating the Msal.UserAgentApplication it doesn't use the data from the Local Storage to populate the user object. Did you manage to solve this problem? Do you have a code snippet for how to create the Msal.UserAgentApplication with the

[2017-07-03 23:56] thdotnet opened #84 "Refused to display in a frame because it set 'X-Frame-Options' to 'deny'."
Hi,

I've cloned this repository and changed the settings to my Azure AD B2C. It opens the popup but it seems that during the process of acquiring the token, it's raising the error:

Refused to display 'https://login.microsoftonline.com/te/x.onmicrosoft.com/b2c_1_jms-su-si/oauth2/v2.0/authorize?response_type=token&scope=https%3A%2F%2Fx.onmicrosoft.com%2Fdemoapi%2Fdemo.read%20openid%20profile&clien

[2017-07-04 00:11] rohitnarula7176 commented on #80
PR submitted

[2017-07-04 00:25] rohitnarula7176 commented on #58
@Molibar @MariusSc @nmiddendorff I have made a fix for the above issue in my branch https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_58. To change the cacheLocation to localStorage, you will have to pass the value in the constructor. Its an optional parameter, so if you do not pass a value, it will default to sessionStorage. Since on browser redirect, a

[2017-07-04 00:26] rohitnarula7176 commented on #58
PR Submitted

[2017-07-04 14:49] dennisschaaf opened #87 "Separate example and documentation"
Separate the repository for the example and the library.

[2017-07-04 14:50] dennisschaaf opened #88 "Host a API documentation on Github"
Use github pages to host the documentation for this library.

[2017-07-04 14:52] Molibar commented on #58
Nice patch, solved the problems with Local Storage not being used. Is there any documentation that shows how to get msal to read the cached values from Local Storage? Currently I'm manually setting userAgentApplication._user with a call to userAgentApplication.getUser(). This should be handled by the framework without any external manipulation.

Thanks for sorting out the localStorage issue so fas

[2017-07-04 15:13] jmprieur commented on #58
Thanks for the feedback @Molibar

[2017-07-04 23:39] thdotnet commented on #84
I've replaced the scope with the GUID and it's working now.

[2017-07-04 23:39] #84 closed

[2017-07-05 19:56] Molibar opened #89 "Bug in call to insertAdjacentHTML('beforeEnd', ...)"
Bug in call to insertAdjacentHTML('beforeEnd', ...) in UserAgentApplication.ts.

The specifications states that it should be "beforeend", not "beforeEnd":
https://www.w3.org/TR/2011/WD-html5-20110525/apis-in-html-documents.html

This broke the TypeScript pre-processing for me since InsertPosition in lib.es6.d.ts in the typescript node-package is defined as:
type InsertPosition = "beforebegin" | "a

[2017-07-05 20:21] rohitnarula7176 commented on #89
@Molibar Thank you for your contribution. I have merged your pull request. Closing this issue,

[2017-07-05 20:21] #89 closed

[2017-07-05 21:29] rohitnarula7176 commented on #80
Fixed

[2017-07-05 21:29] #80 closed

[2017-07-05 21:30] rohitnarula7176 commented on #87
@dennisschaaf We prefer having the example setup as part of the repo.

[2017-07-05 21:30] #87 closed

[2017-07-05 23:36] rohitnarula7176 commented on #58
@Molibar @MariusSc @nmiddendorff Due to a large number of default and optional parameters we need to set in the constructor,  I have changed the code a bit which was used to fix the issue with setting cacheLocation as localStorage. Please refer to the snippet below to change cacheLocation to localStorage in  your code.
[code]
In TS syntax, an optional params object is preferred which should contai

[2017-07-06 00:02] rohitnarula7176 commented on #82
@Wozbo I have changed the code to pass the instance of userAgentApplication in the callback which you can use to resolve this issue with multiple login types. Can you please check my branch below to see if it resolves the issue. I will add this fix to our next release.
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_82

[2017-07-06 01:20] amilsil commented on #66
This has been one major problem I was facing so far trying to get it to work with Angular 2.

Firstly, to work with SPA frameworks, we need an additional silentRedirectUri which will be loaded in the iframe. It should not redirect that iframe to the RedirectUri after (which will result in loading the SPA inside the iframe all over again).
+1 on this

[2017-07-06 12:53] Molibar commented on #58
Good stuff, works for me. Will be much cleaner as more arguments might need to be added over time. The constructor looked a bit bloated there in the last version. I built the dev branch and on my side everything works.

Thanks for helping us out.

[2017-07-06 12:58] jmprieur commented on #58
Thanks for the feedback @Molibar . Closing the issue.

[2017-07-06 12:58] #58 closed

[2017-07-12 00:54] rohitnarula7176 commented on #82
@Wozbo This is now fixed in dev. I have changed the code in a way that you do not need to rely on the window.msal object in the call back function passed in the constructor. You can just create an instance of userAgentApplication and use that instance in the authCallback. With this fix you can still use this.msal in the callback function as before and also use userAgentApplication instance to supp

[2017-07-12 00:54] #82 closed

[2017-07-12 01:29] Wozbo commented on #82
Hey just a note this is not fixed if you only pass the msal object back in the callback. The iframe generated to acquire a token silently will fail because it relies on the parent Windows msal object, and if you have multiple instances the token acquiring will not work because it tries to verify that the response matches your msal ID. This took forever to debut and fix; I can post a summary someti

[2017-07-12 20:16] spottedmahn opened #94 "[B2C] Improve Error Handling when: This application does not have sufficient permissions against this web resource to perform the operation"
When I call loginPopup() and I don't have access I get (in the console window)

It turns out my real problem was:

Please see this [GitHub Issue on the MSAL SPA Sample repo](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/4) additional details.

Can MSAL.js provide **better error handling/reporting** in this scenario?

[2017-07-12 20:21] SaeedAkhter-MSFT commented on #94
Specifically, the error should mention verifying that your application has access to the scope value used in the request.

[2017-07-12 21:37] spottedmahn opened #95 "Where's the Best Place to Report Issues Related to the Portal?"
I'm experiencing the following issue but I'm not sure where I should report it.  And advice?  Thanks!

1. I'm getting an error when trying to save my scopes complaining about my reply url
1. The url in the error is not clickable
1. I can't copy the url in error message

![image](https://user-images.githubusercontent.com/14079228/28140969-8e7a7306-6728-11e7-942a-8fb48011507c.png)

[2017-07-12 21:50] spottedmahn commented on #95
@SaeedAkhter-MSFT @parakhj looks like there is a port issue. I tried creating a new app and it fails too.

![image](https://user-images.githubusercontent.com/14079228/28141426-803c5e4c-672a-11e7-9ef1-eb956fcd7084.png)

![image](https://user-images.githubusercontent.com/14079228/28141431-86cdf8a6-672a-11e7-8434-504e7037b97f.png)

[2017-07-12 23:05] parakhj commented on #95
We are working to resolve the issue - sorry for the delay. Once the issue is resolved, will try to update the notification as well so the link is clickable.

[2017-07-13 00:06] spottedmahn commented on #95
@parakhj thanks!

[2017-07-13 00:13] danieldobalian commented on #95
To answer the question, StackOverflow posts are a great way to report this kind of thing with tag `azure-active-directory`.

[2017-07-13 02:50] parakhj commented on #95
The issue was resolved a little while ago - you shouldn't see that notification anymore.

[2017-07-13 14:34] spottedmahn commented on #95
thanks @danieldobalian  and @parakhj

[2017-07-13 14:34] #95 closed

[2017-07-13 14:41] spottedmahn commented on #94
I'm happy to try to create a PR to address this 😄 .  I thinking that the response provided will make it difficult to do it the **right way** seeing how the result is in a JS var

Thoughts?

[Full Response](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/1145533/azure.ad.b2c.-.spa.-.failure.txt)

[2017-07-13 16:28] TulyOpt opened #96 "import msal with es6 syntax"
Hello,

Apparently (see https://stackoverflow.com/questions/44228493/how-to-properly-import-and-use-the-msal-microsoft-authentication-library-for-js) it is not possible to import msal in an es6 style i.e. like :

[code]

Is there a reason ? If not, would it possible to make it possible ? Thanks in advance.

[2017-07-13 17:17] jmprieur commented on #96
@TulyOpt : if you clone the repo and change in es5 to es6 here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/tsconfig.base.json#L7, you would generate msal for es6. Would that work for you?

[2017-07-13 19:14] SaeedAkhter-MSFT commented on #94
Thank you for the offer, but it might be better to hold off for a bit.  I was searching the MSAL source code for error handling that's specific to AADB2C error codes and I couldn't find any existing precedent.  It might make more sense to return a better error message from the Azure AD B2C service.  We are checking to see if the upstream call to Graph gives us any granular information (did the cal

[2017-07-13 19:38] spottedmahn commented on #94
Copy that; that's kinda what I figured after seeing the http response.

I'm personally ok with the order.  What about a tool-tip on each?

 **Name**: for reference only
 **Value**: the value to be used in authorization calls

[2017-07-14 12:44] TulyOpt commented on #96
Hi,

thanks for your answer, i will try this.

[2017-07-16 14:35] WardGubbi opened #97 "Renewal of IdToken"
I'm using Msal for Azure B2C authentication & API authorization. When using acquireTokenSilent for the Id Token (scope being the application id). It always resolves unless the id_token has expired. A renewal never resolves and leaves an error in the console that cannot be caught (doesn't even have a stacktrace).

I can see the HTTP request to openid-configuration being resolved in my network logs,

[2017-07-18 04:13] jraadt commented on #77
With the newly released [HttpClient](https://angular.io/guide/http) in Angular it allows for interceptors. Building an interceptor like what was done for the ADAL library should be feasible now.

[2017-07-20 13:53] spottedmahn commented on #58
@rohitnarula7176 FYI, the following links aren't working

- https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_58
- https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/rohitnarula7176/Issue_58/devApps/VanillaJSTestApp/index_LoginRedirect.html

Which PR are you referring to?

Thanks!

[2017-07-20 14:29] spottedmahn commented on #58
Just so I'm clear...  To use local storage we have two options depending upon the version used, correct?

### Current Version - v0.1.1 ###
[code]
[source](https://stackoverflow.com/questions/44114583/msal-useragentapplication-local-storage-not-working/44133641#44133641)

### Next Version ###
[code]
[source](https://stackoverflow.com/questions/45201872/how-to-use-localstorage-with-msal-js/45202595#

[2017-07-21 02:33] wingleungchoi commented on #61
@igaidai4uk i have the same problem.
Do you find a way to solve it?

[2017-07-21 06:43] igaidai4uk commented on #61
I ended up doing everything manually, like constructing a url and opening a popup.

[2017-07-21 07:40] trbngr commented on #97
I'm also stuck on this.

[2017-07-21 08:17] wingleungchoi commented on #61
@igaidai4uk thanks, i will follow the document to do it manually
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oauth-code

[2017-07-21 17:04] trbngr commented on #97
`authContext.acquireTokenSilent(ad.scopes, null, authContext.getUser())`

@WardGubbi passing `authority` as null to the `acquireTokenSilent` constructor will force it to reuse the `AuthorityInstance`  to contains the tenant information. Otherwise a new instance is created without the endpoints.

Hope that made sense. 😜

Short story, pass `authority` as null.

[2017-07-21 19:33] WardGubbi commented on #97
Makes total sense! Thanks @trbngr

[2017-07-21 20:47] Only1MrAnderson opened #99 "ADFS Support?"
Any plan to add ADFS support as the.net library seems to be working on it.?

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/143

[2017-07-24 18:12] davidmorissette opened #100 "Profile scope using local accounts with B2C"
_Scopes like 'openid' and 'profile' are sent with every request._

When using local accounts with B2C, asking for the 'profile' scope forces users to specify a Microsoft account before logging in. This behavior is faulty since a user who decides to use a local account is not guaranteed to have a Microsoft account.

Different proposed solutions:
1- Stop sending the 'profile' scope automatically.
2-

[2017-07-24 19:57] tiwilson7 commented on #100
_Always sending 'openid' and 'profile' scopes causes an error when integrating with IdentityServer 4._

IdentityServer 4 does not allow you to send an identity scope when you are requesting an access token. If I request an access token for scope 'xyz', the scope is changed to 'xyz openid profile' which causes IdentityServer to throw the following error:

This makes the library unusable for us.

[2017-07-25 22:30] DonBeck69 opened #101 "Creating new client application (.then) promise / auto login"
I find that when creating a new client application, a few seconds passes before the component is ready. Clicking a login button to sign (_clientApplication.loginPopup) in throws this exception
"angular.js:14525 TypeError: Cannot read property 'loginPopup' of undefined", because the component is not yet created. Wait few seconds and it works fine.

I would like to something like this

            _

[2017-07-26 14:54] hkusulja commented on #77
Maybe this can help - https://github.com/Azure-Samples/active-directory-b2c-javascript-angular2.4-spa

[2017-07-28 22:32] spottedmahn opened #102 "window.load Fired Multiple Times with loginRedirect - Maybe related to acquireTokenSilent?"
I forked the [MSAL.js SPA Sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) and tried using `loginRedirect` instead of `loginPopup`.  The problem I'm having is that sometimes the window.onload event is firing multiple times.  It seems to correspond to the call to `acquireTokenSilent`.

Is there a working sample using `loginRedirect` for a SPA app?

Why is

[2017-08-02 13:08] DibranMulder opened #103 "resetCacheItems should only remove msal. prefixed local/session storage items"
If you call [logout](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/UserAgentApplication.ts#L408) on a clientApplication the storage with its token and such will be cleared, this is correct. However it doesn't clear only whitelisted or prefixed key's but just every key available, please see:  [resetCacheItems](https://github.com/AzureAD/microsoft-authentication-lib

[2017-08-03 08:17] DibranMulder opened #104 "Include TypeScript typings the right way"
Please follow the TypeScript [guidelines ](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) for publishing typings with your npm package. This library doesn't comply to either:

1. Bundling with your npm package, or

Your are missing the "types" attribute in package.json

2. Publishing to the @types organization on npm.

This is in my opinion the preferred approach.

[2017-08-03 08:23] DibranMulder commented on #104
This issue can be partially solved by merging the following pull request: #79

[2017-08-03 08:24] DibranMulder commented on #96
This guy forked the repo and added all major module implementations, take a look at:
https://github.com/malekpour/microsoft-authentication-library-for-js

[2017-08-03 13:08] jmprieur commented on #96
+ @rohitnarula7176

[2017-08-05 08:32] trbngr opened #106 "Problems with Microsoft Account with B2C react"
Repo here: https://github.com/trbngr/azure_b2c_react

Using a MS account, the initial login succeeds but, redirects continuously until `acquireTokenSilent` times out. The next time through everything works perfectly.

This only happens with MS accounts.

relavent code here: https://github.com/trbngr/azure_b2c_react/blob/master/src/redux/auth/actions.js#L32

logs here: https://pastebin.com/eMsBwwUd

[2017-08-05 09:00] trbngr commented on #106
Just added Google and it happens as well.

[2017-08-05 21:34] Hongbo-Miao opened #107 "Enable Issues for MicrosoftDocs/azure-docs"
I am reading the doc [Call the Microsoft Graph API from a JavaScript Single Page Application (SPA)](https://docs.microsoft.com/en-us/azure/active-directory/develop/guidedsetups/active-directory-javascriptspa)

I try to open an issue, so I go to
https://github.com/MicrosoftDocs/azure-docs

But obviously Issues is disabled. Please enable it, thanks!

![image](https://user-images.githubusercontent.co

[2017-08-05 22:02] Hongbo-Miao opened #108 "[feature request] better report for failing refresh access_token"
Originally asked on [Stack Overflow](https://stackoverflow.com/questions/45492487/aadsts50058-a-silent-sign-in-request-was-sent-but-no-user-is-signed-in/45497122).

I got this error when try to refresh access_token.

Please check the reason that I get this error [here](https://stackoverflow.com/a/45517137/2000548). The error I got right now is not very helpful for developers. Please provide better

[2017-08-10 14:10] DibranMulder commented on #63
I have experienced this issue aswell, why aren't they fixing this?! This is a major deal breaker.

[2017-08-10 18:23] rohitnarula7176 commented on #97
Closing this issue as it is resolved by the application above.

[2017-08-10 18:23] #97 closed

[2017-08-10 18:31] rohitnarula7176 commented on #73
@austindyoung Can you set up a small code repro to explain this issue. I can then compare your PR to see the problem.

[2017-08-10 18:45] rohitnarula7176 commented on #63
@DibranMulder Can you please provide a code snippet that can help us to reproduce the issue.

[2017-08-11 12:14] LeanderVanEck opened #109 "Renewing idToken fails"
For renewing the idToken i noticed some bugs in msal.js

in function UserAgentApplication.prototype.renewIdToken there is a reference to "adalIdTokenFrame". This should be "msalIdTokenFrame". Otherwise navigation won't even happen.

Also in acquireTokenSiltent the response type is token and not id_token. So the navigation url that is being constructed is not valid.

[2017-08-11 23:40] LeanderVanEck commented on #109
@rohitnarula7176
That's awesome. Works perfectly.

[2017-08-15 18:36] rohitnarula7176 commented on #109
Closing this issue. Fixed in dev

[2017-08-15 18:36] #109 closed

[2017-08-15 19:49] gramidt commented on #66
Any update on this? This is killing our apps performance.

[2017-08-16 00:23] rohitnarula7176 commented on #63
Closing this issue. Fixed in dev.

[2017-08-16 00:23] #63 closed

[2017-08-16 00:25] rohitnarula7176 commented on #66
@austindyoung I have merged your pull request into dev by making some changes to it. Thank you for your contribution. @gramidt @amilsil  Can you please use the dev branch and see if you still face any issues.

[2017-08-16 13:01] DibranMulder commented on #63
Great job, I tried to provide a sample but I didn't manage to reproduce the bug in my sample. I'll test with dev if its solved and let you know!

[2017-08-16 13:09] DibranMulder opened #111 "Forgot password with signup-signin policy"
When using a combined signup - signin policy in Azure B2C, users have to handle the forgot password scenario themselves. Please take a look at the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-policies).

When you create a sign-up or sign-in policy (with local accounts), you see a Forgot password? link on the first page of the experience

[2017-08-16 21:19] sarahshul opened #112 "Allow to open the new account form instead of login form"
There are cases where we know the user is a new user (for example - the user press the: Join us now button).

I would like in this case to show the user the create new account form immediately and not to force him to go to the log in form and then he have to press the create new account.

In some cases, it is important that he wouldn't be able to do the log in - just to registrar.

[2017-08-16 21:41] rohitnarula7176 commented on #112
@sarahshul This is not something we can handle from the library perspective. Closing this issue.

[2017-08-16 21:41] #112 closed

[2017-08-16 21:49] rohitnarula7176 commented on #102
@spottedmahn window.onload event should be fired twice and it is expected behavior. The first time it is fired is during login and second time is fired during acquireTokenSilent. In both method calls, you get redirected to the authorization endpoint and then get redirected back to your app's root page with the idtoken/access_token which causes the page reload. If you set your redirectUri to someth

[2017-08-16 21:49] #102 closed

[2017-08-16 21:54] rohitnarula7176 commented on #108
@Hongbo-Miao This is not a bug with the library. The library just throws the error message received from AAD to the app developer.

[2017-08-16 21:54] #108 closed

[2017-08-16 22:05] rohitnarula7176 commented on #101
@DonBeck69 The constructor does not return a promise so you cannot use the .then on it. Please refer to the samples here on how to use the api's. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginRedirect.html. Auto-login feature cannot be provided as part of the library. You will have to write custom code for it.

[2017-08-16 22:09] Hongbo-Miao commented on #108
@rohitnarula7176 but the error message should be updated. Where should I report that?

[2017-08-17 01:20] rolandoldengarm opened #113 "need for logoutPopup() [was logout: Should not redirect the user to our homepage]"
When logging out, it is redirecting the user to the homepage. I know that you can specify the postlogoutRedirectUrl, but in an SPA like Angular this requires us to save everything in cache.
Ideally this happens in a popup, similar to logging in.

[2017-08-17 12:01] LeanderVanEck opened #114 "acquireTokenPopup promise doesn't reject on closing the popup without logging in."
When the popup is closed manually then the interval is cleared, but the promise doesn't get resolved or rejected.

See `UserAgentApplication.prototype.openWindow`

[2017-08-17 16:43] dannygar opened #115 "Getting "Permission Denied" exception in Edge, when using MSAL.js"
Running the same code in Chrome has no issues and the client SPA app (angular4+msal) successfully authenticates with AD v2. The apps calls MSAL, which presents with a popup window prompting for user credentials. Once, authenticated, the popup window is closed and the app is redirected to the ReplyUrl as expected. However, when launching this app in Edge browser, the app hangs with an empty popup w

[2017-08-17 18:04] danieldobalian commented on #107
@Hongbo-Miao I would recommend dropping issues you had on that sample here:

https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2

Unfortunately, we cannot unlock issues for that repo as it represents all docs across Microsoft.

[2017-08-17 18:04] #107 closed

[2017-08-17 18:05] danieldobalian commented on #88
We do!

https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/docs/classes/_useragentapplication_.msal.useragentapplication.html

[2017-08-17 18:05] #88 closed

[2017-08-17 18:13] danieldobalian commented on #72
Removed bad link, thanks @austindyoung

[2017-08-17 18:13] #72 closed

[2017-08-17 18:16] danieldobalian commented on #115
@rohitnarula7176 this is the case Vittorio referenced over email if you can take a look.

[2017-08-17 18:33] Hongbo-Miao commented on #107
Cool thanks

[2017-08-18 00:03] rohitnarula7176 commented on #115
@parakhj Jean-Marc pointed me to this https://github.com/Azure-Samples/active-directory-b2c-javascript-angular2.4-spa created by you and I was able to sign in to this app using my google account in Edge. window.open returns a NULL reference object if Enable Protected Mode is checked under Internet Options->Security->Security Level for this zone. Can you check to see if Enable Protected Mode is che

[2017-08-18 00:03] #115 closed

[2017-08-22 20:01] mikelunn commented on #111
I'm having the same issue. I'm not sure why the forgot password policy is not being handled the same way the sign up policy is.

[2017-08-23 06:52] DibranMulder commented on #111
I created an issue at the demo repo i'm using. It might be helpful to solve this issue.
https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/9

[2017-08-24 23:46] rohitnarula7176 commented on #66
Closing this issue. Fixed in dev.

[2017-08-24 23:46] #66 closed

[2017-08-24 23:49] rohitnarula7176 commented on #76
@andretms This is a standard problem where the browser blocks the popup window from opening if it is not a direct result of a click event. We have mentioned in the Read me that the developers need to allow popups in the browser if they want to consume msal and take advantage of the popup based login and acquireToken.

[2017-08-24 23:50] #76 closed

[2017-08-24 23:52] rohitnarula7176 commented on #61
@igaidai4uk @wingleungchoi  The library uses implicit flow where refresh token are not supported. Closing this issue.

[2017-08-24 23:52] #61 closed

[2017-08-24 23:55] rohitnarula7176 commented on #75
@newtack @sethreidnz The library is not meant to support this particular use case case.

[2017-08-24 23:55] #75 closed

[2017-08-24 23:56] rohitnarula7176 commented on #101
@DonBeck69 Closing this issue for now. Please reopen if you still face any issues.

[2017-08-24 23:56] #101 closed

[2017-08-29 20:48] ggirard07 opened #117 "What is the purpose of class attribute on script tag defined in Installation instruction"
**Not sure whether this is the right place to post it or not**

I noticed in the `README.md` that a `class="pre"` is defined on the script tag.

As I am pretty new to HTML5 and JavaScript, I can't understand its purpose (no googling neither stackoverflow gave me a real answer).
Is there any real utility for it? Or is that an internal stuff only for `bluebird`?

I now this is not really an issue...

[2017-09-01 20:37] RobARichardson commented on #78
My organization and our clients are regularly seeing this issue (or something similar).  Error message is "Bad Request - Request Too Long.  HTTP Error 400. The size of the request headers is too long."  A number of posts across the web (GitHub and Stack Overflow) all suggest that cookies need to be cleared because too many MSFT websites are causing a "cookie overflow".  While this may be true, ask

[2017-09-02 03:17] jmprieur commented on #78
@RobARichardson : thanks for the feedback. Do you think it's a cookie issue? or is it because the query parameters on the URL is too long (which also happens with B2C) ?

For the moment proposing to close this issue as this is not an issue with msal.js, but with the B2C requests (I added [Feedback] to the title, BTW). Have communicated the feedback to the B2C team.

[2017-09-02 03:17] #78 closed

[2017-09-02 19:59] jmprieur commented on #117
Hi Guillaume.
MSAL is written in TypeScript, which then generates JavaScript. JavaScript has several standard levels ([Ecma Script](https://fr.wikipedia.org/wiki/ECMAScript) 5, 6). Unfortunately, Internet Explorer does not support the latest standards, therefore we have chosen to generate from our TypeScript code, the msal.js library compliant to ECMA Script 5. However since our code uses promises

[2017-09-02 20:06] jmprieur commented on #117
I realize I have not answered to your question about pre in the script. @rohitnarula7176: would you know?

[2017-09-03 01:11] sethreidnz commented on #75
Why not? You mean 99% of use cases for a modern JavaScript app? Is there something that makes it impossible?

[2017-09-03 01:32] jmprieur commented on #75
Collecting and storing a user's username and password is not considered the correct approach for non-interactive authentication, and therefore we are not implementing it for many platforms. With Azure AD, the service handles the conversation in the browser (popup or with an indirection).
The following GitHub issue (which is for ADAL.net, but this is the same principle) explains in details why we d

[2017-09-03 05:02] jmprieur commented on #113
@rolandoldengarm : when login out we need to clear the cookies both for the application, and for https://msft.sts.microsoft.com. Clearing the cookies for https://msft.sts.microsoft.com can only be done by the STS itself (security isolation), and therefore it needs to redirect to the epostlogoutRedirectUrl afterwards.
This is by design

[2017-09-03 05:05] jmprieur commented on #111
Thanks for the feedback, @DibranMulder @mikelunn
Adding @saraford to keep track of the request, and @danieldobalian so that we update the error handling documentation.
I don't think that we would do that we would add this to msal.js itself. but maybe to a higher level API.
Closing this msal.js issue for now.

[2017-09-03 05:05] #111 closed

[2017-09-03 05:10] jmprieur commented on #106
+ @parakhj

[2017-09-03 05:16] jmprieur commented on #94
@SaeedAkhter-MSFT : if you take this  on the service side, closing this issue for now.

[2017-09-03 05:16] #94 closed

[2017-09-03 22:16] rolandoldengarm commented on #113
@jmprieur but why can't this happen in a popup?

[2017-09-03 22:23] jmprieur commented on #113
@rolandoldengarm : if you use the popup mode, I'd expect this to happen in the popup (I believe it does in plain JavaScript). Which Angular wrapper did you use for MSAL?

[2017-09-04 02:56] rolandoldengarm commented on #113
@jmprieur login has two modes, loginPopup and loginRedirect. I use loginPopup and that works great.

however, logout only has one function: `logout()`. So what I'd like to see is a `logoutPopup()` method.

I'm not using any wrapper, using MSAL JS straight in an Angular 4 app :)

[2017-09-04 07:07] DibranMulder commented on #106
Is it related to this bug: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/63

[2017-09-04 17:04] jmprieur commented on #106
@trbngr : could you please try to see if this version of msal.js (in the dev branch) fixes your issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/out/msal.js

[2017-09-04 17:22] trbngr commented on #106
That seems to have done it!

Thanks @jmprieur and @DibranMulder

[2017-09-04 17:22] #106 closed

[2017-09-04 17:48] jmprieur commented on #106
Thanks for the update, @trbngr
BTW, we want to release a new version of msal.js soon (with this fix)
cc: @rohitnarula7176

[2017-09-07 06:39] kirthika commented on #30
@rohitnarula7176  how?

[2017-09-07 11:11] tmszyman opened #119 "Authentication: Log in with Azure Active Directory with msal.js"
I created app on Application Registration Portal and connected it do Azure Authentication: Log in with Azure Active Directory. So my callback for app is "***.auth/login/aad/callback". How can I integrate this authentication with msal.js? I got error when I use acquireTokenSilent for generate token -
 "user_login_error".

I also tried integrate app with https://github.com/Azure-Samples/active-direc

[2017-09-08 00:19] rohitnarula7176 commented on #103
@DibranMulder Thank you for pointing out this issue. I have made a fix for it in my branch. Can you please use it to confirm if the issue is resolved for you. Here is the link for my branch
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_103
I will then merge it into dev.

[2017-09-08 00:24] rohitnarula7176 commented on #119
@tmszyman You get this error when you try to acquire a token without a signed in user. Are you able to log in to your app? Please refer to the following sample on the repo https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginPopup.html on instructions on how to use the api's in msal.js.

[2017-09-08 00:48] davidmorissette opened #121 "Retrieving user claims from token"
When using B2C, the build-in policies allow us to define which application claims will be added to the token:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-policies

However, I didn't find any proper way to retrieve those claims using the library and I believe claims are an important aspect of oauth2 (not only to B2C).

Are you going to implement some

[2017-09-08 06:42] DibranMulder commented on #121
The token's retrieved from B2C do not contain all the information about the user and its claim or attributes. You should use the Graph API of the underlying Azure Active Directory to query the user for its information.
Please take a look at the .NET sample: https://github.com/AzureADQuickStarts/B2C-GraphAPI-DotNet

I use it in my ASP.net web api backend to retrieve the information of a user.

[2017-09-08 07:44] DibranMulder commented on #103
There are more changes made to the branch you're pointing to, so I had to adjust my code. Your code changes look fine but my normal authentication flow broke. I'm able to head to the login page and then login, the return url is returned fine but the when I instantiate a clientApplication is does not seem to store the tokens.

URL:
https://localhost:44399/#state=2cf1dee1-3cee-46e3-ac74-520a7446b5cc

[2017-09-08 16:01] tmszyman commented on #119
Thanks for the answer. I looked at this sample. (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginPopup.html).

Maybe I'll describe you how the app works in several situations.
I. Automatic login with Active Directory Authentication is **disabled**. Callback on Application Registration Portal is set to _home page of the app_. I used th

[2017-09-08 17:09] davidmorissette commented on #121
@DibranMulder You are right when you say that the token does not contain all the information about the user and the Microsoft Graph exists to get that information, stored in other systems, specified in different scopes.

The link you are referring to explain how, for a B2C tenant, it's possible to communicate with the Graph API for an interactive (run-once task) administrator account or an automat

[2017-09-08 18:05] rohitnarula7176 commented on #103
@DibranMulder I would need to see your code to find out why the tokens are not stored because the pr changes should not affect your auth flow. Can you please share a code repro for the issue?

[2017-09-08 22:43] rohitnarula7176 commented on #114
@LeanderVanEck Issue is now fixed in dev. Please check and confirm.

[2017-09-08 22:58] RobARichardson opened #124 "Presence of a Referrer header causing Authentication issues within UserAgentApplication?"
**Background**:
I've got a SPA written in AngularJS using msal-js and AAD B2C to authenticate users.  The entire SPA is protected from anonymous users;  if no user is authorized, the app immediately redirects to the Azure AD sign-in page during initialization using UserAgentApplication.loginRedirect().  If I open the application directly from a new browser tab, authentication behaves normally....

[2017-09-09 04:53] jmprieur commented on #124
Thanks @RobARichardson for your detailed repros and your analysis.

[2017-09-10 13:02] virgo-no-shaka opened #125 "Library not working"
Dear contributors,

I spent a couple of days trying to make it work but found a fundamental issue that will prevent any attempt to get it run correctly.

In fact, the way the popup login process is handled can't but lead to a dead end. First, a timer has been set to monitor the current popup url/hash which is far from reliable. Second, browsers prevent any attempt to access location properties of

[2017-09-10 20:13] rohitnarula7176 commented on #125
@virgo-no-shaka The code you see in the library is by design. When you click login, it opens a popUp window and sets it URL to login.microsoftonline.com which lies in a different domain than your app. We then use the polling mechanism to monitor its URL in a try catch to avoid cross domain URL check error. After you enter your credentials, AAD redirects the popUp URL back to your redirectURI which

[2017-09-11 20:19] navyasric commented on #125
@virgo-no-shaka Thank you for your feedback. Is the issue resolved for you? If not, can you elaborate on your scenario? Can you provide the code snippet of how you tried to use the MSAL library and what your experience was to make you feel that MSAL can't work for your case?

[2017-09-11 21:11] rohitnarula7176 commented on #124
@RobARichardson Can you please provide a code repro for the above mentioned issue?

[2017-09-11 22:42] rohitnarula7176 commented on #125
@virgo-no-shaka Closing this issue. Please refer to the samples for directions on how to use the popup based login.

[2017-09-11 22:42] #125 closed

[2017-09-11 22:42] #114 closed

[2017-09-11 23:00] LeanderVanEck commented on #114
@rohitnarula7176
Looks alright, thanks!

[2017-09-13 08:21] DibranMulder commented on #103
@rohitnarula7176 Hi I found some time to review your changes and its not good yet. I managed to perform a login, the change with [setTimeout ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/rohitnarula7176/Issue_103/lib/UserAgentApplication.ts#L222 )broke my existing AngularJS routing fallback. I managed to workaround that. After that the login was processed correctly. Bea

[2017-09-13 14:59] HeMinzhang opened #126 "NodeInvocationException: Msal is not defined"
I use asp.net core  web api and angular develop web app in VS2017.
But I use Msal.js get a exception. Can you help me?
[WebApplication1.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/1299843/WebApplication1.zip)

[2017-09-13 23:12] rohitnarula7176 commented on #103
@DibranMulder Thank you for pointing out this issue. I have fixed it in mybranch. Can you please check that and confirm. Also can you explain why is the setTimeout method a breaking change for you. I made that code change so that it is backwards compatible.

[2017-09-14 00:55] khalibloo opened #127 "Logout doesn't redirect back to my app"
On calling logout(), I expect the browser to be redirected to my app once the logout process is completed. However, I just get a screen "You signed out of your account ..." and it stays there.

I think it's intrusive that the user is redirected away from my app in the first place. Why not have a pop up at the very most instead? It's tempting to just clear my local storage variables and skip the lo

[2017-09-14 07:21] DibranMulder commented on #103
@rohitnarula7176 This is fixed, nice! Thank you

[2017-09-14 07:21] #103 closed

[2017-09-14 09:43] HeMinzhang commented on #126
I'm fixed,https://github.com/HeMinzhang/active-directory-b2c-asp.net-core-web-api-angular4

[2017-09-14 09:50] #126 closed

[2017-09-15 00:45] rohitnarula7176 commented on #73
@austindyoung I think there was a minor change required in the library to fix this issue. I have made that change in my branch https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_73. I reviewed your pull request but I don't think we need those many changes.Can you please check and confirm.

[2017-09-15 00:57] rohitnarula7176 commented on #73
@austindyoung The current code in the branch will send one request per unique combination of scope. For instance, if you send 3 acquireToken requests with the same scope value, only one request will be sent in an iframe but the promise will get resolved 3 times with the same token. The previous code only resolved the promise once and that was a bug.

[2017-09-19 03:31] dfederm opened #129 "loginPopup's promise never resolves when the user closes the popup"
When the user closes the popup I'd expect to get a rejection with some signal stating the user cancelled the login so it can be handled appropriately.

If the user hits the "back" button in the popup, there is a rejection though. So the cancellation is inconsistent based on the user explicitly cancelling in the UI vs closing the popup.

[2017-09-19 10:11] schurlinga opened #130 "Remove static query parameters"
It is not possible to change the query parameter "prompt" to for example "prompt=none".

I think the static query parameters in loginRedirect and loginPopup should be removed or at least the extraQueryParameters parameter should overwrite the "prompt" and "response_mode" parameters if defined.

[2017-09-19 12:20] VSDekar commented on #96
Any news on this?

[2017-09-19 16:42] dfederm commented on #104
Now that #79 is merged, this issue can now be closed.

[2017-09-19 17:53] #104 closed

[2017-09-19 20:03] rohitnarula7176 commented on #62
@hiraldesai An ID token is meant for proving to a client that the user has authenticated and who they are as a result. When a client receives an ID token, it just converts it to a ClaimsIdentity and persist it. The ID token has to be unexpired at this point of use (which it should be, since it has just been issued). But after this it is not used again, so it does not matter if it expires while the

[2017-09-19 21:53] hiraldesai commented on #62
Thank you for your explanation @rohitnarula7176 . I thought that would be the case, just wanted to check it anyway.

[2017-09-19 21:53] #62 closed

[2017-09-21 09:00] legrak opened #132 "There is a problem with login from Azure Account Applications page"
It is not possible to log in using MSAL loginRedirect method if user starts his trip from an Azure Account Applications page.
Please note that Account Applications page is entry point for following

**Scenario:**
1. Register new Guest user in Azure AD (B2B)
2. Assign user to application in Azure
3. User clicks Get Started button in Invitation email
4. User is logged in/registered as new user on Mi

[2017-09-22 19:59] navyasric commented on #132
@legrak Is there any specific error you are seeing in the network trace or console logs when user cannot log in?

[2017-09-22 22:26] navyasric commented on #127
I'm unable to reproduce this. Can you provide a Fiddler trace of the network when you are having this issue?

[2017-09-22 23:02] rohitnarula7176 commented on #129
@dfederm We already had the event for the case when the user hits the back button in the UI where we reject the promise with "access_denied". We recently added the event for the case when the user closes the popup manually and in that case we reject the promise with "user_cancelled". Can you please try the dev branch to see if it resolves your issue. This will be part of our next release.

[2017-09-22 23:14] rohitnarula7176 commented on #130
@schurlinga "prompt=none" is used to silently authenticate the user when he is already logged in via SSO. Allowing prompt=none for loginRedirect and loginPopup would prevent the UI to be shown to the user for entering credentials and would assume that the user is already logged in via SSO. We have this behavior in the library by design.

[2017-09-22 23:16] dfederm commented on #129
I'm consuming the lib through npm; so y'all have a prerelease dist tag?

Either way, good to know that it should be fixes and just needs a release. Feel free to close this issue.

[2017-09-23 00:48] navyasric commented on #121
@davidmorissette Thank you for the feedback.  Currently MSAL does not include claims added in B2C policy because there is no certainty that values will exist for these claims in all id_tokens. Your solution above is a good approach for now.

[2017-09-23 00:49] #129 closed

[2017-09-23 01:26] davidmorissette commented on #121
Thank you for your reply. I was expecting a generic "GetClaim(claimName: string)" method from your framework, nothing specialized. You certainly cannot know the claims contained in the token. Thank you!

[2017-09-23 01:33] davidmorissette commented on #100
This issue should be considered as a bug and not an enhancement in case MSAL officially supports B2C! Asking a user to provide his Microsoft credentials when logging using a local account with B2C is not an expected behavior.

[2017-09-23 08:10] khalibloo commented on #127
I've never used fiddler and I tried to export the data in several formats, none seemed to have enough info. Just "saving" the trace warns that it might contain unencrypted passwords. But I made sure to include only the logout trace, so I think that's fine.

[ms_auth_bug.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/1326378/ms_auth_bug.zip)

here's a screenshot of th

[2017-09-25 02:00] jmprieur commented on #100
+ @parakhj @saraford : can you please provide guidance?

[2017-09-25 10:23] legrak commented on #132
@navyasric , no, there are no errors. MSAL just skipping to parse redirect URI because of window.opener is not null. using following code I have just endless redirects from login page to my app and then again to login page. Clicking login button with correct user/password redirects me correctly to my app, but token is not extracted from reply url..

[code]

[2017-09-25 10:24] legrak commented on #132
by the way, I'm using version 0.1.1 from CDN:
[code]

[2017-09-26 00:34] rohitnarula7176 commented on #132
@legrak Thank you for pointing out this issue. This issue occurs in Edge because of a race condition where the constructor and the popup window both try to process the hash at the same time. I have changed the code logic to fix it. Can you please use my branch and verify if it resolves your issue. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/rohitnarula7176/Issue_132. I

[2017-09-26 11:51] schurlinga commented on #130
Yeah, thx for the response. Actually i was using the library wrong, i didn't check if the user is already logged in by using UserAgentApplication.getUser().

[2017-09-26 11:51] #130 closed

[2017-09-26 22:49] rohitnarula7176 commented on #127
@khalibloo We do not see any logout requests in your fiddler. To do this, just open fiddler, click login, enter your credentials and then clear the traces. This will make sure you do not have any credentials in your trace when you send it to us. Now click logout and then you should see the following get request sent out from msal. GET /rohit1.onmicrosoft.com/oauth2/logout?post_logout_redirect_uri=

[2017-09-26 23:49] khalibloo commented on #127
Hi, I apologize fiddler is all very strange to me. Basically, here's what I'm doing. When I start up fiddler, I press F12 to disable the capturing process. Then I open my app and sign in with my ms account. This all works smoothly. Then I enable the fiddler capturing process with F12. I then sign out of my ms account from my app.
At this point, I believe fiddler should have only the logout data, r

[2017-09-27 15:11] joeweale opened #134 "acquireTokenSilent fails when using clientid as scope"
When using my client id to get a token I get: "Token renewal operation failed due to timeout: null"

clientApplication.acquireTokenSilent(["0000000-0000-0000-0000-000000000"])

works fine on the login methods (popup and redirect) just not on acquireTokenSilent. If i replace the scope with ["User.Read"] it gets the token successfully.

Unfortunately this is causing users to be prompted every hour t

[2017-09-27 16:38] rohitnarula7176 commented on #134
@joeweale The issue is fixed in dev. Could you please use the dev branch and confirm? We will release a new version this week with this fix and a few others.

[2017-09-27 19:15] mathlesp opened #135 "AADSTS700023: The provided value for the input parameter scope 'openid profile' is not valid when requesting an access token. Please specify a valid scope."
We are using MSAL for JS v0.1.1 2017-05-09 to secure our SPA application and its backend APIs. We are authenticating against Azure AD. We are using the implicit flow. The registered the application with the new portal (https://apps.dev.microsoft.com).

Because we only call our backend API and not the Microsoft Graph, we only pass the Client Id as the scopes for loginPopup, acquireTokenSilent and a

[2017-09-27 23:59] rohitnarula7176 commented on #73
@austindyoung Closing this issue. Fixed in dev. Please reopen if you still face issues.

[2017-09-27 23:59] #73 closed

[2017-09-28 01:32] rohitnarula7176 commented on #135
@mathlesp There was a bug in the library related to the renewal of id_token. It is now fixed in dev branch. Can you please use the dev branch and see if it resolves your issue. We will be releasing a new version with this fix this week.

[2017-09-28 01:33] rohitnarula7176 commented on #132
@legrak Issue is now fixed in the dev branch.

[2017-09-28 12:55] joeweale commented on #134
thanks. Fixed.

[2017-09-28 12:55] #134 closed

[2017-09-28 14:40] mathlesp commented on #135
Yes, the issue is indeed fixed in the dev branch. Thanks

[2017-09-28 16:26] #135 closed

[2017-09-28 16:36] rohitnarula7176 commented on #124
@RobARichardson Can you try the dev branch and see if it resolves your issue. I have removed the dependency on window.opener in the constructor.

[2017-09-28 16:37] #132 closed

[2017-09-28 16:39] #124 closed

[2017-09-29 19:53] rohitnarula7176 commented on #31
@jmprieur Fixed in dev

[2017-09-29 19:53] #31 closed

[2017-10-02 13:13] JohnWeisz commented on #114
Thank you for fixing this, we've been getting ready to employ work-arounds to overcome the issue. When is this planned to be shipped to the CDN?

[code]

[2017-10-02 18:17] rohitnarula7176 commented on #117
@ggirard07 @jmprieur The <pre> tage defines preformatted text. <pre> element text is displayed in a fixed-width font which preserves both spaces and line breaks. It is just the way the bluebird promise library wanted its content rendered in the browser.

[2017-10-02 18:17] #117 closed

[2017-10-02 21:44] cesarvarela commented on #96
I'm not sure why this isn't the default behavior.

[2017-10-02 21:46] cesarvarela opened #139 "CDN throws 404"

[2017-10-03 00:28] rolandoldengarm commented on #58
When is the next version coming? I still don't see a PR for this? Why is this issue closed @jmprieur ?

[2017-10-03 01:15] rohitnarula7176 commented on #139
@cesarvarela Fixed.

[2017-10-03 01:15] #139 closed

[2017-10-03 01:15] rohitnarula7176 commented on #54
@SaeedAkhter-MSFT Fixed in the latest release.

[2017-10-03 01:15] #54 closed

[2017-10-03 02:22] jmprieur commented on #58
+ @rohitnarula7176

[2017-10-03 02:28] jmprieur commented on #96
I believe that es5 is needed so that msal.js can be used with IE: See https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Explorer.
Do you have ways to run es6 JavaScript with IE?

[2017-10-03 03:42] rohitnarula7176 commented on #58
@rolandoldengarm @jmprieur We released version 0.1.2 today which has this fix. the default storage is session and if you want to change it to localStorage, please see the code snippet in my comment in the thread above.

[2017-10-04 23:17] davidmorissette opened #141 "Librarie Reference needs to be updated."
Please update your "library reference". Many properties have been removed from the UserAgentApplication class and must now be initialized using the constructor. Thank you!

[2017-10-05 10:34] ArunMudiraj opened #142 "Replacing the version 0.1.2 with 0.1.1 does not work in sample application"
I am trying to use the latest version on msal.js updated from 0.1.1
to    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.1.2/js/msal.min.js"></script>
In sample application.

Now I do not get the popup for signin.. can you please let me know if api has changed.

Sample used
https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi-v2

Thanks,
Arun

[2017-10-05 18:25] pdimitratos commented on #96
To my understanding, most es6 features should be available in IE11 with one or more polyfills (such as Babel).

It's strange to me that the new version of the JavaScript auth library requires jumping through more hoops to be used with modern JavaScript frameworks than the ADAL v1 library does.

[2017-10-05 19:36] maggiepint commented on #96
Modules don't have the same polyfill-ability as other ESNext features. That said, it should be possible with the right npm configuration to publish both the transpiled ESNext code and the built files. This is what we do with momentjs. All that being said, I'm not sure how that interacts with the typescript here - that's not a space I have a lot of expertise in. I think that @DanielRosenwasser, @bt

[2017-10-05 20:01] bterlson commented on #96
TypeScript will compile standard ES6 modules into a format consumable by IE11. There are other tools that can do this as well. I am also willing to help update this if I am needed.

[2017-10-06 22:23] btitular commented on #142
I'm getting the same behavior - no login popup when using the link:
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.1.2/js/msal.min.js"></script>

[2017-10-06 22:41] btitular commented on #142
Figured out the problem. The the loginPopup method is expecting a scopes parameter. Once I provided a valid parameter value, the loginPopup window appeared as expected.

[2017-10-06 23:19] rohitnarula7176 commented on #142
@btitular @ArunMudiraj Thank you pointing out this issue. Please pass an array to loginPopup as loginPopup([clientId]) or loginPopup([scopes]) to resolve this issue. I have fixed this issue in the dev branch. We will add clientId as default scope for loginPopup for the next release.

[2017-10-06 23:19] #142 closed

[2017-10-08 22:50] davidmorissette opened #144 "GetUser must be called prior to AcquireTokentSilent"
Hi,

I am using MSAL 0.1.2 in order to get a token from B2C using _loginRedirect_. That works fine.

On subsequent calls, when I try to get the token from cache using _acquireTokenSilent_ I get this error: user_login_error:User login is required.

I looked into your code and noticed that whether the global _user variable must already be assigned (by calling _getUser_) or a user object should be pa

[2017-10-09 14:25] akorchev commented on #96
There is more than one way to deal with this problem:

1. Set the `module` compiler option to `umd` instead of `amd`. TypeScript will produce a universal module which should work both with Node and browsers.
1. Have another tsconfig which has `module` set to `commonjs`. Ship both amd and commonjs files to NPM. Configure package.json to point to the commonjs version: `"main": "./out/msal.common.js"

[2017-10-09 14:26] maggiepint commented on #96
I have option 2 nearly done on my local machine. PR coming soon.

On Oct 9, 2017 7:25 AM, "Atanas Korchev" <notifications@github.com> wrote:

[2017-10-09 16:04] joanjane commented on #144
Same here since 0.1.2. It took me some time to figure out what was happening because I have referenced msal expecting semantic versioning (^0.1.1).

I'm frozing the version right now to ensure no unexpected breaking changes.

In my case, after user logs in successfully, `acquireTokenSilent` **fails** with the same error and redirects to login page on B2C. If you go back to your authenticated page,

[2017-10-09 17:54] joanjane opened #145 "IE redirects to /null after acquireTokenAsync"
I've been trying to add stable support on IE in a remote environment (azure website) in my app and I've found a bug that redirect to `/null` after authenticating via Azure B2C. I've saw an error _user_login_error:User login is required_ on `acquireTokenAsync ` method.

After reading [this page](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Expl

[2017-10-09 19:05] rohitnarula7176 commented on #144
@davidmorissette The user property(this._user) gets set when we receive an idtoken response as a result to calling loginRedirect. Any call to acquireTokenSilent after you call login should have the logged in user property set already without a need to call getUser(). Can you please provide a code repro for this issue so I can look into this further?

[2017-10-09 22:40] davidmorissette commented on #144
@rohitnarula7176 Yes the user property (this._user) stays set **as long as the application does not perform any subsequent redirects**. In that case, the values (tokens, etc.) are still available from the storage but this._user is null again and calling getUser() is required in order to assign this._user.

I didn't try but I think every places in your code doing this:
const userObject = user ? use

[2017-10-09 22:42] davidmorissette commented on #144
@joanjane You need to call getUser() right before you call acquireTokentSilent() if you want your code to work until the team here finds a better solution. This is how I fixed my code.

[2017-10-09 23:42] rohitnarula7176 commented on #144
@davidmorissette @joanjane Thank you for pointing out this issue. Can you please use the dev branch and see if it resolves your issue.

[2017-10-09 23:43] rohitnarula7176 commented on #145
@joanjane Can you please use the dev branch to see if it resolves your issue.

[2017-10-10 07:32] miguelcaravantes commented on #141
Same request

[2017-10-10 22:34] davidmorissette commented on #144
In my case YES I confirm it resolves the issue. Thank you!

[2017-10-10 22:35] #144 closed

[2017-10-11 14:02] schurlinga opened #148 "Silent LoginPopup if user is Signed In already"
Hi,

Is it possible to use &prompt=none instead of &prompt=select_account within loginPopup method if the user is already signed in? e.g. if the user visits office.com, logs in and then visits my app where loginPopup is called, he should not be forced to select his already signed in account again.

Best regards

[2017-10-11 16:06] joanjane commented on #144
@davidmorissette @rohitnarula7176 Thanks for your response, it solved my issue too.

[2017-10-11 17:06] #145 closed

[2017-10-12 00:10] parakhj commented on #100
Sorry for the long delay - can you help me understand the scenario here?

From my understanding, you are using built-in policies in Azure AD B2C for signing in your users. When you use MSAL to call Azure AD B2C, MSAL automatically adds profile as one of the scopes when making the request.

Can you elaborate on where you run into problems?

[2017-10-12 01:31] davidmorissette commented on #100
@parakhj : Imagine a user trying to login using a local account (let's say Email). That user would expect to enter his email address + password and be redirected back to the application right away. Instead, **because B2C (oauth2) sees that the Profile scope is requested, the login screen redirects the user and asks him to select an identity provider account in order to satisfy the flow.** The bott

[2017-10-12 04:23] parakhj commented on #100
Could you link me to an example where adding the profile in the scope changes the behavior? Here are two different links, [one with profile](https://login.microsoftonline.com/fabrikamb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SUSI&client_id=9595a991-a717-4669-9af0-d58420ad733a&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid+profile&response_type=id_token&prompt=login) and

[2017-10-12 08:08] schurlinga commented on #148
This is already possible by passing in the login_hint parameter to the loginPopup method.

e.g. clientApplication.loginPopup(applicationConfig.b2cScopes, "&login_hint=user@onmicrosoft.com")

[2017-10-12 08:08] #148 closed

[2017-10-13 09:35] joanjane commented on #145
Hi! I've tested dev branch and made a few changes related to #144. Now /null redirection is gone, the most cases, I have redirects back to B2C after log in on IE.

My flow tries to authenticate directly on my app without using any login button like some examples I've seen, but maybe is having some issues maybe because of a [setTimeout](https://github.com/AzureAD/microsoft-authentication-library-fo

[2017-10-14 00:25] rohitnarula7176 commented on #96
@TulyOpt @jmprieur @maggiepint @akorchev @bterlson @pdimitratos @cesarvarela @DibranMulder @VSDekar I have generated both commonjs and es-6 modules for msal in this branch as you can see in the "lib-commonjs" and "lib-es6" folder. In addition to that, we will ship a UMD bundle that will expose "Msal" as the global variable in the browser located in the 'dist" folder. Since it is not shipped to npm

[2017-10-14 01:29] davidmorissette commented on #100
@parakhj : I cannot reproduce the problem, even if I use the links you sent me or even with my own application. Is it possible that something changed in B2C recently? You can close this ticket, thank you.

Before you close the ticket, on a different topic, can I ask you where the best place would be so I can ask questions regarding B2C? I have 2 suggestions/questions I want to ask:

1) Why is ther

[2017-10-14 21:27] parakhj commented on #100
@davidmorissette the best place to get help is on stack overflow using the tag 'azure-ad-b2c'.

Regarding implicit flow in 1. - implicit flows doesn't support refresh tokens. So "remember me" may not be a possibility. But you should look into using the "Sign in policy" (not the "Sign up or sign in" policy). It should help with both the problems.

[2017-10-14 22:42] cicorias commented on #117
The question is what does `pre` do in this context as shon in the example devapps

[code]

[2017-10-15 22:09] davidmorissette commented on #100
@parakhj : Thank you for the information. I didn't know that there were any differences between the "sign up or sign in" policy and the "sign in" policy besides being able to perform a sign up.

Regarding my suggestion concerning the "remember me" button for the local accounts: yes, I understand that there are no refresh tokens with the implicit flow. The idea was not to try to never expire or ref

[2017-10-16 20:29] rohitnarula7176 commented on #96
@TulyOpt @jmprieur @maggiepint @akorchev @bterlson @pdimitratos @cesarvarela @DibranMulder @VSDekar I have also published a beta version on npm which you can install using npm install msal@0.1.2-beta. You would then be able to use import statements in es6 style syntax. We will release an official version after testing.

[2017-10-17 15:09] Gimly opened #150 "acquireTokenPopup doesn't work"
I can't make `acquireTokenPopup` to work. In Firefox it's clearly blocked by the popup blocker, I get the notification and receive the error message: `Could not retrieve token from popup. popup_window_error:Error opening popup window. This can happen if you are using IE or if popups are blocked in the browser.`

In Chrome, the popup does show up, but then I get the same error message. In Edge, the

[2017-10-17 17:22] joanjane opened #151 "Issues when trying to login directly without a login button flow"
Hi! I've tested dev branch and made a few changes related to #144 and my issue is that the app redirects back to B2C after log in on IE.

My flow tries to authenticate directly on my app without using any login button like some examples I've seen, but maybe is having some issues maybe because of a [setTimeout](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c5aef89abff79539

[2017-10-17 18:49] rohitnarula7176 commented on #151
@joanjane The constructor of msal is written in an asynchronous manner. The code inside setTimeout (handleAuthenticationResponse) calls the callback defined by the user and hence the code flow switches control from the library to the app developer. If we do not put this code inside the setTimeout, then you will not have the instance of msal available inside the callback method. In your example, yo

[2017-10-17 19:02] rohitnarula7176 commented on #150
@Gimly You get this error when popups are disabled in the browser. Can you please provide a code repro for this issue?

[2017-10-17 19:23] Gimly commented on #150
@rohitnarula7176 Thanks for your answer.

Here's a code to reproduce

[code]

Then, I have a HttpInterceptor that retrieves the token by calling `getAuthenticationToken` and adding it to the Authorization header.

[2017-10-17 20:47] rohitnarula7176 commented on #150
@Gimly Can you try running the b2c sample we have in the repo and see if that works for you. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/devApps/VanillaJSTestApp-b2c. Another thing I want you to check is: Try adding a breakpoint in the onload and onerror events of XhrClient.prototype.sendRequestAsync in msal.js at line 2453 to see whether "https://login.microsoftonl

[2017-10-18 08:31] Gimly commented on #150
@rohitnarula7176 Here are the results of the tests you suggested.

First, regarding the b2c sample in the repo, it's working correctly. I get the token with the call to `acquireTokenSilent`. I've modified it to use `loginRedirect` as with my code, and use my b2c tenant and it's working correctly.

The only thing that doesn't work with this sample is that when I use my own API running on localhost

[2017-10-18 09:00] joanjane commented on #151
@rohitnarula7176 The library don't execute the callback method when you're authenticated and you refresh the page, so removing line 48 on [my initial sample](https://gist.github.com/joanjane/61cbed87ba19ad01c923078704f66f8f/b683ad1012525970ac7706712bbe7ea83540af31) implies that flow is not triggered in this case. Also, a login button is not what I need, I just simply want a redirection to login if

[2017-10-18 09:00] #151 closed

[2017-10-18 11:51] Gimly commented on #150
OK, did another test, I created a clone of the VanillaTestAppB2C that you have in the repo with Angular. It's available here https://github.com/Gimly/simpleAngularAzureB2C. The code is mostly the same as in my app, but it's working as expected.

There is one thing that doesn't work though, if I refresh the app, the `acquireTokenSilent` tells me that I'm not connected, even though I get the user th

[2017-10-18 15:11] Gimly commented on #150
@rohitnarula7176 I managed to create a sample that reproduce the issue, and I have an idea about what is causing it, but I'm lost in how to fix it. Here's the repository : https://github.com/Gimly/AngularAzureB2CMsal

If you try to run it, you'll see that you're able to login, and if you do from the home page and then go to the weather page, you'll see it working correctly (check the console for t

[2017-10-18 19:44] mathlesp opened #152 "loginPopup and acquireTokenPopup not always working as expected (popup not closing)"
We are having an intermittent issue with loginPopup and acquireTokenPopup. Sometime, the popup will not close after a successful login but will instead load the application inside the popup (unauthenticated). The opener window will have the session storage key "msal.error" with a value of "Invalid_state".

This is not always reproducible. Some scenarios will work 99 times out of 100 while other sc

[2017-10-18 20:07] mathlesp commented on #150
I might be wrong but in your https://github.com/Gimly/simpleAngularAzureB2C sample, if you call this.clientApplication.getUser(); right after the initialization of Msal.UserAgentApplication in the AuthenticationService constructor, you should be able to call your api after a browser refresh.

I think this might be related to commit aba6c618e156c21afda1016880f0a9913928b3d0 in the dev branch(https:/

[2017-10-18 20:28] Gimly commented on #150
@mathlesp That's the weird thing, if you look at the code in the simpleAngularAzureB2C repository, I'm indeed calling the `getUser` directly after init because it's bound in the UI, and I receive the user name correctly after a refresh. But, when I try to get the token, I get an error that says that I'm not connected.

As a resume, after the refresh, `isOnline` returns true, `getUser` returns the

[2017-10-19 14:13] mathlesp commented on #152
This might actually be an issue with version 0.1.2.

I made a new repro using what I think is an official Microsoft sample: https://github.com/Azure-Samples/active-directory-b2c-javascript-angular2.4-spa

This sample uses version 0.1.1 of msal. By simply cloning the repo and updating msal to version 0.1.2, we get the behavior describe above when login in. However, the sample works correctly with v

[2017-10-19 14:36] mathlesp commented on #150
I cloned your repo and added the line "this.clientApplication.getUser();" in the AuthenticationService constructor right after the initialization of the Msal.UserAgentApplication and it did work. Not sure why it does not work when getUser is triggered in the way you describe above.

I also modified the msal.js file v0.1.2 as per commit https://github.com/AzureAD/microsoft-authentication-library-fo

[2017-10-19 15:07] mathlesp opened #153 "Is it me or some commits were losts i.e. (PR 147 for issue 145)?"
I was looking at issue #145 and a saw that a fix was made to "setting user object from cache before acquireToken". This was merged in PR #147 in dev branch. However, the code appear to be lost since commit aea14104312b7e6a569f67b1ee762f22a579c2cc.

Am I looking in the wrong place?

[2017-10-19 22:54] rohitnarula7176 commented on #153
@mathlesp Thank you for pointing out this issue. The changes for setting the user object from cache before every acquireToken call are now added to dev.

[2017-10-19 23:00] rohitnarula7176 commented on #152
@mathlesp I was able to clone the sample and reproduce the issue using 0.1.2. Interestingly, the samples in our repo were working fine for popup scenarios. There was a timing issue in using msal with the angular sample. I have made a fix for it in the dev branch. You can now just replace the msal.js file from the node_modules/msal/out folder in the angular sample with msal.js from the dist folder

[2017-10-19 23:03] rohitnarula7176 commented on #150
@mathlesp @Gimly Can you try to use the msal.js file from the dist folder in the dev branch and let me know if it resolves your issue. I have removed the setTimeout function and made the constructor function synchronous to avoid ambiguity. I have also added the change to set user object from the cache before every acquireToken call.

[2017-10-20 00:28] rohitnarula7176 commented on #150
@Gimly Can you also provide instructions on how to run the sample in your repo.

[2017-10-20 09:36] Gimly commented on #150
@rohitnarula7176 OK, just managed to test with the version in the dev branch. It's a bit better, but still not quite there.

My simple sample (https://github.com/Gimly/simpleAngularAzureB2C) works correctly, and indeed the refresh bug is fixed, which is great!

But, the other sample, with the more complex project still can't get the token. I've improved the code and added a Readme that explains ho

[2017-10-20 16:33] mitch-b commented on #99
Agreed - it would be nice to move to MSAL from ADAL - with ADFS support being the only missing feature for me.

[2017-10-20 16:52] #153 closed

[2017-10-20 16:52] #152 closed

[2017-10-20 18:43] rohitnarula7176 commented on #150
@Gimly you are facing this issue because when you start your app at 'http://localhost:6420', angular routing redirects you to 'http://localhost:6420/home'. When you click login from your home page, since you did not specify a redirectUri in your constructor, msal uses your window.location.href which is 'http://localhost:6420/home' and assigns it to the redirectUri for the authorization request. Th

[2017-10-20 18:55] Gimly commented on #150
Awesome! Thanks that was the issue.

[2017-10-20 19:57] rohitnarula7176 commented on #150
@Gimly Thank you for your feedback. Closing this issue.

[2017-10-20 19:57] #150 closed

[2017-10-20 20:03] Gimly commented on #150
@rohitnarula7176 I'm going to correct the sample I created and leave it on GitHub. Do you think it would be useful for the tool documentation?

[2017-10-20 20:34] rohitnarula7176 commented on #150
@Gimly Yes that would be great. I saw some issues in the sample regarding access of your weather api. If you can fix those, I can have the team review the sample and then we can add it to our documentation.

[2017-10-20 20:37] Gimly commented on #150
Yes, I've seen those issues as well, I'm working on fixing them. I'll update this once it's done.

[2017-10-20 23:42] Gimly commented on #150
@rohitnarula7176 OK, I got the whole project working, with a big help from @spottedmahn. The code pushed to https://github.com/Gimly/NetCoreAngularAzureB2CMsal is now working, client side and server side with the fabrikamb2c tenant.

Let me know (or directly add issues to the repo) if you want things changed or want me to do something to add it to your documentation.

Cheers.

[2017-10-20 23:55] rohitnarula7176 commented on #150
@Gimly Thats great news. I will let you know once we review your sample. We will release a new version of msal 0.1.3 next week which will have all the fixes and you can directly reference it from CDN.

[2017-10-21 00:01] rohitnarula7176 commented on #141
@davidmorissette @MiguelCaldasMS Docs are now updated in the dev branch.

[2017-10-21 00:01] #141 closed

[2017-10-21 00:02] rohitnarula7176 commented on #96
Feature is now added to dev and will be part of our next release early next week. Closing this issue for now. Please reopen if you still face issues.

[2017-10-21 00:02] #96 closed

[2017-10-21 00:03] rohitnarula7176 commented on #100
@davidmorissette Closing this issue for now as it is answered in the thread above. Please reopen if you still face issues.

[2017-10-21 00:03] #100 closed

[2017-10-21 00:05] rohitnarula7176 commented on #55
@harshithkashyap You can now import msal using es-6 and commonjs syntax. It is added in the dev branch. Closing this issue. Please reopen if you still face issues.

[2017-10-21 00:05] #55 closed

[2017-10-21 00:06] rohitnarula7176 commented on #121
@davidmorissette Closing this issue for now as it is answered in the thread above.

[2017-10-21 00:06] #121 closed

[2017-10-24 14:03] jrmcdona opened #158 "is loginPopUp the only way?"
Hello,  I am using the v2 endpoint for Oauth.

Figured I would use the MSAL to make things easier.

I am looking to avoid the popup and just have the flow where you go to the login screen then redirect back to the app.

I am only seeing loginPopup examples.

Thanks

[2017-10-24 14:06] jmprieur commented on #158
@jrmcdona there is also a redirect sample: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginRedirect.html

[2017-10-24 14:06] #158 closed

[2017-10-24 15:16] jrmcdona opened #159 "Access token not writing out to client"
Hello-

Is there something preventing the access token from being returned in localhost development?

I am successfully getting an id_token back.  However,   none of my other console.log are showing anything at all.  I can see the user is signed in successfully.    However, my goal is to get the access token for use in REST calls.

Any idea?

I have used npm to install MSAL.  I am including a refe

[2017-10-24 15:30] jrmcdona commented on #159
I have also tried using the clientId for the scope as seen here:
https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi-v2/blob/master/TodoSPA/App/Scripts/Ctrls/todoListCtrl.js

Same issue however,  no access token seems to be coming back but nothing failing either.

[2017-10-24 15:30] jrmcdona commented on #158
That works thanks

[2017-10-26 12:50] RobertoPrevato opened #163 "Example in README.md points to not-existing file in cdn"
Hello,
The file:
[code]

Referenced in the documentation of README.md does not exist.

[2017-10-26 18:02] spottedmahn opened #164 "Library Reference Broken?"
From the [home page](https://github.com/AzureAD/microsoft-authentication-library-for-js), when I click [Library Reference](https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/docs/classes/_useragentapplication_.msal.useragentapplication.html) I get:

[2017-10-26 23:03] dan-harris commented on #163
I think we have to wait for v1.0.0 to be properly released (https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/162) as the current link in the master branch readme is: https://secure.aadcdn.microsoftonline-p.com/lib/0.1.2/js/msal.min.js

I agree though, would really like to see either v1.0.0 or v0.1.3 released to npm/cdn as soon as possible.

[2017-10-28 01:19] rohitnarula7176 commented on #164
@spottedmahn We just released version 0.1.3 of msal. The cdn links should now be fixed.

[2017-10-28 01:19] #164 closed

[2017-10-28 01:20] rohitnarula7176 commented on #163
@dan-harris @RobertoPrevato Version 0.1.3 is now released on npm and cdn.

[2017-10-28 01:20] #163 closed

[2017-10-28 02:44] davidmorissette commented on #121
Version 0.1.3 has been released and I am now importing the library this way :

`import { UserAgentApplication } from 'msal';`

@rohitnarula7176 : Can you tell me how I can still get my claims using the approach I described at the beginning of this thread since the classes I redefine are not accessible when importing this way?

P.S. A `GetClaimValue(claim: string) : string `function on UserAgentApp

[2017-10-28 06:36] RobertoPrevato commented on #163
Thanks for answering so fast! 👍

[2017-10-29 18:18] jrmcdona opened #167 "Library for"
Hello,

Do you all happen to have a library and example for **The MSA v1 OAuth 2.0** protocol for 1st party site?  Look to implement that flow with redirecting to the login page (not popup).

`The MSA v1 OAuth 2.0 protocol: When clients implement MSA v1 OAuth, they communicate directly with the MSA login system at https://login.live.com. The MSA v1 OAuth protocol supports only MSA users - it does

[2017-10-30 14:23] spottedmahn commented on #164
Hi @rohitnarula7176 - nope, still broken for me.  Please re-open.

[2017-10-30 23:05] davidmorissette opened #169 "Retrieving user claims"
Version 0.1.3 has been released and I am now importing the library this way :

`import { UserAgentApplication } from 'msal';`

@navyasric : How can I get the user claims using the approach I described in issue #121 since the classes I redefine are not accessible anymore when using the import statement?

A `GetClaimValue(claim: string) : string` function on `User` would be very appreciated.

Thank

[2017-10-31 09:24] Gimly commented on #77
I created a fully working example using MSAL in an Angular 4 / .Net Core application, based off the Angular 4 .Net starter template. https://github.com/Gimly/NetCoreAngularAzureB2CMsal

I also have a simpler example with just Angular 4 https://github.com/Gimly/simpleAngularAzureB2C

[2017-10-31 10:35] hkusulja commented on #77
@Gimly great example. However it does not have Microsoft Graph API (which also should be used to pull extended properties from users) and delegation/access rights to another backend app. So properly frontend/angular (implicit flow) and backend can be devided...

[2017-10-31 14:30] Gimly commented on #77
@hkusulja Yes, I know it has still a few things to improve. I could add easily the Graph API since I did it in the app I'm working on, but I'm using a sample Azure AD B2C tenant and therefore can't add the permission to get info from the Graph API.

Delegation/access rights to another backend app, you mean from the .Net Core backend?

[2017-10-31 14:34] hkusulja commented on #77
So you are saying that it is not possible to get one OAuth2 token through implicit flow / angular2 from B2C AAD directory which also has a permission for:
 - Graph API, scope:xxx
 - mycustomServerBackend, scope: xxx

If so, any reference to do that?

This is normally working on "normal" AAD.

[2017-10-31 14:34] hkusulja commented on #77
@Gimly  So you are saying that it is not possible to get one OAuth2 token through implicit flow / angular2 from B2C AAD directory which also has a permission for:

Graph API, scope:xxx
mycustomServerBackend, scope: xxx
If so, any reference to do that?

This is normally working on "normal" AAD.

[2017-10-31 14:45] Gimly commented on #77
@hkusulja No, I'm not saying it's not possible, it's totally possible. It's just that I don't have to rights to the Azure B2C tenant I'm using in the sample and I'm not sure if they have added the rights for the app registration I'm using to use the Graph API. It's just a question of configuration.

[2017-10-31 15:37] TLena commented on #169
I do agree with @davidmorissette. It'll be great to have some methods to get cached token with claims.

[2017-10-31 15:40] hkusulja commented on #77
I am sure, that if you have a Azure subscription for testing, you can create your own test Azure AD B2C , and inside it, create your applications with rights / Graph API...
I do not see way how to achieve access to Graph API and my custom backend...

[2017-11-02 10:06] RobertoPrevato commented on #96
@jmprieur, just a comment about your previous sentence and IE support. It's possible to write es5 code that works fine in every situation: direct file download (using script element), module export and AMD definitions. This used to be a quite common technique for libraries. Something like:

[code]

This would have saved some headaches. I hit this wall when trying to use msal.js in a Vue.js project

[2017-11-02 12:47] tobiasbrenner opened #171 "Newest version doesn't support navigateToLoginRequestUrl anymore"
Unfortunately the newest version doesn't have a flag where you can prevent the lib from redirecting to an url after a successful token refresh. Therefor an angular SPA will load two times. Please reintroduce this flag as a part of the options object in the UserAgentApplication constructor.

Best regards,
Tobias Brenner

[2017-11-02 15:10] htuomola commented on #169
I also think that access to claims or some other way of accessing at least user ID and tenant ID would be essential. Now the User object doesn't contain any identifiers shared with Graph API / MS Graph user profiles (UserPrincipalName doesn't quite work because it's not immutable - or is it even globally unique).

[2017-11-02 20:31] spottedmahn commented on #102
Hi @rohitnarula7176 thanks for the response!

I must be misunderstanding something then.  I thought `acquireTokenSilent` would make an AJAX call if the user is signed in, no?  If Msal.js has a valid `id_token` why would it need to redirect the user back to B2C?

Won't this redirect design be a problem for SPA apps?  I could loose user data, no?  If the user is signed-in, they are filling out somet

[2017-11-02 22:48] spottedmahn opened #172 "RedirectUri and CacheStorage"
If I specify a `redirectUri` via the constructor, shouldn't it be setting that value in the `cacheStorage` too?

[code]

One example of a conflict:

[code]

[Source code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/54439c2b75eabb4885207d7f9fa2c63c3ca7ae6c/src/UserAgentApplication.ts#L1347)

[2017-11-02 23:04] MarkHawcroft commented on #172
The redirect Uri you configure is the one B2C will redirect to.

The following
` window.location.href = self._cacheStorage.getItem(Constants.loginRequest);`
seems to always want to take you back to the page you were on when the loginredirect was initiated.

[2017-11-03 19:47] spottedmahn commented on #169
PR #173 created!

[2017-11-04 05:38] dfederm opened #174 "loginPopup doesn't properly close itself"
Using version 0.1.3

**Code:**
[code]

**Expected behavior:**
A login popup pops up and after the user logs in the pop up closes itself and the `loginPopup` promise resolves (or rejects).

**Actual behavior:**
A login popup pops up and after the user logs in the pop up redirects back to my site in the pop up.

![image](https://user-images.githubusercontent.com/6445614/32402697-30facb86-c0e7-11e7-8

[2017-11-04 05:56] dfederm commented on #174
I think I found a workaround. If I create a `UserAgentApplication` on that redirected page, it closes the popup and works as I expect it to.

It seems like a weird requirement to require the redirect. This is an SPA and I only need the id token (to auth with my application). Both the Google and Facebook JS libraries can handle this scenario without requiring a redirect in the pop up.

[2017-11-06 13:10] pwombwa opened #175 "LogIn Popup doesn't close itself in an Iframe"
Am building an outlook addin which uses an Iframe to display it's contents.

When authenticating to Microsoft Graph using MSAL, the user is able to enter their credentials but the login page doesn't close after but instead redirects the user the user to the redirect URL.

![image](https://user-images.githubusercontent.com/7061532/32442232-98965d8e-c2f2-11e7-9001-c75f7ccfd690.png)

**Code :**
`let

[2017-11-06 18:57] rohitnarula7176 commented on #174
@dfederm This is by design. All the tokens we receive are in the form of a redirect response on the redirectURI page and you need an instance of userAgentApplication on that page for MSAL to process that response and close the popup. Closing this issue as this is by design.

[2017-11-06 18:57] #174 closed

[2017-11-06 19:20] spottedmahn commented on #172
Hey @MarkHawcroft - any chance you can put that comment on #102?

[2017-11-06 20:21] MtarantoOa opened #176 "Uncaught ReferenceError: Msal is not defined & bootbox"
Hello,
Im trying to configure the msal service and library into my angular application. I run the npm install command for the msal library

`npm install --save msal` and Install bootbox `npm i bootbox --save-dev`

Now I define on my msal.service.ts like this:
[code]

My problem is that the Msal and bootbox get undefinded.
Im missing an import?
I take this as an example: [https://github.com/Azure-S

[2017-11-06 20:29] rohitnarula7176 commented on #176
@MtarantoOa Please use this sample for your reference. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/ModuleSample/src/components/index.tsx . Please use npm install msal --save-dev and then you can import msal as follows:
[code]
Please let me know if you still face issues.

[2017-11-06 20:29] #176 closed

[2017-11-06 21:17] rohitnarula7176 commented on #102
@spottedmahn The redirect for the access_token happens in a hidden iframe which is different than the main page. The app gets reloaded in the iframe scope on redirect but the state of the parent page should be preserved. The state of the main page differs from the iframe and should stay unaffected. I hope this answers your question.

[2017-11-06 21:21] spottedmahn commented on #102
Hi @rohitnarula7176 - that makes sense; I should only see one-page load event fired on the main page.  I'll double check my sample app and make I'm not setting the 2nd-page load event from the `IFRAME`.

[2017-11-06 21:22] spottedmahn commented on #102
@rohitnarula7176 any chance you can re-open this for now?  thanks!

[2017-11-07 00:44] dfederm commented on #174
@rohitnarula7176 that's extremely inconventient. An SPA has to stand up a new endpoint simply to include the msal lib again so it can close itself?

The Google and Facebook JS libraries can do it, why can't msal?

[2017-11-07 09:48] arunkumar1811 commented on #103
I'm also facing the similar issue. I don't see the token being stored in localstorage with the latest version (0.1.3). Please let me know whether this issue is included in the latest build

[2017-11-07 14:54] MtarantoOa commented on #176
@rohitnarula7176  Thanks for your help! worked as a charm!

[2017-11-07 17:21] sushi4u opened #177 "Iframe issue when logging-in using twitter account or choosing from multiple google accounts"
I tried the VanillaJSTestApp-b2c. When I am login using twitter, there is an error:

Also, when I have multiple google accounts logged-in and choose one of them for the app, it throws the following error:

In both the cases, id token is generated. While acquiring access_token (acquireTokenSilent()), these errors are thrown and the login popup is shown again. When I enter the same credentials this

[2017-11-07 21:24] jmprieur opened #178 "Add GDPR Compliant PII/OII Filtering to Telemetry"
**Why**
Personally Identifiable Information and Organizational ntifiable Information should not be sent without user consent, which is the responsibility of the application, not the library. We need to provide mechanism for the application to decide to sent or not PII/OII

**Acceptance criteria**
- In telemetry both PII and OII should be always hashed regardless of the PII switch value.
- If piiEn

[2017-11-07 21:30] #178 closed

[2017-11-08 01:28] simya846 opened #179 "Support for Vue.JS"
Hi, is there any example that shows how to use this library within a Vue app to authenticate a user using Azure B2C? Thanks!

[2017-11-08 13:30] MtarantoOa opened #180 "authority parameter"
Hi,
Sorry to bother you again. Im continue working with the JS library. And I was able to configure the code. Now the problem that I have is with the authority parameter (I think is that.)
What is happening is that I have some replay URL configured in azure. And when the loginPopup get called on that window I get redirected to one of those URL'S:

![pasted_image_at_2017_11_07_02_50_pm](https://use

[2017-11-08 21:27] RobARichardson opened #181 "Enhancement: Provide ability to focus the open login popup window"
**Background**:
When anonymous users access our application, they're presented with a landing page and a "Sign-In" button. When the user clicks said button, the app calls `UserAgentApplication.loginPopup` to begin the sign-in process.

**Issue**:
On a few occasions, we've had complaints from users who have clicked this button, opened the popup window, but before signing in, they've shifted their a

[2017-11-09 14:16] SebastianLindner opened #182 "Token Cache Scope URL Encoding Problem"
I'm using Azure B2C for authentication. The scope I'm using looks like this:

scopes = ['https://mydirectory.onmicrosoft.com/myapp/read']
clientApplication = new UserAgentApplication(....)

To log in I'm using clientApplication.loginRedirect(scopes).

Now if I'm subsequently calling

this.clientApplication.acquireTokenSilent(scopes);

and the token did not time out, yet, the token from the token c

[2017-11-09 21:46] pschaeflein opened #183 "Discrepancy between example in README and TypeScript definitions"
In the example code in the README.md file passes `null` for the `authority` parameter. In the TypeScript definition (lib-commonjs/UserAgentApplication.d.ts), the parameter is declared as a string.

For projects in which strictNullChecks is set to true, this causes a build error.

[2017-11-10 15:10] spottedmahn commented on #94
Hey @SaeedAkhter-MSFT - any updates?  Were you able to change the service side?

[2017-11-13 06:40] rolandoldengarm commented on #61
Hi @rohitnarula7176 thanks for the reply, sorry for replying to a closed ticket.
But I just want to be sure: The access token expires after one hour or so.
So the behavior I'm seeing is that after 1 hour, a user has to log in again as `acquireTokenSilent` will fail.

Is this expected behavior? Is it possible somehow to cache this? As I don't like the idea that people have to log in every time they

[2017-11-13 12:33] Magrangs opened #187 "Cached scopes returning client Id in 0.1.3"
In UserAgentApplication.js line 544 the cached scopes are returning the client id and not the scopes. This means it can never find a match

var cachedScopes = cacheItem.key.scopes.split(" ");

I am using version 0.1.3

It seems to be caused by this line in UserAgentApplication.js

scope = this.clientId; (line 1147)

It means that this check if (Utils_1.Utils.containsScope(cachedScopes, scopes) fai

[2017-11-13 19:35] rohitnarula7176 commented on #187
@Magrangs Can you please share logs and and your code snippet. What I need is the code that shows the scopes you are passing for login() followed by the scopes you are passing for clientId.

[2017-11-13 21:55] rohitnarula7176 commented on #183
@pschaeflein Fixed in dev.

[2017-11-13 21:55] #183 closed

[2017-11-13 21:57] rohitnarula7176 commented on #182
@SebastianLindner The library decoded the token and saves it in the cache so you should not face this problem. Can you use the dev branch and confirm if it resolves your issue?

[2017-11-13 22:12] lovemaths commented on #180
@MtarantoOa The redirectURI you registered in Azure is 'https://localhost:60372', but in your app you are using 'http://localhost:60372/dist/'. Register 'http://localhost:60372/dist/' in Azure should solve the problem.

[2017-11-14 09:08] Magrangs commented on #187
Please see the code as follows:

[code]

As you can see the scopes passed into login are the same as those passed into acquireToken...

The issues seems to occur in saveAccessToken in UserAgentApplication where it sets the scope to be the client id and then constructs a new AccessTokenKey.

If you require any more information please let me know.

[2017-11-14 11:08] jzet opened #189 "handleAuthenticationResponse fails when page was opened from different domain"
when using the library for authentication in a page, handleAuthenticationReponse fails when the page was opened from another domain.
This is the case because at line 1293,

`    if (window.opener && window.opener.msal) {`

will cause an exception:
_Uncaught DOMException: Blocked a frame with origin "https://MYDOMAIN.com" from accessing a cross-origin frame._
and therefore stop execution.
This can

[2017-11-14 12:49] Magrangs commented on #187
I think we have resolved this issue by doing this:

`this._clientApplication.acquireTokenSilent([environment.clientId])`

I.e. passing in the client as the only scope in the acquireTokenSilent (seems a bit strange however) and then removing the api/read scope from my scopes array in the environment class:

[code]

[2017-11-15 22:30] wictorwilen opened #190 "Issue with loginPopup and when redirectUrl is not exactly the same as the registered redirect Url"
I'm having an MSAL based JavaScript application that can be hosted on any sub-page of the domain, and I use the `loginPopup` method to retrieve the tokens. This works fine if the exact url of the page is used as redirectUri and the same page (for instance `https://foo.contoso.com/pages/bar.aspx`) is registered in the app registration portal. However I'd like to have my `redirectUri` be the set to

[2017-11-16 08:46] jmprieur commented on #190
@wictorwilen : you need to have the msal object instanciated in the page pointed to by the redirectUri, so that this object closes the popup.

[2017-11-17 01:12] rohitnarula7176 commented on #189
@jzet We cannot switch the order of the if conditions as window.parent is always true and we need to differentiate the case when this function is called from inside the popUp window. Can you provide a code repro of this issue.

[2017-11-17 01:20] rohitnarula7176 commented on #187
@Magrangs By design you only 2 kinds of scopes can be passed to the acquireTokenSilent. Either just the clientID in which case it tries to get an access_token for self or a list of scopes not containing clientID to get access_token for each of them. We also have a B2C sample in the repo which you can use for guidance. Closing this issue for now as it is resolved for you.

[2017-11-17 01:20] #187 closed

[2017-11-17 01:20] #182 closed

[2017-11-17 01:23] rohitnarula7176 commented on #180
@MtarantoOa Closing this issue. Please follow the solution mentioned above and reopen if it is still not resolved for you.

[2017-11-17 01:23] #180 closed

[2017-11-17 01:23] rohitnarula7176 commented on #179
@simya846 We currently do not have a sample for a Vue App.

[2017-11-17 01:50] rohitnarula7176 commented on #181
@RobARichardson I don't think there is a way to achieve this without adding dom focus or click events which we cannot add to the library. If we call .focus() in the timer while the window is open, it still hides the popup window if you navigated away from it. The only way to do it programatically is going back to the main window and call UserAgentApplication._openedWindows[index].focus().

[2017-11-17 07:30] jzet commented on #189
it makes sense that window.parent is always true, in that case it might be necessary to check if window.opener has the same origin as the current window / catch the cross origin exception.
To reproduce the issue, simple embed the library in a page on domain A and try to retrieve a token not in a popup but via redirect.
Access this page not directly but from another domain B via a link that either

[2017-11-17 17:57] VSDekar opened #191 "Relogin without login"
Is there a possibility that i do not have to log in after every hour? At this time the refresh token is 1 hour valid and then i have to relogin.

I would like to have the same user experience i have myself when i use for example the Azure Cloud. I can revisit the Azure Portal after several days and i am still logged in and can manage my things without relogin.

Is there a setting i have not seen a

[2017-11-20 08:22] DibranMulder commented on #61
@wingleungchoi @igaidai4uk Do you guys have sample code for refreshing the access tokens?
@rohitnarula7176 Are you planning to support refresh tokens anytime? Looks like a critical feature, in want kind of application do you want a user to login again after 1 hour?

[2017-11-21 13:28] TLena opened #192 "App rendered inside iFrame when renewing token"
Hello,

I use msal to authorize users via Azure AD in my Angular SPA application. After login redirection I call acquireTokenSilent to refresh token.  The problem is when token is refreshed inside iFrame I see the copy of real application (screenshot: https://www.dropbox.com/s/s2xenqruos8pl1g/app%20inside%20iframe.png?dl=0). Is it expected behavior?

[2017-11-22 18:51] RobARichardson commented on #181
@rohitnarula7176  I might be misunderstanding your response, but it sounds like you interpreted my original request as a suggestion that the library automatically detect when the user leaves the focus of the popup window and bring it back into focus. If so, I would agree; not something the library should do.

Instead, what I'm proposing is when repeated calls are made to UserAgentApplication.login

[2017-11-23 03:27] EmandM commented on #152
I am still having this issue on version 0.1.3.

[2017-11-27 23:15] spottedmahn opened #193 "Log Errors to the Console Too"
Why does [the code in](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dec1064eb1d38be29dff2f205e4e6413b0625ae6/src/UserAgentApplication.ts#L1343) `handleAuthenticationResponse()` only log errors to the `logger`?  Shouldn't it log to the console too?

[code]

I had a bug in my handler code and I got no indication that there was a problem.

If it shouldn't log to the console

[2017-11-27 23:36] spottedmahn opened #194 "Support for Multiple B2C Policies"
It doesn't seem like msal.js takes into consideration the [concept of B2C policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-protocols#policies), is that correct?

  I say that because when I review [this SPA sample app](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/4db60474ff29be3effc1d50c94bcf0fe9eac1939

[2017-11-29 09:33] tomidix commented on #159
@rohitnarula7176
It is an "issue" with the acquireTokenRedirect function.
Please make a fix that it returns the accessToken just like the acquireTokenPopup popup does.

The problem is that the acquireTokenRedirect returns void so naturally we can't get the token out of it, it just writes the token to the cacheStorage. We have to read the token from the session/local storage at the moment directly

[2017-11-29 09:45] jmprieur commented on #159
@tomidix
acquireTokenRedirect redirects the browser to Azure AD for the authentication, and then Azure AD calls
back you application (if the reply URL is among the "Reply URLs" registered into the AzureAD application).
Therefore the page is no longer in the browser when acquireTokenRedirect complets, and this method cannot return any value.
The way to get the token back is to let MSAL do it: the a

[2017-11-29 11:25] jrmcdona opened #195 "Azure AD 2.0 and MSAL for First Party"
At what date do you expect this to be available for first party?

Thanks

[2017-11-29 11:58] tomidix commented on #159
@jmprieur Thanks for answer. Ok for return, you're right.
I have a problem with authCallback function in angular4.
There is an additional action in your example `                userAgentApplication.acquireTokenSilent(applicationConfig.graphScopes).then(function (accessToken) {
`
Problem is in Angular because I use authentication service and my authCallback funcion has to save token and has to cal

[2017-11-29 12:13] jmprieur commented on #159
Great @tomidix  if you found the answer. can we close the issue?

[2017-11-29 13:16] nileshanchan2015 commented on #152
I am also facing this issue randomly. Mostly it comes for the first time. It redirects to the [redirect url]/null.

[2017-11-30 20:53] mikelunn opened #196 "RedirectUri Format Causes Issue With Client Side Routing"
I'm getting unexpected results when the client is redirected back to the application after sign in. The initial redirect url is in the following hash  format:
http://localhost:4200/login#state=4f396e52-01c4-4ede-bafc-2964d1391182&client_info=mytoken&id_token=mytoken

In this case my client side login route is never activated, instead the framework or web server redirects browser back to http://loc

[2017-11-30 23:17] mikelunn commented on #196
My issue is was trying to handle the post sign in logic outside of the token callback. So I moved my return url logic inside the token callback method

[2017-11-30 23:17] #196 closed

[2017-12-01 15:45] chigivigi commented on #159
in the example here: https://github.com/Gimly/NetCoreAngularAzureB2CMsal/blob/master/ClientApp/app/services/authentication.service.ts
I am having a similiar problem where userAgentApplication.acquireTokenSilent does not return a token and i can't use the userAgentApplication.acquireTokenPopup so I am forced to use userAgentApplication.acquireTokenRedirect and getting the token from my session stor

[2017-12-01 20:59] pieterdv opened #197 "Difference between company account and MSA account"
Hi,

I'm creating an test application with MSAL to see how we can implement it in our products. I stumbeled upon something I can't explain, so I hope someone can explain it to me.

I can configured the application like this

![image](https://user-images.githubusercontent.com/1443286/33502564-e58f07f6-d6e0-11e7-8f1c-89c46eb74288.png)

I use msal.js to get an authorization token

![image](https://us

[2017-12-03 08:51] nareshenoy commented on #191
Hi,
I'm also facing this issue. What can we do to avoid the user having to login every hour?

[2017-12-06 07:29] DibranMulder commented on #191
As mentioned in issue #61 this library uses the preferred implicit flow. Which is according to[ Azure AD documentation ](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-implicit)the preferred way for SPA's.

[2017-12-08 17:16] FranckyC commented on #190
Hi @jmprieur. I have also the same exact scenario working with SharePoint and I'm not sure to understand what I am supposed to to in this case using MSAL.

For now, when I use the `loginPopup `method, I am able to sign-in but the popup does not close and actually redirects inside the popup itself (similar to this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/174

[2017-12-08 19:24] prabhakarreddy1234 opened #199 "Should login screen be always popup ?"
Is it possible to redirect to a webapp with login screen than a popup ?  I am trying to use my own login pages using B2C UI customization. I don't want to show popup with login controls. Is this possible with MSAL js ?

[2017-12-08 20:12] jmprieur commented on #199
It is possible @prabhakarreddy1234 : Instead of using loginPopup, you want to use loginRedirect: See https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/devApps/VanillaJSTestApp/index_LoginRedirect.html

[2017-12-08 20:12] #199 closed

[2017-12-10 22:38] peterblazejewicz commented on #127
Hi,
I'm getting the same problem - the auth server does not redirect back to app, here is the output from the console session when the problem occurs:

[code]

The console spills errors.
thanks!

[2017-12-11 20:54] RonaldV commented on #189
I've got the same problem.

What about the next piece of code until you find a more elegant solution (I've already tested it.):

`
        function hasWindowOpenerMsal() {
            try {
                return window.opener && window.opener.msal;
            } catch (err) {
                // err = SecurityError: Blocked a frame with origin "[url]" from accessing a cross-origin frame.

[2017-12-12 16:59] glatzert commented on #99
I second this idea.
Unfortunately, ADFS 2016 cannot support JavaScript at this time, because they lack CORS-Features - therefore you cannot read config data or key-material from client-based js.
It would be nice, if the MSAL Team would engage the ADFS-Team with that Problem.

[2017-12-12 20:42] ggirard07 commented on #189
I think I am hitting the same issue, but it is really strange as I currently have the issue in an instance of chrome, but not in Firefox neither on another instance of chrome launched with another user profile...

[2017-12-13 12:52] chigivigi opened #201 "Use access token in rest api calls"
I am working on a single page application.

Currently my application calls a custom function on page initialization that will run login and acquire access token function from the msal library. I can't use the acquireTokenPopup function because it is something that was agreed on , the acquireTokenSilent never returns successfully so I am forced to use acquireTokenRedirect. The problem is that the c

[2017-12-14 16:11] hwangzhiming opened #202 "Does this lib support federation-based SSO from Office365 Access Panel(My Apps)"
We created a SPA with this msal.js that supports oauth2, now we want to ask is it possible  to support federation-based SSO just by a single SPA?

[2017-12-19 03:47] juliepwchen commented on #81
Hi, can someone help with this question?  I want to call a Microsoft Graph API on behalf of an user. I am following the example on github at "active-directory-javascript-graphapi-v2-core".  Using app.js, my app was able to get to the login screen.  But after the credentials were entered, it returned an URL with an "id_token" and an error message on my debugger "SecurityError: Permission denied to

[2017-12-19 07:05] VSDekar commented on #191
@rohitnarula7176 @jmprieur It would be nice if one of you could answer the question. What do we have to do, that the user do not have to log in on every visit of the page? Is this not supported?

[2017-12-19 13:53] ed-ilyin opened #203 "Passing claims to B2C policy"
Can't find any documentation about passing claims to the B2C policy.

[2017-12-21 00:41] juliepwchen opened #204 "CORS issue?"
Hi, my SPA app tried to call a Microsoft Graph API on behalf of an user.  I have configured my app to use "Implicit Flow" as suggested by the document.

By calling "loginRedirect" (SPA javascript client), my app was able to get to the login screen; but after the credentials were entered, it returned an URL with an "id_token" and an error message on my debugger "SecurityError: Permission denied to

[2017-12-21 21:45] rohitnarula7176 commented on #204
@juliepwchen Can you provide a code repro for this issue. Msal should be able to get an access_token for your app without any issues. Can you try using the samples under the devApps folder in the repo and see if it helps you in any way.

[2017-12-21 21:47] rohitnarula7176 commented on #203
@ed-ilyin We have a sample app under the devApps folder in the repo for B2C scenario. Can you try using that to see if it helps you in any way.

[2017-12-21 22:59] rohitnarula7176 commented on #193
@spottedmahn Thank you for your feedback. We want to limit the number of required parameters in the constructor for better code readability and hence logger is not a required field. Logging errors on the console can lead to a lot of unnecessarily traffic for cases where people are writing automated login code and their callback function has an error. Hence as a library we do not log anything on th

[2017-12-21 22:59] #193 closed

[2017-12-21 23:40] rohitnarula7176 commented on #201
@chigivigi Since we receive every response as a redirect (302) which causes an entire reload of the app, the library is written in a certain manner. You can use the below code snippet to achieve what you have mentioned above.
[code]
The reason to check for userAgentApplication object in every if call is because the constructor function is currently asynchronous. the condition window.parent !== win

[2017-12-22 00:23] #201 closed

[2017-12-22 00:27] juliepwchen commented on #204
I used the repo at https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2. I practically used the same code as it is in app.js.  I deployed my app on a developer's cloud at https://licenseshare-route-licenseshare.7e14.starter-us-west-2.openshiftapps.com/html/base.html.  If you click on the "Start Clock" button, you will see the error on the debugger.  You will also see the return

[2017-12-22 00:36] navyasric commented on #195
@jrmcdona We are working on plans to make MSAL available for first party Microsoft apps next year. We don't have a definite timeline yet but will keep you posted. Please let me know if you would like to be an early adopter to help us test. Thanks.

[2017-12-22 00:36] #195 closed

[2017-12-22 15:59] spottedmahn commented on #193
Hi @rohitnarula7176 - I see, that makes sense.

I think it would be good to put a [NOTE] on the readme page that:

What do you think?

---

And, in the future, can you leave some time before closing the issue?  I understand proper hygiene and keeping the issues list current but what if the reporter has feedback 😄

[2017-12-23 00:02] rohitnarula7176 commented on #204
@juliepwchen Can you please deploy your app with non-minified msal code so I can debug it without any issues.

[2017-12-23 01:10] rohitnarula7176 commented on #204
@juliepwchen The issue is related to the presence of #! which was introduced in angular 1.6>. Please use the below lines of code after app.config in your code to remove the #!.
[code]

[2017-12-23 01:48] juliepwchen commented on #204
Hi, I just added your suggestion and commented out the un-needed ADAL libraries; BUT the problem is the same.  I have included the un-minified version of the MSAL libraries, for easy debugging.  I would appreciate further help.

[2017-12-23 05:34] juliepwchen commented on #204
Hi, when I used your suggested changes with AngularJS 1.6, CORS issue stills exists, and the AngularJS route was not working any longer.  I decided to revert back to AngularJS 1.5.8, and the CORS issue is gone.  Plus, the Micrograph API is now working.  Thanks for point out the new AngularJS 1.6 issue.

[2017-12-23 05:51] #204 closed

[2017-12-23 23:38] juliepwchen opened #205 "Access Microsoft Graph API without a user signing in..."
According to this document at https://developer.microsoft.com/en-us/graph/docs/concepts/auth_v2_service, I can create an app running in the background calling Microsoft Graph API without a user signing in.  Can someone advise on how to do so with any of the MSAL library APIs?

Following the instructions on doc does not work.  My app made an attempt acquiring an "access token" using /{tenant}/oauth

[2017-12-30 17:51] FranckyC commented on #190
Nevermind, I found the solution by using an SPFx extension present on every page so the login popup is now able to close. In the redirect URL (SPFx/AAD), I've just specified the root site collection URL.

[2018-01-02 11:53] hkusulja commented on #201
Is this possible to resolve without popup? with 302 redirect with token back to SPA angular application?

[2018-01-02 11:56] chigivigi commented on #201
I can't use popup in my app so the acquireTokenPopup is not a solution for me, can the acquireTokenSilent be used differnty that it can return the token in success response ?

[2018-01-02 14:00] spottedmahn opened #206 "Obtain Access Token on Login"
Please allow for obtaining an access token on login.  Currently, one can only obtain the `id_token` during login.

`response_type=id_token token`

[2018-01-03 05:12] davidmorissette commented on #169
Could anyone provide an update regarding this issue? We need to be able to retrieve claims from the token! Thank you.

[2018-01-03 15:31] mikelunn opened #207 "Token Renewal Timeout Failure In IE 11 For Social Provider"
Using msal 1.3 i'm receiving a timeout error after authenticating to the google provider and then calling acquireTokenSilent. This doesn't occur in other browsers. Also, acquireTokenSilent works when authenticating to the local azure b2c provider. I have loaded bluebird.js as documented in the docs. The complete error thrown is "Token renewal operation failed due to timeout: null"

[2018-01-03 22:11] CendaL commented on #179
Here is one: https://github.com/sunilbandla/vue-msal-sample

[2018-01-04 16:56] spottedmahn opened #208 "Allow Controlling the prompt parameter"
Please allow the **prompt parameter** to be controlled by the caller.  As of now, it is hard-coded to `select_account`.  This forces the user to sign-in everytime.

If the session cookie is still valid, the user shouldn't have to login again.

[code]

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/43b035152d43787903bccb5f5b06ec061e39192c/src/UserAgentApplication.ts#L352

[2018-01-04 19:16] rohitnarula7176 commented on #192
@TLena This is expected behavior if you have set the redirectUri to your app's root page. In msal, we receive the token via a 302 (redirect response) which means you are first redirected to the login.microsoftonline.com page and after entering your credentials, you get redirected back to your redirectUri with the token served in the url fragment. Closing this issue as this is by design. Please reo

[2018-01-04 19:16] #192 closed

[2018-01-04 19:39] rohitnarula7176 commented on #208
@spottedmahn We have hard coded the prompt value as this value is recommended. For instance, if you are using popup and you don't set the prompt=select_account, you will see a flash where the popup will open and close immediately if you have a valid session cookie after you click login and it is not an ideal experience for the end user. The other reason for hard coding this value and having a gene

[2018-01-04 19:41] rohitnarula7176 commented on #207
@mikelunn Can you please elaborate on the exact repro steps for the above scenarion or provide us with a code repro. Can you confirm if your facing this issue with previous versions of msal?

[2018-01-04 19:44] ggirard07 commented on #192
@rohitnarula7176 sorry for the possible dumb question but as an inexperienced web developer I still don't get why the iframe needs to instantiate a copy of the page? This cause all event handlers and associated callbacks hook to window events to be actually invoked for each instance...

[2018-01-04 19:52] spottedmahn commented on #208
Hi @rohitnarula7176 - thanks for the quick reply!

I don't understand how we're supposed to take advantage of the [B2C cookie then](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-token-session-sso#session-behavior).  If the user sign-ins, closes the browser, opens our app again they shouldn't have to sign-in again.  That is supposed to be a feature of B2C I believ

[2018-01-04 20:35] rohitnarula7176 commented on #206
@spottedmahn This particular case has been discussed within our team. The sole purpose of login is to recieve an id_token which is meant for proving to a Client that the user has authenticated, and who they are as a result. The response type 'id_token token' would receive both an id_token and an access_token which would work for the case when you have a single resource but it limits the case when

[2018-01-04 21:08] spottedmahn commented on #206
Hi Rohit - as it stands now, we're facing timeout issues obtaining access tokens (because the iframe is loading our Angular app and we have a lot of stuff on startup).  By obtaining an access token on login, we would be able to work-around our time-out issues.

Even w/o the time-out issue, it would just be more efficient.  Why make 2 calls when you can make one? 😄

Also, we only have one resource

[2018-01-04 21:12] spottedmahn opened #209 "Token renewal operation failed due to timeout: null"
We're facing timeout errors obtaining access tokens:

1. Why does the error have `null` in it?
1. Why isn't the **timeout** value **configurable**?
1. Shouldn't there be some guidance/warning for this library that `iframe`'s are used to obtain access tokens so be careful as your entire SPA app will load again (wasting a bunch of resources like RAM) so keep your startup code very light

[2018-01-05 00:20] rohitnarula7176 commented on #209
@spottedmahn I have added the ability to make loadFrameTimeout configurable through the constructor. You can set it to 10 seconds for instance, the value should be passed in msec as follows:
[code]
For the question regarding the null value, in the current code we pass "error_description : error" as the promise value in the case of errors such as "interaction_required" or login_required" which we r

[2018-01-05 09:59] WardGubbi commented on #209
I'm encountering te same issue and it is indeed resolved with this version. When can we expect this to be pushed to master and released.

[2018-01-05 16:15] spottedmahn commented on #209
Thanks for the quick turnaround @rohitnarula7176!

Thanks for making the timeout configurable and improving the error message for this case.

What about point nbr. 3?

[2018-01-05 19:43] rohitnarula7176 commented on #209
@WardGubbi @spottedmahn You can expect to have a new version in a couple of weeks. We need to add some other features as well. @spottedmahn I will add guidance around this issue for our next release.

[2018-01-08 01:35] spottedmahn opened #211 "Provide Public Access to msal.error and desc"
Please provide access to `msal.error` and `msal.error.description` from `_cacheStorage`.

Reason being, our Angular app checks if the user is not logged in and sends them to the login page via a `loginRedirect()` if not.  The problem is when returning from an `AADB2C90118`, password reset request, I need to reach into `_cacheStorage` to determine if this is the case.

[code]
Related to [Password R

[2018-01-09 00:22] davidmorissette commented on #169
PR #212 regarding getClaim method on user object.

[2018-01-09 20:07] #209 closed

[2018-01-10 02:09] rohitnarula7176 commented on #169
@davidmorissette @spottedmahn Thanks a lot for your feedback and contribution. We had discussions within our team and unfortunately we cannot add a separate public api getClaim() on user object as then we will have to enable that same api on all other MSAL libraries. Our goal is to expose the same public api interface across all platforms. Instead we decided to expose the idToken object as a publi

[2018-01-10 16:31] spottedmahn commented on #169
Hi @rohitnarula7176 - thanks for the update.  I understand your desire to have the same public api across all MSAL libraries but I don't understand why other libraries wouldn't want this?  What am I missing?

I'll give it a try.  Thanks for the PR!  When can we expect a new version cut and put on NPM?

[2018-01-10 18:56] danieldobalian commented on #208
Hi @spottedmahn, I think there may be a little bit of confusion of your question.  From what I can tell (please correct me if I'm misunderstanding), your intention is to get an Access token without any interaction.  To do this, you can use the [`acquireTokenSilent`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/src/UserAgentApplication.ts#L1045) function before any in

[2018-01-10 20:09] spottedmahn commented on #208
Hi @danieldobalian - nope, that's not what I'm asking 😄

When you go to b2c and sign-in, it creates a cookie.  That cookie defaults to being valid for [24hrs, rolling](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-token-session-sso#session-behavior).  If I visit the login page again within 24hrs I shouldn't have to sign-in again.  That's the point of the cookie 😄

[2018-01-10 21:04] danieldobalian commented on #208
When you use `acquireTokenSilent()`, it will take advantage of the cookie B2C sets, and silently sign in the user (assuming a valid cookie exists).  [renewToken](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/src/UserAgentApplication.ts#L1108) is the code that does this and doesn't allow a prompt behavior that would prevent it from using the cookie (uses `prompt=none`)

[2018-01-10 21:12] spottedmahn commented on #208
Ah, I see, thanks for setting me straight!

We're using `loginRedirect` and `acquireTokenSilent` at this point.  The challenge we're having is w/ `loginRedirect`.  On app-start, we see the user is not signed in so we call `loginRedirect`.

Based on what you're saying, maybe we can call `acquireTokenSilent()` if the user is not signed in.  I wonder if that will populate the `user` though?  i.e. `ms

[2018-01-11 20:21] hkusulja commented on #77
So, any info about MSAL support for Angular 4+ ?

[2018-01-15 16:40] DavidHenri008 opened #214 "Access token renew fails with error AADB2C90077"
Hi, I am experiencing issue trying to obtain a new access token from my B2C.
From my SPA I use the msal.js library (v0.1.3) to first authenticate to my B2C. After an hour, the access token expires so I do a silent token renew procedure but it fails. I receive the following error from the B2C:
AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.
Co

[2018-01-15 18:41] hkusulja commented on #159
Any update on this, without popup, @jmprieur and @tomidix ? tx

[2018-01-15 22:29] davidmorissette commented on #169
Hi @rohitnarula7176 - idToken is limited to the claims that are retrieved in its constructor; I think decodedIdToken is what you wanted to expose.

Also, I fully agree with @spottedmahn. I understand the desire to have the same public api across all MSAL librairies but isn't retrieving claims fundamental to oauth?

B2C allows the selection of application claims through custom policies. MSAL should

[2018-01-16 01:06] KatteKwaad commented on #169
I fully agree with @davidmorissette as we also add specific claims via Azure B2C policies for our providers and they are easily retrieved as claims on the token. We've used this with ASP.Net core but after switching over to javascript and msal I was quite surprised that one has to jump through some hoops to do that.

[2018-01-16 08:04] VSDekar commented on #208
For me `acquireTokenSilent()` does not work. I get the error described in this new issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/214

Other related issues:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/191
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/61

@spottedmahn Did the `acquireTokenSilent()` work for y

[2018-01-16 14:16] spottedmahn commented on #208
I haven't tried.  Let me lower to token expiration times and try it.  Will try to get to it today.  @VSDekar

[2018-01-16 14:30] spottedmahn commented on #169
Hi @rohitnarula7176 - I would love to test this and give you any feedback but we pull msal.js from NPM, wondering how I can test this change w/o it being published to NPM.

Any ideas on that?  Any chance you can publish a beta to NPM?

[2018-01-16 14:38] freeman-g opened #215 "Architecture help"
Hello,

I have a Vue.js SPA with a .NetCore 2.0 backend and I'm hoping to achieve the following architecture, but I haven't found an example with the same architecture:

1) Front End uses MSAL to retrieve an ID Token JWT containing the user's AD Group Claims
2) Front End sends Bearer requests with the ID Token JWT to the backend API
3) Backend validates the ID Token and parses the claims
4) Backen

[2018-01-16 16:38] kanafghan commented on #189
I'm getting this issue after I have deployed my app, not while developing, e.g. on `http://localhost:4200`.

What is the status on this issue?

[2018-01-17 01:42] rohitnarula7176 commented on #169
@davidmorissette I have made the change in the code such that idToken property exposed on the user object is not limited to the claims that are retrieved in the idToken constructor. The code is in the dev branch. Please check it and confirm. @spottedmahn Thank you for your help. I will let you know if I deploy a beta version on npm.

[2018-01-17 07:12] davidmorissette commented on #169
Hi @rohitnarula7176 - I confirm that was able to retrieve the claims using your last update.

By the way, idToken should be of `any ` type since the purpose here is to call properties that are not strongly defined:
[https://stackoverflow.com/questions/18961203/typescript-any-vs-object](https://stackoverflow.com/questions/18961203/typescript-any-vs-object)

[2018-01-17 07:23] davidmorissette opened #217 "User type should be exported"
Considering the fact that `UserAgentApplication` can return an object of `User` type, that type should therefore be exported.

I should be able to do this in my code:

[code]

Please edit the index.ts file accordingly.

[2018-01-17 10:59] hkusulja commented on #201
We have issues also with acquireTokenSilent , this method never returns success...

[2018-01-17 11:05] chigivigi opened #218 "AcquireTokenSilent does not return success"
I am working in single page application and am calling  userAgentApplication.acquireTokenSilent method  but it never returns a successful response.  AcquireTokenRedirect writes the token in my session and AcquireTokenPupup returns a successful response. Is ther a way to allow acquireTokenSilent  to return a successful response ?

[2018-01-17 19:49] rohitnarula7176 commented on #169
@davidmorissette I believe having user as Object type is a better and more stricter solution as the id_token is exposed as a JSON object on the user object in the end. Exposing it as any data type would mean it can be string or boolean or anything for that matter which can be misleading. Having it as Object restricts the developer to only query claims that were received in the id_token response at

[2018-01-17 20:31] davidmorissette commented on #169
Hi @rohitnarula7176 - Just to be clear, I am talking about IdToken as `Object`, not User. Although the `Object` interface defines an hasOwnProperty function, this code produces an error:

[code]

I get a TypeScript error when trying to get the property since the indexer is not defined on `Object`, unless I cast the idToken to `any`. That's why I was suggesting that idToken should be of `any` type.

[2018-01-17 20:57] rohitnarula7176 commented on #169
@davidmorissette I meant id_token as an Object. It was a typo. I did not get any errors with the piece of code you have pasted above. Maybe you have a different compiler optionin tsconfig.json like ""suppressImplicitAnyIndexErrors": true,". Can you share your tsconfig as well as the exact error code you get with this code so I can look into this further.

[2018-01-17 21:08] spottedmahn commented on #169
Hey @rohitnarula7176 - wish you could publish to NPM so I can try it out too! 😄

[2018-01-17 23:43] davidmorissette commented on #169
@rohitnarula7176 - TS7017 Index signature of object type implicitly has an 'any' type.

Using `noImplicitAny` option in tsconfig.json can turn off that error since TypeScript tries to implicitly convert Object to any in order to allow the usage of the indexer. I understand the difference between Object and any and in this particular case, I believe any is more appropriate since like I said before,

[2018-01-18 05:56] rohitnarula7176 commented on #218
@chigivigi The acquireTokenSilent should return a token or error and save it in the browser storage. Can you please provide the fiddler trace for the issue. Also, if you can enable logging and attach them to the issue, that would be great. You can find instructions in the readme or the devApps folder on how to enable logging.

[2018-01-18 06:03] rohitnarula7176 commented on #215
@freeman-g I don't see a problem with the above architecture. We have a sample that shows how to integrate authentication with msal using a Vue app but not the one that uses a backend API but implementing a backend API on top of it should be straightforward. Please see below:
https://github.com/sunilbandla/vue-msal-sample

[2018-01-18 11:53] johannes-z opened #219 "Implicit Flow activation"
I'm trying to use this library to get an access token, but I see no way of activating implicit flow in my app I registered in the application registration portal. Nor did I find an option where I can put the redirectURI in.

I could not find any more information about this - can you please elaborate?

[2018-01-18 15:53] freeman-g commented on #215
@rohitnarula7176 - Thank you, I had not seen the vue example yet, which is helpful.

After researching this much further, I don't think my architecture above will work because I cannot get the MSAL retrieved ID token to contain AD groups. Apparently this is a limitation with the URL fragment based flow that MSAL uses. Unless you know of a way to do this?

Unfortunately, this means I need a much mo

[2018-01-19 01:30] SujitGodavarti opened #220 "Error getting access token when the page loads for the very first time after logging into the app using MSAL"
I am using MSAL in my angular app for authentication purpose. I am able to successfully login into the app. After logging in, when I am trying to load the page with the API call for the very first time, I get an error 'User login is required' and there is no 'user' in the 'this.clientapplication' which I am logging in console as shown in the image below.

![img1](https://user-images.githubusercont

[2018-01-20 16:54] chesterhartin opened #221 "Issues with MSAL.js using IE11 in corporate environments (Enable Protected Mode)"
Hello! I am having an issue with this sample (https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) in a corporate environment and can be simulated at home via checking the Enable Protected mode box (which I am unable to do at work due to domain policies (currently showing home setup)

![1](https://user-images.githubusercontent.com/1890420/35185707-234d238e-fdce-11e7

[2018-01-21 19:27] rohitnarula7176 commented on #220
@SujitGodavarti the above error is thrown when you try to acquire an access_token prior to calling login first and having a signed in user. can you please attach a code repro for this issue along with instructions on how to run it.

[2018-01-21 19:37] rohitnarula7176 commented on #214
@DavidHenri008 The acquireTokenSilent uses a hidden iframe with prompt=none which means the user will not be prompted for credentials. This API relies on the session cookie established between the browser and AAD to obtain a new access_token. If your session is expired , this API call will fail and you will have to do an interactive token renewal by calling either acquireTokenPopup or acquireToken

[2018-01-21 19:45] rohitnarula7176 commented on #206
@spottedmahn The case where we receive both an id_token and an access_token would  break in older browsers because of exceeding the URL length limit and this would break a lot of our customers. So our team has decided to not support this responseType at login. The ability to alter the loadFrameTimeout would take care of the timeout issues for you. Closing this issue for now.

[2018-01-21 19:50] rohitnarula7176 commented on #211
@spottedmahn we cannot add public API surface on the library which does not exist on other MSAL platforms. You should be able to get these errors in the callback function you pass in the configurable. The call back function takes errorDesc, token and error as parameters.

[2018-01-21 19:55] rohitnarula7176 commented on #205
@juliepwchen This library supports implicit flow where all tokens are served from the authorization endpoint. We do not send any request to the token endpoint. The flow you are discussing above is client credentials grant flow which is not supported by the library. Please post your question on Stack Overflow to get the answers to this particular question. Closing this issue as it is not related to

[2018-01-21 19:55] #205 closed

[2018-01-21 19:59] rohitnarula7176 commented on #191
@VSDekar you will have to write additional code to periodically call acquireTokenSilent every one hour to make sure your session cookie does not expire in the browser.

[2018-01-21 19:59] #191 closed

[2018-01-21 20:00] #181 closed

[2018-01-21 20:02] #175 closed

[2018-01-21 20:06] #218 closed

[2018-01-21 23:18] DavidHenri008 commented on #214
Ok, but when does the session expires? In my case my access token expires after an hour and it looks like my session cookie on the login.microsoftonline.com also expire within an hour. Is this possible? Is there a way o read the cookie content and read the expiration time?

[2018-01-22 07:53] VSDekar commented on #191
@rohitnarula7176 ok thanks for your answer. It is so sad that this project does not listen to the community and what they need. This library works against me and not with me..., so I will switch over to Hello.js. Over there i can make a silent login even after 1 week. I don't know what they do, but apparently they do a much better job in listening to the users and what they need.

For others that

[2018-01-22 12:23] DavidHenri008 commented on #208
@spottedmahn Any news about this?

[2018-01-22 14:25] spottedmahn commented on #211
Hi @rohitnarula7176 - relying upon the callback function isn't working for us.  Let me try to better explain why.  Maybe I am misunderstanding something and you can point me in the right direction 😄

## Login Only

- On app start, check if the user is logged in?
   1. If yes, do nothing
   1. If no, send to B2C login page

## Login and Password Reset

That was working fine, but now when we bring i

[2018-01-22 16:15] pgarriga commented on #190
@FranckyC you saved my day. Redirect URL must have UserAgentApplication initialized.

[2018-01-22 17:24] Mimetis opened #222 "Acquire a token silently from the MS Teams Iframe"
Hi team !

I'm currently trying to develop an application for **Microsoft Teams**
Here is the setup:
* Angular 5
* Node JS
* MSAL SDK for auth
* Graph SDK for graph requests

Actually, I'm able to get a new token from AADV2 using the MSAL SDK:
* Open a new popup hosted on my application
* Launch an auth process using the `Redirect` behavior

Once I'm authenticated, the main page will call the Grap

[2018-01-22 17:35] zippy1981 opened #223 "Token issues"
I have a pure client side SPA app (angular 4 with typescript) that is calling .NET service. Both are hosted on azure and both have separate client Ids.

My login logic looks like this:

[code]

The first problem is, immediately after logging in via the login page I end up in a state where `this.userAgentApplication.getUser()` returns a user but `acquireTokenSilent()` fails.

The second question is

[2018-01-22 19:34] rohitnarula7176 commented on #219
@johannes-z https://docs.microsoft.com/en-us/azure/active-directory/develop/guidedsetups/active-directory-javascriptspa Please use this doc for getting started. Please let me know if you still have questions.

[2018-01-22 20:55] rohitnarula7176 commented on #169
@davidmorissette Thank you for the explanation. I am not able to reproduce this error by switching the noImplicitAny property in tsconfig.json. The only warning I get by using this syntax is "object access via string literals is disallowed" which can be turned off by setting "no-string-literal": false, in tslint.json. I am using the type Object in other instances where the type does not have stron

[2018-01-22 21:00] rohitnarula7176 commented on #223
@zippy1981 The above error is thrown during validation of id_token. It seems like the aud (app ID)  field contained in the id_token does not match. This error is not thrown in your .net service and not in msal js. Can you please enable logging in msal and attach the logs along with fiddler trace for this issue.

[2018-01-22 21:22] rohitnarula7176 commented on #208
@spottedmahn @DavidHenri008 You can achieve this behavior by just calling acquireTokenSilent and passing a user Object as parameter. If you are using local Storage and the tokens persist in the cache after you close and reopen the browser, you can call getUser() to get the user and make the acquireTokenSilent call by passing that user as parameter. if you are using session Storage, and the tokens

[2018-01-22 21:24] rohitnarula7176 commented on #217
Thank you for your feedback. You are correct. The issue is fixed in dev. You should now be able to import the user object.

[2018-01-22 21:24] #217 closed

[2018-01-22 21:26] rohitnarula7176 commented on #190
Closing the issue as it is solved in the answers above. Thank you @FranckyC @pgarriga

[2018-01-22 21:26] #190 closed

[2018-01-22 21:31] zippy1981 commented on #223
I'd prefer to share said logs via a private channel if possible.

Yes  understand why when I pass the token with the aud matching my SPAs client ID to the .net service, it returns the audience validation error.

My question is, once I resolve the first issue, how would I generate a token with msal.js with an audience of the second applicationid? If this was a .NET mvc app talking to a .net service

[2018-01-22 21:32] spottedmahn commented on #206
Hi @rohitnarula7176 - thanks for the update.

1. Shouldn't it be the consumer of the library that makes the decision, not the library 😄 ?
1. If [`acquireTokenSilent`](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/208#issuecomment-359569114) will allow both values to be sent then that will brake older browsers.  So if breaking the browser is the reason not to do this the

[2018-01-22 21:34] rohitnarula7176 commented on #191
@VSDekar I apologize for the misunderstanding. I believe the silent token renewal you are referring to in hello.js is not silent. You should see your webpage redirecting to the authorization endpoint and then back to your root page in any case. The only thing msal is doing different is adding prompt='select_account' which introduces an additional select account screen. The reason to add this is to

[2018-01-22 22:57] rohitnarula7176 commented on #222
@Mimetis Can you try to remove the decorator manually (@resolveTokenOnlyIfOutOfIframe) from the acquireTokenSilent function by just deleting that decorator on top of it and see if the api call succeeds. Currently this decorator blocks the call if it is in an iframe. I am not sure but I believe if your app is inside an iframe by design,  the cookies will be blocked by the browser while making an au

[2018-01-22 22:59] rohitnarula7176 commented on #221
@chesterhartin We are tracking this issue with the Edge browser team and unfortunately we do not have any other workaround as of now.

[2018-01-22 23:30] allinagaraju commented on #221
I have the same issue and when we logged in always in the sessionStorage getting State as Invalid State.

[2018-01-22 23:34] allinagaraju opened #225 "MSAL ISSUE in IE11"
Hi Team,

I am using MSAL using Type Script and Angular CLI.

We notice that in few IE 11 and EDGE browsers returning NULL in the URL.

Below is the observation on Debugging.
Invalid State in the MSAL Session Storage is MSAL.Error key.

Note:
We used BLUEBIRD as well,
Checked in Protection Mode.
We are not using POPUP for Login IN.

Need your help in resolving the issue.

Please let me know for an

[2018-01-23 00:40] rohitnarula7176 commented on #225
@allinagaraju Closing this issue as it was resolved during our skype conversation. This is a known issue with Edge/IE browsers where local/sessionStorage values are dropped when you navigate/redirect across zones. The current workaround is to add https://login.microsoftonline.com along with your app's url to the trusted sites list.

[2018-01-23 00:40] #225 closed

[2018-01-23 02:42] SujitGodavarti commented on #220
@rohitnarula7176  Hi. It would be a little difficult for me to attach a code repro. I debugged the code and kind of figured out the issue but I don't know why it is happening. I will mention it clearly and if you could not exactly figure out, then I will attach a code repro here.

Part of the code in my authentication service is shown below.

`constructor() {
        this.clientApplication =

[2018-01-23 11:00] Mimetis commented on #222
Yes I think you are right.
En MS Teams doesn't allow te create an IFRAME, so the silent token won't be able to work.
I think, I will try to use `HelloJS` for now, until you have test a full scenario in Microsoft Teams :) (I you plan to do it, actually)

Thx for your quick answer !

Seb

[2018-01-23 12:33] DavidHenri008 commented on #208
@rohitnarula7176 The MSAL mechanism seems to to be OK but the AD B2C returns me an error, one hour after I signed-in, saying the session is not valid. I always call the acquireTokenSilent() and the silent iFrame access the B2C login page but it receives the error. I really don't know if it is related with the `prompt` parameter. The link below describes the error in more details.

Related MSAL iss

[2018-01-23 13:49] johannes-z opened #226 "Silent Login not working correctly"
I've tried adding the `login_hint` and `domain_hint` parameters to the call of the `loginPopup` function, but I still get a popup, limited to one single user, namely the one specified in `login_hint`.

This is how I pass the paramters:

[code]

References: #148

[2018-01-23 18:08] zippy1981 opened #227 "Getting both id_token and (access) token from acquiteTokenSilent()"
The function acquireTokenSilent takes an Optionally null user paramater that is by default populated by the classes user.

[code]

It seems there are three code paths:

1. Does the user parameter match the classes user object. If so
 1. If one of the scopes requested is the client id, then retrieve an id token
 2. Otherwise retrieve an access token (token)
2. Otherwise retrieve both an id token an

[2018-01-23 18:10] zippy1981 opened #228 "Requesting an AppId as a scope, error message indicates truncation of GUID occuring"
I have two applications registered in a Tenant. One is all client side javascript, the other is a .NET rest API.

The API has an app id of `https://TENANT_NAME.onmicrosoft.com/SOME_GUID`. I'm of the understanding that I need this appid as one of the scopes when I request a token.

I am requesting a token with that like so:

[code]

Accordingto the chrome debugger this generates the url with the fo

[2018-01-23 18:27] zippy1981 commented on #223
@rohitnarula7176 I am closing this issues as I have opened an MSFT support case and getting resolution through that.  Thank you for your time.

[2018-01-23 19:21] rohitnarula7176 commented on #223
@zippy1981 Thanks for the update. I will close this issue then.

[2018-01-23 19:21] #223 closed

[2018-01-23 19:35] rohitnarula7176 commented on #227
@zippy1981 One reason is what you have mentioned that is to login as one user and wish to get an access_token for another. Consider the case when you are using session storage where storage gets cleared when you close and reopen the browser. In that case your session cookie established between the browser and AAD might still be valid. Msal tries to populate the this._user from id_token saved in th

[2018-01-23 19:44] rohitnarula7176 commented on #226
@johannes-z In the issue you are referring to, the word 'silent' is used incorrectly to enable the feature where the user does not have to select an account of the user already signed in which happens because Msal adds prompt=select_account to the login request. When you call loginPopup, you will see a UI every time as the name suggests. To achieve silent login in the case where you already have a

[2018-01-24 07:25] davidmorissette commented on #169
@rohitnarula7176 - I realized that there is one difference between the tsconfig.json I copied in my previous message and the one I am using:

`strict: true`

Do you get the same behavior by switching it on and off? What is your opinion regarding this? Do you intend to use strict mode in MSAL in the future?

[2018-01-24 08:01] johannes-z commented on #226
@rohitnarula7176 Ok that makes sense, thanks.

I tried what you were suggesting, but how do I get an empty user object? Simply passing `{}` does not work. Do I have to read through the MSAL source to know which properties the object needs?

This is what I'm doing now:

[code]

[2018-01-24 10:43] ed-ilyin opened #229 "msal don't work if B2C susi policy initiated manually"
Steps to reproduce:
1. Open b2c susi policy manually by going in browser to url like the following: `https://login.microsoftonline.com/te/mytenant.onmicrosoft.com/b2c_1a_signup_signin/oauth2/v2.0/authorize?response_type=id_token&scope=https%3A%2F%2Fmytenant.onmicrosoft.com%2Fapi%2Fread%20openid%20profile&client_id=client-guid&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&state=8bf581a4-a581-4347-8

[2018-01-24 11:17] nicolasdelfino opened #230 "Iframe border"
The iframe (msalRenewFrame) is rendered with borders, giving it a height and width of 4x4 pixels.
Should have no height / width.

[2018-01-24 15:24] itslittlejohn commented on #222
I also would like to see this behavior supported. Is there a plan to get msal js working inside of a teams context?

[2018-01-25 01:45] rohitnarula7176 commented on #226
@johannes-z I apologize for the misunderstanding. The silent login feature in Msal is still work in progress and will be available as part of our next release which will be in a couple of weeks. Once completed, you should just be able to pass just the login_hint of the user and silently log in.

[2018-01-25 06:07] SujitGodavarti opened #232 "Error 'User login is required' and app is getting redirected back to login page"
I am using MSAL in my angular app for authentication purpose. The error that is being thrown is "error getting accees token: user_login_error:User login is required" as shown in below image and the app gets redirected back to login page again. How can I successfully complete the login and get the token?
I created a github repo for the code at 'https://github.com/SujitGodavarti/SamplePortalApp' wit

[2018-01-25 06:17] SujitGodavarti commented on #220
@rohitnarula7176 Hi. I opened a new issue relating to this one which is 'https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/232' and attached a code repo with instructions on how to run it in the 'README.md' file. So I will close this one.

[2018-01-25 06:17] #220 closed

[2018-01-25 12:02] johannes-z commented on #226
@rohitnarula7176 Hi, thanks a lot for the clearification, that helped me a lot! I was wondering about something though. You spoke of `id_token` and `token`, and that Msal does not support this (yet).

I was wondering what that means: Is it implemented but still experimental, or is it a planned feature that's not yet in? Either way, is there an ETA for this feature?

[2018-01-25 13:21] zippy1981 commented on #227
@rohitnarula7176 In that scenario, the promise will always return the access token not the id token? Correct?

[2018-01-26 01:03] rohitnarula7176 commented on #232
@SujitGodavarti Thank you for providing me with the code repro. I am investigating your code and will get back to you within a day.

[2018-01-26 18:09] talismax opened #233 "Strictest Possible Content Security Policy?"
Has anyone done the brain damage on how to craft the strictest possible content security policy for an app using this lib?

Here's the config I was using for my app:
"ContentSecurityPolicyConfiguration": {
      "DefaultSrc": [
        "'self'"
      ],
      "ScriptSrc": [
        "'self'",
      ],
      "StyleSrc": [
        "'self'",
        "'unsafe-inline'",
      ],
      "FontSrc": [

[2018-01-27 02:01] rohitnarula7176 commented on #227
@zippy1981 Yes you are right. In that scenario, AAD will return both an id_token and an access_token. Msal will use the id_token to create user context and resolve the promise with an access_token. Please see below for reference:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d32c5aa6e576bae924a3a319a38c810576e7f09d/src/UserAgentApplication.ts#L1333

[2018-01-27 02:06] rohitnarula7176 commented on #226
@johannes-z This is a planned feature which is not yet in the code. In the current state of the code , we do not have the condition in the acquireToken function where if the user has established a session with AAD outside of MsalJs and passes a login_hint of that user as parameter to the acquireToken api, we do not check for the user object and directly make the authorization request by sending re

[2018-01-27 02:08] rohitnarula7176 commented on #169
@davidmorissette We do not plan to add strict:true to the source code. Please let me know if you have any other concerns besides that. We are planning to release a new version next week.

[2018-01-29 03:15] AnnaShk commented on #214
@DavidHenri008, you can parse token online using jwt.io

[2018-01-29 03:47] AnnaShk opened #234 "How to reset expired token"
Hi,

What should be the action once the token is expired in an hour? Is there any refresh token function in msal without redirecting to credentials input?

As now I'm using acquireTokenSilent() and get the error:
_error getting accees token: AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'._

The error is same even if I get user before acquireT

[2018-01-29 05:18] davidmorissette commented on #169
@rohitnarula7176 - I can always cast to `any` so it's not an issue. Thank you for help, being able to use the decoded token will be very useful for retrieving claims.

[2018-01-29 05:18] #169 closed

[2018-01-29 12:02] DavidHenri008 commented on #214
@AnnaShk I do not want to parse my access token, I want to parse the session cookie on the login.microsoftonline.com.

[2018-01-29 12:04] DavidHenri008 commented on #214
@rohitnarula7176 Can you tell me when the AAD session expires?

[2018-01-29 12:38] DavidHenri008 commented on #227
@zippy1981 @rohitnarula7176 I am confuse, is this functionality supported or not? You said

and then

[2018-01-29 19:39] imranmomin opened #236 "Error AADB2C90055 on acquireTokenSilent and fails to renew token"
I'm getting a below error on `acquireTokenSilent` method

[code]
Code snippet
[code]
I call this method before all the API calls, so I can assure that the token is valid. But when the token expires `acquireTokenSilent`, Azure AD returns back with **AADB2C90055**

On errror call  acquireTokenRedirect and returns back with error

Note: I'm using **Azure AD B2C** and the scopes is set to `openid`

[2018-01-29 21:56] rohitnarula7176 commented on #232
@SujitGodavarti I noticed a couple of issues with the code. I got busy with other stuff. I will work on your code and send you a PR in a couple of days.

[2018-01-29 22:02] #234 closed

[2018-01-29 22:23] AnnaShk commented on #232
Hi  @rohitnarula7176

The issue is with routing, not msal related. So you can close it.

Thanks.

[2018-01-30 11:30] ed-ilyin commented on #203
As far as I can see those samples under devApps does not contain example of sending custom claims to the b2c policy.

I found [example how to do that for .NET](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/d62c3f9e573ac8b5a9adc1565c6254f632e2a531/wingtipgamesb2c/src/WingTipMusicWebApplication/Startup.cs#L108), but I need the same in my javascript application - the wa

[2018-01-30 11:31] johannes-z commented on #226
Good to know - will monitor this repo then. Thanks!

[2018-01-30 11:31] #226 closed

[2018-01-30 11:34] johannes-z opened #237 "AADSTS90130 acquireTokenSilent"
I've tried registering an app through the azure portal (https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps), and get the following error message when using `acquireTokenSilent`:

[code]

[2018-01-30 19:48] brianharwell opened #238 "RedirectUri is not honored"
When I redirect a user to the sign in page at Microsoft the user is redirected back to the page they were on when they were redirected and **not** the redirect uri that I specified.

I narrowed it to line #2722 in [msal.js](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/dist/msal.js)

[2018-01-30 20:23] rohitnarula7176 opened #239 "Constructor function in UserAgentApplication is asynchronous."
The constructor function of userAgentApplication is asynchronous and causes issues when writing angular wrapper over Msal.

[2018-01-31 19:25] rohitnarula7176 commented on #239
Fixed in dev

[2018-01-31 19:25] #239 closed

[2018-01-31 19:27] rohitnarula7176 commented on #238
@brianharwell The redirectUri is just used to add to the authorization request. By design, Msal tries to take you back to the page where you started from when you clicked login to start the authentication process.

[2018-01-31 19:29] rohitnarula7176 commented on #236
@imranmomin Please refer to the B2C sample under the devApps folder on instructions on how to create a B2C app using Msal.

[2018-01-31 19:32] rohitnarula7176 commented on #230
@nicolasdelfino Thank you for your contribution. I have merged your pull request.

[2018-01-31 19:32] #230 closed

[2018-01-31 19:43] rohitnarula7176 commented on #227
@DavidHenri008 The functionality to handle the response when you send responseType = 'id_token token' is not yet supported by Msal.

[2018-01-31 19:44] #219 closed

[2018-01-31 19:49] zippy1981 commented on #127
@khalibloo  did you try setting reply uri in portal? (See below)

I have the same issue. I end up with the following sequence of URLs:

* https://login.microsoftonline.com/TENANT_ID//oauth2/v2.0/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fexit <<-- **note the extra slash between tenant id and oauth2**
* https://login.live.com/Me.srf?wa=wsignin1.0&idpflag=direct&wreply=https%3a%

[2018-01-31 19:50] rohitnarula7176 commented on #232
@SujitGodavarti As AnaShk mentioned, there is an issue with your routing and the way you have structured your code and not related to Msal. For instance, from your dashboard.component.ts, you call
[code]
In the makeRequest method, you are doing an asynchronous operation by calling getAuthenticationToken which is why the value of requestoptions in your code will always be undefined. The makeRequest

[2018-01-31 19:54] #232 closed

[2018-01-31 19:55] imranmomin commented on #236
@rohitnarula7176  - if you are referring to this sample https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/devApps/VanillaJSTestApp-b2c

It also fails on the sample. I only changed the config. If you want to try at your end, I can create a gist

[2018-01-31 20:02] brianharwell commented on #238
But why? The idea with redirect uri is to tell the browser where to go after the user authenticates with the identity provider, is it not? I have not tried cookie authentication but I remember this being the case in the demos I have watched. I have a use case for wanting the user redirected to a different page than their initial launch point and it seems odd that msal would completely ignore this.

[2018-01-31 20:13] khalibloo commented on #127
I've been away from this project for a while, but yeah I did set the redirect uris.
![msauth portal](https://user-images.githubusercontent.com/6402969/35644792-68a83bda-06e3-11e8-91a3-87e202ac694a.png)
Don't remember what logout url does or why i left it blank. It's probably somewhere in one of the scattered documentations they have.

[2018-02-01 01:49] rohitnarula7176 commented on #237
@johannes-z Is the tenant/app B2C? B2C doesn't support /common endpoint, you must provide your tenant name or tenant id. For example, you should use 'https://login.microsoftonline.com/tfp/<your_tenant_id_or_tenant_name>/<your_policy_name>' as the 'authority' in your msal.js constructor. Tenant name is something like 'fabrikamb2c.onmicrosoft.com', tenant id is something like 'xxx....xx', policy nam

[2018-02-01 01:51] rohitnarula7176 commented on #236
@imranmomin 'openid profile' scope doesn't correspond to any resource, So AAD rejects your request. You have to add the scope for your resource in scopes, for example, 'https://example.com/calendar.read'.

[2018-02-01 01:55] rohitnarula7176 commented on #229
@ed-ilyin This is by design. Msal saves parameters like state and nonce when you call loginRedirect in the browser storage and it then matches the parameters in the response with the ones saved in the storage. If you make the authorization request manually, no such parameters will be saved and Msal must not process the response for security reasons. In this case , user object will be returned as n

[2018-02-01 01:55] #229 closed

[2018-02-01 03:04] mikelunn commented on #207
@rohitnarula7176 Social login ended up not being a requirement for the project i'm working on. If I get time to experiment with social login, and I run into this issue again I will reopen

[2018-02-01 03:04] #207 closed

[2018-02-01 04:35] sherwincool opened #241 "Authentication of personal Microsoft Account not working"
When we use this Adal js before, we can successfully login using personal microsoft account and azure ad account. But...

Im not sure whats going on in microsoft online but when Im trying to authenticate using a personal microsoft account, its always getting this error:

AADSTS50020: We are unable to issue tokens from this api version for a Microsoft account. Please contact the application vendor

[2018-02-01 04:51] rohitnarula7176 commented on #241
@sherwincool MSAL.js works with the AzureAD V2 endpoint, whereas ADAL.js works with the AzureAD V1 endpoint. The V1 endpoint supports work accounts, but not personal accounts. The V2.0 endpoint is the unification of Microsoft personal accounts and work accounts into a single authentication system. if you need to authenticate using your personal Microsoft account , you should use MSALJs whch goes t

[2018-02-01 05:06] sherwincool commented on #241
Thank you @rohitnarula7176  for this reply and really appreciate it. :) but just what I said we can successfully authenticated both before (Feb 2017) then suddenly this happen. Is there any changes in authentication?

[2018-02-01 18:49] imranmomin commented on #236
@rohitnarula7176  - Thank you. I had to go create a custom scope, which I was not knowing. After which all worked perfectly.

[2018-02-01 18:49] #236 closed

[2018-02-01 19:39] rohitnarula7176 commented on #241
@sherwincool This is just a coincidence. Personal account is not officially supported by v1 endpoint, There is no guarantee it will work.

[2018-02-01 19:39] #241 closed

[2018-02-02 04:35] rohitnarula7176 commented on #189
@jzet @RonaldV @ggirard07 @kanafghan Thanks a lot for pointing out this issue @RonaldV for providing a workaround. I have fixed the issue in the dev branch. Can you all please use the dev branch and let me know if it resolves your issue.

[2018-02-02 13:47] wictorwilen commented on #227
@rohitnarula7176  - any ETA on support?

[2018-02-02 13:58] jrmcdona opened #242 "MSAL and Full trust Oauth for First party app"
We have an Angular front end connecting to a Web Api project using a bearer token and the Full trust Oauth flavor.

Will MSAL work well for our front end?

Thanks

[2018-02-02 17:46] spottedmahn opened #243 "Allow Controlling Returning to Page Redirect"
Can you please allow the consumer of MSAL.js to control if the user is redirected back to the page they came from our where the login endpoint redirected the user back to?

As it stands now, I can only control the `redirectUri` via the constructor options.  In our particular case I don't want the user to get redirected back to the page they were on.  I want them to go to the redirectUri I specifie

[2018-02-02 21:18] rohitnarula7176 commented on #172
Duplicate of #243

[2018-02-02 21:18] #172 closed

[2018-02-02 21:18] rohitnarula7176 commented on #243
Duplicate of #238

[2018-02-02 21:18] #243 closed

[2018-02-02 21:19] #189 closed

[2018-02-02 21:20] rohitnarula7176 commented on #167
@jrmcdona I am not aware of any such library. Please post your question on StackOverflow to get a response to your query.

[2018-02-02 21:20] #167 closed

[2018-02-02 21:21] #32 closed

[2018-02-02 21:22] spottedmahn commented on #238
Yes, please allow us to control if we want this behaior

[code]

[2018-02-02 22:12] brianharwell commented on #238
I'll take a look this weekend and see if I can create a pull request

[2018-02-05 10:31] DmitryGonchar commented on #189
@rohitnarula7176 When will new patch version with this fix be published?

[2018-02-05 12:13] #237 closed

[2018-02-05 12:20] johannes-z opened #244 "Access token not resolved, although acquired"
I've tried multiple ways of getting this to work, and now the library won't even fetch the access_token anymore, although it's retrieved.

I'm using local storage, and after `loginPopup` there is a `msal.urlHash` key with the `#access_token=...` as value.

This is the code I use, which is basically exactly the same as the example of the `README.md`. The `token` of the `loginPopup` is acquired, and

[2018-02-05 13:33] rohitnarula7176 commented on #244
@johannes-z The library should be able to fetch the token as others are also using the same version to call the graph API's with no issues. Can you attach a copy of your full code where you login and then call the graph me endpoint for instance. Also the access_tokens are valid for an hour in implicit flow and just before it expires, you need to send another silent request to renew it. After autho

[2018-02-05 15:48] spottedmahn commented on #238
Hi @brianharwell - I would wait for their response first.  You might end up wasting your time 😞

[2018-02-05 20:28] navyasric commented on #242
@jrmcdona What is the full trust Oauth flavor you are referring to? MSAL.js uses the Implicit grant of Oauth. Regarding the web api, is it your application's own backend API or a third party API?

[2018-02-06 15:18] brianharwell commented on #238
The constructor for UserAgentApplication takes in an options object. There is a redirectUri property and a postLogoutRedirectUri property. If you do not set them the default is to use the current url. If you do set either of them then the user will be redirected to the specified url after the redirection from Microsoft.

[2018-02-07 06:49] eranotutamoh opened #246 "Base64 Encoding not handlling special characters"
src/Utils  base64DecodeStringUrlSafe method
Polish Characters in given/family name fields of token are wrong when decoded. Actually works fine once I grabbed this from MDN to replace the window.atob / this.decode() method

//  https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding#The_Unicode_Problem

`base64DecodeStringUrlSafe = function (base64IdToken) {
    b

[2018-02-08 10:23] Chandu12x commented on #225
Hi Team,

Myself facing similar issue.Few times getting below errors in IE and Edge .Works fine  in Chrome.

msal.error: "Invalid_state"
msal.error.description:"Invalid_state. state: 63e08f7b-512f-47c5-826d-737da5c9604e"

Our portal is used by multiple clients and we can't ask each and every client to add https://login.microsoftonline.com  to trusted sites list.

We are using below  files for MSAL

[2018-02-08 10:27] Chandu12x opened #247 "MSAL Invalid_State error in IE11/Edge"
Hi Team,

We have a Consumer portal where MSAL authentication is implemented.

Currently we are getting  below errors in IE and Edge .It works fine in Chrome.

msal.error: "Invalid_state"
msal.error.description:"Invalid_state. state: 63e08f7b-512f-47c5-826d-737da5c9604e"

Our portal is used by multiple clients and we can't ask each and every client to add https://login.microsoftonline.com to trust

[2018-02-08 12:39] juunas11 opened #248 "Consent grant is not successful in the v2 endpoint immediately"
I made a question on Stack Overflow for this too, which you can find here: [link](https://stackoverflow.com/q/48685435/1658906).

I have a small demo JavaScript Single Page Application that uses MSAL.JS to call a back-end API.

When the user logs in, MSAL.JS redirects the user to login as normal with the necessary scopes in the URL. The user gets prompted for the permissions, and hits Accept. They

[2018-02-09 00:54] navyasric commented on #247
@Chandu12x This is an existing issue with the Edge and IE browsers. We have documented this in our ADAL library but this applies here as well. Currently, we only have the work arounds listed here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge#issues

[2018-02-09 00:54] #247 closed

[2018-02-12 17:07] hakimio commented on #238
@brianharwell That's not how it works with this library. After you log-in, you are first redirected to "redirectUri" but then when you call "acquireTokenSilent()" the library redirects you to the page you were before initial redirect to login page. That's just plain stupid unwanted behavior.

[2018-02-12 17:34] hakimio commented on #238
@rohitnarula7176 This undocumented behavior doesn't make any sense and is a bug.

[2018-02-12 18:56] spottedmahn commented on #238
Hi @hakimio - for some people, it's probably a nice feature but for others, it is not.  We, as the consumers of the library, should be able to choose IMHO.

It should definitely be documented though, as you stated.

[2018-02-13 18:34] spottedmahn commented on #206
Hi @rohitnarula7176 - can you please re-open this?  I suspect you [missed this reply](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/206#issuecomment-359572166).

Thanks again for all your help.

[2018-02-13 19:16] navyasric commented on #242
Closing this issue for now. Please re-open if necessary.

[2018-02-13 19:16] #242 closed

[2018-02-14 00:31] rohitnarula7176 commented on #238
@spottedmahn @hakimio @brianharwell You can now pass navigateToLoginRequestUrl:false as follows:
[code]
In this case , Msal will set the hash to '' and call your callback where you can perform your custom navigation.

Along with this change, there is one more thing that will be part of our next release. We have made the constructor function synchronous.

So to access an instance of userAgentApplic

[2018-02-14 11:30] Mimetis commented on #222
I was wrong actually. There is no problem with Teams to create an hidden IFRAME, so we should be able to acquire a token silently, if the MSAL sdk is allowed to work in an existing IFRAME.

I reopen the issue, for tracking.

@rohitnarula7176 any idea ?

[2018-02-14 13:20] mrman888 commented on #189
It works for me. When can we expect a release?

[2018-02-14 13:23] spottedmahn opened #251 "Deploy Beta's to NPM"
Can you **please** deploy beta releases to NPM?  Without this, I don't know how I can test the new functionality in our Angular app.  Thoughts?

[2018-02-14 14:41] spottedmahn commented on #208
Hi @rohitnarula7176 - that worked!

I set `cacheLocation: 'localStorage'` and then `acquireTokenSilent()` got a token w/o having to sign-in.

### Flow

1. Opened our app
1. Redirected to B2C b/c our app/MSAL saw I wasn't signed-in
1. Signed-in and returned to our app
1. Closed tab and opened our app back up in a new tab
1. Our app/MSAL saw the user as signed-in
1. `acquireTokenSilent()` obtained a

[2018-02-15 09:23] RonaldV commented on #189
It seems to be working, but I'm unable to test it on IE11. This is probably not related to this issue. I'm unable to see the errors in the developer console because it crashes on IE. So I've no idea what is happening. I'll create another issue for it.

[2018-02-15 17:02] spottedmahn commented on #211
hey @rohitnarula7176 - any updates on handling this use case?  thanks!

[2018-02-15 17:09] #194 closed

[2018-02-20 19:49] spottedmahn commented on #251
Hello - any thoughts/updates on this?  We really need to get our hands on the next version of MSAL.js.  Thanks!

[2018-02-20 19:52] #208 closed

[2018-02-21 02:01] rohitnarula7176 commented on #208
@spottedmahn Thank you for testing this scenario.

[2018-02-21 02:03] rohitnarula7176 commented on #251
@spottedmahn We are busy working on the security review of the libraries. We will release the new version next week.

[2018-02-21 14:23] spottedmahn commented on #251
Hi @rohitnarula7176 - that's great.

What about my [original post](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/251#issue-297093721)?  Can you please deploy beta's to NPM?

[2018-02-21 21:00] rohitnarula7176 commented on #251
@spottedmahn The beta version is now deployed on npm. You can install it using npm install msal@beta. Please refer to the changelog.md for the breaking change. Can you please test the version and provide feedback.

[2018-02-21 22:26] spottedmahn commented on #251
I tried the beta, no issues ⭐️ !

- [X] [Try `loadFrameTimeout` for getting an access token: 209](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/209)
- [X] [Try `navigateToLoginRequestUrl`: 238](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/238#issuecomment-365453972)

Thanks for publishing the beta!

[2018-02-21 22:26] #251 closed

[2018-02-22 12:42] DavidHenri008 commented on #214
For the record, after multiple back and forth with Microsoft technical support  and developers teams we finally identified the cause of my AADB2C90077 error code.
There was an issue in the Azure B2C backend where the default values were not handle properly by the system.
My workaround was to modify the four token lifetime values: ‘Access & ID token lifetime’, ‘Refresh token lifetime’, ‘Refresh tok

[2018-02-22 15:09] spottedmahn opened #254 "Release Notes"
Where can I find the release notes for each version?  More specifically, where can I find the release notes for version 0.1.4?  Thanks!

[2018-02-22 18:45] spottedmahn opened #255 "we cannot add a separate public api getClaim() on user object, why not?"
As stated [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/169#issuecomment-356477876)

I understand your desire to have the same public API across all MSAL libraries but I don't understand why other libraries wouldn't want this? What am I missing?

[2018-02-22 19:01] rohitnarula7176 commented on #254
@spottedmahn There should be a changeLog.md file in the repo https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/rn/catchHandler/changelog.md.

[2018-02-22 19:01] #254 closed

[2018-02-22 19:02] rohitnarula7176 commented on #244
@johannes-z Closing this issue. Please reopen once you have a code repro for this issue.

[2018-02-22 19:02] #244 closed

[2018-02-22 20:41] spottedmahn commented on #254
FYI, the [`loadFrameTimeout`](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/209) is missing from the change log.

[2018-02-22 22:28] zamzowd commented on #182
@rohitnarula7176 I'd like to corroborate what @SebastianLindner reported - the `Utils.deserialize(hash)` that you reference does not url decode the scope parameter value.  To use Sebastian's example, what gets saved to the cache has key.scopes value "https%3a%2f%2fmydirectory.onmicrosoft.com%2fmyapp%2fread" which does not match the requested scopes "https://mydirectory.onmicrosoft.com/myapp/read".

[2018-02-23 13:54] zamzowd commented on #182
What I described above isn't reproduced when I change the redirectUri to a different, simple page (the "Iframe+form+hash communication hack" trying to resolve acquireTokenSilent).  My login page is in an Angular application.

[2018-02-23 22:01] MarkHerhold opened #257 "Detecting when the redirect auth flow is complete"
How do we know when the auth flow has been completed after a redirect? In my experience, initializing MSAL after the redirect back to my app doesn't always immediately make `msalApp.getUser()` available. Do we have to listen to the `authCallback`? If so, how do we uniquely identify a successful login?

[2018-02-26 16:06] spottedmahn opened #258 "Create Guidance about the Access Token and the IFRAME"
Following up on #209...

[2018-02-26 16:54] pconnell99 opened #259 "Authority string is being incorrectly appended to"
When I am trying to set an authority string the call to the server is corrupted.

Example:-
[code]
The authority is readable in a browser and returns a policy.  However, when I run the application so:-

[code]
The popup closes and the browser reports a 400 (Bad Request) for the URL `https://login.microsoftonline.com/<mytenant>.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=b2c_1_gplus/v2.

[2018-02-26 18:39] rohitnarula7176 commented on #257
@MarkHerhold The best way is to listen to authCallback. The callback will be called after the redirect with token/error.

[2018-02-27 00:35] MarkHerhold commented on #257
But are we guaranteed that this will be called either every time MSAL is instantiated or every time we call `acquireTokenSilent()`?

Also, how do we uniquely identify that the callback was called due to a successful login and not some other successful event?

[2018-02-27 02:27] kanzelm3 commented on #177
I am having the same issue.

[2018-02-27 15:55] kanzelm3 commented on #177
Looks like we aren't the only ones having this problem: https://stackoverflow.com/questions/47163384/msal-js-iframe-issue-with-twitter-and-while-choosing-from-multiple-google-accoun

[2018-02-27 15:57] kanzelm3 commented on #177
@rohitnarula7176 would you be able to give any insight to why this might be happening? I can take a stab at fixing it, but it would be helpful if you could at least point me in the right direction.

[2018-02-28 18:32] nehaagrawal commented on #259
I think your authority url is incorrect. It shouldn't have openid-configuration in the path.

[2018-02-28 19:45] nehaagrawal commented on #228
As per the error message: AADSTS50001, it appears to be an issue with client app permissions for accessing your Web API.Please double check if you have assigned the right permissions to the client application for accessing the Web application Interface

[2018-03-01 23:37] rohitnarula7176 commented on #246
@eranotutamoh Can you provide an example for this issue with some test case.

[2018-03-01 23:38] #179 closed

[2018-03-01 23:38] #215 closed

[2018-03-02 01:51] AnnaShk opened #262 "State parameter in login request"
Hi,

Could you please help me to find you how can I use the state parameter with msal?
How can I send state value in the request(loginRedirect), so it will be returned in the token response?

Here is my current UserAgentApplication:
[code]

and login:
`        clientApplication.loginRedirect(b2cScopes);`

I see some state parameter exists in POST SelfAsserted request Referer.

Here is a [link](htt

[2018-03-02 16:45] talismax commented on #233
Is no one else implementing CSP in their app? Is this a dumb question?

[2018-03-02 21:29] MarkHerhold opened #263 "Feature Request: Simple Auth Status API"
Hi MSAL team,
I'm requesting features for two functions to make MSAL users' lives easer.

### `isUserAuthenticated(): Promise<boolean>`

This function would return a promise that resolves to a single boolean value if the following conditions are met:
* user is logged in
* MSAL has an access token available (`acquireTokenSilent()` will succeed)
* access token is not expired
* we have user informati

[2018-03-04 17:35] sushi4u commented on #177
Hi @kanzelm3
Sorry for the late reply. Here is what I did to overcome this issue, not sure if I should call it a solution.

Basically I made few changes in the msal.js file. Instead of fetching just the `id_token` first and then fetching the `access_token` using `acquireTokenRedirect`, I used `id_token_token` to fetch both on login itself in `loginRedirect` function. Also, you would need to change

[2018-03-05 01:27] kanzelm3 commented on #177
It would be great if you could post a more detailed explanation, for me and any others that may be having the problem. I would also like to know what's causing it so that I could create a PR so that it's fixed for a future release.

[2018-03-05 09:47] ghost opened #264 "Problem when multibyte is included in JWTToken"
For example, garbled characters will occur, such as when multibyte is included in the user name.

It is probably caused by calling atob.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/355dc1fb78651bece7806476879f9955f2cc61e0/src/Utils.ts#L67

[2018-03-05 22:46] nehaagrawal commented on #262
Hi @AnnaShk, Currently msal library is generating the state parameter in the constructor of AuthenticationRequestParameters.
 this.state = Utils.createNewGuid();
Can you please tell me your use case where you want to pass the state parameter yourself instead of using the one generated by the library.

[2018-03-05 23:57] AnnaShk commented on #262
Hi @nehaagrawal,

Thanks for that. Yes, the state parameter is, as you say, passing a new GUID to the Azure login page, but according to this page ([https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code)), there are two potential uses for the state

[2018-03-06 00:08] nehaagrawal commented on #246
@eranotutamoh  - This is a known issue with window.atob() that it can't support unicode charcaters. There are different ways to solve this issue as per the MDN article( https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding#The_Unicode_Problem) and below stackoverflow link.
https://stackoverflow.com/questions/30106476/using-javascripts-atob-to-decode-base64-does

[2018-03-06 00:09] nehaagrawal commented on #264
HI @HiroyukiSako This is a known issue with window.atob() that it can't support unicode charcaters. There are different ways to solve this issue as per the MDN article( https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding#The_Unicode_Problem) and below stackoverflow link.
https://stackoverflow.com/questions/30106476/using-javascripts-atob-to-decode-base64-does

[2018-03-06 20:07] cheresier commented on #189
Just noticed a strange behavior. When I launch the application by typing in the URL directly into the browser's address bar, everything seems fine. However, this error (DOMException: Blocked a frame with origin "https://......" from accessing a cross-origin frame) seems to still be happening when the application is launched from http://myapps.microsoft.com (a portal where you can see all the web a