[2021-12-08 21:12] tomlagier commented on #4313
Hmm, so as you can see from the snippets posted I'm not actually calling `ssoSilent` anywhere, I'm leaning on `useMsalAuthentication` to do that for us. Does `useMsalAuthentication` not work with iOS safari w/ ITP?

EDIT: Are there any other hooks that might call `ssoSilent` under the hood that I should be looking out for?

EDIT2: The only other place we use MSAL hooks is:

[code]

which shouldn't

[2021-12-08 21:23] jasonnutter commented on #4313
Right, `useMsalAutentication` will call `ssoSilent` when `InteractionType.Silent` is used, and that will fail if 3p cookies are disabled.

And I see now that there may not be a way to properly handle this with `useMsalAuthentication`, given when it detects an error, it will attempt login using the same interaction type. @tnorling seems like we need a way to attempt one interaction, and then fallba

[2021-12-08 21:25] jasonnutter commented on #4313
@tnorling And could this be addressed by #4280 ?

[2021-12-08 21:38] jasonnutter commented on #4313
That being said, when `useMsalAuthentication` is invoked, it shouldn't attempt `ssoSilent` unless the user is not logged in, so in your scenario, a loop would only be triggered if MSAL does not think the user is signed in after performing the redirect to login.

@tomlagier Can you please debug `useMsalAuthentication` in this scenario and see what happens when you get to the following line the seco

[2021-12-08 21:49] tomlagier commented on #4313
Here's that line logged out in 1 page load's worth of logs from the redirect loop:

[code]

[2021-12-08 22:05] tnorling commented on #4313
@tomlagier The response from the redirect isn't being processed. `handleRedirectPromise` is just ending after attempting to navigate back to the starting page, meaning there's a problem with the client side routing/navigation here. I see an error in your previous logs regarding the router instance not being available, can you double check that. Can you also please share your `CustomNavigationClien

[2021-12-08 22:08] tnorling commented on #4313
You can also try removing these 3 lines from the top of your component and see if that resolves the loop:
[code]

If it does, that will confirm it's a router/navigation issue.

[2021-12-08 22:12] tomlagier commented on #4313
Sure, I think the `CustomNavigationClient` is straight from the docs but here it is:

[code]

[2021-12-08 22:18] tnorling commented on #4313
@tomlagier Ah, you should return `false` from `navigateInternal` if you are using a client-side router

[2021-12-08 22:27] tomlagier commented on #4313
Both removing the CustomNavigationClient instance and returning `false` from `navigateInternal` break the loop, however they're failing to populate the current account on our side (which leaves us stuck in a loading state). So we're making progress!

Here's what that code looks like:

[code]

Just to recap:
- If I return `true` from `navigateInternal`, this code will correctly return the current a

[2021-12-08 22:33] tnorling commented on #4313
@tomlagier The payload for the `LOGIN_SUCCESS` event is of type `AuthenticationResult` not `AccountInfo`. Your `setActiveAccount` logic in your event callback should be the same for `LOGIN_SUCCESS` as it is for `ACQUIRE_TOKEN_SUCCESS` and `SSO_SILENT_SUCCESS`

See the mapping of event types to payload [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-brows

[2021-12-08 22:44] tomlagier commented on #4313
Success! Working flawlessly, peer bonuses all around.

Thanks so much for your help all. When I'd set up the auth a couple months ago I was seeing LOGIN_SUCCESS as having the AccountInfo properties, but could definitely have been user error.

[2021-12-08 22:44] #4313 closed, assigned to jasonnutter

[2021-12-08 23:25] jasonnutter commented on #4295
This should be address by #4314

[2021-12-08 23:32] izikl commented on #4295
@jasonnutter I don't think this it is going to fix it.

The cookie deletion always assumes this prefix `msal.<client ID>`, as shown here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8afb0be101c2ff51533fce867791efdba6d88ee6/lib/msal-browser/src/cache/BrowserCacheManager.ts#L631

However, the cookie is saved without client ID.

(I am describing it in more details here htt

[2021-12-09 00:00] jasonnutter commented on #4295
@izikl Right, which is why the PR adds a new invocation of `this.setInteractionInProgress(false);`, which properly handles the cache key.

[2021-12-09 00:29] izikl commented on #4295
@jasonnutter oh yeah. My mistake.

[2021-12-09 01:00] ghost commented on #4266
@dhruvildave22 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-09 02:41] Arash-Sabet commented on #4292
@jasonnutter I shared a private repo with you and sent you an invitation to it. Thanks for your help in advance.

[2021-12-09 05:44] dhruvildave22 commented on #4266
@tnorling I tested my response url after i logged in on the popup and then it is taking me to this domain ```https://my-fs-test2.crm.dynamics.com``` but it is not giving me the hash fragment like this ```https://my-fs-test2.crm.dynamics.com/#code=some_code``` in my PCF component.

Then I added msal.js(and all the code which is required to open a login popup) in different react web app and deployed

[2021-12-09 15:35] beutlingsteven opened #4317 "Unwanted side effect by case sensitive check of tokentype Bearer"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

Hi,

I'm a software developer for a big company in Belgium and I'm currently upgrading an Angular application from ADAL To MSAL v2.

I configured everything correctly and everything appeared to be working

[2021-12-09 16:54] jasonnutter commented on #4317
Closing as duplicate of #4252

[2021-12-09 16:54] #4317 closed, assigned to jasonnutter

[2021-12-09 19:41] sujithgundlapalli opened #4319 "Unable to fetch renewed token when opened in multiple tabs"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.3.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.1

### Description

when we open only one tab.. token renewal happens perfectly (we are doing it before 5 min of expiry).
But. when we open app in multiple tabs (~6), our token expiry check runs in all tabs and tries to renew

[2021-12-09 21:18] jasonnutter commented on #4319
@Sujith2020 Does this happen if you set `cache.cacheLocation` to `sessionStorage`?

[2021-12-09 23:19] jasonnutter commented on #4311
@Coach-BWise Thanks for sharing the trace. The `aud` claim of the id token in the response from the `/token` endpoint matched your client id, which means it is working as expected.

[2021-12-09 23:32] jasonnutter commented on #4292
@Arash-Sabet I was not able to run the app, but from looking at the code, it does not look like you are properly handling redirect requests via the `MsalRedirectComponent` or `handleRedirectObservable`. Please [this document](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) for details on how to do that, and you can look at our

[2021-12-09 23:59] jasonnutter commented on #4303
@KennethBWSong Thanks. This request timed out due to throttling, meaning your app was making too many calls for the same user in a short amount of time. When your Teams app gets a timeout like this, we recommend invoking an interactive request to complete authentication, as shown in [this sample](https://github.com/pnp/teams-dev-samples/blob/main/samples/tab-sso/src/nodejs/src/components/Tab.js#L1

[2021-12-10 00:03] jasonnutter commented on #4281
@ms1832

1. Unfortunately, I don't believe that is currently supported.
2. You can try using the `loadExternalTokens` API to load tokens into MSAL Angular that were acquired in MSAL Node: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md#the-loadexternaltokens-api

[2021-12-10 09:30] mellson opened #4320 "Does this work in Vite?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

I'm trying to run `acquireTokenSilent` in my React app running with Vite.js (version 2.7.1).
But I'm getting an error from Line 87 in `PublicClientApplication.ts` - it seems that `preflightBrowserEnvironmentC

[2021-12-10 09:51] mellson commented on #4320
Hmm, when I log my instance to the console it says `PublicClientApplication2` in my Vite app and `PublicClientApplication` in my webpack app 🤔 Wonder why that is? This could make sense as it looks like the preflight checks are added to the PublicClientApplication prototype. Not sure the naming has any effect though.

It maybe looks like `this` in `PublicClientApplication` is undefined.

[2021-12-10 09:51] hitkumar25 opened #4321 "[Mac-SAFARI] Continuous Redirect is happening in Mac Safari with redirect flow in angular SPA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

After the token is acquired. It redirects again and again in loop while using msal-angular in Angular v9 SPA.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code

[2021-12-10 10:03] Depechie commented on #1665
hey @ozkoidi did you find a solution for this? I have the same issue.

[2021-12-10 12:17] mellson commented on #4320
Sorry this was caused by some currying issues on my end. Everything works great now that I fixed those 😊

[2021-12-10 12:17] #4320 closed, assigned to jasonnutter

[2021-12-10 12:35] Arash-Sabet commented on #4292
@jasonnutter Thanks for the feedback. Sorry that you could not run the code. If you run "npm install" and then "ng serve" it has to work. You could also choose to sign up within sign-in popup box.

Regardless, I will review the document to figure out what may have been wrong.

/cc @milad-ghafoori

[2021-12-10 12:36] ozkoidi commented on #1665
Hello @Depechie,

They may have fixed the issue in the meantime but in case it helps you, the workaround that worked for me is the following:

Disable the [initial navigation](https://angular.io/api/router/InitialNavigation#initialnavigation) in the routing module

[code]
  In app.module.ts pass the `Router` to the initializer method
[code]
 to call  `router.initialNavigation();` after reading the

[2021-12-10 13:41] Depechie commented on #1665
@ozkoidi thx for the details... but no matter what I try, as soon as I hit the http.get in my config.Load to read out the /assets/config.json, I see in the logging that other elements will still get called before the file is read.

Cfr screenshot: the config parsed is placed above the router.initialNavigation().

![Screenshot (113)](https://user-images.githubusercontent.com/351693/145582791-0a8b48

[2021-12-11 01:00] ghost commented on #4251
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2021-12-12 13:00] #4269 closed, assigned to samuelkubai

[2021-12-12 13:00] ghost commented on #4293
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2021-12-12 21:21] Depechie commented on #1665
Got it working, by refactoring the original example by @vinusorout

[2021-12-13 07:28] sujithgundlapalli commented on #4319
with sessionStorage, I have tested and its working fine for 8hr (app requirement), but can we find the issue with local storage.

[2021-12-13 09:29] nemeros commented on #3649
hello, we are also looking forward that kind of customization.

[2021-12-13 20:13] jasonnutter commented on #4321
@hitkumar25 Is your app invoking `handleRedirectObservable` or using the `MsalRedirectComponent`? This is required when using redirects for interaction. Docs: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

[2021-12-13 20:25] jasonnutter commented on #4319
This is likely fixed in MSAL Angular v2, which does a better job of handling concurrent token requests. Please try updating to MSAL.js v2 and MSAL Angular v2 and let us know if this is still an issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/v1-v2-upgrade-guide.md

[2021-12-13 20:27] jasonnutter commented on #4292
The application was missing a number of important files, e.g. `tsconfig.json`, etc.

[2021-12-14 01:00] ghost commented on #4312
@Shyam268 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-14 08:52] xiaolang124 commented on #4293
Hi, any update information? Thanks

[2021-12-14 09:42] martin-dimitrov13 commented on #2600
Using `axios` and `https-proxy-agent` allowed me to reach the Azure API but that completely circumvents `msal-node`.

[2021-12-14 11:08] martin-dimitrov13 commented on #2600
I made it work with `axios` and `https-proxy-agent` but that completely circumvents `msal-node`. Ideally we would be able to provide it with our own https agent. Just like in `msal-net` :
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-provide-httpclient

[2021-12-14 13:00] #4289 closed, assigned to sameerag

[2021-12-14 13:00] ghost commented on #4266
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2021-12-14 22:25] neilg63 opened #4326 "Special characters in passwords using PublicClientApplication.acquireTokenByUsernamePassword() in Node JS"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.4.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

Nest JS

### Description

I have integrated Azure AD authentication into an existing Node JS application built with the Nest JS framework for a Web application used by college students. As we need to collect additional data about students from Azure AD,

[2021-12-15 00:57] hectormmg commented on #4326
Hi @neilg63 . The Username/Password flow in MSAL Node was added strictly for the purpose of obtaining tokens for testing scenarios and is not fully supported for application development. I suggest you use the authorization code grant with PKCE, as illustrated in our [Auth Code with PKCE sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/au

[2021-12-15 01:00] ghost commented on #4311
@Coach-BWise This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-15 01:00] ghost commented on #4303
@KennethBWSong This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-15 01:00] ghost commented on #4281
@ms1832 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-15 01:01] hectormmg commented on #4326
Hi @neilg63 . The Username/Password grant isn't recommended or supported for production use. It was mainly added to MSAL Node for acquiring tokens for test scenarios and purposes.

If your application is acquiring tokens on the server side, you can use a `ConfidentialClientApplication` instead and use the [Client Credential grant](https://github.com/AzureAD/microsoft-authentication-library-for-js/

[2021-12-15 15:14] urgn commented on #3429
@a129722 hit the same issue, adding the `?appid=<client_id>` identity metadata URL, does change the `jwks_uri` to also contain the `?appid=<client_id>`.
Testing this approach now.

[2021-12-15 19:14] ahaenggli commented on #4326
hi @neilg63
I had the same problem today with the @azure/Identity (v2.0.1) of "UsernamePasswordCredential".
In v1.5.1 this was working:
[code]
However, with v2.0.1 it won't. Presumably it's the same problem as it seems, they switched form adal to msal.
As a workaround, I used `encodeURIComponent()` for the password:
[code]
Maybe you can also (temporarily) use js' encodeURIComponent function?

[2021-12-16 01:00] #4297 closed, assigned to sameerag

[2021-12-16 01:00] ghost commented on #4251
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2021-12-16 02:01] xiaolang124 opened #4329 "Can not open https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Can not open https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration, so I can not get login url from pca or open https://teams.microsoft.com/.

![Uploading image.png…]()

### Error Message

{
"error": "ser

[2021-12-16 02:28] xiaolang124 commented on #4329
Can not reproduce, I think this is fixed. Thanks.

[2021-12-16 02:28] #4329 closed, assigned to hectormmg

[2021-12-16 13:41] SnehalJ1509 commented on #4251
Found a solution to our problem.
As this issue was only in iPad Safari, we have asked our customer to re-enroll the corporate device such that it doesn't use certificate which will then solve the issue. And in desktop browsers it was working as expected.

So closing the issue.

Thank you everyone for your time, inputs and support! And sorry for the trouble. Happy coding. :)

[2021-12-16 13:41] #4251 closed, assigned to pkanher617

[2021-12-16 18:07] #4252 closed, assigned to jasonnutter

[2021-12-17 02:31] Arash-Sabet commented on #4292
@jasonnutter I will look into adding those missing files. Regardless, I am closing this ticket as the issue resolved after configuring MSAL per your guidance.

[2021-12-17 02:31] #4292 closed, assigned to jasonnutter

[2021-12-17 07:24] rojones94 commented on #4154
@peterzenz Would you be willing to consider an update from the community?

[2021-12-18 16:35] madmonkeyworks opened #4331 "MSAL sends "profile" scope by default. B2C uses only "openid" and "offline_access""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

We use loginRedirect() to authenticate users in our SPA (Gatsby). The response is an incorrect token (code).

Scopes we specified in the B2C registered app are "offline_access" and "openid" – more scopes are

[2021-12-19 01:00] ghost commented on #4321
@hitkumar25 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-19 01:00] ghost commented on #4319
@Sujith2020 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-19 13:00] ghost commented on #4293
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2021-12-19 13:21] madmonkeyworks commented on #4331
Resolved! Read the documentation for msal and B2C again and realized that msal v 2 does not support implicit  grant flow. So in B2C registred app > Authentication > Implicit grant and hybrid flows > uncheck both options. That way, you make use of the modern auth code flow.

Super hidden and not well documented, IMO.

![Screenshot 2021-12-19 at 14 16 11](https://user-images.githubusercontent.com/44

[2021-12-19 13:22] #4331 closed, assigned to hectormmg

[2021-12-20 01:00] ghost commented on #4266
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2021-12-20 11:36] Shyam268 commented on #4312
i tried to implement forgot password with this snippent

`
AuthConfig.getMsalInstance().addEventCallback((event: EventMessage) => {
  if (event.eventType === EventType.LOGIN_SUCCESS && event.payload) {
      const payload = event.payload as AuthenticationResult;
      const account = payload.account;
      AuthConfig.getMsalInstance().setActiveAccount(account);
  }
  if (event.eventType === EventT

[2021-12-20 21:03] ivan7707 opened #4332 "idTokenClaims using Typescript"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I am currently using the useAccount hook to retrieve account information for the logged in user.  When trying to access the any attribute (family_name in this case) that is not on the AccountInfo type I recei

[2021-12-21 01:00] ghost commented on #4326
@neilg63 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-21 17:23] jo-arroyo commented on #4332
@ivan7707 Can you check that the claim 'family_name' exists on the token? It may not be one of the claims that you can expect on tokens issued from Azure AD B2C (more information [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview)), so you may need to set a custom claim. See [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema) for more in

[2021-12-21 17:47] jasonnutter commented on #4326
Thanks @ahaenggli for sharing that workaround. At a minimum, we'll make sure this is documented properly.

[2021-12-22 00:26] ivan7707 commented on #4332
@jo-arroyo Thank you for responding.

I have setup custom claims that include the family_name attribute.  However, I was initially having the error: Property 'family_name' does not exist on type 'object" because the AccountInfo is a type where the idTokenClaims cannot be extended hence the suggestion from the other question issue:

`const family_name = (account?.idTokenClaims as IdTokenClaims).fam

[2021-12-22 01:00] #4311 closed, assigned to jasonnutter

[2021-12-22 04:12] #4332 closed, assigned to jo-arroyo

[2021-12-22 09:16] ecerulm opened #4334 "Warn the user if they use `responseMode: "form_post"` and `body-parser` middleware it's not present"
### Core Library

Passport Azure AD (passport-azure-ad)

### Wrapper Library

Not Applicable

### Description

If using

        "responseMode": "form_post",

and the express application is not using

[code]

The login flow will fail, usually ending in an infinite loop of redirects back to Azure AD, with no warning / message in the console log about what is happening.

I think, this could be impro

[2021-12-22 10:16] bumbel42so opened #4335 "Silent logout, login without cache token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

Hi guys,
i have a little special use case: I have a signed in user in my application, but the app requires also an four eyes principle. So I have to aquire a token(which will be checked in backend) for a

[2021-12-22 13:00] #4303 closed, assigned to jasonnutter

[2021-12-22 13:00] #4281 closed, assigned to jasonnutter

[2021-12-22 15:12] PJ-GitHub-DC opened #4336 "Redirect loop issues in Safari"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Our QA reported a bug where she could not log in to our environment. It would send her on an infinite loop and sometimes it would work after looping x amount of times, and sometimes it would just die out.

The issue does not

[2021-12-22 18:01] jasonnutter commented on #4312
@Shyam268 We can look at fixing the types, as scopes shouldn't be needed for login, but can you try adding a blank array for scopes to fix the typescript warning?

[code]

[2021-12-23 04:58] vs4vijay commented on #4293
This issue is very frequent seen in our services as well... Initially we were using proxy then we removed the proxy, still this issue is coming and it is intermittent. Can somebody provide the solution?

@sameerag

[2021-12-23 10:01] jitendraP-ashutec commented on #4154
@peterzenz  , I have upgraded my Angular project from  12 to 13. now after updating when I am logginghandleRedirectObservable returns null each time so that it goes into infinite looping.

[code]

Could you please help me?

[2021-12-23 10:13] michaelmairegger commented on #4154
@jitendraP-ashutec you should not upgrade to Angular 13 if you use msal. This is because Angular 13 requires RxJS 7.4 and msal 6.5.5

[2021-12-23 15:48] domiSchenk opened #4337 "Since @azure/msal-common@5.1.0"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^5.1.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.0.3

### Description

In our Angular app we used the following dependencies:
[code]
We had to update another library and got new versions of @azure/msal-* libs. (common: 5.2.0)
now we noticed the login does not work anymore.

[2021-12-25 13:00] ghost commented on #4266
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2021-12-26 01:00] #4321 closed, assigned to jasonnutter

[2021-12-26 03:34] Augustya-sharma opened #4338 "Images form SharePoint List not visible in react application"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I am trying to get images from the SharePoint List and display the images in react application. The Images aren't visible when we login using graph api. But when we open the image url in the new tab and login

[2021-12-26 13:00] #4319 closed, assigned to jasonnutter

[2021-12-27 02:38] jo-arroyo commented on #4336
@PJ-GitHub-DC Does this behavior still occur if "Prevent cross-site tracking" in Safari is disabled? Alternatively, does this behavior still happen if the cloud discovery metadata is not provided?

[2021-12-27 02:46] jo-arroyo commented on #4335
@bumbel42so We are currently working on a feature to improve the logout experience, and will have documentation when it is ready. In the meantime, you can try setting the browser cache location to `BrowserCacheLocation.MemoryStorage` so tokens are not persisted across page loads.

[2021-12-27 02:50] jo-arroyo commented on #4293
@xiaolang124 Please email us a Fiddler trace of this behavior so we can look into it further. My email can be found in my profile.

[2021-12-27 02:56] jo-arroyo commented on #4266
@dhruvildave22 It is possible that something on the Dynamic 365 side is clearing the hash. You can confirm this by debugging the MSAL library, specifically `monitorPopupForSameOrigin`, [shown here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/67e4af7ed6640ea1e140ed2eb3aec4bf6f5b674c/lib/msal-browser/src/interaction_handler/PopupHandler.ts#L58). If the hash is not in the

[2021-12-27 19:20] pkanher617 commented on #4337
@domiSchenk Can you provide some more details of the error you are getting? If you have any additional details like a Fiddler trace you can send it to my email (available in my profile page).

MSAL will make the refresh token request if the acquireTokenSilent call does not find a token.

[2021-12-27 19:46] pkanher617 commented on #4338
This sounds like it may be an issue that the Sharepoint team can help you with, you can try submitting an issue [here](https://github.com/SharePoint/sp-dev-docs/issues).

It does look like the Microsoft Graph API [supports a subset of Sharepoint REST operations](https://docs.microsoft.com/en-us/sharepoint/dev/apis/sharepoint-rest-graph), you may be able to try using the endpoints in the provided l

[2021-12-28 08:09] GeorgSteyn opened #4341 "React 18 Support and Issues"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

As React 18 RC is released I think it would be nice to have efforts to work on support for React 18. I have tried upgrading my project to React 18 and I get a weird navigation loop between my app and the MS Login. After a few navigations, it always stops on the MS Login.

I am

[2021-12-28 08:42] Shyam268 commented on #4312
I tried with empty array and when i click forget password it always redirect to the same page
which is
![image](https://user-images.githubusercontent.com/30112490/147546936-e5b64008-1014-4c7d-bce1-f34fc3f8bdfc.png)

please provide any example which works with react typescript

[2021-12-28 21:02] pkanher617 commented on #4341
@GeorgSteyn Thank you for opening this. We are planning on supporting React 18 in the future, and will post updates when React 18 is out of beta as a full release.

Could you confirm that the navigation loop doesn't occur in React 17 (latest)?

[2021-12-28 21:39] GeorgSteyn commented on #4341
Hi,

I am glad to hear there are plans for it.

My application is running in production with React V17.0.2 everything still running smooth.

[2021-12-29 08:18] GeorgSteyn commented on #4341
@pkanher617 As a test I created a blank application with Create React App and upgraded the app to React 18.

With the below minimum code I could replicate my redirect to the login issue.

[code]

[2021-12-29 16:59] pkanher617 commented on #4341
Thanks @GeorgSteyn we will take a look at this as part of supporting React 18. Appreciate your feedback! :)

[2021-12-30 09:58] domiSchenk commented on #4337
Hi @pkanher617

I'm currently on holiday, i will reply next week.

[2021-12-31 15:34] mbarzda commented on #4154
Angular 13 supports both rxjs v6 and v7 https://github.com/angular/angular/blob/13.0.0/packages/core/package.json#L19 . So, it is safe to upgrade to Angular 13.

[2022-01-01 13:00] ghost commented on #4336
@PJ-GitHub-DC This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-01 13:00] ghost commented on #4335
@bumbel42so This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-01 13:00] ghost commented on #4293
@xiaolang124 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-01 13:00] ghost commented on #4266
@dhruvildave22 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-02 01:00] ghost commented on #4338
@Augustya-sharma This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-03 05:56] dhruvildave22 commented on #4266
@jo-arroyo let me look into it with `monitorPopupForSameOrigin`.

[2022-01-03 08:48] domiSchenk commented on #4337
we found the problem.
Out ADFS did not have enough rights to read the Private Key. 🤷‍♂️

[2022-01-03 08:48] #4337 closed, assigned to pkanher617

[2022-01-03 19:23] jasonnutter commented on #4312
Okay, that seems like an issue with your password reset policy then? Is this a standard or custom policy?

[2022-01-03 21:22] jermylucas opened #4345 "Slow Logins and Redirects using MSAL with Azure AAD and B2C"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

I am submitting this request in hopes of some help with long response times.

I have an application with our organization, where the Microsoft Sign In is the only available sign-in option. There is no lan

[2022-01-03 21:46] joshfree opened #4346 "Add WAM Support to MSAL for JS, for cross-language consistency"
### Core Library

MSAL.js v2 (@azure/msal-browser), MSAL Node (@azure/msal-node)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL React (@azure/msal-react), MSAL Node Extensions (@azure/msal-node-extensions)

### Description

Today WAM support is only in MSAL for .NET. In order to support WAM in Azure Identity Client Library and meet Azure SDK Design Guidelines (of maintaining featur

[2022-01-03 21:53] jasonnutter commented on #4346
@joshfree Thanks. For this type of ask, I would recommend connecting with @peterzenz and @EmLauber to make sure this is tracked in ADO, especially given some of this work is already in progress.

[2022-01-03 21:59] joshfree commented on #4346
Thanks.  ADO issues are incoming; just filing on github first.

[2022-01-03 22:25] jermylucas commented on #4345
One additional note is that this long timing is on the first login (new browser session, incognito window, or hard refresh). If I simply refresh the page, or use the same browser session, it is closer to 500-600ms for each of the above mentioned requests (so about 1.5s total)

[2022-01-03 22:32] sameerag commented on #4346
Just to add context,
* This is in progress with some work in progress for msal-browser - which will be extended to msal-react and msal-angular for which ADO items already exist.
* msal-node WAM support will be similar to msal-java, msal-go and msal-python - which is also tracked in ADO

I can sync up offline to send those ADO items your way or @EmLauber  can help with the same.

[2022-01-03 22:34] #4295 closed, assigned to jasonnutter

[2022-01-04 00:05] jermylucas commented on #4345
One thing I forgot to mention is that in the `b2c.config.ts`, I am getting the config from a `.env` file from the browser for our environment variables. That's where the variables come from in the config file above.

[2022-01-04 00:07] jasonnutter commented on #4334
@ecerulm Apologies for the delayed response, thanks for the suggestion. We're currently not working on new features for `passport-azure-ad`, but will consider this for our future Node middleware offerings. cc @jo-arroyo

[2022-01-04 08:17] shibayan opened #4361 "How to disable sending the `x-client-last-telemetry` parameter"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When you configure Azure AD B2C Custom Domain and enable Front Door WAF, requests may be blocked depending on the value of the `x-client-last-telemetry` parameter.

When the session is cleared, MSAL.js may send parameters suc

[2022-01-04 10:21] san-goyal commented on #2600
We are also facing same issue. Could someone please share the code snippet to resolve the issue?

Dependency
`@azure/msal-node": "^1.3.0"`

Config
[code]

Error
[code]

[2022-01-04 16:09] jermylucas commented on #4345
I wanted to add one additional note. Even when the user has an active B2C instance, the page still redirects through the MSAL Redirect, and makes the login take a little bit longer. Is this expected? Or should I be checking if there is an active B2C instance prior to the redirect doing anything?

B2C is on the P1 Premium plan with Azure. I didn't see any difference in speed vs the P2, but maybe I

[2022-01-04 17:06] Robbie-Microsoft commented on #2600
@san-goyal per your error message, you may want to add the following to your auth block:
`knownAuthorities: ["https://login.microsoftonline.com/${tenantID}/,"]`

[2022-01-04 17:32] ashinzekene opened #4362 "Redirect uri not working for msal-angularjs"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

0.0.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

0.1.1

### Description

Redirect uri is always the current location even after setting a `redirectUri` in config for [msal-angularjs](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/maintenance/msal-an

[2022-01-04 18:15] michaelmairegger commented on #4154
@mbarzda thanks for the information. Thats indeed true. I have updated one of my projects using msal to Angular 13 without any issues.
In order that `npm dedupe` works I needed to specify the version for rxjs like in Angular's package.json does: `"rxjs": "^6.5.3 || ^7.4.0"`

[2022-01-05 04:28] Shyam268 commented on #4312
It is a standard policy . the forgot password policy works for other projects

[2022-01-05 06:32] p-rk commented on #4336
we too facing the same issue with Safari browser.

[2022-01-05 08:08] sandrooco commented on #4298
@sameerag First of all: I hope you had a good start into the new year!
Is this something you'd let the OS community do or is it rather something you'd like to handle internally?
I'm be interested in contributing to this and also #4154 (could be done in the same PR).

[2022-01-05 12:08] AlexSpelt opened #4364 "Depricated import for UUID"
### Core Library

ADAL Node (adal-node)

### Core Library Version

0.2.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Your package imports a deprecated version of UUID. Please update UUID to at least version 7. The current version clutters my npm install with deprecation warnings.

### Error Message

npm WARN deprecated uuid@3.4.0: Please upgrade to ver

[2022-01-05 13:39] ShamiliSingidi commented on #3260
I want to access my node API through Angular App. Both are registered under same AD. I am getting jwt cannot verify. Anyone please help me

[2022-01-05 14:42] sameerag commented on #4298
@sandrooco A very happy new year to you too! :)
We welcome contributions and in-fact would appreciate the community involvement in our work. Please check our community [guidelines](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/contributing.md) to get started. cc @jasonnutter

[2022-01-05 15:46] jermylucas commented on #4362
@ashinzekene Your redirect uri is set to `htts://google.com` instead of `https://...` . If you make it https instead of htts, will it work? The uri should need either http or https depending upon the site

[2022-01-05 16:18] ashinzekene commented on #4362
Oh that was a mistake. It doesn't work with https uris

[2022-01-05 17:12] kyubisation opened #4366 "msal breaks with authority url with upper case letters"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

When using an authority with upper case letters (and an authority with case sensitive url) msal breaks, since it cannot load the well known infos. This is the case for RedHat SSO.

e.g.
[code]

This is es

[2022-01-05 17:23] tnorling commented on #4364
@AlexSpelt Please migrate to `msal-node` as `adal-node` is no longer receiving updates at this time. Migration docs can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-node-migration)

[2022-01-05 17:25] tnorling commented on #4362
@ashinzekene `msal-angularjs` is no longer receiving updates. Please use `msal-angular` instead.

[2022-01-05 17:34] tnorling commented on #4361
@shibayan There is not currently an option to disable this but we have filed an item in our backlog to investigate. We'll update this ticket when we have more to share. Thanks for raising this!

[2022-01-05 18:14] tnorling commented on #4345
@jermylucas These numbers don't look unreasonable. The sign-in process requires several redirects which can take a non-trivial amount of time depending on the user's network connection and the policy you are using. That said, once a user has signed in you should be able to acquire tokens silently (from the cache or by exchanging the refresh token when the cached tokens are expired) without requiri

[2022-01-05 19:26] jermylucas commented on #4345
@tnorling Thank you for the response and the details. I'll do my best to explain what's going on, as I think something is off on my end.

I don't believe this is intentional, but yes we are getting redirects any time the page is _not_ refreshed (new tab, browser, etc). The user's token is being stored in session memory (using state management), so if the user opens a new instance (ie new browser t

[2022-01-05 19:48] tnorling commented on #4345
@jermylucas This is expected behavior when using `sessionStorage` because each new tab or browser instance starts with a clean cache and has no knowledge that you are already signed in. If you'd like to preserve state across tabs you should use `localStorage` instead.

For example, say I log into office.outlook.com using my name@company.com (same login for my application). Now, I open a new tab wi

[2022-01-05 20:19] alexander-kastil opened #4367 "Inject MSAL config using code"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

MSALInstanceFactory, MSALInterceptorConfigFactory require some data like clientid, authority (tenantid for single tenant apps) and also protectedResourceMap info like the api url (protectedResourceMap.set

[2022-01-05 20:27] ashinzekene commented on #4362
`msal-angular` is for angular2+ apps. I'm working with a legacy angular1 application @tnorling

[2022-01-05 21:05] EmLauber commented on #4346
I have synced up offline and provided the ADO items.

[2022-01-06 04:12] jermylucas commented on #4345
I was going to ask a follow up question about this but think you may have answered. Does that mean using the app as I have will not allow a login redirect to occur before the UI is loaded? One thought I had was to include the `this.msalService.loginRedirect()` in the constructor of the app-shell (app component) if there is no instance of an account. I noticed that the UI will still attempt to comp

[2022-01-06 08:07] #4364 closed, assigned to samuelkubai

[2022-01-06 08:23] san-goyal commented on #2600
@Robbie-Microsoft  thanks for your response.

Now code started throwing different error. 240 out of 2400 requests got failed. Behavior is intermittent.

[code]

[2022-01-06 10:05] nilact opened #4369 "Azure B2C - MSAL.js Session Behavior with Multiple Tabs"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

We're using MSAL.js V2 to authenticate with Azure B2C AD and are able to retrieve the token, renew it, and log out the user of the system. At present, we're using sessionStorage as recommended [here](https://

[2022-01-06 11:08] julian-code opened #4370 "localStorage multiple tabs direct access"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

When trying to access a link directly in a new tab, I'm routed to /, when I should be routed to the URL in the link.

Ex.
1. Accessing a specific route.
2. Copying the route.
3. Opening new tab.
4. Paste

[2022-01-06 12:35] hannonjohn opened #4371 "MsalService.handleRedirectObservable not returning accountState/state on error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

I'm migrating from v1 > v2 and using the redirect flows.

I am passing custom state via the `state` parameter in the `RedirectRequest`.
For example, I am passing the B2C userflow name.

The v1 `MsalService.handleRedirectCallback((error, response) => {})` was returning `acco

[2022-01-06 13:09] san-goyal opened #4372 "[msal-node] ClientAuthError: network_error: Network request failed."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.5.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0

### Description

@azure/msal-node library throws error intermittently while retrieving access token using client credential code auth.

### Error Message

[code]

### Msal Logs

[code]

### MSAL Configuration

[code]

### Relevant Code Snippets

[c

[2022-01-06 16:54] tnorling commented on #4345
MSAL does not take any dependency on any UI, it doesn't care if you render the UI before or after or at the same time. The best way to achieve what you're asking here is to use the `MsalGuard` as the Guard is invoked **before** hitting the route and will only load the route if a user is signed in.

[2022-01-06 21:30] jermylucas commented on #4345
@tnorling Thanks again for your help and clarification.

The AppShell is not protected by a guard since it is the shell but all the other routes are protected that are fed into the shell. That makes sense why this behavior is happening then (since the projects that are injected into the shell are not loaded).

One (I think) last question about this. I have the `LocalStorage` solution set up. But m

[2022-01-06 23:00] tnorling commented on #4345
@jermylucas This is a nuance of how B2C works. By default B2C might not log you out of your federated identity provider when you call the logout endpoint, this is explained in more detail [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-user-flow#sign-out). I unfortunately don't know enough about B2C configuration to give you a definitive answer but yo

[2022-01-07 01:20] AgarwalKush opened #4375 "PKCE code challenge and verifier could not be generated error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Using the redirect login flow on a React single page application, but getting the following error:

`BrowserAuthError: pkce_not_created: The PKCE code challenge and verifier could not be generated. Detail:Typ

[2022-01-07 05:44] justinmchase opened #4376 "How is token caching supposed to work with horizontal scaling?"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am using the ConfidentialClientApplication form my backend and I'm trying to support refresh tokens and its my understanding that I should instead use the acquireTokenSilent function and that msal-node does the caching... but I

[2022-01-07 07:00] ashinzekene commented on #4362
I was using the wrong version of msal

[2022-01-07 07:00] #4362 closed, assigned to samuelkubai

[2022-01-07 10:01] bumbel42so commented on #4335
@jo-arroyo I tried it with ``cacheLocation: BrowserCacheLocation.MemoryStorage`` and  ``storeAuthStateInCookie: true`` but the SSO problem that i can login via SSO on other sides remains. Any other ideas for a workaround?
Do you have a timeline for the improved logout experience?

[2022-01-07 17:46] tnorling commented on #4375
@AgarwalKush This means the browser crypto APIs are not available. Is your site running on https?

[2022-01-07 18:04] tnorling commented on #4372
@san-goyal This error is thrown because the fetch call to the /token endpoint timed out. It suggests there's a network connection issue between your machine and the /token endpoint which could be due to many reasons. There's unfortunately not a whole lot we can do to help you debug this as it's not so much an issue with the library as an issue with your environment. If you're making thousands of c

[2022-01-07 18:16] tnorling commented on #4366
@kyubisation You can provide the well-known metadata manually by following the instructions in [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/performance.md). Unfortunately support for 3rd party IDPs is limited, we try our best to make MSAL work with non-Microsoft OAuth compliant IDPs, however, we are unlikely to prioritize fixing broke

[2022-01-07 23:26] kyubisation commented on #4366
Hello @tnorling
Thanks for the feedback. I will bring it up during our next meetup with our Microsoft contacts.

[2022-01-08 06:22] billti opened #4377 "The redirect API descriptions are incorrect"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Documentation Location

lib\msal-browser\src\app\ClientApplication.ts

### Description

The comments/docs for the APIs such as loginRedirect and acquireTokenRedirect state

However this is not true. I was getting exceptions on the following lines expecting them to not execute per the docs, but they were ru

[2022-01-08 13:00] ghost commented on #4266
@dhruvildave22 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-09 01:00] #4338 closed, assigned to pkanher617

[2022-01-09 01:00] #4293 closed, assigned to sameerag

[2022-01-09 14:36] Jacooscript opened #4378 "(Cancel button) Error - Guard - error while logging in, unable to activate"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

I am integrating B2C the same way as it's described in https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/2-call-api-b2c in my project

My app has "/pane

[2022-01-10 10:36] Bartheleway opened #4379 "Salesforce integration impossible"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

There is a small failure in the process of retrieving cached data.

On our case, we try to integrate on Salesforce environment. Unfortunately for us, Salesforce first load it's own framework which add a kind of proxy to all w

[2022-01-10 17:29] samuelkubai commented on #4376
Hi @justinmchase,

To answer the question of "Why cache this at all?", we cache this information to reduce the round trips to the server and back and have the subsequent sign ins be a lot faster by utilizing the cached data.

You are absolutely right about horizontal scaling that's what the pull request #4279 is working on adding, a layer to allow our users to use some form of cache like redis and

[2022-01-10 17:29] samuelkubai commented on #4376
Once this pull request is merged it should provide the right tools and samples to make this possible.

[2022-01-10 17:36] tnorling commented on #4367
@arambazamba Can you please review our [configuration docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/configuration.md) and let us know if your question is answered there? Thanks!

[2022-01-10 17:51] var1ap-WA opened #4381 "MsalInterceptor do not set IdToken to Authorization header when I pass 'openid' scope"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.0

### Description

As you mention in [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2f0c4095993f54056acc1b30b52628a9a308cd9e/lib/msal-angular/src/msal.interceptor.ts#L67)
I jus

[2022-01-10 18:11] tnorling commented on #4369
@nilact This behavior is caused by either:

1. Your application is not providing a `loginHint`
2. B2C is not forwarding the `loginHint` to your federated IDP

Point 2 was previously not implemented on the B2C server side. This is now configurable in custom policies and has been implemented for _some_ IDPs in basic policies. This was the "fix" referenced in the issue you linked. If you need help co

[2022-01-10 18:16] tnorling commented on #4377
@billti You're right, because these APIs are asynchronous that comment should probably read: `This function redirects the page, so any code that follows this function should not be expected to execute.`

[2022-01-10 18:20] tnorling commented on #4370
@julian-code Can you reproduce this behavior with one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples)?

[2022-01-10 18:36] tnorling commented on #4378
@EvgenStudent Looks like you've configured a `loginFailedRoute` on your `MsalGuard` which is redirecting you back to the homepage when you've clicked the cancel button. What is the behavior you expect to see?

[2022-01-10 18:40] tnorling commented on #4335
@bumbel42so The silent sign-out feature is committed but we don't have an ETA to share at the moment. We will link the pull request containing this feature when it is ready so that you can track its progress. New versions of our libraries are released on the first Monday of every month.

[2022-01-10 18:48] tnorling commented on #4379
@Bartheleway

Is this intended behavior by the framework you're using? Unfortunately with something like this, where the proxy behaves differently from the browser APIs it may be difficult for us to support. Even if we fix this line for you now there's no guarantee it won't break somewhere else or break again in the future as it sounds like this is a non-standard implementation. I would suggest re

[2022-01-10 18:52] tnorling commented on #4381
@var1ap-WA Only access tokens are attached to the `Authorization` header by the interceptor. Can you please explain why you need the idToken to be attached? We highly recommend using access tokens to protect your APIs.

[2022-01-10 19:53] justinmchase commented on #4376
Hello @samuelkubai  I left some code comments on the PR, sorry I could be wrong but it looks like it probably won't be sufficient.

I managed to find a workaround which is to tap into the kvstore in the cache after token is created to find the refresh token. But it feels like a hack and I'm not real happy about getting stuff right from the kvstore like this.

On the other hand I think adding a ISt

[2022-01-10 23:42] Hopp3r opened #4382 "Question about Password Reset & MsalAuthenticationTemplate"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I've recently begun to implement a forgot password (redirect) flow into my React application.
I've elected to use MsalAuthenticationTemplate and have some questions about implementation.

Forgot password is h

[2022-01-11 00:00] AgarwalKush commented on #4375
Running on HTTPS worked.  Thanks!  This isn't an issue with MSAL, but with the way I set it up.   Closing this thread.

[2022-01-11 00:00] #4375 closed, assigned to samuelkubai

[2022-01-11 01:26] tnorling commented on #4382
@Hopp3r Rendering the error component should already be gated by interaction status on [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2f0c4095993f54056acc1b30b52628a9a308cd9e/lib/msal-react/src/components/MsalAuthenticationTemplate.tsx#L47)

Is it possible that the brief visibility here is due to `InteractionStatus` briefly being `None` between your 2 interacti

[2022-01-11 06:01] samuelkubai commented on #4376
Hi @justinmchase, I have addressed your concerns on the pull request.

[2022-01-11 07:59] julian-code commented on #4370
Hey, @tnorling thanks for the response and great work on the library.

I will come around to making the sample, however, I experience the same behavior if I refresh the browser. I'm redirected to '/#/' after the refresh has finished. I would expect to stay on the route I'm at if I refresh the browser.

Ex. I log in. I go to /#/what-ever-route. I hit refresh. I'm redirected back to /#/ in a logged-

[2022-01-11 11:35] var1ap-WA commented on #4381
Hi, @tnorling
Because I use [AddMicrosoftIdentityWebApi](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.microsoftidentitywebapiauthenticationbuilderextensions.addmicrosoftidentitywebapi?view=azure-dotnet) in my ASP.NET application
And it's not working with this Interceptor, but it's working when I send the IdToken
![image](https://user-images.githubusercontent.com/63446336/1489

[2022-01-11 12:42] nilact commented on #4369
@tnorling

I checked that login_hint works with the email address by hardcoding it. However, could you please provide an example of using it with MSAL.js considering the below code snippet:

[code]
What are the possible values for login_hint apart from email address? We only want at this stage to prompt the user to login into a new tab while using the sessionStorage. We don't want to pre-populate

[2022-01-11 17:33] tnorling commented on #4381
@var1ap-WA That should support access tokens. The `openid` scope will return an access token for MS Graph so audience validation in your middleware will fail. Without more information about what exactly is failing that would be my first guess as to why it's not working with your current config. You should create a custom scope for your API on your app registration and then request this new scope i

[2022-01-11 17:44] tnorling commented on #4370
@julian-code Thanks. I'm also noticing the logs in the original issue seem to be incomplete, I'm not seeing the navigation back to the home route. Could you provide a full set of logs from initial page load (or refresh) to the end state?

[2022-01-11 17:58] tnorling commented on #4369
@nilact

`login_hint` is only email address for B2C scenarios. If all you want to do is force a sign-in prompt and skip SSO you can provide `prompt: "login"` but that is different from the issue described in the issue you linked. I'm a bit confused, it's not entirely clear to me the behavior you are experiencing vs. what you expect to experience. Could you please describe specifically the issue yo

[2022-01-11 18:02] jasonnutter commented on #4379
Is there documentation for this framework (and specifically about this proxy)?

[2022-01-11 18:31] Bartheleway commented on #4379
Hi, unfortunately there is no precise documentation about this. To make a short answer, in Salesforce we run our web components in a secure context where some best pratices are enforced. They call it [LockerService](https://developer.salesforce.com/docs/component-library/tools/locker-service-viewer). They basically have proxied all the known public API, this is working great and it complicates our

[2022-01-11 18:42] jasonnutter commented on #4379
Thanks, found this: https://developer.salesforce.com/docs/component-library/documentation/en/lwc/security_locker_global_access

[2022-01-11 18:45] jasonnutter commented on #4379
I agree with @tnorling though, we'll need to discuss whether to fully support this environment.

[2022-01-11 19:21] tnorling commented on #4379
@Bartheleway I found [this](https://github.com/salesforce/lwsec-docs-mirror/blob/main/packages/%40locker/distortion/docs/distortions.md#distorted-behavior-56) which explicitly calls out `Object.keys(localstorage)` as being supported by Salesforce. It seems Salesforce either has a docs issue or an implementation bug and I suggest bringing it up with them. I'll also point out that MSAL.js [supports

[2022-01-11 19:52] julian-code commented on #4370
I just tried to reproduce the error in the B2C sample unsuccessfully. It seems to be something with my routing. Here is the log, where I log in, go to a route, refresh, and I am redirected. However, for some reason, the log doesn't include when the URL is changed to /#/.

The refresh is written with **REFRESH IS HIT**. Could it be because the routes I'm refreshing on do not use the `MsalGuard`?

[

[2022-01-11 21:12] Bartheleway commented on #4379
Indeed I agree they seems to have it documented on Lightning Web component framework. In my case we are running on the aura framework which is a, let's say, previous version.

I will try to open a ticket on their side to see what is the official position. In the meantime I did a custom version of msal with my PR modification and it's working like a charm. Apart from Salesforce having documented th

[2022-01-11 22:30] jasonnutter commented on #4379
Quite certain this is intended behavior, as the Storage interface is a [Map](https://infra.spec.whatwg.org/#maps) underneath.

[2022-01-11 22:50] Bartheleway commented on #4379
From my point of view underneath implementation shouldn't be source of truth as it might change in the future if not in the spec.

Apart from that I wonder how can we make the proxy to be iterable. I will have more luck if I come with a solution rather than only the issue. Could you provide any help with this ?

[2022-01-12 00:05] tnorling commented on #4370
@julian-code

Do these routes have some other Guard enabled on them that could be causing this redirect back to the homepage? If the route isn't guarded by `MsalGuard` it's likely not MSAL that's changing the route on you. I would also expect to see a log from either msal-browser or msal-angular or both if it was redirecting to a different route, but I don't ☹️ Let us know if you're able to get a

[2022-01-12 01:00] ghost commented on #4345
@jermylucas This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-12 08:17] billti commented on #4377
Thanks @tnorling. To me that still implies that nothing will execute after this call, which isn't the case. I think a more accurate statement would be `This function initiates a page redirect. The Promise returned by this call will never complete, however any subsequent code that doesn't "await" that promise may continue to execute until the redirect occurs`

Or is that a little too wordy and tech

[2022-01-12 08:42] Jacooscript commented on #4378
@tnorling
Even if I remove `loginFailedRoute` in my `MsalGuard`, everything works the same, but now my landing page is blank after all redirects.
I think, since EditProfile is canceled (== auth is failed), it can not activate the guard. But I already have an ActiveAccount in MsalService created by SignUpSignIn policy.

Behavior what I expect is redirect to the initial "/panel/settings" (where Edit

[2022-01-12 09:52] julian-code commented on #4370
That is totally correct. I missed a guard, which redirected me to home. Here is the guard:
[code]
Look at the `catchError`.
The `this.sessionService.profile$` is set here in `app.component.ts`.
[code]
The `new SessionRestored` sets the $profile. This session is not set when the guard is activated. I will look into how to fix this race condition. Thanks for the help @tnorling! Have a nice day.

[2022-01-12 09:52] #4370 closed, assigned to samuelkubai

[2022-01-12 09:58] Inframatic opened #4387 "MsalService has no documentation for functions inside of service"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-angular/classes/_msal_service_.msalservice.html

### Description

These functions lack documentation inside the code base.

![Screenshot 2022-01-12 at 10 56 59](https://user-images.githubu

[2022-01-12 10:22] nilact commented on #4369
I thought that the Azure B2C team had not resolved the issue yet, and that is why sessionStorage is not working the way it is mentioned in the documentation. But as you confirmed, the Azure B2C team fixed the issue, and it prompts the user to log in while using sessionStorage along with login_hint or prompt.

Yes and Yes.

Thanks, this works. I wanted to use sessionStorage, and it should behave th

[2022-01-12 13:00] #4336 closed, assigned to jo-arroyo

[2022-01-12 15:16] syed-ahmad commented on #4382
I'm facing the same issue, will put together a sample to reproduce that.

[2022-01-12 15:53] bgavrilMS opened #4388 "Add observability mechanism"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

Please see https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/4733

The gist of it is:

Systems in production need to be monitored. As a critical library, MSAL must facilitate both runtime monitoring, as well as inform the app developers about substandard (non-

[2022-01-12 16:08] var1ap-WA commented on #4381
@tnorling Your guess was correct. It's working with custom scope.
But I still can get access to my API by IdToken. Is it correct behavior ?

[2022-01-12 16:48] jermylucas commented on #4345
Thanks @tnorling  for your help. With this issue's changes and some help with B2C support on the Q&A forum and Stack Overflow I think we're in a better situation.

[2022-01-12 16:48] #4345 closed, assigned to tnorling

[2022-01-12 18:28] tnorling commented on #4369
@nilact Ah I see the confusion. There are 2 places a user's authentication context is held:
1. In your application (e.g. browser storage)
2. On the authentication server (e.g. cookies)

`localStorage` and `sesisonStorage` only control the boundary for your application's context and does not affect the server context.

In the doc, this line:

should instead read:

I'll see if we can get this doc up

[2022-01-12 18:33] tnorling commented on #4387
@Inframatic Thanks for pointing this out, we'll add this to our backlog. Did you have any specific questions about any of the APIs I can help you answer?

[2022-01-12 18:41] tnorling commented on #4381
@var1ap-WA This would be something you have to configure in your middleware. I'd suggest reaching out to the folks who maintain that to get some guidance on the correct configuration.

[2022-01-12 19:05] san-goyal commented on #4372
@tnorling  - thank you for your response.

Yes, i have seen many instances where /token endpoints works with higher number of requests but sometimes not.

Setup is plain azure function running on azure tenant without any network layer involvement. I don't find any throttling limit shared by Microsoft for /token endpoint.

[2022-01-12 21:06] Thnslj opened #4389 "Best pattern for reading App Roles for an API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I have successfully configured connected two App's using the [azure-tutorial ](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/5-AccessControl/1-call-api-roles/README.md

[2022-01-12 21:17] #4381 closed, assigned to tnorling

[2022-01-13 07:43] nilact commented on #4369
@tnorling

Thanks for clearing the air.

Yes, my issue is resolved now after using the prompt parameter as you mentioned.

Regarding documentation, it seems that the Azure B2C session cookie is having precedence on sessionStorage if you don't use prompt/login_hint. The authentication would be shared across tabs even if you use sessionStorage. This is what I experienced and it should be mentioned e

[2022-01-13 10:41] bourne-xian opened #4393 "MSAL cannot logout user directly/silently"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

Use the configuration options for logout by following [article](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#logoutredirect), it still failed to logout user directly but redirect to end session endpoint and ask

[2022-01-13 12:35] SimonGolms commented on #3420
Website were moved, here is the new link: https://feedback.azure.com/d365community/idea/e8d41bf6-c625-ec11-b6e6-000d3a4f0789

[2022-01-13 12:57] SimonGolms commented on #3420
We are also in the progress to Azure App Proxy and due to the previous implementation of MSAL 2.x in our web applications, we are running into incompatibilities with Microsoft products. Who (MSAL or App Proxy team) is responsible for this? Who should be contacted to ensure that this incompatibility is resolved in a prioritized way or how can we support you @jasonnutter in solving this issue asap?

[2022-01-13 18:47] tnorling commented on #4378
@EvgenStudent Thanks for clarifying. I was able to reproduce this behavior and agree this is something we can and should improve. I've marked this as a bug and added an item in our backlog to investigate the best way to solve this as this would affect any scenario where at least one user is signed-in and an interactive request fails. In the meantime I would suggest copying the  [Guard](https://git

[2022-01-13 18:56] tnorling commented on #4393
@bourne-xian The silent logout feature is being tracked in #4335. Closing this as duplicate

[2022-01-13 18:56] #4393 closed, assigned to nobody

[2022-01-13 19:37] tnorling commented on #4389
@Thnslj You can use the roles claim in the idToken to determine what roles the user has. The tutorial shows one example of how to do this [here](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/5-AccessControl/1-call-api-roles/README.md#angular-roleguard-and-protected-routes-for-role-based-access-control). You can also read more about roles [here](https://docs.mic

[2022-01-13 19:40] tnorling commented on #4372
Does it work more consistently with _fewer_ requests?

[2022-01-13 19:42] tnorling commented on #4377
@billti Feel free to open a pull request with your proposed changes

[2022-01-13 19:43] Thnslj commented on #4389
@tnorling Thanks for the answer..
Yes I know I can check the `idToken`. But those roles will be those that are configured on the SPA. Not those that are configured on the API.

If you look in the tutorial, they are adding them both the API and the SPA:

This is done twice:
![image](https://user-images.githubusercontent.com/20703505/149398271-469e0847-426a-49ec-89bd-7df564d41cad.png)

[2022-01-13 20:58] nopsal opened #4398 "ssoSilent Incognito code fix"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi all,

I am currently working on an app using ssoSilent. When the app is accessed in incognito mode in Chrome there is an error because no user is recognized. I know this can be fixed by changing Chrome settings to allow al

[2022-01-13 21:12] tnorling commented on #4398
@nopsal Unfortunately, the ssoSilent API depends on 3rd party cookies. When these cookies are blocked you will have to use an interactive method for the first sign-in (sso may still work in "interactive" cases in the sense that the user may not be asked for credentials but you still need to either redirect or open a popup). After the first sign-in you can silently acquire tokens using the `acquire

[2022-01-13 21:23] tnorling commented on #4389
@Thnslj Does your access token contain the correct roles when only configured on the API? Can you add an API to your backend that reads the token and returns the list of roles? Otherwise perhaps `groups` are more in line with what you're looking for. See the comparison [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#app-roles-vs-groups)

[2022-01-13 21:28] Thnslj commented on #4389
Yes they contain the correct roles.

Yes I could do that. However, I have multiple API's, and it feels like a hack to implement that in every API I will be calling.

[2022-01-13 21:30] tnorling commented on #4389
Are they just different endpoints or do they each have their own distinct applicationId?

[2022-01-13 21:31] Thnslj commented on #4389
Different applicationId's

[2022-01-13 21:51] tnorling commented on #4369
@nilact It's not really a question of "precedence". These are 2 completely different things that control different behaviors. Taking another look at the doc you mentioned, it does explain both of these (application storage vs. server session cookie) albeit without the `prompt` control bit. I agree the wording here could be improved to make the difference more clear but the doc is also pretty out o

[2022-01-13 22:01] jasonnutter commented on #4379
That is a link to the spec above (and I don't expect it to change).

For this specific issue, we would ask that you get confirmation from Salesforce about the intended behavior for `Objects.keys(localStorage/sessionStorage)`, as their documentation explicitly states it should be supported. We would prefer not to make changes to the library to account for bugs in frameworks like this.

Generally sp

[2022-01-13 22:02] tnorling commented on #4389
@Thnslj Looks like you can use the [MS Graph API](https://docs.microsoft.com/en-us/graph/api/user-list-approleassignments?view=graph-rest-1.0&tabs=http) to retrieve user app roles. It's unfortunately not something I'm personally familiar with, if you have questions or issues using the Graph API you can ask the Graph SDK team [here](https://github.com/microsoftgraph/msgraph-sdk-javascript)

[2022-01-13 22:13] jasonnutter commented on #3420
@SimonGolms Apologies for the delayed response. The App Proxy team is aware of this issue, however, we have no ETA to share at this time, unfortunately. We'll update this issue when we have more information.

[2022-01-14 06:45] SimonGolms commented on #3420
@jasonnutter thanks for your quick reply, sounds great that you are aware of the issue and urgency! Looking forward to any progress and hopefully a fix to the issue soon. And please let me know if there is anything we can do to support you here.

[2022-01-14 07:57] Miwa199739 opened #4400 "handleRedirectPromise() in MSAL2.0 clears all hash values regardless of the fragment name"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

handleRedirectPromise() in MSAL2.0 clears all hash values regardless of the fragment name

Access a SPA (built with Angular) with any url containing a hash, e.g. https://adf.azure.com/en-us/authoring?factory=xxx#myCustomziedHa

[2022-01-14 08:53] muthurnd3 opened #4401 "msal-react logout request is getting cancelled. It redirects to home page"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

When I click on logout button it redirects to application homepage. Microsoft logout url is getting cancelled.
If I manually clear the cookies and try, then it works. Also it works if I manually redirects to

[2022-01-14 10:49] ToshB opened #4402 "Unexpected/delayed context data after logout"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

After logging out using logoutPopup i consistently got an error saying no_tokens_found. After digging a bit, this was due to an acquireTokenSilent-call I had in a useEffect, taking both `accounts` and `inProg

[2022-01-14 17:06] tnorling commented on #4401
@muthurnd3 When you say the logout request is cancelled, do you mean the network request (in your browser's network tab) is showing "cancelled" or it's getting skipped entirely? Can you please share the code that calls your `handleLogout` function and verbose logs from MSAL? Thanks!

[2022-01-14 17:24] tnorling commented on #4402
@ToshB Thanks for the detailed explanation! I agree this can be improved and I'll mark this as a bug to take a closer look. If you already have a solution in mind, we welcome pull requests!

[2022-01-14 17:43] tnorling commented on #4400
@Miwa199739 I am not able to reproduce this on my end, however, I do see there is potential room for improvement here. The hash should be re-added to the url a few lines further down. Is that not happening? Can you provide a minimal reproduction?

[2022-01-14 18:12] jasonnutter commented on #4400
`validateAndExtractStateFromHash` is supposed to throw if the hash doesn't contain a number of known properties, so I mind it surprising that a value like `myCustomizedHash=xxx` wouldn't throw.

[2022-01-14 19:40] mmacy commented on #4369
@tnorling Two options:

1. Submit a PR to make the update - [**CLICK ME** to overhaul MSAL.js SSO doc](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/active-directory/develop/msal-js-sso.md?description=Overhauling%20with%20MSAL.js%20v2%20information) ⬅️ **Recommended**!
    I'll help PR review, edit, and usher the PR through. This is the recommended option.
2. Open an issue on

[2022-01-14 20:02] kdubious opened #4403 "Switching Users"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.0.6

### Description

Yesterday, User1 logged into the app in my browser while debugging. Today, my app loads, I see User 1's email in the app. Then the app redirects to the login page, I assume because the cached creds are

[2022-01-14 21:15] alexander-kastil commented on #4367
question ist answered in platformBrowserDynamic section 👍

[2022-01-14 21:16] #4367 closed, assigned to samuelkubai

[2022-01-14 21:45] tnorling commented on #4403
@kdubious Msal.js supports multiple accounts. In your example, `getAllAccounts` should contain both User1 and User2. Your application is responsible for choosing the account you want to use. I'm guessing your application is using something like `getAllAccounts()[0].username` to get the user's email, which would be why you're getting User1's email.

If instead the desire is to display the _most rec

[2022-01-14 21:59] kdubious commented on #4403
@tnorling Cannot tell you how much I love when someone can guess my code based on what to me is strange behavior... but to you is clearly a known feature. Thanks! I wondered the use case for that being an array.

I'll go check out the docs now.

[2022-01-14 22:05] kdubious commented on #4403
@tnorling ok, still a bit stuck. I'm using the Angular wrappers, so the route Guard is logging me in. Not sure where I can hook this:

[code]

Also, I'm using redirects, and I see this in the code:

[code]

So how (else) can I know which of the accounts from getAllAccounts() is the most recent? Maybe compare the `idTokenClaims.exp` and take the largest?

[2022-01-14 22:15] tnorling commented on #4403
You could use the [event API](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/events.md) to listen for the `LOGIN_SUCCESS` event. I'd recommend registering this callback in the same place you instantiate `PublicClientApplication` to make sure it's added before the redirect response is processed.

Something like this:

[code]

[2022-01-14 22:23] muthurnd3 commented on #4401
@tnorling  Yes you are right. The network call for logout request is cancelled.
<img width="1674" alt="Screenshot 2022-01-14 at 23 21 28" src="https://user-images.githubusercontent.com/78701655/149592931-fc534339-58a0-4531-ad4a-a14bde64bb2c.png">

Here is code for logout :

event.preventDefault();
localStorage.clear();
sessionStorage.clear();
msalInstance['browserStorage'].clear();
await instance.

[2022-01-14 22:26] kdubious commented on #4403
I think in an Angular app, this is a good translation of your suggestion. It's in my `app.component.ts` `ngOnInit`:

[code]

I surely need to deal with the case where there's not been a prior cached sign-in. (but it's Friday evening here.)

Thanks so much, will test this out and see if it's right.

[2022-01-14 22:39] justinmchase commented on #4376
Would it be possible for this library to be updated to get the refreshToken directly as well? Like suppose i didn't want to use the caching in this library at all?

I don't want to have to reach into the kvstore and try to guess the cache keys... I just want to give my users their refresh token and not do any of this server side caching at all.

[2022-01-14 22:52] tnorling commented on #4401
@muthurnd3 You have 2 login calls after the logout. The 1st login call is cancelling the logout and the 2nd login is cancelling the first login. Check that your react components aren't re-rendering and unintentionally calling login. You should make sure you always check that `inProgress === InteractionStatus.None` before calling interactive methods.

Also, you don't need to manually clear local/se

[2022-01-16 01:00] #4266 closed, assigned to samuelkubai

[2022-01-16 13:45] janandreschweiger commented on #4206
Hi @tnorling, any updates so far?

We currently use @joshpitkin's workaround. However, we had to change the '+' to a '*'.

[2022-01-17 10:57] Miwa199739 commented on #4400
Thanks for replying!
Yes, I can see that the hash got added soon, but these two location hashChange events (one clears and one added back) cause the Angular router to behave incorrectly. The phenomenon in our app is that all the query parameters got cleared.

![image](https://user-images.githubusercontent.com/14820833/149754641-a9a8cd6a-046e-44c8-b0b3-3b5b3c072978.png)

I created a reproduced app

[2022-01-17 12:01] amaleszewski commented on #4389
Is there any possibility to return object from access token like there is currently for identity token? I mean add something like `idTokenClaims` but for access token, ie. `accessTokenClaims`? This will resolve my issues also. I have the same flow in AAD for API and SPA as author, and it's also causes me troubles.

[2022-01-18 01:00] ghost commented on #4382
@Hopp3r This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-18 04:31] nilact commented on #4369
@tnorling

Thanks for responding and clearing up things. Much appreciate all your help. :)

It would be great if the documentation could be updated with MSAL.js v2 code snippets and differences.

[2022-01-18 14:52] julian-code opened #4411 "ProfileEdit no logout"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

I have tried implementing the Profile Edit flow from Azure AD B2C: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/

[2022-01-18 15:37] rfprod opened #4412 "TypeError: Cannot read properties of undefined (reading 'loggerCallback')"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

The application breaks if `loggerOptions` is set to `undefined` explicitly.

### Error Message

[code]

Minified vendor chunk (error reference)

[code]

### Msal Logs

_No response_

### MSAL Configuratio

[2022-01-18 17:30] tnorling commented on #4389
@amaleszewski Access tokens should only be opened by the resource for which it is intended, so unfortunately MSAL.js will not be able to return the access token claims. If this is something you need you should do this on your backend

[2022-01-18 17:48] eliott-loreal opened #4413 "Angular MsalInterceptor: add access token to custom header"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

Is it possible to configure the interceptor to add the access token in a custom header in addition to the Authorization header?
There is a proxy in front of my backend that overwrites the Authorization he

[2022-01-18 18:27] tnorling commented on #4206
Unfortunately I have no updates and no ETA as this will need to be prioritized against our other efforts. Our recommendation is still to use access tokens whenever possible and if there's anything preventing you from using access tokens please do let us know and we would be happy to help you resolve whatever issues you are facing.

[2022-01-18 19:25] antoveritas opened #4414 "Is there a way to setup the access token expiration time/date?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

Hey guys, I have the following scenario:
By default the token that gets returned after successful sign-in keeps getting refreshed, resulting in the user NOT needing to sign-in again for days, sometimes ev

[2022-01-18 20:14] ToshB opened #4416 "Include activeAccount in the MSAL Context"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

I think it would be useful to include `activeAccount` in the MSAL Context (from MsalProvider).

When performing token requests and other account operations I'm switching to using `instance.getActiveAccount()` (after setting this on login), instead of `accounts[0]` (after readin

[2022-01-18 21:26] DelandPo opened #4417 "Generates invalid id_token (without signature) when it tries to redeem refresh_token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am using MSAL with Vue. The first login works as expected; however, If I leave the browser open for an hour and let the token expire and come back, it tries to generate a new token using refresh_token, and the HTTP POST cal

[2022-01-18 21:39] tnorling commented on #4416
@ToshB Thank you for opening this. PR #4280 will update the `useAccount` hook to return the current "active account" if no account identifiers are provided. Would this give you what you need?

[2022-01-19 00:37] Jackmayfly opened #4418 "typo on 'properites' - desc: "Hash does not contain known properites. Please verify that your redirectUri is not changing the hash.""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

        desc: "Hash does not contain known properites. Please verify that your redirectUri is not changing the hash."

hashDoesNotContainKnownPropertiesError

line 38 BrowserAuthError.ts

### Error Message

_No response_

###

[2022-01-19 01:00] ghost commented on #4398
@nopsal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-19 01:00] ghost commented on #4377
@billti This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-19 01:00] ghost commented on #4372
@san-goyal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-19 07:00] ToshB commented on #4416
Ah, yes. That seems to work. Or perhaps both?
As acquireTokenSilent-flow requires both instance, status/inProgress and accounts/active account, it's convenient when all are available through useMsal.

As I mentioned in #4402, accounts should preferable be updated withinProgress whenever any of them changes. So perhaps setting activeAccout as well would't be too out of place there.

[2022-01-19 09:11] sameerag commented on #4418
Thanks @Jackmayfly for bringing this to our attention. You are more than welcome to file a PR on this or we will get to this soon.

[2022-01-19 09:12] sameerag commented on #4417
@DelandPo I am trying to reproduce this on my end and will reach out soon.

[2022-01-19 09:23] sameerag commented on #4414
We do not support this unfortunately, partly because the tokens are stored in the browser cache for SPA apps and hence only shorter validity times are enabled by the service. More documentation on token lifetime is available [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md).

MSAL JS does not control the token validation ti

[2022-01-19 09:26] sameerag commented on #4411
@julian-code Thanks for bringing this to our attention. Let me try to replay this on my end and then reach out if we can address this.

[2022-01-19 12:24] julian-code commented on #4411
Hey @sameerag. Great work on the library. I look forward to your findings.

[2022-01-19 13:55] virtazp opened #4419 "Cannot read properties of undefined (reading 'idTokenClaims') in the guard"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.1.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

Hello,

angular: 11.0.4

In my custom Guard file, I have this error: Cannot read properties of undefined (reading 'idTokenClaims')

This error appears on the first load and blocks the connection when I try

[2022-01-19 15:16] ToshB opened #4420 "Serializing and importing/exporting accounts"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

Is there a way to serialize an account object, and inserting it into another instance of Msal? So I could log in one place, and transfer the session to a different (isolated) msalInstance?

Background: I've r

[2022-01-19 15:38] blockingHD opened #4421 "Clearing access tokens after getting a new ID token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

We are using AzureB2C as our identity provider which gives a user an account number claim when they login. A user can login to multiple accounts in the app and can change the account throughout the user j

[2022-01-19 16:49] antoveritas commented on #4414
**Refresh tokens:**
_Refresh tokens given to Single-Page Applications are limited-time refresh tokens (usually 24 hours from the time of retrieval). This is a non-adjustable, non-sliding window, lifetime. Whenever a refresh token is used to renew an access token, a new refresh token is fetched with the renewed access token. This new refresh token will have a lifetime equal to the remaining lifetim

[2022-01-19 17:09] markusberg commented on #4206
I've been using the idToken because it lets me map AD-group memberships to application roles, and those claims are automatically available on both the client and the server. Is there a way for me to do that with access tokens?

[2022-01-19 17:11] sameerag commented on #4421
@blockingHD Thanks for reaching out. In your case, can you please provide the "scopes" for the access tokens that you are trying to renew? Please note that access tokens are resource scoped, hence you may have to make separate requests for different resources.

[2022-01-19 17:21] sameerag commented on #4419
@virtazp We require calling `handleRedirectObservable()` from the guard as demonstrated [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.guard.ts) : line 132 - we do not inspect accounts until this API is called, this is because the previous `loginRedirect()`s response isn't handled until we call this API.

[2022-01-19 17:24] sameerag commented on #4413
@eliott-loreal We recommend adding the `accessToken` to the custom interceptor and call it after `MsalInterceptor` if you need to customize this experience. We do not support adding `accessToken` to other headers yet.

[2022-01-19 17:46] tnorling commented on #4206
@markusberg Yes, the `role` and `group` claims are also [available on access tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims). You just need to make sure the audience of the access token you request is that of your application. You can do this by registering a custom scope on your app registration.

[2022-01-19 18:26] kai-dorschner-twinsity opened #4422 "How to use the proposed CustomNavigationClient(history) with the new react-router-dom v6 API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

react-router-dom version 6 was released a while ago and it has some breaking API changes that have some contact surface with the msal-browser adapter for reducing hard page reloads with `CustomNavigationClien

[2022-01-19 18:39] tnorling commented on #4416
@ToshB

If you're using the active account pattern you actually don't need to provide anything to `acquireTokenSilent`. If no account is provided on the request it will automatically check for an active account and attach it to your request.

I'd rather keep the specific account logic contained to `useAccount` for now but it's something we can consider in the future.

[2022-01-19 19:26] ToshB commented on #4416
Oh, I didn't realize. That lets me clean up things quite a bit. I guess we can close this issue. Thanks for clarifying!

[2022-01-19 19:26] #4416 closed, assigned to tnorling

[2022-01-19 19:42] ToshB commented on #4402
As I realized from your response to #4416, there's not really a need to have a dependency on both `inProgress` and `accounts` when i use the active account pattern. That makes this less of an problem. I would still consider it a bug though, as those variables should be synchronized in order to avoid seeing impossible/illegal states.

I started looking into making a pull request on this, and have a

[2022-01-19 21:12] tnorling commented on #4402
It was mainly to avoid doing the potentially expensive array comparison on every event. Admittedly, this may not be a huge concern today but we may add more events to `msal-browser` in the future that could cause this to run more often than needed.

It can. Specifically the `ACCOUNT_ADDED` and `ACCOUNT_REMOVED` events are emitted when a different browser tab or window signs in or out. The trigger

[2022-01-19 21:14] AndreaEsposit opened #4423 "MSAL-React: Error when logging out user"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

The full application is wrapped with the MsalAuthenticationTemplate-component, as the application is not available for not-authenticated users.

When trying to sign out (using the ClientApplication.logoutRedi

[2022-01-19 21:14] joshmouch opened #4424 "Intermittent 400 response when calling acquireTokenSilent"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Intermittently, when we call `acquireTokenSilent`, an HTTP 400 response will be returned from `POST https://login.microsoftonline.com/common/oauth2/v2.0/token`.  The error message in the returned value only says `monitor_wind

[2022-01-19 21:21] tnorling commented on #4422
@kai-dorschner-twinsity The `CustomNavigationClient` in the sample is an example rather than part of our API surface, you should adapt it to your use case or to the routing library you use.

In the case of react-router-dom v6 something like this might work:

[code]

[2022-01-19 21:32] #4400 closed, assigned to tnorling

[2022-01-19 21:33] slubowsky opened #4425 "Clarification of intent to support Angular releases"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

Angular 13 was released 11/3/21. It is now 1/19/22
The readme for msal-angular (https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#version-support) does not inclu

[2022-01-20 00:13] tnorling commented on #4423
@AndreaEsposit This is happening because `acquireTokenSilent` is being called somewhere in your app **after** the logout has cleared the cached accounts. Most likely this is caused by one of your components re-rendering when the `logout` happens. Make sure all your calls to `acquireTokenSilent` check that 1. at least one user is signed in and 2. the `inProgress` variable is 'None'.

You do not nee

[2022-01-20 01:00] ghost commented on #4403
@kdubious This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-20 01:00] ghost commented on #4401
@muthurnd3 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-20 01:00] ghost commented on #4376
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-01-20 02:44] Miwa199739 commented on #4400
Thanks for your effort! @tnorling

[2022-01-20 05:50] sameerag commented on #4425
@slubowsky Thanks for raising this. We are reviewing our plan on angular support and reach out with the roadmap that will clarify this support. Marking this as feature support on the [angular board](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/3).

[2022-01-20 05:54] sameerag commented on #4424
@joshmouch My theory is that the request is being rejected before being processed by the service(in this case AAD) and hence the service which is invoked in an iframe in your case is not returned to MSAL JS. MSAL JS customarily waits for 6 seconds after spinning up a silent iframe for the server response before timing out.

Ideally the server page should display why the 400 is happening but since

[2022-01-20 06:00] sameerag commented on #4420
@ToshB I reached out to our UX team to first rule out the possibility of logout page in web panels can be supported better. Let me hear back from them before we explore other options.

[2022-01-20 07:04] AndreaEsposit commented on #4423
That makes sense, thank you. I will add those checks and close the issue if this solves our problem (I'm confident this will fix the problem, Might take some hours for me to test this though).

[2022-01-20 07:27] PeterPrecision opened #4426 "MSAL BrowserAuthError: interaction_in_progress with standard msalGuard and msalIntercept"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.1.0

### Description

Hi, I have implemented MSAL for a standard angular 12 application. I am relying on the msalGuard for the authentication redirect. msalInterceptor has been configured to authenticate webapi calls. I am o

[2022-01-20 07:29] PeterPrecision commented on #4426
If you need an account to access the application please let me know.

[2022-01-20 09:09] kai-dorschner-twinsity commented on #4422
Hey Thomas,
thank you for your quick answer :) That helps us.

### For everybode else coming here from google
In order to safe anybody else half a day of figuring out what msal is trying to tell it wants and how to implement it in the target application (not the easiest library I used in my time) its probably better to rename "react-router-sample" to a more non-generic sample. Also the hint with t

[2022-01-20 09:09] #4422 closed, assigned to sameerag

[2022-01-20 12:11] joshmouch commented on #4424
Yes, I can confirm the error returned doesn't have any information about the 400 response.  Thank you for looking to add it.
In the mean time, are there workarounds for getting this?
Out of curiosity,  where is that 6 seconds defined in this particular case? The documentation mentions the default silent iframe timeout is 10 seconds for other scenarios.

[2022-01-20 13:51] AndreaEsposit commented on #4423
It was exactly as @tnorling mentioned, some other components were trying to call `acquireTokenSilent `with clients. length = 0.
By adding a simple check, we avoid the error, I am however curious to know if there Is a way to check the `inProgress `variable via the `PublicClientApplication`/`IPublicClientApplication `objects, or any other way that is not via the msal hook.

[2022-01-21 07:11] Nicole9233 opened #4429 "Is there any plan for calling broker that used by react native application?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

We're developing a react-native web-view mobile application on Android device to call Microsoft Graph. We use WebView for authentication instead of system browser so they cannot use TLS device authentication and react native

[2022-01-21 07:39] manavsharmaprog opened #4430 "MSAL documentation: Passing null in postlogoutredirecturi"
### Core Library

MSAL.js v2 (@azure/msal-browser), MSAL.js v1 (@azure/msal or msal)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in?tabs=angular2

### Description

Found a solution to pass **null** in postlogoutredirecturi when a redirect is not needed.

[https://github.com/A

[2022-01-21 09:52] #4423 closed, assigned to sameerag

[2022-01-21 11:33] brucethomaswayne6 opened #4431 "使用@azure/msal-react，acount信息获取不到"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

https://stackblitz.com/edit/react-whfvxs?file=src/pages/home/home.js

麻烦看看我这个写的demo有什么问题吗？App.js中的event没有触发，home.js下account账户信息获取不到。

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No res

[2022-01-21 14:20] manavsharmaprog commented on #4430
Here're the msal versions i'm using. Picked from package.json

[code]

[2022-01-21 17:41] JIBIN-P opened #4432 "[Msal for Angular v2.1.x] How to do Dynamic configuration"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

Hi I referred to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/481 & https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403, but it seems a lot has chan

[2022-01-23 20:01] mkohns opened #4437 "TeamMember.ReadWrite.All not in token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

not-applicable

### Description

Hi, these are the permissions configured at my AppReg

![image](https://user-images.githubusercontent.com/4640562/150695986-894fde10-c488-44bd-aeed-68cc41e77d66.png)

When logging in a user, I get an response from h

[2022-01-24 01:00] ghost commented on #4389
@Thnslj This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-24 01:01] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-24 05:56] ellymakuba commented on #4437
Probing further, will get back to you as soon as possible.

[2022-01-24 13:00] ghost commented on #4418
@Jackmayfly This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-24 13:00] ghost commented on #4417
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-24 13:00] ghost commented on #4411
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-24 15:50] danielweil opened #4438 "Is there any way to Azure AD and Azure AD B2C working together in the same application?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

Is there any way to Azure AD and Azure AD B2C working together in the same application?

For instance, I need Azure AD to handle login in all application, except in one page. But, if the user has already auth

[2022-01-24 16:42] jasonnutter commented on #4335
Assigning to @hectormmg, who will be working on this.

[2022-01-24 17:26] ellymakuba commented on #4430
Please follow this link https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md

[2022-01-24 17:51] jasonnutter commented on #4426
@PeterPrecision It looks like there may be a race condition in your application. Is your application invoking the http call that triggers in the MSAL Interceptor immediately on page load?

[2022-01-24 17:57] PeterPrecision commented on #4426
Hi Jason,

Thanks for your email. Yes, I think I found it. The header component was firing off a request to the graph api to get the logged in user.

Your email has confirmed my suspicion.

I’ve moved it to the base component and wrapped it with the following which seems to have fixed the issue:

this.msalBroadcastService.inProgress$
    .pipe(
      filter((status: InteractionStatus) => status ==

[2022-01-24 18:01] ellymakuba commented on #4438
Please provide more context: What steps are you executing to get where you are stuck? and share your configuration file and the request you are sending.

[2022-01-24 18:20] ellymakuba commented on #4437
Two steps to having scopes on the client side
1. Register the permissions to your app in azure portal (which you have done)
2. Request the permission(s) in your scopes payload from your library (I suspect you have not done)

Please provide your request payload I need to check for discrepancies.

[2022-01-24 18:22] danielweil commented on #4438
First, I tried using only one provider using a ternary operation in the instance prop:

![image](https://user-images.githubusercontent.com/44274213/150840860-ec420eff-2937-4a4c-a388-198d81a1c293.png)

And in the MsalAuth component I called the useMsalAuthentication hook:

![image](https://user-images.githubusercontent.com/44274213/150840248-a4dbf42d-35d9-444c-80df-e159105cc559.png)

The Azure AD l

[2022-01-24 18:23] ellymakuba commented on #4432
Hello, please try out this link https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/configuration.md

[2022-01-24 18:28] ellymakuba commented on #4431
Could you please translate this into English?

[2022-01-24 18:38] jasonnutter commented on #4426
You're welcome! Closing.

[2022-01-24 18:38] #4426 closed, assigned to jasonnutter

[2022-01-24 22:44] #3087 closed

[2022-01-24 22:44] #4232 closed, assigned to nobody

[2022-01-24 22:44] #4254 closed, assigned to tnorling

[2022-01-25 01:00] ghost commented on #4421
@blockingHD This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-25 01:00] ghost commented on #4419
@virtazp This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-25 01:00] ghost commented on #4413
@eliott-loreal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-25 01:00] #4382 closed, assigned to tnorling

[2022-01-25 01:00] ghost commented on #4376
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-01-25 05:51] sujithgundlapalli opened #4442 "MSAL Interceptor not adding bearer token to the API call after authenticated from AD"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

We are upgrading from msal v1 to msal v2 and using redirect method of login. In AD app registered under SPA and did not select Implicit grant and hybrid flows checkboxs as we are using MSAL V2.
AD authent

[2022-01-25 09:59] virtazp commented on #4419
Hello and thank you for your answer.

How should I go about in this case to retrieve the profile in this case, and then go through my guard?

Thank you

[2022-01-25 11:41] MagnusHJensen opened #4444 "handleRedirectPromise returning null with new sessions on Safari."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description
_Not reproducible with Safari 15.2._

Accessing the application url, works the very first time when not signed in.

Any subsequent hits to the same application in a new tab/session, will break on safari saying

[2022-01-25 13:00] ghost commented on #4420
@ToshB This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-25 15:34] kevindixon opened #4445 "Add support for the OIDC `max_age` parameter"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

The ability to force re-authentication by setting the OIDC `max_age` option ([ref](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest)) was added to the MSAL Python library some time ago ([1.15](https://github.com/AzureAD/microsoft-authentication-library-for-python/releases/tag/

[2022-01-25 16:30] antoveritas commented on #4414
*bump* since I didn't receive a response yet  :)

[2022-01-25 18:00] manavsharmaprog commented on #4430
That helps, thank you!
So the MSAL Angular documentation is not a complete guide but builds on top of MSAL Browser documentation. Didn't realise that!

[2022-01-25 18:53] danielweil opened #4446 "MSAL together with NextJS keeps redirecting in infinite loop + no_cached_authority_error when using dynamic routes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I am using NextJS and when I try to start a new session directly in a dynamic route, MSAL keeps redirecting me in a infinite loop. If I preserve browser log and ask for verbose logs, it also prints out no_cac

[2022-01-26 02:34] ivan7707 opened #4449 "How to return authorization header immediately after login with MSAL to Apollo-Graphql?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

Hello, I am using the standard apollo-client setup with the Micrososft authentication library MSAL.

Once someone is logged in, the authorization token is not set before the first render, so the useQuery in m

[2022-01-26 04:56] harishnarain opened #4451 "Security vulnerability in passport-azure-ad with node-forge"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Currently CVE-2022-0122 identifies node-forge 0.10.0 with a severity of medium.  We've currently discovered this during Component Governance Alerts in ADO.

### Error Message

_No response_

### Msal Logs

_No response_

[2022-01-26 13:00] #4398 closed, assigned to tnorling

[2022-01-26 13:00] #4377 closed, assigned to tnorling

[2022-01-26 13:00] #4372 closed, assigned to samuelkubai

[2022-01-26 14:29] #4430 closed, assigned to sameerag

[2022-01-26 17:17] jasonnutter commented on #4446
@danielweil Are you able to reproduce this with our [Next.js sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/nextjs-sample)?

[2022-01-26 17:19] jasonnutter commented on #4445
@kevindixon We'll add this to our backlog, thanks! cc @EmLauber

[2022-01-26 17:50] jasonnutter commented on #4451
@harishnarain Thanks for reporting. It looks like this will be resolved once `node-jose@2.0.1` is available on npm (see https://github.com/cisco/node-jose/issues/331). Once that update is published, deleting your lock file and `node_modules` folder and rerunning installation should pick up the new version.

Closing as no further action at this time.

[2022-01-26 17:50] #4451 closed, assigned to ellymakuba

[2022-01-26 18:15] danielweil commented on #4446
Hello @jasonnutter,

I just tried out, and it did work with the sample. I tried copying the Navigation Client to my application, and now it works fine!.
Thank you for the support.

[2022-01-26 18:15] #4446 closed, assigned to tnorling

[2022-01-26 19:46] jasonnutter commented on #4449
@ivan7707 The process of processing the authorization code and trading for tokens is asynchronous, and as such, applications need to wait until that process is completed. MSAL React handles this for you through hooks such as `useMsal`: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/getting-started.md#acquiring-an-access-token

Please take a look at

[2022-01-26 21:33] johnyoungnvs opened #4452 "MSAL Angular w/ B2C SPA client code flow w/ pkce"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

When the refresh token expires, with an angular spa configured for code flow pkce w/ b2c, the application goes into an infinite loop and becomes unresponsive after 24 hours when the refresh token expires

[2022-01-27 13:00] #4403 closed, assigned to tnorling

[2022-01-27 13:00] #4401 closed, assigned to tnorling

[2022-01-27 15:20] davidspiess commented on #4411
We experience exactly the same problem.

[2022-01-27 16:31] zhshqzyc opened #4454 "Use redirect to login but can't get token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

The message is **handleredirectpromise called but there is no interaction in progress returning null**

In azure, I have set redirect url as http://localhost
In my angular 11 application I want to silently log

[2022-01-27 18:04] ivan7707 commented on #4449
Thank you @jasonnutter.  I am aware of the asynchronous nature of the call.  The process I am trying to get my head around is how to factor that into the apollo-client update which happens in index.js.

I'll keep digging, and take a look at those documents you sent and report back.

[2022-01-27 20:24] HassanMahmud commented on #4444
[Disclaimer - i'm on the same team as Magnus]

A user has reported a similar experience of the page getting stuck after the redirect on Edge.
I will confirm asap if it is indeed this exact issue or something else.

[2022-01-27 20:56] ChrisMeeusen commented on #4452
I'm getting this same behavoir on the initial bootstrapping and authenication in the app.  If i refresh the page after a token is cached and stored in session storage my app loads and runs fine.  I'm wondering if this is a race condition between getting a token and storing it in cache vs the interceptors trying to retreive the token from cache and send them in the request.

[2022-01-27 21:34] baoj-dfo opened #4455 "@azure/msal-angular the token can't get key vault's secretes/keys/certificates"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.21.0

### Description

I was told from Microsoft support "To authenticate on the key vault you will have to use the Azure Identity package and any class within it as per your requirement If you do not wish to use a client secr

[2022-01-28 03:41] RuchiShah2021 opened #4456 "BrowserAuthError: hash_empty_error: Hash value cannot be processed because it is empty. Please verify that your redirectUri is not clearing the hash."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

when using B2C UserFlow login, we are getting below error.  can someone please help ?

### Error Message

BrowserAuthError: hash_empty_error: Hash value cannot be processed because it is empty. Please verify

[2022-01-28 08:15] rahulmotwani1996 opened #4457 "I am calling the /token end point after every 10 mins. to check the token validity , is there any cap on the number of token calls we can make on the network."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

For handling password change , or any change in the account for which i need to invalidate any current session of the user, i am calling the token api from my application after every 10 mins. with { forceRefr

[2022-01-28 17:32] JIBIN-P commented on #4432
@ellymakuba thankieww so much for linking me to the appropriate documentation for dynamic configuration, the app_initilizer method helped get the job done.

[2022-01-28 17:32] #4432 closed, assigned to sameerag

[2022-01-28 18:05] rebendajirijr commented on #4378
We are also facing this issue. Modified version of the original guard seems as possible workaround till the issue is resolved here.

[2022-01-28 20:28] deryost commented on #4411
We have the same problem too.

[2022-01-28 20:42] mikkelmk opened #4458 "Hashchange seemingly not getting handled in auth code flow, and thus no access token is requested (Safari)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Somehow the seamless SSO in Safari does not perform an actual redirect for the auth code flow when using InteractionType.Redirect, but seemingly just adds the hash code directly to the URL.

(I'm not familiar

[2022-01-29 00:47] #4335 closed, assigned to hectormmg

[2022-01-29 13:00] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-29 23:01] mcqueene opened #4461 "useMsal sample code doesn't appear correct - might need to use a state variable for the token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook

### Description

I'm not sure the sample for the useMsal hook is correct. It seems to suggest that you can check for a value in the variable `access

[2022-01-30 01:00] ghost commented on #4437
@mkohns This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-30 01:00] ghost commented on #4431
@ZengJun-cloud This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-01-30 01:00] ghost commented on #4417
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-30 12:54] ivan7707 commented on #4449
Hi @jasonnutter, thanks for the help.

I was able to resolve the issue. The info from the first link you sent above was helpful, as it confirmed I was retrieving the access token correctly from the index.js page  **Acquiring an access token outside of a React component**.

**Solution:**

The data query for the user data was being called immediately after the login redirect from the MSAL flow back

[2022-01-30 12:54] #4449 closed, assigned to ellymakuba

[2022-01-30 13:00] ghost commented on #4442
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-01-30 13:00] ghost commented on #4419
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-30 13:00] ghost commented on #4376
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-01-31 01:00] ghost commented on #4438
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @ellymakuba please follow up.

[2022-01-31 01:00] ghost commented on #4414
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-01-31 08:03] ankit-bagaria-kr opened #4462 "owserAuthError: block_nested_popups: Request was blocked inside a popup because MSAL detected it was running in a popup."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0

### Description

**I am authenticating using msal library, using PublicClientApplication**

It is authenticating correctly, I am getting token correctly. But in msal login popup, I get an error alert.

### Error Message

BowserAuthError: block

[2022-01-31 08:06] ankit-bagaria-kr commented on #4462
<img width="592" alt="Screenshot 2022-01-31 at 1 14 06 PM" src="https://user-images.githubusercontent.com/94103442/151758601-5c92b5d7-ed3a-47ec-8bcb-45210fbcd09c.png">

Screenshot of the error

[2022-01-31 10:13] bartlomiejzuber commented on #3923
@jasonnutter Is there a chance to support that in future ? Our team have exactly the same problem, we use msal for authentication in chrome browser extension which now seems to be impossible due to `window` not exist inside of service worker. :(

[2022-01-31 11:38] ihrigb opened #4463 "Getting Token issued by V1 instead of V2"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

When using MSAL to get a token, I receive a token with the V1 issue claim (sts.***). My backend service expects V2 issue though and reports this as unknown issuer and therefore answers with 401.
Any way I can

[2022-01-31 13:00] #4389 closed, assigned to tnorling

[2022-01-31 15:27] ToshB commented on #4420
Are there any updates on this? Bumping to prevent auto close.

[2022-01-31 16:33] Bartheleway commented on #4379
I opened the ticket on Salesforce side today, I will keep you posted with their replies.

Meanwhile, I did some more research and found this :

[MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API)

The [HTML living standard](https://html.spec.whatwg.org/multipage/webstorage.html#the-storage-interface) spec defines the storage interface like thi

[2022-01-31 17:37] jasonnutter commented on #4457
@rahulmotwani1996 We do not recommend doing this, as it will likely result in your application getting throttled, as there is a limit on how often you can invoke the token endpoint. Instead of doing this, we recommend implementing [Continuous Access Evaluation](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-continuous-access-evaluation). cc @salman90 for documentation

[2022-01-31 18:29] tnorling commented on #4461
@mcqueene Thanks for raising this. You are indeed correct, I'll make sure this doc gets updated. If you still need help please take a look at our [react samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples) which all demonstrate acquiring a token and calling the Graph API.

[2022-01-31 19:42] vpetrusevici commented on #4154
looks like it wasn't :(

[2022-01-31 21:44] jasonnutter commented on #4463
@ihrigb

https://docs.microsoft.com/azure/active-directory/develop/access-tokens#v10-and-v20

[2022-01-31 21:46] ihrigb commented on #4463
@jasonnutter, thanks for the response! I already read about `accessTokenAcceptedVersion` in the manifest and did set it to 2. Nothing changed and I still get a v1 Token (issuer is sts.windows.net/***).

[2022-01-31 21:47] jasonnutter commented on #4462
@ankit-bagaria-kr This is likely happening because the page your app is using for the redirect uri (`localhost:3000/oauth2/token`) has code that is checking for the user's authentication state and invoking a popup method while MSAL is trying to process the initial popup operation. To mitigate this, make sure this code does not run while this page is in a popup.

[2022-01-31 21:58] jasonnutter commented on #4458
@mikkelmk I believe we have heard about this in #4008 (see [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4008#issuecomment-924315313)). Does this appear like the same issue?

And also curious if manually invoking `handleRedirectPromise` works as described [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4008#issuecomment-92

[2022-01-31 22:19] jasonnutter commented on #4455
@baoj-dfo While MSAL.js can get access tokens for the `https://vault.azure.net/user_impersonation` scope (which is needed to access Key Vault), the Key Vault API itself does not support cross-origin requests from the browser. Please see [this sample](https://github.com/Azure/azure-sdk-for-js/tree/main/samples/cors/ts) for how to build a middle-tier which can be used to proxy requests to Key Vault

[2022-01-31 22:29] jasonnutter commented on #4463
@ihrigb What is the audience (`aud` claim) of this token in question?

[2022-01-31 22:39] ihrigb commented on #4463
@jasonnutter aud is `00000003-0000-0000-c000-000000000000`

[2022-01-31 22:44] jasonnutter commented on #4463
@ihrigb That means the token is for the Microsoft Graph, not your API. To get a token for your API, invoke `acquireTokenSilent` and only pass the scopes for your API.

[2022-01-31 22:48] jasonnutter commented on #4454
@zhshqzyc To be clear, `handleRedirectPromise` processes a redirect interactive login, but does not perform silent authentication itself. If `handleRedirectPromise` returns `null`, that means the page was loaded normally (i.e. not a result of coming back from an AAD redirect), in which case your app can gets tokens via `acquireTokenSilent` (which is invoked automatically in the interceptor).

[2022-01-31 22:57] jasonnutter commented on #4456
@RuchiShah2021 When using `loginPopup`, the popup opened by MSAL will be redirected back to your redirect uri with the response in the hash (fragment) of the url. As noted in the error message, this error means that MSAL attempted to read the hash response, however, the hash was empty. This likely because your application is clearing the hash when the redirect uri (`https://ourSite.com/login`) is

[2022-01-31 23:00] jasonnutter commented on #4438
@danielweil Have you tried configuring your B2C application to federate to AAD, instead of integrating with AAD directly?

Docs: https://docs.microsoft.com/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-custom-policy

[2022-01-31 23:04] jasonnutter commented on #4442
@Sujith2020 In MSAL Angular v2, MSAL Angular will no longer automatically attach a token to API requests to routes on your app.

Add this to your configuration:

[code]

More: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md

[2022-01-31 23:08] jasonnutter commented on #4444
@MagnusHJensen Is this similar to #4458?

[2022-01-31 23:11] jasonnutter commented on #4452
Yes, this is a potential cause. Applications using the interceptor should wait until MSAL indicates that interaction (such as a previous redirect) [is no longer in progress](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular12-sample-app/src/app/app.component.ts#L41-L49) before invoking an http request that would trigger the intercep

[2022-02-01 00:07] EmLauber commented on #4154
Thank you for your feedback and patience. This was evaluated for the current quarter (CY22Q1), but Angular 13 was not committed to. We had to prioritize other developments for security & resiliency above Angular 13: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md

As called out by others in this thread, there is a workaround to using Angular 13 with MSAL.js a

[2022-02-01 01:00] #4418 closed, assigned to sameerag

[2022-02-01 01:24] johnyoungnvs commented on #4452
Thanks guys for the feedback, we aren't making any calls, but have narrowed down the issue

It seems when silent refresh fails, it keeps trying and trying again, perhaps we need to add a circuit breaker if something goes wrong with silent refresh?

We found these two errors in console:

1. [Error] Refused to display 'https://www.example.com/#state=SAMPLE' in a frame because it set 'X-Frame-Options

[2022-02-01 09:03] mikkelmk commented on #4458
Yes, that seems to be the exact same issue, also with no requests in the network tab. tcpdump shows activity however, so macOS must be doing some magic in the background.

Manually invoking handleRedirectPromise as below seems to work perfectly:

[code]

Notice that window.location.hash must be given as parameter even though the doc states it "defaults to the current value of window.location.hash"

[2022-02-01 10:04] MagnusHJensen commented on #4444
It is indeed.

Same "fix" works.
Also looks like it was fixed with Safari 15.2, so not sure what changed between .1 and .2.

[2022-02-01 11:22] #4444 closed, assigned to jasonnutter

[2022-02-01 11:24] MagnusHJensen commented on #4458
Closed #4444 since it's the same issue.

As far as we can see, it's fixed natively with Safari 15.2, not sure about older versions than 15.1

[2022-02-01 11:46] mikkelmk commented on #4458
I have the issue on version 15.2 (17612.3.6.1.6) of Safari

[2022-02-01 13:00] #4421 closed, assigned to sameerag

[2022-02-01 13:00] #4413 closed, assigned to sameerag

[2022-02-01 14:52] zhshqzyc commented on #4454
The difficult thing is that I want to get the tokens in advance(at the very beginning). I have a power bi module embed in angular. So I want to get roles from the tokens but it doesn't call the interceptor at all as no http request. I just want to open PowerBi report.

I tried to copy and paste the code from interceptor but it is not working. It needs account parameter. Any idea or sample code?

[2022-02-01 16:40] jasonnutter commented on #4452
@johnyoungnvs Can you please provide verbose logs from MSAL? It looks like you are providing your B2C authority domain in the `knownAuthorities` array, which I believe should mitigate the need for the http call to the `openid-configuration` endpoint.

[2022-02-01 16:45] jasonnutter commented on #4458
@mikkelmk @MagnusHJensen Thank you for the information, I'll look to see if we can properly handle this in the library, thanks!

[2022-02-01 16:47] sameerag commented on #4419
@jasonnutter Can you help here?

[2022-02-01 16:49] sameerag commented on #4420
Yes. So they are open to fix it and now have this in their queue. However this is going to take some time since it needs to be approved and pushed across the board.

To solve your specific problem, we may have to come up with alternatives (if feasible). Is there any way you can save an account object, and call `acquireTokenSilent` with the account context for SSO?

[2022-02-01 16:57] jasonnutter commented on #4454
@zhshqzyc To set an account for `acquireTokenSilent`, you can use the [account APIs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/accounts.md) to find the account to use for the request:

[code]

[2022-02-01 18:47] zhshqzyc commented on #4454
Please see my ode:
[code]
However in the method `checkAndSetActiveAccount()`, the `activeAccount` is still null. What is wrong?

[2022-02-01 19:01] ToshB commented on #4420
That's great to hear! Even if it might take some time to get a fix pushed.

As this is only a problem on log**out** and not log**in**, we'll probably be able to live with the current behavior for a while.

As the user _does_ get logged out before the redirect fails, it's not critical. We can probably just inform the users that when they see the "Hang on a moment while we sign you out"-message, the

[2022-02-01 21:17] byunru commented on #4455
@jasonnutter  thanks for pointing out the APIM way, it is quite a lots of extra works :( , wish the Key Vault API can support cross-origin requests from the browser, at least provide API (cors) getting a list of name of secrets/keys/certificates shouldn't have security concern.

[2022-02-01 21:25] jasonnutter commented on #4455
If you'd like to let the KeyVault know about this request, I would recommend commenting here: https://feedback.azure.com/d365community/idea/89085b38-f624-ec11-b6e6-000d3a4f0da0

Closing.

[2022-02-01 21:25] #4455 closed, assigned to jasonnutter

[2022-02-02 09:31] ukaaa opened #4479 "handleRedirectPromise after signing in with scopes of multiple resources"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When signing in a user with multiple scopes from multiple resources, e.g. ```[`api://${client_id_1}/access_as_user`, `api://${client_id_2}/access_as_user`]``` and redirecting back to our web page, we have issues using `handle

[2022-02-02 11:25] ihrigb commented on #4463
@jasonnutter Ok, I did this. When I do so, I get `The user or administrator has not consented to use the application with ID '6b45900f-fee7-41c4-851e-00785a2c8b32' named 'Alarmmanager'.` Although I granted tenant wide admin consent.

[2022-02-02 17:28] jasonnutter commented on #4479
@ukaaa

Unfortunately, MSAL.js by design makes no attempt to understand the semantics of the scopes array, i.e. whether or not two scopes are for different resources.

For scenarios like this, an application should provide scopes for one resource in the `scopes` array, and provide the scopes for other resources in the `extraScopesToConsent` array. These scopes will be sent to the `authorize` endpo

[2022-02-02 18:14] ukaaa commented on #4479
Thanks @jasonnutter, this is exactly what I was looking for. I just tested it and it works. Thanks for explaining in detail 👍

[2022-02-02 18:14] #4479 closed, assigned to jasonnutter

[2022-02-02 18:48] #4461 closed, assigned to tnorling

[2022-02-02 18:48] sadasant opened #4481 "[msal-node] Support updating the client assertion after creating the confidential client"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

In MSAL for .NET, the confidential client class has a method `confidnetialClient.WithClientAssertion()` which allows passing an asynchronous callback to update the client assertion.

The Azure SDK for JS&TS team would like to have this feature also in msal-node!

How does that sound? Feedback appr

[2022-02-02 18:54] jasonnutter commented on #4481
@sadasant Would the ability to set the assertion on a per request basis suffice (similar to other properties that can be set pre-request in MSAL)?

cc @EmLauber

[2022-02-02 18:55] sadasant commented on #4481
@jasonnutter I think so, but let me ask my team in case I’m missing something!

[2022-02-02 20:37] sadasant commented on #4481
@jasonnutter yep! having the ability to set the assertion on a per request basis would be enough! 🙂

[2022-02-02 21:33] jasonnutter commented on #4481
@sadasant Great, thanks! I can't comment on when we will be able to prioritize this, but you are also welcome to open a PR (to start, look for places in `msal-common` where the library reads from `this.config.clientCredentials` to populate the assertion on the request, and update it to also read an assertion provided on the request, and work up from there).

[2022-02-02 21:51] jasonnutter commented on #4417
@DelandPo Can you please share a Fiddler trace demonstrating this behavior? Email is on my profile, thanks!

[2022-02-02 23:27] EmLauber commented on #4481
Work item is created & added to backlog. As Jason said, can't comment yet on priority. CC @sameerag

[2022-02-03 01:00] ghost commented on #4411
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-03 01:55] sameerag commented on #4414
@antoveritas, Apologies for the delay. Please find the answers below:

Your login session is linked to the AAD session's lifetime and not the RT. MSAL exchanges the stale RT with the new RT in the background, with the help of session identifiers like `sid` or `login_hint` with the eSTS. If the service finds an active session, it will return a valid token, if it doesn't, it fails with interactive l

[2022-02-03 08:22] hastudillo opened #4485 "ClientAuthError: multiple_matching_tokens error when cache kept more than 2 users"
When using a "singleton instance of `confidentialClientApplication`" we have found the "case that in cache there is two accounts, third account try to make first time a OBO and we get multiple_matching_tokens error."

_Originally posted by @CrazyBaran in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4158#issuecomment-944152234_

With my team, we have found *exactly* the

[2022-02-03 08:22] #4485 closed, assigned to nobody

[2022-02-03 09:10] hastudillo opened #4486 "ClientAuthError: multiple_matching_tokens error when cache kept more than 2 users"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.5.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When using a "singleton instance of confidentialClientApplication" we have found the "case that in cache there is two accounts, third account try to make first time a OBO and we get multiple_matching_tokens error."

Originally pos

[2022-02-03 16:49] jasonnutter commented on #4463
@ihrigb Is this scope an application scope, or a delegated scope?

[2022-02-03 17:07] ihrigb commented on #4463
@jasonnutter as they are defined under "App-Roles" they should be application scope, right?

[2022-02-03 17:19] jasonnutter commented on #4463
@ihrigb MSAL.js is only able to acquire tokens for delegated scopes, and cannot get tokens for application scopes. Are you able to change this scope to a delegated scope?

More information: https://docs.microsoft.com/azure/active-directory/develop/v2-permissions-and-consent#permission-types

[2022-02-03 17:49] MatthewVaccaro commented on #2828
@derisen Thank you for this! It's extremely helpful!

[2022-02-03 18:01] sameerag commented on #4486
@hastudillo Thanks for raising this. Can you confirm the potential fix works? And yes #4081 is still tracked, just delayed as we had some issues with E2E test suite and could not get to it sooner.

It helps if you can also confirm the fix works on your end.

[2022-02-03 22:29] ihrigb commented on #4463
@jasonnutter Not sure, if I understand, how to setup the whole thing. I have a small API (resource server) that provides some functionality via REST. That service will for now be exclusively used by a UI which is provided within another runtime. API requests are proxied through the UI service to get around CORS problems.
Do I need to seperate App Registrations for them? For now, I thought I could

[2022-02-04 01:00] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-04 16:25] talhatfl opened #4490 "Syncing session state across browsers when using sessionStorage"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

Hi,

If a user has duplicated a tab in Chrome whilst the cache location is set to sessionStorage, we have noticed that logging a user out of one tab does not log them out of the duplicated tab.

We followed [t

[2022-02-04 16:39] jasonnutter commented on #4490
@talhatfl It is not possible, unfortunately, as `storage` events for `sessionStorage` are only fired for the multiple frames of the same website within the same tab, but not across different tabs.

[2022-02-04 16:41] talhatfl commented on #4490
thanks for the update @jasonnutter

[2022-02-04 16:41] #4490 closed, assigned to jasonnutter

[2022-02-04 23:15] jasonnutter commented on #4463
@ihrigb It is up to you if you want them to be separate registrations, but the scope itself should be registered under "Expose an API" for the app registration for the resource.

[2022-02-05 00:01] pwang2 opened #4494 "Data Fetching pattern question"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

NONE

### Description

Great work to provide an example battery-included with all good practices with modern framework features!

Can you help explain why we need to watch on the `isProgress` in useMsal and call the API again in Line 38? Line34 alr

[2022-02-05 00:20] tnorling commented on #4494
@pwang2 Line 38 is not calling `getGraphData` again, it's calling the stop callback which tells the watcher to stop listening for changes to `inProgress`. You can read more about stopping watchers in the Vue docs [here](https://v3.vuejs.org/guide/reactivity-computed-watchers.html#stopping-the-watcher)

[2022-02-05 01:00] ghost commented on #4376
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-02-05 10:56] pwang2 commented on #4494
You are right! Forget my temp stupidness . I should know that.  Thank you
very much.

On Fri, Feb 4, 2022 at 18:20 Thomas Norling ***@***.***>
wrote:

[2022-02-05 10:56] #4494 closed, assigned to jasonnutter

[2022-02-06 01:00] ghost commented on #4462
@ankit-bagaria-kr This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-06 01:00] ghost commented on #4457
@rahulmotwani1996 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-06 01:00] ghost commented on #4456
@RuchiShah2021 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-06 01:00] ghost commented on #4442
@Sujith2020 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-06 01:00] ghost commented on #4438
@danielweil This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-06 01:00] #4437 closed, assigned to ellymakuba

[2022-02-06 01:00] #4431 closed, assigned to sameerag

[2022-02-06 02:24] robertopc1 commented on #4154
Thanks @EmLauber for letting us know. The problem is that some themes will only support rxjs 7 and if you want to use also MSAL it will not work as you will have to downgrade to rxjs 6. It's not schedule for Q1 of 22 hopefully it can be schedule for Q2.

[2022-02-07 01:00] ghost commented on #4452
@johnyoungnvs This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-07 01:00] ghost commented on #4419
@virtazp This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-07 01:00] ghost commented on #4454
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-02-07 01:00] ghost commented on #4420
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-07 07:16] Yasveer commented on #4463
Hello Developers. I am searching for solutions to authenticate with Microsoft Graph and get all my emails in Eclipse IDE. I have used the authentication method of  'Client Credentials Provider'. I am having issues with the SCOPES that need to be defined. Thanks in advance. Please find the error and my code below:

package JAVA_MicrosoftGraphAPI;

import java.net.URL;
import java.util.Arrays;
impor

[2022-02-07 09:17] virtazp commented on #4419
Hello,

I may have found a workaround.

The example provided works with a login page. I don't have a login page.

I can add a page to login, with the login button or subscribe to the handleRedirectObservable() method in my guard.

`canActivate(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): boolean | UrlTree {

    const expectedRole1 = route.data.expectedRole;
    const expectedRole2

[2022-02-07 11:20] wolkowsky commented on #3923
@jasonnutter +1, it's a blocker for us. Will the problem be solved? Could we know ETA?

[2022-02-07 11:55] hastudillo commented on #4486
@sameerag Thank you for your answer. We will test the potential fix in an environment. We will share with you whether the bug is reproduced or not in a couple of days.

[2022-02-07 16:20] jasonnutter commented on #4454
@zhshqzyc That means that there is no cached active account, so you'll need to set one using `setActiveAccount`.

[2022-02-07 19:07] zhshqzyc commented on #4454
I guess that I found the solution at https://stackoverflow.com/questions/63347299/unable-to-acquire-token-silently-or-via-redirect-using-msal-browser
init = async () => {

    try {
      let tokenResponse = await this.app.handleRedirectPromise();

      let accountObj;
      if (tokenResponse) {
        accountObj = tokenResponse.account;
      } else {
        accountObj = this.app.getAllAccount

[2022-02-07 19:11] jasonnutter commented on #4454
Make sure that the URL your application is calling is configured in the MSAL Interceptor configuration correctly:

[code]

Double check your settings (e.g. the above example is for `graph.microsoft-ppe.com`, as opposed to `graph.microsoft.com`).

[2022-02-07 19:36] zhshqzyc commented on #4454
I am pretty that I use the same setting with yours. But it is null, I have to manually set the scopes in api-interceptor.service.ts. However it does not affect the result.

I can get all information such as account, token even I set `scopes = []` or` scopes = ['user.read']` or `scopes = ['xxxxxx']`

[2022-02-07 21:02] zhshqzyc commented on #4454
More findings:
In the method `matchResourcesEndpoints`, I got `absoluteResources` and `relativeResources` empty.  It happens here:
`StringUtils.matchPattern(normalizedKey, endpoint)`. It seems not matched. The normalizedKey is `https://graph.microsoft-ppe.com/v1.0/me` but the endpoint is `https://dev.my-company.com/api/team`. So in the method `getScopesForEndpoint` it always returns null.

[2022-02-07 21:24] jasonnutter commented on #4419
`handleRedirectPromise` should be called every time and should be called before `getAllAccounts`, otherwise, you could get into an infinite loop:

[code]

[2022-02-07 22:14] lparolari commented on #4104
I'm facing the same issue. In my case the function `acquireTokenSilent` returns `undefined` when the refresh token is expired.
Below follows the log (for readability and privacy purposes, I removed some parts of text).

### Description

1. Log in through `acquireTokenPopup`
2. Let the refresh token expires (usually after 24 hours)
3. Call `acquireTokenSilent`, the promise is fulfilled but the auth

[2022-02-08 01:00] ghost commented on #4417
@DelandPo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-08 01:17] EmLauber commented on #4154
Thanks @titopc for calling out where the RxJS v6 workaround does not work. Angular 13 & RxJS v7 support is in our backlog for evaluation for Q2 but I won't have an update on priority till closer to our planning period at the end of March / beginning of April.

[2022-02-08 07:13] virtazp commented on #4419
It works !

Thanks for your help.

Have a good day.

[2022-02-08 07:13] #4419 closed, assigned to jasonnutter

[2022-02-08 08:11] lokesh-kr opened #4503 "Which msal event can notify me when i logged in another application in the another tab(ex: office.com) ? How can Microsoft teams and github are getting notified when i logged in another tab using azure AD login"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

Scenario is I've two applications in 2 tabs and both are logged out.  if i logged in one tab i want to be notified in another tab.
same domain apps in the 2tabs are getting  notified using enablestorageevents

[2022-02-08 12:40] rahulmotwani1996 commented on #4457
@salman90 Can you please provide the link for the documentation on how to integrate CAE with web application.

[2022-02-08 13:00] ghost commented on #4414
@antoveritas This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-08 13:00] ghost commented on #4411
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-08 14:09] hastudillo commented on #4486
Same error reproduced with the fix. Here below the status of the cache before the error:
[code]
When the third account tries to obtain a token for the Key Vault OBO (explicitly), then:
[code]
We noticed that that, this time, the cache has 10 items when it happens. So it seems to be more important the number of accounts whose tokens are cached than the number of entries.

[2022-02-08 16:17] joshmouch commented on #4424
@sameerag Were you able to find anything additional on this?

[2022-02-08 22:13] tnorling commented on #4341
@GeorgSteyn Can you try the new version (1.3.0), which was published yesterday? I believe this should resolve the looping behavior you are experiencing.

[2022-02-09 00:10] bmahall commented on #4503
Hi @lokesh-kr ! This is out-of-scope for the msal library. For the second app on a different domain to be notified, the user needs to go to aad.
For the same session, to achieve this , please refer to [https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/events.md#syncing-logged-in-state-across-tabs-and-windows.
](url)

[2022-02-09 01:00] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-09 05:31] GeorgSteyn commented on #4341
@tnorling Will do thanks a lot. 😄

[2022-02-09 06:32] lokesh-kr commented on #4503
Hi @bmahall , Thanks for the reply. we are using Azure active directory. please let me know what do you mean by **user needs to go to aad** ?

[2022-02-09 12:14] rebendajirijr commented on #4171
We'are also facing the same issue in our project. Is there any known workaround? It works when the application is served in development mode, but when serving the production-like build, it doesn't.

**msal:loginStart** event is fired, but no other events then, so this results in having inconsistent state.

[2022-02-09 13:47] GeorgSteyn commented on #4341
@tnorling After testing my dummy app and my production app. Seems the issue has been resolved. Thank you very much.

[2022-02-09 13:47] #4341 closed, assigned to nobody

[2022-02-09 17:10] gustavoabel opened #4506 "This function acquiresTokenSilent which it uses to renew the token for me automatically?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2

### Wrapper Library

Not Applicable

### Wrapper Library Version

2

### Description

I need to know if this is the right code so that after my token expires, call a refresh token to not stop my app.

### MSAL Configuration

[code]

### Relevant Code Snippets

_No response_

### Identity Provider

Azure AD / MSA

###

[2022-02-09 17:11] gustavoabel commented on #4506
When my application's token expires, I can't search the database, so I've been trying to renew this token for 1 week.

[2022-02-09 17:38] sadasant opened #4507 "[msal-common] DeviceCodeClient not properly throwing if the server errors during polling"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

not applicable

### Description

The DeviceCodeClient [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/6592652877f31405c8ed73a66f03eada90a78c0a/lib/msal-common/src/client/DeviceCodeClient.ts#L186-L200) does not consider sc

[2022-02-09 21:36] gmiked opened #4508 "Unit Test for Project"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

I am trying to unit test using jest, but I am getting the below errors.  How to resolve?  Also, if I want to bypass MSALGuards for testing, how can you do this?  A previous question links to a github that

[2022-02-09 22:12] gmiked commented on #4508
I want to add, I have an angular 12 project.

[2022-02-10 01:15] tnorling commented on #4171
It seems like this behavior is due to a feature in some browsers: [Back/Forward Cache](https://web.dev/bfcache/) which is preventing `handleRedirectPromise` from being run again when the page is loaded as a result of going back. What happens if you include an event listener that calls `handleRedirectPromise` when loading the page from cache?

[code]

[2022-02-10 01:41] long2know commented on #4206
I see the same issue with idTokens not being refreshed and I'm running @angular/msal-browser 2.21.

While I appreciate that access tokens are recommended, in my service, the backend validates the idToken w/ .NET Core middleware and then uses a custom Role based system. The design is like this as pre-2.x versions of MSAL worked without issue to retrieve idTokens. No extra scopes/consent were requir

[2022-02-10 02:29] richard-313 opened #4509 "message: "You do not have sufficient permissions to edit this workbook.""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

msal-browser v2.7.0 2020-12-03

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Hi, I hope someone can help me.
I setup msal for vanilla JS successful. I can access others Excel files and read it.
BUT I cannot write to others excel file.

I get this error:
<img width="569" alt="im

[2022-02-10 05:10] sameerag commented on #4507
cc @bmahall can you please look into this?

[2022-02-10 06:32] rebendajirijr commented on #4171
You are probably right. I checked that when serving the application in development mode, the pageshow event isn't fired at all. But when using production-like build it is. So I've tried your approach, but it doesn't work.
![image](https://user-images.githubusercontent.com/3431185/153349580-5426f212-964a-4e05-821a-5c3682d0a7b7.png)
It says it returns the result from the previous call which is usele

[2022-02-10 08:58] lokesh-kr commented on #4503
@tnorling  can you answer to my question ?

[2022-02-10 09:53] bmahall commented on #4503
@lokesh-kr Apologies for the delay . By going to aad, I meant using ssoSilent or one of the msal login Api's.
@tnorling might be able to add more context to this.
 Thanks for your patience!

[2022-02-10 11:03] bmahall commented on #4509
Hi @s72817 ! Can you please try putting your access token in jwt.ms and see if it has the required (app level permission) in the Roles claim? Please confirm if you have the admin role.

Also, are you providing any scope? You would need to determine that for the endpoint you're calling, which scope(s) you need to request and add all of them for oauth2.

[2022-02-10 11:06] bmahall commented on #4506
Hi @gustavoabell ! Can you provide more information in the description regarding the part you are blocked on.
Also, please refer to [https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1246] ,hope it helps!

[2022-02-10 11:14] bmahall commented on #4508
Hi @gmiked , can you please share the relevant app code as well? Thanks

[2022-02-10 11:36] gustavoabel commented on #4506
@bmahall done.

[2022-02-10 12:45] gmiked commented on #4508
@bmahall I updated the relevant app code section to include the entire app.component.spec.ts.

[2022-02-10 13:00] ghost commented on #4376
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-02-10 14:08] richard-313 commented on #4509
Thanks @bmahall for the quick reply!!
I found it :)))))))
I use this example for chrome browser: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/67e4af7ed6640ea1e140ed2eb3aec4bf6f5b674c/samples/msal-browser-samples/ChromiumExtensionSample
And in the following method I found the issue:
`
async acquireToken() {
        if (!this.msalInstance) return false;
        const accou

[2022-02-10 15:58] lokesh-kr commented on #4503
@bmahall ssoSilent and msal login APis needs be triggered by user, but i'm asking is there a event which notifies  the tab(in which he logged out in the another application) as soon as the user logged in another application in another tab or window ?
@tnorling

[2022-02-10 16:10] bmahall commented on #4503
@lokesh-kr :- For the same app, this can be done using enableAccountStorageEvents API  (as you have mentioned in the description as well) .
[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/events.md#syncing-logged-in-state-across-tabs-and-windows](url)

However for apps on different domain, there is no similar way to notify another tab when the use

[2022-02-10 16:47] justinmchase commented on #4376
I've gotten the new version of the library and will attempt to implement the pattern based on the redis example. I'll add further details about concerns / successes here.

[2022-02-10 17:10] tnorling commented on #4171
I see, it's preserving everything as if you never left the page, including the in-memory storage objects we use to memoize `handleRedirectPromise`. This is something we'll likely have to address in the library but until we get a chance to work on this would it work to just do a hard reload when the above window event is fired? Another option as a workaround, though admittedly hacky, would be to ma

[2022-02-10 18:00] bmahall commented on #4508
@gmiked Thanks for uploading the test file. Can you please make sure that the msal and msal guard modules have been declared in the test file you shared and try re-running it?
You can refer to [https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0a8e67b1159ba4d745b11a57bb598c73e2adbf92/lib/msal-angular/src/msal.broadcast.service.spec.ts#L23](url) and other test files in the msa

[2022-02-10 18:24] gmiked commented on #4508
@bmahall Sure I can try that.  I would prefer to mock the services similar to the angular 8 app where possible.  Is it acceptable to mock the services similar to this example for MSAL v2 ?
[Angular 8 app example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular8-sample-app/src/app/app.component.spec.ts)

[2022-02-10 19:12] bmahall commented on #4411
We are currently looking into this. Will get back soon! Thanks for your patience.

[2022-02-11 06:23] lokesh-kr commented on #4503
@bmahall thanks for the quick reply, when i logged in my application using aad,  Teams, office.com and github.com are getting notified, can you let me know how those tabs are getting notified ? is there a way we can configure like single sign-out Front-end channel URL (which sign out my app when i logged out in the another tab) for single sign-on ? @tnorling

[2022-02-11 06:57] lokesh-kr commented on #4503
@bmahall thanks for the quick reply, when i logged in my application using aad, Teams, office.com and github.com are getting notified, can you let me know how those tabs are getting notified ? is there a way we can configure like single sign-out Front-end channel URL (which signs out my app when i logged out another application in the another tab ) for single sign-on ? @tnorling

[2022-02-11 08:42] bmahall commented on #4508
@gmiked  Yes , it should be totally fine! Please comment in case you face any issues during the mock.

[2022-02-11 08:50] bmahall commented on #4506
@gustavoabell Thanks for that! As per [https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1246#issuecomment-578963619](url)
you need to use acquireTokenSilent with the client-id of your application as the scope.
Let me know if it helps!

[2022-02-11 10:35] bmahall commented on #4506
@gustavoabell  Can you try setting the silent request config similar to this and retry: (note the forceRefresh set to false option) :

var currentAccount = msalInstance.getAccountByUsername(username);
var silentRequest = {
    scopes: ["Mail.Read"],
    account: currentAccount,
    forceRefresh: false
};

[2022-02-11 11:09] bmahall commented on #4509
Closing this, feel free to reach out in case of any other issues.

[2022-02-11 11:09] #4509 closed, assigned to bmahall

[2022-02-11 11:33] kevindixon commented on #4445
Any indication when this might land? Its a showstopper for us....

[2022-02-11 11:50] gustavoabel commented on #4506
@bmahall in case this configuration you sent me, as soon as my access token expires will another one be called?

[2022-02-11 11:51] gustavoabel commented on #4506
@bmahall my goal is to bring a refresh token to my app, so when my access token expires it calls another one.. because when my app has an expired token I can't access the database.

[2022-02-11 22:11] bmahall commented on #4506
@gustavoabell Yes, calling acquireTokenSilent before every API request will enable MSAL to return an access token either from the cache, if still valid, or exchange the refresh token for a new access token.

 You only need to pass the account and the needed scopes to the acquireTokenSilent. Setting forceRefresh to true will enable skipping the cache lookup.
For more details, please refer to:-
[htt

[2022-02-11 23:05] MatthewVaccaro commented on #2828
Implemented as close as I could but I feel like I am getting a delay. Is this expected?

When running below I don't get any errors and I can see my cachePlugin "working".
My config has an added key called "cache". I found if I don't supply this upfront it wont allow me to update it later. The prescribed way of writing the CachePlugin requires you to pass a session ID upfront so you can leverage it

[2022-02-11 23:22] EmLauber commented on #4445
Thanks for the feedback. It won't land in the current quarter as our priorities are already full (see https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md), but we will evaluate it for next quarter (CY22Q2).

[2022-02-12 11:14] bmahall commented on #4503
@lokesh-kr When you refer to these apps getting notified, can you please share the concrete steps to reproduce this behavior in order to investigate this.

Msal cannot automatically figure out when the user is signed in on another app. Your application can invoke loginRedirect or loginPopup which should complete very quickly if the user has an active AAD session. Alternatively, you can also pass t

[2022-02-12 13:00] ghost commented on #4463
@ihrigb This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-12 13:00] ghost commented on #4420
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-13 01:00] #4462 closed, assigned to jasonnutter

[2022-02-13 01:00] ghost commented on #4454
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-02-13 13:00] #4456 closed, assigned to jasonnutter

[2022-02-13 13:00] #4442 closed, assigned to jasonnutter

[2022-02-13 13:00] #4438 closed, assigned to jasonnutter

[2022-02-13 13:00] ghost commented on #4457
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-02-13 19:57] sameerag commented on #4424
@joshmouch Need couple things from you, If you are able to consistently reproduce this, can you please send us:
* MSAL JS logs (logging docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md))
* Fiddler trace

You can send an email to me, mine is listed in my profile, for the fiddler.

[2022-02-14 01:00] ghost commented on #4486
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-14 01:00] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-14 08:59] richban commented on #2828
Apply the syntax highlight properly for better readability. I might be able to help you.

[2022-02-14 09:08] kevindixon commented on #4445
Thanks for letting me know @EmLauber  - "evaluate it" sounds mighty unsure re: CY22Q2. Do you have an indication when plans for next quarter will be clearer? (Reason being, we'll need to assess ourselves whether to implement our own solution or look elsewhere).

[2022-02-14 09:26] svdHero opened #4516 "AccountInfo.name returns Display Name instead of Full Name"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.0-alpha.6

### Description

In the library's [source-code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/account/AccountInfo.ts) the comments for type `AccountInfo` read:
[code]

[2022-02-14 10:47] gustavoabel commented on #4506
@bmahall I have a question, in my case i published my app on microsoft azure and added an identity provider.. do i really need the MSAL login and logout to make the token scheme?

[2022-02-14 10:48] gustavoabel commented on #4506
@bmahall  I would also like to know if msal is an identity provider too.. because if it is I don't need the microsoft azure platform identity provider to authenticate to microsoft.

[2022-02-14 15:25] peterzenz commented on #4516
The comment is more accurate when using at the non-B2C variant of Azure Active Directory, apologies for the confusion here.  B2C might only have a display name which gets inserted into name.  More information on [Azure B2C names](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes#required-attributes) and on that same page you can read about Extension Attributes whi

[2022-02-14 15:44] samuelkubai commented on #4376
Thank you @justinmchase, will be closing this issue for now.
Feel free to re-open it or create a new issue if you have any concerns or successes on this.

[2022-02-14 15:44] #4376 closed, assigned to samuelkubai

[2022-02-14 16:55] jasonnutter commented on #4457
@rahulmotwani1996 https://docs.microsoft.com/azure/active-directory/conditional-access/concept-continuous-access-evaluation

[2022-02-14 16:57] jasonnutter commented on #4454
@zhshqzyc This means you need to add an entry to the `protectedResourceMap` for your API. For example:

[code]

[2022-02-14 20:30] zhshqzyc commented on #4454
I guess that the definition of scope should exclude from graph `protectedResourceMap.set('https://graph.microsoft-ppe.com/v1.0/me', ['user.read']);`. It is user self defined scope. The term is really confused. That's all.

[2022-02-14 20:30] #4454 closed, assigned to jasonnutter

[2022-02-14 21:56] whatjakecodes opened #4519 "[msal-react] How should I automate Azure AD login in my automated integration test?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

I am working on an automated test (e.g. using Cypress or Selenium) that needs to initially get pass the Azure AD login screen.

In this test, I am able to make a POST request to `https://login.microsoftonline

[2022-02-15 00:02] #4402 closed, assigned to tnorling

[2022-02-15 00:30] sameerag commented on #4486
@hastudillo  Thanks for the details.

We need to reproduce this on our end to see what is happening. Can you please confirm a few things before we do that:
* The third account is unique?
* Did you try clearing only specific cache entries (agree this will ne hacky) and test adding the new account and see if it passes? This is mostly to test the theory I see put forward in the issue (12 entries crea

[2022-02-15 00:54] sameerag commented on #4158
Tracking this with #4486

[2022-02-15 01:00] #4417 closed, assigned to jasonnutter

[2022-02-15 01:05] sameerag commented on #4420
Added this to the backlog of UX team. Closing the ticket.

[2022-02-15 01:05] #4420 closed, assigned to sameerag

[2022-02-15 01:50] alexander-e-andrews opened #4521 "How to send id_token instead of access_token?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.3

### Description

How can I send the id_token instead of the access_token for my Authorization header? I would like to check the user's roles on my API server. I can see the id_token using this.authService.instance.getActi

[2022-02-15 09:03] coder-pm commented on #4486
I was working on that few months ago. Found out that `multiple_matching_tokens` is thrown due to that part of the code: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/60e2cfc0e9daa3c24e994617b4ac42aef6880b74/lib/msal-common/src/client/OnBehalfOfClient.ts#L107

`accessTokenFilter` is the same for all accounts, there is nothing "account specific" during generation of that to

[2022-02-15 09:16] sameerag commented on #4486
Actually this makes sense. I however remember we used to do `uid.utid` filtering before fetching account specific access tokens. I will take a look at this bug.

Since the `accessToken` key is defined as `Key Example: uid.utid-login.microsoftonline.com-accesstoken-clientId-contoso.com-user.read` as below:  https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/60e2cfc0e9daa3c24e99

[2022-02-15 09:17] sameerag commented on #4486
If this is OBO, we should have account info. It is only for client-credential flow that we completely discard `accountInfo` since there is no user info.

[2022-02-15 10:33] bmahall commented on #4506
@gustavoabell Was the previous question resolved? Please update.

In regards to the new questions, Msal can be used to authenticate with MSA/AAD/other Social IDPs like Google, Facebook (Using B2C). It enables developers to acquire tokens from the Microsoft identity platform. If you prefer using an IDP other than the Azure IDP, you can do so.

The MSAL Login and Logout Api calls are required for au

[2022-02-15 12:19] fayeBabacar78 commented on #4257
The issue is still present when trying to install @azure/msal-angular in an Angular v13 project. The current version of RXJS when generating a new Angular v13 project is not compatible to the one used within the MSAL library. My fix was to downgrade RXJS version from **7.5.0** to **6.6.7** (the latest before v7).

[2022-02-15 13:00] ghost commented on #4507
@sadasant This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-15 14:03] getwebem opened #4522 "Cannot login on msal-react, error on console.log()"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

MSAL.js for React B2C Sample

### Description

I am getting an error in the console.log() FetchClient.ts:24   as the place for the error. Line 24 is the await in the function below
  /**
     * Fetch Client for REST endpoints - Get

[2022-02-15 14:42] sadasant commented on #4507
@msftbot bad bot 😅 I was never requested feedback.

[2022-02-15 14:45] sadasant commented on #4507
@msftbot good bot 🙂

[2022-02-15 15:07] salman90 opened #4523 "Msal caches multiple access tokens for the same resource, retrieves incorrect access token from the cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

I have a Node web API that rejects any access token coming from the frontend that doesn’t contain a certain conditional access claim. When this happens, I make a new token request on my frontend, passing the

[2022-02-15 18:44] hectormmg commented on #4522
Hi @getwebem ! Please review your MSAL and request configuration, the `authority` and `knownAuthorities `values seem off to me, same as the initial part of the scope, these should be normal URLs. There should be no spaces, I believe these values are incorrect.

[code]

In short, your base authority seems to be incorrect as far as I can tell.

[2022-02-15 19:13] hectormmg commented on #4519
Hi, @whatjakecodes ! Thanks for the question.

So, there's quite a big difference between the way MSAL React (which wraps MSAL Browser) acquires and stores tokens on the browser and the way you would handle tokens acquired through the Client Credentials grant. Since MSAL React works on the browser side, it can't keep a client secret secure, meaning it can't use the Client Credentials flow.  Since

[2022-02-15 19:14] hectormmg commented on #4523
This seems to be related to a bug introduced in v 2.21 with regards to matching the incorrect access token when doing a cache lookup for a token that includes client claims. Looking into it, will link the PR with the fix soon.

[2022-02-15 19:19] salman90 commented on #4523
@hectormmg thanks for the update.

[2022-02-15 19:31] getwebem commented on #4522
hi Hectormmg, I understand what you mean but even my new msal i still face the same error:

// Config object to be passed to Msal on creation
export const msalConfig = {
    auth: {
        clientId: "7ab42012-eec1-4e5f-b82d-218d1ec6ce7e",
        authority: "https://promise-web001.b2clogin.com/promise-web001.onmicrosoft.com/B2C_1_signup_signin_b2c001",
        knownAuthorities: ["promise-web001.b

[2022-02-15 19:33] getwebem commented on #4522
This MSAL and the one with spaces in them I can both sign in an get the jwt.ms token so i suspect the error might be in my b2c configuration, am happy to send you the details

[2022-02-15 19:36] getwebem commented on #4522
B2C_1_signup_signin_b2c001
B2C_1_reset_passwordb2c001
B2C_1_profile_editingb2c001
------
Display name: promise-web001

[2022-02-15 19:38] hectormmg commented on #4522
@getwebem please turn on the verbose logs in your MSAL config and share those so we can better figure out what's going on.

[code]

[2022-02-15 19:40] hectormmg commented on #4521
Hi @alexander-e-andrews . The Interceptor doesn't allow that behavior since ID tokens aren't interchangeable with access tokens and serve different purposes. Which specific claim are you looking to inspect? It is likely this ID token claim in question may also be in the access token. If that's not the case, using a custom scope for specific user roles could be a good solution here.

[2022-02-15 19:42] getwebem commented on #4522
`GET https://promise-web001.b2clogin.com/promise-web001.onmicrosoft.com/b2c_1_signup_signin_b2c001/v2.0/.well-known/openid-configuration 404 (Not Found)`

[2022-02-15 20:29] patrick-rodgers opened #4524 "login.live.com CORS error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I need to retrieve a token with scope "OneDrive.ReadWrite" for use with a file picker targeting OneDrive consumer (@live.com account). I setup the configuration as below and pass the scopes. As best I can tell from various a

[2022-02-15 21:29] getwebem commented on #4522
@hectormmg the only  msalConfig file in my code is listed below:

// Config object to be passed to Msal on creation
export const msalConfig = {
    auth: {
        clientId: "7ab42012-eec1-4e5f-b82d-218d1ec6ce7e",
        authority: "https://promise-web001.b2clogin.com/promise-web001.onmicrosoft.com/B2C_1_signup_signin_b2c001",
        knownAuthorities: ["promise-web001.b2clogin.com"],
        red

[2022-02-15 21:32] hectormmg commented on #4522
@getwebem yes, I'm suggesting you add the `system` configuration object to your config to turn the MSAL logger on. This way you'll be able to see the logs on the browser console and get more diagnostic info.

[2022-02-15 21:44] getwebem commented on #4522
This is the updated code

![Screenshot (278)](https://user-images.githubusercontent.com/15692073/154155542-993d5e7d-5d76-4f1e-9f22-17317fb2760b.png)

[2022-02-15 21:45] getwebem commented on #4522
These are the errors in the console.log()

Uncaught ReferenceError: msal is not defined
    at Module.<anonymous> (authConfig.js:34:1)
    at Module../src/authConfig.js (authConfig.js:42:1)
    at __webpack_require__ (bootstrap:851:1)
    at fn (bootstrap:150:1)
    at Module.<anonymous> (ProtectedData.jsx:57:1)
    at Module../src/ui-components/SignInButton.jsx (SignInButton.jsx:10:1)
    at __we

[2022-02-15 21:50] getwebem commented on #4522
Errors from console.log()

![Screenshot (277)](https://user-images.githubusercontent.com/15692073/154155201-81d8eb1b-f77f-4b1d-bdb2-4d1a8c2b73fa.png)

[2022-02-15 22:31] whatjakecodes commented on #4519
thanks for following up, @hectormmg! I am looking into those links, as well as this library that seems to do what I am trying to do: https://www.npmjs.com/package/cypress-msal-login

We are indeed testing an app that relies on MSAL React! Our app uses `UnauthenticatedTemplate` and `AuthenticatedTemplate` components -- if the Unauthenticated component loads, our app immediately redirects to the log

[2022-02-15 22:40] hectormmg commented on #4522
@getwebem add:

[code]

And then instead of `logLevel: msal.LogLevel.Verbose` do `logLevel: LogLevel.Verbose`

[2022-02-15 23:01] hectormmg commented on #4519
@whatjakecodes I wouldn't recommend obtaining a token yourself and then adding it to the cache so that MSAL React picks it up. You would need to replicate MSAL's caching logic and that is just too complicated (especially since our cache schema is subject to unannounced changes that will break your tests).

Furthermore, I don't think it's a good idea to avoid the interactive login since it's clearl

[2022-02-15 23:40] hastudillo commented on #4486
@sameerag Thank you for your answer.
* I can confirm that the third account is unique.
* We haven't tested clearing only specific cache entries.
* As mentioned above (02/08) we noticed that the cache had 10 items when the error was reproduced. So it seems to be more important the number of accounts whose tokens are cached than the number of entries.
Tested with the following `package.json`:
[code]

[2022-02-16 01:00] ghost commented on #4411
@julian-code This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-16 01:00] #4414 closed, assigned to sameerag

[2022-02-16 07:17] francesconi commented on #4411
Experiencing the same problem.

[2022-02-16 07:37] julian-code commented on #4411
This is still in progress. We have not found a solution yet. We are forcing users to logout.

[2022-02-16 08:43] tejaswibm opened #4525 "Store Id Token in session cookie"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

I have an SPA that has links to multiple portals hosted in different domains. Each of these portals in turn have integrated SSO using flask-appbuilder. When logged-in to my SPA, I want the links of other port

[2022-02-16 09:46] getwebem commented on #4522
@hectormmg I have attached the updated code as well as the Error results
![Screenshot (282)](https://user-images.githubusercontent.com/15692073/154238220-3c53c3fa-8957-44e0-899f-1f952a09dcf8.png)

![Screenshot (283)](https://user-images.githubusercontent.com/15692073/154238245-b1c5bfae-eb5b-4901-afd5-a63d187e2143.png)

[2022-02-16 12:47] gustavoabell commented on #4506
@bmahall Can I have a more direct contact with you? my application does not need to logout.. just that when I access the application it redirects me to the login screen (this I have already managed to do) but I need to get the access token and do a validation so that when this token expires, get another token not to stop my application. Can you help me with this?

[2022-02-16 12:48] gustavoabel commented on #4506
@bmahall I can upload the application to my github repository

[2022-02-16 13:03] ukaaa opened #4526 "Obtain app roles client-side for multiple resources"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

**Use case**
I have a frontend SPA which uses multiple backend APIs. Each API has an app registration and some app roles defined. I would like to conditionally render UI elements based on the roles a user has for these indivi

[2022-02-16 14:07] relief12 opened #4527 "If Azure is down, will it use the cache automatically? My SPA is clearing local and session storage"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

I have a SPA. Every time the user signs off or closes the app we are clearing the local and session storage. I read that if for any reason Azure is down and unavailable, and we can't reach their API for l

[2022-02-16 14:17] whatjakecodes commented on #4519
That all makes sense.. Unfortunately, logging into the Microsoft SSO from Cypress by filling in the fields and clicking the buttons isn't well supported and they recommend against it here: https://docs.cypress.io/guides/references/best-practices#Visiting-external-sites. I do think I can get it to work, however.

By the way, I am having luck with the [cypress-msal-login](https://www.npmjs.com/packa

[2022-02-16 14:18] Trapulo commented on #4154
I have an Angular 13 project running rxjs 7.4 and I'd like to switch to Azure Identity for authentication. So I need to   abort it, really bad :(

[2022-02-16 14:37] waxisien opened #4528 "msal-browser popup position for dual screen"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Hello,

For dual screen setup, Popup cannot be positioned with negative values which occures depending of which screen is defined as the main one.

Setup example:
![Screen Shot 2022-02-16 at 9 11 17 AM](https://user-images.githubusercontent.com/1349973/154282921-2bb377b3-f5a0-4052-90d4-4a38216

[2022-02-16 14:58] whatjakecodes commented on #4519
Looking into setting our test to fill in the Microsoft SSO page form and click the sign in button...

We'd like our test to first navigate to `https://login.microsoftonline.com/my-tenant-id/oauth2/v2.0/authorize` and login, and then second navigate to `localhost:8080`. This would be different from going directly to `localhost:8080` and letting msal-react redirect our test harness browser to the mi

[2022-02-16 17:11] hectormmg commented on #4519
@whatjakecodes I don't recommend trying to handle the login yourself, you would essentially be re-implementing what MSAL already does. It's not as simple as navigating to a page and filling in the credentials, the Authorization Code flow has a lot of nuances that MSAL abstracts away for you (the nonce, code_challenge, state, etc. are just the tip of the iceberg here).

I don't see why the regular

[2022-02-16 17:14] hectormmg commented on #4522
@getwebem sorry, please remove the `msal.` from lines 22-31.

[2022-02-16 17:17] hectormmg commented on #4524
@patrick-rodgers thanks for raising the issue, I've gone through your description and the issues/PRs/docs you link to and haven't seen an obvious answer here. I'll look into it and get back to you soon.

[2022-02-16 17:49] getwebem commented on #4522
@hectormmg  updated code now

![Screenshot (289)](https://user-images.githubusercontent.com/15692073/154327898-f311cc68-26cf-4d27-a4da-1a628bf53634.png)

[2022-02-16 17:52] getwebem commented on #4522
@hectormmg The error from console.log()

![Screenshot (288)](https://user-images.githubusercontent.com/15692073/154326836-7e911cd5-8642-4a84-a836-dfb920888bba.png)

[2022-02-16 20:03] ranikatta opened #4529 "Redirect user to custom error page when AADSTS50105 error occurs"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Description

Hi, is there a way that I can redirect the user to a custom error page instead of showing the below screen.
There are users that are using our app and who have multiple MS accounts. When they access our a

[2022-02-16 20:22] webivan1 opened #4530 "I cannot refresh my expired token immediately"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.2.4

### Description

Hi
When i try to refresh an expired token the Azure send me back the same expired token
I use the library @azure/msal-browser with Vue2 and axios
I have tried to refresh my access token through acquireTokenSilent
I check my

[2022-02-16 21:27] patrick-rodgers commented on #4524
Thanks!

[2022-02-16 23:19] webivan1 commented on #4530
I have received the same token and time wasn't correct https://i.imgur.com/npg4Tc9.png
Actually "ext" of payload object in a "new JWT token" have already expired https://i.imgur.com/dT5WUNo.png
My current time is 23:00)
Finally my token was expired at 22:55 but the same token is still alive in Azure until 23:17

[2022-02-17 00:14] alexander-e-andrews commented on #4521
@hectormmg I am trying to send custom app roles. I have added them under the API Permissions tab on my ad instance, but I do not see them on the access token. Is there something basic I could be missing?

[2022-02-17 01:00] ghost commented on #4508
@gmiked This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-17 09:29] lokesh-kr commented on #4503
@bmahall my bad, when i'm on my github signin page sometime i see **you've signed in another tab, please refresh**  message. but is not happening in teams.

[2022-02-17 09:29] #4503 closed, assigned to bmahall

[2022-02-17 14:09] webivan1 commented on #4530
If someone has the same issue please try the code:
[code]
It works for me, but I hope the logic of acquireTokenSilent will be resolved

[2022-02-17 17:41] rdogmartin commented on #4154
I was able to get MSAL running in Angular 13 using the new `overrides` feature in npm, introduced in 8.3.0.

`"overrides": {
    "rxjs": "~7.5.2"
  },`

[2022-02-17 18:04] hectormmg commented on #4530
@webivan1 it seems this issue is a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4206. At the moment MSAL doesn't look at the ID Token's expiration for renewal logic, please look at that issue for details. Closing as duplicate.

[2022-02-17 18:04] #4530 closed, assigned to hectormmg

[2022-02-17 18:25] zsoltlengyelit commented on #4154
I have done the same as @rdogmartin , except with versions reference. Works well so far.
[code]
read more here: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

[2022-02-17 19:12] michaelmairegger commented on #4154
@zsoltlengyelit @Trapulo I currently have lot of projects using msal in conjunction angular 13, all of them are working without any problems if the reference is

`"rxjs": "^6.5.3 || ^7.4.0"`

[2022-02-17 20:30] hectormmg commented on #4525
Hi @tejaswibm , thanks for raising the issue!

Setting the ID Token in the session cookie is only useful for the app on a specific domain maintaining its own access while the session is active, since cookies are partitioned by domain. This means even if you did set it, it would not be accessible from the other portals/apps on different domains.

As far as how to achieve SSO across domains, each ap