[2019-09-17 17:05] rahulrastogi-git commented on #990
Thanks for your response Jason.
Based on discussion in other forums i have downgraded my rxjs version to 6.2.2 and installed rxjs-compat 6.2.2 as well, after that it works fine.

Regarding point 1
scenario 1
After typing URL of my application, i want user to show login page, for that should I protect home page route by MsalGuard, or should I call "logindirect" on ngonInit(), what is recommended?

[2019-09-17 17:47] dluc commented on #989
Thanks, really appreciate the update and looking forward to see the new additions. (fixed typo in my original post 'library'=>'library documentation').

I've been looking at the React sample, here's some comments in case you could extend it:
1. Would be nice to have a Typescript example, ie to better understand the variable types involved. This would help with the library API, e.g. how to find ide

[2019-09-17 18:25] pieterdv commented on #963
Hi @chrislangston if I look at MsAngularAdal, it also uses the forRoot to initialize ADAL so if you could create a gist of your solution it would be of helpful!

[2019-09-17 19:42] chrislangston commented on #963
Hi @pieterdv   See the sample Angular Application that has the ability to dynamically pulls configuration from a back-end website below.
https://github.com/chrislangston/microsoft-adal-angular6-with-dynamic-configuration

* Note that I use a .net Core website to serve the Front-end Application, so we don't have any CORS issues to deal with when pulling the configuration.
* We use a separate .NET W

[2019-09-17 22:45] jasonnutter commented on #958
Working with @jepetty to improve MSAL usage, but for anyone else who gets the `AADSTS50199: Conditions to show CMSI interrupt are met` error, it is thrown when your app uses a non-https redirect uri (e.g. such as `chrome-extension://`). We'll make sure this gets added to the list of error codes.

[2019-09-18 05:35] ispysoftware commented on #957
20 days and the CDN is still not working - Imagine if you were relying on the CDN to work for people to sign into your website! It's not really filling me with confidence.

[2019-09-18 07:43] vishwanathsunkari commented on #815
Hi , i am facing the same problem , i am using angular 7 , and for authentication using adal-angular 4 librabry . making an implicit grant callback, getting the token in adalObject . but when i make the api call to get the users , saying not authorized. and i validated my token in jwt.io , there is not nonce in the token.

my config to implicti way is :
config: {
    app_displayname: "my-app-name"

[2019-09-18 12:56] kingbe01 opened #992 "Slow running local with multiple openid-configuration calls"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ X] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ X] Chrome version XX
- [ X] Firefox version XX
- [ X] IE version XX
- [ ] Edge version XX
- [ X] Safari version XX

## Library ve

[2019-09-18 13:08] jvandervelden commented on #815
Hi @vishwanathsunkari,

Make sure your application has the permissions required to get all users in your AD (https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis#add-permissions-to-access-web-apis). Querying all users requires the user to have more elevated permissions than just querying the user's information, so make sure the logged in user has

[2019-09-18 13:18] scale-tone opened #993 "msal vs. @azure/msal"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The [main page](https://github.com/AzureAD/microsoft-authentication-library-for-js) says:

While the [main wiki page](https://github.com/AzureA

[2019-09-18 15:23] jasonnutter commented on #993
@scale-tone Apologies for the confusion. They are the same library, but you should use `msal` for now, as it looks like we are behind on publishing new versions to `@azure/msal`.

[2019-09-18 15:39] jasonnutter commented on #993
FYI @pkanher617

[2019-09-18 15:50] jasonnutter commented on #989
@dluc Appreciate the feedback, I agree a Typescript example would be good to have.

To address your other questions:

1. An ID token will be returned after logging in. More info available here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow#send-the-sign-in-request
2. Our cache isn't currently documented, as its an implementation detail of the library

[2019-09-18 16:14] rahulrastogi-git commented on #990
Team, any opinion/suggestion on this.

[2019-09-18 16:18] jasonnutter commented on #992
@kingbe01 Can you please provide some steps (e.g. a sample project) that demonstrates this? And can you share the `openid-configuration` url your app is calling (e.g. `https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration`)?

Calling that endpoint every time a new token is fetched from the network is by design and should be cached by browser, so I'm guessing the issue is h

[2019-09-18 16:19] jasonnutter commented on #992
Also, please denote the version of `msal-angular` you are using, thanks!

[2019-09-18 16:25] jasonnutter commented on #979
@awadeyar Unfortunately, I don't believe our library is compatible with the Ionic framework. Have you tried look into our SDKs for [Objective C](https://github.com/AzureAD/microsoft-authentication-library-for-objc) or [Android](https://github.com/AzureAD/microsoft-authentication-library-for-android)?

[2019-09-18 16:28] kingbe01 commented on #992
@jasonnutter Thanks for the quick response.
Version 0.1.2

https://mncportaldev.b2clogin.com/tfp/mncportaldev.onmicrosoft.com/b2c_1_mncportaldev_signupsignin/v2.0/.well-known/openid-configuration

The odd thing is this behavior does not exist on a full build. It checks the cached version 1st before going back out to openId. Is it possible that something with HMR running locally could cause the iss

[2019-09-18 16:43] jasonnutter commented on #834
@AbhaysinghBhosale It would helpful if you could share a full sample app that demonstrates your issue (e.g. a private Github repo that you can invite me to). Thanks!

[2019-09-18 17:02] awadeyar commented on #979
@jasonnutter Thanks

[2019-09-18 17:02] #979 closed

[2019-09-18 17:13] jasonnutter commented on #990
1. Use the guard, which will handle that logic for you.
2. The guard will generate an `msal:loginSuccess` event when it has retrieved a token.

[2019-09-18 17:23] himadrinath commented on #992
@jasonnutter  i am also seeing this same behavior in my react application today i just updated to version@1.1.3

i cached to into my localStorage.

https://linklookrauthdev.b2clogin.com/tfp/26530a5c-4c03-4545-bcdc-fa423894e9ff/b2c_1_sign_in_up/v2.0/.well-known/openid-configuration

it's happening to dev and pod both env

[2019-09-18 17:27] #879 closed

[2019-09-18 17:30] jasonnutter commented on #879
Looks like this was fixed, please let us know if not. Thanks!

[2019-09-18 17:44] rahulrastogi-git commented on #990
on your point 2, I am not getting any event, in case token was picked from cache.

[2019-09-18 17:45] rahulrastogi-git commented on #990
I am using @azure/msal-angular 0.1.4 version.

[2019-09-18 23:52] NareshKumarM opened #995 "MSAL logs out automaticaaly on IE11 after upgrade to 0.1.4"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] IE version 11.950.17134.0

## Library version

<pre><code>
Library version: 0.1.4
</code></pre>

## Current behavior
Using l

[2019-09-19 00:40] adamstoffel opened #996 "Provide config option to include id_token in B2C logout requests"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.0.4

</code></pre>

To provide additional security and avoid CSRF, it is possible to configur

[2019-09-19 01:08] pkanher617 commented on #957
@keystroke @ispysoftware Sorry for the delay. We had some issues with the CDN upload process. We have mostly rectified them, and the new files will be available here:
https://alcdn.msftauth.net/lib/1.1.3/js/msal.js
https://alcdn.msftauth.net/lib/1.1.3/js/msal.min.js
https://alcdn.msauth.net/lib/1.1.3/js/msal.js

[2019-09-19 01:55] nakawankuma commented on #746
@jasonnutter thank you open my issue #985
I am getting base64 decode error on 2 account.
1 account AAD, 1 account LiveID.
this issue is serious.
Service unavailable due to can not user signin.

[2019-09-19 02:22] keystroke commented on #957
@pkanher617 Thanks! The 1.1.3 link isn't working for me yet but as you say should be available shortly. For the new links, what is the difference between using the "msauth" and "msftauth" endpoints? Is one intended for internal consumption only? Or just redundant endpoints?

[2019-09-19 06:39] himadrinath commented on #984
@pbalzer when i try to login in my pwa application on mobile. popup window on chrome don't do any thing just stopped and some time it open the login page and after submitting the credential if i click signin its not work. if i only wait for few secs and then click to login its works but not even every time.

this is causing the problem u mention

![login_hungup](https://user-images.githubuserconte

[2019-09-19 08:03] himadrinath commented on #992
fixed it. its happened because of scope. now its working fine

[2019-09-19 10:37] Danieliverant opened #997 "accountState different in IE and in Chrome"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [X ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-09-19 10:46] danicomas commented on #843
I have the same problem. It should be included, otherwise mobile devices can not validate.

[2019-09-19 13:44] kingbe01 commented on #992
@himadrinath that did it. Looks like local env scope settings were off! Thanks.

[2019-09-19 15:22] sameerag commented on #996
@adamstoffel Thank you for bringing this to our attention.
@ktsakas Does B2C service support this?  if they do, can we also understand what id_token_hint would be?

[2019-09-19 15:41] jasonnutter commented on #992
Good to hear you were able to get it working. One note, it is a known issue that the `openid-configuration` endpoints for B2C authorities do not have the proper cache headers set, and we have alerted the B2C server team about that.

Closing, let us know if you have any further questions. Thanks!

[2019-09-19 15:41] #992 closed

[2019-09-19 15:57] rahulrastogi-git commented on #990
Any idea Jason?

[2019-09-19 16:19] jasonnutter commented on #990
Ah, so it only broadcasts that event when a new token is acquired, and will not broadcast when retrieving a cached token. Ultimately, this is okay, as the `MsalInterceptor` will add the access token to your outgoing calls for you.

If you want to get the token directly even if its cached, you can use `acquireTokenSilent`, which will fetched the cached token.

[2019-09-19 18:25] sameerag commented on #965
@kumarunster Can you share us the sample to repro this? We are curious why editing the response_type is solving this issue.

[2019-09-19 18:28] sameerag commented on #877
This could be probably achieved by supporting "tenant profiles" in MSAL JS. Adding it as notes to follow up.

[2019-09-19 18:34] sameerag commented on #866
@leniel One thing that confused me: msal 1.1.1 is not compatible with Angular wrapper we have. Did you guys make any local modifications for the same?

Regarding how to use msal 1.1.1 and send a login hint, please set it in the request parameters, source code linked to the msal 1.1.1 version [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/v1.1.1/lib/msal-core/src/Aut

[2019-09-19 18:39] sameerag commented on #842
Marking this as B2CService as MSAL JS cannot fix this. Keeping this ticket open to track this.

[2019-09-19 20:18] jasonnutter commented on #267
@tvperez76 Is this still an issue? Please let us know if so.

You may find the B2C demo helpful: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp

[2019-09-19 20:20] jasonnutter commented on #317
@spottedmahn Is this still an issue?

[2019-09-19 20:23] DarylThayil opened #998 "Msal.js has telemetry dashboards to show usage and reliability"
@sameerag  to fill out requirements and goals for this work item

[2019-09-19 20:24] DarylThayil opened #999 "Msal.js has Integration testing for all important flows"
@sameerag  to detail plan / goals / tests to be written

[2019-09-19 20:24] jasonnutter commented on #319
@spottedmahn Are there any unresolved questions around `navigateToLoginRequestUrl`  specifically? We're currently investigating how to support multiple policies on B2C, which will be tracked separately in #440 .

[2019-09-19 20:25] #352 closed

[2019-09-19 20:29] jasonnutter commented on #390
We are no longer supporting the AngularJS wrapper, and will concentrate on `msal-angular`. If there any issues with typings in that library, please open a new issue, thanks!

[2019-09-19 20:29] #390 closed

[2019-09-19 20:30] #490 closed

[2019-09-19 20:34] jasonnutter commented on #786
From https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/552: Support glob patterns for protected resources

[2019-09-19 20:34] juteasl commented on #981
Is there a status update on this issue?  It's not had a follow up in 7 days, we are waiting on this fix too.

[2019-09-19 20:34] jasonnutter commented on #552
We'll track this feature request in #786, thanks!

[2019-09-19 20:35] juteasl commented on #752
Is there a status update for this issue?  We are actively waiting on the solution.

[2019-09-19 20:38] rahulrastogi-git commented on #990
MsalGuard is on **home**  page, onloginsuccess event i was directing my application to **main** page. since I am not getting onloginsuccess event in case cache, application remains at home, which is just a blank page, thats the issue.

Is there any method to check if there is valid token?
if there is then application can go Main page, if not then go to login page.

[2019-09-19 20:38] jasonnutter commented on #553
@pkanher617 Can you check to see if this is solved by your recent work on caching?

[2019-09-19 20:39] #563 closed

[2019-09-19 20:42] DarylThayil commented on #897
closing because all work associated with this is done, will create new bug if necessary

[2019-09-19 20:48] DarylThayil commented on #835
We are no longer supporting AngularJs / Angular version 1.
We will be supporting 4+ by the end of the year #786

[2019-09-19 20:48] #835 closed

[2019-09-19 20:50] jasonnutter commented on #667
Closing, as we have no plans to support this currently.

[2019-09-19 20:50] #667 closed

[2019-09-19 20:51] DarylThayil commented on #758
1.1.3 is  available from cdn now

[2019-09-19 20:52] jasonnutter commented on #677
@negoe

[2019-09-19 20:52] #697 closed

[2019-09-19 20:53] DarylThayil commented on #771
#786  will resolve this, closing as duplicate, expect release by end of December cc @jasonnutter

[2019-09-19 20:53] #771 closed

[2019-09-19 20:57] jasonnutter commented on #786
From https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/729: No event when token is retrieved from cache

[2019-09-19 20:58] jasonnutter commented on #729
Tracking as a part of #786 .

[2019-09-19 20:58] #729 closed

[2019-09-19 21:00] DarylThayil commented on #962
I have reached out to our server team for reason why this may have happened

[2019-09-19 21:19] zamzowd commented on #563
Why was this closed?

[2019-09-19 21:23] jasonnutter commented on #990
`getAccount()` will return an object if a user is logged in, and `null` if not. So on your home page you could check if a user is logged in with `getAccount`, and then redirect to the main page if so.

[2019-09-19 21:52] sameerag commented on #563
This will be tracked with #900.

[2019-09-19 22:15] #890 closed

[2019-09-19 22:18] DarylThayil commented on #888
Msal libs are considering building throttling into lib instead of depending on devs

[2019-09-19 22:20] DarylThayil commented on #845
@pkanher617  if we can close this in September lets do it, otherwise lets move to future minor

[2019-09-19 22:27] DarylThayil opened #1000 "Msal Js Support Auth Code Flow In The Browser"
Goals: We would like to support the authorization code flow with PKCE for Single Page Applications in browser environments.

Milestones:
- [x] Alpha Release
This is currently available in npm [here](https://www.npmjs.com/package/@azure/msal-browser).

This is the first version of the library available for private preview. We do NOT recommend anyone use this in their production apps - this is only

[2019-09-19 22:29] DarylThayil commented on #944
We are taking this on in Q2  ( Oct - Dec ) of 2019.  Tracked in #1000
Closing this ticket to be tracked in master ticket

[2019-09-19 22:29] #944 closed

[2019-09-20 06:03] daniel-seitz commented on #490
A "half-baked" workaround could be:

- User clicks logout
- Remove all items in localstorage which start with msal
- Call the logout method

That way upon reload of the app (even without clicking the final AD-logout) the msal-logged-in state for this particular app (and also this user) is logged-out. No token no login.

Only thing is of course that the user is still logged into AD and can easily l

[2019-09-20 09:13] Nasicus commented on #960
Sorry @sameerag for some reason I missed your message.
Anyway this is STILL happening from time to time.
In the mean time our login-object looks like this:

[code]

I guess you are right that we could / should remove the `login_hint` from the extra query parameters since we already pass it explicitly as the `loginHint` (on the old MSAL vesion this was not possible and we forgot to remove it). Howe

[2019-09-20 13:01] rahulrastogi-git commented on #990
I dont see getAccount in msalservice, it seems it is not part of msal-angular.

[2019-09-20 14:01] chr1soscl opened #1001 "msal:loginFailure not triggering with msal.login.error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 75.0.3770.90

## Library version

<pre><code>
0.1.4
</code></pre>

## Current behavior
msal:loginFailure is not

[2019-09-20 14:26] spottedmahn commented on #194
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/440

[2019-09-20 14:30] spottedmahn commented on #317
no clue, sorry, not doing B2C stuff these days

[2019-09-20 14:32] spottedmahn commented on #319
sorry, not sure and I'm not actively working on B2C anymore

[2019-09-20 15:39] leniel commented on #866
@sameerag I'm using 1.1.2 right now. It's working for what we need. However I did not try your sample code.

I'm using msal-angular from here: https://www.npmjs.com/package/@azure/msal-angular

Thanks for taking the time to provide the sample code.

[2019-09-20 15:39] #866 closed

[2019-09-20 16:58] RobARichardson commented on #317
I haven't seen this issue since the release of [v1.1.2](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.1.2).  The fix might be related to #875 as was [mentioned](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/762#issuecomment-521455905) by @sameerag over on issue #762

[2019-09-20 17:08] pkanher617 commented on #317
@spottedmahn @RobARichardson We reviewed this as a team and found that these request responses are being served from the browser cache, not making network calls. Can you please verify the Size column and see if this is the case? It should say (disk cache) in the Size field for the relevant requests.

[2019-09-20 17:09] pkanher617 commented on #993
@jasonnutter Thanks for the update, I will publish to @azure/msal for the missing versions.

[2019-09-20 18:01] sameerag commented on #960
@Nasicus domain_hint can still be passed as 'extraQueryParameters'. I find your usage okay, sticking to a single resource in scopes and adding a new resource scopes for 'extraScopesToConsent' would give you pre-consent while logging in for the 'tokens' you may request later.

We have recently fixed a bug #983 where we are clearing all cache that is not needed after a response is sent to the user a

[2019-09-20 18:05] sameerag commented on #960
One more observation:
authority: policy || this.authConfiguration.signInPolicy

If you are using B2C authority, we recommend setting `validateAuthority: false` as they can be customized and the validation happens at the end point. For AAD you can keep it on.

[2019-09-20 18:11] sameerag commented on #440
We are working on understanding how to support this in MSAL JS and if any background work is needed to enable this. Will update this ticket once we have more clarity on the dates.

[2019-09-20 18:13] sameerag commented on #1001
@jasonnutter  one thing to keep in mind, @pkanher617 and Me are planning to streamline errors and may get rid of msal.login.error all together and just have one error json in cache. We should design the angular interface around the same.

[2019-09-20 18:13] DarylThayil commented on #957
This should be completed, @keystroke  can you check again?
@pkanher617  to add context on the endpoint differences

[2019-09-20 18:18] sameerag commented on #319
@spottedmahn Closing this then for now. We will work on #440 and please feel free to open a new issue if any bug around `navigateToLoginRequestUrl` is found. Thanks for the prompt response.

[2019-09-20 18:18] #319 closed

[2019-09-20 18:22] DarylThayil commented on #752
@sameerag  do you have anything you can add here on this issue?
Does the claims object you added here add this?

[2019-09-20 18:23] jasonnutter commented on #990
Ah, sorry it's called `getUser()`.

[2019-09-20 20:51] SabirHossain opened #1003 "User sign in saying can't enter personal email"
#607
 Current behavior
When the pop up windows come and enter an Microsoft account email it saying I can't use personal account here, but the app from your repository is working fine.

## Expected behavior
It should show the same login pop up as your project.

## Minimal reproduction of the problem with instructions
In AppModule
[code]
Opening the login popup
[code]

Your app redirect to https://l

[2019-09-20 22:54] keystroke commented on #899
@sameerag I'm using MSAL.js version 1.1.2 and I hosted my MSAL SPA inside the Azure Portal to test if it would work (embedded in an iframe and side-loaded). I can see that the page loads fine, and I can successfully call loginpop and authenticate! However, when I call "acquireTokenSilent" I don't see any outgoing calls or errors generated, it returns a promise that seems to never resolve. No error

[2019-09-20 23:13] abegines commented on #152
this problem still occurs, with version 1.0.0 and 1.1.0.
please reopen issue

[2019-09-20 23:17] sameerag commented on #899
@keystroke 1.1.2 does not resolve promises in silent calls. There is a decorator that restricts this in the code. This ticket(which has a bunch of PRs listed in the description) is an effort to remove that restriction in msal js and allow apps in iframes to resolve tokens.

However identity places some restrictions on interactions on an iframe, hence we have certain conditions placed on redirect f

[2019-09-20 23:36] abegines commented on #152
and 1.1.2 also not working

[2019-09-20 23:37] keystroke commented on #899
@sameerag I was able to work around the current behavior with below code snippet:
[code]

I tried above code to replace old pattern shown below for now and verified this works, though it will generate a popup which automatically closes in the scenarios where silent token acquisition would work. THIS IS NOT PRODUCTION CODE DON'T WORRY ;)

[code]

I am only working with MSAL.js for proof-of-concept

[2019-09-20 23:53] sameerag commented on #899
We haven't. Would need some time to check this scenario and if we can support it. Can I reach out may be in a week once we stabilize our beta release? @DarylThayil FYI for the scenario.

[2019-09-21 01:29] keystroke commented on #899
@sameerag @DarylThayil Thanks! Some more info as FYI below on integrating with the Azure Portal (please note I'm not actually on their team or anything, nor am I a proper front-end dev, I've just been hacking this stuff together for Azure Stack).

Looking through Ibiza docs, they have a "frame control" where you can host an external page in an iframe: https://ms.portal.azure.com/?Microsoft_Azure_P

[2019-09-21 01:38] keystroke commented on #957
@DarylThayil Thanks! Verified I can access both endpoints for the CDN. Gave my app a spin and no explosions so looks like things are still working fine ;)

[2019-09-21 06:32] eirikb commented on #899
Would `acquireTokenSilent` ever work from an iframe? Isn't that technically impossible because of things like `X-Frame-Options: deny` (which should be set to prevent clickjacking)?

[2019-09-21 07:42] scale-tone commented on #993
Can anyone still explain why we have the same library published twice?

[2019-09-21 22:27] abegines commented on #152
I've reproduced/workaround the problem by simply changing the execution scope of `new Msal.UserAgentApplication`...

In the code above, if the line `init()` is executed on page load (i think in the window scope) all works fine (show login popup, and back to app windows). But if I comment this line and execute `init()` inside of click event of a button, then it fails (show login popup, and reload a

[2019-09-21 22:37] abegines opened #1005 "Page reloaded on popup after signin (not closing)"
I've reproduced/workaround the problem by simply changing the execution scope of `new Msal.UserAgentApplication`...

In the code above, if the line `init()` is executed on page load (i think in the window scope) all works fine (show login popup, and back to app windows). But if I comment this line and execute `init()` inside of click event of a button, then it fails (show login popup, and reload a

[2019-09-21 22:52] abegines opened #1006 "PWA, loginpopup ends with about:blank"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Browser:
PWA in android with Chrome (Add To Home Screen)

## Library version

<pre><code>
Library version: 1.0.0 a 1.1.2
</code></pre>

## Current behavior
When I use my page from the browser, the loginPopup process works fine (show popup, signin, back to app window...)
But when I use my page from icon created with "Add to Home S

[2019-09-23 03:22] sameerag commented on #899
@eirikb For `acquireTokenSilent` msal js spins off a hidden iframe and as long as no interaction is needed (SSO when you already have a session with the STS, it is supported in iframes.

`X-Frame-Options: deny` is set and the setting blocks interactive flows on the same frame -> which translates to `acquireTokenRedirect` and `loginRedirect` not working the classic way.  We came up with a trust mod

[2019-09-23 03:26] sameerag commented on #899
@keystroke There was never any restriction on Popups for iframed applications. The restrictions were only for `acquireTokenSilent` and `redirect flows` though not restricted from MSAL JS would not work for reasons mentioned above.

Please reach out to me on teams, if you are willing to test out early builds for these scenarios, any testing is appreciated :-)

[2019-09-23 06:38] NickSevens commented on #899
@sameerag does this beta you're talking about have any relation to https://youtu.be/xLjT1Hw5a1E?t=1472 ?

[2019-09-23 10:21] danicomas commented on #843
Maybe, to use loginRedirect instead of loginPopup is the best way for mobile devices

[2019-09-23 12:09] Nasicus commented on #960
The problem is, that it happens very seldom and I don't know when exactly. So even if I would test it, I could not say with guarantee that it works.

How would I need to update: Simply via NPM or otherwise? I can do it locally and see if it occurs again...

[2019-09-23 14:38] scale-tone commented on #736
Any news on this?
It's September now, I am on msal v.1.1.3 (the latest) and I'm experiencing exactly the same trouble - accessToken randomly returned as null (when setting scopes to my own AAD app Client ID).

[2019-09-23 15:30] sameerag commented on #1005
@abegines #939 should prevent this from happening. @jasonnutter Can you also confirm this?

[2019-09-23 15:34] sameerag commented on #1006
@abegines MSAL JS does not support PWAs yet. We are currently only supporting full browser environments.

[2019-09-23 15:35] jasonnutter commented on #1003
@SabirHossain It's possible your application is only configured to allow users to sign in from your tenant. To confirm, login to the [Azure Portal](https://portal.azure.com), go to "Azure Active Directory", "App registrations", open the app registration for your app, then go to "Authentication", and then scroll to the bottom to "Supported account types". Which option is selected?

Example:
![azure

[2019-09-23 15:49] jasonnutter commented on #843
Apologies for not responding to this issue. @danicomas did loginRedirect fix the issue?

[2019-09-23 15:57] jasonnutter commented on #1005
@abegines The reason why the popup will not close is because the current version of `msal` relies on `msal` running in the popup to communicate with the parent page to pass the result of the login action, and if your code waits until a user clicks a button to instantiate `UserAgentApplication`, that will never occur, which results in the behavior you are seeing. #939 I believe should fix this, but

[2019-09-23 16:20] SabirHossain commented on #1003
This my Authentication setting in Azure Active Directory app registration.
![image](https://user-images.githubusercontent.com/23700852/65443669-5cf7bb80-de50-11e9-8b9f-eb1727ba5443.png)

[2019-09-23 18:32] jasonnutter commented on #993
I have updated `@azure/msal` to be up to date with `msal`.

@scale-tone `msal` is the original name, and then `@azure/msal` was published to be consistent with `@azure/msal-angular`, which was published under the `@azure` scope to differentiate it from third-party libraries. Going forward we'll make sure this is documented, and we'll look at how we can make this less confusing in the future.

Clos

[2019-09-23 18:32] #993 closed

[2019-09-23 18:37] jasonnutter commented on #1001
@chr1soscl Can you please provide more information on when this event isn't firing? For example, are you using `loginRedirect` or `loginPopup`? What are you doing that would cause a login error (e.g. closing the login popup)?

[2019-09-23 18:39] andrewconnell commented on #967
Any updates @pkanher617 ?

[2019-09-23 18:47] jasonnutter commented on #967
@andrewconnell You can find the updated urls here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/957#issuecomment-532923268

We're working on updating the README and wider messaging (e.g. blog post). Sorry about the delay!

[2019-09-23 18:50] chr1soscl commented on #1001
Hi Jason,
I am not calling loginRedirect or loginPopup, I am only setting the msalConfig with my clientId, authority, popup flag, consentScopes and redirectURL, when I try to open the app url it immediately redirects me to the Microsoft login screen, no need to call methods, we are testing with one user in the application group and one out of it, the one with access to the group is getting login s

[2019-09-23 18:51] andrewconnell commented on #967
Multiple issues in the repo mention this... quick stop-gap would be to reference #957 and close these dupes

[2019-09-23 21:13] jasonnutter commented on #958
Another note: this error will not show for Chrome extensions running in Chrome, but will show for Chrome extensions running in non-Chrome browsers such as the new chromium-based Edge. We have opened a ticket internally to get the new Edge whitelisted (MSFTers can ping me on Teams if they want more details on that).

Closing, as no further actionable items at this time.

[2019-09-23 21:13] #958 closed

[2019-09-23 21:24] jasonnutter opened #1007 "Add AADSTS50199 to list of expected errors"
STS will return `AADSTS50199` when an application is using a non-https redirect uri, such as `chrome-extension://`. This error is not documented, which causes confusion for developers when it is return unexpectedly.

AC:
1. `AADSTS50199` errors are documented on docs.microsoft.com under the list of known errors: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptio

[2019-09-23 21:26] jasonnutter commented on #967
Indeed, I'll close this. Apologies again for the delay.

[2019-09-23 21:26] #967 closed

[2019-09-23 21:27] jasonnutter commented on #957
I'll keep this open until we get the README updated.

[2019-09-23 23:51] jepetty commented on #958
Thanks for all your help @jasonnutter! You're the bomb!

[2019-09-24 01:30] legomushroom opened #1008 "[Documentation]: obtain an AAD token with MSAL.js to call Azure"
Hello,

Currently, our SPA uses MSAL.js for authentication and we are getting AAD v2 tokens with an `aud` claim that our services can accept. Now we have the need to list all the `subscriptions`/`resource groups` a user might have. I'm trying to understand how to change the MSAL.js config to be able to get a token that is capable to do the requests to Azure and, unfortunately, cannot find anything

[2019-09-24 06:31] MubashirEbad opened #1009 "MSAL returns Token Renewal operation failed in Chrome, how to resolve this?"
## I'm submitting an issue regarding the token acquiring after login.  I am using ReactJS and MSAL 1.1.3 for Azure AD authentication. I frequently get the "Token Renewal Operation failed" error. I have cleared the cache, and still it appears.

## Browser:
- [ ] Firefox
- [ ] IE 9 and 10
- [ ] Edge
- [ ] Opera

## Library version

<pre><code>
MSAL: 1.1.3
React: 16.8.6

</code></pre>

## Current beh

[2019-09-24 17:37] mlindberg commented on #970
I'm having this exact problem. It happens during silent token renewal after the user hasn't been active on the site awhile. I get a single call to **undefined** for each msal token renewal frame, followed by a token renewal timeout error.

`{_error: "Token renewal operation failed due to timeout", _errorDesc: "Token Renewal Failed", _scopes: ""}`

[2019-09-24 17:59] ayuspark commented on #736
@scale-tone So I chatted with @pkanher617 who works on MSAL.js, when using your own AAD app clientId as your scope, you are doing a self-authorizing, and id_token == access_token. And in this case, when you call acquireTokenSilent (ATS) when there's no id_token in cache, it'd first get you an id_token, and at this time, acess_token will be null. And if you call ATS the second time, it'd return you

[2019-09-24 21:07] jasonnutter commented on #1008
I think you should check out [azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js) (which uses `msal`).

[2019-09-24 21:42] sameerag commented on #899
**UPDATE**
#939 is merged to dev today. Working on stabilizing #980 and #994 today to release the first beta npm release publicly.

[2019-09-24 22:40] jasonnutter commented on #1003
@SabirHossain Can you please share an image of the error message you are seeing?

[2019-09-24 22:45] jasonnutter commented on #1009
@MubashirEbad After you login, inspect `localStorage` for your app. You should see an access token that is the value for an entry that has a key made up of scopes and the authority. Does that the key for that `localStorage` entry match the authority and scopes for your login request?

[2019-09-24 22:55] jasonnutter commented on #1001
@chr1soscl Ah okay, it sounds like you are using the MsalGuard, correct? We'll take a look into why that event might not be firing.

[2019-09-25 01:19] stevenruizhang opened #1011 "Sample Code for Angular 8 (msal-angular)"
1) the  "@azure/msal-angular": "0.1.4" support for Angular 8 for Azure AD?
2) if support, any guideline and sample code provided for Angular 8?

[2019-09-25 02:06] chr1soscl commented on #1001
yes, I am using the msalguard.

[2019-09-25 05:50] MubashirEbad commented on #1009
@jasonnutter After login, as I have defined in my code, the _sessionStorage_, it contains the information returned from MSAL. So the access token there is not a valid token I guess because when I decode that access token on jwt.io, it won't show the scopes and some other details.

[2019-09-25 13:26] Nasicus commented on #960
Two questions:

- We create quite often new instances with different configs of `new UserAgentApplication` (e.g. initially we create one without a config, just to catch the callback, same for acquiring the token, but for example for a login call we create the client with a different config (with the scopes to consent).
- do we have to set the `storeAuthStateInCookie: true` ? because this is descri

[2019-09-25 16:24] SabirHossain commented on #1003
@jasonnutter
This is the error I get

![ms_login_error](https://user-images.githubusercontent.com/23700852/65620171-2ef6b080-dfe3-11e9-8f3b-e7af48f72cb0.png)

[2019-09-25 18:55] PaybackMan commented on #1011
I thought we should be using @azure/msal instead.  Just more confusion from msal...

[2019-09-25 18:59] PaybackMan opened #1012 "Why is MSAL so difficult to use?"
Can anyone explain why this api is so archaic and hard to use? The amount of confusion in terms of docs, samples, is staggering. We've wasted weeks trying to get a simple Angular app to auth against ad B2C. This shouldn't be a monumental effort! We're about to give up with this approach altogether. Way too many issues for something so simple, we just want to authenticate!

The official samples don

[2019-09-25 19:08] negoe commented on #1012
Hi @PaybackMan,

Thanks for reaching out. We are sorry for the inconvenience. I would like to know more about your experience. Were you trying to use MSAL Angular Sample?  We have prioritized MSAL Angular on our Roadmap for coming quarter where we are going to solve existing issues with our past Angular release including the support for Angular 6+. You can reach out to me at neha.goel@microsoft.co

[2019-09-25 19:45] jasonnutter commented on #1011
@stevenruizhang Out of the box, `msal-angular` is built to support Angular 4/5, however, I know we have customers who are able to use it with newer versions of Angular (e.g. by installing `rxjs-compat`). Unfortunately, we haven't been able to put together a sample that demonstrates, but we will soon.

This quarter, I will personally be working on updating `msal-angular` to use v1 of `msal` and to

[2019-09-25 20:01] sameerag commented on #504
Closing this as we are tracking supporting acquireTokenSilent() in iframes with #899.

[2019-09-25 20:01] #504 closed

[2019-09-25 20:49] sameerag opened #1013 "Release notes for msal js 1.2.0-beta.0: Iframes support for silent calls"
Release notes for the upcoming beta release for `msal js` `1.2.0-beta.0`.

**Changes supported with this beta:**

- Supporting applications embedded in iframes to use acquireTokenSilent() for silent token acquisition.
- Resolve cache issues by removing intermittent cache elements from persisting after a request is processed

[2019-09-25 20:58] sameerag opened #1014 "Release blog post for msal 1.2.0"
@negoe to track the blogpost content for the upcoming msal js release `1.2.0`

[2019-09-25 21:14] sameerag opened #1015 "Add detailed error messaging when Service times out during token requests"
We swallow STS errors today in `msal js` if we do not receive error as a fragment in the redirect response from the service for a token request.

This issue is for the library to allow for more detailed error description:  by providing the URL `msal js` is navigating to, which would instruct the developer to open the URL in a separate window, facilitating for the next steps to be taken to resolve

[2019-09-25 21:15] sameerag commented on #699
Closing this with #1015. Please reopen if it does not cover your use case.

[2019-09-25 21:15] #699 closed

[2019-09-25 21:22] jasonnutter commented on #941
I have reached out to the team responsible for the login UI to investigate the potential issues with the "Keep me signed in" control.

Closing, as no further actionable items.

[2019-09-25 21:22] #941 closed

[2019-09-25 21:26] jasonnutter commented on #957
@negoe FYI

[2019-09-25 21:42] jasonnutter commented on #705
@kest85 Can you please try the latest version (1.1.3) and let us know if you are still seeing this issue?

[2019-09-25 21:45] jasonnutter commented on #758
@dipesh-wadhwa To clarify, are you still seeing this issue on 1.1.3? It has been released to the cdn (updated urls are available [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/957#issuecomment-532923268)).

[2019-09-25 21:50] jasonnutter commented on #759
@scambier Is this still an issue with the latest version (1.1.3)?

[2019-09-25 21:50] #762 closed

[2019-09-25 21:52] jasonnutter commented on #766
@alexm-babylon Closing this issue due to inactivity. Please let us know if this still an issue (please check with the latest version of msal, 1.1.3). Thanks!

[2019-09-25 21:58] jasonnutter commented on #815
Closing this, as clients should not try to validate access tokens meant for Graph. Please see this comment for more info: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#issuecomment-524434987

[2019-09-25 21:58] #815 closed

[2019-09-25 23:07] AndrewCraswell commented on #981
This sounds very similar to a bug I'm trying to repro on a few of our applications too. Users (often on Edge) are reporting that on the first login attempt it seems successful, they're redirected to the application, then immediately directed back to login. This loop only occurs once before everything works fine. I felt like it was likely only happening when a token expired.

Are you able to repro

[2019-09-25 23:21] AndrewCraswell commented on #960
I'm confused as to how the `storeAuthStateInCookie: true` change could fix the #734 issue on Edge browsers... according to the documentation, I was under the impression that `storeAuthStateInCookie` was only needed for IE.

[2019-09-25 23:41] sameerag commented on #960
@Nasicus I am interested to know more about the use cases where you need to create new instances of `msal js`. Are these for the same application (`clientId`) ? Why would you need a new `msal js` instance for scopes, when you can add scopes in a request?

@AndrewCraswell I agree with you, `storeAuthStateInCookie: true` is recommended to be set for use cases where the browser storage is cleared on

[2019-09-26 01:19] PraveenVerma17 commented on #490
Use the session storage instead of local storage. So you can clear directly without choosing MSAL once. If you are not looking for SSO.

[2019-09-26 02:14] stevenruizhang commented on #1011
@jasonnutter thanks Jason, may i know when the earliest day the new v1 version and documentation, samples will be available? We want to know the specific day so meeting the project timeline.

[2019-09-26 05:48] Nasicus commented on #960
@sameerag

Ok the with different scope may habe been confusing. But I'll try to explain the use case.

So our app works basically with 3 different MSAL-login types:
- `https://login.microsoftonline.com/common`
- `https://login.microsoftonline.com/<specific-tenant-ids>`
- B2C

Which configuration to use (i.e. how to create the `UserAgentApplication`) we only know when a user clicks the correspondin

[2019-09-26 09:00] foramkumar-parekh opened #1017 "Change the Signing secret key"
I have a scope in the msal and the authorization token gets generated for that scope. I am using Microsoft easy auth on the other side to validate the token.

1) I wanted to know if I can update the secret signing key for the authorization token?

2) As I am using Microsoft easy auth on the other side to validate the token, is it possible that we can encrypt the token or the values inside the toke

[2019-09-26 10:35] dipesh-wadhwa commented on #758
@jasonnutter @GermanEZI @DarylThayil @sameerag @pkanher617
I have verified and this is fixed now. Brilliant...!!!

[2019-09-26 10:35] #758 closed

[2019-09-26 15:47] scale-tone commented on #736
@ayuspark ,

I don't know whether there is or there isn't id_token in cache (how do I get to know that?).
But the repro steps are simple:
* call acquireTokenSilent()
* drink coffee for > 1 hour (access token TTL)
* call acquireTokenSilent() again.

The call succeeds, the returned authResponse.accessToken is null, while authResponse.idToken.rawIdToken contains a valid (and even not expired) token.

[2019-09-26 16:56] devna13 opened #1018 "Example with ASP .NET Core Web Application angular template"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Need an example with ASP .NET Core Web Application angular template:
after successful login, angular app web api request passes the access & id

[2019-09-26 20:46] jasonnutter commented on #990
@rahulrastogi-git Did using `getUser()` work for you?

[2019-09-26 21:16] rahulrastogi-git commented on #990
Hi Jason,
didnt get a chance yet to try, will let you know.

on other note, do you have timeline to upgrade @azure/msal-angular 0.1.4?

Thanks
Rahul

[2019-09-26 21:26] sameerag commented on #1013
Released msal.1.2.0-beta.0 [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS:-1.2.0-beta.0)

[2019-09-26 21:26] #1013 closed

[2019-09-26 21:28] jasonnutter commented on #990
@rahulrastogi-git If you are referring to upgrading `@azure/msal-angular` to version v1 of `msal`, we are planning to complete that work this upcoming quarter, so it should be released by the end of the year. We will make an announcement once we have beta releases that developers can try.

[2019-09-26 21:32] sameerag commented on #899
Released msal.1.2.0-beta.0 [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS:-1.2.0-beta.0). *Please note that the CDN for this beta is not yet released and will be available early next week.*

We are working on releasing a follow up beta for the remaining use cases mentioned in the description.

[2019-09-26 21:51] jasonnutter commented on #1011
@stevenruizhang Unfortunately, I cannot provide an exact date for when the new version will be released. All I can say currently is that we are committing to have it completed by the end of the year, although I am planning to have it completed before then, and beta versions ready even earlier. We will make an announcement when samples and beta versions are ready.

With that said, have you tried us

[2019-09-27 01:12] pnaika commented on #943
Do anybody have an answer for this ?? We have the same scenario, but I am not sure if there is a way to achieve it.

[2019-09-27 11:52] alexandrtovmach opened #1019 "handleLoginRedirectCallback execute before it should"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Browser:
- [x] Chrome version 77
- [x] Firefox version 69

## Library version

<pre><code>
Library version: 1.1.3
</code></pre>

## Current behavior
#### If user already loggedin in browser:
`han

[2019-09-27 15:16] LastTribunal commented on #99
@DarylThayil well, its the end of September, whats the word on MSAL for ADFS???
I really would like to ditch my ADAL JS,, which should be sent back to hell where it came from

[2019-09-27 17:08] jasonnutter commented on #1019
@alexandrtovmach `handleRedirectCallback` should not be registered in the same function that triggers the actual redirect, and should instead get registered on initial page load (because it needs to run when the page first loads after returning from a redirect). In a React application, you can do this by putting that callback inside `componentDidMount`, as demonstrated in our React sample applicat

[2019-09-27 17:48] sameerag commented on #99
@LastTribunal  I have done some digging on this and looks like there is more dev work needed to ensure ADFS 2019 is working in MSAL JS. Our initial assumption was that it is more of guidance issue than dev work, which is not true. Most of this work is was heavily contributed by ADFS team on other MSALs and I have started getting together the details to have this supported in MSAL JS.

Unfortunatel

[2019-09-27 19:49] LastTribunal commented on #99
@sameerag thanks for the update.  I really hope I can get my hands on it soon, i have a hybrid app that works both with Azure AD and ADFS, using ADAL for angular.  There are many issues that are making my app almost unusable..

[2019-09-27 20:43] bjornicus commented on #759
@jasonnutter yes this is still a problem with 1.1.3

[2019-09-27 23:44] ayuspark commented on #736
@scale-tone
Yep, this is expected.
Because after you finish the 20oz/600ml pumpkin spice latte, access token expired, and the first call to [acquireTokenSilent() went to call the renewIdToken](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c295b66ac0fd8b05250999d60e1a084624ac841e/lib/msal-core/src/UserAgentApplication.ts#L692). So IdToken was renewed. I stepped through fro

[2019-09-28 16:09] abegines commented on #1006
The problem is that PWA does not allow communication with the pop-up window after being created.

MSAL creates the pop-pup by pointing to "about: blank" and then tries to replace its location ...

[code]

I have created a minimal application to reproduce the problem outside MSAL: create a simple a popup (window.open) and change location after (location.replace). And it gives the same result: in PW

[2019-09-28 16:17] abegines commented on #1005
@jasonnutter our application is open to many users who can log in with Microsoft, Google, twitter, username / password, etc. and we want to create instances only of the objects necessary for the authentication desired by the user. That is why he tried to create, as far as possible, the necessary objects when necessary. Knowing the current MSAL limitation, we will do it at the time it works.

I'll

[2019-09-28 16:17] #1005 closed

[2019-09-28 20:39] himadrinath commented on #1006
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/984#issuecomment-532990004

[2019-09-28 22:03] alexandrtovmach commented on #1019
@jasonnutter Okay, thank you for a quick response, I'll check it on Monday. Hope it helps)

[2019-09-29 18:58] dotnetcanuck commented on #899
I've installed the 1.2.0 beta, but I still get an error saying "Refused to display `https://login.microsoftonline.com/....` in a frame because it set 'X-Frame-Options' to 'deny'"

[2019-09-30 06:48] alexandrtovmach commented on #1019
@jasonnutter Thank you, it works, but it still has additional page reload that not allow me to continue handling response. In this code "step two" will never show in case of additional page reload after successful redirect:
[code]

[2019-09-30 07:02] alexandrtovmach commented on #1019
UPD: I found `navigateToLoginRequestUrl` property in [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/react-sample-app/src/AuthProvider.js#L126) my fault

thank you for help

[2019-09-30 07:02] #1019 closed

[2019-09-30 11:45] MubashirEbad commented on #1009
@jasonnutter Any update on the issue?

[2019-09-30 13:02] tommygeek103 commented on #1018
Here is a simple sample project I did a few days ago - if you have further questions contact me. Don't forget to set your client id
[msal_poc.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/3671161/msal_poc.zip)

[2019-09-30 14:22] chr1soscl commented on #1001
@jasonnutter I have a question, currently we implemented our login to get authenticated and seems to be working mostly, but when we get a loginSuccess event triggered we are getting an accessToken and idToken under some strange key ({authority,clientId,scopes,userIdentified}), due to this strange Key I had to implement a different call to get a silent token to get the accessToken, why not to give

[2019-09-30 16:48] jerdobi opened #1021 "Unhandled Rejection (TypeError): Cannot read property 'accessToken' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-09-30 17:01] PaybackMan commented on #993
To be clear, which one should we be using?

[2019-09-30 17:26] jasonnutter commented on #1003
@SabirHossain Ah, in order to be able to use personal Microsoft accounts, you must **Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)** when registering the application (screenshot below). Unfortunately, I don't believe you can change this option once you have registered the application, so you will need to register

[2019-09-30 17:32] jasonnutter commented on #993
@Paybackman They are the same library, but if you need to pick one, choose `msal`. As I said, we're aware this is confusing and will try to make this less confusing in the future.

[2019-09-30 18:46] jasonnutter commented on #1009
@MubashirEbad It is expected that ID tokens returned from login requests do not contain scopes.

To restate my original question, in `sessionStorage` you should see one or more entries that have a key that looks like this:

`
{"authority":"https://login.microsoftonline.com/tenant_id","clientId":"my_client_id","scopes":"scope1 scope 2","homeAccountIdentifier":"MmU...."}
`
Does the keys for those va

[2019-09-30 19:57] jasonnutter commented on #1001
@chr1soscl Correct, keys are stored in the browser by a composite key made up of the authority, clientid, scopes, and user id in order to support storing many keys at once. You should not try to create this key yourself, as it is an implementation detail of `msal` and could change at any time (and you should certainly not use the index, which is not reliable). You should instead use the key as it

[2019-09-30 20:16] jasonnutter commented on #1021
@jerdobi Ah I see in the `react-sample-app` where this could happen, I'll make sure it gets fixed, thanks!

[2019-09-30 20:43] jasonnutter commented on #1018
@devna13 We have a sample for ADAL.js that uses Angular and ASP.net: https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp

That said, we are working on investing more in our samples, including updating ADAL samples to use MSAL.

The feedback is appreciated, closing as nothing immediately actionable, thanks!

[2019-09-30 20:43] #1018 closed

[2019-09-30 20:58] jerdobi commented on #1021
Cool!

I’m in studio a and doing a Linux site in react.  I will keep in touch!

Gary
Gawood@microsoft.com

[2019-09-30 21:27] #1021 closed

[2019-09-30 21:53] jasonnutter commented on #1017
1. Are you asking if you can use a different secret key to sign access tokens? The answer to that would be no, as the signature generated/verified by MSFT proves the authenticity of the token.
2. We do not encrypt tokens, instead using signatures to verify that they haven't been tampered with.

And I would not expect either of these features to be implemented.

[2019-09-30 22:07] #1017 closed

[2019-10-01 08:20] MubashirEbad commented on #1009
@jasonnutter It is supposed to work like that, like in google chrome it would do the same process and yes it includes that.
But sometimes in Firefox, Edge, Opera, Internet Explorer, it would return the same details but won't redirect. It is not a redirection issue, I have used both Browser Router and Hash Router.

[2019-10-01 12:40] alesrosina commented on #271
I've forked this one and just fixed small things needed to run it also with cordova 9. Maybe this would help: https://github.com/alesrosina/azure-activedirectory-library-for-cordova

[2019-10-01 13:33] scale-tone commented on #736
@ayuspark ,
Thanks for explanation, I do now understand why this bug appears to happen, but I do still believe it is a bug. So do expect some feedback from the team...

[2019-10-01 13:39] chr1soscl commented on #1001
Hi @jasonnutter , what do you mean by the key returned by the broadcasted events? I cannot find the access token among the information returned by this.msalService.getUser(), I want to avoid use 'acquireTokenSilent' because it is a very slow call, it can take up to two seconds to complete.

[2019-10-01 14:47] chr1soscl opened #1025 "Browser back button new login attempt results in error."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 75.0.3770.90

## Library version

<pre><code>
"@azure/msal-angular": "^0.1.4"

</code></pre>

## Current behavi

[2019-10-01 14:51] balajimadgundi commented on #843
Hi Team,
Any updates on this bug?

[2019-10-01 16:54] PraveenVerma17 opened #1026 "Add sample for conditional access"
## I'm submitting a...

[ ] Documentation issue or request
</code></pre>

## Library version

<pre><code>
Library version: 1.2.0-beta.0

</code></pre>

## Current behavior
Unable to find the conditional access documentation for MSAL 1.2.0 beta.0

## Expected behavior
Need documentation

## Minimal reproduction of the problem with instructions
Not Required

[2019-10-01 17:07] devna13 commented on #1018
Thanks @tommygeek103 !

[2019-10-01 17:13] PraveenVerma17 commented on #998
We are looking for this feature... currently we are managing the telemetry using appinsights js and user login event we are managing using custom event. As they are not that reliable when user logged in correctly because in case of refresh we again log the same event actually in this case we pull the user from cache. We are using login redirect which makes telemetry little incorrect.

[2019-10-01 17:37] sameerag commented on #1025
@chr1soscl I suspect this is happening because the intermittent cache created by a request is not cleaned on some error cases. We are working on a PR that remedies this and please watch out this space for the PR number and the update.

Also can you please move to the latest MSAL version 1.1.3 (or upcoming 1.2.0 if you want to wait).

Thanks for raising this issue.

[2019-10-01 17:38] sameerag commented on #1026
@pkanher617 Do we have anything in the pipeline for this?

[2019-10-01 17:47] sameerag commented on #998
@PraveenVerma17 I will be adding more details to this space as we have more clarity on what will be delivered as a part of this activity. Please watch out for the updates.

[2019-10-01 17:47] nfgallimore commented on #970
Are you subscribing to the event **acquire token failed** and then silently try to reacquire?

[2019-10-01 18:51] chr1soscl commented on #1025
this is the last version I am able to install from npm:
<pre><code>
"@azure/msal-angular": "^0.1.4"
</pre></code>

[2019-10-01 19:59] chrisgalvan commented on #1012
Had the same experience trying to auth against our azure AD, I'm using react and felt like this library should be more mature and abstracted better, there are lots of issues and sometimes just doesn't work, clicking sign-in opens a popup that half the time is blank, not sure what to do to bring it to a working state, tried many things. Looking for other alternatives.

[2019-10-01 20:21] jologz commented on #435
yes it works if `validateAuthority` is set to false

[2019-10-01 20:51] sameerag commented on #1012
@PaybackMan B2C sample for MSAL JS [here] (https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp). I have added PR #1027 to reflect the change.  We are also working on improving the documentation, sample space and hope it makes it simpler to use this library.

@chrisgalvan  Did you get a chance to check out our react sample [here](https://github.com/AzureAD/microsoft-

[2019-10-01 20:55] sameerag commented on #435
Great! We will change this interface in the next major release as this would be a breaking change. Until then, please set `validateAuthority` to false for all B2C use cases. We are not compromising validation in any sense since the B2C endpoint does have preconditions to be hit. It is simply impossible to white list all of the possible B2C domains.

Alternative approaches are in discussion and we

[2019-10-01 21:06] kumarunster commented on #965
@sameerag sorry, I cannot provide an easy to go reproducer, because it requries setup on google and azure. But for me is clear, why response_type set to id_token_token solves the issue: it is because the tokens are retrieved in one call.

[2019-10-01 21:30] jasonnutter commented on #1001
@chr1soscl Apologies, misspoke in my answer above. What I meant to say is that you should use the **token** as it is returned to you in the broadcasted events, or use `acquireTokenSilent`.

`acquireTokenSilent` should be a fast call if it is able to retrieve the token from cache, so if its taking longer, its possible you aren't correctly retrieving it, resulting in a cache miss, which results in a

[2019-10-02 10:41] ZaMaZaN4iK commented on #400
@sergey-tihon Sorry for the necroposting but can I with an access token for `https://yourtenant.sharepoint.com/.default` make requests to `https://yourtenant.sharepoint.com/subsite1/subsite2/subsite3`?

[2019-10-02 10:43] sergey-tihon commented on #400
@ZaMaZaN4iK yes, I believe so

[2019-10-02 14:01] chr1soscl commented on #1001
Hi @jasonnutter , the above line is part of my msalconfig, with only this configuration I only get one composite key, in the composite key as scope it is only mentioned my Angular clientId, the access token that comes with this composite key does not work with the api calls, I imagine because it is not considering the second parameter the api client id, if I add the call to acquireTokenSilent, onl

[2019-10-02 16:18] chrisgalvan commented on #1012
Thanks for pointing me to the samples @sameerag. I didn't realize there were samples in react, I only stumbled across the angular ones.

I think my point is still valid, if you look at the sample you are expecting devs to code [AuthProvider](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/react-sample-app/src/AuthProvider.js) and [auth-utils](https://github.com/

[2019-10-02 16:49] SabirHossain commented on #1003
@jasonnutter Yes that was the issue, now it's working as expected, Thank you for your response.

[2019-10-02 16:49] #1003 closed

[2019-10-02 17:35] sameerag commented on #1012
@chrisgalvan For `Angular` we have plans this quarter to provide a wrapper. `React` is in discussion but we do not have clarity on the dates yet. We have seen requests of both types: folks needing msal-core and want to wrap their own framework of choice around it, and folks asking for specific wrappers. It is a fine balance for us as it needs time and investment to release a wrapper and maintain t

[2019-10-02 17:49] sameerag commented on #1012
@PaybackMan Can you please open a new issue(or issues) with clear description/repro steps for all the specific problems you are facing using our library? That would help us move forward. @jasonnutter is working on the Angular wrapper (supporting 'msal-core` later releases and Angular 6+) and he can help address your issues if they are Angular related.

Closing this issue and hoping to hear back fr

[2019-10-02 17:49] #1012 closed

[2019-10-02 20:33] jasonnutter commented on #988
This work is complete.

[2019-10-02 20:33] #988 closed

[2019-10-02 21:06] sameerag commented on #957
Closing this as the README is now merged to dev.

[2019-10-02 21:06] #957 closed

[2019-10-02 21:13] sameerag commented on #526
#939 Addresses this issue.

For all folks following this thread for an angular solution, the Angular wrapper upcoming this quarter(tracked with #786) will have #939 when released. Closing this issue.

[2019-10-02 21:13] #526 closed

[2019-10-02 21:16] sameerag commented on #896
We are addressing this with the integration testing activity in this quarter.

[2019-10-02 21:27] pkanher617 commented on #896
Started work on updating this framework.
- Made the decision to use puppeteer as the framework of choice.
- @sameerag and I will be working on writing a comprehensive list of test cases to implement
- Hope to shortly push up a branch with new framework.

[2019-10-02 21:28] pkanher617 commented on #1000
Work has started for this item.
- Basic design work
- Requirement gathering for using auth code, supported use cases, etc.
- Hope to have POC for this work ready within two weeks

[2019-10-02 21:28] sameerag opened #1028 "V1 endpoint support in MSAL JS - verify endpoint checks"
Ensure V1 `.well-known/openid-configuration` is called for all V1 requests in MSAL JS

[2019-10-02 21:29] sameerag commented on #1028
Address this before closing #844

[2019-10-02 22:10] sameerag commented on #267
Please raise a new issue if it is not resolved with the above information. Closing this ticket as there is no response from the user.

[2019-10-02 22:10] #267 closed

[2019-10-02 22:12] sameerag commented on #317
Closing this as we did not get a response. As mentioned above the responses are being served from the browser cache and should not have a performance impact.

[2019-10-02 22:12] #317 closed

[2019-10-02 22:13] sameerag commented on #435
Closing this as we are tracking these changes with B2C changes in the next major release.

[2019-10-02 22:13] #435 closed

[2019-10-02 22:22] sameerag commented on #534
@favetelinguis Can you specify if you are seeing any other error that is blocking the authentication? The `cookie length` issue is almost always a false positive from chrome dev tools in most cases reported to us and we suspect something else is going on.

Server team also confirmed that they have chunking logic that limits their cookies from ever exceeding this limit.

[2019-10-02 22:22] #534 closed

[2019-10-02 22:26] sameerag commented on #609
@ktsakas 's team is addressing this issue in their backlog this quarter. Closing this as MSAL JS does not have any open action item.

[2019-10-02 22:26] #609 closed

[2019-10-02 22:32] sameerag commented on #705
@kest85 Closing this for lack of response. Please let us know if this still an issue and raise a new ticket for the same.

[2019-10-02 22:32] #705 closed

[2019-10-02 22:37] sameerag commented on #736
@scale-tone access tokens expire every hour. If the application needs to keep the token valid for longer times, please call `acquireTokenSilent` before the expiry (in this case ~55 mins) to have a valid token in the cache.

The documentation for this can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs).

Let us know if

[2019-10-02 22:47] #766 closed

[2019-10-02 22:52] sameerag commented on #833
@RecuencoJones There is a `response` for every `request` made to MSAL JS. The `response.idToken.rawIdToken` should have the info you are looking for. In your case for the subsequent calls after the `loginRedirect` call, you are probably calling `acquireTokenSilent` which returns the response in a promise format.

If there is any confusion regarding this, please let me know.

[2019-10-02 22:54] sameerag commented on #834
@AbhaysinghBhosale Can you please test this with `msal js`  version`1.1.3`?  Also please add repro steps for us to address this issue.

[2019-10-02 22:58] sameerag commented on #839
Closing this as there is no update, @kangcity please raise a new issue if the above comments do not clarify the problem.

[2019-10-02 22:58] #839 closed

[2019-10-02 23:34] nakawankuma commented on #1006
Hi.
I have same incident.
I have application is Microsoft Office onenote addin.
I addin include onenote page that allow  create loginPopup on chrome. but not ran Edge browser.

I try
            navigateWindow.location.assign(urlNavigate);
but not ran.

[2019-10-03 00:08] nakawankuma commented on #1006
I replace this code. but dont check side effect.
https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/66acdd57c926f2c3cf615194779ba50ef10231b1

[2019-10-03 00:25] nakawankuma commented on #1006
I Changed mistake.

"ClientAuthError: Nonce is not matching, Nonce received: 2917b477-aef0-435f-918e-506643f8844e, nonce expected : f33d9f23-130f-46c9-89d0-fa3376abf8d6. at UserAgentApplication.prototype.saveTokenFromHash (https://localhost:3000/taskpane.js:146702:13) at UserAgentApplication.prototype.processCallBack (https://localhost:3000/taskpane.js:146106:13) at a.open (https://appsforoffice.m

[2019-10-03 08:33] JasSuri commented on #609
@zawor  I confirmed and B2C does go to the downstream IdP on every silent token call to make sure that the user still has a session at that IdP, there we use the IdPs session cookie to get SSO.

[2019-10-03 08:36] zawor commented on #609
sounds fair

[2019-10-03 20:58] claprincedesigns opened #1029 "Angular example for new tabs, logging out and expected behavior"
Hello, I have a project that I'm working on and we have a question regarding the cacheLocation? What I'm trying to accomplish is opening a new tab and using the same session which was accomplished using the cacheLocation and setting that to localStorage.

However, the problem comes when you log out of one tab the other tab becomes unresponsive. What I'm trying to understand is if there is a way to

[2019-10-04 12:16] tknerr commented on #996
Hi @sameerag ,

yes ADB2C in fact supports this, as documented here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc#secure-your-logout-redirect

The `id_token_hint` must refer to the last valid id token that existed prior to logout (i.e. just pass the id token).

Note 1: the `id_token_hint` will only be considered if the login policy in ADB2C explic

[2019-10-04 16:26] sameerag commented on #1029
@claprincedesigns

- For `sign-up` policy where you need interaction, `acquireTokenSilent()` is not supported. We expect the user to call an interactive API, `loginPopup()`/`acquireTokenPopup()` wherever credential entry is required.
- It is a little unclear for me that you are seeing the error only after `logout`, is it possible that you are calling `acquireTokenSilent()` after logging out?
- Can

[2019-10-04 17:17] claprincedesigns commented on #1029
I'm using `import { BroadcastService, MSAL_CONFIG,  MsalConfig, MsalGuard, MsalInterceptor,
  MsalService, } from "@azure/msal-angular";`

- When I have signed in, I can see the dashboard.
- Right-click on one of the links to 'Open in a new tab'
- The new tab open with the same session storage thanks to cacheLocation: localStorage
- I begin to click around both tabs to make sure that everything is

[2019-10-04 20:39] negoe commented on #1029
@sameerag Reviewing.

[2019-10-05 00:42] sameerag commented on #899
**UPDATE**:
#975 and #1010 in the final leg of testing.

[2019-10-05 16:15] nakawankuma opened #1031 "Onenote addin + React + Edge, I dont signin loginPopup method"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 44.18362.387.0
- [ ] Safari version XX

## L

[2019-10-05 16:38] nakawankuma commented on #1031
I found incident location that
about 930 line in UserAgentApplication.ts

that's "navigateWindow.location.replace(urlNavigate);"
Edge does not implement "navigateWindow.location.replace" member in iframe window.

I think to trouble in openWindow + navigete.replace that open and navigate method.

"acquireTokenAuthority.resolveEndpointsAsync"
I moved open popup block to urlNavigate declared next lin

[2019-10-05 16:39] nakawankuma commented on #1031
it see with https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1006

[2019-10-05 16:40] nakawankuma commented on #1031
It works fine with Chrome.

[2019-10-05 23:40] rwmweco commented on #547
I have the same issue when opening Office 365 for the first time
AADSTS50196: The server terminated an operation because it encountered a loop while processing a request.

[2019-10-06 02:18] deregtd commented on #981
We tried the latest version and unfortunately still got invalid_state_error calls.

One thing I noticed in one of the error paths though is a second telemetry point trying to login before it redirects away.  My current theory is that the login code is actually calling .loginRedirect TWICE in short succession, and so it's getting out of sync between what state it persists and what actually redirect

[2019-10-07 11:02] MGMsystems commented on #843
Hi,

I have the same issue in 2 scenarios:
### **When using chrome on mac in full screen.**
Chrome opens a new tab instead of a popup. Because of this the redirect after login doesn't work.

OS: macOs Mojave
Browser: Chrome V 77
Run browser in fullscreen

### **When using safari on mac (Not full screen)**
Safari opens a new tab, asks to login, closes popup but returns user as null. So login doesn'

[2019-10-07 14:02] RobMaskell commented on #871
I arrived here also looking for secure storage of the access tokens, it seems that local and session storage right now don't acheive that. I saw the two items https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/602 and https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/637 had been closed and I'm assuming this is the item for future options? According t

[2019-10-07 16:18] jasonnutter opened #1032 "Remove/deprecate Angular-specific code from msal-core"
In order to provide Angular-specific functionality, `msal-core` currently accepts an `isAngular` flag in its configuration. We should remove this flag and provide another approach for providing the same functionality (e.g. callbacks that the Angular wrapper can implement).

Note: `msal-angular` is still on `0.x` of `msal-core`, so this should be safe to remove, assuming there aren't any third-part

[2019-10-07 16:19] jasonnutter commented on #1032
Note: We need to be sure this is done in a backwards compatible way if there are any third-party Angular wrappers that use this flag.

[2019-10-07 16:40] jasonnutter opened #1033 "Upgrade msal-angular to use msal-core 1.x"
Currently, `msal-angular` uses `msal` version `0.2.2`, which is a major version behind and is not currently receiving any bug fixes or new features.

AC:
1. `msal-angular` uses the current major version of `msal`.

[2019-10-07 16:48] jasonnutter opened #1034 "Upgrade msal-angular to support the latest versions of Angular"
The current version of `msal-angular` is built with and supports Angular 4/5, neither of which are currently supported by the Angular team. While we have customers who are able to get `msal-angular` working with the newer versions of Angular, we need to upgrade `msal-angular` to provide out-of-the-box support for Angular 6+.

https://angular.io/guide/releases#support-policy-and-schedule

AC:
1. `m

[2019-10-07 18:20] rvdhooft opened #1035 "Initial login failing with state mismatch error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version latest
- [x] Firefox version latest
- [x] IE version latest
- [x] Edge version latest
- [ ] Safari version XX

[2019-10-08 03:18] sameerag commented on #981
@deregtd Does the latest version here refer to msal 1.1.3 or the dev beta?

[2019-10-08 03:54] deregtd commented on #981
We're using 1.2.0-beta.0

[2019-10-08 12:22] Therapho opened #1037 "SameSite warnings from Chrome"
I'm submitting a question for clarification.
## Browser: Chrome version 77.0.3865.90 (Official Build) (64-bit)
## Library version: v0.2.1

When logging in I receive this warning from Chrome:  _A cookie associated with a cross-site resource at http://live.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with

[2019-10-08 21:05] jasonnutter commented on #1031
@nakawankuma Thanks for the information, we'll take a look. We are already working on improving the functionality of our library when used in iframes, and we're aware of some issues with `about:blank` that we will be investigating. FYI @pkanher617 @sameerag

[2019-10-09 11:43] djleonskennedy opened #1038 "after successful login acquireTokenSilent returns id_token instead of access token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version
- [ x] Firefox version XX
- [x ] IE version XX
- [ x] Edge version XX
- [ x] Safari version XX

## Library ver

[2019-10-09 17:30] #985 closed

[2019-10-09 20:58] AndrewCraswell commented on #347
My app which is about to launch to production is currently in pilot, but a few customers are reporting on Edge this is still occurring, where the site is attempting to redirect to `[sitename].com/null`. This is a blocker for our site to release at the moment...

[2019-10-09 21:51] AndrewCraswell opened #1039 "First login fails, second login redirects to ".com/null""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Edge version: 44.18362.387
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Safari version XX

## Li

[2019-10-09 22:43] jasonnutter commented on #1039
@AndrewCraswell Can you share the steps taken to consistently reproduce the issue? I have heard about this, but I've personally had trouble reproducing it. Thanks!

[2019-10-09 22:47] jasonnutter commented on #1039
@AndrewCraswell As a workaround, can you try setting `navigateToLoginRequestUrl: false`?

[2019-10-09 22:58] AndrewCraswell commented on #1039
We might be able to. At the moment it's necessary as we have different login flows. A user who is registering needs to be redirected back to the registration page to complete their profile while returning users should be redirected to the page that login was initiated from.

Unfortunately not, I've been unable to repro myself and I've tried various scenarios. I'm hoping that verbose logging on the

[2019-10-09 23:04] jasonnutter commented on #1039
@AndrewCraswell Gotya. I would suggest exploring that in the immediate short-term, until we are able to find the cause (I have a theory, but it may be a little bit until we're able to confirm, fix, and release).

[2019-10-10 04:51] MubashirEbad commented on #347
Yeah this issue still exists, it returns .com/null and throw the content not found Error.
This is really a blocker and occurs more frequently in Incognito mode too.
@nehaagrawal Please have a look.

[2019-10-10 05:09] PraveenVerma17 commented on #347
This issue came back.... we started seeing null in url. Please have a look.

[2019-10-10 07:25] MariuszKogut opened #1040 "AcquireTokenSilent returns V1 token for wrong issuer"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-10-10 09:40] jannikbuschke opened #1041 "MSAL.AuthenticationParameters prompt property should be typed"
Currently the 'prompt' parameter has type `string | undefined`.
However it seems that only following values are allowed:

login
select_account
consent
none

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-prompt-behavior

Do you accept PRs in this repository?

msaljs v1.1.3

[2019-10-10 11:23] sameerag commented on #1041
@jannikbuschke This is intentional from the library as the support for `prompt` parameter and it's possible values is based on the STS code and not the library. What exactly is the functionality you are looking for by adding a new value to `prompt`?

[2019-10-10 12:18] jannikbuschke commented on #1041
I want to restrict the prompt values to login, select_account, consent, none so that typescript throws early (in case of spelling error) and to get IDE/intellisense support so that I don't need to always lookup the correct values in the documentation.

I.e. something like

`type Prompt = "login" | "select_account" | "consent" | "none" | undefined`

Currently the type of this property is `string |

[2019-10-10 15:32] danicomas commented on #843
It is fixed using loginRedirect @jasonnutter

[2019-10-10 17:18] PraveenVerma17 commented on #1039
We are exactly facing the same issue, started happening recently.
First time login will fail it will again ask for login and second time it will redirect the url to null

[2019-10-10 17:24] AndrewCraswell commented on #1039
@PraveenVerma17 are you able to get a consistent repro? Definitely interested in seeing some [verbose logs](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging#logging-in-msaljs) and/or network trace HARs that show the issue happening...

[2019-10-10 17:30] PraveenVerma17 commented on #1039
Not consistently, it happens intermittently. My guess its because of
storeAuthStateInCookie: isIE()

we should just hard code the value true
storeAuthStateInCookie: true

should solve the problem.

[2019-10-10 17:53] AndrewCraswell commented on #1039
I've already tried that as well. We still had users reporting issues even after a month.

[2019-10-10 18:01] PraveenVerma17 commented on #1039
I am going to add hack in my application router code
Redirect app from /null -> /

[2019-10-10 18:25] jasonnutter commented on #347
We'll be tracking this issue in #1039 (please leave any future comments on that issue), and we'll investigate to get a fix in for this soon.

[2019-10-10 18:28] jasonnutter commented on #1040
@MariuszKogut Are you seeing any problematic behavior with these access tokens? Because generally speaking, you should treat access tokens as opaque and not worry about individual claims, as STS will add information for itself that you do not need to necessarily be concerned about.

[2019-10-10 20:11] MariuszKogut commented on #1040
@jasonnutter Please notice that I'm using the access token as an bearer token to access my custom build WebApi. In our case, it's a multi tenant application, which stores data based on the Azure Ad Tenant Id. So it's crucial to validate the access token on the backend using both Audience & Issuer, to make sure, that we can "trust" this access token and the tenant id.

Please notice our JwtBearer c

[2019-10-10 20:32] PraveenVerma17 commented on #1041
@jannikbuschke  its already present
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/utils/Constants.ts

Use PromptState Enum from above file

export const PromptState = {
    LOGIN: "login",
    SELECT_ACCOUNT: "select_account",
    CONSENT: "consent",
    NONE: "none",
};

[2019-10-10 20:35] PraveenVerma17 commented on #1037
This is happening in version 1.1.3 too

[2019-10-10 20:36] PraveenVerma17 commented on #1026
@sameerag Any update on conditional access documentation?

[2019-10-10 21:35] jasonnutter commented on #1040
@MariuszKogut If you need to protect a custom web api with one of our tokens, you need to configure and receive consent from the user for a custom scope for that resource. In your example, you made a request for `["openid", "profile"]`, which are MS graph scopes, so you were only issued a token that can be used for MS Graph.

You can find information on creating custom scopes here: https://docs.mi

[2019-10-10 22:12] sameerag commented on #1026
@PraveenVerma17 yes, we are planning to close this with the upcoming release, projected early next week. @negoe to track this.

[2019-10-10 23:18] AndrewCraswell commented on #1039
I just happened to be debugging something unrelated when my Chrome session encountered the double login issue. Since I had the developer console open I was able to get a network trace HAR and full verbose console output.

I've uploaded both and it's accessible to Microsoft FTEs:
https://microsoft-my.sharepoint.com/:f:/p/andcra/Ejb-8PvMtIVAqBapjcX3VXABPRXx9ErOrRFm1EvI3dAPVQ?e=59ZDxD

Examining the

[2019-10-10 23:22] AndrewCraswell commented on #1039
Seems like the double login issue is related to the IdToken renewal failing, which is something we had been considering. Any ideas for manually expiring the IdToken so can try to debug this scenario with consistent behavior? I know we can apply an offset for access tokens, but I'm not aware of anything similar for IdTokens...

[2019-10-11 01:12] MariuszKogut commented on #1040
@jasonnutter Thanks Jason for figuring this out! Works like a charm now. :-)

[2019-10-11 01:12] #1040 closed

[2019-10-11 15:24] willyt150 commented on #995
If I do the Trusted Sites workaround mentioned in the link above (https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser#other-workarounds) then the behavior is "fixed".

I did try to do the mentioned **storeAuthStateInCookie**, however my dev tools console lit up all red with errors and even with Trusted Sites it wouldn't work. Without this thi

[2019-10-11 16:56] jasonnutter commented on #995
@willyt150 Thanks for that information. @NareshKumarM confirming that putting both your website and your authority in Trusted Zones did not fix the issue?

1. We will investigate this as part of the Angular work we are doing this quarter, but the restrictions that Trusted Zones put on cookies/localStorage in Edge/IE may make it tough to find a good workaround (we do have an item in our backlog to

[2019-10-11 16:58] jasonnutter commented on #1039
@AndrewCraswell Thank you for that information, that is very helpful, and e're aware of timeout issues from STS relating to retrieving/renewing tokens. And I'll find out about manually expiring idTokens and get back to you.

[2019-10-11 16:59] sameerag commented on #899
**UPDATE:**
Added #1042 to handle cache cleanup in error cases.

[2019-10-11 17:28] jasonnutter commented on #843
@danicomas Good to know, thanks! We'll investigate this as we work on Angular this quarter.

[2019-10-11 17:51] willyt150 commented on #995
Thanks @jasonnutter

To make sure I'm crystal clear, at this current point in time, the Trusted Site workaround will most likely end up still being required for the first release?

[2019-10-11 17:54] jasonnutter commented on #995
@willyt150 I would operation under that assumption for now, yes. We will work to bring in as many other bug fixes as we can into the initial release, but there's a chance that bugs like this will be fixed incrementally after the initial 1.0 release.

[2019-10-11 18:12] willyt150 commented on #995
Bummer... ok

[2019-10-11 18:35] jannikbuschke commented on #1041
But why is the prompt property on `AuthenticationParameters` a string and not typed to the concrete string values?
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/AuthenticationParameters.ts#L16

[2019-10-11 20:50] pmatte opened #1043 "Getting Unable to connect error from vuejs + msal+ azure active directory when running a build"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-10-12 17:17] sameerag commented on #617
@PraveenVerma17 So what is happening here? If you enable MFA, are you seeing this error even after satisfying the needed conditional access condition only in Edge and not in Chrome?
Can you please send me the repro steps?

This error: `InteractionRequiredAuthError: AADSTS50158: External security challenge not satisfied.` is sent by the server and we (`msal js`) relay it to the user. I can check wi

[2019-10-13 00:09] sameerag commented on #1037
@PraveenVerma17 STS is aware of this issue and working on it. You should not see it in a week and if it persists, please let us know.

[2019-10-13 19:57] djleonskennedy commented on #1038
library works fine there was problem with configuratio

[2019-10-13 19:57] #1038 closed

[2019-10-13 23:10] abannsunny commented on #843
I have been struggling with this for a long time now.

const token = await this.authService.acquireTokenSilent(this.tenantConfig.b2cScopes);

does the b2cScopeslook something like
['https://AppName.onmicrosoft.com/access-api/user_impersonation']?

I get a user_login_error|User login is required error. even after I log in with the loginRedirect method.

I am on
**    "@azure/msal-angular": "^0.1.4"

[2019-10-14 04:25] nguyentoantuit commented on #547
My customer has the same issue last Friday. However I can't reproduce this.
I use adal-angular to implement authentication (https://www.npmjs.com/package/adal-angular). Here is my code:
`var isAuthenticated = function () {
    var deferred = (q as any).defer();

    if (!_adal._renewActive && !_oauthData.isAuthenticated) {
        if (!_adal._getItem(_adal.CONSTANTS.STORAGE.FAILED_RENEW)) {

[2019-10-14 08:56] peshos commented on #617
@sameerag Yes, the issue is still present. Most of the users are on Chrome though and is not a blocker for us.

[2019-10-14 10:00] Stan92 opened #1044 "Angular 7 - Strange behavior / App loads in iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-10-14 13:49] LiamMartens opened #1045 "Unable to change account in acquireTokenRedirect"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-10-14 15:46] AbhaysinghBhosale commented on #834
Found the reason for this  It was not an issue in msal We are logging out user(clear storage) on 1 hr of inactivity So if an tab is open and minimized(kept idle) for long time It was clearing all active tabs localStorage So use working in other tabs was getting logged out due to an idle tab

[2019-10-14 15:46] #834 closed

[2019-10-14 15:48] anton-gorbikov opened #1046 "Incorrect type of acquiring token logged"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 77
- [x] Firefox version 69
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2019-10-14 17:03] jasonnutter commented on #1043
@pmatte Do you have a sample project you share with us? Feel free to create a private repo on Github and invite me to it, thanks!

[2019-10-14 17:56] pmatte commented on #1043
Hi Jason, here is the snapshot of the code where vuejs is calling azure via msal.

import * as Msal from 'msal'
import config from '../config'
import router from '../router'
import store from '../store'

export default class AuthService {
  constructor() {
    const redirectUri = config.redirect_url
    this.graphUrl = config.graph_end_point
    this.applicationConfig = {
      clientID: config.au

[2019-10-14 18:28] #898 closed

[2019-10-14 18:29] #892 closed

[2019-10-14 18:29] #897 closed

[2019-10-14 18:29] #889 closed

[2019-10-14 18:40] AndrewCraswell commented on #1039
Thanks @jasonnutter! I'm interested to understand better about the STS timeout issue... Is there a better way we should be handling this to prevent the double login? Or do you think these are separate issues that might be getting conflated?

[2019-10-15 11:52] hhertogh commented on #504
How can we already use the beta version ? Is there any sample showing an Office Add-In making use of the MSAL.JS plugin? I've tried to use it but the loginRedirect method keeps opening a new tab in Safari making it verify difficult to perform the authentication.
Thanks.

[2019-10-15 13:35] kertof opened #3402 "Profile returned does not have 'provider' field populated"
Hi,

According to the PassportJS documentation, a strategy should return a user profile with a 'provider' field populated ([source](http://www.passportjs.org/docs/profile/)), in this case 'azure-ad' for example.

Would it be possible to add such a field to the user profile?

Thanks!

[2019-10-15 16:17] malayidan opened #1048 "MSAL based angular js app lost homepage if Azure AD access is blocked."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
MSAL angular js library used in the app loosing the app homepage and shows the error " AADSTS50059: No tenant-identifying information found in either the reque

[2019-10-16 04:59] abishekreddy commented on #547
@sameerag - A lot of people seem to be facing this issue. Can we re-open it? .

Based on my analysis, the issue seems to happen when two or more API calls are made at the same time with an expired token. When the library tries to fetch new token (One for each call), this error is displayed.

Note: This happens on all browsers but its more frequent on Edge (Something to do with the sequencing of ne

[2019-10-16 05:50] simonstewart opened #1049 "How to enable httpOnly for auth cookies"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-10-16 08:36] MariuszKogut opened #1050 "Error AADSTS50132 after some time"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
(other browser not tested yet)

## Library Name
- [x] adal.js 1.1.3

## Library version
Library version: 1.1

[2019-10-16 08:50] MariuszKogut opened #1051 "Performance issues after acquireTokenSilent"
## I'm submitting a...

<pre><code>
[x] Performance issue
[x] Feature request
[x] Documentation issue or request
</code></pre>

## Browser:
- [x] Chrome version XX

## Library version
1.1.3

<pre><code>
Library version: 1.1.3
</code></pre>

## Current behavior
In my React based SPA I use userAgentApplication.acquireTokenSilent to get an new access token. This works fine, but I came across an issue

[2019-10-16 09:08] tangudu1808 opened #1052 "AuthError: Unexpected error in authentication.: Hash does not contain state."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version XX
- [ ] Firefox version XX
- [X ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-10-16 12:14] theloserbm commented on #174
If you need to use access token at some point you'll need to add that as well.

`if (location.hash.includes("id_token") || location.hash.includes("access_token"))`

[2019-10-16 15:32] jasonnutter commented on #1051
@MariuszKogut We are working on a new version of the library that sandboxes the app loaded in the iframe (which prevents the JS in the frame from loading) and allows you to set a redirect page that doesn't include any content or have MSAL included (i.e. a simple/blank page). Please try it out and let us know how it works for you: `msal@1.2.0-beta.0`

[2019-10-16 15:33] jasonnutter commented on #1049
@simonstewart Which cookies are flagged for not being httponly?

[2019-10-16 15:40] jasonnutter commented on #1050
@MariuszKogut Generally speaking, if `acquireTokenSilent` throws with an `InteractionRequiredError` error, you should invoke `acquireTokenPopup` or `acquireTokenRedirect` so that the user can interactively resolve the error, as shown [in the README](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-core#3-get-an-access-token-to-call-an-api).

Can you try that, an

[2019-10-16 16:13] cwoolum commented on #1011
I am using Angular 8 with API's that are backed by Azure AD B2C. The protected resource map is key to fetching the correct access tokens.

I have an Application in Azure AD for my Portal and then one for each service I call. Each of your services will have a published scope and your portal needs to have the scope for each service added to `API Access` to allow the end user to automatically consent

[2019-10-16 21:47] LastTribunal commented on #99
@sameerag  any update on the ETA?

[2019-10-16 22:22] sameerag commented on #99
Not taken up yet as we are closing a major release, unfortunately,  but it is in my list for October. Will update here soon.

[2019-10-17 00:38] AndrewCraswell commented on #1009
Our production site hit this issue today for some users. Interestingly enough, in Chrome, this timeout occurs a few seconds after login and the user gets redirected to the login page. It causes an endless loop for the user. However, on Edge and IE they won't be redirected to the login page because they get redirected to `[sitename].com/null` which doesn't exist, so they get a 404 page.

I managed

[2019-10-17 07:37] simonstewart commented on #1049
The "login.microsoftonline*" cookies.

[2019-10-17 08:16] IceFloe opened #1055 "Azure B2C authorization scopes problem"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome any version
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-10-17 16:47] IceFloe commented on #1055
I have understand how it works from source code, thank you

[2019-10-17 19:08] jasonnutter commented on #1049
@simonstewart It does look like most of the cookies set for login.microsoftonline.com are httponly, but there are a few that are not. I'm going to assume this is done intentionally, given that is only for a few of them (i.e. the login UI probably needs those for client-side logic). Regardless, this is set by the server, and we have no ability to control cookies set for login.microsoftonline.com, a

[2019-10-17 19:08] #1049 closed

[2019-10-17 20:47] garrettm commented on #1000
Is there an ETA for this landing?

[2019-10-17 22:02] jasonnutter opened #1056 "Add linting to msal-angular"
The `msal-angular` project is currently without any enforced linting rules, which would help code quality and readability.

AC:
1. The `msal-angular` project is configured with eslint rules.

[2019-10-18 04:53] NareshKumarM commented on #995
@jasonnutter @willyt150 Apologies for being inactive for a while.
Thanks for taking this up and looking into it. Since my organisation is a Microsoft shop, they extensively use IE 11. Although it will take a good deal of time and effort to move everyone away from IE, awaiting any news on improvements because to this day, i am still stuck in this issue.

Angular 8, now has a strange new issue on IE

[2019-10-18 04:57] sergey-tihon commented on #1000
@garrettm  It is inside [October 2019](https://github.com/AzureAD/microsoft-authentication-library-for-js/milestone/12) milestone, so we may expect to try it soon 🤞

[2019-10-18 06:06] MariuszKogut commented on #1050
Thanks @jasonnutter for clarification.  I even found the reason, why the session was limited. A colleague had applied an AdPolicy to our app registration and restricted "MaxAgeSessionSingleFactor":

[code]

😆

[2019-10-18 06:06] #1050 closed

[2019-10-18 16:33] rajarameshvarma commented on #1009
We also have this issue. This happens with google account but Microsoft account works fine. Also, when I hit this error there is another error logged related to IFrame origin with google

![image](https://user-images.githubusercontent.com/7087542/67111644-3e07f300-f18a-11e9-95bd-0e975b817074.png)

[2019-10-18 17:19] jasonnutter commented on #1043
@pmatte Can you share a screenshot of the error?

[2019-10-18 17:29] jasonnutter commented on #1039
For those with this issue, please try `msal@1.2.0-beta.1`, which contains a fix (if msal is unable to load the correct redirect uri, it will redirect your app to your home page, instead of `/null`). As noted above, if this is not acceptable for your use case, I recommend setting `navigateToLoginRequestUrl` to `false`. We'll continue to investigate the root cause, but this should be acceptable in t

[2019-10-18 17:49] Giovane-Roberti-Tafine opened #1058 "Compatibility of msalService Service with native android browser"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
-[x] Others(Brow

[2019-10-18 18:31] DarylThayil commented on #1000
We are working on it in October! @garethj-msft  @sergey-tihon  however it will likely take us through the rest of the quarter to finish.  Expect to be able to use it in production early 2020.

[2019-10-18 18:37] Bhavya207 opened #1059 "I am trying to get Access Token from AAD using MSAL.js. it is throwing Nonce errror"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

**Working it usi

[2019-10-18 18:41] garrettm commented on #1000
Alright, thanks.  Might there be a less stable version we can use beforehand?  Or is there an alternative library I could use for this until msal is ready?  https://github.com/AzureAD/azure-activedirectory-library-for-js ?

[2019-10-18 18:43] jasonnutter commented on #1009
@AndrewCraswell Thanks, that information is helpful. We're aware of the issues related to timeouts, but don't have a workaround at the moment, as we are still investigating.

[2019-10-21 08:21] teachtocode opened #1062 "How to use azure login using electron and angular"
I am trying to implement azure authentication in my electron application, I already created an angular app where all works fine so when the application loads it redirected to azure login page and if auth is done it will redirect back to application I am using msal.

Now I am converting this application to the electron. so I registered a custom protocol,  my goal is to when the electron application

[2019-10-21 08:22] AAATechGuy commented on #61
@DibranMulder   @rolandoldengarm, I went into a confused path as well. In short, from what I understand, TokenCache in MSAL is the replacement/abstraction for refresh_token. You need to serialize/deserialize for later access.

Provided a bit more of my understanding here: https://stackoverflow.com/a/58482305/1578962

[2019-10-21 08:25] AAATechGuy commented on #191
@VSDekar , I went into a confused path as well. In short, from what I understand, TokenCache in MSAL is the replacement/abstraction for refresh_token. You need to save TokenCache for later access. (acquireTokenSilent will require an IAccount as parameter which you would only get from a saved TokenCache)

Provided a bit more of my understanding here: https://stackoverflow.com/a/58482305/1578962

[2019-10-21 09:09] jmprieur commented on #191
@AAATechGuy : I don't think that there is a refresh token in MSAL.js (which uses the implicit flow, which is a bit different from the other OAuth 2.0 flows)

What you saw applies to the other MSAL libraries (MSAL.NET, MSAL for iOS and Mac OS, MSAL Android, Python, Java), but I don't think it applies to .JS

cc: @negoe to confirm.

[2019-10-21 13:06] eirikb opened #1063 "DevOps + SharePoint at the same time"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: Question
</code></pre>

## Library version

<pre><code>
Library version: 1.2.0-beta.1
</code></pre>

## Current behavior
Using two scopes at the same time for l

[2019-10-21 14:44] toddfsnyder commented on #1037
Any update on the warnings for SameSite cookies?

[2019-10-21 15:55] jasonnutter commented on #1062
@teachtocode While we don't officially support Electron yet, we do have a proof-of-concept and sample application you can look at that demonstrates how our library could be used inside an Electron app: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-electron-sample-app

[2019-10-21 20:08] anton-gorbikov commented on #1039
@AndrewCraswell  do you know, whether users that are facing the issue with double navigation + /null navigation are using Edge's InPrivate mode? Because I see the exact same behavior in this mode in Edge. I've debugged the issue a bit and it looks to me that Edge in InPrivate mode clears up the `localStorage`/`sessionStorage` when it leaves the domain, so in our case each time a redirect to login

[2019-10-21 20:16] AndrewCraswell commented on #1039
This is useful info! Unfortunately we have seen that the users reporting the issue are not using InPrivate, and we've started using a cookie for all users so as to make troubleshooting easier.

I do think that people who encounter such issues should check that (a) their cache is not being cleared, and (b) if there are any token renewal timeouts. Both could cause the issue Being described.

Might b

[2019-10-21 20:29] jasonnutter commented on #1039
@anton-gorbikov Unfortunately, that is known behavior with Edge InPrivate: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13861050/

The workarounds you mention, as well as putting your authority and web application domains in the same security zone, are our recommended mitigation at this time.

[2019-10-21 22:36] tvperez76 opened #1065 "MSAL throws an error whenever logging in to an Azure B2C enabled application with Facebook credentials"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 77.0.3865.120
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## L

[2019-10-22 04:39] Romiko commented on #1000
This will be awesome to be able to use SPA/PWA apps with Microsoft Azure AD and Authorization Code Flow with PKCE, is this going to enable the possibility?

[2019-10-22 07:35] anton-gorbikov commented on #1051
@MariuszKogut we had a similar performance concerns in our application. And currently as a quick workaround which works perfectly in our case I can suggest you to not bootstrap the application in the `iframe` if it's possible in your case.

To do that you need to find the entry point in your application (I'm not a React expert, we are developing an Angular app), but I assume it should be something

[2019-10-22 08:10] zoperohan opened #1066 "Multiple async calls to get token returns only one response"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 77.0.3865.120
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-10-22 08:12] another-guy commented on #741
@BoyanPalagachev  @zamzowd  How did you overcome the issue? Did you end up downgrading the dependency version?

[2019-10-22 10:15] AndrewNagulyak commented on #547
Same error when i added MS Stream video player to my Angular page

[2019-10-22 13:26] zamzowd commented on #741
@another-guy Honestly, I switched to using https://github.com/IdentityModel/oidc-client-js

I'm sorry to direct anyone from here to a competing library, but don't want to avoid answering the direct question.  SSO behavior across applications and without any user prompts is a primary requirement for me, and the PR I submitted didn't seem to get any traction.

If I had to stay with MSAL.js, I would

[2019-10-22 17:14] another-guy commented on #741
@zamzowd thank you for your input. I am myself very surprised with the state of this issue.

[2019-10-22 17:20] sameerag commented on #1066
@zoperohan MSAL currently only supports one account => only one `clientId` is supported. `multiple accounts` supports is in the pipeline, unfortunately we do not have a specific date yet.

Having said that, for the same `clientId` multiple tokens can be fetched concurrently. We have added more optimization on the same in our latest beta: `msal-1.2.0-beta.1` which is in npm now. We will be announci

[2019-10-22 17:23] sameerag commented on #1065
@tvperez76 This is a bug we identified yesterday in the beta, especially for concurrent calls. We are working on a fix and I will update the thread as we have the PR in dev. Please watch out for a new beta release soon. Thanks for raising this.

[2019-10-22 17:26] sameerag commented on #1063
@eirikb So it is possible to do this without logging in twice. `access token` calls are JIT calls, hence can be made multiple times. Please call `acquireTokenSilent` (if you have a session already i.e., after logging in) twice with these scopes and see if you have two different tokens to access the corresponding resources.

@negoe  to reference more documentation on this.

[2019-10-22 17:31] eirikb commented on #1063
I already use `acquireTokenSilent` to acquire the tokens, and I do these simultaneously with `Promise.all` - this works fine.  But in order to do this I must first log in, and then I need the two calls - or do as in my second solution to simply omit the scopes in login, but as I said I don't know the implications of this (works for me now, but app is already consented).

[2019-10-22 21:25] jasonnutter commented on #995
@NareshKumarM Can you please verify if your website domain and the login authority domain are both in the same IE security zone?

A couple other questions:

- Are you using the MSAL guard?
- Can you determine what causes the logout to be triggered (e.g. user clicks, API request, etc)?
- Does this happin in Private Browsing mode?

[2019-10-22 21:29] jasonnutter commented on #1051
@MariuszKogut A new version of the beta has been released: `msal@1.2.0-beta.1`

Unfortunately, we had to disable the sandboxing of the iframe, but this version still allows you to use a redirect page that is dedicated to MSAL (and it doesn't have to include MSAL or any other content on it).

Please let us know if you have any feedback!

[2019-10-23 06:08] JordanMarr opened #1069 "Sometimes logins fail with login in progress"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-10-23 10:05] WolfyUK commented on #1011
@stevenruizhang I have [had a go](https://github.com/WolfyUK/microsoft-authentication-library-for-js/tree/angular6/samples/MSALAngularDemoApp) at updating the sample in this repo to Angular 6, which may help with a further update to Angular 8.

[2019-10-23 21:59] sameerag commented on #1065
`msal.1.2.0-beta.2` fixes this. We are working on the announcement and detailed release notes to follow soon, but the package is available in npm now for anyone to test try it.

[2019-10-23 21:59] #1065 closed

[2019-10-23 22:09] sameerag commented on #1015
#1068 merged to dev now.

[2019-10-23 22:09] #1015 closed

[2019-10-23 22:17] sameerag commented on #899
Released couples of betas now with all the changes, latest beta being `msal 1.2.0-beta.2`. Gearing up for the release of `msal 1.2.0` with samples and documentation.

Note: The betas are available in npm, we will be making the CDN release for the latest beta soon, and then follow up with the wiki update on the release notes.

[2019-10-23 22:25] sameerag commented on #759
@scambier We pushed up some cache fixes(nonce clearance) in the recent `msal` beta releases. Can you please try `msal 1.2.0-beta.2` and report to us if the issue is still seen? The package is available in npm for download.

[2019-10-23 22:40] sameerag commented on #588
Closing this as the latest msal release `msal 1.2.0-beta.2` has this fix.

[2019-10-23 22:40] #588 closed

[2019-10-23 22:50] sameerag commented on #833
Closing this. Please open a new issue if there are further questions.

[2019-10-23 22:50] #833 closed

[2019-10-23 22:52] sameerag commented on #867
cc @ktsakas

[2019-10-24 09:16] hhertogh opened #1072 "Outlook add-in - MSAL authentication"
Hey,

I'm trying to use MSAL.JS in an Outlook add-in (with the new MSAL 1.2.0 version).
When using the loginPopup method in Outlook online, there is no issue , everything works as expected, but when doing the same in the Outlook client, the popup does not open, we have to choose an application from Microsoft Store to open the "about" page (the popup I suppose):
![image](https://user-images.githubu

[2019-10-24 11:35] scambier commented on #759
@sameerag I've updated a few hours ago, and so far the token seems to refresh itself correctly, thanks.

[2019-10-24 16:11] TDola commented on #1062
@teachtocode  What does Microsoft Teams use for it's azure login?  Is that available for everyone?

[2019-10-24 20:11] tvperez76 opened #1073 "Unable to login on an Azure B2C enabled application with Facebook credentials"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x] Safari version 12

## Library versi

[2019-10-24 21:00] jasonnutter commented on #1062
@TDola For their Electron apps, I believe Teams uses MSAL C++ (along with custom auth infrastructure): https://github.com/AzureAD/microsoft-authentication-library-for-cpp

Note while we don't yet support Electron yet, we are planing to support Node and Electron at some point in the future (that work is not scheduled yet, however).

[2019-10-24 21:17] TDola commented on #1062
@jasonnutter Thank you.

[2019-10-24 21:18] hilarudeens opened #1074 "Login popup is not working Edge, if cacheLocation is sessionStorage"
### I'm using @azure/msal-angular@0.1.4 to access outlook user's mail. All implementation working fine chrome. But In Edge, login-popup is not closing after user signing/authorize. In further sequence, I could not create accessToken silently.

## Browser:
- [x] Edge version: Microsoft Edge 44.18362.387.0
<img width="344" alt="Screenshot 2019-10-25 at 2 18 06 AM" src="https://user-images.githubuser

[2019-10-25 10:46] AndrewNagulyak commented on #1044
Have you find a problem ?

[2019-10-25 13:52] leniel opened #1077 "How to pass tokenRenewalOffsetSeconds to MSAL from MSAL AngularJS wrapper?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ X ] Other... Please describe:
</code></pre>

## Browser:
- [ X ] Chrome version 78.0.3904.70
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

##

[2019-10-25 17:41] MariuszKogut commented on #1051
@anton-gorbikov

Thanks - this works for me to reduce the "pain" of our problem.

@jasonnutter

Is there a documentation that describes how I can use a dedicated  page to MSAL? As I understood so far, I have to initialize MSAL to process the callback by Azure Ad.

[2019-10-25 17:49] jasonnutter commented on #1051
@anton-gorbikov Not yet, we'll have that posted soon.

[2019-10-25 18:15] jasonnutter commented on #1077
@leniel Unfortunately, this option is not available for `@azure/msal-angularjs`, as it was added in `msal` 1.0, and `@azure/msal-angularjs` uses `0.2.2` of `msal`. This also means it is not currently available in `@azure/msal-angular`, however, it will be soon, as we are working this quarter to upgrade to `@azure/msal-angular` to version 1 of `msal`. We do not have plans to backport this fetaure t

[2019-10-25 18:23] leniel commented on #1077
@jasonnutter thanks for the reply... we're using the latest MSAL code `1.1.3` with MSAL Angular JS and it is working as expected so far but we're limited. Can't use these new additions.

The way ahead is then going with `@azure/msal-angular`.

[2019-10-25 18:23] #1077 closed

[2019-10-25 18:54] ahqardah opened #1078 "infinite redirect in MSAL lib"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [X] Edge version 44.18362.387.0
- [ ] Safari version XX

## L

[2019-10-25 19:03] jasonnutter commented on #1078
@ahqardah There are known limitations with Edge and IE that can result in the behavior you are seeing. Can you please try the workarounds described on our wiki, and let us know if it fixes the issue? https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser

1. Put your login authority and app domains in the same security zone.
2. Set `storeAuthSta

[2019-10-25 19:11] justindelisi commented on #1078
I'm actually having this same issue with edge and internet explorer. I upgraded to 0.1.4, set storeAuthStateInCookie to true, and followed all the steps in the wiki, but still having the infinite redirect issue.
const isIE = window.navigator.userAgent.indexOf("MSIE ") > -1 || window.navigator.userAgent.indexOf("Trident/") > -1;
..
MsalModule.forRoot({
      clientID: 'ce92c035-33a6-4642-b894-d1dde

[2019-10-25 19:35] leniel commented on #1077
@jasonnutter : how can we contribute to the wiki page(s) [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki)?

Can't we submit PR to fix the pages? :)

[2019-10-25 20:34] ahqardah commented on #1078
@jasonnutter I tried the steps mentioned in the wiki, no luck, same behavior.

[2019-10-25 21:10] jennyf19 commented on #1077
@leniel  you should be able to fork the repo and then submit a PR. here's [an example w/the .net repo](https://github.com/AzureAd/microsoft-authentication-library-for-dotnet/wiki/Contributing-overview#fork)

[2019-10-25 21:17] leniel commented on #1077
@jennyf19... I only saw an option to clone the wiki directly from origin... could not fork it. Can you point me to the real Github repo where it's hosted so that I can fork?

I cloned directly from the origin... and that won't allow me to push.

[2019-10-25 21:53] jennyf19 commented on #1077
@leniel - okay...figured it out. so if you go to the [wiki main page](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki) at the bottom right under the TOC, you'll see the below link to clone the wiki. Then you should be able to make PRs.
![image](https://user-images.githubusercontent.com/19942418/67606739-235bee00-f737-11e9-94fa-4f1ab776b94d.png)

[2019-10-26 17:07] JordanMarr commented on #1069
Manually clearing session seems to work; still need to do more testing...

[code]

[2019-10-27 11:20] Danieliverant commented on #997
can someone review this problem?

[2019-10-28 06:24] sameerag commented on #1062
@teachtocode Please let us know if there is a specific issue you are still unable to resolve after taking a look at the sample app above. I am closing this ticket now and feel free to open a new one if the need arises.

[2019-10-28 06:24] #1062 closed

[2019-10-28 06:26] sameerag commented on #1074
cc @jasonnutter

[2019-10-28 06:30] sameerag commented on #1073
@tvperez76 Can you please try `msal 1.2.0-beta.3` in the same environment? We have added some more logging information that may help us to debug the timeouts. We will also debug from our end with Safari 12 to reproduce the issue.

[2019-10-28 06:36] sameerag commented on #1072
@hhertogh I believe Office plugin in native apps use MSAL C++: https://github.com/AzureAD/microsoft-authentication-library-for-cpp for authentication. We are working on a JS solution for native environments as there are other considerations for SSO in native environments other then browser scenarios.

Having said that the `redirect` solution is supported now in the beta for iframed applications, t

[2019-10-28 06:40] sameerag commented on #1069
@JordanMarr Is this happening only with `session storage` or is it seen for `local storage` too? Is it possible to share your sample code for authentication so we can try reproducing the issue at our end?

[2019-10-28 06:51] sameerag commented on #1025
@chr1soscl This is fixed in the `msal` beta: `1.2.0-beta.2`. As you know, the `angular` version of the library is being worked upon currently to be compatible with the latest `msal js` and this should be addressed in the process. cc @jasonnutter for awareness.

[2019-10-28 09:29] hhertogh commented on #1072
Thanks sameerag for your answer. I was not following the SSO path for my authentication, but I was considering this scenario: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph-without-sso

So should I understand that it's not possible to use MSAL.JS for authentication in an native environments (Outlook client application on Windows) ? Or it will be possible w

[2019-10-28 10:57] bilalAchahbar opened #1079 "MSAL python 3 support ?"
I installed the current wheel library of msal from the official pypi reposirory.
But the wheel file has a python version of v2.
I try to install this library into my Azure Databricks Cluster where python 3 is configured. This conflicts because the wheel library of msal has python 2 configured. The library installed perfectly when I downgraded the cluster to python 2. But that can't be the solution

[2019-10-28 11:57] JackEdwards commented on #901
Is there any update on this? I'm unsure whether to try and use msal-core or msal-angular in my Angular 8 application.

[2019-10-28 14:21] leniel commented on #1077
@jennyf19 this is the link I sent in my previous comment. There's no way to send a PR here on GitHub. Somehow the Wiki is closed.

If any of you know how to send a PR to the wiki, let me know. I fixed some doc links locally but I can't send a PR.

[2019-10-28 15:07] jennyf19 commented on #1077
@negoe -> Do you know what's up w/the wiki for JS? An outside contributor should be able to clone the wiki locally and do a PR, could you check on the settings for the repo? Thanks

cc: @leniel @jmprieur

[2019-10-28 15:33] jasonnutter commented on #1077
Unfortunately, I don't believe Github supports pull requests for wikis (even though wikis are themselves Git repos). If you have corrections you would like us to make, please open a separate issue detailing the changes and we'll take a look, thanks!

[2019-10-28 15:39] jasonnutter commented on #1079
@bilalAchahbar This the repo for MSAL.js, here is the link for the Python repo: https://github.com/AzureAD/microsoft-authentication-library-for-python

[2019-10-28 15:39] #1079 closed

[2019-10-28 16:04] leniel commented on #1077
@jasonnutter yeah... looks like [this is true](https://stackoverflow.com/q/10642928/114029) but really not good when it comes to collaboration.

Here [on this post](https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html) there's a proposed solution.

[2019-10-28 16:20] jasonnutter commented on #1077
@leniel Thanks for the links. I agree its unfortunate and not conducive to outside contributions. Generally speaking, we are hoping to move more of our documentation to docs.microsoft.com (and off of Github Wikis), which does provide functionality for outside contributors to make contributions.

[2019-10-28 18:08] sameerag commented on #739
More support is added for concurrent requests support in the latest msal beta versions: `msal 1.2.0-beta.3` being the latest. Please check it out.

[2019-10-28 18:34] JordanMarr commented on #1069
My authentication code (as a React hook) is below (my tenant id and authority replaced with placeholders).
I know it's not exactly like the examples, but this is the best I could do to get it working.

[code]

[2019-10-28 20:57] rvdhooft commented on #1035
Any update for this?

[2019-10-28 21:16] tvperez76 commented on #1073
Sure.  I will do so later today.

[2019-10-28 21:29] navzam commented on #1015
@sameerag Does this also address #699 where `acquireTokenSilent()` does not detect the `interaction_required` errors when they're sent via query parameters? I'm still seeing that issue. Happy to open a new issue if that's better

[2019-10-28 23:21] sameerag commented on #1015
Can you please share the repro steps @navzam? We are curious regarding the specific set of errors that may cause this and work on the mitigation.

[2019-10-28 23:22] sameerag commented on #1015
And yes, please open a new issue.

[2019-10-28 23:56] sameerag commented on #191
Yes @jmprieur, refresh token does not apply for `implicit flow` grant which is the current implementation for `msal js` as that was the recommended flow for SPAs when we started. We are extending the library to support `auth-code flow` in browsers as it is the new recommendation for SPAs in the upcoming months.

[2019-10-29 00:01] darsney opened #1080 "request argument can be null in buildIDTokenRequest causing request.extraQueryParameters to throw"
This will throw in loginRedirect attempts with null request object in adal to msal flows.  I have consistent repro in my application

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/3844c9eedb7f07e6fc927d1039af9a8f54366cad/lib/msal-core/src/UserAgentApplication.ts#L2141

[2019-10-29 00:05] sameerag commented on #1037
The service rolled out the fix last week and may take a week to propagate for 100% users. Is this still seen? @toddfsnyder @Therapho  @PraveenVerma17

[2019-10-29 00:09] sameerag commented on #547
@abishekreddy Sure. Thanks for the inputs.
cc @jasonnutter Do you think this is same as throttling issue?

[2019-10-29 00:27] sameerag commented on #741
@zamzowd Sorry to see you use something else other than MSAL JS  :(

SSO without a login_hint is a little concerning model from our end. As I have mentioned before, SSO once you send a login_hint is supported today, SSO with apps that do not talk to each other and would like to piggy back on the AAD session is a little fuzzy for us to support. I have engaged the larger team on understanding use ca

[2019-10-29 00:32] sameerag commented on #1063
Omitting the scopes in login would mean that if you are not pre-consented to the scopes you need access to and need `consent` to one of these scopes, you will be prompted to interact (if you call `acquireTokenSilent` it fails with `consent_required` error) and you need to call `acquireTokenPopup` or `acquireTokenRedirect` to give the consent as you have correctly stated in the issue description.

[2019-10-29 00:33] sameerag commented on #759
Thanks @scambier. Closing this issue.

[2019-10-29 01:07] jasonnutter commented on #547
Correct, if you get this error, it is because your requests are being throttled. If you are making many requests at once, try doing them in serial.

[2019-10-29 01:19] shane7218 opened #1081 "MSAL ignoring MSA access token expiry times"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- ALL
## Library version

<pre><code>
Library version: 1.1.3

</code></pre>

## Current behavior

When requesting delegated MSA acce

[2019-10-29 02:44] rajarameshvarma commented on #1009
@jasonnutter I see that this is In Progress, but just curios to know if there is a timeline for this fix to be available?

[2019-10-29 03:28] tvperez76 commented on #1073
Here are the logs for library version 1.2.0-beta.3.

[code]

[2019-10-29 07:33] AndrewCraswell commented on #1069
I ran into this today and found an easy way to repro.

1. Clear any active sessions from the cache and delete cookies.
2. Navigate to the site, but before initiating a login disconnect from your internet.
3. Initiate login. You should encounter a login error since MSAL can't resolve the proper endpoints.
4. Reconnect the internet, and try to login again. This will fail because "Login in progress".

[2019-10-29 07:53] eirikb commented on #1063
@sameerag That could be an alternative solution then. A bit awkward flow perhaps.
Something like this:
1. First time without consent:
    1. User clicks login
    1. Login fails (catch error, start original flow)
    1. User click login again (for SharePoint)
    1. User click login again (for DevOps)
1. Every time after consent:
    1. User clicks login

A couple of notes: I have an iframe in an

[2019-10-29 14:53] sameerag commented on #1000
Yes. @pkanher617 to add more details.

[2019-10-29 15:04] sameerag commented on #1073
@tvperez76 Couple of more details: Can you help me understand the policy set in your sample? I see that you are making an `acquireTokenSilent` call but certain policies which need interaction are blocked on the same call by B2C service (eg: Password Reset). We are working with B2C dev team on documenting the usage of `msal js` per policy.

[2019-10-29 15:23] sameerag opened #1082 "B2C Samples - test cases for basic sanity"
**Basic Test cases:**

- Local account
    - [ ] loginRedirect, loginPopup
    - [ ] acquireTokenPopup, acquireTokenRedirect and acquireTokenSilent
    - [ ] b2clogin.com
    - [ ] login.microsoftonline.com
- Social account (Google, FB, Twitter)
    - [ ] loginRedirect, loginPopup
    - [ ] acquireTokenPopup, acquireTokenRedirect and acquireTokenSilent
    - [ ] b2clogin.com
    - [ ] login.micros

[2019-10-29 15:48] jasonshsoftware commented on #1033
Is there any update on this? I am trying to determine if I should delay my deployment until this is completed. We need this update because MSAL 0.2.2 has a hardcoded prompt=select_account in the url.

[2019-10-29 16:37] Yossri21 commented on #421
I am using Angular 8 &  simply installing  ' npm i rxjs-compat ' that's handle all the problems .

[2019-10-29 17:50] toddfsnyder commented on #1037
Just check and we still see warnings about SameSite cookies used by Azure B2C.

A cookie associated with a cross-site resource at http://b2clogin.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies an

[2019-10-29 18:37] AndrewCraswell commented on #1069
Did you mean #1042? I had seen that PR earlier but for some reason thought it had already been merged.

[2019-10-29 18:50] sameerag commented on #1069
Sorry yes. It is #1042. It isn't merged as I think our approach causes issues in some error cases. I will do a new version soon. But as I stated, the use case you mentioned is a corner case and with concurrent requests, we need to identify a stale request vs on going one which is tricky as we do not remember application state. Will reach out once I have a solution in place.

[2019-10-29 19:45] darsney opened #1084 "loginRedirect does not redirect in some flows"
Specifically, in adal => msal SSO flows, loginRedirect fires ATS and does not actually redirect.  In these cases, users may need to use handleRedirectCallback to continue their page load flow, which requires referencing potentially local variables in the handleRedirectCallback closure.

That is fine, as long as the page doesn't redirect, but if the page does in fact redirect, the redirectCallback

[2019-10-29 21:15] maljuburi opened #1085 "unnecessary `async` key word"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/3844c9eedb7f07e6fc927d1039af9a8f54366cad/samples/react-sample-app/src/AuthProvider.js#L29

`await` isn't being used in this code block, I don't think `async` is necessary here.

[2019-10-29 21:50] jasonnutter commented on #1009
@rajarameshvarma This is a very high priority bug for us right now, and were hoping to have a fix released soon. No exact timeline yet, unfortunately.

[2019-10-29 22:07] jasonnutter commented on #1085
While it is `true` that `async` is required to use `await`, it also inherently makes the function return a promise. In this case, the function already explicitly returns a promise, so you're right, its technically not needed, but I just added it for consistency with the other functions in the file that return a promise.

Appreciate the feedback, we're always looking to improve our samples and make

[2019-10-29 22:07] #1085 closed

[2019-10-30 12:53] pavelzaitsau opened #1086 "User state transfer via 'loginRedirect' does not work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 78.0.3904.70
- [ ] Firefox version 70.0
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## L

[2019-10-30 14:31] zamzowd commented on #741
@sameerag That's [exactly how SSO with OIDC is supposed to work](https://auth0.com/blog/what-is-and-how-does-single-sign-on-work/), and Azure AD and Azure AD B2C both support that behavior.  I haven't found any guidance other than from MSAL JS that `login_hint` or `prompt` should be required.

Remember that the applications all have to be registered onto the authority, so it's not like some rogue

[2019-10-30 16:12] jasonnutter commented on #901
@JackEdwards Unfortunately, not yet. I have worked with customers who have `@azure/msal-angular` working with their Angular 8 application by installing `rxjs-compat` (and potentially other changes, depending on your setup).

[2019-10-30 16:27] pkanher617 commented on #1080
Thanks @darsney, I will put up a PR for this shortly.

[2019-10-30 18:28] sstchur opened #1087 "Feature Request: offer a new (optional) property on the config passed to UserAgentApplication, "redirectUriForTokenRefresh" which is used only in the case of silent token refresh with iframe."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version latest
- [X] Firefox version latest
- [ ] IE version XX
- [X] Edge version latest
- [X] Safari version latest

[2019-10-30 18:29] sstchur commented on #1087
@sameerag tagging you in this issue, as we previously discussed

[2019-10-30 18:35] navzam opened #1088 "acquireTokenSilent times out when user interaction is required"
This is a re-opening of issue #699, which is closed, but I'm still facing the issue. The original issue does a great job of explaining the problem, but there was a lot of discussion which I'll try to consolidate here.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] D

[2019-10-30 19:27] jasonnutter commented on #1088
Thanks, this is really helpful! We are currently looking into timeouts (which can happen for many different reasons), and I'll investigate your findings.

[2019-10-30 19:42] pkanher617 commented on #1088
Thanks @navzam, it appears we do set response mode to fragment by default for the interactive calls, but not for silent calls, which is why you are seeing this behavior. please let me make sure there are no other repercussions of making this change, and I will push up a fix for this shortly.

[2019-10-30 20:56] tvperez76 commented on #1073
I’m not sure what you’re asking.  Are you requesting time see the login policy I’m using?  If so, I’m not sure how to provide this information.  I will see if I can provide an ARM template snippet of this.

[2019-10-31 03:04] sameerag commented on #1087
Thanks @sstchur. Will have a PR for this in the coming week, please watch out this space for the status.

[2019-10-31 08:18] scambier commented on #759
@sameerag actually, it seems to still not working as expected, but maybe I'm misunderstanding. My setup is still the one described in the first post, but MSAL still often fails to refresh the token by itself.

Basicall, each ajax request I do is preceded by a call to this function:
[code]

So, 401 responses shouldn't happen, right? Because they still happen (less often than when I created this iss

[2019-10-31 20:25] negoe commented on #948
This was resolved by PR #959. Please comment if you find any further issues. Thanks.

[2019-10-31 20:25] #948 closed

[2019-10-31 20:26] leniel opened #1091 ""Token renewal operation failed due to timeout" for app hosted at another Azure AD"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ X ] Other... Please describe:
</code></pre>

## Browser:
- [ X ] Chrome version 78.0.3904.70 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
-

[2019-10-31 20:29] negoe commented on #953
@Robjam We have fixed the issue in this version MSAL.js 1.2.0-beta.3. Please try it and let us know if you see any further issues.

[2019-10-31 20:29] #953 closed

[2019-10-31 20:30] negoe commented on #971
@dluque92 We have fixed the issue in this version MSAL.js 1.2.0-beta.3. Please try it and let us know if you see any further issues.

[2019-10-31 20:30] #971 closed

[2019-10-31 20:48] negoe commented on #974
Hi @shane7218, We have fixed this issue in MSAL JS 1.2.0-beta.3. Please try and let us know if you have any further issues.

Thanks,
Neha

[2019-10-31 20:48] #974 closed

[2019-10-31 20:50] negoe commented on #984
Hi @pbalzer,  We have fixed this issue in MSAL JS 1.2.0-beta.3. Please try and let us know if you have any further issues.

Thanks,
Neha

[2019-10-31 20:50] #984 closed

[2019-10-31 21:02] pkanher617 commented on #1000
@garrettm @sergey-tihon We are currently developing this, hope to have the beta version ready by Thanksgiving, which will also include backwards compat for implicit flow.

@garrettm msal for implicit flow is available and currently at v1.1.3, so you can use that instead of the ADAL library for now.

@Romiko yes, we would like to support the use cases for SPA/PWA apps using Auth Code w/ PKCE.

[2019-10-31 22:35] #1088 closed

[2019-10-31 22:36] jasonnutter commented on #1088
This has been merged, we'll let you know when we have a release that includes it (should be relatively soon).

[2019-10-31 22:38] garrettm commented on #1000
@pkanher617 sorry, I'm not sure what you mean, isn't this repo/issue about getting an Auth Code through msal?  How can I use msal for this when it's still not ready?  Am I misunderstanding something?

[2019-11-01 00:20] pkanher617 commented on #1000
@garretm sorry I may have misunderstood what it was that you were looking for - I saw a link to the ADAL.js repo and assumed you were simply looking for an upgraded version of what is supported in ADAL today.

You aren't misunderstanding anything, this issue will track making the Authorization Code Flow available in MSAL.

[2019-11-01 00:37] pkanher617 commented on #1091
Hi @leniel, if I understand you correctly, you are seeing a different behavior in the AAD tenant than the B2C tenant in terms of token renewal, correct? Does this error come back as the "Token renewal operation failed due to timeout" error in the title? If so, we are working on fixing part of this issue. When we create an iframe for token renewal, we check whether a fragment comes back in the url.

[2019-11-01 07:20] eirikb opened #1092 "Custom dotnetcore web api authentication Azure AD App configuration"
## I'm submitting a...

<pre><code>
[x] Other... Please describe: Question
</code></pre>

How to authenticate (and perhaps even authorize) against a custom dotnetcore web api?
Or, more specifically, *what scope to use* and how to set this up in the *Azure AD*?

My API looks like this: https://gist.github.com/eirikb/74aad1eb90a06408e752bb12e60769d4
With these important parts:

_Startup.cs_
[code]

[2019-11-01 14:35] leniel commented on #1091
Hey @pkanher617 thanks for the reply.

Yep, you're correct. The error comes out as **Token renewal operation failed due to timeout**.

The **id_token** token gets renewed locally when debugging in my machine, that is, the app is not hosted in the Azure app service. When debugging locally I interact only with the Azure AD B2C.

However when debugging the live app that is hosted in a different Azure

[2019-11-01 18:15] jasonnutter commented on #966
@benzhi2011 Apologies for the delay in responding. By definition, in order to be AAD joined, a device must be signed into an AAD account. See our docs more information: https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ad-join

Closing as no further action.

[2019-11-01 18:15] #966 closed

[2019-11-01 20:43] anomepani commented on #1063
@eirikb Are you able to resolve an issue? Did you find any workaround?
I am also having difficulty while I need to get token for multiple services like SharePoint, MS Graph and DevOps with a single app.

No Proper documentation present with adal.js or msal.js

[2019-11-01 20:48] anomepani commented on #1092
@eirikb You can find sample her https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code

Especially this solution will help you https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC

[2019-11-02 07:27] eirikb commented on #1092
@anomepani Thanks for the answer.
I've been looking at the samples (as well as other samples on the same GH Org), but I'm still not quite sure what to do.

The example you provided has a description that seems to fit me really well, and it probably is just what I want, but when I look at the details I get confused. Here are some differences in my setup: I have an **API**, not a webapp, I *don't* u

[2019-11-02 10:50] anomepani commented on #1063
@eirikb I have created a demo for Multi-Tenant, Multi Resource authentication using `adal.js` and `msal.js`

Working Demo Using `adal.js` for Multi Resource Multi Authentication is live at [https://anomepani.github.io](https://anomepani.github.io/Multi-Tenant-Authentication-using-adal-js/index.html)

Working Demo Using `msal.js` for Multi Resource Multi Authentication is live at [https://anomepani

[2019-11-02 13:25] anomepani commented on #1092
@eirikb  for what purpose you are creating WebAPI(Server) and Who(_Client React, Angular App or mobile App_) will use this Web API or Consume Web API?

If Client App Login with MSAL and Call your Web API with the generated token then the authentication validation should be implemented on your Web API Side.

For this type of scenario, this example might be helpful to you https://github.com/Azure-Sa

[2019-11-02 21:59] eirikb commented on #1092
I managed to solve it by using this guide: https://mobilefirstcloudfirst.net/2019/08/adding-azure-active-directory-authentication-connect-angular-app-asp-net-core-web-api-using-msal/
The trick was to use `api://` in front of `ClientId` in `appsettings.json`. I didn't have to do all the things in the guide, e.g., I used the same app, and I never granted any permissions or added any client app - I d

[2019-11-03 03:57] anomepani commented on #1092
It would be great if you share your project on github so Other dev can help you to resolve exact issue which you have.

[2019-11-03 09:29] eirikb commented on #1092
@anomepani https://github.com/eirikb/msal-dotnetcore-webapi-spa

[2019-11-03 15:47] anomepani commented on #1092
@eirikb Check your repository I have a pull request for basic jwt configuration and CORS Issue.
It will help you little bit about getting started.

[2019-11-03 15:50] eirikb commented on #1092
@anomepani Sorry I don't understand, my example works just fine, it does what it should do.

[2019-11-03 16:07] anomepani commented on #1092
I thought you are having difficulty to call secure web api from spa.
So I have updated your web api solution with authorize attributes which understand jwt authorization

[2019-11-03 16:14] eirikb commented on #1092
Ok. The demo works fine, no change needed. Did you try to run it? It should "just work".

Anyway, when I said the issue can be closed, and mentioned scopes, what I meant was how to use different scopes. E.g., how to create say a scope for `Read` (read only) and `FullConctrol` (Admin). I don't need this yet, but would be nice to know.
I have some ideas, which involves multiple Azure AD Apps, but so

[2019-11-03 16:18] anomepani commented on #1092
Yes SPA demk working but how to validate on web api server side not implemented.
For your query msft identity team will help you.

[2019-11-03 16:28] eirikb commented on #1092
What do you mean that validation is not implemented server side?  Are you saying that my implementation is not secure?
The client must be authenticated with msal, against the Azure AD App. I understand that the specific scope is probably not checked, but does that matter? And I can't see that being done in your PR either.

[2019-11-04 10:24] jmprieur commented on #1092
@eirikb : you need to check that the token your Web API received is for your web api
This article (and the following) explains it all
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration#code-initialization

- In particular see [Token validation](https://docs.microsoft.com/azure/active-directory/develop/scenario-protected-web-api-app-configur

[2019-11-04 10:44] eirikb commented on #1092
@jmprieur  Are you answering about how to handle multiple scopes now, or security issues in my solution?
If I understand the setup correctly my solution will ensure that the user is authenticated against the given Azure AD App, and this app is only used for the API, so wouldn't that be sufficient?
I tested sending other tokens from other ClientIds and they fail, isn't this the point of having Clie

[2019-11-04 10:49] jmprieur commented on #1092
@eirikb : mostly the security issues in the Web API (I advise you to read the [Scenario: Protected web API](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview) articles, you'll see that this won't be sufficient as your API as it is will accept any token, really (unless I'm wrong you don't test the audience for your token, nor the issuer).

[2019-11-04 10:49] jmprieur commented on #1092
@eirikb : if you want to handle multiple scopes, just register them in the app registration (the article tells you how to do), and then have several controller actions one with each scope.

[2019-11-04 10:58] eirikb commented on #1092
@jmprieur If you are correct, any this renders my API not secure, then this is a big problem. You probably saw the article I linked to earlier does exactly the same as me, and I've seen others online as well.
If this approach, which is the simplest/cleanest approach, is flawed then are these other people introducing security issues?

[2019-11-04 11:01] jmprieur commented on #1092
@eirikb : yes, this is a problem with the current ASP.NET Core templates. We are working on introducing new Visual Studio / .NET Core templates to have APIs which are secure by default. No ETA, though.

[2019-11-04 11:03] jmprieur commented on #1092
The recommendation is to leverage the https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2 sample for Web APIs (and read the article about protected APIs)

[2019-11-04 11:22] eirikb commented on #1092
I think I see what you mean; because the app is multi tenant any other tenant can install it and then call my API. All they need is the ClientId, which can be retrieved from the client-side code.

If the Azure AD App was set for organization only, then it would be secure - because then I verify that the user is authenticated user from my organization, which is basically all i require?

[2019-11-04 11:43] jannikbuschke commented on #1051
@jasonnutter currently I am seeing full app reloads (in the iframe) on every single acquireTokenSilent call. Is this the default behavior or should this just happen occasionally (i.e. if a new token is acquired)?

[2019-11-04 12:22] jmprieur commented on #1092
@eirikb : yes, single tenant would be safe, except if you were sent a fake token by any issuer that is not Azure AD; but you would also want to check scopes/roles.

[2019-11-04 12:23] jmprieur commented on #1092
Feel free to close the issue if you think we answered.

[2019-11-04 12:35] eirikb commented on #1092
@jmprieur What do you mean by

Is it possible to create a fake token? Doesn't `AddAzureADBearer` verify the JWT is issued from Microsoft?

----
For others reading this; when using a single tenant msal must be configured like this:
[code]
It's either that, or do some audience validation in the API.

[2019-11-04 12:45] jmprieur commented on #1092
It depends on the value of ValidateIssuer. for single tenant, we are good.

[2019-11-04 12:52] eirikb commented on #1092
This is good. Thank you for the answer.
It might be a good idea to drop a comment on the article I linked to - the article is not wrong, but it should be mentioned that the API is actually not locked down at all, it's open for anyone able to get their hands on the non-secret ClientId.

[2019-11-04 12:52] #1092 closed

[2019-11-04 12:55] jmprieur commented on #1092
@eirikb : you mean  https://mobilefirstcloudfirst.net/2019/08/adding-azure-active-directory-authentication-connect-angular-app-asp-net-core-web-api-using-msal/ ?

[2019-11-04 12:56] eirikb commented on #1092
@jmprieur Yes

[2019-11-04 14:43] jmprieur commented on #1092
@eirikb : thanks. I've added a comment in the blog post
thanks again for raising this concern.

[2019-11-04 16:22] fippli opened #1093 "Typo in readme msalnstance should be msalInstance"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-11-04 16:40] leniel commented on #1091
@pkanher617 downloaded the project and built it using Visual Studio code. Updated msal and deployed it to the azure app service. I'm using this version `msal v1.2.0-beta.2 `.

I'm still getting `Token renewal operation failed due to timeout` when the token expires.

Note that **Keep Me Signed In** marked during login. I'm testing with 10 minutes expire time (600 seconds). This is set in `token_lif

[2019-11-04 17:19] jasonnutter commented on #547
You can read more information about this error here: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#march-2019

We are working to make changes to our library to help avoid this error, and are planning to have a new version with these improvements soon.

[2019-11-04 17:25] srasool opened #1094 "API permissions not working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 76.0.3809.132
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-11-04 18:36] LastTribunal commented on #99
@sameerag update?

[2019-11-04 19:23] #1093 closed

[2019-11-04 19:24] jasonnutter commented on #1093
Fixed, thanks for the heads up!

[2019-11-04 19:37] jasonnutter commented on #1094
@srasool Is this in the Microsoft 1st party tenant? It sounds like this permission is restricted at the tenant level, and you would need a tenant admin to grant the permission.

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#admin-restricted-permissions

@manoj-rath Are you or someone from your team able to provide any additional insight?

[2019-11-05 01:20] rmagor commented on #735
Are there any updates on this issue? This is preventing us from implementing an idle timeout (where the user is automatically logged out when they are inactive for too long). Would prefer to redirect them to a "You were inactive and logged out" page in our app rather than the current "Which account would you like to sign out of page"

[2019-11-05 01:21] srasool commented on #1094
@jasonnutter thanks for response. I might be wrong in my understanding for how it should work. Our scenario is basically we want to release an app to third party customers and they should be able to login using their AAD login and call Azure ARM apis (get azure resources list etc.) My understanding is we would create a multi-tenant AAD app in our tenant and use that app (client id basically ) in m

[2019-11-05 11:15] ashutoshbajpai007 commented on #400
i am trying to access the https://mytenant.sharepoint.com/sites/test/_api/web/lists API with help of  MSAL library .  I am getting unauthorized access error.
I tried to use the  https://mytenant.sharepoint.com/.default as well but still there is same error.Can anyone please help me.Thanks

[2019-11-05 12:32] davelosert opened #1095 "Login Flow not working for MS Teams App with 1.2.0-Beta.3"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 78.0
- [X] Firefox version 70.0
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library v

[2019-11-05 21:20] jasonnutter commented on #735
@rmagor As noted by @hpsin, we do not support silent sign out in order to prevent DDOS attaches.

[2019-11-06 02:59] freshtonic opened #1097 "Enable `"strictNullChecks": true` everywhere"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2019-11-06 08:51] Danieliverant opened #1098 "is auto-login possible using id_token to acquire access_token?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe: Question - is autologin possible?
</code></pre>

## Browser:
- [ X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ]

[2019-11-06 11:16] hearstfy opened #1099 "Angular 7 msal-angular login problem with IE11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [x ] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-11-06 12:11] sanderaernouts commented on #960
@jasonnutter any updates on this issue? We are facing this as well with `MSAL.js (1.1.3)`. But in our case, it only happens for new users that are invited into our AAD, the very first time they sign-in.

The result is that the user has to click the `login` button twice, the first time it fails with `ClientAuthError: Invalid state. *******, state expected : null`.

## Stacktrace
[code]

## Backgrou

[2019-11-06 16:21] jasonnutter commented on #1097
@freshtonic Thanks for the issue, didn't realize that was disabled, I'll definitely take a look.

[2019-11-06 16:45] jasonnutter commented on #1095
@davelosert We are aware of the compatibility issues using our library within a Teams tab, and unfortunately, the solution is a lot more complicated that just allowing `handleAuthenticationResponse` to be invoked in the `UserAgentApplication` constructor when it is inside a popup window in Teams.

We are engaged with Teams Engineering directly to work on a solution, and we'll post an update when w

[2019-11-06 16:53] eirikb commented on #1092
Just a heads up for anyone stumbling upon this post; the solution of using single tenant will still (obviously) allow for *guest users* to use your API.

[2019-11-06 17:14] jmprieur commented on #1092
@eirikb : I'm not completely sure, but i believe using groups requires a non-free SKU of Azure AD. Are you using a free one?
 @kalyankrishna1 would you know?

[2019-11-06 17:16] eirikb commented on #1092
@jmprieur Azure AD Premium P1. But that might be a problem for others. Nice to know.

[2019-11-06 20:30] Germain-Italic commented on #741
I am having this problem too (msal v1.1.3 2019-08-14) and I have noticed that MSAL opens three popups instead of only one, one of the auto-closing and two of them not closing, staying blank (no URL loading). Have you also faced this issue?

[2019-11-06 22:26] DarylThayil commented on #1014
@sameerag  is this still in progress ?

[2019-11-06 22:28] DarylThayil commented on #1039
@jasonnutter  is this resolved

[2019-11-06 23:17] DarylThayil commented on #1039
@AndrewCraswell can you confirm the things we talked about last week have resolved this issue for you?

[2019-11-06 23:19] DarylThayil commented on #1009
@MubashirEbad can you please try the latest beta version, we believe this is fixed

[2019-11-06 23:21] DarylThayil commented on #1028
@sameerag  any updates on this

[2019-11-06 23:25] DarylThayil opened #1100 "Msal has code coverage above 80% threshold"
Pick a tool that gives us code coverage and use any provided tooling like github badges

[2019-11-07 01:52] Germain-Italic commented on #174
I am closing the popup like this:

[code]

Not sure if it's legal, but it works.

[2019-11-07 06:50] GirishGowda37 commented on #421
does MSAL supports in angular  7 version.?
I am currently using ADAL for authenticating  with AD.
Please let me know

[2019-11-07 07:37] eirikb commented on #1063
@anomepani No I haven't found a good solution. I think there might not be any, so the issue can be closed.

But before we close it I would like to know three things:
  * Will it be possible to have several different scopes in login in the future?
  * Are there any other possible flows, such as catching missing consent on `acquireTokenSilent` and then conditionally forcing a new login for each erro

[2019-11-07 07:45] MubashirEbad commented on #1009
Sure I would check it out and let you know

[2019-11-07 08:41] foramkumar-parekh opened #1101 "B2C custom policies authority url"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: @azure/msal-angular@0.1.2

</code></pre>

I have B2C custom policies for authentication and I

[2019-11-07 10:21] HockeyJustin opened #1102 "Provide More detailed error message when URL not registerd in Azure"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ X] Chrome version XX
- [ X] Firefox version XX
- [ X] IE version XX
- [ X] Edge version XX
- [ X] Safari version XX

## Library

[2019-11-07 11:02] daniel-seitz opened #1103 "Prevent passing config through the constructor"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: all

</code></pre>

## Current behavior
We have got an up-to-date Angular App with a defined se

[2019-11-07 13:56] davelosert commented on #1095
@jasonnutter: Alright, thank you very much for your response, I  really appreciate it. Then I'll patientely wait for your update.

[2019-11-07 14:46] NielsHamelryck opened #1104 "Application with identifier 'undefined' was not found in the directory"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [X ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-11-07 15:20] #1104 closed

[2019-11-07 16:01] HockeyJustin commented on #1102
To update this, I have found you don't need to add every url, provided you set `redirectUri` in `MsalModule.forRoot` (e.g. to http://localhost:4200/home).

[2019-11-07 16:01] #1102 closed

[2019-11-07 16:10] ashpr commented on #84
For anyone else struggling with this...

This iframe is often produced from the url itself producing an error. In my case it was navigating back to my SPA from another url ie. `myapp.com/some/other/path`, you still need to hard-set your `redirectUri` to `myapp.com`.

[2019-11-07 17:22] AndrewCraswell commented on #1087
Just want to clarify, I know some time back it was made possible to use Popup authentication mode and set the `redirectUri` to a blank `/auth.html` file to prevent the site from reloading in the iframe. This was working pretty well when I tried it and was super cool. But for Redirect login, I don't think this is possible. Would the PR that is put together remedy this issue for Redirect login, and

[2019-11-07 17:30] AndrewCraswell commented on #1039
Can confirm that the redirect to `/null` is no longer occurring, thanks to a PR that Jason merged. Still are seeing occasional state mismatch errors, but I would be more comfortable addressing those when we get a consistent repro. Let's go ahead and close this, and when we have some more concrete examples of the issue I'll file something new.

Btw we took some action items from our discussion last

[2019-11-07 17:35] sstchur commented on #1087
Would this impact popup at all though?  redirectUriForTokenRefresh would (I expect) only come into play for token refresh (and never for login, be it redirect login or popup login).  So I would think, regardless of whether or not the refresh is happening via popup or iframe, if (and only if) the redirectUriForTokenRefresh is set, the redirect would go to the specified URL (either in an iframe or i

[2019-11-07 19:34] DarylThayil commented on #1039
thanks @AndrewCraswell
closing this ticket, this is currently in a beta release, but will be available on the next main pipeline release for people watching / finding this thread.

[2019-11-07 19:34] #1039 closed

[2019-11-07 19:39] DarylThayil commented on #421
we do not have stated support for angular 7 yet, we hope to have that by the end of the year.
Some have found ways to make this work for angular 7+
cc @jasonnutter

[2019-11-07 20:53] sameerag commented on #1087
Okay. Let me chime in, @AndrewCraswell, the idea is to enable a user set a "redirectUri" per request and fall back to the default(which can be the redirect page user would want to be redirected to for interactive cases). This translates to `aquireTokenSilent` redirecting to the blank page if needed. This should not impact `popup` or `redirect` flows.

Please let me know if you have further questio

[2019-11-08 04:32] sameerag commented on #400
Apologies for the delay in the response. I reached out to the SPO team to clarify app permissions to access SPO resources as we know that they do use adal js for their SPA validation. Will update once I hear back from them.

[2019-11-08 04:58] sameerag commented on #1014
I have the content ready. Since the betas are in progress, I haven't been able to close it. Will send it for review next week once we have beta-4 released.

[2019-11-08 05:09] MubashirEbad commented on #1009
@DarylThayil The issue is still there. after login it has to redirect to the specified url, instead it display the *Token Renewal Operation failed* error

[2019-11-08 10:04] maheshkumagali commented on #866
@sameerag

Can you please help on how to achieve the same for msal-angular. We need to have roles in the jwt token that is attached, when we make api calls mentioned in protectedResourceMap.
The sample works well when using msal library for js

[2019-11-08 17:00] sameerag commented on #866
@maheshkumagali Our angular wrapper is currently in progress of being upgraded to be compatible with our `msal-core` library. @jasonnutter is working on this and will be able to provide the details.

@jasonnutter This could be a use case we should address with our `angular` work.

[2019-11-08 18:03] sameerag commented on #1072
CC @negoe.
Native apps support for SSO is being pursued with `msal c++` as far as I know. Please email us and we can direct you to the PM who is tracking this effort.

[2019-11-08 18:20] sameerag commented on #1073
@tvperez76 Some of the B2C policies that requires user interaction like `password_reset` cannot call `acquireTokenSilent`. The B2C service blocks interactions in iframes and we create a hidden iframe for silent calls. This is expected behavior, we are working on consolidating all the use cases that would require this to add the guidance.

So the question is, does your policy need interaction but i

[2019-11-08 18:55] jasonnutter commented on #1103
@daniel-seitz Can you provide some pseudo-code that would demonstrate what this would look like? Would help me better understand the ask, thanks!

[2019-11-08 19:02] jasonnutter commented on #1101
@foramkumar-parekh In your configuration, try setting `validateAuthority` to `false`. This should allow you to use b2clogin.com.

[2019-11-08 19:21] jasonnutter commented on #1099
@hearstfy Can you please provide the MSAL configuration code your app is using?

[2019-11-08 20:02] DarylThayil commented on #1009
@jasonnutter  is this error understood / tracked?

[2019-11-08 22:52] pkanher617 commented on #1035
Hi @rvdhooft, this issue was something that we pushed a fix for in MSAL core, but has not been updated in angular. We are currently working on updating the angular wrapper to use the latest version of the core library, which should then fix this issue in the Angular wrapper. @jasonnutter will update when he has more info.

[2019-11-09 04:08] foramkumar-parekh commented on #1101
And which Url format, from the question, will work?

[2019-11-09 17:31] tvperez76 commented on #1073
In this case, I'm using the "Sign up and sign in" User Flow.  After logging in, are we to execute the aquireTokenRedirect()?  Because, the behavior I describes happen a loginRedirect() process has been completed.

[2019-11-09 21:40] sameerag commented on #1073
I think there could be combination of two issues in this case:
- Safari latest version cookie policies (I need to verify this)
- acquireTokenSilent being used for a use case where interaction is required

Can you please share a sample with me to reproduce at our end? You can email me if you do not want to publicly share it.

[2019-11-11 04:29] hearstfy commented on #1099
I use Adal.js at the moment. Config is as follows:

{
  clientId: "xxxx",
  tenant: "xxx",
  cacheLocation: "localStorage",
  navigateToLoginRequestUrl: true,
  endpoints: {
    api: "xxx"
  }
}

[2019-11-11 11:27] davidgg commented on #421
I'm using it with Angular 8. Just install `rxjs-compat` and configure the module with your settings.

[2019-11-11 11:48] daniel-seitz commented on #1103
@jasonnutter sure, thanks for asking.

Currently its looking similar to this:

    export class MyAuthService {
        private msal: UserAgentApplication;

        constructor() {}

        configure(config) {
             this.msal = new UserAgentApplication(config.clientId, config.authority, youGetThePoint);
        }
    }

And what I would like is something like this:

    export class MyBett

[2019-11-11 17:35] jasonnutter commented on #1094
@srasool Have you tried setting this up in a custom tenant (as opposed to the Microsoft 1st-party tenant)?

[2019-11-11 17:46] jasonnutter commented on #960
@sanderaernouts Can you try `1.2.0-beta.3` and let us know if you are still seeing that issue?

[2019-11-11 18:07] srasool commented on #1094
@jasonnutter yes it worked on custom tenant. I reached out the internal teams and learned that i need to make my AAD app as 1P app. Thanks for the info

[2019-11-11 18:07] #1094 closed

[2019-11-11 18:10] lahuey commented on #400
@ashutoshbajpai007 could you please provide a SPRequestGuid (should be a header on the response from SharePoint) and tenant name? You can email it to me at lahuey@microsoft.com

[2019-11-11 18:15] jasonnutter commented on #1094
@srasool Thanks for the update, glad you were able to get it working!

[2019-11-11 18:33] jasonnutter commented on #1009
Yes, its tracked.

[2019-11-11 18:39] jasonnutter commented on #1101
I believe `https://mytenant.b2clogin.com/mytenant.onmicrosoft.com/B2C_1A_signin/` is the correct format, @pkanher617 can you please confirm?

[2019-11-11 19:38] jasonnutter commented on #421
As noted, we are working now to provide out of the box support for the newer versions of Angular (planning to have this available by the end of the year). In the mean time, we have heard that you can use `@azure/msal-angular` with the newer versions of Angular with some changes in your application (e.g. as @davidgg notes, using `rxj-compat`).

[2019-11-11 19:49] jasonnutter commented on #1103
@daniel-seitz Thank you for that, very helpful. We have heard this request from other customers, so we'll definitely consider it. I'll follow up when I get a chance to dig into this in more detail.

[2019-11-11 20:06] jasonnutter commented on #1099
@hearstfy Can you provide the configuration you use when you tried `@azure/msal-angular`?

[2019-11-11 23:00] DarylThayil commented on #741
@sameerag  do you know what may have changed to have caused this ? Do we have a repro?

[2019-11-11 23:48] AndrewCraswell commented on #1069
I was able to find another way to repro this issue in a bit more egregious way. These steps will break when using Redirect login method:

1. Navigate to the site, execute login.
2. After being redirected to the login page, use the URL bar to navigate back to your page (same session).
3. Execute login flow again. You will receive `ClientAuthError` with error code of `login_progress_error`.

This is

[2019-11-12 00:26] sameerag commented on #1069
Yes. The above example makes sense. Would you be able to test if I send a private build?

[2019-11-12 00:31] AndrewCraswell commented on #1069
@sameerag Absolutely, would be happy to.

[2019-11-12 08:31] hearstfy commented on #1099
Hi @jasonnutter, I used same config;

{
      clientID: "xxx",
      authority: "https://login.microsoftonline.com/xxx",
      popUp: false,
      storeAuthStateInCookie: true
    }

[2019-11-12 09:25] vzhikness commented on #967
Hi! Looks like the issue is still here.

https://secure.aadcdn.microsoftonline-p.com/lib/1.1.3/js/msal.js says:

[code]

Same for https://secure.aadcdn.microsoftonline-p.com/lib/1.1.3/js/msal.min.js.

[2019-11-12 09:34] hhertogh commented on #1072
It's not a SSO case here (as explained above).  So MSAL.JS cannot be used in native apps (outlook client) ? The link to the msal cpp library is not working (above)

[2019-11-12 11:16] eirikb commented on #1072
I am able to login using `loginRedirect` + `acquireTokenSilent` with `1.2.0-beta.3`.
I am not 100% sure how safe this is - as in will it always work, or will the clickjacking prevention kick in for other customers etc.

I am _not_ able to use `loginPopup`, if I try I get the same error as @hhertogh . I would expect this to be the correct approach, because of iframe in an iframe. If @sameerag can c

[2019-11-12 11:31] hhertogh commented on #1072
@eirikb : can you explain how you did your loginRedirect implementation ? Maybe some code to share ?

[2019-11-12 14:46] rvdhooft commented on #1035
Thanks for the update. Hoping that release comes soon!

[2019-11-12 14:46] sanderaernouts commented on #960
@jasonnutter I tried it just now on our DEV environment. Looks like the issue is gone with `1.2.0-beta.3`. What is the ETA on `1.2.0`?

[2019-11-12 15:43] oleksabor commented on #560
@mpalumbo7 Thank you for this hint.
I've updated Azure App manifest file with the ` "accessTokenAcceptedVersion": 2,` and it started to generate correct token.

The most strange thing is getting v1.0 token if I'm asking for token from the `https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token` endpoint...

[2019-11-12 15:48] daniel-seitz commented on #1103
@jasonnutter you are welcome, thank you for having an open ear.

If you agree on a new method I could create a PR. This would be easy to implement but a breaking change though. The docs would need an update as well.

Oh, I just realize that the code snippet for the tests above should be improved, will do if github allows me.

[2019-11-12 15:49] enniob commented on #1011
Using `rxjs-compat` will work with the latest version of Angular, but just watch out since your bundle size will increase and there some other issues with it.

[2019-11-12 17:01] sameerag commented on #99
@LastTribunal Here is what I gathered so far on ADFS as this thread already mentions above:
- OnPrem ADFS is not yet supported and may not be for a while
- ADFS 2019 should be supported out of the box.

In this context, I fixed the bug that was throwing the "ERROR Error: InvalidAuthorityType" in `msal js`. Can you please try checking with the latest version of msal : `msal-1.2.0-beta.3` and we can

[2019-11-12 18:46] sameerag commented on #960
Hopefully by next monday. There is a `beta.4` in pipeline and we plan to release `1.2.0` after that.

[2019-11-12 18:53] DarylThayil commented on #967
@pkanher617  @jasonnutter was this still a problem?

[2019-11-12 18:54] jasonnutter commented on #1099
@hearstfy would you be able to share a sample application that demonstrates this behavior? Feel free to create a private repo on Github and then invite me to access it, thanks!

[2019-11-12 18:56] jasonnutter commented on #967
@vzhikness There are new URLs for our CDN builds. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-core#via-latest-microsoft-cdn-version

[2019-11-12 18:59] jasonnutter commented on #1103
@daniel-seitz Don't worry about on PR for the moment, as were working heavily on Angular to get it updated for MSAL 1 and the new versions of Angular. Because this will result in a new major version, we will consider pulling in other breaking API changes such as this. Once the baseline work is completed, I will be revisiting this and make a decision on whether or not to include it for that major v

[2019-11-12 21:58] mtanml opened #1111 "iOS build errors in Azure DevOps"
## I'm submitting a...

<pre><code>
[X ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-11-12 22:00] eirikb commented on #1072
@hhertogh Here is a small example:
https://gist.github.com/eirikb/69f35c322347842ea05f6b0409ad526a
Note: I use ngrok in order to load the add-in with https in Outlook native.

[2019-11-12 22:03] jasonnutter commented on #1111
@mtanml I think you meant to file this in the MSAL Objective-C repo? https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2019-11-12 22:04] mtanml commented on #1111
Argh... sorry... yes

[2019-11-12 22:04] #1111 closed

[2019-11-12 22:05] AndrewCraswell commented on #1012
@chrisgalvan If you're building a react app and need something to fill the gap before an official wrapper is provided, you can try checking out a package my team maintains unofficially:
https://github.com/syncweek-react-aad/react-aad

This has worked for us, but we've learned that an authentication strategy is often unique to the needs of each individual app. As such, there's a lot of work that co

[2019-11-13 06:04] eirikb commented on #1072
@hhertogh  Note, turns out this only works when I have
[code]
This probably makes sense, but it also seems strange to have to do - I'm a bit skeptical to this approach. Feedback from Microsoft would be great.

[2019-11-13 07:11] hearstfy commented on #1099
@jasonnutter, invited you to sample repo. I removed clientID and authority info because they have client info.

[2019-11-13 09:07] hhertogh commented on #1072
@eirikb : thanks for the example!
Is this working as well on Outlook web ? What I find weird in your example, is that your are not specifying any redirecturl... is this done on purpose ?

[2019-11-13 09:17] eirikb commented on #1072
No it does not work on web, not in IE11 either, but on web `loginWithPopup` works, so my plan is to somehow detect Outlook native and use redirect only there, and for the rest show a login button.
Unless Microsoft has a better suggestion.

I don't use redirecturl because I don't need it, when not used it would default to the current url which is always correct for me.
When developing locally that

[2019-11-13 12:35] hhertogh commented on #1072
@eirikb : which version of Windows / outlook are you working on ?
I am not able to do the loginRedirect either. The loginRedirect opens a new tab in my browser and I've the following error: AADSTS900561: The endpoint only accepts POST requests. Received a GET request...

[2019-11-13 12:44] eirikb commented on #1072
@hhertogh Version 1908, build 11929.20396, Windows 10 Enterprise. I only use it for testing.
Did you add the `AppDomain`? Note if you added this after installing I think you need to bump the version number before re-adding it. I have only tested on one single computer, probably should test on more but I'm currently out of office.

[2019-11-13 12:56] eirikb commented on #1072
@hhertogh Just had a coworker test my Demo, he got the same result as you. So my solution **does not work**. @sameerag help! 😄

[2019-11-13 13:05] hhertogh commented on #1072
Yes, I've this since I updated my laptop to the latest available update (Windows 10 pro, version 1903, build: 18362.76) I'm suspecting an Edge issue ...

[2019-11-13 14:17] navkakate commented on #76
Hello @rohitnarula7176!
Is there any changes to this statement? Does msal go well with popup blockers nowadays?
When I call getCachedTokenInternal() with popup blocker, it fails to retrieve token.

[2019-11-13 16:01] burkeholland commented on #964
Just went through this myself. It looks like the paths are correct in the UserAgentApplication doc, but the HTML preview is still pointing to `classes/_authenticationparameters_html` instead of `modules/_authenticationparameters_.html`.

[2019-11-13 19:19] danrday commented on #117
I would also love to know the answer :)

[2019-11-13 22:18] sameerag commented on #932
This may be potentially unblocked of #1042 is merged. Adding to track this here.

[2019-11-13 22:20] sameerag commented on #844
@negoe to follow up on this in the upcoming week.

[2019-11-13 22:40] RandomPrecision1 commented on #855
This might see a bit more traffic in the next few weeks - Angular 9 uses Ivy as its default engine, and had an RC1 release last week.

[2019-11-13 22:42] sameerag commented on #617
@peshos Thanks for the response.

@PraveenVerma17 As I have mentioned before we believe this is a specific MFA/CA issue that is happening with your app configuration. Closing this issue as there is no `msal js` solution to address this.

[2019-11-13 22:42] #617 closed

[2019-11-13 22:43] jasonnutter commented on #855
We are working to upgrade `@azure/msal-angular` to be compatible with latest version of Angular, include Ivy. We'll update this issue when we have an preview version you can try. Thanks!

[2019-11-13 22:48] sameerag commented on #701
For certain browser settings as noted [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser) we need to set `storeAuthStateInCookie` to true to persist the state across trusted zones.  Closing this issue since the mitigation seems to work for the user.

[2019-11-13 22:48] #701 closed

[2019-11-13 22:50] sameerag commented on #735
@sameerag  to internally follow up with the STS team to track this.
@hpsin Can you help us understand if this will be followed up from the STS in the future to support silent logout?

[2019-11-13 22:53] sameerag commented on #736
@mmuarc @scale-tone The new beta: `msal.1.2.0-beta.3` should support concurrency more seamlessly. Please test it with the beta and let us know if this issue still persists.

Closing this. Please raise a new issue if needed.

[2019-11-13 22:53] #736 closed

[2019-11-13 22:56] sameerag commented on #838
@ktsakas friendly bump :)

[2019-11-13 22:58] sameerag commented on #842
@sameerag to have an internal tracker on B2C Service for this.

[2019-11-14 01:31] jasonnutter commented on #1099
@hearstfy Thanks! I'll let you know when I have taken a look and/or if I have any further questions.

[2019-11-14 10:53] biste5 opened #1115 "Unable to get access token for custom WebAPI for federated B2B users"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 78
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 80
- [ ] Safari version XX

## Library versi

[2019-11-14 17:07] hpsin commented on #735
We need to get the OIDC/oauth specs updated to provide a better mechanism here. Until that happens we don't have plans to improve the logout flow - it will remain interactive.

[2019-11-14 19:03] sameerag commented on #735
Thanks @hpsin for clarifying this. Closing the issue as there is not much msal js can do here.

[2019-11-14 19:03] #735 closed

[2019-11-14 20:19] amnporter commented on #735
So if we popup the logout window and the user logs out, is there a callback that can be received to the webapp that logout was successful?

[2019-11-14 20:21] amnporter commented on #735
Any response to the callback here? We're not seeing that the webapp will know that the user actually logged out.

[2019-11-14 20:35] jmckennon commented on #903
update: closing this ticket as sub-error codes are not currently supported for the implicit flow by ESTS. the sub-error codes feature will exist in our implementation of the auth-code flow on #1000

[2019-11-14 20:35] #903 closed

[2019-11-15 02:08] sameerag commented on #1087
#1116 adds this feature.

[2019-11-15 13:55] brijesh1ec commented on #476
Store is in built class or custom class which uses localstorage or sessionstorage

[2019-11-15 14:47] stevenruizhang commented on #1011
@jasonnutter
I try to add the script mentioned in  https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Explorer
in the angular 8 , but still get issue (screenshot2,3)

When access the site in IE11. Seems like MSAL.js not support ES5 because I target to build with  es5 in Angular follow link https://angular.io/guide/deployment#differential-loading(scr

[2019-11-15 14:50] CalamityLorenzo commented on #899
Is there to be a scenario for Microsoft Teams and MSAL? (Which Is an Iframe, on iframe with an Iframe?)
I can get the current beta to work with Teams in a browser, but not the actual Teams app itself, I am unable to complete login via pop-up or msteams.authenitcation + re-direct.

[2019-11-15 15:33] emadalsous opened #1117 "MSAL.JS Azure AD - CORS - No 'Access-Control-Allow-Origin' header is present on the requested resource."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ *] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-11-15 17:40] brijesh1ec commented on #407
Please 1) add  client application by exposing api,2) do run your api on localhost

[2019-11-15 18:13] DarylThayil commented on #1117
Thanks for reaching out
@jasonnutter  is currently driving our angular update effort, will ping him to see if he has any context here.

[2019-11-15 19:47] enniob commented on #1011
@stevenruizhang I'm working on a project that is using Angular 8 and I'm converting this library since we cannot use `rxjs-compact` in production. So once I'm done and finish testing I will put a PR for it.

[2019-11-15 19:54] cwoolum commented on #1011
@enniob, There are already some existing PRs for Angular 8 but they have been rejected while they are waiting for the msal.js 1.0 upgrade.

[2019-11-15 20:37] enniob commented on #1011
@cwoolum thanks for letting me know I guess I missed that when I was looking at the repo.

[2019-11-15 23:44] sameerag commented on #400
**Info from SharePoint team on documentation:**

_Permission names for SharePoint sites and OneDrive files through Microsoft Graph are documented here:_
- _https://docs.microsoft.com/en-us/graph/permissions-reference#files-permissions_
- _https://docs.microsoft.com/en-us/graph/permissions-reference#sites-permissions_

_The names of API permissions for the SharePoint resource application (including

[2019-11-15 23:48] RMacfarlane opened #1118 "Casing issues with module"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser: not browser dependent
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari versio

[2019-11-16 06:14] stevenruizhang commented on #1034
@jasonnutter i have IE11 issue when use below version for this library in Angular8, anyway it can work well in Chrome and Firefox, #1011 , please see detail information i mentioned in #1011.

@azure/msal-angular:0.1.2
               "msal": "0.2.1",

[2019-11-16 06:19] stevenruizhang commented on #855
@jasonnutter any ETC for this library to support for angular 8?

[2019-11-16 12:12] emadalsous commented on #1117
Hello Dary, Jason,
Thanks for the reply. I found my mistake. I forgot to put the protectedResourceMap as i am doing CORS call (my web api is hosted in different domain than my website]:
export const protectedResourceMap:[string,
  string[]][]=[ ['https://localhost:44521/EndPoint',['api://a88bb933-319c-41b5-9f04-eff36d985612/access_as_user']]];

Now i can access the web api. I still don't understan

[2019-11-18 09:17] dennisameling opened #1120 "Handle processHash() in MsalModule instead of MsalService - Angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
This issue is not browser-specific

## Library version

<pre><code>@azure/msal-angular 0.1.4
</code></pre>

## Current behavior
Cons

[2019-11-18 10:18] stevenruizhang commented on #1011
**Updates**:
After i upgrade msal-angular to "0.1.4", it can work in IE, seems like the compatibility issue with IE11 was resolved in this version.
But i got below issue when firstly login into the application, i can get the id token in session storage, but when API call need access token(MSAL provided) , it will get error when MSAL get this token, this issue sometime happen in IE, chrome , after

[2019-11-18 15:40] emadalsous commented on #1117
Hello After more investigation it seems that i still have the CORS issue even if i added proctectedResourceMap. Any help ?

[2019-11-18 16:11] tbudukh opened #1121 "Whats the plan for this repo to move to angular 8?"
Whats the plan for moving the repo from angular 7 to angular 8?

We're moving our project to angular 8 and w need MSAL to be on Angular 8 as well to be able to use it.. Is there a plan for that?

[2019-11-18 16:42] abf7d commented on #1037
Is there any movement on this? It seems the next major release of Chrome will block cookies without SameSite=None.

[2019-11-18 17:14] jasonnutter commented on #1117
@emadalsous Are you using the ADAL.net Identity Model extensions? https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

The url you provided appears to have been generated from that library, not from `@azure/msal-angular`. Can you please provide more detail about how your application is configured?

Strings that look like `api://a88bb933-319c-41b5-9f04-eff36d985612/

[2019-11-18 17:18] jasonnutter commented on #1011
@stevenruizhang Can you please open a new issue with this new issue you are seeing? It will help us more effectively track and solve your issue, thanks!

[2019-11-18 17:19] toddfsnyder commented on #1037
The ASP.Net Team posted an article in mid Oct about required changes to for ASP.Net Server apps:
https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core.

Will there be update required for msal.js or will the cookie get automatically set in AzureB2C? It would be good to have an ETA on when to expects any changes.

[2019-11-18 17:22] jasonnutter commented on #855
@stevenruizhang We are committed to have this work completed by the end of the year.

[2019-11-18 17:54] jasonnutter commented on #1121
@tbudukh We are currently working on upgrading `@azure/msal-angular` to support the newest versions on Angular, including 6/7/8/9, and are committed to having this work completed by the end of the year. We will make an announcement when that work has been completed and released.

[2019-11-18 17:54] #1121 closed

[2019-11-18 18:01] jasonnutter commented on #1120
@dennisameling Thanks for the context, very helpful. We are currently working on a new major version of the `msal-angular` package, and will consider including a fix for this (if not immediately, then as a follow-on enhancement).

[2019-11-18 18:05] jasonnutter commented on #1118
@RMacfarlane Can you please clarify what you mean when you say `import('Msal')` causes issues? What sort of issues, e.g. typing errors in TypeScript? And if an application is currently doing `import('Msal')`, would changing the casing cause their app to break? Thanks!

[2019-11-18 20:00] dennisameling commented on #1120
@jasonnutter thank you, let me know if I can be of any help (like providing a PR)! I didn't make one immediately, since I don't know what your plans with the next major version are. 👍🏼

[2019-11-18 20:35] abf7d commented on #1037
I’m using Angular and MSAL.js. I haven’t been able to find a fix for those.

[2019-11-18 21:04] jmckennon commented on #1115
@biste5 We recently pushed a bunch of fixes to various timeout-related bugs in `1.2.0-beta.4`, can you try upgrading and see if you're still seeing the same issues?

[2019-11-18 22:18] DuncanFisher commented on #400
Also hitting this problem.
I need to use ClientId/Secret authentication and consume a list (get schema/fields and insert records).
I can't get the scopes to work. Even configuring SharePoint scopes I can't seem to make them work.

[2019-11-19 01:51] stevenruizhang opened #1122 "issue when firstly login into the application, get msal error"
**Updates**:
After i upgrade msal-angular to "0.1.4", it can work in IE, seems like the compatibility issue with IE11 was resolved in this version.
But i got below issue when firstly login into the application, i can get the id token in session storage, but when API call need access token(MSAL provided) , it will get error when MSAL get this token, this issue sometime happen in IE, chrome , after

[2019-11-19 06:44] emadalsous commented on #1117
Hello,

Thanks for the answer. I am using : Microsoft.AspNetCore.Authentication.AzureAD.UI  to secure my Web API :
services.AddAuthentication(AzureADDefaults.AuthenticationScheme)
                    .AddAzureAD(options => Configuration.Bind("AzureAd", options));

The web api is hosted in different domain than the website. Effectively, the url i put here was token from an example. The url i used w

[2019-11-19 08:53] emadalsous commented on #1117
Hello Jason,

I found the reason behind this error. It's my bad. Our Web API was configured correctly. Using the following code to enable the authentication cause the problem:
services.AddAuthentication(AzureADDefaults.AuthenticationScheme)
.AddAzureAD(options => Configuration.Bind("AzureAd", options));

It seems not to validate correctly the token passed from the SPA page. So i had to use the cod

[2019-11-19 09:14] NickFranceschina commented on #943
related to #481 ?

[2019-11-19 16:06] toddfsnyder commented on #1037
Looks like Microsoft is pushing back the ASP.NET Server fix until Jan (Check out my question on the linked blog post). Can we get some clarification on if the msal.js library will require a fix for connecting to Azure B2C with SameSite cookies and if a change is coming when can we expect it?

[2019-11-19 21:07] sameerag opened #1123 "Optimize /openid-endpoint call for token requests"
### Address customer feedback on optimizing token request turnaround times:

/openid-configuration endpoint: Per guidance from the AAD/STS server team, we will continue making this network call everytime a network call for a token is needed (and rely on cache headers to have the browser cache this call accordingly).

### **Use cases:**

1. **SSO with another client library:** Ask from SPO to impro

[2019-11-19 23:13] NareshKumarM commented on #943
@NickFranceschina Yes. but I was able to overcome it by using fetch, to get the config values from appsettings from an api. I know it's a bit crude but until a new implementation comes across to use APIs as MSAL_CONFIG provider, this can be helpful.

What we would want to implement is to setup and keep MSAL_CONFIG ready for the MsalModule as it usually expects it in the .forRoot() method.
See the