[2021-10-03 13:00] #4075 closed

[2021-10-03 13:00] #4071 closed

[2021-10-03 22:25] KennedyIhe opened #4121 "Login not working in app browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.3

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.17.0

### Description

I have a SPA with MSAL B2C authentication. Everything works fine in desktop and mobile browsers: Chrome, Firefox and Safari. However, in Facebook or Instagram internal browser my app does not seems to rec

[2021-10-04 08:59] badsyntax commented on #4058
@tnorling I will double-check how i'm rendering things but I don't think that's the issue. In my follow up comment I mentioned the weird state of localstorage. How is it possible for local storage to have 2 different refresh tokens for the same auth user and the same tenant?  Is  this expected?

[2021-10-04 09:01] badsyntax commented on #4058
@tnorling I definately only have one instance. This is how I construct the instance:

[code]

I don't ever construct a new instance of `PublicClientApplication` and this construction happens outside of the render path.

[2021-10-04 09:22] PetrSnobelt opened #4122 "msal version as property"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Hello,
for telemetry purposes, it would be nice if MSAL can report its version so we can send it to telemetry etc.

something like `msal.varsion` should be enough.

Thx

### Source

Internal (Microsoft)

[2021-10-04 10:02] hansmaad commented on #3758
I think it's an important enhancement. We're currently using our own interceptor based on MsalInterceptor, because it doesn't support this scenario. What I did is
 - Add an `optional` flag to `ProtectedResourceScopes`:
[code]
- In the interceptor `matchScopesToEndpoint` method
  - Allow `httpMethod` to be undefined -> match all methods
  - Return `{ scope: string, optional?: boolean} []` instead o

[2021-10-04 13:00] #4008 closed

[2021-10-04 16:15] pkanher617 commented on #4063
@JamesBaxterSoftware Sorry for the delay in response. When you acquire tokens, you will need to request the client info property alongside the tokens. You can do this by adding `client_info=1` in the url of the request to obtain the ROPC tokens.

[2021-10-04 16:25] #4115 closed

[2021-10-04 17:04] jasonnutter commented on #3758
@hansmaad We have not had a chance to prioritize this, unfortunately. You are welcome to open PR, however!

[2021-10-04 17:26] tnorling commented on #4122
Thanks for the suggestion. This just needed to be exported, the PR linked will address this.

[2021-10-04 17:34] amrit-moomie opened #4125 "Tabbing flow on login form is email to forgot password then password field"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1.3.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

none

### Description

I am running Azure B2C login in an electron app. On the login window when you are in username/email field, navigating using the `tab` button on the keyboard will take you to forgot password

[2021-10-04 17:39] tnorling commented on #4058
@badsyntax The logs show your `MsalProvider` component is being unmounted and re-mounted. Tracking down what is causing that will likely resolve your issue. In particular this log message is what's tipping me off that this is what's happening:

[code]

This will only be output one time when the `MsalProvider` component is rendered for the first time.

This can happen for a number of reasons and is

[2021-10-04 17:41] tnorling commented on #4125
@amrit-moomie MSAL is not responsible for the login UI. This is a question for the B2C service, you can file a ticket with them by [following these directions](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)

[2021-10-04 17:41] #4125 closed

[2021-10-04 17:49] tnorling commented on #4113
@adrian-badulescu Can you please clarify what you mean by "Application get randomly stuck into "Silent flow client created""? From your logs it looks like you're either making a ton of token requests or getting stuck in a loop. I do not see any MSAL usage in the code snippets you shared, it would be great if you could link me to a **small** sample repo I can use to reproduce this issue.

[2021-10-04 17:55] tnorling commented on #4121
@KennedyIhe I'm not sure I understand this statement:

Are you saying your application does not redirect to the login page?

There's unfortunately not enough information here to give you a good answer. Can you please share logs and/or errors thrown? Also, what platform is this happening on? iPhone, Android, both?

[2021-10-04 18:37] tnorling commented on #4099
@birneamstiel Can you please email me a fiddler trace. You can find my email on my profile. Thanks!

[2021-10-04 18:42] tnorling commented on #4108
@riteshbhoi These correlationIds don't seem to be turning anything up. Can you please email me a fiddler trace (email on my profile)? Thanks!

[2021-10-04 18:45] tnorling commented on #4108
Verbose MSAL logs would also be helpful here to verify the latency isn't coming from MSAL itself

[2021-10-04 18:48] tnorling commented on #4109
@Dendekky Can you please email me a fiddler trace (email on my profile)? Thanks!

[2021-10-04 18:53] tnorling commented on #4114
Thanks, we've heard of this happening. We currently check for `window.navigator.onLine` to determine if the user has a network connection and [throw the appropriate error](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0a4e110c6d0a56da38d91ce0b5dea89e3708983b/lib/msal-browser/src/network/FetchClient.ts#L29). I suspect this isn't reporting correctly when you receive the wro

[2021-10-04 22:13] #3969 closed

[2021-10-04 22:49] #4122 closed

[2021-10-04 23:11] #4111 closed

[2021-10-05 01:00] #4033 closed

[2021-10-05 01:44] KennedyIhe commented on #4121
@tnorling yes my application doesn't redirect to login page. I have tried both this.msalService.loginPopup() and this.msalService.loginRedirect() and nothing. I was thinking it is an iframe issue but it works fine on iframe.

[2021-10-05 06:36] Shivam60 commented on #4111
![image](https://user-images.githubusercontent.com/13963817/135972398-079d4e43-575c-45c2-abf0-95f0f97a879c.png)

[2021-10-05 08:10] adrian-badulescu commented on #4113
Hi @tnorling, sure. I have sent you an invitation to have direct access to a copy of the repo.
Thank you!

[2021-10-05 08:36] faiyazAbdul opened #4134 "IOS Safari - redirects user to login page, when opens in new tab or new window. even in safari browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not Applicable

### Description

From IOS mobile APP,  we need to navigate to SPA ( Web App in reactJs ) for few functionalities,  but each time we navigate it redirect users to login page. ( which gives bad user experience ).

In safari browser al

[2021-10-05 13:00] ghost commented on #4054
@shreenath-is This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-05 15:26] birneamstiel commented on #4099
Thanks for coming back to this @tnorling. I don't see any related request showing up in fiddler, seems like the logic is failing before any request is made...

[2021-10-05 16:17] tnorling commented on #4099
@birneamstiel This error is thrown as a result of the GET request to `https://<tenant>.b2clogin.com/<tenant>.onmicrosoft.com/b2c_1_ropc_auth/v2.0/.well-known/openid-configuration` failing. Is it possible your fiddler configuration is filtering out the relevant requests?

Alternatively, you can also provide me with a link to a small sample repo that reproduces this issue.

[2021-10-05 16:32] byunru commented on #4088
@samuelkubai  Databricks support engineer confirmed to me their API doesn't support CORS.

[2021-10-05 16:42] tnorling commented on #4121
@KennedyIhe Can you please share logs and/or errors thrown? Also, what platform is this happening on? iPhone, Android, both?

[2021-10-05 16:46] tnorling commented on #4134
@faiyazAbdul Cache location defaults to `sessionStorage` if not specified otherwise. Sessionstorage is not shared across tabs. Setting your cache location to `localStorage` instead will likely resolve this. Try that out and let me know.

Docs you may find helpful:
1. [Configuration Options](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configurat

[2021-10-05 17:59] tnorling commented on #4113
@adrian-badulescu What am I looking for? I replaced the clientId, tenantId and client secret in `appSettings.json` with my own and ran the sample. I signed in and navigated to a few routes (/id, /profile, /tenant, /admin) and they all seem to be successfully getting tokens and calling the resource. Can you please clarify what exactly is not working and provide steps to reproduce?

[2021-10-05 18:14] tnorling commented on #4083
@anshi1690 Can you please try upgrading to a non-beta version of msal-angular? Latest versions are msal-angular v2.0.4 and msal-browser 2.18.0? Can you upload a new set of logs if the issue is not resolved by the version upgrades?

[2021-10-05 18:15] tnorling commented on #4110
@BenediktZoller Can you still reproduce this? If so can you please email me a fiddler trace? Thanks!

[2021-10-05 20:53] jo-arroyo commented on #3401
Closing as passport-azure-ad is now in maintenance mode and will not have further fixes. This functionality will be added in the new token validation library built on top of msal-node. Keep an eye out for msal-node updates and announcements.

[2021-10-05 20:53] #3401 closed

[2021-10-05 21:08] jo-arroyo commented on #3402
Closing as passport-azure-ad is now in maintenance mode and no further updates are being made. We are working on middleware scenarios that will be built on top of msal-node, which will support the appropriate user profile fields. Keep an eye out for future msal-node updates.

[2021-10-05 21:10] jo-arroyo commented on #3423
Closing as passport-azure-ad is now in maintenance. We are working on middleware scenarios that will be built on top of msal-node, which will have improved error handling. Keep an eye out for future msal-node updates.

[2021-10-05 21:10] #3423 closed

[2021-10-05 21:13] jo-arroyo commented on #3424
@BillyCottrell Passport-azure-ad is now in maintenance and no longer being updated. We are working on building new middleware scenarios on top of msal-node, so keep an eye out for msal-node updates. Closing.

[2021-10-05 21:13] #3424 closed

[2021-10-05 21:14] jo-arroyo commented on #3429
@EmLauber for your prioritization of SAML.

[2021-10-05 21:17] jo-arroyo commented on #3431
@nikhil-nomula PKCE is supported in msal-node today. Please try using msal-node, and open a new issue if you are still experiencing problems with msal-node.

[2021-10-05 21:17] #3431 closed

[2021-10-05 21:18] jo-arroyo commented on #3849
Closing as passport-azure-ad is now in maintenance, and will not be receiving new updates. We are currently working on building new middleware scenarios on top of msal-node, please watch for future msal-node updates.

[2021-10-05 21:19] jo-arroyo commented on #3466
Passport-azure-ad is in maintenance, and future token validation libraries will be built on top of msal-node. Closing as no issue activity.

[2021-10-05 21:19] #3466 closed

[2021-10-05 21:21] jo-arroyo commented on #3467
@Jantolick Can you see if using msal-node would be appropriate? Passport-azure-ad is in maintenance and will not be receiving further updates. Closing.

[2021-10-05 21:21] #3467 closed

[2021-10-05 21:22] jo-arroyo commented on #3468
Closing as passport-azure-ad is in maintenance and no longer receiving updates. Future token validation scenarios will be built on top of msal-node, where this issue will be fixed.

[2021-10-05 21:24] jo-arroyo commented on #3450
Closing as passport-azure-ad is in maintenance and no longer receiving updates. We are working on middleware scenarios that will be built on top of msal-node, where this issue will be addressed. Keep an eye out for msal-node updates.

[2021-10-05 21:24] #3450 closed

[2021-10-05 21:25] jo-arroyo commented on #3854
Closing as passport-azure-ad is in maintenance and no longer receiving updates. We are working on middleware scenarios that will be built on top of msal-node. Keep an eye out for msal-node announcements regarding SAML and WS-Fed.

@EmLauber for your prioritization for SAML and WS-Fed.

[2021-10-05 21:33] jo-arroyo commented on #3449
Closing as passport-azure-ad is in maintenance and no longer receiving updates. We are working on middleware scenarios that will be built on top of msal-node. Keep an eye out for future msal-node updates.

[2021-10-05 21:33] #3449 closed

[2021-10-05 21:34] jo-arroyo commented on #3448
Closing as passport-azure-ad is in maintenance and will no longer receive updates. Future middleware scenarios will be built on top of msal-node. Keep an eye out for msal-node updates.

[2021-10-05 21:34] #3448 closed

[2021-10-05 21:35] jo-arroyo commented on #3447
Tagging @sameerag for msal-node consideration.

[2021-10-05 21:35] jo-arroyo commented on #3445
Closing as answered above by tnorling and no further issue activity.

[2021-10-05 21:36] jo-arroyo commented on #3444
Closing as mitigation identified and passport-azure-ad is no longer receiving updates.

[2021-10-05 21:37] jo-arroyo commented on #3443
Closing as passport-azure-ad is in maintenance and will no longer receive updates. This issue will be addressed in future middleware scenarios built on top of msal-node.

[2021-10-05 21:37] #3443 closed

[2021-10-05 21:38] jo-arroyo commented on #3660
Closing as passport-azure-ad is in maintenance and no longer receiving updates. This issue will be addressed in future middleware scenarios built on top of msal-node. Keep an eye out for msal-node updates.

[2021-10-05 21:38] #3660 closed

[2021-10-05 21:39] jo-arroyo commented on #3853
Closing as passport-azure-ad is in maintenance and no longer receiving updates. Future middleware scenarios will be built on top of msal-node, where this issue will be addressed. Keep an eye out for msal-node updates.

[2021-10-05 21:39] #3853 closed

[2021-10-06 01:54] KennedyIhe commented on #4121
I am getting this error inside of instagram app browser when trying to login.

{"eventType":"msal:loginFailure","interactionType":"redirect","payload":null,"error":{"errorCode":"interaction_in_progress","errorMessage":"Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API.  For more visit: aka.ms/msaljs/browser-errors.","subE

[2021-10-06 05:05] danspano opened #4138 "Sign in flow does not complete when running MSAL 2.0 in iframe"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I am building an Angular based SPA using MSAL-angular 2.0 and integrating with an Azure B2C custom policy.

I have been able to integrate several policies, including sign up, sign in, forgot password, etc

[2021-10-06 08:22] ghost opened #4139 "Too many branches with no commit ahead"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

5.0.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

While searching through the branches for indication of RxJS 7 update I noticed, that there are over 100 branches with not a single commit ahead and many with just 1 or 2 commits ahead which were done over

[2021-10-06 13:17] adrian-badulescu commented on #4113
@tnorling every day gets stuck on this **Verbose - Silent flow client created** randomly. The below log is from Azure, I can log in but when I try to navigate to Reports or Admin route I get the following sequence and is not routing the request on that route, the sequence is(and repeating with every try to navigate to Reports or Admin route):
**2021-10-04T15:13:17.618921929Z: [INFO]  [Mon, 04 Oct

[2021-10-06 16:32] tnorling commented on #4139
Thanks for the suggestion. This is a reasonable ask and we'll see what we can do. Regarding the roadmap, the quarter just started and commitments are still being finalized, it will be updated as soon as we have something to share.

I'm not aware of any formal plans to update RxJS but we always welcome PRs if you know what needs to be done, otherwise please open a feature request for that and we'll

[2021-10-06 16:32] #4139 closed, assigned to tnorling

[2021-10-06 16:34] tnorling commented on #4088
@byunru In that case, as suggested above, you'll need to proxy your requests through a server-side resource. This is outside the scope of MSAL so I'm going to go ahead and close this issue but please feel free to open a new issue if you have any more issues with MSAL after doing that.

[2021-10-06 16:39] tnorling commented on #4138
@danspano Can you please share the code you are using to login and verbose level logs? Given that the url contains the response hash and sessionStorage shows the interaction in progress, it sounds like `handleRedirectObservable` isn't being called when run in the iframe, for whatever reason. Can you please share how your app is handling the redirect?

[2021-10-06 16:48] tnorling commented on #4121
@KennedyIhe Interaction_in_progress is thrown on a 2nd or 3rd, etc. invocation of `loginRedirect` while another is in progress. You should ensure that your app is not calling interactive APIs multiple times in parallel. This is, however, not the issue blocking the first call.

There's really not much I can do to help without logs and/or code snippets showing how you're using our library. Please sh

[2021-10-06 17:04] jasonnutter commented on #3797
Closing due to inactivity.

[2021-10-06 17:04] #3797 closed

[2021-10-06 17:06] jasonnutter commented on #3881
Tedious has completed the upgrade to @azure/identity: https://github.com/tediousjs/tedious/pull/1335

Closing.

[2021-10-06 17:06] #3881 closed

[2021-10-06 17:07] jasonnutter commented on #3189
Thanks @derisen, closing.

[2021-10-06 17:07] #3189 closed

[2021-10-06 22:03] tnorling commented on #4113
@adrian-badulescu I am able to reproduce this consistently now by setting `forceRefresh: true`. `acquireTokenSilent` is throwing an error but your application is swallowing it in a try/catch. I'd suggest either rethrowing or adding a logger in the catch block to make things easier to debug next time. In this case the error being thrown (multiple_matching_tokens) is unexpected and appears to be an

[2021-10-06 22:46] danspano commented on #4138
Hi @tnorling, thanks for your response. I am currently using an MsalGuard on my route which is triggering the login using my sign in policy.

Prior to that I also tried triggering the login flow manually with a simple userFlowRequest object:
`{
      scopes: ["openid", "offline_access", "<removed>/transaction.limited"],
      redirectStartPage: "/loading",
      authority: this.b2cConfig.signInAut

[2021-10-06 23:20] tnorling commented on #4138
Thanks. What happens if you set `navigateToLoginRequestUrl: false`? Based on the logs I suspect it's getting stuck on [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/4ad87404f1648cbaa455fdfbc1a6c76030805368/lib/msal-browser/src/interaction_client/RedirectClient.ts#L113), setting that config value should make it handle the hash on the line above. I'll need to upd

[2021-10-07 01:00] ghost commented on #4061
@mixxit This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-07 05:49] ttpp123 opened #4140 "no ConfidentialClientApplication available in @azure/msal-browser or @azure/msal-react"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

We have confidential client applications developed with React and like to use msal in these applications. I don't see ConfidentialClientApplication available in @azure/msal-browser or @azure/msal-react.

### Source

External (Customer)

[2021-10-07 07:10] adrian-badulescu commented on #4113
@tnorling Ok, thank you very much!
I am impressed by the support you offer

[2021-10-07 07:18] TheJVaughan opened #4141 "Provide external token storage option"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL React (@azure/msal-react), MSAL Node Extensions (@azure/msal-node-extensions)

### Description

Local storage is insecure, session storage has SSO issues and secure cookies are not available to Javascript. A more secure option, which some other vendors libraries offer, is to use an API

[2021-10-07 09:07] cranarma commented on #4110
@tnorling The issue has been fixed for me already. Now the "scope" value in the response from B2C is the clientId, which means caching works again :slightly_smiling_face:

[2021-10-07 15:43] jasonnutter commented on #4141
@TheJVaughan Thanks for filing this. We are aware of the desire for applications to store tokens in locations other than local storage or session storage, and will take this into consideration. Note, that unfortunately this will likely require a breaking change in the library to properly support, and thus will most likely not be available until v3 (timing TBD).

Note, that we believe that local st

[2021-10-07 15:46] jasonnutter commented on #4140
@ttpp123 This is by design, as single-page applications run in browser environments, which are unable to securely store client secrets, and thus can only support public client applications. If you need to support confidential clients, please look at our [MSAL Node](https://www.npmjs.com/package/@azure/msal-node) or [MSAL.net](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet)

[2021-10-07 18:34] tnorling commented on #4113
The linked PR should fix this bug. This issue will be auto-closed when the PR is merged and the fix will be included in the next release after that. Our release cadence is currently once a month on the first Monday.

[2021-10-07 18:51] tnorling commented on #4090
@arvindbhairat msal-node exposes a couple account APIs to help you with this. If you just want to know if **any** user is authenticated you can call `getAllAccounts` and verify that at least 1 account is returned. If you want to know if a **specific** user is authenticated you can call `getAccountByHomeId` or `getAccountByLocalId`. [This doc](https://github.com/AzureAD/microsoft-authentication-lib

[2021-10-07 18:57] tnorling commented on #3938
Closing as we have no plans to implement new features in v1. Please upgrade to v2 if you need this feature, thanks!

[2021-10-07 23:35] danspano commented on #4138
@tnorling  - Thank you so much for this suggestion. I would never have known that this config was related to this issue. I have just tested it and I am now getting the loginSuccess event and it appears to be completing the flow now.

I have added some additional logic to handle the redirection which was disabled by this config change, it all seems to be working. The only thing I found strange was

[2021-10-07 23:44] tnorling commented on #4138
@danspano Thanks for confirming! Looks like there's another place we need update to allow redirects in iframes, [we made a note but never implemented it](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0be7700e5f1b0e83ade9df48327babd33cc9533f/lib/msal-angular/src/msal.guard.ts#L111). I'll reopen this issue until the work is complete, merging the linked PR will close.

[2021-10-08 05:14] badsyntax commented on #4058
@tnorling thanks for your continued support.

I am doing something slightly different from the suggested implemented. To prevent unwanted re-authentications during a HTTP request (eg if `acquireTokenSilent`) fails, we instead ensure we can get an access token during app bootstrap.

Here's a very condensed overview of my app setup:

`App.tsx`:

[code]

`AppBootstrap.tsx`:

[code]

`useAppBootstrap`

[2021-10-08 16:25] tnorling commented on #4058
I do not see anything here that would cause the behavior you describe. Like I said, your `MsalProvider` component is being rerendered which is most likely causing your loop. If you can share what your component tree looks like above your `App` component, or, better yet, a link to a minimal reproduction I can help you narrow down what might be causing this.

[2021-10-09 05:09] badsyntax commented on #4058
Thanks again for the suggestions. I've added some logs in the parent component that renders `<MsalProvider>` and it's only logged once (look for `RENDER COMPONENT THAT RENDERS`), and I can now only see `msal:handleRedirectStart` being logged once:

<img width="1844" alt="Screenshot 2021-10-09 at 05 49 03" src="https://user-images.githubusercontent.com/102141/136644704-5ac7d4aa-e2e5-4861-81fa-9ff6d

[2021-10-09 08:49] sameerag commented on #4140
Closing this since confidential client apps cannot be supported for msal-browser.

[2021-10-09 08:49] #4140 closed, assigned to tnorling

[2021-10-09 13:00] ghost commented on #4095
@MahammedAslam This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-10 01:00] ghost commented on #4109
@Dendekky This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-10 01:00] ghost commented on #4108
@riteshbhoi This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-10 01:00] ghost commented on #4063
@JamesBaxterSoftware This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-10 01:00] #4062 closed

[2021-10-11 01:00] ghost commented on #4134
@faiyazAbdul This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-11 01:00] ghost commented on #4099
@birneamstiel This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-11 01:00] ghost commented on #4083
@anshi1690 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-11 06:58] BenediktZoller commented on #4110
I am going to try it again and will give you response quickly

[2021-10-11 07:28] MahammedAslam commented on #4095
Hi @samuelkubai, We will keep you posted on outcome  of suggested approach as implementation didn't occurred since team engaged with other priority activities.

[2021-10-11 08:12] abdulfaiyaz commented on #4134
Hi @tnorling,
Does it have any security issues if we changed it to local storage from session. like it will be less secure or anything like that.

[2021-10-11 08:24] sameerag commented on #4110
Thank you @BenediktZoller.

[2021-10-11 09:10] Shivam60 opened #4147 "How do I integrated Silent Sign on flow correctly and verify it is working?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I have a test URL for a microsoft webapp where I deploy my webapp.

Currently I am noticing that I have to click sign in on it then it redirects me to login.microsoftonline.com, there it does not asks me any

[2021-10-11 10:30] dankell opened #4148 "Confirming Bearer Token validity on backend"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are currently using MSAL on our Vue.js front-end and using the returned Access Token as a Bearer Token to authenticate with our Hapi.js Backend server using JWT/JWKs

I am testing moving to MSAL v2 and am successfully (I t

[2021-10-11 13:33] sameerag commented on #4134
@abdulfaiyaz It is more about access. `sessionStorage` is limited to a `browser session`, i.e., you cannot access `sessionStorage` data across tabs. `localStorage` however is limited to the same domain., i.e., the page `https://localhost:3000` cannot access `https://localhost:4000` or `https://mydomain.com` cannot access `https://yourdomain.com`.

The choice between these storages depends on your

[2021-10-11 13:51] derisen commented on #2828
Hey @eanders-ms @benvdh @richban @manandkumaar, check out the [ExpressTestApp](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ExpressTestApp) sample, which has an [example distributed cache implementation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/cach

[2021-10-11 14:02] sameerag commented on #4147
@Shivam60

The redirection happens when there is no token in MSAL Cache. When your app requests a token, msal first tries to fetch a token from the cache, and if it isn't available, calls the server to check for a session and fetch the token silently. The APIs `ssoSilent` or `acquireTokenSilent` create a iframe for the redirection and fetch the tokens if there is a server session.

Can you please

[2021-10-11 16:10] tnorling commented on #4058
@badsyntax Does your app use more than one B2C user flow? i.e. SignIn and EditProfile? Each policy your app uses will have a separate set of account, refresh token, id token and access tokens and if you try to pass the account object from policy A while trying to acquire a token for policy B you may get the 400 error you shared above.

[2021-10-11 16:45] derisen commented on #4148
@dankell MSAL itself does not validate tokens, only acquires them (for the moment at least, in future msal-node will have support for this). Or are you suggesting that tokens obtained via MSAL v1 was working, but via MSAL v2 are not?

I assume you are using passport.js on the backend? If so, I would recommend using [passport-azure-ad](https://github.com/AzureAD/microsoft-authentication-library-for

[2021-10-11 16:58] sameerag commented on #4147
@Shivam60 Are you logging in with an MSA user? Are you passing any login_hint?

[2021-10-11 19:45] Shivam60 commented on #4147
No its AAD and i thought `login_hint` is not required

[2021-10-11 19:48] Shivam60 commented on #4147
@sameerag
This is my login request object
[code]

[2021-10-11 20:16] Shivam60 commented on #4147
just synced with @pkanher617
It seems that with MSA I am able to SSO however with AAD it is not working.

[2021-10-11 20:25] jasonnutter commented on #4147
Is this with your @microsoft.com corp account? Are you able to reproduce this with an aad account from a test user/tenant?

[2021-10-11 22:31] restfulhead commented on #4113
Can confirm, we're seeing "multiple_matching_tokens: The cache contains multiple tokens satisfying the requirements." after upgrading this library. Will downgrade and wait for the fix.

[2021-10-12 00:31] Oxyrus opened #4152 "Access token empty but acquire token silently succeeded"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

While attempting to obtain an access token, even though calling `acquireTokenSilent` succeeds, in the response the access token is an empty string:

![image](https://user-images.githubusercontent.com/11398826

[2021-10-12 01:00] ghost commented on #4121
@KennedyIhe This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-10-12 08:11] badsyntax commented on #4058
@tnorling at the moment it's just using `SignUpSignIn` flow.  The same B2C tenant is shared between different app versions (eg local, dev, test, prod etc).

For the meantime I've added a hack to restore the localStorage state and this fixes things for my users:

[code]

The hack basically determines if you have more than 1 b2c account in localStorage, and if so, deletes all user accounts from loca

[2021-10-12 09:21] dankell commented on #4148
We're not using Passport.js, but that may be the route that we need to go.

Looking briefly at the manual example that looks similar to what we are doing - I'll hopefully have a deeper look later today and see where we differ.

[2021-10-12 10:48] sameerag commented on #4152
@Oxyrus Can you confirm you have granted admin consent to scope: "https://myauthority.b2clogin.com/Server.Access" in your SPA's app registration, and if not, can you do that and update us?

[2021-10-12 10:49] sameerag commented on #4148
Thanks @dankell. Please keep us posted.

[2021-10-12 13:11] jeevanbalanmanoj commented on #2884
@jasonnutter  Is this feature now available in msal browser? If multiple simultaneous aquireTokenSilent requests are made will only one result in a network call?

[2021-10-12 13:14] Oxyrus commented on #4152
@sameerag this is how my API permission looks like, is it correct?

![image](https://user-images.githubusercontent.com/11398826/136962940-65d478c2-7162-4e59-91c9-12141a01b31c.png)

Those were the settings used during my tests.

[2021-10-12 15:14] sameerag commented on #4152
@Oxyrus I think mixing multiple scopes is what is causing the issue here. Please read the guidance [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md) and let me know if it is helpful.

[2021-10-12 16:24] jasonnutter commented on #2884
Yes, as long as those requests are for the same requests parameters. Multiple requests for different parameters (e.g. different scopes, authority) will still result in multiple network calls.

[2021-10-12 17:28] Oxyrus commented on #4152
@sameerag I tried using just one scope (`openid` and `https://myauthority.b2clogin.com/Server.Access`) and in both scenarios the access token returned was an empty string.

i.e.

[code]

![image](https://user-images.githubusercontent.com/11398826/137002162-3a48d508-4c0d-4d56-b2ed-e5999bdbab03.png)

[2021-10-13 03:04] derisen commented on #4152
@Oxyrus unlike AAD, B2C does not issue an MS Graph access token (to be used with the [userinfo](https://docs.microsoft.com/en-us/azure/active-directory/develop/userinfo) endpoint) when the user first signs in, but MSAL v2 expects this access token by default, thus the empty string for the `accessToken` field in the response.

A workaround for this is illustrated in a sample [here](https://github.c

[2021-10-13 14:15] MahammedAslam commented on #4095
Hi @samuelkubai and @tnorling,

We went through the sample code shared to us and understood the flow as follows:

1.	We observed the app.tsx, signinO635 function tries to open a office SDK dialog box in which login html has been called.
2.	This login.html in turn call login.js which does the AD authentication using MSALinstance.handleRedirectPromise()
3.	Response (includes access token) is return

[2021-10-13 14:39] BarishSarac opened #4153 "Retrieving Current AccessToken Expiration Extends It"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.2

### Description

I used to retrieve how long user's access token available from 1st approach

I got a feedback from @tnorling that, it's not guaranteed that this would give up to date expiration date for user's access token.

[2021-10-13 15:40] sameerag commented on #4153
@BarishSarac I already addressed this in the discussion linked [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/discussions/4120). This is by design from MSAL JS and not a BUG. Our users expect to get a token as long as the server has a session.

[2021-10-13 15:50] dankell commented on #4148
On first blush (trying to convert the Express.js typesctipt to the jwks-rsa javascript there was an obvious difference in URI, however switching to https://login.microsoftonline.com/common/discovery/v2.0/keys (which demonstratably returns a different result) we are still getting "Invalid Token"

I'm going to dig further and perhaps try and see if I can get passport.js to work on my backend example

[2021-10-13 17:27] byunru opened #4154 "MSAL Angular support Angular 13 and RxJS v7"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

Expecting MSAL.ja can support RxJS v7
The Roadmap of RxJS is already from 7 to 8

### Source

External (Customer)

[2021-10-13 17:38] sameerag commented on #4148
cc @jo-arroyo @pkanher617 as they are working on validation of tokens.

[2021-10-13 17:44] sameerag commented on #4154
@byunru Let us evaluate this and reach out. cc @jo-arroyo @jasonnutter

[2021-10-13 18:01] BarishSarac commented on #4153
@sameerag Well, that's fine. In that case, question remains, how can we get current access token expiration time without extending it? In the old way, if I needed to get the current token's expiration time, I could by fetch and get time. If I needed to update the token and expiration time of it, I could by sending in forceRefresh = true. Now I don't have a way to access token expiration time witho

[2021-10-14 09:41] sinedied opened #4155 "[adal-node] crash with error: Entry not found in cache"
### Core Library

ADAL Node (adal-node)

### Core Library Version

0.2.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm using the package `ms-rest-azure@3.0.0` to authenticate users through Azure and get access to their subscription to perform operations on it from a Node.js CLI tool.

For some users that seems to only have 1 subscription in their Azu

[2021-10-14 15:32] jasonnutter commented on #4095
@MahammedAslam

To clarify, are you saying that when your application calls `Office.context.ui.displayDialogAsync` (as demonstrated [here](https://github.com/OfficeDev/PnP-OfficeAddins/blob/main/Samples/auth/Office-Add-in-Microsoft-Graph-React/utilities/office-apis-helpers.ts#L43)), nothing happens? Is an error thrown?

[2021-10-14 15:46] CrazyBaran opened #4158 "ClientAuthError: multiple_matching_tokens error when cache kept many users"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We use msal-node on our nestjs application. We try to do on-behalf-of flow. We get from request access_token and pass it to
`this.confidentialClientApplication.acquireTokenOnBehalfOf(access_token)`
We implement cachePlugin to kept

[2021-10-14 15:48] MahammedAslam commented on #4095
Hi @jasonnutter ,

In our App component under componentdidmount we are calling login function which inturns calls SIgnINO365 helper function where it reaches there and it runs without opening the dailog popup. **We are not getting any error**

Please find code block where we were calling above method:

[code]

[2021-10-14 17:07] jasonnutter commented on #4095
@MahammedAslam

Please confirm the following:

1. Office JS SDK is loaded correctly.
2. The `dialogLoginUrl` is set.
3. `dialogLoginUrl` is on the same domain as your application
4. Also, please confirm if the provided sample application works as expected.

And please review the documentation for Office addin dialogs here:

- https://docs.microsoft.com/office/dev/add-ins/develop/dialog-api-in-offi

[2021-10-14 18:00] jasonnutter commented on #4155
@sinedied Have you considered upgrading to `@azure/identity`? It uses MSAL Node under the hood,  and is actively maintained (whereas `ms-rest-azure` and `adal-node` are not).

https://www.npmjs.com/package/@azure/identity

[2021-10-14 19:05] sameerag commented on #4158
@CrazyBaran  `Account` is usually an artifact representing a user. On behalf of flow, even if it is made by a web server, since it is made on behalf of end user, has a user and is issued an `idToken`, hence will also have an account associated with token acquisition.

Regarding the API interface, can you clarify if you are doing the following:

* Call `acquireTokenOnBehalfOf` and fetch tokens, the

[2021-10-14 19:26] CrazyBaran commented on #4158
@sameerag Our application kept cache to work onBehalfOf user even without interaction from user. On login to app with SSO we made on first turn always acquireTokenOnBehalfOf to had sure that tokens are new, so you mean we should didn't trigger acquireTokenOnBehalfOf but check if exist and then go with refresh? Rather than eagerly try to acquireToken on login?
For subsequent logic of course we use

[2021-10-15 00:55] fhlbdvt opened #4159 "MSAL v1 does not redirect back to loginRequestUrl when app is in iframe (B2C embedded login)"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

When I am running a angular app inside an iframe, the requested URL is not set after authentication is completed, instead the page stays at the Redirect URL

### Error Message

No error

### Msal Logs

 Th

[2021-10-15 06:06] sameerag commented on #4159
@fhlbdvt Can you please share your configuration details? cc @jasonnutter

On a side note: Can you please consider moving to the latest msal-angular [version 2.x](https://www.npmjs.com/package/@azure/msal-angular)? Most of these scenarios are addressed in the latest version and in case there is still an issue we can work on addressing it.

We are not supporting new features on msal 1.x and hence t

[2021-10-15 09:40] CrazyBaran commented on #4158
Unfortunetly this didn't solve issue. To be more specific, we use singleton instance of `confidentialClientApplication` and right now we had case that in cache there is two accounts, third account try to make first time a OBO and we get multiple_matching_tokens error.

[2021-10-15 13:42] fhlbdvt commented on #4159
Here is the my configuration file:

[code]

[2021-10-15 13:46] fhlbdvt commented on #4159
During my debugging session, here is what I've observed - when the code is running inside a outer frame, the if block for line 1065 is not executed due to `window.parent !== window` and because of that, the requested URL (`finalRedirectURL`) is not set.

![Screenshot-UserAgentApplication-js](https://user-images.githubusercontent.com/92555208/137497199-ddab0c4a-10d5-4248-b451-11d67b1beb75.png)

[2021-10-15 13:47] fhlbdvt commented on #4159
I am also thinking upgrading to msal 2.x but it also need to upgrade to later version of angular and it takes me sometime and I am on a time crunch at this moment.

[2021-10-15 22:42] samkyuseo opened #4161 "MSAL Node OBO Flow docs should include instructions for setting redirect uri"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/on-behalf-of

### Description

After registering the web-app, tell the user to set redirect URI under web as 'http://localhost:3000/redirect'

[2021-10-18 00:23] Keyzmo commented on #4084
This is a serious issue. Essentially any query params ending with "code" are now prohibited. For us it broke (after updating from from MSAL-angular v1.x) OAuth auth code flow authorization with a 3d party app where mutual users give our app access to their data in the 3rd party app. Now when they are redirected back to us from 3rd party app after authorizing access (with "code" query param in the

[2021-10-18 08:49] skurian123 commented on #4095
Hello @jasonnutter

1. Office JS SDK is loaded correctly.  - Yes
2. The dialogLoginUrl is set. - Yes
3. dialogLoginUrl is on the same domain as your application - Yes
4. Also, please confirm if the provided sample application works as expected -No

Ticket - https://github.com/OfficeDev/office-js/issues/2184 is raised under Office JS.

[2021-10-18 10:02] MahammedAslam commented on #4095
Hello @jasonnutter ,

Please find our respone as quoted by our team in earlier comment below:

1.	Office JS SDK is loaded correctly. - **Yes**
2.	The dialogLoginUrl is set. - **Yes**
3.	dialogLoginUrl is on the same domain as your application - **Yes**
4.	Also, please confirm if the provided sample application works as expected. - **No**

As suggested new Ticket - OfficeDev/office-js#2184  also ra

[2021-10-18 13:58] fhlbdvt commented on #4159
Please let me know if you have any updates.

[2021-10-18 15:09] dankell commented on #4148
I've been doing a bit more digging and have come up with two seperate strands.

1) There appears to be an issue with the `Hapi/jwks-rsa` implementation. Auth0 have a demo that works with Express.js, but their example for Hapi.js is out of date. If I try and apply the settings from the Express Example to Hapi then I get an "Invalid Token" error. I am persuing this with them.

2) The issue I am havi

[2021-10-18 16:18] jasonnutter commented on #4158
@sameerag Is this potentially fixed by #4081?

[2021-10-18 16:26] tnorling commented on #4058
@badsyntax Could you please email me (email on my profile) the network trace and the contents of localstorage when you get into this bad state? I'd like to better understand the multiple account issue and what the difference is between the "accounts" that causes them to populate more than once. We definitely don't want you to have to write and maintain logic like this to make your app work.

[2021-10-18 19:11] sameerag commented on #4158
Possibly. Some tests have to be fixed but code changes are done and @CrazyBaran can test the branch meanwhile.

[2021-10-18 20:21] oldorange opened #4167 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. (Happened when start login with loginredirect and then user click browser goback button. And then click login button again)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.12.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.01

### Description

Start login by click login button, call this function:
export async function signIn(myMSALObj) {
    return myMSALObj.loginRedirect(loginRequest);
}

in the b2c login user journey, if user click browser's "gob

[2021-10-18 20:28] jasonnutter commented on #3208
@sameerag Is this still an issue?

[2021-10-18 20:40] jasonnutter commented on #4167
@oldorange Can you please update to the latest versions of MSAL Browser (2.18.0) and MSAL React (1.1.0), and then see if this is still an issue?

Also, are you able to reproduce this with our MSAL React B2C sample? https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/b2c-sample

[2021-10-18 21:25] diberry opened #4168 "Best practice - Azure Function AAD with sample"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

^4.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm not sure which library so please ignore the selections. If I have a React app  passing a bearer token (after they login with MSAL-React) for the user to an Azure Function, what libraries and functionality can I use t

[2021-10-18 21:58] jo-arroyo commented on #3255
As passport-azure-ad is now in maintenance, please try msal-node for this functionality.

[2021-10-18 22:07] jasonnutter commented on #4168
@diberry Typically for a scenario like this I would recommend using the On Behalf Of flow in MSAL Node, as shown here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/on-behalf-of

TLDR:
1. SPA requests an access token for the custom scope setup for the Azure Function, and gets consent for any downstream resources needed by the Azure Function.

[2021-10-18 22:15] sadasant commented on #4168
Last week we released Identity v2, which includes an OnBehalfOfCredential. Here is the simplest sample I could think of regarding how this credential can be used: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/samples/AzureIdentityExamples.md#authenticate-on-behalf-of

It does use msal-node internally 🙂

[2021-10-18 22:17] birneamstiel commented on #4099
Hey @tnorling, did you have the chance to look at the fiddler trace I sent your way?

[2021-10-18 23:01] tnorling commented on #4099
@birneamstiel I have not received a fiddler trace from you. Can you please try sending it again, but this time to @jasonnutter as he is currently the OCE for our team. Thanks!

[2021-10-19 00:48] dapug commented on #4110
@tnorling  I'm not seeing this as resolved. It's always making the call to get .well-known.    Did I get my config wrong?  Client ID is _NOT_ in scope, btw.

MSAL.js v2 (@azure/msal-browser)
v2.18.0
platform: Vue

[code]
[code]

[2021-10-19 01:02] jasonnutter commented on #4110
Calling the well-known endpoint is different than the issue discussed here (please see [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3607#issuecomment-837104768) for your issue). Please open a new issue for questions regarding the well-known endpoint.

[2021-10-19 06:56] timotuunanen opened #4171 "Login redirect interaction not cleared when clicking browser back"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I have created a minimal React application using these instructions: https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-react I am using Azure B2C tenant and loginRedirect() to log in

[2021-10-19 07:04] timotuunanen commented on #4171
Note that this behaviour only occurs in the production build. So, running `yarn start` will NOT reproduce the bug.

[2021-10-19 09:28] sameerag commented on #3208
Should be resolved with #4081

[2021-10-19 15:15] jasonnutter commented on #4168
Great, thanks! @diberry I would recommend looking at the OBO flow, and let us know if you have questions about that.

[2021-10-19 17:32] oldorange commented on #4167
Oh yes! The issue gone after I upgraded both lib to latest version.

[2021-10-19 18:01] jasonnutter commented on #4099
Thanks @birneamstiel for sending a Fiddler. The issue is that the library currently expects that `end_session_endpoint` is set in the payload returned from the `openid_configuration` endpoint, and ROPC policies do not have that field set. Will PR a fix.

[2021-10-19 20:03] jasonnutter commented on #4161
@samkyuseo Thanks, we'll look at fixing that doc accordingly.

[2021-10-19 20:08] oldorange commented on #4167
oh no! after I upgrade both the packages, it works fine in dev mode: npm start. But it still has the same error in prod :(

[2021-10-19 20:08] oldorange commented on #4167
Same issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4171#issuecomment-946423700

[2021-10-19 20:14] oldorange commented on #4167
This time the sessionStorage is different

(before I upgraded the packages):
![Screenshot 2021-10-18 161735](https://user-images.githubusercontent.com/25421843/137983665-18c1cf71-30fd-4789-a5b7-64a66ae1c865.png)

after upgraded:

![Screenshot 2021-10-19 161124](https://user-images.githubusercontent.com/25421843/137983370-584d7a29-848c-4b9b-af82-66f70b2024c3.png)

[2021-10-19 22:16] jasonnutter commented on #4171
@timotuunanen Can you please provide verbose logs from MSAL?

When using MSAL React, you should use the MsalProvider component, which will automatically invoke `handleRedirectPromise` for you, which is what handles clearing the temporary cache (which keeps track of interaction in progress). Details here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/doc

[2021-10-19 22:18] jasonnutter commented on #4167
Closing as duplicate of #4171. Please feel free to comment there.

[2021-10-19 22:18] #4167 closed, assigned to jasonnutter

[2021-10-19 23:22] jasonnutter commented on #4171
If you are using `MsalProvider`, please debug it's invocation of `handleRedirectPromise` (which should be invoked when the component is first rendered), as it should be clearing any temporary cache values for interaction in progress.

[2021-10-20 03:59] PraveenVerma17 commented on #3605
Any update on this , i am also facing same issue.

[2021-10-20 05:52] timotuunanen commented on #4171
Yes. I am using `MsalProvider` From my index.js:

[code]
I will try to get some verbose logs.

[2021-10-20 05:57] nubianMONK opened #4174 "How to protect all routes - Node Back End"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.1

### Description

Stack:
Front End - Angular 12
  |-- Leveraging Angular/MSAL to integrate with Azure AD for authentication

Back End
  |-- Node JS  V14.17.6
  |-- Express 4.17.1
  |-- Passport-Azure-AD V4.3.0 (passpor

[2021-10-20 06:02] BenediktZoller commented on #4110
Issue is resolved for me. Problem remaining was, that the msal system config default of `tokenRenewalOffsetSeconds` of 300 seconds had been the same like my id/access-token lifetime. After changing one of these lifetimes, so that the token lifetime is greater than the renewalOffset, msal caches like expected now if you are using `"@azure/msal-browser": "^2.18.0"`

[2021-10-20 06:25] timotuunanen commented on #4171
Here are the logs from the simple: login -> browser back -> login

[code]

[2021-10-20 09:35] abdulfaiyaza opened #4175 "MSAL 2.0 Auth Code Flow with B2C custom policy, after password reset success, acquireTokenSilent fails, need to login user automatically."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

Not Applicable

### Description

Using MSAL 2.0 Auth Code Flow with B2C custom policy, after password reset success, acquireTokenSilent fails with **got passwordReset authority instead of signUp_SignIn authority**, **please provide correct authorit

[2021-10-20 16:24] jasonnutter commented on #4095
@MahammedAslam Thanks, I'll keep an eye on that issue. Note, I am unable to reproduce your issue, as I am able to get the linked sample addin to work properly by following the instructions provided in the sample README.

[2021-10-20 16:28] jasonnutter commented on #4175
@abdulfaiyaza When using the password reset policy, you need to logout after returning from the password reset flow, as demonstrated in this sample: https://github.com/Azure-Samples/ms-identity-javascript-tutorial/blob/main/1-Authentication/2-sign-in-b2c/App/authRedirect.js#L139

Alternatively, you can use the self-service password reset experience, as documented here: https://docs.microsoft.com/e

[2021-10-20 16:45] 0xdbe opened #4176 "Observable fro msalBroadcastService doesn't send all InteractionStatus or Event"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

Since msal-angular 2.0.3, Observables from ``msalBroadcastService`` doesn't send all data:

- ``inProgress$``: missing some ``InteractionStatus`` such as ``none``. I receive only ``startup``
- ``msalSubje

[2021-10-20 17:49] skurian123 commented on #4095
Hello @jasonnutter
Unfortunately we're not able to the make the sample addin worked even after following the instructions. Do we need to make any specific configurations at the o365 tenant end. Also, is there any way we can get into a WebEx or MS team calls so that we can explain through our code ?

[2021-10-20 18:44] diberry opened #4177 "OBO flow credentials improvement"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

If the Azure Function needs to do so much work to validate the token in this [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/on-behalf-of/web-api/index.js), shouldn't the MSAL SDK wrap that for me?

I want to take the function token an

[2021-10-20 19:09] jasonnutter commented on #4177
We are currently working on a new token validation library, which will do much of the logic you see in that sample (e.g. validating the token signature, validating claims, etc.). cc @pkanher617 @jo-arroyo

The sample is intended to show how you can use MSAL Node to perform the OBO flow (and I believe the sample was written before the Azure SDK supported the OBO flow as a credential provider), whic

[2021-10-20 19:20] diberry commented on #4177
@jasonnutter Are you saying @azure/identity sdk supports obo - meaning given a token, I can get a credential, then use any of the Azure SDKs? If yes, do you happen to have a link?

[2021-10-20 19:26] jasonnutter commented on #4177
@diberry Yep, check the comment left here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4168#issuecomment-946211026

[2021-10-20 19:39] diberry commented on #4168
@sadasant @jasonnutter Thank you for your help with this. I think the OBO sample that Daniel points out is for a client (interactive) user and doesn't fit my need for an Azure Function.

My Azure Function gets the user's accesstoken and needs to create the Azure Credential. Looking for the descriptions, I think that would be [AuthorizationCodeCredential](https://www.npmjs.com/package/@azure/identi

[2021-10-20 21:57] jasonnutter commented on #4099
@birneamstiel This will be addressed in teh linked PR, and should be included in the next release.

[2021-10-20 22:27] jasonnutter commented on #4176
@0xdbe Thanks for the information. Did you try debugging MSAL Angular or MSAL Browser to see what is happening? Are the events being emitted from MSAL Browser but dropped by MSAL Angular, or not getting emitted by MSAL Browser at all?

[2021-10-21 08:19] cristian-calugar commented on #4171
I have the same issue. But only on Safari (both on Mac and iPhone).

It seems that Safari does not trigger a page refresh when returning from log in page to our app. This causes the inProgress flag to still have the value 'login'.

If the user tries to login again, we call loginRedirect(), but nothing is happening.

Is there a way we can clear the inProgress state programatically?

Thanks!

[2021-10-21 09:15] dankell commented on #4148
`jwks-rsa issues` have now been resolved and I have a working example with Auth0 credentials.

I am still trying to reverse engineer the appropriate credentials for `jwks-rsa` for use with an `msal` token if anyone can help

[2021-10-21 09:52] Dendekky commented on #4109
Okay. I'll get the fiddler trace to you as soon as possible.

[2021-10-21 13:13] dankell commented on #4148
I've tried a different tack and have followed the attached StackOverflow question to try and find out where the issue lies.
https://stackoverflow.com/questions/44330242/azure-ad-b2c-token-validation-does-not-work

I am still getting "Invalid Signature" errors when I use the following values

[code]
From the example application I can see that I am retrieving a Signing Key that matches the `kid` of

[2021-10-21 14:23] izgqwnqlb opened #4179 "MsalInterceptor calls acquireTokenPopup when acquireTokenSilent fails, but when popups are blocked in the browser (popup_window_error), this is not caught further in the interceptor"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

More and more browsers are blocking pop-ups by default. So you can't just assume that pop-ups will be shown. However, this is problematic when the use of pop-ups is required to obtain tokens. Using `acqui

[2021-10-21 17:05] diberry opened #4180 "msal 1.3.3 - any service/system changes?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.3.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I've hit the redirect on unauthenticated user issue without changes to impact msal (that I know of). Any chance there was a service/system change in the response JSON that might affect this?

### MSAL Configuration

_No respon

[2021-10-21 17:25] jasonnutter commented on #4174
This is outside the scope of passport-azure-ad, and it looks like you have received an answer at https://github.com/expressjs/express/issues/4734 . Closing.

[2021-10-21 17:25] #4174 closed, assigned to jasonnutter

[2021-10-21 17:30] jasonnutter commented on #4179
@izgqwnqlb You are correct that the popup opened by MSAL.js may be blocked by the user's browser. Unfortunately, it is too opinionated for MSAL.js to render a button, as that may not be acceptable for all scenarios (and does not guarantee the popup will work). For now, I would recommend either catching the error and rendering your own button (which performs `acquireTokenPopup` and then retries the

[2021-10-21 17:32] jasonnutter commented on #4180
@diberry I'm not sure I understand the issue you are having, can you please provide more details and an example of the code you are using the errors you are getting? Logs from MSAL would also be helpful, thanks!

[2021-10-21 17:40] diberry commented on #4180
@jasonnutter Thank you for your help. The code may not have been implemented in the best way, this is old code I'm maintaining.

The two places in the code that were redirecting are now commented out (window.location.replace statements) to stop the redirect but that's just a symptom of something else - I'll turn on the logs and see what is happening:

[code]

[code]

[code]

[2021-10-21 18:30] sadasant commented on #4168
@diberry let me ask you something, so I can understand this.

Would this satisfy the scenario you’re presenting to us?

1. Authenticate within the browser (with InteractiveBrowserCredential or msal-browser).
2. Grab the resulting token into a variable.
3. Send a POST request from single-page application to a web server with the resulting token in the body.
4. In the backend, to instantiate a crede

[2021-10-21 19:11] diberry commented on #4168
@sadasant This is great - thank you. I believe the access token should be passed to the function in the auth header, instead of a Post body. Then in the Azure Function API, the auth header holding that bearer token needs to be parsed to get back to just the access token. Then you mention that the rehydration process also needs the time stamp. I think that is the "exp" property from the access toke

[2021-10-21 19:31] sadasant commented on #4168
That sounds good! Sorry, I was mainly trying to think on how it would work.

Oh, I have good news for you. The expiration date is only used on the SDK client side, not by Azure AD. The expiration date tells our HTTP pipelines when to consider the token expired. The service does this by themselves, of course. They don’t rely on us sending this expiration date.

On our HTTP pipeline, what gets used

[2021-10-21 19:32] diberry commented on #4168
Also, would this still be OBO? Or can a rehydrate in any flow?

[2021-10-21 19:39] sadasant commented on #4168
@diberry this is not OBO, since the user token doesn’t get used to authenticate on behalf of another identity.

(OBO also has a bunch of weird special extra steps to configure)

[2021-10-22 02:20] nubianMONK commented on #4174
@jasonnutter The issue was not resolved at express Jason, the chap did not have a solution for me.

[2021-10-22 02:36] jasonnutter commented on #4174
Verify you register the Auth middleware early in the middleware chain, otherwise it may not get invoked.

[2021-10-22 14:25] diberry opened #4184 "Blob Not found - https://aadcdn.msauth.net/shared/1.0/content/js/oneDs_005362965f8408780df6.js"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I noticed this error when using the popup today. Feels like not a client side issue but something with the service?

[code]

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configurat

[2021-10-22 15:04] PetrSnobelt opened #4185 "correlationId from token request is overridden"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When I ask for a token and provide `correlationId`, this `correlationId` is overridden inside initializeBaseRequest method

you can see it in the following verbose logs - there is [correlation-Id] but later it is overridden b

[2021-10-22 15:21] diberry commented on #4180
Not a service or SDK issue.

[2021-10-22 15:21] #4180 closed, assigned to jasonnutter

[2021-10-22 15:36] jasonnutter commented on #4184
@diberry The AAD login UX is outside the scope of our team, but I'll forward this along to the correct team, thanks!

[2021-10-22 15:36] #4184 closed, assigned to jasonnutter

[2021-10-22 16:55] jasonnutter commented on #4185
@PetrSnobelt Thanks, linked PR will fix.

[2021-10-22 17:49] pashvin opened #4187 "Does MSAL library automatically retry for token renewal? Any event generated when retry is stopped?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

My application ask list of meetings using Graph API so UI shows loading animation and then request goes to graph which checks for token and if not valid ask to renew silently and once token renewed and data is received, then lo

[2021-10-22 17:53] pashvin commented on #4187
As you can see on following log, the 2nd last try has no info about if retry was successful or not and then it started new request after an hour and no response and no new request

"2021-10-20T17:21:24.330Z INFO App Microsoft Enterprise Account: loggerCallback:[Wed, 20 Oct 2021 17:21:24 GMT] : @azure/msal-browser@2.17.0 : Info - Emitting event: msal:acquireTokenStart ",
      "2021-10-20T17:21:24.

[2021-10-22 20:39] #4138 closed, assigned to tnorling

[2021-10-25 06:13] sbarfurth commented on #4063
Where do I get `client_info` when using ADFS?

[2021-10-25 07:18] sbarfurth opened #4189 "Token expiry not calculated when sideloading token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When sideloading a token the `expires_in` value is used for the `expiresOn` field in the token cache. This causes values like `3600` to be checked as a timestamp and be deemed invalid. The value of `extendedExpiresOn` that is

[2021-10-25 14:17] sameerag commented on #4063
`client_info` is not issued for ADFS. For ADFS `localAccountId` is populated instead.

[code]

Relevant code can be checked [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/7b5f2eaef2eede43f23765b97547922f0024437d/lib/msal-common/src/cache/entities/AccountEntity.ts#L240)

[2021-10-25 14:45] jasonnutter commented on #3653
There is now a PR up to add a sample demonstrating how to integrate Vue with MSAL Browser: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4188

cc @tnorling

[2021-10-25 21:20] vejandla opened #4191 "Does MSAL publishes ani events when access token is expiring in the next 5 min?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1 (react)

### Description

While I understand the `acquireTokenSilent` does not renew the token unless the token is about to expire in the next 5 min, Is there an event that we can subscribe to when the token is about to expire

[2021-10-25 21:21] jasonnutter commented on #4084
@lf-novelt @cmplank @AccessViolator Please see the linked PR for proposed fix, feedback appreciated, thanks!

[2021-10-26 00:11] #4185 closed, assigned to jasonnutter

[2021-10-26 14:53] 0xdbe commented on #4176
@jasonnutter:

Here, verbose log with @azure/msal-angular v2.0.4:

[code]

And now log with @azure/msal-angular v2.0.1 and msal-browser v2.18.0:

[code]

As you can see, with MSAL angular v2.01, I receive events from BroadcastService.

To understand what happens in my prototype, I decide to test the angular official sample app with @azure/msal-angular v2.0.4 => I receive all events from ``Broadcas

[2021-10-26 15:14] 0xdbe commented on #4176
I update my project to use @azure/msal-angular@2.0.4:
https://github.com/0xdbe-example/angular-msal-azure-ad/commit/a692420ec4fc8cea574189b7b50cf1d94d481ba3

It works but ``MsalBroadcastService`` is injected in app component constructor (without subscription). I don't know why is needed.

[2021-10-26 17:19] nubianMONK commented on #4174
@jasonnutter Yes I can verify the Auth middleware early in the middleware chain, that's not the issue, but I eventually was able to find the root cause which has to the do with the MSAL/Angular ProtectedResoureMAP feature, details below, kindly look into this:

So after many a days, seeking a solution, I finally found the culprit as to why my implementation as stated above did not work. It boil's

[2021-10-26 20:44] jasonnutter commented on #4176
@0xdbe Interesting, thanks for the update. I wonder if this is timing-related (i.e. the required event listener isn't registered in time to capture certain events from MSAL)?

[2021-10-26 20:58] 0xdbe commented on #4176
How can I check that?

[2021-10-27 11:14] Pixelatex opened #4195 "(msal-react / typescript) How to type event.payload.account in the addEventCallback"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.1.0

### Description

As per the documentation, I am setting my active account with the msalInstance.addEventCallback

[code]
However, EventMessage > EventPayload doesn't have "account" typed as an option?

Am I using the wrong

[2021-10-27 13:05] GeekyDiya opened #4196 "Remove Default OIDC Parameter from Authority URL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

Hi,
We have a requirement for our multi-tenant B2C SPA where I want to redirect to the authority URL with the below structure:
https://mytenant.b2clogin.com/as/authorization.oauth2?client_id=myClientID&respon

[2021-10-27 14:41] waza-ari commented on #3605
I'm facing the same issue right now and I'm a bit lost on what to check next.

[2021-10-27 17:39] jasonnutter commented on #4176
You can try debugging the `emitEvent` function and seeing if event listeners are registered when teh events you are missing are emitted: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/310c2b33484650689e949e72d56e778af76265d9/lib/msal-browser/src/event/EventHandler.ts#L104

[2021-10-27 18:24] jo-arroyo commented on #4195
@Pixelatex You should cast the payload returned from a successful login as the type `AuthenticationResult`. Please see the example in the react sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a81fcef3d82523e03828d91bb0ee8d2ab2cc20d8/samples/msal-react-samples/typescript-sample/src/index.tsx#L22).

[2021-10-27 18:35] jo-arroyo commented on #4196
@GeekyDiya It appears that you are constructing your authority before passing it into MSAL, whereas MSAL is able to do that for you. Please see [this sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-react-samples/b2c-sample/src/authConfig.js) for an example of what the `authority` and `knownAuthorities` should look like when configuring MSAL (e.g. au

[2021-10-27 20:41] jo-arroyo commented on #4191
@vejandla MSAL does not have an event for when the token is about to expire. If you would like to know when the token will expire, you can use the `expiresOn` property in the response from` acquireTokenSilent` which represents the expiration of the access token. You may find [this discussion](https://github.com/AzureAD/microsoft-authentication-library-for-js/discussions/4120) helpful in understand

[2021-10-27 20:48] jo-arroyo commented on #4187
@pashvin MSAL does not do automatic retries for failed requests. You will have to handle that in your own app.

[2021-10-27 21:00] jo-arroyo commented on #4171
@timotuunanen We have been unable to reproduce this behavior. Are you able to reproduce this in one of our samples? That would help with debugging.

@cristian-calugar The `inProgress` state is not designed to be cleared programmatically. If you wish to reproduce your issue in one of our samples, we would be happy to look at it too.

[2021-10-27 21:32] jasonnutter commented on #4174
@nubianMONK Thanks for the update. And yes, [by design](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md#protected-resource-map) if the interceptor finds multiple entries in the `protectedResourceMap` that work for a given request, it will use the first of those entries. Given that, we recommend that your entries in the `

[2021-10-27 21:58] jo-arroyo commented on #4148
@dankell Unfortunately, tokens from Microsoft Graph in particular are not be able to be validated, as they intended for Microsoft Graph only, and should not be opened in any way. Trying to validate it will generate an "Invalid Signature" error. Can you try registering a custom scope, and validating a token with only that scope, instead of `user.read`?

[This thread](https://stackoverflow.com/quest

[2021-10-27 22:01] pashvin commented on #4187
@jo-arroyo  thanks for that info.

So  is it OK to retry for SlientToken again after it returned an error (except interaction required error)? Any suggestion for implementing retry in case of failure? Anything we should be careful to avoid getting into trouble or avoid retry if there are some special return code from previous call.

[2021-10-27 22:20] ndhambie commented on #3260
I am trying to validate my access token on the Nodejs server using passport-azure-ad but I keep getting this error:

{"name":"AzureAD: Bearer Strategy","hostname":"testPC","pid":20016,"level":30,"msg":"authentication failed due to: Error: unable to get local issuer certificate","time":"2021-10-27T22:10:39.323Z","v":0}

What certificate and how do I solve this

[2021-10-28 00:02] akeemtaiwo opened #4197 "Missing claim `preferred_username` from accessToken returned from AuthenticationResult"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I noticed a difference in the tokenResponse object returned from `acquireTokenSilent` from `AuthResponse` to  `AuthenticationResult` in v2.

We used to be able to get the claim `preferred_username` from the `

[2021-10-28 06:42] timotuunanen commented on #4171
@jo-arroyo I was able to reproduce the problem using b2c-sample and Firefox (93.0 (64-bit)). Using Chrome the sample worked fine. Note that I am running a production build. Development build does not have the same problem.

All the following commands are run in the /microsoft-authentication-library-for-js/samples/msal-react-samples/b2c-sample -directory:

[code]

Then:

1. Click login -> Sign in u

[2021-10-28 08:56] dankell commented on #4148
OK. That certainly sounds like the issue that I am having. My current scope is "User.Read" as all I really care about from the MS side is that the user is a valid user in the company AD, which I can then cross-check the credentials against the application user list.

Will carve out some time to check out the reference and update

[2021-10-28 11:17] 0xdbe commented on #4176
Indeed, it could be timing-related.

# Execution Flow

## Step 1

``MsalRedirectComponent`` is firstly loaded. It seems normal since this component is defined in module bootstrap.

This component emits a new event: ``msal:handleRedirectStart``. But ``MsalBroadcastService`` can't take into consideration this event because this service is yet loaded

## Step 2

``MsalBroadcastService`` starts and ru

[2021-10-28 14:07] domiSchenk opened #4198 "How to add client_secret in an auth code flow?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

We use a third party IDP to make the logins, and this IDP demands a client_secret in the token endpoint. (i don't know why)

I looked at the code and found basic implementation for adding client_secret in

[2021-10-29 04:42] izikl opened #4200 "After `logoutRedirect({account})` "Pick an Account" to logout is shown"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Even though `account` is passed to `logoutRedirect`

I am still getting a list of accounts to sign out from:
![image](https://user-images.githubusercontent.com/8294298/139376064-1d813bdb-963b-4ea7-ba35-b8d39012b382.png)

###

[2021-10-29 09:57] garycass opened #4201 "loginRedirect: how to add dynamic redirectURI to existing request"
When calling loginRedirect, I understand that it is possible to set the `redirectUri` per request, as follows:

[code]
Is it possible to do this whilst also passing a pre-defined request to loginRedirect? For example. if I have a JS function like so:

[code]
How would I update that call to also provide the parameter redirectUri: "https://mydomain.com"?

[2021-10-29 09:58] #4201 closed, assigned to nobody

[2021-10-29 10:06] garycass opened #4202 "loginRedirect: how to add dynamic redirectURI to existing request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When calling loginRedirect, I understand that it is possible to set the `redirectUri` per request, as follows:

[code]
Is it possible to do this whilst also passing a pre-defined request to loginRedirect? For example. if I ha

[2021-10-29 12:37] hitkumar25 opened #4203 "[Mac-SAFARI] Continuous Redirect is happening in Mac Safari with redirect flow in angular SPA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

After the token is acquired. It redirects again and again in loop while using msal-angular in Angular SPA.

### Error Message

_No response_

### Msal Logs

_No response_

### MSAL Configuration

[code]

[2021-10-29 17:03] jo-arroyo commented on #4200
@izikl As per our [documentation on logout](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md), logging out of MSAL includes both clearing the MSAL cache and clearing the session on the identity server. Providing the account ensures the account is cleared from the cache, whereas the select account page clears the session on the server.

Sil

[2021-10-29 17:38] BobJeronowitz opened #4204 "Password Reset Flow Error Code"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

Using MSAL 2.14 and in the Password Reset flow, when the password is reset I am getting a generic B2C error: error_description=AADB2C.  Previously was getting: AADB2C90118.  Is this something controllable

[2021-10-29 22:48] jo-arroyo commented on #4171
@timotuunanen Thanks for the steps, we were able to reproduce this and will be investigating the cause.

[2021-10-29 23:21] jo-arroyo commented on #4198
@domiSchenk You are right, there isn't a way to pass in `client_secret` as msal-browser and msal-angular only support public clients, as they run in an environment (a web browser). If you need to support confidential clients you are welcome to try msal-node.

[2021-10-29 23:43] jo-arroyo commented on #4203
@hitkumar25 Where is your `handleUnAuthenticatedUser` function being called? Please make sure you are not calling `loginRedirect` in your app.component.ts, and that redirects are being handled properly. Please see [our FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#why-is-my-app-looping-when-logging-in-with-redirect) and our [redirect

[2021-10-29 23:52] jo-arroyo commented on #4197
@Kid-Codi You are right, the `preferred_username` is not returned in the `AuthenticationResult`. Our advice would be to use the `useAccount` hook and get the `preferred_username` from the `idTokenClaims` field on `AccountInfo` object returned, provided your tenant is configured to return it. Please see the [hooks documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blo

[2021-10-29 23:58] jo-arroyo commented on #4189
@barfurth This does seem to be an issue. We will investigate a fix and update this when it is prioritized.

[2021-10-30 07:20] sbarfurth commented on #4189
There is a workaround I found. You can simply override the tokens `expires_in` value with its `exp` claim when passing the token response object. This does however require prior decoding of the token and is obviously less than ideal since the field and value are mismatched.

[2021-11-01 08:00] GeekyDiya commented on #4196
I have now provided the values in the respective parameters and yet the URL is not being constructed. Also, I wish to understand how I can pass extra parameters (scope and response_type) in the parameters. If someone could guide me in the same, would really appreciate it.

[code]

I also need to add the below 2 parameters to be constructed in the URL but not able to figure out where I need to add

[2021-11-01 12:16] Shivam60 commented on #4147
Yes that is Microsoft account.
On my test app id/client id test account is able to SSO.

On my test account corp is not able to SSO however login works
Is that expected?

[2021-11-01 16:22] hectormmg commented on #4202
Hi @garycass . You can use the [spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) to keep the same general login request object and override specific attributes before sending it to `loginRedirect`. Your code would look something like this:

[code]

Please let us know if this helps, thanks!

[2021-11-01 16:27] hectormmg commented on #4204
Hi @BobJeronowitz . This seems like a B2C service issue. Please file a support ticket with the B2C team by following the instructions here. Thank you.

[2021-11-01 16:41] janandreschweiger opened #4206 "acquireTokenSilent doesn't renew the id-token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi Micrsoft communiy,

We have a react app, which implements your library as described below. We only use it to get an id-token for validating the Microsoft account on our server. Unfortunately, after an hour the id-tokens th

[2021-11-01 17:02] nils-tahler commented on #4206
I experience the exact same issue. Could you please have a look on this one @tnorling?

[2021-11-01 17:27] tnorling commented on #4206
What happens if you provide `forceRefresh: true` on the `acquireTokenSilent` request object?

[2021-11-01 17:32] janandreschweiger commented on #4206
Thanks for your answer @tnorling.

This would probably resolve the issue, as I get the following additional log:
[code]

This issues normally occurs after 1h, so we would have to wait. But please have a look at my logs posted above. The issue is resolved once the acquireTokenFromNetworkStart log indicates that a new token is fetched.

[2021-11-01 17:43] tnorling commented on #4206
I suspect this is happening when the access token has a longer validity than the id token, if that's the case we'll need to re-evaluate how we do cache lookups today. We currently only check the access token validity because we made a naive assumption that the cached idToken would always have at least as much time left as the access token.

If setting `forceRefresh` resolves this please use that a

[2021-11-01 17:45] janandreschweiger commented on #4206
Thank you so much @tnorling for your help! I will write you back, if this resolved the issue.

[2021-11-01 19:01] janandreschweiger commented on #4206
Yes, this option resolved my issue for now. Nevertheless, it would be nice to use cached tokens again.
Thanks for your help @hectormmg!

[2021-11-01 19:26] hectormmg commented on #4206
@janandreschweiger thanks for updating us, I'll start looking into factoring in ID token expiration into the cache logic.

[2021-11-01 20:52] #4084 closed

[2021-11-02 00:16] JosephThomas opened #4217 "AADSTS54005: OAuth2 Authorization code was already redeemed"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Have been getting this issue recently:

AADSTS54005: OAuth2 Authorization code was already redeemed, please retry with a new valid code or use an existing refresh token.

Was looking at other solutions online but they don't s

[2021-11-02 02:47] ghost commented on #4138
:tada:This issue was addressed in #4142, which has now been successfully released as `@azure/msal-angular@v2.0.5`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.5)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-angular/v/2.0.5)

[2021-11-02 02:48] ghost commented on #4138
:tada:This issue was addressed in #4142, which has now been successfully released as `@azure/msal-browser@v2.19.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.19.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.19.0)

[2021-11-02 07:26] eluchsinger commented on #4203
I can confirm we are observing a similar or the same behavior and only on Safari and using `msal-angular`. Our Safari users are mostly unable to log in and have to resort to using different browsers.

[2021-11-02 07:32] domiSchenk commented on #4198
Does the nodejs version run in the browser or are there nodejs specific api calls?

i solved it with patching the angular/browser modul, so its reads from localstorage. This works for now.

I have to ask this provider why they wand a client secret in this environment.

[2021-11-02 07:32] #4198 closed, assigned to jo-arroyo

[2021-11-02 10:20] nicolaszawada opened #4231 "Allow MSAL Browser temporary cache storage location to be configurable"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.5

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.19.0

### Description

MSAL uses SessionStorage to temporarily store its authentication state, even though LocalStorage is configured as cache location. After being logged in, LocalStorage is used correctly.

Because of this be

[2021-11-02 12:47] nicolaszawada commented on #4231
Hi, I was going through the source code looking for the cause and I stumbled upon it.
[code]

This code sets up the `BrowserCacheManager` storage. No matter what you configure, Session storage will always be used. What's the particular reason for this?

By using local storage here, our issue would be fixed.

[2021-11-02 12:58] olafwrieden opened #4232 "Easier Access Token Retrieval via React Hook"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

### TL;DR
I would like to see a better way of retrieving a valid access token from MSAL that doesn't involve taking up half of my file (yes, I'm looking at you `useEffect()` hooks). See proposed changes below.

---

### Scenario
React.js page loads, it needs some data fetched f

[2021-11-02 13:34] garycass commented on #4202
Thank you @hectormmg , that solution works perfectly.

[2021-11-02 13:34] #4202 closed, assigned to hectormmg

[2021-11-02 13:38] BobJeronowitz commented on #4204
Thanks @hectormmg, where are the instructions for opening a ticket?

[2021-11-02 15:37] jasonnutter commented on #4231
@nicolaszawada The behavior you observe is by design, both to properly support multiple tabs (i.e. a user having the same application open in multiple tabs), and to mitigate issues where temporary cache values are not cleared when closing the browser.

Can you please provide more detail about this behavior? The library expects that a response would be returned in the same tab, as opposed to in a n

[2021-11-02 15:54] nicolaszawada commented on #4231
@jasonnutter

Exactly. Our external IDP is a government tool. It opens an app to authenticate, and when confirming in the app, the user gets redirected to the browser, but in a **new** tab. So we don't have any control over this behavior.

This is the scenario:
1. Go to Angular app
2. Get redirected to B2C
3. Choose federal IDP
4. Get redirected to federal IDP
5. Choose authenticator app
6. Authen

[2021-11-02 16:30] tnorling commented on #4232
Thanks this is something we've discussed and we have an item in our backlog to look into this. For now, you can call `acquireTokenSilent` inside your generic API function if you'd like. You can even call your interactive methods inside your generic API function as long as that function is **only** called from inside a react component. Our [sample](https://github.com/AzureAD/microsoft-authenticatio

[2021-11-02 16:49] OssiPesonen opened #4233 "acquireTokenSilent fetches new token each page load"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am using the @azure/msal-browser npm package with Azure AD B2C on my Vue.js application (Nuxt.js framework). I've injected the **msal** object via a plugin into the application and it's available in all components.  I've se

[2021-11-02 16:49] jasonnutter commented on #4231
@nicolaszawada Interesting, thank you for those details. I'll add to our backlog and discuss with the team about how to address this. In the mean time, this behavior was changed in 2.10.0, so versions of MSAL.js before that should not have this issue.

[2021-11-02 17:02] OssiPesonen commented on #4233
If this helps, the request `grant_type` is set to `refresh_token` when I see a /token request in the network tab. I also tried v. 2.19.0 with no difference.

[2021-11-02 19:39] OssiPesonen commented on #4233
Alright, so I might have a guess where the issue is. I debugged the process to what I would assume is this portion of the library:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d2cd0cdd6a5954f3ed71ee44ae93cacdfae19474/lib/msal-common/src/client/SilentFlowClient.ts#L76

The code is a little compressed, so this is a guess. Anyway, this line assumes we're working with an acc

[2021-11-02 19:53] OssiPesonen commented on #4233
Okay, so investigation to this led to the following solution in [Stack overflow](https://stackoverflow.com/a/67031342/12399828): Add client ID to the scopes. That solved it. I don't see any more requests to fetch a token so it must be fetched from cache.

This could be mentioned in the docs.

[2021-11-02 19:53] #4233 closed, assigned to hectormmg

[2021-11-02 20:53] hectormmg commented on #4204
Apologies @BobJeronowitz . It seems I didn't properly link to the instructions. You can find them [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options).

[2021-11-02 20:57] hectormmg commented on #4217
Hi @JosephThomas . I'm curious about when you're getting this error. The `acquireTokenSilent` API doesn't use an authorization code, so you must be falling back to an interactive `acquireToken` API when `acquireTokenSilent` can't perform the token refresh on it's own. Can you provide the code snippet for what `this.acquireTokenErrorHandling(error, endpoint, tokenRequest)` does? Thanks.

[2021-11-02 21:12] JosephThomas commented on #4217
[code]
This is the helper function popupQueue used in this function:
[code]

[2021-11-02 23:26] jackmcc08 opened #4238 "Can you login to a ADFS using Authorization Code Flow using msal-broswer.js"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am trying to authorize a react SPA against an ADFS Server, I have successfully managed to test out the sample application described here:
- https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2272
- ht

[2021-11-02 23:36] hectormmg commented on #4217
@JosephThomas I can't see any obvious issues with your code, could you please send a network trace from a tool like Fiddler that shows the MSAL network requests to the /authorize and /token endpoints to the e-mail address in my profile? So I can see what MSAL is sending to ESTS. Thanks!

[2021-11-03 01:00] ghost commented on #4195
@Pixelatex This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4191
@vejandla This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4175
@abdulfaiyaza This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4161
@samkyuseo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4158
@CrazyBaran This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4155
@sinedied This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:00] ghost commented on #4152
@Oxyrus This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:01] ghost commented on #4109
@Dendekky This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:01] ghost commented on #4095
@MahammedAslam This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:01] ghost commented on #4090
@arvindbhairat This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:01] ghost commented on #4058
@badsyntax This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-03 01:01] #4134 closed, assigned to tnorling

[2021-11-03 01:01] #4121 closed

[2021-11-03 01:01] #4108 closed

[2021-11-03 01:01] #4083 closed

[2021-11-03 01:01] #4063 closed

[2021-11-03 01:01] #4061 closed

[2021-11-03 01:01] #3949 closed

[2021-11-03 01:01] ghost commented on #4187
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2021-11-03 01:01] ghost commented on #4176
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2021-11-03 01:01] ghost commented on #4168
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2021-11-03 01:01] ghost commented on #4159
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2021-11-03 14:25] Phhansen opened #4239 "Redirect loop issues in Firefox"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

Our QA reported a bug where he could not login to our environment. It would send him on an infinite loop and sometimes it would work after looping x amount of times, and sometimes it would just die out.

[2021-11-03 15:04] Phhansen commented on #4239
Right after posting this. I might've actually found our issue.
I'll need to re-test in all browser to be sure, but I thought i'd mention what _seems_ to be the cause.

We have a shell component / module that basically holds everything needed for the root application (auth, logging, etc). It also holds the root level route configuration.

The shell itself has a header that will be populated by user

[2021-11-03 15:11] Philluxx commented on #3208
Is it foreseeable when this bug will be fixed? Currently the ID token claims are completely empty when deserializing from the cache. This requires a messy workaround and you have to persist the claims yourself elsewhere.

Thank you so much!

[2021-11-03 15:20] dankell commented on #4148
OK. I'm really missing something here. That thread certainly mirrors what I want to do, and indeed what we are doing with MSAL 1.0.

Adding a new scope, under "Expose an API" on Azure Portal ("custom") and using that in _getTokenPopup/getTokenSilent_ results in an error from the backend. The "user.read" scope however does allow me to grab an accesstoken. However that is "invalid" accoprding to the

[2021-11-03 16:40] jasonnutter commented on #4147
Yes, we have observed that @microsoft.com corp accounts may not be able to silently SSO, especially if a login_hint or sid is not used.

[2021-11-03 16:41] hectormmg commented on #4148
Hi @dankell , could you please show us what your token request configuration looks like? Also, what error is the backend returning when you add a new scope?

The "aud" claim will not match your application ID because the token you are requesting is for Microsoft Graph, not your own API. As stated before, you cannot validate a Microsoft Graph access token on a different resource. If you want to req

[2021-11-03 16:42] jasonnutter commented on #4161
@hectormmg Can you please take a look at updating these docs when you get a chance?

[2021-11-03 16:43] jasonnutter commented on #4168
@diberry Are your questions answered here?

[2021-11-03 16:43] hectormmg commented on #4239
@Phhansen thanks for raising the issue, please update us when you verify your solution.

[2021-11-03 16:45] jasonnutter commented on #4171
@hectormmg @jo-arroyo Can you please work together on solving this issue? Thanks!

[2021-11-03 16:46] hectormmg commented on #4187
@pashvin retry logic is entirely up to each application. However, we recommend you only retry after the kind of errors that can happen sporadically (i.e. timeout errors). Also, we only recommend you retry once or twice at most, this to avoid looping issues in your application.

[2021-11-03 16:46] jasonnutter commented on #4176
@0xdbe Thank you for the details. We'll add this to our backlog as a potential enhancement.

[2021-11-03 20:48] diberry commented on #4168
@jasonnutter @sadasant Handling this offline.

[2021-11-03 20:48] #4168 closed, assigned to jasonnutter

[2021-11-03 20:51] hectormmg commented on #4161
The [Pull Request](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4243) addressing this is ready

[2021-11-03 21:01] hectormmg commented on #4196
@GeekyDiya may I ask why you want to add these query parameters to the authority string? The scopes and response_type attributes are meant for authorization/token requests, during which MSAL will correctly append the values to the URI when making a request to the authentication endpoint.

The "/v2.0/.well-known/openid-configuration" path is appended to the authority during endpoint discovery, whic

[2021-11-04 00:21] jasonnutter commented on #4159
Apologies for the delay. This is a bug, and a workaround for now is for your application to manually store the application's starting url before you invoke loginRedirect (in local storage, for example), and then when the redirect is processed, manually redirect the user back to that url.

[2021-11-04 00:37] jasonnutter commented on #4159
This would look something like this:

[code]

[2021-11-04 01:00] ghost commented on #4200
@izikl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-04 01:00] ghost commented on #4197
@Kid-Codi This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-04 09:03] Phhansen commented on #4239
Hi @hectormmg

We have deployed the changes to our test environment and everything works as it should in both Firefox and Safari (we noticed it there too).

As to why chromium browsers _just work_, I cannot say. It is a little above my level of knowledge on the matter.
We basically ended up moving our translate preload to after the `MsalGuard`.

I guess another fix would've been to use the `inProg

[2021-11-04 09:03] #4239 closed, assigned to hectormmg

[2021-11-04 10:43] dankell commented on #4148
Here is the current Config objects for my front-end
[code]
The error received is as follows
[code]
That resource ID is not my Application ID, and matches the resource ID that I get when I put the token from `user.read` into jwt.ms. I'm assuming that is the MS Graph resource ID.

[2021-11-04 23:22] joshpitkin commented on #4206
I am seeing the same issue in my apps.  I chose a variation on the workaround to dynamically set the `forceRefresh` option based on the id_token being expired.  If you have LOTS of API calls using the id_token leveraging the cache is very important..
[code]

Looking forward to fix in MSAL library.

[2021-11-04 23:31] jasonnutter commented on #4206
@janandreschweiger @joshpitkin @nils-tahler Any specific reasons you are validating the id token, instead of an access token (e.g. using a custom scope)?

[2021-11-05 10:44] michaelmairegger commented on #4154
Any news on this? Angular 13 has RxJS ~7.4.0 dependency

[2021-11-05 20:52] joshpitkin commented on #4206
That is a good question.  In my situation we have multiple web apps using the library that are connecting with several different WebAPIs and passing in the id_token as the Auth credential.  It has been that way for years, starting with ADAL.js and recently supporting MSAL also.  All of our apps are internal so we are less concerned about setting up unique permissions / tokens per API as it just ad

[2021-11-05 21:02] janandreschweiger commented on #4206
Same here. We have a daemon for Microsoft Graph that retrieves and stores all the data of an organization in our database. Therefore, we only need to authenticate the user.

[2021-11-05 21:46] justinmchase commented on #2600
We are also encountering this, but only for users running in WSL. The exact same code on developers running macs there are no issues but if run through WSL it has an issue.

[2021-11-07 13:00] ghost commented on #4203
@hitkumar25 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-08 01:00] ghost commented on #4217
@JosephThomas This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-08 01:00] ghost commented on #4204
@BobJeronowitz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-08 01:00] ghost commented on #4238
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2021-11-08 08:03] GeekyDiya commented on #4196
@hectormmg Since this is a client SSO we are configuring, this URL is not part of Microsoft and they are using Ping federate as their IDP due to which they require the authority URL to be exactly like the one I posted (with the additional query parameters in the authority string) - `https://mytenant.b2clogin.com/as/authorization.oauth2?client_id=myClientID&response_type=code&scope=openid&redirect_

[2021-11-08 14:48] Pixelatex commented on #4195
Alright thanks, that fixed it!

[2021-11-08 14:48] #4195 closed, assigned to jo-arroyo

[2021-11-08 15:12] whittssg opened #4248 "Angular - MSAL GUARD fails when path is exactly 3 characters"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

Latest

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

Routes with a path length of 3 characters wont work with **canActivate: [MsalGuard]** I am pretty sure it stopped working after this change:

[Link](https://github.com/AzureAD/microsoft-authentication-lib

[2021-11-08 19:25] hectormmg commented on #4196
@GeekyDiya is Ping being used through Azure AD B2C in this scenario?

[2021-11-08 19:26] #4161 closed, assigned to hectormmg

[2021-11-08 19:27] hectormmg commented on #4238
Hi @jackmcc08, we're currently working on documentation and samples for using MSAL v2 with ADFS and will update this issue when those are available. Thanks!

[2021-11-08 19:35] hectormmg commented on #4148
@dankell I think this is happening because you added a scope called "custom" under the Microsoft Graph resource in the Azure portal. You'd need to register the custom scope under your own custom API's permissions.

[2021-11-08 20:08] jasonnutter commented on #4248
@whittssg Confirmed as a bug, apologies about that. Will be fixed in next month's release by #4249. For now, use 2.0.4, as this was introduced in 2.0.5.

[2021-11-08 20:27] GeekyDiya commented on #4196
@hectormmg  Im not sure how I can check it but in the knownAuthorities I am passing the authority URL provided to us

[2021-11-08 22:28] jackmcc08 commented on #4238
@hectormmg  thanks for your response, that sounds great, when do you think those will be released?

Also, what is the best tutorial to follow for building a protect API which is called from an SPA which uses msal-core.js?

[2021-11-09 00:21] #4248 closed, assigned to jasonnutter, pkanher617

[2021-11-09 01:00] ghost commented on #4187
@pashvin This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-09 01:00] ghost commented on #4147
@Shivam60 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-09 11:33] Shivam60 commented on #4147
Hey @jasonnutter one question

What is the recommended flow of integrating SSoSlient.

As of now my flow is
App mounts -> see if user account is there (`this.props.msalContext.instance.getAllAccounts()[0]`) -> if it is there i `acquireTokenSilently` else I SSOSilenty

Now problem is if i log out, my App again signs me in with SSOsilently. How do i avoid this?

[2021-11-09 12:24] ninni426 opened #4250 "How to grab access token from cache without using acquireTokenSilent?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

Inside current implementation, we are using Axios interceptor which calls the acquireTokenSilent every time before any server API is called to provide us a valid token(either from cache or from API when it ha

[2021-11-09 16:54] pkanher617 commented on #4250
@ninni426 `acquireTokenSilent` already retrieves the tokens from the cache up to 5 minutes before the expiration time by default. Within 5 minutes of the expiration time, `acquireTokenSilent` will then attempt to use the any available refresh tokens to renew the access token. If you have logged out already, this refresh should fail. So the functionality you need should already be available.

We ar

[2021-11-09 18:23] SnehalJ1509 opened #4251 "After logout() the user is able to enter the app again without credentials"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.3.3

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.0.0

### Description

My issue is similar to [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3494) issue and the issue described in [this](https://github.com/AzureAD/microsoft-authentication-lib

[2021-11-09 21:28] pkanher617 commented on #4147
Are you fully completing the logout flow by going to the logout page on login.microsoftonline.com?

[2021-11-09 21:31] Shivam60 commented on #4147
Yes i think so. I use logoutRedirect method to logout

[2021-11-10 00:58] jasonnutter commented on #3653
#4188 was merged, closing.

[2021-11-10 00:58] #3653 closed

[2021-11-10 01:07] DChefHarshil commented on #4095
@jasonnutter I am facing the same issue but I have a little bit different approach. I want to use SSO token to exchange it with access token for Azure AD App registration. To get SSO token from Outlook, I am using following snippet.

`
        let bootstrapToken = await OfficeRuntime.auth.getAccessToken(options);
`

I can't see any method in msal-browser that allow me to exchange the SSO Token for

[2021-11-10 03:24] gaelian opened #4252 "Incorrect case for token_type value when interacting with ADFS 2019"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

We are using MSAL.js with ADFS 2019 (on Windows Server 2019 Datacenter, version 10.0.17763 Build 17763), and we are seeing an issue with a case mismatch between the `token_type` value returned from ADFS a

[2021-11-10 07:44] Shivam60 commented on #4147
fired an incident for this as discussed with @pkanher617
LMK if you want the id for tracking

[2021-11-10 09:15] ninni426 commented on #4250
The acquireTokenSilent is working as expected. But here specifically the issue arises when multiple tabs are open while we are using **sessionStorage**. The accessToken kept inside the cache is not cleared for all tabs and even if the user has logged out from one window(one session) since the token does not become invalid and is present in the cache, the user can continue working on another tab op

[2021-11-10 13:00] #4191 closed, assigned to jo-arroyo

[2021-11-10 13:00] #4175 closed, assigned to jasonnutter

[2021-11-10 13:00] #4158 closed, assigned to sameerag

[2021-11-10 13:00] #4155 closed, assigned to sameerag

[2021-11-10 13:00] #4152 closed, assigned to sameerag

[2021-11-10 13:00] #4109 closed

[2021-11-10 13:00] #4090 closed

[2021-11-10 13:08] badsyntax commented on #4058
I've been communicating with @tnorling over email. Currently still not fixed. I'm meant to contact Azure B2C support but this is currently not possible for me as I don't have the correct Visual Studio subscription to open a support ticket. So this issue will stagnate until someone else experiences the same AND can contact Azure B2C support. There's not much more I can do other than rely on the hac

[2021-11-10 17:03] pkanher617 commented on #4250
I'm a bit confused what the desired behavior you are looking for is, the two statements above indicate different things.

Yes, the usage of acquireTokenSilent before every API call is as expected. You may need to handle errors for Interaction, which your app should handle. Read these docs for more details on handling access token lifetimes: https://github.com/AzureAD/microsoft-authentication-libra

[2021-11-10 17:04] jasonnutter commented on #4095
@DChefHarshil To exchange the SSO token for an access token, you need to perform an On-Behalf-Of flow trade using a server-side library (e.g. MSAL Node or MSAL.net) or manually, as shown these samples:

- Node: https://github.com/OfficeDev/PnP-OfficeAddins/blob/main/Samples/auth/Office-Add-in-NodeJS-SSO/Complete/routes/authRoute.js#L22-L29
- .NET: https://github.com/OfficeDev/PnP-OfficeAddins/blob

[2021-11-10 18:45] tnorling commented on #4058
@badsyntax I'm still waiting for a fiddler trace from you. I can follow up with B2C internally but I need something to show them.

[2021-11-10 18:49] badsyntax commented on #4058
@tnorling more than happy to provide more info. i have no idea what a fiddler trace is though. do you have any reference documentation on how to generate this trace? i will give it a bash but this is completely new to me, never used fiddler before.

[2021-11-10 18:56] badsyntax commented on #4058
@tnorling i've had a play with fiddler and it looks fairly straightforward. i will remove the hack to attempt to replicate, at which point i'll record a fiddler trace. it might take a little while to replicate the issue again.

[2021-11-10 23:55] shmehltr opened #4254 "no_tokens_found with msal-react when there is a second instance of msal present."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

We are trying to load our React app using msal-react as a nested application in a portal experience. The portal is also using MSAL and their app reg is on the same tenant. We are trying to use the useMsalAuth

[2021-11-11 08:43] piotrlech commented on #2600
Note that sometimes helps if you set your HTTP_PROXY and HTTPS_PROXY in the .env file

[2021-11-11 13:00] #4200 closed, assigned to jo-arroyo

[2021-11-11 13:00] #4197 closed, assigned to jo-arroyo

[2021-11-11 19:33] DarylThayil opened #4255 "Might be worth exploring esbuild to improve monorepo build times"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.0

### Description

https://mmazzarolo.com/blog/2021-11-06-speed-up-your-typescript-monorepo-with-esbuild/
Stumbled upon this and remembered build times for the mono repo were so high with lerna ... maybe this will help :)
Hope you are all doing

[2021-11-12 00:22] productoptimization opened #4256 "Post method on token request not pasing parameters correctly"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

azure/msal-browser 2.19

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

@azure/msal-react 1.1.1

### Description

I trying to authorize the app throw PKCE using   useMsalAuthentication("popup",request) from msal-react wrapper

On the step of getting the token on post  (https://login.mic

[2021-11-12 16:17] AnaflaviaDiaz opened #4257 "Msal with Angular 13"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

 I updated to Angular 13 but I have an error with MsalService

![image](https://user-images.githubusercontent.com/15807118/141498798-43a6f25f-5403-4513-b4c1-76b6149d7848.png)

### Source

External (Customer)

[2021-11-12 18:02] tnorling commented on #4254
@shmehltr Thanks, this is indeed a bug. As you pointed out, the main issue here is that `ssoSilent` isn't firing because `useMsalAuthentication` thinks you're signed in, which isn't incorrect but it's incomplete. We should be, not only checking if an account exists in the cache, but also if a set of tokens exist. I'll see what we can do to fix this, but in the meantime you'll need to handle this b

[2021-11-12 20:46] pkanher617 commented on #4252
@gaelian Thanks for bringing this up. We are exploring options to mitigate this issue and will try to push a fix for this shortly.

[2021-11-12 20:48] pkanher617 commented on #4256
The error you are describing here is related to the way the application has been registered in the portal. Please make sure the redirect URI is of type "SPA". You can read more by following the [pre-requisites](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#prerequisites) for the library.

[2021-11-12 21:43] pkanher617 commented on #4251
@SnehalJ1509 This is a common issue that may be caused by the OS injecting the cookies of the current account into the browser. We are investigating ways to mitigate this on our end. One workaround you can try is to use a client-side cookie to inform you if a user has logged out, and do not call any MSAL APIs if you detect this cookie.

[2021-11-13 00:34] shmehltr commented on #4254
Thanks for the update I wasn't 100% sure if it was bug or an unsupported case. With that in mind we can patch in a work around for now until the bug fix makes it to release. We should be ok on the provider part the host shell is just using msal-browser and we only render one in our scope.  Thanks again!

[2021-11-14 01:00] ghost commented on #4148
@dankell This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-14 01:00] ghost commented on #4238
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2021-11-14 01:00] ghost commented on #4206
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2021-11-14 01:00] ghost commented on #4196
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2021-11-14 01:55] gaelian commented on #4252
@pkanher617 many thanks. Do you have a rough ETA? This would help us to plan.

[2021-11-14 09:33] dillonbailey opened #4258 "Implementation of persistent token cache for msal-node inconsistent and incomplete - basic JSON file implementation not working as expected"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.3

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.0.0-alpha.12

### Description

There is no clear documentation provided to achieve the following use case for `msal-node`. The linked documentation is for dotnet. And from what I can gather there are a number of com

[2021-11-15 01:00] #4203 closed, assigned to jo-arroyo

[2021-11-15 07:54] SnehalJ1509 commented on #4251
@pkanher617 thanks for giving some insight. I am not sure how to access/use the client-side cookie as you have mentioned but I'll give it a try.
While going through different issues and docs I came across this [Single sign-out](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#single-sign-out) doc. So this issue won't be fixed by even after adding a LogoutUrl in the

[2021-11-15 07:59] zealotrahl commented on #3933
Hi, is there any news?
Getting the same error when calling loginWithServicePrincipalSecret

[2021-11-15 09:37] Miwa199739 commented on #3687
@jasonnutter, any update?

[2021-11-15 09:37] fhljys commented on #3687
@jasonnutter, any plan to fix this?

[2021-11-15 13:00] #4204 closed, assigned to hectormmg

[2021-11-15 13:00] ghost commented on #4147
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2021-11-15 16:07] samuelkubai commented on #4258
Hi @dillonbailey, thank you for raising this question here.

First thing, yes we do advice people not to use `@azure/msal-node-extensions` for web app and/web apis as this library stores the cache information in a file on the server, which can be hard to maintain on a server, that's why we discourage storing information on the filesystem and also accessing a single file becomes a bottleneck for we

[2021-11-15 16:13] pashvin opened #4259 "Fail to get token at startup"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Description

We have report from customer time to time that meeting list is not loading and log shows that token renewal at startup fails.
Each time we get diff reason code so does MSAL handles cases that network may not be ready when asked

[2021-11-15 16:14] pashvin commented on #4259
"2021-11-13T01:12:06.116Z INFO App Microsoft Enterprise Account: loggerCallback:[Sat, 13 Nov 2021 01:12:06 GMT] : @azure/msal-browser@2.17.0 : Info - Emitting event: msal:acquireTokenFromNetworkStart ",
"2021-11-13T01:12:08.396Z INFO App Microsoft Enterprise Account: loggerCallback:[Sat, 13 Nov 2021 01:12:08 GMT] : @azure/msal-browser@2.17.0 : Info - Emitting event: msal:acquireTokenFailure ",
"20

[2021-11-15 16:33] samuelkubai commented on #4255
Thanks @DarylThayil for the referral will definitely look into it, hope you are doing well too

[2021-11-15 17:44] samuelkubai commented on #4251
Hi @SnehalJ1509

To answer you later question, no, [Single sign-out](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#single-sign-out) is meant to log out a user from multiple applications but as you mentioned you only have one application to logout from. The explanation and solution explained above by @pkanher617 is the current solution as we work on a permanent s

[2021-11-15 17:50] samuelkubai commented on #4147
Closing this issue as it's been tracked on the incident raised. Feel free to re-open it if necessary.

[2021-11-15 17:50] #4147 closed, assigned to jasonnutter

[2021-11-15 18:07] samuelkubai commented on #4259
Hi @pashvin,

Thank you for reaching out about this.

On the question below

No, MSAL does not handle cases that the network may not be ready, for this case you need to detect this error and retry on your client.

Could you send a fiddler trace to best understand what is going on?

[2021-11-16 00:37] jo-arroyo commented on #4154
@byunru @michaelmairegger We are aware of this dependency and this upgrade is currently being prioritized. We will post an update when it is addressed in the library.

[2021-11-16 01:00] ghost commented on #4250
@ninni426 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-16 01:00] #4187 closed, assigned to hectormmg

[2021-11-16 03:45] dillonbailey commented on #4258
Thanks @samuelkubai !

Our application will only have 10 users max, so although not particularly scaleable, the simple JSON file solution should suit us, even if just for a prototype. Are you able to advise why this is not working currently?

My only concern with the ExpressTestApp is that this further obfuscates the use of the library, so trying to keep things simple as our use case is purely to

[2021-11-16 08:09] samuelkubai commented on #4258
Thanks @dillonbailey for the explanation.

I do agree that for a small number of users, accessing a file would work. And in that case you can go ahead and use the @azure/msal-node-extensions, as you understand the cons that come with it.

If I may ask, what environment do you plan to deploy this application on, more specifically will the application be run in the same server throughout, as the ext

[2021-11-16 08:10] samuelkubai commented on #4258
In regards to obfuscation, the ExpressTestApp is just an example you can take from it as much or as little as you need it does not need to be that complex, it was primarily an example on how to integrate Redis as your cache for MSAL Node

I would still suggest you go down this route, as it will not require you to keep track of what files are in your filesystem and you can complete adopt the "Deplo

[2021-11-16 15:52] janpereira-dev commented on #4257
I got this error installing msal on angular v13

![image](https://user-images.githubusercontent.com/6440548/142018750-cc2b9988-a724-462f-a6db-3c03e21a6f0a.png)

Do you have any date for the package update?

[2021-11-16 15:56] janpereira-dev commented on #4154
Thanks for the reply,

But just to know, do you have a deadline? can it be in another week? or two weeks? or more time? Just to know and prepare about it with my new projects, and what version of angular should I implement

[2021-11-16 16:12] chrisls121 commented on #4154
Would be great to know a timeline as well for starting new projects with v13.

[2021-11-16 18:01] tnorling commented on #4109
This was due to the redirectUri being of type "SPA" which requires PKCE. Issue was resolved by changing the type to "Web"

[2021-11-16 20:09] pashvin commented on #4259
@samuelkubai Issue comes from our customer so don't have all network traces and fiddler and most of user don't see any problem including my self who has good network. Some user who complains are having network known instability (some uses repeaters in home and when they move room to room. one of request may fail) and get issue once a while. I feel SDK should react on some common network response a

[2021-11-17 11:25] samuelkubai commented on #4259
Hi @pashvin,

As a library we don't think retries due to network errors lies within the scope of the library, as there are many ways our users would decide to handle such cases, and thus we leave it to the client applications to decide how to handle errors due to network connection issues.

But from the logs, it looks like you are getting a response back, but the library is not able to parse the r

[2021-11-17 15:28] pashvin commented on #4259
@samuelkubai I asked original user to reproduce and collect network trace. he may be not familiar with all other tools. Anyway I am thinking to retry getting token if first request for token fail but first of all I don't have list of error can be returned  from acquireTokenSilent and which one I should retry and which one I should not. I know interaction required don't need retry but all other err

[2021-11-17 15:41] yoshegg opened #4263 "MsalProvider with single-spa and multiple applications"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

We are using `React` and `single-spa` to implement our multi-frontend application. We have a navigation bar and an index part; these are separated into two different applications. Parts of these applications

[2021-11-17 15:42] samuelkubai commented on #4259
Hi @pashvin,

Sure thing, waiting for the network trace so as to confirm that the cause of the error is in fact network connection.

To answer your second question, yes, the SDK does throw a specific `noNetworkConnectivity` error with the error code `no_network_connectivity`, you can find the error [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8afb0be101c2ff51533fc

[2021-11-17 17:24] fhlbdvt commented on #4159
I'll give it a try on the workaround

[2021-11-17 17:27] sjlawton commented on #4238
I am working on a similar case and will look forward to any news on this

[2021-11-17 19:53] peterzenz commented on #4154
Thanks for asking, folks.   Planning is done quarterly on our end, we should have better visibility into what plans/roadmap will look like in January.  @EmLauber

[2021-11-17 21:43] narkaTee opened #4265 "Incorrect token expiration handling in the loadExternalTokens API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am trying to use the `loadExternalTokens()` API (documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8afb0be101c2ff51533fce867791efdba6d88ee6/lib/msal-browser/docs/testing.md)) to sidel

[2021-11-18 01:00] ghost commented on #4256
@productoptimization This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-18 01:00] #4095 closed

[2021-11-18 04:59] dillonbailey commented on #4258
Thanks @samuelkubai - just to confirm in order to work with a JSON file or similar, this documentation (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/extensions/msal-node-extensions/README.md) will provide the correct approach?

Perhaps this documentation: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/configuration.md c

[2021-11-18 08:40] exaucae commented on #4263
Have your Provider called in an **Auth microfrontend** with will set the user credential/token in the localStorage ( as you want ). Then have **your other MFEs read those credentials from localStorage** and behave accordingly. The Auth MFE would be your entrypoint MFE in root-config & always active. It needs to reroute to other MFE based on user authentification.

MFE: Microfrontend.

[2021-11-18 09:24] narkaTee commented on #4265
Just found issue #4189

This is a duplicate, I'm closing it.

[2021-11-18 09:24] #4265 closed, assigned to samuelkubai

[2021-11-18 09:28] narkaTee commented on #4189
I did some debugging and located the code which causes this.
Maybe that helps:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4265#issue-1056662150

[2021-11-18 13:11] dhruvildave22 opened #4266 "loginPopup does not redirect to redirectUri in the original tab but opens redirectUri on Popup."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I'm using MSAL in a react based SPA and a PCF component which is imported into a canvas app and this canvas app is embedded into Dynamic365 Field service CRM.
I have created a Azure AAD app registration and a

[2021-11-18 15:04] maddyjolly2112 opened #4267 "An update to MsalAuthenticationTemplate ran an effect , error when writing unit test with jest"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

I am getting errors while writing unit test cases for my application

An update to MsalAuthenticationTemplate ran an effect , error when writing unit test with jest in reactjs

[code]

Is there any solution w

[2021-11-18 16:18] pashvin commented on #4259
@samuelkubai One more question. If We get noNetworkConnectity error , then I think client can wait for network connectivity restored and then retry but sometime I get following error. Will re-try fix iframe timeout? or there is no point retrying on that error?

\"BrowserAuthError: monitor_window_timeout: Token acquisition in iframe failed due to timeout. For more visit: aka.ms/msaljs/browser-error

[2021-11-18 18:48] samuelkubai commented on #4258
Yes, @dillonbailey, in order to work with a JSON file the stated document will provide the correct approach.

We will work on updating the doc on configuration as well, thank you for that.

[2021-11-18 18:58] samuelkubai commented on #4263
@yoshegg does the suggestion above work as a solution for you.

As as a library we do not have any official solutions other than the solutions stated above and the aforementioned [issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4059), we however have this noted and have added this to our backlog.

[2021-11-18 19:12] samuelkubai commented on #4267
Hi @maddyjolly2112, could you shed more information on how exactly your are structuring your unit tests so as to best help answer your question.

[2021-11-18 19:18] samuelkubai commented on #4259
Hi @pashvin, we would need the fiddler trace of this too to be able to debug the source of this error.

As, this usually happens if the iframe renders a page that isn't the original page making the silent request, you would have to review a fiddler trace to know what page is actually being rendered.

[2021-11-18 19:43] dillonbailey commented on #4258
Amazing, thanks @samuelkubai

Will reopen if any issues. Also I never replied to your earlier question on environment. This will be deployed to a server less environment on AWS.

Thanks again!

[2021-11-18 19:43] #4258 closed, assigned to samuelkubai

[2021-11-18 22:30] oldorange opened #4268 "MSAL.js login using link?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.0

### Description

Is it possible to log user in with id_token in url?
I am developing a signin user journey to log user in using a link that sent to their email. When user click this link, B2C will issue an id_token and redire

[2021-11-19 02:29] pjchungmd opened #4269 "Passport-Azure-Ad Authenticate Middleware Stopped Working"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

I have created an app that uses the Bearer strategy from `passport-azure-ad` (v4.3.0) virtually identical to the code presented in https://github.com/Azure-Samples/active-directory-javascript-nodejs-webapi-v2

[2021-11-19 05:43] GeekyDiya commented on #4196
any updates @hectormmg or could you help?

[2021-11-19 08:25] yoshegg commented on #4263
@exaucae @samuelkubai We will try that and post our results. Thank you for your time.

[2021-11-19 09:22] rahulmotwani1996 opened #4271 "Cache location for Access token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I checked msal documentation regarding SSO.
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso

Since my client requested for SSO in our react app , i tried different ways to use sess

[2021-11-19 09:35] dankell commented on #4148
Sorry for the silence. Had to switch to other tasks. I suspected that I might have been in the wrong place. Can you give me a pointer as to which section of the Azure Portal I need to register the scope in correctly.

[2021-11-19 11:39] michaelmairegger commented on #4154
@peterzenz That means we can excpect that feature not before February?

[2021-11-19 15:44] peterzenz commented on #4154
No date planned at this time but it is in our queue.  January is the next planning cycle and the work, if prioritized for the quarter, would come after that.

[2021-11-19 18:24] hectormmg commented on #4196
@GeekyDiya could you explain why you're trying to redirect to the authority URL yourself? As mentioned before, the parameters you are trying to add to the authority URL are Auth Code request parameters, which, if configured in the MSAL token request, MSAL will append automatically when the token request happens.

The well-known URL path is added to the authority before MSAL requests the tokens fro

[2021-11-19 18:33] hectormmg commented on #4148
@dankell you can create custom scopes in the "Expose an API" tab in your app registration. After you create it, go to "API Permissions" then "My APIs" and add the new scope to your app registration.

[2021-11-20 08:14] rahulmotwani1996 commented on #4271
Hi @samuelkubai  any update on this?

[2021-11-21 01:00] ghost commented on #4251
@SnehalJ1509 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-21 01:00] ghost commented on #4058
@badsyntax This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-21 21:28] vegarringdal opened #4273 "Calling `acquireTokenSilent` with `forceRefresh: true` does not give me updated roles."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Calling `acquireTokenSilent` with `forceRefresh: true` does not give me updated roles.
Anything special I need to do to, or is this a bug ?

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

### Ide

[2021-11-22 00:09] 003marek opened #4275 "[MsalInterceptor] Missing user roles"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.2

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

I noticed that in MsalInterceptor "accessToken" is attached to authentication header. The problem is that it doen't contain user roles defined for the application in Azure AD. However roles are available i

[2021-11-22 00:15] #4275 closed, assigned to sameerag

[2021-11-22 07:13] SnehalJ1509 commented on #4251
@samuelkubai thanks for answering. I am not sure how to access/use the client-side cookies. I'll check that and it would be great if you can also give some reference urls for the same.

[2021-11-22 07:16] SnehalJ1509 commented on #4251
@pkanher617 @samuelkubai another question was that this issue is only with v1.x or also for v2.x? Upgrading the plugin to latest @azure/msal-angular version will fix the issue or not?

[2021-11-22 07:35] dhruvildave22 commented on #4266
Hi @samuelkubai any update on this?

[2021-11-22 10:47] samuelkubai commented on #4271
Hi @rahulmotwani1996, thank you for raising the question with us.

Could expound more on this?

By sharing more on what you have configured, what you expected and what is happening now.

[2021-11-22 10:51] rahulmotwani1996 commented on #4271
Hi @samuelkubai
I configured azure in my react application by setting the cache location to session storage, but when i opening the same application in new tab it is asking for login again. I tried sharing the session between multiple tabs it worked but idk if that is valid approach sharing session data between multiple tabs.

With using localStorage i was able to achieve the required Single sign

[2021-11-22 11:36] mattmelton commented on #3420
I can't deploy modern frontends - such as Angular and React - that use MSAL 2.x to hardened tenants (where PKCE is a requirement).

From what I can see no progress has been made on this since it was reported. Can I get a handle on whether you intend to fix this or not, because I must replace our Azure AD Application Proxy infrastructure otherwise.

[2021-11-22 16:14] sameerag commented on #4273
Ideally it should. Can you help is with steps to reproduce this?

[2021-11-22 16:34] sameerag commented on #4271
@rahulmotwani1996 `Session Storage` setting here is behaving exactly as intended, the browser limits the memory access to a session which is unique per tab. Our caching strategy is listed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/926f1c2ba0598575e23dfd8cdd8b79fa3a3d19ff/lib/msal-browser/docs/caching.md)

We cannot support SSO with `session storage` since the me

[2021-11-22 16:37] sameerag commented on #4238
@jackmcc08 Any reason why you are not migrating to MSAL JS V2? We would highly recommend to do that since all our new features are hosted in the new version and the Angular/React libraries are based of msal js v2.

[2021-11-22 18:29] jackmcc08 commented on #4238
Hi @sameerag,

As mentioned we are looking to use msal for Authenticating Users with an **ADFS server**.  My preference would be to use the MSAL JS V2 as it allows Auth code flow, but it does not seem that the package supports ADFS.

I have tried using the `msal-browser` and `msal-react` samples to connect to the ADFS server directly to login (popup and redirect) but it does not work. I am getting

[2021-11-22 19:40] vegarringdal commented on #4273
Made a sample to reproduce... but then it worked..
Looks like it it might be a short delay in my main app, refreshes fine the 2nd time..
closing

[2021-11-22 19:40] #4273 closed, assigned to sameerag

[2021-11-22 20:12] slubowsky commented on #4257
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4154#issuecomment-974183734

[2021-11-22 21:22] fgoulet commented on #4154
I hope it will be prioritized because it's a big issue for us. msal angular is the only dependency that prevent us to upgrade our project to Angular 13 right now. I was kind of expecting that being compatible with the latest angular released version would be a de facto priority. It concern me a little bit for the future I must say.

[2021-11-23 07:22] a1exwang opened #4276 "AuthorityMetadata cache is lost after calling TokenCache.getAccountByHomeId() causing PublicClientApplication.acquireTokenSilent() very slow due to retrieving AuthorityMetadata on every call"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

@azure/msal-node@1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

## Actual behavior

[code]

## Expected behavior
The second call to `acquireTokenSilent()` will not trigger HTTP request.

And my question is, what should I do to make the second call to `acquireTokenSilent()` hit

[2021-11-23 08:42] Delwalt commented on #4266
Hi @dhruvildave22  I also facing the same issue, did you find any solution ?

[2021-11-23 10:30] DerBasler opened #4277 "Cannot read properties of undefined (reading 'trim')"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-alpha.3

### Description

We saw in our Application Insights the following error:
**Cannot read properties of undefined (reading 'trim')**

Now I am unsure where to fix the issue.
A quick-fix would be to:
[code]
But the is

[2021-11-23 11:57] rahulmotwani1996 commented on #4271
@sameerag  If we are going with the localStorage cache strategy is there any security concern with it ?

[2021-11-23 13:00] #4250 closed, assigned to pkanher617

[2021-11-23 14:50] salttitan opened #4278 "MsalInterceptor causes timeout on AKS cluster"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

I have an Angular SPA that has been using msal-angular with passport-azure-ad for authentication for a couple of months now. About two weeks ago we had an issue that caused the AKS cluster to be restarted

[2021-11-23 16:53] sameerag commented on #4276
@a1exwang Thanks for raising this. Known issue and being fixed by #4081, the PR got delayed but will be prioritized soon.

[2021-11-23 18:23] Mabritoj commented on #4238
Hi @jackmcc08

I am actually going thru this exercise now with ADFS 2019.

For the CORS issue, you need to enable and set CORS on ADFS: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/customize-http-security-headers-ad-fs

Set-AdfsResponseHeaders -EnableCORS $true
Set-AdfsResponseHeaders -CORSTrustedOrigins https://example1.com,https://example2.com

Once I did that, the C

[2021-11-23 19:20] tnorling commented on #4251
@SnehalJ1509

This would be something that you would be responsible for implementing. There are no cookies set by MSAL.js for this purpose.

This will be an issue on both versions as this is an issue caused by the OS injecting cookies into your browser.

[2021-11-23 19:27] tnorling commented on #4238
@Mabritoj Is your post_logout_redirect_uri registered as a reply url on your app registration?

If needed, you can provide the `id_token_hint` to the logout API using the `idTokenHint` parameter and it will be appended to the logout url. See the type reference for logout [here](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_browser.html#endsessionrequest)

[2021-11-23 19:29] tnorling commented on #4268
@oldorange Please read instructions for implementing the invite flow [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md#b2c-and-invite-flow) and let us know if you have further questions

[2021-11-23 19:34] tnorling commented on #4266
@dhruvildave22 @Delwalt Are the main window and popup window running on the same domain? The `redirectUri` must be on the same domain as the window that opened the popup.

[2021-11-23 23:17] its-miller-time commented on #4206
I believe I am having a similar issue. We need to verify that users sending requests to our API's have permissions. Until recently, we have been using the ID token without issue (PKCE Flow). We tried switching to the access token, but the signature on the token cant be verified because it has a nonce and is specific for graph. Its been a very circular process in my googling....users who cant verif

[2021-11-23 23:29] tnorling commented on #4206
@its-miller-time In your scenario (and in most scenarios) you should be using an access token. There are very few scenarios where we would recommend using an idToken for anything other than getting basic information about the user (e.g. email address, name, etc.). Anytime you need to validate the user has permission to access something you should use an access token.

The reason your access token

[2021-11-23 23:35] tnorling commented on #4277
@DerBasler Can you please upgrade to the GA version of msal-angular and let us know if this is still an issue? If so, can you please also share your MsalGuard config? Thanks!

[2021-11-23 23:49] tnorling commented on #4114
Closing as this is due to a [known limitation](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/onLine) of the browser API that reports network status and there's currently nothing that can be done by MSAL.js to improve the accuracy of network detection.

[2021-11-23 23:49] #4114 closed

[2021-11-24 01:00] ghost commented on #4267
@maddyjolly2112 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-24 01:00] ghost commented on #4259
@pashvin This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-24 05:10] its-miller-time commented on #4206
@tnorling thanks for the reply. Yes we are requesting graph scopes. We were wanting to simply pass the headers along and validate the token in our API but it doesn't sound like that's possible? From what I gather the recommended/only solution would be to make an app registration specifically for our api's and request an additional token? Or will a custom scope allow us to use the same access token

[2021-11-24 08:22] DerBasler commented on #4277
@tnorling sorry for the inconvenience the issue seams to be resolved in "@azure/msal-angular": "2.0.5".

[2021-11-24 08:22] #4277 closed, assigned to tnorling

[2021-11-24 13:00] ghost commented on #4269
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2021-11-24 13:06] Mabritoj commented on #4238
HI @tnorling

Since its ADFS premise, I do not have any app registration fields for the logout redirect (like you would in Azure). Just a general field for "Redirect URI" is all that is available in ADFS:
![image](https://user-images.githubusercontent.com/22332897/143243815-5227fe42-1622-46eb-a70b-d4fd8d0466d8.png)

I did try the idTokenHint field and that worked! With that said, should this be th

[2021-11-24 17:05] tnorling commented on #4238
@Mabritoj

Is `http://localhost:8080` what you're trying to use as your post logout redirect url? Whether you're logging in or out the uri that the identity provider redirects you back to needs to be registered as a Redirect URI, if it's not the redirect won't happen. The "logout redirect url" you are referring to in Azure is used for single sign out which is different than what is being discussed

[2021-11-24 17:23] tnorling commented on #4278
@salttitan Can you please provide verbose level msal logs and a network trace? (Please email me the network trace)

Is the timeout occurring when acquiring a token or when calling the API with the token?

[2021-11-24 17:31] tnorling commented on #4271
@rahulmotwani1996 We do not have specific concerns about using local storage, however, it is your responsibility to ensure your application is not vulnerable to XSS and other attacks that may compromise the tokens held in browser storage whether you are using local or session storage.

[2021-11-24 17:51] tnorling commented on #4206
@its-miller-time

Access tokens are scoped to a single resource. If you need to access MS Graph APIs in addition to your own API you need 2 access tokens. However, this does not mean you need more than 1 app registration, you can register as many API permissions as you need on a single app registration.

The issue here is that AAD changed access tokens lifetimes from a static 60 minutes to a varia

[2021-11-24 18:23] salttitan commented on #4278
@tnorling The timeout is occurring when calling the API with the token, the token is acquired successfully first. I emailed you the logs and network trace.

Thanks!

[2021-11-24 18:59] Mabritoj commented on #4238
Hi @TomHickling

Here is my logout code:

function logout() {
    const logoutRequest = {
        account: msalInstance.getAccountByHomeId(accountId),
        postLogoutRedirectUri: "http://localhost:8080",
        idTokenHint : idToken
    };

    msalInstance.logoutRedirect(logoutRequest);
}

Before the idTokenHint suggestion, it was just the first two parameters of account and podLogoutRedirect

[2021-11-24 19:26] tnorling commented on #4278
@salttitan Thanks for sending those over. It looks like MSAL is doing everything it's supposed to; it's acquiring a token and attaching it to the HTTP request to your API. Unfortunately, everything that happens after is out of scope for this package. I see a few `net::ERR_CONNECTION_CLOSED` messages in the logs, have you tried debugging your API to determine if it's even receiving the request or i

[2021-11-24 20:18] salttitan commented on #4278
@tnorling The API isn't receiving the request when the endpoint is on the Protected Resources Map, but it works fine if it's not (or if we disable the MsalInterceptor entirely). That's why I thought it could be the Interceptor; it's only when the Interceptor steps in that we see those errors; unprotected endpoints are fine.

[2021-11-24 21:44] tnorling commented on #4278
The API request is made and the token is attached, so the interceptor is doing what it's expected to do. Have you tried making a request without the interceptor by manually attaching the access token yourself?

[2021-11-25 00:11] exaucae commented on #4263
@yoshegg , here is an additionnal doc for the issue: https://github.com/exaucae/single-spa-patterns/blob/master/AUTHENTICATION.md

[2021-11-25 01:00] ghost commented on #4196
@GeekyDiya This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-25 01:00] ghost commented on #4148
@dankell This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-25 01:00] #4256 closed, assigned to pkanher617

[2021-11-25 06:00] ms1832 opened #4281 "How to use azure login using electron and angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Description

I am trying to implement azure authentication in my electron application, I already created an angular app where all works fine so when the application loads it redirected to azure login page and if auth

[2021-11-25 06:45] dhruvildave22 commented on #4266
@tnorling Main window is opening a Microsoft Authentication login popup, which should redirect back to the same main window domain after successful authentication.
So yes `redirectUri` is same as main window domain.
I have tried *.crm.dynamics.com and *.crm.dynamics.com/main.aspx both as `redierctUri`.

[2021-11-25 09:29] SnehalJ1509 commented on #4251
@tnorling ok, then that will require some R&D to implement it.

When can we expect this to be fixed? any timeline set for this?

[2021-11-25 13:12] SnehalJ1509 commented on #4251
@pkanher617 @samuelkubai @tnorling  I've figured out how to use the cookies but I still don't get this approach.

Let us say when the user logs in the app I set a cookie and when user clicks logout, at that time if I find that cookie then instead of calling the MSAL API (this.authService.logout()) should I just clear the localStorage and redirect user to app login page?
When user clicks on login w

[2021-11-25 18:09] maddyjolly2112 commented on #4267
I have added the configs in the question

[2021-11-26 16:26] Efrony commented on #3260
@collaorodrigo7, Thanks for the screenshot, it was not very clearly written at the top =)
I'll add some too

Client
![image](https://user-images.githubusercontent.com/45768389/143609094-75e95492-61e8-4225-84e3-967aae1448c5.png)

Server
![image](https://user-images.githubusercontent.com/45768389/143609248-2f19b514-7966-44e5-aa43-d5ac035d567e.png)

Delete  User.read

It remains to figure out how to

[2021-11-26 21:34] PetterRuud opened #4282 "MSAL in Storybook"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.1

### Description

I'm Trying to set up MSAL in Storybook using a decorator, https://storybook.js.org/docs/react/writing-stories/decorators

It works fine on pageload and if refresh the page, but if i click between the stories

[2021-11-28 13:00] #4058 closed

[2021-11-28 16:53] igorovic commented on #4282
I have a similar issue in a Next.js app when using router.push().

Msal inProgress property is set to `startup` then nothing else happens. Nothing is rendered and inPorgress remains at `startup`.

Here are the my msal trace logs:

[code]

And the react components explorer:

![image](https://user-images.githubusercontent.com/758832/143777903-cfc31e17-d2d6-441c-b692-7df0a5bd1bf6.png)

[2021-11-29 01:00] ghost commented on #4276
@a1exwang This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-29 01:00] ghost commented on #4268
@oldorange This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-29 01:00] ghost commented on #4217
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2021-11-29 10:33] SnehalJ1509 commented on #4251
After doing some testing again, we found that now it is working in desktop Chrome and Firefox. But it is not working in iPad Safari in one specific scenario.

As we have corporate devices, they are MDM enrolled and while enrolling few certificates get installed in the device. So when we try to login we get an option to use the certificate for password-less login. See below screenshot.

![Microsoft

[2021-11-29 16:48] m-sterspace commented on #4206
I've also run into this bug on my application, but I was just curious about why you always want to use access tokens over idTokens? If your application is implementing role based authentication, you can store the roles with your Azure App Registration and have them returned as claims, but you can also store that information with your user account in your database. It means that you might have to d

[2021-11-29 17:24] tnorling commented on #4266
@dhruvildave22 Is there a hash fragment in the url in the popup or has it been cleared?

[2021-11-29 17:30] sameerag commented on #4251
@oldalton Can your team help here? Is this scenario by design for an MDM enrolled device?

@SnehalJ1509 This may fall out of scope for MSAL JS team, we have tagged our iOS team if they have any clues to sort this issue for you

[2021-11-29 17:59] sameerag commented on #4282
@PetterRuud What happens if you add an MSAL provider for each story? Does the refresh work? Also can you please MSAL logs which can help us determine if the events are triggered in the right order.

@igorovic Can you please check the Next.js sample we published for your issue? You can access the sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-

[2021-11-29 18:00] sameerag commented on #4281
@ms1832 Did you check our electron sample (though it is on the server end) for the `redirectUri` usage? The sample can be accessed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ElectronTestApp)

[2021-11-29 18:01] sameerag commented on #4269
@pjchungmd Will you be able to share us logs and any fiddler trace you have? My email is available in my [profile](https://github.com/sameerag).

[2021-11-29 18:06] igorovic commented on #4282
I actually used the sample you mentioned.
The issue only happens when I try to change the locale of the project. According to Next.js documentation we can use a link like this one.

`<Link href="/" locale="fr">FR<Link>`

All the links without `locale` work properly. But using `locale` attribute somehow blocks msal client.

[2021-11-29 18:08] tnorling commented on #4267
@maddyjolly2112 This error is thrown when a state update occurs **after** the test has already completed. Most MSAL.js APIs are asynchronous and thus state is updated several times before stabilizing. To resolve this your tests will need to wait until all renders are complete before running your test assertions. The `react-testing-library` explains this in more detail in their FAQ [here](https://t

[2021-11-29 19:40] hectormmg commented on #4217
Tracking this issue offline, will keep updating as necessary.

[2021-11-29 23:34] tnorling commented on #4282
@igorovic On the route change is `MsalProvider` being unmounted/re-mounted? What's happening is that `MsalProvider` expects certain events to be fired to advance through the `inProgress` states and these events are not being fired on the route/locale change because the `PublicClientApplication` hasn't been reinitialized. Essentially there's a misunderstanding between `MsalProvider` and `PublicClie

[2021-11-30 01:00] ghost commented on #4278
@salttitan This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-30 01:00] ghost commented on #4271
@rahulmotwani1996 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-30 01:00] ghost commented on #4263
@yoshegg This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-30 01:00] ghost commented on #4238
@jackmcc08 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-11-30 06:04] ms1832 commented on #4281
@sameerag  yes, I have checked and it works.

But i am thinking of below two approaches :

1.  Is there any solution that, can use custom redirect uri (msal://auth) to angular (implement login using msal-angular) and handle that redirection to electron side.

2. If use login on electron side (using msal-node) [here,](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/sampl

[2021-11-30 06:07] igorovic commented on #4282
@tnorling Thanks for the quick response.

I think that `MsalProvider` is above all routes since it's declared in `_app.tsx`.  Here is what my code looks like.

[code]

I suspect that the culprit is `appWithTranslation` from [next-i18next](https://www.npmjs.com/package/next-i18next). But I couldn't isolate the problem.

[2021-11-30 07:07] yip-anthony-principal opened #4289 "localization for the login page: `https://login.microsoftonline.com/`"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.2

### Description

it seems the language of the login page (https://login.microsoftonline.com/) is based on the user's browser settings, instead of the react application's settings. The user can be on a French language browser

[2021-11-30 10:08] SnehalJ1509 commented on #4251
Thanks @sameerag for tagging the right team. I understood this is not a MSAL plugin issue anymore. So after getting some proper solution or reply I'll close this ticket.

[2021-11-30 12:42] lohse614 commented on #4171
Hi,

I am facing the same problem with a plain javascript application.

1. opening the app on the welcome page with a sign-in button
2. click on sign-in button triggers a custom policy with a step for the identity provider selection
3. when clicking the browser's back button, the app navigates back to the welcome page with the sign-in button
4. sign-in again appears to not do anything, in the cons

[2021-11-30 14:00] salttitan commented on #4278
@tnorling Looks like manually attaching the token doesn't work either, we're working with our AKS team now. Thank you for your help!

[2021-11-30 14:00] #4278 closed, assigned to tnorling

[2021-11-30 14:34] oldorange commented on #4268
That make sense. Thank you!

[2021-11-30 14:34] #4268 closed, assigned to tnorling

[2021-11-30 15:10] marshall86 opened #4290 "Ionic support in MSAL Browser"
Now that MSAL 2 has shipped this should be re-opened - currently there is no viable way to use MSAL with Ionic apps that are intended for both browser and native, and I imagine this is the same of other hybrid frameworks

_Originally posted by @jjgriff93 in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1439#issuecomment-672944505_

[2021-11-30 16:03] jmprieur commented on #4290
@marshall86 : can you please help me understand why do you think this would be related to Microsoft.Identity.Web (which leverages MSAL.NET 4.x) ?

[2021-11-30 16:32] marshall86 commented on #4290
sorry I don't know if it's the correct correlation but I would like to ask for an MSAL Ionic integration. Can you help with that?

[2021-11-30 16:36] jmprieur commented on #4290
In which language would the apps be authored?

[2021-11-30 16:44] marshall86 commented on #4290
we use Angular with Ionic. I tried the integration with MSAL like in a normal Angular project but it doesn't work

[2021-11-30 17:37] tnorling commented on #4282
@igorovic Ah, I'm guessing since `appWithTranslation` wraps your `MyApp` component that locale changes are causing a re-render of both your page contents and `MsalProvider`. Instead can you try wrapping `Component` with `appWithTranslation` instead so that the translation also sits underneath `MsalProvider`?

Alternatively, you can initialize `PublicClientApplication` before `MyApp` mounts, howeve

[2021-11-30 17:58] igorovic commented on #4282
I was able to workaround this issue with this code.

[code]

@tnorling  Thanks for your help.

[2021-11-30 19:20] jmprieur commented on #4290
So I think it's more a question for MSAL.js ?  AzureAD/microsoft-authentication-library-for-js ?
@EmLauber ?

[2021-11-30 19:26] marshall86 commented on #4290
Most probably they will be able to help, thanks

[2021-11-30 19:36] jmprieur commented on #4290
@marshall86 : I transferred the issue to the MSAL.js repo.

[2021-11-30 20:01] saragibby opened #4291 "Update acquireTokenSilent to recoginize and use given extraQueryParameters"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Description

Calling `acquireTokenSilent` from my MSAL instance within React app. Passing `extraQueryParameters` to this request so that I can append the `safe_rollout` query parameter to this request for our application registration.

From reading the code, I see that `acquireTokenSilent`

[2021-11-30 20:52] jasonnutter commented on #4291
@saragibby For `acquireTokenSilent`,  `extraQueryParameters` will be passed to the `/authorize` endpoint (if called, e.g. for RT renewal), while `tokenQueryParameters` will be passed on the `/token` endpoint. Please try passing `safe_rollout` in the `tokenQueryParameters` parameter object and let us know if that works, thanks!

[2021-12-01 01:45] Arash-Sabet opened #4292 "Angular app using MSAL library v2 shows the login page after reloading the page"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.5

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

13.0.2

### Description

I am able to log in and use the app successfully but when I refresh the page, the sign-in prompt shows up to get the user signed in. What is missing in this configuration or what should be done to prevent

[2021-12-01 06:12] xiaolang124 opened #4293 "Endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_config_error"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

https://github.com/OfficeDev/TeamsFx/issues/3174

I use pca.acquireTokenSilent to get accessToken, but need to restart multi times to login successfully. This is the error that user has encountered.
[code]

Do you have any idea wh

[2021-12-01 06:47] marshall86 commented on #4290
@jasonnutter why this issue has been closed?

[2021-12-01 13:00] #4259 closed, assigned to samuelkubai

[2021-12-01 16:54] sameerag commented on #4289
@yip-anthony-principal MSAL JS does not control the UI. We allow to set a `locale` param which can be used to set the language. Have you tried that? You can pass it through `extraQueryParameters` supported in the [request](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/request-response-object.md).

[2021-12-01 17:02] jasonnutter commented on #4290
@marshall86 Sorry, our bot autoclosed this because it didnt have the correct template once I marked it as a feature request. Unfortunately, we have been busy with other higher priority work, and have not been able to prioritize Ionic support. I'll keep this open for tracking.

[2021-12-01 17:07] marshall86 commented on #4290
alright, i understand, but this is still a priority for many like myself encountering this issue...

[2021-12-01 17:14] sameerag commented on #4292
@Arash-Sabet Do you mean that every time you refresh the page are you prompted the login screen? Can you please share the steps to repro in detail, preferably with our angular [sample]() along with the usage details - Calling pattern, MSAL Angular configuration MSAL interceptor and MSAL guard?

Please also provide us verbose logs preferably, since that would help us get more detail here.

[2021-12-01 17:16] sameerag commented on #4293
@xiaolang124 Are you using any proxy in your configuration?

[2021-12-01 17:20] JJHakiLe opened #4294 "Azure AD B2C Endpoint for checking active session"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.11.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hi there, i'm using MSAL browser for authentication on multiple websites with different domains under a single application under one Azure AD B2C Tenant. I am exploring options for cross-tab, cross-domain single sign off. I w

[2021-12-01 19:27] saragibby commented on #4291
@jasonnutter that was it! Thank you for your quick response and help. When I call `loginRedirect` I have it now set to pas both `extraQueryParameters` and `tokenQueryParameters` which seems to do the trick to handle the authentication and fetch of token in the case where I need to `safe_rollout` to pass into both.

When calling `acquireTokenSilent` I have added only `tokenQueryParameters` (no `ext

[2021-12-01 19:27] #4291 closed, assigned to nobody

[2021-12-01 19:30] Arash-Sabet commented on #4292
@sameerag Please share your email address so that I can direct you to a live website that exhibits this issue. Thanks.

[2021-12-01 23:15] izikl opened #4295 "Login fails with interaction_in_progress error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Eventhough, handleRedirectPromise is the first thing that happens in our SPA app, interaction_in_progress is thrown when logging-in.

`storeAuthStateInCookie` is set to true.

This is the cookie I see in Chrome's dev tools:
!

[2021-12-02 05:39] byang35 opened #4297 "Can't get response from sdk on web application"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We use @azure/msal-node to get authority for my teams,
We encountered an unknown situation and were unable to get the response when we change a new environment,
And i sure my config is correct
[code]
No specific information is di

[2021-12-02 05:56] sameerag commented on #4295
@izikl Can you please share the code fragment where you are calling `acquireTokenRedirect` and `handleRedirectPromise`?

[2021-12-02 05:58] sameerag commented on #4297
@byang35 Can you please share your `Configuration` and fiddlers trace if possible? You can share the trace to via email in my profile.

[2021-12-02 06:17] byang35 commented on #4297
@sameerag
[code]

[2021-12-02 06:30] byang35 commented on #4297
@sameerag
I send the fiddler trace for you, please check it

[2021-12-02 09:25] hartmair opened #4298 "Angular Ivy distribution"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

When compiling with Angular 13, the following pops up:

### Source

External (Customer)

[2021-12-02 13:00] #4196 closed, assigned to hectormmg

[2021-12-02 13:00] #4148 closed, assigned to hectormmg

[2021-12-02 14:48] maddyjolly2112 commented on #4267
I will have a look into it

[2021-12-02 14:48] #4267 closed, assigned to tnorling

[2021-12-02 17:25] sameerag commented on #4295
@izikl The "hash" is being rejected by MSAL in the below error:

We clear all the temporary cache after the failure, and the cookies should have been cleared too.
Can you try setting `storeAuthStateInCookie: false` and let us know if you are still seeing the issue?

[2021-12-02 17:27] sameerag commented on #4298
@hartmair Added to this our board to track and prioritize.

[2021-12-02 17:27] sameerag commented on #4294
@nickgmicrosoft Can you help here?

[2021-12-02 22:20] conor909 opened #4299 "Different AuthenticationResults for different environments"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.2

### Description

Using a basic sign in user flow policy.  The response from `acquireTokenSilent` is different in my development environment than my QA environment, even though the code is the same and configuration in ADB2C i

[2021-12-03 06:27] dhruvildave22 commented on #4266
@tnorling  No, there is not any hash fragment in the login popup I am adding all the urls comes in login Popup.
1. When login Popup asks to select an account or add a new account: ```https://login.microsoftonline.com/<tanent_id>/oauth2/v2.0/authorize?client_id=<client_id>&scope=openid%20offline_access%20https://storage.azure.com/user_impersonation%20profile&redirect_uri=https://my-fs-test2.crm.dyn

[2021-12-03 09:32] conor909 commented on #4299
My scope was a hard coded string to the wrong tenant

[2021-12-03 09:32] #4299 closed, assigned to sameerag

[2021-12-03 09:38] izikl commented on #4295
@sameerag

1. [call to handleRedirectPromise](https://dev.azure.com/msazure/One/_git/Azure-Kusto-WebUX?path=/kustoweb/src/AuthenticationProviders/MsalAuthProvider/MsalAuthenticationProvider.ts&version=GBmaster&line=58&lineEnd=59&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents)
2. [Trigger of handleRedirectPromise](https://dev.azure.com/msazure/One/_git/Azure-Kusto-WebUX?path=/kustowe

[2021-12-03 09:53] izikl commented on #4295
Only cookies with prefix `msal.<client ID>` are deleted:
[const cookiePrefix = `${Constants.CACHE_PREFIX}.${this.clientId}`;](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8afb0be101c2ff51533fce867791efdba6d88ee6/lib/msal-browser/src/cache/BrowserCacheManager.ts#L631)

However, during my tests the cookie was set with the `msal.` prefix and not with `msal.<client ID>`:
![i

[2021-12-03 12:55] sameerag commented on #4297
@byang35 I checked the trace but see only one packet which is a not the microsoft authority you mentioned above. I have tested the well known endpoint to make sure the authority is valid and it does return valid values:

I would need a couple things to proceed:
* A fiddler trace and/or verbose MSAL JS logs capturing the auth flow from the start
* Detailed steps for reproducing on our end

[2021-12-03 12:58] JasSuri commented on #4294
This is not an entirely an MSAL issue, but how AAD B2C performs single logout against your applications, and latest browser protections.

When you hit the AAD B2C /logout endpoint, AAD B2C spawns hidden iframes to every website with a registered logout url that the user is currently tracked to be logged into.
These iframes attempt to clear the MSAL local storage state from the application.

This o

[2021-12-03 13:05] sameerag commented on #4292
@Arash-Sabet My email is available in my [profile](https://github.com/sameerag)

[2021-12-03 13:57] eXXeption opened #4300 "npm >=7 + angular 13: unable to resolve dependency tree"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

-

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

When using the current Version of angular, angular uses rxjs >7.
@azure/msal-angular uses rxjs 6 as a peer dependency.
Since NPM >=7 the npm install will fail for mismatched peer dependencies for direct projec

[2021-12-03 13:58] JJHakiLe commented on #4294
I see, so AAD B2C endpoint will spawn a hidden iframe with the registered logout URL for each client application that the user is signed into. So the registered logout URL will only work if the application is only used with a single domain. Hence, why local storage works for single sign out in these cases.

Got it, does the method `ssoSilent()` make a request to AAD B2C endpoint to see if cookies

[2021-12-03 16:53] tnorling commented on #4266
@dhruvildave22 The authentication response is returned in the hash fragment which MSAL needs to extract before closing the popup. If your site is removing the hash or redirecting the page inside the popup before MSAL can read the hash it can result in the behavior you are seeing. Looks like your site is adding some query parameters? Please make sure when this happens it is not also removing the ha

[2021-12-03 17:25] sglickman opened #4301 "msal-angular with AD FS 2019"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

^2.0.5

### Description

I'm trying to follow the <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular-auth-code">msal-angular-tutorial</a> to create an angular app which authenticates ag

[2021-12-03 17:31] sglickman commented on #4301
Seeing this error in my browser console:

GET https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://staging.mydomain.com/adfs/oauth2/v2.0/authorize 400

[2021-12-03 17:40] sglickman commented on #4301
I added a `knownAuthorities` section and it seems to be working - apologies for the noise but it would be very helpful to have a mention of this on the tutorial page.

[2021-12-03 17:40] #4301 closed, assigned to sameerag

[2021-12-03 23:08] tnorling commented on #4282
This issue will be fixed by the linked PR. Thanks for bringing this to our attention!

[2021-12-05 01:00] ghost commented on #4269
@pjchungmd This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-05 01:00] ghost commented on #4217
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2021-12-05 13:00] ghost commented on #4281
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2021-12-05 13:00] ghost commented on #4251
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2021-12-05 16:04] Arash-Sabet commented on #4292
@ sameerag I just invited to a private repo on Github.

[2021-12-06 08:19] KennethBWSong opened #4303 "ssoslient will sometimes return "monitor_window_timeout" error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When calling msalInstance.ssoSlient() in teams app, sometimes will return "monitor_window_timeout" error.  This can not always reproduce. We want to figure out the root cause of this problem.

### Error Message

Token acquisi

[2021-12-06 10:19] JasSuri commented on #4294
Actually yes, you are right there, even `ssoSilent()` will fail in the case where the app is on a different domain to AAD B2C. So right now, there is no real (nice) workaround here.

[2021-12-06 13:00] #4276 closed, assigned to sameerag

[2021-12-06 16:04] JJHakiLe commented on #4294
Gotcha, so `ssoSilent()` will fail on apps with multiple different domains. Okay, I think this answers my questions. Thank you very much for your insight and help @JasSuri !

[2021-12-06 16:04] #4294 closed, assigned to sameerag

[2021-12-06 16:29] jasonnutter commented on #4217
@hectormmg Any update on this issue?

[2021-12-06 18:40] JosephThomas commented on #4217
Seems that the issue seems to be a fluke, happened a handful of times and was not able to reproduce. Hector mentioned that it could be due to some user's having a bad connection.

[2021-12-06 18:40] #4217 closed, assigned to hectormmg

[2021-12-06 20:51] slubowsky commented on #4300
see #4154

[2021-12-07 00:07] #4282 closed, assigned to tnorling

[2021-12-07 01:00] ghost commented on #4293
@xiaolang124 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-07 01:00] ghost commented on #4289
@yip-anthony-principal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-07 01:04] ghost commented on #4282
:tada:This issue was addressed in #4302, which has now been successfully released as `@azure/msal-react@v1.1.2`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-react-v1.1.2)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-react/v/1.1.2)

[2021-12-07 01:55] xiaolang124 commented on #4293
The user does not use a proxy, and he can open https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration directly.

Any idea why this happens and how to bypass this?

OfficeDev/TeamsFx#3174

[2021-12-07 12:53] samushenkov commented on #4295
Hello there. We are getting totally the same exception - interaction_in_progress.

config:
[code]

There is a chance to break an application until end user "clears site data". It happens if user closes page during redirect process (from b2c to our app with auth state provided). MSAL adds **msal.interaction.status** cookie and doesn't delete it (user closes page before).

First of all we start work

[2021-12-07 13:00] #4271 closed, assigned to samuelkubai

[2021-12-07 13:00] #4263 closed, assigned to samuelkubai

[2021-12-07 13:00] #4238 closed, assigned to tnorling

[2021-12-07 14:42] jasonnutter commented on #4300
We are aware of the issues with Angular 13 and rxjs 7, and so will close this as a duplicate. Thanks!

[2021-12-07 14:42] #4300 closed, assigned to jasonnutter

[2021-12-07 22:19] jasonnutter commented on #4303
@KennethBWSong Do you have a correlation id and timestamp of a request you can share? Thanks!

[2021-12-07 22:30] tomlagier commented on #4295
Not sure if this is related, but I just started seeing this error with the following config. It had seemingly worked OK for the last couple of weeks, not sure if we're seeing an edge case, some service instability, or just plain misconfiguration that didn't show up until now:

`authConfig.ts`
[code]

`auth.tsx.`
[code]

`some-page.tsx`
[code]

`@azure/msal-react` v1.1.1, `@azure/msal-browser` v2.1

[2021-12-07 22:38] Coach-BWise opened #4311 "Unexpected account in"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When I call pca.getAllAccounts(). I'm not getting the expected response. Specifically, the account I get back has an audience that does not match what I intended. the acquireToken() method returns InteractionRequiredAuthError

[2021-12-07 22:48] jasonnutter commented on #4311
@Coach-BWise Can you please clarify what you mean by "audience"? Are you referring to the "aud" claim in the id token for the account, or a different claim?

[2021-12-07 22:49] Coach-BWise commented on #4311
yes the aud claim

[2021-12-07 22:57] jasonnutter commented on #4311
Do you have other apps that use MSAL running on the same domain (this can easily happen with localhost). And does this happen if you manually clear the MSAL cache and then relogin, or in a private window?

[2021-12-07 23:17] Coach-BWise commented on #4311
I have tested this in incognito (using chrome) and this still occurs

[2021-12-07 23:22] Coach-BWise commented on #4311
to further add:
the idTokenClaims:
aud:
shows an id that i'm not expecting.
the name: is my account however
i'm expecting the aud: to match my "clientId" that i have set in .env

[2021-12-07 23:25] Coach-BWise commented on #4311
I believe the account is the problem, but maybe I'm confused. Below is the error being thrown:

InteractionRequiredAuthError: no_tokens_found: No refresh token found in the cache. Please sign-in.

I'm expecting to receive a token which I can then add to the header of an api call.

[2021-12-07 23:40] jasonnutter commented on #4311
If you can please record and share a fiddler tracer (via my email on my profile), that would be helpful. And please clear the local storage cache before doing so.

This error happens when your app invokes `acquireTokenSilent` without a refresh token in the cache, i.e. the user hasn't logged in to your application yet. Invoking an interactive method will resolve.

[2021-12-08 01:47] KennethBWSong commented on #4303
Hi @jasonnutter. Thank you for your reply. I reproduce the error today and here is the request info:

Date: Wed, 08 Dec 2021 01:34:05 GMT
x-ms-request-id: 98fea366-2a34-4a93-a5ee-2ce86df61e00

[2021-12-08 06:37] Shyam268 opened #4312 "RedirectRequest for login should not require scopes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

"@azure/msal-react": "^1.1.0",

### Description

not able to implement forgot password policy. and it throws error to provide scopes why its required here ? i thought
     let req:RedirectRequest = {authority: 'https://mytenent.b2cl

[2021-12-08 12:27] Arash-Sabet commented on #4292
@sameerag Just wondering, did you have a chance to accept the repo invitation request that I sent you a few days ago?

[2021-12-08 13:00] ghost commented on #4297
@byang35 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2021-12-08 17:02] sameerag commented on #4292
@Arash-Sabet Yes, can you please share it with @jasonnutter as he is working on this? His email is accessible in his profile. Apologies for the delayed notice.

[2021-12-08 17:05] Coach-BWise commented on #4311
.catch((error) => {
          if (error instanceof InteractionRequiredAuthError) {
            // fallback to interaction when silent call fails
            return this.authenticationContext.acquireTokenRedirect(
              this.tokenRequest
            )
          } else {
            console.log(error)
            reject()
          }
        })

        I am noticing that with the above part

[2021-12-08 17:15] jasonnutter commented on #4312
@Shyam268 Can you please clarify the exact error message you are getting? And can you please provide verbose logs from MSAL? Thanks!

[2021-12-08 17:41] Coach-BWise commented on #4311
I did email you regarding Fiddler; I'm not sure how exactly to get you the information from there. (exporting didn't seem to work)

[2021-12-08 17:46] Coach-BWise commented on #4311
if I force my .catch(error) to evaluate to true, the .acquireTokenRedirect(this.tokenRequest) gives me a new webpage with the following error:

AADSTS70011: The provided request must include a 'scope' input parameter. The provided value for the input parameter 'scope' is not valid. The scope '16e28010-7f37-4d12-a695-3f94b705be1f/.default' openid profile offline_access is not valid. The scope forma

[2021-12-08 17:48] Coach-BWise commented on #4311
As a side note: i am running this in a container app. I am authenticated to enter the container app. I then need a separate authentication to hit certain API's. I hope this is making sense.

[2021-12-08 18:32] tomlagier opened #4313 "NextJS custom router: iOS Safari redirect loop when ITP enabled"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

Any attempt to log in on any iOS browser with Intelligent Tracking Protection starts a redirect loop. Works fine on desktop Safari & other desktop browsers as well as Android, and if I turn ITP off it works o

[2021-12-08 20:27] izikl commented on #4295
@samushenkov until this bug is fixed, I workaround this bug by deleting the cookie `msal.interaction.status` immediately after the call to `handleRedirectPromise`.

[code]

[2021-12-08 20:28] samushenkov commented on #4295
Yep, did it too.

[2021-12-08 20:57] jasonnutter commented on #4313
@tomlagier I believe this is happening because your application is attempting `ssoSilent` after coming back from `loginRedirect`, which would cause a redirect loop if 3p cookies are disabled. Your app can attempt silent login initially on page load, however, if that fails and the apps needs to do an interactive login, it should not attempt `ssoSilent` again (as it will deterministically fail if 3p