[2021-01-06 08:41] SamVanGeijn commented on #2826
Hi @jo-arroyo,

We have an AngularJS application and therefore use msal-angularjs 0.1.1. The provided samples are for later versions of Angular. Is it possible to use 'b2clogin' with msal-angularjs? If not, are there any other options besides upgrading our AngularJS application to Angular?

Thanks!

[2021-01-06 11:06] Ladvace commented on #2729
Thanks to you for fixing that

[2021-01-06 12:39] drweb86 commented on #2691
Hello

We have the same issue

Reproduction steps
1. Authorise using MSAL in some domain
2. Open web-site/Test1 and web-site/Test2 pages at the same time from one page (using middle mouse click). Each page should instruct MSAL to redirect to itself (it is important)
3. Result:
Page 1: The token request could not be fetched from the cache correctly. Error Detail: TypeError: Cannot read property 're

[2021-01-06 13:58] drweb86 opened #2833 "Open 2 pages on Sharepoint 365 with web-part using MSAL fails"
## Library
- [x] `msal@1.4.4`, `msal@1.4.0`,
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] React

## Description

The token request could not be fetched from the cache correctly. Error Detail: TypeError: Cannot read property 'replace' of null.

## Error Message
Error on one page: The token request could not be fetched from the cache correctly. Error Detail: TypeError: Cannot read property

[2021-01-06 15:21] vinizinmoraes commented on #2451
Hi,

Any news about this bug or a workaround? I am trying to update from msal 1.x to 2.x and just realize right now that everything is correct but the scope is been change from client id to "/". Thanks!

[2021-01-06 16:29] c-mpatel commented on #2822
@jo-arroyo  I have changes this.authService.acquireTokenPopup(requestObj) when aquireToken api got failure insted of this.authService.acquireTokenRedirect(requestObj)

 **issue:** popup fade in fade out for few second and in console getting below error:
 AADB2C90077: User does not have an existing session and requests prompt parameter has a value of 'None'.

[2021-01-06 16:46] MarinaGurevich opened #2834 "MSAL.js login reuses previous user token"
- We have a hybrid application that is first asking users to enter their email address, then based on whether their email domain supports the Federated Authentication feature we direct them to Azure AD B2C login. If it doesn't we ask them for their internal application username and password stored in the database. We are not using B2C "local accounts" feature, only external IDPs. Currently we only

[2021-01-06 17:04] tnorling commented on #2799
@shyam2794 Yes, the library handles all caching under the hood, you do not need to handle this yourself.

[2021-01-06 17:21] tnorling commented on #2691
@drweb86 Can you clarify your versions? Msal versions 1.4.4 and 1.4.0 do not use the Authorization Code Flow and are not the same as `msal-browser`.

I believe, the problem in your case is that we do not support multiple concurrent interactive requests for the same application. When you start the redirect flow msal places the request in localstorage so that when it returns from the AAD sign-in pag

[2021-01-06 17:25] baSSiLL commented on #2451
I outlined the workaround which worked for me in the original post:

[2021-01-06 19:35] mg-arrow opened #2835 "Angular 9 application error after redirect from successful Azure B2C login"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-alpha.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description

We are trying to integrate the ex

[2021-01-06 19:45] jo-arroyo commented on #2834
@MarinaGurevich Is there an amount of time that affects this behavior? Could you also provide the version of MSAL you are using? Using our [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose) can help us diagnose where the problem is.

@nickgmicrosoft Can you take a look at this? Is it related to the B2C service?

[2021-01-06 20:06] jo-arroyo commented on #2826
@SamVanGeijn Unfortunately, the `b2clogin` domain is not supported in msal-angularjs 0.1.1, and since msal-angularjs is no longer being actively maintained, we suggest upgrading to msal-angular so you can take advantage of the latest MSAL library. If you are unable to upgrade, you may consider forking msal-angularjs and making the needed changes.

[2021-01-06 20:10] jo-arroyo commented on #2822
@c-mpatel When the popup fade in and fades out, are tokens being acquired successfully? If 3rd party cookies are disabled, the error AADB2C90077 is expected, and acquiring tokens via popup should succeed.

[2021-01-06 21:02] MarinaGurevich commented on #2834
I am reproducing the issue with the sample pack https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp I modified for two subsequent users signing in. This is MSAL.js 1.0 since 2.0 was not supported by B2C till now.

I did not measure the time. It is definitely related to the Azure AD session still going, but for our corporate Azure AD where multiple applications are c

[2021-01-07 00:45] mg-arrow commented on #2835
I enabled logging as suggested and only got 1 additional line added the output

[Thu, 07 Jan 2021 00:43:10 GMT] :  : @azure/msal-browser@2.8.0 : Info - Emitting event: msal:loginStart

core.js:40846 Angular is running in the development mode. Call enableProdMode() to enable the production mode.
exception-handler.service.ts:10 EXCEPTION: Error: Uncaught (in promise): BrowserAuthError: interaction_i

[2021-01-07 00:51] #2739 closed

[2021-01-07 00:51] #2730 closed

[2021-01-07 00:51] #2578 closed

[2021-01-07 00:51] #2557 closed

[2021-01-07 04:48] c-mpatel commented on #2822
@jo-arroyo  after popup fade in and fades out and the token is not renewing in session storage. and getting below error.

**error:** ClientAuthError: Login_In_Progress: Error during login call - login is already in progress.

[2021-01-07 14:04] AmitFidler opened #2836 "acquireTokenByCode does not return a refresh token"
tried working with msal-node for oauth code flow,
getAuthCodeUrl works perfectly fine
and helps to construct the url and returns the code.

when trying to use the acquireTokenByCode method even when defining a "offline_access" within the scope,
it does not return a refresh token.

it is important to mention that when using the same code and firing a post request to:
https://login.microsoftonline.c

[2021-01-07 16:06] #2820 closed

[2021-01-07 16:25] tnorling commented on #2801
@codymullins Could you email me a network trace? I was not able to reproduce this on my end so I would be curious to see what's going on here.

[2021-01-07 17:17] sameerag commented on #2836
`RefreshToken` is not returned to the users for MSAL libraries by design. A user would need `idToken` and `accessToken` to access the resources, and we provide them in `authenticationResult`. The `RefreshToken` is cached, and refreshed as needed depending on the expiry and renewal needs. Since the user never accesses `RefreshToken` directly and would need to swap it for a token that can be played

[2021-01-07 17:49] SibeeshVenu opened #2839 "Problem when using ngx translator with MSAL interceptor - HttpClient for Angular translation"
I am using the MSAL version of `"^1.4.2"` and below is my MSAL configuration in the `app.module.ts`.

[code]
I am also using the ` "@ngx-translate/core": "^13.0.0"` with the below configuration.

[code]
And

[code]
As you can imagine that this will get the values from the `'./assets/i18n` folder for the translation. even though this is not included in the `protectedResourceMap`, it still uses the

[2021-01-07 17:54] jasonnutter commented on #2839
Please see this comment for how to mitigate this issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2515#issuecomment-727108424

[2021-01-07 18:57] ismail1971 commented on #2769
@tnorling @jasonnutter Do you have a newer version of the msal-angular? I have "@azure/msal-angular": "^2.0.0-alpha.1". Thanks

[2021-01-07 19:03] SibeeshVenu commented on #2839
@jasonnutter Thanks. That did the trick, however, I was getting an error as preceding.

[code]
So I had to change the code a bit.

[code]

But now, the images are not loading in the application.

![image](https://user-images.githubusercontent.com/4262147/103933269-611e1a00-5123-11eb-9fdc-7c17857fa703.png)

[2021-01-07 19:10] SibeeshVenu commented on #2839
I had to change the `url` styles from `background: url(../../assets/img/background.svg)`  to `background: url(/assets/img/background.svg)`.

[2021-01-07 19:10] #2839 closed

[2021-01-07 19:41] jo-arroyo commented on #2835
@mg-arrow Can you email me the application files along with steps to reproduce the error?

[2021-01-07 19:51] jo-arroyo commented on #2822
@c-mpatel Can you please provide logs from the msal logger?

[2021-01-07 20:00] mg-arrow commented on #2835
Jo,

I've attached the important files using the secure transfer link provided by Ray.

The application is very large and some parts of the application contain sensitive information, which I would not be able to share. Plus you would not be able to run it because application is using our on prem APIs.

Is it possible to have follow up call later today using Teams and I will show you the whole flow

[2021-01-07 20:29] keith-maddox opened #2840 "Angular 10/11 Samples multi-tenant requirement"
Hello, we are trying to build an application in Angular 10 and secure against Azure AD. We have the app registration setup and attempting to use auth code flow. implicit disabled. I have followed along tutorials for angular 10 and 11, using the download samples, and I get errors using them. Both Angular 10 and 11 samples says that the app registration must be multi tenant. Ours is not multi tenant

[2021-01-07 20:52] jasonnutter commented on #2769
@ismail1971 Not yet, the change to not require scopes was just merged and has not been released.

[2021-01-07 21:13] ismail1971 commented on #2769
@jasonnutter Thanks. // @ts-ignore works.

[2021-01-08 00:09] jo-arroyo commented on #2835
@mg-arrow Thanks for the files. It looks like the check on lines 129-130 of `app.component.ts` may be causing the interaction in progress error. Can you try removing it and seeing if you still have errors?

[2021-01-08 00:50] #2768 closed

[2021-01-08 00:50] #2731 closed

[2021-01-08 00:53] jasonnutter commented on #2626
Update: we're working on some improvements to how popups are handled (#2842), and will fix this scenario incrementally where the same popup request is made twice in a row.

[2021-01-08 12:26] sneha-boopal opened #2843 "Redirect the user to the page he is trying to access by having it in the browser memory"
Requirement  is that after a user logs in via Azure AD (or any identity provider really), they should be redirected to the page they tried to access. Meaning a flow like this:

1) User tries to access http://localhost:3000/products
2) App redirects them to log in with Azure AD
3)User is redirected back to the application, and should now see the product list instead of getting redirected to index p

[2021-01-08 16:03] jcharnley opened #2844 "Onedrive Picker SDK doesnt work when I have a auth token from msal"
Hi

## Library
- ["msal": "^1.4.4"]
-
## Description

We have two auth flows in our application, one is a onedrive file picker and the another is aauth flow using msal to login to ms graph API. When I login via ms graph API via msal it works great but it seem to have broken the onedrive picker auth flow.

The error is:

RequestUtils.js:167 Uncaught ClientAuthError: Invalid state. http://localhost:

[2021-01-08 16:52] jasonnutter commented on #2844
@jcharnley Please fill out the issue template in order for us to effectively answer your question: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new?assignees=&labels=question&template=question.md&title=

Furthermore, please provide your MSAL configuration and detailed reproduction steps, including usage of MSAL APIs. Thanks!

[2021-01-08 16:55] jasonnutter commented on #2843
@sneha-boopal This can be accomplished by passing the `redirectStartPage` parameter to `acquireTokenRedirect` or `loginRedirect`.  You will also need to set `auth.navigateToLoginRequestUrl` in your configuration to `true.

Futhermore, in the future please fill out one of the issue templates, thanks! https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose

[2021-01-08 16:59] jasonnutter commented on #2840
@keith-maddox In regards to single-tenant app, you should replace the configuration values for clientId and authority with the values needed for your application. For single tenant applications, you can set the authority to `https://login.microsoftonline.com/{tenantid}`.

I don't understand the issue you describe here, can you please provide more details (e.g. logs, screenshots)? Thanks!

Also, in

[2021-01-08 18:16] jamesots opened #2846 "useIsAuthenticated is always initially false"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React 16.14
- [ ] Other

## Description

When I use the `useIsAuthen

[2021-01-08 18:21] jasonnutter commented on #2846
@jamesots This was done to addressed issues in server environments, see #2646. @tnorling for more context.

[2021-01-08 18:44] jasonnutter commented on #2614
PR to fix issues related to blank popup windows is linked above. This will allow separate tabs to open their own popups, and prevent the first popup from breaking when a second one is opened.

[2021-01-08 19:43] tnorling commented on #2846
Yeah that's right. @jamesots Is this breaking anything for you? If so, I would suggest not having your initial render be dependent on msal. Alternatively, you could write your own hook with the changes you need instead of using the built in one.

[2021-01-08 19:53] jamesots commented on #2846
I'm having problems with my SPA redirecting me to the ms login server when I enter an authenticated route, even if I'm already logged in. There may be another way of structuring my site to stop this happening. I'll put a simple example together next week. At the moment I have written my own hook to make this work, but it seems a bit of a shame to be switching to use msal-react and then to discover

[2021-01-08 20:03] tnorling commented on #2846
@jamesots I would suggest using the `MsalAuthentication` component or `useMsalAuthentication` hook to protect routes. These will automatically invoke login if a user is unauthenticated and should not be adversely affected by `useIsAuthenticated` defaulting to false. Can you give that a shot and see if that resolves your use case?

We are expecting to go to Public Preview / beta sometime this month

[2021-01-08 21:02] mg-arrow commented on #2835
I used the original code without the lines 129-130 in the app.component.ts file but this way application did not redirect to the B2C login screen and nothing was happening.

I've added lines

if (!this.loggedIn)
      this.login();

to force login in case user is not logged in yet.

[2021-01-08 21:15] jasonnutter commented on #2835
@mg-arrow Have you tried using the `MsalGuard` (which will handle checking if the user is logged in and redirect them to login if not)?

[2021-01-08 21:21] jamesots commented on #2846
I created an app with create-react-app, added @azure/msal-browser, @azure/msal-react and @reach/router, and updated App.js as below. I set up the CLIENT_ID, SIGN_IN_POLICY and AUTHORITY values in index.js. When I click on 'Go to secure page', it goes to the secure page, then back to the public page, then back to the secure page.

[code]

[2021-01-08 21:23] mg-arrow commented on #2835
Yes, MsalGuard is setup on the routing to protect main route of of the application.

I think I sent you all the routing details.

Let me know if you need additional info.

[2021-01-08 21:47] tnorling commented on #2846
@jamesots

Does it loop or does it stay on the secure page after this? If it's the latter, does it do this everytime you go to /secure or only the first time? Intended design is: when you go to the secure page, if you are not yet authenticated it will call login redirect which will send you back to the public page (what you've set as your redirectUri) and then back to the secure page (because that

[2021-01-08 22:29] jasonnutter commented on #2835
@mg-arrow If your app is using the MSAL Guard for the main route, why do you have the logic to manually invoke `loginRedirect` on page load (as the MSAL Guard should do this for you)?

[2021-01-09 00:51] #2787 closed

[2021-01-09 00:51] #2780 closed

[2021-01-09 07:02] mg-arrow commented on #2835
This is the reason we added the code on app.component.ts to force the redirect (see above)

Do you recommend to place it in the different place ?

[2021-01-09 07:03] gautamsi commented on #2836
Microsoft is worse in developer experience.

there has been several ask, at least you could have given option to return refresh token for greedy code. I don't need to depend on you to rotate refresh token. You are unnecessarily forcing people to move away from your lib.

for scalable apps it is app's responsibility to make sure how their flow is. complex architecture, hindrance in using what is in

[2021-01-09 07:14] IanMercer commented on #2794
Thanks, this is indeed a discovery issue. The page _appears_ to be a comprehensive list of what you can do with these hooks but apparently isn't. Whatever the "intent" behind it was is irrelevant to your users as it's not discernable. Adding `logout` will be appreciated by future visitors.

[2021-01-09 10:59] sneha-boopal commented on #2843
Sure @jasonnutter Thank you for your reply!!

What if i'm using 'react-aad-msal' ? How to achieve redirect in the below case could you please suggest ->

import { MsalAuthProvider, LoginType } from 'react-aad-msal';
import { cacheLocation, defaultAuthority, defaultScope, token} from './utilities';

function AuthProvider() {
  try {
    sessionStorage.setItem('local-url', window.location.href);

[2021-01-09 16:53] alan994 opened #2848 "msal-browser@2.9.0 release date??"
## Library
@azure/msal-browser@2.9.0

## Description
When do you plan to release version 2.9.0? I see that all work is done for this version, but I can't find it on npm. I just started to work on small project that uses Azure B2C and found your sample for Angular. In this sample there are multiple calls to setActiveAccount on IPublicClientApplication. I see that in new version, this method is avai

[2021-01-10 12:05] gwenael-louandre commented on #2848
+1

[2021-01-10 15:28] AmitFidler commented on #2836
Hi @sameerag, thanks, I quite agree with @gautamsi, the sdk should allow the retrieval of a refresh token.
we are working in a architecture that would not support the use of cached refresh token that is not exposed to the developer.
if it's ok, it could be extremely helpful to request a new feature for this specific use case,
at the moment it means that we are not using the sdk and we sure want to

[2021-01-11 05:46] sneha-boopal opened #2849 "Redirect the user to the page he is trying to access by having it in the browser memory"
## Library

- ["1.1.3" ] `msal@1.x.x`
-  ["2.1.1"] : "react-aad-msal",
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

**unable to Redirect the user to the page he is trying to access on login by

[2021-01-11 08:06] jitendraP-ashutec opened #2850 "Angular 11 B2C Sample is not working"
## Library

 - [ ] `@azure/msal-angular@2.x.x`

## Framework

- [ ] Angular 11

## Description

## Error Message
 error TS2339: Property 'setActiveAccount' does not exist on type 'IPublicClientApplication'.

I have tried latest version of sample provided by here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples. I have tried angular 11 B2C

[2021-01-11 08:35] jamesots commented on #2846
It doesn't loop. It does do the little redirect dance every time you try to go to /secure, however.

[2021-01-11 10:02] sameerag commented on #1272
Node does not need a new error class so far, after careful analysis, closing this issue. @pkanher617 If we decide to pick up error codes, let us do it for all libraries including `msal-common` as a separate effort.

[2021-01-11 10:02] #1272 closed

[2021-01-11 10:04] sameerag commented on #2556
@tnorling As discussed offline, closing this since `getAccount` and `removeAccount` aren't tracked in telemetry in the current iteration. Closing this.

[2021-01-11 10:04] #2556 closed

[2021-01-11 10:15] sameerag commented on #2574
@samuelkubai @hectormmg Can you please confirm we are testing this in E2E and if not, can you guys please add these test cases?

[2021-01-11 10:16] sameerag commented on #2576
@derisen Anything else pending for node? If not, can we please close this?

[2021-01-11 10:18] sameerag commented on #2508
Closing this as there is no immediate work for msal team. @nickgmicrosoft please track this in the B2C portal activities as needed.

[2021-01-11 10:18] #2508 closed

[2021-01-11 10:29] sameerag commented on #2600
@ben-sf Apologies for the delay in our response. `msal-node` provides an interface to configure your own http clients. You can choose to pass your own implementation of `INetworkModule` referenced [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/network/INetworkModule.ts).

This will be the best way to setup your proxy and have the library work

[2021-01-11 10:36] atvoid opened #2852 "Failed to acquire token when using microsoft personal accounts"
## Library
- [@] `@azure/msal-browser@2.7`

## Framework
- [@] React

## Description

The login url is "https://login.microsoftonline.com/common/".
Works well and nothing happens when using organization account (microsoft.com). But when using Microsoft personal account (outlook.com or live.com), it fails to acquire token (login succeeded). The required scope is Azure Resource Management (https://m

[2021-01-11 11:12] jcharnley commented on #2844
@jasonnutter did you happen to get a chance to look at my problem?

[2021-01-11 11:36] jcharnley commented on #2844
Could it be a permissions issue?

[2021-01-11 12:00] patrick-robin commented on #2850
I get the same issue when starting the application, however it will run and allow me to authenticate, However, when I try and access my profile I get error: "Uncaught (in promise): Error: Invalid CanActivateChild guard" in core.js

[2021-01-11 12:24] collegewap opened #2854 "Option to make cookies httpOnly and Secure"
## Library

- [ ] `msal@1.3.2`
## Framework

- [ ] React 16.13.1

## Description
There is no option to make cookies httpOnly and Secure. When we run the Pen Test report, we get errors for the same.

## Error Message
![image](https://user-images.githubusercontent.com/9767383/104181837-72be3500-5435-11eb-8d6c-10a89edafdfd.png)

## MSAL Configuration

[code]

## Expected behavior
Cookies should be se

[2021-01-11 13:22] vinizinmoraes commented on #2451
@baSSiLL Can you show me how to create this explicit scope URI? I asked it to me collegue who has access to the azure and he doesnt know how to do it. Can you help me out ?

[2021-01-11 14:28] jamesots opened #2855 "redirectStartPage is causing an infinite loop"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm trying to use redirectStartPage in a react application, and every time I use it th

[2021-01-11 16:32] jcharnley commented on #2844
Doh, I need to use auth flow setup instead of implicit all good now thanks

[2021-01-11 16:32] #2844 closed

[2021-01-11 16:42] derisen commented on #2576
@sameerag we should be good to go after merging [this PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2636).

[2021-01-11 16:42] baSSiLL commented on #2451
@vinizinmoraes Check out this post
https://codeburst.io/practical-azure-secure-a-net-core-web-api-using-azure-ad-b2c-fde234a8e819#b8ca
They describe the process of creating a web API scope and granting access to it to a client web app, with screenshots of Azure Portal. In your case a single AD app serves both as a web API and its client, so you do everything with a single app registration ("Expose

[2021-01-11 17:02] #2729 closed

[2021-01-11 17:16] vinizinmoraes commented on #2451
@baSSiLL thanks!

[2021-01-11 17:24] laurirasanen opened #2856 "empty_input_scopes_error when acquiring token from B2C if server responds with empty scopes"
## Library
- [ ] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-react@1.0.0-alpha.1`

## Framework
- [ ] React

## Description
`AuthorizationCodeClient.acquireToken` does not pass `request.scopes` onwards to `ResponseHandler.handleServerTokenResponse` at `@azure/msal-browser/dist/index.es.js:4775`.

This can eventually cause an empty ScopeSet at `@azure/msal-browser/dist/index.es.js:4608` if the s

[2021-01-11 18:38] jo-arroyo commented on #2856
@laurirasanen Can you please provide the usage of MSAL, e.g. acquireToken APIs, so we can see what scopes you are providing?

[2021-01-11 18:47] jo-arroyo commented on #2854
@collegewap HttpOnly will not work, as cookies are read and written from JavaScript. We will look into setting the secure flag.

[2021-01-11 18:49] jo-arroyo commented on #2852
@atvoid This is expected behavior, as Azure Resource Management scopes are not available to MSA accounts.

[2021-01-11 18:54] jo-arroyo commented on #2850
@jitendraP-ashutec `setActiveAccount` is part of a change that will be released with `@azure/msal-browser@2.9`, which has not yet been released. You can try switching to the `master` branch and see if the sample works.

@patrick-robin Please switch to the `master` branch too. If you continue to encounter this, please open a new issue with our issue templates.

[2021-01-11 18:55] jo-arroyo commented on #2849
Closing as duplicate of #2843.

[2021-01-11 18:55] #2849 closed

[2021-01-11 18:58] jo-arroyo commented on #2843
@sneha-boopal Unfortunately, react-aad-msal is not a library we maintain, and we do not have suggestions on how to use the library.

@AndrewCraswell Can you offer some insight on how this can be done?

[2021-01-11 19:00] jo-arroyo commented on #2848
@alan994 @gwenael-louandre Thanks for your interest. We are planning on having `@azure/msal-browser@2.9.0` released this week.

[2021-01-11 19:29] tnorling commented on #2855
@jamesots Can you try passing the absolute URL instead of a relative path? We currently do not support relative URLs in the `redirectStartPage`, though this is an enhancement we should make since we recently added support for relative URLs in the `redirectUri` parameter.

[2021-01-11 19:42] tnorling commented on #2846
@jamesots I just spun up an example using the same versions of `msal-browser`, `msal-react`, `react`, and `@reach/router` with the same configuration options and setup you shared above and could not reproduce this behavior. Could you put together a minimal sample or edit [this one](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-s

[2021-01-11 21:05] derisen commented on #2817
@varghesep apologies, this guidance is misleading. You **can** manage your B2C users with `msal-angular`. Here's how:

**Requirements:**
- An admin account (global admin, application admin or user admin). You will sing-in with this account. (Graph API will not allow access to less privileged accounts)
- Delegated permissions for `User.ReadWrite.All` (possibly others depending on the user operation

[2021-01-11 22:04] jamesots commented on #2855
Yes, an absolute URL is working, thank you.

[2021-01-11 23:37] sameerag commented on #2576
Thanks @derisen. Linked the PR, this should auto close with the merge now.

[2021-01-12 00:08] visualjeff opened #2857 "React loginRedirect() doesn't return a response object for a handleRedirectPromise"
## Library
[code]

## Framework
[code]

## Description
According to the documentation loginRedirect doesn't receive a response object for a handleRedirectPromise.

## Error Message
No error message

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Expected behavior
Callback should be invoked so can get access to the homeAccountId.

## Identity Provider
Azure AD

## Browsers/Environ

[2021-01-12 00:23] atvoid commented on #2852
totally disagree. In msal 1.0 version, I can get token of ARM by using MSA account. If not, how does MSA users use Azure ? It is ridiculous if we don’t support in 2.0

[2021-01-12 00:32] visualjeff commented on #2857
This is the page I'm looking at for reference:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/accounts.md

[2021-01-12 00:54] visualjeff commented on #2857
Sorry for any confusion. What I'm getting at is how can I get homeAccountId after performing a loginRedirect?   acquireTokenRedirect isn't what I really want to do.

[2021-01-12 03:12] anandk95 opened #2858 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress."
We are trying to integrate our chat widget in 3rd party website, where the user will login using Azure AD credentials. we need to fetch email of the logged in user into our widget, for which we are using "\me" graph api. So, when we are tring to login through our widget, we are getting the following error.

Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is cur

[2021-01-12 06:40] nniikkoollaaii commented on #2676
Looks good.
Thank you very much!

[2021-01-12 09:15] jamesots commented on #2846
I created a minimal test app: https://github.com/jamesots/test-msal-react

I've tried it on my Windows and Linux computers, in Chrome and new Edge, and it behaves the same in all situations — with the extra redirect every time to go to the secure page.

I also edited the sample you linked to, and made the changes below. The sample was reloading the entire page every time you navigate, so I've chan

[2021-01-12 09:26] patrick-robin opened #2859 "Angular 11 Sample not working"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description

I'm trying to run the _angular-11-sample-

[2021-01-12 09:26] patrick-robin commented on #2850
@jo-arroyo I've just taken a fresh checkout of the code and switched to the master branch but I get the same issue. I've just realised that I'm using the Angular11-sample-app, however I get the same issue if I try and run the B2C sample. I've opened a new issue for you,

`- Generating browser application bundles (phase: building)...
    Error: src/app/home/home.component.ts:18:37 - error TS2339: P

[2021-01-12 10:49] faiyazAbdul opened #2860 "While implementing the OAuth 2.0 authorization code flow with PKCE, Accesstoken is not returned, but if manually calls acquireTokenRedirect 2 times, it will return accesstoken"
## Library

- [ ] `@azure/msal-browser@2.x.x`

## Framework

- [ ] ReactJs

## Description

We are in progress of implementing the OAuth 2.0 authorization code flow with PKCE in our website using JS-MSAL 2.0.

But when we authenticate, the access token is not returned in the response. After doing multiple calls manually, we see the access token returning in the response.

In the first call  signIn

[2021-01-12 16:10] hectormmg commented on #2574
@sameerag I've been adding ADFS test cases for silent flow in the end to end test suite in #2684. They're on par with the AAD cases, will be adding more as soon as we fix the puppeteer issues.

[2021-01-12 16:18] jo-arroyo commented on #2858
@anandk95 Please fill out one of our [pre-configured issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose), as we need a bit more information to address your issue. Thank you!

[2021-01-12 17:05] tnorling commented on #2857
@visualjeff `loginRedirect` will never resolve because it will invoke a full frame redirect. When using `msal-react` there are a couple ways you can get the response or `homeAccountId` after returning from the redirect.

1. If you just need `homeAccountId` you can call `msalInstance.getAllAccounts()`
2. If you need the full response you should use `msalInstance.addEventCallback()` to register your

[2021-01-12 19:09] web265p3 commented on #2859
Just wanted to open the same issue...

[2021-01-12 19:39] jo-arroyo commented on #2860
@faiyazAbdul Please provide the configuration and your usage, as we need a little more information. Thank you!

[2021-01-12 19:44] jo-arroyo commented on #2859
@patrick-robin @web265p3 The latest versions of msal-browser and msal-angular were released last night. Please update by `npm install @azure/msal-browser@2.9.0 @azure/msal-angular@alpha` and give the new version a try.

[2021-01-12 19:44] jo-arroyo commented on #2850
@jitendraP-ashutec The latest versions of msal-browser and msal-angular were released last night. Please update by npm install @azure/msal-browser@2.9.0 @azure/msal-angular@alpha and give the new version a try.

[2021-01-12 20:01] tnorling commented on #2846
@jamesots Thanks for this. With your sample I was able to reproduce this and I now understand what's happening here. We do want this library to work out of the box with routers, so I'm marking this as a bug and will link a PR when I have one ready. Thanks for bringing this to our attention and for taking the time to provide a reproduction. Much appreciated!

[2021-01-12 20:03] johnbatty opened #2864 "Missing LICENSE file"
## Library

- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [X] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [X] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (p

[2021-01-12 20:22] sameerag commented on #2574
Thanks @hectormmg. Closing this issue in that case.

[2021-01-12 20:22] #2574 closed

[2021-01-12 20:31] jasonnutter commented on #2864
@johnbatty Given this is a monorepo, each of the individual folders should have LICENSE files for the respective libraries, e.g. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/LICENSE, although I now see we are missing a couple, so I'll make sure that gets fixed. We can add one in the root of the repo as well (even though the root isn't published).

[2021-01-12 20:37] patrick-robin commented on #2850
That works, thanks.

[2021-01-12 21:29] zibeeze commented on #2859
Thanks @jo-arroyo updated worked for me.

[2021-01-12 22:29] Maraud3r commented on #2859
@jo-arroyo I have question about the latest packages. I updated the Angular 11-Sample-App and it now compiles and runs.

I changed the client ID to be a app I created in my azure tenancy.

I can run the angular app, login and I can see in the console where it's displaying the info that it gets back.

What I'm confused about is the tenantId, it's not my tenantId.

I've searched through the angular

[2021-01-12 22:48] alilland commented on #2836
I agree that requesting a user token through the SDK is needed, I have spent around 3 days trying to read through microsoft docs and hours of youtube videos trying to figure out how and still havent figured it out. I dont need the library to manage the refresh for me... I can handle that... I just need the ability to get the refresh token which I can then use to refresh on my own. Im literally abo

[2021-01-12 23:46] jo-arroyo commented on #2859
@Maraud3r Please see our docs on tenants [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/multi-tenant.md) for how to specify your tenant.

[2021-01-13 00:18] shmehltr opened #2867 "Edge specific issues with msal-react library."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description

  We are using the msal-react lib

[2021-01-13 00:36] jasonnutter commented on #2833
@drweb86 Out of curiosity, is there a specific reason why you are using MSAL directly, instead of using the authentication APIs provided by [SPFX](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview)?

[2021-01-13 00:51] jasonnutter commented on #2867
@tnorling Curious if #2842 will help here?

[2021-01-13 02:00] varghesep commented on #2817
The first approach with ```authority: 'https://login.microsoftonline.com/common'``` does not work.

I get the following error:

[code]

[2021-01-13 04:22] ismail1971 opened #2868 "InteractionType.Redirect issue : : interaction_in_progress"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ X] `@azure/msal-angular@2.0.0-alpha.3`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

## Source

- [ ] Internal (Microsoft)
- [ ] Customer request

[2021-01-13 04:34] ismail1971 commented on #2868
When I am using InteractionType.Popup I have no issue but InteractionType.Redirect gives me BrowserAuthError: interaction_in_progress

Here is my code and config:
app.module.ts:
export function MSALInterceptorConfigFactory(): MsalInterceptorConfiguration {
  const protectedResourceMap = new Map<string, Array<string>>();
  protectedResourceMap.set(    config.resources.resourceUri, [config.resources

[2021-01-13 09:41] drweb86 commented on #2833
@jasonnutter , thanks for the comment. I will check why msal was used.

[2021-01-13 09:49] jamesots opened #2869 "Add ability to redirect using router"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

When doing a login or token acquisition using redirect, the login server redirects bac

[2021-01-13 09:55] drweb86 commented on #2833
@jasonnutter Can you please clarify, is **MSAL** used **Sharepoint Online** behind the scenes?
Our project used **ADAL** for a quite time. And it took a huge effort to migrate to **MSAL**. And now we have to move to Sharepoint Framework, so page reloading will disappear when a web-part is wanting to get the authorization token?

[2021-01-13 10:15] satyavanu opened #2870 "msal library breaks angular translations"
Hi,

 I have an angular 10 application, that uses ng translate, and lately, I have integrated with msal module, and strangely ng translate breaks, and if this known issue and fix is there?

[code]
package.json:

    "@azure/msal-angular": "^1.1.2",
      "msal": "^1.4.4",

and for MsalApplicationModule i used the same code example

[code]

[2021-01-13 11:12] faiyazAbdul commented on #2860
@jo-arroyo  Edited the issue, added configurations. Thank you!

[2021-01-13 13:12] jerk05 opened #2871 "Not able to fetch cached users using msal-angular ^1.0.0"
## Library
- [ ] `@azure/msal-angular@^1.0.0`

## Description

The issue I'm facing here is I'm not able to get the user cached(Application1) in Application2. I'm using getAllAccounts() method.
Don't have control over Application1. Got to know from their session storage in browser about them using msal.

-->

## Source

- [ ] Internal (Microsoft)
- [ ] Customer request

[2021-01-13 13:24] idri opened #2872 "msal-browser 2.9.0 lib not available on CDN"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [x] Angular
- [x] React
- [x] Other

## Description
The CDN URL to retrieve v2.9.0 of msal-brose

[2021-01-13 16:00] saostad opened #2873 "react typescript sample is not working"
I have tried to use react typescript sample and it gave me error below on `npm install`

[code]

node v14.15.3
npm v6.14.9
Windows 10

## Framework

- [ ] Angular
- [x] React
- [ ] Other

[2021-01-13 16:02] johnbatty commented on #2864
Many thanks for the quick response Jason - sounds good to me.

[2021-01-13 17:40] jasonnutter commented on #2872
@idri Unfortunately, there's been a delay in getting the latest build onto the CDN, I'll follow up when we have it resolved, apologies for the delay!

[2021-01-13 17:55] #2614 closed

[2021-01-13 18:00] Drew-Kimberly commented on #2873
Hey @saostad! Check out the `README.md` at the root of the react typescript sample. The  sample's `package.json` depends on locally path'd builds, so you'll have to build those first OR update the sample's `package.json` to published release versions, i.e.
[code]

[2021-01-13 18:35] saostad commented on #2873
it's working now. thanks!

[2021-01-13 18:35] #2873 closed

[2021-01-13 18:54] jo-arroyo commented on #2870
@satyavanu Please see this comment for how to mitigate this issue: [#2515 (comment)](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2515#issuecomment-727108424).

Also, in the future, please use one of our [pre-configured issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose), thanks!

[2021-01-13 19:22] satyavanu commented on #2870
@jo-arroyo  that's very confusing. you have const protectedResourceMap: [string, string[]][] and you are passing   ["/assets/i18n/*.json", null] on #2515 https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2515#issuecomment-727108424.  the tying is wrong, and next this is still not working, does latest msal support ng translate ?

[2021-01-13 19:39] jo-arroyo commented on #2852
@atvoid Apologies, for ARM scopes, you will have to use `login.microsoftonline.com/organizations` instead of `/common` for MSA accounts. You will also have to enable MSA Passthrough in your application settings. Please try that and let me know if it works.

[2021-01-13 19:39] #2852 closed

[2021-01-13 19:42] jo-arroyo commented on #2871
@rawl05 Are these applications on the same domain?

[2021-01-13 19:49] jo-arroyo commented on #2870
@satyavanu Have you tried without the leading slash, i.e. `["assets/i18n/*.json", null] `?

In regards to typing, do you have strict null checks on in your tsconfig?

Please also consider upgrading to `@azure/msal-angular@2`, where we don't expect this to be an issue anymore.

[2021-01-13 19:54] johnvittneyk opened #2874 "SPFx Page Load: Performance dropped drastically after migrating from adal-angular to msal-browser 2.8.0. My application has multiple webparts in the same solution and needs to access multiple resources"
## Library

- [ ] `@azure/msal-browser@2.8.0`

## Framework

- [ ] React

## Description
Performance dropped drastically after migrating from adal-angular 1.x to msal-browser 2.8.0.
My application has multiple webparts in the same solution and needs to access multiple resources.

## Error Message

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Expected behavior

## Identity Provi

[2021-01-13 19:55] visualjeff commented on #2857
Thank you for the response and your time!

Jeff

[2021-01-13 19:55] #2857 closed

[2021-01-13 19:55] jo-arroyo commented on #2868
@ismail1971 Can you provide the code for the `WelcomeComponent`, as that is where the error is originating?

[2021-01-13 20:02] jo-arroyo commented on #2860
@faiyazAbdul Can you please provide your configuration, the scopes you are using, and a fiddler trace? That would help a lot. You can send the fiddler trace to my email.

[2021-01-13 20:09] johnvittneyk opened #2875 "MSAL Authentication fails if the URL ends with a hash (#)"
## Library

- [ ] `@azure/msal-browser@2.8.0`

## Framework

- [ ] React
- [ ] SPFx

## Description
MSAL Authentication fails if the URL ends with a hash (#)

## Error Message

## MSAL Configuration

[code]

## Reproduction steps
Give URL ending with #

[code]

## Expected behavior

## Identity Provider
- [ ] Azure AD

## Browsers/Environment

- [ ] Chrome
- [ ] Edge

## Regression

- [ ] Did this

[2021-01-13 20:12] johnvittneyk opened #2876 "MSAL returns null token in case of multiple graph requests (10+ Requests at once)"
## Library

- [ ] `@azure/msal-browser@2.8.0`

## Framework

- [ ] React
- [ ] SPFx

## Description
MSAL returns null token in case of multiple graph requests (10+ Requests at once)

## Error Message

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Expected behavior

## Identity Provider
- [ ] Azure AD

## Browsers/Environment

- [ ] Chrome
- [ ] Edge

## Regression

- [ ] Did thi

[2021-01-13 20:34] jasonnutter commented on #2875
@johnvittneyk Can you please clarify what happens when auth fails? What error do you receive?

[2021-01-13 20:38] jasonnutter commented on #2874
@johnvittneyk It is recommended that SPFx webparts use the built-in auth APIs provided by SPFx, instead of using MSAL.js directly.

Details: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/connect-to-api-secured-with-aad#use-the-aadtokenprovider-to-retrieve-access-token

Can you provide details on why you are using MSAL.js directly?

[2021-01-13 20:41] jasonnutter commented on #2833
@drweb86 Yes, SPFx uses MSAL.js v1, and they will updating to MSAL.js v2 at some point in the future. It is recommended that SPFx webparts use their token APIs, instead of using MSAL.js directly: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/connect-to-api-secured-with-aad#use-the-aadtokenprovider-to-retrieve-access-token

[2021-01-13 20:49] jasonnutter commented on #2876
@johnvittneyk Does this happen if you use the `getToken` API provided by SPFx? Also, can you please share a Fiddler trace (email is in my profile)? Thanks!

[2021-01-13 21:35] derisen commented on #2817
@varghesep that's strange, it looks like you are still using B2C authority -can you confirm that your browser cache is clean?

The sample is in review still, but you can take a look at it [here](https://github.com/Azure-Samples/ms-identity-b2c-javascript-nodejs-management/tree/derisen);

[2021-01-13 21:52] ismail1971 commented on #2868
@jo-arroyo
Here is the welcome.component.ts

import { Component, OnInit, OnDestroy, Inject } from '@angular/core';

import {
  MsalService,
  MSAL_GUARD_CONFIG,
  MsalGuardConfiguration,
} from '@azure/msal-angular';
import { Router } from '@angular/router';
import { SubSink } from 'subsink';
import {   InteractionType, PopupRequest, RedirectRequest } from '@azure/msal-browser';

@Component({
  se

[2021-01-13 22:12] Drew-Kimberly opened #2877 "Support API that returns whether the user's authentication status is currently being determined"
## Library
- [ ] `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@^1.0.0-alpha.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm currently having trouble with proper gating of my application based on the user account being avail

[2021-01-13 22:17] drweb86 commented on #2833
Thank you so much! Seems, like we have to wait and then upgrade from MSAL 2 to its Sharepoint wrapper.

[2021-01-13 22:22] #2833 closed

[2021-01-14 01:10] #2805 closed

[2021-01-14 01:10] #2798 closed

[2021-01-14 01:22] jasonnutter commented on #2872
The CDN build has been uploaded, apologes for the delay!

[2021-01-14 01:22] #2872 closed

[2021-01-14 04:19] rawl05 commented on #2871
@jo-arroyo No, these applications are on the different domain.

[2021-01-14 06:08] johnvittneyk commented on #2874
AADHttpClient is allowed now, however web parts need to be isolated and permissions approved by IT (a lengthy process of review and approval). This is not so much of a problem if we are required to do it only once.

The problem we see moving to AADHttpClient in our scenario is making the development cycle potentially requiring multiple IT submission cycles. To avoid that, We are continuing to use

[2021-01-14 06:41] johnvittneyk commented on #2875
@jasonnutter These are errors I get
![image](https://user-images.githubusercontent.com/10572392/104553934-7df5a880-5661-11eb-9a1d-a595c50e8d5f.png)

[2021-01-14 07:57] idri commented on #2872
Thank you! No worries, I just brought this up to your attention so that you know about it.
All the best.

[2021-01-14 13:17] remns opened #2880 "Wrong accesstoken acquired when multiple users login"
## Library

msal@1.4.4
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

React 16
- [ ] Angular
- [x] React
- [ ] Other

## Description
I have 2 public client

[2021-01-14 14:09] 12trey commented on #2780
Sorry.  I know this is closed and I didn't get back with fiddler dump.  I just wanted to let anyone know who may come across this that I found the problem to be with the "main" account which is a Microsoft Account.  If I log in with an AAD account created in my tenant, it redirects just fine after logout.

[2021-01-14 16:52] tnorling commented on #2877
@Drew-Kimberly Can you use `inProgress` returned by `useMsal`?

If you need a boolean you can do something like this:
[code]

[2021-01-14 17:07] jasonnutter commented on #2874
@johnvittneyk We would still strongly recommend that SPFx webparts use the auth APIs provided by Sharepoint, as that is the recommendation from their team.

In regards to your code, I believe the problem is that you are invoking `ssoSilent` every time you want to acquire a token. `ssoSilent` is similar to the login APIs, as that it only needs to be called once per page load. Invoking it every time

[2021-01-14 17:11] jasonnutter commented on #2875
@johnvittneyk We can look to see if there is something in the library we can do to address this, but I would recommend ensuring that your rediretUri does not contain a `#`, given MSAL.js does not truly support hash in redirect URIs, given AAD will send the response in the hash (and remove any hash that you provide).

Note, using the auth API provided by Sharepoint will also mitigate this, as they

[2021-01-14 17:16] jasonnutter commented on #2876
Also, please see my other comment about not calling `ssoSilent` every time.

[2021-01-14 17:40] #2864 closed

[2021-01-14 17:44] deasems opened #2882 "When can AccountInfo be null after login resolves?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm upgrading from 2.4.1 to 2.9.0 and I'm running into new type errors when accessing `Account

[2021-01-14 17:50] Drew-Kimberly commented on #2877
@tnorling thanks for the fast response!

Yes, you are right! I had attempted to use `inProgress` for this on @latest but did not get the expected behavior. Using `inProgress` _in combination w/ pulling in_ #2865 did the trick 👍

As another note, `InteractionStatus` is not currently importable from the `@azure/msal-react` package.

[2021-01-14 18:01] tnorling commented on #2877
Great, thanks for confirming and thanks for pointing out the missing export. I'll make sure that gets exported in the next release. For now you should be able to use the string "none" instead.

[2021-01-14 18:04] #2877 closed

[2021-01-14 18:14] faiyazAbdul commented on #2860
Updated the  configurations,  the scenarios is After calling  **loginRedirect()** method, it successfully redirects to our custom login screen, then after entering credentials, it returns to our site with **code** & **state**  in the url as a params. then its internally calls /token url which returns
response object  with account, idtoken, idtokenClaims etc but without access_token, then again if

[2021-01-14 19:17] #2855 closed

[2021-01-14 19:37] jo-arroyo commented on #2882
@deasems The account property is marked as null because there are scenarios in other libraries where account may not be populated, but it should always be populated when using msal-browser. We will look into improving this to make it less confusing.

[2021-01-14 19:45] jo-arroyo commented on #2871
@rawl05 If two applications are on separate domains, they will have separate caches. Calling `getAllAccounts` will not return any users until the user authenticates in the second application.

[2021-01-14 19:46] thoo1 opened #2883 "Msal-browser: AuthenticationResult.expiresOn !== AuthenticationResult.accessToken's expiration"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I was investigating some api errors in our app, where the service is responding with 401: Expir

[2021-01-14 19:49] jo-arroyo commented on #2868
@ismail1971 How is the login in the Welcome Component being triggered? Is the user clicking login?

[2021-01-14 19:51] jo-arroyo commented on #2860
@faiyazAbdul Thanks for the update. Can you please send a fiddler trace to my email? It is in my profile. Thanks.

[2021-01-14 19:54] jo-arroyo commented on #2883
@thoo1 Can you provide what the `expiresOn` and `exp` fields are? Please also provide a fiddler trace, via Teams or email. Thanks.

[2021-01-14 20:52] thoo1 commented on #2883
Sure, they are from `AuthenticationResult` interface, which is returned by `PublicClientApplication.acquireTokenSilent`

`expiresOn` field: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c6a7aada4a6644dc173b39208d5421178fa9ae78/lib/msal-common/src/response/AuthenticationResult.ts#L33
`exp` field: is from parsing `AuthenticationResult.accessToken` https://github.com/AzureAD

[2021-01-14 20:58] thoo1 commented on #2883
acquireTokenSilent
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9976fa5e0e514f1429b08c83334ad810c2db87da/lib/msal-browser/src/app/PublicClientApplication.ts#L78
calls
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9976fa5e0e514f1429b08c83334ad810c2db87da/lib/msal-common/src/client/SilentFlowClient.ts#L49
calls
https://github.com/AzureAD/microsoft

[2021-01-14 21:50] shmehltr commented on #2867
We are using redirects instead of popups but we do use local storage. Would this change apply to redirect or only popups?

[2021-01-14 21:53] jasonnutter commented on #2867
@shmehltr That PR would help popups and redirects, as it would put temporary cache values into session storage (which is not shared between tabs).

[2021-01-14 22:43] jo-arroyo commented on #2883
@thoo1 Apologies, I meant the actual values from the access token itself. Seeing the access token may be useful. However, we intentionally do not try to open the access tokens, but instead use the `expires_in` value from the server response to calculate token expiration. A fiddler trace could still be helpful in trying to figure out your issue though.

[2021-01-14 23:17] jo-arroyo commented on #2880
This may be an issue for the B2C service team. @nickgmicrosoft

[2021-01-14 23:40] thoo1 commented on #2883
I see, ok I'll send them to you on teams

[2021-01-14 23:54] shmehltr commented on #2867
That sounds like it would certainly help for the case we had where the interaction status was hung up in local storage and required manual intervention.

[2021-01-15 02:10] remns commented on #2880
If it helps, the console log from msal.js below. Another observed behaviour is that the mismatched (User 2's) accesstoken is not being saved to cache (at ClientA where User1 initially logged in), every subsequent call from ClientA to AcquireTokenSilent triggers a request to the b2clogin.com/xx/authorize endpoint, which delivers a new accesstoken (for User 2)

[code]

[2021-01-15 06:13] jitendraP-ashutec commented on #2850
Thanks @jo-arroyo .

[2021-01-15 08:01] rawl05 commented on #2871
@jo-arroyo 1) We had one more App 3 which was able to get the same cached user through App 1 using ADAL.js. Both on different domains. So we wanted to know how can we achieve the same behaviour in msal if ADAL.js could do it(Please refere the code for ADAL.js above).

Our main question is how do we get the cached user in App 2 in msal? Is there any way in msal( like ADAL.JS method getCachedUser)?

[2021-01-15 11:01] eluchsinger commented on #2868
I've got the same issue with MSAL Angular (v2).

[2021-01-15 11:08] johnvittneyk commented on #2874
@jasonnutter Let me explain you our scenario, we have multiple resources with different scope, and each time I need to get a new token when a specific scope is required.

Based on this, Is your suggestion still valid?

[2021-01-15 11:23] balcanusebi commented on #2868
Same issue here also ("@azure/msal-browser": "^2.9.0", "@azure/msal-angular": "^2.0.0-alpha.3",). Goes to Azure AD login, returns to login page with the message interaction_in_progress. The login process is triggered by the user clicking on a button.

[2021-01-15 15:20] eluchsinger commented on #2868
I've tried the redirection with a call to the `authService.loginRedirect()` method and via browsing to a protected route. Both with the same result.

[2021-01-15 16:10] ismail1971 commented on #2868
@jo-arroyo It's a login button click:
Here is the html:

<header class="hero-bg"
        id="home">
  <div class="aws-container hero-bg-shadow">

    <div class="aws-col l6">
      <div class="hero-content aws-center">
        <div class="hero-text aws-mobile aws-text-white">
          <h3 class="hero-welcome">Welcome to the</h3>
          <h3 class="hero-title"><strong>Faculty</strong> Portal</h3

[2021-01-15 18:29] jessemartin commented on #2883
Our telemetry is showing (and we've a user report of) the same issue -- `acquireTokenSilent` sometimes returns tokens whose `exp` has already elapsed, resulting in our API calls failing with 401s.

@jasonnutter and I have been chatting about this over email.

This may not be the cause of the issue, but I did notice one potentially problematic bit of `acquireTokenSilent`'s `SilentFlowClient`:
[isRe

[2021-01-15 18:57] thoo1 opened #2884 "Making multiple calls to acquireTokenSilent, may result in multiple requests to service POST /token, is there a way to use whichever request succeeded?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Currently in our app, we make a call to `acquireTokenSilent` before any api request. We can mak

[2021-01-15 19:11] jasonnutter commented on #2874
@johnvittneyk The refresh token issued to your app after login is capable of acquiring access tokens for multiple resources, so you should not need to invoke ssoSilent each time.

[2021-01-15 19:39] jo-arroyo commented on #2884
@thoo1 To confirm, do request A and request B have the same sets of scopes?

MSAL 2.x doesn't have logic for sharing outgoing requests for silent calls, and makes distinct network requests. At the moment there is no way for both requests to return the result from one successful call if the requests are made in parallel.

[2021-01-15 20:01] jo-arroyo commented on #2871
@rawl05 You can use the `ssoSilent` API to SSO to an existing session that was started by another application. Note that this API requires the `login_hint` or `sid` of the account that you want to SSO to, and also requires a network request as two applications on different domains cannot share cached accounts.

[2021-01-15 21:35] #2846 closed

[2021-01-15 22:24] thoo1 commented on #2884
@jo-arroyo yes, it would be for the same scope.
I guess my question is more a feature ask :D, wonder if it makes sense and could be done?

[2021-01-16 18:19] simonjduff opened #2887 "Missing import from msal-react getting-started documentation"
## Documentation location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/getting-started.md#acquiring-an-access-token
Issue observed 2021-01-16, at commit hash `ab7faafc7e7242740d8cdc98d7ad8de95cf7de53`

## Description
Import of `useAccount` is missing from the `Acquiring an access token` section.
[code]

Results in warning `'useAccount' is not def

[2021-01-18 06:06] Mamta92 commented on #2871
@jo-arroyo We were also under the same impression that we would need login_hint or sid for SSO until we found the ability of ADAL.js to get cached users from a completely different domain. Please find the code below:-

[code]

Could you please help us out  in finding if this is possible only in ADAL.js and not msal?

[2021-01-18 11:17] naugtur opened #2891 "msal-node and msal-common incompatible in latest versions"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

When using persistencePlugin there's an i

[2021-01-18 18:14] amrit-moomie opened #2894 "Unable to run ElectronTestApp (msal-node-samples) with Azure B2C"
## Library

- [ ] `@azure/msal-node@1.0.0-beta.1`

## Description

I am trying to run a sample project here https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/ElectronTestApp
I set up my MSAL_CONFIG configuration but when I click log in, the page fails to load and I receive a blank page. Going to the source code of the page I wa

[2021-01-18 18:17] zhangxAmtrak opened #2895 "Refresh token is not being used"
## Library
https://alcdn.msauth.net/browser/2.6.1/js/msal-browser.js

## Framework
Angular

## Description
We purposely setting access token 5 mins, refresh token 1 day and web session timeout 15mins.  After login, we are able to access APIs OK.  Idle for 5 mins.  We start to see invalid token.  We assume MSAL library will automatically exchange a new access token from refresh token.  It doesn't h

[2021-01-18 18:23] zzzachzzz commented on #2801
As a workaround, I was able to get the Microsoft IDP working by registering a Web Redirect URI rather than a SPA Redirect URI for `https://<TENANT>.b2clogin.com/<TENANT>.onmicrosoft.com/oauth2/authresp`. However I noticed that AAD logins could not be used with the B2C Microsoft IDP. Is this a known limitation of B2C? I was able to use an AAD login with non-B2C MSAL.

[2021-01-19 01:08] #2811 closed

[2021-01-19 01:08] #2697 closed

[2021-01-19 09:36] jitendraP-ashutec opened #2896 "When using @azure/msal-angula 2.0.0-alpha.3, I get this error message on ClientAuthError: state_not_found: State not found"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm developing an using @azure/msal-browser 2.9.0 on http://localhost using Angular, when tryi

[2021-01-19 10:50] hrc7505 opened #2897 "no_cached_authority_error: No cached authority found."
## Library

- [x] `@azure/msal-browser@2.9.0`

## Framework

- [x] React@16.8.0

## Description
I am working on one application and using auth code flow there. I have two policies there; one is for signup-signin and the second is for password-reset. Handling password reset using the error code "AADB2C90118".

On the password reset page, we have a button called back to sign in. This page is an HTML

[2021-01-19 10:59] pcampospulsarsd opened #2898 "msal-angular@2 logout request is cancelled"
## Library
- [X] `@azure/msal-angular@2.0.0-alpha.3`
- [X] `@azure/msal-browser@2.9.0`

## Framework
- [X] Angular 10

## Description

We are following the example in [angular11-b2c-sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample) and having issues when we logout the user calling `msalService.logout()`, as we

[2021-01-19 13:01] jitendraP-ashutec commented on #2896
@jo-arroyo

Some how error is not display now but I am getting accessToken null  after login. I am using B2C for login. Does I need to do other settings to get accessToken ?

[2021-01-19 13:33] faiyazAbdul commented on #2860
Sorry, not able to create fiddler trace.
Do we need to call  **acquireTokenSilent** method  to get access token, every time before calling API's, as we have to call more than 10 apis on dashboard.
getting issues while page reload, is there any callback in MSAL  to capture  page reload and acquire Token?

[2021-01-19 13:53] jmfmeireles opened #2899 "Is it supposed msal clear the entire browser local storage?"
## Library
"@azure/msal-browser": "2.9.0"

## Description
Hi there,

I'm trying to implement an authentication module on my React JS application. To obtain an access_token, I'm redirecting the user's browser window to the authorization endpoint (instead of opening a pop-up window for that).

When coming back to the page that triggered the authentication, I want to access some local storage variabl

[2021-01-19 17:45] Hamedfal opened #2900 "MSAL 2.0, msal-browser 2.9.0, PublicClientApplication is not implementing setActiveAccount and getActiveAccount methods from interface IPublicClientApplication"
## Library

- [ ] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-angular@2.0.0-alpha.3`

## Framework
- [ ] Angular

## Description
Recent update of msal-browser (2.9.0) fixed could of errors, but is missing the implementation of setActiveAccount and getActiveAccount methods.

## Identity Provider

- [x] Azure AD
- [x] Azure B2C Custom Policy

## Browsers/Environment

- [x] Chrome
- [x] Firefox
-

[2021-01-19 17:48] tnorling commented on #2801
@zzzachzzz

I'm not sure the SPA redirect type is intended for use between B2C and AAD so Web here I think is correct. The SPA redirect type should be used to register your application's redirect uris. @nickgmicrosoft Can you confirm?

By "B2C Microsoft IDP" do you mean AAD or "Microsoft Account"? An AAD login will not work with the MSA IDP and vice versa. There is no known limitation I am aware o

[2021-01-19 17:49] tnorling commented on #2757
Closed due to inactivity. Please open a new issue if you have further questions. Thanks!

[2021-01-19 17:49] #2757 closed

[2021-01-19 18:10] sharmar999 opened #2901 "monitor_window_timeout error when multiple tokens are fetched after the refresh token is expired."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi everyone, we recently moved to Production with MSAL 😄 with really happy results.

One issue

[2021-01-19 18:10] zzzachzzz commented on #2801
@tnorling What I mean by "non-B2C MSAL" is configuring MSAL with the standard authority of `https://login.microsoftonline.com/common`. Using MSAL with B2C the authority is configured with, for example: `https://<TENANT>.b2clogin.com/tfp/<TENANT>.onmicrosoft.com/b2c_1_signin_signup`.

Regarding the AAD logins, sorry if I have some terminology mixed up. What I've observed is that when MSAL is config

[2021-01-19 18:31] tnorling commented on #2801
@zzzachzzz

That's right. So you'll need to make sure you log into the personal MS account using the Microsoft IDP and the work account with the AAD IDP. When you use the "https://login.microsoftonline.com/common" authority that endpoint will automatically route you to the correct authority (your AAD tenant in the case of work account, or live.com in the case of personal account) depending on whic

[2021-01-19 18:34] zebslc commented on #2900
This occurs within the angular samples too.  To replicate just clone the angular 10 or 11 projects in https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-sample-app then run `npm i` and look at `home.component.ts` which shows the following.

![image](https://user-images.githubusercontent.com/3459059/105076848-88f67180-5a83-11eb-8a1c

[2021-01-19 18:39] #2887 closed

[2021-01-19 18:52] #2899 closed

[2021-01-19 19:40] jo-arroyo commented on #2896
@jitendraP-ashutec Can you clarify where you are calling handleRedirectObservable above?

[2021-01-19 21:05] jo-arroyo commented on #2901
@sharmar999 Can you confirm what version of msal-browser you are using? Could you also share your configuration and usage of `acquireTokenSilent` with `Promise.all()` as well?

[2021-01-19 21:08] tnorling commented on #2869
@jamesots Thanks for the suggestion. With the way `handleRedirectPromise` is currently designed doing something like this would be challenging. Even if we provide a way to override the method used to redirect you would then run into issues processing the token response. We'll take this under consideration and think about how something like this could be implemented cleanly but for now, what you've

[2021-01-19 21:13] jo-arroyo commented on #2900
@Hamedfal @zebslc Can you try reinstalling `npm install @azure/msal-browser @azure/msal-angular`. We will make sure to update our samples so this no longer occurs.

[2021-01-19 21:16] jo-arroyo commented on #2898
@pcampospulsarsd Can you clarify what you mean by calls cancelled? This is not expected behavior. Could you also provide your configurations and usage?

[2021-01-19 21:18] jo-arroyo commented on #2897
@tnorling Do you have any insight?

[2021-01-19 21:21] jo-arroyo commented on #2895
@zhangxAmtrak Can you please provide your configuration and usage?

[2021-01-19 21:24] jo-arroyo commented on #2884
@thoo1 That's a reasonable request and we will look into it.

[2021-01-19 21:32] jo-arroyo commented on #2860
@faiyazAbdul Yes, you should call `acquireTokenSilent` with the scopes you need before calling API's.

Can you clarify what you mean in the second question?

[2021-01-19 21:41] jo-arroyo commented on #2871
@Mamta92 As stated above, it is not possible for MSAL.js (or ADAL.js) to read local storage data from other domains. If ADAL.js appears to be returning the same users from two different domains, it is possibly because the user authenticated in both domains.

[2021-01-19 21:44] hectormmg commented on #2894
Hi @ammritt! Could you please provide your MSAL configuration so we can have a little more information and try to help you debug this?

[2021-01-19 22:01] tnorling commented on #2897
@hrc7505 Changing your policy outside the context of MSAL is not currently supported. What's happening under the hood is:

1. Go to SignIn Policy
2. Click Password Reset
3. Go back to app which catches error and msal redirects to Password Reset policy
4. Click go to SignIn Policy
5. Click Password Reset
6. Go back to app and now msal breaks because it last made a request to Password Reset policy b

[2021-01-19 23:58] jitendraP-ashutec commented on #2896
@jo-arroyo Thanks for reply.

Yes I am calling handleRedirectObservable in app.component.

I have written below code in ngOnInit in msal 1.0:

[code]
Here I am checking if is no Authenticated then check if he is not in login progress then handleLoginRedirect will call.

Is there getLoginInProgress method exist in msal 2.0 ?

[2021-01-20 09:16] zebslc commented on #2900
Hi, this is still occurring - I uninstalled those two libraries first then re-installed and the same thing happens.  Is there an interim fix or workaround for these as currently they are both broken?

I am trying to evaluate this library atm as MSAL 2 is recommended by your documentation here:- https://docs.microsoft.com/en-gb/azure/active-directory/develop/scenario-spa-app-registration#redirect-u

[2021-01-20 09:56] zebslc commented on #2900
Sorry, just noticed you had the PR there too so I have manually incorporated those changes in my sample :-)

[2021-01-20 11:07] deepti1805 commented on #2895
@jo-arroyo  on behalf of @zhangxAmtrak  I am providing you the configuration. Please find the below configuration for sign in and check if that will be enough for refresh token scenario ?

    const msalConfigSignInSignUp = {
        auth: {
            clientId: clientId,
            authority: b2cPolicies.authorities.signUpSignIn.authority,
            validateAuthority: false,
            known

[2021-01-20 12:56] dsingle opened #2905 "loginPopup to B2c intermittently displays home page rather than custom policy. How would i troubleshoot this?"
## Library

- [x] `@azure/msal-browser@2.x.x` 2.8.0
- [x] `@azure/msal-react@1.x.x` 1.0.0-alpha.1

## Description

How do i diagnose an issue where the login popup is not displaying my custom policy for change password but instead displays my home page (which is also the redirect url). This issue only occurs about 1 out of 10 or twenty attempts for my tester. I'm not seeing any errors in the login

[2021-01-20 13:00] jitendraP-ashutec opened #2906 "Angular msal 2.0 forgot password did not work"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

 I have tried angular 11 b2c project which you provided. I have used same credentials which yo

[2021-01-20 13:03] jitendraP-ashutec commented on #2896
@jo-arroyo  for now I have get status from local storage which is maintain by msal.

``` msal.${ClientId}.interaction.status ```

[2021-01-20 14:19] sharmar999 commented on #2901
`"@azure/msal-browser": "2.8.0"`

Configuration

[code]

acquireTokenSilent calls

[code]

[2021-01-20 14:23] ivarvh opened #2907 "Chrome extension calls the launchWebAuthFlow callback with an undefined responseUrl"
I am trying to get msal to work with a chrome extension. I followed the chrome extension sample in this repo almost word for word. The only difference is that we do not use the common tenant, but our own enterprise tenant.

I click my button in the extension popup, a new window is created and navigates to microsoft login, I fill in the e-mail, click next, it shows the loading dots and then the win

[2021-01-20 14:25] heinonenniilo opened #2908 "Switching accounts"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hello,

in a project, we have a React application which uses the msal.js (@azure/msal-browser p

[2021-01-20 14:29] sharmar999 commented on #2901
`"@azure/msal-browser": "2.8.0"`

Configuration

[code]

acquireTokenSilent calls

[code]

[2021-01-20 14:55] AntonioRedondo opened #2909 "Additional query parameters when calling openid-configuration"
Hi Azure AD team,

My issue is the same than this one already closed but no solution provided:
[Is it possible to have additional query parameters when calling openid-configuration endpoint?](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1727)

I'm using `@azure/msal-browser` v2.8.0 with Microsoft Azure AD B2C as the authority. And my MSAL code is as follows:

[code]

W

[2021-01-20 15:50] ammritt commented on #2894
Hi @hectormmg This is a production B2C account

I am sending you an email with my MSAL Configuration

[2021-01-20 16:27] marcosilvestroni opened #2910 "Uncorrect docs"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ x] README file
- [ ] Other

[2021-01-20 16:36] Hamedfal commented on #2900
Thank you very much. It is working now.

[2021-01-20 16:36] #2900 closed

[2021-01-20 16:37] Hamedfal commented on #2900
issue resolved

[2021-01-20 17:45] jo-arroyo commented on #2907
@ivarvh Could you please fill in one of our [pre-configured issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose)? We need a bit more information to be able to help you. Thanks.

[2021-01-20 19:27] lboonekamp opened #2912 "MSAL v2.8.0 - Chrome Mobile error on iOS - You cannot access this resource... . You need to use Safari or Edge"
## Library
- [ ] @azure/msal-browser@2.8.0

## Description
I've upgraded one of our plain JS apps from MSAL-browser v1.1.3 to MSAL-browser v2.8.0 as it appeared to fix an authentication related issue seen in Mobile Safari. Those iOS users (who have been using Chrome Mobile the whole time) receive this message in Chrome after attempting to sign in;

'**
You can't get there from here
You cannot acce

[2021-01-20 19:55] jo-arroyo commented on #2910
@marcosilvestroni Can you please clarify which specific doc you are looking at?

[2021-01-20 20:04] jo-arroyo commented on #2906
@jitendraP-ashutec Can you please share what the value of `environment.b2cPasswordReset` is?

[2021-01-20 20:06] jo-arroyo commented on #2905
@dsingle Can you please share your configuration and code usage for msal? A fiddler trace would also be helpful.

[2021-01-20 20:09] #2291 closed

[2021-01-20 20:09] #2467 closed

[2021-01-20 20:09] #2561 closed

[2021-01-20 20:09] #2812 closed

[2021-01-20 20:11] jo-arroyo commented on #2901
@sharmar999 Thanks for that. Could you also send us a fiddler trace? Either on teams or to my email which is in my profile. Thank you.

[2021-01-20 20:15] jo-arroyo commented on #2896
@jitendraP-ashutec Is `handleLoginRedirect` just calling `loginRedirect`?

The method `getLoginInProgress` currently does not exist in MSAL 2.x.

[2021-01-20 20:19] jo-arroyo commented on #2895
@deepti1805 @zhangxAmtrak While you can request all the scopes in your login scopes, you will need to separate your scopes for the acquire token calls. The Graph scopes (openid, profile, etc) should be in a separate token request from the `https://amtrakb2ctst.onmicrosoft.com/api/profile.readwrite` scope. Please give that a try.

[2021-01-20 22:14] nilsi opened #2914 "Logout and directly redirect to AD B2C login page. Angular MSAL 2"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How can I redirect to login page when logging out with MSAL angular and Azure AD B2C?

Today Im

[2021-01-21 05:42] hrc7505 commented on #2897
@tnorling Thank you for the quick reply.

Now I am using the cancel button click event for the "Back to sign in" link. It will redirect to the app with an error code and I am handling that error code to navigate on the login page by running the signup-signin policy. It is working fine.

[2021-01-21 07:00] ivarvh commented on #2907
## Library
@azure/msal-browser v2.7.0

## Description

## Error Message
`Unchecked runtime.lastError: Authorization page could not be loaded.`

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Expected behavior

## Identity Provider

- [ ] Azure AD
- [ ] Azure B2C Basic Policy
- [ ] Azure B2C Custom Policy
- [X] ADFS
- [ ] Other

## Browsers/Environment

- [X] Chrome (extension)
-

[2021-01-21 12:03] jitendraP-ashutec commented on #2906
@jo-arroyo   Thanks For response. It was my mistake. I am passing wrong passwordReset URL.

[code]

In Sample code you checked instanceOf AuthError but it is not working.

[2021-01-21 13:01] dsingle commented on #2905
@jo-arroyo I have included my msal instance config and the two different request configs I discussed above at the bottom of the very long comment. I have redacted some identifying information from the configs.

Because the problem is so intermittent, I'm not sure I can get a fiddler trace of the failure. I could provide one for a successful process if you think that would help.

Below is the react

[2021-01-21 14:05] AntonioRedondo commented on #2909
So I see on the Dev branch the `authorityMetadata` property is added to [`Configuration.ts`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/config/Configuration.ts#L28). But this change isn't merged yet to Master ([`Configuration.ts`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/lib/msal-browser/src/config/Configur

[2021-01-21 16:11] tnorling commented on #2897
Great thanks for confirming! Closing as answered, please open a new issue if you have further questions.

[2021-01-21 16:11] #2897 closed

[2021-01-21 16:21] tnorling commented on #2909
@AntonioRedondo We do not support query parameters on the openid-configuration call. In order to support B2C you should set your authority to `https://myapp.b2clogin.com/app.mydomain/b2c_signup_signin` and remove `protocolMode` from your config. Can you let us know if that resolves this?

[2021-01-21 16:43] AntonioRedondo commented on #2909
Hey @tnorling,

Yeah, that works. Thanks! 💝

[2021-01-21 16:43] #2909 closed

[2021-01-21 17:38] sharmar999 commented on #2901
Thank you @jo-arroyo
also is there a way to simulate refresh token expiry?
Its not always reproducible for me, so I don't want to wait for 24 hours to try it again.

[2021-01-21 18:14] jasonnutter commented on #2907
@ivarvh Do you have a fiddler trace you can share? Email is in my profile, thanks!

[2021-01-21 19:10] danich93 opened #2920 "Securing API without triggering login redirect/popup"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.9.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-alpha.3`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I am new to MSAL and I have been playing with it a for a bit. I noticed that making an

[2021-01-21 21:27] jessemartin opened #2921 "msal-browser caches tokens with incorrectly-calculated expiry, causing expired tokens to be returned to client"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- (Verified in `msal-browser`, but likely affects all)

## Framework

- [x] Angular
- [x] React
- (Affects all)

[2021-01-21 21:31] jessemartin commented on #2883
After more digging, it seems there is a problem with how MSAL calculates cache entry expiration, which can cause this issue.

I've surfaced [a ticket](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2921) that describes the problem in more depth and outlines two potential solutions.

[2021-01-21 21:38] amaleszewski opened #2922 "MSAL logout() function requires to select account for whom user wants to logout"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description

According to https://github.com/AzureAD/m

[2021-01-21 22:25] DrJuriko opened #2923 "Property 'canLoad' in type 'MsalGuard' is not assignable to the same property in base type 'CanLoad'"
Hello,

I wonder, am I the only one who have this problem?

## Library
- [x] "@azure/msal-angular": "^2.0.0-alpha.3",
- [x] "@azure/msal-browser": "^2.9.0",

## Framework
- [x] Angular
- [ ] React
- [ ] Other

## Description
Angular CLI: 9.1.13
Node: 12.18.3
OS: win32 x64

Angular: 9.1.13
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platf

[2021-01-21 22:54] jasonnutter commented on #2907
Also, can you provide which version of Chrome/Edge you are using?

[2021-01-21 23:14] jo-arroyo commented on #2923
@DrJuriko Unfortunately, this is a known issue that we are investigating. Angular 9 `canLoad`'s return type does not include `UrlTree`, which can be returned in Angular 10 onwards. We will add it as a known issue to our docs while it is being fixed.

[2021-01-21 23:19] thomasuebi opened #2924 "Uncaught (in promise)"
## Library
- [x] `@azure/msal-browser@^2.9.0`
- [x] `@azure/msal-react@^1.0.0-alpha.2`

## Framework
React

## Description
I have a simple react app using components from msal-react. I keep getting the following non-descriptive error when trying to login (either by popup or by redirect):

## Error Message
[code]

This error message comes from
[code]

## MSAL Configuration

[code]

## Reproduction

[2021-01-22 00:45] jasonnutter opened #2925 "MSAL Browser: ssoSilent should leverage cached auth state if possible"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Source

- [x] Internal (Microsoft)
- [ ] Customer request

## Description

Today, the `ssoSilent` API will

[2021-01-22 01:23] tnorling commented on #2924
@thomasuebi This is happening because you are calling the `useIsAuthenticated` and `useMsal` hooks outside the context of `MsalProvider`. You need to make sure that `MsalProvider` is above any other msal hook/component in the component tree. Please see our react sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample)

[2021-01-22 01:59] Ohmu93 commented on #2920
So I ended up just writing a custom interceptor based off the original MsalInterceptor. But it would have been nice if, as an option, it was possible to set interaction type for MsalInterceptorConfig to InteractionType.Silent so that it would just try to acquire a token silently and if it can't, either throw an error or pass the request without token to the api. But I guess its more of a feature r

[2021-01-22 03:01] #2924 closed

[2021-01-22 13:25] ivarvh commented on #2907
We have discovered that it works when we turn off the corporate VPN. But I can reach the authorization page from the browser. Is there any difference between the little login window chrome creates and the browser itself?

[2021-01-22 15:50] richardrobberse opened #2927 "msal-react acquiring tokens prior to API calls"
## Library
- [X] `@azure/msal-react@1.0.0-alpha.3`

## Description
I'm facing some issues with the way tokens have to be acquired in msal-react.

In short: I have all my async data fetch logic written in Redux actions (thunks to be more precise), my components only dispatch actions to trigger the data fetch and the data flows in once it's retrieved from the server.
Those async actions require a va

[2021-01-22 17:16] jo-arroyo commented on #2922
@amaleszewski Unfortunately, this is a known issue with the AAD service. At this time, there is no way to bypass the logout account selection screen on logout. We would like to make improvements to this, but there are no plans to do so at present.

[2021-01-22 17:24] jo-arroyo commented on #2920
@Ohmu93 At this point, the MsalInterceptor only triggers interaction if there is an error silently acquiring the token. We believe that this logic works best for most scenarios, but if it doesn't work for you, writing your own interceptor would be our recommendation for this use case.

[2021-01-22 17:29] jo-arroyo commented on #2914
@nilsi Unfortunately, it is not possible to set the AAD B2C Login screen as your `postLogoutRedirectUri`. Your current solution of redirecting back to the app and then redirecting to the login page would be our recommended solution.

[2021-01-22 17:33] jo-arroyo commented on #2901
@sharmar999 You could try manually deleting the refresh token from your cache, which would trigger MSAL to get a new refresh token.

[2021-01-22 18:23] tnorling commented on #2905
@dsingle I think as a first step it would be helpful if you could determine which policy is being used when the popup shows your app. If the password reset policy is being called and is redirecting you back to your app before you've had a chance to enter a new password this would be a service issue. If, however, the login policy is being called instead of the password reset policy then you'll need

[2021-01-22 18:40] thoo1 commented on #2883
@jessemartin nice find! Just for my information, I was wondering why msal does not use the "exp" field in the token but uses "expires_in" field? Is it because of clock skew, or other issues?

[2021-01-22 18:51] jessemartin commented on #2883
@thoo1 My understanding is that the server-provided `expires_in` field + a timestamp is used instead of the token's `exp` in order to avoid decoding the token, as that wouldn't work with non-JWTs or encrypted tokens. Perhaps an MSAL contributor can correct my understanding if this is incorrect :) @jo-arroyo @jasonnutter

[2021-01-22 19:04] jasonnutter commented on #2883
This is correct.

[2021-01-22 19:23] tnorling commented on #2927
@richardrobberse I'm not familiar enough with Redux

Every solution will require that you wait for `acquireTokenSilent` to complete before fetching your data. From a performance perspective this should not be a big deal because `acquireTokenSilent` will first attempt to retrieve a valid token from local/session/in-memory storage so in most cases the promise will resolve almost immediately. This is

[2021-01-22 19:44] richardrobberse commented on #2927
@tnorling

This could work for me, however, I prefer to keep this kind of repetitive logic outside of my components.

I already have the user logged in so this should do the job, I'll give it a shot on Monday and let you know.
I think this would be a great addition to the docs, I can provide some examples if needed.

Keep up the good work, this library makes AAD auth really easy!

[2021-01-22 19:55] jasonnutter commented on #2907
Interesting, I have not heard of this issue before. Might be an issue with loading the `chromiumapp.org` domain on your vpn?

My understanding is the browser auth dialogue has its own context, meaning while it can store cookies, those cookies (and other storage) is separate from the main browser window (and gets cleared when the browser is closed).

[2021-01-22 20:06] thoo1 commented on #2883
thanks all! makes sense

[2021-01-22 20:47] ismail1971 commented on #2868
@jo-arroyo Any update on this issue?

[2021-01-22 21:09] ignatzami opened #2929 "interaction_in_progress: Interaction is currently in progress."
I'm attempting to use the loginRedirect. When calling the function I receive the following error:

interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API.

Code Path:
[code]

  AuthStore is a simple class wrapper around the msalClient and configuration objects, as well as the register call for the redi

[2021-01-22 21:30] ignatzami commented on #2929
The response from MSAL is null, this causes the error case in AuthStore to re-call the login redirect, despite having already been redirected.

[2021-01-22 21:44] jasonnutter commented on #2929
@tnorling Can you help here?

[2021-01-22 21:48] tnorling commented on #2929
@ignatzami I would recommend putting your login call into a `useEffect` hook. You don't want `loginRedirect` to be invoked on every render. Additionally, I would not recommend calling `loginRedirect` inside `handleResponse` as this can cause loops.

In case you are not yet aware we also have a react wrapper which solves a lot of these problems for you and should be mostly plug and play. Check it o

[2021-01-23 00:20] tnorling commented on #2779
@DarkLite1 The TypeScript sample has been updated with the `strict` compiler option in the linked PR. Hope that helps!

[2021-01-23 02:58] mars76 opened #2932 "Message: AADSTS900144: The request body must contain the following parameter: 'client_id'."
Hi,

  I have cloned the react-router-simple and changed the clientId in authConfig.js and when i tried to run it locally it is showing the following error:

  AADSTS900144: The request body must contain the following parameter: 'client_id'.

 Request Id: b727ed84-61c5-4cdb-90aa-21547b95be00
Correlation Id: 1bfbc8c4-3657-4341-8b37-3065b98616f3
Timestamp: 2021-01-23T02:48:25Z
Message: AADSTS900144:

[2021-01-23 03:03] mars76 commented on #2932
Library :

@azure/masl-browser: 2.10.0
@azure/msal-react: 1.0.0-alpha.3
react: 17.0.1
react-dom: 17.0.1
react-router-dom: 5.2.0
react-scripts: 4.0.1

Framework

React

Error Message

AADSTS900144: The request body must contain the following parameter: 'client_id'.
Security

    Is this issue security related?

Regression

    Did this behavior work before? No

MSAL Configuration

`export const msa

[2021-01-24 19:39] AGDevX commented on #2929
@tnorling , the issue that @ignatzami  describes seems to be exactly what another dev describes in issue #2149. I'm experiencing the issue in this thread by using the repro steps in the one I referenced. It seems to have been fixed in version 2.0.2, but it appeared again in 2.10.0. I walked through upgrading my msal-browser version-by-version from 2.0.1 to 2.10.0. Here is what I found:

2.0.1: thi

[2021-01-25 01:19] remns commented on #2880
Hi, is there any updates on this issue?

[2021-01-25 05:33] sharmar999 commented on #2901
Deleting the refresh token produces the following error on token refresh.
[code]

[2021-01-25 06:08] pcampospulsarsd commented on #2898
@jo-arroyo , thank you for the confirming that that is not the expected behaviour. With that information, we instead did the _msal-angular_ integration part from the start and making sure it is aligned with the example of [angular11-b2c-sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample). At the same time revisit

[2021-01-25 06:08] #2898 closed

[2021-01-25 06:50] ivarvh commented on #2907
Ok, thanks for the information. I will close this as the issue does not seem to be related to the library after all.

[2021-01-25 06:50] #2907 closed

[2021-01-25 08:22] riktimmondal opened #2933 "Does MSAL-React support class components?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.0.0-alpha.3`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Am using https://www.npmjs.com/package/@azure/msal-react in my react project. The libr

[2021-01-25 08:59] DarkLite1 commented on #2779
Thank you Thomas, I appreciate the help. Closing this one.

[2021-01-25 08:59] #2779 closed

[2021-01-25 09:48] richardrobberse commented on #2927
@tnorling I've removed all the access token logic from my components and created a straight-forward function that wraps `acquireTokenSilent`, which I then call before my API is called and it works as expected.

Thanks a lot for your suggestion!

Would it help if I create a PR to add this example to [Acquiring an access token](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/

[2021-01-25 11:06] mekumari opened #3798 "ID token not saved to localStorage by saveTokenFromHash call"
We are using adal-angular v1.0.15 2017-07-19, and we have seen a few cases where the ID token included in was not saved to localStorage. From Fiddler traces, we saw an ID Token was included in the location header in the # segment. And saveTokenFromHash call did not throw exception. However, when our app restarts, the localStorage is empty. The same logic works for most of the users, but for some,

[2021-01-25 12:29] MarekLani opened #2934 "React MSAL - Silent SSO could not be completed, when token expired"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`  (Alpha 1)
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
I am developing react app and a

[2021-01-25 15:59] #2821 closed

[2021-01-25 16:52] jo-arroyo commented on #2880
@remns Thanks for the information. We are still waiting for an update from the B2C team regarding the issue. We would recommend upgrading to the MSAL 2.x library, as there is multiple account support, as well as a wrapper library for React currently in preview.

[2021-01-25 17:22] tnorling commented on #2933
@riktimmondal When using class components you have 2 options:

1. Use the raw context as shown [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/getting-started.md#consuming-the-raw-context)
2. Use the `withMsal` higher order component to wrap your class component and inject the context into its props. I see now that this approach has not yet be

[2021-01-25 17:31] tnorling commented on #2934
@MarekLani You have 3 options in this scenario:
1. Configure your tenant to return the `emails` claim on `idTokens`. [Read more here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-getaccountbyusername-returning-null-even-though-im-signed-in)
2. Explicitly include `loginHint` with the user's email on the request object passed to `acquireT

[2021-01-25 17:37] jo-arroyo commented on #2868
@ismail1971 The `interaction_in_progress` error occurs when a redirect call is already in progress, and has not been handled by `handleRedirectObservable` when another redirect call is made.

We are currently working on updates to the library to make redirects easier to use. In the meantime, can you send me your `home.component` code and what steps you would take to reproduce this error?

[2021-01-25 18:11] tnorling commented on #2929
@AGDevX Thanks for the information. I've identified the source of the regression and will make sure a fix is included in the next release.

[2021-01-25 18:43] tnorling commented on #2932
@mars76 You have both `clientId` and `client_id` shown above. Can you confirm that you are using `clientId` (this is the correct one)?

[2021-01-25 18:55] #2769 closed

[2021-01-25 19:00] #2579 closed

[2021-01-25 19:10] tnorling commented on #2691
@thoo1 @gabriel-kohen-by Is this still happening with the latest versions?

[2021-01-25 19:12] #2498 closed

[2021-01-25 21:11] Servellia opened #2937 "Invalid-grant error after upgrading to alpha.3"
## Library
- [x] `@azure/msal-react@1.0.0-alpha.3`

## Description
I had a working integration of msal-react with an on-behalf-of flow and an asp.net api with the Alpha.0. After I have upgraded to alpha.3 I am receiving the following error:

`InteractionRequiredAuthError: invalid_grant: AADSTS65001: The user or administrator has not consented to use the application with ID '611c5aa6-f7de-4a06-ace7

[2021-01-26 00:45] jo-arroyo commented on #2848
Closing as `@azure/msal-browser@2.9.0` was released on 01/12/2021 and `@azure/msal-browser@2.10.0` was released on 01/21/2021.

[2021-01-26 00:45] #2848 closed

[2021-01-26 00:46] jo-arroyo commented on #2850
Closing as @azure/msal-browser@2.9.0 was released on 01/12/2021 and @azure/msal-browser@2.10.0 was released on 01/21/2021.

[2021-01-26 00:46] #2850 closed

[2021-01-26 04:34] zhangxAmtrak opened #2938 "Infinite loop for redirect"
## Library
https://alcdn.msauth.net/browser/2.6.1/js/msal-browser.js
## Framework
Angular

## Description
We want to implement a static enrollment URL to be imbedded in email to send to customers.  We use on page load to invoke msal library for signup policy.  But we end up infinite loop instead of going back to home page.  Here is the example of static page

https://aemtest.amtrak.com/guestreward

[2021-01-26 09:39] schokolateur opened #2939 "MSAL2/Angular, B2C SSO between Apps/Apis"
## Library
- [X] `@azure/msal-angular@2.0.0-alpha.3`

## Description
Hi there,

my point is, that i have to setup a bunch of web application, each with its own api backend and all should share the login.
So i started with one angular page and .net core 3 backend. I can aquire a token and call the api. Works. I used the angular11-b2c-sample sample.

I setup a second angular page/,net core backend,

[2021-01-26 10:57] zebslc opened #2940 "How do I get my angular application to work with b2c “revoke session” button which I can press in the Azure portal"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
My use case is to be able to forcibly require users to log in again both from a lost device/acc

[2021-01-26 19:16] jo-arroyo commented on #2940
@nickgmicrosoft Do you have any insight?

[2021-01-26 19:26] jo-arroyo commented on #2939
@schokolateur You can use the `ssoSilent` API to attempt to sso to an existing session. This API requires a `login_hint` (usually the user's email) which may require one application manually passing the `login_hint` to the second application, e.g. through query parameters. If you're unable to provide a `login_hint` to the second application, you will need to invoke interaction.

We don't currently

[2021-01-26 19:47] jo-arroyo commented on #2937
@Servellia It is expected that you would receive an error like this if the user has not consent to the resource scope. If you provide the resource scope in the scopes provided in the login, they will be prompted to consent to the resource scope on login.

[code]

[2021-01-26 19:49] jo-arroyo commented on #2938
@zhangxAmtrak Could you provide us with your configuration and usage code? You could also try upgrading to the latest version of `@azure/msal-browser` which is at version 2.10.

[2021-01-27 00:34] #2219 closed

[2021-01-27 06:28] Servellia commented on #2937
I have consented to the scopes multiple (countless) times. I can enforce a new consent popup, by removing the application from myapps. https://myapplications.microsoft.com/ It does not have any effect.

[2021-01-27 07:32] AmitFidler commented on #2836
Any news on this issue?
Thanks,
Amit

[2021-01-27 09:13] schokolateur commented on #2939
@jo-arroyo Thank you very much. The login_hint was my problem, and maybe  a scope configuration problem too. Now i can call multiple apis from a page and can do the login on the second page also without another prompt.

Thanks

[2021-01-27 09:13] #2939 closed

[2021-01-27 09:22] JasSuri commented on #2940
Unfortunately, this "revoke sessions" is only for Azure AD refresh tokens/cookie revocation.
When you ran the "Edit Profile" button, it used the Session Cookies, therefore are not prompted to login again.

For Azure AD B2C, users, it only evaluates the `RefreshTokensValidFromDateTime` user attribute in User Flows. Custom policies can do that, with further configuration also.

If you delete the Acc

[2021-01-27 09:48] zebslc commented on #2940
@JasSuri @jo-arroyo  thank you for that - Do you have any good guidance suggestions for this & how to trap/respond to it from my code/the samples here given it is in the iframe generated by msal?  Is it something that you could broadcast potentially?

I am also in the process of setting up our custom flows at the moment because we want to be able to generate an account with a temporary password wh

[2021-01-27 10:12] Servellia commented on #2937
Oh, I see now! (partially)

Please correct me, if my assertions are wrong:

- using `/.default` is a blanket accept to any scopes defined in the portal, when using on-behalf-of
- using `access_as_user` only requests an access token with that particular scope (in my case offline_access and User.Read)
- that would imply that `/.default` implicitly also grants access to `access_as_user`

But I do not

[2021-01-27 11:40] JasSuri commented on #2940
The usual approach is to handle the normal errors coming back from AAD B2C that are generated by users. Eg
- User clicked forgot password
- User cancelled MFA
- User cancelled a page

Now a specific error will be introduced by RT revocation, and you might want to handle it explicitly.
Based on the same logic of catching the "User has forgotten their password" error, you can add another catch state

[2021-01-27 11:54] vaibhavrmore1 opened #2941 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API."
The issue started occurring after upgrading, msal-browser library from 2.7.0 to 2.10.0
The issue looks similar to [mentioned here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2149).

Reproducing Scenario:
1. User visits the application site and login page is displayed
2. User does nothing and just cancels the tab
3. User revisits the site
4. Instead of redirection pag

[2021-01-27 13:55] janusch commented on #2927
Hi,
thanks for the great work on react-msal and for posing this very common and relevant use case!

I have been wondering the exact same, though without redux in my app. It is quite common to have the api call logic outside react context or in its own hook.

From my point of view it would be a very valuable addition to react-msal to provide a utility function that is react independent and gets the

[2021-01-27 15:02] faiyazAbdul commented on #2860
once we reload / refresh our application, we need to call acquireTokenSilent, to get the access token, so i was asking do we have a built-In method in msal that detects page reload and get the accessToken silently. (but i figured it out.)

[2021-01-27 15:06] faiyazAbdul commented on #2860
@jo-arroyo
After successful signing, still i need to call **acquireTokenSilent**, which will get success  response without accessToken, then need to call **acquireTokenRedirect** method which returns accessToken.
Is this the way to get accessToken.

after signIn,  in the first call to acquireTokenSilent, I am not getting accessToken, but later for consecutive calls I am getting accessToken.

[2021-01-27 17:20] tnorling commented on #2927
@janusch This exists today in the form of `acquireTokenSilent` on `@azure/msal-browser`. `msal-react` is just a convenience wrapper around `msal-browser` so you are free to use `msal-browser` directly inside or outside of context if you need to...with one caveat:

I do not recommend calling functions that change user state (login, logout) **outside** of context when you also have other bits of cod

[2021-01-27 17:35] tnorling commented on #2941
@vaibhavrmore1 Sorry for the trouble. This is a known regression in version 2.10.0 and will be fixed in the next release by the PR I just linked. In the meantime you can downgrade to 2.9.0 or use `sessionStorage` to mitigate

[2021-01-27 19:26] jviney commented on #2195
Any update?

[2021-01-27 19:27] k-mehta commented on #2219
I'm seeing this issue as well. My call to acquireTokenSilent seems to fail. In the console, I see this error first:
POST https://login.microsoftonline.com/consumers/oauth2/v2.0/token net::ERR_NAME_NOT_RESOLVED

Following that, I get an exception with error set to:
TypeError: Failed to fetch

Seems like MSAL should handle internet connectivity issues more gracefully.

[2021-01-27 19:42] jo-arroyo commented on #2937
@Servellia Yes, your understanding is correct. Using the `.default` scope will request all the scopes for that resource that is defined in the Portal for your application.  Does this solve your original problem?

[2021-01-27 19:48] jo-arroyo commented on #2860
@faiyazAbdul Unfortunately, this is a known issue with the B2C service. Your current method is our recommendation for mitigation. This will be fixed in the B2C service in the future. We can let you know when the fix has been deployed.

[2021-01-27 19:51] k-mehta opened #2944 "Handle network failure in acquireTokenSilent"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
It appears that MSAL is not gracefully han

[2021-01-27 19:54] #2794 closed

[2021-01-27 20:27] jessemartin commented on #2921
More details:

The flow that I noticed this in is SilentFlowClient's `acquireToken`. When unable to acquire a cached token, it falls back to creating a RefreshTokenClient and calling `acquireTokenByRefreshToken` on it, which calls RefreshToken's `acquireToken`.

RefreshTokenClient's `acquireToken` does not initialize libraryState. The same is true for:
ClientCredentialClient
DeviceCodeClient
OnBeh

[2021-01-27 21:46] Servellia commented on #2937
@jo-arroyo Yes, absolutely. You were a great help. Thank you.

[2021-01-27 21:46] #2937 closed

[2021-01-27 23:17] jviney commented on #2195
I've retested this with `@azure/msal-browser` 2.10. The situation certainly seems to have improved - the issue is now that when using a personal account the backend OBO request doesn't provide a refresh token, where non-personal accounts do.

Example OBO response for personal account:

[code]

Example OBO response for non-personal account:

[code]

The scopes are also different for the two scenari

[2021-01-27 23:41] jviney commented on #2195
Ah - so it works if you explicitly add the `offline_access` scope to the OBO request for personal accounts. So the scope becomes: `https://graph.microsoft.com/.default offline_access`. Great!

The Azure app I'm using includes `openid profile email offline_access` in the default scopes - but perhaps they aren't being picked up correctly for personal accounts?

[2021-01-28 00:06] edwinn1990 commented on #2868
Hi there

Any fix for this issue

Thanks

[2021-01-28 00:18] hpsin commented on #2195
Can you record the POST to /token being made by your server, and see what the `scope` parameter looks like? It should be `openid profile offline_access https:://graph.microsoft.com/.default` or similar, even before you use manually append `offline_access`

[2021-01-28 00:27] jviney commented on #2195
The scope sent to `/token` for non-personal accounts is `https:://graph.microsoft.com/.default`. The returned scopes are `email openid profile https://graph.microsoft.com/Files.ReadWrite.All https://graph.microsoft.com/User.Read https://graph.microsoft.com/.default`

[2021-01-28 00:30] hpsin commented on #2195
Thanks! This is a combination SDK bug and server side bug.  AAD considers "offline_access" to be part of MS Graph, so it gives you an RT since it's part of tokens for Graph.  MSA handles this differently and requires offline_access in the request, per OIDC spec. I'll file this bug internally.

The SDKs should also be adding this in automatically if they expect there to be a refresh token provided.

[2021-01-28 00:40] jviney commented on #2195
Thanks - so is providing the OpenID scopes in the OBO request a sufficient workaround?

[2021-01-28 00:42] hpsin commented on #2195
Yup, for the issue you ran into.  Per OIDC if you want a refresh token you need to request it, so certainly that's the more standards-based way of making this work.

[2021-01-28 01:04] jasonnutter commented on #2195
Thanks @hpsin, we'll take a look at fixing this.

[2021-01-28 03:24] akshaybabloo opened #2950 "Question: Usage with Angular 10+"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Will I able to use the library with Angular 11. Your documentation says that only version 2 ca

[2021-01-28 05:52] vaibhavrmore1 commented on #2941
@tnorling,
It's downgraded as of now to avoid the issue. When can the fix be expected for the issue in the latest version?

[2021-01-28 11:40] zebslc commented on #2940
Hi @JasSuri ,
I added the following to my code in the `app.component.ts` area listed at the start of this question in order to see if there are any events I am missing and after running it.

[code]
Below is the trace.  I have commented on it the point that I pressed the revoke button.  I can't see an error - I have tried to log everything.
![image](https://user-images.githubusercontent.com/3459059

[2021-01-28 13:19] zebslc commented on #2940
I am using MSAL 2 btw and the v2 flows - the rest is just the published sample with changes to point to my b2c environment

[2021-01-28 17:08] brugh commented on #2531
Happens to me at logon too. Is there a workaround yet?

[2021-01-28 19:33] jo-arroyo commented on #2944
@k-mehta Thanks for bringing this to our attention. We will investigate this issue.

[2021-01-28 21:59] zzzachzzz commented on #2925
This may or may not be rooted in the same issue, but I've noticed the same behavior when using `acquireTokenSilent` with a B2C authority. In localStorage, there is no entry for a `credentialType` of `AccessToken`, only `IdToken`, resulting in a cache miss.

[2021-01-28 22:01] jonathandturner opened #2951 "msal-node sets the global axios setting rather than setting locally"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Other

## Description

MSAL currently sets a global Axios settin

[2021-01-28 22:11] jo-arroyo commented on #2950
@akshaybabloo We would encourage you to try out our msal-angular v2 library and send us any feedback you have. We are working on it, and msal-angular v2 should be in public preview soon.

Alternatively, you can try implementing your own version of msal inside your Angular 11 application to wrap msal-browser. While it does not have the up-to-date features that are in msal-angular v2, you can try re

[2021-01-28 23:50] tnorling commented on #2925
@zzzachzzz What you describe is due to a known limitation of B2C currently. There's a work item in to change this behavior service-side but in the meantime please see our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-there-no-access-token-returned-from-acquiretokensilent) for the suggested workaround and you can track issue #2315 f

[2021-01-29 00:21] akshaybabloo commented on #2950
OK got it. Thanks.

[2021-01-29 00:21] #2950 closed

[2021-01-29 00:34] #2832 closed

[2021-01-29 00:34] #2826 closed

[2021-01-29 00:35] #2799 closed

[2021-01-29 00:56] #2923 closed

[2021-01-29 01:57] #2883 closed

[2021-01-29 01:57] #2921 closed

[2021-01-29 10:16] sameerag commented on #2828
Unfortunately we do not have a `redis-backed` token storage for `msal-node`. Can you expand a little on what you are trying to do? We can also chat offline and see what best I can do to help.

[2021-01-29 11:10] sameerag commented on #2951
Yes, will address this in the next release!

[2021-01-29 12:19] janusch commented on #2927
@tnorling thank you for the reply!
It makes me confident that I am using the right approach, using `acquireTokenSilent ` for each api call no matter if I already have the token stored locally or need to fetch a fresh one.

[2021-01-29 12:24] richardrobberse commented on #2927
@janusch I use a simple wrapper around fetch that takes care of getting a fresh token for each API call, all my Redux data fetch actions call this wrapper to not duplicate the logic.
You've probably done something similar yourself, just putting it here for future reference.

[2021-01-29 12:59] Luperi opened #2954 "interaction_in_progress when cache is enabled in Configuration"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description
_interaction_in_progress_ error is trigger

[2021-01-29 16:36] MarekLani commented on #2934
@tnorling  thank you for response, however I am not able to set loginHint on acquireTokenSilent, it seems not to be valid parameter (I am using typescript)

[2021-01-29 16:40] Seddy24 commented on #2927
@janusch I'm looking to do something similar, can you please share the method that gets a new token outside of context.

[2021-01-29 16:54] thoo1 commented on #2691
@tnorling We're still using 2.6.1, but have now fully migrated to msal-browser. We'll upgrade to 2.10.1 and see if we continue to see the error
Was there any code changes made in the later versions that could have solved this issue of
AADSTS501481: The Code_Verifier does not match the code_challenge supplied in the authorization request. ?

[2021-01-29 17:32] tnorling commented on #2691
@thoo1 Since I have not been able to reproduce this I can't say for sure but we recently made some improvements to how the temporary cache works during a request which may solve this issue. We plan to release 2.10.1 next week, I'd give that a shot and if it's still happening reach out to me on Teams and we can try to debug.

[2021-01-29 17:34] tnorling commented on #2934
@MarekLani My mistake, you're right `loginHint` is not part of the `acquireTokenSilent` request object. You should use the `account` object and ensure the `username` field is populated. You can do this either by enabling the `emails` claim on your B2C tenant and MSAL will handle this automatically, or you can manually update the `username` property with the user's login before passing it to `acqui

[2021-01-29 17:45] MarekLani commented on #2934
Thank you @tnorling, I was trying to enable emails claim in my custom policy, but I probably made mistake somewhere, can't find documentation on doing it, but will try to manually set the username using email from idTokenClaims. Will report back

[2021-01-29 21:33] jo-arroyo commented on #2954
@Luperi This is a known regression in `msal-browser@2.10.0` that will be fixed in the next release by the PR linked above. In the meantime, you can downgrade to version 2.9.0 or use `sessionStorage` to mitigate.

[2021-01-29 21:36] Luperi commented on #2954
Hi @jo-arroyo thanks for the reply, what is the added value of having the cache? Without the configuration, is behaving good.

[2021-01-29 23:52] jasonnutter commented on #2531
Update: We will have a proper sample for this scenario, but if you are getting this error, it is because you are trying to call `loginRedirect` inside the Teams tab directly, which is not the proper way to invoke auth in Teams.

You need to use the [Teams JS SDK](https://docs.microsoft.com/en-us/javascript/api/overview/msteams-client?view=msteams-client-js-latest):

1. Invoke [`microsoftTeams.auth

[2021-01-29 23:58] jasonnutter commented on #2531
And if you want to use the Teams OBO token to get SSO, you will need to trade it server-side, as demonstrated here: https://github.com/OfficeDev/microsoft-teams-app-quickstarts/blob/master/js/clients/tabs/tab-personal-sso/src/components/Tab.js#L68

We'll have a sample that shows both approaches.

[2021-01-30 00:35] #2834 closed

[2021-01-30 00:35] #2822 closed

[2021-01-30 01:21] k-mehta opened #2957 "postLogoutRedirectUri does not work"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.10.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
I am not redirected to my postLogoutRedir

[2021-01-30 01:23] jasonnutter commented on #2957
Is your `postLogoutRedirectUri` also registered as a redirect URI for your app (in addition to front-channel logout url)?

[2021-01-30 01:26] k-mehta commented on #2957
No

[2021-01-30 01:27] k-mehta commented on #2957
Ahh, adding it to the redirect URI list fixed it, thanks!

[2021-01-30 01:27] #2957 closed

[2021-01-30 07:00] Zerryth opened #2958 "Client Credentials Grant Type Availability Date"
## Description
Simple question: **is there a release date for client credentials grant type in MSAL.js?**

___
I've tried searching the issues for "client credentials" and couldn't find anything, however directly in the [root README of the repo](https://github.com/AzureAD/microsoft-authentication-library-for-js#core-and-wrapper-libaries), you can see it says

There's interest on the MS Bot Framewo

[2021-01-30 12:08] k-mehta commented on #2882
Fixing this will clean up a bunch of unnecessary undefined checks in my code too - super helpful with TS!

[2021-01-30 15:56] eluchsinger commented on #2868
@jo-arroyo there is a similar problem with the Password Reset. [Apparently](https://github.com/MicrosoftDocs/azure-docs/issues/20128), one needs to handle the error code (AADB2C90118) returned to the app. I'm guessing, you would want to solve it in a similar way?

[2021-01-31 00:37] #2840 closed

[2021-01-31 05:19] jasonnutter commented on #2958
Client credential flows are supported in MSAL Node: https://www.npmjs.com/package/@azure/msal-node

[2021-01-31 12:36] richardrobberse commented on #2927
@Seddy24 Here you go, my configuration is stored in Redux and the graphToken parameter just determines which scopes to request a token for.

`
import { Configuration, PublicClientApplication } from '@azure/msal-browser'
import { store } from 'store'

const getToken = async (graphToken: boolean = false): Promise<string> => {
  const appCfg = store.getState().app.configuration
  const cfg: Configura

[2021-01-31 13:41] Seddy24 commented on #2927
@richardrobberse I was trying to do it with my msal-react public client instance.  Was not aware you can have multiple instances with any issues.  I guess this isn't being used as context so it does impact the provider wrapper.  Thank you for your help!

[2021-02-01 10:36] eluchsinger commented on #2929
@tnorling this is an issue that also happens in Angular.

[2021-02-01 13:57] janusch commented on #2927
Hi @richardrobberse ,
my implementation looks  very similar. I just moved the `pca` instance and configuration outside the getToken helper function. And I am not using redux.

Thank you for sharing!

[2021-02-01 18:31] richardrobberse commented on #2927
@janusch You're welcome! This is also what @tnorling advised me to do so I'll revisit my code :)

[2021-02-01 18:32] #2927 closed

[2021-02-01 18:53] jo-arroyo commented on #2832
Issue closed, worked with customer offline. We encourage anyone who experiences this issue to upgrade to MSAL.js v2 where this scenario is supported.

[2021-02-01 20:43] Zerryth commented on #2958
Thanks @jasonnutter . Have to discuss with the team if we want to migrate this yet on basis that the bits are still preview. Appreciate link to the sample and pointing in the right direction

[2021-02-02 02:26] tnorling commented on #2954
@Luperi When you do not provide the cache configuration explicitly it defaults to sessionStorage. If you'd like to use localStorage or in-memory storage instead you can specify that in the config.

`msal-browser@2.11.0` was just released and contains the fix for this issue. Closing, please open a new issue if you have further questions. Thanks!

[2021-02-02 02:26] #2954 closed

[2021-02-02 02:27] tnorling commented on #2941
@vaibhavrmore1 `msal-browser@2.11.0` has just been released and contains the fix for this issue. Closing, please open a new issue if you have further questions. Thanks!

[2021-02-02 02:27] #2941 closed

[2021-02-02 02:28] tnorling commented on #2929
All, `msal-browser@2.11.0` has just been released, which contains the fix for this bug. Closing, please open a new issue if you have further questions. Thanks!

[2021-02-02 02:28] #2929 closed

[2021-02-02 04:54] johnvittneyk commented on #2874
Implemented the solution as suggested. But there is no big improvement in the performance.

@jasonnutter - Also login method fails to load after clearing the cache or with the poor network.
**token error Couldn't retrieve access token**

[2021-02-02 04:58] johnvittneyk commented on #2876
We implemented the same as suggested. But at times the requests fail. Hopefully, this will be considered a bug in the product or guidelines should be provided to the developer to limit the number of calls.

[2021-02-02 09:05] prkhandelwal commented on #2941
@tnorling Thanks for the update, but we're still facing this issue after upgrading to `msal-browser@2.11.0`. The issue is not replicated in v2.7.0

[2021-02-02 10:16] prkhandelwal commented on #2941
@tnorling Thanks for the update, but we're still facing this issue after upgrading to msal-browser@2.11.0. The issue is not replicated in v2.7.0

[2021-02-02 12:28] sharmar999 commented on #2901
Hey @jo-arroyo
We have implemented a 1 + 2 token fetch with retries. Will update with the results in a week.

Just for my understanding, I had a question.

I see that even when the refresh token is expired and an IFrame is spawned to re-authenticate the user, MSAL may return an `interaction_required` error. How is an `interaction_required` differentiated from a `monitor_window_timeout` ?
  Is it s

[2021-02-02 13:06] sharmar999 commented on #2901
This question is an extension of what I asked earlier.

is there a way we can simulate token expiry for all kinds of tokens (access token, refresh token etc.)? I see an `expiresOn` and `extendedExpiresOn` property for the regular tokens (changing which seems to work) in cache but don't see one for the refresh token or the identity token.

We want to test different scenarios especially for long liv

[2021-02-02 13:50] rnkpareek opened #2962 "RefreshToken"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Unable to use refresh Token,
Can any one suggest how to refresh the token silently.

## Source

[2021-02-02 17:11] tnorling commented on #2941
@prkhandelwal The scenario shared in the original post was fixed in the latest version. Your issue may be different, could you please open a new issue and include your configuration and steps to reproduce. Thanks!

[2021-02-02 17:31] hectormmg commented on #2962
Hi @rnkpareek! I took the liberty to add our Question template markdown to your issue description, could you please fill it out so we can have all the information you need to answer your question? Thanks!

[2021-02-02 17:39] jo-arroyo commented on #2868
@ismail1971 @edwinn1990 @balcanusebi @eluchsinger The latest versions of msal-browser and msal-angular were released last night, and contains new guidance on redirects to avoid the interaction_in_progress error. Please update using `npm install @azure/msal-browser@2.11.0 @azure/msal-angular@alpha` and give the new version a try.

@eluchsinger If you have additional problems with Password Reset aft

[2021-02-02 17:41] jo-arroyo commented on #2923
@DrJuriko The latest versions of msal-browser and msal-angular were released last night and contains the fix for this issue. Please update using `npm install @azure/msal-browser@2.11.0 @azure/msal-angular@alpha` and give the new version a try.

[2021-02-02 17:48] DrJuriko commented on #2923
Thank you, already did it, everything is fine!

[2021-02-02 18:08] jo-arroyo commented on #2896
@jitendraP-ashutec The latest versions of msal-browser and msal-angular were released last night. This new version has guidance on using redirects, as well as a new `inProgress$` observable that you can subscribe to, to ensure no interactions are in progress when you check for accounts. Please update using `npm install @azure/msal-browser@2.11.0 @azure/msal-angular@alpha` and give the new version

[2021-02-02 18:29] hectormmg commented on #2922
@amaleszewski just to complement @jo-arroyo's answer here, `msalObj.logout()` does clear the cache and session data on the client side (browser). The logout prompt you're seeing comes from the AAD service, because it needs to know which user to terminate the session for on the authentication server side. Like @jo-arroyo said, we're discussing possible improvements to this experience.

[2021-02-02 18:52] fjuriolli commented on #2929
@tnorling I'm still able to reproduce this using `loginRedirect` with `msal-browser@2.11.0`.

[2021-02-02 19:32] tnorling commented on #2929
@fjuriolli Can you please open a new issue and include your config and steps to reproduce? Thanks!

[2021-02-02 19:34] sharmar999 commented on #2901
Updating on the issue
we see that retrying after we receive a `monitor_window_timeout` further throws a `no_tokens_found` error.

Does the former error clear MSAL cache?

[2021-02-02 19:39] jasonnutter commented on #2925
Closing, as we decided that if apps want caching when using `ssoSilent`, they should invoke `acquireTokenSilent`, and then invoke `ssoSilent` only if they get the `no_tokens_found` error.

[2021-02-02 19:39] #2925 closed

[2021-02-02 20:31] sameerag commented on #2958
@Zerryth Thanks. `msal-node` will GA soon (projection is this month) and will be announced in this repo. In case you have further questions, please feel free to reach out.

[2021-02-02 20:31] #2958 closed

[2021-02-03 00:31] #2843 closed

[2021-02-03 04:30] prkhandelwal commented on #2941
Hey @tnorling , actually @vaibhavrmore1 and I are referring to the same code-base.

[2021-02-03 08:20] momdim opened #2966 "msal-browser@2.10.0 loginRedirect bug"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.10.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React 17
- [ ] Other

## Description
Call to loginRedirect(authority, redir

[2021-02-03 16:13] ammritt commented on #2894
Hi @hectormmg just following up to see if you have been able to reproduce my issue.

[2021-02-03 16:56] #2145 closed

[2021-02-03 18:25] tnorling commented on #2941
@prkhandelwal Nevertheless I'm still going to need more information than what has been provided. Please open a new issue and make sure to fill out one of our provided [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose) so that our livesite engineer has enough information to debug.

[2021-02-03 20:14] hectormmg commented on #2894
Hey @ammritt ! I haven't been able to reproduce it yet, but I'll let you know when I have more information!

[2021-02-03 20:17] hectormmg commented on #2966
Hi, @momdim ! This is a known issue that was fixed in `v2.11`. Could you please upgrade and let us know if your issue is solved?

[2021-02-03 20:28] tharaka86 opened #2970 "CORS Issue"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Trying to generate token from registered app to access another api. Permission is granted in a

[2021-02-03 20:52] pkanher617 commented on #2970
@tharaka86 Since you are using @azure/msal-node and have a ConfidentialClientApplication, you shouldn't need to register your redirect URI as a SPA. If your app is a SPA application, you should be using the [`@azure/msal-browser`](https://www.npmjs.com/package/@azure/msal-browser) library. If you still run into CORS issues we can investigate further.

[2021-02-03 21:26] vitaliidasaev commented on #2868
Here is the link to new documentation
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

[2021-02-03 22:33] tnorling commented on #2867
@shmehltr Can you try version `msal-browser@2.11.0` and let us know if this is still an issue?

[2021-02-03 23:24] pkanher617 commented on #2836
Hi all. Apologies for the delay in answering.

@gautamsi This is your first warning: by participating in this repository, you agree to follow Microsoft's Code of Conduct: https://opensource.microsoft.com/codeofconduct/

Further violations may result permanent banishment. Happy to have a constructive conversation about why refresh tokens should be returned.

This is something that is not unique to

[2021-02-04 00:28] #2859 closed

[2021-02-04 00:28] #2858 closed

[2021-02-04 00:28] #2856 closed

[2021-02-04 04:24] gautamsi commented on #2836
@pkanher617 dont worry, I will not be jumping here again. Happy without it until the approach changes.

[2021-02-04 05:25] hrc7505 commented on #2315
I am having the same issue. Login process working fine. But accessToken is empty.

Here are my configuration and code to handle token and sign in,

[code]

Here is the response I am getting from the `acquireTokenSilent`
[code]

Am I missing anything here?

[2021-02-04 07:31] momdim commented on #2966
Hi Hector! Thanks for the information. I have updated to 2.11.0 and I can confirm that this bug is now gone. Thanks again! :)

[2021-02-04 08:40] jitendraP-ashutec commented on #2896
@jo-arroyo  Thanks for updates.

[2021-02-04 12:20] tharaka86 commented on #2970
@pkanher617 I do have the redirect URL set up as SPA. With msal-browser, can I get a token as the app without user involvement.

My scenario is app getting a token for it self which is valid to access another API

Thanks

[2021-02-04 13:10] code-by-gijs commented on #2934
The accesstoken will always expire after 24 hours, even if you refresh your tokens. There is no rolling window. This is how the flow works within a SPA. As @tnorling explained, you should trigger an interactive flow when `acquireTokenSilent` fails.

[2021-02-04 14:34] MarekLani commented on #2934
@code-by-gijs  thanks for additional context, would this be helpful in this case: https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy

[2021-02-04 15:48] digitalcraftco commented on #2315
@hrc7505 Try passing in the Application (client) ID of the app registered in B2C to the scopes array. Not sure of the ramifications or why this works but it worked for me.

`scopes: ['openid',  'offline_access', XXXXXX-XXXXXXXX-XXXXXXXXXX],`

[2021-02-04 15:51] tnorling commented on #2934
The refresh token expires after 24 hours. Access token lifetimes are 1 hour.

When the refresh token expires after 24 hours msal.js will attempt to silently acquire a new set of tokens (including refresh token) using a hidden iframe, this is what @MarekLani was asking about. This will not work if you don't have a `login_hint` or if your browser blocks 3rd party cookies in which case you will need

[2021-02-04 15:54] zzzachzzz commented on #2315
@digitalcraftco This solution also worked for me. Either the client ID, or a custom scope can be used. I'm using B2C to secure access to an API, so I created a custom scope for a separate registered app for the API.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens#scopes

[2021-02-04 16:06] pkanher617 commented on #2934
Just to add on to what @tnorling has said, the auth server will send a new refresh token when you use one to redeem an access token. So if you call acquireTokenSilent at least once every 24 hours, you can ensure your application does not need to handle an interactive flow. The only time you will need to handle the acquireTokenSilent failure is if it has not been called within 24 hours of a token r

[2021-02-04 16:10] code-by-gijs commented on #2934
Nope, you can refresh a token for 24 hours, after those 24 hours, you cannot refresh your token anymore. It is not a rolling window for a SPA. So every 24 hours you will have to perform an interactive action.

[2021-02-04 16:12] pkanher617 commented on #2934
My mistake! I was under the impression the new refresh token had a new expiration. please disregard my comment.

[2021-02-04 16:16] tnorling commented on #2934
@code-by-gijs This is not accurate. See my comment above regarding hidden iframes.

[2021-02-04 16:17] hectormmg commented on #2966
Great! Thanks for the update @momdim! Closing the issue!

[2021-02-04 16:17] #2966 closed

[2021-02-04 16:19] code-by-gijs commented on #2934
Hidden iframes are not the way to go. They require third party cookies. More and more browsers are dropping support for third party cookies by default.

[2021-02-04 16:45] pkanher617 commented on #2970
@tharaka86 The app model is important here. Is your app a Single-Page application, with no server-side component? Or does it communicate with a backend server that will be retrieving data?

If it is the former, there are no confidential client flows available, you will be required to get a token with user interaction. If it is the latter, you can use the confidential client flow on that backend se

[2021-02-04 17:03] pkanher617 commented on #2901
@sharmar999 sorry for the delay.

I think this is a good idea, this will ensure that you will always check that a refresh token is in the cache before making calls in parallel using that refresh token. We are looking at ways to improve the experience to make concurrent `acquireTokenSilent()` calls easier to implement.

You can do this for the id token and access token exactly as you described, by

[2021-02-04 17:11] sharmar999 commented on #2901
Thank you for the response @pkanher617

Would there be an enhancement from the MSAL team to change the `monitor_window_timeout` to `interaction_required` in the future? It seems to be more useful from a developer's perspective as the only mitigation would be to use `acquireTokenRedirect` in this case (which we already do)

And also just to confirm, currently we are logging all the errors we get du

[2021-02-04 17:46] jamesots opened #2974 "Handling IE11's cache-control issues"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We came across an interesting problem trying to use our site, msal and IE11.

We have

[2021-02-04 18:35] shmehltr commented on #2867
thanks I am updating my packages and I will test this over the next few days.

[2021-02-04 18:43] tharaka86 commented on #2970
@pkanher617  this is for a single page app that tried to call back end api. for it to access backend api, im tryig to generate token

[2021-02-04 18:54] pkanher617 commented on #2970
@tharaka86 I think there is a misunderstanding here. I'm not asking what resource you are communicating with. I'm asking which component are you trying to authenticate?

Regardless of where the API that you are retrieving data from is located, an application environment restricted to the browser (AKA a Single-Page Application) can only authenticate on behalf of a user - it cannot authenticate the

[2021-02-04 19:45] tharaka86 commented on #2970
@pkanher617  thanks, its clear now. Thanks for the help

[2021-02-04 20:19] pkanher617 commented on #2970
Absolutely! If there is nothing else can I close this issue?

[2021-02-04 20:36] #2970 closed

[2021-02-04 21:13] pkanher617 commented on #2974
@jamesots Thanks for bringing this to our attention. Is this something you only see in IE11? As far as I can tell this is how most of the browsers work - subdomains are considered the same for caching, but different for CORS.

[2021-02-04 21:25] johnvittneyk opened #2975 "MSAL Authenticaton fails for the SPFx webparts with 302 Errors in network tab (in low network speed scenario )"
## Library

- [ ] `@azure/msal-browser@2.x.x`

## Framework

- [ ] React

## Description
Login Authentication fails in low internet speed scenario. 302 Errors are logged in the network tab. Please check the below screenshot

![image](https://user-images.githubusercontent.com/10572392/106954773-4490f400-675a-11eb-8862-97314bbe7d87.png)
![image](https://user-images.githubusercontent.com/10572392/106

[2021-02-04 23:28] liu351 commented on #2974
I am also seeing this issue, never noticed until yesterday. It is happening to us for IE11 only as well. Right now we have not implemented a workaround in the code except disabling all cache in ie11 to get the new request headers.

   "@azure/msal-angular": "^1.1.2",
    "msal": "^1.4.4",
    angular 9

[2021-02-04 23:43] #2933 closed

[2021-02-05 00:28] #2817 closed

[2021-02-05 05:41] hrc7505 commented on #2315
@digitalcraftco This worked for me too. Thank you so much!

[2021-02-05 06:42] smahajan1989 opened #2978 "Navigate to Previous Page without using NavigateToLoginRequestUrl to be true"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
As per the documentation, it has been stated that to enforce redirectStartPage parameter, one h

[2021-02-05 07:30] shyam2794 opened #2979 "React MSAL - Clarifications needed on working of acquireTokenSilent"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@^1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Need clarification in understanding the acquireTokenSilent process . And the recommen

[2021-02-05 08:54] kulbon opened #2980 "msal-browser throws error when running unit tests in react @testing-library"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

Create React App
Tyscript
react: "^17.0.1"
@testing-library/react:  "^11.2.3"

## Description
n

[2021-02-05 09:59] eluchsinger commented on #2868
Hi @jo-arroyo the redirection now apparently logs you in, but if I go to a protected route, let's say `/admin`, I get redirected to the login screen. After logging in, I get briefly redirected to `/admin` (I only see it in the logs)  **and then back to** `/`.

If I enter `/admin` again, I don't get redirected to the login, because I'm already logged in.

Also, after the weird redirection back to `

[2021-02-05 10:50] zebslc commented on #2940
Hi, this is still an issue for me - is there any solution or an indication of what I am doing wrong in my last comments?

[2021-02-05 14:00] 0lukasz0 opened #2981 "With multiple accounts, user is redirected through login experience twice"
## Library

- [x] `msal@1.4.5` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm aware that there is that issue: https://github.com/AzureAD/microsoft-authentication-library

[2021-02-05 15:12] jamesots commented on #2974
Yes, it's only in IE11 (out of the browsers I tested).

[2021-02-05 16:57] jo-arroyo commented on #2868
@eluchsinger Could you open up a [new issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose)? A new issue with the new versions, your configurations and usage would help us identify where the problem is occurring, thanks.

[2021-02-05 17:53] roopeshreddy opened #2982 "request.origin key is overwriting"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description

## Error Message

## MSAL Configuration

[2021-02-05 18:33] hectormmg commented on #2981
Hi @0lukasz0 , this is a known-issue that the B2C service is currently working to fix. I suggest you raise a support ticket with them https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options. Thanks!

[2021-02-05 18:38] hectormmg commented on #2980
Hi @kulbon ! What testing framework are you using underneath? You need to add "crypto" to your test environment globals. Check [this configuration file](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/jest.config.js) for an example of how we do that with `jest`.

[2021-02-05 19:48] kulbon commented on #2980
@hectormmg i'm using @testing-library/react: "^11.2.3"

Jest.config.js is not working in this case.
I've tried add this code to the test and it's working

[code]
But then a warning appears:
[code]

[2021-02-05 21:22] pkanher617 commented on #2978
@smahajan1989 You can definitely do this!

`navigateToLoginRequestUrl` is meant to do exactly what you want - navigate to the page that made the request before processing the hash. When you use the `login/acquireTokenRedirect()` function, the `redirectUri` is the first place that will get the url hash (i.e. "abc.com" - if you do not provide a value for `redirectUri` in the config, it will default

[2021-02-05 21:40] jo-arroyo commented on #2982
@roopeshreddy Can you please confirm what versions of msal-angular and msal-browser are being used? Also, could you provide your usage, i.e. whether you are handling redirects yourself, and which pages they are being handled on?

[2021-02-05 21:43] hectormmg commented on #2979
Hi @shyam2794 .

The `acquireTokenSilent` API does the following:

1. It checks the cache to see if there's a valid, unexpired access token that matches the request passed in. If there is, it returns said access token.
2. In case the access token is expired, it uses the cached refresh token to request a new Access Token from the network and returns the new Access Token.
3. If the refresh token is

[2021-02-05 21:56] hectormmg commented on #2938
@zhangxAmtrak we have recently released version 2.11. Could you please upgrade and tell us if that resolves your issue? Thanks.

[2021-02-05 22:08] jo-arroyo commented on #2835
Closing as this issue as a fix for redirects has been released, and continuing communication is being handled with the customer offline. Future questions regarding redirects should open a new issue.

[2021-02-05 22:08] #2835 closed

[2021-02-05 22:08] hectormmg commented on #2827
@eanders-MS we'll take a look at this, thanks for raising the issue!

[2021-02-05 22:13] hectormmg commented on #2801
@zzzachzzz are there any updates on whether your issue has been solved so we can close this thread?

[2021-02-05 22:23] hectormmg commented on #2691
@thoo1, @gabriel-kohen-by  have you been able to test with the latest version of msal-browser (2.11) to see if your issue has been fixed?

[2021-02-05 22:59] zzzachzzz commented on #2801
@hectormmg I have my workaround but it doesn't seem the root problem was resolved / discovered. If @tnorling speculation is accurate:

...then that should probably be documented. My intuition was to register the redirect URIs as SPA, since my app is a SPA. You can close it if you want.

[2021-02-05 22:59] shweaver-MSFT opened #2983 "Latest release (1.4.5) breaks es6 usage in MGT"
## Library

- [x] `msal@1.4.5`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description
A recent update to msal.js (1.4.5) has broken our ability to load the library in the [Microsoft Graph Toolkit](https://github.com/microsoftgraph/microsoft-graph-toolkit). Version 1.4.4 works as expected.

## Error Message

This is the error we see on the Microsoft Graph Toolkit test page in Edge:

!

[2021-02-05 23:11] jasonnutter commented on #2983
@tnorling Looks like we need to make the `version.json` file `version.js` instead.

[2021-02-05 23:13] shweaver-MSFT commented on #2983
You got it! Thanks @jasonnutter :)

[2021-02-05 23:20] tnorling commented on #2801
@zzzachzzz Please see this [doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow). The distinction here is that this redirect URI is not a redirect URI for your SPA. It's an internal redirect URI between the AAD service and B2C service.

From the linked doc:

[2021-02-05 23:20] #2801 closed

[2021-02-05 23:30] roopeshreddy commented on #2982
@jo-arroyo Thanks for the response!

msal-browser - **^2.11.0**. We're using the MsalGuard for redirecting!

We're making a MS Graph call to fetch the user details. We suspect this call is happening before the login and hence this issue.

[2021-02-05 23:30] #2982 closed

[2021-02-05 23:58] tnorling commented on #2980
@kulbon Can you please try what the error asks you to do? This is an error thrown by `@testing-library/react` and they have documentation describing what this error is and how to resolve, I would recommend looking through their docs. You can also take a look at our [react tests](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react/test), which also use `@testi

[2021-02-06 08:15] mleimer opened #2986 "How to verify authentication state in new tab with session storage"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Given that we use  `SessionStorage` and do NOT want to use `LocalStorage` to share the login s

[2021-02-06 08:35] nick17728 opened #2987 "core.js:4442 ERROR Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API."
Hi facing an issue when login function called on pageload (angular).
works fine with interaction type pop up.

  "@azure/msal-browser": "^2.11.0",

`login() {
  /////////use pop up to avoid interaction error while auto signin ///////

  if (this.msalGuardConfig.interactionType === InteractionType.Popup) {

    if(this.authService.instance.getAllAccounts().length > 0){
      this.getProfile();

[2021-02-06 09:36] #2987 closed

[2021-02-06 16:48] #2920 closed

[2021-02-06 16:51] benvdh commented on #2828
@eanders-MS There was actually discussion on this a while ago in an msal-python issue:

https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/98

@sameerag I am looking for something similar in a python context, but the use case generalizes to platforms like node as well. In my case it concerns a backend web-application running on kubernetes with multiple replicated pods, w

[2021-02-06 23:57] pjchungmd opened #2988 "How to determine whether the user is authenticated to implement protected routes in React?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have a React SPA in which I have been able to implement authentication. However I would like

[2021-02-07 01:44] #2951 closed

[2021-02-07 04:33] SamuelQZQ commented on #2941
@tnorling I met the same issue:
[code]

Even if I upgrade to 2.11.0, the issue still exists.

[2021-02-07 05:01] SamuelQZQ opened #2989 "After logout, in the same tab, user cannot login, and get the exception "BrowserAuthError: interaction_in_progress""
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React 16
- [ ] Other

## Description
After call `logout`, will be directed

[2021-02-07 05:23] SamuelQZQ opened #2990 "A unexpected window popup when logout"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React 16
- [ ] Other

## Description

When the user logout, user will be re

[2021-02-07 09:42] k-mehta opened #2991 "Null expiresOn for tokens?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.10.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

When can AuthenticationResult.expiresOn be null? I get this object back from handleRedirectPr

[2021-02-07 21:59] hesperanca commented on #2975
I'm a newbie with async js so I might be completely wrong here but are we allowed to call async functions in a constructor? Isn't it likely to cause problems?

[2021-02-08 10:16] JasSuri commented on #2940
You added this to acquireTokenSilent()? That is where your logic needs to sit.

[2021-02-08 16:49] 6ygga opened #2992 "Error: Should not import the named export 'version' (imported as 'libraryVersion') from default-exporting module (only default export is available soon)"
## Library

- [X ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X ] Angular
- [ ] React
- [ ] Other

## Description

## Error Message
./node_modules/msal/li

[2021-02-08 17:13] tnorling commented on #2941
Again, just saying something doesn't work isn't enough for us to debug and determine what needs to be fixed. We need actionable reproduction steps so that we can understand if this is a bug in the library or a usage problem. The scenario in the original post was reproduced in the previous version and no longer reproduced in 2.11.0 so if it's still happening there's a piece of information missing.

[2021-02-08 17:17] hectormmg commented on #2988
Hi @pjchungmd . Please review [this document](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/getting-started.md) on Getting Started with our msal-react library. You may find the `useIsAuthenticated` hook useful. It returns a boolean (true/false) on whether the user is authenticated.

Is there any specific reason you don't want to use the Authenticat

[2021-02-08 17:39] pkanher617 commented on #2901
@sharmar999 `monitor_window_timeout` usually occurs when a silent request to the iframe doesn't work due to either the server page not redirecting back to the application in the iframe (this happens when there is a problem with the authentication request) or if the iframe does not redirect in a specified amount of time. It is an unexpected error, and if it happens too frequently there is probably

[2021-02-08 17:39] hectormmg commented on #2600
We're may consider adding `https-proxy-agent` or something similar to MSAL Node in the future to support proxy requests, but there are no plans to do it yet. We'll update this issue if and when we do.

[2021-02-08 18:16] thoo1 commented on #2691
@hectormmg thanks for following up, we have upgraded our msal-browser version from 2.6.1 to 2.11.0. As of right now, we do not see any instances of "token_request_cache_error" for users running v2.11.0. So far it looks good! I'll let you know if I do see the error again in v2.11.0
Cheers!

[2021-02-08 18:21] hectormmg commented on #2990
Hi @SamuelQZQ . Could you please provide your MSAL API usage code so we can better understand your problem?

[2021-02-08 18:25] pjchungmd commented on #2988
Hi @hectormmg. I just found the `useIsAuthenticated` hook, but then I am running into the problem that I immediately get redirected because it automatically returns false. I actually did try using the Authenticated/Unauthenticated templates and was having the problem that despite being logged in and authenticated, the Unauthenticated Template was being called.

[2021-02-08 18:29] sharmar999 commented on #2901
@pkanher617
We are seeing this for almost 20k users per day.
We haven't been able to reproduce the same, and the above number is based on our logs.

We currently have a `iframeHashTimeout` of 30000 (30 seconds). I believe this should be a big enough number.

[2021-02-08 18:30] shmehltr commented on #2867
So far so good with the updated package testing locally. I will be deploying to our test environment for further testing. I think this takes care of the problem though

[2021-02-08 19:08] tnorling commented on #2988
@pjchungmd The very first render will always return false. To prevent a redirection before msal has finished initializing you should wait to call `loginRedirect` until the `inProgress` value in msal's context is `"none"`.

It sounds like you're trying to mimic the behavior of `MsalAuthenticationTemplate` which will render children if a user is signed-in or trigger a login if no user is signed in.

[2021-02-08 21:44] #2983 closed

[2021-02-08 21:44] #2992 closed

[2021-02-08 21:50] tnorling commented on #2992
@6ygga Please keep an eye out for version 1.4.6 which will address this with the PR linked.

[2021-02-08 21:50] leskodan opened #2997 "Not returning a token from B2C"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ x] React
- [ ] Other

## Description
I was happy to see a msal-react example

[2021-02-08 21:55] pkanher617 commented on #2997
@leskodan Do you have any more info about the 400 error? Is it a CORS related issue? If it is related to CORS, make sure your redirect URI in the portal is of type `SPA`.

[2021-02-08 22:41] leskodan commented on #2997
Thanks @pkanher617, that did the trick! Heads up for anyone else experiencing a similar issue, this isn't abundantly clear on the URI configuration page. I was able to configure accordingly by following this link.

![image](https://user-images.githubusercontent.com/51446532/107290544-ba37e100-6a34-11eb-82ea-a23035fb12c4.png)

[2021-02-08 22:42] #2997 closed

[2021-02-09 01:45] #2195 closed

[2021-02-09 10:37] 0lukasz0 commented on #2880
I have same issue, using two external providers (all 3 providers are Azure AD B2C instances). It may be related with dropping login_hint parameter on redirecting to external provider issue - just my guess.

[2021-02-09 15:03] 0lukasz0 opened #2999 "acquireTokenSilent making requests instead of using cache (Azure AD B2C)"
## Library

- [x] `msal@1.4.5` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Description

My problem is that each call for

[2021-02-09 19:09] tnorling commented on #2989
@SamuelQZQ This along with your other issue #2990 leads me to believe your app is calling `loginPopup` after calling `logout` but before the logout redirects to the AAD sign-out page. If you have logic that automatically calls `loginPopup`  when a user is not signed-in you should be careful to block this from being called if a logout is in progress. If you can share a couple code snippets of how y

[2021-02-09 19:16] tnorling commented on #2988
Regarding my above statement: I did find a bug with the `UnauthenticatedTemplate` which was causing it to always render children on the very first render. This has been fixed in the patch that was released last night: 1.0.0-alpha.5

[2021-02-09 19:35] johnvittneyk commented on #2975
@hesperanca Yes, You are right! We moved the authentication calls to ComponentDidMount and it worked

Thanks

[2021-02-09 19:42] hectormmg commented on #2999
Hi @0lukasz0

The OIDC scopes (openid, profile) are added by MSAL v1 to every request that goes out to the token service because the service expects them and requires them, even when you're not requesting an ID Token. However, they are only added to the request that goes out to the network, but they should be ignored in the caching logic. Are you seeing these scopes in the cache keys for the acces

[2021-02-09 19:44] pkanher617 commented on #2876
@johnvittneyk Is this also an issue due to calling having async code in the constructor (#2975)? Or are you still seeing this issue?

[2021-02-09 22:01] leskodan opened #3003 "Redirect loop for loginRedirect but not for loginPopup"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [x ] `@azure/msal-react@1.0.0-alpha.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ x] React (Next.js)
- [ ] Other

## Description
Similar to issue #28

[2021-02-09 22:25] tnorling commented on #3003
@leskodan What's happening here is that your `SignInButton` component is potentially rendering many times and you're calling `loginRedirect` on every render. You should instead either invoke login as a result of button press e.g.

[code]

or gate your login call by checking if anything is in progress e.g.

[code]

I would also recommend upgrading to version `2.0.0-alpha.5` which fixes a bug that c

[2021-02-09 23:30] leskodan commented on #3003
Thanks @tnorling, didn't realize that the example projects were using logic gating. Appreciate the help!

[2021-02-09 23:30] #3003 closed

[2021-02-09 23:32] hectormmg commented on #2986
Hi @mleimer

I would advise against this workaround since it's not the expected functionality and is unlikely to work in the future (I believe it is a bug).

Do you mean you don't want to use `localStorage` at all or just for the MSAL cache? If there's some flexibility there, a valid solution would be for you to manually store the `loginHint` in `localStorage`, read it from the new tab and send th

[2021-02-10 01:20] amitava82 commented on #2836
May be I'm not getting this. I have a Node background process that periodically sync OneDrive files for user. After I have access to user access_token and refresh_token I save them to database and my background process uses these tokens when needed. The process will request new tokens when old ones expire. Which flow an I supposed to use here? How will the msal-node library refresh the tokens of i

[2021-02-10 01:51] bgavrilMS commented on #2836
@gautamsi - ultimately AAD service is an OAuth2 certified service. You can use any OAuth2 library you like if you really want to or even make HTTP web requests on your own. By the way, OAuth protocol does not require IdP to issue refresh token, AAD does issue refresh tokens, but others do not.

MSAL libraries are higher level abstractions over OAuth2. MSAL aims to remove some of the complexity in

[2021-02-10 02:06] amitava82 commented on #2836
@bgavrilMS Thanks for the explanation. We use serverless functions so a file storage like in the example won't work. I think what we need a storage api interface that we can implement. I just finished Box integration where their javascript api does it similar way and I just had to implement my own strategy for token store/retrieval logic. Can you please point me to the sample you're referring to (

[2021-02-10 09:30] prkhandelwal opened #3007 "Getting "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API." on opening login page in new tab."
## Library

- [x] `@azure/msal-browser@2.11.1`

## Framework

- [x] React

## Description
### Repro steps:
- Launch site (The B2C login page appears)
- Close the tab without logging in
- Open the site in new tab
- The B2C login page doesn't open. Below mentioned error is recorded in Console logs.

The error is thrown at
`await this.msalClient.loginRedirect({ scopes: this.loginScopes });`

## Error

[2021-02-10 10:20] akshaybabloo opened #3010 "Multiple calls to openid-configuration when calling server APIs in HTML"
## Library

- [x] `@azure/msal-angular@2.x.x`

## Framework

- [x] Angular 11.1

## Description

Let's say I have a service API something like this:

[code]

Now I have injected the above service in `Dashboard` module/component, something like this:

[code]

The above code works fine. But when I remove the code from `ngOnInit()` and call the injected service in the HTML page as - `<p>{{dashboardAp

[2021-02-10 10:24] bgavrilMS commented on #2836
@amitava82 - just to understand your scenario better. You have a front end where you ask the user to login and you collect the authorization code. You then send the authorization code to your backend (a serverless function) and redeem it for tokens using MSAL? Or does your front end also redeem the auth code ?

The MSAL mechanism that allows you to customize the token cache storage has a sample [h

[2021-02-10 11:11] amitava82 commented on #2836
@bgavrilMS Yes, the token exchange happens in backend using the `code`. From the look of the code it looks like it writes entire cache into the blob. I'd want to only update the one that changed in the given request context. Is there any document for the cache storage?

[2021-02-10 11:31] SamuelQZQ commented on #2989
@tnorling I tried a lot and confirmed that I haven't called the `loginPopup` after calling `logout`. I find a solution to solve this, but do not know why it works.

My code:
[code]

If I use like this, everything works fine:
[code]

But if I bind the `userAgent.logout()` to `onClick` method of a React Element, the bug comes. My final solution is use `setTimeout` to wrap the `userAgent.logout()` be

[2021-02-10 11:31] #2989 closed

[2021-02-10 11:32] SamuelQZQ commented on #2990
I think this is a bug of myself.
#2989

[2021-02-10 11:32] #2990 closed

[2021-02-10 11:34] bgavrilMS commented on #2836
I'll let the JS team respond to the request for sample, I don't how far the token caching got for this confidential client scenario. @jmprieur may be able to help as well.

[2021-02-10 13:58] pjchungmd commented on #2988
Thank you all for pointing me in the right direction. It was my fault for not realizing that `MsalAuthenticationTemplate` existed (should have figured there would be something like that). I also upgraded to `1.0.0-alpha.5`. I still haven't been fully able to implement protected routes, so I implemented a `ProtectedPage` component, which ultimately does the same thing. My implementation looks like:

[2021-02-10 18:10] shmehltr commented on #2867
Haven't seen this issue come up again since the update. Thanks so much for all the help

[2021-02-10 18:10] #2867 closed

[2021-02-10 18:18] tnorling commented on #2988
@pjchungmd What you have here should work, let me know if you're still facing any issues or if I can close this. The `MsalAuthenticationTemplate` is, admittedly, not very well documented at the moment besides being demonstrated in the samples so you can be forgiven for missing it. I will make sure this gets added to the docs soon.

[2021-02-10 19:55] sameerag commented on #2836
Thankyou @bgavrilMS. Appreciate the help.

@amitava82 Some points to note:
* Currently msal-node cache is always written and read as a single blob, MSAL manages to merge the old data with new one to be in sync with the latest changes made by the application in run time. We are working on making this more flexible, the design to write and read single credentials to disk is not yet finalized.
* We h

[2021-02-11 00:26] hectormmg commented on #2894
@ammritt I'm able to reproduce your issue now. It seems the B2C login page requires cookies and javascript to be enabled wherever they are rendered. I've tested enabling javascript on the `BrowserWindow` object and registering the custom protocol as privileged so cookies are enabled, but no success yet. I'm investigating what other configuration changes need to be made on the sample to support tha

[2021-02-11 00:32] #2912 closed

[2021-02-11 00:32] #2910 closed

[2021-02-11 00:32] #2908 closed

[2021-02-11 00:32] #2871 closed

[2021-02-11 00:32] #2870 closed

[2021-02-11 01:13] amitava82 commented on #2836
Thanks @sameerag for the pointers. I'll try to come up with a solution with ICachePlugin implementation. As long as I can pick the single credential that changed and `msal-node` can accept the blob then it should work.

[2021-02-11 05:55] johnvittneyk commented on #2975
Updated the authenication code in the constructor and moved it to new method Authenticate(isLogin?:boolean)
And we are calling this Authenticate method in ComponentDidMount() method in the webparts.

Now we see that the issue is fixed in one scenario where we clear cache and reload the page.

But this still exists in low network speed scenarios.

[code]

[2021-02-11 15:22] nmilleson commented on #2860
@jo-arroyo ,

I am facing this same issue with getting the access token.  Is there anywhere we can track the status of that issue with the B2C service?  Thanks!

[2021-02-11 15:55] StefH opened #3011 "Can this library be used in multiple React apps?"
## Library
- [x ] `@azure/msal-react@1.x.x`

## Description
In our solution, multiple React applications are defined and used. Like every page in a .NET Core c# Razor web-site has a separate React application (own webpack compiled .js file)

Can this library + the azure AD flow be used in such a way that the user only needs to login once, and then the tokens are reused across the different apps?

[2021-02-11 20:50] pkanher617 commented on #3011
@StefH As long as the app configuration is the same across all of these React applications, they will be able to share the tokens, most importantly `clientId`. These apps also need to be on the same domain (if you are using browser storage). If these conditions are met you will be able to share tokens across applications.

[2021-02-11 21:35] StefH commented on #3011
The app configuration and the clientId will be that same.

But can the different apps read the same token e.g. from local storage (or where are the tokens stored?).

My main question is if the users will be presented a new login screen when the other app is activated.

[2021-02-11 22:11] sdanko opened #3014 "Angular InteractionRequiredAuthError after login"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
Im using MSAL library to fetch data from G

[2021-02-11 22:30] pkanher617 commented on #3011
As long as those values are the same, yes you will be able to read the same tokens from the cache, you shouldn't have to make an interactive call.

[2021-02-12 00:29] #2906 closed

[2021-02-12 00:29] #2875 closed

[2021-02-12 05:36] jitendraP-ashutec commented on #2906
I was using wrong wrong url in password resetting so that its was not working.

Thanks @jo-arroyo

[2021-02-12 07:19] StefH commented on #3011
Hello @pkanher617,

How can I read the tokens from the cache, will just calling the code below be enough?
[code]

Or should I manually get the data from the local-storage?

[2021-02-12 11:35] johnvittneyk commented on #2876
Yes, This is not because of the async code. This scenario fails at times even after the change in code.

[2021-02-12 13:29] 0lukasz0 commented on #2999
Ok, I found issue here. Token lifetime on Azure for testing purpose was set to 5 minutes, token was still valid, but internal logic was renewing token each time, because it's lifetime was too short.

[2021-02-12 13:29] #2999 closed

[2021-02-12 14:24] waldekmastykarz opened #3016 "In the CommonDeviceCodeRequest type, add unit to the timeout property description"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x] Other (c

[2021-02-12 14:29] waldekmastykarz opened #3017 "In the msal-node device code sample, increase the timeout value from 5 to prevent the login from timing out by default"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x] Other (c

[2021-02-12 14:33] waldekmastykarz opened #3018 "Kudos for msal-node code samples 👏"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x] Other (c

[2021-02-12 14:37] waldekmastykarz opened #3019 "Extend the adal-node to msal-node migration docs with info on refresh tokens"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [x] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (p

[2021-02-12 15:13] c-mpatel opened #3020 "@rellis-of-rhindleton The `null` pattern should work for v1. Can you also try using the negate syntax?"
@rellis-of-rhindleton The `null` pattern should work for v1. Can you also try using the negate syntax?

For example:

[code]

Edit: (I suppose that wouldn't work if you have API requests for other base urls that you do not want tokens for.)

We decided to ignore `unprotectedResources` because it was causing a number of other bugs, and we are planning to remove it in v2. This was not a scenario we

[2021-02-12 15:14] #3020 closed

[2021-02-12 16:44] pkanher617 commented on #3011
Yes calling ATS (`acquireTokenSilent`) will be enough, it will fetch the tokens from whichever cache you have selected (localStorage, in this case). If you'd like to make sure you are signed in before you call ATS, you can use any of our [account APIs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/Accounts.md) to check whether or not an account ob

[2021-02-12 17:11] StefH commented on #3011
Thanks again for your help.

Another related scenario:
What if besides multiple React apps (which use the React specific npm library), I also have 'plain' JavaScript which also needs to call authenticated API's.

Can I also just use the msal.js and also acquire a token which will follow the same logic as you describe above?

[2021-02-12 17:11] JudeAlquiza opened #3021 "After clicking Login button, I'm getting redirected to the same page."
Hi, I'm having this problem where in when I click on the login button as shown below, I'm redirected to the same page.

![image](https://user-images.githubusercontent.com/26157282/107797718-43972e00-6d29-11eb-8caf-e23ef9fb57fe.png)

here's the log from the dev tools

![image](https://user-images.githubusercontent.com/26157282/107797795-57429480-6d29-11eb-8786-a3db95797739.png)

I tried to run this

[2021-02-12 17:15] pkanher617 commented on #3011
Yeah you can definitely do this. The `@azure/msal-react` library is a wrapper around the `@azure/msal-browser` library. You can use the `@azure/msal-browser` library for these apps, and they should work the exact same way. Also wanted to point out that I posted the wrong docs link for the react library above, [here is the correct one](https://github.com/AzureAD/microsoft-authentication-library-for

[2021-02-12 18:24] JudeAlquiza commented on #3021
I just found the problem, in the home.component.html

[code]

my button is inside of the form tag and type is set to submit, I just removed type="submit" and put the button outside of the form tag. closing this issue now. thanks.

[2021-02-12 18:24] #3021 closed

[2021-02-12 18:34] hectormmg commented on #3017
Hi @waldekmastykarz thanks for the feedback! We're in the process of polishing our samples and should have things like this updated soon. Some of these details are defaults that we use for testing purposes that we need to change for the usage samples.

[2021-02-12 18:38] sameerag commented on #3019
@waldekmastykarz Thanks for this. We have been considering this, I believe this can be possible but would need some kind of migration code to handle the cache changes and other assumptions to build a bridge between these two libraries. Our initial thought was to not restrain `msal-node` design with `adal-node` assumptions since the changes are years apart and hence we did not bake it into the code

[2021-02-12 18:42] thoo1 opened #3022 "Could ILoggerCallback's message include correlationId if correlationId was provided to the request?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
`BaseAuthRequest` accepts a correlationId, which is useful in debugging logs in AAD. Could the

[2021-02-12 20:26] hectormmg commented on #3014
Hi @sdanko .

Since silent token requests will fail with `InteractionRequiredError` when there isn't a valid token in the cache or when the scopes/permissions change for the resource, we recommend falling back to an interactive request (acquireTokenRedirect/acquireTokenPopup, or loginRedirect/loginPopup for login requests) if the error is of the `InteractionRequiredError` type.

Is it possible tha

[2021-02-12 21:24] sdanko commented on #3014
Hi,I am pretty sure that scopes did not change before this error. Besides, I have logged out, cleared all the cache and tokens , and then logged in and granted permissions again. This is how I currently handle token failures:

[code]

[2021-02-13 00:29] #2914 closed

[2021-02-13 00:29] #2905 closed

[2021-02-13 11:05] waldekmastykarz opened #3023 "How to use msal-node with Managed Identity?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How can I use msal-node with Managed Identity?

I’m co-maintaining CLI for Microsoft 365 where

[2021-02-14 18:41] waldekmastykarz opened #3024 "How to clear cache when using cert-based auth?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

After obtaining a token using certificate (ConfidentialClientApplication.acquireTokenByClientC

[2021-02-15 08:48] simon-ittmann opened #3025 "Access token caching is not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [x] Angular 11
- [ ] React
- [ ] Other

## Description

The caching of the access token is not w

[2021-02-15 10:21] karrocon opened #3026 "App continuously reloading the page while trying to make a request to a protected API"
Originally posted [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa/issues/32).

## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x

[2021-02-15 11:23] faiyazAbdul commented on #2860
@jo-arroyo ,

With this issue, and also sometimes i get Interaction in progress issue, would you recommend to move for prod.

[2021-02-15 12:14] waldekmastykarz commented on #3019
Sorry if I wasn't clear: my suggestion was to explain the difference in the migrations docs rather than change the library. Because refresh tokens are no longer exposed and the current docs don't mention this difference, I was stuck for a bit during the migration trying to wrap my head around it. Extending the migration docs would experience the migration experience for devs.

[2021-02-15 13:45] Drsela opened #3028 "JWT payload is wrong when using wildcard routes in protectedResourceMap"
## Library
- [x] `msal@1.4.6` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.2`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [x] Angular
- [ ] React
- [ ] Other

## Description
First of all: I'm not sure if this is a bug

[2021-02-16 00:29] #2932 closed

[2021-02-16 00:29] #2641 closed

[2021-02-16 00:29] #2548 closed

[2021-02-16 10:44] shyam2794 commented on #2979
@hectormmg Currently we are seeing some issues were the users are getting kicked out to the login page in a random way . I am pretty confident that its not because of the access token issue coz if that's the case then the user will be kicked out for every 1 hour ( access token expires for every 1 hour ) . So need to check whether this has to do with getting the account .

[code]
1. what is the lif

[2021-02-16 12:03] shyam2794 commented on #2979
[code]

 So if i clear the cache in the browser after 22hours and hit the app again will the new refresh token will have only 2 hours left to expire ?

[2021-02-16 16:20] pkanher617 commented on #3025
@simon-ittmann There is currently a [known issue](#2451) with passing client id as a B2C scope. Instead, you can create a custom B2C scope and use that in the request.

[2021-02-16 16:26] pkanher617 commented on #3026
@karrocon Could you provide the "verbose" level logs? Also, are you able to reproduce this issue with [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample) sample?

[2021-02-16 16:40] pkanher617 commented on #3028
@Drsela We are using the `minimatch` lib to match patterns, and it looks like it is not recognizing `*` as a full wildcard. You can try using the following pattern instead `https://BACKEND_URL/services/NAME/**/*`, this should give the expected token.

[2021-02-16 16:43] pkanher617 commented on #3018
Thanks for the props @waldekmastykarz!

[2021-02-16 16:43] #3018 closed

[2021-02-16 16:56] pkanher617 commented on #3007
@prkhandelwal Could you please provide the configuration, usage and logs as well to help us debug this issue faster?

The interaction_in_progress field should be cleared when a new tab is made since we store this in the `sessionStorage`. Could you confirm that you are using the latest version of MSAL? I have not been able to reproduce this issue in our samples.

[2021-02-16 17:46] karrocon commented on #3026
Yes. I'm using that sample for the client code.

These are the "verbose" level logs:

[Tue, 16 Feb 2021 17:40:06 GMT] :  : @azure/msal-browser@2.11.1 : Verbose - Event callback registered with id: aa5d5687-2652-4854-9abd-6af453eb2bd1
core.js:27701 Angular is running in development mode. Call enableProdMode() to enable production mode.
app.module.ts:23 [Tue, 16 Feb 2021 17:40:06 GMT] :  : @azure/ms

[2021-02-16 18:42] kd-ricardo-tavares commented on #3007
We found that the issue was caused by a cookie with the `interaction_in_progress` value so this raised a flag.
I must admit I didn't go too deep into the code but this should be the right place:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a58a54972e89cd85abd23a8ad1af4fe1309b989a/lib/msal-browser/src/interaction_handler/RedirectHandler.ts#L41

https://github.com/AzureAD/

[2021-02-16 19:16] pkanher617 commented on #3007
This only applies to Microsoft Edge Legacy, not the newer Microsoft Edge.

Turning off this setting will also cause Firefox InPrivate to break, which does cause some issues with Firefox since Firefox's InPrivate mode can't be detected easily.

Do you have any logs that you can provide? Specifically, do you see the following log message printed?

https://github.com/AzureAD/microsoft-authentication-

[2021-02-16 21:17] jo-arroyo commented on #3010
@akshaybabloo Can you confirm whether you are using the `MsalRedirectComponent` in your app?

[2021-02-16 22:38] akshaybabloo commented on #3010
Yes and it's in the `bootstrap` property.

[2021-02-16 23:10] jo-arroyo commented on #2860
@nmilleson To track this issue with the B2C service, please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options. They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

@faiyazAbdul Could you explain what yo

[2021-02-17 00:57] derisen commented on #3023
@waldekmastykarz I had this in the backlog but didn't had time to get to it yet. I'll try to pull together a guide soon.

[2021-02-17 08:38] Drsela commented on #3028
@pkanher617 That solved the issue!

Thanks for the help - and sorry for the inconvenience.

I'm closing the issue.

[2021-02-17 08:38] #3028 closed

[2021-02-17 09:08] shamprasadrh opened #3032 "MSAL React Router: 9002327 - [2021-02-17 08:53:27Z]: AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description
Trying to run the React Router example and

[2021-02-17 09:33] waldekmastykarz commented on #3023
Awesome! Looking forward to it!

[2021-02-17 09:57] naugtur commented on #2891
We have removed msal from our app in favor of making requests directly, so I won't be able to provide further updates on new released versions.

Not being able to control credentials storage and/or limiting it to RAM is a blocker for scaling our services horizontally.
Also, msal was adding scopes to authorization requests that caused issues depending on tenants' configurations.
Feel free to reach

[2021-02-17 10:56] rizvirashid opened #3033 "How to get Pop Up Window Working to implement the Authorization Code Grant with a client credential using msal node"
## Library

- [x] `@azure/msal-node@1.0.0-beta.6`
- [x] @azure/msal-node@1.x.x

## Description

I am using the Backend for frontend pattern to implement the Authorization code grant, where I have React JS based SPA and Express Server based Backend. I am using Express Server to integrate with Azure AD and implement the Authorization Code Grant. The reason I am using Backend for front end pattern is

[2021-02-17 12:18] kd-ricardo-tavares commented on #3007
Sure, here are the logs:

11:50:57.695 auth.js?9f6b:33 [Wed, 17 Feb 2021 11:50:57 GMT] :  : @azure/msal-browser@2.11.0 : Info - handleRedirectPromise did not detect a response hash as a result of a redirect. Cleaning temporary cache.
11:50:57.874 auth.js?9f6b:33 [Wed, 17 Feb 2021 11:50:57 GMT] :  : @azure/msal-browser@2.11.0 : Info - Emitting event: msal:handleRedirectEnd
11:50:57.936 auth.js?9f6b

[2021-02-17 12:31] KBLux opened #3034 "Using Axios interceptors to fetch access tokens"
Hi
I'm new to React/JS and trying to to fetch my access tokens using axios interceptors. The question is basically just how to handle tokes using msal-react with axios. Right now my all my API calls look like this.

[code]

I want this to be handled using axios, something like this:

[code]
Obviously this code doesn't work, ass I can't use hooks in normal JS functions. How do I get the instance, a

[2021-02-17 14:28] architect-tarun-narang opened #3035 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API."
## Library

- [ ] `@azure/msal-browser@2.11.1`
- [ ] `@azure/msal-angular@2.0.0-alpha.5`

## Framework

- [ ] Angular

## Description
#Reproduction Steps
- Launched the site
- Requested for the login account selection
![image](https://user-images.githubusercontent.com/59596411/108215452-5e1d3d00-7157-11eb-8d93-6a20baefbc6b.png)
- User is authenticated and a simple function is called to retrieve th

[2021-02-17 15:41] BiancaDianaAlexiuc opened #3036 "No cached authority found when clicking Back button from browser in Forgot Password screen"
## Library

- [ ] `@azure/msal-angular": "^2.0.0-alpha.5`
- [ ] `@azure/msal-browser": "^2.11.1`

## Framework

- [ ] Angular: 10.2.4

## Description

## Error Message
BrowserAuthError: no_cached_authority_error: No cached authority found.

## MSAL Configuration

[code]

## Reproduction steps

1.  Go to http://localhost:4200/  (will run signup-sign in policy and display login page)
2. Click on For

[2021-02-17 16:15] pkanher617 commented on #3032
@shamprasadrh Could you verify that the "Origin" header is present in the network request? MSAL uses fetch to retrieve tokens for the user, but there are some environments where the correct headers are not added. The server will throw this error if it cannot find the "Origin" header present.

[2021-02-17 19:41] pkanher617 commented on #3035
@architect-tarun-narang This error is probably not stemming from the graph endpoint call, but from the angular interceptor which is attempting to call acquireTokenInteractive again. Could you give us more information about how the redirection code is working? A code snippet would be helpful. This usually happens if the redirection from the login page is not being handled correctly.

[2021-02-17 20:16] pkanher617 commented on #3036
@BiancaDianaAlexiuc Thanks for opening this issue! We were able to reproduce this behavior. This is definitely a bug. What appears to be happening is the forgot password flow seems to skip the client app when hitting the back button, which ends up putting the application in a bad state where it can't read the appropriate items from the cache. Let me investigate with the B2C team and get back to yo

[2021-02-17 21:16] tnorling commented on #3034
@KBLux You can use the same `PublicClientApplication` instance you pass into the `MsalProvider`. Just export it from the file where you initialize it and import it here. To get the accounts you can call `instance.getAllAccounts()`. You can't access the `inProgress` value outside of a component or outside of context, but since you're just using `acquireTokenSilent` you won't need it.

This scenario

[2021-02-17 23:11] jo-arroyo commented on #3010
@akshaybabloo I was able to reproduce the behavior you stated, and it appears to be an issue with using HTML templating and impure pipes, instead of with MSAL. It seems that the recommended approach according to the [Angular docs](https://angular.io/guide/pipes#caching-http-requests) with using http requests with pipes is to cache the server response, to prevent performance problems. Please take a

[2021-02-17 23:27] #2576 closed

[2021-02-18 00:10] pkanher617 commented on #3026
@karrocon It looks like this is stemming from [this issue here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-there-no-access-token-returned-from-acquiretokensilent) where B2C clients are returning a null or empty access token.

Could you check whether you are getting an access token back in the token response? If you aren't, please try

[2021-02-18 00:21] akshaybabloo commented on #3010
Got it @jo-arroyo

Thanks for your help.

[2021-02-18 00:21] #3010 closed

[2021-02-18 01:22] ranceroxas opened #3040 "Nonce is not matching. Using the pop up login and then shifting focus to another tab"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description
Getting an error when we try to login (via

[2021-02-18 06:01] Victor-Varghese opened #3041 "MSAL 2.0 Auth in React JS - Incognito issue"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description

Im using azure-msal-react for user-auth i

[2021-02-18 06:03] Victor-Varghese commented on #3041
Also tried handling this error using something like this, but ends up in recursive loop.

[code]

[2021-02-18 06:04] shamprasadrh commented on #3032
@pkanher617 No `Origin` header is not available. How can we solve this issue?

`Accept: */*
Accept-Encoding: gzip, deflate, br
Accept-Language: en-GB,en-US;q=0.9,en;q=0.8
Connection: keep-alive
Content-Length: 1365
content-type: application/x-www-form-urlencoded;charset=utf-8
Cookie: esctx=AQABAAAAAAD--DLA3VO7QrddgJg7WevrdtcPp0UMwiQf-fWJ0sT36OV7IbSoqUsSNurZEWLmeZEVW_7CDVwKVw5HGU4OPSUj68NX5_DWJLRMA

[2021-02-18 09:54] simon-ittmann commented on #3025
@pkanher617 thanks for the quick answer 👍 Your link is not working. Do you mean [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2451) issue?

So it is possible to configure a custom scope in azure, to return an access_token in response as well?

[2021-02-18 11:54] architect-tarun-narang commented on #3035
The code has been shared on the git repository for your reference

There is an auth-config.json file at path "src/app" where you may need to update the clientID and TenantID to make it work.
![image](https://user-images.githubusercontent.com/59596411/108352428-d7c33280-720c-11eb-848e-df86e7279c59.png)

In appmodule.ts file, the below code returns the token at the redirect uri, this code is called