[2018-03-07 00:27] nehaagrawal commented on #262
@AnnaShk  we have acknowledged this issue as an enhancement.

[2018-03-08 08:25] mrman888 commented on #214
@DavidHenri008 can you please enlight your solution? Can you supply the exact policy xml?

[2018-03-08 17:35] adrianabreu opened #265 "Trouble login with IE11"
Hi, I'm currently using msal 0.1.5 and I'm unable to log in using internet explorer.

After an exhaustive debugging session I've realised that the custom_scope is not being saved so the current scope is not maching and I'm receiving an error.

In the following code from msal, while in firefox or chrome msal is entering in pendingCallback that never happens on IE.

[code]

Suggesttions?? @rohitnaru

[2018-03-08 22:18] jamiefraser commented on #265
I'm seeing the same thing with 0.1.3.  Any hope of getting this addressed?  It's a showstopper for my client

[2018-03-09 03:59] AnnaShk commented on #262
Hi @nehaagrawal,

Thank  you for the update. I've tried to make this change on my side, and added state parameter as part of `UserAgentApplication` options, so the new client object will look like:
[code]

Changes:

1. Add state parameter to AuthenticationRequestParameters.ts constructor:

[code]

2. Add state option in UserAgentApplication.ts
[code]

3. Add state to new `AuthenticationRequestPara

[2018-03-09 05:17] tvperez76 opened #267 "Unable to use acquireTokenSilent() method for Live Accounts via Azure B2C"
It seems that the Out of Box experience for using MS Live as a Identity Provider isn't working properly.  I'm able to log in correctly.  However, the acquireTokenSilent() method forces a redirect in my Angular application.  The problem is, MSAL 0.1.5 doesn't set a 'msal.state.acquireToken' entry to the Sesson or Local storage cache, thus causing the URL hash and subsequently the newly acquired acc

[2018-03-09 12:28] juunas11 commented on #248
This seems to be working now :)

[2018-03-09 12:28] #248 closed

[2018-03-09 18:49] rohitnarula7176 commented on #267
@tvperez76 For acquireTokenSilent , Msal JS saves the state in the parent window and when you receive the response in the iframe, we match the state from the parent windon using window.parent as the parent window state stays unaffected. We save the state in the browser storage only in the case of loginRedirect/acquireTokenRedirect. You might be facing a different issue. Can you please provide logs

[2018-03-09 18:53] rohitnarula7176 commented on #265
@adrianabreu If you are facing this issue only in IE, can you try adding all the sites url, including your app's root page, https://login.microsoftonline.com , https://sts.microsoft.com to the trusted sites list in IE's security settings and see if the issue is resolved. Please refer to the link below on instructions on how to do this:
https://github.com/AzureAD/azure-activedirectory-library-for-j

[2018-03-09 19:21] nehaagrawal commented on #262
@AnnaShk  Thanks for Pull Request. We are currently reviewing your change. There are some enhancements that needs to be done. I will add comment in your Pull Request.

[2018-03-09 20:46] tvperez76 commented on #267
Certainly.  Here's a log trace from MSAL, Chrome and Angular:
[code]

Though the new state value was identified, **0d4071b9-866a-4c17-b60f-9a59ae94f6c7**, it was never stored which ultimately causes MSAL JS to ignore the newly acquired access token.

[2018-03-12 13:23] DavidHenri008 commented on #214
@mrman888 as mentionned, today the issue is supposed to be fixed by Microsoft.
To be more precise on the issue, by default on a newly created B2C AD policy, all settings are not defined inside the policy xml. So if a value is not defined in the policy xml, the default system value is used which is supposed to correspond to the default value in the Azure Portal. The bug was that the default system

[2018-03-12 13:46] jnxxx opened #269 "acquireTokenPopup does not call back when window is closed"
... as a result the client code waits infinitely for a token (unless I implement some check myself).

It seems however, the function openWindow should have functionality to handle this. In fact it is polling  every 1 ms.
But in this line: if (popupWindow && popupWindow.closed && instance._loginInProgress)
_loginInProgress is false (at least when called by acquireTokenPopup).

I have now changed it

[2018-03-12 16:36] adrianabreu commented on #265
Thank you for answering.

I've been also checking Edge and it fails sometimes.

I've been able to log in in IE twice after doing that.

It is not a reliable solution and I can't ask all the clients to make that on their browsers.

There is a current branch working on how to deal with this?

I've been looking to the oidc library hello.js, but I've been unable to make the refresh token work properly

[2018-03-15 13:34] spottedmahn commented on #211
Hey @rohitnarula7176 - any updates on handling this use case? thanks!

[2018-03-15 17:11] spottedmahn opened #270 "TypeError: Cannot read property 'getUser' of undefined | 0.1.4"
We're seeing the following error w/ 0.1.4 from the MSAL Logger:

### Full Log

webpack-internal:///../../../../../src/app/shared/telemetry.service.ts:89 msal.js: Thu, 15 Mar 2018 16:06:25 GMT:12345-0.1.4-Info State status:true; Request type:LOGIN
webpack-internal:///../../../../../src/app/shared/telemetry.service.ts:89 msal.js: Thu, 15 Mar 2018 16:06:41 GMT:12345-0.1.4-Info State is right
webpack-

[2018-03-16 00:02] narindermakin commented on #267
Is this resolved? The version 0.1.1 works for me, but not 0.1.5. The response comes back, but does not store the state.

export class MsalService extends BaseAuthService  implements IAuthService{
    public access_token: string;
    public user: string;
    private authority: string=AppSettings.authority;
    private tenantConfig:any = {
        tenant: AppSettings.tenant,
        clientID: AppSet

[2018-03-16 18:03] narindermakin opened #271 "authentication using the msal.js v 0.1.5 fails with ionic framework v 3.0"
The authentication using the msal.js v 0.1.5 fails with ionic framework v 3.0. It seems that storage is not being written out on response. The same sample works with msal.js version 0.1.1.  However, msal.js version 0.1.1 fails authentication when deployed to an android device.  The behavior on android device gives a Bad Request error with v0.1.1. Attached is the project with complete code that sho

[2018-03-16 18:08] rohitnarula7176 commented on #270
@spottedmahn The log indicates that the error occurred in token received callback function. I am guessing you are trying to access the instance of userAgentApplication with the constructor variable instead of the "this" keyword. Can you share your callback code ?

[2018-03-16 18:16] spottedmahn commented on #270
Hi @rohitnarula7176 - oh, my bad.  It's our code.  I'll dig in.  Thanks!

[2018-03-16 18:16] #270 closed

[2018-03-16 18:17] rohitnarula7176 commented on #265
@adrianabreu We do not have a solution other than the one I have mentioned above. This is a issue we are tracking with the browser team. Closing this as this is not an issue with the library.

[2018-03-16 18:17] #265 closed

[2018-03-16 18:18] rohitnarula7176 commented on #259
@pconnell99 Please refer to the samples in the repo on how to create the authority string. Closing this for now. Please reopen if you still face any issues.

[2018-03-16 18:18] #259 closed

[2018-03-17 01:25] narindermakin commented on #271
Thanks Rohit, for taking the lead on this.  We would like to make this version work for android and iOS too. Let me know, if you need any more information or jump on a call to resolve.

[2018-03-17 04:30] ak99372 opened #272 "Microsoft account is experiencing technical problems. Please try again later."
I tried both VanillaJSTestApp and ModuleSample examples but after I type in the account in the popup and press [Sign-In] I get:

The popup url becomes:

`https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+r

[2018-03-19 02:10] grtn316 opened #273 "CORS Issue"
In IE11 I am getting the following error when attempting authentication:

SEC7118: XMLHttpRequest for https://login.microsoftonline.com/tfp/xyz.onmicrosoft.com/b2c_1_siupin/v2.0/.well-known/openid-configuration required Cross Origin Resource Sharing (CORS).
File: www.xzy.com

Is there a trick to fix this?

[2018-03-19 10:54] adrianabreu commented on #265
Thanks again for your time.

I understand that in a future the bug will be solved in Edge.

But, as there is no tracking on IE 11, does that mean that we won't be able to get the refresh token working properly on IE 11 without forcing all the customers to add the trusted sites?

[2018-03-19 18:01] rohitnarula7176 commented on #171
@tobiasbrenner The latest version has this property which allows you to do your custom navigation.

[2018-03-19 18:01] #171 closed

[2018-03-19 18:01] #221 closed

[2018-03-19 18:02] #159 closed

[2018-03-19 18:03] rohitnarula7176 commented on #222
@Mimetis Msal is not designed to work from inside an iframe.

[2018-03-19 18:03] #222 closed

[2018-03-19 18:03] #113 closed

[2018-03-19 18:03] #119 closed

[2018-03-19 18:16] Mimetis commented on #222
Thx for your answer, so what is the right way to authenticate users inside MS Teams ?

[2018-03-20 17:54] narindermakin commented on #271
Let me know, if this library is supported for ASP.NET/Cordova/ionic development or any further information is needed.

regards,
Narinder.

[2018-03-21 05:14] SujitGodavarti commented on #262
Hello @nehaagrawal  I made the code changes you mentioned above and added state parameter as part of UserAgentApplication options. The new client object now is

`this.clientApplication =
            new Msal.UserAgentApplication(
                clientID,
                authority,
                authCallback,
                {
                    redirectUri: window.location.origin,

[2018-03-21 14:52] hkusulja commented on #77
Bump, will Microsoft support the MSAL for Angular library?

[2018-03-22 00:52] buildtestship commented on #214
I have an angular app and B2C exhibiting this exact same behaviour. I am unable to upload a new policy as per @DavidHenri008 so what is the fix?

In my instance I can login with loginRedirect and see the token in localstorage, but when trying to use token again the authcallback errors with this

Could not silently retrieve token from storage. AADB2C90077: User does not have an existing session and

[2018-03-22 02:46] buildtestship commented on #94
Hi Guys,

I've just commented on https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/214 "Could not silently retrieve token from storage. AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.
" with a query, where I am getting same error as per this issue #94. An angular 5 SPA connecting to B2C, MSAL, to an azure function and

[2018-03-22 11:10] DavidHenri008 commented on #214
@buildtestship This really seems to be the same issue I experienced. Microsoft told me the bug has been solved on there side and it should not reappear. I suggest you try my workaround and on the four lifetime setting in Azure.

Let me know if it solves your issue.

[2018-03-22 11:28] DmitryGonchar commented on #189
@rohitnarula7176 We still see this error, although it is hard to reproduce, as it happens mainly in Edge and not on each occasion.

But looking at the code (`UserApplication.ts`), although you wrapped the first usage in try/catch, following ones do not have such check. According to our logs this line is the source of the error

[code]

Proposal is to change to sth like
[code]

and then replace all

[2018-03-22 12:36] mrman888 commented on #214
@DavidHenri008  do I need to pass in the offline_scope?

I added the JWTIssue claimsprovider as given solution. Also I have this in my relying party:

 <RelyingParty>
    <DefaultUserJourney ReferenceId="SignUpOrSignIn" />
	<UserJourneyBehaviors>
      <SingleSignOn Scope="Tenant" KeepAliveInDays="1" />
      <SessionExpiryType>Rolling</SessionExpiryType>
      <SessionExpiryInSeconds>86400</Sessi

[2018-03-22 13:31] DavidHenri008 commented on #214
@mrman888 Your implementation seems right. My issue was related to the JwtIssuer missing values. Concerning the offline_scope I do not add it, I am not sure if it is added by the MSAL library, but I do not think so.

[2018-03-22 14:26] spottedmahn commented on #94
Hi @buildtestship - I would personally open a Stack Overflow post w/ the azure-ad-b2c tag w/ your above issue.

[2018-03-23 07:08] RonaldV commented on #189
This should already be handled by my code snippets above. I think they missed that part.
It is indeed difficult to reproduce. When testing this I didn't get the issue anymore. But we're not using the new version yet.

[2018-03-23 13:10] spottedmahn opened #274 "Concurrent AccessToken Requests Not Working?"
When I make multiple concurrent requests for an access token I've receiving timeouts and multiple B2C requests to get an access token; it is not pulling from cache storage.

I'm about 98% confident this was working w/ 0.1.3.  There have been some changes to our app but not much w/ regards to these components.

Please see the MSAL.js log below.

See how there are multiple requests to get access tok

[2018-03-23 22:28] navyasric commented on #271
@narindermakin For Cordova, Ionic and other mobile app development frameworks, the library needs to interact with the native device constructs and we do not have such plugins today. Msal.js is designed to support authentication flows only for Single Page Applications and JS in web apps .
For supporting ASP.NET app authentication please look at [Msal .Net](https://github.com/AzureAD/microsoft-authe

[2018-03-23 22:55] navyasric commented on #77
@hkusulja There are plans in MSAL roadmap this year for an Angular library.

[2018-03-23 22:58] navyasric commented on #254
@spottedmahn You can also see release notes here: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases

[2018-03-23 23:21] narindermakin commented on #271
Does that mean client cannot be written to Azure AD B2C if application is Cordova / Ionic? The Msal.Net is not applicable in this scenario. We were able to make Msal.Js work to a point by just fixing a window.location.replace method to a cordova.inAppBrowser.open. The code fix is in UserAgentApplication.ts. The window.location.replace is not supported well on android browsers. The service does ret

[2018-03-24 23:20] tvperez76 commented on #267
So, is there any word on getting this resolved?

[2018-03-26 12:33] spottedmahn commented on #273
But it works in other browsers?  Have you [customized the UI](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-ui-customization)?

[2018-03-26 13:09] spottedmahn commented on #203
[Example of sending claim to azure-ad-b2c policy from JS single page application](https://stackoverflow.com/a/48524448/185123)

[2018-03-27 10:31] adrianabreu commented on #265
Hi, could you check my last question @rohitnarula7176 ? Thank you

[2018-03-28 13:54] RonaldV commented on #208
@rohitnarula7176 I still need to be able to change the prompt parameter. Or in this case a way to not send it would also be ok.
I'm using msal.js with Azure AD B2C. When invoking the password change policy I don't want the user to need to log in again. Which means "prompt" should not be set to "select_account".

An extra param (excludePrompt) for loginRedirect would sufficient or maybe a different

[2018-03-28 14:02] spottedmahn commented on #208
In regards to @RonaldV [post](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/208#issuecomment-376895254).

Reference: SO Post: [Azure AD B2C password change custom policy, user needs to sign in every time](https://stackoverflow.com/questions/48750636/azure-ad-b2c-password-change-custom-policy-user-needs-to-sign-in-every-time)

Reference: [Password **change** policy](http

[2018-03-28 16:58] onovotny opened #275 "SSO with AAD B2C fails"
Hi,

We've been hitting issues similar to #208. We are using AAD B2C and have Single Sign On configured on the policies correctly. No issues when using MVC OpenID Connect apps, we get the expected SSO behavior. First time we login to B2C and subsequent apps, pressing the login button redirects to B2C and then instantly returns.

We have not been able to get MSAL.js to work. I strongly suspect the

[2018-03-28 21:04] misterGF opened #276 "not supported over the /common issue"
Hello all,

I'm getting the following error in my app. My app is one that should just be used by my tenant. Not a B2C app.

**Error: ......is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific endpoint.**

I've been trying to figure out how to change this but none seem to work properly.
Here is my latest config. Any thoughts on why the library

[2018-03-29 14:41] misterGF commented on #276
Figured this out. In the example code there is a values of null (highlighted below). Replace that with the authority url that you want and it will work properly!

![image](https://user-images.githubusercontent.com/1244785/38095124-a6a0889e-333d-11e8-9e3a-0609543272a4.png)

[2018-03-29 14:41] #276 closed

[2018-04-02 14:42] spottedmahn commented on #206
Hi @rohitnarula7176 - any updates?

[2018-04-02 14:42] spottedmahn commented on #211
Hey @rohitnarula7176 - any updates on handling this use case? thanks!

[2018-04-02 18:19] saregbesola commented on #127
If you have post_logout_redirect_uri parameter defined, then it should redirect you back your app. It works fine for me

[2018-04-02 19:26] khalibloo commented on #127
I initialize my `UserAgentApplication` like so
[code]
`redirectUri` is `post_logout_redirect_uri`, right?

I just tested again. The log out screen is different from last time, but issue still remains.

[2018-04-02 22:00] saregbesola commented on #127
This is my logout method:
logout() {
        sessionStorage.clear();
        location.href = "https://login.microsoftonline.com/common/oauth2/v2.0/logout?post_logout_redirect_uri=http://localhost:4200";
    }
I just wired that to the click event of my logout button and it works. Note, you must make a GET request to this endpoint "https://login.microsoftonline.com/{tenant_Id}/oauth2/v2.0/logout?pos

[2018-04-02 23:31] saregbesola commented on #127
And redirectUri is not "post_logout_redirect_uri"

[2018-04-02 23:37] khalibloo commented on #127
Oh you manually rewired the logout call. I just used `UserAgentApplication.logout()`. I'll try your method as a workaround, thanks.
But this would mean `UserAgentApplication.logout()` is failing to pass along the `redirectUri` in the request as `post_logout_redirect_uri`, right?

[2018-04-02 23:40] khalibloo commented on #127
Ok, just gave it a go.
![127 logout 01](https://user-images.githubusercontent.com/6402969/38221420-7c82c430-36f0-11e8-87aa-b6e2c9553997.png)
You can see the `post_logout_redirect_uri` in the address bar.

It still doesn't redirect. It stays on this page
![127 logout 02](https://user-images.githubusercontent.com/6402969/38221467-b320490e-36f0-11e8-9c41-de0f5b9832f5.png)

[2018-04-02 23:48] khalibloo commented on #127
Using `UserAgentApplication.logout()`, I get the `post_logout_redirect_uri` parameter in the address bar. Though in a slightly different style.
![127 logout 03](https://user-images.githubusercontent.com/6402969/38221610-768ef318-36f1-11e8-9d7a-7a74cb0319a8.png)

So I think it's safe to say there's something else going on beside the redirect parameter. If only there was some server side error log.

[2018-04-03 00:21] saregbesola commented on #127
That's strange. You are supposed to be redirected back after getting "You signed out of your account". Can you inspect that page? I mean the page where is says " You signed out of your account". Also I don't know why you have two Redirect Urls in your app portal. Your post_logout_redirect_uri must be the same as the redirect url you set in the Application Registration Portal. May be there is a con

[2018-04-03 00:31] khalibloo commented on #127
When inspecting the "You signed out of your account" page, the console is empty, indicating no errors. The network tab shows that all requests were completed with a 200 status code. I will look into the multiple redirect Urls in my portal, but I doubt that will change anything. It is after all reasonable for an app to have multiple redirect Urls.

[2018-04-03 01:07] saregbesola commented on #127
Yea multiple redirect urls will not be an issue. I just tested that and it still worked. I think It is safe to say there is something else causing that...fiddler might give you a better visibility tho. From the image you have above, you will need to configure it to decrypt https...then try sign out

[2018-04-03 01:09] khalibloo commented on #127
Ok, I'll look that up and let you know how it goes. Thanks a lot for taking the time.

[2018-04-04 18:10] khalibloo commented on #127
After several tries, I discovered setting Fiddler to decrypt HTTPS breaks msal's connection to the microsoft servers. The sign in and sign out processes stop working all together. The sign in popup disappears after a second or less. The sign out redirect ends in a browser error page "Unable to create secure connection". I'm guessing it sees fiddler as a malicious sniffer of sorts.

[2018-04-05 02:19] saregbesola commented on #127
Fiddler is not supposed to interfere with the app. And if you close Fiddler, does it work? If only I can see your code. As for me, I'm using angular, here is what I have done with it: http://www.sharepointcorridor.com/2018/03/calling-microsoft-graph-api.html

Though I didn't implement logout in the post but I later did it as explained above, and it works fine.

[2018-04-05 04:28] khalibloo commented on #127
Yes, when I close Fiddler, it works. Or when I press F12 to stop capturing on Fiddler, that works too.
Here's the class I use for the authentication. It's in Typescript.
[code]
There really isn't anything that seems out of place in the sign out function. It's just a simple call to `logout()`.

[2018-04-10 05:21] CAJohns opened #277 "Feature Request: Ability to consume and store a token"
As a user it would be great to be able to store an authorised token. The main objective would be for MSAL to have a function that can accept a token and then use that for further authorisation.

Consider an application that authorises a user through another means that returns an ID Token. This application then links to another separate application in a different window. The second application pass

[2018-04-11 18:50] rohitnarula7176 commented on #263
@MarkHerhold Due to the nature of the implicit flow, it is not possible to return a promise for the login scenario. We receive all responses via a redirect response which forces a browser reload. In a case where we initialize a promise before redirecting the user, the promise will lose its state when page reloads. The current way to achieve this is to use loginRedirect but use loginPopup instead w

[2018-04-12 11:53] gayathri-rajamanickam4 opened #278 "Msal.UserAgentApplication object is undefined in authCallback when using loginRedirect"
Hi,

I'm trying to integrate MSAL with angular 5.x application. I'm using angular-cli template.

I have a requirement to show the login screen NOT as pop and need to retrieve access token as soon as the id token is retrieved.

For loginRedirect, all existing examples have implemented this as 2 step process. That is, first get idToken in a click event. and then acquireAccessToken in another click e

[2018-04-12 11:56] gayathri-rajamanickam4 opened #279 "Renew IdToken silently"
Hi,

In my application, we are planning to use Id token instead of access token to call custom web api. As I see that id token has expiry time, is there anyway that I can renew id token before it is expired without going to login page?

Thanks,
Gayathri

[2018-04-13 13:52] halllo commented on #267
Hi folks.
The problem is not MSAL.js but `https://login.live.com/oauth20_authorize.srf`. Here is what I found out when I was debugging the entire `acquireTokenSilent `process:

When the iframe (msalRenewFrame…) tries to authenticate at `https://login.live.com/oauth20_authorize.srf`, `https://login.live.com/oauth20_authorize.srf` attempts to ‘framebust’ (navigate the parent of the iframe which is t

[2018-04-14 20:11] anirudhholla opened #280 "Page Redirecting to login repeatedly"
I have used MSAL for authentication, once I authenticate using my microsoft account, login page is popping up repeatedly in loop. However it works fine on Chrome.

I have enbled local storage, added my app URL on Trusted Sites.

[2018-04-16 07:33] ydogandjiev opened #3257 "How is issuer validation supposed to work for a multi-tenant app?"
Why is the library logging this warning?
[code]

How is issuer validation supposed to work for a multi-tenant app which is what I am trying to build?

[2018-04-19 22:40] #228 closed

[2018-04-19 22:41] #263 closed

[2018-04-19 23:10] rohitnarula7176 commented on #258
@spottedmahn Thank you for pointing out. We will add guidance around the usage of iframe in the next release.

[2018-04-19 23:10] #258 closed

[2018-04-19 23:11] rohitnarula7176 commented on #280
@anirudhholla We have a known issue with  IE/Edge browser. Currently, we do not have any other workaround that we can provide.

[2018-04-19 23:11] #280 closed

[2018-04-20 11:25] spottedmahn commented on #206
Hi @rohitnarula7176 - any updates?

[2018-04-20 11:25] spottedmahn commented on #211
Hey @rohitnarula7176 - any updates on handling this use case? thanks!

[2018-04-22 12:59] sirjameswood opened #283 "Using MSAL to get tokens without using MSAL to sign in"
Portal capabilities for Dynamics 365 provides the ability to sign in using [Azure AD B2C](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/portals/azure-ad-b2c). This is a feature of the product over which I have limited control, as far as I know, this is feature is implemented without MSAL.

Within the context of the portal I am attempting to use MSAL to acquire a token, acquireTo

[2018-04-23 16:15] trevonmckay opened #284 "Using extraQueryParameters in acquireTokenRedirect causes duplicate parameter error"
In our application our error handler for **acquireTokenSilent** listens for a consent required error. When it that condition is true we attempt to force the user to re-consent using acquireTokenRedirect with **prompt=consent** as an extra query parameter. Unfortunately using the parameter **prompt** in **extraQueryParameters** causes the following error

**AADSTS90004: The request is not properly

[2018-04-23 17:37] rohitnarula7176 commented on #277
@CAJohns As per the current design, we expect the signed in user context is established through the same app. Silent SSO is not currently supported in the v2 endpoint which is what Msal goes against to authenticate the user.

[2018-04-23 17:38] rohitnarula7176 commented on #273
@grtn316 Closing this issue due to lack of information. Please reopen if you still face any issue. @spottedmahn Thank you for your help in understanding the issue.

[2018-04-23 17:38] #273 closed

[2018-04-23 18:02] mmushatt opened #285 "When will MSAL.JS be released (General Availability Release)?"
Currently the documentation for Microsoft Authentication Library Preview for JavaScript (MSAL.js) - https://github.com/AzureAD/microsoft-authentication-library-for-js states the following:

When we provide the General Availability release we will require you to update to the General Availability version within six months, as applications written using a preview version of library may no longer wor

[2018-04-23 23:35] JerryDoubleU opened #286 "No possibility to set responseType to 'code' in loginPopup"
I wanted to use the MSAL to let the web app get an authorization code for the backend server. To do that, I need to set the response_type parameter to 'code'. It is not possible with the current MSAL implementation. If I add this to extraQueryParameters, there would be a duplicate key error.

[2018-04-27 13:13] chinmayembedded opened #287 "Msal login redirect issue"
After clicking the "sign in" button, the request for getting the access token runs in loop until and unless the access token is received. Till the time, web application goes in wait state showing page responsive after some time.
![asd](https://user-images.githubusercontent.com/18334906/39364192-cbabb0a4-4a4a-11e8-8a5a-719608b5b759.png)

[2018-04-28 18:20] ydogandjiev opened #3259 "Supporting both AAD v1 and AAD v2 from the same service"
Hey guys, I am trying to build an app that can work with both token issued by the AAD v1 endpoint (for the case where I am fetching the token from an Office app host) as well as the AAD v2 endpoint (for the case where I am using MSAL.js to authenticate users on my site). Unfortunately, when using the OIDCBearerStrategy I am only able to provide one endpoint and it doesn't seem like there is a way

[2018-04-30 04:54] #287 closed

[2018-04-30 11:55] juunas11 commented on #264
We also hit this, some of our users have scandinavian characters in their names, like Ö and Ä.
Those get garbled when the Id token is decoded. @nehaagrawal is this on your roadmap?
If you are not going to fix this soon, would you accept a PR if I make one? :D

[2018-05-01 17:45] #227 closed

[2018-05-01 17:46] #177 closed

[2018-05-02 09:52] bpcastilho opened #288 "Msal fails to get access token with "Token renewal operation failed due timeout: Token Renewal Failed.""
When issuing a new token to do a call to an custom API sometimes we get the error: "Token renewal operation failed due timeout: Token Renewal Failed."

Msal verbose logs:
I S-Verbose renewing accesstoken
I S-Verbose renewToken is called for
I S-lnfo Add msal frame to document:msaIRenewFramehttps://tenant.onmicrosoft.com/dev/read
-Verbose Renew token Ex#cted state: ...
-Verbose Set loading state to

[2018-05-02 15:08] 4deeptech commented on #278
The problem I see with this is that when you access 'this' in the callback, it is not longer the AuthHelper that is referenced by 'this'.  It appears to be the UserAgentApplication but the issue here is the compiler won't let you use 'this' assuming it is the UserAgentApplication object referenced. What is needed is the callback needs to preserve the scope of 'this' so that inside the callback 'th

[2018-05-02 16:53] LarsKemmann opened #289 "Edge (April 2018 Update) Permission Denied in `handleAuthenticationResponse`"
I'm seeing this in Edge 42.17134.1.0 (April 2018 Update) **(EDIT: but not in Chrome latest)**, using v0.1.5 of the MSAL npm package.

At line 1085 in the _UserAgentApplication.js_ file, I get a "Permission Denied" error.

I can get it to work by commenting out lines 1082-1088 and 1102 (closing brace) so that the `window.opener`-related checks are not run. I'm using a redirect login so I don't need

[2018-05-02 16:56] LarsKemmann commented on #289
Note my edit above: this does not occur in Chrome, only in Edge with the April 2018 Update.

[2018-05-02 20:44] 4deeptech commented on #278
I believe the issue is here:

`this._tokenReceivedCallback.call(this, errorDesc, token, error, tokenType);`

It overrides the context of 'this' so if you try to pass a tokenCallback.bind(this), the code above just tosses that away.

[2018-05-04 05:02] 4deeptech commented on #288
I have run into the exact same issues, along with some others (trying to use Angular 5)  I would have thought it would use the expiration time in the token and keep using the same one found locally until the time runs out and then goes out to grab a new one.  The timeout issue...not sure what that is but I have seen that and decided to just use some custom logic to grab the token out of the storag

[2018-05-04 14:16] Adrianotiger commented on #272
I have this same response when I try to pack a PWA in an APPX and download the app from the store.

I don't use a popup but a redirect. Works as PWA on each browser and as PWA on Android but when I start it as App in Windows 10 I get this message after I insert my email address.

Can't say what is the url, as the App doesn't show it and I am not able to return to the webpage once I get this error.

[2018-05-06 23:49] rohitnarula7176 commented on #274
@spottedmahn I apologize for the late response. I was busy working on build related stuff.
Can you please try the latest dev branch and see if it resolves the issue.

I just created a test case to send multiple acquireToken requests for different scopes on app start and was able to get access token for all requests using the latest code.

[2018-05-07 12:00] Amjath-FE opened #292 "Page Focus issue in B2C pages in mobile devices"
Page focus is not set to top(always scrolls down to footer) in b2c pages with Iphone device. It seems to be working fine with desktop and Ipad devices. Issue seems to be occurring in Iphone alone in both Safari and chrome browser. By default B2c Pages (login, registration, forgot password, edit profile) focus their page to middle. They calculate the page height and focus the page to the middle of

[2018-05-07 14:38] spottedmahn commented on #288
Hey @bpcastilho - have you seen this thread: #209?  And this thread: #258?

[2018-05-07 14:43] spottedmahn commented on #288
Set your [`loadFreameTimeout`](https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/docs/classes/_useragentapplication_.useragentapplication.html#constructor) to something much larger (like 30s).  If you don't get timeout errors, are you sure it is not pulling from cache?  If so, can you post the msal log?

[2018-05-07 14:44] spottedmahn commented on #288
Hey @4deeptech - why not use [`loginPopup`](https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/docs/classes/_useragentapplication_.useragentapplication.html#loginpopup) then?

[2018-05-07 14:47] spottedmahn opened #293 "Remove Build Output from Repo"
Why is the build output in the repo?  Makes it very hard to read PRs.  Example #210.

- What are the real changes?
vs
- What are the build output changes (I don't care about those...)

![image](https://user-images.githubusercontent.com/14079228/39708038-120c17be-51e4-11e8-9276-853b9785fe0f.png)

![image](https://user-images.githubusercontent.com/14079228/39708578-905f3f3c-51e5-11e8-96fc-6de3e4d559

[2018-05-07 15:01] spottedmahn commented on #286
That would be a security issue; it would be **insecure**.

What are you trying to achieve?

[2018-05-08 03:57] tmschbgr opened #3261 "Update npm bunyan to fix moment 2.18.1 vulnerability"
Hi,

there is a regular expression denial of service vulnerability in the npm package moment, which is a dependency of bunyan.

Please update the bunyan dependency in order to fix this issue.

Cheers

![capture](https://user-images.githubusercontent.com/22215462/39737385-ddad2062-52d8-11e8-9b6b-2dd7a2a68f5e.PNG)

[2018-05-08 05:38] JerryDoubleU commented on #286
I have a dashboard page, where I setup the account, and then the data would be fetched by a C# server.
It's a scheme/flow described in both Microsoft and Google docs, where you fetch authorization code on the frontend and the process is continued on the backend server.

[2018-05-10 09:43] jkga commented on #278
I'm having the same issue when updated to latest version.

ERROR : **Error occurred in token received callback function: TypeError: Cannot read property 'acquireTokenSilent' of undefined**

**Downgrading** to msal **0.1.3** solves the issue

[2018-05-11 03:58] 4deeptech commented on #288
@spottedmahn I have considered that but the user experience on a mobile device would suck. Plus you have issues with popup blockers etc.

[2018-05-12 02:21] lqdchrm opened #298 "Uncaught Promise from UserAgentApplication.aquireTokenSilent"
Hi, thanks for this awesome lib!

I'm testing to integrate msal in a PWA. The problem is, when logged-in and then temporarily offline, I get an uncaught Promise, which I believe originates in UserAgentApplication.ts@line 1128:

The function aquireTokenSilent creates a new Promise((resolve, reject) => ...
So in line 1128 we probably shouldn't return a Promise, but catch possible errors and call rej

[2018-05-14 21:37] dougmolineux commented on #189
@cheresier I am also experiencing this exact problem with version `"msal": "^0.1.5",`. Were you able to resolve your issue? I am also trying to come from myapps.microsoft.com but I get this error every time. Going directly to the URL works fine. I wonder if I should open a separate issue. Sorry for commenting on one that has been fixed already!

[2018-05-14 22:00] dougmolineux opened #300 "SecurityError: Blocked a frame with origin "[url]" from accessing a cross-origin frame."
Hi there!

When I go to my app by clicking on it inside myapps.microsoft.com I receive this error:
[code]
I found that there is some code written here that has a similar comment, which makes me think perhaps you guys have seen this problem?

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/src/UserAgentApplication.ts#L1310

When I go directly to my URL, the page loads

[2018-05-15 00:08] cheresier commented on #189
@dougmolineux , nope, never heard from anyone with a resolution. The issue is still happening. Would love to see it resolved, so if you think opening a separate issue is the way to go, I'm all for it.

[2018-05-15 09:29] ht89 opened #301 "Cannot read property 'B2C' of undefined"
Hello everyone, would you please help me with this issue that I have when accessing my production Angular 6 app? Thanks a lot. Here's the details of the issue

ERROR TypeError: Cannot read property 'B2C' of undefined
    at Function.e.DetectAuthorityFromUrl (main.58ad9cf0316c1e1e28d1.js:1)
    at Function.e.CreateInstance (main.58ad9cf0316c1e1e28d1.js:1)
    at e.set [as authority] (main.58ad9cf03

[2018-05-15 15:03] dougmolineux commented on #189
@cheresier Thanks for the response! I opened one here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/300

[2018-05-15 22:36] rohitnarula7176 commented on #286
@JerryDoubleU By design, we do not support responseType = 'code' . The library supports only implicit flow with responseType='token' or id_token'. Closing this issue.

[2018-05-15 22:36] #286 closed

[2018-05-15 22:36] rohitnarula7176 commented on #301
@ht89 Can you please attach code snippet for your app to show how you are calling msal.

[2018-05-16 01:39] spottedmahn commented on #274
Seems to be good now, thanks 🙏

[2018-05-16 01:39] #274 closed

[2018-05-16 01:40] spottedmahn commented on #255
Any thoughts 💭?

[2018-05-16 01:56] spottedmahn commented on #206
Any thoughts 💭?

[2018-05-16 02:18] spottedmahn commented on #293
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/200

[2018-05-16 02:19] spottedmahn commented on #301
Did you wire up msal logging?

[2018-05-16 03:17] ht89 commented on #301
Hi @rohitnarula7176 , thanks for your reply. Here's my login configuration (keep in mind that the clientID below is not real. I changed it for security purposes):

`private applicationConfig = {
        tenant: 'kellerdruckcloud.onmicrosoft.com',
        clientID: 'abcdf',
        signUpSignInPolicy: 'B2C_1_devapikellercloudSUSIPolicy',
        b2cScopes: ['https://kellerdruckcloud.onmicrosoft.com

[2018-05-16 03:19] ht89 commented on #301
Hi @spottedmahn , thanks for your reply. Would you please elaborate your question? Thank you.

[2018-05-16 08:57] ChrisHaag commented on #288
I am having the same issue.
I have an angular 1.6 sample app attached with a readme on how to install and setup everything needed to run the app. The app allows to login with a local account as well as a facebook account. Further we acquire tokens for 2 different APIs. We use the latest msal.js version from npm which is 0.1.5.

We are using Azure AD B2C with Identity Framework Experience (Preview)

[2018-05-16 09:04] ChrisHaag commented on #177
Has this issue been fixed already?

I am having the same or a similar issue with the latest msal.js version available on npm which is 0.1.5.
I attached a sample app (angular 1.6) where you can reproduce the error as described in the readme.

Steps to reproduce (as described in the readme):
1. Open developer tools to see console output.
2. Login via facebook.
3. Acquire a token for both APIs in par

[2018-05-16 13:14] spottedmahn commented on #301
Hi @ht89 - you can wire up logging of the MSAL library to see what it is doing:

[code]
[Source](https://github.com/AzureAD/microsoft-authentication-library-for-js)

[2018-05-16 13:40] ht89 commented on #301
Hi @spottedmahn , thanks a lot for your replies. I used the latest version of msal which is 0.1.5. It's weird that when running my Angular 6 app locally, it works fine. However, that's not the case when building the app for production and access it locally.

[2018-05-16 13:42] spottedmahn commented on #301
Interesting... can you share you build command that doesn't work?

[2018-05-16 13:45] ht89 commented on #301
Hi @spottedmahn , thanks for your reply. I just use `ng build --prod` to build the app for production. This causes the issue. When using `ng serve`, the issue does not happen.

[2018-05-16 13:46] ht89 commented on #301
Also, the issue only happens when accessing the production app locally. Thanks

[2018-05-16 17:01] spottedmahn commented on #301
How are accessing it?  `ng build --prod` only builds and doesn't serve it.

[2018-05-16 17:06] spottedmahn commented on #301
- I created a sample using [Angular 5](https://github.com/spottedmahn/Experiments/tree/angular-5/angular6-b2c) with B2C using GitHub and local accounts.  That worked.
- I upgraded that sample to [Angular 6](https://github.com/spottedmahn/Experiments/tree/angular-6/angular6-b2c).  That worked too.

----

- I build it using `npm run build` which equates to `ng build --prod`
- I deployed it to Azure

[2018-05-17 03:52] ht89 commented on #301
Hi @spottedmahn , thanks so much for your help. Sorry I could not reply earlier. I use `http-server -p 4200` to serve the production app. It's interesting that your Angular 6 app works with msal. I will need to check other stuff to see what's wrong.

[2018-05-17 04:10] baykingsea opened #302 "Uncaught exception: AuthorityUriInvalidPath"
I see Uncaught exception:  AuthorityUriInvalidPath  error whether I put authorityUri in the application config or not.  Please see my code below.  I need to get both the access token and idToken.
mslogin: function() {
        var applicationConfig = {
                clientID: 'myclient id',
                graphScopes: ['user.read'],
                response_type: 'id_token token',

[2018-05-17 04:51] ht89 commented on #301
Hi @spottedmahn , in your Angular 6 sample, i can see you use the angular version 6.0.2. Therefore, I upgraded angular to that version and now the issue still happens but after inputting my credentials on the login page and clicking the login button. Please take a look at the screenshot. Thank you.
![screenshot from 2018-05-17 11-46-52](https://user-images.githubusercontent.com/11190412/40157324-9

[2018-05-17 07:44] bpcastilho commented on #288
This is solved on the Dev branch!

[2018-05-17 07:44] #288 closed

[2018-05-17 13:51] ht89 commented on #301
Hi @spottedmahn , no worries :) yes the issue can be closed. Thank you.

[2018-05-17 13:51] #301 closed

[2018-05-17 17:36] #302 closed

[2018-05-17 20:22] lecaillon opened #303 "Token silent renewal fails on Chrome only"
### Context

After calling `loginRedirect` the call to `acquireTokenSilent` fails and `acquireTokenRedirect` is executed causing the entire application to reload.

### Trace

This behavior is specific to Chrome. The same code works fine in Firefox and IE and Edge.

### Cause (and solution)

**It appears it was my flash and ads blocker extensions that caused this behavior. I suspect those extension

[2018-05-18 02:40] redtaped commented on #278
In order to preserve the scope of "this" to be the UserAgentApplication instance that initiated the callback, remove the arrow function syntax and replace with a function() {} syntax.

The arrow function auto binds "this" to the declared scope instead of the scope of the original caller.

After making that change, no longer refer to this.app, but just "this" which will represent the UserAgentAppli

[2018-05-18 18:17] spottedmahn opened #304 "Log Cache Miss"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/src/UserAgentApplication.ts#L1080

[code]

Can we add a `this._logger.verbose()` to the else for cache misses?

I'm debugging why I'm frequently requesting access tokens from B2C...

Happy to do it if you will merge PR?!

[2018-05-18 20:19] spottedmahn opened #305 "Access Token Cache Miss b/c B2C Policy Name Change"
We've changed our policy names and this is causing issues getting access tokens.  Every call to `acquireTokenSilent` is now a cache miss.

I don't want to have to tell all users you have to logout to fix this.

## Repro steps

- Set cache storage to `localStorage`
- Sign-in to policy `B2C_1_Policy-A`
- Change the `authority` to `B2C_1_Policy-B`
- Every call to `acquireTokenSilent()` will be a cach

[2018-05-18 20:26] #303 closed

[2018-05-21 13:28] jkga commented on #278
But even without using "_this_" it will still throw an error.
Consider the following code below

[code]

[2018-05-22 00:04] rohitnarula7176 commented on #304
@spottedmahn I have added the log statement for cache miss. Thanks a lot for your contribution.

[2018-05-22 02:40] redtaped commented on #278
@jkga, because you are referencing the local instance, and not the instance of the callback. You need 'this' to have access to the original context that originated the callback

[2018-05-22 04:12] jkga commented on #278
@redtaped, you are right! Thank you for clarification.

FYI, the local instance of `userAgentApplication` works as expected in MSALJS **<= 0.13**. This might not be appropriate but maybe we could add it on the [example](https://github.com/AzureAD/microsoft-authentication-library-for-js#example) code 2.) to avoid confusion of  using `userAgentApplication` in 3.) ?

[code]

[2018-05-22 12:10] spottedmahn commented on #304
Great 🤗, thanks @rohitnarula7176!

Shall I close the issue?

[2018-05-22 17:55] rohitnarula7176 commented on #298
@lqdchrm I have merged your pull request in the latest version 0.1.6 that we released yesterday. Thank you for your contribution.

[2018-05-22 17:55] #298 closed

[2018-05-22 17:56] rohitnarula7176 commented on #304
@spottedmahn Closing this issue.

[2018-05-22 17:56] #304 closed

[2018-05-22 17:57] rohitnarula7176 commented on #293
@spottedmahn We are using the build output so we can refer to the files while writing dev apps for testing.

[2018-05-22 18:02] rohitnarula7176 commented on #289
@LarsKemmann If the issue is only happening in a specific browser, it is out of scope for the library.

[2018-05-22 18:28] spottedmahn commented on #293
Oh, interesting.

This is not a common practice.  I can't think of any other libraries that put their build output in their source repo.  I hope you guys re-evaluate 😜

[2018-05-23 13:45] DavidHenri008 opened #312 "Version 0.1.6 not working on npm"
The new version 0.1.6 cannot be installed from npm. It seems to have a version mismatch.
Here is the log file:

703 info outdated      { package: [Object],
703 info outdated        path: 'C:\\Git\\my-pjt',
703 info outdated        parent: [Object],
703 info outdated        isMissing: true },
703 info outdated     depname: 'msal',
703 info outdated     current: '0.1.5',
703 info outdated     wanted

[2018-05-23 19:30] nehaagrawal commented on #312
@DavidHenri008  This looks like an issue with npmjs. We are following up with them. We will get back to you once we hear from them.

[2018-05-24 01:20] itanex commented on #284
This prevents proper usage of the login_hint parameter which allows for prepopulating of the username. When using the following line, it does not allow me to have the username auto-selected.

`clientApplication.loginPopup(null, "login_hint=v-brwood@microsoft.com").then(onSignin);`

I would expect this library to provide a way to utilize the parameters in the V2 protocol as I see fit; expected STS

[2018-05-24 01:31] itanex opened #313 "'prompt' parameter is not customizable for Authentication Experience"
I need to allow the authentication experience to utilize 'login_hint' parameter. However this is not possible when the `loginPopup(...)` method and several other methods force the use of `prompt=select_account`.

The authentication URI that i expect to be built resembles the following:

[code]

Similar to #284
[Secure SPA - OAUTH 2.0 Implicit Grant](https://docs.microsoft.com/en-us/azure/active-di

[2018-05-24 15:13] bpcastilho opened #314 "400 bad request - acquireTokenSilent for 2 API's, 1 gets error 'X-Frame-Options' to 'deny'"
When requesting 2 acquireTokenSilent to 2 different custom web API's will get a 400 "Bad Request" for 1 of them.

The authenticated user is able to obtain the tokens if he actively wait to get 1 and only after he request for the other.

This is a B2C app and the authentication was done against Facebook.

Detail took from:
1. Fiddler trace:
The request done is like this:
GET https://login.microsoft

[2018-05-24 17:34] rohitnarula7176 commented on #312
@DavidHenri008 We just received a response from npm and the issue is resolved now. You should now be able to download the latest version of msal.

[2018-05-24 17:34] #312 closed

[2018-05-24 17:38] rohitnarula7176 commented on #314
@bpcastilho The request you are referring to does not come from msal. We do not support responseType=code. We only support implicit flow.

[2018-05-28 09:44] rdeveen commented on #278
Maybe you can try something like this:
[code]

[2018-05-29 23:34] kuncevic commented on #301
Seems like `angular 6.0.3` having the issue when building `--prod`

[2018-05-30 00:27] ht89 commented on #301
Thanks for sharing your info @kuncevic

[2018-05-30 07:40] chinmayembedded opened #315 "MSAL logout frame issue"
After i do logout i get this screen saying frameloader null
![2aa1a680-a514-4977-a1dc-82e6c0ad91a2](https://user-images.githubusercontent.com/18334906/40706295-f8b0849c-640a-11e8-9339-65219a36ff7a.png)

[2018-05-31 21:27] rohitnarula7176 commented on #64
@spottedmahn We would be open to a community PR.

[2018-06-01 11:09] chinmayembedded commented on #127
When i do msal.logout(). my web application redirects me to home screen but in between i get this frameloader error screen.
![2aa1a680-a514-4977-a1dc-82e6c0ad91a2](https://user-images.githubusercontent.com/18334906/40838103-624a37b2-65ba-11e8-9b9a-7b305dd7f59a.png)

[2018-06-01 17:45] rohitnarula7176 commented on #279
@gayathri-rajamanickam4 You can renew id_token by calling acquireTokenSilent passing client id as the single scope in the scopes array.
[code]

[2018-06-01 17:45] #279 closed

[2018-06-01 17:48] rohitnarula7176 commented on #257
@MarkHerhold The call back will be called every time you receive an id_token/access_token in the url fragment and you can identify its type by using tokenType parameter in the authCallback.

[2018-06-01 17:48] #257 closed

[2018-06-01 17:56] rohitnarula7176 commented on #233
@talismax Closing this as this is out of scope for the library.

[2018-06-01 17:56] #233 closed

[2018-06-01 18:05] rohitnarula7176 commented on #283
@sirjameswood This is a feature which is not yet supported. We have plans to add this feature but in order for msal to acquire tokens for the user not signed in through msal, we would require login_hint and domain_hint of the user.

Do you have this information available for the user? login_hint would be the preferred_username field in the id_token and domain_hint would be either consumers/organiz

[2018-06-01 18:06] rohitnarula7176 commented on #284
@trevonmckay Closing this as Duplicate of #313

[2018-06-01 18:06] #284 closed

[2018-06-01 18:11] rohitnarula7176 commented on #255
@spottedmahn We discussed this with the team and the decision was to just expose the id_token object on the user object and not adding a separate getClaim method.

The decision was made by taking in account that the actual code to query claims on the id_token object should be very minimal and hence eliminating the need for a separate api.

[2018-06-01 18:17] rohitnarula7176 commented on #289
@LarsKemmann Can you paste the exact snippet of code where this error occurs in the UserAgentApplication.ts. In the latest release we have all the window.opener checks in the try catch except this:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/84278c4658a39f071cfd9f32df7692a87cc6de1c/src/UserAgentApplication.ts#L1399

Can you confirm if this is the line causing the issue.

[2018-06-01 18:20] rohitnarula7176 commented on #315
@chinmayembedded Can you attach the fiddler trace for the above use case.

[2018-06-01 18:46] spottedmahn commented on #255
That makes sense, provides unlimited flexibility.

Then all of us will be writing the same helper method in our respective code bases 😜

---
Anyways, for the reply!

[2018-06-01 18:46] #255 closed

[2018-06-01 19:04] sirjameswood commented on #283
Yes I think so, we configure AD, so we should have that information available.

[2018-06-02 16:37] jbockle opened #316 "SPA - unable to complete authentication from another route"
I have a SPA with Aurelia, and configured it with MSAL.

When I load app from the base route http://localhost:8080 it authenticates user, then redirects to homepage and am able to get the logged in User and display it on navbar.

When I load from another route, like http://localhost:8080/#/counter, it authenticates user, redirecters to counter page, but getUser() returns null.

Is there something

[2018-06-04 00:04] jbockle commented on #316
if `loginInProgress` I force a page reload and all is fine, not sure why that step is needed

[2018-06-04 07:01] chinmayembedded commented on #315
Sorry I cannot share the details with you.
Following are the methods used in my code -
1. The constructor called for B2C
clientApplication = new Msal.UserAgentApplication(
        this.tenantConfig.clientID, this.authority,
        function (errorDesc: any, token: any, error: any, tokenType: any) {
            localStorage.setItem("accesstoken",token);
        },
        {
            postLogoutRe

[2018-06-04 17:38] spottedmahn opened #317 "Multiple OpenID Connect Requests from Concurrent Access Token Requests"
We have an [Angular interceptor](https://medium.com/@ryanchenkie_40935/angular-authentication-using-the-http-client-and-http-interceptors-2f9d1540eb8) to obtain our access tokens.  We might fire numerous http requests that need an access token.

I've noticed the library handles this in that it only issues one access token request and tells the others to wait which is great.  But it still fires mul

[2018-06-04 20:58] dougmolineux commented on #316
I couldn't get the hashtag to work in my Angular 5 app either. I had to take out the `useHash: true` inside my app-routing.module.ts file. RouterModule.forRoot should define useHash as false by default.

[2018-06-06 18:58] spottedmahn opened #319 "Control navigateToLoginRequestUrl on the Front Side"
We're having problems w/ `navigateToLoginRequestUrl` in that it was implemented on `handleAuthenticationResponse` and not before redirecting to B2C.  When I say before, I mean something like setting `self._cacheStorage.setItem(Constants.loginRequest, '')` when `navigateToLoginRequestUrl` is false.

We have cases where we want `navigateToLoginRequestUrl` to be `true` and some to be `false`.

We cre

[2018-06-07 17:29] imsam67 opened #320 "redirectUri getting ignored"
I include redirectUri when I invoke `msal.js` but after logging in on Azure AD B2C login page, user gets redirected to the page he/she came from, instead of the `redirectUri` I specify. Why is this happening?

Here's my code
[code]

[2018-06-08 13:50] baltuonis opened #321 "acquireTokenSilent failing when Browser is blocking Third Party Cookies"
After the login to our SPA we trigger acquireTokenSilent failed. That works well on Chrome, but Firefox and EDGE are failing with an error:

[code]

Seems like security issue of not saving cookies, because when I enable Third Party Cookies (Visited sites) Firefox starts working.

[2018-06-08 20:43] nehaagrawal commented on #320
@imsam67 - In MSAL, by default the user is redirected to the page where she/he started. This can be set to false using this flag navigateToLoginRequestUrl. You can pass this as an optional parameter for UserAgentApplication constructor.

[code]

[2018-06-08 20:50] imsam67 commented on #320
@nehaagrawal Just added `navigateToLoginRequestUrl:false` as you suggested but I'm still getting redirected to where I came from and not the `redirectUri`. I'm using version `msal v0.1.6 2018-05-21`. Any idea why the `redirectUri` is getting ignored?

[2018-06-08 20:54] imsam67 commented on #320
Here's a screen shot of the `clientApplication` object right before invoking `clientApplication.loginRedirect(scopes);`. As you can see both the `navigateToLoginRequestUrl: false` and `redirectUri: http://localhost:49065/member` are set in the object.

![capture](https://user-images.githubusercontent.com/15844030/41180577-42ab6f1e-6b34-11e8-9ef2-6a0e64fc9502.JPG)

[2018-06-08 21:18] iamdavidfrancis opened #322 "acquireTokenSilent calls this.authorityInstance.ResolveEndpointsAsync instead of newAuthority.ResolveEndpointsAsync"
This causes an issue if you pass an authority string into the method.

I can put up a PR to fix this if you like.

[2018-06-08 23:09] nehaagrawal commented on #320
@imsam67 I just tested this in our sample app and it works. Can you please confirm one thing.
1. Once you login, do you see the id_token in the url like this "http://localhost:49065/member#id_token......" ?

2.if yes then can you put a breakpoint at this code in userAgentApplication.ts to see what's the value of window.location.href in the else block.

  if (self._navigateToLoginRequestUrl) {

[2018-06-08 23:12] nehaagrawal commented on #320
@imsam67 I just tested this in our sample app and it works, Can you please confirm 2 things
1. do you see the id_token in the url  on this path http://localhost:49065/member#id_token...?
2. can you please put a breakpoint at this code in userAgentApplication.ts and check what is the value of window.location.href in else block.

[code]

[2018-06-08 23:58] #322 closed

[2018-06-09 00:32] nehaagrawal commented on #316
@dougmolineux  There is an issue with angular library itself for hashbang urls. https://github.com/angular/angular/issues/16710
We are currently waiting on them to fix it. If it doesn't get fix by angular team, we will provide a workaround.

[2018-06-09 02:04] imsam67 commented on #320
@nehaagrawal Actually, I don't see id_token in the path. I think you're referring to what's in the path once I log in through the Azure AD B2C login page. Here's the first part of what I'm seeing:
`http://localhost:49065/member#state=c78021f1-e91b-490c-a6eb-f361d0b81594&client_info=eyJ1aWQiOiIzNzM3MT...`

[2018-06-09 11:32] spottedmahn commented on #319
Hi @nehaagrawal - sure I'll work on something.  I'll update an [Angular sample](https://github.com/Gimly/simpleAngularAzureB2C).

[2018-06-10 12:16] damien122 opened #324 "How to use with electron?"
Hi,
I try the msal.js for onenote with the sample code here and it works, but after I implemented it in my electron app or a boilerplate electron app, I can't authenticate. After I write my email, I got the message that the account had technical problems and I should try it later again.
I think the problem is the redirection URL in the "app registration portal", I set ther "https://localhost" beca

[2018-06-10 16:17] imsam67 commented on #320
I want to clarify something. Maybe I'm handling something wrong. I'm invoking the login from a static landing page that is not part of my SPA. The landing page is at `http://localhost:49065` and after login, I want to send user to `http://localhost:49065/member`. Currently, user is redirected back to where he came from which is the landing page. I thought I could use the `redirectUri` to send the

[2018-06-11 16:20] dougmolineux commented on #300
Any update on this? Does the proposed Pull Request fix this issue?
Thank you

[2018-06-11 17:17] asnow003 commented on #324
Hello there,
Thanks for your question...I don't think on our team we have created a sample for electron yet.  If possible so I wouldn't have to create one from scratch can you provide me your app that you created or a small sample we can test with.

[2018-06-12 04:39] imsam67 commented on #320
Implementing this has been **painful to put it mildly**. Looks like it's not just my experience!!! How can one disagree with this? https://www.azurefromthetrenches.com/azure-ad-b2c-a-painful-journey-goodbye-for-now/

[2018-06-12 18:02] damien122 commented on #324
thanks @asnow003 for your quick answer. You can find my app here ... [https://github.com/damien122/cloudnoter](https://github.com/damien122/cloudnoter)

[2018-06-12 19:45] nehaagrawal commented on #319
@spottedmahn I went through all the issues reported by you for b2c policies.  I understand that there are 2 major issues:-
1) We return the error code for forget password policy whereas user is expecting the library to handle it.
2) We don't provide the option to configure multiple b2c policies.
We are going to discuss this internally within our team and I will get an answer for you in this week.

[2018-06-12 19:58] spottedmahn commented on #319
I'm ok with handling it but there's no good way to handle it w/o reaching into the **private** parts of MSAL.js.  Reference:  [#211 Provide Public Access to msal.error and desc](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/211)

Basically, yes 👍

And thanks 🙏 for your reply!

[2018-06-12 19:58] navyasric commented on #285
@mmushatt Thanks for the feedback and interest in the library. We are working on the plans for GA but do not have a timeline to share yet.

[2018-06-12 20:01] navyasric commented on #324
@damien122 The MSAL.js library is designed to work with browser based JS and SPA apps. It does not support the Electron platform which requires native platform integration capabilities. Is the application you are building with Electron for a mobile platform?

[2018-06-12 22:11] nehaagrawal commented on #319
@spottedmahn Meanwhile, I saw this issue https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/9. Did you try the solution provided by mikelunn? He is handling it for password reset policy without accessing the error from _cacheStorage.

[2018-06-13 11:58] spottedmahn commented on #319
Hi @nehaagrawal - yes but please [read more details here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/211#issuecomment-359438043).  In short, we need to do this b/c we require you to be signed in to access our app.

[2018-06-13 13:53] 4deeptech commented on #320
@imsam67 What url do you have in the configured "Application" in the B2C setup for Reply Url?  I assume it is `http://localhost:49065` right?  So when authentication completes, it comes back to your landing page. Perhaps what you are looking for is to have both urls set up in the the B2C config as Reply Urls.  B2C will not redirect to a url not in the configured reply list. One thing to note here,

[2018-06-13 14:34] 4deeptech commented on #278
@redtaped So if my application declares a variable for the UserAgentApplication like below:
`var userAgentApplication = new Msal.UserAgentApplication(
applicationConfig.clientID,
null,
authCallback,
{ cacheLocation: 'localStorage', logger: logger });

 // callback function
function authCallback(errorDesc, token, error, tokenType) {
      if (token) {
            //'this' is the instance of UserAge

[2018-06-13 15:46] imsam67 commented on #320
@4deeptech The URL configured under application at B2C portal is `http://localhost:49065/member`. That's also the `RedirectUri` configured on the client side on the landing page. That's why I'm so confused that I keep getting sent back to the landing page at `http://locakhost:49065`.

[2018-06-13 18:37] spottedmahn opened #326 "isAngular option, what does that do?"
I was just browsing the source and I see there's a new option [`isAngular`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/src/UserAgentApplication.ts#L237) but I don't see that documented in the [releases](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases).

What is it?  What does it do?  When was that introduced?  Thanks 🙏

[2018-06-13 18:52] spottedmahn opened #327 "Lots of msal.acquireTokenUser in storage"
I'm seeing lots of `msal.acquireTokenUser|` in storage.  I suspect there is only supposed to be one?

![image](https://user-images.githubusercontent.com/14079228/41371283-de360250-6f17-11e8-932d-e4036db09ac5.png)

<details><summary>Log file</summary>
11:48:34.083 our-app.bundle.js:1 msal.js: Wed, 13 Jun 2018 15:48:34 GMT:12345-0.1.6-Verbose Token is not in cache for scope:https://our-tenant.onmicr

[2018-06-13 19:44] spottedmahn commented on #320
It's a pretty cool feature IMO.  Unfortunately, it is not well documented (at least to my knowledge).

It helps solve the "I have hundreds or thousands of page URLs" problem.  Then you don't have to register ever unique URL in your app.

Some related details are here: [Why is Redirect URL Fully Qualified in Azure AD B2C?](https://stackoverflow.com/questions/47520604/why-is-redirect-url-fully-quali

[2018-06-13 19:54] spottedmahn commented on #320
I would turn on `Preserve Log` in Chrome debug tools

![image](https://user-images.githubusercontent.com/14079228/41374469-38ee9550-6f21-11e8-90b3-2312e86b7b9e.png)

Then you can see the URL(s) your app navigated to.  That might help diagnosis the issue.

I troubleshot the opposite of your problem w/ a fellow dev the other day.  Turns out our [`AuthentactionGuard`](https://angular.io/guide/router#

[2018-06-13 19:56] spottedmahn commented on #320
Are you using MSAL.js to invoke the login?

[2018-06-13 20:00] spottedmahn commented on #313
Seems like the same issue as [Allow Controlling the prompt parameter](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/208), no?

[2018-06-13 20:07] imsam67 commented on #320
I'm invoking the login using the code I included in the original post here. Initially, I was using an older version of `msal.js` but since my post here, I updated it to the latest version which I believe is 0.1.6.

I'm still not clear if I'm even able to do what I'm trying to accomplish. Can I invoke the login from a static landing page which is NOT part of my SPA and after the login have the user

[2018-06-13 20:22] spottedmahn commented on #320
I can't think of any reason why that wouldn't work.  When using MSAL.js, it using session or local storage for everything, so provided you have the same config and construction parameters of `UserAgentApplication` it wouldn't know that you are in the SPA or not.

No, MSAL.js will **not** always return the user when they came from.  All depends upon `navigateToLoginRequestUrl`.  That I can definiti

[2018-06-13 20:28] imsam67 commented on #320
@spottedmahn  Currently, I have one in the SPA app so that if anyone goes to `http://localhost:49065/member` directly, they'll get sent to the login page on Azure. I also have a `UserAgentApplication` in the static landing page -- see my code above in original post. That's pretty much it.

[2018-06-13 20:34] spottedmahn commented on #320
You don't need to reach into storage to control this.  Generally speaking, Chris is amazing and knows his stuff inside and out but he apparently doesn't know about this relatively new parameter.  Reference [release 0.1.5](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/0.1.5)

[2018-06-13 20:41] spottedmahn commented on #320
FYI, the code that controls the redirect behavior is [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/src/UserAgentApplication.ts#L1403).

It is pretty simple.  If `navigateToLoginRequestUrl` `true` then send the user back othewise don't.

[2018-06-13 20:52] imsam67 commented on #320
@spottedmahn I have tears in my eyes!!!! It's working!!!!

[2018-06-13 20:53] imsam67 commented on #320
@spottedmahn I can't thank you enough!!!!

[2018-06-13 20:58] imsam67 commented on #320
Actually, I'm not even sure if I'm doing this right but it's working. I'm simply doing a redirect in the callback function.

Once the user logs in and we obtain a token, the user is sent back to my static landing page, into the callback function. In there, I can simply do a redirect.

Anything wrong with that approach? I set `navigateToLoginRequestUrl`  to both `true` and `false` and in both cases

[2018-06-13 21:06] rohitnarula7176 commented on #320
@imsam67 The navigateToLoginRequestUrl just controls the final redirect back to your loginStartPage. The callback function will be called in both cases regardless. I don't see anything wrong with the approach suggested by @spottedmahn .
 Please let us know if you have further questions and feel free to close this issue if your question is answered.

[2018-06-13 21:11] imsam67 commented on #320
I could use some clarity on what `loginStartPage` is.

Is it the page where the user initiated the login process? Or the `redirectUri` set on Azure portal?

Also, am I understanding this correctly that where I want to send the user to after the login will always be handled in the callback function?

[2018-06-14 08:20] damien122 commented on #324
@navyasric thanks for your answere. I build an alternative OneNote Client for Desktop users, mostly for linux because I don't like ne web client.
But your answere was exactly the information I am looking for. In this case I will use forter my self implemented authentication with the onenote API directly.

[2018-06-14 08:20] #324 closed

[2018-06-14 15:07] spottedmahn commented on #320
That's great!! 💥

That certainly works but you shouldn't need to do that.  Something else must be going on...

Yes.  Reference: [The code that sets it for `loginRedirect`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/src/UserAgentApplication.ts#L356)

[2018-06-14 15:40] #320 closed

[2018-06-15 14:03] marilag commented on #319
Hi we also seem to have the same issue. We require the users to be signed in at all times in the app. Creating a new instance of the UserAgentApplication on authcallback to redirect with a password reset policy sometimes works, sometimes not depends on which UserAgentApplication gets redirected first.

[2018-06-18 18:27] asnow003 commented on #326
It is a property you can set if you are using the library in an Angular application.  So if this is set to true instead of when events happen like redirects when popups close and so on it will "broadcast" events instead that your app can handle in the "angular" way.

It looks like it was added a couple months ago due.  We are coming out with Angular support very soon with samples so you can easily

[2018-06-18 18:27] #326 closed

[2018-06-18 18:31] spottedmahn commented on #326
hmm.. interesting!  thanks 🙏 for the response @asnow003!

[2018-06-18 18:32] spottedmahn commented on #326
We use Angular and MSAL **today**.  I assume this means there will be better first-class citizen support for Angular?

[2018-06-19 15:07] smehra711 opened #330 "[Angular 4 app] - IE 11 intermittently returning NULL in the redirectURL"
We have developed a Single page application in Angular 4. Our first screen is Login Screen where we are using MSAL.js library to authenticate username/password. We are facing two intermittent issues in IE 11 browser only while authenticating username/password using Microsoft Authentication Library(MSAL.js) and due to which we see blank screen sometimes. [Note: In other browsers like chrome and saf

[2018-06-20 13:27] cognologixguru opened #332 "JavaScript critical error at line 1, column 11 in .../msal.js.map\n\nSCRIPT1004: Expected ';'"
Hi,
I am trying to use MSAL to get access token in my office add-in. When I linked following files in my Home.html, it shows error -
**JavaScript critical error at line 2, column 12 in https://localhost:44302/.../msal.js.map\n\nSCRIPT1004: Expected ';'**
Files :
msal.js
msal.js.map
msal.min.js
msal.min.js.map

Visual Studio Community 2017 Version : 15.7.3
Office 2016 Version : 1805 (Build : 9330.2

[2018-06-20 14:39] PoyaManouchehri opened #333 "acquireTokenRedirect Fails with error AADSTS700023 (invalid openid and profile scopes)"
Hello, I'm running into a problem that seems very much the same as #135 . In short:

1) We have an app registered in AAD. The `oauth2AllowImplicitFlow` setting in the manifest is set to true.
2) We use the `AppId` as the "Audience" when configuring the bearer token middleware in our API.
3) The client (using MSAL.js) we first call .login with the scope set to `AppId`. This successfully gets us an

[2018-06-20 22:01] danieldobalian commented on #333
@PoyaManouchehri why do you want to get an access token? Are you trying to authorize the user to call an API on their behalf?

The scopes `openid` and `profile` do not map to any resource (they're used for pure sign in a.k.a OpenID Connect), so the token service doesn't know what audience to mint the access token for.  If you need an access token for the Microsoft Graph for example, you would add

[2018-06-21 00:29] PoyaManouchehri commented on #333
@danieldobalian thanks for your response. A couple of notes:

1) I secure my own API (an ASP.NET Core based API). My understanding of OAuth/OpenID is that I should be using access tokens for accessing an API rather than the ID token which should be used in my client (in this case an Angular 5 SPA). I use the `AddJwtBearer` middleware in my backend and set the `Audience` to be my `AppID`.

2) I und

[2018-06-22 13:11] MarkHerhold commented on #327
I'm seeing this as well and am worried about running out of localstorage space after the app runs for months/years.

[2018-06-25 12:33] MarkHerhold opened #335 "Redirect URI should end with /"
Per [this issue](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/451), ADAL should probably help users out by adding a trailing `/` or error out when one is not provided in the redirect URI.

[2018-06-25 17:55] Ra-Sedgwick opened #336 "Browser Compatibility issues."
My app is currently on v0.1.1,  using session storage and working in every browser but edge and safari which I have sla's to support.

Safari gets caught in a infinite loop between my app and login.microsoft without ever stopping on one page.

On Edge after submitting credentials and being redirected back to my site the error "user_login_error|User login is required" is being thrown by acquireToke

[2018-06-26 15:01] blacktea commented on #321
Can we add a check inside the library to see if 3rd party cookies are enabled or not.
At the moment we need to do that check on our own implementing 1 more endpoint

[2018-06-28 03:43] aszalacinski opened #337 "Wiki documentation is non-existent"
I get we are all busy but when all MS documentation points to MSAL as the way to go for SPA apps, then documentation needs to be a first class citizen.

[2018-06-28 18:21] smehra711 commented on #330
any update?

[2018-07-03 00:33] nehaagrawal commented on #337
@aszalacinski  - I apologize that you are not able to find what you are looking for. We do have the documentation and we are currently working on improving it. Could you please  explain why do you say that it's non-existent?

[2018-07-03 00:35] nehaagrawal commented on #335
@MarkHerhold  The issue that you pointed out is for ADAL. Are you seeing the same issue in MSAL?

[2018-07-03 00:44] nehaagrawal commented on #336
@Ra-Sedgwick This is an existing issue with the Edge and IE browsers. We have documented this in our ADAL library but this applies here as well. Currently, we only have the work arounds listed here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge#issues

I have never seen issue on safari. Is it possible for you to share your repo or a sample project to rep

[2018-07-03 02:12] MarkHerhold commented on #335
@nehaagrawal The issue exists will both ADAL and MSAL.

[2018-07-03 13:36] kyma opened #338 "not possible to force locale"
I can't see a way to pass in the desired locale in methods such as loginRedirect.
Can this be added, or is there a way to force locale using this library?

[2018-07-03 16:30] Ra-Sedgwick commented on #336
This is happening on localhost and in higher level environments. To clarify when I updated from 0.1.1 to 0.1.6 the safari issues resolved any my IE/Edge issues began. I will try to reproduce the issue in a sample app.  Thank you.

[2018-07-03 17:50] nehaagrawal commented on #338
@kyma  Currently we don't provide the option to configure locale in our library. What is your use  case?

[2018-07-03 17:57] nehaagrawal commented on #332
@cognologixguru   I am assuming that you are using the CND link to download the library. Could you please tell us which version of library you are using from CDN?

[2018-07-03 18:05] nehaagrawal commented on #336
We have known issues with IE/Edge browser due to Security zone issue during redirect . We are currently working on a fix and it will be released sometime in future. The workaround to switch to localStorage may not work on all versions of IE/Edge. Did you try loginPopup() instead of loginRedirect() with the workaround settings?

[2018-07-03 18:07] nehaagrawal commented on #327
@spottedmahn  We are able to reproduce this issue and we will provide a fix in the future release.

[2018-07-03 21:09] nehaagrawal commented on #335
@MarkHerhold  The issue that you reference was for safari browser where cookie was disabled and our library can't work if cookie is disabled. That issue was closed. I saw your comment and it seems your issue is related to reply url not ending with slash.
Can you please send me the exact error that you are getting. Also if it's related to slash, it should be reproducible in all browsers. I am not c

[2018-07-03 21:54] nehaagrawal commented on #330
@smehra711 Ths is an existing issue with the Edge and IE browsers. We have documented this in our ADAL library but this applies here as well. Currently, we only have the work around listed here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge#issues

To give you some context since the session/local storage is cleared during the redirect in IE/Edge and the

[2018-07-03 22:20] nehaagrawal commented on #333
@PoyaManouchehri  Can you please tell us how you are passing the scope for your own web api? It should be like this.
"api://<Application ID>/access_as_user"

[2018-07-04 01:40] jkga commented on #330
@smehra711

based on my own experience, intermittently returning `NULL` is also happening even in chrome browser not just IE. If you get redirected to `MS login page` and waited for a minute, you will notice that after successfully logging in you will be redirected to `https://your-domain/null`

[2018-07-04 08:22] Ideline opened #339 "Can't get acquireTokenSilent to work"
I'm having problems to get acquireTokenSilent to work. The following code with acquireTokenPopup works fine but I would like to be able to fetch a token without the user having to manually approve every time.

    state.userAgentApplication = new Msal.UserAgentApplication(state.applicationConfig.clientID, null,{cacheLocation: 'localStorage'});
    state.userAgentApplication.acquireTokenPopup(state

[2018-07-04 09:03] kyma commented on #338
I have a website that allow the user to change language. We would like the log in flow to follow the user's choice as it feels odd if it changes when they login/register

[2018-07-04 10:36] jhossy opened #340 "Question: How to leverage SSO capabilities of MSAL.js when not signed in through MSAL"
Hi

I have digged through the issues here and also on Stackoverflow, but there is an issue that remains unanswered to me.

Is it possible, for users to sign in using for example a Web App that integrates with Azure B2C AD and afterwards be signed into a SPA that uses the MSAL.js library?

When I attempt that and perform the loginRedirect() in my SPA, I am always redirected to the login page (which

[2018-07-04 18:58] jhossy commented on #275
Can I ask how you managed to remove the prompt parameter using msal? We are facing the same issue, I think

[2018-07-04 20:55] addoyle opened #3263 "ReferenceError: self is not defined"
Using version 3.0.12

I'm getting this error trying to use assertion-based auth:
[code]

[2018-07-05 13:57] vipero07 opened #341 "openWindow resolve is never called"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d29fa63e737d5f811d2a8af1f3a03448d07e5fe3/src/UserAgentApplication.ts#L482

As it stands if you use .loginPopup and expect the resolve to be called, the promise is never called. If you look at the code for the method linked above you will see resolve is never used, and tslint (if set up) actually says "'resolve' is declared but

[2018-07-05 18:10] nehaagrawal commented on #339
@Ideline For the first issue, are you calling the acquireTokenSilent()  after loginPopup() like this ?

userAgentApplication.loginPopup(applicationConfig.graphScopes).then(function (idToken) {
                //Login Success
                userAgentApplication.acquireTokenSilent(applicationConfig.graphScopes).then(function (accessToken) {
                    //AcquireToken Success

[2018-07-05 18:33] nehaagrawal commented on #197
@pieterdv Is this still an issue? Is your company account registered with AAD? Are you using the same authority for both MSA and company account?

[2018-07-06 20:32] vladkosarev commented on #177
Same issue with twitter here.

Refused to display [redacted] in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'self'

[2018-07-08 00:52] nartc commented on #337
@nehaagrawal the Wiki on this Github Repository does not show any useful information. Every item links back to Home. The only link that works is `Register your app with AAD` that links you to Microsoft website.

[2018-07-09 07:14] Ideline commented on #339
Hi.

I have tried this exact code with no success:

getAccessToken({ state, commit, dispatch }) {

      state.userAgentApplication = new Msal.UserAgentApplication(state.applicationConfig.clientID, null, { cacheLocation: 'localStorage' });

      state.userAgentApplication.loginPopup(state.applicationConfig.graphScopes).then(function (idToken) {

        state.userAgentApplication.acquireTokenSile

[2018-07-09 08:30] jkga commented on #339
Try using `this` for inner scope  https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/278

[code]

[2018-07-09 12:02] Ideline commented on #339
I have tried this now but "this" is undefined while state.userAgentApplication is not undefined.
To clarify ... if I don't use acquireTokenSilent but instead only use acquireTokenPopup the authentication works and I will receive the graphToken when using the web Outlook. My problem is that it doesn't work for the desktop Outlook and acquireTokenSilent doesn't work at all.

It seems as the promise

[2018-07-09 15:17] Tekki commented on #339
Take a look at #341
But I think this is a problem with the sample application and not with the library itself. I use it in a Vue.js app and userAgentApplication.acquireTokenSilent always resolves.

[2018-07-09 20:41] nehaagrawal commented on #332
@cognologixguru  Can you please confirm what version of library you are using.

[2018-07-10 03:51] nehaagrawal commented on #338
@kyma  There is a way to configure locale. I can create PR tomorrow.

[2018-07-10 07:47] nehaagrawal commented on #337
@aszalacinski I have fixed the wiki. Please check.

[2018-07-10 08:01] nehaagrawal commented on #338
@kyma - You can pass locale as extraQueryParameter in  loginRedirect() or loginPopup() APIs. MKT is the parameter name and which takes the LanguageCode-CountryCode format (e.g.: en-US, fr-CA).

` userAgentApplication.loginPopup(applicationConfig.graphScopes, "mkt=fr-CA")`

[2018-07-10 09:39] kyma commented on #338
great, thanks I'll try it today

[2018-07-10 09:44] kyma opened #342 "Login with facebook fails on iPad"
I'm able to login with Facebook on desktop fine, but on an iPad I get this error:

Refused to display 'https://m.facebook.com/v3.0/dialog/oauth?redirect_uri=https%3A%2F%2Flogin.microsoftonline.com%2Fte%2Flynkcob2c.onmicrosoft.com........

in a frame because it set 'X-Frame-Options' to 'DENY'.

And the login fails.

[2018-07-10 15:59] kyma commented on #338
this works. Thanks for the fast response. Don't think this is in the documentation though so it'd be great to add it for future users

[2018-07-10 15:59] #338 closed

[2018-07-10 16:44] smehra711 commented on #330
After adding redirectURi and setting NavigateToLoginRequestUrl flag to false in MSAL config, it fixed the IE 11 null issue. Thank you so much for your help on this But I am having another issue now on Window 7 with IE 11.0.9600 version.

{
            redirectUri: this.redirectUri,
            navigateToLoginRequestUrl: false

        }

	The issue is from login screen when I call msal login func

[2018-07-10 16:55] smehra711 commented on #330
Hi Wen,

After adding the redirectURi and setting NavigateToLoginRequestUrl flag to false in MSAL config, it fixed the IE 11 null issue. Thank you so much for your help on this But I am having another issue now on Window 7 with IE 11.0.9600 version.

{
            redirectUri: this.redirectUri,
            navigateToLoginRequestUrl: false

        }

  *   The issue is from login screen when I cal

[2018-07-10 17:15] shoatman opened #343 "Test: Access privileges"
Test

[2018-07-10 17:15] #343 closed

[2018-07-10 17:22] #337 closed

[2018-07-10 23:06] navyasric commented on #197
@pieterdv Closing this issue as we need more info to investigate. Please reopen if the issue still exists for you.

[2018-07-10 23:06] #197 closed

[2018-07-10 23:19] navyasric commented on #336
Thanks for the feedback. We will work on documenting this in Wiki of MSAL as well. Closing this issue as it is a known issue.

[2018-07-10 23:19] #336 closed

[2018-07-10 23:33] navyasric commented on #272
@ak99372  Are you still facing this issue? The redirectURI should be the same one registered in your app as a the redirect URI. It is usually your apps URL.

[2018-07-10 23:34] navyasric commented on #272
@Adrianotiger MSAL.js is designed to be used in browser based SPA apps and does not support the native capabilities required for platforms such as Android.

[2018-07-11 11:40] kyma commented on #342
Thanks for your response.
We're using the B2C flow. The login process with Facebook works fine on desktop. We're not running it in an iFrame.

The only difference I can see is that on desktop you seem to pass straight though FB systems and log in, and on mobile it takes you to an intermediary confirmation screen:
https://m.facebook.com/v3.0/dialog/oauth?redirect_uri=https%3A%2F%2Flogin.microsofton

[2018-07-11 17:21] asnow003 commented on #335
@MarkHerhold I just did a generic test on my mac using the latest Safari in Sierra.  I used our VanillaJSTestApp in the repo.  Have you tried that also...just wondering if there is a specific setup I can do to repro this.

[2018-07-11 19:45] nehaagrawal commented on #332
closing the issue due to lack of information from the user. Please feel free to open a new issue if this issue still exists.

[2018-07-11 19:45] #332 closed

[2018-07-11 23:57] MarkHerhold commented on #335
See comment in referenced issue. Closing.

[2018-07-11 23:57] #335 closed

[2018-07-12 00:29] nehaagrawal commented on #341
@vipero07 our samples work fine and acquireTokenSilent does get called.  OpenWindow() doesn't  resolve promise but it's resolved later in the code during the call to  `this.registerCallback(authenticationRequest.state, scope, resolve, reject);`

OpenWindow() doesn't return promise and it's a sync call. It calls reject only for error scenarios.
Can you please share what version of the library you a

[2018-07-12 11:41] Ideline commented on #339
I still haven't found a solution to my problem. My add-in is for Outlook and at the moment I can not get a graph token while using the desktop client since neither the silent or popup function works, and I can only get one while using the popup in the web client. If anyone has another suggestion for what I can look into I would really appreciate it.

[2018-07-13 18:19] nehaagrawal commented on #341
This issue is a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/339. Please track it there. Closing this.

[2018-07-13 18:19] #341 closed

[2018-07-13 18:22] nehaagrawal commented on #339
@Ideline Can you please share your repo or sampel code where we can reproduce this issue? Noone has ever reported this issue and we confirmed that sample works fine. There is something else in your code that is causing this issue.

[2018-07-13 18:35] vipero07 commented on #341
I don't have a copy of the exact code as I never checked it in (since it didn't work) but it was word for word the same as the code pasted above (different scopes and clientId of course). I already replaced it all with the adal-angular library which seems to work just fine (though I'm sure it has things included I don't need, and isn't typescript friendly). It is possible that the problem was aqui

[2018-07-13 20:41] nehaagrawal commented on #272
@ak99372 is this still an issue? It looks like the redirect uri you are using is not registered for your client application. Please register the redirect uri on  app registration portal at https://apps.dev.microsoft.com/ and try again.

[2018-07-13 20:42] #272 closed

[2018-07-13 22:43] nehaagrawal commented on #313
@itanex login_hint allows user to pre-fill the username and email address field of the sign-in page for the user but user still need to enter the password. prompt=none wouldn't work here. How will you enter the password?

[2018-07-13 22:51] nehaagrawal commented on #283
@sirjameswood  were you able to resolve this? You need to parse the id_token that you got during login and check if it has preferred_username or upn field. You can use these fields as login_hint. For domain_hint, if it's a AAD account, you need to pass organizations and if it's a MSA account(consumer's account like live.com , hotmail.com etc) you will pass Consumer. Hope this was helpful. I will a

[2018-07-13 22:51] #283 closed

[2018-07-13 23:02] navyasric commented on #285
Closing this issue as it is more of a question. Please watch the repo(Readme, etc) for the updates about GA in future.

[2018-07-13 23:02] #285 closed

[2018-07-13 23:08] #313 closed

[2018-07-14 00:44] rohitnarula7176 commented on #333
@PoyaManouchehri The issue is now fixed in the dev branch and will be part of our next release. Closing this issue for now. Please test with the dev branch and confirm if it is resolved for you.

[2018-07-14 00:44] #333 closed

[2018-07-14 00:47] rohitnarula7176 commented on #327
@spottedmahn @MarkHerhold  I have added additional code in the dev branch to delete temporary cache entries in cases of errors like state_mismatch or invalid id_token (nonce missing). Earlier I was only running the cache clean up code in the cases of a successful response. Can you please test with the dev branch and confirm if it is resolved for you.

[2018-07-14 00:49] #327 closed

[2018-07-16 08:25] volosovich opened #345 "Latest version on CDN"
Hi.
Latest version doesn't exists on Microsoft CDN
https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.min.js
https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.js
the same problem with version 0.1.6

Good idea is adding some tag  for latest version
https://secure.aadcdn.microsoftonline-p.com/lib/@latest/js/msal.min.js

[2018-07-16 09:14] sirjameswood commented on #283
@nehaagrawal Sort of, I built a seperate connection without using MSAL.

[2018-07-16 19:31] itanex commented on #313
@spottedmahn Similar. I read through #208 and the use case is different, but the code in question is the same. I am working on a code example for this and will post it later.

[2018-07-16 19:35] itanex commented on #313
@nehaagrawal First off. I am not using `prompt=none`. The expected behavior is that the user, when providing the `tenant url` so that an authority url can be built, the user should be presented with the assigned account (`login=admin@my.tenant.com`) within the tenant.

[2018-07-17 21:46] adamtay opened #347 "Msal Intermittently returning null in redirect uri on IE/Edge/Safari"
Hi,

I understand that this is a known issue as per the library wiki, however, Safari (MacOS X/iOS) appears to also be impacted by this issue.

**Tested browsers:**
- IE 11.1155.15063.0
- Edge 40.15063.674.0
- Safari 11.1.2 (MacOS X High Sierra 10.13.6)
- Safari (iOS 11.4.1)

**Our solution:**
- React v16.4.1 (via create-react-app)
- Msal v0.1.7
- Utilizing sessionStorage (we are unable to utilize

[2018-07-18 20:17] nehaagrawal commented on #347
@adamtay We are currently working on a fix for this issue and we are planing to release it in our future release.

[2018-07-18 20:18] nehaagrawal commented on #330
duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/347. Please track this issue there.

[2018-07-18 20:18] #330 closed

[2018-07-18 20:36] sayanghosh123 commented on #347
@nehaagrawal Thanks for the quick response. We would need to understand a timeline for this fix please, as we are smack dab in the middle of a SDLC programme which is dependent on this. We are happy to get into Private previews if those allow us to test out the fix. An update will be appreciated.

[2018-07-19 04:04] navyasric commented on #202
@hwangzhiming Is this still an issue for you? Can you clarify which Identity provider you are trying to federate sso with?
MSAL.js supports these Identity providers: Azure AD , Azure AD B2C and Microsoft accounts.

[2018-07-20 13:08] jhwoodward opened #349 "AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'"
We are encountering this issue with a small number of users on IE11.

Everything seems to be fine with our configuration because 99% of our users are not experiencing issues.

However unfortunately a small number of high profile users are unable to log in after receiving this error.

[2018-07-20 15:15] vladkosarev commented on #339
I actually have exact same issue. That call just never comes back with either success or error. If I'm already logged in and refresh the page then it works, if I just logged in and get redirected back and try to get the token it doesn't do anything. It's really odd.

Since this is in Vue I'm wondering if Vue is doing something that makes acquireTokenSilent never come back.

[2018-07-20 15:23] vladkosarev commented on #339
Here's what I'm thinking -
new Msal.UserAgentApplication has some async bits that might not be done by the time acquireTokenSilent is called or something along those lines. That's why in some situations the object exists but doesn't work properly.

[2018-07-20 16:08] erickbp opened #350 "ms-msal-angular is not in npm?"
[doc says npm install ms-msal-angular --save](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/na/msalAngular/lib/msalAngular/README.md#installation)

[2018-07-20 19:12] Ra-Sedgwick commented on #336
I believe i found the cause of my issue, which seems to be a problem between IE11 and Aurelias DI library.

I tried resolving my authService( which contained all my msal code) class in main.js using aurelia.continer.get(authService) which resulted in authService.isAuthenticated() always returning false in IE.

[code]

I deleted all of my login logic from main.js, now handling all of it in the rout

[2018-07-20 20:13] navyasric commented on #206
@spottedmahn Thanks for your thoughts on this scenario. We do not plan to support this scenario in our current roadmap. Due to reasons above this will need investigation and we will consider in our future backlog. Closing issue for now.

[2018-07-20 20:13] #206 closed

[2018-07-20 20:15] spottedmahn commented on #206
Hi @navyasric - did you read [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/206#issuecomment-359572166)?  The library already does this in parts of it!

[2018-07-21 00:06] navyasric commented on #350
@erickbp This is work in progress as it is on a feature branch and not yet merged to dev or released. Therefore, we have not yet published to npm. Please watch the dev branch readme and Releases for updates on Angular support.

[2018-07-21 00:06] #350 closed

[2018-07-21 07:01] Chandu12x commented on #300
I'm from EUSE team and my application is also using MSAL. Presently I'm also seeing the same issue as specified frequently. Any update on the fix please. FYI we are not using any Iframe in our code .

Exceptions:
•	SecurityError: Blocked a frame with origin "https://myapp.microsoft.com" from accessing a cross-origin frame.
•	Error: Permission denied

[2018-07-22 14:19] iaakash19 opened #351 "what do i pass in response_type and scope to get access_token instead of id_token"

[2018-07-22 15:00] Tekki commented on #339
@vladkosarev I've just published my project at https://github.com/Tekki/ivoc4, take a look at it. Maybe the difference is that I don't get the token immediately, but first I log in, then load a new component and from here call acquireTokenSilent.

[2018-07-23 13:10] SandyVeliz commented on #300
I m geting the same error, in my case appears when the application with b2c is opened by another page.
But if i redirect from this other page to the application with b2c the application can autenthicate normally

[2018-07-23 17:08] vladkosarev opened #352 "Twitter popup login does not work"
I am not sure why issue #177 was closed. Twitter login still does now work.
Here's the error -
[code]

[2018-07-23 17:22] nehaagrawal commented on #351
You need to use login api to get the id_token and acquireToken api for access_token. More information can be found here.

https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Public-APIs

[2018-07-24 03:36] jburman commented on #347
Also ran into this issue tonight in Firefox 61 (Windows 10).

[2018-07-24 07:06] Ideline commented on #339
Thank you for chairing.
Looking at your code I think it's kind of what I do. I will keep trying.

Yesterday I tested the code that I have which is working in Chrome and Firefox. The one without the acquireTokenSilent and just the acquireTokenPopup. It's not working in Edge or Explorer.

In Explorer I get the log in popup but it doesn't close after signing in and it never resolves or rejects.

And

[2018-07-24 07:42] iaakash19 commented on #351
Thanks Neha!! i will get the id_token and then use the acquireToken fns to get the desired access_token. Will update.

[2018-07-24 20:59] nehaagrawal commented on #300
@Chandu12x  @SandyVeliz  Can you please mention MSAL.js version?

[2018-07-25 08:40] volosovich commented on #174
I agree with @dfederm it's extremely inconventient.
**What problem do you fix with this design?**
All oAuth providers sent token to promise resolve and close popup. It's default behavior for all SPA's

[2018-07-25 18:41] SandyVeliz commented on #300
Hi @nehaagrawal ! I have two projects, one has version "msal": "^0.1.3", and the other has version msal":"^0.1.6", and in both projects I get the same error.
When i open the new tab i only using "window.open('app.link')"

[2018-07-26 00:06] nehaagrawal commented on #345
MSAL 0.1.7 is on CDN now. Please check.

https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.min.js
https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.js

[2018-07-26 00:06] #345 closed

[2018-07-26 00:07] #351 closed

[2018-07-26 00:07] nehaagrawal commented on #300
@SandyVeliz  This was fixed in MSAL 0.1.7 can you please check.

[2018-07-26 00:09] nehaagrawal commented on #349
@jhwoodward  can you please tell us what version of library you are using?

[2018-07-26 06:42] volosovich commented on #345
@nehaagrawal what about `@latest`, can you provide some solution for this case?

[2018-07-26 09:19] jhwoodward commented on #349
@nehaagrawal we are using msal v0.1.5 2018-03-26

[2018-07-26 12:32] SandyVeliz commented on #300
Hi @nehaagrawal ! i update msal and i dont get the error anymore but keep getting the same behavior, i cant login.
If i use "window.open('app.link')" to open the app after the redirection from b2c login, my app rediret to login and start the loop.
If i use "window.location.href('app.link')" after the redirection from b2c login, my app run normal.

[2018-07-27 10:02] eugeniymatkovskiy commented on #174
I encountered the problem to implement this library to my application because of inappropriate behaviour.
It's time consuming due to its inflexibility. I couldn't initialize the library after AJAX request - wtf???
This behaviour is inconsistence with usual flow (like in Google and Facebook), so I have to add some hacks to my application

[2018-07-30 07:07] jhossy commented on #340
Here is some additional information about the other .NET applications, which the user should is also able to signin through:

- Written in .NET 4.5.1 or later
- Utilizes the Microsoft.Owin and Microsoft.Owin.Security.OpenIdConnect NuGet packages

And here is the code from the Startup.Auth.cs:
[code]

[2018-07-30 11:11] iaakash commented on #351
hello @nehaagrawal, well i've tried the underlying api method but it returns the same token as i get from id_token in url. I need to send *token* in url so i can get *access_token* in return. can you suggest some alternate way?

[2018-07-30 14:43] willwull opened #357 "Redirect URI for Electron based app?"
Hi,

I'm currently developing a desktop application using Electron. However, since Electron (in a simplified sense) simply opens an HTML file using the `file://` protocol, I'm not sure what I should use as redirect URI in our Azure application.

Many OAuth tutorials online mention using `localhost`, but that's unsuitable for production IMO.

One approach I tried which almost works is adding native

[2018-07-30 22:56] nehaagrawal commented on #349
@jhwoodward  You didn't mention what api is throwing this error but I am assuming it's acquireTokenSilent(). The acquireTokenSilent uses a hidden iframe with prompt=none which means the user will not be prompted for credentials. This API relies on the session cookie established between the browser and AAD to obtain a new access_token. If your session is expired , this API call will fail and you wi

[2018-07-30 23:32] justinwilaby commented on #357
Take a look at [this pr for the Botframework Emulator](https://github.com/Microsoft/BotFramework-Emulator/pull/709)
The jist of it is that we had to run an http server in the main process to retrieve the `id_token`. If you need to, you can spin up your server when AAD auth is in play and tear it down when not needed.

[2018-07-30 23:38] justinwilaby commented on #357
I should add that the `[AzureAuthWorkflowService.ts](https://github.com/Microsoft/BotFramework-Emulator/pull/709/files#diff-045e2bff07614acfc0f4293237565250)` and `[registerRoutes.ts](https://github.com/Microsoft/BotFramework-Emulator/pull/709/files#diff-461caac44362e4ae664c5f3c490f091d)` are the meat of the solution.

[2018-07-31 08:40] willwull commented on #357
@justinwilaby Thanks for your answer. I looked at your linked code briefly, and I want to see if I understand your flow correctly:

* When a user is going to log in, `enterAuthWorkflow` is called from somewhere.
* This opens a new window with the MS sign in page.
* At this point, you have a server running on `localhost:5000`(Looked at [this](https://github.com/Microsoft/BotFramework-Emulator/blob/

[2018-07-31 08:52] jhwoodward commented on #349
@nehaagrawal The error is occurring immediately after they return from the Microsoft sign in page (we are using loginRedirect). acquireTokenSilent is called at this point, after we have the Msal user id. As they've just signed in, it doesn't seem right that the session should have expired.

[2018-07-31 16:54] justinwilaby commented on #357
@willwull  -

Yes that is correct. I did not use the msal library for 2 reasons:
1. I wanted to use a WebView and not an iframe
2. Taking on anther dependency for essentially building a url and registering callbacks seemed unnecessary in my case

In the case of the Botframework Emulator, we run an HTTP server as part of the [startup sequence](https://github.com/Microsoft/BotFramework-Emulator/blob

[2018-07-31 21:18] visualjeff opened #360 "Token Validation"
How much much validation takes place when MSAL retrieves an **id_token** for the first time?

I noticed that msal is not making any calls to the **discovery/v2.0/keys** endpoint for signing certificate (x5c).  Is this the expected behavior?

Thank you for your time.

Jeff

PS. The application I'm testing with is a SPA (implicit flow) and uses sample code provided by the project.  I'm also using th

[2018-08-01 06:11] Chandu12x opened #363 "MSAL JS unable to authenticate all gmail accounts"
I'm using MSAL JS in my angularjs application. I am able to authenticate outlook, hotmail accounts but not gmail accounts .Only few gmail users are able to authenticate using msal js but not all.

How to authenticate all gmail users using msal js

[2018-08-01 06:23] tipsanemonk opened #364 "Admin consent not working"
As per the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes) on permissions and consent, there should be an option to add `adminconsent`.

Since there was no direct way in the API, I tried providing with the `extraQueryParameters `to `loginRedirect(scopes?: Array<string>, extraQueryParameters?: string): void;`

And it doesn't really get the

[2018-08-01 11:36] jhossy opened #365 "Wiki page does not work"
Attempting to navigate to https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Single-sign-on

results in the following errormessage "You do not have permission to update this wiki."

[2018-08-01 14:08] chetanku commented on #174
@dfederm how did you fix this problem? new to this, why do we have to create UserAgentApplication again in the redirecte URI? how do we do it?

[2018-08-01 14:29] dfederm commented on #174
@chetanku my workaround was just to load the entire SPA in the redirect, and the SPA always creates a `UserAgentApplication` at app startup. It's pretty terrible and I only have to do this workaround for MSA log in support; Facebook and Google's libraries work perfectly.

[2018-08-01 14:33] chetanku commented on #174
@dfederm Thank you so much, this is very weird. Hope Microsoft fixes this soon.

[2018-08-01 17:19] yakimko opened #366 "Double slash in logout url"
Hi!
Sometimes the following line
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/UserAgentApplication.ts#L551

makes double slash in url
for example

https://login.microsoftonline.com/tfp/myapp.onmicrosoft.com/b2c_1_base//oauth2/v2.0/logout...

I suppose that sometimes this.authority has a slash sign at the end.

[2018-08-01 17:57] RobARichardson opened #367 "@azure/msal-angularjs: 404 not found during NPM Install"
I'm trying to install the AngularJS wrapper per the [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angularjs/README.md) but it doesn't appear to actually be available on NPM; getting a 404 Not Found.

[2018-08-01 19:41] alyssaw90 commented on #367
I am getting the same error when I try to install @azure/msal-angular.

[2018-08-01 20:02] ahenaol commented on #367
It could be because the MSAL version that uses the 3 libraries as separate packages is still in the dev branch.

[2018-08-01 20:25] RobARichardson commented on #367
@ahenaol Ooops, you're correct - didn't realize I was looking at the dev documentation. Closing this since it's not technically an issue. Thanks.

[2018-08-01 20:25] #367 closed

[2018-08-02 09:29] zuberspathan opened #369 "after an idle time of after getting access token (after an hour), app page is showing redirect URI message(reply URI mismatched)"
After an hour, aquiredToken ()is not getting reponse, and we are getting redirect URI mismatched error. Please refer the screen attached to the comment.

![image](https://user-images.githubusercontent.com/7569931/43575501-956dbe18-9664-11e8-8657-f3ccbf172bc4.png)

ref : https://social.msdn.microsoft.com/Forums/azure/en-US/db4b0704-af66-4283-8dbc-0a3307993e1c/microsoftauthenticationlibrary?forum=Wi

[2018-08-02 15:31] freeman-g opened #370 "MSAL is not cleaning up local storage"
We use MSAL to request and renew ID tokens and Access tokens.

Here's an example of how we use it:

[code]

Recently I have noticed that MSAL is leaving a bunch of data laying around in local storage. Over time this data continues to grow.

Here are a couple of screenshots:

![image](https://user-images.githubusercontent.com/495886/43593772-a2204888-9646-11e8-9e06-0b57ca22f684.png)

![image](https

[2018-08-02 16:46] wpearson4 opened #371 "Unable to find @azure/msal-angular in NPM registry"
When installing msal-angular with "npm install @azure/msal-angular --save", I am receiving a 404 Not Found: @azure/msal-angular@latest.  I have manually searched the npm registry and don't see the library

[2018-08-02 21:16] vladkosarev opened #373 "IE11/Edge do not work with MSAL"
I am aware of -
https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge#issues

Does that mean that MSAL (just like ADAL) does not support IE/Edge?

According to this doc -
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Explorer

we just need to make sure to enable polyfills and everything will work.
I was not a

[2018-08-02 22:49] nehaagrawal commented on #373
@vladkosarev  We are working on a fix to support to IE and Edge and it would be release in one of our future releases. Unfortunately it doesn't work currently.

[2018-08-02 22:53] nehaagrawal commented on #366
@yakimko  this.authority is pass by the user in the MSAl config. Are you passing the authority with a slash at the end?  If yes, can you remove it and try again? If you don't want to remove it, what is the error that you are getting?

[2018-08-02 22:54] vladkosarev commented on #373
@nehaagrawal any approximate ETA on the fix?

Thanks.

[2018-08-02 22:55] nehaagrawal commented on #370
@freeman-g  we recently fixed this issue in MSAL 0.1.9 reelase. Which version of library you are using? If you are on a older version, can you please update and try again? Please let me know if the issue still exists.

[2018-08-02 22:56] nehaagrawal commented on #363
@Chandu12x  Please give us more details. Is this a B2C scenario? What version of library you are using? what is the exact error that you are getting? Is there a repo that you can share with us where we can reproduce this issue?

[2018-08-02 22:59] nehaagrawal commented on #349
@jhwoodward  We have never seen this issue. Is it possible for you to share the code snippet that is causing this issue? If you can create a small repo on github and share with us where we can reproduce this, that would be ideal.

[2018-08-02 22:59] nehaagrawal commented on #373
duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/347

[2018-08-02 22:59] #373 closed

[2018-08-02 23:11] nehaagrawal commented on #339
@Ideline  IE/Edge support is an open issue curently. Glad to know that it worked on chrome and firefox. We already have an issue for IE/Edge for tracking purpose. I am closing this issue for now.

[2018-08-02 23:11] #339 closed

[2018-08-02 23:16] nehaagrawal commented on #369
@zuberspathan  Can you please confirm that you have added the reply url for your app in the registration portal? This error will only happen when reply url is not registered. I am not sure why it's taking an hour.

[2018-08-03 05:37] zuberspathan commented on #369
Thanks @nehaagrawal for replying,
Actually we are re-login with the Microsoft account with multiple pages, means its not Single Page Application, May be its because of remain idle for maximum time(1hr), that why its signing out. When we are debugging the code we noticed that we are not getting "access" token.

[2018-08-03 06:01] Chandu12x commented on #363
@nehaagrawal  We are using MSAL 0.1.7 in our application.
**Actual Issue:**  We are getting below error while trying to login to [https://getdevices.microsoft.com ](https://getdevices.microsoft.com )with gmail credentials.
"We couldn't find an account with that username. Try another, or get a new Microsoft account."
But few users are able login with gmail credentials without any issues.So, why onl

[2018-08-03 09:03] jhwoodward commented on #349
@nehaagrawal We can't reproduce it, that's the problem. Its only happening for <1% users

[2018-08-03 12:12] freeman-g commented on #370
Thanks - We are using 0.1.7. I'll upgrade and give 0.1.9 a try.

[2018-08-03 12:23] vladkosarev opened #374 "Create proper documentation on supported Browsers and Identity Providers"
MSAL readme says - 'This library is suitable for use in a production environment. ' and since b2c has been GA for a long time that comes with a set of assumptions that don't seem to be true at all.

Current documentation is very confusing. For example https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Explorer says 'This just works in production' wh

[2018-08-03 12:25] vladkosarev commented on #347
@nehaagrawal what is the timeline for the fix? Are there any other alternatives that do work with b2c and modern browsers?

Thanks.

[2018-08-03 13:41] yakimko commented on #366
@nehaagrawal I do not have a slash at end of my authority.

[2018-08-03 14:32] M-Medhat opened #375 "Running "npm install @azure/msal-angular --save" returns 404"
I was trying the Angular wrapper for MSAL. It seems the package is not published yet. Running:

[code]

returns a 404 error:

[code]

[2018-08-03 15:06] simonscoffins commented on #375
Also get this.

[2018-08-03 16:19] jay-pillai commented on #375
Same here. Is it not published to npmjs

[2018-08-03 17:56] nehaagrawal commented on #375
@M-Medhat  @simonscoffins @jay-pillai . This is currently under development and it's only merged to the dev branch and not master. We will be releasing it soon. Thank you for your patience!

[2018-08-03 17:57] nehaagrawal commented on #370
@freeman-g  Can you please update us here if the issue is resolved so that we can close this issue :-)

[2018-08-03 18:00] nehaagrawal commented on #366
@yakimko  Can you please confirm 2 things. Is it a B2C scenario? What is the error you are getting because of double slash?

[2018-08-03 18:03] nehaagrawal commented on #363
@Chandu12x  is this Microsoft internal? Can you please send me an email on my microsoft account?

[2018-08-03 22:05] nehaagrawal commented on #349
@jhwoodward  It looks like IE is dropping the cookie(x-ms-cpim-transdoes). Can you please confirm if it works locally in your dev env(localhost)?

[2018-08-04 03:48] visualjeff commented on #374
I don't work for Microsoft but I do work for a big retailer that is injecting B2C into their commerce platform and I will say the documentation for MSAL is little sparse.   But having said that B2C is much more that MSAL and our decision to step into implementing B2C didn't even factor in the MSAL library.

But you are correct.  The documentation for MSAL needs to be stepped up.  Working examples

[2018-08-04 03:59] visualjeff commented on #374
BTW, When you say Identity Providers... From my understanding...  With B2C the JWT token you receive back is always from AAD.   When you setup your B2C tenant and ask it to auth with Facebook you won't receive a Facebook JWT token.  Even though you see a Facebook authentication prompt.
The id_token returned is from AAD (not from Facebook) and it could include some additional information from Faceb

[2018-08-04 04:11] visualjeff commented on #374
I just read #177.   Interesting.   I'll have to test this when I get in the office.  Is there a B2C cors setting that needs to be set?

[2018-08-04 10:25] #370 closed

[2018-08-04 10:25] freeman-g commented on #370
Thanks for the help

[2018-08-04 12:01] jhwoodward commented on #349
@nehaagrawal we can't reproduce it = it works locally. Yes, that could be. Thanks for the suggestion.

[2018-08-05 11:48] yakimko opened #378 "Listen to logout event"
Hi!
I use localStorage as cacheLocation.
I have 2 pages opened and I logginned in on both.
When I log out on the first page, I would like to catch this event on my second page.
Now I see only one way to handle it: listen to localStorage
Do you know another proper way to handle it?

[2018-08-06 00:35] watabtme opened #379 "Integration with Azure App Service Authentication (Easy Auth)?"
Azure App Service Authentication requires calling an `/.auth/me` endpoint from the client-side in order to obtain an API access token. The documentation (https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad) says that this can be managed by the ADAL library, but obviously I would prefer to use MSAL since it's the new standard. I'm not seeing any functions in the pub

[2018-08-06 14:52] davidkempers commented on #340
This is what I'm after too.

There is a [comment ](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/227#issuecomment-359904693) by @rohitnarula7176 where he says there is the intention of this but not implemented yet.

@rohitnarula7176 any update on this? Will you accept a PR?

[2018-08-06 16:31] blacktea opened #380 "Auto-renew accesstoken?"
Does this lib automatically renew an accessToken?

[2018-08-06 17:53] navyasric commented on #363
@Chandu12x MSAL.js supports authentication with Azure AD organizational accounts, MSA (Microsoft personal accounts), Azure AD B2C which provides integration with Google accounts.
Are you seeing the above error in the MSAL.js logs or on the Identity provider's login page?
The error seems to indicate that this is an issue with your Azure AD B2C configuration.

[2018-08-06 18:33] nehaagrawal commented on #378
@yakimko  did you try calling getUser(). GetUser() should return null when you logout.

[2018-08-06 18:36] visualjeff commented on #379
The OpenID Connect UserInfo endpoint is not implemented on the v2.0 endpoint.

However, all user profile data that you potentially would receive at this endpoint is available from the Microsoft Graph /me endpoint.

[2018-08-06 18:36] yakimko commented on #378
@nehaagrawal I can call getUser() but when I should do it? I do not know that user is logged out on another page.

[2018-08-06 18:39] visualjeff commented on #380
acquireTokenSilent - Used to get the token from cache.  MSAL will return the cached token if it is not expired.  **Or it will send a request to the STS to obtain an access_token using a hidden iframe.**

[2018-08-06 19:15] nehaagrawal commented on #378
@yakimko  Can you please give more details about your use case? When you said 2 pages, are you talking about 2 instances of the same spa opened in different tabs and you logout from one instance and the other instance doesn't know that you logout?

[2018-08-06 19:17] yakimko commented on #378
@nehaagrawal

exactly

[2018-08-06 19:42] #375 closed

[2018-08-06 19:48] nehaagrawal commented on #365
@jhossy  This is a work in progress.  I have removed the page for now to avoid any confusion but I will put it back soon.   Do have any specific question on single sign on that I can answer here?

[2018-08-06 19:51] nehaagrawal commented on #369
@zuberspathan  are you getting the above error during login  or during acquiring access token/calling web api? Please give more details about your use case so that we can help you resolve your issue?

[2018-08-06 21:16] visualjeff commented on #379
I don't believe so.

The public API's don't give any indication of such support:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Public-APIs

I grep'd the source for **authorityInstance.AuthorizationEndpoint** and it didn't look as if it had such a feature or flexibility built-in.

[2018-08-07 07:24] nehaagrawal commented on #378
@yakimko  currently we don't have any such event for logout. If you refresh the page on the 2nd app, you should see that the user is logged out.

[2018-08-07 07:25] #380 closed

[2018-08-07 11:35] rendmath commented on #262
Is there currently any way to pass additional state when we trigger a loginRedirect ?

If not, what is the recommended approach to handle a return URL (since the Open ID redirect URI is fixed, we have to put that information *somewhere*) ?

[2018-08-07 14:10] volosovich commented on #174
wow, it's undocumented behavior.
I need to have  id_token in URL and after create UserAgentApplication I can get access token, save it and close modal.
I think, this information need to be added to MSAL wiki pages.

[2018-08-07 17:40] jhossy commented on #365
Ah, thanks for removing it then - that will avoid any future confusion.

Actually, I already posted this issue #340 , but since there was no feedback (maybe my question was unclear), I wanted to look closer at the documentation :)

Anyhow, I was wondering if msal.js supported SSO between a .NET MVC app that does NOT use MSAL and a SPA that uses MSAL.

[2018-08-07 18:47] blacktea commented on #380
It seems that it does not have auto-reneval logic when the browser window is open.
I assume it was out of scope

[2018-08-08 05:35] simonneedham commented on #262
I’ve been storing the ‘original uri that initiated the login request’ in session storage. When I get returned from B2C authentication, I’m logged in, everything’s been successful, I finally return to the url that initiated the request that has been saved in session storage.

[2018-08-08 06:11] Wigent opened #382 "404 Not Found: @azure/msal-angular@0.1.0"
Running `npm install @azure/msal-angular --save` triggers an error: ERR! 404 Not Found: @azure/msal-angular@0.1.0

I found that others have the same error but they're on the Dev branch. I just got mine from the Master branch. Any thoughts?

Thank you in advance.

[2018-08-08 06:16] #378 closed

[2018-08-08 06:24] yakimko opened #383 "Storing scope in Storage"
Hi!
Sometimes an accessTokenKey that stores stringified data
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/UserAgentApplication.ts#L1488
contains a scopes value like below.

`
{"authority":"....","clientId":"...","scopes":"https%3a%2f%2f{some_tenant}%2f{some_app}%2fuser.read","userIdentifier":"..."}
`

As you can see the url is encoded by encodeURICo

[2018-08-08 06:44] adamtay opened #384 "Social provider authentication for public device"
Hi,

We have a scenario where our application will be accessed from a public device (i.e. iPad).

We want to allow an end-user to sign up onto our application with either Facebook or Google.

However, by signing into one of these social providers, you are now authenticated directly with Facebook/Google which we cannot have on the public device.

Is there a mechanism to enforce authentication at th

[2018-08-08 08:44] penkin commented on #382
I'm having the same issue. There are no packages in NPM. Is there another way to install the package?

[2018-08-08 12:00] rendmath commented on #262
This method has a minor drawback though. If the login is initiated from 2 tabs, the last tab overwrites the redirect URL of the first one.

Also, couldn't it be an attack vector for a malicious script hijacking your redirection URL (i.e. launching an 1px <iframe> pointing to your site in a malicious web page, thereby forcing all your redirections to a URI of their choosing inside your website) ?

[2018-08-08 12:28] vladkosarev commented on #347
We converted our app to hellojs and that actually mostly works (other than popup+IE). So if you need to make sure that your app actually works with multiple browsers give hellojs a try. It's a but more verbose than MSAL but it's not too far off.

[2018-08-08 18:58] nehaagrawal commented on #382
@Wigent @penkin  Released.

[2018-08-08 19:00] nehaagrawal commented on #77
@hkusulja @Gimly @jraadt  We have released @azure/msal-angular for angular 4.3+ and @azure/msal-angularjs for angular 1.7 on NPMJS. I am closing this issue.

[2018-08-08 19:00] #77 closed

[2018-08-08 19:01] #382 closed

[2018-08-08 20:46] visualjeff commented on #374
Agreed.  Microsoft needs a working example and test suite for each Javascript UI framework.  I've been trying to integrate MSAL into ember.js.  I have had some success but its an up hill climb.

[2018-08-08 21:10] visualjeff commented on #360
Any updates on this question?

[2018-08-08 21:16] visualjeff commented on #384
Is your application an Azure AAD **B2C** app?

[2018-08-08 21:41] visualjeff commented on #384
The id_token returned after authentication dance is provided by **AAD** and not by Facebook or Google.  The B2C engine pulls attributes from the third party token for its own token which is ultimately returned back to the calling party.  So while you authenticated with Facebook or Google the id_token you have in response is not one issued by them.

I personally have not tested this use case.  Have

[2018-08-08 22:12] visualjeff commented on #384
Okay I managed to get more detail from the B2C folks I'm working with.  You are correct.

The only work arounds we could come up with are:
1. Inform the user via the B2C journey that they are logging in on a public device.  Facebook and Google we believe (at the authentication prompt) provide a checkbox that says something like "keep me logged in" and this might be the perfect opportunity for the

[2018-08-09 04:41] nehaagrawal commented on #383
@yakimko  We don't expect the users of the library to read the local storage entry for getting the cached token. Could you please tell us what is your use case?

[2018-08-09 04:42] nehaagrawal commented on #364
@tipsanemonk MSAL  currently don't support admin consent.

[2018-08-09 05:01] #383 closed

[2018-08-09 05:02] #366 closed

[2018-08-09 06:26] negberts commented on #77
@nehaagrawal where can we find @azure/msal-angular cause a google search only sends me to a github page of https://github.com/benbaran/msal-angular

[2018-08-09 09:55] qbodart commented on #262
Hi @AnnaShk , What is the status of your PR? The use case you described also apply to us and it seems to me it should be an expected behaviour.

Thanks!

[2018-08-09 10:34] negberts opened #385 "Make config adjustable after initialization"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.1.0

## Current behavior
The MSAL config is initialized directly with the module and clientId

[2018-08-09 12:29] matteobortolazzo commented on #349
Hi, I have the same error in Chrome and Firefox after loginRedirect() using acquireTokenSilent().

[2018-08-09 12:57] jhwoodward commented on #349
Hi @matteobortolazzo. Unfortunately there are a lot of causes for this error. In our case we are only seeing this for <1% of users in IE only on Windows 7.

[2018-08-09 13:48] matteobortolazzo commented on #349
Same code on another PC with the same Win10 and same Chrome work fine. Is it totally random?

[2018-08-09 13:58] jhwoodward commented on #349
It certainly feels like it ! We think the issue we have is to do with IE dropping a cookie, but MS don't know why, as the IE version is up to date.

[2018-08-09 18:29] navyasric commented on #364
@tipsanemonk As mentioned in above comment, MSAL doesn't support a way to invoke the admin consent flow. As explained in [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#using-the-admin-consent-endpoint) your application can provide a link or interface to redirect the user to the admin consent endpoint. Here is a [sample](https://github.com

[2018-08-09 18:55] sharppc opened #386 "MsalModule.forRoot throws AoT error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The MsalModule.forRoot function throws an AoT error when compiling with v6.1.
It may have to do with the use of the window

[2018-08-09 19:18] #364 closed

[2018-08-09 20:26] nehaagrawal commented on #385
@negberts  I just wanted to clarify that the only mandatory parameter that you need to pass at the time of initialization is clientId. You can pass the consentScope directly to login api . I agree that there is no way you can set the protectedResourceMap later.

[2018-08-09 21:14] prashanthmadi opened #387 "Reactjs sample"
Trying to use this in my react app. Is there any sample or documentation on how to use this in my react app ?

[2018-08-09 22:15] visualjeff commented on #387
Here are a few links...  Hope it helps.

https://www.azurefromthetrenches.com/category/react/
https://github.com/sunilbandla/react-msal-sample
https://github.com/syncweek-react-aad/react-aad/tree/master/sample

[2018-08-10 03:50] garbledTech opened #388 "CORS issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version  68.0.3440.106 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
-

[2018-08-10 04:25] nehaagrawal commented on #388
@garbledTech Your authority url seems incorrect.

authority: A URL indicating a directory that MSAL can request tokens from. In Azure AD, it is of the form https://<instance>/<tenant>>, where <instance> is the directory host (e.g. https://login.microsoftonline.com) and <tenant> is an identifier within the directory itself (e.g. a domain associated to the tenant, such as contoso.onmicrosoft.com, or

[2018-08-10 05:53] negberts commented on #385
@nehaagrawal correct! But if I want to use the authentication guard, I will not call the login method directly… So consentscopes would be nice to expose as well :-) And I was talking about the clientId of the API thats is being called, not the clientId of the application.

[2018-08-10 05:53] nehaagrawal commented on #360
@visualjeff  MSAL doesn't make any calls to discovery/v2.0/keys endpoint for signing certificate (x5c).  This is expected behavior. Can you please give more context why do you nee this?

[2018-08-10 20:58] garbledTech commented on #388
Ah thats embarrassing. Thanks for the help.

[2018-08-10 20:58] #388 closed

[2018-08-10 22:09] nehaagrawal commented on #387
@prashanthmadi Currently there is no official documentation from MSAL for react application. But as @visualjeff pointed out there are few samples available on internet. We will try to provide a react sample with some documentation in future. Please close this issue if it resolved your issue.

[2018-08-12 02:38] prashanthmadi commented on #387
thanks @nehaagrawal .. looking forward for official doc on it :)

[2018-08-12 02:38] #387 closed

[2018-08-13 04:15] oliverjanik opened #389 "On behalf of workflow using Token from another app on the same tenant"
AADSTS70002: Error validating credentials. AADSTS50013: Assertion audience does not match the Client app presenting the assertion. The audience in the assertion was 'abc' and the expected audience is 'def' or one of the Application Uris of this application with App ID 'def'.

Is this not a supported scenario?

I'm trying to implement a SSO where my API would accept a user accessToken from another

[2018-08-13 13:15] nehaagrawal commented on #386
@sharppc  Thanks for reporting this. I will be doing another release in this week.

[2018-08-13 16:45] RobARichardson commented on #386
Having the same issue. If I remove the MsalModule from my app, the AOT compilation error goes away.

[2018-08-13 17:41] RobARichardson opened #390 "TypeScript Typings for msal-angularjs wrapper"
## I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:

## Library version
@azure/msal-angularjs: 0.1.0

## Current behavior
No TypeScript Typings available for msal-angularjs

## Expected behavior
If you're using AngularJS +

[2018-08-13 23:39] billytrend opened #3264 "Seeing collectInfoFromReq error after app is up for a period of time"
We have a node application running with 3 instances and using express-session to persist sessions. Everything works fine until a period of time has elapsed, around a week. After that time, no one is able to authenticate and we see `authentication failed due to: In collectInfoFromReq: invalid state received in the request` in the logs.

When we bounce the service, everything works fine. I have trie

[2018-08-14 05:25] nehaagrawal commented on #389
@navyasric  can you help?

[2018-08-14 05:49] tipsanemonk opened #392 "MSAL for Angular not updated with RXJS changes"
## RxJS is updated and the code needs to be updated
<pre>
<code>
ERROR in ./node_modules/@azure/msal-angular/dist/broadcast.service.js
Module not found: Error: Can't resolve 'rxjs/BehaviorSubject' in 'D:\Projects\Poseidon-Next User Experience\Work\UX.Entitlements\Applications\scope-management\node_modules\@azure\msal-angular\dist'
ERROR in ./node_modules/@azure/msal-angular/dist/msal.interceptor.j

[2018-08-14 06:30] RobARichardson commented on #392
@tipsanemonk I had the same issue - was able to get around it for now by adding [rxjs-compat](https://github.com/ReactiveX/rxjs/tree/master/compat) to my application.

[2018-08-14 06:59] tipsanemonk commented on #392
@RobARichardson Yes, in fact, I did the same to get my app running but I believe, this should come with the library dependency at least.

[2018-08-14 07:25] oliverjanik commented on #389
OK, so I believe I got this working by creating a scope for my WebAPI and then requesting token for that scope before it's passed to UserAssertion

[2018-08-14 07:25] #389 closed

[2018-08-14 07:34] srivathsanvlb opened #393 "Azure AD B2C Msal.js acquireTokenSilent Performance issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 68.0.3440.106
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2018-08-14 09:58] tipsanemonk opened #394 "Subscriptions via broadcastService not working for Angular wrapper"
There seems to be a problem with the loginRedirect option. The public APIs, as available in the MsalService has been utilized to login and getUser. The login reidrect works fine and gets back to the application with the token. But afterwards if we want to invoke getUser, it gives null and no boradcast subscriptions work as expected. Also, the MsalInterceptor gives error saying, <code>core.js:1671

[2018-08-14 14:54] jrebagliatti commented on #352
I think I have a similar issue. I got:
[code]
When I'm trying to authenticate a Google user. Seems that the issue is being thrown during ``acquireTokenSilent`` operation.

I configured my Azure B2C with both Multi-Tenant AD and Google, with AD authentication works fine.

[2018-08-14 18:53] visualjeff commented on #360
From the openId spec:   http://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation

If the ID Token is received via direct communication between the Client and the Token Endpoint (which it is in this flow), the TLS server validation **MAY** be used to validate the issuer in place of checking the token signature. The Client **MUST** validate the signature of all other ID Tokens accordin

[2018-08-14 21:30] navyasric commented on #379
@watabtme I am not sure I understand your scenario. MSAL.js provides authentication with AAD and gets the user info from the id token claims. It does not make the API calls for you. Using the tokens it gets your app can call APIs. In your case, if you have already authenticated in your app using Easy Auth redirecting to AAD, why do you still need MSAL? Is there a reason your app cannot call the /.

[2018-08-14 21:41] watabtme commented on #379
@navyasric there is still a need for something like MSAL because Azure Easy Auth only provides the initial login logic. Once the client-side code calls /.auth/me, the application is now responsible for actually maintaining the auth state, refreshing the token when necessary, monitoring validity of the token, etc etc. In other words, all the things that MSAL provides (other than the very first logi

[2018-08-14 22:40] nehaagrawal commented on #262
@AnnaShk  @rendmath  @qbodart  @simonneedham @SujitGodavarti  This is fixed and released in msal-core 0.2.1. I am closing this issue.

[2018-08-14 22:40] #262 closed

[2018-08-15 00:03] nehaagrawal commented on #386
@RobARichardson @sharppc  This is fixed and released in @azure/msal-angular 0.1.1 . Please check.

[2018-08-15 00:03] #386 closed

[2018-08-15 05:14] srivathsanvlb commented on #393
Hi @nehaagrawal

1. I researched a  bit and found that <script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.min.js"></script> is the latest version I am able to get via CDN. Even though Release notes says that the latest version is 0.2.1, I am not able to get it via CDN. Correct if I am wrong.

2. I am NOT able to see any considerable performance improvement after upgrade fro

[2018-08-15 16:36] LeidyOcampo commented on #365
Hello @jhossy

I have exactly the same problem you raise.

Have you already got any answer or solution about it that you can share with me?

Thank you

[2018-08-15 17:50] nehaagrawal commented on #394
@tipsanemonk  I am not able to reproduce this issue. I am getting subscription  callback for loginRedirect use case. You can try our dev sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples/MSALAngularDemoApp). Is it possible for you to share a repo where I can reproduce this? I have a feeling that you are missing the unsubscribe event

[2018-08-15 18:09] nehaagrawal commented on #393
@srivathsanvlb  I will release the latest msal version to CDN in this week. MSAl reloading the app during acquireTokenSilent is a known issue and it's a miss on our side that this is not documented properly. Please see this [FAQ](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs) from ADAL. This is also relevant to MSAL.  Basically you need to have if-else block to check if

[2018-08-15 23:26] RobARichardson commented on #386
Thanks, @nehaagrawal. Compilation error is gone, but I'm now seeing this warning in its place
[code]
Furthermore, while I'm not 100% certain this is related, when my app is compiled for production, Msal no longer appears to be adding the Authorization Token to the Http Request Headers therefore all XHR requests are getting a 401 Unauthorized.

[2018-08-16 00:00] srivathsanvlb commented on #393
Hi @nehaagrawal

Just wanted to clarify what I am doing is right.

1. Mine is a SPA with only one html ie index.html.
2. In that I have
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.1.7/js/msal.min.js"></script>
    <script type="module" src="Scripts/authenticate.js">
3. The authenticate.js, has the js class that does the authentication work. In its constructor I have

constru

[2018-08-16 00:19] RobARichardson opened #398 "@azure/msal-angular: peerDependencies operators don't imply support for Angular versions 6?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version
@azure/msal-angular 0.1.1

## Current behavior
#### Documentation for Msal-Angular says:
"...The MSAL library preview for Ang

[2018-08-16 08:42] tipsanemonk commented on #394
@nehaagrawal It seems the service only works with top-level routing components. In my case, I injected the service in a child route component and it wasn't working, but when I moved it to the app component, it worked fine.

The initial login was a different child route and the redirected landing page is the different route which is again a child route.

Unfortunately, the repository I'm working on

[2018-08-16 14:06] KurtPattyn opened #3265 "SAML & WS-Fed Support"
Why was the SAML and WS-Fed support removed from version 3.x? Is there a specific reason for this?
According to the README.md "It includes OpenID Connect, **WS-Federation**, and **SAML-P** authentication and authorization."

[2018-08-16 17:32] visualjeff commented on #360
So is the tokenReceivedCallBack a clients opportunity to perform additional token validation?
[code]
Is that the intended use for this callback?

[2018-08-16 17:42] jhossy commented on #365
@LeidyOcampo I did not get an answer, sorry

[2018-08-16 18:04] nehaagrawal commented on #386
@RobARichardson  This is working fine. Can you please try our sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples/MSALAngularDemoApp) and run "ng build --prod --aot". I was able to the token and it was added in the header.

[2018-08-16 20:50] nehaagrawal commented on #398
@RobARichardson  There is no 'ng upgrade' command. I think you meant 'ng update'? Can you please tell me what was your local angular version when you ran the 'ng update'?

[2018-08-16 20:56] #394 closed

[2018-08-16 21:10] nehaagrawal commented on #392
@tipsanemonk  Can you please confirm your application's angular version?

[2018-08-16 21:11] RobARichardson commented on #398
@nehaagrawal yes, I meant 'ng update'.  I've edited my original post to correct the typo.

I'm using Angular 6.1.3

[2018-08-16 21:36] nehaagrawal commented on #398
@RobARichardson  I am going to release another version with a dependency/peer-dependency on angular 5.0. However you can  use the current msal-angular version with angular 5.0.  It works. Please check our dev samples. We are using angular 5 there. I am going to update the documentation that we currently support only 4.3.* to 5.*.*.

[2018-08-16 21:42] RobARichardson commented on #398
@nehaagrawal okay.  Yeah, I noticed that the sample isn't up to Angular 6 yet.  Any ideas on when support for 6 will happen and what is preventing it?  We would really like to use msal-angular but can't downgrade to Angular 5.

[2018-08-16 23:13] RobARichardson commented on #386
@nehaagrawal I pulled down the sample and tried it.  When I run the app using "ng serve", everything works normally.  However, when I run the app using "ng serve --prod --aot", I'm seeing the same behavior as my own app: the requests to graph.microsoft.com/v1.0/me are missing the Authorization header and fail due to a 401 Unauthorized.

[2018-08-16 23:30] nehaagrawal commented on #386
@RobARichardson  Sorry I didn't get earlier that you were running "ng serve --prod --aot" instead of "ng serve". I was trying to build it using aot using "ng build --prod --aot" and then run it using "ng serve" and hence I couldn't reproduce it. I can reproduce it now. I will fix it and release it soon. Thanks for reporting this.

[2018-08-17 00:25] nehaagrawal commented on #386
@RobARichardson  I was able to debug this issue. We are using inheritance in our angular wrapper. We basically extend the msal-core classes and we are using "Super" keyword. This is not well received by AOT and hence the issue. If I remove super, it works fine. I will release this fix soon.

[2018-08-17 04:10] nehaagrawal commented on #398
@RobARichardson  On another thread I saw that you had some success by using rxjs-compat for rxjs breaking changes. Didn't that work?

[2018-08-17 05:01] RobARichardson commented on #398
@nehaagrawal yeah, using rxjs-compat worked great, but then I ran into the issues related to #386.  Barring any other issues, I'll still try to use msal-angular in my Angular 6 project even though the library doesn't officially support it yet.

[2018-08-17 12:17] yakimko opened #399 "Token timeout"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-08-17 17:06] nehaagrawal commented on #399
@yakimko  You need to create a policy. Please check this document. https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

[2018-08-17 17:14] yakimko commented on #399
@nehaagrawal thanks!

[2018-08-17 17:14] #399 closed

[2018-08-17 20:05] dsm0880 opened #400 "Access SharePoint Online "_api/web/..." api using the MSAL library"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2018-08-18 00:56] nehaagrawal commented on #347
@vladkosarev @jburman @sayanghosh123 @adamtay  This is fixed and released in MSAL 0.2.2 . Please check release notes for more details.

[2018-08-18 00:58] nehaagrawal commented on #330
@smehra711 @jkga  This is fixed and released in MSAL 0.2.2. Please check release notes for more details.

[2018-08-18 00:59] nehaagrawal commented on #265
@adrianabreu @jamiefraser   This is fixed and released in MSAL 0.2.2. Please check release notes for more details.

[2018-08-18 00:59] nehaagrawal commented on #247
@Chandu12x  This is fixed and released in MSAL 0.2.2. Please check release notes for more details.

[2018-08-18 01:00] nehaagrawal commented on #221
@allinagaraju @chesterhartin  This is fixed and released in MSAL 0.2.2. Please check release notes for more details.

[2018-08-18 01:16] nehaagrawal commented on #374
@visualjeff vladkosarev we have released the fix for IE and edge browser in MSAL 0.2.2. Please check the release notes for more details.

[2018-08-18 16:33] idrislab commented on #246
@nehaagrawal any update on this issue?

[2018-08-19 19:11] jrmcdona opened #404 "Support for the response_type=none workflow"
Hello,

I need to generate two different tokens because I am connecting to two different services.  Each serviceh has its own scope.

The worfkflow would look like this:

1.	response_type=**none**&scope=scope1+scope2
2.	response_type=**token**&scope=scope1&prompt=**none**
3.	response_type=**token**&scope=scope2&prompt=**none**

The latter two could be done in an iframe perhaps

Do you have any kin

[2018-08-20 11:17] lutzleonhardt commented on #366
The problem is the following line:
`var urlNavigate = this.authority + "/oauth2/v2.0/logout?" + logout;`

in this block:

[code]

`this.authority` is a property:

[code]

the getter calls `this.authorityInstance.CanonicalAuthority`

which is a property as well:

[code]

the setter uses `CanonicalizeUri()`:

[code]

which adds a slash to end.

see:
![image](https://user-images.githubusercontent.com

[2018-08-20 16:46] navyasric commented on #404
@jrmcdona The library does not support response_type=none. You can get the consent for scopes for two different services by passing the scopes in the loginRedirect or loginPopup method.
When you want to get the tokens, you can call acquireTokenSilent method to get the token with prompt=none.

[2018-08-20 17:29] nehaagrawal commented on #373
@vladkosarev  This is fixed and released in msal 0.2.2. Please check the release notes for more details.

[2018-08-20 18:53] yakimko opened #405 "Log in a user when open a new tab with the same application."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.2.1

</code></pre>

Hi! I develop angular 6 app using B2C auth. I use **sessionStorage** to

[2018-08-20 21:04] bh3605 commented on #326
As of today, I noticed setting isAngular to true is only applicable to when you aren't using loginRedirect() and instead calling loginPopup(). It broadcasts whenever the hash changes and the pop up closes

[2018-08-21 05:47] navyasric commented on #405
@yakimko SessionStorage cannot be shared between tabs. You will need to use localStorage for this. Is there a reason you cannot or don't want to use the localStorage?

[2018-08-21 06:03] yakimko commented on #405
@navyasric
I have a few opened tabs with logged in user.
When I close the last tab with opened application I need to be logout from the app(just clean storage. when I use sessionStorage it cleans automatically).

When I use localStorage I can share a session between tabs but I can't logout a user from the app when the user close the last tab, because I do not know is he close the tab or just refre

[2018-08-21 23:04] visualjeff commented on #360
Bummer.  I believe CORS restrictions (on the discovery/v2.0/keys endpoint) block the ability to validate an id_token for spa.

[2018-08-22 17:29] visualjeff commented on #405
A possible alternative to using localStorage events for cross-tab communication might be to use the **Broadcast Channel API**.   At one time not all browsers provided support for it.  But that was a while ago.

[2018-08-23 20:43] yakimko opened #406 "Empty user state in tokenCallback"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-08-24 20:56] andersonferrari opened #407 "MSAL Angular Wrapper is not passing protectedResourceMap when building --prod (with AOT)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
or [ x ] Documentation issue or request
[ ] Other... Please describe:
*** it can be a bug or something missing in the documentation
</code></pre>

## All Browsers:

## Library version

Library version: 0.2.2

## Current be

[2018-08-27 02:34] nehaagrawal commented on #407
@andersonferrari  This is a know issue and we already have a fix for this and needs to be released. Map is not supported by AOT and hence the issue. I will update you here once I release this fix.

[2018-08-27 13:20] andersonferrari commented on #407
Good to know about that! We will be waiting for this fix!
Thank you very much!!!

[2018-08-27 17:03] nehaagrawal commented on #406
@yakimko We are passing the state here https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9c11975e8dccb34a022ffbc0334f1fb8844930fa/lib/msal-core/src/UserAgentApplication.ts#L321

I am able to get back the user state. Can you please tell us what is your config setting during initialization of MSAL.

[2018-08-27 18:08] yakimko commented on #406
@nehaagrawal
[code]

[2018-08-27 19:38] nehaagrawal commented on #407
@andersonferrari  Once we release the fix, you will need to pass the map as an array.

[2018-08-27 19:44] nehaagrawal commented on #406
@yakimko It seems it's happening if navigateToLoginRequestUrl: false. I will fix and release this soon.

[2018-08-28 10:19] yakimko commented on #406
@nehaagrawal awesome. thanks!

[2018-08-28 17:07] ssack opened #408 "error TS2717: Subsequent property declarations must have the same type"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [X] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-08-28 17:40] nehaagrawal commented on #408
@ssack  Can you please confirm that your application doesn't have a direct dependency on msal? If you are using msal-angular, msal would be bundled along with it.

[2018-08-28 18:07] nehaagrawal commented on #398
@RobARichardson  I have a fix for issue #386. I am ill releasing it in this week.  You can still use msal-angular with angular 5. We don't have support for angular 6 yet but that's in our backlog and we will work on it in future.

[2018-08-28 18:44] chetanku opened #409 "How do I renew idToken and accessToken after one hour so the user doesn't have to login all the time?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-08-28 23:12] navyasric commented on #400
@dsm0880 Can you provide some more details about which Sharepoint API you are trying to call?
What is the exact error message you got? MSAL should be able to get tokens for any of the Microsoft APIs.

[2018-08-29 00:04] #404 closed

[2018-08-29 01:03] dsm0880 commented on #400
Well it's more of the setup that I ran into a dead end. According to the documentation you must register your app with the new registration portal to use V2.0 endpoint. When you go through that portal setup you can only add Microsoft Graph permissions. Granted you can access a ton of resources with this api you cannot do everything, especially in SharePoint. When calling SharePoint APIs outside of

[2018-08-29 03:47] nehaagrawal commented on #408
@ssack  I was able to reproduce this if I have both msal 0.1.3(very old) and @azure/msal-angular 0.1.1 as a dependency in my package.json. As I mentioned earlier, msal-angular has a dependency on msal and it will download it for you. Users of msal-angular don't need to install msal separately. I am closing this issue for now. Please reopen if the issue still exists.

[2018-08-29 03:47] #408 closed

[2018-08-29 05:27] nehaagrawal commented on #405
@yakimko MSAL currently doesn't provide any API to support this feature. I am closing this for now.

[2018-08-29 05:27] #405 closed

[2018-08-29 05:45] aarohiarora opened #412 "Login popup doesn't work if storeAuthStateInCookie is set to true"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library vers

[2018-08-29 10:08] sunrawat opened #413 "MSAL.js does not work with IE11."
Even Updated version is not supported.

https://cloud.githubusercontent.com/assets/13203188/25239637/d1872fb4-25f0-11e7-9748-6fc91586d871.png

[2018-08-29 18:38] nehaagrawal commented on #413
@sunrawat  Please don't remove our template while creating an issue. This helps us get more details about the issue so that we can support you better.

[2018-08-29 20:38] nehaagrawal commented on #412
@aarohiarora  This is a known issue and we have a fix for this. I will be releasing it soon.

[2018-08-29 22:36] fabiodrg666 commented on #409
I am also having some trouble to understand the documentation (however, my biggest problem is how to implement this logically in a browser extension, because of redirect URI).

I think once you call login function, you can use `acquireTokenSilent()`. However, you should set a fallback, because, if the user account uses two step authentication, the user must enter the credentials again. Therefore,

[2018-08-30 08:41] sunrawat commented on #413
I am using loginRedirect and latest version of msal by installing
npm install msal for my angular 6 project.

[2018-08-30 12:04] BenBullock1992 opened #414 "MSAL for Angular not working in IE 11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ x] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-08-30 12:50] neural22 commented on #174
This behaviour is absolutely incomprehensible, by definition the authentication process is completed when the token is returned by the service, so why should we need to instantiate an other UserAgentApplication just to avoid cancel operation error closing the popup? It does not make sense at all...

[2018-08-30 13:32] yanamandrac commented on #409
@fabiodrg666  Thanks for your reply.  My question is more related to getUser(), the user object I get in response by calling getUser() is not updated when we get a new token with acquireTokenSilent(). So, is it a good practice to use getUser() to check if the user is still authenticated or not? or is there any other recommended way?

[2018-08-30 13:34] chetanku commented on #409
@fabiodrg666 Thanks for your reply. My question is more related to getUser(), the user object I get in response by calling getUser() is not updated when we get a new token with acquireTokenSilent(). So, is it a good practice to use getUser() to check if the user is still authenticated or not? or is there any other recommended way?

[2018-08-30 14:17] fabiodrg666 commented on #409
From my understanding, you can't rely on getUser(). When the access_token expires, the getUser() will return the basic user information, the id_token, etc, anyway. **It won't return null, unless the data on storage is deleted.**

As I said previously, when you call acquireTokenSilent(), you get the stored/cached access_token if still valid (thus, the return from getUser() should be the same), othe

[2018-08-30 19:38] nehaagrawal commented on #414
@BenBullock1992  IE support was only added for MSAL.js and not for angular wrappers. It's a known issue and we are working on the fix. We will release it soon.

[2018-08-30 20:27] chriskuech opened #415 "`aadApp.acquireTokenSilent(...)` sometimes fails due to lack of MFA request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [X] Firefox version 61
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-08-30 21:19] chriskuech opened #416 "No way to persist UserAgentApplication"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.2.0

</code></pre>

## Current behavior

MSAL [documentation](https://htmlpreview.github.io/?

[2018-08-31 08:38] BenBullock1992 commented on #414
@nehaagrawal - Thank you for letting me know. Do you have an ETA and/or possible workaround?

[2018-08-31 18:36] navyasric commented on #415
@chriskuech The above error happens when a [conditional access claims challenge](https://docs.microsoft.com/en-us/azure/active-directory/develop/conditional-access-dev-guide#scenario-single-page-app-spa-using-adaljs) such as MFA policy is required.
The pattern to handle this error is to make an interactive acquireToken call in MSAL.js such as acquireTokenPopup or acquireTokenRedirect.
We are worki

[2018-08-31 18:38] nehaagrawal commented on #416
@chriskuech  This error must be coming from AcquireTokenSilent. Please call acquireTokenRedirect/AcquireTokenPopup in the error block of AcquireTokenSilent. Something like this.

[code]

[2018-08-31 18:41] nehaagrawal commented on #415
@chriskuech This error must be coming from AcquireTokenSilent. Please call acquireTokenRedirect/AcquireTokenPopup in the error block of AcquireTokenSilent. Something like this.

this.acquireTokenSilent(applicationConfig.graphScopes).then(function (accessToken) {
    // Change button to Sign Out
    updateUI();
}, function (error) {
    console.log(error);
    this.acquireTokenPopup(applicationConf

[2018-08-31 20:10] nehaagrawal commented on #414
@BenBullock1992  I can try working on it on this long weekend and will keep you updated,

[2018-08-31 20:12] nehaagrawal commented on #340
@davidkempers We have implemented SSO in MSA.js and PR is out. We are hoping to release it by next week.

[2018-08-31 20:36] nehaagrawal commented on #365
@jhossy  @LeidyOcampo  We already have a PR for SSO  and we are hoping to release it in a couple of weeks. Closing this issue in favour of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/340.

[2018-08-31 20:36] #365 closed

[2018-08-31 21:13] chriskuech commented on #415
thanks this worked

[2018-08-31 21:13] #415 closed

[2018-09-01 10:34] BenBullock1992 commented on #414
Thanks @nehaagrawal! If I can help in any way, please let me know 😀👍

[2018-09-02 00:23] #360 closed, assigned to nehaagrawal

[2018-09-03 12:05] BenBullock1992 commented on #414
@nehaagrawal, did you make any progress on this?

[2018-09-04 22:37] OttoChamo opened #3260 "Strategy.prototype.jwtVerify: cannot verify token. When using AzureAD v2.0"
We are migrating our application from the AzureAD v1.0 endpoint to AzureAD v2.0, but after doing the proper changes I receive that response which you see in the title.

This is my configuration:

identityMetadata: OAUTH2_CONFIG.identityMetadata,
clientID: OAUTH2_CONFIG.clientID,
audience: OAUTH2_CONFIG.clientID,
validateIssuer: OAUTH2_CONFIG.validateIssuer, //true
passReqToCallback: OAUTH2_CONFIG.

[2018-09-05 07:30] anth-git opened #421 "[MSAL for Angular] Support for Angular 6/7/8"
## I'm submitting a...
<pre><code>
[x] Feature request
</code></pre>
## Current behavior
No support for Angular 6
## Expected behavior
Support for Angular 6 ;)
</code></pre>

In #398 you stated that

I would like to ask if you have any rough estimate when can we expect it?
Is it a matter of weeks or months?

[2018-09-05 08:38] Ideline commented on #416
Would also like to request this.
Is there a workaround for now?

[2018-09-05 12:57] danielzach commented on #208
What about prompt=consent? How to display a consent dialog so that user can accept all the permissions for the app? Without it I'm getting an error when calling Graph API. As a temperatury workaroud I used 'Grant permissions' button im the Azure Portal.

[2018-09-05 16:07] BenBullock1992 commented on #421
@anth-git - While we wait for Angular 6 support, if it helps, I managed to get this working by simply installed the rxjs-compat npm module. This resolved all the RxJS peer issues I was experiencing.

[2018-09-06 09:06] anth-git commented on #421
@BenBullock1992 Thanks a lot, it indeed works now, although I still have peer dependency warnings:

`warning " > @azure/msal-angular@0.1.1" has incorrect peer dependency "@angular/common@^4.3.0".
warning " > @azure/msal-angular@0.1.1" has incorrect peer dependency "@angular/core@^4.3.0".
warning " > @azure/msal-angular@0.1.1" has incorrect peer dependency "rxjs@^5.0.1".`

[2018-09-06 10:56] BenBullock1992 commented on #421
@anth-git - Awesome, good to hear! And yeah, I get the warnings too. I suspect when Microsoft support MSAL for Angular 6 these warnings will go away.

[2018-09-06 16:04] andystroz commented on #400
I am also interested in accessing the SharePoint API's using MSAL.js. Is there an example of showing how you can use a JWT bearer token obtained from the V2 endpoint to access the Sharepoint Online REST API. Currently I am struggling with what permissions to add to the Microsoft APP registration portal.

[2018-09-06 17:09] nehaagrawal commented on #398
closing this issue in favor of  https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/421. Please track there for future updates.

[2018-09-06 17:09] #398 closed

[2018-09-06 17:11] nehaagrawal commented on #421
@anth-git @BenBullock1992  We are planning to give support for angular 6 in future. As @BenBullock1992  suggested you should be able to make it work by using rxjs-compat for now. I will update this ticket once we release support for angular 6.

[2018-09-06 18:27] JBrownie77 commented on #232
Hi, I am running into the same issue. In my auth guard I call acquireTokenSilent to ensure that the token is available, but upon the redirect back to my app the guard is triggered before tokenRecievedCallback, so acquireTokenSilent says the user isn't logged in even though they just logged in. Upon refresh the token is available.

Is there a proper way to do this using an auth guard and waiting fo

[2018-09-06 22:05] JBrownie77 opened #424 "acquireTokenSilent fails the first time after B2C login redirects to back to app"
## I'm submitting a...
- [x] Bug report

## Browser:
- [x] Chrome version 68.0.3440.106

## Library version
0.1.9

## Current behavior
This is with an Angular client and ASP .NET backend.
1) User is not logged in
2) Angular auth guard (CanActivate) calls UserAgentApplication.acquireTokenSilent( ), which fails because the user is not logged in
3) User is redirected to app signin page
4) User clicks

[2018-09-07 18:45] lmenus commented on #127
Hey! Is there a way to do a silent logout?

[2018-09-07 19:06] anth-git commented on #421
@rsuk I have the same error, but strangely enough only after first API call. Subsequent calls are handled correctly

[2018-09-10 12:34] davidsk opened #427 "Inconsistent Information"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The readme.txt file in the msal-core/VanillaJSTestApp-b2c sample project says that "_Signing-in with an MSA or a Twitter account does not work y

[2018-09-10 15:00] davidsk opened #428 "Cannot sign in with MSA using msal.js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-09-10 18:31] visualjeff commented on #428
Did you forget to provide a **redirectUri** in your settings?

[2018-09-10 18:46] davidsk commented on #428
Do you mean in the code?  As I understand it, it's not required; if a redirectUri is not specified, it'll default to the current location.

[2018-09-10 18:56] visualjeff commented on #428
Yes.

If the default (current location) matches what you've registered in Azure then I guess your fine.

[2018-09-11 04:08] nehaagrawal commented on #407
Fixed and released in msal-angular 0.1.2. Please check the read me for how to use protectedResourceMap.

[2018-09-11 04:15] #407 closed

[2018-09-11 06:53] RobARichardson commented on #421
@rsuk @anth-git I'm having the exact same issue.

[2018-09-11 07:12] anth-git commented on #421
For now I resolved it by implementing my own interceptor based on MsalInterceptor

[2018-09-11 08:51] BenBullock1992 commented on #421
@anth-git - I'm not experiencing this at runtime but am getting the error when running tests. Can you post your interceptor code for reference please?

[2018-09-11 08:52] BenBullock1992 commented on #414
@nehaagrawal - any update on this please?

[2018-09-11 12:59] anth-git commented on #421
It's just copy-pasted MsalInterceptor, with replaced Observable.fromPromise to from

`import { HttpErrorResponse, HttpEvent, HttpHandler, HttpInterceptor, HttpRequest } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { BroadcastService, MsalService } from '@azure/msal-angular';
import { from } from 'rxjs';
import { Observable } from 'rxjs/Observable';

// TODO: Remo

[2018-09-11 15:09] bh3605 commented on #349
Let me get this straight, if the session has expired, calling acquireTokenSilent will not work because it relies on the session to not be expired?

[2018-09-11 16:09] bh3605 opened #430 "Feature Request: Provide ability to add to trusted host list"
## I'm submitting a...

<pre><code>
[x ] Feature request
</code></pre>

## Browser:
N/A

## Library version

<pre><code>
Library version: 0.2.2

## Current behavior
Providing any host not contained in the trusted host list throws UnsupportedAuthorityValidation error
AadAuthority.TrustedHostList = {
        "login.windows.net": "login.windows.net",
        "login.chinacloudapi.cn": "login.chinaclou

[2018-09-12 00:36] nehaagrawal commented on #275
@onovotny we just released msal 0.2.3 and it has support for SSO. SSO can be achieved by passing either login_hint or SID.
Can you please tell me if you were passing either login_hint or SID?

[2018-09-12 01:17] nehaagrawal commented on #428
@davidsk It seems there is some issue in your sample or app registration. I was able to login using MSA account(my personal live account) using this sample https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/na/quickstart/lib/msal-core/samples/quickStart  . Can you please try this sample and let me know if it works for you.

[2018-09-12 06:10] navyasric commented on #340
Please check the SSO wiki page now to see the pattern for this scenario:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso

[2018-09-12 06:11] navyasric commented on #365
Please check the SSO wiki page now:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso

[2018-09-12 07:28] davidsk commented on #428
The quickStart sample works even when I substitute in my app values.  However, it's not using a b2c policy.  If I pass null rather than the policy in my original code, then I am prompted to select an MSA account.

The issue seems to be with the policy itself, I'll raise an issue against b2c

[2018-09-12 07:28] #428 closed

[2018-09-13 03:57] nehaagrawal commented on #424
@JBrownie77  Are you using our angular wrapper(msal-angular)?

[2018-09-13 13:33] himadrinath commented on #387
@prashanthmadi any update on that react docs

[2018-09-13 17:38] JBrownie77 commented on #424
Thanks for the response @nehaagrawal. I started looking into the angular wrapper but got thrown off by the prerequiste. Does registering our app in the AAD 2.0 portal need to be correlated to our azure subscription in any way? My msdn account is a contributor on our azure subscription, but on the AAD 2.0 portal I don't want to create an app under my account. Could you explain this a little more? T

[2018-09-14 08:51] jplette opened #432 "Wrong installation instruction in readme for msal-angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-09-14 09:02] jplette opened #433 "Module can't be resolved"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-09-14 16:15] JBrownie77 commented on #424
Turns out there is a flag called navigateToLoginRequestUrl that defaults to true, so even if you specify the redirect callback for AAD, the MSAL library takes you back to the page that initiated login. Setting that to false fixed our issue because the app now redirects to the correct page after signin. Would be great to document that flag. It's taken a few days to get this figured out.

[2018-09-15 06:15] nehaagrawal commented on #432
fixed

[2018-09-15 06:15] #432 closed

[2018-09-15 06:41] nehaagrawal commented on #424
@JBrownie77  Glad that you are able to make it work. We will update our documentation to make it more clear. Closing this issue for now.

[2018-09-15 06:41] #424 closed

[2018-09-15 06:57] nehaagrawal commented on #433
@jplette I am not able to reproduce this issue. Our samples works just fine with @azure/msal-angular version 0.1.2. Could you please check how your app.module is different from our samples? I have a feeling that your code could be failing because of the breaking change for protectedResourceMap which was introduced in version 0.1.2 to fix the AOT issue. Since you are at Microsoft, let's connect ove

[2018-09-15 18:10] JohanOhlin opened #435 "Missing support for the new b2clogin.com domain"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 68.0.3440.106
- [X] Firefox version 62.0
- [ ] IE version (not tested)
- [X] Edge version 42.17134.1.0
- [ ] Sa

[2018-09-17 12:33] jplette commented on #433
Sorry about that. After all I uninstalled the old library and installed the new library again and now it works. Maybe my VSCode made some problems. Sorry making unnecessary trouble. Thank you

[2018-09-17 12:33] #433 closed

[2018-09-17 14:52] wpearson4 opened #436 "Error msal.Interceptor intercept"
## I'm submitting a...

<pre><code>
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-09-18 11:34] turpu-rakesh opened #437 "Getting consent_required error for other outlook accounts except my account."
Hello,

Thanks for providing this library 👍 and I'm using this library in my angular 4 web application and web API is .net core 2.0 . Registered my web app and web API in  [Application Registration Portal](https://apps.dev.microsoft.com) site with my outlook account and added both web app and web API platform within the same app and gave permissions to web API, user.read permissions for graph API.

[2018-09-18 11:42] ik1728 commented on #407
Hi,
Current version of MSAL-Angular is 0.1.2
Angular Version : 6.1.6

Acquiring of Access Token is working in DEV but Not in PROD.

[2018-09-18 11:50] ik1728 opened #438 "MSAL Angular Wrapper is not passing protectedResourceMap when building --prod"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
ALL Browser

## Library version
0.1.2

<pre><code>
Library version: 0.1.2
Angular Version : 6.1.6

## Current behavior
In Angular Pr

[2018-09-18 16:02] wpearson4 commented on #436
The issue was caused by updating rxjs to version 6.3.2.  Once I rolled back my rxjs version to a previous version the issue is resolved.

[2018-09-18 16:02] #436 closed

[2018-09-19 00:11] nehaagrawal commented on #438
This was fixed in 0.1.2. If you try our sample [here]( https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples) and run it with ng serve --prod --aot, it works fine,

[2018-09-19 02:10] nehaagrawal commented on #437
@turpu-rakesh  Please don't remove the template while creating a new issue. That gives us a lot of detail to resolve your issue faster. I am not sure what version of the library you are using.
1. Could you please tell us what scopes you requested that resulted in error?
2. When you said others are not able to login, do you mean MSA account?
3. Could you please tell me what authority you passed in

[2018-09-19 08:51] yakimko opened #440 "Support multiple policies"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-09-19 21:59] nehaagrawal commented on #438
@ik1728  Can you please try our sample and let me know if it works?

[2018-09-20 00:28] ik1728 commented on #438
Hi,

I have tried to download and run demo app but .
But in ng serve it gives me error msal not found in ../../msal.config.d

Can you please help me in this
So that I can try it.

Thanks
Imran

On Thu, Sep 20, 2018, 3:29 AM wenYorker <notifications@github.com> wrote:

[2018-09-20 11:04] turpu-rakesh commented on #437
@nehaagrawal Sorry, I thought MSA account is microsoft.com account but it is outlook.com/hotmail.com. Yes, others are not able to login with MSA accounts only through their v- able to access.

I did some analysis and found that if we enable below permissions to our app then we are able to access without any issue using any account. This permissions we have added using another app but using same Ap

[2018-09-20 18:09] nehaagrawal commented on #438
@ik1728  These are our dev samples so currently you need to clone our branch and build the project and then run the sample. We are working on providing samples where you don't need to build the project. Can you please try building the branch first?

[2018-09-20 21:05] mjrcmrma commented on #288
I still see this issue with msal-angular 1.0.2

[2018-09-21 00:04] RobARichardson commented on #421
Thanks, @anth-git. The interceptor works for me till this gets fixed.

[2018-09-23 19:28] abulsujon opened #445 "broadcast event loginsuccess sends inconsistent results (msal-angular)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-09-26 00:09] nehaagrawal commented on #438
@ik1728 This works fine. Do you work for Microsoft? I can help you there.

[2018-09-26 00:11] nehaagrawal commented on #445
Welcome to Github :-).  Please don't open issues without mentioning exact library versions. This helps us to support you better. I am unable to reproduce this issue. It's possible that you are using an old version.

[2018-09-26 22:37] nicokaiser commented on #321
This is getting even more an issue with WebKit's Intelligent Tracking Prevention 2.0 (Safari on macOS and iOS), where Third Party Cookies may get blocked without the user noticing.

Silent Authentication (i.e., token renewal without redirect) is not possible without Third Party Cookies. For Single Page Applications and short Access Tokens TTLs this is a problem.

I'm not sure if using the popup me

[2018-09-26 23:01] baltuonis commented on #321
Well to mitigate this problem we implemented Third Party Cookie check in our authentication service.
In case 3PC fails, in order to fetch an accessToken, we show the user a popup informing about the problem and invoking acquireSilentRedirect.

After that app works fine

However WebKit's Intelligent Tracking Prevention 2.0 sounds a bit scary

[2018-09-27 06:41] jbpoulsen opened #447 "Any hope for Electron?"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Current behavior

Calling the sample

[2018-09-28 15:48] JSteunou opened #448 "Expired token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 69
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-09-28 17:50] RobARichardson opened #449 "msal-angularjs: NPM version (0.1.1) not current with most recent version (0.1.2)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Other... Please describe:
</code></pre>

## Library version
msal-angularjs 0.1.2

## Current behavior

The current version of @azure/msal-angularjs available on NPM is 0.1.1 which doesn

[2018-09-28 18:02] kizerkizer opened #450 "Please clean-up and elaborate some of the documentation."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-09-30 02:40] navyasric commented on #450
Thank you for the feedback. We are working on improving the documentation.

[2018-10-01 07:56] JSteunou commented on #448
More intel

I do create a new graph API client each time I wan to make a graph API call to be sure I get a fresh token, without luck

[code]

[2018-10-01 12:46] JSteunou commented on #448
I also have this warning

[code]

(I replaced some data on purpose)

[2018-10-01 13:21] JSteunou commented on #448
If I deconstruct the token sent, I get the following

graph api request succeed

[code]

graph api request failed (401)

[code]

The one working have a lot more info, is v1, where the content of the token not working is clearly missing some data, has a `aud` with my *client_id* in it, and is v2.0

You can also notice an issue with the charset on my name ;)

[2018-10-01 21:32] ajtowf commented on #99
Doesn't work (yet) with ADFS 2019 either even if cors is supported, msal says: "ERROR Error: InvalidAuthorityType" when providing an adfs url instead of aad b2b. Just use ADAL.js for now with ADFS.

[2018-10-01 21:47] ajtowf commented on #99
Works like a charm using [oidc-client.js](https://github.com/IdentityModel/oidc-client-js) with ADFS 2019 with the dropped "resource" requirement and CORS support.

[2018-10-02 03:52] Sikta commented on #435
https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.clientapplicationbase.validateauthority?view=azure-dotnet#Microsoft_Identity_Client_ClientApplicationBase_ValidateAuthority

`Gets/sets a boolean value telling the application if the authority needs to be verified against a list of known authorities. The default value is true. It should currently be set to false for Azure AD B2C

[2018-10-02 13:12] fchoquet opened #3267 "Pass state cookie domain in configuration"
Hi

The state cookie domain is currently not explicitly set and is therefore linked to the request's subdomain. The consequence is that the cookie is not available when we try to read it from another subdomain.

This situation occurs when the login page can be served from 2 distinct subdomains (via a rewrite), for instance `app.mydomain.com` and `login.mydomain.com`.

If the user enters the applic

[2018-10-04 08:58] Sodininkas opened #451 "loginRedirect and getUser"
Hello,
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Question
</code></pre>

## Browser:
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX
- [x] Firefox version XX
- [x] Chrome version XX

## Library version

Librar

[2018-10-04 20:30] navyasric commented on #416
@chriskuech The MSAL.js library handles the caching of tokens and maintaining the signed in state if there is an existing session. You shouldn't be getting a login prompt on every page load once the user is signed in.  So I'm not sure I understand your requirement for serializing the UserAgentApplication. Can you provide more details of what is the behavior you are seeing? Or share a code snippet

[2018-10-04 21:44] jfbloom22 commented on #324
I am also working on trying to get ADAL login working in an Electron app.  Has anyone found a good way to do this?    I am considering using: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs. However, I believe this will potentially expose the client secret.

[2018-10-05 12:34] SimeonBanev commented on #275
@nehaagrawal I have a problem with this. This is my scenario: We have two applications, one SPA that uses msal.js and another MVC application which is not using msal.js. I log in to the MVC application through azure B2C with out SignInSignUp policy and now I have an existing session on Azure, then when I redirect to the SPA and pass a login_hint which msal.js recieves and sends in the extraQueryPa

[2018-10-05 23:32] navyasric commented on #275
@SimeonBanev Please try passing the login_hint extraQueryParameter to the acquireTokenSilent method in order to get silent SSO. the login methods are interactive and pass a prompt parameter which is why you are seeing the login page again.

[2018-10-06 11:35] damien122 commented on #324
@jfbloom22 you can use this called "implicit grant" -> [https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow)

[2018-10-06 19:11] SimeonBanev commented on #275
@navyasric But how could that work when there is no logged in user. I tried calling acquireTokenSilent but every time I get the error: 'user_login_error: User login is required' which is understandable give the fact that the clientApplication has no user when you enter the app initially. That is why i tried calling the loginRedirect method so I can get an id_token. Is there something I am missing

[2018-10-06 22:29] SimeonBanev commented on #275
Okay so I debugged the acquireTokenSilent method and it turns out that the problem was that the token request with the loginHint failed and that caused my app to just call it again without an extraQueryParameter so that is why I got the user_login_error. The real problem is that when acquireTokenSilent tries to get the tokens with the login_hint an error is returned: "interaction_required: AADB2C9

[2018-10-07 13:59] kraihn commented on #379
I was able to get my MSFT Org based login working with this library and additionally getting an access token for App Authentication on an App Service/Azure Functions. The key is that although your primary login might be using v2, the app service auth request expects the v1 designation of resource access requests instead of scopes. If you try to access your resources using scopes similar as to defi

[2018-10-08 11:11] #451 closed

[2018-10-08 15:04] GhaithZamrik opened #453 "State Missmatch Error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 69
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x] Safari version 11.1.2

## Library v

[2018-10-08 16:40] JSteunou opened #3385 "Can we use client_hint with OIDCStrategy?"
Just asking because I tried without luck.

[2018-10-10 04:33] adamtay opened #454 "Cookie msal.state.login redirection issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:

</code></pre>

## Browser:
- [x] Chrome version 69.0.3497.100
- [x] Firefox version 62.0.3
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

[2018-10-10 10:18] Weschk commented on #414
@nehaagrawal any progress on this issue?

[2018-10-10 20:33] adamtay commented on #454
Additionally, if a user is authenticated and has triggered the 'password reset policy', msal will subsequently sign the user out. How can we keep the user signed in should they decide to click on CANCEL and not change their password?

The crux of our issue is that we need to allow our end users to change their password. At this time, we are unable to leverage custom policies or graph api and would

[2018-10-11 19:35] nehaagrawal commented on #347
@bh3605  Could you please confirm what version of msal you are using?

[2018-10-11 19:54] bh3605 commented on #347
0.2.3

This is the section of code I'm referring to between lines 1744 and 1749 in the saveTokenFromHash method.

    authorityKey = Constants.authority + Constants.resourceDelimeter + tokenResponse.stateResponse;
    let authority: string;

    if (!Utils.isEmpty(this._cacheStorage.getItem(authorityKey))) {
         authority = this._cacheStorage.getItem(authorityKey);
         authority = Utils.

[2018-10-11 20:41] bh3605 commented on #347
I redirect to b2c to handle my sign in. In IE when I come back from b2c the sessionStorage will be cleared. You then handle the authentication response because of the presence of the hash. At this point in time nothing has been placed into sessionStorage because that code hasn't ran yet. When it gets the authority key from cache it will be null because it hasn't been written into the storageCache.

[2018-10-11 20:53] adamtay commented on #347
@bh3605 Which library have you converted to (presumably hello.js?) and how have your experiences been with it so far?

[2018-10-11 20:57] rohitnarula7176 commented on #347
@bh3605 We already have a fix for this authority issue in the following PR. It will soon be merged and released. Can you please try the branch and see if it resolves your issue. https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/452

[2018-10-11 21:15] bh3605 commented on #347
It's neat you presume hello.js because that's the library our Microsoft Rep recommended and I was all for msal.js until this problem. After realizing I had to switch, I evaluated hello.js, angular-oauth2-oidc, oidc-client.js, and angular-auth-oidc-client. I ended up using oidc-client.js. I made a service to interact with it and it's really come along really well. Everything you call from oidc-clie

[2018-10-11 22:07] Githamza opened #456 "error issuing a token."
I would authenticate to Azure using msal

Here's my msalModule configuration

[code]
I would like to know what is the difference between the client ID and the ID used on consent scope ?.

In my example I found the ClientTenantID in Azure portal --> Azure Active Directory --> propreties --> active directory

Then the ClientId used in the consent scope is in Azure portal --> Azure Active Directory -

[2018-10-11 22:54] navyasric commented on #447
@jbpoulsen The MSAL.js library is designed to work with SPA and browser based JS web apps. It does not support the native capabilities and integration required to work with a cross-plat framework like Electron.
We do not currently have a definite roadmap for Electron and are still evaluating plans. Closing this issue for now.

[2018-10-11 22:54] #447 closed

[2018-10-12 00:18] darrelmiller commented on #347
@rohitnarula7176 Can you explain how the PR fixes this issue?  As @bh3605 points out in his code snippet, when you retrieve the authorityKey it does not appear to be getting the authority from the cookie.

In the PR comments you state:

When you store the authorityKey you do this:

     this._cacheStorage.setItem(authorityKey, this.authority, this.storeAuthStateInCookie);

but when you retrieve it

[2018-10-12 00:56] rohitnarula7176 commented on #347
@darrelmiller Are you referring to the PR or some other branch: We have applied this fix to loginRedirect and acquireTokenRedirect api's in the PR. Please see below:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/708d41314d6f99ef68314b118cce80562d47726f/lib/msal-core/src/UserAgentApplication.ts#L412
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/70

[2018-10-12 15:22] darrelmiller commented on #347
@rohitnarula7176 Thank you for the details.  I was sure I had looked at the PR and I was convinced the `this.storeAuthStateInCookie` parameter wasn't provided in line 1676.  But I was wrong.  It does look to me like the PR will address @bh3605 's concerns.

[2018-10-12 15:35] bh3605 commented on #347
@darrelmiller You're confusion is not unfounded. I was looking at the PR on mobile yesterday and was confused as to why I saw he was passing in the flag, then he wasn't, and then he was again. As far as I could tell, this was the only thing blocking IE and Edge from working. You can get IE working if you have the dev console opened. Maybe a tester had their console open?

Thank you @rohitnarula717

[2018-10-12 22:06] dornellas13 opened #457 "Firefox 31.0 SyntaxError: class is a reserved identifier"
Hello good night,
I am using msal for authentication with azure AD in my angular application 6, however I am having problems using the firefox browser version 31.0. I know that this browser is very old and some words are reserved for the same, when trying to access the application in firefox 31.0, I am getting this error **SyntaxError: class is a reserved identifier**, I looked at vendor.js and re

[2018-10-13 07:30] Weschk commented on #457
Looks like the same issue reported in #414 causing IE11 to crash with syntax error.

[2018-10-14 13:26] rocketraman opened #458 "Redirect URI incompatibility with HTML5 history API"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 69.0.3497.100
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2018-10-15 01:53] adamtay commented on #458
@sayanghosh123 Have also noticed this issue in our testing.

[2018-10-15 02:44] HeMinzhang commented on #456
[My project](https://github.com/HeXuShi/Love) has some error.

[2018-10-15 07:12] HeMinzhang commented on #456
[MsalInterceptor](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#3-get-tokens-for-web-api-calls)
I used MsalInterceptor fix no token.

[2018-10-15 23:31] nehaagrawal commented on #414
@BenBullock1992 @Weschk I was on leave and just checking back this issue. I apologize for the delay. I will get back to you on this soon.

[2018-10-18 12:02] jobala opened #461 "Error on module import"
## I'm submitting a...
<pre><code>
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2018-10-20 10:54] valuesoft-dk opened #463 "How to get more information about the B2C-signed in user ?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 69
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-10-21 08:33] himadrinath commented on #349
@nehaagrawal @rohitnarula7176  i am using it with next.js because of the server side rendering i am saving the token value into cookies and when user revisit the page in my server side i am validating the token from the request cookie and then sending request to my api endpoint. if user delete the session data from dev console and refresh the page i am using acquireTokenSilent to get the user toke

[2018-10-22 22:53] nehaagrawal commented on #456
@Githamza I am not sure where you are seeing 2 cliend_ids? There is only one client_id in our sample app https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/samples/MSALAngularDemoApp/src/app/app.module.ts

1. clientID: The clientID of your application, you should get this from the application registration portal.
https://apps.dev.microsoft.com/

2. consent