[2020-08-07 16:59] technical-boy commented on #2117
Hi @titodevera !

Is your application designed to work with only public Microsoft accounts (outlook.com/hotmail.com) or do you want to allow users with work accounts (i.e. @microsoft.com)?

[2020-08-07 17:09] ZacharyHiggins-dbMotion commented on #1592
That's correct. To be clear, my issue **was not** with configuring a matching redirectURI in Azure, my appmodule.ts (MSALConfigFactory), or the intricacies of managing different addresses between a prod, local dev environment, and the others.

The redirectURI I'm referring to is the one configured in our MSALConfigFactory (and obviously matching in our Azure AD app config)

[code]

This was a sepa

[2020-08-07 17:12] technical-boy commented on #2110
Hi @w595shubham . This is a known issue with msal-angular, which we are planning to address soon. We'll follow up when it has been added to msal-angular.

[2020-08-07 17:16] technical-boy commented on #2108
@sameerrswt thanks for raising the issue. We'll look into it and follow up if we need more information.

[2020-08-07 17:25] ZacharyHiggins-dbMotion commented on #1592
Clarification - We wanted the user to be automatically presented a login page, which is why we essentially added loginredirect() in ngOnInit in appcomponent. Regarding the passing the select_account param in the loginredirect method. I think this was part of our problem (it's been a while), and why we were doing this in ngOnInit... so we could pass these parameters. Our request actually looked lik

[2020-08-07 17:31] anth-git commented on #1592
@ZacharyHiggins-dbMotion As for _select_account_, add it to MSAL_CONFIG_ANGULAR provider factory:
[code]

[2020-08-07 17:40] ZacharyHiggins-dbMotion commented on #1592
My friend, you have been very very helpful today. I haven't even started Googling that particular problem yet. Thank you very very much. I'll give that a shot in about an hour :)

[2020-08-07 19:44] jennyf19 commented on #1555
@jmprieur @hamiltonha fyi

@adriannasui I would suggest opening a new issue w/this information, so it's not buried here and the team can respond more easily. Thanks for your time, input, and investigation, much appreciate.

[2020-08-07 20:27] randompixel commented on #1231
![image](https://user-images.githubusercontent.com/2316601/89685694-c2338e80-d8f4-11ea-99d6-e1ddf7648588.png)
I'm still seeing this using MSAL 2.0.1. I had prior cleared out all session and cookies, but coming back to the app this evening encountered this error. Pressing F5 to completely reload app doesn't fix it.

[2020-08-07 20:32] randompixel commented on #1231
Although it seems by checking if user is authenticated before getting tokens for API request this fixes this. I guess it is trying to get a token as the SPA builds up and then the loginRedirect is being called which fails.

[2020-08-07 21:07] ZacharyHiggins-dbMotion commented on #1592
Following up. Everything is running flawlessly now. Thank you very much! Have a great weekend! 👍

[2020-08-07 22:36] jo-arroyo commented on #2024
Closing as no further action for the library at this time.

[2020-08-07 22:36] #2024 closed

[2020-08-07 23:05] jo-arroyo commented on #1987
@svpoon Can you please provide the code you refer to below that you used to redirect once you get a successful login?

I can also press PF5 to reload the page and it will redirect silently as well.

[2020-08-07 23:11] jo-arroyo commented on #2009
@hrishy Unfortunately, we are unable to provide support for a third-party client library. MSAL.js uses a composite key for storing access tokens in local storage, which is made up of the client id for the application, scopes for request, login authority, and home account identifier of the user.

[2020-08-08 03:22] wdspider commented on #2104
I am also experiencing `handleRedirectPromise()` throwing this exception when the interaction is in progress:
[code]

It would be much nicer if the function either attempted to finish the in progress interaction and/or abandon it rather than throwing the exception.

[2020-08-08 04:26] wdspider opened #2118 "MSAL-Browser 2.0.1: Incorrectly deserializes URL Hash resulting In 'platformStateObj is null' exception"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
TypeScript / React / Material UI

## Description
MSAL redirects to AD B2C fine which returns back to the app as

[2020-08-08 04:48] rstutton opened #2119 "Unexpected TypeError from SilentFlowClient.ts"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
msal2.0.1

## Framework
no framework. Custom spa in Typescript using jquery, bootstrap

## Description
Called acquireTokenSil

[2020-08-08 07:39] gunnamvasavi commented on #1592
Hi @ZacharyHiggins-dbMotion and @anth-git.... I'm also facing the same issue and the scenario is like users have to be logged in for all the page routes and using MSALGUARD for that. Could you explain me if any workaround is there to avoid "token renewal failed due to timeout". And my code is as follows:

app.module.ts:
` MsalModule.forRoot({
      auth: {

        clientId: environment.clientId,

[2020-08-08 07:58] adriannasui opened #2120 "msal-browser lacking compatibility with IdentityServer4"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Here is my feeedback on _msal-browser_, after spending some weeks working on author

[2020-08-08 08:33] anth-git commented on #1592
@gunnamvasavi
Don't navigate when in an iframe:

[code]

Alternatively you can implement this https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-avoid-page-reloads

Apart from that you can disable initialNavigation: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1592#issuecomment-664818059

[2020-08-08 17:48] jennyf19 commented on #1555
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2120

[2020-08-08 17:49] jennyf19 commented on #2120
@hamiltonha @DarylThayil @jasonnutter @jmprieur

[2020-08-09 03:58] alexsilvar commented on #1248
There are any update on it? It's kind of a blocker for me -_-. If someone knows a way to use it with reactjs let me know please :D

[2020-08-10 05:56] titodevera commented on #2117
The application is designed to work with public Microsoft accounts, anyone with a Microsoft account should be able to login and reach his own To Do tasks.

¿Can you help us with this issue?

Thank you so much!

[2020-08-10 07:55] lnadudva opened #2122 "How can I put together a static URL that explicitly redirects to B2C?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.3.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I know that this is a weird use-case, but let me explain the reason for it first.

[2020-08-10 08:10] majso commented on #2042
It would be great to have some rough estimate.

A lot of users are using Safari.

[2020-08-10 10:02] lukan95 commented on #1592
@anth-git  I found a difference between the local (dev) version and the production version. In the dev version of the build is aot set to false. At the production I have aot turned on. If I set in production build aot to false, it works for me, , but otherwise routing probably doesn't work.

[2020-08-10 10:41] anth-git commented on #1592
@lukan95 It works for me with AOT just fine, besides this is a default setting since Angular 9.
I don't know why it could make a difference in you case though.

Assuming that your issue is related to a timeout error, did you try to change POLLING_INTERVAL_MS to some low value, for example 5ms (node_modules\msal\lib-es6\utils\WindowUtils.js). This way you could find out if something removes hash be

[2020-08-10 10:55] titodevera commented on #2117
Set the value "AzureADandPersonalMicrosoftAccount" for the property "signInAudience" in the manifest solves the issues.

![audience](https://user-images.githubusercontent.com/11556124/89775666-9ab50f80-db08-11ea-95c2-abddcbdbf848.png)

[2020-08-10 10:55] #2117 closed

[2020-08-10 11:32] lukan95 commented on #1592
@anth-git I am using Anguler 8 and there is default setting without aot. So I set it in tsconfig.json. Maybe I'll try to update angular to version 9.

Yes i tried and it was okay.

[2020-08-10 12:56] nubianMONK commented on #1194
@jasonnutter Facing same issue as nfgallimore, using the interceptor etc... You mentioned above updating the Angular samples, to demonstrate resolving this in Angular, so just checking to see if you've had a chance to do that? Your help with this is greatly appreciated.

[2020-08-10 13:28] DarkLite1 opened #2123 "logout method not clearing credentials from cache"
## Library
- [x] `@azure/msal-browser@2.0.1`

## Framework
Quasar Framework with Vue

## Description
After upgrading from version `2.0.0` to version `2.0.1` we receive the typescript error below. The strange thing is that when logging out of the app by calling the function below the credentials are still in the cache The user is indeed logged out but when he tries to log in again he is not asked f

[2020-08-10 13:51] senthilkumarnh commented on #1226
Is this resolved msal v2?

[2020-08-10 15:35] dbpieter opened #2124 "msal-angular does not cache access tokens"
- [x] `msal@1.3.4`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We see msal(-angular) making an acquireTokenSilent request upon each subsequent api call.
While this issues seems very similar to #1936. The fix in #1962 does not seem to fix this for us. At least if this fix is included in msal@1.3.4, which I think it is.

##

[2020-08-10 16:13] pkanher617 commented on #2123
@DarkLite1 Do you have a stack trace showing which line is throwing this error?

This is expected behavior. We clear the cache, but no request is sent to the server, so the session on the server still exists.

[2020-08-10 16:48] gunnamvasavi commented on #1592
@anth-git your approach worked for me. Tried in local and prod as well its working! Thanks for sharing work around.

[2020-08-10 17:20] pkanher617 commented on #2099
@cliedeman Sorry I think I misunderstood what you were trying to do. You are storing the AccountInfo object from the response in localStorage, but msal is using sessionStorage for its own cache.

This should be possible. Are you parsing the string that is retrieved from the localStorage cache as an AccountInfo object before passing to the request?

[2020-08-10 17:33] cliedeman commented on #2099
@pkanher617 thanks for the reply. I just verified the accountInfo object is decoded correctly.

I believe the issue is this line: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/84a5f5aed0ad1626e6d918fb2ef0393837aac3c6/lib/msal-common/src/cache/CacheManager.ts#L162

The return type should be nullable. The current library makes the assumption that the cacheManager.getAccount

[2020-08-10 17:49] technical-boy commented on #1608
Closing due to inactivity. Please let us know if this is still an issue so we can reopen it.

[2020-08-10 17:49] #1608 closed

[2020-08-10 17:57] technical-boy commented on #1759
Closing this issue since this is expected behavior. Please let us know if you have any further questions or concerns.

[2020-08-10 17:57] #1759 closed

[2020-08-10 17:58] aappddeevv commented on #2104
I had to add additional "login prcessing state" outside the msal lib to manage login and the use of handleRedirectPromise. The vanilla example app uses external state as well but its very hard to see it. The issue is that handleRedirectPromise creates an async path to determine if you are in a redirect but the state to determine if that should be called is needed prior to the call in order to hand

[2020-08-10 18:11] technical-boy commented on #1810
Hi @jimbarrett33 . The consent scopes provided in your configuration will only be included in login requests that are initiated by the MSAL Guard. If you are invoking `loginPopup` or `loginRedirect` manually in your application, you will need to provide any additional scopes explicitly.

[code]

Could you try this and let us know if it fixes your issue? Thanks!

[2020-08-10 18:13] technical-boy commented on #1842
Closing. This will be taken care of as soon as B2C is fully supported.

[2020-08-10 18:13] #1842 closed

[2020-08-10 18:21] tnorling commented on #2104
@aappddeevv `handleRedirectPromise` is the 2nd leg of the redirect flow, it should be invoked when you are using `loginRedirect` or `acquireTokenRedirect`. It should be called and awaited when you load your app before calling any other msal functions. If your app was not loaded as a result of redirection from AAD, it will immediately return null and you can continue with your other logic. You shou

[2020-08-10 18:21] pkanher617 commented on #2104
@aappddeevv I'm not following at all.

Not sure what you mean by external state. The vanilla app calls handleRedirectPromise immediately after construction of the PublicClientApplication object, and then follows up execution based on the result of the promise. If you are attempting to use MSAL before the promise returned by the `handleRedirectPromise()` is resolved or rejected, then that is incorr

[2020-08-10 18:24] pkanher617 commented on #2104
@wdspider that error isn't being thrown by `handleRedirectPromise()`. It's being thrown by `acquireTokenRedirect()` as shown by the stack trace. This is probably happening because `acquireTokenRedirect()` is being called before `handleRedirectPromise()` resolves.

That is exactly what `handleRedirectPromise()` is meant to do :)

[2020-08-10 18:41] aappddeevv commented on #2104
I'll try my logic again and work to eliminate that external state flag (it was localStorage indicating that I had already called acquireTokenSilent). It does look like that indeed, `handlePromiseRedirect` should *only* be called after acquireTokenRedirect is called. I must have interpreted the docs incorrectly.

I had interpreted the docs to mean that `handlePromiseRedirect` should be called even

[2020-08-10 18:46] tnorling commented on #2104
This is correct. `handleRedirectPromise` should be called when using any redirect API. e.g. `loginRedirect` and `acquireTokenRedirect`

[2020-08-10 18:46] vaughanh1 commented on #2118
I had the typescript sample working nicely with 2.0.0 of msal-browser. Upgraded to 2.0.1 just now, and it breaks at the same lines mentioned.
I similar issues with 2.0.0-beta.2

When will there be a fix please?

[2020-08-10 19:17] wdspider commented on #2104
@pkanher617, I have posted my AuthManager class in #2118 due to a different bug and this is my Login component:
[code]
which only calls the login method when the button is clicked.  Can you instruct me on what needs to be changed in order to get `handleRedirectPromise` to work like you state?

[2020-08-10 19:18] aappddeevv commented on #2104
Hmm...well I think I need to play with this more than. I had remove the handleRedirectPromise after the login (per the code above).

[2020-08-10 19:25] pkanher617 commented on #2104
@aappddeevv Why do you need to know whether or not it is a login or get token? Shouldn't it be based off of the scopes in the response?

In MSAL there is no difference between `login` and `acquireToken`.

[2020-08-10 19:27] hraz-msft opened #2126 "Web storage cache"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Storing tokens in localStorage or sessionStorage is not really secured, because it is accessible from JS (XSS).

I don't think that sessionStorage is better than localStorage for apps that are

[2020-08-10 19:29] pkanher617 commented on #2118
@wdspider @vaughanh1 Will try to fix this issue today. Thanks for opening this.

[2020-08-10 19:30] aappddeevv commented on #2104
I agree that a token is a token. I do pass in the same scopes to both login redirect and the "get token" redirect. I'll have to look up if that's not needed under the code authorization flow and then decide if I can differentiate with that.

[2020-08-10 19:35] pkanher617 commented on #2104
@wdspider I looked at the AuthManager.ts class as well as the code you posted above. You need some way to base the initialization of the app on the `handleRedirectPromise()`. I.E. disable buttons or show some dialog until the promise resolves in the `initialize()` function, then allow users to call the auth functions.

[2020-08-10 19:42] wdspider commented on #2104
hmmz.... ic.  I guess I'll have to think up a solution to that.  A Typescript / React QuickStart demo example would have been very helpful in sorting this all out and made the library feel much more "plug-n-play".

[2020-08-10 21:23] thoo1 commented on #1795
I'm also having this same issue but not using B2C, this is for a first party application
Error
Access to fetch at 'https://login.microsoftonline.com/organizations/oauth2/v2.0/token' from origin 'XXXXXX' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch

[2020-08-10 21:31] tnorling commented on #1795
@thoo1 If you are getting this in AAD scenarios, it likely means your app registration is not configured for the new "SPA" type. Please make sure your App registration has the `redirectUri` configured as type "SPA" and you do not have any "Web" type `redirectUris`. See the [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migrati

[2020-08-10 21:34] thoo1 commented on #1795
@tnorling you're right, I didn't change it to type: SPA, that resolved it for me, thanks!

[2020-08-10 21:47] aappddeevv opened #2127 "allow "logout" of a specific application but not end the entire AAD session, which logs you out of all apps"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
If one is using outlook on the web as well as an app that is leverage AAD, if you l

[2020-08-10 22:36] jakehockey10 commented on #1438
I didn't know if this warrants another ticket as it looks like there are 1 or two that are similar to this.  But my routes in angular don't match the API urls whatsoever.  It is actually an issue for me, because I'm lazily loading feature modules.  What is really weird about my issue is that api urls seem to be being added to the unprotectedResources array only sometimes.  For example, if Angular,

[2020-08-10 22:36] jakehockey10 commented on #1438
nulling out the unprotectedREsources in my config seems to have fixed the issue as well.  But if I needed something in that array, I'm not sure how to overcome this issue.

[2020-08-10 22:56] sameerag commented on #1169
Apologies for the delay on this. So here is where we landed w.r.t this scenario:

* These scenarios will be available in MSAL JS v2.0
* Currently `MSAL JS Broker` work is in progress;  cc @jasonnutter @tnorling and @pkanher617  are working on the design and dev for this feature
* The above PR is a POC and we think this is a half baked solution and moving to `Broker` support when available would be

[2020-08-10 22:56] #1169 closed

[2020-08-11 00:04] technical-boy commented on #2119
Hi @rstutton ! The issue you are seeing seems related to #2099, which we are looking into. We'll follow up when we have an update or if we need more information. Thanks for raising the issue.

[2020-08-11 06:28] DarkLite1 commented on #2123
Thank you for getting back to me.

The error is thrown from this line:
[code]
I'm feeding it `null` instead of `undefined` as required by type `EndSessionRequest` of `logout()` method.

Is there a way to invalidate the session on the server when a user logs out? What is otherwise the purpose of calling `logout()` if another user can sit in front of the PC click `login` again and be logged in as th

[2020-08-11 09:29] dbpieter commented on #2124
We have been able to work around this issue in two ways. Still the behaviour with the initial config seems a bit buggy.

- Workaround 1: Not specifying the endpoint in protectedResourceMap. This only works if the angular app is on the same domain as the resource I believe.
- Workaround 2: Using an arbitrary custom scope: api://clientid/do_stuff instead of /openapi

[2020-08-11 12:24] devfservant commented on #2086
Hello @technical-boy,

Thank you for your help. I used `handleRedirectCallback` as follows:

[code]

and it works fine. Closing the issue,

Thanks

[2020-08-11 12:24] #2086 closed

[2020-08-11 12:59] eimerreis commented on #349
@OlegLukash, @leandrojj13   - you can work around this by handling the error and calling `acquireTokenRedirect instead`.

[code]

Since the problem lies in usage of hidden iFrame for chrome private mode

[2020-08-11 13:31] darianaBarbulMindit commented on #1194
@Marcelh1983, I used your solution in my custom interceptor and it worked on one hand, now I don't get the error anymore, but I still have other problem.
After I logged in once, logged out and then tried to login again, looks like the access token is not retrieved and the user is not logged into the application. After Empty Cache and Hard Reload, the user gets logged in.
I tried this on the follow

[2020-08-11 14:41] JasSuri commented on #2101
This is all expected. What you probably need to do is setup an SM-AAD session inside the invite link policy. Then when calling acquireTokenSilent(), call the normal Sign in/Up policy which has SM-AAD session management already configured, so the user will get SSO through it and you wont get the x frame options denied.

[2020-08-11 16:05] technical-boy commented on #2127
Hi @aappddeevv . Thanks for the feedback, we'll take this under consideration. As you mention, if you'd like this functionality now, you can manually clear or delete values from local storage.

[2020-08-11 16:15] technical-boy commented on #2126
Hi @hraz-msft . Thanks for the question. We are aware of the trade-offs that come with client-side authentication and storing tokens in browser storage. MSAL JS leverages mechanisms such as the `state` and `nonce` to mitigate possible security concerns, such as token replay. You can read more on our thoughts about client-side authentication in [this blog post](https://developer.microsoft.com/en-us

[2020-08-11 16:24] aappddeevv commented on #2127
Of course, however, I do not want to tell my users to go clear local storage. I would need to duplicate the key naming logic to clear those entries programattically.

[2020-08-11 16:30] technical-boy commented on #2124
Hi, @dbpieter . Could you please clarify if your intention is to protect your API resources with ID Tokens as opposed to access tokens?

[2020-08-11 16:33] aappddeevv commented on #2104
I'm still trying this but can't get rid of external state.

My scenario is a single page that automatically logs in and acquires a token. Ideally, both steps must be executed purely off the state of progress of logging in via redirect. I did see that I can add a "state" value for the first login and track it that way inside handleRedirectPromise. However, the issue is that for a react component, I

[2020-08-11 16:39] technical-boy commented on #2122
Hi @lnadudva ! `loginRedirect` has a callback called `onRedirectNavigate` that you can implement to get the URL that MSAL would navigate the user to. Your application can use this to generate the URL that would take the user to the B2C login page.

[code]

MSAL does not support a static URL as the service requires dynamic values that are set per request.

[2020-08-11 16:43] technical-boy commented on #2120
Hi @adriannasui . Thanks for your feedback, we'll look into this and get back to you if we need more information.

[2020-08-11 16:44] technical-boy commented on #2119
Closing this since it's a duplicate of #2099.

[2020-08-11 16:44] #2119 closed

[2020-08-11 16:53] technical-boy commented on #2100
@sid1260 if you're using `loginPopup`, your application will need to manually redirect the user once the `loginPopup` promise has resolved.

[2020-08-11 18:27] #1837 closed

[2020-08-11 20:24] szymon-wesolowski commented on #1403
Hello, I have spent few days trying to make it work, but all the time msal config factory methods are invoked before the config file is recived. Where is the crucial part which wait until promise from config factory is returned?
**app.settings.service.ts**
`import { HttpClient, HttpBackend } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { map } from 'rxjs/operator

[2020-08-11 20:43] #2118 closed

[2020-08-11 20:57] jaslloyd opened #2130 "How to handle redirects URLs with many dynamic sub domains"
Hi everybody,
Was wondering if you could provide some advice.

We generate "live" previews for our feature branches every time one of our team pushes a feature branch. This is completely live environments connected to our dev BE.

The URL have somewhat of a format: http://<app_name>.<generated_unique_id>.ourcompanydomain.dev.com

Each branch gets its own FQDN in the above format that is unique to

[2020-08-11 21:08] pkanher617 commented on #2123
Sorry I should have been more clear. There is no other way to invalidate a session in the browser other than redirecting to the logout url. That is what the `logout()` method does. Due to the error you are receiving, we are clearing the cache but the redirect is not happening.

This isn't helpful. we need the stack trace to see what line is erroring in our library.

`EndSessionRequest` does not ac

[2020-08-11 22:03] wdspider commented on #2118
Is there a rough eta on when 2.0.2 will be released?

[2020-08-11 23:00] thoo1 opened #2131 "navigateToLoginRequestUrl not working as I understand it in the documention"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
According to [documentation](https://github.com/AzureAD/microsoft-authentication-lib

[2020-08-11 23:36] thoo1 commented on #2131
nevermind there's a bug.. let me close this and i'll open a new ticket if I can confirm something is wrong

[2020-08-11 23:36] #2131 closed

[2020-08-12 00:42] #1082 closed

[2020-08-12 06:12] DarkLite1 commented on #2123
Thank you again for getting back to me.  Some things that are still a bit unclear to me:

- Why present the user with a selection of accounts to logout from, if it's not needed to select one to be signed out?

- Why is the user not asked for his password after he explicitly signed out with `logout()`?

This seems to me like a security risk. The implementation for `signin()` and `logout()` can be f

[2020-08-12 06:43] lnadudva commented on #2122
@technical-boy thank you for your quick response!

[2020-08-12 07:51] dbpieter commented on #2124
@technical-boy No that's not the intention. The API requires access tokens.  We don't require any meaningfull custom scope for our api since we have our own system to manage claims and authorization hence /openid, but I guess that's not a good choice, at least for our usecase. We have since create a custom scope for our api and the caching issue is no more.

[2020-08-12 08:02] stephenstroud commented on #2101
@JasSuri Thank you so much for posting as your comment has resolved my issue.

[2020-08-12 08:04] vinusorout commented on #1403
This seems to be fine, please check all your dependencies, I think some other services or modules is initializing HttpClient before resolving appSettingsLoader.

[2020-08-12 08:21] tomgron commented on #435
The whole plethora of options and different clients and authentication options are REALLY confusing. Having this stuff well laid out for developers would be brilliant idea (e.g. Auth0 does this well). Most of the documentation is obsolete and the SPA examples in github still use some dummy jQuery stuff - come on : who uses that anymore, especially in greenfield apps. Really disappointing, going to

[2020-08-12 09:38] calmez commented on #1403
I'm also having trouble getting this to work. On my end it looks like the request is not even made. Instead the error handler of the subscribe call gets invoked with an error that happens when I try to access `AppSettingsService`'s settings (in the factory functions for MSAL) which are of course not yet loaded.
What I expected was that these factory functions only get called once `AppSettingsServi

[2020-08-12 09:58] calmez commented on #1403
Alright, I found what was the problem that I had. I was injecting the HttpClient instead creating it with an injected backend like you do. After I changed that it started to work.
However, that does not seem to be @szymon-wesolowski 's problem, but maybe it helps somebody else 😊

[2020-08-12 10:16] BerndGewehr opened #2133 "Could you please place a sample implementation for proper msal silent and popup authentication for usage in a MS Teams app web tab (not the standard web url tab)"
When trying to create a valid aad login method for a pure html/js/css web app, we found that the vanillajs examples from here do not work for teams web tabs added via "real" teams apps (by creating and uploading a manifest or by using the teams appstudio).

Could you please provide a working example for a MSAL silent authentication with redirection after successful login to an apps web URL? If sil

[2020-08-12 11:06] GerwinFleurop opened #2134 "Request entity Too Large"
## Library
MSAL Browser @1.3.4

## Error Message
'The page was not displayed because the request entity is too large.'

## Reproduction steps
Login through MSAL to website & check localstorage

## Expected behavior
No error after login - MSAL seems to be creating a lot of really big local storage items.

## Browsers/Environment
- [x ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari
- [ ] IE
- [ ] Oth

[2020-08-12 11:37] BerndGewehr commented on #2133
![Teams Tab MSAL sample](https://user-images.githubusercontent.com/21081707/90010873-ee5a6100-dca0-11ea-8436-e1f0d28d663d.gif)

[2020-08-12 11:53] BerndGewehr commented on #2133
It seems like the login form is denied to appear inside of an iframe when using a teams app web tab while being allowed when using a teams website tab. So IF a login form is needed, it has to appear in a popup.

[2020-08-12 12:15] BerndGewehr commented on #2133
I changed console.log() to alert().
![image](https://user-images.githubusercontent.com/21081707/90013802-45af0000-dca6-11ea-83b4-5d2f0bcdec9d.png)

[2020-08-12 12:18] BerndGewehr commented on #2133
All examples for Teams use adal instead of msal
https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-silent-aad
https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-tab-aad#samples

[2020-08-12 13:32] ManuelTS commented on #2133
Yes, but only on the outdated documentation, as said in:

- https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-migration
- https://github.com/AzureAD/azure-activedirectory-library-for-js

Maybe the following links can help you, I recommend only to view github code of MSAL.js and github doc, but not any docs on microsoft.com.

- https://github.com/AzureAD/microsoft-authentication-

[2020-08-12 14:47] szymon-wesolowski commented on #1403
As a confirmation I have removed MsalInterceptor from providers.
[code]
@vinusorout I will try to find where HttpClient is initialized.

[2020-08-12 15:29] jjgriff93 commented on #1439
Now that MSAL 2 has shipped this should be re-opened - currently there is no viable way to use MSAL with Ionic apps that are intended for both browser and native, and I imagine this is the same of other hybrid frameworks

[2020-08-12 16:18] technical-boy commented on #2134
Hi @GerwinFleurop . Could you please provide your MSAL configuration object? Also, could you clarify if you think this caused by too many cookies being sent to the server? Could you determine how many MSAL-specific cookies are being set? Thanks.

[2020-08-12 16:23] technical-boy commented on #2133
Hi @BerndGewehr ! Thanks for the feedback. We agree that we should have samples for Microsoft Teams. In the mean time, please take a look at [this sample](https://github.com/nmetulev/teams-msal) that was put together by a Microsoft employee.

[2020-08-12 16:33] BerndGewehr commented on #2133
Thank You. None of these contain a sample for a MSAL using Teams app Web tab implementation. That's why I asked for it. Any recommendation welcome!￼￼

[2020-08-12 16:34] BerndGewehr commented on #2133
Need a silent authentication with pop up fall back and token persistence in local storage on success￼

[2020-08-12 16:35] pkanher617 commented on #435
@tomgron Could you please point out where in our samples you see jQuery? We've tried to keep our documentation and samples up-to-date on our repo, which sometimes doesn't make it out to the docs.microsoft.com pages. If you have specific feedback please open an issue.

@lorenzobrito @ayeshN If you are still having problems with this please review the currently open issues around the B2C CORS errors

[2020-08-12 16:44] technical-boy commented on #2130
Hi @jaslloyd . One approach would be to use the [Microsoft Graph API ](https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadapplication?view=azureadps-2.0)or [Azure Powershell](https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadapplication?view=azureadps-2.0) to programmatically update your app registration to add and remove the dynamic redirect URLs when deploy

[2020-08-12 16:45] pkanher617 commented on #2123
@DarkLite1 The server and client manage accounts separately. When you call the `logout()` function on MSAL, we clear all account info on the client, then redirect you to the authorization server, where you are presented with a logout screen. If you only have one account logged in, this will simply inform you that you are logged out and then redirect. If the server detects multiple accounts, it wil

[2020-08-12 16:46] technical-boy commented on #2116
Hi @dsaunders45459 ! Thanks for raising the issue, we'll look into it and follow up when we have more information!

[2020-08-12 16:55] garridio85 opened #2135 "secret is contained in localStorage MSAL-browser"
---
name: Question
about: Generals question about one of our libraries or related services.
title: 'secret is contained in localStorage MSAL-browser'
labels: question

---

Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.

[2020-08-12 17:28] vinusorout commented on #1403
You can create two modules Login n Home.
Login Module: In app module set this as startup module and inject masl in this module perform login and then navigate to Home module
Home Module: load other dependencies like TranslateModule

[2020-08-12 18:00] technical-boy commented on #2135
Hi @garridio85 ! Could you please update your issue to comply with our [Issue Template](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/.github/ISSUE_TEMPLATE) so we can have enough information to adequately address your question? Thanks!

[2020-08-12 19:13] BerndGewehr commented on #2133
@technical-boy this example relies on on disk files that are not part of the repository. Sorry to say but it did not help me in that state of completeness.
![image](https://user-images.githubusercontent.com/21081707/90057406-a6f3c500-dce0-11ea-9846-022a646ee285.png)

[2020-08-12 19:13] szymon-wesolowski commented on #1403
Thank you for suggestion, I handle it exactly the same as in settings loader, I have replace existing translation loader with my own.
[code]
[code]

[2020-08-12 19:41] technical-boy commented on #2133
@BerndGewehr it seems the sample was configured to use a locally installed copy of the "msal" package. Have you tried deleting the `package-lock.json` file and running `npm install`? I believe this would help if your intention is to test the sample with the published version of `msal@1.x`.

[2020-08-12 20:28] #2101 closed

[2020-08-12 20:46] technical-boy commented on #2135
@garridio85 thanks for the update! The token you are seeing under "secret" is actually a short-lived refresh token. This refresh token comes with the access token requested and is later used by MSAL to "refresh" that access token (acquire a new access token) around the time the original access token expires. It's called "secret" because that's the way the authorization server expects it to be call

[2020-08-12 20:46] jasonnutter commented on #2120
Similar to #1824.

[2020-08-12 20:48] technical-boy commented on #2122
@lnadudva you are very welcome! Let me know if this works for you so we can close the issue!

[2020-08-12 20:51] technical-boy commented on #2083
Hi @mbrevda ! Thanks for the feedback. We understand the difficulty and complexity of SSO across web applications. While we are working on improvements to the SSO experience for certain scenarios, at this time we don't have any plans for an SSO mechanism that does not require a hint such as `login_hint`.

[2020-08-12 21:13] jasonnutter commented on #1824
@jmckennon will address this alongside #2120

[2020-08-12 21:35] mbrevda commented on #2083
My issue is less with the `login_hint` and more with the challenges of sharing it cross-domain.

To clarify the use case: currently, there are multiple apps each at a different domain configured to the same tenant/organization. A non-silent login must be initiated when the user loads a given app. For the assorted apps to have true SSO, a `login_hint` needs to be shared between them.

This is curre

[2020-08-12 21:48] JonDReese commented on #1914
@sanderaernouts I'm not sure if this is helpful, but I am getting the same error, specifically when the domain before the authentication flow is different than the domain on the way back. I think it's because the cache isn't shared across domains?

I am trying to get a redirect to work where I start at
clientname.my-app.com -> login.microsoftonline.com -> **my-app.com (no subdomain)** -> clientnam

[2020-08-12 22:37] JonDReese opened #2139 "Supporting subdomains with one central redirect url"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I need to make an application support subdomains per client, when I tried this I get the following logs:
- Navigated to https://clientname.appname.com/...
- Navigated to https://b2cdirectoryna

[2020-08-12 22:43] #2084 closed

[2020-08-13 00:30] jasonnutter commented on #1877
Closing, as this should be fixed in 1.3.4. Let us know if this is still an issue.

[2020-08-13 00:30] #1877 closed

[2020-08-13 05:01] GerwinFleurop commented on #2134
Heey,

The error occurs whenever a call occurs to the database,
~11 or 22 cookies, sometimes it appears that MSAL sets the cookies twice? (Different GUIDS though)
& it also sets a lot of local storage records (20+ from time to time)

Object:

var config= {
        auth: {
            clientId: "<GUID from azureAD>",
            authority: "https://login.microsoftonline.com/<GUID From AzureAD>",

[2020-08-13 05:44] BerndGewehr commented on #2133
@technical-boy I tried the example - and failed. It somehow does not manage to show a real login procedure and fails on trying what looks like a second attempt for a silent login:

![image](https://user-images.githubusercontent.com/21081707/90098579-db936b00-dd38-11ea-912e-d12fa6145820.png)

[2020-08-13 09:17] BerndGewehr commented on #2133
@technical-boy I found that in a web tab of teams the code works fine. In an app web tab (created from a manifest.json), the redirect fails without further notice.

[2020-08-13 09:57] BerndGewehr commented on #2133
Possibly similar problem here:
https://stackoverflow.com/questions/62461493/msal-login-redirect-window-inside-microsoft-toolkit-wpf-ui-controls-webview-is-l

[2020-08-13 10:17] ssuvorov opened #2142 "[Help wanted] Login flow with 401 and certificate confirmation"
## Library
- [x] `msal@1.3.4` or earlier

## Description
I'm using **msal** lib with React & apollo-client. And have a case with a **401** status code (unauthorized).

[code]
However, sometimes I have to confirm the certificate. But the error is still the same - 401. And the page starts getting stuck in a loop of reloading. I can't even see a browser's native confirmation popup because of that unt

[2020-08-13 12:23] BerndGewehr commented on #2133
I found that the referenced version from the sample (1.2.2) does not work successfully while the current released version (1.1.3) works much better.

[2020-08-13 12:25] Vivek-M-651 opened #2143 "MSAL Loading Frame has time out after 30 seconds."
# Library
msal@1.3.2

## Framework
React Application

## Description
When we try to login using msal library in my react application, acquireTokenSilent is throwing following errors.

_[MSAL] Thu, 13 Aug 2020 10:45:44 GMT:1.3.4-Error monitorIframeForHash unable to find hash in url, timing out

 [MSAL] Wed, 12 Aug 2020 11:17:51 GMT:1.3.2-Verbose Loading frame has timed out after: 30 seconds for sco

[2020-08-13 12:40] ManuelTS opened #2144 "Node.js Restify.redirect to auth URL only works manually"
## Library
- [x] @azure/msal-node@1.0.0-alpha.4

## Framework
Node.js and MS Teams App

## Description
I make a dialog by calling @AppName in MS teams, in there I send search data to my node.js server. The node.js server ought to authenticate itself as in this tutorial https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/auth-code/index.js. Problem

[2020-08-13 14:11] JonDReese commented on #2130
I asked a very similar question here #2139

This documentation seems to talk about our problem @jaslloyd  and a solution, but I'm not sure how to implement it with MSAL.

[2020-08-13 14:32] aappddeevv commented on #2104
Just as a side comment, I stuck all the code I have into the callback of `handleRedirectPromise`, detect when the result is null/non-null then based the next step on that information. I also placed the strings "login" and "redirect" into the state var of the redirect request options so I knew what the result pertained to when the result was non-null. Since I immediately need to fetch the token aft

[2020-08-13 15:06] deasems opened #2145 "How to disable post-logout redirect"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The default logout behavior redirects users back to the current location.href. This

[2020-08-13 19:11] thoo1 opened #2147 "AccountInfo doesn't return name of account"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

The AccountInfo interface doesn't expose a name property
https://github.com/AzureAD

[2020-08-13 21:35] thoo1 opened #2149 "How to avoid interaction_in_progress error if user closes page while on AAD page?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Code:
[code]

This works, when the user first goes onto our site, if there are no ac

[2020-08-14 03:11] thoo1 commented on #2149
Sorry this isn’t the msal-browser, I had tested something else, closing

[2020-08-14 06:06] Asphiii opened #2150 "[Angular] Cannot find name TaskData || Cannot find name Task"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x ] `@azure/msal-angular@1.3.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 10.0.8 with:
    "@angular/animations": "~10.0.8",
    "@angular/common": "~10.0.8",
    "@angular/comp

[2020-08-14 08:41] DarkLite1 commented on #2123
@pkanher617 in case fo signing out and invalidating a specific user session on the server the password for this user still seems to be remembered my msal in the local cache. Because when that users tries to sing in again (after successful logout) he clicks his account and is not asked for the password.

This seems to me like a security risk. In my understanding msal should revoke the active sessio

[2020-08-14 09:05] DarkLite1 commented on #2123
Added repro case:

### Setup test environment
[code]

### Run test

1. Click the `LOGIN` button at the top right and sign in with your account

2. Click the same button again with your name on and then click `LOGOUT`, select your account

3. Click the `LOGIN` button at the top right again and select your account

IMHO, because you performed a `LOGOUT` there should be a password question upon `LOGI

[2020-08-14 12:29] mderaeve commented on #560
I changed the Authority string to this, than it works!

`.AddJwtBearer(options =>
{
    options.Authority = $"https://login.microsoftonline.com/{Configuration["AzureAd:TenantId"]}/v2.0";
    options.Audience = Configuration["AzureAd:ClientId"];`

[2020-08-14 13:04] Lexcess commented on #2042
As of three days ago Chrome has started introducing this behavior for 100% of users on Chrome 80+, so this is becoming a way more important issue for us.

@jo-arroyo should we accept that for applications like ours we will have to drop MSAL-Angular?

[2020-08-14 16:20] technical-boy commented on #2139
Hi @JonDReese . Unfortunately there are no samples that demonstrate the use of state for this use case, but you could do something like the following:

[code]

[2020-08-14 16:29] technical-boy commented on #2142
Hi @ssuvorov. When your app receives the 401, are you trying to log the user out?

[2020-08-14 16:34] ssuvorov commented on #2142
@technical-boy no, I remove a token from Local Storage. Logout would do it for all of the products.
401 can happen every day, but once per 2-4 weeks can be a 401 with a certificate confirmation request.

[2020-08-14 16:35] technical-boy commented on #2143
Hi @Vivek-M-651 . Could you please provide the complete MSAL logs for the request? If you are requesting scopes for multiple resources (Microsoft Graph and PowerBI), you need to make separate calls to acquireTokenSilent for each set of scopes.

[code]

[2020-08-14 16:48] technical-boy commented on #2145
Hi @deasems. Thanks for bringing this to our attention! It does look like there's no way to disable this behavior at the moment, so it may be a bug. We'll follow up if we need more information.

[2020-08-14 16:50] technical-boy commented on #2147
Hi @thoo1! This is a known issue we plan to address it soon. Thanks!

[2020-08-14 16:52] technical-boy commented on #2150
Hi @Asphiii ! Are you able to reproduce this with one of our [Angular samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-samples)?

[2020-08-14 16:55] Vivek-M-651 commented on #2143
We are making a separate calls for Power Bi and Microsoft Graph just as mentioned by you. When we try to make the calls for acquiretokensilent we are getting this issue.

Please find the logs. (marked the error)

AuthProvider.jsx:31 [MSAL] Wed, 12 Aug 2020 11:17:20 GMT:1.3.2-Info State status:true; Request type:LOGIN
AuthProvider.jsx:31 [MSAL] Wed, 12 Aug 2020 11:17:20 GMT:1.3.2-Info State is righ

[2020-08-14 16:57] technical-boy commented on #2044
Closing due to inactivity. Please let us know if you still have questions about this.

[2020-08-14 16:57] #2044 closed

[2020-08-14 17:04] technical-boy commented on #2077
@renjithgr if you are calling `loginRedirect` manually when `msal:loginFailure` or `msal:acquireTokenFailure` events are broadcast, you will need to manually set the `extraQueryParameters` on those calls to `loginRedirect`:

[code]

[2020-08-14 17:05] technical-boy commented on #2070
@skyovi do you have any updates on this issue? We've been unable to reproduce this. Thanks.

[2020-08-14 17:08] technical-boy commented on #2133
@BerndGewehr glad to hear 1.3.4 works better, has your issue been solved then?

[2020-08-14 17:10] technical-boy commented on #2134
@GerwinFleurop could you provide the MSAL cookies that are being sent?

[2020-08-14 17:11] technical-boy commented on #2135
Close since this is expected behavior, please let us know if there are any other questions.

[2020-08-14 17:11] #2135 closed

[2020-08-14 17:14] #2124 closed

[2020-08-14 17:15] technical-boy commented on #2124
@dbpieter thanks for the update, please let us know if you have any other questions!

[2020-08-14 17:16] technical-boy commented on #2126
Closing, please let us know if you have further questions.

[2020-08-14 17:16] #2126 closed

[2020-08-14 17:17] technical-boy commented on #2122
Closing, please let us know if you have any further questions.

[2020-08-14 17:17] #2122 closed

[2020-08-14 17:20] BerndGewehr commented on #2133
Well, partly.

I achieved a working solution for the following flow:

- build a teams app web tab (manifest.json, tab, Config.html) from appstudio
- use your web app in the app tab
- try to get a AAD token silently
- if no luck, get a token in a Popup silently (have not yet completely understood why this is helpful)
- if no luck even there, let the user sign in interactively
- use the accessToken

[2020-08-14 19:51] JonDReese commented on #2139
Thank you for the quick response @technical-boy

In order to get handleRedirectCallback to be triggered, I set navigateToLoginRequestUrl: false

I think my MSAL is configured slightly differently, instead of adding state to the .acquireTokenRedirect() I added it to .loginRedirect()

I then used response.accountState in the handleRedirectCallback to add this line:

window.location.replace('http://c

[2020-08-14 20:08] sidecus commented on #1795
@tnorling just curious is there any new update from the service team?

[2020-08-14 22:39] jo-arroyo commented on #2042
@Lexcess Yes, unfortunately, you will need to use MSAL.js 2.0 directly for the time being. We are currently working to get the msal-angular upgrade on the roadmap.

[2020-08-14 22:55] #552 closed

[2020-08-14 22:55] #1438 closed

[2020-08-14 22:55] #1695 closed

[2020-08-14 22:55] #1712 closed

[2020-08-14 22:55] #1776 closed

[2020-08-14 22:55] #1966 closed

[2020-08-15 05:58] blinkybill commented on #1999
thanks guys, really looking forward to this fix

[2020-08-15 06:51] skyovi commented on #2070
@technical-boy  This is happening for all the users in her company.  We also had a screen sharing with the user and found that the https traffic is intercepted and replacing with certificate issued to (alcdn.msftauth.net) with some other certificate.  I have suggested to check with their IT administrator if any policy is blocking the MSAL cdn link .

Meantime, we have added the MSAL library to our

[2020-08-16 01:24] ronaldh46 commented on #2019
@jo-arroyo Just wondering whether this issue has been resolved?
I'm currently using the latest version @azure/msal-browser 2.0.2 and have also been receiving this error.
`ClientAuthError: state_mismatch: State mismatch error. Please check your network. Continued requests may cause cache overflow.`

I have essentially the same code as above.
Cache Options:`      "cache": {
        "cacheLocation":

[2020-08-16 07:17] Dolevco commented on #2050
but then it won't redirect back to the requested url. it will redirect to the root url that registered in the application redirect uri

[2020-08-16 15:40] deasems commented on #2084
@technical-boy I've updated to 2.0.2 which appears to have this change. Unfortunately changing the `idTokenClaims` type to `object` prevents accessing any of its properties (TS version 3.9.7 here), I get the error `Property 'preferred_username' does not exist on type 'object'`.
IMO the idTokenClaims type would explicitly type the common claims and include an index signature to represent any other

[2020-08-16 22:27] ollief87 commented on #2042
This seems like a pretty high priority issue. We now have production applications broken because of thise new behavior.

[2020-08-17 07:07] sanderaernouts commented on #1914
@JonDReese we do have a redirect from `www.<domain>.com` to `<domain>.com` so that might be related to what you experienced. I'll try to verify it this is the case

[2020-08-17 07:27] lukan95 commented on #1592
I changed the angular version from 8 to 10 and the problem with active aot  is no longer and the @anth-git approach works flawlessly. Thank you.

[2020-08-17 07:45] sanderaernouts commented on #1914
@JonDReese I can confirm we see the same thing in our browserlog:
[code]
As you can see in these logs the first time the redirect goes to https://<domain>.com/, but the second time the redirect goes to https://**www**.<domain>.com/.

Though the error I get is different from yours:
`GMT:1.3.2-Error State Mismatch.Expected`

@jo-arroyo can the scenario @JonDReese described explain this error? We do

[2020-08-17 09:46] Asphiii commented on #2150
Hi, my bad - it's not MSAL that makes an error; I can't explain why it disappeared while deleting MSAL.
I'm closing it

[2020-08-17 09:46] #2150 closed

[2020-08-17 15:00] renjithgr commented on #2077
@technical-boy I couldn't find any examples where MSAL library is used without calling one of the MSAL APIs directly. Even in the samples provided in the repo `loginRedirect` or `loginPopup` is called. Do you know where I can find more information on how to use MSAL library without calling the APIs directly?

[2020-08-17 15:09] rfink commented on #2069
Having this issue as well

[2020-08-17 15:55] jaslloyd commented on #1880
This is kinda a major issue, is the only resolution to tell the users to not use incognito tab?

[2020-08-17 16:37] naugtur opened #2155 "Missing ability to refresh token in msal-node when acquired by acquireTokenByCode"
## Library
- [ x ] `@azure/msal-node@1.0.0-alpha.4 `

## Description

There doesn't seem to be a way to refresh a token acquired like so:
[code]
Specific issues:
1. response doesn't contain refresh token
2. there doesn't seem to be a way to get a token refresh from cache
3. when config contains a cachePlugin, it doesn't seem to be used.
4. `cca.getCacheManager` doesn't exist

I believe there is a

[2020-08-17 17:00] tnorling commented on #1795
@sidecus They are currently testing a solution and if all goes well the current expectation is to have it deployed by the end of the month. Thanks for your patience!

[2020-08-17 17:32] technical-boy commented on #2084
Hi @deasems . We decided to use the generic `object` type on the exported IdTokenClaims object to avoid making any guarantees about the claims an IdToken can contain and how those might change in the future.

The workaround we recommend is that you create your own type and cast the IdTokenClaims object in your application code like so:

[code]

[2020-08-17 17:32] toddfsnyder opened #2156 "Timeout with acquireTokenSilent in Microsoft Edge Chromium"
## Library
- [x] msal@1.2.2

## Framework
Angular 9 Working directly with the msal.js 1.2.2 library

## Description
Getting a timeout error when trying to get acquireTokenSilent in  Microsoft Edge Chromium Version 84.0.522.59 when calling Azure B2C Tenant.

## Error Message
URL navigated to is https://{B2CTenant}.b2clogin.com/{B2CTenant}.onmicrosoft.com/b2c_1a_gs1us_ac_signin_v1/oauth2/v2.0/author

[2020-08-17 17:44] technical-boy commented on #2155
Hi @naugtur ! Could you please try using the Silent flow, which internally uses the refresh token to fetch new tokens as and when needed. The refresh token is not returned to the user by design, it is intended to be used only via cache during token expiry.

You can refer to our [Silent flow sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-sample

[2020-08-17 17:50] technical-boy commented on #2156
Hey, @toddfsnyder! Timeouts can happen for many reasons. Are there any other errors in the browser console? Also, are you using hash routing in Angular? Is this issue consistently reproducible, or is it intermittent? And finally, does this only happen with Edge Chromium, or is it reproducible in other browsers as well? Thanks!

[2020-08-17 17:52] technical-boy commented on #2070
@skyovi thanks for the follow up! Closing because it seems this is not an issue with the MSAL CDN.

[2020-08-17 17:52] #2070 closed

[2020-08-17 17:58] technical-boy commented on #2077
@renjithgr the two mechanisms provided by MSAL Angular that will automatically call MSAL are the MSAL Guard and the MSAL interceptor, which will call `loginPopup`/`loginRedirect` and `acquireTokenSilent` respectively.  Could you clarify what you mean by using MSAL without using MSAL?

[2020-08-17 18:05] jaslloyd commented on #2104
Is there going to be no equivalent to getLoginInProgress in msal 2.X? like there was in msal 1.X? It is very useful for us to avoid having to track the external state.

[2020-08-17 18:09] naugtur commented on #2155
Thanks for the reference. I am aware of the silent flow and I decided I'd rather refresh explicitly. Here's why:

TL;DR: if there's more than one app instance, it's gonna be really hard to not fall into concurrency issues.

- msal is in charge of when to refresh the token
- msal does that based on state in memory and the cache I can persist
- from the outside, cache is a single blob I can load and

[2020-08-17 18:18] toddfsnyder commented on #2156
Chrome and Firefox both work fine. We are only seeing this issue in Edge Chromium. Below are the other warnings/errors we are getting. The issue happens every time, sometimes if we refresh the browser the application will load.

**SameSite Cookie Warnings:**
A cookie associated with a cross-site resource at http://b2clogin.com/ was set without the `SameSite` attribute. A future release of Microsof

[2020-08-17 18:20] technical-boy commented on #2083
@mbrevda

Unfortunately, iframe/cookie based solutions will not work because of privacy features such as Safari ITP, which block third party cookies.

We appreciate your feedback and we'll take it into consideration as we look to improve the SSO experience for browser applications. For now, please take a look at our [Seamless SSO docs](https://docs.microsoft.com/en-us/azure/active-directory/hybrid

[2020-08-17 18:29] technical-boy commented on #2069
Hi, @master-maintenance1-peer-connect. Could you please clarify the 'x-MS-CLIENT-PRINCIPAL-NAME' header is being set?

[2020-08-17 21:54] renjithgr commented on #2077
@technical-boy I meant a sample where only MSAL guard and MSAL interceptors are used but not the MSAL API directly (like calling `loginRedirect` or `loginPopup`). For example, in the sample app provided in this repo, the `loginRedirect` is called manually. Why is it required if MSAL Guard and Interceptor are all we need to detect and redirect user to the login page?

 https://github.com/AzureAD/mi

[2020-08-18 03:49] ollief87 commented on #1725
@jrmcdona I'd also be super keen to see how you got it working, as I'm hitting the same issue

[2020-08-18 04:07] ollief87 commented on #2042
@jo-arroyo can you please provide an example of using MSAL.js 2.0 directly in Angular? We're a very large MS Enterprise customer and feeling a bit let down by the lack of support or roadmap for this issue

[2020-08-18 04:24] van-dung-mulodo commented on #2019
@ronaldh46 I met the same issue that morning.
The version is @azure/msal-browser 2.0.2 too.
Hope to see any working around...

[2020-08-18 04:29] siva-srini commented on #1000
@hamiltonha any update on this? trying to get an idea when we can expect angular spa with pkce/auth code flow.

[2020-08-18 04:56] ronaldh46 commented on #2019
@van-dung-mulodo I did some more troubleshooting.
It turns the error wasn't due to the double encoding in my case, but rather the instantiation of the `handleRedirectPromise()` method.

As a bit of background, I'm using this in React and have the MSAL client as a wrapper using Context.
Previously had this instantiated within the the Context provider - and this was causing the error. I have since m

[2020-08-18 05:07] van-dung-mulodo commented on #2019
@ronaldh46 I see. So my issue is not the same at you.
I installed @azure/msal-browser 2.0.1. My code ran normally.
But when I update to @azure/msal-browser 2.0.2. The error log was thrown `ClientAuthError: state_mismatch: State mismatch error. Please check your network. Continued requests may cause cache overflow.`
Because of the deadline, so I rollbacked the old version for attempting.
I'll be ba

[2020-08-18 10:47] master-maintenance1-peer-connect opened #2159 "MSAL.acquireToken () caused Fetch error in Edge and IE11."
In Chrome, the SPA that was successfully signed in,
MSAL.acquireToken () caused Fetch error in Edge and IE11.

AND , I  could not be specified userID.

## Library
- [v ] `msal@1.3.2`

## Documentation location
- [v ] Documentation does not exist
　The description that the usage is different between Chrome and IE11 or Edge is insufficient in the MSAL document.
    Or, there may be a lack of descript

[2020-08-18 10:59] jaslloyd commented on #2139
Hi @technical-boy, I have a similar question to @JonDReese which you also commented about and you said about adding redirect_uri automatically but a question I have about the state approach, would this work if all of the subdomains also of an instance of msal running on them? When I tried this before it really didn't like the request coming from a subdomain e.g:

- User loads subdomain sub1.mycomp

[2020-08-18 11:26] jaslloyd opened #2160 "Can handleRedirectPromise be documented better with Examples? Otherwise can lead to race conditions"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-08-18 14:23] master-maintenance1-peer-connect commented on #2069
@rfink Thank you for checking the reproducibility.

＠technical-boy　Here's the request header when it works.
I can't set anything directly to 'x-MS-CLIENT-PRINCIPAL-NAME' header.
The 'x-MS-CLIENT-PRINCIPAL-NAME' header is set to the INVALID value that is not in UPN (USER PRINCIPAL-NAME) by something that MSAL.js@1.3.3 passed to Azure Function.

[code]

[2020-08-18 14:40] jrmcdona commented on #1725
@ollief87 what is the issue you have?

I have this in my app.component.ts

[code]

I have a MSAL Helper service which has all the main functions like LoginRedirect and SilentRequest.

[2020-08-18 17:03] tnorling commented on #2160
@jaslloyd Have you seen our [onPageLoad sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js)? The redirect flow is definitely confusing and we're always looking for ways to improve it and our documentation. We appreciate the feedback and will try to make this more clear in the docs!

[2020-08-18 17:10] jaslloyd commented on #2160
@tnorling Thanks for the reply, yeah I took a look at it and it is very similar to how we are actually doing it. I think the problem comes from even in that example what stops you using async function signIn before handleRedirectPromise? Imagine it is not a user action, lets say they load the page and it automatically called signIn...if they manage to call signin before handleRedirectPromise they

[2020-08-18 17:22] tnorling commented on #2160
That sample is intended to demonstrate signing in on page load without user interaction. There's nothing stopping a developer from moving the `signIn` call out of `handleRedirectPromise` but they do so at risk of breaking the flow we're trying to demonstrate with that sample. To clarify, are you asking for an example that shows `await handleRedirectPromise()` instead of `handleRedirectPromise().th

[2020-08-18 17:31] jaslloyd commented on #2160
-
eah, 100% right and this was mostly my point that it leaves a lot to go wrong or can leave the developer scratching their head trying to figure out the race condition.

Maybe there could be an example of it showing `handleRedirectPromise` being called first then allowing the use of other commands or maybe add a bit more detailed description. I know this is a rather difficult problem to describe

[2020-08-18 19:18] judedaryl commented on #1795
@tnorling thank you for facilitating this! can't wait to switch to pkce!

[2020-08-18 20:15] technical-boy commented on #2159
Hi @master-maintenance1-peer-connect . Is the sample app that you are using available publicly or did you make it yourself? Could you provide a link to the sample?

[2020-08-18 20:21] technical-boy commented on #2156
Hi @toddfsnyder.

This error happens when the page that you use for the redirect_uri for `acquireTokenSilent` itself calls `acquireTokenSilent` on page load.

I noticed you are using your homepage as your redirect_uri, which means your homepage will load in the hidden iframe, which may be causing the timeouts. For `acquireTokenSilent` calls, you can use a blank html page as your redirect_uri, whic

[2020-08-18 20:32] technical-boy commented on #2143
@Vivek-M-651 have you tried debugging MSAL and determining what is happening in the hidden iframe that is causing MSAL to timeout?

[2020-08-18 20:54] jo-arroyo commented on #1880
MSAL.js 2.0 is now generally available and will mitigate errors caused by third-party cookie blocking in most scenarios. Please try out the latest version and let us know if you have any feedback.

[2020-08-18 21:02] jo-arroyo commented on #1914
@sanderaernouts Yes, that would likely describe this behavior, and you should use the same origin for your application and for redirect uri. When they are consistent, does this error occur?

[2020-08-18 21:03] jo-arroyo commented on #2042
@ollief87 We are planning to have a sample demonstrating using MSAL.js 2.0 with Angular soon, and we will soon have an update on the roadmap.

[2020-08-18 21:07] jo-arroyo commented on #2019
@ronaldh46 We are in the early stages of design for msal-react, which will demonstrate how to use the auth code flow with react.

@van-dung-mulodo Please open a new issue if you need further assistance.

[2020-08-18 21:48] jaslloyd commented on #1880
@jo-arroyo Thanks for letting us know, if companies are still using the implicit flow they won't be able to migrate to MSAL 2.0 right? Because it uses Auth flow with PKCE

[2020-08-19 02:07] thoo1 opened #2161 "SyntaxError: Unexpected token e in JSON at position 0 when calling PublicClientApplication.prototype.logout()"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
When calling PublicClientApplication.prototype.logout(), sometimes it throws an exception

[2020-08-19 02:15] thoo1 commented on #2149
I'm seeing this behaviour in msal-browser as well

Reproduction:
1. In our app we create the PublicClientApplication like so
[code]

2. Use the site in incognito mode to make sure you have not been logged in
3. Get redirected to AAD page to login
4. Click browser back button or close the window
5. Go back to the site and notice an error is thrown
Uncaught (in promise) BrowserAuthError: interaction

[2020-08-19 06:55] sanderaernouts commented on #1914
@jo-arroyo I'll check with the team if the origin is different when going through the sign-up -> sign-in flow

[2020-08-19 08:18] veera-raghavagupta opened #2162 "MSAL: Logout and when Login immediately not asking for User Credentials"
## Library
- [ ] `msal@1.3.4`

## Framework
-[] `Angular 8`

## Description
We are using Front End as Angular 8 and Back End .Net Core 3.1 with MSAL 1.3.4. When we logout of the application and without closing the window try to login not asking for user credentials.

Also seen when we logout the localStorage is cleared.

Please help

## Expected behavior

When user tried to relogin to application

[2020-08-19 09:21] master-maintenance1-peer-connect commented on #2159
@technical-boy
The app that encountered the ISSUE was based on a publicly available sample, which changed the MS-Graph-API call to an API call in the HTTP trigger function of Azure Functions.

https://www.npmjs.com/package/react-aad-msal

The changes to the samples that are effective here are shown in the Figure in the first remark.

I learned by watching this based sample that IE11 and Edge are i

[2020-08-19 09:30] rhnsharma999 opened #2163 "Multiple iFrames spawned in case of multiple silent token fetch with refresh token expired"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi MSAL team.
We are in the process of migrating our existing auth flow to MSAL 2.0

As as a part of the authentication flow, we fetch multiple access tokens.
We saw a weird behavior and wanted

[2020-08-19 09:45] Jc25cool opened #2164 "MsalService has a constructor which is not compatible with Dependency Injection. It should probably not be @Injectable()"
## Library
- [ ] `@azure/msal-angular@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.3.1`.

## Framework
Angular version 8

## Description
Trying to build the application on angular 8 version with ivy enabled

## Error Message
Application fails with the following runtime error in the console.
"MsalService has a constructor which is not compatible with Dependenc

[2020-08-19 10:09] copiltembel commented on #1795
Having the same issue using custom policies in AADB2C when testing locally:

To enable the custom policies I have an "IdentityExperienceFramework" and an "ProxyIdentityExperienceFramework" (as described [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started)).

I have set the IdentityExperienceFramework | Authentication to SPA and added there the redirects to

[2020-08-19 11:21] eimerreis commented on #1795
@copiltembel as mentioned in the discussion oft this issue, the B2C team is currently working on a fix and a deployment of the fix can be expected by the end of this month per @tnorling.

I am also facing those issues using IdentityExperienceFramework with custom policies, but I guess the token endpoint, which has CORS blocked, is the same, regardless if you use custom policies or default user flo

[2020-08-19 12:24] sanderaernouts commented on #1914
@jo-arroyo I can confirm that we redirect the user to `domain.com` after sign-up and then invoke `loginRedirect` where the return URL is set to `www.domain.com`.

FYI using Microsoft Edge I was able to reproduce this for my own user as well. So this is **not** an issue for new users. It's just that new users end-up on `domain.com` by default. Browser such as `Chrome` or `Brave` seem to do some aut

[2020-08-19 14:38] master-maintenance1-peer-connect commented on #2069
Please tell me,
What should be tracked back in MSAL authentication flow to determine the cause of this Issue?

Now I saw the difference in cookie values using Azure functions ".auth/me" endpoint.

* cookie  When it dosn't Work:
  Cookie.user_name(== 'x-MS-CLIENT-PRINCIPAL-NAME') Equal to Cookie.user_claims.name(Short Name).
![cookie-ng_userId1](https://user-images.githubusercontent.com/64691446/90

[2020-08-19 16:23] technical-boy commented on #2163
Hi, @rhnsharma999!

Are you encountering any errors or broken behavior in this scenario? Otherwise, do you have any specific concerns with MSAL spawning multiple iframes? If that's the case, what behavior would you expect when calling multiple `acquireTokenSilent`s concurrently?

We'd appreciate it if you could complete the issue template so we can have enough information to answer your question.

[2020-08-19 16:35] technical-boy commented on #2161
@thoo1 could you please provide a code snippet of where you are using `logout` in your code?

Are there any values in your localStorage (that were not created by MSAL) that contain one of [these strings](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/92e7f3d7db0aa6ac81d3847b0b0b7a236bc90557/lib/msal-common/src/utils/Constants.ts#L220-L224) in their key? For example, are yo

[2020-08-19 16:40] technical-boy commented on #2162
@veera-raghavagupta are you using an AAD or B2C application? Could you please provide your MSAL configuration? In the future, please complete all sections of the issue template so we can better investigate and address your issues.

[2020-08-19 18:04] tnorling commented on #2160
We can certainly add some comments to the sample with a warning and expand the docs with a disclaimer but I'm not sure I understand what exactly the ask is here beyond that. We have a sample demonstrating the flow and docs explaining `handleRedirectPromise` must be called when using redirect flows. If someone ignores our recommendations to make this work they shouldn't be surprised when it doesn't

[2020-08-19 19:15] adesca commented on #2077
We (@harukogaki)  looked into the issue with a coworker (extra query params set in configuration aren't used as part of loginRedirect call) and here are our findings:
Initial steps:
We add config with extra query parameter
Make a call to loginRedirect()

expected behavior:
redirect with the query parameter set in the config

actual behavior:
redirect without query parameter passed in the config

W

[2020-08-19 20:33] XingyangHuang opened #2166 "Error throws when creating msal instance at a third party cookie disabled broswer"
## Library
"@azure/msal-browser": "2.0.0-beta.4",
"msal": "1.3.0",

## Framework
TypeScript/ JavaScript

## Description
This error Happens when:
1. I have a page A running JavaScript call to create a msal instance
2. I have another page B running in a different domain, and trying to put page A inside a iframe
3. Third party cookie has been disabled by browser
I get error throws from the msal packa

[2020-08-19 22:51] thoo1 commented on #2161
@technical-boy we just call `this.publicClientApp.logout();`
We did have our own implementation of the implicit grant flow that we are trying to migrate off of, however I checked the keys we store and they do not contain "IdToken", "AccessToken", "RefreshToken"

[2020-08-20 00:25] tnorling commented on #2139
@JonDReese @jaslloyd

A possible solution is:
1. Call `loginRedirect` on subdomain with subdomain url in state param
2. Redirect to AAD sign-in page
3. Redirect back to parent-domain with token/code response in hash
4. Detect that url has a response hash, strip the hash from the url, parse out the state param and retrieve the url from step 1
5. Redirect to the url retrieved from step 4 + append th

[2020-08-20 03:09] gavinbarron commented on #2088
I think the bot is only looking at comments not triaging activities.

[2020-08-20 07:26] sanderaernouts commented on #1914
@jo-arroyo I can confirm that the change in origin `domain.com` to `www.domain.com` during the log-in process that caused this issue.

Before I close this issue was there any (verbose) logging that I could have configured to track this issue down? Else I would suggest improving the logging in MSAL.js, `Error State Mismatch.Expected State: null,Actual State: <data>` does not logically translate to

[2020-08-20 08:26] Rookian commented on #1592
The link does not work anymore. Is there a complete working example for angular anywhere?

[2020-08-20 12:27] mcdonnell-john opened #2171 "Getting an infrequent msal.error "Invalid_state" when authenticating"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
This ticket is a continuation of #1734, as I let it expire as too many other issues popped up elsewhere :(

Since that ticket, we've upgraded to msal@1.3.4 and @azure/msal-angular@1.0.0
But the

[2020-08-20 13:57] Georgeoak opened #2172 "Is there any plan for msal-angular 2.0?"
## Library
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@1.x.x`

## Description
Is there any plan for msal-angular 2.0 since MSAL.js 2.0 is released?
Thank you.

[2020-08-20 14:18] jaslloyd commented on #2139
@tnorling Thanks for the detailed reply, it is good to know what exactly what is going on at each of these steps. I think when I tried this before I might have been missing some of the steps or calling handleRedirectCallback too early.

I will see if I can give this go over the next few weeks, if I can get it working I might submit a PR to add it to the docs/examples as I think it would be a commo

[2020-08-20 15:22] rhnsharma999 commented on #2163
Hi @technical-boy
I don't see any issues or weird behavior while multiple iFrames are spawned.
The concern that i have is that for each `acquireTokenSilent` call we'll have to wait for the respective iFrame to finish. And in case one of them fails (and assuming at least one other succeeds), then error handling would be complex as well. (I know this is an extreme edge case but it might happen)

Ide

[2020-08-20 15:25] philip-young opened #2173 "MSAL.js, B2C, and ADFS Provider: acquireTokenSilent failing"
## Library
- `msal@1.3.0`

## Framework
React 16.8.3

## Description
Using MSAL.js with B2C and ADFS Provider via Custom Policy - AcquireTokenSilent failing the first time then the user has to login again and it works.

I am using a React SPA app with the B2C ADFS provider the one given [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs2016-custom?tabs=app-re

[2020-08-20 15:36] veera-raghavagupta commented on #2162
Going forward will make sure will fill all the details.

Front end - Angular 8
Back end - .Net Core 3.1
MSAL- 1.3.4
We are using **Azure B2C**

Initially when we click on login redirects to login page for user to credentials, after successful login will be redirected to dashboard. And on click of logout will be redirected to login page as expected. When user clicks on login again should be asked f

[2020-08-20 15:38] jasonnutter commented on #2172
Yes, we will soon be upgrading MSAL Angular to support MSAL.js v2. We will update our roadmap when we know more.

In the mean time, we will be adding a sample showing how to use MSAL.js v2 in Angular directly, #2167.

[2020-08-20 15:38] #2172 closed

[2020-08-20 15:54] jasonnutter commented on #1592
Updated link: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular8-sample-app/src/app/app.component.ts

[2020-08-20 16:37] ebonato commented on #2116
We are also getting this error, but using msal-browser@2.x.x.
Just using basic sample code provided by Wiki Pages we are getting this ClientAuthError: User cancelled the flow in 40% of runned tests.
Using Firefox, this could reach 90%.
[code]

[2020-08-20 17:20] thoo1 opened #2175 "Multiple concurrent RT renewals result in State mismatch error"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
Users get an exception "State mismatch error. Please check your network. Continued requests

[2020-08-20 17:57] #2001 closed

[2020-08-20 18:15] Georgeoak commented on #2172
Thank you for letting me know.

[2020-08-20 19:00] JonDReese commented on #2139
@jaslloyd in order for handleredirectcallback to get called for me I had to set navigateToLoginRequestUrl to false. I'm going to try to have that toggled to false only when there isn't a subdomain.

I won't be able to attempt this until later next week. I'm hoping the one thing I need to do is step 5 from @tnorling 's comment

This might be a dumb question, but I'm not exactly sure what that code

[2020-08-20 19:36] technical-boy commented on #2088
Yes, @gavinbarron. I've removed the label given we are still looking into this issue.

[2020-08-20 21:52] technical-boy commented on #2173
Hi, @philip-young! Could you try opening the URL mentioned in the X-Frame Options Deny error in a new window and let us know what happens? Also, check out our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#refused-to-display--in-a-frame-because-it-set-x-frame-options-to-deny) on te X-Frame Options Deny error, hopefully it'll help.

[2020-08-21 00:53] jviney opened #2176 "Popup does not open in Firefox"
## Library
- [x] `@azure/msal-browser@2.0.0`

## Framework

Angular 1.6.1

## Description

`acquireTokenPopup` fails to open the popup in Firefox, even when called from direct user interaction. It works correctly in Chrome, Safari and Edge (Chromium).

## Error Message

[code]

## Regression

Unknown

## Reproduction steps

I've got a simple reproduction of the problem in JSBin. After `await`ing t

[2020-08-21 07:03] rajithakolan opened #2177 "SSO with loginhint in angular 10"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-08-21 07:41] rhummelmose commented on #1925
I am seeing this with MSAL 2, trying to get an access token using acquireTokenSilent with a guest account, regardless of its preffered username, returns me an access token without any scopes.

[2020-08-21 18:33] ingwarr23 opened #2178 "Multiple msal-browser instances"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi!
I have a noob question for which I was not able to find a clear answer. Maybe yo

[2020-08-24 08:34] jaslloyd opened #2181 "Logout function breaks with JSON error"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

Vanilla JS

## Description

`calling logout` errors on `BrowserStorage.ts:157 Uncaught (in promise) SyntaxError

[2020-08-24 10:25] vamshinarra commented on #1592
This issue is still present no change after using the iframe condition on router outlet

[2020-08-24 11:47] mylle commented on #1712
When can I download a new version of @azure/msal-angular to fix this problem?

[2020-08-24 14:27] mblagdan commented on #1000
@hamiltonha I would also like to know about the plans for implementing this for the Angular wrapper. Any information would be highly appreciated.

[2020-08-24 15:16] philip-young commented on #2173
Hello again @technical-boy . I managed to get it all working with acquireTokenSilent. Basically what I needed to do like I said is to ensure there was no interaction required on the B2C UserJourney / Custom Policy side when the hidden iFrame makes its request. Once I got that working, it now works like a dream with the established session 🙂 closing this issue.

[2020-08-24 15:16] #2173 closed

[2020-08-24 16:09] sanishmbod opened #2182 "Cannot read property 'replace' of null"
## Library
- [X] `@azure/msal-browser@2.0.2`

## Framework
N/A
## Description
When logging in for the first time, and then pressing back button, the `handleRedirectPromise` method throws the error
'Cannot read property 'replace' of null'

## Error Message
'Cannot read property 'replace' of null'

## MSAL Configuration

I am using the sample code with only the client id changed.

## Reproduction st

[2020-08-24 16:23] jasonnutter commented on #2175
@thoo1 Ah, yes the same error message is used for both, I'll make sure we update that. cc: @jmckennon

[2020-08-24 16:31] jasonnutter commented on #2175
For both the timeout and state mismatch errors, any debugging you can do in your app would be helpful. What is happening inside the iframe (e.g. has it redirect back to your redirect URI with a hash, or is something else going on)? Why does MSAL think the state values do no match (e.g. do the state strings include special characters that are not decoded/encoded, is there a cache state value in loc

[2020-08-24 16:40] jasonnutter commented on #2177
Can you please provide more details about your scenario? What do you mean by "multiple user flows?" Can you provide some examples?

[2020-08-24 17:32] hamiltonha commented on #1000
@mblagdan @siva-srini - @jasonnutter  is currently working on a sample angular app that uses MSAL.js 2.0 directly. We also will be discussing prioritizing onboarding the Angular wrapper to the MSAL.js 2.0 with auth code/pkce in the coming months now the library is GA.

[2020-08-24 17:38] jasonnutter commented on #1569
Closing, as this is an issue with AAD.

[2020-08-24 17:38] #1569 closed

[2020-08-24 17:42] jasonnutter commented on #1911
Closing due to inactivity, please let us know if this is still an issue.

[2020-08-24 17:42] #1911 closed

[2020-08-24 17:43] jasonnutter commented on #1924
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:43] #1924 closed

[2020-08-24 17:44] jasonnutter commented on #1938
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:44] #1938 closed

[2020-08-24 17:45] jasonnutter commented on #1939
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:45] #1939 closed

[2020-08-24 17:46] jasonnutter commented on #1955
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:46] #1955 closed

[2020-08-24 17:46] jasonnutter commented on #1987
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:46] #1987 closed

[2020-08-24 17:47] jasonnutter commented on #1996
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:47] #1996 closed

[2020-08-24 17:48] jasonnutter commented on #1988
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:48] #1988 closed

[2020-08-24 17:49] jasonnutter commented on #2009
Closing due to inactivity, please let us know if this is still an issue, thanks!

[2020-08-24 17:49] #2009 closed

[2020-08-24 18:00] tnorling commented on #2182
@sanishmbod Thanks for pointing this out. This happens because `loginRedirect` and `acquireTokenRedirect` drop some temporary cache items before redirecting to the IDP which MSAL expects to be there when it returns. Once you return from the initial login MSAL will process the response and clear these temporary cache items. Now when you hit the back button the IDP redirects back to your app again w

[2020-08-24 18:02] jasonnutter commented on #2010
@shwetashukla @jerryjili As noted, for silent requests you can pass `sid` to resolve errors with mismatched login hint values.

For interactive requests, can you try passing `prompt: 'select_account'` to loginPopup? I would also recommend setting your authority to use your tenant ID instead of `/common`, e.g. `https://login.microsoftonline.com/<tenant-id>`. Let us know if that helps resolve your i

[2020-08-24 18:04] jasonnutter commented on #2031
Closing, see here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#im-seeing-scopes-openid-profile-email-offline_access-and-userread-in-my-tokens-even-though-i-havent-requested-them-what-are-they

[2020-08-24 18:04] #2031 closed

[2020-08-24 18:11] jasonnutter commented on #2037
For the getAccount question, this was resolved by #2114.

`offline_access` is already tracked in #1999.

Closing, as the first issue has been addressed, and the second issue is already tracked.

[2020-08-24 18:11] #2037 closed

[2020-08-24 18:12] jasonnutter commented on #1222
Closing. If you are having problems with timeouts, please open a new issue, thanks!

[2020-08-24 18:12] #1222 closed

[2020-08-24 22:05] #99 closed

[2020-08-24 22:05] #1779 closed

[2020-08-24 22:08] jasonnutter commented on #2175
Worked with @thoo1 to determine that this happens when multiple silent RT renewals happen in parallel, as the cached state value gets overwritten for one of the requests. Mitigation is make these requests in serial.

[2020-08-25 00:44] jimbarrett33 commented on #1810
Hi @technical-boy. I tried your suggestion and this did not prompt for the additional consent. In my version, I think the latest, the option is actually called `extraScopesToConsent`

[code]

Seems it just silently fails -- I didn't notice anything bad in the console.

[2020-08-25 04:22] cliedeman commented on #2099
Still an issue

[2020-08-25 05:08] harshakn6 commented on #1156
This worked like a charm

[2020-08-25 08:28] rajithakolan commented on #2177
@jasonnutter  Our project is having multiple applications using single azure AD B2C tenant but each application has its own userflow has diplayed in below image. If a user log into application using 'B2C_1_A_th_travelhub' useflow, then want to have sso login into angular application using 'B2C_1_bonvoyage' userflow. Need a sample angular project on using sso login using loginhint.

![image](https:

[2020-08-25 08:49] kumarunster opened #2185 "MSAL 1.4.0 was released, and is causing infinite redirection loop"
## Library
- [x] `msal@1.4.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React

## Description
We noticed an upgrade of msal to the version 1.4.0 today in our dev environment. It was released at the same day (25. Aug. 2020). The login with underlying msal library does not work anymore and i

[2020-08-25 10:10] AndriiBoiko1 commented on #2181
Have the same issue

[2020-08-25 11:55] Lexcess commented on #2042
@jo-arroyo sorry to be a bit pushy on this, but we are getting increasing push back from users on this topic.

Can we have any definition for what soon means: days, weeks, months? We need to know whether to wait, or just start ripping out MSAL-Angular now ourselves. Also can we safely assume the sample will cover Angular Single Page Applications since that is the use case we are talking about here

[2020-08-25 11:59] Lexcess commented on #2090
Also being tracked here: #2042

[2020-08-25 12:46] Lexcess commented on #2016
This issue is also being tracked here #2042

[2020-08-25 16:22] technical-boy commented on #2185
Hi @kumarunster . Can you please provide the following information:

1. Your MSAL configuration
2. Code snippets demonstrating your usage (specifically interested in usage of acquireTokenSilent and loginRedirect/acquireTokenRedirect)
3. Are there any errors from the browser console?
4. Logs from the MSAL Logger
5. Have you performed any debugging steps to determine why MSAL is looping?
6. Does thi

[2020-08-25 16:33] technical-boy commented on #2171
@mcdonnell-john could you try upgrading to version 1.4.0 and seeing if this is still a problem? Thanks!

[2020-08-25 16:45] technical-boy commented on #2166
Hi @XingyangHuang . We're unable to reproduce this with Chrome in an Incognito window with third-party cookies disabled. Do you have any additional privacy settings enabled that would prevent access to sessionStorage?

MSAL requires either localStorage or sessionStorage, but we are looking into allowing application to [provide custom storage options](https://github.com/AzureAD/microsoft-authentica

[2020-08-25 16:48] technical-boy commented on #2178
Hi, @ingwarr23 we recommend setting the authority in the request object with a single instance of MSAL, as it should be easier to manage.

[2020-08-25 17:47] XingyangHuang commented on #2166
Hi,
I don't have special additional privacy setting for the sessionStorage.
Did you tried that with Iframe a page which in a different domain?
For me the error can be reproduce like:
1. first page in domain a, have msal running,
2, second page in domain b, private window, third-party cookie disabled, have page a running in its iframe.

I would suggest that if you can have the try-catch around when

[2020-08-25 18:30] kumarunster commented on #2185
Hi @technical-boy, thanks for your reply. We are using msal with [react-aad-msal](https://github.com/syncweek-react-aad/react-aad#readme).

hereby our provider instantiation:
[code]

the scopes we are using are
in AAD case: `https://graph.microsoft.com/openid,https://graph.microsoft.com/profile`
in B2C case: `https://xyz.onmicrosoft.com/api/openid,https://xyz.onmicrosoft.com/api/profile`

so far w

[2020-08-25 22:28] jasonnutter commented on #1647
Closing as duplicate of #497

[2020-08-25 22:28] #1647 closed

[2020-08-25 22:56] jo-arroyo commented on #2042
@Lexcess We now have an initial [sample ](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular10-browser-sample)available demonstrating how to use MSAL.js 2.0 with Angular Single Page Applications.

We will also use this as we start working on msal-angular v2. We have started planning and design for msal-angular v2, but we are not anti

[2020-08-25 22:59] jo-arroyo commented on #1712
@mylle A new version was published last night. Please try `@azure/msal-angular@1.1.1` and let us know if you have any feedback.

[2020-08-25 23:20] technical-boy commented on #2185
Hi, @kumarunster, thanks for following up. Could you please use the MSAL Logger, reproduce the bug and send us the logs? Thanks.

[2020-08-26 05:34] thoo1 opened #2193 "CORS error: No 'Access-Control-Allow-Origin' header is present on the requested resource"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
When using msal-browser and attempting to sign in using a @gmail.com account, I encountered

[2020-08-26 06:09] sahusankar7 opened #2194 "can't change clientid at run time"
## Library
- [x] `msal@1.3.0` or `@azure/msal@1.0.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.3.0`.

## Framework
angular
## Description

## Error Message
I can't change clientid at run time
is this possible for change clienti

[2020-08-26 06:46] mcdonnell-john commented on #2171
Hi @technical-boy I will give that a try today/tomorrow.

Out of curiosity any particular fix in 1.4.0 that you believe might fix this issue?

[2020-08-26 07:58] jviney opened #2195 "Incorrect access token for API scope when using a personal Microsoft account"
## Library
- [x] `@azure/msal-browser@2.1.0`
- [x] `@azure/msal-common@1.2.0`

## Framework

AngularJS 1.6.1

## Description

Setup:

* Frontend SPA (AngularJS) and a backend. Both access Graph APIs on behalf of the user.
* 1 Azure app.
* API scope under "Expose an API" in Azure (eg: api://1ae23a84-215a-4bd5-ae99-d54f1b7b211a/access_as_user).

In the browser, login with:

[code]

This works correc

[2020-08-26 08:24] mcdonnell-john commented on #2171
Hi @technical-boy

I had some time to try it just now and I got the same result:

**Note** msal was upgraded to 1.4.0 and @azure/msal-angular is now 1.1.0:

[code]

Probably a basic question based on my limited understanding, but is there anyway we can avoid checking the state if the server returns success:
[code]

[2020-08-26 09:46] Lexcess commented on #2042
@jo-arroyo Thanks for the response and the sample. I'll let our teams know and see how they get along with replacing  MSAL-Angular with MSAL.js 2.0

[2020-08-26 10:17] kumarunster commented on #2185
here is the log file

[localhost-1598434880293.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/5129006/localhost-1598434880293.log)

seems something to be wrong with cached id token or/and with access to cached token by key. MSAL returns id token with access token as **tokenType** instead, although a correct id token exists in local storage multiple times. Hence this

[2020-08-26 11:19] stephenstroud commented on #2193
Could be related to this [link](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue)

[2020-08-26 11:25] dglozano opened #2196 "getAccount in @azure/msal-browser": "^2.0.0""
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

In the version 2.x.x of the msal-browser library,  `getAccount()` was removed. In issue #1843 it was mentioned that we can ensure that at any moment there is only one logged in user in our app

[2020-08-26 13:15] akleimrey commented on #2133
A similar issue is found on our end, oddly enough the pop-up login prompts the standard browser on the machine to open, basically hijacking the entire experience to the browser.
The Desktop app so far doesn't appear to be able to deal with the pop-up login.

[2020-08-26 13:24] akleimrey opened #2197 "Documentation Request: Working Example of Page Redirect instead of Pop-Up for Angular"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-08-26 14:27] BerndGewehr commented on #2133
@akleimrey which version of MSAL do you use? Had similar experiences with the wrong version, with 1.3.4 it worked as designed.

[2020-08-26 15:52] marinvirdol commented on #1749
Hi @jmckennon! I was looking into the source code to see how to mock the API calls and return a dummy token. Unfortunately, I couldn't find it. Could you please point me to a piece of code that will help me? Thank you.

[2020-08-26 16:05] cvburgess commented on #1626
How are we supposed to get admin-consent with MSAL? I am struggling to find any docs

[2020-08-26 16:06] cvburgess commented on #601
Running into this issue as well, any advice?

[2020-08-26 16:07] cvburgess commented on #364
Please consider this, its a huge issue for our organization as well.

Why does MSAL not support adminconsent ?

[2020-08-26 16:25] technical-boy commented on #2185
@kumarunster could you clarify if you're calling acquireTokenSilent with the scopes in the "https://graph.microsoft.com/openid" "https://graph.microsoft.com/profile" format? Does the loop still happen if you add the scopes as just "openid" and "profile"?

[2020-08-26 16:31] technical-boy commented on #2193
Hi @thoo1. Could you please share a fiddler trace with me over e-mail or Teams?

[2020-08-26 16:36] thoo1 commented on #2193
@technical-boy sure, ill send over teams

[2020-08-26 16:45] technical-boy commented on #2196
Hi @dglozano!

No, an instance of MSAL JS will only keep track of accounts for the application that it is used in. The `getAllAccounts` API will return all of the currently active accounts for your application, and if you are confident that there's only one account you can use the first account from the returned array.

You can find more details about the account APIs [here](https://github.com/Azu

[2020-08-26 17:15] derisen commented on #1626
@cvburgess could you please check out the [samples here](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnet-webapi-multitenant).

[2020-08-26 17:20] rajithakolan opened #2198 "Sample for SSO between different applications using @azure/msal-angular"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (please fill in)
- [ ] Documentation does not exist

## Description

[2020-08-26 18:55] tnorling commented on #2181
@jaslloyd @AndriiBoiko1 Closing as duplicate. Please track #2161 for this issue. Also please verify you don't have any non-msal cache values in local/session storage with a cache key that contains the words "idToken", "accessToken" or "refreshToken". PR #2115 will make MSAL's cache lookups more robust to avoid issues such as these

[2020-08-26 18:55] #2181 closed

[2020-08-26 19:50] vaughanh1 commented on #1795
Hopefully we will be getting an early gift for the weekend? I wonder if there is also a public list of B2C issues and features that are going to be provided at the same time please? Thanks in advance and fingers crossed.

[2020-08-27 00:26] #2036 closed

[2020-08-27 00:26] #1845 closed

[2020-08-27 00:43] ingwarr23 commented on #2178
Thank you, @technical-boy !

[2020-08-27 00:43] #2178 closed

[2020-08-27 06:18] kumarunster commented on #2185
@technical-boy acquireTokenSilent is invoked inside react-aad-msal, with clientId as the only scope, see [here](https://github.com/syncweek-react-aad/react-aad/blob/5015337ef1eaa6d29822b207ddd2efeedc28caef/packages/react-aad-msal/src/MsalAuthProvider.ts#L160). MSAL 1.4.0 replaces client id with list of default scopes. You can see the scopes in the log file I provided in my last comment:

[code]

a

[2020-08-27 06:36] dglozano commented on #2196
Thanks for the quick response @technical-boy 👍

I think I have tested it, but I believe in this specific scenario it's not working as expected. Isn't it related to the SSO functionalities?

From  ([MSAL SSO Docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso))

Further down in the docs ([MSAL SSO - Applications on different domain](https://docs.microsoft.com/en-us/azu

[2020-08-27 06:55] kunalkankariya opened #2200 "Implicit flow silent authentication iFrame - Third party cookies blocked"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ **]** `msal@1.3.4` or `@azure/msal@1.x.x`

## Description

I need some clarification with scenarios where third party cookies are blocked in implicit flow.

When the hidden iframe is loaded with the source as the authorization server's endpoint, login.microsoftonline.com, in

[2020-08-27 10:27] jaslloyd commented on #2147
@technical-boy Is there an easy way we can guess the key msal stores it in so we can pull the username ourselves? I have a "hack" that i needed to do to pull the username @thoo1 but I need to loop through entire localStorage.

[code]

[2020-08-27 10:43] jrmcdona commented on #2196
@dglozano tracking last user that signed in works very easy with localStorage or cookie..  I wouldn't let it stop you from moving to auth code flow.

[2020-08-27 14:16] yogilad commented on #871
Hi @jasonnutter ,
A customer of ours has ordered an external audit of our SPA, and this issue was reported back as a vulnerability.
Is there an update on intention to fix this issue and any expected ETA for release?

[2020-08-27 14:33] froatsnook commented on #2195
I've been running into this lately, but can confirm that there's no more error message with 2.1.0. When I looked through the code I saw it wasn't actually using the account param when calling `acquireTokenSilent`, but rather using `this.getAccount()`. Not sure if this is still the case.

[2020-08-27 15:02] pawlikowski-michal commented on #1592
Does anyone was able to solve this issue using Angular 8? We tried almost every solution from this thread, but with no luck...

[2020-08-27 15:31] akleimrey commented on #2133
I'm using the Angular Wrapper, but I checked my dependencies, and we had the version of 1.3.3 of MSAL apparently. I installed the 1.3.4 version of MSAL but sadly, same issue.

[2020-08-27 15:41] ashokbugude commented on #1009
I am still facing the issue,
has anyone managed to solve it

[2020-08-27 15:54] jasonnutter commented on #871
@yogilad There is a PR up for user-provided storage in MSAL.js v2. It should be available in an upcoming release, but we don't have an expected ETA at this time.

[2020-08-27 17:19] technical-boy commented on #2200
Hi @kunalkankariya .

Cookies can be read and set either in a first-party context, i.e. where the domain is loaded in the top frame or a pop up, or in a third-party context, i.e. inside of an iframe inside a different domain. Privacy protection features such as Safari ITP prevent those cookies from being shared (i.e. cookies set for a given domain in a first-party context are not available when th

[2020-08-27 17:22] technical-boy commented on #2198
Closing as duplicate of #2177.

[2020-08-27 17:22] #2198 closed

[2020-08-27 17:32] technical-boy commented on #2195
@jviney thanks for raising the issue. We believe this is an issue with the AAD service and we've raised this issue with that team. We'll let you know when we have further information.

[2020-08-27 18:03] kunalkankariya commented on #2200
Thanks @technical-boy

The domain open inside the iframe (third party context) can set cookies right? Can these cookies be accessible by the same domain in first party context? (vice-versa of the point above)

[2020-08-27 18:07] CerosDev commented on #1795
@tnorling any official ETA? thanks

[2020-08-27 18:23] technical-boy commented on #2200
@kunalkankariya no, cookie storage is segmented. This means third-party cookie access is blocked for both scenarios.

[2020-08-27 19:10] technical-boy commented on #2193
Closing since the problem appears to have been resolved after consulting with @thoo1 .

[2020-08-27 19:10] #2193 closed

[2020-08-27 19:17] derisen opened #2203 "msal-browser 2.1 CDN resource: "failed to find a valid digest in the 'integrity' attribute for resource""
## Library
- [x ] `@azure/msal-browser@2.1.0`

## Framework
N/A

## Description
The integrity check fails for the latest msal-browser version CDN resource.

`<script src="https://alcdn.msauth.net/browser/2.1.0/js/msal-browser.js" integrity="sha384-knPh00kvaT+k3+4TCD5S2ORDNVc2I3RVbqI/ksbTlpdSBh8ZnyAPxW2kkTSG0+mT" crossorigin="anonymous"></script>`

## Error Message

"Failed to find a valid digest i

[2020-08-27 21:10] #2203 closed

[2020-08-27 22:02] technical-boy commented on #2185
Hey, @kumarunster. I can confirm this is in fact a bug in the `acquireTokenSilent` API. I'm working on fixing it. While we get it fixed, do you have a pressing reason to move to `1.4.0` or can you stay at `1.3.x` in the meantime?

[2020-08-27 22:28] jwahr commented on #1592
☝️ same. I get the error once in awhile, not all the time. Not good UX.

[2020-08-28 05:52] Shyam268 opened #2207 "401 unatherized on calling web api from angular"
angular/cli version 8.3.27
@azure/msal-angular @1.0.0
 i have integrated MSAL in anngular with reference of https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-b2c-overview
 login,signup and forgot password all functionalities working file

 but i facing 401 unatherized while

 webapi  registered in b2c directory with azure AD provided client id : yyy-yyy-yyyy-yyy. Added scope htt

[2020-08-28 06:07] kumarunster commented on #2185
@technical-boy thanks for confirmation. yes we stay with 1.3.4.

[2020-08-28 07:22] gunnamvasavi commented on #1592
On the routing @anth-git approach works fine, not seeing any issues but from the Interceptor side its not working. For Example I'm in a particular page and the token expires, clicking on some button in the UI would do an API call and at this point of time:

      Expected behavior: MsalInterceptor should take care of the token expiry and would give refreshed token.
      Actual behavior: Its throw

[2020-08-28 09:08] Shyam268 commented on #2207
Issue Fixed. there is missing configuration which is enable access token and Id token in App registration

[2020-08-28 09:08] #2207 closed

[2020-08-28 10:15] Lexcess commented on #2042
@jo-arroyo We have successfully used the sample in a test scenario. We see that it currently uses a popup and we also note that that is called out by the readme. Are there alternative mechanisms we can use with a SPA? Since by default all popups are blocked by policy at our organisation.

[2020-08-28 15:06] SimonWilliams-STL opened #2208 "Angular MSAL dependencies conflict on Angular 10"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.4.0`
- [X] `@azure/msal-angular@1.1.1`

## Description
Updating to Angular 10 makes the project dependent on tslib^2.0.0. Since @azure/msal-angular is dependent on tslib^1.10.0 this generates an NPM dependency warning:
[code]
In my project, th

[2020-08-28 17:48] tnorling commented on #440
This is now supported in version 1.4.0, you can switch your policy by providing the `authority` parameter on the request object.

[2020-08-28 17:48] #440 closed

[2020-08-28 17:52] tnorling commented on #1241
This was addressed in version 1.4.0. You can read more about the new response type logic [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/response-types.md). A separate bug when requesting **only** and idToken from `acquireTokenSilent` is being tracked in #2185

[2020-08-28 17:52] #1241 closed

[2020-08-28 17:56] tnorling commented on #2000
Addressed in version 2.1.0 by providing `getAccountByHomeId` API as recommended approach.
To use `getAccountByUsername` in B2C scenarios, enable the `emails` claim on the B2C tenant

[2020-08-28 17:56] #2000 closed

[2020-08-28 18:52] technical-boy commented on #2088
Closing, fixed in #2125 and released in v 1.4.0

[2020-08-28 18:52] #2088 closed

[2020-08-28 20:20] vaughanh1 commented on #1999
What is the ETA for this ticket please? Will this be fixed this week also?

[2020-08-28 20:38] tnorling commented on #1999
@vaughanh1 This will not be included with the CORS fix but will follow shortly thereafter. Unfortunately I am not able to share a more precise ETA as timelines are subject to change if issues are found during testing and/or deployment. Rest assured the work is currently underway and is being prioritized. I hope to share good news soon!

[2020-08-29 00:13] deasems commented on #2145
commenting for activity

[2020-08-29 07:28] ssuvorov commented on #2142
Up

[2020-08-29 11:54] devdeer-emeissner opened #2210 "How do I authenticate using msal-browser@2.x.x"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi MSAL Team, I am currently implementing authentication in my react app using MSAL 2.x.x with loginRedirect and handling the result in the handleRedirectPromise function, but for some reason,

[2020-08-29 19:10] jaslloyd commented on #2130
@technical-boy This worked out mostly great, I ended up using the az cli, the support wasn't the best in term of updating SPA urls but otherwise it worked. For anybody reading this later details can be found [here](https://github.com/Azure/azure-cli/issues/12946#issuecomment-679273199)

I also have looked in @JonDReese approach, i think we have another issue (#2139) about that so I will close this

[2020-08-29 19:10] #2130 closed

[2020-08-29 19:36] sudipbanfse commented on #1810
facing similar issue. Trying to implement on behalf of flow with implicit grant flow. So SPA calls backend api and backend api in turns calls microsoft graph api.
Configuration Details:
1. SPA has given API permission to backend api as delegated scope without admin consent in app registration.
2. BAckend API adds SPA as known client application and exposes api with scope , which can be granted by

[2020-08-30 01:58] gavinbarron commented on #2088
Thanks for this. Will upgrade our dependencies on Monday :)

[2020-08-30 05:43] yogilad commented on #871
Thanks!
We'll keep an eye on future releases.

[2020-08-30 16:52] gumowy-kaczak opened #2211 "How to control authorize endpoint oauth2/authorize vs oauth2/v2.0/authorize"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How to control authorize endpoint oauth2/authorize vs oauth2/v2.0/authorize?

It see

[2020-08-31 05:17] pawlikowski-michal commented on #1795
So today is the last day of the month. Any news? Can we expect a release this week?

[2020-08-31 06:13] DarkLite1 commented on #2123
@pkanher617 can you try the test case?

[2020-08-31 06:29] DarkLite1 opened #3470 "[Question] Is it best practice to use sessions?"
I've asked the same [question on StackOverflow](https://stackoverflow.com/questions/63464229/are-sessions-needed-for-passport-azure-ad-with-graphql) without any response so I'll try it here again.

I'm very new to web development but I've manged to set up a [client][1] and [server][2] app. The front-end uses [msal.js][3] to authenticate the user to Azure AD and the backend receives the `access_tok

[2020-08-31 07:05] dglozano commented on #2196
@jrmcdona yes, but for now it's not prioritized, so it's easier to just stay in version 1.x.x until we find time to make the change 😅

[2020-08-31 10:33] AndriiBoiko1 opened #2212 "forceRefresh for acquireTokenSilent throws no_tokens_found"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [+] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
"react": "^16.9.0",

## Description
When using acquireTokenSilent with forceRefresh: true -> getting an error "n

[2020-08-31 12:15] kunalkankariya commented on #2200
@technical-boy Thank you!

[2020-08-31 12:15] #2200 closed

[2020-08-31 12:18] jrmcdona commented on #2196
@dglozano I already moved to 2.1 tho.   And it was easy to do so,  like I said in my last post.    So I would not recommend staying in 1.x.x if somebody needs to move away from implicit flow.

[2020-08-31 13:16] kunalkankariya opened #2213 "BrowserAuthError: monitor_window_timeout: Token acquisition in popup failed due to timeout"
## Library
- [ ] `msal@2.1.0` or `@azure/msal@2.1.0`

## Framework

Using MSAL-Browser with SharePoint SPFx webpart that simply pulls data from graph API (No other logic implemented)

## Description
Remove all cookies / cache of the browser.

Login to SharePoint for the first time directly to the page where the webpart is present  -> asks you to sign-in -> SPFx webpart starts loading -> Try to acq

[2020-08-31 13:34] toddfsnyder commented on #1795
Please give us an ETA on when B2C will be supported by msal 2.0. Along with any other known issues for using msal 2.0 with B2C.

[2020-08-31 16:02] kunalkankariya commented on #2213
**UPDATE** :  I have resolved this by changing the iframeHashTimeout config value to 10s now, from the default value of 6s. This is after I looked at the implementation of monitorIframeForHash.

[2020-08-31 16:26] tnorling commented on #2212
@AndriiBoiko1 It looks like you are using B2C. Currently in order to get a refresh token in B2C scenarios you need to include the `offline_access` scope in the request. However, we strongly advise against doing this for production environments as including this scope will return a long lived refresh token. Please track issue #1999 for this issue as it is currently being worked on by the service an

[2020-08-31 16:26] #2212 closed

[2020-08-31 17:08] tnorling commented on #1795
We appreciate everyone's patience, I certainly understand the frustration. I know it has taken a while and we've now reached the date that was previously communicated but we're in the home stretch! I've been told the CORS fix started deployment late last week and is expected to be completed **this week**. You will not need to update MSAL when it completes as long as you are on a stable release of

[2020-08-31 17:32] FrancisMascarenhas opened #2214 "msal-angular fails to login user on safari browser in Mac, Iphone and Ipad"
## Library
- [ ] msal@1.3.4` or `@azure/msal@1.1.1`

## Description
msal loginRedirect is returning loginSuccess but not returning token and getting an Authentication error. This happens safari browser in Mac, Iphone and Ipad. Desktop version works fine.
msal loginPopup working fine in all browser.

## Expected behavior
msal loginRedirect should works

## Browsers/Environment
- [ ] Safari

[2020-08-31 17:41] technical-boy commented on #2211
@gumowy-kaczak could you provide your MSAL configuration? Also, could you please confirm which MSAL libraries your using (specifically, are you using any server-side library such as MSAL .NET in addition to MSAL JS?)

[2020-08-31 17:42] technical-boy commented on #2213
Thanks for the update, closing since it's resolved.

[2020-08-31 17:42] #2213 closed

[2020-08-31 17:43] technical-boy commented on #2214
@FrancisMascarenhas could you please provide your MSAL configuration, a code snippet where you show your usage of MSAL and any logs from the MSAL Logger? Thanks!

[2020-08-31 17:52] technical-boy commented on #2210
Hi, @devdeer-emeissner !

handleRedirectPromise will only return a token response when your application is returning from a redirect operation. If it returns null, that means that your app is not loading as a result of a redirect operation or handleRedirectPromise has already been called once in the page.

Could you confirm that this happens after returning from a redirect operation and that handl

[2020-08-31 17:54] technical-boy commented on #2208
@SimonWilliams-STL thanks for the information, we'll address this in a future version of msal-angular. We'll let you know if we need more information!

[2020-08-31 18:04] technical-boy commented on #2196
Hi @dglozano .

MSAL generates the account info based on the ID Token and client_info returned from the server for a given client application. This happens when the login request is completed, so `getAllAccounts` will only return a single account on the first request. When you complete a login request for a second account on **the same client application**, you'll have multiple account object in t

[2020-08-31 18:05] technical-boy commented on #2194
Hi @sahusankar7 . We recommend creating a new instance of UserAgentApplication for a second clientId. Let us know if this solves your question!

[2020-08-31 18:13] FrancisMascarenhas commented on #2214
Hi, Request admin to please delete this issue. No longer valid

[2020-08-31 18:14] technical-boy commented on #2171
Hey @mcdonnell-john . Does this happen if `storeAuthStateInCookie` is set to `true`?

[2020-08-31 18:21] technical-boy commented on #2166
@XingyangHuang could you provide the version of Chrome that you are using? Thanks!

[2020-08-31 18:32] technical-boy commented on #2163
Hey @rhnsharma999 . In regards to error handling, you can use [Promise.allSettled](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled) instead of `Promise.all`, which will always return a result promise even if one of the promises is rejected.

If you are concerned with the performance or side effects of multiple iframes, you should perform these re

[2020-08-31 18:33] #2214 closed

[2020-08-31 18:36] rellis-of-rhindleton opened #2217 "unprotectedResources ignored"
## Library
- [x] `@azure/msal-angular@1.1.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

Angular

## Description

I found this in the README after a couple of hours' worth of troubleshooting:

[code]

This is a breaking change. Using the default behavior of npm -- which sets up packages using the `^1.0.0` syntax -- installing the project fresh

[2020-08-31 18:41] gumowy-kaczak commented on #2211
Hello, sorry for missing those info, thought there was some simple switch:
Environment:
Angular client app with app registration connecting to web api with separate app registration.
Libraries:
    "msal": "^1.3.4",
    "@azure/msal-angular": ^1.0.0

I just realized that with `oauth2/v2.0/authorize` has improper `redirect_uri` url pointing to my configuration `postLogoutRedirectUri`.

[code]

Msal

[2020-08-31 18:46] #2160 closed

[2020-08-31 18:46] #2210 closed

[2020-08-31 18:47] gumowy-kaczak commented on #2211
Ach one more thing I just found.. when I perform logout it redirects me to `oauth2/v2.0/logout` and then when I try to login again it uses also `oauth2/v2.0/authorize`.
When I enter with new browser window it then redirects again to.. `oauth2/authorize`..

[2020-08-31 19:09] tnorling commented on #2099
This may be fixed by #2189. We'll update when the next release of msal-common goes out.
If you're able to build msal locally please try that branch and let us know if it does or does not solve the issue and we can take another look.

If this branch does not solve the issue a workaround in the interim would be to first call `getAccountByHomeId` and pass the `homeAccountIdentifier` from your `Accoun

[2020-08-31 19:20] tnorling commented on #2162
Can you confirm if you are using B2C local accounts or Social IDP logins? This is expected behavior when using Social logins with B2C. When you logout you are clearing local/session storage of your tokens for your app and closing the session with B2C, you are **not** logging out of your federated IDP (Google, Facebook, etc). This is because your app and the B2C service should not make any assumpti

[2020-08-31 19:23] JonDReese commented on #2139
Commenting to avoid this being closed as inactive, will look into more in the next few days.

[2020-08-31 19:52] rellis-of-rhindleton commented on #2217
After looking into this further -- it doesn't look like there is a supported way to make one of my API's endpoints unprotected, while keeping others protected.

For example, if our service is running in an orchestrated container environment, we will have a health check endpoint that is NOT protected (because the back-end services that call it will never have a token). But all other endpoints do ne

[2020-08-31 21:40] jasonnutter commented on #2217
@rellis-of-rhindleton The `null` pattern should work for v1. Can you also try using the negate syntax?

For example:

[code]

We decided to ignore `unprotectedResources` because it was causing a number of other bugs, and we are planning to remove it in v2. This was not a scenario we had tested for (all requests for the same root path needing tokens except for one, just using the base url), unfortu

[2020-08-31 22:24] rellis-of-rhindleton commented on #2217
Understood. I suspect it’s not a super-rare use pattern though.

The way the interceptor is written, negation doesn’t work. You’re correct that we have other APIs to add to the list. Minimatch would need to support regular expressions for negation to work out, I think.

If using null will work for the foreseeable future then we can get by with that. It looks like some of the other libraries throw

[2020-08-31 22:31] jasonnutter commented on #2217
Yes, we'll make sure `null` is supported as a way to denote something explicitly as unprotected.

[2020-08-31 22:32] rellis-of-rhindleton commented on #2217
Good enough, thanks.

[2020-08-31 22:32] #2217 closed

[2020-08-31 23:10] #2182 closed

[2020-08-31 23:35] deasems opened #2219 "Interaction required error not thrown after refresh token expires"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
N/A

## Description
I'm testing out long lived sessions and I'm occasionally seeing token requests fail in an unexpected way.

If an access token request fails because the refresh token had expir

[2020-09-01 00:26] deasems commented on #2219
Looking at the browser logs, here's some more info I found related to this issue. Prior to the request that produced the error logs above I see this error when requesting a token:

Maybe this error put MSAL into a state where it displayed the errors in my original post for subsequent requests?

Our app refreshes a token when the user comes online (ie `window.addEventListener('online', /* do refres

[2020-09-01 00:29] #1867 closed

[2020-09-01 00:29] #1766 closed

[2020-09-01 00:29] #1721 closed

[2020-09-01 04:55] NickDrawboard commented on #1999
Please get this fix out - asap - really need it!

[2020-09-01 05:19] Shyam268 opened #2220 "Force login for user"
i want Always ask for enter credentials when open a base url even the user already previously.
tried
 export const loginRequest = {
   scopes: ["user.read"],
   prompt: 'login',
 }
 this.authService.loginPopup(loginRequest);

this is not working for me

[2020-09-01 06:17] izikl commented on #871
@jasonnutter will it be available for `msal` library as well or just for `msal-browser`?

In `msal-browser` what is being persisted in local storage - the auth code, the access-token or both?

[2020-09-01 06:34] deasems commented on #2196
@technical-boy Is there a guaranteed order to the `getAllAccounts` array? In this scenario, what would the order would user one and two be in in this array?

I'd like to agree that having support for a 'single user mode' would be very convenient (and I think would be the common case given apps need to implement extra UI for multi-user scenarios).

[2020-09-01 08:32] VijayakannanRaju opened #2221 "How to write unit testing / e2e for the services using access token in Angular Project?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How to write unit testing for the services using access token in Angular Project?

[2020-09-01 08:57] AndriiBoiko1 commented on #2212
@tnorling Thanks for a quick reply, really appreciate that! I've tried to do what you suggested:

Added 'offline_access' to Sign in / acuireTokenSilent  scopes:
[code]
[code]

'no_tokens_found' error has gone, refresh token is in response BUT "null_or_empty_id_token" error appeared on silent call
localstorage:
![image](https://user-images.githubusercontent.com/57752495/91828652-165a3600-ec49-11ea-

[2020-09-01 09:34] mcdonnell-john commented on #2171
Hi @technical-boy I can give it a try, but I don't think we'll be able to go with that approach if it works, as we're looking to avoid using cookies to store any state in this application.

I'll let you know soon if it works though.

[2020-09-01 12:33] AndriiBoiko1 commented on #2212
also tried this:
[code]

The same effect: 'null_or_empty_id_token'

[2020-09-01 12:47] cvburgess commented on #1626
This is the approach i took: manually concatantaing the URL based on piecing together the docs around the web... but this seems crazy to me knowing MSAL has a fn for making the URL and it just does not support this at all.

Is there a reason MSAL only makes _some URLs_ and not URLs that require admin consent?

[2020-09-01 15:22] sam-wheat commented on #1867
I am sorry to see this closed without an explanation of what was wrong, if anything.  These are the kinds of issues that cost us days.

[2020-09-01 15:47] jasonnutter commented on #871
@izikl Only for `@azure/msal-browser`.

The access tokens, id tokens, and refresh tokens are cached in local/session storage. The auth code is only stored in memory.

[2020-09-01 16:05] tnorling commented on #2212
@AndriiBoiko1 Can you update to version 2.1.0 and let me know if that fixes it? This was a known issue with the initial release of msal-browser which should have been fixed in a subsequent release.

[2020-09-01 16:14] jmckennon commented on #2219
This is correct and the intended behavior. You should receive an `interaction_required` error if your refresh token is expired.

I'll be trying to reproduce this today as what you're seeing could definitely be a bug.

[2020-09-01 16:17] jmckennon commented on #2220
Have you tried `prompt: 'select_account'`?

Additionally, in the future, please fill out the provided template, as it helps us diagnose issues better.

[2020-09-01 16:20] jmckennon commented on #2221
Can you provide more details about the unit tests that you're trying to write and the things that don't make sense?

[2020-09-01 16:52] tnorling commented on #2050
@Dolevco Is this still an issue? If so can you try upgrading to 2.1.0?

[2020-09-01 17:26] jasonnutter commented on #2197
@akleimrey Our MSAL Angular samples demonstrate how to do popup and redirect based authentication: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-samples

Is there something specific you would like more clarification on? Thanks!

[2020-09-01 17:31] jasonnutter commented on #2164
@Jc25cool Does this error happen with Angular 9?

[2020-09-01 17:33] jasonnutter commented on #1626
Frankly, there hasn't been a large demand, and we have other features that were higher priority. That said, this is a feature we would like to add at some point, which is why I requested @derisen open this feature request to track it.

[2020-09-01 18:48] joshpitkin commented on #1592
Ok, I spent a day on this so I will share some findings and in case it helps anyone else..

In my implementation I don't need/want any special consent scopes yet, just openid and profile which I believe are default.

However the loginRedirect() -> [saveAccessToken()](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/70b87bcd27bfe67789c92b9bc046b45733f490ed/lib/msal-core/src/U

[2020-09-01 20:30] tnorling commented on #1592
@joshpitkin `loginRedirect` only requests an idToken, not an accessToken. The cache entry you are seeing that has scopes missing is actually the idToken. So when you call `acquireTokenSilent` it's looking for accessTokens which, by design, do not exist yet. We will be addressing this in #2206, which will update `acquireTokenSilent` to look for and return an idToken if that is what was requested.

[2020-09-01 22:23] joshpitkin commented on #1592
thank you @tnorling this helps explain a lot.  for now I will stick with 1.3.4 until we can use `acquireTokenSilent` to refresh just the idToken.

[2020-09-01 23:39] jeverduzco commented on #2147
I was thinking about migrating my applications to 2.x.x but because of this I can't do it, it completely breaks my UI where I show the name.

[2020-09-01 23:44] jasonnutter commented on #2090
Closing as a duplicate.

[2020-09-01 23:44] #2090 closed

[2020-09-01 23:47] jasonnutter commented on #2077
That is shown in the sample to support showing a login button, as the home page is not protected by the MSAL Guard. If you wanted to avoid using MSAL directly, you can add the guard to the home page and remove the login button. Note, you will still need a button to perform logout, as we don't currently provide a mechanism in MSAL Angular to invoke logout automatically.

[2020-09-01 23:48] jasonnutter commented on #2016
Closing as a duplicate.

[2020-09-01 23:48] #2016 closed

[2020-09-01 23:50] jasonnutter commented on #1588
This will be supported via #2060

[2020-09-01 23:53] jasonnutter commented on #1000
Closing, as MSAL Browser is now GA. If you have futher questions or concerns, please open a new issue, thanks!

[2020-09-01 23:53] #1000 closed

[2020-09-02 00:27] #2100 closed

[2020-09-02 10:10] dglozano commented on #2196
@technical-boy Thanks for the detailed explanation😄

Now if the behaviour is as you describe, then I think I am not understanding how does the SSO support plays out in that scenario. When User Two logs into App A, will he/she need to enter his/her credentials again?

[2020-09-02 11:11] VijayakannanRaju commented on #2221
I have implemented MSAL Module in app.module.ts

[code]

I have hosted an express webservice in localhost:3000 ( one of the protectedResourceMap that I mentioned in the MSAL configuration in the app.module.ts). The webservice uses Azure AD passport to validate the Bearer token.

Is there a way to write a unit test case in angular where I can call the azure protected service (http://localhost:3000/

[2020-09-02 11:16] ImantsSkultans commented on #2134
Still happening, sometimes. Noticed in previous Edge (non Chromium) and FF (version prior v68.12 (just recently got update)). Current assumption, that this happening when network is lagging - Azure authentication tries to store MSAL cookies, but authentication fails, then it goes in infinite loop tries to store cookies again and so on... and moment later there are a lot of cookies, which are added

[2020-09-02 11:35] Saxy commented on #2220
@jmckennon also with
`this.msalService.loginRedirect({
      prompt: 'select_account'
    });`
it does not work, the prompt seems to be ignored

[2020-09-02 12:04] akleimrey commented on #2197
@jasonnutter Works for my case! It was less of a coding issue than a configuration one. Redirect works much better than pop up on almost all fronts.

[2020-09-02 16:12] jmckennon commented on #2219
@deasems I was able to reproduce a timeout when I call `acquireTokenSilent` when I both had an invalid refresh token AND while disconnected from the internet, which is likely what you're seeing here. I think that your hunch is also likely correct, so can you try waiting for a second or two after the user goes online in your app to make the network/token calls?

We'll look to see how this scenario

[2020-09-02 16:21] jmckennon commented on #2220
@Shyam268 @Saxy We've been unable to reproduce this issue, can you both provide your msal configurations and versions?

[2020-09-02 16:30] jmckennon commented on #2211
@gumowy-kaczak Can you record a fiddler trace and email it to me at the email on my profile?

If you could also provide details on the "weird behavior" you're seeing and the differences between using the various endpoints, that would help as well.

[2020-09-02 20:06] vaughanh1 commented on #1999
@tnorling Please can you also pin this issue? As you know, this and https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1795 are both critical for B2C usage.

[2020-09-02 22:38] mindcrash opened #2224 "How to simplify the authentication flow given several unique app instances"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
My team is building a multitenant application which uses a unique url per tenant/instance (as of now instance.applicationname.tld). We use AAD and MSAL to provide authentication and authorizati

[2020-09-03 10:06] #2197 closed

[2020-09-03 10:56] rajithakolan commented on #2177
@jasonnutter  Any update on the above?

[2020-09-03 11:44] daniel-seitz commented on #2159
@master-maintenance1-peer-connect we had the same issue, make sure you configure the AppRegistration correctly, especially inside the Authentication blade. Use "Single-page application" as a platform and set the redirect uri correctly.

[2020-09-03 12:44] daniel-seitz opened #2225 "ssoSilent in IE11 results in "BrowserAuthError: monitor_window_timeout: Token acquisition in popup failed due to timeout.""
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0` (& @azure/msal-common@1.2.0)
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 10

## Description
a. Upon loading (refreshing) the app my code initializes

[2020-09-03 16:38] tnorling commented on #2212
@AndriiBoiko1 Currently `acquireTokenSilent` does not automatically request scopes `openid` and `profile` which are required in order to get back an `idToken`. We plan to address this in an upcoming release but for now you can add these scopes to the request when you need an `idToken`. Unfortunately this may result in a cache miss if the server does not respond with those scopes so if performance

[2020-09-03 17:05] shahrukh25795 opened #2226 "Azure AD B2C : Login Redirection not working as expected"
In my electron application, I tried including the Pop-Up login but it isn’t redirecting back to my application after successful login, instead redirecting to new webpage. Please suggest how to achieve that.

I also tried with Redirection method but got no luck.

[2020-09-03 17:43] XingyangHuang commented on #2166
@technical-boy  we are using version 84.0.4147.125 (Official Build) (64-bit).
Thanks.

[2020-09-03 17:44] XingyangHuang commented on #2166
@dsm0880 the current solution for us is to get a try-catch around when trying to creating the msal incident so we won't throw... but for totally fix it should requires the msal code change..

[2020-09-03 18:03] dsm0880 commented on #2166
@XingyangHuang What do you do instead when the error is caught? The error is coming within MSAL, do you branch their code and deal with the try catch directly inside MSAL? If not and you are catching the error and handling in your code, what are you doing to handle?

[2020-09-03 18:34] vaughanh1 commented on #1795
@tnorling We are fast approaching the end of the working week. May we all have a quick update please. Is it likely going to land today or tomorrow? Thanks ☺️

[2020-09-03 19:08] sunny-ranjan-accenture commented on #1795
Hi @tnorling , we have to deliver a very big project to our client. We are currently blocked by this cors issue. We have a very hard deadline very very soon. Any timeline when this cors issue will be solved? Thanks

[2020-09-03 19:15] tnorling commented on #1795
Update: The CORS fix will complete rollout sometime today. I just tried on my own B2C tenant and the issue seems to be resolved. Please give it try and if it's still giving you an error try it again tomorrow as it may take some time to roll out to all users. I will leave this issue open for a few days in case some of you are still experiencing issues after tomorrow.

Please do keep in mind that B2

[2020-09-03 19:35] cvburgess commented on #1626
Awesome, well if i can help i gladly will.

The code i wrote on our end it working without issue thus far, so it should be pretty simple!

[2020-09-03 19:40] vaughanh1 commented on #1795
@tnorling I can confirm, I see it working from my B2C tenant. I will give it a good test tomorrow and will report back if we run into issues. A big thanks to you and your team for getting this over the line, most appreciated.

[2020-09-03 20:28] XingyangHuang commented on #2166
@dsm0880 not, we just using the try/catch over our code when trying to create msal indecent, and return undefined if it is not able to be created

[2020-09-03 20:32] jasonnutter commented on #2166
Thanks for the information, we're on fixing this, should be available in next version of MSAL.js v2.

[2020-09-03 21:34] sangonzal commented on #2144
Never heard back.

[2020-09-03 21:34] #2144 closed

[2020-09-03 21:35] #1927 closed

[2020-09-03 22:29] jmckennon commented on #2226
@shahrukh25795 Could you please fill out the issue template in addition to providing your msal configuration and versions that you're running?

Make sure that both the `redirectUri` is configured to the page you want it to redirect to in both your app and the portal.

[2020-09-03 22:41] jmckennon commented on #2224
To clarify your use case: you have one single multi-tenanted app. It uses a unique url per instance (possibly 100s of different urls). These URLs are inevitably included in each redirectUri, so you also need 100s of different redirectUris registered in the portal/AAD. Is this correct?

[2020-09-03 22:57] GabrielFerrarini commented on #1795
@tnorling I'm also not seeing the CORS issue on my tenant as well.

[2020-09-04 05:59] JuanGarciaCarmona commented on #1437
This issue is not new, there was an issue that said "[With multiple accounts, user is redirected through login experience twice](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/842#issue-469964218)" and they told that it was happening with multiple Google Accounts (https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/842#issuecomment-621531835) but th

[2020-09-04 07:28] sunny-ranjan-accenture commented on #1795
Hi @tnorling , the Cors problem has disappeared but i am getting this error :
AADB2C90079: Clients must send a client_secret when redeeming a confidential grant.
Correlation ID: c6a1b789-39e8-4789-9c67-14d1d52b85f0
We have a gatsby frontend application using @azure/msal-browser
How this problem can be solved?
 By setting redirectUri type to "spa" in application manifest in azure b2c?
Thanks

[2020-09-04 08:16] mindcrash commented on #2224
Hi Jake,

Yes, this is exactly the use case. I am currently working on a (rather crude) prototype which does something like the following:

1. Some necessary bits (e.g. current page, some form of correlation key) are encoded and put into the state parameter
2. The authorization request is made against the AAD OAuth 2 v2 authorize endpoint
3. User signs in through either Microsoft Account or AAD si

[2020-09-04 09:11] dfibuch commented on #1795
Looking good guys!

[2020-09-04 09:46] AndriiBoiko1 commented on #2212
@tnorling  Many many thanks to you! good luck with releases

[2020-09-04 10:46] GabrielFerrarini commented on #1795
@tnorling Not sure if this is related or if it's a known issue, but I'm able to login, and I don't get the CORS error, but I can't see the username anywehere. And tentantId is undefined in the localstorage.

**This is what I get with the getAllAccounts() function**

![image](https://user-images.githubusercontent.com/14163427/92230733-00838580-ee82-11ea-9087-8cfb59d28ad5.png)

**This is what I have

[2020-09-04 11:24] GabrielFerrarini opened #2228 "The Login requested responseMode parameter is not respected (Redirect and Popup)"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Next Js + React

## Description
Changing the response mode parameter to start a login flow doesn't have any effect on the popup or redirect urls that follow when either `loginPopup` or `loginRedi

[2020-09-04 13:12] mindcrash commented on #2224
Since we actually need to support this on a pretty short term I am currently hacking on a forked dev branch to integrate some things which could work for us.

I will submit a PR when ready.

[2020-09-04 14:14] shahrukh25795 commented on #2226
Hi @jmckennon,

I am using this msal@1.4.0 for my Microsoft Authentication Library (MSAL) and below is my configuration file of this project.

**Library**

-msal@1.4.0

**Framework**

-Electron + Reactjs

**Error Message**

-Failed to load response data

**MSAL Configuration**

const b2cPolicies = {
    names: {
        signUpSignIn: "B2C_1A_SignUpSignIn",
    },
    authorities: {
        signUpS

[2020-09-04 16:24] prooli22 commented on #1795
It works for me as well ! Thank you for the update

[2020-09-04 17:04] pkanher617 commented on #2224
@mindcrash thanks for reaching out. MSAL.js can currently only support redirect URIs that are on the same domain as the application that is requesting the tokens. This is because we rely on local/sessionStorage to check state and nonce, as well as some other features that rely on the same-domain policy.

You will, at the very least, have to register either a separate application or a separate redi

[2020-09-04 17:23] jmckennon commented on #2228
This is currently by design as the library is built to specifically use the fragment response mode, which is done as a security consideration as the fragment of the URL is not sent to the server and modifying/clearing the fragment does not result in a new page load.

What's the use case that you're looking to use this feature for? We have considerations to implement something like this in the futu

[2020-09-04 17:25] jmckennon commented on #2142
@ssuvorov can you send a fiddler trace for this to the email on my profile? We'll be able to help further with that information.

[2020-09-04 18:01] #1346 closed

[2020-09-04 18:16] jmckennon commented on #2225
Yes.

"BrowserAuthError: monitor_window_timeout: Token acquisition in popup failed due to timeout."

This is a known issue that the error message is incorrect, it should say "iframe" instead of "popup".

I'm going to be trying to reproducing this today/Monday and will report back, this could definitely be a bug.

[2020-09-04 20:35] GabrielFerrarini commented on #2228
@jmckennon I don't have a specific use case. I thought it was supported because I didn't find any mention in the docs about it (I didn't reall ALL of the docs though). But I did found some comments in code stating otherwise: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/request/RedirectRequest.ts#L17

[2020-09-04 20:36] kwilkins commented on #2166
Thanks for the update @jasonnutter! Can you confirm if the fix you mentioned will cover both SessionStorage and LocalStorage options if they are blocked with a `Access is denied for this document` error?

[2020-09-04 20:46] jasonnutter commented on #2166
Yes.

[2020-09-05 08:41] jacksonhart opened #2231 "Tokens not being cached properly - 'No matching token found when filtering by scope'"
Bug Report / Configuration Help

Chrome 84.0.4147.135

msal-angular 1.1.1
msal 1.3.3
angular 9.1.12

I am getting 'No matching token found when filtering by scope' causing a token request on each page route instead of fetching it from the cache.
I am not intentinally trying to acquire tokens for scopes that span multiple resources as mentioned in [1240](https://github.com/AzureAD/microsoft-authent

[2020-09-05 10:42] ssuvorov commented on #2142
@jmckennon sent. Thanks

[2020-09-06 16:43] dfibuch commented on #1795
Can someone clarify what the `authority` in `MsalConfig` should be set to for ADB2C scenario?

I have it set to `https://tenantName.b2clogin.com/tenantName.onmicrosoft.com/b2c_1_sign_in` and it's working, but this feels wrong and setting it to anything else gives me CORS error.

[2020-09-06 19:27] derisen commented on #1795
@dfibuch that's how it should be. Check out the [docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md) for more.

[2020-09-06 23:31] rangeranger opened #2234 "ClientAuthError: Login_In_Progress: Error during login call - login is already in progress."
## Library
- [x] `msal@1.4.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 10
## Description
I'm getting the below error when a user is trying to log in for the first time. The login is always successful. But, the error is logging in the browser console.

## Err

[2020-09-07 10:35] master-maintenance1-peer-connect commented on #2159
@daniel-seitz Tanks to responce.
I tried your suggestion.
But the results have fallen back.

* Previous AppRegistration setting:
![makeactivity2-AAD-redirect-setting-0801](https://user-images.githubusercontent.com/64691446/92378160-51c09d00-f140-11ea-86e8-be67dec108cd.png)

* Configuration as suggested:
![makeactivity2-AAD-redirect-setting-0907-2](https://user-images.githubusercontent.com/64691446

[2020-09-07 11:24] dfibuch commented on #1795
Oh perfect, thank you for that link. There are so many variants of these settings that it was confusing the hell out of me. The reason I asked is I was getting a error in my console on a POST to
`https://tenantName.b2clogin.com/tenantName.onmicrosoft.com/b2c_1_sign_in/oauth2/v2.0/token`

`Error: AADB2C90205: This application does not have sufficient permissions against this web resource to perform

[2020-09-07 11:40] h3rmanj opened #2236 "MSAL v2 App Registration with CLI"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
For msal.js v2 to work properly, the reply urls in Azure has to be specified under "Single Page Application". This is available during creation of an App Registration in the UI. Is the same pos

[2020-09-07 17:49] rangeranger commented on #2234
I get _**ClientAuthError: Login_In_Progress: Error during login call - login is already in progress.**_ in local. In production, it is always throwing an error **_ClientAuthError: Token renewal operation failed due to timeout_**. I use sessionStorage and I don't why it gives Token renewal operation failed error when the user is logging in for the first time.

[2020-09-07 17:56] rangeranger commented on #1592
@anth-git I'm not able to tag you in my issue directly. So, commenting here. Can you please look into [this ](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2234#issue-694570747)issue? I configured exactly how you mentioned. I still get some errors.

[2020-09-07 18:24] derisen commented on #1795
@dfibuch glad you got it solved : ) If you followed the samples you should be fine. The first sample you point to uses MSAL.js 1.x, but a more up to date 2.x sample will be out soon.

[2020-09-07 18:33] derisen commented on #2236
@h3rmanj this option is not available at the moment unfortunately, but it is in the backlog (feel free to raise a user voice [here](https://feedback.azure.com/forums/169401-azure-active-directory)). You could alternatively use MS Graph to [create an application](https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-1.0&tabs=http), which gives you more options and

[2020-09-07 19:01] anth-git commented on #2234
1. initialNavigation should be `disabled` when in an iframe. So if you need it for some reason, it should be `initialNavigation: isInIframe() ? 'disabled' : true` and if you don't need it, it can be just `initialNavigation: 'disabled'`
2. If still doesn't work, you can try do downgrade to previous version `"msal": "1.3.4"`. I encountered some problems with `1.4.0`
3. It probably has nothing to do

[2020-09-07 22:16] cvburgess commented on #1626
the adminconsent endpoint doesnt seem to return a code for `acquireTokenByCode` even though that param is set. Does that enpoint not support it?

[2020-09-08 06:53] ssunkara79 opened #2237 "couldn't get token from acquiretokenpopup,opens the popup ,still have an 404 issue,after entered the credentials in popup"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [ ] Internal (MSAL.js team)
- [ ] Customer request

## Description

## Priority

## Acceptance Criteria

[2020-09-08 07:48] mderriey opened #2238 "Library triggers authorization requests to get id tokens on every route change"
## Library
- [X] `msal@1.4.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

Angular 9

## Description

The framework generates too many id token requests when switching routes.
We have a relatively basic setup, with different routes that use MsalGuard to ensure that users are signed in, and e

[2020-09-08 07:52] khatran79 opened #2239 "TypeError: glob pattern string required on angular azure msal 1.1.1"
## Library
- [x] `@azure/msal@1.1.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.1`.

## Framework
Angular 8.2.8

## Description
Working fine with ng serve or ng build. Failed for ng build-prod or ng serve --aot

## Error Messa

[2020-09-08 07:53] mderriey commented on #2238
I reverted back to `msal@1.3.2` and `@azure/msal-angular@1.0.0`, and can confirm that no additional requests are made when navigating between pages.

There are still two entries in the cache.

Entry number 1:

[code]

Entry 2

[code]

[2020-09-08 11:14] h3rmanj commented on #2236
Not optimal, but got it working by calling MS Graph from the CLI.
`az rest -u https://graph.microsoft.com/v1.0/applications -m post -b '{\"displayName\":\"MyApp\",\"spa\":{\"redirectUris\":[\"http://localhost:3000\"]}}'`

Did some research, and `az ad` currently uses the Azure Graph, which does not support SPA. They have plans to move over to MS Graph, when that gets implemented I'm guessing suppo

[2020-09-08 11:14] #2236 closed

[2020-09-08 11:14] tom171296 commented on #1824
Are there any update or workarounds for this issue?

[2020-09-08 11:18] mcdonnell-john commented on #2171
@technical-boy I delayed trying the storeAuthStateInCookie as we didn't notice this happening so often, actually in the week/2 weeks since we upgraded the msal library to 1.4.0, we've not seen this outside of a private browser tab, so happy to close out issue.

[2020-09-08 11:18] #2171 closed

[2020-09-08 12:35] khatran79 commented on #2239
Resolved by wrapping new Map over protectedResourceMap:

`protectedResourceMap: new Map(protectedResourceMap),`

[2020-09-08 14:10] BristolJim opened #2240 "SSO between apps"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm running the following sample app:

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/ssoSilent

I'm having tr

[2020-09-08 14:22] forellendev opened #2241 "Support form_post as response_mode"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Support form_post as response_mode to guarantee optimal security. Instead of sending the authorization code directly to the current site or redirect_uri in the url bar, send it via a POST-Reque

[2020-09-08 16:35] amng9560 commented on #2050
Hi I was wondering if this was fixed or how someone fixed this issue? I'm having the same problem and I've followed the instructions here about the redirectURI and navigateToLoginRequestUrl.

My application is using handleRedirectPromise and it checks to see if a user is logged in. I am pretty stumped so any help I can get would be great.

[2020-09-08 18:40] jmckennon commented on #2239
@khatran79 If you're still looking for help on this next error you're getting, can you please provide more information (e.g., msal configuration, versions, detailed error, and usage) so that we can help further? If you've got your own app, you should base your msal code on our samples, seen [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samp

[2020-09-08 18:42] jmckennon commented on #2237
@ssunkara79 We'll need more information to help you with the problem, can you please fill out the provided issue template with your config, versions, and msal usage?

[2020-09-08 19:02] jmckennon commented on #2221
Yes, there are many ways to do something like this. I would recommend either of the following:

1. Unit test the msal functionality by mocking the response using a library like [Sinon](https://sinonjs.org/).
2. E2E/Integration test the entire app using a library like [Puppeteer](https://github.com/puppeteer/puppeteer).

Since everytime you make a request to the server to get a new access token, th

[2020-09-08 19:04] sikemullivan opened #2243 "Doesn't compile with Typescript"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React with Typescript

## Description
I created a React application with Typescript. Created an authentication service that uses msal-browser. The service fails to compile.

## Error Message
[co

[2020-09-08 19:14] kunalkankariya opened #2244 "Access to fetch at 'https://login.microsoftonline.com/<tenantid>/oauth2/v2.0/authorize' (redirected from 'https://localhost:44368/api/values') from origin 'client domain' has been blocked by CORS policy"
## Library

- [x] `@azure/msal-browser@2.1.0

Trying to access a custom .NET API hosted in local using IIS express (localhost) and secured with Azure AD using a Single page client application that uses msal-browser for authentication. I get the following error

Access to fetch at 'https://login.microsoftonline.com//oauth2/v2.0/authorize?client_id=xxx4f96-a766-4ec18f91802c&redirect_uri=https%3A%2F%

[2020-09-08 19:21] pkanher617 commented on #2244
@kunalkankariya Could you please follow the template and include your msal configuration and a code snippet? It's not immediately clear that this is a JS issue.

For one thing, the quickstart you are downloading isn't even a Javascript or Typescript quickstart.

The error you are receiving is also clearly coming from the .NET library. I recommend taking a look at their docs and repo to ensure you

[2020-09-08 19:22] jmckennon commented on #2240
I am assuming that you're using the sample out-of-the-box. You will need to change the authority in `authConfig.js` to match the authority with whatever app you're trying to get SSO with. If this is just logging in with a school or work account to Dynamics 365, you will probably want to use the default common authority of `https://login.microsoftonline.com/common/`. The sample app will not work wi

[2020-09-08 19:25] jmckennon commented on #2228
Yeah, we should change that comment in the `msal-common` library and clarify in our docs for `msal-browser` that it can only use the fragment response type. Those fields are made for the `msal-node` library (and potentially others in the future). Will mark this as an enhancement.

[2020-09-08 19:25] derisen commented on #2244
Also, there are several JS code samples that work with a .NET web api, as shown [here](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi), [here](https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo) and [here](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnet-webapi-multitenant/tree/master/Chapter2).

[2020-09-08 19:30] pkanher617 commented on #2243
@sikemullivan What version of typescript are you using in your project?

This may be an issue where `"noImplicitAny"` is running incorrectly on Typescript versions <3.7. Here are some similar and related issues:

- https://github.com/vercel/next.js/issues/9996
- https://github.com/microsoft/TypeScript/issues/33894
- https://github.com/aws/aws-cdk/issues/5497

 If this isn't a typescript version is

[2020-09-08 19:32] kunalkankariya commented on #2244
@pkanher617 ,

Apologies if I didn't clearly specify the details. I have updated the original issue. I have two apps, one is a .NET WEB API secured with Azure AD authentication using OWIN and OpenIDConnect. The other is a client application (Single page app) that uses msal-browser to access this API.

I am able to get the access token but when I try to access the API endpoint using the bearer toke

[2020-09-08 19:33] jmckennon commented on #2241
More info on this in #2228.

This is by design for the `msal-browser` library as a security consideration. The fragment of the URL is not sent to the server and modifying/clearing the fragment does not result in a new page load. The other response_mode fields are for the `msal-node` library.

What's the use case you have where this would be useful? We have considerations to implement something lik

[2020-09-08 19:45] kunalkankariya commented on #2244
@derisen ,

Thank you for the samples. I reckon they use the implicit flow and I am using the auth code grant flow using msal-browser. Also, I have been able to use the msal-browser to call the graph API without any issue. I was now trying to access a custom .net web api.

[2020-09-08 19:54] derisen commented on #2244
@kunalkankariya you're welcome : ) the [second one](https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo) is using `msal-browser` so it should cover your case. It's not clear from your post but In general I would recommend using separate app registrations for your spa and web api -your issue might be that both apps use `localhost:*` for `redirect uri` but with di

[2020-09-08 20:39] sikemullivan commented on #2243
The dev dependency is typescript 3.6.4. I'm using the latest Visual Studio .NET Core 3.1 React + Redux template.

I tried turn setting noImplicitAny with both true and false. That didn't help at all. I modified /node_modules/@azure/msal-common/dist/src/authority/Authority.d.ts manually to get it compiling.

[code]

[2020-09-09 00:05] khatran79 commented on #2239
Thansk @jmckennon. All good. My config values are available after the MsalModule is initialised so that null values are appeared in Msal config.

[2020-09-09 00:05] #2239 closed

[2020-09-09 00:29] #2156 closed

[2020-09-09 00:29] #2143 closed

[2020-09-09 02:16] Georgeoak commented on #1795
Is there a working example with B2C tenant, using MSAL.js 2.0 (msal-browser) and the Authorization Code Flow with PKCE?
Does anybody try that?

I tried this example: MSAL.js 2.x Sample - Authorization Code Flow in Single-Page Applications
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0
But seems it's not working with B2C.

[2020-09-09 02:20] blip2 commented on #1795
Also have tried several times to get this working with the examples and otherwise. Will be sticking with ADAL for now!

[2020-09-09 02:27] MaximBalaganskiy commented on #1795
@Georgeoak I've recently upgraded to `msal-browser` to connect to B2C via the new protocol.
The thing which got me puzzled personally is setting `knownAuthorities` to an array of your tenant names, e.g. `['myb2c.b2clogin.com']`.

[2020-09-09 03:50] derisen commented on #1795
@Georgeoak @blip2 samples in this repository are meant for internal use and testing -apologies for the difficulty. A new set of samples with a friendly setup will be out in a few days. If you've run into a particular problem please feel free to open an issue.

[2020-09-09 04:44] sidecus opened #2246 "state_mismatch error when multiple acquireTokenSilent are fired "simultaneously""
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
I am currently using @azure/msal-browser@2.1.0 PKCE flow (redirect) in my React app. From

[2020-09-09 05:31] sidecus commented on #2246
BTW, I just added a poor man's sync lock on top of msal to guard acquireTokenSilent, and this issue is resolved.

[2020-09-09 06:27] daniel-seitz commented on #2225
@jmckennon Thank you.

In my 'determineInitialState'-method I check if this is being called in an iframe and return. Otherwise I continue.
Looks like ssoSilent then creates the iframe and then times out.

Let me know if you need further info.

Daniel

[2020-09-09 06:37] forellendev commented on #2241
@jmckennon This [RFC](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html) points out security implications when encoding response values in a query string or a fragment value.
The use case would be to make the callback site an endpoint that receives the POST-Request from /oauth/v2.0/authorize and then hands it over to the inquiring client.

[2020-09-09 06:55] kunalkankariya commented on #2244
@derisen ,

Thank you.

I already have two app registrations. One for the Web API (web) and one for the client which is a JavaScript SPFx webpart (SPA). WebAPI uses localhost as redirect URI and the SPA client app registration uses the sharepoint URL as redirect URI.

[2020-09-09 07:15] daniel-seitz commented on #2225
Just to note if helpful: When I call ssoSilent again and again, the pattern seems to be:

1. doesnt work
2. works
3. doesnt work
4. works
5. doesnt work
6. works
7. doesnt work
8. works
...

[2020-09-09 08:12] BristolJim commented on #2240
Thanks for the quick reply.

I have configured authConfig.js with the relevant authority `https://login.microsoftonline.com/<our tenant id>`
I think the configuration is good as I can login by calling `signIn("loginRedirect")`. In fact, with interaction, it all works ok.

I think the issue I have is that *the first time* a user visits the SPA, `myMSALObj.getAllAccounts()` in ` handleResponse()` re

[2020-09-09 09:30] winperec opened #2247 "Base64 encode/decode operation works incorrectly for strings which contain percent-encoded symbols like %20"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Base64 encode/decode operation works incorrectly for strings which contain URL encoded symbols like %20
## Error Message
As a result if the application URL contains spaces or any encoded symbol

[2020-09-09 10:06] rSandona commented on #2161
I also ran into this issue updating from V1 to V2

[2020-09-09 10:35] ssunkara79 commented on #2237
using this "@azure/msal-angular": "^0.1.1" to authenticate B2C Account,we are using MSAL Guard for routes.

Below is the authentication code
import { Injectable, Inject } from '@angular/core';
import { HttpClient } from '@angular/common/http'
import { User } from '../../account/account.user';
import { Observable } from 'rxjs/Observable';
import * as Msal from 'msal';

import { EnvService } from '.

[2020-09-09 11:20] ssunkara79 commented on #2237
Getting the below 2 errors
This application does not have sufficient permissions against this web resource to perform the operation. Could not silently retrieve token from storage.
AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.

[2020-09-09 13:03] kumarunster commented on #2185
Hello, @technical-boy, @tnorling any issues with PR #2206 ? It is two weeks already since the pr is hanging, is any further help required?

[2020-09-09 16:09] jmckennon commented on #2231
@jacksonhart Are you using the `msal-guard` on your routes?

[2020-09-09 16:13] jmckennon commented on #2247
Thanks for the information, I'll take a look at your PR today and see if I can repro the issue and use the fix from your PR.

[2020-09-09 16:16] jmckennon commented on #2246
Closing this as a duplicate of #2175. As you mentioned, mitigation for now is to make the request in serial.

[2020-09-09 16:16] #2246 closed

[2020-09-09 16:21] jmckennon commented on #2226
@shahrukh25795 At this time, Electron is not a fully supported scenario in `msal-js`, but we do have a rough proof of concept in our repo [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/experimental/msal-electron-proof-of-concept).

cc @technical-boy

[2020-09-09 16:26] jmckennon commented on #2134
@ImantsSkultans What version of the library are you using?

[2020-09-09 17:41] pkanher617 commented on #2243
@sikemullivan Ideally the TS shouldn't erroring on private getters, this is the bug that I am referencing above.

Strange, I figured setting this to false would have fixed it. Upgrading to Typescript 3.7+ should fix the issue until we can get a new release out. Thanks for bringing this to our attention!

[2020-09-09 18:15] pkanher617 commented on #2196
@deasems I'm not sure I understand what you are trying to do here. Our docs on the account management need to be greatly improved, so this is probably the source of confusion here...

The array is unordered - you will have zero or more objects with unique homeAccountIds.

Our decision to not include a single-user mode was made because ideally developers should be managing the accounts that are sig

[2020-09-09 18:29] Georgeoak commented on #1795
@derisen Thank you for the heads up.
I just tried the latest version msal-browser v2.1.0, it works well with my B2C tenant.
Previously I had problem with msal-browser v2.0.1, got an error "_Cannot read property 'interactionType' of null at PublicClientApplication.getRedirectResponseHash_" when sign in to B2C.
Since 2.1.0 is working, I'm good with that.
Thanks.

[2020-09-09 19:33] AndreiZe commented on #2246
@jasonnutter , @jmckennon , do you have a timeline on 2.1.1 release? We had to roll back to using 1.x in our app due to this issue: proposed workaround (make token fetches serial) causes perf regression.

[2020-09-09 21:37] technical-boy commented on #2185
Hi @kumarunster . We're currently working on testing the changes in the PR, we'll let you know if we need more information. Thanks!

[2020-09-09 22:08] tummah commented on #2042
This was so frustrating for me I decided to switch away from msal.  I'm building an Angular app with Azure AD B2C and couldn't fathom having to tell my users not to block third party cookies (how un-user friendly!).  So I went with this library: https://github.com/IdentityModel/oidc-client-js.  It was so easy to implement with Azure AD B2C (took about a day with troubleshooting) and supports PKCE.

[2020-09-09 22:21] Lexcess commented on #2042
As an update. We looked at the sample @jo-arroyo linked and it was a pretty bad experience. It used a popup model, and most browsers blocked the popup by default. So users had to approve the popups, it also outright failed on our tests using mobile devices. After some investigation and conversations with Microsoft Premium Support we managed to modify the integration to use the alternative redirect

[2020-09-09 22:24] dsm0880 commented on #2042
For what it's worth, it worked great for me and my team. We've been using ADAL for years and the switchover was great and pretty seamless. Again, everyone has their unique situations and challenges, but thought it was worth mentioning. We are on Angular 10.

[2020-09-09 22:32] Lexcess commented on #2042
@dsm0880 this thread around the MSAL-Angular package not the old ADAL-Angular one. I don't think ADAL has been updated in about three years.

[2020-09-09 22:34] dsm0880 commented on #2042
@Lexcess Yup yup, if you read above I said "the transition." So we did switch over to MSAL, the one point of clarification that I should have mentioned above was we moved to MSAL 2.0 which includes PKCE addressing the 3rd party cookie issue. Hope that adds some clarity.

[2020-09-09 22:38] Lexcess commented on #2042
Sure, the pain of the transition in this thread was around moving from a dedicated Angular integration to a generic one. I could see how moving from an outdated generic ADAL to generic MSAL would be a better experience.

[2020-09-09 23:27] rcbevans opened #2253 "Redirect Login Leaving trailing /# after specified `redirectStartPage`"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React 16.13.1

## Description
After loginRedirect `/#` is left after the specified `redirectStartPage`.

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [X] D

[2020-09-09 23:35] rcbevans opened #2254 "Access to fetch at 'https://login.microsoftonline.com/common/oauth2/v2.0/token' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React 16.13.1.

## Description
I am trying to migrate our site from @azure/msal@1.2.2 to @azure/msal-browser@2.1.0 and can't get login working.

On page load, the login redirect is triggered, I c

[2020-09-09 23:41] sidecus commented on #1795
Mine is working as well. Thanks team for the hard work.

However when the acquireTokenSilent call is made (after signing in), I am always seeing 3 calls to the token endpoint, and one of them ended with HTTP 400.
1. scope: [openid offline_access profile], grant_type: authorization_code, HTTP 200
2. scope: [my_api_scope], grant_type: refresh_token, **HTTP 400**
3. scope: [my_api_scope, openid, prof

[2020-09-09 23:52] pkanher617 commented on #2254
@rcbevans There is a migration guide [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md) that should guide you through this process. This error usually occurs because the redirect URI registered in Azure is not of type SPA.

[2020-09-10 00:09] rcbevans commented on #2254
Thanks for the quick response, we recently migrated apps to torus so I'll double check that configuration.

[2020-09-10 00:28] #2069 closed

[2020-09-10 02:59] rcbevans commented on #2253
Updating the AAD config to be SPA redirect URIs rather than Web (and also enabling code auth flow rather than implicit) seems to have resolved the issue.

[2020-09-10 02:59] #2253 closed

[2020-09-10 03:00] rcbevans commented on #2254
Updating the AAD config to be SPA redirect URIs rather than Web (and also enabling code auth flow rather than implicit) seems to have resolved the issue.

[2020-09-10 03:00] #2254 closed

[2020-09-10 03:34] ollief87 commented on #2042
We feel pretty let down by all of this. Solution is leveraging Azure AD B2B and Premium P2 licences. We are investigating other solutions now from Okta and Auth0...

[2020-09-10 05:52] #1914 closed

[2020-09-10 06:39] ruowan opened #2257 "How to do audience authorization?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
 "@azure/msal-node": "^1.0.0-alpha.5"
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am using MEO(Microsoft Email Orchestrator) t

[2020-09-10 06:46] winperec commented on #2247
Maybe even better to reuse base64 encode/decode from msal-core as far as I understood it is more mature? (though both versions look like black magic :))

[2020-09-10 08:09] ImantsSkultans commented on #2134
@jmckennon - using "react-microsoft-login": "1.10.1" and "react-aad-msal": "2.3.5" which under the hood uses "msal": "1.2.1".

[2020-09-10 08:17] dfibuch commented on #1795
@sidecus Ye I've noticed this too, this is the call that gets made:

**HTTP POST:** `https://myTenant.b2clogin.com/myTenant.onmicrosoft.com/my_b2c_1_sign_in_policy/oauth2/v2.0/token`

and I get back a:

**HTTP 400:** `{"error":"invalid_grant","error_description":"AADB2C90205: This application does not have sufficient permissions against this web resource to perform the operation.`

However, not al

[2020-09-10 08:38] Tzvetelin88 opened #2258 "React with MSAL for Azure AD auth. MFA Redirects and acquireTokenSilent overwrite scopes"
Hello I have some questions regarding MFA and Redirecting and acquireTokenSilent where scopes are overwrite when using:
 GRAPH_SCOPES.APP and GRAPH_SCOPES.USER_READ together.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`  - exact version is "msal": "^1.3.0"

## Description
We are using "react": "16.12.0" with MSAL library for Azure AD authentication.

First question is regarding acquireTok

[2020-09-10 10:53] jacksonhart commented on #2231
Hi @jmckennon yes we are using it

[2020-09-10 11:35] Toktik opened #2259 "Refresh token lifetime with auth code using ConfidentialClientApplication"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- [x] `@azure/msal-node@1.x.x`

## Description
I'm using @azure/msal-node, have the below flow and I'm not sure whether the refresh token expiration is limited or until-revoked?

Here is the breakdown of steps

[2020-09-10 12:14] yovin99 opened #2260 "how to execute login function"
msalAuthenticationService does not have a public method to login()

## Library

- [x] `@azure/msal-angularjs@1.x.x`

## Description

msalService.login(); method gives me an error saying that there is no such method in the library.
How can i use the login functionality in msal-angularjs

[2020-09-10 12:16] bankszorsqt opened #2261 "Lots of old msal entries in local storage"
## Library
- [x ] `msal@1.4.0`
- [x ] `@azure/msal-angular@1.1.1`

## Description
I'm seeing lots of "msal.acquireTokenUser" in storage. I suspect there is only supposed to be one?
There were two issues open on this already, #327 and #527.

## MSAL Configuration

[code]

## Angular usage
[code]

## Result
![image](https://user-images.githubusercontent.com/15078887/92941102-3b705500-f450-11ea-9e62-

[2020-09-10 12:38] #2260 closed

[2020-09-10 13:23] Shyam268 commented on #2220
msal version is 1.3.4

msal configuration

[code]

[2020-09-10 13:32] Shyam268 opened #2262 "how to disable popup login?"
using msal version 1.3.4

i have used  loginRedirect() method but with this the following events are not getting called.
[code]

can you give me any example how to use it ?

[2020-09-10 15:03] JayCeeJr commented on #2238
Reverting to msal@1.3.2 and @azure/msal-angular@1.0.0 worked for me as well.

[2020-09-10 15:16] georgejdli opened #2263 "ssoSilent in Chrome results in BrowserAuthError: monitor_window_timeout: Token acquisition in popup failed due to timeout."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
react- 16.13.x

## Description

Based on the other issues I think this is an iframe timeout issue instead of a popup timeout. I tried increasing the iframeHashTimeout to 10 seconds with no luck.

[2020-09-10 15:55] AndreiZe commented on #2175
@jasonnutter, @jmckennon, is there a timeline on 2.1.1 release? We had to revert back to using 1.x in our app due to this issue: proposed workaround (make token fetches serial) causes perf regression so we can't take it.

[2020-09-10 16:30] tnorling commented on #1795
Closing as this has been resolved. For any issues unrelated to CORS please open a new issue so that we can have a more focused discussion. Thanks!

[2020-09-10 16:30] #1795 closed

[2020-09-10 16:42] tnorling commented on #2050
@amng9560 Loops can happen for a number of reasons without more information it's hard to identify what might be causing yours. Updating to 2.1.0 would be a good first step as we did fix some bugs related to redirect since 2.0.0. Also please make sure that `handleRedirectPromise` resolves before calling any other function such as `loginRedirect` as not waiting for a response might create a race con

[2020-09-10 16:51] tnorling commented on #1437
@JuanGarciaCarmona This is currently not possible on the built in user flows due to an issue with the service where the `login_hint` is not passed down to the underlying IDP, meaning google doesn't know which account you intend to use. If you're using custom policies there is a fix in flight for this, I will check in with the service team and find out if it has been fully rolled out yet and get ba

[2020-09-10 17:17] tnorling commented on #2238
This is a known issue with `msal@1.4.0` and will be addressed by #2206

[2020-09-10 17:53] jasonnutter commented on #2175
We'll work to have this fixed soon (by next week, hopefully).

[2020-09-10 17:59] jmckennon commented on #2257
`Audience` is a legacy field. The concept is baked into some of the other fields for msal and AAD. You can read about that on the [Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration).

I'm not exactly sure what you mean here, but there are separate libraries for both JavaScript and .NET with regards to `msal`. There are also separa

[2020-09-10 18:06] sangonzal commented on #2259
@Toktik This is confidential client authorization code flow. The client secret you set in your config is used. If you remove the client secret, the flow will not work. The lifetime of the [tokens is configurable](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes), and I believe by default confidential client refresh tokens are valid until

[2020-09-10 18:14] jmckennon commented on #2225
@daniel-seitz Sorry for the delay, I haven't been able to reproduce these issues you're seeing. Can you provide both the `msal` logs you're seeing and also the rest of your `msal` code usage?

[2020-09-10 18:25] jmckennon commented on #2262
@Shyam268 You should try to follow the usage in our [angular sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular8-sample-app/src/app/app.component.ts). Make sure that you also register the `handleRedirectCallback` function [seen here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/126b83b85c3e49f0de15ab1e

[2020-09-10 18:29] jmckennon commented on #2261
@bankszorsqt Can you provide your configurations and `msal` usage? Also, is it possible for you to test with version `1.3.4` rather than `1.4.0`? We've seen a few problem with `1.4.0` and this could be tangentially related.

[2020-09-10 18:33] #1481 closed

[2020-09-10 18:51] deasems commented on #2196
Thanks for the info @pkanher617.

The expected behavior in my app is that the user that signed in most recently is the account that will be used in my app (this isn't really an explicit requirement, rather just maintaining the behavior from pre-v2). I'm interested in the specifics of MSAL's account APIs because it seems in this multi-user world it's technically possible to not select the most rece

[2020-09-10 19:16] jrmcdona commented on #2196
@deasems it is actually quite simple to track the latest user.  I, like you, at first was trying to fight it.  Then once I did it, I realized how easy it was.  I have done it for two sites and it works fine.    Very little extra effort was needed there.

[2020-09-10 19:22] jrmcdona commented on #2196
mentioned that two weeks ago and certainly could have been done by then ;)

[2020-09-10 20:38] deasems commented on #2219
Thanks for confirming @jmckennon. An improvement to how MSAL handles this scenario would be very appreciated. We looked into the online status browser APIs and they don't guarantee internet connectivity so we'd need a fairly elaborate implementation to ensure we avoid this avoid this scenario completely.

[2020-09-10 20:47] sikemullivan commented on #2243
@pkanher617 I switched to using oidc-client instead of MSAL. I'll try going back to MSAL sometime in the future. Should I leave this issue open?

[2020-09-10 23:28] julio177 opened #2266 "After clearCache is called you cannot acquire any token"
## Library
- [x] `msal@1.3.3` or `@azure/msal@1.3.3`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
None, basic JavaScript application

## Description
When receiving an error on an acquireToken, the catch block will trigger a call to application.clearCache(), causing any subsequent calls to get

[2020-09-11 00:34] JonDReese commented on #2139
@jaslloyd @tnorling @technical-boy

Had a bit of a breakthrough :)

First I changed the redirect URL from https://appname.com/redirect to https://appname.com/central-redirect

Then I added **state: 'subdomain' + window.location.host.split('.')[0]** to loginRedirect(...) and acquireTokenSilent(...)

Then I added this javascript to my main.js:

if (window.location.pathname.includes('central-redirect

[2020-09-11 00:42] jviney commented on #2195
Any update?

[2020-09-11 02:47] superman-lopez opened #2268 "Login Redirect fails in Angular 10 - MSAL Browser Sample"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular: I am testing the Angular 10 - MSAL Browser Sample

## Description
The Angular 10 - MSAL Browser Sample

[2020-09-11 03:14] ruowan commented on #2257
I use `@azure/msal-node": "^1.0.0-alpha.5`.   What I want to do is to pass audience field during AAD auth. And I expect the access jwt token aud is my audience not `https://graph.microsoft.com`.  I do not quite understand about `The instance and audience can be concatenated and provided as the authority URL.` from the doc. Could you give me some examples?

My audience is `https://emailorchestrator

[2020-09-11 04:47] BerndGewehr commented on #2133
Can anybody tell what to do to use a MSFT AAD SAML federated web app seamlessly in a teams app tab?

The manifest already has some switches and fields to handle an AAD enterprise app for correct SSO but I did not see any effect on these entries.

(Recognizing being off-topic a bit)

[2020-09-11 06:47] daniel-seitz commented on #2225
Hi @jmckennon, no worries! We all have things to do..

I think that it is actually another issue.

When I load the page with different situations - since we only have loginRedirect, these are:
- page refresh (when logged out),
- load (after login),
- load (after logout and then click back without choosing an account to sign out of),
- load (after logout and chose an account)
- _page refresh (when

[2020-09-11 07:15] Shyam268 commented on #2262
handleRedirectCallback  function is woking fine after login navigating to homepage .
 but when i click forgot policy i see 2 errors
1. Redirect Error:Login_In_Progress: Error during login call - login is already in progress.
2. Redirect Error:AADB2C90118: The user has forgotten their password.
    Correlation ID: 63e6c201-7d92-4176-bf0f-86ad0a3eb139
    Timestamp: 2020-09-11 06:50:43Z

login code

[2020-09-11 08:53] jelledruyts opened #3450 "Return WWW-Authenticate: Bearer when no incoming token is found"
(Logging this on behalf of a customer for proper visibility.)

The library isn't following the standards when a bearer token isn't found in the request. It responds with a "www-authenticate" header that contains the text "token: false, info: token is not found" which client apps incorrectly interpret that the resource wants to use the "token" scheme (taking the first word from that text). It shoul

[2020-09-11 10:11] Shyam268 commented on #2262
updated msal version to 1.4.0
changed "cacheLocation" to  "sessionStorage"
added   sessionStorage.clear();
still the same issue

example code:
[code]

[2020-09-11 11:38] Toktik commented on #2259
@sangonzal Thanks for your help!

I can't point to specific part of the documentation, but that was a little bit confusing. I think mentioning that Confidential Client is using the client secret and a word about refresh tokens will make things more clear.

[2020-09-11 12:53] BesoKakulia opened #2269 "How to get notified when access is removed from account settings?"
## Library
- [x] `msal@1.3.2`

## Description
I use `acquireTokenSilent` to get token if it exists, but it has an issue, when the user removes access from the account's privacy settings `acquireTokenSilent` still returns the token, which is not valid anymore. [Loom recording](https://www.loom.com/share/1e74831290bf45f899723a7295fd3ec9). How to get notified when access is removed from account setti

[2020-09-11 14:12] skhilliard opened #2270 "Support for latest MSAL in @azure/msal-angularjs"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

## Description
Currently, only the preview version of @azure/msal-angularjs is available and is dep

[2020-09-11 15:03] bankszorsqt commented on #2261
Hi @jmckennon I have updated the issue as you requested. I hope it gives more context now. (*note that I have changed some values of config for security reasons, GUID parts.)

[2020-09-11 15:10] Shyam268 commented on #2262
@jmckennon handleRedirectCallback  is working fine. but after password reset it is throwing  **ClientAuthError: Token renewal operation failed due to timeout.**

example code:
[code]

[2020-09-11 15:25] maxmalik commented on #2161
we've got the same issue.
we are migrating from adal to msal and have multiple apps running on the same domain.
some apps are still using adal and the issue is reproduced when you switch between apps and then try to logout
The reason of the issue is that format of id token value in local storage is different in adal (plain string) vs msal (json).

[2020-09-11 15:40] rangeranger commented on #2234
@anth-git : Thanks for your quick response. I changed to `initialNavigation: isInIframe() ? 'disabled' : 'enabled'` I still get the error **ClientAuthError: Login_In_Progress: Error during login call - login is already in progress in my Local.** . Also, sometimes it gives an error **The selector "app-root" did not match any elements**. It is because of using MsalComponent. In production and in loc

[2020-09-11 16:13] jmckennon commented on #2240
This is for you as the app developer to figure out. The `msal` library does not have the ability to know if a user is already logged into another app without being explicitly told so. One method to accomplish this is to pass the `loginHint` in a query parameter and have the second application parse the `loginHint` from the query parameter and pass it to `msal` (this technique could also be used to

[2020-09-11 16:23] jmckennon commented on #2263
Can you try setting your `redirectUri` for `ssoSilent` to a blank html page (with no content)? We have seen timeouts when applications use their homepage as the `redirectUri` for silent operations. An example of this can be shown in our react sample app, with our blank html page [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-core-samples/react-sampl

[2020-09-11 16:27] jmckennon commented on #2241
Thank you for the feedback, we'll take this into consideration. For now, `msal-browser` is primarily designed to support SPAs, but as noted above, we are looking to support more scenarios such as this one.

[2020-09-11 16:36] jmckennon commented on #2258
How can I make MFA to happen on Microsoft page and after that to be redirected to Application side?

If you call `acquireTokenRedirect` and MFA is required, MFA will be performed on the Microsoft page and not in a popup. Can you clarify what you're seeing, potentially with screenshots? Additionally, make sure that `acquireTokenPopup` isn't accidentally being called somewhere.

GRAPH_SCOPES.APP,
GR

[2020-09-11 16:38] jmckennon commented on #2269
@BesoKakulia Please fill out the issue template with your `msal` versions, configurations, and usage so that we can provide further assistance with your questions.

[2020-09-11 16:39] jmckennon commented on #2266
@julio177 What's the reason that you want to call `clearCache`? That method is not intended to be used for situations other than logout. Additionally, your app should not have to invoke it directly.

[2020-09-11 16:45] #2247 closed

[2020-09-11 16:46] jmckennon commented on #2237
This application does not have sufficient permissions against this web resource to perform the operation. Could not silently retrieve token from storage.
AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.

Can you clarify: are you getting both of these errors from calling `acquireTokenSilent` or from calling `acquireTokenPopup`?

[2020-09-11 16:51] jmckennon commented on #2231
This problem is likely addressed by #2206. That PR should be merged in the near future. If you're still seeing issues after it's been released please let us know.

[2020-09-11 16:59] jmckennon commented on #2134
@ImantsSkultans @ppisarski Is it possible to upgrade your versions to `1.3.3`? There were some fixes in that release for problems like this one.

[2020-09-11 17:53] jo-arroyo commented on #2268
@superman-lopez Unfortunately, this is a known issue with using redirect in the Angular sample, and we are currently researching ways to handle this better.

[2020-09-11 18:21] jasonnutter commented on #2270
Unfortunately, no, we will not be updating `@azure/msal-angularjs` to support the new versions of MSAL.js. You will either need to use MSAL.js directly, or upgrade from AngularJS to Angular to use MSAL Angular.

[2020-09-11 18:24] Georgeoak opened #2271 "PKCE issue when using Azure AD B2C custom policies and MSAL.js 2.0 with Auth Code flow"
## Library
- [ ] `@azure/msal-browser@2.1.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
Azure AD B2C + Custom Policies + MSAL.js 2.0 + Authorization Code flow.
Built in user flow works, but custom policy doesn't work.
Using this example https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-brow

[2020-09-11 18:28] ppisarski commented on #2134
I tried with msal@1.3.3 and 1.4.0, which didn't help. Eventually, I changed the App Service Plan to run on Windows as opposed to Linux which I was using. Now I am not getting 431 errors anymore. However, after authentication instead of being redirected to the app, I am redirected to /auth.html#id_token=...&client_info=...&session_state=...

[2020-09-11 19:02] jmckennon commented on #2271
@Georgeoak This is moreso a question for the B2C service rather than the `msal` team. I would recommend [filing a ticket with them](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) to figure out if there are certain options to enable PKCE with custom policies. Feel free to link this issue in the support request.

[2020-09-11 19:17] Georgeoak commented on #2271
@jmckennon Thank you very much.
I'll file a support request for B2C on Azure portal.

[2020-09-11 20:40] LastTribunal opened #2272 "MSAL JS and ADFS"
## Library
- [ ] `@azure/msal@1.4.0`
ref: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/99

## Description
MSAL seems to be a product of highly diverse SJW team of non-binary NPCs..  MS has now condemned their previously disastrous ADAL JS and is nudging everyone to migrate to their glorious MSAL.  However, there is still no support for ADFS + MSAL.JS despite of any con

[2020-09-11 21:05] tnorling commented on #2272
@LastTribunal Support for ADFS 2019 was added in `msal@1.4.0`. Please see our [ADFS specific sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp/app/adfs) for help getting set up. Please also note that your ADFS server must have service pack [KB 4490481](https://support.microsoft.com/en-us/help/4490481/windows-10-update-kb4

[2020-09-11 21:10] LastTribunal commented on #2272
If that's the case, I will take back everything I said :)... Ill test and get back

[2020-09-11 21:31] d4rk0de opened #2273 "integration with Deno?"

[2020-09-11 21:33] jasonnutter commented on #2273
At this time, we are prioritizing MSAL Node for compatibility with the latest versions of Node. We may consider supporting Deno incrementally after GA. cc: @sameerag