[2020-11-20 06:52] baSSiLL commented on #2451
Pinging in a hope for resolution. @jasonnutter any news here?

[2020-11-20 07:47] jakubgrzywaczewski commented on #2606
@hectormmg

Well, yes, but I don't know if this approach is correct.

So if I understand it correctly this change is permanent and I should switch to idToken. If so, we can close this issue.

[2020-11-20 08:10] sameerag commented on #2451
We are working with B2C Service team to help us understand why `ClientId` as a scope is being replaced by a `/`. We haven't yet heard a definitive answer. Will update here as soon as we have the info.

[2020-11-20 09:12] mitul11191 commented on #2579
Hi @pkanher617,

I have installed the latest (v1.4.3) @azure/msal-angular and have angular 9.1.3

**Config:** Token life setup 15 minutes from Azure side and below is a configuration

[code]

--------------------------------MSAL Service    ------------------------

calling below function every minute to renew the token.

[code]

**Summary:** after login success gets token from session Storage of '

[2020-11-20 10:23] #2625 closed

[2020-11-20 10:51] Shyam268 commented on #2422
@nickgmicrosoft  Any updates on this ticket.

[2020-11-20 11:41] kevindelange opened #2626 "Provide reference to popup"
## Library
`@azure/msal-browser@2.x.x`

## Description

Hi,

It would be awesome if we could have a reference to the popup (loginPopup method, which eventually fire's a `window.open()`).

In the current state I believe there is no way we can acces this reference in our (angular 10) application, using msal-browser.

When the popup opens with a B2C policy, it may happen that the popup gets lost by t

[2020-11-20 17:00] #2606 closed

[2020-11-20 17:02] tnorling commented on #2547
@pedoe After clicking the logout button you should be redirected to the AAD signout page where you are given the option to select an account to sign out of. It's not clear from your description above if you went through this account selection process. Can you confirm?

[2020-11-20 18:18] sam-wheat opened #2627 "How to get custom attributes from claims?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.6.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

#

[2020-11-20 18:39] tnorling commented on #2627
@sam-wheat This looks like a question for the B2C service, can you open a [support ticket](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) with them?

[2020-11-20 18:42] DerekJDev opened #2628 "ClientAuthError: no_tokens_found"
## Library

- [X] `@azure/msal-browser@2.7.0`

## Framework
Angular 11.0.0

## Description
I can get accounts just fine when redirected back to my app, but when trying to make a call to my api it fails to get the Auth Code to request the Access Token. It doesn't fail on the MsalGuard because there are accounts, but when making an api it fails in the interceptor, saying there were no tokens found.

[2020-11-20 23:26] pwang2 commented on #2565
Yes, that is during acquireTokensilent.

I haven't tried to use redirect it pop-up.. I usually feel using popup or redirect not very favorable as we are fanning out a lot of xhr request in the page..  And we all know promise does not elegantly exit as we expected.   I have seen those popup blast for a few times.  In this case, the popup definitely need intervention.  Not sure if it will result to

[2020-11-21 00:36] tnorling commented on #2517
@chattes I was not able to reproduce this using the [B2C sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp). Clicking the back button correctly returned back to the app. Is this still an issue?

[2020-11-21 00:54] tnorling commented on #1810
@jimbarrett33 Apologies for the delay on this, I had some time to repro this and here's what I found. If you're using the sample as-is the login calls do not provide any scopes, which would explain why you are not being asked for consent on login. If you go to `app.component.ts` you'll find a `login()` function which in turn calls either `loginRedirect` or `loginPopup`, if you add your scopes here

[2020-11-21 01:51] restfulhead opened #2630 "Modified copy of msal-angular code inside samples/msal-angular-v2-samples/angular10-browser-sample?"
## Library
- [x] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@2.x.x`

## Documentation location
- [x] Documentation does not exist

## Description
The Angular 10 example does not use the code from `@azure/msal-angular@2.x.x`. Instead it has copied and modified the code, see https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular

[2020-11-21 22:57] lemenhir commented on #2547
I have the same problem of not being able to logout but I am using @azure/msal-angular@1.1.2
Also, it seems that the problem presents itself only for some users and not for others...

[2020-11-22 03:05] gidich commented on #2445
@jkdouglas is there any preview features I can test out?

[2020-11-22 13:54] diberry opened #2633 "Vanilla JS Browser project doesn't install with npm"
## Library

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0

## Framework

## Description

On Windows 10, using both VSCode bash and Windows cmd, using both package-lock.json and without, with npm and with yarn,  the package.json fails for `npm install`.

## Error Message

Error message from Windows CMD -

C:\repos\js-e2e

[2020-11-22 17:04] DEEPTI-18 commented on #2514
When we are trying to do enroll/Signup in one of the scenario in our application, we are getting jwt token correctly. And then we need to call api so for that we are calling below function to get the access token but somehow getting unsual errors in console due to which it failed to renew the token and redirected back to b2c-url.

 function getTokenRedirect(request) {
        return myMSALObj.acqu

[2020-11-22 17:35] DEEPTI-18 opened #2634 "ClientAuthError: Token renewal operation failed due to timeout."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
Cdn url  is included in our application for this functionality - https://alcdn.msauth.net/lib/1.3.2/js/msal.js

## Description
When we are trying to do enroll/Signup in one of the scenario in our application, we are getting jwt token correctly. And then we need to call api so for that we are calling below function to get the access token but som

[2020-11-23 07:34] ben-sf commented on #2600
@sameerag did you see my attached configuration?

[2020-11-23 10:43] sameerag commented on #2600
I am trying to reproduce on my end. Will update in a couple of days. How urgent is this?

[2020-11-23 15:53] diberry commented on #2600
@sameerag Not urgent - more FYI.

[2020-11-23 17:01] jasonnutter commented on #2630
@restfulhead The `angular10-browser-sample` was created before `@azure/msal-angular@2` was available to demonstrate how an app could use MSAL Browser directly. Going forward, applications should use `@azure/msal-angular@2` and the new samples. We'll make sure to update the `angular10-browser-sample` to make it clear to look at the other samples, apologies for the confusion. cc: @jo-arroyo

[2020-11-23 17:11] jasonnutter commented on #2626
Can you please clarify what you mean by "gets lost?"

[2020-11-23 17:13] jasonnutter commented on #2616
@sam-wheat MSAL.js will handle caching of JWTs in the browser, either in local storage, session storage, or in memory. Your application should not need to implement any token caching logic of its own, and can instead rely on MSAL to handle it.

Do you have specific concerns or considerations?

[2020-11-23 17:16] jasonnutter commented on #2621
@aathirag Can you please provide more details about how you encountered this error? Specifically the specific reproduction steps, thanks!

[2020-11-23 17:43] jasonnutter commented on #2580
@kthimmai Glad to hear, thanks for the update.

[2020-11-23 17:43] #2580 closed

[2020-11-23 17:47] kevindelange commented on #2626
Clicking next to the popup, so it's not visible anymore may happen (by accident), and then when you try to open it again, because you think it's gone, breaks the flow.

Also, when in need of supplying an authorization code from an email in the popup, and switching to another tab (to copy over the email) it can be confusing for some people that this popup is still open. Mainly because it's a new sm

[2020-11-23 17:58] #2595 closed

[2020-11-23 17:59] #2515 closed

[2020-11-23 18:04] #2605 closed

[2020-11-23 18:06] tnorling commented on #2615
Closing as the question was answered but please feel free to open a new issue if you experience any other issues.

[2020-11-23 18:06] #2615 closed

[2020-11-23 18:12] tnorling commented on #2604
Closing as the samples have been updated

[2020-11-23 18:12] #2604 closed

[2020-11-23 18:19] tnorling commented on #2547
@lemenhir This is why logout isn't working properly for you. Selecting the account on the aad signout page is how the service knows to clear the user's session data. Are you using AAD or B2C?

[2020-11-23 19:07] jasonnutter commented on #2628
@DerekJDev In this scenario, how many accounts are returned from `getAllAccounts`? Also, are you using the `@azure/msal-angular@2` alpha?

[2020-11-23 19:11] jasonnutter commented on #2633
@diberry Can you try running this command with an elevated (admin) command prompt? Also, you can try locally removing the `package-lock.json` file and deleting [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/package.json#L17).

[2020-11-23 19:13] jasonnutter commented on #2634
@DEEPTI-18 Please see this document for details and mitigations for this error: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#refused-to-display--in-a-frame-because-it-set-x-frame-options-to-deny

[2020-11-23 19:21] DerekJDev commented on #2628
@jasonnutter in this case it's returning one account. Also I'm not using `@azure/msal-angular@2 alpha`. Does it support Authentication Code flow?

[2020-11-23 20:06] restfulhead commented on #2630
Great, thank you for the clarification. That makes sense. I must have overlooked the sample in `@azure/msal-angular@2`.

[2020-11-23 22:01] jviney opened #2639 "BrowserAuthError.interaction_in_progress error persists despite page reloads"
## Library
- [x] `@azure/msal-common@1.7.1`
- [x] `@azure/msal-browser@2.6.1`

## Framework

AngularJS

## Description

User is unable to authenticate. Auth popup opens, but it is blank. Console shows the error: `BrowserAuthError.interaction_in_progress`. Problem persists even after restarting Chrome.

## Error Message

## MSAL Configuration

[code]

## Reproduction steps

It looks like a temporar

[2020-11-24 00:28] cacodev opened #2641 "Angular MSAL - "Forgot Password?" loop when using the login redirect + MSALGuard"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Not sure if this is a bug or I have something setup wrong. I have my angular project using MSAL

[2020-11-24 01:44] jasonnutter commented on #2641
@cacodev Please look at our Angular B2C sample for guidance on how to handle forgotten password flows: https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa/blob/master/src/app/app.component.ts

[2020-11-24 01:53] #2627 closed

[2020-11-24 02:32] cacodev commented on #2641
@jasonnutter not sure what happened but I reimplemented based on the example you provided and the loop is no longer happening!  Thanks!

Question though - I still notice that when the 'msal:loginFailure' happens, I get redirected back to my homepage, then to the  'requested redirect page' within my app and then back to the password reset page.  Is there a way to stop that redirect from happening i

[2020-11-24 02:57] sam-wheat commented on #2616
No I was reading scary articles that warned of security risks.  But that is a long story.
I think MSAL will handle it just fine.

Thank you.

[2020-11-24 02:57] #2616 closed

[2020-11-24 07:17] praveen4949 opened #2642 "react-msal login not asking to save device for 60 days on MS login screen to skip entering OTP each login"
We have react-app that is using msal Authentiction for Login, it is working fine from months, but suddenly it has stopped asking users to save device for 60 days. While login on MS login page no check box is coming for user from 2 days.
But When we logs in office.com of Azure.portal it asks to save device while entering OTP. (Don't ask for 60 days)

We've asked Infra team, and they confirmed that

[2020-11-24 09:21] lemenhir commented on #2547
I am using B2C

[2020-11-24 09:50] ben-sf commented on #2600
@sameerag It can wait couple of days. Thanks!

[2020-11-24 12:30] kthimmai commented on #2566
@jasonnutter - Hi Jason, did you get chance to check on this issue?

[2020-11-24 13:50] swapnil-coder-js opened #2643 "acquireTokenByClientCredential s not returning anything when using client_secret"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

[2020-11-24 13:57] swapnil-coder-js commented on #2643
NON WORKING
--------
message =>  [Tue, 24 Nov 2020 07:34:05 GMT] :  : 1.7.2 : Info - acquireTokenByClientCredential called
loglevel =>  2
containsPii =>  false
message =>  [Tue, 24 Nov 2020 07:34:05 GMT] :  : 1.7.2 : Verbose - initializeRequestScopes called
loglevel =>  3
containsPii =>  false
message =>  [Tue, 24 Nov 2020 07:34:05 GMT] :  : 1.7.2 : Verbose - buildOauthClientConfiguration called
l

[2020-11-24 14:04] janusch opened #2644 "Redirect Url not being localhost in development"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X ] `@azure/msal-browser@2.x.x`

## Description
How to use msal-browser.js in development on a VM?
The redirectUrl being set to `localhost` does not work for developing on a VM and accessing the dev server from my local machine. How can I change the config to support this setu

[2020-11-24 14:09] SaviChinnadurai commented on #2628
I am also experiencing this issue.  Angular 10 app using @azure/msal-angular-2.0.0-alpha.0 and @azure/msal-browser-2.7.0

Client is able to get account fine but Interceptor is not appending bearer token in my Api call.  Any help in fixing this issue is much appreciated.

[2020-11-24 17:19] jasonnutter commented on #2644
@janusch MSAL Browser requires https for non-localhost addresses, so you will need to setup a local https cert. This is because of the restrictions in the Azure Portal, and the crypto APIs used by MSAL.js (which are not available in non-localhost http locations).

[2020-11-24 19:33] godefroi opened #2645 "acquireTokenSilent() returns an access token signed by the wrong key"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Vanilla JS

## Description
I have an SPA that uses MSAL to authenticate against Azure AD B2C. I ca

[2020-11-24 19:48] jasonnutter commented on #2645
We believe this is an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-11-24 19:51] jasonnutter commented on #2642
@praveen4949 Please file a support request, as this is not an issue with the MSAL.js library: https://docs.microsoft.com/azure/active-directory/develop/developer-support-help-options#open-a-support-request

[2020-11-24 19:53] jasonnutter commented on #2643
@swapnil-coder-js Can you please provide your configuration and relevant code usage? Also, can you please confirm that your application is not registered as a public client?

[2020-11-24 19:58] godefroi commented on #2645
So, I'm not sure that I'm willing to pay $29/month for the privilege of reporting what you believe is a bug in Azure AD B2C. Is there any other way to contact them?

[2020-11-24 22:15] sameerag commented on #2645
@nickgmicrosoft Can someone in your team address this?

[2020-11-24 22:36] jasonnutter commented on #2478
Closing due to inactivity, let us know if this is still an issue.

[2020-11-24 22:36] #2478 closed

[2020-11-24 22:49] jasonnutter commented on #2641
What is causing this redirect? Your app code?

[2020-11-24 22:57] jasonnutter commented on #2608
@morr0350 For scenario 1, I'll see if I can reproduce, although I find it surprising given we do token expiration calculation with unix timestamps.

For scenario 2, I'm not sure there's anything we can do in the library if the machine has a manually adjusted clock.

Generally speaking, you can force MSAL to skip the cache by setting `forceRefresh` to `true` when calling `acquireTokenSilent`. This

[2020-11-24 23:13] jasonnutter commented on #2295
Closing due to inactivity.

[2020-11-24 23:13] #2295 closed

[2020-11-24 23:27] jasonnutter commented on #1437
Closing, as this should no longer be an issue in `@azure/msal-angular@v2`. Please open a new issue if this is still an issue in v2.

[2020-11-24 23:27] #1437 closed

[2020-11-24 23:29] #2543 closed

[2020-11-24 23:36] MarekLani opened #2651 "msal-react with AAD B2C Guidance"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please I would like to use msal-react with AAD B2C. Can you provide brief guidance how to achie

[2020-11-25 00:27] #2499 closed

[2020-11-25 01:38] restfulhead opened #2652 "OnBehalfOfClient acquireToken always returns null due to missing await"
## Library
- [x] `@azure/msal-node@^1.0.0-beta.1`
- [x] `@azure/msal-common@1.7.2`

## Description

The call to `confidentialClientApplication.acquireTokenOnBehalfOf(...)` always returns null, unless I set `skipCache: true`.

I believe this is caused by the missing `await` here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/client/OnBehalfOfClient.

[2020-11-25 04:18] #2630 closed

[2020-11-25 05:24] Sharatmenon opened #2654 "Username property is empty in the getallAccounts response"
## Library
- [ ] `@azure/msal-browser@6.0.0`

## Description
We are using getallAccounts call to get the account for acquireTokenSilent flow. The account object has a username field which is always empty. Can you suggest what can be done to retrieve the username?

FYI. I am using a custom policy for signin /signup.

**getallAccounts Response:**

environment: "test.b2clogin.com"
homeAccountId: "xxx

[2020-11-25 07:11] nickgmicrosoft commented on #2645
Hi @godefroi , can you paste a copy of (anonymized) access token? Could help debug.

[2020-11-25 07:28] MarekLani commented on #2651
@tnorling thanks you for quick reaction and help. Indeed when I created Public Client it worked. It was setup as Web type of app before. Once I have whole authentication piece working including calling API with access token I receive I will create quick sample in my github repo. And will let you know when ready, you can consider then, whether it is something to include in samples or link. Thanks a

[2020-11-25 08:16] janusch commented on #2644
@jasonnutter Thank you for the swift response.
I am afraid I will have to figure out how to set up a dev server with a self signed certificate.
I [saw](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#configuration-options-1) that the default option for `redirectUril` is window.location.href that does not work with http either?
How

[2020-11-25 12:09] ulken commented on #2618
Not using Angular, but potentially suffering from the same issue.

We're currently using a legacy user flow/policy for sign in. For debugging purposes (with access tokens failing to refresh), we created a new user flow for sign in/sign up (_not_ legacy) with token lifetime set to minimum. However, when we switch to use the new policy, we experience a cache miss every time the access token is acqui

[2020-11-25 12:40] JeffFisher-sitekit commented on #2618
I spent some time debugging this in Angular. My conclusion is that it's not a bug in MSAL. However, the MSAL implementation depends on 3 things coming back from B2C:

1. the 'uid' claim, as a unique identifier for the user in this context,
2. the 'tid' claim - the tenant id,
3. the scope.  I think this normally comes back in the json response that contains the access token.

MSAL caches the token

[2020-11-25 16:00] szalapski commented on #2219
I seem to be getting this same situation as @deasems in the original question, and my internet connection is just fine.  In fact, if I reload the page, I get the same error over and over.  How do I configure MSAL to make us redirect to prompt the user to sign in, in this case, rather than getting a HTTP 400 error and a fatal error?

[2020-11-25 16:52] tnorling commented on #2654
@Sharatmenon You will need to enable the `emails` claim on your B2C tenant. Please see our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-getaccountbyusername-returning-null-even-though-im-signed-in) for more on this. If you need more assistance please open a support ticket with the [B2C Service](https://docs.microsoft.com/en-us/azu

[2020-11-25 16:54] tnorling commented on #2651
Great thanks for the update!

[2020-11-25 16:54] #2651 closed

[2020-11-25 17:14] jasonnutter commented on #2644
@janusch Correct, the default redirect uri the library will send to the server is the current page, however, that page must be registered in your app registration, and non-localhost http urls cannot be registered. So yes, those are likely your only two options.

[2020-11-25 17:23] godefroi commented on #2645
@nickgmicrosoft according to jwt.ms:

[code]

[2020-11-25 17:44] tnorling commented on #2618
@ulken Your issue may or may not be the same as what's being discussed in this thread, its hard to say without more info. Can you please open a new issue and share the version of msal you're using, a reproduction and any other pertinent information? Thanks

@JeffFisher-sitekit Thanks for following up, we're still waiting to hear back from the service about any guidance they may have in this case,

[2020-11-25 17:52] ulken commented on #2618
@tnorling Sure thing. I'll do some digging around what @JeffFisher-sitekit mentions and open a separate ticket.

[2020-11-25 18:36] tnorling commented on #2547
@lemenhir This is expected behavior when using B2C, you can read more about this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md#b2c-and-sign-out-experience) and in our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#i-logged-out-of-my-application-why-am-i-not-aske

[2020-11-25 19:11] Sharatmenon commented on #2654
Hi @tnorling, Thanks for your response.
I did add the below statement to my custom policy which started showing the sign in email address in the Idtokenclaims. I don't want the email address to show up in the idtokenclaims as it is PII, we are using a user id to identify the logged in user. It should show the username only in the account object which is retrieved from getallaccounts call once the

[2020-11-25 19:28] tnorling commented on #2654
@Sharatmenon The `username` field on the `AccountInfo` object returned from `getAllAccounts` is populated from the claims on the idToken, if the information is not available on the claims it will not be available on the `AccountInfo`. That said, you should not need a `username` to get a cached token or when exchanging a refresh token for a new access token, were you having any specific issues?

[2020-11-25 22:51] #2652 closed

[2020-11-25 23:39] BarishSarac opened #2659 "acquireTokenSilent Not Updating The Token"
## Library:
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
"msal": "^1.4.

[2020-11-26 00:27] #2544 closed

[2020-11-26 04:20] godefroi commented on #2645
Looks like we got it taken care of over at https://docs.microsoft.com/en-us/answers/questions/174150/acquiretokensilent-returns-an-access-token-signed.html

[2020-11-26 04:20] #2645 closed

[2020-11-26 08:09] dipuoec commented on #2461
@jasonnutter  Any update on this?

[2020-11-26 12:20] thibaultvdb-incerta opened #2660 "ADFS 2019 support in msal-browser"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-11-26 12:41] chenxinyanc opened #2661 "Why there is a msal:popUpHashChanged event raised from MSAL?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-11-26 14:12] chenxinyanc opened #2662 "Is UserAgentApplication.acquireTokenPopup intended to gracefully handle concurrency?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-11-26 15:40] ulken opened #2663 "Using a new custom user flow/policy results in cache miss for access token"
## Library
- [x] `msal@1.4.4` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Not sure what you mean by this? We use `react` (with vanilla `msal`), but that should be irrelevan

[2020-11-26 21:52] blinard opened #2664 "Does MSAL support authentication within Chrome extensions?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

### tl;dr
Does MSAL support authentication within Chrome extensions using the ```chrome.identit

[2020-11-27 00:28] #2538 closed

[2020-11-27 03:29] VanyLaw opened #2665 "missing slash in aud of token"
I use msal 1.4.4 to get arm token. but the token can not pass the authentication in kudu `/zipdeploy` api, because of the value in aud miss a slash.

I call `msal.acquireTokenPopup` or `msal.acquireTokenSilent` to get the token. the scope I use is `https://management.core.windows.net/user_impersonation`

FYI. I decode the token got by msal.
![image](https://user-images.githubusercontent.com/211741

[2020-11-27 14:03] janandreschweiger commented on #2531
Any updates on this? I have the same issue.

[2020-11-29 09:16] MarekLani commented on #2315
hi @tnorling I did use suggested workaround, but it got me into another issue. I am using msal-react in addition, not sure if it makes difference. Nevertheless if I add scope to loginPopup, the login process hangs in InProgress state

[2020-11-30 03:13] praveen4949 commented on #2642
Yes, this is not an issue, it is tagged as question, it is happening with only my react application, so there may be any setting or parameter I am missing

[2020-11-30 05:30] paranthamanwp commented on #2548
Hi Team, Any update on this?

[2020-11-30 08:38] iZagi commented on #2547
I am using AAD and still have the same issue. The logout request gets canceled when called by the msal logout function and i get redirected to localhost:44326/# , oddly when i copy the same url that is canceled and call it manualy by pasting it in the url bar, it works as expected.

https://login.microsoftonline.com/{authorityString}/oauth2/v2.0/logout?post_logout_redirect_uri=https%3A%2F%2Flocalh

[2020-11-30 08:44] eirikb commented on #2039
@jasonnutter Hi.
Why #1072 was closed (as fixed), when this is still not fixed?
Should the original issue be either still open, or closed as won't-fix?

Anyway, I believe it could be possible to implement my previous hack in `@azure/msal-browser`, but only if [`PopupHandler`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/interaction_handler/PopupH

[2020-11-30 14:17] ArranM opened #2668 "React / JS / Angular MSAL unit tests example request"
It would be handy to see jest unit tests for the msal 2 library. as port of the examples.

logonRedirect
loginPopup

AuthenticatedTemplate
isLoggedIn

 Thanks

[2020-11-30 15:06] ulken commented on #2663
Not sure if related, but changing scopes for the login request (passed to `loginRedirect()`) results in a similar behavior, i.e. cache miss. This can however be remedied by signing out and signing in again, but requires explicit action by the user (or await expiration).

To clarify, replacing

[code]

with

[code]

(`loginRequest` is passed to `msalClient.loginRedirect()`)

I can sort of buy cache

[2020-11-30 16:35] jasonnutter commented on #2661
@chenxinyanc The `msal:popUpHashChanged` event will include the raw hash value from the popup, which will then need to be manually decoded. This event is deprecated, and has been removed in MSAL Angular v2, so it is not recommended to build logic based on it. We recommend invoking `acquireTokenPopup` directly, or using the MSAL Interceptor.

[2020-11-30 16:39] jasonnutter commented on #2663
@ulken By default, MSAL will attempt to renew tokens that are within 5 minutes of expiring. This is potentially why tokens with a 5 minute expiration always get renewed. You can control this via the `system.tokenRenewalOffsetSeconds` configuration value. Can you try setting that to a number lower than `300`?

[2020-11-30 17:15] tnorling commented on #2315
@MarekLani Can you please open a new issue and provide steps to reproduce?

[2020-11-30 17:15] jasonnutter commented on #2664
@blinard Thanks for the information!

Correct. I'll see if `chrome-extension` protocol can be added to that list. cc: @hpsin

We added this in v1 (#1691), but have yet to port this to v2 (I can put up a PR for this).

`handleRedirectPromise` now takes in a hash value to process.

We have not tried it, but I'll put together sample to see if it is possible (along with the changes from #1691).

[2020-11-30 18:09] #1881 closed

[2020-11-30 18:39] jasonnutter commented on #2668
@ArranM You can see tests for MSAL React [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react/test). We are also planning to add E2E tests for MSAL React before GA. cc: @tnorling

Please look at the existing unit tests and let us know if you have further questions, thanks!

[2020-11-30 18:46] jasonnutter commented on #2665
@VanyLaw This is likely an issue with Project Kudu, not MSAL.js (which is not responsible for the claims values in tokens). I would recommend reporting this issue to them: https://github.com/projectkudu/kudu/wiki#getting-help

[2020-11-30 18:59] jasonnutter commented on #2662
@chenxinyanc This is by design, as we don't allow multiple concurrent interactive requests. Your app will need to wait until the first popup request has completed before making another one.

[2020-11-30 19:11] jasonnutter commented on #2659
@FlyRocketDrones By default, access tokens have an expiration of 1 hour. This expiration is separate from the session expiration. If you want to force MSAL to get a new token, set `forceRefresh` to `true` when calling `acquireTokenSilent`.

[2020-11-30 19:27] jasonnutter commented on #2475
@georgejdli Can you please try setting the redirectUri for popup (and silent) requests to be a blank page (e.g. a blank html page)? I suspect this issue is happening because the page used for the redirectUri (your app's home page) is mangling the URL in the popup (i.e. removing/changing the url fragment), which is preventing MSAL from parsing it and closing the popup.

[2020-11-30 19:29] jasonnutter commented on #2548
@paranthamanwp Apologies for the delay in responding. Can you please provide the `client-request-id` from the URL in teh screenshot above (or from a similar error)?

[2020-11-30 19:34] tnorling commented on #2660
@thibaultvdb-incerta ADFS 2019 should be supported in msal-browser, however, it will require some configuration on your ADFS server. We unfortunately do not have a sample for this yet, but plan to add one in the future.

In short you will need to do the following things:
- Ensure your ADFS server supports OAuth
- Enable CORS on the server
- Set Refresh Token lifetime to a maximum of 24 hours
- Msa

[2020-11-30 19:36] tnorling commented on #1097
Closing as this will no longer be picked up for version 1.x. This work will be done in 2.x, the first part of which has been started in #2602

[2020-11-30 19:36] #1097 closed

[2020-11-30 19:38] FlyRocketDrones commented on #2659
@jasonnutter Thank you! I will test it out with `forceRefresh:true`  that to confirm.

[2020-11-30 19:46] ulken commented on #2663
@jasonnutter Thank you! Indeed, that was it. How typical that the lower bound of the token lifetime just so happened to coincide with the default value of `tokenRenewalOffsetSeconds`. That would have taken me a long time to realize...

However, I _still_ get the behavior mentioned above where changing a parameter (which I assume is used as part of the caching key) results in constant cache misses,

[2020-11-30 20:11] ArranM commented on #2668
@jasonnutter thanks, that has helped me so much, I now have only 1 test left, is user clicks logout in AuthenticatedTemplate

spying on instance.logout() seem to generate an end point issue (for me) if I setup handleRedirectSpy initially and then action logout.

but really, thanks it really helped me understand it much better.

[2020-11-30 20:41] FlyRocketDrones commented on #2659
@jasonnutter so I have `.acquireTokenSilent({ forceRefresh: true, scopes})` and still I am not able to extend the session each time I do

[code]

[2020-11-30 21:14] derkoe commented on #2548
I have the same issues - `client-request-id=85b85525-a1b6-4541-b10f-efac70a14414`

[2020-11-30 23:29] #1489 closed

[2020-12-01 00:30] #2535 closed

[2020-12-01 01:22] chenxinyanc commented on #2661
Thanks for the information @jasonnutter!

[2020-12-01 01:25] #2661 closed

[2020-12-01 01:34] chenxinyanc commented on #2662
Okay. Then I'll need to do something like preserving the current `acquireTokenPopup` promise and waiting for it to settle before initiating another `acquireTokenPopup` (or even `acquireTokenSilent`) call.

[2020-12-01 02:35] hpsin commented on #2664
Right now we don't suggest using the SPA type for extensions, as the RTs expire in 24 hours.  The best current method to support browser extensions is to register as a native application, and then use a domain you own to acquire the tokens.  Give your extension rights to read traffic on that domain, and use that to read the code from the browser bar.

Follow this discussion as well here:
https://g

[2020-12-01 05:16] Sharatmenon commented on #2654
@tnorling Yes , I need to make the msal.acquireTokenSilent call but don't have a login hint. When I use the below request I get an error saying there isn't sufficient info for the silent call to succeed. In another article, I read that this call either needs login hint or else the sid (session id). I am using custom policies and am not sure how to get the session id for this call.

**Sample reques

[2020-12-01 06:19] sasimsit opened #2672 "SPA "Any Active Directory multitenant and personal Microsoft accounts" msal throwing InteractionRequiredAuthError"
SPA Application deployed using "**Any Active Directory multitenant and personal Microsoft accounts**" msal throwing  InteractionRequiredAuthError

## Library
 [ x] msal@1.4.0

## Angular 8.0

## Description
SPA application should work In "Any Active Directory Multitenant and personal Microsoft accounts "  mode.  we have configured in azure deployment steps.

## Error Message
On launching applicati

[2020-12-01 06:25] piyushparamane opened #2673 "MSAL authentication is not working with "Connected to Windows" Account"
## Library
- [x] `msal@1.4.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 8.2
##

[2020-12-01 07:28] blinard commented on #2664
Thanks for the feedback @jasonnutter and @hpsin. That's an interesting approach with registering as a native app and leveraging my own domain for the auth/tokens; I'll do some investigation in that direction. I noticed the 24 hour RT issue for SPAs and have been thinking about how I was going to handle that; I was hoping I'd be able to do a silent auth flow with the identity.launchWebAuthFlow Chro

[2020-12-01 14:58] hsluoyz opened #2674 ""static contextType = MsalContext;" doesn't work in docs."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-01 15:51] luisamckenna1 opened #2675 "handleRedirectPromise called but there is no interaction in progress, returning null after successful login"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
    "@azure/msa

[2020-12-01 16:51] jasonnutter commented on #2675
@luisamckenna1 What page are you using for your redirect URI? And is this page protected by the MSAL Guard?

[2020-12-01 16:56] tnorling commented on #2654
@Sharatmenon Right, that error will happen when the refresh token expires (24 hours). Until that happens you should not need the `login_hint` to silently acquire a token (acquiring from cache or by exchanging a valid RT should not require it).

When the refresh token expires you have 2 options:
1. Call an interactive method (acquireTokenRedirect or acquireTokenPopup)
2. Provide a `login_hint`, whi

[2020-12-01 17:11] tnorling commented on #2672
@sasimsit Could you try upgrading to version 1.4.4 and let us know if this is still an issue? That version addresses some issues getting id_tokens from cache. If updating does not solve this, please send me a network trace showing this behavior so that I can investigate. My email is on my profile. Thanks!

[2020-12-01 17:13] tnorling commented on #2673
Closing as duplicate of #2672

[2020-12-01 17:13] #2673 closed

[2020-12-01 17:15] luisamckenna1 commented on #2675
After successful login it redirects to https://localhost../#/reports. The redirect occurs correctly from a UI flow. This is protected with MSAL GUARD.

const routes: Routes = [
    { path: 'reports', component: HomeComponent, canActivate:[MsalGuard]},
    { path : '', component: SignInComponent},
    //{ path: 'logout', component: SignoutComponent},
    { path: 'reports/:id', component: ReportView

[2020-12-01 17:25] jasonnutter commented on #2675
@luisamckenna1 The MSAL Guard will also [invoke handleRedirectObservable](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/msal-angular-v2/lib/msal-angular/src/msal.guard.ts#L71). Given that `handleRedirectPromise` will only return a non-null value the first time it is called, if your app sets the redirect URI to a page that is protected by the MSAL Guard, if you call `handl

[2020-12-01 17:36] luisamckenna1 commented on #2675
What about the scenario below:
**1st login scenario**
- User logins through login page -> redirects to https://localhost../#/reports

**2nd Scenario**
- User directly accesses https://localhost/#/reports and attempts to authenticate themselves
- This would redirect the user to the current page which in this case is https://localhost/#/reports
**In this scenario we need to have MSALGuard on /#/repo

[2020-12-01 17:47] tnorling commented on #2674
@hsluoyz Can you provide a little more detail about why it doesn't work? I just tried running this code and did not have any issues. Please make sure any component that tries to reference context is wrapped in the `MsalProvider` component.

[2020-12-01 18:28] nniikkoollaaii opened #2676 "Prepopulate Cache Storage from E2E-Tests"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

#

[2020-12-01 18:32] tnorling commented on #2668
@ArranM You should mock out the logout function to prevent it from trying to do a full frame redirect to the AAD service. If you need to simulate a logout you can clear the account cache instead and then emit the logout event to ensure msal-react updates context. Take a look at [these tests](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/test/components/

[2020-12-01 19:17] tnorling commented on #2514
Closing as the question has been answered. As stated above, any url that the B2C service redirects to needs to be registered in the portal. If you want a single redirect you should ensure that all your redirectUris are registered and set `navigateToLoginRequestUrl: false`. If you want the user to end on a page that is **not** registered in the portal, 2 redirects are required.

[2020-12-01 19:17] #2514 closed

[2020-12-01 19:51] tnorling commented on #2579
@mitul11191 Silent token acquisition is not guaranteed to succeed and you should have fallback logic to call `acquireTokenPopup` when it fails with errors such as `interaction_required`. Additionally, we do not recommend calling `acquireTokenSilent` on an interval or caching the tokens yourself as it will automatically try to renew the token before expiration and cache it. If you are using the msa

[2020-12-01 20:01] tnorling commented on #2676
@nniikkoollaaii One option would be to use [msal-node](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node) to obtain your tokens and then write them to local/session storage in your browser. `msal-node` and `msal-browser` both use `msal-common` to do things like caching so the keys and values will be the same across. An example cache file outputted by msal-no

[2020-12-01 20:20] MarekLani commented on #2315
@tnorling  please disregard my comment, it was related to issue of re-renders invoked in react code.

[2020-12-01 22:45] hpsin commented on #2664
You should be able to set `chrome-extension` as a redirect URI for the native apps too (manually set it in the manifest rather than use the portal UX) - then the code will be sent to your app. The reason I suggest use of your own domain is so that you can benefit from SSO.  Chrome's `chrome.identity.launchWebAuthFlow` opens a webview that is missing cookies, to our understanding, which means the u

[2020-12-02 00:22] jasonnutter commented on #1386
Closing, as we will consider this for MSAL Browser in #2563

[2020-12-02 00:22] #1386 closed

[2020-12-02 00:29] #2522 closed

[2020-12-02 11:03] paranthamanwp commented on #2548
client-request-id=2def2b18-e04e-41a7-ac8b-afa98d2bd5b4

https://login.microsoftonline.com/82551a12-bbc8-4fed-8b7f-2b758284b5ea/oauth2/v2.0/authorize?response_type=id_token&scope=api%3A%2F%2F593de8b7-8747-4b3b-a0c2-57aa7c8c2b46%2Fuser_impersonation%20openid%20profile&client_id=593de8b7-8747-4b3b-a0c2-57aa7c8c2b46&redirect_uri=****.net.au&state=eyJpZCI6IjQ1ZTM0NGJkLTQwYTUtNDg0Ny05OWNkLWJhNmJiMjBhNjc

[2020-12-02 12:04] JTInfinite commented on #2315
hello,

I'm currently stuck on this particular issue and FAQ workarounds don't work for me.

FAQ workaround 1 make no difference. I pass my scope [authorityuri/policy/user.read] in both the loginRedirect and the following acquireTokenSilent - no access_token.

FAQ workaround 2: the account object does not have a username so I am not able to pass a login hint.

When can we expect a fix for this iss

[2020-12-02 13:03] HelplessFlo opened #2679 "Token missing in request"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-02 14:51] rytmis opened #3448 "Current https-proxy-agent dependency causes issues with unrelated code"
Version: 4.3.0
Behavior: Unrelated code breaks because requests are being redirected to localhost

The issue I'm seeing is https://github.com/panva/node-openid-client/issues/301 (I'm trying to refresh tokens originally obtained via passport-azure-ad). Requests made via openid-client are categorically redirected to localhost instead of the intended address. This is a bug in an upstream dependency o

[2020-12-02 16:37] Sharatmenon commented on #2654
@tnorling Thanks for your inputs. One other option was to use a session id for acquireTokenSilent call. I couldn't find any references on how to pull a sid for a user. Do you know how we could get an sid using custom policy ?

[2020-12-02 16:41] georgejdli commented on #2475
@jasonnutter  thanks I'm no longer working on the project that has this problem but I'll forward your suggestion to the team

Closing the issue for now

[2020-12-02 16:41] #2475 closed

[2020-12-02 17:00] tnorling commented on #2315
@JTInfinite

Can you clarify, are you getting an access token back from `loginRedirect`? If you don't get one from `loginRedirect` then it is expected you would not get one from a subsequent `acquireTokenSilent` call, we should understand why. Can you open a new issue with steps to reproduce + send me network logs if this is the case?

This is documented [here](https://github.com/AzureAD/microsoft

[2020-12-02 19:23] JTInfinite opened #2681 "No return access token from either loginRedirect or acquireTokenSilent"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

I'm using Vue if that is what is meant by framework

## Description

I am unable to obtain an acc

[2020-12-02 19:24] JTInfinite commented on #2315
thanks @tnorling - I've done as you've requested. Let me know if I can help by providing anything further.

[2020-12-02 19:38] tnorling commented on #2679
@HelplessFlo Could you debug the Interceptor and compare the url that is passed to the interceptor with the url you provided in the `protectedResourceMap` as it is possible that the interceptor is receiving a relative url even though you have provided an absolute url or vice versa.

[2020-12-02 19:54] tnorling commented on #2681
@JTInfinite Are you trying to obtain an access token for MS Graph or is `user.read` a custom scope you configured on your B2C tenant? You cannot obtain tokens for MS Graph using delegated permissions when using a B2C tenant, this is documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md).

Can you try creating a custo

[2020-12-02 20:11] #2461 closed

[2020-12-02 21:05] jasonnutter commented on #2664
@blinard I was able to test out MSAL.js v2 with `chrome.identity.launchWebAuthFlow` and changes in the linked PR, and it appears to work. I'll include a doc and/or sample demonstrating how to set this up.

[2020-12-02 22:57] JTInfinite commented on #2681
@tnorling yes, I am trying to obtain a token for MS Graph. I've reread the documentation you sent and I think its becoming more clear...

I created a custom scope on my app registration and included it as the scope in the loginRedirect and the subsequent acquireTokenSilent and nothing changes...no token:

![tempsnip](https://user-images.githubusercontent.com/16175334/100941536-b0a07300-34f1-11eb-9

[2020-12-03 00:29] #2454 closed

[2020-12-03 11:08] mulej2 opened #2685 "Api permissions in SPA app registration"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-03 11:29] ranros commented on #2561
Hi any news?

[2020-12-03 11:36] akhileshea opened #2686 "Error on login redirect"
I get the below error when I try to use login redirect and handleRedirectPromise is never called.
Uncaught (in promise) TypeError: hashString.indexOf is not a function
    at Function.UrlString.parseHash (index.es.js:1907)
    at Function.UrlString.getDeserializedHash (index.es.js:1929)
    at Function.UrlString.hashContainsKnownProperties (index.es.js:1945)
    at PublicClientApplication.ClientAp

[2020-12-03 16:10] JTInfinite commented on #2681
Hi @tnorling - I've managed to get an access token for a customer scope working. I had to create a webAPI app registration which exposed an endpoint and scope etc..etc..

I'm abit confused now between the scopes and permission section on the webapi app. What does my custom scope relate to? How do I expose microsoft graph through my webapi app to my client app?

Thanks!

[2020-12-03 17:52] tnorling commented on #2686
@akhileshea Can you please use one of the provided [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose). Thanks!

[2020-12-03 17:55] tnorling commented on #2654
@Sharatmenon sid is not supported in B2C scenarios, the 2 options I listed above are your only options currently.

[2020-12-03 18:18] tnorling commented on #2561
@ranros Apologies for the delay on this. I was able to reproduce this and confirm this is a bug. Will try to have a fix available soon.

[2020-12-03 19:02] tnorling commented on #2659
@FlyRocketDrones Looks like you are checking idToken expiration and then trying to acquire an access token? Can you try including `openid` in your scope list? That should result in a request for both a new idToken and accessToken. Additionally, you should not have to check expiration yourself as msal does that as part of `acquireTokenSilent`

[2020-12-03 19:36] tnorling commented on #2685
@mulej2 Either approach should work. If you try it out and have any issues feel free to let us know

[2020-12-03 19:46] zhangxAmtrak opened #2689 "MSAL library state mismatch issue"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

We are using below  version

[2020-12-03 19:54] tnorling commented on #2675
@luisamckenna1 In order to get the logged in accounts you can call `msalService.instance.getAllAccounts()`, in order to get tokens you can listen to the [broadcastService](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/05b27e4673c9af6d8756503538b4f550ede40a1d/samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.component.ts#L29) or call `msalService.instance.ac

[2020-12-03 20:00] tnorling commented on #2689
@zhangxAmtrak This is happening because we do not support switching policies mid-stream. We recommend you resolve this in one of 2 ways:
1. Use a single policy for both sign up and sign in
2. When a user changes the policy, first redirect back to your app and have your app call `loginRedirect` again with the new policy

[2020-12-03 20:15] thoo1 opened #2690 "Root Err: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

[2020-12-03 20:25] thoo1 opened #2691 "The token request could not be fetched from the cache correctly. Error Detail: TypeError: Cannot read property 'replace' of null"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Descri

[2020-12-03 21:06] tnorling commented on #2690
@thoo1 Can you provide some minimal steps to reproduce or any additional information that might help us determine a root cause?

Typically this error would be thrown in scenarios where the initial request did not originate from msal. Or even potentially a version mismatch between the msal-browser instance that initiated the request vs the one that is processing the response. The state string in th

[2020-12-03 21:23] tnorling commented on #1810
Closing due to inactivity and do not believe this is a bug. If the above suggestions do not resolve the issue please open a new issue so we can follow up.

[2020-12-03 21:23] #1810 closed

[2020-12-03 21:29] tank104 commented on #2461
Thanks for doing the work @jasonnutter - any idea when that will be released?

[2020-12-03 21:30] tnorling commented on #2445
Closing as the discussion is no longer relevant to MSAL.js, please open a support ticket with AAD if you have further service related questions. Thanks!

[2020-12-03 21:30] #2445 closed

[2020-12-03 22:43] kalyansury commented on #2689
@tnorling After the user lands on the home page with the state mismatch error, a subsequent user action for login, is handled by the msal plugin and it logs the user in. What is the expected behavior for msal here? If this the current flow of msal to login the user on the user action is acceptable, then I assume handling the state_mismatch error to retry the msal login action is good too and a fut

[2020-12-03 23:18] JTInfinite commented on #2681
I am at the stage where I've written an API and am using the b2c registered app secret to get the MS Graph token.

What I don't understand is where the user login and subsequent tokens come into this? How can I make it so an access token from my logged in user is used to access my api, which in turn accesses ms graph?

[2020-12-03 23:23] tnorling commented on #2508
@nickgmicrosoft Can you update the docs/app registration experience to call out the nuances with the invite flow?

[2020-12-03 23:36] nickgmicrosoft commented on #2508
Hi all, there's currently a limitation for Azure AD B2C in which the service relies purely on the access token checkbox to enable both ID token and access token implicit requests. For Azure AD B2C, you have to check that checkbox, regardless of whether you'll use ID token/implicit flow or not.

We're exploring options to update the documentation and portal experience updates to reflect this while

[2020-12-03 23:37] thoo1 commented on #2690
@tnorling oh that could be it.. let me check more in depth but in our app, we are currently trying to move to msal-browser, region by region, so there could be chance that the old auth implementation is contributing to this error

I'll look more in depth and update

[2020-12-03 23:47] thoo1 commented on #2690
yep, looks to be the case, we had enabled msal-browser through a flight while some users were using the old auth implementation, causing the states to mismatch

Closing, thanks for your help!

[2020-12-03 23:47] #2690 closed

[2020-12-03 23:55] thoo1 opened #2694 "How to debug AADSTS501481: The Code_Verifier does not match the code_challenge supplied in the authorization request errors?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-04 00:32] tnorling commented on #2694
Closing as duplicate of #2691, also may be related to #2690

[2020-12-04 00:32] #2694 closed

[2020-12-04 00:43] tnorling commented on #2601
Determined in offline discussions that the refresh token (24hr lifetime) is renewing the session when calling acquireTokenSilent. Options are:
1. Use a custom policy to set refresh token lifetime to at or below session lifetime
2. Track user activity app side and call `logout()` after the desired amount of inactivity

Closing as the question has been answered. Discussion over implementation is ong

[2020-12-04 00:43] #2601 closed

[2020-12-04 00:47] tnorling commented on #2536
Closing due to inactivity and possible duplicate of #2451. Please open a new issue if the suggestions above do not solve the issue.

[2020-12-04 00:47] #2536 closed

[2020-12-04 01:04] tnorling commented on #2689
@kalyansury Not sure I understand what you're asking. The issue here is that msal makes a request out to policy "signin" and receives a response from policy "sign-up", resulting in a mismatch. To clarify, it's fine to catch the state mismatch error and make a new login call to the other policy but you should not try to process the response from the first login call. A cleaner solution would be: ap

[2020-12-04 01:09] tnorling commented on #2642
@praveen4949 MSAL does not control the sign-in experience. This is likely a configuration either on your app registration or conditional access policies, the support link @jasonnutter shared above can better assist you with this.

[2020-12-04 01:13] tnorling commented on #2663
@ulken Can you share a minimal reproduction or do some debugging on your end to determine what might be causing the cache miss? I tried this out with our [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp/app/b2c) and did not experience what you describe.

[2020-12-04 01:14] tnorling commented on #2644
Closing as the original question has been answered. Please open a new issue if you have further questions. Thanks!

[2020-12-04 01:14] #2644 closed

[2020-12-04 01:23] tnorling commented on #2547
@iZagi Is there any error in the console or on the network request that might provide a clue as to why it gets cancelled? Are you perhaps trying to initiate logout from an iframe?

Also are you using msal@1.4.4 or msal-browser@2.7.0? You mentioned both...

[2020-12-04 01:25] tnorling commented on #2517
Closing due to inactivity. Please open a new issue if you are not able to get this to work on the newest version (1.4.4).

[2020-12-04 01:25] #2517 closed

[2020-12-04 01:36] tnorling commented on #2691
@thoo1 This may or may not be related to the other issue you posted related to state. What's happening here is that msal places your request in localstorage before redirecting to AAD. When AAD redirects back to your app msal will attempt to retrieve the cacehed request and compare certain properties to the response. In the error you shared above it appears msal was unable to get any cached request

[2020-12-04 02:57] Sharatmenon commented on #2654
@tnorling - I just read a doc where it said the refresh tokens for a SPA with PKCE can be a max of 24 hrs not more than that, is that true?

[2020-12-04 08:25] janusch commented on #2644
@jasonnutter Thank you for the reply. It helped me to find a suitable solution for the issue.
Keep up the great work!

[2020-12-04 08:39] ulken commented on #2663
@tnorling Thank you for looking into this. I'll try your sample out just to confirm we're referring to/experiencing the same thing. If indeed working as expected, I'll look into what might be the culprit. One thing though (for it to be an entirely representable reproduction): how do I/you create a legacy (sign-up) user flow? Or are you convinced that's unrelated? I can't tell since I don't know th

[2020-12-04 09:16] Ladvace opened #2695 "Token renewal operation failed due to timeout with react and electron"
## Library
- [x] `msal@1.14.4`

## Framework

## Description
I'm trying to use msla with react on electron, I managed to open the login popup, but after some seconds it close itself and I get the following error

## Error Message
[code]

## MSAL Configuration
[code]

## Browsers/Environment
- [x] Electron

[2020-12-04 09:20] iZagi commented on #2547
@tnorling we've migrated from msal 1.4.4 to msal-browser 2.7.0, i did recheck, we are using only msal-browser now, during a bit of research i've noticed we didnt use hashlocation strategy, after setting it to true, the logout started to work as intented. Is there a way to avoid using "useHash:true" in the router or its mandatory for the framework to work?

[2020-12-04 10:04] sandrooco commented on #2679
You probably should add a wildcard to your api requests. I'm guessing thatyour `msalConfig.apiUrl` is only a base url without the `/user` endpoint.

Possible solution: `protectedResourceMap.set(environment.msalConfig.apiUrl + '**', ...);`

We use it like this: `'https://somebackendurl.ch/api/**',`

[2020-12-04 14:16] thraidh opened #3447 "Expose `end_session_endpoint` from metadata"
To properly log out of AzureAD it is necessary to go to
[code]
Given that only the `identityMetadata` URL is a required part of the configuration, we can either extract the tenant ID from that using regular expressions, but that is complicated, if that can be either a URL for B2C or V1 or V2 non-B2C URLs.

The correct link is already part of the metadata, which is fetched through that URL. Unfortu

[2020-12-04 16:59] tnorling commented on #2654
@Sharatmenon That's correct.

[2020-12-04 17:20] tnorling commented on #2663
@ulken I understood the cache miss is only related to switching scopes / other params in the request. Is that not the case? Is this happening on the new user flow but not the legacy or vice versa?

Let me just confirm that my understanding is correct, for the sake of example let's consider the changing scope scenario:
1. If you request scope set A, caching works as expected
2. You request scope se

[2020-12-04 18:03] Sharatmenon commented on #2654
Thanks for your help @tnorling

[2020-12-04 18:25] thoo1 commented on #2691
@tnorling I see, thanks for the insight, that could be it.. I'll try to find a repro but for right now, I'm only seeing this in our logs.
For the code verifier error, what would be the bad params? I also see the code verifier errors on their own (so none of the other mentioned errors happened)

[2020-12-04 19:39] tnorling commented on #2547
@iZagi "useHash:true" is not required for msal-angular to work. Can you clarify what is not working or not happening? Is it not redirecting to the logout url? Can you also try setting the `post_logout_redirect_uri` to your homepage?

[2020-12-04 19:50] tnorling commented on #2681
@JTInfinite Can you clarify what data you're interested in getting from MS Graph and what Identity providers you are using for B2C?

[2020-12-04 20:02] tnorling commented on #2441
@RichardSunMS Is this still an issue? If so can you provide the login url to @hpsin?

[2020-12-04 21:36] jasonnutter commented on #2664
@blinard Linked PR includes work sample using MSAL Browser and the `launchWebAuthFlow` APIs.

[2020-12-04 21:58] jasonnutter commented on #2127
This will be addressed in #2669, which will add the `onRedirectNavigate` callback to the logout API.

[2020-12-04 22:20] tnorling commented on #2691
@thoo1 In this case it's specifically complaining about the `codeVerifier` being either wrong or missing. Which is likely also due to the fact that you seem to be having issues getting the cached request. I believe all of these issues share the same root cause.

[2020-12-04 22:34] tnorling commented on #2639
@jviney We discovered a regression that prevented some temporary cache items from being cleared in certain situations. #2696 addresses this and may also solve this issue. But without knowing the circumstances in which your users reached this bad state I can't say for sure. In any event keep your eyes out for version 2.8.0 in the coming days.

[2020-12-04 22:41] iulianmarius opened #2697 "Multiple tokens(claims) from different resources"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-alpha.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular

[2020-12-04 22:49] jasonnutter commented on #2697
@iulianmarius I'm guessing that this is happening because your app is making multiple concurrent http requests, each of which are potentially resulting in an error when the interceptor invokes `acquireTokenSilent`. Can you please debug the interceptor and figure out the errors being thrown by `acquireTokenSilent` in the interceptor?

[2020-12-04 22:50] jviney commented on #2639
Thanks @tnorling. We'll upgrade when 2.8.0 comes out and see if the issue gets reported again.

[2020-12-04 23:10] jasonnutter commented on #2697
If you have logs from the MSAL Logger, that may also be helpful.

[2020-12-04 23:24] iulianmarius commented on #2697
I found more info:
this errors i get while the login window is shown- so before actually logging in. after login i get only one token:
![image](https://user-images.githubusercontent.com/5133575/101224708-b8961980-368f-11eb-9aac-3786a3c235ec.png)

but if i  refresh the page i get all 3 tokens and everything is working as expected.
![image](https://user-images.githubusercontent.com/5133575/101224782

[2020-12-04 23:39] jimbarrett33 commented on #1810
Thanks @tnorling. I will take a look at this soon. Appreciate your time and effort in looking into it.

[2020-12-04 23:40] ulken commented on #2663
I get the confusion. That's _not_ the case. It's happening whenever a _change_ is made. Be it scope, authority/user flow or potentially other parameters. I.e. if I'm signed in with the old user flow and the code is updated to use the new flow -> cache miss. Sign out/in -> cache hit. Same thing for scopes.

I haven't gotten around to try out the sample. I'll get back to you when I do and also run t

[2020-12-05 01:08] tnorling commented on #2663
@ulken I'm still a little confused because I feel like we just said the same thing. What my question is is this: does changing one variable (i.e. scopes) result in a cache miss or does this all hinge on the assumption that you are **also, at least** changing the user flow? If you don't change the user flow but you change some other parameter in the request do you still get a cache miss?

We didn't

[2020-12-05 01:41] bladmorenoacn opened #2699 "AADSTS900144: The request body must contain the following parameter: 'client_id'."
## Library
- [ ] `msal@1.4.4`
- [ ] `@azure/msal-angular@1.1.2`

## Framework
Angular 11

## Description

When the library tries to get the access token in test environment we get this error with Angular 11, we started to experience this in incognito mode, for some reason when the Access token is being requested the client_id paramenter is lost in the process

## Error Message

AADSTS900144: The r

[2020-12-05 01:44] jasonnutter commented on #2699
@bladmorenoacn In your code above, you have `clientID`, as opposed to `clientId`. Please update your configuration and let us know if this is still an issue.

[2020-12-05 02:59] bladmorenoacn commented on #2699
I did made the change now I am getting a CORS Error, the Access Token is not being injected as a header in the protectedResources url, is working on dev env, but not on test or stage

Access to XMLHttpRequest at 'https://XXXXXX..XXXXX.acn.com/api/v1/XXXXXXX?XXXXXXX=false' from origin 'https://XXXXXX.XXXXX.acn.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present

[2020-12-05 03:07] hsluoyz commented on #2461
When will this feature be released?

[2020-12-05 03:11] bladmorenoacn commented on #2699
On Stage environment now I am getting

ERROR TypeError: Cannot read property 'indexOf' of undefined
    at MsalService.push../node_modules/msal/lib-commonjs/UserAgentApplication.js.UserAgentApplication.saveTokenFromHash (VM16 main-es2015.4846726f9b0b64775122.js:147203)
    at MsalService.push../node_modules/@azure/msal-angular/dist/msal.service.js.MsalService.processHash (VM16 main-es2015.4846726f

[2020-12-05 08:06] Ladvace opened #2701 "error TS2307: Cannot find module 'msal-electron-poc' #1217"
I tried running `msal-electron-sample-app sample` but I got the same error of this issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1217.

As suggested in the issue above, I run npm install in the root folder, but I still get the error.

[2020-12-05 11:16] ulken commented on #2663
Communication, aye? 🤷‍♂

Interesting. That's not how I read it.

Yes. At least until cache is manually cleared or one sign out/sign in again.

No. Changing scope is independent of changing user flow. However, changes to one _xor_ (independent of one another) the other results in a cache miss (until cache is cleared).

Yes. Until cache is cleared.

OK, then:

1. What's your recommended way to trans

[2020-12-05 12:54] cacodev commented on #2641
I'm assuming its the MSAL service because it's trying to resume the route where the app was prior to the login.  Should I maybe not using my main homepage as a landing page for login redirects?

[2020-12-05 19:31] JTInfinite commented on #2681
@tnorling Thanks for getting back to me.

I've managed to get an access token from my SPA. I've managed to get an azure function to request an access token to use to retrieve a list of users in my B2C directory.

I'm now working through the docs to understand how to protect the azure function API with B2C.

I've run through this two part documentation:
https://docs.microsoft.com/en-us/azure/active

[2020-12-06 03:30] andrewabril opened #2702 "Cannot get access token in React app accessing protected .NET Core API with Azure B2C"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-07 02:28] kenny-reyes commented on #2531
For me also, appears this when logout user:

`Code flow is not supported inside an iframe. Please ensure you are using MSAL.js in a top frame of the window if using the redirect APIs, or use the popup APIs`

It appears before redirection, so technically doesn't affect to my flow but leave this awful error in the console.

[2020-12-07 08:55] HelplessFlo commented on #2679
@tnorling Thank you very much, I added only "/api" to my protectedResourceMap and it works as intended.

@sandrooco Thank you for your answer too, even if this was not the problem.

[2020-12-07 08:55] #2679 closed

[2020-12-07 09:37] akhileshea opened #2704 "Login redirect does not work with @azure/msal-browser 2.7.0"
## Library

- [ ] `@azure/msal-browser@2.7.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
Login redirect doenst work as expected,

## Error Message
index.es.js:1907 Uncaught (in promise) TypeError: hashString.indexOf is not a function
    at Function.UrlString.parseHash (index.es.js:1907)
    at Function.UrlString.getDeseri

[2020-12-07 13:32] JTInfinite commented on #2681
I managed to protect an azure function using the B2C access token.

Still not 100% sure as the webapi registered app in B2C uses the implicit grant flow.

Anyway, at least I have a working system now.

[2020-12-07 13:32] #2681 closed

[2020-12-07 15:10] derisen commented on #2681
@JTInfinite instead of translation you can perhaps use the [azure-function-express](https://www.npmjs.com/package/azure-function-express) library? There is a [sample here](https://github.com/Azure-Samples/ms-identity-nodejs-webapi-azurefunctions) featuring that.

[2020-12-07 16:40] JTInfinite commented on #2681
@derisen thanks - that looks really cool. Wish i'd found it 2 days ago!

[2020-12-07 16:44] derisen commented on #2681
Sorry about that, missed this thread : )

[2020-12-07 17:15] jasonnutter commented on #2531
@kenny-reyes Currently this is expected. We will be making improvements to logout in #2546 and #2563.

[2020-12-07 17:18] hectormmg commented on #2701
@Ladvace hi! The `msal-electron-sample-app` is a little outdated. As mentioned in the sample's README, `msal-electron-poc` is just a proof of concept and isn't really supported. For now, we suggest using our `msal-node` library, which is in public preview, for Electron apps. Here's an up-to-date sample using `msal-node with Electron which I hope will help you!

https://github.com/AzureAD/microsoft

[2020-12-07 17:23] Ladvace commented on #2701
thanks, what is the difference between `msal `and `msal-node`?

[2020-12-07 17:23] tnorling commented on #2702
@andrewabril Can you try including the scopes in your login request? There's a known issue with B2C discussed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2315) where B2C only issues refresh tokens that can be exchanged for the scopes used to obtain the RT. In this case it results both in a failed cache lookup for the access token (since this is the first time y

[2020-12-07 17:24] hectormmg commented on #2695
Hey @Ladvace, `msal@1.x` does not support your use case since it uses the implicit grant, which OAuth 2.0 discourages in your particular scenario. We recommend you use our `msal-node` library for this. I linked to the ElectronTestApp in issue #2701, hopefully that'll be helpful.  **Please note that although we have a working sample, we don't have an officially supported implementation of MSAL for

[2020-12-07 17:26] hectormmg commented on #2695
Closing since the scenario is unsupported. If you have any further questions for your scenario, please raise a new issue.

[2020-12-07 17:26] #2695 closed

[2020-12-07 17:33] tnorling commented on #2663
@ulken Thanks for clarifying, I think we're on the same page. To go back to your previous question; it sounds like the user flow is irrelevant here as the cache miss happens even when changing only scopes. That's what I'd like to focus on for now as it's easier to debug, we can come back to the user flow later. Can you spin up our b2c sample app and reproduce this by changing only the scope param?

[2020-12-07 17:53] hectormmg commented on #2701
@Ladvace so, `msal` (1.x), or `msal-core` as the package is called is our v1 MSAL for JavaScript. This first implementation uses the OAuth 2.0 Implicit Grant flow to acquire tokens. That library is optimized for Single Page Applications that use JavaScript on the browser.

However, since OAuth 2.0 suggested moving SPAs from the Implicit Grant to the Auth Code grant, and JavaScript is also availabl

[2020-12-07 17:57] tnorling commented on #2704
@akhileshea `handleRedirectPromise` does not take in a callback as a parameter like `handleRedirectCallback` did in version 1.x. Can you instead change this to something like this?

[code]

[2020-12-07 18:00] Ladvace commented on #2701
I will give it a look, I was using "msal" but i have some problem going on

[2020-12-07 18:09] tnorling commented on #2686
Closing as duplicate of #2704

[2020-12-07 18:09] #2686 closed

[2020-12-07 18:21] jdolearydl opened #2705 "Faulty url normalization causes an infinite redirect loop"
## Library
- [x ] `@azure/msal-browser@2.7.0`

## Framework
N/A

## Description
ClientApplication.ts can cause an infinite redirect loop when loginRequestUrlNormalized doesn't equal currentUrlNormalized due to query string `?`.
For example: `"http://localhost:8000/observation/field?" !== "http://localhost:8000/observation/field"`

When ClientApplication.ts line 179
`if (loginRequestUrlNormalized =

[2020-12-07 18:41] jdolearydl commented on #2705
![msal-loop-demo](https://user-images.githubusercontent.com/43141484/101391078-d501a400-3891-11eb-8e72-e55afe4cb1a7.gif)

[2020-12-07 18:48] tnorling commented on #2699
@bladmorenoacn Can you confirm which versions of `msal` and `msal-angular` are generating that stack trace? We would not expect `msal-angular@1.1.2` to generate what was shown above.

The CORS error is thrown by your API, please verify that your API server is setup to handle CORS requests.

[2020-12-07 20:40] tnorling commented on #2705
@jdolearydl Thanks for bringing this to our attention. It looks like when the query string is empty our `clearHash` function is stripping the ? off the current url which is what is preventing the 2 from ever being equal in this scenario and causing the loop. I will put up a PR to address this shortly but in the meantime there are a couple different workarounds you can try:
1. Set the `redirectStar

[2020-12-07 21:05] jdolearydl commented on #2705
I'll give that a shot, thanks!

[2020-12-07 21:16] #2705 closed

[2020-12-07 21:18] tnorling commented on #2705
@jdolearydl Fix will be available in version 2.8.0 which will be released shortly

[2020-12-07 21:30] #2127 closed

[2020-12-07 21:30] #2664 closed

[2020-12-07 22:51] tnorling commented on #2639
@jviney Version 2.8.0 has been released. Please give it a shot and let us know whether or not that resolves this issue and, if not, any additional information that might help us determine what's happening here. Thanks!

[2020-12-08 01:02] jviney commented on #2639
Great - thanks @tnorling. I'll reopen this issue if it still occurs.

[2020-12-08 01:02] #2639 closed

[2020-12-08 01:51] andrewabril commented on #2702
Thank you! I was able to get the access token that way. Still trying to piece it together but at least I know I'm getting a token.

What would best practices be in terms of getting and using the token? I used the useMal() example (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md) with useEffect() to get the token, and it's getting called hund

[2020-12-08 05:00] paranthamanwp commented on #2548
any updates?

[2020-12-08 13:24] aditya-m-shah commented on #2702
I am facing the same the issue - calling acquireTokenSilent fails to resolve. It seems to dismounting the component causing an infinite loop

[2020-12-08 14:07] tomatsue commented on #1810
FYI. I had the same issue. Following this thread and the docs, I added `extraScopesToConsent` to `loginPopup` but it didn't work. It seems because `extraScopesToConsent`  won't be appended the scopes when the `scopes` is null.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2e93cfe4df6a2ef6c6f53f540ba0b84cc6746781/lib/msal-core/src/ScopeSet.ts#L145

So I needed to add `scop

[2020-12-08 16:57] tnorling commented on #2702
@andrewabril This should be addressed in the newest version. Can you try to update to `@azure/msal-react@1.0.0-alpha.1` and let me know if that fixes it?

[2020-12-08 17:57] andrewabril commented on #2702
It looks like that did fix it - great.

One more thing if you don't mind so I can get this working end to end. I'm getting a CORS error that I didn't have before. I've tried adding specific origins (https://{sample}.onmicrosoft.com,https://{dample}.b2clogin.com,https://login.microsoftonline.com) to my allowed origins config and also allowing all origins with no effect. I've also tried adding Acces

[2020-12-08 19:18] tnorling commented on #2702
@andrewabril Looks like this is happening when your app is calling your API which means this does not have to do with B2C. You may need to configure your API to respond to the OPTIONS request with the Access-Control-Allow-Origin header set and possibly others.

You can read more about CORS [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)

[2020-12-08 21:05] Ladvace opened #2714 "Error launching app ElectronTestApp (msal-node-samples)"
## Library
- [x] `@azure/msal-node@1.0.0-beta.2`

## Framework
react with electron

## Description
I'm using  https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/ElectronTestApp, it works fine until i try to login (actually I can login) but I get the following error
https://imgur.com/a/9n1SUg0

[2020-12-08 22:01] ulken commented on #2663
@tnorling Great! You might be right, sounds like a good idea. I'll give it a go and report back to you.

[2020-12-08 22:29] jgbrands opened #2719 "MSAL useAccount and acquireTokenSilent will trigger infinite loop if used in React effect"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

[2020-12-08 22:57] tnorling commented on #2719
@jgbrands Can you please update to `msal-react@1.0.0-alpha.1` and see if that solves your issue? That version contains a fix for this particular issue.

[2020-12-08 23:03] jgbrands commented on #2719
Thank you, that works. My apologies for not trying to update first, I wish NPM was better at informing you of updates.

[2020-12-08 23:03] #2719 closed

[2020-12-09 01:02] bladmorenoacn commented on #2699
versions are
"@azure/msal-angular": "^1.1.2",
"msal": "1.4.4"

[2020-12-09 01:56] eanders-MS opened #2720 "ClientAssertion.parseCertificate fails to parse cert data with newlines"
## Library
- [x] `@azure/msal-node@1.0.0-beta.2`

## Framework

NodeJS

## Description

It is common for certs exported from pfx to contain newlines. For example, OpenSSL exports certs in the format:
[code]

The regex in ClientAssertion.parseCertificate is unable to parse such certs with newlines due to the `.` term's default behavior of not matching newlines. This can be fixed by the addition of

[2020-12-09 02:30] bladmorenoacn commented on #2699
I updated the configuration and now I am getting this error, and the token is not being injected in to the request headers:

ERROR Error: Uncaught (in promise): ClientAuthError: Login_In_Progress: Error during login call - login is already in progress.
ClientAuthError: Login_In_Progress: Error during login call - login is already in progress.
    at ClientAuthError.AuthError [as constructor] (VM16

[2020-12-09 03:51] andrewabril commented on #2702
I don't think the error is entirely accurate. I set up CORS before adding any authentication/authorization into the api and haven't had any issues. I have it allowed to certain sites (localhost and a sentry endpoint), but it breaks after I add auth with b2c.

I will look into it a bit more, but because it only occurs when I add the auth piece to the api, I'm leaning toward it being related to auth

[2020-12-09 05:04] Sharatmenon commented on #2654
Hi @tnorling

I have a few more quesion

[2020-12-09 05:04] #2654 closed

[2020-12-09 05:36] Sharatmenon opened #2722 "B2C Refresh tokens lifetime custom policy"
## Library
- [ ] `@azure/msal-browser@2.6.0`

## Description
As per documentation, the max life for a refresh token with a spa using PKCE is 24hrs.

**Two questions :**

1. Can I reduce that refresh token lifetime secs to 10 hrs  using the below ?

  **Config in my relying party file**

`   <Metadata>
          <Item Key="token_lifetime_secs">3600</Item>
          <Item Key="id_token_lifetime_secs

[2020-12-09 07:01] benjamincburns opened #3446 "admin_consent broken for v2 multitenant apps -- should use the adminconsent endpoint"
I'm writing a multitenant application. I use the v2 common `identityMetadata` endpoint. I wantto make use of the admin consent flow, so I have an endpoint that uses the `prompt: "admin_consent"` option when I call `passport.authenticate.` This causes me to be redirected to https://login.microsoftonline.com/common/oauth2/v2.0/authorize and I see the following error: `AADSTS901001: Invalid request.

[2020-12-09 12:02] nomanshahsyed opened #2723 "Redirect URI for Angular/Ionic App on Device"
## Library
- [X] `@azure/msal-angular@2.0.0-alpha.1`

## Framework

Ionic:

   Ionic CLI                     : 6.12.2 (\npm\node_modules\@ionic\cli)
   Ionic Framework               : @ionic/angular 5.5.1
   @angular-devkit/build-angular : 0.1002.0
   @angular-devkit/schematics    : 10.0.8
   @angular/cli                  : 10.0.8
   @ionic/angular-toolkit        : 2.3.3

Cordova:

   Cordova CLI

[2020-12-09 14:22] nomanshahsyed commented on #2644
@janusch how did you solve your problem?

[2020-12-09 16:57] tnorling commented on #2702
@andrewabril You should be able to see which network request is failing the OPTIONS request in your network tab. If it's failing on any of the b2c endpoints take a look at your app registration and double check your redirectUri is configured as type SPA. If it's failing on your own API then it's most likely related to any new headers you are adding to your request.

[2020-12-09 17:18] hectormmg commented on #2714
Hi @Ladvace, can you provide any more information so we can try to replicate this? Please share your logs as well as your MSAL config.

[2020-12-09 17:22] tnorling commented on #2722
@Sharatmenon We can't help you with custom policy config questions as that is a service level question. You can, however, open a support ticket [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and they should be able to help you get set up.

For the 2nd question, `acquireTokenSilent` will automatically call `ssoSilent` under the hood when the RT is expired. You s

[2020-12-09 17:29] Ladvace commented on #2714
Actually I solved, I setted the wrong protocol

[2020-12-09 17:29] #2714 closed

[2020-12-09 18:13] rhnsharma999 opened #2725 "Is user expected to be SSOed even after logout (Connected to Windows Account)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `@azure/msal-browser@2.x.x`
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-12-09 18:17] #2701 closed

[2020-12-09 19:04] tnorling commented on #2725
@rhnsharma999 Yes, this is expected behavior when using [Browser SSO](https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token#browser-sso-using-prt).

@hpsin Can you provide more context?

[2020-12-09 19:06] tnorling commented on #2699
@bladmorenoacn Can you explain the steps to getting that stack trace? Login in progress errors happen when an interactive request (popup or redirect) is initiated while another one is already in progress.

[2020-12-09 19:16] tnorling commented on #2723
@nomanshahsyed Can you clarify is the error message "This site can't be reached" thrown when trying to access `http://localhost:8100`? Localhost will not work on phones, you may need to [configure Ionic](https://ionicframework.com/docs/cli/commands/serve#:~:text=By%20default%2C%20ionic%20serve%20boots%20up%20a%20development,at%20once.%20ionic%20serve%20uses%20the%20Angular%20CLI.) to serve an exte

[2020-12-09 19:33] hpsin commented on #2725
That's correct - the user stays signed in the OS, but not "active" when they sign out, so they'll have to click on their tile again to sign in with that account in the future.  We can pull in the team that owns this if there are further questions.

[2020-12-09 19:44] rhnsharma999 commented on #2725
Just to clarify, you mean that if a user logs out, and if then we attempt a `ssoSilent` call, we should get `InteractionRequiredAuthError` because the user needs to click his tile? Is this understanding correct?

(We are not seeing the above mentioned behavior)

[2020-12-09 19:58] tnorling commented on #2668
Closing as the question was answered. Please open a new issue if you have follow up questions. Thanks!

[2020-12-09 19:58] #2668 closed

[2020-12-09 20:11] tnorling commented on #2642
Closing as there's no further action from MSAL.js. Please open a new issue if you have other issues with the lib.

[2020-12-09 20:11] #2642 closed

[2020-12-09 20:55] RavennMSFT commented on #2725
@rhnsharma999 in this example above, are you closing the browser or opening a new tab in that same session

[2020-12-09 21:05] rhnsharma999 commented on #2725
We have the `postLogoutRedirectUri` set to the landing page of our app, where the user can trigger the auth flow again.
So it would be the same tab.

Though I see similar behavior even when I close the browser (different session).

[2020-12-09 21:22] streamcode9 opened #2726 "Hash does not contain state error in Office addins"
## Library
- [x] `msal@1.4.4`

## Description

Hi!

I am getting `AuthError: Unexpected error in authentication.: Hash does not contain state.` error after requesting access token with `acquireTokenRedirect`. I've checked FAQ `If state is not included in the request, verify the request was built by msal`, but I am not sure how to verify it as my code is pretty simple.

[code]

## Source

- [x] Cus

[2020-12-09 21:34] tnorling commented on #2726
@streamcode9 Can you take a look at the network tab in the dev tools for your browser and find the /authorize request? Take a look and see if `state` is included in the query string

[2020-12-09 23:11] RavennMSFT commented on #2725
Silent SSO after closing the browser is expected. If you are in the same session and you decided to explicitly sign out, the browser wont do silent logon, it will ask for credentials.

[2020-12-10 10:01] Ladvace opened #2729 "Delete cache on logOut msal-node electronTestApp"
I'm working on your sample  [ElectronTestApp](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/ElectronTestApp and the log out doesn't work poperly, when you log out it actually doesn't delete the cache and I can still do a silent login after logout, instead I should be redirect to the login page
).

It seems like  `removeAcco

[2020-12-10 11:46] nomanshahsyed commented on #2723
Hi @tnorling , thanks for your reply. Yes localhost will not work on the phone. I wonder why the loginredirect() opens up a popup.

Yes i can try to serve on a local ip and access the app through the IP and test if it works on the phone. I will reply the result soon.

I only wonder how this will work if user downloads the app from playstore or appstore? I could try [ionic auth connect](https://ion

[2020-12-10 12:14] nomanshahsyed commented on #2723
Well i cant serve on local ip as it is only http and Azure redirect URI needs to be https.

[2020-12-10 12:44] keku-equinor commented on #2461
Any indicative timeline on when this will be released?

[2020-12-10 12:50] streamcode9 commented on #2726
Hi @tnorling! Thank you for your help! I have found the issue but do not know how to interpret it.

I have enabled logs in msal. After `loginRedeirect` is fired and return the **id token**, `acquireTokenHelper` function is navigating to `https://login.microsoftonline.com/<guid>/oauth2/v2.0/authorize` with the next params
[code]

And then flows are different depends on where my page is hosted:

a)

[2020-12-10 14:00] Sharatmenon commented on #2722
Hi @tnorling  - For the 2nd question, I understand that it will automatically call SSoSilent. But in our use case we don't have access to retrieve a email/login hint once the refresh token expires as that is used to get access tokens for api calls. We don't have email/login hint as part of the id token as it is PII.

So we were planning to make a call just before the refresh token window expires,

[2020-12-10 16:35] jasonnutter commented on #2461
`@azure/msal-browser@2.8.0` is now available on npm.

[2020-12-10 16:43] rhnsharma999 commented on #2725
with MSAL we see that `ssoSilent` succeeds, even in the same session after logout
There is no issue with logout (specifically for AAD)

[2020-12-10 16:55] dangrussell opened #2730 "loginPopup opens offscreen in Chrome and Edge on second display"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
When browser is on a second display, login

[2020-12-10 16:57] navinna opened #2731 "Refused to display in a frame because it set 'X-Frame-Options' to 'deny'"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
We have integrated Azure AD B2C with Angul

[2020-12-10 16:59] sameerrswt opened #2732 "This issue has been closed due to inactivity. If this has not been resolved please open a new issue. Thanks!"
This issue has been closed due to inactivity. If this has not been resolved please open a new issue. Thanks!

_Originally posted by @github-actions[bot] in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2108#issuecomment-710710396_

[2020-12-10 17:00] #2732 closed

[2020-12-10 17:07] tnorling commented on #2731
@navinna Please see the docs on this error [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#refused-to-display--in-a-frame-because-it-set-x-frame-options-to-deny)

[2020-12-10 17:19] tnorling commented on #2722
@Sharatmenon msal-browser does not expose the refresh token for you to use. What I would suggest in this case is to simply wait for `acquireTokenSilent` to fail and then call one of the interactive methods to renew your tokens. Without a login_hint your user may be asked to select their account again and/or enter credentials.

[2020-12-10 17:23] navinna commented on #2731
@tnorling

In order to give a smooth user experience, we couldn't display the popup to renew the token, also we don't want to redirect the user to get the token, is there any other option to achieve this?

[2020-12-10 17:29] tnorling commented on #2731
@navinna What did you determine was the cause of this error in your scenario? Was it multiple accounts signed in?

[2020-12-10 17:39] navinna commented on #2731
@tnorling

No, there is only one account signed in, I couldn't confirm the cause of this issue in my application.

After reading the doc you mentioned above, I came to know this is the expected behavior. Here my concern is I cannot use the `acquireTokenPopup()`, can we restrict the redirection when using `acquireTokenRedirect` to get the new token?

[2020-12-10 17:49] nachoargentina opened #2733 "Is Edge WebView limiting redirect URL to 4095 characters?"
## Library

- [x] `msal@1.4.4` or `@azure/msal@1.4.4`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We have implemented an Outlook Add-In and currently have an authentication issue that ONLY hap

[2020-12-10 17:54] tnorling commented on #2731
@navinna What happens when you open the link from the error in a new tab? This is expected behavior in **some**, but not all, scenarios.

[2020-12-10 18:22] pritambaldota opened #2738 "Always received invalid_request: AADSTS65002: Consent between first party application '0bfc4568-a4ba-4c58-bd3e-5d3e76bd7fff' and first party resource '00000003-0000-0000-c000-000000000000' must be configured via preauthorization."
Hi Team,

I am workign on to upgrade from MSAL v1 to v2 and after logging when i am trying to acquire token silently, it always throws consent error. I have verified as our app id is being added to graph app as preauthorizied and with msal v1 it works fine. I am passing client id as scope to the slient request call.

[2020-12-10 19:40] tnorling commented on #2738
@pritambaldota MSAL.js v2 does not translate clientId to `openid` and `profile` as it did in v1. Can you try sending `scopes: ["openid", "profile"]` instead?

Also in the future please use one of the provided [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose) when opening a new issue. Thanks!

[2020-12-10 19:44] tnorling commented on #2733
@nachoargentina This is a known issue with `msal@1.x` when requesting both an access token and id token in the same request in the old Edge browser and IE11. Can you try upgrading to `msal-browser@2.8.0`? We do not expect this to be an issue with the new library.

[Migration Docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md)

[2020-12-10 19:47] tnorling commented on #2730
@dangrussell We'll look at reproducing this but in the meantime it would be helpful if you could provide a screenshot or video showing this behavior.

[2020-12-10 19:49] tnorling commented on #2726
@streamcode9 This sounds like the same problem as #2733. Can you try upgrading to `msal-browser@2.8.0`?

[2020-12-10 20:00] pritambaldota commented on #2738
@tnorling  I tried sending these scopes which creates token but for wrong audience - i.e. **https://management.core.windows.net/** where as we are expecting our client id should be as audience as it is validated on server.

[2020-12-10 20:06] tnorling commented on #2723
@nomanshahsyed When you are developing your app locally your development machine will need to host the app on an IP address that is accessible externally to the machine that's hosting it so that your phone can access it. As you noted, Azure requires that the redirectUri be https except for localhost so you will need to make sure that your app is hosted over https. You may need to use a tool such a

[2020-12-10 20:11] tnorling commented on #2738
@pritambaldota Could you raise this issue with the server team as this is not an issue with MSAL.js?

[2020-12-10 20:50] dangrussell commented on #2730
I can't find a good way to screen record across two screens, so here's some series of screenshots.

Each series is the same:

1. Browser on primary screen (right)
2, Browser on primary screen (right) after triggering popup
3. Browser on secondary screen (left)
3. Browser on secondary screen (left) after triggering popup

### Chrome
![Screenshot (7)](https://user-images.githubusercontent.com/438747

[2020-12-10 21:25] streamcode9 commented on #2726
@tnorling yep. Looks like the same problem. Thanks for pointing!

I've upgraded to `msal-browser@2.8.0` and now it does not work in web outlook (did not check outlook desktop). I get `X-Frame-Option DENY error` when running `loginRedirect` method. Not sure whether other your [comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1161#issuecomment-657676371) relates to

[2020-12-10 23:31] jasonnutter commented on #2726
@streamcode9 I have put up a PR to the Office Addins sample repo demonstrating how to use MSAL.js v2: https://github.com/jasonnutter/PnP-OfficeAddins/tree/upgrade-msal/Samples/auth/Office-Add-in-Microsoft-Graph-React

Please take a look at this sample and let us know if you still run into issues. Be sure you are running `loginRedirect` inside the dialog window created by [displayDialogAsync](https

[2020-12-10 23:38] jasonnutter commented on #2039
Sorry for the delay. You can find a working sample for how to use MSAL.js v1 in an Office Addin here: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React

I have put together a fork/PR for how this can be updated to use MSAL.js v2: https://github.com/jasonnutter/PnP-OfficeAddins/tree/upgrade-msal/Samples/auth/Office-Add-in-Microsoft-Graph-Reac

[2020-12-11 00:32] #2386 closed

[2020-12-11 02:29] jasonnutter commented on #2039
Closing, as the samples above demonstrate how to properly open popups in Office addins to perform auth via MSAL.js. If you are using MSAL.js v1 and encounter issues related to a missing state value in the hash (#2726), please upgrade to MSAL.js v2, where this is no longer an issue.

[2020-12-11 02:29] #2039 closed

[2020-12-11 11:11] devanshgoenka97 opened #2739 "Intermittently receiving "endpoint_resolution_error" when using MSAL Browser with Azure B2C Authentication"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [x] React
- [ ] Other

## Description
We are currently using MSAL 2.x with Auth Co

[2020-12-11 15:31] nomanshahsyed commented on #2723
Hi, thanks again. Yes i have tried that. The problem is leaving the app/opening of login via popup instead of redirect. Do i need to install something like in app browser? Because now with ngrook the popup login was redirected correctly to the ionic app on the same popup page. Isnt there a way to get back to the main app after the login?

[2020-12-11 16:37] nachoargentina commented on #2733
Thank you **SO MUCH** for your answer. This has solved the problem that has been driving us crazy. I have migrated following your docs and the flow works now on Outlook Desktop App.

I do however still have an issue in Outlook Desktop for which we are getting our approval rejected.

In the web applications, both web Outlook and Outlook on the Web, everything works fine.

For Outlook Desktop howeve

[2020-12-11 18:03] jasonnutter commented on #2662
Closing, as no further action in the library.

[2020-12-11 18:03] #2662 closed

[2020-12-11 18:05] jasonnutter commented on #1408
This should now be possible in MSAL Angular v2, which allows you to update the instance of MSAL dynamically (e.g. with a new authority). Please try that out and let us know if you have any feedback.

[2020-12-11 18:05] #1408 closed

[2020-12-11 18:06] jasonnutter commented on #2354
Minimatch has been replaced in the latest alpha of MSAL Angular v2. Closing.

[2020-12-11 18:06] #2354 closed

[2020-12-11 18:20] jasonnutter commented on #2608
Closing, as I've been unable to reproduce this issue. Our timing logic uses [getTime](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTime), so it doesn't make sense as that is DST agnostic.

[2020-12-11 18:20] #2608 closed

[2020-12-11 18:24] jasonnutter commented on #2498
@svrooij We have found that you can provide relative URLs in your `protectedResourceMap` (e.g. `/api/endpoint`), as that is often the URL passed to the interceptor (e.g. #2515).

[2020-12-11 18:29] jasonnutter commented on #2422
Closing, as the last remaining issue is related to the B2C service, and not MSAL.js. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-12-11 18:29] #2422 closed

[2020-12-11 18:33] jasonnutter commented on #2697
@iulianmarius Can you try passing all of the scopes from your protectedResourceMap to MSAL.js when you invoke login?

[code]

[2020-12-11 18:43] jasonnutter commented on #2557
Apologies for the delay. That log message indicates that MSAL is trying to acquire a token using clientId as the scope. This likely means that your app is using the MSAL Interceptor, and making an http request to an API in your app (e.g. `http://localhost:4200/api/`). By default, the MSAL Interceptor will attempt to acquire an access token for those requests. You can mitigate this logic by determi

[2020-12-11 18:56] nachoargentina commented on #2733
@tnorling nevermind, I was able to get it to work by calling `acquireTokenSilent` instead of `ssoSilent`.

Anyway, now a new problem came up. Using MSAL 2.X, the `ImplicitMSALAuthenticationProvider` stop working. It complains that the PublicClientApplication doesn't have a `getAccount` method, which was present in the old `UserAgentApplication` from MSAL 1.X

Any workarounds from this? or am I stu

[2020-12-11 19:02] nachoargentina commented on #2733
@tnorling nevermind, I found this doc where is stated that the implicit flow is not supported!
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code

[2020-12-11 19:04] jasonnutter commented on #2219
@szalapski Apologies for the delay. I see you potentially have a workaround, but if you have a Fiddler trace you can share (email in my profile), that would be appreciated. MSAL.js should catch and attempt to handle `invalid_grant` errors in this scenario, so this could be a bug in the library.

[2020-12-11 19:40] tnorling commented on #2739
@devanshgoenka97 This can happen if the `openid-configuration` network call fails for your b2c tenant. It would be helpful if you could provide fiddler traces showing the network activity when this occurs. Is your app experiencing any failures due to this or are you just seeing the error in the cache?

[2020-12-11 19:43] eirikb commented on #2039
@jasonnutter Thank you :heart:!
I have now tested the repos you linked to and here is my result:

1. MSAL 1
    1. Excel Native: :heavy_check_mark:
    1. Outlook Native: :heavy_check_mark:
    1. Outlook Web: :heavy_check_mark:
1. Your version with MSAL 2 and SPA
    1. Outlook Native: :heavy_check_mark:
    1. Outlook Web: :heavy_check_mark:

I have tried to understand the code, am I correct abo

[2020-12-11 19:46] skironDotNet opened #2745 "IdToken Timeout and acquireTokenRedirect"
## Library
- [ ] `msal@1.4.4`
- [ ] `@azure/msal-angular@1.1.2`

## Framework
- [ ] Angular v10.0.8

## Description
Sometimes when the app is not used for a while we get acquireTokenFailure. The application loads, we redirect to default page that is behind 'RoleGuard' (explained n other section) and we get this

![image](https://user-images.githubusercontent.com/2981715/101948030-042c5400-3bb7-11e

[2020-12-11 19:59] tnorling commented on #2745
@skironDotNet Timeouts can happen for a number of reasons, you can read more [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#token-renewal-operation-failed-due-to-timeout) and [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1592#issuecomment-725777269)

As for your question about MsalGuard redirecting,

[2020-12-11 20:01] tnorling commented on #2733
@nachoargentina Correct, Msal.js version 2 implements the Auth Code Flow instead of the Implicit Flow. Additionally `getAccount` was deprecated as version 2 now supports multiple accounts. You can call `getAllAccounts` or one of the account APIs listed in [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/accounts.md) instead.

[2020-12-11 20:16] jasonnutter commented on #2039
@eirikb For MSAL v1, this is correct. As you can see in my MSAL v2 PR branch, the code can be simplified to just call `loginRedirect`.

When the token expires, you can invoke the auth popup again to get a new token.

[2020-12-11 20:21] nachoargentina commented on #2733
All seem to be good now, hopefuly we'll get our Add-In approved this time. Thanks for your support 🙏

[2020-12-11 20:21] #2733 closed

[2020-12-11 20:25] jasonnutter commented on #2548
@paranthamanwp Apologies again for the delay. I've been unable to determine why this is happening, but I would interested to know if these issues still happen if you upgrade to MSAL v2 and MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/1.x-2.x-upgrade-guide.md

[2020-12-11 20:27] tnorling commented on #2730
@dangrussell I was not able to reproduce this in either Edge or Chrome. Is your app running in an iframe? We've heard about some odd behaviors with popups when being opened from iframes.

In any event, this is likely not something we will fix in version 1 unless this also occurs in version 2 and the fix can be easily ported over. Have you tried upgrading to `msal-angular@2.0.0`?

[2020-12-11 20:27] #2720 closed

[2020-12-11 20:47] tnorling commented on #2738
Resolved offline. In msal.js < v1.4 when passing `clientId` as scope, msal will translate to `openid` and `profile` and request an id_token which is returned as both `idToken` and `accessToken`. In v2 `clientId` is no longer translated so to achieve the same behavior you had in v1, you must pass `openid` and `profile` as scopes and use the returned `idToken`

[2020-12-11 20:47] #2738 closed

[2020-12-11 21:34] dangrussell commented on #2730
`msal-angular@2.0.0` is still in alpha, right?

[2020-12-11 21:49] szalapski commented on #2219
I anticipate having the problem manifest on Monday, so I'll try to grab a fiddler trace then.

[2020-12-12 00:32] #2598 closed

[2020-12-12 12:56] DanielBalog86 opened #2750 "useMsalAuthentication with interactionType Redirect infinite redirect on access denied"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0.alpha1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [x] React 17
- [ ] Other

## Description
When I use `useMsalAuthentication`

[2020-12-12 15:23] devanshgoenka97 commented on #2739
@tnorling Currently, the app is listening to a particular key in the session storage. Unfortunately, that key is being changed in the handleRedirectPromise() method, and due to this error, that method is not invoked, which results in a failure in the app.

I will try to capture the network trace, but as mentioned, it is an intermittent issue so it might take a while.

[2020-12-12 21:23] andrewabril commented on #2702
The CORS issue I was facing was due to incorrect Configuration middleware order. I was calling app.UseCors() after routing and authentication/authorization. Calling that beforehand resolved the CORS issue.

I also used this reference to make sure my ConfigurationServices was correct, https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis.

ConfigurationServices auth set up using Microsoft

[2020-12-13 03:47] hsluoyz opened #2752 "How to use MSAL to get logged-in user's avatar / profile picture against AAD B2C from multiple identity providers?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We are using msal to login against AAD B2C with several identity providers like GitHub, Gmail,

[2020-12-13 06:29] mitul11191 commented on #2579
Hi @tnorling, I'm using a custom interceptor so in this case do I need to call any method to get Token for every API?

[2020-12-13 21:18] eirikb commented on #2039
@jasonnutter Thank you for your answer :smiley:
Sorry to bother you again, but what is your view on a mechanism for providing a custom popup handler to MSAL as an alternative?

- Beside an initial setup for a handler the MSAL API would work as usual.
- Examples of MSAL online would be accurate.
- No special handling of token expiration since `acquireTokenSilent` would work as expected.
- No need t

[2020-12-14 04:55] paranthamanwp commented on #2548
np, still the issue happen when open the page in multiple tab same time.

[2020-12-14 05:15] bladmorenoacn commented on #2699
This is the enviroment,
Angular 11,
Libraries:
"@azure/msal-angular": "^1.1.2",
"msal": "1.4.4"

I already described the configuration above,
"msal": {
    "auth":{
      "authority": "https://login.microsoftonline.com/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
      "clientID": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXX",
      "redirectUri": "https://XXXXX.acn.com"
    },
    "protectedResourceMap": [

[2020-12-14 11:16] #2723 closed

[2020-12-14 11:57] SaviChinnadurai opened #2753 "When is msal-angular 2.0 scheduled for live release?"
We are eagerly waiting for msal angular 2.0 live release to implement auth code flow in our SPA application.

Will be very helpful to know the release date for stable version.

[2020-12-14 15:42] sharmar999 opened #2754 "PostLogoutUri redirection For MSA accounts doesn't work"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Other

## Description
We have an auth flow using MSAL supporting

[2020-12-14 16:57] #2702 closed

[2020-12-14 17:09] jasonnutter commented on #2753
@SaviChinnadurai We are currently planning to have the public preview available next month, and general availability sometime not too long after that. We'll update our roadmap.

[2020-12-14 17:29] jasonnutter commented on #2039
@eirikb I would not be in favor of that approach. We design our library APIs such that they can be composed together in any scenario, instead of providing specific APIs or configuration options for specific scenarios. In this case, the restriction that Office addin dialogs must be initially opened to a url on the same domain as the addin itself is set in the `displayDialogAsync` API, not MSAL, so

[2020-12-14 17:42] conkman opened #2757 "How do I get Bearer (Access) Token in v2 format using MsalInterceptor?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How do I get Bearer (Access) Token in v2 format using MsalInterceptor?  My Azure AD App regist

[2020-12-14 18:47] tnorling commented on #2699
@bladmorenoacn You shouldn't have to call `acquireTokenSilent` manually, the interceptor should handle that. Also can you debug the interceptor to determine if the url in the `protectedResourceMap` matches the url that is provided to the interceptor? It is possible you may need to configure your `protectedResourceMap` with relative urls a demonstrated [here](https://github.com/AzureAD/microsoft-au

[2020-12-14 18:50] tnorling commented on #2579
@mitul11191 Yes, if you are using a custom interceptor you will need to call `acquireTokenSilent`, however, you do not need to do your own caching or expiration checks as that is built into `acquireTokenSilent`

[2020-12-14 18:54] tnorling commented on #2739
@devanshgoenka97 Can you clarify what cache key your app is listening to, what `handleRedirectPromise` is changing and what method is not being invoked?

[2020-12-14 19:02] tnorling commented on #2752
@hsluoyz You will need to acquire this data from the IDP. This may be something the B2C service can expose but it may also require you call an API on the Social IDP. You can try the suggestion in this [Stack Overflow question](https://stackoverflow.com/questions/48030843/how-to-get-facebook-profile-picture-using-azure-ad-b2c). If that doesn't work for you the B2C service team will be better able t

[2020-12-14 19:02] #2752 closed

[2020-12-14 19:09] tnorling commented on #2754
@sharmar999 There's 3 things you need in order to have logout redirect back to your app:
1. Pass a `postLogoutRedirectUri` to `logout`
2. Register this url as a `redirectUri` on the app registration
3. Register this url as the Logout url on the app registration

Can you verify that all 3 of these things have been done in your case?

[2020-12-14 19:15] tnorling commented on #2757
@conkman Can you confirm that you've set the `accessTokenAcceptedVersion` in your app manifest to 2? Please see [this doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#v10-and-v20) for more information. You can see our angular samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-samples) which show how to u

[2020-12-14 20:02] oleksandr-slys commented on #2726
@jasonnutter I was not able to make it work with `displayDialogAsync`. I am getting `undefined object does not have replace function` error when call `loginRedirect`. Debugging outlook add-in on desktop is a bit painful as it is still Edge based on Chakra and not Chromium.  `displayDialogAsync` make things even more complicated. DevTools crashes randomly and often I do not see error line number.

[2020-12-14 20:07] jasonnutter commented on #2726
@oleksandr-slys Was that with your code or with the sample I linked to? And which version of MSAL.js are you using?

[2020-12-14 20:36] oleksandr-slys commented on #2726
@jasonnutter I have struggled to all requirements in `Prerequisites`. To make it simple I took your code in `login.html` and `login.js` and opened it via `displayDialogAsync`.

I am using ` azure/msal-browser 2.8.0`.

[2020-12-14 20:51] szalapski commented on #2219
I think I refreshed my tokens over the weekend, so it didn't happen today.

Are you concerned that the fix in https://github.com/dotnet/aspnetcore/issues/28151 won't be good enough for this?

[2020-12-14 20:55] jasonnutter commented on #2219
I would like to make sure if this is a bug in MSAL that it gets properly fixed, given not everyone uses Blazor WebAssembly.

[2020-12-14 21:01] jasonnutter commented on #2726
@oleksandr-slys Is the iframe-related errors you are getting the `redirect_in_iframe` error? If so, are you setting the [`displayInIframe`](https://docs.microsoft.com/en-us/javascript/api/office/office.dialogoptions?view=excel-js-preview#displayInIframe) flag for `displayDialogAsync` to true? Also note, in MSAL Browser 2.8.0 you can set `system.allowRedirectInIframe` to `true` to mitigate the `red

[2020-12-14 22:28] bladmorenoacn commented on #2699
I am calling adquireTokenSilent only when the authentication fails, I can try to use the relative paths, We have been using these urls for about a year, We upgrade the library and they were working well until a couple of weeks ago,

Is this mandatory parameter?
 consentScopes: [
      "user.read",
      "openid",
      "profile",
      "api://a88bb933-319c-41b5-9f04-eff36d985612/access_as_user"

[2020-12-14 23:15] szalapski commented on #2219
Ah, I see.  I'll try to get a fiddler capture next Monday.

On Mon, Dec 14, 2020 at 2:56 PM Jason Nutter <notifications@github.com>
wrote:

[2020-12-15 04:09] bladmorenoacn commented on #2699
I found a fix for the none generation of the token, now I am getting this different error,

ERROR InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge, and the web app sending the silent sign-in r

[2020-12-15 04:17] bladmorenoacn commented on #2699
I found the solution enabling third party cookies in incognito mode

[2020-12-15 04:34] ismail1971 opened #2760 "How to single sign out multiple angular apps."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I am working on a portal app which has links to many sub apps. All the apps are using the same

[2020-12-15 08:31] oleksandr-slys commented on #2726
@jasonnutter

Yes, this error is throws when I use redirect flow in OWA. Setting `allowRedirectInIframe` to `true` has fixed the issue. Thanks!

Yes. But the `displayDialogAsync ` still does not work and throws some exceptions when `login.html` send message to parent window.

I think redirect flow with the same windows is the most robust solution for me so far.

[2020-12-15 10:59] SaviChinnadurai commented on #2753
Great, Thanks jason.

[2020-12-15 11:00] #2753 closed

[2020-12-15 12:30] oleksandr-slys commented on #2726
@jasonnutter should I do more testing with `displayDialogAsync` and create another *question* card if I face with the issues?

[2020-12-15 14:29] szalapski commented on #2219
The problem unexpectedly happened today.  I will send you the Fiddler capture.

[2020-12-15 15:59] shinkhouse opened #2761 "Trying to look for errorCode for type AuthError but EventMessage is using EventError"
## Library

- [ ] `msal@^1.3.2` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@^2.0.0-alpha.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
When trying to see if i'm gettin

[2020-12-15 17:48] tnorling commented on #2674
Closing due to inactivity. Please open a new issue if this is still a problem.

[2020-12-15 17:48] #2674 closed

[2020-12-15 17:49] hectormmg commented on #2729
Hey @Ladvace, my first guess is there's a problem with the sample's cache plugin, let me take a look and I'll get back to you!

[2020-12-15 17:50] tnorling commented on #2730
@dangrussell Yes, we expect to go to beta in January and then GA shortly thereafter.

[2020-12-15 17:50] conkman commented on #2757
@tnorling thanks for taking the time for me.  I have confirmed that our `accessTokenAcceptedVersion` in the manifest for our App Registration is set to 2.

Let me add a little more color to our current setup.  Currently we have one App Registration that is protecting our Dotnet Core Web Api backend and our angular front end client side application.  We are trying to get a Bearer token to call our

[2020-12-15 18:07] tnorling commented on #2757
@conkman Yes, scopes are required to obtain an access token as that is what defines what the access token is for. You can read more about scopes in the [OAuth 2.0 spec](https://oauth.net/2/scope/#:~:text=Scope%20is%20a%20mechanism%20in%20OAuth%202.0%20to,application%20will%20be%20limited%20to%20the%20scopes%20granted.)

[2020-12-15 18:14] digitalcraftco commented on #2757
@conkman I'm battling through this too at the moment. I was able to get the **idToken** for the payload in app.component after login success. [https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/4d79b8ebacd7e4d9acf80fd69d602346dee6bf3c/samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app.component.ts#L44](url)
[code]
Also was able to get accessTokens from the result

[2020-12-15 19:13] tnorling commented on #2761
@shinkhouse Can you cast `result.error` to `AuthError` or check that `result.error` is an instance of `AuthError`? EventError is defined as `AuthError | Error | null` so you'll need to validate that `result.error` is of the correct type before accessing specific properties on it.

You could do something like this:

[code]

[2020-12-15 19:21] tnorling commented on #2699
@bladmorenoacn Great, thanks for following up. `msal-angular@2.0.0`, is currently in [alpha](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular) and should handle third party cookie problems better than version 1. Can this issue be closed?

[2020-12-15 19:28] tnorling commented on #2760
@ismail1971 You will need to use 2 different app registrations with 2 different clientIds and in each registration register a Logout Url that points to a logout page on each of your apps. This page should automatically call the msal logout api on page load.

[2020-12-15 20:13] shinkhouse commented on #2761
@tnorling Yes, that was a great idea. That did the trick. Thank you for your assistance.

[2020-12-15 20:13] #2761 closed

[2020-12-15 20:47] jasonnutter commented on #2726
Which errors are thrown? And do they happen if `displayInIframe` is set to `false`?

[2020-12-15 22:39] tnorling commented on #2750
@DanielBalog86 Thanks for raising this issue. I've confirmed the bug and linked a PR which should address this

[2020-12-15 23:34] Josh-Kewley-BC opened #2763 "Angular 10 browser sample doesn't build"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [X] Angular (CLI 10.0.6)
- [ ] React
- [ ] Other

## Description
The most recent bits which use

[2020-12-15 23:44] jasonnutter commented on #2763
@Josh-Kewley-BC Thanks, I can reproduce this. You can change the type for the `request` parameter from `AuthorizationUrlRequest` to `PopupRequest` and it should work. cc @jo-arroyo

[2020-12-16 00:33] #2621 closed

[2020-12-16 01:30] #2763 closed

[2020-12-16 01:45] bladmorenoacn commented on #2699
Yes please, so your ultimate recommendation would be to upgrade to msal-angular@2.0.0, right?

thank you so much

[2020-12-16 08:07] ci010 opened #2766 "Can we use KeychainPersistence for windows and linux in msal-node-extension?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- [x] `@azure/msal-node-extension@alpha`

## Description

Can we use KeychainPersistence for windows and linux

[2020-12-16 11:03] Ladvace opened #2767 "Authenticate with XBL using msal-node"
I don't know if it's OT, If it is i'm going to close the issue, I'm using msal-node and i'm trying to authenticate in xboxlive following [this](https://wiki.vg/Microsoft_Authentication_Scheme#Microsoft_OAuth_Flow).  the problem is that when I try to authenticate I get the **error 400** (Bad Request) and I don't understand why.

I'm using your electro [sample](https://github.com/AzureAD/microsoft-a

[2020-12-16 12:59] devanshgoenka97 commented on #2739
@tnorling, sorry for the lack of details earlier. We are setting a custom cache key to the session before the auth redirect (its called `authRedirectInProgress`) and in the `handleRedirectPromise` we are setting it to `false`. This is done to ensure our application (which automatically redirects to a `/login' route) does not make another call to `loginRedirect()` while the already redirected respo

[2020-12-16 13:14] oleksandr-slys commented on #2726
@jasonnutter `Office.context.ui.messageParent` sends messages not only back to the add-in but also to `login.microsoft` and other domains. And they throw `cross-origin` or similar error. So I think it is expected and do not prevent add-in work. Fake alarm.

[2020-12-16 13:14] navinna commented on #2731
@tnorling I don't understand, may I know what is your recommendation, here is my problem

 - accessToken lifetime is set to 60 minutes, once accessToken expires, when we are trying to request an authorized API endpoint, we could see X-Frames-Options to deny.
 - after a min or two I could see in the console, token renewal operation failed due to timeout .

in this scenario I am not using acquireTok

[2020-12-16 13:41] oleksandr-slys opened #2768 "loginRedirect method opens Microsoft login page and fails"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Description

When I start login process with `loginRedirect` method it tries to open Microsoft web page and fails.

![image](https://user-images.githubusercontent.com/53045642/102354281-a4fd8380-3faa-11eb-9a32-4840e03b8029.png)

Do you have any ideas about issue reason or maybe point me to the direction where to find?

I also know that our authentic

[2020-12-16 17:01] tnorling commented on #2699
@bladmorenoacn Yes, version 2 solves several problems we are unable to solve in version 1, including problems with 3rd party cookies.

[2020-12-16 17:01] #2699 closed

[2020-12-16 17:01] Michael-Xie commented on #2641
I am also experiencing the same issue when using React using [this unofficial package](https://github.com/syncweek-react-aad/react-aad). How was the forgot password issue resolved in the sample code above? I wasn't too sure how to read the code properly.

[2020-12-16 17:07] jasonnutter commented on #2768
@oleksandr-slys Can you please record a Fiddler trace for this error and email it to me? The server logs indicate a malformed request, but I'm unable to see exact details. Thanks!

[2020-12-16 17:13] tnorling commented on #2739
Gotcha. Can you set the flag to `false` in the catch for both `handleRedirectPromise` and `loginRedirect` ? Once you're able to capture a network trace we can take a look to see why this error is happening.

[2020-12-16 17:21] tnorling commented on #2731
@navinna how are you getting the access token?

Please open the link from the X-Frame options deny error in a new tab and observe what is happening. If it shows an error or is expecting any sort of interaction that is why this error is being thrown.

You can also try upgrading to [msal-angular v2](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular) where w

[2020-12-16 18:18] sharmar999 commented on #2754
Apologies @tnorling
Did not realize `3.` was a hard requirement as our legacy setup worked without it

Also is there a way we can skip the confirmation screen on logout. I mean the screen which says `Which account do you want to sign out of?`

[2020-12-16 18:29] tnorling commented on #2754
@sharmar999 With the newest version of msal-browser you can skip this, however, doing so means the user is not signed out from the server. If you don't go through this account selection screen and attempt to log back in, the server will automatically log you in without asking for credentials as your session remains active.

[2020-12-16 18:39] oleksandr-slys commented on #2768
@jasonnutter could you please advise me how to do it properly? Each time I enable Fiddler Outlook stops to work.

[2020-12-16 18:44] tnorling commented on #2539
Closing as the question was answered and the issue has not seen any activity since.

[2020-12-16 18:44] #2539 closed

[2020-12-16 18:46] sharmar999 commented on #2754
Got it
So I guess there is no way of *skipping it and also closing the session*.

Thank you for the help

[2020-12-16 18:46] #2754 closed

[2020-12-16 19:03] #2750 closed

[2020-12-16 20:11] ismail1971 opened #2769 "How to set up the prompt = 'select_account'"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Would you please let me know how to configure the prompt = 'select_account'  in msal 2.0

##

[2020-12-16 20:35] tnorling commented on #2769
@ismail1971 You can find our `request/response` docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/request-response-object.md)

When you call an API such as `loginPopup` you can provide `prompt` in the request object like so:

[code]

[2020-12-16 20:52] ismail1971 commented on #2769
I have the code like this and using :
login() {
    if (this.msalGuardConfig.interactionType === InteractionType.Popup) {
      this.authService
        .loginPopup({ ...this.msalGuardConfig.authRequest })
        .subscribe(() => this.checkoutAccount());
    } else {

      this.authService.loginRedirect({ ...this.msalGuardConfig.authRequest });
    }
  }
How can I setup the prompt   this.authSer

[2020-12-16 20:59] tnorling commented on #2769
@ismail1971

[code]

[2020-12-16 21:08] tnorling commented on #2767
@Ladvace Can you clarify, are you getting the 400 error when you try to obtain an access token with msal or is it when you try to make the request to the XBL endpoint with the access token?

[2020-12-16 21:15] Ladvace commented on #2767
when i try to make the request to XBL (with the token I got from msal)

[2020-12-16 21:32] DanielBalog86 commented on #2750
Wow, that was fast! Thank you so much 👍

[2020-12-16 21:50] tnorling commented on #2767
@Ladvace In that case, this is outside the scope of msal. I did find some [official documentation](https://docs.microsoft.com/en-us/gaming/xbox-live/api-ref/xbox-live-rest/additional/httpstandardheaders) on the XBL REST API. Looks like they expect a `x-xbl-contract-version` header which I do not see in your request so that might be worth a shot. It also looks like there's a couple samples linked a

[2020-12-16 22:30] ismail1971 commented on #2769
@tnorling Sorry, it's not prompting for login selection rather use the last logged-in user and signed it with it. I am using the code sample microsoft-authentication-library-for-js/samples/msal-angular-v2-samples/angular10-sample-app/

[2020-12-16 22:33] tnorling commented on #2676
@nniikkoollaaii I've linked a PR which demonstrates how this could be done with `msal-node`, Jest and Puppeteer. Let me know if you have any questions.

[2020-12-16 22:52] Ladvace commented on #2767
Thanks anyway, i didn't find so much information too but I Will give a Better look

[2020-12-16 23:04] tnorling commented on #2767
Closing as this is not an issue with msal. Feel free to open a new issue if you have additional questions about msal

[2020-12-16 23:04] #2767 closed

[2020-12-16 23:28] GitHubJens opened #2772 "useAccount() equals null and is not able to get data about the user that is logged in"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React@17.0.1
- [ ] Other

## Description

## Error Message

## MSAL

[2020-12-16 23:51] GitHubJens commented on #2772
Found out that it is possible to use "useAccount()" in other components than in App.jsx. So this might just be a problem with the sample project "default" that is provided.

[2020-12-16 23:52] tnorling commented on #2772
@GitHubJens This is a bug with the sample, can you change `account.name` to `account && account.name` and see if that resolves the issue? `useAccount` initializes to `null`, it isn't until the 2nd render that the value is updated to the account that is signed in which is why this is throwing an error. I'll make sure to update the samples

[2020-12-16 23:56] GitHubJens commented on #2772
Works like a charm! Thanks 👍

[2020-12-17 00:35] #2618 closed

[2020-12-17 03:11] navinna commented on #2731
@tnorling

We cannot use v2 since it's under development and not ready for production.

I opened the error in the new tab and I could see the same error in the console, but I would like to know is there any solution or workaround for this issue.

[2020-12-17 03:48] ismail1971 commented on #2769
@tnorling
Here is the error I am getting with your suggestion:
ERROR Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API.
BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been comp

[2020-12-17 07:16] jayricx opened #2774 "unprotectedResources workaround"
## Library

- [ ] `msal@1.4.4` or `@azure/msal@1.4.4`
- [ ] `@azure/msal-angular@1.1.2`

## Framework

- [ ] Angular 9
- [ ] MSAL 1.4.4
- [ ] msal-angular 1.1.2

## Description
I have a specific API method that I don't want msal to protect.  In the previous version of msal-angular 0.1.4, I just add the URL in the unprotectedResources. But now in version 1.1.2, it no longer works.
The documentation

[2020-12-17 11:42] oleksandr-slys commented on #2768
@jasonnutter I did more investigation. It happens that problem exists only for the users with Windows Virtual Desktop, but it works fine with a regular PC. But again it works fine in WVD with OWA.

[2020-12-17 12:43] DarkLite1 opened #2775 "TypeScript example: return type of Promise ` getTokenPopup` not correct"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] Vue

## Description
In the [TypeScript example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) we see this method:
[code]

The return value of the Promise is of type `string`. However, in case of errors `null | undefined` is returned whi

[2020-12-17 12:51] #2494 closed

[2020-12-17 12:52] DarkLite1 opened #2776 "TypeScript example: Type 'null' is not assignable to type 'AccountInfo'"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] Vue

## Description
In the [TypeScript example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) we see this class:
[code]

In the constructor it is attempted to assign `null` to `account<AccountInfo>`. The type `AccountInfo` does not acce

[2020-12-17 13:00] DarkLite1 opened #2777 "TypeScript example: Missing initializers"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] Vue

## Description
In the [TypeScript example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) we see this class:
[code]
Because the constructor is not setting initial values, the errors below are returned.

## Error Message

TS2564: Pro

[2020-12-17 13:20] DarkLite1 opened #2778 "TypeScript example: Type 'null' is not assignable to type 'AuthenticationResult'"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] Vue

## Description
In the [TypeScript example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) we see this method:
[code]
On success of `handleRedirectPromise()` the response object is said to be of type `AuthenticationResult`. But when

[2020-12-17 13:29] DarkLite1 opened #2779 "TypeScript example: Promises must be handled appropriately"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] Vue

## Description
In the [TypeScript example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) we see the following methods:
[code]
The issue is the methods `loginRedirect` and `logout` both return a Promise that isn't handled correctly.

[2020-12-17 14:35] 12trey opened #2780 "Are v2 endpoint post logout redirects currently not working?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I was attempting to test our app with the @azure/msal-angular@2.0.0-alpha and noticed post logo

[2020-12-17 17:20] tnorling commented on #2778
Closing as duplicate #2779

[2020-12-17 17:20] #2778 closed

[2020-12-17 17:20] tnorling commented on #2777
Closing as duplicate #2779

[2020-12-17 17:20] #2777 closed

[2020-12-17 17:20] tnorling commented on #2776
Closing as duplicate #2779

[2020-12-17 17:20] #2776 closed

[2020-12-17 17:20] tnorling commented on #2775
Closing as duplicate #2779

[2020-12-17 17:20] #2775 closed

[2020-12-17 17:21] tnorling commented on #2779
@DarkLite1 I'm going to consolidate all of your issues into this one as they represent one work item which has been on our backlog and we intend to pick up soon. The reason this seems inconsistent is because we do not use the `strict` typescript compiler option **yet**. We intend to turn this on soon and you can rest assured the sample will be updated when that happens. I will leave this open unti

[2020-12-17 17:41] tnorling commented on #2780
@12trey There's 3 things you need in order to have logout redirect back to your app:

- Pass a postLogoutRedirectUri to logout
- Register this url as a redirectUri on the app registration
- Register this url as the Logout url on the app registration

Can you verify that all 3 of these things have been done in your case?

[2020-12-17 17:50] tnorling commented on #2774
@jayricx Does this work if you use relative uris? i.e. `/oapi/test/getserverdate` instead of `https://localhost:44360/oapi/test/getserverdate`

[2020-12-17 17:53] tnorling commented on #2769
@ismail1971 Can you share the steps you took that resulted in receiving that error?

[2020-12-17 17:58] tnorling commented on #2731
@navinna X-Frame-Options Deny means that the service does not allow the page to be rendered in an iframe. There are many reasons why this would not be allowed and the solution depends on your particular scenario. When you open the error url in a new tab you should see the page that was trying to be rendered in the hidden iframe. Can you clarify do you see a login page or your app when you open the

[2020-12-17 18:16] jasonnutter commented on #2768
@oleksandr-slys Interesting, thanks. I'll try to find out more and follow up.

[2020-12-17 18:34] sameerag commented on #2766
Extensions help with persistent encrypted storage of the credentials on each platform (mac, windows and linux)

* KeyChainPersistence on mac implies supporting the specific encryption storage model for MacOS - referenced [here](https://support.apple.com/guide/keychain-access/what-is-keychain-access-kyca1083/mac).
* Similar encryption implementations are available with Windows (Data protection APIs

[2020-12-17 18:34] #2772 closed

[2020-12-17 18:45] #1167 closed

[2020-12-17 18:58] jo-arroyo commented on #1167
CanActivateChild and CanLoad have been added to MSAL Angular v2, and will be available in the next release. Thanks for all your feedback!

[2020-12-17 19:32] ilbrando opened #2781 "How to handle forgot password in @azure/msal-react"
## Library

- [x] `@azure/msal-browser@2.7.0`
- [x] `@azure/msal-react@1.0.0-alpha`

## Description

I'm having trouble figuring out how to handle when the user has forgotten his or hers password. I can see, that the user is redirected back to my app, and I suppose that is so I can start the reset password flow I want to use.

But how do I do that? I can't find a suitable method on the result of t

[2020-12-17 19:35] BarishSarac commented on #2659
@tnorling How would I be able to include openid in my scope list? I removed the expiry check now and testing. `.acquireTokenSilent({ forceRefresh: true, scopes: apiScopes.slice() })` still is not extending user's session, it goes down from 60 to 0 then goes to login screen...

This is how I acquire token now
[code]

[2020-12-17 19:39] tnorling commented on #2781
@ilbrando It depends a little bit on how you're calling login. I haven't quite finished the b2c sample yet but you can take a look at an example of how this is handled for redirect cases on the branch I've been working on [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/a7f1995767101d0a93ed212b373d46ea7131bd3c/samples/msal-react-samples/b2c/src/App.jsx#L34).

The gist

[2020-12-17 19:43] tnorling commented on #2659
@BarishSarac

`.acquireTokenSilent({ forceRefresh: true, scopes: [...apiScopes, "openid"] })`

[2020-12-17 21:27] BarishSarac commented on #2659
No change, still goes thru initial 60 mins then expires... it does not extend..

[2020-12-17 21:31] bdj61383 opened #2783 "acquireTokenSilent always throws interaction_required error (AADB2C90077) when forcing refresh"
## Library
- [x] `msal@1.3.1`

## Framework
-[x] None

## Description
Use case is as follows: Currently we store user roles as a claim in the accessToken JWT returned from B2C. Upon certain API actions in our application, we know that a user's roles have changed and that they need to fetch a new JWT that accurately reflects their new, updated roles. We are attempting to use the acquireTokenSilent

[2020-12-17 21:48] tnorling commented on #2659
@BarishSarac Can you send me a network trace? Email is on my profile.

[2020-12-17 21:48] ilbrando commented on #2781
I use the hook `useMsal`. The methods on the `instance` object are defined like this:
[code]
I use the `loginRedirect` for login. It takes a `RedirectRequest` which extends `AuthorizationUrlRequest`:
[code]
None of these indicates a flow.

The only place I specify my flow is when I instantiate the `PublicClientApplication`, but I only do that one time in the app lifetime. It takes a `Configuration

[2020-12-17 21:53] tnorling commented on #2783
@bdj61383 This is unexpected. Please first try upgrading to the latest version (currently 1.4.4). Are you passing a `loginHint` to `acquireTokenSilent` and are 3rd party cookies enabled in your browser? A code snippet showing how you are calling `acquireTokenSilent` would be helpful here.

[2020-12-17 22:01] tnorling commented on #2781
@ilbrando Since you're using redirect you'll want to register an event callback that listens for a login failure with a specific error code and then calls loginRedirect again with your forgot password policy like so:

[code]

The link to the sample I shared above should be what you need.

`knownAuthorities` should be an array that contains the domains for the authorities your app will use i.e. `kn

[2020-12-17 22:01] bdj61383 commented on #2783
My apologies, I didn't realize my browser was set to disable 3rd party cookies.  Enabling them corrected the issue. In the case where a user has disabled 3rd party cookies, I suppose we'll need to live with the redirect back to the homepage.
Thank you for your assistance and prompt reply.

[2020-12-17 22:01] #2783 closed

[2020-12-17 22:02] ilbrando commented on #2781
@tnorling I looked at your example, and I can see that you set the `authority` property on the `RedirectRequest`. Maybe the problem is with the TypeScript definitions? I will try and cast to `any` and set `authority`. It's a bit late in my timezone so I will try it tomorrow. Thank you for your fast response.

[2020-12-17 22:03] tnorling commented on #2781
Some of the properties of `RedirectRequest` are not shown in the snippet you shared above because `AuthorizationUrlRequest` also extends `BaseAuthRequest`. Complete type docs can be found here: https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-browser/modules/_src_request_redirectrequest_.html#redirectrequest

[2020-12-17 22:06] tnorling commented on #2783
@bdj61383 Great, thanks for the update. The other option is to upgrade to `msal-browser@2.x` which does not suffer from the same 3rd party cookie limitations as version 1.

[2020-12-17 22:08] ilbrando commented on #2781
@tnorling Ohh sorry, I just noticed that I didn't see that `AuthorizationUrlRequest` extends `BaseAuthRequest` which has the `authority` property. I'm so sorry.

[2020-12-17 22:10] BarishSarac commented on #2659
@tnorling just did, thank you

[2020-12-17 22:45] ilbrando commented on #2781
@tnorling I got it to work, but I get an exception in the console. Do you know how to get rid of this? I have set an event handler with `addEventCallback`, but some part of MSAL must also be listening for the event and is throwing the exception.
[code]

By the way is there a safe way to read the error code (AADB2C90118)? As far as I can see it is only part of the `errorMessage` string.

[2020-12-17 23:56] 12trey commented on #2780
@tnorling - Thanks. All those items have been verified. I think if I were missing any of those, logging out with the v1 endpoint hack would fail as well.

[2020-12-18 01:35] HarmanDhunna commented on #2659
@BarishSarac Hello, could you check what is the lifetime of id/access token?
![image](https://user-images.githubusercontent.com/63318798/102563465-31cd3d80-408e-11eb-9803-68fa32d6ff7c.png)

[2020-12-18 01:45] ismail1971 commented on #2769
The prompt set works fine from the login function as you suggested, but if I have MsalGuard to a route,
it will not prompting for the account selection. The following route
{ path: 'profile',   component: ProfileComponent,   canActivate: [  MsalGuard ]}
will auto sign in without the prompt.

Is there a way to set the prompt at the time of configuring the MSALGuardConfigFactory() in app.module.ts:

[2020-12-18 01:56] ismail1971 commented on #2769
@tnorling I also try to create a AuthGuard like this:

import { Component, OnInit, Inject, OnDestroy, Injectable } from '@angular/core';
import {  CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot, UrlTree, Route, UrlSegment} from '@angular/router';
import { Observable } from 'rxjs';

import { MsalService,  MSAL_GUARD_CONFIG, MsalGuardConfiguration } from '@azure/msal-angular';

@Injectable

[2020-12-18 02:47] BarishSarac commented on #2659
Hello @HarmanDhunna, it's 60. I made it 20 earlier to test if it behaves differently it did not. session length started from 20 in that case instead of 60 but didnt extend either.

[2020-12-18 02:58] jayricx commented on #2774
Hi, thanks for your reply. I tried it and unfortunately it is still showing the same error.  It is validating everything within the https://localhost:44360.

[2020-12-18 03:23] HarmanDhunna commented on #2659
What is the difference between the issue time and expiration time of the idToken when you set it to 20minutes?

[2020-12-18 04:51] thoo1 opened #2785 "Does POST /token use `extraQueryParameters` object?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.6.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I am using `extraQueryParameters` argument in acquireTokenSilent. I need to use this to supply

[2020-12-18 07:44] Ramprakash333 opened #2786 "Get auth code using msal-browser"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x]  `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Currently, there is no provision for providing **response type as code** for getting auth code

[2020-12-18 10:52] JeffFisher-sitekit commented on #2618
Update - we see this issue with msal 1.4.4, and there is no issue when using msal 1.3.1. In both cases running angular-msal 1.1.2.

It's possibly a bug with msal 1.4.4.

[2020-12-18 10:58] JeffFisher-sitekit opened #2787 "Possible bug with msal 1.4.4 not seen in msal 1.3.1"
Update to issue 2618 (closed) - we see this issue with msal 1.4.4, and there is no issue when using msal 1.3.1. In both cases running angular-msal 1.1.2.

It's possibly a bug with msal 1.4.4.

[https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2618](url)

[2020-12-18 13:02] bdj61383 commented on #2783
Thanks for letting me know about `msal-browser@2.x`, @tnorling. I was under the impression that it was just using msal core's `acquireTokenSilent` method under the hood and so would suffer from the same limitations.

[2020-12-18 15:25] BarishSarac commented on #2659
@HarmanDhunna do you mean Web app session lifetime (minutes) in terms of expiration time?

[2020-12-18 17:11] tnorling commented on #2785
@thoo1 We do not currently support `extraQueryParameters` on the `/token` endpoint but this is something we've discussed as a potential future enhancement.

[2020-12-18 17:18] tnorling commented on #2787
@JeffFisher-sitekit As stated in the other thread, this is potentially a bug on the B2C service. Can you please open a ticket with them to understand why the `uid` parameter does not contain a userId? A change was made in 1.4.0 to remove the policy name from the `uid` in order to support multiple policies, so this is why it **appears** to work for you in 1.3.1 but this is coincidental and not how

[2020-12-18 18:55] tnorling commented on #2781
@ilbrando hmmm...what version of `msal-react` are you running? I would not expect the error to be thrown in the console, just to verify I ran the sample myself and did not get the error when clicking forgot password.

As for the error, that's an error thrown by the server and msal just passes it along as is. We can look into better ways of handling it in the future but for now that's the recommend

[2020-12-18 19:15] tnorling commented on #2659
@BarishSarac We took a look at the network logs you sent us and the expiration on both idToken and accessToken are updating. Can you clarify what exactly you are experiencing?

[2020-12-18 19:22] tnorling commented on #2769
@ismail1971 You can include a request object on the `MsalGuardConfiguration` like so:

[code]

[2020-12-18 19:27] tnorling commented on #2786
@Ramprakash333 Unfortunately this functionality is not available today but we will consider this as a future enhancement to `msal-browser`. In the meantime, you can use `msal-node` to generate the auth code url and open a popup yourself. You'll have to manage the popup and close it at the appropriate time.

[2020-12-18 19:32] tnorling commented on #2774
@jayricx Can you debug the Interceptor and determine what url is passed to the Interceptor?

[2020-12-18 19:33] tnorling commented on #2780
@12trey Can you send me a fiddler trace of both behaviors? My email is on my profile.

[2020-12-18 20:02] BarishSarac commented on #2659
@tnorling so in the file I declare Auth, I save the account into the state like this
[code]
Then I provide it from this HOC using `accountExp={this.state.account.idToken.exp}` then I have a file that checks if user's current session is active or not every 1 minute and if not logs the user out.

[code]

Since you proved that session is getting extended, I assume I need to find a way to check that a

[2020-12-18 20:10] BarishSarac commented on #2659
I used this to send expiration reference, still it sends initially 60, never changes and goes down from there even if I  do API call
`accountExp={msalApp.getAccount().idToken.exp}`

[2020-12-18 20:37] tnorling commented on #2659
@BarishSarac Can you confirm that you still have `forceRefresh: true`, included `openid` in your scope list, and you are calling acquireTokenSilent before attempting to retrieve an updated `exp` from `getAccount`? Can you do some debugging to determine what's happening in your scenario or provide a link to a sample we can use to try and reproduce?

[2020-12-18 21:04] BarishSarac commented on #2659
@tnorling forceRefresh: true is still there and openid is in scope list still. So the main question is how can I get a hold of user's current session expiration time? is it `msalApp.getAccount().idToken.exp` ? and if I continously console.log this, I should see it at 60 each time I do acquireToken, correct?

[2020-12-18 21:25] tnorling commented on #2659
@BarishSarac

Correct. As long as `acquireToken` is going to the network and retrieving a new idToken, the next call to `getAccount` should reflect a new expiration. You can also try getting the idToken directly from the response of `acquireTokenSilent` and see if that makes a difference.

[2020-12-19 06:24] wk0 opened #2793 "InteractionType is not defined"
## Library
"@azure/msal-browser": "^2.8.0",
"@azure/msal-react": "^1.0.0-alpha.1",

## Documentation location
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-react-samples/nextjs-sample/pages/_app.js

## Description
Bug:
* ReferenceError: InteractionType is not defined

Fix:
* import { InteractionType } from "@azure/msal-browser";

[2020-12-19 07:51] IanMercer opened #2794 "Hooks topic does not show how to logout"
The hooks documentation explains how to call login but does not explain logout.

Documentation is here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook

Suggest adding something about logout using the sample code found elsewhere:

    const { instance, accounts } = useMsal();

    {accounts.map((account) => (
                <di

[2020-12-19 09:52] ilbrando commented on #2781
`msal-react` is 1.0.0-alpha.0 and `msal-browser` is 2.7.0.
I have now upgraded to 1.0.0-alpha.1 and 2.8.0 and that solved the problem :-)

[2020-12-19 09:52] #2781 closed

[2020-12-19 18:56] Ramprakash333 commented on #2786
ok, Thank you. Closing this thread as the issue is addressed.

[2020-12-19 18:56] #2786 closed

[2020-12-20 02:53] #2766 closed

[2020-12-20 07:49] khanzzirfan opened #2795 "@azure/msal-browser scopes/claims requests are wrong for graph api"
## Library

- [X] `@azure/msal-browser@2.1.0`
- [X] `@microsoft/microsoft-graph-client@2.0.0`

## Framework

- [X] React

## Description
Using sample react app from the examples. I only have scope [user.read] in my app configuration. But for some reason app is triggering below request and results in access denied.
 ` https://graph.microsoft.com/v1.0/me?$select=displayName,mail,mailboxSettings,user

[2020-12-20 07:55] khanzzirfan commented on #2795
Sorry my mistake. Just found the code that actually triggering the call.
In the same code base, there is file called 'GraphService.ts` which has all those query strings appended to the url.
Closing the bug. Thanks.

[2020-12-20 07:55] #2795 closed

[2020-12-20 15:45] CalamityLorenzo opened #2796 "@azure/msal-browser redirect not working correctly."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.8.0`

## Framework
- [ ] Angular
- [ x ] React 17.0.1
- [ ] Other

## Description
This was done using **msal-react-samples/typescript-sample**.
When using `loginRedirect()` the app is logged in, and returned to the redirect uri, wuth an error
`ClientAuthError: state_not_found: State not found:  Cached State`

I upd

[2020-12-21 00:23] gabriel-kohen-by commented on #2691
I seem to be getting these consistently trying to re-login  after issuing logout while running in Chrome Incognito(MacOS Catalina Chrome 87):
`index.js:1 Error code={
  "errorCode": "invalid_request",
  "errorMessage": "undefined - [undefined]: AADB2C90182: The supplied code_verifier does not match associated code_challenge\r\nCorrelation ID: d1a8de73-e47e-4522-8f18-1b5b9ab941b9\r\nTimestamp: 2020

[2020-12-21 12:01] jdolearydl opened #2797 "How does Authorization Code flow remember the user after cached state is cleared?"
## Library
- `@azure/msal-browser@2.8.0`

## Description
Given an app using Oauth 2.0 [Authorization Code Flow](https://tools.ietf.org/html/rfc6749#section-4.1) via msal-browser, I login by providing my credentials.  Then I fully clear my browser's state, cache, local/session storage, and refresh the page so that the single page application doesn't know I'm logged in, but I'm still logged in with

[2020-12-21 13:25] nomanshahsyed opened #2798 "Unable to find hash in url, timing out / Unable to complete authoriation as there is no interactive call in progress. This can be due to closing the app while the authorization was in process."
## Library

- [X] `@azure/msal-angular@1.1.2`
[code]

## Framework

- [X] Angular 10
- [ ] React
- [ ] Other

## Description
I have setup the APP in azure like below.

![image](https://user-images.githubusercontent.com/26595409/102780764-3308ae00-439f-11eb-89e8-1adda0520041.png)

When I use localhost as the redirect URI. It works fine on browser. It will of course not work on the phone. The redire

[2020-12-21 14:14] francesco-clementi-92 opened #2799 "Best pratice to refresh token in react"
## Library
-  `@azure/msal-react@1.0.0-alpha.1`

## Description
As written in the documentation  "It is recommended that you call acquireTokenSilent in your app before making an API call to get the valid token".

So the best practice is to refresh the token at every api call or should I check the expiration every time?

Moreover, in my react project I have my apis centralized as functions, but I c

[2020-12-21 16:20] lah8789 commented on #2796
I am experiencing this same behavior.

[2020-12-21 17:28] tnorling commented on #2691
@gabriel-kohen-by hmm that's odd, are you able to provide a minimal reproduction? Thus far, I have not seen this behavior personally so I couldn't speculate as to what's causing it.

[2020-12-21 17:33] tnorling commented on #2796
@CalamityLorenzo

This is why. Can you determine what is clearing sessionStorage?

[2020-12-21 17:43] tnorling commented on #2797
@jdolearydl When you first authenticate the AAD service drops a session cookie in your browser. When you clear local/session storage for your app you are removing the tokens from your app context but are not closing the session with AAD. When you try to re-authenticate with the same browser, AAD reads the session cookie it dropped earlier and re-establishes the existing session.

If you would like

[2020-12-21 17:51] CalamityLorenzo commented on #2796
AFAIK nothing is.
Like I said this based on the tutorial, so nothing is being changed, and I'm not changing the session/local state directly.
The following appears occasionally in the session but it doesn't seem consistent
Key
`server-telemetry-b68e0007-afab-4b1a-a391-066c2a18b835`
Value
`{"failedRequests":[865,"dde05bb7-b6ae-4c80-9732-954d3e750c3e"],"errors":["state_not_found"],"cacheHits":0}`

[2020-12-21 17:55] tnorling commented on #2799
@missklorina

Yes, you should call `acquireTokenSilent` before every API call. `acquireTokenSilent` will examine expiration, you do not need to build logic around this. When you call `acquireTokenSilent` it will first attempt to retrieve the access token from the cache, if it is expired or within the offset (5 minutes by default) or cannot be found it will then attempt to exchange the refresh toke

[2020-12-21 18:11] tnorling commented on #2796
@CalamityLorenzo Can you remove `handleRedirectPromise` and see if that resolves the issue? `msal-react` calls this under the hood and it should not be called manually.

[2020-12-21 18:14] jdolearydl commented on #2797
Hi @tnorling, thank you for the response.  I'm aware of needing to call the `logout` api to truly logout. I am simply curious about what's going on behind the scenes.  How does the session cookie remain in my browser even after I clear my browser's cookies?

[2020-12-21 18:29] tnorling commented on #2793
@wk0 Thanks for bring this to our attention. I've linked a PR which will address this.

[2020-12-21 18:30] gabriel-kohen-by commented on #2691
@tnorling , thanks for the quick response. Not sure about minimal but I can share some of our code. I'd appreciate any insight on this as it stands in the way of us adopting PKCE.
Just to set the context, we have a main component for all of the apps that both makes sure we login before presenting the reset of the apps and has a simple messaging capability to allow different parts of the app to acc

[2020-12-21 18:33] tnorling commented on #2797
@jdolearydl Can you clarify, did you clear **all** browser cookies or just those for your app? The cookie in question here is owned by AAD, not by your app.

[2020-12-21 18:38] CalamityLorenzo commented on #2796
Yep, that solves it.
Does that mean the `handleRedirectPromise` is entirely off limits if I am using `msal-react`?

For this report I've used the sample to demonstrate my issue succintly, however in my own project I'm not using `msal-react`, and the same error occurs. (again not writing to the session/local state.)

If i remove the `handleRedirectPromise`  function  from my own project then the re

[2020-12-21 18:50] tnorling commented on #2796
@CalamityLorenzo

Yes, calling it directly should be considered off-limits, however, there are other ways to obtain the response, most notably using the event listener. (This is something I intend to add to the docs before we GA and I'm sorry you had to find out the hard way)

If you're not using `msal-react` you will need to call `handleRedirectPromise` but make sure you're only calling it once p

[2020-12-21 18:57] jdolearydl commented on #2797
@tnorling  Ah that was the point of confusion, I was only clearing the cookies for my app.  Once I clear all cookies, it asks for my credentials as I would expect.  Thank you!

[2020-12-21 18:57] #2797 closed

[2020-12-21 19:12] zzzachzzz opened #2801 "B2C Microsoft identity provider with msal-browser 2.x login error: "Proof Key for Code Exchange is required...""
## Library
- [x] `@azure/msal-browser@2.8.0`

## Framework
- [x] React

## Description
I'm trying to use Azure AD B2C with msal-browser 2.x in a SPA using the recommended PKCE auth flow. I'm using the preset 'Sign up and sign in' recommended B2C User Flow. I have B2C configured with 3 identity providers: Google, Microsoft, and Local account (Email). The only provider of the 3 which is not working

[2020-12-21 19:23] tnorling commented on #2794
@IanMercer Logout docs can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md) As the docs you linked are mostly intended to show how you can get the `PublicClientApplication` instance using the hook I'm reluctant to start adding usage of specific APIs hanging off that instance. However, links to the API docs for the various

[2020-12-21 19:38] tnorling commented on #2801
@zzzachzzz The fact that it works for 2/3 IDPs suggests to me that B2C is not forwarding the PKCE params, at least to, AAD. Can you verify that your redirectUris are configured in the portal as type "SPA" and not type "Web". If so, can you email me (email on my profile) a network trace showing both the flow that works as well as the one that doesn't? I'll follow up with the service to see what's g

[2020-12-21 20:05] pritambaldota opened #2802 "Our Tip endpoint throws CORS error when trying to acquire access token from MsalV2 but other endpoints works fine"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ x] React 16.8
- [ ] Other

## Description
When trying to acquire access token

[2020-12-21 20:25] jasonnutter commented on #2452
This issue should be fixed in `@azure/msal-browser@2.8.0`. Please try and let us know if this is still an issue.

[2020-12-21 20:25] #2452 closed

[2020-12-21 20:43] CalamityLorenzo commented on #2796
Noting your advice around a race-condition, and keeping it early in the pipe line, I moved `PublicClientApplication` and `handRedirectPromise` to fire earlier.

So my app, is a basic `create-react-app`, with the usual start

[code]

The App function (when it errored), was like the following:
[code]

Now I've moved the msal calls out of the `App` functions context:

[code]
Am I effectively making t

[2020-12-21 20:43] #2796 closed

[2020-12-21 20:53] tnorling commented on #2798
@nomanshahsyed You cannot use an android `redirectUri` with `msal-angular`. Since you can't use localhost you'll need to serve your app over https and register that redirectUri as type web

[2020-12-21 21:02] pritambaldota commented on #2802
Redirect URL was not set to SPA. After setting this it started working.

[2020-12-21 21:02] #2802 closed

[2020-12-21 21:37] nomanshahsyed commented on #2798
Hi, can't we make it work? The return URL has the token and the navigation to and from the login page works and it redirects correctly to the app.

[2020-12-21 23:49] tnorling commented on #2796
@CalamityLorenzo If you want to initialize msal in your component, you can. You just need to put the `handleRedirectPromise` call in a `useEffect` hook. This is one way you could do this:

[code]

[2020-12-22 00:38] #2665 closed

[2020-12-22 00:38] #2660 closed

[2020-12-22 12:40] jayricx commented on #2774
Hi @tnorling, Thanks for your reply. I figured how to debug the interceptor. The URL being passed into the interceptor is incorrect, it was an issue in my code :).  There was a line in my code that replaces the URL.

[2020-12-22 12:40] #2774 closed

[2020-12-22 16:08] dfibuch opened #2805 "Handling multiple accounts"
## Library

- [x] `@azure/msal-browser@2.5.1`

## Description
I'm trying to track down an issue some of my users are having where I can see an error is thrown during `acquireTokenSilent` but all it gives me is `TypeError: Failed to fetch`.

The user journey seems to be:

- Hit site and refresh token is expired (over 24hrs since last visit) so `acquireTokenSilent` fails with `AADB2C90077` error and

[2020-12-22 17:15] tnorling commented on #2805
@dfibuch In order to have multiple accounts returned from `getAllAccounts` a user would need to choose a different account than the one they had originally signed in when you call one of the interactive methods, likely when your app calls `acquireTokenRedirect`. If you're having trouble getting to the account selection screen you can include `prompt: "login"` or `prompt: "select_account"` in your

[2020-12-22 17:45] tnorling commented on #2798
@nomanshahsyed What happens when you use redirect instead of popup?

[2020-12-22 17:48] nomanshahsyed commented on #2798
Same behavior. Nothing changes.

[2020-12-22 17:56] tnorling commented on #2798
Specifically what happens? What errors occur? Can you debug to figure out why there is no hash in the url?

[2020-12-22 18:01] nomanshahsyed commented on #2798
There is a Hash in the URL. I saw the hash. Then tried to enable/disable the useHash with routes. Nothing changed.

The errors were same as I posted above. I followed the logcat too and there were same errors. I'm finished for today but tomorrow morning I'll try to run it again and tell you what i see there.

If only the handle redirect function fires, it will tell more info.

[2020-12-22 18:03] nomanshahsyed commented on #2798
I implemented the login with google and that works fine. The google plus and firebaseX plugins also don't have the Microsoft login functions though they have Twitter, Apple etc login.

[2020-12-22 18:12] tnorling commented on #2798
If you're seeing the same errors then it's not running redirect...those errors are specific to the popup scenario. If the url returns with a hash but the error says it can't find a hash then you need to determine what is clearing the hash. One thing you can try (for the popup scenario only) is to make the `redirectUri` a blank page that does not implement msal. If the page used as the `redirectUri

[2020-12-22 22:20] #2793 closed

[2020-12-23 09:50] dfibuch commented on #2805
@tnorling Thanks for that, this has made a bit more sense now. I'll keep investigating. It's probably not related but thought worth exploring as I can't really explain why we get this `Failed to fetch` error.

[2020-12-23 12:02] nomanshahsyed commented on #2798
Ok so for loginPopup the app crashes now whenever this function is called.

For loginredirect i put the localhost as a redirecturi and the returned url has the # along with the code and client info.

When the URI is for the android app from azure page, the app opens up correctly with the following error Alert on Android
( Unable to complete authoriation as there is no interactive call in progress.

[2020-12-23 17:16] tnorling commented on #2798
( Unable to complete authoriation as there is no interactive call in progress. This can be due to closing the app while the authorization was in process.)

@nomanshahsyed Can you determine what is throwing that error? I don't think that's one of ours. Do you see any msal errors in the console?

[2020-12-24 00:42] #2672 closed

[2020-12-24 00:42] #2643 closed

[2020-12-24 00:42] #2634 closed

[2020-12-24 00:43] #2633 closed

[2020-12-24 01:05] bailey-72 commented on #2628
Identical issue here!

[2020-12-25 00:40] #2685 closed

[2020-12-25 00:40] #2675 closed

[2020-12-25 17:48] willzhan commented on #2452
Hi Jason,

Just tested in msal/browser v2.8.0. There is still an issue in logging out the specified account using the above syntax. The error is copied below:

Uncaught (in promise) ClientAuthError: no_account_found: No account found in cache for given key.
    at Fe.re [as constructor] (https://alcdn.msauth.net/browser/2.8.0/js/msal-browser.min.js:2:9221)
    at new Fe (https://alcdn.msauth.net/b

[2020-12-25 17:51] willzhan commented on #2452
the logout() without input works fine.

[2020-12-26 00:39] #2689 closed

[2020-12-26 00:39] #2547 closed

[2020-12-26 00:39] #2441 closed

[2020-12-26 18:50] codymullins commented on #2801
I don't have a ton of information to add here, but just wanted to mention I'm seeing the same error for Microsoft IDP. Google works OK - before I tried a custom User Flow, logging it through the normal `login.live` default worked fine.

[2020-12-26 19:45] hypertrends commented on #2697
Hello,
Is it fair to assume that if we have multiple APIs with each having their scopes, then the MSAL library will allow us to pass the scopes we need and get the ID and Access tokens correctly? Previously, it appears that this was either an MSAL or an Azure AAD B2C limitation.

We have multiple Microservices, e.g. Tenants API with scopes (tenants.admin, tenants.read) and Affiliates API with scop

[2020-12-27 18:36] #2725 closed

[2020-12-28 13:59] KrisshDev opened #2811 "Unable to get Access token from the first party AAD using MSAL"
Hi Team,

We are using first party AAD and its a single page application using MSAL with implicit grant, so access token will be from the authentication server after successful authentication and its stored in local storage of browser, during MSAL angular we tried to pass consent scopes ,so from the token got from from authentication server is ID token and unable to generate access token  i.e. wit

[2020-12-28 17:20] tnorling commented on #2697
@hypertrends You cannot obtain an access token for scopes that span more than 1 resource. [Read more about scopes and resources here.](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md)

In your case, assuming the Tenants API and Affiliates API are 2 distinct resources you will need to make 2 separate access token requests. Yo

[2020-12-28 17:27] tnorling commented on #2811
@KrisshDev Please fill out one of the [provided issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose). It helps us organize the information and address your issue quicker.

Can you please try upgrading to the latest versions of both msal (1.4.4) and msal-angular (1.1.2) and if you experience the same issue please let us know what you expect to happe

[2020-12-28 18:37] hypertrends commented on #2697
@tnorling - thank you for the detailed response here. It is a little surprising that it will not work across different resources. Does this mean that we have to keep these access tokens for various APIs in local storage and then also pick the correct access token before making the API call to the correct API?

We have used Identity Server 4.0 previously with multiple resources and this has never b

[2020-12-28 18:58] tnorling commented on #2697
@hypertrends

When using msal.js you do not need to handle storage of tokens yourself as this is done by the library. All you need to do is call `acquireTokenSilent` with the scopes you need a token for before calling your API and msal will return to you the correct token either from local/session storage or by making a new request to the network, if the token is expired or cannot be found in the

[2020-12-28 19:17] hypertrends commented on #2697
@tnorling - thank you again for the response. Good to know that MSAL.js will take care of the access token management. This simplifies things greatly. I will evaluate this as a strategy moving forward and implement this. If we need anything else at our end, we will definitely reach out.

Thank you again for all the help and have a great one!

[2020-12-28 19:44] hotovee opened #2812 "[msal-node] SNI authentication"
## Library

- [ ] `@azure/msal-node@1.x.x`

## Description
As part of ECR drill, one of our certs was marked as Blocked for NodeJS auto-rotation support. That support is now available since the latest node version of @azure/msal-node (1.0.0-beta.1) supports SNI.

I followed the documentation https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/sni.md and d

[2020-12-29 00:42] #2704 closed

[2020-12-30 00:44] #2663 closed

[2020-12-30 01:34] Jeff-B1 opened #2815 "Cached refresh token is not specific per token when making multiple token requests for different scopes w/B2C"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description
In Azure B2C using the auth code flow, an

[2020-12-30 17:28] tnorling commented on #2815
@Jeff-B1 This is a known issue with the B2C service. There is a work item open with the service to change the behavior of the refresh token to allow redemption for any consented scopes. There's already a long thread open regarding this issue so I'm going to close this as duplicate and you can track #2315 for resolution.

[2020-12-30 17:28] #2815 closed

[2020-12-30 17:31] Jeff-B1 commented on #2815
Thank you @tnorling !

[2020-12-30 21:08] Jeff-B1 commented on #2315
@tnorling thank you for pointing me here from #2815. Since the core issue is related to the B2C service itself, would it be acceptable to add a change to the MSAL code that associates each cached refresh_token with the scope for which it was requested so that a new auth code would not be required every hour? It would seemingly allow using the workaround listed here and in the FAQ but prevent the n

[2020-12-30 22:33] tnorling commented on #2315
@Jeff-B1 Unfortunately since B2C is not the only service we support, making this change would break other use cases where this is working as intended. This is a case where we need the services (mainly AAD and B2C) to be aligned. You're always more than welcome to fork the repo to implement a solution that works for you in the interim though. I understand the suggested workaround is far from ideal

[2020-12-31 00:40] mirusky opened #2816 "SPA begins authorization code flow - Backend receives the authorization code and performs exchange"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.0.0-alpha.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Scenario:

A Golang back-end serving a React front-end. The front-end starts an `Autho

[2020-12-31 00:46] #2566 closed

[2020-12-31 13:39] c-mpatel commented on #2579
Hi @tnorling , @pkanher617 ,

MSAL Library Version:
 msal-angular : "1.1.2",
 msal : "^1.4.4",

 This version i'm using
 i'm using acquireTokenSilent in interceptor

 **Issue:** in chrome incognito mode if  'Block third-party cookies' are enabled then getting below issue.

 is there any way to solve this issue?

 InteractionRequiredAuthError: AADB2C90077: User does not have an existing session and

[2020-12-31 15:37] varghesep opened #2817 "How to retrieve B2C users and update them?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How to retrieve the B2C users and update them?

I'm currently using **msal-angular** to login

[2020-12-31 17:22] tnorling commented on #2579
@c-mpatel Please see this [wiki article](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari) regarding 3rd party cookies. Currently the best way to handle this is to upgrade to `msal-browser@2.8` and `msal-angular@2.0.0-alpha.1` which does not require 3rd party cookies in most scenarios. If you do not wish to upgrade the solutions are to either enable 3rd

[2020-12-31 17:37] tnorling commented on #2816
@mirusky Currently `msal-browser`, and by extension `msal-react`, are intended for use in SPAs with no back end component. While this feature/scenario is something we have considered and may pick up at some point, it is not yet on the roadmap. For now our recommendation for apps that have a backend component is to handle auth on the backend. In your scenario this may mean using an Auth Library for

[2021-01-01 00:46] #2722 closed

[2021-01-01 04:27] mirusky commented on #2816
Interesting to know you are tracking this scenario, I really want to start the flow in front-end because of internal requirements... But for a while I belive we can start the flow on back-end. But we don't intent to stay in that way, since we want to create a microfront-end with all oauth stuff

Could we maintain this issue open and wait for new updates?

[2021-01-02 00:44] #2745 closed

[2021-01-04 07:56] alexanderdemchik opened #2820 "CVE-2020-28168 Axios NPM packages up to 0.21.0 contain a Server-Side Request Forgery (SSRF) vulnerability"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Axios packages up to version 0.21.1 contain Server-Side Request Forgery (SSRF) vulnerability wh

[2021-01-04 08:52] DarkLite1 commented on #2779
Thank you for not closing this one. A proper strict TypeScript example would be nice.

[2021-01-04 10:18] c-mpatel commented on #2579
Hi @tnorling ,

May I know when is the plan for release stable Msal-angular v2,
To check refresh token I'm using tokenRenewalOffsetSeconds and given 3540 which means every minute refresh token method will call from Msal angular.

in crome while 'Block third-party cookies' enable that time I'm getting the error on below method and calling acquireTokenRedirect but it not working

**issue:**  it's in

[2021-01-04 13:24] szalapski commented on #2219
I am curious if there is any update.  Probably not over the holidays; thanks either way.

[2021-01-04 15:30] saurabhsablaka opened #2821 "Error due to clientInfo object not set in redirect login flow"
- [x] `msal@1.2.1`

I am using msal js for Implicit grant auth with redirect flow. Recently I tried to upgrade to latest version 1.4.4 but with this version I came across this issue "Cannot read property 'encodeClientInfo' of undefined". I checked the flow and it seems the token authority needs to return "CLIENT_INFO" as well with id hash. Unfortunately the token service I am using can not be chan

[2021-01-04 15:47] BarishSarac commented on #2659
I confirmed now it updates. I had to create a function within Auth file and share that to child component to be used to update/check the session length.

Thank you everyone!

[2021-01-04 15:47] #2659 closed

[2021-01-04 17:06] tnorling commented on #2579
@c-mpatel We expect `msal-angular v2` to go into public preview/beta sometime this month. We do not have a GA date we can share yet but it should not be too long after we go into beta. The solutions for this issue, as stated previously, are to upgrade to v2, enable 3rd party cookies, or call an interactive method instead of `acquireTokenSilent`. Looping can be caused by several different things an

[2021-01-04 17:58] c-mpatel opened #2822 "Refresh Token is not working on chrome browser when Block third-party cookies is enabled"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description

1> app.module.ts
[code]

2> app-routing M

[2021-01-04 18:01] c-mpatel commented on #2579
Hi @tnorling I have opened a new issue please check this #2822

[2021-01-04 18:44] jo-arroyo commented on #2822
@c-mpatel It looks like your `tokenRenewalOffsetSeconds` is set to 3540, while the default is 300 seconds, and this could be causing the infinite loop. Please try setting this to 300 and let us know if you continue to have problems. We do not recommend setting `tokenRenewalOffsetSeconds` that high, as it can cause timer issues and throttle the server.

[2021-01-04 18:54] jo-arroyo commented on #2821
@saurabhsablaka We have the issue fixed in MSAL 2.x, and the service used can be specified, as per the doc [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#auth-config-options). Unfortunately, this is a bug in MSAL 1.x. We would recommend you upgrading to 2.x and setting `protocolMode` to `OIDC`.

Additionally, can you please

[2021-01-04 18:57] jo-arroyo commented on #2817
@nickgmicrosoft Can you please address this?

[2021-01-04 19:03] jo-arroyo commented on #2812
@jmckennon Could you take a look at this?

[2021-01-04 19:11] nickgmicrosoft commented on #2817
Hi varghesep,

Microsoft Graph does not recognize tokens issued by Azure AD B2C, so at this time it's not possible for a user to update other users using delegated Graph permissions. Instead, you can use client credentials so that the application can perform the Graph operations to update users itself. [This](https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage-user-accounts-graph-ap

[2021-01-04 19:41] jmprieur commented on #2817
@derisen @hamiltonha

[2021-01-04 20:01] jdolearydl opened #2824 "interaction_in_progress results in a blank popup"
## Library
- [x] `@azure/msal-browser@2.8.0`

## Description
The `interaction_in_progress` error could be handled more gracefully.  Currently it results in the new popup to be blank with no user-visible explanation as to what went wrong.

Could this be improved so that the most recent popup takes precedence?

## Error Message

## MSAL Configuration

[code]

## Reproduction steps
![interaction_in_p

[2021-01-04 20:04] derisen commented on #2817
@varghesep this corresponds to user management scenarios outlined [here](https://docs.microsoft.com/azure/active-directory-b2c/manage-user-accounts-graph-api). In short you'd have to use application permissions instead of delegated permissions (i.e. [client credentials grant flow](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow)). Since that requires a c

[2021-01-04 20:07] jasonnutter commented on #2824
@jdolearydl I believe this is a duplicate of #2614, is that correct?

[2021-01-04 20:13] jdolearydl commented on #2824
@jasonnutter well in my case it's the second, most recent popup that goes blank, not the first.

[2021-01-04 20:20] jdolearydl commented on #2824
Closing as a duplicate, will comment on the original with additional info.

[2021-01-04 20:20] #2824 closed

[2021-01-04 20:20] jdolearydl commented on #2614
I observed the similar behavior; however, for me it was the second, most recent popup that goes blank.

[2021-01-04 20:23] jasonnutter commented on #2824
Sounds good, thanks! We'll look to address this issue soon.

[2021-01-04 20:49] jmckennon commented on #2812
@hotovee can you provide the rest of your msal configuration and code usage?

[2021-01-05 02:14] c-mpatel commented on #2822
Hi @jo-arroyo
In the default `tokenRenewalOffsetSeconds `  method refresh token event will call 55 minutes after login.
for testing purposes, I have set 3540 so the refresh token event will call every minute.

if browser 3rd party cookies enable, in this case, `tokenRenewalOffsetSeconds :3540` working fine it's renewing token every minute.

The issue is when 3rd party cookies are Block.

[2021-01-05 07:09] saurabhsablaka commented on #2821
Thanks @jo-arroyo
I am using msal js in a single page application having IdentityServer4 working as the authority service. Identity Server4 then connects to the internal IDP.
Can you please also help me understand this as well - I was under impression that for Implicit grant flow is available with 1.x only
In my SPA I want to use the basic js based implementation only with IdentiyServer4 as author

[2021-01-05 15:40] SamVanGeijn opened #2826 "How do I use 'b2clogin' instead of 'login.microsoftonline' when using msal-angularjs?"
## Library

- [x] `@azure/msal@1.0.1` Also tried 1.4.4 and 1.2.2
- [x] `@azure/msal-angularjs@1.1.1`

## Description

We currently use the msal-angularjs plugin in our AngularJS application to log a user in via the sign in user flow. Due to the deprecation of login.microsoftonline.com (https://docs.microsoft.com/en-gb/azure/active-directory-b2c/b2clogin) I'm looking into changing the references to

[2021-01-05 16:57] #2676 closed

[2021-01-05 17:43] ismail1971 commented on #2769
After adding the authRequest: {prompt: "select_account"} I am getting complie error.

Error: src/app/app.module.ts:64:12 - error TS2322: Type '{ prompt: string; }' is not assignable to type 'PopupRequest | Pick<RedirectRequest, "prompt" | "state" | "scopes" | "authority" | "correlationId" | "claims" | "resourceRequestMethod" | "resourceRequestUri" | ... 9 more ... | "onRedirectNavigate">'.
  Prope

[2021-01-05 18:07] eanders-MS opened #2827 "Installing msal-node-extensions package fails npm gyp build step"
## Library

- [x] `@azure/msal-node-extensions@1.0.0-alpha.4`

## Framework

- [x] Node

## Description
Installing @azure/msal-node-extensions fails npm gyp build step.

## Error Message
[code]

## Reproduction steps

1. Add `@azure/msal-node-extensions` to a Node project: `npm install --save @azure/msal-node-extensions`.
2. Notice the above error message.

## Expected behavior

Install would succ

[2021-01-05 18:18] tnorling commented on #2769
@ismail1971 Can you include a scopes parameter on your request?

[2021-01-05 18:35] eanders-MS commented on #2827
Node v12.16.3

[2021-01-05 19:06] eanders-MS opened #2828 "Redis token cache for msal-node?"
## Library
- [x] `@azure/msal-node@1.x.x`

## Description

Does a redis-backed token cache exist for msal-node (for use in confidential client application)? If not, could you point me to an existing implementation in another framework/language that would serve as a good reference? I would try to port it to js. I'm looking at the dotnet library's equivalent as a potential candidate.

## Source

- [

[2021-01-05 20:31] jo-arroyo commented on #2821
@saurabhsablaka You are right, the implicit flow is only used in MSAL.js 1.x. MSAL.js 2.x changes to the authorization code with PKCE (which should supported by Identity Server 4).

[2021-01-05 20:32] jo-arroyo commented on #2822
@c-mpatel With the default `tokenRenewalOffsetSeconds` and 3rd party cookies blocked, do you still experience the redirect loop?

[2021-01-05 21:27] shyam2794 commented on #2799
@tnorling I am using axios interceptor to attach the authorization header in each request . now if i have the acquireTokenSilent logic in the interceptor i see the network call being made to acquire the new token for each request .

![image](https://user-images.githubusercontent.com/30238125/103699910-aa5a5680-4fc9-11eb-8bdb-f4c5cea38987.png)

This is my interceptor
[code]

[code]
 Am i missing so

[2021-01-05 21:35] vinipdias commented on #2820
+1 this is an important issue

[2021-01-05 21:53] tnorling commented on #2799
@shyam2794 Those are not token requests, though I would not expect those to be made either. Could you please open a new issue with a minimal reproduction so we can better understand your specific scenario? Thanks!

[2021-01-05 22:45] shyam2794 commented on #2799
@tnorling i also see this in the browser dev tools .
![image](https://user-images.githubusercontent.com/30238125/103708028-be0bba00-4fd5-11eb-827b-c4c7eb1d429a.png)

[2021-01-05 23:03] tnorling commented on #2799
@shyam2794 Please verify that you are not re-initializing msal at any point as these network calls will be made on the first token request after initialization. When using React, you'll need to be careful to not call the `PublicClientApplication` constructor on re-renders as that will cause everything in `msal-react` to re-render in addition to these network calls.

[2021-01-05 23:52] jo-arroyo commented on #2826
@SamVanGeijn Could you please clarify the versions you are using? Is it msal-angular 1.1.1 or msal-angularjs 0.1.1?

The `b2clogin` domain is supported with msal-angular 1.x and 2.x, we encourage you to take a look at our samples for 1.x [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa) and 2.x [here](https://github.com/AzureAD/microsoft-authentication-library-fo

[2021-01-06 00:05] hectormmg commented on #2729
Turns out there was a bug in the AuthProvider class where the `loginSilent`method returned the cached account but didn't set it under `this.account`, so by the time `logout` was clicked, this.account was null and `removeAccount` wasn't being called. Thanks for catching this bug @Ladvace. Should work fine after merging the fix in #2830.

[2021-01-06 00:47] #2760 closed

[2021-01-06 03:48] southpolesteve opened #2832 "Unable to Dynamically Set Authority or Tenant ID for MSAL V1"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Other

## Description
I am unable to dynamically login a user to

[2021-01-06 06:19] shyam2794 commented on #2799
@tnorling looks like i was getting this calls on the page reload . Subsequent API calls within the App did not make any call to retrieve the token 👍  . Also if we make a call to `acquireTokenSilent`  will the new access and refresh tokens will be updated in the cache ( local or session storage ) automatically ? or do we need to manually update it in local or session storage ?