[2021-03-18 04:00] mbrevda commented on #3236
[code]

[2021-03-18 04:41] mbrevda commented on #3236
My bad, this was caused by faulty destructuring. All good now!

[2021-03-18 04:41] #3236 closed

[2021-03-18 08:39] janusch commented on #3198
@tnorling thank you for gathering the documentation resources for me!
It makes all sense now. I will keep them close.

I feel a bit stupid now that I missed it and did not find it on my own, not sure what went wrong on my search.
Looking forward to implement the onPageload flow with the react hook.

Have a great day!

Closing.

[2021-03-18 08:39] #3198 closed

[2021-03-18 09:56] rsrinivasanhome opened #3238 "MSAL handling of Azure AD B2C Outage"
I scanned the source code of MSAL and could not find a reference to the error[ "AADB2C90035"](https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes#:~:text=The%20following%20errors%20can%20be,Azure%20Active%20Directory%20B2C%20service.&text=The%20CORS%20resource%20%27%7B0%7D%27%20returned%20a%20404%20not%20found.&text=The%20redirect%20URI%20%27%7B0,client%20id%20%27%7B1%7D%27.&te

[2021-03-18 09:56] #3238 closed

[2021-03-18 10:01] IIrafail commented on #3224
@sameerag  Actually I am using `@microsoft/mgt-electron-provider` in electron which from what I understand has a different config. Any info on that config because I cannot find the options for it. I am using the `<mgt-login></mgt-login>` element so I don't make the requests manually to log in. All I know is that I click sign in, enter my credentials and once the window closes I am logged in and ca

[2021-03-18 11:10] mbondoso commented on #3233
@tnorling I changed cacheLocation from LocalStorage to SessionStorage and it started working.

Then I investigated and seems that CacheManager from msal-browser is handling my own localstorage items despite none of the keys match.

[2021-03-18 11:40] forellendev opened #3239 "Configuring PKCE with MSAL 2.0"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi guys, I'm not sure how to configure PKCE (codeChallenge, codeChallengeMethod) by not crea

[2021-03-18 12:32] maartenstelling opened #3240 "No logout redirect after closing and reopening browser"
## Library

- [x] `msal@1.4.8` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-beta.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular 11
- [ ] React
- [ ] Other

## Description
We noticed that after a user log

[2021-03-18 14:00] fhljys opened #3242 "MSAL Angular query string is lost after redirected back."
## Library

- [x] `msal@1.4.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular 8
- [ ] React
- [ ] Other

## Description

In Angular APP, hit exactly the same is

[2021-03-18 15:27] sameerag commented on #3024
@samuelkubai will be picking this up in the next few days

[2021-03-18 16:37] tnorling commented on #3233
@mbondoso Ahh interesting. Can you share an example cache key that msal-browser is attempting to read so that I can try to reproduce this? There should be code that prevents msal-browser from reading cache keys that don't belong to msal so I would be interested to see why yours seem to be getting through. We definitely want to make sure this doesn't happen.

[2021-03-18 16:41] tnorling commented on #3239
@forellendev PKCE params are added internally in the library. Are you running into any specific issue?

[2021-03-18 16:49] mbondoso commented on #3233
@tnorling I believe the one that is breaking is google_auto_fc_cmp_setting

[2021-03-18 16:53] tnorling commented on #3242
@fhljys Can you please share steps to reproduce and verbose level logs from msal? It's unclear from the stackoverflow issue linked, is this an issue with your own custom query string or the hash that contains the tokens returned from AAD? Can you clarify?

[2021-03-18 18:34] tnorling commented on #3240
@maartenstelling Interesting... thanks for raising this, I was able to reproduce this.

@hpsin Any idea why opening a clean browser instance before logging out would break post logout redirection?

[2021-03-18 18:40] tnorling commented on #3233
@mbondoso I've identified the issue and will make sure this is addressed in the next release. Thanks for raising this and helping me get to the bottom of it

[2021-03-18 19:19] zzbxd commented on #3231
@tnorling No luck, offshore team still has same issue after I `await msalAuth.logout();` and change redirect to local.

I also add new function `componentWillUnmount()`, but from console log it never get triggered;
`    componentWillUnmount() {
      console.log('unmount component');
    }`

Is there anything else could cause logout() cancel ?

I asked company Azure team and they do not know.

[2021-03-18 20:11] maacaro opened #3244 "MSAL.js 1.4.6 single sign out with Multiple tabs"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

is there a way to sign out at once in multiples tabs? I am running into a situation where the

[2021-03-18 20:17] tnorling commented on #3244
@maacaro Are you using local or session storage? If you're using local storage cache should be cleared for both tabs when you log out of one. If you're using session storage each tab has it's own storage so the only way to clear tab 2 would be to either close the window or call logout on that tab as well.

[2021-03-18 21:22] danieljaguiar commented on #3154
Thanks @samuelkubai !

Any plans to implement `getAccount` to fully `@microsoft/microsoft-graph-client` ?

[2021-03-18 21:36] sameerag commented on #3154
Guess we can expose a general purpose API with a filter against all account properties. Can we mull over the implications and reach out?

[2021-03-18 21:37] hpsin commented on #3240
AAD likely doesn't remember if the user was signed in.  It's worth confirming that there was a user there to sign out (based on auth cookies seen at the login page).

Additionally, AAD has a known behavior where it drops the cookie that remembers what apps you were signed into on browser close, so that can result in this behavior.

[2021-03-18 22:04] tnorling commented on #3240
@hpsin Even if there's no user to sign out or there's no cookie, should that prevent the redirect back to the application? As long as the post_logout_redirect_uri is passed and it matches a redirectUri on the app registration why do we care if AAD removed a cookie or not?

[2021-03-18 22:56] tnorling commented on #3204
Closing as there's another ticket open for this feature. Please track #2785

[2021-03-18 22:56] #3204 closed

[2021-03-18 23:22] maacaro commented on #3244
@tnorling thanks you, I changed session storage by local storage, and it works

[2021-03-19 00:32] #3079 closed

[2021-03-19 03:26] fhljys commented on #3242
Hi @tnorling , thanks for your prompt reply.

Here is to provide more details
1. I start a page with https://atlas-preview.cloudapp.net/en-us/authoring?**factory=xxx**,
2. I was been redirected to login.microsoft and when redirect back I got https://atlas-preview.cloudapp.net#id_token=<mytoken>, note, all the path and query string are lost
3. Then at some point I got   https://atlas-preview.clouda

[2021-03-19 08:36] eholman commented on #3240
@tnorling I agree - I must say that the logout process at  Microsoft shows the dialog to pick which account you want to logout with -

Maybe another idea is that the `MsalGuard` could do the login (again) based on a session storage variable?

[2021-03-19 11:00] NDalvise opened #3246 "Use HTTP verbs when mapping protected resources"
## Library
- [x] `@azure/msal-angular@2.0.0-beta.1`
- [ ] `@azure/msal-browser@2.12.1`

## Description
In the Angular wrapper for MSAL the MsalInterceptorConfiguration maps the protected endpoints through the protectedResourceMap object. The mapping is done by matching a URI and an array of scopes.

Suppose to interact with a RESTful web API backend that expose an endpoint (https://example.com/api

[2021-03-19 11:20] kwoxer commented on #3151
As noone can help me, I now just saved the homeAccountId to the cookies of the browser. Then send it as cookie in the request. Now it works. Also on different browsers.

So this makes it possible to be used by different users at the same time.

But yeah I am still interested in a version where I dont have to got the cookie workaround. If there is some.

Thanks in advance.

[2021-03-19 11:37] mbondoso commented on #3233
Thanks @tnorling for your support and effort!

[2021-03-19 12:26] rontxi opened #3247 "acquireTokenByUsernamePassword errorCode: 'invalid_grant'"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.0.1`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The acquireTokenByUsernamePassword method returns 'invalid_grant' errorCode using the exact same

[2021-03-19 13:31] mbrevda opened #3248 "The Code_Verifier does not match the code_challenge"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description

## Error Message

[code]
## MSAL Configur

[2021-03-19 15:55] yoursnikhilsinha commented on #3228
@tnorling yeah we checked the aspect mentioned in the document which we have gone through and as you mentioned about acquireTokenPopup.We have set up redirect to a blank html page also we cant use acquireTokenPopup as the user will not put their credential again for this. Please do let me know if you have any other recommendations.

[2021-03-19 16:21] jasonnutter commented on #3246
@NDalvise Thanks for the feature request, we have also been considering adding this enhacement. We'll add it to the backlog.

[2021-03-19 16:34] tnorling commented on #3244
Great, thanks for the update!

[2021-03-19 16:34] #3244 closed

[2021-03-19 16:45] tnorling commented on #3248
@mbrevda This is likely a usage issue, can you provide as much relevant code so that I can try to reproduce? Also a fiddler trace would be helpful so I can check against server logs. You can email it to me, my emails on my profile. Thanks!

[2021-03-19 16:56] tnorling commented on #3228
@yoursnikhilsinha Can you clarify, are 3rd party cookies disabled in your browser?

[2021-03-19 16:58] yoursnikhilsinha commented on #3228
@tnorling yes it is disabled.

[2021-03-19 17:01] tnorling commented on #3228
Unfortunately 3rd party cookies are **required** for the silent flow to work. Your only options are:

1. Enable 3rd party cookies
2. Call an interactive method (acquireTokenPopup or acquireTokenRedirect)
3. Upgrade to `msal-browser@2.x`

[2021-03-19 17:12] yoursnikhilsinha commented on #3228
@tnorling as you have mentioned I have enable the 3rd party cookie and will let you know the outcome. But is it really required to do item 2 as told earlier that user will not prefer to relog in after the Token Expire .And for item 3 we updated from version 1.3 to 1.4.6 how does version upgrade to 2.x help here.

[2021-03-19 17:48] rizvirashid commented on #3033
Hi @tnorling Thank You for the response. I will close this ticket.

[2021-03-19 17:48] #3033 closed

[2021-03-19 17:54] tnorling commented on #3228
@yoursnikhilsinha Msal@1.x uses hidden iframes to do silent token renewal which rely on 3rd party cookies. If these are disabled the only way to renew your token is to call an interactive method.

Version 2.x uses the Auth Code Flow with PKCE which utilizes a refresh token and a POST request instead of the hidden iframe so it does not use hidden iframes until the refresh token expires (24 hours).

[2021-03-19 20:33] cheslijones opened #3250 "useIsAuthenticated() always evaluating to false and redirecting when already logged in"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm trying to adapt the [sample project](https://github.com/AzureAD/microsoft-authentication-l

[2021-03-19 20:45] tnorling commented on #3250
@cheslijones You need to either move your `useIsAuthenticated` and `loginRedirect` calls into your `MainContent` component or you need to move the `MsalProvider` up one level to wrap your `App` component. The provider needs to be rendered above any and all msal hook and component calls.

Also I would recommend instantiating `PublicClientApplication` outside of your component tree as you may run in

[2021-03-19 21:04] cheslijones commented on #3250
@tnorling Thanks, make sense, but I appear to be running into the same issue where `useIsAuthenticated` is always evaluating to `false` and causing a loop.

I've refactored with your suggestion to make things cleaner:

[code]
[code]

[2021-03-19 21:08] mdarefull opened #3253 "@azure/msal-angular - MsalBroadcastService: inProgress$ does not emit last value"
## Library

- @azure/msal-browser": "^2.12.1"
- @azure/msal-angular": "^2.0.0-beta.1",

## Framework

- [ X] Angular
- [ ] React
- [ ] Other

## Description
In the documentation for [handling redirects](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) it is recommended to use `MsalRedirectComponent `to handle the redirects and

[2021-03-19 21:20] tnorling commented on #3250
@cheslijones Please also check that `inProgress === InteractionStatus.None` before calling `loginRedirect`. You can get the `inProgress` value from `useMsal` hook.

Alternatively you can use the `useMsalAuthentication` hook which does all of this for you. You can read more about that hook [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.m

[2021-03-19 21:24] vishnu4 opened #3254 "Can't get @azure/msal-browser working with ADO access"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm having trouble using @azure/msal-browser and @azure/msal-react to connect to Azure

[2021-03-19 21:25] cheslijones commented on #3250
That did it, thanks for the help with such a rudimentary thing:

[code]

[2021-03-19 21:25] #3250 closed

[2021-03-19 21:38] zzbxd commented on #3231
@tnorling You are correct, it is my code bug. My component unmounts earlier.

[2021-03-19 21:38] #3231 closed

[2021-03-19 21:48] tnorling commented on #3254
@vishnu4 Can you clarify are you trying to use the MS Graph access token against an Azure DevOps resource? Access tokens are issued per resource so you'll need to request a separate access token for ADO.

[2021-03-19 21:52] pkanher617 commented on #3259
We are working on an update for the passport library that will encompass this ask, you can track the progress [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9).

[2021-03-19 21:53] pkanher617 commented on #3260
We are working on an update for the passport library that will encompass this ask, you can track the progress [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9).

[2021-03-19 21:58] vishnu4 commented on #3254
i'm using this as my loginRequest above if that answers your question.  if it doesn't, let me know.
[code]

[2021-03-19 22:02] tnorling commented on #3254
@vishnu4 `User.Read` is a MS Graph scope and the other 2 are not (assuming these are your ADO scopes?) On login you can request all of these to ensure your users are requested for consent. However you will only receive an access token back that can be redeemed for the first resource in the list, in this case MS Graph. If you need an ADO token you will need to make a 2nd request using only the ADO

[2021-03-19 22:09] pkanher617 commented on #3263
Going to close for now, but will make sure to address this in the new version of the library. You can track the changes [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9).

[2021-03-19 22:09] #3263 closed

[2021-03-19 22:10] vishnu4 commented on #3254
got it @tnorling , thank you.  I only need access to ADO (I don't need graph as well), so i can change my loginrequest to

[code]

But doing that results in the following error when i get my tokens:
AADSTS65001: The user or administrator has not consented to use the application with ID 'XXX'
where XXX is the application ID, which i show in the above images it should have API permissions to ADO

[2021-03-19 22:14] pkanher617 commented on #3264
We will investigate this issue further in the latest version of the passport library. You can track the progress [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9)

[2021-03-19 22:16] pkanher617 commented on #3265
We will investigate this issue and update here when we have a definitive answer, thanks for your patience.

[2021-03-19 22:31] pkanher617 commented on #3267
We are working on a new version of the passport-azure-ad library and will include this feature. You can follow the progress [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9).

[2021-03-19 22:49] tnorling commented on #3254
Are you getting this error on the interactive call (redirect or popup) or on the silent call? If its the latter you should call an interactive API first to grant consent to the scopes.

[2021-03-19 23:18] vishnu4 commented on #3254
It's on the silent call, so that makes it sound like in this sample https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-react-samples/react-router-sample/src/ui-components/SignInButton.jsx , the
`instance.loginPopup();`
should be
`instance.loginPopup(loginRequest);`
right?  That definitely seems closer, but when i try that i get
![admin](https://user-images.git

[2021-03-20 00:31] #3082 closed

[2021-03-20 01:19] jo-arroyo commented on #3253
@mdarefull Thanks for your feedback. We are aware this has been an issue for our customers, and a fix with updated documentation scheduled for the next release.

[2021-03-20 01:27] jo-arroyo commented on #3047
@rellis-of-rhindleton Thanks for the feedback. This seems to be a popular customer ask and we are currently working on updating our documentation with better guidance around this usage. I will link the PR when it is available.

We will also have a fix in the next release that should resolve the BrowserAuthError you are seeing.

[2021-03-20 04:12] wvffle opened #3270 "@azure/msal-node does not install with Node 15"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

## Error Message
[code]

## MSAL Configur

[2021-03-20 13:28] ccosmincc commented on #3208
@sameerag: I have the following use case: after the user does the login, I want to display/hide certain parts based on what he has defined in `roles`. Given your input that I can only get this information from a token request, does that mean I need to manually trigger a `getToken` operation as part of the login process only to get the roles that I can then add to the current account (something lik

[2021-03-20 20:04] paulpopiel opened #3273 "@azure/msal-browser PublicClientApplication - AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Other

## Description

I have written a Flutter wrapper for the

[2021-03-20 20:57] paulpopiel commented on #3273
Ok, some progress and new error message now.

This is what I get for staring at a screen for over 12hrs straight.

Accidentally had the wrong Uri scheme for the localhost, updated it from https to http in both the MSAL and AAD settings.

Now getting the following error:
[code]

[2021-03-20 21:03] derisen commented on #3273
@paulpopiel I'm not well versed in Flutter, but if your app is running on a browser with a dedicated redirect URI than you shouldn't check the "Allow public client flows", which are meant for native mobile & desktop apps usually.

The last error you got (AADSTS9002326) is because you have added both "Single-page application" and "Web" platforms in the **Authentication** blade with the same redirec

[2021-03-20 21:09] paulpopiel commented on #3273
Hi @derisen , regarding "Allow public client flows", if I turn it off/false then I definitely go back to getting the error:
[code]

Your point on AADSTS9002326 however - you are correct we do have both Web and SPA redirect URIs setup. However they are not the same. Would this still cause issues?

[2021-03-20 21:12] paulpopiel commented on #3273
NOTE: I dont really want to mess with the existing web redirects at this stage as this is a pre-existing app registration.
I have created a fresh app registration with just SPA redirects, however I get blocked by missing admin consent on the API permissions, so won't be able to proceed down that path until I get one of our admins to grant that.

[2021-03-20 21:15] derisen commented on #3273
@paulpopiel can you check [this guidance](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#localhost-exceptions) on URI differentiation? Its talks about localhost but should give insight nonetheless.

[2021-03-20 21:17] derisen commented on #3273
And I think AADSTS7000218 is because Azure AD thinks your app is a web app and web apps have client credentials (assertion or secret)

[2021-03-20 21:21] paulpopiel commented on #3273
Sorry, I should have elaborated - it is a web app, i.e. Flutter Web.

On the other hand thank you so much for that URI guidance link.

This was the issue! removed all localhost:XXXX Uris from the Web platform in AAD and everything now works!
Much much appreciated!

[2021-03-20 21:22] derisen commented on #3273
Cheers!

[2021-03-21 01:15] SpencerGreene commented on #3270
I have the same issue.  Not sure what missing information is requested but here is a very easy way to reproduce:

1. Make sure you're running node 15.x,
2. Create an empty directory ```mkdir testIssue; cd testIssue```
3. Run ```npm install @azure/msal-node```; or, install any other package that depends on it.

The rest of the fields in the template are all don't-cares; same issue will arise no mat

[2021-03-21 02:58] k-mehta opened #3274 "When can PublicClientApplication.getAllAccounts() return more than one account?"
I can't find any documentation which explains when PublicClientApplication.getAllAccounts() would return more than one account.

[2021-03-21 02:58] #3274 closed

[2021-03-21 03:00] k-mehta opened #3275 "When can PublicClientApplication.getAllAccounts() return more than one account?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I can't find any documentation which explains when PublicClientApplicaiton.getAllAccounts() wo

[2021-03-21 12:03] yoursnikhilsinha commented on #3228
@tnorling I see your point to update to version 2.x but what I read in the link your shared says its for only Single Page Application but ours is a web application not SPA, so do you think this would be a limitation and I may get into same situation or something else if we uppgrade.Also are you saying that Token expiry is 24 hours with version 2.x but with previous version it is 1 hour can you ple

[2021-03-22 04:15] OwenWheatley opened #3276 "acquireTokenSilent invalid graph API access token after fetching a token for your own API. clientID aud & scope is retained in the 2nd acquireTokenSilent call you make with [User.Read] scope"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React 17.0.1
- [ ] Other

## Description
So I have a react applicat

[2021-03-22 08:34] markholst commented on #3157
Hi @tnorling

Okay, I have finally managed to clear some time.  I have added a lot of logging, and updated to msal-browser@2.12.1.

I can no longer reproduce the problem in Chrome, Edge or Firefox.

I'm closing this issue, thanks for your assistance with this.

[2021-03-22 09:25] markholst commented on #3126
This one is interesting.

I've taken this sample - https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0 and I definitely cannot reproduce the problem.

This was tested using both the sample B2C configuration and my B2C configuration.

Watching it perform the login, it looks the like sequence of events is:
1. The pop-up is show

[2021-03-22 10:14] rontxi commented on #3247
I've found the issue, it's because we use Federation and we are not in ADFS 2019

[2021-03-22 10:14] #3247 closed

[2021-03-22 10:29] Crio1979 opened #3277 "ES5 with Angular / Ivy breaks build with getInternalNameOfClass() called on a non-ES5 class"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
When using Ivy in Angular (> 9) and tsconf

[2021-03-22 11:11] markholst commented on #3126
Yes, I believe my hunch is correct.

I have just modified my App.tsx and put in a statement:
`if (window.innerWidth === 483) return <></>;`

With this in place, I can no longer reproduce the issue.

Of course, looking for a better solution here.  Is there anything that I can reliably use to determine if the app is initialising in the pop-up?

[2021-03-22 14:33] svrooij commented on #3223
@tnorling I've make a small change that allows easy configuration by the developer and doesn't break anything to the current flows. This way it's totally opt-in to the developer and makes true multi-tenant applications with guest users a breeze.

I've never contributed to this library before, how do I proceed?

[2021-03-22 14:49] svrooij commented on #3275
It's possible to login with one account and then call `.loginPopup(...)` or `loginRedirect(...)` on the `msalObject`. That way it's possible to have multiple-accounts "logged-in" at the same time. Your application will (by default) only use the first account for all it's token stuff, but you can set change that by calling `setActiveAccount(accounts[1])`.

[2021-03-22 15:19] k-mehta commented on #3275
Thanks. How does this work with SSO? If the user logged in using different accounts on two other websites before coming to mine, would I get two accounts? Are they sorted in any order?

[2021-03-22 15:23] ozkoidi commented on #3085
Any progress on that sample with `PathLocationStrategy`?
I wonder how we can make it work without having these routes in `app-routing.module.ts`:

[code]

[2021-03-22 15:40] svrooij commented on #3275
You will not receive two accounts with sso. Only one and I'm not really sure, my guess that if you have multiple accounts logged in (and your application doesn't provide a `domainhint`) the user is presented with a screen to choose the correct account. After that (first loging succeeded) your application can choose to call `.login...(...)` for the second time. If the second time you add the `promp

[2021-03-22 16:25] bt-88 opened #3280 "msal-browser: interaction_in_progress error when user closes AAD page and then attempts to revisit"
## Library
- [x] `@azure/msal-browser@2.12.0`

## Framework
- [x] React 17

## Description
Our problem is _identical_ to issue #2149 (which was solved in `2.0.2`).

**Reproduction steps**
- The user goes to our page.
- He is not signed in, so the `msal` redirects him.
- The AAD page is shown (Signing in...).
- The user closes the tab prematurely.
- The user opens a new page and attempts to go to o

[2021-03-22 16:38] tnorling commented on #3280
@bt-88 Can you try upgrading to version 2.12.1? This includes a patch affecting clearing of cookies that can result in this behavior.

[2021-03-22 17:04] tnorling commented on #3270
`msal-node` only officially supports even numbered stable LTS releases as documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node#node-version-support).

If using yarn you can bypass this error using the  `--ignore-engines` flag
If using npm you can bypass this error by adding `engine-strict=false` to your .npmrc file

[2021-03-22 17:06] tnorling commented on #3273
Closing as resolved.

[2021-03-22 17:06] #3273 closed

[2021-03-22 17:19] tnorling commented on #3275
Thanks for raising this. We've added an item to our backlog to improve the documentation around this. Most of what has been discussed here is accurate but I'd like to clear a few things up:

This is not accurate. MSAL does not make assumptions about what account to use. It will either use the account passed in to the API or the active account that was previously set by calling `setActiveAccount`.

[2021-03-22 17:29] tnorling commented on #3228
@yoursnikhilsinha

Both msal 1.x and 2.x are only for Single Page Applications. What we mean by that is that your application does not have a server component. If your application does have a server component you should use a server side library for auth.

In both 1.x and 2.x, access token expiry is 1 hour. In version 2 we also use a refresh token that has a 24 hour expiry and can be used to obtai

[2021-03-22 17:29] #3157 closed

[2021-03-22 17:34] tnorling commented on #3126
@markholst What we typically recommend is that you set your `redirectUri` to a blank page when using the popup or silent flows. Can you try that?

[2021-03-22 17:45] tnorling commented on #3223
@svrooij Please see our contributing doc [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/contributing.md#creating-a-pr) and let me know if you have any questions.

[2021-03-22 18:14] tnorling commented on #3276
@OwenWheatley Do you get this same behavior if you define a custom scope on your app registration instead of using the `/.default` scope?

[2021-03-22 18:18] jacknewberry commented on #2884
If I understand your issue, I think I have solved this by saving the promise returned from getTokenSilently and returning this promise to the calling code rather than calling acquireTokenSilent again.

The issue presented to me as multiple "Cancelled" network requests in the Chrome dev console.

Something like:
[code]

I agree it would be nicer for the library to do this, especially to take into a

[2021-03-22 19:34] jakehockey10 opened #3282 "Question about how to handle when the user is offline"
Hello,

We are hoping to convert our angular application into a PWA so that we can offer some of the application up to a user that loses internet connection.  The more I read about how authentication works, the more my guess is confirmed that without internet, you really can't trust who the user is in the application.

But I'd like to ask the question: will this library let me have certain feature

[2021-03-22 19:34] #3282 closed

[2021-03-22 19:37] jakehockey10 opened #3283 "Question about PWA when user is offline"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hello,

We are hoping to convert our angular application into a PWA so that we can offer some

[2021-03-22 20:23] tnorling commented on #3254
The admin in this case isn't the person who owns the app registration but rather the admin of the organization. Is this app registered in the first party portal by chance?

[2021-03-22 20:33] tnorling commented on #3036
Looks like this is due to a "feature" in Chrome. [See here](https://groups.google.com/a/chromium.org/g/blink-dev/c/T8d4_BRb2xQ/m/WSdOiOFcBAAJ). Essentially what's happening is that because you are redirected from signin policy to your app and then to the forgot password policy without any user interaction, Chrome is then skipping the app in the history when you hit the back button, sending you dir

[2021-03-22 20:43] vishnu4 commented on #3254
It isn't, should it be?  I do work in Microsoft but didn't know if all app registrations must be registered in first party portal.  If that's the case, then i will definitely go there!

[2021-03-22 21:58] jasonnutter commented on #3283
Correct, if an app invokes `acquireTokenSilent` and there are no valid tokens in the cache, MSAL will attempt to silently acquire a new token.

For MSAL Angular when using the interceptor, this is correct (assuming you aren't making any manual calls to `acquireTokenSilent`. Tokens will only be renewed as a result of invoking `acquireTokenSilent`.

In MSAL Angular v1, the MSAL Guard [will make a ca

[2021-03-22 23:10] tnorling commented on #3232
Closing, please open a new issue if you run into issues with `msal-react`. Thanks!

[2021-03-22 23:10] #3232 closed

[2021-03-22 23:24] tnorling commented on #3179
@brugh Is this still an issue? The network traces provided were incomplete, if you still need assistance please refer to my email, otherwise let us know if this can be closed? Thanks!

[2021-03-22 23:56] #3254 closed

[2021-03-23 00:24] markholst commented on #3126
Thankyou Thomas, I can confirm that using an alternative redirectUri does the trick.

In my App.tsx I can simply assert on the route early and not render any components.  It's a little indirect, but effective.  I am no longer able to reproduce the issue described in this ticket.  You are free to close this ticket.

[code]

I am also finding silent sign-on is much quicker and more reliable, looking

[2021-03-23 00:32] #3110 closed

[2021-03-23 00:32] #3108 closed

[2021-03-23 00:32] #3086 closed

[2021-03-23 00:32] #3066 closed

[2021-03-23 00:32] #3063 closed

[2021-03-23 00:32] #3056 closed

[2021-03-23 00:32] #3053 closed

[2021-03-23 02:31] OwenWheatley commented on #3276
Thanks for such a speedy response, appreciate it!

Yes the behaviour is the same when changing to use a custom scope. I did find that I made an error in forgetting to prepend the *api://* to my clientID for the scope (oops my bad, it was late!).

However even with amending this what I'm seeing is that my first request for a graph API token will first generate a correct token. But then when I gener

[2021-03-23 07:26] bt-88 commented on #3280
@tnorling Which patch exactly?
In the meantime we will try this, but I'm not hopefull since the [history](https://github.com/AzureAD/microsoft-authentication-library-for-js/commits/ea382c2986ee4d44571d5e672bcfecf81162ec27/lib/msal-browser/src/app/ClientApplication.ts) shows that nothing has changed since that last commit (which might've caused regression). I will report back.

[2021-03-23 10:35] jacknewberry commented on #2451
Could you consider adding some more comprehensive documentation about scopes to the docs for this library.

There seem to be some subtleties in how tokens are retrieved and cached, what scopes are used by default, and how the Azure AD responds.
At least one of these is the cause of this issue being opened.

Some issues include:
- several scopes appear to be added by default to every request (`"ope

[2021-03-23 10:56] maacaro opened #3284 "single sign out frma a SPA and ,net app"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

is there a way that I can sign out on a SPA and also from a .net app?
this is because we are m

[2021-03-23 11:13] tasb opened #3285 "OAuth Browser Based Apps"
## Library
- [ X ] `@azure/msal-browser@2.10.0`

## Description
Customer asked about roadmap for implementation of https://datatracker.ietf.org/doc/draft-ietf-oauth-browser-based-apps/
since they want to start to use MSAL for internal and external applications and keeping the tokens on browser storage can be a security concern for them.
## Source

- [ ] Internal (Microsoft)
- [ X ] Customer reques

[2021-03-23 12:00] brugh commented on #3179
sorry, had another project that needed attention.
the issue is still very much a problem. I will try to capture a complete trace this or next week.

[2021-03-23 15:47] k-mehta opened #3286 "PublicClientApplication.logout should be able to log the user out without interaction"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When the logout function is called, the user is redirected to a page which asks them to select

[2021-03-23 16:06] tnorling commented on #3276
@OwenWheatley It looks like you're going to the network for each of these, can you send me a fiddler trace to the email on my profile? I'm also curious why you're getting a cache miss here but let's tackle that once we determine why the server is sending you back an unexpected token.

[2021-03-23 16:08] tnorling commented on #3280
@bt-88 PR #3129 fixed an issue that prevented cookies from being cleared in the scenario you describe. It was included in version 2.12.1

[2021-03-23 16:16] tnorling commented on #3284
@maacaro You can register a "Front Channel Logout Url" on each of your app registrations you would like to be signed out. When one app calls logout, AAD will check which applications that user is signed in to and open an iframe to each corresponding front channel logout url. You'll need to ensure that url that you register calls the relevant logout APIs to clear local cache.

[2021-03-23 16:19] jakehockey10 commented on #3283
@jasonnutter thanks for the response!  I've looked and I can't find any use of `acquireTokenSilent` that we call explicitly.  When you say that MSAL Angular v2 does not make a network request when the ID token has expired, what does it do instead?

I'm just trying to decide whether it is worth doing my testing while focusing on v1 or v2.  I know v2 has been in beta for a bit now, would you suggest

[2021-03-23 16:23] jakehockey10 commented on #3283
I'm also trying to stay up to date with the latest version of angular in general.  Is there any danger in forcing my update from 11.0.0 to 11.2.6 when I'm using v1 of this library?  I know that 9 is the latest officially supported version of Angular, but is this reason to try moving to v2 of this library while in beta?  Our app is in production right now, so I'm a little lost on which way to go on

[2021-03-23 16:24] tnorling commented on #3286
@k-mehta The account object you provide to the logout function is used to clear local cache, it is not used to tell the server who to sign out. In order to sign the user out on the server the redirect to the sign-out screen is required. Without this redirect your user could sign back into your application without providing credentials again as their server session would remain active. There is cur

[2021-03-23 16:53] tnorling commented on #3285
Following up offline. The doc in question is referring to switching from the Implicit Grant Flow to the Authorization Code Flow with PKCE. This can be achieved today by using `msal-browser`, documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser)

[2021-03-23 16:59] tnorling commented on #3126
@markholst To be quite honest, I'm not sure it is explicitly documented anywhere for msal-browser. This is something we should add, I'll make a note to add this soon. Generally our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md) is a good place to find tips as well as our [docs](https://github.com/AzureAD/microsoft-authentication-library-f

[2021-03-23 16:59] #3126 closed

[2021-03-23 17:38] tnorling commented on #2451
@jacknewberry Thanks for the feedback! We certainly understand documentation can always be improved. In this case you may find the following docs of interest:

- [All about scopes](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md)
- [Working with B2C](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev

[2021-03-23 19:21] OwenWheatley commented on #3276
@tnorling Thanks, I've sent you an email :)

[2021-03-23 21:01] tnorling commented on #3276
@OwenWheatley The network logs show the graph token requests as only requesting scopes `openid` and `profile`, not `User.Read`. This is likely the problem. I'm noticing in your graph API call code you have the param `scope` instead of `scopes` which is why `User.Read` is dropped from the request. Please fix that and give it another try.

[2021-03-23 22:15] tnorling commented on #3156
@k290 After further internal discussion it was determined this should be behaving as designed. Sign-in frequency does not alter token lifetimes but rather when your access token expires and you try to use the refresh token to obtain a new access token the sign-in frequency will be checked and the request will be rejected if you need to reauthenticate.

In other words, once you have an access token

[2021-03-23 22:25] OwenWheatley commented on #3276
Ahh I'm such a fool, how could I have missed that! I have no idea why I wrote *scope* instead of *scopes* just for the graph API and how I didn't even see the missing 's'!. I'm confused as to why it gave me a token at all then :S more so why it worked with graph API to!

What's weird though is that tokenResponse.account returns as null when I use *scopes* yet returns with my username when I use *s

[2021-03-23 22:25] #3276 closed

[2021-03-23 22:46] tnorling commented on #3276
AAD interprets OIDC scopes as graph scopes if they come in on their own (I agree this is confusing and controversial, but that's a separate discussion). I think the reason it didn't work the 2nd time is that, with the absence of actual resource scopes, AAD exchanged the refresh token for an access token with the scopes that were used when the refresh token was obtained (i.e. your API scope)

This

[2021-03-23 22:48] diberry opened #3289 "How to write e2e tests for app with Auth integration?"
Is there any samples that include e2e or integration tests that include the authentication feature? How do I test my apps that use MS auth?

[2021-03-23 22:48] #3289 closed

[2021-03-24 00:32] #3120 closed

[2021-03-24 00:32] #2975 closed

[2021-03-24 06:43] k290 commented on #3156
@tnorling  I am seeing different behavior. After 1 hour  has passed the request using the refresh token is successful and a new access token is provided to the client.

[2021-03-24 07:12] sameerag commented on #3270
Added in [FAQs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md) - #3290

[2021-03-24 07:59] jonhue commented on #3155
@tnorling sorry for the late response! I just got around migrating to v2 and as far as I can see, all works well! Thank you for helping out!

[2021-03-24 07:59] #3155 closed

[2021-03-24 08:46] ozkoidi commented on #3192
If you are going to modify the MsalInterceptor, could you change the type of `protectedResourceMap` on `MsalInterceptorConfiguration` from `Map<string, Array<string>>` to `Map<string, Array<string> | null>` to support `null `as stated on  [the documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/initialization.md#get-tokens-for-we

[2021-03-24 12:07] francesco-clementi-92 opened #3291 "Invalid Token: Error 431 - Request Header Fields Too Large"
## Library
-  `@azure/msal-browser@2.12.1`
-  `@azure/msal-react@1.0.0-beta.0`

## Framework
- [x] React

## Description
The login process seems to working, but each request made to the backend for one of our user is getting error 431 Request Header Fields Too Large.

## MSAL Configuration
const config = {
    auth: {
        authority:
          "https://login.microsoftonline.com/yyyyyyyyyyyyyyyy

[2021-03-24 13:54] sidyes opened #3292 "After login user gets initially redirected to /code"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
After a successful login, I get redirected

[2021-03-24 15:31] jasonnutter commented on #3192
This is a good change, cc: @jo-arroyo

[2021-03-24 16:16] sameerag commented on #3291
@francesco-clementi-92 Can you please give us more details here? If you can send us the header that is causing this issue, we can try root cause it.

[2021-03-24 16:27] tnorling commented on #3156
@k290 Can you email me a fiddler trace of the initial token acquisition and the unexpected successful renewal? I'll pass it along to our server folks so they can take a look.

[2021-03-24 16:42] k290 commented on #3156
@tnorling  absolutely. You'll receive the email within the next few days and I'll add another comment here once it is sent.

[2021-03-24 17:11] Marcel0024 opened #3293 "/#code becomes anchor after redirect"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have a SPA with msal guards on all routes.
After successfully login the user gets redirected

[2021-03-24 17:14] francesco-clementi-92 commented on #3291
I found the problem, the token is not correct (I omitted part of the token for security reason, ma I added the numbers of characters removed):

[code]
At the moment I can't verify if is msal.acquireTokenSilent that is returning this token, but I'm using axios and this is the part on my code that set the token:
`const setAuthToken = token => {
  axios.defaults.params = {}
  axios.defaults.headers["

[2021-03-24 17:20] francesco-clementi-92 commented on #3291
The path of characters in the token is not repeated, so I assume is acquireTokenSilent that is returning this huge and invalid token

[2021-03-24 18:45] #3253 closed

[2021-03-24 19:01] jo-arroyo commented on #3293
@Marcel0024 Is the `MsalGuard` set on the home route too? Do you have the `MsalRedirectComponent` bootstrapped?

If your home page has the MsalGuard, when redirecting back to your home page after signing in, unless you explicitly call `handleRedirectObservable`, the returning redirect is not being handled. We recommend having the `MsalRedirectComponent` bootstrapped in your app to handle these red

[2021-03-24 20:44] #2563 closed

[2021-03-24 20:44] #2626 closed

[2021-03-24 20:44] #3111 closed

[2021-03-24 20:44] #3286 closed

[2021-03-24 20:48] #3201 closed

[2021-03-24 21:07] hectormmg commented on #2894
@ammritt apologies for the delay. I'm updating the sample to use a Popup to load the B2C login screen, given that the main window shouldn't allow the execution of external scripts. It seems for now doing auth in a second window (instead of the main application window through redirects as the sample does now) is going to be the recommended usage pattern for B2C. I'll keep investigating to make sure

[2021-03-24 21:45] #3160 closed

[2021-03-24 22:08] #3233 closed

[2021-03-24 22:16] sameerag commented on #2600
@ben-sf @wodeleeway We have been considering something like [this](https://github.com/AzureAD/passport-azure-ad/pull/435) as @hectormmg  mentioned above. We haven't yet started the work, this is slated to be picked up soon and we will update here once we have an active PR. Apologies for the wait, please note that we are tracking this.

[2021-03-24 22:50] #3047 closed

[2021-03-24 22:50] #3085 closed

[2021-03-24 22:55] Marcel0024 commented on #3293
@jo-arroyo Thanks for the reply!

I added this for further debugging:

`msalBroadcast.msalSubject$.subscribe((log) => console.log(log));`

the redirect does seem to get hit:

![image](https://user-images.githubusercontent.com/14852157/112393296-23c93180-8cfb-11eb-8c03-b9056ae02578.png)

I added the `MsalRedirectComponent` and the problem still persists.

So `MsalGuard` is definitely set on home, i

[2021-03-24 23:48] jo-arroyo commented on #3292
@sidyes When using hash routing, we recommend adding a `code` route to your `app-routing.module.ts`, as sometimes Angular tries to route to `/code=` before MSAL has had a chance to handle the redirect, as you have experienced. Adding the `code` route prevents it from ending up in you `**` route. You may also wish to add an `error` or `state` route for the same reason.

Please see our samples [here

[2021-03-24 23:57] jo-arroyo commented on #3047
@rellis-of-rhindleton @sidyes Thanks again for your feedback. We have just released a new version of `@azure/msal-angular` with updated guidance and samples regarding login on app load for path and hash routing, hope this helps. If you are still experiencing issues with this, please try out the new versions and open a new issue with your configuration and usage.

[2021-03-25 00:00] jo-arroyo commented on #3085
@eluchsinger @shadyabouelmakarem @ozkoidi  Thanks again for your feedback. We have just released a new version of @azure/msal-angular with updated guidance for path and hash routing, and the sample [Angular10-sample-app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples) now uses the PathLocationStrategy. There have also been other changes

[2021-03-25 00:01] jo-arroyo commented on #3293
@Marcel0024 We have just released a new version of `@azure/msal-angular` with changes that may help. Please upgrade with `npm install @azure/msal-angular@latest and @azure/msal-browser@latest`, and let me know if you are still experiencing issues.

[2021-03-25 00:06] rellis-of-rhindleton commented on #3047
/smacksownhead

Of course. Makes sense now. I was doing the right thing, then, but the hard way.  Thanks.

[2021-03-25 00:26] jasonnutter commented on #3283
Sorry, to be clear, MSAL Angular v1 invokes `acquireTokenSilent` with the client id scope in the MSAL Guard, which is how an ID token is acquired in MSAL.js v1.

The MSAL Guard for MSAL Angular v2 only looks at the cached accounts, and does not call acquireTokenSilent (and thus will not potentially make a network request).

And yes, we would recommend moving to MSAL Angular v2, especially if you a

[2021-03-25 01:55] JimmyLS opened #3299 "Add SecureCookies config option for MSAL.js 1.x.x"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.4.8`

## Description

Just want to check if there's any plan to add "SecureCookies" option as well in MSAL.js 1.x.x (implicit flow)? Look like currently it's only available now for MSAL-browser (MSAL 2.x.x) library.

![image](https://user-images.githubusercontent.com/25541899/112406780-c27f7d80-8d4f-11eb-9e69-b6207bb3ce03.png)

## Source

- [x] Cust

[2021-03-25 01:59] #3299 closed

[2021-03-25 02:00] JimmyLS commented on #3299
delete

[2021-03-25 02:06] thoo1 commented on #3210
I found the same and am trying to open a PR to fix tree-shaking

I found this: https://github.com/rollup/rollup/issues/2807#issuecomment-484798155
looks like if as this library targets es5 rollup isn't able to tree shake properly

Not really familiar with all the different compilers (ts, rollup, babel) so I don't know the exact fix yet but hope this helps a bit

[2021-03-25 04:20] jakehockey10 commented on #3283
Thanks for the reply and clarification and all the hard work. I'll give v2 a shot and let you know how it goes.

[2021-03-25 05:36] sameerag commented on #3270
Apologies, we also support current `node` version which is 15 and I added the support. Please note though we will always stick to supporting only the `Maintenance, Active and Current` versions listed [here](https://nodejs.org/en/about/releases/) and will stop supporting any versions that are discontinued.

[2021-03-25 08:13] francesco-clementi-92 commented on #3291
This my code:
App.js:
`import 'react-app-polyfill/stable'
import React from "react"
import ReactDOM from "react-dom"
import { unregister } from "./registerServiceWorker"
import { HashRouter } from "react-router-dom"
import Main from "./Pages/Index"
import Unauthorized from "./Pages/Index/unauthorized"
import ServerError from "./Pages/Index/serverError"
import configureStore from "./config/configur

[2021-03-25 08:36] francesco-clementi-92 commented on #3291
I confirm that the issue is only with one of our customer and it seems that he recently changed the password of the account.

[2021-03-25 10:19] sidyes commented on #3292
Thanks for this hint, I will use this. But is there anything planned to better support hash routing in the future instead of defining all possible routes?

[2021-03-25 10:22] Marcel0024 commented on #3293
Managed to reproduce this on a new project:

https://github.com/Marcel0024/MsalTest

Change the client id and url on https://github.com/Marcel0024/MsalTest/blob/master/src/core/user/user.module.ts#L12
And add the proper callback url on Azure AD

after starting the project you get immediately redirect to MS -> log in -> redirect back to app ->  Successfully logged in -> `/#code=123...` in the url

[2021-03-25 10:33] sidyes commented on #3292
@jo-arroyo
Short Update:
I secured each route with the `MsalGuard`. Thus, when defining the routes for `code` (and `error` and `state`) I will end up in an endless loop.
So what is the best way to enable automated login (securing all routes with the provided guard) as well as preventing the visible redirects to for example `/code`?

Your solution does only work when the provided component for thes

[2021-03-25 12:56] RomaRathi opened #3301 "Uncaught (in promise): BrowserAuthError: interaction_in_progress:"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

## Source

- [x] Internal (Microsoft)
- [ ] Customer request

[2021-03-25 12:57] RomaRathi commented on #3301
Navigated to http://localhost:3000/
jquery-migrate-3.0.0.min.js:2 JQMIGRATE: Migrate is installed, version 3.0.0
[Violation] Forced reflow while executing JavaScript took 42ms
app.module.ts:82 [Thu, 25 Mar 2021 12:52:28 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:loginStart
error-page.service.ts:30 Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Inte

[2021-03-25 12:59] RomaRathi commented on #3301
Where exactly to call handleRedirectPromise() before login ?

[2021-03-25 13:30] ozkoidi opened #3302 "MsalInterceptor to aquire access token silently"
## Library

- [x] `@azure/msal-browser@2.x.x` (2.13.0)
- [x] `@azure/msal-angular@2.x.x` (2.0.0-beta.2)

## Description

The documentation for [acquiring an access token](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/acquire-token.md#acquiring-an-access-token) says:

I agree with that best practice, and I wonder why the `MsalInterceptorConfigurat

[2021-03-25 14:23] ozkoidi commented on #3302
My bad, after checking the [source code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/070f3435954cb264a55b012adae788f8eab8d46b/lib/msal-angular/src/msal.interceptor.ts#L55) it seems that is indeed the default behavior.

[2021-03-25 14:23] #3302 closed

[2021-03-25 15:14] DanielGorlo opened #3303 "grant 70000 on the same scopes"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description

## Error Message
AADSTS70000: The request

[2021-03-25 15:20] DanielGorlo opened #3304 "grant 70000 when trying to login as user"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description
I'm trying to sign in as an Outlook user a

[2021-03-25 15:56] tnorling commented on #3291
@francesco-clementi-92 Can you look at the network trace and determine if the correct token is being returned? You can email me the network trace if you don't know what to look for.

Generally speaking we can't offer support on issues with external APIs but if you determine MSAL is returning an incorrect token that's something we can take a look at.

[2021-03-25 16:37] tnorling commented on #3301
@RomaRathi Please see our [error doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/errors.md#interaction_in_progress) on this error. You can also check out our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples) for more end-to-end guidance.

[2021-03-25 17:03] Xecuter34 opened #3305 "msal-browser with Electron/React"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

So I am trying to currently get this working with Electron and have followed the following exa

[2021-03-25 17:09] mdarefull opened #3306 "@azure/msal-angular - Do not force '/auth' route when the whole application must be protected"
## Library

- @azure/msal-browser": "^2.13.0"
- @azure/msal-angular": "^2.0.0-beta.2",

## Framework

- [ X] Angular
- [ ] React
- [ ] Other

## Description
In the documentation for [log users in when they hit the application](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#how-do-i-log-users-in-when-they-hit-the-application) for the `PathLo

[2021-03-25 17:20] tnorling commented on #3305
@Xecuter34 `msal-browser` is for browser based SPA apps and does not support Electron. To authenticate an Electron app you should use `msal-node` instead and can find our Electron sample app [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ElectronTestApp)

[2021-03-25 17:36] jo-arroyo commented on #3042
@noelmccrory Thanks for your feedback. Having the `code` path point to a component which does not trigger any interaction is our recommendation, and I will update the docs accordingly.

[2021-03-25 17:50] francesco-clementi-92 commented on #3291
@tnorling as you can see, the token that I posted is not a valid token and has too many characters which are causing error 431.
Can't post the network trace at the moment.

[2021-03-25 17:56] jo-arroyo commented on #3180
@BozidarPolic We have made some recent updates to our library which should better support the path routing strategy. Could you please upgrade using `npm install @azure/msal-angular@latest @azure/msal-browser@latest` and let us know if you are still seeing these issues?

[2021-03-25 18:08] tnorling commented on #3291
@francesco-clementi-92 Without a network trace or a reproduction we cannot determine if this is an issue with the service, with the library or something else.

[2021-03-25 18:12] francesco-clementi-92 commented on #3291
@tnorling is there any possibility that acquireTokenSilent is generating a completely wrong and bad formatted token?

[2021-03-25 18:24] tnorling commented on #3291
@francesco-clementi-92 `acquireTokenSilent` does not generate tokens. It requests tokens from the AAD service and returns whatever AAD sends back. This is why network traces would be helpful. If we can determine AAD is sending back a bad token I can take that to the server team and ask why. If AAD is sending back a valid token then we need to understand how and why it gets into the bad state.

[2021-03-25 19:59] sameerag commented on #3304
@DanielGorlo What is your app registered as?  We currently do not support a hybrid flow where code can be accessed at front end and token retrieved at the backend.

[2021-03-25 20:13] sameerag commented on #2827
@samuelkubai can you please prioritize this?

[2021-03-25 20:22] jakehockey10 commented on #3283
I'm having a bit of trouble converting to the newest version (v1 -> v2).  I'm getting an error I've never gotten before: ERROR ServerError: unauthorized_client: AADB2C90058: The provided application is not configured to allow public clients.

In order to see this error, I had to add a route for {path: 'error', redirectTo: '' } in my routes in order for this error to appear long enough to read it.

[2021-03-25 22:19] HannahZhuSWE opened #3308 "msal-browser-samples/TestingSample failing testing sample"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.0.1`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description
After following the instructions to set up

[2021-03-25 22:23] diberry commented on #3308
Watching this...

[2021-03-25 23:01] tnorling commented on #3308
@HannahZhuSWE Is there any error thrown by `acquireTokenByUsernamePassword`? Can you check your app registration and make sure "Allow Public Client Flows" is set to "Yes"?

[2021-03-25 23:14] tnorling commented on #3181
Closing as we assume this has been resolved. Please open a new issue if registering the `redirectUri` as type "SPA" does not resolve. Thanks!

[2021-03-25 23:14] #3181 closed

[2021-03-26 00:13] #2880 closed

[2021-03-26 03:30] hpsin commented on #3304
The problem is that you're not requesting openid and profile. Your msal code on the backend is silently adding it to the requested scopes, causing the front end and backend to be misaligned in what is requested. Add openid and profile to the front-end and it should work.

[2021-03-26 03:31] sameerag commented on #3304
Thanks @hpsin! @DanielGorlo let us know how this goes.

[2021-03-26 03:36] sameerag commented on #3303
Isn't this the same as #3304 ? Please confirm and let me know, will close this

[2021-03-26 04:10] HannahZhuSWE commented on #3308
I changed Allow Public Client Flows to yes but it still isn't working. I missed this earlier but the app is throwing the following error:
`InteractionRequiredAuthError: invalid_grant: AADSTS50079: Due to a configuration change made by your administrator, or because you moved to a new location, you must enroll in multi-factor authentication to access '00000003-0000-0000-c000-000000000000'`

[2021-03-26 05:11] collaorodrigo7 commented on #3260
Thank you to everyone that share in this issue!. I also waster a couple of hours on this!
I just want to add something I noticed, from your client you must pass the `api://app-id/read` scope (after you added it on azure, I put a screenshot at the end in case it helps anyone having problems setting it up), and make sure you do NOT pass the `user.read` from graph or any other scope from graph becaus

[2021-03-26 14:41] danieljaguiar commented on #3154
I am trying to implement [Microsoft Graph Client](https://www.npmjs.com/package/@microsoft/microsoft-graph-client).

If you check Microsoft Graph Client, they require the MSAL to have `getAccount` exposed. Check their code [here](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a95a762b9b7f66fb843aa1e134014f4214bc093a/src/ImplicitMSALAuthenticationProvider.ts#L71):

[code]

Please not

[2021-03-26 15:20] azuregurus opened #3310 "SSO Silent not picking up the users session with B2C custom policy"
I've built a B2C custom policy using the starter pack and the instructions for multi-tenant AAD support. The policy works fine when I use it in my SPA application. However, when I want to navigate to another application from the same tenant in the same tab I'm always redirected to the B2C login page (I use the ssoSilent method to get the user session, and the the loginRedirect method if the sessio

[2021-03-26 15:20] #3310 closed

[2021-03-26 15:23] k290 opened #3311 "fromCache is incorrect when using .default scope"
## Library

- [ x]`@azure/msal-browser@2.13.0`

## Framework

- [ x] Angular 8

## Description

When using authScopes as follows:
[code]
After an sign-in redirect, when control returns to our application's javascript, fromCache correctly returns false.

However, for onBehalfFlow one has to alter the above scope to be as follows (remove the graph scopes, and change Api.Access to .default):

[code]

[2021-03-26 16:26] tnorling commented on #3308
@HannahZhuSWE The UsernamePassword flow will not work on accounts that require MFA. You can find a more detailed list of requirements for using this flow [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc)

[2021-03-26 16:30] HannahZhuSWE commented on #3308
Is there a way to remove the requirement for 2FA?

[2021-03-26 16:32] Madhufuture opened #3314 "[MSAL Angular] Error thrown while acquiring the token"
## Library

- [ ] `msal@^1.4.1`
- [ ] `@azure/msal-angular@1.0.0`

## Framework

- [ ] Angular 9
- [ ] `@angular/cli:^9.1.14`
- [ ] `@angular/common:^9.1.13`
- [ ] `@angular/compiler:^9.1.13`
- [ ] `@angular/compiler-cli:^9.1.13`

## Description
We have updated our SPA app ng version from ng8 to ng9. We were using below libraries mentioned above in ng8.
After upgrading the ng version, no other cod

[2021-03-26 16:44] tnorling commented on #3311
@k290 Can you please clarify what APIs you are calling? A snippet of sample code would help me better understand the scenario you're describing.

From the steps you describe, it sounds like after you return from the redirect you're calling `acquireTokenSilent`, which is expected to return `fromCache: true` as the tokens were just acquired from the redirect - `acquireTokenSilent` would then be able

[2021-03-26 16:54] tnorling commented on #3308
@HannahZhuSWE It's up to the administrator of the tenant which your account belongs to. If you have your own tenant you can try creating a new user, but I'm unfortunately not familiar with the specific configurations

[2021-03-26 16:59] HannahZhuSWE commented on #3308
Oh ok I see, thank you!

[2021-03-26 16:59] #3308 closed

[2021-03-26 17:05] k290 commented on #3311
Apologies,  you're right. There seems to be something else going on when we switch to an onbehalf of flow. I will reopen a new ticket once we drill down closer to the cause of the issue

[2021-03-26 17:05] #3311 closed

[2021-03-26 17:14] tnorling commented on #3154
@danieljaguiar Looks like the Microsoft Graph Client uses the `msal-core` library as described in their readme [here](https://github.com/microsoftgraph/msgraph-sdk-javascript#2-authenticate-for-the-microsoft-graph-service). `msal-core` is different library and is intended for SPA applications. I would recommend opening an issue on Microsoft Graph Client to find out if they have a different version

[2021-03-26 18:05] bladmorenoacn opened #3316 "ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint"
This is the stack trace

ERROR Error: Uncaught (in promise): ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint
ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint
    at ClientAuthError.AuthError [as constructor] (AuthError.js:22)
    at new ClientAuthError (ClientAuthError.js:100)
    at Fu

[2021-03-26 18:05] #3316 closed

[2021-03-26 18:14] bladmorenoacn opened #3317 "ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint when loading values from http"
## Library

- [X] `msal@1.4.4`
- [X] `@azure/msal-angular@^1.1.2`

## Framework
- [X] Angular 11
- [ ] React
- [ ] Other

## Description

## Error Message
ERROR Error: Uncaught (in promise): ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint
ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint

[2021-03-26 18:56] k290 commented on #3156
Hi @tnorling  I have sent you an email titled "CAS not taking effect on PKCE MSAL app". It contains the requested fiddler traces as well as additional info that could be useful.

[2021-03-26 20:55] azuregurus opened #3318 "Token acquisition in iframe failed due to timeout - SSO Silent with B2C custom policy"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Other

## Description
I've built a B2C custom policy using the s

[2021-03-26 22:01] bladmorenoacn commented on #3317
I was able to detect the exact line where the error is happening

UserAgentApplication.js Line 557 - where this code tries to adquire the Account it come null, therefore the error is being thrown, it does work when I adquire the values from an static file and not from a service where the Access token has to be added to the Headers, but it does not if I try to do a request from the APP_INITIALIZER

[2021-03-26 22:42] jasonnutter commented on #3317
@bladmorenoacn Please see this issue for details on how to use APP_INITIALIZER with MSAL Angular v1: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403

Try that out and let us know if you still have questions, thanks!

[2021-03-26 22:50] jasonnutter commented on #3317
I believe the issue is that if you try to use the injected `HttpClient` before MSAL has been initialized, you will get this error (because the MSAL Interceptor will attempt to call acquireTokenSilent). Instead, you should instantiate a separate httpclient (that does not use the interceptors) to load your configuration.

[2021-03-26 22:59] bladmorenoacn commented on #3317
I am loading this values with no issues, the issue comes when I try to do a request after the MSAL is initialized,  I am not using exactly your solution, but it works.
Just to make sure 100%, I will try to get as close as possible to your solution on Monday to see if that helps.

Thank you

________________________________
From: Jason Nutter ***@***.***>
Sent: Friday, March 26, 2021 5:50:48 PM
To:

[2021-03-27 00:12] #3092 closed

[2021-03-27 00:12] #3090 closed

[2021-03-27 00:12] #3077 closed

[2021-03-27 00:12] #3023 closed

[2021-03-27 02:44] bladmorenoacn opened #3321 "ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint when doing a nested http request"
## Library

- [X] `msal@1.4.4`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.1.2`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description
Aftert to get and configure the MSAL from the base configuration

[2021-03-27 16:02] RomaRathi commented on #3301
Thanks for the help. I have solved the issue by calling the handleRedirectPromise method on the correct place before loginRedirect.

[2021-03-27 16:02] #3301 closed

[2021-03-27 16:04] richban commented on #2828
I would like to request this feature as well! I would like to use `redis` for my use case.

[2021-03-27 16:07] RomaRathi opened #3322 "Access to fetch at 'https://login.microsoftonline.com/common/oauth2/v2.0/token' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled."
I have already migrated the rediect uri which is http://localhost:3000 to msal 2js. what else is required in this?
Also i have set the headers in iis to Access-Control-Allow-Origin : *

[2021-03-27 16:08] #3322 closed

[2021-03-28 00:12] #3125 closed

[2021-03-28 20:28] MarcAnnous opened #3323 "msal-react useMsal hook documentation example destructures array instead of object properties"
## Library
- [X] `@azure/msal-react@1.0.0-beta.1`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [X] README file
- [ ] Other (please fill in)
- [ ] Documentation does not exist

## Description

The [useMsal hook documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook) has this minor bug.

[2021-03-29 08:02] iamstiil opened #3324 "handleRedirectStart is not resolved"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.13.0`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-beta.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React (Next.js)
- [ ] Other

## Description
I'm having an issue that

[2021-03-29 08:46] DanielGorlo commented on #3303
Yes, it is.

On Fri, Mar 26, 2021 at 6:36 AM Sameera Gajjarapu ***@***.***>
wrote:

--
[image: linkedin] <https://www.linkedin.com/company/tigon-recruiter>
Daniel Gorlovetsky

CEO

Tigon Recruiter
+972-50-749-6556
www.tigon-recruiter.com

[2021-03-29 08:58] BozidarPolic commented on #3180
@jo-arroyo Can confirm that by using latest msal-angular and msal-browser ( "@azure/msal-angular 2.0.0-beta.2",
    "@azure/msal-browser 2.13.0",) and following https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#pathlocationstrategy
login failure is now being raised.

[2021-03-29 08:58] #3180 closed

[2021-03-29 09:08] DanielGorlo commented on #3304
So my next step would be to store the tokens on the backend and refresh the token occasionally.

I see there's no refreshToken, which doesn't allow me to authenticate as the user silently, without asking them to log in with MS again.

Is there anything I'm missing?

I've been trying the following 2 approaches:
`  cca.acquireTokenByRefreshToken(user.microsoft_token).then(async (response) => {
    c

[2021-03-29 09:30] fhljys commented on #3242
@tnorling , after more investigation, I think we found the root cause.
Issue happens here:
![image](https://user-images.githubusercontent.com/18674958/112816545-1a9de300-90b4-11eb-9254-b4c3c54711cc.png)
The original code removed hash, but an extra # is left. Angular will treat this as a location change, so it will cancel the original navigation and trigger a new one. The cancel operation somehow t

[2021-03-29 12:37] RomaRathi opened #3325 "Access to fetch at 'https://login.microsoftonline.com/common/oauth2/v2.0/token' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

## Source

- [ ] Internal (Microsoft)
- [ ] Customer request

[2021-03-29 12:37] RomaRathi commented on #3325
I have already migrated the rediect uri which is http://localhost:3000 to msal 2js. what else is required in this?
Also i have set the headers in iis to Access-Control-Allow-Origin : *

[2021-03-29 12:39] RomaRathi commented on #3325
[Mon, 29 Mar 2021 12:38:48 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:handleRedirectStart
app.module.ts:90 [Mon, 29 Mar 2021 12:38:48 GMT] :  : @azure/msal-browser@2.12.1 : Info - handleRedirectPromise called but there is no interaction in progress, returning null.
app.module.ts:90 [Mon, 29 Mar 2021 12:38:48 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal

[2021-03-29 14:07] sameerag commented on #3323
@tnorling Can you please take a look and update the docs as needed?

[2021-03-29 14:27] hazard2k commented on #3118
I'm also experiencing this with the Angular wrapper of the MSAL 2.x library.

[2021-03-29 15:02] #3303 closed

[2021-03-29 15:41] jasonnutter commented on #3242
@fhljys Please update to the latest version of `msal`, as this issue (extra `#` remaining in url) was addressed in 1.4.2: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/changelog.md#142

[2021-03-29 15:58] sameerag commented on #3314
@Madhufuture did you consider moving to msal 2.x which will give you access to the latest angular package from our end? A good starting point for migration docs can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/v1-v2-upgrade-guide.md).

@jo-arroyo can help with the migration if you need more info.

[2021-03-29 16:13] tnorling commented on #3324
@iamstiil Can you please share code snippets showing how you are using the libraries? I see many `handleRedirect` related logs, are you calling `handleRedirectPromise` manually? (you should not be)

[2021-03-29 16:21] tnorling commented on #3323
@MarcAnnous Thanks for pointing this out, I've linked a PR that will close this.

[2021-03-29 16:53] jasonnutter commented on #3321
Closing as duplicate of #3317, will address issue there.

[2021-03-29 16:53] #3321 closed

[2021-03-29 17:53] Madhufuture commented on #3314
@sameerag no we don't have any plans to migrate to MSAL 2.x. We will be sticking with msal 1.x until July.

[2021-03-29 18:05] sameerag commented on #3325
@RomaRathi This could be a usage issue, where `redierectUri` isn't registered in the portal appropriately. We have docs which can help you [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md#Access-to-fetch-at-%5Burl%5D-has-been-blocked-by-CORS-policy). Can you please check this and let us know how that goes?

[2021-03-29 18:06] jasonnutter commented on #3317
@bladmorenoacn Which scopes are needed for the http request against the `CIOuhConfigurationVariablesAPIAdminUI` endpoint?

If an application needs access tokens for an http request (that is initiated with the injected http client), the user must be first logged in before your application can invoke `acquireTokenSilent`. Is your application logging in the user before making this request? If not, th

[2021-03-29 18:07] z33n00n opened #3328 "Cannot acquireToken() with ios webview"
## Library

- [ ] msal@1.x.x or @azure/msal@1.x.x
- [x] @azure/msal-browser@2.13.0
- [ ] @azure/msal-node@1.x.x
- [ ] @azure/msal-react@1.0.0-beta.1
- [ ] @azure/msal-angular@0.x.x
- [ ] @azure/msal-angular@1.x.x
- [ ] @azure/msal-angular@2.x.x
- [ ] @azure/msal-angularjs@1.x.x

## Framework
- [ ] Angular
- [x] React (Next.js)
- [ ] Other

## Description
We are developing an Teams App and using ms

[2021-03-29 18:08] #3328 closed

[2021-03-29 18:20] z33n00n opened #3329 "Cannot acquireToken() with ios webview"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [x] React
- [ ] Other

## Description
We are developing an Teams App and using ms

[2021-03-29 18:25] jasonnutter commented on #3317
Given the above, aside from removing the `CIOuhConfigurationVariablesAPIAdminUI` endpoint from the protected resource map, you can mitigate this error in one of two ways:

1. Ensure the user is logged in before initiating the http request for the `CIOuhConfigurationVariablesAPIAdminUI` endpoint, or
2. Catch the error thrown when your app makes the request to `CIOuhConfigurationVariablesAPIAdminUI`

[2021-03-29 18:26] bladmorenoacn commented on #3317
On it. Thanks.

________________________________
From: Jason Nutter ***@***.***>
Sent: Monday, March 29, 2021 1:25:17 PM
To: AzureAD/microsoft-authentication-library-for-js ***@***.***>
Cc: Moreno, Blad ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [AzureAD/microsoft-authentication-library-for-js] ClientAuthError: User login is required. For silent calls, request must contain either s

[2021-03-29 18:26] jasonnutter commented on #3317
I will also note that `openid profile user.read` are scopes for Microsoft Graph, and so the access token you will be issued will be for MS Graph (and should not be used for your custom web API). Instead of using MS graphs, your application should register a custom scope(s) in the Azure Portal, and then use those scopes when requesting the configuration data.

[2021-03-29 21:13] bbarnwell opened #3330 "MSAL Conflict with Infopath in Sharepoint 2013 on premise"
## Library
- [ ] `@azure/msal-browser@2.13.0

## Framework
None

## Description
We have a javascript SPA using MSAL to display users Office 365 mail and calendar inside Sharepoint 2013 On Premise. The app works on dev and test servers, on production it throws auth related error for some users.

## Error Message
Uncaught (in promise) TypeError: t.scopes.add is not a function
    at msal-browser.min

[2021-03-29 21:41] bbarnwell commented on #3330
Error at msal-browser.min.js:32:25592

[2021-03-29 21:53] sameerag commented on #3329
Is ITP enabled for iOS web view? I suspect it is safari which may be dropping cookies when an iframe is generated for `ssoSilent()`. cc @jasonnutter

[2021-03-29 22:19] restfulhead opened #3331 "How to recover from BrowserAuthError: interaction_in_progress? Logout now throws this error"
## Library
- [x] `@azure/msal-browser@2.13.0`
- [x] `@azure/msal-angular@2.0.0-beta.2`

## Framework
- [x] Angular

## Description
In very rare, hard to reproduce cases, we see the `BrowserAuthError: interaction_in_progress` error. I'm aware of the FAQ and this error usually does not happen. However, I assume that if the user quits the browser in the middle of the process or something similar, it

[2021-03-29 22:36] tnorling commented on #3331
@restfulhead We should understand why interaction is left in progress rather than applying a bandaid to the real problem. In progress state is stored in session storage so opening a new tab or browser should clear this, can you confirm whether or not this is the case? Can you provide any additional information about how you end up in this state?

[2021-03-29 22:43] restfulhead commented on #3331
Right, I can confirm that it is left over session state. Reloading the page does not help. I imagine closing the browser would, but it's not great to ask the user to do that. I cannot easily reproduce this state. I assume it may happen when using multiple tabs and closing a tab in the middle of things, but it's only a guess...

[2021-03-29 22:45] sadasant opened #3332 "@azure/msal-node-extensions doesn't have pre-compiled binaries"
## Library
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

`@azure/msal-node-extensions@1.0.0-alpha.6` builds its binaries when the package gets installed by a developer. As the readme says, this means that developers will need to have `node-gyp`, which in turn has considerable requirements on each platform. For example, on Windows, `node-gyp` requires Visual Studio with C++, wh

[2021-03-29 22:59] sameerag commented on #3330
@bbarnwell I believe this may be specific to the user's environment. One common occurrence is an `async` call or an `await` statement following a statement with no semicolon, which can cause JS to not identify the call as a function. There are numerous JS specific use cases that could cause this error.

Can we get more information on the specifics of this error for the production environment? Samp

[2021-03-29 22:59] tnorling commented on #3331
@restfulhead Closing a tab will clear session storage and should not result in this error. If it is, we need a reproduction so we can debug why this is crossing tabs. If you're using redirect logins I would also expect reloading the page to clear the state (`handleRedirectPromise` will clear in progress redirect state), if it's not we should also debug why this isn't happening. If you're using pop

[2021-03-29 23:09] sadasant opened #3333 "Upgrade KeyTar to 7.4.0 on msal-node-extensions"
## Library
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

`@azure/msal-node-extensions@1.0.0-alpha.6` currently depends on KeyTar v7.0.0. KeyTar has released some updates that would improve the developer experience since then. The latest version available on KeyTar is 7.4.0.

One of the reasons this will be useful is because of: https://github.com/atom/node-keytar/issues/317 wh

[2021-03-29 23:11] sameerag commented on #3332
Thanks @sadasant for raising this.

We evaluated this request with the team and also checked [keytar](https://www.npmjs.com/package/keytar)’s model of shipping the binaries. We decided we do not want to go that route – let’s take keytar as an example: they ship [~90 binaries](https://github.com/atom/node-keytar/releases) per release today which is something we will not be able to sustain consideri

[2021-03-29 23:18] sadasant opened #3334 "DPAPI binaries on @azure/msal-node-extensions do not work on Windows, on Node 15"
## Library
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

If one installs `@azure/msal-node-extensions@1.0.0-alpha.6` on Windows, using Node 15, the FilePersistenceWithDataProtection class (that uses the DPAPI binaries) throws when one attempts to use it.

## Error Message

[code]

## Identity Provider

- [x] Azure AD

## Browsers/Environment

Node v15.12.0 on Microsoft Windows

[2021-03-29 23:25] restfulhead commented on #3331
So what I can say is that when the session state contains `interaction_in_progress`, then all subsequent login attempts of a user fail with the `BrowserAuthError: interaction_in_progress` error.

To login, I call `MsalService.loginRedirect( { redirectStartPage: fromUri, scopes: this.defaultAdScopes, prompt: 'select_account' })`

The stack trace here is:
[code]

I also noticed that when doing `acqu

[2021-03-29 23:30] sadasant opened #3335 "@azure/msal-node-extensions doesn't provide a VerifyPersistence() method"
## Library
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

`AzureAD/microsoft-authentication-extensions-for-dotnet` provides a `cacheHelper.VerifyPersistence` helper on Linux and OSX which allows us to determine whether the Keychain or the KeyRing are available. Without this feature, the best I can do today is to `load()` the persistence plugin to verify if it works. An alignmen

[2021-03-29 23:35] sameerag commented on #3333
This is in progress, will link a PR soon.

[2021-03-29 23:39] tnorling commented on #3331
@restfulhead This means that `handleRedirectPromise` isn't being called on page load or isn't finished before attempting to login again. `handleRedirectPromise` will clear in progress state when returning from a back button or when reloading the page.

Please read [these docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) an

[2021-03-29 23:42] sameerag commented on #3334
@samuelkubai can you please take a look at this?

[2021-03-29 23:44] sameerag commented on #3335
We are working on a PR to address this and will update this issue soon.

[2021-03-29 23:50] restfulhead commented on #3331
Oh I see. I was calling `handleRedirectObservable()` when returning from the redirect, but I missed the fact that I need to call it before the redirect as well. Changing my code to `this.msalAuth.handleRedirectObservable().pipe(concatMap(() => this.msalAuth.loginRedirect({...})))` fixes the issue with the back button.

(I cannot simply add `<app-redirect>` to every page as the documentation sugges

[2021-03-29 23:50] #3331 closed

[2021-03-29 23:52] sadasant opened #3336 "localAccountId seems to be only required on JS's account structure"
## Library
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

As we're working across languages on using MSAL for the Azure SDKs, we noticed that `localAccountId` is only a required value the account structure for JS. Other languages can get away without sending this parameter. I've talked with some of the MSAL team about this and I've been told that this property is required in so

[2021-03-30 00:01] sadasant opened #3337 "Provide Node 8 support, specially for @azure/msal-node-extensions"
## Library
- [x] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-node-extensions@1.0.0-alpha.6`

## Description

Although the Node.js 8 runtime was deprecated on June 5th, 2020, arguably many consumers could still be using Node 8. Would it be too hard to add Node.js 8.x.x support?

In the Azure SDK for JS, we haven't yet stopped supporting Node 8. To depend on @azure/msal-node-extensions, we would nee

[2021-03-30 00:13] sadasant opened #3338 "Allow configuring polling intervals on @azure/msal-node"
## Library
- [x] `@azure/msal-node@1.x.x`

## Description

While we move to use `@azure/msal-node` as a dependency on the Azure SDK for JS/TS, we've added recorded tests that help us see what changes happen on the network requests over time, and also test the full behavior of MSAL as if we were always online without actually reaching out to the authentication endpoint.

For this purpose, we would

[2021-03-30 00:30] jasonnutter commented on #3337
@sadasant How long does Azure SDK plan to support Node 8? Generally speaking, when a major version of one of our libraries is released, we only support versions of a runtime or framework that the maintainers of that dependency still support. This is to avoid a situation where a bug in the library is caused by a bug in the dependency (especially a security bug) that the maintainers will not fix.

[2021-03-30 00:41] yingying96 opened #3339 "MSAL React Alpha version"
Hi team,

May i know when will the alpha version for MSAL react be launched? I noticed that it's still stated as beta in the roadmap.

Thanks!

[2021-03-30 00:42] #3339 closed

[2021-03-30 00:49] jasonnutter commented on #3329
Correct, this is likely caused by ITP, which is enabled in Safari Webviews by default now.

For Teams app SSO, it is recommended to use the on-behalf-of flow and/or interaction to achieve SSO. Note interaction is Teams apps must be done using the Teams JS SDK. This sample demonstrates both the OBO flow and performing interaction with MSAL.js and the Teams SDK: https://github.com/pnp/teams-dev-samp

[2021-03-30 01:07] yingying96 opened #3340 "MSAL React alpha version"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi team,

May i know when will the alpha version for MSAL react be launched? I noticed that i

[2021-03-30 02:32] sameerag commented on #3337
Adding to what @jasonnutter said, we developed `msal-node` on Node.js version 10. Trying to add `node 8` support would open us to issues that may pertain node API changes and not `msal-node`

[2021-03-30 02:39] sameerag commented on #3334
@sadasant We are not currently supporting `node 15` for `msal-node`.  However since we plan to support `node 16` which will be released soon and some of the `node 15` api will carry over, we want to root cause this issue and determine if there is any change needed from our end. Please understand this will be of a lesser priority over other issues in our queue right now.

[2021-03-30 02:41] sameerag commented on #3338
We can potentially provide this enhancement for msal-node. Only concern I have with this is the throttling we may introduce to the server, by polling frequently. Will update this issue once I have more information regarding the impact of adding variable, and user controllable polling.

[2021-03-30 02:48] sameerag commented on #3336
@sadasant `localAccountId` is needed for ADFS use cases where there is no tenantId (hence they cannot generate `homeAccountId`). We introduced this to support our customer use cases and a few of the reference issues are:  #2500 #2507 #2553.

For your use case, you can safely ignore this since all AAD calls which generate a `homeAccountId` if there is an account. This can be a blank value which is

[2021-03-30 03:52] fhljys commented on #3242
Thanks @jasonnutter. Verified. It works.

[2021-03-30 03:52] #3242 closed

[2021-03-30 05:39] RomaRathi commented on #3325
I was able to solve the issue.
I have configured the redirectUri correct under SPA but also there was another localhost registered under Web./'
When i migrated all the localhost under SPA it started working fine.

Is that so that we need to register all localhost under SPA for this to resolve the CORS issue?

[2021-03-30 06:31] sameerag commented on #3333
@sadasant The latest is 7.6.0, #3343 addresses this and also adds caret version support. cc @samuelkubai

[2021-03-30 06:41] sameerag commented on #3335
@samuelkubai will be working on this

[2021-03-30 07:47] z33n00n commented on #3329
@jasonnutter Thanks for your response.
I looked at the example you provided and I think we do the same.
We don`t use the MsalProvider.

Our workflow, looks like this:

1. Try to get an AccountInfo from the msal client (```getAccountByUsername``` with the username from the teams context)
2. If it is not successful, we try ```ssoSilent``` from the msal client with our scopes and the username
3. If i

[2021-03-30 10:03] RomaRathi opened #3344 "When calling api localhost sign in popup appearing"
Logs

[Tue, 30 Mar 2021 10:02:56 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:handleRedirectStart
app.module.ts:90 [Tue, 30 Mar 2021 10:02:56 GMT] :  : @azure/msal-common@4.0.3 : Info - in acquireToken call
app.module.ts:90 [Tue, 30 Mar 2021 10:02:57 GMT] :  : @azure/msal-browser@2.12.1 : Info - BrowserCacheManager.cleanRequestByState: Removing temporary cache items for state

[2021-03-30 10:04] #3344 closed

[2021-03-30 10:05] RomaRathi opened #3345 "When calling api localhost sign in popup appearing"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

## Source

- [x] Internal (Microsoft)
- [x] Customer request

[2021-03-30 10:06] RomaRathi commented on #3345
﻿
jquery-migrate-3.0.0.min.js:2 JQMIGRATE: Migrate is installed, version 3.0.0
app.module.ts:90 [Tue, 30 Mar 2021 10:02:56 GMT] :  : @azure/msal-browser@2.12.1 : Info - Emitting event: msal:handleRedirectStart
app.module.ts:90 [Tue, 30 Mar 2021 10:02:56 GMT] :  : @azure/msal-common@4.0.3 : Info - in acquireToken call
app.module.ts:90 [Tue, 30 Mar 2021 10:02:57 GMT] :  : @azure/msal-browser@2.12.1

[2021-03-30 10:08] RomaRathi commented on #3345
The access token is successfully inserted into the headers but the request is not able to proceed further because of this

![image](https://user-images.githubusercontent.com/72570363/112972486-edae0680-916d-11eb-9236-2185dd03f2e1.png)

[2021-03-30 11:44] sadasant commented on #3338
@sameerag in our case, our recordings can be cleaned so the first response is always a good response. This means that on playback there is no second request. There's no throttling on playback, of course.

@sameerag one alternative could be to mock the pollers. Two designs that come to mind:

- If the poller is its own class, and the method that does the polling is a public method in that class, th

[2021-03-30 13:01] NickLiffen opened #3346 "TypeScript - @azure/msal-node - accessToken type on AuthenticationResults"
## Library
- [x] `@azure/msal-node@1.x.x`

## Description

I am using the latest version of the `@azure/msal-node` module. I have a small typescript lambda that is creating an `accessToken` using the `OAuth 2.0 Client Credentials Grant` flow.

High level, I import the module:

[code]

Setup my config:

[code]

Create the App & set scopes:

[code]

I then attempt to deconstruct the accessToken from

[2021-03-30 13:02] bbarnwell commented on #3330
Thanks! Checked over the code and I don't think it's a missing semi colon. Code worked in our Dev and Testing environments. I'm only getting this error in our production environment, so I think it is something to do with our production enviro.

The app is based on this: https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code

I suspect it's failing in authR

[2021-03-30 13:39] SreekanthOAuth opened #3347 "How to get the user email information on user login failure"
Hi Team,

We are using this library in our react app (ms bot webchat channel). Recently, we have got a requirement to log the user login failure event into application insights and as part of this event, we need to add user email as one of the properties. So that we can cross-check when any customer complains about the login issue.

But, we are not sure how to get the user email when the user logi

[2021-03-30 13:39] #3347 closed

[2021-03-30 13:49] forellendev commented on #3239
@tnorling thank you and sorry for the delay. That's good to hear that PKCE is used by default, but I thought that it would be convenient to allow choosing the secret to be hashed manually

[2021-03-30 13:58] forellendev opened #3348 "Binding access token to user certificate"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hey together, could you please tell me whether this library allows binding the access and id

[2021-03-30 14:38] SreekanthOAuth opened #3349 "Not gettiing user email information on login failures"
## Library

- [ ] `"msal": "^1.4.4",`

## Framework

- React

## Description
We are using this library in our react app (ms bot webchat channel). Recently, we have got a requirement to log the user login failure event into application insights and as part of this event, we need to add user email as one of the properties. So that we can cross-check when any customer complains about the login issue.

[2021-03-30 15:30] jcharnley opened #3350 "PKCE Error with MSAL on production URL"
## Library

- [ ] ` "@azure/msal-browser": "^2.8.0",`

## Framework

- [ ] JavaScript

## Description

I'v setup an azure b2b application using both ID and access Tokens. Part of auth includes using msal to sign in etc, it works on localhost, dev and production urls that we own. however, we have a reverse proxy to another site on our production url.  I cannot seem to login via that url. anyone hav

[2021-03-30 15:32] sadasant commented on #3333
@sameerag sounds awesome!

[2021-03-30 15:44] jasonnutter commented on #3350
@jcharnley Is your website loaded on http or https? I believe this error is due to the browser crypto APIs (`window.crypto.subtle`) not being present, which happens when your site is loaded on http. Https is a requirement in order to use MSAL.js.

[2021-03-30 15:47] jcharnley commented on #3350
Thanks for getting back. I read in another post that there was a load balancing issue between port 80 and 442. All the urls a apart from localhost are https. do service workers effect msal.js?

[2021-03-30 16:01] jasonnutter commented on #3350
Given service works do not have access to the DOM or browser storage, and that the crypto APIs are on `self.crypto` instead of `window.crypto`, it would be expected that MSAL.js would not work. We can look at improving this.

[2021-03-30 16:07] jasonnutter commented on #3350
I take it your MSAL related code is running in a service worker when this error occurs?

[2021-03-30 16:10] jcharnley commented on #3350
no not at all,am just having issues with my service worker acrross different origin.I dont believe it's related. Am I save to post my azure app manfiest in here? as the only thing differently I have done it setup a b2b with personal accounts app on a  different tenant. as If i go back to my old one it works fine

[2021-03-30 16:21] jcharnley commented on #3350
Yeah just doubled checked it,seems to work on the older tenant without any issues. and from my knowledge its a simliar setup, just using b2b instead

[2021-03-30 16:24] tnorling commented on #3239
@forellendev Can you explain a little bit more about your use case and why you need to provide this value manually?

[2021-03-30 16:28] jasonnutter commented on #3348
@forellendev MSAL.js v2 supports access token proof of possession using the browser crypto APIs. More details here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ef11fd7eb7f523fba1cf2002579ec75e4179b619/lib/msal-browser/docs/access-token-proof-of-possession.md

This cryptographically binds the access tokens to the browser that requested them. Note, using AT PoP requires t

[2021-03-30 16:35] jasonnutter commented on #3340
@yingying96 The alpha version (private preview) was released earlier this year, and beta (public preview) was released earlier this month.

[2021-03-30 16:45] forellendev commented on #3239
@tnorling The RFC 7636 states that a high-entropy cryptographic random String should be used in order to avoid guessing. I know this is a little bit over the top, but some laptops have a TMP that act as a TRNG which would be nice to use for random values.

[2021-03-30 17:00] joshfree commented on #3334
@sameerag This issue, along with the other Node 8 issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3337, blocks the Azure.Identity Client library for Javascript release we're planning for May.

Can this be prioritized higher?

[2021-03-30 17:54] derisen commented on #3325
@RomaRathi you have to make sure that Azure AD is able to distinguish your redirect URIs and match the correct auth flow with them. See the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#localhost-exceptions):

[2021-03-30 18:16] sameerag commented on #3346
@NickLiffen types are included in `msal-node`. My guess is that since `AuthenticationResult` can potentially return null, the deconstruction may not be working as expected here.

Can you please try and test if this works:
[code]

[2021-03-30 18:20] sameerag commented on #3346
We will also try to reproduce this on our end. We also think there could never be a scenario to have `AuthenticationResult` null, and we will get back on this if this needs changes from our end.

[2021-03-30 18:24] sameerag commented on #3349
@SreekanthOAuth The user login failure can happen for varied reasons and we throw back the server error we receive to the user as is. We do not have the info for the user email to send it back to you. Also since this is PII (Personally Identifiable Information) we cannot give the info in our client by default.

[2021-03-30 21:44] jcharnley commented on #3350
Thanks for your help, its unrelated to msal. closed

[2021-03-30 21:44] #3350 closed

[2021-03-30 21:51] ramya-rao-a commented on #3337
@sameerag, @jasonnutter,

We (Azure SDK for JS) have just started the discussions around dropping support for Node 8.

Can you share the challenges you see when trying to support Node 8? We are collecting data around the efforts and cost around supporting Node 8 and your inputs would be valuable. From the comments above, it looks like we started off on Node 10 and never really gave Node 8 a try. W

[2021-03-30 22:06] sameerag commented on #3337
Yes, that would be right!

[2021-03-30 22:25] sameerag commented on #3337
Our current recommendation is for the users to bypass our engines check on their volition if they want to support versions we do not approve of, and there is a PR in works listing that in our FAQ [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3290)

[2021-03-30 22:46] bterlson commented on #3337
@sameerag fwiw, [engine-strict defaults to false](https://docs.npmjs.com/cli/v7/using-npm/config#engine-strict), so getting an actual blocking error on mismatched engine is quite unlikely.

[2021-03-30 23:09] idri commented on #3280
Hi,
I confirm I experience the same problem starting with version: 2.12.0. It works fine in 2.11.2
After doing some debugging in the msal-browser 2.13.0 I found out that the problem might be that in the `BrowserCacheManager.prototype.cleanRequestByInteractionType`. There is a call to `this.resetRequestCache(stateValue)` that uses the `stateValue` (a base64 encoded string of an object that contains

[2021-03-30 23:40] yingying96 commented on #3340
Apologies, i mean the GA version. Thanks!

[2021-03-31 00:09] #3119 closed

[2021-03-31 00:37] thoo1 commented on #3206
@tnorling sorry to bring this back up again but our users are still having issue related to clock skew. I was wondering if msal could return the timestamp for when the token was received in the `AuthenticationResult`. The reason why is because we would like to try to use that timestamp as a "not valid before" time, and if the token is not valid, we force refresh

I know we spoke offline and the ou

[2021-03-31 05:26] kberawala opened #3362 "possible Incorrect cached token returned"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [-] `@azure/msal-browser@2.x.x`, "@azure/msal-browser": "^2.13.0",
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [] Other - Vue.js

## Description

[2021-03-31 05:50] shanavaz79 opened #3363 "Multiple scopes for different apis"
Hello,

## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
@azure/msal-browser@2.13.0

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
We have

[2021-03-31 06:02] RomaRathi commented on #3325
@derisen thanks for the reply and the information. It is not clear

[2021-03-31 06:02] #3325 closed

[2021-03-31 07:22] francesco-clementi-92 commented on #3291
Hi @tnorling I have the network trace. The token seems to be valid, but being too large (almost 7000 characters) it's not accepted from our backend with a max limit size of 15 kb. The problem is the number of security groups of our customer.
Is there a way to reduce the token limit?

[2021-03-31 08:31] francesco-clementi-92 commented on #3291
Resolved by configuring `"groupMembershipClaims":  null` on the azure application manifest

[2021-03-31 08:32] #3291 closed

[2021-03-31 10:36] AdamMYoung commented on #3363
+1 to this, we're requesting two access tokens with different scopes, and MSAL seems to recycling one token and requesting a new one, both with the same scope

[2021-03-31 10:42] AdamMYoung commented on #3363
One workaround currently is to set `forceRefresh: true` within `acquireTokenSilent`, not ideal currrently

[2021-03-31 11:11] gridpatrik commented on #3363
+1
When requesting an access token for the second resource this breaks the cache. Looks like it's always being written to the cache with the scope from the first token request. Current workaround is same as @AdamMYoung but this is of course something that needs to be fixed!

[2021-03-31 11:39] #3348 closed

[2021-03-31 12:50] iamstiil commented on #3324
Sorry, I have been rewriting a lot of stuff so i can't share any code. If you want to recreate the situation, here are some information regarding the project:
- Next.js project using NX to manage the workspace
- Dynamic content so i18n was implemented using a `[locale]` folder and handling it manually (instead of i18n object in next.config.js)
- no manual call to `handleRedirectPromise`
- B2C

If

[2021-03-31 13:19] SreekanthOAuth commented on #3349
@sameerag  - Thanks for the information. We will use the server error in our insights.

[2021-03-31 13:19] #3349 closed

[2021-03-31 14:44] bbarnwell commented on #3330
I should qualify this. handleRedirectPromise() returns null for some users. I have some user accounts that do authenticate.

[2021-03-31 15:22] sameerag commented on #3363
@AdamMYoung @ratnapraveen Thank you for the context. Can you guys please file a B2C service issue as instructed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#what-should-i-do-if-i-believe-my-issue-is-with-the-b2c-service-itself-rather-than-with-the-library)?

[2021-03-31 16:42] tnorling commented on #3362
Closing as duplicate of #3363. This is a bug introduced by the service late last week, we're working with them to revert or patch the changes ASAP. In the meantime you can set `forceRefresh` to true to go to the network each time for a new token. Please track resolution in the other issue. Thanks!

[2021-03-31 16:42] #3362 closed

[2021-03-31 16:46] tnorling commented on #3363
Thanks for the info shared here. We're working with the B2C service to patch or revert a change that was rolled out late last week, ASAP. If you need an immediate resolution, setting `forceRefresh: true`, as mentioned above, is the suggested workaround.

[2021-03-31 17:05] tnorling commented on #3206
@thoo1 Can you use `expiresOn` to derive acquisition time by subtracting an hour?

[2021-03-31 17:18] thoo1 commented on #3206
@tnorling we could but I'm not sure, are tokens always 1h lifetime?

[2021-03-31 17:43] k290 commented on #3156
We received the following feedback from the server team with @tnorling's help and I can confirm that it is accurate and correct:

I changed the conditional access policy to apply to "all apps" and the MSAL app does correctly redirect after 1 hour.  I did not try the other examples, but it now makes sense why using them as a workaround works.

[2021-03-31 17:43] #3156 closed

[2021-03-31 17:46] tnorling commented on #3206
@thoo1 Yes, unless you [explicitly configure a different lifetime](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes) in which case you would know what your lifetime is expected to be.

[2021-03-31 17:51] tnorling commented on #3324
@iamstiil One thing to double check; please make sure `PublicClientApplication` is not initialized inside of a React component to prevent it from reinitializing when components rerender.

I unfortunately cannot provide any additional insights without a minimal reproduction. If you can reproduce this with one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/d

[2021-03-31 17:59] tnorling commented on #3206
@thoo1

It's set for the application.

Another potential solution would be for your application to save the current time if the `AuthenticationResult` has `fromCache: false`.

[2021-03-31 18:13] ManishKiranagi opened #3364 "MSAL-browser refresh token"
In MSAL browser, acquireTokenSlient get's a refresh token on every call to the token end point. The first refresh token has a duration of 1 day. Subsequent refresh tokens all have reduced (the remaining) expiry time. After the refresh token expires eventually, if an AD Session exists than the authorisation code is returned in an iframe before making the token call. If this silent retrieval of auth

[2021-03-31 18:13] #3364 closed

[2021-03-31 18:20] ManishKiranagi opened #3365 "Msal-browser refresh token"
## Library

- [ ] `@azure/msal-browser@2.x.x`

## Description
In MSAL browser, acquireTokenSlient get's a refresh token on every call to the token end point. The first refresh token has a duration of 1 day. Subsequent refresh tokens all have reduced (the remaining) expiry time. After the refresh token expires eventually, if an AD Session exists than the authorisation code is returned in an iframe

[2021-03-31 18:55] thoo1 commented on #3206
I see.. for now I don't think we have a good enough reason to configure our app's token lifetime. Our app is also first party so maybe that changes things, we can take this as a separate issue later

Thanks for this suggestion, this would seem to work but if we save this time in memory, it wouldn't be consistent with how we are currently configuring msal to store stuff in `localStorage`. So say we

[2021-03-31 20:17] Gyalomalom opened #3367 "Authentication redirect exposes Id token"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm using the Angular MSAL library and Azure AD implicit flow to authorize users.

After signi

[2021-03-31 20:34] jasonnutter commented on #3367
@Gyalomalom Can you please clarify which version of `msal` and `@azure/msal-angular` you are using? Our libraries should remove the hash from the url without adding it to the browser history.

[2021-03-31 20:41] Gyalomalom commented on #3367
I'm using MSAL-angular 1.1.1

[2021-03-31 20:58] sameerag commented on #3365
@ManishKiranagi If the user is consistently making token calls without a halted browser session, `acquireTokenSilent` should take care of getting a new `refreshToken` before the expiry. What you see - the reduced time - is only until we near the actual expiry, MSAL will continue to consider a token to be expired where there is less than 5 minutes remaining for the token and makes a network call at

[2021-03-31 20:58] jasonnutter commented on #3367
And which version of `msal`?

[2021-03-31 20:59] Gyalomalom commented on #3367
1.3.1

[2021-03-31 21:00] jasonnutter commented on #3367
Can you please try the latest version of `msal` (1.4.8)?

[2021-03-31 21:08] #3323 closed

[2021-03-31 21:09] sameerag commented on #3365
@ManishKiranagi
* For SPA type apps, RefreshTokens cannot be rolled out beyond their initial expiry. It means that an RT is only valid 24hrs from when the code is exchanged.
* `acquireTokenSilent` if it detects an expired `refreshToken` will attempt to fetch an authorization code silently using an iframe
* However as you called out, this will not work if third party cookies are blocked, as they bl

[2021-03-31 21:11] sameerag commented on #3365
@sameerag To follow up on adding docs regarding RT refresh logic. cc @pkanher617

[2021-03-31 21:19] tnorling commented on #3206
@thoo1 Understood. I'll see what we can do, but quite honestly this is pretty low priority for us in comparison to other efforts we have ongoing so not sure when we'll get to it. What exactly is the problem with just making a new ATS request with `forceRefresh: true` when the resource rejects the token?

[2021-03-31 21:24] thoo1 commented on #3206
@tnorling thanks! I'll also see if I have some time to open a PR to do this but thanks for thinking about it

The main problem is that our application calls many different services (ARM, graph, other services) and we essentially have to maintain some mapping of "this service A throws error code C when the token is expired, and in that case we should try forceRefresh and retry".
- the mapping has t

[2021-03-31 21:29] #3192 closed

[2021-03-31 21:33] jo-arroyo commented on #3192
@derisen @ozkoidi Thanks for your feedback! Changes have been made to the interceptor fix these issues, and will be available in the next msal-angular release.

[2021-03-31 21:51] tnorling commented on #3239
@forellendev Do you mean TPM? I'm curious how you plan to access the TPM from the browser?

[2021-03-31 21:57] #2785 closed

[2021-03-31 22:02] jasonnutter commented on #3329
How are doing this part?

If you are using the MSAL React library, then yes, you do. But using MSAL React is optional.

[2021-04-01 00:12] #3152 closed

[2021-04-01 00:12] #2978 closed

[2021-04-01 05:46] dilin-MS opened #3375 "ConfidentialClientApplication.acquireTokenOnBehalfOf() fail to get token from cache first and will always execute token request to get new token"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.0.1`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] NodeJS

## Description

We leverage MSAL confidential client app

[2021-04-01 06:36] z33n00n commented on #3329
[code]
All other browsers and devices return an AccountInfo object from the cache after successful login by calling ``msalClient.getAccountByUsername``. On iOS, there is nothing in the cache.

Ok, we are not using MSAL React library currently.

Thanks for your help

[2021-04-01 10:50] z33n00n commented on #3329
@jasonnutter
The problem gave me no peace.
I have now tried something around and could solve the problem. SessionStorage is apparently not as persistent in iOS as it is in Android or Electron. Anyway, it was always empty between the calls.
I have now changed the cache location to localStorage and lo and behold, everything works. iOS is so developer unfriendly.

[2021-04-01 10:50] #3329 closed

[2021-04-01 18:26] tnorling commented on #3280
@idri I looked into this but `cleanRequestByInteractionType` is implemented correctly. The state value is decoded inside each of the key generation functions, right before the individual cache entries are retrieved: [for example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/cache/BrowserCacheManager.ts#L631)

Can you please confirm that you are g

[2021-04-01 20:50] ManishKiranagi commented on #3365
@sameerag Thanks for your reply.
When is the storageAccessAPI based solution expected? And will that be availaible for both MSAL.js and Msal-browser.

[2021-04-01 21:10] sameerag commented on #3365
@ManishKiranagi We are still in the design phase for this. Please check our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md) for the announcement.

[2021-04-02 00:18] #3139 closed

[2021-04-02 11:34] workingtitledk opened #3378 "postLogoutRedirectUri not working in Angular 11 sample app running in Chrome"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.13.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-beta.2`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular 11
- [ ] React
- [ ] Other

## Description
When logging out of the Angular

[2021-04-02 12:12] Gyalomalom commented on #3367
Hello @jasonnutter, I tried it with the latest msal and the token is still saved in the browser history.

[2021-04-02 15:55] jo-arroyo commented on #3378
@workingtitledk Are you experiencing this in other browsers, or just in Chrome?

[2021-04-02 21:37] amds9 opened #3379 "AmdS90"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [x] React
- [x] Other

## Description

## Error Message

## MSAL Configuration

[2021-04-02 21:38] sadasant opened #3380 "Integration with OpenTelemetry"
## Library
- [x] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`

## Description

On the Azure SDKs we use [OpenTelemetry](https://opentelemetry.io/) to increase the observability of our libraries. In our case, we use a telemetry layer we call "@azure/core-tracing" ([link](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/core/core-tracing)).

This feature request is not blockin

[2021-04-02 21:58] amds9 commented on #3379
994291

[2021-04-02 22:09] sameerag commented on #3380
Thank you @sadasant for bringing this up. I think it will be useful to add this support to msal-node. However, we need some time to plan for this work. I will keep this feature open until we have an internal item tracking this.

[2021-04-02 22:30] sadasant commented on #3380
@sameerag Thank you!

[2021-04-03 00:12] #3187 closed

[2021-04-03 00:12] #3178 closed

[2021-04-03 00:12] #3169 closed

[2021-04-03 00:12] #3109 closed

[2021-04-03 04:55] sadasant commented on #3334
@sameerag @samuelkubai Found how to narrow down the issue!

This code doesn't work on Node 15:

[code]

On Node 14, this code does produce the error, but the error doesn't bubble up, it shows as: `UnhandledPromiseRejectionWarning: PersistenceError: DPAPIEncryptedFileError: Encryption/Decryption failed. Error code: 87`. The code echoes a full error with a trace, but it doesn't break at that point,

[2021-04-03 04:55] #3334 closed

[2021-04-03 11:54] maartenstelling commented on #3240
@tnorling any update on this issue?

[2021-04-03 15:33] workingtitledk commented on #3378
@jo-arroyo I've just tried a few browsers and the results are mixed. I'm on macOS.
Chrome v. 89.0.4389.114: doesn't work.
Chrome v. 89.0.4389.114 (incognito): works.
Firefox v. 87.0 (regular and incognito): doesn't work.
Safari v. 14.0.3: works.

[2021-04-03 20:54] sameerag commented on #3334
Thank you @sadasant. Great find. Follow up: Should we change our sample to reflect these changes? Can you please let us know if you can contribute a doc to help the community?

We would like to highlight this for anyone relevant.

[2021-04-04 07:01] badsyntax opened #3381 "Is it possible to update browser cache after updating account details?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi there. I'm providing a form to allow users to update their profile data without leaving the

[2021-04-04 10:02] mbrevda commented on #3248
responded via email

[2021-04-05 01:00] coreyleelarson commented on #3378
Same issues using `@azure/msal-browser` and `@azure/msal-react`. Same results as @workingtitledk.

[2021-04-05 11:52] #3345 closed

[2021-04-05 11:53] RomaRathi commented on #3345
Not resolved

[2021-04-05 11:54] RomaRathi opened #3382 "httpactioncontext identity name is null for msal 2.0 authentication for code flow"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

## Source

- [ ] Internal (Microsoft)
- [ ] Customer request

[2021-04-05 11:55] RomaRathi commented on #3382
var isAuthorized = base.IsAuthorized(actionContext);
It always returns false while doing SPA authorization without implicit code flow (MSAL).
With adal library it was returning true.
It was unable to fetch the user in the principal.identity.

[2021-04-05 11:57] RomaRathi commented on #3382
Is there some other configuration to set in AzureAD or frontend angular 11?
It is adding the access token in the header of API call but while proceeding to backend it fails the authentication as the var isAuthorized = base.IsAuthorized(actionContext) is false.

[2021-04-05 13:26] ktikku opened #3383 "Bundle Size"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi Team,

I see the following warning while building my SPA:

ERROR  [BABEL] Note: The code gen

[2021-04-05 15:23] jasonnutter commented on #3378
@workingtitledk @coreyleelarson Please confirm the following:

- Is the url used for the post logout redirect uri set as a redirect uri in your app registration?
- Do you have a front-channel logout uri configured for your app?

[2021-04-05 15:23] jasonnutter commented on #3383
Closing as a duplicate of #3210

[2021-04-05 15:23] #3383 closed

[2021-04-05 15:29] jasonnutter commented on #3379
Closing as spam.

[2021-04-05 15:29] #3379 closed

[2021-04-05 15:39] jasonnutter commented on #3367
@Gyalomalom Okay thanks we'll take a look.

[2021-04-05 15:41] coreyleelarson commented on #3378
@jasonnutter We have the post logout redirect ui set both in the PublicClientApplication initialization and the app registration, but no front-channel logout uri configured as we have not implemented that yet.

Any reason why the redirect would work in Chrome incognito but not in a regular window? We also observed that it asks us which account to log out, even though we're passing the `AccountInfo

[2021-04-05 16:02] jasonnutter commented on #3378
Please try setting a front channel logout (don't worry for now if it doesn't perform anything logout related) and see if it fixes this.

Not sure. Are 3p cookies enabled or disabled?

This is a known issue, as the service doesn't currently honor the account passed to the MSAL logout API. This will be improved in the future (ETA TBD).

[2021-04-05 16:10] sameerag commented on #3381
@badsyntax This would need a network call to update the msal cache in your browser. Can you please try calling`acquireTokenSilent` with `forceRefresh:true` and let us know if it updates the tokens as needed (and therefore the cache)?

[2021-04-05 16:15] sameerag commented on #3382
@RomaRathi This code looks like ASP.net backend, can you please give us more details about your use case? We would need:

* Sample code
* Expected scenario
* Steps to reproduce

The description above is not enough for us to parse the problem.

[2021-04-05 16:28] RomaRathi commented on #3382
[Frontend code to append token.docx](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/6259180/Frontend.code.to.append.token.docx)
@sameerag

[2021-04-05 16:59] jasonnutter commented on #3380
@sadasant What is the scope of telemetry you are interested in? Just http requests, or everything in MSAL? If just interested in http requests, you can implement your own network client via [system.networkClient](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_browser.html#browsersystemoptions).

[2021-04-05 17:21] badsyntax commented on #3381
@sameerag thanks for the suggestion.

I'm now calling `acquireTokenSilent` using the same scopes as login, and using the current signed in account. I can see the network request being sent to the token endpoint, but the `id_token` in the response still does not have my updated claims.  Btw i'm using Azure B2C and this is the token endpoint it calls: `https://tenant.b2clogin.com/tenant.onmicrosoft.

[2021-04-05 19:04] jasonnutter commented on #3338
@sadasant The polling interval is [returned from the server](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/3463bc62eb06d1a18cdf76d0a8747e1987ec80b1/lib/msal-common/src/client/DeviceCodeClient.ts#L95), so you could change the polling interval by mocking the http request.

[2021-04-05 19:47] sameerag commented on #3338
We discussed this offline, apologies did not update the ticket. And @sadasant should be able to mock his tests as per our last discussion. I am closing this issue with this information, @sadasant feel free to reach out in case you have more questions.

[2021-04-05 19:47] #3338 closed

[2021-04-05 21:36] pkanher617 commented on #3386
@senser1 Could you provide more information around the actual issue you are having?

[2021-04-05 21:37] pkanher617 commented on #3386
Please fill out one of the templates [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/.github/ISSUE_TEMPLATE) so we can better assist you.

[2021-04-05 21:49] pkanher617 commented on #3389
@ericprocop I'm not sure I understand the question, could you clarify? Are you asking for a way to validate a specific key against the jwks? The passport library should be validating the id_token against the keyset from the jwks_uri.

[2021-04-05 21:50] coreyleelarson commented on #3378
I tried setting a URL here and observed no change, unfortunately.

[2021-04-05 21:52] pkanher617 commented on #3390
This is something we will take a look at in the new version of the middleware library that we are designing.

[2021-04-05 21:57] pkanher617 commented on #3391
@przemos The OIDCStrategy and BearerStrategy are meant for different scenarios, which is why they have different configurations, but I agree that we should be allowing for override of key options. We will address this in the new version of the middleware library.

[2021-04-05 22:50] tnorling commented on #3240
@maartenstelling As mentioned above, AAD has a known behavior where it drops session cookies on browser close, which is likely the cause of this. The presence of these cookies indicates that the user had previously signed in and trusts the application that sent them to AAD and therefore trusts the url they may be redirected back to after sign out. Without these cookies post logout redirection will

[2021-04-06 00:13] #3059 closed

[2021-04-06 02:24] Madhufuture commented on #3314
@jasonnutter , Could you please suggest us any other solution apart from moving to MSAL 2.x?

[2021-04-06 05:42] kwoxer commented on #3151
Well it works for me since weeks now, but its still not a super secure solution with the cookie workaround. But I cannot see someone with a more advanced solution. Is that right?

[2021-04-06 10:35] johnvittneyk opened #3394 "acquireTokenSilent method is not fetching the token from cache (localStorage) . As a result multiple token requests are triggered on page load impacting the over all application performance."
### Core Library

@azure/msal-browser

### Core Library Version

2.11.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.11.2

### Description

MSAL caches a token after it's been acquired.  Application code should first try to get a token silently from the cache before attempting to acquire a token by other means.

But in our case, this is failing and directly acquiring token

[2021-04-06 11:13] AyaanRanosys opened #3395 "acquireTokenSilent unable to renew token (idToken) after certain time"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.6

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are trying to renew idToken just before (x minutes) it get expired. We are able to perform the renew token operation by using acquireTokenSilent method. But it's start failing after a certain time (20-23 minutes approx) and application

[2021-04-06 12:22] Gyalomalom commented on #3367
Also, I would like to mention that the access token is properly removed from the url, only the id token is saved for some reason.

[2021-04-06 13:15] rvaitkus23 opened #3396 "MsalProvider gives Content Security Policy directive: "script-src 'self'" error"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

When I add `<MsalProvider instance={msalInstance}>` I get a "Content Security Policy" error and my app is not loading anymore.
Locally it works fine, but after build and serve it on the Nginx docker container in Azure infrastru

[2021-04-06 13:55] ccosmincc commented on #3208
any updates?

[2021-04-06 15:29] jasonnutter commented on #3396
@rvaitkus23 Can you please confirm that you have deployed a production build (as opposed to development build) of your app? That is the only thing that comes to mind as to why you would get this error.

[2021-04-06 15:36] rvaitkus23 commented on #3396
@jasonnutter yes. The process of deployment is to make a build, move it to the Nginx docker and serve as static files. Using Ejected CRA. React version `17.0.1`.

Does that make a difference?

[2021-04-06 15:37] jasonnutter commented on #3394
@johnvittneyk Please capture and share logs from MSAL, as that will help us debug this issue.

Also, please see if you can reproduce this issue with one of our samples, if possible.

[2021-04-06 15:57] jasonnutter commented on #3314
This is likely due to your app being throttled for making too many requests in a short period of time. Please provide correlation IDs (and timestamps) so we can look up server logs to confirm.

Are you using hash routing? If so, you should add routes for keywords that appear in MSAL responses (e.g. `state`, `access_token`, `error`, etc).

[2021-04-06 15:58] sameerag commented on #3395
@AyaanRanosys This error:

Correlation ID: f8259bb8-79a6-416c-83d5-fb8f66346311
Timestamp: 2021-04-06 10:39:20Z

would mean that the Server returned this error. We, as the client library, throw the error back to the user as is. This happens if the server session is expired and MSAL JS cannot ideally control it.

I also see a couple logs that may indicate you are always trying to go to the network

[2021-04-06 16:08] #3333 closed

[2021-04-06 17:51] jasonnutter commented on #3378
@coreyleelarson @workingtitledk I've been unable to reproduce the lack of redirection with our Angular 11 sample in Edge and Chrome. Can you please share a Fiddler trace demonstrating this behavior? Email in my profile.

Also, are 3p cookies enabled or disabled in these browsers?

[2021-04-06 18:18] jasonnutter commented on #3396
@rvaitkus23 The MSAL React library does not use `eval` anywhere, so it must be in a dev dependency. Do you have a live url you can share where I can see this error? Email is in my profile, thanks!

[2021-04-06 18:58] jasonnutter commented on #3396
@rvaitkus23 Thanks for sharing. It looks like this is being trigger by [regenerator-runtime](https://github.com/facebook/regenerator/blob/3c485a0cf52cbd43dfddc33f83a84c6d8e0caf6f/packages/runtime/runtime.js#L748). Please see [this issue](https://github.com/facebook/regenerator/issues/378) for a potential work around.

@AndrewCraswell Did you end up figuring out how to disable strict mode with CRA?

[2021-04-06 19:44] bbarnwell commented on #3330
I have determined that the issue is a conflict between MSAL and Infopath on a Sharepoint 2013 page. When our SPA page loads and the page includes an Infopath form, there is some sort of conflict that prevents acquireTokenSilent from acquiring a token. Anyone else run into this?

[2021-04-06 20:45] sameerag commented on #3346
@NickLiffen Any update? We haven't yet reproduced this, would like to know if this is still happening on your end.

[2021-04-07 02:41] jonatansantana opened #3403 "Localhost Token not accept by Graph API"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.2

### Description

When using a token generated by azure ad through msal to query data in the API "https://graph.microsoft.com/v1.0/me", it does not work.

I always get error 400 with a message like this:

This occurs only in the localhost environment.

[2021-04-07 04:51] AyaanRanosys commented on #3395
Let me try with `forceRefresh: off`, I will update you further over it.

It is not possible to migrate to v2 at the moment. The application is in React, we are waiting for [@azure/msal-react](https://www.npmjs.com/package/@azure/msal-react) stable release. We will migrate to it once it's production ready as it's based on v2.

[2021-04-07 05:17] AyaanRanosys commented on #3395
I have tried using `forceRefresh: off` but still facing the same error after approximately same interval of time.

**Following are the new logs:**
[MSAL] Wed, 07 Apr 2021 05:09:06 GMT:1.4.6-Verbose AcquireTokenSilent has been called
[MSAL] Wed, 07 Apr 2021 05:09:06 GMT:1.4.6-Verbose Telemetry Event started: d6e23176-7708-4274-a851-8e5948991c22_4643305c-66c3-4fad-8571-c130b29bbfb7-msal.api_event
[M

[2021-04-07 05:27] sidyes commented on #3292
Any help/recommendation for this problem @jo-arroyo  @jasonnutter ?

[2021-04-07 07:50] NickLiffen commented on #3346
Hey @sameerag sorry for not responding 🤦 That's on me!

So this doesn't work:

[code]

However, I got it to work by doing this:

[code]

However, I don't think this is a perfect solution. I think you are right that `AuthenticationResult` could respond with `null`. . But I don't know a use case where I would have `null`. Shouldn't it just check for type `AuthenticationResult`. If that makes sense?

[2021-04-07 08:33] svrooij opened #3406 "Allow extending MsalGuard"
### Core Library

@azure/msal-browser

### Wrapper Library

@azure/msal-angular

### Description

The MsalGuard works great for basic usecases, but sometimes you just need a small change. At the moment you'll need to copy all the code from the MsalGuard into a new Guard. It would be great if the [activateHelper](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2203c4cff38131

[2021-04-07 08:49] mylle opened #3407 "MSAL on safari/iphone"
### Core Library

@azure/msal or msal

### Core Library Version

1.2.2-beta.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.1

### Description

Hi,

Is there already a fix to use this library on safari/iphone?
Now you can't login due to the cross-site tracking:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari

Thank you.

#

[2021-04-07 09:15] gridpatrik commented on #3363
Is there an external issue tracker, related to B2C, on this?

[2021-04-07 09:30] sameerag commented on #3363
@gridpatrik

* The bug is now rolled back and being deployed to customers.
* The fix is coming in a week, and will be rolled out soon.

I will check with the service team if there is an external tracker, nevertheless, you can check here for updates. We have an internal issue filed on the b2c service team and tracking it.

[2021-04-07 11:07] rvaitkus23 commented on #3396
Thank you @jasonnutter . the issue is triggered in regenerator-runtime. However, the described workaround does not look acceptable. For now, I am implementing my own simple wrapper and will not use '@azure/msal-browser' till it will be solved.
I liked how it works, but can't use it as it is now.
You can close or leave this issue for tracking.
Thanks

[2021-04-07 12:32] enaSo97 opened #3408 "Infinite redirect on loading page."
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

I am following the "microsoft-authentication-library-for-js" - react-router-example using B2C. On the example it safely lands on homepage but in my case, it infinitely reloads on homepage. When I removed the `onClick={instance.

[2021-04-07 13:58] enaSo97 commented on #3408
So I fixed my infinite reload issue by changing onclick function to `onClick={() => instance.loginRedirect(loginRequest)}`

But now, I am getting network error when I SignIn.
[code]

[2021-04-07 15:03] enaSo97 commented on #3408
It's not an error with msal.

Just had to change to `onClick={() => instance.loginRedirect(loginRequest)}`

Closing the issue

[2021-04-07 15:03] #3408 closed

[2021-04-07 15:13] enaSo97 opened #3409 "B2C loginRedirect invalid_request error"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

When sign in button is clicked the loginRedirect is called and I am able to put down my email and password but when it redirects to homepage authentication has failed and I get this network error.
[code]

I've registered the ap

[2021-04-07 15:29] jasonnutter commented on #3396
Out of curiosity, did you try the workaround, it worked, but not find it acceptable from a code perspective, or did the workaround not fix the issue?

[2021-04-07 15:31] jasonnutter commented on #3406
@svrooij Thanks for filing, we'll take this into consideration.

[2021-04-07 15:54] rvaitkus23 commented on #3396
I don't have much knowledge about regenerator-runtime. I gave a couple of shots adding `globalThis.regeneratorRuntime = undefined` in `index.ts` and even `index.html`. Also I am not sure about the consequences of disabling `regeneratorRuntime`.
I am a bit short in time so for me faster would be use `@azure/msal-browser` without `@azure/msal-react`, despite I have to reimplement, some useful stuff

[2021-04-07 16:09] sameerag commented on #3407
@mylle If you are using `msal v1`, currently the only workaround is to login with interactive flow. `msal v2` helps with this use case and we also generally recommend to move to the latest msal version and in your case, the latest angular library can be referenced [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular)

[2021-04-07 16:14] sameerag commented on #3409
Can you please confirm that your app is registered as a `SPA` type and the redirect URI is correct? The guidance to do that is available [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-spa-implicit-to-auth-code#switch-redirect-uris-to-spa-platform), can you please confirm this and reach out?

[2021-04-07 16:29] jasonnutter commented on #3396
@rvaitkus23 I see, thanks. We'll put this in the backlog to investigate to see if there is anything we can do in the library to mitigate this issue. cc: @tnorling

[2021-04-07 16:54] derisen commented on #3409
@enaSo97 please uncheck the boxes for ID and access token under implicit flow section, as your package does not support implicit flow

[2021-04-07 17:33] tnorling commented on #3248
Found that the page used as `redirectUri` is also invoking `ssoSilent` and application code is adding the current url to `state` resulting in an iframe within an iframe with the 2nd iframe being returned to a url that has 2 codes in it: the `code` returned from the server and the `code` from the first iframe that was added to `state`. This resulted in a mismatch when exchanging the code for a toke

[2021-04-07 17:48] jasonnutter commented on #3292
@sidyes Apologies for the delay in responding.

I can't reproduce the infinite loops, as this was fixed in the latest version of MSAL Angular, I believe. What I can reproduce is that when using hash routing, if the MSAL Guard is put on the `code` route, if the user is not logged in and attempts to navigate to another protected route (e.g. `/profile`), after logging in they end up on the code route

[2021-04-07 18:40] jasonnutter commented on #3306
@mdarefull Apologies for the delay in responding.

First, using a separate `/auth` route is not a requirement. Per the documentation you linked to:

(emphasis mine)

This is a recommendation, but not a hard requirement. You are free to use any page (e.g. your home page) as the redirect, and we want to support both scenarios in MSAL Angular.

This is intended. We would not expect a user to manually

[2021-04-07 19:03] enaSo97 commented on #3409
@sameerag
![image](https://user-images.githubusercontent.com/32780832/113920047-460a8700-97b2-11eb-8e89-3b1a67510e54.png)
I have the application type set as SPA

[2021-04-08 03:19] senal opened #3413 "Error InteractionRequiredAuthError: invalid_grant: AADSTS65001: The user or administrator has not consented to use the application with ID"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

I have a SPA application configured with AAD to authenticate users.
I followed the below implementation in my application.
https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo

The SPA and Web

[2021-04-08 05:09] vinusorout opened #3414 "Access Token generated with version 1.0, is it expected?"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.3

### Description

Access token generated for the resource is in version v1.0.

### MSAL Configuration

[code]

### Relevant Code Snippets

_No response_

### Identity Provider

Azure AD / MSA

### Source

Internal (Microsoft)

Hello Team,

I h

[2021-04-08 07:21] kimrunar opened #3415 "MacOS Big Sur v11.2.3"
### Core Library

@azure/msal or msal

### Core Library Version

2.9.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

1.1.1

### Description

Users on Macs that are updated to the new version of MacOS is not able to log in. Seems that they are not able to aquire any token.

### Error Message

main.c0151afc310d72671d09.js:1 ERROR Error: Uncaught (in promise): RangeError: Ma

[2021-04-08 07:41] web265p3 opened #3416 "Add login hint to msal-angular when using HttpInterceptor"
### Core Library

@azure/msal or msal

### Wrapper Library

@azure/msal-angular

### Description

It can be useful to add a login hint (in my case if the app runs in MS Teams and some basic user info is known)
How can a login hint be added easily when using msal for angular with an Interceptor?
I am talking about this function: https://azuread.github.io/microsoft-authentication-library-for-js/ref/

[2021-04-08 07:56] vinusorout commented on #3413
We faced this same issue, when we were trying to open a different app inside a app using iframes. You need to give admin consent for the application. Use following url using an admin user:
https://login.microsoftonline.com/<tanat_id>/adminconsent?client_id=<client_id of your application>

From the popup click "Accept", if need to for all the user check the check box "Consent on behalf of your orga

[2021-04-08 08:20] mylle opened #3417 "Problem updating v1.1.1 to v2.0.0"
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.3

### Description

Hi,

I tried updating my project to v2 (as adviced in previous question) but I'm stuck with an error.
To be honest, I'm not an expert, but average at most in Angular.

I tried replacing my code with the new code. Also I'm usi

[2021-04-08 09:23] vinusorout commented on #3414
Seems like this is expected, as I check one of the sample in that too, token used while getting the profile, has ver 1.0.
Could you please provide more details why it is different for Id Token and Access Token?

[2021-04-08 11:06] murrayw24 commented on #3363
This is currently causing intermittent auth problems in our environment

[2021-04-08 11:07] enaSo97 commented on #3409
Removing implicit flow and configuring the registration policy to allow public clients solved the issue.

Thanks!!

[2021-04-08 11:07] #3409 closed

[2021-04-08 11:47] RomaRathi commented on #3382
Resolved.
By setting the correct audience.

[2021-04-08 11:47] #3382 closed

[2021-04-08 12:07] senal commented on #3413
@vinusorout ,
Thanks for this.
You mean to say that I have to use the `authority: '...',` uri as per the sample stated by you? Obviously with the respective values.
Please advise.

[2021-04-08 12:22] mdarefull commented on #3306
@jasonnutter There's nothing to apologize for!

Let's clean the discussion a little bit... there are a lot of mixed topics...

First, I think my project is not a particular one. Its only characteristics are that it uses Path routing (the default) and it requires authenticated user access. There are many members-only sites that should have these requirements. So, I would say that we could start by

[2021-04-08 12:33] mdarefull commented on #3306
As for the routes and component discussion... my point is that I don't think providing a component is a good design.

Components are meant for presentational logic. Handling the redirect observable (the core part of the MSAL usage) should be responsibility of a service and has no presentational responsibilities.

In Angular, application initialization and component renderization are separate stage

[2021-04-08 12:53] mdarefull commented on #3306
And as my last, but not least, important comment let's consider ease of use. I work for a consultancy company and we have many projects, we mainly focus on Azure technologies. Many of my coworkers have tried to use MSAL, followed the official documentation and then they stumble with all these details. They are no AD/MSAL expert, to most of them all these moving parts are very complex. It feels fru

[2021-04-08 15:59] jasonnutter commented on #3416
@web265p3 Unfortunately, this is not possible in MSAL Angular v1. It is possible in MSAL Angular v2 via the `authRequest` property which enables you to pass additional parameters to the underlying `acquireTokenSilent` call: https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_angular.html#msalinterceptorconfiguration

You can use the `setActiveAccount` API to s

[2021-04-08 16:15] sameerag commented on #3417
@jo-arroyo Will you be able to help @mylle here?

[2021-04-08 16:20] sameerag commented on #3415
@kimrunar Is it possible to share fiddler  and the browser logs here? This looks like a polyfill related issue and not a MSAL related one.

One more thing that confused me is that the wrapper library used for angular should be v2 instead of v1 if you are based on the core library msal v2; can you please check our angular docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-j

[2021-04-08 16:21] jo-arroyo commented on #3417
Hi @mylle, have you bootstrapped the `MsalRedirectComponent`? Interaction_in_progress errors are usually related to improperly handled redirects. See our [redirect doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) for more details on how to handle your redirect.

[2021-04-08 16:24] svrooij commented on #3414
The application registration in Azure AD determines the expected version for the access token. If not specified it defaults to a v1 access token.

This is build because you can also have the client application registration in a different tenant (when using some thirth party api). It would be inconvenient if the client application can determine the token version for the api.

So when calling the gr

[2021-04-08 16:26] sameerag commented on #3414
Thanks @svrooij! @vinusorout  please let me know if you need anything else.
Also do you guys think you will benefit from adding this detail in the docs in this repo?

[2021-04-08 16:38] sadasant commented on #3336
@sameerag you helped me clarify this over chat, but just for the record: to recover an account from the cache, only the homeAccountId matters. Is that correct? If that's the case, since that's what's being used on other languages too, we can close this issue.

Thank you for your time!

[2021-04-08 16:41] sameerag commented on #3336
@sadasant Yes. Your understanding is correct. Closing this issue.

[2021-04-08 16:41] #3336 closed

[2021-04-08 16:49] vinusorout commented on #3414
Thanks @svrooij, I will try the step ! @sameerag  I have two applications in my azure portal:
1. test-msal-2, for which Authentication mode is enabled and is exposing an API too with a scope:
<img width="736" alt="scope" src="https://user-images.githubusercontent.com/27411868/114063968-cc0ff600-98b6-11eb-8e3d-3eda0cea5c57.PNG">

Currently I haven't configured any API permission on this app, except

[2021-04-08 16:52] vinusorout commented on #3413
@senal

Yes the authority: '...', part from your configuration plus  **/adminconsent?client_id=** and plus your application id.

[2021-04-08 16:59] mojanas commented on #3189
Is there any update on when this documentation will be available?

[2021-04-08 17:15] sameerag commented on #3375
Apologies for the delay @dilin-MS, I am trying to reproduce this on my end and will reach out once I am able to reproduce and debug it.

[2021-04-08 17:19] svrooij commented on #3414
Delegated permissions van also be granted by the first application that
tries to access. You don't need to grant that permission ahead of time.

On Thu, 8 Apr 2021, 18:50 Vinay Sorout, ***@***.***> wrote:

[2021-04-08 17:26] vinusorout commented on #3414
Thanks @svrooij , but I didnt get this! As I havent configured the permission in any of my application, it should fail otherwise why do we need to add API permissions!
As explained here https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis

Is there a way to restrict Azure to create Access Token until unless the client Application has delegated pe

[2021-04-08 17:42] sameerag commented on #3403
@jonatansantana This looks like the `token` generated in this case is not a valid one for the `graph` API to accept. `msal js` does not generate the tokens itself, it passes the token granted by STS (secure token service) to the app;

Can you expand on the scopes used to generate this token? All our samples work for `localhost` redirect URIs, so I am not sure what is going on here.

[2021-04-08 17:44] cheslijones opened #3418 "Prevent child components loading numerous times"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.0

### Description

Basically child components of `<AuthenticatedTemplate>` are being loaded multiple times which hits my API each time. I'm trying to prevent this so it only happens once.

### MSAL Configuration

[code]

### Relevant Code Snippet

[2021-04-08 17:52] rayterrill opened #3420 "msal-react and the PKCE auth flow are incompatible with AzureAD App Proxy"
### Core Library

@azure/msal or msal

### Wrapper Library

@azure/msal-react

### Description

Work with the AzureAD App Proxy team to ensure the new PKCE/SPA flow works with AzureAD App Proxy. Currently these are not compatible because of the way App Proxy works and modifies authentication methods.

### Source

External (Customer)

[2021-04-08 18:03] svrooij commented on #3414
By configuring the permissions ahead of time, they show up in the consent screen at login. By not adding them you can do what you call step up authentication.
First you just give permissions to seeing the profile, and if you want to access the calendar you do a new auth request with additional scopes.

What you want is app roles. That way you can restrict access to certain client apps.

[2021-04-08 18:06] tnorling commented on #3248
Closing as resolved offline. Please open a new issue if you have further questions. Thanks!

[2021-04-08 18:06] #3248 closed

[2021-04-08 18:10] jasonnutter commented on #3420
@rayterrill Thanks for filing this issue. Can you please provide more details on what doesn't work? This is the first I'm hearing about incompatibility here.

cc: @hpsin

[2021-04-08 18:19] rayterrill commented on #3420
Here’s what the Authentication tab in App Registrations looks like for my app prior to adding AzureAD App Proxy. Note that the only “Platform” I have configured is the “Single-page application” platform:
![image](https://user-images.githubusercontent.com/4378762/114076538-9f7ac080-985b-11eb-8779-5fcb71d1493f.png)

Everything works great.

I go in and configure AzureAD App Proxy for my app, and Sav

[2021-04-08 18:26] rayterrill commented on #3420
@jasonnutter I mostly wanted to add this as a note in case others run into this same scenario - this def took a while to track down what was happening.

[2021-04-08 18:35] jasonnutter commented on #3420
@rayterrill Great, thanks! I'll follow up internally and let you know if we can provide any additional guidance.

[2021-04-08 18:37] rayterrill commented on #3420
Thank you! Working with the library has been great!

[2021-04-08 18:53] JosephThomas commented on #2884
I actually noticed this functionality was removed from the code in PR #2290

"Removes logic to attempt to reuse an iframe based on scope, in the interest of simplicity in the library."

[2021-04-08 18:57] thoo1 commented on #2884
I ended up implementing it in a wrapper function like @jacknewberry did. I have some map that's keyed by the scope and authority (am I missing anything else?), and the map stores and returns any existing promise for an `acquireTokenSilent` call.
But yes, if we could have this by default in the library, that'd be much appreciated!

[2021-04-08 20:03] jasonnutter commented on #2884
Correct, it was removed because it was causing other issues. We are planning to look at readdressing this in v2.

[2021-04-08 20:14] jasonnutter commented on #3418
@cheslijones A couple of things to point out:

1. `<React.StrictMode>` will render your app multiple times in development: https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects
2. I don't think we would recommend invoking `acquireTokenSilent` on every render. Instead, proactively invoke it inside a `useEffect`, or reactively as a result of user interaction (as a result of tri

[2021-04-08 21:45] #3270 closed

[2021-04-08 21:52] pkanher617 commented on #3423
We will address this in the new version of the passport-azure-ad library.

[2021-04-08 22:55] senal commented on #3413
@vinusorout,
Thanks for the info. I will check this and let you know.

[2021-04-08 23:03] cheslijones commented on #3418
@jasonnutter Thanks for pointing those two things out.

I did remove the `<React.StrictMode>` for testing purposes and refactored the logic where the call to my API is, into a `useEffect`. This has reduced it down to two API calls:

[code]
I'm looking at a reactive implementation that somehow doesn't involve the user's interaction. I'd rather it be an automatic "you're signed in" or redirect to si

[2021-04-08 23:35] tnorling commented on #3418
@cheslijones Can you try giving your useEffect an empty dependency array as per [react docs](https://reactjs.org/docs/hooks-effect.html#tip-optimizing-performance-by-skipping-effects)?

This should ensure it's only called once per component mount whether or not you have Strict mode turned on.

[2021-04-09 00:13] #3200 closed

[2021-04-09 00:13] #3113 closed

[2021-04-09 00:13] #2891 closed

[2021-04-09 06:24] mylle commented on #3417
Hi @jo-arroyo, I did not, as I didn't see it in the Angular 9 V2 example.
I added the component to the bootstrap of app.module.ts
`bootstrap: [AppComponent, MsalRedirectComponent]`
Now when visiting my page, I'm getting 2 of the same errors instantly:
ERROR Error: The selector "app-redirect" did not match any elements

I tried clicking my login button, but the same thing happens.

I forgot to ment

[2021-04-09 06:30] mylle commented on #3417
Hi @jo-arroyo , I also tried to change the InteractionType to Popup and I got these errors in console:
![image](https://user-images.githubusercontent.com/18067020/114138310-be398f80-990d-11eb-8f54-9b07789a0813.png)

[2021-04-09 06:58] kimrunar commented on #3415
Ok, so i guess i use an outdated version?
So i follow the docs you provided and try to upgrade to v2.
my current versions are :
 "@azure/msal-angular": "^2.0.0-beta.3",
  "@azure/msal-browser": "^2.13.1",

What i struggle with at the moment is - all your samples are with a PublicClientApplication. I have a web-application..

My appmodule is as following, before i tried to upgrade.

[code]

- How d

[2021-04-09 09:53] vinusorout commented on #3414
Thanks @svrooij , your solution for the token version works fine. @sameerag yes it will be good if you can document this in this repo!

I want to know which version does Microsoft recommend Access Token with v1.0 or with v2.0? and what is the future of v1.0 access token? Will Microsoft deprecate these v1.0 access tokens in future?

[2021-04-09 10:18] svrooij commented on #3414
@vinusorout  I disagree with you that the access token version should be documented in this library. The official [Azure AD Documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-acquire-cache-tokens#authentication-results) is pretty clear about it.

If you ask me, you should just pick the one you like better for your API and stick with it. Since it's a configuration o

[2021-04-09 10:55] #3414 closed

[2021-04-09 14:34] cheslijones commented on #3418
That did the trick, I appreciate the help.

[2021-04-09 14:34] #3418 closed

[2021-04-09 15:57] bsrchalam commented on #3420
Been trying to get msal-angular to work with AzureAD AppProxy for weeks now with no luck and the same error. Hopefully this fix will resolve our issue too.

[2021-04-09 16:24] jo-arroyo commented on #3417
@mylle A few points:

The Angular 9 v2 sample does not use the `MsalRedirectComponent`, as it demonstrates the use of `handleRedirectObservable`. However, `MsalRedirectComponent` works in Angular 9 apps too. Our [samples readme](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples) shows what each sample demonstrates,

The `MsalRedirectCompone

[2021-04-09 16:49] ramchalamtci opened #3427 "msal delay during initial authentication"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.9

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.3

### Description

Trying to figure out why its takes couple of seconds for msal to authenticate for the first time and why I get
VM7:1 POST https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx/oauth2/v2.0/token 400 (Bad Request)

[2021-04-09 16:53] ramchalamtci commented on #3427
![image](https://user-images.githubusercontent.com/82177937/114214667-97da1b00-9932-11eb-8456-e910a9a0ce3f.png)

console log

[2021-04-09 17:53] deasems opened #3428 "msal-browser throws error code endpoints_resolution_error/openid_config_error"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

My app's error telemetry is showing MSAL's `endpoints_resolution_error` is the most common error for our users. From what I can tell MSAL throws this error if it can't load metadata during initialization. I'm unable to repro the error myse

[2021-04-09 18:09] will-bartlett commented on #3179
@brugh chiming in from the server side here, @tnorling shared your trace with me. The short answer is that your trace shows non-web-browser behavior. In particular, your trace shows two different user agents:
    User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; WebView/3.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.19042
and
    User-Agent: Mozilla/5.0

[2021-04-09 18:15] jasonnutter commented on #3427
@ramchalamtci It looks like you are using MSAL Angular v2, but are using MSAL.js v1, instead of MSAL.js v2. MSAL Angular v2 is intended to be used with MSAL.js v2 (aka MSAL Browser). Can you please switch to compatible versions and see if you still experience this issue?

[2021-04-09 18:30] jasonnutter commented on #3428
@deasems A simple mitigation you can try is to retry a request that gets this error (just retry once). I would be interested to know how often retrying fixes it. In lieu of a repro, correlation IDs of failed requests might be helpful for us to determine what went wrong.

[2021-04-09 18:57] tnorling commented on #3179
@brugh I missed the part where you mentioned you're trying to build an office add-in. Can you confirm? If so, we have a sample that demonstrates integrating msal.js with office [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3179) as there are some extra considerations. Can you check that out and let me know if that aligns with how you're trying to build your add-i

[2021-04-09 19:06] sameerag commented on #3208
@ccosmincc A little confused here.

* When you initially login, you do get back an [AuthenticationResult](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_common.html#authenticationresult)  that has the [AccountInfo](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_common.html#accountinfo) object. `AccountInfo` consi

[2021-04-09 19:08] ramchalamtci commented on #3427
@jasonnutter thank you! I don't get any errors now. But, auth still taking 7-8seconds.

app.module.ts:42 [Fri, 09 Apr 2021 19:04:18 GMT] :  : @azure/msal-browser@2.13.1 : Info - handleRedirectPromise called but there is no interaction in progress, returning null.
app.module.ts:42 [Fri, 09 Apr 2021 19:04:18 GMT] :  : @azure/msal-browser@2.13.1 : Info - Emitting event: msal:handleRedirectEnd
app.mod

[2021-04-09 19:08] deasems commented on #3428
Thanks for the tip @jasonnutter, we'll work on adding retry logic and check the success rate.

Is it possible to programmatically get correlation IDs for failed MSAL requests so we can send those in our telemetry? Currently we're logging the error object that MSAL provides which doesn't include a correlation ID.

[2021-04-09 19:12] sameerag commented on #3304
@DanielGorlo We do not return the `refresh_token` to the user, but they are indeed cached by the library, either `InMemory` which is the default or persisted in the filesystem. We provide a persistence solution with our [msal-node-extensions](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/extensions/msal-node-extensions) library which is currently in `Private Preview`

[2021-04-09 19:16] sameerag commented on #3318
@nickgmicrosoft Can you please help with this?

[2021-04-09 19:29] sameerag commented on #3332
@sadasant  We evaluated this request with the team and also checked keytar’s model of shipping the binaries. We decided we do not want to go that route – let’s take [keytar](https://www.npmjs.com/package/keytar) as an example: they ship [~90 binaries](https://github.com/atom/node-keytar/releases) per release today which is something we will not be able to sustain considering the OS and node versio

[2021-04-09 19:29] sameerag commented on #3335
Currently in our backlog and will mostly cover this in the next couple weeks.

[2021-04-09 19:33] sameerag commented on #3337
We currently do not have the bandwidth to test node8 and report the status. We also do not see the point in testing it later, as the support is already discontinued by the official Node.js release support. Is Azure SDK planning to discontinue `node 8` support?

[2021-04-09 19:39] sameerag commented on #3346
We added `strict null checks` in our code and hence had to support `| null` in cases where it applied. I do think that some of the changes can be refined and possibly remove this for certain return types, but this would need changes in a lot of code. We will take it up eventually and I will mark this as an enhancement in our backlog.

Hopefully we will get to it sooner than later :-)

[2021-04-09 19:45] sameerag commented on #3365
Closing this as this is a feature that will be tracked in the MSAL JS [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md). cc @jasonnutter, please add this when we have more clarity on the timelines for this.

[2021-04-09 19:45] #3365 closed

[2021-04-09 20:53] jasonnutter commented on #3427
@ramchalamtci Can you please increase loglevel to verbose and provide updated logs?

[2021-04-09 21:03] jasonnutter commented on #3428
@deasems You can generate your own correlation id and pass it into the request.

[2021-04-09 21:57] jasonnutter commented on #3330
@bbarnwell Based on the error it looks like it a potential clash with the `Set` class: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/56592a0082855e6395bd54fde77de24b772f7bea/lib/msal-common/src/request/ScopeSet.ts#L18-L29

I am guessing that some JS on teh page is adding a global `Set` class that is overwriting the built in `Set` class.

[2021-04-09 21:57] jasonnutter commented on #3340
This will be noted in the updated roadmap. Currently planned for May.

[2021-04-10 06:52] yingying96 commented on #3340
Noted with thanks!

[2021-04-10 06:52] #3340 closed

[2021-04-11 06:12] ccosmincc commented on #3208
@sameerag this is how my login looks like:
`async login() {
    const account = await authProvider.loginSilent();
    if (!account) await authProvider.login(mainWindow);
}`
where `authProvider.loginSilent()` is [this ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/67ab72d3b76f1e2c98bc2b1a36c73934c74b0a38/samples/msal-node-samples/standalone-samples/ElectronTestApp/src/Mai

[2021-04-11 14:11] sang17218 opened #3434 "cors error"
### Core Library

@azure/msal-node

### Core Library Version

2

### Wrapper Library

Not Applicable

### Wrapper Library Version

-

### Description

getting error:
Access to XMLHttpRequest at 'https://login.microsoftonline.com/{my-tenant-id}/oauth2/v2.0/token' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested

[2021-04-11 17:58] rayterrill commented on #3420
@bsrchalam That's exactly why I created this issue - banging my head against this and finally tracked it down. Was hoping to save others some time. ❤️

[2021-04-11 20:20] sameerag commented on #3224
@IIrafail Did you contact the dev team that manages @microsoft/mgt-electron-provider? @amrutha95 can you take a look?

[2021-04-11 23:04] c2r0b commented on #3434
I encountered the same error while using @azure/msal-react with a custom Authority

[2021-04-11 23:35] senal commented on #3413
Thanks @vinusorout,

I think we do have 2 AADs in place.
The solution you gave worked fine for one and not the otherone. I must reach out to our admins to find out the different behaviour of these 2 ADs.

Thanks for your help.

[2021-04-11 23:35] #3413 closed

[2021-04-12 05:25] AyaanRanosys commented on #3395
@sameerag

Any update here?

Let me know if you need anything from my side. Thanks.

[2021-04-12 07:57] mylle commented on #3417
Hi @jo-arroyo ,

I managed to get everything to work.
I also had to change my Azure App URL redirects to SPA (instead of Web) and then everything worked.

Thanks for all the help!

Kind regards,
Niels

[2021-04-12 07:57] #3417 closed

[2021-04-12 08:04] brugh commented on #3179
@tnorling yes, I'm trying to build an office add-in with msal2. Can you check the link you mentioned? it points to this issue, not a sample app :) Really curious what considerations that may be. I thought I worked around quite a few already 😛

@will-bartlett Seems indeed that the office add-in runs in v18 for some reason, but I have no control over that. Why would an auto-navigated Post from msal

[2021-04-12 12:59] kimrunar commented on #3415
Now i have set it up just like in the example but i get.

[Mon, 12 Apr 2021 12:55:30 GMT] :  : @azure/msal-browser@2.13.1 : Info - Emitting event: msal:loginStart app.module.ts:82:10
ERROR Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API.

and my ur

[2021-04-12 16:18] tnorling commented on #3179
@brugh Sorry about that! Try [this one](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React). You may also find [these docs](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/overview-authn-authz) about authenticating with office add-ins helpful. The main thing to be aware of is that you should be using the dialog API instead of side

[2021-04-12 16:25] amrutha95 commented on #3224
Hi @IIrafail! I'm curious to know what option is selected under "Supported Account Types" in your app registration on Azure.
![image](https://user-images.githubusercontent.com/22471775/114428111-a6ae1100-9b70-11eb-8a4b-b35ad85a05be.png)

Could you let me know if the third option is checked? (Accounts in any directory and personal Microsoft accounts)

[2021-04-12 16:58] deasems commented on #3428
@jasonnutter will that correlation ID be included in the error object for `endpoints_resolution_error` or would I need to keep track of the ID used for each request to send it to my telemetry if the request fails.

[2021-04-12 18:29] sameerag commented on #3434
@sang17218 I am a little confused about the use case here. CORS error is generally seen in the browser use case which matches with not registering a app as a `SPA` type and also registering a `redirectUri` in the same domain.

`msal-node` however shouldn't see this specific error. Can you please detail your use case, steps to reproduce, configuration and any other relevant details?

[2021-04-12 18:39] sameerag commented on #3428
@deasems We can add that I suppose, but under a conditional to not expose it by default to all users, in case some folks prefer otherwise. We have some work pending on correlation ids this quarter, we will consider this during the design.

[2021-04-12 21:24] tnorling commented on #2315
All, thanks for your patience. I've just received word from the B2C service team that the fix/feature for this issue is currently rolling out to production tenants and should complete over the next few days. If you're currently using the `ssoSilent` workaround please try updating your code to just call `acquireTokenSilent` over the next few days and let us know if you're getting back the access to

[2021-04-12 21:30] tnorling commented on #3363
All, the server team has notified us that the rollback for this bug completed this afternoon. Closing, but let us know if this is still an issue and we can reopen.

The bug for this was related to a feature to allow refresh tokens to be redeemed for different access tokens. If your application needs to use more than 1 access token and you are receiving a blank access token in the server response p

[2021-04-12 21:30] #3363 closed

[2021-04-12 21:57] sameerag commented on #2484
Added to the internal tracker. Closing.

[2021-04-12 21:57] #2484 closed

[2021-04-13 00:13] #3275 closed

[2021-04-13 00:14] #3036 closed

[2021-04-13 08:06] dfibuch commented on #2315
Fantastic! I am currently off this project but will address it once back on. Thank you for the update.

[2021-04-13 09:53] enima2684 commented on #2600
@sameerag Can you please provide an example of the ``INetworkModule`` implementation with a proxy ?
Many thanks !

[2021-04-13 12:58] IIrafail commented on #3224
@amrutha95 This is the option I have selected. It turns out that if I try to login a second time it then shows me a message that I need administrator permission. Not sure why it didn't show the first time. I later found out [here](https://stackoverflow.com/questions/66749567/admin-aproval-required-even-for-basic-microsoft-graph-permissions) that even for basic permissions like calendar organizatio

[2021-04-13 13:51] bbarnwell commented on #3330
Thanks. It was definitely the InfoPath form on the same page that caused the error. However, I have fixed this by putting the InfoPath form in an iframe on the same page and now I have a redirect loop issue - the page keeps reloading.

[2021-04-13 14:15] kartikchandra14 opened #3439 "ERROR Error: Uncaught (in promise): ClientConfigurationError: No redirect callbacks have been set. Getting Error when try to call API of Login !!"
### Core Library

@azure/msal or msal

### Core Library Version

^1.0.0-beta.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

 "^1.0.0-beta.4"

### Description

when i try to login using Microsoft login pop up !!
i stuck with this !!

Package.json contain:
  "msal": "^1.2.1",
   "@azure/msal-angular": "^1.0.0-beta.4",

### Error Message

ERROR Error: Uncaught (in promise):

[2021-04-13 14:46] AndreasHellmiss opened #3440 "MsalGuard navigates to wrong Path"
### Core Library

@azure/msal or msal

### Core Library Version

1.4.4

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta.3

### Description

MsalGuard secures routes. If I want to open a specific route directly e.g.: http://localhost:4200/#/test/10, then I get loggd in successfully, but I get redirected to http://localhost:4200/#/home. I can see that it redirects s

[2021-04-13 15:01] sameerag commented on #3380
@sadasant As discussed offline, added an internal tracker and tagged you. Closing this.

[2021-04-13 15:01] #3380 closed

[2021-04-13 15:21] jasonnutter commented on #3440
@AndreasHellmiss First, to confirm, you are using MSAL.js v2, not v1?

Second, it looks like you do not set an explicit redirect uri, which means MSAL will use the current page. All of your pages use the MSAL Guard, and there is a known issue that when hash routing is used, this problem can happen if the guard is used on the page used for the redirect URI. Please see: https://github.com/AzureAD/mi

[2021-04-13 15:24] jasonnutter commented on #3439
@kartikchandra14 The error message describes the problem and solution. Your app needs to implement `handleRedirectCallback` when using the redirect methods.

Furthermore, it looks like you are using old versions of MSAL and MSAL Angular. We highly recommend looking at upgrading to MSAL.js v2 and MSAL Angular v2.

[2021-04-13 15:48] jasonnutter commented on #3330
@bbarnwell The entire page keeps reloading, or the iframe? Can you please share logs from MSAL?

[2021-04-13 16:00] jasonnutter commented on #2974
Reopening, will updating our list of known issues to include this.

[2021-04-13 16:38] bbarnwell commented on #3330
Thanks Jason. The entire page keeps reloading. I'll try to get some logging set up...

[2021-04-13 17:21] jasonnutter commented on #3428
You will need to keep track of it.

[2021-04-13 17:26] jasonnutter commented on #3415
@kimrunar Please provide complete verbose logs. `interaction_in_progress` means your app is attempting to make an interactive request while another request is still in progress.

Are you saying you have a confidential client application?

[2021-04-13 17:32] jasonnutter commented on #3395
@AyaanRanosys First, `forceRefresh` should be set to `false` (or not included), not `off`. Second, if you receive that error, it means the user no longer has an active session, and your app needs to perform interaction to resolve.

Third, we do not recommend proactively renewing tokens, as it introduces complexity into your application and can result in problems, such as the issue you describe her

[2021-04-13 17:42] jasonnutter commented on #3381
@badsyntax That is correct syntax.

@nickgmicrosoft @ktsakas Is it expected that ID token claims won't be updated until the user initiates a new session (i.e. logout or login)?

[2021-04-13 17:46] jasonnutter commented on #3330
@bbarnwell I'm guessing your app is attempting to do something (e.g. inspecting cached accounts) before the previous request is processed. When using redirects, you should invoke `handleRedirectPromise` and not perform any MSAL actions until that promise is resolved.

[2021-04-13 17:53] ramchalamtci commented on #3427
Verbose log attached.

[localhost-1618331037551.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/6305749/localhost-1618331037551.log)

[2021-04-13 17:55] jasonnutter commented on #3318
@azuregurus What version of MSAL.js are you using? Can you please try updating the latest?

Timeouts can happen for many reasons. Can you try debugging MSAL and see if you can determine what is happening to cause the timeout? Is the iframe not getting redirected back to your redirect URI? Or is it being redirected, but something else is causing the library to timeout?

[2021-04-13 18:07] teresahoes opened #3442 "When using Signup/Signin user flow w/ MSAL 2.0 - when user cancels they get blank page"
### Core Library

@azure/msal or msal

### Core Library Version

2.13.0

### Wrapper Library

@azure/msal-angular

### Wrapper Library Version

2.0.0-beta

### Description

i have set up the user flow b2c as per the sample with angular 11. Everything works great, except when the user cancels the signup box, or the reset password flow - they are redirected back to the application and the page is bl

[2021-04-13 18:10] jasonnutter commented on #3118
Apologies for the delay, we'll look into this and follow up if we need more information.

[2021-04-13 18:25] jasonnutter commented on #3283
@jakehockey10 Apologies for the delay in responding. Can you share how you have your application configured in teh Azure Portal? Are you redirect URIs set to SPA? Do you have the implicit flow boxes checked or not? Is "Allow public client flows" enabled or disabled?

[2021-04-13 18:32] jasonnutter commented on #3042
Closing. If you get this error, please make sure your application is waiting for any interaction to complete before invoking (directly or indirectly) subsequent MSAL operations. For redirects, see this doc: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md

[2021-04-13 18:32] #3042 closed

[2021-04-13 18:37] jasonnutter commented on #3151
@kwoxer Using a cookie seems like a fine approach. Can you clarify whe you don't consider it secure? You can mark the cookie as secure and http only. Furthermore, `homeAccountId` is just an identifier, and it cannot be used alone to authenticate.

If you still have concerns with storing it in an http only secure cookie, you can encrypt it before you put it in the cookie, and decrypt when reading (

[2021-04-13 18:39] jasonnutter commented on #3189
@mojanas Not yet, unfortunately.

[2021-04-13 18:42] jasonnutter commented on #3228
Closing, as no further action needed at this time.

[2021-04-13 18:42] #3228 closed

[2021-04-13 18:45] jasonnutter commented on #3284
Closing, let us know if you have further questions.

[2021-04-13 18:45] #3284 closed

[2021-04-13 18:47] bbarnwell commented on #3330
Thanks. Actually, I just realized that on the page I'm loading in the iframe, it is also loading MSAL js file and attempting auth in the iframe.  Just caught this in my DEV environment.

``Uncaught (in promise) BrowserAuthError: redirect_in_iframe: Code flow is not supported inside an iframe. Please ensure you are using MSAL.js in a top frame of the window if using the redirect APIs, or use the po

[2021-04-13 18:53] jasonnutter commented on #3330
@bbarnwell Yep, pages that are loaded inside iframes cannot auth via redirects. Apps running in iframes can only silent and popup based requests.

[2021-04-13 18:56] jasonnutter commented on #3442
@teresahoes Can you please clarify, are you using MSAL.js v1 (`msal`) or MSAL.js v2 (`@azure/msal-browser`)?

Are there other errors in the browsers? Can you please share verbose logs from MSAL?

[2021-04-13 19:05] teresahoes commented on #3442
Hi @jasonnutter -- thanks!!
Here are my versions.
    "@azure/msal-angular": "^2.0.0-beta.2",
    "@azure/msal-browser": "~2.13.1",

Here is the verbose log from the following actions:  hit home page to prompt login, select 'signup', hit cancel on the signup dialog.

[Tue, 13 Apr 2021 19:02:49 GMT] :  : @azure/msal-browser@2.13.1 : Verbose - Event callback registered with id: 035bfb10-472a-474b-b7

[2021-04-13 19:20] AyaanRanosys commented on #3395
@jasonnutter

Thanks for the response.

My comments are as follows:

I did used `forceRefresh: false` not `forceRefresh: off `, Just replied in the same terminology as @sameerag

I totally get that thanks, but just want to know how user session is getting expired (or Session going inactive) even when user/app has requested for token and has successfully renewed it just a few minutes ago.

Is there

[2021-04-13 22:40] jaunusa opened #3444 "No Parameters in validation callback when using yarn workspaces"
**Do you want to request a feature or report a bug?**

Bug

**What is the current behavior?**

Currently moving a project from npm to yarn, because I want to use yarn workspaces. After finishing the whole workspace setup, I realized the validation callback in PassportStrategy(OIDCStrategy) is called without parameters (sub, profile, accessToken, refreshToken, params) after successfully proceeded A

[2021-04-13 22:42] sameerag commented on #3444
Since the current version is in maintenance and only security fixes are being actively pushed, we want to handle this in the new version of the library. Marking this as an enhancement to track (yarn support)

We are currently in the design phase of a new version of this library, which can be tracked [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/9). The timeline

[2021-04-13 22:46] ylambda opened #3445 "[question] Is AD FS still possible?"
I'd like to use this library to support clients using Azure AD or AD FS. The first paragraph of the readme says SAML (and subsequently AD FS) is supported. Took me a while to find that SAML is no longer supported in the changelog. I might be misunderstanding what SAML-P is, searching the internet only brings up SAML Protocol.

Is it possible to use this library to support both Azure AD and AD FS a

[2021-04-13 23:04] sameerag commented on #3447
#3399

[2021-04-14 01:09] senal opened #3451 "Error ClientAuthError: no_tokens_found: No tokens were found for the given scopes, and no authorization code was passed to acquireToken. You must retrieve an authorization code before making a call to acquireToken()."
### Core Library

@azure/msal-browser

### Core Library Version

2.13.1

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

Before any calls to our backend API, we retrieve a token from msal library. to be sent in the request header.

`instance.acquireTokenSilent({
      ...{scopes: ["openid", "profile", ...config.config.resourceScopes]},
      acco

[2021-04-14 04:02] benjamincburns commented on #3446
Yes, I'd be looking for a way to automatically call the `admin_consent` endpoint when necessary.

That said, my project has migrated over to .NET, so I won't be able to verify any changes made based on this issue.

[2021-04-14 06:10] kwoxer commented on #3151
Thanks for telling me my way is ok. But I must assume that I don't see a difference between a secure and a usual cookie. Sure the delivering is secure OK.

Anyway. Here is why I think my cookie with the `homeAccountId` is not secure. So let's say I have **2 browsers**. The first browser has that cookie set:
![image](https://user-images.githubusercontent.com/1167229/114661617-8d839c80-9cf7-11eb-87b

[2021-04-14 06:41] jaunusa commented on #3444
Thank you for clarification, will keep an eye on the new version of the library.

After various tests, I narrowed the problem down to the nestjs passport library (@nestjs/passport). Somehow I accidently switched from version 7.1.3 to 7.1.5 and things stopped working. Reverting to version 7.1.3 fixed the problem.

[2021-04-14 07:42] brugh commented on #3179
Thanks! that sample helps a lot although the integration with msal looks very limited. Capturing the token and adding it to graph calls yourself seems like a job for MSAL, not something you'd have to do yourself. But if I can somehow hook into MsalGuard to open a Dialog when the guard cancels navigation, I think i'll be golden. I think I'll go try my own guard and see what happens.

@will-bartlett

[2021-04-14 07:59] kimrunar commented on #3415
Hey, this is solved. The original issue with "Mac OS big sur 11.2.3" was solved with an msal upgrade from v1 to v2. Any additional problems i had was just bad implementation by me.
Thanks.

[2021-04-14 07:59] #3415 closed

[2021-04-14 08:31] eholman commented on #3240
Thanks, that works! We call the ssoSilent and take that result into consideration.

[2021-04-14 10:11] #3240 closed

[2021-04-14 12:33] gmantri opened #3454 "Trying to understand dynamic scopes and incremental consent"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.1

### Description

I am reading about [`Dynamic Scopes and Incremental Consent`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md#dynamic-scopes-and-incremental-consent) and

[2021-04-14 14:09] derisen commented on #3454
@gmantri sorry for the confusion. Access tokens are specific to each resource, so a token for resource (e.g. "User.Read" for `graph.microsoft.com`) will not contain scopes related to another resource (e.g. "My.Scope" for `api://<myCustomApiClientId>`). That's way you don't see the previously consented scopes in a token that was meant for another resource.

I see that this should have been made mor

[2021-04-14 14:13] gmantri commented on #3454
@derisen - Thank you for your prompt response. I really appreciate it. Can we get the documentation fixed? IMHO, currently the documentation is incorrect as it explicitly states the incorrect behavior.

[2021-04-14 15:06] jasonnutter commented on #3451
@senal This error means there is no cached tokens for the given request, including no cached refresh token. To resolve, you should prompt your users to login (interactively or via ssoSilent).

[2021-04-14 16:06] Flywheel opened #3456 "Page not found on link for msal-angular errors"
### Core Library

@azure/msal or msal, @azure/msal-browser

### Wrapper Library

@azure/msal-angular

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md

### Description

The document https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md in the section on wrapp

[2021-04-14 16:07] tnorling commented on #3179
This sample just uses `msal-browser` by itself, which does not have an interceptor like `msal-angular`. In your case you should be able to use the `msal-angular` interceptor to do this.

Our understanding when talking to the folks in office is that this was caused by a domain allow list in your manifest. One of the domains that was being navigated to was not explicitly allowed and the Office was r

[2021-04-14 16:59] jasonnutter commented on #3427
@ramchalamtci It looks like the requests in that log file take a short amount of time. Do you have a network trace/fiddler trace you can share? Email is my profile, thanks!

[2021-04-14 17:05] jasonnutter commented on #3456
@Flywheel Thanks, we'll make sure that link gets fixed. Correct link: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/errors.md

In regards to `interaction_in_progress` errors, they are result of an application invoking interaction while a previous interaction is still in progress. This commonly occurs when using redirects, as applications

[2021-04-14 17:44] ramchalamtci commented on #3427
@jasonnutter yeah getAllAccounts called several times from 16:23:17 but scope obtained at 16:23:25
Sent you the fiddler trace, thank you!

[2021-04-14 17:46] jasonnutter commented on #3151
This is not correct. `homeAccountId` is just an identifier, knowing it does not allow another person to be logged in with your account.

I was just referring to encrypting the string you put into the cookie value (so it can't be read by others).

[2021-04-14 20:36] levalencia opened #3463 "response_type 'id_token' is not enabled for the application"
### Core Library

@azure/msal-browser

### Core Library Version

2.12.0

### Wrapper Library

@azure/msal-react

### Wrapper Library Version

1.0.0-beta.0

### Description

I have created a new app registration and added on Authentication SPA and in Redirect URLS I have typed:

https://localhost:3000/
and my azure url
https://dev-luloui.azurewebsites.net/

The app is enabled multiple organizations

[2021-04-14 20:42] derisen commented on #3463
@levalencia on Azure portal > app registration > your app > Authentication blade, please make sure the implicit flow is **not** checked:

![sdf](https://user-images.githubusercontent.com/13197548/114776190-0cdc9480-9d27-11eb-83b6-73a964299788.png)

[2021-04-14 20:46] levalencia commented on #3463
none of the options are checked

[2021-04-14 20:58] derisen commented on #3463
Strange :/ Can you share your app manifest as well? Are you trying one of the samples (if so, can you mention which one?)

[2021-04-14 21:01] levalencia commented on #3463
Sure
[code]

[2021-04-14 21:04] levalencia commented on #3463
I created the app myself using the create react app documentation, then I used the React Router Sample as an starting point:

my msal config:

[code]

[2021-04-14 21:18] derisen commented on #3463
@levalencia couldn't replicate this on my end. Can you please update your msal-browser and msal-react packages to the latest, and then [enable verbose level logging](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#logger-config-options) and share the logs here.

p.s. a minor thing, your redirect URI in configuration file is `http:/

[2021-04-14 21:34] senal commented on #3451
@jasonnutter,

Thanks for this.

But we saw some information was stored in the localStorage at the time of this error.
Does that mean the content in the locale storage neither the cached token nor the cached refresh token?

We had to remove the content in the local storage to get the prompt for the user again.

Do you have any idea how do we reproduce this error in order to test the proposed solut

[2021-04-14 21:50] levalencia commented on #3463
Ok this is what I did

npm update

added https locally in AdalConfig.

It works locally!

I also added some logging config according to the documentation:
[code]

Locally works perfect

Pushed the code to Azure and I still see same error even in a new private window.
The console logs are empty. I think I misunderstood the log config options

[2021-04-14 22:24] taschana opened #3468 "_raw contains 'email', profile requests 'src.emails'"
version: `"passport-azure-ad": "^4.2.1",`

RAW: (forgive that I don't share the whole raw for privacy reasons, this already is more than I like)
![image](https://user-images.githubusercontent.com/17772497/88235826-f283f780-cc7b-11ea-92fd-135ddfaa24b6.png)

from lib/oidcstrategy.js:73-88
[code]
also resulting in `Failed to serialize user into session`.

[2021-04-14 22:31] derisen commented on #3463
@levalencia for logging, you can use it like this

[code]

When you deploy this app to **Azure App Service**, by any chance did you enable the **Authentication/Authorization** support there? If so, can you make sure to disable it (as it might be interfering):

![disable_easy_auth](https://user-images.githubusercontent.com/13197548/114788405-3cdf6400-9d36-11eb-88af-6427d475f872.png)

[2021-04-15 00:23] amrutha95 commented on #3224
Hi @IIrafail ! Do you mind raising an issue for this on the Microsoft Graph Toolkit [repository](https://github.com/microsoftgraph/microsoft-graph-toolkit)?

[2021-04-15 07:07] levalencia commented on #3463
thanks a lot, that last setting was the one causing the behavior.
I had authentication enabbled on the azure app service, I assumed I had to put it because for a .net core webapi I had it enabled too.
Maybe a good remark for the documentation

[2021-04-15 07:26] matteocusinato commented on #3293
Same problem @Marcel0024 , /#code=123... in the url after login. @azure/msal-angular