[2019-06-26 17:21] #788 closed

[2019-06-26 17:21] sameerag commented on #788
Link to #526

[2019-06-26 17:23] sameerag commented on #790
Thanks, @sergey-tihon for the fix @ #791. We will try to close loop once testing is complete and have it released asap.

[2019-06-26 20:02] DarylThayil commented on #783
Thanks for sharing, I think at this point we will take it as a feature request. If you implement this outside the lib, or even in a pr, and demonstrate how it works I would love to learn more about the use case / solution.

[2019-06-26 20:14] DarylThayil commented on #575
cc @jasonnutter  if you have a chance can you look at this error and see if we are missing anything here for a quick fix?

[2019-06-26 20:58] aathithan commented on #782
@sameerag and @negoe

I am using Azure B2C and msal.js in my angular app to provide authentication.
Once the login is success, I get the reply URL with fragment (for e.g. #state=<token>)

But my concern here is, after processing the token, MSALGuard is redirecting to http://localhost:4200/dashboard instead of http://localhost:4200/#/dashboard.
PLEASE NOTE THE # in the URL.

[2019-06-27 09:08] StefanSchoof opened #794 "Preview in github description"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-06-27 10:28] jelohipolitocruz commented on #18
@jmprieur Hi is this fix? Do you mind adding the duplicate link of the fix?

[2019-06-27 11:46] jmprieur commented on #18
+ @negoe @DarylThayil @sameerag

[2019-06-27 13:53] NickSevens opened #796 "How to access SID received in other tab?"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [x] Documentation issue or request
- [ ] Other... Please describe:

## Library version

Library version: 1.0.2

## Question

I'm trying to implement MSAL in a client side library, which works pretty well so far.
Now for my nex

[2019-06-27 16:59] sameerag commented on #796
@NickStevens if you set the cache to 'localStorage' aren't you logged in by default? sid is usually passed in use cases where there is a plugin or an app that talks to the parent app and does have access to the msal responses. In the above documentation, It is stated that for access between tabs, localStorage as cache would be the better option.

[2019-06-27 17:07] sameerag commented on #794
Thanks @StefanSchoof for raising this. @negoe Can we please correct this?

[2019-06-27 19:53] sameerag commented on #481
Link to #786 for traction. Not closing for now until we can evaluate if moving to 1.0.x for Angular will incorporate this change.

[2019-06-27 21:41] jasonnutter commented on #414
Version `0.1.3` of `@azure/msal-angular` has been published to npm with a fix for incompatibility with IE11, so I am going to close this issue.

If you have other issues with IE11 that are not do not get fixed with this version, please file a new issue, thanks!

[2019-06-27 21:42] jasonnutter commented on #765
Version `0.1.3` of `@azure/msal-angular` has been published to npm with a fix for incompatibility with IE11.

If you have other issues with IE11 that do not get fixed with this version, please file a new issue, thanks!

[2019-06-27 22:11] Davilink commented on #552
If i want to unprotected a bunch or url that normally would match a GLOB Pattern, i would have to manually add all the url in the array of unprotected resource. So if we could have GLOB Pattern support (or other mecanism) to indicate which resource is unprotected or not that would be nice.

[2019-06-27 23:36] sameerag commented on #481
I believe since msal core 1.0.x supports configuration in a JSON format, this is not too tough to achieve.

[2019-06-27 23:36] sameerag commented on #786
From #481: Make msal configuration in Angular dynamic

[2019-06-27 23:39] sameerag commented on #786
From #598: Route guard does not have the ability to handle acquireTokenSilent() failure. See how to better design this in the new angular wrapper.

[2019-06-27 23:40] sameerag commented on #786
From #788: Same as #526. Redirect routed to a different HTML than the main angular app.

[2019-06-27 23:42] sameerag commented on #786
From #585: Redirect sample and documentation for Angular

[2019-06-28 00:00] sameerag commented on #729
Link to #786. Keeping it open until we determine if a better design of guards in the new wrapper solves this or if there is interim mitigation for this behavior.

[2019-06-28 00:01] sameerag commented on #786
From #729: Broadcast does not work when the token is picked up from cache in Angular (using sessionStorage).

[2019-06-28 00:01] negoe commented on #782
@aathithan The # you are getting in the response is not part of the reply url, but a delimiter. MSAL and B2C  both do not support fragments in reply url. Are you able to register your B2C app on portal with this  'http://localhost:4200/#/dashboard'?

[2019-06-28 00:02] sameerag commented on #703
Link to #786. Tracking as a feature ask.

[2019-06-28 00:03] sameerag commented on #786
From #703: Msal Guard to support redirect to "Access denied page" as CanActivate guards support URLTree as a return type now in Angular. Feature-ask for the angular wrapper.

[2019-06-28 00:06] sameerag commented on #694
@jofo-eb Can you please paste some sample code on how you are using the current angular wrapper? This is a basic use case that should ideally work, we can help with the debug if we have more data available.

[2019-06-28 00:06] #782 closed

[2019-06-28 00:07] sameerag commented on #626
@imnista Are you launching the MSAL within an iFrame?

[2019-06-28 04:57] sergey-tihon commented on #400
There is an easier way, if you need one access token with all permissions configured in your AAD application, you can request them using one scope `https://yourtenant.sharepoint.com/.default`

[2019-06-28 06:11] athreyee opened #797 "Multi-tenancy issue with Acquiretokensilent MSAL js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [x ] Firefox version XX
- [x ] IE version XX
- [x ] Edge version XX
- [x ] Safari version XX

## Library

[2019-06-28 06:24] NickSevens commented on #796
@sameerag fair enough. :) I was under the impression that the SID way was an alternative to using localStorage. But as you said, localStorage does work for my use-case as well.
Thanks for the info.

[2019-06-28 06:24] #796 closed

[2019-06-28 08:54] snebjorn opened #798 "0.1.3 broke AoT compiling (Function calls are not supported in decorators but 'MsalModule' was called)"
## I'm submitting a...
<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

Library version: 0.1.3

## Current behavior
When compiling using the AoT compiler (`ng serve --aot` or `ng build --prod`) it'

[2019-06-28 09:36] mahi9984 commented on #414
Hi @jasonnutter,

I just upgraded to `0.1.3` but still getting the same error.
Attaching snapshots of package.config and error.
Am i missing something?
![IE 11](https://user-images.githubusercontent.com/28747227/60333186-fe888180-99b5-11e9-8d73-c77f880297ed.PNG)
![Package](https://user-images.githubusercontent.com/28747227/60333284-3db6d280-99b6-11e9-803e-7d84f82fea90.PNG)

[2019-06-28 10:42] sbanerjee302 commented on #798
Facing the same issue

[2019-06-28 10:43] sbanerjee302 commented on #414
@mahi9984 Did you get it working with the AOT flag ?

[2019-06-28 11:06] mahi9984 commented on #414
I didnt use it. Can you tell me how to use it?

[2019-06-28 12:05] sbanerjee302 commented on #414
@mahi9984  try `ng serve --aot`

[2019-06-28 14:27] aleksandar-kandzhichki commented on #798
Same here

[2019-06-28 14:43] snebjorn commented on #798
I wonder what is going with this release. It's not even an updated [changelog](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/changelog.md) for it :/

[2019-06-28 15:22] jasonnutter commented on #798
Thanks for the information, we'll take a look. `0.1.3` was published to fix compatibility with IE11 (changelog entry will be added shortly), looks like it might broken this. Apologies about that.

[2019-06-28 16:14] jasonnutter commented on #414
@mahi9984 Do you have a `src/polyfills.ts` file? If so, can check if the line with `import 'core-js/es6/array';` is incommented? If it is commented out, try uncommenting it.

[2019-06-28 16:15] jasonnutter commented on #414
And we're looking into the issue with `aot`, see #798

[2019-06-28 17:38] geitir commented on #534
I am also getting this warning in Chrome. However I do not seem to have any adverse effects from it at this time

[2019-06-28 21:08] sameerag commented on #797
@athreyee Can you please share the correlation-id and timestamp for this issue? I forwarded this to the app registration team to confirm if your settings look fine and this info would help understand the AAD error better.

[2019-06-28 21:54] jasonnutter commented on #798
Unfortunately, the fix to properly support modern browsers and IE11 (for both JIT and AOT) is proving to be more complicated than expected. We have deprecated `0.1.3` and set the `latest` tag back to `0.1.2`, so we recommend pinning your version of `@azure/msal-angular` to `0.1.2` while we work on a proper fix. Apologies for the inconvenience. I'll update this ticket when we have a proper resoluti

[2019-06-28 22:20] jasonnutter commented on #575
This seems strange to me given the wrapper is built with angular 4.3, but no quick fixes come to mind unfortunately.

[2019-06-28 22:33] jonathaneckman commented on #735
@DarylThayil that is correct.
1. Cache initially empty.
1. User logs in. Redirected to AAD username/password form. Redirected back to app.
1. Values added to cache.
1. User logs out. Redirected to AAD signout page. Never redirected back.
1. Cache is empty.
1. Click login button again. Redirected to AAD. Username/password form flashes. Redirects back to app without credentials.
1. Values are in the

[2019-06-28 23:21] jonathaneckman commented on #735
I published the recorded steps so you can see:

[https://youtu.be/XIiQZL7pERQ](https://youtu.be/XIiQZL7pERQ)

[2019-06-29 06:30] sameerag commented on #534
@geitir @SamNutkins Yes, we are hearing that it is a false positive from chrome from some quarters. Nevertheless it helps to have all the network and msal logs in this context to understand the exact error.

@ritmos @derekparsons718 Can you guys upgrade to msal 1.0.x and let us know if the timeout is still seen? Also as @DarylThayil already asked above, it helps if a fiddler log is shared

[2019-06-29 12:46] rodrraul commented on #390
Yes, I got it working.  I had to use _import * from msal;_ as we are using Typescript on top of AngularJS.  Thanks Daryl.

[2019-07-01 03:19] athreyee commented on #797
The request url getting hit is below while calling acquiretokensilent for the app id db7116e3-dbeb-4336-9525-07bd8dc6fede

x-ms-request-id: 0a051d3a-0c29-4696-a7ef-6b2e6d122400

https://login.microsoftonline.com/db776ee0-145c-47b0-a1b9-8a4da2dad75f/oauth2/v2.0/authorize?response_type=token&scope=https%3A%2F%2Fmicrosoft.onmicrosoft.com%2Fa9404161-811a-480e-a86c-082d92b9f4a2%2Fuser_impersonation%20o

[2019-07-01 04:46] mahi9984 commented on #798
Thanks Json. for the info. We will be waiting for your drop.

[2019-07-01 05:12] amigup commented on #414
@jasonnutter - are we going to reopen this issue ([#414](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414)) since, the changes were rolled back as per issue #798.

[2019-07-01 05:13] sergey-tihon commented on #762
We also faced this issues. Currently, we developed our own Promise-wrapper that cache promise from `acquireTokenSilent`.

At the start of out app, we send 4 calls to MS Graph, each calls `acquireTokenSilent` and app initiate 4 auth processes (almost simultaneously). Some of them fail and leave garbage in local storage (key-values from not-finished authentications). All further calls reload iframe

[2019-07-01 10:34] randompixel commented on #609
Yes, seeing the same issue here. If signed in to multiple Google accounts the `acquireTokenSilent` function fails. It loads the silent iframe but then fails because it doesn't know which token to get (it seems)
![image](https://user-images.githubusercontent.com/2316601/60429731-9e7f1e80-9bf3-11e9-9508-a7d240529285.png)
The failure then triggers a popup window which you can select an account and th

[2019-07-01 13:53] randompixel commented on #609
It feels like whatever is calling the above URL is skipping out the `login_hint` field, even though I've specified it in MSAL based on the user obtained in the accessToken. If it passed that through then maybe it could know which one to pick and avoid the prompt?

[2019-07-01 15:11] jasonnutter commented on #414
Yeah, I'll reopen this, and will update when we have a fix.

[2019-07-01 15:18] jasonnutter commented on #390
I noticed `msal-angular` didn't have a `types` field in its `package.json` when looking into the IE11 issue, so I'm hoping this can be fixed when that issue is fixed.

[2019-07-01 18:17] DarylThayil commented on #735
This is really helpful, will share with our server team and see if we can get to bottom. I think that what is happening is that the cookies for login.microsoft are not being cleared

[2019-07-01 18:28] DarylThayil commented on #735
Okay, talked to our server team, I think the issue is that this is b2c authority, but we are logging out from our aad v2 endpoint
@sameerag  this should be using the logout url in the app metadata correct?

[2019-07-01 18:32] arunprasathv commented on #414
@jasonnutter Do you have a tentative date for the fix?

[2019-07-01 18:36] arunprasathv commented on #771
@sameerag Could you please provide an update on this ? Need help with Option 1 to upgrade MSAL version to 0.2.4.

[2019-07-01 18:48] mirkodelgado commented on #798
Please keep me posted.  My company has been waiting on a solution for the IE11 browser for some time now.
TIA,
Mirko

[2019-07-01 19:20] sameerag commented on #771
@arunprasathv Unfortunately for Option 1, we had to rollback the fix as it is breaking AOT builds for angular. We may need to wait for a while until we figure out a comprehensive fix for the same.

Option 2, what I heard from the dev who had a workaround before moving to latest MSAL is this: "We had a sleep in the constructor pre GA; there are  flags that you can adjust to set the sleep time under

[2019-07-01 19:38] sameerag commented on #609
@ChristianOlsson  @randompixel Can you please try this usecase with msal 1.0.x and let us know if the issues are still persistent?

[2019-07-01 19:40] randompixel commented on #609
Hi @sameerag - I'm using MSAL 1.0.2

[2019-07-01 19:49] sameerag commented on #609
@randompixel So Is this issue specific to the case when multiple google accounts are logged in? You are sending the login_hint in msal js but unable to distinguish between the google accounts?

I can notify the B2C Server team to check how they would like to distinguish this and why they are not considering the login_hint set by the user, but I want to confirm my understanding above is correct.

[2019-07-01 19:55] randompixel commented on #609
@sameerag - yes. I have a personal and work gmail account logged in. When I try and log in with AAD B2C, I select the work account. It gives me an idToken but when I try and get an accessToken it fails and tries to obtain another login (acquireTokenPopup). Once it has done this I do appear to get a token - however it's not how it should be working! I'm sending both login and domain hints in the re

[2019-07-01 20:55] sameerag commented on #609
Thank you @randompixel for the information. I am tagging this as B2C Service issue and will follow up on why the hints are ignored.

[2019-07-02 00:20] sameerag commented on #717
@sameerag I have an update on this. The error we are seeing from the server is of the format: **#error=access_denied&error_subcode=cancel&state=******

The index of error is happening because there is no error description in the hash and msal js is trying to read from it. That can be remedied easily but If we fix only msal js, it still may not be the comprehensive error message in the context.

I

[2019-07-02 10:58] athreyee commented on #797
@sameerag We are approaching our Go live and couldn't proceed further because all the external tenants are unable to login to our systems because of this issue, can you please help on this to get us unblocked?

[2019-07-02 13:55] ShieldPad commented on #697
I must chime in on this sentiment unfortunately. Given that it's the official MS library I expected it to be rather plugin-and-play with AD.

Been using it for about 1.5 years but it still confuses me a lot compared to other OIDC experiences. I really need to get into the details to get it to work and sometimes the documentation is not in sync - so I have to go into the source code.

Although I re

[2019-07-02 19:39] jasonnutter commented on #414
@arunprasathv Unfortunately, not at this time, but it is very high priority for us. Will update when we know more.

[2019-07-03 07:06] scambier commented on #759
Updated workaround: getting `msal.idtoken` from the localStorage does not work reliably, as the value is sometimes (often) not correctly updated by msal.

This function seems to get the correct, up-to-date token more reliably:

[code]

[2019-07-03 07:12] pbalzer opened #807 "cannot build MsalAngularjsDemoApp"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.0.2

</code></pre>

## Current behavior
After performing 'npm install' and 'npm start' as de

[2019-07-03 13:46] jofo-eb commented on #694
Sorry currently don't have example code since we postponed implementation of that feature for a while.
Please try to reproduce it yourself, as I said it is simply to call acquireTokenSilent in Firefox.

[2019-07-03 15:29] panduit-arg commented on #735
hey @DarylThayil is there any update on this issue? I'm running into the same issue of users not being able to logout and not being redirected after a logout.

[2019-07-03 16:23] PraveenVerma17 commented on #735
Hi Guys,

We show list of user during logout to select account even though we have one account.

I have end session endpoint configured properly and we are using msal 1.0.1

"end_session_endpoint":"https://login.microsoftonline.com/74352aa5-d883-4e4a-8423-7862b342708e/oauth2/v2.0/logout"

We are promoting user list to select account during logout. That’s really annoying.

This does not happen with

[2019-07-03 18:47] DarylThayil commented on #697
@ShieldPad  that is really helpful feedback, we definitely want to make it easier to use.

Do you have any suggestions on what a simple, plug and play api could look like?

[2019-07-03 20:32] DarylThayil commented on #735
definitely want to resolve, trying to understand full scope @jasonnutter  can you follow up on this one?

[2019-07-03 21:22] sameerag commented on #735
@DarylThayil This is by design by the AAD service currently on V2. More details in #490; This V2 behavior is added for additional security by the service team.

Brief context from the server team:
In the security considerations of the OpenId Session Mgmt spec:
The id_token_hint parameter to a logout request can be used to determine which RP initiated the logout request. Logout requests without a v

[2019-07-03 23:05] derekparsons718 commented on #534
@sameerag I was having the problem in the angularjs msal library. I switched to using the normal js msal v1.0.2 and I am no longer having the problem. (I do still see the cookie warning though.) I guess the bug is specific to the angularjs library.

[2019-07-04 01:59] leniel opened #808 "tokenReceivedCallback is not called when using MSAL AngularJS with Azure B2C"
## I'm submitting a

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 75.0.3770.100
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Libra

[2019-07-04 03:14] PraveenVerma17 commented on #735
Thanks @sameerag @DarylThayil
In thread 490 its mentioned that feature will come after a quarter in v2.0. Will wait and monitor these threads.
Thanks for your support.

[2019-07-04 03:59] kwinyyyc opened #809 "Support response_mode configuration for msal_angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-07-05 18:10] jfbloom22 opened #810 "How to manually expire token in order to test token renewal?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I am trying to verify that the token renewal is working properly in my React App.  The only way I have been able to do this is to simply wait 1

[2019-07-05 21:47] jfbloom22 commented on #736
I am using 1.0.2 but I am still seeing this issue.  I have tested with sessionStorage as well as localStorage.  It happens consistently after the token expires.  I will get a tokenResponse from acquireTokenSilent() but accessToken is null.  If I wait a bit and try acquireTokenSilent() again, it has an accessToken.
Some other interesting differences between a tokenResponse with an accessToken and a

[2019-07-06 03:22] jfbloom22 commented on #736
Never mind my comment.  I am including the clientid as the only scope.  I learned that doing this causes the idToken to be renewed rather than the accessToken.

[2019-07-07 23:37] tylerjwatson commented on #759
Guys,

This is a severe issue with a Microsoft product.  Can we please get an update and an ETA to fix?

Cheers

[2019-07-08 08:47] anjiuidev commented on #756
@sameerag any update on this bug from B2C service team.

[2019-07-08 17:53] negoe commented on #809
@kwinyyyc The response_mode can not be supported. The reason behind the issue can be more of a way angular is identifying the routes than supporting a specific query parameter.

[2019-07-08 17:53] #809 closed

[2019-07-08 21:59] jasonnutter commented on #807
I was able to reproduce this, fix coming shortly. Thanks for the heads up!

[2019-07-08 22:16] jasonnutter commented on #807
@pbalzer Checkout the branch in the PR above and let me know if that fixes the issue you were seeing (you'll want to delete `node_modules` and rerun `npm install`).

[2019-07-09 10:11] PraveenVerma17 commented on #810
I need this feature too. Looks like MSAL.js does not have much feature which is present in their ios, dotnet library.

[2019-07-09 14:46] fabien-h opened #815 "Cannot validate access token, maybe because of the nonce"
## I'm submitting a...
- [x] Documentation issue or request

## Library version
latest

## Issue
I do the requests to get an access token :

[code]

I see that this issue exists on others libs https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609

I have a nonce in my token when I decode it in https://jwt.io/

Two options :

- Getting an access token witho

[2019-07-09 15:42] geitir opened #816 "Utils.containsScope 'openid' and 'profile' authentication scopes cache miss"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
N/A

## Library version
<pre><code>
Library version: 1.0.2
</code></pre>

## Current behavior
The 'openid' and 'profile' scopes add

[2019-07-09 17:39] jasonnutter commented on #816
@sameerag @pkanher617 is this expected behavior?

[2019-07-09 18:09] jasonnutter commented on #787
If all you need to do is authenticate a user (and you don't need an access token for a resource such as Graph), your code could be as simple as:

[code]

Which could be implemented to match your code as such:

[code]

This could in theory work for simple use cases that just need to authenticate a user, but may not fit well if you need access tokens or have a more complicated use case. Ultimately,

[2019-07-09 18:23] chriskuech commented on #787
Thanks.  Perhaps a greater concern (worth opening a separate issue for?) is that the redirect flow is described as if its a legacy shim and everyone should be using the popup flow--only using the popup flow would mean less boilerplate; however, the popup flow seems to be blocked in all browsers I've tried (Chrome, Legacy Edge, Chromium Edge), so the boilerplate seems still necessary.

Is this expe

[2019-07-09 20:50] DarylThayil commented on #808
@leniel can you try doing a .then off of login popup and see if that triggers, login popup is a promise but redirect requires the callback to be registered so on page reload we can call it.

[2019-07-09 20:53] DarylThayil commented on #794
I fixed this the other day without seeing this, thanks for letting u know @StefanSchoof

[2019-07-09 20:53] #794 closed

[2019-07-09 20:56] leniel commented on #808
The problem was happening because the app was messing with hashPrefix. I had to do:

[code]

The hashPrefix was interfering with the callback.

It's mentioned here: https://www.npmjs.com/package/@azure/msal-angularjs

[2019-07-09 20:56] DarylThayil commented on #787
@chriskuech  that is good feedback, redirect in my opinion should not be treated as a legacy flow.  Are there issues you are experiencing trying to implement redirect?

[2019-07-09 20:58] #808 closed

[2019-07-09 22:52] #807 closed

[2019-07-10 00:55] sameerag commented on #816
Ideally, it shouldn't. We add these default scopes as a part of [openid connect spec compliance](https://openid.net/specs/openid-connect-basic-1_0.html#Scopes). We may need to debug this.

[2019-07-10 03:02] sameerag commented on #756
@anjiuidev I have mentioned this to the B2C team and my initial impression is that the implementation of this is not a straightforward case for them. Especially since they cater to multiple endpoints within the same UI.

I will have one of their engineers comment on this issue if they plan to support this.

[2019-07-10 03:05] sameerag commented on #759
@pkanher617  Will your PR #799 solve some of the issues above?

[2019-07-10 03:11] sameerag commented on #694
We did not see this issue with calling acquireTokenSilent in Firefox with our basic MSAL JS version nor have we heard this issue from any of our current customers using angular. Our angular example works with the use-case you mentioned. I suspect some local settings in your case.

Please feel free to open a new issue once you have more data on this.

[2019-07-10 03:11] #694 closed

[2019-07-10 07:28] rick-hayek commented on #810
I'm also expecting this

[2019-07-10 07:51] cforycki commented on #815
Shouldn't the first option be "Getting an access token __without__ a nonce" ?

[2019-07-10 07:55] fabien-h commented on #815
edited

[2019-07-10 09:39] pbalzer commented on #807
Ok it builds fine now. Thx!

[2019-07-10 11:34] snebjorn opened #818 "Missing documentation for extraQueryParameters"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: "@azure/msal-angular": "0.1.2"
</code></pre>

## Current behavior
I can't seem to find any docum

[2019-07-10 13:54] siebigteroth opened #819 "Authentication on Safari not working due to ITP 2.0"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x] Safari version XX

## Library versi

[2019-07-10 13:56] siebigteroth commented on #819
There is also a user voice for the azure ad b2c going on to allow the configuration of custom domains: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15334317-customer-owned-domains
But there doesn't seem to be an update in the progress since 2 years.

[2019-07-10 14:05] jfbloom22 commented on #735
I am running into the same issue.  What I found to be particularly painful for users is if they choose the wrong account to login with.  They choose an account that has not signed up yet.  They receive an error informing them as much, click the Login button intending to try and login with another account, but they immediately receive the error again.  No opportunity to choose a different account.

[2019-07-10 14:05] juho-hanhimaki commented on #819
I believe this issue does affect all AD scenarios, not just B2C? Custom login/authorization domain support for AD would indeed be a neat workaround.

[2019-07-10 15:06] Pheil opened #821 "'endpoint' is not defined in sample code"
#607  I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version 77.0.3849
- [ x] Firefox version 68.0

## Library version

<pre><code>
Library version: 1.0.2
</code></pre>

[2019-07-10 16:24] jvandervelden commented on #815
You shouldn't need to validate the Graph token. When you make a call to the Graph API, and if the token is expired/invalid, the graph api will spit back an appropriate 401/3, which you can detect. You can open the token and read the exp claim to predict if the token is expired.

You should also not use this token as authorization for your application, this token is specifically for the graph api.

[2019-07-10 17:12] jasonnutter commented on #819
As you point out, this is currently a known issue, and unfortunately we currently don't have a good work around. While custom domains are not generally available yet, it is a goal to do so eventually (I can't provide an ETA, unfortunately).

Closing this as there isn't anything actionable at the moment. Appreciate the feedback!

[2019-07-10 17:12] #819 closed

[2019-07-10 17:15] jasonnutter commented on #816
Ah I wonder if this is the same issue that is reported in #762.

[2019-07-10 17:59] sameerag commented on #797
@athreyee As we are following offline and this seems to a different issue than mentioned here, can we close this ticket?

[2019-07-10 18:00] sameerag commented on #821
@Pheil @jasonnutter I remember prithvi fixing this in one of his PRs. I can make the changes needed with another PR, it is a typo that cropped up.

[2019-07-10 18:01] jasonnutter commented on #821
Yeah that sounds good, thanks!

[2019-07-10 18:07] jasonnutter commented on #818
@negoe Is this something we could add to the documentation? I agree the purpose of `extraQueryParameters` isn't clear.

[2019-07-10 21:05] nmetulev commented on #746
@DarylThayil, any update on this?

[2019-07-10 21:06] DarylThayil commented on #746
@jasonnutter is currently working on this

[2019-07-10 21:37] sameerag commented on #818
@negoe We had documentation for this prior to API changes, looks like it is missing with the new surface documentation. Can you please fill this gap? I can work with you if you need help with code samples.

@snebjorn Thanks for raising this.

[2019-07-10 22:08] jfbloom22 commented on #810
I randomly ran across this config option:  tokenRenewalOffsetSeconds.

Included in my config under `system` like so:

[code]

When I set the tokenRenewalOffsetSeconds to a value greater than my 10 minute token life, it refreshes the token every time I call acquireTokenSilent().  I am also able to set it to 9 minutes and it will refresh every minute.  This has sped up my testing significantly!

In

[2019-07-10 22:08] #810 closed

[2019-07-10 22:53] dluc commented on #759
I'm experiencing the same issue, which is causing my app to stop working every 24 hours (when token expires).

As a workaround I have to manage token expiration and clearing localstorage with dedicated code, which is far from ideal (and duplicates what MSAL should be doing) - the workaround could stop working anytime MSAL decides to use different storage keys.

[2019-07-11 01:45] chriskuech commented on #787
I will try and implement redirect now.  [This sample](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/index.html) is why I did not try to implement redirect prior, as all code paths relevant to my scenario would trigger popup flow.

[2019-07-11 04:31] chriskuech commented on #787
Some context: I'm trying to use MSAL to obtain an access token from a React app for use with my team's service (no graph scopes necessary).  However, I believe I've hit a mix of design, bugs, and doc issues:

* Why do we need to handle redirect callbacks in two different ways?  We need to both register callbacks with the `UserAgentApplication`, or else MSAL throws an error that I need to call `set

[2019-07-11 08:16] cforycki commented on #815
@jvandervelden I think I'm in the same boat as @fabien-h because I tried to validate the Access Token. I'm not using the Graph API, I have my own API which serves protected data, and a Javascript SPA which calls the API to shows data to user.

So I was sending the Access Token as a Bearer in the Authorization header. I tried to validate this access token by calling https://login.microsoftonline.co

[2019-07-11 12:59] jvandervelden commented on #815
@cforycki what resource are you creating the token for? Can you provide a sample?

Our tokens don't haven an NONCE in the header, but we are still using v1 of the token api. But I doubt MS added an NONCE header in v2 for custom apps.

[2019-07-11 13:27] cforycki commented on #815
@jvandervelden Right now I can't provide a complete example but I can try to explain it.

I'm currently working on a JS app that shows data to user. As the data should be protected, and only employee should be able to access the app, I use this library to handle the authentication (I redirect them if they are not already logged in). All employee have a MS Enterprise account (don't know if it's the

[2019-07-11 13:42] jvandervelden commented on #815
Yeah, that's what we are doing. We have an app registration in Azure and do an OAuth2.0 authorization code flow with that appid/secret (Spring Boot backend). The tokens we get back from MS can be validated with the well known url provided by MS.

Are you using v1 or v2 of the token api?

[2019-07-11 14:00] cforycki commented on #815
@jvandervelden At least I'm not doing something completely wrong 😄
I'm using the latest version of this library, and by default everything use v2.0.
I know we have some older apps that works with v1.0, and they don't have any problems.

[2019-07-11 14:32] jvandervelden commented on #815
Huh, I'll have to remember that when we look at migrating.

[2019-07-11 16:27] jasonnutter commented on #787
**Redirect callbacks**: You should only need to handle the redirect callback with `handleRedirectCallback`, (which is documented in the README, but could be made clearer in the wiki). I believe that error message referencing `setRedirectCallbacks` is out of date, so we can fix that. cc: @negoe

The checks for `isCallback` and `getAccount` are there due to the way MSAL handles the redirect back fro

[2019-07-11 17:48] sameerag commented on #787
One thing to add regarding

MSAL JS not refreshing the token for you is by design AFAIK and is line with MSFT Auth libraries altogether, cc @negoe. This is mainly because tokens are supposed to be on-demand for obvious security reasons. There are however silent ways to refresh your token, more on this [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-ren

[2019-07-11 21:01] CodeEpiphany commented on #534
Experiencing this bug as of today in an Angular project. Kills authentication. Did not have it a few days ago.

[2019-07-11 23:09] dotnetcanuck commented on #421
Update... So I don't know what changed, but our app suddenly stopped working with B2C, and would redirect back to the login screen after authentication was completed.

It took us a lot of time to diagnose it, and we eventually circled back to this very issue. Adding `rxjs-compat` fixed the problem, for the moment at least. (Cue me eating my words, above)

That said... given that MSAL.js 1.0.2 has

[2019-07-12 01:22] sameerag commented on #421
@dotnetcanuck Let me get back on the temp preview, we are currently in planning for this activity and can do small incremental fixes if they help unblock some folks. cc @DarylThayil.

#786 is locked for traction, easier to have all issues bunched up. We will open a feedback PR for Angular once we have our planning locked.

[2019-07-12 06:21] frags51 opened #825 "Can this be used in react-native applications?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

[2019-07-12 07:01] RobARichardson commented on #762
I think it's also worth noting that this issue further exacerbates the issue reported in #317.  Every time a token request is made instead of using the one in cache, it also triggers an additional unnecessary request for the OpenID configuration.

[2019-07-12 07:14] jmprieur commented on #490
@negoe, @sameerag : please keep me in the loop. We have the same questions for Web app that sign-out users

[2019-07-12 09:14] cnuis2cool commented on #271
Hi @narindermakin is there any other way using MSAL or ADAL JS for Ionic 4? Any help is appreciated. I am developing a mobile app with Ionic 4 which needs the authentication from Azure AD.

[2019-07-12 09:20] Ivan-L commented on #798
Hey @jasonnutter,

We're also waiting in anticipation for the fix as msal-angular is currently breaking IE support in our application. So a +8 from us in this regard.

[2019-07-12 12:58] vbucchar commented on #414
@jasonnutter Sorry for the late reply, I was on vacation. I tried the latest DEV commit and no change, I still get the blank white screen and the error on vendor.js

[2019-07-12 18:19] freeman-g commented on #739
I think my issue may be the same as https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/759.

I'll be glad to test the fix for 759 whenever you are ready.

Thanks

[2019-07-13 12:43] LeaklessGfy opened #827 "Add layer of abstraction on Storage"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ x] Firefox version XX
- [ x] IE version XX
- [ x] Edge version XX
- [ x] Safari version XX

## Current

[2019-07-15 02:25] imnista commented on #626
Yeah, and our project have been remove the MSAL lib, and replace it by oidc-cliend-js (https://github.com/IdentityModel/oidc-client-js)

[2019-07-15 04:51] tatelang commented on #825
Can this be used within React Native based Mobile Applications (Android and iOS) ?

[2019-07-15 08:10] GopalZadafiya commented on #547
I am facing this same issue into chrome with Windows 10. any idea where it's going wrong ?

[2019-07-15 15:48] jasonnutter commented on #827
While I generally agree about providing your own abstractions for things like storage, there is a philosophical discussion we need to have about letting consuming applications provide their own implementations for core pieces of functionality such as caching [or http calls](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/824), as it potentially increases maintenance costs

[2019-07-15 15:51] jfbloom22 commented on #735
Found a half decent workaround:  Redirect the user to: https://login.microsoftonline.com/common/oauth2/logout

Additionally, you can setup a logout redirect back to your app:  https://stackoverflow.com/questions/45935305/azure-ad-logout-url-not-redirecting

[2019-07-15 15:58] LeaklessGfy commented on #827
I do understand. I'll go a little bit deeper in this subject. One of the main reason this library can't be used in React Native world is because local & session storage aren't available.

Add the possibility of overriding the default impl' of Storage (that use AsyncStorage for example) would be one step further in making it available.

But I do agree, it's a bit of work, I've started a Poc and the

[2019-07-15 16:03] jasonnutter commented on #825
It sounds like MSAL.js will not work with React Native [due to the inability to use LocalStorage or SessionStorage](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/827). It is certainly something we can consider moving forward.

In the mean time, we have native client libraries for both [Android](https://github.com/AzureAD/microsoft-authentication-library-for-android) and

[2019-07-15 16:03] #825 closed

[2019-07-15 16:05] jasonnutter commented on #827
Thank you for that information, as it is helpful context. If you are able to put together a working PoC, we'd love to see it! Will be helpful for us in deciding how we move forward.

[2019-07-15 16:05] #827 closed

[2019-07-15 16:16] anton-kochev commented on #18
Hi, guys!
I faced the same issue when I need to choose an account while logout process. Do you have any workaround to skip this step?
Thanks in advance

[2019-07-15 18:27] chriskuech commented on #787
@jasonnutter , this react sample is amazing! you should definitely put it in the sample pages.  I'm sure it would save people a lot of time.

[2019-07-15 19:34] sameerag commented on #547
@GopalZadafiya Can you share us some sample code?

[2019-07-15 19:58] jasonnutter commented on #787
Thanks! Glad you found it useful. And yeah we'll be sure to add it there soon.

[2019-07-15 20:16] jstallm opened #829 "link to https://cloud.microsoft.com/ with ssl issue"
link to https://cloud.microsoft.com/ with ssl issue

[2019-07-15 20:26] jasonnutter commented on #829
This has been reported to MSRC, thanks for the heads up. Closing.

[2019-07-15 20:26] #829 closed

[2019-07-16 08:28] alexandrtovmach commented on #510
ReactJS solution:
[react-microsoft-login](https://www.npmjs.com/package/react-microsoft-login)

[2019-07-16 08:29] alexandrtovmach commented on #387
[https://www.npmjs.com/package/react-microsoft-login](https://www.npmjs.com/package/react-microsoft-login)

[2019-07-16 08:34] RecuencoJones opened #833 "Obtain Application roles from idToken"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 75
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 76
- [ ] Safari version XX

## Library versi

[2019-07-16 12:57] RecuencoJones commented on #833
Could it be that this happens only for guest users and / or users which are not part of the AAD organization (i.e those not having a `.onmicrosoft.com` domain)?

[2019-07-16 18:52] jasonnutter commented on #787
Closing, as there are no further actionable items.

[2019-07-16 18:52] #787 closed

[2019-07-16 19:16] sameerag commented on #598
Closing this as we are tracking it with #786.

[2019-07-16 19:16] #598 closed

[2019-07-17 02:07] acewang commented on #414
updating on it? it seem the IE11 still does not work

[2019-07-17 08:16] mattwiz commented on #414
@sgentile sorry for the delay. Here's my code:
`@Injectable()
export class ApiInterceptor implements HttpInterceptor {

  constructor(
    private authService: MsalService
  ) {
  }

  intercept(request: HttpRequest<any>, next: HttpHandler): Observable<HttpEvent<any>> {
    const scopes = this.authService.getScopesForEndpoint(request.url);

    if (scopes === null) {
      return next.handle(reque

[2019-07-17 12:28] AbhaysinghBhosale opened #834 "user getting logged out automatically while clicking on anywhere on the page"
**Version**: msal 0.2.4
**Implementation Code** :
`constructor() {
    let redirectUri = '......................example';
    this.applicationConfig = {
      clientID: ........................,
      graphScopes: ['user.read']
    };
    const logger = new Msal.Logger(this.loggerCallback, { level: Msal.LogLevel.Verbose })
    this.app = new Msal.UserAgentApplication(
      this.applicationConfig.

[2019-07-17 15:48] PraveenVerma17 commented on #699
https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/113

i am facing the same issue. after opening the new incognito window then it works fine.

[2019-07-17 17:03] leniel opened #835 "AngularJS (1.6) app with redirect for a custom B2C Sign Up policy"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe:
</code></pre>

## Browser:
- [ X ] Chrome version 75.0.3770.142
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

##

[2019-07-17 17:57] sameerag commented on #692
@SaeedAkhter-MSFT I sent an email with a sample that works for this use-case. If it still persists and you believe it is an issue, please alert us. CC @negoe.

[2019-07-17 17:57] #692 closed

[2019-07-17 18:46] sameerag commented on #513
#836 is fixing this.

[2019-07-17 19:57] jasonnutter commented on #746
@nmetulev We have a potential fix for this that should be included in the next release.

Question: going forward, does this mean that any dependency that we want to use in our library has to be compatible with ES modules (otherwise it would break GTL)?

[2019-07-17 20:06] jasonnutter commented on #834
@AbhaysinghBhosale When reporting, it would be appreciated if you could use the issue template, it helps us investigate your issue (e.g. which version of the library are you using, which browsers are impacted, etc).

Can you please provide reproduction steps?

[2019-07-17 20:12] jasonnutter commented on #833
I believe this may be similar to #677. The short answer there is that the `wids` claim may not be present in tokens generated via the implicit flow due to length concerns ([source](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims), scroll down to `wids`).

Does that sound right @sameerag?

[2019-07-17 21:57] DarylThayil commented on #414
This is still in our perview for July release. Working through solutions!

[2019-07-17 22:01] jasonnutter commented on #816
@geitir We are not able to reproduce the behavior you describe. Can you please provide a sample that exhibits the cache miss?

[2019-07-17 22:13] Torvin commented on #699
@sameerag is anybody working on this?

[2019-07-17 22:31] sameerag commented on #833
Yes. I am working with the server team to understand if there is a workaround to support implicit flow users in this context, will reach out once I close the loop with them. Can we close this as a dup for #677?

[2019-07-17 22:50] sameerag commented on #699
Ah! Apologies, I can take a look this week. Some of the issues were on the back burner as we are sorting them.

[2019-07-17 22:52] sameerag commented on #513
This will be pushed in the next angular patch release, currently merged to dev.

[2019-07-17 22:52] #513 closed

[2019-07-17 23:48] leniel commented on #585
Guys, can you shed some light on this specific case? https://stackoverflow.com/q/57085159/114029

[2019-07-18 00:06] sameerag commented on #717
#811 fixes this and currently merged to dev.

@keystroke Please pull in the dev branch if you want to quickly test this. This handles the undefined error and you see a server error thrown. Regarding adding a specific error type for these cases, I am talking to the service guys to understand what is feasible and will have a new PR for that later.

Closing for now. Please open a new issue if you bel

[2019-07-18 00:06] #717 closed

[2019-07-18 04:08] ayuspark commented on #736
@jfbloom22
Hi,

What is your solution to the problem then?
I have the same issue -- after clearing app storage, calling acquireTokenSilent will go renew idToken (my app also has a scope of just clientId), which results to changing the scope to ['openid', 'profile'], hence the tokenResponse.accessToken is null, although tokenReponse.token_type is access_token.

How did you solve this?

[2019-07-18 04:55] ayuspark commented on #736
@DarylThayil Sorry to ping you -- I am still seeing the same issue using 1.0.2
`scope: [ clientId ]`,
in incognito mode on fresh load, call acquireTokenSilent, then the tokenResponse returned has a `tokenType: access_token`, but `accessToken: null`
![msal null accessToken](https://user-images.githubusercontent.com/23284999/61429746-4d9e4400-a8dc-11e9-8678-68de466bb481.PNG =300x)

Meanwhile, the sc

[2019-07-18 05:27] Statowfiq opened #838 "Azure ADB2C logout doesn't invalidates access token."
Azure ADB2C logout doesn't invalidates access token.

I am using MSAL 0.2.4 library. The logout function logs out me from my application and redirects me back to login. But the access token is still alive. I am able to use the old access token to access my webAPI.

The access token is not getting invalidated post logout.

[2019-07-18 07:24] kangcity opened #839 "acquired token silent timeout for token renewal on Azure B2C"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 71.0.3578.98 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [

[2019-07-18 09:01] RecuencoJones commented on #833
It might be a similar issue, but I observe this only with users which do not directly belong to Azure AD (i.e guest users or users from different domains)

If I attempt to log in with a user belonging to the AAD it returns the roles claim just fine.

I.e: https://gh1hp.codesandbox.io/
User: test@recuedav.onmicrosoft.com
Pass: Qopa3741

From the console you can check the output:
![image](https://us

[2019-07-18 09:24] PraveenVerma17 commented on #699
I have tested in below browsers

Accounts | Chrome | Edge | IE11
Corp Id | Works | Works | Works
Gmail Id | Works | Fail | Works
Yahoo Id | Works | Works | Works

For gmail id in edge we are keep getting undefined token. Sometimes we get undefined in other browsers also but works fine after using private or incognito mode. Hoping this would help you.

[2019-07-18 13:28] geitir commented on #816
Here's logging using "if (value == 'openid' || value == 'profile') { return true; }"
![with-fix](https://user-images.githubusercontent.com/26013461/61461274-64758280-a93e-11e9-9588-b6c08daa76da.png)

Here's what I'm getting by default
![bad](https://user-images.githubusercontent.com/26013461/61461294-6b9c9080-a93e-11e9-9b12-82298d150def.png)

[2019-07-18 14:10] jfbloom22 commented on #736
@ayuspark  what solved it for me was passing in a single scope similar too: “https://B2CBlog.onmicrosoft.com/notes/read”
I followed this guide to setup my Web API and Client Application and put together a working scope.  https://azure.microsoft.com/en-us/blog/azure-ad-b2c-access-tokens-now-in-public-preview/

[2019-07-18 14:30] raikoss commented on #736
By passing Client ID as the only scope, you are renewing your ID token, not any access tokens you may have acquired beforehand. This is most likely why the access token is null, but as you can see you have a new ID token in the response.

If you want to silently renew access tokens, you pass the same scopes as when you acquired them when you used `AcquireTokenRedirect` or `AcquireTokenPopup`.

[2019-07-18 14:51] jfbloom22 commented on #736
How I learned that passing in the clientid as the only scope would result in the idToken being renewed was by stepping through the source code and finding this comment:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ce4f045ea56d137993b91fe81d0938139b1298b3/lib/msal-core/src/UserAgentApplication.ts#L429

[2019-07-18 16:07] raikoss commented on #736
Yeah I can't really find it either, I remember it was back in the old v0.2.4 documentstion at least. I would suggest creating a new issue for this, maybe someone will document it somewhere :)

[2019-07-18 16:14] pkanher617 commented on #838
@Statowfiq Thanks for bringing this to our attention, I will try to reproduce this today.

[2019-07-18 17:34] sergey-tihon commented on #762
more and more users complains about this, especially when MSAL have to request and update two tokens (for Graph and SharePoint Online) in the same time.

https://antongorbikov.wordpress.com/2019/07/01/migrating-from-adal-to-msal/

[2019-07-18 17:55] sameerag commented on #838
@Statowfiq is this also seen in msal 1.0.x? Is it possible for you to test it?

[2019-07-18 18:00] sameerag commented on #736
@negoe We need to document this. We have tokenrenewal documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs), but we may need to add the nuance that passing client-id issues/renews idToken.

[2019-07-18 18:35] nmetulev commented on #746
Thanks @jasonnutter.

Yeah, that makes sense to me. For majority of developers today who use a bundler like webpack or rollup, this shouldn't be an issue, but with es6 modules becoming more and more popular, I expect we will see a lot more of this in the future :)

[2019-07-18 19:34] jstallm opened #841 "Where can I see which versions of Angular are supported?"
Is there a single location to obtain this information? It appears at the surface that its up to angular 5.x, and that Angular 6+ and WIP. Can we get an official response on this please? Thank you in advance if this information is obtainable somewhere else, I just dont see it being very apparent to me, and its not obvious when looking at the
https://github.com/AzureAD/microsoft-authentication-libra

[2019-07-18 20:03] kennethferrese opened #842 "With multiple accounts, user is redirected through login experience twice"
## I'm submitting a...

<pre><code>
- [x] Bug report
</code></pre>

## Browser:
- [x] Chrome version 75.0.3770.142

## Library version

<pre><code>
Library version: msal@1.0.0

</code></pre>

## Current behavior

When a user has two or more active accounts, and they try to log into our B2C app via a Sign-In Only policy with Federation to one or more of those accounts, they are prompted to select o

[2019-07-18 22:37] ayuspark commented on #736
Thank you peeps for the response.
@jfbloom22 Thanks for the reference. Our app has the apis behind the same clientId. It means, the resource/scope we are accessing is using the same clientId. Hence the scope is always `scopes: [ clientId ]`.

The scenario is when I was testing the app:
(1) I login the app (idToken and accessToken will be set in cache)
(2) I clear the application cache
(3) I open s

[2019-07-19 00:31] abannsunny opened #843 "msal-angular fails to login user on mobile browsers"
[ ] Bug report

## Browser:
Chrome for IOS V- 75.0
Chrome for Android v- 75.0
Safari for Ios v-12

## Library version
"@azure/msal-angular": "0.1.2"

## Current behavior

login with pop up succeeds but authService.getUser() returns null hence user is not logged in. This happens only in the mobile version of chrome and safari. Desktop version works fine.

I am not sure if it is because of differenc

[2019-07-19 03:15] kangcity commented on #839
I'm writing a simple program to further test on the issue as code below:-

import { Component } from '@angular/core';
import { MsalService, BroadcastService } from '@azure/msal-angular';
import { from } from 'rxjs';
import { environment } from 'src/environments/environment';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export

[2019-07-19 03:18] sameerag commented on #841
@negoe Can we please add this in the Readme under angular?

[2019-07-19 12:24] chr1soscl commented on #414
While you are fixing this, I just implemented msal-angular for my app and stuck in the same issue, my unit testing runs in Jest and my test is failing with the following error message:
Jest encountered an unexpected token

This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that t

[2019-07-19 12:41] m4ss1m0g commented on #521
I have the same situation have you found a solution ?

[2019-07-19 12:49] mirkodelgado commented on #798
Hello @jasonnutter,
Any update on a fix for IE11? My company of holding off deploying a site because SSO not supported on IE11? Any time frame you can provide?

thanks,

Mirko

[2019-07-19 15:05] Meberem opened #844 "Get a V1 token using MSAL.js"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe: General Help
</code></pre>

## Library version
[code]

## Current behavior
I end up getting a V2 token for an app that requires a V1 token

## Expected behavior

[2019-07-19 16:06] mmuarc opened #845 "Leading blank space in scope makes token caching mechanism not work"
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ x] Performance issue
[ x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 75.0.3770.100
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version

Library version:

[2019-07-19 16:59] mmuarc opened #846 "Config object passed on login request is mutated to include extra scopes"
## I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[x ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version

Libr

[2019-07-19 17:00] DarylThayil commented on #845
Thanks for submitting this @mmuarc , I agree this may not be a bug but it is an interesting potential confusing case for developers.  @pkanher617 / @sameerag  @jasonnutter  thoughts on whether we should trim scopes on the way in?

[2019-07-19 17:43] DarylThayil commented on #762
This is definitely something we are focused on fixing @jasonnutter is helping drive the investigation

[2019-07-19 17:53] nmetulev opened #847 "Circular Dependency Utils.js -> ClientAuthError.js -> Utils.js"
## I'm submitting a...

<pre><code>
[x] Other... Please describe: Code quality
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library version

<pre><code>
Library version: 1.0.2

</code></pre>

## Current behavior

Utils.ts is importing:

[import { ClientAuthError } from "./error/ClientAuthError";](h

[2019-07-19 17:56] jasonnutter commented on #847
The offending line is actually about to be removed in the PR addressing your base64 issues, so this will be resolved in the next release. Thanks!

[2019-07-19 17:56] #847 closed

[2019-07-19 21:37] jodonnell opened #848 "Make CacheLocation an enum"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-07-20 00:03] sameerag commented on #848
Sure. @jodonnell Are you open to submitting a PR for the same?

[2019-07-20 00:07] sameerag commented on #845
Yes @DarylThayil, I think we should factor out all scopes behavior into a single place and have good documentation around it. Will come up with a plan regarding the same, once I conclude how auth libraries, in general, should handle these use-cases.

[2019-07-20 07:08] veljkoz commented on #521
Yes - one of the attributes was wrong, like where the guid or URL should be, can't remember exactly. Anyway, it's weird but fixing that fixed the signature...

[2019-07-20 12:01] jodonnell commented on #848
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/851

i was only sort of able to test this in context so i'm not 100% confident it works like i want it to :'(

[2019-07-21 03:14] Ralms opened #853 "Scopes not populated in authentication response."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] Opera 62.0

[2019-07-21 03:20] Ralms opened #854 "Question: How to get current user granted permission scopes?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] Opera 62.0

[2019-07-21 16:53] PraveenVerma17 commented on #735
@sameerag
I think we should priorities this issue because its a huge security whole in process.

Step 1:  Click on log out
Step 2:  Does not select any account to logout
Step 3: leave system if someone else uses same session window or same browser and refreshes the page
Step 4: MSAL does not remove this from server because token did not expire yet
Step 5: ANother user get the access of previous us

[2019-07-21 16:56] PraveenVerma17 commented on #490
@sameerag
I think we should priorities this issue because its a huge security whole in process.

Step 1: Click on log out
Step 2: Does not select any account to logout
Step 3: leave system if someone else uses same session window or same browser and refreshes the page
Step 4: MSAL does not remove this from server because token did not expire yet
Step 5: Another user get the access of previous user

[2019-07-22 03:14] adeshtc commented on #407
HI,

m facing issue while calling my web api with bearer token. getting issue unauthorized access 401.
But able to call the graph api with token successfully.

msal angular version which am using is "@azure/msal-angular": "^0.1.2",

export const protectedResourceMap:[string, string[]][]=[ ['http://localhost:8133/api/FrameworkData/ReleaseManagement/GetAllFrameworkDetails',['api://d6d2dc96-6757-47f7

[2019-07-22 04:33] sameerag commented on #797
@athreyee I am closing this ticket. Please reopen in case you see a new issue.

[2019-07-22 04:33] #797 closed

[2019-07-22 08:19] RecuencoJones commented on #833
Okay, so I got to solve the issue over the weekend, I was just missing adding the following to my configuration:

[code]

After that I'm able to retrieve the roles for all users registered in the application.

[2019-07-22 08:25] RecuencoJones commented on #833
On another hand (maybe should create another issue for this one?) once the `auth.loginRedirect()` returns with success I'm able to access `auth.getAccount().idToken` – decoded already.

Would it be possible to also add the property `rawIdToken` to it without having to use `auth.acquireTokenSilent()` and/or `auth.acquireTokenRedirect()`?

[2019-07-22 13:17] snebjorn opened #855 "[MSAL for Angular] Fails to compile with the Ivy"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: "@azure/msal-angular": "0.1.2"
Angular version: 8.1.1
</code></pre>

## Current behavior
Build f

[2019-07-22 18:15] sameerag commented on #848
Merged this to dev, @jodonnell Please let us know if you need anything else in this context.

[2019-07-22 18:15] #848 closed

[2019-07-23 00:46] pkanher617 commented on #854
@Ralms The granted scopes are returned in the AuthResponse object that is returned when an acquireToken or login call has been completed.

[code]

Hope this answers your question! Please reopen this issue if it isn't working as expected.

[2019-07-23 00:46] #854 closed

[2019-07-23 00:53] pkanher617 commented on #853
@Ralms The login call only returns an idToken. Scopes are tied to access tokens, so you will receive the user.read scope when you make an acquireToken call for a graph access token.

Scopes passed during the login call are pre-consent scopes, which allows the user to consent to these scopes at login time, rather than when acquiring the token. These scopes must all be from the same resource. Any sc

[2019-07-23 01:03] Ralms commented on #854
Hi,
Yes but what I'm looking was for a way for me to check those scopes before requesting the AccessToken.

Is there a way, like we have getAccount() for the user, but to get all Scopes that the user or Admin have granted to my application?

[2019-07-23 01:04] Ralms commented on #854
And I don't seem to have permission to reopen issues.

[2019-07-23 01:08] Ralms commented on #853
@pkanher617 I'm confused, in the issue #854 you say that "The granted scopes are returned in the AuthResponse object that is returned when an acquireToken or login call has been completed." and this is a login call.
Now here you say it's not returned.

Can you please confirm that this is the actual intended behavior?
Because I have someone saying that in .NET version of the library it works fine,

[2019-07-23 01:29] pkanher617 commented on #846
@mmuarc Thanks for a detailed description here.

I just wanted to clear up some usage with MSAL so I can make sure I understand your problem. We have two separate "configuration" objects in MSAL.js now. The first is the configuration of MSAL.js, which is described in Configration.ts, the second is the request object sent to the login and acquireToken APIs, which is described in AuthenticationParam

[2019-07-23 01:43] pkanher617 commented on #853
@Ralms In the future please combine related issues into a single submission to make it easier to mitigate. I am going to merge #854 into this issue to make it easier to manage.

Javascript works a little differently than other libraries, since we are the only ones with the login API.

I misspoke when I was responding in #854, which I have updated. This is intended behavior. Scopes are tied to toke

[2019-07-23 01:45] pkanher617 commented on #854
Leaving this closed since it is related to #853.

[2019-07-23 01:54] pkanher617 commented on #842
@kennethferrese Thank you for the detailed repro steps.

Would it be possible to post a snippet of how the login and acquireToken calls are being made?

From your description, it looks like the acquireTokenSilent function is failing on reload, which is forcing the multiple login experience. This may be due to the login_hint or sid not being passed, so the server doesn't have context to return the

[2019-07-23 02:03] pkanher617 commented on #736
@ayuspark I will try to answer your questions.

1) When the cache is null, acquireTokenSilent should fetch a token for the scopes that you have given. You should get the token in the authResponse, and should not be required to call ATS again.
2) This may be a bug in our token response handling, I am checking this now.
3) The auth request object  given does not get modified by MSAL. We simply appen

[2019-07-23 09:23] mmuarc commented on #846
Hi @pkanher617, thanks for your response. I think I maybe didn't explain the issue correctly.

Consider a const object in my application, that I use to store the initial configuration for UserAgentApplication and also contains the scopes that I'm going to use during the whole application lifetime. The object is this:

[code]
  static loginRedirect = () => {
    let loginRequest = {
      scopes: *

[2019-07-23 12:07] AbhaysinghBhosale commented on #834
@jasonnutter i have updated the issue with the details

[2019-07-23 16:30] athreyee commented on #797
The issue got resolved by adding the client ID under Authorized client applications along with having in KnownClientApplications in the manifest file

[2019-07-23 17:59] 01010100010100100100100101000111 commented on #697
I am _not_ using any framework, just vanilla JavaScript - for me plug and play would be plug in the required settings (authority, clientId etc..) then be able to call a method like getAccessToken() and it return a useable token.

Right now, you are asking me to check if the instance has an account, if not, log in, then ask for a token etc... The login popup is provided by Microsoft, so I don't rea

[2019-07-23 18:03] sameerag commented on #821
Closing this with #857

[2019-07-23 18:03] #821 closed

[2019-07-23 18:29] pascalgn opened #3852 "Error: In Strategy.prototype.jwtVerify: cannot verify token"
We are using permission `user_impersonation` for our app registration when requesting an access token (`scope=api://123-our-client-id-456/user_impersonation`) and we get the following error:
[code]

When adding `loggingNoPII: false` to our config, we also see the following error:
[code]

[2019-07-23 18:29] ayuspark commented on #736
@pkanher617
Please see the following comments
(1). Like I said the previous post, the authReponse **DOES NOT** have the accessToken. It is `null`.
(2) Yes, please do. Thank you.
(3). `scope` in the authRequest is **modified by reference**. This means, my static `scope` is modified by MSAL.js. And MSAL does **not** simply append "openid" and "profile", **[it removes the `clientId`](https://github.c

[2019-07-23 18:44] jasonnutter commented on #414
@chr1soscl You can file a new issue for that, thanks!

[2019-07-23 18:51] chr1soscl opened #858 "MSAL for Angular Jest test not working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-07-23 19:12] ktsakas commented on #756
We are looking into this internally, but this is not something we plan to support in the next couple of months.
Closing this for now, but will comment if there is an update. Feel free to leave a feature request on our [UserVoice page](https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c).

[2019-07-23 19:24] #756 closed

[2019-07-23 19:29] sameerag commented on #784
@keystroke I guess in your scenario "when the user selects a different directory, proceeding directly to use one of the acquire token methods and provide a new authority parameter" should work. Can you try this and let me know?

We are also working on improving our samples, a merge to dev with updated samples is planned in a couple weeks. We will try including this use-case, If not in the first cu

[2019-07-23 19:49] jasonnutter commented on #858
@chr1soscl Would you be able to put together a sample project that closely matches your setup that demonstrates the issue? It will help us more quickly debug the issue, thanks!

[2019-07-23 20:19] DarylThayil commented on #736
@pkanher617 thoughts on just adding code to null check a successful response and throw an error if it is a false positive?

[2019-07-23 20:25] DarylThayil commented on #697
0101010101010101010 (sp?) as a whole we are thinking about higher level apis vs lower level apis. Right now, I agree, we have lower level apis, and they require some patterns that are not extremely obvious.

The goal is the flesh out higher level apis accross msal libraries, that make sense and have the right level of abstraction. Hoping that we have something to share in the near future

[2019-07-23 23:18] Ralms commented on #853
@pkanher617 The reason I've opened 2 issues was because although it's the same topic, it was 2 diferent scenarios. This one was something that I though it could be a bug on login, while the other was a question on getting the scopes but not by getting it from the accessToken.

It's clear. Thanks.

[2019-07-23 23:18] #853 closed

[2019-07-24 05:14] kangcity commented on #839
@pkanher617 Any update on this issue? We are keep facing the same error on the first hit on the B2C open id after the access token expired by calling the acquireTokenSilent.

[2019-07-24 06:15] leniel commented on #701
I also got this while doing a custom Sign Up policy. After the redirection from Azure B2C Sign Up policy this error appears in Chrome Developer Tools console.

msal 1.0.2

[code]

[2019-07-24 08:01] leniel opened #866 "How to set\pass #id_token received from custom B2C policy and setup MSAL angular from it?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe:
</code></pre>

This is more of a question: I already get and #id_token from my custom B2C Sign Up policy. However this policy is called from a link in an e-mai

[2019-07-24 14:02] anton-gorbikov commented on #816
@jasonnutter currently we are experiencing the same behavior on our project even with the latest v1.1.1

![image](https://user-images.githubusercontent.com/5469718/61799767-5dfe7380-ae34-11e9-9053-7e0f529208e4.png)

We are calling the `acquireTokenSilent` with the single scope `['https://{{tenantId}}.sharepoint.com/.default']` but instead of single expected authentications we see two: the first on

[2019-07-24 20:47] ncausey opened #867 "Login not working after update"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge (Chromium) version 77.0.223.0
- [ ] Safari version X

[2019-07-24 21:56] pkanher617 commented on #867
Hi @ncausey thank you for the details.

Can you verify exactly which parameters are not being populated in the account object? Is the entire object null or is it only specific properties?

[2019-07-24 22:00] pkanher617 commented on #846
@mmuarc I apologize, I don't think I fully understood your issue the first time. However, I think we identified where this is happening. Thanks for letting us know. I will try to push a fix for this.

[2019-07-24 23:04] pkanher617 commented on #867
@ncausey I tried to reproduce the issue with our b2c [sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) and wasn't able to see the issue you described. Do you have any repro steps or screenshots which may help?

[2019-07-25 01:28] AndrewCraswell commented on #319
My team is also hitting this issue in a sense. We have a Registration workflow, and a generic Login workflow. Each workflow requires the user to be redirected back to a different page. For registration, when the user authenticates we redirect back to a Terms of Service page where user must agree to terms. In the generic login workflow, the user should be redirected to wherever authentication was i

[2019-07-25 01:31] chr1soscl commented on #858
@jasonnutter
https://github.com/chr1soscl/NXMsalJest

[2019-07-25 11:44] ncausey commented on #867
@pkanher617 the `homeAccountIdentifier` is populated, but all other parameters are null or undefined.

For me to repro this with my code, I update the version to 1.1.1 and log the response, it is not working.
This same code on version 1.0.2 for me logs the response and it all looks as expected.

[code]

[2019-07-25 12:37] kennethferrese commented on #842
I think you're right, our current implementation does not include a login_hint or sid.  However, we've been researching this approach and we're having difficulty getting the login_hint or sid to appear in the id_token.  We've tried altering the manifest of the application federating to us and allowing the 'profile' and 'openid' permissions via the checkboxes in Azure, but this hasn't changed any b

[2019-07-25 15:00] bachoang opened #869 "MSAL Angular sample does not work in IE11"
demo sample app https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples/MSALAngularDemoApp does not work correctly.  It works fine in Chrome but not IE 11.  I am already using the sample from the dev branch (the default one from master branch is even worse showing blank screen).

I see the following error in IE 11 console going through the login process

[2019-07-25 16:47] PraveenVerma17 commented on #617
InteractionRequiredAuthError: AADSTS50158: External security challenge not satisfied.
Trace ID: f92ad13c-2b85-4f9e-a3cb-d1210e880400
Correlation ID: d47ccc24-9598-4dd6-9a92-0616240d6b16
Timestamp: 2019-07-25 16:42:11Z
    at InteractionRequiredAuthError.AuthError [as constructor] (https://localhost:44318/static/js/0.chunk.js:101884:24)
    at InteractionRequiredAuthError.ServerError [as constructo

[2019-07-25 16:53] jasonnutter commented on #858
@chr1soscl Thanks!

[2019-07-25 16:54] jasonnutter commented on #869
This is a known issue that we are currently investigating, and should hopefully have a fix soon. Closing as a duplicate, but will update when we have a fix. Thanks!

[2019-07-25 16:54] #869 closed

[2019-07-25 16:54] alvipeo opened #870 "doesn't work with angular 8"
Tried to use MSAL for angular today, followed the readme but got bunch of compile errors from node_modules/@angular-msal-whatever.

No, I did not use rxjs-compat. If this is a lib for Angular please make it clean and work smoothly!
Now it's not usable.

Angular 8.

[2019-07-25 17:05] jfbloom22 commented on #736
@pkanher617 just making sure you saw this code comment I mentioned above.  I believe the 'null' access token is intentional when the 'clientid' is used as the only scope.

If you ask me, changing the type of token returned based on which scope is passed in, is a confusing side effect.  Might consider adding a config option for tokenType so that we can clearly request the type of token we want.

[2019-07-25 17:12] DarylThayil commented on #870
@alvipeo  Thanks for reaching out, angular is on our roadmap and work should hopefully begin soon to get it to 1.0.0 angular 6+

[2019-07-25 17:13] DarylThayil commented on #867
@sameerag  is this related to claims?

[2019-07-25 17:15] DarylThayil commented on #866
@leniel  correct me if I am wrong, but are you saying that the user is already logged in at this point, you just want a way to make sure `msal` has context of it by passing in the id token?

[2019-07-25 17:39] leniel commented on #866
Exactly that Daryl... after the sign up plociy finished, that is, the user
clicked the Create button (the user) is added to Azure AD and so the policy
returns the #id_token with the claims like email, user name, policy name
(acr), etc.

I just need a way of making msal aware of this #id_token and create it's
context based on this #id_token.

Is this possible? If yes, this would be awesome in our u

[2019-07-25 17:59] sameerag commented on #866
User can pass in a login_hint in the request and msal js can build that context. Will that work for you @leniel? Please share the msal js version you are currently working with, I can reach out with the specifics.

[2019-07-25 18:04] leniel commented on #866
Hi Sameera... I'm using the latest version v1.1.1.

I'm also using msal-angularjs wrapper (published 1 year ago):

https://www.npmjs.com/package/@azure/msal-angularjs

If you can point me in the right direction that would be awesome.

On Thu, 25 Jul 2019 at 20:59 Sameera Gajjarapu <notifications@github.com>
wrote:

--
Leniel Maccaferri
+55 24 98826-3578 <https://wa.me/5524988263578> mobile\WhatsAp

[2019-07-25 19:00] alvipeo commented on #870
yeah, you're 3 versions behind... so I wonder what "soon" means.

[2019-07-25 20:01] DarylThayil commented on #870
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap
Definitely feel the pain on your end. this is our roadmap right now.
We are trying to get the core library and issues into the best place to move angular over ASAP.
 cc @negoe

[2019-07-25 21:57] DarylThayil commented on #870
closing, tracked in #786

[2019-07-25 21:57] #870 closed

[2019-07-25 22:12] DarylThayil commented on #790
@sergey-tihon  fixed in #799 released in 1.1.1

[2019-07-25 22:12] #790 closed

[2019-07-25 22:17] DarylThayil commented on #746
resolved and released in 1.1.1

[2019-07-25 22:17] #746 closed

[2019-07-25 22:19] DarylThayil commented on #735
Note: Our AAD server team has this in backlog and we will try to get prioritized.
As soon as the protocol work is done, we will confirm it is fixed in library.
Currently unscheduled.

[2019-07-25 22:21] DarylThayil commented on #729
@xenalite are you saying that you want the broadcast to happen on every page load and not just on the original token acquisition"?

[2019-07-25 22:22] DarylThayil commented on #703
linked in #786  closing this

[2019-07-25 22:24] DarylThayil commented on #702
@xeaser  have not heard back, closing. If this is still an issue please open an new ticket.
Thanks

[2019-07-25 22:24] #702 closed

[2019-07-25 22:25] pkanher617 commented on #853
@Ralms Gotcha, glad we were able to resolve your issues!

[2019-07-25 22:26] DarylThayil commented on #697
Putting in Triage, to determine the set of work to come out of this

[2019-07-25 22:29] DarylThayil commented on #667
Moving to Triage, @sameerag  to add context

[2019-07-25 22:30] #640 closed

[2019-07-25 22:31] DarylThayil commented on #626
Linked to #504  closing as duplicate

[2019-07-25 22:31] #626 closed

[2019-07-25 22:32] DarylThayil commented on #626
@imnista  note this is something currently in progress to support

[2019-07-25 22:34] DarylThayil commented on #609
Unfortunately B2C does not support this at this time #756
Their team is investigating this, but please leave feedback on their [user voice page](https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c)

[2019-07-25 22:35] #608 closed

[2019-07-25 22:36] DarylThayil commented on #602
We are exploring other alternatives to in memory storage, will take this into account but closing for now.

[2019-07-25 22:36] #602 closed

[2019-07-25 22:39] DarylThayil opened #871 "New Secure Option For Storage"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-07-25 22:40] DarylThayil commented on #599
closing because we released!

[2019-07-25 22:40] #599 closed

[2019-07-25 22:41] DarylThayil commented on #526
closing because it is tracked in #786

[2019-07-25 22:42] DarylThayil commented on #490
#735  Unfortunately the protocol does not support this yet. We have filed a ticket with them to get this work done so it is supported

[2019-07-25 22:43] DarylThayil commented on #488
this should be fixed in msal 1.0 +
1.1.1 is our most current version

[2019-07-25 22:43] #488 closed

[2019-07-25 22:44] DarylThayil commented on #481
Tracked in #786 closing

[2019-07-25 22:44] #481 closed

[2019-07-25 22:44] DarylThayil commented on #476
closing because it is tracked in #786

[2019-07-25 22:44] #476 closed

[2019-07-25 22:49] DarylThayil commented on #390
@negoe to add context on angularjs support

[2019-07-25 22:51] DarylThayil commented on #300
Closing due to inactivity and old version

[2019-07-25 22:51] #300 closed

[2019-07-26 02:43] nscdde02 commented on #838
Hello! Did you ever have the way to reproduce it? I am facing the same situation in an Enterprise application. I already tried to force the clearing, removing local storage, session storage, indexed DB and cookies but still retrieves the token after logout.

[2019-07-26 03:35] ayuspark commented on #736
@jfbloom22 In some apps, the services/apis can be behind the same clientId as the client app, hence calling with just the clientId as scopes when idToken exists, can return accessToken.
The issue I raised was when calling renewIdToken, it is true that it returns an idToken, but with a tokenType as access_token, meanwhile the accessToken property is null.

I have addressed the issue with the msal t

[2019-07-26 07:03] xenalite commented on #729
@DarylThayil Yes. If a token is already in storage on page load, an event should be emitted.

[2019-07-26 17:30] nmetulev commented on #746
Thanks folks. Just tested by updating the version in the toolkit and this issue seems resolved.

However, now uuid is causing the same issue. Even though it has been around for a while - I believe #840 added it to the critical path for the browser recently. I did verify it's uuid by removing uuid from the core project.

Looks like there is an experimental PR open for uuid (from the author) to add

[2019-07-26 17:52] DarylThayil commented on #746
yes please do create an issue. I was wondering why that one wasnt causing an issue, but looks like it is

[2019-07-26 17:52] DarylThayil commented on #746
cc @jasonnutter

[2019-07-26 17:55] DarylThayil commented on #729
hmmm I could be wrong but this seems outside of the design intent.

When a token is received we emit, if a token is cached it is something different altogether

[2019-07-26 18:36] xenalite commented on #729
It doesn't really matter to me what type of event is emitted, as long as one is. Could even be a new one to say we are in authenticated state. Currently there is no way to differentiate between a state where you are authenticated using a stored token, or state when authentication flow has not even begun yet.

[2019-07-26 20:06] pkanher617 commented on #736
@jfbloom22 As ayuspark says, in the cases where services and apis are behind the same clientId, the clientid scope will return an idToken and an accessToken (which are incidentally the same) which will grant access. I am pushing two separate PRs to address the fact that when you are returned ONLY an id_token, the tokenType will reflect that, and the scopes you give us will not be mutated.

@ayuspa

[2019-07-26 20:20] nmetulev opened #874 "The uuid dependency is not an es6 module and does not work in the browser"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge dev latest
- [ ] Safari version XX

## Library versi

[2019-07-26 20:21] nmetulev commented on #746
Created #874 and added a minimal repro project

[2019-07-27 19:56] abannsunny opened #876 "Need clarification on how to use MSAL.js in angular 6+/ latest angular projects"
## I'm submitting a...

[ ] Documentation issue or request/ incremental bug fixes to wrapper libraries

I understand that the main focus of this project is to add functionality to the core MSAL.js library and not the wrapper libraries.

But I see that the road map shows that the angular wrapper library update has been pushed back to Oct-Dec 2019 from june-august-2019.

Please advise on how to use

[2019-07-28 15:39] kylemar commented on #844
_I have tried setting the consentScope to ["{applicationGuid}/.default"] but then I end up with a v1 token for Microsoft Graph._

In general, you should not inspect the access token that is intended for Microsoft Graph, or other APIs. When you set the scope to /.default did calls to Microsoft Graph succeed as well as the calls to the Blockchain API?

[2019-07-28 18:52] Statowfiq commented on #838
Yes. I am able to reproduce the problem.

But i didn't get solution yet.

On Fri 26 Jul, 2019, 8:14 AM Nancy Barraza, <notifications@github.com>
wrote:

[2019-07-29 00:35] tylerjwatson opened #877 "UserAgentApplication.getAccount() returns incorrect account in multi-tenant scenario"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 74.0.3729.169 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [

[2019-07-29 04:39] onlyann commented on #846
@pkanher617 If that helps, the `scopes` array passed to `acquireTokenSilent` gets mutated.
[code]

[2019-07-29 11:10] Meberem commented on #844
I didn't really want to inspect the token, I needed to to figure out why I was getting 401 with what I thought was a valid setup. I don't really mind how to get the token I just thought as everything in the setup was MS/Azure that it would all fit together nicely.

I have created a [sample repo](https://github.com/Meberem/ng-ms-authenticator-v1-token) just needs a valid `/src/environments/environm

[2019-07-29 18:35] DarylThayil commented on #729
we do have msal.getAccount() which will return null or a user object which is the general direction we give to checking if a user is logged in or not

[2019-07-29 21:47] prooli22 opened #879 "Excessive amount of calls to https://xx.b2clogin.com/xx.onmicrosoft.com/xx/v2.0/.well-known/openid-configuration"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 75.0.3770.142
- [x] Firefox version 68.0.1
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

#

[2019-07-29 23:57] choclaudio commented on #735
I am running into the same issue. I have been scratching my head over this and I can confirm that this is  not on the msal code. I will follow this thread with high hopes and expectations :)

[2019-07-30 00:00] choclaudio commented on #735
I can confirm that the workaround works perfectly.

[2019-07-30 11:06] peshos opened #880 "Rxjs v.6+ support"
## I'm submitting a bug

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Version update/support
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version

[2019-07-30 14:27] aszalacinski commented on #526
@DarylThayil Why is this being closed? The OP was having an issue with a VUE.JS app. It appears the discussion morphed from the VUEJS issue to updating the angular library. Is there a recommended solution/pattern to handle the redirect that's not related to Angular?

[2019-07-30 14:27] JerryWang20 commented on #414
Is there a work around before we got the workable version?

[2019-07-30 15:24] PraveenVerma17 commented on #347
Today I saw few users are getting null in redirect uri that too in chrome. This mostly happens with guest users not with the same domain user. Guest means gmail, hotmail etc where MFA or conditional access is setup.

Microsoft should address this as these issues are really annoying.

[2019-07-30 15:39] prooli22 commented on #879
After digging in the MSAL source code and debugging, I just found out that for every `acquireTokenSilent()` call, there's a `"Token is not in cache for scope:https://ezpz.onmicrosoft.com/api-dev/user.read openid profile"` which explain the call to /openid-configuration. But then, how come the token is not in cache after login in ? But it is after a refresh ?

[2019-07-30 16:06] DarylThayil opened #881 "All Adal, Msal, Passport libs in our Msal Mono Repo"
Should we pull in all other repos into our mono repo for easy to manage bug filing, build / deploy consistency etc...
Is it confusing to have adal in an msal lib?
I think these libs will see benefits even if they are not in active development

[2019-07-30 16:31] jasonnutter commented on #881
Long term this may not be a bad idea, but I think for now we should stick with just the MSAL libs. Once our monorepo setup is more mature I think pulling those in would be worth consideration.

[2019-07-30 18:06] sameerag commented on #881
I am also concerned about communicating this to teams using ADAL. ADAL JS is in production for people from years and changing the github reference before we have a solid strategy on the monorepo setup, especially details on managing releases, may not be a great idea.

[2019-07-30 18:08] sameerag commented on #879
@prooli22 This is something we are actively debugging. @pkanher617 is there an existing GitHub issue that already tracks this issue?

[2019-07-30 18:08] DarylThayil commented on #881
Sold lets close it

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sameera Gajjarapu <notifications@github.com>
Sent: Tuesday, July 30, 2019 11:06:59 AM
To: AzureAD/microsoft-authentication-library-for-js <microsoft-authentication-library-for-js@noreply.github.com>
Cc: Daryl Thayil <Daryl.Thayil@microsoft.com>; Author <author@noreply.github.com>
Subject: Re:

[2019-07-30 18:09] m4ss1m0g opened #884 "acquireTokenSilent raise a page refresh"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[X] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 75
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-07-30 18:22] prooli22 commented on #879
![image](https://user-images.githubusercontent.com/21690832/62154453-bcb06b00-b2d4-11e9-9cd8-a4a33461b759.png)

Looks like the `ScopeSet.containsScope(cachedScopes, scopes)` https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/81d01b6c8a0a67d1a31b5d4530d3cb10b7a6af48/lib/msal-core/src/UserAgentApplication.ts#L1331, is not doing the right thing ...

I think there should be the ht

[2019-07-30 18:34] prooli22 commented on #879
After the refresh the scopes array looks like this : `["https://ezpz.onmicrosoft.com/api-dev/User.Read"]` without the "openid" and "profile" and that seems to do the trick when looking if the cachedScopes contains the scopes....

[2019-07-30 19:53] prooli22 commented on #879
I just found a work around for this :
[code]

Instead of :
[code]

The thing is I think the MSAL code is mutating the array of scopes by adding "openid" and "profile" to it. But the changes are effective till the `appConfig` so for every other call you won't have the good array of scopes passed in as the request's scopes.

I hope this help some of you, and looking forward for a soon to be fix 👍

[2019-07-30 21:04] sameerag commented on #879
#875 is fixing this. @pkanher617 will announce the details.

[2019-07-30 21:12] kumader opened #885 "ERROR DOMException: "'#access_token=... is not a valid selector""
We did not see this issue with calling acquireTokenSilent in Firefox with our basic MSAL JS version nor have we heard this issue from any of our current customers using angular. Our angular example works with the use-case you mentioned. I suspect some local settings in your case.

Please feel free to open a new issue once you have more data on this.

_Originally posted by @sameerag in https://gith

[2019-07-31 06:58] smudireddy commented on #521
Hi veljkoz,

I am also facing the issue. Could you please tell me what attribute was wrong.

[2019-07-31 15:52] #881 closed

[2019-07-31 16:51] DarylThayil opened #887 "Support Instance Aware in Msal Js"
Instance aware is supported by msal js
* If bounced to another cloud instance, this authority is returned in the response so the subsequent requests can be made to this new authority by developers.
This will reduce latency and cogs.

[2019-07-31 16:52] DarylThayil opened #888 "MSAL.js should return 429 headers information to help consumer manage throttling on their side"
This helps us reach Adal parity.
In the scenario we get a 429 from the AAD server, we should return an exception that allows developers to throttle

[2019-07-31 17:09] DarylThayil opened #889 "Msal Js Supports Conditional Access"
Conditional access is fully supported in Msal Js
* well tested fully functional conditional access support

[2019-07-31 17:11] DarylThayil opened #890 "Msal Js Supports Sending Telemetry Out To Developers"
Developers can receive Telemetry data back from Msal Js

[2019-07-31 17:13] DarylThayil opened #891 "Msal Js Supports Proof Of Possesion"
Developers can create Pop Tokens from Msal Js

WIP PR: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/812

[2019-07-31 17:14] DarylThayil opened #892 "Automate Npm Publish Pipeline"
Publishing a version of Msal Js is automated and set up to be extended for other npm packages

[2019-07-31 17:15] DarylThayil opened #893 "Automate CDN Publish"
Publishing msal js versions to the cdn is automated and can be extended for other packages

[2019-07-31 17:16] DarylThayil opened #894 "Build Pipeline moved from Travis to ADO"
As part of our PR process, we should include the ability to run builds in ADO. This would replace the functionality that Travis is providing today. We can also eventually use this to run end-to-end tests with PR builds to ensure that new features don't break tests.

[2019-07-31 17:17] DarylThayil opened #895 "Linting is expanded and the full set of rules the team wants to enact are implemented"
@jasonnutter  to add description

[2019-07-31 17:18] DarylThayil opened #896 "Full End To End Testing Framework Exists For Msal js"
We have the framework and infrastructure to write and run end to end tests that provide value that increase velocity of development and deployment

[2019-07-31 17:20] DarylThayil opened #897 "Graph Explorer in produciton working with Msal Js"
Help graph explorer team get fully functioning Msal Js implementation to production.

[2019-07-31 17:21] DarylThayil opened #898 "Msal Js Deep Dive into Performance"
Find all performance Bottlenecks in Msal JS and identify which are library and which are AAD.

[2019-07-31 17:23] DarylThayil opened #899 "Msal Js Supports Iframe In Iframe scenarios"
As it currently stands msal js blocks certain scenarios when rendered inside of an iframe because there are edge case scenarios that can not be supported.

The goal is to unblock these so that it can be supported.

Linking all the relevant PRs for this ask:

**Beta release**
Released `msal@1.2.0-beta.0` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS:-1.2.0-b

[2019-07-31 17:56] DarylThayil opened #900 "Support Login Silent If Feasible"
Explore the feasibility of supporting login silent because of the potential uses cases it can help solve for customers

@sameerag to fill in requirements

Feature / top level api that would allow users who are already logged into to ESTS to silently get their id token.  This is especially useful if the user is logged in but msal is not aware of it.

[2019-07-31 18:11] DarylThayil opened #901 "Create an Angular 6+ sample using Msal Core"
Because we have not been able to ship msal-angular in the time frame we wanted to, lets write a sample with Angular using Msal core showing developers how to use it in lieu of msal angular GA

[2019-08-01 12:31] binaryjam commented on #222
Hi  I see you have closed this, and whilst I can understand that you have made a decision to not support IFRAMES, there are occasions where systems written to use this are embedded in an IFRAMe and they need to to know and handle the error.

@brownbl1 was correct when saying

I have this exact issue now, The app is like Ms Stream, which can handle this btw probably because they coded their own lib

[2019-08-01 14:14] sameerag commented on #222
Sure, I guess as we figure out supporting iframe, we can check if emitting an error is possible. @binaryjam Can you please raise another github issue with this request -> Specifically emitting errors in this case?

[2019-08-01 15:23] binaryjam opened #902 "Does not follow reject Promise calling acquireTokenSilent if in Iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version Version 76.0.3809.87 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [X ] Edge versi

[2019-08-01 15:48] drewf7 commented on #102
Just adding here in case anyone else stumbles across this while googling.

For my use case at least (Angular 7). Not only did I have to specify a separate callback page (just a blank component/page), but I _also_ had to set the "navigateToLoginRequestUrl" property to false.

So my msalConfig looked like the below
`
msalConfig: any = {
    auth: {
        clientId: <client_id>
        authority: <a

[2019-08-01 16:21] DrRocket commented on #855
I'm facing the exact same issue.  Msal-Angular is the only dependency in my project preventing me from using Ivy.

[2019-08-01 16:58] DarylThayil commented on #526
Apologies, I think I misunderstood this issue. Reopening

[2019-08-01 20:03] DarylThayil opened #903 "Msal Js Supports Sub Error Codes in CA error cases"
This addresses office blockers:

https://identitydivision.visualstudio.com/Internal%20Partner%20Requests/_workitems/edit/441332
https://identitydivision.visualstudio.com/Internal%20Partner%20Requests/_workitems/edit/441333

right now apps that make a web service call, but get blocked by CA policy, are not given additional context about the type of policy that was applied. Specifically, if it is an

[2019-08-01 22:22] aszalacinski commented on #526
@DarylThayil thank you! Is there anything in regards to a recommended pattern the msal could publish that would allow this issue to be closed up? Something for we engineers who have the luxury of getting to work with languages that do not have the benefit of the MS Mothership templates? :) I think there is enough interested talent on this forum to craft a community solution with the MSAL team guid

[2019-08-02 01:44] FrankHu-MSFT opened #908 "[DOC-FEATURE-REQUEST] Adding a JSFiddle to the ReadMe for quick testing"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[X ] Other... Please describe: Feedback
</code></pre>

## Browser:
- [x] N/A
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version

[2019-08-02 01:49] pkanher617 commented on #902
@binaryjam We are currently working on updating the iframe logic to support msal.js within iframes. @sameerag Can you give more information here?

[2019-08-02 08:04] leniel commented on #866
Hey guys, can you provide any update on this? I'm not sure how to pass this `login_hint` that @sameerag mentioned above.

The user finished the sign up B2C policy journey and then control is sent back to my application.

Right now I have a Web API controller with this method signature:

[code]

This method is hit because I have defined it as a Reply URL in Azure Portal. It's the redirect URI for t

[2019-08-02 14:12] tinodo commented on #560
I am experiencing the same 'issue'.
The metadata endpoint for OpenID Connect that Azure AD exposes, for example: **https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys** lists the **issuer** in the response:

{{
  "keys": [
    {
      "kty": "RSA",
      "use": "sig",
      "kid": "**u4OfNFPHwEBosHjtrauObV84LnY**",
      "x5t": "u4OfNFPHwEBosHjtrauObV84LnY",

[2019-08-02 16:04] #874 closed

[2019-08-02 16:30] DarylThayil commented on #902
I am into this suggestion, I wonder if this should be a breaking change or not
I don't think it is ....

[2019-08-02 16:42] spissay commented on #617
Do we have any update on this. We are seeing similar error after enabling MFA. This is happening on chrome and firefox as well.

[2019-08-02 16:57] sameerag commented on #902
I asked @binaryjam to open this. If there is a way we can send an error with our current behavior if a token is not resolved in an iframe, that can be at least informative. What I need to investigate is if this can be achieved today and the redundancy of the same once we lift the condition in MSAL.

[2019-08-02 16:58] DarylThayil commented on #902
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/909
@binaryjam  / @sameerag  please review

[2019-08-02 16:59] sameerag commented on #902
Ah! I see @DarylThayil, This makes sense. I was more trying to find a condition at resolution. This sounds good.

[2019-08-02 17:03] sameerag commented on #902
@binaryjam Can you also please test #909 in your environment to verify?

[2019-08-02 17:09] DarylThayil commented on #908
@FrankHu-MSFT  have you seen the samples we have in the libs?

/libs/msal-core/samples

The AAD scenario requires a server that accepts redirects to work, I think this would be hard to achieve in a fiddle.

This is also a little dangerous throwing your client id in a public fiddle

closing, but feel free to ping me if you think I am mistaken!

[2019-08-02 17:12] binaryjam commented on #902
Sure, will be Monday though

On Fri, 2 Aug 2019, 18:03 Sameera Gajjarapu, <notifications@github.com>
wrote:

[2019-08-02 17:30] DarylThayil commented on #866
so the id token has some claims in it, SID (session id) is one of them but there are a few others.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/AuthenticationParameters.ts
I think in the `loginHint` you can also use the users email, is that correct @sameerag

[2019-08-02 19:26] DarylThayil commented on #526
@sameerag  I think this is not necessarily an angular issue but might be related to sandboxing the iframes!

[2019-08-02 19:26] DarylThayil commented on #526
@step-lee  is this what your pr was fixing

[2019-08-02 20:47] tanmayghosh2507 opened #911 "Acquire Auth Token using Client Id AND Secret"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.1.1

</code></pre>

## Current behavior

I'm currently using acquireTokenWithClientCredential

[2019-08-02 21:23] sameerag commented on #526
@DarylThayil Yes, I am aware that this is not necessarily angular issue. This issue exists in MSAL core JS. The reason for tagging this in angular space is to pursue the feasibility of a path in Angular framework to mitigate the redirect reload issue before we fix MSAL JS.

I think part of @step-lee 's fix may help here.

[2019-08-03 02:34] visualjeff commented on #521
Can you could provide some snippets from your code?

[2019-08-05 15:23] jasonnutter commented on #911
A Node.js wrapper for MSAL.js is [on our roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap), but currently has no ETA.

Closing as nothing actionable for now.

[2019-08-05 15:23] #911 closed

[2019-08-05 22:33] jasonnutter commented on #798
We have published a new version of msal-angular with compatibility for IE11:

`npm install @azure/msal-angular@0.1.4-beta.1`

Please test this version and let us know if there are any issues. We will promote to a stable release once we're confident this version doesn't introduce any regressions. Thanks!

[2019-08-05 22:34] jasonnutter commented on #414
We have published a new version of msal-angular with compatibility for IE11:

`npm install @azure/msal-angular@0.1.4-beta.1`

Please test this version and let us know if there are any issues. We will promote to a stable release once we're confident this version doesn't introduce any regressions. Thanks!

[2019-08-05 22:35] jasonnutter commented on #858
We have published a new version of msal-angular that should fix this issue:

`npm install @azure/msal-angular@0.1.4-beta.1`

Please test this version and let us know if there are any issues. We will promote to a stable release once we're confident this version doesn't introduce any regressions. Thanks!

[2019-08-05 23:22] FrankHu-MSFT commented on #908
I have seen the samples. if you don't think there's a good way to do it with JSFiddle I understand. I think something like that would be very convenient since it takes some time to setup an environment to get the samples up and running and jsfiddle is very very frictionless. (Our team uses it) Also the client id is fake. Thanks though, closing out issue.

[2019-08-05 23:22] #908 closed

[2019-08-06 01:14] keystroke commented on #784
@sameerag This is still not working in the latest release. Please advise if something is wrong with this code snippet:

[code]

If you open this as a web page, the redirection will be to https://login.microsoftonline.com/246b1785-9030-40d8-a0f0-d94b15dc002c/oauth2/v2.0/authorize? instead of using 'common' it is using '246b1785-9030-40d8-a0f0-d94b15dc002c' from the configuration.

I have my MSAL ag

[2019-08-06 05:13] sameerag commented on #784
@keystroke Can you please try this?

msal.loginRedirect({
            authority: 'https://login.microsoftonline.com/<a different tenant-id than common or your default>',
            scopes: ['openid'],
            prompt: 'select_account'
        });

I am suspecting common is acting as a special case. I can also debug this but I would need some turnaround time as I am working on of some other iss

[2019-08-06 11:07] randompixel commented on #609
Hey @DarylThayil - I'm not sure this is the same as #756. We don't want any prompts to appear. I think this is more related to #741 where multiple logged in Microsoft accounts fail to get tokens silently too.

[2019-08-06 12:41] vbucchar commented on #414
To be safe, I manually deleted my \node_modules\@azure\msal-angular, then ran npm install @azure/msal-angular@0.1.4-beta.1 and restarted my app. I still receive the same error in IE 11.

SCRIPT1002: Syntax error
File: vendor.js, Line: 147093, Column: 1

[2019-08-06 15:25] chr1soscl commented on #414
I took the changes, my application is opening in IE11 version 11.1268.16299.0
but in the console there is an error in a loop:
Invalid Host/Origin header
[WDS] Disconnected!
SCRIPT5022: SecurityError
zone.js (199,1)

[2019-08-06 15:34] chr1soscl commented on #858
Hi Jason,
I took the changes, but now I am getting a different error:
 NullInjectorError: StaticInjectorError(DynamicTestModule)[MsalGuard -> InjectionToken MSAL_CONFIG]:
      StaticInjectorError(Platform: core)[MsalGuard -> InjectionToken MSAL_CONFIG]:
        NullInjectorError: No provider for InjectionToken MSAL_CONFIG!
this is happening with one of my components to which I am applying the Msa

[2019-08-06 15:55] jasonnutter commented on #414
@vbucchar Can you please provide more information about that error? e.g. the code where the syntax error is occurring? Thanks!

@chr1soscl  I also saw that `SecurityError`, and adding the registry entries described [in this issue](https://github.com/angular/zone.js/issues/1001) removed the errors.

[2019-08-06 17:29] vbucchar commented on #414
The app isn't even getting to my code from what I can tell. I get the vendor.js error and execution stops with the blank white screen. When I click on the error in IE this is the code.

class Client {
    /**
     * @private
     * @constructor
     * Creates an instance of Client
     * @param {ClientOptions} clientOptions - The options to instantiate the client object
     */
    constructor(cli

[2019-08-06 17:54] jasonnutter commented on #414
@vbucchar That looks like code from `ms-graph-sdk-javascript`, are you using that? If so, take a look at this Github issue: https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/190

[2019-08-06 18:50] mirkodelgado commented on #798
@jasonnutter,

My app now comes up on IE11 version 11.885.17134.0, but I am receiving "null" when calling the getUser() method of the service.  I am running "ng build --prod".  The sample app works in a "ng serve" environment (code logic very similar). Safari and Chrome still work with new lib.  The developer tools close on the redirect, so its hard to capture log entries, but when I do a refresh,

[2019-08-06 18:58] jasonnutter commented on #798
@mirkodelgado Ah whoops, forgot to mention that you should set the following config option:

[code]

Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/angular-es5-ie11/lib/msal-angular/samples/MSALAngularDemoApp/src/app/app.module.ts#L54

Let me know if that fixes it.

[2019-08-06 19:00] jasonnutter commented on #414
Also, I forgot to mention that you should set the following config option to properly support IE11:

[code]

Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/angular-es5-ie11/lib/msal-angular/samples/MSALAngularDemoApp/src/app/app.module.ts#L54

[2019-08-06 19:06] dluc commented on #735
Azure portal doesn't allow to use `http` + `localhost` for Logout URLs, not sure if that's a bug or a security restriction, but it might be relevant to the conversation.

![image](https://user-images.githubusercontent.com/371009/62568367-e07a3080-b841-11e9-86c8-95311ed53647.png)

![image](https://user-images.githubusercontent.com/371009/62568496-2800bc80-b842-11e9-8ac8-05c41c864d9f.png)

![image](

[2019-08-06 19:24] PraveenVerma17 commented on #735
Are you using AD v1 or v2? Because I did not see logout url configuration in v2.

[2019-08-06 19:26] mirkodelgado commented on #798
@jasonnutter,

Got a little farther

1) in the sample the function should be exported?
2) Got "Function calls are not supported in decorators but isIE was called"
3) Hard coded "true" for testing....got the following:

client logging :: Tue, 06 Aug 2019 19:16:09 GMT:1234-0.2.2-Info renewidToken is called
client logging :: Tue, 06 Aug 2019 19:16:09 GMT:1234-0.2.2-Info Add msal frame to document:msa

[2019-08-06 20:16] jasonnutter commented on #798
@mirkodelgado Looks like we may need to add the `isIE` check into the library itself, instead of forcing users to set it dynamically. I'll chat with the team.

For the `login_required` error, I believe this is a result of how IE handles cookies between zones. Unfortunately, this is a known issue in IE11,  see the [note in the README](https://github.com/AzureAD/microsoft-authentication-library-for-

[2019-08-06 22:14] DarylThayil commented on #902
we believe this will be solved in #899, unfortunately my pr does not take into account the full scenario, and we believe removing the iframe in iframe restriction will. closing  this ticket

[2019-08-06 22:14] #902 closed

[2019-08-06 22:26] DarylThayil commented on #876
#901 is tracking the work for this.  The goal is to have a good holdover sample / direction for angular users until Msal Angular 1.0.0 is ready

[2019-08-06 22:26] #876 closed

[2019-08-06 22:36] DarylThayil commented on #889
@pkanher617  can you add details / context here

[2019-08-06 22:37] DarylThayil commented on #887
@sameerag  can you update status here?

[2019-08-06 22:41] DarylThayil commented on #884
@pkanher617  please comment on status of fix you are working on

[2019-08-06 23:44] chr1soscl commented on #858
Hi Jason, the issue above I fixed it by declaring the module in my spec file the same way I declared it at my app module. that removes the MSAL_CONFIG complain, but now I get a different error from msalService:

 TypeError: Cannot read property 'events' of undefined
at new MsalService (../../node_modules/@azure/msal-angular/src/msal.service.ts:66:21)
      at _createClass (../../../packages/core/s

[2019-08-07 00:45] choclaudio commented on #735
It is actually a typo. This should work. your image says locahost. should be localhost. :)

[2019-08-07 01:48] rick-hayek commented on #839
i'm experiencing the same error

[2019-08-07 07:43] noobling opened #914 "Library does not work on nuxt application"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-08-07 13:00] vbucchar commented on #414
I am not using msgraph-sdk-javascript specifically, though I am using microsoft-graph-client to make my API calls. I uninstalled the sdk package and still receive the same error. I reviewed microsoftgraph/msgraph-sdk-javascript#190 and I'm not sure how to transpile vendor.js to ES5. I'm already targeting ES5 in my build. It seems the user in that issue resolved this by calling the graph APIs direc

[2019-08-07 14:05] arunprasathv commented on #414
@vbucchar I fixed this issue by making rest call from angular by myself and got rid of graph library.

[2019-08-07 15:54] sgentile commented on #414
@jasonnutter what version of msal needs to be installed to use this with @azure/msal-angular@0.1.4-beta.1 ?

[2019-08-07 16:28] snebjorn commented on #798
I can confirm that `^0.1.4-beta.1` can compile using the AoT compiler 👍

[2019-08-07 16:34] jasonnutter commented on #414
The beta is only compatible with version 0.2.2 of msal (which is included as a dependency). It is on our road map to update it to use msal 1.0.

[2019-08-07 16:43] jeverduzco commented on #914
Hi @noobling I have an example working in nuxt, it's from the previous version but if I have time today I update the code to the current version. https://github.com/jeverduzco/nuxtjs-azure-ad-b2c-login

[2019-08-07 17:05] vbucchar commented on #414
I'd really prefer not to do this, but I guess if that's the only work-around I'll have to.

[2019-08-07 17:09] DarylThayil commented on #914
@noobling  thanks for sharing your issue

can you try adding this to your config, it should not be necessary but I am curious if it will fix it

[code]

[2019-08-07 17:17] dluc commented on #735
sorry about the typo, but `localhost` is not accepted - just a different error message:

![image](https://user-images.githubusercontent.com/371009/62643292-7ecacc80-b8fc-11e9-86db-92d6961f23e3.png)

[2019-08-07 17:21] dluc commented on #735
sorry about the typo, but localhost is not accepted - just a different error message:

![image](https://user-images.githubusercontent.com/371009/62643446-d6693800-b8fc-11e9-9b43-7df74a313090.png)

The error occurs even when switching to the new experience, which I think is still buggy

![image](https://user-images.githubusercontent.com/371009/62643569-13cdc580-b8fd-11e9-8d1e-689d84e1d061.png)

[2019-08-07 17:30] sgentile commented on #414
@jasonnutter So above you show calling 'isIE' - the compiler throws errors when attempting to call a function as you have shown.

[code]

[code]

[2019-08-07 17:32] jasonnutter commented on #414
@sgentile Yeah, that was my mistake, I'll update shortly.

[2019-08-07 18:00] DarylThayil commented on #609
reopening to investigate further!

[2019-08-07 18:03] choclaudio commented on #735
Actually, maybe something they have fixed recently because it would not make sense to allow localhost. I initially made the same mistake but azure did not complain about it.

The LOGOUT URL is for single sign OUT. It is not the callback url when  you log out, that you just add to your redirect URIs. Single sign out is when you log out from another application and azure identity service calls that

[2019-08-07 18:03] sgentile commented on #414
I was going to suggest that...

[2019-08-07 18:28] dluc commented on #735
Actually "localhost" is a very common and important scenario for developers.
One needs the OAuth flows to redirect to the app running locally, e.g. http://localhost:3000 when working with ReactJS. "Sign in" needs to allow users coming from localhost and needs to redirect to localhost,  "logout" needs to localhost after signing out, etc.

[2019-08-07 18:44] sgentile commented on #414
My biggest issue right now is trying to debug in IE11.   I get in an infinite loop with this error .

Token Renewal Failed | Token renewal operation failed due to timeout

Only happens in IE11 and localhost.   But I can't even test my app with IE11 at this point...

[2019-08-07 18:49] choclaudio commented on #735
It does support localhost, in the redirect uri section. not for the LOGOUT url. The LOGOUT url is another feature. Imagine a user login out from another application. With single sign out the azure services need a way to tap into other applications and say, hey clear this user. That is what that configuration is for.

[2019-08-07 18:52] sgentile commented on #414
Solved my own issue for those interested... had to add  https://login.microsoftonline.com to trusted sites in IE... what a PITA

[2019-08-07 18:59] choclaudio commented on #735
What I am trying to say is that you should ignore the logout url field (it is for single sign OUT). It won't work with an SPA alone.

You just provide your callback url in the redirect uri section and it will work as you expect it to work with localhost.

[2019-08-07 19:02] dluc commented on #735
The logout URL is not a callback URL called by Azure, it's a redirection URL after the logout is complete.

[2019-08-07 19:06] dluc commented on #735
sorry but this is not correct, I'm working on an SPA right now, and it works as expected.

[2019-08-07 19:21] choclaudio commented on #735
Maybe I am missing something with iframes and how this works.

But I have a working setup where I call : https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http://localhost:4200/logout" and just adding this to the  redirect uri section. The single sign out field is empty for me. The logout works fine, but I am not expecting a single sign out experience, since there is

[2019-08-07 19:38] dluc commented on #735
The issue I'm having with the inability of using localhost in the logout URL, is that the logout process breaks during local development, but then it works in production. As a workaround I've created a short URL, using HTTPS, just for the localhost scenario, but this is just a hacked workaround. In prod, the logout url brings the user back to my SPA as expected, but *only if* I configure it in the

[2019-08-07 19:40] choclaudio commented on #735
Btw, I just tried to insert http://localhost in my logout url and it worked just fine. I am using the v2 API.

[2019-08-07 19:59] chr1soscl commented on #414
anyone having issues with the login popup:

Hi Jason,
I am using the popup to authenticate my user, like this:
MsalModule.forRoot({
      clientID: 'myclientID',
      authority: 'myAuthority',
      popUp: true,
      consentScopes: ["user.read"]
  })
with the library version:
"@azure/msal-angular": "^0.1.2"
the popup is working fine, but with the beta version, the popup is not coming up.

[2019-08-07 20:48] jasonnutter commented on #414
@chr1soscl Are there errors in the console? Which browser?

[2019-08-07 20:49] jasonnutter commented on #414
@sgentile Yeah, that's a known issue, unfortunately.

[2019-08-07 21:18] chr1soscl commented on #414
@jasonnutter no errors in the console, it simply redirects me to the landing page without login popup.

[2019-08-07 21:18] choclaudio commented on #735
I ended up not using msal because of this particular bug (this thread). So I rolled my own and followed the specs, including checking the signature against jwks key on browsers that support windows.crypto.subtle (something that I do not think msal.js is doing?). I am using the redirect flow, so no hidden iframes (this is what I guess would be used for single sign out if its not a call from the ser

[2019-08-07 22:46] choclaudio commented on #735
Hey, read this article. It is recent:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code#send-a-sign-out-request

It suggests that my initial thoughts are correct regarding the behaviour of single sign out.

[2019-08-07 23:30] keystroke commented on #784
@sameerag That does not make any difference. Common is not acting as any special case. MSAL is just not using the authority URI specified in loginRedirect or loginPopup, it uses the one from the user agent config. I am trying to make a multitenant application here and the authority I use in my config is essentially irrelevant. I usually set it to "common" but this isn't the best approach as some u

[2019-08-08 02:59] sameerag commented on #784
@keystroke Yes, I have just checked the code and I believe we are setting the use sent authority only for acquireToken() calls and not login() calls. I have something to check with requirements before I push a PR but mostly this sounds like a bug.

[2019-08-08 04:13] noobling commented on #914
@DarylThayil Updated code sample with that code it doesn't make a difference https://codesandbox.io/s/codesandbox-nuxt-dhsud?fontsize=14

@jeverduzco approach might fix it by wrapping msal in a class because I think the root cause is related to `this`. I will try it out and let you know.

![image](https://user-images.githubusercontent.com/23206864/62674636-d426dc80-b9d5-11e9-88cc-b278f3a39289.png)

[2019-08-08 07:03] noobling commented on #914
Wrapping the initialisation of msal in a class works

[2019-08-08 13:38] bjswick33 commented on #798
I can also confirm. was at 0.1.3 and moved to .4-beta.1. Build completed. No code changes required.

[2019-08-08 13:49] arunprasathv commented on #414
@jasonnutter  ok.. can i upgrade this library now or is there any more issues to be fixed yet.

[2019-08-08 15:48] yiyeum commented on #190
What does it mean - Redirect URL must have UserAgentApplication initialized ? Do i need to create a new User agent application on redirect url like Msal.UserAgentApplication(client id, null, null); ?

[2019-08-08 15:50] jasonnutter commented on #858
I have not seen that error before, and I'm not sure what would cause it, unfortunately. Can you reproduce this issue in the test project?

[2019-08-08 16:36] jasonnutter commented on #914
The problem is that nuxt does server-side rendering, and `msal` will not work when server-side rendered, as there is no `window`. The error handling for instantiating the `Storage` class naively assumes that any uncaught error is the result of an invalid `cacheLocation` string, but in this case the error is occurring because `window` is `undefined`. I'll create a ticket to improve this.

@noobling

[2019-08-08 16:42] jasonnutter opened #916 "Improve error handling for Storage class"
The `Storage` class will only work if it is instantiated in an environment (the browser) where `window.sessionStorage` or `window.localStorage` exist. Currently, `UserAgentApplication` assumes that any uncaught error from the `Storage` constructor is a result of an invalid `cacheLocation` string, however, an error could be thrown if `window` doesn't exist at all, such as when `msal` is server-side

[2019-08-08 18:44] chr1soscl commented on #858
Hi James,
I did try to recreate the issue in my sample project, but my sample project does not have a clientId and authority, so it is not exactly the same scenario, do you have any sample clientid and authority? that I could apply to the sample project.

[2019-08-08 18:55] jasonnutter commented on #858
@chr1soscl Try the values here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/samples/VanillaJSTestApp/index.html#L23-L24

[2019-08-09 08:55] vzhikness commented on #752
Hi,

I'm also curios how can we renew the id_token with email claim in it?

@madatan have figured this out?

[2019-08-09 09:39] noobling commented on #914
Yeah, that makes sense. Will provide a working example for nuxt/vue when I get the time but here is the current auth code.

[code]

[2019-08-09 16:54] 01010100010100100100100101000111 commented on #697
Just wanted to reply after the 1.1.2 release - this has cleared up all my issues and it seems to be working really well now from a vanilla JS point of view, everything appears to be working as intended.

[2019-08-09 16:54] jasonnutter commented on #414
@chr1soscl I think I was able to reproduce the issue you were seeing (the guard not prompting for login), will have a fix soon.

[2019-08-09 18:17] DarylThayil commented on #697
Great to hear!

[2019-08-09 18:34] jasonnutter commented on #880
@peshos Does installing `rxjs-compat` fix that error?

[2019-08-09 23:43] rnowosielski commented on #701
I have the same problem. Found a workaround though, by setting `storeAuthStateInCookie` to `true`

[2019-08-11 13:40] abf7d commented on #214
@nathanrobinson, I'm new to custom policies and am trying to include those variables in my TrustedFarworkBase.xml under JwtIssuer. It doesn't fix the issue. Do you know if the variable names have been updated? T

[2019-08-12 06:25] peshos commented on #880
@jasonnutter Yes,` rxjs-compat` resolves the error.

Thinking back, this should have been a feature request rather than a bug. Sorry about this :(

[2019-08-12 14:09] rayterrill commented on #771
I actually ran into the same issue - I had to change my logic to only call msalInstance.loginRedirect if we don't find the user via getAccount - otherwise it loops trying to log the user in because of the redirect (this was not clear to me from the documentation):
[code]

[2019-08-12 15:33] jasonnutter commented on #880
@peshos No worries, that information is helpful for us, thanks!

[2019-08-12 15:33] #880 closed

[2019-08-13 08:21] JasSuri commented on #609
Please try this with AAD B2C Custom policies.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-goog-idp

Follow the following to allow domain_hint parameter to work for your chosen IdP by adding the <domain> element. Make sure to send the domain_hint parameter in the request with msal.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/direct-s

[2019-08-13 08:21] randompixel commented on #609
Definitely not sending domain_hint. Will have a go at the above, thanks :)

[2019-08-13 11:01] sbanerjee302 opened #3401 "OIDCStrategy authenticate method does not check token expiry"
The `authenticate()` method does not validate the token expiry value using OIDCstaregy.

[2019-08-13 16:17] RobARichardson commented on #762
I'm no longer seeing this issue after upgrading to [v1.1.2](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.1.2).  Anyone else?

[2019-08-13 18:27] sameerag commented on #609
@ktsakas FYI.

[2019-08-13 18:33] sameerag commented on #784
@keystroke Investigated the requirements further. There is one problem enabling this for a generic case: MSAL JS today does not support multiple accounts concurrently. So there is one potential issue below.

**Usecase**
User1 logs in -> gets an idToken_user1
User1 makes an acquireToken() call -> gets an accessToken(user1-resource1)
User 2 logs in -> gets an idToken (user2) *This overwrites idToken

[2019-08-13 19:47] AndrewCraswell commented on #526
I think @step-lee's PR is no longer being pursued... is there a chance this will be picked up in the near future? I've just encountered this in my app that about to go to production soon... this is a big performance issue for us.

[2019-08-13 19:50] jasonnutter commented on #526
@AndrewCraswell I am working now to re-implement #622. Don't have an exact ETA at the moment, but know that it is high priority for us and we are planning to include it in an upcoming release.

[2019-08-13 21:19] keystroke commented on #784
@sameerag can you clarify the issue more?

1. In an attempt to view the parameters to the acquire token calls, I find that the doc page links are broken. If you click on library reference and select any of the token methods, clicking on the hyperlink for AuthenticationParameters does not take you anywhere.

This link takes you to the acquire token silent doc page:
https://htmlpreview.github.io/?ht

[2019-08-13 21:58] sameerag commented on #784
@keystroke Thanks for taking time to sync up offline on this.

For 1, we have typedoc limitations we are observing in our documentation and, we will soon do better on that front.

For 2, You are right, adding this functionality doesn't prevent anyone from encountering this behaviour, I want to ensure that you are aware of this use-case before pulling in these changes.

For 3, MSAL JS 'multiple acc

[2019-08-13 22:14] DarylThayil commented on #914
closing, will address incorrect error message in #916

[2019-08-13 22:15] DarylThayil commented on #914
will also look at adding a sample that hows how to handle isomorphic apps using msal js

[2019-08-13 22:15] #914 closed

[2019-08-13 22:17] DarylThayil opened #922 "Documentation / Sample around isomorphic apps and msal js"
Support, and examples of how to use msal js in an isomorphic apps

[2019-08-13 22:26] #894 closed

[2019-08-13 22:27] DarylThayil commented on #845
@pkanher617  to add an update

[2019-08-13 22:29] #816 closed

[2019-08-13 22:29] DarylThayil commented on #816
@geitir  this should be fixed in 1.1.2 please try and if it is not fixed for your use case open a new issue.

Thank you!

[2019-08-13 22:35] DarylThayil commented on #846
@mmuarc  this should be resolved in 1.1.2 (#875) please try this version and create a new issue if this is not resolved for you

[2019-08-13 22:35] #846 closed

[2019-08-13 22:54] DarylThayil commented on #504
This may be resolved in #899 targeting a release by end of September 2019.
Marking this ticket as under consideration. so that after we resolve Iframe in Iframes we can circle back with the office team to see what other scenarios may be missing.

[2019-08-13 22:58] DarylThayil opened #923 "Remove Typedocs from Github"

[2019-08-14 12:27] brianchance commented on #762
Updating to v1.1.2 seems to have corrected the issue for me too.

[2019-08-14 21:05] 01010100010100100100100101000111 commented on #762
Same here, no issues using 1.1.2

[2019-08-14 23:24] sameerag commented on #762
Looks like @pkanher617 's fix for scopes helped improve this. @pkanher617 If you confirm the same, we can tag this issue closed with #875.

[2019-08-15 11:56] laundreej commented on #617
We are also seeing this same issue.  Any ETA on a fix or workaround?
Thanks

[2019-08-15 14:50] dotnetcanuck commented on #765
@jasonnutter Version 0.1.3, according to the npm registry page, has been deprecated...

[code]

Does `0.1.4-beta.1` include this fix? And is there a timeline on when that version might come out of beta?

[2019-08-15 15:19] jasonnutter commented on #765
@dotnetcanuck Yes, `0.1.4-beta.1` has a fix for IE11 compatibility. Please try that version and let us know if it fixes issues you are seeing with IE11. We will promote it to `0.1.4` soon, just waiting to hear back from a few customers confirming that it fixes their issues and doesn't introduce any regressions.

[2019-08-15 15:24] PraveenVerma17 commented on #617
for me conditional access was causing the issue. You might need to look into that.

[2019-08-15 19:54] SvenLauterbach opened #929 "MSAL redirect to the page starting the login flow"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 76.0.3809.100 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ]

[2019-08-15 20:20] jasonnutter commented on #929
@SvenLauterbach Does this happen with `0.1.2`? Or `0.1.4-beta.1`?

[2019-08-15 20:21] jasonnutter commented on #929
I also couldn't get your demo to work, keep getting this erro: `Can't find package: core-js`

[2019-08-15 23:11] SvenLauterbach commented on #929
@jasonnutter Thanks for that quick answer. I've check `0.1.2` and `0.1.4-beta.1`, the first has the same issue as `0.1.3` and the beta version did not work (no redirect to the MS login page at all).

I've also update the Stackblitz example:
- Code: https://stackblitz.com/edit/angular-msal-demo
- Application: https://angular-msal-demo.stackblitz.io

I also added `localhost` (http and https) to the

[2019-08-16 02:58] noobling commented on #914
I have thought about this problem a bit more I don't think fundamentally we can use msal js for universal apps without doing some hacking. The only maintainable way would be to use the http api https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code to write code that will be able to run in both client and server-side.

The issue lies in the very first request the u

[2019-08-16 11:07] zoechi opened #930 "tostring on undefined for scopes"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-08-16 17:40] jasonnutter commented on #914
@noobling Correct, currently MSAL.js cannot be rendered server-side, so if you have data that requires an access token, you'll need to either acquire an access token another way(e.g. [passport-azure-ad](https://github.com/AzureAD/passport-azure-ad)), or differ render of those components to the client.

A Node wrapper for MSAL is on our roadmap, and isomorphic applications is definitely something w

[2019-08-16 20:47] jasonnutter commented on #929
@SvenLauterbach Thanks, we'll take a look and get back to you.

[2019-08-18 08:11] noobling commented on #914
For anyone using nuxt who wants a simple solution for auth Ive extended the nuxt auth library look at this example for how to use it. https://github.com/noobling/auth-module/tree/dev/examples/demo

[2019-08-18 20:29] anthony-nash opened #932 "Manually closing an access token request popup prevents subsequent silent requests from completing"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x] Firefox version 68.0.2
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library v

[2019-08-19 06:07] sameerag commented on #784
Tested #915 with Integration tests as UT is not feasible. Waiting for reviews to merge this to dev. Next release from MSAL JS should have this fix integrated.

[2019-08-19 12:38] aleksandar-kandzhichki commented on #765
@jasonnutter  The `0.1.4-beta.1` seems to fix the issues for me. However logging in with popup does not work. After authentication the popup does not close, the redirectURL is opened in the popup instead of the origin window.
On opening the popup, the origin throws some errors -
![image](https://user-images.githubusercontent.com/13217235/63265890-4a112a80-c297-11e9-83dd-13ede92f64a4.png)

I suppos

[2019-08-19 15:33] jasonnutter commented on #765
@aleksandar-kandzhichki Yeah that is a known issue we are looking into. For now, our guidance is to use the redirect flow for IE11, instead of popups.

[2019-08-19 16:54] DarylThayil commented on #932
@anthony-nash  thanks for sharing, will work to investigate solution to fix this problem and put it in the right milestone so you can track for release

[2019-08-19 16:55] DarylThayil commented on #930
@jasonnutter  looks like the version here is the beta, is this a new issue based on your changes?

[2019-08-19 17:30] jasonnutter commented on #930
I don't think so, but I'll take a look to confirm.

@zoechi Does this issue happen with version `0.1.2`?

[2019-08-19 22:17] jasonnutter commented on #929
@SvenLauterbach The sample app includes a routes entry for `**`, which your app doesn't have. I tried adding an entry for `**` and it appear to fix it.

e.g.
[code]

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/samples/MSALAngularDemoApp/src/app/app.routes.ts#L20

[2019-08-19 22:42] jasonnutter commented on #929
Also please try `0.1.4-beta.2` to fix the issue with teh login window not showing up, thanks!

[2019-08-19 22:44] jasonnutter commented on #798
We've published `0.1.4-beta.2` with a fix for issues with the route guard. If you were seeing issues related to that, please let us know if this new version fixes what you were seeing.

We'll release `0.1.4` soon (planning for later this week). Thanks!

[2019-08-19 22:45] jasonnutter commented on #414
If you were having issues with the guard not prompting for login, please try version `0.1.4-beta.2`, which should fix that bug, and let us know if that fixes what you were seeing.

We'll release `0.1.4` later this week if there are no other issues, thanks!

[2019-08-20 14:35] rafaeltscs commented on #699
Any workaround for this while it is being investigated?

[2019-08-20 16:26] whitwa commented on #735
Hi,

We are attempting to use the workaround of redirecting to the following URL:

https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=https%3a%2f%2fmyurl%2fapp%2fsecurity%2flogin.aspx

It is working correctly for Work accounts but not for any Personal accounts. It just sticks at the "You signed out of your account - it's a good idea to close all browser windows" screen

[2019-08-20 20:02] SvenLauterbach commented on #929
@jasonnutter Thanks for your answer. When adding this route I get redirected to the `home` component after the successfull login, but I should get redirected to the `profile` component. The source code you're linking also redirects to an `ErrorComponent`.

I tried to debug the problem a little bit further. I saw that the `MsalGuard` saves the route which it is protecting to the localStorage before

[2019-08-20 20:14] SvenLauterbach commented on #929
Ok, I got it, all what was missing was injecting the `MsalService` into the `AppComponent`, since `MsalService` inherits from `UserAgentApplication`.

[code]

[2019-08-20 20:14] #929 closed

[2019-08-21 11:48] CodeMonkeyAlpha opened #940 "No safe solution for partial JS applications"
We provide a plugin JS application to our clients and some of them would like Microsoft Account login capabilities to be enabled. We neither control the page (or page state), meaning redirecting is unlikely to return the page in the same condition, and in our corporate clients popups may well be blocked completely by group policy.

So right now we seemingly have no solution? With the direction app

[2019-08-21 15:26] chr1soscl commented on #414
Hi @jasonnutter now I am getting the popups properly in Chrome, I am able to login normal, in IE when I try to login, it opens the app page in the popup and then it opens a new popup to login again and if I login it continues opening new popups in a loop.

[2019-08-21 15:55] randompixel commented on #609
@JasSuri I think this has helped. Getting a weird issue where the Node server is throwing a 400 because the cookies are too long now, but if I can reproduce consistently I'll file another bug. Thanks.

[2019-08-21 18:11] DarylThayil commented on #940
@CodeMonkeyAlpha  thanks for sharing your use case. There are a couple things we are working on here, and a couple security constraints we cant bend on.

Any credential entry in an iframe is strictly banned, because of the threat of clickjacking.
We are working to relax the constraint on iframe constrained apps from requesting tokens, but are doing so with the requirement that the top frame app is

[2019-08-21 18:27] CodeMonkeyAlpha commented on #940
Hi,

Good to hear something is coming. I guess my point was also that the security is pretty ineffective, so it seems a little pointless. I have a reasonable bypass rigged now and I could use it to set up click jacking if I was so inclined (obviously I wouldn't). I don't think this is stopping any illicit behavior, but I guess it does make it a little more work. I've only been at it for 5 hours, a

[2019-08-21 18:29] DarylThayil commented on #940
@CodeMonkeyAlpha  the release is planned, but I would say that the unexpected can always happen and we should treat it as a date that we can find out if it meets your needs instead of a date that we have a battle hardened solution.  Would you be willing to do a call with us to talk through your use case, workaround, and what a great solution would look like?
@negoe  cc

[2019-08-21 18:36] CodeMonkeyAlpha commented on #940
Hmm sure I could do that I guess, I haven't really thought about how I would want it to be. You know how these things go you tend to focus more on what you can make of whats available. You can probably find me on Skype by my user name if you want...

[2019-08-21 18:46] amnporter commented on #735
We see the same thing when dealing with office365 vs outlook.com email accounts.

[2019-08-21 19:32] ritmos commented on #534
I'm using 1.1.3 and I'm not experiencing this bug anymore

[2019-08-21 19:38] jasonnutter commented on #735
@whitwa @amnporter The logout screen not redirecting back to your app after logout for MSA accounts is a known issue, unfortunately.

[2019-08-21 19:40] jasonnutter commented on #414
@chr1soscl It is a known issue that popups do not work properly with our library for IE11, so our guidance is to use the redirect flow when users are on IE (set `popUp` to `false` programmatically).

[2019-08-21 20:34] ritmos opened #941 "Unable to 'Keep me signed in' after browser is reopened"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
any

## Library version
any

## Current behavior
- I set the cache.cacheLocation to 'localStorage' on the UserAgentApplication config

[2019-08-21 21:13] GermanEZI commented on #758
I am having this same issue.   I've tried downloading version 1.1.3.  However, I cannot find the msal.js file in that download [MSAL 1.1.3](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.1.3)

Where can I get the 1.1.3 version of MSAL.js?

[2019-08-22 13:08] tushneem commented on #705
@pkanher617 @dipesh-wadhwa facing similar issue on IE 11. Any fix or solution for this issue?

[2019-08-22 14:26] whitwa commented on #735
Thanks @jasonnutter

What are the timescales for this issue to be resolved? This is preventing us from going live using Microsoft Account Login.

[2019-08-22 18:09] DarylThayil commented on #940
Makes sense, I will close this issue for now and @negoe  can you reach out and give @CodeMonkeyAlpha  and contact he can share any feedback he has when he has it?

[2019-08-22 18:09] #940 closed

[2019-08-22 19:49] DarylThayil commented on #534
@ritmos  thanks for the update!
Can anyone else confirm if this is fixed in 1.1.3 for them?

[2019-08-22 20:06] sameerag commented on #758
1.1.3 is not released for CDN. @pkanher617 is working on the issues we are facing releasing in the CDN and he will update here once we have this in CDN.

@GermanEZI Can you please try npm release if that is possible? npm release has the compiled files in the "dist" folder.

[2019-08-23 00:51] NareshKumarM opened #943 "[Msal for Angular] Load MSAL_Config from appsettings"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other
</code></pre>

## Browser:
- [X] Chrome version 72.0.3626.121
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version

<pre><code>
Library version:
"@azure/msal-angular": "^0.1.2",
"@angular/co

[2019-08-23 16:39] jasonnutter commented on #735
@whitwa Unfortunately, I don't have an ETA for when it will be fixed, as it's a bug on login.microsoft.com, which is owned by another team. We'll try to find more information from them, and share back if we hear something definitive. Sorry about that :/

[2019-08-23 17:30] DarylThayil commented on #941
this sounds like a bug, can you inspect the localStorage cache and see if it contains an idtoken after reopening?
Another option is to call msal.getAccount() to see if a user is in context

Can you also try opening another tab after being logged in and let me know if you are logged in on the tab?

[2019-08-23 17:57] DarylThayil commented on #735
@hpsin can you provide context on this

[2019-08-23 21:27] kstro21 opened #944 "Authorization Code flow with PKCE support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.1.3

</code></pre>

## Current behavior
I can not find any reference if this is currently imp

[2019-08-23 21:37] DarylThayil opened #945 "ATS has option that allows for fallback to interactive"
Up for discussion

[code]

[2019-08-23 21:38] DarylThayil commented on #497
linked to #945

[2019-08-23 21:38] pkanher617 opened #946 "Change the MSAL Public API surface to be agnostic of interaction"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-08-23 21:40] DarylThayil commented on #944
Unfortunately msal js does not yet support the Auth Code Flow.  We do have plans to support it as some point soon and are in the middle of design  / exploration. The work is not yet scheduled

[2019-08-23 21:41] DarylThayil commented on #867
@ncausey  can you confirm this is still an issue in 1.1.3

[2019-08-23 21:52] ritmos commented on #941
That's the thing: msal.idtoken is there, at localStorage. msal.getAccount() returns an user (which is why my application tries to get a token). But what I get is an error:

AADSTS50058: A silent sign-in request was sent but none of the currently signed in user(s) match the requested login hint.
Trace ID: 24fd63d4-ab82-451e-ba09-3b1dfd723c00
Correlation ID: 0365ee8b-90b9-4390-abf8-939fbab26dfc
Time

[2019-08-23 21:56] ritmos commented on #941
Sorry I forgot to answer your last question. While the browser is open, everything is fine. I can open tabs with my app and every tab gets tokens. If the browser is completely closed, this issue appears.

[2019-08-23 22:13] pviotti opened #948 "index_LoginRedirect sample does not work."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x] Firefox version 68.02
- [ ] IE version XX
- [x] Edge (Chrome-based, latest)
- [ ] Safari version XX

#

[2019-08-23 22:28] pviotti commented on #948
So I tried to come up with a minimal example of login flow using redirection by copy-pasting from existing samples, but the best and simplest of my attempts goes into a redirection loop. Is there a working example of this anywhere?
Here is the code I used:
[code]

[2019-08-23 22:32] sameerag commented on #948
@pviotti This sample currently is not up to date. There is some effort going on to clean up samples. For a working reference, you can check the index.html code under IE browser check (which works for redirect). We do plan to eventually clean up non working samples. Apologies for the inconvenience.

[2019-08-23 23:32] natalieethell commented on #941
We're seeing the same issue with the token not being cached. We're also setting `cache.cacheLocation` to 'localStorage', but see a new token being fetched on every `acquireTokenSilent` call. @Rajeev-K @KevinTCoughlin

[2019-08-23 23:47] AndrewCraswell commented on #97
For those coming across this issue from Google, the current way to renewing an IdToken is slightly different as far as I can tell. According to the comments in the code base, the standard is to call the `acquireTokenSilent` and pass the `clientId` of the app as the only scope:

[2019-08-24 00:07] hpsin commented on #735
We have a livesite opened on the redirect issue on sign-in, and I expect it may be related to the sign-out behavior you're seeing.

V2 does not support UX-less signout at this time due to Denial of Service attacks inherent in the spec (and warned of in the spec).

[2019-08-24 06:16] dipesh-wadhwa commented on #758
@GermanEZI issue still exist.. I have switched to SPA app as workaround.

[2019-08-24 06:20] dipesh-wadhwa commented on #705
"Token renewal operation failed due to timeout" issue still exist..  You can do workaround.
Handle exception in catch block and if error is equal to timeout. Then re-call accquireTokenSilent().
This will hit application performance but never fail.

[2019-08-24 13:21] stownend commented on #414
Hi @jasonnutter , I have just upgraded my MSAL-angular app to "0.1.4-beta.2". I have also set the storeAuthStateInCookie correctly and am already using the redirect flow (not popups). I have also set the build target to es5. I have also added the following to TrustedSites (my app URL, login.microsoft.com and even the url of my web api). Whilst I now have the site displaying in IE11 (and Edge) - I

[2019-08-26 14:23] BobGerman opened #949 "FAQ Contradiction - Does MSAL support v1 or not?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 78.0.249.1 (Edgium)(Official build) dev (64-

[2019-08-26 15:42] #858 closed, assigned to jasonnutter

[2019-08-26 20:52] m-sterspace opened #950 "Msal Is Not Defined"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [x] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library version

<pre><code

[2019-08-27 10:09] Robjam opened #953 "Redirect loop/error for AAD names with double byte characters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x] Safari version XX

## Library versi

[2019-08-27 15:02] snebjorn opened #954 "[Msal for Angular] Integration with microsoft-graph-client"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version
<pre><code>
Library "@azure/msal-angular": "^0.1.2"
</code></pre>

## Current behavior
Today I have to write this to integrate

[2019-08-28 05:40] MubashirEbad commented on #347
@nehaagrawal Hi, so I am facing an issue, after I successfully login using the msal loginpopup, I should be redirected to a the URL I have specified, and in most of the cases and OS, it redirects and works perfectly fine. But I have some rare cases such as an MSI laptop with windows OS, which does not redirect and returns www.my_url/null.
I have used Chrome, Firefox, Edge, but only on this laptop

[2019-08-28 12:53] ritmos opened #957 "microsoft CDN does not work as stated in docs"
In docs it states msal.js can be obtained through a CDN

https://secure.aadcdn.microsoftonline-p.com/lib/VERSION/js/msal.min.js

The thing is the following url does not work as expected

https://secure.aadcdn.microsoftonline-p.com/lib/1.1.3/js/msal.min.js

[2019-08-28 15:55] jepetty opened #958 "AADSTS50199: token renewal doesn't work after a few hours on Edge canary"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 78.0.249.1
- [ ] Safari version XX

## Libra

[2019-08-28 17:19] ritmos commented on #957
The url is in this file
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/README.md

[2019-08-28 17:33] leniel commented on #866
Not really...

If it's not asking too much :| could you please somehow show us a sample of
this working?

Right now I'm redirecting to the login page but it's not the ideal solution
since the user has the id_token already.

On Wed, 28 Aug 2019 at 14:26 Daryl Thayil <notifications@github.com> wrote:

--
Leniel Maccaferri
+55 24 98826-3578 <https://wa.me/5524988263578> mobile\WhatsApp

Skype: leniel

[2019-08-28 21:31] ncausey commented on #867
@DarylThayil it looks like it is still not working for me in 1.1.3. Same thing where it does return a response, rather than an error, but the properties of the response are undefined.

[2019-08-28 21:38] DarylThayil commented on #866
@negoe  can you share an example of passing in login_hint?

[2019-08-28 21:40] DarylThayil commented on #842
@ktsakas  do you have any context to add here / work arounds?

[2019-08-28 21:46] DarylThayil commented on #958
I would expect so! interesting.  @sameerag  @pkanher617  have you seen this before? Any thoughts?
If not lets get a call set up @jepetty  to debug together!

[2019-08-28 22:10] jepetty commented on #958
Thank you, I appreciate the help! Feel free to ping me (alias jepetty) as well to set up a meeting or if you need any more information. :)

[2019-08-29 03:33] ncausey commented on #867
If it helps, I'm using Facebook as an identify provider, and followed these examples to create custom policies in Azure AD B2C https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/SocialAccounts

[2019-08-29 12:41] mronus commented on #765
@jasonnutter I upgraded the library to 0.1.4-beta.2 but it seems not working. I still have the syntax exception in my console and it prevents everything to be loaded in Angular.

The exception:
![image](https://user-images.githubusercontent.com/2014677/63940824-f19a1400-ca72-11e9-8ef5-3b0b2b2a39a6.png)

The code line where pointed out by the exception:
![image](https://user-images.githubuserconten

[2019-08-29 16:16] Dima11235813 commented on #948
Would it be possible to post the link to the "index.html code under IE browser check" , unfortunately I'm not sure how to find that. @sameerag

[2019-08-29 16:47] jasonnutter commented on #765
@mronus That looks to be from `msgraph-sdk-javascript`. See this thread for more info: https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/190

[2019-08-29 16:59] #950 closed

[2019-08-29 17:00] DarylThayil commented on #950
merged thanks for the feedback

[2019-08-29 19:05] pviotti commented on #948
@Dima11235813  I think they meant this example, which indeed has a working redirection flow (for IE): https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/samples/VanillaJSTestApp/index.html

[2019-08-29 19:13] sameerag commented on #948
@Dima11235813 @pviotti is right. Thanks for the same @pviotti.
I am also doing a quick clean up and will upload a separate sample for redirect flow, please see the PR #959.

The plan was to polish the sample and add more use cases and hence the delay, but looks like there is value in a quick sample that separates the redirect functionality only for now.

[2019-08-30 06:03] Nasicus opened #960 "Invalid state Expected: null"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version latest
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library v

[2019-08-30 18:17] jasonnutter commented on #414
@stownend I'm having trouble reproducing the behavior you describe. Do you have a sample project you can share? If you don't want to post it publicly you can email me at janutter@microsoft.com, thanks!

[2019-08-30 21:00] agrabhi commented on #677
The same issue happens for Azure AD B2C management apis as well. the following apis expect wids claim
https://graph.microsoft.com/beta/trustframework/policies
https://graph.microsoft.com/beta/identityproviders

[2019-08-30 21:08] jasonnutter commented on #884
Closing a duplicate, see the PR linked above for progress on a fix.

[2019-08-30 21:08] #884 closed

[2019-08-30 21:12] jasonnutter commented on #954
Closing, as nothing actionable at this time.

[2019-08-30 21:12] #954 closed

[2019-08-30 21:15] jasonnutter commented on #960
I believe when you call `acquireTokenSilent`, you should pass the same scopes you used to login, correct @sameerag @pkanher617 ?

[2019-08-30 22:08] westonplatter opened #961 "Suggested approach for protractor/e2e testing?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 76
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-08-31 20:18] lucamorelli opened #962 "error trying to login"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe:
</code>unable to use the sample to login using azure ad</pre>

## Browser:
- [ X] Chrome version 76
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge ve

[2019-09-01 04:44] chrislangston opened #963 "How to delay loading configuration MsalModule"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-09-02 03:32] AndrewCraswell opened #964 "Missing documentation for AuthenticationParameters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Is there any official documentation for the `AuthenticationParameters` object? I'm writing some team wikis and can't find anything official anyw

[2019-09-02 03:32] AndrewCraswell commented on #964
This is probably close enough to #818 for both to be resolved in tandem.

[2019-09-02 16:03] kumarunster opened #965 "Identity Provider Google: Refused to display 'https://accounts.google.com' in a frame because it set 'X-Frame-Options' to 'sameorigin'."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 76.0.3809
- [ ] Firefox version
- [ ] IE version
- [ ] Edge version
- [ ] Safari version

## Library version

<

[2019-09-02 19:21] Nasicus commented on #960
Hmm why should this be the case?

When loggin in I pass some extra scopes to consent. However then when acquiring the token I don't need this scopes. They scopes are need at another time in another place.

[2019-09-02 21:26] chrislangston commented on #481
Hi @infogulch.  If I needed to make an Http Get call to my website serving up my configuration settings or to fetch a .json file, how can I accomplish that using the example you provided?

For example, I see you are returning a configuration object.  I can't seem to figure out the correct behavior inside of this Arrow function to make my get (ie. https://www.mywesite.com/assets/settings.json). I w

[2019-09-02 23:10] chrislangston commented on #963
I found a way to accomplish this using some of the techniques listed in this current issues list.

Can we get the documentation updated to reflect typically real-working scenarios?

I would presume most users of this library are building enterprise applications where the primary use case it to dynamically pull settings from a back-end server.

[2019-09-03 04:19] sameerag commented on #960
@Nasicus Your understanding is correct.

- Are the "extra scopes" for a single resource?
- Why are "hints" passed in extraQueryParameters? They are supposed to be in request as "login_hint" or "sid". Can you please expand what "hints" are here?

State expected being "null" made me curious, @pkanher617 by the time we check state in the saveTokenFromHash() we do not yet strip the GUID from my unders

[2019-09-03 04:23] sameerag commented on #965
@ktsakas FYI.

[2019-09-03 04:26] sameerag commented on #964
@AndrewCraswell @negoe is working on documentation for AuthenticationParameters and hints. They are currently in internal review and we will update this ticket with the corresponding documentation links once published.

[2019-09-03 04:27] sameerag commented on #963
Is this specific to Angular setup?

[2019-09-03 07:14] frjtrifork commented on #481
I am using the same approach as @infogulch - I have not tried fetching a json config, but if it was me I would try to fetch the JSON config in an Angular APP_INITIALIZER that returns a promise which when resolves will persist the parsed json config  somewhere where you can access it from the MSAL_CONFIG useFactory arrow function.

https://angular.io/guide/dependency-injection-providers#predefined-

[2019-09-03 08:52] kumarunster commented on #965
I was able to make it working locally by modifying one line in UserAgentApplication:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/2de03e0818346993bdcdbcf0bb5cee7aeb56d8e0/lib/msal-
core/src/UserAgentApplication.ts#L497

[code]

`ResponseTypes.id_token_token` does the trick, thanks to @sushi4u for the hint [here](https://github.com/AzureAD/microsoft-authentication-librar

[2019-09-03 10:48] chrislangston commented on #963
Yes I’m using this for Angular 8+

Thanks,

Chris
7708561528

________________________________
From: Sameera Gajjarapu <notifications@github.com>
Sent: Tuesday, September 3, 2019 12:27 AM
To: AzureAD/microsoft-authentication-library-for-js
Cc: Chris Langston; Author
Subject: Re: [AzureAD/microsoft-authentication-library-for-js] How to delay loading configuration MsalModule (#963)

Is this specific

[2019-09-03 10:53] chrislangston commented on #481
I can’t seem to figure out how to make my Http call using this example.  The case syntax of the Arrow function in this example only shows returning an Object Literal.  Would you happen to have an example of how I could invoke an Http call that fall my .net CORE website that returns the information?

Yes I have I tried the APP-INITIALIZER  technique as you referenced but I couldn’t get that to work

[2019-09-03 12:32] kyubisation commented on #481
I apologize for intruding.
If you need runtime configuration, maybe [angular-server-side-configuration](https://www.npmjs.com/package/angular-server-side-configuration) might be an option. It allows you to use environment variables to configure your Angular app on server/container startup.
Disclaimer: I am the author of angular-server-side-configuration

[2019-09-03 12:44] chrislangston commented on #481
Hi @kyubisation    Thanks for that suggestion and for putting all that time/effort into your library..  Yes I would love to do Server Side Rendering for our Angular applications.  We are using .NET Core WebApp that serves up the Angular application.

If you can make a complete end-to-end example of how to accomplish this I would love to attempt to integrate that approach into our solution.

[2019-09-03 12:45] chrislangston commented on #481
Thanks @frjtrifork for the example!

[2019-09-03 13:06] frjtrifork commented on #481
This is working for me.

[code]

When I execute that, I can see that the JSON fetched is printed by the msalConfigFactory, so you should be able to convert what you fetch (if needed), and return it as the configuration.  Is that not working for you?

[2019-09-03 13:08] Nasicus commented on #962
Pretty sure this was broken server from Microsoft and not in this library!

Authentication for personal Microsoft account's is not working anymore (using `https://login.microsoftonline.com/common`) if you provide some extra scopes to consent (in our case: ` https://graph.microsoft.com/User.Read` and `https://graph.microsoft.com/User.ReadBasic.All`)!

This used to work until ~ a few days back, cann

[2019-09-03 13:10] benzhi2011 opened #966 "How can I get AAD joined device ID without any form of login?"
Is there any JS lib that can return the AAD joined device id or just id? I have a daemon server side .net core app that can lookup our tenant to see if the device is ours and the name is on a list.

The device is AAD joined, but in my case the user that log on the PC is not really masters, I just have to validate from my web app if the request is made from our AAD joined device. The login user cou

[2019-09-03 13:55] chrislangston commented on #481
Hi @frjtrifork

Thank you for the code example. One thing I've learned from Angular is to ensure I'm always running against production build.  Many times I get different behavior from JIT compiles vs AOT compiles.

My code is running with AOL compiler (ng build --watch --prod --source-map)

Following your example I am not able to see my console.log message being written in the msalConfigFactory():

[2019-09-03 15:51] Pheil opened #967 "Dist of msal.js & msal.min.js"
I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.01 -> 1.1.3
</code></pre>

Why does it take so long after a version release for these links to w

[2019-09-03 16:05] jasonnutter commented on #963
@chrislangston We're always looking to make our documentation better, and this definitely seems like a scenario we can provide guidance on. Can you link to the issues you mention helped you? Thanks!

[2019-09-03 16:33] Pheil commented on #767
FYI v1.1.2 Min is working.

[2019-09-03 16:44] sameerag commented on #767
Thanks, that is interesting feedback.

[2019-09-03 17:33] DarylThayil commented on #967
@pkanher617  can you update status here

[2019-09-03 18:21] DarylThayil commented on #767
@Pheil  confirming that you are saying this is no longer an issue in 1.1.2?

[2019-09-03 20:52] jasonnutter commented on #798
This has been fixed with the betas, and will be included in the next release. Closing.

[2019-09-03 20:52] #798 closed

[2019-09-04 02:10] Pheil commented on #767
Correct.  If it wasn't intentionally fixed I can't see the "re_btou" regex anymore.

[2019-09-04 07:41] frjtrifork commented on #481
@chrislangston
regarding the scope I just meant that the testconfig is declared at the top level in the app.module.ts file.

Ah wait, I have this code at the bottom of my App.module.ts to prevent my angular application from reloading when the login succeeds and the token-redirect happens in the hidden frame.

The code below prevents your App.component from being bootstrapped again after the redire

[2019-09-04 12:02] favetelinguis commented on #534
Im using [react-aad](https://github.com/syncweek-react-aad/react-aad/blob/master/package.json) but they depend on 1.1.3 and im getting this exact problem.

[2019-09-04 17:45] ktsakas commented on #842
It is a known issue that the login_hint is not passed to the social IDP and we are planning to fix it for built-in policies, however the only workaround for now is to use custom policies.
That being said, this usually blocks the hidden iframe from loading altogether due to the ui having "X-Frame-Options" set to deny so it seems that something else is happening here.

Could you email me your tenant

[2019-09-04 17:59] kennethferrese commented on #842
Our tenant is pensiamoinc.onmicrosoft.com

[2019-09-04 19:40] nfgallimore opened #970 "[MSAL for Angular] Sending GET request to undefined url on Auth"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-09-05 11:00] olkuziv commented on #739
Guys, I have the same issue, someone fixes it, or how I can fix it locally??

[2019-09-05 14:02] zawor commented on #609
@JasSuri's way with custom policy solved issue... but it is mightily strange that we hit b2c every time when `acquireTokenSilent` is invoked :P

[2019-09-05 14:20] dluque92 opened #971 "Token is broken if Name in token contains no UTF-8 characters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 76.0.3809.132
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-09-05 15:17] chrislangston commented on #481
Hi @frjtrifork   You have been so helpful!  I really appreciate you walking through this.

Would it be possible for you to push a small sample Angular solution to a git repo somewhere that I can pull to see all the various interactions?    I'd love to see how you implemented the "prevent reload workaround" inside of your App.module.ts file.  I think this is what is causing my issue below with IE11

[2019-09-05 15:23] jasonnutter commented on #971
Looks like this is at least similar to #953.

[2019-09-05 17:28] sameerag commented on #887
#969 closes this issue. #968 is a pre-requisite for the same.

[2019-09-05 19:00] pkanher617 commented on #967
@Pheil There is an issue with our CDN upload process that we are trying to fix. We hope to have this version up by the end of the week. We don't anticipate any delays after this week. Thanks for your patience.

[2019-09-05 19:37] stevehougom commented on #414
I installed the msal-angular@0.1.4-beta.2 and that seems to work from localhost4200:  but when I deploy the build version to our staging app service in azure it wont login it just keeps redirecting back to the ms login page.  Not sure why it works locally but redirects in azure.

[2019-09-05 20:16] jasonnutter commented on #414
@stevehougom Do you have `storeAuthStateInCookie` set to `true` for IE? e.g. https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414#issuecomment-518800369

[2019-09-05 20:18] stevehougom commented on #414
I just added the following and its working now!

const isIE = window.navigator.userAgent.indexOf("MSIE ") > -1 || window.
navigator.userAgent.indexOf("Trident/") > -1;

cacheLocation : "localStorage",
storeAuthStateInCookie: isIE

Thanks Jason!

On Thu, Sep 5, 2019 at 3:16 PM Jason Nutter <notifications@github.com>
wrote:

[2019-09-06 16:49] rahulrastogi-git commented on #585
@sameerag, can you please provide redirect example, if possible with dummy  page which can absorb the reload.

second, i am getting the token from azure ad, which has roles, how can i access those roles in angular.User object is not giving any option to get that information.

[2019-09-06 17:28] nfgallimore commented on #970
@jasonnutter I will try to update with more details, but the details seem to be lacking for this issue.

[2019-09-06 19:18] shane7218 opened #974 "Multiple instances of MSAL"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version ALL
- [X] Firefox version ALL
- [X] IE version ALL
- [X] Edge version ALL
- [X] Safari version ALL

## Library

[2019-09-06 19:27] jasonnutter commented on #974
We are working on solving this, assigning to @sameerag who is leading that effort.

[2019-09-06 22:52] villasante commented on #974
Do you have a timeline for it?

[2019-09-07 07:54] sk2andy commented on #842
@ktsakas That is exactly what happens here on Chrome. When can we expect a fix for that? Actually no Google user could use AD B2C, right? Isn't this kind of an emergency kind of ticket?

[2019-09-07 11:50] sk2andy commented on #965
@kumarunster that's not working for me when writing the following because loginRedirect is not returning a promise (at least my console says so):
[code]
Could you provide me your code how do you call the `loginRedirect` or even share your msal.js? That would be great!

[2019-09-09 11:25] kumarunster commented on #965
Hi Andre,

I can't see your message anymore. did you found the code place to tweak?

Best regards,

Nikolai

Am Sa., 7. Sept. 2019 um 13:50 Uhr schrieb André Naumann <
notifications@github.com>:

[2019-09-09 14:43] sk2andy commented on #965
Hi Nikolai,

yes. Meny thanks for your help. I forked the repo and fixed it.

Cheers

Am Mo., 9. Sept. 2019 um 13:25 Uhr schrieb Nikolai Raitsev <
notifications@github.com>:

[2019-09-09 16:44] NateJBeck commented on #174
For those using Angular 6+ looking to implement the workaround from @dfederm, my suggestion would be to subscribe to `NavigationStart` Router events in a root level component like `AppComponent`.

This should eliminate the need to create a separate route just to handle the popup close.

    const MSAL_CONFIG = {
      auth: {
        clientId: 'xxx-xxx-xxx...'
      }
    }

    export class AppCo

[2019-09-09 18:21] DarylThayil commented on #767
great closing issue, thanks for feedback

[2019-09-09 18:21] #767 closed

[2019-09-09 18:24] DarylThayil commented on #759
Adding this bug to our October  2019 miletsone

[2019-09-09 18:25] DarylThayil commented on #739
Adding this to our October 2019 milestone to resolve

[2019-09-09 19:22] ritmos commented on #941
@DarylThayil Sure! We have some big clients waiting for this to be fixed. I can provide you a sample project or access to the real application.

[2019-09-09 21:42] DarylThayil commented on #941
@jasonnutter  can you treat this as the next highest prio after you close on ie11 / perf

[2019-09-09 22:58] jasonnutter commented on #941
@natalieethell @ritmos If you can please provide a sample app that demos the issue, that would be appreciated! janutter@microsoft.com if you don't want to share publicly, thanks!

[2019-09-09 23:37] sameerag commented on #887
Closing this as the PRs #968 and #969 are now merged into dev.

[2019-09-09 23:37] #887 closed

[2019-09-10 00:17] JosephThomas commented on #739
Hey team,

I manually built the repo with npm test and installed it into my repo as mentioned by pkanher617, however the issue with asynchronous silent token acquiring seems to persist, with the ClientAuthError: Nonce is not matching. The issue fixes itself on a refresh (since the tokens are already in cache, MSAL doesn't seem to check any nonce if it finds them in cache).  I also noticed  pkanher

[2019-09-10 01:45] freeman-g commented on #739
@DarylThayil We have been running version 1.1.3 in production for a couple of weeks and no longer have this issue, so I'm going to close it. Thank you!

[2019-09-10 01:45] #739 closed

[2019-09-10 17:16] awadeyar commented on #271
Hi @narindermakin is there any other way using MSAL or ADAL JS for Ionic 4? Any help is appreciated. I am developing a mobile app with Ionic 4 which needs the authentication from Azure AD.

[2019-09-10 17:17] awadeyar opened #979 "MSLA support for ionic 4?"
Hi
is there any other way using MSAL or ADAL JS for Ionic 4? Any help is appreciated. I am developing a mobile app with Ionic 4 which needs the authentication from Azure AD.

[2019-09-10 20:14] ritmos commented on #941
@jasonnutter You have an email with the details. Thanks a lot for your support!

[2019-09-10 21:56] jasonnutter commented on #414
Version `0.1.4` has been published as a stable release on npm. If you see any further issues, please open a new issue. Thanks!

[2019-09-10 21:56] #414 closed

[2019-09-10 22:12] stevehougom commented on #414
I cant figure out why it redirects to Microsoft login when i run it on
localhost but not when i deploy to our staging sight on azure.  It just
lets me right through with no redirect.

https://stgsingfamhom-admin-hc-web.azurewebsites.net

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { AppRou

[2019-09-11 12:09] ritmos commented on #941
More details of the issue:
When browsing login.microsoftonline.com directly instead of the redirection url generated by msal.js I can see the KMSI message https://imgur.com/a/XFG4h4v

Why when using msal.js I don't see such message? It's mandatory to get the permanent cookie when login in

[2019-09-11 17:58] leniel commented on #480
This is also the problem here: https://stackoverflow.com/a/54129602/114029 when trying to use `app.UseOpenIdConnectAuthentication`.

[2019-09-11 21:39] jologz commented on #435
status? I really want to use the b2clogin.  Our .Net Core app is using b2clogin but our client facing is still using login.microsoftonline.com

[2019-09-11 23:48] deregtd opened #981 "Sporadic invalid_state_error errors"
I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [?] Firefox version XX
- [?] IE version XX
- [X] Edge version XX
- [X] Safari version XX

## Library version

[2019-09-11 23:59] sameerag commented on #435
@jologz  As mentioned above, as long as you pass 'validateAuthority: false' in the configuration for MSAL JS, b2clogin.com is supported. Can you please send us the error you are facing?

[2019-09-13 06:39] pbalzer opened #984 "polling interval set to 1ms"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-09-13 07:57] RecuencoJones commented on #833
Hi @sameerag, I previously noticed that `handleRedirectCallback()` response contains `rawIdToken`, but this callback is only called the first time user triggers SSO log in.

Once they are logged in, this callback is not called anymore until logged out or token expired. Thus, we need to rely on calling `auth.acquireTokenSilent()`, so it does not really work.

I would somehow expect `auth.getAccount

[2019-09-13 15:01] mozart27 commented on #899
What's the time-frame for this to be available for us?

[2019-09-13 15:04] NickSevens commented on #899
@mozart27 they mention end of September [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/504#issuecomment-521039037). Hope they hold up to it 😄

[2019-09-13 15:49] tomaszzmuda commented on #152
This problem still occurs. Please reopen issue

[2019-09-13 15:52] DarylThayil commented on #899
We are on track to deliver at end of September!  We have some beta versions being  tested with customers.  Please let us know If you would like to test some betas with us! @sameerag

[2019-09-13 16:21] RossBarnie commented on #699
I believe this is an issue for me on v1.1.3. Browser-wise it's the same behaviour on Chrome and Firefox.

Relatedly I tested with a couple of different timeout lifetime lengths on a B2C instance:

| token lifetime (mins) | time till first renewal failure (minutes) |
|----------------------|----------------------------|
| 30                            | 10-17                                |
| 60

[2019-09-13 16:38] #961 closed

[2019-09-13 16:42] #784 closed

[2019-09-13 17:09] sameerag commented on #699
- Regarding the main issue raised in this ticket:  The "error" from STS not reaching MSAL JS in a fragment and hence the timeout: @Torvin I checked the link you provided in the description [here](https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&response_type=id_token&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F&scope=openid&prompt=none

[2019-09-13 17:19] jasonnutter commented on #984
We have planned fixes to the way we track popups and iframes, and we'll make sure this gets addressed as part of that. Thanks for the info!

[2019-09-13 18:33] jasonnutter commented on #941
To summarize, there were two issues that we found:

1. When you make a request to login, you can include scopes from different resources, e.g. a Graph scope and custom scope for your app. However, since access tokens are issued per resource, when calling `acquireTokenSilent`, you must make a separate call to get the token for each resource. If you attempt to call `acquireTokenSilent` with scopes f

[2019-09-13 20:19] yuriys-kentico commented on #899
Hi @DarylThayil, what would it take for me to use a beta version that supports this? I want to see if my use case applies.

[2019-09-14 02:59] keystroke commented on #759
I'm also running into this issue. MSAL is giving me an expired access token because one is in the cache. /Sigh. A fix won't be ready until after October milestone, released perhaps in November, and finally available at the CDN link maybe in time for Christmas? Am I to understand that I should be writing code directly in my application to muck around directly in the MSAL cache to try and remove the

[2019-09-15 17:17] AndrewCraswell commented on #899
Would this unblock the scenarios where MSAL authentication in Teams apps breaks? If I recall Teams renders tab app inside an iframe so there were authentication issues trying to use MSAL...

[2019-09-16 00:39] sameerag commented on #899
@AndrewCraswell Teams app's requirements have some specific restrictions on the iframe applications, we are in internal discussions with them. Our solution is generic, and ideally should work but your specific scenario may need some fine tuning from the "Teams" app too.

[2019-09-16 00:41] sameerag commented on #899
@yuriys-kentico Can you please expand on your scenario? If you do not want to do it in public, you can reach me by email at sameera.gajjarapu@microsoft.com. I can share the internal beta build. We are planning a public beta in a week or so, currently it is being tested internally.

[2019-09-16 03:26] nakawankuma opened #985 "Unicode string(japanese-strting) use atob is getting error ."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 76.0.3809.132
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-09-16 03:58] nakawankuma commented on #985
when other library that js-base64 I got correctry answer.
var Base64 = require('js-base64').Base64;

var a=Base64.decode('eyJ2ZXIiOiIxLjAiLCJzdWIiOiJBQUFBQUFBQUFBQUFBQUFBQUFBQUFPLTV0Yy13SlhGREt3VWFqNkc4NFJzIiwibmFtZSI6IuWNmuS_iiDkuK0iLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJuYWthQHdhbmt1bWEuY29tIiwib2lkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLWVhOTctNmQyNjY5NWIxODhlIiwidGlkIjoiOTE4ODA0MGQtNmM2Ny00YzViLWIxMTItMzZhMzA0Yj

[2019-09-16 04:02] nakawankuma commented on #985
utils\CryptoUtils.ts\base64Decode

    static base64Decode(input: string): string {
        return decodeURIComponent(**atob**(input).split("").map(function(c) {
            return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(""));
    }

[2019-09-16 12:11] PraveenVerma17 commented on #699
@sameerag
I have noticed that we receive timeout error on working browsers also after using the app sometime and until and unless we remove history and clear data browser we don't get the token back.

its because our client does not have habit to logout the application they just close the browser.

Every browser behaves differently.

1: -Firefox, edge, IE, chrome, safari -  they all need cookies t

[2019-09-16 13:59] yuriys-kentico commented on #899
@sameerag The scenario is slightly complicated. We have one product called Kentico and another product called Kentico Kontent. The first product is an on-premise installation that is highly customizable but occasionally needs to be inspected locally by us after communication with the customer. Since there is also a database, the complete backups usually run a few gigabytes. Traditionally, we have

[2019-09-16 15:40] jasonnutter commented on #985
@nakawankuma Thanks for the info and the sample reproduction case. We used to use `js-base64`, but decided to remove it due to compatibility issues, detailed in #746. We'll revisit this, and follow up here. Thanks!

[2019-09-16 15:55] RossBarnie commented on #699
Apologies, there was an error unrelated to MSAL causing my issue. Running the following and observing the console log verified that I couldn't recreate the bug outside of my main project.

[code]

[2019-09-16 17:10] jepetty commented on #958
Ping... any updates on this? Shall we set up some time to chat?

[2019-09-16 17:56] jasonnutter commented on #958
@jepetty Do you have a functional sample repro you can share? I've seen issues like this recently (e.g. #941), seems like this might be similar. Feel free to share on email/teams. Thanks!

[2019-09-16 18:36] sameerag commented on #899
@yuriys-kentico Can we set up a call? I think as long as you use popups for interaction, the beta we have works as expected. For redirect flows, we have a little song and dance going with the top frame as iframes are blocked from interactions by the STS.

[2019-09-16 19:36] jepetty commented on #958
I agree, they do look pretty similar! I sent you an email, happy to help out as much as I can in diagnosing this :) Thanks!

[2019-09-16 20:12] jasonnutter opened #988 "Add subresource integrity hashes for CDN builds to README/wiki"
To help our customers ensure that they are getting a valid build of our library, we should calculate and post [subresource integrity hashes](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) for each CDN build of our library. For the most recent build, this should be posted in the README, and we should generate and maintain a wiki page for past releases. This will help u

[2019-09-16 20:14] jasonnutter commented on #988
The best way to do this would probably be to add a `prepack` step that does the calculation and prints it out, so that we don't have to look up the command every time.

[2019-09-16 22:00] shane7218 commented on #974
Absolutely, let me know whatever I can do to help!

[2019-09-17 01:40] dluc opened #989 "Add examples"
The library documentation is really really scarce and it's super hard understanding what to do with it.

1. How to retrieve an Identity Token?
2. How does the cache work?
3. How to avoid page reloads?

Also, complete examples are much more useful than incomplete snippets of code leaving too much to imagination. You should consider adding a samples folder, with subfolders containing working applica

[2019-09-17 06:47] AbhaysinghBhosale commented on #834
@jasonnutter is there any update on this issue. I am getting this too many times now. While debugging found that localStorage is getting cleared. there is no single line of code in application which clear localStorage.

[2019-09-17 10:29] #777 closed

[2019-09-17 12:46] rahulrastogi-git opened #990 "Working Sample for Angular 7 (msal-angular)"
Team,
I am trying to implement msal-angular in my project, after so many attempts I still have question around best way to implement.

1. Best way to redirect to azure login page, without showing login button on Navbar
2. After login how to take user to first page of application, login success gives event but case where token is in cache, which event will be generated, or is there any better way o

[2019-09-17 13:20] yuriys-kentico commented on #899
@sameerag sure, I'll send you an email.

[2019-09-17 14:59] pieterdv commented on #963
@chrislangston care to share you solution, I'm running into the exact same issue. I want to load my settings first and then initialize MSAL.

[2019-09-17 15:22] sameerag commented on #989
@dluc We are working on MSAL JS documentation for some of these questions you asked, hopefully with the next release we will make some strides. Adding these questions to the planning doc to ensure we cover them in one form or the other.

Regarding samples, there is a PR #987 which is consolidating all samples in the root folder of the repository. Once merged, we will focus on fine tuning the sampl

[2019-09-17 15:47] jasonnutter commented on #990
1. If you need to redirect someone to the login screen, you can use `loginPopup` or `loginRediect`, depending on if you want a popup or full page redirect. I'm not sure exactly what you mean by "without showing login button", but you can call these methods whenever your application needs (I would probably recommend waiting for user input, but it is not required).
2. After login, MSAL will redirect

[2019-09-17 15:59] jasonnutter commented on #989
- **React**: As @sameerag noted, we have a React sample available [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-core/samples/react-sample-app). We may provide a wrapper in the future, but that work is not scheduled.
- **React Native**: We currently do not support React Native due to lack of support for things like `localStorage`. We do have [Android](h

[2019-09-17 16:20] chrislangston commented on #963
Hi @pieterdv.  Yes l can share, however, we had to abandon this library as the Angular Wrapper around it is extremely old and way behind the latest version of the msal.js javascript library.  Our client requirements are to work with IE 11 and I was never able to get the the Angular application to work with IE 11.  We spent a tremendous amount of effort attempting to resolve all the issues.  We had