[2018-10-22 23:56] nehaagrawal commented on #438
Closing this issue since it's not reproducible.

[2018-10-22 23:56] #438 closed

[2018-10-23 01:33] rocketraman commented on #458
Because the redirect uri path changes on the client side as the user navigates the application, via the html5 history api. The origin remains the same and matches the registration so that is not an issue.

Did you look at the reproduction steps?

[2018-10-23 17:53] nehaagrawal commented on #437
@turpu-rakesh  We discussed this issue over email and it was resolved. I am closing this issue for now. Please reopen if issue still exists.

[2018-10-23 17:55] #437 closed

[2018-10-23 17:56] nehaagrawal commented on #461
@jobala I am closing this issue since it's not reproducible and due to lack of activity. Please reopen if issue exists.

[2018-10-23 17:56] #461 closed

[2018-10-23 18:08] nehaagrawal commented on #458
@rocketraman The redirect_uri is where authentication responses can be sent and received by your app. It must exactly match one of the redirect_uris you registered in the portal. MSAL will set the redirect_uri to window.location.href only when user doesn't pass anything. I want to understand why you are not setting the redirect_uri during initialization itself, if you know already what the redirec

[2018-10-23 18:48] RobARichardson commented on #349
We're seeing this issue for a very small percentage of our users as well.

- We're using the latest version of msal-angularjs available on NPM (0.1.1) with an AngularJS SPA.
- Chrome is usually the most reliable browser for our application but we're even seeing this error with Chrome.
- As stated above (by others), we haven't been able to reproduce it locally because it's very sporadic.

Steps to

[2018-10-23 19:37] emilpalsson commented on #458
@nehaagrawal The redirect_uri does not have to exactly match one of the redirect_uris registred in the portal, just the origin. e.g. **https://example.com/my/random/path** is a valid client redirect_uri when the registered redirect_uri is **https://example.com**.

Because the client url can be updated in a SPA after the UserAgentApplication is initialized, we cannot possibly know the redirect_uri

[2018-10-23 20:29] rocketraman commented on #458
^- This (thanks @emilpalsson )

[2018-10-23 23:31] nehaagrawal commented on #458
@rocketraman Thanks for raising this issue and creating the PR. We are reviewing the PR. I will update the status here.

[2018-10-24 01:32] rocketraman commented on #458
Thanks @nehaagrawal. One correction: the pull request is from @emilpalsson, not me.

[2018-10-24 08:09] maordadush opened #465 "ADFS 2019 Support?"
Hi,

Any plan to add ADFS 2019 on premise support?

Thanks

[2018-10-25 09:09] jcabrito commented on #174
// This is weird but Microsoft login redirects back to the site and expects it to create the object before it closes the popup.
    // See https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/174
    if (location.hash.includes("id_token")) {
      new UserAgentApplication("4ecf3d26-e844-4855-9158-b8f6c0121b50", null, null);
    }

Where exactly do i need to put this code in re

[2018-10-25 12:35] didair opened #466 "How do I prevent the app mounting twice?"
## I'm submitting a...
<pre><code>
[x] Performance issue
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x] Firefox version Developer Edition
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

Hi, I'm using  msal.js to write an AAD2.0 app in Javascript (React16, ES6) and after performing a loginPopup the entire app reloads (see attached images). What can I do to prevent this

[2018-10-25 12:48] thewahome commented on #461
@nehaagrawal I am getting the same exact errors.

[2018-10-25 15:43] ashleywb commented on #283
Is there an example on how to do this?

[2018-10-25 18:02] ashleywb commented on #283
Is this supported yet?

[2018-10-25 20:02] nehaagrawal commented on #456
@Githamza  This is more of a how to question. Please use Stack overflow in future for such questions. I have answered your question above. I am closing this issue.

[2018-10-25 20:02] #456 closed

[2018-10-25 20:03] bwronin commented on #414
@nehaagrawal  Any update on this?

[2018-10-25 20:03] nehaagrawal commented on #466
@didair Please don't delete the questions in template. You have removed the version information. Can you please tell me what version of msal.js you are using?

[2018-10-25 21:36] nehaagrawal commented on #448
@JSteunou  Msal.js doesn't renew the token automatically. It is the responsibility of the user to renew the tokens. If you are using msal-angularjs or msal-angular, library will renew tokens for you automatically. Hope this answered your question.

[2018-10-25 21:39] nehaagrawal commented on #465
@navyasric can you please help @maordadush

[2018-10-25 21:44] nehaagrawal commented on #466
@didair  you shouldn't see a reload for loginpopup. It can happen for loginRedirect. Is it possible for you to share your code snippet here or repo link(if possible). Also is this issue only reproducible in firefox and works fine in chrome?

[2018-10-26 06:34] didair commented on #466
@nehaagrawal Sorry. Im running the latest version of msal.js. I also forgot to link the repo i've set up. [https://github.com/didair/aadv2-msal-example](https://github.com/didair/aadv2-msal-example). Seems to be the same issue in Chrome as well.

[2018-10-26 08:47] JSteunou commented on #448
@nehaagrawal that the purpose of this issue. I think it would be better for every user of msal.js to add renew here instead of each implementation.

[2018-10-26 12:11] maurei commented on #392
@nehaagrawal  Angular 7 has removed support for rxjs 5 thus adding `rxjs-compat` will not work. What are the chances of actually removing the dependency on `fromPromise` ? Afaik this is the only piece of code thats complaining.

I currently cannot use msal-angular with angular 7 :(

[2018-10-27 07:48] himadrinath commented on #349
@nehaagrawal @rohitnarula7176 @navyasric check out this problem https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/349#issuecomment-431649665

here is the source code for that

https://github.com/himadrinath/next-b2c-redux-auth

[2018-10-28 02:44] finalgriever opened #467 "Incorrect Naming in Documentation"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.2.3
</pre></code>

## Current behavior

Documentation in the msal-angular library suggests tha

[2018-10-29 06:57] sbanerjee302 commented on #414
@nehaagrawal Any updates or ETA for this issue ?

[2018-10-29 18:37] RobARichardson commented on #449
@nehaagrawal any update this? Would really love to get those fixes for Edge and IE out to our users as soon as possible.

[2018-10-29 19:20] viksakshum opened #468 "failed to load resource: the server responded with a status of 401 (Unauthorized)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-10-29 20:38] ashleywb commented on #283
Is this supported now? If it is, do you know where I can find the documentation?

[2018-10-29 21:07] navyasric commented on #283
@ashleywb @jhossy The information for this scenario is documented towards end of this Wiki page:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso

[2018-10-29 21:54] #465 closed

[2018-10-30 01:35] viksakshum commented on #400
i need it as well

[2018-10-30 01:36] cicorias commented on #293
This really needs to be re-opened.  There should be no build output in the src repo. I'm struggling to understand why you need to refer to these output files for dev apps in testing?

[2018-10-30 11:51] madhumlr opened #469 "Refresh auth token"
Does this library has refresh token functionality?

[2018-10-30 20:50] rventuri76 commented on #349
I have exactly this error only on safari on Mac Version 12.0 (14606.1.36.1.9).
Same code on same Mac but using Chrome works correctly.

I can repro this easly. the only solution I found is to ask password twice with acquireTokenRedirect when acquireTokenSilent fails.

It might has to do with the hidden iframe not working properly on safari....

[2018-10-30 21:45] pkanher617 commented on #469
@madhumlr This library is for JS applications, which are typically single-page applications. As such, we use the implicit flow model of the OAuth protocol. The implicit grant flow does not issue refresh tokens, mainly for security reasons.

More info can be found here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-implicit-grant-flow

For the use cases where you require

[2018-10-30 23:31] nehaagrawal commented on #349
I saw this solution on a similar thread  https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/214
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/214#issuecomment-367668612
Does it work?

[2018-10-31 00:08] rventuri76 commented on #349
I saw this already but did not work for us.
I only noticed that changing this setting in safari solves
Preferences -> Privacy -> Prevent cross-site tracking

but I can not ask all customers to do that

[2018-10-31 01:19] david-harlamov commented on #320
It's weired that callback and redirectUri not working together.
If I put redirectUri in config, I can't get benefit of using callback.
Even I can't get tokens at my localstorage.

[2018-10-31 05:09] himadrinath commented on #469
@pkanher617  then how can we keep user logged in PWA application

[2018-10-31 08:46] didair opened #470 "acquireTokenSilent not working inside Teams app?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
Question
</code></pre>

## Browser:
- [ ] Chrome version XX
- [x] Firefox Developer Edition
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

[2018-10-31 13:55] didair commented on #470
Related to #222

[2018-10-31 18:12] CamiloTerevinto commented on #78
@jmprieur  We are developing an app that lives in Azure and uses AAD for authentication. All five of us (developers) see the exact same error message that cookies exceed 4096.

We cannot just clear all cookies all the time, as we don't only work in this project (think about Google account, Microsoft, Stack Overflow, any app that uses cookies really).

Isn't there anything we can do?

[2018-10-31 18:29] jmprieur commented on #78
@navyasric can you please check with the MSAL.JS team what @CamiloTerevinto can do?

[2018-10-31 20:51] pkanher617 commented on #469
@himadrinath are you using loginPopup or loginRedirect?

[2018-10-31 20:54] pkanher617 commented on #463
@valuesoft-dk you should be able to use the B2C token as any other id token obtained from AzureAD to read user information from graph. There may be some claims differences. The full documentation can be viewed here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-tokens

[2018-10-31 20:58] pkanher617 commented on #468
@viksakshum Can you please post a reproduction of the issue? I am unsure what the ask here is.

[2018-10-31 21:04] pkanher617 commented on #469
I recommend using loginPopup for PWA applications.

[2018-10-31 22:50] ryancerium opened #472 "msalAuthenticationService, not msalAuthenticationServiceProvider"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-11-01 00:41] ahcurrier opened #473 "Documentation request: loginRedirect Example"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Could you please provide a functioning example using loginRedirect? It seems that all the code sample use loginPopup.

I've tried many things, s

[2018-11-01 02:11] #472 closed

[2018-11-01 02:12] ryancerium commented on #472
The service provider is different than the service it provides.  It appears that `msalAuthenticationServiceProvider` is a magic string that gets generated (by Angular?) instead of existing in the code like `msalAuthenticationService`.

[2018-11-01 04:19] himadrinath commented on #469
@pkanher617 loginPopup

[2018-11-01 12:58] vedeevi commented on #470
@didair , Is this issue got resolved? as we are also having same issue in getting a token silently in Microsoft Teams Tabs....

[2018-11-01 12:59] vedeevi commented on #470
@didair , Is this issue got resolved? as we are also having same issue in getting a token silently in Microsoft Teams Tabs....

[2018-11-01 20:12] navyasric commented on #473
@ahcurrier You can find an example of the loginRedirect usage in this quick start sample here: https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/index.html#L127

The key difference when using the redirect flows is to set a tokenReceivedCallback function during [MSAL initialization](https://github.com/AzureAD/microsoft-authentication-library-for-

[2018-11-01 20:21] navyasric commented on #467
@finalgriever Thank you for pointing out the discrepancy. We have updated the Readme with the method names.

[2018-11-01 20:21] #467 closed

[2018-11-01 20:21] ahcurrier commented on #473
Thanks! But if loginRedirect navigates away from the SPA, how/when is the tokenReceivedCallback called? I think I tried to apply this example to my Vue app, and it didn’t work. I was returned from login, but unable to get/use id token or access token.

–A

[2018-11-01 20:34] navyasric commented on #473
@ahcurrier The loginRedirect navigates away from the SPA, but the MSAL is [configured with a RedirectUri](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics#configuration-options) (this is the apps index page by default). This allows the Azure AD service to redirect back to the app after login is complete. The tokenReceivedCallback is invoked then.
Please give the

[2018-11-01 20:39] navyasric commented on #202
Closing this issue because the OP has not responded.

[2018-11-01 20:39] #202 closed

[2018-11-01 20:50] navyasric commented on #269
@jnxxx Can you please download the latest version of MSAL and let us know if the issue persists.
Also please provide information on the browser(including version) and the type of user accounts you are trying to authenticate.

[2018-11-01 20:52] navyasric commented on #277
@CAJohns  Please try the latest version of MSAL.js for achieving your scenario. You can take a look at this [Wiki page](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso) on getting SSO between different apps with MSAL.js

[2018-11-01 20:54] navyasric commented on #278
Closing this issue as this has been addressed in the above referenced issue.

[2018-11-01 20:54] #278 closed

[2018-11-01 20:55] navyasric commented on #289
Closing this issue because the OP has not responded to last comment. Please try the latest version of the library.

[2018-11-01 20:55] #289 closed

[2018-11-02 00:18] ahcurrier commented on #473
Thanks! I’ll give it another try. (I recall from my first attempt that the tokenReceivedCallback was *not* called upon redirect back to the SPA?)

–A

[2018-11-02 01:09] viksakshum opened #474 "accessing list attachment contents"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-11-02 03:50] himadrinath commented on #463
@valuesoft-dk did you able to obtain graph token using b2c token. i tried but not success

[2018-11-04 15:08] didair commented on #470
@vedeevi sadly not.. What i got from issue 222 was that "msal isnt designed for Teams" I'm currently in some support tickets with Microsoft and I'll get back when i have a clear method of authenticating and receiving access tokens

[2018-11-06 02:28] rajarameshvarma commented on #421
angular 7 is out. Is this still work in progress?

[2018-11-06 08:35] andyamacdonald commented on #267
I'm seeing exactly the same issue so it's good to see that the bug tag has been applied. In my scenario login to my website works for MS Accounts and Google accounts however if you then hit a page which makes a call to an API secured using B2C the above issue occurs.

My error on Google accounts is slightly different but i'll include it below in-case the two are somehow linked.

`Refused to displa

[2018-11-06 09:49] CraigComeOnThisNameCantBeTaken opened #475 "Typescript Error in typings file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-11-06 10:16] CraigComeOnThisNameCantBeTaken commented on #392
+ would like to see this fixed to use this great package

[2018-11-06 23:14] 217Wilder-User1 commented on #421
@rajarameshvarma I'm using "@angular/core": "~7.0.0" and it works in Edge and Chrome.

[2018-11-07 21:17] 217Wilder-User1 commented on #414
I'm having the same issue. ETA would be great.
Unfortunately, I didn't realize this issue existed and created a stackoverflow question here:

https://stackoverflow.com/questions/53196989/fixing-syntax-error-in-internet-explorer-11-angular-6-project

Could this be a build error with webpack and es5?

[2018-11-08 01:35] MrTechGadget commented on #271
It would be great to see some movement on this, very disappointing to not be able to use this with angular and cordova apps like you would make with Ionic.

[2018-11-08 04:39] Dedme opened #476 "[Msal for Angular] Feature - Optional HTTP Interceptor on authentication State"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2018-11-08 10:54] aloene commented on #267
@navyasric, what can we do to workaround this issue ? It is a **blocking** issue since we cannot get access tokens for all MS accounts from MSAL.js. (We also have a different issue for Twitter accounts [#349](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/349))
The README reads

Please do something...

[2018-11-09 13:18] kwaazaar commented on #473
When using the latest version of msal.js (0.2.3?), I get this error:
Refused to display 'https://accounts.google.com/o/oauth2/auth?client_id=561846577326-apv8gkn3oers4gi49uerjgdu9d2o62j0.apps.googleusercontent.com&redirect_uri=https%3a%2f%2flogin.microsoftonline.com%2fte%2ffabrikamb2c.onmicrosoft.com%2foauth2%2fauthresp&response_type=code&scope=email+profile&state=StateProperties%3deyJTSUQiOiJ4LW1

[2018-11-09 15:51] kwaazaar commented on #393
Caching the access token yourself makes no sense, since this is MSAL's job (and automatically refreshing it once the cached token has expired).

It's very frustrating to see the samples are not working 100% and many Github issues are not answered or go silent for long periods. I'm wondering how serious Microsoft is with Azure AD B2C. I've just 'sold' it to my customer, being convinced MS will deli

[2018-11-09 19:07] TestInSeptember opened #477 "AcquireTokenSilent failed to renew accessToken for MSA account due to scope error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-11-09 20:11] DeanB2015 commented on #414
I think I found the issue.  The fix is currently working for me.  There maybe a better fix, but it works NOW!
**Problem:**
The dist folder(@azure\msal-angular\dist) in NPM package `@azure/msal-angular` is compiled incorrectly for IE11.
**Fix:**
1. clone and npm install https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular
2. npm run `build:modules`
3. copy th

[2018-11-11 08:43] pandres95 commented on #421
Is this still work in progress?

[2018-11-11 23:51] Ralms opened #478 "Question: Handling multiple logins simultaneously possible?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: Question
</code></pre>

## Library version

<pre><code>
Library version:  @azure/msal-angular: 0.1.2

</code></pre>

Question:
I've been exploring this library

[2018-11-12 06:26] xxis opened #479 "[Msal for Angular] Angular with MSAL Tenant causes app reload in Iframe."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 70
- [x] Firefox version 62 and 63
- [x] IE version 11
- [X] Edge version 42
- [?] Safari version XX

## Librar

[2018-11-12 14:49] ddbardsley commented on #414
Hi @DeanB2015...Thank you for the instructions that you provided...it did work for IE 11 but it does not work for Microsoft Edge (see attached image that I captured).

![microsoft_edge_error](https://user-images.githubusercontent.com/19496576/48354589-134f1980-e660-11e8-9436-2afd577acf97.png)

Also, do you know when a new release will be available to us so that we do not have to copy the contents

[2018-11-12 20:46] DeanB2015 commented on #414
@ddbardsley What version of Edge are you using?
Mine = `Microsoft Edge 41.16299.726.0  Microsoft EdgeHTML 16.16299`
What version of Angular are you using?  Mine = `"@angular/http": "~7.0.0",`
What version endpoint are you using V1 or V2?  https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison
What type of account are you using?  Work, School, Guest, personal?

[2018-11-12 21:08] #449 closed

[2018-11-12 21:14] nehaagrawal commented on #416
closing this issue due to inactivity.

[2018-11-12 21:14] #416 closed

[2018-11-12 21:32] nehaagrawal commented on #476
@Dedme  You can use this config unprotectedResources . This will not attach token to all the urls configured here.

unprotectedResources : Array of URI's. Msal will not attach a token to outgoing requests that have these uri. Defaults to 'null'.

[2018-11-12 21:35] nehaagrawal commented on #477
@TestInSeptember  Can you please tell us what scopes you are consenting for?

[2018-11-12 23:15] Dedme commented on #476
@nehaagrawal,
thanks for your reply, however this causes the API to never send the request? at least in my initial testing, if you can confirm otherwise ill investigate further.

i would like to send a token if i am signed in, and not send one when i am not.
The API contains logic on what to return is authorized or not. its not a complete yes or no access to data, its a large range depending on pe

[2018-11-12 23:43] Dedme commented on #421
i also have this built and working in angular 7.1.0. but the above fix was required.
i am using patch-package to change the dist files for the time being.

[2018-11-13 05:02] RobARichardson commented on #449
@nehaagrawal I'm confused. This ticket was closed, but @azure/msal-angularjs 0.1.2 is still not available on NPM.

[2018-11-13 08:04] ddbardsley commented on #414
@DeanB2015 Here is the information that you requested:

Microsoft Edge 42.17134.1.0 Microsoft EdgeHTML 17.17134
"@angular/http": "7.0.0"
V1
Work

[2018-11-13 14:03] KevinMcDonnell-BC opened #480 "Cannot use query or form_post for response_mode"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 70.0.3538.77 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ]

[2018-11-13 15:14] vogloblinsky opened #481 "[Msal for Angular] Dynamic configuration"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected behavior

Is it possible to set the configuration at runtime ?

We are loading for our project the information for the module from a

[2018-11-13 19:14] ddbardsley commented on #414
@DeanB2015 Do you know when a new release will be available to us so that we do not have to copy the contents of the lib-es6 to the node-modules@azure\msal-angular\dist folder?

[2018-11-13 19:54] pandres95 commented on #421
@Dedme, is there a PR patching that file up?

[2018-11-13 22:47] rudolphdewet commented on #288
In my case this happened because the route that the iframe was redirecting to, did not inject MsalService, and was not guarded, so it was never instantiated and thus never picked up the new token from the iframe.

In my case I didn't want that route guarded, so I just inject MsalService into the constructor of the component to ensure it is instantiated.

It seems like something that would happen o

[2018-11-13 23:29] Ethan-Arrowood commented on #174
@jcabrito i added it to my `componentWillMount` on the root react component

[2018-11-14 00:14] Dedme commented on #421
@pandres95, i dont believe so.

[2018-11-14 00:19] Dedme commented on #421
@pandres95 its unnecessarily large but attached is my package for patching the current npm file:
https://gist.github.com/Dedme/919d85c0390c7a82dfdacfa4d29881f9

this is applied using https://www.npmjs.com/package/patch-package.
this patch has the compiled codebase to fix IE compatibility and also the above fix resolving the observable.

[2018-11-14 01:06] DeanB2015 commented on #414
@ddbardsley I too am getting an error using `Microsoft Edge 42.17134.1.0 Microsoft EdgeHTML 17.17134` and es5 dist files.
![ie11problem](https://user-images.githubusercontent.com/10567383/48452705-4982bb00-e77e-11e8-8e6e-a430a4130876.PNG)

I created a basic Angular 7 project to test @azure/msal-angular.  [https://github.com/217Wilder/msal_onenote_api_azure_lab](https://github.com/217Wilder/msal_on

[2018-11-14 01:08] DeanB2015 commented on #414
@ddbardsley I don't know when a release will be available.

@navyasric & @nehaagrawal Thoughts on possible updates to the MSAL framework?  Any help is greatly appreciated.

[2018-11-14 15:19] oh-fv opened #484 "Second login window popup after acquiring id token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 70
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-11-14 15:33] DeanB2015 commented on #421
@Dedme Thanks for the .patch file.  Just to confirm.  The .patch is a es2015 dist of `@azure\msal-angular`?

Note: I've posted about the IE11 issues here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414  Unfortunately, the es2015 dist files are causing problems with Edge.  Do you get errors in Edge now?

[2018-11-14 21:30] jasonfavrod opened #485 "Broken Documentation Link"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 69
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-11-14 22:18] Dedme commented on #421
@DeanB2015 with my current patch file, i am having no issues with edge.

I have noted while it compiles, loads and runs in IE11, it is not authenticating via the popup,
it is throwing some sort of error.
apologies, out target browser has been Chrome.

[2018-11-16 10:09] meseras opened #486 "MSAL SSO not working in I.E 11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [X] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-11-16 18:43] nehaagrawal commented on #477
@TestInSeptember  Since we are following up internally and this is not msal.js library issue, I am closing this  issue.

[2018-11-16 18:43] #477 closed

[2018-11-16 18:46] nehaagrawal commented on #484
@oh-fv You are seeing a second login popup because acquireTokenSilent failed. Did you check why it failed? If AcquireTokenSilent fails, we call acquireTokenRedirect/popup. This is expected behavior. I am closing this issue.

[2018-11-16 18:46] #484 closed

[2018-11-16 19:01] nehaagrawal commented on #485
PR in progress https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/487

[2018-11-16 19:04] nehaagrawal commented on #463
@parakhj can you please help here.

[2018-11-16 19:05] nehaagrawal commented on #470
Closing this issue since this is already answered in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/222

[2018-11-16 19:05] #470 closed

[2018-11-16 19:11] nehaagrawal commented on #476
@Dedme  Thank you for explaining the issue. I need to discuss this issue with my team internally to confirm if this can be added as a feature. We will get back to you on this soon.

[2018-11-16 19:15] nehaagrawal commented on #469
@himadrinath  @pkanher617  already answered your question. Please don't reopen this issue. This is more of a how to question. Please use stack-overflow for such questions in future.

[2018-11-16 19:15] #469 closed

[2018-11-16 19:55] nehaagrawal commented on #478
@Ralms did you try getAllUsers()?

[2018-11-16 20:00] #214 closed

[2018-11-16 20:00] nehaagrawal commented on #214
@DavidHenri008  confirmed that his issue was resolved "As of February 22nd 2018, Microsoft confirmed they issue a fix to solve this issue. So if someone has the issue it is most likely for a different reason."
Closing this issue.

[2018-11-16 20:03] nehaagrawal commented on #269
closing this issue since this issue is pretty old and it may have been resolved in the latest version and due to lack of activity from the user.

[2018-11-16 20:03] #269 closed

[2018-11-16 20:06] nehaagrawal commented on #275
@onovotny  We have a PR in progress to remove prompt=select_account hardcoding. Once this feature is released. I will update the details here.

[2018-11-16 20:21] nehaagrawal commented on #321
@nicokaiser  we can't add the check in our library to check if third party cookies are blocked.  This should be done on the app developer side. Closing this issue.

[2018-11-16 20:21] #321 closed

[2018-11-16 20:23] nehaagrawal commented on #369
@zuberspathan  closing this issue due to no activity from user. Please reopen if required.

[2018-11-16 20:23] #369 closed

[2018-11-16 20:31] Ra-Sedgwick opened #488 "UserAgentApplication.acquireTokenSilient() always retrieves a new token."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 70.0.3538.102 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [

[2018-11-16 20:34] nehaagrawal commented on #277
@CAJohns  As @navyasric  mentioned, this is already fixed as part of the SSO feature that we released in latest version. Please check the documentation. I am closing this issue for now. Please reopen if issue still exists.

[2018-11-16 20:34] #277 closed

[2018-11-16 20:41] nehaagrawal commented on #315
@chinmayembedded  Can you please confirm if this issue still exists?

[2018-11-16 20:46] michaellichtner commented on #475
I experienced this in angular 6 and typescript 2.7.2 but did not have the issue in angular 7 typescript 3.1.6 - if you're able to upgrade to work-around while it gets fixed.

[2018-11-16 21:54] nehaagrawal commented on #271
@narindermakin  @MrTechGadget  Can you please update the issue as per our new template.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox versi

[2018-11-16 21:57] Ralms commented on #478
@nehaagrawal
Hi there,
Wasn't aware of that method.

Just tried it and worked 100%.
Tested doing a login with 2 users, do getAllUsers().
On the resultant array of users I got a token by doing acquireTokenSilent(["user.read"], undefined, user)
And finally tested that token calling Graph https://graph.microsoft.com/v1.0/me

Very happy that this can be achieved this easy where I can leave the entire

[2018-11-16 21:57] #478 closed

[2018-11-16 23:04] nehaagrawal commented on #488
@Ra-Sedgwick  I am unable to reproduce this issue with the latest version(0.2.3). Can you please confirm what is the value of this.appConfig.b2cScopes. The value of authenticationRequest.scopes can be  cliendId only if you passed the clientID as the scope.

[2018-11-17 01:14] narindermakin commented on #271
Does this help fix this long pending issue? We gave up on it 8 months back due to lack of support.
    On Friday, November 16, 2018, 4:54:17 PM EST, wenYorker <notifications@github.com> wrote:

@narindermakin @MrTechGadget Can you please update the issue as per our new template.

I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report

[2018-11-19 13:33] Ra-Sedgwick commented on #488
@nehaagrawal

Thank you for the assistance.

The value of appConfig.b2cScopes is similar to the following
[code]

I've also noticed that my app is restarting every time aquireTokenSilent() is called. I suspect this issue is related to #393

[2018-11-19 19:06] nehaagrawal commented on #485
Fixed.

[2018-11-19 19:06] #485 closed

[2018-11-20 04:58] #315 closed

[2018-11-20 08:34] valuesoft-dk commented on #463
@parakhj thanks, I have already long time ago read that article and I can use the ADAL client side library for that and so on. But I'm using the MSAL client side library to authenticate and then I have a B2C token. How can I use that token to get an access token for Graph API ? (without authenticating twice).

[2018-11-20 14:00] spottedmahn commented on #305
nice, thanks! 👏

[2018-11-20 14:00] #305 closed

[2018-11-20 18:48] navyasric commented on #264
@juunas11 Are you still open to submit a PR for this? We welcome contribution through PRs.

[2018-11-20 18:50] juunas11 commented on #264
I'll try to look at it once I have some time. It's been pretty hectic lately so I can't promise a schedule ;)

[2018-11-20 22:04] nehaagrawal commented on #275
PR https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/489

[2018-11-21 10:35] Ralms opened #490 "Add method to logout user directly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Currently we only have available the method logout() which receives no parameters.
Meaning that in a multi-user login port

[2018-11-21 14:45] plakak commented on #269
I can confirm that the issue is still present.
Chromium: Version 70.0.3538.77 (Official Build) Arch Linux (64-bit)

[2018-11-21 15:44] DarylThayil opened #491 "Add Eslint to project"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [X] Dev, Build

[2018-11-21 15:54] DarylThayil commented on #491
I see tslint in the lerna sub packages, closing

[2018-11-21 15:54] #491 closed

[2018-11-21 19:18] vipswelt opened #492 "How to use single sign on with this package"
I have two apps one in .net and another in angular, i am not able use single sign on with this package as it always promp for user name password page. How can i achieve that. Please reply with further information to acieve this. If it is not possible please reply me as well

Its really urgent for me.

[2018-11-21 20:01] navyasric commented on #492
@vipswelt Please take a look at this Wiki topic on SSO between apps using MSAL.js and let us know if it resolves your issue.
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso#sso-between-apps

[2018-11-21 22:40] navyasric commented on #413
@sunrawat  Are you using msal-angular library or msal.js library?

[2018-11-21 22:59] navyasric commented on #246
Similar to #264

[2018-11-21 22:59] #246 closed

[2018-11-22 01:39] parakhj commented on #463
As mentioned earlier, the B2C token is useless for the Graph API. B2C tokens don't allow you to talk to the graph API. You need to spin up another application (a service application) which uses ADAL (or MSAL) to acquire an AAD token. You can use that to talk to the Graph API.

You don't need to authenticate twice in that case because the service app should be using the confidential client flow (es

[2018-11-22 07:37] iamvsaini commented on #492
@navyasric not resolved

getting error as below
http://localhost:4200/auth-callback#error=interaction_required&error_description=AADB2C90077%3a+User+does+not+have+an+existing+session+and+request+prompt+parameter+has+a+value+of+%27None%27.%0d%0aCorrelation+ID%3a+d60f7e7e-ed42-40ab-a334-d7ef620db4b2%0d%0aTimestamp%3a+2018-11-22+07%3a37%3a01Z%0d%0a&state=9a1e5b76-f589-41c2-a3af-5f61fcd6acef

[2018-11-22 07:56] vipswelt commented on #492
@navyasric not resolved

getting error while already autheticated with with my .net app
http://localhost:4200/auth-callback#error=interaction_required&error_description=AADB2C90077%3a+User+does+not+have+an+existing+session+and+request+prompt+parameter+has+a+value+of+%27None%27.%0d%0aCorrelation+ID%3a+d60f7e7e-ed42-40ab-a334-d7ef620db4b2%0d%0aTimestamp%3a+2018-11-22+07%3a37%3a01Z%0d%0a&state=9a1e5b

[2018-11-22 10:01] leonixyz commented on #414
Any news on this?

Why is this issue being marked as an enhancement?

If, as explained by @DeanB2015, the module is not compiled correctly, it means that this is a bug not an enhancement.

Any idea of how to use the workaround on an automated pipeline?

[2018-11-22 16:45] vipswelt commented on #275
Is it resolved... ?

Please address ot ASAP, its really urgent for me.

I am using azure-msal package in angular 6

[2018-11-22 16:48] vipswelt commented on #275
Hi @SimeonBanev ... Have you find any solution

@nehaagrawal is there anything done. If yes please please please let me know

[2018-11-23 15:21] tstaals commented on #414
We need to have this fixed as well, the workaround is not really suited for our build pipeline

[2018-11-25 13:44] ErikAllan commented on #488
Have you found any solution? I'm having the same problem :-(

[2018-11-26 00:56] Ra-Sedgwick commented on #488
@ErikAllen I'm currently manuelly caching as a work around

 I strongly suspect this is tied to issue #393.   Once that issue is addressed I plan on looking back into this.

[2018-11-26 07:43] mdressman commented on #267
any updates?  still encountering this issue

[2018-11-26 17:01] ryancole opened #493 "Please add b2clogin.com support to the list of trusted authorities"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

There is an object of trusted authorities in [this code here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fdbf3329d2

[2018-11-27 00:12] visualjeff commented on #463
[code]

[2018-11-27 14:07] subhendu-de opened #494 "Refused to display https://login.microsoftonline.com/common/oauth2/ in a frame because it set 'X-Frame-Options' to 'deny'."
## I'm submitting a...
- [ ] Issue similar to #84

## Browser:
- [ ] Chrome version 70.0.3538.102

## Library version

@azure/msal-angular: 0.1.2

## Current behavior
Configure the application to acquire an access token in Google Chrome and used
consentScopes: ["https://litware.onmicrosoft.com/demoApi/user.read"]

where
	litware.onmicrosoft.com is the B2C tenant
	demoapi is the APP ID URI
	user.re

[2018-11-27 16:23] ewaldhofman commented on #486
You might need to use Bluebird: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-Installation

[2018-11-27 17:20] meseras commented on #486
In the sample code i posted above i am already using bluebird

[2018-11-27 22:29] navyasric commented on #316
Closing this issue as the original issue seems to be resolved.

[2018-11-27 22:29] #316 closed

[2018-11-27 22:32] navyasric commented on #379
Closing this issue since the above comment provides information to resolve this.

[2018-11-27 22:32] #379 closed

[2018-11-27 22:50] Raysapps commented on #421
I got this error: "Token renewal operation failed due to timeout|Token Renewal Failed "
 in my angular 7 asp.netcore 2.2 project. Any suggestions to fix will be a great help.

[2018-11-27 22:51] navyasric commented on #463
@valuesoft-dk Please let us know if the pattern explained in the above comment resolved your issue.

[2018-11-27 22:55] navyasric commented on #480
@kevmcdonk Here is a link to the OAuth implicit flow spec which allows only response_type= token:
https://tools.ietf.org/html/rfc6749#section-4.2.1

[2018-11-27 22:55] #480 closed

[2018-11-27 22:58] navyasric commented on #488
There is a fix to return the cached token in the dev branch. Please give it a try and let us know if it resolves this issue. We will be releasing the fix soon.

[2018-11-27 23:06] navyasric commented on #492
@vipswelt Can you provide the exact steps to reproduce, library version , browser details, etc as per the issue template? That will help us help you better.
Are both your apps(.net and angular) in the same browser? Also, as per the wiki doc linked above, did you pass a login_hint of the user and then call acquireTokenSilent?

[2018-11-27 23:07] navyasric commented on #493
Same as #435

[2018-11-27 23:07] #493 closed

[2018-11-28 06:42] valuesoft-dk commented on #463
Yes, I can see the idea, so I will put that into practice. Thanks

[2018-11-28 06:42] #463 closed

[2018-11-28 14:36] Ra-Sedgwick opened #495 "Security concerns over caching security tokens in browser storage."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-11-28 17:09] daniel-seitz commented on #18
@jmprieur can you add a link? I dont find another issue/solution for this.

[2018-11-28 19:42] #495 closed

[2018-11-28 23:46] mbearup opened #3848 "Client ID? Or AppID URL?"
When configuring the server, the guidance here and [here](https://github.com/Azure-Samples/active-directory-node-webapi-basic) say to use the **client ID,** which is clarified in both cases to mean the **Application ID**. But in my testing, I actually had to provide the "**App ID URL**." If I provided the Application ID, my client would get a 401 error indicating that the audience is invalid. Whic

[2018-11-29 02:50] navyasric commented on #430
@bh3605 MSAL is a client library for authenticating with the Azure AD service. As such, the trusted host list is a list of valid authorities maintained by the MSAL library by validating and checking with the Azure AD service. Hence, we do not plan to expose the list for supplying new authority endpoints (which may not exist on the AAD service).

[2018-11-29 02:50] #430 closed

[2018-11-29 05:42] vipswelt commented on #492
Hi @navyasric,
      Yes, both apps running on the same browser: Google Chrome (Version 70.0.3538.110 (Official Build) (64-bit)). But both apps are not able to retrieve the session from another logged in app. I can't use login_hint because I don't have any detail for any user going to be logged in.  I am attaching a code snippet with this reply please have a quick look over it

**### For Angular A

[2018-11-29 13:45] ddbardsley commented on #414
@navyasric & @nehaagrawal please provide all of us with an update as to when an updated release will be provided to fix the inability to use the IE browser with your currently released version.

[2018-11-30 00:17] nehaagrawal opened #497 "Fallback to acquireTokenRedirect/popup when silent fails in msal-angular/angularjs interceptor"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ *] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ *] Chrome version XX
- [* ] Firefox version XX
- [* ] IE version XX
- [* ] Edge version XX
- [* ] Safari version XX

## Library

[2018-11-30 03:06] tszymanik opened #498 "msal.js loginRedirect loop"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 70
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-11-30 05:36] mohsinma commented on #414
@navyasric & @nehaagrawal We are also running into the same issue. An update on this issue would be highly appreciated.

[2018-12-01 00:02] navyasric commented on #450
Added more information related to these questions in Readme: https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/394ead848a89d2062c6318c007c66867b0e22702
Closing this issue.

[2018-12-01 00:02] #450 closed

[2018-12-01 10:41] patriziofilloramo commented on #414
@navyasric @nehaagrawal
you may have label the issue incorrectly.

We are also waiting for this fix, any update would be very appreciated.
Thanks for your support!

[2018-12-01 22:38] johnnliu opened #499 "[MSAL for Angular] --prod --aot build fails."
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2018-12-01 22:40] johnnliu commented on #499
pretty ugly hack - force reset _redirectUri/_postLogoutRedirectUri on the msalService before we go too far.

these two properties are internal so basically hacking them in at the moment.

`
export class AppComponent implements OnInit, OnDestroy {

    constructor(
        private msalService: MsalService
    ) {
        this.isIframe = window !== window.parent && !window.opener;
        (this.msal

[2018-12-03 06:55] johnnliu commented on #499
need several patches in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/421#issuecomment-438489517 to sort out my issues :\

[2018-12-03 11:54] Kordonme commented on #488
I have this issue as well. The only thing I can tie this to at the moment, is when I haven't called `acquireTokenSilent()` for a long time. E.g. over the weekend. I'm using `localStorage` if that is useful.

Logging out and back in solves this issue. I'm not sure how to test if the token not being used for a period of time is the issue.

[2018-12-03 13:51] meseras opened #500 "Does anyone have a working sample of Azure AD SSO with IE and MSAL."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe: Question as I cant get a response to my ticket
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [X] IE version XX
- [ ] Edge vers

[2018-12-04 21:16] maxburke commented on #498
I've been seeing this issue for a few months myself, at least on 0.2.2 and 0.2.3.

Something I've been noticing while I debug it is that if I step through the authentication flows it sometimes succeeds. I'm wondering if there's something going on where:

1. User requests a token via acquireTokenSilent
2. User has no cached tokens, so a login flow is initiated
3. Login flow times out and has no val

[2018-12-06 00:06] navyasric commented on #409
@chetanku Please call the acquireTokenSilent method which handles token renewals. This is explained now [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs)
If the user is inactive and the idtoken lifetime is 1 hour, it is expected that the user is logged out.
The user session and id tokens lifetime can be configured here or the us

[2018-12-06 00:06] #409 closed

[2018-12-06 11:45] #499 closed

[2018-12-08 02:17] MaDooSan commented on #488
@navyasric
Same here. Not sure, but it looks like it might have to do with how the scopes for a single-tenant app are managed internally.
The scopes are defined during MSAL Agent initialization as <client ID>/<scope> and the access token received after login is stored in the internal local cache. Calling acquireTokenSilent with the same scope syntax causes it to renew the token (and reload the pag

[2018-12-08 21:50] MaDooSan commented on #488
This may not exactly be a long-term fix but I modified the containsScope function so that it accepts both `clientID/scope` and `scope` formats:

`Utils.containsScope = function (cachedScopes, scopes) {
        cachedScopes = this.convertToLowerCase(cachedScopes);
        scopes = scopes.map((scope)=>{return scope.substring(scope.lastIndexOf("/") + 1)});
        return scopes.every(function (value)

[2018-12-10 08:13] himadrinath opened #503 "forcing re-authenticate with existing user session"
in my next js application after user signup and redirect to my app their are steps they have to complete for requirement after they complete those steps from my backend using azure ad graph api i am updating the user claims so i need to expire the session and force to re-authenticate with existing user session without any user input so i can extract those claims from new token. how can i re-authen

[2018-12-10 17:08] Francis-B opened #504 "Can't get acquireTokenSilent to work in Office Outlook Add-in"
i am working on Office Outlook Add-in and trying to get the token using msal.js to login to MS Graph, but it doesn't work. It is not getting the token silently in acquireTokenSilent method. it is similar to #339 issue and closed the issue without providing any solution.  As mentioned by Ideline in the issue #339 , it is working fine with acquireTokenPopup, but i want it get it silently as the user

[2018-12-10 17:31] taivu commented on #413
related: #414

seems like #414 isnt labeled with bug, so i thought I'd reference it here to help things move along.

[2018-12-10 18:00] #500 closed

[2018-12-10 19:51] maxburke commented on #498
In the cases where I am seeing the redirect loop a common thread I've noticed is that coming back from ADB2C the state doesn't have the expected value and the request type is undefined:

[code]

[2018-12-10 21:08] pkanher617 commented on #498
Apologies for the delay. I was able to reproduce this issue, and I am trying to find a fix. To solve your issue in the interim, have you tried using loginPopup instead of redirect? Does this cause a similar issue if you do?

[2018-12-10 21:09] pkanher617 commented on #498
@maxburke Is this something you are seeing specifically in B2C flows? I am not receiving this error, I am still able to see an idtoken in a hash as @tmszyman has stated

[2018-12-10 22:09] maxburke commented on #498
One of the issues we've found with using loginPopup instead of loginRedirect is when the browser blocks popups; in our user testing it hasn't been obvious that they need to enable popups.

I'm using B2C, yes.

[2018-12-11 04:35] maxburke commented on #498
I'm not sure if this helps @pkanher617 but I've managed to reproduce the issue I'm seeing much more frequently (nearly 100% now) by setting the `async` parameter to `xhr.open()` in XhrClient to *false*.

I'm wondering if there's a race condition between the openID endpoint fetch call and the rest of the logic?

Digging more ...

[2018-12-11 14:59] michaellichtner commented on #479
Any other work arounds?

[2018-12-11 20:23] navyasric commented on #504
@Francis-B When you say acquireTokenSilent doesn't work, what is the failure behavior you are seeing? Is there any error message in the network traces or in console logs? Which version of library and what browsers are you seeing this in? Please use the issue template to file so we have the information of the error behavior and the expected behavior.

[2018-12-11 20:50] navyasric commented on #492
@vipswelt The msal-angular library cannot provide an single sign on experience without having access to an authenticated user session with AAD. You will need to provide a login hint and then call acquireTokenSilent for an API to avoid logging in again in the Angular app. You can get the login_hint from the idToken claims when user signs in to the 1st app.
If you don't have any access to a sign in

[2018-12-11 22:33] CRidge opened #507 ""Split is not a function" error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2018-12-12 11:56] chigivigi opened #508 "Msal Angular cannot pass multiple consent scopes from different apis"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-12-12 15:20] Weschk commented on #481
@vogloblinsky I'm hosting my application in Azure and have been struggling with the issue to load the AppSettings and until there is a better way to inject the config I made a workaround using XMLHttpRequest:

[code]

It's not a pretty solution but at least it works and I can now dynamically load the settings from my web server.

It would be nice if this feature was implemented so that you could l

[2018-12-12 15:32] maxxt commented on #414
Any updates on this issue? It really is a blocker.

Thank you!

[2018-12-12 16:38] shillson commented on #504
I have same or similar problem as @Francis-B.
I'm trying to get accesss token in Office Outlook Add-in using msal.js (v.0.2.3.). I'm using the same code as in "Quickstart for MSAL JS".

myMSALObj.loginPopup(applicationConfig.graphScopes).then(function (idToken) {
		//Call acquireTokenSilent (iframe) to obtain a token for Microsoft Graph
        myMSALObj.acquireTokenSilent(applicationConfig.graphS

[2018-12-12 16:50] Francis-B commented on #504
i am facing the exact same issue as in #339 . it is clearly explained there.  loginPopup is working and after the login, the acquireTokenSilent  is not getting triggered and not able to get the token. But i am able to get the token with acquireTokenPopup method alone. i tried it in OWA for firefox and chrome

[2018-12-12 18:09] #458 closed

[2018-12-13 13:18] daniel-seitz commented on #490
Would be great to have that feature. Please let us know if and when this is planned.

[2018-12-14 18:47] taivu commented on #481
@Weschk are you able to make a `--prod` build using that method? I get errors that say `@decorators` cannot run functions to get values

[2018-12-17 08:59] maordadush opened #510 "React support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2018-12-17 09:02] charles-resfrac commented on #437
I am now running into the same issue. What was the resolution?

[2018-12-17 09:35] charles-resfrac commented on #437
Ok, I figured out what I was doing wrong. Writing it down here to benefit future searchers.

I needed to include the 'offline_access' scope in the auth code grant request (to https://login.microsoftonline.com/common/oauth2/v2.0/authorize) as well as for the access token request (https://login.microsoftonline.com/common/oauth2/v2.0/token). I had a mismatch in the scopes in my two requests.

[2018-12-17 09:39] charles-resfrac commented on #437
Also for future reference, here is a useful documentation link for Azure:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent, especially the "Types of Consent" section, comparing "Static user consent" with "Dynamic user consent".

[2018-12-17 10:52] Weschk commented on #481
@taivu found another solution that works with --prod builds

[code]
give it a try if you haven't found a solution =)

[2018-12-17 12:34] jannikbuschke opened #511 "msal js wrongly states scope does not exist in chrome for android"
## I'm submitting a...
 - [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [ ] Chrome version XX
- [x] Chrome on Android version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version

[2018-12-17 16:43] taivu commented on #481
@Weschk prod builds come out working beautifully, thank you!!

[2018-12-17 18:22] cleberdantas opened #512 "Clock skew of 5 minutes"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fa8ce39c60c9a5ac277a1d8661fc6cd609d91cbb/lib/msal-core/src/UserAgentApplication.ts#L883

Is this clock skew thing really necessary? I've just spent 2 hours debugging an application that prematurely disconnects users, 5 minutes before the expiresIn that was configured (in Azure B2C)! Does anyone know the necessity or motivation

[2018-12-17 18:57] cleberdantas opened #513 "AcquireTokenSilient on MsalGuard not working due lack of claim name"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fa8ce39c60c9a5ac277a1d8661fc6cd609d91cbb/lib/msal-angular/src/msal-guard.service.ts#L27

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fa8ce39c60c9a5ac277a1d8661fc6cd609d91cbb/lib/msal-angular/src/msal-guard.service.ts#L52

Since the claim **name** is not required to exist in the id token (https://ope

[2018-12-17 23:35] navyasric commented on #492
Closing this issue with the above guidance.

[2018-12-17 23:35] #492 closed

[2018-12-18 00:31] navyasric commented on #512
The need of the clock skew is to avoid situations where the client clock and the token issuing service clock are not exactly in sync. However, we plan to make it a configurable value and is in our backlog.

Why is your app disconnecting and why do you think this offset is causing it?

[2018-12-18 00:46] navyasric commented on #513
@cleberdantas  Can you explain if there is a use case where you don't get the name claim in the id_token? The intent is to check if an authenticated user exists, so iss claim may not be the ideal option. Instead we could use the sub claim.

[2018-12-18 00:51] navyasric commented on #511
@jbuschke Which API are you trying to get a token for? Also, can you provide a snippet of how you are using MSAL.js to get the token or a network request being sent?

Please check this topic to see how to pass scopes and if that helps you: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs

[2018-12-18 00:55] navyasric commented on #510
@maordadush  As mentioned above, you can use the MSAL.js core library in a ReactJS application. Are you asking for a wrapper library for ReactJS and what is missing in using the core library?

We plan on building a ReactJS wrapper in future.

[2018-12-18 01:20] navyasric commented on #414
Sorry for the delay in response. We have been working on improvements in the Msal core library. The fix for this issue in the Angular wrapper is planned for Q1 of next year(2019).
Meanwhile, please try the workarounds described [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser#other-workarounds).

[2018-12-18 09:07] cleberdantas commented on #512
@navyasric thanks for the response. I think making this configurable would be nice.

While I was debugging my application that did not acquired token silently #513, I went to Azure AD B2C and configured the token lifetime to 5 minutes (to facilitate the debugging), since my clock and AD B2C clock were in sync AND the **name** was not set in the Id Token (refer to the other issue) AND the clock ske

[2018-12-18 09:14] cleberdantas commented on #513
@navyasric yes, agree, sub indeed is a better option.

About the use case... well ...
![image](https://user-images.githubusercontent.com/699321/50143541-0db6a600-0294-11e9-8ef4-5eca1bd7f565.png)
I was using Given Name (given_name) not Display Name (name), so Display Name was unmarked.
I think other users may stumble in the same situation as mine, so changing **name** for **sub** would be very appr

[2018-12-18 11:57] meseras commented on #486
NB: To get this working for IE I had to get my enterprise to add "https://login.microsoftonline.com" as a trusted site for all employees using a group policy.

[2018-12-18 15:37] ddbardsley commented on #414
Hi @navyasric, none of the workarounds worked for us. Is there a reason why your team cannot rebuild the MSAL CORE library with the appropriate build process outlined by @DeanB2015 on Nov 9th?  Please see above message from @DeanB2015 if your team is unfamiliar with this build issue because he determined that the "NPM package @azure/msal-angular is compiled incorrectly for IE11". We downloaded the

[2018-12-18 16:49] jbuschke commented on #511
@navyasric Im trying to get a token for my own api hosted in azure. The code thats failing looks like this

`await userAgentApplication.acquireTokenSilent(["xxxxxxxx-xxx-xxx-xxxx-xxxxxxxxxxx/user.read"]);`

where xxx... is the application id in the azure tenant. As mentioned this code works within chrome for desktop. I get a valid token back with which I can make authorized API calls

[2018-12-18 20:40] ursmeier-mercatus commented on #349
Any update on this?
Same as @rventuri76, our application runs on latest Safari version (>12) only with the disabled setting `Preferences -> Privacy -> Prevent cross-site tracking`, which is on by default.
Any hint for a workaround is highly appreciated.

[2018-12-19 06:56] xinyi-joffre commented on #488
+1 for @MaDooSan solution. For our app, we are going against Azure DevOps Rest API, which requires v1.0 app id in front of the scope when requesting the initial token: `499b84ac-1321-427f-aa17-267ca6975798/user_impersonation`.

The response returned from Azure DevOps has only `user_impersonation` as the scope, and this appears in the cached key in local storage.

Later, when we go to acquireTokenS

[2018-12-19 16:51] mohsinma commented on #414
Yes, we are in the same boat as @ddbardsley and I agree with him. There is a lot of pressure from the clients about deliverables. Please fix this at the earliest. Otherwise, Microsoft should officially stop IE11 support.

[2018-12-19 17:10] taivu commented on #414
i was able to move forward by creating a new module in my project, and copy over the source from the angular wrapper code 1:1. I had to add `msal` as a project dependency. Doing this i was able to build and run with IE10/11. I know this isnt ideal for most organizations due to security policies, but for now, building the angular wrapper as part of my project instead of importing as a library works

[2018-12-20 07:16] ay0r commented on #498
Any workaround for this? Getting the same issues about 75% of the time. Using Azure B2C, Sign-in policy.

[2018-12-20 09:40] david-lpg commented on #479
I can confirm the bug with Edge (version 42.17134.1.0 with msal-angular 0.1.2): using loginPopup function redirects in the popup window after login in...
Combine with issue #414 this library is not usable with both Microsoft browsers. Funny for a Microsoft library...
I hope these two issues will be resolved soon as we can't release our app without the support of Edge and IE.

[2018-12-20 10:00] TPullen21 opened #519 "Invalid State MSAL Error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 17.17134
- [ ] Safari version XX

## Library

[2018-12-20 18:03] maxburke commented on #498
I think I have a workaround for my app, I'm not sure how well it will work for anyone else. My workaround was to set `navigateToLoginRequestUrl` to false in the options object when constructing the UserAgentApplication instance, ie:

[code]

[2018-12-20 18:55] Francis-B commented on #504
any update on this??

Apart, i somehow got it working in IE11, but it still not able to get the token in Outlook Desktop client. Outlook client even though the IE11 is set as the default browser

i am using SPA using MSAL.JS example code in my add-in app.

The else condition is getting is getting executed in Outlook Desktop Client from the below and i am redirected to login Page. But After Login,

[2018-12-20 19:45] navyasric commented on #414
@ddbardsley  I'm sorry I misunderstood this to be a different issue with redirects in IE. Thank you for pointing out and clarifying that this is a build issue with the library.We will classify this as a bug and prioritize with the team.
Is this issue happening only for specific versions of Angular?

[2018-12-20 19:52] navyasric commented on #413
As mentioned above this is related to #414. Closing this as duplicate.

[2018-12-20 19:52] #413 closed

[2018-12-21 10:00] ddbardsley commented on #414
@navyasric Thank you for expediting this BUG. I am using angular 7.0.0. Would you please let all of us know when an updated release will be available. I have a client that requires this fix ASAP because we are going into PRODUCTION PILOT the second week in January 2019.

[2018-12-21 12:32] chriseenberg opened #520 "TokenType empty string on acquireTokenSilent() MSAL for Angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 71.0.3578.98
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Lib

[2018-12-21 13:14] Mortana89 commented on #435
What's the progress in this issue?

[2018-12-21 14:10] acarrau commented on #481
I appreciate the solution @Weschk! I really expected MSAL to allow runtime configuration. ADAL already had it when initializing the AuthenticationContext

[2018-12-25 17:16] jerme404 commented on #498
We don't need any of the v2.0 stuff yet, so we switched to adal for now.

[2018-12-26 12:07] veljkoz opened #521 "Acquired tokens have invalid signature"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x?] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2018-12-28 14:15] acarrau commented on #481
The downside of doing a "sync" call like @Weschk mentions, will produce a warning in the console saying XMLHttpRequest synchronous calls are deprecated.

I ended up wrapping the angular bootstrapping in main.ts to be done after the onsuccess of an  XMLHttpRequest to retrieve the configuration file.

[2018-12-28 15:19] taivu commented on #481
@acarrau can you show some example code? i guess you would bootstrap angular as a callback after XMLHttpRequest success?

[2018-12-28 15:40] acarrau commented on #481
Yes, exaclty that. I did just by creating a new XMLHttpRequest without the "false" flag in the xhr.open method and in the onsuccess callback starting the

[code]

You can also pass an extra provider to platformBrowserDynamic with a custom injection token to set the configuration value there

[2018-12-28 15:52] acarrau commented on #414
I'm getting this in my vendor.js making MSAL only break in IE11

[code]

This is happening to me with Angular 6

[2018-12-30 16:39] chesteryang opened #523 "AADSTS700022 - how to get rid of this error?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Performance issue
[] Feature request
[ ] Documentation issue or request
[X] Other... Please describe: I don't know if this is a defect or expected behavior?
</code></pre>

## Browser:
- [X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge

[2019-01-02 10:49] #520 closed

[2019-01-02 20:21] veljkoz commented on #521
The error is actually thrown by the backend libraries accepting the token - I then just verified the signature on jwt.io, and it's wrong there as well... since it's working for you I have to assume it's something related to configuration - either on AAD or in the lib... as far as I recall, I checked and public keys are the same for common or for tenant, as well between versions of API. I'll have t

[2019-01-03 12:17] vipswelt commented on #275
@azure/msal-angular npm package is not updated yet, is it in progress or all have ignored this issue... ?

[2019-01-03 15:21] hkusulja commented on #508
So is it , or is it not supported:

[2019-01-03 17:16] ddbardsley commented on #414
@navyasric, we have not heard anything back from you for over 2 weeks. When will your team will fix the BUILD issue and re-distribute the package so that all of us can use this package within IE 11 browser? Please provide all of us with an answer.

[2019-01-04 20:13] navyasric commented on #519
@TPullen21 Are you are using the latest version (0.2.3) of MSAL.js and are setting the flag `storeAuthStateInCookie` as described [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser#update-fix-available-in-msaljs-023)?

[2019-01-04 21:09] navyasric commented on #523
@chesteryang Azure AD returns an access token with scopes for only one resource at a time.
As a result, you cannot pass scopes for multiple resource when acquiring access tokens. The login methods allow you to pass multiple resource scopes for which you can request user's consent and get id tokens. But this does not return the access tokens for multiple resources. You will need to make separate ac

[2019-01-04 21:13] navyasric commented on #521
@veljkoz Please check the jwt from the tokens cached by the library in the browser storage. If this is a config issue on your end, please let us know if this issue can be closed.

[2019-01-06 09:03] Gtyrande opened #526 "acquireTokenSilent cause page refresh"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Center Browser version 3.7.2.33 (Chromium 70.0.3538.110)
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX

[2019-01-06 14:43] dwatty commented on #519
I'm seeing this invalid state behavior on 0.2.3 in the latest version of Chrome as well.

Sometimes it's accompanied by a /null in the address and sometimes it's not.  But in both cases, the console shows an invalid state error.

[2019-01-06 15:06] dwatty opened #527 "Lots of old "msal." entires in local storage"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [X] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [X] Chrome version  71.0.3578.98
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version
L

[2019-01-07 18:14] navyasric commented on #275
@onovotny @SimeonBanev @zamzowd @vipswelt We release the feature to remove the default prompt=select_account in [MSAL.js v0.2.4](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v0.2.4). Please give it a try and check your scenarios.
You can find more details in this [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Prompt-behavior) topic

[2019-01-07 18:14] #275 closed

[2019-01-08 05:41] jkga opened #528 "es6 import documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-01-08 19:30] visualjeff commented on #528
This works for me...

`import * as Msal from 'msal';`

[2019-01-08 19:48] rajarameshvarma opened #530 "Public API for access token"
## I'm submitting a...
[X ] Feature request
[X ] Documentation issue or request

## Browser: All
## Library version: 0.2.4

Is there a public API to obtain access token from cache? as of now, we are adding access token to session storage after obtaining this via acquireTokenSilent. However this token is already added to the session storage by MSAL.

is there a way to read the access token from cac

[2019-01-08 20:42] DeanB2015 commented on #414
@acarrau if you're getting that error, follow my instructions above and do the following:

1. `npm run build`.  it will create a `dist` folder with the following: msal-angular.js, msal-angular.js.map, msal-angular.min.js, msal-angular.min.js.map.
2. Copy the files to your applications `node_modules\@azure\msal-angular\dist`.
3. npm start to test your application.  The error should go away.

[2019-01-09 05:32] Tush2890 commented on #414
This workaround worked but we cannot use this solution for production. We need to have something concrete coming from the msal-angular library itself.

[2019-01-09 09:05] chigivigi commented on #508
I used acquireTokenSilent to get CRM access token but when I make a request with it I got the response Error 401.
I changed my consent scopes by only passing the resource app id for Dynamics CRM permission from my portal azure registered app, Guid + user_impersonation, and removed CRM from protected resource map. Also I passed to acquireTokenSilent guid + user_impersonation, same as in consent sco

[2019-01-09 09:38] NaceurBouhamed opened #531 "uglifyjs unexpected token name (MsalGuard)"
Hi everyone,
I'm having an issue while trying to build using --prod with msal-angular@0.1.1 and **Angular 4** .
I tried along both :
- 0.1.0 : fails using --aot flag
- 0.1.2 : fails while serving ( metadata version mismatch which is the reason I downgraded to 0.1.1 in first place )

The error output while building is as following :
`uglifyjs unexpected token name (MsalGuard)`
I tried upgrading the

[2019-01-09 14:55] chetanku commented on #409
@navyasric The issue I was facing is, even if the user is active for an hour, and I am calling acquiretokensilent method to renew, msal logged him out. I will try again and let you know if I am still facing the issue.

[2019-01-10 09:38] hansmaad opened #532 "msal-angular - Support redirectUrl to be a function"
## I'm submitting a...
<pre><code>
[x] Feature request
</code></pre>

msal-core allows `redirectUrl` to be a function:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ac32c459c7398be02fe3f50afbd7d38e19d8ef0e/lib/msal-core/src/UserAgentApplication.ts#L231

But msal-angular not:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ac32c459c7398be02fe3f50afb

[2019-01-10 11:12] veljkoz commented on #521
At least I can confirm it's not a library issue since the adal also produces invalid signatures for other configurations... I still haven't figured out what's the origin, but in any case this issue is unrelated to msal.
Thanks! Closing...

[2019-01-10 11:12] #521 closed

[2019-01-10 15:35] chriseenberg commented on #508
@chigivigi  Did you remember to add the allowed token audiences for the client app registration?

[2019-01-11 06:46] RevathiAnand commented on #498
I'm trying to integrate MSAL with angular application. I'm using angular-cli template.

I have a requirement to show the login screen NOT as pop and need to retrieve access token as soon as the id token is retrieved.

The app that uses the new AAD v2 endpoint and MSAL to obtain tokens for both a WebAPI (using the same ClientID as the Angular app itself).

The loginRedirect is looping back again an

[2019-01-11 17:04] ay0r commented on #498
The below try catch block in the **acquireTokenSilent.catch** fixed my issue. It seems that when there is a valid idToken in the Url and we do nothing ..the acquireTokenSilent.then success block is triggered.  Don't have a more technical explanation why this works, but nothing else removed the redirect loops.

`userAgentApplication
  .acquireTokenSilent(b2cScopes)
  .then(token => {
    //AcquireT

[2019-01-11 17:41] pkanher617 commented on #498
Apologies for the delay on this. @maxburke why have you set the token redirect callback to null in the application config?

For anyone receiving this issue in the loginPopup methods: can you please post some code or pseudocode of how you are calling login, acquireToken and getUser?

[2019-01-11 18:30] BatmanAMA commented on #99
@ajtowf - do you have a working sample? I'm beating my head against the wall and can't find any examples out there that work in .net core 2.x for using openid against ADFS

[2019-01-11 23:49] pkanher617 commented on #528
@jkga I have added this documentation here. Please let me know if I should add anything more.

https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics

[2019-01-11 23:49] #528 closed

[2019-01-12 01:11] tmszyman commented on #498
@pkanher617 I recommend check msal.js in case of logging (method loginRedirect) after loading the page, not after clicking the button. Please check my code in the first message.

[2019-01-12 08:01] jkga commented on #528
Thank you @pkanher617

[2019-01-14 02:03] Ralms commented on #526
I'm having the same issue.
Using Angular, I've noticed that all classes gets re-instantiated when I request a token silently.

Is this reload really required?

[2019-01-14 17:17] ritmos opened #534 "msal acquireTokenSilent produces Cookie length should be less than or equal to 4096 characters"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2019-01-14 19:47] bwronin commented on #414
@Tush2890 you could always do this:

1. Add the "msal" package to your package.json file.
2. Add the angular wrapper files to your project in its own folder. [(Angular Classes for MSAL)](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/src)
3. Fix the errors that are due to newer versions of rxjs and Angular.

You can then use it like normal and when a f

[2019-01-14 22:17] maurei commented on #392
@ccaymaz this is on my todo list, will get back at this as soon as I have figured it out.

[2019-01-14 23:09] ccaymaz commented on #392
Thank you @maurei for your reply. Looking forward  to migrate my application to msal-angular.

[2019-01-15 00:20] navyasric commented on #534
@ritmos What is the reason for instantiating the UserAgentApplication twice? In MSAL.js the UserAgentApplication object represents a single authentication context and should be instantiated once.

[2019-01-15 00:31] navyasric commented on #519
@dwatty We are not able to repro this issue. Can you please share any repro steps or your code snippet?
Also, please try the latest version 0.2.4 to see if it resolved it.

[2019-01-15 00:33] jkga commented on #534
@navyasric I also encountered this error. The reason why he needs to initialize it twice is because the popup doesn't close automatically after authentication. Setting a longer timeout also doesn't help.

see #174

[2019-01-15 00:43] maurei commented on #392
(im not part of MSAL team, so it will probably be an ugly work around :) )

[2019-01-15 00:54] navyasric commented on #530
@rajarameshvarma As you mentioned, MSAL.js caches the access token in the browser storage. Can you explain what is the reason or scenario in which you need to read the access token? As a client getting access tokens, you should only be using it to access an API or resource and the access token should be opaque to you.

[2019-01-15 05:02] Dedme commented on #479
Just wantted to add that as soon as you turn on AOT my solution fails. :(

[2019-01-15 13:33] vogloblinsky commented on #481
@acarrau Where do you store your configuratino after the XHR, and how do you pass it to the module ?
Thanks

[2019-01-15 14:09] acarrau commented on #481
@vogloblinsky In the end I didn't go with this approach and decided to go back to ADAL because of other issues with IE11. I had done it like this:

[code]

MY_CONFIGURATION would be a custom injection token. If I would have to do it I think I would use the plain msal library and create my custom Angular components like HttpInterceptor, AuthorizationService, Guards, etc. This way I could avoid havi

[2019-01-16 05:18] vramasam commented on #526
We are calling acquireTokenSilently to get the access Token (To extend the token).

But it causes all classes in the angular gets initiated. Because of that it loses the immemory contents and the UI contents.

Our requirement , we are adding all the REST API request in queue. When we get unauthorised we have to get the token silently and make the pending queue api success.

But because of entire A

[2019-01-16 07:30] sameerag commented on #526
@vramasam we started investigating this issue. Will update as soon as we find the rootcause for the above behavior stated.

[2019-01-16 12:48] Gtyrande opened #535 "tokenReceivedCallback not be called after loginRedirect()"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Center Browser version 3.7.2.33 (Chromium 70.0.3538.110)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX

[2019-01-16 14:17] taivu commented on #481
@vogloblinsky heres whats in my main.ts file:

[code]

im storing my config in an app config module, which i provide to by a custom injection token.

@acarrau what kind of ie11 issues were you having? Its working for me fine in ie. just curious if theres an edge case that i dont know about in ie.

[2019-01-16 14:57] acarrau commented on #481
I was having this issue:  [https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414 )

[2019-01-16 15:59] chigivigi commented on #508
I looked at at the allowed token audiences for the client app registration but I am testing my application locally. If it helps I gave all the necessary permissions in my app registration.

[2019-01-16 18:45] baltuonis commented on #347
So this was not actually fixed was it?
We use 0.2.3 and we still sometimes get "invalid_state" with state=null in latest Firefox

[2019-01-16 19:33] baltuonis commented on #347
Yeah but we can still reproduce the issue

[2019-01-16 21:39] bwronin commented on #414
@vramasam

I'm not a part of the development team for this project, or a contributor.  I needed to use this library and ran into this IE11 issue months ago and have been waiting for a fix.  Unfortunately, my project timeline has come to a point where I needed a solution and a fix hadn't been released yet.  My steps above solved my issue, but my configuration and yours may be different so you may n

[2019-01-17 00:58] navyasric commented on #454
@adamtay Please try the latest msal.js v0.2.4 to see if it resolves the issue with being signed out.
For the redirect to the starting page (in this case /sign-up), MSAL.js has a configuration option `navigateToLoginRequestUrl` which is set to true by default. Setting it to false gives the ability to turn off default navigation to start page after login. Please try and let us know if this is resolv

[2019-01-17 01:00] navyasric commented on #454
The issue with signing out between policies is related to #440

[2019-01-17 01:22] navyasric commented on #349
For IE, Edge this seems like the issue related to security zones on the browser. Please try the latest MSAL.js v0.2.4 and set the flag storeAuthStateInCookie as described here: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser#issues

Please note that MSAL.js relies on the cookies being set in the browser for silent token requests. If the b

[2019-01-17 01:34] navyasric commented on #342
This issue seems similar to #352.
@kyma   Since the intermediary screen is rendered by Facebook, it does not seem an issue related to library. Please let us know if this issue is resolved for you.

[2019-01-17 01:46] Josh015 commented on #414
The part that's super frustrating about the syntax error in IE11 is that it's all because their package.json "build:modules" command targets es6 rather than es2015. If they changed less than a single line of code it would solve the problem, and save us the trouble of having to copy the code into our projects.

FYI, I strongly recommend [path mapping](https://decembersoft.com/posts/say-goodbye-to-r

[2019-01-17 13:13] Gtyrande commented on #535
@sameerag Can you help me with this problem?

[2019-01-17 16:41] rajarameshvarma commented on #530
We are getting access token during user login process. We would want to use this token if the user comes back to the app (before the id_token or access_token expires, assuming we are not using session storage). Though MSAL.js caches the access token, I have no way to get it. For this reason, I am adding it to the storage.

[2019-01-17 17:33] SlashmanX opened #536 "dova"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-01-17 17:33] #536 closed

[2019-01-18 00:04] sameerag commented on #535
Hi @Gtyrande. Sure. We are debugging a similar issue #498. Will update once we have some progress.

[2019-01-18 01:37] sameerag commented on #526
So here is how MSAL JS is designed:
All our responses are HTTP 302 - both silent and interactive, which implies there is a reload. But we do all the heavy lifting in a separate window to process the response and leave the original window as is. For a popup this is handled in a popup window, for silent we handle it in an iFrame.

To avoid a reload for the main window, please follow the instructions

[2019-01-18 01:39] sameerag commented on #526
@Gtyrande we do not have a wrapper for Vue and since Vue works differently, can you please share MSAL logs and the Auth Code snippets, particularly the initialization of UserAgentApplication instance. Also please check the above comment if it helps your case.

[2019-01-18 01:51] Ralms commented on #526
Hi @sameerag,

Doing acquireTokenPopup doesn't cause a reload, only the acquireTokenSilent is.
I'm having a hard time understanding why you can't block the HTTP 302 while doing it silently.

[2019-01-18 05:59] vramasam commented on #414
@Microsoft team
We Observe the same issue in Safari 9 and also in Opera mini browsers.

[2019-01-18 09:46] inandi opened #537 "Not getting user profile data."
i have tried the demo project, after some change its logged in but when i click user profile tab, i am getting blank data.

page link http://localhost:4200/#/userProfile

and also i am getting this console error

[code]

since i am new to azzureAD. so may be i am mistaking something stupid.

[2019-01-18 19:20] sameerag commented on #526
@Ralms acquireTokenSilent() should not cause page reload as we handle it in a hidden iFrame. Can you please share your code snippet that is relevant to reproduce this issue? Detailed steps for reproduction and any stack trace you may have had will be helpful.

We are interested in the code sample that initializes UserAgentApplication() and the acquireTokenSilent() call and the point of refresh in

[2019-01-18 20:01] sameerag commented on #526
@Ralms In our Angular sample, we have code that helps avoid the refresh when acquireTokenSilent() is called.

//  This is to avoid reload during acquireTokenSilent() because of hidden iframe
this.isIframe = window !== window.parent && !window.opener;

Please check the below files for a general idea on how to avoid reloads in Angular:
1) https://github.com/AzureAD/microsoft-authentication-library-f

[2019-01-18 21:32] zamzowd commented on #275
@navyasric Thanks for the update.  I've been re-engaged on this task, so will be following up here.

The 0.2.4 library, while a step in the right direction, still does not satisfy my use case.  I'd like to use `acquireTokenSilent([clientId])` on page load to determine if the user has already been authenticated through another application.  To be considered Single Sign On, user authentication shoul

[2019-01-18 21:40] Ralms commented on #526
@sameerag I feel so dumb right now lol

I started with the sample like 1 month ago, than move a lot of the authentication and token related stuff to a service file, with the variable isIframe that I didn't spend the time understanding what was for.

I've added this back to the router outlet and the check in the app.component.ts constructor and seems to stop the reloading to components pushed by th

[2019-01-18 22:22] Ralms commented on #526
@sameerag Ok, I ran some tests and although the router content wont reload, the rest of the files are still reloading, this includes the app.module.ts causing services to get instantiated again.

The log in the console when I call for the token silently is the following:
( I've removed the ClientID and some info end the end of the Navigate Url log)
`
app.module.ts:27 [MSAL] Fri, 18 Jan 2019 22:13:

[2019-01-19 12:48] abhisheksoni27 commented on #527
We are using this library in an internal project (soon to be publicly released) and would appreciate if this issue is resolved.

I'd be happy to help out, if needed.

[2019-01-19 13:29] abhisheksoni27 opened #538 "What exactly to do with accessToken if only user info is needed?"
## I'm submitting a...

<pre><code>
[x] Other... Please describe: Discussion / Help
</code></pre>

We are building an internal application at my orgnaization and we want to be able to allow our employees to use their OFFICE 365 credentials to log in to the app.

So, basically, we do not need to access their Mail or Calendar. We just need to get a basic profile info (name, profile image, etc.) and

[2019-01-19 14:38] tmarkovski commented on #59
But "b2cScopes" shouldn't be set to clientID. Nowhere in the documentation is this pointed. I ran into the same issue and oddly it worked when I set the b2cScopes to clientId.
The problem only happened when I used Facebook authentication and not username/password.

[2019-01-20 03:11] Gtyrande commented on #526
@sameerag Hi, I'm sorry for reply to you so late.
Our auth code is following:

[code]
I'm going to do some test with your comment, will feedback as soon as i get some new result.

[2019-01-21 09:45] jsomdev commented on #494
Experiencing the same issues... Any reactions possible?

[2019-01-21 11:39] vramasam commented on #526
@sameerag

We have already added the iframe reload part in the code.

But the problem was not reloading of UI elements. But it's recreating Angular services(singleton classes). So it looses all the data hold by angular services(singleton classes).

[2019-01-21 12:30] Weschk opened #539 "Routes without Router guard are pushed to unprotectedResources"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-01-21 16:40] midgethoen opened #540 "tokenReceivedCallBack called before constructor returns"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe: api enhancement
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

[2019-01-21 16:51] midgethoen commented on #540
after submitting this issue  i asked myself; why it take me so long to figure this out 🤔

turns out the callback also swallows errors

[2019-01-21 18:35] dstroot commented on #510
I am a react developer - I am totally confused by the fact there is a MSAL and ADAL library, plus several posts I have seen on the web for react advocate using ADAL-angular.  I would recommend one core library and Angular, React wrappers.  First class react support is lacking - even better docs would be a start.  I have been able to get "login" and "logout" functionality working with both MSAL and

[2019-01-22 01:00] AhmedAnwarHafez commented on #504
I'm also having the same exact issue. I used this code sample [here](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/index.html) in Edge and Chrome. `loginPopup` works with `login_hint` but `acquireTokenSilent` doesn't execute or even fail when called.

[2019-01-22 03:32] visualjeff commented on #537
I have a simple HTML5 component you can test on an HTML page. It includes two HTML buttons... One for authentication and another for retrieving the user profile via the MS Graph API.   Take a peak.  Maybe it will help...

[https://github.com/visualjeff/msal-login-webcomponent](https://github.com/visualjeff/msal-login-webcomponent)

[2019-01-22 04:03] abhisheksoni27 commented on #538
Thanks, @visualjeff. I ended up using a similar approach where I sent the access token back to my backend server and queried the MS Graph API from there.

Nice component there, by the way. Thanks! 👍

[2019-01-22 04:03] #538 closed

[2019-01-22 09:03] ajbeaven commented on #511
I'm getting the same error message when using the same structure for the scope (`{clientId}/user.read`). The only difference is this is occurring on chrome for desktop as well as other browsers. Some users report that it works on Edge, but it doesn't work for me.

The issue seems to occur intermittently. After initially setting this up, the login popup would appear as it should have and a correct

[2019-01-22 14:05] zamzowd commented on #540
If it didn't check the hash and fire the callback in the constructor, wouldn't it need an "init" function that devs have to call after the constructor?  That seems like a less desirable implementation.

Turns out, you can access the UserAgentApplication with `this` inside of the callback.  For your example, you can have:
[code]

[2019-01-22 14:11] zamzowd commented on #540
Regarding swallowed errors, it puts them into the logger provided in the UserAgentApplication constructor.  It's not a pattern I'm too fond of, but I think the idea is to avoid writing to console for production applications.  For development, you can just provide a logger that writes to console.

[2019-01-22 15:21] Weschk commented on #539
@visualjeff It is not using the common endpoint, its targeting our instance of Azure B2C https://login.microsoftonline.com/tfp/xyz.onmicrosoft.com/B2C_1A_yyyxxxzzz/v2

Found a easy workaround for this issue and its to simply create a Guard that returns true directly and assign it to any route that you want anon access.

[code]
and then use it in the route configuration like
[code]
This prevents th

[2019-01-22 19:39] AhmedAnwarHafez commented on #222
Any updates on this issue?
This issue is currently hindering us from continuing working on a project which depends on msal running in an iframe.

Are there any plans supporting iframes in the future? Are there other alternatives?

[2019-01-22 21:38] omerl13 commented on #510
I am working with @maordadush
We opened the issue after trying to integrate ADAL.js in our React application. We tried using [react-adal](https://github.com/salvoravida/react-adal) wrapper, but since Microsoft is releasing the newer MSAL, and we had to modify react-adal a little to get what we wanted, we thought first class support would be helpful.

[2019-01-23 00:34] Ralms commented on #479
The solution from @Dedme worked great.
Not pretty but solves the issue for now.
Thanks.

[2019-01-23 00:36] Ralms commented on #526
@sameerag Same here, workaround from @Dedme at "[#479 (comment)](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/479#issuecomment-438110088)" worked for me also.
Not pretty but solves the issue for now.

[2019-01-23 00:46] Dedme commented on #526
Hello, Just wanted to note, that i had to unwind my use of the above fix as the AOT compiler does not like it.
the Angular AOT compiler does not handle multiple entry root modules, and as such will not compile the MSAL Module.

i really think the library needs to come with a standalone html+js page which handles that silent iframe.
this page either needs to be added outside the IIS settings as to

[2019-01-23 01:05] Ralms commented on #526
@Dedme are you getting a warning during compilation like this?
`WARNING in Lazy routes discovery is not enabled. Because there is neither an entryModule nor a statically analyzable bootstrap code in the main file.`

Doing "Ng Serve" was working, then I tried to deploy it to my static website host and gives the error on the browser console:
`Uncaught Error: No NgModule metadata found for 'function(

[2019-01-23 01:18] Dedme commented on #526
@Ralms yes i was, this is directly the outcome of my most recent comments issue.

its going to come down to a choice, if you disable AOT in your build config it will continue to work.
but is not running AOT going to impact your performance too much? if not just disable it in the angular.json under the build step.

[code]
if your did an "ng s --aot" (running serve with AOT turned on, it will fail a

[2019-01-23 01:36] navyasric commented on #494
@subhendu-de, @jsomdev Can you please give details of which type of user account(MSA, twitter, etc) are your trying to authenticate in the B2C tenant when you see this issue?

[2019-01-23 02:49] MaximBalaganskiy opened #545 "loginPopup promise is never resolved"
## I'm submitting a...
<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versio

[2019-01-23 04:49] vramasam commented on #526
This work around avoids the lazy loading problem.
Instead of using the code in main.ts.

Try using it in AppModule.ts, Load only MsalComponent. It work for us.
export class AppModule {
  constructor(private router: Router) {
  }
  ngDoBootstrap(ref: ApplicationRef) {
    if(window !== window.parent && !window.opener) {
        ref.bootstrap(MsalComponent);
     } else {
     //this.router.resetCon

[2019-01-23 05:52] Dedme commented on #526
@vramasam  does this stop all the services loading from 'root'? or does all the services/providers still load within the iframe?

[2019-01-23 15:09] zamzowd commented on #545
Don't set the option `isAngular: true` unless you're using the `msal-angular` package.  That repository is not an Angular application, just plain javascript without a framework.

Setting `isAngular` to `true` makes the library expect that the hash from the page reload will be handled outside of the msal library.  The `msal-angular` package handles it in `msal.service.ts`.

[2019-01-23 19:51] MaximBalaganskiy commented on #545
Not setting this option makes the popup redirect to the redirectUrl and
Promise is not resolved as well.

On Thu., 24 Jan. 2019, 2:09 am Dean M Zamzow <notifications@github.com
wrote:

[2019-01-23 20:16] Ralms commented on #526
Hi all,
Just replaced @Dedme with the proposed solution by @vramasam which worked in my project after some tweaks.

In my app.module.ts I had to replace the property of NgModule
`bootstrap: [AppComponent]`
to
`entryComponents: [ AppComponent, MsalComponent ]`

App module gets initialized twice, but everything else isn't.

This is my app.module.ts
[code]
And MsalComponent is a dummy one as @Dedme d

[2019-01-23 21:39] ajbeaven commented on #511
I believe #488 may also be relevant to this issue.

[2019-01-23 23:06] Dedme commented on #526
Together, with our powers combined....

great work, i have also adopted the new method.

after some testing i will updated my original issue too

[2019-01-24 03:52] vramasam commented on #526
Hi @Dedme & @Ralms  I think some how we found the workaround for this issue.

It will be great helpful if any working production workaround for this issue also : https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/414. Please let me know how its handled in your projects

[2019-01-24 10:36] lokkwanfoo opened #546 "SCP required"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 71.0.3578.98
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Lib

[2019-01-24 21:58] navyasric commented on #363
Closing this issue due to lack of activity.

[2019-01-24 21:58] #363 closed

[2019-01-24 22:48] sameerag commented on #526
@Ralms @Dedme Would one of you be interested to provide a PR for the final solution that seems to work. If this PR mitigates the refresh issues for the community we are open to take it in our dev branch.

[2019-01-24 23:09] navyasric commented on #271
@narindermakin  The library is designed to be used in JS applications in the web browser.
The following Microsoft libraries support development in mobile applications: MSAL Android, MSAL iOS and MSAL.net for Xamarin apps.

We do not have plans to support Cordova or Ionic mobile frameworks using MSAL.js. Closing this issue.

[2019-01-24 23:09] #271 closed

[2019-01-24 23:15] navyasric commented on #357
MSAL.js is designed to handle authentication using OpenID Connect flows in JS web applications. It does not support the code flow required by native applications.
@willwull Closing this issue as the approach mentioned in above comment maybe more suitable for your scenario and it is not related to MSAL.js.

[2019-01-24 23:15] #357 closed

[2019-01-24 23:53] Ralms commented on #526
I'm simply not supporting any version of Internet Explorer, version 11 is 5 years old already.

[2019-01-25 00:19] Dedme commented on #526
@sameerag, i dont know how much of this can be PR'ed?
it might be more of a documentation, or part of a seed/sample application, but this doesn't change the package, just how its implemented... at least for this moment.
its as simple as - create dummy component, update appModule Bootstrap process.

I still don't think this is a 100% fix as it does bootstrap all of angular still

[2019-01-25 00:40] sameerag commented on #526
Sure @Dedme.  Thanks for the detail.
 @navyasric can we please follow up on documenting this to unblock folks using Angular for now?

[2019-01-25 01:21] narindermakin commented on #271
Thank you for your response. However, the MSAL support across is not ready for primetime and creates a bigger issue in the adoption of Azure AD B2C at this time.

[2019-01-25 18:23] navyasric commented on #486
@meseras  Thanks for the update here.
As documented in the [known issues wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser#update-fix-available-in-msaljs-023) the storeAuthStateInCookie flag resolves this issue only for login redirect flows in IE.
Since you are using loginPopup flow, adding to trusted sites is the only workaround avai

[2019-01-25 18:23] #486 closed

[2019-01-25 20:11] pkanher617 commented on #414
@vramasam I have tried the dev branch and it seems to work in IE. Please try the following:

1. Clone or download the dev branch, run npm install and build
2. Run npm pack, and extract the files somewhere on your machine
3. Replace the files in node_modules/@azure/msal-angular with the contents of the tar file from "npm pack"
4. Copy the files from lib-es6 to the dist folder
5. Try running your ap

[2019-01-28 06:39] vramasam commented on #414
@pkanher617  We tested with IE by following the above steps. Syntax error is not coming. Can you please make this fix and release it.

[2019-01-28 07:43] midgethoen commented on #540
Thanks for your insight, Dean.

I was thinking the callback could be called the next tick or something. although, I might be overlooking something.

Anyway. I'm sure there's good reasons for all design decisions. I just wanted to report my initial experience could have been better.  Maybe extending the examples a bit could go a long way.

Ill close this now as I don't want to be nitpicking any mor

[2019-01-28 07:43] #540 closed

[2019-01-28 11:10] abishekreddy opened #547 "AADSTS50196: The server terminated an operation because it encountered a loop while processing a request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-01-29 00:28] #545 closed, assigned to nobody

[2019-01-29 01:40] navyasric commented on #508
@chigivigi If the API is returning 401, is there a more detailed error message? Please let us know if this is resolved for you.

[2019-01-29 02:10] navyasric commented on #476
@Dedme We have had some context loss on this issue.
Can you explain the scenario where you would need the AuthenticationRequired flag on the protectedResourceMap for the interceptor?
The MSAL library expects to have an authenticated user context before being able to get tokens for API access. The idea is to not provide protected data access to unauthenticated users. Hence, we expect the endpoints

[2019-01-29 03:54] Dedme commented on #476
@navyasric
My use case is that i have an API endpoint which is not authenticated by default, as there is public data that is available which is nearly identical to the authenticated data.

My API does an authentication check as part of its business logic, which then either filters, or not, the data returned from the Data Layer.

I make the same web call when i am authenticated to when i am not, be

[2019-01-29 05:17] MaximBalaganskiy commented on #349
Just setting `storeAuthStateInCookie ` is not enough. @emilverwoerd 's suggestion works though.

[2019-01-29 12:48] emilverwoerd commented on #349
The problem is that in IE the site Localhost also is in the 'Local Intranet zone' The solution is that both sites  the site that is implementing the MSAL library and the B2C are in the some 'Zone' since there is no cookie sharing between the different zones. That is specific for IE

[2019-01-29 18:31] dstroot commented on #510
For anyone who is interested in a React SPA example I created a reference app:

https://github.com/dstroot/react-msal-authentication/blob/master/src/components/AuthContext/index.js

[2019-01-29 20:31] MaximBalaganskiy commented on #349
So, production won't be affected, right?

[2019-01-30 08:22] blindfish3 opened #548 "state does not match the value I put in"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: unexpected behaviour
</code></pre>

## Browser:
n/a

## Library version
0.2.4

## Current behavior
The state parameter I pass in to `msal.UserAgentApplication(

[2019-01-30 09:15] blindfish3 commented on #548
I'm just going to add that the [documentation for state](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics#configuration-options) could be improved to reflect the purpose of this field: i.e. that - if properly formed - it can "[prevent cross-site request forgery attacks](https://tools.ietf.org/html/rfc6819#section-3.6)" *and* can also be used to provide additional

[2019-01-30 10:04] simonneedham commented on #435
I too would like to hear what the timeline is for resolving this issue.

When a developer starts investigating & learning about Azure AD B2C they're encouraged to set everything up with the b2clogin.com domain and use  MSAL.js library for JavaScript based apps. It's kind of a crazy situation that MSAL still isn't supporting the b2clogin.com domain.

[2019-01-30 21:22] navyasric commented on #392
This issue is related to #421

[2019-01-31 00:08] Davilink commented on #264
Ok, i use the code found in decode-jwt on the jwt.ms and find the solution, but i just don't know how do a PR, if someone could help me or do it for me, here the solution:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/355dc1fb78651bece7806476879f9955f2cc61e0/src/Utils.ts#L95

need to be change for
[code]
Before the fix:
![image](https://user-images.githubusercontent.com/

[2019-01-31 08:03] vramasam commented on #414
@pkanher617  Above solution is giving error when we give production build. (ng serve --prod).
Error Details:
**ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'MsalModule' was called.**

[2019-01-31 12:12] MarcusPenn commented on #347
This issue is not fixed, using version 0.2.4 I can occasionally get IE10 to authenticate but am completely unable to get Edge to authenticate.

[2019-01-31 16:33] StewSchrieff commented on #440
Has any progress been made on this front? Or does anyone know of a workaround that can be accomplished by modifying MSAL code? I've got an application that needs to support three policies, much like @yakimko

[2019-01-31 23:33] navyasric commented on #414
@vramasam Thank you for trying it out and providing the feedback. The msal-angular files cannot be referenced from the dev branch in a production environment.

[2019-01-31 23:37] navyasric commented on #414
Apologies for the delay in response to this thread. Based on discussion in the team, we recognize that the issues and feedback for preview version of Angular wrapper require further investigation and work. We are currently focused on addressing changes and improvements to the core MSAL.js library based on feedback.
Following this, we will target a release to address the Angular wrapper issues and

[2019-01-31 23:44] #392 closed

[2019-01-31 23:48] navyasric commented on #479
Closing this as duplicate. Please track #526.

[2019-01-31 23:48] #479 closed

[2019-02-01 01:14] navyasric commented on #476
@Dedme Thank you for the detailed explanation of the scenario. Your point about bypassing interceptor when there is no authenticated user context is valid. However, considering that protectedResourceMap intends to take only endpoints that require authentication, another flag for it seems conflicting. We will consider this scenario and discuss in our team. Thanks.

[2019-02-01 03:40] Dedme commented on #476
@navyasric, to me the next place i would think for it is another array like the unprotectedResources list, but with an Optional or Dynamic type name. or even a flag on the excluded list.

optionalResources, dynamicResources, conditialResources, or something

[2019-02-01 08:46] Marco-Mauri commented on #479
IMO this is not a duplicate of #526.

The problem reported in this bug causes an entire copy of the Angular application to be loaded in an hidden iframe, the main app work correctly.

This **"only"** causes extreme memory consumption and sluggines when refreshing the tokens.

[2019-02-01 11:00] blindfish3 commented on #174
Wish I'd found this a few days ago: now the incomprehensible and undocumented behaviour is explained.
+1 to at least document this.

[2019-02-01 11:39] chigivigi commented on #508
There is no error message. I don't get any response back.

[2019-02-01 13:12] Ralms commented on #479
Hi @Marco-Mauri , I believe we are all talking about the same thing here, however focusing on different scenarios.

In issue #526, @vramasam and @Dedme work around is to bootstrap Angular to load only a basic empty component instead of the main app component, which on my case for example is good enough since it won't create new instances of singleton services and other components.

Although what I

[2019-02-01 22:33] KishanRathod commented on #400
I am having similar issues.
I tried to use graph api to access SharePoint Online in my Xamarin app then I found out that you cannot use Azure AD guest accounts ([Only Work and School accounts](https://docs.microsoft.com/en-us/graph/permissions-reference)). I decided to switch to SharePoint Api but I cannot get the correct scopes for SharePoint permissions. I tried **AllSites.Write** and https://`<

[2019-02-04 01:19] Dedme commented on #526
@navyasric i think the ultimate solution, if you are looking into a revamp of the angular component is to not use the angular app as the reroute address. i think a small html/js file which does what the service does now for checking the iframe, and passing back to the parent would solve a lot of the bloating/double loading.

i dont currently know how you might get a page from the MSAL package into

[2019-02-04 17:39] Davilink opened #552 "Glob pattern URL matching for unprocted ressource"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>
## Library version

<pre><code>
Library version: 0.2.4

## Current behavior
Glob url matching isn't supported

## Expected behavior
Support glob

[2019-02-04 21:51] super2ni commented on #504
Hey @Francis-B,

I am developping an Outlook Add-in and ran the same problems as you using the Msal.js library. I just wanted to share with you what I did:

- Gave up using Msal.js

- Migrating my authentication to [authentication-migration-to-office-js-helpers](url)

This library is really interesting because it uses Office Add-In API and handles the popup so much better. Moreover, with just one

[2019-02-05 06:06] SushanthYethonda commented on #238
Hi @rohitnarula7176 ,

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/238#issuecomment-365453972

i followed this and  i have not given redirectUri property value
[code]
acquireTokenSilent it is loading whole page instead where it is called like $scope.CheckTokenExist, is it possible to redirect previous function only where it is called.

[2019-02-05 06:50] loganfromlogan commented on #435
Looking for a resolution on this as well.

[2019-02-05 11:04] c-eliasson commented on #498
Since we are also seeing this redirect loop issue for one of our users, I'm filling in with the information we've been able to gather, to hopefully aid the debugging.

We've not been able to reproduce this issue our self's on any of our computers or phones. One of our customers however have this issue frequently.

**Setup**
We are running MSAL 0.2.3 against Azure AD B2C with a custom sign-in polic

[2019-02-05 11:23] Hu-Eb opened #553 "Issue on multiple tabs on a browser"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [72 ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-02-05 17:08] Hu-Eb commented on #553
@sameerag This bug is related to MSAL which we are using to connect to our azure active directory.

I referred to the similar bug in ADAL (which is solved a year ago) to better solve the issue, also user experience towards Azure Active Directory should be the same in both and we simply want to use the latest features of active directory.

[2019-02-06 20:49] Sikta commented on #435
Just to be clear, you can use the MSAL.js library with the b2clogin.com domain. You need to set the validateAuthority property on the client to false in order to do so.

[code]

[2019-02-06 21:35] josephd9 opened #554 "How to use renewToken?"
We have run into an issue with token renewal. Our application checks every 15 minutes if the token is fresh and if not performs a silent acquire. This trouble is if the token expires and the window for renewal hasn't arrived then request with the expired token fails. I'm trying to implement the clientApplication.renewToken every 45 minutes instead and just force a refresh before expiration but I h

[2019-02-06 23:51] nathanrobinson commented on #214
I just had this issue a year later and tweaking those values and saving the policy fixed it for me.

[2019-02-07 02:36] roalonso opened #555 "Support for response_type=code"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.2.4
</code></pre>

## Current behavior
I find no way to pass the parameter described in
https

[2019-02-07 04:21] russellr86 commented on #534
@navyasric, I have this error as well.  In my case it is being instantiated twice seemingly by the order of operations resulting from `acquireTokenSilent`

The order in my network tab in chrome debugger goes something like this:

1. GET localhost - 200
2. GET localhost resources (js, css) - 200
3. Javascript is executed, singleton of MSAL is instantiated.
4. `acquireTokenSilent` called
5. GET http

[2019-02-07 16:19] russellr86 commented on #174
instantiating `UserAgentApplication` twice results in the cookie length issue:

#534

[2019-02-07 19:15] sameerag commented on #555
@roalonso MSAL JS being implicit flow support only, does not support the developer to set response_type as per design. All login requests are by default of response_type=id_token and the acquireToken calls set them as per the context, cookie status, login_hint etc.

Can you also let us know what is the use case you may need this? That may help us get a better insight to determine if our current mo

[2019-02-07 21:08] sameerag commented on #554
@josephd9 renewToken is a private function and you are not supposed to use it. ATS(acquireTokenSilent) within itself takes care of the expired token as long as you have a valid session. There is an internal variable _clockSkew(which we do plan to make public and settable) which has a 300sec expiry setting to call the server 5 min before the token expires. If you want a specific offset you can expe

[2019-02-07 21:11] sameerag commented on #548
@blindfish3 The issue is two fold here:
- I agree with you regarding the documentation and we will fill the gap here. @navyasric to follow up on this.
- When the 'myState' is set by the user, we also need to removed the GUID we add internally and return only 'myState' to the app developer as per the original requirement. We will make those changes  but please expect some delay on this, as we are m

[2019-02-07 21:16] sameerag commented on #547
@abishekreddy Can you please expand more on the specific context you are facing this issue? A minimal reproduction with the relevant code sample (initialization of MSAL library,  login and acquireToken calls etc and anything else) to further understand the issue.

In general, filling the below section in the new issue format is very helpful.

## Minimal reproduction of the problem with instruction

[2019-02-07 21:59] sameerag commented on #546
@lokkwanfoo We support 'scp' when the request contains scopes as per the OAuth Spec: https://tools.ietf.org/id/draft-ietf-oauth-token-exchange-09.html#rfc.section.4.2.

Usual guidance in our sample is that we have two access tokens: One for the user to access the SPA (which may not have scopes) and another to access the resource API (eg. Microsoft Graph). Usually the token associated with the API

[2019-02-08 00:13] andrewkiproff commented on #267
In my Angular/MSAL testing, I have found that this error occurs frequently when users with multiple accounts attempt to login to the application.

[2019-02-08 11:13] NimbleHive opened #557 "Emulate login in debug"
Hi,
IS there an easy way to emulate logging in when running in debug - so that we bypass the actual login and can just specify a token.

Is that easy to do within the library, or can you think of a way its best implemented?

I want to keep using MSAL library when debugging so that it adds the token to API requests, so bypassing completely MSAL wouldn't be ideal.

Thanks for any help,

Andrew

[2019-02-08 12:49] kkwere commented on #433
I am experiencing this issue, but it only occurs in vsts build server when running the tests. However it does work locally. On the build server I get the following error which occurs anywhere msal has been referenced:

`2019-02-08T10:46:15.1920689Z ERROR in src/app/app.component.ts(11,47): error TS2307: Cannot find module '@azure/msal-angular'.`

Any ideas what could be causing this and why it wou

[2019-02-08 18:54] jeffersoneagley commented on #349
+1 We just ran into this too.

[2019-02-08 23:18] navyasric commented on #555
@roalonso Adding to above comment, please not that MSAL.js supports only the [Implicit flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow) for client side browser based JS apps such as SPAs. Therefore, it defaults to the response_type=id_token for login and response_type=token for acquireToken calls.

[2019-02-08 23:29] navyasric commented on #548
@blindfish3 Thank you for the feedback. We have updated the documentation of state and as mentioned above will plan to improve the expected behavior.

[2019-02-08 23:35] #555 closed

[2019-02-09 00:13] roalonso commented on #555
@sameerag I see. Are there any libraries supporting the OAuth 2.0 code grant flow? My use case is that of a backend which obtains the a code from a web page after a user authorizes my app. All processing is done by the backend. The only purpose of the web app (related to the Graph API) is requesting user authorization.

I'm currently generating the URL manually, but I started rewriting everything

[2019-02-09 00:27] navyasric commented on #546
@lokkwanfoo  Please note that scp (scopes) are not returned in id_tokens should be used for authentication and since they are meant to represent a user's authentication, they contain claims about the user's info.
It is a best practice to request access tokens when you need to make authorized call to an API and the API should validate the access token. To get the scp in the token, please request an

[2019-02-09 00:27] #546 closed

[2019-02-09 00:50] navyasric commented on #554
@josephd9 Please note MSAL.js provides the acquireTokenSilent method to renew tokens. Please use this method to renew tokens. The method makes a request to renew the token and can return a valid token if the user session is maintained with Azure AD (read [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#single-sign-on-session-token

[2019-02-09 00:57] navyasric commented on #557
@NimbleHive If you obtain an Azure AD id_token for an authenticated user, you can get the preferred_username claim and pass it as a login_hint in MSAL.js. Then you can skip calling login and just call acquireTokenSilent to get the access token. This is described here: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso#sso-to-an-app-without-msaljs-login

[2019-02-09 01:19] navyasric commented on #349
As previously mentioned, the library relies on cookies for a valid user session to be set in the browser. If the browser drops cookies, the silent token acquisition and renewal will fail. The workarounds related to zones suggested in above comments have been documented in the MSAL.js Wiki. Please follow the [Known issues on IE and Edge](https://github.com/AzureAD/microsoft-authentication-library-f

[2019-02-09 01:19] #349 closed

[2019-02-09 01:31] navyasric commented on #445
Closing this issue due to lack of further info from original poster.

[2019-02-09 01:31] #445 closed

[2019-02-09 07:43] ursmeier-mercatus commented on #349
@navyasric do you know why ADAL does not have the same problem? Maybe MSAL could use the same approach? Thank you.

[2019-02-10 21:17] ajhstn opened #558 "Window is not defined."
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [X] Other... Please describe:

I don't think my issue is either of the above, probably more so my lack of understanding.

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ]

[2019-02-11 01:19] aappddeevv opened #559 "loginPoup does not honor redirectUri in the original tab, popup window shows redirectUri!"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version: 72
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-02-11 07:45] annikahanna commented on #558
I have the same issue with my azure function. Is there a different library which is also supporting non-Single-Page Apps?

[2019-02-11 07:52] blindfish3 commented on #127
I also experienced this issue: the post logout redirect isn't respected after calling logout in a React-based app.  From what I've read elsewhere this could be some kind of timing issue...
It's not an ideal solution; but it appears you can achieve a 'clean' logout by opening a new window and calling logout from there.  The user is left with an extra open window; but at least they've retained a vie

[2019-02-11 08:42] NimbleHive commented on #557
Thanks  @navyasric ! That looks like what I need - let me try that out and let you know.  Sorry for not seeing that - I did have a look but couldn't find the info.

[2019-02-11 19:22] mpalumbo7 opened #560 "Invalid Issuer (iss: sts.windows.net) when acquiring token"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [x] Other... Please describe: Help

## Browser:
- [X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version
Librar

[2019-02-11 19:23] mpalumbo7 commented on #560
FYI - My `Startup.cs` looks like this:

[code]

[2019-02-11 19:52] mpalumbo7 commented on #530
The method `acquireTokenSilent()` retrieves the token from cache for you, if one already exists and has not expired. See the wiki for [acquireTokenSilent](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Public-APIs#acquire-token-apis)

However, the function returns a promise and not the token directly. You'll need to use it like this:

[code]

[2019-02-11 21:05] josephd9 commented on #554
I didn't know that it would refresh the token on its own. I created an iframe that calls acquireTokenSilent every 15 min. Could that be causing this issue? After 1 hour I attempted to use the token even after the acquireTokenSilent had taken place and the token still got rejected as unauthorized until I manually hit refresh on the browser. Does this sound like a defect of the code or something wro

[2019-02-11 22:17] josephd9 commented on #554
It just occurred to me that I'm never reassigning the new token to the ajax headers. lol this is probably the issue. i'll test and report back.

[2019-02-11 22:31] jeffersoneagley commented on #349
Well I'm getting this issue on Chrome, so the Edge/safari workarounds aren't going to be much help.

[2019-02-11 23:14] josephd9 commented on #554
Yup it was my fault! Many thanks!

[2019-02-11 23:14] #554 closed

[2019-02-11 23:22] sameerag commented on #554
@josephd9 Also acquireTokenSilent() is handled in a hidden iframe. So may be you need not create an iframe of your own. Just test it out and see if it works for you.

[2019-02-11 23:22] sameerag commented on #554
@josephd9 Of course unless you need the iframe for other bookkeeping.

[2019-02-12 03:16] josephd9 commented on #554
@sameerag In this instance I feel like I need to use the iframe because we need to use ajaxSetup on the auth header and I don't know how we'd be able to detect when the aquireTokenSilent completed a refresh.

[2019-02-12 06:35] mdwe commented on #558
I have the same issue in NativeScript application - Window context is not available.

`System.err: java.lang.RuntimeException: Unable to create application com.tns.NativeScriptApplication: com.tns.NativeScriptException:

System.err: Error calling module function

System.err: ReferenceError: Window is not defined`

[2019-02-12 11:49] NimbleHive commented on #557
Hi @navyasric just processing this now - not sure if it will work (but that could be my lack of knowledge in this area).  The ID Token only lasts a short period of time - 1 hour or so.

What I want to do is create a Token that expires a long time in the future - say 5 years, and has all the claims for testing in it.  Then have this token passed too all APIs called whilst debugging.
Effectively I d

[2019-02-12 11:57] NimbleHive commented on #557
I wonder if all I need to do is change MsalInterceptor and this line of code:
    var tokenStored = this.auth.getCachedTokenInternal(scopes);
So that it gets the stored token from the config?

Do you see any issues with that, will the app still try and login?  Perhaps I need to change MsalGuard to also ignore trying login if token specified?

[2019-02-12 19:46] verbedr commented on #560
I don't think this is something that the msal library controls. If you check the token you will notice that Azure AD uses the sts.windows.net as the issuer identifier.  So use 'https://sts.windows.net/{tenantid}/' it will expose the same discovery document. Not sure in what scenario you would decouple this. Perhaps in a multi tenant system?

[2019-02-13 00:03] pkanher617 commented on #559
@aappddeevv Can you please add a snippet of how you are calling the loginPopup method and handling the response?

[2019-02-13 00:24] navyasric commented on #530
The above comments should address your issue. Closing this issue.

[2019-02-13 00:24] #530 closed

[2019-02-13 00:27] navyasric commented on #519
Closing this issue due to no new information being provided and unable to reproduce on our end.

[2019-02-13 00:27] #519 closed

[2019-02-13 01:08] navyasric commented on #494
@subhendu-de @jsomdev I noticed you are using msal-angular. Can you let us know if your app is creating nested iframes by the way msal is loading? Please check this [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q5-how-to-avoid-page-reloads-when-acquiring-and-renewing-tokens-silently) topic to see if it helps with x-frame deny issue.

[2019-02-13 01:16] navyasric commented on #267
@andyamacdonald @drocm @aloene @mdressman  To confirm, are you are experiencing the iframe related errors in Angular apps using msal-angular? Can you let us know if your app is creating nested iframes due to the way msal is loading? Please check this [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q5-how-to-avoid-page-reloads-when-acquiring-and-renewing-tokens-si

[2019-02-13 01:27] navyasric commented on #349
@ursmeier-mercatus Which ADAL library are you using and what type of app are you building(angular, node.js, etc)? Is your app a B2C app since the error in the above title is a B2C error and msal.js is used for B2C scenarios. Please describe what is the scenario in which you see the error and provide any repro steps or sample.

@jeffersoneagley Please also describe the scenario, type of app and the

[2019-02-13 09:29] ursmeier-mercatus commented on #349
I am referring to the Safari "issue" documented in https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari

We are using ADAL for the Admin-Users who sign in to their cooperate AD (e.g. company.com).
The End-Users sign in with MSAL into ad ADB2C which is linked to the main AD (company.com).
They share a common database.

The Admin ADAL users can silently renew

[2019-02-13 18:25] DarylThayil commented on #558
Msal is oriented around user login flows and so it is expected to be run in a browser.
We do have an Adal [node lib](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs)

I am new to the team, but from what I understand msal node is on the horizon.  @navyasric  do you have insight into the roadmap?

[2019-02-14 06:29] navyasric commented on #558
As mentioned above by DarylThayil, MSAL.js is designed to be used in client side JavaScript running in a web browser such as in case of single page apps.
For your console application, you may want to take a look at [MSAL .Net](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki#details-on-the-ways-to-acquire-tokens). If your application is built in Node.js, we don't have co

[2019-02-14 06:29] #558 closed

[2019-02-14 06:45] navyasric commented on #557
@NimbleHive MSAL.js provides you the acquireTokenSilent method to renew tokens. If there is a valid cached token, it will return it. Otherwise it will make a silent call to the Identity provider to renew it. Please note that you will be able to renew tokens as long as you have a valid user session with the identity provider.
You can take a look at this article about [token lifetimes](https://docs.

[2019-02-14 06:52] navyasric commented on #560
As mentioned above, the iss claim is set by Azure AD in the tokens and represents the STS issuing the token as described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims).
The library only returns the token received from the Identity provider (Azure AD in this case).

[2019-02-14 16:46] nbangera opened #563 "acquireTokenSilent does not make B2C request when user is not logged in."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version 71.0.3578.98

## Library version

<pre><code>
Library version: 0.2.4

## Current behavior

If user is not logg

[2019-02-14 21:56] aappddeevv commented on #559
[code]
This is called from the url: https://localhost:8080/login here I have a login button. The

When the promise completes successfully in the "then" after getting the access token, I have a redirect that pushes https://localhost:8080 to take me to the home page, https://localhost. I had to add the redirect because the redirectUri when it was the home page, loaded the app in the browser popup.

[2019-02-14 22:01] aappddeevv commented on #559
Is this related to #245?

[2019-02-14 23:36] aappddeevv opened #564 "no way to obtain encoded id token from fresh UserAgentApplication"
There appears to be no API to obtain the encoded id token.

Let's say I refresh the page. My UserAgentApplication is recreated.

I can get the User object fine via app.getUser. But there is no way to get the encoded id token. I see that localStorage has it under the key msal.idtoken, but there is no API for that. This felt like a gap.

Is this intentional to force us to choose our own storage mech

[2019-02-15 00:56] aappddeevv commented on #559
Alright, I'm not sure I'm having this problem anymore. I think there was some bad state on my part but now I'm not seeing this behavior. Let's close it.

[2019-02-15 00:56] #559 closed

[2019-02-15 15:44] JeanRemiDelteil commented on #504
Same issue when authenticating from an Iframe in a JS webapp.
The same code works fine when loaded from the top frame, but not when loaded in a child frame, which is mandatory for me.

Basically the issue seems that acquireTokenSilent() promise never return nor throw.
So the fallback to acquireTokenPopup() never trigger. Even if popup authent is a bad experience, at least it would work.

[code]

[2019-02-15 21:58] PrasannaKolla opened #568 "AcquireToken for api"
I have an angular 7 client app and .net core webapi.  I am able to get id token when I login.

The problem is when I try to get access token for my .net core webapi(which is a different app service), I am getting the below error

The application named api://<ClientID of my .net core api> was not found in the tenant named <Tenant ID>.  This can happen if the application has not been installed by th

[2019-02-16 00:57] navyasric commented on #564
@aappddeevv Can you explain what is the use case where you want to obtain the encoded id token?
In Msal.js we do expose the idtoken through the User object as shown in the [reference](https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/dev/lib/msal-core/docs/classes/_user_.user.html). In other words, you can do userAgentApp.getUser().idt

[2019-02-16 12:13] aappddeevv commented on #564
Completely missed that so that works for me.

[2019-02-16 12:13] #564 closed

[2019-02-17 02:27] ajhstn commented on #558
For those interested i have a working nodejs console app against the Microsoft Graph, based off the https://github.com/microsoftgraph/nodejs-apponlytoken-rest-sample

[2019-02-18 03:16] jayserdny commented on #222
@Mimetis @AhmedAnwarHafez did you guys ended up finding a solution? I am also stuck because I need to do auth inside an Iframe in Dynamics 365 :/

[2019-02-18 08:18] jannikbuschke commented on #511
@ajbeaven @navyasric Im seeing the issue now also on Chrome for Desktop. Application asked for scope 'User.Read' that doesn't exist

[2019-02-18 08:40] jannikbuschke commented on #511
One thing I noticed is that the error appears when I use the loginPopup(scopes) function. When I invoke loginPopup() without scopes, or loginRedirect() the error doesnt seem to appear on Chrome for Desktop (not tested on Android)

[2019-02-18 10:25] ajbeaven commented on #511
@jannikbuschke I ended up not using the `{tenantId]/user.read` syntax for the graph scopes as it just wasn't working reliably. I don't know where this syntax is documented - if I remember correctly I found it on an example lying around somewhere. I believe I originally went this direction because the standard `user.read` scope failed to generate a token that could be used for authentication. Using

[2019-02-19 08:08] senser1 opened #3386 "OIDC Bearer Strategy with common and tenantIdOrName"
I'm using using OCID Bearer Strategy with the common endpoint (https://login.microsoftonline.com/common/.well-known/openid-configuration) on a REST API. I would like to have some routes available only for our internal users.

I created a middleware like this:

[code]
INTERNAL_ISSUER references to the GUID of the STS of our internal users.

This does not seem to work somehow. Am I missing the point

[2019-02-19 21:51] zamzowd commented on #568
Your scopes passed to `acquireTokenSilent` should be defined on your API's registration in the tenant.  The full scope names might not necessarily match the actual url of your application, depending on how it's registered.

For example, after registering an application to my Azure AD tenant, the scopes I can create for the application get named using the following pattern:
[code]
For applications

[2019-02-19 21:54] zamzowd commented on #563
I believe this is a duplicate of #275

I created a pull request #541 to add a way to ignore the "User login is required" condition.

[2019-02-19 22:30] jannikbuschke commented on #511
Are you just using `user.read` without tenantid? I think this is the same as `https://graph.microsoft.com/user.read`. The documentation could really be improved here.

[2019-02-19 22:45] PrasannaKolla commented on #414
I am having the same issue. Any ETA would be greatly appreciated.

[2019-02-20 01:28] ajbeaven commented on #511
@jannikbuschke yep, now I'm just using `user.read`

[2019-02-20 02:51] AhmedAnwarHafez commented on #222
@jayserdny Nope. I tried fiddling with it but no success.
I have the same problem as yours. Trying to consume MS Graph inside an iFrame in Dynamics 365.

[2019-02-20 03:15] jayserdny commented on #222
In my case, I am trying to get the access token to send it to a backend. Any HTTP I can make it but when I try to intercept it with MSAL, it is just not working :/ @AhmedAnwarHafez

[2019-02-20 05:57] navyasric commented on #275
@zamzowd In MSAL.js we require an authenticated user context to be established in the library before the acquireTokenSilent method starts fetching tokens that provide access to APIs.  Secondly, the library is also used in scenarios where there can be multiple accounts having active sessions for a user. The acquireTokenSilent method cannot determine which user session to pick and establish the cont

[2019-02-20 10:30] Mimetis commented on #222
Hi all, this SDK is not working in a *Teams* context.

You should take a look on this sample, that should help you : https://github.com/OfficeDev/microsoft-teams-sample-auth-node

[2019-02-20 16:44] zamzowd commented on #275
@navyasric If the `loginRedirect` is called, it does get a token from an active session on the authority without the user needing to select an account or log in again.

I would like to be able to check for this active session on the authority silently on application load.

I understand that you require either a cached token for user context or a hint (login_hint or sid) for `acquireTokenSilent`.

[2019-02-20 18:34] brianorwhatever commented on #526
+1 to everything @Dedme said. The common pattern I've seen for silent refreshes has been an html page outside of the app. Before trying this library I was using this https://github.com/manfredsteyer/angular-oauth2-oidc one and it has a silent-refresh.html page that does this. I will probably be switching back to this library now while this has such an ugly workaround.

[2019-02-20 20:06] navyasric commented on #222
The  MSAL.js library is not designed to perform interactive auth requests like popup or redirect from inside an iframe. This is prevented for security reasons by Azure AD Identity provider to mitigate clickjacking or frame busting attacks. 
The MS Teams documentation offers the authentication flows to use in the Teams context: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authe

[2019-02-20 22:59] AhmedAnwarHafez commented on #222
@navyasric Thanks for your reply.
I'm trying to acquire a token for Dynamics 365. By design, Single-Page-Apps must be hosted inside web forms (iFrames). I'm not exactly sure how I can acquire a token since it's not supported as you said.
Could you please guide us on how to acquire a token for Dynamics 365?

I would really appreciate your help. Thanks :)

[2019-02-22 23:22] mpalumbo7 commented on #560
I believe this is a configuration issue in the Azure AD App Registration. There is a field called `accessTokenAcceptedVersion` then when left `null` defaults to v1.0. It must be changed to `2` so that tokens are generated in the v2.0 format.

[2019-02-22 23:22] #560 closed

[2019-02-23 00:45] navyasric commented on #349
@ursmeier-mercatus Thank you for sharing the details. The adal-angular4 library is not built and maintained by our team and we cannot comment on that.
The Safari 12 settings that prevent cookies being set by Idps is not always reproducible as they rely on some machine learning to partition. Having said that, we did get reports of the issue on adal.js library as well.
Unfortunately, we currently ca

[2019-02-23 08:11] ursmeier-mercatus commented on #349
Thank you, I appreciate your feedback.

[2019-02-24 03:17] AhmedAnwarHafez commented on #504
@JeanRemiDelteil Any luck finding a solution?

[2019-02-24 09:30] tuanna2704 commented on #316
I still have this problem when using useHash: true. Seemingly this issue cannot fix in angular 6 and more :(

[2019-02-25 11:20] tassadarBT commented on #232
I have this same error aswell. What I don't understand is why it breaks fatally and you need to clear the local storage/ session storage / cookies to fix it back and be able to login again. Did you guys added any try/catches and reset the local storage or whatever is used to store the state of the auth.  I'm pretty sure somewhere your code is bad and you should of at least added some guards yourse

[2019-02-25 14:12] zamzowd commented on #275
@navyasric How about different approach, rather than a configuration that changes part of the `acquireToken` processes:

A new `loginSilent` function.  This will be similar to `loginRedirect` and `loginPopup`, except it will go through a hidden iframe with `prompt=none` to try to get an existing session from the authority.  So the sole purpose of this new function is to support the behavior that I

[2019-02-25 14:36] ksp2018 opened #570 "ReferenceError: window is not defined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser: None

## Library version 0.2.4

<pre><code>
Library version: 0.2.4

## Current behavior
Getting the error "window is not defined" w

[2019-02-25 16:48] DarylThayil commented on #570
@ksp2018 Unfortunately msal js does not support node.

Adal ( for our v1 apis ) does have a node lib adal-node
https://github.com/AzureAD/azure-activedirectory-library-for-nodejs

We will be looking at adding support for msal.js on node but have not figure out how we want to do that just yet.

Please keep an eye on our wiki (which will be getting an overhaul soon).  We will make sure to communicat

[2019-02-25 18:30] zamzowd commented on #504
Based on the description from @JeanRemiDelteil I'm guessing this is related to the `@resolveTokenOnlyIfOutOfIframe`.

When it returns a Promise on line 83, I think it should return `Promise.reject("I'm in an iframe")` rather than a Promise constructor that does nothing.  Currently, the Promise it returns will never resolve nor reject.

https://github.com/AzureAD/microsoft-authentication-library-fo

[2019-02-25 18:36] ksp2018 commented on #570
Thank you for the update

[2019-02-25 18:36] #570 closed

[2019-02-26 04:39] romitgirdhar opened #3387 "401 Unauthorized Error on a valid token"
Hello, I'm using Azure AD B2C for authentication for my NodeJS API. However, I keep receiving a 401 Unauthorized error by Azure AD B2C. When I add `ignoreExpiration: true` to my AAD auth options, I do not get a 401 Unauthorized error and my API works fine. However, once I remove the ignoreExpiration, I get the 401 Unauthorized error.

I even generated a new token, verified that it is valid (and no

[2019-02-26 10:20] JeanRemiDelteil commented on #504
@zamzowd indeed this is the cause in the code.

Though I'm quite taken aback that it's added in the code that it does not resolve when in an Iframe...
My use case is authenticating inside web widgets that always _are_ Iframes.
More than that, for security purpose my authentication is taking place in a dedicated Iframe.

What's the idea behind forcing the authent not to work in Iframe, does that me

[2019-02-26 14:22] zamzowd commented on #504
@JeanRemiDelteil I'm not really sure as to why.  They've written recently that [it's because of security concerns for Azure AD](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/222#issuecomment-465733963), which is strange because it only stops malicious code from using this library, not from actually getting user/token/authority data or triggering an authentication attemp

[2019-02-26 20:34] PrasannaKolla commented on #568
I figured out scopes, I have passed .default for APIs, then it started working. Thank you

[2019-02-26 20:34] #568 closed

[2019-02-26 21:02] navyasric commented on #557
Closing this issue given the above information. Please reopen if necessary

[2019-02-26 21:02] #557 closed

[2019-02-26 21:35] navyasric commented on #511
@jannikbuschke @ajbeaven Thank you for the feedback. If you are trying to access MS Graph API, you must use the scopes `user.read` as you mentioned and it is the same as `https://graph.microsoft.com/user.read`.  This has been updated in the documentation of our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q1-adal-vs-msal).
Closing this issue as it seems resolv

[2019-02-26 21:35] #511 closed

[2019-02-27 17:39] akkinenivijay opened #574 "postLogoutRedirectUri on multiple tabs"
## I'm submitting a...
<pre><code>
[X] Bug report
</code></pre>

<pre>
I have two vue based spa apps served from appA.xyz.com and appB.xyz.com with two app registrations in Azure AD using implicit flow in the same tenant.  When we issue logout on one of the tabs with appA , the behavior is as expected it redirects to the postLogoutRedirectUri. But on appB when we do logout it just stays at page ht

[2019-02-27 19:14] jasonshsoftware opened #575 "Angular 4 support"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [x] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version
MSAL-Angular

[2019-02-28 17:00] drocm commented on #267
For NPM users attempting to implement @navyasric above suggestion. Note that "msal-angular" is **NOT** the correct package (this caused me some headaches).

The correct NPM package is "@azure/msal-angular".

[2019-02-28 18:26] navyasric commented on #574
@akkinenivijay Can you make sure that the app registration for your apps have the logoutURI set to the same value as the postLogoutRedirectURI you are configuring in the code? You need this to be set for the logout redirect to work.

[2019-02-28 19:23] DarylThayil commented on #498
@sameerag  is this at all like the msrc issue you debugged?

[2019-02-28 21:20] silver-stack commented on #454
Hello, I believe that I have a related issue that I just cannot seem to get to work (unless I am misunderstanding the option 'navigateToLoginRequestUrl').

We have an app that users can sign up and sign into and everything works fine, except for one feature.  One of our back end processes sends email notifications to the users that contain a deep link to a specific record and page within the app (

[2019-03-01 06:14] vramasam commented on #349
@navyasric

(i) We are also facing below issue very frequently in our project:
client logging : Fri, 01 Mar 2019 04:55:53 GMT:1234-0.2.1-Error Error when acquiring token for scopes: https://lyricdev.onmicrosoft.com/CHILAPIService/user_impersonation AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None'.
Correlation ID: 24507434-6c59-47be-a35f-bd2cb0d

[2019-03-01 17:57] Oceanswave commented on #349
Encountering this issue in chrome here as well.

[2019-03-01 18:55] dmaison commented on #117
You clearly didn't read the question, but chose to answer and close it anyway. The question wasn't about `<pre />` its about a `<script class="pre" />`, and what function, if any, the `pre` class has on the script.

This ticket needs to be re-opened until its _actually_ answered

[2019-03-02 15:18] jmprieur commented on #117
@navyasric

[2019-03-04 04:15] Dedme commented on #414
i have some extra feedback on this, might help people blocked (or something), but i have found, when you sign in and the singin window does some redirects it does not pass the token back, could be a really short timeout window or just that the internal redirect drops the parent reference), however if you have the one-click-signin option (saved auth) it works. so i found that sign in is possible wi

[2019-03-04 20:43] jeffie9 commented on #539
Another simple workaround if you do not have unprotected resources:  you can simply leave config.unprotectedResources as undefined.  No routes will get added to the list if undefined.  This works for the case when you are only protecting API endpoints.

[2019-03-05 21:01] drvan opened #585 "Angular 7 loginRedirect example?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-03-06 10:49] CraigComeOnThisNameCantBeTaken commented on #585
This is exactly the same issue I have been trying to resolve this morning. The flash of the second redirect makes the app look very low quality. Thank you for posting with reference to a fix - now I too am looking at the docs for navigateToLoginRequestUrl..

[2019-03-07 13:31] Alagaesia93 commented on #175
Hello!

I know this is a very old issue, but I have the same problem. I followed this guide https://docs.microsoft.com/it-it/azure/active-directory/develop/tutorial-v2-javascript-spa and everything works perfectly.

When I bring the code to my application the popup does not close, after authentication. Is there anything I am missing?

[2019-03-07 16:02] zamzowd commented on #585
As @Dedme suggests [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/526#issuecomment-460107438), I think the redirectUrl should point to an html page not included in the Angular app.  This html page should have very little resources - just MSAL.js and a `UserAgentApplication` constructor with the same config used in the Angular app.  The constructor trigger the proc

[2019-03-07 17:21] ssougnez commented on #421
When is this going to be released? It's a pretty annoying bug...

[2019-03-07 19:42] zamzowd opened #588 "Cannot navigate "Back" in Login Redirect"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When `loginRedirect` is called, the browser navigation is handled with `window.location.replace(urlNavigate)`.  This means a

[2019-03-08 11:27] Ward-Jaabary commented on #414
hi @DeanB2015  your fix worked for me , but when i doploy the angular project into the server all the node modules will be installed and it will not work for IE again.
what is the solution in this case ?

[2019-03-08 12:03] Ward-Jaabary commented on #414
hi @nehaagrawal   any updates about  angular wrappers ?

[2019-03-08 15:19] kroska commented on #174
tks!!

[2019-03-09 00:20] aappddeevv opened #590 "v1.0 access_token generated even though v2.0 id_token was created"
When I follow the example in the README, I'm getting a v1 access_token generated after I properly create a v2 id_token. I could not determine if this was standard behavior or not, but some jwt token validation software in [passport_azure_ad](https://github.com/AzureAD/passport-azure-ad) may be expecting a v2 token, or at least, I was expecting a v2 access_token.

I could not determine if this is d

[2019-03-10 15:19] SebSchuette opened #3388 "Audience default spn:clientId vs api://clientId"
bearerStrategy.js should default to  api://clientId instead of spn:clientId, as the intended use of passport-azure-ad is to protect custom web apis. Current Azure AD preview defines audiences for custom web apis as api://clientId.

Proposed fix:
change default for audience to api://clientID in source code or fix at least the documentation in README.md

I would also submit a pull-request with the t

[2019-03-11 23:50] jeffersoneagley commented on #349
Just an FYI, I had previously had this error, and discovered I had some things out of order, but in having to update another part of my UI, I ran into this again.
For starters, this is a valuable function:
[code]
I'm still hunting for what exactly the cause is, but I remember it being essentially a race condition that happens if your ATS calls happen before MSAL fully finishes loading and such.

[2019-03-12 04:59] infogulch commented on #481
I was able to improve @Weschk's solution to work more generally, e.g. for the `window.location` case.  A `useFactory` provider is the key.

Here it is in the most compilable form I could make it with the key parts commented:

[code]

[2019-03-12 15:23] freeman-g commented on #527
We are having this same issue, so we added a bit of cleanup code until this is fixed in the published MSAL package.

[code]

We're running this code everytime we renew the tokens.

[2019-03-12 18:45] jonhue opened #592 "Cannot sign in - We're currently unable to complete your request."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 72
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-03-12 19:34] visualjeff commented on #590
So you provided the scope appropriate for a v2.0 token?  But received a v1.0 instead?

[2019-03-12 19:49] aappddeevv commented on #590
Yes, this seems to be a problem. I used the standard scopes. I'm not sure what would cause the access_token to be issued as 1.0 even though the id_token is v2. Same scopes are supplied and the calling pattern is like the one in the example.

* https://github.com/AzureAD/passport-azure-ad/issues/379
* https://github.com/AzureAD/passport-azure-ad/issues/396

[2019-03-12 19:51] pkanher617 commented on #590
@aappddeevv is this a problem you are now seeing in the msal-core library?

[2019-03-12 20:04] aappddeevv commented on #590
Yes, using "msal": "^0.2.4". My scopes are user.read, mail.send. I've tried other scopes (since I need some more) but these are the basic ones.

[2019-03-12 20:12] aappddeevv commented on #590
I also used the sample application that is provided and it to returns a v1 access_token even though the id_token is v2.

[2019-03-12 20:19] aappddeevv commented on #590
I can't tell if this is causing passport-azure-ad to fail or not but I'm trying to confirm that this is intended behavior. I did not see anything in the library that made me think I should get v1 back. Since I cannot set the "response_type" query parameter, I'm unable to return both an id and access token in one call. It may return a v2 correctly if I could set the response_type.

[2019-03-12 22:53] visualjeff commented on #590
Yeah, my sample code is doing the same.  v2.0 id_token and I receive a v1.0 access token.

[2019-03-12 23:44] visualjeff commented on #590
I was using version 0.2.3 of msal so I bumped the version in my SPA to 0.2.4 and still have the same issue.  v2.0 id_token and I receive a v1.0 access token.

[2019-03-13 18:30] benjaminmillhouse opened #593 "Add ability to call acquireTokenSilent() from within iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-03-13 21:18] visualjeff commented on #592
From the client side you should provide:
1. clientId  <== from your registered app
2. resource  <== https://login.microsoftonline.com/YOUR_TENANT_NAME.onmicrosoft.com
3. redirectUri  <== Something like http://localhost:8080

The redirectUri from the client side should match what you have set in your registered Azure app.

The authorization endpoint will return an id_token from which you can get an

[2019-03-14 14:16] aldegoeij commented on #590
+1
with the v2.0 endpoint I get access_token v2 and id_token v1 (and less information in id_token than if I use the v1.0 endpoint)

[2019-03-14 14:59] greatBigMassive commented on #267
Hello,

I am not sure if this is related but I'm also having the same issue getting the user information via the MSAL Library after the user has authenticated fine. It seems to detect the #id_token just fine but nothing else.

Every time it does the process, I noticed that on the Microsoft site (in Google Developer Tools) it says the cookie couldn't be stored because it was too large and it was ig

[2019-03-14 17:42] RedEyedDog opened #595 "B2B SPA Angular signup page"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[* ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Hi, I'm looking to make a SPA Angular app with **B2B** login, similar to **https://github.com/Azure/active-directory-dotnet-graphapi-b2bportal-

[2019-03-14 22:50] pkanher617 commented on #595
@RedEyedDog You can use the documentation available for application registration in the Azure portal:

App Registration: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-register-an-app

For a Single-Page Application (SPA), the registration is categorized as a web application. Once you have completed that registration, you will be able to use the client id and other in

[2019-03-15 02:28] alexandria-g commented on #585
Something I noticed while working on my own Angular 7 app this week using MSAL - you may have both 'navigateToLoginRequestUri: true" AND 'redirectUri' defined.

redirectUri behaviour -> upon successful login, redirects the user to the path you specify here.
navigateToLoginRequestUri -> upon successful login, tries to navigate user back to their original location they tried to access before they we

[2019-03-15 13:58] zamzowd commented on #585
@alexandria-g A concern with not specifying a `redirectUri`:

If unspecified, MSAL.js automatically sets `redirectUri` to be the URL (minus query parameters and hash) used to first load the page.  For a single-page application with routing like Angular, that means that if the page first loads on route `http://xxxx/route/to/entity` then that's what's used for the `redirectUri`.

Many OIDC authoriti

[2019-03-15 15:51] josephd9 commented on #593
I have the same need for this as well. When a user loads my app in an iframe I am forced to open a new tab for them to log in and then assign the token to a cookie so the calling page can get the token. This has led to poor user experience when the token is refreshed because a new tab will open up suddenly and close just so I can retrieve that fresh token. Being able to acquire the token while ins

[2019-03-15 16:43] #592 closed

[2019-03-16 18:21] jeverduzco opened #596 "Errors with Spanish names in the user object"
## Errors with Spanish names in the user object

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [ ] Safari version XX

[2019-03-16 21:31] aappddeevv opened #597 "documentation: token caching"
I'm not convinced this is the right answer but the problem I want to solve is to improve the id_token and access_token refresh user experience. The current approach *appears* to be that when you call the id or access token API, if the token has not expired, return the cached token but potentially you need to popup/redirect to a login screen if a new id/access token is needed.

I'd like to place a

[2019-03-16 21:39] aappddeevv commented on #597
Hmm..naturally as soon as I wrote this I noticed some documentation on the SSO page.

[2019-03-18 11:10] ef32 commented on #421
When is this going to be released, just an estimated time please? Angular is now on 7 and plans are in place to release 8 soon. Some feed back will be nice.

[2019-03-18 18:05] stweedie opened #598 "MSAL Angular route guard with expired token causes application whitescreen"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version
0.2.4

## Current behavior
When a user lets their session expire and loads a site with the MsalGuard configured, no route will

[2019-03-18 18:23] visualjeff commented on #590
I need to exercise my test auth code against a B2C application.

[2019-03-18 22:56] navyasric opened #599 "Request for comment: Upcoming API changes in MSAL.js 1.0.0-preview"
As mentioned on the MSAL.js [Roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap), we are working towards the release of **MSAL.js 1.0.0-preview** which will include breaking API changes in the core MSAL.js library.

Please find details of these changes in [Upcoming changes in MSAL.js 1.0.0-preview](https://github.com/AzureAD/microsoft-authentication-library-fo

[2019-03-19 21:49] JingyuShao opened #601 "Is there an option for admin consent?"
Is there an optional to use admin consent with MSAL? Our scenario need to grant permission to a webapp to have admin access and make changes to tenants. Admin consent is needed. But not seeing an option with the extraQueryParameters. If not today, is it possible to add the support in near future? and what's the timeline looks like.

[2019-03-19 23:13] jeverduzco commented on #484
The same happens to me, fails and launches a second popup window but only in chrome 70 or higher

[2019-03-19 23:42] jeverduzco commented on #596
I've been checking and found that there was already a previous thread with the same problem on #264 but why haven't you updated?

[2019-03-20 08:44] rsrinivasanhome opened #602 "MSAL how to store ID Token and Access Token in Secure Cookie"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-03-20 08:46] rsrinivasanhome commented on #602
We have been observing MSAL is storing the Access Token and ID Token in the local storage.  Is there any way to make it get stored in a secure cookie.

Will the below flag help
storeAuthStateInCookie(Optional): This flag was introduced in MSAL.js v0.2.2 as a fix for the authentication loop issues on IE and Edge. Please enable the flag storeAuthStateInCookie to true to take advantage of this fix. W

[2019-03-20 09:01] frjtrifork commented on #481
@infogulch

Hmm, I tried using your example and when I do that I get a null MsalService injected in the services that depend on it. Any idea why?

[2019-03-20 11:36] sameerag commented on #596
@jeverduzco This is being tracked. The existing PR seems to have some build issues in travis, let me check the changes in detail and give you an ETA on when this would be integrated in the dev branch.

[2019-03-20 15:40] jeverduzco commented on #596
Please @sameerag Because it's a really bad experience for my users :(

[2019-03-20 15:48] aappddeevv commented on #590
Well I guess that we need to assume that its a v2 id_token and v1 access_token (@aldegoeij did you swap thos?) for now then and try to manage it on the opposite endpoint.

[2019-03-20 18:45] Mabiro commented on #495
@Ra-Sedgwick : Isn't it a concern, as id_tokens are used to validate access to your API?

[2019-03-20 22:03] AndrewCraswell opened #604 "Are there typings for msal-core?"
I just `npm install`'d the `msal` package, but am not seeing typing information. I'm building a React app so this would be useful... is there a way to get the typings, or is there a better way for me to consume this for React apps?

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature

[2019-03-20 22:08] AndrewCraswell commented on #604
Sorry, this was an issue with my IDE. I'm seeing the typings now :)

[2019-03-20 22:08] #604 closed

[2019-03-21 00:01] navyasric commented on #574
Closing this issue due to lack of further information or response.

[2019-03-21 00:01] #574 closed

[2019-03-21 00:36] visualjeff commented on #601
I think you'll find help on the wiki:  [https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Prompt-behavior](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Prompt-behavior)

[2019-03-21 01:50] infogulch commented on #481
No idea, perhaps it's related to [WindowWrapper](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/lib/msal-angular/src/msal.module.ts) that I didn't manually provide here?  Try providing it, just like the source does.

[2019-03-21 09:14] devragland commented on #602
any updates on this?

[2019-03-21 10:12] jappe999 opened #605 "Cannot use JSDOM in combination with MSAL"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [x] Other... Please describe:
Conflict with another package.

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

[2019-03-21 14:01] byteoriginkiran opened #606 "Getting Unhandled rejection UnsupportedAuthorityValidation when using latest version of MSAL.js for B2C authentication."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ x] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-03-21 14:17] sameerag commented on #602
Yes as in, storeAuthStateInCookie(Optional) is an additional option to the users (introduced for IE to resolve access across trusted zones) and can be used to store tokens in the cookies. Please try this if it helps your case.

[2019-03-21 14:19] sameerag commented on #601
I believe this should be done during app registration if I am not wrong. @navyasric Can you confirm how and where admin consent can be set in our flow? Particularly is it in MSAL's scope?

[2019-03-21 17:40] rsrinivasanhome commented on #602
We however see the session state (local storage) to still contain the access token and refresh token.  My expectation is they will be only stored in cookies and be secured .

[2019-03-21 19:59] AndrewCraswell commented on #597
Another option would be to have a class which handles HTTP requests to your API that requires authentication. The class would be responsible for watching any HTTP requests which return a 401 error. It could then (a) store the failed HTTP request in a queue, (b) determine how to acquire the token and refresh it, then (c) replay any failed requests in the queue. This should give you a seamless user

[2019-03-21 20:36] AndrewCraswell commented on #326
@asnow003, is it possible to get this option added to the documentation? [The wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics#configuration-options) that describes the optional parameters for MSAL.js seems to be out of date, and I'm not sure of the best way to describe the `isAngular` option.

[2019-03-22 05:54] MeddlerOnTheRoof commented on #590
I have encountered this issue as well and the v1.0 access token generated from the v2.0 authorization_endpoint fails the Azure API Gateway <validate-jwt> tag in the gateway policies when pointed at either the v1.0 .well-known/openid-configuration or the v2.0 configuration (common or tenant specific). The access token works fine with the Graph API though. Interestingly enough the v2.0 id_token pass

[2019-03-22 10:26] Julien-sans opened #608 "Window is not defined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 0.2.3

## Current behavior

Getting error "window is not defined" in heroku's console in staging

[2019-03-22 12:40] ChristianOlsson opened #609 "Not able to acquire token if user is logged in to multiple Google accounts"
Using msal 0.2.4 and Chrome I am seeing issues when users are signed in to multiple Google accounts. This both happens in my app and for the sample app active-directory-b2c-javascript-msal-singlepageapp.

Repro using the sample app:
1. Sign in to gmail with two different accounts (I used Add account in the Google Account tab)
2. Clone the sample app and run it (https://github.com/Azure-Samples/act

[2019-03-22 18:53] AndrewCraswell commented on #387
In the meantime, why don't we add a link to the `react-aad-msal` project in the `readme.md` under the "Wrapper libraries" section and denote it as a community-driven project? Microsoft as a company is betting very big on React, and it seems a shame to not have better support for it. It would be awesome to get more engagement on the only community project that has implemented decent support.

https

[2019-03-22 19:02] AndrewCraswell opened #611 "Link to react-aad-msal wrapper library in readme?"
Many of the consumers of MSAL.js (especially at Microsoft) are building React apps, a reflection on the fact that Microsoft has bet very heavily in React, especially in orgs like Office, Windows, etc. I know it's a huge undertaking to support a new framework to the level that Angular is being covered. Maybe a compromise would be to link to the `react-aad-msal` community driven project that was bui

[2019-03-22 20:02] ericprocop opened #3389 "jwt verification checks token signature against public key returned in kid"
Using 4.0.0 implicit flow.  I don't see an easy way for me to obtain the public key to check against the list maintained at login.microsoftonline.com/common/.well-known/openid-configuration.  Actually, I feel that should be done as a matter of course.

[2019-03-24 23:44] MaximBalaganskiy opened #613 "tslib version"
## I'm submitting a...
<pre><code>
[x] Question
</code></pre>

## Library version
<pre><code>
Library version: 0.2.4
</code></pre>

Is there any specific reason to use the tslib@1.7.1 version? This leads to the duplication if a project wants to use the latest of tslib.

[2019-03-25 10:03] vramasam opened #614 "State parameter in login request - Angular MSAL"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version XX
- [X] Firefox version XX
- [X] IE version XX
- [X] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-03-25 12:56] ChristianOlsson commented on #227
@rohitnarula7176 is there any news on support for responseType = 'id_token token'?

[2019-03-25 13:46] sameerag commented on #227
@ChristianOlsson Are you suggesting you need both "id_token" and "access_token" in the response?

[2019-03-25 16:18] AndrewCraswell commented on #611
If this is something that others think would be a good idea, I'd be happy to submit the PR.

[2019-03-26 12:28] AbhaysinghBhosale opened #615 "Issue with logout. User should have to login again if he closes browser window. How to logout user on closing browser."
## Current behavior
User is able to login to application using the msal npm package and perform operations. Login and logout etc working fine. but if user close the browser tab and again open it still user is logged in.

## Expected behavior

Is there any method for this or have to add custom event to capture onunload and then clear the localStorage ?

[2019-03-26 15:33] AndrewCraswell commented on #615
You shouldn't be using localStorage if you want this sort of functionality. passing 'sessionStorage' as the `cacheLocation` parameter when instantiating the `UserAgentApplication` will get you closer to what you want. The documentation on these parameters can be found in the [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics#configuration-options).

[2019-03-26 15:42] AndrewCraswell commented on #602
I don't think it's currently possible to use just a cookie. Looking at the code in the `UserAgentApplication` shows this is how it handles the `cacheLocation` parameter:

[code]

It forces the `cacheLocation` to either be "sessionStorage" or "localStorage".

[2019-03-26 17:15] sameerag commented on #602
@rsrinivasanhome  and @AndrewCraswell , Cookie is designed to be in addition to localstorage/sessionstorage, not as an alternative. It is introduced to solve an issue with IE [TrustedZones](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser). Exclusive cookie storage only is not something that we supported in the past.

@navyasric is this so

[2019-03-26 19:47] DarylThayil commented on #613
unsure why this was done, good catch will make a pr for this

[2019-03-27 04:18] AbhaysinghBhosale commented on #615
sessionStorage will store the session only for the tab where user is logged in and if the user open application in another tab or click any link in app to open in new tab he have to login again as sessionStorage is tabs specific. So what to do in such case

[2019-03-27 08:31] peshos opened #617 "AADSTS50158: External security challenge not satisfied."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [x] Edge version 44.17763.1.0
- [ ] Safari version XX

## Li

[2019-03-27 15:43] byteoriginkiran commented on #606
I haven't recieved any response so. can someone for microsoft support confirm if there is a existing defect in library or if this is a config issue. microsoft's own b2c  working samples showing using outdated libraries that is old than 2 years is frustrating.

[2019-03-27 16:31] navyasric commented on #611
@AndrewCraswell Thank you for the feedback and suggestion. We would need to evaluate community built open source libraries for criteria like maintenance, security, code quality, etc. before we recommend or list it on the Msal.js Readme or docs.
As mentioned in #510, React support is in our backlog. Per the roadmap, we are currently working on the core library followed by Angular improvements. Plea

[2019-03-27 16:31] #611 closed

[2019-03-27 16:42] navyasric commented on #503
@himadrinath Is this still an issue for you? You can trigger a re-authentication prompt for the user by calling the loginRedirect() or loginPopup() methods. Closing this issue due to the issue being old. Please reopen if you still see a problem.

[2019-03-27 16:42] #503 closed

[2019-03-27 16:47] AndrewCraswell commented on #611
Thanks for the response, @navyasric. I totally understand, and the project is there linked above ready to be evaluated. I've seen #510 but didn't see any timeline mentioned. In fact, it seems from the issue while a React wrapper is in the backlog, it's not being prioritized. The roadmap currently has no mention of React, which is fair since it's articulated numerous times that Angular and AngularJ

[2019-03-27 18:31] navyasric commented on #453
@GhaithZamrik Are you still having this issue? If not can you post your resolution or how you fixed it?

[2019-03-27 21:16] jampy commented on #400
someone got this working?

[2019-03-27 21:18] #613 closed

[2019-03-27 21:19] KishanRathod commented on #400
I got around this issue by switching all my calls from Graph to SharePoint Rest Api.

[2019-03-27 21:20] navyasric commented on #504
@JeanRemiDelteil @Francis-B  To summarize your scenario:  You have an authenticated user session in the Outlook client, and your add-in(which is in an iframe) wants to silently get access tokens for MS Graph. Is that right?

There is a pattern documented for the authentication flow in Outlook add-ins framework here which makes use of the Office.js API: https://docs.microsoft.com/en-us/office/dev/a

[2019-03-27 21:40] navyasric commented on #537
@inandi Is this issue resolved for you? Which library version and sample are you using? Can you provide code snippets of how you are calling the library?

[2019-03-28 14:31] ormico opened #620 "Cookie length should be less than or equal to 4096 characters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-03-29 16:24] vbora commented on #547
This error code is seen in Safari if the user enables "Prevent cross-site tracking" setting. Toggling that setting off, loading the site will then work, and then re-enabling the setting allows things work for a while until presumably some credential expires and things fail again.

[2019-04-01 12:29] vramasam commented on #614
Hi @sameerag

If there is any update on this ticket. Can you please provide to us?

[2019-04-01 14:12] sameerag commented on #614
Yes, should be committed this week. Will update here once I have a PR out.

[2019-04-01 14:34] DeanB2015 commented on #526
@brianorwhatever  Did you switch back to https://github.com/manfredsteyer/angular-oauth2-oidc ?  I'm debating if I should make the switch or make a fix.  What's your recommendation?

[2019-04-01 18:24] brianorwhatever commented on #526
@DeanB2015 yeah I did unfortunately

[2019-04-01 20:31] mlankamp opened #623 "AADSTS50058 after Azure AD invite"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [x] Chrome version 73.0
- [x] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [ ] Safari version XX

## Library version

<pre><co

[2019-04-01 21:07] mlankamp commented on #623
Just found the solution :-) When you add the following to your Azure AD application manifest:

<pre><code>
"optionalClaims": {
      "idToken": [
            {
                  "name": "sid",
                  "essential": true
            }
      ]
}
</code></pre>

the login_hint isn't used but the SID is used. This seems to solve the problem.

[2019-04-01 21:07] #623 closed

[2019-04-02 04:50] CameronDwyer commented on #504
@navyasric relying on SSO to try and get around the problems with using the Microsoft Authentication Libraries (ADAL/MSAL) isn't a solid solution. The documentation that you refer to clearly states:
"You should not rely on SSO as your add-in's only method of authentication. You should implement an alternate authentication system that your add-in can fall back to in certain error situations."
So we

[2019-04-02 05:02] CameronDwyer commented on #504
Prior to MSAL I encountered the same issues with ADAL (it didn't play well inside Office Add-ins). I've gone down an approach similar to what @super2ni suggested and wrote the raw HTTP calls to do authentication utilising the Office.js Dialog API to get around the problems with ADAL. I'd really hoped that MSAL would have solved these problems.

[2019-04-02 14:32] verbedr commented on #623
Hi we got the same problem. But although the optional claim 'sid' is send with the idToken it keeps on using the unique_name instead of the sid for the login_hint. What version of the msal library did you use. Are you using v2.0 endpoints or v1.0?

[2019-04-02 22:40] verbedr commented on #623
So I found the discrepancy between the two situations. I'm using the msal-angular library which is still using the msal@0.2.1 version. While this has been fixed since msal@0.2.3 library (currently at @0.2.4).

[2019-04-03 03:09] Highspeed7 commented on #602
It should allow HttpOnly cookies to be used and avoid localStorage and sessionStorage to avoid all the caveats regarding XSS. It's much easier to prevent CSRF with cookies then it is for HTML storage.

[2019-04-03 03:13] sameerag commented on #602
@Highspeed7 We are in middle of a major update for the library and would love to consider this once we release the current in the works changes. @navyasric to add this in our road map and update this thread as and when we plan to support this.

[2019-04-03 03:17] sameerag commented on #614
@vramasam There is an issue with 'state' where we are not stripping the GUID we add in MSAL JS when the user sets the 'state' in the request. But this change will make it only to msal-core and not to msal-angular at this point. Are you looking at a fix for angular? As mentioned in the homepage by @navyasric we are currently in middle of an API change for msal-core and hence no angular support is e

[2019-04-03 06:12] ryandegruyter opened #625 "App URI ID in aud property of access token"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

0.1.2

## Current behavior
I set the App URI ID as the clientId. The aud parameter in the jwt access token contains the App

[2019-04-03 08:08] Highspeed7 commented on #435
What a joke... you release a so-called authentication library and can't even keep it up to date with the latest ad b2c practices. Plus you don't respond to issues on your repository. Terrible.

[2019-04-03 08:14] sameerag commented on #435
@Highspeed7 It is not so simple to validate B2C. It is virtually hundreds of non-fixed domains that can be aliases. I do realize that we can have a better interface and this is something which is brought up frequently in our internal discussions. We are working in a more feasible solution and will announce as and when we are ready.

Regarding response time, we are trying hard to remedy that. We ar

[2019-04-03 09:41] imnista opened #626 "window.parent is not defined if page in iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 73.0.3683.86 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ]

[2019-04-03 11:38] CameronDwyer commented on #504
I've hosted some basic web pages publically to try and demonstrate these issues with MSAL at it's most basic with Office add-ins.

Here I've taken the Microsoft MSAL JS Quickstart sample, which is a single html page containing all the js to do the MSAL login and make a call to the Graph to return user details. The only changes I've made are specifying the client Id and adding some explanation text

[2019-04-03 13:44] zamzowd commented on #504
Regarding the security concerns of clickjacking and similar vulnerabilities when inside an iframe:

1. This vulnerability concern should not apply to silent acquire token (with "prompt=none") because there is no html interaction for a malicious host to intercept.  It's just a series of 302 Found redirects.
2. Azure AD and Azure AD B2C *already* prevent other login proccess (without "prompt=none")

[2019-04-03 20:58] stijnvanbossuyt commented on #606
You can pass `{ validateAuthority: false, },` when initialising **Msal.UserAgentApplication**

[2019-04-03 23:18] sameerag commented on #504
@JeanRemiDelteil @CameronDwyer @zamzowd Yes, this is not a security issue. I have been digging on this for couple days and confirmed that the original intent behind adding @resolveTokenOnlyIfOutOfIframe was to solve an engineering issue they had at that point. We think changing this is possible and we are designing a feasible solution.

I acknowledge this is blocking everyone who wants to use MSAL

[2019-04-04 07:36] sushrutparanjape commented on #400
Try the scope as : https://<domain>.sharepoint.com/Sites.ReadWrite.All

[2019-04-04 15:07] enerdgumen opened #3390 "Redirect after login by using the state parameter"
I would use the "state" parameter supported by the [authorize](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-the-sign-in-request) endpoint to keep the url originnally requested before the initial redirect to the authentication provider.

Then after the login, in the callback endpoint, I would read the state to perform the final redirect.

I've seen a config

[2019-04-04 20:21] Highspeed7 commented on #435
@Sikta the validateAuthority: false flag is not working. I'm still getting the endpoints error.

[2019-04-04 21:11] mm-gmbd opened #627 "Device Code Flow Support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] Headless (i

[2019-04-04 22:44] rodrraul commented on #390
How do you import msal-angularjs in angularjs + typescript?  I just cannot find a way.
I have tried _import * as msal from '@azure/msal-angularjs';_ and _require('@azure/msal-angularjs');_ with no success at all.

[2019-04-04 23:13] navyasric commented on #627
@mm-gmbd Thank you for the feedback. The MSAL.js library is designed for client side JS web apps running in a browser such as single page apps and therefore supports only the implicit flow.
The device code flow is for authentication in public clients apps which do not have a browser interface. This is not a feature we plan to add to the MSAL JS library.

We do have the [ADAL Node.js](https://githu

[2019-04-04 23:13] #627 closed

[2019-04-05 08:36] raikoss commented on #488
I am experiencing the same issue.

As I'm trying to retrieve a token before doing API calls, they take about 3-4 seconds (which is also pretty long) longer as MSAL fetches a new token even though it exists in the cache. Using the logger, it states that the token does not. I am using v0.2.4. It feels really counterintuitive to cache the tokens manually as a workaround, as MSAL should be doing this

[2019-04-05 16:15] mm-gmbd commented on #627
Thanks for the feedback @navyasric. I'll be waiting eagerly for the Node.js library :smile:

[2019-04-05 17:53] pnaika opened #629 "Login always prompts for user interaction in this version of angular wrapper"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-04-06 01:26] Highspeed7 commented on #629
Are you referring to SSO not working? Because if so, I've noticed this as well. Another problem I'm having (Probably for another discussion is that after loginPopup, and acquireTokenSilent, the login popup shows up again, but not always.

[2019-04-08 16:34] Nojahhh commented on #498
Hello everyone,

Thought I would share my solution since there still seems to be a lot of question-marks out there, especially for those of you who use SPA (Vue, React, Angular, etc...) and wanted to save you people the headache I've been experiencing banging my head against the wall with this issue...

The standard use of this library results in a login-loop that will last forever. It can only be