[2020-10-15 18:58] nfpiche commented on #2434
That definitely seems like the culprit, let us do some reconfiguration on our and I'll report back, thanks for the assistance.

[2020-10-15 19:05] whittssg opened #2437 "MSAL Angular with ASP.NET core Auth Guides (updated to match current Azure)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Are there any tutorials that explain how to get this working with asp.net core? Say

[2020-10-15 19:09] calvinnelms commented on #2372
@ryan-ost it worked, thanks for the code snippet and reference!

Calling acquireTokenRedirect on a failed acquiredTokenSilent works with the "Prevent Cross-Site Tracking" enabled on the iPad.

[2020-10-15 19:09] #2372 closed

[2020-10-15 19:10] thoo1 commented on #2416
@sameerag, could you provide any ETA for the 2.3.2 release?

[2020-10-15 19:27] derisen commented on #2437
@whittssg would [this sample](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi) help with your case?

[2020-10-15 20:03] jasonnutter commented on #2416
@thoo1 One note, the fix for this was purely for types. This means if you provide `extraQueryParameters` to `acquireTokenSilent` at runtime, they should get passed (you will need to ignore the Typescript warnings).

[2020-10-15 20:45] #1028 closed

[2020-10-15 20:45] #1824 closed

[2020-10-15 20:45] #2120 closed

[2020-10-15 20:50] hpsin commented on #1824
🎉🎉🎉🎉🎊🎊🎊🎊🥳🥳🥳🥳
This is awesome. I can't wait to try it out! This is the first officially recommendable library for login.live.com in a while.

[2020-10-15 21:06] rotirk20 commented on #2433
const routes: Routes = [
  { path: '', component: HomeComponent },
  { path: 'login', component: LoginComponent },
  { path: 'branch/:id', component: BranchInfoComponent },
  { path: 'booking/:bookingBusiness', component: BookingComponent},
  {
    path: 'dashboard', component: DashboardComponent, canActivate: [MsalGuard],
    children: [
      { path: 'home', component: StatisticsComponent},

[2020-10-15 21:09] thoo1 commented on #2416
@jasonnutter thanks jason! I'll try that

[2020-10-15 22:11] #2416 closed

[2020-10-15 22:29] tnorling commented on #1999
@CerosDev Yes, you can go ahead.

[2020-10-16 00:35] #2322 closed

[2020-10-16 00:36] #2313 closed

[2020-10-16 00:36] #2277 closed

[2020-10-16 00:36] #2134 closed

[2020-10-16 01:22] superman-lopez commented on #2268
@andreasgloor thanks for the suggestion.  I tried to protect my redirect with `MsalGuard`, and even though the url seems to no longer show the code the authentication doesn't actually work.  Also in the sample project the redirect is actually not protected with `MsalGuard` and the authentication is successful when I try it there.

In the sample, which authenticates fine with the `InteractionType.R

[2020-10-16 01:37] abf7d commented on #2420
I found the problem. I had my base url redirecting to my /home route. So whenever you open the base route the app is redirected. From this route, the request is made. I needed to add the redirect uri for the /home route to my AAD app registration, commented out the redirectUri in my b2c configuration and set navigateToLoginRequestUrl to true. I debugged the handleRedirectPromise code and when it r

[2020-10-16 01:40] abf7d commented on #2420
One last issue.  The access_token is not coming back. In msal.js 1.3 and implicit flow I needed to call acquireTokenSilent to retrieve the access token. Do I need to call acquireTokenSilent here? I saw something that mentioned calling Microsoft Graph for an access token. Do I need to do that? I'm also interested in how to get the refresh token. In one of the sampes, it doesn't look like they are e

[2020-10-16 02:24] thiagodpaz commented on #2268
I was having problems using redirect interaction with hash routing enabled.

The workaround for it is to call this.authService.handleRedirectObservable() in app.component.ts (as mentioned by @gulench).
It must be called when the response code hash is still available the navigation bar, msal-browser uses window.location.href / window.location.hash and unfortunately does not allow overriding it when

[2020-10-16 05:45] Shyam268 commented on #2422
I have tried this example https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi
I have registered app in b2c tenent and  replaced client id, tenent id(example: https://login.microsoftonline.com/{12-41561-546541-465641}) in json file
then i can reproduce this issue. i.e logout is not working properly, page struck "it is good idea to close all browsers"

[2020-10-16 06:11] RichardSunMS opened #2441 "Azure Dogfood accounts(***@live.com) not found in login.windows-ppe.net"
## Library
- [ ] `@azure/msal-angular@1.4.1`

## Framework
MSAL in Angular

## Description
We are having a app which is still using ADAL which integrating Azure AD and calling apis(Microsoft Graph & Azure Resource Manager), and I am evaluating moving to MSAL.

I tried to use the sample code for building a test app following: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstar

[2020-10-16 06:39] Naakhta opened #2442 "Issues in making silent MSAL calls to fetch access token."
MSALJS 1.4.0

We are using SAML based authentication in our front end web page and then in the same page we are using MSALJS to fetch the access token silently using the existing session which has been established by SAML.

myMSALObj = new Msal.UserAgentApplication(msalConfig),

 requestObj = {scopes: ["user.read"] };

 function base64url(source) {

 encodedSource = CryptoJS.enc.Base64.stringify(s

[2020-10-16 10:58] rotirk20 commented on #2433
Solved..Removed MsalInterceptor from app.module because we don't use it on whole app only on few components like profile and etc..So we did use the endpoint for profile https://graph.microsoft.com/v1.0/me in which we send the accessToken which we get with **this.broadcastService.subscribe('msal:acquireTokenSuccess')**

[2020-10-16 12:25] rotirk20 commented on #2433
Not fixed..I only get the token id type not the access token type..Is there any way to tell the msal interceptor to call only on specific routes?

[2020-10-16 13:34] StewSchrieff commented on #2042
Checking in here, as it's now past early October (mentioned by @jo-arroyo ) - I don't see this scheduled on the [roadmap ](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) at this point, and am curious if there is an updated timeline as to when we can expect to see msal-angular updated to msal-browser 2.0?

As many have said, this is an important update as a growing

[2020-10-16 13:40] Igadde opened #2443 "Facing Issue with cache clear (ctrl+shift+del) unable to retrieve idtoken and user detail for the first time"
Facing Issue with cache clear (ctrl+shift+del) unable to retrieve idtoken and user detail for the first time

1. Redirect to login page after cache clr
2. Enter user details (correct) and click on submit idtoken not getting from msal service.
3. _oauthservice not returning user object and idtoken and its returning to the login page again .
4. if i try again with same credentials able to login.

ca

[2020-10-16 13:55] whittssg commented on #2437
Yeh that helped. Thanks alot.

[2020-10-16 13:55] #2437 closed

[2020-10-16 14:28] vuorinem commented on #1999
@tnorling Has this been rolled out to all B2C tenants? I'm still getting the following response when using PKCE flow and just _openid_ as a scope. The application in B2C has _https://jwt.ms_ as a SPA redirect uri.

[code]

The property **refresh_token_expires_in** suggests that the token expires in 14 days. It doesn't seem to require token rotation, I can use the original refresh token multiple ti

[2020-10-16 16:14] sameerag commented on #2443
@Igadde Can you please share the `msal` logs for your use case? Also please share the `configuration` and `request` code snippets for us to check why you are seeing this?

[2020-10-16 16:23] sameerag commented on #2442
@Naakhta

* SSO is never designed to work without `login_hint` prefilled. The idea of SSO is that the user established his session already and MSAL is designed to identity the session by passing `sid` or `login_hint` to the service.

* IE issue could be because of trusted zones, can you please check these [docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-o

[2020-10-16 16:41] hpsin commented on #2422
If this is for B2C then alternate rules may apply.  @sameerag  do you know who a good B2C contact would be?

[2020-10-16 16:59] nfpiche commented on #2434
Definitely it, thanks again, always hate an issue that only crops up in dev mode 😅

[2020-10-16 16:59] #2434 closed

[2020-10-16 17:43] sameerag commented on #2422
@nickgmicrosoft Can you please help with this?

[2020-10-16 18:55] rpapeters commented on #1592
Also getting token timeout error now and then. v1.4.0 was worse and v1.4.1 is better but also has other issues which should be resolved in 1.4.2 but not yet released. Could the origin of this problem be in the fact that both the MsalGuard and MsalInterceptor are trying to get a token very shortly after each other? (one for canActivate and one for a back-end request)

[2020-10-16 20:20] pmcgannon22 commented on #2383
Updating here. This ended up being an issue with my Promise polyfill being too old and/or not having the proper full implementation. I was using a custom polyfill that was defined in a downstream dependency that I assumed would be fine, but it was causing really confusing behavior with some of the transpiled asynchronous code.

After changing my polyfill to [es6-promise](https://www.npmjs.com/pack

[2020-10-16 20:20] #2383 closed

[2020-10-16 23:39] jasonnutter commented on #2042
@StewSchrieff The roadmap will be updated shortly (#2388). For MSAL Angular v2, we are planning to have a preview version available soon (later this month). I'll post here when that is available. Appreciate the patience!

[2020-10-17 00:35] #2240 closed

[2020-10-17 00:35] #2177 closed

[2020-10-17 00:35] #2108 closed

[2020-10-17 05:21] MarkZuber opened #2444 "Samples links are broken"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Documentation location
- [ ] MSAL.js Github Wiki

## Description

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node#samples

This page has some links below it to samples.  Those links are broken.  They should end up here (as an example): https://gi

[2020-10-17 13:48] silver-stack commented on #2042
I have also been watching this issue as we have several applications that are affected by this and now it is becoming more of a problem.

We are using Azure B2C and have managed to modify our smaller apps to use the angular V2 sample mentioned earlier, However we had to make some modifications to the msal.interceptor.ts to pass the idToken instead of the accessToken.
Specifically here:

`

[2020-10-17 16:44] gidich opened #2445 "Azure Active Directory External Identities - Self-Serve Sign-Up and Roles"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I am working to set up AAD External Identities with Self-Serve Sign-Up and Roles,

[2020-10-17 20:15] JasonTheProgrammer commented on #2284
@vishmay-AF if you happen to figure out what change helped get the desired behaviour in 1.4.0, let me know. For now, I can't update to 1.4.1 because of #2402.

[2020-10-18 05:52] SBajonczak commented on #2315
Hey many thx for the description of the Problem and the given workaround.

So I understand that I am responsible for now to refresh the token after it is expired at the moment?

[2020-10-18 13:51] jeremyc11 opened #2446 "Validate access token in backend"
## Library
- [ ] `@azure/msal-angular@1.x.x`

## Description
I 'm using MSAL angular to authenticate users using Microsoft login. After the authentication, I'm sending the access token to all requests to a API to execute actions in the backend. For security reasons, I need to assert in the backend the access token is a valid access token created by Microsoft. My question is how to validate the acc

[2020-10-18 14:01] jeremyc11 opened #2447 "How to clear an access token?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-angular@1.x.x`

## Description
I'm using MSAL Angular. When a user is logging out, it is redirect to a logout page. I don't want to use the logOut function because it causes to log out the user from other sites that are using the Microsoft login. So, when redir

[2020-10-18 16:46] derisen commented on #2446
You should check the [documentation](https://docs.microsoft.com/azure/active-directory/develop/access-tokens#validating-tokens) on validating access tokens. There's also a web api code sample doing validation [here](https://github.com/Azure-Samples/ms-identity-python-webapi-azurefunctions/blob/f88a9466bb0ec0ce20c6742a21bc47a16e13652e/Function/secureFlaskApp/__init__.py#L71)

[2020-10-18 17:45] jrmcdona commented on #2421
@tnorling so it needs to be on a page different from our primary  handleRedirectPromise?

I don't think this is going to work I have an Angular app.  My handleRedirectPromise is in the app.component.ts right now so it will load everytime the Angular app loads, there for it is going to load twice if I add handleRedirectPromise  in yet another Angular route.

When I set navigateToLoginRequestUrl = t

[2020-10-18 18:05] AyushMahendru commented on #2442
Hi
The workarounds mentioned in https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser have been tried out.

cache:{
               cacheLocation: "localStorage",
               storeAuthStateInCookie:is_ie
              }

Also, https://login.microsoftonline.com is in trusted sites.

Would the issue with PopUp Blockers be applicable here ?

[2020-10-18 21:07] sameerag commented on #2444
@MarkZuber Thanks for bringing to to our notice. #2448 is raised to close this. More docs on samples are coming soon.

[2020-10-19 04:05] Shyam268 commented on #2422
no console error. i am able to login when call msal.logout() , the user is not logout properly the page stuck at "It is good idea to close all browers window"

please have a look into the fiddler

[Not_Working_sample.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/5398996/Not_Working_sample.zip)

this trace contains both traces one is working with azure Ad and other c

[2020-10-19 06:22] cybersuv commented on #2442
The interactive authentication for already acquired SAML token is not an option here @Naakhta . We are expecting as per doc that, MSAL will work with underlying token and login_hint provided. Why even that is not working with IE 11 ? @sameerag any idea further ?

[2020-10-19 06:31] cybersuv commented on #2442
@sameerag , can we have a working session to show you the problem further and get better suggestion ?

[2020-10-19 06:54] bks1242 opened #2449 "Library is not working in ios device safari browser, after authentication, broadcast service is not triggering login success"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did th

[2020-10-19 10:43] MayankKT opened #2450 "URL refreshes multiple times when using MSAL and calling the API."
## Library
- "msal": "^1.4.1"

## when calling the MSAL acquiretokensilent() method to get the access token, url refreshes multiple times

## Block a frame with origin "http://microsoft.sharepoint.com" from accessing a cross-origin frame.

## Browsers/Environment
- [ ] Chrome
- [ ] Edge
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/28943234/96440750-07920780-1226-11eb-8eac-

[2020-10-19 16:04] tnorling commented on #2315
@SBajonczak Yes, I would suggest doing something like this for now:

[code]

[2020-10-19 16:19] manoharnikkam commented on #2385
Thank you @brunnosantos for the tip. I ended up caching the roles and Login_success or Acquire_Token_Success in msal.service.ts. Having it this way I don't know to subscribe every single time

[2020-10-19 16:19] manoharnikkam commented on #2385
Thank you @brunnosantos for the tip. I ended up caching the roles and Login_success or Acquire_Token_Success in msal.service.ts. Having it this way I don't know to subscribe every single time

[2020-10-19 16:20] manoharnikkam commented on #2385
If there is a better alternative, please share

[2020-10-19 16:25] tnorling commented on #2421
@jrmcdona Yes. It's fine if it loads twice (this is actually intentional) because the internal logic will ensure that it only processes the redirect response on the route that the response is intended for. It determines this based on the `navigateToLoginRequestUrl` flag. If this is set to true `handleRedirectPromise` will redirect to the original route that initiated the request. If it's set to fa

[2020-10-19 16:34] tnorling commented on #1999
@vuorinem It should definitely be rolled out to all tenants by now. Please ensure you do not have other redirect uri types also configured on the same app registration. If you're still getting a 14 day refresh token please [open a ticket](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) with the B2C service team so they can take a look.

This is expected. RT's may or ma

[2020-10-19 16:41] jasonnutter commented on #2449
It is a known issue that MSAL Angular v1 will not work when third-party cookies are disabled, such as in Safari with ITP enabled. We are working on MSAL Angular v2, which will address problems caused by third-party cookie blocking in most scenarios.

Closing as duplicate of #2042

[2020-10-19 16:41] #2449 closed

[2020-10-19 17:20] DarylThayil commented on #2442
@AyushMahendru just small nit in the example you provided, are you setting storeAuthStateInCookie to true boolean?

[2020-10-19 17:21] DarylThayil commented on #2442
Also curious the error you are getting back

[2020-10-19 17:25] tnorling commented on #2412
@RichardSunMS We currently expect to have an alpha of msal-react available sometime next month. Any changes to timelines and additional feature work will be tracked in our [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md). We look forward to sharing more and getting your feedback soon!

[2020-10-19 17:25] #2412 closed

[2020-10-19 17:32] DarylThayil commented on #2442
Curious if this is a regression in 1.4.x can you try v1.3.x and see if the same issue persists?

[2020-10-19 17:40] sameerag commented on #2447
@jeremyc11 We do not invalidate `access tokens`. The only work around for you is to clear your cache accessing`window.localStorage() or window.sessionStorage()`. Please note that doing this would mean, if you call `acquireTokenSilent()` after the cache clearance, you would get a new token since the AAD session is still active.

[2020-10-19 17:41] sameerag commented on #2445
@hpsin Can you take a look at this?

[2020-10-19 17:44] sameerag commented on #2441
@hpsin Can you help here?

[2020-10-19 17:48] jasonnutter commented on #2450
@MayankKT In SharePoint, you should not use MSAL directly. Please see this document for more information: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aadhttpclient

[2020-10-19 17:54] sameerag commented on #2328
#2415

[2020-10-19 18:00] hpsin commented on #2441
There's an extant bug here I believe, where we run ifexists against PROD and move to PPE.  Note you have to use /organizations to use MSA with ARM - please use that here, and it should move you to PROD MSA correctly.
Please mark this as internal, as these don't work for public users.

[2020-10-19 18:14] sameerag commented on #1172
The latest version `msal@1.4.1` should fix all the issues tagged above. Closing this.

[2020-10-19 18:14] #1172 closed

[2020-10-19 18:29] sameerag commented on #2145
@deasems Does the app settings in portal configure a `Logout URL`?  Can you let us know what happens if you leave that field blank?

[2020-10-19 19:00] baSSiLL opened #2451 "Client ID scope is replaced with slash"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.3.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
AAD B2C with Vue JS app.

## Description
I want to authenticate calls to the backend API of an SPA app. For simp

[2020-10-19 19:50] vishmay-AF commented on #1592
The occrance has been reduced since 1.4.1 but I'm still getting errors in some cases.
it happens on the rediredction page after login. not all the time, it occurs for few times.
mostly 1 out of 3 tries fails due to this and it affects my other working code too.
this time MSAL gaurd does not cause trouble i think interceptor is the reason.

let me know if you have any solutions

[2020-10-19 20:13] jmckennon commented on #2361
Resolved offline in email. User was experiencing throttling from the server which `msal@1.x` does not respect as the feature is in `msal@2.x`. Closing now. If there are further questions please open a new issue. Thanks!

[2020-10-19 20:13] #2361 closed

[2020-10-19 21:05] willzhan opened #2452 "msal-browser v 2.3.1 & v2.1.0: logout() works but logout(logoutRequest) throws error"
## Library
- [ ] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-browser@2.3.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
Try to use logout API: logout() works well, while logout(logoutRequest) throws error. I have made sure that logoutRequest.account = the login account.

## Error Message
### msal-browser v 2.3.1:

Uncaught (in

[2020-10-19 22:28] #2056 closed

[2020-10-19 23:08] jasonnutter commented on #2452
@willzhan Can you please include your configuration as well as your code usage (e.g. how you are creating `logoutRequest`)?

[2020-10-20 00:36] #2324 closed

[2020-10-20 01:36] kafka-yu opened #2454 "The "Need admin approval" login response won't throw error? [bug?]"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.4.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm building a front-end app by using the masl 1.4.1.

1. Open the login popup, (note the scopes need to g

[2020-10-20 04:24] bks1242 commented on #2449
Hi ,

I am using angular 9, how & from where to get MSAL.Js 2.0 ?
can you pls guide me?

Thanks!
Babloo Kumar

On Mon, Oct 19, 2020 at 10:11 PM Jason Nutter <notifications@github.com>
wrote:

[2020-10-20 06:20] vishmay-AF commented on #2284
I also had to update to 1.4.1 since it was not working while uploaded to server.

[2020-10-20 06:50] dsaunders45459 commented on #2116
@hectormmg sorry for the delay, I was able to test that your branch fixes the issue I was having.

[2020-10-20 07:18] rpapeters commented on #1592
I've been able to resolve the token timeout issue by following the common issues guide found here:
[Common Issues](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/FAQ.md#common-issues)

In our setup we had a redirect in the angular router from '/' to '/some-url' and we where redirecting msal to '/', which would trigger a redirect by angular while acqu

[2020-10-20 10:12] kafka-yu opened #2456 "The acquireTokenSilent will always try to renew a new token instead of obtaining from the locale cache"
## Library
- [x] `msal@1.4.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
1. I first time logged in, and get the access token successfully by acquireTokenSilent method.
2. Next, I found it

[2020-10-20 10:54] GraemeF commented on #2456
I noticed this too, @azure/msal-browser@2.2.0

[2020-10-20 12:57] vcs38 commented on #2295
Sorry to pollute but I still need some help

[2020-10-20 13:27] submarines-and opened #2457 "First only sign in, then (at the push of a button), prompt user for MFA to access protected endpoints."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-10-20 13:43] fagerli93 commented on #2402
Same issue - does anyone have a way around it? Use 1.4.0?

[2020-10-20 13:59] tschmidt01 commented on #2402
Yes, using 1.4.0 will do the job.

[2020-10-20 14:00] ursedaniel opened #2458 "'AADSTS9002327' Can't retrieve token from an SPA"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

"@azure/msal-browser": "^2.3.1",

## Description
I'm trying to successfully authenticate using msal-browser package but after I enter the email and password needed in the microsoft popup i get an error when c

[2020-10-20 14:27] PeterBowater commented on #2456
Also noticed here, have had to fall back onto popups. Not really ideal.

[2020-10-20 14:47] kafka-yu commented on #2456
I've fallbacked to 1.3.4, which works fine...

[2020-10-20 14:50] kafka-yu commented on #2454
I've fallbacked to 1.3.4 which works as expected.... what changed in v1.4.1 team?

[2020-10-20 15:38] jasonnutter commented on #2458
@ursedaniel MSAL Browser does not support any other response mode other than fragment, and as noted in the error, authorization codes acquired with MSAL Browser can only be redeem in the browser (MSAL Browser handles this for you automatically). This is a security feature to help protect the authorization code. If you do not pass `responseMode`, MSAL Browser will acquire the auth code and perform

[2020-10-20 15:46] ursedaniel commented on #2458
<img width="403" alt="Screenshot 2020-10-20 at 18 44 29" src="https://user-images.githubusercontent.com/17604236/96610583-75acfc00-1304-11eb-9536-07a378815e86.png">

@jasonnutter  thank you for your response. Even with responseMode: Fragment or without the parameter at all I still receive this error...

[2020-10-20 16:05] kwilkins commented on #2166
Is there a new ETA on the fix getting merged in for release?

[2020-10-20 16:23] jasonnutter commented on #2458
@ursedaniel How are you invoking the `init` function? Is this being done server-side or client side?

[2020-10-20 17:50] hectormmg commented on #2116
@dsaunders45459 no problem, thanks for the confirmation, I'll try to get this into the upcoming 1.4.2 release!

[2020-10-20 17:52] deasems commented on #2145
HI @sameerag, our app does not have a logout url configured -- the behavior in the original issue is with a blank logout url.
Note - we're configuring our app via the first party identity portal, not the azure portal.

[2020-10-20 17:57] hectormmg commented on #2456
@kafka-yu closing since this is a known issue in `msal@1.4.x` that is being addressed in #2376 and should be fixed in the 1.4.2 release. You can track progress in the original issue #2370. Thanks!

[2020-10-20 17:57] #2456 closed

[2020-10-20 21:05] #2110 closed

[2020-10-20 21:05] #2238 closed

[2020-10-20 21:05] #2284 closed

[2020-10-20 21:05] #2370 closed

[2020-10-20 21:12] dangrahn opened #2461 "Retrieve idTokenClaims for logged in accounts using msal-browser 2.x"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm using `msal-browser` `2.0` together with B2C. I'm successfully authenticating a

[2020-10-20 22:10] #2403 closed

[2020-10-20 22:12] tnorling commented on #2403
@patrick-jones A fix for this will be included in version 2.4.0 which will be released shortly. Thanks again for bringing this to our attention!

[2020-10-20 23:10] #2116 closed

[2020-10-21 00:36] #2350 closed

[2020-10-21 00:36] #2347 closed

[2020-10-21 01:38] v-vrusse opened #2464 "MSAL-Browser: Causing unrelated Jest / React unit tests to fail."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I currently switched our React / Typescript app from ADAL to MSAL v2.  Functionally,

[2020-10-21 02:38] harolpg17 commented on #2402
I same error with version "msal": "^1.4.1" and "msal": "^1.4.2"

Version "msal": "^1.4.0", work for me.

[2020-10-21 07:38] ursedaniel commented on #2458
I tried it via 2 methods, one to load the config from the module level within a factory function, and the 2nd one is this one with the images (the init method is called from within an effect from ngrx state).
Both of the methods throw the same error.

I'll attach the screenshots with the other method, but same output.

<img width="579" alt="Screenshot 2020-10-21 at 10 18 40" src="https://user-imag

[2020-10-21 10:28] francescodelorenzi opened #2465 "sample react-sample-app problem in EDGE"
When I try to run the example in Edge and click on "sign in"

It shows the error message:

even if the pop up blocker is deactivated.
And of course the flow doesn't work and it redirects to the login page
Any suggestion?

[2020-10-21 11:49] Naakhta commented on #2422
This is happening even in the simplest version of the sample - https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular.

For us the scenario is something like this.
Case1: Registered with B2C tenant.

**External AAD user - MSA -   Doesn't redirects to application home page after logout.**
Local AAD user - naakhtab2c@nadimb2ctenant.onmicrosoft.com - Gets redirected to app

[2020-10-21 13:16] tcochran64 commented on #2402
I also still have the same error with 1.4.2:

[code]

[2020-10-21 13:55] lgadola commented on #2402
I downgraded to MSAL 1.4.0 and even lower and am still getting it....
Maybe something in Azure AD has changed?
We have our own organisational tenant.

[2020-10-21 14:26] AyushMahendru commented on #2442
yes if the Browser is internet explorer

[2020-10-21 14:32] AyushMahendru commented on #2442
![Error](https://user-images.githubusercontent.com/71528211/96734522-ef072600-13ba-11eb-8c19-6eead9cbe1d0.jpg)

[2020-10-21 14:42] derekparsons718 commented on #1592
I hoped I wouldn't have to, but I got so tired of this bug that I ended up just upgrading to [v2 (msal-browser)](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) about a week ago, and I haven't seen the issue since.

[2020-10-21 14:58] tcochran64 commented on #2402
When I went back to 1.4.0, mine started working again.

[2020-10-21 15:13] forellendev opened #2466 "Authorization Code after redirect accessible in browser history"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
According to [best current practice](https://www.ietf.org/archive/id/draft-ietf-oaut

[2020-10-21 15:38] jasonnutter commented on #2451
@baSSiLL Thanks for the information. We're checking with the B2C service about this behavior, and will follow up when we know more.

cc: @ktsakas

[2020-10-21 16:06] sameerag commented on #2466
@forellendev The `authorization code` is protected by PKCE in order to prevent `replay`

[2020-10-21 16:14] sameerag commented on #2464
@tnorling Can  you please take a look at these `React` unit test case failure?

[2020-10-21 16:19] sameerag commented on #2461
@dangrahn Thanks for bringing this to our attention. This can be possible and I am marking this as an `enhancement` to our library. Please watch out this space for a PR.

[2020-10-21 16:47] tnorling commented on #2464
@v-vrusse It looks like `document` is null in your test environment. You can either assign a global `document` or mock out the part of msal that is attempting to access it. From the stack trace it looks like `BrowserStorage.cleanRequest` is what's calling this. This function is called in each of the `acquireToken` and `login` APIs as well as `handleRedirectPromise`.

If you have additional questio

[2020-10-21 17:07] jkdouglas commented on #2445
@gidich - Could you provide a bit more clarity on what you mean when you say "allow users to sign up for external identities without AAD accounts"? What is the end state for that user and what type of identity are they using to sign up? Today, we support AAD accounts, Google, and Facebook. We are working to add more supported identity types to self-service sign up. Would love to hear your feedback

[2020-10-21 17:21] v-vrusse commented on #2464
@tnorling That's what I originally thought, so I used [this SO answer](https://stackoverflow.com/a/16194633/183195) to mock out `document.cookie` to no avail.  It's also my understanding that JSDOM implements document already which is used by Jest / React Testing Library to test that our components are rendering as expected.  It's also worth noting that I'm never calling `acquireToken`, `login`, n

[2020-10-21 17:32] thoo1 opened #2467 "MSAL Browser: Return specific error when invalid authority is provided"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
When logging a user into an invalid tenant (tenant id is wrong or does not exist), the logi

[2020-10-21 18:32] tnorling commented on #2464
@v-vrusse Can you debug this? These APIs are the only entry points to getting the stack trace you shared above so if your tests aren't calling them directly maybe something else in your app is?

[2020-10-21 18:44] Kinani commented on #2402
Since starting using this library, my mental health is slowly downgrading.

[2020-10-21 19:11] v-vrusse commented on #2464
Our app is wrapped by a React Context that has the authClient and httpClient in it.  This component ensures that the user is logged in before api calls are made via the httpClient which uses the authClient.  In unit tests, I initialize the authClient with a mocked version rather than the one that uses the msal apis:
[code]

The other components in the package I'm attempting to run tests for don't

[2020-10-21 20:54] hectormmg commented on #2402
Hi everyone. It seems the problem you are all experiencing may be unrelated to the fix in 1.4.2. I'm having trouble reproducing this specific scenario, so I would really appreciate it if someone could post a screenshot or snapshot of what the keys in the cache look like when this error comes up. If anyone could reproduce this with one of our samples that would also be very helpful.

@web265p3 coul

[2020-10-21 21:18] #2381 closed

[2020-10-21 22:49] jasonnutter commented on #2467
@thoo1 Seems like a reasonable improvement, thanks for the information.

[2020-10-21 23:11] v-vrusse commented on #2464
I finally tracked down the one test that somehow was still managing to grab the real context implementation rather than the mocked one.  Not sure how that test was one of the ones always passing while the tests that didn't use the context at all were the ones failing randomly =/

Closing since the test suite passes now; although, it would still be worthwhile if a React example with unit tests were

[2020-10-21 23:11] #2464 closed

[2020-10-21 23:26] tnorling commented on #2420
Resolved offline

[2020-10-21 23:26] #2420 closed

[2020-10-21 23:29] gidich commented on #2445
With the Tenant Authority when a user attempts to create an account and chooses the "email" option, it's not apparent that in selecting "email" really means "Sign up using an email associated with an AAD account from this tentant or some other tenant".

![image](https://user-images.githubusercontent.com/1847881/96799341-eb7e9980-13d0-11eb-9659-05f43ecc52aa.png)

With the Tenant Authority if the us

[2020-10-21 23:52] gidich commented on #2445
With the Common Authority, user can create a new account (as depicted below):

![image](https://user-images.githubusercontent.com/1847881/96802029-f805f080-13d6-11eb-90a5-f9f472b03cbd.png)

[2020-10-22 00:37] #2357 closed

[2020-10-22 00:37] #2351 closed

[2020-10-22 03:03] kafka-yu commented on #2456
@hectormmg thanks

[2020-10-22 10:27] cloudsere opened #2472 "Consent error when acquire token for delegated api"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
After signing in the user, I try to call `acquireTokenSilent` on scope of my delegated api

[2020-10-22 10:32] bilalmalik777 opened #2473 "Getting error on login when application get launched"
Hello, We are using msal.js for authentication, in the react js application, from the azure ad. On the first login, it is throwing the error which is given below, but refreshing the page it starts to work perfectly. Configuration and code is also mentioned below

**Error**
`AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session wer

[2020-10-22 10:32] #2400 closed

[2020-10-22 10:59] lgadola commented on #2402
[MSAL.txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/5422162/MSAL.txt)

I have attached token cache and requested scopes.
Interesting: openid, profile & mail were not specified in my scopes. Maybe attached by MSAL?

[2020-10-22 14:12] Nessario opened #2474 "How to retrieve authorization code in a Reactjs application"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello, so we were looking into using the msal-browser to retrieve the authorization code of the user, from which then we have access to update the user's calendar events. But, for some reason t

[2020-10-22 16:14] georgejdli opened #2475 "loginPop in Chrome navigate to application login page instead of Azure AD login"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.4.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
react- 16.13.x

## Description
There is an intermittent issue in Chrome with `loginPopup()` where the popup doesn't navigate the user to the Azure AD login but instead navigates to the applicati

[2020-10-22 17:10] Nick-Lucas opened #2476 "Error in acquireTokenSilent caused by ServerTelemetryManager.maxErrorsToSend, and causing infinite loops"
## Library
- [X] `@azure/msal-browser@2.4.0`
- [X] `@azure/msal-browser@2.3.1`
- [ ] `@azure/msal-browser@2.3.0`

## Framework

React

## Description

To preface I believe the particularly nasty (infinite loops) version of this bug may be surfacing because of how we handle errors while acquiring tokens, but it looks to be a mistake in a recent refactor none-the-less, as this should probably not be

[2020-10-22 17:22] jessemartin commented on #2476
+1
I was about to report this exact same issue.

[2020-10-22 17:25] Nick-Lucas commented on #2476
Okay so it looks like it was introduced in 2.3.1 by this PR:

https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2223/files#diff-8f520c4118a0debf84e7a09b00a8de21269592c97333980f204b7d99e1e8d3acR129

Just more safely accessing the error code length is enough to offset the problem, though I can imagine there being a truer root cause that error codes should never be null?

2.3.0

[2020-10-22 17:31] jessemartin commented on #2476
The `errorCode`s seem to be `undefined`, which gets casted to `null` when run through Storage.
<img width="1074" alt="errorCode" src="https://user-images.githubusercontent.com/1626240/96908562-a8b0d600-1451-11eb-8beb-c91611451889.png">

[2020-10-22 17:48] pkanher617 commented on #2476
@Nick-Lucas @jessemartin Thanks for looking into this. I will take a look and try to push a patch out ASAP.

[2020-10-22 17:52] willzhan commented on #2452
const logoutRequest = {
account: cachedAccount
};
And thru debugging, I can see the cachedAccount has all the valid attributes.

[2020-10-22 20:49] muperi opened #2478 "Token Renewal - Offset Time (tokenRenewalOffsetSeconds)"
Do we have the ability to configure an offset time by which the library should fetch new tokens and not return the ones from the cache?

Also, in our current implementation we have implemented a polling mechanism where we call acquireTokenSilent every 10 minutes to get a token. However I am not sure what would happen if the token (returned from the cache) has an expiration time between two 10 minu

[2020-10-22 20:55] jasonnutter commented on #2478
@muperi Please follow one of the existing issues templates, thanks! https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose

[2020-10-22 20:59] muperi opened #2479 "Token Renewal - Offset Time (tokenRenewalOffsetSeconds)"
Do we have the ability to configure an offset time by which the library should fetch new tokens and not return the ones from the cache?

Also, in our current implementation we have implemented a polling mechanism where we call acquireTokenSilent every 10 minutes to get a token. However I am not sure what would happen if the token (returned from the cache) has an expiration time between two 10 minu

[2020-10-22 21:19] nkelly75 opened #2480 "storeAuthStateInCookie config not working as expected in older Edge and IE11"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x` (specifically 2.3.1 but believe also 2.4.0)
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
None (not using React/Angular etc.)

## Description
Using MSAL Brows

[2020-10-22 21:34] tcochran64 commented on #2402
I have also attached the token cache and scopes (with actual token values removed).  I didn't think you needed the actual values.
[msal.txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/5425979/msal.txt)

[2020-10-22 22:03] jasonnutter commented on #2480
I think this will be addressed in #2415 by this change: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/93a0f3b2558cb24117ca2263364dff539e2efecd/lib/msal-browser/src/cache/BrowserStorage.ts#L300-L314

cc: @sameerag

[2020-10-22 22:43] #2161 closed

[2020-10-22 22:43] #2328 closed

[2020-10-22 22:43] #2480 closed

[2020-10-22 22:53] sameerag commented on #2479
Closing this as a dup to [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2479)

[2020-10-22 22:53] #2479 closed

[2020-10-22 22:56] sameerag commented on #2475
@georgejdli Can you please share any  logs you have and a fiddler trace? Is it possible that the popUp is supposed to be a consent screen only in this scenario?

Also, do you see any tokens at all returned or are you stuck with the popup?

[2020-10-22 22:59] sameerag commented on #2472
Is your application registered as a "SPA type" in the portal?

[2020-10-23 00:19] georgejdli commented on #2475
Sorry I don't have any useful logs to share and can't run fiddler behind our corporate proxy.
The popUp is for interactive login (username and password) No tokens are returned and I'm stuck with the popup.

I retested in Chrome with private browsing.
![msal-login-private](https://user-images.githubusercontent.com/9357792/96942653-5a282980-149b-11eb-8078-69c717cd5cda.png)
So I get the above login p

[2020-10-23 00:37] #2367 closed

[2020-10-23 00:37] #2362 closed

[2020-10-23 01:12] thoo1 opened #2482 "AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
I see some errors in our logs where users are getting "AADSTS9002327: Tokens issued for the

[2020-10-23 06:48] francescodelorenzi commented on #2465
Adding the version of Edge on Windows 10

Microsoft Edge 44.17763.831.0
Microsoft EdgeHTML 18.17763

[2020-10-23 08:21] Nick-Lucas commented on #2474
Sounds like this could be #2476

Try dropping to version 2.3.0 for now

[2020-10-23 08:25] nagulapallinaveen commented on #2402
I have implemented it in angular:

delete package-lock.json adn execute the following commands if you are using these npm:
npm i @azure/msal-angular@1.0.0
npm i msal@1.3.0
npm i @microsoft/microsoft-graph-client@2.0.0
npm i

With the above versions it is working fine.
if the versions of these packages are above and beyond this causing the issue.

[2020-10-23 09:31] lgadola commented on #2402
can confirm downgrading to msal 1.3.0 it starts working again

[2020-10-23 11:20] nkelly75 commented on #2480
Thanks @jasonnutter. Confirming that if I build the latest from `dev` branch the changes merged from #2415 resolve this. I see that release 2.4.0 is now hosted [on the CDN](https://alcdn.msauth.net/browser/2.4.0/js/msal-browser.min.js). However, I think that precedes the merge of #2415. Do you know when we should expect the next release?

Also, do you think it makes sense for applications using MS

[2020-10-23 13:17] rangeranger commented on #1592
@derekparsons718 : Did you write a custom interceptor to add tokens to HTTP requests?

[2020-10-23 16:12] jasonnutter commented on #2458
@ursedaniel Can you please share a Fiddler trace with me showing this behavior? Email is in my profile, thanks!

[2020-10-23 16:14] sameerag commented on #2482
This is thrown by the server in some cases where the expected headers are missing. Following offline with @thoo1 for a repro to check why this may happen.

[2020-10-23 16:15] sameerag commented on #2458
@ursedaniel After some digging, we figured this error is thrown by the `server` in some cases where the expected headers are missing. We are trying for a repro to check why this may happen. Can you please track this issue with #2482?

[2020-10-23 16:15] #2458 closed

[2020-10-23 16:18] sameerag commented on #2478
@muperi As mentioned above, can you please use the template, especially to understand which `msal` library and version you are using and your sample code?

Can you also let us know why you are polling for every ten minutes? Expanding your use case can help us give you alternate options instead of polling.

[2020-10-23 16:25] sameerag commented on #2475
@georgejdli Can you generate a .har file from the chrome dev tools? Also may be emailing us the uncensored urls will help us understand what is happening with the `redirect`. Can you please reach out to us [here](sameera.gajjarapu@microsoft.com)?

[2020-10-23 18:02] #2444 closed

[2020-10-23 18:08] sameerag opened #2484 "Add `nock` to E2E framework"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
Add `nock` tests to E2E framework to d

[2020-10-23 19:08] sameerag commented on #1332
Multiple PRs addressed this and moving it to done. Any README updates can be requested by the community by raising a new issue.

[2020-10-23 19:08] #1332 closed

[2020-10-23 19:10] sameerag commented on #1282
This is merged with #2023

[2020-10-23 19:10] #1282 closed

[2020-10-23 19:14] jasonnutter commented on #2268
@thiagodpaz Interesting, we'll take a look at this. cc: @tnorling

[2020-10-23 19:20] sameerag commented on #1822
Closing this as "At this point no validation is expected from all MSALs" as per the ADFS team. If this feature if revamped in future, will track it with a new Issue.

[2020-10-23 19:20] #1822 closed

[2020-10-23 19:24] sameerag commented on #2418
Can you please share the error? In theory, the above code should have worked if all scopes are pre-authorized. May be looking at the specific error code will give us a better clue on why this is failing for you.

[2020-10-24 00:37] #2334 closed

[2020-10-24 00:37] #2307 closed

[2020-10-24 23:44] ralphtheninja opened #2488 "TypeError: history.replaceState is not a function - in office.js"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

`webpack`, `react`

## Description

The redirect promise crashes due to `history.replaceState` is not a functio

[2020-10-25 14:27] DaniusLabs commented on #2161
so what's the solution for this, still happening in 2.4 in Safari.  Thanks.

Daniel.

[2020-10-25 18:18] #2385 closed

[2020-10-26 09:15] mexmirror commented on #2268
I am sorry for the late reply. I was able to come up with a workaround for the redirect flow. I was able to investigate further into the issue with the Guard. The problem is, that the promise of `handleRedirect` is resolving before the data is written into the storage (SessionStorage in my case). Since this is only an issue when initially acquiring the token e.g. the redirect happens, the observab

[2020-10-26 15:20] jrmcdona commented on #2421
@tnorling  I think I see the issue here.    We are using auth guards on our Angular routes.   The Auth guard is getting called before the user has been authenticated during the redirect process and therefore triggers another loginRedirect request and starts a loop.

It then errors out saying there is already an interaction in progress.

I am having some difficulty thinking of a way to get around t

[2020-10-26 15:24] jrmcdona commented on #2421
@tnorling  is there a way I can capture the URL  where MSAL is going to redirect to?  Because if so then maybe I can get the URL and do something on my own with it.   Not sure what but trying to come up with some ideas.

[2020-10-26 15:26] georgejdli commented on #2475
@sameerag I just sent you an email from my work email address with the HAR files

[2020-10-26 15:30] jrmcdona commented on #2421
Actually,  maybe MSAL.JS should not perform a redirect until the callback has completed.

[2020-10-26 16:10] jasonnutter commented on #2488
@ralphtheninja Can you please provide more information about the browser environment your app is running in? `history.replaceState` should be available in [all modern browsers](https://developer.mozilla.org/en-US/docs/Web/API/History/replaceState#Browser_compatibility). Is it possible your app is overwriting the `history` object?

[2020-10-26 16:17] tnorling commented on #2161
@DaniusLabs We believe the linked PR should fix this issue. It is slated for release in 2.5

[2020-10-26 16:25] ralphtheninja commented on #2488
Yes, I'm using `office.js`.

[2020-10-26 16:37] bhasker412 opened #2489 "Register Msal providers with dynamic msal configuration values from azure app service app settings not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
I am using Msal in Angular 9.1.1 version to load msal configuration for each environment dynami

[2020-10-26 16:47] jasonnutter commented on #2489
@bhasker412 A guide for how to use `APP_INITIALIZER` can be found here: #1403

[2020-10-26 17:13] jasonnutter commented on #2488
Okay, thanks for the confirmation. We'll investigate this and follow up when we have a resolution.

[2020-10-26 17:17] cheslijones opened #2490 "@azure/msal-react: usable or time frame for release?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-10-26 17:24] jasonnutter commented on #2490
@cheslijones We have an updated roadmap available [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md). We're working to have a preview version available by November.

[2020-10-26 17:31] cheslijones commented on #2490
@jasonnutter Got it, thanks.

[2020-10-26 17:31] #2490 closed

[2020-10-26 17:44] jasonnutter commented on #2473
@bilalmalik777 Can you please include more information about your scenario? What version of MSAL.js are you using? Which browsers are you seeing these errors? Also, can detail what your app is doing on page load? Are you initiating an http request when the page loads, which invokes `acquireTokenSilent` (via the interceptor)?

[2020-10-26 17:45] tnorling commented on #2476
@Nick-Lucas Thanks again for bringing this to our attention. I've just put up a PR which should fix this, you can expect it to be included in the next release, currently slated to be 2.5.0

[2020-10-26 17:51] tnorling commented on #2474
@Nessario This was confirmed to be a bug in the library, the linked PR will address this in our next release. For now as @Nick-Lucas
 mentioned, please downgrade to version 2.3.0

[2020-10-26 17:52] jasonnutter commented on #2457
@submarines-and Can you please provide more details on your scenario? Why do you need two app registrations? Have you considered enabling [conditional access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview) in the first app?

To clarify, is the desired behavior that when the user provides consent for a given set of scopes for the second application, that it ena

[2020-10-26 17:54] #2474 closed

[2020-10-26 17:54] #2476 closed

[2020-10-26 17:57] submarines-and commented on #2457
As I've understood it, CA is on the app level. So if I have a single app that has tenant-approved all scopes already, MFA will always be enforced for that app if any of the scopes require it (e.g. Mail.Read). This is at least how it ends up during testing.

Not necessarily, a perfectly acceptable workaround is that the second app handles all token requests to the MFA protected scopes. We did a POC

[2020-10-26 18:02] nickgmicrosoft commented on #2422
So this seems to apply only to MSA as an IDP? For this scenario, there are **two** registered applications:
1) One for MSA (as described [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-microsoft-account)); used for IDP federation
2) One for the application that's signing in/signing out users using Azure AD B2C

Can you upload or share a picture of your manifest

[2020-10-26 19:51] jasonnutter commented on #2433
@rotirk20 Yes, you can use the `protectedResourceMap` to configure the MSAL Inteceptor: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular9-sample-app/src/app/app.module.ts#L26

[2020-10-26 19:57] DaniusLabs commented on #2161
Thanks @tnorling
My questions was more about what should I offer as means to logout to my current safari users?
When is 2.5 scheduled for?

Thank you.

[2020-10-26 20:43] mikehgm opened #2492 "acquireTokenFailure ClientAuthError invalid key the cached token key is not a valid JSON and cannot be parsed"
## Library
- [x ] `msal@1.4.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
 "@angular/cdk": "^8.2.0",
 "@angular/cli": "^7.3.9",

## Description
Every first time when the app launch in the app init tries to r

[2020-10-26 21:32] tnorling commented on #2161
@DaniusLabs I was actually corrected, this fix was just released today in version 2.4.1. Please give that a go and open a new issue if you continue to see this error. Thanks!

[2020-10-26 21:57] ralphtheninja commented on #2488
Thanks! I'd be happy to try out a test branch if you need an extra verification or similar.

[2020-10-26 22:09] jasonnutter commented on #2268
@mexmirror What happens when you don't include `last()`?

[2020-10-26 23:41] thodwris opened #2493 "ClientAuthError: Login_In_Progress: Error during login call"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.3.2` (tried with 1.4.2 as well)
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React

## Error Message
`ClientAuthError: Login_In_Progress: Error during login call`

## MSAL Configuration
Default

## Reproduction steps
When I click outlook login b

[2020-10-27 00:34] jonathandturner opened #2494 "Allow timeout configurability with Device code"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
 - msal-node

## Description
Something that we'd like to be able to do is set a timeout for the device code credential so that once the timeout has been reached, we return control and can give an error to the user. It seems that some MSAL languages, like Python (https://github.co

[2020-10-27 00:38] #2371 closed

[2020-10-27 01:30] jasonnutter commented on #2268
#2495 has been opened to address the issues in this issue. This will update the Angular 10 sample, and also be available in the next release on `@azure/msal-browser`.

[2020-10-27 02:44] sameerag commented on #2494
Thanks @jonathandturner for raising this. I think this is possible. Will update this space once the specifics are clear. Tracking this PR with node project.

[2020-10-27 06:06] sameerag commented on #2475
Thanks @georgejdli. Will check the data and reach out.

[2020-10-27 07:14] felixvanleeuwen commented on #2309
@jasonnutter

[2020-10-27 09:01] Nessario commented on #2474
Thanks @Nick-Lucas & @tnorling,

The `TypeError: errorCode is null` error was fixed by upgrading the library to the version 2.4.0, though it still didn't really help us much, because what we were looking for was the refresh token to send it to the back-end. Unfortunately, it looks like the *msal-browser* doesn't provide that field.

What we did instead is the [request an authorization code flow](h

[2020-10-27 10:15] copiltembel opened #2497 "ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

This has started happening today. It used to work until now. I haven't changed anything on my c

[2020-10-27 10:29] svrooij opened #2498 "PoP tokens in Angular application"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I figured out the [msal-angular](https://www.npmjs.com/package/@azure/msal-angular) package is still using the implicit flow. Due to the fact that everybody is telling us to no longer use the

[2020-10-27 11:16] copiltembel commented on #2497
It seems it has been fixed in the mean-time.

Would be nice to get feedback from Microsoft on this issue.

[2020-10-27 11:16] #2497 closed

[2020-10-27 12:20] AndriiBoiko1 opened #2499 "SSO(log in, log out) on different domains"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I ran into issue when moving from MSAL 1.3.1  to  2.x. I have 2 SPA apps  (using B2C

[2020-10-27 12:31] bilalmalik777 commented on #2473
we are using latest version of  MSAL.js, We are facing accross all the browser over first login.
First of all we check either user is logged in or not.

1.  if not we redirect to login page using **AuthContext.loginRedirect(loginRequest)**

2. if user exists, we call **AuthContext.acquireTokenSilent(tokenRequest)**, over first call it is getting failed with the following exception **Msal.Interacti

[2020-10-27 15:23] naishx opened #2500 "Account caching issue"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
After a successful login the user account is stored in the local cache. But the next

[2020-10-27 15:42] jasonnutter commented on #2498
@svrooij We are already working on upgrading MSAL Angular to use MSAL Browser, and will have a preview version available soon.

[2020-10-27 16:05] sameerag commented on #2500
@naishx `localAccountId` should be added in the `msal` code. Can you please share the library version you are seeing this issue?

Note: General recommendation is to follow the template, so we have all the necessary data to proceed with an issue.

[2020-10-27 16:09] sameerag commented on #2493
@thodwris This error is thrown intentionally when we open multiple pop-ups. Can you please give us more context on your scenario?

[2020-10-27 16:14] naishx commented on #2500
Edited with template and library version.

[2020-10-27 16:18] ueabu commented on #2482
I am having the same issue with a Single Tenant Application using `PublicClientApplication`

[2020-10-27 16:22] sameerag commented on #2499
@AndriiBoiko1 To SSO to an existing session using `msal 2.x` we recommend `ssoSilent` API. As noted in the docs, it still uses `iframes` hence it is susceptible to ITP and hence we recommend `loginPopup` or `loginRedirect` as a fall back.

As long as you are trying to access the same service session, you should be able to SSO.

Have you tried other browsers? And have you any clue why it is taking

[2020-10-27 16:23] sameerag commented on #2492
cc @hectormmg. Can you please take a look at this issue?

[2020-10-27 16:38] bhasker412 commented on #2489
Thanks for the quick reply, will implement and update you.

[2020-10-27 17:34] rangeranger commented on #2492
I'm also getting the same error

[2020-10-27 17:42] N-Argyle commented on #2492
Same issue in Firefox, Chrome, Brave on macOS.

[2020-10-27 17:59] N-Argyle commented on #2492
FWIW, bug is not present for me with combination msal 1.4.1 and react-aad-msal 2.3.4.

[2020-10-27 18:21] jasonnutter commented on #2488
PR with fix linked above.

[2020-10-27 19:28] simardo commented on #2482
It might help or (probably) not. I ended up in this thread because I got the same error:

and solved the problem.

I'm **NOT** using MSAL.

I have a custom test webclient that I use to test multiple oAuth flows (implicit, pkce, auth_code, etc.).

I got this error precisely when the PKCE flows tries to refresh the token using the provided refresh_token. My problem was that the code was running serv

[2020-10-27 19:35] DaniusLabs commented on #2161
Thanks @tnorling
This seems to work now. Thank you very much!

[2020-10-27 21:03] gumowy-kaczak commented on #2492
same here, msal 1.4.2 and angular library 1.1.1..
I would promise that this worked few days ago..

[2020-10-27 21:10] gumowy-kaczak commented on #2492
Perhaps related:
[code]
https://status.azure.com/en-us/status/history/

[2020-10-27 21:21] gumowy-kaczak commented on #2492
I just force set `accessTokenAcceptedVersion` to `1` and it works back to me..
[code]

[2020-10-27 21:24] graphicsxp opened #2503 "How to acquire access token when there is no scope"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.3.1
- [x] `@azure/msal-angular@1.1.1`

## Description

In my angular application, I receive id token and access tokens for some APIs that are called by the application.

Whenever a http request is made to one of the API, I have an interceptor to retrieve the access

[2020-10-27 21:36] jasonnutter commented on #2503
@graphicsxp Is it possible this API is expecting an ID token? You will need to clarify with the maintainers of said API.

[2020-10-27 22:23] thoo1 commented on #2482
^ makes sense,
From the last time @sameerag and I debugged, I think it is because the "Origin" header (which most browsers add) was missing from the request
In my case I don't know why its missing

[2020-10-27 22:40] graphicsxp commented on #2503
@jasonnutter I am the mantainer of the API. Basically it is just a asp.net core API that expects the ID token in the header of the request.
But as I said the problem is not really the API itself, it is just the fact that there are no scopes on this API and I don't know how to fetch the token from cache given the code above.

[2020-10-27 22:50] harveyramer opened #2504 "Overzealous Cache Manager does not return some valid account tokens"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/532fbcfeb542452ce3ac434fc1704a39d9218e14/lib/msal-browser/src/cache/BrowserStorage.ts#L133

The msal-common cache manager contains this `isAccountEntity` function:

[code]

However, not every valid session is guaranteed a  localAccountId property. In fact, in the little documentation I found about localAccountId, it seems to b

[2020-10-27 23:19] mikehgm commented on #2492
For which framework are you using the Msal library?, I'm asking because I don't see  the property `accessTokenAcceptedVersion` in the config properties

[code]

[2020-10-27 23:46] hectormmg commented on #2492
Hi everyone, I can confirm this is a bug in `msal@1.4.2`. The problem is being caused by a bug in the way we look up ID tokens that doesn't take into account concurrent acquireTokenSilent calls. I'll start work on a fix and update the issue when the PR is ready.

[2020-10-28 00:41] hpsin commented on #2397
#please-close the ask is not supported today.

[2020-10-28 00:52] #2397 closed

[2020-10-28 00:53] jasonnutter commented on #2504
@harveyramer Does this seem like the same issue described in #2500?

[2020-10-28 00:55] harveyramer commented on #2504
Yes. It's a duplicate. I didn't see it already logged.

[2020-10-28 01:06] jasonnutter commented on #2503
@graphicsxp I believe if you configure your application to accept an audience claim that matches your client id, it could accept ID tokens acquired by msal (which you get from the `openid profile` scopes). That said, we do not recommend protecting backend APIs with ID tokens, and instead you should register a custom scope in the Azure portal and use MSAL to acquire an access token for that scope.

[2020-10-28 03:07] plamber opened #2506 "Bug - msal-browser@2.3.0 throws an exception when logging out"
## Library
- [x] `@azure/msal-browser@2.3.0`

## Framework
React 1.6

## Description
MSAL browser fails on a Chrome on Windows 10 machine when trying to logout. Use the logout method of the object with and without logoutRequest operation.
Seems that the windowStorage object where you are retrieving the cached items to delete might not only contain JSON objects when looking up for idtokens (see scr

[2020-10-28 03:09] kostrse opened #2507 "Expose OID aka localAccountId in AccountInfo"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

In the MSAL v2 library, `AccountInfo` exposes `homeAccountId` which is user's OID i

[2020-10-28 03:19] CerosDev opened #2508 "allowPublicClient in App Registration for Auth Code Flow"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [x] docs.microsoft.com
- [x] MSAL.js Github Wiki
- [ ] README file
- [

[2020-10-28 06:29] sameerag commented on #2507
@kostrse Thanks for raising this. I think this can be done, will soon raise a PR for the same.

[2020-10-28 06:32] sameerag commented on #2506
@plamber The latest browser version should resolve this issue. Can you please test this with `msal-browser@2.4.x` and let us know if this is still an issue?

[2020-10-28 07:17] plamber commented on #2506
Hi @sameerag,
thank you for the feedback. I upgraded to 2.4.1 and I can't reproduce the issue.

I will come back to you if I notice something coming up.

Thank you,
Patrick

[2020-10-28 07:17] #2506 closed

[2020-10-28 07:48] berthertogen commented on #2492
I can confirm downgrading from 1.4.2 to 1.4.1 solved this for us.

[2020-10-28 07:49] graphicsxp commented on #2503
Sorry, I meant Access token. In Azure my Angular application is already configured to acquire an access token. Only i did not create any scope for this API. Because my understanding is that scope are for giving client access to specific parts of an API. But my cient app should be able to access everying.
So you are saying that in my case, there should be at least one scope for this to work ?

[2020-10-28 09:25] AndriiBoiko1 commented on #2499
@sameerag Thanks for the reply.

Regarding ~30secs:

I'm using func like this to sso (it is executed on every page load)
[code]
And I get this log in console with no errors or additional logs (you can see a huge gap between 1st and 2nd event)
![image](https://user-images.githubusercontent.com/57752495/97416087-aac1db80-190e-11eb-9219-a31c4ca67546.png)

Regarding "recommend loginPopup or loginRedir

[2020-10-28 10:04] Shyam268 commented on #2423
i think my case is different. we are using one wrapper service instead of exposing all services. the wrapper service which will redirect to intended endpoints based on the route.

[2020-10-28 11:22] ralphtheninja commented on #2488
Awesome. Thank you for swift response!

[2020-10-28 11:30] daniel-seitz opened #2509 "PublicClientApplication->getAllAccounts() not considering config.auth.authority"
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.4.0` and  `@azure/msal-common@1.6.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We create our authApp-instance and provide the tenant (config.auth.authority)
Upon browser refresh we use getAllAccounts() and then aquireTokenSilent() in order to figure

[2020-10-28 12:33] gavinjjc commented on #2492
I can also confirm downgrading worked. Currently using the following:

"@azure/msal-angular": "^1.1.1",
"msal": "1.4.1"

[2020-10-28 13:06] mikehgm commented on #2492
really?, let me try

[2020-10-28 13:08] CerosDev commented on #2507
My solution is to perform a `acquireTokenSilent` to retrieve the Id Token. From my understanding, this should get the one from the cache if it's still valid.

But doing so requires you to convert your function to async/await.

It would be great if the `getAllAccounts` could return the cached Id Token too. I believe this was the case in msal-core (msal 1.x)

[2020-10-28 13:26] NuSkooler commented on #2418
@sameerag I've been pulled to another project for a bit, but I'll try to get you information ASAP

[2020-10-28 14:39] gumowy-kaczak commented on #2492
@mikehgm Just ignore my revelations about `accessTokenAcceptedVersion `.. it was my misunderstanding of the documentation.. so generally it magically started to work, but only in dev browser. When tried in normal browser it puked error as in your post. I tried going down to `1.4.1` but that caused another issue.. `The cache contains multiple tokens satisfying the requirements` - it is also registe

[2020-10-28 15:40] gavinjjc commented on #2492
Might not be the most elegant solution but we were able to catch that error, clear our local storage and then initialise our user/acquire our token again.

[2020-10-28 15:42] mikehgm commented on #2492
I've been trying to use a preview version like @berthertogen and @gavingjjc said but I got the same error, @gumowy-kaczak which angular-msal version are you using?  "@azure/msal-angular": "^1.0.0-beta.5" ?.

[2020-10-28 16:09] sameerag commented on #2509
@daniel-seitz The definition of an `account` is tied up as much as with the `tenantId` as with the `user`. `msal` should treat a user logged in two different directories as two different `accounts`. In your case, since you know the `tenantId`s in advance and get all the accounts with `getAllAccounts()`, can you try filtering based on the `tenantId`?

We are working on a feature that adds `getAccou

[2020-10-28 16:11] sameerag commented on #2508
@CerosDev If `allowPublicClient` is null, then it is assumed that your client is `Confidential`. `msal-browser` supports only `PublicClientApplications` with `PKCE`. Thanks for bringing this to our attention, we will add this to our docs.

[2020-10-28 16:20] rotirk20 commented on #2433
@jasonnutter  That is correct! I set my link in **protectedResourseMap** with null security and it works! Thank you..

[code]

[2020-10-28 16:20] #2433 closed

[2020-10-28 16:43] jasonnutter commented on #2503
@graphicsxp Yes, you should still create a scope.

[2020-10-28 17:38] gumowy-kaczak commented on #2492
I will know later if this works with more cases once it gets to the testing of the app (after PR/build server). On local box it works with packages as below:
[code]

[2020-10-28 18:27] tnorling commented on #1638
Closing as this is possible in `msal-browser` and new features are no longer going into `msal@1.x`

[2020-10-28 18:27] #1638 closed

[2020-10-28 20:59] #2488 closed

[2020-10-28 21:23] svrooij commented on #2498
@jasonnutter is it possible to follow your current work on this topic? I want to contribute that project. Currently using my own version in a working proof-of-concept.

[2020-10-28 21:48] kostrse commented on #2507
I tried `acquireTokenSilent` as a workaround but it isn't perfect solution.

id-token doesn't have concept of expiration but `acquireTokenSilent` is meant for access tokens, so it triggers refresh of access token if it has expired even though I do not need access token itself.

I also have to provide some scopes, `acquireTokenSilent` cannot request access token without any scopes, even though I do

[2020-10-28 21:52] graphicsxp commented on #2503
thanks for confirming 👍

[2020-10-28 21:52] #2503 closed

[2020-10-28 22:21] #2268 closed

[2020-10-28 23:03] #2166 closed

[2020-10-29 00:22] jasonnutter commented on #2498
@svrooij You can see our WIP PR at #2463. We're making some considerable design changes in v2, which we will document in the v2 release notes. Are you interested in contributing anything specific feature or component in particular?

[2020-10-29 00:39] #2382 closed

[2020-10-29 01:59] jasonnutter commented on #2465
@francescodelorenzi Sorry for the delay in responding.

This is not expected, as popups that are opened as the direct result of user interaction should be blocked by default, especially if popups are explicitly enabled. Does this happen in other browsers?

The react-sample-app won't automatically call redirect if there is an error (it should display the error message), can you clarify what is trig

[2020-10-29 01:59] jasonnutter commented on #2504
Closing as duplicate.

[2020-10-29 01:59] #2504 closed

[2020-10-29 02:40] #2380 closed

[2020-10-29 03:16] zhangxAmtrak opened #2514 "MSAL double redirect"
We are implementing company web site to integrate with Azure B2C. The site (SPA application) has over 100 pages and potentially grows.  User can login from every page from a header link.  This makes impossible to configure all redirect URIs in B2C.  We are using following config for MSAL config but this setting potential causes double redirects when B2C sends token back after successful authentica

[2020-10-29 04:04] gidich commented on #2445
@jkdouglas  - The ideal end state would be to allow the tenant authority to permit a visitor without an AAD account to follow the same signup flow as the common authority ( that is - asking to create a password and continue to gain access to the application). In this way Facebook/Google/AAD/_and newly minted Microsoft accounts_ could all have access to the application through self-serve sign-up, a

[2020-10-29 07:22] daniel-seitz commented on #2509
@sameerag thank you for your quick and to the point answer.

This is what I thought of as well, at the same time I would argue that when I new up the object with a certain config, I would expect that this object adheres to the config and wouldn't get things from outside of that boundary.

I don't know if there is a use-case to really get All accounts, from my perspective - yes - getAllAccounts see

[2020-10-29 08:26] OPunktSchmidt opened #2515 "MsalInterceptor breaks ngx-translate"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

Angular 10

## Description

I use ngx-translate in my Angular 10 App. With uses the default HTTPLoader to load the language files.

[code]

When i add the MsalInterceptor to the Angular App ever

[2020-10-29 08:47] sameerag commented on #2509
@daniel-seitz `getAllAccounts()` is intended to serve the purpose of literally getting all the accounts in the cache at a given point of time.`msal-node` and `msal-browser` currently support multiple accounts to be logged in, hence we do not intend to change this behavior. What you are asking seems to be rather `getCurrentAccount()` which is the application context of the `msal-browser` at the tim

[2020-10-29 08:55] sameerag commented on #2514
@zhangxAmtrak Can you please fill the issue template, especially the library version details?

[2020-10-29 10:05] sameerag commented on #2508
@hamiltonha Is this something we can add to Microsoft docs?

[2020-10-29 10:05] daniel-seitz commented on #2509
@sameerag no worries.

I am implementing the workaround - if I may call it like that - since this already serves the purpose.
Hence, it would be a welcomed feature, at the same time: no hurry in implementing this.

Thank you.

[2020-10-29 10:08] sameerag commented on #2500
@naishx Can you elaborate why your account doesn't have `localAccountId`? Specifically can you confirm your `IdToken` does not contain `oid` or `sub` claims?

[2020-10-29 13:10] zhangxAmtrak commented on #2514
Sorry, where is the template?  We include https://alcdn.msauth.net/lib/1.3.2/js/msal.js.  So I assume it's v1.3.2

[2020-10-29 15:18] bstair commented on #2386
any updates on this?

[2020-10-29 15:50] jasonnutter commented on #2515
What do the urls for the http requests from ngx-translate look like? Are they external paths, or local paths on your app?

[2020-10-29 17:04] TimoWilhelm commented on #2500
@sameerag  I'm facing the same issue with @azure/msal-browser 2.4.1 and azure/msal-common 1.6.3. I'm using Azure AD B2C and my `IdToken` does **not** contain an `oid` claim but it does have the `sub` claim.
![image](https://user-images.githubusercontent.com/22396907/97607225-02e10680-1a11-11eb-92e3-e5dfbf3958ec.png)

[2020-10-29 17:21] sameerag commented on #2500
@TimoWilhelm We noticed a bug on our end where we are not adding `sub` and this is being fixed with #2516.

[2020-10-29 17:42] TimoWilhelm commented on #2507
@sameerag Would it be possible for the `ClientApplication` to also have another method `getAccountByLocalAccountId(homeAccountId: string): AccountInfo|null` similar to  https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/15facdac21e62daccde549b48c6d54aa4f2cfc19/lib/msal-browser/src/app/ClientApplication.ts#L597-L610

[2020-10-29 17:58] chattes opened #2517 "Browser Back Button Does not work right from Forget Password Page"
## Library
- [X] `msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
For our default msal configuration, we are having this issue , if a user goes to Sign In page and click forgot pas

[2020-10-29 18:53] lightbulb110 opened #2519 ""User login is required" for unprotected resource in production build"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
    "@azure/msal-angular": "^1.1.1",
    "msal": "^1.4.2",

## Description
When running the ClientApp from ng s

[2020-10-29 18:58] mattmesser commented on #1592
@jasonnutter @tnorling think this issue/library is going to be fixed before the end of the year? It's absolutely bricking our spa. Our team is starting to catch a lot of heat for it since we put it in front of testers and they cant log in over 60% of the time. That, and issue #2492 have made testing our SPA impossible. It's a nightmare.

[2020-10-29 19:02] jasonnutter commented on #1592
We are looking to merge #2492 soon (hopefully today).

Have you done any debugging into what is causing the timeouts (they can happen for many reasons)? A common problem with Angular applications is that the Angular router clears the hash before MSAL has a chance to parse it. Setting `initialNavigation` to false when your app is inside an iframe has shown to help mitigate that specific root cause.

[2020-10-29 19:03] jasonnutter commented on #1592
If that does not help, feel free to share MSAL logs and fiddler traces with me via email (which is in my profile).

[2020-10-29 20:06] #2492 closed

[2020-10-29 20:10] CerosDev commented on #2508
@sameerag @hamiltonha  I'd like to also point out that according to [this doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#redirect-uri-msaljs-20-with-auth-code-flow):

Which totally brake the [id_hint_token invitation flow ](https://github.com/azure-ad-b2c/samples/tree/master/policies/invite) with this error:

[2020-10-29 20:28] kostrse commented on #2507
Same person can be logged in to several tenants as a guest user.
In each tenant the person will have a different user object (different 'oid`) but `homeAccountId` will be the same.

The accounts collection may have several entries with same `homeAccountId` making `getAccountByHomeId` not reliable.

[2020-10-29 21:17] thoo1 opened #2521 "SyntaxError: Unexpected token e in JSON at position 0 at JSON.parse (<anonymous>) at t.getIdTokenCredential"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.4.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React
## Description
Got a syntax error while trying to login
Uncaught (in promise) SyntaxError: Unexpected toke

[2020-10-29 21:52] jkdouglas commented on #2445
Thanks @gidich - this makes sense and I understand you are looking a better sign up experience with more options for users to sign up with. We have a few things on our roadmap that will help address some of your points, so stay tuned!

[2020-10-29 22:18] thoo1 commented on #2521
Let me know if you need any more info from me regarding state of localStorage etc

[2020-10-29 22:55] emilepretorius opened #2522 "MSAL.js loginPopup() method returns a cached login instead of account entered"
## Library
- [x] `msal@1.3.4`
- [x] `msal@1.4.3`

## Framework
React

## Description
The loginPopup() method returns a cached login regardless of the account manually entered.

## Error Message
N/a

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did this behavior work before?
Version: Unknown

## MSAL Configuration
const msalConfig = {
    auth: {
        clientId: config.a

[2020-10-29 23:38] sameerag commented on #2507
Let me summarize and comment on the asks in this thread:

Possible. Let me get back on this.

I think the tenant profiles feature we are starting soon should encompass this. I have already marked this as a feature and will track it with the said work item.

[2020-10-29 23:50] pkanher617 commented on #2522
@emilepretorius Do you see the new account object in your sessionStorage?

[2020-10-29 23:50] TimoWilhelm commented on #2507
`getAccountByHomeId` is already implement, as is `getAccountByUsername`. They are just convenience methods so you don't have to do `getAllAccounts` and then filter yourself.

Since we now also have localId, I think it would be a good idea to add `getAccountByLocalId` as well.

[2020-10-30 05:32] Shyam268 commented on #2422
@nickgmicrosoft This is critical issue now for us  and blocking production deployment

[2020-10-30 11:01] OPunktSchmidt commented on #2515
@jasonnutter The language files are located in my asset-folder as .json files:

![image](https://user-images.githubusercontent.com/7362709/97697209-f8714c00-1aa6-11eb-86fe-1a41f809a20b.png)

ngx-translate sends an additional http-request to get this files:

![image](https://user-images.githubusercontent.com/7362709/97697358-2fdff880-1aa7-11eb-9e24-872b5cbecd85.png)

This works well, as long i'm si

[2020-10-30 12:49] soufian044 opened #2524 "getAllAccounts() returns an empty array"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.4.1` and UP
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
VueJs
## Description
getAllAccounts() returns an empty array when using version 2.4.1 and up, the token

[2020-10-30 15:20] GraemeF commented on #2521
We are also seeing this in 2.4.1

[2020-10-30 15:24] mtvw commented on #2515
I'm struggling with the same issue.

This problem would not exist if the "unprotectedResources" were still available in the msal-angular setup. That way I could exclude the local translation files from msal.

For now, I'm using this dirty workaround to reload the application after login...:
`
this.broadcastService.subscribe('msal:loginSuccess', () => {
      location.reload();
    });
`

[2020-10-30 15:27] dfibuch commented on #2315
@tnorling I've just tried your workaround above and confirm it works, but you already knew that :) I've updated to v2.5.1 to get all the latest bug fixes.

Now I just need this to work with `acquireTokenRedirect`.

[2020-10-30 15:54] jasonnutter commented on #2515
@OPunktSchmidt Does this work?

[code]

[2020-10-30 15:57] jasonnutter commented on #2515
Also, if you don't have any protected resources (i.e. your protected resource map is empty or null), you should not need to include the MSAL Interceptor at all in your app.

[2020-10-30 16:08] mtvw commented on #2515
No, these calls still get intercepted (and a bearer token is added when logged in)

[2020-10-30 16:08] sameerag commented on #2524
@soufian044 Yes, this is a bug . We are working on a patch and will update here once we have something available.

[2020-10-30 16:10] mtvw commented on #2515
I have a list with 3 endpoints that should be intercepted. But msalIntercepter is processing each request that goes through the httpClient, also for url's that are not in the list.

[2020-10-30 16:12] sameerag commented on #2522
@emilepretorius Are you trying to login in one account first and then attempt to login with another? Can you clarify the reproduction steps?

[2020-10-30 16:14] sameerag commented on #2521
@hectormmg Can you port the fix you did for v1 here? Looks like the same issue.

[2020-10-30 16:19] sameerag commented on #2517
@chattes Let me try to reproduce this and reach out!

[2020-10-30 16:38] jasonnutter commented on #2515
Sorry, something like this should work:

[code]

Correct, the interceptor will be run for each request using the http client. It will attach tokens for urls that are listed in the protected resource maps, and by default, will attach ID tokens for requests against the app itself (e.g. the ngx-translate requests) unless an entry like the one above is added. This is behavior we will be changing in MS

[2020-10-30 19:38] cheslijones opened #2526 ""ClientAuthError: Token renewal operation failed due to timeout" for authProvider.getAccessToken()"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
`msal@1.4.3`

## Framework

ReactJS using [`react-aad`](https://github.com/syncweek-react-aad/react-aad)

## Description

`aut

[2020-10-30 19:42] jasonnutter commented on #2526
![image](https://user-images.githubusercontent.com/59094233/97749063-a5e65e80-1aab-11eb-92c7-00162610fc83.png)

In the above image, can you try opening the `login.microsoftonline.com` url in the "The current window does not have permission to navigate the target from to..." error message in its own tab? What happens when you do that?

[2020-10-30 19:43] emilepretorius commented on #2522
I did not check at the time, I'll have to get back to you on that.

[2020-10-30 19:46] emilepretorius commented on #2522
Trigger MSAL.loginPopup() = Open the app which does the sign in.

Not trying multiple logins. Trying to log in with an account not displayed in the list of recent / cached logins.

[2020-10-30 19:46] jasonnutter commented on #2526
One thing to note is that your redirect uri must either be `http://localhost:<port>` or an https url. I am guessing you will see an error message regarding your redirect uri, which must be registered in teh Azure Portal and needs to be https or localhost.

[2020-10-30 19:49] cheslijones commented on #2526
![image](https://user-images.githubusercontent.com/59094233/97750418-fa8ad900-1aad-11eb-9900-716d1364d21c.png)

Ok looks, like I might not have the app configured properly on my end, so I'll read up on that to see where I need to enable this in Azure.

As for the redirect, I do have my local dev environment `https://192.168.64.7/admin/` in the Azure App Registration redirect. I do get the "Unsafe"

[2020-10-30 19:49] #2526 closed

[2020-10-30 20:48] kostrse commented on #2507
At least you guys could ship the `localAccountId` now and decide about `getAccountByLocalId` later since at least it will be possible to query proper account from `getAllAccounts` manually.

[2020-10-30 21:23] willyt150 commented on #2354
any news on this? we're just working on updating our npm packages and running into this same issue

[2020-10-30 22:34] jasonnutter commented on #2354
We'll be addressing this in MSAL Angular v2 (preview version coming soon!).

[2020-10-31 00:21] #2352 closed

[2020-10-31 15:16] lightbulb110 commented on #2519
Same results

same results

[2020-11-01 00:24] #2310 closed

[2020-11-01 22:36] soufian044 commented on #2524
@sameerag I can confirm you that the bug is present on the latest "msal-browser": "2.5.1", including the the "2.5.0" and "2.4.1" , the array is always null.

[2020-11-01 23:55] soufian044 commented on #2524
the issue seems to be comfing from these check
![image](https://user-images.githubusercontent.com/10144036/97818978-0640f000-1ca6-11eb-86bf-f63d29b50191.png)

and related to this PR from you #2516

[2020-11-02 00:23] #2325 closed

[2020-11-02 06:11] goldylucks opened #2531 "Teams app custom tab: BrowserAuthError: redirect_in_iframe: Code flow is not supported inside an iframe"
## Library
- [x] `@azure/msal-browser@2.3.1`

## Framework
React

## Description
We have a ms teams app with a chatbot tab and a custom tab.
In the custom tab, calling `msalInstance.loginRedirect({ scopes: [] });` throws the error below.
In the chatbot tab, opening an iframe with the exact same screen as the custom tab, and calling the same command  `msalInstance.loginRedirect({ scopes: [] });` wo

[2020-11-02 06:20] SBajonczak commented on #2315
That will be awesome 😊👍

[2020-11-02 06:28] idan666 commented on #2531
Doesn't work for me either

[2020-11-02 06:36] nickgmicrosoft commented on #2422
@Shyam268 , can you help me clarify your scenario:
- What type of users are logging into this application? Are they using Azure AD B2C user flows/custom policies at all or just only using login.microsoftonline.com?

[2020-11-02 06:42] goldylucks commented on #2531
If I change the strategy from redirect to popup:
[code]

 I get this error:

`Unable to send AtomFrameHostMsg_Message_Sync`

[2020-11-02 07:12] OPunktSchmidt commented on #2515
@jasonnutter This does not work either. The msal-library still tries to add a token to the request.

[code]

[code]

[2020-11-02 08:48] AndriiBoiko1 commented on #2499
@sameerag any thoughts?

[2020-11-02 09:08] buleglay commented on #2521
Getting the same error in 2.4.1

[2020-11-02 09:15] dfibuch commented on #2315
I will try it today and update here. My initial problem was I couldn't get `acquireTokenRedirect` to work _at all_ in my app, but I've worked it out now and got it to work, so hopefully this will be trivial.

[2020-11-02 09:23] Shyam268 commented on #2422
This happens only with MSA accounts and i did not use any user flows or any policies.

[2020-11-02 09:25] mtvw commented on #2515
Couldn't get it to work either...

For now I went back to msal-angular 1.0.0, with these unprotectedResources:
`unprotectedResources: [
        '/assets/'
      ],`

This works as expected: calls to the translations files execute instantly without token. In the meantime, the popup appears to handle the login process. When the login is successful, the application works as expected with instant tran

[2020-11-02 09:27] flytiny commented on #2521
We also encountered this problem.

[2020-11-02 11:16] OPunktSchmidt commented on #2515
@mtvw I also went back to 1.0.0 and now it works as expected.

[2020-11-02 16:31] dfibuch commented on #2315
So it turns out it's actually pretty easy to do. I did have to change my code slightly to either return the token from `acquireTokenSilent` or nothing, then check what I got and call `acquireTokenRedirect` if I didn't get a token,

[code]

Not sure if I am doing it right, but using a `SilentRequest` for both `acquireTokenSilent` and `acquireTokenRedirect` seems to work fine.

Then in my `handleRed

[2020-11-02 18:12] sameerag commented on #2524
Yes. #2516 should fix this. Linking the PR.

[2020-11-02 18:30] sameerag commented on #2509
@daniel-seitz The tenant profiles feature will be able to help you to `getAccountByTenantId` and that is in progress. Since you can always track what your current account is, `getAccountByHomeId` or `getAccountByLocalId` may also serve your purpose.

Since an `Account` is tied up with `IdToken` and not configuration and we do not manage a `currentAccount`, and we do not plan to at this point.

Clo

[2020-11-02 18:30] #2509 closed

[2020-11-02 19:57] narva001 commented on #2521
Is there a work around in the meantime?

[2020-11-02 20:53] jasonnutter commented on #2531
@goldylucks Are you using the [Teams JS SDK](https://www.npmjs.com/package/@microsoft/teams-js) (as demoed [here](https://github.com/nmetulev/teams-msal))?

[2020-11-02 22:03] MariMax opened #2532 "acquireTokenSilent doesn't work for AD FS workflow"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.5.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

User successfully acquired accessToken and refresh token, but there is no client_info in the response
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/fef918b8cdbff3dc82

[2020-11-02 23:47] pkanher617 commented on #2521
Please try using

[2020-11-02 23:47] pkanher617 commented on #2521
Please try using 2.5.2 if you are having issues. If this does not fix your problem please let me know.

[2020-11-03 00:23] #2353 closed

[2020-11-03 01:20] MariMax commented on #2532
should be resolved with #2516

[2020-11-03 02:15] sam-wheat opened #2534 "Client Credentials Flow for SPA?"
I have an API I would like to secure and also allow my SPA to call.

I want to call this API regardless of if the user is logged in or not.  I want my app to be the user.  This is pretty much like machine-to-machine auth.  Is this possible? If so, can you point me to an example showing a SPA where there is no user to input credentials?

I have seen the documentation for [Authorization Code Flow](h

[2020-11-03 07:17] paranthamanwp opened #2535 "acquireTokenSilent null_or_empty_id_token error when open new window/browser for the logged in user"
acquireTokenSilent  **null_or_empty_id_token** error when open new window/browser for the logged in user

Cache: sessionstorge

Library Version
![error](https://user-images.githubusercontent.com/13029220/97957929-49af7180-1e00-11eb-8fea-a0ce3a5994dd.png)
![error2](https://user-images.githubusercontent.com/13029220/97958159-c5a9b980-1e00-11eb-9f41-5a80e6501c70.png)

"@azure/msal-angular": "^1.1.1",

[2020-11-03 08:38] #2447 closed

[2020-11-03 08:39] jeremyc11 commented on #2447
Thanks it worked me.

[2020-11-03 09:00] ShimaMax opened #2536 "acquireTokenSilent initiates new request every time its called"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Version:** `@azure/msal-browser@2.5.1`

## Description
Hi! I'm trying to use msal-browser with redirect mode. But even if there is actual saved access_token in localStorage `acquireTokenSilent` initiates ne

[2020-11-03 09:43] goldylucks commented on #2531
I'm using `@azure/msal-browser`

[2020-11-03 10:02] bajzat commented on #2499
@AndriiBoiko1 May I ask what was the configuration issue regarding the 30 seconds? I'm facing the same issue right now.

[2020-11-03 11:13] AndriiBoiko1 commented on #2499
@bajzat had a LoadFrameTimeout set to 25 secs, just removed it
![image](https://user-images.githubusercontent.com/57752495/97978578-6afb6800-1dd6-11eb-9cf9-6dc5891eb4b2.png)

[2020-11-03 11:53] pritipatona commented on #2452
facing same issue

[2020-11-03 12:58] snebjorn commented on #1167
I've implemented CanActivate, CanActivateChild and CanLoad in #1593

[2020-11-03 13:31] bajzat commented on #2499
Thanks, @AndriiBoiko1 , it made a trick. The question may be to @sameerag , why the loadFrameTimeout affects the SSO performance.

[2020-11-03 16:48] jasonnutter commented on #2499
@bajzat I believe this is a known bug, see #2314. Unfortunately we haven't had a chance to address it, I'll make sure it gets fixed soon.

[2020-11-03 16:52] jasonnutter commented on #2536
Given you are using your client ID as a scope, I believe this is the same issue as #2451

[2020-11-03 16:54] jasonnutter commented on #2536
One workaround would be to create a custom scope and use that instead of your client ID.

[2020-11-03 16:55] jasonnutter commented on #2535
@paranthamanwp Please provide more information, including your MSAL Angular configuration and any relevant code samples. Also, in the future, please use the issue template, thanks!

[2020-11-03 16:57] jasonnutter commented on #2534
@sam-wheat This scenario is not supported by MSAL.js, as the Implicit Flow and the Auth Code Flow require user consent and context. There are confidential client flows supported in MSAL Node, however, confidential client flows require secrets such as client secrets or certificates, but those will not work in SPAs because browsers cannot securely keep client secrets.

[2020-11-03 17:04] ingwarr23 commented on #2475
Hi! We have the same issue. Did you find any solution for it? Thank you!

[2020-11-03 17:21] Dolevco opened #2537 "ssoSilent inside an iframe when 3rd party cookies are disabled by the browser"
Hi,
we are using msal browser (2.3) in our react web application, that is hosted inside an iframe within Dynamics.
since redirect flow is not allowed inside an iframe, we are using ssoSilent, considering the user must login using AAD to Dynamics.

It works great in some versions of Chrome, but we are facing problems in some others which rollout the prevention of using 3rd party cookies, which is u

[2020-11-03 17:24] narva001 commented on #2521
It is working for me now.  Thank you @pkanher617

[2020-11-03 17:44] georgejdli commented on #2475
@ingwarr23 I'm still waiting to hear back from @sameerag

[2020-11-03 18:19] jasonnutter commented on #2537
@Dolevco In this scenario, no, you will not be able to silently SSO if third-party cookies are disabled. Given your app is inside an iframe, when ssoSilent fails you can call loginPopup.

[2020-11-03 18:19] jasonnutter commented on #2537
Also, in the future please use one of the issue templates, thanks!

[2020-11-03 21:04] sai-nagarjuna-t opened #2538 "If the session cookie is expired, the token cache doesnt get cleared"
## Library
- [ ] `@azure/msal-browser@2.1.0`

## Description
When the session cookie is expired or manually cleared, user is not getting logged out because the access token and refresh token in the sessionStorage are not getting cleared.

 Because of this even tough the session cookie (say 15 mins lifetime) is expired the user will still stay logged in until the refresh token is expired. (24 hours

[2020-11-03 21:20] jasonnutter commented on #2538
Can you please clarify which session cookies you are referring to? Are you referring to the session cookies on `login.microsoftonline.com` for your AAD session?

[2020-11-03 21:28] kostrse opened #2539 "Failed to initialize: SyntaxError when migrating from from MSAL v1 to MSAL v2"
## Library
- [x] `msal@1.4.1`
- [x] `@azure/msal-browser@2.4.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

When migrating existing website from MSAL v1 to MSAL v2, users who already have cached data in local storage see error message suggesting that local cache cannot be parsed.

## Error Message

[code]

## MSAL Configu

[2020-11-03 21:42] jasonnutter commented on #2539
Please try `@azure/msal-browser@2.5.2` and let us know if this is still an issue, thanks!

[2020-11-03 23:51] whittssg commented on #2498
Any idea when the alpha will be out ? We really need the start events that the alpha seems to have. Thanks

[2020-11-04 00:21] pkanher617 commented on #2524
@soufian044 Does this issue still occur in 2.5.2?

[2020-11-04 00:23] #2398 closed

[2020-11-04 00:23] #2234 closed

[2020-11-04 04:04] sai-nagarjuna-t commented on #2538
hi @jasonnutter I am referring to the Azure ad b2c cookies. x-ms-cpim-sso:{Id} and x-ms-cpim-csrf of b2clogin.com, login.microsoftonline.com, branded domain.

Here are some links for reference.
Cookie definitions https://docs.microsoft.com/en-us/azure/active-directory-b2c/cookie-definitions
Session lifetime configuration https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior

[2020-11-04 04:59] #2534 closed

[2020-11-04 05:31] sai-nagarjuna-t commented on #2524
issue still present in 2.5.2 and 2.4.1

[2020-11-04 07:55] ArktinenSieni opened #2543 "window.crypto.subtle is undefined on iOS 10 Safari"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.1.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- React

## Description

While attempting to log in using `PublicClientApplication` `loginRedirect`, it fails on iOS 10 devices. iOS 11 and beyond seem to work.

The error message complains abou

[2020-11-04 10:37] paranthamanwp commented on #2535
app.module.ts

function MSALConfigFactory(): Configuration {
    return {
        auth: {
            clientId: environment.clienId,
            authority: environment.msLoginUrl + environment.tenantId,
            validateAuthority: true,
            redirectUri: environment.redirectUrl,
            postLogoutRedirectUri: environment.postLogoutRedirectUrl,
            navigateToLoginRequestUrl: t

[2020-11-04 12:22] baSSiLL commented on #2478
@muperi If you are talking about access tokens then (to my understanding) the recommended approach is to call `acquireTokenSilent` each time before requesting a protected resource instead of doing a periodical polling. Most times it will get a valid token from the cache. Otherwise it there is a valid refresh token it will get new (access and refresh) tokens from AD.

[2020-11-04 12:52] alandecastros commented on #2524
Hope this gets fixed asap

[2020-11-04 14:15] zhangxAmtrak opened #2544 "B2C Redirect URI"
#2113
 Library
- [ ] `msal@1.3.2`

## Description
Please provide your question here, including as much relevant details as possible.

"How do I resolve double redirect?"

We are implementing Azure B2C for company consumer site.  The site is implemented as SPA angular application and has header "SIGN IN" button.  The header is on every page that makes impossible to configure redirect uri from B2C p

[2020-11-04 15:10] roopeshreddy commented on #2536
We see this behavior in app in B2E as well

[2020-11-04 16:07] daviddejaeger commented on #1592
I'm also still getting this error. Refreshing one or several times solves the problem but that is not really an option. I'm not doing anything special and following the demo samples. One difference is that the login code is inside a base.component because I have a resolver associated with that component with an api call to my backend for initialization logic instead of app.component.

app.componen

[2020-11-04 17:01] jasonnutter commented on #2543
Unfortunately, iOS 10.2 and below does not support the standard `SubtleCrypto`, instead supporting [Safari's non-standard `webkitSubtle`](https://webkit.org/blog/7790/update-on-web-cryptography/). Given that the standard `SubtleCrypto` APIs should be supported [in 10.3 and above](https://caniuse.com/mdn-api_subtlecrypto), and the relatively low usage of iOS 10, I think it is unlikely we will prior

[2020-11-04 17:08] jasonnutter commented on #2544
Can you please clarify what you mean by "double redirect"? By design, when `navigateToLoginRequestUrl` is enabled, the browser will be redirected from B2C to your redirect URI (`http://localhost:6420/`), and then again from your redirect URI to the page the user was originally on when they triggered login.

Also, please update to the latest version of msal (1.4.3), and let us know if this is still

[2020-11-04 17:24] jasonnutter commented on #2538
@sai-nagarjuna-t Thank you for clarifying. This is by design, as due to the [Same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy), there is no way for MSAL.js to know if a user's session has ended if user's session is ended outside the context of the MSAL `logout` function.

[2020-11-04 17:28] jasonnutter commented on #2535
Can you please clarify the steps for reproducing this error? Are you opening the application in multiple tabs at the same time?

[2020-11-04 19:02] alur222 commented on #2482
Adding `Origin` header works! Thank you @simardo

[2020-11-04 19:13] jasonnutter commented on #2314
@thoo1 PR has been opened to restore `loadFrameTimeout` to how it worked in v1 and add `navigateFrameWait` from v1. Feedback appreciated.

[2020-11-04 19:38] baSSiLL commented on #2538
@jasonnutter I want to get a sliding session expiration window of 1 hour since last user "activity" (request to a protected backend). I hoped that AD session timeout will help me with that invalidating a refresh token. So I could prompt a user to sign in when `acquireTokenSilent` fails. Seeing your comment I see it won't work this way.
Looks like I need to implement a custom solution for tracking

[2020-11-04 19:52] jmckennon commented on #2295
Sorry for the delay here @vcs38. Can you try setting `initialNavigation: 'disabled'` when inside an iframe ([example](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/9fb15d5cc5ed4203f21ac067ea847d4592fd895c/samples/msal-angular-v2-samples/angular10-browser-sample/src/app/app-routing.module.ts#L26-L32)), while also using the largely increased `loadFrameTimeout` value?

[2020-11-04 19:53] sai-nagarjuna-t commented on #2538
@jasonnutter thanks for the reply,.
But i would suggest MSAL team to refer 'oidc-client-js' library which monitors session expiry.

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/SessionMonitor.js

Given that refresh tokens are valid for a min of 24 hours, MSAL is enforcing a huge limitation on the users to not able get auto logged out until the refresh tokens are expired as the sess

[2020-11-04 20:01] pkanher617 commented on #2524
Taking a look at this today, thanks for your patience.

[2020-11-04 21:01] jasonnutter commented on #2538
We do not include (and we highly discourage applications from implementing) session monitoring (e.g. polling in an iframe) due to the increased overhead it puts on the AAD service, in addition to your application. Furthermore, refresh tokens (and access tokens) are not invalidated and only become unusable once they have expired (even after logout, where they are cleared from browser storage). Thei

[2020-11-04 21:36] jasonnutter commented on #2538
In theory, that could work, yes.

[2020-11-04 21:52] jasonnutter commented on #2422
@Shyam268 Can you please confirm the following settings:

- Logout uri is https
- Logout uri is registered as a reply uri in the portal (even if you don't use it as a reply uri)
- Logout uri is registered as the post logout url (unfortunately, the portal doesn't allow non-https logout uris)
- Logout uri is set as `auth.postLogoutRedirectUri` in msal (and you call `logout`).

[2020-11-04 22:16] sameerag commented on #2524
#2516 should be merged soon. The wait is on unit tests and we have them ready now.

[2020-11-05 02:17] jasonnutter commented on #2538
@sai-nagarjuna-t Correction about this statement. Your application can be informed when other applications end the current session by configuring the "Logout URL" on your app registration in the portal. When another application in the user's browser performs a logout, the "Logout URL" registered in the portal for your app will be loaded. When this url is loaded, you can have your application invok

[2020-11-05 02:33] sai-nagarjuna-t commented on #2538
Thanks @jasonnutter
So if I understand correctly, if the user is logged in multiple tabs in a browser then by configuring the logout URL, if the user manually logs out of the application in a particular tab then we can log him out from the other tabs as well ?

Please correct me if I am wrong.

[2020-11-05 02:44] jasonnutter commented on #2538
@sai-nagarjuna-t Correct. If your user has two tabs open, appA.com and appB.com, both logged into the same account, when the user logs out from appA.com, the logout URL for appB.com will be loaded inside an iframe. This is signal to appB.com to logout the user from appB.com.

[2020-11-05 03:49] sai-nagarjuna-t commented on #2538
Thanks @jasonnutter .
Apologies for one last question,
I have configured the logoutURL and opened two tabs with appA.com and logged out of one of the tabs, am I expected to logout from the other tab ?

[2020-11-05 04:55] paranthamanwp commented on #2535
**Steps:**
1) Trigger app.component.ts inti
//go to **if** condition and redirect to the login page of Microsoft
if (!this.authService.getAccount()) {
        **this.authService.loginRedirect({ scopes: environment.scopeUri });**
      } else {
        this.router.navigateByUrl('/home');
      }
2) Microsoft login page
3) Redirected to redirect url of the application which configured which is just

[2020-11-05 05:32] pedoe opened #2547 "MSAL-Browser: Can't logout user. Logout function is not working properly."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.5.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Can't logout user by using logout function. The user will be re-authenticated automatically and there is no chance to change the user account or select different user account. I have to clear t

[2020-11-05 05:41] Shyam268 commented on #2422
All the settings are configured properly. but
still having the same issue

app registraion:

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/30112490/98202176-7a55ef00-1f57-11eb-8a1a-c12dfe95b576.png)

config.json

[code]

msal-confiration.ts

[code]

[2020-11-05 07:11] zapap commented on #2482
I'm getting this in Angular using "@azure/msal-browser": "^2.5.2", but I can't find where to modify the request headers to add Origin. Can you provide a bit more detail? Thanks

[2020-11-05 07:45] paranthamanwp opened #2548 "Unsafe JavaScript attempt to initiate navigation for frame with origin 'https://xxx.xxx.net.au..."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
"msal": "^1.4.1",
"@azure/msal-angular": "^1.1.1",

## Description
The user automatically navigate to logout with below error message

## Error Message
Unsafe JavaScript attempt to initiate navigation for frame with

[2020-11-05 08:24] Dolevco commented on #2537
Thank you Json. implemented the popup fallback.
Is there any plan to support the ssoSilent from an iframe, considering most of the browser going to block 3rd party cookies?

[2020-11-05 08:57] svrooij commented on #2498
@jasonnutter I want to use in in combination with a dotnet core app. So a feature I would want is being able to define "default" scope(s), for relative urls. Using something from the environment would require me to rebuild the SPA just to have it request some other scope.

Also loading client details (ClientID, Scopes, Authority) from a http endpoint would be great, same for an easy way to "switch

[2020-11-05 12:07] didair opened #2549 "handleRedirectPromise response null for Firefox in private mode"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.5.2`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

## Description
After a sign in using loginRedirect handleRedirectPromise fails using Firefox in private window. I get back the #code in the url and the promise resolves with response null and do

[2020-11-05 14:04] alur222 commented on #2482
@zapap I am no using msal and also not using Angular. All frameworks / libraries should have a way to modify headers.

[2020-11-05 16:42] jasonnutter commented on #2548
@paranthamanwp Can you please the `client-request-id` from the url? This will help me lookup logs for your request. Also, what happens when you load the `login.microsoftonline.com` url in its own tab?

[2020-11-05 16:49] jasonnutter commented on #2537
@Dolevco We are investigating ways to improve the silent sso experience that bypasses the use of iframes, and we'll share details on that once they are finalized and available to customers.

[2020-11-05 16:51] jasonnutter commented on #2538
@sai-nagarjuna-t This will not work if you are using sessionStorage, as sessionStorage is not shared between tabs. localStorage will be though.

[2020-11-05 17:45] jasonnutter commented on #2547
@pedoe You can prompt the user to login by passing `prompt: "login"` when invoking the login APIs:

[code]

[2020-11-05 17:59] jasonnutter commented on #2549
@didair This is happening because Firefox is clearing localStorage when you navigate to the login page, and as a result, when you get redirected back to your app, MSAL.js does not think there is a pending redirect request in progress. To mitigate this, enable `cache.storeAuthStateInCookie` in Firefox.

[2020-11-05 18:32] #2507 closed

[2020-11-05 18:33] sameerag commented on #2532
Merged #2516

[2020-11-05 18:33] #2532 closed

[2020-11-05 19:05] pedoe commented on #2547
@jasonnutter But we should not force account selection or user login every time if user didn't logout from our portal right? Users should login immediately if they didn't click logout before. Use prompt: "login" will ask user to provide login info every time. Is there any way to clear all the user data when invoking logout API? Thanks!

[2020-11-05 20:14] sameerag commented on #2521
Closing as #2527 fixes this PR.

[2020-11-05 20:14] #2521 closed

[2020-11-05 22:17] SihirliDev opened #2551 "msal-browser does not get cached login when the page refreshes"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.1` and above
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
I'm using msal-browser in React. When using redirect flow, the user login is cac

[2020-11-05 22:34] gidich commented on #2445
@jkdouglas  - I'd be willing to go under NDA to explore this further in beta w/you.

[2020-11-05 22:34] michaelchunD opened #2552 "Unable to login on IOS 14.1 issue caused by .acquireTokenSilent(), stuck in a refresh loop"
## Library
- [x] `msal@1.4.3` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
"msal": "^1.4.3",
"react": "^16.12.0",

## Description

This issue is only occurring on IOS 14.1 regardless of the device model i.e. iphone 11, 7+, etc.
We are unable to reproduce the issue on de

[2020-11-05 22:44] jasonnutter commented on #2551
@SihirliDev This appears similar to #2524, which is fixed by #2516.

[2020-11-05 22:50] jasonnutter commented on #2552
@michaelchunD This is a known issue for browsers such as mobile Safari that have privacy features such as Intelligent Tracking Protection enabled. In MSAL.js v1, your application should invoke one of the interactice methods (acquireTokenPopup or acquireTokenRedirect) when `acquireTokenSilent` throws an `InteractionRequiredAuthError` to complete token acqusition.

Alternatively, you can upgrade to

[2020-11-05 22:54] SihirliDev commented on #2551
Thank you @jasonnutter I'll check it.

[2020-11-05 23:09] ktsakas commented on #2451
B2C does not allow sending an empty scope, at least "openid" needs to be passed as a scope. Could you take a look at the actual request and see what the scope is there? If you could provide a fiddler trace that would be ideal.

[2020-11-05 23:11] mattmesser commented on #1592
@jasonnutter  Thanks for the 'initialNavigation' suggestion.  I'm hesitant to say it's definitively fixed yet: it usually occurs only after token expiration, which takes 24hrs. But things have improved significantly.

Just a note: In the config I also changed cacheLocation to 'sessionStorage' from 'localStorage'. I think this helped ameliorate several other issues that were cropping up.

To answer

[2020-11-05 23:13] jasonnutter commented on #2451
@ktsakas The app is sending their client id as the scope value (and then MSAL.js would add openid and profile to that).

[2020-11-05 23:20] kostrse opened #2553 "LocalAccountId should be always expected in AccountInfo and shouldn't have nullable type"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@dev`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Recent PR #2516 added `localAccountId` to `AccountInfo` and it was added as an nullable field (`string?`):
[code]

If `oid` claim is present in ID token, then `localAccountId` is set to `oid`, o

[2020-11-05 23:26] sameerag commented on #2553
Will do. Please expect a PR soon.

[2020-11-06 04:39] paranthamanwp commented on #2548
client id : 593de8b7-8747-4b3b-a0c2-57aa7c8c2b46

[2020-11-06 05:06] CerosDev opened #2555 "Version mismatch"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.0` and after
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

In msal-browser 4.0.0, `BrowserStorage` was implementing abstract class `CacheManager

[2020-11-06 06:13] sameerag opened #2556 "Add telemetry for `getAccount`, `removeAccount` and `OnBehalfOfFlow`"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
Add telemetry code for `getAccount` and `removeAccount` and all similar public

[2020-11-06 07:29] zapap commented on #2482
@alur222. Thanks, I got it working in Angular and @azure/msal-browser 2.5.2.
I was receiving this error when trying to make requests to Azure DevOps Feeds, but I didn't configure the correct scope for those endpoints.
I needed these endpoints scopes:
[code]

[2020-11-06 14:08] roddev-v commented on #2402
Downgrading to msal@1.4.0 with @azure/msal-angular@1.1.0 allows the usage calling of 2 APIs. I encountered this problem on the msal-angular. The msal-browser implementation for angular doesn't have this problem.

[2020-11-06 15:47] roddev-v commented on #1810
Having the same problem with the permissions for the calendar API. The login prompt doesn't ask for the calendar permissions in msal 1.4.0 / azure-msal 1.1.0

[2020-11-06 16:22] jasonnutter commented on #2555
@CerosDev Apologies for the inconvenience, we will look to have #2516 released soon.

[2020-11-06 16:34] jasonnutter commented on #2548
@paranthamanwp That error ("client request loop") is thrown when your application is making too many requests for tokens in a short period of time. I would recommend upgrading to the latest version of `msal@1.4.3`, as it should help reduce the occurrence of that error.

[2020-11-06 17:52] directcuteo opened #2557 "Error on Chrome extension startup"
Hi. I am using the MsalAngular library in a chrome extension and in a web application.
Everything is working fine in the web app, but not in the extension app.

I am receiving an error on startup of the extension, without even trying to aquire a token, or login, or check anything (I basically use Msal just in the AppModule to import the required modules/configs/interceptors).

Here is the error ju

[2020-11-06 19:08] #1372 closed

[2020-11-06 19:29] jasonnutter commented on #2557
@directcuteo Can you please provide logs from the MSAL logger?

[2020-11-06 20:33] sameerag commented on #2553
#2559 addresses this!

[2020-11-07 00:25] #2443 closed

[2020-11-07 01:07] #2553 closed

[2020-11-07 11:58] SihirliDev commented on #2551
This is fixed in v2.6.0. Thank you.

[2020-11-07 11:58] #2551 closed

[2020-11-07 14:05] ranros opened #2561 "B2C - error trying to redirect to different login pages"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.4.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I have a scenario which I don't know if possible with B2C.

I want to redirect the u

[2020-11-07 15:46] sam-wheat opened #2562 "Which property on AuthenticationResult is the user ID?"
var z = await this.myMSALObj.loginPopup(this.loginRequest);

Of the properties on object `z`, which is the one that has a value that corresponds with the id of the user as defined in active directory?

![Capture](https://user-images.githubusercontent.com/16885210/98445187-16543780-20cb-11eb-8032-42353c33a859.PNG)

The reason I ask is because I have three users in my AD with the same user name:

9e

[2020-11-07 19:03] jonstelly opened #2563 "Add logoutPopup API to MSAL Browser"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The `loginPopup()` call behaves in a SPA-friendly way, allowing us to stay on our page and authenticate without having to re-load our page.  I don't see a way right now to have similar behavior

[2020-11-07 19:17] sam-wheat opened #2564 "Which property on AuthenticationResult is the user ID?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-11-07 19:19] sam-wheat commented on #2562
Discovered the github bug that bypasses the template.  If you click "create issue" before logging in you bypass the issue template.  Raised a new issue using the template.

[2020-11-07 19:19] #2562 closed

[2020-11-07 20:31] lightbulb110 commented on #2519
resolved

[2020-11-07 20:31] #2519 closed

[2020-11-07 21:07] sam-wheat commented on #2564
Related to `uniqueId`, [this document](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.authenticationresult?view=azure-dotnet) states: "Gets the Unique Id of the account. It can be null. When the IdToken is not null, this is its ID, that is its ObjectId claim, or if that claim is null, the Subject claim."

However the uniqueId's I see don't match object ID of any users on my

[2020-11-08 15:01] alandecastros commented on #2524
Still not working on 2.6.0

[2020-11-08 23:17] sam-wheat commented on #2564
Apparently the config found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/TypescriptTestApp2.0/src/AuthModule.ts) is actually valid:

const MSAL_CONFIG: Configuration = {
    auth: {
        clientId: "2eb9245f-612b-46cc-994a-f5e35ef37da0"
    },

[Per this](https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-

[2020-11-09 00:26] #2446 closed

[2020-11-09 01:22] pwang2 opened #2565 "Conditional Access check should be processed during initialization instead of throwing error during token acquire process."
## Library
`@azure/msal-browser@2.6.0`

## Description
When conditional access like MFA applied, the login grant check is not handled during handleRedirectPromise but till acquireToken and throw following error..  This would generate a flood of same message for all tokenAcquire method..

## Error Message
AADSTS50078: Presented multi-factor authentication has expired due to policies configured by y

[2020-11-09 04:31] paranthamanwp commented on #2548
Hi @jasonnutter, I have updated the version "msal": "^1.4.3", but still same error occurred and I suspect this is happening because of the acquiretokenfailure and recalling the loginredirect as I mentioned in the open **bug  #2535** (https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2535) which I raised previous this.  Could you please help?

[2020-11-09 07:00] pierreh-korbicom commented on #2514
@zhangxAmtrak The MSAL library can issue a redirect when it is loaded by the browser. If `navigateToLoginRequestUrl` is set to `true`, there will be a redirect to the same path as when `loginRedirect` was called. That is, if you configure AD with a redirect URI of `http://abc.com` (although it's recommended to limit it to https) and a user is on `http://abc.com/home` when `loginRedirect` is called

[2020-11-09 11:43] kthimmai opened #2566 "msal.js log in account that is not current user that launched the browser"
Hi,

We are facing the similar issue as documented here https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1557

As per the above logged in issue it is mentioned that the issue will be fixed in MSA service. Could you please let us know if the issue has been in msal library and which version of this library has a fix.

## Library

azure/msal-angular@1.0.0
msal@1.3.0

## Frame

[2020-11-09 13:39] zhangxAmtrak commented on #2514
Does it mean double redirect can't be avoided?  B2C redirects to http://abc.com, then browser further redirect to http://abc.com/home?

[2020-11-09 13:52] pierreh-korbicom commented on #2514
@zhangxAmtrak Effectively it cannot be avoided, because the Azure B2C (or whichever auth provider you're using) needs to redirect the user's browser to your SPA (first redirect) and then the SPA (either directly or via MSAL as described above) needs to redirect the user to the correct route within the SPA (second redirect).

This, however, is not an MSAL/Azure AD restriction, but a restriction in

[2020-11-09 14:32] CerosDev commented on #2555
@jasonnutter We can close this. I just wanted to let you know these side-effects

[2020-11-09 14:32] #2555 closed

[2020-11-09 14:40] Sharatmenon opened #2567 "Azure B2C - Maintain a login session and manage access tokens in a SPA (React)"
## Library
- [ ] `@azure/msal-browser@2.2.0`
- [ ] `@azure/msal-browser@2.4.1`

## Description

1) We are using Azure B2C to manage external users sign in, sign up, password reset, MFA for a Single page app . Currently we are using MSAL 2.2.0 to login the user using the msal.loginredirect flow.

Once the user is logged in , we use the msal.getAllAccounts(); call to check if the user is logged in.

[2020-11-09 17:09] jasonnutter commented on #2562
@sam-wheat Interesting, good to know.

[2020-11-09 18:42] jasonnutter commented on #2561
@ranros Can you please provide your code showing how you invoke the login APIs (i.e. loginPopup, loginRedirect, etc)?

[2020-11-09 18:48] jasonnutter commented on #2563
@jonstelly Thanks for the request, we've heard this request from a few customers, we'll certainly take it under consideration, thanks!

[2020-11-09 19:00] jasonnutter commented on #2565
@pwang2 Can you please email me a Fiddler trace demonstrating the existing behavior you observe? My email is in my profile, thanks!

[2020-11-09 19:04] jasonnutter commented on #2566
@kthimmai Can you please provide a Fiddler trace demonstrating the behavior you describe? My email is in my profile, thanks!

[2020-11-09 19:12] jasonnutter commented on #2567
@Sharatmenon

Once the user is logged in , we use the msal.getAllAccounts(); call to check if the user is logged in. Every time we refresh a page or navigate from one route to another the msal.getAllAccounts() return no accounts. If there are no accounts we cannot make the acquireTokenSilent call and have to make the login redirect call which is not a good solution.

Can you please try using `@azu

[2020-11-09 19:23] jasonnutter commented on #2564
@sam-wheat If you want to get the "Object ID" (from the portal as shown in your screenshot) for the current user, your application should make a request to [MS Graph profile endpoint](https://docs.microsoft.com/en-US/graph/api/user-get?view=graph-rest-1.0&tabs=http), which will return an `id` property matching the "Object ID" from the portal.

Note, this will require obtaining an access token with

[2020-11-09 19:59] sameerag opened #2568 "Update msal-node samples with getAccountByHomeId"
Please follow the issue template below.

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
Currently all msal-node samples only support `getAllAccounts()` for silent token calls. Please add utility APIs `getAccountByHomeId()` or `getAccountByLocalId()` for ADFS in the samples for usage demonstration.

## Priority
Medium

[2020-11-09 20:03] sam-wheat commented on #2564
Thank you Jason.  The problem I ran into is that I logged in as myself (using my email address) and the object that was returned does not exist on my AD.  The reason - I later found out - is that I did not provide an authority.  So the default authority was used.  No idea how/why it authenticated me.
This is the origin of my question about client ID (which I did provide).  If a client ID is provid

[2020-11-09 21:48] MariMax commented on #2524
@sameerag could you please reopen this issue, getAllAccounts on CacheManager always returns an empty array for ADFS
it uses getAccount on child class
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/cache/CacheManager.ts#L243
and in case of BrowserCacheManager it cannot reconstruct AccountEntity, validation fails here
https://github.com/AzureAD/micros

[2020-11-09 21:51] sam-wheat opened #2571 "AADB2C99059: The supplied request must present a code_challenge"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

My app is a SPA.  I use MSAL loginPopup() to show the login dialog.  When the user clicks "Forgot password" I handle the error and attempt to redirect.  When I do I get this error:

[This iss

[2020-11-09 21:55] Sharatmenon commented on #2567
Thank you @jasonnutter for the quick response. I tried 2.6.0 and getallaccounts works now. What a relief :)

[2020-11-09 21:55] #2567 closed

[2020-11-09 22:04] ranros commented on #2561
@jasonnutter
- Before login I store in local storage the company, clientId, authority (according to the dynamic configuration)
- Then:
`const msalInstance = getInstance(clientId, authority);
  await msalInstance.loginRedirect({
    scopes: ["openid"],
  });`

- First time it works great.

Issue occurs if for example I cancel the login, or log out, and page is redirected to the app. On init I call

[2020-11-09 22:45] tnorling commented on #2571
@sam-wheat Instead of handling the redirect yourself you should call `loginPopup` again with the password reset policy. You can find an example [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/JavaScriptSPA/authPopup.js)

[2020-11-09 23:11] sameerag commented on #2524
@MariMax Sorry this is a miss form our end. We calculate `homeAccountId` for ADFS as `oid` or `sub` but missed adding `localAccountId` as a property. This was there in the draft, looks like when we finally merged this was missing. Putting out a PR soon.

[2020-11-09 23:24] tnorling commented on #2454
@kafka-yu Apologies for missing this. Is this still an issue? Have you tried version `msal@1.4.3`?

From the logs you shared it looks like there's some sort of state mismatch error which is causing the response/error to be routed through the `handleRedirectCallback`. It's not immediately clear why this is happening. Since you mentioned this arose when upgrading from 1.3.4 to 1.4.1 could you confir

[2020-11-09 23:25] sameerag commented on #2524
One question @MariMax. What is the `name` claim in your ADFS token? There are various versions of ADFS tokens in play, I want to make sure we support that as a part of `AccountInfo`.

[2020-11-10 00:26] #2450 closed

[2020-11-10 01:08] sameerag opened #2574 "Add ADFS tests in UT and E2E"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
Add ADFS tests with correct mocks for

[2020-11-10 01:20] sam-wheat commented on #2571
@tnorling  Thanks much!

[2020-11-10 01:20] #2571 closed

[2020-11-10 01:21] #2524 closed

[2020-11-10 01:22] sameerag opened #2575 "Add `Account` API docs for msal-browser and msal-node"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-11-10 01:24] MariMax commented on #2524
we actually don't have `name` in our claims
[code]

Thank you for quick PR!

[2020-11-10 01:46] sameerag opened #2576 "[msal-node] Add docs for B2C"
## Library
- [x] `@azure/msal-node@1.x.x`

## Documentation location
- [x] docs.microsoft.com
- [x] MSAL.js Github Wiki
- [x] README file
- [ ] Other (please fill in)
- [ ] Documentation does not exist

## Description
Add docs for B2C (Samples included)

[2020-11-10 02:15] jasonnutter commented on #2564
@sam-wheat Correct, by default MSAL.js will use the common authority if none is provided, which supports both MSA and AAD accounts. If you want to ensure your users sign into your tenant, you can use the "tenanted authority": `https://login.microsoftonline.com/<tenantId>`, e.g. `https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad`.

We use `/common` as the default because it is

[2020-11-10 02:44] #2564 closed

[2020-11-10 06:18] directcuteo commented on #2557
![image](https://user-images.githubusercontent.com/37619567/98635167-25d2bb00-232d-11eb-9686-4653d07c682e.png)

I have enabled the logs like on the npm Msal page, this is what I get in the console.

[2020-11-10 07:06] didair commented on #2549
@jasonnutter Yes that resolved our issues. Thanks!

[2020-11-10 07:06] #2549 closed

[2020-11-10 07:10] directcuteo opened #2578 "acquireTokenSilent is not working inside Chrome Extension"
I am developing a Google Chrome Extension using Angular and I am using azure adb2c as security provider.

I have set up everything regarding the login procedure. After logging in I want to make Http calls to our backend, for this I am using the _.acquireTokenSilent_ method before each request and append the token to the http's header.

Unfortunately this is currently not working at all. Every http

[2020-11-10 07:54] kthimmai commented on #2566
@jasonnutter I have shared to your email the Fiddler trace and below are the steps what I am doing in my app

1. Login to my angular webapp where it opens a page to login
2. Click on login button
3. It takes to Azure login page and I select one user to login
4. Azure authenticates and redirects back to my app home page
5. on my home page I see the user data logged in. I click on logout button
6. o

[2020-11-10 09:30] miroslav-staffa commented on #2402
For our project, reverting to msal@1.4.0 was also enough (we kept @azure/msal-angular@1.1.1).

[2020-11-10 10:04] mitul11191 opened #2579 "acquireTokenSilent not working as expected"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did th

[2020-11-10 13:11] rohitsharma91 opened #2580 "acquireTokenSilent is not working , specifically for IE 11.1518.17763.0"
### Library
- [ ] "@azure/msal-angular": "^1.0.0"
- [ ] "msal": "^1.3.0"
.

### Framework
Angular 9

## Description
Implemented MSAL login in Angular application and it's working fine with chrome browser but creating problem for IE 11.1518, when I try to login using IE then it gives 'ClientAuthError: Token calls are blocked in hidden iframes'error.

By going through other posts , I am clear about

[2020-11-10 16:49] pwang2 commented on #2565
It seems a quite difficult thing to reproduce the scenario here.  I start to doubt if out IT admin do change the policy which invalidate the token acquire flow but not the handleRedirectionPromise flow.

Is there any easy way to simulate the accessToken and renewToken expiry?

[2020-11-10 18:11] AquilaSands commented on #2402
Hi, I'm getting the same error when calling our backend API and the MS Graph API we're using msal 1.4.3 and msal-angular 1.1.1. The app works initially and when calls are made to each API we get an access token for each added to local storage the keys vary only in scopes. The problem occurs when we navigate routes or refresh the page, this results in the following:

- `MsalGuard.canActivate()` is

[2020-11-10 18:19] jasonnutter commented on #2565
You can simulate an expired token by manually deleting the access token from local/session storage.

[2020-11-10 18:34] pkanher617 commented on #2579
@mitul11191 msal@v0.2.4 is a pre-release version, and may not have the full support you need for you scenario. Can you upgrade to the latest msal version and see if you are still having issues?

[2020-11-10 19:18] nfpiche commented on #2454
We're seeing the same thing, where it throws as expected in 1.3.4 but 1.4.x does not.

Here is the gist of our code, we execute the `syncOutlook` function from a React SPA, the basic flow is
* Try to get token from localStorage
* If no token, do loginPopup (this is where it hangs)
* After logging in, try to get token again

Happy to try and do a full reproduction later on if this isn't helpful!

[

[2020-11-10 19:40] tnorling commented on #2402
@AquilaSands Thanks for the detailed explanation of what's going on here. I've linked a PR which should address this, if you or anyone else can build this branch locally and confirm whether or not it fixes this issue it would be much appreciated! We'll aim to include this in the next patch release

[2020-11-10 19:44] #2314 closed

[2020-11-10 20:14] jasonnutter commented on #2309
Apologies for the delay on this. #2577 will pass the needed generic. Please note, while this should make it possible to use MSAL Angular v1 with Angular 10 as described in this issue, MSAL Angular v2 will be the recommended supported version for Angular 10 applications.

[2020-11-10 20:18] #2309 closed

[2020-11-10 23:04] #2402 closed

[2020-11-10 23:10] #1896 closed

[2020-11-11 00:54] pkanher617 commented on #2565
@pwang2 You can either delete the access token or change the expiresOn value in the cache to 0.

[2020-11-11 04:04] pwang2 commented on #2565
Thank @jasonnutter and @pkanher617.  The expirary trick works.

I think I have found more information regarding the renewToken [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#refresh-the-access-token) and as described,  application code supposed t handle all kinds of token request error.

For SAP, the refresh (renew) token is good for 24 hrs.   So I

[2020-11-11 08:21] sameerag commented on #2575
#2585

[2020-11-11 09:46] felixvanleeuwen commented on #2309
Is there an ETA for when this version will be released to NuGet?

[2020-11-11 12:01] AquilaSands commented on #2402
@tnorling I've tested the dev branch with this fix locally and it has solved the issue I was experiencing.

[2020-11-11 16:33] jasonnutter commented on #2565
@pwang2 Thanks for the update, glad you figured it out!

[2020-11-11 16:33] #2565 closed

[2020-11-11 19:07] jasonnutter commented on #2578
@directcuteo This error only happens when your app is loaded in iframe, the url contains a hash response from AAD, and the apps tries to invoke acquireTokenSilent (usually this error is thrown when the page used for the redirect URI calls acquireTokenSilent on page load). Can you please provide your configuration for MSAL?

And in the future, please follow one of the [pre-defined issue templates](

[2020-11-11 19:11] jasonnutter commented on #2580
@rohitsharma91 This error happens when your app is loaded in iframe, the url contains a hash response from AAD, and the apps tries to invoke acquireTokenSilent (usually this error is thrown when the page used for the redirect URI calls acquireTokenSilent on page load). In an app using MSAL Angular, this can happen if on page load the redirect page makes an http request to a url that requires an ac

[2020-11-11 21:35] tnorling commented on #2454
@nfpiche I have not been able to reproduce this behavior although from the logs shared above it looks like a state mismatch problem where the state coming back from the server response does not match what msal cached in local storage before making the request. It would be helpful if you could debug [this function](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal

[2020-11-11 21:47] roopeshreddy commented on #2536
@jasonnutter Hey Jason, Any ETA on this issue. Looks like this is a performance hit for our app since we're firing many calls and each call in turn acquiring the token.

[2020-11-11 22:08] #1571 closed

[2020-11-11 23:16] #2568 closed

[2020-11-11 23:16] #2575 closed

[2020-11-12 01:20] jasonnutter commented on #2042
Thank you everyone for your patience. The first alpha of MSAL Angular is now available: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Please read the documentation carefully, especially if you haven't already upgraded your application to MSAL Browser v2.

I'm going to close this issue. If you have feedback or bugs on MSAL Angular v2, p

[2020-11-12 01:20] #2042 closed

[2020-11-12 01:35] jasonnutter commented on #2309
`@azure/msal-angular@1.1.2` is now available on npm.

[2020-11-12 01:40] jasonnutter commented on #497
This is now possible is MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 01:40] #497 closed

[2020-11-12 01:42] jasonnutter commented on #703
This is now possible in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 01:42] #703 closed

[2020-11-12 01:42] jasonnutter commented on #1894
This is now possible in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 01:42] #1894 closed

[2020-11-12 01:43] jasonnutter commented on #1913
This is now possible in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 01:43] #1913 closed

[2020-11-12 01:43] jasonnutter commented on #2282
This is now possible in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 01:43] #2282 closed

[2020-11-12 01:50] jasonnutter commented on #871
"memoryStorage" is now available in the latest version of MSAL Browser v2. Closing.

[2020-11-12 01:50] #871 closed

[2020-11-12 01:55] jasonnutter commented on #1592
Summarizing recommended mitigations for v1:

- Set `initialNavigation` in `app-routing.module.ts` to `'disabled'` when your app is loaded in an iframe
- Increase the timeout set in `loadFrameTimeout`
- Use a blank page as a redirect URI
- Use the latest version of msal (1.4.4)

The best mitigation is to upgrade to MSAL Angular v2, as we know have the first alpha version available: https://github.c

[2020-11-12 01:55] #1592 closed

[2020-11-12 01:58] jasonnutter commented on #1437
Another note, the first alpha of MSAL Angular v2 is now: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Given it does not use iframes for most token acquisition scenarios, this issue should be mitigated after upgrading.

[2020-11-12 02:00] jasonnutter commented on #2500
Closing, as this bug has been fixed and released.

[2020-11-12 02:00] #2500 closed

[2020-11-12 02:02] jasonnutter commented on #2536
@roopeshreddy Have you tried creating a custom scope, instead of using your client id?

[2020-11-12 02:04] jasonnutter commented on #998
There is an internal ticket for this, closing.

[2020-11-12 02:04] #998 closed

[2020-11-12 02:05] jasonnutter commented on #1432
Given the different libraries have different considerations for bundling, I'm not sure this will be realistic. Closing for now.

[2020-11-12 02:05] #1432 closed

[2020-11-12 02:06] jasonnutter commented on #1420
This is now available in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 02:06] #1420 closed

[2020-11-12 02:08] jasonnutter commented on #2295
MSAL Angular v2 alpha is now available: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

We do not expect applications to experience the same timeout errors from v1, so please try it out and let us know if you still experience these issues.

[2020-11-12 02:11] jasonnutter commented on #2537
Closing, as no further action at this time.

[2020-11-12 02:11] #2537 closed

[2020-11-12 02:14] jasonnutter commented on #2522
@emilepretorius MSAL v1 does not support multiple accounts. This means the behavior you describe can happen if your application does not first call the MSAL logout function. MSAL Browser v2 (@azure/msal-browser) does support multiple accounts. Please try upgrading and let us know if you still experience this issue, thanks!

[2020-11-12 02:17] jasonnutter commented on #999
E2E tests now exist, closing.

[2020-11-12 02:17] #999 closed

[2020-11-12 02:18] jasonnutter commented on #1345
The first part of this is done (automating the upload process). Rest of the work is captured in internal PBIs, closing.

[2020-11-12 02:18] #1345 closed

[2020-11-12 02:19] jasonnutter commented on #1272
@sameerag Can this be closed?

[2020-11-12 02:19] #1170 closed

[2020-11-12 02:20] jasonnutter commented on #605
MSAL Browser v2 should not have this problem, closing.

[2020-11-12 02:20] #605 closed

[2020-11-12 02:20] #1026 closed

[2020-11-12 02:23] jasonnutter commented on #2208
MSAL Angular v2 is now available in alpha, and this should no longer be an issue. We will not be fixing this in MSAL Angular v1.

https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

[2020-11-12 02:23] #2208 closed

[2020-11-12 02:24] jasonnutter commented on #2083
Closing, as no further action at this time.

[2020-11-12 02:24] #2083 closed

[2020-11-12 02:25] jasonnutter commented on #1958
Passing additional parameters to the interceptor is now possible in MSAL Angular v2 alpha: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 02:25] #1958 closed

[2020-11-12 02:27] jasonnutter commented on #1881
@sameerag @pkanher617 Is this still an issue?

[2020-11-12 02:29] jasonnutter commented on #1850
This is now available in the MSAL Angular v2 alpha: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing

[2020-11-12 02:29] #1850 closed

[2020-11-12 02:33] jasonnutter commented on #2498
MSAL Angular v2 is now available: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

This should be doable with wildcards in the `protectedResourceMap`.

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/configuration.md#platformbrowserdynamic

This wasn't possible in v1, but should be doable

[2020-11-12 02:35] jasonnutter commented on #1665
We will look to support updating the MSAL configuration dynamically in MSAL Angular v2 ([alpha available now](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0).

[2020-11-12 02:38] jasonnutter commented on #1851
Additional parameters can now be passed to the interactive requests made by the MSAL Guard in MSAL Angular v2: https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-angular-v2.0.0-alpha.0

Closing.

[2020-11-12 02:38] #1851 closed

[2020-11-12 06:39] directcuteo commented on #2578
Here is the configuration I have. I am not using the MsalGuard (or any guard) for the extension because I the first screen is the login gateway. I tried after login to have a screen where I don't make any http request but the application was still throwing errors when I navigated afterwards to some page which makes http calls.

[code]

[2020-11-12 13:45] kthimmai commented on #2580
@jasonnutter - we tried redirecting to a blank html page only for acquireTokenSilent call but it is not working in IE and we see the redirect call still goes to app page loading.

Below is the MSAL configuration -

MsalModule.forRoot({
     auth: {
       clientId: environment.azClient,
       authority: environment.azAuthority,
       redirectUri: http://localhost:4200
    },
    cache: {
      c

[2020-11-12 14:18] vlafranca commented on #1665
Ok so this PR is abandoned or need to adapt for v2 ?

On Wed, Nov 11, 2020 at 9:35 PM Jason Nutter <notifications@github.com>
wrote:

[2020-11-12 16:58] roopeshreddy commented on #2536
@jasonnutter Yes, we do have our custom scope. for ex:

scope: ['fbb05570-d4bb-4ea0-8950-e4f4a5a7fb4d/user_impersonation']

[2020-11-12 19:40] #996 closed

[2020-11-12 20:03] tnorling commented on #1934
Msal 2.x now supports B2C and should not have this issue in most scenarios. Closing, please open a new ticket if this is not resolved after upgrading.

[2020-11-12 20:03] #1934 closed

[2020-11-12 23:28] javila35 commented on #2563
I'm also interested in this sort of functionality. Glad to see it was brought up recently. Thank you! 🙏🏼

[2020-11-13 00:13] NuSkooler commented on #2418
@sameerag I changed two things with the application posted above due to requirements and it is working for me now. I'm not sure if they are related:
* `authority: "https://login.microsoftonline.com/common",`
* Now using `.default` scope, e.g. `scopes: ["https://storage.azure.com/.default" ],`

[2020-11-13 00:23] #2466 closed

[2020-11-13 00:23] #2442 closed

[2020-11-13 01:48] jasonnutter commented on #2580
@rohitsharma91 What is triggering acquireTokenSilent to be called when your app is in an iframe? Whatever it is, can you disable it when your app is in an iframe? That should mitigate this error.

[2020-11-13 02:00] jasonnutter commented on #2578
@directcuteo Try creating a blank html page in your app, and using that as the redirect URI in your app when it is running in a Chrome extension. Note, when running in a Chrome extension, it is likely that silent token requests that require a network request will always return an InteractionRequired error, so be sure to have error handling that call acquireTokenPopup and retries the request.

[2020-11-13 05:10] pwang2 commented on #2565
Hi, @jasonnutter, finally, I was managed to understand the case better as well as get more details about this.

In our case, MFA policy requires every 12hrs need to reauthorize using MFA. After the maximum lifespan of MFA policy ends, while the refreshToken is still valid (24hours for AuthorizationCode flow), MSAL will NOT redirect to the authorization endpoint when we initialize the MSAL app as b

[2020-11-13 07:14] kthimmai commented on #2580
@jasonnutter - we are calling acquireTokenSilent on app page initial load so we can get hold of access token and pass this token to downstream service. What I understand is whenever acruireTokenSilect is called Azure is redirecting back to the app home page and that redirect is handled in iframe(is my understanding correct?). We are somehow not able to block this call in iframe in angular app(thou

[2020-11-13 08:37] TiltedClone opened #2594 "Acquiring appRoles in msal-angular@2"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I recently migrated my angular application from msal-angular@1 to msal-angular@2. I used the Azu

[2020-11-13 08:40] TiltedClone commented on #2594
Duplicate of [How to get user role of the logged in user
#2385](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2385)

[2020-11-13 09:51] TiltedClone commented on #2594
Issue still remains after applying the thread above's solution. No roles are received in the tokens.

<img width="248" alt="approles_manifest" src="https://user-images.githubusercontent.com/40609626/99058835-02fb0d80-259e-11eb-8cee-8737672db979.PNG">
<img width="1399" alt="enterprise_applications" src="https://user-images.githubusercontent.com/40609626/99058853-09898500-259e-11eb-908f-be63b83d12fa

[2020-11-13 12:02] TiltedClone commented on #2594
Issue is fixed.
Seems like having "Groups assigned to the application" set to true (in <Azure app>/Token Configuration) caused the appRoles not be included in the idTokenClaims.

[2020-11-13 12:02] #2594 closed

[2020-11-13 14:04] roopeshreddy commented on #2536
Hey @jasonnutter  Any help on this? This is blocking our production. Any help is appreciated.

[2020-11-13 15:01] DrRocket opened #2595 "PKCE Not Created Error After Upgrading to @azure/msal-angular@2.0.0-alpha.0"
## Library
- [ ] `msal@1.4.4`
- [ ] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-angular@2.0.0-alpha.0`

## Framework
Angular 10.1.2

## Description
I started receiving the following error once I cleared my browser cache after upgrading from @azure/msal-angular@1.1.1 to @azure/msal-angular@2.0.0-alpha.0.  This seems to only occur after clearing my cache but now my application will no longer load

[2020-11-13 15:46] HOGENTJasperDeSmet commented on #2515
Any updates on this issue? Im having a similar issue but when accessing a reverse proxy on my webserver.

[2020-11-13 16:33] roopeshreddy commented on #2595
I think @azure/msal-angular@1.1.1 is for implicit flow version of MSAL. For this MSAL 2.x alpha, you may have to do configuration in the Azure Portal, like settings the app as SPA etc.,

This may help - [https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript-auth-code](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript-auth-co

[2020-11-13 17:35] jasonnutter commented on #2595
@DrRocket This error would seem to indicate that the `window.crypto.subtle` APIs are not present in your browser, can you please confirm if that is the case?

[2020-11-13 17:38] jasonnutter commented on #2595
And yes, please confirm that you have updated your app registration to support MSAL.js v2.

[2020-11-13 21:26] hhubik opened #2597 "How to use the "MSAL Angular 2.X sample" with AD B2C?"
## Library
- [x] `@azure/msal-angular^2.0.0-alpha.0`
- [x] `@azure/msal-browser@2.7.0`

## Description
I just downloaded this [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/angular-v2-minor-fixes/samples/msal-angular-v2-samples/angular10-sample-app).

It runs fine "as is".  However, I am having trouble getting the sample to work with my own AD B2C tenant.

The log

[2020-11-13 21:38] muying-cui opened #2598 "[@azure/msal-browser] Null accountInfo in acquireTokenSilent response"
## Library
- [x] `@azure/msal-browser@2.7.0`

## Description
In the authResponse returned from acquireTokenSilent API, the accountInfo is null, however, the getAllAccounts() API returns expected account information.

## Expected behavior
accountInfo should have expected account information

## Browsers/Environment
- [x] Chrome

[2020-11-14 00:24] #2472 closed

[2020-11-14 01:20] jasonnutter commented on #2515
Apologies for the delay. I was able to reproduce the behavior you describe in the `ngx-translate` [sample app](https://stackblitz.com/github/ngx-translate/example?file=package.json), and was able to mitigate it by providing the relative path in the `protectedResourceMap`, e.g.:

[code]

Apologies for the confusion, we'll make sure this is better documented. cc: @jo-arroyo

[2020-11-14 01:50] jasonnutter commented on #2597
@hhubik `user.read` is a MS Graph scope, and will not work with B2C. You will need to create a custom scope in your app registration, and then use it against your own API. You can see this done in our MSAL Angular v1 B2C sample: https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa

We'll be sure to add an MSAL Angular v2 B2C sample. cc: @jo-arroyo @derisen

[2020-11-14 02:56] hhubik commented on #2597
@jasonnutter thanks for the suggestion.  If I use my own API, what is the best way to get the user's name (or display name)?  Do I need to call MS graph from my API?  I use Azure Functions for my APIs.  Does what you said above about the custom scope apply to Azure functions as well?

[2020-11-14 19:22] DrRocket commented on #2595
Yes, I can confirm that I updated the app registration in Azure AD to support MSAL.js v2.

I can also confirm that when I type in window.crypto.subtle in my browser console, it returns an object.
![image](https://user-images.githubusercontent.com/3606546/99155134-e7196980-267a-11eb-91fb-a7589d9543e1.png)

But I think you are on to something with the window.crypto.subtle, because after some more in

[2020-11-15 05:25] hhubik commented on #2597
Upon  a closer look, it looks like I can get the basic info (including the oid and the name) of the authenticated user from MSAL using the getAccounts() method.  I would still appreciate a sample that shows how to protect an API implemented as an Azure Function.

[2020-11-15 05:25] #2597 closed

[2020-11-15 07:59] jasonnutter commented on #2595
@DrRocket Ah, yes MSAL.js requires the `crypto.subtle` interface, which is only populated in secure contexts:

https://developer.mozilla.org/en-US/docs/Web/API/Window/crypto

It is also worth noting that AAD does not support `http` redirect URIs (other than `localhost`).

[2020-11-16 11:29] jupitel1993 commented on #2515
I have the same issue. Adding
` ["/assets/i18n/*.json", null] into protectedResourceMap`
doesn't help, app sends requests with appended security token for these resources. Any workaround?

[2020-11-16 11:33] VincentAndOldBob opened #3449 "Unable to authenticate msal.js bearer token Strategy.prototype.jwtVerify: We did not receive a token we know how to validate"
I am trying to authenticate an Angular SPA user to use a node API with passport-azure-ad .

The SPA using msal appears to do the log in process ok and send a bearer token. In the API, passport gives this message in the log and doesn’t authenticate the token.

{"name":"AzureAD: Bearer Strategy","hostname":<removed>,"pid":18992,"level":30,"msg":"authentication failed due to: In Strategy.prototype.jw

[2020-11-16 12:14] ben-sf opened #2600 "[msal-node] Issues when server is behind proxy"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-node@1.0.0-alpha.5`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##Framework:
NodeJS

## Description:
When proxy is configured for NodeJS we are getting the following e

[2020-11-16 14:18] elizabethconnolly opened #2601 "MSAL B2C Session Expiration and Automatic Logout Problems"
We have recently upgraded our Azure SPA to use msal-browser 2.x  as part of migrating to use the new b2clogin endpoint specified in:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

The MSAL version specified is:

    "@azure/msal-browser": "^2.3.0",

We are using built-in B2C user flows - no custom user flows. For testing, the B2C User flow (SignInOnly variant) specifies a S

[2020-11-16 14:45] DrRocket commented on #2595
Thanks for this.  Turned out that on the deployment slot in Azure that I was using to test this, I had failed to set the HTTPS only flag on the custom domain.  Setting this to true seems to have fixed this issue.  Thanks for leading me to the answer!

![image](https://user-images.githubusercontent.com/3606546/99265957-e5b97f80-27e7-11eb-9b09-cfbc09fc732a.png)

[2020-11-16 15:04] elizabethconnolly commented on #2601
Other environment information: react, typesecript

[2020-11-16 16:31] pkanher617 commented on #2565
@pwang2 To be clear - is the error above happening when you call acquireTokenSilent? Or when you come back from the redirect?

You shouldn't have to call `msalApp.logout()`, you can also resolve this by calling acquireTokenRedirect/acquireTokenPopup and present the MFA screen to the user again.

[2020-11-16 16:36] lgadola commented on #2402
installed 1.4.4 and it works again!
Thanks for this swift reaction and bugfixing, folks!

[2020-11-16 16:57] sameerag commented on #2601
@elizabethconnolly This could be a B2C Service issue than MSAL. Can you please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-11-16 18:35] sameerag commented on #2600
@ben-sf Can you please provide your configuration info? The app needs to include the `authority` in the `knownAuthorities` parameters if you are using a B2C or a third party authentication endpoint. Usage is documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/initialization.md#optional-configure-authority).

[2020-11-16 18:36] sameerag commented on #2598
@muying-cui Can you please share the logs, Configuration and the request details for your case?

[2020-11-16 18:41] sameerag commented on #1272
Will address the documentation gaps on this and close it. Picking this activity soon.

[2020-11-16 18:45] sameerag commented on #1437
@giovannimele Can you please confirm that upgrading to the latest Angular version mentioned above is resolving this issue?

[2020-11-16 18:58] ben-sf commented on #2600
@sameerag Thank you for the quick response.
See below my configuration info:
{
        auth: {
            clientId: '<MY_CLIENT_ID>',
            authority: 'https://login.microsoftonline.com/<MY_TENANT_ID>',
            clientSecret: '<MY_CLIENT_SECRET>'
        },
        system: {
            loggerOptions: {
                loggerCallback(loglevel, message) {
                    console.log(m

[2020-11-16 19:01] sameerag commented on #2219
@deasems Can you please test with the latest browser release and help us if the issue is still seen? There are some improvements we made which may have mitigated this issue. Please share the steps and logs in case you are able to reproduce this.

[2020-11-16 19:09] sameerag commented on #2418
Great @NuSkooler. As I mentioned above, access tokens are resource specific and scope format is agreed with the service in advance. Please let us know if you notice any further issues.

[2020-11-16 19:09] #2418 closed

[2020-11-16 19:12] sameerag commented on #2441
@hpsin Are we tracking this in ADO?

[2020-11-16 19:28] sameerag commented on #2478
Thanks @baSSiLL. @muperi Is the above information helpful? Please let us know and share your code if you still need to understand the usage pattern.

[2020-11-16 19:29] sameerag commented on #2482
Looks like adding `Origin` headers resolved this issue. Closing.

[2020-11-16 19:29] #2482 closed

[2020-11-16 20:25] elizabethconnolly commented on #2601
Thanks for the response. In fact, we already had a ticket open and they told us to file an issue here. Please advise.

[2020-11-16 21:07] hpsin commented on #2441
We need a repro URL.  @richardsunMS please share the login URL that appears in the browser bar during login (login.windows-ppe.net/...?client_id=....)

[2020-11-16 21:56] Jernik commented on #2315
Hi @tnorling where is this documented? T[he FAQ for msal-browser specifically calls out Azure B2C as a service that it supports with no caveats.](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#will-msal-2x-support-b2c)  This issue (on page 3 of the issues list) and many posts down is the first mention of that I have seen.

Is there a "Support B2

[2020-11-16 22:32] tnorling commented on #2315
@Jernik Sorry to hear this has been a source of frustration for you. This particular error and workaround are documented in the [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-there-no-access-token-returned-from-acquiretokensilent), which is also where other known issues are communicated. If you run into any issues that are not docum

[2020-11-16 22:50] Jernik commented on #2315
@tnorling ah that makes sense, in the past you had pinned issues when workarounds like this were needed, so that's where I had looked. My 2 cents on the matter of the api design is that MSAL should trigger the authorization code exchange if it doesn't get an access token back with the scopes that were requested. I don't know if that makes sense from how it's implemented, but from a consumer of the

[2020-11-16 23:41] tnorling commented on #2315
@Jernik

 We agree the current behavior is unexpected and the B2C service team is working towards solving this in a way that will give you the behavior you describe. Unfortunately I don't have an estimate as to when that work will be completed as it is a larger undertaking than just a simple bug fix.

MSAL doesn't make any assumptions about how you want to do the auth code exchange (popup, redirec

[2020-11-16 23:49] Jernik commented on #2315
That makes sense, is there any plan for an AuthorizationCodeExchangeRequired exception the same way there is an InteractionRequired exception to communicate this to consuming application? Or is checking for the access_code to be on the response the long-term way for it to be controlled?

[2020-11-17 00:12] tnorling commented on #2315
No, the long-term plan is to "fix" the current behavior so that you don't get into a situation where the service is silently ignoring your request. Checking for the `accessToken` is merely a workaround and we don't expect it to be necessary long term. You can spin up an app registration on an AAD (non-B2C) tenant to see how this should work on B2C whenever the work is completed.

[2020-11-17 09:21] paranthamanwp commented on #2548
Can u please help

[2020-11-17 10:18] mazhaojia opened #2603 "popup window in a non full screen iframe, the window is not centered."
we are using msal-browser to popup window inside an iframe, but the iframe has a specific small size, not in full screen, this caused the popup window not centered. Could you add a configuration to specify the popup window's position?

[2020-11-17 12:18] Calamari opened #2604 "Wrong type for getAllAccounts, should be nullable"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.7.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

In all examples calling `getAllAccounts()` there is a check for null done, see [here](https://g

[2020-11-17 12:39] ThomasPe opened #2605 "RENEW_TOKEN called on every MSAL Interceptor call"
## Library
- [x] `msal@1.4.4` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.2`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 10

## Description
I've set up MSAL with the provided Interceptor to talk to my backend. T

[2020-11-17 13:30] jakubgrzywaczewski opened #2606 "acquireTokenSilent does not return the token field"
## Library
- [x] `msal@1.4.4`

## Framework
React 16.11.3

## Description

So far I have used msal.js version 1.3.2 for authorization via b2c. After upgrading to version 1.4.4, I noticed a problem with the response returned by the **acquireTokenSilent** method - the **accessToken** field is missing. The token itself appears in the **idToken**.**rawIdToken** field.

## Regression
- [x] Did this beh

[2020-11-17 13:44] PKCheap opened #2607 "Typescript Compilation Error"
## Library
- [x] `@azure/msal-browser@2.7.0`
- [x] `@azure/msal-react@1.0.0`

## Framework
React

## Description
Importing anything from @azure/msal-react into a tsx file triggers a compilation error.

## Error Message
TypeScript error in .../node_modules/@azure/msal-react/dist/index.d.ts(1,1):
Declaration or statement expected.  TS1128

## Security
- [ ] Is this issue security related?

## Regres

[2020-11-17 13:59] roopeshreddy commented on #2536
Hey @jasonnutter Can you please confirm on this? While logging in, we can get only one scope?

[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-there-no-access-token-returned-from-acquiretokensilent](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#why-is-there-no-access-token-returned-fro

[2020-11-17 15:01] morr0350 opened #2608 "Daylight savings system clock adjustment on client machine causes MSAL.js to return cached expired token instead of acquiring refreshed token"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.4.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 9 / Ele

[2020-11-17 15:26] binhnguyen1984 opened #2609 "the code does not work in IE 11"
## Library
- [ ] `@azure/msal-browser@2.7.0`
## Description
Nothing happens when choosing either pop-up or redirect sign in.
## Error Message
No error message

## Expected behavior
A window should pop up and ask for the user's credentials
## Browsers/Environment
- [ ] IE

[2020-11-17 17:02] tnorling commented on #2609
@binhnguyen1984 Using our library with IE11 has some additional considerations, such as providing a promise polyfill. Have you tried our [IE11 sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/ie11-sample)?

[2020-11-17 17:12] tnorling commented on #2536
@roopeshreddy You can request multiple scopes if they are for the same resource i.e. MS Graph. You will need to make separate requests if you are requesting scopes that span multiple resources i.e. MS Graph and Sharepoint.

[2020-11-17 17:17] tnorling commented on #2604
@Calamari Thanks for pointing this out, looks like the sample needs to be updated. `getAllAccounts` will return an empty array if no accounts are found.

@derisen Could you please update the samples to check for `currentAccounts.length === 0` instead of `null`?

[2020-11-17 17:20] pkanher617 commented on #2606
@jakubgrzywaczewski If you are sending `msalClientId` as the scope, you are requesting the scopes for openid and profile, which are idToken scopes. Please check the network trace to make sure, but this should only give you an id_token from the STS.

Previously, the library returned this token as an access token as well. We have since changed that behavior to be in-line with what the server is send

[2020-11-17 17:26] pkanher617 commented on #2603
@mazhaojia I have updated it for you this time, but in the future please use the issue template when submitting a new issue.

[2020-11-17 17:42] pkanher617 commented on #2601
@elizabethconnolly Could you please fill out the [bug template](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new?assignees=&labels=bug&template=bug_report.md&title=) with the required information? You have provided most of the information we need, but the template will help us organize the information better.

As @sameerag said above, I believe this is something the B2

[2020-11-17 18:21] elizabethconnolly commented on #2601
Thank you @pkanher617. I am filling out the bug template now. Are you saying that if we make token lifetime = session lifetime this should work? We had them set at different times for testing because our understanding was that the session would end at its own lifetime expiration, even if the token hasn't expired. If that's the case we will test it with equal times. Surprised the B2C team did not a

[2020-11-17 18:23] binhnguyen1984 commented on #2609
The sample for IE 11 is not available. There is a link but it leads to nowhere.

[2020-11-17 18:34] sameerag commented on #2609
@binhnguyen1984 The link provided by @tnorling above is the IE11 sample. Can you check that?

[2020-11-17 18:40] HarmanDhunna commented on #2601
Hi @elizabethconnolly, would you have the id of the bug you filled out? I would like to look at the details of this issue.
If you have not already, could you share a network trace with us in the bug?

[2020-11-17 18:45] binhnguyen1984 commented on #2609
@sameerag @tnorling My mistake. I tried a different link (https://www.npmjs.com/package/@azure/msal-browser#samples). I will try the one you mention and let you know the result. Thanks.

[2020-11-17 18:47] elizabethconnolly commented on #2601
ID is #2601. Couldn't find a place to put that in the template.

[2020-11-17 18:52] elizabethconnolly commented on #2601
Now I can't access the template - not sure it saved. Do you have access to it @HarmanDhunna ? Thanks

[2020-11-17 19:00] tnorling commented on #2607
@PKCheap I was not able to reproduce this, can you do some debugging to determine if this is a problem with the package or with your development environment? We will have a typescript sample up soon.

[2020-11-17 19:01] HarmanDhunna commented on #2601
2601 links me back to this issue. I was looking for the ID of the support ticket that you filled. I can ask my contact in the support team to look up the ticket for me, I don't have access to support tickets.

Did you receive an email when you filled the report? You might be able to update the ticket from there.

[2020-11-17 19:27] elizabethconnolly commented on #2601
Ah, thanks.

This is the support ticket ID for the B2C issue we opened. I will add this to the 2601 issue too.

2011050040006485

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: HarmanDhunna<mailto:notifications@github.com>
Sent: Tuesday, November 17, 2020 2:01 PM
To: AzureAD/microsoft-authentication-library-for-js<mailto:microsoft-authentication-library-for-js

[2020-11-17 20:06] binhnguyen1984 commented on #2609
@tnorling I got an error "no such file or directory, stat 'C:\microsoft-authentication-library-for-js-dev\samples\msal-browser-samples\VanillaJSTestApp2.0\index.html'".
I run the command:  npm start -- -s ie11-sample
from the VanillaJSTestApp2.0 folder as instructed.

[2020-11-17 20:49] tnorling commented on #2609
@binhnguyen1984 hmmm interesting, I just tried it myself and did not get that error. Are you getting this error when trying to serve the sample or when you navigate your browser to `localhost:30662`? Are there any other messages in the console?

[2020-11-17 20:54] binhnguyen1984 commented on #2609
@tnorling I got this error when clicking on the Sign In button. There is no other error. Below is the messages in the Console.
Listening on port 30662...
GET / 304 5.269 ms - -
GET /lib/msal-browser.js 404 5.818 ms - 318
Error: ENOENT: no such file or directory, stat 'C:\microsoft-authentication-library-for-js-dev\samples\msal-browser-samples\VanillaJSTestApp2.0\index.html'
GET /authConfig.js 200

[2020-11-17 21:04] tnorling commented on #2605
@ThomasPe Could you try opening the `login.microsoftonline.com` url in the error message in a new tab? This error is usually thrown when the Authority is trying to display an error in the top frame from the hidden iframe used by `acquireTokenSilent`. It's quite likely based on your description that you are being throttled but it would be good to confirm.

Can you also take a look at localstorage a

[2020-11-17 21:14] tnorling commented on #2609
@binhnguyen1984 Did you build the `msal-browser` package? You can run `npm run build:package` in the `VanillaJSTestApp2.0` folder then try starting the server again.

Alternatively you can open up `VanillaJSTestApp2.0/app/ie11-sample/index.html` and replace the local msal-browser import on line 10 with the cdn import

`<script type="text/javascript" src="https://alcdn.msauth.net/browser/2.7.0/js/m

[2020-11-17 21:35] binhnguyen1984 commented on #2609
@tnorling I replace the script link and the error disappears. But nothing happens when clicking on Sign in.
Listening on port 30662...
GET / 200 9.015 ms - 3117
GET /authConfig.js 304 2.205 ms - -
GET /ui.js 304 1.439 ms - -
GET /auth.js 304 1.213 ms - -
GET /graph.js 304 1.664 ms - -
GET / 200 4.815 ms - 3117
GET /ui.js 304 2.367 ms - -
GET /auth.js 304 2.688 ms - -
GET /graph.js 304 2.910 ms - -

[2020-11-17 21:43] tnorling commented on #2609
@binhnguyen1984 Sorry about that, looks like 2.7.0 is not on CDN yet try:

[2020-11-17 21:46] binhnguyen1984 commented on #2609
@tnorling It is working this time. Thank you very much. I will see if I can make it work for my project.

[2020-11-17 21:46] roopeshreddy commented on #2536
@tnorling Okay, Gotcha! Make sense. Unfortunately, we've few resources and somehow after the login, each token is called multiple times, even though, token is available in cache as this bug states!

[2020-11-17 21:54] tnorling commented on #2536
@roopeshreddy The cause of your issue may or may not be the same as the original issue, could you email me a network trace and a screenshot of your local/sessionstorage cache keys? My email is on my profile.

[2020-11-17 23:10] tnorling commented on #2552
Closing as the question was answered.

[2020-11-17 23:10] #2552 closed

[2020-11-18 00:25] #2493 closed

[2020-11-18 00:25] #2489 closed

[2020-11-18 00:25] #2473 closed

[2020-11-18 00:25] #2457 closed

[2020-11-18 00:25] #2421 closed

[2020-11-18 00:36] sameerag commented on #2475
Apologies for the delay. I will be inspecting the logs tomorrow and will reach out if I need further data. Thanks for the patience.

[2020-11-18 01:09] roopeshreddy commented on #2536
@tnorling  Sure. Will do that. I will message here, once I send it! Thank you.

[2020-11-18 01:40] mazhaojia commented on #2603
thanks @pkanher617, when can this enhancement be done?

[2020-11-18 02:02] jviney opened #2614 "Subsequent calls to acquireTokenPopup break the first invocation and prevent authentication"
## Library
- [x] `@azure/msal-common@1.7.2`
- [x] `@azure/msal-browser@2.7.0`

## Framework

AngularJS.

## Description

The first call to `acquireTokenPopup` works correctly. If there is a subsequent call to `acquireTokenPopup` before the first one has completed, it causes the first popup to go blank, and raises a `BrowserAuthError.interaction_in_progress` error.

## Error Message

## MSAL Config

[2020-11-18 07:40] Servellia opened #2615 "getAllAccounts returns an empty array"
## Library
- [X ] `@azure/msal-browser@2.7.0`
## Framework
React & nextJs

## Description
I am trying to implement a global AuthProvider to supply the username, email address and token to any page regardless and force authentication, if a toke expires.

To provoke this behavior I clear the localStorage with `localStorage.clear()`. After the login has been successfull, msal retrieves all informatio

[2020-11-18 08:43] MedGhassen commented on #2386
Any updates on this ?

[2020-11-18 09:39] jakubgrzywaczewski commented on #2606
@pkanher617 Got it, thank you for your explanation. I recieve `idToken`. If I understand correctly, it is impossible to restore `access_token` field in response, and the only field with token is `idToken` (for `openid` and `profile` scope), right?

I am trying to understand how to restore the accessToken field in response by modifying the scope, but I cannot tell. I looked at the documentation htt

[2020-11-18 09:41] svrooij commented on #2498
I'm not sure if setting the protectedResourceMap to something link the following is a good idea. This could send the access token to any reverse proxy. I would rather not use the `*` and set it to `/api/endpoint`. So any url in the map starting with a `/` would be relative.

[code]

[2020-11-18 12:32] kthimmai commented on #2580
@jasonnutter - we implemented a solution as suggested in below issue thread and now app is working fine in IE

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1728

[2020-11-18 13:52] binhnguyen1984 commented on #2609
@tnorling I could not call my API as

[2020-11-18 13:52] #2609 closed

[2020-11-18 16:54] dfibuch commented on #2315
@tnorling Has something changed already in the API or something, I seem to be getting the `accessToken` now during my first `loginRedirect` response.

[2020-11-18 17:04] bhasker412 commented on #2489
@jasonnutter  Sorry for the delay, the solution worked very well. Thanks alot.

[2020-11-18 17:08] tnorling commented on #2315
@dfibuch Interactive calls such as redirect and popup should always succeed (provided you've configured everything correctly), if you do find that these are failing please open a new issue as we should understand what's going on there. `acquireTokenSilent` is the only API affected by the behavior being discussed in this thread.

[2020-11-18 17:11] dfibuch commented on #2315
Ye sorry @tnorling I deleted my comment as soon as I realised my mistake. I've been off for a week and came back to "login seems to be playing up again" so started looking into it and got confused. Ignore me 🤦‍♂️

[2020-11-18 17:15] hectormmg commented on #2606
Hi @jakubgrzywaczewski ,

Yes, you can turn your request into an access token request by manually adding "openid" and or "profile" to your scopes. This would be the very last example case in the scopes doc you refer to. When Client ID is the only scope, MSAL replaces it with openid and profile and turns it into an ID Token request. However, if you add any other scopes (including openid or profile)

[2020-11-18 17:16] sam-wheat opened #2616 "Guidance for persisting JWT?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

#

[2020-11-18 17:25] tnorling commented on #2615
@Servellia It looks like what's probably happening is that `handleRedirectPromise` has not finished when you call `getAllAccounts` the first couple of times. You will need to make sure that `handleRedirectPromise` has resolved before calling other msal APIs. We do have a [react library](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react) in alpha you can che

[2020-11-18 17:40] Calamari opened #2617 "Password reset flow not working due to cache not cleared"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.7.2`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
none

## Description

We are currently switching from MSAL 1 to MSAL 2 since it is now handling b2

[2020-11-18 17:50] tnorling commented on #2617
@Calamari Msal clears the interaction status when it processes the response from the server. Since you are handling the response yourself this is why the cache entry is not being cleared. What you should do instead is:

1. Call loginRedirect
2. If the user clicks reset password they will be redirected back to the app with an error
3. Call `handleRedirectPromise` and catch the error
4. If the error

[2020-11-18 17:54] JeffFisher-sitekit opened #2618 "msal-angular unable to find cached access token"
## Library
- [ ] `msal@1.4.4`
- [ ] `@azure/msal-angular@1.1.2`

## Framework
Angular 8

## Description
MSAL does not locate a valid access token in the cache, causing it to try, and fail, to invoke a silent refresh.

I have debugged this issue and found why this is happening:

To get a hit on the token cache, the account needs a matching homeAccountIdentifier. In my case, the homeAccountIdentifie

[2020-11-18 19:26] Servellia commented on #2615
I've tried to follow your suggestion and it does seem to work *fingers crossed*. I'm not too sure I followed the best practices here:

[code]

I'm no longer passing the username in, by invoking aquireToken from inside getUserAccounts, but from the state. I'll manually delete the localStorge a couple dozen times to see, if any more hidden race-conditions occur.

As to the react library. I'll def. g

[2020-11-18 19:28] derisen commented on #2617
@Calamari likewise, you can find an msal.js 2.x B2C sample with password reset flow [here](https://github.com/Azure-Samples/ms-identity-b2c-javascript-spa).

[2020-11-18 19:36] tnorling commented on #2615
Ah `react-aad-msal` is built on our older msal library which did not properly support SSR. `msal-react` on the other hand is built on top of the newer `msal-browser` library and has been tested with SSR and NextJS. If you run into any issues with the new library we would very much like to know as SSR is something we would like to support moving forward.

[2020-11-18 22:50] deasems commented on #2219
@sameerag I've setup a build using 2.7.0 and will check in on a long running session this week to see if I run into the issue

[2020-11-18 22:51] skironDotNet commented on #1592
**This helped, the 3rd is where callback forces the redirect.** Easy to test in chrome using dev console. Clear cache, and click some link in the app, the MsalGuard would not redirect without given solution

![image](https://user-images.githubusercontent.com/2981715/99597765-19e69900-29be-11eb-800b-5977c034c12b.png)

[2020-11-19 00:25] #2423 closed

[2020-11-19 04:54] kostrse commented on #2539
Updated to `@azure/msal-browser@^2.7.0` and `@azure/msal-common@^1.7.2`

See another error for previously signed in user:
[code]

[2020-11-19 09:40] Calamari commented on #2617
Ha, thank you, @tnorling  & @derisen.

We did indeed call `handleRedirectPromise()`, but only in the login case (so we don't find an error). I forgot to visualize that in my code extract above. But it looks like to use that in all cases was the pointer that I needed. Now, it works and seem to clear up all the cache.

Sometimes you just need some fresh pair of eyes to point to you doing something s

[2020-11-19 09:40] #2617 closed

[2020-11-19 11:04] aathirag opened #2621 "ClientAuthError: Login_In_Progress: Error during login call"
## Library
- [x] `msal@1.4.3` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.1.1`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

[2020-11-19 12:06] ThomasPe commented on #2605
Turns out the issue was that I included the 'user.read' scope that was meant for the Graph API in the Protected Resources Map for the API which it doesn't know about. Any chance that these kind of issues could result in more meaningful error messages or is this something that you don't get back from Azure AD yourself?

[2020-11-19 14:00] PKCheap commented on #2607
Hi @tnorling,
I ended up switching back to react-aad-msal for my project - waiting with anticipation to see how msal-react turns out! Since this issue seemingling was only affecting me, I'll close the issue.

[2020-11-19 14:00] #2607 closed

[2020-11-19 14:01] jakubgrzywaczewski commented on #2606
Hi, @hectormmg

Thank you for your response. Unfortunately, after adding a new parameter to this configuration as you proposed, I catch an error:

[code]

I'm a little bit confused. Without additional parameter I'm able to recive response (without access token field) and with `openid` parameter I get an error.

[2020-11-19 17:03] MariMax opened #2622 "KMSI on ADFS with @azure/msal-browser@2.x.x"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `@azure/msal-browser@2.x.x`

## Description
our case:
after the first successful login using @azure/msal-browser@2.x.x user has one hour to use accessToken, then user has to renew it with refresh token which is good for 8 hours, I guess ADFS setting responsible for that Sso

[2020-11-19 17:07] hectormmg commented on #2606
@jakubgrzywaczewski  thanks, I'll look into it!

[2020-11-19 17:13] tnorling commented on #2605
@ThomasPe Unfortunately we have no way of getting the errors AAD displays on the sign-in page, msal can only bubble up the errors that are returned in the url hash when AAD redirects back to the app.

Did making this change resolve the cache miss?

[2020-11-19 17:20] ThomasPe commented on #2605
Yes, I'm not seeing token refreshes in every call anymore.

[2020-11-19 18:04] tnorling commented on #2539
@kostrse This error is thrown when you call `acquireTokenSilent` before calling an interactive method such as one of the login methods or `acquireTokenPopup` or `acquireTokenRedirect` due to the fact that a refreshToken has not been obtained yet. Your app should catch this error and call an interactive method. If you are using `loginRedirect` or `acquireTokenRedirect` you should also make sure tha

[2020-11-19 19:14] hectormmg commented on #2606
@jakubgrzywaczewski

Do you mean you want the value that is currently in idToken to also be in accessToken? Or are you trying to acquire an access token as well?

In the past, for client Id as the only scope, MSAL would get an ID token and put it into the "accessToken" and "idToken" fields (both with the same value). Now MSAL gets the same ID Token but puts it under idToken and leaves "accessToken

[2020-11-19 22:02] tnorling commented on #2622
@MariMax Msal does not control token lifetimes, it only requests a token from the server and caches whatever the server returns. Setting the refresh token lifetime would need to be done on your ADFS server and those types of questions are, regrettably, out of scope for this team. You may get a better answer going through whomever administers your ADFS server or through your support channels.

As a

[2020-11-19 22:11] MariMax commented on #2622
Thank you!

[2020-11-19 22:11] #2622 closed

[2020-11-19 23:33] tnorling commented on #2386
@bstair @MedGhassen If you call `acquireTokenRedirect`, `acquireTokenPopup` or `ssoSilent` instead of `acquireTokenSilent` do you get the updated claims? Service level questions such as this are better asked to the Service teams but I'm going to guess that claims are refreshed when calling the `/authorize` endpoint. One major difference between `msal@1.x` and `msal-browser@2.x` is that `acquireTok

[2020-11-19 23:37] tnorling commented on #2618
@JeffFisher-sitekit This looks like a problem with the custom policy configuration. We're still waiting to hear back from the B2C service team to find out what you need to change to get the correct `uid` but in the meantime you can also open a [B2C Support Ticket](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options), they may be able to answer you quicker through that chann

[2020-11-20 00:26] #2465 closed

[2020-11-20 05:51] meyunus opened #2624 "How do I generate an access token in MSAL v1.4 to be passed to"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##

[2020-11-20 05:52] #2624 closed

[2020-11-20 06:09] meyunus opened #2625 "How do I generate an access token for on-behalf-of flow in MSAL.js?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

##