[2022-10-24 23:33] r-delgadillo commented on #4879
+1, Our client is also reproducing the issue. Here are the error details we received in case it might help. For this specific request, we are calling `acquireTokenByCode` and using the `authority` that was used to instantiate the client which is "https://login.microsoftonline.com/organizations" (we are not passing/overwriting `authority` as part of the request object).

`"context":{"stack":"Client

[2022-10-25 00:45] izikl opened #5333 "acquireTokenSilent fails with "Failed to execute 'setItem' on 'Storage'""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

We have got some users getting error:
[code]

This is the traces, we are seeing in the app:
![image](https://user-images.githubusercontent.com/8294298/197652716-aeca268d-e9e1-4964-b

[2022-10-25 09:00] capc0 commented on #1626
any update for admin consent requests?

[2022-10-25 16:37] jim-moody opened #5335 "How do I dynamically set the cachePlugin?"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Confidential

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/caching.md#performance-and-security

### Description

In this documentation, it talks about creating a custom `cachePlugin` that can partition

[2022-10-25 16:39] #5319 closed, assigned to Robbie-Microsoft

[2022-10-25 17:16] Robbie-Microsoft commented on #4879
@scottgit @r-delgadillo @awanlin I just put together a new sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/custom-INetworkModule-and-network-tracing) which demonstrates how to set up a custom HttpClient for network debugging and how to use Fiddler to perform network tracing on your application. Can you use Fiddler (instructions in

[2022-10-25 17:28] Robbie-Microsoft commented on #4879
@awanlin For what it's worth, I am able to run the sample in my previous comment with msal-node versions 1.9.1 and 1.14.2.

[2022-10-25 20:44] kmikzjh commented on #4290
any solution or workaround for this problem?

[2022-10-25 21:28] bmahall commented on #5330
@aleknik Thanks for bringing this to our attention, we currently do not support OBO tokens refreshed with long lived RT, i.e user will have to send a new assertion if the current access token expires.
 This is to prevent security issues when the assertion changes over time, however, longlived RT helps retaining the session.

I can get back to you on whether we intend to support this scenario in ne

[2022-10-25 21:45] bmahall commented on #5332
@izikl Can you provide more information on your specific use case ?
Normally, you can configure the popup window size as below:- (note: exact config such as scope values will depend on your use case)
`
    const popupRequest = {
        scopes:["Mail.Read"],
        popupWindowAttributes: {
            popupSize: {
                height: 100,
                width: 100
            },

[2022-10-25 21:51] bmahall commented on #5333
@izikl Thanks for opening this issue. How many users are currently impacted by this error? Can you try to reproduce this error with the latest version of msal-browser?

[2022-10-25 22:06] bmahall commented on #5335
@jim-moody Please refer to the latest documentation and the sample listed on caching:- [Caching.md](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/b96d4a1a9588d6587e2fbb65e6ba888f0ff469c3/lib/msal-node/docs/caching.md)

This is part of PR [#5003 ](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5003)

[2022-10-25 22:35] bmahall commented on #5321
@Tsathyapriya80 Apologies for the delay , I am trying to reproduce this on my end .
Can you share verbose logs on the email mentioned on my profile?

[2022-10-25 22:40] bmahall commented on #5321
@Tsathyapriya80 Can you share more information on the Azure configuration you are using- redirecturi's and Authentication/Authorization fields especially. Any redirect uri's you are specifying in the msal code?

[2022-10-26 01:00] ghost commented on #5316
@dbelyaev This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-26 01:00] ghost commented on #5111
@1hw7 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-26 06:33] johnvinosh commented on #4298
![image](https://user-images.githubusercontent.com/26540475/197951765-f10d7110-88e1-4076-b1f2-a0428ccb49ab.png)

I am using Angular 14 and I am getting this error. Is there any workaround for this ?

[2022-10-26 06:34] johnvinosh commented on #4956
![image](https://user-images.githubusercontent.com/26540475/197952087-2ab45fe2-ab1d-40de-864c-030e779667ad.png)

I am using Angular 14 and I am getting this error. Is there any workaround for this ?

[2022-10-26 06:43] johnvinosh opened #5336 "'MsalModule' does not appear to be an NgModule class"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.5

### Public or Confidential Client?

Public

### Description

![image](https://user-images.githubusercontent.com/26540475/197953238-69e923a0-3f3f-4c47-ae1d-f0c18ba8bf8f.png)

I am getting this compile time error when I imp

[2022-10-26 13:00] ghost commented on #5324
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-10-26 13:00] ghost commented on #5320
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-10-26 13:01] aleknik commented on #5330
Our scenario requires us to refresh the token for the lifetime of the session even though the assertion is expired, so this would help us to leverage the MSAL library for all scenarios (We are currently using a custom implementation of OBO and refresh flow for this scenario). Is it possible to get the refresh token in the msal library response and call the refresh method as a workaround?

[2022-10-26 16:09] svdHero commented on #5245
Dear msftbot, please leave this open. I am sick atm, but I will provide a repro app on monday.

[2022-10-26 16:53] 1hw7 opened #5337 "acquiretokenredirect best practices guidance"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Public or Confidential Client?

Public

### Description

Hi! I am just looking for guidance on best practice with acquireTokenRedirect.

We are using msal-react, but we have reusable functions we use to acquire tokens wit

[2022-10-26 16:59] 1hw7 commented on #5111
Hi! I'm wondering if there are any updates on this issue or if there is any other information i can provide?

[2022-10-26 17:28] sameerag commented on #5111
@bmahal Can we prioritize to root cause this?

[2022-10-26 17:35] sameerag commented on #5326
@okapies We do not support this scenario as `msal-browser` is a SPA type app and the auth code redeems only a SPA RT which has a shorter validity in comparison (more details [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md)) with server end token fetch (say @msal-node).

Can you explore `msal-node` if it fits your case?

[2022-10-26 19:07] 1hw7 commented on #5337
I was able to talk with @sameerag (thank you so much!) about our app and how we can improve our usage of msal. It would be great if there could be further docs made to explain best practices for concurrent requests.

For anyone else who happens upon this: If you are sending off concurrent requests to fetch tokens which will fail due to expired refresh tokens, make sure you fall back to interactive

[2022-10-26 19:30] bmahall commented on #5111
@1hw7 I am in touch with @sameerag and will get back on this on priority. Thanks

[2022-10-26 21:22] bmahall commented on #5336
@johnvinosh Thanks for opening this issue, it is currently being tracked in #4298 . You can find the [Roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/roadmap.md) here.

Can you include the Angular version you are using as well?

[2022-10-27 00:56] lobaak commented on #5074
@adrianzielonka your answer led me to a fix for our issue. Many thanks

[2022-10-27 01:00] ghost commented on #5317
@bui2jp This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-27 01:00] ghost commented on #5310
@72gm This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-27 17:04] Tsathyapriya80 commented on #5321
if I specify redirect uri, I am getting error
MsalServiceException: A configuration issue is preventing authentication - check the error message from the server for details. You can modify the configuration in the application registration portal. See https://aka.ms/msal-net-invalid-client for details. Original exception: AADSTS500112: The reply address 'https://localhost:52808/Home' does not match

[2022-10-27 17:54] bmahall commented on #5337
@1hw7 Thanks for updated comment, looking forward to connect on Monday as discussed.

[2022-10-27 18:06] okapies commented on #5326
Thanks for the response. But our server (API) is not written in node.js and I would like to make MSAL handle the popup window feature out of the box. I think "getting an authorization code on SPA right before redeeming it on API" scenario does not contradict with your policy. What do you think?

[2022-10-27 18:08] bmahall commented on #5330
@aleknik We do not intentionally expose the refresh token in the response and that is unlikely to change.
To make sure I understand, are you trying to get a new access token even though the assertion is expired?

[2022-10-27 18:14] bmahall commented on #5111
@1hw7 Please share logs on the email mentioned on my profile if possible , looking forward to chat on Monday when you are next available.

[2022-10-27 18:35] bmahall commented on #5321
@Tsathyapriya80  Thanks for added info ! Based on the redirect uri error  AADSTS500112, can you ensure that the redirect_uri in the request url (after you click Sign in from your app) is added in the Azure portal as a redirect uri?
If not, please add it in the portal under Authentication-> redirect uri .

[2022-10-27 18:44] jasonk-ma opened #5339 "How to achieve silent SSO with msal-react app using B2C federated Active Directory and protected API"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.9

### Public or Confidential Client?

Public

### Description

I have a B2C tenant created with custom policy for signup/signin. We are using a Federated Azure AD for our login and trying to achieve long-lived SSO between our i

[2022-10-27 19:44] sameerag commented on #5310
Closing this as we cannot make the changes suggested above.

[2022-10-27 19:44] #5310 closed, assigned to sameerag

[2022-10-27 19:45] sameerag commented on #5312
Closing this as no immediate solution is viable here.

[2022-10-27 19:45] #5312 closed, assigned to sameerag

[2022-10-27 19:48] sameerag commented on #5311
Please set `logLevel: LogLevel.Trace` in your `config` options and collect MSAL JS logs in the Console. An example can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js).

@bmahal assigning this to you for follow up.

[2022-10-27 19:52] sameerag commented on #5326
@okapies We do not plan to support this for now, couple reasons:

- Server support for this scenario of swapping a code from the client-side to be redeemed at the service is not available afaik. (We support the reverse).
- The API support of emitting a code instead of tokens is not something we can invest in at this point.

[2022-10-27 19:54] sameerag commented on #5325
This should be handled by the service team.
Please file a support ticket with the B2C team by following the instructions here: [B2C support options](https://docs.microsoft.com/azure/active-directory-b2c/support-options).

[2022-10-27 19:56] sameerag commented on #5324
CC @EmLauber. Can we confirm if firefox supports AAD logins in `total cookie protection` mode?

[2022-10-27 20:00] sameerag commented on #5320
@agrahamwize AAD adds this error and they do not relay that to `msal` to handle the message. This has to be handled by the service teams. Can you please file an issue with developer support (here)[https://learn.microsoft.com/en-us/azure/active-directory/develop/developer-support-help-options)?

I will ping the internal service teams to track this too, however we cannot fix this from MSAL.

If the

[2022-10-27 20:03] sameerag commented on #5315
@alexseyrakov This could be the policy set by your admin. `msal-js` does not control the expiration times, the token issuance does which depends on many factors.

@derisen can you help here or redirect this to support who can help?

[2022-10-27 20:04] sameerag commented on #5337
We will work on docs here, cc @derisen can we track this?

[2022-10-27 20:15] tnorling commented on #4799
Hi @MateusDev98, thanks for your continued patience. I've just heard back from our server team. Your signout is failing because the user you signed in does not belong to the tenant you are attempting to sign out of so the server does not find any existing sessions. Please try using the `/common` tenant, instead of specifying the tenant explicitly.

[2022-10-27 20:36] Tsathyapriya80 commented on #5321
Hi Balraj,

It is added in Redirect URI, I tried adding under web and then under SPA. this project is .Net core 3.1 and MVC with razor page.

[2022-10-27 23:54] izikl commented on #5332
@bmahall
We are trying to do it more typescript friendly:
![image](https://user-images.githubusercontent.com/8294298/198418508-2affc7ec-85d5-42e8-9c1a-51361651cf62.png)

We were also used this type `PopupRequest['popupWindowAttributes']` as a workaround:
![image](https://user-images.githubusercontent.com/8294298/198418666-b341c319-2f2c-49b2-95d1-9663d3c4cf7d.png)

[2022-10-28 00:38] izikl opened #5340 "getActiveAccount() failed with: ClientAuthError: multiple_matching_tokens: The cache contains multiple tokens satisfying the requirements"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

After upgrading from 2.19.0 to 2.30.0 and back to 2.19.0, I have started getting this error when calling getActiveAccount():
![image](https://user-images.githubusercontent.com/82942

[2022-10-28 00:39] izikl commented on #5333
Only 4 users were affected, but those 4 users were hitting it hundreds of times.

~I am blocked from upgrading due to this bug:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5340~

We will deploy 2.30.0 next Wednesday, so I will reply to your comment about the deployment a week after our deployment (to allow enough telemetry to be collected) on Nov 9th, 2022.

[2022-10-28 02:16] alexseyrakov commented on #5315
@sameerag @derisen
Thanks
Tell me please, what settings on the ADFS server are responsible for this settings?

[2022-10-28 10:42] daniel-seitz commented on #5325
@sameerag we dont have direct access to this. It would be a great customer experience if MS is able to clarify this internally.

[2022-10-28 13:00] Core121 opened #5341 "Unsure when LOGIN_FAILURE is fired"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Public or Confidential Client?

Public

### Description

I'm not sure when the LOGIN_FAILURE event type is being fired. I tried running logs or navigating to another page on LOGIN_FAILURE but nothing is running. I'm n

[2022-10-28 18:43] bmahall commented on #5311
@anjalikalsariya Can you please share verbose logs on email mentioned on my profile, if they are not showing up for some reason, please update.

[2022-10-28 19:12] sameerag commented on #5325
@EmLauber can we track this with B2C? @nickgmicrosoft Can you check this please and redirect @daniel-seitz to appropriate teams?

[2022-10-28 19:41] sameerag commented on #5326
@derisen can these folks create a custom scope for their API to address this scenario? Can you share the guidance?

[2022-10-28 19:52] sameerag commented on #5198
Let me summarize the issue:
* App registration is shared between front-end and back-end
* An internal MSAL JS error is seen in these use cases in the browser console but the token acquisition succeeds eventually.

Is this description accurate @hada79?

[2022-10-28 19:54] sameerag commented on #5316
Fix is in progress.

[2022-10-29 00:24] bmahall commented on #5340
@izikl This is occurring due to multiple IdTokens in the cache matching the IdTokenFilter criteria.
What parameters are currently being passed to the acquireTokenSilent  ?

[2022-10-30 16:11] okapies commented on #5326
Thanks for the detailed explanation. It seems it can be achieved by simply decoupling two logic (fetching code and token). but more difficult than I think?

[2022-10-31 01:01] ghost commented on #5335
@jim-moody This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-31 11:21] svdHero commented on #5245
@tnorling I have added a demo app for reproducing the error. You can find it here:
https://github.com/svdHero/msal-mem-leak-demo-app
It is not as minimal as it could be, as I just stripped down our prod app, but it should be simple enough to focus on the main issue here.

I will send you an email with my .env file, so that you can start straight away with our B2C, create an account and test it.

[2022-10-31 16:35] #5316 closed, assigned to derisen

[2022-10-31 17:45] #5317 closed, assigned to derisen

[2022-10-31 17:46] derisen commented on #5317
@bui2jp fyi just updated the sample -thanks again for catching this.

[2022-10-31 18:48] bmahall commented on #5296
@diamant-isufi-sveasolar What are you using as authority in the authConfig? Is it a multi-tenant application
?

[2022-10-31 19:01] derisen commented on #5315
@alexseyrakov Let me reach out to some internal partners about this. In the meantime, could you capture a network trace with [Fiddler](https://www.telerik.com/fiddler/fiddler-classic) when this happens, and then send it to me (you can find my email on my [profile](https://github.com/derisen))?

[2022-10-31 19:28] sameerag commented on #5326
It is not the logic. The "code" cannot be swapped at the server end i.e., if you have a `SPA app` fetching the auth code, you cannot redeem it for a `web app` for tokens. The server forbids it. Hope this makes it clear.

[2022-10-31 19:28] #5326 closed, assigned to sameerag

[2022-10-31 19:32] sameerag commented on #5314
@jonocairns We can consider this as a feature for future use but for now the guidance is to avoid concurrent interactions in your code. However this would require some design work and I cannot promise the prioritization considering the other work items currently in progress.

Thanks for bringing this to our attention.

[2022-10-31 19:32] #5314 closed, assigned to sameerag

[2022-10-31 19:50] sameerag commented on #5337
@derisen I marked a work item for the actual support of concurrency (which we do not have a design today and needs work). However, in the short term we should document this to clarify that we do not support this and what is the best practice for cases developers may run into them.

[2022-10-31 20:59] derisen commented on #5337
@sameerag sounds good, tracking this internally

[2022-10-31 21:12] derisen commented on #5326
@okapies @sameerag apologies, I've missed this.

@okapies if your sole purpose is to check if a user that has signed in to your client app is authorized to call your API server (i.e. _is the user authorized to access this resource?_), your client app needs to acquire an access token and send it to the server as part of the request. You do not need to (and should not) redeem an authorization code o

[2022-11-01 00:44] izikl commented on #5340
@bmahall
To answer your question:
![image](https://user-images.githubusercontent.com/8294298/199135004-3bf8cfe8-7481-4491-b589-75522ad97c6d.png)

These are all the idtokens I can see in the local storage:
![image](https://user-images.githubusercontent.com/8294298/199134483-c9415f9d-023a-4089-9fe3-6be84a00b4ec.png)

Note that there are 2 idtokens from 2 different msal-browser versions (2.19.0 that

[2022-11-01 01:01] ghost commented on #5336
@johnvinosh This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-01 01:45] okapies commented on #5326
@derisen

Thanks for your response. I'm worry about the case when a received access token is a fake one issued by third-party (malicious) OAuth2 client. The API cannot safely validate that the token is actually issued by our client. I just need authorization code instead of access token for this purpose. What should I do?

[2022-11-01 01:55] derisen commented on #5326
@okapies that's right, the incoming access token should be validated. There are azure ad token validation libraries for different languages -the samples I shared shows how to do this in Node.js or .NET -is your server in another language/platform?

[2022-11-01 02:49] okapies commented on #5326
Yes, I checked it but the returned access token is not a valid JWT (starting with `EwB...` instead of `eyJ...`). It seems non-Azure AD accounts (= MSA) don't support JWT formatted access token. How do I handle our case? @derisen

[2022-11-01 09:42] bgavrilMS commented on #5335
CC @derisen

We do have a sample integration with Express, see https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/RedisTestApp

The gist of it is to save the account id in a session.

If the session has `account_id`, then use it to load an Account object and to call `AcquireTokenSilent`, which will silently give you a token. If this fails or if th

[2022-11-01 11:47] bgavrilMS commented on #5330
CC @jmprieur for long lived OBO request.

[2022-11-01 12:31] Bhavin-Repo commented on #3118
@Gameboy98  did you find the solution? i am also facing issue while login to my app using mobile browser.
I cant even see the redirection to microsoft login page while using chome without incognito in mobile browser.
For desktop browser everything works fine

[2022-11-01 15:23] derisen commented on #5326
@okapies "EwB..." indicates you are looking at an access token for Microsoft Graph. This is not a token meant for your API server, and you are not supposed to send it to your web API for accessing resources (you won't be able to validate it anyways). You can read more on [access tokens and resources here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/

[2022-11-01 16:46] bokipantic opened #5351 "Intermittent: After trying to log in, login pop-up not closing and inside that pop-up window application is rendering"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

The issue is intermittent.
In login pop-up window the user typed valid credentials to log in his Microsoft account.
In most cases the user will successfully be logged in and pop-up

[2022-11-01 19:19] hectormmg commented on #5351
@bokipantic this issue was fixed in MSAL Browser v 2.30.0, please upgrade to the newest version and let us know if your problem persists.

[2022-11-01 19:21] hectormmg commented on #5340
@izikl thanks for raising the issue, we're aware of the forward compatibility issue and will update our documentation to help avoid it.

[2022-11-01 19:45] hectormmg commented on #5296
@diamant-isufi-sveasolar this should be fixed in version 2.30.0, please upgrade and let us know.

[2022-11-02 01:01] ghost commented on #5324
@musale This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-02 01:01] ghost commented on #5111
@1hw7 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-02 01:01] ghost commented on #4799
@MateusDev98 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-02 02:27] okapies commented on #5326
@derisen Thanks for the useful information. I went thourough the documents and the samples you mentioned but I don't understand how to get JWT-formatted access token for our application regardless of origin of the account. We always need valid JWT-formatted access token for verification because our users can be both MSA *and* AAD.

As said before, AAD gives us JWT (`eyJ...`) while MSA gives not (`

[2022-11-02 03:28] bmahall commented on #5336
@johnvinosh Closing this as duplicate of #4298.

[2022-11-02 03:28] #5336 closed, assigned to bmahall

[2022-11-02 03:43] bmahall commented on #5321
@Tsathyapriya80 Can you please share verbose logs on email mentioned on my profile?Thanks

[2022-11-02 12:33] ajhaver opened #5357 "Dyamically loading MSAL related libraries based on flag"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.3.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

Do we have a flag ?

In which we can dynamically load msal related libraries or by-pass all MSAL related interceptors/config ?

### MSAL Configuration

_No respon

[2022-11-02 15:19] aleknik commented on #5330
@bmahall We are a server-side service that gets the assertion from the client side and uses it to do OBO flow. We want to be able to do obo flow even after the assertions is expired.

[2022-11-02 18:25] bokipantic commented on #5351
@hectormmg I did as you suggested, but the issue still persists.
Any other bugfix please?

[2022-11-02 18:26] MateusDev98 commented on #4799
Hi @tnorling, I will check this detail and get back to you.

[2022-11-02 18:55] hada79 commented on #5198
@sameerag The refresh token acquisition never succeeds.

[2022-11-02 19:03] derisen commented on #5326
@okapies the problem is that you are requesting below an access token for Microsoft Graph, **NOT** for your own web API.

Instead, the scope should be your web API's [APP ID URI](https://learn.microsoft.com/azure/active-directory/develop/security-best-practices-for-app-registration#application-id-uri) followed by the scope name you defined in your application.

If you look at the [app registration

[2022-11-02 22:58] cssuh opened #5358 "Webpack error in build pipeline"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.0

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.0.0-alpha.25

### Public or Confidential Client?

Public

### Description

<img width="1154" alt="Screenshot 2022-11-02 at 3 49 27 PM" src="https://user-images.githubusercontent.com/18150417/199617478-7a6978f8-3395

[2022-11-03 01:00] ghost commented on #5325
@daniel-seitz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-03 01:00] ghost commented on #5311
@anjalikalsariya This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-03 02:21] EmLauber commented on #4298
Still no ETA for this, we will update once we have one. We are aware of Angular 15 removing view engine and that's influence on prioritization.

[2022-11-03 07:27] swalihmz opened #5359 "Logout issue - Non-interactively logging back in using default MsalInterceptor"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

When using the default `MsalInterceptor`, the user is successfully logged out locally (cookies and local storage), and after post-logout-redirect back to websit

[2022-11-03 10:50] daniel-seitz commented on #5325
no pressure, rather needs feedback from @EmLauber or @nickgmicrosoft.

[2022-11-03 13:26] hansenfreddy opened #5360 "WebSite + Distributed caching does not work with B2C"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

My environment/usage:
Confidential client (scoped to request) and auth code flow against Azure B2C. DistributedCachePlugin with redis implementation for ICacheClient - and custom

[2022-11-03 13:52] bejuzb0 commented on #5302
Any updates on adal-node 0.2.4 ? @tnorling I wasn't able to find any new version.

[2022-11-03 14:17] tnorling commented on #5302
Apologies the release slipped. @sameerag can provide updates. Reopening this until the new version is released

[2022-11-03 15:40] marcelkarlsons opened #5361 "acquireTokenSilent rejected with error. Invoking interaction to resolve. (Angular 14)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.5

### Public or Confidential Client?

Public

### Description

Upgrading the project leads to upgrading Angular from `11` to `14` and @azure/msal-angular from `2.0.1` to `2.4.5`. The application was running properly before

[2022-11-03 16:24] hectormmg commented on #5359
@swalihmz could you please elaborate on what you're trying to achieve? It seems like you want the user to be logged in silently after a logout? In order for silent token acquisition to work you need to have a valid refresh token in the cache, but the cache is cleared after logout so interaction is required.

[2022-11-03 16:27] sameerag commented on #5302
Since this is a one off release on an old branch, we hit some snag in the process. I am on it to resolve this and will update here as soon as I can. Thanks for reopening @tnorling!

[2022-11-03 16:32] hectormmg commented on #5358
@cssuh do you have a way of checking which file can't be processed (in the issue you referenced it was a .node file, but the same message doesn't appear in your logs plus it's a different module failing)?

[2022-11-03 17:01] hectormmg commented on #5361
@maenmulhemeng thanks for raising the issue, could you please share full logs so we can better diagnose the problem?

[2022-11-03 17:16] marcelkarlsons commented on #5361
![image](https://user-images.githubusercontent.com/49341960/199790088-8fddb37a-9bfe-4b95-a998-7853175a6506.png)

[2022-11-03 18:31] cbishop-fv opened #5362 "no_tokens_found: No tokens were found for the given scopes, and no authorization code was passed to acquireToken. You must retrieve an authorization code before making a call to acquireToken()."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

We have an outlook add-in that we augment with MS API calls. We are converting from REST to GraphREST API since rest is getting turned off the end of the month. We have a variety of

[2022-11-03 20:08] 1hw7 commented on #5111
Commenting to leave open, as the issue continues to persist

[2022-11-03 23:19] cssuh commented on #5358
Whoops, looks like this was caused by something else - I added our packages to the webpack.config.js and it works now.

[2022-11-03 23:19] #5358 closed, assigned to hectormmg

[2022-11-04 04:16] swalihmz commented on #5359
@hectormmg Quite the opposite, actually. Right now, the user is silently logged back in post-logout. What I want is to force user interaction after logout.
I was able to achieve this using a custom interceptor with the `prompt` property passed to `acquireTokenRedirect`, but I would like to get the same behaviour using the default `MsalInterceptor`.

[2022-11-04 16:38] hectormmg commented on #5362
@cbishop-fv a couple of things:

1. Have you verified that there's a token for those scopes in the cache? I'm assuming there isn't one, which means acquireTokenSilent is expected to fail.
2. The correct usage pattern is to call acquireTokenSilent and if that fails, catch and call an interactive acquireToken/login API (i.e. acquireTokenRedirect or acquireTokenPopup, whichever one is feasible in you

[2022-11-04 16:42] hectormmg commented on #5361
Have you tried clearing the cache? The interaction in progress temporary cache item might have been left from a previous login and could cause this issue.

[2022-11-04 17:00] hectormmg commented on #5359
@swalihmz got it. Are there any http calls being made in the home page that the user is being redirected back to after logout? The default MsalInterceptor is purposely designed to acquire the tokens silently whenever possible, so it is important that the AAD session is also ended on logout to avoid the interceptor from successfully re-authenticating the user with an active session.

[2022-11-04 17:02] hectormmg commented on #5357
@ajhaver could you please elaborate on what you're looking for? We don't have any configuraiton flags to dynamically load our libraries. In order to bypass things like the MsalInterceptor, you need to manually provide a custom Interceptor.

[2022-11-04 17:05] hectormmg commented on #5341
@Core121 the login UI is not actually controlled by MSAL so things like incorrect passwords won't trigger an MSAL error. The LOGIN_FAILURE event is fired when there is an error before or after the interaction.

[2022-11-04 17:11] cbishop-fv commented on #5362
I have not been able to repro this error myself to look at the data, unfortunately.

I will try #2 thank you

[2022-11-04 17:11] hectormmg commented on #5332
@izikl thanks for raising the issue, I'll put the PR in to export this type.

[2022-11-04 18:48] marcelkarlsons commented on #5361
I tried clearing the cache as well but it didn't work.

[2022-11-04 22:21] cbishop-fv commented on #5362
@hectormmg  Are you familiar with this error?
`CompactToken parsing failed with error code: 80049217`
This is another one we are seeing a high error rate for but are unable to replicate.

[2022-11-05 06:29] swalihmz commented on #5359
@hectormmg Yes, since the post-logout redirect url is the base url of our application, the `MsalGuard` with the configuration below should be triggered, immediately after which http calls are made.
[code]

Is there something else to be done to end the AAD session?
[code]

[2022-11-05 08:02] hmsuchier opened #5365 "Service worker issue"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.29.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.4

### Public or Confidential Client?

Public

### Description

Hi,
 Is it possible to bypass the service worker when calling `login.microsoftonline*` urls in a PWA context with this library? I have CORS issues when such que

[2022-11-05 13:43] Andrei15193 opened #5366 "Documentation for Silent Flow (readme.md)"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Confidential

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/silent-flow

### Description

The landing page for the Silent Flow is absent in the repository, there is one for the Refresh Token. Thi

[2022-11-06 01:00] ghost commented on #5337
@1hw7 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-06 01:00] ghost commented on #5315
@alexseyrakov This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-06 01:01] ghost commented on #5339
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-11-06 01:01] ghost commented on #5245
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-11-06 13:00] ghost commented on #5333
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-11-07 01:00] ghost commented on #5340
@izikl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-07 01:00] ghost commented on #5296
@diamant-isufi-sveasolar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-07 02:37] okapies commented on #5326
@derisen Thanks. I tried and successfully got a JWT-formatted access token for our custom API scope! I have one more question: how to access `/users/me` or `/oidc/userinfo` by using the issued access token from our API server?

As you said, the scopes for Microsoft Graph cannot combine with custom scopes for our application, so the acquired JWT-formetted access token doesn't have an ability to acc

[2022-11-07 08:20] bejuzb0 commented on #5302
Thank you ! Looking forward to an update

[2022-11-07 11:09] bokipantic commented on #5351
Hi @hectormmg
Please could you provide me with another fix for my bug?
Please respond, thanks in advance

[2022-11-07 12:16] pflajszer commented on #4298
While the fix isn't in place yet, it would be great if you provided a workaround for this

[2022-11-07 14:38] bgavrilMS commented on #5366
Hi @Andrei15193, can you give us more details about your scenario? Are you using a web site (AcquireTokenByAuthorizationCode) or a web api (AcquireTokenOnBehalfOf) ?

For web app via Express MSAL Node does support distributed caching and we have a sample for that. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/ExpressTestApp

For web api (Acqu

[2022-11-07 14:44] #5335 closed, assigned to bgavrilMS, derisen

[2022-11-07 15:02] #5134 closed, assigned to sameerag, Robbie-Microsoft

[2022-11-07 15:03] bgavrilMS commented on #5134
The fix for this will be in the next release, 1.14.3 not 1.14.2

[2022-11-07 15:39] r-delgadillo opened #5367 "Long latencies from MSAL leading to timeouts"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

We are experiencing long latencies when calling several methods for our Confidential client. I would imagine some network latencies occuring for SOME of these methods but the one

[2022-11-07 15:41] r-delgadillo commented on #5367
FYI, we've monitored and do not have any concerns about our event loop delay in NodeJS.

[2022-11-07 15:56] Core121 commented on #5341
Okay got it, that makes sense to me

[2022-11-07 15:56] #5341 closed, assigned to hectormmg

[2022-11-07 16:38] peterzenz commented on #5325
@EmLauber moving to you to own.  Thanks!

[2022-11-07 16:45] peterzenz commented on #5321
The error provided should point to the issue you're having here:

"/signin-oidc" != "/AzureADAuth/Authorize"
The reply address should match the configured one.  Also, the stack trace you've provided isn't a Javascript or Angular one, it's a .Net one.  Which library did you need help with?

[2022-11-07 16:57] derisen commented on #5326
@okapies in that case you have 2 options:

- You could either obtain Microsoft Graph API tokens in your client app and call the` /users/me` etc directly from your client app. That means your client app needs to acquire tokens separately for each resource (Microsoft Graph API **and** your own API server). Here's [a sample](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/tree/

[2022-11-07 17:25] derisen commented on #5339
@jasonk-ma apologies for the late response. Can you confirm that your issue occurs only with Azure AD federated sign-ins/user accounts, and you are able to achieve your scenario with local B2C accounts? If that's the case, your usage of MSAL React shouldn't be a factor (otherwise please have a look at the [ssoSilent considerations](https://learn.microsoft.comazure/active-directory/develop/msal-js-

[2022-11-07 18:23] Andrei15193 commented on #5366
Hi @bgavrilMS @derisen,

I'm using a web site, it's basically a classic multi-page web application and I'm using the confidential application to authorize by code (`acquireTokenByCode`) and afterwards I ended up using `acquireTokenSilent` to recheck the user.

After thinking more about it I think this is the way it is meant to be used actually, please correct me if I am wrong. `acquireTokenSilent`

[2022-11-07 18:54] hectormmg commented on #5351
You can try increasing the frequency with which MSAL checks the hash by reducing the `pollIntervalMilliseconds` [system configuration option](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#system-config-options)

It is 30ms by default, you can try dropping it to 20 or 15ms and see if that works.

[2022-11-07 18:57] afridley opened #5368 "Can I use MSAL.js 2.0 with OIDC and a client secret"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.9

### Public or Confidential Client?

Public

### Description

Im hoping to use MSAL 2.0 react wrapper. Im currently getting the error that the client secret is undefined or incorrect.
We are using B2C with OpenId Connect. Ive ad

[2022-11-07 21:23] hectormmg commented on #5359
@swalihmz could you send a network trace captured with a tool like Fiddler (preferably) to the e-mail on my profile? I haven't seen anything stand out from the verbose logs. I'd like to make sure that the server is signing the user out successfully.

[2022-11-07 23:07] derisen commented on #5366
Hi @Andrei15193 -a couple of remarks:

Using `acquireTokenSilent` to check authentication status in your app's routes doesn't strike me as correct usage of this API. `acquireToken*` APIs are primarily for acquiring an access token for some other resource, such as a web API that your web app calls (although `acquireToken*` also happen to return you an ID token). It would work, but I don't think it'

[2022-11-08 01:00] ghost commented on #5330
@aleknik This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-08 01:06] mistermik commented on #5339
that is correct. KMSI doesn’t work for social accounts because AAD B2C always relies on the social accounts session. It would be a security flaw if AAD B2C kept you signed in but your account was deleted at the federated IdP.
Adding @JasSuri

[2022-11-08 08:25] okapies commented on #5326
@derisen Thanks for your kind advice. I'll look into the on-behalf-of flow!

[2022-11-08 09:25] pflajszer commented on #4298
I can confirm the following are compatible:

- ng projects created with CLI v. 14.0.7
- @azure/msal-angular v. 2.4.6
- @azure/msal-browser v. 2.31.0
- ngrx v. 7.5.7

ng version output:

[code]

[2022-11-08 10:44] JasSuri commented on #5339
I would call ssoSilent() in this case.
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#silent-login-with-ssosilent

The normal acquireTokenSilent() should call ssoSilent() before redirecting the user though. You should call acquireTokenSilent() before every API call.

[2022-11-08 11:36] AhmedBHameed commented on #5361
We have the same issue here.
I encountered into this code which is already confiured before my starting day.

[code]

Will keep watching this issue, hopefully we get some response.

[2022-11-08 18:20] jasonk-ma commented on #5339
Don't your two statements conflict with each other? You say you would call ssoSilent in this case, but that acquireTokenSilent should call ssoSilent before redirecting (which I'm taking to mean just call acquireTokenSilent alone).

[2022-11-08 18:28] Andrei15193 commented on #5366
This makes sense. I have not thought about this.

The issue I was trying to resolve with `acquireTokenSilent` is to ensure the user session is active with Azure AD and get a new token (cached or refreshed) to check this. Basically, as long as the user is active on the web site clicking on things and making requests just by navigating then I don't want to redirect them to a login page even if they

[2022-11-08 20:58] AniTang99 opened #5376 "Acquire access token from API using AzureB2C"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.20.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.6

### Public or Confidential Client?

Public

### Description

I am trying to implement a signup-signin process to allow external users into our application using AzureB2C. My angular application and API are currently prote

[2022-11-08 22:25] #5368 closed, assigned to jo-arroyo

[2022-11-08 22:36] EmLauber commented on #5325
@daniel-seitz I'm working on tracking this internally with the B2C team. To confirm, you said this process of filing a support ticket with B2C directly didn't work for you? https://learn.microsoft.com/en-us/azure/active-directory-b2c/support-options

[2022-11-08 23:44] anujjain85 opened #5377 "ClientAuthError: multiple_matching_tokens: The cache contains multiple tokens satisfying the requirements. Multiple ID tokens differ only the environment property value."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Public or Confidential Client?

Public

### Description

We have been using MSAL react for quite some time. Some of our users are getting into this error, either while calling client.getActiveAccount() or acquireTokenSile

[2022-11-09 01:00] ghost commented on #4799
@MateusDev98 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-09 01:00] ghost commented on #5111
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-11-09 10:48] JasSuri commented on #5339
You should call acquireTokenSilent() before all API calls.
However, if that fails, eg when the AAD B2C SSO Cookie expires (24hrs), then only way to get SSO would be to subsequently call ssoSilent() with the `domain_hint` parameter. This would then allow B2C to redirect to AAD automatically in the iframe, and get SSO without a redirect.

The logic should be:

[code]

[2022-11-09 17:25] EmLauber commented on #5324
We are still investigating this.

[2022-11-09 18:12] derisen commented on #5366
More or less, but in general I would recommend not to go beyond the ID token expiry time, since there could be changes to user's status,  account info or tenant's policies and your app might be out of sync with that. I would also not expire the session too soon -since its bad user experience and unnecessary load on Azure AD. Probably best to be selective about it -certain pages may contain sensiti

[2022-11-09 19:27] Tsathyapriya80 commented on #5321
Hi Peter,

You are right. I am using .Net Core - not JS or Angular.

[2022-11-09 21:26] jasonk-ma commented on #5339
Thanks! So, calling ssoSilent in this situation will log the user in silently as well as provide them a new access token all in the single call?

Will try that and report back in 24 hours (frustrating to not have any easy way to iterate on this more quickly...surely there must be a way to invalidate the RT sooner than 24 hrs in an SPA?).

The article you linked above for SSOSilent usage makes no m

[2022-11-09 21:39] Andrei15193 commented on #5366
Makes sense, in this case I could still use `acquireTokenByCode` and force a token refresh when the session is close to expire so the user would be prompted to re-authenticate only if it is necessary.

[2022-11-10 01:00] ghost commented on #5332
@izikl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-10 01:00] ghost commented on #5362
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-11-10 02:15] AlexanderOpran opened #5381 "SPA + Web API - no custom scopes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Documentation Location

https://learn.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-spa-app

### Description

Hey,

I recently started a project in which we are using Azure AD B2C and there are a couple of thin

[2022-11-10 09:50] dilidili opened #5382 "Ask for regional authorities support"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Description

The ability to try auto detect regional authorities has been supported on msal-node and releted codes also exists on msal-common package. https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/0dbf9719734aeedf02e77b

[2022-11-10 10:16] svdHero commented on #5245
@tnorling any update on this? Can I provide more information or code?

[2022-11-10 11:24] bgavrilMS commented on #4879
Can we get verbose logs for this please?

[2022-11-10 13:00] #5311 closed, assigned to bmahall

[2022-11-10 16:28] derisen commented on #5367
I believe `getAuthCodeUrl` does endpoint discovery, so there might be network latencies with that as well -cc @bgavrilMS @Robbie-Microsoft

[2022-11-10 16:45] derisen commented on #5362
@cbishop-fv this error could occur if the token you are passing to MS Graph is somehow malformed. You might be passing the wrong token, the token might have the wrong format, version, the header in the request might be malformed etc etc. When this occurs, you could try parsing the token at https://jwt.ms and see if it looks out of ordinary (`aud `and `scp` claims in particular) or check if the [re

[2022-11-10 16:50] cbishop-fv commented on #5362
We are not doing anything with the token directly just calling ` msalPublicClientAppInstance.getActiveAccount()` and `msalPublicClientAppInstance.acquireTokenSilent()`

[2022-11-10 16:54] derisen commented on #5362
@cbishop-fv sorry, I was responding to your question about `CompactToken parsing failed with error code: 80049217` -you are receiving this from MS Graph, right?

[2022-11-10 16:59] cbishop-fv commented on #5362
Yes that is correct we call `msalPublicClientAppInstance.getActiveAccount();`  or `msalPublicClientAppInstance.getAllAccounts()` if there isn't an active account and pass that result to the graph client

[code]

[2022-11-10 17:00] tnorling commented on #5245
My apologies I haven't had a chance to look at this yet. I will take a look next week.

[2022-11-10 17:07] derisen commented on #5376
@AniTang99 what are you passing as [request object](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_browser.html#redirectrequest) to `loginRedirect()`? If you are not adding scopes parameter that contains your API scope(s), you won't be receiving an access token after `loginRedirect()` in B2C -so that's expected.

[2022-11-10 17:09] derisen commented on #5362
May I ask what `msGraphClient` does with the account object? Is it using it to acquire a token and calll Graph afterwards? Can you share a bit of the implementation?

[2022-11-10 17:16] cbishop-fv commented on #5362
My apologies I thought I had included that in the original sample code. We do not acquire a token, the token is already on the account object I believe. We just pass the account directly to the Graph client. Thanks for your help!

[code]

[2022-11-10 19:49] AniTang99 commented on #5376
Thank you for replying, @derisen! Here is my login logic. The URL seems to include the scope I am trying to access.

[code]

I don't get an access token so then I tried getting one explicitly by calling acquireTokenPopup and the response succeeds but the accesstoken is empty:

[code]
Same response in both cases:
![image](https://user-images.githubusercontent.com/31628247/201192084-b904ce58-a1bc-41

[2022-11-10 19:54] derisen commented on #5376
@AniTang99 thanks. Can you double check if this scope/permission is admin consented? (since users cannot consent to permissions in B2C). You'll see this on the API Permissions blade on Azure portal > Azure AD B2C > App Registration

[2022-11-10 19:59] AniTang99 commented on #5376
Are you talking about this permission here?
![image](https://user-images.githubusercontent.com/31628247/201194006-12882dcd-0e27-46dc-9c24-d919bef62c53.png)

[2022-11-10 20:49] AniTang99 commented on #5376
@derisen I have gone ahead and granted admin consent to that permission in the Azure Portal. However, that did not return an access token when I tried the same login process.

[2022-11-10 20:56] svdHero commented on #5245
Okay. No problem. Thanks for letting me know. I am very grateful that you're looking into this.

[2022-11-10 22:48] derisen commented on #5376
@AniTang99 that's curious, I don't see anything wrong with your request or scope. I see you have configured msal interceptor protectedResourceMap -what happens when the interceptor is triggered i.e. when you try to call the "https://localhost:5445/api/*"? Is the AT obtained then?

[2022-11-10 23:09] jo-arroyo commented on #5382
@dilidili We do not currently have this feature committed, but will add this to the backlog.

@EmLauber for feature request.

[2022-11-10 23:33] jasonk-ma commented on #5339
It didn't work -- after 24 hrs, I refreshed the Profile page my SPA app was on (and it ended up re-directing me to my custom B2C login page (where I would have to click on the Login button for the AAD/Social account) to continue. When I do click on the B2C login button to authenticate with my AAD it does so without any prompt, but then redirects me back to my application at the root instead of at

[2022-11-10 23:55] EmLauber commented on #5382
Tracking in the backlog but can't commit to an ETA. To clarify, @dilidili you are looking for the exact functionality in MSAL-node replicated in msal-browser or was there something unique for msal-browser?

[2022-11-11 00:31] derisen commented on #5362
Oh no the token won't be in the account object. Anyways I see that you are using [MS Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-javascript). But you are specifying the interaction type as silent. I'm not entirely sure about `AuthCodeMSALBrowserAuthenticationProvider` implementation but it [looks like ](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/91eb11f7a7155844f740

[2022-11-11 02:12] sudamsfJy commented on #5382
Actually we want the functionality of [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1956). Not sure what ETA for MSAL.js.

[2022-11-11 02:16] derisen commented on #5381
Hi @AlexanderOpran , regarding your questions:

[Every access token is meant for a certain resource](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md) (API), so there's no single token that would work across all APIs (assuming each API has its own app registration). That being said, within the same API you can just define one

[2022-11-11 06:05] abhijith-k07 commented on #5357
Hi i also have  a similar scenario, I am using Teams SSO in my application. at the time of app initialization i am calling team SDK  initializer function to detect if the my web app is inside teams or in browser, based on this i am deciding which authentication flow to occur. if my app is inside teams app i need to disable msal or its functionalities but in browser i need to use msal

[2022-11-11 07:55] chahal26 opened #5387 "How to remove `Continue` button from MSAL email verification page while signup."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.3.0

### Public or Confidential Client?

Confidential

### Description

I need to remove the `Continue` button from email verification page.

![image](https://user-images.githubusercontent.com/91047757/201292854-dc256861-c2ac-

[2022-11-11 08:39] tushaar9027 opened #5388 "Session state creating issue while redirecting to redirect URI"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.3

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

NA

### Public or Confidential Client?

Confidential

### Description

On Local the solution is working flawlessly as expected and once we move the solution to azure app service it breaks.

I am getting Error 404 pag

[2022-11-11 13:00] ghost commented on #5333
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-11-11 14:38] AniTang99 commented on #5376
@derisen After cleaning the slate and rewriting the login process step by step, I am now successfully able to get an access token! However, now my API is rejecting the access token due to an invalid signature. The API successfully accepts tokens when logging in as a user from the Azure AD tenant so do I need to somehow match the signature of the tokens, or should my API be configured somehow to ha

[2022-11-11 18:23] AniTang99 commented on #5376
@derisen I was able to add another authentication scheme in addition to the Azure AD scheme and now the API correctly checks for either token! Thank you for your help.

[2022-11-11 19:19] cbishop-fv commented on #5362
I think maybe it was due to expired tokens. Since implementing the fix for expired tokens Hector offered the CompactToken parsing failed with error code: 80049217 error has also gone away.

The last two errors we are currently see are :

`The specified object was not found in the store., The process failed to get the correct properties.` From Graph

`Token InteractionRequiredAuthError: interaction

[2022-11-11 21:26] #5376 closed, assigned to jo-arroyo

[2022-11-11 22:26] AlexanderOpran commented on #5381
@derisen Than you for the explanation! In this case as I can understand the most elegant way would be to create one API and one scope for my whole backend and then use that in the client application, correct? Although you mention the custom scope approach is the recommended way going forward, I don't think this covers the most common approaches and architectures out there. It doesn't work for simp

[2022-11-11 22:54] jo-arroyo commented on #5388
@bgavrilMS @Robbie-Microsoft session state question for you.

[2022-11-11 23:00] jo-arroyo commented on #5387
@chahal26 This email verification page is shown by the server and not controlled by MSAL.

[2022-11-11 23:03] jo-arroyo commented on #5377
@anujjain85 The way that id tokens are cached includes the environment in the cache key. Have you tried calling acquireToken again following this error, providing the authority or the account?

[2022-11-11 23:21] jo-arroyo commented on #5365
@hmsuchier Thank you for your patience.
When you say you have tried the solution of adding `ngsw-bypass` in the query header as get parameter, but the interceptor gets ignored, are you using an additional interceptor as well as the MsalInterceptor?

Have you tried adding `ngsw-bypass` as an `extraQueryParameter` or `tokenQueryParameter`? These fields can be added as part of the authRequest for Msa

[2022-11-11 23:59] derisen commented on #5381
@AlexanderOpran no worries! The Microsoft identity platform is OAuth 2.0 and OpenID Connect compliant, so it's following the industry standards for authentication and authorization. Scope is a mechanism in OAuth 2.0 to limit an application's access to a user's data, and the reason it exists is exactly to provide granularity (roles perform a similar function, and you can combine scopes and roles fo

[2022-11-11 23:59] #5381 closed, assigned to jo-arroyo

[2022-11-12 00:10] derisen commented on #5366
@Andrei15193 You can use the [`forceRefresh` parameter](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md#token-renewal) in the request object to skip a cached token and go to the service to renew them. In general try to follow the pattern:

[code]

Make sure to get yourself familar with [this doc](https://github.com/AzureAD/micros

[2022-11-12 00:10] #5366 closed, assigned to derisen

[2022-11-12 00:18] derisen commented on #5315
@alexseyrakov apologies for the late response. 8 hours seems to be the default configuration with ADFS -you can find more on this [here](https://learn.microsoft.com/windows-server/identity/ad-fs/operations/ad-fs-single-sign-on-settings). In general refresh tokens can be invoked at any time for a variety of reasons, and your application shouldn't assume an interval and should be ready to handle the

[2022-11-12 00:18] #5315 closed, assigned to derisen

[2022-11-12 00:28] derisen commented on #4578
Closing this due to inactivity. Feel free to raise another issue if you have other questions!

[2022-11-12 00:28] #4578 closed, assigned to derisen

[2022-11-12 00:34] derisen commented on #5362
This is not an MSAL error -best to check with the [Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-javascript) (although it's probably related to no_tokens_found error)

This error should be handled with an interactive method (`acquireTokenPopup`/`acquireTokenRedirect`), so what @hectormmg said applies here as well. I would assume if you use the `msGraphClient` with `interactionType`: `Po

[2022-11-12 08:06] mkohns opened #5389 "Use this lib for vscode extension development to sign in users to Azure AD"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

newest

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

newest

### Public or Confidential Client?

Confidential

### Description

Hi! I have a vscode extension. I am looking for a possibility to sign in users to Azure AD via authentication code flow with PKCE inside my v

[2022-11-12 10:41] redfire75369 opened #5390 "acquireTokenInteractive Ignores Scopes when Requesting Access Token"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

When using `PublicClientApplication.getTokenInteractive`, only the default OIDC scopes are granted for the access token.
This is despite all the requested scopes being granted.

This ca

[2022-11-12 13:00] ghost commented on #5302
@carpusherw This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-13 01:01] ghost commented on #5351
@bokipantic This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-13 18:38] bokipantic commented on #5351
The issue is still reproducible, but less often. I am waiting for additional QA team feedback.

[2022-11-14 01:00] ghost commented on #5359
@swalihmz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-14 01:01] ghost commented on #5325
@daniel-seitz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-14 01:01] #5340 closed, assigned to bmahall

[2022-11-14 01:01] #5296 closed, assigned to hectormmg, bmahall

[2022-11-14 01:01] ghost commented on #5361
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-11-14 01:01] ghost commented on #5360
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @Robbie-Microsoft please follow up.

[2022-11-14 01:01] ghost commented on #5111
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-11-14 01:50] derisen commented on #5339
@jasonk-ma Can you confirm that your issue occurs only with Azure AD federated sign-ins/user accounts, and you are able to achieve your SSO scenario with local B2C accounts?

Are you using `MsalAuthenticationTemplate `with `interactionType `set to `Silent`? This will attempt `ssoSilent` under the hood, and will fail if your browser blocks 3rd party cookies. You should handle that failure with an i

[2022-11-14 02:05] carpusherw commented on #5302
I believe the label is added unintentionally and we are still waiting for the update.

[2022-11-14 03:19] dilidili opened #5391 "acquireTokenPopup not works on Android mobile devices if MFA is needed"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.31.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.10

### Public or Confidential Client?

Public

### Description

When call acquireTokenPopup on Android devices, browser will open a new tab with MFA request shows. After complete the MFA, the new tab will keep unclosed with bla

[2022-11-14 05:36] #5382 closed, assigned to EmLauber

[2022-11-14 09:12] swalihmz commented on #5359
@hectormmg I've emailed you a network trace. Let me know if you need for more information.

[2022-11-14 09:17] bgavrilMS commented on #5367
There seem to be several issues coming from instance discoevery, but we cannot reproduce. @Robbie-Microsoft is adding more logging to MSAL.

@r-delgadillo - one workaround would be to use `knownAuthorities`. This implies that you know the authority - e.g. login.microsoftonline.com which you talk go (as opposed to reading the authority string from the 401 header of a resource, which could be compro

[2022-11-14 09:35] daniel-seitz commented on #5325
@EmLauber I could, of course, with another account but actually it would be a nicer user experience if you can handle that internally. great to 'see' you actually at the AppDevTrack last week :)

[2022-11-14 09:51] bgavrilMS commented on #5388
@derisen - `session_State` seems to be causiong 404s here, any thoughts on this?

[2022-11-14 10:15] chahal26 commented on #5387
@jo-arroyo Thanks for your reply. So, isn't there any way to get rid of it?

[2022-11-14 16:51] derisen commented on #5388
@tushaar9027 haven't encountered this before, let me try to reproduce it (msal is supposed to strip these query params when processing the auth code). One thing that caught my eye in the snippet you shared:

[code]

Are you updating this when you deploy to App Service? Is the updated redirect URI registered on Azure AD app registration?

[2022-11-14 18:29] tnorling commented on #5391
I'm a bit confused by this statement. The `monitorPopupForHash` code is what reads and removes the hash. If the hash is being removed but not detected it means it's being removed by something else unexpectedly. You should determine what is removing the hash and make it stop.

Also, if the default interval is a problem you can provide your own value through the `system` config setting `pollInterval

[2022-11-14 18:35] tnorling commented on #5390
@Redfire75369 This is indeed a bug, thanks for catching this!

[2022-11-14 19:07] tnorling commented on #5389
Yes, you can use msal-node for this. Do you have any specific questions?

[2022-11-14 19:57] #5332 closed, assigned to hectormmg

[2022-11-14 20:08] r-delgadillo commented on #5367
Thank you @bgavrilMS . I just added `knownAuthorities` and it's definitely helping with performance. I'll update the thread once it's deployed to production to see the impact on our timeouts.

Regarding the issues from instance discovery, is that being tracked somewhere else?

[2022-11-14 20:31] sameerag commented on #5313
Internally tracked, will be assigned when there is someone working on it.

[2022-11-14 20:31] sameerag commented on #5324
@EmLauber assigning to you just for traction, please pull me in as needed.

[2022-11-14 20:46] peterzenz commented on #5325
@daniel-seitz we'll need you to submit your request on the link that Emily has above.  Thanks!

[2022-11-14 20:46] #5325 closed, assigned to EmLauber

[2022-11-14 21:17] tnorling commented on #5333
This isn't due to a long state value but rather localStorage or sessionStorage is already full when MSAL attempts to add a new value. You'll need to clear space in browser storage when this happens and probably do some investigation into why your app is reaching the storage quota

[2022-11-14 23:27] tnorling commented on #5351
@bokipantic When this happens does the URL of the popup window contain a hash? Also it appears you've set your redirectUri to blank.html (which is recommended) but you've also stated that your application is rendering in the popup, I'm a bit confused by that as these are mutually exclusive, can you clarify which it is?

[2022-11-15 02:08] dilidili commented on #5391
Hi @tnorling , due to I tested our web with #code=123 will not remove the code part automatically, I will dig more about this remove behaviour on popup window. thanks.

For the pollIntervalMilliseconds config, I just use the default value. I think the problem is the device browser limitation on unfocused web page.

[2022-11-15 06:07] #5387 closed, assigned to jo-arroyo

[2022-11-15 09:58] daniel-seitz commented on #5325
I wont.
Its a problem I encounter here and if you think that another team, delivering information to your library has to change something I would really appreciate if you handle this internally. I have a workaround and can live with it, up to you now.

[2022-11-15 10:21] chuannguyen1208 commented on #4290
![image](https://user-images.githubusercontent.com/93895222/201894872-760b7090-99b0-4ef8-a2ed-74f925e3f85b.png)
You can handle it manually by using capacitor deeplink

[2022-11-15 15:58] bgavrilMS commented on #5367
Yes - https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4879

[2022-11-15 17:35] hectormmg commented on #5362
@cbishop-fv please let us know if @derisen 's suggestions helped so we can close the issue.

[2022-11-15 17:38] cbishop-fv commented on #5362
Hello both! I have done a bit of a rework on our auth flow. Hopefully if will clear a lot fo these issues. I will reach out to graph on some of the other issues that we are seeing down the line. Feel free to close out! Have a good day and thanks!

[2022-11-15 17:38] #5362 closed, assigned to hectormmg

[2022-11-15 19:22] tnorling commented on #5359
@swalihmz I've just taken a look at your trace and the logout request is returning HTTP status code 0 indicating it was cancelled. Can you please confirm that the redirect to the logout page is happening, record another trace and email me that new trace? I'd like to see Login, Logout and another Login in the trace. Thanks!

[2022-11-15 21:44] niketk opened #5394 "Customer reporting login loop due to MFA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Public or Confidential Client?

Public

### Description

Customer is reporting a loop after initial signin as the API throws an MFA error. Our code catches the MFA error and passes the claims to acquireTokenRedirect.

thi

[2022-11-15 22:49] tnorling commented on #5394
@niketk First of all please upgrade to the latest versions of both msal-browser and msal-react to verify this is still an issue. If so can you please describe the loop, which parts are looping? After resolving MFA does the resulting access token contain the required claims? Please send me a Fiddler trace if you are unsure.

[2022-11-15 23:15] jasonk-ma commented on #5339
I can't confirm that yet as I'm focusing on the AAD scenario as my primary concern. I will attempt with Local B2C account now (but have to wait another 24 hrs for results).

Regarding msalAuthenticationTemplate, yes, I'm using InteractionType = Silent:
Profile.jsx:
        <MsalAuthenticationTemplate
            interactionType={InteractionType.Silent}
            authenticationRequest={authReques

[2022-11-16 01:04] tnorling commented on #5245
@svdHero Thanks for providing a repro. I was able to confirm that this is a bug in msal-react and will try to get a PR with a fix out in our next release of the library.

[2022-11-16 02:36] filmerjarred opened #5395 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.121

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

![image](https://user-images.githubusercontent.com/2033608/202069555-58815490-b0c6-41eb-afb9-c717def3ba63.png)

### Error Message

AuthError.ts:49 Uncaught (in promise) BrowserAuthEr

[2022-11-16 02:38] #5395 closed, assigned to nobody

[2022-11-16 13:00] ghost commented on #5357
@ajhaver This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-16 13:04] MateusDev98 commented on #4799
Hi @tnorling, how are you? I'm sorry for the delay, but the solution that was passed here did not help us, however we will look for other alternatives for this correction, thank you for your attention, have a great day.

[2022-11-16 17:22] tnorling commented on #4799
@MateusDev98 Can you please clarify what you tried and what you mean when you say it didn't help you? It's not clear to me what you need from us at this point and would like to close this issue out. Thanks!

[2022-11-16 17:33] MateusDev98 commented on #4799
@tnorling By the way, the solution I tried was exactly the last one I got, but it didn't work and that solution itself didn't help, it wasn't you who didn't help, it was the solution that didn't work, for this reason we are going to look for solutions alternatives for this fix.

[2022-11-16 17:37] tnorling commented on #4799
To clarify, you tried something like this and it did not resolve the issue?

[code]

[2022-11-16 18:11] MateusDev98 commented on #4799
Sorry I expressed myself badly, your '/common' fix worked perfectly, what we're going to have to do is fix the exact problem you talked about about the user not belonging to the tenant I was using. But this is another problem for which we will have to find another solution.

[2022-11-16 18:18] MateusDev98 commented on #4799
Is there a problem with '/common' in a production application?

[2022-11-16 18:23] tnorling commented on #4799
Got it. No there is no problem with using `/common` in production, in fact it is recommended for multi-tenant apps. Closing as it sounds like the original issue was resolved, please open a new issue if you need additional assistance. Thanks!

[2022-11-16 18:23] #4799 closed, assigned to tnorling

[2022-11-16 18:44] #5245 closed, assigned to tnorling

[2022-11-16 20:28] derisen opened #5397 "MSAL Node does not serialize/desiralize userAssertionHash in OBO"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Public or Confidential Client?

Confidential

### Description

At the moment msal-node `Serializer` and `Deserializer` classes do not process `userAssertionHash` property in `AccessTokenEntity`. This means when cache is persisted via a cachePl

[2022-11-16 23:46] jasonk-ma commented on #5339
I can confirm that this issue is not present when using B2C Local Accounts -- after 24 hrs, I am able to reload the /profile endpoint and the SPA just goes and does the SSO and makes the API call all without any user interaction or any visible redirect.

So, the issue is only happening when using a AAD B2C account.

[2022-11-17 01:00] ghost commented on #5377
@anujjain85 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-17 01:00] ghost commented on #5365
@hmsuchier This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-17 07:43] rkrsgithub commented on #4740
Hi Team. I am also having the same issue, while login using android MSAL lib. DO we have a workaround of Android app login ?

[2022-11-17 10:40] swalihmz commented on #5359
@tnorling I've emailed you two network traces. The first one is the original you requested, which shows the initial login, then the logout attempt and the following auto-login. The logout call is getting cancelled as you said.

I found that I was setting the active acccount when `InteractiveStatus` becomes `None` in my `AppComponent`. And that, as soon as `logoutRedirect()` is called when a user l

[2022-11-17 13:08] luixal opened #5401 "Node code runs inside WSL2 but doesn't outside."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Public or Confidential Client?

Confidential

### Description

Hi,

I have a node.js script using @azure/msal-node that works perfectly inside the WSL2 environment, but not in windows itself. Auth crashes.

First, I got this error (which I don

[2022-11-17 13:40] agrahamwize commented on #5320
Thanks @sameerag. I have a support ticket logged with them, 2211170040004474. I will let you know if there are issues working with them, per your guidance.

Thanks again!
Adam.g

[2022-11-17 19:54] derisen commented on #5339
@jasonk-ma apologies for the late response. I've checked the Fiddler trace you sent but I wasn't able to see the calls the Azure -I think you need to [enable capturing HTTPS traffic in Fiddler](https://docs.telerik.com/fiddler/configure-fiddler/tasks/decrypthttps) (if you could recapture with HTTPS enabled that is worth looking again). Regardless, the fact that this works as expected with B2C loca

[2022-11-17 20:17] derisen commented on #5339
@jasonk-ma sorry, I just saw from MSAL logs that domain hint is not present -your usage looks correct to me so let me try to figure out why this isn't getting attached.

[2022-11-17 21:18] tnorling commented on #5359
@swalihmz I'm noticing when the redirect to `/logout` is cancelled there's a redirect to `localhost:4200` which is succeeding and after that is when the redirect to `/authorize` happens.

You can see it in the logs in your original post as well:

[code]

Is it possible that you are redirecting to your home route after the cache has been cleared? The redirect is what's resetting the interaction sta

[2022-11-17 21:34] tnorling commented on #5401
@luixal Can you try debugging the [network client](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/src/network/HttpClient.ts) to see if the request is going out and coming back? You can copy it, make any changes you need to help debug and provide it back to msal-node through the `networkClient` [config parameter](https://github.com/AzureAD/microsoft-authen

[2022-11-17 21:47] tnorling commented on #5361
Can you set your log level to Trace and share the output here? Does the issue reproduce with our [Angular 14 sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular14-rxjs7-sample-app/src/app)?

[2022-11-17 22:50] derisen commented on #5339
@jasonk-ma I've double checked your code -not sure why domain_hint does not appear in the msal logs, though we need to see the Fiddler trace to see if it is actually being sent or not. However, it seems if domain_hint is not correct (i.e. doesn't match any of the IdPs), the user will not pass the B2C login page and have to select the button for the IdP. So you might need to check if this (domain_h

[2022-11-17 22:55] jasonk-ma commented on #5339
Ok I’ll give it a try with domain_hint set to my actual domain name, but I believe I’ve already tried that, and also the documentation seems to indicate I’m using the correct format:

From here:
https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso
·         domain_hint: Use the ID token's tid claim value. Required in requests made by multi-tenant applications that use the /

[2022-11-18 01:50] derisen commented on #5339
Interesting. I'll try to confirm this -will update the docs if need be.

[2022-11-18 03:02] GurpreetVirdi commented on #2600
@sameerag :  You said "we have a custom proxy implementation now with node http/https and should solve this issue." ? Can you provide an example please ?

I am getting this error while running my nodejs Lambda function backed by MSAL-NODE to fetch the token ; Using "@azure/msal-node": "^1.6.0"

"Detail: ClientAuthError: openid_config_error: Could not retrieve endpoints. Check your authority and ve

[2022-11-18 06:57] alexseyrakov opened #5404 "Enable "Keep Me Signed In" MSAL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.29.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

We use the MSAL library to access corporate resources.
The KMSI checkbox does not appear on login page.

AD FS server command: Set-AdfsProperties -EnableKmsi:$true
Are there any add

[2022-11-18 06:59] Robbie-Microsoft commented on #2600
@GurpreetVirdi You can find documentation on proxy support in the configuration README for MSAL-Node. It's located here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/configuration.md

[2022-11-18 11:10] bgavrilMS opened #5405 "Extra Query Parameters are not sent to the /token endpoint"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Public or Confidential Client?

Confidential

### Description

1. Use the client_credentials sample
2. Try to set query parameters `foo=bar`. It cannot be done.

Actual: token request is made on <env>/token endpoint
Expected: token request is

[2022-11-18 13:52] jvaughan-io opened #5406 "Redirect to Authorise with POST in place of GET"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL React (@azure/msal-react), MSAL Node Extensions (@azure/msal-node-extensions)

### Public or Confidential Client?

Public, Confidential

### Description

Due to GDPR and other privacy laws, app developers are being put under pressure to keep PII data out of querystrings.
OAUTH2.0, OIDC

[2022-11-18 15:31] aleknik commented on #5330
Hey folks, any updates on this?

[2022-11-18 17:19] roopeshchinnakampalli opened #5407 "Handoff from Vanilla JS App to Angular App Authentication"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.5

### Public or Confidential Client?

Public

### Description

Let's assume, We've an Angular app with MSAL Authentication. When we load this app in the browser, it has to download all the required JS files before applicati

[2022-11-18 17:39] tnorling commented on #5404
@alexseyrakov MSAL.js does not control the login UX on the server, you will need to reach out to your ADFS admin for any issues with the login page.

[2022-11-18 17:39] #5404 closed, assigned to tnorling

[2022-11-18 17:50] derisen commented on #5397
@bgavrilMS @Robbie-Microsoft could you take a look at this? I've proposed a PR for the fix [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5398)

[2022-11-18 17:58] tnorling commented on #5406
@superkat1111 Can you point me to docs indicating support for POST on /authorize? Is your only concern with the login_hint parameter or are there other parameters?

[2022-11-18 18:04] GurpreetVirdi commented on #2600
@Robbie-Microsoft  : Not able to find. The link that you posted has no mention of any "PROXY SUPPORT/ CONFIG" and also I am using **ConfidentialClientApplication** in my Lambda <Authenticating API's deployed to different accounts> and not **PublicClientApplication** ; please show the way!

Looks like my app is trying to call ' .well-known/openid-configuratio' GET endpoint but its blocked. I am run

[2022-11-18 18:05] tnorling commented on #5407
Can you please go into more detail about this? What exactly did you try and what happened?

I'm also not sure I understand this statement: "Looks like there's no formal handshake between the two modes of authentication". msal-angular is merely a thin wrapper around msal-browser to provide Angular features like Interceptors and Guards but all operations still go through msal-browser under the hood.

[2022-11-18 18:34] Robbie-Microsoft commented on #2600
Search for "proxy" on that link I posted, you will find the documentation. It will tell you that you need to provide a "proxyUrl" to the system settings in the config. It functions the same no matter if your application is public or confidential.

[2022-11-18 18:54] roopeshchinnakampalli commented on #5407
I've downloaded one of your sample application of Angular implementing the MSAL auth. So, in the index.html file, I've added the code from the sample app for Vanilla JS implementation. To be precise, I've this below code -

`
  <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.min.js"></script>

    <script>

      const msalConfig = {
    auth: {
      au

[2022-11-18 19:25] tnorling commented on #5407
There's no technical reason this shouldn't work, however, you should be careful that `handleRedirectPromise` is not called both in the VanillaJS and Angular app at the same time, that's likely what's causing the error here. If you refresh the page after getting this error does it work?

I'm not sure how you would delay Angular bootstrap until after the VanillaJS script has completed but that would

[2022-11-18 22:41] roopeshchinnakampalli commented on #5407
Yes. That's what I was checking on the handoff mechanism which allows the Angular app to wait till the Vanilla JS code is done.

I will do some more tests and post the result here. If we can get this working, We have a very good authentication setup for SPA (React, Angular etc.,)

[2022-11-19 13:00] ghost commented on #5360
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @Robbie-Microsoft please follow up.

[2022-11-19 14:02] AhmedBHameed commented on #5361
In our case, we are getting the following log

[code]

![error](https://user-images.githubusercontent.com/25675361/202854347-771eb5e5-b07a-43cb-a458-cc93ae288194.png)

This error happend when we logout and redirect the user to another page (SPI).

[2022-11-19 17:57] Nikhil1999 opened #5409 "Flutter Web Support"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Public

### Description

As flutter web is now much more stable after flutter 3.3 and ready for release in production
I am trying to integrate msal into my flutter website

I am using this flutter [package](https://pub.dev/packages/msal_js) to implement it
But as this librar

[2022-11-20 01:00] ghost commented on #5389
@mkohns This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-20 01:00] ghost commented on #5388
@tushaar9027 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-20 01:00] ghost commented on #5351
@bokipantic This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-20 01:01] ghost commented on #5333
@izikl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-20 01:01] ghost commented on #5111
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-11-20 07:30] sameerag commented on #5325
My two cents on this @daniel-seitz : We have already done that due diligence and this is already forwarded to the B2C team internally. However, please note that considering the volume of issues we get in github, it is much easier to reach out B2C support channel for the relevant issues to gain traction from the B2C team.

[2022-11-20 18:12] jesben commented on #5278
Inspiration:
https://gaurav-techgeek.medium.com/re-architecting-authentication-with-service-workers-ff8fbbbfbdeb

[2022-11-21 01:00] ghost commented on #5394
@niketk This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-21 01:00] ghost commented on #5391
@dilidili This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-21 01:00] ghost commented on #5367
@r-delgadillo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-21 01:22] sameerag commented on #5278
Well, some of these concepts are in evaluation for us. As @jo-arroyo mentioned, we have this marked as something we want to pursue. Thanks for raising this.

[2022-11-21 01:24] sameerag commented on #5409
@Nikhil1999 Unfortunately at this point, we do not have immediate plans to support a wrapper layer for flutter. cc @EmLauber to mark this in the customer asks to evaluate eventually.

[2022-11-21 01:27] sameerag commented on #5405
@tnorling Is this addressed by #5403?

[2022-11-21 09:41] johnwhitehead91 commented on #5351
We are also experiencing this issue.

[2022-11-21 10:13] jerone opened #5410 "Angular 15 support"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

Latest

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

Latest

### Public or Confidential Client?

Public

### Description

Will MSAL support Angular 15.

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

### Identity Provider

_No response_

### Sour

[2022-11-21 10:39] JasSuri commented on #5339
No, for B2C, domain_hint is not the AAD GUID.

See this doc to set the right domain_hint value:
https://learn.microsoft.com/en-us/azure/active-directory-b2c/direct-signin?pivots=b2c-custom-policy#redirect-sign-in-to-a-social-provider

[2022-11-21 11:02] bgavrilMS commented on #5367
Root cause not resolved, still trying to root cause the issue from #4879

[2022-11-21 11:06] jvaughan-io commented on #5406
POST is required by the openid spec. Testing shows both AAD and AADB2C
support it.

login_hint is the primary attrib, but in a B2C world, we also use
id_token_hint a lot which may contain all sorts of info.

On Fri, 18 Nov 2022 at 17:59, Thomas Norling ***@***.***>
wrote:

[2022-11-21 11:54] bgavrilMS commented on #5330
Hi @aleknik - not yet, we're working on bugs at the moment.

Next we will probably pick this up or making the token cache more performant. I have a preference for this scenario, because the token cache issues can be worked around.

[2022-11-21 17:08] ghost commented on #5406
I'm not sure I'm following the ask here correctly - but...

I am unable to find the POST specific docs on this functionality. However, while I haven't extensively tested it, using the same key/values that you would place in the parameters of the `GET` request as documented at [https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code](h

[2022-11-21 17:15] tnorling commented on #5405
Nope, this is different

[2022-11-21 17:21] #5390 closed, assigned to tnorling

[2022-11-21 17:22] jvaughan-io commented on #5406
The Openid spec states the Auth servers MUST support GET and POST (3.1.2.1)
: Final: OpenID Connect Core 1.0 incorporating errata set 1
<https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest> AAD and
B2C do support it.

The ask is for MSAL to support POST too so that we can use PII in auth
requests without exposing data in the querystring.

On Mon, 21 Nov 2022 at 17:08, josandersms ***

[2022-11-21 18:16] tushaar9027 commented on #5388
@derisen yes i am updating the Redirect URI in the App registration to use the PROD URL.

[2022-11-21 18:18] derisen commented on #5388
@tushaar9027 thanks for confirming. Is the [app service authentication](https://learn.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) **not** enabled as well?

[2022-11-21 18:19] tushaar9027 commented on #5388
yes easy auth is not enabled

[2022-11-21 18:23] derisen commented on #5388
@tushaar9027 got it -will try to reproduce this and get back to you.

[2022-11-21 18:24] tushaar9027 commented on #5388
Thanks, its been bugging me for a while.

[2022-11-21 19:23] sameerag commented on #5111
@1hw7 Are we still stuck on this?

[2022-11-21 20:31] marcelkarlsons commented on #5361
Hello @tnorling

Is this what you asked for ?

[code]

[2022-11-22 00:23] ghost commented on #5390
:tada:This issue was addressed in #5403, which has now been successfully released as `@azure/msal-node@v1.14.4`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.14.4)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-node/v/1.14.4)

[2022-11-22 00:33] ghost commented on #5245
:tada:This issue was addressed in #5396, which has now been successfully released as `@azure/msal-react@v1.5.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-react-v1.5.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-react/v/1.5.0)

[2022-11-22 01:00] #5324 closed, assigned to EmLauber

[2022-11-22 08:01] svdHero commented on #5245
I've just updated to the latest release and everything works beautifully. Thank you @tnorling for your work.

[2022-11-22 08:20] YanerTavuz commented on #5410
i think that since Ivy is required in Angular v15, then this is connected to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4298 maybe?

[2022-11-22 19:43] sameerag commented on #5410
@jerone We are in the process of adding Angular 15 support. We have started tracking it internally and someone will start looking into this actively soon. I do not have a specific ETA yet but will be prioritized as soon as we can. cc @EmLauber

[2022-11-22 20:29] jasonk-ma commented on #5339
ClaimsProvider / Domain is described as:
      <xs:element minOccurs="0" maxOccurs="1" name="Domain" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The **human understandable** domain name for the technical profile.
          </xs:documentation>
        </xs:annotation>

In my custom policy I have a simple user-friendly name listed as the Domain for the ClaimsPr

[2022-11-22 20:54] derisen commented on #5388
@tushaar9027 I wasn't able to reproduce this. In any case, this doesn't seem to relate to MSAL. App Service is supposed to ignore query parameters when redirecting, but for some reason it's translating what's after `&` into a path. Do you have an [Application Gateway configured](https://learn.microsoft.com/en-us/azure/application-gateway/troubleshoot-app-service-redirection-app-service-url) in you

[2022-11-23 01:00] ghost commented on #5401
@luixal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-23 01:00] ghost commented on #5359
@swalihmz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-23 06:11] tushaar9027 commented on #5388
@derisen i am not using any  [Application Gateway configured] in my environment, nor any [some URL rewrite rule].

Let me try to use the responseMode: "form_post" and see if that works . Thanks for analyzing the issue atleast i have some lead now.

[2022-11-23 11:10] luixal commented on #5401
Hi,

This problem was due to not running node with the right certificates. Node doesn't take certs from the windows cert repo, but I had them configured in the WSL env, that's why it worked in the WSL but not in outside.

Thanks!

[2022-11-23 11:10] #5401 closed, assigned to tnorling

[2022-11-23 11:31] swalihmz commented on #5359
@tnorling Yes, this was it. Based on account removed event, the location was being changed. Removing that fixed the logout redirect cancellation issue.
Thanks for your help.

[2022-11-23 11:40] bgavrilMS commented on #5360
I don't think authority metadata caching has anything to do with this. Authority metadata is cached in memory. In any case, caching is just an optimization, worse case MSAL will make an HTTP call to fetch this metadata.

Can you please elaborate, maybe with some code, how you perform `AcquireTokenByAuthCode`, `GetAccount` and `AcquireTokenSilent` and how you've setup your cache? Do you use `Expres

[2022-11-23 13:00] #5357 closed, assigned to jo-arroyo

[2022-11-23 14:45] #5359 closed, assigned to tnorling

[2022-11-23 17:18] derisen commented on #5360
@bgavrilMS @hansenfreddy haven't run that particular sample against B2C, but the other web app sample that this sample was based on supports B2C, so this is unexpected. @hansenfreddy if your code is based on the sample mentioned, let me try reproducing the issue with it.

[2022-11-24 01:00] #5377 closed, assigned to jo-arroyo

[2022-11-24 01:00] #5365 closed, assigned to jo-arroyo

[2022-11-24 01:46] #5397 closed, assigned to derisen

[2022-11-24 10:02] web265p3 opened #5422 "Msal Interceptor redirects to common endpoint, not to the specific tenant endpoint"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.32.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.5.0

### Public or Confidential Client?

Public

### Description

In the apps I develop, only people with a work or school account that are inside our organization should be able to login. This will also include guests.

To pr

[2022-11-24 10:33] PhilHannent opened #5423 "How can I request a login prompt or select_account option for my ConfidentialClientApplication using redirect?"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.4

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

My service is most likely not going to use the users own account but a dedicated administration account.

I see that the MSAL.js documentation talks about different prompt types w

[2022-11-24 12:53] JasSuri commented on #5339
I have always used a FQDN - can you try `something.com`?

[2022-11-24 16:52] StevenMedeot opened #5424 "BrowserAuthError Interaction in_progress on page idle"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.4

### Public or Confidential Client?

Public

### Description

Idling on our react browser for around 20-30 minute's causes MSAL to throw a `BrowserAuthError` saying that there is currently an interaction in progress. I've chec

[2022-11-24 22:00] sameerag commented on #5424
@StevenMedeot Can you please share if you have collected any MSAL logs around the time where you see this? We do not trigger a login call afaik but logs can tell you if that is the case.

[2022-11-24 22:09] sameerag commented on #5423
@PhilHannent `prompt` param is supported the same way in `msal-node`, any `request` object can be initialized with a `prompt` - an eg of the request is [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/src/request/AuthorizationUrlRequest.ts).

The `prompt` support in `msal-browser` is also supported in `request` and not `configuration`. `Prompt` deter

[2022-11-24 22:11] sameerag commented on #5422
@web265p3 Can you share MSAL logs?

[2022-11-25 09:10] web265p3 commented on #5422
I am already sure that this only happens to guests. I could enable the logging and set it to verbose.

Those are the results from the console at the very end where the navigation to the common endpoint happens - you can see the last line:

Navigate to https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=3c0d63b3-c2f9-4e4b-b0e8-b8fd0fa39e01&scope=user.read%20...

But why the com

[2022-11-25 15:06] StevenMedeot commented on #5424
I did manage to get some logs and here are the logs from MSAL at the time.
[localhost-1669388796059.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/10093775/localhost-1669388796059.log)

Edit:
Small update: I was under the impression it was from idling (as told by my QA team), but after doing a bit of testing locally I was unable to retrigger this by idling but instea

[2022-11-25 16:09] derisen commented on #5423
@PhilHannent you can use a prompt parameter with the [getAuthCodeUrl()](https://azuread.github.io/microsoft-authentication-library-for-js/ref/classes/_azure_msal_node.confidentialclientapplication.html#getauthcodeurl) API -here's an example:

[code]

[2022-11-25 18:06] derisen commented on #5360
@hansenfreddy I wasn't able to reproduce your issue with the [RedisTestApp](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/RedisTestApp) -would you like to share more about your usage? (e.g. app configuration, code snippets, msal logs)

[2022-11-27 01:00] ghost commented on #5407
@roopeshreddy This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-27 01:01] ghost commented on #5111
@1hw7 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-27 01:01] #5389 closed, assigned to tnorling

[2022-11-27 01:01] #5333 closed, assigned to tnorling

[2022-11-27 01:01] ghost commented on #5361
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-11-27 17:20] blackadi opened #5426 "The msal-browser Popup API does not work on the mobile web browser."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.32.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

When using Vue sample app located [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/vue3-sample-app) to login via Popup

[2022-11-28 01:00] #5394 closed, assigned to tnorling

[2022-11-28 01:56] sameerag commented on #5426
Can you please share the MSAL logs?

[2022-11-28 06:42] jmriyaz84 commented on #4206
Dear Team ,
I am also facing same issue , my idToken is not gettng renewed after expiry , it works when i set forceRefresh as true , but still some user face authentication issue , in Vue2 we use ADAL library , but migrating to vue3 adal got deprecated so we started using msal , but we are facing lot of issues while using msal . Please help.

[2022-11-28 08:42] khalifaelbanan opened #5427 "Customize code_challenge and code_challenge_method"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.31.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

Greetings,
Is there a way to pass my own code_challenge and code_challenge_method for PKCE flow with msal/browser ? if not, how can I achieve that ?

### MSAL Configuration

[code]

[2022-11-28 09:32] PhilHannent commented on #5423
Thank you for all the help, it worked.

As to answer this question:

We have a platform that helps with room booking, the user links the account that needs to manage the rooms. That account will have the delegate permissions on the mailboxes. If the user uses their own account they'll fail and we have to warn them in the user interface that they need to add permissions and check the have the corre

[2022-11-28 09:32] #5423 closed, assigned to bgavrilMS, Robbie-Microsoft

[2022-11-28 13:00] #5391 closed, assigned to tnorling

[2022-11-28 13:00] #5367 closed, assigned to bgavrilMS, Robbie-Microsoft

[2022-11-29 13:00] ghost commented on #5339
@jasonk-ma This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-11-29 14:13] blackadi commented on #5426
@sameerag This is the console logs :

[Debug] [Tue, 29 Nov 2022 13:59:42 GMT] : [2857ef2b-d8a5-4da0-a42c-fb8449397a34] : @azure/msal-browser@2.32.0 : Verbose - loginPopup called (index.1512a7b6.js, line 27)
[Debug] [Tue, 29 Nov 2022 13:59:42 GMT] : [2857ef2b-d8a5-4da0-a42c-fb8449397a34] : @azure/msal-browser@2.32.0 : Verbose - acquireTokenPopup called (index.1512a7b6.js, line 27)
[Debug] [Tue, 29

[2022-11-29 19:30] keo4041 opened #5429 "OIDCStrategy with proxy not working"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.4

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

I have implemented the OIDCStrategy for passport and it's working on my local host but when i deploy it to a cloud foundry site with proxy, i

[2022-11-29 20:08] jasonk-ma commented on #5339
I tried it with FQDN and it still does not work as expected. The domain hint is not getting attached.

[2022-11-29 23:03] derisen commented on #5339
@jasonk-ma I'm not able to reproduce this with the [b2c-sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/b2c-sample). Are you sure the the domain hint is actually in the request object? Could you share the code/component that triggers login (profile.jsx)? If you a have a public repo for reproduction, feel free to share it.

[2022-11-29 23:17] jasonk-ma commented on #5339
Profile.jsx:

`import { useEffect, useState } from "react";

// Msal imports
import { MsalAuthenticationTemplate, useMsal } from "@azure/msal-react";
import {
    InteractionStatus,
    InteractionType,
    InteractionRequiredAuthError,
} from "@azure/msal-browser";
import { loginRequest, protectedResources } from "../authConfig";

// Sample app imports
import { ProfileData } from "../ui-component

[2022-11-29 23:29] derisen commented on #5339
@jasonk-ma aah, I don't see you passing the params to `authRequest` object in case if `MsalAuthenticationTemplate` triggers login:

[code]

In any case, I would suggest you to just test if the domain_hint value you are using is correct. Modify the `loginRequest ` object  in `authConfig.js`, then just perform a sign-in in an incognito browser session and see if the IdP selection screen is bypassed

[2022-11-30 04:17] sameerag commented on #5424
@StevenMedeot We store a temporary cache item `interaction.status: true` to track an interaction in progress.  However can you please confirm if this bit is stored in `localStorage` or `sessionStorage`? It is supposed to be in `sessionStorage` which is not shared across tabs.

Also if you are trying to create separate sessions in each tab, can you also confirm your cache isn't set to `localStorage

[2022-11-30 13:31] web265p3 commented on #5422
I think I partially could resolve my problem - I changed my login option in the app registration to "Accounts in this organizational directory only (MY COMPANY only - Single tenant)"

Now the common page is not shown anymore... not a good solution though, because I will have the problem in a multi tenant app...