[2020-05-22 09:03] divya2603 opened #1693 "Authentication failure in iOS devices with version 13.4.1 and in Safari (version 13.1)"
We have migrated from adal.js to msal.js. In all the browsers it is able to authenticate the user successfully without any issue. However, the call fails with 'ClientAuthError' in safari browser (version 13.1) and all iOS devices with latest iOS version(13.4.1).

[2020-05-22 09:05] #1693 closed

[2020-05-22 09:36] divya2603 opened #1694 "Authentication failure in safari browser(version- 13.3) and ios mobile devices (version 13.4.1))"
## Library
- msal@1.3.0

## Framework
React v16

## Description
It is a single-tenant application. The incoming user is authenticated using msal.js. If the user exists in AD, they can access our application.

## Security
Is this issue security related?  NO

## Regression
Did this behavior work before?  NO

## Configuration
const authContext = new UserAgentApplication({
  auth: {
    clientId: clie

[2020-05-22 09:37] SacyrTIC opened #1695 "unprotectedResources comming from router unprotect api endpoints"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 9

## Description
Currently, in class MsalService constructor, if unprotectedResources are given, routes

[2020-05-22 10:38] jrmcdona commented on #1679
@pkanher617 When would this gap be fixed?  In the coming weeks?

[2020-05-22 13:45] DarkLite1 opened #1696 "Migrating from MSAL 1.x to MSAL 2.x"
## Library
- [x] `@azure/msal-browser@2.x.x`

## Documentation location
- [x] MSAL.js Github

## Description
In the [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md) from MSAL 1 to MSAL 2 the following code is written:

[code]

Given that there is no `await` statement before `myMSALObj.loginRedirect(loginRequest);`

[2020-05-22 18:55] tnorling commented on #1694
@divya2603 Unfortunately due to Safari blocking third party cookies, `acquireTokenSilent` is expected not to work. As a workaround you can either enable third party cookies or call `acquireTokenRedirect` or `acquireTokenPopup`. You can read more about this issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari)

Additionally, we have a new versio

[2020-05-22 18:59] tnorling commented on #1684
@sarahkang58 You can call `msal.getAccount()` to verify you were successfully logged in. Take a look at our [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/VanillaJSTestApp/app/default/auth.js) to see how to implement this.

[2020-05-22 19:22] vlafranca commented on #1665
@jasonnutter great ! I am working on it and will be soon able to make a PR

[2020-05-22 19:28] uddinmahatab commented on #1095
Hi, @taysco I have the same issue on react app.
On auth-end page, it does Nothing even though it redirects after login and hence popup do not close.
Can I see your code samples how did you solve react location hash issue?

Also if you can share your full auth-start, auth-end code, that would be really helpful.
Thank you.

[2020-05-22 20:03] streamcode9 commented on #1689
@jasonnutter thank you for your help!

It looks like the first point - "The iframe never gets redirected back to the redirect uri". It seems some users have a middleware between `login.microsoft.com` and the redirect uri that should be taken into account.

[2020-05-22 20:03] #1689 closed

[2020-05-22 20:06] pkanher617 commented on #1679
Should be fixed in the next release of the beta. I will update here when it is available.

[2020-05-24 00:54] kevin-mcmanus opened #1703 "ClientInfo not received in the response from AAD"
I'm trying to obtain an access token using `.getAccessToken(args)` from the `react-aad-msal` npm package.  The console is reporting a couple of errors that originate from this repo:

`[ERROR] ClientAuthError: The service did not populate client_info in the response, Please verify with the service team Failed with error: ClientInfo not received in the response from the server`

And

`VM443 1.chunk.

[2020-05-25 07:03] NareshKumarM opened #1704 "Issue in logging out"
**Library**
"@azure/msal-angular": "^1.0.0"
"msal": "^1.3.1",

**Framework**
Angular 8.2

Description
Hey All,

Recently, i tried upgrading from "@azure/msal-angular": "^0.1.4" to the latest.
I had followed the [upgrade guide](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/0.x-1.x-upgrade-guide.md) and implemented the changes according to the [ang

[2020-05-25 13:46] jrmcdona commented on #1640
Solved me issue,  you may want to add this to the documentation on getting started. I am upgrading a project that was using older version of TypeScript and was hitting this error.

[2020-05-25 14:30] DarkLite1 opened #1705 "Error - error opening popup empty_window_error: window.open returned null or undefined window object."
## Library
- [x] `@azure/msal-browser@2.0.0-beta.2`

## Framework
Quasar Framework, Vue.js

## Description
When clicking the `LOGIN` button at the top right corner the user gets signed in correctly. We can see that with the `Welcome` text. However, at the same time the function ``getGraphProfile()` is called in the [HeaderButtonProfile component.](https://github.com/DarkLite1/hip/blob/msal2-test/s

[2020-05-25 14:42] jrmcdona opened #1706 "Type TokenRenewParameters not exported"
## Library
- [ ] `@azure/msal-browser@2.x.x`

## Description
I am trying to use TokenRenewParameters type to use with  :
`acquireTokenSilent(silentRequest: TokenRenewParameters): Promise<TokenResponse>;`

However, that type is not exported and available for me to use; so I am passing in an "any" type.

Not sure if this is by design or something missed here.

[2020-05-26 11:16] luklew commented on #1000
Hi @hamiltonha , just wondering do you know a rough ETA for B2C integration?

[2020-05-26 11:49] DarkLite1 commented on #1705
Creating a more clear issue than this one, closing.

[2020-05-26 11:49] #1705 closed

[2020-05-26 14:12] sarahkang58 commented on #1684
@tnorling ok thank you!  i'll look into it!

[2020-05-26 14:12] #1684 closed

[2020-05-26 19:04] hamiltonha commented on #1000
@luklew you should be able to use B2C now by manually editing your app manifest as instructed in the README of the browser package. The azure portal URI for SPAs will be deployed to B2C tenants around June 5-12th. please let me and @pkanher617 know if you have any issues using the browser package with a b2c app by editing the manifest

[2020-05-26 19:48] jrmcdona commented on #1662
@jasonnutter this seems like it will be real struggle.   I am trying to prevent anything that uses msal-browser package to be removed from bootstrapping the app.  I have an MSAL Helper service which is loading msal-angular, and if that service gets imported at all during boot-up it throws errors.   I am not sure how to not import that service during boot up but I am trying.

[code]

[2020-05-26 19:59] luklew commented on #1000
@hamiltonha I will do thanks! Does this work with angular msal 1.0.0?

[2020-05-26 20:08] hamiltonha commented on #1000
@luklew as of now the Angular library still uses the implicit flow, we are looking to onboard that library to the auth code flow in the coming months.

[2020-05-26 20:41] jasonnutter commented on #1692
@cclauson No, we do not support ROPC in MSAL.js (and there are currently no plans to support it).

[2020-05-26 20:46] jasonnutter commented on #1704
@NareshKumarM Those logs would indicate login was attempted instead of logout. Can you please confirm you are indeed calling `logout`?

[2020-05-26 20:47] jasonnutter commented on #1703
@kevin-mcmanus Are you using ADFS?

Also, in the future please use of the issue templates, thanks!

[2020-05-26 20:57] sebol commented on #1188
Hi!
I have the same problem, I cannot go to production with our application due to this bug.

Regards

[2020-05-26 21:11] jasonnutter commented on #1188
I will investigate what more can be done in the library to mitigate this issue. Until then, I suggest these mitigations:

1. Increase the max header size limit for your server.
2. Only enable `storeAuthStateInCookie` for IE/old Edge (it should not be needed for other browsers).

[2020-05-26 21:18] jasonnutter commented on #1662
@jrmcdona Have you tried the CDN hosted version of the library? That may make it easier to have it only execute client-side.

[2020-05-26 22:08] kevin-mcmanus commented on #1703
@jasonnutter ,

No I'm not using ADFS, my scenario is more obscure than that...

In production I am using Azure Active Directory with no federation or connection to an on-prem directory.

For development I'm using a 100% Identity Server 4 (https://github.com/IdentityServer/IdentityServer4) solution, with users and resources all configured in IS4 with no links to AAD (or ADFS).

AzureAD is being us

[2020-05-26 22:46] luklew commented on #1000
@hamiltonha  I've noticed I'm not getting all my Application Claims back from the B2C AD when I request a token. Is that expected at this time?

[2020-05-26 22:48] luklew commented on #1000
I have edited the manifest and changed the type to "spa", also enabled "public client" btw.

[2020-05-26 23:53] sameerag commented on #1706
This probably will change with the refactor in progress. cc @pkanher617 for details soon.

[2020-05-27 02:00] NareshKumarM commented on #1704
Yes. I have a button whose click event is bound to this.msalService.logout();

[2020-05-27 05:39] kiranbhadani commented on #1161
#20 https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi/issues/20

[2020-05-27 07:44] DarkLite1 opened #1710 "getAccount return type for idTokenClaims.oid"
## Library
- [x] `@azure/msal-browser@2.0.0-beta2`

## Description
We receive the following TypeScript error:

This comes from expecting the `idTokenClaims.oid` to be a string:

[code]

Should the property `oid` not [always be populated](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1620) with a string when `getAccount()` is successful as it identifies the logged on use

[2020-05-27 08:54] NickLiffen commented on #871
Hey 👋 Just wanted to follow up here and see if there was any traction on this issue. We are somewhat moving away from session/local storage for SPA's and client run applications and more moving towards HTTP Cookies/Web Workers. As mentioned above, I am looking at issues #602 and #637 which all have been closed, but not resolution?

This article: [Storing Tokens](https://auth0.com/docs/tokens/conce

[2020-05-27 13:50] mylle opened #1712 "Authorization missing in request headers for specific words in URL"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.0.0-beta-4`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular

## Description
I have a weird problem. I created a few new endpoints in my API, but when I have

[2020-05-27 15:53] jasonnutter commented on #1704
@NareshKumarM Have you tried debugging the `logout` function? Does an error occur?

I would also be interested to know if you can reproduce this behavior with the Angular 8 sample.

[2020-05-27 16:21] jasonnutter commented on #1703
@kevin-mcmanus Thanks for the context. It looks like the comment in question should have been removed/updated when the exception was added, so we'll make sure that gets fixed.

Currently, the library is expecting responses to include `client_info`, but #1668 will remove that requirement in order to properly support ADFS, so that may unblock your scenario as well.

[2020-05-27 17:35] tnorling commented on #1710
@DarkLite1 The `oid` claim is not 100% guaranteed to be returned from the service and msal just passes through what the service returns, thus we need to mark it as optional in our code. In most cases it will be present but there are some edge cases where it may not be. If it is not returned for your use case you should be able to enable it in the app portal. But in terms of the problem this poses,

[2020-05-27 17:39] thoo1 opened #1713 "Logger: Unable to get valid login request url from cache, redirecting to home page"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `@azure/msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
In the logger for UserAgentApplication, it sometimes logs: `Unable to get valid login request url fr

[2020-05-27 17:47] jasonnutter commented on #1713
@thoo1 What APIs are you calling when this occurs? `acquireTokenRedirect` or `loginRedirect`? (or both).

Your configuration and usage of those APIs would also be helpful, thanks!

[2020-05-27 18:11] thoo1 commented on #1713
I believe `loginRedirect`. When looking at logs for users that get this, an exception also gets thrown with `errorCode: login_progress_error`

[2020-05-27 18:14] thoo1 commented on #1713
btw if you'd like to see our code, feel free to contact me on teams, my alias is thoo

[2020-05-27 20:24] vlafranca commented on #1665
Hi @jasonnutter I juste submitted a PR #1715

Labeler / label (pull_request)  checks fails, can you explain me why ?

[2020-05-27 21:16] tnorling commented on #1637
Question has been answered. Let us know if you have further questions.

[2020-05-27 21:16] #1637 closed

[2020-05-27 21:19] tnorling commented on #1621
Closing as no further action needed by msal

[2020-05-27 21:19] #1621 closed

[2020-05-27 21:24] tnorling commented on #1589
Closing due to inactivity. Let us know if you are still having problems

[2020-05-27 21:24] #1589 closed

[2020-05-27 21:39] #1401 closed

[2020-05-27 21:44] tnorling commented on #1322
@Raysapps Apologies for the delayed response. Is this still an issue? You can use `this.authService.acquireTokenSilent` to acquire tokens directly.

[2020-05-27 21:46] #1248 closed

[2020-05-27 21:51] tnorling commented on #1570
@cubogdan Apologies for the delayed response. This is an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-05-27 21:51] #1570 closed

[2020-05-27 22:16] tnorling commented on #1694
Closing as this is expected behavior in msal 1.x. Let us know if you have any further questions. Thanks!

[2020-05-27 22:16] #1694 closed

[2020-05-27 22:20] tnorling commented on #1653
Also see sample for [multiple resources](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/VanillaJSTestApp2.0/app/multiple_resources)

[2020-05-27 22:26] kemins commented on #1568
So where we are right now???
@azure/msal-angular that has been recently released(not beta anymore) is not compatible with Safari(renew token fails), forcing users to turn off the security feature(cross-site tracking) seems like a ridiculous and controversial option.

There is no even raw ETA for 'MSAL Browser' support.
IMHO authentication flow is essential for any enterprise, there must be a stabl

[2020-05-28 06:03] DarkLite1 commented on #1710
In my case I'm trying to identify a user with a unique string. A user is someone who logged into to our Azure AD. I've asked this questions [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1620) and the answer was to use the `oid` property.

In my use case, with all tests I've done already, I always get an `oid` back. When you say it's not 100% guaranteed to be retu

[2020-05-28 06:26] deasems opened #1718 "Error getting access tokens for AAD1 and AAD2 resources"
## Library
- [x] `@azure/msal-browser@^2.0.0-beta.2`

## Framework
N/A

## Description
I'm testing out the latest MSAL 2.0 beta with a first party app and rand into this issue.
My app needs to get tokens for both AAD 1.0 and AAD 2.0 resources. If I include these scopes in the `loginRedirect` call:
[code]
The MS login UI fails with the error:

If I don't include one of the scopes values then login

[2020-05-28 06:48] jberlyn commented on #844
@jasonnutter  I'm sorry but this doesn't solve the original issue.

The question I believe relates to whether it's possible to get an AAD v1 token using MSAL, not the access tokens.

If you take a look at the sample tokens in this documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens), you can see that the issuer URL is different. The original poster @Meberem

[2020-05-28 07:24] eagerestwolf opened #1719 "Authentication without popup or redirect"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
So, I am developing an internal application that does not need access to B2C resources. I don't need the user to grant any permissions for anything relating to their Office 365 subscription and

[2020-05-28 09:54] divya2603 opened #1720 "User authentication failing for some users"
## Library
- msal@1.3.0

## Framework
Reactv16

## Description
msal.js is used to authenticate the users against the active directory. For most of the users it works fine but for some users, the authentication fails.

## Error Message
The authentication fails with the following message : A silent sign-in request was sent but none of the currently signed in user(s) match the requested login hint.

[2020-05-28 10:33] streamcode9 opened #1721 "How to prevent acquireTokenSilent from calls to SSO"
## Library
- [x] `msal@1.3.1`

## Description
I've noticed that after I call `acquireTokenSilent`, there are a few calls (not sure who does this call MSAL itself or https://login.microsoftonline.com/ page inside the MSAL's iframe) to `https://autologon.microsoftazuread-sso.com/`. Probably the reason is https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/e65a909267a727d78894eba3

[2020-05-28 14:37] et1975 opened #1722 "audience/resource for token acquisition"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Trying to figure how to acquire a token for [AppConfiguration API]( https://github.com/Azure/AppConfiguration/blob/master/docs/REST/authentication/aad.md) and coming up short.

The API document

[2020-05-28 15:19] et1975 commented on #1718
the scope has to match the known application uri, which in your case is probably `api://cd34d57a-a3ef-48b1-b84b-9686f0f7c099/.default`, try that?

[2020-05-28 15:48] tnorling commented on #1710
Yes. This depends on the token claims configured on your id_token. The `oid` claim is returned by default but there are some edge cases msal needs to handle where it may not be returned and this is the reason the type is possibly undefined. This should not be something you need to worry about.

Yes. `accountIdentifier` **is** `oid` unless it does not exist in which case it falls back to `sub`. I s

[2020-05-28 16:18] ranjanmicrosoft commented on #1722
scope will be something like https://{myconfig}.azconfig.io/.default

in your resource map you'll do [ 'https://{myconfig}.azconfig.io/', [ 'https://{myconfig}.azconfig.io/.default' ]],

[2020-05-28 16:48] ranjanmicrosoft opened #1723 "how to specify relative redirect url in MSAL angular config?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When using the AOT compiler to build a production angular application, items in the app.module are evaluated at build time rather than compile time. This issue does not apply to the JIT compile

[2020-05-28 18:07] SebastianPellitero commented on #1569
I still have the same issue.

[2020-05-28 18:59] et1975 commented on #1722
@ranjanmicrosoft  that's what I thought, but then my other problem:
[code]

How do I add the `*.azconfig.io` URI to my app definition? It has to be registered somewhere because the manifest takes a GUID, not the URI:
[code]

[2020-05-28 21:06] malvica opened #1724 "MSAL library accessTokenSilent returns ClientAuthError in Firefox"
Hello,
My team has developed an office add-in for Outlook online and are using **MSAL** library **acquireTokenSilent** to get the token.
Using outlook online in **Firefox browser,** creating a new message in Pop-out window, user clicks on our add-in we make a call to acquireTokenSilent which returns **ClientAuthError: User Login is required.**
The same works when a new message is opened in in-line

[2020-05-28 21:23] Riff451 commented on #1569
Hi, I have not retried recently. Did you try with the latest version, 2.0.0-beta.2? When I tried it was 2.0.0-beta.0 Thanks.

[2020-05-28 22:22] ranjanmicrosoft commented on #1723
using this pattern helped resolve this issue:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403

[2020-05-28 22:22] #1723 closed

[2020-05-28 22:34] deasems commented on #1718
`cd34d57a-a3ef-48b1-b84b-9686f0f7c099/.default` is a valid scope that I can successfully get access tokens for when that's the only resource I attempt to get a token for.

[2020-05-28 23:59] Raysapps commented on #1322
No worries and thanks for your response. Closing this question as it  is resolved.

[2020-05-28 23:59] #1322 closed

[2020-05-29 02:00] jasonnutter commented on #1568
We decided to upgrade MSAL Angular to use MSAL.js v1 (as opposed to v2, aka MSAL Browser) because MSAL.js v2 is still in development (currently in public preview), and we did not want to wait until MSAL.js v2 was stable before GAing MSAL Angular, as we know there customers waiting for MSAL Angular to work with MSAL.js v1.

I understand the frustration with Safari and ITP, and agree it is suboptima

[2020-05-29 02:01] jasonnutter commented on #1665
@vlafranca The labeler wasn't setup to work with forks, that will be fixed.

[2020-05-29 02:25] jrmcdona opened #1725 "When will msal-angular move to MSAL 2.0?"
## Library
- [ ] `@azure/msal-angular@1.x.x`

## Description
ETA needed.

I am building a First party Microsoft app and need to  move to Auth code flow. Should I use the MSAL browser instead?

I am currently using MSAL Angular 1.x.x

@hamiltonha

THanks

[2020-05-29 02:27] vlafranca commented on #1665
Ok thanks for your reply, is there any log output in azure to know why is
the build failing ? It succeed on my machine ..

Le jeu. 28 mai 2020 à 22:01, Jason Nutter <notifications@github.com> a
écrit :

[2020-05-29 02:31] jrmcdona commented on #1662
@jasonnutter  this looks like MSAL 1.x CDN files?

I need MSAL 2.x.

Sorry I can see I didn't make that clear.  I was directed to move to Auth Code flow instead of implicit flow so I can get wids claim.

[2020-05-29 05:52] DarkLite1 commented on #1710
Awesome! Switched my code to using the `accountIdentifier` instead of `oid`:

[code]

[2020-05-29 05:52] #1710 closed

[2020-05-29 06:02] Hyperionza commented on #1712
Ditto, except mine refuses to attach a bearer to a GET  request with endpoint `https://localhost:44323/api/security/profilemenu`
If I change it to 'menu' instead of 'profilemenu' it works. Also in parallel with this request is another GET request to the same '/api/security' controller but targeting endpoint 'navigationmenu' which works fine. To make sure I wasn't imagining it, I switched the endpo

[2020-05-29 10:30] LukaszFliegel opened #1727 "Is it possible to have additional query parameters when calling openid-configuration endpoint?"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm trying to use msal with external AAD B2C. Policies they support have to be passed as a query parameter for authorization or v2.0/.well-known/openid-configuration endpoints.
I have looked at

[2020-05-29 11:25] Prathyusha191 commented on #1124
I agree with @emulic ,
Ours is a React application and we used https://www.npmjs.com/package/react-azure-adb2c,
and even we are facing the same issue.
we are getting 400 when we leave the page for 4hours or so.
And I feel this issue is with AAD B2C  SignIn flow, and needs a fix

[2020-05-29 14:57] willzhan commented on #1669
When will the CDN version be available for direct reference?

[2020-05-29 17:40] tnorling commented on #1718
@deasems If you request a `/.default` scope [you cannot also request other scopes](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope). So you must break these up into separate calls. However, there is a known issue in msal-browser, that prevents silent acquisition of a token for a 2nd resource resulting in the error you experienced when yo

[2020-05-31 14:06] salimchemes commented on #1124
we are having the same issue, we also tried also with
https://www.npmjs.com/package/angular-auth-oidc-client and got the same problem

I wonder if this is a b2c issue and not a client side

[2020-06-01 09:13] neo-feng opened #1728 "processHash removed from msal-guard.service.ts and cannot find where is it now"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.0.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.3.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
processHash method was removed from file msal-guard.service.ts in this commit https:

[2020-06-01 12:00] Codeluck commented on #1688
@jasonnutter - thank you for the explanation. Now I use the following flow:

1. Call `msal.loginRedirect({
  scopes: [ "openid", "email", "profile" ]
})`
2. Call `msal.acquireTokenSilent({
  scopes: [ "https://mytenant.onmicrosoft.com/test/User.ReadOnly" ]
})`

The first call successfully returns an `id_token` while the 2nd one fails.
After 2nd call I got an error:
`InteractionRequiredAuthError: A

[2020-06-01 12:50] Codeluck commented on #1688
UPD: after googling and searching issues I found the root of this problem. Looks like I had 'Block third-party cookies' setting turned on in my Chrome's instance. It's immediately started working once I turn it off.
Question: is there a way to avoid using 3rd party cookies? I don't think we can guarantee that these cookies are allowed for any client.

P.S. I used Chrome 83, Windows 10

[2020-06-01 16:06] jasonnutter commented on #1688
Unfortunately, MSAL.js v1 implements the Implicit Flow, which relies on 3rd-party cookies. As a workaround, you should invoke acquireTokenPopup or acquireTokenRedirect when you encounter this error (which you should do anyways).

We are currently working on MSAL.js v2, which will switch to the Auth Code Flow, which will mitigate third-party cookies issues in most scenarios. This is currently in pu

[2020-06-01 16:17] Codeluck commented on #1688
@jasonnutter thank you for the update.
Q: do you think we could use MSAL.js v2 already for the current configuration? Is it stable enough?

[2020-06-01 16:18] jasonnutter commented on #1728
@neo-feng The processing of the response hash is now done [in the core library](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/b793ac74d413d0d27e9e9b1134c9702e90cff20f/lib/msal-core/src/UserAgentApplication.ts#L1069). You should not need to call this manually, as the library will invoke it for you.

It sounds like you are using hash routing with your angular project?

[2020-06-01 18:26] tnorling commented on #1441
@thoo1 You should be able to use `ClientAuthErrorMessage` for this. i.e. `error.errorCode === ClientAuthErrorMessage.endpointResolutionError.code`. Does this resolve your use case?

[2020-06-01 19:08] jasonnutter commented on #1719
@eagerestwolf This is supported via [ROPC](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc). Note, this flow is not supported in the MSAL.js library, but can be used directly as noted in the documentation.

[2020-06-01 21:28] jasonnutter commented on #1688
MSAL.js v2 is in public preview (beta). It is not intended for production usage, yet.

B2C is supported: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1000#issuecomment-634217520

Not sure what you mean, options other than MSALjs?

[2020-06-01 21:35] jasonnutter commented on #1721
@streamcode9 I don't believe this is initiated by MSAL. In the dev tools, you can tell which script invoked the call in the "Initiator" column of the network tab.

[2020-06-01 21:35] jasonnutter commented on #1725
@jrmcdona This work is not yet scheduled. We are first waiting for MSAL.js v2 to be stable, and then it is a matter of scheduling it in relation to other priorities of our team. We'll post an update when we know more.

[2020-06-01 21:36] jasonnutter commented on #1725
In the mean time, if you need to move to the Auth Code Flow, I would recommend using MSAL.js v2 directly.

[2020-06-01 21:39] jrmcdona commented on #1725
Ok, thanks working on it as we speak.

[2020-06-01 22:49] tnorling commented on #1727
@LukaszFliegel We do not currently support customization of the `openid-configuration` call nor do we officially support IDPs outside of AAD and Azure B2C. Are you using some other B2C service, outside of Azure? A potential alternative solution; we will be releasing `msal@1.3.2` soon which will allow you to provide your endpoint metadata to skip the `openid-configuration` call, potentially solving

[2020-06-01 22:58] tnorling commented on #1720
@divya2603 Are the users that this is failing for, guest users and is it consistent for those users? There is a known issue where this may fail if a guest user's username is too long. Try sending `sid` to the `extraQueryParameters` you include in the `acquireTokenSilent` call instead of `login_hint` and see if this resolves the issue. `sid` is an optional claim you will need to enable in your app

[2020-06-02 00:46] #1672 closed

[2020-06-02 01:14] neo-feng commented on #1728
@jasonnutter yes, we use hash routing, thanks for your reply.

I did noticed method processCallback() in UserAgentApplication.ts, and traced its invoking chain, it is invoked in 2 methods,
1. UserAgentApplication constructor
        -- handleRedirectAuthenticationResponse
        -- processCallBack

2. UserAgentApplication acquireTokenSilent
        -- renewToken
        -- loadIframeTimeout()

[2020-06-02 06:47] Codeluck commented on #1688
@jasonnutter thank you  for the answer!

I mean do we have any other option while MSAL.js v2 is not in production? How would you suggest to workaround this problem? I think MS is recommending to use MSAL.js for SPA but looks like it has stopped working after that '3rd party cookies' problem :(

[2020-06-02 07:11] flytiny opened #1729 "How to force users to log in after they have logged in for a long time in a single-page app?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
  When the user logs in for a long time, for example, one day or two days, and he/sh

[2020-06-02 07:19] LukaszFliegel commented on #1727
@tnorling thank you for the confirmation, it is what I thought.

The B2C IDP I'm calling is also a Azure B2C as far as I know, however somehow wrapped. I do not know implementation details, they are 3rd party for me. I see they implemented B2C policies in a way I described.
I will be looking for a release of `msal@1.3.2` thank you.

[2020-06-02 07:19] #1727 closed

[2020-06-02 07:43] flytiny commented on #1729
Sorry to bother you.

[2020-06-02 08:36] oleksii-kostin commented on #701
With msal 1.3.1, error still present.

[2020-06-02 09:02] Codeluck opened #1730 "loginRedirect leads to a wrong discovery Url"
## Library
- `@azure/msal-browser@2.0.0-beta2`

## Framework
React v16.8.6

## Description
After calling `msalObject.loginRedirect({ scopes: ['openid', 'email'] })` MSAL is sending a request to

`https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://mytenant.b2clogin.com/mytenant.onmicrosoft.com/b2c_1_signupin/oauth2/v2.0/authorize`

which retur

[2020-06-02 09:25] flytiny commented on #1729
Sorry, After read the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes) and created Azure AD conditional access, it seems that the life of refresh token was not successfully modified. And the page prompts this sign-in frequency control only works with supported apps, and third-party applications cannot use this control.
<

[2020-06-02 11:20] jrmcdona opened #1731 "VanillaJSTestApp2.0 sample, code question for getTokenRedirect"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-browser@2.x.x`

## Description
In the sample, in this file linked below.  Why on line 45 would you showWelcomeMessage after successful signIn then immediately do a getTokenRedirect request.  Seems out of place to me.

[code]

https://github.com/AzureAD/microsof

[2020-06-02 12:46] AWallace327 commented on #1437
@jasonnutter Do you have any updates on this issue. We are experiencing a similar issue and neither of the recommended workarounds (acquireTokenPopup or acquireTokenRedirect) work for us.

To reproduce the issue I have done the following:

I followed all steps here: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/README.md and here: https://github.co

[2020-06-02 15:13] tnorling commented on #1730
@Codeluck To use B2C you must set `knownAuthorities: ["mytenant.b2clogin.com"]` in your auth config. Let us know if you continue to have issues after this has been added

[2020-06-02 15:24] tnorling commented on #1727
@LukaszFliegel Could you share the documentation that states you need to provide the policy in the query param? This is not something I have seen before and I'd like to follow up with the B2C service team to find out if this should be a supported scenario.

[2020-06-02 16:35] jasonnutter commented on #1688
The available mitigations are:
- Invoke acquireTokenPopup or acquireTokenRedirect when you receive errors calling acquireTokenSilent (which you should do anyway).
- Users can disable third-party cookie blocking.
- Use a server-side library (e.g. MSAL.net) which does not rely on third-party cookies.

[2020-06-02 18:28] jasonnutter commented on #1696
@DarkLite1 Correct, technically `async` is not needed for this function. cc: @pkanher617

[2020-06-02 18:30] jasonnutter commented on #1724
@malvica This error is thrown when the user is not logged in (i.e. the UserAgentApplication has no context of the user's session). This can be resolved by calling `loginPopup` or `loginRedirect`. Have you tried that?

[2020-06-02 18:42] streamcode9 commented on #1721
@jasonnutter agree. It seems like something is going on inside the iframe and not connected with MSAL directly. But if I do like this:
[code]
I am able to avoid unnecessary calls to https://autologon.microsoftazuread-sso.com/ and as a result, avoid timeout exceptions.

Does this code make sense?

[2020-06-02 19:36] jasonnutter commented on #1721
Interesting, are you observing timeouts when https://autologon.microsoftazuread-sso.com/ is invoked?

This endpoint is invoked as part of SSO on Windows machines, and is outside of MSAL's control.

As far as your code, I would not recommend calling `getCachedToken`, as it is technically an implementation detail and may be removed or not accessible in the future. If you are experiencing timeouts, y

[2020-06-02 20:49] jrmcdona commented on #1669
@willzhan it is at the bottom of this page https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript-auth-code#more-information

[2020-06-02 21:21] jasonnutter commented on #1437
First, generally speaking you should not rely on `acquireTokenSilent` always succeeding. You should assume it will potentially fail (i.e. due to factors outside the control of your app or MSAL.js itself), and choose one of the interactive flows as a failback. I realize both popups and redirects have negative tradeoffs, but they are the only two options we have to resolve silent token acquisitions

[2020-06-02 21:43] jasonnutter commented on #844
@jberlyn By "token" do you mean ID tokens?

Also, see this answer: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/560#issuecomment-620133340

[2020-06-02 21:50] jasonnutter commented on #1728
@neo-feng When you invoke acquireTokenSIlent, it will be called when the library detects a response in the iframe, as you noted. In Angular, this will emit `msal:acquireTokenSuccess` events.

At this point, I'm not sure I understand the problem you are having. Can you please clarify?

[2020-06-02 21:52] jasonnutter commented on #1662
@pkanher617 Can you add the MSAL.js v2 CDN links?

[2020-06-02 21:56] jasonnutter commented on #1728
Note, if your application modifies the hash, it may prevent MSAL from parsing the response, which will prevent the hash from being processed and returned.

[2020-06-02 22:27] jrmcdona commented on #1662
I found them here:

it is at the bottom of this page https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript-auth-code#more-information

[2020-06-02 22:58] #1597 closed

[2020-06-02 22:58] #1263 closed

[2020-06-02 22:59] #1120 closed

[2020-06-03 01:35] neo-feng commented on #1728
@jasonnutter after the library detecting a response in the iframe I expect to see the code to remove hash from url (http://localhost:4200/#access_token=xxx ) like "window.location.hash = ", but I didn't, that's what I'm struggling to find. In the method processCallBack() you suggested above I can not find it, either.

Two console error logs printed in my issue,
 - Error: Uncaught (in promise): Err

[2020-06-03 04:29] ericmagalhaes opened #1732 "Consume external token or authorization code from third party component"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I have a scenario using IONIC and Capacitor using a third party OAuth component to

[2020-06-03 07:20] Codeluck commented on #1730
@tnorling I've added the authority you mentioned and it doesn't help.

When calling `loginRedirect()` it's still trying to access this url with HTTP code 400 result:

`https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://mytenant.b2clogin.com/mytenant.onmicrosoft.com/b2c_1_signupin/oauth2/v2.0/authorize`

[2020-06-03 07:22] dusanjovanov commented on #1625
The link that you gave me is for user flows, we're using custom policies. The problem is specifically in this part `<LocalizedResources Id="api.signuporsignin.lt">`. Email and password labels are not translated correctly. But, I can't find the LocalizedString attributes (ElementType, ElementId, StringId) for those labels.

[2020-06-03 07:30] Codeluck commented on #1688
@jasonnutter thanks a lot for the answer!
Q: Does MSAL.js v2 have the same 3rd party cookies issue at the moment? If not then I am gonna try to temporary use it.

[2020-06-03 07:47] patatas opened #1733 "How to get access token version 2 for Graph API"
## Library
- [ ] `@azure/msal-angularjs@0.1.1

## Description
After authenticating the user in https://login.microsoftonline.com/{tenantID}/oauth2/v2.0/authorize?, our application is using 'msalAuthenticationService.acquireTokenSilent' to acquire access token that we will use to call MS Graph APIs. We're expecting to get access token ver. 2 however, per checking in token payload it has "ver": "1.0

[2020-06-03 08:07] AWallace327 commented on #1437
@jasonnutter Thanks for the response. I understand that we still need an interactive flow as a fallback. The main issue is that this is happening right after log in so the user performs a normal log in to get the ID token, then `acquireTokenSilent` is called right away, which fails and causes a second interactive log in to get an access token. Ideally we'd like to avoid the user having to log in t

[2020-06-03 10:17] liben-y commented on #1568
The recent changes on the app registrations page in Azure: Integration Assistant (preview), sets out recommendations and evaluates the app registration for SPA application types.

The Develop tab has recommendations to "Avoid programming directly against protocols... instead, use open source library such as MSAL".

On the summary tab, one of the recommendations is "Do not enable access tokens for

[2020-06-03 11:43] streamcode9 commented on #1721
@jasonnutter  yes, and I guess it is because of my application is Outlook Add-In. So basically it can be run inside the Outlook desktop client or via the browser in OWA. And calls to https://autologon.microsoftazuread-sso.com/ happened only when users run it from the Outlook desktop client.

I've tried to increase timeout but it still fails with 401, so I think I need to avoid these calls at all i

[2020-06-03 12:55] mcdonnell-john opened #1734 "Getting an infrequent msal.error "Invalid_state" when authenticating, not sure why?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

At present we have an front end application written with Angular 8, and we are using the Azure B2C Identity Experience Framework with a custom sign-in/sign-up policy when logging in.

The issu

[2020-06-03 13:58] streamcode9 commented on #1721
I see that initiator is an image, what does not make any sense, but I see the actual errors in the `console` tab:
![image](https://user-images.githubusercontent.com/1745268/83645697-10ee4080-a5b3-11ea-829c-bdce0aa03ea6.png)

[2020-06-03 14:02] LukaszFliegel commented on #1727
@tnorling the IDP I'm working with is a my client's internal project. I can't share anything regarding it. It is also a 3rd party for me so I have just some examples how to use this IDP.

I wasn't aware, this is a unique scenario, some quick googling allowed me to think this is common since the policy sent as a "p" query param occur in few other code samples I saw.
Sorry I can't be more helpful.

[2020-06-03 15:47] dennisameling commented on #1120
Oops sorry, missed your reply. We switched to https://github.com/moberwasserlechner/capacitor-oauth2 in our project as we needed native authentication on iOS/Android as well, but thanks a lot for fixing it and congrats on launching the 1.x version of the library! Will check it out at a later stage 🚀

[2020-06-03 16:09] jasonnutter commented on #1721
@streamcode9 Gotya, thanks for that information. Is that screenshot from the dev tools inside the Outlook desktop client? Or from the browser?

[2020-06-03 16:11] jasonnutter commented on #1721
`acquireTokenSilent` is the API you should use to get a token without interaction. I think the fix here will be determining why the auto logon calls fail, as opposed to bypassing them (which may not be possible in your scenario).

[2020-06-03 16:22] tnorling commented on #1730
@Codeluck This is a bug with the current beta of msal-browser. A fix has already been merged to the dev branch but has not yet been released. Please track #1683 for updates.

[2020-06-03 16:22] #1730 closed

[2020-06-03 16:28] tnorling commented on #1625
This would be a question for the B2C service as this is not something MSAL owns. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

[2020-06-03 16:38] jasonnutter commented on #1568
@liben-y I agree that is confusing, thanks for the feedback. cc: @hamiltonha

[2020-06-03 16:50] jasonnutter commented on #1688
https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-applications

No, MSAL.js v2 does not rely on third-party cookies in most scenarios.

Auth Code Flow w/ PKCE (which MSAL.js v2 implements) is the solution for the third-party problem, as it uses POST requests to obtain tokens, instead of iframes.

[2020-06-03 17:00] tnorling commented on #1729
@flytiny Token lifetimes are 1 hour and the session lifetime is 24 hours. This means that if no requests have been made in 24 hours, you will need to login again before requesting a new token. Refreshing the page will not trigger this on it's own, you will likely receive an `InteractionRequiredError` the next time you try to call an `acquireToken` method and need to call `loginRedirect` or `loginP

[2020-06-03 17:00] jasonnutter commented on #1733
@patatas `@azure/msal-angularjs` uses the v1 endpoints. If you want to use the v2 endpoints (and get v2 tokens), you need to upgrade to `@azure/msal-angular`.

[2020-06-03 17:11] Codeluck commented on #1688
@jasonnutter Thank you for such a good support! Looks like we are going to wait until Msal.js v2 releases or at least when you fix an issue with wrong B2C discovery url in V2.
I think this thread can be closed.

[2020-06-03 17:11] #1688 closed

[2020-06-03 18:28] kevin-mcmanus commented on #1703
@jasonnutter Thanks for the reply; that sounds very promising  I'll retest when the referenced ADFS code is released.

[2020-06-03 18:43] gwh-cpnet opened #1735 "The access token has been obtained from wrong audience or resource 'https://batch.core.windows.net'. It should exactly match (including forward slash) with one of the allowed audiences 'https://batch.core.windows.net/'"
## Library
- [x] `msal@1.3.1`

## Framework

## Description

By `msal.acquireToken({ scopes: ['https://batch.core.windows.net/user_impersonation'] })`, I successfully got an access token with Payload including

[code]

But when I use this access token in the header for [Azure Batch API](https://docs.microsoft.com/en-us/rest/api/batchservice/#batch-account), a response with status 401 would return

[2020-06-03 18:54] sarahkang58 opened #1736 "Unit test breaking because "User login is required""
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I migrated my team's React application from ADAL to MSAL, and the app runs perfectly fine when I run it on local.
However, one of the already-existing unit tests started breaking (all the test

[2020-06-03 19:12] streamcode9 commented on #1721
@jasonnutter it is screenshot from https://www.microsoft.com/en-us/p/microsoft-edge-devtools-preview/9mzbfrmz0mnj?activetab=pivot:overviewtab when I debug outlook desktop client.

So the issue is on my side right? Could you advise me how I should debug it to find the problem? I see the two actors there:
1 - login.microsoft.com page inside MSAL iframe
2 - autologon page

I can try pull code from lo

[2020-06-03 19:59] jasonnutter commented on #1721
A couple things:

First, it looks like this can be controlled via [group policy](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso), so you in theory you could disable it for your users.

Seconds, the work to get it working in the library will be done on our side, as the library should work as intended when seemless SSO is enabled.

[2020-06-03 20:08] pkanher617 commented on #842
This was identified as an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-06-03 20:10] pkanher617 commented on #1029
Closing for now, please let us know if you are still having this issue.

[2020-06-03 20:10] #1029 closed

[2020-06-03 20:14] pkanher617 commented on #1084
This behavior will change in v2, ADAL SSO in loginRedirect will still redirect but will not prompt for credentials. Closing for now.

[2020-06-03 20:14] #1084 closed

[2020-06-03 20:20] streamcode9 commented on #1721
@jasonnutter thank you for you help and fast reponse! Should I close the issue as we know all the answers now?

[2020-06-03 20:20] pkanher617 commented on #1226
We have shipped enhancements for MSAL v1 to include authority in the iframe IDs, and we will implement throttling and request signatures in v2 to help mitigate these issues in the future.

[2020-06-03 20:20] #1226 closed

[2020-06-03 20:22] pkanher617 commented on #1384
No response for a while, closing for now. Please let us know if you are still facing this issue.

[2020-06-03 20:22] #1384 closed

[2020-06-03 20:39] pkanher617 commented on #1594
@sandesai Looking at the url given above, the x-client-SKU parameter shows this request coming from the MSAL.NET library. I suggest looking at their github repo here for more context: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2020-06-03 20:39] #1594 closed

[2020-06-03 20:39] jasonnutter commented on #1721
@streamcode9 No problem. You can leave it open for now, as we'll investigate why timeouts are happening when this SSO flow is involved.

[2020-06-03 20:39] pkanher617 commented on #1610
Closing since there is no activity.

[2020-06-03 20:39] #1610 closed

[2020-06-03 20:44] pkanher617 commented on #1612
Closing for now, please let us know if you are still seeing this issue.

[2020-06-03 20:44] #1612 closed

[2020-06-03 20:51] pkanher617 commented on #1736
@sarahkang58 Could you please post a snippet of how the MSAL code is loaded on your page? This is probably occurring because the localStorage/sessionStorage in your tests does not have account data, so when you call ATS in the rendered page it is throwing the error in the test.

We will be sure to add more docs around how tests can be written using MSAL.js.

[2020-06-03 20:56] jnssn commented on #1438
I'm having a similar issue where an endpoint ("https://localhost:5001/api/confirm") and an Angular route ("confirm") are causing the MsalInterceptor to send the request without a token.

This seems like the correct solution. Currently, all angular routes are added to the unprotectedResources array. Having a route called "graph" in your Angular app breaks the example  protectedResourceMap (["https:

[2020-06-03 21:15] tnorling commented on #1123
#1578 will allow you to provide your configuration object to skip this call. This will be included in the next release.

[2020-06-03 21:15] #1123 closed

[2020-06-03 21:30] jasonnutter opened #1737 "Documentation and sample updates for MSAL Browser beta 3"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

Update documentation and samples for

[2020-06-03 21:42] jasonnutter opened #1738 "MSAL.js v2 GA checklist"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

Checklist of items that need to be co

[2020-06-03 21:45] jasonnutter opened #1739 "Add TelemetryManager to MSAL Browser"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [x] Customer request

## Description

Add the `ClientTelemetryManager` API

[2020-06-03 21:47] jasonnutter opened #1740 "Add fromCache flag to MSAL.js"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

In v1, the `AuthResponse` type includ

[2020-06-03 21:53] jasonnutter opened #1741 "Remove deprecated APIs from MSAL.js v2"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

Remove deprecated APIs from MSAL.js v

[2020-06-03 21:55] jasonnutter opened #1742 "Export Account type for MSAL.js v2"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

## Priority

Medium

## Acceptance Cr

[2020-06-03 22:04] jasonnutter opened #1743 "Add interface for PublicClientApplication"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

We should create and export an interf

[2020-06-03 22:38] #1599 closed

[2020-06-03 23:23] #1644 closed

[2020-06-03 23:48] jasonnutter commented on #1437
This is being addressed in #1628

[2020-06-04 01:26] schalk-b commented on #1501
Are you open to accepting a PR for this one? Or does it need further review?

[2020-06-04 02:33] patatas commented on #1733
@jasonnutter  Thank you for that information. Although I'm still wondering why @azure/msal-angularjs uses the v1 token endpoints and at the same time it uses the Microsoft identity platform endpoint for OAuth 2.0 authorize request.

[2020-06-04 03:01] patatas commented on #1733
@jasonnutter  How can we call MS Graph API if msal-angularjs uses the (Azure Active Directory) v1 endpoints?

Based from this documentation [MSAL AngularJS](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angularjs), application can use this library to get an access to MS Graph API.
![image](https://user-images.githubusercontent.com/16602605/83709420-19955400-a

[2020-06-04 08:23] AWallace327 commented on #1437
Ah, brilliant.

[2020-06-04 10:09] sameerag opened #1744 "Review: Scopes intersection and Cache Lookup mutation code"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [ ] Internal (MSAL.js team)

## Description
* Confirm `Scopes` intersection logic for `accessToken` lookup and add the code to `ScopeSet.ts`
* Try not mutating `matches` in `UnifiedCacheManager` cache lookup

[2020-06-04 12:08] anton-marchenko opened #1745 "MsalInterceptor does not work in lazy loaded angular modules"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.5`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

Angular 8.1.2

## Description

MsalInterceptor from @azure/msal-angular does not work in lazy loaded ang

[2020-06-04 12:37] gwh-cpnet commented on #1735
I tried the `client credentials flow` too, without msal. The access token it return got no slash in `aud` too. And again it failed to call api like `https://{account-name}.{region-id}.batch.azure.com/pools`.

Here could to be a wrong place to report this BUG. but where is the right place?

[2020-06-04 14:03] sarahkang58 commented on #1736
So we're using another team's framework which has a wrapper class around their MSAL implementation called MSALClient:

[code]

And so then in our code, we initialize an MSALClient object like this:

[code]

And the logs say that "User login is required" when it hits the httpClient.get line:

[code]

Strangely, we never make a call to the MSALClient's acquireToken function, which uses acquireTokenS

[2020-06-04 14:21] anton-marchenko commented on #1745
Excuse me! It was my mistake. I forget to add my "https://localhost:5001/test"  to protectedResourceMap.

Thus,
MsalInterceptor works fine in lazy loaded angular modules

[2020-06-04 14:21] #1745 closed

[2020-06-04 16:40] kiranbhadani commented on #701
I am facing same issue when authorization flow is not triggered from msal, I am implementing user invitation flow using custom policy, flow works fine, after completion it redirects to the app, but msal raise above error, how to handle this scenario?

[2020-06-04 18:46] alvipeo opened #1747 "URL navigated to is [B2Clogin_authorization_endpoint_URL], Token renewal operation failed due to timeout"
**@azure/msal-angular@1.0.0, any browser, ONLY IN PRODUCTION (it works for https://localhost!)**

I have a dev set up for my angular 9 project and it works like a charm!

But then I deploy it to production and I get the following error:

Log shows that:

That same set up works in development with `https://localhost:4200` local URL. The only changes are ClientID and scope.

Also, I tried to use the

[2020-06-04 19:38] tnorling commented on #1747
@alvipeo What happens when you open the url from the error in a new window? The X-Frame Options Deny error happens when the page that is being loaded in the hidden iframe expects some sort of interaction, such as selecting an account or a "keep me signed in" box. Opening the page should give you more insight into why this is failing. Please also note that some B2C policies do not support silent to

[2020-06-04 20:11] alvipeo commented on #1747
@tnorling when I open the url I see my app page.
Obviously, when I work locally there's no X-Frame-Options header at all (angular dev server).
Flow - SuSi v2.

here's my auth service:
[code]
I'm going to set X-Frame-Options to SAMEORIGIN got the app route and see if this helps... no other ideas for now.

[2020-06-04 20:21] tnorling commented on #1747
@alvipeo We generally recommend you set the `redirectUri` in `acquireTokenSilent` to a blank html page so that you aren't rendering your whole application again in the hidden iframe. This can especially cause issues if the hash containing the token gets cleared from the iframe before your top frame can extract it. Can you try that and see if that changes anything?

[2020-06-04 21:51] tank104 opened #1749 "Skip authentication and use debug token"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When running locally is there an easy way to skip authentication and use a debug token (likely not valid, but has the valid Claims ).
Ideally in config for debug would be to pass in the token a

[2020-06-04 22:04] demersjd opened #1750 "Unexpected to Token during compile"
I am getting an unexpected toekn in the AuthProvider for REACT, I have added the files to my current app, to authenticate using MSAL

                               return redirect
                         ? msalApp.acquireTokenRedirect({
                             ...request,
                            ^

[2020-06-04 22:06] alvipeo commented on #1747
The issue is fixed setting X-Frame-Options to SAMEORIGIN ! Thanks, closing the issue for now.

[2020-06-04 22:06] #1747 closed

[2020-06-04 23:33] rdbartram commented on #1072
I'm having the same issue using msal-angular. Everything works fine using Outlook in the Web. In the desktop client though, redirect opens the browser and doesn't go back...and popup shows the same screenshot and the original post. I feel people are suggesting its working. Can someone please point me in the right direction? thanks

[2020-06-04 23:58] jasonnutter commented on #1728
@neo-feng Did you try adding a route for `access_token`? And yes, setting `initialNavigation` to `false` when your application is loaded inside an iframe may also help.

[2020-06-05 00:02] jasonnutter commented on #1592
We've heard some other reports of this happening, I'll follow up if I need more information.

[2020-06-05 00:17] jasonnutter commented on #1733
@patatas Sorry, I misread your original question. MSAL uses the v2 endpoint, which is capable of return v2 and v1 tokens. You can control which version is return  by editing the manifest and setting `accessTokenAcceptedVersion`: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference

[2020-06-05 00:18] jasonnutter commented on #1690
Closing, let us know if you further questions.

[2020-06-05 00:18] #1690 closed

[2020-06-05 00:51] jasonnutter commented on #1658
Closing due to in activity. I'll add an item to our backlog for IE11 specific samples.

[2020-06-05 00:53] jasonnutter opened #1753 "IE11 centric samples for msal@1.x"
Please follow the issue template below.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

Our samples have started including ES

[2020-06-05 01:09] patatas commented on #1733
Great! that's exactly what I'm looking for. Thanks @jasonnutter

[2020-06-05 01:09] #1733 closed

[2020-06-05 01:41] neo-feng commented on #1728
@jasonnutter No, we didn't adding any route to access_token. I believe I find the cause.
2 threads are running after creating iframe and waiting for redirecting back,
 - 1. in main frame it keeps detecting iframe and close it when detecting its redirecting back, or timeout
 - 2. inside iframe, redirecting back will trigger route process to access_token

If 1nd thread acts faster, thing will be OK

[2020-06-05 02:08] distantcam commented on #349
I've had the same issue using Chrome and this comment https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/349#issuecomment-441986222 by @emilverwoerd helped me figure out a solution.

For local development I had to disable 2 samesite cookie settings in Chrome.
chrome://flags/#same-site-by-default-cookies
chrome://flags/#cookies-without-same-site-must-be-secure

Hope that help

[2020-06-05 06:10] kurkle opened #1754 "msal-electron-poc npm package is missing dist folder"
## Library
- [x] `msal-electron-poc@0.1.0"

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Electron

## Description

The NPM package has `"main": "dist/index.js"` in it, but the package does not contain `dist` folder.

## Error Message

Unable to resolve path to module 'msal-electron-poc'.

## Security
- [ ] Is this issue security related?

## Regre

[2020-06-05 11:00] #1725 closed

[2020-06-05 13:52] jhaskett opened #1755 "acquireTokenRedirect from nested application redirects user to parent application"
## Library
- [x] `msal@1.3.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Working on implementing MSAL.js 1.3.1 using redirects. Our local development setup has our website as a nested application in IIS ie: https://localhost/OurWeb. The loginRedirect call works fine and I can get my id to

[2020-06-05 15:22] pbranforn commented on #1712
Are there any news on this topic? Sounds scary to me and we are hitting this, too!

[2020-06-05 15:52] tnorling commented on #1755
@jhaskett You can set `navigateToLoginRequestUrl:false` in your auth config. This is defaulted to `true` and will redirect you back to the `redirectUri` and then additionally redirect you back to the page that you were on when you initiated the request. Setting this to `false` will only redirect you to your `redirectUri`

[2020-06-05 16:26] jasonnutter commented on #1712
Apologies for the delay, as I've been busy with some other work items. We're aware of this issue and will be addressing it soon. Thanks!

[2020-06-05 16:35] jasonnutter commented on #1728
That makes sense, as if the page loaded in the hidden iframe manipulates the hash response in the iframe before the library has a chance to parse it, a timeout error can occur.

[2020-06-05 18:25] jhaskett commented on #1755
@tnorling The biggest issue I see with that is the page we are initiating the login process from is a dynamically generated page (https://mysite/static/[dynamic id]/[another id]) and need that redirect back to the calling page.

[2020-06-05 18:42] technical-boy commented on #1754
Hi @kurkle! Have you tried running `npm build` on the msal-electron-proof-of-concept directory?

Since `msal-electron-proof-of-concept` is not officially supported (it is just a proof of concept and we don't recommend using it in production), we haven't actually deployed it to npm. For that reason, you need to build and use the local version of the library (as shown in [the msal-electron-poc sampl

[2020-06-05 18:49] tnorling commented on #1755
@jhaskett I think I misunderstood your original question. This is indeed a bug with `acquireTokenRedirect`. Thanks for pointing this out, we'll make sure it gets fixed.

[2020-06-05 19:12] kurkle commented on #1754
Thanks, I did not realize https://www.npmjs.com/package/msal-electron-poc was published by someone else.
That one did build, but it did not work linked to another project. I'll try the sample, if it works.

You can close this, because the package is not released by you.

[2020-06-05 19:22] jmckennon commented on #1750
@demersjd To debug this, we'll need some more information. Can you give us the entire snippet of code, including the config you're passing into MSAL?

[2020-06-05 19:25] jmckennon commented on #1749
@tank104 are you basically looking to mock the API calls and return a dummy token? This is how many of our unit tests are ran, though the samples themselves are designed to be E2E and use the actual APIs.

[2020-06-05 19:26] #1754 closed

[2020-06-05 19:33] technical-boy commented on #1754
@kurkle so looking at the published package, it seems the person who published the package on npm didn't run the build command, which is why the dist directory isn't present when you npm install it. Closing the issue since we didn't publish that package.

[2020-06-05 20:14] jmckennon commented on #1732
We have heard of some Ionic compatibility issues shown in #1439. We don't directly support integrating with Ionic/Capacitor like we do with `msal-angular` today, but it may be a wrapper library that we write in the future.

That being said, if you show us some of your implementation (where you are instantiating MSAL, the config you're passing to it, and how you're using it afterwards) and describe

[2020-06-05 20:45] jmckennon commented on #1734
Can you provide some information about the custom policy that you're using with B2C?

[2020-06-05 21:06] jmckennon commented on #1731
Our naming convention could certainly be better here. `getTokenRedirect` is just a helper function that calls `acquireTokenSilent`, and then finally falls back to `acquireTokenRedirect`. The idea with this whole function is that we check for an active account, and if we have one, we show the welcome page. If not, we try `ssoSilent`. If we don't have the creds for `ssoSilent`, we still want to show

[2020-06-05 21:13] jmckennon commented on #1732
Additionally, our version of `msal-angular` does not actually support the Authorization Code Flow at all, it only uses the Implicit Flow, per the OAuth standards. This means you won't actually be able to obtain an auth code based on how the library works. Information about OAuth grant types can be found [here](https://oauth.net/2/grant-types/).

[2020-06-05 21:22] sarahkang58 commented on #1736
@pkanher617 the issue has been resolved!  We actually had to upgrade the Node version in our build pipeline and that fixed it, so it had nothing to do with MSAL.

Thanks for your help though!

[2020-06-05 21:22] #1736 closed

[2020-06-05 21:32] tnorling commented on #1678
@acory This is a known issue when you have multiple Google accounts logged in. Unfortunately this is a service issue and not something msal can fix. Generally we recommend you call `acquireTokenRedirect` or `acquireTokenPopup` if the silent acquisition fails. You can track #842 for updates on this particular issue and if you like, you can also open a ticket with the b2c service. Instructions are i

[2020-06-05 21:32] #1678 closed

[2020-06-05 22:44] widget31too opened #1759 "Login after logout, sometimes automatically reauthenticates?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.3.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.
I

[2020-06-06 00:19] sriniambati commented on #1607
Please don't close this issue as we are still waiting for the resolution of this bug.

[2020-06-07 14:39] Budlee commented on #590
@cjancsar and @sameerag

would be intrested to hear as also facing this issue

[2020-06-07 22:17] onlyann opened #1761 "specifying common authority in acquireTokenSilent results in cache miss"
## Library
- [x] `msal@1.3.1`

## Description
Specifying an authority of _https://login.microsoftonline.com/common/_ to `acquireTokenSilent` will result in a access token cache miss every time.

## Error Message

No error message.
However, the access token will be fetched from Azure AD every single time the token is silently acquired.

## MSAL Configuration

It doesn't seem to have an impact. Exam

[2020-06-08 01:17] neo-feng commented on #1728
@jasonnutter Thanks, clear now. Do you have any clue why nobody else reported this problem? According to analysis above, it should be a common issue to everyone.

[2020-06-08 07:16] bc3 commented on #1759
we have sort a like issue, we logout, all session storage disappears, but when you hit login again msal automatically logs in without requesting username, password again ...

is there some info that is left behind on browser/os level ?

[2020-06-08 08:02] mcdonnell-john commented on #1734
Hi @jmckennon

Yes, I can try too, bare in mind the developer who created all this on our project has since left, so if I miss something that you need to know please do not hesitate to ask :)

At a basic level, we are only using a customised SignUpSignIn flow, where we allow users to sign in via a username/password or via SSO from a Federated AAD.  The numbers of users we have at present mostly us

[2020-06-08 08:56] Mathijs003 commented on #527
I'm still facing this issue with msal version 1.3.0

[2020-06-08 10:45] MayankKT opened #1763 "Changes in acquireTokenRedirect cause ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint"
Library

- [ ] `msal@^1.3.1`

## React/Sharepoint extension

## Error
 When running the application to call the API, not getting the access token from acquireTokenSilent() hence in catch block calling the acquireTokenRedirect which is giving this error

## ClientAuthError:
login is required. For silent calls, request must contain either sid or login_hint

## MSAL Configuration
`
[code]

Alternate

[2020-06-08 10:48] MayankKT commented on #1763
![issues1](https://user-images.githubusercontent.com/28943234/84022303-a74fa700-a9a3-11ea-8978-c484a2bb2202.png)

[2020-06-08 13:48] graphicsxp opened #1764 "using a 3rd party IDP as a Azure Federated Provider"
I am currently using msal.js in my Angular application to authenticate users in Azure AD.

This is all working fine but my client wants to use a third-party identity provider for the authentication part while keeping Azure AD as an authorization provider.

My assumption is that I need to somehow configure federation in Azure AD. This should have no impact whatsoever in my web application and webap

[2020-06-08 15:48] jenurius opened #1765 "Getting `A silent sign-in request was sent but no user is signed in` in multiple app sign-in environment"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
- Angular 9+

## Description
**Scenario:**
- When a User X, has access to two Multiple app's Lets say demo and p

[2020-06-08 16:19] tnorling commented on #1763
@MayankKT There is a known issue with `acquireTokenRedirect` which would cause the callback to not be called. This will be fixed with the PR I linked to this issue. However, what I don't see in the code snippet you shared above is a login call. Before calling an `acquireToken` function you must call `loginRedirect` or `loginPopup`. This may solve the error you're getting

[2020-06-08 16:58] jasonnutter commented on #1728
I have seen other customers with issues that are similar to this.

Closing, as no further action in the library.

[2020-06-08 16:58] #1728 closed

[2020-06-08 16:59] jasonnutter commented on #527
@Mathijs003 Please open a new issue, thanks!

[2020-06-08 19:09] #1713 closed

[2020-06-08 19:09] #1755 closed

[2020-06-08 19:55] jasonnutter commented on #1072
@rdbartram The fix for this issue will be included in 1.3.2, which will be released soon (this week).

[2020-06-08 21:33] eirikb commented on #1072
@jasonnutter This is great news! :balloon:
I wanted to give it a go so I pulled this repo and built `lib/msal-core`. My app runs, and the popup window opens up in Outlook native so something is working as expected, but the login process loops (let me choose account, shows loading, then let me choose account again).
It works fine in a browser (Firefox).
Do you have any demo code I can use to test?

[2020-06-08 21:38] graphicsxp opened #1766 "Reading roles/groups from token"
## Library
- [ ] `@azure/msal-angular@1.x.x`

## Description
How to read roles or groups from token returned by msal ?
I'm doing the following : `this.msalService.getAccount().idTokenClaims["roles"]; `  but in returns a string as the defined type by StringDict. However at runtime when I debug the application it is not a string, it is an array of strings (the roles), which is exactly what I need.
B

[2020-06-08 21:43] derisen commented on #1766
@graphicsxp could you take a look at the [sample here](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-dotnetcore-webapi-roles-groups/tree/derisen/chapter1). There, we demonstrate how to implement a `RoleGuard` service.

[2020-06-08 22:06] eeskildsen commented on #1592
@jasonnutter I'm getting the same error. msal 1.3.1., msal-angular 1.0.0.

Auth only works right after I clear the browser cache. Hours later:

    ERROR Error: Uncaught (in promise): ClientAuthError: URL navigated to is https://login.microsoftonline.com/<TenantId>/oauth2/v2.0/authorize?response_type=id_token&scope=openid%20profile&client_id=<ClientId>&redirect_uri=<RedirectUri>&state=<State>&nonc

[2020-06-08 23:02] jmckennon commented on #1735
I double checked this and yeah, `msal` isn't affecting anything on that audience string, it looks like a bug from the API itself. A workaround would be to potentially code in the extra slash at the end of the audience string until this is fixed.

You can try to report the issue on both the [report an issue page](https://www.microsoft.com/en-us/msrc/faqs-report-an-issue) and the [batch feedback pag

[2020-06-08 23:02] #1735 closed

[2020-06-09 07:16] tank104 commented on #1749
Not entirely - I want to return a token that has valid claims (but expiration, and other values would be self generated), and have it attached as bearer token when I send requests to the microservices.

[2020-06-09 07:51] graphicsxp commented on #1766
Yes indeed. I still find it confusing. The sample uses the .include function of string to check if the role is part of the route data. However it only works because String and Array share an `include` method in their signature.
For example, what if we want to allow multiple roles to access a routes. Or just one role but assuming in the tokenClaims there are many roles. The include method wouldn't

[2020-06-09 16:28] #845 closed

[2020-06-09 16:35] malvica commented on #1724
Hello @jasonnutter ,
sorry for the late reply. I am indeed logged in to my Outlook Online account. I create a new email open it in a new pop-out window and try to load my add-in where I always get this error and yes we are indeed using acquireMsTokenPopup() where we get a quick popup that disappears immediately itself and gets the token.
Doing the same in a non-pop out window works fine. Our conce

[2020-06-09 16:43] jasonnutter commented on #1724
Does this happen in normal windows or in private windows? Or both?

[2020-06-09 16:52] malvica commented on #1724
I have tried this is in private window only haven't tried it in a normal one yet, will give it a quick try.

[2020-06-09 16:53] gwh-cpnet commented on #1735
Thanks @jmckennon , I know it is more of an Azure batch API bug than an MSAL issue.

I have already issued a support ticket. After 6 days, they supply a workaround to change the scope from `https://batch.core.windows.net/user_impersonation` to `https://batch.core.windows.net//.default` (yes. there are double slashes).

This approach works for now. For someone who ran into the same problem, I hope

[2020-06-09 17:10] jasonnutter commented on #1759
@widget31too What operating systems do you observe this on? And are they domain joined devices? Windows includes Seamless SSO, which can result in the behavior you describe.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso

[2020-06-09 17:13] malvica commented on #1724
Hi,
so, in firefox it's happening for both InPrivate and normal window.
In chrome no errors and popups for both Incognito and normal window

[2020-06-09 18:22] sangonzal commented on #1749
@tank104 If I'm understanding correctly, it sounds like you are trying to mock MSAL (Instead of getting a token from Azure AD, you'd like create your own token with your own claims)?

You can't modify Azure AD tokens, as they are signed. You could always create and sign your own tokens, but then the microservices you describe would have to update their token validation logic (as the tokens are sig

[2020-06-09 20:07] jmckennon commented on #1761
If you don't include the authority as `https://login.microsoftonline.com/common/`, do you still see the same functionality? The common endpoint is the default authority. This should be a workaround for now.

We've been able to reproduce the bug when that default authority is provided and we always get a cache miss. Will move it over to be fixed.

[2020-06-09 20:13] jmckennon commented on #1764
`msal` only directly supports use with AAD, ADFS, and AAD B2C. If you want to use a 3rd party IDP instead of `msal`, only certain IDPs will be supported per these three methods. There is more info about that [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-compatibility), along with old compatibility lists. That compatibility will be up to the particular 3rd

[2020-06-09 20:21] jmckennon commented on #1765
Can you provide both of your msal configs for your two apps in this use case? Additionally, when you say "when the user is logged in and switches to demo", does that mean you logout of prod and login to demo?

Do you not see this functionality if you only do it after having the initial app open for a few minutes, instead of a few hours?

@jasonnutter do you have any thoughts here regarding popup b

[2020-06-09 20:32] tank104 commented on #1749
@sangonzal thats exactly right.  On all the microservices (azure functions) when we run in debug mode we just skip checking that they are signed by Azure AD - so they can be self signed)

[2020-06-09 21:45] onlyann commented on #1761
Yes, I am currently working around it by not providing the authority.

On Wed, 10 Jun 2020 at 06:08, Jake McKennon <notifications@github.com>
wrote:

[2020-06-09 21:55] graphicsxp commented on #1764
If you want to use a 3rd party IDP instead of msal

In any case, if I manage to federate authentication in azure ad to use my third party IDP, will I need to make any changes to the way MSAL is used at the moment in my angular app?

[2020-06-09 22:28] sangonzal commented on #1749
@tank104 Makes sense. MSAL does not provide this functionality. A quick online search will return multiple third party libraries and tutorials on how to create JWTs that you can use for testing.

[2020-06-09 22:43] tank104 commented on #1749
I can create the tokens fine.  What i want to do is be able to somehow get MSAL to use the token I create, and not do any auth.  So that it automatically adds the token to requets, etc.

[2020-06-10 00:10] sangonzal commented on #1749
@tank104 MSAL acquires tokens for you, but doesn't "use them". It won't automatically append them to any requests, that's up to you. It sounds like in your testing scenario, you would not use MSAL at all. (Instead of using MSAL to acquire a token, you just create your own)

[2020-06-10 00:31] tank104 commented on #1749
Perhaps I have misunderstood then, but my understanding is that MSAL use http interceptors (?) to append the token onto requests that require it - I believe through the protectedResourceMap urls?

Are you saying that MSAL doesn't append token to any requests ever?  If so then I need to figure how I am doing it, because I am sure I don't add them on myself. (as that would be an easy solution)

[2020-06-10 02:11] sriniambati commented on #1608
Can someone provide status of this issue?

[2020-06-10 06:40] AbhaysinghBhosale commented on #1188
I can see long cookie with each API call even after updating to version `"msal": "1.3.1"`. Headers too long issue occurs to random users.

[2020-06-10 07:18] ryandegruyter commented on #1592
@jasonnutter  We're also experience a token renewal problem. We have our handleRedirectCallback setup in the root component:
`
    this.msalService.handleRedirectCallback((authError, response) => {
      this.authError = authError;
      if (authError && !this.isLoginInProgress()) {
        this.router.navigate(['login-failed']);
      }
    });`

Error:

ERROR ClientAuthError: URL navigated to is

[2020-06-10 09:06] ryandegruyter commented on #1592
Also, a hard refresh of the page and token retrieval works.

[2020-06-10 12:45] gitDeveloper1 opened #1768 "getAccount() returns wrong user"
If i am logged into visualstudio.com with an azure ad user for organisation X and then logs into my app (localhost development environment) with an azure ad for organization Y, i get the organisation X user from getAccount(). If im not logged in to X, it works fine with login to Y. If i specify a loginHint (hard coded) it also works (acquireTokenSilent will login), but loginHint wont be available

[2020-06-10 14:55] rotirk20 opened #1769 "Passing dynamic values into Msal Configuration with runtime config Angular?"
Hello I'm trying to switch the app into runtime configuration (Angular) and I'm stuck how to pass dynamic values (ClientID, Secretkey and etc.) to Msal Configuration.I'm using a config.json file which I call with one service which is used in app module with APP_INITIALIZER. It's ok to pass value to components but how to pass it in app module so I can configurate the Msal clientid, secretkey, tenan

[2020-06-10 20:48] #1769 closed, assigned to nobody

[2020-06-10 23:04] MisterPhilip commented on #1695
Bumping this - is there a good workaround for this issue other than renaming routes?

[2020-06-11 02:37] eeskildsen commented on #1592
As a workaround, I set `loadFrameTimeout` to `30000`. That seemed to let me through. It's also possible I accidentally cleared my cache at some point. I'll double-check tomorrow.

    MsalModule.forRoot({
        system: {
            loadFrameTimeout: 30000
        },
        ...

[2020-06-11 06:25] graphicsxp commented on #1766
ok, I will use one of these workarounds for the time being until the type definition is fixed.

Thank you !

[2020-06-11 06:51] graphicsxp commented on #1764
@jmckennon What I mean is that Azure should redirect to my client's IDP (built in-house). User signs-in as usual with her credentials. Upon successful login, the IDP redirects to Azure with an ID Token and Azure should then forward it to the web app, along with an Access Token if required.

I had asked this question on stackoverflow here: https://stackoverflow.com/questions/61990770/using-third-pa

[2020-06-11 09:19] gvlot opened #1772 "Update from 1.3.1 => 1.3.2 throws TypeError: this.logger.isPiiLoggingEnabled is not a function"
Hello ,

In our application we use the Authentication integration as described in the sample project : "react-sample-app". Unfortunatley after updating of the package from version 1.3.1 -> 1.3.2 we are not able to Authenticate any more.

Error : TypeError: this.logger.isPiiLoggingEnabled is not a function
Trigger Function : this._msalApp.loginPopup(GRAPH_REQUESTS.LOGIN)

Function where the error i

[2020-06-11 10:32] malvica commented on #1724
Hello @jasonnutter, that didn't help either. I even tried enabling all cookies still it fails for acquireMSTokenPopup

[2020-06-11 13:00] kibum-kim-1 commented on #1674
authErrorHandler missed the null check, so it's throwing the same error.

![image](https://user-images.githubusercontent.com/49103630/84388052-8d87ad00-abb9-11ea-956e-85bc0a6e9f18.png)

[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0dbbda42160addfdfb926f0245b702f52009365a/lib/msal-core/src/UserAgentApplication.ts#L313](url)

[2020-06-11 13:32] gitDeveloper1 commented on #1768
Yes, i got the same functionality. Logged in to web outlook with azure ad for organisation X. Then logged in to organization Y in my web app with cacheLocation changed to 'sessionStorage'. After login i got the wrong user with getAccount(). If i take login again, i can see that organization Y azure ad user is logged in also. Just gets the wrong user from MSAL.getAccount().

[2020-06-11 14:27] srivishalsangepu commented on #1475
Hi @jasonnutter , I'm facing the similar issue, token renewal is failing, but If I refresh the page it is taking the token and logging me in. Is there any way to resolve the issue, other than page refresh/reload. Like you were talking about some http retry, which http call you are talking about. Can you please help me in resolving the issue.
Thanks

[2020-06-11 14:56] jasonnutter commented on #1772
@gvlot The react-sample-app previously showed an incorrect implementation of `system.logger` (which was my fault, sorry about that). It has been updated to show proper usage (by instantiating the `Logger` class). Please update your usage  accordingly: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/react-sample-app/src/auth-utils.js#L76-L81

[2020-06-11 15:59] shyamsunderkaranam opened #1773 "Not able to get tokens / msal objects after successful login"
Hello, I am using msal.js 1.3.2 library for azure AD authentication in angularJS. After successful login after redirect, not getting userInfo object/msal objects as they are getting initialized after redirect. Here is the code I am using
[code]
Please can some one suggest?

[2020-06-11 16:02] Dima11235813 commented on #1188
I'm on version 1.1.3, **what version of MSAL should we be using?**

**Which one is stable and supported in production?**

I was under the impression that all 1.x versions are backward compatible, is that correct?

Also isn't checking for IE/old edge a brittle solution since user agent strings are subject to change, or am I mistaken about that, not sure if they're static strings?

Is this an [accep

[2020-06-11 17:00] tnorling commented on #1674
@kibummy This seems to suggest you are not passing a callback function to `handleRedirectCallback` please take a look at our samples for guidance on how to implement the redirect flow and open a new issue if you are still having issues. Thanks!

[2020-06-11 18:21] fkranenburg commented on #1072
I have version 1.3.2 but msal still opens up my default browser (Chrome) and redirects to the page of my add-in in Outlook. This is somewhat unexpected behaviour. How can I display it inside a nice dialog?

[2020-06-11 19:05] jmckennon commented on #1765
For now, as a workaround, you should be able to fallback to `loginRedirect` (rather than popup, if that's your use case) if `acquireTokenSilent` fails. Please let me know if you're unable to do this in your code, as you stated it may be automatically using a popup.

I'll be moving this over as a possible bug, as I think we could have some wonky logic in `getAccount()` and how expirations work.

[2020-06-11 19:16] jmckennon commented on #1768
To clarify your use case:

You open your browser, and login to app X with user A.

You open a new tab, and login to app Y with user B.

Afterwards, `getAccount()` always returns with user A.

Is this all correct?

[2020-06-11 19:23] SreekamaleshAnnapragada opened #1774 "ClientAuthError: Token calls are blocked in hidden iframes"
## Library
- [ ] `"@azure/msal-angular": "^1.0.0",`
- [ ] `"msal":^1.3.1`
Angular - 7.3.1

## Current behavior
Hi, We are seeing this issue 'vendor.js:81041 ERROR Error: Uncaught (in promise): ClientAuthError: Token calls are blocked in hidden iframes' and 'Token renewal operation failed due to timeout.' when we load our client application for the first time. The application is successfully loadin

[2020-06-11 19:26] jmckennon commented on #1773
I may be misunderstanding the problem, but I think you may just need to change your code a bit.

After logging in, you also need to call one of the `acquireToken` [APIs listed here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-acquire-token?tabs=javascript). There's also more information on the flow on [the msal npm page](https://www.npmjs.com/package/msal).

Additi

[2020-06-11 19:32] jmckennon commented on #1764
No, there should be no needed changes with `msal`, as long as everything is configured properly. `msal` only makes requests to AAD on an app's behalf.

[2020-06-11 21:31] jasonnutter commented on #1072
@fkranenburg Can you please open a new issue with your question, thanks!

[2020-06-11 21:38] kibummy commented on #1674
@tnorling Thanks for the fast response! I've read that `handleRedirectCallback` has become an optional parameter since 1.3.0. Do I still need to provide a stub function to the callback?

I am using
"@azure/msal-angular": "1.0.0"
"msal": "1.3.2"

![image](https://user-images.githubusercontent.com/49103630/84440739-20e3d100-ac00-11ea-88fc-fd1de9dbf1ed.png)

[2020-06-11 21:49] tnorling commented on #1674
@kibummy That is correct. It is optional, but if you do choose to implement it you must pass functions to it. The error you provided in your previous comment seems to suggest you called `handleRedirectCallback` and passed something other than a function to it.

[2020-06-11 22:41] pkanher617 commented on #1607
This was identified as an issue most likely with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-06-12 01:21] jenurius commented on #1765
Thank you @jmckennon ..

Yes, I can manually catch the error and force loginRedirect.. I will keep posted if i find some specific details/cases. Thanks..

[2020-06-12 07:17] gitDeveloper1 commented on #1768
Yes. I just did that again in chrome. Cleared session storage and cookies for my app. Closed browser. Opened browser. Logged in to web outlook with user A. Then new tab and load my web app. No user from getAccount() on initial load. Then logged in with user B. getAccount() now returns user A.

[2020-06-12 08:23] shyamsunderkaranam commented on #1773
Thanks alot for your reply. What I have observed is below set of code has never executed after successful login redirect
$scope.$on("msal:loginSuccess", function () {
			console.log("loginSuccess");
		});

		$scope.$on("msal:loginFailure", function () {
			console.log("loginFailure");
		});

		$scope.$on("msal:notAuthorized", function (event, rejection, forResource) {
			console.log("notAuthorized

[2020-06-12 09:02] gvlot commented on #1772
Great, Thank you Jason .. it is working again !!

[2020-06-12 09:02] #1772 closed

[2020-06-12 10:58] shyamsunderkaranam commented on #1773
Also I think the issue is msal and msalService objects are getting initialised after success login redirect. Sorry if I am missing any details

[2020-06-12 14:14] mcdonnell-john commented on #1734
Hi apologies,

Our MSAL config in the UI looks like:

[code]

[2020-06-12 18:28] sangonzal commented on #1749
Looks like question has been answered, closing issue. Feel free to open up in case anything else comes up.

[2020-06-12 18:28] #1749 closed

[2020-06-12 18:49] kibummy commented on #1674
That's the thing. I didn't choose to implement it. I'm not even touching MsalService. I'm using MsalGuard through Angular CanActivate which calls loginInteractively and such. The call stacks are shown in the error that I posted earlier.

I wish I could provide some code snippets but I can't without AAD.

[2020-06-12 18:50] jmckennon commented on #1768
Is what you've posted for code all the `msal` code you have? You're not actually calling one of the login APIs, such as `loginRedirect` Generally, the our flow is instantiate msal -> call login api -> call acquireToken api. This is outlined further [in these docs](https://www.npmjs.com/package/msal#usage).

[2020-06-12 19:01] gItSpLasHeR opened #1776 "wildcard for protectedResourceMap ?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
msal interceptor will attach the token to the requests which url & scope listed in "

[2020-06-12 22:10] tnorling commented on #1674
@kibummy Can you open a new ticket and include steps to repro? Thanks!

[2020-06-13 11:53] jrmcdona commented on #1725
Got it working.

[2020-06-13 20:06] flieks commented on #1124
I am having the same issue (only in production). Using https://github.com/syncweek-react-aad/react-aad

[2020-06-13 22:29] lorenzobrito opened #1778 "React sample not working 100% with b2clogin Authority"
## Library
- [x ] "msal": "1.3.0",
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `"msal": "1.3.0",`.

## Framework
Reactjs, the code base is https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/react-sample-a

[2020-06-14 10:29] dluc opened #1779 "acquireTokenSilent - refreshed ID tokens have incomplete scope"
My app uses 4 scopes [`profile`, `email`, `openid`, `User.Read`] when retrieving an ID token and everything works fine, e.g. the initial ID token includes the "email" claim.

When the ID token expires, the app uses `UserAgentApplication.acquireTokenSilent` to fetch a new token, but ID token received is missing the `email` claim and other info related to `User.Read` scope. As stated in the code "To

[2020-06-14 18:12] tnorling commented on #1779
@dluc ID Tokens do not have scopes associated with them. It sounds like you are looking for an access token.

The reason your `User.Read` and `email` scopes are requested in your first call is because you requested an access token, then in the 2nd you are requesting an id_token which requests only `openid` and `profile` by design. Notice the `response_type` in both network calls you shared above.

[2020-06-14 18:22] tnorling commented on #1778
@lorenzobrito This error occurs when you request an `access_token` for `openid` and `profile` in B2C because these are MS Graph Scopes and are not valid for B2C. If you need access to MS Graph you will need to do some additional steps on your app registration. You can follow the instructions [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg

[2020-06-14 20:10] streamcode9 opened #1780 "How to acquire the access_token with the new scopes"
## Library
- [x] `msal@1.3.1`

## Description
My application asks users to provide access for the next scopes - `"SCOPE1", "SCOPE2", "SCOPE3"`. Users will be asked to provide the [permissions ](https://docs.microsoft.com/en-us/azure/active-directory/develop/media/application-consent-experience/consent_prompt.png) once and other login requests will skip this step.
[code]

If I remove some scope fro

[2020-06-15 01:18] element8763 opened #1781 "Use redirect flow to acquiretokensilent,not stable!"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
I'm using a redirect flow to perform authentication in the mobile browser,It works well in localhost,but after I deploy to the server,sometimes,when acquireTokenSilent ,the authorize will happen twice at the time,I put some details in this link
https://stackoverflow.com/questions/62339746/acquiretokensilent-failed-when-using-msal

[2020-06-15 06:48] smnth90 opened #1782 "How to logout without redirecting to microsoft logout page?"
## Library
- "@azure/msal-angular": "^1.0.0",

## Description
We are working on integrating the Microsoft Teams application with our application. I am using msal-angular library for authentication. I am able to get access token using this library. We have issue with logout feature/method.

msal-angular library has a logout method. When I am using this, this is redirecting to the "https://login.mic

[2020-06-15 06:54] element8763 commented on #1781
this error code returns:token_renewal_error

[2020-06-15 07:51] blumk commented on #1765
After deploying `msal-angular` 1.0.0 to production I saw a spike in `AADSTS50058: A silent sign-in request was sent but no user is signed in.` errors.

This is my current approach for catching the errors:
[code]

[2020-06-15 08:04] gitDeveloper1 commented on #1768
Yes, i have a login function that i trigger from a button in the gui. So i missed to include that part..

`

	function login() {
                    if (MSAL.getAccount()) {

                        MSAL.acquireTokenRedirect(accessTokenRequest);

                    }
		    else {
                        MSAL.loginRedirect(accessTokenRequest);
                    }
                }
`

[2020-06-15 16:05] vlafranca commented on #1665
Any news or estimation about this ?

[2020-06-15 16:56] sergievskiy-a commented on #843
still reproduced on v1.0.0

[2020-06-15 17:05] tnorling commented on #1780
@streamcode9 When acquiring tokens you will receive all scopes the user has ever consented to for that resource, not just the ones specifically requested. If one of the scopes requested has not yet been consented to the user will be prompted to consent. The only way to stop receiving a particular scope that had previously been consented, is for each user to revoke consent or remove the scope from

[2020-06-15 17:11] muraliyv2020 opened #1783 "Multiple Open ID Redirects happening while Using MSAL version 1.3.2 with Azure AD B2C Session from target=_blank"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.x.x`
- [x] `@azure/msal-angular@1.0.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular version : 7.2.0
Azure AD B2C
MSAL - 1.3.2

## Description
When the User is logging from the Azure B2C SSO the following observations were identified.
1.  If the user has Azure AD B2C session available  (Examp

[2020-06-15 17:16] jasonnutter commented on #1776
@gItSpLasHeR This is reasonable ask, we'll track it and follow up when we have a chance to address, thanks!

[2020-06-15 17:17] streamcode9 commented on #1780
@tnorling thank you for the quick response!

I've already removed the scope from the app registration but it seems like it has no effect.

Ho to revoke consent for each user? Is it possible to call some method of MSAL library?

[2020-06-15 17:32] tnorling commented on #1780
@streamcode9 This is not possible from MSAL. Each user will need to go [here](https://myapplications.microsoft.com/), find your app and revoke permissions. Let me know if this works. Alternatively, I haven't tried it myself but, it may be possible to revoke consent tenant-wide if you remove the entire resource from your app registration, save, and then add it back with just the scopes you want mov

[2020-06-15 17:56] kemins commented on #1222
respect!, track how many issues for it, it's a mess, it doesn't sit well with IOS and MAC os at all.
One more 'solution' from Microsoft:(

[2020-06-15 20:33] jmckennon commented on #1783
I haven't been able to reproduce a loop even with the sample poc provided--so I have a few questions to make sure I'm understanding everything correctly.

Are your first and second test apps using the same clientId/authority/policies?

Are you using different test users when logging in to both of these apps?

Can any network traces be provided?

Please specify the _exact_ repro steps. What I've do

[2020-06-15 20:35] jmckennon commented on #1783
You could also try setting `navigateToLoginRequestUrl` to false to try and deter any redirect shenanigans, though again, everything was working for me even with it set to true.

[2020-06-15 20:52] muraliyv2020 commented on #1783
•• PROTECTED 関係者外秘

Team

Please refer the ticket # 120020124000308. We have uploaded all the fiddler logs for the cyclic loop issue. Please do find the inline comments listed out below for the questions.

Thanks & Regards
Murali Yadavalli
On Assignment @ Toyota
Incentive Systems | IS Business Enablement – D&IS, Incentives
Toyota Motor North America (TMNA) | 469-292-2418 (Office) | 302-465-2940 (C

[2020-06-15 21:39] jmckennon commented on #1783
Okay, using the sample poc and https://qa.isp.toyota.com, I was able to see this, though it's still not happening with other apps.

Could you make sure that both apps are on the latest versions of `msal-angular` and `msal`? In the IcM it mentions version `1.3.0` for `msal`, and there were some redirect/loop fixes included in 1.3.1. We recommend upgrading that to 1.3.2.

Additionally, after changin

[2020-06-15 21:42] kemins commented on #1248
thanks for the updates, rally happy, someone is looking:)

will wait till @azure/msal-angular adopts @azure/msal-browse.
Strange why no one from top management realizes the impact of not working authentication solutions and overall reputation losses.

it's 2020 outside and there is no built-in Microsoft solution fo the authentication with its own platform, really??? What might be a higher priority

[2020-06-15 22:00] muraliyv2020 commented on #1783
•• PROTECTED 関係者外秘

Jake

Please let me know where do we need to set up the navigateToLoginRequestUrl flag to false. We are using MSAL Angular version and Not MSAL.JS version. Do we have 1.3.2 in angular ?

Thanks & Regards
Murali Yadavalli
On Assignment @ Toyota
Incentive Systems | IS Business Enablement – D&IS, Incentives
Toyota Motor North America (TMNA) | 469-292-2418 (Office) | 302-465-2940 (

[2020-06-15 22:03] jmckennon commented on #1782
We don't currently support any sort of silent logouts, though we will consider this for the future as it's been asked a few times.

[2020-06-15 22:03] #1782 closed

[2020-06-15 22:07] jmckennon commented on #1781
Can you provide the rest of your msal-related code, like where `getTokenRedirect` is being called?

[2020-06-15 22:13] f430FERRARI commented on #1725
I have the same problem and I am trying to get it to work as well. Do you have an example of how you got it to work? Thanks in advance.

[2020-06-15 22:26] jmckennon commented on #1783
`navigateToLoginRequestUrl` is a flag that you pass to an msal configuration. It enables/disables default redirect to a start page after login. More on that in [these docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications).

Generally an app has one msal config that you pass in, though in your poc it looks like you're trying to juggle a few o

[2020-06-15 22:42] muraliyv2020 commented on #1783
•• PROTECTED 関係者外秘

I guess this flag is available in 1.3.0 version. We don’t have issues with cyclic loop redirections in earlier MSAL Versions . Not sure with this version why ?

DO we have MSAL angular version in 1.3.2 ?

Thanks & Regards
Murali Yadavalli
On Assignment @ Toyota
Incentive Systems | IS Business Enablement – D&IS, Incentives
Toyota Motor North America (TMNA) | 469-292-2418 (Office

[2020-06-15 23:22] jmckennon commented on #1783
The flag is available in both versions, yes, but in `msal@1.3.2`, there have been some bugfixes related to redirects and loops since `msal@1.3.0`, so I wanted to make sure you were receiving those bugfixes. The `navigateToLoginRequestUrl` flag is unrelated to the version bump. These were two different possible fixes to the issue you're seeing.

The latest version for msal-angular is `msal-angular@

[2020-06-15 23:29] jmckennon commented on #1774
@jasonnutter left a great response on #1194 which also addresses problems with hidden iframes. One of his proposed fixes will likely solve the issue. Let us know if you're still experiencing problems afterwards.

[2020-06-15 23:41] muraliyv2020 commented on #1783
•• PROTECTED 関係者外秘

We are using MSAL Angular 1.0.0 , also you want us to include MSAL@1.3.2<mailto:MSAL@1.3.2> rt. Please confirm.

Thanks & Regards
Murali Yadavalli
On Assignment @ Toyota
Incentive Systems | IS Business Enablement – D&IS, Incentives
Toyota Motor North America (TMNA) | 469-292-2418 (Office) | 302-465-2940 (Cell)

From: Jake McKennon <notifications@github.com>
Sent: Monday, June 1

[2020-06-15 23:42] jmckennon commented on #1783
Yep, that is correct.

[2020-06-15 23:52] jmckennon commented on #1773
Can you confirm that you are on version 1.0.0 of `msal-angular`? Please consider updating if you aren't.

Can you also provide the rest of your msal-related code? If you're never executing on that logicSuccess event, even after an actual successful login, it's likely just not hooked up properly.

[2020-06-16 00:25] #1719 closed

[2020-06-16 01:06] dluc commented on #1779
hi @tnorling I'm looking at ID tokens (not access token), which has scopes, e.g. see the 2 HTTP requests above.

The first has 4 scopes: scope=profile%20email%20openid%20User.Read
The second has 2 scopes: scope=openid%20profile

The scope regulates which claims are included in the JWT token. The token received from the first HTTP request for example, includes the user email and the full name. The

[2020-06-16 01:15] dluc commented on #1779
summarizing, when refreshing the ID token, we would like that this request

[code]

included all the scopes configured, e.g. be

[code]

so that the ID token released by AAD had the extra user information (email address and full name)

[2020-06-16 03:05] element8763 commented on #1781
@jmckennon
I called my function in componentDidMount,and regarding to the call  `this.props.onFetchTemplate();`
and define it in my saga file   `  const res = yield call(repository.findAll, "inputhere");`
and here is my call
[code]
and when first loading the page and tried to get token,such error code will returned.
Thanks!

[2020-06-16 07:19] smnth90 commented on #1782
Thank you @jmckennon. Is there any alternative to use until this feature gets added?

How much time it might takes to get this feature with this library?

[2020-06-16 10:14] negberts opened #1784 "getScopesForEndpoint always returnes null in msalinterceptor"
## Library
- [X] `msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular/ .NET framework

## Description
We have configured our protectedresourcemap like this:

[code]

But when we request an url like

[2020-06-16 13:35] anth-git opened #1785 "[Angular] MSAL keeps the user logged in after closing the tab and loading page again in the new tab"
I recently upgraded msal-angular library from v0.1.4 to v1.0.0 but I'm encountering some strange issue in such scenario:

1. A user opens a Browser and signs into the application.
2. The user closes the Tab.
3. The user opens a new Tab and enters the URL address and loads the page.
4. **The Application is loaded and the user is signed in automatically without being redirected to the login page**.

[2020-06-16 14:48] MayankKT commented on #1763
I am getting the error when calling the acquireTokenSilent() method getting following error :

ClientAuthError: Cache error for scope [Scope]: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more requirements like authority.

[2020-06-16 16:37] tnorling commented on #1779
@dluc Gotcha. To my knowledge, this is not a scenario we have considered before. We are currently working on updating the token `response_type` logic for `acquireToken` calls which I believe will enable this functionality for you. With those changes you will receive a renewed id_token in addition to an access_token anytime `openid`, `profile` and/or `clientid` are present in the scopes requested.

[2020-06-16 16:46] tnorling commented on #1763
Tokens are cached with `authority`, `scopes`, `clientId` and an accountId. If you are trying to use multiple clientIds or authorities you need to provide that in the request to disambiguate between your cache entries. If this does not sound like your use case, you should take a look at local or session storage and see what's going on.

[2020-06-16 16:48] iliassk opened #1786 "[Azure AD B2C] How can I secure both my backend and frontend with msal-browser and azure-active-directory-b2c-spring-boot-starter?"
## Library

- [X] `@azure/msal-browser@2.x.x`

## Description
I have a JHipster app (Spring boot + React) and I'm trying to implement the authorization code flow (w/ PKCE) to secure both my frontend (UI) and my backend (API) on Azure AD B2C.
The most recommended plugins for my use case seem to be `msal-browser` for the frontend and `azure-active-directory-b2c-spring-boot-starter` for the backend.

[2020-06-16 18:51] tnorling commented on #1441
Closing due to inactivity and the question has been answered. Let us know if the previous answer did not solve your problem

[2020-06-16 18:51] #1441 closed

[2020-06-16 18:53] tnorling commented on #1720
Closing due to inactivity. Let us know if you are still facing this issue after attempting the above suggestion. Thanks!

[2020-06-16 18:53] #1720 closed

[2020-06-16 19:15] jmckennon commented on #1786
If you have a backend, we recommend implementing msal on the backend. If you're using spring boot/java, there is an `msal java` [located here](https://github.com/AzureAD/microsoft-authentication-library-for-java).

Additionally, `msal` libraries are designed to be inherently secure on their own, but they absolutely do not secure the rest of your app. We are not considered a security library, just

[2020-06-16 20:57] jmckennon commented on #1732
Closing as I'm assuming this problem is resolved after the inactivity.

[2020-06-16 20:57] jmckennon commented on #1731
Closing this as I'm assuming this problem is resolved due to the inactivity.

[2020-06-16 20:57] #1731 closed

[2020-06-16 20:59] jmckennon commented on #1722
Closing this as it looks like it's being handled in https://github.com/Azure/AppConfiguration/issues/338.

[2020-06-16 20:59] #1722 closed

[2020-06-16 21:00] jmckennon commented on #1750
Closing this is we're assuming there's no longer a problem. Please open a new issue if you see further problems.

[2020-06-16 21:00] #1750 closed

[2020-06-16 23:11] PhineasJiang commented on #1124
Why this issue is closed. @sameerag  It has been fixed? I also meet the same problem when using Msal Angular to go to azure Ad b2c page. The login will fail to got a 400 bad request after waiting for some hours.

[2020-06-16 23:22] jmckennon commented on #1765
@jenurius @blumk You could also try passing in `sid` with your request. It identifies a session [based on SID rather than with AAD metadata](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso), like those email addresses.

[2020-06-17 00:42] jasonnutter commented on #1695
@MisterPhilip Does not providing `unprotectedResources` work as a mitigation?

[2020-06-17 00:55] jasonnutter commented on #1759
@widget31too A couple things:

You are using a social IDP, correct? As opposed to local accounts.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-overview#sign-out

Default = 1440 minutes.
Minimum (inclusive) = 15 minutes.
Maximum (inclusive) = 1440 minutes.

This is where the 15 minute duration comes from.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-b

[2020-06-17 01:06] jasonnutter commented on #1724
@malvica Can you please share a screenshot of your Firefox settings for cookies? Thanks!

[2020-06-17 01:27] jasonnutter commented on #1248
@kemins I understand your frustration with ITP. We are definitely aware of the impact that ITP (and similar privacy protection features) has on our customers, which is why we are working across both the library and server teams to deliver authentication solutions that secure your applications without compromising privacy or security (and this work is very high priority within Identity).

[2020-06-17 01:30] jasonnutter commented on #843
@sergievskiy-a Can you please open a new issue with details, thanks!

[2020-06-17 01:32] jasonnutter commented on #1665
@vlafranca Not yet, sorry, been busy. We'll update the ticket when we get a chance, apologies for the delay.

[2020-06-17 01:39] jasonnutter commented on #99
Update: We expect to add support for ADFS 2019 in 1.4.0. Follow the above pull request for more. Sorry this took so long, appreciate the patience!

[2020-06-17 05:24] dluc commented on #1779
thanks @tnorling will try that out! looking forward to see the updates merged :-)

[2020-06-17 07:25] Adelaiten commented on #1785
Having similar issue, user is logged out once browser is closed. Closing tab doesn't make user to log out.

[2020-06-17 07:43] anth-git commented on #1785
I've replicated the same behavior in angular9-sample-app, with these modifications:

[code]

Could someone confirm whether it's an expected behavior or a bug, and how to get around this?

[2020-06-17 15:12] ryandegruyter commented on #1592
Nope not working here with timeout:

Wed, 17 Jun 2020 15:09:30 GMT:1.3.1-Verbose Loading frame has timed out after: 30 seconds for scope/authority 7e20f2ad-1916-43a3-bdab-a808a9fc29cd|**undefined**:eyJpZCI6ImQwNDU1YjllLWE0NTItNDIwMS1hNDE0LWIwMTgyMGFmNDMzMiIsInRzIjoxNTxxxxdGlvbiJ9 | Level: 3 | ContainsPii: false

Something undefined here though.

@jasonnutter if you have any leads for us? This is d

[2020-06-17 15:47] malvica commented on #1724
Hello @jasonnutter , here is the screenshot:
![image](https://user-images.githubusercontent.com/50148375/84919550-10b07380-b090-11ea-9a32-130c
d78944e6.png)

I tested with all of them disabled.

[2020-06-17 15:49] malvica commented on #1724
Hello @jasonnutter here is the screenshot:

![Annotation 2020-06-17 114838](https://user-images.githubusercontent.com/50148375/84919946-8e747f00-b090-11ea-89b0-09d5c4ad5cb3.png)

[2020-06-17 19:42] vitaliidasaev commented on #1403
Thanks for example.
PS: it is very important to use new Promise and not to use http.get<any>.toPromise
My code block:
[code]

[2020-06-17 20:27] jmckennon commented on #1734
Can you also confirm that you're on the latest version of msal, `msal@1.3.2`? There were some fixes to state changes in the past few versions.

[2020-06-17 20:34] jmckennon commented on #1768
Can you provide some screenshots of your outputs from `getAccount` and also the state of local storage in this scenario? I have been unable to replicate this functionality.

[2020-06-17 20:39] vitaliidasaev commented on #1784
Agree, even wildcards will be great to have:
https://api.website.com/*

[2020-06-17 20:40] jmckennon commented on #1768
Can you also confirm that both apps in your use case have a different `clientId`?

[2020-06-17 20:45] jwahr commented on #1286
@vaibhav915 Can you explain or show how you resolved this? I am having the same issue.

[2020-06-17 20:57] jmckennon commented on #1781
You shouldn't try to call one of the login APIs when your app is loaded inside an iframe.

You can also try using a blank page as a redirectUri as of `msal@1.2.0`. It is recommended to set the redirectUri for the silent calls to a blank page, say https://yourhost/auth.html instead of the SPA's homepage.

Could you also implement the msal Logger and send us the logs? That will help us see what's go

[2020-06-17 21:34] thoo1 opened #1792 "AuthError.errorMessage - can it contain PII data?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `@azure/msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
There is an option in Logger class to exclude piiLogging. This is what we currently do.
In addition,

[2020-06-17 21:56] tnorling commented on #1704
Closing due to inactivity. Let us know if this is still an issue.

[2020-06-17 21:56] #1704 closed

[2020-06-17 22:56] jmckennon commented on #1785
When you go to the page for the second time, can you see check to see if the tokens are still in the cache? Using the sample app with the changes you provided, this was not the case for me. There was neither an automatic login, nor information in the cache. Once I press the login button, it will automatically log me in without asking for credentials, as credentials stay active in AAD for 24 hours

[2020-06-17 23:50] judedaryl opened #1795 "B2C Token endpoint CORS"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

React 16.13.1

## Description

As noted in https://github.com/AzureAD/microsoft-authentication-library-for-js/i

[2020-06-18 00:21] judedaryl commented on #871
Best practice i guess would be to use transient memory to store the tokens. Then you could just use silent token request to validate if a user is logged in or not. It does add some overhead to the whole flow especially when the user is just refreshing,

[2020-06-18 00:27] #1729 closed

[2020-06-18 02:32] mikeyuan2008 commented on #1475
@jasonnutter We applied the MSAL1.3.0+MSALAngular1.0.0 and the issue still there. We did further testing and analyze, here is the behaviour we observed:
- Only happens for user who didn't use the system for long time (2 weeks). We used B2C and have Refresh token set as 14days)
- Error happen in such scenarios: user login successful, app send few Get API requests to load some data, then user try to

[2020-06-18 05:36] DarkLite1 commented on #1679
It would be great to have this feature. Please don't close.

[2020-06-18 06:13] anth-git commented on #1785
Sorry, perhaps my description was not clear enough. Using the example app, the behavior is as you described, that is a user is not automatically logged in when he visits the site for the second time, but there is no login/password screen once he presses the Login button. So lets call it semi-automatic login, but it's still not the desired behavior from my point of view.

But, indeed, passing `prom

[2020-06-18 06:13] #1785 closed

[2020-06-18 07:00] vaibhav915 commented on #1286
As per Microsoft documentation, you need to integrate msal-angular for SPA.
Firstly, user need to authentication in Microsoft AD account using 'loginRedirect', once user gets authentication, you will receive token_id, use this to call 'acquireTokenSuccess' in the same msal object with defined scope, this time you will receive access token in the response callback.

[2020-06-18 07:18] ryandegruyter commented on #1592
I noticed this request fails when it happens:

[code]

[2020-06-18 08:01] ryandegruyter commented on #1781
@jmckennon how would you load the app, if after each login you redirect to a blank page?

[2020-06-18 08:37] bilalmalik777 opened #1796 "create library for React Js to authenticate azure ad"
Hellos guys,
it is an urgent request to you create a library for react to authenticate with an azure ad like there is a library for angular

[2020-06-18 09:06] vitaliidasaev commented on #1712
I've made own implementation of MsalInterceptor to overcome issues with protectedResourceMap.
This is my custom code block:

    // #region own workaround in order not to put every api endpoint url to settings
    if (!scopes && req.url.startsWith(this.settingsService.apiUrl)) {
      scopes = [this.auth.getCurrentConfiguration().auth.clientId];
    }
    // #endregion

    // If there are no scop

[2020-06-18 09:06] vitaliidasaev commented on #1776
For those who looks about msal-angular MsalHttpInterceptor.
I've made own implementation of MsalInterceptor to overcome issues with protectedResourceMap.
This is my custom code block:

    // #region own workaround in order not to put every api endpoint url to settings
    if (!scopes && req.url.startsWith(this.settingsService.apiUrl)) {
      scopes = [this.auth.getCurrentConfiguration().auth.cli

[2020-06-18 09:21] daviddejaeger opened #1797 "Call Web API from Angular with Azure AD: audience exception"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi,

I'm not sure if this is a bug or I'm doing something wrong but when I call my A

[2020-06-18 09:55] vinusorout opened #1798 "How to avoid "Permission Required" confirmation for end user while access an application"
When we login into any application, some time Microsoft redirect users to a "Permission Required" page, where user need to "Accept" this.
<img width="214" alt="PermissionRequired" src="https://user-images.githubusercontent.com/27411868/85006135-5f850880-b177-11ea-97bc-919d7d27d49f.PNG">

Is there any way to avoid this for end-users?

[2020-06-18 10:42] known-as-bmf commented on #1795
The exact same issue is preventing us from using Auth Code PKCE flow in our SPA (react).

The issue comes from the B2C endpoints (well-known, authorize, token,...) returning 404 for preflight (`OPTIONS`) requests.

We would love to hear feedback from MS about this.

[2020-06-18 11:55] judedaryl commented on #1795
Same, I would really like to use pkce instead of implicit.

[2020-06-18 13:00] known-as-bmf commented on #1795
It should be noted that msal 1.3.2 also breaks with B2C because it tries to call well-known and falls into the same issue (`OPTIONS`, CORS, 404...).

One possible way to circumvent the issue in msal 1.3.2 is to manually provide `authorityMetadata` in the user agent configuration.

[2020-06-18 13:05] daviddejaeger commented on #1797
Update:

I have found the solution. It turns out I was using the server side from the blazor template which was using:

`services.AddAuthentication(AzureADDefaults.BearerAuthenticationScheme)
                .AddAzureADBearer(options => Configuration.Bind("AzureAd", options));`

However I noticed the template from msal-angular was using:
`services.AddAuthentication(JwtBearerDefaults.Authentication

[2020-06-18 13:25] jwahr commented on #1286
@vaibhav915 I believe that is what I am doing. I am getting a token_id back but when I check the token, it doesn't include scopes or roles. Does it matter what the source of my user? Either Azure Active Directory or Windows Server AD?

[2020-06-18 16:03] jasonnutter commented on #1796
@bilalmalik777 We have started looking into building a MSAL React library, including building a proof-of-concept sample app, which you see here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/msal-react/samples/msal-react-sample

We do not have an ETA on when this will be released, but we'll update our roadmap when we know more.

Closing, as no further action at this time.

[2020-06-18 16:03] #1796 closed

[2020-06-18 17:19] jasonnutter commented on #1286
ID tokens do not have scopes, as scopes are present on access tokens as the `scp` claim. If you need roles, I recommend updating to MSAL.js v2 (as roles are not usually returned in the Implicit Flow), and then enabling the `wids` claim.

- MSAL.js v2: #1000
- `wids` claim info: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims
- groupMembershipClaim: http

[2020-06-18 17:40] jasonnutter commented on #1724
@malvica I am unable to reproduce that error with those settings. Do you have any extensions that may be blocking cookies?

[2020-06-18 17:43] tnorling commented on #1795
@judedaryl You need to set your redirectUri type to "Spa" on the App registration. More information in the readme [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser)

@known-as-bmf This should not be happening in 1.x, check that your redirectUri is type "Web" in the app registration and that it is configured for the implicit grant. Note that all ver

[2020-06-18 17:47] jwahr commented on #1286
Hey @jasonnutter

So now I understand what you are saying I need scopes, I don't need roles because I am using implicit grant flow. I have my accessToken returning when I sign in but when I go to jwt.ms and decode the token, I don't have `scp`. In my `consentScopes` I have `openid, profile and api://{client_id}/access_as_user` being sent.

I don't know what I am missing to get `scp` to show up in

[2020-06-18 18:25] jwahr commented on #1286
@jasonnutter this is the sample I am going by https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/angular9-sample-app

[2020-06-18 18:33] jmckennon commented on #1798
Unfortunately no, users generally will only have to accept permissions once per app unless there are major updates to the permissions that the app asks for.

[2020-06-18 18:33] #1798 closed

[2020-06-18 18:34] jmckennon commented on #1792
It is safe to log with `AuthError`, it won't ever contain PII.

[2020-06-18 18:34] #1792 closed

[2020-06-18 18:36] jmckennon commented on #1797
Thanks for the question, nice job figuring it out!

[2020-06-18 18:36] #1797 closed

[2020-06-18 19:37] jmckennon commented on #1784
@negberts I've been unable to reproduce this in our samples/tests, everything seems to be working fine both inside and outside the interceptor. Can you provide some code examples/screenshots of the issues you're facing?

@vitaliidasaev this has been asked previously, and while it's not currently a feature, we will keep that feature-ask on our radar.

[2020-06-18 19:46] vaibhav915 commented on #1286
@jwahr Did you setup the scopes in the Azure App registration and grant permission to your angular app in the same app registration.

[2020-06-18 19:57] jwahr commented on #1286
@vaibhav915 My Azure API, I exposed the API and created a scope and on the Azure UI/Client I added a permission of that scope from the API `access_as_user`

[2020-06-18 20:23] jasonnutter commented on #1286
What's the value of the `tokenType` property of the response where you get that token? `id_token` or `access_token`?

[2020-06-18 20:33] jwahr commented on #1286
@jasonnutter I was able to get the correct access token after login. On the broadcast call `msal:loginSuccess`, I put in the following code below. I verified the token on jwt.ms and I am seeing the `scp` > `access_as_user` and was able to verify the token on the API.

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles#verify-scop

[2020-06-18 20:50] jmckennon commented on #1781
@ryandegruyter when you call acquireTokenSilent, it sends off a request to the server. The original call still sits monitoring the iframe for the response, even if you redirect to a different page. A blank page works well because it avoids reloading any application-level or msal code that may unknowingly interfere with the original call. Once you get the response back, you can reload the page or d

[2020-06-18 20:57] flieks commented on #1124
for me i dont know exactly what i did but started working properly.
have the empty auth.html at
`tokenRefreshUri: window.location.origin + '/auth.html'`
and some other code (more react-aad related)
[code]

[2020-06-18 21:32] jimbarrett33 commented on #1401
Hi,

I see this was closed but I'm wondering if there was an actual fix to the code or was the [profile ngOnInit workaround](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1401#issuecomment-601926005) above the "solution".

The [docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-acquire-token?tabs=angular#acquire-a-token-with-a-pop-up-wind

[2020-06-18 21:56] gavinbarron opened #1800 "Delegated Access to graph.microsoft.com using Azure B2C with Multitenant AAD policy?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.2.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Is it possible to allow users who have authenticated with a work or school account using Azure B2C as the

[2020-06-19 00:23] tnorling commented on #1795
Update: This was determined to be an issue with the b2c service. They are aware of the issue and are working on it. Will keep this issue open and provide an update when I hear back.

[2020-06-19 06:03] negberts commented on #1784
@jmckennon for some strange reason, it's working now… So I will close it...

[2020-06-19 06:03] #1784 closed

[2020-06-19 06:33] ryandegruyter commented on #1781
Ok, we don't use acquireTokenSilent. only loginRedirect and the MSALGuard for Angular

[2020-06-19 07:08] dprem06 opened #1803 "Regarding azure b2c access Token"
Redirect Approach:

Failed calling acquire token silent , From this approach I am only able to take id token after that access token calls failed...

**myMSALObj.acquireTokenSilent() this method goes always catch block.** but same scope in popup aproach working fine.

Error:
**AADB2C90077**:  User does not have an existing session and request prompt parameter has a value of 'None'.

InteractionReq

[2020-06-19 08:16] copiltembel commented on #349
Having the same issue in Chrome, but **not** in Firefox, although third party cookies are blocked on both of them.

[2020-06-19 08:27] mcdonnell-john commented on #1734
Hi @jmckennon we're still using 1.3.0 which is the altest version listed [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases).

We can switch to 1.3.2 and review if that's still working.  I'll get back to you to see if that worked

[2020-06-19 09:01] element8763 commented on #1781
@jmckennon Yes,I used to use a blank page for Popup login,It works well.But if I use blank page It will redirect the application to a blank page.How can I load the application after login? And do you mean I can only use it in popup and silent calls,if so how can I have more than one redirect uri?Does it means I have to maintain different auth variable when call login redirect and silent call? Than

[2020-06-19 14:06] malvica commented on #1724
Hi @jasonnutter , I don't have any extensions loaded in firefox browser. Multiple people are able to reproduce this on their machines including our customers.
Did you try loading the new message in a Pop-out window?

[2020-06-19 14:15] vlafranca commented on #1665
Ok no problem

[2020-06-19 14:37] mcdonnell-john commented on #1734
Hi @jmckennon  we upgraded in a development branch to 1.3.2 and got the same behavior.

[2020-06-19 16:47] vinusorout commented on #1798
Can we avoid this using "Admin Consent"?

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/grant-admin-consent#:~:text=Sign%20in%20to%20the%20Azure,then%20click%20Grant%20admin%20consent.

[2020-06-19 17:06] jmckennon commented on #1803
This is intended. When you call `acquireTokenSilent`, it will attempt to silently access their credentials on AAD. If the user has no active AAD session, this will fail. The `prompt` parameter allows for options on calls. By default it is set to `none` and this value will ensure that the user does not see any interactive prompt. You can read more about prompts on msal js on [the microsoft docs](ht

[2020-06-19 17:13] jmckennon commented on #1798
@vinusorout Sorry, yes--I have confirmed this will work. I was actually unaware of this feature. The steps on that page outline the steps for enabling admin consent. Let us know if you have further questions about it.

[2020-06-19 17:38] jmckennon commented on #1800
This is a supported scenario, though there are a few extra steps involved. There's a whole slew of information outlined in [the Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-ga). You will need to configure a few permissions, along with also providing the resource on requests.

Please let us know if you have further questions.

[2020-06-19 17:50] gavinbarron commented on #1800
All of the examples in the linked docs, which I had previously read, are specifically about administrative scenarios where there is Admin consent flows or App only permission flows.

I am specifically wanting to gain a token for delegated permissions which do not require admin consent using an implicit flow. Given this is for an open multitenant scenario and I don't want to have to go through the

[2020-06-19 21:27] jasonnutter commented on #1401
@jimbarrett33 Please open a new issue, thanks!

[2020-06-20 00:13] jasonnutter commented on #1475
@jukvaa We're aware of this happening after long periods inactivity, should be addressed by #1681

[2020-06-20 00:30] jasonnutter commented on #1724
@malvica I did not try that. It is possible this is a result of new privacy settings in Firefox: https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop

Given this is browser specific and may be related to privacy settings in the browser, I don't think there's much we can do in MSAL.js v1, as the server requires those cookies and MSAL.js itself cannot set them. Keep in m

[2020-06-20 01:50] spiricb opened #1806 "Are specific events tracked in MsalService, BroadcastService or UserAgentApplication?"
## Library
- [ ] `msal@1.3.0` and `@azure/msal@1.0.0`

Are there any internal events that can be tracked, listened to or otherwise used to see what the user is doing?
For example, if a user creates an account in b2c and they're redirected and logged into an angular app for the first time can this be tracked apart from a regular loginSuccess event?
I know this was possible with b2c and older versio

[2020-06-20 16:47] thj-dk commented on #1035
I'm experiencing this exact issue with the 2.0.0-beta.2 version of @azure/msal-browser. Any solutions to this?

[2020-06-20 22:50] autodomme commented on #1795
@tnorling  - did the service team provide an expectation of when this would be fixed?

[2020-06-21 18:32] marinvirdol commented on #1765
I am also experiencing a similar issue. I'm trying to develop a POC in react with msal.js library and when the access token renewal happens I get the following error.
`InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in.`. But `getAccount()` returns the signed in user.

This happens to me in Chrome because in Firefox the `.acquireTokenSilent({scope

[2020-06-21 22:45] jrmcdona commented on #1679
@tnorling  ETA?    Since this is somewhat of a big gap we need an ETA so we can do something else instead.

[2020-06-22 15:45] jasonnutter commented on #1035
@thj-dk Please open a new issue, thanks!

[2020-06-22 16:59] negberts opened #1807 "Redirect of HTTPS really necessary?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We are trying to move from ADAL to MSAL. But where ADAL accepted for http as redirec

[2020-06-22 17:38] jmckennon commented on #1807
Yes, `msal js` requires redirectUri to begin with https, except for `http://localhost` case. This is mandated by app registrations in the portal for security. We're sorry for the inconvenience.

[2020-06-22 17:38] #1807 closed

[2020-06-22 17:41] jmckennon commented on #842
Closing due to inactivity, B2C will be handling this further.

[2020-06-22 17:41] #842 closed

[2020-06-22 17:52] jmckennon commented on #1615
The original issue is fixed here, the cookie issue will be fixed by #1188 which is in progress. Please open a new issue if you see further issues. Thanks!

[2020-06-22 17:52] #1615 closed

[2020-06-22 18:06] jmckennon commented on #1703
This issue may be solved by #1668, but IdentityServer is not officially supported by Microsoft. Please open a new issue if you have further questions, thanks!

[2020-06-22 18:06] #1703 closed

[2020-06-22 18:11] tnorling commented on #1795
I unfortunately do not have an ETA at the moment but will update as soon as I hear something. For now as a workaround to unblock development/testing you can set the no-cors flag in your browser

[2020-06-22 18:13] jmckennon commented on #1806
No, there isn't currently an event api for the core `msal` library (though as you stated `msal-angular` will emit events for `login` and `acquireToken`).

No, there is not a separate event for the first time when a user logs in. Can you clarify how you were doing this in previous versions?

[2020-06-22 19:55] jmckennon commented on #1781
If you are using the redirect flow, setting the `redirectUri` as a blank page will not work. This will only work in popup and silent flows.

You can register multiple `redirectUri` in the Azure portal, in your app registration. You can then pass in `redirectUri` to your `msal` config as a means of using the registered ones, so that a particular request will go to that specific uri. From [this docu

[2020-06-22 20:15] jmckennon commented on #1765
@marinvirdol can you provide the console log from the browser in this case? Including all of the `msal` logging. I've been unable to repro this.

Are you also on the most recent versions of `msal`?

[2020-06-22 20:16] jimbarrett33 opened #1810 "@azure/msal-angular does not prompt for Microsoft Graph Profile consent on login (even though MSALAngularConfigFactory is configured as such)"
## Library
- [X] `msal@1.3.2`
- [X] `@azure/msal-angular@1.0.0`

## Framework
Angular

## Description
App is configured according to the Angular 9 sample code which requests consent for "user.read", Microsoft Graph "Sign in and read user profile". However, upon login, the user is not prompted to consent for this permissions (it does however prompt for "View you basic profile" and "Maintain access

[2020-06-22 20:18] patrasm commented on #1592
I was fighting with this issue for the past week.  I ended up implementing a solution similar to this:

https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/60e53cf861c0a51a690aff8043032dd94f1b488d/JavaScriptSPA/authRedirect.js

[2020-06-22 20:33] jmckennon commented on #1800
Correct me if I'm wrong, but my understanding is that you want to completely avoid making that initial configuration altogether? Or is it that you want to avoid interactive consent per request?

[2020-06-22 21:27] gavinbarron commented on #1800
I'm fine with user interactive consent. I'd expect that this would happen once per user to gain the `https://graph.microsoft.com/Calendars.ReadWrite` scope as is normal outside of B2C scenarios
What I can't have is a need to gain admin consent from the admin of the "home tenant" for the user at any stage

[2020-06-22 21:48] toddfsnyder opened #1812 "Azure B2C Support for Microsoft Authentication Library for JavaScript v2.x (Preview)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

# Current Application State
Here are a few details about our current implementation. We have an Ang

[2020-06-22 22:53] jmckennon commented on #1734
Okay, can you provide all of the msal logs in the browser that you're seeing in these cases, along with any other logs you may have?

[2020-06-22 23:11] jmckennon commented on #1800
There's not a way to do this without granting admin/app consent at least once in the configuration in the portal. This can be done for all users of an app via [tenant-wide admin consent](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/grant-admin-consent). So instead of the user facing this problem, it just becomes a part of creating an app registration, effectively.

[2020-06-22 23:30] gavinbarron commented on #1800
If I'm understanding you correctly, If I have users from N different AAD tenant signing in and attempting to use this functionality then I need to have an admin consent for each of those N tenants.

That seems like a massive gap from where I'm sitting.

In a regular multi tenant AAD application it's possible to get this scope with only end user consent. Is this a gap that is even on the roadmap to

[2020-06-22 23:48] NagaCSC commented on #1188
one of our customer also has issue of Htpp 400 with MSAL 1.3.3 Please advice on the fix ETA. Thanks

[2020-06-23 14:09] FlyRocketDrones opened #1814 "MSAL does not redirect user to login page after PW reset"
## Library
exact version is  "msal": "^1.3.2",
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
## Error Message
User does not get redirected after re

[2020-06-23 17:36] tnorling commented on #1780
Closing as the original question has been answered.

[2020-06-23 17:36] #1780 closed

[2020-06-23 17:36] tnorling commented on #1778
Closing as the original question has been answered. Let us know if you're still having issues.

[2020-06-23 17:36] #1778 closed

[2020-06-23 17:52] jmckennon commented on #1800
Unfortunately, yes, that is the case. We understand the frustration of managing many tenants in that way.

You can send feature requests and feedback for AAD directly on the [AAD feedback page](https://feedback.azure.com/forums/169401-azure-active-directory). I will bubble this up internally as well.

[2020-06-23 18:07] gavinbarron commented on #1800
Thanks for your help. Closing this as the question is answered

[2020-06-23 18:07] #1800 closed

[2020-06-23 18:11] gavinbarron commented on #1800
Post script, it's worth noting that to deliver the user experience I need here I'll be having a web app with two instances of UserApplication, one for a B2C application that manages authentication for the site and one for an AAD Multitenant application to allow users to consent to the graph scope to allow us to deliver the user experience we want without putting roadblocks in the way

[2020-06-23 18:19] jmckennon commented on #1812
This is not supported today, but it will be supported in the near future via #1811. We are planning to fully release 2.0 (currently in beta) in the next few weeks.

[2020-06-23 18:40] jmckennon commented on #1810
This is intended behavior. #1401 moreso addressed a usage problem. From the [Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#requesting-individual-user-consent):

[2020-06-23 18:48] streamcode9 commented on #1780
@tnorling sorry for the late response. "remove the scope from the app registration" this smees to work for me. Thanks again for your help!

[2020-06-23 19:07] jmckennon commented on #1814
I was unable to reproduce this. Are you not seeing any redirect at all? Is it going to a different page than the one specified in the `redirectUri`?

[2020-06-23 20:29] toddfsnyder commented on #1812
@jmckennon Thanks for the update and clarification on disabling CORS

[2020-06-23 21:12] FlyRocketDrones commented on #1814
So user enters password then it goes to the redirectUri, which is expected but it's still using the msalConfigPR therefore user sees a field to enter their email for password reset. It gets stuck in password reset flow once it enters there.

[2020-06-23 21:27] ranjanmicrosoft opened #1816 "AADSTS16000"
## Library
- [x] `msal@1.3.1` or `@azure/msal@1.x.x`
- [x] `@azure/msal-angular@1.0.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
Please see this link for additional info and solution. The same issue exists in MSAL and ADAL library.
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/580

The issue is specifically with MSA

[2020-06-24 01:30] aRajeshKumar opened #1817 "React Native sample"
How do I use msal.js with React-Native ?

[2020-06-24 05:47] harishKandikatla opened #1820 "IE and Edge: Issue with token renewal"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.0.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular

## Description
- I'm able to renew token silently in all browsers except IE and edge.
- Able to get token silently for the first time when user logins but can't renew it later in IE(I ha

[2020-06-24 16:09] tnorling commented on #1718
@deasems `msal-browser@2.0.0-beta.3` has been released to npm and should fix the multiple resource scenario you were experiencing. Let us know if that's not the case.

[2020-06-24 16:09] #1718 closed

[2020-06-24 16:11] tnorling commented on #1683
@known-as-bmf `msal-browser@2.0.0-beta.3` has been released and should fix this issue. Please be aware there is currently an issue with the b2c service which is being tracked in #1795 . Closing this as the original issue has been resolved.

[2020-06-24 16:11] #1683 closed

[2020-06-24 16:14] tnorling commented on #1679
@jrmcdona `msal-browser@2.0.0-beta.3` has been released. Let us know if you are still experiencing issues after upgrading.

[2020-06-24 16:14] #1679 closed

[2020-06-24 16:23] tnorling commented on #1706
@jrmcdona `msal-browser@2.0.0-beta.3` has been released and the type has been changed to `SilentFlowRequest` which is now exported. Let us know if you're still experiencing issues.

[2020-06-24 16:23] #1706 closed

[2020-06-24 16:43] lidermanrony commented on #1761
Hi. Any ETA for a fix?

[2020-06-24 17:01] sangonzal opened #1822 "ADFS Authority Validation"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)

## Description
Please read ADFS authority validation [spec](https://microsoft.sharepoint.com/:w:/r/teams/aad/devex/_layouts/15/Doc.aspx?sourcedoc=%7BF0EB0F6F-2B78-42A2-B44F-01DA1D6015E2%7D&file=ADFS%20Authority%20Validation%20-%20Original%20S

[2020-06-24 17:07] pkanher617 commented on #1740
Added in #1770

[2020-06-24 17:08] #1740 closed

[2020-06-24 18:07] jmckennon commented on #1817
We currently do not support React-Native, though there are other native libraries for [Android](https://github.com/AzureAD/microsoft-authentication-library-for-android) and [Objective C](https://github.com/AzureAD/microsoft-authentication-library-for-objc).

React and React-Native is something we'll be looking at in the future, though we don't currently have a timeline on when that will be.

[2020-06-24 18:32] jmckennon commented on #1816
You can try using the `login_hint` flag and using the `preferred_username` as the value. More on that is outlined in the [Microsoft docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow):

[2020-06-24 18:54] jmckennon commented on #1820
This is usually due to some iframe shenanigans. You can read extensively on this subject [on our wiki](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#how-to-avoid-page-reloads-when-acquiring-and-renewing-tokens-silently), along with potential fixes. You can try setting your `redirectUri` to a blank HTML page. Note that this will not work in a redirect flow, only in si

[2020-06-24 19:00] jmckennon commented on #1761
@lidermanrony It's in our backlog but we have not dove deeper into this yet, as the workaround seems to be fairly simple, making this low-priority.

Are you seeing other problems or unable to use the workaround for now?

[2020-06-24 19:57] hpsin opened #1824 "Cannot use login.live.com as an OIDC authority"
## Library
- [x] `@azure/msal-browser@2.0.0-beta.0`

## Framework
Ad-hoc testing in Browser F12 console.

## Description
Would like to use the login.live.com OAuth2 provider that is OIDC compliant by providing it as the authority.  However, a runtime error occurs when instantiating MSAL before any request is made.

## Error Message
msal-browser.js:2173 Uncaught ClientConfigurationError: URL could

[2020-06-24 20:01] jmckennon commented on #1814
Are you using the B2C sample as a basis for implementing the forgot-your-password flow? This can be seen here: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/JavaScriptSPA/authRedirect.js#L17

[2020-06-24 20:06] traoreba opened #1825 "Msal UserAgentApplication.loginPopup , Error opening popup window"
## Library
- [x] `msal@1.3.1`

## Framework
React JS

## Description
Hi, I'm using msal for user authentication in my Teams Tab. It work fine in Teams Web on google chrome but when I use it on Teams desktop app I have the error `Error opening popup window. This can happen if you are using IE or if popups are blocked in the browser.`
Thanks for your help.

## Error Message
Error opening popup windo

[2020-06-24 20:10] jmckennon commented on #1824
@hpsin Thanks for raising this, @pkanher617 will be primarily driving these 2.0 bugfixes. Moving it over to the bug board to take a deeper look.

[2020-06-24 20:56] OlegLukash commented on #349
This issue started appearing recently in google chrome in incognito mode when I call acquireTokenSilent(). If you work in incognito mode and want to avoid this problem, take attention on start page and don't block third-party cookies. Chrome 83 arrives with redesigned security settings, third-party cookies blocked in Incognito

![image](https://user-images.githubusercontent.com/25796029/85626209-5

[2020-06-24 22:27] hpsin commented on #1824
Additional details:
1. If you remove the segments check in line 2172 (  if (!components.HostNameAndPort || !components.PathSegments || components.PathSegments.length < 0) {) then the object can be created.  This line appears to assume that all authorities will have a /tenant/ section in their authority.
1. Once the object is created, authorization endpoint lookup fails because MSAL assumes that th

[2020-06-24 22:50] tnorling commented on #1824
@hpsin This part can be resolved by passing `knownAuthorities: ["login.live.com"]` to your `msalConfig.auth` config but it will then fail on the openid-configuration call because we currently only support the v2.0 endpoint. Supporting the v1 well-known endpoint is something we can look into for scenarios such as this.

The logic actually is as you expect, sort of. If the previously mentioned `know

[2020-06-24 22:56] hpsin commented on #1824
Thanks @tnorling ! That's helpful.  I'm a bit confused about what fails in the OIDC config part - .well-known/... is not a v2-specific item, so should work on all platforms. Note this isn't the v1 well-known endpoint, it's just "a well known endpoint off of an OIDC authority"

That said - ACK, thanks for confirming.  It would be great to see MSAL be used for other providers but I understand why it

[2020-06-24 22:57] lidermanrony commented on #1761
I had no problem working around it, but the issue is very common (no pun intended :-)) and on the other hand is not very easy to notice (since it mostly effects performance). It took us a while to understand that our customers are experiencing double the amount of wait time when we moved from ADAL to MSAL

[2020-06-24 23:04] tnorling commented on #1824
@hpsin To clarify, we currently build the well-known endpoint like so: `authority + "/v2.0/.well-known/openid-configuration"` unless the authority is an adfs authority in which case we leave off the "v2.0" portion of the url

[2020-06-24 23:06] hpsin commented on #1824
Ahhh, right, That's a bummer :( I'd have assumed that people use the https://login.microsoftonline.com/common/v2.0/ as the authority.  Makes sense.

[2020-06-24 23:28] DarylThayil commented on #1824
@hpsin  does @tnorling  suggestion using known authorities to skip openId config work for you

[2020-06-24 23:49] hpsin commented on #1824
No, because it falls back to calling :
https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://login.live.com/oauth2/v2.0/authorize 400 (Bad Request)

That's with
[code]

[2020-06-25 00:36] tnorling commented on #1824
Hmm I would not expect it to hit that endpoint when providing `knownAuthorities`. I just copied that config to try it myself and it's failing on the openId-config call as I would expect because it's trying to hit `https://login.live.com/v2.0/.well-known/openid-configuration` instead of `https://login.live.com/.well-known/openid-configuration`.

In any event, I don't expect this scenario to work wi

[2020-06-25 01:32] aRajeshKumar commented on #1817
Thanks @jmckennon ! Looking forward for it...

[2020-06-25 06:09] lidermanrony commented on #1761
actually, I'm seeing the following error. could leaving the authority blank be the cause of this?
![image](https://user-images.githubusercontent.com/199509/85664907-a723fc80-b66f-11ea-9518-553978b643a3.png)

[2020-06-25 09:32] copiltembel commented on #349
Yes, but this is not a solution for end-users. You cannot control their browser's settings. If they just enable blocking of third-party cookies, they are simply locked out.

[2020-06-25 10:18] OlegLukash commented on #349
Yes, I agree, for end user this is not a solution. I just wanted to say that default behaviour in Google Chrome in incognito mode recently has changed (in Chrome 83) and this problem started appearing automatically in incognito mode.

[2020-06-25 12:14] JasSuri commented on #1608
From what i can tell, this is not an MSAL issue. It is incorrect configuration in the policy for SSO. When SSO fails, MSAL throws `x-frame-options: deny` error. I'll need to review the sample.

[2020-06-25 14:13] ArneMancofi commented on #1795
@tnorling, what are the details of the issue with the b2c service? Is it intended to reply to HTTP OPTIONS requests? Do you have an issue reference?

[2020-06-25 14:43] ArneMancofi opened #1834 "How to use msal-angular@1.x.x in strict CORS-policy browsers?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How is @azure/msal-angular@1.0.0 + msal@1.3.2 intended to be used in browsers enforc

[2020-06-25 15:59] judedaryl commented on #1795
@tnorling slr, yeah was also thinking this was more of an issue for the service rather than the client

[2020-06-25 16:10] jasonnutter commented on #349
MSAL.js v2, currently in public preview, will switch to the Auth Code Flow, which will mitigate issues caused by third-party cookie blocking in most scenarios. See #1000 for more.

[2020-06-25 19:06] jmckennon commented on #1817
Closing as there's no further action for us. Thanks!

[2020-06-25 19:06] #1817 closed

[2020-06-25 19:07] jmckennon commented on #1812
Closing this as there's no further action for us here, and the bug will be tracked in #1795.

[2020-06-25 19:07] #1812 closed

[2020-06-25 19:10] jmckennon commented on #1786
Closing this due to inactivity and as it looks like there's no further action for us here. Thanks for the question!

[2020-06-25 19:10] #1786 closed

[2020-06-25 19:11] jmckennon commented on #1783
Closing this as it was confirmed to be resolved externally. If you have further questions/issues, please open another ticket. Thanks!

[2020-06-25 19:11] #1783 closed

[2020-06-25 19:12] jmckennon commented on #1774
Closing this as we're assuming the issue has been resolved. Please open another ticket if you have further questions. Thanks!

[2020-06-25 19:12] #1774 closed

[2020-06-25 19:18] jmckennon commented on #1764
Closing this as there's no further action for us. If you have further questions please open another issue. Thanks!

[2020-06-25 19:18] #1764 closed

[2020-06-25 19:43] jakehockey10 commented on #1188
I'm having this issue as well, but I don't see any cookies or anything in local storage or session storage or cache.  My site data is 0.  I'm not sure how to resolve this?

[2020-06-25 19:48] #1696 closed

[2020-06-25 20:21] jmckennon commented on #1761
Noted. Will bring this up with the team to try and get things prioritized.

Any advice on how to work around this?

I see, this makes sense. That error is definitely intended. In the meantime, you can clear access tokens from the cache like you mentioned or fallback to setting `forceRefresh` to true, [which will skip the cache and go directly to the server](https://docs.microsoft.com/en-us/azure/a

[2020-06-25 20:32] jmckennon commented on #1825
`loginPopup` will work on the web version of teams, but for the desktop version you'll need to call a special Teams API which creates a Teams popup, and then call `loginRedirect()` from there. There was a discussion and fix around this subject in #1095 and a [user even create an example](https://github.com/nmetulev/teams-msal/blob/master/index.js#L60).

[2020-06-25 22:44] tnorling commented on #1834
@ArneMancofi I have not been able to reproduce this. `msal@1.x` should not be making CORS requests. What browser are you using and are you able to repro this using the [b2c sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp)? As a workaround, you can skip the `openid-configuration` network call by providing the metadata to your auth config. Instructions can

[2020-06-26 00:04] lidermanrony commented on #1761
thanks! looks like the typescript d.ts files do not provide it (i have to cast to any for it to work)

[2020-06-26 01:41] ChrisFulstow opened #1837 "msal:loginSucces not broadcast unless handleRedirectCallback() is called"
## Library
- `@azure/msal-angular@1.0.0`
- `msal@1.3.2`

## Framework
- `Angular 9.1.11`

## Description
The `BroadcastService` doesn't trigger an `msal:loginSuccess` event after successful login via `loginRedirect()` unless `this.msal.handleRedirectCallback()` has been registered.

## Error Message
N/A

## Security
- Not security related

## Regression
- Unknown

## MSAL Configuration

[code]

##

[2020-06-26 06:29] copiltembel commented on #349
Yeah, too bad it's not in release yet. Even some of Microsoft's own pages don't work if you don't have 3rd party cookies enabled (ex. I couldn't save in a different location from Word Online on Opera with 3rd party cookies deactivated)

[2020-06-26 07:57] traoreba commented on #1825
Thanks @jmckennon, it worked fine

[2020-06-26 07:57] #1825 closed

[2020-06-26 09:23] wadeV12 opened #1838 "@azure/msal-angular@1.x.x keeps me logged in"
## Library
- [x] `msal@1.3.2`
- [x] `@azure/msal-angular@1.0.0`

## Framework
Angular 7.2.16

## Description
I've updated from `@azure/msal-angular@0.1.4`  which used `msal@0.2.2` to `@azure/msal-angular@1.0.0` and it uses `msal@1.3.2`. On old version when I close a tab and want to visit page again it was required to enter your credentionals again, the same behaviour was with openning app in new t

[2020-06-26 09:33] anth-git commented on #1838
Check this out https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1785

[2020-06-26 09:59] anth-git opened #1839 "[Angular] Version 1.0.0 is not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
After upgrading from v0.1.4 to v1.0.0 I constantly get those errors when trying to log in:

[code]

I'm able to log in maybe 1 time in 10, after clearing the cache or hitting ctrl+f5 several ti

[2020-06-26 10:02] harishKandikatla commented on #1820
@jmckennon thanks for getting back!

I kept the token expiration time to 10 mins. I waited for 10 mins and made an API call, I got 401 and redirected to the home page (only in IE)

I passed below Login scope

export const GRAPH_REQUESTS = {
  LOGIN: {
    scopes: ["xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"],
  },
};

[2020-06-26 10:57] harishKandikatla commented on #1820
Also, I have a request. Most of the developers are confused with MSAL implementation. We need a sample app. I don't think you handled all these cases in the sample app you provided

Why don't you provide a sample app which handles all(login, refresh token with interceptor) cases?

[2020-06-26 13:12] ArneMancofi commented on #1834
@tnorling, thanks for your swift reply. 😃 —And thanks for your tip on how to provide authorization metadata configuration manually.

I think I now understand how it's intended to work, and how to debug problems:
## Debugging MSAL HTTP OPTIONS requests failing on CORS policy

1. Realize that **the HTTP OPTIONS request is not supposed to occur**, and *will* always fail. So it must be prevented.

[2020-06-26 13:12] #1834 closed

[2020-06-26 15:09] nick-romano-kci opened #1840 "msal-browser throws error when running unit tests in Jest"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.3`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React 16.13.0
create-react-app
jest

## Description
new msal-browser package throws error when running un

[2020-06-26 16:14] tnorling commented on #1834
Thanks for the update and the detailed info on how you solved it!

[2020-06-26 18:14] jmckennon commented on #1838
@wadeV12 yeah, what @anth-git linked from the other day should help out here. You can set `prompt` to `select_account` which will force logins. The constant logging in ever across tabs has to do with how credentials are stored in AAD rather than in the browser. Please let us know if you have further questions.

[2020-06-26 18:34] jmckennon commented on #1837
Thanks for the heads up here, I was able to reproduce this. Moving over to be fixed. For now, just implementing a simple `handleRedirectCallback` or using `loginPopup` can serve as a workaround, as you mentioned.

[2020-06-26 19:29] jmckennon commented on #1839
Sorry for the inconvenience. Auth is hard and we understand the frustration.

You may have already tried this based on the information in your provided link, but you can set your `redirectUri` to a blank page (when using silent and popup flows) in order to generally avoid the "Token calls are blocked in hidden iframes" output. This is caused when your app tries to make a token call with the hash i

[2020-06-26 19:35] jmckennon commented on #1840
If you're upgrading from `1.3.0`, we never used any of the crypto objects/APIs in that version and previous. It's possible that you need to mock the instantiation of the crypto objects in your tests now after not having to do so before. This can be seen [in PublicClientApplication](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/app/PublicClientAppl

[2020-06-26 19:49] jimbarrett33 commented on #1810
@jmckennon I agree that it is intended to have `user.read` automatically included in the initial consent according to the docs you referred to but it is not happening. Issue [1401](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1401#issue-585187166) proves this because of the error that occurs when navigating to the profile in the sample app. This means that `user.read`

[2020-06-26 20:02] pkanher617 commented on #1840
@nick-romano-kci Specifically, you will need to mock the window.crypto object. See [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/src/crypto/BrowserCrypto.ts)

[2020-06-26 20:08] tnorling commented on #1839
Just to piggy-back off what @jmckennon said and provide some additional context, the timeout error happens when the top frame of your application cannot retrieve the hash from the url of the hidden iframe. There are a number of reasons this might happen, the 2 most common of which are:
1. The IDP is trying to display an error or interaction prompt and never redirected back to your application, in

[2020-06-26 20:21] jmckennon commented on #1820
Having a more comprehensive/robust set of samples is on our radar. There's been a lot of improvement over the past few months, but we still have a long ways to go and appreciate the feedback.

Sorry, I think I need clarification--if you are trying to renew after expiration, that should error out by design. Please correct me if I'm misunderstanding the use case here.

If the expiry time is set to 1

[2020-06-27 12:46] stephenstroud opened #1842 "ReadMe and B2C tenant docs misaligned?"
Inside the Azure B2C Tenant it advises using the authorisation code flow, however, the docs say it's not yet supported. Which is correct?

Github read me
![image](https://user-images.githubusercontent.com/7649287/85922574-61884f00-b87c-11ea-890e-0f02a424a7de.png)

Azure B2C tenant
![image](https://user-images.githubusercontent.com/7649287/85922584-782ea600-b87c-11ea-845a-77142fbe6fdf.png)

[2020-06-27 16:50] rellis-of-rhindleton commented on #1244
@jasonnutter - Sorry I let this go; I could not get the project to build or any imports to recognize anything, and then life intervened, etc.  I'm still up for it, if anyone cares. But I've made a fresh fork and still having the same problems. I hate to bug you all with dumb questions but I don't want to submit a pull request if I can't get the project to build on my own machine.

It looks like le

[2020-06-27 23:33] jrmcdona opened #1843 "Get logged in user in @azure/msal-browser": "^2.0.0-beta.3""
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
@azure/msal-browser": "^2.0.0-beta.3

## Description
I see in the new beta 3 version we getAccountByUsername and getAllAccounts which could return more than one account.

It is not clear to me how come we know longer have getAccount.    If I getAllAccounts, how do I know which is

[2020-06-27 23:54] jrmcdona commented on #1843
Another is example is that previously, to get the loginHint, I was getting the member name

this.msalInstance.getAccount() which would give me the user information and from there I could get the loginHint.

It seems in Beta 3 it isn't possible anymore to figure out the username you want when getAllAccounts returns more than 1 account.

[2020-06-28 22:49] jrmcdona opened #1844 "tokenResponse is null after refreshing the page in msal-browse 2.0.0-beta.3"
## Library
"@azure/msal-browser": "^2.0.0-beta.3",

## Framework
Angular 9

## Description
I have an Angular 9 app.   I had things working with Beta 2 but Beta 3 is causing challenges.

When I go incognito and sign in, I am getting a token. That works fine.

If I refresh the page right after that, the tokenResponse is null and everything falls apart.

Also, getAllAccounts is filling up with bad da

[2020-06-29 06:45] sebastiannordby opened #1845 "[Angular v10][Version 1.0.0] Library build not working(ModuleWithProviders<T>)"
## Library
- [X] `@azure/msal-angular@1.0.0`
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When building a library this error occurs, [this is because of deprecation in version 10 of Angular.](https://angular.io/guide/migration-module-with-providers)

## Error Message
ERROR: node_mod

[2020-06-29 11:01] jacksonhart commented on #701
I am also having this issue with msal 1.3.2 and msal angular 1.0.
Have tried authStateInCookie.

Does anyone have a code example of how to implement a change password button?

I use window.open(msalChangePasswordUrl, '_self') to get to the reset page.

Then on return when you cancel OR complete the process I get the error.
I can see the AADB2C90091 error in the browser URL when cancelling.

the er

[2020-06-29 12:22] qszhuan opened #1846 "[Msal 2.0.0-beta.3] ClientAuthError: state_mismatch: State mismatch error. Please check your network. Continued requests may cause cache overflow."
## Library

- [ x] `"@azure/msal-browser": "^2.0.0-beta.3"`

## Framework

## Description

This error happened during I test the Auth code flow with the latest `msal2` beta library. sometimes I can login without issue, but when I logout & re-login, the error happen.

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did this behavior work before?
Version:

##

[2020-06-29 13:37] amesas commented on #1846
Same here, with Firefox on MacosX

[2020-06-29 14:20] harishKandikatla commented on #1820
@jmckennon

I would like you to understand my current flow and correct me If I'm wrong
Below is the flow which I followed

I'm using redirect API to login into the app. Immediately after successful login and getting the token silently and storing id token in local storage. For the API calls, I'm reading token from local storage and passing it in headers

Below is the REST API call flow(using inter

[2020-06-29 16:19] vinusorout opened #1848 "Is it possible to use ADFS Federation Services authority url in place of login.microsoftonline.com"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Earlier when we were using the adal.js library our applications used to redirect to our company ADFS authority(fs.mycompany.com) for login.

Now after MSAL.js upgrade, our applications started

[2020-06-29 16:26] tnorling commented on #1848
@vinusorout ADFS support is coming, currently scheduled for the `msal@1.4.0` release, though we don't have a specific date yet. You can track issue #99 and PR #1668 for updates on when this feature will be available.

[2020-06-29 16:26] #1848 closed

[2020-06-29 16:30] tnorling commented on #1842
@stephenstroud Thanks for pointing this out, we'll make sure the docs get updated. B2C is supported in msal-browser as of version 2.0.0-beta.3, however with one caveat. You'll need to disable CORS in your browser until #1795 gets resolved. Let me know if you have any issues getting this working

[2020-06-29 16:56] jasonnutter commented on #1845
@PapaBigBear Thanks for the information. We have not had a chance to test and update MSAL Angular for compatibility with Angular v10, but we'll make sure this is fixed.

[2020-06-29 17:40] jmckennon commented on #1846
We see an issue where `state` is encoded twice, can you check to see if this is the problem is happening? And are you using a personal account or an organizational account when testing?

[2020-06-29 17:50] jmckennon commented on #1843
There is an example of how we use `getAllAccounts` [in our sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/VanillaJSTestApp2.0/app/default/auth.js#L28). If there is only one signed in user it will return that one user just like `getAccount` did. When there are multiple accounts, you will need to have some logic to determine which one you want to get.

[2020-06-29 18:16] jmckennon commented on #1820
The reason is that in certain situations when requesting an idToken (which you are doing when `clientId` is the only scope), idToken and accessToken fields on the response are both populated with an idToken. If you are using idTokens to protect your backend APIs, then yes you can use the idToken value; however, we recommend using accessTokens with custom scopes to protect backend APIs instead of i

[2020-06-29 18:34] rpd10 opened #1850 "MsalInterceptor should handle InteractionRequiredAuthError"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The default MsalInterceptor will attempt to acquire a token using `acquireTokenSilent`.  If the user has not yet consented for the given scope(s), the request will fail with `InteractionRequire

[2020-06-29 18:42] rpd10 opened #1851 "MsalGuard should acquire tokens during loginInteractively"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
MsalGuard does not currently acquire a token if you navigate to a protected route without previously being authenticated.  This leads to some inconsistent behavior regarding the `msal:` events

[2020-06-29 18:53] jrmcdona commented on #1843
Ok, so essentially we need to store the user's username in a cookie to track who they last signed in with?   That way we  can call in getAccountByUsername (username).  If we don't store the username somewhere we wouldn't know who they have last signed in with.

Is that correct?

Isn't anyway MSAL can do that for us so we can keep getAccount() ?

[2020-06-29 19:20] derisen opened #1853 "recommended practice for distinguishing loginRequest from acquireToken on the basis of response object in MSAL 2.x"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

Version: msal@2.0.0-beta.2
Sample: [ms-identity-javascript-v2 ](https://github.com/Azure-Samples/ms-identity-javascript-v2)

## Description
With msal@1.x it is possible to distinguish these by the `tokenType

[2020-06-29 19:32] pkanher617 commented on #1853
@derisen All responses in msal@2.x will contain an access token, and an id_token if `openid` and `profile` are sent. `tokenType` in v1 was used to distinguish between id_tokens and access_token responses, which is something one can still do by reviewing the values of the tokens returned.

I'm not sure I see the reason to include tokenType, at least until support for Proof-of-possession has been ad

[2020-06-29 19:41] pkanher617 commented on #1843
@jrmcdona MSAL will track the account info you have signed in, but we don't support keeping track of a current account session. If you want to ensure your application is always a single account application, you can do that yourself by ensuring you don't present a sign-in screen after the initial login.

I am investigating the bug filed in #1844 where the `getAllAccounts()` API is returning bad dat

[2020-06-29 19:43] #1853 closed

[2020-06-29 19:52] jrmcdona commented on #1843
@pkanher617  thanks .   Would you be able to add the last username they logged in with into the localStorage/sessionStorage so we can get that via MSAL API instead of rolling our own?

[2020-06-29 20:10] jmckennon commented on #1810
We're looking a bit deeper into this with the server team to get clarity on when some of these nuances occur. In the meantime, can you verify that you have not configured your app to automatically [grant consent to users on an admin's behalf](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#requesting-consent-for-an-entire-tenant)?

[2020-06-29 21:23] qszhuan commented on #1846
I’m using company account for testing. What do you mean ‘state’ encoded twice?

[2020-06-29 22:05] jimbarrett33 commented on #1810
Thanks. And, to your question...no, I did not grant admin consent to the app for the entire tenant/all users.

[2020-06-29 22:08] jasonnutter commented on #1851
@rpd10 Can you clarify what you mean? What type of tokens are you looking for, ID tokens or access tokens? MSAL Guard checks to see if you are logged in, and if not, sends you through the login flow (which will acquire an ID token).

[2020-06-29 22:11] jasonnutter commented on #1850
@rpd10 This is something we want to address. Marking as a duplicate, as there is already an open issue: #1647

[2020-06-29 22:14] jasonnutter commented on #1850
Yes, using `acquireTokenRedirect` in this scenario would result in a loss of state. If your application needs to use a redirect operation, it will be your responsibility to leave a hint to yourself about how to resume when the redirect operation is complete. This could be done in the redirect request itself by providing a value for the `state` property that your application is able to parse and in

[2020-06-29 23:58] jasonnutter commented on #1244
@rellis-of-rhindleton Run `npm run build` in the `msal-core` folder, I believe that should fix that error.

[2020-06-30 01:06] qszhuan commented on #1846
Hi @jmckennon . I updated the code to remove the authenticationState dependency on the `useCallback` and `useEffect`, now it works. but still got  the error when I do the next steps:

1. start app, and click `login` button. (logout before this step)
2. then I will be redirected to `https://login.microsoftonline.com/.....`, I input my email address, click next
3. I will be on my organisation login

[2020-06-30 02:01] rellis-of-rhindleton commented on #1244
Thanks - ran it at the top level folder. Had to restart VS Code afterward.

________________________________
From: Jason Nutter <notifications@github.com>
Sent: Monday, June 29, 2020 7:58:31 PM
To: AzureAD/microsoft-authentication-library-for-js <microsoft-authentication-library-for-js@noreply.github.com>
Cc: rellis-of-rhindleton <ellisium@outlook.com>; Mention <mention@noreply.github.com>
Subject

[2020-06-30 06:04] daniel-chambers opened #1858 "Expanding required scopes using acquireTokenRedirect causes null_or_empty_id_token error"
## Library
- [x] `@azure/msal-browser@2.0.0-beta3`

## Framework
React

## Description
If I log in with one set of scopes using `loginRedirect` and then later use `acquireTokenSilent` (and then fall back to `acquireTokenRedirect`) with an expanded set of scopes, `handleRedirectPromise` fails when returning to the page with the new access token.

## Error Message
[code]

## Security
- [ ] Is this i

[2020-06-30 11:44] harishKandikatla commented on #1820
Now I'm got some idea with your response!

Can you please answer below queries too

1. I understand the `acquireTokenPopup`  issue in IE. User context(for example form data) will be lost if I use `acquireTokenRedirect`, is there any way this can be handled?
2. I will try to implement the flow which you suggested.  I will call the silent token method every time before an API is called. But what if

[2020-06-30 15:32] m-mattu commented on #1592
Experiencing this issue as well. The constant that I have observed is it only occurs on Chrome Browsers (Desktop & mobile). However when I test the same app in Microsoft Edge (83.0.478.56) or Firefox the authentication works. I have Chrome configured to allow all cookies.

Here is my msal `config:
`export const authConfig: Configuration = {
  auth: {
    clientId: appId,
    authority: "<authority

[2020-06-30 15:43] NhatDuy1407 opened #1859 "How to deny to renew token id by acquireTokenSilent() and force it to redirect login"
## Library
- [ ] `@azure/msal-angular@1.0`

## Description
In my web app, I authenticate user login via azure b2c. I use `msal angular` with scope `openid` and add `MsalGuard`, `MsalInterceptor` to acquire token silently, then my token is expired, msal will renew token id.
In my web api, I implement an api using Microsolft Graph .Net Client to deny renew token id silently, force it to redirect log

[2020-06-30 19:13] jmckennon commented on #1859
`@azure/msal-angular` and `@azure/msal-core` implement the implicit flow, outlined by the OAuth spec, which does not use refresh tokens--this is probably why something like `invalidateAllRefreshTokens` does not work with our library.

You can try using `prompt: "login"` in your msal config to always force logins instead of silent ones.

[2020-06-30 19:21] jmckennon commented on #1846
We have an issue where the server is encoding the `state` value twice, which leads to some state errors. #1852 addresses this problem, and we think this is most likely where your issue is. This fix will be in for the next release.

[2020-06-30 19:34] jmckennon commented on #1773
Closing this as we're assuming that this is no longer an issue due to no activity. Please open a new issue if you see further problems. Thanks!

[2020-06-30 19:34] #1773 closed

[2020-06-30 19:35] jmckennon commented on #1768
Closing this as we're assuming that this is no longer an issue due to no activity. Please open a new issue if you see further problems. Thanks!

[2020-06-30 19:35] #1768 closed

[2020-06-30 19:45] jmckennon commented on #1820
Yes, you will lose context here. It's up to you how to handle this, but you can leave some sort of hint to yourself to repopulate or reload information, for example by passing in information to the `state` field, which will return whatever is passed in on the redirect response.

Some apps do call `acquireTokenSilent` periodically to keep their tokens fresh, but this is not directly supported by th

[2020-07-01 01:00] qszhuan opened #1864 "[Msal 2.0.0-beta3] endless loop when the url is not window.location.origin."
## Library
- [x ] `@azure/msal-browser@2.0.0-beta3`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

If I open the application from `http://localhost:3000`, and enabled auto login, it works fine. but when I use `http://localhost:3000/anotherurl`, the login will be in an endless loop.

I am not sure if I am doing it in a wrong way. ba

[2020-07-01 01:06] vajnorcan commented on #1851
@rpd10 @jasonnutter
I've had the same experience where I've setup in the **app.module.ts** the **MsalModule.forRoot()** and also the **MsalInterceptors**. Then I wanted to have one of my routes to be guarded with the **MsallGuard**. So typically, the user is not yet prompted to login until he hits the correct route.
The issue was, even when I was hitting the non-msal-guarded route,  I was getting

[2020-07-01 01:29] NhatDuy1407 commented on #1859
Thank you @jmckennon

[2020-07-01 02:12] lidermanrony opened #1865 "How can I prevent login_hint to be added to URL when loginRedirect() is called?"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When my users want to switch to another account, I want to redirect them to the general AAD login page where they can enter their email and password.

The problem is that when i call `loginRedi

[2020-07-01 03:21] NhatDuy1407 commented on #1859
One more thing @jmckennon what happens if I use scope `offline_access` for msal config as following [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/implicit-flow-single-page-application)?

[2020-07-01 09:17] raj-here opened #2274 "AADSTS50105: Page not rendering on server Environment"
Hi,
In local, This is page being rendered if The signed in user 'xzz@abc.microsoft.com' is not assigned to a role for the application.

It is working fine.

![image](https://user-images.githubusercontent.com/37954436/86225842-6ca6ec00-bba8-11ea-8cb0-654610750175.png)

But when I'm trying to produce the same thing on server, It is not being rendered.

Earlier, It was fall under infinite loop. I've

[2020-07-01 12:05] anth-git commented on #1839
I managed to get rid off "Token calls are blocked in hidden iframes" error by checking if I'm in the iframe.

But I still have problem with the "Token renewal operation failed due to timeout" error.
loadFrameTimeout has no effect whatsoever. If I set it to 30s, it just fails after 30s instead of 6s.

Overall, in my app I need to redirect user to login screen automatically (without Login button)
In

[2020-07-01 12:13] bilalmalik777 commented on #1796
Thanks for your reply
please complete this project asap because we are building an app in react js which is using azure ad

[2020-07-01 13:43] #1838 closed

[2020-07-01 16:28] #1763 closed

[2020-07-01 17:50] sameerag commented on #1273
All cache support is now in the library: #1258 lists all the cache related PRs in a section. Closing this.

[2020-07-01 17:50] #1273 closed

[2020-07-01 17:52] sameerag commented on #1274
#1809 addresses part of this. `AccountEntity` class replaces the current `Account` in `msal-common`.
Closing this.

[2020-07-01 17:52] #1274 closed

[2020-07-01 17:57] tnorling commented on #1864
@qszhuan This may be addressed by #1862 but to check that there's not something else going on here can you verify a couple things for me?
1. Is `http://localhost:3000/anotherurl` registered as a `redirectUri` in the app portal? Make sure anything you set as `redirectUri` is registered. If you want to redirect to a page that is not registered, set the `redirectUri` to something that is registered a

[2020-07-01 17:57] jmckennon commented on #1865
You can try calling `logout()` before calling `loginRedirect()`, maybe with some logic to detect if there is a user currently logged in.

[2020-07-01 18:01] jmckennon commented on #1859
`offline_access` shouldn't have an effect at all when using `msal-angular`, as again, it uses the implicit flow which does not deal with refresh tokens.

[2020-07-01 18:18] lidermanrony commented on #1865
Thanks, Is there any other option? logging out is kind of a last resort since it affects other browser tabs / applications

[2020-07-01 18:25] lidermanrony commented on #1865
Also I'm trying to implement the workaround (select_account), but the issue i'm encountering is that I'm not able to login with a personal account (only work or school).

here's the url i'm being redirected to:

`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=id_token&scope=https%3A%2F%2Fhelp.kusto.windows.net%2F.default%20openid%20profile&client_id=f9818e52-50bd-463e

[2020-07-01 18:42] sam-wheat opened #1867 "Angular 9 sample error"
I am am able to log in however the consent dialog is not shown.  When I click the profile button I get:

All the required scopes are granted.
Can you guys please point me in the right direction?

Thanks.

[2020-07-01 20:45] ariffadhillah opened #1869 "ReactJS frontend with Azure AD B2C error UnsupportedAuthorityValidation"
I have a problem with this, I use ReactJS frontend with Azure AD B2C, but when I run react displays this error "Uncaught (in promise) UnsupportedAuthorityValidation" I still don't understand why

import b2cauth from 'react-azure-adb2c';

b2cauth.initialize({
  instance: 'https://FunSuitDev.onmicrosoft.com/tfp/',
  tenant: 'FunSuitDev.onmicrosoft.com',
  signInPolicy: 'B2C_1_ADB2C_API',
  applicati

[2020-07-01 20:50] jasonnutter commented on #1742
@pkanher617 Is this done now that `AccountInfo` is available?

[2020-07-01 21:50] sidhuko commented on #1738
Perhaps you can clean up the bad practices and race conditions you create in your libraries by removing code which initialises in constructors and breaks the Single Responsibility Principle. Letting developers handle the hash callback is not a huge problem but your library smells of opinion and has terrible documentation. It needs drastic improvement:

https://github.com/AzureAD/microsoft-authenti

[2020-07-01 22:16] #1743 closed

[2020-07-02 00:28] jasonnutter commented on #1738
@sidhuko We have already decided to remove the automatic redirect response processing from the constructor, meaning applications using redirects need to call `handleRedirectPromise` in order to process the response. The code you linked to can probably be moved into that promise, we'll take a look at that.

Otherwise, if you have further constructive criticism or feedback (about the library, docume

[2020-07-02 01:23] vajnorcan opened #1874 "How to prevent the popup after logout. Is there a silent logout available?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
This is my config:
[code]

After I invoke the **msalService.logout()** method, the p

[2020-07-02 01:44] vajnorcan opened #1876 "How to obtain accessToken after loginSuccess event?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I can see that acquireTokenSuccess event in the broadcast service is carrying the **

[2020-07-02 01:48] qszhuan commented on #1864
Hi @tnorling, thanks for you reply, I checked my code,  I forgot to set the status and double check in the login useCallback. after I changed to this(see the comment lines), no error anymore:

[code]
I only registered `http://localhost:3000` in the app portal. and my `navigateToLoginRequestUrl ` is `true`(default).
I log in with `http://localhost:3000/anotherurl`, but the url becomes `http://local

[2020-07-02 01:51] #1864 closed

[2020-07-02 04:21] Takazudo commented on #303
@emadalsous Your comment helped me so much. Thanks!

[2020-07-02 06:41] crobin1 commented on #1069
Got the exact same problem as @betterliyu. Why is it even closed?

[2020-07-02 07:35] sundeep22 opened #1877 "Error logging in using MSAL for Angular 9"
Hello, I'm using the below packages in my Angular 9 project:

 "@azure/msal-angular": "^1.0.0",
 "msal": "^1.3.2",

and my app module contains the below code:

MsalModule.forRoot({
      auth: {
          clientId: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
          authority: "https://login.microsoftonline.com/XXXXXXXXXXXXXXXXXXXXX/",
          validateAuthority: true,
          redirectUri: "http://loca

[2020-07-02 08:40] sameerag commented on #1492
The below PRs enabled `msal-common` cache functionality to work for `msal-node` and `msal-browser`:

| #1711   | [msal-node][#1] SilentFlow support in msal-common | Completed |
| #1762 | [msal-node][#2] Merge cache logic in `msal-common` for `node` and `browser` platforms | Completed|
| #1770 | [msal-common family][#3] Utilize ScopeSet across the library | Completed |
| #1771 | [msal-common][msal-

[2020-07-02 08:40] #1492 closed

[2020-07-02 08:41] sameerag commented on #1332
#1878

[2020-07-02 10:27] ChiragRatra-0009 commented on #1650
Hey , I am facing same error even while sign-in with email, can you please share the demo code for better understanding at front-end and back-ed both

[2020-07-02 10:31] ChiragRatra-0009 commented on #1650
Hey, I am facing same problem while sign-in through email , I get error **Hash does not contain state**. Has anybody got the workaround for it.  I followed this policies sample.
https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-email/source-code.

[2020-07-02 11:26] stephenstroud commented on #1650
@ChiragRatra-0009  I raised this with the Azure team after wasting hours trying to figure out the problem. There response:

"The feedback received is that MSAL requires a "state" param that matches a cached value for browser-based apps (SPAs). This state param identifies the request and determines the original token time and is used to prevent cross-site request forgery attacks. Because of this, f

[2020-07-02 13:54] ChiragRatra-0009 commented on #1650
Hey @stephenstroud , I really appreciate your inputs. Thanks.
I got the understanding of flow  you suggested. But I am actually having problem configuring js code for sending id_token_hint to adb2c for authentication . It would be great if you could share some sample code.

[2020-07-02 14:36] sidhuko commented on #1765
Causing an issue for me too. Most recent version:

[code]

[2020-07-02 14:39] sidhuko commented on #1765
You say pass in the sid too but it returns undefined:

```sid: undefined```

[2020-07-02 16:05] jasonnutter commented on #1877
@sundeep22 If you are using the redirect operations, you should invoke `handleRedirectCallback`, as shown here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular9-sample-app/src/app/app.component.ts#L26-L33

[2020-07-02 17:03] jasonnutter commented on #1876
@vajnorcan You can use the `acquireTokenSilent` API to acquire an access token after logging in.

[2020-07-02 17:06] jasonnutter commented on #1867
@sam-wheat Are you using the pre-configured client ID in the sample? Can you try [creating a new app registration](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#redirect-uri-msaljs-10-with-implicit-flow) in your own tenant, and then try again?

[2020-07-02 17:06] jasonnutter commented on #1867
Also, in the future, please use one of the [pre-configured issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose), thanks!

[2020-07-02 17:49] jmckennon commented on #1869
You need to provide both `authority` and the `validateAuthority` values in the [msal config when using AAD B2C](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications).

From the docs:

[2020-07-02 18:05] jmckennon commented on #1839
@anth-git we're currently testing a potential fix for the token renewal problem with an internal customer, if it works we'll get it out ASAP for `1.3.3`. I'm going to close this issue as the renewal problem is being tracked by #1592. Please open a new issue if you have further questions. Thanks!

[2020-07-02 18:05] #1839 closed

[2020-07-02 18:05] rajithakolan opened #1879 "handleRedirectCallback not capturing the "ClientAuthError: Invalid state" errors. Hot to capture this error in angular9"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did th

[2020-07-02 18:07] jmckennon commented on #1816
Closing as I'm assuming this is no longer a problem due to inactivity. If you have further questions please open a new issue. Thanks!

[2020-07-02 18:07] #1816 closed

[2020-07-02 18:07] jmckennon commented on #1814
Closing as I'm assuming this is no longer a problem due to inactivity. If you have further questions please open a new issue. Thanks!

[2020-07-02 18:07] #1814 closed

[2020-07-02 18:08] jmckennon commented on #1806
Closing as I'm assuming this is no longer a problem due to inactivity. If you have further questions please open a new issue. Thanks!

[2020-07-02 18:08] #1806 closed

[2020-07-02 18:31] jmckennon commented on #1765
@sidhuko could you open a new issue with your msal versions, configs, and usage? Thanks!

[2020-07-02 18:44] pkanher617 commented on #1501
Merged in #1872

[2020-07-02 18:44] #1501 closed

[2020-07-02 18:49] jmckennon commented on #1874
To clarify: are you specifically showing a popup for the logout/select account feature in your app? This functions as a redirect, which is why you're likely seeing this functionality.

Can you also provide the version of `angular` that you're using? Some things aren't quite working in angular10 yet.