[2020-04-23 10:39] skyovi commented on #1513
@tnorling  thanks for you support. I will test with newest version of library and will share the feedback

[2020-04-23 12:55] jake-brandt commented on #1000
@pkanher617 and @hamiltonha, do you know if we will be able to set up B2C to issue **refresh tokens as a cookie** while returning access tokens in the normal JSON response? In the past I've employed refresh tokens this way with a CSRF antiforgery token, rather than returning refresh tokens in the body. In the world of SPAs, many apps use quite a few 3rd party libraries which may have their own XSS

[2020-04-23 14:48] m-sterspace commented on #1535
@DarkLite1

I haven't used Vue so forgive me for my unfamiliarity, but I think you might be messing up the flow a little bit for the login redirect method (or maybe I am, but I did eventually manage to get my method to work in my React app lol).

First of all, the handleredirectcallback method doesn't make a whole lot of sense to me, and I've expressed why here and here. I think it's a bit of a co

[2020-04-23 15:04] DarkLite1 commented on #1535
Thank you for the detailed clarification. I you look at my code I do this:

[code]
So as a newbie, I use this way to determine if the sign-in was successful and take the appropriate actions for the GUI. This works fine when working with the pop-up but not for redirects as it doesn't return a `resolve` or `reject` from a `Promise`. To be able to set my GUI buttons correctly I need a way the works f

[2020-04-23 15:32] DarkLite1 commented on #1535
Thank you @m-sterspace , I feel less stupid because you complemented me on thinking about accessing the cached token with the `acquireTokenSilent` method. Feeling a little les green now behind the ears :)

But yes, that is exactly what I meant. The mage reload part and all that is covered like this in my app (which is called on the lifecycle hook `mounted` in Vue.js:

[code]

So the only thing I n

[2020-04-23 16:16] m-sterspace commented on #1535
How do you determine which method is being used though? Can you not put an if statement somewhere that says "If using popup, execute this sign in function, but if using redirect, execute this one?"

Also, I don't think it should actually matter if you `await msal.loginRedirect(loginRequest)`. When you call loginRedirect it will return undefined which the await keyword should just ignore, however,

[2020-04-23 16:22] DarkLite1 commented on #1535
OMG.... You are soooo right! And here I was thinking that it all happend in my `signIn()` method but it isn't. I actually only added the `setSignedInAccount` function for page reloads, as-in a user presses F5. But what actually is happening is that this is used after a `redirect` too, just like you say.

You are correct, I need to look differently at it and just call the correct sginIn method and

[2020-04-23 16:32] m-sterspace commented on #1535
Haha don't worry, it is a bit of a mind f*** and the docs don't do a god job of explaining what is happening with the redirect method if you're not already really familiar with authentication. I was in the exact same boat and struggled through all of this like 2 months ago, and have issues both on the [library repo](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1288#iss

[2020-04-23 16:32] tnorling commented on #1535
@DarkLite1 The redirect flow can be confusing and we could do a better job of documenting how it works, but in the meantime I'll try to clear up the confusion. As @m-sterspace pointed out, redirecting away from the page means you are creating a whole new instance of the application when you return. This means that calling a redirect method cannot return anything. Rather what happens is, the page i

[2020-04-23 16:32] #1535 closed

[2020-04-23 16:42] andersthorsen commented on #741
I have to agree with @es-repo in that this is an artificial limitation.

<FrustratedModeOn>B2C as a platform should work seemlessly as a login platform without tons of coding to adjust to all its quirks.</FrustratedModeOn>

[2020-04-23 16:47] jasonnutter commented on #1536
@crystalbyte Thanks for the heads up, unfortunately looks like Github relative links aren't handled properly on npm.com. I'll have a PR to fix shortly.

[2020-04-23 16:48] DarkLite1 commented on #1535
Totally happy with the help and feedback I got here. I felt a bit lost to be honest as I thought, as a beginner, I didn't understand enough of authentication and javaScript in general. It's always a bit of a struggle starting of, especially with complex things like authentication. But it's super important to get that right, so I'm really glad you guys (and girls and gender x) are there to help peo

[2020-04-23 16:55] #1536 closed

[2020-04-23 17:08] tnorling commented on #1535
@DarkLite1 The tokens are cached in ```localstorage``` or ```sessionstorage``` by msal so there should not be a need to store them separately on your own. ```acquireTokenSilent``` will always look for a cached token before attempting to make a network call. Therefore the recommendation is to call ```acquireTokenSilent``` and if it throws an ```InteractionRequired``` error call ```acquireTokenRedir

[2020-04-23 17:44] #1153 closed

[2020-04-23 17:45] m-sterspace commented on #1535
@tnorling out of curiosity, is there a security concern from keeping your token in memory as opposed to letting Msal keep it in local/session storage? The first thing my application does is acquire an actual token to get the user's application specific account information, so I've just kept that token in my global store, and just check to make sure it's not expired before attaching it to subsequen

[2020-04-23 17:49] jasonnutter commented on #1502
Closing due to inactivity and the inability to reproduce the issue, please let us know if this is still an issue.

[2020-04-23 17:49] #1502 closed

[2020-04-23 17:50] jasonnutter commented on #1464
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:50] #1464 closed

[2020-04-23 17:51] jasonnutter commented on #1431
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:51] #1431 closed

[2020-04-23 17:52] jasonnutter commented on #1414
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:52] #1414 closed

[2020-04-23 17:52] jasonnutter commented on #1366
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:52] #1366 closed

[2020-04-23 17:54] zamzowd commented on #741
The requirement for `sid` or `login_hint` isn't even a Azure AD B2C thing. It works perfectly fine without those. So far as I can tell, this is only a thing in MSAL.js, and nowhere else.

[2020-04-23 17:54] jasonnutter commented on #1364
Updated installation and upgrade instructions are in the README: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular

Closing.

[2020-04-23 17:54] #1364 closed

[2020-04-23 17:55] jasonnutter commented on #1216
Closing due to inactivity, let us know if you have any further questions.

[2020-04-23 17:55] #1216 closed

[2020-04-23 17:57] jasonnutter commented on #1099
I believe this should be fixed in teh new version of MSAL Angular, closing.

[2020-04-23 17:57] #1099 closed

[2020-04-23 17:58] jasonnutter commented on #1103
Documentation on how to configure MSAL Angular is available here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/configuration.md

Closing.

[2020-04-23 17:58] #1103 closed

[2020-04-23 17:58] jasonnutter commented on #1197
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:58] #1197 closed

[2020-04-23 17:59] jasonnutter commented on #930
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 17:59] #930 closed

[2020-04-23 18:00] jasonnutter commented on #553
Closing due to inactivity, let us know if you have further questions.

[2020-04-23 18:00] jasonnutter commented on #844
Closing, as the question is answered above.

[2020-04-23 18:00] #844 closed

[2020-04-23 18:25] #1327 closed

[2020-04-23 20:04] sameerag commented on #1241
This could be a bug in the implicit flow. We do not necessarily set response_type=id_token_token when forceRefresh: true is set. We will check that part of the code, and if it is a bug as I suspect, will add the PR here.

[2020-04-23 20:07] sameerag commented on #1521
Yes, and one thing to remember here is that the `correlationId` is a per request based construct, hence please make sure you have it set to a unique per API call: eg loginPopup(.., id1) -> acquireTokenSilent(..,id2) etc.

[2020-04-23 21:13] eeskildsen commented on #1167
@jakehockey10 I ended up solving this the hard way. I created a new project and migrated 100+ files over one by one.

As best as I can tell, my problem was that I was importing HttpClient wrong in one of my components. As I was migrating, I ran across this import:

    import { HttpClient } from '../../../../../../../node_modules/@angular/common/http';

When I declared that component in a module,

[2020-04-23 22:05] tnorling commented on #962
Closing as this was answered. Please let us know if you are still having issues

[2020-04-23 22:05] #962 closed

[2020-04-23 22:44] tnorling commented on #1369
@satish1597 Can you check your network requests and see if the response token is being returned in the hash on redirect? Also do you see the token being cached in local storage?

If you're able to reproduce this using one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples) and/or provide logs, network traces, etc. we can better assist you in debugg

[2020-04-23 22:50] tnorling commented on #1430
@NerdyB713 Msal 2.0 is currently in beta. Angular updates to 2.0 currently do not have an ETA. You can track this ticket for updates on MSAL 2.0 #1000

[2020-04-23 22:50] #1430 closed

[2020-04-23 23:05] flashtheman commented on #560
Odd, my application was working until about one week ago. Now, I get an invalid token too. I think something on Azure side.

[2020-04-24 04:40] saurabhjain-MA commented on #560
the initial call to MS api returns a token signed through **login.microsoftonline.com** but when i call **acquireTokenSilent** method of lib, it returns toke signed through **sts.windows**.  lib is **"@azure/msal-angular": "^1.0.0-beta.4"**.

[2020-04-24 04:51] DarkLite1 commented on #1535
@tnorling thank you for the clarification. My thinking as such was correct to have it all handled by msal in the background and don't store the token myself.

We use `msal.getAccount()` to figure out if a user is signed-in and in turn `acquireTokenSilent` will know what account to look for. The only way to clear the value returned by `msal.getAccount()` is by calling ``msal.logout()``. An axpired

[2020-04-24 06:17] suresh777 commented on #1290
I guess you are using react-aad-msal but i am using msal js library. Here where should i give token refresh uri
export const msalApp = new UserAgentApplication({
  auth: {
    clientId: “XXXXXXXXXXXXXXXXXXXXX”,
    authority:
      "https://login.microsoftonline.com/XXXXXXXXXXXXXXXX/“,
    validateAuthority: true,
    postLogoutRedirectUri:
      "https://login.microsoftonline.com/XXXXXXXXXXXXXXXX

[2020-04-24 07:03] hammerstrike opened #1540 "Can we use Angular Wrapper of MSAL for production ?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Using Angular wrapper "@azure/msal-angular": "^0.1.4" and using Angular 8.x in app
for project which will be going in production.
Roadmap shows Angular wrapper 1.x is still in beta version.
How

[2020-04-24 07:50] Ascenticprathap commented on #1375
this works perfectly .Kudos @oskarcronwall  👯‍♂️

[2020-04-24 08:08] element8763 opened #1541 "Can not get accesstoken using webform"
## Library
- [ ] `msal@1.2.2`

## Description
If I use acquireTokenSilent in a webform,can not get cache token.The cache item key storaged in a clientid instead of a scope！

## Regression
Can be used in a html page

## Configuration
Please provide your MSAL configuration options.

[code]

## Browsers
Chrome &Edge

[2020-04-24 11:31] masalinas opened #1542 "URI Redirection created by service is wrong has # character separator"
## Library
- [x] `msal@1.2.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.5`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 9

## Description
I registered my app in my Azure AD BC with this redirect uri: http://localhost:4200/sample

I configure the MsalModule service authService like this:

[code]

When click on login the ha

[2020-04-24 14:33] m-sterspace commented on #1535
@DarkLite1

I mean, that's an option, and it makes sense if acquiretokensilent can get a new token without interaction after the last one has expired, but as far as I can tell that is not the case.

As far as I can tell, since the msal 1.X library is limited to the implicit grant flow, once your token expires, it always requires interaction to refresh.

With that being the case, acquiretokensilent

[2020-04-24 15:22] DarkLite1 commented on #1535
I hear you. To be honest I was under the impression that acquiring the token silently would still be able to do so after the token has expired. In my mind msal has that password stored somewhere in the session (hashed or something) so `acquireTokenSilent` would succeed. It wil only fail when the password of the user in AD has changed or the user's account has been disabled or the token is older th

[2020-04-24 15:57] tnorling commented on #1540
@hammerstrike We generally do not recommend using beta versions for production applications. However, Angular 1.0 will be coming out of beta and will be GA very soon. We will post an announcement when that happens so keep your eyes open for that.

[2020-04-24 15:57] #1540 closed

[2020-04-24 15:59] tnorling commented on #1541
@element8763 Are you getting any errors? Steps to reproduce would be helpful in debugging this for you.

[2020-04-24 16:07] tnorling commented on #1542
@masalinas Tokens are returned in the form of a hash on the url. This is intended behavior. Can you explain a little more about why this is an issue for you? If you are trying to use a hash routing strategy and this is preventing that, please try ```msal@1.3.0-beta.1``` and ```msal-angular@1.0.0-beta.5```

[2020-04-24 16:47] masalinas commented on #1542
The problem is simple, the redirection URL created by @azure/msal-angular package and loaded in my google chrome after the Azure AD B2C service authorize my account is wrong because is like this. It include the # character to separa the URI from id_token parameter:

     http://localhost:4200#id_token=<TOKEN>

And it must be like this. Including de ? character:

     http://localhost:4200?id_token

[2020-04-24 17:33] tnorling commented on #1535
@DarkLite1 msal does not store user passwords, in fact it never touches them. msal merely directs traffic between the application and AAD. Token lifetimes are 1 hour in the browser, but when you sign-in a session token is created and stored on the AAD server, as long as your session with AAD is active you can pass your ```sid``` (session id) or ```loginHint``` to your ```acquireTokenSilent``` call

[2020-04-24 17:34] #1225 closed

[2020-04-24 17:37] tnorling commented on #1542
This is expected behavior and the way that both msal and the service operate. This is not something we can change. If you can explain to me why returning the token in the hash is a problem for you I can provide better guidance.

[2020-04-24 17:40] masalinas commented on #1542
I don’t need to receive the token in URL, request redirection, is possible
avoid that??

El El vie, 24 abr 2020 a las 19:37, Thomas Norling <notifications@github.com>
escribió:

[2020-04-24 17:45] tnorling commented on #1542
The token must be returned in the url. When you are redirected to ```http://localhost:4200/sample``` it will include the token in the hash of the url. Here you must initialize msal so that it can process this hash and cache your token for later use. When this is done it will remove the token from the url. Are you saying that the token is not being removed from the url?

[2020-04-24 18:07] jasonnutter commented on #1375
Thanks for the infor, we'll make sure this gets fixed.

[2020-04-24 18:18] jasonnutter commented on #560
@saurabhjain-MA Are you encountering problems when attempting to use these access tokens? And if so, what are you using to validate the access tokens?

[2020-04-24 18:18] m-sterspace commented on #1535
@DarkLite1  @tnorling  thank you very much for the discussion and explanation. In the middle of this thread I kind of realized that I must be doing something wrong since Microsoft's javascript apps do not require you to login every hour like mine do and now this is all making a lot more sense as to why.

In regards to managing the token myself, I don't think it's a lack of capability of the librar

[2020-04-24 19:05] tnorling commented on #1535
@m-sterspace Authentication is a complex subject and we definitely have plans to improve our documentation.

You can read more about ```sid``` and ```loginHint``` [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#automatically-select-account-on-azure-ad). The short story is that ```loginHint``` identifies the user, to differentiate between other sessions you may ha

[2020-04-24 19:49] tnorling commented on #1091
Closing due to inactivity. Let us know if this is still an issue with msal-angular.

[2020-04-24 19:49] #1091 closed

[2020-04-24 19:57] tnorling commented on #1219
@jfbloom22 Is this still an issue?

[2020-04-24 20:14] tnorling commented on #1290
@suresh777 Pass it into the request object you send to ```acquireTokenSilent```, not to your msal config. You will need to also make sure that it is registered in the app portal as a valid redirect uri

[2020-04-24 20:57] tnorling commented on #1081
@shane7218 Sorry for the delayed response. Is this still an issue when upgrading to a newer version? e.g. ```msal@1.3.0-beta.1```?

[2020-04-24 21:24] tnorling commented on #1521
@lborghsvanin Can you clarify are you logging out between requests? Msal does not currently support multiple signed in users on one application. If you want to switch accounts you should first logout and then do a new sign in on the 2nd account. We realize this isn't ideal and we're looking at ways to enable this functionality, but unfortunately dont have an ETA right now.

It's curious that you s

[2020-04-24 22:19] tnorling commented on #1063
@eirikb Sorry this went unanswered. You can include several different scopes in your login request. This will allow you to pre-consent to the scopes in question. Then in order to actually get your access tokens for these, you need to call ```acquireTokenSilent``` once for each resource you are trying to access. If ```acquireTokenSilent``` fails with an ```InteractionRequired``` Error you should ca

[2020-04-24 22:19] #1063 closed

[2020-04-24 22:30] tnorling commented on #1231
Closing as this was fixed in the mentioned PR. Let us know if this is still an issue.

[2020-04-24 22:30] #1231 closed

[2020-04-24 22:35] tnorling commented on #1253
@toddfsnyder @quickstar Is this still an issue in ```msal@1.3.0-beta.1```?

[2020-04-24 22:42] tnorling commented on #1318
Looks like this was fixed. Let us know if its still incorrect.

[2020-04-24 22:42] #1318 closed

[2020-04-25 07:16] DarkLite1 opened #1545 "Remove accounts from the token cache"
## Library
- [x] `msal@1.2.2 from `npm install msal`

## Description
I was wondering if there is a way to clear the session/cache of `msal` completely?

In my app the `logon` and `logout` functions flawlessly thanks to `msal`. However, sometimes when we are within the company network we get a credential popup from Google Chrome where we have to enter our domain credentials (`bob@contoso.com`) befo

[2020-04-25 12:02] zhaozhongming commented on #1035
I am having the same error in firefox, new edge, I already set storeAuthStateInCookie to true

[2020-04-25 19:44] mxswat commented on #759
@jasonnutter I need to create a custom scope also if I'm using Azure Function Apps?

[2020-04-26 01:53] jakehockey10 commented on #1222
@jasonnutter I'm having this issue across my entire team, and don't have the `MsalGuard` applied to our root route, nor do we redirect to a different route from the route that we specify as the `redirectUri`.

When I click on the link in the error message, our app opens in a new tab, and we are logging in successfully, but if I refresh the page, the error returns.

Where does one set `system.loadF

[2020-04-26 07:14] dylan-hart opened #1546 "How do I prevent token replay for access tokens acquired using @azure/msal-browser@2.0.0-beta.0?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How do I prevent replay of access tokens acquired using the @azure/msal-browser@2.0.0-beta.0 library?

I'm familiar with checking the `nonce` claim against a cache of previously seen values. T

[2020-04-26 07:33] dylan-hart opened #1547 "How can my backend discover the issuer URL for access tokens acquired using @azure/msal-browser@2.0.0-beta.0?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How can I set up a process to discover the issuer URL for access tokens that are acquired using the @azure/msal-browser@2.0.0-beta.0 library?

I'm familiar with using a `.well-known/openid-conf

[2020-04-26 09:11] DarkLite1 opened #1548 "How to add extra scopes with authRedirect after login"
## Library
- [x] `msal@1.2.2` from `npm install msal`

## Description
In my Vue.js SPA app I am authenticating the user using `msal` as it is done in [the SPA example](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2): I'm a little bit confused about using `scopes`  and what happens when extra scopes are required later on in the app's life-cycle with `authRedirect` .

When

[2020-04-26 12:56] captain-clean commented on #1222
@jasonnutter Sorry for the late reply. I gave your suggestion a try, but did not succeed fixing my problem.

When setting the ```redirectUri``` to a page not requiring authentication I experience the same issue. Also, I've noticed that when allowing ```X-Frame-Options: SAMEORIGIN``` rather than ```X-Frame-Options: DENY``` the request is more likely to succeed.

Thanks for the help.

[2020-04-26 15:51] badams2527 commented on #842
Are there any updates on this? Google OAuth with B2C seems to be broken still.

[2020-04-27 05:04] saurabhjain-MA commented on #560
@jasonnutter , i'm using a python library in backend to validate the token. I know the public key for the issuer **login.microsoftonline.com**, so i can validate it, but for **sts.windows.** it failed.

[2020-04-27 05:09] saurabhjain-MA commented on #560
So ideally the library should make sure that both tokens(generated initially vs generated through  acquireTokenSilent method of msal angular lib) should  have same issuer. and if it's not happening(and may take time) can i've public key for issuer **sts.windows** that i can use to validate on backend.

[2020-04-27 07:06] lborghsvanin commented on #1521
@tnorling Ok, that's something I will try, but I am not sure this is something that fits our application flow. It does work for corporate accounts as described in my original post.

Another possibility I see is to switch from prompt=select_account to prompt=login, but I also seem to be running into an issue there. I cannot switch account, is this because of the same reason that we need to logout f

[2020-04-27 08:05] suresh777 commented on #1290
@tnorling i am passing like below still it is not working, i am getting token renewal client error

export const LOGIN_REQUEST = {
  scopes: ["xxxxxxxxxxxxxxxxxxxxxxxxxxx"],
  redirectUri:"http://localhost:3000/auth.html"
};

 msalApp
      .acquireTokenSilent(LOGIN_REQUEST).then((response) => {
})

[2020-04-27 10:05] PrashanthReddy7 opened #1549 "during login call - login is already in progress"
## Library
-1.1.3
-https://alcdn.msauth.net/lib/1.1.3/js/msal.min.js

## Description
Facing "login in is already in progress" issue.
I have cleared the cache &  cookies, but still the same issue

Error Messgae:
Message received in processMessage: {"type":"dialogMessageReceived","message":"{\"status\":\"failure\",\"result\":{\"errorCode\":\"login_progress_error\",\"errorMessage\":\"Login_In_Progres

[2020-04-27 10:47] sivahanuman commented on #1198
Can i use this fix in production app?

[2020-04-27 12:43] satish1597 commented on #1369
@tnorling
I tried with the sample app. It is running fine there. So I don't know if the issue is something in my code or not. Because I had used the same sample code in my code as well but it is not working properly. I checked the local storage and token is being saved there and it gets cleared as soon as it is stored. With the network I found out that for the authresp I am recieving 302 status co

[2020-04-27 13:54] webteambel commented on #1439
@nmehlei  can you please provide a git rep so I can test it, I will try to figure out a solution , I really need this auth , we have a new project in progress and the deadline is coming soon , and I'm not able to do the Auth right now ... :/

[2020-04-27 14:02] nmehlei commented on #1439
@webteambel Unfortunately no, I moved on from Ionic as we just had too many issues with it. Though if I remember I just followed exactly the same guides as for angular.

[2020-04-27 15:11] jchri853 commented on #1439
@webteambel  I'm having some success using this plugin https://github.com/wi3land/ionic-appauth-ng-demo

[2020-04-27 16:04] tnorling commented on #1549
@PrashanthReddy7 Can you update to the latest version of msal and let us know if this is still an issue? ```msal@1.3.0-beta.1``` is currently available. Thanks!

[2020-04-27 16:24] jasonnutter commented on #1035
@zhaozhongming Please try `msal@1.3.0-beta.1` and let me know if it still an issue.

[2020-04-27 16:30] jasonnutter commented on #759
@mxswat Yes, if you are using access tokens for a custom API (e.g. an Azure Function), you should create a custom scope.

[2020-04-27 16:35] devInterests commented on #349
Any news on that? Have users with MacOS and Windows 10 using Chrome and receive the same issue by first token refresh. It seems b2c cookies are not send, but I can see that they are there and not blocked. By other users with same setup everything works fine.

[2020-04-27 16:35] jasonnutter commented on #1222
@jakehockey10 If you can share a Fiddler trace, that would be helpful.

@captain-clean A Fiddler trace would also be helpful here.

When silently acquiring tokens, MSAL will load your redirect URI inside an iframe. If you have your server setup to return the `X-Frame-Options: DENY` header, your app will be unable to load in the hidden iframe, which results in the library being unable to read the r

[2020-04-27 16:38] tnorling commented on #1548
@DarkLite1 You can include scopes for up to 3 resources in your login request, I am not aware of a specific limit on the number of scopes you can request in a single call. This will allow you to require the user to pre-consent to the scopes needed to run the application. This will also allow you to later acquire the access tokens for these scopes silently. Any scopes you have not consented to late

[2020-04-27 17:00] tnorling commented on #1545
@DarkLite1 You should be able to call the ```clearCache()``` method on your msal object. Let me know if you have additional questions about this.

[2020-04-27 17:00] #1545 closed

[2020-04-27 17:05] tnorling commented on #1494
Let us know if this is still an issue.

[2020-04-27 17:05] #1494 closed

[2020-04-27 17:06] tnorling commented on #1446
Closing. Let us know if this is still an issue.

[2020-04-27 17:06] #1446 closed

[2020-04-27 17:22] tnorling commented on #1521
@lborghsvanin What is happening here is that msal sees there is already a logged in user and provides a ```login_hint``` indicating who is logged in. This is used to pre-fill email information if you are not logged in, or to reference your active session if you are. For MSA accounts what is happening is that your request is providing both the ```login_hint``` and ```prompt=select_account``` and th

[2020-04-27 17:22] #1521 closed

[2020-04-27 17:37] tnorling commented on #1290
@suresh777 Can you try opening the link provided in the error in a new tab or window? This might help you narrow down what is happening.

[2020-04-27 17:44] hpsin commented on #560
@tinodo  this is **not** accurate.  When an API  (the resource AKA target AKA scope-owner of the access token) changes their token version, it does change the issuer of the access tokens issued for that API.  Every API sets this differently, so depending on the API you plan to call, you may get tokens with different issuers and token versions. If you have encountered behavior that runs opposite to

[2020-04-27 18:05] tnorling commented on #1546
@dylan-hart Can you explain a little more about your use case? The library should do these types of things for you in the background. The ```nonce``` claim is generated by the library before each request, sent back by the identity provider and then the library validates that it matches what was sent. Is this not sufficient for your use case?

[2020-04-27 18:42] tnorling commented on #1547
@dylan-hart The issuer listed in the metadata endpoint is the default issuer. The issuer included in your token is the actual issuer of the token and can vary depending on which cloud is issuing the token. Are you trying to verify whether the token issued came from a trusted source? If so, msal has mechanisms in place to do this, you should not need to do this validation yourself.

[2020-04-27 18:45] jasonnutter commented on #1547
@dylan-hart Here is some additional context around the issuer field: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/560#issuecomment-620133340

[2020-04-27 19:31] #1497 closed

[2020-04-27 20:36] dylan-hart commented on #1546
Hi,

I'm probably misunderstanding how to use the library somehow, or perhaps some aspect of using tokens.

I've got a web app that's registered in my AAD. The web app uses .loginPopup() to acquire an ID token. Once it's successfully acquired an ID token, it then calls .acquireTokenSilent() with some scopes to acquire an access token and passes that access token on to a backend application that is

[2020-04-27 20:56] dylan-hart commented on #1547
Ah! Thanks very much both. This clears it up pretty well for me, I think.

@tnorling That's basically what I was attempting I suppose, just probably even more niavely than expected lol. I'm assuming I can't use msal in my backend application, which is a Node.js app running on a remote server, so I'm using the jws and jsonwebtoken NPM packages to decode and verify access tokens sent to it by browse

[2020-04-27 21:14] tnorling commented on #1546
@dylan-hart Gotcha. We don't recommend using msal-browser for applications which have a backend. It is intended to be used only for Single Page Applications. If you are using the access tokens on your backend you should obtain the access tokens on your backend. You can, however, acquire the Authorization Code with msal-browser and pass this to your backend to use to acquire the access token. There

[2020-04-27 21:35] dylan-hart commented on #1546
Ah. Thanks @tnorling ! I actually didn't realize SPAs had no backend. I thought 'single page application' just meant there's no full reloading of the browser window. Whoops.

Thanks for your offer! My backend is a Node.js app.

Lastly, just for reference, here's all the fields of an access token as decoded by https://jwt.ms:
[code]

[2020-04-27 22:28] tnorling commented on #1546
@dylan-hart No worries, you're not wrong, that is what it means. However, the idea is that your frontend is doing most of the work and really just making API calls to get what it needs to display its content. Authentication in the browser is inherently less secure than authentication on a backend so for that reason, if you have a backend component, we recommend you do your authentication there. Ad

[2020-04-27 22:39] dylan-hart commented on #1546
Oh got it. Thanks very much for your help! This particular project isn't in production yet, fortunately. Eagerly awaiting the Node.js preview, and any more information you're able to provide about the nonce field in the access tokens.

[2020-04-27 22:54] #1518 closed

[2020-04-28 00:43] jasonnutter commented on #1198
@sivahanuman `msal@1.3.0` is now available on npm.

[2020-04-28 01:02] tnorling commented on #1547
@dylan-hart I suppose you could check if the issuer field contains your tenant id. May be better than nothing in the interim until we get msal-node pushed out? Closing this but let us know if you have additional questions.

[2020-04-28 01:02] #1547 closed

[2020-04-28 01:26] MaximBalaganskiy commented on #1035
@jasonnutter we've got this issue with msal@1.3.0. Strangely enough, only when the app is deployed. Works with localhost though.

[2020-04-28 01:50] MaximBalaganskiy commented on #1035
Sorry, bad timing... The CI picked up 1.2.2 and locally it was already 1.3.0. It's fixed in 1.3.0 for us.

[2020-04-28 06:39] DarkLite1 commented on #1548
Thank you for the feedback @tnorling , much appreciated as always. I really believe there is a bug in the sample as it's not showing the `Read mail` button when using the `authRedirect` method instead of the `authPopup`. So maybe someone should have a look at that.

Regarding scopes I'm still a bit confused. Consider the following code:

[code]
Now when a user logs on to the app he will have to gi

[2020-04-28 07:25] suresh777 commented on #1290
I clicked that link it opens in new tab
http://localhost:3000/auth.html#id_token=xxxxxxxxxxxxxxxxxxxxxxxx
the site cannot be reached localhost refused to connect message showing on browser

[2020-04-28 08:37] PrashanthReddy7 commented on #1549
@tnorling Thank you for your reply, its working now with msal@1.3.0-beta.1 and I have following queries.
1. Can you please share the CDN url for the same (msal@1.3.0-beta.1), I couldnt find it in Git.
2. Since its in beta, may I know,  by when it will be available for PROD.
3. And I am facing following issue sometimes, while login pop up openes ,its throwing as
"Failed to load resource: the server

[2020-04-28 11:13] Riff451 commented on #127
Any idea or reason on why this is working only with personal accounts? I understand this is probably not an issue with the library, but I couldn't find a better place to ask and this one seems to be the more up-to-date discussion about the topic. Thank you very much.

[2020-04-28 13:27] idri commented on #1169
@sameerag Do you have any updates on this feature? When will this be included in an official release (I see PR #1201 is still open)?

My usecase: I have an Angular SPA with an iframe that needs to performs loginRedirect() to Azure AD B2C login page for Credentials Entry and token retrieval. We don't want to use loginPopup() as this would break our SPA flow. The custom policy is configured to use i

[2020-04-28 13:39] Hampfter opened #1554 ""Forgot Password" click results in msal:acquireTokenSuccess Event"
## Library
- `"@azure/msal-angular": "^1.0.0-beta.5"`
- `"msal": "^1.3.0"`

## Framework
 `"@angular/core": "8.2.3",`

## Description
When I start a Login UserFlow and the User clicks on `Forgot your password?`, I should get a redirect to my Page with an AuthError like this:
[code]

The Redirect happens, but if i subscribe to the msal:loginFailure or msal:acquireTokenFailure events in the broadcas

[2020-04-28 15:14] tnorling commented on #1548
@DarkLite1 There's a few things to unpack here. First, regarding state of the app, the easiest way to approach this is to implement the `handleRedirectCallback` method and call your `callGraph` method if the following conditions are met:
1. A response was returned, not an error
2. The response type is of type `access_token`

Using the response type will help you differentiate between whether you a

[2020-04-28 15:19] jakehockey10 commented on #1222
I hope this is what you were after.  I haven't used Fiddler before:

[code]

[2020-04-28 15:23] #1549 closed

[2020-04-28 15:26] PrashanthReddy7 commented on #1549
@tnorling , Thank you for your help

[2020-04-28 15:27] tnorling commented on #1359
`msal@1.3.0` has been released and should fix this issue. Let us know if you're still having issues.

[2020-04-28 15:27] #1359 closed

[2020-04-28 15:27] tnorling commented on #1422
`msal@1.3.0` has been released and should fix this issue. Let us know if you're still having issues.

[2020-04-28 15:27] #1422 closed

[2020-04-28 15:32] tnorling commented on #1406
`msal@1.3.0` has been released and should fix this issue. Let us know if you're still having issues.

[2020-04-28 15:34] tnorling commented on #1288
`msal@1.3.0` has been released and should fix this issue. Team has internal tracker as well as [#41911](https://github.com/MicrosoftDocs/azure-docs/issues/41911) for documenting redirect flow.
Let us know if you're still having issues.

[2020-04-28 15:34] #1288 closed

[2020-04-28 15:38] tnorling commented on #1290
@suresh777 Sounds like that's your issue. Does `auth.html` exist on your webserver? You can see the token is being returned in the url, figure out why your webserver isn't serving up `auth.html` and your timeout issue should resolve itself.

[2020-04-28 15:49] suresh777 commented on #1290
You are saying that in azure http://localhost:auth.html is not registered right. I kept auth.html in react public folder

[2020-04-28 16:21] tnorling commented on #1554
@Hampfter Msal just passes back what the service returns. If the service doesn't throw an error, neither will msal. Are you getting a token in the response? What happens when it triggers your acquireTokenSuccess event? Also, want to confirm, this is a b2c scenario?

[2020-04-28 16:26] jasonnutter commented on #1554
@Hampfter Can you try reproducing this bug with [our Angular B2C sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa)? And then share the link to the fork here? Thanks!

[2020-04-28 16:31] jasonnutter commented on #1222
@jakehockey10 Fiddler can [generate .saz file](https://docs.telerik.com/fiddler/Save-And-Load-Traffic/Tasks/CreateSAZ), can you try doing that and email it to me (email in my profile)? Thanks!

[2020-04-28 16:35] jasonnutter commented on #127
@Riff451 Redirecting back to the logout URL works with both personal and organizational accounts (see my [guidance above](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/127#issuecomment-610077496), which also applies for organizational accounts).

[2020-04-28 16:36] jasonnutter commented on #1035
@MaximBalaganskiy Great, thanks for the update!

[2020-04-28 16:58] tnorling commented on #1290
@suresh777 From what you shared it sounds like your server is refusing to serve auth.html. This is something you need to troubleshoot yourself, I cannot help you with this. You can verify this by navigating directly to the page without using msal.

[2020-04-28 17:34] ryancole opened #1555 "Is MSAL specific to Azure services, or is it compatible with AspNet Core Identity / IdentityServer4?"
Hello,

Is MSAL specific to Azure services, or is it compatible with AspNet Core Identity / IdentityServer4? I'm looking for browser libraries to use with our AspNet Core Identity / IdentityServer4 back-end. I was looking at oidc-client, but I also knew about MSAL. Some documentation pages make MSAL sound like it works with any OpenID / OAuth back-end, but then others make it sound specific to Azu

[2020-04-28 20:19] jakehockey10 commented on #1222
Finally found time to send it over.  Should be in your inbox shortly

[2020-04-28 20:59] SaratMuppala opened #1557 "msal.js log in account that is not current user that launched the browser"
Hi,

I am trying to implement switch account feature for my SPA website. I am able to login an account that matches the current user that launched the browser. But if i prompt for account selection and provide a different account email id to login then it still using the current user that launched the browser to login and retrieves the id token. I have a service account that i would like to use bu

[2020-04-28 23:00] jasonnutter commented on #1222
@jakehockey10 Haven't received it yet, try again?

[2020-04-28 23:19] tnorling commented on #1546
@dylan-hart I hate to be the bearer of bad news, but here's the deal with access tokens. We cannot guarantee the format of the token, what is inside or that it is a JWT at all. We also can't promise that fields in an access token today will be there tomorrow. They really aren't intended to be opened and inspected by anything other than the resource for which it is intended. So unfortunately, I don

[2020-04-28 23:19] #1546 closed

[2020-04-29 00:07] derisen commented on #1548
@tnorling @DarkLite1 apologies for the UI issue. A PR is [opened](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/pull/34) to resolve that.

[2020-04-29 00:20] tnorling commented on #1555
@jennyf19 This looks like a .Net question. Could you take a look?

[2020-04-29 00:28] ryancole commented on #1555
Sorry for my unclear post. It’s not really about .net.

We use MSAL.js to authenticate against Azure B2C for a React single page web app. We actually decided to stop using B2C and instead chose to code and host our own identity provider server. We are using Microsoft’s built in AspNet Core Identity for user management and IdentityServer4 for OpenId / OAuth work flows. In essence it’s the same or s

[2020-04-29 00:38] tnorling commented on #1555
@ryancole Gotcha. Theoretically it could work if you set the `validateAuthority` flag to false. However, this would not be officially supported by us. Any alterations you would need to make to the code in order to make it work would be up to you.

[2020-04-29 00:38] #1555 closed

[2020-04-29 00:47] tnorling commented on #669
@mlankamp So sorry this went unanswered for so long. Is this still an issue in `msal@1.3.0`? We made some changes to the domain_hint parameter in the newest release that may fix this issue.

[2020-04-29 00:51] tnorling commented on #1521
@lborghsvanin This may actually be a bug, apologies for dismissing it. While multiple accounts are not supported, switching accounts should be. For interactive calls we should allow the `prompt` parameter to override a `login_hint`. Waiting to hear back from the service teams about whether corporate and MSA accounts behave differently when both are provided and then will determine if changes are n

[2020-04-29 02:52] jennyf19 commented on #1555
@DarylThayil @jasonnutter can you provide any guidance to @ryancole on his inquiry ->

"My question is just whether MSAL.js can be used for non-Azure OpenId providers like IdentityServer and AspNet Core Identity?"

[2020-04-29 06:02] Hampfter commented on #1554
You only need to change the login method in the app.component.ts and use loginredirect.
[code]

If you now click Login -> "Forgot your Password?", you will get an acquireTokenSuccess Event. My local storage says different. It has entries like:
[code]
So my Implementation did react on a loginFailure Event in which payload i had this errormessage, so i could redirect to my PasswordReset UserFlow. In

[2020-04-29 09:04] webteambel commented on #1439
@jchri853 unfortunately I was not able to sign in using the plugin

[2020-04-29 09:12] proplanlava opened #1558 "error in MSAL.html file? request and respons mixup?"
## Library
https://alcdn.msauth.net/lib/1.2.1/js/msal.js

## Framework
plain JS

## Description
Error in line 70.
I think line 69 in samples/UnifiedCacheTestApp/MSAL.html is wrong.
    myMSALObj.acquireTokenSilent(request).then(function (request) {
should be:
   myMSALObj.acquireTokenSilent(request).then(function (tokenResponse) {

## Security
no

## Regression
na

## Configuration
var msalConfig

[2020-04-29 09:23] Riff451 commented on #127
@jasonnutter Hi, thanks for the reply. I probably should've mentioned that I'm using a B2C tenant even if I'm trying the standard Azure AD identity feature.
I've tried a couple of different combinations.
This is my common manifest for the urls:

`"logoutUrl": "https://localhost:30444/logout"`

[code]

It works with all these values for the authority (with both personal and organizational accounts)

[2020-04-29 09:45] suresh777 commented on #1290
I checked everything it is serving properly but it is not returning to my app if i change to localhost:3000 it is returning to my app otherwise it struck there
<img width="1440" alt="Screenshot 2020-04-29 at 3 10 49 PM" src="https://user-images.githubusercontent.com/10288824/80582224-f06b1d80-8a2b-11ea-828e-c2ff3a598e12.png">

[2020-04-29 10:27] DarkLite1 commented on #1288
Awesome! I just did the upgrade and we can totally skip the empty callbacks now or even calling the method at all when using `acquireTokenRedirect`:
[code]

Great work guys!

[2020-04-29 10:45] DarkLite1 commented on #1548
@tnorling thanks again for the great clarification. I was indeed mixing up resources with scopes. It's all a lot clearer to me now, so much appreciated for explaining the flow.

The current code works flawlessly so I'll just stick with it instead of implementing the `handleRedirectCallback` method. The way it's done now gives me more freedom to call `getGraphDetails ` whenever I like. If you do se

[2020-04-29 10:45] #1548 closed

[2020-04-29 10:54] ktikku opened #1559 "@azure-msal-browser@2 documentation missing"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [X

[2020-04-29 11:38] suresh777 opened #1560 "InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in."
I am using msal@1.2.2 version.I don't want to enter my password when i login. For that i am sending prompt none in request parameters. I am getting below exception. But if use msal@1.1.3 version without prompt parameter it is directly logging in without password.

[code]

[2020-04-29 11:58] BenjaminBorlet commented on #1406
Hi ! I had time to test it today, unfortunately the authError is still empty when using the redirect workflow (customer requirement).

I tried a login with wrong credentials on `msal@1.3.0-beta.1` with `@azure/msal-angular: 1.0.0-beta.5`

[2020-04-29 14:12] jakehockey10 commented on #1222
Here is a screenshot of it in my sent folder. I forwarded it to you again just now.

![Screenshot_20200429-081118](https://user-images.githubusercontent.com/1821383/80606148-2dfe8500-89f1-11ea-8b37-011b886239b8.png)

[2020-04-29 14:30] tnorling commented on #1290
@suresh777 The blank html page should only be used for silent or popup flows. When using redirect flows you will need to set your redirect uri to a page that loads msal.

[2020-04-29 14:39] tnorling commented on #1560
@suresh777 If you update to the latest version of msal, 1.3.0 we added an ssoSilent API which can be used for silent login requests. However, for this to work you need to already have an active session with AAD. As a general rule of thumb, when you get the `InteractionRequiredAuthError` you will need to call a redirect or popup method to do the required interaction (login, give consent, etc.) befo

[2020-04-29 14:45] tnorling commented on #1559
@ktikku Thanks for pointing this out. We'll make sure to get this updated on npm. You should be able to find the docs you are looking for in the repo for msal-browser.
1. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md
2. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/initialization

[2020-04-29 14:48] tnorling commented on #1558
@proplanlava Thanks for pointing this out! I'll make sure to get this fixed.

[2020-04-29 15:03] SebastianPellitero opened #1561 "Migrating from old version of msal to msal-browser"
## Library
- [ ] `msal@0.2.3`
- [ ] `@azure/msal-browser@2.0.0-beta.0`

## Description
Hi there.

Im working on a React/redux Application, and Im using the msal functions to allow a user to log in. Im having an issue with users with multiple accounts and users trying to log in on Safari and I saw that migrating to a new version of the library fixs the issue.
Link to the issue: https://github.com/A

[2020-04-29 15:23] tnorling commented on #1561
@SebastianPellitero Migration guide can be found here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md

You can dig around the repo for docs on a number of topics or ask here for further clarification. Without additional information about your use case it's hard to say what could be causing the state mismatch error. If you can't fig

[2020-04-29 15:23] #1561 closed

[2020-04-29 15:42] tnorling commented on #1406
@BenjaminBorlet I believe I found the root cause of this. I'll put up a PR shortly to address.

[2020-04-29 15:45] tnorling commented on #1554
This is related to #1406. Will put up a PR to address.

[2020-04-29 16:24] BenjaminBorlet commented on #1406
@tnorling should i check on my side with your changes before you merge the PR ?

[2020-04-29 16:32] tnorling commented on #1406
@BenjaminBorlet Yes please do! That would be much appreciated

[2020-04-29 16:59] BenjaminBorlet commented on #1406
I got an authError with everything I need, but now the response object is undefined :') I could work for me but now you know !

[2020-04-29 17:11] exuviae opened #1563 "Refused to display in iframe"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.0.0-beta.5`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc)

[2020-04-29 17:14] ktikku commented on #1559
thanks for the quick response! 👍

[2020-04-29 19:09] tnorling commented on #1563
@exuviae This is a known issue. You can track #1437 and #1161 for updates and workarounds. Closing as duplicate

[2020-04-29 19:09] #1563 closed

[2020-04-29 19:21] snapfisher opened #1564 "https://management.azure.com/user_impersonation and admin consent"
## Library
Microsoft.Authentication.Webassembly.MSAL 3.2.0-preview5.20216.8

## Framework
Blazor Wasm Preview 5

## Description
Requesting consent for https://management.azure.com/user_impersonation brings up the dialog requiring admin consent.  Yet the Azure portal specifically says that this delegated permission does not require admin consent.  The blazor folks already looked through the code an

[2020-04-29 19:54] jasonnutter commented on #1564
@snapfisher Is this for users in the first-party Microsoft tenant? If so, and this is a first-party Microsoft application, it needs to be registered in the first-party portal instead of the public portal, which will remove that restriction.

[2020-04-29 20:04] snapfisher commented on #1564
Ah...we make things so difficult on ourselves (for creating an internal demo).  Should this be a bug in the portal, where if the tenant is configured in this manner, the portal than tells you that you would need admin approval?  That's really the issue, in that our behavior is distinctly the opposite of the portal where I selected the delgated permission.

[2020-04-29 20:05] tnorling commented on #1411
@JasonPaape This was included in `msal@1.3.0` which was just released. Let us know if this is still an issue. Thanks!

[2020-04-29 20:05] #1411 closed

[2020-04-29 20:07] tnorling commented on #1468
@m4ss1m0g We expect that this may have been fixed by `msal@1.3.0`. Let us know if that is not the case.

[2020-04-29 20:07] #1468 closed

[2020-04-29 20:10] tnorling commented on #1235
Closing due to inactivity. Let us know if this is still an issue.

[2020-04-29 20:10] #1235 closed

[2020-04-29 20:12] tnorling commented on #1302
This may have been fixed with `msal@1.3.0`. Please let us know if this is still an issue

[2020-04-29 20:12] #1302 closed

[2020-04-29 20:13] tnorling commented on #1429
Closing due to inactivity and we don't believe this is an issue with msal. Let us know if you still need help.

[2020-04-29 20:13] #1429 closed

[2020-04-29 20:15] tnorling commented on #1081
This should be fixed by updating by `msal@1.3.0`. Let us know if this is not the case.

[2020-04-29 20:15] #1081 closed

[2020-04-29 20:19] tnorling commented on #1541
@element8763 Please track issue #1357 for updates on this. Thanks!

[2020-04-29 20:19] #1541 closed

[2020-04-29 20:21] tnorling commented on #1219
We believe the original issue was fixed in `msal@1.3.0`. Let us know if that's not the case. Thanks!

[2020-04-29 20:21] #1219 closed

[2020-04-29 20:51] tnorling commented on #1469
@unindented A fix for this was merged and will be included in the next release of msal-browser/msal-common

[2020-04-29 20:51] #1469 closed

[2020-04-29 21:27] unindented commented on #1469
Cool, thank you!

[2020-04-29 22:11] tnorling commented on #1557
@SaratMuppala This issue has been confirmed to be a bug with the MSA service. We will update you here when it has been fixed. Thanks for bringing this to our attention.

[2020-04-29 22:13] jasonnutter commented on #1084
@pkanher617 Do plan to change this behavior for v2?

[2020-04-29 22:46] jasonnutter commented on #1564
@snapfisher Potentially, however, that would only work for single-tenant apps, since I believe this restriction is specifically enforced for **users** from the MSFT first-party tenant, as opposed to **apps** registered in the MSFT first-party tenant (i.e. a user from another tenant using your app would not hit this permissions wall).

For the purposes of your demo, I think you should be able to us

[2020-04-29 22:46] #1564 closed

[2020-04-29 23:18] m-sterspace commented on #1288
@tnorling thanks, just upgraded and this is feeling more intuitive already!

[2020-04-30 00:00] thrixton commented on #842
@sameerag, any update on this?
I'm happy to share my tenant details if you want to look at the logs?

I have done limited testing and found
1) It errors on chrome with multiple Google accounts
2) It works on a blank Firefox Multi-Account Container with just 1 Google account

[2020-04-30 00:03] m-sterspace commented on #1535
@tnorling so from what I gather, the preferred route to go is to use the loginhint.

So the full flow would be that when your app loads, you first try to `getaccount` to see if there's an account in the cache. If there is, you can get the preferred_username from that account object / idtoken, and pass that as the loginhint to acquiretokensilent?

My only question would then be what the `ssoSilent`

[2020-04-30 00:13] jasonnutter commented on #1555
@jennyf19 @ryancole I don't believe we support other OpenID providers as first-class scenarios. As @tnorling mentions, you could attempt to use them and see how things go, but I don't believe we would prioritize fixing incompatibilities (esp. for non-MSFT products). That said, PRs are welcome!

[2020-04-30 00:14] thrixton commented on #993
Thanks @jasonnutter , looks like 1.3.0 is released now to msal but not @azure/msal.

[2020-04-30 00:15] jasonnutter commented on #127
@Riff451 Can you please open a new issue, thanks!

[2020-04-30 00:20] thrixton opened #1568 "@azure/msal-browser vs @azure/msal for Angular SPA"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Is @azure/msal-browser the recommended library for SPA apps?
Does it replace @azure/msal in that case?
Should it be used in conjunction with @azure/msal-angular?

[2020-04-30 00:20] jasonnutter commented on #1398
@LonBoy98 Sorry for the delay in responding. I don't believe you can add domains that are allowed to make CORS requests to `manage.office.com`. Your client-side javascript should initiate a fetch request to your server, which then makes a network request to `manage.office.com`.

Closing, as no further action for the library.

[2020-04-30 00:20] #1398 closed

[2020-04-30 00:26] jasonnutter commented on #993
@thrixton Unfortunately publishing to `@azure/msal` takes a little longer due to permissions, I should have it up shortly, apologies for the delay.

[2020-04-30 00:29] jasonnutter commented on #1568
MSAL Browser is currently in private preview, but once it is generally available, yes, it will be the recommended library to use.

Yes, as it switches from the Implicit Flow (used by msal v1) to the Auth Code Flow w/ PKCE.

We will upgrade @azure/msal-angular to work with @azure/msal-browser, however, that will not happen at least until msal-browser is GA (and that work is not yet scheduled).

[2020-04-30 00:44] tnorling commented on #1535
@m-sterspace Yes that sounds correct. However, you may not need to do all that. If you already have an account object, the library should auto-populate the `loginHint` for you. If you need to provide the `sid` for any reason, msal will then prefer that over the `loginHint`

`ssoSilent` is used to silently acquire a new `id_token` similar to how `acquireTokenSilent` acquires an `access_token`. This

[2020-04-30 00:52] jasonnutter commented on #993
@thrixton `@azure/msal@1.3.0` has been published.

[2020-04-30 00:57] DavidChristiansen commented on #1009
@sameerag  Please consider reopening this issue as the error still occurs.

[2020-04-30 01:57] jakehockey10 commented on #1222
@jasonnutter I tried again, sending from my personal email. Thanks for your patience

[2020-04-30 02:05] anilktalla commented on #590
@cjancsar / @sameerag, Is this issue tracked somewhere? I am also facing same issue and curious if someone has a workaround.

[2020-04-30 03:13] element8763 commented on #1357
Sorry about the late reply,I track the debug and found that when use webform to get the accesstoken from the cache,it will fail because the key is wrong.So that can not get token in the C# webform solution.I mean when execute function in a form runat in server.

[2020-04-30 05:40] DarkLite1 commented on #1535
@tnorling my app heavily relies on `getAccount()` to decide if a user is logged on or not. So I assume that when `getTokenRedirect` or `acquireTokenPopup` fail the value in `getAccount()` is cleared. Please correct me if I'm wrong as this a key part in my app. If that's not the case then I need to call `clearCache()` on failure of both methods.

One last question I have is about the identification

[2020-04-30 07:18] turculaurentiu91 commented on #1301
@jasonnutter I am using msal@1.3.0-beta.1 and still having the login issue when coming from a link with target="_blank". I am using login redirect as login method.

[2020-04-30 08:41] Riff451 opened #1569 "Logout doesn't redirect back when using AD tenant in the authority url."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi all, this is about an issue I already explained [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/127#issuecomment-621088587) and as requested I'm openi

[2020-04-30 08:43] Riff451 commented on #1569
I opened this, by mistake, as a bug. Sorry, it's probably more an investigation. Not sure if I can remove the label.

[2020-04-30 11:21] cubogdan opened #1570 "Login screen "Loader" disappears before custom policy is executed"
## Library
- [X] `msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React v16 (not related)

## Description
After you login inside the popup, the loader starts while the calls are made, but stops before all the calls are finished. ![Here's a GIF showing the issue.](https://user-images.

[2020-04-30 11:41] zivazvex opened #1571 "Add SendX5c support"
We are currently working with SNI - Subject Name and Issuer Authentication.

While the .NET library has this feature:
AuthenticationResult result = await authApp.AcquireTokenForClient(defaultScopes)
                    .WithSendX5C(_useSubjectAndIssuerAuth)
                    .ExecuteAsync()
                    .ConfigureAwait(false);

The JS does not support it yet.

We would like to have this f

[2020-04-30 13:37] CerosDev commented on #1568
@jasonnutter any ETA on when we will be able to test msal-browser with AD B2C?

[2020-04-30 15:36] conkman commented on #1009
Looking at the code it appears that the configuration loadFrameTimeout is in the wrong configuration section in the code that was initially posted on this issue.  You need to set it in the system object.  See example below:

`const msalConfig = {
auth: {
clientId: my_client_id,
authority: 'https://login.microsoftonline.com/tenant_id',
scopes: [${websiteURL}/user_impersonation],
redirectUri: ${webs

[2020-04-30 16:04] acgritt opened #1573 "When will @azure/msal-angular come out of beta?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

When is `@azure/msal-angular@1.x.x` expected to come out of beta? We would like to use it but there are concerns using a Beta package in an app that is in production. As we are upgrading both

[2020-04-30 16:17] jasonnutter commented on #1571
@zivazvex This feature is for Confidential Clients, correct? If so, we would support it in MSAL Node (which will support Confidential Clients), but not our client-side libraries, which only support public clients.

cc: @sameerag @sangonzal

[2020-04-30 16:33] jasonnutter commented on #1568
@CerosDev Not sure of the ETA on that, @pkanher617 @hamiltonha should be able to provide more context.

[2020-04-30 16:35] jasonnutter commented on #1301
@turculaurentiu91 Can you please open a new issue, thanks!

[2020-04-30 17:05] #1406 closed

[2020-04-30 17:05] #1554 closed

[2020-04-30 17:29] jasonnutter commented on #970
I believe this has been fixed, please let us know if not.

Closing.

[2020-04-30 17:29] #970 closed

[2020-04-30 17:31] jasonnutter commented on #1001
@andrantis We found the bug for your issue, which was fixed in #1562. This will be available in the next version of MSAL Angular.

[2020-04-30 17:33] jasonnutter commented on #885
This issue should be fixed in MSAL Angular v1, please let us know if not.

[2020-04-30 17:33] #885 closed

[2020-04-30 17:33] jasonnutter commented on #1035
We expect `msal@1.3.0` to fix this issue, please let us know if not, thanks!

[2020-04-30 17:33] #1035 closed

[2020-04-30 17:34] #1152 closed

[2020-04-30 17:46] jasonnutter commented on #1058
Closing, as I don't expect us to prioritize fixing compatibility issues with this browser, given how old it is and relatively low usage.

[2020-04-30 17:46] #1058 closed

[2020-04-30 17:47] #1001 closed

[2020-04-30 17:53] jasonnutter commented on #497
We did not get to this in MSAL Angular v1, but is a follow up improvement we want to make. Reopening and tracking.

[2020-04-30 17:54] jasonnutter commented on #552
We did not get to this in MSAL Angular v1, but is a follow up improvement we want to make. Reopening and tracking.

[2020-04-30 17:54] jasonnutter commented on #703
We did not get to this in MSAL Angular v1, but is a follow up improvement we want to make. Reopening and tracking.

[2020-04-30 17:55] hamiltonha commented on #1568
@CerosDev  B2C support is now supported, you can test by manually editing your manifest as described in the msal-browser README

[2020-04-30 18:04] thoo1 opened #1574 "How to do incremental consent with /.default scopes?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `@azure/msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We have an existing application that is requesting scopes: ["https://management.azure.com/.default"]

[2020-04-30 18:08] jasonnutter commented on #1120
@dennisameling Have you have a change to try MSAL Angular v1? Based on the behavior in the samples, processing of the hash should still occur on pages that don't have the MsalGuard. Let us know if that is not the case, thanks!

[2020-04-30 18:28] tnorling commented on #1574
@thoo1 When you call `acquireTokenSilent` are you including both scopes in that call or making separate calls for each?

[2020-04-30 18:28] thoo1 commented on #1574
@tnorling including both scopes in one call

[2020-04-30 18:29] thoo1 commented on #1574
I think I just found another issue that might clarify it for me: https://github.com/Azure/azure-sdk-for-net/issues/9076

The resolution seems to be that AAD will return this error if I am requesting multiple scopes (using /.default) for multiple resources

Is that correct? In that case do I need to maintain two separate tokens?

[2020-04-30 18:30] tnorling commented on #1574
@thoo1 AcquireToken calls are per resource, regardless of if you are using ./default or not. So you should be making separate calls for each. Try that and see if it works.

[2020-04-30 18:42] tnorling commented on #1504
Closing. But let us know if you still need help, we'd be more than happy to reopen if needed.

[2020-04-30 18:42] #1504 closed

[2020-04-30 18:44] #1212 closed

[2020-04-30 19:01] tnorling commented on #1287
Closing. Let us know if this is still an issue.

[2020-04-30 19:01] #1287 closed

[2020-04-30 19:05] tnorling commented on #1246
You should not open and inspect access tokens. In order to make sure you always have a valid token you can call `acquireTokenSilent` at least once per hour. Or if you just want to maintain the session and make sure you can renew a token silently when you need it, call it at least once every 24 hours providing a `sid` or `loginHint`. Closing as there is no further action needed from msal, but let u

[2020-04-30 19:05] #1246 closed

[2020-04-30 19:55] snebjorn commented on #703
@jasonnutter I already have a working version of this based on the new MsalGuard. I can make a PR or at least share the solution. Interested?

[2020-04-30 20:09] thoo1 commented on #1574
that worked, thank you @tnorling

[2020-04-30 20:09] #1574 closed

[2020-04-30 20:21] #1558 closed

[2020-04-30 20:53] tnorling commented on #1369
@satish1597 Were you able to solve your issue? If it's running fine with the sample app then it likely isn't an issue with msal. Also `msal@1.3.0` was released a few days ago and contains a fix for a token caching bug we found. May be worth a shot. If you can provide a link to a repo containing a reproduction of this behavior we can investigate.

[2020-04-30 21:13] tnorling commented on #1308
Closing due to inactivity. This looks like a multiple policy issue, which is currently not supported but you can track #440 for updates. Let us know if this is not accurate.

[2020-04-30 21:13] #1308 closed

[2020-04-30 21:16] tnorling commented on #669
Closing as we believe this has been fixed. Let us know if we need to reopen it.

[2020-04-30 21:16] #669 closed

[2020-04-30 21:17] tnorling commented on #1542
Let us know if you're still having issues. Closing for now.

[2020-04-30 21:17] #1542 closed

[2020-04-30 21:19] xstof commented on #1308
Does this mean that msal.js does not properly support AAD B2C? How does anyone use B2C without using multiple policies? You cannot support password reset, profile edit etc... without using different policies, it is the very mechanism on top of OIDC that B2C chose to operate.  Can someone pls clarify if my understanding is correct?  If yes, then it is fair to state customer should _not_ use msal wi

[2020-04-30 21:25] tnorling commented on #1253
Let us know if this is still an issue. Closing.

[2020-04-30 21:25] #1253 closed

[2020-04-30 21:31] tnorling commented on #1115
Closing as it's been a while. But please let us know if this is still an issue and we can reopen if needed.

[2020-04-30 21:31] #1115 closed

[2020-04-30 21:49] jasonnutter commented on #703
@snebjorn A PR would great, thanks!

[2020-04-30 23:39] tragdorvigani1 commented on #1356
Hi @jasonnutter - just a note to say that this is fixed, also confirmed in 1.3.0. Thanks!

[2020-05-01 00:16] tnorling commented on #1357
@element8763 Can you try upgrading to `msal@1.3.0`. This version fixes a token caching bug which may be why you are getting a cache miss. ID tokens are currently being cached with client id in the scope field. Access tokens should be getting properly cached as of 1.3.0

[2020-05-01 05:58] lordtct commented on #1438
I have an issue with `unprotectedResources` matching fragments of `protectedResourceMap` URL fragments. In my case a route entry "500" matched a URL entry "https://localhost:5000".

Would suggest changing the following (msal.service.ts:76) from:
`return unprotectedResources.some(resource => url.indexOf(resource) > -1);`

to:
`return unprotectedResources.some(resource => url.startsWith(resource) >

[2020-05-01 06:02] saurabhjain-MA commented on #560
@hpsin ,
here are the details of the [setup](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/560#issuecomment-618797695).

- can you clarify that you are getting a token for the same resource in both calls?
yes and i just use `MsalInterceptor` for getting token. Pls let me know if you need further code level info.

- And that both are access tokens?
Yes

- And they have d

[2020-05-01 07:09] onlyann opened #1579 "MSAL appends an # after login redirection"
## Library
- [X] `msal@1.3.0`

## Description

Since MSAL 1.3.0 , once a user authenticates and is redirected back to the web application, a # is appended to the URL.
The login flow is working as expected. It is just appendin a #. This only happens when the user doesn't already have a valid token.

## Security
Is this issue security related?
No

## Regression
Did this behavior work before?
Yes in

[2020-05-01 13:55] ktikku opened #1580 "Redirect after login is not working as expected"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

`React v16.3.1`

## Description

I am calling `loginRedirect()` method, I get redirected to the redirect

[2020-05-01 15:08] satish1597 commented on #1369
@tnorling My code is in the repo at [https://github.com/satish1597/msal](url) The problem is still there with the latest version of msal I have used. Login by popup works completely fine for me but login by Redirect does not work still.

[2020-05-01 16:16] hpsin commented on #560
@saurabhjain-MA - can you confirm the "scopes" and "aud" of each token?

[2020-05-01 17:00] tnorling commented on #1369
@satish1597 It looks like you are calling `handleRedirectCallback` and subscribing to the `msal:loginSuccess` broadcast in your profile component but this component is never being used. Setting the `redirectUri: http://localhost:4200/profile` seemed to fix this. Keep in mind that whatever page you return to after redirection must initialize msal in order to save the token. You can then call `handl

[2020-05-01 17:19] rmorrin commented on #1167
I had this same problem too, in addition to 3rd-party module importing HttpClientModule this can also be caused by forgetting to add `MsalGuard` to your route (as was my problem). As other's have already suggested, if you forget this then MsalService considers your resource unprotected and won't attach the tokens.

[2020-05-01 17:48] tnorling commented on #1580
@ktikku Please set `navigateToRequestUrl: false` in your `auth` config if you do not want to return to the page that initiated the request. This is set to `true` by default.

[2020-05-01 19:45] jeverduzco commented on #701
Working fine for me in the version (1.3.0-beta.1) you can try it out [here](https://verduzco.dev/) by creating an account and resetting your password

[2020-05-01 21:04] mohsinonxrm commented on #1504
@tnorling , thanks for the comment above. I'm evaluating couple of options and will report back here what I ended up doing.

[2020-05-01 23:11] reseul opened #1583 "What's the reason of the change in UrlUtils.replaceTenantPath() in fix #1299"
## Library
- [X] `msal@1.3.0`

## Description
I noticed change #1299 updated UrlUtils.replaceTenantPath() as well, and I wonder whether it was intended:

`        -if (tenantId && (pathArray.length !== 0 && (pathArray[0] === Constants.common || pathArray[0] === SSOTypes.ORGANIZATIONS))) {
        +if (tenantId && (pathArray.length !== 0 && pathArray[0] === Constants.common)) {
`
The code is used w

[2020-05-01 23:45] jasonnutter commented on #1583
cc: @sameerag

Can you elaborate on this? Where you relying on the cache keys in local storage?

[2020-05-01 23:55] ktikku commented on #1580
`navigateToRequestUrl:false ` didn't work for me.
I went inside the msal object and found `navigateToLoginRequestUrl: true` as a default value.
Changing it to `navigateToLoginRequestUrl: false` did the trick for me.
Thanks for the help!
Also, apologies for labelling the question as a bug.

[2020-05-02 00:00] tnorling commented on #1579
@onlyann This is a side-effect of removing an unnecessary redirect in previous versions. The token is returned in the hash of the url, so when msal gets the response it extracts the token, saves it, and clears the hash by setting `window.location.hash=""` which, unfortunately, does leave a `#` in the url. Previously we set `window.location.href=loginRequestUrl` which would do an additional refresh

[2020-05-02 00:04] tnorling commented on #1580
@ktikku Apologies for giving you the wrong parameter name! That's my bad. Glad you got it working though, thanks for confirming. Let us know if you have any other questions.

[2020-05-02 00:04] #1580 closed

[2020-05-02 00:05] reseul commented on #1583
Not that bad, but we do need access to the plain (JWT) id token, since it is sent to a backend for a policy reason/purpose (old architecture, a given).
I think getAccount() returns the parsed value, even though I see there's some attempt to eventually have them both (the binary and the parsed) in the same object.

We do call GetCachedToken. It's not that kosher (it's not marked as public), but for

[2020-05-02 03:54] onlyann commented on #1579
That makes sense. Thank you. I’ll close the issue then.

[2020-05-02 03:54] #1579 closed

[2020-05-02 09:07] satish1597 commented on #1369
@tnorling Thank you for your help. It is working now fine for me. Really appreciate the help you provided. Thanks once again.

[2020-05-02 09:07] #1369 closed

[2020-05-02 12:00] thesalex commented on #1475
I have the same issue, updated to msal 1.3.0 and msal-angular beta5 buy the issue persist.
The fix Will Be released in the future?
Thanks for the support.

[2020-05-02 18:46] ktikku opened #1585 "Token not available after redirect"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@ 2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm using React framework.
When I login using `loginRedirect()` method, I ge

[2020-05-02 21:52] jdudleyie opened #1586 "acquireTokenSilent() even when called twice in a row, does two calls to authorize endpoint"
## Library
- [X] `msal@1.3.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

React - CRA - "react-scripts": "3.4.1"
"react": "16.13.1",
"react-aad-msal": "2.3.5"

## Description

When either calling react-aad-msal's `getAccessToken()` or msal'

[2020-05-03 02:11] taysco opened #1587 "msal-browser sample not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.0.0-beta0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

[2020-05-03 04:09] taysco commented on #1095
Could you advise on what sample would be best to follow for this? I've got the MSAL in a tab via microsoftTeams.authentication.authenticate, and I can login, however when I get the hash back (myapp/authtab#id_token=etc) ... myMSALObj.isCallback() always returns false, and handleCalllbackResponse never fires. I am not sure what I'm doing wrong here.

[2020-05-03 12:33] avbhardwaj opened #1588 "MSAL for VSCODE extension"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
The authentication using webView in VSCODE is really challenging becuase of it's des

[2020-05-03 20:14] flieks commented on #1586
I think i am also having this but only when deployed to azure app service. Was working find on 1.2.2.

![image](https://user-images.githubusercontent.com/5032389/80923927-b3ce5780-8d86-11ea-809a-1d2038e697a0.png)

[2020-05-03 23:06] fradali commented on #1439
it would be great if we have Msal for ionic 👍

[2020-05-04 03:51] sameerag commented on #1095
@taysco Your understanding is correct for `redirect` flows. What exactly is the issue you are seeing now? As @jasonnutter mentioned above, the teams use case should work with `msal@1.3.0`

[2020-05-04 06:12] hifall opened #1589 "Failed to build."
## Library
- [ ] `msal@1.3.0` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-05-04 06:13] hifall commented on #1589
The debug log:

[code]

[2020-05-04 06:28] chunliu opened #1590 "Compilation failed with msal-browser package using TypeScript"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
@azure/msal-browser@2.0.0-beta.0

## Framework
If you are using a framework, please provide the framework and version (e.g. An

[2020-05-04 06:49] MarcHochleutner-Koellisch commented on #1095
I got it working with this example and version 1.3.0:
https://github.com/nmetulev/teams-msal

[2020-05-04 08:33] dennisblokland opened #1591 "Invalid token Account connected to windows edge"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular v9

## Description
I send the token returned by acquireTokenSuccess to "https://graph.microsoft.com/v1.0/me" this work fine. But when using edge and choosing an count that is "Connected t

[2020-05-04 11:36] saurabhjain-MA commented on #560
@hpsin , scopes are same ['user.read', 'openid', 'profile'], but **aud** in token are different and i don't know why. **aud** is the azure app client ID i believe and  I've configured it once but msal -interceptor not using it i guess.

[2020-05-04 12:26] ashishbhulani opened #1592 "token renewal operation failed due to timeout MSAL"
Hi,

Library : "@azure/msal-angular": "^1.0.0-beta.5"
             "msal": "^1.2.2"

I have integrated MSAL library with my angular 8 application. Everything works fine except i keep getting an error token renewal operation failed due to timeout as soon as the token is expired. I was wondering how to fix this.

Below is the MSAL_config that i am using :
[code]
I have created a new token intercepto

[2020-05-04 16:16] sandesai opened #1594 "postLogoutRedirectUri redirects user to Microsoft office website even when I have not mentioned it anywhere"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-05-04 16:24] sandesai commented on #1594
After logging out, I am redirected to office.com with the following URL. It somehow overrides the configuration that I have given.
https://login.microsoftonline.com/common/oauth2/authorize?client_id=<clientid>&redirect_uri=https%3A%2F%2Fwww.office.com%2Flanding&response_type=code%20id_token&scope=openid%20profile&response_mode=form_post&nonce=637242053377147792.ZmE1OTMwZGQtZmMxOS00ZjAzLWI0OTEtMGZk

[2020-05-04 16:48] jasonnutter commented on #1475
@thesalex Yes, we'll have a fix in the future. For now, a workaround is to retry the http request when this error occurs, which should succeed.

[2020-05-04 16:50] jasonnutter commented on #1586
@jdudleyie Can you try making the call to `acquireTokenSilent` without including `openid` and `profile`?

[2020-05-04 16:59] jasonnutter commented on #1591
@dennisblokland Can you provide more details about why the token is invalid?

[2020-05-04 18:00] jo-arroyo commented on #1381
@Sl1MBoy We believe we have a potential fix for this issue in #1581. However, we are having trouble reproducing the behavior you described. Would it be possible for you to provide a video of demonstrating this behavior? Thanks!

[2020-05-04 18:03] shane7218 opened #1595 "MSAL version 1.2.2 - use of 'finally' results in IE failure of silent auth"
## Library
- [X] `msal@1.2.2`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
Use of MSAL version 1.2.2 introduced the use of a 'finally' statement in a telemetry portion of the code after a silent auth token is requested. The silent auth token call to the Authority works and MSAL saves this to the session storage, however an unexpected exception

[2020-05-04 18:07] jasonnutter commented on #1595
@shane7218 This should be fixed in 1.3.0, can you please try that and let us know if it is fixed?

[2020-05-04 19:19] dennisblokland commented on #1591
i think i copied it wrong when validating it. sorry for any inconvenience

[2020-05-04 19:19] #1591 closed

[2020-05-04 19:40] jdudleyie commented on #1586
Hi @jasonnutter - this works! Thanks 😃

[2020-05-04 20:37] jasonnutter commented on #1586
@flieks The cancelled requests were likely done inside the hidden iframe when requesting the token, and were cancelled when the iframe was removed when the response was parsed. Is your app working otherwise?

[2020-05-04 20:38] jasonnutter commented on #1586
@jdudleyie Great! Since your b2c scope is a custom scope, requests to get an access token for it should not include other scopes such as `openid profile` or MS graph scopes.

Closing, as original question was addressed.

[2020-05-04 20:38] #1586 closed

[2020-05-04 21:15] pkanher617 commented on #1587
@taysco the samples in the repository are dev samples, and are meant to work with the local version of the library. We have a sample [here](https://github.com/Azure-Samples/ms-identity-javascript-v2) which is intended to be current with the npm package.

[2020-05-04 21:17] pkanher617 commented on #1592
@ashishbhulani Could you please use the template when creating an issue? Without knowing what library and version you are using it is difficult to understand your issue.

[2020-05-04 21:17] hpsin commented on #560
Ok, that's expected then - different token versions for different audiences.  You might be looking at the ID token instead of the access token.

[2020-05-04 21:22] pkanher617 commented on #1589
@hifall It looks like npm isn't finding the `rollup-plugin-typescript2` package. Try running `npm install` at the root of the repo before running the build command. It should also run `lerna bootstrap` on post-install.

[2020-05-04 21:34] pkanher617 commented on #1594
@sandesai I'm a bit confused, could you explain what you are expecting to occur when you logout vs what is actually happening? When you say you are "redirected to office.com with the following url", I'm not sure what you mean.

I see that the redirect URL in the url is the office page, which won't work given your registration. I also see `response_type=code`, which leads me to believe that you are

[2020-05-04 21:36] pkanher617 commented on #1568
Closing as the conversation is no longer pertaining to the issue.

[2020-05-04 21:36] #1568 closed

[2020-05-04 22:23] tnorling opened #1596 "Ensure IE11 is supported in msal-browser/msal-common"
Please follow the issue template below.

## Library
- [x] `@azure/msal-browser@2.x.x` and `msal-common`

## Type
- [x] Enhancement

## Source
- [x] Internal (MSAL.js team)

## Description
Ensure IE11 is supported in msal-browser/msal-common

## Acceptance Criteria
Describe the conditions that must met for this work to be considered complete.

1. Msal-common and msal-browser work in IE11 out of the

[2020-05-04 22:47] #786 closed

[2020-05-04 22:47] #1056 closed

[2020-05-04 22:47] #1573 closed

[2020-05-04 23:06] sandesai commented on #1594
Hi Prithvi,

Thank you for the response.

I have not explicitly installed @azure/msal-browser package. It might have been added as part of @azure/msal-angular package if I am not wrong.

Coming back to your question,I would like my application to go back to http://localhost:4200 after logout as I have mentioned in postLogoutRedirectUri in **msal** configuration instead of redirecting me to log in

[2020-05-05 00:19] jstevensgithub commented on #560
I just encountered this using the lasted MSAL code.  2 AAD app registrations, one client and one server (API).
Worked fine with ADAL.

With MSAL library:
API manifest set to:
"accessTokenAcceptedVersion": null.
The resulting token has the claim:
"iss": "https://sts.windows.net/{tenantId}"
The server return 401 from the client.

API manifest set to:
"accessTokenAcceptedVersion": 2
The token has the

[2020-05-05 00:34] tnorling commented on #1308
@xstof We are working on improving the B2C experience in our libraries and apologize for the inconvenience. It sounds like you found a workaround, which is great. We hope to properly support this when we have the time to dedicate to updating the cache schema. Updates will be posted to the previously mentioned ticket. PRs are always welcome if you'd like to take a crack at it!

We also have a new l

[2020-05-05 00:38] hpsin commented on #560
This is always and only controlled by the API. It is very much by design that a client cannot disrupt the version of tokens sent to an API. You are doing the correct thing in your API by validating like that.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jstevensgithub <notifications@github.com>
Sent: Monday, May 4, 2020 5:19:37 PM
To: AzureAD/microsoft-au

[2020-05-05 02:51] martinlarosa commented on #1437
I'm having the same issue in React.
I log in the user and when I try to do acquireTokenSilent to get a token for an API I get the x-frame-options = deny error

[2020-05-05 04:20] ashishbhulani commented on #1592
@pkanher617 How do i use the template?

[2020-05-05 10:43] hifall commented on #1589
@pkanher617, I did run `npm install`, but it did not work.

Today I just tried this again, and after running into the same issue, I manually installed:

[code]

still got this:

[code]

[2020-05-05 11:36] ninopetrovic commented on #1095
I still have problems with logging the user in when my website is running in teams.

msal.loginPopup() does nothing in teams. Is this intended after the above mentioned fix?

So if I understand correctly... I have to use loginRedirect() in teams and loginPopup() on normal webpage... how can I achieve this? I can make a check "if (window.self === window.top) {" if the website is running in iframe..

[2020-05-05 14:35] ninopetrovic commented on #1095
Tried to implement this check for iframe that I mentioned above... and it doesn't work in teams. it returns true instead of false (don't really understand why teams would make your app think that it is not running in iframe).

Then because this didn't work I made use of 'msal:loginFailure' subscription where I checked if there was an 'popup-window-error'.. and if there was I called 'loginRedirect(

[2020-05-05 15:31] jchri853 commented on #1439
What issues are you seeing?

[2020-05-05 16:18] tnorling commented on #1585
@ktikku This behavior should be fixed by #1490 and will be included in the next release. @pkanher617 can share more info about when this might be available on npm

[2020-05-05 16:23] tnorling commented on #1590
@chunliu A fix for this was merged into `dev` in #1517 and will be included in the next release. Thanks for your patience while we work out the kinks in this new library!

[2020-05-05 16:23] #1590 closed

[2020-05-05 16:29] taysco commented on #1587
Thanks. When are you planning the push the new versions? There's a lot of new functionality in the newer releases that really need to be publicly available. I don't really want to set up a npm feed just for this :) This feature should really be prioritized imo.

[2020-05-05 16:46] rick077 commented on #1188
Timing on this to be fixed?   It is preventing release of MSAL code for my application to correct Chrome Same Site issue.    None of the work arounds suggested have been successful.

[2020-05-05 16:52] taysco commented on #1095
I figured out a couple hours after I posted.  My issue ended up being a react issue where calling the same route twice doesn't actually update window.location.hash so my callback was never working. Once I split it so there was a redirect end, it started working.

So yes, you must use loginRedirect in a ms tabs them pop up. So you'll ideally have two files, auth-tab-start and auth-tab-end. In auth-

[2020-05-05 17:30] pkanher617 commented on #1594
@sandesai if you are using the @azure/msal-angular package, it is using the msal package, not the @azure/msal-browser package. Which is why I'm a bit confused why you are getting response_type=code in Step 3, as @azure/msal-angular only supports the implicit flow (where response_type=token or response_type=id_token). Are you using another service, like MSAL.NET, on the server side? I suspect what

[2020-05-05 17:39] pkanher617 commented on #1592
@ashishbhulani when you are [creating a new issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose), you can choose one of the options to give you the relevant template.

It appears you are calling handleRedirectCallback in the wrong place. It needs to be set directly after the constructor of the authService, as it gets called when the page is loaded again with

[2020-05-05 17:42] pkanher617 commented on #1589
What is the error that you are getting when you run `npm install`? I am able to clone the repo and run this on a new machine just fine.

Alternatively, you can run the `npm install` command in each repo individually, then run `lerna bootstrap` at the root to ensure the local packages are being used.

[2020-05-05 17:43] pkanher617 commented on #1587
@taysco Sorry for the delay, we are preparing for a full release and I haven't been able to do a new beta version just yet. I will try to get a new version out shortly.

[2020-05-05 17:52] #1310 closed

[2020-05-05 17:52] #1375 closed

[2020-05-05 18:03] beezital opened #1597 "AADB2C90117: The scope 'user.read' provided in the request is not supported."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When trying the sample for Angular 9 attempting to get the user profile (scope user.

[2020-05-05 18:04] pkanher617 commented on #1583
@reseul The `acquireTokenSilent` API should allow you to to make this lookup without having to use the private API, the id token comes back as a parameter in the return value of `acquireTokenSilent()`. The "going to network" portion only happens if the id_token is expired, and it will attempt to get you a valid token. `getCachedToken` by itself will only remove it from the cache if it is expired.

[2020-05-05 18:22] ashishbhulani commented on #1592
@pkanher617 can you help me modify the code what exactly i am doing wrong. I have written this code inside tojen interceptor service.

[2020-05-05 18:27] pkanher617 commented on #1592
@ashishbhulani I just told you. Directly after the creating the authService object on page load, you need to call handleRedirectCallback. Currrently you are doing it after an error in acquireTokenSilent, which is incorrect usage.

We have some [angular dev samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples) in the repo you can use for more information.

[2020-05-05 18:33] ashishbhulani commented on #1592
@pkanher617 Actually the issue is that once the token is getting expired i am unable to renew it and that is the reason why i have put in error. So when the token is not expired the acquiretokensilent helps me to authenticate with the api. I face the token renew issue only when it is expired. So can you help me to re-write this code or can you paste here an example on how to fix this in this situa

[2020-05-05 18:37] pkanher617 commented on #1597
@beezital I'm assuming you are using a B2C authority.

`user.read` is a Microsoft Graph scope. I think there may be some extra configuration required to set up Microsoft Graph for B2C, please make sure you follow the [instructions here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=applications).

[2020-05-05 18:40] HarryGifford opened #1598 "Any chance of publishing an updated @azure/msal-browser to NPM?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
There have been a bunch of useful bug fixes and updates checked into the dev branch. Please could you publish an updated `@azure/msal-browser` to NPM? In particular, for me, #1543 and #1517 wou

[2020-05-05 18:41] pkanher617 commented on #1598
@HarryGifford Running some final tests now to publish a new version. Will close and update this issue when it is available.

[2020-05-05 18:48] reseul commented on #1583
@pkanher617 thanks, and yes, I understand the merits of calling a public API. There's a lot to discuss here about our scenarios, etc., but the problem is somewhat orthogonal.
We can easily end up (in our case) with several cached id_tokens as access tokens, one obtained with an "organizations" authority (we wanted home tenant), and some with particular tenant'ed authorities.
Trying to acquire the

[2020-05-05 18:55] sandesai commented on #1594
@pkanher617
I am using @azure/msal-angular package to integrate Azure Active Directory in my frontend Angular application. I have a node server running in the background.

I have registered both of my applications in the azure portal. The app successfully logs in and everything else works properly apart from the logout scenario.

The package: [(https://www.npmjs.com/package/@azure/msal-angular)]

[2020-05-05 18:56] jasonnutter commented on #1588
@avbhardwaj Thanks, we'll investigate and take this under consideration.

[2020-05-05 18:59] jasonnutter commented on #1188
@rick077 `msal@1.2.2` included a fix for the root cause of this bug, which was the library not properly deleting temporary cache entries. This should address the problem for most scenarios (if you finding that this is not the case, please open a new issue).

This enhancement is a further safe-guard, however, is lower priority since the we root cased the original issue.

[2020-05-05 19:00] muying-cui opened #1599 "Error message contains EUII (login_hint) which compromises Microsoft Privacy Policy"
## Library
- [x] `msal@1.2.1`

## Description
We have noticed that in one particular error message, the login_hint is present and that compromises the privacy policy, please take a look into it and see what fix can be done in MSAL.js for that.

Error msg: "URL navigated to is https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=id_token token&scope=394866fc-eedb-4f01-8536-3

[2020-05-05 19:12] #1560 closed

[2020-05-05 19:15] tnorling commented on #1557
Update: This has been fixed but will take some time to fully roll out. If you are still experiencing this issue at the end of the month please let me know and I will reopen.

[2020-05-05 19:15] #1557 closed

[2020-05-05 19:21] beezital commented on #1597
@pkanher617 yes I am using B2C authority (sorry, my post got stripped. I meant authority = `https://_TENANT_.b2clogin.com/tfp/_TENANT_.onmicrosoft.com/b2c_1_signupsignin/` ).
Thanks for the link. I've followed the [Grant API Access](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-preview#grant-api-access) instructions, but I could not get the An

[2020-05-05 19:23] ashishbhulani commented on #1592
@jasonnutter Can you help me on this?

[2020-05-05 20:16] ashishbhulani commented on #1592
@pkanher617 @jasonnutter How do i renew my token. can you please help me with that?

[2020-05-05 20:39] #1487 closed

[2020-05-05 21:41] ktikku commented on #1585
Thanks for the update @tnorling

[2020-05-05 22:57] nmetulev opened #1602 "Uris with query params do not work as redirect uris"
## Library
- [x] `msal@1.3.0`

## Framework
none

## Description
When using a query parameter in a redirect uri, msal js fails to sign in the user. For example:

Using this uri: `http://localhost:3000/index.html?someparam=bla`

When going through the redirect flow and the user is signed in, the user is redirected to `http://localhost:3000/index.html?someparam=bla#id_token=...`, but the msal librar

[2020-05-05 23:16] pkanher617 commented on #1598
@HarryGifford I found a bug with multiple resources around the refresh token, as well as needed to update docs for the new release, so I was a bit delayed. I finished the work, just waiting on reviews from the team and then I will be able to publish. PR here: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1603

[2020-05-05 23:34] jasonnutter commented on #1437
@giovannimele This is partly due to the fact this is caused by the B2C service, not the library.

@martinlarosa Are you able to invoked acquireTokenPopup or acquireTokenRedirect when this occurs?

Note, there are some B2C policies that we know will experience this error with acquireTokenSilent. See https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/49

[2020-05-05 23:38] pkanher617 commented on #1118
Closing this as we have changed the export in @azure/msal-browser to match the name of the package.

[2020-05-05 23:38] #1118 closed

[2020-05-05 23:40] pkanher617 commented on #1217
Closing, no new updates since Jan 16.

[2020-05-05 23:40] #1217 closed

[2020-05-05 23:45] pkanher617 commented on #1006
@abegines @himadrinath @nakawankuma Is this issue still persisting after upgrading to msal v1.3.0?

[2020-05-06 00:11] jasonnutter commented on #1592
@ashishbhulani You should be able to handle this without modifying the interceptor. When you make the http request and you receive an error, if it a timeout or interaction required error, invoke acquireTokenPopup with the same set of scopes, and then make the request again.

[code]

Note, if you want to use `acquireTokenRedirect` or `loginRedirect` instead, your application will need to implement

[2020-05-06 02:47] tecnoorganico opened #1605 "Rampage & Revenge"
:> g.V('thomas.1').addE('knows').to(g.V('robin.1')):> g.V().hasLabel('person').order().by('firstName', decr)>> Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angula

[2020-05-06 02:48] hrishy opened #1606 "msal angular and where is the msal config object in the sample ?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [√] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi i am looking at the sample here for Angular 9
https://github.com/AzureAD/microsof

[2020-05-06 02:48] tecnoorganico commented on #1605
https://docs.microsoft.com/rest/api/playfab/client/account-management/linknintendoswitchdeviceid?view=playfab-rest[]()

[2020-05-06 02:50] #1605 closed

[2020-05-06 06:25] himadrinath commented on #1006
@pkanher617 @jasonnutter looks like the issue is fixed

[2020-05-06 09:14] hrishy commented on #1606
Hi
sorry wading through the documentation i was able to locate where this information is present kindly ignore this.

[2020-05-06 09:26] Bhargav-Narayan opened #1607 "Forgot password flow is not working in IE 11"
## Library
- [ ] `msal@1.2.0`

## Framework
React 16.8.4

## Description
In our project, we are using redirect methods (loginRedirect and aquireTokenRedirect) instead of popups for connecting with Azure B2C.
Once user clicks on forgot password link from login page, user is redirected back to our app with an error code 'AADB2C90118'. Once we detect this error, we are trying to call loginRedirect AP

[2020-05-06 09:30] Bhargav-Narayan opened #1608 "Impersonation flow with AAD B2C is not working"
## Library
- [ ] `msal@1.2.0`

## Framework
React 16.8.4

## Description
We have configured our AAD B2C tenant for impersonation flow by following github link ‘https://github.com/azure-ad-b2c/samples/tree/master/policies/impersonation’. We also tested this configuration and successfully generated the access token with impersonated user Sign In Name.

But when we configure our REACT JS application

[2020-05-06 09:36] BigThinker opened #1610 "URL navigated to is https://login.microsoftonline.com/dummyguid/oauth2/v2.0/authorize?response_type=token..., Token renewal operation failed due to timeout"
## Library
- [x] `msal@^1.3.0`
- [x] `@azure/msal-angular@^1.0.0-beta.5`

## Framework
Angular v9.1.0

## Description
URL navigated to is https://login.microsoftonline.com/dummyguid/oauth2/v2.0/authorize?response_type=token&scope=%20openid%20profile&client_id=dummy&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2F&state=dummy&nonce=dummy&client_info=1&x-client-SKU=MSAL.JS&x-client-Ver=1.3.0&login_hint

[2020-05-06 09:37] sameerag commented on #1583
`replaceTenantPath` is not really a needed change for `domain_hint` changes; since we removed all occurrences  of `Organizations` in our code, I thought deleting it makes sense. If there is valid reason we need that i.e. when the users pass `/Organizations` as authority, we can consider adding this again.

[2020-05-06 09:55] kafka-yu opened #1611 "invalid_grant of 9002313 returned when sign in AAD with personal Outlook account"
Hi There,

recently, we found in our Teams app when we sign in via AAD with personal Outlook account, it will show error as below:
[code]
It works fine for the normal O365 accounts.
Do you know the reason?
We have scopes of the request:

[code]
One of the scope needs the admin consent.

[2020-05-06 12:04] BigThinker commented on #1610
I get these 2 error messages before getting the error message detailed above.

**Unsafe JavaScript attempt to initiate navigation for frame with origin** 'http://localhost:4200' from frame with URL 'https://login.microsoftonline.com/dummyguid/oauth2/v2.0/authorize?response_type=token&scope=%20openid%20profile&client_id=dummy&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2F&state=dummy&nonce=dummy&cli

[2020-05-06 13:18] tcochran64 commented on #1437
Can you publish your solution?

[2020-05-06 13:20] flieks commented on #1586
@jasonnutter thanks alot. My app works locally but not in production. Worked with 1.2.2 in prod.
It is also opening popup to authenticate (but i never called acquireTokenPopup i think).
And it seems the problem is the token is never in cache with each api call i do i get the token from acquireTokenSilent which should have it in cache right ?
![image](https://user-images.githubusercontent.com/50323

[2020-05-06 14:46] rick077 commented on #1188
@jasonnutter I was using the msal@1.2.2-beata0 code recieved 431 errors on gets & posts only when running in Azure, not on my desktop.  Just upgraded to msal@1.3.0 and am still getting the 431 with duplicate MSAL auth cookies in the headers

[2020-05-06 15:15] martinlarosa commented on #1437
Hi @jasonnutter, thanks for the reply.
We are able to make it work just by forcing acquireToken to occur always with popup.

On the policies side, we have to unfortunately use custom policy to support multitenant AD login. So we have a custom policy providing local accounts as well as AD accounts.
I guess the policies listed in the link you shared are pre-built User Flows, right? Would that make a

[2020-05-06 16:15] lnadudva opened #1612 "Safari Login Issues"
## Library
- [x] `msal@1.3.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 8

## Description
After a successful login using redirectToLogin() (or calling acquireTokenRedirect()) t

[2020-05-06 16:26] #1606 closed

[2020-05-06 17:08] reseul commented on #1583
Yes, we do pass "organizations"-like authorities in some scenarios.
And thanks for confirming the change was a side effect of the unfortunate use of SSOTypes.ORGANIZATIONS, when in that context "organizations" has nothing to do with the domain_hint parameter.

The main problem is the change of behavior, and having to adapt to it when dot versions are released.
This may not be documented as such, b

[2020-05-06 17:20] jasonnutter commented on #1586
@flieks Can you try 1.3.0? Should have some fixes for cache bugs.

[2020-05-06 17:54] #1381 closed

[2020-05-06 19:02] pkanher617 commented on #1607
@Bhargav-Narayan could you paste the entire error that you are receiving from the service? Also, do you have a network trace you could provide that shows the redirects happening?

[2020-05-06 19:16] pkanher617 commented on #1611
@kafka-yu Could you please use the templates when creating an issue? It will allow us to identify your issue faster.

[2020-05-06 19:25] pkanher617 commented on #1612
@lnadudva Are you using a B2C or AAD authority? Could you also post a small snippet of how you are calling acquireTokenRedirect?

There are known issues caused by Safari's tracking prevention (see [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-known-issues-safari-browser)) which will cause acquireTokenSilent() to fail token renewal regardless of whether or not you h

[2020-05-06 19:27] pkanher617 commented on #1598
@HarryGifford @azure/msal-browser v2.0.0-beta.1 and @azure/msal-common v1.0.0-beta.1 are available on npm.

[2020-05-06 19:27] #1598 closed

[2020-05-06 19:37] pkanher617 commented on #1597
@beezital I am talking to some B2C service team members to better understand how to implement MS Graph in B2C tenants. Will update when I have more information.

[2020-05-06 19:37] pkanher617 commented on #1587
@taysco I have pushed a new release of msal-browser and msal-common to npm today. I am working on updating the quickstart sample.

[2020-05-06 19:39] pkanher617 commented on #1585
@ktikku Could you please try the [new version of msal-browser](https://www.npmjs.com/package/@azure/msal-browser) and see if you are still getting this issue?

[2020-05-06 19:42] tnorling commented on #1559
Doc links on npm have been updated.

[2020-05-06 19:42] #1559 closed

[2020-05-06 19:45] tnorling commented on #1290
Closing as I don't believe this is an issue with msal. Let us know if you are still unable to get this working.

[2020-05-06 19:45] #1290 closed

[2020-05-06 20:16] pkanher617 commented on #1612
@lnadudva Could you try reproducing this with [a sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples) in our repo?

[2020-05-06 20:22] pkanher617 commented on #1610
@BigThinker Could you try opening the URL that you received in this error in a top frame tab? This error occurs when STS is attempting to show an error in the top frame.

[2020-05-06 20:28] pkanher617 commented on #1607
Could you clarify if:
1. You are using the same polyfills in your production environment?
2. Whether you are using MSAL.js from npm or from the CDN?

[2020-05-06 20:36] beezital commented on #1597
Some news on my side after setting up and experimented with my own API.
For the MS Graph request,
if I change the protected resource from

`'https://graph.microsoft.com/v1.0/me', ['user.read']`
to
`'https://graph.microsoft.com/v1.0/me', ['https://graph.windows.net/User.Read']`

I no longer get the AADB2C90117 error, but a 401 (Unauthorized):

`HttpErrorResponse: {"headers":{"normalizedNames":{},"l

[2020-05-06 22:16] #1357 closed

[2020-05-07 01:10] kafka-yu opened #1614 "invalid_grant of 9002313 returned when sign in AAD with personal Outlook account"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
nodejs

## Description
Recently, we found in our Teams app when we sign in via AAD with personal Outlook account

[2020-05-07 01:12] kafka-yu commented on #1611
@pkanher617 thanks, I created new one here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1614

[2020-05-07 01:12] #1611 closed

[2020-05-07 05:38] suresh777 commented on #1290
I checked with msal@1.2.2 , refresh token is working properly with auth.html

[2020-05-07 07:35] vinusorout commented on #1188
We are also facing this same issue.
lib versions are:
"@azure/msal-angular": "1.0.0-beta.5",
"msal": "1.3.0",

[2020-05-07 07:55] Bhargav-Narayan commented on #1607
1. Yes we are using same polyfills in our production environment
2. We are using MSAL.js from npm

[2020-05-07 09:50] flieks commented on #1586
@jasonnutter I am using 1.3.0. I did not have the issues with 1.2.2

[2020-05-07 12:20] muecahit commented on #1549
I get the same error. When I navigate from our sharepoint to our webapp(uses msal) by clicking on a link, the same error occours. Upgrading to version 1.3.0 did not fix it.

[2020-05-07 12:58] chunliu commented on #1598
@pkanher617 index.d.ts is missing from @azure/msal-browser v2.0.0-beta.1. Build failed with the following error:
[code]

[2020-05-07 13:42] muecahit commented on #1549
For me upgrading to 1.3.0 did not fix the problem. On sharepoint we have a link to our webapp(uses msal). When we click the link, the error occours. But when you visit the URL by hand it works.

[2020-05-07 15:56] vinusorout opened #1615 "Token renewal operation failed due to timeout IE 11"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.5`
- [x] `msal@1.3.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 9

## Description
On windows 10, IE11 browser facing  'Token renewal operation failed due to timeout '

"Error: Uncaught (in pr

[2020-05-07 16:30] lnadudva commented on #1612
@pkanher617 Thank you for your help! We are using B2C.
I forgot to mention that this issue happens when using Google login
Here are the code segments which handle the login flow and the guarding of the routes:

[code]

[code]
The error is thrown in the guard's `checkLoggedIn()` method, and if I catch it and try to call `acquireTokenRedirect()` or `loginRedirect()` the browser starts refreshing and

[2020-05-07 16:34] Basaingeal opened #1616 "Apparent race condition after fetching token via redirect"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Vue v2

## Description
I have an SPA client registed in Azure AD. I also have a custom API that it calls registered in Azure AD. Before every call to my API, I call a function that calls `

[2020-05-07 16:36] zanlikealobster commented on #1574
Hi! Sorry to ask, but how did you manage to solve this issue? I'm having the same problems trying to access "https://management.azure.com/" and "https://api.loganalytics.io/" resources within the same app using @azure/msal-browser@2.x.x.
Even making two separate AcquireToken calls (each one with its own object with the relative scope), i get a 401 error for the second request.
Reversing the order

[2020-05-07 16:52] jasonnutter commented on #1586
@flieks Can you please open a new issue, thanks!

[2020-05-07 16:53] tnorling commented on #1574
@zanlikealobster Which version of msal-browser are you using? There was a bug in `2.0.0-beta.0` causing exactly what you describe when trying to get tokens for multiple resources. This should be fixed in `2.0.0-beta.1` which was released yesterday. We know that there are still some outstanding issues we need to resolve in msal-browser before GA and appreciate your patience while we we work on thos

[2020-05-07 17:23] jasonnutter commented on #1615
@vinusorout The logs for this request show the server took 4.3 seconds to response, so it is not surprising the library timed out, as the default timeout (which you can adjust via system.loadFrameTimeout) is set to 6000ms (6 seconds). Two mitigations:

1. Set a higher timeout (e.g. 10000 for 10 seconds)
2. If a request times out, retry the request (please only retry once or twice, the server will

[2020-05-07 17:31] vinusorout commented on #1615
Thanks @jasonnutter I will check this.
Which server you are talking about? can we check these errors by our own!

[2020-05-07 17:34] jasonnutter commented on #1615
This is the server that loads in the hidden iframe, and unfortunately, you are not able to check these errors on your own.

[2020-05-07 17:46] mikeyuan2008 commented on #1475
We got simular 401 error in our QA/PROD ENV when call API, and API got: Authorization: Bearer null

But we have different MSAL output from the Console Log, we tried but not able to reproduce the issue described here. .

@jasonnutter is it possible for you to help explain what's the scenario and how can we reproduce this error based on the Console Output here?

We used msal-angular 1.0.0-beta.5 + m

[2020-05-07 17:59] zanlikealobster commented on #1574
@tnorling thank you so much! that was the case indeed! I was using `2.0.0-beta.0` and everything is working fine after upgrading to `2.0.0-beta.1.`
I installed beta.0 two days ago, but didn't check for a possible newer release in the meantime, my bad. Sorry for such an easy-to-fix question.
I'm just playing around with it and it looks really promising! It was just driving me crazy because i though

[2020-05-07 18:07] jasonnutter commented on #1475
@mikeyuan2008 This was fixed in `@azure/msal-angular@1.0.0`, please upgrade and let me know if it is still an issue. I realize this isn't reflected in the changelog, I'll make sure that gets updated.

[2020-05-07 18:46] tnorling commented on #1616
@Basaingeal Are you waiting for `handleRedirectPromise` to resolve before calling `acquireTokenSilent`? Given that setting a delay seems to fix your problem I suspect the response from the redirect request is not finished processing before you call `acquireTokenSilent`. You should also be able to retrieve the token from the redirect response, an immediate silent call should not be needed in order

[2020-05-07 19:17] Basaingeal commented on #1616
Interesting. That works. I hadn't thought to use that as a promise to await outside of initial configuration. That sample that you linked is what I was going off of, although I had to tweak some things to fit into an authenticated router setup.

So basically doing the call how the sample said but with that extra initial await works:
[code]

I'm not sure if this could be clearer somehow. Most of th

[2020-05-07 19:29] tnorling commented on #1616
@Basaingeal I agree. Our redirect flows are not as well documented as they could be and we definitely have plans to improve that. The redirect promise is a new concept we introduced in the newest beta of msal-browser in an effort to align redirect flows with popup flows and reduce confusion. Your feedback is much appreciated and we'll make sure to call this out more clearly in the docs and samples

[2020-05-07 19:29] #1616 closed

[2020-05-07 20:53] vveerepalli opened #1618 "First party app support - getting error when authenticated with v2 version tokens"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description of the error
AADSTS54006: Unencrypted v2 access tokens are not supported for first p

[2020-05-07 21:32] #1348 closed

[2020-05-08 00:00] technical-boy commented on #1241
@navzam we're investigating this issue and should have a fix soon. For now, a workaround would be to make separate acquireTokenSilent calls (one to get an access token and one to get an Id token). As of 1.3.0 you can use the ssoSilent() API to more easily acquire an Id token.

[code]

[2020-05-08 00:07] gaelian commented on #99
I'd also like to pile on this one. Considering that MSAL.NET supports direct connections to on-prem AD FS 2019+ (with some minor tweaking of generated JWTs, it turns out) I had more or less assumed that MSAL.js would also have similar support, until reading this issue. My colleagues and I would be very keen to see this becoming a reality so that we have similar approaches available for SPAs.

[2020-05-08 01:40] LastTribunal commented on #99
I've been waiting for support from this so called MSAL team, all I got was empty promises and excuses.  Wasted my time

[2020-05-08 02:19] jasonnutter commented on #1437
Yeah, I believe custom policies (esp if they require MFA) are likely to run into this limitation.

[2020-05-08 04:49] vinusorout commented on #1615
Hello @jasonnutter after increasing the load frame time, now we are getting 431 Request header too large.

To resolve this we set storeAuthStateInCookie to false, but after that we are getting Timeout error please see logs in logs.txt file.

This issue is intermittent, as one user is able to run the application but one is not!

Please guide.

[logs.txt](https://github.com/AzureAD/microsoft-authent

[2020-05-08 05:04] vinusorout commented on #1188
Hello @jasonnutter do we have a fix for this!

[2020-05-08 09:13] djleonskennedy opened #1619 "openid configuration sends on each request"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I've set app with msal angular and i got request for open-configuration on each request

https://login.mi

[2020-05-08 10:41] muecahit commented on #1549
@tnorling For me upgrading to 1.3.0 did not fix the problem. On sharepoint we have a link to our webapp(uses msal). When we click the link, the error occours. But when you visit the URL by hand it works.

[2020-05-08 12:29] AndriiDidkivsky commented on #1619
Facing same issue with MSAL great than v1.1.3

[2020-05-08 14:03] DarkLite1 opened #1620 "What is the correct string to use to identify a specific user in a local database?"
## Library
- [x ] `msal@1.3.0` from `npm install msal`

## Documentation location
- [x] MSAL.js Github Wiki
- [x] README file
- [x] Documentation does not exist

## Description
It's hard to find which identifier to use when a user authenticated to Azure AD. The returned object from `msal.getAccount()` contains multiple fields that can be used but it's unclear which one.

A similar question has bee

[2020-05-08 14:12] djleonskennedy commented on #1619
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1240

If someone will face issue, remove unnecessary  scopes from protected resource map

Here :  https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dacad07ff71f35d658cfa509142bdf5b8c07d28b/lib/msal-angular/src/msal-angular.configuration.ts#L14

Regards

[2020-05-08 14:12] #1619 closed

[2020-05-08 18:40] taysco commented on #1587
Awesome, thank you very much. Great work btw.

[2020-05-09 04:55] ktikku commented on #1585
@pkanher617 The issue got fixed, thanks!

[2020-05-09 23:36] marty-wang opened #1621 "'Keep me signed in' not available when redirect url is chrome-extension://xxxx"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We are creating an edge extension using msal.js to authenticate users against AAD. For edge extension the redirect url is in such format chrome-extension://xxxx. I noticed that in such case the

[2020-05-10 19:19] heikkilamarko opened #1623 "Caching problems with acquireTokenSilent()"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.1`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

Vanilla JavaScript

## Description

It seem that after upgrading from `msal-browser@2.0.0-beta.0` to `msal-browser@2.0.0-beta.1`, caching is not working properly anymore.

Every time I ca

[2020-05-11 01:39] derisen commented on #1620
I believe `oid` is what you need. From the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#payload-claims):

[2020-05-11 05:54] DarkLite1 commented on #1620
Thanks for the feedback @derisen . So the correct one to use is `idTokenClaims oid`

It might be beneficial to add this to the examples as a comment. So it's clear for developers which one they need to use. Given that there's no need to store a token in the app, because `acquireTokenSilent` calls will do that for us, the only remaining question can be on how to identify the user with a unique stri

[2020-05-11 05:54] #1620 closed

[2020-05-11 06:15] ktikku commented on #1585
Hi,
I'm getting the Bearer token.
But I'm using `acquireTokenSilent` method to query to check whether the user is able to fetch the id and access_token silently.
I have written a check to determine whether the user is logged in based on the above check.

The moment I get redirected back to my app, acquireTokenSilent` call fails. On refresh, I'm able to silently fetch the id token silently.

This w

[2020-05-11 09:11] ktikku commented on #1585
I am getting the same error despite using `handleRedirectPromise` because of the delay.

[2020-05-11 09:16] dusanjovanov opened #1625 "B2C - Localization strings"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We have B2C customization with unified.html. This what the sign in page in Lithuania

[2020-05-11 12:55] Bhargav-Narayan commented on #1607
@pkanher617 , We are unable to capture error on IE since IE erases logs on redirections. So I'm attaching the B2C error that we have captured on chrome on click of forgot password link.

Also I've attached the screenshot of network trace. PFA

![fiddlerScreenShot1](https://user-images.githubusercontent.com/14849592/81562405-69665f80-93b2-11ea-927a-a2d9e0af686c.png)
![fiddlerScreenShot2](https://us

[2020-05-11 14:30] derisen opened #1626 "provide method for admin consent request"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ x] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.x.x`
- [x ] `@azure/msal-angularjs@1.x.x`

## Description
Please describe the functionality or improvement you would like to see added.

[2020-05-11 14:35] IainAdamsLabs commented on #113
@rohitnarula7176 - Why is this closed? Has this feature been delivered? I can't see it in the library. Using msal 1.3.0

[2020-05-11 14:52] Cnordbo commented on #842
Just want to add my support on this issue as we get this as well when using `aquireTokenSilent` with browsers/users that gets redirected to the account selection view. Could there be any way of setting the `login_hint`?

https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1
https://www.iana.org/assignments/oauth-parameters/oauth-parameters.xhtml#parameters

Looking at Googles d

[2020-05-11 14:53] derisen commented on #1620
@DarkLite1 sounds good. I'm actually working on FAQ and will sure to add this.

[2020-05-11 14:53] IainAdamsLabs opened #1627 "Does MSAL.js support multiple accounts using acquireTokenSilent?"
Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I want my application to support multiple MS accounts at once.

In my application the user logs in outside of MSAL, however, the session is still valid on the Authentication server.

I am followin

[2020-05-11 16:22] jasonnutter commented on #1618
This was answered on internal Stack Overflow, closing.

[2020-05-11 16:22] #1618 closed

[2020-05-11 16:45] jasonnutter commented on #1188
If you logout from MSAL and then log back in, does the error still happen?

[2020-05-11 16:54] jasonnutter commented on #1615
@vinusorout Does this error happen if you logout and log back in? And when the error happens, how many cookie values are MSAL cookies (i.e. are there dozens of MSAL cookies, or only 1)?

[2020-05-11 16:57] jasonnutter commented on #113
@IainAdamsLabs No, `logoutPopup` has not been added. There is an open feature request for it here: #1386

[2020-05-11 17:01] pkanher617 commented on #1623
@heikkilamarko Thank you for posting this issue. I was able to reproduce it, I will try to push a fix and a new release today.

[2020-05-11 17:50] vinusorout commented on #1615
Hello @jasonnutter  there are many cookie values related to MSAL cookies.

Thankfully I have one of such example saved in my notepad:

   Cookie: AzureAppProxyAnalyticCookie_fbf140f0-89ed-4765-9e02-70431ce7c3f3_1.3=3|vTLfJB1eUV27VEsijJU7M/wTjc/AvHe+XY1Ld3Jb0fU7h+4TRblAO8f9jXjn918wOx9ZASVjjwP2vhlSq7jHdOvs3eC4VPgLLdaVTrHsRMxu9y2A+iiOt4HQobUAzvpicr3ESu24eSLj87b+2GaJXA==; msal.cd2e0505-3490-4e2c-8c1b-

[2020-05-11 17:53] vinusorout commented on #1615
@jasonnutter  I also faced an issue where URL after authentication is too long and due to which I got 400 (request header too large or uri too large error) error from nginx server.

Does msal.js creates longer redirect uri than adal.js?

Follwoing is the url it created:
https://abc.abc.com/fa/#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkN0VHVoTUptRDVNN0RMZHpEMnYyeDNRS1NSWSJ9.eyJhdWQiOiJ

[2020-05-11 18:18] jasonnutter commented on #1615
@vinusorout Yes, it does. I would suggest increasing those limits to see if it mitigates those errors.

[2020-05-11 18:28] vinusorout commented on #1615
Thanks @jasonnutter
Will increase the same, can you suggest a max number here for URI!

Also what should we do for cookie issue?

[2020-05-11 23:18] #1623 closed

[2020-05-12 01:53] chunliu opened #1635 "Wrong location of index.d.ts in @azure/msal-browser v2.0.0-beta.1"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
@azure/msal-browser v2.0.0-beta.1

## Framework
React v16

## Description
The location of `index.d.ts` should be in `node_modu

[2020-05-12 03:01] rick077 commented on #1188
@jasonnutter If you logout from MSAL and then log back in, does the error still happen?

The 431 error still happen after logging out then back into MSAL.   Never occur when running on localhost.

[2020-05-12 05:41] ktikku commented on #1585
I figured out how to work with `handleRedirectPromise`.
Thanks!

[2020-05-12 09:33] hdrodel opened #1636 "manually trigger token renewal ?"
## Library
-[]AdalJS v1.0.18

## Description
Is there a way to manually trigger token renewal?

Im currently trying to tackle the pagerefresh problem when the token is renewed. is it possible to trigger a renewal without having to wait until the token expires?

[2020-05-12 09:51] SC-Goestowork opened #1637 "Looping issue after the msal token is inside the session storage token"
## Library
- [ ] `msal@1.3.0` or `@azure/msal@1.3.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
I have encountered a looping issue regarding msal. The msal token generation is successful but, for some reason, the site keeps on looping.

## Security
Is this issue security related? No

## Regression
Did this behavior work before? No

## Configu

[2020-05-12 11:13] hannonjohn commented on #735
Thanks very much @BoshJeckerleg - this sorted my issue.

[2020-05-12 13:08] IainAdamsLabs opened #1638 "Provide nonce for request"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am working with a 3rd party authentication system that allows for federated identi

[2020-05-12 13:26] DaSchTour opened #1639 "Usage of globals breaks SSR"
## Library
- [x] `msal@1.3.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.5`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular v9

## Description
When trying to start my application with SSR and installed MSAL Library the application breaks because of the extensive direct usage of globals. It first breaks

[2020-05-12 14:53] whobeika commented on #1038
@djleonskennedy can you share what was the problem and adjustments to configs you had to make? Thanks

[2020-05-12 14:59] QuickScoP3s commented on #1167
Found an additional bug...
Some of my routes are setup as follows:
[code]

Since MsalGuard doesn't implement CanActivateChildren, I have to protect them manually... By doing this, the 'parent routes': "meeting" & "rooms" are left unprotected, except they aren't if you look at the first child route.

The problem is that MsalGuard adds these routes to the unproctectedresources map.
And my backend AP

[2020-05-12 15:06] ninio opened #1640 "TypeScript Error: "Declaration or statement expected." in msal-browser/dist/src/index.d.ts"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.2
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
react@16.12.0 with typescript@3.7.5

## Description
When including the @azure/msal-browser in the project, the following error appears:
[code]

## Security
No.

## Regression
Don't know.

#

[2020-05-12 15:13] adrichema commented on #1612
We also have this problem when using the SharePoint App and browsing to our SharePoint Home Site with some SPFX webparts on it that make use of MSGraphClient.

[2020-05-12 16:21] tnorling commented on #1637
@SC-Goestowork Can you confirm that the token is being stored in local or session storage after redirect and that the token is not present in the hash of the url? Can you also share whether or not your redirect pages use any custom hashes or query strings?

[2020-05-12 16:24] #1585 closed

[2020-05-12 16:31] tnorling commented on #1614
@kafka-yu We do not use the /token endpoint in msal version 1.x, which is what you have marked. Can you confirm that you are using msal-browser? Can you also share your msal config and any relevant code snippets where you are trying to acquire a token? Thanks!

[2020-05-12 16:37] tnorling commented on #1625
@dusanjovanov Can you check the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-language-customization) on language customization for B2C and let us know if this addresses your use case?

[2020-05-12 16:59] jasonnutter commented on #1639
@DaSchTour Unfortunately, server-side rendering is currently considered out of scope for the library, given it's heavy reliance on the browser environment, as you have noticed. This is something we may consider improving in the future, but for now, it is recommended to not include MSAL in server render paths, and only include it client-side.

[2020-05-12 17:05] jasonnutter commented on #1188
@rick077 When this happens, how many MSAL cookies are there?

[2020-05-12 17:07] DaSchTour commented on #1639
Yeah, when registring the module for root to have it available that‘s not easy to achive. At least some information about this would have been helpful. There are actually pretty easy solutions to solve this. It would have been much appreciated to have this obstacle communicated upfront that there is the need to implement such a solution.

[2020-05-12 17:24] aelij opened #1642 "Error during sign out - AADSTS90023"
## Library
- [x] `@azure/msal-browser@2.0.0-beta2`

## Framework
React 7.106.0

## Description
After calling `PublicClientApplication.signOut()` the browser redirects to an AAD page with the following error:

## Security
Is this issue security related? No

## Regression
Did this behavior work before? No

## Configuration
Please provide your MSAL configuration options.

[code]

Code: [msal.ts.txt](

[2020-05-12 17:40] rick077 commented on #1188
@jasonnutter   4 cookies. Below details removed.   My MSAL code is in angular app.module.ts and the errors come immediately on launch in my main.component.ts as I pull database info for the app.

	localStorage: Storage
	length: 5
	msal.********-****-****-****-************.client.info: "**********************"
	msal.********-****-****-****-************.idtoken: "xxxxxxxxxxxxxx.yyyyyyyyyyyyyyyyyyyyy

[2020-05-12 19:54] pkanher617 commented on #1642
This was caused by an issue in the app registration, fixed by clearing the Logout URL in the Authentication blade.

[2020-05-12 19:54] #1642 closed

[2020-05-12 20:02] pkanher617 commented on #1640
@ninio Could you try upgrading to Typescript 3.8? This version introduced [type-only imports and exports](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-exports) which is why you may be seeing the above error.

[2020-05-12 20:17] pkanher617 commented on #1638
@IainAdamsLabs This seems like a reasonable request, we will take some time to review it.

[2020-05-12 20:25] pkanher617 commented on #1637
@SC-Goestowork it appears that you are calling myMSALObj.loginRedirect(loginRequest) in the script anytime the script is loaded. You should add a condition to call loginRedirect only if an account is not present:
[code]

[2020-05-12 20:28] pkanher617 commented on #1635
@chunliu Could you try upgrading to beta.2 and see if you are still seeing this issue?

[2020-05-12 20:37] pkanher617 commented on #1597
@beezital The doc you followed was correct. The only change you should make is to add you b2c authority uri to your scope (instead of the graph resource uri).
[code]

[2020-05-12 20:51] pkanher617 commented on #1594
@sandesai Could you send me the Fiddler trace in an email? My email is available on my profile.

I don't believe msal javascript is making the additional call with the office.com redirect uri, but I would like to take a more detailed look at the Fiddler trace to make sure.

[2020-05-12 20:53] jasonnutter commented on #1612
@lnadudva A couple of things:

First, it is expected that the library will not work completely if third-party cookies are disabled, as the implicit flow relies on third-party cookies.

Second, in `checkLoggedIn`, when interaction is required, you should be calling `acquireTokenRedirect` with the same scopes that were used for `acquireTokenSilent`. It appears you are using `environment.authScopes`

[2020-05-12 21:02] pkanher617 commented on #1607
@Bhargav-Narayan could you try setting navigateToLoginRequestUrl in the constructor configuration to false? That may prevent the redirect to the login screen upon returning to the application.

[2020-05-12 21:02] jasonnutter commented on #1188
@rick077 Those look like localStorage values (which are not passed to your server), I'm interested in the cookies specifically.

[2020-05-12 21:03] #1602 closed

[2020-05-12 21:03] pkanher617 commented on #1635
Confirmed to work for TS projects.

[2020-05-12 21:03] #1635 closed

[2020-05-12 21:04] jasonnutter commented on #1639
@DaSchTour That is good feedback, and yeah there is probably a relatively small amount of work we can do to get it so it doesn't break when used with server-side rendering, however, that hasn't been a priority yet.

[2020-05-12 21:10] jasonnutter commented on #1167
@QuickScoP3s Great, thanks for the feedback!

[2020-05-12 21:18] hpsin commented on #1621
This is expected behavior at this time for AAD.  Non-HTTP(S) redirect URIs at this time indicate to the login server that the request is going to a native application or otherwise embedded app, and therefore there's no reason to keep the session around.

In your scenario this is not desirable, of course, since you are inside a browser and would like the session to stick around.  This limitation ha

[2020-05-12 22:51] lahuey opened #1644 "Feature Request: API for retrieving the redirect url for MSAL.AcquireTokenRedirect"
Scenario:
1. Silent Authentication fails with Multi Factor Authentication Required
2. SPA prompts the end user to provide credentials (rather than redirecting immediately)

This scenario is difficult to support, as we cannot regenerate the original token request (via AcquireTokenRedirect) when the user clicks the hyperlink. If we had an API to build the redirect url from a request, we could pass i

[2020-05-12 23:24] marty-wang commented on #1621
Thanks for the reply.

[2020-05-13 01:16] chunliu commented on #1635
there is no issue with beta.2. thx.

[2020-05-13 01:27] marty-wang commented on #1621
@hpsin just out of curiosity, since chrome-extension:// protocol is clearly the browser scenario, specially now given that edge browser uses the same protocol, lots of microsoft 1st party extension will suffer this problem, is it possible to expedite it just for chrome-extension:// protocol?

[2020-05-13 02:34] lordtct opened #1647 "msal.interceptor.ts acquireTokenSilent should gracefully fallback to redirect or popup"
## Library
- [X] `@azure/msal-angular@1.x.x`

## Description
Issue: Once the user session has expired and `MsalInterceptor` is being used, API calls to protected resources will yield "`Message: AADB2C90077: User does not have an existing session and request prompt parameter has a value of 'None`'." This is due to `acquireTokenSilent` being unable to obtain a token "silently" and that there are no

[2020-05-13 03:51] vinusorout commented on #1188
Hello @jasonnutter  I also tried this logout as you mentioned here, but this doesn't solve the error.
And yes it store multiple cookie related to msal.

Please check https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1615#issuecomment-626854629
for all the cookie values it stored in browser.

[2020-05-13 08:54] Mathijs003 commented on #736
Are you really suggesting to time the expiry in the client?
Isn't the normal way to refresh the token if a call fails?

I don't think people can put a timer in their client app to check if it's time to refresh the token..

[2020-05-13 10:33] UzairNoman opened #1648 "Angular application trying to signin with dynamics account opened in another tab."
##  Library
- [ ] `@azure/msal-angular@^1.0.0-beta.4`

## Framework
Angular v9

## Description
Angular app is using the credentials tried on dynamics account.

## Security
Yes

## Regression
No

## Configuration

[code]

[2020-05-13 10:48] #1648 closed

[2020-05-13 10:56] DarkLite1 opened #1649 "How to renew the tokens when using multiple scopes?"
##  Library
- [x] `msal@1.3.o` from `npm install msal`

## Description

To only ask the user for consent once we included all scopes in the `loginRedirect` and `loginPopup` methods. We assume this ok to do.

While updating the code we also try to convert it to TypeScript but get the error below. The strange thing is that this is the same code as in [the exmaple](https://github.com/Azure-Samples/ac

[2020-05-13 12:22] niwsa commented on #1437
@jasonnutter I am building a Next JS server side app.Right now the client side hydrates with msal code, but ran into iframe issues.Would you recommend doing auth via server side flow (authorization code flow I believe) to get around these issues.That also means the Next JS server acts as a proxy in between my client(browser app) and server(APIs).

[2020-05-13 13:09] mmuarc commented on #736
Sadly this is what I ended doing. Putting a timer in my client to keep refreshing the token every X minutes or you lose your session and the calls will fail. I don't think it is a good approach at all but we are forced to do this as per the current implementation

[2020-05-13 13:58] stephenstroud opened #1650 "AuthError: Unexpected error in authentication.: Hash does not contain state"
## Library
- [ ] `msal@1.3.1`

## Framework
React v16.13.1

## Description
I'm using B2C and seeing the following browser error when redirecting from Custom policy B2C_1A_signup_invitation:

 ` ` `Browser error: AuthError: Unexpected error in authentication.: Hash does not contain state ` ` `

Custom policy SignUpInvitation.xml [here](https://github.com/azure-ad-b2c/samples/tree/master/policies/in

[2020-05-13 14:05] sandesai commented on #1594
@pkanher617

Unfortunately, I cannot share any more details than I already did due to my client's privacy concerns.

Regards,

[2020-05-13 14:16] Mathijs003 commented on #736
That's indeed sad :( What I did was intercepting my calls (with axios in React) als checking for a 401, then I would call the 'acuireTokenSilent' to get a new token and add it to the request. Have a look at this, maybe it can help :)

[code]

[2020-05-13 16:27] rick077 commented on #1188
@jasonnutter @vinusorout   Where do I see the cookies in the Javascript 431 error?  I am looking at these errors in the Chrome Console.

[2020-05-13 16:39] jasonnutter commented on #1647
@lordtct I agree that the interceptor should provide built-in error handling, as you describe. For now, a workaround is to invoke one of the interactive methods (e.g. acquireTokenPopup) and perform the http request again.

[2020-05-13 16:40] vinusorout commented on #1188
@jasonnutter our users are facing this issue in IE only and for our configurations, please see issue description:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1615

[2020-05-13 16:42] pkanher617 commented on #1650
@stephenstroud Could you confirm with Fiddler or another network trace whether the state value is being returned in the call?

[2020-05-13 16:53] pkanher617 commented on #1649
This assumption is correct - by doing this, you will be able to consent to multiple scopes from multiple resources on login.

Correct - endpoint is not an accepted parameter for `acquireTokenSilent`. The accepted parameters are available in the AuthenticationParameters.ts class [here](https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-core/modules/_authenticationparameters_

[2020-05-13 16:53] rick077 commented on #1188
@jasonnutter .....  Interesting does not appear to error in IE though I need to verify as I am not familiar with the console.  Tried IE and was able to get the server to dump the header into the Azure console.    I will try to get the same info running from Chrome.

In the header on the server  I see two cookie: 'ARRAffinity=  and  AppServiceAuthSession=.

I also see very large strings for:
 autho

[2020-05-13 17:53] rick077 commented on #1188
@jasonnutter  with Chrome browser and using the Azure "Log Stream" in verbose mode I can see the two MSAL cookies and that I am authenticated OK.  Using Chrome All the subsequent calls to the server return 431 errors and the server never logs any of the log msgs in the code.  Appears to be a Chrome browser specific error I am seeing.

[2020-05-13 18:03] MrinmoyM opened #1651 "404 error while installing @msal-angular in angular 9 app"
npm install msal @angular/msal-angular --save
giving error -
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@angular%2fmsal-angular - Not found
npm ERR! 404
npm ERR! 404  '@angular/msal-angular@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from

[2020-05-13 18:19] pkanher617 commented on #1263
@sanderaernouts Apologies for the delayed response on this issue. If you are still having this issue with the latest version of MSAL, could you please post a snippet of the code you are using to create the msal object and call loginRedirect?

I suspect this has something to do with the handleRedirectCallback function not being called, but I would need to see the code to be sure.

[2020-05-13 18:22] rick077 commented on #1188
@jasonnutter   Immediately after the 431 errors I see in the verbose log a html page for "HTTP Error 401.71 - Unauthorized"

[2020-05-13 18:29] pkanher617 commented on #1410
Added in #1451.

[2020-05-13 18:29] #1410 closed

[2020-05-13 18:35] jasonnutter commented on #1651
@MrinmoyM The correct name is `@azure/msal-angular`, instead of `@angular/msal-angular`. Can you please try that?

[2020-05-13 18:49] pkanher617 commented on #896
e2e tests and frameworks added to samples folders.

[2020-05-13 18:49] #896 closed

[2020-05-13 19:01] MrinmoyM commented on #1651
My bad! Thanks.

[2020-05-13 19:01] #1651 closed

[2020-05-13 19:13] pkanher617 commented on #1100
Current code coverage is at 81% https://coveralls.io/github/AzureAD/microsoft-authentication-library-for-js

[2020-05-13 19:13] #1100 closed

[2020-05-13 19:16] pkanher617 commented on #1248
@daniel-codeoasis @msardi23 @kemins @loganabsher @azure/msal-browser v2.0.0-beta.2 is currently on npm, please try it out and let me know if you have any issues with Safari usage.

[2020-05-13 19:17] pkanher617 commented on #1248
@MathieuDWeill We are hoping to have B2C support available before the end of this month, and hopefully before we release v2.0.0 fully. Please keep an eye out for new releases and docs updates for B2C.

[2020-05-13 19:48] pkanher617 commented on #1594
Understood, unfortunately I can't really help unless I know where the call in Step 3 is originating from. Neither the [@azure/msal-angular](https://www.npmjs.com/package/@azure/msal-angular) package nor the [msal](https://www.npmjs.com/package/msal) package craft URLs with response type=code.

If you can reproduce the issue in one of the dev samples in this repo, we may be able to identify the cau

[2020-05-13 19:59] jasonnutter commented on #1595
Closing as fixed, let us know if this is still an issue.

[2020-05-13 19:59] #1595 closed

[2020-05-13 22:13] stephenstroud commented on #1650
@pkanher617

Are you referring to the state property within the header? See below?

![image](https://user-images.githubusercontent.com/7649287/81871147-23a2c600-956f-11ea-8d42-70d6abd8b173.png)

Error message appears like:

![image](https://user-images.githubusercontent.com/7649287/81871229-4af99300-956f-11ea-882c-50e715e9d231.png)

[2020-05-13 22:35] pkanher617 commented on #888
Closing because we have #1346 and #1347.

[2020-05-13 22:35] #888 closed

[2020-05-13 22:41] pkanher617 commented on #1029
@derisen Could you make sure the scenarios outlined here are represented in the [Angular B2C samples](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa)?

[2020-05-13 22:53] pkanher617 commented on #1045
@LiamMartens We can't support changing accounts while acquiring an access token currently because we don't support scenarios with multiple accounts. If you need to login with a new account, you should call loginRedirect/loginPopup. When we have support for multiple accounts, you should be able to call acquireTokenRedirect as you described.

[2020-05-13 22:53] #1045 closed

[2020-05-13 22:57] pkanher617 commented on #1384
@chaitanyabhalerao1 Your login authority domain is going to be your b2c authority, not `https://login.microsoftonline.com/`, which is the AAD authority. The B2C authority should be the same one you pass into the MSAL config.

[2020-05-13 23:01] #1361 closed

[2020-05-13 23:05] pkanher617 opened #1653 "Create Documentation for Scopes and Multiple Resource Scenarios"
Please follow the issue template below.

## Library
- All

## Type
- [ ] Bug
- [ ] Feature
- [ ] Enhancement
- [ ] Tooling
- [x] Documentation
- [ ] Samples
- [ ] Other (please describe)

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
Add docs for scopes and multiple resources, this isn't well documented enough and needs to be more clear in terms of usage for our li

[2020-05-13 23:06] pkanher617 commented on #1650
No the state parameter should come back in the hash along with the id_token, it doesn't appear to be working this way for this specific policy. I have a meeting with some B2C team members tomorrow, I will update when I have more info on a way forward.

[2020-05-13 23:14] tnorling commented on #1245
Our b2c sample has been updated to show how to implement the forgot password flow and can be found [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/tree/master/JavaScriptSPA)

[2020-05-13 23:14] #1245 closed

[2020-05-13 23:35] derisen commented on #1029
@pkanher617 sounds good, I'll check.

[2020-05-14 00:10] tnorling commented on #1269
Closing as the original question has been answered. Let us know if this is still an issue.

[2020-05-14 00:10] #1269 closed

[2020-05-14 00:32] mmuarc commented on #736
I have something similar (using fetch). But still if your application, like mine, needs to stay logged for long periods without doing any request to the server you need to keep refreshing the token periodically ( I specifically refresh the idtoken) or when you try to do a request after let's say 1 hour and a half idle the access token renew won't work without user interaction, which means redirect

[2020-05-14 04:01] zlaja1983 opened #1654 "loginPopup is opening a new windows on mobile"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.3.1`
- [ ] `@azure/msal-angular@1.0.0`

## Description
I am seeing an odd behavior on mobile when using msalService.loginPopup(data)
        const data: AuthenticationParameters = {
            authority: `${B2CPolicyFlows.B2C_BASE_URL}/${B2CPolicyFlows.B2C_SIGNIN_F

[2020-05-14 06:17] EricForgy commented on #1194
Hi,

I am a noob with this stuff and it was somewhat miraculous I got this to work at all in the first place. Now I am seeing this error suddenly. I've read the above comments but not entirely clear on how they apply to me. Could someone help me understand, in basic terms, what is going on and how I can fix it?

I've got a React app built starting with create-react-app and using mobx-state-tree fo

[2020-05-14 06:41] DarkLite1 commented on #1649
Thank you @pkanher617 , this really cleared things up a bit for me.

In this case, could it be that line 53 in the [example code](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/authRedirect.js) should be update from ` return myMSALObj.acquireTokenSilent(request, endpoint)` to ` return myMSALObj.acquireTokenSilent(request)`?

I think I'll stic

[2020-05-14 07:04] stephenstroud commented on #1650
Is it possible to enable this manually within the custom policy XML? i.e. can I add a setting to trigger this?

[2020-05-14 14:42] stephenstroud commented on #1650
@pkanher617 this is happening on the standard signin/signup form - when redirecting from the signup form to the SPA I get the above error. Perhaps it's not specific to that template and something I've misconfigured within the B2C portal?

[2020-05-14 16:26] jasonnutter commented on #1654
@zlaja1983 Mobile browsers open popups as new windows, unfortunately (and I don't believe there is anything we can do to change that).

[2020-05-14 16:33] niwsa opened #1656 "Better workaround for silent token refresh failure in Safari"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Current [work around](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari#work-around
) for silent token renewal failure in safari requires user interv

[2020-05-14 17:41] jasonnutter commented on #1194
@EricForgy When MSAL needs to make a network request to obtain a new access token (as opposed to using a cached token), it will use a hidden iframe, initially set to load a location on a MSFT backend service. When the backend service has completed generating the token, it will redirect the iframe to your redirect URI (specified in your configuration or on the specific request) with the access toke

[2020-05-14 18:08] pkanher617 commented on #1656
@niwsa Thanks for posting this. We have looked at the Storage API and we are currently exploring options that will require changes to both the auth client library and server.

The current workaround we are using is to introduce the authorization code flow for browsers, which limits the usage of iframes. We have introduced this in the @azure/msal-browser package which is currently in beta. We recom

[2020-05-14 18:08] #1656 closed

[2020-05-14 18:20] niwsa commented on #1656
@pkanher617 Thanks for the reply.However I understand that @azure/msal-browser is not available for B2C tenants which is really my use case.For now thinking of using https://github.com/AzureAD/passport-azure-ad with server side rendering.

[2020-05-14 18:49] pkanher617 commented on #1649
Thanks for catching this, I have opened a PR for this in that repo: https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/pull/37.

Access tokens are tied to a specific resource, so you can't get a token that is valid for both `MS Graph` and your external API. What you should do is before making a call to an endpoint, call `acquireTokenSilent` (calling it ATS from now on) with t

[2020-05-14 18:53] pkanher617 commented on #1627
Unfortunately we don't have multiple account support at this time, but we are working on adding this feature soon.

You can switch accounts by calling loginRedirect or loginPopup with your login_hint, but MSAL currently only keeps track of the most recently acquired account.

[2020-05-14 18:59] pkanher617 commented on #1636
@hdrodel Could you please clarify what package you are using? Our adal library is here: https://www.npmjs.com/package/adal-angular. It only goes up to v 1.0.17.

Please open issues for ADAL here: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues

[2020-05-14 18:59] #1636 closed

[2020-05-14 19:03] pkanher617 commented on #1610
@BigThinker Any updates on the error?

[2020-05-14 19:15] DarkLite1 commented on #1649
Awesome! That cleared it up for me. Closing this one. Thanks for the amazing feedback, very much appreciated :)

[2020-05-14 19:15] #1649 closed

[2020-05-14 19:44] #1271 closed

[2020-05-14 19:46] pkanher617 commented on #1195
#1272 linked issue

[2020-05-14 19:46] #1195 closed

[2020-05-14 19:49] pkanher617 commented on #1275
#1473

[2020-05-14 19:49] pkanher617 commented on #1275
B2C support in Node lib, any further features will be added as separate PRs.

[2020-05-14 19:49] #1275 closed

[2020-05-14 19:49] #1280 closed

[2020-05-14 19:50] #1281 closed

[2020-05-14 19:50] #1283 closed

[2020-05-14 19:51] pkanher617 commented on #1372
Coverage is being run, but publishing to Coveralls needs to be done.

[2020-05-14 19:52] #1473 closed

[2020-05-14 19:53] pkanher617 commented on #1491
#1533

[2020-05-14 19:53] #1491 closed

[2020-05-14 19:58] pkanher617 commented on #1656
@niwsa We are hoping to have support for B2C tenants by the end of this month, keep an eye out for new releases!

[2020-05-14 21:44] lax-github opened #1658 "MSAL.js is not working in IE11. I am getting 'signIn’ is undefined script error. I tried to run latest vanilatest as well and getting same error in vanila test as well."
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-05-14 21:45] lax-github commented on #1658
using msal.js 1.1.3 package.

[2020-05-14 22:16] jasonnutter commented on #1658
@lax-github This is with one of the samples, correct?

[2020-05-14 22:26] widget31too opened #1659 "MSAL 1.3.1, broke authentication with Azure AD B2C"
## Library
- [x] `msal@1.3.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).
Angula

[2020-05-14 22:45] tnorling commented on #1659
@widget31too Can you confirm whether `/oauth2/v2.0/authorize/` is part of the authority you are sending in your config? The authority url should only be in the format `https://example.b2clogin.com/example_tenant/policy` and can optionally also include`/tfp/`. The authorize endpoint info should be left off as msal will discover this with the openid-configuration call you see above.

[2020-05-15 00:00] eeskildsen opened #1660 "Wrong protectedResourceMap Usage in README"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [x] README file
- [ ] Other (please fill in)
- [ ] Documentation does not exist

## Description
I think the sample `protectedReso

[2020-05-15 00:05] jasonnutter commented on #1660
Good catch, we'll make sure this fixed, thanks!

[2020-05-15 00:18] oleksii-kostin opened #1661 "Why UserAgentApplication getCachedToken never returns token?"
## Library
- [X ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm debugging msal, to find reason why it reloads my whole angular application.
Guard or interceptor there tries to get token locally, eventually calling getCachedToken, but this method always

[2020-05-15 08:10] IainAdams commented on #1627
Thank you so much for getting back to me @pkanher617 . Looking forward to it being supported!

[2020-05-15 10:47] djleonskennedy commented on #1188
Any updates ?

[2020-05-15 13:13] jrmcdona opened #1662 "cacheLocation for Angular Universal"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
    "@azure/msal-angular": "1.0.0-beta.5",
    "msal": "1.2.2",

## Description
We are setting up Angular Universal.   But run into this error.

ClientConfigurationError: The value for the cacheLocation is not supported. Given location: localStorage
    at ClientConfigurationErro

[2020-05-15 13:55] NathanJonker commented on #1650
@pkanher617 , @stephenstroud , we are experiencing the same with React and the Custom SignUp policy mentioned.

[2020-05-15 14:11] 2191116913 opened #1663 "Title"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-05-15 14:13] 2191116913 opened #1664 "fengxbintends@foxmail.com"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-05-15 14:15] 2191116913 commented on #1664
Leave a commment

[2020-05-15 14:18] michalk93 commented on #1650
@pkanher617 @stephenstroud, @NathanJonker  I am having the same issue using ReactJS and a custom sign up policy. It's worth mentioning, that it only occurs when creating a user. Both signing in/out and resetting password work fine.

[2020-05-15 14:29] vlafranca opened #1665 "Defer configuration loading in dedicated method instead of controller"
#1090  Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi everyone,
In my situation, I need to load oidc configuration from a remote server, so I need to make an http call to retrieve it. I have read all the docs and tryed all the ways to load

[2020-05-15 15:07] stephenstroud commented on #1650
@michalk93 Same case as me.

[2020-05-15 15:23] widget31too commented on #1659
That indeed was the case. Unsure why that was working before (unless the B2C authority was stripping off he suffix).

Removed the /oauth2/v2.0/authorize suffix from the authority URL and authentication works.

[2020-05-15 15:23] #1659 closed

[2020-05-15 15:25] hectorromo commented on #1650
@stephenstroud I had the same issue with an invitation policy that signs up a user. As the error says, there is no "state"-parameter in the callback query string.
So I found a simple workaround, I don't know if this is a "best practice", but it works and it´s based on [WingTipGames-example](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/Wing

[2020-05-15 15:26] reseul commented on #1583
@sameerag Should I convert/create a bug for this? The change breaks our current code, the workaround on our side would be messy, and we seem to all have agreed the change had nothing to do with hints, but with authorities.

[2020-05-15 16:40] #1664 closed

[2020-05-15 16:41] #1663 closed

[2020-05-15 16:42] derisen commented on #1029
I was not able to reproduce this with our Angular B2C sample on Chrome and Edge; login/logout works as expected in both tabs.

[2020-05-15 16:45] jasonnutter commented on #1662
@jrmcdona You are server-side rendering your application, correct? At this time, we don't properly support server-side rendered applications, due to the heavy reliance on the window. This is something I think we want to support in the future, though.

[2020-05-15 16:56] jrmcdona commented on #1662
@jasonnutter Yes I am try to use SSR.   Since we have two marketing website on Angular 9,  we need the SEO in a big way!   Do you think it would actually work or will it definitely not work if I keep trying to mess with it.

[2020-05-15 17:05] jasonnutter commented on #1662
@jrmcdona As a workaround, you could try using `msal` directly (instead of MSAL Angular), and make sure it isn't included in server-side render paths (i.e. defer loading it until the browser).

[2020-05-15 17:20] jrmcdona commented on #1662
Let us give that a shot.

[2020-05-15 18:25] jasonnutter commented on #1662
@jrmcdona Great, let me know how it goes. This is definitely a scenario we want to better support, unfortunately, it hasn't been a high priority lately.

[2020-05-15 20:02] jrmcdona opened #1669 "When is MSAL.JS 2.0 (auth code flow) getting released?"
I am interested in the switching to auth code flow instead of implicit flow so that I can get the wids claim.

When would this be getting released?

[2020-05-15 20:14] jrmcdona commented on #1669
I will test the Beta/Preview version for auth code flow.

[2020-05-16 10:12] #1661 closed

[2020-05-17 04:03] ktikku opened #1671 "Default scopes in @azure/msal-browser"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@ 2.0.0-beta.2
`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When are you planning to remove the 5 default scopes that are added by defa

[2020-05-17 05:33] Anshu8405 opened #1672 "InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in"
When the user logs in, MSAL saves the id_token in the browser cache. This token expires in 1 hr. Since I am using localStorage, this cache persists when you re-open the browser. So, if I re-opening the browser within 1 hr of logging in, everything will work fine, as I noticed, since the cached token is valid. But if I re-open the browser after 1 hr, the cached token is expired and MSAL tries to re

[2020-05-18 06:02] ninio commented on #1640
The update fixes this.

Thanks!

[2020-05-18 06:02] #1640 closed

[2020-05-18 08:14] ashishbhulani commented on #1592
@jasonnutter This worked but now when i acquiretokensilently i am getting the old token where as in local storage i see the new token.
this.authService.acquireTokenSilent(this.loginRequest)
                        .then((response: AuthResponse)

In the response i still see the old token what could be the reason?

[2020-05-18 09:28] stephenstroud commented on #1650
@hectorromo thanks for this workaround, this option does create some limitation to the invitation flow based on certain use cases such as having unique link that only exposes the registration form to those who have the link rather than a generalised link, however, some of this could be handled back in the SPA app.

Further to this, the "Run User Flow" function within Azure B2C dashboard will remai

[2020-05-18 11:48] AbhaysinghBhosale commented on #1316
Even after updating to latest version getting same issue

[2020-05-18 12:24] CoderMb opened #1673 "unable to add id_token_hint while logging out"
-  "@azure/msal-angular": "^1.0.0"
-   Angular 8.2.14

Azure B2c gives us the provision to mandate id_token_hint to logout but in angular msal ther are no options to specify this. On logout() we get an error that id_token_hint is missing.

I was not able to find anything on adding extraQueryParameters also to logout?

![image](https://user-images.githubusercontent.com/19566265/82212653-8231c080-99

[2020-05-18 16:18] tnorling commented on #1673
@CoderMb This is currently not supported but is under consideration. There is already an open issue for this so I'm closing as duplicate but you can track #996 for updates. Thanks!

[2020-05-18 16:18] #1673 closed

[2020-05-18 16:42] jasonnutter commented on #1672
@Anshu8405 Please upgrade to `@azure/msal-angular@1.0.0`, which has a fix for the the MSAL Guard preventing navigation when an error like this is encountered.

Also, in the future, please use one of the pre-defined issue templates, as it helps us more effectively answer your issue, thanks!

[2020-05-18 17:54] thoo1 opened #1674 "handleRedirectCallback returning null for authErr?"
## Library
- [X] `@azure/msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

React 16

## Descript

[2020-05-18 17:57] IvanAllue commented on #701
For me the problem was that it redirects the flows with a window.location.
What I have done is use the authority url changing login for repassword.

After using login redirect I have not had any problem:

`   this.msalService.handleRedirectCallback((errorDesc, response) => {
            const msalErrorDescription = localStorage.getItem(
                'msal.error.description'
            );

[2020-05-18 18:49] thoo1 commented on #1674
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0dbbda42160addfdfb926f0245b702f52009365a/lib/msal-core/src/UserAgentApplication.ts#L297 this might be root cause..

[2020-05-18 18:52] tnorling commented on #1674
@thoo1 Please check if `error` is truthy before referencing `error.errorCode`. Error is returned as null if no error occurred. You can take a look at some of our samples for guidance on how to implement the `handleRedirectCallback`

[2020-05-18 18:56] thoo1 commented on #1674
@tnorling makes sense, however the type of the callback seems to say that it'll be called with a non-null authErr `export declare type authResponseCallback = (authErr: AuthError, response?: AuthResponse) => void;`

[2020-05-18 19:19] tnorling commented on #1674
@thoo1 Gotcha, I understand the confusion. The reason it is set up like this is to ensure that the error object is always returned to the first parameter and the response in the 2nd. If both were optional you would have to inspect the response to determine if its an error or success case. I understand this may not be the most intuitive but I hope that explanation makes sense.

[2020-05-18 19:19] #1674 closed

[2020-05-18 19:22] tnorling commented on #1674
This will also be more clearly defined in the code when we turn on `strictNullChecks` which we are currently working on

[2020-05-18 19:28] thoo1 commented on #1674
got it, for now I will add the null check, thanks

[2020-05-18 20:56] ormico commented on #476
what was the resolution on this b/c I have almost identical issue and cannot find how I'm suppose to resolve it?

[2020-05-18 22:20] kemins commented on #1260
The same issue with: "@azure/msal-angular": "1.0.0" and Safari only(Third-party cookies enabled)
when trying to acquire an access token for the consentScopes.

Error when acquiring token for scopes ....: ClientAuthError: URL navigated to is https://login.microsoftonline.com/...../oauth2/v2.0/authorize?....

The only difference it's not beta anymore))

Works fine with chrome so there's nothing wron

[2020-05-18 23:02] Noccm opened #1676 "Authentication error on unprotectedResource"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I have 2 API endpoints:
http://localhost:6300/api/protect - Requires the authentication token from msal-angular
http://localhost:6300/api/anon - Does not require the authentication token from m

[2020-05-19 00:06] thoo1 commented on #1205
@jasonnutter sorry for comment on a closed issue, I run into this issue for our app that is using @azure/msal package. If I want to support Safari, is there any plan to fix it in the @azure/msal or do we have to use the @azure/msal-browser package?

[2020-05-19 00:31] jasonnutter commented on #1205
@thoo1 You should switch to `@azure/msal-browser`.

[2020-05-19 00:44] ctaggart opened #1677 "sample msal-node-device-code cannot read property setKnownAuthorities"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Type
- [ ] Bug
- [ ] Feature
- [ ] Enhancement
- [ ] Tooling
- [ ] Documentation
- [x] Samples
- [ ] Other (please

[2020-05-19 02:00] ashishbhulani commented on #1592
@jasonnutter can you tell what is the actual issue here?

[2020-05-19 05:50] Dedme commented on #476
@brijesh1ec  this is the NGXS store. (sorry late reply)

I ended up just creating a secondary endpoint - and using the framework as indented at the time. - it did end up cleaning up my api a fair amount anyway

[2020-05-19 08:45] ktikku commented on #1671
the `tokenResponse ` has all the scopes I had requested for while creating the client
I added `Calendars.Read` and I'm getting that as well even though while creating the scopes for loginRedirect I'm providing only `openid` and `profile`.

[2020-05-19 08:45] ktikku commented on #1671
Also, I had deleted `User.Read` and `Calendars.Read` but I'm still getting them in my tokenResponse.

[2020-05-19 13:00] acory opened #1678 "acquireTokenSilent only works in Incognito window"
## Library
`msal@1.3.0` (Same issue with msal@1.2.1)

## Description
In a SPA, trying to login with gmail account using Azure B2C.
- Works ok when in Incognito window.
- When I try to login into my registered app, in a window where I am already logged in my gmail account(in a different tab in the same browser window, on https://mail.google.com/), the acquireTokeSilent fails.  I get the error
**Ref

[2020-05-19 13:27] #1676 closed

[2020-05-19 16:50] jasonnutter commented on #1665
@vlafranca Thanks for the feedback! This is an interesting use case. Feel free to open a PR that shows what you think this might look like, thanks!

[2020-05-19 17:27] sangonzal commented on #1677
@ctaggart Are you linking against the local version of msal-common? Can you try running in:
- "lerna bootstrap"
- "npm run build" in msal-common
- "npm run build" in msal-node

You can then try running any of the Node samples.

[2020-05-19 17:46] hamiltonha commented on #1669
@jrmcdona this is currently in beta/public preview, with public documentation going live later today on docs.microsoft. Please let me know if you have any feedback or questions testing the beta using the instructions in the msal-browser package or using the documentation (I will post links here this afternoon once published)

[2020-05-19 18:06] ashishbhulani commented on #1592
@jasonnutter can you please help me. I am stuck with renewal of token?

[2020-05-19 18:36] pkanher617 commented on #1671
@ktikku The default scopes are only added for login calls. If you use the acquireToken APIs, you can make requests without those scopes.

I'm a bit confused by this statement. When you say you added Calendars.Read, what do you mean?

An access token response will have all consented scopes, not just the ones you requested. If you are removing consent from these scopes, and then still seeing them re

[2020-05-19 19:02] jasonnutter commented on #1678
@acory To clarify, you are trying to sign in with a different account other than your gmail account?

[2020-05-19 19:05] acory commented on #1678
@jasonnutter With he same account in both situations, my gmail account.

[2020-05-19 19:34] jrmcdona opened #1679 "MSAL 2, override redirectUrl"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
@azure/msal-browser

I am not seeing any example on how you might override the redirectUrl for a loginRequest.  They loginRedirect take an AuthenticationParameters object which doesn't have redirectUrl property.  So If I want to initiate login in my Angular SPA from a specific pa

[2020-05-19 20:28] pkanher617 commented on #1650
Hi all, thanks for your patience, this was identified as an issue with the MSAL service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data.

[2020-05-19 20:29] #1650 closed

[2020-05-19 20:35] acory commented on #1678
Extra Info:
- If I sign out of my gmail inbox(which is opened in another tab) and after this, I retry the login and acquireTokenSilent in my app,  it works ok.

[2020-05-19 21:04] muying-cui commented on #1599
@jasonnutter Probably you are already taking care of the extra check here, but I want to confirm that as part of this bug fix, we are also looking at other possible places where a login_hint or any other EUII can be in an unexpected presence. Thank you!

[2020-05-19 21:19] acory commented on #1678
Extra Info :
- Apparently the X-Frame-Options error happens only when I'm logged into **more than one** gmail inboxes in the same browser window. This situation:
![logged-in-into-2-accounts](https://user-images.githubusercontent.com/26309191/82379313-5c3f1580-9a2f-11ea-93fc-f25ff23a275d.png)

[2020-05-19 21:56] acory commented on #1678
I will try this: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/609#issuecomment-520738294

[2020-05-19 22:49] jasonnutter commented on #1583
@reseul No, we'll use this issue for tracking. We'll discuss this as a team and I'll follow up here.

[2020-05-19 23:07] ctaggart commented on #1677
Thank you @sangonzal! Yes, I'm trying to run a local version. I pulled latest, followed your instructions, and `npm start` in `samples/msal-node-device-code` worked.

[2020-05-19 23:07] #1677 closed

[2020-05-20 05:03] ktikku commented on #1671
I was under the impression we can get an access token with selected scopes provider while calling `loginRedirect` method.
Let's say I have 'openid', 'profile' and 'User.Read' configured in my Azure AD client, I was hoping I can get a token having openid' and 'profile' scopes only if I provide them as a param inside while calling `loginRedirect`.
Thanks for the clarification!

[2020-05-20 05:29] kylephp commented on #1669
@hamiltonha I am interested in beta preview too. Is the documentation for this published?

[2020-05-20 06:14] ramya-chekka commented on #741
acquireTokensilent is still failing to get the token with error in case of multiple Azure AD accounts  logged in the browser. Tried passing sid and loginHint but i think they are not at all being considered as don't see any difference in the output and error. Can someone help regarding this issue?

[2020-05-20 07:31] eynenad commented on #1260
@kemins can you please tell me what is the setup/configuration that you did? Where did you put msal guard, interceptors, and such....) I still sometimes have the same issue on Chrome, Edge, IE, we do not use Safari, so I haven't checked on that browser.
The issue is not that common, but happens sometimes, I would really like to avoid happening alltogether.

I don't think that it is your @kemins se

[2020-05-20 08:01] emulic commented on #1124
We have the same issue when using oidc-client to authenticate against AAD B2C from an angular spa. Were you able to solve this issue?

[2020-05-20 08:23] sameerag commented on #1273
#1519 #1520 #1522 #1622 #1652 #1624 #1655 #1680: PRs related to cache

[2020-05-20 11:00] leniel commented on #1124
@emulic not really... from what I know, the team had to move to an updated version of Angular... the app was using 1.6x. I'm not working on this app anymore, so I'm not sure if they got this working while still on the old version.

[2020-05-20 11:24] emulic commented on #1124
Thanks for answering Leniel. I don't believe it is related to the Angular version. We use Angular 8 and have the same issue. It seems to be an issue in AAD B2C SignIn flow implementation. The same error happens when using "Run user flow" from B2C dashboard in Azure Portal to test the SignIn flow without calling it from our SPA.

[2020-05-20 13:10] jrmcdona commented on #1669
@kylephp it is on their GIT site and here is a link to it.  https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser.   Which is linked from their main site GIT site https://github.com/AzureAD/microsoft-authentication-library-for-js

[2020-05-20 14:27] known-as-bmf opened #1683 "[@azure/msal-browser@2.0.0-beta.2] B2C & knownAuthorities not working"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above

`@azure/msal-browser@2.0.0-beta.2`

## Framework
`react@16.13.1` (irrelevant)

## Description

After creating a new `PublicClientApplication` wit

[2020-05-20 14:28] danquah opened #3464 "Support transporting the Bearer token in a HttpOnly cookie"
Working on a Single Page App where I would like to keep the authorization token out of reach of the client-side javascript as much as possible. A way to achieve this is to do a single request against an endpoint with an auth header, and then have the endpoint return a response that sets the value of the header as a HttpOnly cookie. This way we don't have to persist the token on the client-side.

W

[2020-05-20 15:05] known-as-bmf commented on #1683
From the codebase, looks like it's fixed but not released.

Is there any plan of releasing a new version soon ?

[2020-05-20 15:24] sarahkang58 opened #1684 "How do I wait for the login to finish before proceeding to render my app?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I have an app built with React components, and on startup (when the user doesn't hav

[2020-05-20 15:37] hamiltonha commented on #1669
@kylephp @jrmcdona Yep we are now in public preview! To get started here are some links: [quickstart](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript-auth-code) [tutorial](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code) [Registration guide](https://docs.microsoft.com/en-us/azure/active-directory/develop/scen

[2020-05-20 17:15] oneillsp96 commented on #1324
is that what explains this if statement in the react sample app?

`if (account && !WindowUtils.isInIframe()) {
                const tokenResponse = await this.acquireToken(
                    GRAPH_REQUESTS.LOGIN,
                    useRedirectFlow
                );`

My app seems to be working fine with redirect flow, gets the token and everything but every time my componentDidMount runs I se

[2020-05-20 17:22] jasonnutter commented on #1324
Correct.

Have you enabled your application for the implicit flow? The `unsupported_response_type` is an indicator it may not be. See this comment: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/766#issuecomment-503383859

[2020-05-20 17:30] oneillsp96 commented on #1324
add the check for !WindowUtils.isInIframe() fixed the blocked token request console error.
checking the box for implicit grant for access token fixed the unsupported_response_type error.

Thanks a ton.  I can tell you guys are working hard on MSAL and it is a lot nicer to work with than it was this time last year.

[2020-05-20 17:36] oneillsp96 commented on #1324
![image](https://user-images.githubusercontent.com/7624535/82478367-d3f85900-9a9e-11ea-9f0e-724afefb20ba.png)

I did notice this warning, however last I checked the latest msal.js version is 1.3.0

[2020-05-20 17:39] jasonnutter commented on #1324
Great! You're welcome.

That warning is for customers looking to upgrade to `@azure/msal-browser` aka MSAL.js v2, which switches from the Implicit Flow to the Auth Code Flow. See: #1000

[2020-05-20 18:28] pkanher617 commented on #1671
The `openid` and `profile` scopes are passed when you want additional information about the user  and access to the user_info endpoint. (see [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent)). So as a side effect of sending those scopes, we provide the `id_token` back to you. The `User.Read` scope is a graph scope, same with `Calendars.Read`. So the

[2020-05-20 18:28] #1671 closed

[2020-05-20 18:40] pkanher617 commented on #1684
@sarahkang58 Could you please post a snippet of your code? loginPopup returns a Promise, so you should be able to wait on that returned Promise. You can learn more about Promises [here](https://javascript.info/promise-basics). You shouldn't need setInterval() for `loginPopup()`.

This behavior usually happens because the server detects a signed-in account and silently authenticates a user. When yo

[2020-05-20 18:42] pkanher617 commented on #1683
@known-as-bmf I will push out a new release as soon as we have merged in #1675.

[2020-05-20 18:51] sarahkang58 commented on #1684
@pkanher617 Hi, thank you for your response!  I'm working with the team to change how we're using loginPopup so that we can use the callback functionality, so that should fix the issue!

A related question though, what do you think is the best way to determine if the login is successful or not?  I noticed that the response is of type AuthResponse with multiple properties, but which property can te

[2020-05-20 20:13] pkanher617 commented on #1679
@jrmcdona I recognize this is a gap. We are working on updating our request APIs, and will make sure to include redirect URI moving forward. Should be included in a future release.

[2020-05-20 20:21] pkanher617 commented on #1669
#1000 is tracking this, closing.

[2020-05-20 20:21] #1669 closed

[2020-05-20 20:37] RobARichardson commented on #1222
Seeing this intermittently as well.  We're using Msal v1.3.0 & azure/msal-angular v1.0.0.

[2020-05-20 20:55] tnorling commented on #1625
Let us know if the docs linked above did not address your use case and you still need assistance. Thanks!

[2020-05-20 20:55] #1625 closed

[2020-05-20 20:57] pkanher617 commented on #1658
Need to add IE 11 samples

[2020-05-20 21:25] derisen commented on #1658
@lax-github samples use ES6 conventions and will not work on IE11 without some additional steps. Please see [this answer](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/61#issuecomment-630953375) for further guidance.

[2020-05-20 21:50] kemins commented on #1260
hi @eynenad

MSALGuard is placed at child route level, root route is free of MSAL guard.

Overall my configuration is pretty typical nothing special.
`
MsalModule.forRoot(
      {
        auth: environment.auth,
        cache: environment.cache as unknown,
        system: {
          logger: new Logger(LoggerService.instance.log, {
            level: LogLevel.Error,
            piiLoggingEnabled:

[2020-05-21 00:33] jasonnutter commented on #1599
@muying-cui Yes, a couple other messages have been adjusted.

[2020-05-21 06:39] kiranbhadani commented on #1161
I am getting same issue, 'acquireTokenSilent' fails with 'X-Frame-Options' to 'deny'

**Problem**: when using custom policy with azure aad login (mfa enabled), login fails every time, login works ok when using other sign in options (email/google)

**Browser**: Chrome and Edge

![image](https://user-images.githubusercontent.com/14998556/82530805-f61bc680-9af2-11ea-9ce6-67c81fc0cdc3.png)

[2020-05-21 08:10] kylephp commented on #1000
Hi,
I am trying the public preview (https://www.npmjs.com/package/@azure/msal-browser)
I am using `acquireTokenPopup` method to get the token. It works but I could see that the consent box was not showing.
Any idea about it?

[2020-05-21 14:04] Codeluck opened #1688 "Access_token is always null"
## Library
- [ x] `msal@1.1.3`

## Framework
React v16

## Description
I have an Azure B2C App configured as a multi-tenant app and a flow with OpenId IDP pointing to that app.
IDP Scope parameter is `openid email profile https://mytenant.onmicrosoft.com/test/User.ReadOnly`

## Security
Is this issue security related? NO

## Regression
Did this behavior work before? NO

## Configuration
Please pro

[2020-05-21 14:39] jake-brandt commented on #1437
@jasonnutter @hamiltonha I've commented on #1161 previously and the bug activity appears to have died out on that guy unfortunately. Do your teams (MSAL client or B2C server) know the exact cause of this? During the private preview of 2.0 (using auth code instead), the solution was going to be moving to popup or full page redirect anyway due to browsers such as Safari making 3rd party cookies in I

[2020-05-21 15:34] niwsa commented on #1437
@jake-brandt in the spirit of discussion .. Auth0 which is also an identity platform like AD B2C recommends [refresh-token-rotation](https://auth0.com/docs/tokens/concepts/refresh-token-rotation) for SPA's and public clients. Below message from https://auth0.com/docs/flows/concepts/auth-code-pkce

Maybe this would be something which MSAL 2.0 could look into.
cc @jasonnutter

[2020-05-21 15:48] jennyf19 commented on #1161
@derisen related to the other issue I tagged you in.

[2020-05-21 16:05] jake-brandt commented on #1437
@niwsa that's basically what our teams here recommended to so since it's not supported by B2C yet (refresh token rotation). We'd have to stand up our own API endpoints to act as an IDP that passes through to B2C but lets us implement token rotation then. Once B2C added support, we'd be able to go directly to B2C's /token endpoint instead.

So currently our choices are popup refresh (a la implicit

[2020-05-21 16:09] jake-brandt commented on #1437
My concern with popup refresh is that:

A) it's a UX quirk albeit industry-common at least
B) what if these issues in IFRAMES follow us to the popup version? I don't mean the X-Frame-Options issue but the fact that the redirect isn't even happening. I've looked at the source of that page generating the X-Frame-Options issues and it's (in my case at least) the original interactive page being displa

[2020-05-21 16:14] jake-brandt commented on #1437
Phrased in another way for this thread, the issue is likely not `X-Frame-Options` and I believe that is a side-effect of the root issue. I believe the root issue is that certain B2C policies (MFA, custom policies, etc.) are not returning a `302` redirect for existing sessions and are instead always trying to return a `200` response with the interactive form. And at that point I do agree that the i

[2020-05-21 16:16] jake-brandt commented on #1437
@jmckennon I see Jason was unassigned from this ticket; with my above notes do you think this warrants a second triage for us? Thank you!

[2020-05-21 18:03] pkanher617 commented on #1437
@jake-brandt This is probably an issue with the B2C service. Could you file a support ticket following the instructions [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)? You can link to this issue in that ticket.

[2020-05-21 18:57] jake-brandt commented on #1437
@pkanher617 per your guidance I've filed a support ticket on our Azure plan; I'll share any relevant/general information I get back

[2020-05-21 18:58] jake-brandt commented on #1437
As that is a private system I was able to include HTTP traces to help illustrate the sequence of events.

[2020-05-21 19:05] #1654 closed

[2020-05-21 19:07] #1627 closed

[2020-05-21 19:08] tnorling commented on #1614
Closing due to inactivity. Let us know if you still need assistance.

[2020-05-21 19:08] #1614 closed

[2020-05-21 19:12] #1587 closed

[2020-05-21 19:27] #1006 closed

[2020-05-21 19:27] #1072 closed

[2020-05-21 20:08] Bhargav-Narayan commented on #1607
@pkanher617, We have set navigateToLoginRequestUrl to false from the initial setup. It was never set to true.

[2020-05-21 20:26] streamcode9 opened #1689 "WindowUtils.monitorWindowForHash does not return hash"
## Library
- [x] `msal@1.3.1`

## Description
What could prevent MSAL from getting the token?
The code below works for some users but fails for others. I have debugged the MSAL library and found out that when the library renews the token it calls `loadIframeTimeout` and inside `WindowUtils.monitorWindowForHash`. As a result, its function returns a valid hash for some users and an empty string for

[2020-05-21 20:42] jake-brandt commented on #1437
Here is a proposal from internal discussions with my team:

If you are already signed in using the default sign up / sign in policy but then need to use a custom policy for further action (such as custom profile management), do not attempt to refresh using a redirect with the latest policy (the custom one). Rather, redirect the user _back_ to the original sign up / sign in policy. As Azure B2C sho

[2020-05-21 20:45] hamiltonha commented on #1000
@kylephp You should be able to change the settings for consent display options by going to the "API permissions" section of your app registration in the azure portal

[2020-05-21 20:55] hamiltonha commented on #1437
@jake-brandt In response to your comments, the authorization code flow is our latest recommendation to mitigate Safari ITP. I'm not sure of a solution with Implicit Flow and as protocols similar to ITP are coming to Chromium and Brave I do not think it will be a waste of time to pick up this flow. We are also currently working on design so auth code flow with still work with silent iframe token ac

[2020-05-21 23:17] reijam opened #1690 "allow-top-navigation re authorization (MSAL disables it by default)"
## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (please fill in)
- [x ] Documentation does not exist

## Description

Not sure if this is a document

[2020-05-21 23:42] jasonnutter commented on #1690
@reijam This error is happening because login.microsoftonline.com is try to navigate the top frame of your application (from inside the hidden iframe) to show an error message. Try opening the login.microsoftonline.com url in its own tab, and I would expect to see an error message.

[2020-05-22 00:14] jasonnutter commented on #1688
@Codeluck The `openid email profile https://mytenant.onmicrosoft.com/test/User.ReadOnly` scopes are scopes for multiple resources (MS graph and your custom resource). When you have scopes that span multiple resources, you must call `acquireTokenSilent` once for each set of scopes per resource. This because access tokens can only be used for one resource, and they are cached accordingly.

[code]

[2020-05-22 00:18] jasonnutter commented on #1689
@streamcode9 This could happen for a few different reasons:

1. The iframe never gets redirected back to the redirect uri (on your domain) set for the application/request.
2. The redirect uri loaded in the hidden iframe removes the hash from the url in the iframe before the library has a chance to parse it.
3. The iframe gets redirected back to the redirect uri on your domain, but the response is

[2020-05-22 00:19] jasonnutter commented on #1644
See #1691 for proposed solution.

[2020-05-22 01:26] jake-brandt commented on #1437
Haley let your team know we feel the struggle and understand! I'm sure I speak for most of us when I say we've all enjoyed this task a few times with securing public clients / SPAs... Looking forward to what additions come to msal-browser in time.

[2020-05-22 04:35] cclauson opened #1692 "Resource Owner Password Credential Grant in browser"
Is it possible to do an [ROPC grant](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) in the browser using MSAL?  I'm fully aware of all of the OAuth caveats surrounding this grant, but it would actually be extremely useful in my situation for the purposes of automated testing.

Thanks

[2020-05-22 05:15] kylephp commented on #1000
@hamiltonha Thanks for replying but I could not find it in "API Permissions"

[2020-05-22 05:31] rnarayana commented on #871
Any recommendations here? I also arrived looking for secure storage other than localStorage.