[2020-03-16 17:46] jasonnutter commented on #1230
And to be clear, the new version above ensures MSAL will at worst timeout. The specific issue of `https://login.microsoftonline.com/[tenent]/oauth2/v2.0/undefined` requests we believe is an issue with the service, not the library, and the service team is investigating this now.

[2020-03-16 18:05] jasonnutter commented on #1378
@dinukaw007 Are you also using the `MsalInterceptor`? The interceptor will automatically attach access tokens (with the relevant scopes) to outgoing http requests, based on the `protectedResourceMap`.

[2020-03-17 00:29] jasonnutter commented on #1205
Closing. Early versions of MSAL.js w/ Auth Code Flow are available on npm: https://www.npmjs.com/package/@azure/msal-browser

[2020-03-17 00:29] #1205 closed

[2020-03-17 06:19] alberthoekstra commented on #1378
In my app I have multiple actions on the backend that don’t require being authenticated.
When putting the url of the backend in the protectedResourceMap those actions it also will authenticate of course.
Therefor I had to create my own interceptor to prevent this.

For example:
‘’’
- /api/values/post requires Auth
- /api/values/get does not require Auth
‘’’

[2020-03-17 12:20] chaitanyabhalerao1 opened #1384 "Issue on Edge and IE11: Token renewal operation failed due timeout: Token Renewal Failed"
## Library
- [ ] `msal@1.2.1`

## Framework
NA
## Description

## Security
No
## Regression
Yes, Authentication was working with MSAL on Edge/chrome/IE11 but now timeout is happening on Edge and IE11.  Receives below error in Edge and IE11 consistently.

"Token renewal operation failed due timeout: Token Renewal Failed"

## Configuration
We have added below configuration to increase time out.
 con

[2020-03-17 13:39] arsnyder16 opened #1385 "How to get all logged in accounts"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How can i silently get all logged in accounts. If i sign in directly to my onedrive

[2020-03-17 13:44] arsnyder16 commented on #1385
this is not consistent behavior. I think i am seeing this after a logout. Even though my other tabs that are logged into my onedrive account are working. I need to investigate this more to give more clarity for you.

[2020-03-17 13:49] #1385 closed

[2020-03-17 13:53] arsnyder16 opened #1386 "Add logoutPopup method to UserAgentApplication"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
It would be nice to supply a `logoutPopup` method. I am building an application that

[2020-03-17 14:28] arsnyder16 opened #1387 "How to populate `getAccount` silently"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am trying to silently populate UserAgentApplication account object silently withou

[2020-03-17 15:58] jasonnutter commented on #1387
@arsnyder16 You can silently SSO to an existing AAD/MSA session by calling `acquireTokenSilent` with a `loginHint` and your `clientId` as the only scope. If there is an existing session, an ID token for that session will be acquired and getAccount will be populated. If not, it will through an error (e.g. `login_required`) that your app will need to handle.

We are working to add this a new top-lev

[2020-03-17 15:58] jeverduzco commented on #1245
During the weekend I made some tests and finally I have it working in my project, during the day I will upload an example repo.

[2020-03-17 16:05] arsnyder16 commented on #1387
@jasonnutter

Yea I am trying to avoid tracking a loginHint, my best guess is to store something in local storage from the last known session and try to use that. That won't be super reliable.

If i am understanding correctly `ssoSilent` will lift this requirement of having a loginHint?

[2020-03-17 16:09] jasonnutter commented on #1384
@chaitanyabhalerao1 There are known issues with Edge/IE11: https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser

Have you tried the workarounds detailed above?

[2020-03-17 16:11] arsnyder16 commented on #1387
now that i look at the details of the PR, i don't exactly see the use case for that method. All it is doing is passing the clientId for you but you already had to initialzie the UserAgentApplication with the correct clientId anyway.

I guess its just to avoid confusion with calling acquireTokenSilent when you really just want to login?

[2020-03-17 16:31] arsnyder16 commented on #1387
Just to elaborate on my use case since the PR does have a discussion around requiring loginHint.

My use case is really to just try and identify any open session so i can show the sign out button, but i can see down the road the need to show an identity chooser directly in my UI. For example if i am showing a list of files from the users one drive. They might be using their personal and business i

[2020-03-17 16:32] jasonnutter commented on #1387
@arsnyder16 Correct, `ssoSilent` is convenience method for the use case when your application is confident that the user already has an active AAD session (i.e. you already sent them through the login flow using something other than MSAL.js). The `loginHint` is required to disambiguate if there are multiple active sessions.

Can you provide more details on your use case (e.g. is there a server com

[2020-03-17 16:36] arsnyder16 commented on #1387
@jasonnutter What if there is only 1 active session? It seems logical to that it could be retrieved without a login hint

 I think it would be a good feature to allow the client to the library to retrieve all the active sessions. So they can build interfaces and constructs based on them. As I mention above

[2020-03-17 16:40] kostas-triple commented on #701
Same issue here with Google Chrome (build 80.0.3987.122). Regular login works, but when using a custom Sign Up policy we receive the `AuthError: Unexpected error in authentication.: Hash does not contain state.` error.

[2020-03-17 17:00] dinukaw007 commented on #1378
FYI It's working fine when I run  locally (ng serve) when I build --prod and deploy this problem occur.
However  seems like there is a issue with AOT ones i disable the AOT for build  its work and also there is a another workaround, I add fallowing code lines
[code]

[code]

[2020-03-17 17:00] #1378 closed

[2020-03-17 17:01] #1370 closed

[2020-03-17 17:40] chaitanyabhalerao1 commented on #1384
Thank you Jason for quick response!

Yes, we have tried all workarounds specified in the link mentioned but no luck ..Issue is intermittently observed on Edge but consistently on IE11.

FYI,

We are using recommended version of MSAL i.e.  1.2.1 along with this we have also added pre-requisite JS script i.e.e bluebird

[cid:image002.png@01D5FCB1.4298F8B0]

As mentioned in the workaround all require

[2020-03-17 17:41] alberthoekstra commented on #1245
Great! I’ll take a look when it’s there.

[2020-03-17 17:46] arsnyder16 commented on #1387
@jasonnutter  For more context.

We have a commercial application that has both web and desktop(mac/win) interfaces, similar to Office. We are integrating with different cloud repositories, onedrive/google drive/dropbox etc. So a user may choose to open one of our files from onedrive or they may choose google drive. They may also do a combination of both.  For our desktop components we are using e

[2020-03-17 20:40] sameerag commented on #1271
#1379 defines `msal-node` configuration

[2020-03-17 22:09] vikramdadwal commented on #1310
Any updates on this issue? I am also facing the same issue

[2020-03-17 22:38] sameerag opened #1390 "[msal-common] ScopeSet changes to reflect generality"
- [ ] `@azure/msal-node@1.x`

## Source
- [ ] Internal (MSAL.js team)

## Description
Modify `ScopeSet.ts` to be more generic to msal-common and not msal-browser specific for certain functionlity

## Priority
In line with `msal-node` library

## Acceptance Criteria
Describe the conditions that must met for this work to be considered complete.

1. Unit tests
2. Generality of this class to apply for

[2020-03-17 23:03] riteshbhoi opened #1391 "Authentication issue when URL is opened from window.open in Edge Chromium"
We have a scenario where in we use window.open to redirect user from another website to our website. But we run into login issue while doing so in Edge Chromium and Edge Chromium In Private. I am using Edge Chromium Version 80.0.361.66 (Official build) (64-bit) and MSAL package version 1.2.0. Same code works perfects fine in Chrome and Chrome In Private.

sample code -
window.open("https://ourWebU

[2020-03-18 00:57] jeverduzco commented on #1245
[https://github.com/jeverduzco/msal-nuxt-example](url)

In this repo I have an example working, the msal settings are in msal/msal.js and the logic to capture the error of recovering password is in pages/auth.vue

[2020-03-18 02:09] lorenzobrito commented on #435
any update about this? does anyone knows if Azure has a plan to provide better documentation ?

[2020-03-18 02:11] lorenzobrito commented on #435
Still happen.

[2020-03-18 13:55] gabbsmo commented on #1313
@jasonnutter I gave up on migrating to MSAL for now. Waiting for the bugs mentioned earlier to be fixed.

[2020-03-18 16:53] oleksii-kostin opened #1392 "Why guard on acquireTokenSilent broadcasts msal:loginSuccess and not just msal:acquireTokenSuccess?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
In my application I need to know when user simply reloads page (by typing url into the browser, in my specific case), and when he logins. On [npm page](https://www.npmjs.com/package/@azure/msal

[2020-03-18 17:18] jasonnutter commented on #1384
@chaitanyabhalerao1 It looks like you are using `msal@1.1.2`. Have you tried `1.2.1`?

[2020-03-18 17:21] jasonnutter commented on #1384
Also, what happened that made it stop working? Did you change versions of MSAL? Or did you change your application code? Or something else?

[2020-03-18 17:24] enniob commented on #1391
I'm having a similar issue. If the user is logged out from the site and they click on a link from another site to my site the authentication never happens. When I look at the Session Storage I can see that the `msal.interaction_status` shows inProgress. I also noticed that all the session variables are duplicate.

This only happens if the user is not logged in to our site and if the hyperlink to m

[2020-03-18 17:35] jasonnutter commented on #1391
@enniob It is a known issue that sites opened in a new tab/window have problems acquiring tokens, and we are working on a fix.

@riteshbhoi Do you have a Fiddler trace you can share that demonstrates the issue you are seeing?

[2020-03-18 17:41] enniob commented on #1391
@jasonnutter thanks for the reply.

[2020-03-18 17:46] chaitanyabhalerao1 commented on #1384
Hi Jason,

We tried both the versions of MSAL and currently using 1.2.1.

It is working in chrome ( 80+) and Edge but getting into redirect loop on IE11. It never worked on IE11.

Our application was tested and working for all browser( chrome and edge) but due to user demand we had to make this application compatible for IE11 but MSAL is giving timeout exceptions.

As attached in the ticket , we h

[2020-03-18 17:48] jasonnutter commented on #1387
@arsnyder16

The problem is that your application cannot know for sure that there is only one currently session.

We are planning on adding multiple account support to MSAL (ETA next quarter, I believe), which I believe will solve this use case.

[2020-03-18 18:19] jasonnutter commented on #1384
@chaitanyabhalerao1 The behavior you describe is expected for IE11 if the application domain (e.g. myapplication.com) and the login authority domain (e.g. login.microsoftonline.com) are in different security zones. Our general guidance is to ensure both domains are in the Trusted Zone. I believe this will need to be done by either the end-user, or a network admin. Can you confirm that putting both

[2020-03-18 18:26] jasonnutter commented on #1313
@gabbsmo To confirm, #1229 / #1358 ?

[2020-03-18 18:30] alberthoekstra commented on #1245
Can't get it to run but see what you did. Thanks!

[2020-03-18 18:36] gabbsmo commented on #1313
@jasonnutter yes

[2020-03-18 19:25] riteshbhoi commented on #1391
@jasonnutter it is just an issue with Edge and Edge Chromium, as this works fine in Chrome and Chrome In Private

[2020-03-18 19:43] arsnyder16 commented on #1387
@jasonnutter Great! Yea that will be beneficial. Is there a work item that i can follow?

[2020-03-18 20:06] jasonnutter commented on #1391
@riteshbhoi Can you share a Fiddler trace? Email in my profile, thanks!

[2020-03-19 00:33] jasonnutter commented on #1259
POC fix in PR referenced above, feedback welcome.

[2020-03-19 01:21] jasonnutter commented on #1387
@arsnyder16 You can follow #1082

[2020-03-19 02:02] EricForgy opened #1396 "Redirect response object sets idTokenClaims to the idToken property."
## Library
- [x] `msal@1.2.1`

## Framework
React v16

## Description

I create a new MSAL instance and console.log the response in my `handleRedirectCallback` and I can see a property:

[code]

## Security
Is this issue security related?

I don't think so.

## Regression
Did this behavior work before?

I don't think so.

## Configuration
Please provide your MSAL configuration options.

[code]

##

[2020-03-19 08:54] chaitanyabhalerao1 commented on #1384
Hi Jason,

Thank you for the response,

Yes we have added the both the sites(login.microsoftonline.com & our application site URL) into Trusted site zone still facing the same issue

[cid:image001.png@01D5FDFA.0D2B4AD0]

Regards,
Chaitanya Bhalerao

From: Jason Nutter [mailto:notifications@github.com]
Sent: Wednesday, March 18, 2020 11:50 PM
To: AzureAD/microsoft-authentication-library-for-js <mic

[2020-03-19 08:54] chaitanyabhalerao1 commented on #1384
![IE11RedirectIssue](https://user-images.githubusercontent.com/25057664/77049038-63c14e80-69ed-11ea-8d05-bd56c20ce5dc.JPG)

[2020-03-19 10:11] satish1597 commented on #1369
This is my configuration:

`MsalModule.forRoot({
      auth: {
        clientId: '<client-id>',
        validateAuthority: false,
        redirectUri: 'https://localhost:44316/',
        postLogoutRedirectUri: 'https://localhost:44316/',
        navigateToLoginRequestUrl: true,
      },
      cache: {
                cacheLocation: 'localStorage',
        storeAuthStateInCookie: isIE, // set to tr

[2020-03-19 10:13] #1304 closed

[2020-03-19 11:10] Morkowski opened #1397 "No scrollbar in popup for IE11"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm using popup flow for my application and I can't scroll to submit button on IE11. It's becouse scrollbars are deactivated in IE11 by default when calling window.open().

Is there any reason, why you don't add scro

[2020-03-19 11:30] LonBoy98 opened #1398 "No 'Access-Control-Allow-Origin' header is present - CORS"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-03-19 15:44] evanbattaglia commented on #1386
I am also running into an issue where we show a page to make an MS Teams meeting link in an iframe. The logout() method does not work for us because it takes us to the logout page which sends the `X-Frame-Options: Deny` header, which disallows the page from being loaded in the iframe.

I've worked around it by borrowing code from the `msal` module to show the logout in a popup, but it's not pretty

[2020-03-19 23:20] tnorling commented on #1396
This is expected behavior as the idToken field is being deprecated. It still exists for the time being for backwards compatibility.
See PR #804

[2020-03-19 23:42] EricForgy commented on #1396
Cool. Ok. Thank you :)

I'll setup MST to just grad the claims 👍

[2020-03-19 23:42] #1396 closed

[2020-03-20 11:46] mylle opened #1400 "Error adding MsalModule to app.module"
## Library
- [x] `msal@^1.2.1`
- [x] `@azure/msal-angular@^1.0.0-beta.4`

## Framework
Angular 9

## Description
I Just started a new 'ng new' Angular project and want to implement MSAL.
I followed the steps (npm install, and msalModule.forroot()) but then i'm already getting lots of errors:
[code]
Am I doing something wrong?

## Reproduction steps
1. ng new
2. npm i @azure/msal-angular
3. add msa

[2020-03-20 16:27] jasonnutter commented on #1400
@mylle Can you please include the error messages you are getting?

For Angular 9, `MsalModule.forRoot` may not work with Ivy. Instead, try using a factory, which is demonstrated in the Angular 9 sample: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/angular9-sample-app/src/app/app.module.ts

[2020-03-20 16:28] CAlex-Wilson opened #1401 "@azure/msal-angular getProfile() throws error in angular9-sample-app"
## Library
- [x] `@azure/msal-angular@1.x.x`

## Description
The current [angular9-sample-app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/angular9-sample-app) throws this error when attempting to view profile information received from the login flow:

Trace ID: 57f15927-decc-4ecb-a520-2302241b5900
Correlation ID: 167a98a2-9b60-44b1-801c-1ef993e701c7
Timesta

[2020-03-20 17:09] CAlex-Wilson commented on #1401
What is the difference between the profile at the GRAPH_ENDPOINT, and getting account information via `authService: MsalService`?

For example:

[code]

[2020-03-20 19:59] derisen commented on #1401
The difference is where the information comes from, and what consent do you need to get that. User info from `getAccount()` comes from AAD itself, which you consent with the `profile` scope (@jasonnutter to confirm). This is due to AAD - OpenID compliance, and acts as the [UserInfo endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo). On the other hand, profile info from Graph

[2020-03-20 20:58] nikbabchenko commented on #18
Hey Guys! Any update/clarifications on this?

[2020-03-20 21:53] derisen commented on #1401
@CAlex-Wilson I had the same issue as well. It seems the consent scopes are not passed during the login request -likely an issue with Angular factory configuration. Quick dirty solution for now could be to ask for the token with the scope explicitly, like

[code]

You can read a bit about [AAD consents](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent) whi

[2020-03-20 22:48] DanielLitvak commented on #1037
How to fix it in the app? safari and chromium are blocking cross site cookies by default. is the a way to mark the cookie as non cross site?

see my comment on other issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/323#issuecomment-601932294

[2020-03-21 00:57] CAlex-Wilson commented on #1401
@derisen Okay that makes sense, thank you for the explanation! I added the acquireTokenPopup({scopes: ["user.read"]}) fix above and now it logs the error properly as shown below. I gave the sample app the permissions it requested and it still seems to fail. Is this expected behavior then?

[code]

[code]

[code]

[code]

[2020-03-21 01:21] derisen commented on #1401
sorry, just to confirm, did you restart the application and clean the browser cache?

[2020-03-21 01:28] CAlex-Wilson commented on #1401
@derisen

That was the issue! Thank you for your help! I can confirm that your temporary fix works as expected.

[2020-03-21 02:01] derisen commented on #1401
@CAlex-Wilson cheers! just reopening to track the sample fix

[2020-03-21 09:28] vinusorout opened #1403 "How to initialize msal configurations using APP_INITIALIZER"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (please fill in)
- [x] Documentation does not exist

## Description
I found that most of the develope

[2020-03-21 13:12] llakhani commented on #1011
I implemented @azure/angular-msal 1.0.0 with msal 1.2.2 in my angular 8 application , (that uses web api of .NET Core 3.1). I'm not understanding how logout works. My application requirement is like,  on page load of any page it checks if login otherwise redirect to login page.  But application not having logout functionality. So when in browser new tab, from azure portal user signed out, then app

[2020-03-21 15:40] llakhani opened #1404 "angular-msal 1.0.0 with angular 8 , msal-loginSuccess broadcast event fires twice and page is not redirect back to login is called?"
I implemented @azure/angular-msal 1.0.0 with msal 1.2.2 in my angular 8 application , (that uses web api of .NET Core 3.1). I'm not understanding how logout works. My application requirement is like, on page load of any page it checks if login otherwise redirect to login page. But application not having logout functionality. So when in browser new tab, from azure portal user signed out, then appli

[2020-03-21 20:49] gulench commented on #1404
Searching the code base, the `msal:loginSuccess` event is getting _published_ from **two source files**: `msal.service.ts` and `msal-guard.service.ts`.

It seems to me that the event **should not be published** from the **latter file**. In the current scheme of things, you will also be notified for the `msal:loginSuccess` event whenever the route guard [successfully acquires a token from the cache

[2020-03-22 05:26] llakhani commented on #1404
Thanks for your reply. But I'm not getting your point. In my app.module.ts I have added msalModule.forroot({.... different property}) and in app.component.ts I added handleredirectcallback, msal:loginsuccess broadcast event. and in app.routing.ts I added canActivate:[msalGuard].

[2020-03-22 06:03] llakhani opened #1405 "angular-msal 1.0.0 with angular 8 , msal-loginSuccess broadcast event fires twice"
Hi,
I'm using angular msal 1.0.0 , I'm getting this broadcast service msal:loginSuccess.
I have functionality like on successful login i want to call my web API (so Should I do on loginSuccess or redirecthandlecallback) ?
I'm getting msal:loginSuccess event twice. What can be issue?
I have lazy loading for routing and for every path I need to check for login or not, so i added msalGuard in app rou

[2020-03-22 16:11] icatchx22i commented on #1095
The release notes for 1.2.0 say this:

Does this mean this ticket should now be closed and MSAL can be used from within MSTeams Tab?

[2020-03-22 17:06] BenjaminBorlet commented on #1369
I have the same problem, if i use loginPopup(), everything works fine, I get all the log and the authError is populated.
But if I use loginRedirect(), the authError object is empty and the logger is never called.

Just use the last angular-9 sample and change popUp option to false.

[2020-03-22 17:15] BenjaminBorlet opened #1406 "AuthError object is empty when loginRedirect() fails"
## Library
- [x] `msal@1.2.2.beta.3`
- [x] `@azure/msal-angular : 1.0.0-beta.4`

## Framework
Angular 9

## Description
The login workflow work fine using popUp workflow, but does not trigger loging and AuthError object if I use redirect workflow (i.e. loginRedirect())
## Security
No

## Configuration
Please provide your MSAL configuration options.

[code]

## Reproduction steps
1. Clone this repo

[2020-03-23 06:44] jasperin commented on #1369
I'm encountering this issue only in Edge. The page is not redirected to the login page but handleRedirectCallback returns "Redirect success" with redirectResponse property values either null or or empty.

[2020-03-23 07:38] mylle commented on #1400
@jasonnutter, this is the error i'm getting:
![image](https://user-images.githubusercontent.com/18067020/77292872-6e2b6300-6ce1-11ea-8a98-bd4221ea024a.png)

The factory way works, thanks for that!
Can I find any documentation about this? (I'm still finding my way in Angular)

[2020-03-23 11:53] kchlapinski opened #1407 "Auto logout after period of inactivity"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I would like to add in my app auto logout after period of inactivity.

Calling function authService.logout() (authService: MsalService) showing a dialog 'Pick an account - Which account do you

[2020-03-23 14:56] antonGritsenko opened #1408 "MSAL for Angular: support for multi-tenant login with non-default tenant"
## Library
- [x] `@azure/msal-angular@1.0.0-beta.2`

## Description
We try to implement standard multi-tenant authentication, which works pretty well. Now we going to next step: choose the target tenant. Each user can have more than one tenant attached to they account, one default tenant and unlimited number of other. When you using the multi-tenant authentication, you must use **/common** endpoin

[2020-03-23 15:02] kvergins commented on #1198
Is there any progress on this issue?

[2020-03-23 16:15] jasonnutter commented on #1400
@mylle You can read more about FactoryProviders here: https://angular.io/api/core/FactoryProvider

We'll have this noted in our documentation as well.

[2020-03-23 16:15] #1400 closed

[2020-03-23 17:43] riteshbhoi commented on #1391
As per discussion with @jasonnutter this appears to be a known issues with loginRedirect when an app is opened in a new tab. Here is a link to the issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1301

[2020-03-23 18:00] sameerag commented on #1280
#1409 implements this. Please disregard #1379.

[2020-03-23 18:11] jasonnutter commented on #1398
@LonBoy98 You are receiving this error when making the fetch request to `https://manage.office.com`, correct? If so, that means that `https://manage.office.com` has configured to disallow cross-origin requests, which means you will not be able to make this request client-side, and instead will need to make this request server-side.

[2020-03-23 21:03] LonBoy98 commented on #1398
But how? Am i able to add addresses to the CORS-Policy on azure? Because i want to execute this call via JavaScript from a html page on a PRTG-Server and i dont know how i can do this request server-side.

[2020-03-23 21:04] kaeh commented on #1184
Looking forward for a fix too, for now we are using the popup but we prefer the redirect

[2020-03-23 21:14] garrettm commented on #1000
@pkanher617 any updates on ETA for this?

[2020-03-23 22:25] pkanher617 opened #1410 "MSAL.js 2.x supports loginSilent feature"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Bug
- [x] Feature
- [ ] Enhancement
- [ ] Tooling
- [ ] Documentation
- [ ] Samples
- [ ] Other (please

[2020-03-23 22:39] nikhil-nomula commented on #1198
Same here, is there any progress on this issue. If not, what is the best way to get the access token if we are using the redirect approach?

[2020-03-23 22:50] jasonnutter commented on #1198
Sorry for the delay, yes, we are planning to have a fix for this very soon (this week, hopefully).

@nikhil-nomula One potential workaround is to set `window.opener = null`.

[2020-03-23 23:19] jasonnutter commented on #943
See this issue for a solution: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403

[2020-03-23 23:19] #943 closed

[2020-03-23 23:24] jasonnutter commented on #1403
@vinusorout Thanks, this information is really helpful! We'll make sure this gets documented.

[2020-03-23 23:26] jasonnutter commented on #1406
@BenjaminBorlet Are you referring to the broadcast events?

[2020-03-23 23:32] jasonnutter commented on #963
This can be accomplished using the approach described here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403

[2020-03-23 23:32] #963 closed

[2020-03-23 23:47] jasonnutter commented on #1103
@daniel-seitz This should be doable using factory providers, as shown here: https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular/blob/master/src/app/app.component.spec.ts

[2020-03-23 23:57] jasonnutter commented on #1391
Closing as a duplicate, as we have a few issues about this open already.

[2020-03-23 23:57] #1391 closed

[2020-03-23 23:58] jasonnutter commented on #1380
Closing, let us know if you have further questions.

[2020-03-23 23:58] #1380 closed

[2020-03-24 00:00] JasonPaape opened #1411 "Null reference exception at ServerRequestParameters.ts in populateQueryParams"
## Library
- [x] `msal@1.2.2-beta.3`

## Framework
Found while using Angular 9 with @azure/msal-angular 1.0.0-beta.4 but that's irrelevant, the bug is in msal-core.

## Description
There is a null reference bug at msal-core/src/ServerRequestParameters.ts in function 'populateQueryParams' at line 116:
        // sanity check for developer passed extraQueryParameters
        const eQParams: StringDi

[2020-03-24 00:08] derisen commented on #1407
Hmm, you could simply wipe clean your storage/session/cookies using an idle timeout function, but without an interaction, Azure AD won't know that your user is signed out, which means they might be able to re-authenticate automatically (since they'll still have a valid session/cookie for AAD).

Perhaps you should take a look at [conditional access](https://docs.microsoft.com/en-us/azure/active-dir

[2020-03-24 00:16] jasonnutter commented on #1401
@CAlex-Wilson Can you try replacing the clientId in teh sample with a client that was created in your tenant?

[2020-03-24 07:23] BenjaminBorlet commented on #1406
`
this.authenticationService.handleRedirectCallback((authError, response) => {
      if (authError) {
        console.error('Redirect Error: ', authError.errorMessage);
        //authError is emtpy with redirect workflow
        return;
      }

      if (!response.account) {
        console.error(
          this.authenticationService
            .getCacheStorage()
            .getItem('msal.error

[2020-03-24 09:47] thomaslevesque commented on #560
Why on earth would it return a v1 token when we're only using v2 endpoints? Looks like a bug to me...

[2020-03-24 09:56] dusanjovanov commented on #741
Can you please explain what `sid` and `login_hint` are ?

[2020-03-24 13:38] ikemtz commented on #1369
This issue is related to a bug in the core library module "msal-core".  If you look at handleRedirectCallback method in the UserAgentApplication class, there's a quick validation that's being done:

 const cachedHash = this.cacheStorage.getItem(TemporaryCacheKeys.URL_HASH);
        if (cachedHash) {
            this.processCallBack(cachedHash, null);
        }

I've spent hours trying to get a wor

[2020-03-24 16:56] jasonnutter commented on #560
@thomaslevesque The v2 endpoint is capable of returning both v1 and v2 tokens: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#key-value-type-accesstokenacceptedversion-nullable-int32

[2020-03-24 17:09] ajayrknair430 commented on #1134
Thanks @sameerag for looking into this. Any updates on when this would be merged?

[2020-03-24 17:19] jasonnutter commented on #1405
Closing as duplicate of #1404

[2020-03-24 17:19] #1405 closed

[2020-03-24 17:56] derisen commented on #741
@dusanjovanov
`sid`: session id
`login_hint`: used to pre-fill the username/email address field of the sign-in form. Apps can use this parameter during re-authentication.

check [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso) out

[2020-03-24 19:35] poctob opened #1412 "MSAL doesn't work in conjunction with oidc client .js"
## Library
- [x] `msal@1.2.1` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.4"`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 9

## Description
When mixing oidc-client.js and msal, msal intercepts callbacks from oidc-clien

[2020-03-24 21:57] graphicsxp opened #1414 "Can't sign in the Angular 9 sample App with guard on root path"
## Library
"@azure/msal-angular": "^1.0.0-beta.3",

## Framework
Angular 9

## Description
I tried the sample for Angular 9 and it works fine with my Azure AD. But I added the MsalGuard to the root path :

[code]

[2020-03-24 23:12] mindingdata opened #1417 "Window.Opener Check Stops Authentication Process"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm not really sure if this is a bug request or feature request, but I logged it under a bug request anwyay.

In short, I've been having issues whereby I'm using a Headless CMS that has a butto

[2020-03-24 23:29] jasonnutter commented on #1417
This is a known issue, and there is an open PR that will address it: #1413

Closing as a duplicate.

[2020-03-24 23:29] #1417 closed

[2020-03-24 23:36] mindingdata commented on #1417
Sorry to comment/reopen this @jasonnutter , but probably better here than on that PR. Is there a workaround until then? Any way to monkey patch the isPopup method or similar? Any way to call process ourselves?

[2020-03-24 23:38] jasonnutter commented on #1417
@mindingdata I believe setting `window.opener = null` will fix.

[2020-03-25 02:59] CAlex-Wilson commented on #1401
I replaced with clientID with mine and it works as expected without the fix provided above.

[2020-03-25 04:46] a129722 opened #3429 "Cannot find kid when SAML SSO is configured"
I have an app registration where the associated enterprise application allows for SSO access via SAML.  I would also like to be able to authenticate via OAuth.  I get the following error:

[code]

This seems to be due to there being an app-specific signing key generated when SAML is configured.  This library tries to find the signing keys via the URL supplied within the identity metadata URL.  How

[2020-03-25 08:38] thomaslevesque commented on #560
@jasonnutter I understand that, but I find it strange that *by default*, the issuer in the token doesn't match the one in the metadata. If you just rely on the metadata to configure token validation (which I usually do), it's broken by default; that's hardly ideal...

[2020-03-25 12:08] frejsoya commented on #1169
Sorry we have not had time to look at this. Do you require testing from us before this can be release or? :)

[2020-03-25 13:08] Hampfter opened #1419 "Checking unprotected resources with undefined path in router config"
## Library
"@azure/msal-angular": "^1.0.0-beta.4"

## Framework
Angular 8

## Error message

[code]

## Description
In the constructor of MsalService you`re checking the routes defined in the router configuration. The path property of a route can be undefined and you are checking it, but after you access it, so the two statments should be switched.

[code]

should be

[code]

## Expected behavior

[2020-03-25 13:18] thibaultvdb-incerta commented on #18
Having the same issue, would be lovely to have a status for it :D
@jmprieur

[2020-03-25 14:04] jmprieur commented on #18
@hpsin do you have an update?

[2020-03-25 14:39] antonGritsenko commented on #601
I think this still will not work in multi-tenant env. The workflow to grant using application registered in tenantA for user in tenantB is following:
1. Create app registration in tenantA, allow multi-tenancy, set required permission (for example, User.ReadWrite.All)
2. Create Web UI + msal.js, use client id from the step 1
3. Log in using account from tenant B. You will be prompted **only for bas

[2020-03-25 15:16] tschmidt01 opened #1420 "MsalInterceptor drops request when "login_required" error is thrown, even after doing a login via popup"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@1.0.0-beta.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
My requirement:
1. User opens application in two tabs
2. User signs out in one tab
3. User switches back to the other tab
4. User interacts with the application causing an API call
5. Po

[2020-03-25 17:11] jasonnutter commented on #1401
@CAlex-Wilson Great...the clientId that is provided by default is one we use for testing, and may not work outside the MSFT tenant (it should work with MSA accounts). I'll make sure that this is noted in the samples.

[2020-03-25 17:22] hpsin commented on #18
Nothing at this time.  We're investigating options for a new feature here that is secure and respects privacy.

[2020-03-25 21:01] jasonnutter commented on #1254
This will be solved by addressing #1411, closing.

[2020-03-25 21:01] #1254 closed

[2020-03-25 21:10] DarylThayil commented on #1412
Unfortunately supporting running alongside other authentication libraries is not supported by this library. Closing this issue.

[2020-03-25 21:10] #1412 closed

[2020-03-25 21:19] DarylThayil commented on #1390
@sameerag  can you fill a more detailed description so we can add to the appropriate board

[2020-03-25 21:20] DarylThayil commented on #1387
Closing issue

[2020-03-25 21:20] #1387 closed

[2020-03-25 21:32] DarylThayil commented on #1381
Note: This may be solved in 1.2.2 by removing hidden iframes, but we should add correct aria tags regardless

[2020-03-25 21:42] jasonnutter commented on #1360
See this issue for how to get the `scp` claim: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1286

Closing.

[2020-03-25 21:42] #1360 closed

[2020-03-25 21:47] DarylThayil commented on #1336
closing since this has not had activity

[2020-03-25 21:47] #1336 closed

[2020-03-25 21:54] DarylThayil commented on #1335
@Nitin393
This error message you are seeing is a consequence of calling AcquireTokenSilent on the page that loads inside a hidden iframe.
To mitigate this receiving this error message, either don't call ATS on page load when your app is loaded in a hidden iframe or use a blank page as the redirect uri for silent requests (will improve perf as well)
The error message is purely informational and wil

[2020-03-25 21:54] DarylThayil commented on #1335
closing this issue

[2020-03-25 21:54] #1335 closed

[2020-03-25 22:03] DarylThayil commented on #1313
closing because question has been answered

[2020-03-25 22:03] #1313 closed

[2020-03-25 22:08] DarylThayil commented on #1305
@siback  pinging on this to see if you can provide more feedback

[2020-03-25 22:17] developerWolf commented on #970
In our case, we found that blocking 3rd party was the cause of the issue. After enabling 3rd party cookies, everything behaved as expected.

Not sure why that results in the bad authorize url.

[2020-03-25 23:39] jasonnutter commented on #1184
@allen-huynh-at-dow @kaeh This was fixed in beta 4: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/changelog.md#100-beta4

[2020-03-25 23:42] jasonnutter commented on #970
@developerWolf Good to know. Third-party cookies are required regardless, as the library relies on them when acquiring tokens.

[2020-03-26 00:20] mindingdata opened #1422 "Process Hash Removes Entire Hash From URL Instead Of Just MSAL Properties"
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have a particular scenario where I am using a Redirect Login, after login the user is redirected to an intermediary page where I check if we are in an IFrame (To stop the infinite loop), and if I am no

[2020-03-26 01:20] mvrak commented on #1422
Hello Mindingdata,

We had direction to remove hash information as the reply urls do not support hash data.  So you are describing the intended behavior.  I'm not sure we would know what is strippable and what is not strippable.

There is a very similar concern among some app developers that reply URLs do not provide better support for wildcards.  That direction all comes from our security review.

[2020-03-26 01:25] mvrak commented on #1407
@kchlapinski can you describe your scenario more?  What kind of users are we talking about?
If they user could theoretically get single sign on from another app, then would we be signing them out of those apps as well?

We have a number of scenarios where "logout" isn't that intuitive.  Therefore we highly recommend using conditional access to manage this.

[2020-03-26 01:27] mindingdata commented on #1422
Hi @mvrak,

I think the best way would be to only strip the hash data MSAL knows about,  you already have an enum defined :
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/ea5a80f1293157e4105d0f4da6d89c3aea172860/lib/msal-core/src/utils/Constants.ts#L60

[code]

Remove all properties that match those, ignore the rest.

[2020-03-26 01:28] mvrak commented on #1397
@Morkowski I am concerned that the submit button isn't showing up without scrollbars.  Can you add a screenshot?  That is an issue in itself.

[2020-03-26 03:39] jake-brandt commented on #1161
Hi everyone, I'm curious if this extends beyond MFA and into custom policies in general. We employ an Azure B2C custom policy for "forgot password" in addition to two other proprietary experiences - in any of these three scenarios we are unable to use `acquireTokenSilent()` to obtain an access token after a successful interactive flow for the initial ID token.

When I would expect `acquireTokenSil

[2020-03-26 06:30] dusanjovanov opened #1425 "Should you put ReactDOM.render inside handleRedirectCallback ?"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I use loginRedirect and I have some requests that I make on mount of root component, and the requests send the accessToken in the Authorization header.
Sometimes the requests fail because the t

[2020-03-26 07:26] dusanjovanov commented on #741
@derisen
Thanks for the response.
Is `session id` required for `acquireTokenSilently` to work ?
I get the `Token calls are blocked in hidden frames` error so I don't know if those things are related.

[2020-03-26 09:30] Morkowski commented on #1397
We are integrating with our client and that's how theirs form looks:
![image](https://user-images.githubusercontent.com/12064267/77620535-dde85a80-6f3a-11ea-82b4-833958be913d.png)

Black boxes are logo and title.

Becouse of described issue I can't reach submit submit button.

pr for this issue: https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1426

[2020-03-26 14:19] kemins commented on #1248
sadly but it's sort of blocker for entire library usage

[2020-03-26 15:03] kaeh commented on #1184
I still have an error :/

my package.json have
[code]

My app.module have

[code]

And i have this issue when i should be redirected

`ERROR Error: "Uncaught (in promise): ClientConfigurationError: No redirect callbacks have been set. Please call handleRedirectCallback() with the appropriate function arguments before continuing. More information is available here: https://github.com/AzureAD/micros

[2020-03-26 15:25] arunprasathv commented on #759
@jasonnutter @sameerag Is the issue fixed for Angular Wrapper Library as well ?

[2020-03-26 16:48] jasonnutter commented on #1425
In the react-sample-app, we put `handleRedirectCallback` in `componentDidMount` of the `AuthProvider` HOC: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/react-sample-app/src/AuthProvider.js#L131

I would not think putting `ReactDOM.render()` inside `handleRedirectCallback` would address the issues you are having. Can you provide more detail on what you are see

[2020-03-26 16:51] nfgallimore commented on #1194
I am not calling acquireTokenSilent anywhere in my app explicitly. The MSAL interceptor does it, and I am getting around 19-20 of these errors when I load the page.

[2020-03-26 17:08] jakehockey10 commented on #1184
@kaeh can you add the snippet of code where you are calling `handleRedirectCallback()`?

[2020-03-26 17:59] loganabsher commented on #1248
do we have any updates on the issue? I've been looking into it pretty heavily and haven't found any solutions that work.

[2020-03-26 19:24] willyt150 commented on #1404
Thanks @gulench for the research. I was trying to figure out why we're receiving the msal:loginSuccess event 3 times in a row after the initial login.

@jasonnutter Are we correct to assume that the `msal:loginSuccess` event should only actually be firing once after a successful login, initiated by loginRedirect or loginPopup?

[2020-03-26 20:38] jasonnutter commented on #759
@arunprasathv This issue ended up being a usage problem. Any bugs that are fixed in the latest version of `msal` are fixed for MSAL Angular if you use the latest version of both `msal` and `@azure/msal-angular`.

If you are encountering behavior you believe is a bug, please open a new issue, thanks!

[2020-03-26 20:44] derisen commented on #741
@dusanjovanov no worries : )

both `sid` and `login_hint` are optional, so I don't think they are related to your issue here. You should be able to `acquireTokenSilently` as long as the user is already signed in, has a cookie and already consented to the scopes in the token. Is the error a breaking error? Can you take a look at this issue [here](https://github.com/AzureAD/microsoft-authentication-

[2020-03-26 20:55] zamzowd commented on #741
Isn't this issue specifically about making `acquireTokenSilent` without `sid` nor `login_hint`, and it was closed saying that the library will continue to require one of those?

They aren't required in the specification, and setting up the request outside of this library with `prompt=none` does get a successful response if the user has a cookie on the authority, but unless something has changed th

[2020-03-26 21:04] derisen commented on #741
@zamzowd sorry, my bad. I was referring to general `acquireTokenSilent` case. Indeed in SSO scenario one of them is required now.

[2020-03-26 21:36] arunprasathv commented on #759
@jasonnutter I see auth pop showing once the token expires when the user is in middle of something it pops up for auth which bad user experience.  Any examples would be great.

[2020-03-26 21:38] jasonnutter commented on #1408
@antonGritsenko Can you link me to the documentation showing how to get this list of tenants? I'm not familiar with how that's done in C#. Thanks!

[2020-03-26 22:01] jasonnutter commented on #1392
@oleksii-kostin When the MSAL Guard calls `acquireTokenSilent`, it is doing so to get an ID token, which is essentially verifying that the user is indeed logged in (as this call would fail if they no longer have an AAD session). I understand why this is confusing, and have considered changing this behavior (or changing the broadcasted event to differentiate it).

You can determine whether or not t

[2020-03-26 22:12] jasonnutter commented on #1404
@llakhani The MSAL guard uses `msal.getAccount()` to determine whether or not the user is logged in, and that only gets reset if the you call `logout` from your application (as it uses information stored in local/session storage on your domain). MSAL will not know that your AAD session is no longer active (i.e. you logged out from the Azure portal) until it needs to make a network request to acqui

[2020-03-26 22:14] jasonnutter commented on #1392
And yeah I also see how it confusing the `acquireTokenSilent` in the guard broadcasts both `acquireTokenSuccess` and `loginSuccess`.

[2020-03-26 22:15] jasonnutter commented on #1404
Yeah, that seems like a fair request.

[2020-03-26 22:28] jasonnutter commented on #1369
We made [some fixes](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1369#1358) to `handleRedirectCallback` that will be available in the next version of MSAL, which I think may fix these issues.

One things I did notice is that this part of the sample:

[code]

Should be:

[code]

I'll get that fixed in the samples.

[2020-03-26 22:29] #1367 closed

[2020-03-26 22:30] jasonnutter commented on #1203
@ericmok66 Closing, let us know if you have further questions.

[2020-03-26 22:33] jasonnutter commented on #1353
I confirmed with a Webkit engineer that this is the case. See this blog for more details:
https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/

[2020-03-26 22:45] jasonnutter commented on #1353
Closing, as no further action at this time.

[2020-03-26 22:45] #1353 closed

[2020-03-26 22:49] jasonnutter commented on #1414
@graphicsxp The page used as a redirect URI should not itself require authentication. The MSAL Guard should now catch this scenario and prevent itself from redirecting inside the iframe. This is available in `@azure/msal-angular@1.0.0-beta.4`, can you try this version?

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/changelog.md#100-beta4

As a best pr

[2020-03-26 22:51] jasonnutter commented on #1419
@Hampfter Thanks! I'll make sure this gets fixed.

[2020-03-26 23:15] jasonnutter commented on #1215
MSAL Angular is nearing GA, closing as no further action at this time.

[2020-03-26 23:15] #1215 closed

[2020-03-26 23:26] jasonnutter commented on #1366
@dadeleac I don't believe the `AuthorityUriInsecure` error is from our library. Are you using another library for authentication? Quick search leads me to believe the redirect uri you are setting is not https, can you verify that?

And Ionic + @angular/pwa is not a scenario we have tested.

[2020-03-26 23:28] jasonnutter commented on #1365
Closing as duplicate, will be fixed with #1413

[2020-03-26 23:28] #1365 closed

[2020-03-26 23:32] whung1 opened #1427 "Interface for UserAgentApplication"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Would like to see an interface for UserAgentApplication, since my team is writing a React Context that is shared that will have msal user agent app injected. We had experience with some contrac

[2020-03-26 23:35] jasonnutter commented on #1222
@pasanenl Is this still an issue with the latest versions of MSAL Angular and MSAL?

[2020-03-26 23:50] jasonnutter commented on #1427
@whung1 This is reasonable request, and something we can definitely consider.

[2020-03-26 23:58] kaeh commented on #1184
That's probably where i have made a mistake, because i don't call it.

By the past, when @azure/msal-angular was still in 0.0.0-alpha, i just had to declare the clientId, the redirectUri and the MsalGuard and that's all.

Now it looks like i'm missing something ?

But then why would the popup works and not the redirect ?

[2020-03-27 00:04] jasonnutter commented on #1184
@kaeh Currently, if you use one of the redirect methods, you are required to implement `this.authService.handleRedirectCallback`. Thanks to #1358, this will no longer be required.

For now, you should implement that function, and the error will go away. Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/angular8-sample-app/src/app/app.component.ts#L27

[2020-03-27 03:28] betterliyu commented on #1069
I still meet the similar issue using react v1.2.1. The page don't redirect to the home page. Just stay on that page with url domain/#id_token=XXX.  And status is inProgress in sessionStorage.
![image](https://user-images.githubusercontent.com/19713797/77718403-d188fe00-701d-11ea-9a22-f2f5a0a9a073.png)

[2020-03-27 12:17] satish1597 commented on #1369
@jasonnutter When will be the next version available?

[2020-03-27 13:09] harshek opened #1429 "Authentication with Third Party URL and Msal"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
I am using nodejs only, with msal libraries

## Description
Error : Protocol Error
OpenIdConnectAuthenticationHa

[2020-03-27 14:18] MathieuDWeill commented on #1248
When will we be able to use B2C with safari?

[2020-03-27 14:31] kaeh commented on #1184
@jasonnutter it works, thank you :)

[2020-03-27 17:02] MathieuDWeill opened #1430 "Working with Safari"
When will msal 2.0 be released? and will it work successfully with safari?

[2020-03-27 17:55] jasonnutter commented on #759
@arunprasathv Please open a new issue, thanks!

[2020-03-27 18:04] sameerag commented on #1169
Okay! We kind of halted the release as this does not solve all use cases, especially safari ITP issues will still persist even with this solution. The above is done as a POC for use cases that work without Safari and ITP restrictions.

We do plan to eventually have a more comprehensive solution to address all scenarios but there is no line of sight on that currently, since it involves a multi-team

[2020-03-27 19:02] antonGritsenko commented on #1408
@jasonnutter  There is nothing special, just calling to the management API (this is for Angular for sure :) )
[code]

[2020-03-27 19:41] jasonnutter commented on #1408
@antonGritsenko Ah, yes, you should be able to request an access token that can be used with Azure Resource Management. Search for "Azure Service Management" under "Add a Permission" in the "API Permissions" for your app. Then you can add that scope to your `consentScopes` and `protectedResourceMap`.

[2020-03-27 19:53] antonGritsenko commented on #1408
ok, so we have to use UserAgentApplication directly. Then no make sense to use @azure/msal-angular at all, right? :)

[2020-03-27 20:00] jasonnutter commented on #1408
@antonGritsenko This may be possible directly with Angular but I haven't had a chance to figure out the best approach. I can follow up when I get a chance to do so.

[2020-03-28 22:39] frejsoya commented on #1169
We can live without Safari. Thanks for the feedback, and yes please share steps :)

[2020-03-29 19:54] sameerag commented on #1390
This is already added to `msal-node` board. I added more description.

[2020-03-30 15:44] arunprasathv opened #1431 "acquireTokenSilent in Angular Wrapper Library is not working"
@jasonnutter @DarylThayil
I see auth pop showing once the token expires (after 1 Hr) when the user is in the middle of something it pops up for auth which is bad user experience. Any examples would be great.

Library
"@azure/msal-angular": "^0.1.4"

[2020-03-30 16:57] DarylThayil opened #1432 "Align on one of Webpack / Rollup in the library"
Please follow the issue template below.

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
We currently have both rollup and webpack in our libs, along with whatever the node library is currently using with tsdx.

## Priority
Medium ?

## Acceptance Criteria
Describe the conditions that must met for this work to be considered complete.

1.  One bundling manager
2.  Cho

[2020-03-30 16:57] DarylThayil commented on #1432
@jasonnutter   @pkanher617  cc

[2020-03-30 17:54] arunprasathv commented on #1241
How do you call acquireTokenSilent when token expired. Do you call it from failure() ?

[2020-03-30 20:45] #1259 closed

[2020-03-30 20:47] vinusorout opened #1433 "Wildcard not working for application already setup in Azure with v1.0"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Reply urls for my application is setup as localhost:4200/*
So earlier my application was working with url like
localhost:4200/abc
Now it stopped working And throw reply url doesn’t match error.

[2020-03-30 20:55] jasonnutter commented on #1433
@vinusorout Wildcards for redirect uris is no longer supported for security purposes: https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#restrictions-using-a-wildcard-in-uris

Older applications might be able to use wildcards, but it will need to be done via the manifest editor (it is not possible in the portal UI).

[2020-03-30 21:15] m-sterspace commented on #1288
@jasonnutter

I had also opened an issue on the Azure Docs repo, which is here, and recently received an update from @hamiltonha :
https://github.com/MicrosoftDocs/azure-docs/issues/41911

I figured I'd tie these together since they're both the same underlying issue which is that the official documentation could use a clearer life cycle explanation for the redirect method.

[2020-03-31 00:39] jberlyn commented on #844
Almost 3 months, still no response, can we please get an update on this?

[2020-03-31 00:50] jasonnutter commented on #844
@jberlyn @Meberem Apologies for the delay. This should be possible by editing the manifest and setting `accessTokenAcceptedVersion`: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference

[2020-03-31 01:06] jasonnutter commented on #1194
@nfgallimore Can you catch the errors that are thrown by the interceptor when you make the http calls?

Regardless, the best way to mitigate this is to use a blank page (which has no content) as your redirect uri. I'll update the Angular samples soon (this week, hopefully) to demonstrate how to do that for Angular.

[2020-03-31 01:07] jasonnutter commented on #1369
@satish1597 Soon, at least in beta (potentially this week). I'll post here when its available.

[2020-03-31 01:09] jasonnutter commented on #1431
@arunprasathv The auth popups will only happen if something in your code triggers them. Do you have code that is calling `acquireTokenPopup`? If so, when is that happening?

[2020-03-31 01:12] jasonnutter commented on #1288
@m-sterspace Gotya, thanks!

[2020-03-31 02:03] vinusorout commented on #1433
@jasonnutter  Yes it is an older application which was working fine with adal.js angular package, but when now I moved to @azure/msal-angular@1.x.x, it is not working!
Please let me know if there is any way I can make it work with this library?

[2020-03-31 03:28] arunprasathv commented on #1431
@jasonnutter

Here's the code that triggers the loginRedirect I guess.  my guess is this.msalGuard.canActivate(next, state); - is causing the loginRedirect to trigger when ID token in expired.

I see this code below in library is being executed so the silent refresh should happen.  Does it get the access token as well? I'm not sure what am i missing.

https://github.com/AzureAD/microsoft-authentic

[2020-03-31 09:42] cristofercri commented on #1392
I didn't realize the MSAL Guard was calling acquireTokenSilent (which makes perfect sense :)). Thanks for letting us know.

[2020-03-31 10:07] giovannimele opened #1437 "Angular 8 & msal-angular 1.0.0: acquireTokenSilent and 'X-Frame-Options' = 'deny'"
Hello,

we are currently using angular 8 and msal-angular 1.0.0-beta4 to log into Azure B2C. All works fine the first time we log in: the popup windows appears and we can enter the credentials. Once the token expires (after 1 hour), the token is refreshed silently either by MsalGuard or by the MsalInterceptor. Both call acquireTokenSilent from MsalService, The problem is when the request is done t

[2020-03-31 11:21] vinusorout opened #1438 "Doesn't create token for APIs which has same path key in URL as present in app-routing.module.ts"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 9

## Description
I have multiple APIs which are listening on different ports like 3000, 3001, 3002 on localhost.
Also i have provided the azure id in protected resources like:

[code]
*N

[2020-03-31 13:51] pasanenl commented on #1222
@jasonnutter We no longer use MSAL for Angular.

[2020-03-31 15:48] nikhil-nomula opened #3430 "Infinite redirects to SSO and then it just stops"
I am working on implementing azure ad open id connect and my code looks like this. The strange thing though is that it happens only for localhost urls.

[code]

[code]
[code]

[code]

When I am accessing a secured route, all it does is calls ensureAuthenticated, which redirects to loginUrl and then it redirect backs to ensureAuthenticated and then it redirects back to login url.

It keeps re-tryin

[2020-03-31 15:58] webteambel opened #1439 "Support for Ionic"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello,
Is there any possibility to make MSAL compatible with ionic 4/5 (cordova/capacitor) ?
Thank you

[2020-03-31 17:20] jasonnutter commented on #1433
Which part is not working? The library or the portal? Which errors are you receiving?

[2020-03-31 18:25] oskarcronwall commented on #1375
I had a similar issue. Looking at the stack trace, it seems it is caused by the logging functionality. Try the sample without the logger defined in auth-utils.js.

[2020-03-31 20:09] thoo1 opened #1441 "Enum of errorCode?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [X] `@azure/msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
- currently we can use instanceOf to check error object that is thrown when making different login/a

[2020-03-31 20:44] jasonnutter commented on #1431
@arunprasathv Yes, the `loginPopup` call in the MSAL Guard is likely what is getting called.

Note, you should not have to manually check if the ID token is expired. If you use the MSAL Guard, it will check first if `getAccount` is populated, and if so, it call `acquireTokenSilent` with the clientId as the only scope, which will verify the ID token is still valid, and silently request a new one if

[2020-03-31 21:58] jcox86 commented on #1295
Also have this issue on `Angular 8.2.0` and `@azure/msal-angular 0.1.2`.

[2020-03-31 21:59] arunprasathv commented on #1431
@jasonnutter Does this logic works with the version of the library that I'm using. I see the loginRedirect still triggering with canActivate(), will test more.

I'm checking **isUserLoggedIn** to check for the first time to call loginRedirect when the user accesses the app for the first time as below. Let me know if this is right. Need to know when to call LoginRedirect.

if(tokenExpired) {
   thi

[2020-04-01 02:30] vinusorout commented on #1438
Following is the root cause:

You guys add all the path variables which are set in app-routing.module.ts, to unprotectedResources,

[code]

Now, if someone has same path key in their APIs url, then your module thinks that it is an unprotected resource and doesnt create token for that API url.

In my case in app-routing.module.ts I have path specified as "xyg" and "tru", and also these same paths a

[2020-04-01 03:55] llakhani commented on #546
I have already auto generated token using msal , I received in loginSuccess event also. But that doesn't have scp.. So how can I get that in token? I want to have scope for mail.send .

[2020-04-01 06:29] kvergins commented on #1198
Looks like you've made progress on this issue. When do you plan to deliver the fix?

[2020-04-01 08:55] sameerag commented on #1273
#1444 is the first of the series of PRs to support this

[2020-04-01 13:20] eeskildsen commented on #1167
I don't quite get it....What was the solution? Adding `canActivate` to your parent route?

I have `canActivate: [MsalGuard]` on my parent route and all its children. But my HTTP requests still aren't getting an `Authorization` header.

Was there more you had to do?

[2020-04-01 14:52] jakehockey10 commented on #1167
MsalGuard isn't what puts the header in your requests. The library comes with an http interceptor that you'll want to register and use for putting the auth header in for you

[2020-04-01 15:36] StefanChristou commented on #701
Please re-open this issue. Getting the same problem, setting `storeAuthStateInCookie` to `true` does not resolve the problem.

[2020-04-01 16:13] winperec opened #1445 "Is there any way to renew `sid` silently?"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We use silent sign-in and 'sid' parameter instead of `login_hint`.
Reason: some of our clients have ADFS and mixed authentication and with `login_hint` we get

*`AADSTS50058: A silent sign-in r

[2020-04-01 16:57] jasonnutter commented on #1198
@kvergins We are planning to have a new version available soon (likely this week or early next week) with the fix for this issue.

[2020-04-01 18:06] tnorling commented on #1288
@elhedran We have released a beta version: 1.3.0-beta.0 which contains a potential fix for this issue. With this release the hash is now processed in the constructor after the final redirect and calling handleRedirectCallback is now optional. If you do choose to register a callback it should now return the response as you expected. We hope that this is more intuitive.

Could you try it out and let

[2020-04-01 18:06] jmckennon commented on #1429
Can you provide us with some more information? My initial guess is that something is configured incorrectly.

I can't see your configuration in the portal link you provided as we can't access those sorts of things in your stead. Can you provide a screenshot of your portal configuration, and also a snippet of the code your using, specifically the configuration your passing into msal and how it's be

[2020-04-01 18:09] jmckennon commented on #1430
@MathieuDWeill we released the [msal 2.0 beta](https://www.npmjs.com/package/@azure/msal-browser) on both npm and CDN yesterday. I will let @pkanher617 comment on it's use with Safari/ITP, as I'm unsure of what we've landed on.

[2020-04-01 18:19] jmckennon commented on #1439
Right now we're prioritizing getting our 2.0, Angular, and Node libraries out into the wild, but after that we'll be looking at more granular library use cases, similar to our Angular and Node libraries. We will keep something like this on our radar, but it's not currently on the roadmap.

You may already know this and may not apply to your use case--but there is also an `msal` for [iOS](https://g

[2020-04-01 18:30] jmckennon commented on #1441
We have the sub-error feature (#1348) coming in `msal 2.0`. The beta is currently [out on npm](https://www.npmjs.com/package/@azure/msal-browser), though it does not contain this feature yet. If I'm understanding your ask correctly, these ideas should be fairly similar, as they are basically just making errors more granular (specifically the `interaction_required` errors and ones associated with t

[2020-04-01 19:07] tnorling commented on #1229
@rits-development We have released 1.3.0-beta.0 which contains a potential fix for this issue. Could you try it out and let us know?

[2020-04-01 19:20] charles-chen-wtw opened #1446 "Msal-Angular@1.0.0.beta.4 for Custom B2C policies. LoginRedirect() does nothing but refresh."
# Library
msal-angular@1.0.0.beta.4
@angular @ 8.2.14

# Problem
My Angular Single Page App try to let the user login to our b2c tenant using a custom policy.
When the authority is set to :
`https://login.microsoftonline.com/common/` --> loginRedirect() somtimes needs to click multiple times to get the redirect.

When the authority is set to :
`http://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com

[2020-04-01 19:45] jmckennon commented on #1441
Additionally, there is a function we have called `isInteractionRequiredError`, a static function on the `InteractionRequiredAuthError` class.

[code]
It specifically checks for error codes related to an error that requires interaction to resolve. Hopefully that can help your use case as well. Please let us know if you have further questions or requests!

[2020-04-01 19:56] thoo1 commented on #1441
@jmckennon yea I think that makes sense, and that function is good, but I have an example usage for example, I am checking in my error handler `if (error instanceOf ClientAuthError)`
but under ClientAuthError, there are many "sub error codes" such as `endpoints_resolution_error`.
I want to do some conditional logic `if (error.errorCode === "endpoints_resolution_error)` but the string itself is not

[2020-04-01 20:38] kemins commented on #1260
FYI: the same issue happens for me with Safari only.
Error when acquiring token for scopes:  ClientAuthError Token renewal operation failed due to timeout.

it's just basic flows and so poor handling, common we shouldn't apply any workarounds,
we're using it for enterprise products with solid budgets and getting so annoying issues.

"msal": "^1.2.2",
"@azure/msal-angular": "^1.0.0-beta.4".

[2020-04-01 21:05] jmckennon commented on #1445
If the user's session with AAD has expired, then the user has to sign in interactively and it is not possible to do this silently.

[2020-04-01 21:14] jmckennon commented on #1441
I see, so are you hoping that there is effectively this enumeration or array of errors that encapsulates all of codes in a particular error class? So that you can use something like `if (error.errorCode === errorEnum.endpointsResolutionError)`?

That string `endpoints_resolution_error` should be populated in certain errors under errorCode as you mentioned. Can you give a usage example where that i

[2020-04-01 21:32] Ivan-L opened #1447 "MsalGuard constructs incorrect redirectStartPage when HashLocationStrategy is used"
## Library
- [X] `@azure/msal-angular@1.0.0-beta.4`

## Framework
Angular v7.

## Description
PR #1343 introduced the `redirectStartPage` field in `AuthenticationParameters` and the `MsalGuard` started using it in order to preserve the Angular route being hit when redirecting. This was great!

Unfortunately this does not work when an Angular app such as ours uses `HashLocationStrategy` by setting

[2020-04-01 21:33] jmckennon commented on #1430
I was able to talk to @pkanher617 about this, and it will solve ITP in most scenarios for 2.0 release, and we will have more details and documentation regarding the edge cases soon.

[2020-04-01 21:33] jmckennon commented on #1430
@pkanher617 reminder for docs for ITP as well

[2020-04-01 21:47] eeskildsen commented on #1167
Thanks for the reply. I did register the interceptor, following the [instructions](https://www.npmjs.com/package/@azure/msal-angular) on NPM. My `app.module.ts` looks pretty similar to [yours](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1167#issuecomment-567160607) except for the structure of the config object, which I'm guessing is just due to different MSAL versions

[2020-04-01 21:52] jmckennon commented on #1425
@dusanjovanov You can also try `msal@1.3.0-beta.0`? This also may fix the issues you're seeing. @tnorling made some of those changes.

[2020-04-01 22:11] jmckennon commented on #1422
@mindingdata Can you clarify: which pages are running msal, and which pages are running your own custom code?

[2020-04-01 22:12] jmckennon commented on #1422
If you have any custom hashes, make sure that msal is NOT running on the same page--this may be a workaround in the interim.

[2020-04-01 22:20] mindingdata commented on #1422
All pages are running MSAL because all pages need to be authenticated. Pretty standard scenario.

The hash is only processed when returning from the login, but let's say that they are not currently logged in and user sends them a link to a page that has a hash in it, they will be forced to log in (Because it's an authenticated page), and then be returned to that page but then the hash is removed.

[2020-04-01 22:30] krytical commented on #99
Hi,

Just wondering if there is any update for MSAL and on-premise ADFS? We have a React application that would need ADFS access tokens and we got that working using react-adal, however, we're switching to MSAL as ADAL is not supported anymore.

Thanks!

[2020-04-01 23:56] alex-mason-jdas commented on #741
Where exactly can sid be acquired from in a b2c scenario?

[2020-04-02 00:35] thoo1 commented on #1441
yea the string is there and there is no problem with that but the issue is that say some new error comes up, or the string changes, there is no type checking to make sure the string that I am currently checking for is going to be returned by the library
Basically I want some type checking :D @jmckennon

[2020-04-02 07:13] ranshine opened #1448 "Pressing browser back again asking msal login in react"
## Library
- [x] `msal@1.2.1`

I am using this library for azure authentication login in react. After successful login, using react router i am navigating to home page. But in home page if i press browser back button it is again asking azure login. How to stop showing azure page on pressing back or it should do auto login.
Do i need to do any configuration on azure side to do auto login when i pre

[2020-04-02 08:57] harshek commented on #1429
Hello,

Attaching here the sample code I am using.
https://bit.ly/2X1eXXK
https://bit.ly/2JwyiIz
Can you please let me know what other configuration I need to share?

[2020-04-02 11:15] IuliaUngur commented on #349
same issue for me with msal 1.2.1 / react 16.12/ chrome  80.0.3987.149. Fixed after I allowed 3rd party cookies on chrome (chrome://settings/content/cookies?search=coo)

[2020-04-02 11:17] winperec commented on #1445
ok this is something I expect :) and what is the lifetime of `sid` I assume it should be longer then access_token lifetime.

[2020-04-02 12:11] Zucka commented on #1269
It seems thet I might be facing the same underlying issue.

Every bit of ducomentation about AAD B2C is saying it does not allow the B2C login site to be loaded in an iframe. How does that impact MSAL when MSAL is trying to get token updates through iframes?

[2020-04-02 13:13] JasSuri commented on #1269
You cannot do an interactive login within an iframe, but silent tokens can be obtained within an iframe as long as there are no HTTP 200's occurring, only 302 redirects. So that is not the underlying issue.

[2020-04-02 13:36] rits-development commented on #1229
@tnorling I can't seem to find that version on npmjs.com?

[2020-04-02 15:54] jakehockey10 commented on #1167
@eeskildsen If I remember correctly, the issue was that by not using the guard on the parent route, the `MsalService` was considering the parent route of my feature module to be an unprotected resource, and think that's when the HttpInterceptor decided not to put headers in.  I believe the HttpInterceptor puts the headers in for protected resources

[2020-04-02 16:24] tnorling commented on #1229
[msal@1.3.0-beta.0](https://www.npmjs.com/package/msal/v/1.3.0-beta.0)

[2020-04-02 17:21] philip-young commented on #1269
Hi, I am using the B2C Azure AD Multi-Tenant Custom Policy found [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications). I have also been experiencing this issue. I provided the login_hint, which now skips the account selection screen, but was still getting an x-frame error. After reviewing the Azure AD login audits, I f

[2020-04-02 17:30] CodyMorris commented on #1269
I ended up solving my issue by properly configuring my session provider.

Before, I was using the `SamlSSOProvider` as my connection with the idp was over SAML.  Switching to the `DefaultSSOSessionProvider` caused my session to be properly maintained, which avoided the `X-Frame-Options` error.  Hope this helps someone, was quite a pain to figure out.

[2020-04-02 17:49] GaddamRajuReddy opened #1450 "AADB2C90273: An invalid response was received : 'Error: interaction_required,Error Description: AADSTS16000: Either multiple user identities are available for the current request or selected account is not supported for the scenario."
hi am using "@azure/msal-angular": "^0.1.4", getting below error message while getting token with acquireTokenSilent method.

AADB2C90273: An invalid response was received : 'Error: interaction_required,Error Description: AADSTS16000: Either multiple user identities are available for the current request or selected account is not supported for the scenario.

[2020-04-02 18:39] #1439 closed

[2020-04-02 19:34] Ivan-L commented on #1447
So it seems I keep on running into hurdles with the `HashLocationStrategy` usage in our Angular app. I'll start with the good news first, but there is bad news at the end.

###  The good news
I did find a good fix for the current issue (pending your scrutiny, of course). Here are the details.
Instead of concatenating `window.location.origin` with `state.url` to get the `redirectStartPage`, `window

[2020-04-02 21:15] jasonnutter commented on #1447
@Ivan-L I was able to come up with a solution for both problems, see #1452.

[2020-04-02 21:19] #1392 closed

[2020-04-02 21:19] #1404 closed

[2020-04-02 21:24] roneesh commented on #1369
@jasonnutter I'm encountering the same issue-- I've validated my authority urls' multiple times, and when I call loginRedirect I am getting this error:

```Error: could not resolve endpoints. Please check network and try again.```

And I am also getting this response object with empty values inside of handleRedirectCallback:

[code]

Will the update potentially resolve this issue?

[2020-04-02 21:55] roneesh opened #1453 "loginRedirect is not working"
## Library
- [x] `msal@1.2.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React 16.12

## Description
I am implementing a login redirect auth flow with a specific policy and the loginRedirect method is not working. When I use it in my code, I get an error in console that endpoints could not

[2020-04-02 22:29] josh-manton commented on #1453
I'm also have a similar problem with the code in branch msal-common-known-authorities. I need the new b2c functionality that has not yet been merged into msal v2.

Pull request here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1416/files

I believe both libraries share "@azure/msal-common" "1.0.0-beta.0.

@roneesh  check the request that the browser is making in dev too

[2020-04-02 23:39] tnorling commented on #1453
@roneesh When using B2C in msal v1 you must set ```validateAuthority: false``` in your auth config. This should solve the issue you are experiencing.

@josh-manton msal v1 uses msal-core. That specific branch, as you pointed out, is to enable B2C functionality in MSAL v2 which uses msal-common. It has not been thoroughly tested yet. As you noticed, ```validateAuthority``` has been removed in v2 an

[2020-04-03 00:08] jasonnutter commented on #1419
@Hampfter Fix in #1454

[2020-04-03 00:34] jasonnutter commented on #1295
This should be fixed by #1455.

[2020-04-03 00:42] #1095 closed

[2020-04-03 00:42] #1198 closed

[2020-04-03 00:42] #1301 closed

[2020-04-03 01:01] Ivan-L commented on #1447
@jasonnutter Thank you for putting up the PR so quickly!

I tested the app against the branch of #1452 and both issues above are resolved, thanks!

I am just hitting one last issue though, a `Token renewal operation failed due to timeout` error and it is difficult to debug, plus I'm not sure whether it's related to PR #1452 at all or not.

Here is the strange thing and it is very consistent: if I

[2020-04-03 01:33] jasonnutter commented on #1438
@vinusorout What happens if you don't provide `unprotectedResources`?

[2020-04-03 04:10] vinusorout commented on #1438
Yes, this would work.
But once I need to make an API unprotected then again this will be a issue.

[2020-04-03 06:56] krytical opened #1457 "On Premise ADFS"
## Library
msal@1.2.2

## Description
Just wondering if there is any update for MSAL and on-premise ADFS? We have a React application that would need ADFS access token for API calls and we got that working using the react-adal library, however, we're switching to MSAL as ADAL is not supported anymore.

We cannot use Azure AD for this project, only our on-premise ADFS. Is there a way to accomplish

[2020-04-03 07:46] double0scotty opened #1458 "Using claims-mapping with MSAL"
I've setup an App Registration and applied a custom policy to it as outlined here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping

I can't find a way though to pass through and use the validation key. According to the documents the openid-configuration requires an appId parameter to be added to get the correct key for validation:

e.g. https://login

[2020-04-03 10:34] lennartquerter commented on #1199
Hi guys, I was also facing this issue and my problem was with the chrome extension of Ghostery which messed up my redirect. I found it by opening the error-message url which was trying to redirect to login.microsoft.com/ghostery/...

By trusting the website in ghostery, the problem was solved 😄

[2020-04-03 12:26] nikhil-nomula opened #3431 "How can we implement PKCE with Open ID Connect in passport-azure-ad"
I am using passpot-azure-ad with auth code flow for building a web application with Express JS and Node JS. I am currently using Open ID connect to log users into the application. The flow that I want to use is auth code flow and PKCE is recommended.

However when I look at OIDCStrategy we do not have options to include the code challenge and code challenge method. Can you let us now how do we do

[2020-04-03 14:21] suhadev opened #1459 "getting "Refused to display {URL} in a frame because it set 'X-Frame-Options' to 'deny'" error"
## Library
- [ ] `msal@1.2.2

## Framework
React

## Description
I am getting  "Refused to display {URL} in a frame because it set 'X-Frame-Options' to 'deny'" error while getting access tokens by using any of the methods(acquireTokenSilent, acquireTokenPopUp,acquireTokenReirect'. It Works fine in localhost

## Security
Is this issue security related?
No

## Regression
It works fine in local host.

[2020-04-03 14:37] jakehockey10 commented on #1167
@eeskildsen I've been having a lot of trouble getting this library to work with any modularization. As soon as I start grouping functionality into feature modules, everything just falls apart. I don't understand, at all, how to keep my project organized and have this library continue to facilitate my authorization needs across multiple modules. Sounds like you've had some success though

[2020-04-03 16:47] ursmeier-mercatus opened #1460 "Non ascii characters are not displayed correctly"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.1.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 9.0.2

## Description
getUser does not transfer non-ascii characters correctly

## Security
Is this issu

[2020-04-03 17:13] jonenst commented on #127
Hi @jasonnutter , is there news regarding this issue ? Could you please describe more specifically in what circumstances the redirect is working or not working as of april 2020 ?

we are hitting the same problem after redirecting to ```https://login.microsoftonline.com/<TENANT-ID>/oauth2/v2.0/logout?post_logout_redirect_uri=https%3A%2F%2Fmyhost%2Fmyapp%2F```
We do have the exact same (but urldecod

[2020-04-03 17:20] agreesh-IOM opened #1461 "How do I use MSAL in my website to create a login interface for users"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [. ] `msal@1.0.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am trying to develop a login interface to Microsoft account holders to my system.

[2020-04-03 19:37] jasonnutter commented on #1447
@Ivan-L Which version of `msal` are you using?

[2020-04-03 19:53] Ivan-L commented on #1447
@jasonnutter "msal": "1.3.0-beta.0"

[2020-04-03 20:20] jasonnutter commented on #1447
@Ivan-L Gotya. Seems like that is a different issue, so if you could open up a new Github issue, that'd be great (I might also search existing issues, possible there is an open issue). Thanks!

[2020-04-03 20:27] ursmeier-mercatus commented on #1460
Thanks a lot!

[2020-04-03 20:27] #1460 closed

[2020-04-03 20:40] jakehockey10 commented on #1260
@kemins we are in a similar boat, but keep in mind that you are using a beta version of something for your enterprise products (sounds like in production), and that's not really something that is this library's fault.

[2020-04-03 21:20] Ivan-L commented on #1447
@jasonnutter Will do. Thanks for the fixes to the two issues and looking forward to being able to use #1452 in a beta.

[2020-04-03 22:36] asanchezfe commented on #1218
Any update on this? We still have this issue with beta 4 and msal 1.2.2 ☹️

[2020-04-04 00:55] jorgebibarra opened #1462 "Does it support saml protocol?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-04-04 03:12] NerdyB713 commented on #1430
@jmckennon Do you know when msal/angular 2.0 will be released? Looking for the ITP solution.

[2020-04-04 05:29] StefanSchoof opened #1463 "404 for samples directory"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x

[2020-04-04 18:23] graphicsxp commented on #1222
Hello

I'm using msal-angular 1.0.0-beta.4 and I am having the same problem. I don't know how to reproduced it and as described above it seems to be intermittent. When clearing the cache and refreshing the app, it works again but obviously this is not a fix. Is this bug being investigated ?

[2020-04-04 18:26] graphicsxp commented on #1222
out of curiosity, what do you use to authenticate your Angular app to Azure AD then ?

[2020-04-04 20:13] es-repo commented on #741
This is an artificial limitation from your side. More on that you even don't fully implement this your limitation: if a user signed in on domain A and then will open domain B then `acquireTokenInteractive` method from your library will do actual silent login without `login_hint` or `sid`.

[2020-04-05 13:47] graphicsxp opened #1464 "AuthenticationParameters is not used in the Angular sample"
msal-angular 1.0.0-beta.4

I'm desperately trying to access my api from Angular application and I found the sample app that does that. However it seems that the sample app is using an old version of the library because AcquireTokenSilently takes AuthenticationParameters as a parameter. In the sample it takes an array.

How would I acquire token for my api using the latest version ? How should I cr

[2020-04-05 14:48] 2191116913 opened #1465 "Title"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-04-06 04:50] #1459 closed

[2020-04-06 04:53] suhadev commented on #1459
Adding Xframe header to same origin in our NGINX server, solved the issued for us

[2020-04-06 06:56] rits-development commented on #1229
I was looking at @azure/msal iso msal, my bad.
Version 1.3.0-beta.0 fixed the problem for me!
Thanks!

[2020-04-06 06:56] #1229 closed

[2020-04-06 07:29] StefanSchoof opened #1466 "Add handleRedirectCallback is missing in angular documenation"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x] Other (https://www.npmjs.com/package/@azure/msal-angular and https://github.com/AzureAD/microsoft-authentic

[2020-04-06 09:25] returnvoid95 opened #1467 "loginRedirect() works only the second time"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm trying to log in using the loginRedirect () function, but after entering my credentials on the Microsoft page, I get back to my page and the getAccount() function returns null.
If you repea

[2020-04-06 10:20] StefanSchoof commented on #1466
Okay, just saw https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1358, so this will not required in the next release

[2020-04-06 10:20] #1466 closed

[2020-04-06 12:30] mcdonnell-john commented on #838
Any idea if/when this will be implemented?

Currently also facing this issue at the moment, and would love to see if resolved.

[2020-04-06 15:46] pasanenl commented on #1222
@graphicsxp We wrote our own authentication service using MSAL v1.2.1 JS directly.

[2020-04-06 17:29] jasonnutter commented on #1467
@returnvoid95 First, `handleRedirectCallback` needs to be set outside of the function that is invoking `loginRedirect` (see [this sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/angular9-sample-app/src/app/app.component.ts#L26) for an example).

Second, which version of `msal` are you using? `msal@1.3.0-beta.0` has some fixes for `handleRedirectCallback`

[2020-04-06 17:29] #1465 closed

[2020-04-06 17:32] jasonnutter commented on #1464
@graphicsxp Are you referring to this sample? https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/MSALAngularDemoApp

If so, you are correct, as that sample uses the old version of `@azuremsal-angular`.

There are four new samples in the [samples folder](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples) for MSAL Angular v1, plus a

[2020-04-06 17:33] jasonnutter commented on #1463
@StefanSchoof Thanks, I'll make sure that gets fixed.

[2020-04-06 18:11] graphicsxp commented on #1464
@jasonnutter , yes that is the sample I was referring to indeed.

In the end I figured it out and I managed to make the call to my webapi. However by looking at the new sample you pointed me to, I've noticed that before calling the webapi, you are doing a bunch of checks that I don't really understand :

[code]

Why do you need to subscribe to the acquireTokenFailure event ?

The way I do it is th

[2020-04-06 18:15] graphicsxp commented on #1464
Ah actually I understand now, you are doing this in case the token was not acquired silently successfully. That's a lot of plumbing code. What would be a more generic approach to this ? It'd be tedious to do that for every call to the webapi...

[2020-04-06 18:20] Agendum commented on #1009
@sameerag i like the several previous comments are having issues with MSAL 1.2.0, 1.2.1, and 1.2.2. These versions cause the problem described in this thread: `token_renewal_error, Token renewal operation failed due to timeout.` It works maybe 35% of the time, making it inconsistent. Simply downgrading to 1.1.3 resolves this problem. At least for me, my redirect URLs are correct so it is unrelated

[2020-04-06 19:34] chr1soscl commented on #1370
in what package can I find these dependencies?
ERROR in The target entry-point "@azure/msal-angular" has missing dependencies:
 - msal/lib-commonjs/utils/UrlUtils
 - msal/lib-commonjs/utils/WindowUtils
 - msal/lib-commonjs/cache/AuthCache

[2020-04-06 19:48] jasonnutter commented on #1370
@chr1soscl You need to use the latest version of `msal`, such as `msal@1.2.2`.

[2020-04-06 19:55] jasonnutter commented on #1167
@jakehockey10 I'd love to hear any feedback you have, feel free to email (on my profile), thanks!

[2020-04-06 20:01] jasonnutter commented on #1431
Is this when returning from the login page?

[2020-04-06 20:05] jasonnutter commented on #1260
Error when acquiring token for scopes: ClientAuthError Token renewal operation failed due to timeout.

@kemins To clarify, when you have the MSAL Guard set on your redirect uri, you are receiving a timeout error in Safari?

[2020-04-06 20:06] jasonnutter commented on #1369
@roneesh Can you try `msal@1.3.0-beta.1` and let me know if you still get the error?

[2020-04-06 20:58] #1419 closed

[2020-04-06 21:01] jasonnutter commented on #1194
@nfgallimore You can add error handling at the place where you initiate the http request.

[2020-04-06 21:18] jasonnutter commented on #1218
@asanchezfe My theory is that in this scenario, the interceptor is retrieving an ID token instead of an access token, which would explain why `acquireTokenSilent` succeeds but `accessToken` is null. I'm working on potential fix to allow your app to better handle this, will follow up when its ready.

[2020-04-06 21:27] m4ss1m0g opened #1468 "Error: Error occurred in token received callback function. Error: Invalid state. <guid>, state expected : null.."
## Library
- [X] `msal@1.2.2` and `msal@1.3.0-beta.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- @vue/cli@4.3.0
- Vue 2.6.11
- Vuex 3.1.3
- Vuetify: 2.2.20

## Description
All tests made
- `In Private`
- On compiled code

After the `loginRedirect` with successfully authentication **ONLY W

[2020-04-06 21:48] sameerag commented on #1281
#1409 adds this

[2020-04-06 22:09] jasonnutter commented on #1464
@graphicsxp The `MsalInterceptor` is meant to be the generic solution for this. Right now, it doesn't have any error handling, so your app needs to catch errors (either where the http request was instantiated or via the broadcast service) and handle appropriately. I'm considering adding better error handling to the interceptor (i.e. to automatically call `acquireTokenPopup` for you).

[2020-04-06 22:52] jasonnutter commented on #127
@jonenst For MSA accounts, the logout page should redirect back to your app if:

- Logout uri (which needs to be https, btw) is registered as a reply uri in the portal
- Logout uri is registered as the post logout url
- Logout uri is set as `auth.postLogoutRedirectUri` in msal (and you call `logout`).

I just tested this with my personal MSA account and our React sample app and it worked.

[2020-04-06 23:33] unindented opened #1469 "`@azure/msal-common` is not exporting all type declarations"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.0`  + `@azure/msal-common@1.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and versi

[2020-04-06 23:35] unindented commented on #1469
Ah, it looks like there could be a problem with the `tsconfig` settings (`rootDir` maybe?). It generated all the types under `dist/src`:

<img width="190" alt="Screen Shot 2020-04-06 at 4 34 24 PM" src="https://user-images.githubusercontent.com/69485/78614830-97410d00-7824-11ea-90d5-1bda20886f7b.png">

[2020-04-06 23:39] roneesh commented on #1369
@jasonnutter My issue was resolved by adding validateAuthority: false to my config, so all good on my end. Thanks to you and the rest of the team for being so responsive.

[2020-04-06 23:40] roneesh commented on #1453
this issue is working on my end-- I just had to add the ```validateAuthority: false ``` value to my initial config. Thanks to the product team for being so responsive.

[2020-04-06 23:40] #1453 closed

[2020-04-07 00:22] jakehockey10 commented on #1167
@jasonnutter thanks for reaching out. I have been trying to organize our app into lazily loaded feature modules, but I wasn't convinced that my troubles were self inflicted yet.

Essentially, I import all msal config and interceptor registration in a core module that I import into app module. But it sounds like lazily loaded modules get a new instance of httpclient service and the interceptor for

[2020-04-07 00:31] jakehockey10 commented on #1167
@jasonnutter this is where my investigation hits a road block. I'm having trouble finding out if anything else is importing httpclientmodule , but from what I can tell, it isn't msal-angular that's doing it.

https://github.com/angular/angular/issues/20575

[2020-04-07 01:50] returnvoid95 commented on #1467
I don’t know which item mattered, but I updated the library and put the `handleRedirectCallback` into the constructor and now authorization works the first time! Thanks!

[2020-04-07 01:50] #1467 closed

[2020-04-07 03:08] jesuspsalas2 opened #1470 "How to solve a AADB2C90055 error on acquireTokenSilent with msal-angular (AAD B2C)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library

- [X ] `@azure/msal-angular@0.1.4x`

## Description
Call to acquireTokenSilent is failing always with error AADB2C90055, it is mandatory to have a custom scope in the B2C configuration? It is possible to renew the token without having this?

AADB2C90055: The scope 'openid profil

[2020-04-07 05:44] satish1597 commented on #1369
@jasonnutter Is msal@1.3.0-beta.1 out? I updated the latest version and msal@1.3.0-beta.0 got installed.

[2020-04-07 06:41] asanchezfe commented on #1218
@jasonnutter Thank you for your work, currently I'm thinking the scopes configuration has some influence

[2020-04-07 08:19] kemins commented on #1260
no, MSAL Guard is not applied on redirection uri, redirection URL is a root angular rout, MSALGuard activated only for children routes.

it works fine with chrome and safari on mobile devices,
but fails on safari desktop version(in incognito without any plugins)

overall its' straightforward configuration with:
- consentScopes,
- MsalInterceptor
- MsalGuard (not on redirection uri)
- routes - html

[2020-04-07 09:22] emadalsous commented on #1260
Hello Jason,

FYI, I think that MSAL doesn't work at all for the moment with Safari. We cannot access the Token for Safary security issues.

Best regards,
Emad

[2020-04-07 09:49] graphicsxp commented on #1464
@jasonnutter , Ok thanks you. Yes some error handling would be great. I have refactored my code to use my own Interceptor. I'm running into an issue when I have multiple scopes, maybe you can provide some insight...

1. In my app.module I am providing my own HttpInterceptor and I removed  the MsalInterceptor

2. In my HttpInterceptor, I can do this (relevant code only) :

[code]

` this.auth` refe

[2020-04-07 10:25] luklew commented on #1260
Hello,

I am also getting issues with tokens, but on safari / chrome iOS devices only. When I attempt to login it goes into an infinite loop where it's trying to redirect to Microsoft login page and my redirect URL and them back to Microsoft login etc... It seems to happen around 50% of the time, sometimes it logs in no problem .

[2020-04-07 11:25] #1461 closed

[2020-04-07 12:59] ryandegruyter commented on #1035
We are experiencing this issue with a select few users.
Session state is not persisted resulting in a mismatch.

"@azure/msal-angular": "0.1.4",

Any idea's what the cause might be?

[2020-04-07 13:08] kemins commented on #1260
agree) probably we will try with a custom approach.

[2020-04-07 13:29] ryandegruyter commented on #1468
We are experiencing this issue with a select few users.
Session state is not persisted resulting in a mismatch.

"@azure/msal-angular": "0.1.4",

Microsoft Edge

Any idea's what the cause might be?

[2020-04-07 13:39] m4ss1m0g commented on #1468
I notice two things:
1.  On debug (vue serve) it working properly with Firefox but when transpiled with webpack the problem occurs. Maybe a Time problem ? When debugging is slightly more slow than compiled.
If I add a `setTimeout` it working.
2. Occurs with Firefox `InPrivate` window

I try to debug and if I have more clues I drop a comment.

Thanks.

[2020-04-07 13:43] jonenst commented on #127
hi @jasonnutter , thanks for taking the time to answer. I still can't the redirect to work :(
could you please send the link to the exact code of the sample react app ? I would like to try it there.

Below is my setup, did I misunderstand one of your instructions ? Thanks in advance

Here's what I have:
- edit /etc/hosts to have foobar.com resolve as 127.0.0.1 (not sure if localhost was allowed as

[2020-04-07 14:04] jonenst commented on #127
Ok, just got it to work, using a personal account and the /common tenantid and v2.0 . Do you know the exact restrictions ...? Thanks in advance.
Jon

[2020-04-07 17:16] jasonnutter commented on #1369
@satish1597 Sorry, yes I meant `beta.0`.

[2020-04-07 17:31] jasonnutter commented on #127
Great, so sounds like you need to use `/common` in addition to the list of requirements above.

[2020-04-07 18:51] jasonnutter commented on #1260
@kemins @emadalsous @luklew Can you please confirm whether or not third-party cookies are blocked? It is known that the library will not work if third-party cookies are disabled (e.g. via Safari ITP).

[2020-04-07 20:20] jasonnutter commented on #1420
@tschmidt01 Apologies for the delay. Yes, this does look like expected behavior. I am looking into providing built in error handling (to invoke interactive methods) for the Interceptor to help with situations like this.

For now, you could add error handling at the place where you make the API request, and then when interaction in completed, make the API request again. I realize this isn't optimal

[2020-04-07 20:41] mayank1214 commented on #560
I have a similar problem. It generates v1 token on local machine (works fine) however It generates v2 token on server with same source code. Any suggestion on possible solution?

[2020-04-07 20:51] eeskildsen commented on #1167
@jakehockey10 For me, there did end up being a problem module: [`Ng2SmartTableModule`](https://akveo.github.io/ng2-smart-table/). I had to remove it. Then the interceptor did fire in feature modules, even without adding it to those modules. So maybe `Ng2SmartTableModule` re-imports `HttpClientModule`, and that's what broke it.

That said...MsalInterceptor still isn't really working for me. All my

[2020-04-07 22:18] #1447 closed

[2020-04-07 22:48] sangonzal opened #1473 "Move default header generation from msal-common to msal-node"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Type
- [ ] Bug
- [x] Feature
- [ ] Enhancement
- [ ] Tooling
- [ ] Documentation
- [ ] Samples
- [ ] Other (please

[2020-04-07 23:31] jasonnutter commented on #1464
@graphicsxp Which MS graph endpoints are you making requests against? The `profile` scopes only gets you an ID token, and you can't use an ID token against MS graph endpoints (or for your own custom APIs), you need to use the documented scopes for each endpoint (or custom scopes for custom endpoints).

[2020-04-08 00:12] #1295 closed

[2020-04-08 07:36] ssuvorov opened #1474 "[Help wanted] Redirect flow + react-router"
## Hey, I'm submitting a...
- [x] Documentation issue or request
- [x] Help wanted

## Library Name
- [x] msal.js@^1.0.0
- [x] create-react-app
- [x] react-router-dom@^5.1.2

I've created a repo based on **[react-sample-app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/react-sample-app)** which uses redirection for login. But I spent a few days just trying to

[2020-04-08 09:15] GuillaumeBAECHLER commented on #1241
I was having the same issue and using ```forceRefresh:true``` didn't seem to work. I ended up only refreshing the id_token by calling ```acquireTokenSilent``` and passing the clientId as the only scope in the Authentication Parameters.

[2020-04-08 11:11] jukvaa opened #1475 "MsalInterceptor renews token but Authorization header is missing from intercepted call"
## Library
- [x] `msal@1.2.2`
- [x] `@azure/msal-angular@1.0.0-beta.4`
- [x] `@angular@9.0.1`

## Framework
Angular 9

## Description
We have angular front and are using @azure/msal-angular@1.0.0-beta.4. After an hour after login when token expires, next api calls fails, because it has null in Authorization header:

`Authorization: Bearer null`

Renewal itself seems to work because api calls after

[2020-04-08 12:24] GerritPlehn commented on #779
Hello, I have been trying to figure this out for some days now, until I found this issue. As I gather from the roadmap you linked, this hasn't been and won't be worked on for a while. @johnnliu have you found a workaround for this, or does anybody else have any information on how one could implement this by themself?

[2020-04-08 13:25] arunprasathv commented on #1241
I did the same too.

[2020-04-08 13:53] zlaja1983 opened #1476 "Angular 9 - AcquireTokenSilent keeps redirecting within custom interceptor"
We are working with Angular 9 SPA and have integrated MSAL library "@azure/msal-angular": "1.0.0-beta.4"). We are using Azure B2C user flows to authenticate the users. Initially, the users logs in by invoking loginRedirect with
`{           authority: environment.B2C_SIGNIN_URL,
            state: redirectUrl ? redirectUrl : '/home',
            redirectUri: environment.B2C_REDIRECT_URL
}`
So far

[2020-04-08 14:38] josh-manton opened #1477 "ClientAuthError: Could not parse cache key"
I am working with v2 of msal in  msal-common-known-athroities branch for the b2c support. When I trigger a logout I get the error below.

@tnorling  - Any ideas why this would happen?

ClientAuthError: Could not parse cache key. Cache key: msal.81480e89-a5ac-4fce-a464-211f724e99ef.request.params
    at ClientAuthError.AuthError [as constructor] (http://localhost:3000/static/js/15.chunk.js:432:24)

[2020-04-08 15:19] asanchezfe commented on #1218
@jasonnutter updating info: I saw that was apparently only happening on some environments.
I think this happens: in environtments when API is on same host, API is not defined under the `protectedResourceMap` map so the MsalService `getScopesForEndpoint` method is returning clientId as only scope and this causes to get an ID token... Don't should it use all `consentScopes ` by default?

[2020-04-08 16:18] jasonnutter commented on #1218
No, because `consentScopes` could include scopes that span multiple resources. Does adding the API to `protectedResourceMap` fix it for you?

[2020-04-08 17:25] andrantis commented on #1001
I'm experience a similar issue. I'm using `loginRedirect()` and I get this in the console `Redirect Success:  {uniqueId: "", tenantId: "", tokenType: "", idToken: null, idTokenClaims: null, …}`

The scenario is when a user is not assigned to the app. I would expect that instead of the select user screen you get a screen saying the user doesn't have permission to access the app. Instead I get redir

[2020-04-08 17:50] andrantis commented on #1287
@jasonnutter Shouldn't the above case be handle at the Idp level? Instead of the login/select user screen, have a screen saying you don't have access to the app or you haven't been assigned to the app. Is there a way to set that up?

[2020-04-08 19:48] luklew commented on #1260
@jasonnutter It seems to be intermittent, sometimes it works on the same device / browser, and sometimes it will go into a infinite loop of calling login.microsoft and redirecting to my app. I have a video I can show you , or maybe jump on a call with you to try and demonstrate my code setup to see if you can find any issues with it ?

[2020-04-08 19:55] tnorling commented on #1477
@josh-manton B2C for msal 2.0 is not yet supported and this branch is still a work in progress. Additionally, the B2C service does not yet support auth code in browsers so I'm curious how you were even able to sign in. Can you provide more details about your application?

[2020-04-08 20:03] jasonnutter commented on #1260
@luklew A video and a Fiddler trace would be helpful, can you please email those to me? Thanks!

[2020-04-08 21:28] tnorling commented on #1474
It is possible to call ```loginRedirect()``` from any page. Please set ```auth.navigateToLoginRequestUrl: true``` in your main configuration and pass the url you would like the user to end up on as the ```redirectStartPage``` parameter passed into ```loginRedirect()```. The reason you are getting this error is because you are not setting the ```auth.redirectUri``` parameter and it is defaulting to

[2020-04-08 21:34] luklew commented on #1260
@jasonnutter Sent an email to you. Thanks!

[2020-04-08 21:34] tnorling commented on #1470
Yes for B2C you need to pass custom scopes, which you need to create in the app portal beforehand.

[2020-04-08 21:44] tnorling commented on #1462
No msal.js does not support saml, it implements the OAuth2.0 spec

[2020-04-08 21:44] #1462 closed

[2020-04-08 21:48] tnorling commented on #1458
This is not currently supported, but there is a feature in consideration that will allow fetching the openid-configuration to be configurable. Currently the AAD claims mapping is in public preview, after it is released we will look into supporting this in msal.js

[2020-04-08 21:48] #1458 closed

[2020-04-08 21:51] tnorling commented on #1457
We do not officially support on-premise ADFS in msal.js but if you want to try it out with the existing library and let us know specifically what issues you are facing we can look into it.

[2020-04-08 21:56] tnorling commented on #1450
Can you confirm if there are multiple accounts currently signed in or if you are providing a login_hint? This error occurs when the library cannot determine which user to acquire the token for. When you get this error please call either ```acquireTokenPopup()``` or ```acquireTokenRedirect()```

[2020-04-08 21:59] tnorling commented on #1448
Thanks @JamesBream for answering this. @ranshine We hope this answers your question.

[2020-04-08 21:59] #1448 closed

[2020-04-08 22:15] krytical commented on #1457
Thanks for the reply!

I guess if MSAL doesn't support on-premise ADFS, I should be going back to ADAL. Getting the access token and passing that to an API call worked using ADAL.

From the attempts I've been making using MSAL, I think I was mainly having issues with the authority and what scopes I should be passing but since MSAL doesn't support on-premise ADFS that would be the issue.

My config

[2020-04-08 22:41] sameerag opened #1481 "[msal-node] Support MSER Telemetry"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Feature

## Source
- [ ] Internal (MSAL.js team)

## Description
Support MSER Telemetry in `msal-node`

## Priority
End of Q4 (June)

## Acceptance Criteria

1. MSER Dashboards are up for `msal-node` usage
2. Unit Tests

[2020-04-08 22:42] tnorling commented on #1457
You can review this [document](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-adfs-support) for more information. Currently, msal.js _should_ support scenario 1, where the ADFS instance is federated with AAD. In this case you would pass "https://login.microsoftonline.com/common" to the ```authority``` parameter and it would authenticate the same way an AAD authority would

[2020-04-08 23:35] jasonnutter commented on #1287
@andrantis Many errors are handed back to the application to handle, and I'm not familiar with a way to configure that behavior, unfortunately.

[2020-04-08 23:40] #1403 closed

[2020-04-09 00:00] jasonnutter commented on #1001
@andrantis That doesn't seem right, can you debug `handleRedirectAuthenticationResponse` in `UserAgentApplication` and see why MSAL might think the response was successful?

[2020-04-09 00:20] jasonnutter commented on #1035
@jarodsmk Can you please try `msal@1.3.0-beta.1` and let us know if you still have that error?

@ryandegruyter Can you clarify what you mean by that? Not persisting in local storage? And which version of Edge? And are they using InPrivate by chance?

[2020-04-09 00:26] jasonnutter commented on #1301
`msal@1.3.0-beta.1` is available with a fix for this issue, please let us know if it is still a problem. Thanks!

[2020-04-09 00:26] jasonnutter commented on #1198
`msal@1.3.0-beta.1` is available with a fix for this issue, please let us know if it is still a problem. Thanks!

[2020-04-09 00:26] jasonnutter commented on #1095
`msal@1.3.0-beta.1` is available with a fix for this issue, please let us know if it is still a problem. Thanks!

[2020-04-09 00:36] jasonnutter commented on #1437
@giovannimele Generally speaking, for this error we recommend calling `acquireTokenPopup` or `acquireTokenRedirect` to resolve. I realize that isn't possible directly using the built-in Guard and Interceptor, so for now (until we enhance them to provide better error handling), you could look at creating a copy of the existing Guard/Interceptor and having them invoke those methods when there is an

[2020-04-09 02:31] krytical commented on #1457
Scenario 2 is closer to what I'm trying to attempt right now. I will most likely go back to ADAL as it supports communicating directly with our on-premise ADFS. My React app is purely just a front end application that makes API calls to a separate .NET 4.5.2 web API project so I cannot use MSAL.NET.

We are currently using ADFS 2019 so hopefully, MSAL.js will support direct communication with on-p

[2020-04-09 05:01] chris-gunawardena opened #1483 "When logging in after resetting password: "Uncaught AuthError: Unexpected error in authentication: Hash does not contain state. (AuthError.ts:26 )"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-04-09 05:16] chris-gunawardena opened #1484 "Uncaught AuthError: Unexpected error in authentication.: Hash does not contain state."
## Library
- [x] `msal@1.2.2`
**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (React v16 but auth code is vanilla js).

## Description
After resetting the password and redirecting back to application, get a blank page wit the following in the console:

AuthError.ts:26 Uncaught Aut

[2020-04-09 06:30] jarodsmk commented on #1035
@jasonnutter Sure thing 👌 Will bump it and see what happens in the upcoming days!

How I've been handling it for now is catching the exception and forcing the user to login again, resulting in a double login at times but atleast didn't leave them hanging

[2020-04-09 06:31] giovannimele commented on #1437
@jasonnutter Thank you for your reply. To resolve this problem we already implemented your proposed solution, even if it means that every hour, we have the login popup appearing and disappearing briefly.
Do you have an ETA for the resolution of this problem?

Regards

Giovanni

[2020-04-09 06:32] sam-bulkley commented on #1000
@deasems I stumbled through here with precisely the same error. If it's useful for anyone (@garrettm ?) the following workflow is functional for folks playing with this release:

1. `.loginPopup()` is requesting a token for all scopes in `[ scopes ]`, which does seem like unexpected behavior (**Unexpected No. 1**). The flow is here: [loginPopup](https://github.com/AzureAD/microsoft-authentication-

[2020-04-09 08:09] ssuvorov commented on #1474
@tnorling magic! 👍Thank you a lot!
I'd wait till the token expires and check how it behaves in this case.
- is it possible to invalidate the token somehow for testing reasons? Clearing the session storage helps only with page reloading.

[2020-04-09 09:57] suresh777 commented on #1290
Token renewal working in msal@1.1.3 version. Why it is not working with latest msal@1.2.2 version

[2020-04-09 12:45] sameerag commented on #1169
@frejsoya I am checking in that I did not forget about this. Currently heads down in [msal-node] development and closing on some deadlines there. I should be able to spend some time in the coming weeks on this.

As I would need some help in developing the sample, can you please email me sameera.gajjarapu@microsoft.com and we can kick start there? Once we establish this is working, I will publish t

[2020-04-09 14:23] josh-manton commented on #1477
I saw the pull request to bring msal-common-known-athroities into the default branch. I thought i'd give it a try. If you are saying i'm wasting my time, I'll hold off. I was able to go thought the login flow using the redirect. I see that it is maintain state in the local storage.  The callback is triggered. I have not yet validated the login state.  You can close the ticket.

[2020-04-09 16:50] tnorling commented on #1483
Closing as duplicate

[2020-04-09 16:50] #1483 closed

[2020-04-09 17:02] tnorling commented on #1477
No worries, there's a few pieces that still need to fall into place for B2C to be supported, this PR being one of them. Rest assured, it is coming soon. We appreciate your patience!

[2020-04-09 17:02] #1477 closed

[2020-04-09 17:43] jasonnutter commented on #1437
@giovannimele We don't have an ETA yet, unfortunately.

[2020-04-09 17:46] jasonnutter commented on #560
@mayank1214 Can you open a new issue please? Thanks!

[2020-04-09 18:16] tnorling commented on #1484
@chris-gunawardena There is a known issue with the forgot password flow in a sign-up/sign-in policy due to the fact that the library does not currently support multiple policies. We apologize for the inconvenience.

You can follow these issues [1245](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1245), [9](https://github.com/Azure-Samples/active-directory-b2c-javascript

[2020-04-09 18:16] #1484 closed

[2020-04-09 18:30] tnorling commented on #1474
Unfortunately, there is not. You can submit feedback [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19474918-invalidate-jwt-token) if this is something you would like to see.

Closing as this has been answered, but feel free to open a new ticket if you have any other issues

[2020-04-09 18:30] #1474 closed

[2020-04-09 18:46] tnorling commented on #1457
@krytical I am not aware that a date has been set for ADAL deprecation yet but ADAL is no longer being actively developed outside of security related fixes. We hope to support this in MSAL before ADAL is deprecated.

Closing as this has been answered but you can follow issue #99 for updates. Thanks!

[2020-04-09 18:46] #1457 closed

[2020-04-09 19:16] kemins commented on #1260
@jasonnutter Thanks for looking,
Third-party cookies should be enabled, IMHO I guess it's somehow connected with consentScopes.

![image](https://user-images.githubusercontent.com/3338117/78931682-fc0f9800-7aae-11ea-80e7-1262c91ba819.png)

From console:
-Error Error when acquiring token for scopes ....: ClientAuthError: URL navigated to is https://login.microsoftonline.com/...../oauth2/v2.0/author

[2020-04-09 19:29] jasonnutter commented on #1260
@kemins What happens if you open that url directly in its own tab?

Also, that redirectUri doesn't look correct, decodes to `httpjoolocalhostj4200o`, which doesn't seem correct.

[2020-04-09 19:55] garrettm commented on #1000
@pkanher617 sorry to bother you again, but are there any updates on when this might leave alpha?

[2020-04-09 20:00] pkanher617 commented on #1000
Hi all, sorry for the delay on updating this.

We have released a beta version of the library [here](https://www.npmjs.com/package/@azure/msal-browser). There are more detailed docs available in the README of the [repository folder](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser).

[2020-04-09 20:05] pkanher617 commented on #1000
@deasems You should be able to consent to multiple scopes in the login call. Could you try to use the beta version and see if you are still have the issue?

If you are having issue with this, please open a separate issue in Github. If you have, please link it here. I apologize if we haven't seen it yet. This may be an issue with the formatting of the scopes as well. Does this work in MSAL 1.0?

[2020-04-09 23:35] deasems opened #1487 "loginRedirect fails when multiple resources are specified for consent"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@^2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
React 16.12, though the issue occurs prior to loading any React libs or code.

## Description
I specify multiple resources in a `loginRedirect` call and the user is redirected back to the

[2020-04-09 23:37] deasems commented on #1000
@pkanher617 I updated my app to the beta (thanks for the improved docs) and can still reproduce the issue. I've opened #1487

[2020-04-09 23:40] sangonzal commented on #1473
#1482

[2020-04-09 23:51] sameerag commented on #1275
#1424

[2020-04-09 23:53] sameerag commented on #1273
#1471 is the second PR in the series to support this

[2020-04-10 00:00] sangonzal opened #1489 "[msal-node]Enable strict null checks in msal-common"
Please follow the issue template below.

## Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Enhancement

## Source
- [ ] Internal (MSAL.js team)

## Description
Enable strict null checks for msal-common

## Acceptance Criteria
Describe the conditions that must met for this work to be considered complete.

1. Enable strict null checks in tsconfig.json and ensure that all tests pass
2.
3.

[2020-04-10 10:52] ab0nent commented on #1097
Is there any update on this bug? Will it be fixed? Thanks.

[2020-04-10 14:51] roneesh commented on #701
I am also getting this issue in the latest version of Firefox. I have included ```storeAuthStateInCookie: true``` in my msal config.

My steps to reproduce are as follows:
1. Go to the login page of my signin user flow. A script on that page changes the forgot password link href so it points to my forgotpassword flow landing page.
2. Click forgot password link. navigate to the forgot password page

[2020-04-10 16:40] jasonnutter commented on #1097
@ab0nent We haven't had a chance to get to this, but we will at some point soon.

[2020-04-10 18:22] sameerag commented on #1097
We are working on this in the background, since some of the code needs to be rewritten or needs additional checks, we are taking an incremental approach. This will be updated once we have everything in place. FYI for future libraries, we are enabling this from the start.

[2020-04-10 19:50] sameerag opened #1491 "[msal-node][msal-common] Enable sub error codes support"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Feature

## Source
- [ ] Internal (MSAL.js team)

## Description
Enable sub error codes support in `msal-node`, Port #1348

## Acceptance Criteria

1. Unit tests and 100% coverage
2. Compatibility with `msal-browser`

[2020-04-10 19:54] sameerag opened #1492 "[msal-common] End-to-end common code works for `msal-browser` and `msal-node`"
## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Enhancement

## Source
- [ ] Internal (MSAL.js team)

## Description
`msal-common` is fractured for `msal-node` and `msal-browser` during the development phase. This PR is to fold the code for both libraries and ensure it works. This includes:
- Configuration
- Request
- Response
- Cache

## Priority
May end

## Acceptance Criteria

1

[2020-04-11 01:49] rjpruitt16 opened #1493 "Can I use this library if I need a refresh token, or do I have to write everything from scratch"
Can I use this library if I need a refresh token, or do I have to write everything from scratch

I am trying to build an email automation tool for microsoft outlook, and it seems your api only give access token. Maybe, you can add a link for those people in need of refresh token if you cannot use this library for microsoft.

[2020-04-11 07:58] StefanChristou commented on #701
FYI if you are experiencing this a dirty way around it is to wrap the line that inits MSAL in a try/catch and refresh the browser window when an error is caught. It's not great as a solution and has it's own risks but might help if you are experiencing a prod issue and need a short-term quick and dirty fix. The risk with this method is that if you could send your users into an infinite page-refres

[2020-04-11 18:08] jeverduzco commented on #701
In the beta (1.3.0-beta.1) version work fine for me.

[2020-04-12 11:14] suencien commented on #127
Hi guys! I still can't get it to redirect back to my site.

At OpenIdConnectAuthenticationOptions, I have the below option:
Authority = "https://login.microsoftonline.com/common/v2.0",
RedirectUri = "https://iluvrun.com/signin-oidc",
PostLogoutRedirectUri = "https://iluvrun.com"

And I have these two at Redirect URIs:
https://iluvrun.com/signin-oidc
https://iluvrun.com

After log out it's still st

[2020-04-12 13:17] jonenst commented on #127
In my case I needed a logout url different than the root. I used /logout.

Le dim. 12 avr. 2020 à 13:14, suencien <notifications@github.com> a écrit :

[2020-04-12 15:35] suencien commented on #127
Hmm.. does you logout page performs logout function?
The user has actually been logged out before going to the Microsoft page. I tried forwarding it to another page but it doesn't work either.
If possible I like the user to be just directed to the home page instead.

[2020-04-12 16:29] jonenst commented on #127
My /logout page doesn't do anything but redirect to /

It works only with a personal account

In addition to beeing declared as a reply URL, my /logout page is also the
sso logout url.

Le dim. 12 avr. 2020 à 17:36, suencien <notifications@github.com> a écrit :

[2020-04-12 16:34] suencien commented on #127
Hey I got mine working!

For me adding these two lines just logs the user out without having to go to the Microsoft log out page.

Request.GetOwinContext().Authentication.SignOut(Microsoft.AspNet.Identity.DefaultAuthenticationTypes.ApplicationCookie);
Request.GetOwinContext().Authentication.SignOut(Microsoft.Owin.Security.Cookies.CookieAuthenticationDefaults.AuthenticationType);

From: Jon Harper

[2020-04-13 01:57] fayejaye commented on #1172
Hi, I'm getting this same error in MS Edge using react-aad-msal package (v2.3.4).
**Unexpected error in authentication.: Hash does not contain state.**
Was #1172 ever merged in? or a workaround solution available?

[2020-04-13 05:37] diljithpc opened #1494 "MSAL Angular 8 SSO"
Hello Everyone,

I have been trying to add SSO for my Angular 8 app using MSAL library and Azure AD.
To an extend it is successful but my SSO page is coming in a popup window. Is it possible to load the SSO page without a popup window?

## Library
@azure/msal-angular
1.0.0-beta.4

Second to that, I'm having a web api as well in the same application.
How do I use MSAL to protect my custom Web API?

[2020-04-13 12:05] nmehlei commented on #1439
In case this is of interest, I tried to use msal-angular in an Ionic 5 project and initially it seemed to work, there were no error messages and when a route was executed with the MsalGuard route guard it correctly redirected to the Azure B2C login page and afterwards back to the Ionic application, thus completely as expected. Unfortunately after the redirect msalAuthService.getAccount() returns n

[2020-04-13 16:42] tnorling commented on #1493
@rjpruitt16 [Msal v2.0](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) is currently in beta and will provide you with a refresh token. Please feel free to try it out and let us know what you think! Msal v1.x does not support refresh tokens as it implements the Implicit Grant Flow.

[2020-04-13 17:36] rjpruitt16 commented on #1493
@tnorling thank you for the timely response

[2020-04-13 17:38] tnorling commented on #1494
@diljithpc You can use the ```loginRedirect()``` and ```acquireTokenRedirect()``` methods instead of the popup methods. You will need to register your web api in the Azure portal and then provide the relevant scopes to your MSAL instance. The samples directory in this repo has a few examples of how to use custom scopes.

[2020-04-13 18:01] #1493 closed

[2020-04-13 22:06] NechiK commented on #1476
@zlaja1983 Did you added your api endpoint to scopes?

[2020-04-13 22:18] andrantis commented on #1001
@jasonnutter looks like `handleRedirectCallback` gets an `authResponse` with only `state` in it. That causes to broadcast an `msal:acquireTokenSuccess` (I don't think this is right) and also execute `authOrTokenCallback` with a `null` as error and the `authResponse`.

[2020-04-13 22:59] hamiltonha commented on #1000
For all following this thread, please participate in our private preview next week! You will be able to test out enabling the auth code flow for SPAs in the azure portal. Fill out this form to be part of the preview: https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_XA414hlD9MhfBiqanxI2JUOElQMk1LUjNBWDY4R0w3MFlPR0FIMkxMVC4u
@deasems @garrettm  @samb-pd @markau @JamesBream @

[2020-04-13 23:11] pkanher617 commented on #1487
@deasems Sorry for the delay on this. I am working on improving the story for multiple resources and should be able to address this shortly.

[2020-04-14 03:27] PhineasJiang commented on #1035
Update package to msal@1.3.0-beta.1 fixed the issue, thanks.

[2020-04-14 08:46] Visinghr opened #1495 "acquireTokenSilent is always failing for the guest user."
Please follow the issue template below.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Type
- [ ] Bug
- [ ] Feature
- [ ] Enhancement
- [ ] Tooling
- [ ] Documentation
- [x] Samples
- [ ] Other (please

[2020-04-14 08:52] Visinghr commented on #1495
I was able to replicate this issue on the React Sample in dev branch.
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/react-sample-app

[2020-04-14 10:53] ryandegruyter commented on #1035
@jasonnutter we updated to 1.0.0beta4, seems to resolve the issue.

[2020-04-14 16:10] tnorling commented on #1233
@Nasicus Apologies for the delayed response. We recently released ```msal@1.3.0-beta.1``` which contains a fix for how we handle ```domain_hint```. Could you try to upgrade your msal version and let us know if this fixes your issue?

[2020-04-14 16:12] #1203 closed

[2020-04-14 16:42] tnorling commented on #1495
@Visinghr When acquiring tokens for guest users you will need to pass ```sid``` to your ```acquireTokenSilent``` call. This is an optional claim that will need to be enabled in your app registration. You can find more information [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#v10-and-v20-optional-claims-set)

[2020-04-14 17:49] Nasicus commented on #1233
Will do thanks (will need some time, since I actually need to wait until the token expires, so I get to the required screen - or is there any easy way to fake this via the local storage?)

[2020-04-14 17:56] EspressoBeans commented on #1324
My page is not being loaded within an iframe yet still throws the **Non-interactive error: block_token_requests** error.

[2020-04-14 18:13] unindented opened #1497 "How do I automatically sign in on page load using `@azure/msal-browser@2.0.0`?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I'm modifying the `VanillaJSTestApp2.0` sample to sign in on page load, without user interaction. This is the diff: https://github.com/AzureAD/microsoft-authentication-library-for-js/co

[2020-04-14 18:47] asanchezfe commented on #1218
Hi @jasonnutter, I have ensured now It works correctly, it was the config causing the clientId to be the single scope

[2020-04-14 19:58] harishreddypothula1993 opened #1498 "Issue with routing to Tenant Login View."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How do I setup my application to navigate to Tenant login page instead of Microsoft

[2020-04-14 21:31] jasonnutter commented on #1218
@asanchezfe Great, thanks for the update!

Closing.

[2020-04-14 21:31] #1218 closed

[2020-04-14 21:33] jasonnutter commented on #1324
@EspressoBeans We use a hidden iframe to acquire tokens, and this error occurs when we detect that the page used as the redirect uri for silent requests (which gets loaded inside the hidden iframe) is making calls to `acquireTokenSilent` on page load inside that iframe.

[2020-04-14 22:38] jasonnutter commented on #1035
Great, thanks for the updates!

[2020-04-14 22:39] pkanher617 commented on #1497
@unindented Could you explain your model a bit more? Are you attempting to (A) use an access token to acquire a resource on page load, or (B) are you trying to see if the user has an id token available?

If it is (A), then you can use the acquireTokenSilent method to fetch a token from the cache on page load, and if it fails you can use loginRedirect() with the same scope to trigger a login.

If i

[2020-04-14 22:45] jasonnutter commented on #1001
@andrantis Interesting. Can you try `1.3.0-beta.1` and see if it still occurs? We made some fixes to processing responses.

[2020-04-14 22:54] unindented commented on #1497
I'm attempting to trigger sign in as soon as the user loads the page, without the user having to click a button.

I'm doing what you say in (B), but the problem is that, when the login flow redirects back to my page, `getAccount()` is  still `null`, cause `authRedirectCallBack` hasn't fired yet, so I call  `loginRedirect` again, and I get stuck in a loop.

If you check the code in my fork of your

[2020-04-15 00:33] tnorling commented on #1498
@harishreddypothula1993 You can add ```authority: "https://login.microsoftonline.com/<tenant>"``` to your auth config when you initialize msal. More information on the different authorities and initializing msal can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications)

[2020-04-15 00:53] tnorling commented on #1233
Unfortunately invalidating a token is not currently possible. The best way to test the login screen once you've already logged in would be either to log out or to open an incognito window.

[2020-04-15 01:05] tnorling commented on #1498
You can also pass ```domain_hint: "yourdomain.com"``` to ```extraQueryParameters``` in your login request

[2020-04-15 01:53] jrmcdona opened #1500 "iframe usage in MSAL Angular 9+"
Is there a goal to not have to use iframe in MSAL.js?  Specifically MSAL Angular 9+ path?

If yes,  is that something being worked on already?

Thanks

[2020-04-15 02:15] tnorling commented on #1134
A fix for this, as described by @sameerag above, was included in ```msal@1.3.0-beta.0```. Please let us know if this issue is resolved.

[2020-04-15 05:07] Nasicus commented on #1233
It looks like you misread or misunderstand my issue. Because for the initial login screen, we never had or have a problem. On our login screen there is bascially a Google button an a Email button, if the user clicksthe google button he is redirected directly to the google login (this works). But when a relogin is  required (i.e. acquireTokenRedirct) is called then the user is redirected to the b2c

[2020-04-15 06:09] schalk-b opened #1501 "PKCE code verifier doesn't meet rfc7636 spec"
## Library
- [ ] `msal@1.2.1` or `@azure/msal@1.2.1`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Shouldn't the PKCE code verifier meet the rfc7636 spec?

Specifically in the spec it mentions

However, reviewing the code #1141 for the PkceGenerator I noticed a few things.

1. The code verif

[2020-04-15 07:11] jarodsmk opened #1502 "msal-angular@1.0.0-beta.5 imports fail"
## Library
- [x] `msal@1.3.0-beta.1`
- [x] `@azure/msal-angular@1.0.0-beta.5`

## Framework
Angular@8.2.3

## Description
When bumping `msal-angular` to `1.0.0-beta.5`, `BroadcastService` and `MsalService` can no longer be imported.

The path `@azure/msal-angular` doesn't resolve to a module in `node_modules`.

## Security
None

## Regression
Yes this worked before, when reverting to `@azure/msal-

[2020-04-15 07:14] jarodsmk commented on #1035
Seems to be good for me too, I upgraded to `msal@1.3.0-beta.1` and `msal-angular@1.0.0-beta.4` from the suggestions above 😎 I'll test it out on our different environments in the upcoming weeks and see if there's any changes.

I noticed that when bumping to the newer `1.0.0-beta.5` the imports for `BroadcastService` and `MsalService` couldn't be resolved anymore, I created a seperate ticket to trac

[2020-04-15 07:15] DaveBrickley opened #1503 "Removing Facebook results in error when using MSAL library"
## Library
- `@azure/msal@4.11.0`

## Framework

Xamarin Forms

## Description

I have need to call a validating API when signing up new users which means I had to turn to implementing a custom sign up

This all works now, but I have no need of the Facebook sign up option

However I am encountering an error when I try and remove it

I have carefully been through the process of editing the TrustFra

[2020-04-15 07:43] DaveBrickley commented on #1503
Apologies for putting this in the wrong place, can someone please move it to the appropriate sub?

[2020-04-15 11:52] alex-mason-jdas commented on #1134
I can confirm that this fix was a contributor in resolving our MSAL.js/B2C silent token renewal issue. We also had adjust our custom policy to persist some custom claims around our home realm discovery logic.

[2020-04-15 16:54] jasonnutter commented on #1500
MSAL v1 (which is used in MSAL Angular v1) implements the Implicit Flow, which uses iframes to acquire tokens. We are currently working on MSAL v2, which switches to the Auth Code Flow w/ PKCE. The Auth Code Flow uses fetch requests instead of iframes as the primary mechanism for acquiring tokens, however, there are still situation where iframes will be used. MSAL Angular will be updated to use MS

[2020-04-15 17:08] jasonnutter commented on #1502
@jarodsmk I'm having trouble reproducing this with the Angular 8 sample. Installed beta 5 from npm, and everything looks good. The [artifact on npm](https://registry.npmjs.org/@azure/msal-angular/-/msal-angular-1.0.0-beta.5.tgz) looks good as well, seems like everything is there. Are all the files there inside `node_modules/@azure/msal-angular`?

[2020-04-15 17:36] jasonnutter commented on #1468
@m4ss1m0g Can you please try `msal@1.3.0-beta.1` and let us know if the issue still occurs?

[2020-04-15 18:18] tnorling commented on #1233
Got it. For testing purposes you can try setting ```prompt:"login"``` in the request object sent to acquireTokenRedirect and either removing the token from the local storage or setting the ```expiresIn``` property to 0.

[2020-04-15 18:26] eynenad commented on #1260
Hi all,

I am also having the same issue for the renew token failed tue to timeout.
The problem is that it is only happening for the first time when I login, like it was renewing non existing token.

MsalGuard is not on the root of the redirectUri, my redirectUri is the root of my application, and it also does not have MsalGuard on it, but it redirects to the '/loading' screen, that screen does ha

[2020-04-15 18:33] Nasicus commented on #1233
I actually just logged in yesterday evening and refresh just now.

However I didn't get redirected to the google login scren, instead I got to the b2c page:

[code]

And in the console I could also see this error:

[code]

=> I now did a relogin (we just put the google button back to th b2c login page for now) and will check the same scenario again yesteray evening or so

[2020-04-15 18:33] emadalsous commented on #303
I got this error too for one of my project users. In my case, it was related to a cookies security configuration in the user's browser. I had to go to Settings --> Privacy and security --> Site settings --> Cookies and site data --> set Block third-party cookies to off.
If Block third-party cookies is on, it will block third party cookies, the authorization server can't be accessed in the applicat

[2020-04-15 18:41] mohsinonxrm opened #1504 "Get Access Token for a multi-tenant App using MSAL.js"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Scenario:
I have an Azure Function/API in tenant Azure AD "AB". The Azure Function is enabled for Authentication using System Managed Identity. Another App Registration is used to allow access

[2020-04-15 18:49] tnorling commented on #1233
So what I'm not seeing in the url you pasted above is the ```domain_hint``` parameter, this is why you are getting the b2c page and not the google page. Note that ```domain_hint``` will only be sent to interactive calls (redirect or popup), it is not supported for silent calls. Given that your session expired it is expected that the ```acquireTokenSilent``` call would fail. When you get an ```inte

[2020-04-15 20:05] Nasicus commented on #1233
Right. I could have sworn we already do that, but we didn't so I changed it and will update you tomorrow or so if it worked.

Thanks in advance!

[2020-04-15 21:40] anton-gorbikov opened #1505 "Infinite redirects after updating to MSAL 1.2.2"
## Library
- [x] `msal@1.2.2`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular

## Description
After updating to version 1.2.2 from version 1.2.1 acquiring token via redirects flow is broken (this flow is the only possible for Safari/iOS).

## Security
No

## Regression
Yes

I've investigated further and found that this bug can be related to

[2020-04-15 21:58] jakehockey10 commented on #1167
@eeskildsen

I completely missed this response, my apologies!

Here are my dependencies:

[code]

Since we are using the latest Angular, I can't use Augury to find out which one of these is doing it.  DevExtreme is the biggest dependency we have, but I can't fathom why they'd be using the HttpClientModule since they are a UI framework.  But I'm trying to find a way to not have to look at each one

[2020-04-15 22:10] jakehockey10 commented on #1167
@eeskildsen This was the best I could do in trying to find what might be injected HttpClient in their library that is 3rd party to me:

![image](https://user-images.githubusercontent.com/1821383/79393999-afefa800-7f33-11ea-9ff9-a77460b9b62d.png)

[2020-04-15 22:16] eeskildsen commented on #1167
@jakehockey10 Trial and error unfortunately. I literally commented out each module import, commented out the relevant HTML elements, rebuilt, and tested until it worked. Ugh.

Here's the weird part....The module that was the root cause for me, `Ng2SmartTable`, doesn't even import `HttpClientModule`. No results in their repo. No results in `node_modules` when I install `ng2-smart-table`. I have no

[2020-04-15 23:22] tnorling commented on #1505
@anton-gorbikov Can you first try upgrading to ```msal@1.3.0-beta.1```? We made some changes to the way msal handles redirects and this update fixed redirect loops other users were experiencing.

If this doesn't fix your issue, can you clarify in step 2 are you saying that the hash is not being stripped from the URL?

[2020-04-15 23:33] tnorling commented on #1470
Closing. Feel free to reopen if you have follow up questions.

[2020-04-15 23:33] #1470 closed

[2020-04-15 23:36] tnorling commented on #1446
@charles-chen-wtw Can you share more information about your ```auth``` configuration? Are you setting ```validateAuthority: false``` when using your b2c authority?

[2020-04-15 23:51] gavinbarron opened #1506 "I cannot pass ClientId as a scope to Azure B2C"
## Library
- [x] `msal@1.2.2` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React 16, but that's not at play in this instance

## Description
I am unable to use the clientId as a scope whe

[2020-04-16 00:20] thrixton commented on #993
This is confusing, especially since @azure/msal-angular is org scoped only (there is msal-angular but it's not owned by azuread).
Could you maybe mark msal deprecated and / or put a notice on the readme directing users to @azure/msal?
And make sure to publish @azure/msal first (note, it's currently behind, again :)).

Thanks 👍

[2020-04-16 01:10] jrmcdona commented on #1500
Thanks @jasonnutter .  I once saw the entire app loading with an iframe and it felt very heavy.  I was just always curious and thought I had heard with an non-iframe version might be a little more elegant.  But I understand there are challenges.  Greatly look for to MSAL v2.   I am using MSAL Angular 9 and MSAL.NET for a first party app here at Microsoft.  So it is great to see all the progress yo

[2020-04-16 01:50] schalk-b commented on #1501
I would be happy to take this one on and submit a PR if you want me to?

It's just a matter of implementing a binary encoder for the character set in the spec: [A-Z] / [a-z] / [0-9] / "-" / "." / "_" / "~"

[2020-04-16 05:45] andrantis commented on #1001
@jasonnutter Yes it still the same with `1.3.0-beta.1`. Am I setting up something wrong or my flow is wrong? I'm doing `acquireTokenSilent()` and if that fails then do `loginRedirect()`. It works fine if the user or group is assigned to the the enterprise application. But if the user/group is not part of the enterprise application, the only way I found to stop the infinite redirect loop is to look

[2020-04-16 07:14] shabbyrobe opened #1507 "Export BrowserAuthError constants somehow"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library

- [x] `@azure/msal-browser@2.x.x`

## Description

`BrowserAuthError` seems unavailable for importing (unless I'm missing something silly, of course), but it would be useful to be able to get access to the static constants somehow, in order to be able to compare against when usi

[2020-04-16 07:22] diljithpc commented on #1494
@tnorling Thanks for providing a solution. I tried to change it accordingly. But even loginRedirect() is showing in popup window. I have cleared cache as  well.

[2020-04-16 07:27] sergey-tihon commented on #1505
We've tried `msal@1.3.0-beta.1` and the issues is still there.

It looks like an issue in new `resetTempCacheItems` function.
- First `acquireTokenRedirect` works correctly, authenticate current user and set `msal|AquireTokenAccount` in local storage
- Then we request auth token for MS Graph and call `acquireTokenSiliently`, it fails because cookies are blocked, so we have to fall-back to `acquire

[2020-04-16 08:11] diljithpc opened #1508 "SPA using Angular 8 and .Net core Web API"
Hello everyone,

I have an application build using Angular 8 in the front end and .Net Core for Web API. The versions of both are mentioned below. I have created using the default template available for Angular and WebAPI project  in Visual studio 2019. Hence my Angular and .Net core part resides in the same project of a single solution.

I'm trying to bring SSO using Azure AD. For that I have reg

[2020-04-16 11:15] emadalsous commented on #1260
Hello eynenad,

You shouldn't redirect to the loading component until you have a valid user object with valid token. And you shouldn't redirect at all in the 2 cases:
1- When the screen is IFrame (your application is reloaded when the renew token or the login occurs but inside an IFrame)
2- When it is not an IFrame but the query string contains id token parameters (microsoftlogin redirect to your

[2020-04-16 13:19] jurisjansons commented on #1290
@jasonnutter Hello, I'm facing simmilar issue when trying to renew token. I'm currently using msal@1.3.0-beta.1. Authorization works fine, but when I need to renew token I get timeout error.

Here are some logs from msal:
`[MSAL] Thu, 16 Apr 2020 12:54:35 GMT:1.3.0-Verbose Token is not in cache for scope:66a74d60-dc9b-4289-8525-afa544135f73`
`[MSAL] Thu, 16 Apr 2020 12:54:35 GMT:1.3.0-Verbose rene

[2020-04-16 13:44] derisen commented on #1508
@diljithpc indeed you can. Please refer to the article [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis) and check out this sample [here](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi/tree/derisen).

[2020-04-16 13:44] #1508 closed

[2020-04-16 13:51] barisbikmaz opened #1509 "acquireTokenPopup does not save access token in local cache"
#607  Library
- `msal@1.2.2`

## Framework
-  `React v16`

## Description
Seems like UserAgentApplication.acquireTokenPopup does not save the accessToken in local cache. Is this desired behaviour?

When I call acquireTokenPopup and call directly afterwards acquireTokenSilent with the same scopes a network call happens.

## Regression
Did this behavior work before? Don't know

## Configuration
[cod

[2020-04-16 17:05] pkanher617 commented on #1501
@schalk-b Sorry for missing this PR. I would be happy to review a PR that you have submitted. Please give me some time today to review the PKCE generator code and I can get back to you with a more informed answer to your original question.

[2020-04-16 17:18] gpit2286 opened #1510 "@msal-browser doesn't copy type files correctly"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

[2020-04-16 17:46] pkanher617 commented on #1501
@schalk-b Thanks again for opening this issue.

As far as I can see, the lengths of the challenge and verifier that get generated are 43 characters. I used tests in the browser as well as reviewed the network traces in different browsers.

[code]

![codeChallengeScreenshot](https://user-images.githubusercontent.com/6913227/79488541-baab4b00-7fce-11ea-9598-a35fa0d242ce.png)

![codeverifierScreensho

[2020-04-16 18:48] zlaja1983 commented on #1476
That was it @NechiK. I just tested it at the correct scopes were missing.

[2020-04-16 18:48] #1476 closed

[2020-04-16 19:26] tnorling commented on #1494
@diljithpc Can you try setting ```msalAngularConfig.popUp``` to ```false```? Can you also share your config, relevant code snippets and any logs that might help us narrow down why this is happening? Have you tried to do any debugging on your own? ```loginRedirect()``` should not be opening a popup

[2020-04-16 20:06] cjancsar commented on #590
@sameerag Please re-open this as this is still an issue.

[2020-04-16 20:14] tnorling commented on #1506
```client_id``` is not actually a "real" scope in the same sense that the others are. Sending ```client_id``` as a scope tells the service that you are requesting an ```id_token```. The purpose of the ```loginRedirect``` and ```loginPopup``` methods, by design, is to get you an ```id_token``` so in this case it would be redundant to send ```client_id``` in the request. The scopes that you send to

[2020-04-16 20:26] gavinbarron commented on #1506
Thanks for the reply @tnorling.

I've subsequently discovered that the hellojs implementation was making a single combined request for an access_token and id_token via response_type=token%20id_token, and additionally setting an extra parameter required by the B2C customizations our partner has made.

Since doing a little refactoring on my end I'm able to get the Id token, which is all I need as ba

[2020-04-16 20:26] #1506 closed

[2020-04-16 21:11] riccardos77 commented on #1509
I have encountered the same problem. From a first analysis the problem seems to be in the updateCacheEntries method when invoked with the loginStartPage argument. In this case, setAccountCache is not invoked and, without putting the account in the cacheStorage, the saveTokenFromHash method does not persist the new token.
By moving the invocation of the setAccountCache method out of the else I get

[2020-04-16 21:19] oleksii-kostin commented on #1475
I`m experiencing this issue as well.
msal.interceptor.ts
[code]
response.accessToken is null, as now response is object

[2020-04-16 22:39] jasonnutter commented on #1475
@jukvaa @oleksii-kostin This is a known issue (ID token being retrieved instead of an access token), and we'll have a fix for this soon.

[2020-04-16 23:15] tnorling commented on #1505
@sergey-tihon Thanks for the additional info. The ```resetTempCacheItems``` is necessary and expected. I am more interested in why ```acquireTokenSilent``` is not picking up the cached token from the first ```acquireTokenRedirect``` call. Can you confirm that ```msal|AcquireTokenAccount``` is being set in local storage after the first redirect call and before the silent call? #1509 seems to be hav

[2020-04-16 23:17] tnorling commented on #1509
@barisbikmaz @riccardos77 Thanks for bringing this to our attention. I was able to recreate this on my end. I will discuss with the team and see if we can get a fix out soon.

[2020-04-17 00:12] tnorling commented on #1359
@fezproof Are you still having this issue? If so, can you try upgrading to ```msal@1.3.0-beta.1```? This version contains some fixes to how msal handles redirects.

[2020-04-17 01:36] schalk-b commented on #1501
@pkanher617 Thanks for spending your time on this issue.

You are right that when calling generatePkceCodes(); the verifier is actually 43, as I only just noticed  it encodes the verifier in base64. However, it does the base64 encoding, after running the random octet sequence through bufferToCVString.

To this is currently what happens:
1. Random 32 octet sequence
    buffer = [21, 231, ..., 232]

[2020-04-17 01:38] schalk-b commented on #1501
Sorry for this very long an ugly test, but this shows that the current bufferToCVString method that gets called removes some of the random, by not encoding correctly.

[code]

[2020-04-17 01:40] schalk-b commented on #1501
You will see the distribution all the way through to 5 is about 0.0156 and then 6 onward is 0.0117.

[2020-04-17 05:48] captain-clean commented on #1222
@jasonnutter, yes this is still an issue with the latest MSAL Angular and MSAL version.

Browser: Chrome / Firefox (latest versions)
MSAL: 1.3.0-beta.1
MSAL Angular: 1.0.0-beta.5

Our routes are protected by MsalGuard and whenever they try to renew the token silently, the same issue as already mentioned can be observed. Right now the only way for us to "resolve" it is by clearing the browser cache

[2020-04-17 12:41] skyovi opened #1513 "guest users are getting error: aadsts50020 User account 'xyz@company.com' from identity provider 'mail' does not exist in tenant Microsoft. Library msal v1.1.3"
## Library
- [ ] `msal@1.1.3` or `@azure/msal@x.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
No Framework.

## Description
Some of the guest users of the app, are getting error: aadsts50020 User account 'xyz@company.com' from identity provider 'mail' does not exist in tenant Microsoft.
AAD Audit Log:

**Sign-in error code** 50058

Failure re

[2020-04-17 15:42] sergey-tihon commented on #1505
I've reproduces the same behavior in new Edge with disables 3rd party cookies
<img width="894" alt="image" src="https://user-images.githubusercontent.com/1197905/79586730-30500d80-80da-11ea-930d-f79367bd09a2.png">
Here is MSAL console logs between redirects
<img width="1604" alt="Presales_Portal" src="https://user-images.githubusercontent.com/1197905/79586278-8f615280-80d9-11ea-8813-61e09f3db3be.p

[2020-04-17 16:29] tnorling commented on #1505
@sergey-tihon It is a known issue that ```acquireTokenSilent``` will fail with 3rd party cookies disabled. Unfortunately this is not something we are able to fix at this time. It looks like what is happening here is that the ```acquireTokenRedirect``` call is not caching the token and because of this, in combination with the 3rd party cookies disabled, ```acquireTokenSilent``` is failing, causing

[2020-04-17 16:38] sergey-tihon commented on #1505
Is it known issues of msal 1.2.2+ ?

Out implementation works as expected with `msal@1.2.1` (in Safari and in Edge with disables 3rd party cookies) but goes into infinite loop when we upgrade to `msal@1.2.2` or `msal@1.3.0-beta.1`.

[2020-04-17 16:54] tnorling commented on #1505
It has always been an issue. You can read an explanation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari)

I suspect the reason it was working in a previous version was because your ```acquireTokenSilent``` call was merely returning the token acquired from the previous ```acquireTokenRedirect``` call. From the information you have given me it so

[2020-04-17 17:38] tnorling commented on #1498
Closing as this has been answered. Feel free to reopen if you have follow up questions.

[2020-04-17 17:38] #1498 closed

[2020-04-17 17:39] tnorling commented on #1495
Closing as this has been answered. Feel free to reopen if you have follow up questions.

[2020-04-17 17:39] #1495 closed

[2020-04-17 17:47] tnorling commented on #1422
@mindingdata A potential fix for this was included in ```msal@1.3.0-beta.1``` Can you try upgrading and let us know if this issue has been resolved?

[2020-04-17 17:54] tnorling commented on #1406
@BenjaminBorlet Fixes for ```handleRedirectCallback``` were included in ```msal@1.3.0-beta.1``` and ```@azure/msal-angular: 1.0.0-beta.5``` Can you try upgrading your msal version and let us know if this issue is resolved?

[2020-04-17 18:08] #1397 closed

[2020-04-17 18:25] tnorling commented on #1250
@system47 Apologies for the delayed response. You can provide the graph scopes you need to consent to in your login request. This will do a pre-consent and allow you to call ```acquireTokenSilent``` to acquire the access tokens silently without needing a second redirect.

Closing this as the original question has been answered but feel free to open a new issue if you have additional questions.

[2020-04-17 18:25] #1250 closed

[2020-04-17 18:52] jasonnutter commented on #1500
@jrmcdona It is possible to use a dedicated redirect page (with no content), which alleviates the concern of reloading your entire application in the iframe/popup. As noted, there will still be iframes in v2, they will just be used less often.

Thanks for the feedback. Closing, as no further action at this time.

[2020-04-17 18:52] #1500 closed

[2020-04-17 18:59] tnorling commented on #1445
@winperec This [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes) suggests AAD sessions are valid for 24 hours and get renewed each time the session token is used within its validity period.

Closing this issue but feel free to reopen if you have follow up questions.

[2020-04-17 18:59] #1445 closed

[2020-04-17 20:24] HanhNguyenAtChubb opened #1515 "Login redirect loop msal 1.2.0"
## Library
- [ ] `msal@1..2.0` or `@azure/msal@1.x.x`

## Framework: Angular 6

## Description
When application deploy to QA,  navigate to home page redirect to login, after login, it goes back to home page for one second and then redirect to login again.
It works fine with localhost.

## Security
Is this issue security related?

## Regression
Did this behavior work before?

## Configuration
Pleas

[2020-04-17 22:00] tnorling commented on #1450
Closing as this has been answered. Please reopen if you have follow up questions.

[2020-04-17 22:00] #1450 closed

[2020-04-17 22:09] tnorling commented on #1300
Looks like docs have been updated. Closing, but feel free to reopen if you're still having issues

[2020-04-17 22:09] #1300 closed

[2020-04-17 22:12] tnorling commented on #1257
Closing due to no response. Feel free to reopen if this is still an issue.

[2020-04-17 22:12] #1257 closed

[2020-04-17 22:15] tnorling commented on #1243
Closing due to inactivity. Feel free to reopen if this is an MSAL.js issue

[2020-04-17 22:15] #1243 closed

[2020-04-17 22:18] tnorling commented on #1200
Closing due to inactivity. Please reopen if this is still an issue.

[2020-04-17 22:18] #1200 closed

[2020-04-17 22:20] tnorling commented on #1044
Closing due to inactivity. Please reopen if this is still and issue.

[2020-04-17 22:20] #1044 closed

[2020-04-17 22:20] tnorling commented on #1059
Closing due to inactivity. Please reopen if this is still and issue.

[2020-04-17 22:20] #1059 closed

[2020-04-17 22:22] tnorling commented on #1074
Closing due to inactivity. Please reopen if this is still and issue.

[2020-04-17 22:22] #1074 closed

[2020-04-17 22:24] tnorling commented on #1122
Closing due to inactivity. Please reopen if this is still and issue.

[2020-04-17 22:24] #1122 closed

[2020-04-17 22:26] tnorling commented on #1242
Closing as the question was answered. Please reopen if you still need assistance.

[2020-04-17 22:26] #1242 closed

[2020-04-17 22:53] tnorling commented on #1513
@skyovi Can you specify, is this occurring to users that previously worked? There is a known issue with the service related to the length of the username for guest accounts. Can you also try sending ```sid``` instead of ```login_hint``` to your ```acquireTokenSilent``` and see if that resolves your issue?

[2020-04-18 00:39] jasonnutter commented on #1290
@jurisjansons It looks like the redirectUri you used for that request is invalid, in that it is not registered in the Azure Portal for that application. Add `http://localhost:3000/auth.html` to the list of redirect URIs in the Azure Portal and try again.

[2020-04-18 00:42] jasonnutter commented on #1222
@captain-clean What happens when you open the `login.microsoftonline.com` url in its own tab? Also, if you share the `client-request-id` with me, I can look up server logs for the request.

[2020-04-18 00:52] jasonnutter commented on #1001
@andrantis Ah, are you invoking `loginRedirect` for all `acquireTokenSilent` errors? You should be checking the error code and only invoking one of the interactive methods if the error is a user interaction error. You should not be invoking `loginRedirect` for an error (such as group assignment) that is only resolvable by admins.

[code]

[2020-04-18 01:20] jasonnutter commented on #993
@thrixton Sorry about that, `@azure/msal` has been updated with 1.2.2 (1.3.0 will be released soon so we'll just do the stable release for that).

Due to the much larger amount of users on `msal` vs `@azure/msal` (107k vs 4k weekly downloads), we are inclined to stay with `msal` as the primary package. We haven't decided yet about `@azure/msal` once `@azure/msal-browser` is GA.

[2020-04-18 03:17] skyovi commented on #1513
@tnorling  Yes this is occurring to user that previously worked.  I will try with sid parameter

Also, If it is known issue with length of username for guest account. How it was working earlier? and It is working perfectly now for users whose username length more than the impacted users.

[2020-04-18 06:32] skyovi commented on #1513
@tnorling  how can I get sid value?

[2020-04-18 07:14] captain-clean commented on #1222
Opening the ```login.microsoftonline.com``` url in its own tab redirects to our site with the ```id_token``` as part of the request parameters. Though it doesn't seem that it's parsed by the msal library.

The ```client-request-id``` for the most recent, unsuccessful request is: ```28e1d54b-004a-4239-a77c-b108706daee7```

[2020-04-18 18:01] FlyRocketDrones opened #1518 "Could Not Resolve Endpoints & LoginPopup"
Hi,

I updated auth-utils.js lines 63 and 64 with my clientid and authority but I am still getting this error:
`Error: Error: could not resolve endpoints. Please check network and try again.`

I do have a working application, so when I login on that app then come back to this, then it displays my user info but if I sign out and click sign in within this app it gives that same error.

Also, how can

[2020-04-19 14:54] MarcHochleutner-Koellisch commented on #1095
works!

[2020-04-19 17:14] deasems commented on #1497
I have the same requirement.

Currently I'm looking at msal's storage to see if `state` exists as an indicator that we're in the middle of the login process but that's obviously not a preferred approach.

[code]

[2020-04-19 23:30] sameerag commented on #1134
Thanks @alex-mason-jdas. Closing the ticket.

[2020-04-19 23:30] #1134 closed

[2020-04-19 23:48] sameerag commented on #590
Can you please open a new issue? Our triage engineer will be able to respond faster that way.

[2020-04-20 02:18] msardi23 commented on #1248
Any update on this issue? This is kinda critical if MSAL does not work correctly on iOS and MacOS devices...

[2020-04-20 06:08] Nasicus commented on #1233
Nice! Can confirm this is now fixed. Not even sure if the problem was the version upgrade or just that I didn't pass the domain hint properly?

Thanks!

[2020-04-20 07:08] jurisjansons commented on #1290
@jasonnutter thank you, that resolved my timeout issue, had it added with `https` not `http`

[2020-04-20 07:15] suresh777 commented on #1290
@jasonnutter right now my project redirect uri http://localhost:3000/, you are saying that change to http://localhost:3000/auth.html. Any difference between these two redirect uri.

[2020-04-20 07:30] jurisjansons commented on #1290
@suresh777  AFAIK `auth.html` is used to open webpage on your domain withour loading in any scripts to store a new cookie, if you use plain `http://localhost:3000/` then, I think you need to handle that it doesn't call another authorization cycle witch can result in loop, I think. I'm using `react-aad-msal` to handle that for me and it was written in theirs documentation

[2020-04-20 07:38] suresh777 commented on #1290
Thanks, in auth.html what code should i write. Do you have any auth.html sample

[2020-04-20 07:45] jurisjansons commented on #1290
@suresh777 it's empty `.html` file, empty file with `.html` as extenstion, didn't even add any html code in it. I have placed it in public folder (next to index.html) so I can call it without rendering react. [Here](https://github.com/syncweek-react-aad/react-aad/tree/master/samples/react-javascript) is sample from `react-aad-msal`

[2020-04-20 08:09] lborghsvanin opened #1521 "prompt=select_account not working for personal Microsoft accounts"
## Library
- [x] `msal@1.2.2`
- [x] `@azure/msal-angular@1.0.0-beta.5`

## Framework
Angular v9 and another plain html, css & javascript project without framework.

## Description
We have set the prompt option to "select_account". This works fine for corporate Microsoft accounts but personal Microsoft accounts are unable to select their account and are automatically logged in. Once you login with

[2020-04-20 09:35] suresh777 commented on #1290
Thanks @jurisjansons , I will try

[2020-04-20 14:44] 2191116913 opened #1523 "我"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

## De

[2020-04-20 15:02] #1233 closed

[2020-04-20 15:13] tnorling commented on #1518
@FlyRocketDrones Please use the issue template when opening issues. It helps us address your issue more quickly.

Can you confirm which version of msal you are using? Can you also verify that you set ```validateAuthority: false``` in your auth config? When using B2C in msal versions prior to 1.3.0 you must set this. As for your 2nd question, you have 2 options when it comes to signing in; you can

[2020-04-20 15:42] tnorling commented on #1523
Closing as no information is given. Please open a new issue with the template filled in

[2020-04-20 15:42] #1523 closed

[2020-04-20 16:52] jasonnutter commented on #1290
Quick note, we found a regression that will be fixed in `1.3.0` by #1516, which might be the root cause of this issue.

[2020-04-20 17:11] jasonnutter commented on #1248
See #1000 for updates on the next version of MSAL.js, which will switch to the Auth Code Flow, which will mitigate issues caused by Safari ITP in most scenarios. It is also available in beta on npm: https://www.npmjs.com/package/@azure/msal-browser

[2020-04-20 17:27] HanhNguyenAtChubb commented on #1505
Here are some behaviors I noticed when Azure redirects back to your site:
1> Local website: msal.id token is set to cookie since storeAuthStateInCookie: true
           this.cookieService.get('msal.idtoken') = id token value
2> Https: msal.idtoken is not set to cookie , please fix msal library so that cookie get set
  :tthis.cookieService.get('msal.idtoken') = null
3> work around to getId token:
i

[2020-04-20 19:23] jake-brandt commented on #1000
@hamiltonha hello! Is this private preview to test out new B2C CORS and PKCE settings?

[2020-04-20 19:33] jasonnutter commented on #1222
Thanks. Can you try setting `system.loadFrameTimeout` in your configuration to an artificially high number, e.g. `20000` (20 seconds). Do requests still timeout?

[2020-04-20 19:38] hamiltonha commented on #1000
@jake-brandt Hi Jake, unfortunately B2C support for this feature is not ready yet for the private preview, but will be coming shortly after. I'm not sure why it would have worked last week and not this week.

[2020-04-20 19:51] jake-brandt commented on #1000
Thank you @hamiltonha - appreciate the confirmation!

[2020-04-20 21:01] #1507 closed

[2020-04-20 21:01] #1510 closed

[2020-04-21 00:50] jasonnutter commented on #1261
Closing due to inactivity, let us know if this is still an issue.

[2020-04-21 00:50] #1261 closed

[2020-04-21 01:46] tnorling commented on #1207
@Nasicus This should be fixed in ```msal@1.3.0-beta.1``` Could you try it out and let us know if this can be closed? Thanks

[2020-04-21 01:51] tnorling commented on #1080
Closing due to inactivity. Let us know if this is still an issue

[2020-04-21 01:51] #1080 closed

[2020-04-21 01:56] tnorling commented on #1239
Closing due to inactivity. Let us know if this is still an issue

[2020-04-21 01:56] #1239 closed

[2020-04-21 01:58] tnorling commented on #1237
Closing due to inactivity. Please let us know if this is still an issue

[2020-04-21 01:58] #1237 closed

[2020-04-21 02:00] tnorling commented on #1268
Closing due to inactivity. Let us know if this is still an issue

[2020-04-21 02:00] #1268 closed

[2020-04-21 02:12] #1505 closed

[2020-04-21 02:12] #1509 closed

[2020-04-21 02:12] #1515 closed

[2020-04-21 02:12] tnorling commented on #1505
@anton-gorbikov @sergey-tihon A fix for this was just merged into dev. It will be included in the next release. Thanks again for bringing this to our attention

[2020-04-21 02:15] tnorling commented on #1433
Closing due to inactivity. Let us know if you still need help.

[2020-04-21 02:15] #1433 closed

[2020-04-21 02:16] tnorling commented on #1463
Looks like this was fixed. Let us know if you're still getting a 404

[2020-04-21 02:16] #1463 closed

[2020-04-21 02:18] tnorling commented on #1425
Closing due to inactivity. Let us know if you still need help

[2020-04-21 02:18] #1425 closed

[2020-04-21 02:21] tnorling commented on #1369
@satish1597 Following up. Did ```msal@1.3.0-beta.0``` fix your issue? ```beta.1``` has also been released since the last update. Let us know if this can be closed. Thanks

[2020-04-21 02:32] tnorling commented on #1031
Closing due to inactivity. Let us know if this is still an issue.

[2020-04-21 02:32] #1031 closed

[2020-04-21 03:25] tnorling commented on #1407
Closing as this has been answered.

[2020-04-21 03:25] #1407 closed

[2020-04-21 03:36] tnorling commented on #1305
Closing due to inactivity. Please feel free to reopen if you still need help

[2020-04-21 03:36] #1305 closed

[2020-04-21 03:38] tnorling commented on #1296
Closing as this has been answered. Please reopen if you are still having issues after upgrading.

[2020-04-21 03:38] #1296 closed

[2020-04-21 03:57] tnorling commented on #995
Closing due to inactivity. Please reopen if this is still an issue.

[2020-04-21 03:57] #995 closed

[2020-04-21 05:54] captain-clean commented on #1222
I've tried increasing```system.loadFrameTimeout``` to 35 seconds, but had no immediate success resolving the issue.

[code]
```client-request-id```: 17bfbb91-7cbc-4b49-b4f6-0fc2a7fbb4c9

I noticed that after increasing the timeout to 35 seconds, the token seems to be present after I refresh my browser tab even though the initial token renewal request failed due to a timeout. But, this is only seem

[2020-04-21 06:06] Nasicus commented on #1207
Looks like it's fixed 👍

[2020-04-21 06:30] sameerag commented on #1207
Great! Thanks, closing the issue.

[2020-04-21 06:30] #1207 closed

[2020-04-21 07:09] satish1597 commented on #1369
@tnorling No I am still facing the same issue. There is nothing getting logged on console. And after the redirect from tenant, it is not receiving any token.

[2020-04-21 07:59] ITSTord commented on #1072
@eirikb  Have you tested this with MFA? We have tested your "hack" with our outlook addin and it works fine in the OWA but Outlook Client on Windows we do experience that it just skippes past MFA and fails. I guess it can be edge related since the Outlook client is Edge HTML based.

[2020-04-21 08:10] eirikb commented on #1072
@ITSTord Yes we have tested with MFA and it works (Version 2003 Build 12624.20466).

[2020-04-21 10:20] satish1597 commented on #1369
@BenjaminBorlet Is your issue solved by this update?

[2020-04-21 10:25] BenjaminBorlet commented on #1369
I'll look into this ASAP and come back to you

[2020-04-21 11:46] snebjorn opened #1529 "UserAgentApplication.getAccount return type is incorrect"
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/508239004e8752e4446f75c02fa46557334b14e5/lib/msal-core/src/UserAgentApplication.ts#L1718

The correct return type is `Account | null`

[2020-04-21 11:58] dusanjovanov opened #1530 "Change language for login page in B2C"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When I redirect the user to the login page, I want to somehow append &lang=langCode to dynamically change the language. The problem is I don't control the generation of the login URL.
Is that p

[2020-04-21 12:52] tadvas commented on #701
Still facing the same issues with even version 1.3.0-beta

[2020-04-21 16:14] tnorling commented on #1529
@snebjorn We do not have ```strictNullChecks``` enabled in msal-core so this is not needed. Are you seeing a specific issue caused by this?

[2020-04-21 16:25] dedreira commented on #1000
Hi! I'm testing this functionality in my company and I'm finding that when requesting the token, Azure AD gives me the three of them (Id Token, Access Token and Refresh Token). I'm not very comfy with having refresh nor access tokens in the browser, does anybody know if there is a way of configuring Azure AD to not to return these kind of tokens to the client only in case it is a browser-based app

[2020-04-21 16:25] tnorling commented on #1529
@snebjorn We do not have ```strictNullChecks``` enabled in msal-core so this is not needed. Are you seeing a specific issue caused by this?

[2020-04-21 16:36] JamesBream commented on #1000
@hamiltonha I'm a bit late to the preview party but still interested in testing this if you need further feedback :)

[2020-04-21 16:41] tnorling commented on #1530
@dusanjovanov You can add additional query parameters to the login url by passing them to ```extraQueryParameters``` in your request object. For the example you provided it would look something like this: ```extraQueryParameters: {lang: langCode}```

[2020-04-21 16:41] #1530 closed

[2020-04-21 17:40] tnorling commented on #1504
@mohsinonxrm This looks like an app registration issue. Can you confirm that A. The scopes you are trying to access from tenant AB are registered in your app registration on CD? And B. That your user exists on both tenants and has permission to access to the resources you are trying to access?

If you can provide more information about how these are configured in the azure portal it could help us

[2020-04-21 18:04] snebjorn commented on #1529
`const isAuthenticated = !!this.msalService.getAccount();` reports type `true` which is incorrect and will cause "expression is always true" errors later.

I'd suggest to turn it on cause it's my experience that 9/10 js errors are `null` or `undefined` related

[2020-04-21 18:05] garrettm commented on #1000
@hamiltonha is the preview on for this week? I filled out the form, will I be getting an email or is it already ongoing?

[2020-04-21 18:09] hamiltonha commented on #1000
@JamesBream please fill out this form to participate :) https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_XA414hlD9MhfBiqanxI2JUOElQMk1LUjNBWDY4R0w3MFlPR0FIMkxMVC4u

[2020-04-21 18:10] hamiltonha commented on #1000
@garrettm I'm just waiting for the preview portal link to be deployed, which could take a few days, then you will be hearing from me with more details if you filled out the form

[2020-04-21 18:18] hamiltonha commented on #1000
@dedreira in the Azure portal you can uncheck the settings for id token and access token under implicit grant settings. However, yes this latest version of MSAL js uses the auth code flow which uses an authorization code to retrieve an access token and a refresh token. You can read more about OAuth latest recommendation to use the auth code flow with browser based apps: https://tools.ietf.org/html

[2020-04-21 18:18] jasonnutter commented on #1222
@captain-clean Thanks! In that request, it looks like you are setting the redirect URI to `http://localhost:4200`, and that page appears to setup to redirect away to the `station` route. I believe this is causing the problem, as the page you use for the `redirectUri` should not invoke a redirect of its own, as that can prevent MSAL from parsing the response in the iframe (which can result in a tim

[2020-04-21 18:19] snebjorn commented on #1529
Hmm guess there's some issues with a using a library that have `--strictNullChecks false` in an app that have `--strictNullChecks true` as one assumes null and the other doesn't

[2020-04-21 18:22] tnorling commented on #1529
@snebjorn This is in our backlog to do but unfortunately don't have an estimate right now when msal-core may be updated as there are many changes that will need to be made to enable this. Newer libraries, like the upcoming msal-node, will have this enabled from the start. I'm going to close this but you can track #1097 for updates on this.

[2020-04-21 18:22] #1529 closed

[2020-04-21 18:28] tnorling commented on #1521
@lborghsvanin Could you provide fiddler traces and a CorrelationId to help our service team troubleshoot your issue? Email is in my profile.

[2020-04-21 18:35] snebjorn commented on #1529
That's good to know. Happy coding :)

[2020-04-21 18:54] tnorling commented on #1513
@skyovi Following up. Was your issue solved by passing ```sid```? The library should not be passing both ```login_hint``` and ```sid``` could you try updating to the newest version and let me know if you are still getting this behavior?

[2020-04-21 19:02] dedreira commented on #1000
@hamiltonha thanks for the quick answer! I tried it and I'm afraid when using PKCE it doesn't matter if I uncheck the settings for access token under implicit grant settings...
I was reading this document https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-06#section-8 that seems to be more recent and suggest this:

I was just wondering if Azure AD Team was working on this, as it appea

[2020-04-21 19:34] pkanher617 commented on #1000
@dedreira I'm a bit confused by what you are asking here. This library is meant to implement the authorization code flow for SPAs and allow you to retrieve access tokens in the front end. We also have an implicit flow library [here](https://www.npmjs.com/package/msal) that you can use to only retrieve id_tokens.

To be clear, the refresh tokens used by MSAL.JS are limited-lifetime non-renewable re

[2020-04-22 00:00] Porges commented on #1411
This is the commit which introduces the bug: https://github.com/AzureAD/microsoft-authentication-library-for-js/commit/bf86b898d120760e4a1c62126becd088deb78b55#diff-01b40b5f69b6021ac7031ce85ef0d452L120-L123

[2020-04-22 00:42] jasonnutter commented on #1411
@Porges It is not getting typechecked because `strictNullChecks` is disabled (which we are aware of and plan to fix, #1097).

I'll take a look at that PR, thanks!

[2020-04-22 01:12] #841 closed

[2020-04-22 01:12] #1334 closed

[2020-04-22 07:33] lborghsvanin commented on #1521
@tnorling How do I exactly get the correlationId? I can set it by providing it in the options to the loginPopup, but then it would be the same for all request I think.

[2020-04-22 09:51] skyovi commented on #1513
@tnorling  yes issue got resolved. Thanks for your help

library is passing both `login_hint `and `sid` if I don't pass `prompt='none'` to request object

[2020-04-22 11:31] saurabhjain-MA commented on #560
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/560#issuecomment-466583013

This suggestion is not working for me.
I've changed it to `"accessTokenAcceptedVersion": 2,` , however when i ask for token using `acquireTokenSilent` method in msal lib, the token generated has the **"iss": "https://sts.windows.net**

[2020-04-22 11:53] tinodo commented on #560
Changing the token _version_ will **not** change the issuer. The issuer is changed when you use a different endpoint; so use the Azure AD V2 endpoint instead of the V1 endpoint (e.g. the one like https://login.microsoftonline.com/tenant.onmicrosoft.com/oauth2/**v2.0**/token)

[2020-04-22 12:17] saurabhjain-MA commented on #560
@tinodo , how can i change to Azure AD V2 endpoint. i'm using [msal angular](https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-angular/) .

[2020-04-22 12:36] Lomand commented on #1035
After upgrading my React app to `msal@1.3.0-beta.1` I still experiencing the error.

Firefox Private tab,
[code]
Decoded:
[code]
I've also tried `msal-core` from `dev` branch, still no luck.

[2020-04-22 12:44] saurabhjain-MA commented on #560
i've checked and my azure app is configured to use v2 endpoint (as i see under azure app overview-> endpoints). looks like an issue with the library.

[2020-04-22 13:05] snebjorn opened #1532 "[@azure/msal-angular] contains deep imports"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0-beta.5`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 9.1.2

## Description
When running `ng serve` I see this warning

That should probably be looked at.

## Reproduction steps
1. `npm i @azure/msal-angular@1.0.0-beta.5`
2. `ng serve

[2020-04-22 13:36] Jithesh-Menon commented on #1260
Hi @emadalsous ,
I am facing this issue in my application the same as mentioned by you. I haven't given a msal guard for my redirect URI, but that is not a blank HTML page. Basically, I don't have a login page when the user enters the URL on the browser, it redirects the user to login.microsoft.com URL and prompts to enter the user email which will authenticate the user against Azure Ad and send b

[2020-04-22 13:44] emadalsous commented on #1260
Hello Jithesh,

What is your redirectURI ? Do you have any redirection in that component to a component that do authentication or has MSALGUARD ? this could cause an issue. If you don't want to set a black page for the acquireTokenSilently, i would suggest that you don't render the router-outlet   in the app component html by using ngIf when the page is an IFrame (check Angular example to know how

[2020-04-22 14:04] Jithesh-Menon commented on #1260
Thanks a lot @emadalsous  for the quick response.
Yes, I am not using the IFrame and not setting the route-outlet with ngif for the same.
For the time being, I kept the redirect URL without MSAL Guard (but not a blank html page)  and only clicking on any of the page actually initiates the routing and guarded with MSAL (which should change in future, I kept like that to see whether that could resol

[2020-04-22 14:50] Lomand commented on #1035
Here you go, you can easily reproduce this bug by changing two lines in the `react-sample-app` project, setting `useRedirectFlow` to `true` and changing `cacheLocation` to `localStorage`.

![image](https://user-images.githubusercontent.com/8079999/79995561-0cb50a80-84c0-11ea-9c69-e7fd68cc3d00.png)
[code]

[2020-04-22 16:29] tnorling commented on #1521
@lborghsvanin You can use the built in function in msal to generate a correlationId in the request object like so: ```correlationId: Msal.CryptoUtils.createNewGuid()```

[2020-04-22 16:53] jasonnutter commented on #1532
This was fixed in #1499 and will be available in teh next release of MSAL Angular. Closing.

[2020-04-22 16:53] #1532 closed

[2020-04-22 17:26] tnorling commented on #1513
@skyovi ```sid``` should only be sent to silent calls so it makes sense that it would work with ```prompt='none'```. That said, there should not be a scenario in which both ```login_hint``` and ```sid``` are sent. In fact, there is explicit logic in the code to prioritize ```sid``` over ```login_hint```. Can you try the newest version of the library (currently 1.3.0-beta.1) and open a new ticket,

[2020-04-22 17:26] #1513 closed

[2020-04-22 17:26] dedreira commented on #1000
@pkanher617 sorry to hear that, I was thinking about the security of my SPAs .
I understand the possibilities that a silent token renew feature can bring to end-users, but the possibility of a token leak (as you'd know, it's impossible to keep secrets in browser-based apps) must be taken in account too.

IETF recommends against using the Implicit flow entirely in SPAs (as you can read [here](https

[2020-04-22 17:44] komi99 commented on #421
getScopesForEndpoint() this method is always returning null for me  instead of returning scope , how it is reading scope from endpoint

[2020-04-22 18:58] oneillsp96 commented on #974
@negoe I'm using the redirect flow, and I need 2 instances of UserAgentApplication, each with a different client Id. As soon as I add the second instance, everything breaks.

 Looking at the PR that claims to fix this, it only seems to be targeting the popup flow. Are there any workarounds?

[2020-04-22 19:21] pkanher617 commented on #1000
@dedreira I think this is a good place to bring that up, thank you for posting here!

In general, tokens aren't secure in browser-based apps, and it is up to the developer to make sure they do their due-diligence in preventing these attacks. We are doing as much as we can from our side to make this secure, using limited-lifetimes and other mitigations.

Talking to the server team, v1 endpoints do

[2020-04-22 20:22] #1475 closed

[2020-04-22 20:37] tnorling commented on #1235
@bojantv Is this still an issue? If so can you provide a fiddler trace and/or can you reproduce the behavior with one of our [b2c samples](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) so we can better investigate?

[2020-04-22 20:40] oneillsp96 opened #1534 "Multiple instances of MSAL with redirect flow"
## Library
"msal": "^1.3.0-beta.1",

## Framework
React 16.9

## Description
I have a page that requires authenticating and granting consent to two different Azure AD apps, each having a different client ID.  I am using the redirect flow having had a lot of issues with the popup flow.  I am making a call to my app's server to get the two client IDs, and then passing the ID to a function that retur

[2020-04-22 20:45] tnorling commented on #1240
The reason why a network request is made is because you are including scopes that span multiple resources (```https://api-uri scope``` is for your custom resource and ```openid``` and ```profile``` is for graph). Access tokens are scoped per resource and the library caches access tokens accordingly. This means that when you try to acquire a token for scopes that span multiple resources it will alw

[2020-04-22 20:45] #1240 closed

[2020-04-22 20:49] tnorling commented on #1302
@ahqardah Is this still an issue with ```msal@1.3.0-beta.1```?

[2020-04-22 20:55] tnorling commented on #838
This is expected behavior. Access tokens cannot be invalidated on logout. For this reason, access tokens have shorter lifetimes in the browser (1 hour)

[2020-04-22 20:55] #838 closed

[2020-04-22 21:01] tnorling commented on #1429
@harshek Can you try setting the ```redirectUri``` to a page in your local application and see if you are getting a similar error? Can you also remove ```state``` from your ```auth``` config? This should only be optionally passed to the request object.

[2020-04-22 21:23] tnorling commented on #1534
@oneillsp96 Can you explain a little more about your use case? Why do you need 2 separate instances of msal? Do you just need to access resources from 2 different apps? If so, the correct way to do this would be to create a single instance of msal and make separate acquireToken requests for the scopes associated with each of your resources.

[2020-04-22 21:51] oneillsp96 commented on #1534
@tnorling I just need to acquire access tokens from two different azure AD apps, to be stored off for later use. The scopes I need are identical for each app, just by coincidence.

[2020-04-22 22:05] tnorling commented on #1534
@oneillsp96 In order to do this you should create a new app registration in the azure portal and use the client_id for this app, give this new app permissions to the APIs you need access to, and then request each of these scopes in a single msal instance. I'll see if I can find some documentation to help you set this up.

[2020-04-22 22:25] tnorling commented on #1534
[Access Web APIs](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-access-web-apis) - Should be done on the app that will need access
[Expose Web APIs](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis) - Should be done on the apps you need access to

Also important to note: Once you are logged in, you w

[2020-04-22 22:25] oneillsp96 commented on #1534
Not sure of all the implications for that setup, as I am not the one who created the AAD apps.  I think the idea was to use seperate AAD apps to keep them logically separated. For example what if I wanted different redirect URLs for each? Sure I can just pile them all in one app, it just seems unnecessary. I was also very confused that there was a PR to fix this issue but it seemed to either not w

[2020-04-22 22:26] oneillsp96 commented on #1534
[](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/296/commits/01d811661dc248fdb5bf5c9164cfe0fb98bf98c2)

[2020-04-22 22:49] oneillsp96 commented on #1534
[someone msft described the issue as being fixed here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/974)

I bailed on the redirect flow and am back to popup flow, which seems to be less buggy in the 1.3.0-beta versions versus some of the older versions. Just something to look out for, it's an inconsistency between the flows that should probably be documented.

[2020-04-22 23:33] NortonIce commented on #1237
I have similar problem(

[2020-04-22 23:34] jasonnutter commented on #560
@saurabhjain-MA MSAL uses the v2 endpoint already. What happens when you use the token in your application? And how are you validating the token in your server?

[2020-04-22 23:37] jasonnutter commented on #1237
@NortonIce We have another issue already open for this bug: #1411

[2020-04-22 23:39] jasonnutter commented on #421
@komi99 Please open a new issue if you have a usage question, thanks!

[2020-04-22 23:51] tnorling commented on #1534
@oneillsp96 This is not the recommended way of handling this scenario because it introduces more complexities. However, this is technically possible as long as you are not trying to use multiple accounts; that is unfortunately not supported. You need to be careful that you do not run multiple concurrent interactive flows, silent flows should be fine. If using the popup flow, a second popup will no

[2020-04-23 00:46] jasonnutter commented on #1035
@Lomand I was only able to reproduce that behavior in Firefox Private Browsing. I believe this may be because Firefox will clear local storage in this scenario. Setting `storeAuthStateInCookie` to true in for Firefox Private Browsing should fix the behavior you are seeing.

[2020-04-23 03:06] schalk-b commented on #1000
#1501

[2020-04-23 03:24] oneillsp96 commented on #1534
Ok, I think I'm all set with the popup flow for now. Thanks for the quick response.

[2020-04-23 04:43] #1534 closed

[2020-04-23 07:11] DarkLite1 opened #1535 "handleRedirectCallback does not return a promise"
## Library
- msal@1.2.2 from `npm install msal`

## Description
In my Vue.js project I have a simple SignIn button that calls the correct login method (`loginPopup` or `loginRedirect`) depending on a config file for the app. Authentication in the app happens by triggering the `signIn` action from the vuex store. This works perfectly fine for the `loginPopup` method but for the `loginRedirect` meth

[2020-04-23 07:37] giovannimele commented on #1437
@tnorling Hello, can you give me the reason why you consider this problem as low priority? For me the silent refresh is totally broken and doesn't work...

[2020-04-23 08:31] crystalbyte opened #1536 "Broken links on the npm package page."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [x] Other (please fill in)
- [ ] Documentation does not exist

## Description
Many links on the [npm package](h

[2020-04-23 08:58] lborghsvanin commented on #1521
@tnorling Additional information has been sent to you.

[2020-04-23 09:10] DarkLite1 commented on #1288
I found this issue when [struggling](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1535) with the redirect part oh my app. The pop up functionality works fine but the redirect does not, and it would be great to be able to support both.

I do agree that the the documentation on a complete lifecycle of the app is lacking a bit, especially with regards to the `redirect` fl

[2020-04-23 09:19] dedreira commented on #1000
@pkanher617 thanks a lot for your research!

I've been trying the v2 endpoints without the offline_access scope and I'm still receiving the refresh token, this is the call I'm performing, just for your information:

**Authorize Endpoint**
https://login.microsoftonline.com/#my-tenant-id#/oauth2/v2.0/authorize?client_id=#my-spa-client-id#&redirect_uri=#my-spa-redirect-uri#&response_type=code&scope=o

[2020-04-23 09:56] DarkLite1 commented on #1288
@elhedran one thing of notice about your code is that if `updateToken()` fails because `acquireTokenSilent` isn't returning a token you don't call the redirect. So you still need to take care of that in your app.