[2020-07-02 18:53] jmckennon commented on #1734
Closing this as we're assuming it's no longer an issue due to inactivity. Please open another issue if you have further questions. Thanks!

[2020-07-02 18:53] #1734 closed

[2020-07-02 18:59] sidhuko opened #1880 "AADSTS50058: A silent sign-in request was sent but no user is signed in."
## Library
- [x] `msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
* React

## Description
Getting an access token throws the following error in IE11, Edge and Chrome Incognito. Tried multiple variation

[2020-07-02 19:31] pkanher617 opened #1881 "[msal-node] Add a request type to make redirectURI mandatory for getAuthCodeUrl in ClientApplication.ts"
Please follow the issue template below.

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
The current request object for the `getAuthCodeUrl()` function in msal-node ClientApplication.ts has an optional redirect URI that does not enforce the requirement in `msal-common`, which currently throws a runtime error if redire

[2020-07-02 19:50] sundeep22 commented on #1877
@jasonnutter, thanks for the response. I tried adding this piece on the top of my app module:
[code]

I still see the error.. it only happens the first time i login (when it acquires the token). Here's my full app module class for your reference:

[code]
Do you see anything that i'm missing here? Btw, this application requires automatic login reroute when the user goes to a URL (no explicit login

[2020-07-02 20:34] leaderanalytics commented on #1867
Hey Jason thanks for the app registration document.  I am using my own client.  I tried using both auth flow and implicit flow:

Implicit flow disabled:

ServerError: The provided value for the input parameter 'response_type' is not valid. Expected values are the following: 'code', 'token', 'none'. 'id_token' is disabled for this app.

Implicit flow enabled:

InteractionRequiredAuthError: Silent a

[2020-07-02 20:55] mcdonnell-john commented on #1734
Hi @jmckennon Apologies I've been on holidays, I'll be back next week and will open another ticket

[2020-07-02 21:16] jasonnutter commented on #1867
Which version of MSAL.js are you using? v1 only supports the Implicit Flow, v2 supports the Auth Code Flow.

[2020-07-02 21:48] sam-wheat commented on #1867
I am using the sample as-is, only thing I changed is the clientID.  I found the versioning for the repo a little confusing: branch is for MSAL2 but the samples are for v1.  I was throwing darts looking for anything that might work.

[2020-07-02 22:42] lidermanrony commented on #1865
OK i think i can use onRedirectNavigate to remove the login hint and redirece myself.
Is that a good solution?

[2020-07-02 23:55] vajnorcan commented on #1874
I'm not aware of setting this anywhere hence the question. I've checked the config params and tried to change a few but none of it fixed the issue. If you could describe in more details on what you meant that might help me better to understand the behavior of the logout().

Version of Angular is 8,x. Ty.

[2020-07-03 01:05] jasonnutter commented on #1867
Ah sorry, misread your last comment.

Which browser are you using? And are third-party cookies enabled or disabled?

[2020-07-03 01:19] jasonnutter commented on #1877
What is the value of `this.authResponseCallback` when this error occurs? It is strange that it is defined but not a function.

[2020-07-03 01:27] sundeep22 commented on #1877
the error comes even before it goes into the response callback. eventually it goes into the authResponseCallback, and everythings good that time.

![image](https://user-images.githubusercontent.com/12279654/86422279-b0821a00-bcaa-11ea-81ff-e9daaf4e2a4a.png)

[2020-07-03 01:29] sundeep22 commented on #1877
the error comes even before it goes into the response callback. eventually it goes into the authResponseCallback, and everythings good that time.

![image](https://user-images.githubusercontent.com/12279654/86422397-06ef5880-bcab-11ea-994b-f1324591b573.png)

[2020-07-03 05:43] mylle commented on #1712
This problem is still existing. Don't close this ticket.

[2020-07-03 07:12] AbhaysinghBhosale commented on #1037
Is this issue resolved ?
**Using msal in react application**

I am still getting warning in console.
`A cookie associated with a cross-site resource at http://example.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Applicati

[2020-07-03 13:48] harishKandikatla opened #1889 "OAuth 2.0 authorization code flow: Access token fetch issue"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

I'm using `OAuth 2.0 authorization code flow` and not using any library

## Description
I'm using O

[2020-07-03 16:15] rajithakolan opened #1890 "'ClientAuthError: Invalid state' when returning from a password reset policy in angular 9"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

## Error Message

## Security
- [ ] Is this issue security related?

## Regression
- [ ] Did th

[2020-07-03 16:40] rajithakolan commented on #1837
"ClientAuthError: Invalid state" unable to get catch this error in 'handleRedirectCallback' in angular 9 . Please assist me, our project must support password reset feature also.

[2020-07-03 23:04] leaderanalytics commented on #1867
Using Chrome, third party cookies are enabled.  Same error when third party cookies are disabled.

[2020-07-04 05:52] jacksonhart opened #1891 "Change password Functionality Angular 8"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [

[2020-07-04 07:05] rosiejaneenomar commented on #759
Hi, I'm having this problem using azure-msal in angular

"msal": "^1.3.2",
"@azure/msal-angular": "^1.0.0",

 I have this custom checker if **msal.idtoken** is expired then i called this function to get new **idtoken**

![image](https://user-images.githubusercontent.com/7923836/86506959-d6243600-be06-11ea-9b14-959b68b6033f.png)

1. when it is success the existing **msal.idtoken** coming from your

[2020-07-04 12:03] ariffadhillah commented on #1869
[code]

is this what you mean?

[2020-07-04 13:46] diljithpc commented on #1889
@harishKandikatla .. are you using msal for getting authorization code? Is it possible to get the code using MSAL? even I'm trying  to do same thing. PLease share , how did you manage to given response type to code instead of id token. Thank you.

[2020-07-04 14:33] stephenstroud commented on #1650
@ChiragRatra-0009 I'm building this out next, You should receive the id_token_hint from the server side then build out the link client-side which is shown [here ](https://github.com/azure-ad-b2c/samples/blob/a11e18894452a6c9295f1722f3d5ed0b7c59a6c4/policies/sign-in-with-magic-link/source-code/AADB2C.MagicLink.WebApi/Controllers/IdentityController.cs#L95)

If you have multiple policies you could ad

[2020-07-04 15:09] jrmcdona opened #1892 "Angular SSR with MSAL.JS CDN - working with types"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `@azure/msal-browser@2.x.x`

## Description
Hello, I am going to attempt to get Angular Universal working with MSAL.JS.  I will have to use the CDN version to make this work as I already tried with non-CDN and there were too many issues.

Do you have the types I could insta

[2020-07-05 18:10] rellis-of-rhindleton commented on #1244
Broadcast message types are arbitrary strings with untyped payloads. Is there any desire to type these? Or is the full set of messages still undetermined?

[2020-07-05 20:15] jrmcdona opened #1893 "Unable to sign in multiple users. loginRedirect adds login_hint to redirect and tries to sign in existing user."
## Library
"@azure/msal-browser": "^2.0.0-beta.2"

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular

## Description
It does not seem that there is a loginRedirect or login function that does not add the login_hint to the return URL.

The Microsoft ME Control within UHF needs to be able to sign in multiple users.   You could try to log the user

[2020-07-05 20:32] jrmcdona commented on #1893
Calling logout before loginrRedriect didn't work it seems.  So that doesn't look like an option anyhow.

[2020-07-05 23:52] khloe19 commented on #1585
hi @ktikku how do you resolved the issue using `handleRedirectPromise`. I'm having issues after I login and it didn't go back to my `handleRedirectPromise `but instead go straight to my `componentDidMount`.

[2020-07-06 05:20] vajnorcan commented on #1876
thanks

[2020-07-06 05:20] #1876 closed

[2020-07-06 05:22] vajnorcan commented on #1874
@jmckennon still unable to get this done properly. Any resources to (re)direct me (pun intended) to ? cheers

[2020-07-06 05:59] vajnorcan commented on #1674
I experience this issue when I include the **popup: false** in the config for MsalModule. If I include the **popup:true** popup is being shown and handles everything ok. But as soon as it's false, it gives the same as the author of this post has posted before.

[2020-07-06 06:15] vajnorcan opened #1894 "Missing 'Auth-start' broadcast message to detect when the authentication has commenced"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How can I detect when the **MsalGuard** starts the authentication so I can display t

[2020-07-06 06:15] harishKandikatla commented on #1889
@diljithpc , I didn't use any library. I hope this [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) helps you!

[2020-07-06 08:51] ChiragRatra-0009 commented on #1650
Hi stephen,

Thanks for the input, I followed the same flow as mentioned but I am still getting the error saying **Hash does not contain state.** So I am sharing the code , I think that would be provide you better insight of my work and hope you could figure out where the code has the difference than what you suggested

Backend Code (C#  contains ->  BuildToken and BuildUrl Method)
[backendcode.tx

[2020-07-06 09:36] DarkLite1 opened #1895 "Code broken after upgrade from "@azure/msal-browser": "2.0.0-beta.2" to "2.0.0-beta.3""
## Library
- [x] `@azure/msal-browser@2.0.0-beta.3`

## Description

### Issue 1
After upgrading to the latest beta it seems that the typescript type `TokenExchangeParameters` is no longer exported. What is it replaced with or what to use instead to avoid the TS error?

[code]
Error:

### Issue 2

The method `getAccount()` is no longer present. So this no longer works:

[code]
Error:

To fix this

[2020-07-06 11:01] stephenstroud commented on #1650
@ChiragRatra-0009 Does the return URL have an error description param indicting the issue?

[2020-07-06 11:05] ChiragRatra-0009 commented on #1650
no, I am getting the id_token. but when I intialise the msal instance then it shows the hash error

[2020-07-06 11:12] stephenstroud commented on #1650
We're experiencing the same issue. It appears the URL with the id_token is missing the state param. The state param should be automatically appended from MSAL from my understanding. Looking at your frontend code have you initialised the MSAL object soon enough?

[2020-07-06 11:27] ChiragRatra-0009 commented on #1650
@stephenstroud , we initialise the msal instance after we recieve id_token as param in url.
Here is the samplecode.

[frontend.txt](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/4878571/frontend.txt)

[2020-07-06 13:38] DarkLite1 opened #1896 "Would it be possible to use relative paths for the redirectUri?"
## Library
- [x] `@azure/msal-browser@2.0.0-beta-3`

## Description

Using a relative path for the `redirectUri` fails:

[code]
![image](https://user-images.githubusercontent.com/10828570/86599115-7bbddd80-bf9e-11ea-86b3-3e7641aede95.png)

Would it be possible to support relative paths to be used in the redirectUri? Things like `/`, `/about`, `/settings`, .... instead of a FQDN  like`http://localh

[2020-07-06 14:00] gitback2work commented on #1248
Is there a time frame for this yet? It's not possible to use ADB2C without it on iOS and Mac and we can't launch without it.

[2020-07-06 16:38] stephenstroud commented on #1650
@ChiragRatra-0009 Just got this working.

You need to pass the id_token_hint within the "extraQueryParameters" object of the AuthenticationParameters then pass this into the authprovider.loginRedirect(authparameters)

[2020-07-06 17:07] hpsin commented on #1037
You have to resolve this in your application by setting the cookies correctly.  Cookies are controlled entirely by the server listed here (example.com) and for security reasons no other party is allowed to touch them.  You'll need to set these cookies correctly in your codebase - the library you're using or framework that is setting the cookies in question should have options to handle this.

[2020-07-06 17:54] pkanher617 commented on #1889
@harishKandikatla You are using a client_secret, which is a confidential client flow. This flow should not be done in a browser environment, because browsers are public clients. You will need to use authorization code flow with PKCE in order to make this work.

We suggest using the `@azure/msal-browser` [npm package](https://www.npmjs.com/package/@azure/msal-browser) if you are attempting to make

[2020-07-06 17:56] pkanher617 commented on #1889
@diljithpc the `msal-browser` library obtains a code and trades for a token in the scope of the browser environment. If this isn't what you need (i.e. you are using this with a node backend server) we will be releasing the alpha version of the `@azure/msal-node library` shortly.

[2020-07-06 17:59] jo-arroyo commented on #1879
Hi there, are you able to provide more information per the form above to help us diagnose the problem? Please especially include the library, framework versions, the browser you are experiencing this in, and any steps that would help us reproduce the problem. Thank you.

[2020-07-06 18:10] jo-arroyo commented on #1880
Hi @sidhuko, please call the `getAccount` API before calling `acquireTokenSilent`. In addition, when receive an interaction required error, you should fall back to interactive call, either `acquireTokenRedirect` or `acquireTokenPopup`.
Can you also provide a code snippet showing any other code relevant to this issue?

[2020-07-06 18:14] pkanher617 commented on #1895
@DarkLite1
### Issue 1:
We replaced `TokenExchangeParameters` with `SilentFlowRequest`. I've updated the docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/request-response-object.md#silentflowrequest), but it may not be clear enough so I will be sure to add a breaking changes section somewhere to call these changes out.

### Issue 2:
Corr

[2020-07-06 18:16] jo-arroyo commented on #1890
Hi @rajithakolan, please take a look at the B2C sample below that shows you how to implement the password reset policy: [B2C Sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/JavaScriptSPA/authRedirect.js)

If you have any further questions, please fill out the form above so we have the information needed to address your issue. Thanks!

[2020-07-06 18:19] jo-arroyo commented on #1891
Hi @jacksonhart, please take a look at the B2C sample below that shows you how to implement the password reset policy: [B2C Sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/master/JavaScriptSPA/authRedirect.js)
Please feel free to reach out if you have any further questions. Thanks!

[2020-07-06 18:25] jo-arroyo commented on #1893
Hi @jrmcdona, please try using 2.0.0-beta.3. Beta.2 does not have support for multiple account scenarios. Please reach out if you still have issues with beta.3. Thank you.

[2020-07-06 18:29] jmckennon commented on #1869
That setup should theoretically work if you are requesting tokens from the `common` endpoint. The default `authority` value is  `https://login.microsoftonline.com/common`, so that's what you'll have if you don't provide it, like in your setup above. If you want to to use a different authority you'll need to specify in that config. You can see another example of this in our [B2C sample](https://git

[2020-07-06 18:40] jmckennon commented on #1810
@jimbarrett33, can you go the Azure Portal -> App Registration -> Click on your app -> API Permissions. There should be a list of permissions for the app, and on the far right you should see some columns like "Status". This should show if you've consented to `user.read` in your app. You can manually delete this consent and run through your app again to see if anything changes.

Additionally, can y

[2020-07-06 18:47] jmckennon commented on #1803
Closing this as we're assuming the problem is solved due to inactivity. Please open a new issue if you have further questions. Thanks!

[2020-07-06 18:47] #1803 closed

[2020-07-06 18:51] jmckennon commented on #1865
Sorry for the delay over the long weekend. Yes--`onRedirectNavigate` allows you to control the redirect yourself, so your solution should definitely be possible. More info on that in #1691

[2020-07-06 19:00] jmckennon commented on #1874
Sorry for the delay over the long weekend.

What I meant is if you had a Logout button in your app that was explicitly opening a popup, though that sounds like it's not the case.

Can you provide the related `msal` code so we can see your usage? I believe it would be a bug if logout was a popup by default.

The usage in our sample could also be useful if you haven't seen it: [the html](https://git

[2020-07-06 19:04] #1865 closed

[2020-07-06 19:29] jrmcdona commented on #1893
@jo-arroyo I had to roll back from .3 as it had some core issues.   I have this in produciton since I had to move to auth code flow for a certain scenario that was required for my First Party Microsoft app.

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1844

[2020-07-06 19:30] tnorling commented on #1874
@vajnorcan Is it possible that your app is automatically triggering a login when it notices no-one is signed in? When you call the logout API, msal will clear your tokens from local/session storage then redirect to the page asking which account you would like to log out of. What this kind of sounds like is that your app is clearing storage, then noticing no-one is signed in, triggering `loginPopup

[2020-07-06 19:30] jrmcdona commented on #1844
@pkanher617 were you able to repro on your end?

[2020-07-06 21:21] #1596 closed

[2020-07-06 21:22] pkanher617 commented on #1844
@jrmcdona Unfortunately wasn't able to get this reproduced - I am not able to get the account objects with undefined values. Can you send a fiddler trace of this issue to my email? It is available on my profile page.

[2020-07-06 23:32] vajnorcan commented on #1874
Hi all, thanks for the suggestions.
@jmckennon Just to clarify, I'm using the MsalSerivice to logout, and this popup has been introduced by MSAL as I haven't seen it before.

@tnorling There is no automatic login mechanism as I'm moving out of the Msal guarded route to landing page /sites.

Below is my config and the screenshot. Please notice that on the screenshot, the /redirect page gets loaded

[2020-07-07 01:18] jimbarrett33 commented on #1810
@jmckennon Admin consent was not enabled in the Azure Portal and user.read is requested. Just in case I started over with these steps:

I created a brand new Azure App registration using the instructions here
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#create-the-app-registration and using the implicit flow for SPA app. https://docs.microsoft.com/e

[2020-07-07 02:35] vajnorcan commented on #1874
Thanks all. I had a test piece of code from time when I was experimenting with the msal-guard.canActivate which was buried in the account component responsible for logging the user out. It works as expected.

My apologies.

[2020-07-07 02:35] #1874 closed

[2020-07-07 04:08] diljithpc commented on #1889
Thanks @pkanher617  and @harishKandikatla . I will need to use msal-browser for my requirement. It helped. Thank  you.

[2020-07-07 05:10] #1890 closed

[2020-07-07 06:11] azrulamir opened #3466 "Unable to accept valid IEF generated id token"
Just recently i found that the library seems to no longer able to validate id token generated upon successful login on adb2c tenant. Last time i check it was working fine. Can anyone help me on this?

**My passport-azure-ad library config.**
[code]

**Frontend config to login and acquire id token**
[code]

The response header for the unauthorized 401 status code
[code]

[2020-07-07 06:56] DarkLite1 commented on #1895
Thank you for the help, much apprecaited as I'm a beginner in all this.

### Issue 1

When swapping out `TokenExchangeParameters ` for `SilentFlowRequest` we still have a problem with the type for `request`: Is there a more generic type? I tried combining both types like `request: Msal.AuthorizationUrlRequest | Msal.SilentFlowRequest`, but that's not accepted either.

[code]
Error:

### Issue 2

W

[2020-07-07 07:03] rnarayana commented on #1795
Hi @tnorling Any idea of when this will be fixed or an issue reference, if public? This would help us decide between 1.3 and 2.0

[2020-07-07 07:31] lusarz opened #1904 "Auto log user after registration"
## Library
- [x] `msal@1.3.2`

## Description
We are implementing signup flow using msal. After correct filling of registration form user is redirected into our application URL with `id_token` hash param:

http://localhost:8080/#id_token={token}

and we're getting error like:
![Screenshot from 2020-07-06 16-00-25](https://user-images.githubusercontent.com/10059264/86737418-90e54b80-c034-11ea-8b96-

[2020-07-07 10:19] deasems opened #1905 "How to get ID token claims for existing sessions"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm updating my POC app from beta.2 to beta.4. It looks like the account object that is persisted for a session is much more limited than before and doesn't include the id token claims.

[2020-07-07 12:13] jrmcdona commented on #1843
@pkanher617 @jmckennon
I think the MSAL API should let us know the username that is currently logged in so that we don't have to create a separate cookie and manage this cookie and logic.  It seems very incomplete on a part of the MSAL API.  It is not a streamlined .

getAllAcounts should give us all the accounts.
getAccount should give us the account that it is currently signed in/active.

How co

[2020-07-07 12:14] rfcdejong opened #1906 "HttpInterceptor not adding Accesstoken when an XMLHttpRequest is send"
## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 9

## Description
My project has migrated from asp.net core cookie authentication to MSAL client side in Angular. Calling my api from angular the interceptor is adding the user his acces

[2020-07-07 12:18] rfcdejong commented on #1906
I'm not sure if this can be resolved looking at https://github.com/bleenco/ngx-uploader/issues/495

[2020-07-07 12:38] rfcdejong commented on #1906
Closed because I believe Angular doesn't support intercepting XMLHttpRequest, so this cannot be done automatically

I resolved this manually by using the follow code when calling ngx-uploader

    const scopes = this.auth.getScopesForEndpoint(environment.apiUrl);
    this.auth.getLogger().verbose("Url: " + environment.apiUrl + " maps to scopes: " + scopes);

    let token: string;
    this.auth.ac

[2020-07-07 12:38] #1906 closed

[2020-07-07 14:40] sidhuko commented on #1880
I've implemented all this and it just keeps requesting an access_token, returning it on the URL, then throwing the error when it is called again. It is something internal about storing the user information in the cache or storage which is then not available in Chrome Incognito, Edge or IE11. This library don't really have good tests or a sample for a modern react application which demonstrates how

[2020-07-07 14:46] sidhuko commented on #1880
Just to confirm it works fine in normal Chrome but its most other browsers. Safari, Chrome (Incognito), Edge and IE11 which are throwing the error after login. The library itself creates a race condition by breaking the Single Responsibility Design principle and initialising in the constructor. That logic takes the token from url, changes the url and adds it into cache but maybe not synchronously.

[2020-07-07 15:16] sidhuko commented on #1880
Tested in 1.3.1 - does not work, same issue
Tested in 1.3.0 - does not work, same issue

[2020-07-07 16:49] tnorling commented on #1904
@lusarz Are you using b2c and are you coming from an invite link when this happens? Msal appends certain information such as `state` to the request and sets some temporary cache values used to verify the response. Due to this it expects that the /authorize request originated from msal, if it originated from somewhere else, such as an invite link, you will receive an error. The way around this is t

[2020-07-07 16:57] tnorling commented on #1795
@rnarayana We don't have a public issue reference but we're expecting this to be resolved by the end of the week, I will update if that changes.

[2020-07-07 19:05] pkanher617 commented on #1905
@deasems You can do this by calling acquireTokenSilent() with `openid` and `profile` as the scopes and passing the account object. This will retrieve the relevant token from the cache and contain the idTokenClaims in the response.

[2020-07-07 20:21] tnorling commented on #1858
@daniel-chambers This should be fixed in `2.0.0-beta.4` please let us know if you are still having issues

[2020-07-07 20:21] #1858 closed

[2020-07-07 20:34] deasems commented on #1905
Thanks @pkanher617, I tried this out and it worked well 👍

[2020-07-07 20:34] #1905 closed

[2020-07-08 12:25] rulebadenhorst opened #1911 "HTTP_INTERCEPTORS stuck in login redirect loop on production environment"
## Library
- [ ] `msal@1.3.2`
- [ ] `@azure/msal-angular@1.0.0`

## Description
Hi.  We have built an Angular 8 application to connect to Azure AD.  I am having a problem where it works fine on my local machine with a test user, but on the production environment it gets into an infinite redirect loop.  I think this is because of the HTTP_INTERCEPTOR.

Here are my files - following some guides I bu

[2020-07-08 16:23] jo-arroyo commented on #1896
@DarkLite1 Thanks for the suggestion. We agree that this would be a nice enhancement. We'll track this and post an update here when it gets added to the library.

[2020-07-08 16:32] jo-arroyo commented on #1894
@vajnorcan Unfortunately, the library does not emit any events at the start of the authentication process. We'll take this into consideration for future versions of the library. (The library will emit events when the authentication process is complete).

We don't have a recommended approach for your use case, but you can look at the Angular router events [here](https://angular.io/api/router/Event)

[2020-07-08 18:51] deasems opened #3465 "How to avoid post request getting replayed by browser back button"
I'm using the `form_post` response mode, lib version 4.2.1.
After the user login is successful a POST to my domain is made in the browser. My server handles that request with this library and redirects the user to my app.
The problem is, at this point if the user hits the back button in the browser, I'm seeing the post request getting resubmitted which now fails to authenticate when this lib handl

[2020-07-09 00:44] #1188 closed

[2020-07-09 07:41] hammerstrike opened #1913 "How to use forceRefresh: true in msal-angular config"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How do I use `forceRefresh: true` in msal-angular config?

Skip cache option is avai

[2020-07-09 08:21] ariffadhillah commented on #1869
but I see from this tutorial that
https://medium.com/@fiqriismail/how-to-secure-your-reactjs-frontend-with-azure-ad-b2c-8fd165f602e8
he does not use "validateAuthority" and there is no error "UnsupportedAuthorityValidation" and if I try to use the code in the tutorial everything works fine, but when I use the Azure id mine
"instance: 'https://login.microsoftonline.com/tfp/', tenant:,
  signInPolic

[2020-07-09 09:14] sanderaernouts opened #1914 "Unable to get valid login request url from cache, redirecting to home page on first log in attempt for new users"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

## Description
We allow users to sign-up for a new user account in Azure AD using an e-mail invite. When the user completes the invite flow, the user is unable to sign-in the first time they cli

[2020-07-09 10:02] thelements commented on #1380
Let's say I have my custom token in my app. So i can't use as middleware is there a way to do it manually. I can pass as a custom key and validate. I am unable to find any proper method to do so,
I am receiving some msal.idtoken or something.

[2020-07-09 10:10] DarkLite1 commented on #1895
@tnorling sorry for involving you here but could have a second look at this? Maybe my request is incorrect or I'm doing it wrong.

[2020-07-09 12:25] DarkLite1 commented on #1895
Closing this one as I converted my function like this:

[code]

Still learning as I go, thanks for the help everyone.

[2020-07-09 12:25] #1895 closed

[2020-07-09 15:54] jasonnutter commented on #1380
You can find more information about validating access tokens here: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens

[2020-07-09 16:43] ktikku opened #1915 "BrowserAuthError: interaction_in_progress"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-07-09 16:47] ktikku opened #1916 "BrowserAuthError: interaction_in_progress Browser makes preflight call for authorise end point after the authorise end point"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I was trying to perform login using `loginRedirect` method, the library is ma

[2020-07-09 16:50] Jantolick opened #3467 "oidcstrategy.js line 709: state is not defined (Should be source.state ?)"
For some reason when trying to authenticate with Azure AD through React-Native with expo, an attempt at returning an error is not going through.

 ReferenceError: state is not defined
     at Strategy.collectInfoFromReq (/app/node_modules/passport-azure-ad/lib/oidcstrategy.js:709:78)

Looking at lines 708-709:

      if (!source.state.startsWith('CUSTOM'))
        return next(new Error(`In collect

[2020-07-09 18:25] u13133064 commented on #1880
@sidhuko
had this issue recently. Check in browser settings if your browser is blocking third party cookies in incognito. basically for us everything we logged in nothing was stored and so kept tying to relog in on redirect. Changing the browser setting for incognito mode solved it

[2020-07-09 18:58] #1915 closed

[2020-07-09 19:20] derisen commented on #1891
@jacksonhart alternatively, here's an [angular b2c sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa/blob/master/src/app/app.component.ts) that has the same functionality.

[2020-07-09 20:52] sidhuko commented on #1880
I don't think changing the browser setting is an acceptable solution for
all users.

On Thu, 9 Jul 2020 at 12:26, Jedd Shneier <notifications@github.com> wrote:

[2020-07-09 21:34] jo-arroyo commented on #1916
@ktikku Are you able to provide some code that shows how you are calling `loginRedirect` and where you are getting this error? Your MSAL configuration would also be helpful to us here.

[2020-07-09 21:55] jo-arroyo commented on #1914
@sanderaernouts The error log message you are referring to happens when the `auth.navigateToLoginRequestUrl` flag is set to true (which is the default), but there is no url saved in local storage for that value (this is the url that the user was on before they initiated the `loginRedirect` call).

Have you tried setting `auth.navigateToLoginRequestUrl` to false?

Also, when using `loginRedirect` o

[2020-07-09 22:06] jo-arroyo commented on #1913
@hammerstrike Currently, `forceRefresh` can be used with direct calls to `acquireTokenSilent` in Angular. Unfortunately there is no way to pass `forceRefresh` from the configuration to the guard or interceptor. This is an enhancement we would like to make, so we will track this issue and update it when it has been added to the Angular library.

[2020-07-09 22:10] pkanher617 commented on #1895
@DarkLite1 Sorry for missing the questions. I've added a typescript sample, let me know if it helps.

[2020-07-09 22:33] jo-arroyo commented on #1880
@sidhuko The reason why you are receiving this error is likely because MSAL is making a network request to get an access token, however, third-party cookies (which are required for silent requests) are being blocked by your browser settings. If you are receiving this error after calling `acquireTokenSilent` after you have just completed an interactive request (`acquireTokenRedirect` or `acquireTok

[2020-07-09 22:40] jmckennon commented on #1869
That tutorial is from 1.5 years ago and is written by a third party, so I can't necessarily comment on it. It's most likely working because his policies will utilize the common authority, which is what `validateAuthority: true` (the default if not provided) will work for. We recommend defaulting to our samples and the Microsoft docs for usage. Is the setup not working even if you include `validate

[2020-07-09 22:42] jasonnutter commented on #1911
@rulebadenhorst If there are no roles in the token, that means it is an access token (you can verify by looking at the `tokenType` property), and your application should not treat that as an error. If you want to subscribe to login-related events only, I would suggest subscribing to `msal:loginSuccess` and `msal:loginFailure`.

[2020-07-09 22:45] jasonnutter commented on #1892
@jrmcdona Unfortunately, the types are included in the main npm package, so you can try installing `@azure/msal-browser` via npm, which will load the types into your project, but then use the CDN version of the library in your app.

[2020-07-09 23:53] dapathy opened #1922 "Scopes are being changed to lowercase"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
#1600 seems to have introduced a change that is changing all scopes to lowercase.  This is causi

[2020-07-10 05:01] lancechant commented on #1911
Hi @jasonnutter I am also working on the project, and with the current requirement + security some users may not be assigned roles on AD for our specific app, but that isn't the issue there, as we aren't even getting redirected to that page, we keep getting redirected back to the Microsoft login page. After each successful login we get redirected to our app, but then get redirected straight back t

[2020-07-10 06:50] DarkLite1 commented on #1895
@pkanher617 thank you for getting back to me but I think you posted the wrong link to the typescript sample?

[2020-07-10 07:24] xuyanqi opened #1924 "It report a error [token_renewal_error] in the chrome browser of iPad when I using library masl.js version 1.3.2"
## Library
 `msal@1.3.2`
## Framework
vue
## Description
The error occurred in the function of "acquireTokenSilent", and I find the return url from hidden iframe does not contain hash value of  "accesstoken", but it work well in chorme of computer.

## Error Message
        errorCode: "token_renewal_error",
        errorMessage: "Token renewal operation failed due to timeout."

## Regression
- [ ]

[2020-07-10 07:30] oleksii-kostin commented on #701
I see a lot of people have this problem.

Reason - aad for some reason loses state on reset password flow.
What is state? Msal records string on your page before redirect to aad, and compares it to response that you got after redirecting from aad, to insure that request to aad was issued by user`s browser.

How to fix it?
1) You can wait for msal team to fix it.
2) You can rewrite function that ch

[2020-07-10 07:38] ahelmel commented on #703
Is there any progress on this feature?

[2020-07-10 08:47] lancechant commented on #1911
After banging my head for a few more hours I did come across this sample https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-samples/angular8-sample-app/src/app/app.component.ts and after adding the ```handleRedirectCallback``` function it seems to have stopped the login loop. Which is a bit different from this https://github.com/AzureAD/microsoft-authe

[2020-07-10 09:09] tank104 commented on #1749
I finally got round to implementing this, and just wanted to leave a guide for others:
I used A

so in app.module.ts I have this code:
[code]
And my startup service looks like this:
[code]

[2020-07-10 10:05] jacksonhart commented on #1891
thanks @derisen and @jo-arroyo.

I am looking at your example Derison as it is angular.

Unfortunately none of the events are triggered when I get the error.
I.e. msal:loginFailure, msal:loginSuccess or handleRedirectCallback().

In fact my app is not reached at all as it appears to break before the app.component constructor is executed.

We are using redirect login.
I have a 'change password' btn

[2020-07-10 11:00] jrmcdona commented on #1892
Hey @jasonnutter I am attempting a POC for using Angular SSR so I can't load @azure/msal-browser at it has a lot of issues with SSR.

Therefore I am trying to go straight to CDN, and having those types would be nice but will need to try without a types for now it is looking like.

[2020-07-10 14:10] vlafranca commented on #1222
Hi everyone,
I faced the same problem in production application and we have discovered 2 problems :
- we were passing the graph scope to every acquireTokenSilent. using only our custom scope for custom api resources access fixed part of the issue by stopping retrieving a new token for every request. This means we removed `openid profile` from our scope resources and we are using it only for signin

[2020-07-10 14:43] sidhuko commented on #1880
I've tried many variations and with separate scopes - the offline_access is following your sample applications which I did to ensure it was completely the same. I've also tried using the v2 releases with `@azure/msal-browser` but they are broken in the latest beta as shown in your issue tracker with various problems.

There is no public release roadmap or expectation for what you're doing with v2

[2020-07-10 16:17] jo-arroyo commented on #1924
@xuyanqi Are there any other errors in the browser console when the timeout occurs?
Here is the way to see the logs in Chrome on ipad: https://blog.chromium.org/2019/03/debugging-websites-in-chrome-for-ios.html

[2020-07-10 16:23] Tim91084 opened #1925 "Silent login fails when id/access token preferred_username for guest users is in the form of username_gmail.com#EXT#@tenant.onmicrosoft.com"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

This appears to affect 1.x versions of msal

## Framework
Framework independent

## Description
Occasionally, the id/access token returned from a guest user login contains a `preferred_username` in the form o

[2020-07-10 16:56] a-train opened #1926 "Some requests failing while others succeed due to CORS error"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.3.2` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-07-10 17:08] tnorling commented on #1795
Unfortunately, this fix has been pushed back due to a regression found during deployment. This is a high priority item for us and we're working with the service team to get this out asap. Thank you all for your patience!

[2020-07-10 17:23] lucafaggianelli opened #1927 "MSAL NodeJS authentication error for WebApp and SPA"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- [x] `@azure/msal-node@1.0.0-alpha.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

NodeJS - KoaJS

## Description

I integrated msal-node with a NodeJS ser

[2020-07-10 17:24] jo-arroyo commented on #1926
@a-train Take a look at [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1834#issuecomment-650171361) on another thread that had a similar CORS error. This may help with figuring out what might be adding or changing headers on your requests.

[2020-07-10 18:52] jmckennon commented on #1859
Closing this as we're assuming the problem is solved due to inactivity. Please open a new issue if you gave further questions. Thanks!

[2020-07-10 18:52] #1859 closed

[2020-07-10 18:54] jmckennon commented on #1846
Since #1852 was merged and it looks like the other problem in #1864 has been solved, I'll be closing this issue now. Please open a new issue if you have further questions. Thanks!

[2020-07-10 18:54] #1846 closed

[2020-07-10 18:55] jmckennon commented on #1840
Closing this as we're assuming the problem is solved due to inactivity. Please open a new issue if you have further questions. Thanks!

[2020-07-10 18:56] jmckennon commented on #1820
Closing this as we're assuming the problem is solved due to inactivity. Please open a new issue if you have further questions. Thanks!

[2020-07-10 18:56] #1820 closed

[2020-07-10 18:58] jmckennon commented on #1765
Closing this as the other issues are being tracked in new tickets, and it looks like the original problem has been solved. For anyone with more questions, please open a new issue. Thanks!

[2020-07-10 18:58] #1765 closed

[2020-07-10 19:00] #1840 closed

[2020-07-10 19:04] cwalker-reveille opened #1928 ".loginPop() window position within browser window is cut off in Chrome and Edge."
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
vanilla JS

## Description
When calling .loginPopup on Chrome and Edge and the browser window is near th

[2020-07-10 21:49] derisen commented on #1891
@jackshonhart can you clarify the issue a bit more please? Are you saying:

1. The user authenticates to the app normally (using the redirect flow)
1. The app exposes a "reset password" button to call appropriate URL (can you please share the URL?)
3. When user cancels the password reset attempt, they get the error:

`http://localhost:4200/#error=access_denied&error_description=AADB2C90091%3a+The+

[2020-07-11 01:37] mattrichard commented on #1925
We recently started having this issue as well. In addition to what is described above, when this occurs, attempting to provide the `sid` from the id token results in the following error: "Application requested a user session which does not exist". The only way we're able to get around this right now is to supply the loginHint with the expected value (not the `preferred_username`) and do a full red

[2020-07-11 02:43] shb98 commented on #1925
+1

[2020-07-11 05:40] Soyofuki opened #1931 "404 for code sample and syntax typo in code snippet"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [X] MSAL.js Github Wiki
- [ ] README file
- [

[2020-07-11 16:23] Ikaer opened #1932 "Some questions about using msal@2.x with SPA and B2C - acquireTokenSilent cache and refresh_token"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please provide your question here, including as much relevant details as possible.

[2020-07-12 00:34] DibyodyutiMondal opened #1933 "Unable to use acquireTokenSilent() method for Live Accounts via Azure B2C"
This is essentially the same as #267

In my chrome console, I get

[2020-07-12 00:41] DibyodyutiMondal opened #1934 "Unable to use acquireTokenSilent() method for Live Accounts via Azure B2C"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description

This is essentially the same as #267

And so, it breaks functionality for MSA accounts using Az

[2020-07-12 00:42] #1933 closed

[2020-07-12 00:44] DibyodyutiMondal commented on #1933
Improperly created due to network issues. Please refer to 1934 instead.

[2020-07-12 04:53] jacksonhart commented on #1891
Thanks for the reply @derisen .

Yes those steps are correct.

The URL is https://XX.b2clogin.com/XX.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_SSPR&client_id='XX'&nonce=defaultNonce&redirect_uri=httpsXX.azurewebsites.net&scope=openid&response_type=id_token&prompt=login'

The error in the URL on return is not unexpected. In msal-angular 0.X we just ignored that error.

Now in 1.0 there is the a

[2020-07-12 05:03] judedaryl commented on #1795
Thanks for the update on this @tnorling, in the meantime we'll be using the implicit flow.

[2020-07-12 06:00] rnarayana commented on #1795
Thanks, implicit flow in B2C can still work with MSAL 2.0 right?

[2020-07-12 15:51] DataHippo93 opened #1935 "Unable to get sid in idtoken"
## Library
- [ ] `msal@1.3.1`
- [ ] `react-aad-msa@2.3.5`
## Documentation location
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso
_"Session ID is an optional claim that can be configured in the ID tokens. "_
## Description

I am trying to pass my idtoken to another domain

[2020-07-13 01:19] mderriey opened #1936 "Access tokens in the cache are not used because all requests have openid and profile scopes"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

No framework.

## Description

1. Application code calls `loginRedirect` with a scope `<client-id>/user.

[2020-07-13 01:25] autodomme commented on #1795
Only seems to work for me if I don't use a custom policy @rnarayana.

[2020-07-13 04:51] nasrnassar opened #1937 "MFA Support"
Hi,

I created an angular application with AAD authentication implemented based on the angular 9 sample, my application has a .net core API back-end that is also protected by AAD Authentication. Our organization has MFA enabled for all the users and if I try to open the application in incognito I get the following error

`core.js:5828 ERROR Error: Uncaught (in promise): InteractionRequiredAuthErro

[2020-07-13 06:42] sanderaernouts commented on #1914
@jo-arroyo we will try `auth.navigateToLoginRequestUrl = false`. Don't think we need this behavior at least not on the initial sign-in since our Angular app handles the redirection of the user after login anyway.

As mentioned users can create their own account using a sign-up form, our test flow is as follows
1. Sign-up
2. Accept invite link & create account in Azure AD
3. Give consent to Azure A

[2020-07-13 06:42] sanderaernouts commented on #1914
@jo-arroyo we will try `auth.navigateToLoginRequestUrl = false`. Don't think we need this behavior at least not on the initial sign-in since our Angular app handles the redirection of the user after login anyway.

As mentioned users can create their own account using a sign-up form, our test flow is as follows
1. Sign-up
1. Accept invite link & create account in Azure AD
1. Give consent to Azure A

[2020-07-13 06:52] sanderaernouts commented on #1914
We do set the callback in the same way as the example you posted. We are using the observables exposed by [MsalService](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/0f352a074dff709304d87e3543c89472a1bcf875/lib/msal-angular/src/msal.service.ts#L139) so I don't think we need to specifically handle the redirect callback as the [MsalService](https://github.com/AzureAD/micros

[2020-07-13 08:42] Marcelh1983 commented on #1194
Calling acquireTokenSilent on page load in an Angular page using the msalIntercepter is hard to avoid. I think checking if the code is running from an iframe in the acquireTokenSilent function would solve most issues.
It could be solved in library?
Like:
[code]
Or in the interceptor. If it's not handled in library you could extend the msalInterceptor:

[code]

[2020-07-13 10:58] NhatDuy1407 opened #1938 "Acquire token silently is not working"
## Library
- [x] `@azure/msal-angular@1.x.x`

## Description
I am using **MsalInterceptor** and **MsalGuard** to acquire token silently but it did not work.
My token id timespan in the azure b2c is 10 mins, then after 10 mins, I expect that I can get new token and keep working but could not.

**Can anyone help to check my configuration?**
Here is my configuration:

[code]

[code]
Thanks a lot.

[2020-07-13 12:26] daltondhcp commented on #1161
Any updates here?

[2020-07-13 13:58] Tim91084 commented on #1925
Looks like this may be related?

https://github.com/SharePoint/sp-dev-docs/issues/3722

[2020-07-13 14:10] a-train commented on #1926
@jo-arroyo, thanks for getting back to me. This definitely got me thinking.

It turns out there was a bad configuration in the app's routing, which was interfering with API calls that contained certain codes (like 404 and 500).

[2020-07-13 14:10] #1926 closed

[2020-07-13 14:11] PraveenVerma17 opened #1939 "State mismatch error after updating to 1.3.2"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.3.2`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.3.2`.

## Framework
react js
## Description
We have update MSAL from version 1.1.1 to 1.3.2 and we started seeing MSAL state mismatc

[2020-07-13 15:36] PraveenVerma17 commented on #1939
1.3.2 state is  = state=eyJpZCI6Ijg5ZTRjNzhmLTk3ZDMtNGJlMy05ZjcxLWExYWFmZDYxZDA2YSIsInRzIjoxNTk0NjUzODk0LCJtZXRob2QiOiJyZWRpcmVjdEludGVyYWN0aW9uIn0=

1.1.1 state is  = 9f71230b-7620-48f9-b90f-d5850003a9a2

Here is the difference in both versions.

[2020-07-13 16:14] derisen commented on #1937
@nasrnassar the pattern to handle these errors is to fallback to one of the interactive methods to acquire the token (which in this case should trigger MFA prompt). Take a look at the [documentation here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions?tabs=javascript#javascript-1).

[2020-07-13 16:29] tnorling commented on #1795
@rnarayana MSAL.js v2.0 uses the Auth Code flow. To use the implicit flow you would need to use version 1.x, the latest versions are 1.3.2 and 1.3.3-beta.0

[2020-07-13 16:33] reijam commented on #1009
I am also getting a timeout failure that is caused by attempting to renew a token from within my app but not at the root.  I am hoping that a workaround will be to test for timeout and then route to the root , renew and then return to the page in question to fetch data.

 If there is some reason why this solution will not work could someone please respond to this message.  It is a royal pain to fr

[2020-07-13 16:42] derisen commented on #1891
Hmm, I wonder how would you even initiate password reset without setting up the flow first. The URL you shared has the policy string `B2C_1_SSPR` -what is this policy? At any rate, here's the [tutorial to set up user flows](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows). Password reset is one of the defaults, so its quite easy to set it up.

[2020-07-13 16:59] tnorling commented on #1161
@daltondhcp This is unfortunately, not something Msal.js can fix. The X-Frame Options Deny error happens when you call `acquireTokenSilent` and the service is trying to display something in the hidden iframe, such as an error or expecting some interaction. Additionally there are some flows that are expected not to work with `acquireTokenSilent`, you can read more about that [here](https://github.c

[2020-07-13 16:59] #1161 closed

[2020-07-13 17:01] sameerag commented on #1258
`msal-node 1.0.0-alpha.1` is [released](https://www.npmjs.com/package/@azure/msal-node). Closing this as PRs from now will be tracked in dev released change logs.

[2020-07-13 17:01] #1258 closed

[2020-07-13 17:44] jo-arroyo commented on #1922
@dapathy Thanks for the information. This is something we're going to look at and follow up on.

[2020-07-13 17:46] jo-arroyo commented on #1939
@PraveenVerma17 Are you able to consistently reproduce this error? Can you please provide the steps you are taking that is generating this error? Please provide us with a code sample of how you're implementing msal.

[2020-07-13 17:47] horvay commented on #1188
Thanks a ton for fixing this! We could really use this fix soon, so the sooner it gets released on the npm beta/preview, the better for us!

[2020-07-13 17:48] jo-arroyo commented on #1938
@NhatDuy1407 What errors are you getting? Can you include logs from the MSAL logger?

[2020-07-13 17:51] jo-arroyo commented on #1937
@nasrnassar Hope the documentation helps. Please use our issue template in the future if you have further issues so we can attempt to reproduce the errors. Thank you.

[2020-07-13 17:51] NagaCSC commented on #1188
Thank you Jason for the help

[2020-07-13 18:00] jo-arroyo commented on #1936
@mderriey Thanks for bringing this to our attention. We will look into this and follow up if we need more information.

[2020-07-13 18:03] jo-arroyo commented on #1935
@DataHippo93 Can you please indicate which version of MSAL you are using, and also link to the documentation you are referring to?

[2020-07-13 18:07] jo-arroyo commented on #1934
@DibyodyutiMondal Unfortunately, this is a known issue with MSA accounts in B2C. We have already flagged this with B2C, but if you would like to track it directly, please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or addit

[2020-07-13 18:08] obfu5c8 commented on #1795
@tnorling Any estimates on when the regression fix will be going out?

[2020-07-13 18:20] jo-arroyo commented on #1932
@Ikaer Thanks for bringing this to our attention. We will look into it and follow up.

[2020-07-13 18:23] jo-arroyo commented on #1928
@cwalker-reveille Can you please provide screenshots of this behavior?

[2020-07-13 18:26] jo-arroyo commented on #1927
@lucafaggianelli Thanks for bringing this to our attention. We are working on updating our node samples and will follow up.

[2020-07-13 18:27] PraveenVerma17 commented on #1939
we already have login hint so we call aquire token redirect and also we need user to login always that's why we have prompt

this.authProvider = new UserAgentApplication(config);
 const account = this.authProvider.getAccount();

if(!account){
const tokenRequest = {
                ...this.apiTokenScope(response),
                prompt,
                loginHint: this.state.userEmail,

[2020-07-13 18:32] jo-arroyo commented on #1925
@Tim91084 There are known issues with login hint and guest users. Please try enabling the sid claim and passing that in your requests? Here are the instructions to enable sid: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

@mattrichard Does this error happen every time, or is it intermittent?

[2020-07-13 18:45] Jernik commented on #1795
Is there any update on an ETA for this release?

[2020-07-13 20:11] Tim91084 commented on #1925
@jo-arroyo, I am not passing the `loginHint`, the msal library is doing it.  I am happy to add `sid` as an optional claim, but this still seems like a legitimate bug against the library unless this limitation is specified somewhere in the docs.

Also it seems @mattrichard has already tried that and did not have success.

[2020-07-13 20:22] cwalker-reveille commented on #1928
@jo-arroyo . Here is the screen show showing the the behavior when invoking the .loginPopup().
![image](https://user-images.githubusercontent.com/46533015/87349809-ed5cd500-c524-11ea-8610-34c487feba2f.png)

[2020-07-13 20:25] philip-young opened #1941 "MSAL.js with B2C - verifying signout behaviour"
## Library
- [ ] `msal@1.3.0`

## Framework
React 16.8.3
## Description
I am using Msal.Js with a React app that utilizes Azure B2C with custom policies. I noticed that when you click logout in the app (which calls the msal logout() function) the log out seems to be successful. However, on subsequent visits to the app, you are taken to the B2C login page and when you click 'Work Account' (which I

[2020-07-13 21:24] Georgeoak opened #1943 "Can't Login to B2C tenant with msal-browser 2.x.x (empty_input_scopes_error)"
## Library
- [ ] `@azure/msal-browser@2.0.0-beta.3`
- [ ] `@azure/msal-browser@2.0.0-beta.4`

## Framework
VanillaJSTestApp2.0 default example.

## Description
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default
I'm using this default example with B2C tenant, it can redirect to B2C login page, after input user nam

[2020-07-13 21:52] mattrichard commented on #1925
@Tim91084 I'd recommend still adding the sid claim, especially when dealing with guest users. My issue might end up being a different issue.

@jo-arroyo I'll try to get back to you once I have more info, or will open a separate issue. I'm starting to think my issue is unrelated.

[2020-07-13 21:59] jasonnutter commented on #1925
We have heard about intermittent errors with `sid` (which is why we asked @mattrichard to clarify), but it should work otherwise.

[2020-07-13 22:26] sameerag opened #1944 "[msal-node] Update Device code flow to send a Response to the user"
Please follow the issue template below.

## Library
- [x] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description
- Update `DeviceCodeFlow` with `Response` processing
- payload names for `access tokens` are reported to be different, check this with AzureSDK

## Priority
high

## Acceptance Criteria
- Unit tests
- Sample works with `Response`

[2020-07-13 23:11] tnorling commented on #1943
@Georgeoak Thanks for reporting this. I was able to reproduce this and have a fix up in PR #1946. For now, until that is merged, you can pass a valid resource scope to your login request. Note that MS Graph is not supported in B2C scenarios so the examples you have shown are not expected to work without some additional setup.

[2020-07-13 23:32] Vince5555 commented on #1568
Does this fix the looping in IE11 between the app and MSAL?

[2020-07-14 04:43] dapathy opened #1951 "redirectUri not available on SilentFlowRequest"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@v2.0.0-beta.4
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
The docs for SilentFlowRequest mention a redirectUri property, but it's not available on the type.  Wil

[2020-07-14 05:46] rajesh-naik-by opened #1952 "B2C token validation by msal libraby"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`

## Description
I have a generic question about token validation from msal library for js, does msal library takes care of validating below attributes from the token? or is it a responsibility of consumer to validate the token?

- Signatu

[2020-07-14 08:02] mindcrash opened #1953 "Please decide over and communicate a new GA date for msal-browser 2.0"
## Library
- `@azure/msal-browser@2.x.x`

## Description
Since the original release window has been missed please update README.md with a new expected GA date.

We really would like to have this as input for our technology roadmap as it seems this version is a much better fit for SPAs/browser based apps than the current one.

[2020-07-14 09:55] nasrnassar commented on #1937
@jo-arroyo Apologies, I missed the template when adding my issue.
After going through the documentation link provided above and multiple failures, I filled the proper template below, hope this information sheds some light.

## Library
- [x] `msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Fram

[2020-07-14 11:28] abhsha opened #1954 "Issue with msal.js with Outlook AddIn in Outlook Client( version 2002)"
## Library
1.1.3

## Framework
React

## Description
Issue with msal.js with Office.context.ui.messageParent dialog api in Outlook Client( version 2002)

## Error Message
Dialog not closed with Outlook Client. Issue related to "Office.context.ui.messageParent" method.

## Security
NO

## Regression
Version:

## MSAL Configuration
NA

## Reproduction steps
[code]

## Expected behavior

## Browsers/

[2020-07-14 12:57] Georgeoak commented on #1943
@tnorling Thanks for your quick response.
Could you please give me more detailed info about valid resource scope to login request?
like below?
scopes: ["https://xxx.onmicrosoft.com/tenantId/openid",
    "https://xxx.onmicrosoft.com/tenantId/profile",
    "https://xxx.onmicrosoft.com/tenantId/user_impersonation",
    "https://xxx.onmicrosoft.com/tenantId/User.Read"],

You mentioned MS Graph API is

[2020-07-14 13:43] jenurius commented on #1765
@jmckennon .. Might not be related to this, but after this issue is been closed, I am seeing a weird error in Chrome Incognito mode alone (all of a sudden) related to this (might be related to this fix).

`InteractionRequiredAuthError: AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD.

[2020-07-14 14:27] ChiragRatra-0009 commented on #1650
Hey @tnorling @stephenstroud , have you guys found working solution for these policies ? I have been trying but still "NO".

[2020-07-14 14:41] PraveenVerma17 commented on #1932
I have observed in my MSAL is offline_access scope causes issue, you should remove that.

[2020-07-14 16:20] tnorling commented on #1943
In order to use MS Graph you would need to create an extra App registration on an AAD tenant and have that app registration do all your MS Graph calls. B2C cannot get tokens for MS Graph directly.

As for the scopes, `user_impersonation` might work you can give it a shot, but I would suggest creating a custom dummy scope on your app registration. `User.Read` won't work as it's a Graph scope, and `

[2020-07-14 16:33] tnorling commented on #1650
@ChiragRatra-0009 The root of this problem is that Msal appends certain information such as state to the request url and sets some temporary cache values used to verify the response. Due to this it expects that the /authorize request originated from msal, if it originated from somewhere else, such as an invite link, you will receive an error because the setup steps were not done. The way around th

[2020-07-14 16:35] DarylThayil commented on #1953
Thanks for reaching out.  We expect to cut 2.0 this week.  We were waiting on a server fix to get deloyed.
@pkanher617  cc   Updating read me now

[2020-07-14 16:38] DarylThayil commented on #1953
Updated readme with date of 7/20
Thanks for the feedback!

[2020-07-14 16:38] #1953 closed

[2020-07-14 16:43] stephenstroud commented on #1650
@ChiragRatra-0009   Extract the IdTokenHint and pass into the AuthenticationParameters object. This should get you going.

[code]

[2020-07-14 16:56] giancarlotech opened #1955 "I can not get Token when opening a dialog MatDialog => Angular Material"
## Library
- [ X] `msal@1.3.2` or `@azure/msal@1.0.0`
- [ X] `@azure/msal-angular@1.0.0`

## Angular 9

## Describe
I only have problems to get a new token when I try to open a Dialog, the dialog is from Angular Material, and as soon as the Dialog opens I am making some call requests, and if the token expired the error appears.

## Error
401 ERROR Authorization: Bearer null , the token I am gettin

[2020-07-14 17:11] philtweir opened #1956 "Logout without logoutRequest does not clear cache"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

Also visible in current dev branch.

## Description

Spotted when migrating from MSAL 1.x, where logout does not require a passed account: `PublicClientApplication.logout()` is not properly clearing the

[2020-07-14 17:14] philtweir commented on #1956
Temporary confirmed workaround for a single login: `client.logout(client.getAllAccounts()[0])` (plus necessary checks)

[2020-07-14 17:36] Georgeoak commented on #1943
@tnorling Thank you so much for the detailed explanation.

[2020-07-14 17:41] ranjanmicrosoft commented on #1816
I'm not setting the login_hint myself, I'm using this authentication library which fails in this scenario.
The code here lists checking how this behaves when the idtoken has no upn as a todo, which is the bug I think:

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/266c6e98c861b5cfb124647c04d377ebf8412087/lib/msal-core/src/ServerRequestParameters.ts

[2020-07-14 17:44] ranjanmicrosoft opened #1958 "AADSTS16000"
## Library
- [x] `msal@1.3.1` or `@azure/msal@1.x.x`
- [x] `@azure/msal-angular@1.0.0`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Description
Please see this link for additional info and solution. The same issue exists in MSAL and ADAL library.
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/580

The issue is specifically with MSA

[2020-07-14 17:51] #1931 closed

[2020-07-14 18:31] jasonnutter commented on #1188
Apologies for the delay, `msal@1.3.3` is available on npm, and should create fewer cookies, those cookies should be shorter in length, and should properly delete cookies when necessary.

[2020-07-14 18:35] jasonnutter commented on #1188
If you have further issues or questions around cookies, please open a new issue, thanks!

[2020-07-14 19:15] TimoWilhelm opened #1959 "handleRedirectPromise not working as expected when navigateToLoginRequestUrl is set to false"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
none

## Description
The `handleHash` method is hidden behind a check if the current url is equal to the

[2020-07-14 19:43] PraveenVerma17 commented on #1939
[code]

[2020-07-14 20:49] jo-arroyo commented on #1955
@giancarlotech Could you include your configuration for msal-angular and logs from the logger? Are you able to reproduce this error using one of our sample applications?

[2020-07-14 20:55] jo-arroyo commented on #1954
@abhsha More information would be helpful in diagnosing your problem. Please provide us with: what msal APIs you are calling, screenshots, any errors you are receiving, and any other potentially relevant information. Thank you.

[2020-07-14 20:57] jo-arroyo commented on #1952
@rajesh-naik-by MSAL does not perform any token validation itself. It is the responsibility of resources to validate all tokens that they receive.

[2020-07-14 20:58] pkanher617 commented on #1956
@philtweir The logic in #1919 should fix this issue.

[2020-07-14 21:13] philtweir commented on #1956
Many thanks

[2020-07-14 21:44] jo-arroyo commented on #1951
@dapathy Thanks for pointing that out. It was something we were considering for silent flow, but have since decided against it. If you need a redirectUri in case of a refresh token error, please use the redirectUri parameter in configurations.

[2020-07-14 21:47] dapathy commented on #1951
@jo-arroyo In the msal 1.x library, we could specify the redirectUri so that the iframe could point to an empty page.  Is that no longer necessary?  Thank you

[2020-07-14 22:01] pkanher617 commented on #1951
@dapathy Apologies I think this was an oversight. I will add the ability to specify this for iframe request.

To be clear, acquireTokenSilent in 2.x will only open an iframe if the refresh token is expired.

ssoSilent also opens an iframe, and accepts a redirect URI

[2020-07-14 22:02] #1922 closed

[2020-07-14 22:03] dapathy commented on #1951
Thank you

[2020-07-15 00:43] jo-arroyo commented on #1958
@ranjanmicrosoft You could try passing in a session id (sid) as part of the request. This is an optional claim that will help you bypass account selection, as detailed on the docs [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#automatically-select-account-on-azure-ad).

[2020-07-15 02:31] NhatDuy1407 commented on #1938
I will send you soon.

[2020-07-15 03:57] jacksonhart commented on #1891
Hi @derisen,

ok so that must be our pw-reset policy.
I changed it so the authority is switched and then loginRedirect is called instead of manually routing to the URl but exactly the same thing happens.

That is, it takes you to the reset page, but if you cancel or complete it breaks when you return.

(passwordAuthority: 'https://XX.b2clogin.com/XX.onmicrosoft.com/B2C_1_SSPR')

[code]

It seems o

[2020-07-15 04:04] Ikaer commented on #1932
@PraveenVerma17  same problem for me if I remove offline_acces.
I've initially added this scope because the request that fail each time is a grant_type "refresh_token". In order to have a refresh_token from the initial login response, I must add the scope offline_access.

without offline_access on login:
![image](https://user-images.githubusercontent.com/7936075/87501376-39139980-c65f-11ea-8c9e-c5

[2020-07-15 06:10] NhatDuy1407 commented on #1938
Please have a look the screenshot @jo-arroyo

![image](https://user-images.githubusercontent.com/5676740/87509782-79ddd380-c69c-11ea-80a6-370f0f5d953d.png)

[2020-07-15 08:01] jacksonhart commented on #1891
Thanks @derisen,

switching authorities and then logging in again instead of redirecting manually works.

The above was our pw reset flow.

I just have a question about handling the type 'access_token' in the callback.
In what situation does that occur? Its not something we are currently handling.
I.e. can I leave that block empty for now.

Cheers.

[2020-07-15 08:46] ChiragRatra-0009 commented on #1650
@stephenstroud @tnorling guys the way you explained things its really awesome. So just last query here , after sending the id_token_hint in extraquery parameter in authentication request what result could I expect , will it be id_token in query string or will it store the access_token in the session storage?

Thanks in advance.

[2020-07-15 11:05] madhugore1 opened #1965 "Not able to login from multiple accounts after moving to 1.x.x"
##  Library
- `@azure/msal-1.3.3-beta.0`
- `@azure/msal-angular-1.0.0`

## Framework
- Angular 9

## Description
- We recently upgraded the msal library version from 0.x.x to 1.x.x. Previously, the single sign on used to ask for the account selection through which user could select multiple accounts to log in to the application. After upgrading the msal library version to 1.x.x, **we observe that

[2020-07-15 12:11] moialbla commented on #1650
Hi everyone,
I have the same issue and I don't understand your workaround, could you explain to me with a better example?
Thank you in advance,

[2020-07-15 12:39] stephenstroud commented on #1650
@ChiragRatra-0009 I'm using a React wrapper [here](https://github.com/syncweek-react-aad/react-aad) which stores the access_token to localstorage.

[2020-07-15 12:52] stephenstroud commented on #1650
@moialbla There are a couple of parts of this to understand - this flow needs to be followed:  invite => app => ADB2C => app

When triggering the **invite**, the user should be sent directly to your **app** with some query parameters. The params should include id_token_hint. Your **app** will have a custom method that intercepts the query params and then constructs the ExtraQueryParameters argumen

[2020-07-15 13:44] alvipeo commented on #842
Shit, I just run into this :(

[2020-07-15 15:30] rfcdejong commented on #1867
I have the same issue, in our client app getting an access token works fine, but then acquire token silent (msal guard code) it says interaction is required, even just after login. It used to work. So I downloaded the sample code which also results into the same error as topic owner, the content dialog is not shown anymore even with own client id. Something has changed on the microsoft identity pr

[2020-07-15 15:38] svpoon opened #1966 "azure-msal-angular.js - unprotectedResources Array Issue"
## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
Inside azure-msal-angular.js, the following code is not quite correct:
[code]

Should the condi

[2020-07-15 16:04] jo-arroyo commented on #1966
@svpoon This is a known issue, and will be fixed soon. Thank you.

[2020-07-15 16:14] jo-arroyo commented on #1965
@madhugore1 You can pass `prompt=select_account` when you call `loginPopup` to prompt the user to select which account they would like to use.

[code]

[2020-07-15 17:52] #1943 closed

[2020-07-15 19:09] derisen commented on #1891
@jacksonhart glad you solved your issue : ) Can you remind me which callback is this? If you're talking about [this](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/blob/aff0ad7ce528561f7dfe211edfd8ec9842bbe44d/JavaScriptSPA/authRedirect.js#L39), then that's not something you have to worry in Msal-Angular. It's simply to check whether the token returned is an id

[2020-07-15 20:05] alvipeo opened #1967 "msal-angular 1.0, Google IdP - ClientAuthError: Token renewal operation failed due to timeout when user is signed in with multiple accounts"
"msal": "^1.3.2",
"@angular/common": "~10.0.3",

I set up Google as an external IdP and when user is logged in with multiple Google accounts in a browser then I get this error when trying to issue a request to my web API:

Here's the demo basically - [https://themoscow.video/demo/en/concerts](https://themoscow.video/demo/en/concerts). First, try to sign in with some Google services using multiple

[2020-07-15 20:50] erik-peterson-tql commented on #1877
I have the same issue. Is there a workaround?

[2020-07-16 09:15] devemanager commented on #1845
### How to fixed!
ERROR in node_modules/@azure/msal-angular/src/msal.module.d.ts:5:86 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).

static forRoot(config: Configuration, angularConfig?: MsalAngularConfiguration): ModuleWithProviders;

[2020-07-16 10:28] benc-uk commented on #1766
Any update? Still seeing idTokenClaims as a StringDict with string values, making accessing the _array_ of roles quite tricky

[2020-07-16 15:23] Mr230268 opened #1975 "msal-angular 1.0.0: update msal from 1.3.0 to 1.3.3 invalid_token error"
## Library
- [x] `@azure/msal@1.3.3`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Angular 8
## Description
After Update MSAL from 1.3.0 to 1.3.3 I get from the API-Server an 401 Unauthorized. If I install 1.3.0 of MASL everything is fine.

## Error Message
Bearer error="invalid_token", error_description="The audience 'xxxxxxx

[2020-07-16 15:36] damoodamoo opened #1976 "Broken links on microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#samples"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location
- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ X ] README file
-

[2020-07-16 15:42] SpicySyntax commented on #1069
Same problem as @betterliyu  and @crobin1

[2020-07-16 15:51] jasonnutter commented on #1766
@benc-uk We haven't a chance to address this, but you can try the workaround above to get an array for those values.

[2020-07-16 16:46] jo-arroyo commented on #1976
@damoodamoo Thanks for bringing this to our attention. We will update the sample links.

[2020-07-16 17:53] tnorling commented on #1877
@sundeep22 @er1k-peterson This was a bug, the fix of which has just been merged and will be included in the upcoming 1.3.4 release. This error was surfaced due to another error that occurred during login or token acquisition so you'll still need to figure out why your calls were failing. The fix will provide you with a more helpful error message, however.

[2020-07-16 18:54] pkanher617 opened #1979 "[msal-node] Remove default scopes from refresh and silent flows"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [x] `@azure/msal-node@1.x`

## Source
- [ ] Internal (MSAL.js team)
- [ ] Customer request

## Description
We have removed adding default scopes

[2020-07-16 18:54] pkanher617 commented on #1979
Refer to #1962 for `msal-browser` changes.

[2020-07-16 19:09] ranjanmicrosoft commented on #1958
i'm using the msal-angular library, not making these requests on my own. would i need to reimplement the MsalInterceptor to make that change?

[2020-07-16 19:15] #1583 closed

[2020-07-16 19:16] IainAdamsLabs opened #1980 "getAccountByUsername not matching"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

N/A

## Description

When trying to retrieve an account by username the account is not being returned. This is because it has been stored with a capitalised first letter 'Iain@xxx.com' an

[2020-07-16 20:08] #1742 closed

[2020-07-16 20:08] #1741 closed

[2020-07-16 20:08] #1737 closed

[2020-07-16 20:14] pkanher617 commented on #1956
#1919 merged

[2020-07-16 20:14] #1956 closed

[2020-07-16 20:14] #1951 closed

[2020-07-16 20:23] pkanher617 commented on #1843
Closing as this was resolved offline.  MSAL.js will not keep track of the currently signed in account - developers must track that themselves.

[2020-07-16 20:23] #1843 closed

[2020-07-16 23:32] jo-arroyo commented on #1941
@philip-young In regards to your first question, this is indeed the expected behavior. Calling logout removes the B2C session cookie, and the user is logged out of the B2C tenant, but the user is not logged out from their social IDP, so that they are not signed out of other websites which may also be logged in. B2C does not currently support federated logout.
From the [B2C documentation](https://d

[2020-07-16 23:38] jo-arroyo commented on #1967
@alvipeo Unfortunately, this a known issue that we have flagged with the B2C team. We will be tracking its progress in issue #1934, and will close this issue.

[2020-07-16 23:38] #1967 closed

[2020-07-16 23:50] tnorling commented on #1980
@IainAdamsLabs Thanks for reporting this! PR is linked to fix this and will make it into the next release.

[2020-07-17 01:47] #1928 closed

[2020-07-17 02:09] #1976 closed

[2020-07-17 03:05] #1980 closed

[2020-07-17 03:14] autodomme commented on #1795
Any further updates?

Do you know if ADB2C a supported option in the future, or is it going to be deprecated. The lack of support coming out of MSFT on this is concerning. It feels like a second class citizen.

[2020-07-17 03:29] #1932 closed

[2020-07-17 03:29] #1936 closed

[2020-07-17 03:41] daniel-chambers opened #1984 "getAllAccounts() treats any local storage entry with json as an 'account'"
## Library
- [x] `@azure/msal-browser@2.0.0-beta4`

## Framework
React

## Description
If the browser local storage contains any non-MSAL entries that have a JSON-shaped value, regardless of content, they are treated as "accounts", which effectively come through with all their properties as `undefined`.

## Error Message
Passing one of these accounts into any other API causes null reference except

[2020-07-17 07:53] crobin1 commented on #1069
I've noticed if you are already logged-in with your Azure AD account somewhere and then browse the web app secured by msal.js in the same browser session or another tab, it's stuck in "In Progress". But if you open  another window of the same browser and try again, it works. Closing completely the browser and reopening it work as well.

[2020-07-17 07:55] crobin1 commented on #1069
@JordanMarr Could you reconsider this issue and reopen it?

[2020-07-17 09:43] eastjie opened #1985 "Our Angular App with token "https://oursite.com/#access_token=eyJ0eXAi..." in a frame is refused because it set 'X-Frame-Options' to 'deny' in "web.config""
## Library
-  `msal@1.3.2`
-  `@azure/msal-angular@1.0.0`

## Description
Our web application is hosted on IIS runs without problem with Azure AD, but now, we have a requirement, that the web app should be prevented from "Clickjacking", so the following item is added in our app.

[code]
Then the error will be displayed after login by user.

I have searched some similar problem about 'X-Frame-Optio

[2020-07-17 11:32] Mr230268 opened #1986 "Get Login Error "Seamless single sign on failed for the user" for some users"
## Library
- [X] `msal@1.3.0`
- [ ] `@azure/msal-browser@2.x.x`
- [X] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Some users experiencing a problem with MFA when login. They get the error:

**InteractionRequiredAuthError: Seamless single sign on failed for the user. This can happen if the user is unable to access on premises AD or intranet zone is not configured

[2020-07-17 13:25] svpoon opened #1987 "After Popup, system failed to redirect back to original url"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

After the popup dialog for SSO login, the application get the account information

[2020-07-17 15:44] jasonnutter commented on #1795
Apologies for the delay. We absolutely support B2C, and a fix for the token endpoint CORS issue is currently being rolled out to AAD. We're waiting confirmation from the server team, we'll follow up when we know more. Thanks!

[2020-07-17 16:09] jo-arroyo commented on #1987
@svpoon Can you please clarify: is the popup not being closed? Please include a screenshot that describes the behavior you are describing.

[2020-07-17 16:18] jo-arroyo commented on #1986
@Mr230268 Can you please clarify which APIs you are calling that results in this error? Generally speaking, applications should handle InteractionRequired errors by invoking `acquireTokenPopup` or `acquireTokenRedirect`. Is your application doing this?

[2020-07-17 16:31] jo-arroyo commented on #1985
@eastjie MSAL.js v.1 implements the implicit flow which uses hidden iframes to silently acquire tokens. If your application cannot be loaded in an iframe, MSAL will be unable to silently acquire tokens. One possible mitigation in your scenario is to create a dedicated page to use as your redirect uri for silent operations (and that page can be a blank HTML page) and allow that page to be rendered

[2020-07-17 16:37] tnorling commented on #1932
@Ikaer To answer your questions:
1. `openid` and `profile` were being added to all requests, but the PRs linked removed these from the refresh flow. The cache lookups should be happening on what you pass to the library.
2. For now if you are using a B2C scenario you must include `offline_access` when you request tokens in order to get a refresh token. This is something we will be looking to change

[2020-07-17 16:45] svpoon commented on #1987
The popup is closed and I see the account information on my console log. But the application is not redirected back  and sit there doing nothing.

[2020-07-17 16:47] tnorling commented on #1069
@crobin1 Please open a new ticket and our livesite engineer would be happy to help you solve this. Thanks!

[2020-07-17 16:52] ranjanmicrosoft opened #1988 "Making use of multitenancy support"
## Library
- [x] `msal@1.3.2`
- [x] `@azure/msal-angular@1.0.0`

## Description
`getToken` gets a token for the default tenant, this does not appear to be configurable.

## Regression
- [x] Did this behavior work before?
Yes, this behavior works in ADAL.js. In that library, the `acquireToken` function takes a tenantId parameter as input.

## MSAL Configuration

[code]

## Reproduction steps
When a

[2020-07-17 17:12] jo-arroyo commented on #1984
@daniel-chambers This is a known issue that has been addressed in the PR linked above, and will be fixed in the next release.

[2020-07-17 17:12] #1984 closed

[2020-07-17 17:24] jo-arroyo commented on #1975
@Mr230268 This is a known issue that has been addressed in the PR linked above, and will be fixed in the next release.

[2020-07-17 17:24] #1975 closed

[2020-07-17 17:55] amng9560 opened #1989 "Getting Error for using loginRedirect with handleRedirectCallBack"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello,

I am trying to use "@azure/msal-browser": "^2.0.0-beta.4" for a React.js pr

[2020-07-17 19:46] ranierimazili-gft commented on #1986
I'm having the same problem with an React and React Native application.
I'm using react-adal which probably use msal for it's implementation.

[2020-07-17 20:01] #1959 closed

[2020-07-17 20:13] Mr230268 commented on #1986
@jo-arroyo
Maybe I'm doing something wrong. The app had before it's own user management but then we had to switch to AAD. We did it as simple as possible. It works now like this:

When the app starts the user press Login. A service then calls:

`this.msal.loginRedirect();`

The user enters the credentials and when it is a device outside our company a MFA is initiated. Everything runs well and the

[2020-07-18 07:00] Ikaer commented on #1932
@tnorling thanks for your answers and PRs.

Should I add `offline_access` to the scopes of my api when I'm requesting a token to access it so ?, does the cache will work even its not the same resource as my api scopes ?

Can you confirm me that the normal flow should be:
1. login to Azure AD B2C with scopes ['openid', 'profile', 'offline_access']
2. ask silently for an access token to the api with

[2020-07-18 09:21] mylle commented on #1712
This problem is still existing. Don't close this ticket.

[2020-07-19 15:00] eastjie commented on #1985
Thanks very much for your support. We have set  "x-frame-options" to SAMEORIGIN to solve our problem.

[2020-07-19 15:00] #1985 closed

[2020-07-19 20:52] harry12345678910 opened #1993 "Endpoint treated as unprotected resource"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
The endpoint is treated as unprotected resource and the token is not attached

` getScopesForEnd

[2020-07-19 23:24] ken5scal opened #1994 "msal-browser crashes before starting with an error `ReferenceError: window is not defined`"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
- none

## Description
- Importing `msal-browser` fails when  `BrowserUtils.ts:67` is called.

## Error M

[2020-07-20 04:21] PraveenVerma17 commented on #1939
@jo-arroyo  Is anyone from MS going to address this issue ?

[2020-07-20 06:09] danielzach commented on #1845
It's been a while since Angular 10 was released. The abovementioned build error is actually the only one after updating to Angular 10 in my case, so this is a blocker. Any update on this?

[2020-07-20 06:17] sameerag commented on #1944
#1947 fixes this!

[2020-07-20 06:17] #1944 closed

[2020-07-20 06:42] harry12345678910 commented on #1993
Hi,

sorry. It was obviously my fault. It works now. There must be a guard defined for the route. Then the token will be attached.

[2020-07-20 06:42] #1993 closed

[2020-07-20 09:35] Mr230268 commented on #1986
Hi,
I figured out what the problem is:
All users with this exception has 3rd party cookies disabled. There is a document about this problem:

[https://docs.microsoft.com/de-de/azure/active-directory/develop/reference-third-party-cookies-spas](url)

The error messages is maybe misleading or my understanding is not right. To prevent this, is one solution to add the authorization side from MS to the

[2020-07-20 14:07] rfcdejong commented on #1521
@tnorling while testing our own app I ran into this issue, on Edge.. it doesn't show the prompt and takes an account which was used before in the browser session. I expect always to see a selection screen to select an known account or add a new account credentials.

I'm using Angular 9 with "msal": "^1.3.2",
  login() {
    const isIE = window.navigator.userAgent.indexOf('MSIE ') > -1 || window.na

[2020-07-20 14:13] rfcdejong commented on #1521
@tnorling nevermind... now that I posted the code I see the mistake... if (isIE) is missing the loginRequest as parameters :)
Might be copy paste from samples or documentation, it all works better on Chrome!

It should ofcourse be:
[code]

[2020-07-20 14:30] philip-young commented on #1941
Thank you for the response @jo-arroyo and for confirming that. I was wondering about the behaviour of this.

I have submitted a ticket to B2C as you recommended regarding the second issue. I still have yet to hear back. I missed the part where you said I should link this GitHub issue, should I leave it open for now and reference it when they get back to me?

[2020-07-20 16:34] tnorling commented on #1932
@Ikaer You can actually directly request your API scopes in the login call. Unfortunately I don't believe, `offline_access` will be included in the scopes with the cached access_token so as a workaround for now you should include `offline_access` in the `extraScopesToConsent` parameter to make sure the cache lookups succeed and you are also able to get a refresh token when a renewal is needed.

[c

[2020-07-20 17:05] ranierimazili-gft commented on #1986
I was using "in private" mode on chrome and by default chrome disable third-party cookies for in private mode. After enable third-party for in private mode, it started to work.

[2020-07-20 17:17] jasonnutter commented on #1270
This has been added, closing.

[2020-07-20 17:17] #1270 closed

[2020-07-20 17:25] pkanher617 commented on #1994
@ken5scal Could you describe what app model you are attempting to employ? If you are using a single page application, then `@azure/msal-browser` needs to be added to whatever application you are running in the browser, not in the Express server.

If you are creating a server-side application, you should look at `@azure/msal-node` [here](https://github.com/AzureAD/microsoft-authentication-library-f

[2020-07-20 17:26] #1692 closed

[2020-07-20 17:28] reidbarber commented on #1994
#570
#558

[2020-07-20 17:28] pkanher617 commented on #1989
@amng9560 `handleRedirectCallback` was deprecated in favor of using promises through the `handleRedirectPromise` function. The tutorial needs to be updated to reflect this.

Please see our [usage](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#usage) docs here which will give you more info on how to [initialize the application for redirect scenarios](h

[2020-07-20 17:39] reijam opened #1996 "ClientAuthError null_or_empty_id_token when migrating from 1.3.2 to 1.3.3"
## Library
- [ ] `msal@1.3.3`

## Framework react but only using msal with no other libraries

## Description
package.json specified msal:^1.3.2 and therefore installed 1.3.3. and it generates a null_or_empty_id_token   ClientAuthError
When i use 1.3.2 by specifiying msal:1.3.2 it works properlyl

## Error Message
null_or_empty_id_token  ClientAuthError
## Security
- [ ] Is this issue security rel

[2020-07-20 17:42] jo-arroyo commented on #1988
@ranjanmicrosoft MSAL.js v.1 supports multiple authorities, either through passing a different authority to `acquireTokenSilent`, or by instantiating a new instance of `UserAgentApplication` with a different authority.

Please attempt the above and let us know if this does not work. Please also clarify which `getToken` API you are using?

[2020-07-20 17:52] jo-arroyo commented on #1987
@svpoon If you are calling `loginPopup` directly, MSAL will not redirect the user automatically. Your application will need to handle what happens when the login process has completed. This can be done by subscribing to the msal:loginSuccess event, or by using the promise returned by `loginPopup`.

Please see how this is done an Angular sample [here](https://github.com/AzureAD/microsoft-authentica

[2020-07-20 18:07] jo-arroyo commented on #1986
@Mr230268 It is expected that some operations in MSAL.js v.1 will not work properly with third-party cookies disabled.

Please clarify what this protected route is. Are you navigating a user to a page that is protected by the MSAL guard, or are you initiating a HTTP request?

Please also provide logs from the MSAL Logger. This will help us understand what is happening.

[2020-07-20 18:13] jo-arroyo commented on #1958
@ranjanmicrosoft Unfortunately, it is a known issue that you are unable to pass additional options to the `acquireTokenSilent` call made inside the MSAL Interceptor. This is something we are planning to address soon. For now, you can reimplement the MSAL Interceptor to be able to pass additional parameters to the `acquireTokenSilent` call.

[2020-07-20 18:29] jo-arroyo commented on #1939
@PraveenVerma17 When MSAL performs a redirect operation, it will store data in the cache (session storage) that is needed to process and verify the request. This error can occur if those values are missing or incorrect after completing the redirect. Can you please debug your application and share with us what is stored in browser storage after you initiate `acquireTokenRedirect`? You can do this o

[2020-07-20 18:34] svpoon commented on #1987
We do not call loginPopup. this plug-in handles all these automatically. But not sure we misses any of the setup. It will not redirect back to original url after entering userid/password.

[2020-07-20 19:12] tnorling opened #1999 "offline_access required to get a refresh token in B2C scenarios"
# Library
- [x] `@azure/msal-browser@2.x.x`

## Description
B2C service expects `offline_access` to be in the scopes list in order to issue a refresh token. Including `offline_access` results in a long lived refresh token being issued which is a security concern.

## Expected behavior
`offline_access` should not be required and all SPA apps should be issued a 24 hr refresh token
Service team is wo

[2020-07-20 19:16] tnorling opened #2000 "getAccountByUsername doesn't work in B2C scenarios"
## Library
- [x] `@azure/msal-browser@2.x.x`

## Description
The `preferred_username` claim is not present on `idTokens` coming from B2C, breaking `getAccountByUsername`

## Expected behavior
`idTokens` should contain `preferred_username` claim or some other identifier to disambiguate users

## Workaround
For now when an account is needed, users should call `getAllAccounts()` and select their desi

[2020-07-20 19:25] tnorling commented on #1935
@DataHippo93 Unfortunately `sid` is not available in `B2C` scenarios. The docs you linked are for `AAD` use cases, apologies for the confusion. Can you try passing `login_hint` with the user's username instead?

[2020-07-20 19:28] tnorling commented on #1781
Closing as the question has been answered and there has been no further activity. Let us know if you're still having issues.

[2020-07-20 19:28] #1781 closed

[2020-07-20 20:14] michaelmesser opened #2001 "loginPopup fails in mobile safari"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0-beta.4`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
In mobile safari `loginPopup` fails. I belief this is because `window.open` is called fro

[2020-07-20 20:30] tnorling commented on #1932
@Ikaer Following up as my previous suggestion to use `extraScopesToConsent` won't work as that is not part of the `SilentFlowRequest` object. For now please omit `offline_access` when you would like to retrieve the token from the cache and include it when you need to renew. I understand this is not ideal, but until the service is able to roll out a change for this, it's the only way to take advant

[2020-07-20 21:35] jo-arroyo commented on #1938
@NhatDuy1407 Is this error intermittent, or are you able to consistently reproduce it? Could you also provide the client-request-id from one of your requests?

[2020-07-20 21:45] jo-arroyo commented on #1937
@nasrnassar The logs seem to indicate that a popup window is opened. Did you observe that? Can you also provide the logs that happen before the error?

[2020-07-20 21:52] jo-arroyo commented on #1914
@sanderaernouts Could you please provide the logs from MSAL for the entire flow? Additionally, can you debug and share with us the values set in local storage after performing the first `loginRedirect` call? You can see this by opening the application in two different tabs and performing `loginRedirect` in one, while viewing the local storage in the other.

[2020-07-20 22:43] tnorling commented on #1653
Merged in #2002

[2020-07-20 22:43] #1653 closed

[2020-07-20 23:03] tnorling commented on #1810
@jimbarrett33 Can you confirm that `User.Read` was also included in the initial login request? It is expected that `acquireTokenSilent` would fail if you haven't first included the scope in an interactive request and consented to it. The only scopes Msal requests by default if none are provided are `openid` and `profile`

[2020-07-20 23:43] ivan7707 opened #2003 "React JS new app, wait for 2.x for auth code(PKCE) and B2C?"
## Library
- [ ] `@azure/msal-browser@2.x.x`

## Description
Hello, I am starting a new application using react and will ultimately be using B2C and AD.  I currently have 1.x working using the react aad repo.

If I am looking ultimately to use auth code with PKCE, can you give me some idea of whether I should be using the beta, start with implicit flow using 1.x (i.e. use react aad) or wait for 2.

[2020-07-21 00:54] tnorling commented on #1844
@jrmcdona Apologies for the delay, the bug causing undefined accounts was identified and fixed in #1919

[2020-07-21 00:54] #1844 closed

[2020-07-21 01:01] tnorling commented on #1607
Closing due to inactivity and service support options were provided. Please let us know if there is an issue with the MSAL library

[2020-07-21 01:01] #1607 closed

[2020-07-21 01:06] tnorling commented on #1724
Closing due to inactivity and no further action needed from the MSAL team

[2020-07-21 01:06] #1724 closed

[2020-07-21 01:10] #1658 closed

[2020-07-21 01:13] tnorling commented on #1889
Closing due to inactivity and the question was answered above. Please open a new issue if you have further questions

[2020-07-21 01:13] #1889 closed

[2020-07-21 01:14] tnorling commented on #1904
Closing due to inactivity and the question was answered above. Please let me know if the above solution does not solve your problem and I would be happy to reopen

[2020-07-21 01:14] #1904 closed

[2020-07-21 02:09] autodomme commented on #1795
So - I just got this update from a support call I raised...

"We have just received confirmation from our Technical Advisors that this is a known issue with some libraries. We believe that the client library has been updated and is now making an ajax call that doesn’t meet the criteria to be allowed by the browser and so ends up with an options call, that is **blocked by design**.

We have involve

[2020-07-21 02:36] tnorling commented on #1795
@autodomme No, that statement is not entirely accurate. This is not by design and unfortunately the fix that was deployed last week only fixed part of the problem. The service team is working on another fix which may take another week or two to roll out. We will update here when we have more information. Please know this is a high priority item for us and we are doing everything we can to expedite

[2020-07-21 03:44] Ikaer commented on #1932
@tnorling thanks for your advices and explanations, I will try that.

[2020-07-21 04:00] ken5scal commented on #1994
@pkanher617 supposed to be running in SPA environment. Probably that may be the reason. I will try it out

[2020-07-21 04:13] reidbarber commented on #1994
As mentioned above, it looks like you’re trying to run that on a Node server. Here are some issues where people ran into the same problem for reference:

#570
#608
#558

If you are trying to use msal on a server, try the alpha version of the package mentioned above or this 1.x version: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs

Otherwise, add msal-browser to the client pa

[2020-07-21 04:42] hrishy opened #2009 "How to obtain multiple access tokens for different audiences from one STS?"
## Description
How do we obtain multiple access tokens for different audiences from one STS?

I would like to obtain two access tokens for myWebAPI and microsoftGraphAPI to obtain the signed in user's photo.
The myWebAPI is also registered with Azure AD.

Since we cannot obtain an accesses token for any array of audiences

1. I first obtain the access token for myWebAPI .
2. And then i obtain the

[2020-07-21 05:59] nasrnassar commented on #1937
@jo-arroyo indeed a popup opens but closes immediately, and if i debug the code goes into the success function of "acquireTokenPopup" but when it tries redirecting to the guarded component that calls my .NET core api it throws the error.

[2020-07-21 06:28] Mr230268 commented on #1986
@jo-arroyo
I initiate a HTTP-Request. But it doesn't matter anymore.

For me it is closed because when I enable third party cookies everything works as expected again. I just leave it open to say that an error message with a hint to third party cookies would have saved me a lot of hours. This would be great.

I know now that we have to move to msal 2.X to solve this problem but the msal angular wr

[2020-07-21 07:50] jerryjili opened #2010 "Cached token not matching login hint for AAD third-party auth providers"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.x.x` => v1.3.2
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
typescript (SharePoint WebPart)

## Description

I was building a SharePoint Web Part, which needs to

[2020-07-21 07:52] jerryjili commented on #2010
@shwetashukla @deachyut could you please add details if necessary?

[2020-07-21 12:45] michaelmesser commented on #2001
So on mobile safari this fails:
[code]
but this works:
[code]

Both snippets are run in an onclick handler. So this issue can be fixed.

[2020-07-21 13:49] michaelmesser commented on #2001
[code]
For anyone who is looking for an immediate solution, if I call `windowHack` before `.loginPopup` it works fine.

[2020-07-21 15:07] baywet opened #2011 "msal node missing dist folder and types entry"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`
- [x] `@azure/msal-node@1.0.0-alpha.1`

## Framework
NodeJS + Express: you can see the code here https://github.com/microsoftgraph/nodejs-webhooks-rest-sample/tree/feature/msalnode

## Description
The package

[2020-07-21 17:46] derisen commented on #2009
Right, for separate resources you should request separate tokens (more detail in [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md)). Is storing the token in a variable in your app or manually saving it in the local storage not an option?

[2020-07-21 17:53] derisen commented on #1937
@nasrnassar just in case, are you observing this in other browsers as well? The blinking popup window issue sometimes happen on Chrome -try checking your javascript settings.

[2020-07-21 18:45] amng9560 commented on #1989
Thank you so much for your reply. That makes sense. I used the resources that you gave me and it works.

[2020-07-21 18:45] #1989 closed

[2020-07-21 18:54] sangonzal commented on #2011
@baywet Thanks for notifying us, you are right, this was a bug with the release process. The team has published v1.0.0-alpha.2, which should now work for you.

[2020-07-21 19:00] sangonzal commented on #2011
@baywet closing this issue as it's been resolved, but feel free to reopen in case of any other questions/issues.

[2020-07-21 19:00] #2011 closed

[2020-07-21 19:00] baywet commented on #2011
thanks for the reactivity, this is better indeed. Closing

[2020-07-21 19:05] baywet commented on #2011
@sangonzal FYI only people with contrib permissions and above can reopen an issue on any given repo.
![image](https://user-images.githubusercontent.com/7905502/88095779-a5146700-cb63-11ea-89f7-7699d9a802f8.png)

[2020-07-21 19:25] sangonzal commented on #2011
@baywet Oh interesting, didn't know that was the case. I will see if we can update this setting on the repository.

[2020-07-21 19:27] baywet commented on #2011
Yeah I don't think a lot of people know that. Having joined Microsoft fairly recently it is super frustrating from the outside when people close your things and tell you to reopen of you need, but you can't.

[2020-07-21 20:12] jo-arroyo commented on #2003
@ivan7707 MSAL.js 2.0 was actually released yesterday! Please see [this blog post](https://developer.microsoft.com/en-us/identity/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/) for our announcement, which also has links to the quickstart and tutorial.

However, we are still working on a CORS bug on the B2C endpoint. This is a priority for us, and we hope to have a

[2020-07-21 22:54] ivan7707 commented on #2003
Amazing!  Thanks.  Just to be sure, you are thinking about #1795 is the issues with CORS in 2.0 with B2C?

[2020-07-21 22:54] #2003 closed

[2020-07-21 23:41] jo-arroyo commented on #2003
@ivan7707 Yes, that's the right issue and it is being tracked and will be updated there.

[2020-07-21 23:54] jo-arroyo commented on #1996
@reijam Can you provide code snippets and what APIs you are calling, so that we can try to reproduce it?

[2020-07-22 00:22] jo-arroyo commented on #2010
@jerryjili Unfortunately there are known issues with guest users and login hints. Please try enabling the sid claim and passing that in your requests. [Here are the instructions to enable sid](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims).

Expressly providing sid in the request may also help with your second issue, so that the account on your do

[2020-07-22 01:21] rv90 opened #2016 "Unable to login to angular 9 application using msal v1.3.3 in chrome incognito mode"
Hi,

We are using msal library v1.3.3 in an angular 9 application and we are unable to login to the application in chrome incognito mode. We are using azure b2c authentication. Below is the configuration.

  auth: {
    clientId: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
    authority: 'https://login.microsoftonline.com/tfp/tenant/policyname',
    validateAuthority: true,
    redirectUri: 'http://lo

[2020-07-22 03:43] DibyodyutiMondal commented on #1934
Unable file a support request because I'm not on a paid plan. Additionally, I can only type in 140 characters.

[2020-07-22 03:45] DibyodyutiMondal commented on #1934
Will the new preview of msal (2.x.x) have these shortcomings? It doesn't work for B2C at all last I checked, though.

[2020-07-22 04:49] hrishy commented on #2009
Hi

Certainly access token can be stored in the local storage.
But what happens here is this
Get the token for my web api and store it in localstorage.
Get the token for my msgraph and when i do this it overwrites the token in
my localstorage and the key for this is weird

and i think that when azure delivers the token for msgraph it should not
overwrite my api token in localstorage no ?

regards

[2020-07-22 07:48] wojtek1150 commented on #1316
+1

[2020-07-22 14:30] corrspt commented on #2016
Latest Chrome (83) blocks third party cookies by default, I think the only solution Microsoft suggests is to switch to MSAL 2.0 which implements a new authentication mechanism.

I feel your pain as well

[2020-07-22 15:47] vlafranca commented on #2016
@corrspt  How to switch to MSAL 2.0 ?

[2020-07-22 16:13] jo-arroyo commented on #2016
@rv90 Unfortunately, it is expected that the library may not work correctly when third-party cookies are disabled. MSAL.js v2.0 mitigates those issues by switching to the auth code flow. MSAL-Angular has not yet been updated to work with MSAL 2.0, so in the meantime you can switch to using MSAL 2.0 directly if you no longer want to use MSAL.js v1.3.3.

@vlafranca Here are the steps to migrate to 2

[2020-07-22 16:23] jo-arroyo commented on #2009
@hrishy MSAL will automatically cache tokens based on the scope, which ensures that a request to get a token for MS Graph should not overwrite a cached token for your web API.

Can you please clarify if you are implementing token caching yourself or relying on MSAL to automatically cache tokens? Can you please provide the following information: version of MSAL, configuration, code you are using to

[2020-07-22 16:31] jo-arroyo commented on #2001
@michaelmesser Thanks for bringing this to our attention. We will look into it and follow up.

Another mitigation for this error is to call `loginRedirect` when you receive this error from `loginPopup`.

[2020-07-22 16:37] jo-arroyo commented on #1987
@svpoon Can you clarify: are you trying to navigate to a route that is protected by the MSAL guard? Please provide screenshots or a video demonstrating the behavior you are describing.

[2020-07-22 16:48] svpoon commented on #1987
All routes are protected by MSAL guard.
There is no manual redirect or call loginPopup.
I just followed the setup for MSAL plugin.
After I entered UserId/Password and the Miscrosoft dialog closed. The application is not redirecting automatically based on route on URL and sit there, doing nothing.

[2020-07-22 17:37] hrishy commented on #2009
Hi

I am using the OIDC library and I have configured it to persist tokens in
the localstorage of the browser.
And when i manually inspect the browsers localStorage I do see that it is
overwriting the value.

regards
Hrishy

On Wed, Jul 22, 2020 at 9:53 PM Jo Arroyo <notifications@github.com> wrote:

[2020-07-22 19:19] reijam commented on #1996
I will try ... i have been embargoed from releasing the entire module but a few lines might be ok.

Briefly what i do is

[code]

and then i call
[code]

[2020-07-22 22:04] jo-arroyo commented on #2001
@michaelmesser Can you verify what version of iOS you are running, and whether popups are allowed or disallowed for Safari? This can be found in Settings > Safari.

[2020-07-22 22:12] michaelmesser commented on #2001
@jo-arroyo iOS 13.5.1 and with Block Pop-up on

[2020-07-22 22:38] jo-arroyo commented on #2001
@michaelmesser We were only able to reproduce the above error when popups were blocked for Safari. Turning off Block Popups allowed `loginPopup` to work as expected.

However, we are investigating how we can allow `loginPopup` while still having Block Pop-ups turned on for Safari, and are taking your workaround into account.

[2020-07-22 22:41] pkanher617 opened #2018 "@azure/msal-browser should know interaction type of request when handling response"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [ ] Internal (MSAL.js team)
- [ ] Customer request

## Description

Currently if `handleRedirectPromise()

[2020-07-23 03:19] liupeirong commented on #2010
We have the same issue with B2B gmail users. Both our own apps and the javascript and react samples in this repo were working fine last month. We haven't changed our code. One app is using 1.3.1, the other, 1.3.2. They all stopped working recently.

Enabling `sid` didn't work for us. According to [this documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#autom

[2020-07-23 03:38] shwetashukla commented on #2010
@jo-arroyo is there any timeline when it would be fixed?

[2020-07-23 04:50] ken5scal commented on #1994
IC, after changing the app to SPA, it worked fine. Thanks!

[2020-07-23 04:50] #1994 closed

[2020-07-23 09:47] autodomme commented on #1795
Is there a rollback to a different version? I'm on 1.3.2 and it's happening there too.

[2020-07-23 11:51] flytiny opened #2019 "login error 'state_mismatch: State mismatch error' with msal-browser"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
@azure/msal-browser:2.0.0
## Description
We are a first-party app (I don't know if this information is important

[2020-07-23 11:56] anth-git commented on #1592
I'm still encountering "_Token renewal operation failed due to timeout_" error in v1.3.3.
It fails roughly 1 in 4 login attempts.

When it fails:
- **broadcastService** broadcasts _'msal:loginSuccess'_ event
- **msalService.getAccount()** returns valid account object
- **msalGuard.canActivate()** returns true

but at the same time:

- **msalService.acquireTokenSilent(...)** throws timeout error
-

[2020-07-23 13:43] vlafranca commented on #2016
@jo-arroyo thx for infos, unfortunately we are using B2C tenants, and 2.0 does not support B2C yet according documentation.
I ended up with executing `acquireTokenPopup` in case `acquireTokenSilent` fails. It's quiet a good solution as the popup has the same behavior as the iframe.

[2020-07-23 15:39] tnorling commented on #1795
@autodomme Msal version 1.x does not make CORS requests. If you are getting this error in a 1.x version you should take a look and see if anything else in your app may be adding headers to network requests. There's a great comment by another user on a different issue which details how he debugged this in his app. You can read that [here](https://github.com/AzureAD/microsoft-authentication-library-

[2020-07-23 16:01] Keen83 commented on #1996
Have the same error, but I use latest version of msal-browser package

[2020-07-23 16:10] abellisai commented on #1592
Me too, i'm still encountering this error when MSAL rise "monitorIframeForHash unable to find hash in url, timing out"

[2020-07-23 22:36] technical-boy commented on #1241
This issue is now being addressed in #2022 and will be solved and closed together with that PR soon.

[2020-07-23 23:57] #1660 closed

[2020-07-24 00:47] navzam commented on #1241
@technical-boy Awesome, thanks for the update. If I only need an ID token, is the recommendation still to use `ssoSilent()`?

[2020-07-24 01:41] technical-boy commented on #1241
Hi @navzam . Yes, until #2022 is merged, the previous recommendation of acquiring an ID Token through ssoSilent and then an access token through a separate acquireTokenSilent call is the most straight forward workaround!

[2020-07-24 05:14] ken5scal opened #2024 "Msal logout() method requires user interaction before clearing session"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
@azure/msal-browser@2.0.0

## Description
According to [this page](https://github.com/AzureAD/microsoft-authenti

[2020-07-24 06:13] autodomme commented on #1795
Thanks @tnorling - exactly the same issue. Application insights adding headers to the request!

[2020-07-24 06:18] riazXrazor commented on #1927
any progress yet i am getting this error

`{"errorCode":"invalid_client","errorMessage":"7000218 - [2020-07-24 06:15:57Z]: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.\r\nTrace ID: 268d0f07-42a4-4318-b1b9-e5d1933a1900\r\nCorrelation ID: 107611aa-3a1f-421d-869d-b8c3175226bb\r\nTimestamp: 2020-07-24 06:15:57Z - Correlation ID: 107611aa-

[2020-07-24 06:20] riazXrazor commented on #1927
![image](https://user-images.githubusercontent.com/13194363/88365479-cc597700-cda3-11ea-96ea-4829fa178534.png)
in the lib found that its in TODO
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/server/RequestParameterBuilder.ts

[2020-07-24 07:04] mkrrishk opened #2025 "Azure B2C - MSAL.js Session Behavior with Multiple Tabs"
## Library
- [x] `msal@1.3.2`

## Framework
MSAL.js - 1.3.2
Azure B2C Custom Policies
Vue.js - 2.6.10

## Description
We're using MSAL.js 1.3.2 for interacting with Azure AD B2C for a Vuejs SPA. MSAL.js config is set to use session storage for storing its cache. As per the documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#sso-between-browser-tabs) session i

[2020-07-24 07:14] lucafaggianelli commented on #1927
Ah I gave up and now I'm using passport azure ad

[2020-07-24 07:25] vaughanh1 commented on #1683
I have mentioned this issue due to receiving this error with the latest version 2.0.0 of msal 2 (msal-browser). Please see my initial comment in:
https://github.com/MicrosoftDocs/azure-docs/issues/59656

[2020-07-24 07:26] vaughanh1 commented on #1795
I have mentioned this issue due to receiving this error with the latest version 2.0.0 of msal 2 (msal-browser). Please see my initial comment in:
https://github.com/MicrosoftDocs/azure-docs/issues/59656

[2020-07-24 08:30] ktikku opened #2026 "How to fetch token from cache(sessionStorage)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
How can I fetch token stored in cache using `acquireTokenSilent` method?
In my case,

[2020-07-24 12:13] bkoliba commented on #1437
@jasonnutter I have been experiencing this same 'X-Frame-Options'='deny' error when trying to acquireTokenSilent I figure I'll post my findings on what the root cause was for me and how I am resolving it. In my case with the identity provider I was using (Google, should be the same for the other providers but haven't tested yet) this error will only occur for me when my browser/cookies are manging

[2020-07-24 12:35] moialbla commented on #1650
Hi everyone,
I found a solution, maybe not the best solution, but it works. I've forced the login reload when the library throws an exception.
Below the code:
I hope this helps someone.

`const config = { ..... msalConfig };
let authAgent: Msal.UserAgentApplication;

initAuthorization () {
    try {
      authAgent = new Msal.UserAgentApplication(config );
      //creates you own msal authcallback

[2020-07-24 14:46] llakhani commented on #1592
Yes, I'm facing same issue - 'token renewal operation failed due to timeout token renewal failed'. Any update ?

[2020-07-24 16:26] jo-arroyo commented on #2019
@flytiny Is this issue intermittent or easily reproduced? Can you please share with us a fiddler trace of this behavior? Please feel free to share over email or Teams.

[2020-07-24 16:30] jo-arroyo commented on #2009
@hrishy Is this the library you are using? https://github.com/IdentityModel/oidc-client-js

[2020-07-24 16:33] tnorling commented on #1683
@vaughanh1 Please open a new issue if you are not able to get this to work. As mentioned above this was fixed in version 2.0.0-beta.3

[2020-07-24 16:34] jo-arroyo commented on #1996
@reijam Are you able to provide logs from the logger?

[2020-07-24 16:35] jo-arroyo commented on #1996
@Keen83 Please open a new issue using one of our [pre-configured templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose), specific to msal-browser. Thank you!

[2020-07-24 16:37] ZacharyHiggins-dbMotion commented on #1592
This is occurring for our project as well. Is there any additional information we can provide? Increasing the timeout does not resolve the issue. Logging in is fine, but fails when calling our function app API from the site.

[2020-07-24 16:39] tnorling commented on #1795
@vaughanh1 Unfortunately as this is an issue with the service, there is no workaround except to disable CORS in your browser. One way to do this is to create a new Chrome shortcut and add the following flags to the end of the target field `--disable-web-security --disable-gpu --user-data-dir=~/chromeTemp` This workaround is working fine for me using the latest release. Please open a separate issue

[2020-07-24 16:45] jo-arroyo commented on #1987
@svpoon Which page is the user on when `loginPopup` is triggered, and how does the user arrive at that page? And which page would you like the user to be redirected?

[2020-07-24 16:48] jo-arroyo commented on #1986
@Mr230268 Thank you for the feedback. We'll take this into consideration.

[2020-07-24 16:48] #1986 closed

[2020-07-24 16:56] jo-arroyo commented on #1937
@nasrnassar Is this only happening in Chrome Incognito? Does this happen in a normal Chrome window as well?

[2020-07-24 17:13] vaughanh1 commented on #1795
Hi @tnorling, thanks for replying. Perhaps my issues are to do with the overall configuration of things. I have tried both Chrome (with those exact same arguments and also ran Firefox with security.fileuri.strict_origin_policy set to false.

Please can you share your configuration steps to ensure my configuration is correct?

Here is what I did:

1. Created my B2C tenant
2. Registered a **Webapp**

[2020-07-24 17:22] tnorling commented on #1795
@vaughanh1 Your `knownAuthorities` value should be changed slightly to be just the domain like so: `knownAuthorities: ['tenantname.b2clogin.com']`, I suspect that's why you're getting the Invalid Authority error. Apologies for the confusion, I know there's documentation in the pipeline for this but unsure if it's been merged yet, I'll be sure to follow up on that.

[2020-07-24 17:27] ken5scal opened #2027 "msal-browser should have an option not to store access token/refresh token"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
If the purpose of msal-browser is only for OIDC Federated login, then access token a

[2020-07-24 17:54] svpoon commented on #1987
It is just the main page of my web site, like http://localhost/myApp.  Once user entered their credential and click OK. It should display what is in the web page (there are some API calls to get some data).

This is a very simple and straightforward scenario.

[2020-07-24 18:10] jmckennon commented on #1869
Closing this as we're assuming this has been solved due to inactivity. Please open a new issue if you have further questions. Thanks!

[2020-07-24 18:10] #1869 closed

[2020-07-24 18:12] jmckennon commented on #1346
#1907 solves this, just waiting on a few cache changes to merge.

[2020-07-24 18:14] jmckennon commented on #1347
Closing in favor of #1346 in 2.0

[2020-07-24 18:14] #1347 closed

[2020-07-24 18:31] vaughanh1 commented on #1795
@tnorling No way! I cannot believe it, that setting for knownAuthorities was exactly it. Would not have guessed to drop the 'https://'. I can confirm that using the CORS override setting in the browser now works. Hopefully, the team on the B2C side can now get it fixed ASAP.

Looking forward to getting that update when it drops.

Many thanks again,

Vaughan

[2020-07-24 18:48] ariffadhillah commented on #1869
ok, thanks for the information, i forgot to tell you, because i just checked it yesterday,

[2020-07-24 19:05] vaughanh1 commented on #1683
Not to worry. Thanks to @tnorling, he pointed we out that my configuration of the know authorities field should not have the 'https://' at the start. Thanks again.

[2020-07-24 19:18] jo-arroyo commented on #1934
@DibyodyutiMondal MSAL 2.0 is intended to support B2C, but we are currently working on some bug fixes. We are tracking this internally and will post an update here when it is available.

[2020-07-24 20:16] jo-arroyo commented on #2026
@ktikku What scopes are you consenting to in your initial login request? If you are silently requesting scopes that are not in the cache, it will result in a cache miss.

[2020-07-24 20:35] jo-arroyo commented on #2027
@ken5scal msal-browser is meant to support authentication code flow for single-page applications. If you are looking for federated login and you don't need the access token, msal-core uses the implicit flow and supports that. However, customized storage for msal-browser is something that we are looking into.

[2020-07-24 20:50] philtweir commented on #1795
(Specifically for testing) can confirm that, overriding the token URL with a proxy as a workaround for this, B2C otherwise works fine -- that let us check and confirm the flow works on iOS 13 (iPhone 6s), so this should be the final blocker for iPhones & B2C.

[2020-07-24 23:54] #1738 closed

[2020-07-25 04:23] nasrnassar commented on #1937
@jo-arroyo if I'm already logged in to my microsoft account it doesn't happen.
@derisen it's not JavaScript setting but might be browser related. We're investigating if something is blocking the request from completely going through. Will update you on Sunday as soon as I find out.

[2020-07-25 04:51] riazXrazor commented on #1927
I manually post request the data it worked.

[2020-07-25 05:38] ken5scal opened #2031 "Authorization Request always come with scopes = [openid profile] even though specifying scopes = [] in the code"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
@azure/msal-browser@2.0.0

## Description
Request objects without scopes defined construct authorization requests having `scope=[opened profile]` parameter.

[code]

## Error Message

## Security

[2020-07-25 05:39] ken5scal commented on #2027
@jo-arroyo thanks for your response. I understood.

[2020-07-25 05:39] #2027 closed

[2020-07-25 06:15] DibyodyutiMondal commented on #1934
Initial testing seems to suggest that signing in to live.com works but it's facing the same CORS issue as #1795
Will need to test further to confirm that

[2020-07-25 07:57] jacksonhart commented on #1891
Great thanks @derisen.

[2020-07-25 07:57] #1891 closed

[2020-07-25 10:54] jrmcdona commented on #1892
@jasonnutter I could just manually copy over the types for now but this may be something you want available for people using trying to get SSR to work which means no loading of @azure/msal-browser

[2020-07-25 19:35] oscarcosta commented on #2001
I'm experiencing the same behaviour on the latest Firefox.

[2020-07-25 19:56] dsosunov commented on #1795
Colleagues, if there any updates when the token endpoint will support CORS for B2C?

[2020-07-26 07:45] ktikku commented on #2026
I'm consenting the following scopes: `scopes: ['openid', 'profile', 'offline_access', 'user.read', 'email']` while login.
After login whenever I try `acquireTokenSilent`, it results in a cache miss and it fetches the token from the token endpoint.

[2020-07-26 17:03] jimbarrett33 commented on #1810
@tnorling user.read is NOT included in the initial login request. That is really the crux of this issue. If I supply the following configuration MsalAngularConfiguration, `user.read` is not included in the scopes request.

[code]

here is the url request (with some params omitted for brevity):
[code]

[2020-07-27 04:57] ktikku commented on #2026
okay, it's working as expected now.
Thank you!

[2020-07-27 05:04] ktikku commented on #2026
@jo-arroyo
Whenever I provide `offline_access` as a required scope, it results in cache miss, and fetches token from the token end point.

[2020-07-27 06:29] anth-git commented on #1592
I logged the value of the **href** variable in the **monitorIframeForHash** function.

When it works:
[code]

When it doesn't work:
[code]

The problem might be with the POLLING_INTERVAL_MS. If I increase it from the default 50ms to 500ms I'm not able to sign in whatsoever. If I decrease it to 5ms, it seems to be working every time.

[2020-07-27 09:59] kyro38 commented on #1669
When do you plan to publish it on npm ?

[2020-07-27 13:44] jrmcdona commented on #1669
@kyro38 it has been on NPM for a long time.

[2020-07-27 13:44] jrmcdona commented on #1669
npm install @azure/msal-browser

[2020-07-27 14:33] ZacharyHiggins-dbMotion commented on #1592
Can you share how this was changed?

[2020-07-27 16:01] jasonnutter commented on #1592
This would indicate that something is changing/removing the hash before the library has a chance to parse it. Are you using hash routing in your Angular application?

[2020-07-27 16:04] ZacharyHiggins-dbMotion commented on #1592
Regardless of @anth-git 's answer. We are having the same issue and using hash routing. It's required for our angular project to work correctly with Azure Static Web Apps Preview (justifying our reasoning).

[2020-07-27 16:12] jo-arroyo commented on #2031
@ken5scal Adding openid and profile to scopes is expected behavior, and we are currently working on adding documentation that explains this.

[2020-07-27 16:17] jo-arroyo commented on #2026
@ktikku Can you tell us what happens when you don't provide `offline_access`?

[2020-07-27 16:24] jo-arroyo commented on #2025
@mkrrishk Unfortunately, this is a known issue with B2C service, where `login_hint` isn't being forwarded to the B2C IDP. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github

[2020-07-27 16:34] jo-arroyo commented on #2024
@ken5scal Thanks for bringing this to our attention. We will look into it and follow up.

[2020-07-27 17:40] anth-git commented on #1592
@ZacharyHiggins-dbMotion I changed it in node_modules\msal\lib-es6\utils\WindowUtils.js (obviously just for investigation purposes)

@jasonnutter Yes, I'm using hash location strategy in the Angular app.

[2020-07-27 17:57] Jernik commented on #1795
@philtweir Thanks for that workaround, it works for us to create a proxy endpoint as well.

[2020-07-27 19:14] anth-git commented on #1592
I turned off the hash routing and the behavior is the same, so I don't think it's related to the routing strategy.

[2020-07-28 02:54] harinivedala opened #2034 "MSAL-Angular JS logout not working as expected"
We recently had to update our forms based authentication to use MSAL-AngularJS to authenticate against Azure AD in a production application for various reasons. We also have a requirement to enable 15 minute user inactivity session timeout. I used the ng-idle plugin to go about it. It is working as expected, except that the auto logout functionality is displaying a window that displays the signed

[2020-07-28 03:21] harinivedala opened #2035 "Msal-AngularJS logout is not working as expected"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.2.2`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular JS 1.7

## Description
We recently had to update our forms based authentication to use MSAL-AngularJS to

[2020-07-28 05:47] DibyodyutiMondal commented on #1967
I faced the same issue. I solved this (for v1.3) by passing in login_hint to to Google idp, like so:
![image](https://user-images.githubusercontent.com/50345677/88622518-9debdc80-d0c0-11ea-9353-db326d9c1dde.png)

Then in my outputClaims in the same TechnicalProfile, I used a separate claim `preferred_username` with PartnerClaimType as `email` and then passed that claim out in the token from the re

[2020-07-28 06:34] ktikku commented on #2026
@jo-arroyo When I don't provide `offline_access` while logging in, calling `acquireTokenSilent` returns the access token from the cache, sessionStorage in my case.

[2020-07-28 06:41] nasrnassar commented on #1937
closing this issue, it was our network preventing the request from going properly. Sorry for any inconvenience and Thank you for your support

[2020-07-28 06:41] #1937 closed

[2020-07-28 07:03] anth-git commented on #1592
I think I managed to get it working even for the high POLLING_INTERVAL_MS values:
[code]

[2020-07-28 07:37] vladkasianenko opened #2036 "After migrating from 0.x to 1.x msal protected resources called with id_token instead of access_token."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

After migrating from `msal@0.2.2` to the `msal@1.3.3` I have different tokens.
There were no change

[2020-07-28 09:43] abellisai commented on #1592
Hi @anth-git
Thanks for your suggestion testing on my personal env, it works!

[2020-07-28 11:03] vaughanh1 opened #2037 "Using msal-browser with B2C"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hi,

I am trying to understand how to use msal-browser (released version 2.0.0).

Ha

[2020-07-28 11:26] ArtemSkliar commented on #1840
To solve this problem the following jest config settings helped me

[code]

[2020-07-28 11:48] hoharald opened #2038 "Protectet API would not be authorized if angular routs are part of the API URL"
## Library
- [x] `@azure/msal-angular@1.3.3`

## Description
In my case the angular frontend endpoints match API request URLs in some wording. So the API calls would fallback to unprotected and won't get an authorization header (token) as expected cause of this methode in msal.service.ts.

[code]

unprotectedResources contains a list of all my angular router endpoints:

- costs
- collect
- schedul

[2020-07-28 13:24] oyvindo opened #2039 "(MFA) Outlook add-in. userAgentApplication.loginPopup works in OWA, but not in Outlook"
## Library
- [x] `@azure/msal@1.3.3`

## Description
I am authentication an outlook add-in with msal (MFA)
Using @eirikb 's replacement hack for userAgentApplication.openPopup, everything worked fine calling userAgentApplication.loginPopup(tokenRequest), both in outlook and OWA.
After the latest fixes from the msal team, this hack is no longer required in OWA as long as pop-ups are enabled in the

[2020-07-28 13:38] alexandermainz commented on #1222
We have the same issue here after upgrading to MSAL Angular version 1.x.x.

When will this be fixed?

[2020-07-28 13:59] ZacharyHiggins-dbMotion commented on #1592
https://angular.io/api/router/InitialNavigation

This makes sense. Nice find. I'm testing this locally as well. So far so good. Will follow up tomorrow (unless the problem returns before then) with an update. Thanks!

[2020-07-28 14:18] stephlocke opened #2040 "The TypeScript sample app doesn't start due to lack of exported function"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Vanilla install of npm & node 12 lts on wsl

## Description
Trying to run the TypeScript sample results in an error
## Error Message
[code]

## MSAL Configuration
No config - just basic launching

[2020-07-28 14:26] HockeyJustin commented on #1656
@pkanher617 - re your comment on 14th May - are B2C tenants now supported please?

[2020-07-28 14:31] madwomanx opened #2041 "How do you get the ID Token ?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I know you can get access tokens with `aquireTokenSilent` , but how do you get the

[2020-07-28 14:57] HockeyJustin opened #2042 "Preventing 3rd Party Cookies block when using MSAL Angular (1.x)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `@azure/msal-angular@1.x.x`

## Description
I have created an application using `@azure/msal-angular@1.x.x`  (1.0.0-beta.5).

This has been fine for local development, but in iOS (everywhere), private browsing and other machines, there is an issue of 3rd party cookies being

[2020-07-28 15:34] HadyAllam opened #2043 ""@azure/msal-angular" has missing dependencies msal"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
@azure/msal: "^1.3.1"
@azure/msal-angular: ^1.0.0
## Framework
Angular CLI: 9.1.11
Node: 12.16.2
OS: win32 x64
Angular: 9.1.1

[2020-07-28 16:02] jasonnutter commented on #1592
Yes, preventing navigation when you are in an iframe is a way to mitigate the behavior from the router that removes the hash. We show a similar workaround in the samples, but we'll make sure this is better documented.

[2020-07-28 16:06] jasonnutter commented on #1222
@alexandermainz Timeouts can happen for many reasons. Are there errors in the browser console or in the MSAL logs? Are you using [hash routing](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1592#issuecomment-664818059)?

[2020-07-28 16:22] jo-arroyo commented on #2043
@HadyAllam This is expected behavior as MSAL.js is a peer dependency of `@azure/msal-angular`, which means your application needs to install `msal` directly. When you install `@azure/msal-angular`, you should install msal at the same time. https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#installation

[2020-07-28 16:22] #2043 closed

[2020-07-28 16:27] tnorling commented on #2037
@vaughanh1 To answer your first question regarding the `username` in the `AccountInfo` object, this is a known issue which we are actively looking into. If you just need to get the account object you can call `getAllAccounts()` and then find the account you need from the returned array. If you are only signing in one user at a time this should only contain a single element.

If you need access to

[2020-07-28 16:29] jo-arroyo commented on #2042
@HockeyJustin We're aware of the issues with 3rd party cookies with `msal-angular` as it still depends on MSAL.js 1.0. We will upgrade `msal-angular` to work with MSAL.js 2.0. However, that work has not yet been scheduled. We will update our roadmap when we schedule that work. For now, you can use MSAL.js 2.0 directly if you need to use the auth code flow.

[2020-07-28 16:36] jo-arroyo commented on #2038
@hoharald This is a known issue that we are addressing soon. Closing as this is a duplicate of #1695 and progress is being tracked there.

[2020-07-28 16:36] #2038 closed

[2020-07-28 16:39] jo-arroyo commented on #2034
Closing as is duplicate.

[2020-07-28 16:39] #2034 closed

[2020-07-28 17:38] alvipeo commented on #1967
Hi!

I opened a ticket for Azure AD B2C team, they're working on it.

[2020-07-28 19:18] dvguo opened #2044 "msal-node "No 'Access-Control-Allow-Origin' header is present on the requested resource." error when redirecting to URL returned by getAuthCodeUrl()"
## Library
 [X] `@amure/msal-node@1.0.0-alpha.3

## Description
I'm currently working on using the silent-flow to get my token silently. I've read through the following #[doc ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/request.md#silent-flow
)and [sample code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/

[2020-07-28 20:39] AndriiDidkivsky opened #2047 "protecteResourceMap replacement in msal-browser"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
I'm working on migration angular project from msal-core to msal-browser.
Does msal-browser suggest something instead of protectedResourceMap because i can't find something similar in the docum

[2020-07-29 00:02] jo-arroyo commented on #2040
@stephlocke Thanks for bringing this to our attention. We are working on correcting this and will follow up.

[2020-07-29 00:27] jo-arroyo commented on #2041
@madwomanx An idToken can be obtained with `acquireTokenSilent` by passing in `openid` and `profile` as scopes. This will cause `acquireTokenSilent` to respond with both the graph access token as well as an idToken, as any call that has `openid` and `profile` as scopes will receive an idToken for the user. Please see our docs on this topic [here](https://github.com/AzureAD/microsoft-authentication

[2020-07-29 06:05] bzivyon commented on #815
I tried to do that too, but still got _invalid signature_
@funcelotwork @fippli Can you detail exactly how you were able to correct the token by changing the value?
If anyone has an example in nodejs it would be perfect

[2020-07-29 06:19] hrishy commented on #2009
Yes jo-arroyo I am using that client oidc-client": "^1.10.1"

[2020-07-29 07:27] Dolevco opened #2050 "Login redirect loop when page url is different than the redirect url"
## Library
- [x] @azure/msal-browser@2.0.0

## Framework
React

## Description
We are using this code:
[code]

and it works fine when the page url is the redirect url. but when other url is triggering the redirect, we are getting into redirect loop.
I found a workaround for that by changing the redirect function to that:
[code]

## Error Message
interaction_in_progress: Interaction is currently in

[2020-07-29 09:07] HockeyJustin commented on #2042
@jo-arroyo . Thanks for getting back to me.

This is a big issue for us. Looking at the [MSAL.js 2.0 sample](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-javascript-msal-singlepageapp/active-directory-b2c-javascript-msal-singlepageapp/), I would almost need to make my own version of `msal-angular` to get this to work within the angular ecosystem (e.g. Route Guards et

[2020-07-29 10:08] madwomanx commented on #2050
This is affecting me as well.

[2020-07-29 10:12] Codeluck opened #2051 "CORS-related error when returning back from B2C sign in policy page"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

## Description
I've got CORS-related error when getting back from Azure AD B2C sign in policy page. I think the system is trying to retrieve token but CORS is blocking it for some reason. Do you

[2020-07-29 10:32] piotrduperas commented on #1592
Hello @jasonnutter !
We are experiencing the same problem. This is one of our logs from console:
`Wed, 29 Jul 2020 09:42:43 GMT:1234-1.3.3-Verbose-pii RenewToken scope and authority: https://<our.scope>|undefined`
I have investigated this `undefined`, it is a `request.authority` field, but I was unable to trace it further.

We have found that this can be caused by MsalGuard on redirect page, but r

[2020-07-29 11:09] anth-git commented on #1592
@piotrduperas Strange it doesn't work. It's pretty foolproof for me now.
Do you use approach described in https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-avoid-page-reloads ?
Also make sure you don't call any msal methods (like loginRedirect, acquireTokenSilent) in the iframe.

[2020-07-29 12:41] #2041 closed

[2020-07-29 12:51] dvguo commented on #1927
@riazXrazor Hi how did you solve the issue? I'm having the exact error after singing in and about to get the access token.

[2020-07-29 13:13] piotrduperas commented on #1592
@anth-git We are observing that this approach works on Firefox, but on Chrome and Edge it works only sometimes, however, checking "Disable cache" in Dev Tools results in much rarer occurrences of this error. We tried to use some interceptor that sets browser flags concerned about cache, but it did not work as well.

[2020-07-29 14:16] mbrevda opened #2052 "ReferenceError: window is not defined break SSR"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
n/a
## Description
When trying to SSR the code, `window` not being defined causes the SSR to fail

## Error Mess

[2020-07-29 15:07] AndriiDidkivsky commented on #2050
I faced same issue in Angular env with msal-browser 2.0 and solved it with `navigateToLoginRequestUrl: false` and set `redirectUri` to the page that doesn't require authentication.

As I understand error happens because I redirect to IDP in the guard if there is no account but due to handleRedirect runs after the guard i fall in the infinite redirecting loop.

[code]
In msal 1.0 was  urlContainsHa

[2020-07-29 16:11] jo-arroyo commented on #2052
@mbrevda This is a known issue that we intend to fix. We will follow up when we have done so.

[2020-07-29 16:13] mbrevda commented on #2052
I hate to ask, but can you give a unit of measure for an ETA (days/weeks/months)?

[2020-07-29 16:28] jo-arroyo commented on #2050
@Dolevco A redirect loop can occur if your application is attempting to check if the user is logged in before the `handleRedirectPromise` (which processes the redirect response) has completed. Please see our sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/auth.js#L19).

Is your application callin

[2020-07-29 16:37] jo-arroyo commented on #2047
@AndriiDidkivsky msal-browser does not have an API for `protectedResourceMap`, so you will need to implement this logic yourself until we are able to upgrade msal-angular to use MSAL.js 2.0.

[2020-07-29 16:45] jo-arroyo commented on #2052
@mbrevda Unfortunately, we are not able to give a more specific timeline yet, but we would like to have this fixed soon.

[2020-07-29 16:50] madwomanx commented on #2050
The issue occurs when you have an if statement that calls `loginRedirect` when the user is not logged in and you landed on a page that is not the redirect URI. I think this is because MSAL redirects back to the captured state before the first redirect occurred, but this redirect fails because the application code also called . `loginRedirect`, so you end up in a redirect loop.

[2020-07-29 16:56] jasonnutter opened #2053 "Fix function signatures for getAllAccounts and getAccountByUsername"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

Today, the signatures for `PublicClie

[2020-07-29 16:59] jasonnutter opened #2054 "Allow request objects for loginRedirect and loginPopup to be optional"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

The request objects passed to `Public

[2020-07-29 17:02] jasonnutter opened #2055 "handleRedirectPromise throws a state mismatch error when it is invoked multiple times"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

If an application invokes `handleRedi

[2020-07-29 17:06] jasonnutter opened #2056 "Add an event API to MSAL Browser"
Please follow the issue template below.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Upcoming Library
- [ ] `@azure/msal-node@1.x`

## Source
- [x] Internal (MSAL.js team)
- [ ] Customer request

## Description

MSAL Browser should expose a set of A

[2020-07-29 17:10] madwomanx commented on #2050
So basically it is a conflict between `navigateToLoginRequestUrl` and `loginRedirect`

[2020-07-29 17:49] toddfsnyder opened #2057 "MSAL.js 2.0 Support for Azure B2C"
## Library
- [X] `@azure/msal-browser@2.x.x`

## Description
Looking for clarification and timeline for when MSAL.js 2.0 will support Azure B2C. We were under the impression this was going to be supported in the MSAL.js 2.0 release. The documentation says otherwise: Important: MSAL.js 2.0 with Authorization Code Flow is not yet available for B2C tenants (coming soon).

[2020-07-29 18:09] alvipeo commented on #1592
Does anybody know if this issue exists in 2.0?

[2020-07-29 18:26] jo-arroyo commented on #2051
@Codeluck Unfortunately, this is a known issue. We are currently prioritizing and working on a fix. Please refer to [our wiki page](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue) for timelines and to issue #1795 for further details and updates.

[2020-07-29 18:26] #2051 closed

[2020-07-29 18:28] jo-arroyo commented on #2057
@toddfsnyder We are currently prioritizing and working on a fix. Please refer to [our wiki page](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue) for the estimated timeline and to issue #1795 for further details and updates.

[2020-07-29 18:28] #2057 closed

[2020-07-29 18:55] aappddeevv commented on #2053
Wow! I just hit this 1 hour ago but you already had this issue created. Thanks!

[2020-07-29 20:16] alvipeo commented on #1592
@anth-git I just added MsalComponent and it still doesn't work with my live.com account :/

[2020-07-29 20:51] #2040 closed

[2020-07-29 22:39] leandrojj13 commented on #349
Have you found any way to resolve the issue?

[2020-07-30 00:19] #1761 closed

[2020-07-30 05:37] master-maintenance1-peer-connect opened #2069 "MSAL(@1.3.3)'s acquireToken not sets UPN to X-MS-client-principal-name."
When I upgraded to MSAL@1.3.3, my program didn't work well.
I also confirmed that the avoidance action is to version down to msal@1.3.2.
I seem to have encountered some incompatible change.
As before, MSALl@2 and MSAL@1.3.3 and later versions provide a configuration method that allows  to set "UPN" for "X-MS--client-principal-name".

## Library
- [v ] `msal@1.3.3`

## Framework
 * -- Client SPA

[2020-07-30 06:50] OlegLukash commented on #349
Unfortunately not

[2020-07-30 07:58] #2047 closed

[2020-07-30 08:31] Dolevco commented on #2050
we have updated the code to wait for the redirectPromise to be resolved. but steel our workaround with the setTimeout statement required. this is the code:
[code]

[2020-07-30 08:48] madwomanx commented on #2050
A better workaround is to check if `window.location.hash` is empty before calling `loginRedirect`

[2020-07-30 10:40] AndriiDidkivsky commented on #2050
I've added APP_INITIALIZER into my angular project.
[code]
It prevents running an application  until promise resolve. Example [here](https://github.com/AndriiDidkivsky/ng-msal-pkce)
Didn't you think about running `handleRedirectPromise` before bootstrapping the project ?

[2020-07-30 10:42] Dolevco commented on #2050
Not all of our routes are require authentication. we must run some logic before calling the login.

[2020-07-30 10:52] AndriiDidkivsky commented on #2050
But if no redirection callback handleRedirectPromise will do nothing. It would be the solution.

[2020-07-30 12:30] scotteby commented on #1779
Hello,

We have this same requirement where we need to refresh the ID token and also get the email claim included.

Glad to see you already have this fixed and it looks like it will be available in version 1.4.

Any idea when that might get released?

[2020-07-30 14:40] skyovi opened #2070 "some users are getting Failed to load resource net::ERR_CERT_COMMON_NAME_INVALID for MSAL CDN"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.3.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

## Description
https://alcdn.msftauth.net/lib/1.3.1/js/msal.js is not loading some users . whe user opne the url, it is saying "your connection is not provate"
## Error Message
Failed to load resource net::ERR_CERT_COMMON_NAME_INVALID

## Security
-

[2020-07-30 14:43] jaslloyd opened #2071 "state expected : null: MSAL breaks when user clicks back button without logging in"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x` (1.3.3)
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework

None

## Description

Having inProgress in the caches breaks  Msal.UserAgentApplication

## Error Messa

[2020-07-30 14:53] jaslloyd commented on #1069
@crobin1 @tnorling Created one here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2071

[2020-07-30 18:29] #2054 closed

[2020-07-30 19:04] gauriz commented on #174
There's the same issue I'm facing with 'Login with Github' option too!

[2020-07-30 20:26] sundeep22 commented on #1765
I have the exact same issue. Happens in Chrome 84.0.4147.105 Incognito only! Any resolution or workaround for this one?

[2020-07-30 21:23] tnorling commented on #1765
@jenurius @sundeep22 Chrome Incognito recently updated to block third-party cookies. The silent flow in Msal.js version 1.x relies on third party cookies to work and thus is expected not to work in browsers where this is blocked. You need to either call an interactive method, enable third-party cookies or update to Msal-browser v2.0 which implements the auth code flow and does not rely on third-pa

[2020-07-30 21:42] #1952 closed

[2020-07-30 21:42] #1935 closed

[2020-07-30 21:44] sundeep22 commented on #1765
@jenurius Thank you. I’ll look at the msal-browser thing. Seems to fix the issue without browser hacks or having to modify code. This is going to replace my msal package in code, correct?

[2020-07-30 21:50] #2019 closed

[2020-07-30 22:21] #2053 closed

[2020-07-30 23:15] tnorling commented on #2071
@jaslloyd Thanks for bringing this to our attention. Looks like this is indeed a bug when providing a custom `state` in the request. We'll work on a fix but for now, in your scenario shown above, a workaround may be to not implement your own redirection logic and let the library do so.

Instead of passing in the current page to the `state` parameter you can set `navigateToLoginRequestUrl: true` in

[2020-07-31 00:26] jasonnutter commented on #2070
@skyovi Can you provide any additional information? Do these users have anything in common (e.g. browser, OS, networking setup, etc.)?

[2020-07-31 00:34] jasonnutter commented on #2044
@dvguo If your frontend application is making a cross-origin fetch/ajax request to your backend server, your backend server needs to respond with appropriate headers to allow for that request to not be blocked by CORS protection in the browser.

Docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin
Example package to set these headers: https://www.npmjs.com/pa

[2020-07-31 00:37] jasonnutter commented on #2036
@vladkasianenko The interceptor uses the `getScopesForEndpoint` function to lookup the scopes needed for the http request (which are configured in the `protectedResourceMap`) and calls `acquireTokenSilent` with those scopes. Can you debug the interceptor and see which scopes are passed to acquireTokenSilent? Logs from the MSAL Logger would also be helpful. Thanks!

[2020-07-31 01:08] jasonnutter commented on #2035
@harinivedala Unfortunately, there is currently not a way to automatically bypass the account selection screen during logout. This is being considered for AAD, however, we do not have an ETA on when it will be available in the library. Also, please note that MSAL AngularJS is in maintenance, and will not receive any new features. We highly recommend upgrading to the latest version of MSAL.js to ge

[2020-07-31 01:08] #2035 closed

[2020-07-31 01:15] jasonnutter commented on #2039
@oyvindo Unfortunately, we have not had a chance to prioritize fixing the experience when MSAL.js is used in Outlook desktop. To clarify, the `openPopup` method posted above does work in both environments?

We'll take this under consideration, and follow up if we need more information, thanks!

[2020-07-31 01:20] jasonnutter commented on #2069
@master-maintenance1-peer-connect Can you please clarify if this behavior happens using 1.2 today?

[2020-07-31 02:07] jrmcdona commented on #1893
I will reopen this if I get back into testing this scenario.

[2020-07-31 02:07] #1893 closed

[2020-07-31 03:11] master-maintenance1-peer-connect commented on #2069
@jasonnutter
MSAL@1.2.2  worked well.
MSAL@1.3.2  worked well.
MSAL@1.3.3 Do NOT worked well.

[2020-07-31 04:57] shamprasadrh commented on #2024
The behaviour is same in 1.3.X as well

[2020-07-31 05:08] skyovi commented on #2070
@jasonnutter one user reported this issue and she also mentioned that her colleagues also facing issues.
Windows 10
Browser: Chrome and Edge
 I have also asked her to contact their IT administrator if anti-virus/firewall causing this issue

[2020-07-31 07:04] stoicad commented on #1156
Same issue here.
Got the error: msal token calls are blocked in hidden iframes, then immediately timeout. any fix for that?

[2020-07-31 07:12] stephlocke opened #2074 ""An accessor cannot be declared in an ambient context." build errors"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
Integrated with Vue.js

## Description
We're integrating msal via typescript into our Vue.js. The `vue-cli-service build --mode testing` part of our Azure Devops pipeline is picking up numerous "

[2020-07-31 08:38] #2074 closed

[2020-07-31 09:58] saveriocaminitiktech commented on #1916
Hi @ktikku I'm experiencing this same error.
I upgraded from 2.0.0-beta.2 to current stable release 2.0.0.
I see you closed this issue, can you kindly share your solution here? This could be useful to other dev as well.
Thanks.

[2020-07-31 10:00] ktikku commented on #1916
Hi @saveriocaminitiktech Migrating to v2.0.0 of msal-browser fixed the issue for me

[2020-07-31 11:57] fippli commented on #815
I think this ended up being a false solution to the problem for me. Figured out that the access token is not supposed to be validated. The solution was to instead use the id token and validate it through my backend. Im doing something like this:
[code]
I then validate the id token on backend with a relevant jwt library.

[2020-07-31 12:58] Lexcess opened #2075 "What is the correct integration option with Angular SPA's to workaround SameSite cookie changes"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

What is the expectation for current MSAL-Angular users who have a Single Page Appli

[2020-07-31 13:02] Lexcess commented on #2075
Just saw another issue #2042 raising this same problem.

[2020-07-31 13:02] #2075 closed

[2020-07-31 13:10] Lexcess commented on #2042
I just raised this very same question (I've now closed my issue as dupe).

Safari is now using this behaviour, inprivate/incognito users now are seeing this behaviour and finally [Chrome has begun rolling out](https://www.chromium.org/updates/same-site) this behaviour to increasing subsets of users over the last two weeks.

We really don't want to have to reintegrate our applications to the core l

[2020-07-31 14:27] gladiatorAsh opened #2076 "In Chrome incognito, when using silent login, the app goes in a continuous login loop"
## Library
- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
msal@1.2.2

## Framework

## Description
This app is React based and uses msal for auth, When in incognito mode, the login pro

[2020-07-31 16:07] renjithgr opened #2077 "How do I pass query parameters in the URL when users are redirected to B2C?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x
- [x] `@azure/msal-angular@1.x.x`
-  [ ] `@azure/msal-angularjs@1.x.x`

## Description
I am trying to pass extra query parameters to the B2C page where the user will be re

[2020-07-31 16:58] jasonnutter commented on #1156
@stoicad See my comment above for background and mitigation.

[2020-07-31 18:05] gavinbarron commented on #2071
Adding a second data point on this issue. Reproduction on Edge 86.0.587.0 (Official build) dev (64-bit)

Updated from 1.2.2 to 1.3.2 yesterday and noticed this immediately in development.

For us the workaround you suggest is infeasible for as we're only using MSAL to capture and manage id_token acquisition, we issue our own access token from the server after validating the id_token and some backe

[2020-07-31 18:43] tnorling commented on #2071
@gavinbarron To clarify this is happening when the back button is clicked? The part where you say passing `http://localhost:9000/home` works as expected throws me off because after looking at the code, I don't expect any user provided state to work when pressing the back button.

If this is for a different scenario please open a separate issue so we can debug what's going on there.

[2020-07-31 19:29] #1753 closed

[2020-07-31 19:47] pkanher617 commented on #2050
@Dolevco Do you know why the setTimeout is still required in your updated code? I'm not sure why it would be if the code is awaiting the result of the `handleRedirectPromise()`.

We have some updates to the handleRedirect code coming in #2045 and #2078 that may make this flow more reliable. We plan to release this on Monday.

[2020-07-31 19:50] tnorling commented on #2076
@gladiatorAsh Chrome Incognito recently updated to block third-party cookies. The silent flow in Msal.js version 1.x relies on third party cookies to work and thus is expected not to work in browsers where this is blocked. You need to either call an interactive method, enable third-party cookies or update to Msal-browser v2.0 which implements the auth code flow and does not rely on third-party coo

[2020-07-31 19:50] #2076 closed

[2020-07-31 20:49] harinivedala opened #2080 "Angular JS 1.7 app with new versions of MSAL Angular"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angularjs@1.x.x`

## Description
We have an Angular JS 1.7 production application. I used msal-angularjs wrapper to a

[2020-07-31 21:13] tnorling commented on #1965
Closing as the question was answered. Let us know if the above did not solve your issue

[2020-07-31 21:13] #1965 closed

[2020-07-31 21:14] tnorling commented on #1954
Closing due to inactivity and insufficient information regarding the problem.

[2020-07-31 21:14] #1954 closed

[2020-07-31 21:16] tnorling commented on #1879
Closing due to inactivity. Let us know if this is still an issue.

[2020-07-31 21:16] #1879 closed

[2020-07-31 21:17] tnorling commented on #1941
Closing as there is no further action from the msal team at this time

[2020-07-31 21:17] #1941 closed

[2020-08-01 00:05] gavinbarron commented on #2071
Ahh I missed the back button bit, splitting this to a separate issue.

[2020-08-01 08:11] jaslloyd commented on #2071
This issue doesn’t only happen when you click the back button, it is also when you open a new tab on the same website msal is already in a bad state and crashes again when it tries to load the library

[2020-08-01 21:46] taschana commented on #815
I wonder though -- the id_token only tells me WHO it is, not whether or not they are supposed to have access to my API (unless I keep my own db of users who are supposed to access my API). Therefore, I'd expect some mechanism to either validate the access_token returned from msal or one that can give me the access_token to my API.

[2020-08-02 06:22] bzivyon commented on #815
[Here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#issuecomment-523966524) is the solution
If you need access MS graph, in addition to your API, then you must manage two separate tokens

[2020-08-02 08:27] Dolevco commented on #2050
not sure why it is still required. I guess it should wait to a callback that is not awaited before, that may be related to msal internal logic.
again, this happens only on path that is not the redirect uri.

[2020-08-02 09:18] mbrevda opened #2083 "SSO without login_hint"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
When multiple web properties (think production site, development branches with their

[2020-08-02 17:14] tnorling commented on #2071
@jaslloyd Understood. The block of code you pointed out, `checkIfBackButtonIsPressed`, runs both when pressing the back button and when opening a new tab, so the PR I linked should fix both scenarios. The name of the function is maybe a little too specific to one scenario, as the real purpose is to ensure msal is in a clean state on load.

If you're able to pull down the branch and build msal loca

[2020-08-02 19:07] riazXrazor commented on #1927
i just manually did a post request with the appropriate data
[code]

[2020-08-02 20:47] Hyperionza commented on #1712
This problem is still existing. Don't close this ticket.

[2020-08-02 23:49] deasems opened #2084 "Incorrect idTokenClaims Type"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
N/A

## Description
ID token claims include a mix of strings/numbers but the type used (StringDict) only allows

[2020-08-03 07:32] jaslloyd commented on #2071
@tnorling thanks a lot, I will try to test it at this some point this week, PR looks good to me :) if that matters at all!

[2020-08-03 09:24] AndriiBoiko1 commented on #1795
@philtweir can you please provide more detail on this?

[2020-08-03 10:50] devfservant opened #2086 "Unexpected # symbol in the URL after logging in"
## Library

**`msal@1.3.3`**

## Framework

*  JavaScript
*  `react@16.13.1`
*  `react-aad-msal@2.3.5`

## Description

After logging in, I do not expect to have an additional `#` symbol at the end of the URL.
I get this new behaviour when upgrading `msal` from `1.2.2` to `1.3.3`.
In the [Release notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases), I did not notice

[2020-08-03 13:55] sanderaernouts commented on #1914
@jo-arroyo apologies for the delayed response, I was on summer holiday.

after making the changes you suggested earlier we are now running into this error:
`main.6fda90af4a4855301b2b.js:1 Redirection Error:  Invalid state. <data>, state expected : null.`

Local storage now looks like this:
![image](https://user-images.githubusercontent.com/6184673/89189806-d1d37000-d5a0-11ea-86c0-19248b265ba5.png)

[2020-08-03 14:47] dsosunov commented on #1795
In support of @AndriiBoiko1 how can make it works with proxy?

[2020-08-03 15:04] Jernik commented on #1795
@AndriiBoiko1 @dsosunov I copied philtweir's code [from his PR here](https://github.com/flaxandteal/vue-msal/commit/9c66e2bc32fc128fe46ba6085c37407250280319#diff-2867922524467ee5587a4cb713a45343R95) to override the location that MSAL.js goes to get the token. Then, on my API service, I created a proxy endpoint that just called the original B2C endpoint with the form values provided to me by MSAL.

[2020-08-03 15:09] philtweir commented on #1795
Thanks Jernik, just beat me to it :D Not much to add but like I say, this is a pretty rough-and-ready workaround for testing, it certainly isn't within the intended flow. At least for us, I needed it primarily to make sure we didn't have any other lurking Safari / MSAL2 issues with vue-msal.

Specific workaround commit here: https://github.com/mvertopoulos/vue-msal/commit/9c66e2bc32fc128fe46ba6085

[2020-08-03 17:59] jo-arroyo commented on #2024
@ken5scal @shamprasadrh Unfortunately, there is not a way in the library to bypass the account selection screen on logout. This is an improvement we would like to make, however, we do not have an ETA on when that would be available.

[2020-08-03 18:08] technical-boy commented on #2077
Hi @renjithgr , the `extraQueryParameters` that are set in the configuration are used in the MSAL Guard. Can you please clarify if you're using the MSAL Guard or if you're calling one of the MSAL APIs (loginRedirect or loginPopup) directly?

[2020-08-03 18:19] technical-boy commented on #2080
Hey @harinivedala . Unfortunately, `msal-angular` does not support AngularJS applications. If you'd like to use the new versions of MSAL with an AngularJS application, you can use MSAL JS v1 (`msal`) or v2 (`@azure/msal-browser`).

Are you updating your AngularJS application to the newer versions of Angular? If so, you would be able to use the `msal-angular` wrapper libraries, which is what we wou

[2020-08-03 18:26] technical-boy commented on #2084
Hi @deasems , this is a known-issue that we're planning to fix. We'll follow up once we've done so.

[2020-08-03 18:31] technical-boy commented on #2086
Hi @devfservant. This is a known side effect of the redirect handling process and should not cause any breaking behavior. Can you please clarify if this is causing a bug in your application? If so, please provide more context on how your application is affected.

[2020-08-03 18:35] jasonnutter commented on #2052
@mbrevda There is now a PR open to fix this scenario, and will be included in an upcoming release of MSAL.js v2. This issue will be updated when that PR has been accepted and merged.

[2020-08-03 18:51] jasonnutter commented on #1244
@rellis-of-rhindleton Apologies for the delay in responding, I missed your question.

Yes, we would like to type these. Furthermore, we are considering adding an event API to the core MSAL library (#2056), as a consideration for both Angular and other frameworks such as React. Given that, any substantial changes to the current use of observables in MSAL Angular will be made in MSAL Angular v2. We

[2020-08-03 19:01] #2071 closed

[2020-08-03 19:11] mbrevda commented on #2052
I saw, thanks for pointing it out! Looking forward to the release

[2020-08-03 19:32] devfservant commented on #2086
Hello @technical-boy.

Actually, except the unexpected `#` symbol, it does not really _affect_ the application: the additional `#` symbol _would be_ the "bug".
Is there a way to prevent this "side-effect"? Do you know why we have not that behaviour with `msal@1.2.2`?
Maybe there should be a mention of that in the [Release notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/re

[2020-08-03 20:52] taschana commented on #815
I don't know you, but for the next 24h, you are my favorite person in the world.

`// REACT CODE
const msalSuccessHandler =(authResponse: Msal.AuthResponse) => {
    console.log("MSAL Success.");
    setError(undefined);
    setAuthResponse(authResponse);
    clientApplication.acquireTokenSilent({ scopes: ['openid', "api://xxxx/access"] })
      .then((result: Msal.AuthResponse) => { console.log("

[2020-08-03 23:19] tnorling commented on #1779
@scotteby We don't have a specific date yet, we're currently working on putting out 1.3.4 and we're hoping to get 1.4.0 out shortly thereafter. I will update here when it is available.

[2020-08-04 00:21] gavinbarron commented on #2071
Appologies, opening a new issue for some states being invalid.

[2020-08-04 00:22] #2055 closed

[2020-08-04 00:35] gavinbarron opened #2088 "Some values are now resulting in InvaildState during login"
## Library
- [x] `msal@1.3.2` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
AngularJS 1.x and React, but those are not at play in this scenario

## Description
Updated from 1.2.2 to 1.3.2

[2020-08-04 03:29] renjithgr commented on #2077
Hi @technical-boy, thank you for your response. Our app is calling ```loginRedirect```.
- Is there a way to pass extra parameters to the URL while using the ```loginRedirect```? Or is using MSAL Guard the only way to do it?

[2020-08-04 10:52] nbfr opened #2089 "Promise returned from "ssoSilent" never resolves or rejects"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.0.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 7

## Description
The promise returned by ssoSilent never resolves or rejects.

## Error Message
-

## S

[2020-08-04 13:45] CornelSora commented on #2050
To avoid infinite loop when the uri is different than redirectUri you have to set navigateToLoginRequestUrl to false.

[2020-08-04 14:14] dglozano commented on #1843
@pkanher617

If I understand correctly, this is not always possible to ensure by just don't presenting the sign-in screen after the initial login in my application. For example, if I use my admin Azure AD user to login to portal.azure.com and then I go to my own application and try to log in with my personal user, MSAL.js will keep track of both accounts, even though one of the logins didn't happe

[2020-08-04 17:40] bsocket opened #2090 "Is there any plan to upgrade msal-angular@1.x.x to"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ X] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Upgrade this library to Microsoft Authentication Library for JavaScript v2.x. Want

[2020-08-04 17:45] pkanher617 commented on #2089
@nbfr  Thanks for opening this, I've added a PR that should fix this and be available in the 2.0.1 release, which should be out shortly.

[2020-08-04 19:57] #2089 closed

[2020-08-04 20:39] technical-boy commented on #2090
Hi, @bsocket . Yes, we're planning to upgrade `msal-angular` to use MSAL JS v2. We'd like to do that soon, however, that work hasn't been scheduled yet. We'll update our [Roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) when it is scheduled.

[2020-08-04 20:46] technical-boy commented on #2088
Hi @gavinbarron , thanks for raising this issue. We'll investigate and follow-up when we have more information.

Setting `navigateToLoginRequestUrl` to `true` is a way to redirect the user back to the page they were on when they performed the redirect. Have you considered enabling that option instead of providing the URL in the `state` parameter?

[2020-08-04 21:47] jo-arroyo commented on #1914
@sanderaernouts Thanks for sending us the logs. Is the state mismatch error happening every time, or is it intermittent?

The `Unable to get valid login request url from cache` error and the `State Mismatch` error could both happen if localStorage is cleared during the redirect process. Is it possible that something in your app is clearing localStorage after the sign up process and before clicking

[2020-08-04 22:45] jo-arroyo commented on #2026
@ktikku Thanks for responding. The behavior you are seeing is expected behavior. We are recommending that you do not provide `offline_access` as a scope anymore both in the initial login request and `acquireTokenSilent`. It is no longer a supported scope as it is meant for long-lived refresh tokens which are not supported in single-page applications. Removing `offline_access` will have `acquireTok

[2020-08-05 00:07] technical-boy commented on #2086
Hey @devfservant . If you're interested in clearing the URL hash entirely after the redirect (including the anchor tag ('#')), you can use the following workaround:

1. Implement `handleRedirectCallback` and inside that callback, **make sure you get a valid response object**.
2. **If you do have a valid response object**, check that the URL hash has been cleared (basically, that it looks like 'htt

[2020-08-05 03:32] ktikku commented on #2026
Thanks @jo-arroyo for the clarification.

[2020-08-05 03:32] #2026 closed

[2020-08-05 05:12] cliedeman opened #2099 "Error when trying to aquireTokenSilent"
## Library
- [x] `@azure/msal-browser@2.0.1`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React - Create React App

## Description
When the app first loads I attempt to perform a `acquireTokenSilent` with an accountInfo object stored in localStorage.
The msal storage is using session storage.

## Error Message
[code]

## Security
- [ ] Is this is

[2020-08-05 07:02] sid1260 opened #2100 "MSAL.js - Implicit Authentication - Issue with reply url parameters"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.3.3`
- [ ] `@azure/msal-browser@2.0.1`

## Description
I am using MSAL.js for a javascript based single page application. We have configure Azure Ad for implicit authentication. The redirection url also has been configured to a page.

However we have a requirement w

[2020-08-05 07:07] sanderaernouts commented on #1914
@jo-arroyo the error only occurs when the user logs in for the first time after creating a new account. I don't think we clear local storage but I will verify to be 100% sure.

[2020-08-05 07:28] ammar-mop commented on #2037
When you mention that B2C is getting aligned in the near future, how soon is that? Just a rough ETA would work (1 month, 3 months, in one year etc.) I am currently working on a product for a client, and I am facing many issues with MSAL B2C.

[2020-08-05 11:14] mbendtsen commented on #1695
This took me 1½ day to figure this out :(
I can confirm that setting `unprotectedResources` to `null` fixes my issue.

[code]

**NOTE**: Setting `unprotectedResources` to empty array `[]` does not work.

[2020-08-05 12:47] rellis-of-rhindleton commented on #1244
Sounds good. I've subscribed to that issue. Thanks.

[2020-08-05 12:47] #1244 closed

[2020-08-05 13:09] stephenstroud opened #2101 "AcquireTokenSilent throwing 'X-Frame-Options' to 'DENY' with Passwordless(magic link) Custom Policy"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- msal@1.3.2
- [syncweek-react-aad](https://github.com/syncweek-react-aad/react-aad)
- ReactJS

## Description

How do I prevent acquireTokenSilent throwing 'X-Frame-Options' to 'DENY' when using the custom policy [Magic Link](https://github.com/azure-ad-b2c/samples/tree/master/p

[2020-08-05 15:56] gavinbarron commented on #2088
@technical-boy using `navigateToLoginRequestUrl: true` is not a viable option in our use case.

We're using the id_token to establish identity and have custom authorization logic that we need to run before granting access to our site `navigateToLoginRequestUrl: true` would prevent us from running our custom logic.

[2020-08-05 16:10] technical-boy commented on #2099
Hi, @cliedeman . Could you please provide some more of the stack trace? It's not immediately clear where the error is originating. Thanks.

[2020-08-05 16:19] technical-boy commented on #2100
Hi, @sid1260. Could you please provide your MSAL configuration object (the configuration for PublicClientApplication). Also, are you using `loginPopup` or `loginRedirect`?

In your scenario, when the current page changes dynamically, you should set a redirctURI in your configuration that matches the one in the Azure Portal (the one without query parameters). If you're using `loginRedirect` you can

[2020-08-05 16:23] tnorling commented on #2037
@ammar-mop I unfortunately can't share any sort of ETA but getting B2C working with msal-browser v2.0 is one of our highest priorities right now and we're working with the service teams to get that work done as quickly as possible. If you need an immediate solution we recommend using `Msal@1.x` for the time being and upgrading to 2.0 when the issues are resolved. My sincerest apologies for the inc

[2020-08-05 16:28] cliedeman commented on #2099
Here is the full stack trace

[code]
## 1
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c9603bdcda2b1958d128f5fe7073447ac49cfc81/lib/msal-common/src/client/SilentFlowClient.ts#L54

## 2
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/c9603bdcda2b1958d128f5fe7073447ac49cfc81/lib/msal-browser/src/app/PublicClientApplication.ts#L409

[2020-08-05 16:38] cliedeman commented on #2099
Slightly better stacktrace from dev environment

[code]

[2020-08-05 16:46] technical-boy commented on #2088
Hi @gavinbarron . Is the state value your are passing into the request URI encoded by your application? MSAL will perform URI encoding for all query parameters, including state, so it's not necessary to URI encode them before passing them into the configuration object.

Can you try passing in an un-encoded state value and let us know if that works? Thanks!

[2020-08-05 16:48] technical-boy commented on #2101
This was identified as an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options

They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2020-08-05 17:09] stephenstroud commented on #2101
@technical-boy Is there a link to this known issue?  I feel this could be a configuration error... I attempted to update the MSAL provider instance with the default sign-in policy after the magic link instance had been actioned but ran into similar issues with trapped interactive pages. I've looked at the documentation [here ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob

[2020-08-05 17:28] ramya-chekka commented on #1437
I am also facing the issue with acquireTokenSilent. When acquireTokenPopup is called popup just comes and closes by itself.
@bkoliba As you mentioned , when multiple accounts are signed in the need for popup is acceptable. But even when only one account is signed in or when login_hint is passed to the provider, the silent call should have passed right?
It's still failing in our case. Any help is a

[2020-08-05 17:31] gavinbarron commented on #2088
We're just reading the exact value of window.location.href, it has encoded values because, well, they were encoded by the browser.

[2020-08-05 19:25] aappddeevv opened #2104 "msal2: you cannot determine current login state so handleRedirectPromise() becomes awkward"
msal2:

The instructions and vanilla example app both show calling `agent.handleRedirectPromise()` after a redirect login. However, there is no method to determine if a there is a "pending" redirect to handle. The only way to determine that is to appear to login in again and catch an exception (BrowserAuthError, with code=interaction_in_progress). I'm assuming that the page behavior is app page =>

[2020-08-06 06:37] sameerrswt opened #2108 "While building in prod mode in ES6 targeted project is not working as @azure/msal-angular library is targeting es5"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
I have tested on angular 6, onward

## Description
My application is targeting ES6.

As I can see that @azure/msal-angular library is targeting ES5.

So when i am building my application in prod

[2020-08-06 07:13] sid1260 commented on #2100
Thanks @technical-boy

Code is below
`const msalConfig = {
  auth: {
    clientId: "bcb2a88a-9efb-414d-89cb-d194acb28a96",
    authority: "https://login.microsoftonline.com/GUID",
    redirectUri: "URL",
  },
  cache: {
    cacheLocation: "sessionStorage",
    storeAuthStateInCookie: false,
  }
};

const myMSALObj = new Msal.UserAgentApplication(msalConfig);

myMSALObj.loginPopup(loginRequest)
  .

[2020-08-06 09:26] qinmaye opened #2109 "change accessTokenAcceptedVersion to 2 and iss still be https://sts.windows.net/{id}/"
I install keycloak-proxy on AKS and then I meet some questions.

{"error": "oidc: JWT claims invalid: invalid claim value: 'iss'. expected=https://login.microsoftonline.com/{id}/v2.0, found=https://sts.windows.net/{id}/."}

I have already change accessTokenAcceptedVersion to 2

![image](https://user-images.githubusercontent.com/33417731/89515504-c5058500-d809-11ea-8386-23acc3d98abf.png)

but when

[2020-08-06 09:45] arnevdv commented on #1592
Does anyone has working link for the angular 8 example?

[2020-08-06 11:25] w595shubham opened #2110 "A silent sign-in request was sent but no user is signed in."
## Library
- [ ] `@azure/msal@1.3.1`
- [ ] `@azure/msal-angular@1.0.0`

## Framework
- [ ] `angular@9.1.9`

## Description
I'm using MSAL library in my project. I'm facing issue in auto token renewal.
When the id token is expired and our application tries to generate access token, it does not refresh the id token and throws, "msal:acquireTokenFailure" event while getting access token.

AADSTS50058

[2020-08-06 13:01] alvipeo commented on #1592
I ended up changing to another library and it works like a charm.

[2020-08-06 14:54] harinivedala commented on #2080
Thanks @technical-boy.

[2020-08-06 14:54] #2080 closed

[2020-08-06 20:46] #2018 closed

[2020-08-06 20:47] pkanher617 commented on #2104
@aappddeevv `handleRedirectPromise()` is the function to use to determine whether or not you are in the middle of a redirect. This function will resolve to `null` if no auth hash is detected.

[2020-08-06 20:50] pkanher617 commented on #2099
The msal storage is using session storage.

I think that is your answer? If the PublicClientApplication object is configured to use "sessionStorage" it will look in sessionStorage for the full account object. Set the cacheLocation to "localStorage".

[2020-08-06 20:52] pkanher617 commented on #2109
@qinmaye Please fill out the issue template, we cannot answer your question effectively if we don't have the information there.

[2020-08-06 20:53] pkanher617 commented on #2104
Also in the future please use the issue template.

[2020-08-06 20:54] pkanher617 commented on #2108
@sameerrswt Please use the issue template.

[2020-08-06 21:02] cliedeman commented on #2099
Maybe. But either way a hard crash is probably a bug

[2020-08-07 01:28] #2109 closed

[2020-08-07 05:05] dsaunders45459 opened #2116 "acquireTokenPopup fails if used concurrently with acquireTokenSilent"
## Library
- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.
msal@1.3.2
https://alcdn.msauth.net/lib/1.3.2/js/msal.min.js

## Framework
None, basic JavaScript application

## Description

[2020-08-07 05:57] cliedeman commented on #2099
Added a reproduction here: https://github.com/cliedeman/msal-browser-crash

[code]

@pkanher617 I have already worked around the issue/know how to avoid it. This bug is more about catching a corner case and warning the developer. I would also like to know if this makes sense? I didnt see anywhere in the documentation that you cannot use an account object sourced from somewhere else

[2020-08-07 06:02] titodevera opened #2117 "ServerError auth.js"
## Library
- [x] `msal@1.2.1` or `@azure/msal@1.2.1`

## Description
We are experimenting an issue when trying to auth in the Microsoft Graph API throught the Javascript SDK.
Our web application worked as expected for few months, until some days ago...
We are trying to consume the `https://graph.microsoft.com/beta/me/outlook/tasks?$top=100&$filter=status ne 'completed'` endpoint.
The login popup f

[2020-08-07 07:00] sameerrswt commented on #2108
Updated issue descriptions as per bug template.

[2020-08-07 08:55] lukan95 commented on #1592
I try @anth-git approach. If i run it on localhost, it works fine. But if i try run it on a production server, only a blank page will be displayed.

Im using also hash strategy and  msalguards.

 Is there a need for a refresh or something  else?

[2020-08-07 14:12] ZacharyHiggins-dbMotion commented on #1592
This was our exact scenario as well. Hash routing, works locally, does not work in Azure Static Web. I tacked it again last night and was able to resolve/workaround our issues. Some things to note that I was doing that differed from the example code:

- Immediately on page load, I was checking to see if the user was authenticated, and perfoming a **this.authService.loginRedirect();** if not.
- Onc

[2020-08-07 14:39] anth-git commented on #1592
@ZacharyHiggins-dbMotion
I've learned the hard way that a most important thing when dealing with msal is to not make any redirection or authentication calls when in an iframe. It can be easily checked by comparing window !== window.parent.

Apart from that, why did you have to redirect manually? It should be redirected to redirectUri address (the url in the Azure must match with msal config) Are y

[2020-08-07 14:41] adriannasui commented on #1555
@jasonnutter @jennyf19 @DarylThayil

Here is my feeedback on this, after spending some weeks working on authorization and authentication for my company's products.

Since the microsoft docs state that _Azure AD 2.0_ is compliant with with _OAUTH2_ and _OIDC_, compatibility with these _standards_ should be a supported scenario. In my opinion, supporting these _standards_ should be a goal for the _A

[2020-08-07 14:59] ZacharyHiggins-dbMotion commented on #1592
Hi @anth-git , thanks for the follow up. Regarding the redirect manually question. I had my redirectURI set to a page that activated MSALGuard, but received a *warning* that said this was a bad idea. I'm positive I had the redirectURI's matching in prod, mainly because that issue would throw a more specific error at me when I forgot to change it in the config or Azure, and it's still working. It's

[2020-08-07 16:38] anth-git commented on #1592
I'm not sure if understand what does it mean that you had _redirectURI set to a page that activated MSALGuard_ .

In the dev you should just have it set to http://localhost:4200. In the prod it should be set to the prod address.

Any redirections after the authentication should be handled using Angular routing:
```{ path: '', redirectTo: 'main', pathMatch: 'full', canActivate: [MsalGuard] },```

I