[2019-11-20 00:08] NickFranceschina commented on #943
@NareshKumarM  - I implemented almost that exact same code last night after pounding my head against the desk for hours 😄

[2019-11-20 00:22] NareshKumarM commented on #943
@NickFranceschina As much as it sounds okay to use similar workarounds, hoping to see a more cleaner implementation from MSAL team. Hope you are not having any issues with IE browsers

[2019-11-20 02:10] stevenruizhang commented on #1122
@jasonnutter  any updates?

[2019-11-20 09:52] biste5 commented on #1115
I have updated and performed some tests.
There's a difference in behavior, for which the redirects seems correctly followed, and not ending up in 'token renewal failed' error.

However, the flow in code of token acquisition doesn't work correctly yet.

I'll try to provide more insights and details about the precise behavior

[2019-11-20 14:03] leniel opened #1124 "Azure B2C returning Status 400 (Bad request) when clicking Sign in button after tab is left open from night to day in the Login screen"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ X ] Other... Please describe:
</code></pre>

## Browser:
- [ X ] Chrome version 78.0.3904.108
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ X ] Safari version  13

[2019-11-20 15:07] venki786 opened #1125 "loginRedirect or loginPopup works in IE11 debug mode only(after opening the console)"
In IE11, while calling the onsignin, navigation not happening either using the redirect or popup,

Tried with sample react-sample-app also, same behaviour

works only when i open the console(inspect element).

async onSignIn(redirect) {
    if (redirect) {
      return msalApp.loginRedirect(GRAPH_REQUESTS.LOGIN);
    }

    const loginResponse = await msalApp
      .loginPopup(GRAPH_REQUESTS.LOGIN

[2019-11-20 18:17] jasonnutter commented on #1125
@venki786 Are there errors in the JavaScript console when this happens?

[2019-11-20 19:57] jmckennon commented on #1124
@leniel My initial thought is that a token is expiring in there somewhere, can you give us some more information?

Is the only time you're seeing this functionality when you wait for some period of time after opening the page? Can you try to determine how long you have to wait for this to happen, and maybe provide timestamps?

[2019-11-20 20:00] jmckennon commented on #1124
Can you also try upgrading to `v1.2.0-beta.4`? We fixed a bunch of bugs in `.4`, and while this may be unrelated, it's worth a shot.

[2019-11-20 22:24] aiwangmicrosoft commented on #841
Here is my suggestion: https://github.com/AzureAD/microsoft-authentication-library-for-js/compare/dev...aiwangmicrosoft:patch-1#diff-3b1cbf21d93b8654b77b5bf8649ebaa5

[2019-11-20 22:25] aiwangmicrosoft commented on #841
Should I create a pull request?

[2019-11-20 22:46] pkanher617 commented on #877
@tylerjwatson Could you please upgrade to 1.1.3 and see if it fixes the issue? We added the client-id to scope the cache keys, so you should no longer be receiving the wrong account for your tenant. We will re-open if you are still having issues.

[2019-11-20 22:46] #877 closed

[2019-11-20 22:51] #945 closed

[2019-11-20 22:52] #946 closed

[2019-11-20 22:56] pkanher617 commented on #960
UPDATE: We are currently working on beta.5, and we will have a code freeze until Dec 4th coming up. Once this code freeze is lifted, we will release 1.2.0. Thanks for your patience.

[2019-11-20 22:56] #960 closed

[2019-11-20 23:11] pkanher617 commented on #962
@hpsin Could you please take a look at this?

[2019-11-20 23:50] hpsin commented on #962
You can't make a token request to multiple resources.  This has always been true.  It's possible that the code you updated went from collecting consent + id_token (where this would be a valid scope request) to consent + id_token + token, where this request is invalid.  If you can capture the request (URL it sends you to in the browser), that will help identify the issue.

[2019-11-21 04:37] raghavankarthik80 opened #1128 "Azure B2C | Changing Policy Dynamically"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-11-21 06:11] venki786 commented on #1125
No errors in javascript console, if again i call onsignin it shows errors like below

"Login_In_Progress: Error during login call - login is already in progress"

if i try with loginPopup in IE11, popup shows blank window.

[2019-11-21 06:35] venki786 commented on #1125
Issue resolve, this is due to below code in UserAgentApplication
system: {
        navigateFrameWait: 0,
        logger: {
            error: console.error,
            errorPii: console.error,
            info: console.log,
            infoPii: console.log,
            verbose: console.log,
            verbosePii: console.log,
            warning: console.warn,
            warningPii: console.war

[2019-11-21 06:35] #1125 closed

[2019-11-21 14:38] rfolkes commented on #1035
Is there any workaround for this issue that could be implemented meanwhile we wait for the updated wrapper?

[2019-11-21 16:44] leniel commented on #1124
@jmckennon yep... this only happens when waiting for some period of time after opening the login page. I didn't calculate how long it takes to fail.

I'm testing the latest version https://www.npmjs.com/package/msal/v/1.2.0-beta.4.

Let's see what happens.

[2019-11-21 19:05] jasonnutter commented on #1125
@venki786 Ah, makes sense. I'll see if I can make it so the sample doesn't do that by default.

[2019-11-21 20:05] jmckennon commented on #1124
Yeah, let us know if you see a change in behavior on the new build.

I don't know if there's any _easy_ way to automate it, but my thoughts were more to look at common expiry times, like 1 hour, 2 hours, 6 hours, etc. We also may just need to escalate this on to B2C.

[2019-11-21 21:44] jasonnutter commented on #547
Update on this issue: We are working to add mitigations in MSAL.js for this issue for certain scenarios (note, these improvements will not be added to ADAL.js). Unfortunately, we have found that there is only so much we can do from the library perspective to prevent this error, as it is often a result of improper usage of the library, either by making too many requests in a short period of time, a

[2019-11-22 09:22] GirishGowda37 commented on #1011
I have a set up angular 7 +MSAL . I have been asked to get access token to call web api (deployed in azure) . But my understanding is HttpInterceptor (msalInterceptor) will take care of it. please let me know how does **authorization** works here

[2019-11-22 09:38] rfolkes commented on #1035
@pkanher617 is there a specific branch of the core lib that contains the fix for state mismatch?

[2019-11-22 11:52] leniel commented on #1124
Updating to  `1.2.0-beta.4` did not solve the problem.

I wrote a simple test using[ puppeteer](https://github.com/puppeteer/puppeteer).

Looks like it stops working after 6 hours. See the printscreen:

![image](https://user-images.githubusercontent.com/764854/69423614-4f05d000-0d05-11ea-951a-4b93b3d60625.png)

Any idea where I should look at?

[2019-11-22 18:44] jasonnutter commented on #1011
@GirishGowda37 If you need to protected a custom web api, you need to create a custom scope in the Azure Portal. You can read more about that here: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis#expose-a-new-scope-through-the-ui

Please open a separate issue if you have further questions, thanks!

[2019-11-22 18:56] jasonnutter commented on #1122
@stevenruizhang There are some known issues with IE11, have you the workarounds described here (putting your app domain and authority domain in the same security zone, setting `storeAuthStateInCookie` to true for IE, etc)? https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser

[2019-11-22 19:16] jasonnutter commented on #1123
Before we think about shipping our own caching mechanism for this call, we should do some in depth performance tests to compare local storage versus built-in browser caching. I'm not convinced yet that it will be worth the work, given it may only meaningfully benefit a relatively small percentage of users. I would hypothesize that the better approach would make it so we don't make that call at all

[2019-11-22 19:36] AndrewCraswell commented on #1069
Was this one of the items addressed in Beta 5? I'm assuming not since I can still repro it.

Weird question though, because we've hit this issue again in a new scenario with a corporate customer. On Edge browsers when the user initiates a login, the redirect to `login.microsoftonline.com` is prevented in the current browser, and instead opens in a new instance of IE 11... Because of this when they

[2019-11-22 21:25] sanleong commented on #1011
After long research trying to find something compatible with Angular 8 I found this library:
https://www.npmjs.com/package/microsoft-adal-angular6.
Pretty easy to implement and authentication is a breeze... Hope this help...

[2019-11-23 00:21] jmckennon commented on #1124
The default expiry time for our tokens is 1 hour, so it would make sense that a token is likely expiring. You should be calling `acquireTokenSilent` right before making an API call (e.g. when the sign in button is clicked here) that requires an access token, and MSAL will figure out if one is needed. Is that currently the case in your app? My guess is that a token is likely being acquired on page

[2019-11-23 00:49] leniel commented on #1124
We're just  using the `id_token`. There's no access token involved.

I left a new improved test running today... tomorrow I should have better details.

[2019-11-23 01:42] claudiordgz opened #1130 "Setting up a Synthetic User for Integration Tests"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe: Tutorial on how to setup a Service Account that uses MSAL without two factor Auth
</code></pre>

## Browser:
- [X] Puppeteer

## Library version

<pre><code>
L

[2019-11-23 05:01] cwoolum commented on #1011
I'm pretty sure ADAL was replaced by this library.. I don't think it's supported anymore.

[2019-11-23 07:53] sameerag commented on #1124
Any token: `access_token` or `id_token` expires after an hour but as long as you have an AAD session, you should be able to get the token renewed silently by calling `acquireTokenSilent`. Are you doing the same?

[2019-11-23 08:36] sameerag commented on #1130
We have MSIDLabs that may help you here. Please DM me since it is for internal use only and I can help you with the links and the team contacts for the same.

[2019-11-23 14:04] leniel commented on #1124
Left a new test running and got this after 1 hour:

`(node:55477) UnhandledPromiseRejectionWarning: Error: Protocol error (Runtime.evaluate): Session closed. Most likely the page has been closed.`

@sameerag: what I don't understand is that the login page doesn't need a token.

The angularJS app has the following config:

[code]

When the app's login.html page is called we do this:

[code]

The bu

[2019-11-23 16:37] leniel commented on #1124
I'm re-testing after adding the `login.html` page to the `unprotectedResources` parameter. Maybe that could be the issue.

`unprotectedResources: ["/ng/views/directives/system/footer.html","/ng/views/system/login.html"]`

[2019-11-23 17:33] leniel commented on #1124
So far this seems to be effective:

`
Leniels-MacBook-Pro:src leniel$ ts-node run
Started 3 hour(s) test on: November 23rd 2019, 1:09:53 pm.
Started 12 hour(s) test on: November 23rd 2019, 1:09:53 pm.
Started 3.5 hour(s) test on: November 23rd 2019, 1:09:53 pm.
Started 5 hour(s) test on: November 23rd 2019, 1:09:53 pm.
Started 4 hour(s) test on: November 23rd 2019, 1:09:53 pm.
Started 8 hour(s) te

[2019-11-25 06:58] stevenruizhang commented on #1122
I follow your suggestion to set the storeAuthStateInCookie to true when run in IE, and configure the security zone, but get the error below in both IE 11 and private/edge mode, please help to take a look at.
![image](https://user-images.githubusercontent.com/13114985/69511364-be382a00-0f7a-11ea-92f5-c6aed9012967.png)
@jasonnutter

[2019-11-25 08:30] sameerag commented on #1124
Our documentation says the below:

**unprotectedResources** : Array of URI's. Msal will not attach a token to outgoing requests that have these uri. Defaults to 'null'.

**protectedResourceMap** : Mapping of resources to scopes {"https://graph.microsoft.com/v1.0/me", ["user.read", "mail.send"]}. Used internally by the MSAL for automatically attaching tokens in webApi calls. This is required only f

[2019-11-25 08:30] #1124 closed

[2019-11-25 09:11] raghavankarthik80 commented on #1128
@FrankHu-MSFT  nad @jmckennon  :Can you please help me out in resolving this issue. Is it a still a defect or any solution is avaiable. I have checked another issue quite similar to this :https://github.com/MicrosoftDocs/azure-docs/issues/41013.. Like to know the status

[2019-11-25 11:20] mbondoso commented on #759
I tested it on beta 1.2.0-4 but still not working.

[2019-11-25 12:59] bwiesmueller opened #1132 ""Nonce Mismatch" for parallel acquireTokenSilent() calls"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 78.0.3904.108
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-11-25 14:36] FrankHu-MSFT commented on #1128
@jennyf19 Can you help on this issue?

[2019-11-25 16:17] jasonnutter commented on #1132
@bwiesmueller Can you please try `1.2.0-beta.4` and let us know if you still see the issue? I believe we fixed this bug in the latest betas. @sameerag can confirm.

[2019-11-25 16:41] jasonnutter commented on #1011
Also, please note that `microsoft-adal-angular6` is a third-party library, for which our team cannot provide support.

[2019-11-25 18:00] jasonnutter commented on #1122
@stevenruizhang Can you paste the full error messages here? They are cut off in the screenshot. Thanks!

[2019-11-25 18:20] jennyf19 commented on #1128
@raghavankarthik80 I'm not familiar w/the JS library, but in .NET, developers can pass in [`Prompt.NoPrompt`](https://github.com/azuread/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#special-case-of-editprofile-and-resetpassword-policies) which will not send a [prompt](https://github.com/azuread/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#wi

[2019-11-25 22:11] sameerag commented on #1128
I think we do, but we never had samples for this use case. @raghavankarthik80 Let me check this once and reach out in a few days?

[2019-11-25 23:02] sameerag commented on #1069
@AndrewCraswell beta-5 isn't released yet. We plan to do it tomorrow and release 1.2.0 around Dec 6-8th.
I did not come across the issue you mentioned on Edge browsers, I can check with my team and reach out.

[2019-11-25 23:04] sameerag commented on #1132
Yes, this should be fixed in `1.2.0-beta.4`. Please test it and let us know?

[2019-11-25 23:10] sameerag commented on #759
How frequent is this @scambier the 401 errors? Ideally a token is valid for an hour and `acquireTokenSilent` if called within an hour will be able to refresh the token silently before the token expires as long as the session is valid. If the AAD session is invalid, that is when the user is prompted for interaction and may need to call `acquireTokenPopup`.

Can you paste the response you are seeing

[2019-11-26 04:06] stevenruizhang commented on #1122
After i set the x-frame-options value to "sameorigin" , i can not see previous error in IE11. But i got error like below from MSAL, when get token first time access to application.
It only happen in IE11, this issue sometime happen in IE, chrome , after refresh the page, the api work well. Can we consider this as bug ? Any work round?
In the angular project, we are not subscribe to event callbacks

[2019-11-26 06:55] ShinRai1090 commented on #421
Hope this comes out sooner, angular 9 is already almost here and even though there is support for latest versions using _rxjs-compat_, encountering below issues while performing a simple "_ng update @angular/cli_"

`
Fetching dependency metadata from registry...
                  Package "@azure/msal-angular" has an incompatible peer dependency to "@angular/common" (requires "^4.3.0" (extended), w

[2019-11-26 09:13] Ivan-L commented on #1033
Hi @jasonnutter, I'm just adding our +10 to this.

I've literally been frequenting this repository at least twice a week for the last few months in anticipation of MSAL Angular 1.0. We've got a project in production running on msal-angular 0.1.4 so the sooner we get to 1.0 the better.

Thanks!

[2019-11-26 09:44] BoshJeckerleg commented on #735
For anyone who is stumped on this and finds this thread, I found a solution.

Similar to how you have to explicitly set your clientApplication authority before you redirect to login

`    this.clientApplication.authority = https://${msalTenant}.b2clogin.com/${msalTenant}.onmicrosoft.com/${msalSignInPolicy};
    this.clientApplication.loginRedirect();`

You have to explicitly set this before trigge

[2019-11-26 10:04] bwiesmueller commented on #1132
Yes, you are right. It is fixed in `1.2.0-beta.4` and works for my example :)

[2019-11-26 11:50] scambier commented on #759
They're infrequent, but they happen. I had 1 in 5 hours this morning, for example. That's why I thought the issue was fixed in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/759#issuecomment-545877042

Yes, and that works most of the time. Just once in a while, it doesn't.

It does not fail per se. Like I said in my previous post https://github.com/AzureAD/microsoft-auth

[2019-11-26 16:09] raghavankarthik80 commented on #1128
@sameerag @DarylThayil  We are middle of the development phase and client are behind us. Can you please help us out as early as possible.

[2019-11-26 18:02] sanleong commented on #1011
@jasonnutter then, What would be your recommendation for Angular 8 implementation of AzureAD?

[2019-11-26 20:46] jennyf19 commented on #1128
@sameerag @DarylThayil Looks like you have [it here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/d10a5b5fb789a319b0058b48e1f1a52d1b2f6824/lib/msal-core/src/utils/Constants.ts#L25)...is this surfaced to the developer? it doesn't need a sample to be working, just if sending this prompt means you send no prompt (nothing for this value in the header) to b2c ests, based on t

[2019-11-26 21:51] sameerag commented on #1128
`prompt=none` is appended by `acquireTokenSilent` calls only for `msal js`. And yes, it isn't same as not sending any prompt. My concern is more about using two policies. As long as it is a single user and we pass the policy as an `authority` in the `request`, this should work.

@raghavankarthik80 Can you try this with `msal js` and let us know if you face any issues?

[2019-11-26 22:36] LastTribunal commented on #99
@sameerag, I dont get it.  If msal with adfs is not supported, what is the purpose of testing for this error?
Are you saying that msal should work with adfs 2019 by default?

Can you clarify??

[2019-11-26 23:10] claudiordgz commented on #1130
Is there an `aka.ms` link?

[2019-11-26 23:30] jasonnutter commented on #1011
@sanleong I have worked with customers that are to use `@azure/msal-angular` with Angular 8, given some work on your side (e.g. installing `rxjs-compat`). And as mentioned, we're working on a new version of `@azure/msal-angular` with out of the box support for the new versions of Angular, and are planning to have preview versions available by the end of the year.

[2019-11-26 23:33] sameerag commented on #99
Yes. Msal with ADFS 2019 should work out of the box.

[2019-11-26 23:41] sameerag commented on #1130
Yes, I responded to your DM today. Apologies for the delay.

[2019-11-26 23:46] jasonnutter commented on #759
@scambier I wonder if you are encountering some sort of edge case, where MSAL thinks the token is still valid, but the API does not. Would you be able to share the access token (privately) with us next time this happens (along with the exact timestamp of the request)? Email is on my profile. Thanks!

[2019-11-26 23:52] LastTribunal commented on #99
do you have a demo msal angular app that i can test against ADFS?

[2019-11-27 10:18] AndrewCraswell opened #1134 "Duplicate domain_hint caused by MSAL not respecting AuthenticationParameters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library version

<pre><code>
Library version: 1.2.0-beta.4

</code></pre>

## Current behavior

Our site has different enterprise customers u

[2019-11-27 10:20] AndrewCraswell commented on #1134
@sameerag Thanks again for syncing with us on this issue. :)

[2019-11-27 14:47] blinkybill commented on #84
@ashpr  Did you mean your page that's calling msal.js login functionality was at "myapp.com/some/other/path", but that you needed to set the redirectUri in Azure portal to be your root domain "myapp.com" only?

[2019-11-27 15:01] ashpr commented on #84
@blinkybill  It's the `redirectUri` in your [msal configuration](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications) because by default if you don't provide a `redirectUri`, it defaults to `window.location.href` which will include the `/path/`.

[2019-11-27 16:15] razi-rais commented on #1134
I'm experiencing the exact same issue [MSAL.js including domain_hint twice
](https://stackoverflow.microsoft.com/questions/175720/msal-js-including-domain-hint-twice). Is there a workaround or resolution available? It is blocking the work I am currently doing using MSAL.js and Azure B2C.

[2019-11-27 17:08] rossbuggins commented on #99
Just note, from what I understand, the js library is still not supported for adfs, only the .net library

[2019-11-27 17:39] sameerag commented on #1134
Thanks @AndrewCraswell. I will follow up on this early next week and update the PR here.

[2019-11-27 18:40] leniel commented on #1124
@sameerag in a new test, the login page stopped working after the page is idle for more than 4 hours... see the complete test result...

[code]

This is the SignInPolicy token configuration:

[code]

[code]

What could be still causing this Bad request?

[2019-11-27 19:03] cleberdantas opened #1135 "Dynamic configuration of Authority (User Flows)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe:
</code></pre>

## Question

Is it possible to have different user flows configured in one application?

Today we can configure the `Authority` property in app.

[2019-11-27 19:38] rajarameshvarma commented on #1009
I am still facing issues with IFrame and timeout.. I am using [react-aad-msal](https://github.com/syncweek-react-aad) in my react project. This package now has msal as peer dependency. So I did some testing with various msal releases.

# with msal@1.2.0-beta.4
Both google and microsoft account are throwing errors.

Microsoft account:
![image](https://user-images.githubusercontent.com/7087542/69753

[2019-11-27 23:08] jasonnutter commented on #1009
@pkanher617 Are you familiar with what b2c uses form submissions for? Sounds like we may need to add it to the sandbox white list. @sameerag

[2019-11-28 21:17] sameerag commented on #1132
Great! Thanks for the feedback. Closing this issue.

[2019-11-28 21:17] #1132 closed

[2019-11-28 21:17] sameerag commented on #1130
Shared the information offline since it is an internal microsoft setup. Closing this issue.

[2019-11-28 21:17] #1130 closed

[2019-11-29 04:42] huynhtuanhuy opened #1136 "Issue when login with 365 office account."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library versi

[2019-11-29 10:12] scambier commented on #759
@jasonnutter I was wrong on my assumptions: the accessToken is not invalid, it's null. So yeah, it's normal to have a 401 response, since I'm sending "Bearer null" as my Authorization. But I guess it's not normal to have a null `accessToken`

However, everything else in the `acquireToken()` response is valid, even the `idToken.rawIdToken`. So when I re-query `acquireToken()`, the `accessToken` is

[2019-11-29 12:01] caramorsimon commented on #271
I am slightly surprised at the won't fix approach, although it may not be an issue that needs fixing here.
It should be noted that Angular & Ionic applications running under Cordova typically *are* SPA, only touching the client device via plugins. 90% of the application is JS running in a browser context.

[2019-12-02 06:55] ShinRai1090 commented on #1088
@jasonnutter how soon is "_relatively_", the workaround for the silent token timeout was to use the popup but sadly the user does not like popups to continue his progress when we already have the details internally and can do the same silently.

[2019-12-02 16:43] jasonnutter commented on #1088
@ShinRai1090 Please try MSAL version `1.2.0-beta.4` and let us know if you still see the issue.

[2019-12-02 16:55] jasonnutter commented on #759
@scambier Ah, I see. Note, that `acquireTokenSilent` can be used to retrieve access tokens and ID tokens, and it looks like the first time you call `acquireTokenSilent` in this scenario, you are returned an ID token, not an access token. I assume you are using the same `scopes` for both requests? Might be a bug if you are getting back an ID token the first time you make the call for a set of scope

[2019-12-02 17:46] rajarameshvarma commented on #1009
This is started to get complicated..  even with msal@1.2.0-beta.2, google account works sometime and fails other times but in incognito mode it works every single time.

@jasonnutter Can you please point me to documentation how msal or b2c uses iframes for token renewal, especially IFrame pointing to google or MS instaed of B2C?

This issue is blocking us from going live. Is this something very is

[2019-12-02 17:51] jasonnutter commented on #1009
@rajarameshvarma Can you try using `acquireTokenPopup` instead of `acquireTokenSilent`? That should help avoid the iframe-related errors.

(Unfortunately, we don't have public documentation on how MSAL uses iframes, as it is considered an implementation detail of the library.)

[2019-12-02 18:54] garrettm commented on #1000
@pkanher617 I see there's a PR for this.  Thanks!  Is it still on track for a beta this month?

[2019-12-02 20:46] DarylThayil commented on #1000
@garrettm  this is still planned to be code complete by the end of this month, however there are a few things that this depends on from the server / portal side that will not complete their parts until early 2020.

[2019-12-02 20:56] garrettm commented on #1000
@DarylThayil got it, thanks for the update!

[2019-12-02 21:42] jasonnutter commented on #1033
Update: this has been pushed back due to other priority work, but we're still committed to have this done this month.

[2019-12-02 21:58] DarylThayil commented on #735
@BoshJeckerleg  thanks for sharing the solution! Login redirect takes a request object where you can define authority, but looks like logout may want this too
cc @sameerag  for thoughts.

[2019-12-02 21:58] jasonnutter commented on #1033
@Ivan-L Thanks for the feedback! I'll update this issue when there is a version available you can try. So you can subscribe to the issue to get automatically notified, so that you don't have to check manually :)

[2019-12-03 05:45] ShinRai1090 commented on #1088
@jasonnutter I'm currently using the @azure/msal-angular module (ver. 0.1.4) which is a wrapper around msal.js. Is there a beta / next release for msal-angular?

[2019-12-03 08:35] yann-combarnous opened #1138 "Outdated roadmap and no news in last 2 months"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library vers

[2019-12-03 09:25] HockeyJustin opened #1139 "@azure/msal-angular on .NET Core Project. Timeout leaves application unresponsive"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ X] Chrome version 78
- [ X] Firefox version XX
- [X ] IE version XX
- [ X] Edge version XX
- [X ] Safari version XX

## Library

[2019-12-03 12:23] scambier commented on #759
@jasonnutter

It looks like it. There are some differences in the "Id Token" :
- `uniqueId` is filled (empty string in the Access Token)
- `tenantId` is filled (empty string in the Access Token)
- `accessToken` is null (filled in the Access Token)
- `scopes` are empty (filled in the Access token)
- `accountState` is different

If you still need them, I can send you both responses (id token and acc

[2019-12-03 16:34] sameerag commented on #1138
@yann-combarnous A newsletter for timely announcements is something we have been considering for some time. cc @DarylThayil.

Regarding 1.2 release, we think we are close to it now as the betas are now tested well around and we have received great feedback from the community. We plan to announce it soon and wiki will be updated. We have been holding off the wiki updates for betas and planned it fo

[2019-12-03 16:42] sameerag commented on #1135
@cleberdantas Yes, you can. The `request` in `msal js`(code [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/AuthenticationParameters.ts) accepts `authority` and the user can pass in a different `authority` from that of the configured one during the initialization.

[2019-12-03 16:45] sameerag commented on #1136
Can you please send us the `response` where the token is retrieved from in this case? Preferably a fill log with the specific token and if this information cannot be shared in public, please email me @ sameera.gajjarapu@microsoft.com. We do not manipulate tokens, we send them as retrieved from the STS (secure token service) and hence fiddler logs in this case may help figure out the actual issue.

[2019-12-03 19:53] jasonnutter commented on #1088
@ShinRai1090 We're working on that now, we'll post here when a new version is available.

[2019-12-03 20:24] Rocky-Moon commented on #992
I had the same problem, I was specifying my scopes with openid:

const scopes = ['openid', `api://${process.env.REACT_APP_CLIENT_APPLICATIONID}/access_as_user`];

I thought I required openid in there for some reason, however removing it still works and I now longer get the https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration requests on every api call.

[2019-12-03 21:19] jmckennon commented on #1008
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:19] #1008 closed

[2019-12-03 21:28] jmckennon commented on #989
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:28] #989 closed

[2019-12-03 21:34] jmckennon commented on #1101
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:34] #1101 closed

[2019-12-03 21:36] jmckennon commented on #901
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:40] jmckennon commented on #1043
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:40] #1043 closed

[2019-12-03 21:48] jmckennon commented on #1066
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:48] #1066 closed

[2019-12-03 21:50] jmckennon commented on #1051
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:50] #1051 closed

[2019-12-03 21:57] jmckennon commented on #1073
Closing this issue, as it's been some time and I'm assuming the issue has been resolved. Feel free to open a new issue if you have further questions.

[2019-12-03 21:57] #1073 closed

[2019-12-03 22:44] jasonnutter commented on #901
@jmckennon I'm going to reopen, this isn't done yet, want to track as part of the Angular release.

[2019-12-03 23:03] sameerag commented on #1051
This should be resolved with the latest `beta.4` release in npm. Please test it and let us know how it works. In case the issue still persists, please open a new issue.

[2019-12-03 23:06] sameerag commented on #1066
Concurrent requests are now supported in the latest `msal js` `beta.4` in npm. Please test it and let us know if this is still an issue.

[2019-12-04 02:20] sameerag commented on #1069
#1042 is now merged to dev. `beta` release and a mainline release will follow soon.

[2019-12-04 10:29] JakobGSvendsen commented on #1033
We are in the same boat as Ivan-L. We are really looking forward to this, and hope this will not be postponed much more. There was critical stuff like browser support (edge) that isnt in the old version and state is not supported which make reply URL management much worse.. So this is really needed! Looking forward to anything we can try ;-)

[2019-12-04 14:19] funcelotwork commented on #815
the funny part, is, that server just returns RS256 in header, but actually to valdate, it needs to be HS256, so if you change manually, and pack hader back to Base64 bit, chainging RS256 to HS265, validation passes

[2019-12-04 17:26] sameerag commented on #1014
All fixes for cache now are merged into dev. Targeting 1.2.0 release this week.

[2019-12-04 18:09] sameerag commented on #899
**UPDATE**:

To facilitate feedback from various teams, we have been releasing betas for the last 2 months and currently at `msal 1.2.0-beta.4`. The final PR needed for cache cleanup is merged this week to dev and we are releasing `msal 1.2.0-beta.5` today. There will be a `msal 1.2.0` released later this week which will be the same as `msal 1.2.0-beta.5`.

[2019-12-04 19:02] sameerag commented on #1128
My apologies on the delay. We are in middle of a release and I will be able to check this post release - please expect a response by Friday. cc @raghavankarthik80. If you need a more specific scenario debug for this (msal js) or a call since this seems urgent on your part, please email me @ sameera.gajjarapu@microsoft.com

[2019-12-04 19:23] sameerag commented on #1009
@rajarameshvarma For any policy that would need form submission, I suppose it will be an `interaction_request`. As suggested above, can you try `acquireTokenPopup()` for those policies?

[2019-12-04 22:56] mayankkalbhor commented on #990
Do we have an Angular 6 code sample with MSAL library available now? https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples/MSALAngularDemoApp is not having any samples as of now.

[2019-12-04 23:10] jmckennon commented on #400
@aiwangmicrosoft Can you please start working on this documentation and work with @negoe to close this documentation issue?

[2019-12-04 23:14] sameerag commented on #99
@LastTribunal Can you please try this using `msal-core` [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/VanillaJSTestApp) substituting the authority with an ADFS 2019 one? Currently we are working on upgrading angular to `msal-core` and currently do not have an available sample.

`msal` latest `beta` version in npm is the recommended version.

[2019-12-04 23:21] jmckennon commented on #575
@jasonshsoftware Closing this at it's been some time. If you're still seeing this issue please comment and we'll reopen the issue.

[2019-12-04 23:21] #575 closed

[2019-12-04 23:30] jmckennon commented on #677
@hpsin can you please point to the right documentation here?

[2019-12-04 23:35] jmckennon commented on #741
Closing this as we are supporting silent logins only if there is a `sid` or `login_hint` passed into the library.

[2019-12-04 23:35] #741 closed

[2019-12-04 23:38] jmckennon commented on #752
This problem should be fixed in recent releases, please upgrade to `msal@1.2.0-beta.5` and test again. Comment if this is still a problem.

[2019-12-04 23:38] #752 closed

[2019-12-04 23:44] jasonnutter commented on #759
@scambier Which scopes are you passing to `acquireTokenSilent`?

[2019-12-04 23:44] jmckennon commented on #818
@aiwangmicrosoft can you work with @sameerag and @negoe on this one too?

[2019-12-04 23:47] jmckennon commented on #841
@aiwangmicrosoft this looks fine, coordinate with @jasonnutter for other angular information supported in the next few months so we can close here.

[2019-12-04 23:50] jmckennon commented on #842
Transferred this to track internally, closing it now.

[2019-12-04 23:54] jmckennon commented on #867
@ncausey Can you pull down the latest beta `msal@1.2.0-beta.5` and see if this is still an issue?

[2019-12-04 23:58] jmckennon commented on #932
This is fixed now is `msal@1.2.0-beta.5`, closing.

[2019-12-04 23:58] #932 closed

[2019-12-05 00:06] januszj opened #1143 "Obtain Application roles in Access Token to pass to AAD secured API"
## I'm submitting a question how to obtain Application roles in Access Token to pass to AAD secured API

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [ ] Firefox version XX
-

[2019-12-05 00:45] sameerag commented on #1087
Closing this as the PR #1116 is now merged and released in `msal@1.2.0-beta.5`

[2019-12-05 00:45] #1087 closed

[2019-12-05 07:40] scambier commented on #759
@jasonnutter only our ClientId (application Id), in the form of `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`

[2019-12-05 08:06] eirikb commented on #1072
Is this issue related to #899 ?
If this is a pure Outlook problem then it's not, and since msal beta (seemingly) works in Outlook web I'm inclined to believe it is a problem with Outlook.

[2019-12-05 08:39] raghavankarthik80 commented on #1128
@sameerag I tried using MSAL.js and below are the activities I have performed.

I have set the useragentapplication object authority to different Policy
While calling the AquireTokenSilent I have passed the Client ID.

When I do this I am getting two main error:

1.	The first error is related to X-Frame-Options: deny error
2.	The second error its says Token does not match: When I try to debug I fo

[2019-12-05 19:10] jasonnutter commented on #759
@scambier Ah, that would explain why you are getting back an ID token. To properly protect a custom web API using AAD access tokens, you need to register a custom scope in the Azure Portal, and then pass that custom scope to your login call as well as `acquireTokenSilent`. Your web API will need to use one of our middlewares to verify the access token.

See this comment for more info: https://gith

[2019-12-05 19:37] haonliu opened #1145 "Support for authentication with client credentials"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
N/A
## Library version
N/A

## Current behavior

## Expected behavior

I'm trying to authenticate to a Rest API in Azure Function wi

[2019-12-05 22:55] jasonnutter commented on #1035
Fixes for this bug have been merged into `dev` and are available on `1.2.0-beta.5`. Please try that version and let us know if there are still issues. Closing (unless we here there are more bugs related to this).

[2019-12-05 22:56] jasonnutter commented on #1035
Sorry, I will clarify that those fixes were merged for `msal`, but are not yet in `@azure/msal-angular`. Will keep this open until Angular is updated with latest version of MSAL for tracking.

[2019-12-05 23:07] jasonnutter commented on #1122
There are some other customers reporting similar issues, once MSAL Angular has been updated to MSAL 1.x I'll revisit this and see if it is still an issue.

[2019-12-05 23:29] jasonnutter commented on #1143
I believe this is a known issue, already tracked in #677

[2019-12-05 23:33] jasonnutter commented on #1145
We do not currently support in this in MSAL. MSAL Node is on our roadmap, but that work has not been committed or scheduled yet.

Thanks for the feedback!

[2019-12-05 23:33] #1145 closed

[2019-12-06 01:47] ncausey commented on #867
Yes, I will try to pull it down soon and test this. I'll update here when I have the results.

[2019-12-06 03:20] ncausey commented on #867
@jmckennon it seems to be working with `msal@1.2.0-beta.5`. I'm not seeing the issues and am able do what I need as before.

[2019-12-06 04:23] sameerag commented on #867
Great! Thanks @ncausey, closing this issue now.

[2019-12-06 04:23] #867 closed

[2019-12-06 18:01] LastTribunal commented on #99
**@sameerag you guys need to come up with an MSAL Angular implementation and demo app that showcases interfacing with both AAD and ADFS ASAP**  No one cares about MSAL otherwise... what problem does it solve as of right now that ADAL doesnt? The only sick patient is ADALJS/ADALAngular with near fatal symptoms when interfacing with ADFS.  I hope the powers at MS are reading this.

[2019-12-07 00:13] sameerag commented on #99
@LastTribunal We are working on Angular release already, please check the project board [angular](https://github.com/AzureAD/microsoft-authentication-library-for-js/projects/3) for the progress. We are also working on samples improvements the remaining part of the year. We will follow up with an ADFS 2019 sample once Angular is available.

`msal js` adds support for v2 endpoints, combines support

[2019-12-07 11:28] januszj commented on #1143
@jasonnutter what I'm missing in token are roles not wids, roles are specific to application so this should not fall under the same issue

[2019-12-07 23:36] aappddeevv commented on #899
Is there something we need to do to activate this capability. I'm on 1.2.0-beta.5 but when I run the process of acquiring a token via acquireTokenSilent but that fails with the error `ClientAuthError: Token calls are blocked in hidden iframes` still. Are these changes suppose to allow acquireTokenSilent to work correctly?

I'm on chrome.

[2019-12-08 19:42] sameerag commented on #899
@aappddeevv This is expected. Please check the beta release notes [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS:-1.2.0-beta.x#changes-from-120-beta0). You can either:

1. Choose to ignore this error
2. Set a blank page or any page without scripts running as the `redirectUri` for `acquireTokenSilent()` calls.

`msal@1.2.0` will be released soon (which is tec

[2019-12-08 19:54] aappddeevv commented on #899
Thanks. I had read a bunch of those notes but did not understand that option (1) was available. I assume (1) means ignore the error but it is still working all Ok.

[2019-12-08 21:46] sameerag commented on #899
@aappddeevv yes, your understanding is correct. We will try to get this message across board in the release notes for `msal@1.2.0`. Thank you for the quick testing and feedback.

[2019-12-09 17:17] aappddeevv commented on #899
I must admit, I still can't get this library to work consistently on its own sometimes.

I am trying to get an idtoken first then an access token. I do not provide any scopes to my loginRedirect() request so that only openid and profile are sent. The request goes out but when I try to get a token (acquireTokenSilent) the cookie is not set and I get a `AADSTS50058: A silent sign-in request was sent

[2019-12-09 17:24] jasonnutter commented on #899
@aappddeevv If this isn't specific to iframe-in-iframe, can you please open a separate issue with your questions? Thanks!

[2019-12-09 17:26] aappddeevv commented on #899
I can do that, but I I thought it was due to the use of "redirect" which runs in an embedded iframe vs "popup".

[2019-12-09 17:30] jasonnutter commented on #1139
@HockeyJustin We're aware of issues with renewing tokens in Angular apps, we hope this will get fixed when MSAL Angular is upgraded to v1 of MSAL. This work is ongoing, we'll post here when there is a version available with a potential fix. Thanks!

[2019-12-09 17:31] jasonnutter commented on #899
@aappddeevv Currently, applications running inside an embedded iframe will not be able to use `loginRedirect`, as the AAD login UI cannot be shown in an iframe. We're working on a long-term solution for this, but for now, you will need to use popup methods when MSAL is running inside an iframe.

[2019-12-09 17:34] aappddeevv commented on #899
Hmm..perhaps I am on the wrong issue then. I'm not able to get redirect methods to work in the toplevel iframe. My app is *not* in an embedded iframe. I'll keep playing with this issue and see if its pilot error. Thanks.

[2019-12-09 17:37] jasonnutter commented on #899
@aappddeevv Ah, yes if you need help with an application running in the top frame, please open a new issue, thanks!

[2019-12-09 22:39] muying-cui opened #1148 "Cannot acquire access token for MSA account"
#607  I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library ve

[2019-12-10 03:09] nanivijay commented on #677
+1
we have specific workflow based on wids after login. any pointers?

[2019-12-10 04:26] hpsin commented on #677
Wids is not issued in tokens obtained via implicit flow. "May not be present in tokens obtained through the implicit flow due to token length concerns." from the documentation on the wids claim in the access token docs. https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

[2019-12-10 05:09] nanivijay commented on #677
what is the alternative to get the wids claims in SPA applications?

[2019-12-10 05:13] agrabhi commented on #677
Looking for alternatives here..

[2019-12-10 10:34] Danieliverant commented on #997
any updates?

[2019-12-10 14:30] arian2ashk commented on #752
@jmckennon I updated to `msal@1.2.0-beta.5` and still have the issue, is there a new flag like `forceRefresh` that I need to use to force an Id_token renewal?
`forceRefresh` flag still only refreshes the access token when used in `acquireTokenSilent`.

[2019-12-10 16:22] jasonnutter commented on #752
@arian2ashk Can you please elaborate on the issue you are seeing, and how you are using the library?

[2019-12-10 16:34] jasonnutter commented on #997
@Danieliverant Sorry this fell through the cracks.

I'm a bit confused about your issue. The `state` parameter is used by MSAL to mark an individual request, and should be unique per request. Are you saying you are using it to change locales? Can you share some images and urls that demonstrate the problem?

[2019-12-10 16:41] jasonnutter commented on #1148
@pkanher617 @sameerag Any thoughts? Chatted with @muying-cui in Teams, and I'm stumped on this issue.

[2019-12-10 17:30] jasonnutter commented on #1143
@januszj Ah, apologies, my mistake. @hpsin would you know how to get the `roles` claim in the implicit flow?

[2019-12-10 18:00] sameerag commented on #1148
I think MSA is supported only on v2 and `.default` as scope works for only v1. That could be the issue. @hpsin can you add more?

[2019-12-10 18:02] hpsin commented on #1148
Both are v2 only. Can you confirm that the resource you're accessing also supports MSA? We can't emit tokens for users that the token recipient doesn't support.

[2019-12-10 18:03] hpsin commented on #1148
Ah, you're not even requesting a token here for a resource. Can you copy and paste that entire URL here?

[2019-12-10 18:36] muying-cui commented on #1148
The app A that has both AAD and MSA configured has its application ID constructed in UserAgentApplication, and app B is given as the scope with .default.

The login request went to: https://login.microsoftonline.com/**consumers**/oauth2/v2.0/authorize?response_type=id_token&scope=9e4a5442-a5c9-4f6f-b03f-5b9fcaaf24b1%2F.default%20openid%20profile&client_id=c1f66aa2-edcf-4a40-81cb-7710724e8e04&redir

[2019-12-10 20:05] sameerag commented on #1014
Placeholder currently is https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.0; This will be probably changed a little this week once the team reviews it.

[2019-12-10 20:10] sameerag commented on #899
`msal@1.2.0` released.

- Please check the release in [npm](https://www.npmjs.com/package/msal); CDN release will be coming soon; mostly today.
- Please read the release [blog](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.0) and the [changelog](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.2.0) for the feature/fixes summar

[2019-12-10 20:10] #899 closed

[2019-12-10 20:25] hpsin commented on #1148
Your resource doesn't exist in MSA - the same request (with a different ID) works with user.read.  Did App B mark that MSA was supported in their registration?

[2019-12-10 20:33] hpsin commented on #1143
Same issue as referenced in #677 - long form values are not put into length-restricted tokens since it breaks browsers. We don't have a way around this.

[2019-12-10 21:12] muying-cui commented on #1148
App A has AAD and MSA configured as supported in first party onboarding site, App B only has AAD configured, but App B has App A as pre-authorized with scopes. I have also tried to use the pre-authorized scope in the access token request, but got the error:

_invalid_request: The request is not valid. The application is a first party application, the user does not have consent, and users are not p

[2019-12-10 21:24] hpsin commented on #1148
App B does not exist in MSA - you can't ask for a scope that MSA doesn't know about.  You must remove the scope from the request and only ask for it after you know if the user is in MSA or AAD.

[2019-12-10 21:26] hpsin commented on #677
You need to do an OBO call to get a token for Graph, then call graph to learn what they wids or roles are on the token.  You can also do OBO to get an id_token which should have those claims in it.

[2019-12-10 22:08] muying-cui commented on #1148
In our WebAuth.Implicit component, when our callers make a call to us for access tokens, they already let us know whether the user is MSA or AAD. And when you mentioned App B does not exist in MSA, are you saying if App B also has MSA configured in first party onboarding portal, the request would have worked?

So in order to acquire MSA access token, the client (App A) needs to have MSA configured

[2019-12-10 23:16] nanivijay commented on #677
You mean OBO in server side? Can I do OBO using adal js?

[2019-12-10 23:25] hpsin commented on #677
No, you cannot. If you're doing this client side, be aware of two things - the token can be spoofed by the user (they own your code - so don't do client side verification here for server side actions), and that you can just silently request a token for Graph directly from the client to query these items.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vijay

[2019-12-10 23:34] hpsin commented on #1148
That's correct.

[2019-12-11 02:19] AndreiZe commented on #1123
Note that currently config response is being cached for limited amount of time so depending on how frequently app is being used you might end up taking a hit more often than you think. Even when response being cached by browser you end up taking a hit due to the fact that XHR is being used to fetch config and that results in queueing separate task to handle response which can result in significant

[2019-12-11 04:00] sameerag commented on #1123
@AndreiZe Thanks for the feedback. Since we released `msal@1.2.0` today, this is the next task we are focused on. I would like to get a nod from the service team before finalizing our approach.

CC @hpsin. (I also added you in an email)

[2019-12-11 04:37] sameerag commented on #981
@deregtd Can your team please try `msal@1.2.0`? All cache issues are mostly resolved with this release and this issue should no longer be seen. Please let us know your test results and I will reopen the ticket as needed. We are fairly confident that this should not be an issue anymore.

[2019-12-11 04:37] #981 closed

[2019-12-11 04:38] sameerag commented on #1014
Closing this as the PR is in progress in ADO.

[2019-12-11 04:38] #1014 closed

[2019-12-11 06:46] sameerag commented on #1128
@raghavankarthik80 There are couple of things happening here:

- Policies that need interaction like "EditEmail" cannot be called using `acquireTokenSilent()` in `msal js`. `msal js` creates a hidden iframe for a silent calls and `B2C Service` blocks any policy executing an iframe. The guidance here is to make an interactive call. I do understand that a user login should be SSO but currently there

[2019-12-11 10:25] HockeyJustin commented on #1139
@jasonnutter . Thanks for getting back to me.  Do you have any idea on the timeline for that please? We are starting to create a production system, so it would be good to know whether to hold out for the update or to work out a way of incorporating msal directly for now (entirely possible, but I'd prefer not to do).

[2019-12-11 10:50] Danieliverant commented on #997
yes, I want to let the user login to the site with the same language he had on the login page.
(you can only have one redirect URI = English site,
but if the user used the Arabic page in AzureB2C - he should also want to login to the Arabic site)

i.e. English site - ui_locales="en" & state="en-gb"
https://etoropartners.b2clogin.com/etoropartners.onmicrosoft.com/b2c_1_signin/oauth2/v2.0/authorize?

[2019-12-11 12:28] arian2ashk commented on #752
@jasonnutter the setup we have is an API and a react app that talks to the API. the API manages users and roles and permissions and it uses Azure AD for providing the identity. we have different ways of authenticating in our API for different customers. if there is a token in the header meaning the customer has a token provider, it will validate the token and then use the info in the token to retr

[2019-12-11 13:43] anton-gorbikov opened #1151 "urlContainsHash removed from public API"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-12-11 15:02] pasanenl opened #1152 "MSAL for Angular 0.1.4 is not recognizing SSO"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome Version 78.0.3904.108 (Official Build) (64-bit)
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
-

[2019-12-11 17:55] #1148 closed

[2019-12-11 19:30] TheLarkInn opened #1153 "Add `sideEffects: false` to package.json so webpack 4 can do better treeshaking"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [x] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] Not relevant XX

## Curre

[2019-12-11 19:33] TheLarkInn commented on #1118
@jasonnutter the problem here is that @RMacfarlane is trying to use a bundler (webpack/rollup/etc) the UMD bundle (which has its module name defined as `Msal`).

What @RMacfarlane should do instead is use the es-modules format of the library instead, which will prevent him from having this issue. This means `npm install msal` for their project and not using it as a script tag.

[2019-12-11 20:01] sameerag commented on #1151
@anton-gorbikov Thanks for bring this to our notice. This was an unintended side-effect of a code consolidation made for url helper functions. Can this wait until the next release or would you need a patch?

[2019-12-11 20:07] jasonnutter commented on #1118
@TheLarkInn Gotya, thanks! We're currently planning to fix this in v2, as it would be a breaking change to switch.

[2019-12-11 20:12] jasonnutter commented on #1139
@HockeyJustin We're currently planning to have a preview release this month, with GA early next year.

[2019-12-11 20:54] anton-gorbikov commented on #1151
@sameerag Thanks for quick reply and confirming that it's unintended. As for me it can wait. The change in the code was minimal, I just replaced `urlContainsHash` back to `isCallback`.

[2019-12-11 21:08] #1138 closed

[2019-12-12 01:49] rajasekhar2 opened #1154 "loginInProgress error when invalid user email provided. This does not reset"
I am using authority as "Consumers" so as to allow only MSA logins. When I give @microsoft.com email , I receive correct error. If I try my website again I receive below error. This remains till I close the browser. Loginredirect keeps on throwing this error till I close my session. Is this not handled properly or am I missing anything here?

errorCode: "login_progress_error"
name: "ClientAuthErro

[2019-12-12 01:59] rajasekhar2 commented on #1069
@sameerag is this issue fixed in beta?

[2019-12-12 02:37] aappddeevv commented on #1037
I'm runnning this issues and the warning says the cookie is blocked. When I try to get an access token, it fails. I think its because some cookies are sent that are not present, when requesting an access token. Perhaps the fix has not hit the AAD I am working from yet.

Is there a workaround?

[2019-12-12 02:53] jasonnutter commented on #1154
@rajasekhar2 Please try `msal@1.2.0` and let us know if this is still an issue.

[2019-12-12 11:32] flieks commented on #1037
@aappddeevv you mean the `block_token_requests`. I am on 1.2.0-beta.5 and have that too.
upgraded to beta because on stable i had the sameSite issue

[2019-12-12 14:28] osysltd commented on #400
Indeed, I have granted permissions for the appV1

![image](https://user-images.githubusercontent.com/1292744/70720329-e9997380-1cf3-11ea-8bbe-06d0c20fef42.png)

How should I use them properly? To be honest I've got lost between different APIs approaches and articles on the MSFT sites.

[2019-12-12 14:44] marisaoliva commented on #99
Hello:

I've seen that the version 1.2.0 support adfs, but only url microsoft? ¿Is possible use a url adfs private and use Msal?

I try do this but I've a error why the library try to redirect a url that it not the mine

 https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://****.**********.com/adfs/oauth2/v2.0/authorize 400 (Bad Request)

[2019-12-12 17:07] johanovic commented on #735
Is this related to the following?

If you have multiple accounts that all have the same permissions for the same app, the login will automatically select one when you try to add another account. You don't get the time to log in a different account.

[2019-12-12 17:35] liben-y commented on #1117
Hi @emadalsous, @jasonnutter,

I've got similar setup, where I have a web api and angular client which are on 2 web apps with different domains. I'm using MSAL library and am getting CORS errors specifically "No 'Access-Control-Allow-Origin' header is present on the requested resource".

I can't find any clear documentation that shows an example of how I need to set this up both on the server and

[2019-12-12 18:09] jasonnutter commented on #1117
@liben-y It sounds like your server is not setup to accept CORS requests. I would consult the documentation of the web server framework you are using to find out how to enable that so the server can accept CORS requests from the Angular app's domain.

[2019-12-12 18:38] jasonnutter commented on #997
@Danieliverant With version `msal@1.2.0`, you can now set the redirect uri on a per request basis. This would allow your application to determine which version of the site the user is currently on, and then set and pass that redirect uri directly into the request (each of these urls would need to be registered in the Azure Portal as redirect uris for your application). I think I would recommend tr

[2019-12-12 22:05] jasonnutter commented on #752
@arian2ashk Thanks for the info. A couple of thoughts:

1. Generally speaking, we do not recommend using ID Tokens to validate your own web API (and instead use access tokens with custom scopes). Since your web API appears to be a simple pass-through proxy to Graph (and you already have a token for Graph), I would consider removing that requirement and just pass the access token, since Graph will

[2019-12-12 23:31] tszymanik opened #1156 "Token calls are blocked in hidden iframes"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 79.0.3945.79
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Lib

[2019-12-12 23:48] jasonnutter commented on #1156
As part of the OAuth Implicit flow, our library uses hidden iframes to acquire access tokens. When a token has been acquired, AAD will load your redirect URI inside this hidden iframe, with the access token included in the url (as the hash). This error is thrown when we detect that your application is calling `acquireTokenSilent` on page load inside of that iframe, and is to prevent any bad side e

[2019-12-13 00:10] jasonnutter commented on #1153
@TheLarkInn Thanks Sean! We'll take a look at enabling this.

[2019-12-13 00:14] jasonnutter commented on #1152
@pasanenl This is a known shortcoming of MSAL Angular, but will be addressed soon, as we are currently working to upgrade MSAL Angular to use MSAL 1.x, where this works as expected. I'll post an update here when there is a version you can try.

We'll also make sure to make it more clear in the documentation how to do this.

[2019-12-13 00:15] tszymanik commented on #1156
@jasonnutter Okay, but is it possible to retrieve token from the hash in the url? Then I wouldn't have to call method `acquireTokenSilent`.

[2019-12-13 00:18] jasonnutter commented on #1156
@tszymanik `acquireTokenSilent` does that for you, by opening the hidden iframe with the appropriate url to AAD, when parsing the hash in the url when AAD redirects the hidden iframe back to your redirect URI.

[2019-12-13 00:24] #1156 closed

[2019-12-13 00:36] aappddeevv commented on #1037
I set the flags in chrome to disable all SameSite processing for the time being. The problem went away. I notice that I was getting a "cookie not set" warnings in the console log which I did not realize what they were at first. I guess I am running my browser with all experimental features on so I hit this sooner than my AAD was upgrade to send the SameSite header correctly.

That solved the issue

[2019-12-13 00:46] aappddeevv commented on #1069
I'm still having this issue in 1.2.0 with the redirect. I got this from a bad login and now it just loops. I'm using local storage.  There are no cookies set when I encounter this and even if I clear local storage, I'm still stuck in the endless loop. Also, where is it documented that the redirect will return to the initiating page but with a #id_token stuck on my url?

[2019-12-13 05:52] sameerag commented on #1037
Can we close this now @aappddeevv and @Therapho ?

[2019-12-13 06:30] rajasekhar2 commented on #1154
thanks @jasonnutter this worked with 1.2.0. However I am facing below issue after including msal. First build runs fine, subsequent builds fail

<--- Last few GCs --->

[17208:0000020B4EB70F20]  1184996 ms: Scavenge 3365.3 (4162.0) -> 3364.3 (4162.5) MB, 10.8 / 0.0 ms  (average mu = 0.164, current mu = 0.189) allocation failure
[17208:0000020B4EB70F20]  1185019 ms: Scavenge 3366.8 (4163.0) -> 3366

[2019-12-13 07:11] rajasekhar2 opened #1157 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-12-13 13:32] arian2ashk commented on #752
@jasonnutter Thanks for the feedback, It helped a lot, I managed to only use the access token for the authentication by using custom scopes. The only question I have right now is that why does MSAL `loginRedirect` and `acquireTokenSilent` require implicit grant to ID tokens. I was expecting now that I am not using the ID token I should be able to remove the implicit grant to ID tokens.

[2019-12-13 16:49] aappddeevv opened #1158 "DOMError when acquireTokenSilent called"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X ] Chrome version 79
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2019-12-13 18:07] jasonnutter commented on #1158
@aappddeevv This errors occurs when the page inside the hidden iframe is attempt to navigate the top frame, most likely to show you an error message. When this happens, you should try openingthat new page (which is trying to be navigated to) in its own tab.

In this case, I checked the logs and it looks the redirectUri that was set on the request was invalid (i.e. it was not registered as a redire

[2019-12-13 18:15] jasonnutter commented on #1154
@rajasekhar2 I see you opened a separate issue for the webpack question, closing this.

[2019-12-13 18:15] #1154 closed

[2019-12-13 18:17] aappddeevv commented on #1158
Ah great point, its a redirect so indeed it needs to be there.

[2019-12-13 18:18] jasonnutter commented on #1098
@Danieliverant Apologies for the delay, this issue fell through the cracks.

This is a known short-coming of MSAL Angular, but will be available in the next version of MSAL Angular, which will use MSAL 1.x, which has this capability. I'll post an update when there is a version available to try.

[2019-12-13 18:35] aappddeevv commented on #1158
One question, if I am always calling acquireTokenSilent to make sure I get a fresh token which I thought was the way to go, and I could call that from any page, how would I ever register all my pages for the redirect?

[2019-12-13 18:39] jasonnutter commented on #1158
@aappddeevv Unfortunately, we do not support wildcards for redirect uris for security reasons.

Instead, `1.2.0` made it so that the page you set for the redirect uri doesn't have to have MSAL (or any other content). Furthermore, you can now set the redirect uri per request. What this means is that you can create a simple page with no content (e.g. `domain.com/auth.html`), and set that as the redi

[2019-12-13 18:49] jasonnutter commented on #752
@arian2ashk You're welcome!

MSAL requires an ID token because it requires context about the user, which the ID token provides.

[2019-12-14 00:31] sameerag commented on #400
Can you please expand on the usage @osysltd?

- How are you sending the scopes (request type and sample code?) and what is the response?
- Which version of `msal js`?

[2019-12-14 00:37] sameerag commented on #1069
@aappddeevv The loop is probably triggered from AAD where if a given request after failing is retried multiple times. Since this issue is partially addressing the cache clean-up issues, it gets confusing to track a new use case with the same ticket.

Can you please:
- Raise a new issue with clear steps of repro for this loop?
- Please share the msal version and any other details (browser, config e

[2019-12-14 00:37] #1069 closed

[2019-12-14 00:40] sameerag commented on #99
Hi @marisaoliva We would need some time to address this as this would need some significant changes in our `authority` code which determines the end point to call for token acquisition. I am tagging this as a `feature request` and we will update the roadmap when we can invest on this.

[2019-12-14 01:47] rajasekhar2 commented on #1157
I am still struggling with this issue. It will be great if someone can look into this

[2019-12-14 08:27] sameerag commented on #1158
In addition to @jasonnutter's explanation, there is a sample that demos it in our code [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/VanillaJSTestApp/index_blankPageRedirectUri.html).

"if I am always calling acquireTokenSilent to make sure I get a fresh token which I thought was the way to go, and I could call that from any page?" -  As long as the "lo

[2019-12-14 08:31] sameerag commented on #1009
Please open a new issue with steps to reproduce to track this @rajarameshvarma ? The original issue diverged into a multiple issues and some of them are resolved in `msal@1.2.0` . If this isn't case for any of your use cases, we would appreciate it to be tracked with a new ticket.

[2019-12-14 08:31] #1009 closed

[2019-12-14 16:26] Danieliverant commented on #997
Thank you for the response! but it does not exactly answer my case.

I'm trying to support this behavior:

The user is on the English version of the Login page,
he doesn't understand English so he switched to Chinese, entered his credentials and presses "login".
now I should redirect him to the Chinese site.
how can I know what language he had on the login page?

this is why I need the state param

[2019-12-14 19:19] aappddeevv commented on #1158
I think everything is working, at least as far as I can tell with some initial testing. I did setup the fake auth page and provide that to the acquireTokenSilent call as the redirectUri.

[2019-12-14 19:19] #1158 closed

[2019-12-15 05:01] emadalsous commented on #1117
Hello @liben-y ,

First you should make sure that your web api [accept CORS request](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1). This can be done on the startup file.

MSAL need protectedResourceMap if you want to make CORS calls. The key will be the url of the protected resource (for example: if you want to call https://www.apidomain.net/youcontrollerpath or t

[2019-12-16 00:26] AlbQuist commented on #547
I'm facing the same problem opening Azure Machine Learning Studio in Chrome. Sometimes I'm able to sign in but after a short time the error pops up.

[2019-12-16 09:58] daltondhcp opened #1161 "acquireTokenSilent times out with X-Frame-Error when signing in with MFA enabled B2C policy"
Similar issue to #699 and #1088 that is manifested when signing in to an app using Multi Factor Authentication in B2C.

## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Firefox

[2019-12-16 13:17] osysltd commented on #400
@sameerag Thanks for picking up. I tried to obtain different endpoint tokens, was trying to use different APIs, different implementations of MSFT authentication and haven't even found a valuable MSFT article with the description on how to leverage the SharePoint App Registration permission. Sorry for possible offtopic but how should leverage the mentioned permissions?

[2019-12-16 16:30] jasonnutter commented on #547
@AlbQuist I would recommend reporting that to Azure support, so that the relevant engineering teams can investigate (as you don't use MSAL directly inside of the Azure ML Studio, correct?).

[2019-12-16 16:45] toddfsnyder commented on #1037
@sameerag With Chrome 79 we are now seeing a different behavior. After logging into Azure B2C chrome says it blocks all the B2C cookies. This seems incorrect or at least unexpected behavior. Can you clarify if this is correct or is there a pending change for how B2C writes the cookie?

[2019-12-16 17:18] jasonnutter commented on #1157
I'm working with @rajasekhar2 via internal channels to debug this, which happens after adding `msal` to his team's application and then running Webpack.

[2019-12-16 17:36] aiwangmicrosoft commented on #841
@jasonnutter can you review my suggestion? I also updated the readme.md

[2019-12-16 18:04] jasonnutter commented on #997
@Danieliverant Can you clarify if the user is changing language/local on your application page, or on the MS login screen? If the user is changing their language in your application, I'm not sure I understand why couldn't use the redirect URI to keep track of which language they are using.

And unfortunately, I would not expect the Azure portal to support wildcards, due to security concerns.

[2019-12-16 18:27] jasonnutter commented on #997
@pkanher617 This looks to be an issue with the B2C login screen.

[2019-12-16 21:37] jasonnutter commented on #997
@Danieliverant I believe the root cause of the issue is that the links to change locales don't properly encode the "|" parameter. You'll notice when you initially land on the login screen, the value of the state parameter is

[code]

However, after clicking the link to change languages, it changes to something like:

[code]

I tested this, and it seems to work fine in both Chrome and IE the first

[2019-12-16 23:39] jasonnutter commented on #1161
@daltondhcp Unfortunately, my understanding is that if you have a B2C policy that may require interaction, it will not work with `acuireTokenSilent`, and the workaround is to always call `acquireTokenPopup` or `acquireTokenRedirect`. As noted in the error message, the page that needs to be displayed does not allow itself to be rendered in an iframe (even a hidden one), which is done for security p

[2019-12-17 06:22] daltondhcp commented on #1161
@jasonnutter - since the user has logged in and performed MFA at `loginPopup`, a valid token is available and thus `acquiretokensilent` should work.
Doing `acquireTokenPopup` after sign-in means means that the user have to perform MFA twice which definitely cannot be right. I also do not see this behavior if I use other MSAL libraries, e.g. MSAL .NET with the very same B2C policies.

[2019-12-17 11:15] m-sala-digital88 commented on #735
Hi guys, i've just subrscribed in github cos i got the same problem of @jonathaneckman  and i've just found out the solution of this problem. When you call your method to logout the user you've to set the  authority field again cos you setted it only for the login method and the logout method doesn't know how and who logging out.
I think changing your logout method like this could work fine :-)

`

[2019-12-17 12:45] Danieliverant commented on #997
wow... thats embarrassing. I changed the logic and all work now. thank you!

[2019-12-17 15:31] exuviae opened #1165 "aquireTokenSilent blocked by sandboxed iframe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version 78
- [x ] Firefox version 71
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library ve

[2019-12-17 16:58] jasonnutter commented on #997
You're welcome!

[2019-12-17 16:58] #997 closed

[2019-12-17 18:08] jasonnutter commented on #1165
@exuviae Are you using Azure B2C?

[2019-12-17 18:28] exuviae commented on #1165
Yes this is azure B2C.

[2019-12-17 19:21] sameerag commented on #1165
@ktsakas Does B2C submit a "form" at any point in token retrieval for "silent" calls?

[2019-12-17 21:58] nanivijay commented on #677
@hpsin what is the api in graph i need to call to get wids?

[2019-12-18 00:14] hpsin commented on #677
I believe it's this API: https://docs.microsoft.com/en-us/graph/api/directoryrole-list-members?view=graph-rest-1.0&tabs=http

[2019-12-18 00:36] jakehockey10 opened #1167 "Angular: MSAL Guard doesn't implement CanLoad, CanActivateChild, only CanActivate"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] All

## Lib

[2019-12-18 08:10] andersthorsen opened #1168 "404 link to documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-12-18 13:28] md-swe-hiring opened #1169 "Iframes auth redirect"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [x] Safari version XX

## Library versi

[2019-12-18 16:22] jasonnutter commented on #1168
@andersthorsen Sorry about that, here is the updated link: https://azuread.github.io/microsoft-authentication-library-for-js/docs/msal/

We updated this in the README in the repo, but missed a few other spots, we'll get that fixed, sorry about that!

[2019-12-18 16:46] jasonnutter commented on #1169
@md-swe-hiring Using redirect is one scenario that is **not** supported yet. I understand from the release notes why you might think that, so we'll make sure this made clear. cc: @sameerag

In the mean time, you will need to use one of the other methods inside in iframe. Apologies for the confusion.

[2019-12-18 16:57] jasonnutter commented on #1167
@jakehockey10 Can you please provide the code you are using for each module?

[2019-12-18 17:01] jasonnutter commented on #1168
Wiki link has been updated, docs.microsoft.com link has been committed and will go out with the next deployment of the docs site. Closing.

[2019-12-18 17:01] #1168 closed

[2019-12-18 17:17] #1157 closed

[2019-12-18 17:35] yesoreyeram commented on #127
Guys . anyone got this working? BTW, Why this issue is in closed state?

[2019-12-18 17:46] jasonnutter commented on #1157
Issue resolved by customer, closing.

[2019-12-18 17:49] jasonnutter commented on #127
@yesoreyeram The logout page not redirecting back to your app for MSA accounts is a known issue with the logout page (and the team that owns the logout page is aware). There isn't anything the library can do to fix this, which is why this issue is closed.

[2019-12-18 18:12] yesoreyeram commented on #127
@jasonnutter thanks for confirming. Is there any authentic url to track this issue?

[2019-12-18 18:29] jasonnutter commented on #127
@yesoreyeram Nothing external from MSFT, unfortunately.

[2019-12-18 18:47] jakehockey10 commented on #1167
@jasonnutter
Here is how my `AppModule` is defined:
[code]

Here is the Feature module that I need the interceptor to work in:

[code]

[2019-12-18 19:18] jakehockey10 commented on #1167
My assumption with the way this should work is based on this ticket: https://github.com/angular/angular/issues/20575

[2019-12-18 19:52] chinmayembedded commented on #127
You have to redirect the page to login one. That's the only one solution.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason Nutter <notifications@github.com>
Sent: Wednesday, December 18, 2019 11:59:32 PM
To: AzureAD/microsoft-authentication-library-for-js <microsoft-authentication-library-for-js@noreply.github.com>
Cc: Chinmay Sawant <chinmayssawant@liv

[2019-12-18 21:18] jasonnutter commented on #1161
@daltondhcp What scopes are you using for login?

[2019-12-18 21:26] daltondhcp commented on #1161
@jasonnutter I’ve only used `user_impersonation` in my tests.

[2019-12-18 22:15] #923 closed

[2019-12-18 22:27] sameerag commented on #922
Future libraries : node and middleware will address this.

[2019-12-18 22:27] #922 closed

[2019-12-18 22:37] sameerag opened #1170 "Create samples needed for Integration Testing"
- PWA sample, combine this with existing React sample
- #1082 B2C use cases
- #99 ADFS 2019
- #1026 Conditional Access
- #1166 ssoSilent use case
- #844 V1 endpoint
- #1000 auth_code
- Redirect for apps in iframes

[2019-12-18 22:41] sameerag commented on #1169
The plumbing is there except for a specific use case where `loginRedirect` cannot be called from popups; I can check once and reachout @md-swe-hiring; will publish a sample that clarifies the usage.

The release notes [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.0#redirect-apis) will be updated as soon as this is ready. Apologies for the delay, we focu

[2019-12-18 22:46] jasonnutter commented on #1031
@nakawankuma Can you please let us know if this is still an issue in `1.2.0`?

[2019-12-18 22:50] jasonnutter commented on #1044
@Stan92 Apologies, this slipped through the cracks. Is this still an issue?

cc: @sameerag

[2019-12-18 23:09] jasonnutter commented on #1048
@malayidan Apologies, this issue slipped through the cracks.

In `@azure/msal-angularjs`, there is no workaround to stop this behavior, unfortunately. We have addressed this in `msal@1.2.0`, and we are currently working to uprade `@azure/msal-angular` to use `msal@1.2.0`. So you will need to switch to `@azure/msal-angular`, and you can try out `@azure/msal-angular@1.0.0-alpha.0`, which is the firs

[2019-12-18 23:09] #1048 closed

[2019-12-18 23:14] jasonnutter commented on #1046
@anton-gorbikov Apologies, this issue slipped through the cracks.

In `msal@1.2.0`, msal is not executed in the hidden iframe, so the logging should make sense.

Closing, please let us know if you have further questions.

[2019-12-18 23:14] #1046 closed

[2019-12-18 23:17] jasonnutter commented on #1007
@hpsin Where is the place to document this error? Is this something your team can take care of? Thanks!

[2019-12-18 23:25] jasonnutter commented on #1052
@tangudu1808 Apologies for the delay, this slipped through the cracks.

Our understanding is that this is happening when the URL is too long, and IE truncates query parameters, which ends up removing the `state` parameter, as it is added at the end of the url. This often happens when the library tries to retrieve an ID token and an access token in the same call.

To mitigate this, you should ensur

[2019-12-18 23:26] sameerag opened #1172 "Mitigate IE/Edge truncation of the #hash for response_type=id_token_token"
Add a mitigation in the library for this use case. @sameerag  to add a clear desc.

[2019-12-18 23:34] jasonnutter commented on #1078
@ahqardah Can you please provide some sample code that demonstrates your usage?

[2019-12-18 23:35] jasonnutter commented on #1080
@darsney Can you try `msal@1.2.0` and let us know if this is fixed?

[2019-12-18 23:42] jasonnutter commented on #1098
We are adding a new top-level API for this use case, `ssoSilent`, which you can track at #1166.

Closing, let us know if you have further questions.

[2019-12-18 23:42] #1098 closed

[2019-12-18 23:47] jmckennon commented on #1115
@biste5 Do you have any updates here? Still seeing problems? I was waiting for more details, but it's been some time.

We could take a look at the url that you're getting back and I can try to diagnose if there are still some problems.

We now also have `msal@1.2.0`, which I don't think will necessarily fix your issues, but it's always worth a shot.

[2019-12-18 23:59] jasonnutter commented on #1161
@daltondhcp Ah, in AAD, `user_impersonation` is a deprecated scope in AAD v2. Can you try using `<resource>/.default` instead?

@valnav Are you able to provide any insight here? Thanks!

[2019-12-19 00:00] jasonnutter commented on #1143
Closing, as there is nothing further for the library.

[2019-12-19 00:00] #1143 closed

[2019-12-19 00:07] pkanher617 commented on #1091
@leniel Sorry for the delay. Could you please post a snippet of the code that you are using to acquire a token?

I believe what is happening here is that within the hidden iframe there is some sort of error page being displayed that MSAL isn't detecting. This propogates as a timeout error since we expect this to return a token or error in the hash, rather than a displayed error page.

I'm a little

[2019-12-19 00:31] sameerag commented on #400
@lahuey Can anyone from your team help here? Please tag the PM that can follow up and we can display a link in our documentation for SPO users.

[2019-12-19 00:32] hpsin commented on #1007
This is an interaction required error, which should be handled as an interaction required error and not special cased.  It is triggered because a client used a system webview to request a code for a native application.  This is a known attack vector, so the identity platform requires the user to "check my sign in" (CMSI) and validate that this is the app that needs to be requested.

No app that us

[2019-12-19 07:06] daltondhcp commented on #1161
@jasonnutter if I’m not mistaken, it works a bit differently in B2C and thus I cannot use .default. User_impersonation is the default scope available when enabling scopes for a B2C app. I’ve tried to create/use another scope that I call read and that makes no difference with this issue. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens#prerequisites

[2019-12-19 08:12] md-swe-hiring commented on #1169
Thanks a lot. It would be great with a sample.

[2019-12-19 13:58] leniel commented on #1091
Hey @pkanher617 thanks for your attention to this ticket. I also have this other one open https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1124 see if you can shed some light there... 👍

Regarding this ticket: the application is hosted in another Azure AD tenant (Tenant B) at  https://myapp.azurewebsites.net... this application in tenant B is configured to authenticate use

[2019-12-19 16:18] jasonnutter commented on #1007
@hpsin Thanks! Closing.

[2019-12-19 16:18] #1007 closed

[2019-12-19 16:30] jasonnutter commented on #1167
@jakehockey10 Gotya, thanks for the info. Which Angular version are you using? The library is built with Angular 4, and we're working now to upgrade it, I wonder if this is fixed in a newer version.

[2019-12-19 17:11] jasonnutter commented on #1059
@Bhavya207 Following up on this, can you please have your customer try `msal@1.2.0` and let us know if it fixes the issues they were seeing?

[2019-12-19 17:40] jasonnutter commented on #891
Closing, as we are punting on this for the moment.

[2019-12-19 17:40] #891 closed

[2019-12-19 17:49] jakehockey10 commented on #1167
It might be.  Here is my Angular version:

[code]

I'm trying to stay on the latest of Angular as much as I can with this application.  What is the time table for updating the angular dependency to latest on this library?

Does @azure/msal-angular import `HttpClientModule` itself?

[2019-12-19 18:18] christiango opened #1173 "Reduce initial bundle size of msal.js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-12-19 18:27] jasonnutter commented on #1173
@christiango Thanks for the feedback! I definitely agree there's a lot we could here. Some thoughts:

- Tree shaking: Agree about `sideEffects: false`, we already have an issue open to add that. #1153
- `UserAgentApplication`: We're currently working on the next major version of the library (to support Auth Code flow), which has a lot of refactoring of this module, namely breaking it up into small

[2019-12-19 18:30] christiango commented on #1173
Thanks for the quick reply Jason! Yeah, we're using the npm package in our bundle directly, just to confirm.

With regards to sideEffects: false, I did an initial experiment with that in a branch and didn't see a big drop in our bundle size, likely due to UserAgentApplication creating a large dependency tree that can't really be shaken out.

Looking forward to the next major release!

[2019-12-19 18:43] jasonnutter commented on #1173
@christiango No problem, and thanks for sharing your findings!

[2019-12-19 18:44] jasonnutter commented on #1033
The first version of MSAl Angular that uses the latest MSAL is available: `@azure/msal-angular@1.0.0-alpha.0`

Please try this version and let us know of any feedback! Note, this is pre-release version intended to gather feedback, not for production use. Thanks!

[2019-12-19 19:09] ahqardah opened #1174 "400: bad request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 78
- [X] Firefox version latest
- [X] IE version latest
- [X] Edge version latest
- [X] Safari version 13.04

#

[2019-12-19 19:33] frejsoya commented on #1169
Just to follow up. The release notes, for linking to PRs that are not merged or part of the released code for 1.2.0 is quite confusing.

[2019-12-19 19:46] pkanher617 commented on #1091
@leniel I believe the reason the dev branch update didn't work is because the angularjs package is currently locked to MSAL core 0.2.2 version, so it will not have the latest updates for MSAL core. Unfortunately, MSAL AngularJS is currently in maintenance mode, and we aren't planning any major work on the library.

Could you please try using the latest alpha in the MSAL Angular package? This alpha

[2019-12-19 19:48] pkanher617 commented on #1124
@leniel as I said in #1091, as MSAL AngularJS is currently locked to MSAL version 0.2.2, it will not have any of the bug fixes or features available in the latest version of the library. Please try using the latest MSAL Angular alpha and see if you experience has improved.

[2019-12-19 19:49] jasonnutter commented on #1091
Alpha of MSAL Angular: `@azure/msal-angular@1.0.0-alpha.0`. Requires `msal@1.2.0` as a peer dependency.

[2019-12-19 21:21] sameerag commented on #1169
@frejsoya The code needed is already merged, however we are yet to support some use cases: redirects in popups etc which seem to be a popular use case for Teams users.

Expected to work in iframes:
`loginPopup`, `acquireTokenPopup` and `acquireTokenSilent`

Future support in iframes:
`loginRedirect` and `acquireTokenRedirect`

[2019-12-19 21:32] sameerag commented on #1174
@ahqardah How are you refreshing the token? Refresh token does not happen by default, the user is expected to call `acquireTokenSilent` and as long as the AAD session is active, the `token` will be renewed.

From your error, it seems to me that the resource is called with an expired token in which case it is expected. The pattern is to:

- acquire a token
- renew it silently before expiry (more no

[2019-12-19 21:44] ahqardah commented on #1174
@sameerag obviously, by calling `acquireTokenSilent`, which does the refresh silently if the token is expired. Now a couple of questions:
- if the user is idle for a while, the token expires, will that cause the 400? if yes, this is a bug and needs to be addressed. An expired token should not throw a 400 (bad input), 400 should only be used when the input is malformed or missing something.

Please

[2019-12-19 23:22] frejsoya commented on #1169
Cool! Thanks.

FWIW
I simply can't find any trace of the code 975 in the release, via NPM or any other branch for that matter. Ie. the intercommunication setup between top/child iframe.  Another approach was completed or?

[2019-12-20 14:57] leniel commented on #1124
@pkanher617 that makes sense... one question: is it possible to use MSAL Angular wrapper with an AngularJS application? Is there any sample?

[2019-12-20 16:40] jsmith39 opened #1175 "Angular 8 and Asp.Net Core 3.1"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [X] Firefox version XX
- [X] IE version XX
- [X] Edge version XX
- [X] Safari version XX

## Library versi

[2019-12-20 19:17] jasonnutter commented on #1175
@jsmith39 Given that you have scopes for two different resources (Graph and your web API), you will get a separate access token for each resource (as access tokens are issued per-resource). Can you confirm that the right access token is being used in the request to your web api? Might help to see your `protectedResourceMap`.

[2019-12-20 19:42] exuviae commented on #1165
the issue seems to be related to a response returned from b2c in that includes a hidden form, the auth code and a piece of javascript that submits the form.  the form contains three hidden params, code, state, and session_state.

[2019-12-20 22:10] jasonnutter commented on #1167
@jakehockey10 Thanks. We're working on this now, and will have a version you can try this month. I'll take a look into this issue as part of that.

And no, it does not import `HttpClientModule`.

[2019-12-21 18:14] jakehockey10 commented on #1167
@jasonnutter that sounds great! Thanks for being so helpful! I look forward to trying it out this month! I'm curious to find out what ends up being the issue for this in particular

[2019-12-21 22:19] raboud commented on #1033
@jasonnutter is the source for that in the dev-angular-1.0-msal-1 branch. I noticed a bunch of documentation errors and errors in the samples all under the msal-angular stuff in that branch. I am more than willing to update them all but and not sure how to put in a pull request against a branch. Is that even the right way to attack the problem. It seems with the new way to configure the service th

[2019-12-23 14:23] gauravgoyal5 commented on #728
Is this working?

[2019-12-23 14:36] gauravgoyal5 opened #1176 "Uncaught (in promise) TypeError: _this.logger.warning is not a function at UserAgentApplication.ts:573"
## Uncaught (in promise) TypeError: _this.logger.warning is not a function
    at UserAgentApplication.ts:573

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 79.0.3945.88 64-bit
- [

[2019-12-23 18:28] jasonnutter commented on #1033
@raboud Correct, and it can be tracked in #1160. I did update the main MSAL Angular sample and some of the docs in the PR, so can you please clarify exactly what isn't working? Thanks!

[2019-12-23 19:10] raboud commented on #1033
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-msal-1/lib/msal-angular/tests/sample/src/app/app.module.ts

`   MsalModule.forRoot({
   	    clientID: '79d1dd3f-4de3-4b69-ac25-f2fc5eefe773',
        authority: "https://login.microsoftonline.com/msidlab4.onmicrosoft.com/",
        validateAuthority: true,
        redirectUri: "https://msalangularsample.azurew

[2019-12-23 19:24] jasonnutter commented on #1033
@raboud Ah, gotya, thanks! For the sample app you linked, there's a good chance it will get removed and replaced, which is why I didn't update it, so I'll address that this week. The main MSAL Angular sample has been updated to show the new usage, which you can see here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0-msal-1/samples/MSALAngularDemoApp/src/ap

[2019-12-23 19:46] jasonnutter commented on #1174
@ahqardah Which API are you calling that is returning a 400? A Microsoft Graph API, or your own custom web API?

[2019-12-23 19:49] ahqardah commented on #1174
@jasonnutter we get this response from MSAL after an acquireTokenRedirect

[2019-12-23 21:49] rakragh commented on #609
@ktsakas Any news about this?

[2019-12-24 00:10] raboud commented on #1033
Do you need any help updated to a later cli or update the rxjs we dont need the rxjs-compa module?

[2019-12-25 11:15] frejsoya commented on #1169
👍

Just be aware that you link to a pull request in the release notes, the PR
is merged, but not to a branch that exists anymore, and the code is not
part of the release either.

On Thu, 19 Dec 2019 at 22.21, Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-12-25 12:05] sameerag commented on #1169
Sorry for the confusion, This isn't merged to dev as we wanted to release the sample with the code. I mistakenly believed it is merged seeing the merged labeling, but it isn't the case. Will release the code and the sample in the first two weeks of Jan.

[2019-12-25 15:26] frejsoya commented on #1169
Great! Thank you for clearing it up :)

On Wed, 25 Dec 2019 at 13.05, Sameera Gajjarapu <notifications@github.com>
wrote:

[2019-12-26 19:00] guevaraf opened #1177 "[MSAL ANGULAR] Use config function instead of a config object"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari version XX

## Library versi

[2019-12-26 19:45] jasonnutter commented on #1177
@guevaraf Thanks for the feedback. This has been requested a few times (#963, #1103 , #943), so I'll close this as a duplicate. I'll definitely see that we make this possible in the next version of MSAL Angular.

[2019-12-26 19:45] #1177 closed

[2019-12-26 20:05] jasonnutter commented on #1174
Worked with @ahqardah internally and determined the 400 is likely getting generated by the application server because the cookies that MSAL generates are too long (> 4096 characters). Workaround is to only enable `storeAuthStateInCookie` for IE/Edge, and to have users clear their cookies if they encounter this error. We'll look to see what protections we can add into the library to prevent this fr

[2019-12-26 21:40] jasonnutter commented on #1033
@raboud Not at this time. I will need help testing once it is ready, though!

[2019-12-26 22:40] flieks commented on #1156
I also get this on Macintosh Opera browser
`block_token_requests`
`ClientAuthError: Token calls are blocked in hidden iframes`

[2019-12-27 00:24] jasonnutter commented on #1156
@flieks See my answer above about how to mitigate this error.

[2019-12-27 15:14] wjdavis5 commented on #547
This is the #1 search result on DDG when searching for AADSTS50196. I have a customer getting this trying to sign in with the WVD webclient.
https://rdweb.wvd.microsoft.com/webclient/index.html

Whatever the root cause is, it is affecting MSFT apps the same as custom apps.

[2019-12-27 19:56] jasonnutter commented on #547
@wjdavis5 Correct, we've heard of a number of 1st party Microsoft applications that have experienced this error. Internal MSFT teams should file an internal ticket with "eSTS" to start the triage and mitigation process.

[2019-12-28 08:10] ArashMotamedi opened #3423 "Produce better error message when user not set in verifyCallback (done) function"
This misleading error message gave me hours of headache. It appears that the `verify` function in `BearerStrategy` constructor **expects the `done` method to be called with `user` parameter set**.

See: https://github.com/AzureAD/passport-azure-ad/blob/ee2ec66e8d1b393809f846547d36edb24a2fd2c8/lib/bearerstrategy.js#L552-L553

And the corresponding type:
[code]

In my code, I was calling `done` with

[2019-12-29 16:40] flieks commented on #1156
@jasonnutter  i read it but dont fully understand it. My app isnt running inside an iframe..
i have this code (i just added the if(location.href.indexOf("#")) on your request)
[code]

[2019-12-30 19:13] jasonnutter commented on #1156
@flieks MSAL uses hidden iframes to acquire tokens. How this works is MSAL loads an iframe with the url set to `login.microsoftonline.com` (or whatever your authority is) with the parameters for your specific request. When a token has been acquired, the iframe is redirected back to the url you set for your redirectUri, thus loading your website (briefly) inside an iframe. The page should only load

[2019-12-30 23:35] flieks commented on #1156
hi @jasonnutter thanks thats very clear and right, i am running acquiteTokenSilent on pageLoad
Wwhat i could do is put window.self !== window.top and if in iframe, delay the acquiteTokenSilent by 10 seconds so that the parent site has time to close the iframe right ?

[2019-12-31 13:52] jsmith39 commented on #1175
Sorry for the delayed response.  Unfortunately, the client has put this project on hold for the next month at least.  I'll close it for now and open a new one if necessary in the future.

[2019-12-31 13:52] #1175 closed

[2019-12-31 14:52] jakehockey10 commented on #1167
@jasonnutter just wanted to follow up with you. We wanted to take a look and see how things might be changing for us when upgrading to the new version once it is released and tried it the alpha yesterday. It did not fix the msalinterceptor not working in the feature module but it was good to get a preview for some of the changes will need to make during the upgrade process. I'll attempt to investi

[2019-12-31 19:05] DarylThayil commented on #1176
@sameerag  can you take a look at this

[2019-12-31 21:01] jasonnutter commented on #1156
@flieks In theory that would work, but I would recommend instead just not making the call at all in that scenario.

[2020-01-01 22:06] jakehockey10 commented on #1167
@jasonnutter I've tested and confirmed that interceptors I have written in my project are working in Feature modules despite being provided in the same spot as `MsalInterceptor`.  Here is an update to my structure:

[code]

My `UnauthorizedInterceptor` and `ProfilerInterceptor` are both invoked, whereas the `MsalInterceptor` is ignored :(

[2020-01-02 01:39] jakehockey10 commented on #1167
I looked into this further and the `getScopesForEndpoint` is called three times:
- once for a Microsoft Graph endpoint,
- one for one of my Web API endpoints that is getting the correct headers attached to the request via the `MsalInterceptor`, and
- then a third time when it is attempting to get the scopes from the Endpoint.  However, when I step into this, the `_unprotectedResources` array has c

[2020-01-02 02:11] jakehockey10 commented on #1167
I have solved the issue!  And I have a suggestion related to the `MsalGuard`.  First,

### Solution

The `MsalService` forces the assumption that a route that appears in the Angular Router's `events` observable that does not use `canActivate` on its routing configuration in its corresponding routing module declaration.  I had forgotten to put `canActivate` on my parent route in my feature module's

[2020-01-02 04:50] jberlyn commented on #844
Hey guys, any update on this issue?

[2020-01-02 13:34] eirikb commented on #1072
@hhertogh I think I might have found a workaround, try this: https://github.com/eirikb/msal-outlook-demo

[2020-01-02 15:41] hhertogh commented on #1072
Interesting ... are you able to make it work with last version of msal ?
https://alcdn.msauth.net/lib/1.2.0/js/msal.js
I'm not ...

- what is the redirect uri specified in your app registration on azure ?  have you checked any other settings ?

[2020-01-02 16:50] toddfsnyder commented on #1037
@sameerag while doing testing with Chrome 80 Beta (with the same site flags enabled). We are encountering a couple different behaviors.  Can we get clarification on the expected behavior? Will Azure B2C be updated to set the cookies to the correct SameSite values?

- We are successfully logging in, but chrome says it blocked the B2C cookies. Happens in both our Angular (uses msal.js) and ASP.NET M

[2020-01-02 17:30] jakehockey10 opened #1184 "@azure/msal-angular@1.0.0-alpha.0 can't log in"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] All

## Lib

[2020-01-02 17:34] jasonnutter commented on #1167
@jakehockey10 Thanks for the update! Yeah, that seems like a reasonable request. I'll create a new ticket to track that work, which I'll add to the next Angular release.

[2020-01-02 17:41] jasonnutter commented on #1184
@jakehockey10 As noted in the message, if you use the `redirect` message, you need to set `handleRedirectCallback` to a callback function (execute on page load, everytime) which your application uses to process the result of the operation (i.e. similar to the `.then` on the popup operations).

Here's an example from the sample app: https://github.com/AzureAD/microsoft-authentication-library-for-js

[2020-01-02 17:47] jasonnutter commented on #1167
On second thought, I'll reopen and rename this issue, since it has the full context.

[2020-01-02 19:53] eirikb commented on #1072
Using the version in package.json-file; 1.2.0.
Tested on my computer and two different VMs (but with my account).
Latest test now using this version of Outlook: "Microsoft Outlook for Office 365 MSO (16.0.11929.20436) 32-bit".
Redirect URI has https://someuser.ngrok.io and https://someuser.ngrok.io/index.html .
Had one coworker test it, and it didn't work for him, but I'm not quite sure why. The p

[2020-01-03 06:28] ayeshN commented on #435
Setting `validateAuthority: false` is not working on react. Still getting the error `Access to XMLHttpRequest at 'https://login.microsoftonline.com/tfp/brainsafeb2c.onmicrosoft.com/b2c_1_brainsafe_signing_and_signup/v2.0/.well-known/openid-configuration' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource

[2020-01-03 07:52] eirikb commented on #1072
Another coworker tested, and my solution worked for him. If it does not work for others that might be because of some corner-cases not being handled by me, but the theory is still good.
Try Outlook Web first, and then Native.

My solution is to replace [`openPopup` of MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/e3f4081/lib/msal-core/src/UserAgentApplication.ts#L73

[2020-01-03 15:48] marqit8 commented on #1184
There seems to be issues with redirect flow in masl-angular/1.0.0-alpha, even in the provided sample code.

When disabling useHash and using loginRedirect, the id_token in the URL is not processed after redirect.

UserAgentApplication in msal@1.2.0 has a condition in the constructor and in handleRedirectCallback where it won't call handleAuthenticationResponse if this.config.framework.isAngular is

[2020-01-03 15:50] jakehockey10 commented on #1184
I added the call to `handleRedirectCallback`, and I never login.  But if I click the login button again, it says login is already in progress.  My issue might be related to @marqit8 's issue

[2020-01-03 15:57] marqit8 commented on #1184
@jakehockey10 Yes, this is the error that is stopping the id_token from being processed. I believe it has something to do with the generated state.

[2020-01-03 17:34] jasonnutter commented on #1184
@jakehockey10 @marqit8 I think I have an idea of what's going on, I'll work on putting a new build together and let you know when its ready, thanks!

[2020-01-03 17:36] marqit8 commented on #1184
For more information, I can get redirect to work if I add `handleAuthenticationResponse` after `handleRedirectCallback` like below. But I have to have `navigateToLoginRequestUrl` set to false because the state is wrong after it caches the hash and redirects.
[code]

[2020-01-04 16:56] gabriel-kohen-jdas commented on #1165
This seems to break this sample app as well using v.1.2.0: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/43

[2020-01-04 18:16] sameerag commented on #1165
Thanks for bringing this to our notice. Next few weeks, I will work on the B2C samples with their dev team and will update the status regards to the new design on MSAL JS and the B2C compatibility. cc @ktsakas @mmacy

[2020-01-06 04:27] WretchedDade commented on #965
I am still getting this issue and it is unclear how to resolve it/work around it. Any suggestions?

[2020-01-06 12:20] kumarunster commented on #965
@WretchedDade did you checked the [workaround](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/965#issuecomment-527368096) i posted a while ago?

[2020-01-06 13:59] biste5 commented on #1115
Sorry but I didn't get chance to collect more details; also because we've dropped B2C for now and staying with B2B due of some issues.
To note/highlight anyway that for being able to assign the permission for the B2C app registration to our Web API resource (app registration), which lives in B2B, I had to manually edit the manifest for the B2C app registration to make it multi-tenant. Otherwise I

[2020-01-06 21:33] sk2andy commented on #965
@WretchedDade according to the workaround of @kumarunster I did the following:
![image](https://user-images.githubusercontent.com/5347673/71850381-73124a80-30d4-11ea-8303-a98836f17fea.png)

Hope that helps

[2020-01-06 22:36] WretchedDade commented on #965
@kumarunster @sk2andy is there no way to resolve this without modifying the source code?

[2020-01-06 23:58] sameerag commented on #1135
@cleberdantas Closing this issue, Please raise a new one or comment here to haver this re-opened if the above answer is not helping you.

[2020-01-06 23:58] #1135 closed

[2020-01-07 00:00] sameerag commented on #1128
@raghavankarthik80 As we discussed offline, closing this issue; we will announce the support for multiple policies once we have clarity on the implementation with the B2C dev team. Please watch out for the announcement in the roadmap.

[2020-01-07 00:00] #1128 closed

[2020-01-07 00:05] sameerag commented on #1052
@tangudu1808 Closing this issue as the above stated mitigation is what we are generally advising for IE users. Please watch our space for #1172 to be merged; until then this is the only recommendation we can make.

Closing this issue.

[2020-01-07 00:05] #1052 closed

[2020-01-07 00:48] sameerag commented on #965
@kumarunster Can you please test this with `msal@1.2.0` without the tweak and let us know if the bug still exists?

[2020-01-07 01:21] sameerag opened #1187 "Add KnownAuthorities() API"
* Introduce `knownAuthorities()` API for B2C
* remove `validateAuthority: false` dependency for B2C

[2020-01-07 01:22] sameerag commented on #1187
cc @ktsakas @mmacy for documentation once this PR is ready

[2020-01-07 09:50] kumarunster commented on #965
@sameerag thanks for your comment, could you please point us to some release notes or commit that fixes that issue? I believe that @WretchedDade is already on msal@1.2.0, isn't?

[2020-01-07 13:23] WretchedDade commented on #965
@kumarunster is correct, I am already using msal@1.2.0 without the tweak.

[2020-01-07 14:41] kumarunster commented on #1037
we see that warning on B2B AAD integration with MSAL.js with React based SPA.

the SameSite attribute should be set on microsoft side, what is the ETA?

[2020-01-07 16:44] gpit2286 commented on #1037
@sameerag  - This really shouldn't be closed until the Azure Endpoint issues the cookies correctly.  (With the SameSite=None and Secure).  I've had to tell my end users to stop using Safari for the time being because Safari's bypass doesn't actually work and is requiring the cookie to be set correctly with its ITP.

[2020-01-07 18:51] thedragan commented on #842
@jmckennon This issue was closed without an apparent resolution or link to active issue being tracked.

Please advise.

[2020-01-07 18:54] jasonnutter commented on #1173
Closing as no further action at this time (that isn't tracked by other issues).

[2020-01-07 18:54] #1173 closed

[2020-01-07 19:05] jasonnutter opened #1188 "Prevent MSAL from generating cookies that exceed a set limit"
When `storeAuthStateInCookie` is enabled, MSAL will store information in cookies on the application domain. These cookies are meant only for MSAL, but they could get sent with an AJAX request sent to the server, and if these cookies are too long for the server, then the server will likely return a 400 error (as in #1174). When creating cookies, MSAL should first inspect the current set of cookies,

[2020-01-07 19:05] jasonnutter commented on #1174
Closing, tracking in #1188.

[2020-01-07 19:05] #1174 closed

[2020-01-07 19:19] kennethferrese commented on #842
Our resolution was to switch auth providers.  Sorry I don't have any more information to provide you.

[2020-01-07 19:35] scott-lin opened #1189 "Support OAuth 2.0 client credentials flow"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX
- [x] Not applicable

## Library version
<pre><code>
Library version: 1.2.0
</code></pre>

## Current behavior
Acqui

[2020-01-07 19:51] jasonnutter commented on #1189
@scott-lin MSAL.js for Node is on our roadmap for this year, but has not been scheduled yet. We'll post an update when we have more information to share!

[2020-01-07 21:29] sameerag commented on #842
cc @ktsakas; Reopening the ticket to track it.

[2020-01-07 21:49] dfbaskin commented on #1165
Is the fix as simple as adding `allow-forms` to `WindowUtils.ts`?

[code]

[2020-01-07 21:58] sameerag commented on #1165
I think so. I have met the B2C devs to ensure that there is nothing else needed from our end. Hopefully we will be able to close this soon.

[2020-01-07 22:06] dfbaskin commented on #1165
I just tried updating that line, rebuilding, and incorporating the new files into my project, and I no longer see that error (I can also log in again).

[code]

Thanks!

[2020-01-07 22:06] sameerag commented on #1165
Great! Once I make sure this is the only thing needed, will release a patch with this fix this week/next week.

[2020-01-07 22:45] jasonnutter commented on #1184
@marqit8 @jakehockey10 Please try `msal@1.2.1-beta.1` and `@azure/msal-angular@1.0.0-alpha.1` and let me know if it fixes redirect.

@marqit8 Once you upgrade you can remove the specific logic you added above that called `handleAuthenticationResponse`, as the library should call that correctly for you.

[2020-01-07 22:52] amtandon commented on #1037
I am seeing this when using AAD authentication (MSAL.js) with React. I also see the same issue with chromium based edge.

_A cookie associated with a cross-site resource at http://login.microsoftonline.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies

[2020-01-08 00:28] relakhani commented on #1037
@toddfsnyder : Can you paste the console log error related to B2C and also after you run the sample, in Developer Tools -> Network tab, select the authorize request and check response cookies under the Cookies section. Can you check for the authorize request which response cookies are not having SameSite = None

We are not able to reproduce the issue. For us the B2C Cookies are having SameSite = N

[2020-01-08 17:58] alvipeo opened #1192 "How to get scopes defined for a user after the user is logged in?"
I've been trying to get the answer myself looking at the source but failed.

Basically, the question is here - [https://stackoverflow.com/q/59651353/2896495](https://stackoverflow.com/q/59651353/2896495).

Sorry for posting it here but I'm stuck with all this Azure AD B2C authentication.

[2020-01-08 18:01] jasonnutter commented on #1189
Closing as no further actionable items at this time.

[2020-01-08 18:01] #1189 closed

[2020-01-08 18:08] jasonnutter commented on #1192
@alvipeo Can you clarify the problem you are trying to solve with this mapping? Scopes are linked to specific resources (e.g. reading information about the user from Microsoft Graph requires the `user.read` scope), so when your application makes a request to a resource, you should request a token with the scopes needed for that resource, regardless of the user.

If the question you want to answer

[2020-01-08 18:10] marqit8 commented on #1184
Login functionality is working great but I have two other potential issues, or I am misunderstanding what is supposed to happen.

First, it doesn't seem like handleRedirectCallback is necessary as the hash is processed in the UserAgentApplication constructor. I am wondering, should the isAngular check stay in the UserAgentApplication constructor so that handleRedirectCallback processes the hash?

[2020-01-08 18:55] alvipeo commented on #1192
My understanding is if I have extensive API and I need to "slice" permissions for parts of that API, I use scopes. So if Part1 of my api expects "Part1.scope" permissions from a user then the user must have this "Part1.scope" assigned (in Azure AD). Just like with Graph API. Is this correct?

If it is, then when a user is authenticated and the web app gets AuthResponse, the response does have the

[2020-01-08 19:03] jasonnutter commented on #1184
@marqit8 Good questions. Some thoughts:

1. `handleLoginRedirectCallback`: The purpose of this function is to provide your app access to the result and errors of the redirect operations. I have noticed that it isn't useful when `navigateToLoginRequestUrl`  is enabled (as your app gets redirect before the redirect callback can be invoked), which is potentially a bug we should fix.
2. `navigateToLog

[2020-01-08 19:14] jasonnutter commented on #677
@hpsin Thanks!

Closing, as no further actionable items.

[2020-01-08 19:14] #677 closed

[2020-01-08 19:54] jasonnutter commented on #1192
@alvipeo It sounds like you should be using roles (which are per-user), instead of scopes (which are per-resource). You can find out which roles are assigned to a user with the [checkMemberObjects](https://docs.microsoft.com/en-us/graph/api/user-checkmemberobjects?view=graph-rest-1.0&tabs=http) API in Microsoft Graph.

More info about roles can be found here: https://docs.microsoft.com/en-us/azure

[2020-01-08 20:03] alvipeo commented on #1192
Oh, I got it. So when I define scope for my web API app, and this scope is defined for the client web app this means that the client app has permission to the web API app according to defined scope. Is that right?

[2020-01-08 20:09] alvipeo commented on #1192
Actually, I'm confused again - [https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens#scopes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens#scopes).

This is about USERS - users have or have not access. Damn, this is nuts.

[2020-01-08 20:20] alvipeo commented on #1192
FFS, I found the answer here - [https://stackoverflow.com/a/49848259/2896495](https://stackoverflow.com/a/49848259/2896495)!

Jesus, why then not call them **Application Scopes**?? Not just scopes.

[2020-01-08 20:20] #1192 closed

[2020-01-08 21:29] toddfsnyder commented on #1037
Here is what we are seeing in the chrome console. Take note: these requests seem to be over HTTP not HTTPS. These warnings come up when we are calling – “clientapplication.acquireTokenSilent”. The token is returned, and we can successfully call the secured external Web API. I checked the chrome network trace and do not seem any specific calls for these requests. I can verify the other B2C authenti

[2020-01-08 21:54] gpit2286 commented on #1037
Console output:
[code]

OpenID config Request URL: https://login.microsoftonline.com/{Company-ID}/v2.0/.well-known/openid-configuration

Response:
![image](https://user-images.githubusercontent.com/3317312/72018501-9d6f1f80-321c-11ea-9fdd-66287fd98a26.png)

Auth Call: ``` https://login.microsoftonline.com/{CompanyID}/oauth2/v2.0/authorize?response_type=token&scope=user.read%20openid%20profile&clie

[2020-01-08 23:36] relakhani commented on #1037
Thanks @toddfsnyder for your response. Would you mind sending a fiddler trace to below email id relakhan@microsoft.com

We can verify in the fiddler trace which particular b2c response doesn't have correct cookie value

[2020-01-09 08:15] oliverjanik commented on #1000
Any news?

[2020-01-09 08:56] mayo589 commented on #1169
Hi @sameerag ,
any update when we can expect the samples? I am also working on my solution using MSAL in hidden iframe in SharePoint Online :)

[2020-01-09 15:20] Fhyarnir commented on #1165
I have found that the current solution for me is to revert to msal package version 1.1.2. At version 1.2.0 I got errors about "..token calls blocked in hidden iframes" (only when using tabs / routes in react webpage), though I was still able to retrieve api data. While at "1.2.0-beta.0" version I got the abovementioned errors with blocked script calls (ie. when trying to do simple console.log stat

[2020-01-09 16:04] hhertogh commented on #1072
Indeed, I could successfully reproduce it as well using your custom hack. Thanks!
I don't put the parameter "{ displayInIframe: true }" otherwise I had some errors on Outlook web about CORS issues, don't really know why ...
But sometimes, for some reason, authentication does not complete or stays in a "in progress" status. Sometimes the login popup does not close after authentication ... weird as

[2020-01-09 17:52] marqit8 commented on #1184
@jasonnutter Thanks for your response. I will just toss out my wishlist, but I understand if the changes are too significant since msal-angular is a small part of the big picture. I am sure I missed a consideration so hopefully my suggestions will at least serve as inspiration.

Instead of a broadcast service (which a comment in UserAgentApplication says is pretty much only for angular), msal.serv

[2020-01-09 18:04] jasonnutter commented on #1124
@leniel I don't believe MSAL Angular would work with AngularJS.

[2020-01-09 18:08] jasonnutter commented on #759
Closing, as no further action at this time.

[2020-01-09 18:08] #759 closed

[2020-01-09 18:48] leniel commented on #1124
@jasonnutter thanks... this confirms that the team should move the code to a recent version of Angular.

[2020-01-09 18:51] sameerag commented on #1000
We are very close to finishing the implementation, @pkanher617  will be updating the details soon. We will be announcing an ~alpha version first in couple weeks for private consumption and we plan to incrementally take feedback to build up to a major release.

[2020-01-09 18:52] xom-pschiess commented on #1000
How do we get on that private consumption list :)

[2020-01-09 18:52] xom-pschiess commented on #1000
How do we get on that private consumption list :)

[2020-01-09 18:55] garrettm commented on #1000
I'd also like to be on the private consumption list!

[2020-01-09 19:47] sameerag commented on #1165
@Fhyarnir You are not expected to set any of the sandboxing properties. We are working on adding "allow-forms" with the PR #1191.

In general, the app need not be concerned with the hidden iframe, it is an internal mechanism for `msal js`:

- MSAL loads a hidden iframe for a silent call with the url set to `login.microsoftonline.com` (or any authority passed in request) with the parameters for tha

[2020-01-09 20:14] bojantv commented on #84
Just in case it helps someone or maybe someone can correct me:
I had issues with this when changing authority like when using loginRedirect() to trigger edit_profile or reset_password flows. When coming back to starting page the cached (localStorage) access token and idToken had wrong authority values and that caused the access token not beeing fetched with the error like in the title. I resolved

[2020-01-09 20:48] toddfsnyder opened #1194 "Token calls are blocked in hidden iframes"
<pre><code>
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version 79
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library version
<pre><code>
Library

[2020-01-09 20:52] jasonnutter commented on #1194
As part of the OAuth Implicit flow, our library uses hidden iframes to acquire access tokens. When a token has been acquired, AAD will load your redirect URI inside this hidden iframe, with the access token included in the url (as the hash). This error is thrown when we detect that your application is calling acquireTokenSilent on page load inside of that iframe, in order to prevent any bad side e

[2020-01-09 20:54] jasonnutter commented on #1194
Note, this error is mostly informative, and shouldn't prevent you from retrieving a token.

[2020-01-09 21:01] toddfsnyder commented on #1194
Thanks for the promote response. We do have an try/catch block but were not explicitly logging for this error.

[2020-01-09 21:09] ashpr commented on #84
We had a similar issue, and the answer was not to change your current UserAgentApplication authority, but instead create a new UserAgentApplication with the new authority.

[2020-01-09 21:42] sameerag commented on #1000
Please watch out this space, we will make the announcement. Thanks for the interest and we count on customers like you to provide us active feedback.

[2020-01-09 22:42] jasonnutter commented on #1136
Closing this due to inactivity. @huynhtuanhuy please follow up if this is still an issue.

[2020-01-09 22:42] #1136 closed

[2020-01-09 23:45] sameerag opened #1195 "Add Error Codes and a Documentation page for all MSAL JS errors"
The idea is to add numeric codes to errors generated by the MSAL JS library and redirect the user to a webpage that contains detailed desc of the errors. Searching for "1234"  in the webpage should result in :

    code: 1234
    category: Configuration Error
    desc: "Configuration has not been set. Please call the UserAgentApplication constructor with a valid Configuration object."

We can leve

[2020-01-10 00:26] sameerag commented on #1029
@sameerag to reproduce this and help with a pattern for users to prevent this usage

[2020-01-10 00:38] sameerag commented on #842
We have tested our sample and google users could use AD B2C, so we are really interested in figuring out what is going on here.

@sk2andy As @ktsakas mentioned above already, Could you email us at sameera.gajjarapu@microsoft.com your **`tenant name`** and **`policy id`** and we will be able to look at our logs to see what is happening.

@thedragan If you have steps to repro this, can you please sh

[2020-01-10 01:12] JosephThomas commented on #1194
If there isn't any reason to have the redirect be processed my MSAL, as we would for a login redirect, then what is the point of the hidden iFrame redirecting anywhere? Why doesn't the frame just close after the token has been acquired?

[2020-01-10 01:45] GFoley83 commented on #1037
@kumarunster Did you find an answer to your question? Since the cookie is being issued by **http://login.microsoftonline.com**, there not much we can do here; unless I'm missing something?

[2020-01-10 03:18] jasonnutter commented on #1194
@JosephThomas In the OAuth implicit flow, when iframes are used to acquire tokens, the response is delivered to the library by redirecting the iframe to the provided redirect uri (with the response included in the hash). Due to the same-origin policy, MSAL cannot read the url of iframe to parse the response until the iframe domain matches the domain MSAL is running on, which is why you are require

[2020-01-10 06:15] Ankita22 opened #1196 "Getting error in broadcaster after calling acquireTokenSilent() method"
Hi,

I am using MSAL-ANGULAR for AD B2C Implementation with Angular 7.I am able to login but getting error to acquire Access token.Trying to acquire the access token silently as suggested in Docs after getting login success response on broadcaster. PFA for error details

## Code sample

[code]

## Browser:
- [ X] Chrome version XX
- [ X] Firefox version XX

## Library version
 @azure/msal-angular:

[2020-01-10 06:33] Ankita22 commented on #1196
##Update

I tried to change the authority URL but facing following issue :

[2020-01-10 12:18] bojantv commented on #84
Thank you for this. Actually I had a dream this night to try creating a new instance for edit profile and reset the password :).
I actually started coding and separating different stuff in different components this morning.
One thing I think might help (or even is mandatory) is changing storage for the other instance, but then again having written that maybe the session ID might be enough for msal

[2020-01-10 12:38] kumarunster commented on #1037
@GFoley83 we are using this library, offered from MS and we are seeing this issue linked to Chrome. Chrome will release new version early Feb, and it seems for me, because of the warnings, that many companies will be affected, if they are using MS as Identity Provider. So far I was not able to analyze it in details, but it seems for me, for the first look, that all cookies are provided correct wit

[2020-01-10 12:54] ashpr commented on #84
Here's the code we use for the password reset application.

[code]

Using it:
[code]

I know what you mean, its been a bumpy ride for us but we're finally there. I've been meaning to blog about all this at some point as I feel the documentation really is lacking.

[2020-01-10 13:26] bojantv commented on #84
Thanks for your code. However, I can see that you're using <=0.2.4 version, I am trying to set up using 1.2.0 version. I seems to be even bumpier now :). Your redirect callback is empty, I am trying to handle successful and unsuccessful returns and cover also cancel and hopefully not logOut the user after changing password just update all one the fly. And do the same for edit profile.
A blog is a

[2020-01-10 13:51] eirikb commented on #1072
@hhertogh That's great!
I had to use the `{ displayInIframe: true }` and without it didn't work.
My other coworker also experienced it hanging, so something is not quite right, at all times - but this was just a hack, since it works sometimes I'm pleased.
 haven't done any more tests. I'm hoping for some feedback from Microsoft, and a proper solution.

[2020-01-10 14:20] trololog opened #1197 "[IE11] - Angular MSAL 0.1.4 login popup stays open without promise response after entering credentials"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [x ] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library ver

[2020-01-10 19:12] jasonnutter commented on #1197
@trololog Unfortunately, there are [known issues](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser) with popups in IE11. Can you try putting your app domain and the login authority (e.g. login.microsoftonline.com) in the same security zone?

Generally speaking, we advise applications to use redirect flows for IE11, and popups for modern br

[2020-01-10 19:18] jasonnutter commented on #1037
@hpsin Can you provide more context please? Thanks!

[2020-01-10 19:23] jasonnutter commented on #1196
@Ankita22 I believe this error indicates either your request was invalid or the app is not configured properly. Can you please provide some sample code that demonstrates your usage (e.g. what scopes you are using)? Thanks!

[2020-01-10 19:31] hpsin commented on #1037
Thanks @jasonnutter .

AAD and MSA correctly mark the cookies that need to be cross-domain as samesite=none.  We purposefully do not mark the cookies that are not required cross-domain as "lax" in order to reduce the number of changes we're introducing to the system.

**It is expected that login.microsoftonline.com produces warnings about samesite in the Chrome console - this is NOT an indication

[2020-01-10 19:38] hpsin commented on #1037
To expand on what is required here:

SameSite in Chrome requires BOTH clients (your app running MSAL.NET/ADAL.NET/3rd party library) and the STS (login.*.com) to update their cookies.  Pure SPA apps likely do not need any update here - the SameSite change only breaks the form_post part of the OIDC standard for client apps, as well as logout for all  web-apps.  SPA apps (MSAL.js, e.g.) use the impl

[2020-01-10 19:42] jasonnutter commented on #1184
@marqit8 Thanks for that insight, definitely helpful. You're right in that I don't think this is something we would address right, in order to focus on getting the new MSAL Angular version released, but is an improvement that could be made incrementally later. I'll definitely keep it in mind, thanks!

[2020-01-10 22:06] trololog commented on #1197
Hi, thanks for the quick response. Initially I had 2 problems, one of them was solved by adding the login authority url to the trusted sites, but the one mentioned still persists.
Please could you guide a little bit more for the redirect flow? Do you have a link where I can see a proper example?

[2020-01-10 23:46] jasonnutter commented on #1197
@trololog The redirect flow uses a full page redirect for login (or acquiring a token). You can see how to dynamically set this in the Angular sample:

- https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/MSALAngularDemoApp/src/app/app.component.ts#L37
- https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/MSALAngularDemoApp/src/app/a

[2020-01-11 19:02] ehmPlankje opened #1198 "Redirect callback is not called when loginRedirect() is run from a popup window"
Currently MSAL.js uses the `WindowUtils.isInPopup()` method to determine if the redirect or popup flow should be applied. However, in my use case, I want to be able to use the login redirect flow from a popup window. Perhaps it would be possible to create a configuration option where the developer can declare explicitly that MSAL.js should use the redirect or popup flow, instead of trying to deduc

[2020-01-11 22:19] sameerag commented on #1198
@ehmPlankje We are aware of this limitation and this issue is being tagged with #1095 (Teams attempts to do exactly the same - calls `loginRedirect` from pop up); The solution needs #1169 to be supported first and hence we delayed fixing this right away.

We plan to address this by the end of the month. Hope this clarifies.

[2020-01-12 07:24] arabelaa opened #1199 "The frame attempting navigation of the top-level window is sandboxed, but the flag of 'allow-top-navigation' or 'allow-top-navigation-by-user-activation' is not set."
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [x] `msal@1.2.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please

[2020-01-12 10:02] ehmPlankje commented on #1198
@sameerag Thank you for the feedback. I already solved the issue for my stack by applying a patch on the `WindowUtils.isInPopup()` method, so that it always returns `false`.

Perhaps you could include this limitation in the documentation, because it took me considerable time before I found out why my implementation did not work as intended.

[code]

[2020-01-12 12:48] annmariatony opened #1200 "Error occurred in token received callback function while using loginRedirect"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ]  `@azure/msal@0.2.1`
- [ ] `@azure/msal-angular@7`

## Description
I am trying to integrate MSAL with angular 7 application. I'm using angular-cli template. Now the login page working perfectly with loginPopup. I want to change that to login redirect.In the call back functi

[2020-01-12 19:18] rogerex commented on #349
If someone is still getting this issue, please be aware to increment the timeout with enough time to process the load of your page in first login, this step is responsible to save the cachedToken to send later in acquireTokeSilent method, in my case it is working now with non default value (6 seconds)
`"loadFrameTimeout": 90000,`
Env: Angular v8, @azure/msal-angular 0.1.4, Asp.Net Zero.

[2020-01-12 21:02] sameerag commented on #1198
@ehmPlankje Thanks for the feedback. Sure, we will add this to our documentation, until we have a solution in place. cc @hamiltonha

[2020-01-12 21:46] sameerag commented on #1199
@arabelaa This is intentional. While fetching tokens, there are certain error cases (such as a missing reply url) that AAD will attempt to perform a full page redirect from within the iFrame. This behavior will result in pages redirecting to AAD without user interaction which is unacceptable for some apps.

Also Google Chrome has already implemented a feature that blocks this behavior. Hence `msal

[2020-01-12 21:53] sameerag commented on #1199
On a side note: We have introduced issue templates and would love for feedback + removal of template messages when filing an issue will be very helpful :)

[2020-01-13 06:31] arabelaa commented on #1199
I am not using `loginRedirect `inside an iframe.(and I also have a redirect url)
And redirect is working for me if I am not logged in.
Not sure why after some calls this fails.

[2020-01-13 09:15] Ankita22 commented on #1196
@jasonnutter Thanks for your reply. I am using following scopes  : 'user_impersonation','offline_access','openid','profile'

Following is the piece of code i am using to try to connect :

## In app.module.ts

[code]

## B2C details

[code]

[2020-01-13 11:53] mjza commented on #537
I have the same problem. When I run the Angular app it does not show anything in the http://localhost:4200/#/userProfile page

[2020-01-13 12:52] Ankita22 commented on #1196
Thanks a lot for the help @jasonnutter . I updated my Authority URL and couple of setting and i am able to login properly but not able to get access token.

I am getting access token at localhost but once app gets hosted , facing issue to acquire the same. Can you please help with it ?

Please refer the code sample associated with above comments,you can see in

[code]
this part of the code i am ge

[2020-01-13 16:02] jasonnutter commented on #1200
@annmariatony Can you please clarify if you are using `@azure/msal-angular` (there is no version 7 of `@azure/msal-angular`)? Or just `msal@0.2.1` with Angular 7?

For the error about `acquireTokenSilent`, can you check what `this` is inside `authCallback` when it is run?

My guess is that when `authCallback` is run inside `clientApplication`, `this` refers to the instance of `UserAgentApplication

[2020-01-13 16:43] hpsin commented on #1037
I would recommend downloading Chrome, enabling the flags, and testing your app. That's the only way to be certain and it's something that every app developer should do in the next two weeks.

In particular, use the command line flags to launch chrome so that the 2 minute grace period for POSTs is removed, otherwise your app might pass tests and fail suddenly in a future version of Chrome.

Get Out

[2020-01-13 17:14] sameerag commented on #1169
Update: #1201 will be used to port these changes to dev instead of #975. Hoping to close with some sample usage this week.

[2020-01-13 17:23] toddfsnyder commented on #1037
We have been testing in Chrome 80 Beta for the last several weeks and the login to Azure B2C is working. We are just corned by the warning are still appearing and want to make sure we have not missed something that will break when Chrome 80 is released.

Do you know the specific command line flags to disable the 2 minute grace period for POSTs?

[2020-01-13 17:25] jasonnutter commented on #1196
@Ankita22 Since it works locally but not when deployed, can you verify that you have correctly configured your redirect uris in both your app in the Azure Portal?

[2020-01-13 17:28] hpsin commented on #1037
--enable-features=SameSiteDefaultChecksMethodRigorously

From https://www.chromium.org/updates/same-site

[2020-01-13 22:40] relakhani commented on #1037
@toddfsnyder : The cookies that you are referring are the request cookies which would have been present from old session. The cookies that you should be concerned about are the response cookies. If you see the response cookies section then both of them have SameSite

[2020-01-14 08:37] Ankita22 commented on #1196
@jasonnutter Yes, I checked the Redirect URIs on  Azure portal. It looks fine. It has both the URLs - Localhost and webapp's  app service url.

[2020-01-14 09:20] ericmok66 opened #1203 "setup authority for AAD B2C tenant"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-angular@0.1.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
1. I registered AAD B2C application already
2. I created user flow and well tested already
3. I can get the authorize_

[2020-01-14 10:07] ericmok66 commented on #1203
it work for `https://login.microsoftonline.com/<mytenant>.onmicrosoft.com/`
But I can't specific the policy I want to execute.

[2020-01-14 10:07] johanjudai opened #1204 "Scope Calls not working"
Hi,
I want to develop an app for doing calls in Teams. When I want to get the login token, the popup says the Calls scopes don't exist. Is it supported yet ?
I tried typing "call", "calls" or "Calls.Initiate.All"

[2020-01-14 13:50] Taats commented on #421
I'm building an app and I need to connect with B2C, is there any ETA on this new version because we are in the 20's now and a new version is not yet to be found.

An estimate would be greatly appreciated!

[2020-01-14 14:08] beolson opened #1205 "AADSTS50058 in IOS Safari"
## Library
- [ x] `msal@1.1.3`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
React

## Description
We have a react application that works fine when running on Chrome on windows, but when running in Safari on IOS we get an "AADSTS50058: A silent

[2020-01-14 16:01] Nasicus opened #1207 "WindowUtils.isInPopup() returns wrong result which leads to the bug that the callback is not handled"
## Library
 `msal@1.2.0`

## Problem

I found out that sometimes the callback from `loginRedirect` or  `acquireTokenRedirect` is not handled.

After I while I found out that the problem is this code block:
[code]

It turned out that `WindowUtils.isInPopup()` returns `true` even though my browser window is not a popup.
Actually I accessed my app via a link I received in an email client (gmx.net), s

[2020-01-14 17:00] #1151 closed

[2020-01-14 17:01] #1165 closed

[2020-01-14 17:09] jasonnutter commented on #1205
@beolson Unfortunately, this is a known issue with Safari. The next version of our library (currently in development) will use the Auth Code Flow w/ PKCE, which we expect to mitigate the problems caused by Safari ITP in most scenarios.

We will make an announcement when there is a version of MSAL with Auth Code Flow that you can try out.

[2020-01-14 17:24] sameerag commented on #1207
@Nasicus Thanks for bringing this to our notice. Will check what we can do, appreciate the feedback.

[2020-01-14 17:40] jasonnutter commented on #421
@Taats We're a little behind but we'll have something soon (this month), apologies for the delay!

[2020-01-14 18:30] beolson commented on #1205
Correct me I am wrong, but I didn't think Auth Code Flow is a valid approach for SPA style applications.

I did some more testing and discovered that if I do an acquireTokenRedirect whenever the acquireTokenSilent fails, it seems to fix what ever it was broken, and I can get an Access token.  Biggest problem is, I suspect this approach will cause another acquireTokenRedirect after a period of time

[2020-01-14 18:52] jasonnutter commented on #1205
@beolson The Auth Code Flow w/ PKCE is now the [recommended best-practice](https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-04#section-4) for browser-based applications such as SPAs. We'll have more information soon about how this will work for AAD.

And yeah, it makes sense with ITP enabled that silently acquiring an access token would fail when a network request is involved, and t

[2020-01-14 19:02] toddfsnyder commented on #1037
Do you have any more details about this flag and the grace period? Has the chrome team posted anywhere how the grace period will work once Chrome 80 is released in February?

[2020-01-14 19:07] hpsin commented on #1037
@toddfsnyder :
From Chrome's description:

So, this removes the grace period.  The grace period is present without this flag in Chrome 80.  At some point (within 2 years apparently based on today's announcement) the grace period will be eliminated.

[2020-01-14 19:38] toddfsnyder commented on #1037
Do you have a link to this announcement?

[2020-01-14 19:44] jasonnutter commented on #1204
@johanjudai You can find more information about the Calls-related scopes here: https://docs.microsoft.com/en-us/graph/permissions-reference#calls-permissions

Please note, these scopes require Application Permissions, which do not work with public client applications such as SPAs, as public client applications work with Delegated Permissions (which means these scopes will not work with the Implici

[2020-01-14 19:46] hpsin commented on #1037
It's an inference from their plan to eliminate 3rd party cookies in two years: https://blog.chromium.org/2020/01/building-more-private-web-path-towards.html

[2020-01-14 22:15] sameerag commented on #1204
@hamiltonha  We have many questions on scopes from folks using this library. Can we note this somewhere and have a FAQ which we can refer to? Tagging this as `documentation` issue assigned to you and me, so we can track this.

[2020-01-14 23:56] jasonnutter commented on #1194
Closing, as no further actionable items at this time.

[2020-01-14 23:56] #1194 closed

[2020-01-14 23:57] jasonnutter commented on #1184
Closing, as the main issued has been addressed.

[2020-01-14 23:57] #1184 closed

[2020-01-14 23:59] jasonnutter commented on #1122
@stevenruizhang Can you please try the latest version of MSAL Angular and let me know if it still an issue?

Install command: `npm install msal@beta @azure/msal-angular@alpha`

[2020-01-15 00:00] jasonnutter commented on #1122
Full changelog available here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0/lib/msal-angular/changelog.md#100-alpha1

[2020-01-15 00:02] jasonnutter commented on #1078
Closing due to inactivity, please comment if still an issue.

[2020-01-15 00:02] #1078 closed

[2020-01-15 01:51] jasonnutter commented on #1196
@Ankita22 And you are using the appropriate redirect uri for the deployed environment? I notice you have `localhost` hardcoded above for the redirect uri, make sure that is updated to use the app service url when not running locally.

If you can share an example network request url that is resulting in a timeout, that would also be helpful, thanks!

[2020-01-15 02:57] sameerag opened #1212 "msal@1.2.1 released"
`msal@1.2.1` is released.

- Please find the release in npm [here](https://www.npmjs.com/package/msal)
- The release notes can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/v1.2.1)
- The release announcement is added to the wiki [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.X#msal-js-121-release).

 CDN

[2020-01-15 09:47] Taats commented on #421
@jasonnutter That is good news, thanks for the update! :)

[2020-01-15 10:30] djleonskennedy commented on #1212
@sameerag Hello
When do you plan update angular wrapper with new version ?

[2020-01-15 16:43] ricey-cmd opened #1213 "MSAL Angular Wrapper is not using protectedResourceMap when building with AOT"
## Library
- [x] `msal@1.2.1-beta.1`
- [x] `@azure/msal-angular@1.0.0-alpha.1`

## Framework
Angular v8.1.0

## Description

When building my project with AOT, it seems the protectedResourcesMap is not being picked up correctly by MSAL and is not appending the access token onto the Bearer header in the relevant http calls. I believe this is to do with the new use of adding this as a Map rather tha

[2020-01-15 16:48] Atlas361 commented on #1152
Normally, you would add the **extraQueryParameters = prompt=auto** to avoid the user being prompted to choose their user account but the MSAL Angular library is always setting this parameter to **prompt=select_account** in the login URL. This issue has been annoying to our users because they always have to click their user account to get into the app even though they’re already logged into the Mic

[2020-01-15 17:11] niravkanakhara opened #1214 "Any update for samesite cookie issue in latest Google Chrome?"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Please describe the functionality or improvement you would like to see added.

[2020-01-15 18:12] jasonnutter commented on #1214
@niravkanakhara Yes, our services have been updated to appropriately mitigate SameSite cookie issues. Please see this issue for more details: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1037#issuecomment-573174503

Closing as a duplicate.

[2020-01-15 18:12] #1214 closed

[2020-01-15 18:19] jasonnutter commented on #1212
@djleonskennedy Very soon, I'm working on preparing the next version now.

In the meantime, you can try the alpha version: `npm install msal@beta @azure/msal-angular@alpha`

More details here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0/lib/msal-angular/changelog.md#100-alpha1

Please file a separate issue if you any feedback on that, thanks!

[2020-01-15 19:09] sameerag commented on #900
We are supporting one version of this with #1166;
The requirement that an application needs a hint to continue their session with AAD still remains intact w.r.t `msal js`; This conclusion is reached after a wide internal discussion, there are some special conditions where we do support an existing session acquired without `msal js` but to do so, the user would need to pass either a `login_hint` or

[2020-01-15 19:09] #900 closed

[2020-01-15 19:40] pkanher617 commented on #1000
UPDATE: We are planning on releasing an alpha this week for the Authorization Code Flow library. I will link a doc here for instructions on how to download and use the beta in an npm project. Checking to see if we have a possibility for a CDN solution for the alpha as well.

[2020-01-15 19:40] jasonnutter commented on #1213
@ricey-cmd Thanks for the feedback, I'll take a look into this and let you know if I need further info.

[2020-01-15 19:50] jasonnutter commented on #1152
This should now be possible with the pre-release version of MSAL Angular. First, install the new version:

`npm install msal@beta @azure/msal-angular@alpha`

Complete changes can be found here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev-angular-1.0/lib/msal-angular/changelog.md#100-alpha1

Then call `msalService.acquireTokenSilent` with your clientId as the only sc

[2020-01-15 19:51] csinfo-cps commented on #1152
I am also experiencing this problem.  I am surprised that there is a parameter for this that completely ignores what the developer is sending.  If I wanted a pop-up I would set that param value.  If I need SSO, I should be able to put in AUTO.  Please fix asap.

[2020-01-15 21:36] zamzowd commented on #900
@sameerag Could you elaborate on what brought the team to the conclusion that a silent check for an existing session from the authority without any hint should not be supported?

The obvious use case is for Single Sign On:  If a user logs in from Application A, and then navigates to Application B, we'd like to be able to have Application B identify and use the existing authentication session witho

[2020-01-15 22:44] jfbloom22 commented on #736
quoting @ayuspark from above:

It just hit me that it is the same situation in my application and it is not clear that the only reason I created a new scope was to avoid sending the clientId as the only scope.  The scope I created does not serve any other purpose.  Quoting myself from above:

I followed this guide to setup my Web API and Client Application and put together a working scope. https:/

[2020-01-15 23:59] niravkanakhara commented on #1214
Thanks for update Jason.
Currently i have used adal-angular package in one of my production application. For samesite issue I found that there is no update happening in adal-angular package. So I would like to upgrade my application from adal-angular to msal-angular. But I think msal-angular is still in preview stage,

Is msal-angular in a stage where it can be configured and used in production ap

[2020-01-16 00:20] niravkanakhara commented on #1212
Hi Team,
Currently i have used adal-angular package in one of my production application. For samesite issue I found that there is no update happening in adal-angular package. So I would like to upgrade my application from adal-angular to msal-angular. But I think msal-angular is still in preview stage,

Is msal-angular in a stage where it can be configured and used in production application?

[2020-01-16 00:21] niravkanakhara opened #1215 "Question about Samesite and GA for MSAL Angular"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi Team, Currently i have used adal-angular package in one of my production application. For samesite issue I found t

[2020-01-16 00:23] niravkanakhara commented on #1215
Also will it have a solution for samesite cookie issue in Google Chrome?

[2020-01-16 00:45] jasonnutter commented on #1214
@niravkanakhara We're working on bringing MSAL Angular to GA, and we'll have more information on that soon.

And yes, it will work with Samesite cookies in Chrome (and similar browsers).

[2020-01-16 00:46] jasonnutter commented on #1215
We're working on bringing MSAL Angular to GA, and we'll have more information on that soon.

And yes, it will work with Samesite cookies in Chrome (and similar browsers).

[2020-01-16 00:48] jasonnutter commented on #1212
@niravkanakhara Answered this in the other issue you opened, #1215.

[2020-01-16 01:46] ertejaspatel commented on #76
@rohitnarula7176 - Understand this is a browser issue but is there any known workaround that can help bypass this issue?

Thanks

[2020-01-16 02:04] jasonnutter commented on #76
@navkakate @ertejaspatel Nothing has changed in this regard. Possible workarounds:

- Invoke `acquireTokenPopup` as a direct result of user interaction.
- User enables popups.
- Use `acquireTokenRedirect` instead of `acquireTokenPopup`

[2020-01-16 05:55] Dedme opened #1216 "[Angular] RedirectUri should not be href for popup"
The redirectUri should default to origin when using Angular and Popup.

i recently ran into the issue of trying to set the redirectUri from window.location.origin.
as angular AOT happens 'server side' it breaks any reference to window.location in config files.

this means you cannot simply reset the redirectUri to origin, only to a fixed string - maybe if its simply possible a bit of documentation

[2020-01-16 08:44] Ankita22 commented on #1196
@jasonnutter Yes, i have configured the correct redirect URIs in local and on hosted app as well :)

Surprisingly I just tried to login again and got to know that i am getting access token on hosted app service as well. Thanks for the help :)
Appreciated!

[2020-01-16 14:36] Diego251 opened #1217 "error TS2307: Cannot find module 'msal-electron-poc'"
## Description
Trying to build the msal-electron-sample-app sample. Downloaded full rep as zip and followed instructions to build. When running 'npm start', the following error occurs:

`src/Main.ts:5:41 - error TS2307: Cannot find module 'msal-electron-poc'.
5 import { PublicClientApplication } from 'msal-electron-poc';`

The log file is as follows:

[code]

## Security
No.

## Regression
Don't k

[2020-01-16 16:19] jasonnutter commented on #1196
@Ankita22 Glad its working, sounds good!

[2020-01-16 16:19] #1196 closed

[2020-01-16 16:41] jasonnutter commented on #1217
@Diego251 Our repo is setup as a mono-repo using lerna, and some internal dependencies (such as `msal-electron-poc`) are not published to npm. To properly install these dependencies, run `npm install` from the root of the repository, which will run properly bootstrap the repo and all the dependencies.

We'll update the `msal-electron-poc` README to call this out specifically, apologies for the con

[2020-01-16 16:54] jasonnutter commented on #1216
@Dedme Correct, currently if the code for instantiating MSAL is run somewhere `window.location.origin` isn't available, you will need to provide a fix string. We'll provide more guidance in the documentation for this.

We are considering adding the ability to provide a relative url, which I think would be a good enhancement for scenarios like this, as well a the ability to dynamically set the conf

[2020-01-16 16:56] asanchezfe opened #1218 "Problem with renew token in Angular (msal-angular alpha)"
## Library
- [ ] `msal@1.2.1`
- [ ] `@azure/msal-angular@1.0.0-alpha.1`

## Framework
 Angular 8.2.14

## Description
I was having a related issue with msal-angular 0.1.4 so I tried to update to the new alpha version to check if the library worked correctly

The login works correctly, but after 1 hour, when it needs to renew the token, calls AAD and gets a new token which is stored correctly in lo

[2020-01-16 17:01] asanchezfe commented on #1213
@ricey-cmd
We're having the logger working on AOT compilation with the same packages that you, try this configuration:
[code]

[2020-01-16 18:55] thisisbrianstewart commented on #1199
@arabelaa -- I experienced this issue as well and after substantial troubleshooting came to realize that, depsite what this error was saying, the actual error was that the token redirect uri was not configured as a redirect uri in the AAD app registration (App Registrations --> Authentication --> Redirect URIs).

I would have expected the error to say the normal "the reply url is not valid" error,

[2020-01-16 19:16] sameerag commented on #1199
@thisisbrianstewart @arabelaa Yes. Short answer: We have a way to help users get a better error messaging already. I am trying to create a FAQ section on how we communicate these types of errors, will update the link here soon.

[2020-01-16 20:04] pepiku commented on #1011
Hi guys! End of year has passed, any new on the release date for a version that supports angular 8? Version 1.0.0-alpha.1 seems still to depend on angular 4 and rxjs 5.

[2020-01-16 21:15] jasonnutter commented on #1011
@pepiku Yep, we'll have something very soon!

[2020-01-16 21:20] jfbloom22 opened #1219 "acquireTokenSilent after first redirect is not working"
## Library
- [x] `msal@1.2.1`

## Framework
React 16.5.2

## Description
### With 3rd Party cookies enabled
After a redirect login, the app immediately renews the token in a hidden iFrame.

### With 3rd Party cookies disabled
After a redirect login, the app tries to renew the token in a hidden iFrame, this fails, then it redirects again (it does not prompt the user again, it just disrupts the logi

[2020-01-16 21:42] jasonnutter commented on #1219
@jfbloom22 It is a known issue that MSAL is unable to silently acquire an access token if third-party cookies are disabled. This is because when we attempt to acquire a token through a hidden iframe, that iframe needs to have access to your AAD session, and in that context, the cookies for your AAD session for your authority domain are considered third-party (relative to your application domain),

[2020-01-16 21:48] jasonnutter commented on #1219
Oh, nevermind, I think I misunderstood your issue.

I wonder if you have a race condition, where you are attempting to read the tokens from the cache before the response has been processed? Try inspecting local storage right before you call `acquireTokenSilent`.

The `handleRedirectCallback` will also give you the redirect response, which will include the access token.

[2020-01-16 22:16] jfbloom22 commented on #1219
Thanks @jasonnutter.  I am very excited about the `Auth Code Flow w/ PKCE` coming down the pipe.  Can't wait!

Here is session storage right after logging in and before it calls acquireTokenSilent():  https://www.dropbox.com/s/jqrgkydm1oaqpf4/Screenshot%202020-01-16%2017.14.09.png?dl=0

[2020-01-16 23:01] jasonnutter commented on #1219
@jfbloom22 Take a look at the composite key for the access token, and make sure that your request for `acquireTokenSilent` matches the values of that composite key for scopes, authority, etc.

[2020-01-16 23:04] Dedme commented on #1216
Thank you,
the reason this is an issue is that my web app will have 2 valid URI's: the azurewebsites.net one and our own public dns.

while the public address is the ideal one - i would have to redeploy the app (with a new config) to handle the dns change.

but only 1 would work at a time.
and the default href doesn't work - as the return address for every page combination doesn't exist in my azur

[2020-01-16 23:10] jasonnutter commented on #1216
@Dedme In understand your concern, appreciate the feedback. I agree that relative urls should be supported to redirect URIs, so we'll definitely put that into consideration.

Note, even if you set the redirect uri to your home page, that doesn't mean you can't invoke MSAL from other pages. For popups, the redirect page is only loaded in the popup, and for redirect, you can set `navigateToRequestUr

[2020-01-16 23:38] sameerag commented on #818
This will be addressed as a part of #964. Closing.

[2020-01-16 23:38] #818 closed

[2020-01-16 23:52] sameerag commented on #949
Closing this as this will be addressed with #844.

[2020-01-16 23:52] #949 closed

[2020-01-17 14:01] jfbloom22 commented on #1219
Is there another way I can verify the composite keys?  I double checked my code, and I am clearly passing in the same scopes.  The authority is set in only one spot, when `msalApp` is defined.

Initial login:
[code]

then `acquireTokenSilent`
[code]

One curios bit is that the key for the value with the `accessToken`.  Here is the key after initial login:
[code]
Then after `acquireTokenSilent` the

[2020-01-17 20:52] jfbloom22 commented on #735
I recently updated to 1.2.1 and this is still an issue.
**Issue summary:**
`msalApp.logout()` appears to log the user out, but after "logging out" the user can click "login" and be logged in again without being required to enter their username and password.

This is a serious security issue for user's who login to our application on a public computer, then logout thinking that they have prevented

[2020-01-17 20:59] hpsin commented on #735
@jfbloom22 can you send me a fiddler trace of this behavior? hirsin, microsoft.com

[2020-01-17 21:06] davidramos13 commented on #1199
@thisisbrianstewart @arabelaa could any of you elaborate a bit more on this? i am really into trouble trying to get past this error, which I have seen already reported here and on react-aad-msal repo in the last few days, and I am really clueless about how to move forward. Redirect URIs are set as the screens show below. Tested both locally and with an static website in blob storage.

![image](htt

[2020-01-17 21:12] jasonnutter commented on #1199
@davidramos13 Can you try opening the login.microsoftonline.com url given in the error message directly in its own tab? What happens when you do that?

[2020-01-17 21:12] pasanenl opened #1222 "Intermittent acquireTokenSilent timeout issue"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Version:  "@azure/msal-angular": "^1.0.0-alpha.1" ,"msal": "^1.2.1-beta.1"
We are experiencing intermittent acquireTo

[2020-01-17 21:14] AndrewCraswell commented on #1205
Thanks for the clarification here, @jasonnutter. Would you say the best workaround here would be to detect user agent string for Safari browsers and fallback to a `acquireTokenPopup` call when receiving an `AADSTS50058` error code? I'm seeing some users reporting the same on Safari.

[2020-01-17 21:21] davidramos13 commented on #1199
thanks, that is something..
![image](https://user-images.githubusercontent.com/42895621/72646604-49b7b100-3955-11ea-871d-2de7ec24350a.png)
but i still can't see to which url it is referring to, since i have the two previous ones there. they are set as redirectUri in the authProvider I created with react-aad-msal

[2020-01-17 21:24] alex-mason-jdas commented on #1165
I have tried this out and it does resolve our B2C custom policy federation issues when federating from B2C to an AAD tenant. However, if we federate to the AAD common endpoint the issue is still present. In fact I can use the same AAD tenant via a direct custom policy configuration and the common endpoint custom policy configuration and the behavior is different with the prior one working and the

[2020-01-17 21:32] thisisbrianstewart commented on #1199
@davidramos13 -- That is where I had left off as well.  You can use a tool like Fiddler to see what url is provided as the redirect uri (it will be a query string param in the request / response to login.microsoftonline.com.  )

My solution is also using react-aad-msal, and following the best practice (https://www.npmjs.com/package/react-aad-msal#options) of using a blank html page for token refre

[2020-01-17 21:34] davidramos13 commented on #1199
yeah thanks! i just found it was because of that, i needed to add https://localhost:3000/auth.html

[2020-01-18 01:08] pkanher617 commented on #1000
UPDATE: We have released the alpha for Auth Code Flow as a new package in npm. Please download it [here](https://www.npmjs.com/package/@azure/msal-browser).

[2020-01-18 01:15] garrettm commented on #1000
@pkanher617 thank you! Do you have a timeline for when when this will be out of alpha and stable for shipping apps?

[2020-01-18 01:46] pkanher617 commented on #1000
@garrettm We are waiting on a few other teams to finish features, namely some server side features to support CORS requests and refresh tokens for SPAs. We are hoping to have the release available sometime in the March-April timeframe.

[2020-01-19 00:37] garrettm commented on #1000
@pkanher617 got it, thanks.  I thought the auth code would allow a SPA to get a refresh token (on the frontend or backend).  Is that not supported yet in this alpha?

[2020-01-19 04:17] oscarcosta commented on #1072
Hi,
I am having the same issue here. The pop-up authentication works fine on Outlook Web and Android App, but it is not working in the Outlook 365 on Windows or on the IOS App.

@eirikb not sure if you figured out how to get the Outlook version is running, but I think you can use this interface [Office.context.mailbox.diagnostics.hostName](https://docs.microsoft.com/en-us/javascript/api/outlook/of

[2020-01-20 08:12] kiranbudati opened #1224 "loginredirect get user details in background without redirecting to microsoft login page"
Is there any way to get user details with `loginredirect` without opening new window or login screen.

Need to get details in background

[2020-01-20 11:39] bertin commented on #1199
I am seeing the same error as @davidramos13.
I wrap my component with the AzureAD component from react-aad-msal library. If a user is not logged in the popup dialog appears as it should and closes when the user has entered username and password. If the user is logged in my component is visable. I even see the AAD_LOGIN_SUCCESS redux action with an IdToken. So all this works as expected.
The proble

[2020-01-20 11:56] victormasutani commented on #349
We're having an issue

 after leaving the system idle for a few minutes and starting use it again.

The solution posted by @emilverwoerd worked, however is there any solution that doesn't involve the user change their IE settings?

Env:
@azure/msal-angular 0.1.4
IE 11
Angular v8+

[2020-01-20 14:08] djleonskennedy commented on #1212
@jasonnutter Thank you for answer! Regards

[2020-01-20 18:50] thisisbrianstewart commented on #1199
@bertin -- I commented on the [other issue](https://github.com/syncweek-react-aad/react-aad/issues/186) that had more details as your error is a little different.  Hope that helps!

[2020-01-20 20:36] pasanenl commented on #1152
I've tried the latest alpha.1 version because we need SSO working and got the error below from acquireTokenSilent(). Is this a bug? Is there a way around this timeout error?:

msal client logging: Mon, 20 Jan 2020 20:07:44 GMT:1234-1.2.0-Verbose Loading frame has timed out after: 30 seconds for scope xxxx
app.component.ts:181 acquire token failure {"errorCode":"token_renewal_error","errorMessage":

[2020-01-20 20:59] sameerag commented on #1199
Thanks @thisisbrianstewart for your contribution in detailing these error types for the community.

To generalize these class of errors and why `msal js` cannot handle them better, I will try to summarize the root cause and discuss current/future mitigations:

- `implicit flow` authorization grant's security relies on the fact that the set of `redirect uri`s registered during app creation/elsewher

[2020-01-20 21:11] sameerag commented on #1224
Can you please expand your use case in more detail @kiranbudati? `loginRedirect` is opted to login when a SPA chooses not to have `popUps` to authenticate. Without logging in, there is no user information and hence your question is a little unclear for me.

[2020-01-20 21:23] sameerag commented on #1222
@pasanenl  When we time out for `acquireTokenSilent`, what are you seeing when you click the URI listed in the error?

Note: As you already concluded `block_token_requests` is not an error, it is only messaging from `msal js` informing that we cannot make silent calls from hidden iframes. Please check #1194 or #1156 for more details on this if you do not want to see this error. I am tagging this i

[2020-01-20 21:30] sameerag commented on #1025
@chr1soscl Closing this issue as we have fixed this in the recent versions of `msal js`. Please raise a new issue if you still find this not working.

[2020-01-20 21:30] #1025 closed

[2020-01-20 22:24] Atlas361 commented on #1152
Thank you **[jasonnutter](https://github.com/jasonnutter)** for the quick reply, I appreciate it! However, I don't understand how using the 1.0.0-alpha.1 along with your suggestion below will solve my problem:

**Then call msalService.acquireTokenSilent with your clientId as the only scope, along with loginHint:**

**msalService.acquireTokenSilent({**
  **scopes: [ "your_client_id" ],**
  **loginH

[2020-01-20 23:11] pasanenl commented on #1222
@sameerag If you mean the **URL navigated to** I clicked on in in my local environment and it brought me to my SPA. This timeout error occurs intermittently. It may work successfully once but then the next time it times out.

[2020-01-20 23:57] keystroke opened #1225 "MSAL fails to create separate hidden iframes for each token request based on target authority, resulting in returning the wrong token or error to registered callbacks"
## Library
- [x] `msal@1.2.0` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

None.

## Description

[UPDATE]

See my latest comment; I've renamed the issue according to what I believe is the root cause. It seems that MSAL is creating hidden iframes identified only by target scopes in the token request, b

[2020-01-21 00:40] keystroke commented on #1123
@sameerag please consider that openid configuration objects must be fetched / cached for each distinct authority URI. Also, please consider exposing these resulting openid configuration objects to end-user code in some way, as I didn't see a way to get at it from my code, and my application has to redundantly fetch the same openid configuration object.

Perhaps you could imagine some approach wher

[2020-01-21 00:43] keystroke commented on #1045
Thanks for the details! I was hitting this previously, though not sure the circumstances were entirely the same. In my case, I was making a silent token request with different scopes than those I used when I signed-in the user, and that combined with something else was giving my this error. I was able to workaround it by ensuring that I use the same scopes during login that I do with my first sile

[2020-01-21 00:46] keystroke commented on #1041
@jannikbuschke The values you see there are not the actual complete set of values, In special circumstances, the prompt values can include other strings that are unique in a particular directory, like one federated with ADFS or perhaps other B2C scenarios. Sorry I don't have a great example for you, but I recall running into this previously in some circumstance where the prompt string accepted a d

[2020-01-21 01:28] keystroke commented on #1225
As another data point, I added the "forceRefresh" request option to the acquire token silent request calls, and it did not help the issue:

[code]

[2020-01-21 01:55] keystroke commented on #1225
@sameerag tagging you here (hope its okay) to avoid reading above if this explanation is enough for you ;)

It seems that MSAL is creating iframes based only on target scope of token which needs to be acquired, instead of including target authority as well.

In above issue description, I show how acquiring multiple tokens concurrently does not work correctly, and will return duplicate data to the

[2020-01-21 02:33] keystroke commented on #1199
Everyone: this error will be received when some kind of error occurs on the target acquire token silent page which is not handled by redirection. This thread is discussing only one possible reason for such an error, which is using an invalid reply URL. But you can encounter this for other errors as well, and here is how to debug them.

First, a simplified example which will induce this error:

[co

[2020-01-21 02:53] keystroke commented on #1225
I found a way to work around the issue for now... though it is obviously quite hacky.

In my previously-shared example, you can modify the token scopes to request 'openid' a duplicate number of times. This effectively "tricks" MSAL into creating unique hidden iframes for each target directory, as it uses the duplicated scopes in the identifier:

[code]

In below image, you can see we get unique re

[2020-01-21 03:13] keystroke opened #1226 "Silent token requests cancel any active popup requests."
## Library
- [x] `msal@1.2.0` or `@azure/msal@1.2.0`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

None.

## Description

Silent token requests cancel any active popup requests.

## Security
Is this issue security related?

No.

## Regression
Did this behavior work before?

No.

## Configuration
Please provide your MSAL confi

[2020-01-21 08:12] sameerag commented on #1225
@keystroke very interesting find and I think we have an issue to fix on the first look. Can I reach out once we figure out the best way to fix this?

[2020-01-21 08:56] keystroke commented on #1225
@sameerag thanks for quick response! I will happily test any new drops if you can provide them in a single js file which I can load with a script tag.

[2020-01-21 09:08] jannikbuschke commented on #1041
Ok, in this case string might be the best type.

[2020-01-21 09:55] bertin commented on #1199
Adding Implicit Grant flow and using the correct reply uri fixed the issue for me.
I now use the readt-aad-msal recommendation about a separate empty auth.html file for my redirectUri and tokenRefreshUri.
Thank you guys for quick answers.

[2020-01-21 09:58] mohanrajselvam007 opened #1227 "MSAL loginSuccess not triggering iphone device"
## I'm submitting a...
- [ ] `Safari`
- [ ] `Chrome`

## Library version
`Angular 8.2.0`
`@azure/msal-angular: ^0.1.4`

## Current behavior
when i try to login i entered account details, after loginPopup closed "msal:loginSuccess" event not triggering in the iphone safari/chrome browser.

some time triggering msal:loginSuccess event in the same browsers in iphone.
## Expected behavior
Should login

[2020-01-21 10:06] mohanrajselvam007 commented on #843
I have same issue in iphone safari/chrome browsers to login. any updates?

[2020-01-21 10:44] anish-pillai opened #1228 "MSAL Library Config for Anguar 7 to work with tenant.b2clogin.com"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x ] `@azure/msal-angular@0.1.4`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
Angular 7.0.3

## Description
Current version of @azure/msal-angular library used in our Angular 7 application is 0.1.4

In the config, validateA

[2020-01-21 14:36] jfbloom22 commented on #735
hey @hpsin thank you for looking into this.  I am trying to capture a fiddler trace, but I have never used the program before. The Mac version does not seam to work at all.  Wireshark is working, but it will take me some time to figure out how to find and share the right packets.  Before I attempt to do that here is what I see in Chrome Dev tools:

There are two Logout requests:
[code]

[code]
Fol

[2020-01-21 16:09] hpsin commented on #735
Ah, yeah, mostly that it's a b2c concern that I can't help with I'm afraid. Apologies, I didn't realize that. @jasonnutter can you pull in someone from b2c instead?

[2020-01-21 16:24] rits-development opened #1229 "'ClientAuthError: Invalid state' when returning from a redirect after login"
## Library
- [x] `msal@1.2.1-beta.1`

## Description
We currently trying to migrate from adal to msal since this will fix the SameSite issue we're currently facing in Chrome (see #1215). Our client application is a big Angular SPA. As suggested [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/526#issuecomment-460107438) and [here](https://github.com/AzureAD/microsof

[2020-01-21 16:37] jasonnutter commented on #349
@victormasutani Unfortunately, no.

[2020-01-21 16:43] jasonnutter commented on #1228
@anish-pillai This is a known issue, and setting `validateAuthority` to `true` is our recommended workaround. We have this tracked in #1187, so closing this.

[2020-01-21 16:43] #1228 closed

[2020-01-21 16:49] jasonnutter commented on #1226
@keystroke Can you please clarify the use case for this? I understand making this work for different request scopes (e.g. you need tokens from two different resources, e.g. MS Graph and custom Web API), but making a silent and interactive request for the same scopes (as your demo code does) doesn't make sense to me.

[2020-01-21 16:50] jasonnutter commented on #1227
@mohanrajselvam007 Does `loginRedirect` work when you are on a mobile device?

[2020-01-21 17:00] jasonnutter commented on #735
@ktsakas Can you provide any insight for this issue? Thanks!

[2020-01-21 17:19] jasonnutter commented on #1205
@AndrewCraswell I suppose that might work, although we generally advise against coding for specific error codes, as they can change without warning. But seems like a reasonable workaround for now, until Auth Code is ready.

[2020-01-21 17:48] bojantv commented on #735
Hi, sorry for getting in the middle of your conversation. I have also noticed issues with logout and session not getting destroyed. However, it happens when the single sign-on configuration is set on "Application". When on "Tenant" it works as expected.

Expected behavior for Application setting is:
When you log out of your app, the session is destroyed and when you visit the same protected page y

[2020-01-21 17:55] sameerag commented on #1229
@rits-development Are you using IE?

[2020-01-21 18:21] jasonnutter commented on #1219
@jfbloom22 Client Id as the scope would indicate an ID token, which would make sense after a login call. Does this happen after `acquireTokenRedirect` as well, or only `loginRedirect`?

[2020-01-21 18:25] rits-development commented on #1229
@sameerag We're using Chrome but want to use the redirect flow instead of the popup flow nonetheless.

[2020-01-21 18:35] rits-development commented on #1229
Additional remark: I'm trying to come up with an implementation of the suggestion you made in [this ticket](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/526#issuecomment-455395870). You were referencing the adal FAQ, but I'm stuck with the implementation in msal.

[2020-01-21 18:39] jasonnutter commented on #1152
@Atlas361 `loginHint` (or `sid` (session id))  is required in order to properly disambiguate in case the user has multiple AAD sessions in their browser (e.g. a work account and personal account).

That documentation is somewhat dated, so we'll make sure it gets updated, as the guidance provided isn't really accurate, especially for advanced scenarios.

[2020-01-21 18:39] himadrinath commented on #1006
We are still having this issue. It's frustrating. It's unpredictable some time it's works and most of the time it's doesn't work.

[2020-01-21 18:59] jasonnutter commented on #900
@zamzowd One reason is that if the user has multiple active AAD sessions (e.g. work account and personal account), the login hint is needed to disambiguate between those session.

[2020-01-21 19:18] jasonnutter commented on #1006
We've been working on some other things, but we will make sure this gets fixed, as we want PWAs to be a properly supported.

[2020-01-21 19:19] jasonnutter commented on #735
@bojantv Can you please open a new issue, thanks!

[2020-01-21 19:23] himadrinath commented on #1006
@jasonnutter :+1:

[2020-01-21 20:56] keystroke commented on #1226
@jasonnutter My use case is the scenario you understand, getting tokens for difference scopes ;)

You might be interested to check the behavior yourself though: what happens if an active popup request is ongoing for a particular set of scopes / authority, and other code in the app induces a new silent token request for the same scopes / authority? What might you expect the behavior to be?

In that

[2020-01-21 20:57] Nasicus commented on #965
The same happens to me with my google login at our app. It doesn't even help to clear the local storage (of "my site"), in an anonymous / private window it works.

[2020-01-21 21:22] Tim91084 opened #1230 "msal@v1.2 - When acquireTokenSilent fails, it never times out, and promise never resolves"
## Library
- [x ] `msal@1.2.x`

## Framework
React@latest

## Description
acquireTokenSilent doesn't fail/time out properly when 3rd party cookies are disabled.

## Security
No

## Regression
Yes, works in 1.1.x

## Reproduction steps
You can reproduce this by disabling 3rd party cookies and then trying to acquire a token silently using the library.  You'll see that the library tries to make a req

[2020-01-21 21:42] garrettm commented on #1000
@pkanher617 bug to report, I think?

`msal.4d49e096-4be9-4fab-bf9a-c55c50d72365.interaction.status` got stuck on `interaction_in_progress` and now `.loginPopup(params)` fails every time, even between refreshes.

[2020-01-21 22:23] pkanher617 commented on #1000
@garrettm Thanks! Could you please file an issue in this repo with repro steps?

Yes this will be supported in the alpha, but as I said above this currently does not work in browsers that have CORS protection. Disable this security for the alpha to test, but it is not production ready. The service team will let us know when we are able to implement this for all browsers.

[2020-01-21 22:35] garrettm opened #1231 "Msal-Browser stale state blocking login?"
## Library
`@azure/msal-browser@2.0.0-alpha.0`

## Framework
React, but I don't think that matters

## Description
Sign in state gets stuck on `interaction_in_progress`

See https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1000#issuecomment-576896230

## Reproduction steps
(I think these work, but not 100%)
1. Open a sign in pop up
2. Close/refresh the web app
3. Close the

[2020-01-22 05:33] mohanrajselvam007 commented on #1227
i have tried `loginRedirect` instead `loginPopup` but "msal:loginSuccess" event not triggering in the iphone. but its working on other android devices.

[2020-01-22 07:28] Nasicus opened #1233 "AcquireTokenRedirect redirect to "wrong" page / policy with Google (B2C)"
MSAL Version: `1.2.1`

So I have the following scenario:
On my site I have different login possibilites: AzureAd (login.microsoft), B2C (E-Mail) and B2C (Gmail).

For the google login I have a button to allow the log in directly, without first redirecting to the policy page and then there selecting the Google Login button again.
For this I create the MSAL client with this config:

[code]

And then

[2020-01-22 07:47] arabelaa commented on #1199
I added an empty `auth.html `page as a redirectUri (as suggested in the msal documentation).

And I have a new error:
[code]
After some google searches, I found out that one of the causes of this error is the fact that I am not using caching capabilities.

What I noticed (using Fiddler) is that for each call to `this.userAgentApplication.acquireTokenSilent` a new request is done to retrieve an acc

[2020-01-22 09:30] LiamMartens commented on #1045
@jasonnutter thanks for the info, it does appear the library does not allow for not setting the loginHint if there is a account in localStorage as it will attempt to autofill it. I made some changes to be able to hard disable the loginHint

[2020-01-22 13:51] mayo589 commented on #1169
Hello, any updates?

[2020-01-22 14:32] bojantv opened #1235 "B2C single sign in session active after logout"
## Library
- `msal@1.2.0`

## Framework
React

## Description
I have noticed issues with logout and session not getting destroyed. It happens when the single sign-on configuration is set on "Application". When on "Tenant" it works as expected.

**Expected behavior for Application setting is:**
When you log out of your app, the session is destroyed and when you visit the same protected page you are

[2020-01-22 16:50] jasonnutter commented on #1199
@arabelaa One way to debug this is to take a look in local/session storage right before you make an `acquireTokenSilent` call. If there are access tokens in cache, you will see them cached by a composite key that is composed of a few different values, such as scopes and authority. Make sure your `acquireTokenSilent` calls match those values. For example, if you have tokens from multiple resources

[2020-01-22 16:52] jasonnutter commented on #1227
@mohanrajselvam007 Is `msal:loginFailure` broadcast? If so, what is the error?

[2020-01-22 18:03] sameerag commented on #1169
@mayo589 Early next week mostly. This is marked for January and is being tracked.

[2020-01-22 18:07] Draccoz commented on #1230
Encountered this issue as well.

[2020-01-22 20:33] pkanher617 commented on #1231
Thanks @garrettm, I am reviewing this and debugging the issue.

[2020-01-22 21:44] poseidonjm commented on #521
Your scopes parameter should be "[CLIENT_ID]/.default" When using MSAL.js and if you are not using graph api:

[code]

The example here [https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-spa](url) uses graph api and generate a specific token for graph api, change the scopes parameter if you need to generate an access token for other uses.

More information on s

[2020-01-22 21:49] poseidonjm commented on #815
See my comment here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/521#issuecomment-577400515

[2020-01-23 09:40] arabelaa commented on #1199
@jasonnutter Indeed, I made a call to `acquireTokenSilent `with a list of scopes. I followed your suggestion and the problem was fixed.
Thanks for the hint.

[2020-01-23 11:31] AndriiDidkivsky commented on #1218
Hi, same issue. We really do need fresh msal-core version.
When are you going to release new angular-msal ?
Cause for now the only one solution is  integrating with msal-core on my own.

[2020-01-23 11:55] ricey-cmd commented on #1213
@asanchezfe I tried this configuration and still getting the same issue. Seems it doesn't like the new Logger call. Same Error as before: 'Function calls are not supported in decorators but 'Logger' was called in 'MSALConfigFactory''

[2020-01-23 12:40] asanchezfe commented on #1213
@ricey-cmd  What webpack, angular... are you using? We use aot, angular 8 and `"@angular-builders/custom-webpack": "^8.4.0"`

[2020-01-23 14:11] Nasicus commented on #1207
@sameerag this just seems to have gotten much worse (or maybed it also was).
Now this happens for every link which is pointing to our application an doesn't include the `rel="noopener"` attribute ,e.g. `<a href="http://our-app" target="_blank">Go to our app</a>`.

So if anyone now access our app via this link, you will not be able to login (you will be able to go through the login flow, but the ca

[2020-01-23 15:20] mohanrajselvam007 commented on #1227
I am using `Angular 8.2.0` version and `@azure/msal-angular": "^0.1.4"`. Event triggering some time in the iPhone. this issue happen only iPhone devices.

[2020-01-23 15:22] jaleleddineagrebi commented on #1011
Any news on the release for supported version rxjs 6@jasonnutter !!!!

[2020-01-23 15:23] sameerag commented on #1207
@Nasicus I will try to prioritize this next week/ or have someone from my team follow up.

[2020-01-23 21:30] davallen opened #1237 "TypeError: Cannot read property 'extraQueryParameters' of null"
## Library
- [X] `msal@1.2.0`

## Framework
React v16.8.4

## Description
We are calling acquireTokenSilent with only scopes in AuthenticationParameters and receiving the "TypeError: Cannot read property 'extraQueryParameters' of null" error.

[2020-01-23 22:06] UnbiasedGoat opened #1238 "Refused to display in a frame because it set 'X-Frame-Options' to 'deny'. Tried FAQ solutions, didn't work"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [x] `@azure/msal-angular@1.0.0-Beta-1`
- [ ] `@azure/msal-angularjs@1.x.x`

**Important**: Please fill in your exact version number above, e.g. `msal@1.1.3`.

## Framework
If you are using a framework, please provide the framework and version (e.g. Angular v8, React v16, etc).

[2020-01-23 22:25] sameerag commented on #1212
UPDATE: CDN link updated

[2020-01-23 22:46] sameerag commented on #1229
Couple of things that stand out for me:

- `Creating a new instance of UserAgentApplication triggers a redirect to the original url: https://localhost:30666/` - Why would you need a new instance?
- The `redirectUri` that a developer would want to set for silent calls (`acquireTokenSilent`) has to be a literal blank html page for this to work. The release [notes](https://github.com/AzureAD/microsof

[2020-01-24 06:49] Nasicus commented on #1207
Thanks.

For people who have the same problem:

Setting `window.opener = null;` right before creating the `UserAgentApplications` works for me as a workaround.
=> In my site I never care about the opener anyway, so for now this seems to be an okay fix.

[2020-01-24 10:23] vcrudu opened #1239 "myMSALObj.getAccount() returns null after successful login when redirect back to the app"
After calling the following:
function authCallback(error, response) {
        //handle redirect response
        if(error){
          debugger
          console.log(error)
        }
      }
      const loginRequest = {
        scopes: appConfig.b2cScopes
     }
      myMSALObj.handleRedirectCallback(authCallback);
      myMSALObj.loginRedirect(loginRequest);
the application redirects to our B2C po

[2020-01-24 10:46] vcrudu commented on #1239
The application is SPA implemented using VUE.js

[2020-01-24 17:34] mjrousos opened #1240 "acquireTokenSilent making requests instead of using cache"
## Library
- [x] `msal@1.2.1`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
None

## Description
Every time I call `acquireTokenSilent`, msal makes calls to */v2.0/.well-known/openid-configuration* and */oauth2/v2.0/authorize* endpoints. Even if I call `acquireTokenSilent` multiple times in a

[2020-01-24 18:31] mjrousos commented on #1240
After a little more investigation, I found that this issue only repros when I have 'openid' or 'profile' in my token request scopes. If the scopes property is just 'https://<App URI>/user', I see the expected behavior of the cached token being reused. Even if I include multiple scopes in the request, the behavior is as expected if the scopes are just app scopes (rather than OIDC items like openid

[2020-01-24 22:28] davallen commented on #1237
More information on what we are passing into the AuthenticationParameters. We are stumped on how the AuthenticationParameters object is null when we are passing the Authenticationparameters object in the acquireSilentToken call.

If we have the userName we provide it in the AuthenticationParameters object and it is successful.

tokenRequest = {
                scopes: scopes,
                login

[2020-01-24 22:39] pasanenl commented on #1222
@sameerag The timeout issue is still a problem in msal-angular 1.0.0-beta.1. To reproduce clear the browser cache and start a fresh login.  Login to the Angular SPA. The first time the application tries to acquireTokenSilent() it times out. Eventually it may acquire the token successfully. Subsequent acquireTokenSilent() succeed with **Info Token is already in cache for scope**:.

I thought it may

[2020-01-24 22:48] navzam opened #1241 "acquireTokenSilent() doesn't get new ID token"
## Library
- [x] `msal@1.2.0`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
If I call `acquireTokenSilent()` with the `openid` scope after the cached token has expired, the result contains a new access token and the expired ID token. I don't see a new ID token anywhere in the result.

The re