[2021-02-18 12:30] ursmeier-mercatus commented on #3035
I have the same problem when using `InteractionType.Redirect`, but with `InteractionType.PopUp` everything works fine.
Maybe this helps to narrow down the problem.

[2021-02-18 12:59] Asim-A opened #3042 "Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
Hi,

I followed [this repo's ](https://git

[2021-02-18 16:13] hectormmg commented on #3017
Closing since this was addressed in #3031.

[2021-02-18 16:13] #3017 closed

[2021-02-18 16:13] hectormmg commented on #3016
Closing since this was addressed in #3031.

[2021-02-18 16:13] #3016 closed

[2021-02-18 17:06] pkanher617 commented on #3041
@Victor-Varghese the reason the loop is happening is that `ssoSilent` will always make a network request by opening a hidden iframe. This will always fail since most likely 3p cookies are blocked, which results in the popup being called again.

You should change the `ssoSilent` call to `acquireTokenSilent()` instead. See the sample [here](https://github.com/AzureAD/microsoft-authentication-library

[2021-02-18 18:13] pkanher617 commented on #3032
I would try to figure out why the header is not being included, as it should be sent on fetch requests by default. There some test environments like `Cypress` which will remove the `Origin` header when the chromeWebSecurity flag is set to `false`. Most modern browsers should be adding this header without issue.

If you are still seeing issues with this in a dev or prod environment in a modern brow

[2021-02-18 18:27] pkanher617 commented on #3025
@simon-ittmann Sorry about that, yes that is the issue I am referencing.

Yes, I am assuming that you have a web api you are trying to access with `client id` as the scope, you can define a custom scope on that web api and request that as the scope instead of the `client id`.

[2021-02-18 18:29] pkanher617 commented on #3042
@Asim-A Thanks for opening this issue. Could you provide some logs and possible a block of code showing how the redirect flow is being handled?

[2021-02-18 18:30] pkanher617 commented on #2451
@baSSiLL @vinizinmoraes Were you able to figure out how to work around this issue?

[2021-02-18 18:33] Asim-A commented on #3042
@pkanher617 thanks for responding. I use [this](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi/blob/master/TodoListSPA/src/app/app.component.ts#L47) for login, is that helpful or do you need more?

 Is there anything particular you would like me to log? Or any preferance on how to log it?

[2021-02-18 18:35] pkanher617 commented on #3042
Just the client side logs that are showing in the browser is sufficient, it should already be configured for logs. If possible verbose level logs would be helpful.

This should be fine, I didn't know if you had altered the sample in any way.

[2021-02-18 18:44] pkanher617 commented on #2876
@johnvittneyk Could you post or update the code snippets to reflect this? It also appears you are calling `loginForAccessTokenByMSAL` every time you are making a graph endpoint call, which is going to result in multiple hidden iframe calls being made. You should be using acquireTokenSilent here, not ssoSilent, which will allow you to leverage the cache and not have multiple network requests. I sug

[2021-02-18 18:54] Asim-A commented on #3042
Not quite sure what this means, but I found & I am now using [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications#initialize-msaljs-2x-apps).

I get ```[Thu, 18 Feb 2021 18:46:39 GMT] :  : @azure/msal-browser@2.11.2 : Info - Emitting event: msal:loginStart``` and then the ```ERROR Error: Uncaught (in promise): BrowserAuthError: interaction

[2021-02-18 20:13] pkanher617 commented on #2315
Thanks to everyone who pitched in here. Can I close this issue as the workaround mentioned [above](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2315#issuecomment-773407358) seems to be working?

[2021-02-18 20:24] pkanher617 commented on #2603
@mazhaojia Sorry for the long delay on this. We are working on adding an enhancement for this soon.

[2021-02-18 20:27] Jernik commented on #2315
Has that workaround been documented anywhere other than this issue?

Also, is there an update on an actual solution?

[2021-02-18 20:28] pkanher617 commented on #2626
@kevindelange Have you been able to try out this feature since the PR referenced above was merged?

[2021-02-18 20:35] pkanher617 commented on #2628
Hi all, sorry for the delay in answering this issue. Could you confirm this issue is still present on recent versions of MSAL? If so, could you verify the following:
- The tokens are present in the cache storage location specified (local/sessionStorage)
- The response from the /token endpoint contains a token.

@SaviChinnadurai There is a [known issue](https://github.com/AzureAD/microsoft-authenti

[2021-02-18 20:36] #2691 closed

[2021-02-18 20:37] pkanher617 commented on #2691
Closing for now as the original issue seems to be resolved. Please comment if you have further issues with this specific error.

[2021-02-18 20:58] #2854 closed

[2021-02-18 21:01] pkanher617 commented on #2874
@johnvittneyk If you could post an update snippet of your code (preferably just edit the original post) we can identify where the performance gaps are here.

[2021-02-18 21:04] baSSiLL commented on #2451
@pkanher617 @sameerag So you just want to close the issue without a fix? Any update from AD B2C team?

[2021-02-18 21:20] pkanher617 commented on #2896
@jitendraP-ashutec Are you still seeing issues with this in the latest version of msal-angular?

[2021-02-18 21:27] pkanher617 commented on #2868
Is this issue still happening on the latest version of msal-angular?

[2021-02-18 21:52] Flywheel commented on #3042
I'm using the b2c sample and the same error crops up after cancelling out of a b2clogin session.  This issue may be related: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2149

[2021-02-18 21:54] pkanher617 commented on #2315
The FAQ for the original issue has been added. I'll work on adding docs for this, and will leave this open while I update the FAQ with the workaround to add the custom scope for the web api. We are still waiting to hear back from the B2C team on a comprehensive solution to this.

[2021-02-18 22:06] jo-arroyo commented on #3042
@Asim-A We were unable to reproduce the error you experienced. However, the problem seems to be that the redirect is not being handled upon returning from login. If it is not handled correctly, and login is started again (pressing the button again), an interaction_in_progress error will occur. Here are some steps you can try to mitigate:

1) Upgrade to the latest version of msal-angular. You can d

[2021-02-18 22:14] pkanher617 commented on #2451
@baSSiLL We are still waiting on an update from the B2C team. However from MSAL.js perspective there is nothing further we can do until they push out an update for this. I can leave this open but I suggest going to the [B2C support page](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and filing a ticket there to track it from the B2C service's end. I'll also make sure

[2021-02-18 22:18] pkanher617 commented on #2882
I will try to put out a PR that addresses this.

[2021-02-18 22:28] pkanher617 commented on #2934
Unfortunately there isn't another workaround at the moment. The limitation of 3p cookies being blocked is going to be more prevalent, as you called out. We are working on solutions that may leverage Storage Access API, but these are still in design and will need time from the server team and the MSAL team to implement correctly. Until then the only way to handle this is to make a request using the

[2021-02-18 23:00] pkanher617 commented on #2979
@shyam2794 No, it will only do this if you attempt to renew the token with a refresh token. If you make an authorize call with either login/acquireTokenRedirect, login/acquireTokenPopup or ssoSilent, you will receive a refresh token with a new full 24hr lifetime. If you only attempt to renew the token with the refresh token (calling acquireTokenSilent) you will not receive a refresh token for a fu

[2021-02-18 23:07] pkanher617 commented on #2991
@k-mehta I have opened a PR for this, but as it is a breaking change we are looking for the right time to add it to the library. I will try to get this in as soon as possible.

[2021-02-19 07:47] Asim-A commented on #3042
@jo-arroyo Thank you for your response, the steps were very clear 🤩. This resolved the login button issue I presented initally. However a new issue arose.

If I try to enter the a protected uri I get redirected to /login-failed, I guess that is expected behaviour, previously it would just attempt to log me in and it worked. (See [Error 1](###Error_1)). I can live with the redirection to /login-fai

[2021-02-19 09:12] architect-tarun-narang commented on #3035
Thanks, I give it a try with InteractionType.PopUp but it lands me to some different errors which I will have a look.

[2021-02-19 09:15] dfibuch commented on #2315
Yeah no problem, though if possible please somehow link this issue when it's fixed so we know it has been addressed.

[2021-02-19 10:29] forellendev opened #3045 "acquireTokenSilent doesn't refresh ID token, instead redirects"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ X ] Other

## Description

The login works and I get an ID token

[2021-02-19 12:36] simon-ittmann commented on #3025
@pkanher617 With a custom scope the caching is working fine 👍
Thank you 😃

[2021-02-19 13:46] McInnesIan opened #3046 "MSALInterceptor Not Validate Audiance"
We have a couple of websites running on same domain using MSAL Angular MSALGuard we have found that if we login using SSO and switch between apps the token is not refreshed for the website we switch to and continues trying to use the token from the switched from website. To fix this we have had to write a new interceptor which checks that the token aud is the same as the Azure client id of the web

[2021-02-19 15:38] dmccolloughOneGas opened #3047 "Auto Redirect for login"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-alpha.6`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have followed [this repos](https://github.com/Azure-Samples/ms-identity-javascript-

[2021-02-19 16:45] pkanher617 commented on #3025
Great! Closing for now since issue was resolved, open another issue if you are still having problems. Thanks!

[2021-02-19 16:45] #3025 closed

[2021-02-19 17:37] jo-arroyo commented on #3042
@Asim-A Are you able to turn on verbose logging? It would help if I could see the logs from the MsalGuard. You can turn it on by changing the logging from `Info` to `Verbose` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/5e816b065be44b8f7c5e216ec25b96bccd1a2031/samples/msal-angular-v2-samples/angular11-sample-app/src/app/app.module.ts#L38).

[2021-02-19 17:50] Asim-A commented on #3042
@jo-arroyo Yes, certainly 😁

So first when I navigate to the protected uri I get redirected to the login page. This comes up:
[code]

After I login:
[code]

At this point I am redirected to /login-failed. Which is weird because I have signed in properly using the correct ad domain account, correct username and password.

So next I try to login by pressing the login button, then the error arrises.

[2021-02-19 21:36] jo-arroyo commented on #3042
@Asim-A Can you fork the repo you used, make the changes you made for your sample, and then share the forked repo with us with reproduction steps?

[2021-02-20 00:31] jo-arroyo commented on #3047
@dmccolloughOneGas Thanks for your question and for providing your sample app. I will be investigating this issue and will get back to you early next week.

[2021-02-20 00:32] pjchungmd opened #3050 "Is Creating Socket IO Connection Within MsalAuthenticationTemplate Secure?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Forgive me if this is an extremely naive question. I am trying to use socket IO with my SPA th

[2021-02-20 01:09] jamesots commented on #2974
Hi bot, this issue hasn't been answered or solved yet!

[2021-02-20 07:40] Asim-A commented on #3042
@jo-arroyo I can do this, but it might take some time. I have integrated the repo example into my company's webapp, so I would have to make a lot of changes to make it as close to my code as possible. Also this upcoming week is going to be very busy for me. Sorry for the inconvenience.

Meanwhile some questions:
- Do you know or have any assumpions as to where the problem lies?
- It's probably als

[2021-02-20 10:06] akshaybabloo commented on #3042
@jo-arroyo I have a similar issue as described by @Asim-A. My repo is open for now and its - https://github.com/akshaybabloo/rex-ui. The only difference is that I have Angular material added to it.

[2021-02-20 10:34] akshaybabloo commented on #3042
@Asim-A would you be able to clear your cache and open a new window and test it. That actually fixed my problem 🤔

[2021-02-20 12:00] Asim-A commented on #3042
@akshaybabloo thanks for the suggestion. I've tried it in incognito mode, my problem still arises. However, have you tried the sequence I am having issue with? I.e.
- Attempting to access a protected resource, you should be redirected to /login-failed or something.
- Attempting to log in.
If I log in straight away then there's no issue though. Also clearing "msal.[AD_Client_Id].interaction.status"

[2021-02-20 12:05] Victor-Varghese commented on #3041
Thank you @pkanher617
Used acquireTokenSilent instead of ssoSilent and added check with inProgress

[2021-02-20 12:05] #3041 closed

[2021-02-20 23:07] metal-slime opened #3053 "Testing Failure with Both Sample and Custom Code"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-alpha.4`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

We're trying to setup an Angular 10 project with MSAL. We're at the point where we're

[2021-02-21 00:31] #2531 closed

[2021-02-21 12:33] eluchsinger commented on #2868
@pkanher617 yes there are several new issues around this issue.

[2021-02-21 15:41] MRoc opened #3443 "Example states 'response: res' is required for use with cookies but actually is optional"
Minor documentation issue: `app.js` example says `response: res` is required when using cookies. But it is actually NOT required and works without. Excerpt from App.js:

[code]

If the response is not provided via options, then `passport-azure-ad/lib/oidcstrategy.js` resolves response from request:

[code]

One of the first middleware running in express.js is `express/lib/middleware/init.js` which

[2021-02-21 18:55] rizvirashid commented on #3033
If its possible to show a Pop Up Screen using msal node for Authorization code grant. please let me know.

[2021-02-22 12:19] fq-selbach commented on #2563
This is an absolute **must have!** Since we work in an Iframe and the logout page cannot be called from within we cannot properly logout atm :-( (or am I missing something here?).

In the meantime would it be possible to get the logout URL and `client-request-id` somehow to create our own popup via window.open(...)?

[2021-02-22 12:32] architect-tarun-narang commented on #3035
@ursmeier-mercatus - after updating to nteractionType.PopUp, it worked. I did not face the original reported error. However, I am not sure why, I am being redirected to login popup every time I click on a different URL/request. Should not the token be saved in a browser cache/cookies. Am I missing something?

[2021-02-22 12:43] sohilpancholi opened #3054 "@azure/msal-angular (msal-angular@2) - Stable Version Release Date for Angular 11 or later"
Hello,

Few days back, i was referring below npm package which was not under development.
https://www.npmjs.com/package/@azure/msal-angular

However, I observed that this package went under development before few days and is not ready for production. Could you give me the release date when this will be become stable for production environment for Angular 11 or above version?

Thanks in advance.

[2021-02-22 14:24] Mamta92 opened #3056 "MSAL method to get if a user is logged in or not"
Hi @jo-arroyo ,

I have two web apps A and B both are using msal to login and are using Angular. Both the sessions are active and are on search page. If I logout on App A using this.msalService.logout()..and refresh on the search page on App B, can I get to know by some method or some guard in MSAL if user has signedout already and then we can redirect them to login page?

Note:- Any new session o

[2021-02-22 16:10] jasonnutter commented on #2563
See linked PR for proposed design. If you would like this functionality today, you can use the `onRedirectNavigate` callback to get the url and open the popup yourself. See this sample for an example of how to do that: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/ChromiumExtensionSample/auth.js#L100-L105

[2021-02-22 17:04] pkanher617 commented on #3056
@Mamta92 Could you please fill out one of the [issue templates] so that we can better debug your issue?

[2021-02-22 17:13] pkanher617 commented on #3050
@pjchungmd It depends on what the socket connection is doing, but the `MsalAuthenticationTemplate` does not render children if the client has not been authenticated yet.

[2021-02-22 17:16] pkanher617 commented on #3046
@McInnesIan Could you please fill out the [issue template](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/.github/ISSUE_TEMPLATE)? Are these sites using different client ids?

[2021-02-22 17:17] pkanher617 commented on #3045
@forellendev Thanks for opening this. I was able to reproduce this, I will debug this and update here.

[2021-02-22 17:19] pkanher617 commented on #3040
@ranceroxas Could you provide some screenshots or a GIF of how this flow is breaking?

[2021-02-22 17:47] McInnesIan commented on #3046
Yes they are using different clientids, my fix for this involves creating a new guard which accesses the token and compares the tokens aud claim against the clientid of the application, if they are different, I force a silent login, since its SSO the user is already logged-in but it updates the token. Note the domains for both applications are the same.
________________________________
From: Prith

[2021-02-22 18:26] nick17728 opened #3057 "AADSTS90020:The SAML 1.1 assetion is missing immutable ID of the user on VM (Works fine on local machine)"
Please follow the issue template below. Failure to do so will result in a delay in answering your question.

### Library

 msal@1.x.x or @azure/msal@1.x.x
 @azure/msal-browser@2.x.x
 @azure/msal-angular@0.x.x
 @azure/msal-angular@1.x.x
 @azure/msal-angularjs@1.x.x

### I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Perform

[2021-02-22 19:41] arcadiogarcia opened #3059 "Chromium extension sample fails because redirect uris don't match"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

The code in provided Chromium extension s

[2021-02-22 19:51] jasonnutter commented on #3059
@arcadiogarcia I'm unable to reproduce the behavior you describe. The Chromium extension sample will print out a log statement with the redirect URI that you must include as a "Single-Page Application" redirect URI in your app registration. This is set on the `PublicClientApplication`, meaning it will automatically added to each request, and it should not need to be added on each request.

Did you

[2021-02-22 20:54] arcadiogarcia commented on #3059
Yeah, I added the redirect URI in the azure portal and the same URI is set in the PublicClientApplication constructor (I just copied the sample code), but for me it doesn't work until I pass the same uri to getLoginUrl manually.

[2021-02-22 21:39] arcadiogarcia commented on #3059
I gave it a try multiples times and it turns out that what I saw before was just random luck, the auth attempts are failing at random and I happened to get a bunch of successes in a row when I added the redirectUri.

What could be causing that? My code is a TS version of the sample:

[code]
![image](https://user-images.githubusercontent.com/9416356/108768971-3b02dc80-750d-11eb-8855-b462339c5b5d.pn

[2021-02-22 22:27] spavithra5 opened #3063 "BrowserAuthError: interaction_in_progress: Error while logging in everytime"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
I am following the sample in https://githu

[2021-02-23 00:30] #2895 closed

[2021-02-23 01:12] pkanher617 commented on #3045
@forellendev Could you try just sending `openid` and `profile` for the scopes values? It seems like the issue is stemming from sending the `offline_access` scope. We are looking at ways to mitigate this.

[2021-02-23 06:39] akshaybabloo commented on #3042
Tell me if this is true because this is when I am getting errors:

1. when the token expires, say when I am on `http://localhost:4200/secure-link`, MSAL redirects to B2c for authentication. While this is happening a redirect, session is stored in the browser.
2. After authentication, MSAL angular checks this session and redirects to that URL (but sometimes it misses it and goes to main page)
3. I

[2021-02-23 07:08] Mamta92 commented on #3056
## Library

- [ ] `@azure/msal-angular@1.1.2`

## Description

Hi @jo-arroyo ,

I have two web apps A and B both are using msal to login and are using Angular. Both the sessions are active and are on search page. If I logout on App A using this.msalService.logout()..and refresh on the search page on App B, can I get to know by some method or some guard in MSAL if user has signedout already and the

[2021-02-23 07:57] sergiupop commented on #3036
Hello :) Any updates on this issue?

[2021-02-23 08:37] fq-selbach commented on #2563
Oh wait, this is happening BEFORE the logout URL is called? I was assuming this is the redirect AFTER logout. This is actually perfect then 👍

[2021-02-23 09:25] sameerrswt opened #3066 "While building in prod mode in ES6 targeted project is not working as @azure/msal-angular library is targeting es5"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
-  `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- Angular
- [ ] React
- [ ] Other

## Description
My application is targeting ES6.

As I can see th

[2021-02-23 11:23] kwoxer opened #3067 "Store MSAL logged-in users and precheck them before doing a request on node.js web app"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.0.0`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

In my node project I have the following basic code to connect to Azure via a token. The login/l

[2021-02-23 15:07] patrick-jones commented on #3063
I experienced a similar issue: #2403

You may find that the various redirect methods return `null` with the expectation that the response doesn't matter because the page is redirecting anyway. However, there is usually a slight delay while the redirect happens and your script will continue to execute with MSAL in an unexpected state. Long story short, try something like this:

[code]

[2021-02-23 16:24] pkanher617 commented on #3067
@kwoxer Yes you should be able to do the things that you are describing above.

In our [E2E sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/EndToEndTestApp), we demonstrate how to make a graph call using an account API or `acquireTokenSilent`, which will ensure that you have a logged in user, and that the token you retrieve is valid (no

[2021-02-23 16:34] pkanher617 commented on #3063
@spavithra5 Are you calling `login()` or `getTokenRedirect()` when the page loads, or as a result of some user interaction? I think what may be happening here is that one of these APIs is being called before the `handleRedirectPromise()` has a chance to finish, which is causing the app to throw this error. If you can wait until `handleRedirectPromise()` has resolved you should not have these error

[2021-02-23 16:54] pkanher617 commented on #3057
@nick17728 I'm a bit confused by the information you have provided. The version number you gave indicates that this is for the [`msal v1` library](https://www.npmjs.com/package/msal), but the code you have provided is using the `PublicClientApplication` class, which is used in the [`msal-browser` library](https://www.npmjs.com/package/@azure/msal-browser). Could you clarify which library you are u

[2021-02-23 17:02] sameerag commented on #3024
@waldekmastykarz This is a good point. We have missed this use case and marked it as an enhancement. We plan to pick this up in a couple weeks.

[2021-02-23 17:05] pkanher617 commented on #3066
@sameerrswt Thanks for opening this issue. It looks like you've opened this before as well, sorry for not getting back to you on this.

`msal-angular v1` is compiled for es5 to support IE11 browsers. Have you looked at `msal-angular v2`?

[2021-02-23 19:21] jo-arroyo commented on #3053
@metal-slime It looks like you are not injecting the `MSAL_GUARD_CONFIG` in your test files. Please see [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-angular-v2-samples/angular10-sample-app/src/app/app.component.spec.ts#L28) for an example of how the `MSAL_INSTANCE` is being injected into the test file for the `angular10-sample-app`. The `MSAL_GUAR

[2021-02-23 20:31] jo-arroyo commented on #3047
@dmccolloughOneGas Thanks for sending your sample app. I tried it out and was able to reproduce the issue. Our recommendations are as follows:

1. If you do not want the user to have to hit a login button, one way this can be done is by setting the `MsalGuard` on your initial page. The `MsalGuard` will then prompt users to log in before hitting the Init page and the Home page. We would recommend t

[2021-02-23 21:31] thoo1 opened #3070 "How to handle client clock being skewed, not synced with actual time?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Is there any guidance on how to deal with client clock being skewed. Eg imagine a scenario wh

[2021-02-23 23:09] spavithra5 commented on #3063
@patrick-jones and @pkanher617  Thank you for your response. I went through the code, once again, and there was a place where login is called again before the handleRedirectPromise is resolved. For now, i have commented it out.  So this error is not occuring. But ideally for our application, during the login itself, API is called, I am not sure how to handle that scenario because in React within t

[2021-02-23 23:45] pkanher617 commented on #3063
It depends on how you are calling the API, but ideally you could do
[code]

I highly recommend taking a look at the [msal-react](https://www.npmjs.com/package/@azure/msal-react) library as it takes care of a lot of this for you. Reading through the docs for msal-browser and msal-react may also help.

[2021-02-24 00:30] #2962 closed

[2021-02-24 00:30] #2922 closed

[2021-02-24 00:57] #3045 closed

[2021-02-24 02:45] pkanher617 commented on #3070
@thoo1 Are we talking about access tokens or refresh tokens? If it's access tokens, the token expiration date returned in the response should be calculated based on the client's time. Tokens are valid by default for 1 hour from when they are issued. When you call acquireTokenSilent, it will check the current expiration time based on the client side calculation and renew the token if it is past thi

[2021-02-24 05:44] akshaybabloo opened #3075 "Setting active account doesn't persist between page loads"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description

From the Angular B2C example

https://git

[2021-02-24 08:35] kwoxer commented on #3067
Thanks for the ideas and thoughts. It's so confusing for me to have so many different examples and now to pick the best that fits in my case. But I still do not understand at all when to choose the **node** version and when to choose the **browser** version.

My idea was to create the token on node, because then I can hide the `clientSecret` from the user. But when I see the examples there sometim

[2021-02-24 11:27] Azzmurr commented on #2451
Also faced with this issue

[2021-02-24 12:12] dmccolloughOneGas commented on #3047
Thanks @jo-arroyo I'll take a look at it.

[2021-02-24 13:28] HristoStoevZ opened #3077 "SyntaxError: Failed to execute 'measure' on 'Performance'"
Hello ,

After upgrade from 1.2.2 to 1.4.6 I start getting exception on this.msalAgent.acquireTokenSilent:

## Library
 - [ ] `msal@1.4.6`

## Framework
 - [ ] Other

## Description
After upgrade from 1.2.2 to 1.4.6 I start getting exception on this.msalAgent.acquireTokenSilent, and I am not able to get token

## Error Message
Wed, 24 Feb 2021 12:59:54 GMT:1.4.6-Error SyntaxError: Failed to execut

[2021-02-24 17:04] #2988 closed

[2021-02-24 17:23] fq-selbach commented on #2563
@jasonnutter
It is worth noting that [the official example](https://github.com/Azure-Samples/ms-identity-javascript-v2) (related [tutorial](https://docs.microsoft.com/de-de/azure/active-directory/develop/tutorial-v2-javascript-auth-code)) is using an **outdated** version of the library by default (2.7.0)!
I had to change the version to latest (2.11.2) AND remove the second CDN since this one was a

[2021-02-24 17:28] pkanher617 commented on #2563
@fq-selbach Thanks for calling this out. We need to make sure we are updating the sample repos with the latest versions of the release. Glad to hear you were able to resolve your issues!

Is the tutorial that you linked the only one that is outdated, or are you seeing other areas that need to be updated?

[2021-02-24 17:29] jasonnutter commented on #2563
Thanks for the feedback, we'll make sure to get those updated. cc @derisen

[2021-02-24 17:57] fq-selbach commented on #2563
Its hard to say because the very first thing I've tried was based on an outdated YouTube Video (I can't recall the link, but as far as I remember it was on one of Microsofts channels) that used examples of v1 of the library which lead me down a very dark path of failed authentication attempts sometimes mixing v1 and v2 docs 😓. After a few weeks I've tried again and my web-search led me to all kind

[2021-02-24 18:41] jasonnutter commented on #2563
The main window will not know logout has completed until the popup has been redirectd to the post logout redirect uri (assuming that uri is the same domain as the app, which it should be). The linked PR demonstrates how we will do this.

While this will remove the restriction in MSAL, the logout page itself will not render in the iframe, as AAD sets `X-FRAME-OPTIONS` to `DENY`, prevent the logout

[2021-02-24 19:09] nick17728 commented on #3057
Hi @pkanher617  apologies for the wrong version number provided  my bad ,this issue was occurring due to a  domain mismatch ,you can close the issue .
Thanks again for the response.

[2021-02-24 19:41] foxylion opened #3078 "Impossible to acquire new token if token in localStorage is expired"
## Library
- [x] `@azure/msal-browser@2.11.2`

## Framework

- [x] Other

## Description

## Error Message

The request to `https://login.microsoftonline.com/common/oauth2/v2.0/token` results in the following error:

[code]

## MSAL Configuration

[code]

## Reproduction steps

1. Sign-In through `this.application.acquireTokenRedirect({ scopes: this.scopes });`
2. Handle response with `const resul

[2021-02-24 19:56] spavithra5 commented on #3063
Thank you for your kind response. I will try this. But in the npm website it's mentioned that msal-react is under development. We do not recommend using this in a production environment yet.
So is it fine to use it?

[2021-02-24 20:08] pkanher617 commented on #3057
@nick17728 No worries! Thanks for letting us know your issue was resolved. Closing now, please open another issue if you have further questions.

[2021-02-24 20:08] #3057 closed

[2021-02-24 20:50] whittssg opened #3079 "Angular V2 First login event where is it?"
## Library
- [x] `@azure/msal-angular@2.x.x`

## Description
Hello, a few alpha versions ago i was able to hook into the first login using LOGIN_SUCCESS, i am using this to write the user to an SQL db on the server end but since i updated it no longer fires?

I basically want to try and create the logged in user on their first login (not on view changes or api calls). This is what i had before:

[2021-02-24 21:38] jo-arroyo commented on #3042
@Asim-A

Often this error is a result of improper usage, which is why we request logs and a sample app that reproduces the behavior. Calling login while an interaction is still in progress will always throw the error.

It is possible that the library is not clearing the message at the right time, but we haven't seen any indication of this. In this case, refreshing the browser would clear this mess

[2021-02-24 21:54] jo-arroyo commented on #3042
@akshaybabloo What are you doing in the `ngOnit` of the page you have set as your `redirectUri`?

[2021-02-24 22:29] jo-arroyo commented on #3075
@akshaybabloo Unfortunately, the current implementation of active account means that it does not persist, but must be set per page load. This is an enhancement we are looking to make. Today, please set the active account on each page load, after checking that interaction is complete. Please see our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/d

[2021-02-25 00:21] pkanher617 commented on #3078
This is not expected - acquireTokenSilent should be failing with and error when it can't retrieve a new set of tokens (due to token expiration). Could you add a try/catch or `.catch` to the acquireTokenSilent call and check whether an error is surfacing?

Could you post a snippet of how you are calling `acquireTokenRedirect` and how you are handling the redirect promise?

[2021-02-25 01:04] jo-arroyo commented on #3056
@Mamta92 In order for single-sign out to work, you should set the Front-channel logout URL in Azure Portal for your app. This should be set to a page that automatically invokes the MSAL logout API (e.g. myapplication.com/logout). AAD will clear the user's session data. You will then have to invoke some trigger in App B to inspect the account state or look for tokens.

[2021-02-25 04:34] prkhandelwal commented on #3007
I can confirm what @kd-ricardo-tavares has mentioned. We are observing a similar behavior. Is there any update on this issue?

[2021-02-25 09:01] wy10cheng opened #3082 "how to add redirect / popup to MS login in config"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi All,

I am trying to impose MSAL to my React application, with the below guide:
https://git

[2021-02-25 10:10] m2nhawk opened #3084 "msal-react TypeError: Failed to fetch"
Hi, I'm using:
"@azure/msal-browser": "^2.11.2",
"@azure/msal-react": "^1.0.0-alpha.6"

My Configuration:
[code]

The App:
[code]

The redirect works, I log in with the company account, then I'll be redirected back to the localhost. But:
getting the following error in the console:

the LocalStorage:

and the App component also doesn't render. The ErrorComponent is rendered.

Having the same issue

[2021-02-25 11:39] wy10cheng commented on #3082
Anybody have some insights? Thanks

[2021-02-25 11:42] kwoxer commented on #3067
Ahh cool I found a kind of dirty way to solve my issue. Could you maybe tell me if that is a proper way? Also my solution is not safe as the user could change the client-side JS code and ignore the user auth.

Step 1:
Create HTML file for `/dashboard`:

[code]
and here using this JS code:

[code]

on the `<---- accessToken` putting a valid token and it works. Only when token is valid the console.l

[2021-02-25 11:43] shadyabouelmakarem opened #3085 "Configure B2C sample to work with PathLocationStrategy instead of HashLocationStrategy"
## Library
- [x] `@azure/msal-angular@2.0.0-alpha.5`

## Description
How can I replicate the `angular11-b2c-sample` project without turning on the `HashLocationStrategy` ?

The issue I'm facing is that redirect URIs from Azure AD B2C always start with `#` which misses up the application because I'm using `PathLocationStrategy` instead of `HashLocationStrategy`.

I can set the `useHash: false` inst

[2021-02-25 12:35] waldekmastykarz commented on #3024
Will this enhancement be included in the GA version of msal-node or will it be added later?

[2021-02-25 14:53] WilmsJochen opened #3086 "After authentication, the auth redirect is not handled correctly by the msal-browser package on IOS safari"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

## Error Message

After authentication,

[2021-02-25 14:54] timtucker opened #3087 "Should the contents of MsalAuthenticationTemplate tag be assured that there is a valid user session?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Our expectation was that the content of MsalAuthenticationTemplate would only ever be rendered

[2021-02-25 15:30] Azzmurr commented on #2451
@pkanher617 Also faced with this issue. Any updates?

[2021-02-25 15:45] cghaddar opened #3088 "SSO works sometimes but fails often with invalid_grant error. AADSTS9002313."
I am using SSO for Office add-in.  I obtain an authorization code with a request to https://login.microsoftonline.com/common/oauth2/v2.0/authorize
and redeem the code for an access token with a post to https://login.microsoftonline.com/common/oauth2/v2.0/token. The SSO works for some users but fails for others.  Here is a typical response received from the token server:

{"error":"invalid_grant","

[2021-02-25 16:33] pkanher617 commented on #3084
Please make sure you have followed all of the instructions [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react#prerequisites). The CORS error is most likely happening because you have not made the redirect URI type "SPA".

[2021-02-25 17:20] jo-arroyo commented on #3079
@whittssg Which alpha version of msal-angular are you using? Can you also update the template above with your configuration? If you could enable logs and send us verbose logs, that would help too.

[2021-02-25 18:30] akshaybabloo commented on #3042
This is what I am doing @jo-arroyo

[code]

Though the problem comes when the authentication takes place anywhere that's not the redirect URL

[2021-02-25 18:58] timtucker commented on #3087
To note, our desired end state would be able to use as few tags and as little code as possible to render content for an authenticated user with a token retrieved with as little user interaction as possible.

i.e.:
- Authenticate and get the token via a single operation / tag
- Start with a silent attempt, but automatically fall back on redirect if needed

[2021-02-25 19:06] wodeleeway commented on #2600
Any progress on this?  I am using the msal-node module and followed the auth code flow example. https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/standalone-samples/auth-code/index.js

**Without the proxy**, it got untrusted authority error after a few seconds, seems like a final error returned with the timeout.
**With the proxy**, it got below:

[2021-02-25 19:21] forellendev commented on #3078
You only need to add the account field to your redirect request:

`
const result = await this.application.acquireTokenSilent({
      account: this.application.getAllAccounts()[0]
});
`

[2021-02-25 19:24] forellendev commented on #3045
I'll open this issue again, because it seems to be common and the solutions differ too much. I tried pasting in the client ID into the scopes for the silent request, but that didn't work either. It began to work when I only added the account field:

`const result = await msalObj.acquireTokenSilent({
      account: this.application.getAllAccounts()[0],
    });`

[2021-02-25 20:07] pkanher617 commented on #3045
@forellendev Using client ID as scope wont help here. As I said above, can you try omitting `offline_access` from the scopes you are sending in the request object? I've also merged a PR to dev that will fix this, we will push out a patch early next week.

[2021-02-25 20:13] pkanher617 commented on #3088
@cghaddar Could you please fill out one of our [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/.github/ISSUE_TEMPLATE)? Without more information about what library you are using we cannot debug this issue.

[2021-02-25 20:34] pkanher617 commented on #3082
@wy10cheng Could you please make sure to fill out one of the [issue templates](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/.github/ISSUE_TEMPLATE)? I can see you are using react and browser, but may help speed things up in the future.

You may want to read through the [msal-react docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/sampl

[2021-02-25 22:07] jo-arroyo commented on #3042
@akshaybabloo Are you only experiencing this when tokens have expired? If possible, can you send verbose logs as well as your configurations and app.component.ts? We have been unable to reproduce the behavior with your steps above.

[2021-02-25 22:18] akshaybabloo commented on #3042
@jo-arroyo I have changed the visibility of my repo - https://github.com/akshaybabloo/rex-ui. The secure URL is `http://localhost:4200/client-auth`. Could you follow the above steps in the repo, you should see the same error?

If you still can't reproduce it, I can screen record it later.

[2021-02-26 00:27] cghaddar commented on #3088
@pkanher617 Thank you for the reply.  I did figure out the error eventually.  The auth. code should be url decoded before redeeming. Some codes apparently did not require decoding while others did.

[2021-02-26 00:27] #3088 closed

[2021-02-26 00:34] tnorling commented on #3087
@timtucker Msal does not track user sessions on the server. Once a user is logged in msal will create an account object for the user which persists until you explicitly logout or clear the cache. The presence or absence of this account object is what determines whether children of `MsalAuthenticationTemplate` are rendered. If you are running into issues with `acquireTokenSilent` failing when the t

[2021-02-26 02:14] timtucker commented on #3087
Which sounds like pretty much the same behavior as I observed from <AuthenticatedTemplate>, which is next to useless.

If MsalAuthenticationTemplate can't guarantee that it has an authenticated user in context, it doesn't sound like it offers much more.

I guess I'm looking for a higher level of abstraction than is provided.

Would really love something as simple as a single tag or hook that handl

[2021-02-26 07:34] smahajan1989 commented on #2978
Thank you pkanher617

I want to do this by setting navigateToLoginRequestUrl to false. When you indicate to drop a hint to myself to navigate back to a specific page once handleredirectpromise resolves. How would you get access to that page? Will it stored in the hash. If yes, how can i retrieve the hash.

[2021-02-26 08:20] wy10cheng commented on #3082
@pkanher617

Thanks a lot, i had updated the template, but now I had come another question.
Will open a new question.

[2021-02-26 08:26] wy10cheng opened #3090 "How to use OAuth 2.0 with @azure/msal-react package?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hi All,

After successfully imposing MSAL to my page, I was asked to add an OAuth2 into my app

[2021-02-26 11:28] sidyes commented on #3047
Hey @jo-arroyo  I was just looking for a solution to automatically login users when entering the application. Calling the `login` method in `ngOnInit` leads to some flickering. I also tried your provided solution by adding the `MsalGuard` for the first route to ensure having an authenticated user.

So my question is: is adding the `MsalGuard` the best solution for achieving an automated login of a

[2021-02-26 12:23] ncesar opened #3091 "After clicking on a button to open the login popup, it redirects me to the same page I was previously"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description

## Error Message

![image](https://user-i

[2021-02-26 13:21] vinizinmoraes commented on #2451
I used the @baSSiLL workaround. But its really strange, on 1.4.0 I was using the clientId as scope without any problems.

[2021-02-26 14:33] svdHero opened #3092 "Improve documentation and code samples on auto redirect after login"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.2`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.6`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [x] docs.microsoft.com
- [x] MSAL.js Github Wiki
- [x] README file
- [ ]

[2021-02-26 17:37] tnorling commented on #3087
Generally speaking, if the provided components don't meet your needs you are more than welcome to copy the source code and make the necessary adjustments to create a custom component that works for you. All of our provided components use public APIs, hooks and components. With that said, this is a reasonable use case and we'll take it under consideration for future enhancements.

This is likely no

[2021-02-26 17:47] tnorling commented on #2451
@vinizinmoraes 1.4.0 is a completely different library that uses an entirely different authentication flow. The root cause of this issue is that the /token endpoint is returning the `/` instead of `clientId` whereas in version 1.x tokens are retrieved from the /authorize endpoint which is correctly returning the `clientId`.

@Azzmurr The B2C service team has committed to this work but we cannot pr

[2021-02-26 18:13] pkanher617 commented on #3090
@wy10cheng I'm not sure what you are asking. OAuth 2.0 is the protocol implemented by MSAL.js libraries. Specifically, msal-react and msal-browser are implementing the [OAuth 2.0 authorization code flow with PKCE](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow). If you'd like to read more about what the OAuth 2.0 protocol describes you can read more [here]

[2021-02-26 18:50] pkanher617 commented on #3086
@WilmsJochen Could you post a snippet of code showing how you are invoking the redirect and how you are handling the response? Are you making sure to call `handleRedirectPromise()` on the page that is registered as the redirect URI? Please make sure you read through the [docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#usage) for `msal-browser`

[2021-02-26 18:51] thoo1 commented on #3070
Hi @pkanher617 thanks for taking your time to look into this. I can answer some of your questions

How does this happen? The client should be using acquireTokenSilent to retrieve a new token to make sure that the token is still valid. If it isn't valid, acquireTokenSilent should be renewing the token. acquireTokenSilent does this based on the client clock, not the exp claim in the token.

Sorry fo

[2021-02-26 18:52] tnorling commented on #3092
@svdHero Sorry for the confusion, we'll see what we can do to make the docs more clear. In the meantime, I'll try to clear some of it up for you

This should be corrected in the docs. It should say that it **can** be set to `false`. But it's perfectly fine to set it to `true`.

This depends. If you register all your pages as redirectUris in the Azure Portal you can have each request set the `redir

[2021-02-26 18:53] #2869 closed

[2021-02-26 19:54] jo-arroyo commented on #3085
@shadyabouelmakarem `PathLocationStrategy` is fully supported by msal-angular. However, MSAL does not support redirectUris that have a hash, because that is where the response from the server is. MSAL will automatically handle parsing the response hash for you.

Could you clarify what you mean by this?

[2021-02-26 20:27] pkanher617 commented on #3070
I think we need to be really clear here about which actors are performing specific actions. There is a client, which calls ATS to get tokens. This client should never be sending expired tokens. ATS always calculates lifetimes based on the client's clock, so it should never return a token that has passed the lifetime.

There is a resource server, which validates the access token. If this service is

[2021-02-26 20:45] pkanher617 commented on #3067
We will try to update the docs in the main README to be more clear, but generally msal-node is for node.js based apps, while msal-browser is for apps that reside only in the browser.

Could you point to the example you are referring to? `clientSecret` should never be sent to the browser AFAIK.

It depends on your app model. Is your application a traditional web application, or a single-page applic

[2021-02-26 22:54] jo-arroyo commented on #3042
@akshaybabloo After trying out your app, there appears to be an problem with the hash in the url, which may be causing the redirects to not be resolved, and thereby throwing the `interaction_in_progress` error when you try to manually log in again. We are currently working on a fix that we think may help that problem ([here](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3

[2021-02-26 23:11] wy10cheng commented on #3090
@pkanher617 Such that how to add the below endpoints in config?

https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize
https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token

[2021-02-26 23:22] pkanher617 commented on #3090
@wy10cheng this is done for you by the library. The library abstracts the protocol away from the application and exposes APIs to acquire the ID and access tokens needed for your app to function. Please go through the docs and samples for [msal-browser](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser#usage) and [msal-react](https://github.com/AzureAD/mic

[2021-02-26 23:42] pkanher617 commented on #3036
Still working on trying to find a fix for this issue. Thanks for your patience.

[2021-02-27 00:30] #2981 closed

[2021-02-27 00:30] #2980 closed

[2021-02-27 00:30] #2938 closed

[2021-02-27 12:09] svdHero commented on #3092
@tnorling Thank you for the very detailed answer. That helped a lot. In particular, I did not expected `handleRedirectPromise` to be called twice. Thanks for pointing that out.

For better context, I definitely want to use the single `redirectUri` pattern where I only register one single `redirectUri` in the Azure Portal. Said single `redirectUri` in Azure Portal is what I meant by `http://localho

[2021-02-27 14:59] khatran79 opened #3108 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API."
I has this error when trying to loginRedirect in React app using @azure/msal-react@1.0.0-alpha.6 and @azure/msal-browser@2.11.2.  The login data returns correctly but the exception is raised in the console.

[code]

The exception:
[code]

[2021-02-28 10:23] wy10cheng commented on #3090
@pkanher617 is it possible that i can use another flow, such that the Azure AD would display the message as the attached? We dont want the OTP login, thanks
![4BEA619B-0DD5-41A8-8F97-1AB058C182D5](https://user-images.githubusercontent.com/29766580/109415165-72d0bf00-79fa-11eb-91d7-8a454a18529e.png)

[2021-02-28 23:39] arsnyder16 opened #3109 "OneDrive personal account unable to aquire offline_access scope"
I am trying to acquire an offline access/refresh token pair on my web api server using the on behalf of flow
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow

I am acquiring the id token for the assertion on the client side and sending to the server. My flow works correctly for OneDrive for business account, but for personal OneDrive I get an error trying

[2021-03-01 00:42] tcc-sejohnson opened #3110 "How can we get the token from msalInstance.acquireTokenRedirect?"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.6`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

Hey there!

I read in the documentation (or maybe in another GitHub issue? can't remem

[2021-03-01 03:46] tcc-sejohnson opened #3111 "Typescript definitions of IPublicClientApplication.getActiveAccount and IPublicClientApplication.logout do not match"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.11.2`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.6`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

## Error Message
`Type 'AccountI

[2021-03-01 06:24] kwoxer commented on #3067
Well from Wikipedia I would say my app is no [SPA](https://en.wikipedia.org/wiki/Single-page_application). But it would not be impossible at all.

I read both projects now, but I'm still not sure how to check the user for a valid token in `msal-node`.

I would like to do the following:

from the list:

So as you said it is possible. But I cannot find a tutorial about this that works.

So how to do

[2021-03-01 07:19] kwoxer commented on #3067
I gave https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/silent-flow another try.

But I always get `invalid_client`. What I'm doing wrong?

![image](https://user-images.githubusercontent.com/1167229/109464295-c11ba780-7a66-11eb-9c58-8eed2022a141.png)

[2021-03-01 07:45] kwoxer commented on #3067
All I need is that the documentation **[here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/auth-code)** is extended with the example of a `/dashboard`.

[2021-03-01 07:53] kwoxer commented on #3067
I search a bit around and found out that I need to set App to Public

![image](https://user-images.githubusercontent.com/1167229/109467426-70f31400-7a6b-11eb-8b91-a9c467f77149.png)

and now it directly worked out

![image](https://user-images.githubusercontent.com/1167229/109467471-836d4d80-7a6b-11eb-847c-2291d2b061b2.png)

[2021-03-01 09:52] Ganpatkakar opened #3112 "CORS error for /token end point"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Server side flow :- .Net with initial authentication flow and getting id_token and serving to t

[2021-03-01 14:12] m2nhawk opened #3113 "Best practice to retrieve a token, access backend and Graph API"
## Library
- [x] `@azure/msal-react@1.x.x`

## Frontend Framework
- [x] `React with TypeScript`

## Backend Framework
- [x] `Spring Boot with Java`

## Identity Provider
- [x] `Azure AD`

## Description

What are the best practices for SSO (single sign-on) in the frontend with OAuth 2.0 using authorization code flow with PKCE and accessing the Graph API in the backend?

Earlier I was using react-a

[2021-03-01 14:22] KyryllSokolov opened #3114 "Problem with MsalRedirectComponent"
Have an issue related to MsalRedirectComponent
Here is my b2c-config file and app-module.ts

## Library

- [x] `@azure/msal-angular@2.x.x`

## Framework
Angular 11

## Description
After getting this error - I can Login via AD but after redirection I have no payload at all from BroadCastService.msalSubject$ , so I can't get token

## Error Message
core.js:6157 ERROR Error: The selector "app-redirec

[2021-03-01 16:22] ammritt commented on #2894
hi @hectormmg
Do you have any updates? Do you think it's an issue with the Azure B2C service or an issue with the sample app?

[2021-03-01 16:38] jasonnutter commented on #3112
@Ganpatkakar Redirect URIs used for MSAL.js v2 must be of the "spa" type. Please update those URLs and try again.

[2021-03-01 17:25] tnorling commented on #3092
@svdHero

Yes what you've shared is how it's expected to work.

Navigation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/lib/msal-browser/src/app/ClientApplication.ts#L225) and handling the response [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/master/lib/msal-browser/src/app/ClientApplication.ts#L198)

Correct.

[2021-03-01 18:05] tnorling commented on #3110
@tcc-sejohnson The React [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redirect-flow-in-a-react-app) calls out this exact scenario. We will also be working on more comprehensive docs on working with redirects before GA.

Generally, if all you need is the token you should call `acquireTokenSilent` each time you need to us

[2021-03-01 18:37] tcc-sejohnson commented on #3110
Ah, thanks -- that's what I was looking for. I'd somehow read that and remembered the "don't use handleRedirectPromise" and forgotten the part about registering callbacks.

Yep! If I understand correctly, the only scenario in which this fails (assuming we're not talking about network errors and the like) are when the cached refresh token is expired? In that case, we would have to fall back to `acq

[2021-03-01 19:06] tnorling commented on #3110
Generally yes the expired RT is the most common reason for an error thrown from `acquireTokenSilent`. However, there are many kinds of errors that can be thrown from `acquireTokenSilent`, including network errors, so we generally recommend you fallback to `acquireTokenRedirect` or `acquireTokenPopup` when it fails. If you just care about errors that are a direct cause of requiring interaction, you

[2021-03-01 19:08] foxylion commented on #3078
@forellendev I tried to add `account: this.application.getAllAccounts()[0]` to my `acquireTokenRedirect` call, that did not help.

But it looks like I found out the issue that was preventing `handleRedirectPromise` from succeeding.

In another part of the code I called `acquireTokenSilent` before the code had a possibility to run `handleRedirectPromise` this seemed to break the code behind `handle

[2021-03-01 19:08] #3078 closed

[2021-03-01 23:21] pkanher617 commented on #3113
@m2nhawk Thanks for opening this. Could you make sure to add the [question template](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/.github/ISSUE_TEMPLATE/question.md) to your issue?

Could you explain a few things about the scenario you are describing?

- Could you explain what you mean by SSO? Does this just mean the ability to get tokens without user interaction?
-

[2021-03-01 23:31] pkanher617 commented on #3114
@KyryllSokolov Could you make sure you have added the `app-redirect` selector in your index.html?

More info [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md).

[2021-03-01 23:34] pkanher617 commented on #3111
@tcc-sejohnson Thanks for opening this! This is definitely something we can take a look at. I will try to push a fix for this shortly.

[2021-03-01 23:38] pkanher617 commented on #3109
@arsnyder16 This looks like it is an expected error, it needs to be handled with an interactive call with the same set of scopes to allow the user to consent.

It looks like you are using msal 1.x to acquire tokens, I don't think you need to send `offline_access` for this? I will double check to make sure.

[2021-03-01 23:39] pkanher617 commented on #3091
@ncesar Could you add some code showing how the PublicClientApplication instance is being initialized?

If you have any logs from the browser that would also be helpful.

[2021-03-01 23:41] tnorling commented on #3108
@khatran79 You mentioned you are using `msal-react` but I don't see any react usage in the code you shared above. Can you confirm whether you are using `msal-react` and if so, can you share how you are using it, specifically the `MsalProvider`?

[2021-03-01 23:47] arsnyder16 commented on #3109
@pkanher617 Just so i am clear. This is expected behavior for personal accounts but not for business accounts? My flow is working fine for non personal accounts.

I have tried requesting offline_access on the client, and i had no change in behavior.  I am trying to establish on_behalf_of on my web server. Currently to do that i am just sending the users idToken retrieved from msal to the server an

[2021-03-01 23:56] tcc-sejohnson commented on #3111
@pkanher617 Awesome! There are a few of these I've noticed. I'll see if I can catalogue them as I come upon them.

[2021-03-01 23:58] pkanher617 commented on #3067
Looks like you found the answer above! `msal-browser` is a public client, so it cannot keep secrets. `msal-node` can be either a public or confidential client, so you need to make sure you specify that in the app configuration.

I pasted this in my [first response](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3067#issuecomment-784325823), but you should be able to call

[2021-03-02 00:30] voigtd opened #3117 "msal-browser - Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress."
## Library

- [ x ] `@azure/msal-browser@2.11.2`

## Framework

- [ x ] Angular 7

## Description
I'm getting what seems to be a common error:  `BrowserAuthError: interaction_in_progress`. On initial login and redirection, everything works. However, when a second attempt is made, then the error appears. It seems that the initial promise is not resolving because of the redirect that is occurring. I

[2021-03-02 00:43] pkanher617 commented on #3109
There are some differences in how the MSA (personal) auth service and AAD (business) auth service handles scopes, so it is probably expected, but I will double check with the service team.

I think I misunderstood the scenario, so disregard the comment about `offline_access` above.

[2021-03-02 00:47] pkanher617 commented on #3117
@voigtd You need to make sure that `handleRedirectPromise` resolves before the `loginRedirect` API is invoked.
[code]

[2021-03-02 00:49] pkanher617 commented on #3117
The Angular wrapper library should support the latest versions of Angular, so I highly recommend taking a look at the v2 library when it is generally available, as it will take care of a lot of the heavy lifting in Angular.

[2021-03-02 01:10] hpsin commented on #3109
Does the server have consent for files.read.all? This usually occurs when e.g. your front-end requests just ID tokens (openid, profile scopes) and then attempt to request a token for additional scopes which are not consented.  Do you see OneDrive in the consent screen for MSA users when you sign in?

[2021-03-02 01:32] arsnyder16 commented on #3109
@hpsin The server is sending exactly what i at the top `scope: ['Files.Read.All', 'Files.ReadWrite.All', 'User.Read', 'offline_access']`

I tried @pkanher617 suggestion and it worked. So i revoked my permissions to the app and then the launched the login so that consent would show up and i made sure the client sent `offline_access` and that made the extra consent be granted. I don't see to need to

[2021-03-02 01:44] arsnyder16 commented on #3109
Because the file picker does not work correctly with 'offline_access' i have to either prompt before or after the picker. Whichever popups happens second is always getting blocked by the browser since its not coming from user input which isn't verify desirable from the user perspective

[2021-03-02 02:35] arsnyder16 commented on #3109
I tracked down the issue within the onedrive picker there is code that is prepending `https://graph.microsoft.com/` to any scope passed, but https://graph.microsoft.com/offline_access is an invalid scope.

I notice that the picker automatically passes profile, openid. I would be nice if this were to also pass offline_access or not prepend graph.microsoft.com

 case c.default.AADv2:

[2021-03-02 04:14] hpsin commented on #3109
Could you share a link to that code? We'll track it down internally.

[2021-03-02 07:27] m2nhawk commented on #3113
I've updated the issue.

[2021-03-02 07:29] Ganpatkakar commented on #3112
@jasonnutter  We made changes accordingly and it worked. Thank you so much for guiding and giving your precious time.
Thanks

[2021-03-02 07:29] #3112 closed

[2021-03-02 07:48] goldylucks opened #3118 "Login popup not working on mobile"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.3.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [x] React 16.13.1
- [ ] Other

## Description

The calling the logging popup opens

[2021-03-02 08:24] goldylucks commented on #3118
Here's a screencap video

https://user-images.githubusercontent.com/6963212/109619452-76bb2900-7b41-11eb-9fed-04cc0d7b33de.mp4

[2021-03-02 08:42] KyryllSokolov commented on #3114
@tnorling Thanks man , I lose this point somehow . Now everything works fine

[2021-03-02 08:42] #3114 closed

[2021-03-02 09:31] eluchsinger commented on #3085
@jo-arroyo  The sample uses HashLocation strategy (see [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/df0a58b788daba179156cff6703d25d339a11f9a/samples/msal-angular-v2-samples/angular11-b2c-sample/src/app/app-routing.module.ts#L40)). How is PathLocationStrategy supported? I have also pointed this out [here](https://github.com/AzureAD/microsoft-authentication-library-

[2021-03-02 10:38] RonniePitts commented on #2934
The expired acquireTokenSilent call does return the error code from the 400 response however this information isnt available in the catch instead it returns "Silent SSO could not be completed - insufficient information was provided. Please provide either a loginHint or sid."

The actual response from the failed request :

error: "invalid_grant",…}
error: "invalid_grant"
error_description: "AADB2C9

[2021-03-02 12:38] arsnyder16 commented on #3109
@hpsin  I have not been able to find an repo that hosts this code but maybe you can find based on this information

https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/save-file?view=odsp-graph-online

hosted here: https://js.live.net/v7.2/OneDrive.js

I have also logged: https://github.com/OneDrive/onedrive-api-docs/issues/1445

@KevinTCoughlin @VesaJuvonen @JeremyKel

[2021-03-02 13:09] arsnyder16 commented on #3109
just some more information related.

I manually modified the OneDrive.js file and added `offline_access` beside `profile openid` and everything worked as expected.  As a side note the first thing i tried to do was remove the prepending of `https://graph.microsoft.com/` but that actually failed to show the correct consent page.   So it appears either the library properly filter out `profile `, `ope

[2021-03-02 15:00] voloszad opened #3119 "How to debug msal:loginFailure, AADB2C90085?"
## Library
- [ ] `@azure/msal-browser@2.11.2`
- [ ] `@azure/msal-react@1.0.0-alpha.6`

## Framework
- [ ] React 16.14 (CRAv3)

## Description

~3 weeks ago I switched from MSAL v1 to MSAL-Browser  and MSAL-React. Everything worked as expected for about two weeks, when suddenly 2 of the 3 envs started to misbehaving at login with the custom policies.
Most of the issues are resolved (reverting a cha

[2021-03-02 16:04] mike-little opened #3120 "Trying to find what changed for msal-angular 1.1.2 and msal 1.4.4"
## Library

- [ X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [X ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I am trying to see what was changed from msal-angular 1.1.1 to 1.1.2 and msal 1.4.3 to 1.4.4

[2021-03-02 16:52] pkanher617 commented on #3119
@voloszad Could you open a ticket with the B2C support service? It sounds like this is an issue with the B2C service. You can file a support ticket [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) and link this issue in that ticket.

[2021-03-02 16:57] pkanher617 commented on #3120
@mike-little There are changelogs available for msal [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/changelog.md#144) and msal-angular [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/changelog.md#112). If you would like to see the branches, you can visit our [Releases](https://github.com/AzureAD/m

[2021-03-02 17:22] fan-boy opened #3121 "Compilation error at node_modules/@azure/msal-react/index.d.ts"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React v 16.3.1
- [ ] Other

## Description
Added image in next comment.
## E

[2021-03-02 17:24] fan-boy commented on #3121
![image (1)](https://user-images.githubusercontent.com/16851801/109688381-36dc5c00-7baa-11eb-9e85-7042f7ad0f5c.png)

[2021-03-02 17:44] tnorling commented on #2975
@johnvittneyk Sorry this was missed. A 302 is a redirect, not an error and the error code you've shared is not one thrown by MSAL. Can you confirm what is throwing the error in your case?

[2021-03-02 17:49] tnorling commented on #2880
@0lukasz0 Yes, this is likely the root cause. Unfortunately, we don't own the service so we cannot make the required changes. I would recommend opening a ticket with the B2C service team so they can take a look. Instructions on how to reach them directly can be found [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)

[2021-03-02 18:01] Deymoun opened #3122 "Expose an unlimited refresh token to consumer call of MSAL"
## Library
- [x] `@azure/msal-browser@2.11.0`

## Description

Hi,

I already talked about this issue with Juan Balmori Labra from MS Outlook team and Matt Geimer from MS SSO team and they suggested to post here.

I am dealing with the authentication for an Office JS add-in in Outlook.
The [Office JS API](https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.auth?view=excel-

[2021-03-02 18:03] voigtd commented on #3117
@pkanher617 Thank you.

Resolving `handleRedirectPromise` before the `loginRedirect` API is used solves this issue.

[2021-03-02 18:04] #3117 closed

[2021-03-02 18:07] tnorling commented on #2934
@RonniePitts What you're experiencing is by design and the error that you're receiving is telling you what's not working. This happens because `acquireTokenSilent` internally catches the `invalid_grant` error and attempts to silently resolve it by using a hidden iframe to acquire new access and refresh tokens. It's this part that is now failing with the `insufficient information` error because the

[2021-03-02 18:50] jasonnutter commented on #3122
@Deymoun The refresh tokens in MSAL.js v2 are short-lived as a security consideration for browsers, and MSALs by design do not return refresh tokens to applications. Can you provide more details about why you need the refresh token?

You can see a sample Office Addin using MSAL.js v2 here: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React

[2021-03-02 19:41] ncesar commented on #3091
Hey, the pca is being initialized in our index.js file

[code]

[2021-03-02 20:27] tnorling commented on #3121
@fan-boy I'm not able to reproduce this. Can you check your typescript environment? Are you able to reproduce this using our [Typescript sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/typescript-sample)?

[2021-03-02 21:13] tnorling commented on #2563
All, please see the design proposal for this feature: #3123. We would love to get your feedback even if it's just "looks great". After we've given ample time to review and provide thoughts we'll finalize the linked PR and get this released!

[2021-03-02 21:24] jonstelly commented on #2563
Looks good to me!

I'd also like to say thanks for posting that design proposal for public review before the feature is finished/released.  You mention that it's an attempt to improve transparency and improving public visibility into your development process isn't always easy, but I appreciate you guys spending the effort and I'm sure I'm not alone.  Thanks.

[2021-03-02 22:45] RonniePitts commented on #2934
@tnorling, doesnt passing the email address become an issue when you may have mutiple social accounts with the same email address?  Is it possible to pass across the localAccountId instead which is available from the prior cache object?

[2021-03-02 22:47] pkanher617 commented on #3091
Are you seeing any logs on the browser console relating to popup errors (such as a `user_cancelled` or a `monitor_window_timeout`)?

We are not able to reproduce this in our current samples. Could you try using one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample) and see if you are getting the same behavior

[2021-03-02 23:38] tnorling commented on #2934
@RonniePitts Email is currently the only session identifier the service accepts. With that said, the B2C service doesn't do anything with the loginHint MSAL sends them in most scenarios, they rely on the cookies set during login. The error thrown in the library is to make sure that developers are passing some session identifier as it is used, and required, in other non-B2C scenarios. The multiple

[2021-03-02 23:51] dmccolloughOneGas opened #3125 "Question about auth-config.json file"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-alpha.6`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Question about auth-config.json file

If I produce a production build using the comman

[2021-03-03 00:33] #2986 closed

[2021-03-03 00:33] #2940 closed

[2021-03-03 00:33] #2901 closed

[2021-03-03 02:01] remns commented on #2880
@jo-arroyo I've taken your suggestion to use msal2, however the behaviour still doesn't work. I have the login hint set to UserA, but UserB's idtoken & access token are still being returned by acquiretokensilent(). Attempting to call acquiretokenredirect() with loginhint=UserA does not help either.

Is there any way to ensure that I will only get UserA's token?

[2021-03-03 05:08] markholst opened #3126 "Sign In occurs in Pop-up Dialogue"
## Library
@azure/msal-browser@2.11.2

## Framework
React 16

## Description
It has been observed that a situation can be created where a User's Sign In session opens in the Sign In pop-up dialogue rather than redirected back to main window in a desktop web browser, when that desktop web browser is not in the immediate background of the dialogue.

## Error Message
No error message.

## MSAL Config

[2021-03-03 08:43] kwoxer commented on #3067
Ok so testing the silent-flow was a good idea. It works great. So there has been a bad setup when I tested it in the past or that Public setting was the reason.

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/standalone-samples/silent-flow

This works with the `PublicClientApplication` and `acquireTokenSilent` works also as expected.

Anyway t

[2021-03-03 08:43] #3067 closed

[2021-03-03 09:20] Deymoun commented on #3122
Hi @jasonnutter my company would need the refresh token to access its clients' calendar anytime after a single user interaction.
The goal is to not have the clients reopen the Office taskpane every day to send again the Graph token, but rather they open **only once** the Office taskpane and send only once the refresh token so that my company can take care of the calendars in a job, **months or yea

[2021-03-03 10:13] kwoxer opened #3127 "What is correct platform for using the PublicClientApplication, Web or SPA?"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [ ] React
- [x] Other

## Expected behavior

Login works.

## Identity Provider

-

[2021-03-03 10:40] 0lukasz0 commented on #2880
Hi,
I changed from user flows to custom policies and managed to forward login_hint to external providers, but I still have the same erroneous behaviour. Moreover I'm also sending domain_hint parameter and access token which I'm getting is not only associated with different user but also comes from another identity provider then I asked for.

Righ now I have following workaround implemented for msa

[2021-03-03 11:07] fq-selbach commented on #2563
Yes, I just needed it to get the URL and then call `logoutWin = window.open(url, "_blank", "top=5,left=5,width=480,height=640")` ;-)

Looks good so far, I was just wondering if the option to submit an account is deprecated? I'd prefer to have a logout where the user doesn't really have to interact with the popup at all, especially since his locally stored credentials will be deleted in any case.

[2021-03-03 13:54] fan-boy commented on #3121
I upgraded my typescript to 4.0.5 from 3.7.5 . Works fine now. Thanks for your help :)

[2021-03-03 13:54] #3121 closed

[2021-03-03 16:35] tnorling commented on #2563
@fq-selbach The account parameter will not be deprecated and will be used the same way it is today. However, if and until changes are made server-side, ending the server session requires interaction regardless of whether you use the existing `logout` API or the new `logoutPopup` API. If you don't care about ending the server session and only want local logout you can use the existing `logout` API

[2021-03-03 16:39] pkanher617 commented on #3125
@dmccolloughOneGas I don't think this can be done with a .json file. You could use a templating engine or a JS/TS file to accomplish this, but the JSON itself cannot do variable replacement.

[2021-03-03 16:43] dmccolloughOneGas commented on #3125
@pkanher617 Would you have an example of how to do this with a templating engine or a JS/TS file?

[2021-03-03 16:46] pkanher617 commented on #3126
@markholst I couldn't reproduce this behavior in our samples. I'm not sure I fully understand the issue here. Do you have a video that you can provide showing the errant behavior? As well as some logs from the browser?

[2021-03-03 17:32] jasonnutter commented on #3122
@Deymoun With MSAL.js, if your app needs an access token, it should invoke `acquireTokenSilent` and MSAL will handle getting a new token using the refresh token (or from the cache). As noted, these refresh tokens are only good for 24 hours. Furthermore, refresh tokens acquired via MSAL.js v2 must be used client-side and cannot be used server-side. Given we do not have plans to remove these restric

[2021-03-03 20:34] pkanher617 commented on #3127
@kwoxer I may have misunderstood your scenarios in the previous issue, apologies for that. You can find a breakdown of Public vs Confidential Client Apps [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-applications). Public Clients can only be Desktop Apps, Browserless Apps and Mobile apps, this also includes SPAs, although they are specified as a different platf

[2021-03-04 00:13] pkanher617 commented on #3118
@goldylucks Is it a requirement for you to use the popup flow? Or could you use the redirect flow for login?

Do you know if you have any error messages in the browser?

Also, I'd recommend upgrading to the latest version of msal-browser (v2.12.0) and making sure you are still having the same issues.

[2021-03-04 00:27] tnorling commented on #2869
@jamesots This feature was just released in `msal-browser@2.12.0`, you can find docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/navigation.md)

[2021-03-04 00:49] derisen commented on #3023
@waldekmastykarz a [PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3128) is in draft stage now.

[2021-03-04 01:50] ncesar commented on #3091
I will try to reproduce the error but it seems to be in my end. Thanks for your time .

[2021-03-04 01:50] #3091 closed

[2021-03-04 05:41] johnfabian opened #3139 "@azure/msal-angular changed to sessionstorage still stores in both session and local"
## Library
- [ x] `@azure/msal-angular@2.x.x`

## Framework
- [ x] Angular

## Description
I changed the configuration to use session storage and the tokens are now saved in local and session storage both. When I open new tab to login it doesn't force a new login

## Reproduction steps
use the MSAL Angular v2 B2C Sample
change to sessionstorage in cache: {
      cacheLocation: BrowserCacheLocation

[2021-03-04 07:51] markholst commented on #3126
Thanks @pkanher617 for checking in quickly on this

I provided the instructions from our tester, however I have managed to reproduce this one quite easily.  I think the key is to minimise the browser window and continue working in the popup dialog.

This shows the initial page of the application, signed-out.
![image](https://user-images.githubusercontent.com/56993727/109927842-c0ea0900-7cff-11eb-9

[2021-03-04 08:28] kwoxer commented on #3127
I understand the difference between PCA and CCA.

But that silent-flow worked like a charm, before I did the cleanup in Azure with the platforms. And the code was using the PCA also before. So I dunno what happened internally actually in Azure? Maybe a bug.

Maybe can you tell me what my setting should look like? So have a look on the silent-flow example. For me that looks like I should only use W

[2021-03-04 08:40] VladBozhinovski opened #3140 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API"
Package that I'm using:
    **"@azure/msal-angular": "^2.0.0-alpha.6",
    "@azure/msal-browser": "^2.11.2",**
Browser:
       **Chrome**
OS:
       **Windows 10**

Reproducing Scenario:

User visits the application site, on initialization of the app (ngOnInit) msalService.loginRedirect() is activated.
User successfully logs in but the error happens.

**This happens only when I use loginRedirect m

[2021-03-04 08:41] #3140 closed

[2021-03-04 08:49] VladBozhinovski opened #3141 "BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API"
## Library

    "@azure/msal-angular": "^2.0.0-alpha.6",
    "@azure/msal-browser": "^2.11.2",

## Framework

- [x] Angular

## Description

User visits the application site, on initialization of the app (ngOnInit) msalService.loginRedirect() is activated.
User successfully logs in but the error happens.
This happens only when I use loginRedirect method in ngOnInit.

## Error Message

BrowserAuthE

[2021-03-04 10:47] waldekmastykarz commented on #3023
Awesome! Thank you for the heads up 👏

[2021-03-04 12:02] karrocon commented on #3026
I finally found out that the issue was caused by a misconfiguration in the Azure AD B2C directory.

I'm closing this issue.

[2021-03-04 12:02] #3026 closed

[2021-03-04 14:32] svdHero commented on #3092
I managed to get my React app up and running with auto redirect working great. Thank you so much, @tnorling .

One final question: How about the opposite process, i.e., the logout process?

My use case is one where locale (language and region) is encoded in the url. So let's assume the user is on `http://localhost:3000/de-DE/my-sub-page`. Via auto redirect he/she ends up on this very page again af

[2021-03-04 15:42] tnorling commented on #3092
@svdHero Unfortunately after logout the service redirects back to the `postLogoutRedirectUri` without any additional information. When MSAL loads on a page it is not aware it is returning from a logout, it's like loading the page for the first time.

You currently have 2 options:

1. Explicitly pass the `postLogoutRedirectUri` you would like to be returned to, including locale
2. Provide a single

[2021-03-04 15:58] dwatty opened #3142 "Current Status of MSAL React Library"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I see that the MSAL React library is now tagged as beta/pre-release as of March 3, 2021.  The

[2021-03-04 16:32] Nikolay-Uvarov opened #3143 "How to send a request when the user is not authorized?"
## Library
- [x] `@azure/msal@1.0.0`

## Description

How to send a request when the **user is not authorized**? I want to send API call to /lead/createLead without authorization.

I am always getting error:
**core.js:6228 ERROR ClientAuthError: User login is required. For silent calls, request must contain either sid or login_hint**

Configuration(AuthenticationModule is imported to AppModule):
[

[2021-03-04 16:53] pkanher617 commented on #3143
[code]

Setting the scope to null should work. Could you provide some verbose-level logs showing what happens when you set it to `null`?

[2021-03-04 16:56] pkanher617 commented on #3141
@VladBozhinovski Could you upgrade to the latest version of `msal-angular` and `msal-browser` (if you are just using `msal-angular`, you can upgrade to the latest beta version)?

Also make sure you read through [these docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) to make sure the redirect is being handled correctly. Yo

[2021-03-04 17:23] Nikolay-Uvarov commented on #3143
@pkanher617

- "Thu, 04 Mar 2021 17:10:03 GMT:xxxxx-1.3.1-Info unprotectedResources is deprecated and ignored. msalAngularConfig.protectedResourceMap now supports glob patterns"
- "Thu, 04 Mar 2021 17:10:40 GMT:xxxxx-1.3.1-Verbose Url: /api/lead/createLead maps to scopes: <GUID>"
- "Thu, 04 Mar 2021 17:13:05 GMT:xxxxx-1.3.1-Info User login is required"
- "Thu, 04 Mar 2021 17:13:54 GMT:xxxxxt-1.3.1

[2021-03-04 17:31] tnorling commented on #3143
@Nikolay-Uvarov Can you try using the relative path: `['/api/lead', null]`

[2021-03-04 18:20] svdHero commented on #3092
Ok. Thanks for clarifying.

I think I've got a good overview of the login process now. Let me know if and how I can help to improve the documentation of this, in case you see the need to do that.

[2021-03-04 18:33] Nikolay-Uvarov commented on #3143
Thanks, It works now.

[2021-03-04 18:33] #3143 closed

[2021-03-04 18:42] pkanher617 commented on #3127
As I said, in the `silent-flow` sample you should use the ConfidentialClientApplication constructor instead of PublicClientApplication. This is because your app is a web app, not a SPA. I'm also not sure why your app was working before, it may have been a bug. However your app is a Web app, so yes, you should only use the Web platform. Which means you need to support the Confidential Client flow.

[2021-03-04 21:23] tnorling commented on #3077
@HristoStoevZ I don't seem to be able to reproduce this. Are you able to reproduce this using our [B2C sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-core-samples/VanillaJSTestApp/app/b2c)? Can you share the verbose level logs and/or do some debugging to determine what's going on here?

[2021-03-04 21:30] tnorling commented on #3090
@wy10cheng This is a consent screen which is based on the scopes you request. All users will be presented with this screen the first time they request tokens for a new scope.

[2021-03-04 21:32] tnorling commented on #3084
Closing as the question was answered. Please open a new issue if you have further questions. Thanks!

[2021-03-04 21:32] #3084 closed

[2021-03-04 23:23] tnorling commented on #3125
@dmccolloughOneGas You can take a look at our samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js)

Since the config is an object you should be able to manipulate it as needed.

[2021-03-05 00:31] #2836 closed

[2021-03-05 05:46] asynccuriosity opened #3148 "Login loop after refresh token has expired"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description
After the refresh token has expired(the cu

[2021-03-05 06:32] sidyes opened #3149 "prod build error for msal-angular in custom library"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.12.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-beta.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description
I have integrated the msal angular

[2021-03-05 07:09] kwoxer commented on #3127
Ok, I switched to `ConfidentialClientApplication `and added the `clientSecret`. And remove `SPA `platform and added a fresh `Web `platform.

But when I try to login. I still get the error message:

[2021-03-05 07:15] kwoxer commented on #3127
Ok strange, just tested **another account** and there it works:

![grafik](https://user-images.githubusercontent.com/1167229/110080298-89746e80-7d8a-11eb-9636-f332e5be4d36.png)

and just tested on the just failed account and there it now also works. Very strange, maybe cachings.

Ok so please update that silent-flow as it does not work with the `PublicClientApplication`. I think this helps a lot w

[2021-03-05 09:26] johnfabian opened #3150 "Interceptor Question / Maybe a bug"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have azure b2c and MSAL authentication is working fine and I seem to have everything configu

[2021-03-05 10:43] VladBozhinovski commented on #3141
@pkanher617 when I'm using the InteractionStatus I'm getting empty string. Please see the picture belowe
![image](https://user-images.githubusercontent.com/8876745/110104839-f1857d80-7da7-11eb-8e62-2706ee9ec880.png)

[2021-03-05 12:19] VladBozhinovski commented on #3141
@pkanher617 I have updated the packages and when I use this code below I'm getting into indefinite loop of authentication.

[code]

[2021-03-05 12:22] #3127 closed

[2021-03-05 12:29] kwoxer opened #3151 "Enable multi user access in silent-flow to be able to use server with different accounts parallel"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework
- [ ] Angular
- [ ] React
- [x] Other

## Expected behavior

Multi user access possible.

## Ident

[2021-03-05 12:55] ursmeier-mercatus commented on #3035
I tried it with the beta.0 version and still the same behaviour, so I searched some more and found the issue.
**Popup**
- The app is not reloaded, you can subscribe to LoginPopup and get a subscription result and the app runs fine.

**Redirect**
- The app is reloaded and subscribing to LoginRedirect makes no sense.
- The Url in browser shows something like localhost:4200/#state....., meaning that

[2021-03-05 13:00] architect-tarun-narang commented on #3035
Thanks for your detailed response, I will give it a try in a day or two and revert.

[2021-03-05 13:07] dmccolloughOneGas commented on #3125
Thomas,

I appreciate you taking the time to look at and respond to my question.

I have reviewed the samples you suggested and it doesn't solve my issue.

Let me explain what I’m trying to accomplish.

Our organization, wants to build / compile the code once and deploy to multiple environments without re-building / compiling the code for each environment. We want to be able to change the endpoint

[2021-03-05 14:42] AmruthaFR opened #3152 "MSAL logout requires user interaction to select account even though only one account in the list"
## Library

- [ X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

1. While trying to logout from SPA application which has msal library integrated, the user is

[2021-03-05 17:19] shsuman opened #3279 "HTTP 500 Error using function createAuthenticationContext method."
We are Azure Machine Learning - Remote extension in VSCode team. We are using your package to acquire a bearer token from refresh token which is provided to us by another extension. Specifically, we are using createAuthenticationContext(authority: string, validateAuthority?: boolean) method to create an auth context. We had set the validateAuthority parameter to true until one of our customers tod

[2021-03-05 17:43] tamilvjm opened #3153 "AADB2C90079: Clients must send a client_secret when redeeming a confidential grant"
## Library

- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-angular@2.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description

## Error Message

## MSAL Configuration

[code]

## Reproduction steps

[code]

## Expected behavior

## Identity Provider

- [ ] Azure B2C Basic Policy
- [ ] Azure B2C Custom Policy

## Browsers/Environment

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [

[2021-03-05 19:41] johnfabian commented on #3150
I figured out one configuration issue, I need to add the permission to the api in the angular application. I followed the documentation and noticed it was adding app permissions to the api instead of the angular app and I see an access token but still getting access denied with the token. Could this be an issue with trying to use localhost?

[2021-03-05 19:47] jo-arroyo commented on #3085
@eluchsinger The PathLocationStrategy should be supported by the library. The samples show the HashLocationStrategy, but you are able to turn that off or remove it from the `RouterModule.forRoot`. Are you having problems using the PathLocationStrategy with our library?

[2021-03-05 20:51] #3007 closed

[2021-03-05 22:26] jo-arroyo commented on #3141
@VladBozhinovski We do not recommend calling `loginRedirect()` in app.component.ts `ngOnInit`. Are you trying to call it there to invoke login before the home page loads? If so, we recommend setting the guard on the home page instead.

[2021-03-05 23:16] pkanher617 commented on #3152
1. Unfortunately there isn't a way to bypass the account selection screen on logout today, we are still working with the server team to find a solution for this.
2. Yes msal v2 and `msal-browser` are the same thing. I see that you are using angular code, when you refer to "v2 being ready for production" are you alluding to the msal-angular library? Or the msal-browser library? The msal-browser lib

[2021-03-05 23:19] jo-arroyo commented on #3047
@sidyes Yes, our recommendation is to add the `MsalGuard` to achieve automated login. If you want all your routes to be protected, then yes, you should add the guard to all routes. We will be updating our docs with this guidance.

[2021-03-05 23:24] pkanher617 commented on #3125
@dmccolloughOneGas I think what Thomas is alluding to here is how to do this in a non-json scenario. That is, rather than using a json file for your authConfig, you can use a script that can programmatically read environment variables.

However if your scenario requires the json file, you can either replace these values by traversing the JSON object and replacing the values in your build scripts,

[2021-03-05 23:37] pkanher617 commented on #3151
@kwoxer If you need to get all of the accounts currently tracked by msal-node, you can use the `getAllAccounts` API exposed on the token cache. However this does mean that your app has to have some way to choose or identify which account you are using. You could do this by presenting an account selection screen to the user.

`app.locals.homeAccountId` is set when the response is retrieved from `ac

[2021-03-05 23:38] pkanher617 commented on #3148
@asynccuriosity Are you calling `handleRedirectPromise` and allowing the promise to resolve before calling `acquireTokenSilent` again?

[2021-03-05 23:58] pkanher617 commented on #3150
@johnfabian Could you post some code snippets of how you are invoking acquireTokenSilent and calling the web API? Verbose-level logs would help us debug this further as well.

[2021-03-05 23:59] pkanher617 commented on #3153
@tamilvjm Could you please fill out the issue template? Thanks.

[2021-03-06 00:02] jo-arroyo commented on #3149
@sidyes There may be an issue with the node modules. Can you npm uninstall and reinstall @azure/msal-angular again?

[2021-03-06 00:30] #3014 closed

[2021-03-06 00:30] #3011 closed

[2021-03-06 00:45] danieljaguiar opened #3154 "msal-node doesn't have getAccount"
## Library

- [x] `@azure/msal-node@1.x.x`

## Description
I am not sure if this is a bug or not, I am trying to implement Microsoft Graph Client (https://www.npmjs.com/package/@microsoft/microsoft-graph-client) with msal-node, but it seems all clients inside msal-node doesn't implement getAccount.

getAccount is used by @microsoft/microsoft-graph-client and if you pass a msal client acquired from

[2021-03-06 00:58] jasonnutter commented on #3142
@dwatty We are preparing to go to public preview very soon, and the beta release was part of that process. When public preview is announced, we will have full production support. We'll have more information next week on expected public preview and GA dates. Appreciate your patience!

[2021-03-06 09:22] johnfabian commented on #3150
@pkanher617
Thank you very much for your quick response.

I'm not invoking it manually, I'm using the MSAL interceptor (@azure/msal-angular) that invokes it but I was finally able to get an access token. I had removed and added the web api back into Azure, added scope, permissions, etc then all of a sudden it started working. But now having CORS issues

[code]

I think the problem is all the examp

[2021-03-06 10:04] eluchsinger commented on #3085
@jo-arroyo I'm having the problem that after logging in, it does not redirect correctly  to the protected page I tried to access.

I am trying to adhere to the samples to avoid bugs like this, but I do not know which parts of the samples I can and which ones I can not change. The sample tells me to use HashLocationStrategy - which probably most users do not use because it is [discouraged/deprecate

[2021-03-06 11:54] johnfabian commented on #3150
@pkanher617

it looks like a .net issue and just displays CORS error because it's an error on the .net side. This is what I'm currently getting:

``
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\jfabi\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
info: Microsoft.Hos

[2021-03-06 19:17] jonhue opened #3155 "Silent authentication is denied after a redirect"
## Library

`msal@1.4.6`

## Framework

React 16

## Description

When I use the redirect flow , the `accessToken` in the response I receive from `handleRedirectCallback` is set to `null` (from #1688 I gather that this is expected).
As suggested in https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1688#issuecomment-637669135 I called `acquireTokenSilent` from within `handle

[2021-03-06 20:21] dwatty commented on #3142
Thanks @jasonnutter - I'll keep an eye out for it

[2021-03-06 20:21] #3142 closed

[2021-03-07 09:38] kwoxer commented on #3151
What you mean with account selection?

I don't usually want 1 user to use different accounts. Instead I want multiple users to use their accounts without an impact from others.

So you mean `const accounts = await msalTokenCache.getAllAccounts();`?

Yeah that gives me back the users that have been logged in at all time. But now how to get the `homeAccountId`. My idea is to set save it to a cookie

[2021-03-07 20:16] k290 opened #3156 "How does Conditional Access Policy's sign-in frequency affect msals behaviour?"
## Library

- @azure/msal-browser@2.7.0`
- @azure/msal-angular@2.0.0`

## Description
Azure AD Premium has the concept of Conditional Access Policies. As far as I can tell, when you change the sign-in frequency it doesn't affect the access token or refresh token lifetime.
Since the access token has a default lifetime of 1 hour, no matter what you set the sign-in frequency to in Azure, after 1 hour

[2021-03-08 09:18] markholst opened #3157 "postLogoutRedirectUri not working"
## Library
- [X] `msal-browser@2.12.0`

## Framework
- [X] React 17

## Description
Are there any special requirements for getting the 'postLogoutRedirectUri' to work?
It doesn't matter what value I put in there, it just leaves me on the same page I was on when the user hit the sign-out button.  Which isn't ideal, I'd like the app to redirect back to the root page.

## Error Message
N/A

## MSAL C

[2021-03-08 10:32] voloszad commented on #3119
@pkanher617 Thank you for the response. We did that in the same time. No conclusion from the support yet, but it's definitely either or a combination of the custom policy or identity server.

Still curious if there is a token endpoint error, why can't I catch it in the application with MSAL?
Currently if the root page is protected and the user tries to sign in, after redirecting back to the app th

[2021-03-08 11:44] jamesots-tq commented on #2974
Not resolved.

[2021-03-08 11:45] jamesots commented on #2974
Not resolved.

[2021-03-08 11:53] VladBozhinovski commented on #3141
@jo-arroyo MsalGuard for each route worked perfectly .  Thank you very much. I think this can be closed now.

[2021-03-08 11:53] #3141 closed

[2021-03-08 15:33] VladBozhinovski opened #3158 "HTTP interceptor for localhost api"
## Source

- [x] Customer request

## Library

- [x] `@azure/msal-browser@2.12.0`
- [x] `@azure/msal-angular@2.0.0-beta.0`

## Framework

- [x] Angular

## Description

I'm trying to call an localhost API and to attach bearer token on the header. For now I have added the localhost api route  to the protectedResourceMap but there is no bearer token inside the header. Tried to add jsonplaceholder to

[2021-03-08 17:29] drinkingjasminegreentea commented on #3113
I'm interested in the same topic. I have a front end built in nextjs and backend in ,net core web api.
Front end is using Azure ad b2c with social login. Azure is sending the IdToken that includes idp_access_token claim in it. I'm not sure if I should be sending that to my API and how will my API know which user is accessing its resource.

I need to restrict the access so users can only read the d

[2021-03-08 17:30] tnorling commented on #3155
@jonhue Can you share the code where you are calling either `loginRedirect` or `acquireTokenRedirect`, it's not shown above? `loginRedirect` is expected to always return only an idToken and not an accessToken but you should still request the scopes you need in order to handle consent. This should not prevent you from being able to acquire an access token silently as long as the scopes have been co

[2021-03-08 17:38] gabriel-kohen-by opened #3159 "about:blank popup intemitantly stays on on acquireTokenSilent/acquireTokenPopup"
Hi Folks,

I'm using the libraries with the following versions:
[code]

The config object is:
[code]
Post logout redirect URL is `${window.location.origin}/` and redirectUrl is `redirectUri`
The as you can see seems to be failing intermittently. See the attached recording where all is working fine for several times until around the 50th second mark of the video the about:blank window stays hanging

[2021-03-08 17:38] #3159 closed

[2021-03-08 17:48] gabriel-kohen-by opened #3160 "about:blank popup intermittently stays on on acquireTokenSilent/acquireTokenPopup"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

React 16.4
- [ ] Angular
- [X] React
- [ ] Other

## Description
Hi Folks,

I'm using the librar

[2021-03-08 17:53] roopeshreddy commented on #3149
@jo-arroyo I see that the component is not added to the declarations array!

If we add this MsalRedirect Component to the msal.module.ts file declarations array, then it may solves this issue!

[2021-03-08 17:58] jo-arroyo commented on #3158
@VladBozhinovski It looks like you might be adding an extra array when setting your protected resource map. Please see our [configuration doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/configuration.md#factory-providers) or a [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/524c2261218ad94bf020c0194c15f

[2021-03-08 18:05] nicholashendrickx-tomtom commented on #3158
I have the same issue. I'm doing [what the msal-angular docs](https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-angular/) say, but no luck:
[code]

[2021-03-08 18:32] tnorling commented on #3160
@gabriel-kohen-by Is there any error shown in the console when it fails? Can you share how you are initializing `PublicClientApplication` and how you are invoking `loginPopup`?

[2021-03-08 18:53] gabriel-kohen-by commented on #3160
Hi, I looked and could not see any errors in the console. Just the trace messages from the MSAL library where nothing looked suspicious.
The `PublicClientApplication` us using the config above to initialize:
[code]
I login using the follows:
[code]

After I log in I issue the following logic to get access tokens. I may mention that I have few request for the access token coming in succession but a

[2021-03-08 19:03] tnorling commented on #3160
@gabriel-kohen-by

new PublicClientApplication(msalProviderConfig.msalConfig);

Is this being called inside or outside of a react component? If it's being called inside it's possible your component is being re-rendered after calling `loginPopup` but before changing the url of the popup, leaving it in a hung state. If not, can you turn on verbose logging and paste or email the logs to me?

[2021-03-08 19:43] Deymoun commented on #3122
Hi @jasonnutter thanks for your suggestions, however both MSAL.NET and MSAL Node do not expose refresh token ([proof for MSAL Node](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1234#issuecomment-506442939))
Would there be another solution than implementing [the complex solution developed by another consumer of MSAL](https://github.com/AzureAD/microsoft-authenticati

[2021-03-08 19:48] AmruthaFR commented on #3152
Thank you for responding to my queries @pkanher617.

1. I will look into the using 'msal-browser' instead of 'msal' library. Does 'msal-bowser' require 'msal-angular v2' wrapper itself? Is there any conditions like that?
2.To implement Single Sign on (SSO) between browser tabs, as mentioned i have given the following code inside the ngOninit().
[code]

I have created and published(to private repos

[2021-03-08 21:58] gabriel-kohen-by commented on #3160
The wrapper(singleton) that uses this service is called from various React components. I made sure that there is only one instance of that when the application is initialized and later on. Even if it's re-rendered it does all of it's actions through that singleton.
[code]
My application is wrapped in an AzureADWrapper which makes sure the my actual app is not rendered unless the user has logged in

[2021-03-08 21:58] tnorling commented on #3156
@k290 Thanks for raising this. This appears to have been an oversight on the server-side. I believe the server folks will address this gap. @hpsin to update status when there's something to share

cc. @nickgmicrosoft We should confirm whether or not this needs to be done in B2C as well

[2021-03-08 22:06] digitalcraftco commented on #3149
Same problem here. I'm trying to use it in a app-shell lib and get the same error. In Ivy, you cannot import a component from a library and declare it in one of your own NgModules. Instead, you should import the module from within the library which declared that component.

[2021-03-08 22:39] tnorling commented on #3160
Can you turn on verbose level logging?

Example configuration:

[code]

[2021-03-08 23:50] pkanher617 commented on #3119
The error you posted looks like it is in the format of an error object created by MSAL. Where is this error object coming from?

MSAL should be throwing the error in `handleRedirectPromise`, so you should be able to surround this with a `try/catch` or using a `.catch` block on the promise returned from this API. If you aren't seeing a ServerError coming from this we can investigate it.

If we aren

[2021-03-09 04:32] deepti1805 opened #3169 "Unhandled Promise rejection: endpoints_resolution_error in Firefox"
## Library

- [x] `@azure/msal-browser@2.x.x`

## Framework

- [ ] Angular
- [ ] React
- [ ] Other

## Description
When we try to login from Firefox we are getting Unhandled Promise rejection: endpoints_resolution_error error. It is working as expected in Chrome.

## Error Message

Unhandled Promise rejection: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and

[2021-03-09 06:51] jonhue commented on #3155
@tnorling This is the code I use for the redirect:

[code]

The scopes are the same as in the silent request. This request does return an `idToken`, so that part works.
You can see the entire auth code in https://github.com/jonhue/plaain/blob/main/src/services/auth/OneDrive.ts.

The way it works is that before redirecting to the external login, it stores some state. So that when the redirect retur

[2021-03-09 08:21] VladBozhinovski commented on #3158
@jo-arroyo I checked many time and it seems like everything on the code side is fine. Please correct me if I'm wrong.

Please see the picture:
![image](https://user-images.githubusercontent.com/8876745/110440090-91008400-80b8-11eb-96cf-2051afcfb7be.png)

When I console.log the protectedResourceMap I'm getting:
![image](https://user-images.githubusercontent.com/8876745/110440213-b5f4f700-80b8-11eb-

[2021-03-09 16:11] McInnesIan commented on #3046
Still open because it has not been fixed, in MSALInterceptor compare the clientid with the tokens aud

[2021-03-09 17:17] LexLuengas opened #3171 "Redirect loop after "invalid_grant" during token request"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-beta.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description

When a token request fails due to

[2021-03-09 17:20] McInnesIan opened #3172 "MSALGuard Does Not Validate Token Audiance"
## Library
@azure/msal-angular 1.1.1

## Framework
Angular 11

## Description

We have multiple websites on the same domain running under Kuberneties with SSO, when we switch between websites the token is not refreshed and it tries to use the same token, probably as they are in the same domain, for example

test.xx.yy/webapp1
test.xx.yy/webapp2

The Azure clientids are different for both websites

[2021-03-09 18:02] levalencia opened #3173 "Question: The reply URL specified in the request does not match the reply URLs configured for the application:"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.12.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

My app.tsx is like this:

[code]

My index.tsx is like this:

[code]

I created the app regis

[2021-03-09 18:15] jo-arroyo commented on #3171
@LexLuengas Are you able to provide the code you are using in your app.component.ts? Also, are you using the MsalRedirectComponent?

[2021-03-09 18:18] tnorling commented on #3160
@gabriel-kohen-by Thanks. I'm not seeing anything unexpected in the logs. I rewatched the video you shared and it appears when this happens the popup operation succeeds, the popup closes and a new popup is opened right away and it's this 2nd popup that hangs. I didn't see any indication in the logs of this 2nd popup being opened by MSAL. Can you confirm that the login succeeds when this behavior m

[2021-03-09 18:22] tnorling commented on #3173
@levalencia Are you initiating login from a page that is not `https://localhost:3000`? Msal will default to using the current page as `redirectUri` if one is not provided in the configuration and this error will be thrown if that url is not registered.

You can try explicitly providing the redirectUri in your configuration:

[code]

[2021-03-09 18:26] tnorling commented on #3153
Closing as no information has been provided to understand what this is about. Please open a new issue if you still need help.

[2021-03-09 18:26] #3153 closed

[2021-03-09 18:27] levalencia commented on #3173
I was able to fix and it has nothing to do with MSAL.

The problem is by default the app starts with htttp not https

So I added this in package.json

    "start": "HTTPS=true react-scripts start",

It works perfectly fine,

[2021-03-09 18:27] #3173 closed

[2021-03-09 19:04] johnfabian commented on #3150
My entire issue was Kestrel. As soon as I switched to using IISExpress everything worked. Unreal.

[2021-03-09 19:04] #3150 closed

[2021-03-09 20:47] VladBozhinovski commented on #3158
@jo-arroyo Any suggestion?

[2021-03-09 20:52] TiagoPereira06 opened #3175 "Outdated react wrapper library version"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [x] README file
- [ ] Other (p

[2021-03-09 21:30] tnorling commented on #2978
@smahajan1989 Can you clarify why you want to set `navigateToLoginRequestUrl: false`? This scenario is precisely what that flag is for. If you absolutely must do it manually, you can provide the url in the `state` parameter on the request which will be returned back to you in the response.

Rough example:

[code]

[2021-03-09 21:33] akshaybabloo commented on #3042
@jo-arroyo has #3072 merged into the current beta.0?

[2021-03-09 21:37] BarishSarac opened #3176 "First acquireTokenSilent Is Not Extending The Session"
Description:
All of my API calls follow same pattern of calling acquireTokenSilent to get token then utilizing that to call APIs. Each time I call API, I utilize acquireTokenPossibly then that utilizes aquireToken. acquireTokenPossibly  will send in forceRefresh true if user has less than 30 minutes left to their session. Problem is, even when forceRefresh set to true it takes 2 try to get the ses

[2021-03-09 22:53] jo-arroyo commented on #3042
@akshaybabloo #3072 has been released with `@azure/msal-browser@2.12.0`, which was released last week. Please give it a try and let us know how it goes.

[2021-03-09 23:02] akshaybabloo commented on #3042
@jo-arroyo that fixed it. Thanks for your help.

[2021-03-10 00:31] jo-arroyo commented on #3158
@VladBozhinovski Can you try using `/add/` or `add/` in your protectedResourceMap? Sometimes the relative url will work. We are looking into ways to more gracefully handle that scenario.

[2021-03-10 00:35] tnorling commented on #3175
@TiagoPereira06 Thanks for pointing out this miss, linked PR will address. For any future issues like this, PRs are also welcome!

[2021-03-10 00:58] jo-arroyo commented on #3085
@eluchsinger Thank you for your feedback regarding our samples. As we aim to provide samples that cover a wide range of use cases, we will look into updating our samples to demonstrate using the PathLocationStrategy as well as the HashLocationStrategy. We are also currently working on improving our documentation with better guidance regarding the nuances of using each strategy.

In the meantime, i

[2021-03-10 02:57] deepti1805 commented on #3169
@tnorling I am still getting this error-

Unhandled Promise rejection: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_config_error: Could not retrieve endpoints. Check your authority and verify the .well-known/openid-configuration endpoint returns the required endpoints. Attempted to retrieve endpoints from: https

[2021-03-10 04:21] shamprasadrh opened #3178 "Using MSAL in SPA that has multiple React apps"
## Library

- [X] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I have a React App that has two apps on same page. The second one is injected as widget like a

[2021-03-10 07:14] LexLuengas commented on #3171
@jo-arroyo I am not using the MsalRedirectComponent.

app.component.ts
[code]

app.component.html
[code]

[2021-03-10 08:19] VladBozhinovski commented on #3158
@jo-arroyo This worked like a charm. Will give a try when app is hosted and let you know if everything works so we can close this issue. Thank you @jo-arroyo

[2021-03-10 09:25] McInnesIan commented on #3172
I have written our own guard to fix the issue, but MSALGuard should do this

import { Injectable, Inject } from '@angular/core';
import { CanActivate} from '@angular/router';
import { MsalService } from '@azure/msal-angular';

import { IClientConfig }
  from '../interfaces/client-config.interface';

@Injectable({
  providedIn: 'root'
})
export class AudianceGuard implements CanActivate {

  constr

[2021-03-10 11:20] brugh opened #3179 "Logging in with a live account fails when requesting consent with invalid_request: The provided request must include a 'client_id' input parameter."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.12.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-beta.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular@11.2.4
- [ ] React
- [ ] Other

## Description
Trying to log in to an appl

[2021-03-10 11:51] BozidarPolic opened #3180 "Angular app stays on white page when AADB2C90091 error is returned from B2C"
## Library

- [X] `@azure/msal-browser@2.12.0`
- [X] `@azure/msal-angular@2.0.0-beta.0`

## Framework

- [X] Angular 10

## Description
When clicking on cancel button in Password reset flow b2c returns AADB2C90091 | User cancellation error.
Angular app stays on white page after redirect.
Using PathLocationStrategy ( useHash: false,) and setting HomeComponent under MsalGuard
` {
    path: '',
    c

[2021-03-10 13:08] HristoStoevZ opened #3181 "400 (Bad Request) on Login, AADB2C90079: Clients must"
## Library
- [x] `@azure/msal-browser@2.12.0`

## Framework
- [x] React

## Description
We are trying to migrate from msal 1.2.2 to @azure/msal-browser. We have b2c configuration which works fine with msal 1.2.2, but it constantly gets  "AADB2C90079: Clients must send..." after we are returned from the login page.

What I noticed during the investigation of this issue is that msal 1.2.2 and msal-b

[2021-03-10 14:11] gsandeepya opened #3182 "ERROR Error: Uncaught (in promise): BrowserAuthError: interaction_in_progress: Interaction is currently in progress. Please ensure that this interaction has been completed before calling an interactive API."
"@azure/msal-angular": "^2.0.0-beta.0",
    "@azure/msal-browser": "^2.12.0",

export function MSALInstanceFactory(): IPublicClientApplication {
  return new PublicClientApplication({
    auth: {
      clientId: webConfig.clientId,
      authority: webConfig.authority,
      redirectUri: window.location.origin + webConfig.redirectUri,
      postLogoutRedirectUri: window.location.origin + webConfig

[2021-03-10 14:11] #3182 closed

[2021-03-10 17:04] #3175 closed

[2021-03-10 17:12] tnorling commented on #3155
@jonhue You can look through the [fiddler docs](https://docs.telerik.com/fiddler-everywhere/get-started/capture-traffic?_ga=2.19743421.420863131.1615395887-1270054995.1615395887) or use any network traffic capture software you're more familiar with.

3rd party cookies are required for silent token acquisition in msal.js 1.x. If you need to support Safari I would highly recommend moving to msal-bro

[2021-03-10 17:16] tnorling commented on #3169
@deepti1805 Can you try opening the url in the error message in a new tab in your firefox browser? Can you confirm that it opens a page with a json structure similar to: https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

[2021-03-10 17:25] tnorling commented on #3179
@brugh Can you send us a network trace with this behavior? Email is on my profile, thanks!

[2021-03-10 17:29] tnorling commented on #3181
@HristoStoevZ Please check your app registration in the Azure Portal and make sure your redirectUri is registered as type "SPA"

[2021-03-10 18:05] jo-arroyo commented on #3158
@nicholashendrickx-tomtom It looks like you may be referencing the `@azure/msal-angular@1` docs. Please see our updated [initialization](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/initialization.md#get-tokens-for-web-api-calls) and [configuration](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angu

[2021-03-10 18:07] jo-arroyo commented on #3171
@LexLuengas We do not recommend calling `handleRedirectObservable()` in the app.component.ts, as this does seem to cause looping. Please see our [redirect doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) for our guidance for redirects, both with and without the `MsalRedirectComponent`.

[2021-03-10 18:10] deepti1805 commented on #3169
@tnorling It seems to be similar structure.

[2021-03-10 18:34] tnorling commented on #3169
@deepti1805 I followed the repro steps you shared above and I'm seeing in the network tab your app is making 2 simultaneous calls to loginRedirect. One request appears to be cancelling the other which is resulting in the error you're seeing. Can you try to determine why your app is calling loginRedirect multiple times?

[2021-03-10 18:55] vinusorout commented on #1665
This can be achieved easily using the Factory providers with APP_INITIALIZER, check following repo https://github.com/vinusorout/msal-angular-dynamic-configuration-sample

[2021-03-10 19:02] LexLuengas commented on #3171
Thanks. In the meantime I have cleared my app‘s localStorage, so I cannot reproduce the issue anymore. I have preemptively switched to the MsalRedirectComponent pattern as you pointed out. I will report back or create a new issue if the redirection problem reappears.

[2021-03-10 19:05] tnorling commented on #3172
@McInnesIan Thanks for bringing this to our attention. This does appear to be a bug in our core 1.x library, I will try to have a fix shortly.

[2021-03-10 19:50] tnorling commented on #3178
@shamprasadrh Are both apps using the same clientId or different ones? Also it looks like this is happening when you call `acquireTokenSilent`. Can you confirm? Code snippets showing what you're trying to do when this error occurs would be helpful. If this is happening when calling `acquireTokenSilent` I would suggest setting your redirectUri to a blank page that does not implement msal for the si

[2021-03-10 19:50] vlafranca commented on #1665
Yes they bring this feature with MSAL 2.

On Wed, Mar 10, 2021 at 1:55 PM Vinay Sorout <notifications@github.com>
wrote:

[2021-03-10 19:56] vinusorout commented on #1665
No, It was also working with MSAL 1.x too, check following https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1403

[2021-03-11 00:22] gabriel-kohen-by commented on #3160
The login when we open it for the second tab (or 5th etc) uses the silent SSO login because it's already successfully logged in in the first tab.
I can tell we successfully logged in in each of those because the app is already using access token possible only if the login was successful. Not to mention we get a valid token ID.
As you saw some of of our React code I've based it on a the B2C sample

[2021-03-11 00:31] #3034 closed

[2021-03-11 00:31] #2860 closed

[2021-03-11 00:56] BarishSarac opened #3187 "First acquireTokenSilent Is Not Extending The Session"
## Library

- [x] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React 16.14.0
- [ ] Other

## Description
All of my API calls follow same pa

[2021-03-11 01:12] tnorling commented on #3160
@gabriel-kohen-by I'm confused. Are you saying you don't expect to see a popup at all due to ssoSilent? That would be a different issue entirely? What I observed in the video (and please correct me if it's incorrect):

1. Load app in tab 2, user is unauthenticated in top frame
2. Call loginPopup
3. Sign in succeeds and closes popup
4. User is authenticated in top frame
5. A 2nd popup is opened to

[2021-03-11 02:56] gabriel-kohen-by commented on #3160
Sorry I misspoke about the SSO. I meant that in the second (and on) tab there is no interactive login anymore which seems because MSAL already know it's already logged in.
As mentioned the redirectUrl msalConfig values are always:
[code]

I thought that's what I've seen the the dev samples. Is that incorrect?

[2021-03-11 02:58] amrutha95 opened #3189 "Request for documentation/samples to handle multiple accounts and account switching"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other (p

[2021-03-11 03:10] derisen opened #3190 "MsalInterceptor not acquiring tokens when endpoint contains query parameters"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ x ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ x ] Angular 11
- [ ] React
- [ ] Other

## Description
Some web API endpoints contain quer

[2021-03-11 03:10] #3190 closed

[2021-03-11 03:13] derisen opened #3191 "MsalInterceptor not acquiring tokens when endpoint contains query parameters"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ x ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ x ] Angular 11
- [ ] React
- [ ] Other

## Description
Some web API endpoints contain quer

[2021-03-11 03:14] asynccuriosity commented on #3148
Hi @pkanher617 adding the following to the top of our auth-guard fixed the issue.
[code]
There was an instance when the user was already logged in, the code would not wait for the handleRedirectObservable to complete and call for the token.

Thank you for your help. You can consider this issue resolved.

[2021-03-11 03:14] #3148 closed

[2021-03-11 03:16] #3191 closed

[2021-03-11 03:19] derisen opened #3192 "MsalInterceptor not acquiring tokens when endpoint contains query parameters"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [x] `@azure/msal-angular@2.0.0-beta.0`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular 11
- [ ] React
- [ ] Other

## Description
Some web API endpoints contain q

[2021-03-11 03:48] shamprasadrh commented on #3178
@tnorling Thanks for the response. Both apps are using different app ids. Issue actually happens during `acquireTokenSilent` call for getting the API tokens.

Below is the code to get the token

[code]
We are planning to upgrade to `msal-browser@2.12.0`, is it ok that we do it incrementally APP1 first and then APP2 ? or it will cause any conflict?

As a workaround we are acquiring the token immedi

[2021-03-11 09:15] knoefel opened #3194 "React: useMsalAuthentication hook uses wrong InteractionType after token is expired"
## Library

- [x] `@azure/msal-browser@2.12.0`
- [x] `@azure/msal-react@1.0.0-beta.0`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
When using the `useMsalAuthentication` hook after the token expired, the wrong InteractionType is used. I'm using the `InteractionType.Redirect` type and everything works fine, if i log in for the first time (or i logged out successfully before)

[2021-03-11 16:43] tnorling commented on #3160
The server already knows you're logged in. If you're using session storage MSAL does not know you are logged in until you ask the server, which is what the popup is doing and why it doesnt ask for creds.

The `redirectUri` can be whatever you like, it's not for me to say it's correct or incorrect.

It may be useful to understand how the auth flow works:

1. Call loginPopup
2. Popup navigates to AA

[2021-03-11 16:43] dmccolloughOneGas opened #3195 "PKCE Error with MSAL and Angular App"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-alpha.6`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
We have a Angular 10 application that we have developed that is using MSAL.

We are in

[2021-03-11 17:03] tnorling commented on #3194
@knoefel The `useMsalAuthentication` hook should not be invoking login when tokens expire. It's a one time deal unless you're logging out or clearing cache in between. Do you have any other code somewhere else that may be invoking `loginPopup` or `acquireTokenPopup`?

[2021-03-11 17:16] dmccolloughOneGas commented on #3195
Ok, this is a load balancing issue on our part. if the user goes to port 80 you get the error, if they go to port 443 (SSL) it works fine.

[2021-03-11 17:16] #3195 closed

[2021-03-11 17:17] tnorling commented on #3178
@shamprasadrh Yes you should be able to incrementally update 1 app at a time, token cache should not conflict between the two.

I would still suggest first trying to set your redirectUri to a blank page for the silent and popup calls as we've seen this fix other odd issues. I think what may be happening here is that one app is clearing local/session storage for both apps resulting in a mismatch fo

[2021-03-11 17:28] tnorling commented on #3187
@BarishSarac Can you provide MSAL verbose logs and also confirm that the first request is indeed passing forceRefresh?

[2021-03-11 18:15] jasonnutter commented on #3192
@derisen Thanks Dogan. @jo-arroyo can you take a look into this when you have a chance?

[2021-03-11 18:16] jasonnutter commented on #3192
Worth pointing out that wildcards can be used as a mitigation, but that shouldn't be required if the query parameters are hard-coded in each request.

[2021-03-11 18:26] jasonnutter commented on #3189
@amrutha95 Thanks, we'll make sure to get this documentation added.

[2021-03-11 19:36] tnorling commented on #3139
@johnfabian Just to confirm, did you clear localStorage after switching to sessionStorage?

[2021-03-11 19:42] tnorling commented on #3070
Closing as this doesn't appear to be a problem with the library. Please open a new issue if you determine there is any action we need to take, thanks!

[2021-03-11 19:42] #3070 closed

[2021-03-11 20:00] tnorling commented on #3171
Closing as this appears to have been solved. Please open a new issue if you continue to experience issues, thanks!

[2021-03-11 20:00] #3171 closed

[2021-03-11 20:39] vinizinmoraes-concrete commented on #2934
There is any tutorial to show how to accomplish it using a custom user flow ? My user flow need to be changed in a xml way, but I don`t know how to do it.

[2021-03-11 21:01] tnorling commented on #2934
@vinizinmoraes-concrete You should open a ticket with the B2C service and they should be able to help you configure your user flow.

As the original question has been answered I'm going to go ahead and close this issue. Please open a new issue if you have additional non-service related questions, thanks!

[2021-03-11 21:01] #2934 closed

[2021-03-11 21:11] BarishSarac commented on #3187
So to quickly do this test, I set the session length in azure to be 31 minutes, and I have a module called IdleCheck, it checks if user's session is expired every second, when the session had 28 minutes left I made it open up a popup with a button on it. The button does the acquireTokenSilent call with forceRefresh set to true. First time I clicked, I got same 28 minute left result. Then I clicked

[2021-03-11 21:51] tnorling commented on #3187
@BarishSarac I'm seeing in the log that it did skip the cache due to `forceRefresh` and went to the network for a new token. Can you email me a network trace so I can examine what the server is sending back?

Also as a side note, can you explain why you are polling every second to force a refresh? The library has a built in mechanism to ensure you always have a valid token and the offset time is c

[2021-03-11 22:17] #3149 closed

[2021-03-11 22:19] jo-arroyo commented on #3149
Thank you for all the contributions! The PR addressing this issue has been merged and will be part of the next MSAL Angular release. Please open a new issue if you are still encountering this problem.

[2021-03-11 23:15] tnorling commented on #2628
Closing due to inactivity. Please open a new issue if this is still happening on the latest versions, thanks!

[2021-03-11 23:15] #2628 closed

[2021-03-12 00:11] HannahZhuSWE opened #3197 "Testing with @azure/msal-react AuthenticatedTemplate and UnauthenticatedTemplate"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.0.0-alpha.6`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

I was wondering if I could get some guidance on how I could use jest to test component

[2021-03-12 00:26] BarishSarac commented on #3187
@tnorling Sure, done. So what happens is that IdleCheck checks if user is active or not utilizing this package (https://www.npmjs.com/package/react-idle-timer). It does this check by `let ExpirationTime
 = msalApp.getAccount().idToken.exp` this then once it gets the time, it compares by `Math.round( (ExpirationTime - Math.round(Date.now() / 1000)) / 60 )`. This way we know each second how long use

[2021-03-12 00:31] #3032 closed

[2021-03-12 00:31] #2991 closed

[2021-03-12 00:31] #2979 closed

[2021-03-12 00:31] #2896 closed

[2021-03-12 00:44] tnorling commented on #3197
@HannahZhuSWE You can take a look at our react unit tests [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-react/test/components) for examples

[2021-03-12 01:07] HannahZhuSWE commented on #3197
Thank you!

[2021-03-12 01:07] #3197 closed

[2021-03-12 02:16] markholst commented on #3126
Hi Thomas,

The issue occurs consistently in Edge, Firefox, Opera and Chrome.

Chrome 89
Edge 89
Opera 74
Firefox 84

Confirmed using @azure/msal-browser 2.12.0

It's almost like the browsers 'go to sleep' when minimised.

I can certainly have a try a confirming through a sample, it might take a few days to find the time.  I'll let you know as soon as I can.

Cheers,
Mark

From: Thomas Norling ***

[2021-03-12 03:18] shamprasadrh commented on #3178
@tnorling Thanks for the response. I will give it a try. Do you have any example where blank page is implemented?

[2021-03-12 04:12] deepti1805 commented on #3169
@tnorling ok I got your point but still we can see this issue is firefox only. This is working absolutely correct in Chrome.

[2021-03-12 10:43] knoefel commented on #3194
I'm not sure if I understood your comment, or the first sentence correctly. I understood that `useMsalAuthentication` checks if the token has expired and if so, automatically redirects to the login page. So actually the same workflow as when the page is initially called, if the user is not logged in yet. So what I don't understand is why a popup is then opened if the token has expired.

I looked i

[2021-03-12 10:51] janusch opened #3198 "Improve documentation for redirects in msal-react"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [X ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [X ] MSAL.js Github Wiki
- [ ] README file
- [ ] Other

[2021-03-12 11:54] knoefel commented on #3194
While updating the comment with additional info right now, i just checked that i had indeed used the `acquireTokenPopup` method. 🙈 But it's still very strange, because this part of the code is not actually called yet.
One other question: I noticed that there are multiple calls to the AD endpoint while the page is loading:
<img width="477" alt="Screenshot 2021-03-12 at 12 51 09" src="https://user-i

[2021-03-12 13:05] brugh commented on #3179
@tnorling I sent you a mail with a network trace. The URLs in there are showing a client_id in the queryparams so something's wrong when the consent question should popup because the error says the client_id is missing. hope you can make sense of it

[2021-03-12 16:10] IIrafail opened #3199 "Cannot use FilePersistence with msal electron application."
I want to create a persistent login in my electron application. I followed the  guide [here](https://docs.microsoft.com/en-us/graph/toolkit/get-started/build-an-electron-app) and my app works but I wave to login each time I restart.
So I used the msal extensions for node. I created a plugin using [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/extensions/docs/msa

[2021-03-12 16:10] #3199 closed

[2021-03-12 16:16] IIrafail opened #3200 "Webpack error with msal extensions for node in electron."
## Library

- [ ] `@azure/msal-node-extensions`

## Description
I want to create a persistent login in my electron application. I followed the  guide [here](https://docs.microsoft.com/en-us/graph/toolkit/get-started/build-an-electron-app) and my app works but I wave to login each time I restart.
So I used the msal extensions for node. I created a plugin using [this](https://github.com/AzureAD/micr

[2021-03-12 16:29] IIrafail commented on #3200
Just realized it has to do with webpack. Here is my webpack.config.js that I got from the aforementioned microsoft guide.
[code]
Does anyone know what I need to add so that it may work?

[2021-03-12 16:43] tnorling commented on #3178
@shamprasadrh We do not, however, you can just create a `blank.html` page and set that as the redirectUri. Just make sure this redirectUri is registered in the Portal.

For example:
[code]

Setting a blank page as redirectUri for silent and popup calls is still a great idea in msal-browser, however, I do not expect your scenario to cause issues in msal-browser.

[2021-03-12 16:47] tnorling commented on #3169
@deepti1805 Even in chrome I am seeing your app make 2 calls. The timing between Chrome and Firefox may be slightly different which is why you're seeing the error in Firefox but not Chrome. In Chrome you'll see a cancelled /authorize call instead of the /openid-configuration call. The cancelled /authorize call does not throw an error because it's a redirect and the 2nd one causes the page to leave

[2021-03-12 16:59] tnorling commented on #3194
@knoefel

`useMsalAuthentication` does **not** check token expiration. Once a user is logged in an account object is stored in browser storage which is what msal uses to determine if a user is logged in or not. This account object does not have an expiration and will remain until removed by either calling logout or clearing local/session storage.

This endpoint you show should only be called one t

[2021-03-12 17:04] deepti1805 commented on #3169
@tnorling Thanks for your information. I am working on it.

[2021-03-12 17:11] tnorling commented on #3198
@janusch Thanks for the feedback. We agree the redirect flow can be better documented and we have an item on our backlog to do so. If you can state what is confusing for you or is not working I can try to help get you the clarity you need in the meantime.

Generally speaking, most of the heavy lifting is done under the hood in `msal-react`. We abstract away from you all the messy bits so you can j

[2021-03-12 18:14] AshTappin opened #3201 "React Web App - reset password B2C not working with MsalAuthenticationTemplate"
## Library

- [@azure/msal-browser@2.12.0] `msal@1.x.x` or `@azure/msal@1.x.x`
- [@azure/msal-react@1.0.0-beta.0] `@azure/msal-react@1.x.x`

## Description

We are currently using this library to implement the Azure B2C reset password flow in our react app. We downloaded the sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/b2c-sam

[2021-03-12 18:58] thoo1 commented on #3022
Hi, wondering if there was any traction on this task? The reason I ask is because our app makes parallel calls to acquireTokenSilent and it is hard to figure out which log from msal corresponds to which call to acquireTokenSilent (the logs dont have correlationId)

[2021-03-12 19:15] sameerag commented on #2828
I followed up on this and there is a library wide effort we want to make to standardize persistence for web apps (distributed cache). We are not yet clear on the timelines though. We will reach out once this feature gets the green, please watch out our roadmap for the announcement.

[2021-03-12 19:48] georgejdli commented on #3194
How do you check for refresh token expiration then? Does useMsalAuthentication return an error we can key off of?

[2021-03-12 20:06] dopsonbr opened #3204 "How to pass custom parameters during token exchange?"
## Library

- [] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How do I pass custom parameters to the token request? I have a use case where I need to pass a

[2021-03-12 20:22] georgejdli commented on #3087
For my use case at least I would like to show the user a login prompt (with a message telling them popup blockers should be disabled) if they aren't signed in or of their token (or refresh token) has expired

[2021-03-12 20:50] tnorling commented on #3201
@AshTappin Thanks for raising this. This appears to be a bug in our sample. The issue in this case is that when you return from the password reset policy B2C is giving you an idToken, accessToken and refreshToken from the forgotPassword policy. These tokens cannot be used for any other policy. If you attempt to call `acquireTokenSilent` to acquire tokens from your sign-in policy but provide the re

[2021-03-12 20:52] tnorling commented on #3204
@dopsonbr We currently do not support this, but this is something we've been wanting to add and is currently sitting on the backlog. PRs are always welcome!

[2021-03-12 20:56] tnorling commented on #3022
@thoo1 We haven't had a chance to look into this yet but PRs are always welcome if you'd like to take a stab at it yourself.

[2021-03-12 21:06] dopsonbr commented on #3204
Have you had any preliminary design talks or advice on what the implementation should look like? I can see this being done a few different ways.

[2021-03-12 21:18] tnorling commented on #3204
There's prior art with `extraQueryParameters` which is attached to the /authorize call. You can try to mimic that and call it `tokenQueryParameters` or something along those lines

[2021-03-12 21:23] georgejdli commented on #3194
How do you check for token expiration then? If useMsalAuthentication finds an account object stored in browser storage and it no attempt to log the user in how do I know to trigger a popup login?

[2021-03-12 21:29] dopsonbr commented on #3204
thanks. I'll take a look

[2021-03-12 21:40] tnorling commented on #3194
@georgejdli You should call `acquireTokenSilent` when you need an unexpired token. It will first check the cache for unexpired tokens, then if the tokens are expired it will attempt to silently renew and if the refresh token is expired it will throw an error you can catch and fallback to `loginPopup`

[2021-03-12 22:15] AshTappin commented on #3201
Thanks @tnorling ! Will I need to call `logout` in an event handler?

[2021-03-12 22:51] r-a-y commented on #3109
This is useful information about the `offline_access` scope, @arsnyder16. Thanks for posting your workaround!

[2021-03-12 23:16] tnorling commented on #3201
Yes you should be able to do something like this:

[code]

[2021-03-13 01:25] thoo1 opened #3206 "Access token returned by PublicClientApplication.acquireTokenSilent is sometimes expired"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.11.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [X] React
- [ ] Other

## Description
This ticket is related to this #2883.
The

[2021-03-13 01:29] thoo1 commented on #3206
In the discussion in #2883, I asked why the `exp` property of the access token is not used directly, but it seems like this field is not always present. Is there a precise scenario where the `exp` field in the access token is not there?
I ask because in our application's logs, we always have this field and can read it, for a mitigation, we are thinking of just using the time represented by the `ex

[2021-03-13 01:46] thoo1 commented on #3206
if you notice the MsalTokenExpiry is Wed, 03 Mar 2021 20:29:43 GMT, which doesn't really make sense because that is about 6 hours ahead of the time the user made the request and by default, tokens are valid for at most 1 hour.
This looks to me like there is either
- a bug in the code but I can't seem to see any, it looks correct to me
- the client's clock is messed up at the time the request was m

[2021-03-13 06:33] cagricaymaz opened #3207 "Requesting token on every API call."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

MSAL requests access token on every backend API call. I have seen similar topics but I couldn'

[2021-03-13 11:04] ccosmincc opened #3208 "Node: AccountUserInfo.idTokenClaims is undefined when deserializing from cache"
## Library
- [x] `@azure/msal-node@1.0.1`

## Framework
- [X] Electron

## Description
I'm following the Msal Electron Node sample ([link](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/67ab72d3b76f1e2c98bc2b1a36c73934c74b0a38/samples/msal-node-samples/standalone-samples/ElectronTestApp))  and I would like to read the user roles (`authProvider.currentAccount.idTokenClaims.

[2021-03-13 14:12] AshTappin commented on #3201
That has worked for me (in our case the policy is stored on the tfp claim). Thank you!

[2021-03-13 15:33] knoefel commented on #3194
@tnorling Thanks for the clarification!!

I was able to recreate that when the user logged in and then the token expired, the `<AuthenticatedTemplate>` is still rendered. It is only when an API call is made and this causes the method `acquireTokenSilent` to execute that the redirect occurs. This is a bit unpleasant as it makes a part of the application visible for a short time. To prevent this I w

[2021-03-13 18:39] goldylucks commented on #3118
not a requirement, just better UX :)

[2021-03-14 01:39] georgejdli commented on #3194
@tnorling
That doesn't seem to work. I have a tab open longer then 24 hours to the refresh token has expired. I call `acquireTokenSilent` to get an unexpired token but it seems to just pull the token from the cache instead of going out to Azure. `acquireTokenSilent` ends up return the expired token in cache instead of throwing an error. I guess this is more of a msal-browser bug?

[2021-03-14 09:53] hrazmsft opened #3209 "Syntax error in README file"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Documentation location

- [ ] docs.microsoft.com
- [ ] MSAL.js Github Wiki
- [x] README file
- [ ] Other (p

[2021-03-14 14:50] badsyntax opened #3210 "Reduce bundle size"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

How can I reduce the bundle size of `@azure/msal-browser`? As seen in the screenshot below, th

[2021-03-15 08:42] thatham opened #3211 "ERROR TypeError: this.instance.initializeWrapperLibrary"
Description:
I'm getting "core.js:6140 ERROR TypeError: this.instance.initializeWrapperLibrary is not a function" when using angular version 11.2.5. But, its working fine with "https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-sample-app". Please advise

Code:
`import { BrowserModule } from '@angular/platform-browser';
import { Ng

[2021-03-15 08:42] #3211 closed

[2021-03-15 09:01] janusch commented on #3198
Thank you @tnorling for the clarification!

I got it working and it was as you state very straight forward, once I had figured it out. It was literally exchanging popup with redirect like this: `instance.popupRedirect(loginRequest)` becomes `instance.loginRedirect(loginRequest)`

You say that each example in the react samples implements the redirect flow. I cannot find that. Initially i was greppi

[2021-03-15 09:10] AshTappin commented on #3201
@tnorling The issue that you mentioned about the tokens returned from the reset password policy not being valid for sign in (or another policy), is that an intended feature of B2C or is it a bug?

[2021-03-15 09:26] joshwilson00 commented on #3113
I am also interested in the same topic, I am looking at using react for the front end and have an express or koa backend for example, not sure if i should go all the authentication on the front end and send the bearer token to the backend to make the requests, or how to do the authentication on the backend with a react front end.

[2021-03-15 10:30] thatham opened #3212 "ERROR TypeError: this.instance.initializeWrapperLibrary"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [x] Angular
- [ ] React
- [ ] Other

## Description

## Error Message
Error Message:
core.js:6

[2021-03-15 10:31] devInterests commented on #3207
I had the same issue. In my case it was with msal version 2.x.
The problem was the scope. The answer had a different scope than that which had been requested.
In this case, no token is found in the cache for the requested scope and a new token is requested.
So check if the response contains a token for your requested scope.

[2021-03-15 12:14] architect-tarun-narang commented on #3035
InteractionType.PopUp worked fine and afterwards this error did not appear.
Thanks

[2021-03-15 14:02] devInterests opened #3213 "How to handle page reload with authorization code flow"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Hello,
we have currently updated to authorization code flow with msal 2.x. Login and acquireTok

[2021-03-15 16:16] tnorling commented on #3213
@devInterests `handleRedirectPromise` will only receive a response after returning from a redirect, not on every page load. Your workaround of calling `getAllAccounts` is the suggested solution. Alternatively you can include this logic inside `handleRedirectPromise` in an else condition, which is demonstrated in our samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/

[2021-03-15 16:17] tnorling commented on #3212
@thatham What versions of `msal-angular` and `msal-browser` are you using? Please make sure you're using the latest: `msal-angular@2.0.0-beta.0` and `msal-browser@2.12.0`

[2021-03-15 16:19] Msimoneau commented on #3053
Hi @jo-arroyo

I've the same error with both angular10-sample-app and angular11-sample-app sample applications.
These samples are working fine, but their tests (in app.component.spec.ts) failed.

Thank you.

[2021-03-15 16:37] tnorling commented on #3207
@cagricaymaz Can you share your usage where you make your token and API call? `acquireTokenSilent` does lookup tokens in the cache first before making a network request. Enabling verbose logs would also be helpful here. [Instructions for enabling logs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md)

[2021-03-15 16:50] tnorling commented on #3206
@thoo1 Network logs would be useful here. The AAD server should always send back an `expires_in` property with the value 3599 (60 minutes) and the `exp` claim on the token should be a timestamp 1hr from the time the token was requested based on the auth server's clock. If msal is returning to you a cached token and the resource server then rejects this token due to expiration that suggests the res

[2021-03-15 17:01] cagricaymaz commented on #3207
Hi, @devInterests
My token response's scope is the same as the requested scope.

![image](https://user-images.githubusercontent.com/72180303/111189834-b6d3d000-8573-11eb-9c71-b436b4ec6abf.png)

---

Hi @tnorling
Seems like in my case, I always have "msal:acquireTokenFromNetworkStart" in the logs. I actually followed the same steps in angular_v11.

![image](https://user-images.githubusercontent.com

[2021-03-15 17:03] thoo1 commented on #3206
I see, makes sense, and from reading the docs, I now understand why access tokens should be treated as opaque strings https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

I unfortunately dont have network logs since this is just from one user, I only have logs from the telemetry our app insights collects. I was able to find the AAD logs as well using LogsMiner but we can

[2021-03-15 17:04] derisen commented on #3113
@m2nhawk @drinkingjasminegreentea @joshwilson00 take a look at this sample [React SPA calling Express web API](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/tree/main/3-Authorization-II/1-call-api). You can plug-in a different web API, for instance .NET via [Angular SPA calling .NET web API](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-web

[2021-03-15 17:10] tnorling commented on #3194
@knoefel Another way to check expiration would be to use the account object using either the `useAccount` hook or one of the [get account APIs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/accounts.md). The `accountInfo` object returned will have an `idTokenClaims` member which should have the `exp` value representing expiration.

We do have an

[2021-03-15 17:15] devInterests commented on #3207
@cagricaymaz  As far as I understood, your scope in the example is ''https://xxx/Scope.Read''. But in the response the scope is  "https://..../466". So there is a token in the cache for "https://..../466" but not for ''https://xxx/Scope.Read" scope. But I am not sure about that.
However, what I did was debugging through  msal js lib. I started by acquireTokenSilent call and get inside the call sta

[2021-03-15 17:16] devInterests commented on #3213
@tnorling Thanks, will do.

[2021-03-15 17:17] #3213 closed

[2021-03-15 17:22] tnorling commented on #3198
@janusch

You'll find the redirect code in our react router sample [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8bc85a4eeab142e4fe2103530c21086e604c7564/samples/msal-react-samples/react-router-sample/src/ui-components/SignInButton.jsx#L19) and [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/8bc85a4eeab142e4fe2103530c21086e604c7564/sa

[2021-03-15 17:23] tnorling commented on #3201
@AshTappin This is by design.

[2021-03-15 17:27] tnorling commented on #3035
@architect-tarun-narang Thanks for letting us know that worked! Can this issue be closed?

@ursmeier-mercatus Thanks for the feedback, we will certainly make a note to update the docs to make this more clear.

[2021-03-15 17:36] jasonnutter commented on #1739
C

[2021-03-15 17:36] #1739 closed

[2021-03-15 17:52] knoefel commented on #3194
Ok, cool. I have read through it and it is exactly the requirement I need too. Then I hope that this feature will come. 🤞

Thanks again for your help and support!

[2021-03-15 18:42] leskodan opened #3215 "Trouble getting account info from B2C token in componentDidMount"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x ] React
- [ ] Other

## Description
I have an API call that I would like to

[2021-03-15 19:00] cagricaymaz commented on #3207
I have debugged all steps in msal-angular and found my solution I think. There is a system.Options.tokenRenewalOffsetSeconds set for 300seconds.

Where does it come from? Can I change it to 60 seconds?

In my development environment, the access tokens expire in 300 seconds. So in my case, it is always expired. Changed it to 15 minutes and it is working as expected.

[code]

[2021-03-15 19:02] rizvirashid commented on #3033
If its possible to show a Pop Up Screen to login a User using msal-node for Authorization code grant. please let me know.

[2021-03-15 19:05] #3207 closed

[2021-03-15 19:06] cagricaymaz commented on #3207
I have fixed the issue that I am having so I can close the topic. Thank you.

[2021-03-15 19:10] leskodan commented on #3215
In playing around with this a little bit more, I am seeing now that refreshing the browser is another way to trigger the "cannot read claim of undefined" error. This is not how I would expect this to work as it was my understanding that the token is cached (or could be retrieved) when needed. Eager to see what I'm doing wrong here.

[2021-03-15 20:00] hrazmsft opened #3216 "MSAL tokens cause preflight requests"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [x] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description

When the authentication is done by MSAL (client side) the token is stored in the browser' stor

[2021-03-15 20:07] pkanher617 commented on #3216
@hrazmsft MSAL doesn't make requests to 3rd party services. The only requests made by MSAL are to the authority specified to retrieve tokens. This is most likely something you are doing in your app.

The reason you are seeing OPTIONS preflight requests is because there are headers in the request you are making to the Graph endpoint that contain headers that aren't considered as part of a [CORS sim

[2021-03-15 20:14] hrazmsft commented on #3216
Yes I know all of that. I'm asking if there is a way to use the token in a different way, for example as cookie, to avoid sending Headers and trigger preflight requests...

[2021-03-15 20:16] hrazmsft commented on #3216
For example, in your NextJS example, you inject the token from MSAL to the Authorization header, which triggers preflight requests. Is there any way to avoid it with MSAL?

[2021-03-15 20:23] tnorling commented on #3033
@rizvirashid So sorry nobody has addressed this yet. There is currently no built-in way to use msal-node and open a popup as `msal-node` is not intended to run in the browser. If you want popups you'll have to open one yourself using `window.open` with the url you get from `msal-node`

[2021-03-15 20:33] #3209 closed

[2021-03-15 20:41] tnorling commented on #3215
@leskodan A couple points to note:

1. You should not call `handleRedirectPromise` yourself as this is done under the hood in the `msal-react` library. Instead if you need direct access to the response from a redirect please use the event API. This is called out in the [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redire

[2021-03-15 20:49] leskodan commented on #3215
Hi @tnorling, thanks for the pointers. On the first note regarding the `handleRedirectPromise`, I was attempting to follow directions laid out about 2/3s of the way down the page in the "errors" wiki linked [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md).

I'll look into the "inProgress" context value. As a side note, since postin

[2021-03-15 20:50] pkanher617 commented on #3216
The `Authorization` header is not considered a "simple request header", which is why you are seeing a pre-flight request. I would reach out to the Graph API support to see if there are other ways to avoid these preflight requests, such as sending the authorization information in the query string instead of a header. It's possible that the browser may cache these preflight requests as well, so I wo

[2021-03-15 20:58] tnorling commented on #3215
@leskodan

Right beneath that is a link to different directions if you're using `msal-react`. I see the confusion and I'll see what we can do to call this out more clearly.

[2021-03-15 21:30] hrazmsft commented on #3216
I see. Thank you!

[2021-03-15 21:30] #3216 closed

[2021-03-15 23:35] #3172 closed

[2021-03-15 23:36] #2944 closed

[2021-03-16 00:28] tnorling commented on #3157
@markholst When you say it "leaves me on the same Uri" can you clarify what you mean by this? When you invoke `logout` you should be redirected to the logout page of the server and then the server will redirect back to whatever was passed as the `postLogoutRedirectUri`. Are you saying that you are not being redirected to the server logout page or that the server is not redirecting you back to your

[2021-03-16 00:31] #3050 closed

[2021-03-16 00:31] #3040 closed

[2021-03-16 00:31] #2876 closed

[2021-03-16 00:31] #2874 closed

[2021-03-16 00:31] #2868 closed

[2021-03-16 00:37] tnorling commented on #3122
@Deymoun The decision was made by all MSALs, not just javascript, to not expose the refresh token. As @jasonnutter described, when your application needs an access token it should call `acquireTokenSilent` which will fetch tokens from cache or attempt to renew using the refresh token. If you use a server side library such as msal.net or msal-node the refresh token lifetime will be much longer than

[2021-03-16 00:37] #3122 closed

[2021-03-16 01:02] sameerag commented on #2891
@naugtur We do support persistence (both encrypted and unencrypted) in native apps. Are you looking for persistence in a web app?

[2021-03-16 03:06] thatham commented on #3212
@tnorling I'm using "@azure/msal-angular": "^2.0.0-beta.0" and "@azure/msal-browser": "^2.12.0". Here's my package.json for your reference.
[code]

[2021-03-16 05:45] naugtur commented on #2891
Yes, a web app in a sense of how it's accessed. The main part is a process that runs in the background and does things for the users.
We scale horizontally, which means we run many copies of the app and they all need access to fresh tokens

[2021-03-16 07:13] markholst commented on #3157
Hi @tnorling,

I've followed up on your thought, the postLogoutRedirectUri is actually being set to the same value as the redirectUri.  This has been set in Azure B2C under "Single-page Application - Redirect URIs".

This is interesting.

In our Test environment, I am seeing this -
![image](https://user-images.githubusercontent.com/56993727/111269236-4c04c080-8669-11eb-8a21-974a7dd5beda.png)

In o

[2021-03-16 09:34] #3158 closed

[2021-03-16 14:00] bezi opened #3221 "Verifying ID Tokens With msal-node"
## Library
- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.0.1`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Description
Both the [API](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/m

[2021-03-16 14:18] Sa3d94 opened #3222 "Using the Token generated by AAD using MSAL.js, with Connect-MicrosoftTeams -AadAccessToken cmdlet"
I'm trying to get the user's consent in the client side using MSAL.js to be able to configure their Microsoft Teams in PowerShell Core.

I get the token successfully, but when i use it inside PowerShell Core with the cmdlet Connect-MicrosoftTeams -Aadaccesstoken -AccountID, the PowerShell prints the Tenant ID as follows, as if i am connected to Microsoft Teams(It doesn't tell me whether i am conne

[2021-03-16 14:18] #3222 closed

[2021-03-16 15:15] leskodan commented on #3215
@tnorling, thanks for the pointer, I'll be sure to read the docs more carefully next time.

That said, I am still having trouble getting this to work. My goal is to execute a login on app load but putting this method in the componentDidMount() of my App.js.

[code]

This does not trigger a login. I have successfully gotten this to work using a login button, I would like this to work on load in my

[2021-03-16 16:16] tnorling commented on #3157
@markholst Requests can be cancelled if a 2nd redirect is initiated while the 1st has not left the page yet or if the component that initiated the redirect is unmounted before the navigation happens. Try to do some debugging to see if either of these scenarios might be happening when it breaks.

This is a nuance of how sign-out in B2C works. See [here](https://github.com/AzureAD/microsoft-authenti

[2021-03-16 16:20] tnorling commented on #3215
@leskodan This will not trigger a login. This will get you a cached token after you have already been logged in. If you need to login on page load you should check that there are no accounts instead of checking the first account and call `loginRedirect` or `loginPopup` instead of `acquireTokenSilent`

[2021-03-16 16:25] leskodan commented on #3215
@tnorling, that makes sense, and I have tried the following code to account for this:

[code]
My current issue is that my console.logs are not being fired which is where I would need to be grabbing the homeAccountId to call my api. Appreciate your continued help!

[2021-03-16 16:34] tnorling commented on #3215
@leskodan The promise returned from `loginRedirect` is not expected to resolve as it will trigger a full frame redirect away from your page. If you just need the homeAccountId you can use `this.context.accounts[0].homeAccountId` inside the first `if` block. If you need to get the full response from `loginRedirect` you should register an [event callback](https://github.com/AzureAD/microsoft-authent

[2021-03-16 16:45] tnorling commented on #3212
@thatham Can you try reinstalling your packages? [initializeWrapperLibrary is a function](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/310ab2c2c11be3765f22daee5f4fafa34369eb0d/lib/msal-browser/src/app/IPublicClientApplication.ts#L35) and we haven't seen this before. Are you able to reproduce this with our [samples](https://github.com/AzureAD/microsoft-authentication-libr

[2021-03-16 16:54] leskodan commented on #3215
@tnorling gotcha. This still isn't working the way that I would expect unfortunately.

[code]

When I navigate to the app, login is still not triggered on load. (I can get it to trigger if I change the if statements on the dev server, but not through a normal flow. Since I am using the AuthenticatedTemplate on my content (render function below), I just get a white screen. Similarly, the console lo

[2021-03-16 17:07] JosephThomas commented on #2884
Any ETA on this issue? I believe MSAL 1.x had support for this so I was surprised this regression wasn't mentioned anywhere.

[2021-03-16 17:07] svrooij opened #3223 "Wrong authority for access tokens with multiple tenants"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [X] `@azure/msal-angular@2.0.0-beta.1`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular 10
- [ ] React
- [ ] Other

## Description

If you set the authority to `c

[2021-03-16 17:17] tnorling commented on #3215
@leskodan Sounds like this component is mounting too early and `InteractionStatus` is not yet `None`. Does it work if you put this logic in `componentDidUpdate`?

An easier way to do this is by using `MsalAuthenticationTemplate` instead of `AuthenticatedTemplate` which will invoke login on page load if not already signed in. This is documented [here](https://github.com/AzureAD/microsoft-authentica

[2021-03-16 17:29] leskodan commented on #3215
@tnorling , it does work if I put this code in `componentDidUpdate()`. HOWEVER, this causes infinite looping of the console log. That said, I think that confirms your theory of the component mounting too early (I'm assuming this isn't really meant to be used on the App.js component with conditional rendering).

Based on what you describe, it does sound like the `MsalAuthenticationTemplate` is the

[2021-03-16 17:42] leskodan commented on #3215
To expand on that having refactored a bit:

By wrapping my render() in `MsalAuthenticationTemplate` and updating the `componentDidMount()' to:

[code]

This fires the console.log 3 times. Once `undefined`, and two more with the accounts[0] object (apparently coinciding with updates happening in the background). I'd like to find a way for this to only happen once so that my api call doesn't trigger

[2021-03-16 17:54] tnorling commented on #3215
@leskodan If you put your API call in a component underneath `MsalAuthenticationTemplate` in the component tree it will only ever render when a user is signed in. This way you can put your logic in `componentDidMount` and ensure it's run only once and has the account it needs.

[2021-03-16 18:00] leskodan commented on #3215
@tnorling , that makes sense. I'm currently using the api call to set global state, so I would need to lift it up to my App.js component. I came up with this as well, not sure if it's best practice though haha:

[code]
This way, it will only update state if the account has switched. That said, it definitely adds additional logic from what you suggested.

Thanks for bearing with me through this!

[2021-03-16 19:03] tnorling commented on #3223
@svrooij This is by design. Setting the authority on the request is the correct way to specify where you want the token to come from on a per request basis. You can set the request the interceptor uses with the `authRequest` property on the interceptor config. Can you try that?

[2021-03-16 19:56] tnorling commented on #3215
@leskodan Great, glad to hear you got it working! Can we consider this resolved?

[2021-03-16 20:02] leskodan commented on #3215
Yep, appreciate the help!

[2021-03-16 20:02] #3215 closed

[2021-03-16 20:14] svrooij commented on #3223
I was expecting that setting the **Active Account** (that has access to the tenant it's issued by) would result in access tokens from the tenant that issued that specific account.

But even though we set the Active Account to be an account that is issued by Tenant B, the **MsalInterceptor** loads access tokens from the home tenant of the account and not the tenant that issued the identity token.
T

[2021-03-16 20:18] nicholashendrickx-tomtom commented on #3158
@VladBozhinovski can you please share how you got it to work?

I have a proxy on my dev server from `localhost:4200/api` to `localhost:8080/api` but I can't get the `protectedResourceMap` to work. I want to add the `['customscope.read']` scope to the my api requests, e.g. `protectedResourceMap.set("http://localhost:8080/api/*", ['customscope.read']);`

The following keys in the map do _not_ add a

[2021-03-16 20:20] rellis-of-rhindleton commented on #3047
I'm also trying to set this up, and running into problems.  My goal is to have all routes in the application protected by MsalGuard. With MSAL 1 this worked if I used an unprotected login-redirect route. With MSAL 2 it hasn't been as clear.

It seems to work if I do all of these:

- bootstrap MsalRedirectComponent
- use an unprotected login-redirect uri which subscribes to handleRedirectObservable

[2021-03-16 20:50] nicholashendrickx-tomtom commented on #3158
For the record, when I replace `customscope.read` with e.g. `user.read` then it does add the authentication header to my requests. But I need `customscope.read` and when I add that there are no headers added anymore.

[2021-03-16 21:08] VladBozhinovski commented on #3158
@nicholashendrickx-tomtom what I have used is
`protectedResourceMap.set("/api/", ['customscope.read']);`

This one worked for me since it can be for example localhost/api or somewebsite/api it doesn't matter. I hope this will work for you

[2021-03-16 21:47] tabeth commented on #3122
@tnorling @jasonnutter

Hi to the both of you. I'm pretty sure I know the answer to this [per the documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md), but I wanted to get clarification:

MSALJS 2.0 (for the browser) doesn't respect the refresh token settings as specified in the User Flow Policy in Azure AD B2C, correc

[2021-03-16 21:58] nicholashendrickx-tomtom commented on #3158
Thanks @VladBozhinovski, it seems to do _something_, I guess I need to figure out why `customscope.read` fails. It says it doesn't know this scope. I'm pretty sure it worked with v1 os msal-angular, but we were using implicit grant back then.

[2021-03-17 06:53] thatham commented on #3212
@tnorling found the root cause, I've used muliptovider for factory "multi: true" that cause this error. Thank you for your time and effort

[2021-03-17 06:53] #3212 closed

[2021-03-17 08:25] VladBozhinovski commented on #3158
@nicholashendrickx-tomtom that's good to hear that it helped buddy :)

[2021-03-17 08:43] samuelkubai commented on #2891
Hi @naugtur

Could you shed more light on which scopes were being added and how they affected your tenant configurations?

[2021-03-17 08:50] IIrafail opened #3224 "ClientAuthError: request_cannot_be_made: Token request cannot be made without authorization code or refresh token."
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [ ] `@azure/msal-browser@2.x.x`
- [x] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [ ] React
- [x] Electron

## Description
I have created an application that need

[2021-03-17 09:05] samuelkubai commented on #3154
Hi @danieljaguiar,

Apologies for the late reply to this.

You are right the msal-node library doesn't expose a function named `getAccount` but in turn exposes the function `getAccountByHomeId` and `getAllAccounts` among others, like shown [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/310ab2c2c11be3765f22daee5f4fafa34369eb0d/samples/msal-node-samples/standalone-sam

[2021-03-17 09:33] naugtur commented on #2891
It added some of the lowercase scopes by default.
Some of these: email, openid, profile, offline_access, don't remember which exactly. openid and offline I think.

[2021-03-17 12:30] yoursnikhilsinha opened #3225 "SPFx SharePoint Webpart | MSAL Token Issue | Error: Token Renewal Time out error"
@jasonnutter  please help here its little urgent.

We  have a SharePoint online web part that is using SPFx(React) and MSAL.js v1.4.
Initial page start / authentication works however, post token expiry(1 hour) MSAL is not regenerating the token and we are getting “Token Renewal Time out error”.
Also as per implementation we have set the configuration to “LocalStorage” as then the token cache will

[2021-03-17 12:30] #3225 closed

[2021-03-17 12:40] yoursnikhilsinha opened #3226 "SPFx SharePoint Webpart | MSAL Token Issue | Error: Token Renewal Time out error"
@jasonnutter please help here its little urgent.

We have a SharePoint online web part that is using SPFx(React) and MSAL.js v1.4.
Initial page start / authentication works however, post token expiry(1 hour) MSAL is not regenerating the token and we are getting “Token Renewal Time out error”.
Also as per implementation we have set the configuration to “LocalStorage” as then the token cache will be

[2021-03-17 12:40] #3226 closed

[2021-03-17 13:01] shashiguru opened #3227 "How can i acquire and use an Access Token for Next js application"
Hi There,

We are using microsoft-authentication-library-for-js for authentication. i have seen some code snippet for Acquiring and Using an Access Token but im not sure how can i use those code snippets for next js application. could you please help me on this.

[2021-03-17 13:01] #3227 closed

[2021-03-17 13:02] yoursnikhilsinha opened #3228 "MSAL Token Issue | Error: Token Renewal Time out error"
## Library
- [x] `msal@1.4.6'

## Framework

- [ ] React

## Description
We  have a  SPFx(React) solution and MSAL.js v1.4.

Initial page start / authentication works however, post token expiry(1 hour) MSAL is not regenerating the token and we are getting “Token Renewal Time out error”.

Also as per implementation we have set the configuration to “LocalStorage” as then the token cache will be shar

[2021-03-17 14:47] joshwilson00 commented on #3113
@derisen Many thanks for that example, it is very useful! One question I have is that say for example I have multiple different endpoints on the express server, all with their own scope, can I just create a new BearerStrategy for each since the options will need to be slightly different (scope will need to be different).

[2021-03-17 16:23] yoursnikhilsinha commented on #3228
@tnorling I have provided all the information as was there in the template anything specific you are looking for do let me know?

[2021-03-17 16:26] tnorling commented on #3228
@yoursnikhilsinha Timeouts can happen for a number of reasons. Can you start by reviewing our [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/errors.md#token-renewal-operation-failed-due-to-timeout) about this particular error and let me know if you need more help?

[2021-03-17 16:34] zzbxd opened #3230 "Can not logout from different zone?"
I have a React using AzureAD MSAL.js (version "^1.4.5",) and Dotnetcore 3.1 SPA program. I deployed the program on Azure US East2 region.

Everything went fine if we browser from US Eastern; However, offshore team(non US region) cannot logout the program. During debug they found they failed on this network call:
https://login.microsoftonline.com/{ hide }/oauth2/v2.0/logout?client-request-id=xxxxx1

[2021-03-17 16:34] #3230 closed

[2021-03-17 16:54] zzbxd opened #3231 "Can not logout from different zone?"
## Library

- [ ] `msal@1.4.5`

## Description

I have a React using AzureAD MSAL.js (version "^1.4.5",) and Dotnetcore 3.1 SPA program. I deployed the program on Azure US East2 region, so the deployed url is **{projece_name}.azurewebsites.net**

Everything went fine if we browser from US Eastern, we can log in, log out success;
However, offshore team(non US region) can login success, but they can

[2021-03-17 17:01] ducalai opened #3232 "React-admin and msal-react"
## Library
- [ ] `@azure/msal-browser@2.12.1`
- [ ] `@azure/msal-react@1.0.0-beta.0`

## Description
I am trying to protect a React-admin application with Azure AD B2C using msal-react lib. I cannot make it run.

What is the recommended approach to integrate msal-react with React Admin app? Should I use build-in React Admin Authentication concepts (authProvider, loginPage, loginButton) or should M

[2021-03-17 17:10] mbondoso opened #3233 "GetAllAccounts fails started today"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [X] `@azure/msal-browser@2.8.0`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [X] `@azure/msal-angular@2.0.0-alpha.1`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [X] Angular
- [ ] React
- [ ] Other

## Description
Since this afternoon we started to

[2021-03-17 17:40] tnorling commented on #3231
@zzbxd Are there any errors thrown that might explain why it's failing? I would suggest opening a ticket with Azure support as this does not sound library related.

[2021-03-17 17:48] zzbxd commented on #3231
The error status is 'Canceled', I update the description.

[2021-03-17 17:50] tnorling commented on #3233
@mbondoso Can you try upgrading to the latest versions and let us know if this is still an issue?

Latest versions are `msal-browser@2.12.1` and `msal-angular@2.0.0-beta.0`

[2021-03-17 17:57] tnorling commented on #3231
Cancelled status can happen if the component that initiated the logout unmounts before the redirect to the logout endpoint occurs.

I'm also noticing your `postLogoutRedirectUri` is set to `https://login.microsoftonline.com/common/oauth2/logout`. This should be set to a page in your app, not the server logout page.

[2021-03-17 17:58] mbondoso commented on #3233
Still happens. This started today on prod. so I don't think it's version related

[2021-03-17 18:07] tnorling commented on #3233
@mbondoso Can you try to determine what changed? It's very hard to tell what may be causing this without insight into your code and environment and without being able to reproduce this.

[2021-03-17 18:38] zzbxd commented on #3231
ok, I will change  `postLogoutRedirectUri` to a local page.

Meanwhile, change logout function like below will help my component unmounted later?
`    async onSignOut() {
      await msalAuth.logout();
    }
`

[2021-03-17 18:39] mbondoso commented on #3233
We changed nothing from yesterday to today.

on localhost the error is this:
core.js:5973 ERROR TypeError: Cannot assign to read only property 'ToArray' of object '[object Object]'
    at Function.push.u8tD.CacheManager.toObject (index.es.js:2692)
    at BrowserCacheManager.push.u8tD.BrowserCacheManager.getAccount (index.es.js:8276)
    at index.es.js:2202
    at Array.forEach (<anonymous>)
    at

[2021-03-17 19:01] sameerag commented on #3224
Can you please share your request calls, the initial interactive call and the following silent call? And can you please turn on logs? The sample code to turn on logs can be found [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/configuration.md).

[2021-03-17 19:02] tnorling commented on #3233
@mbondoso A few questions to get more context: How long was it working correctly before it broke? Is it consistently erroring out or is it intermittent? Is this affecting all users or only some? If you clear browser storage and login again, does it still break? Can you reproduce this with one of our [samples](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-

[2021-03-17 19:03] sameerag commented on #3221
We are currently designing node middleware and this work may take a quarter to be in code. We will consider this request and see if we can provide some options. cc @pkanher617

[2021-03-17 19:10] sameerag commented on #3208
@ccosmincc Serializer is used only for persisting the cache in a pre-agreed format to the disk. The user interface for account info is [Account](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_common.html#accountinfo) object returned in the [AuthenticationResult](https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_comm

[2021-03-17 19:11] mbondoso commented on #3233
@tnorling
We last updated the app 1 month ago.
I tried to clear cache / browser storage and login again still the same issue. tried with a couple of accounts all with the same behavior.

Will try to replicate it with sample.

[2021-03-17 19:17] sameerag commented on #3200
@IIrafail We have seen some other teams report this as well, and we aren't sure if the issue can be fixed on msal-node-extensions. We do plan to investigate and see if we need some tooling updates on our end. I am also trying to reach out to a customer who faced this issue and let them help with the workarounds they managed to put in place, will update once I have the info.

[2021-03-17 19:51] mbondoso commented on #3233
@tnorling with the sample angular11-sample-app works fine because it uses MsalGuard to validate routes, I need to use custom logic from my application so I use a custom guard that also depends on

const myAccounts: AccountInfo[] = this.msalService.instance.getAllAccounts();

I debugged and it works the first requests and then the problem starts to appear. has something changed on your side returni

[2021-03-17 20:17] sameerag commented on #3200
cc @amrutha95

[2021-03-17 20:19] pkanher617 commented on #3221
@bezi Thanks for opening this! I am working on adding this to msal-node, but as @sameerag said above, it may take some time. I will try to see if I can add this feature before we release an updated version of the passport library.

[2021-03-17 20:40] mbondoso commented on #3233
@tnorling I changed my guard to surpass this problem but on the rolling of the app it's breaking upfront on
azure-msal-angular.js

MsalInterceptor:
[code]

[2021-03-17 20:55] tnorling commented on #3231
@zzbxd That could help but I can't say for sure. You'll need to do some debugging to determine if this is the cause and if so, how to prevent it. This is highly dependent on the details of your specific app so I can't be of assistance in that aspect.

[2021-03-17 21:13] mbrevda opened #3236 "cloudDiscoveryMetadata, authorityMetadata are ignored"
## Library

- [ ] `msal@1.x.x` or `@azure/msal@1.x.x`
- [x] `@azure/msal-browser@2.x.x`
- [ ] `@azure/msal-node@1.x.x`
- [ ] `@azure/msal-react@1.x.x`
- [ ] `@azure/msal-angular@0.x.x`
- [ ] `@azure/msal-angular@1.x.x`
- [ ] `@azure/msal-angular@2.x.x`
- [ ] `@azure/msal-angularjs@1.x.x`

## Framework

- [ ] Angular
- [x] React
- [ ] Other

## Description
Even when defined, `cloudDiscoveryMetadata

[2021-03-17 21:25] bezi commented on #3221
Thanks for the follow-up!

[2021-03-17 22:03] tnorling commented on #3233
@mbondoso

Can you share this custom logic? A link to a public github repo that reproduces this issue would be helpful

Not that I'm aware of, however, we don't own the B2C service so you would have to open a ticket with them if you believe it's a service issue.

azure-msal-angular.js

Can you describe what is breaking? `getActiveAccount` will only return an account if you previously called `setAc

[2021-03-17 22:10] tnorling commented on #3223
@svrooij The Guards and Interceptors we ship with the package are for convenience and will not fit all use cases. In cases like this, where your use case it not covered, we recommend that you write your own custom Interceptor. We will discuss this internally to see if there's an enhancement that can be made to get the functionality you're asking for here.

[2021-03-17 22:15] tnorling commented on #3232
@ducalai I am not familiar with React-admin and how that can be integrated with msal-react so I unfortunately don't have specific guidance I can provide. If you run into any specific issues with msal-react though we would be happy to help you solve them.

[2021-03-17 22:20] tnorling commented on #3236
@mbrevda Can you provide examples of what you're passing to both `cloudDiscoveryMetadata` and `authorityMetadata`? If it's not formatted correctly or expected values are missing msal will fallback to making a network request

[2021-03-17 22:25] svrooij commented on #3223
@tnorling no problem, but with the current solution the documentation should note that it only works for primary accounts. And my use case can still be supported with a relatively small change, creating a duplicate interceptor just to override the authority just seems wrong.

I remember a similar discussion I had with @mlafleur about replacing `organizations` with the tenant id in the C# library s

[2021-03-17 22:51] tnorling commented on #3223
@svrooij Noted. I understand the problem and agree this is something we should, at the very least, have a recommendation for supporting. The question is more around the how as we support many use cases where this could also be applicable but not be solvable by the replacement you're suggesting here. We want to make sure any change we make, not only fixes your use case, but can also be used by ever

[2021-03-17 22:54] tnorling commented on #3223
I'll add that PRs are always welcome if you can figure out a use case agnostic way to solve this that doesn't assume the authority will always be `https://domain.com/tenant`

[2021-03-17 23:30] derisen commented on #3113
You can certainly create multiple strategies (for example, [see](https://stackoverflow.com/questions/43885351/multiple-policies-for-oidcstrategy-using-passport-azure-ad/43945140#43945140)). But in this case you don't necessarily need that. Instead, configure the options as shown below:

[code]

From the [passport-azure-ad documentation](https://github.com/AzureAD/passport-azure-ad#4212-options):

[2021-03-17 23:40] amrutha95 commented on #3200
For this issue, you might need to add a [node-loader](https://webpack.js.org/loaders/node-loader/)  to your webpack config.
First, run
[code]
Then, add another rule in the ```rules``` array in the ```module``` object in your webpack.config.js (similar to what you have already for ts-loader):
[code]
This indicates webpack to use the node-loader when it encounters a .node file extension. Hope this h

[2021-03-17 23:48] tnorling commented on #3206
@thoo1 Unfortunately, this is an unsupported scenario. This is a very specific edge case that we are unlikely to handle in the library. Instead, your application should implement fallback logic that calls acquireTokenSilent with forceRefresh: true if the resource rejects a token due to expiration. Happy to discuss this in more detail if you'd like to reach out over Teams.

[2021-03-18 00:19] tnorling commented on #3046
Closing as duplicate of #3172 which was resolved by recent patch

[2021-03-18 00:19] #3046 closed

[2021-03-18 00:22] #3035 closed

[2021-03-18 00:37] tnorling commented on #2974
@jamesots Another potential workaround you can use instead of overriding the network client is to provide the data from the `openid-configuration` call statically to your msal config. This will skip the network call and use your provided config instead. Docs on that [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/performance.md#bypass-author