[2022-08-24 22:27] danielvoigt commented on #4921
Experiencing the same issue: #5123

[2022-08-24 22:30] danielvoigt commented on #5123
@jo-arroyo Yes, I can confirm that it is happening on macOS. I haven't tested Windows. I was investigating other issues and now see that it is a known issue: #4921. Any idea when a fix can be expected?

[2022-08-25 01:01] ghost commented on #5121
@diberry This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-25 01:01] ghost commented on #5093
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-25 02:57] ViswanathCelitotech commented on #5095
Hi Team,
We have tried using the storage location with local/session/windows. But still the behaviour is the same, which is not an expected one.

Is there any alternate option/approach to achieve the desired result??

Regards,
Viswanath Vankadari

[2022-08-25 08:41] MarcoHuib commented on #5126
@jo-arroyo Thanks for your advice. This solved the problem. Now that I implement it in my application, everything works again. I saw that it was not only related to the guard, even if a call is made by the APP_INITIALIZER.
It's just hard to see which API call is disrupting the process. Maybe that's some feedback I can give to improve the library.

Thank you very much for the help and the ticket ca

[2022-08-25 10:12] supriyaGannvi opened #5132 "Login reloop issue when using msal-angular wrapper"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Public or Confidential Client?

Public

### Description

@jasonnutter Using Angular Wrapper, after sometime when accessing the application, loginRedirect goes into loop then I have to delete cookies to make it work. W

[2022-08-25 16:05] jo-arroyo commented on #5126
@MarcoHuib Great to hear. Thank for the feedback.

Closing issue as issue resolved.

[2022-08-25 16:05] #5126 closed, assigned to jo-arroyo

[2022-08-25 16:25] #5093 closed, assigned to bmahall

[2022-08-25 16:35] jasonnutter commented on #4921
@jo-arroyo Looks like this is duplicate of #5123, can we close one of them?

[2022-08-25 19:34] r-delgadillo commented on #4878
@bmahall curious if we have an ETA on this item, thank you.

[2022-08-25 21:49] tnorling commented on #5127
@t-jmakulec This is happening because `authority` only specifies where to go when a new token is needed and is not used for cache lookups. In order to get the cached token you expect you need to provide the account object that corresponds to the tenant you wish to get a token for.

Can you please expand this? This sounds unexpected.

[2022-08-25 22:54] jo-arroyo commented on #5132
@supriyaGannvi Are you able to provide verbose logs of this behavior?

[2022-08-25 22:56] jo-arroyo commented on #5123
@danielvoigt Yes, this issue is being investigated for macOS by our team. Closing this issue as it is a duplicate, any workaround or fixes will be tracked and updated on #4921. Thanks.

[2022-08-25 22:56] #5123 closed, assigned to jo-arroyo

[2022-08-25 23:47] r-delgadillo opened #5134 "multiple_matching_tokens The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more requirements such as authority or account."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

After adding 2 new MSAL flows for acquireTokenByRefreshToken and acquireTokenOnBehalfOf we started seeing some errors in existing workflows that had no issues (acquireTokenByClien

[2022-08-26 08:43] supriyaGannvi commented on #5132
<img width="1418" alt="133048223-36214e5e-5c39-46f7-82f3-a73ad2406dfa" src="https://user-images.githubusercontent.com/111850297/186862853-4b62f991-c764-4268-88b7-933e98c40ecb.png">

[2022-08-26 08:43] supriyaGannvi commented on #5132
@jo-arroyo this is what we get console

[2022-08-26 08:59] henrymcl commented on #5091
I have also encountered this bug, but only _occasionally_. Usually with my environment a refresh will sort out the issue and it isn't very common (1 out of 10 times?). It bugs me that my clients are facing this issue more often though.

## Environment info:

### Packages:

[code]

### Config

[code]

### Click handler

[code]

- It's impossible for me to update react due to the whole interface bei

[2022-08-26 09:56] t-jmakulec commented on #5127
So, as I understand it - it will always return the cached token even if we point to the new authority? Since this user is able to authenticate against it as well?

Regarding setting the account: After receiving the response from silent request against the new authority, I'm calling
`Auth.SetActiveAccount(response.account)` -where Auth is PublicClientApplication.
When printing the response, there i

[2022-08-26 11:06] bgavrilMS commented on #5134
Does this always repro? Or do you have to have a few tokens in the cache already?

Possible workaround: Can you try to specify the authority only at the client level, not at the AcquireToken (request) level?

[2022-08-26 14:30] Benni03 commented on #5091
You are right. The problem has not completely disappeared in React 18, but it does not occur as often.

[2022-08-26 16:09] tnorling commented on #5127
Yes, an `account` object is tied to a specific tenant. When you are providing the `account` for tenant A with `authority` for tenant B it creates a conflict. To get back the tokens you expect you need to make sure your authority matches your account.

Can you see the active account in local or session storage when this happens? Can you collect trace level logs and share them here?

[2022-08-26 16:31] r-delgadillo commented on #5134
@bgavrilMS we are seeing this error pretty frequently - this graph shows the number of occurences in our PPE environment over the last day:
![image](https://user-images.githubusercontent.com/35089121/186950328-0ac71e0f-9fdb-4e34-8a10-08115dd9c402.png)

We need to be able to pass the `authority` at the request level because the client's authority is set to "https://login.microsoftonline.comorganiza

[2022-08-26 18:13] jasonnutter commented on #5134
@sameerag This seems similar to #4486, and there is comment indicating that particular issue wasn't completely solved: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4486#issuecomment-1166832179

[2022-08-26 18:39] tnorling commented on #5091
@henry132109 @Benni03 This happens because something (most likely your router) is removing the response hash from the popup window before the calling page can extract it. Have you tried setting the `redirectUri` to a static blank page as suggested above? If that's not possible for your use case the alternative is to ensure that your router doesn't strip the hash or do any redirection on your redir

[2022-08-26 20:55] bmahall commented on #4921
@yoLotus Sorry for the wait. We are investigating this issue on our end and will get back with a resolution .  We are able to reproduce this issue on Mac in full screen - Safari and Chrome.
It seems that the hash is lost in redirection, which is leading to the error listed above. Checking with the team for potential solution, thanks so much for your patience

[2022-08-26 22:19] mpbiehn opened #5137 "Expose refresh token in MSAL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Description

After trying to figure out how to get access to the refresh token in msal-react I came across a few issues and documentation that the refresh token isn't exposed. One consideration for exposing the refresh token is using it to provide

[2022-08-26 22:26] hectormmg commented on #5113
@jcharnley if I understood correctly, you will either need to supply the tenanted authority (if you know the tenant before hand) or queyr the ARM API and prompt the user to select the tenant they want to sign into. https://docs.microsoft.com/en-us/rest/api/resources/

[2022-08-26 23:17] jo-arroyo commented on #5132
@supriyaGannvi Please send **verbose** logs. You can turn on verbose logging by changing the `logLevel` in the configurations as follows:

[code]

[2022-08-26 23:21] jo-arroyo commented on #5130
@udayansarma We don't currently have a benchmark for completing the flows. Are you able to send a Fiddler trace of this behavior?

[2022-08-27 01:01] #5052 closed, assigned to hectormmg

[2022-08-27 01:01] ghost commented on #5089
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-27 01:01] ghost commented on #4935
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-27 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-27 13:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-08-28 01:01] ghost commented on #5120
@rahulraajtanwar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-28 01:01] ghost commented on #5118
@eluchsinger This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-28 01:01] ghost commented on #5115
@vineeshvenu97 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-08-28 01:01] ghost commented on #5090
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-28 01:01] ghost commented on #4934
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-28 01:34] RadIsACoder opened #5138 "msal-node: Electron (v20) / create-react-app (5) : ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

I'm getting the following error:

ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_co

[2022-08-28 03:37] #4312 closed, assigned to derisen

[2022-08-28 06:58] camer314 opened #5139 "'The "listener" argument must be of type function. Received an instance of Object' during acquireToken"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

I have a nodeJS application and am attempting to implement OBO flow however I immediately run into an issue that seems to be a bug, although given it is fundamental perhaps it has

[2022-08-28 09:07] eluchsinger commented on #5118
@hectormmg it was experienced by multiple users. All on Firefox and probably had not used the login in a while (could both be coincidence of course).

[2022-08-28 11:15] camer314 commented on #5139
Update to this. msal-node@1.9.1 introduced this breaking change (against node 16.16.0)

msal-node@1.9.0 works as expected and all version since are affected.

[2022-08-28 15:44] yoLotus commented on #4921
Thx for the update @bmahall 🙏

[2022-08-28 21:14] jsbinette commented on #4879
Solved it too using @marco-bertelli 's solution.  But it was even simpler I updated node to latest stable from v14.15.3 to v16.17.0 then I updated msal-node to latest 1.12.1 et voilà!

[2022-08-29 01:01] #5097 closed, assigned to bmahall

[2022-08-29 01:01] ghost commented on #5117
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @EmLauber please follow up.

[2022-08-29 04:11] henrymcl commented on #5091
My router doesn't strip hashes.
Plus if that's the case, wouldn't it occur *every time*?

[2022-08-29 06:03] SandonAhoy opened #5140 "Ability to not use cache for serverless applications?"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

I am running a [serverless](https://www.serverless.com/) application.

I am using msal-node to acquire a token, which is then passed to the microsoft graph client ( @microsoft/mic

[2022-08-29 08:17] wnuczek commented on #4921
Recently I've been struggling to get MSAL to work in two of my angular apps.
I've also had this issue with Mac fullscreen but most importantly same thing happened on iOS (tested both Safari and Chrome). The popup wouldn't close and redirect to main app.

Check out redirectUri considerations [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/ini

[2022-08-29 12:56] bgavrilMS commented on #5140
@derisen - are there any existing docs around this? Do we support distributed caching for web site scenario or only for client_credential scenario?

[2022-08-29 13:45] 72gm opened #5142 "Incorrect Scopes doesn't lead to error when acquiring token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Public or Confidential Client?

Public

### Description

When I call B2C to get an Access Token using incorrect scopes I would expect to get an error.

Currently it returns a response with an empty access token?

### Erro

[2022-08-29 14:58] deepti1805 opened #5144 "Login redirect stuck with hashtag state in Firefox and Safari"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.6.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

When I tried to set password for a user then it went through all the pages but got stuck in the redirecturi with #state=dnjsjsks only in Firefox and Safari. It is working fine in chr

[2022-08-29 16:19] r-delgadillo commented on #5134
After turning off a feature flag that removes the flows for acquireTokenByRefreshToken & acquireTokenOnBehalfOf and performing a service restart, our acquireTokenByClientCredential method is working as expected again. Please let me know if you need anything else from our side. Thanks

[2022-08-29 16:24] tnorling commented on #5091
No this is a race condition between the popup window and the caller. The problem only surfaces when the router (or other hash clearing/redirection logic) wins the race. Check if there's a hash with `code=` in the address bar of the popup window when this occurs. If there's not, something inside the popup is removing the hash.

[2022-08-29 16:24] #5121 closed, assigned to hectormmg

[2022-08-29 16:47] derisen commented on #5140
@bgavrilMS we've only demoed distributed caching for web app scenarios so far. @SandonAhoy you should be able to store the cache in a database using a custom cache plugin -see the [caching doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/caching.md) for more. The example [RedisTestApp](https://github.com/AzureAD/microsoft-authentication-library-fo

[2022-08-29 16:52] tnorling commented on #5144
@deepti1805 Please upgrade to the latest version (currently 2.28.1) and let us know if this is still an issue. Thanks!

[2022-08-29 16:55] tnorling commented on #5142
@72gm This is not something the MSAL SDK controls but rather the B2C service. Please open an issue with the B2C service. Instructions on how to do that can be found [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options)

[2022-08-29 16:55] #5142 closed, assigned to tnorling

[2022-08-29 17:04] tnorling commented on #5137
@mpbiehn We intentionally do not expose the refresh token on our API surface, and are not likely to change that stance as we are actively working on features which would further protect the refresh token by not returning it to MSAL.js at all. Can you please go into more detail about why biometric login in Cordova requires an RT?

[2022-08-29 17:29] tnorling commented on #5138
@RadIsACoder What version does your package-lock say is installed when it does work? Have you looked at your network requests to see if you can determine why the call to the well-known endpoint is failing?

[2022-08-29 17:43] hectormmg commented on #5118
@eluchsinger could you show us what you're passing in your app-routing.module.ts so we can see how your app implements reidrects?

[2022-08-29 17:56] mpbiehn commented on #5137
@tnorling sure, today we aren't using MSAL (msal-react) but would like to soon as part of our Singe Page Application. At a high level, here's what our biometric login flow looks like:

- We leverage two Cordova plugins as part of our hybrid Single Page Application, [Fingerprint All-In-One](https://github.com/NiklasMerz/cordova-plugin-fingerprint-aio) and [Secure Storage](https://www.npmjs.com/pack

[2022-08-29 18:20] tnorling commented on #5137
There's potentially a bigger issue here than just returning refresh tokens. We do not currently support custom storage solutions (i.e. SecureStorage), which means, if I'm understanding your scenario correctly, you would be storing tokens in SecureStorage _in addition to_ the storage used by MSAL.js (local or session storage). If that's the case, I'm not sure I see the value in using SecureStorage

[2022-08-29 19:19] mpbiehn commented on #5137
@tnorling thanks for the quick response. I'm a big fan of MSAL abstracting authentication, big reason why we'd like to use it within our app. :)

You are correct in that biometric sign-in unlocks access to SecureStorage. Today, we aren't using MSAL so we are storing the refresh token in SecureStorage. Was thinking of following a similar pattern (not knowing any better) with MSAL but doesn't sounds

[2022-08-29 19:52] tnorling commented on #5137
You can track progress on custom storage in issue #1588, I unfortunately don't know right now when it will be prioritized.

That's correct. We haven't really sat down to design the feature yet but I imagine we would expose some sort of cache interface for you to provide implementations of cache getters and setters, which MSAL.js would then use instead of localStorage and sessionStorage for all cac

[2022-08-30 01:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-08-30 05:02] Sectaur commented on #5138
Hi Thomas,

Nothing I'm afraid. Screenshot attached.

<img width="1340" alt="Screen Shot 2022-08-30 at 4 43 52 PM" src="https://user-images.githubusercontent.com/75922852/187351873-234b7a31-1338-4ac2-b4a0-795cffff8611.png">

Exact steps to reproduce:

Node v18.3.0

`yarn create react-app msal-cra5-test`

yarn start .. No problems on localhost:3000

`yarn add @azure/msal (adds v."1.12.1")`

create

[2022-08-30 07:35] RadIsACoder commented on #5138
I was also hopeful when I used MSAL React, which made things much easier ( and worked) but it wouldn’t run when integrating with Electron.

This is unexpected as the components in Electron are simply being rendered using JS / JSX. The Node engine is completely isolated from the renderer and running in a different process.

[2022-08-30 10:56] mpbiehn commented on #5137
@tnorling thank you for your quick responses, much appreciated!

[2022-08-30 11:24] ionut-gheorghe commented on #5132
I can confirm this. After the refresh token is expired (I have this issue that logs out the user even if the user has conditional access policies, 24 hours refresh token for SPA) and I try to log in the another user: redirects to the first user asking for password. You either have to delete the cookie or sign out the first user.

[2022-08-30 11:45] ionut-gheorghe opened #5146 "Interaction is currently in progress"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

Incognito mode in Chrome gives out interraction in progress error. User has conditional access policies to prevent the 24 hours logout but without luck.

![imag

[2022-08-30 13:01] #5107 closed, assigned to hectormmg

[2022-08-30 13:01] ghost commented on #5095
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-08-30 13:13] awanlin commented on #4879
@marco-bertelli, thanks for the suggestion, I actually did that before I logged this issue and I've also done that when I've tested new versions to see if maybe this was fixed. Sadly that has not fixed the issue for us :(

[2022-08-30 17:01] tnorling commented on #5137
@mpbiehn My pleasure! I'm going to go ahead and close this issue but you can track #1588 for news on custom storage.

[2022-08-30 17:01] #5137 closed, assigned to tnorling

[2022-08-30 17:05] tnorling commented on #5146
@ionut-gheorghe Please read [this document](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/redirects.md) on handling redirects and let me know if you have any additional questions.

[2022-08-30 17:19] ionut-gheorghe commented on #5146
The only place where handle redirect is done is in the MsalRedirectComponent, which is from the @azure/msal-angular lib.

![image](https://user-images.githubusercontent.com/54311614/187500001-0c551a2c-42e6-4cf4-b79b-bf3b8257763f.png)
![image](https://user-images.githubusercontent.com/54311614/187500564-0f9eacc7-2e7f-4e08-98fa-27dea5f93ff4.png)

The error is thrown when the refresh token expires.

[2022-08-30 17:23] alfaromeo90210 opened #5147 "Microsoft Graph returning null account even after passing a valid account ID"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

4.46.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Public or Confidential Client?

Confidential

### Description

I am encountering a weird issue with Microsoft Graph on an integration that was built a few years back.

This issue started happening a few months back. After I sync a Microsoft Acc

[2022-08-30 18:01] tnorling commented on #5146
Have you bootstrapped this component in your authModule? It did not appear so in the config you shared above. The interaction_in_progress error is being thrown on RT expiration because the guard or interceptor is invoking `acquireTokenRedirect` to get a fresh set of tokens, however, the previous redirect operation has not been handled.

[2022-08-30 18:05] bmahall commented on #4935
@danielvoigt Can you please check:-
1. Value of the redirectUri and postRedirectUri should be in valid format, scope should be passed as an array.
Please carefully verify the value of the scope parameter being passed.

2. Get the account from token response as below:
     let accountObj;
      if (tokenResponse) {
        accountObj = tokenResponse.account;
      } else {
        accountObj = this

[2022-08-30 18:08] nipothar opened #5148 "Silent SSO failed. login_required: AADSTS50058: A silent sign-in request was sent but no user is signed in."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

We are getting a SilentSSO failed for our application and we are trying to resolve this..
- We have enabled verbose logging but that did not give us any useful information (included

[2022-08-30 18:12] ionut-gheorghe commented on #5146
Yes, I have it the bootstraped in AppModule.
I dont have any other interceptor which handles msal. In the guards I only check for active account to get the token claims

![image](https://user-images.githubusercontent.com/54311614/187512483-de7d3571-86b0-4e0c-a6d0-a924457454b3.png)

![image](https://user-images.githubusercontent.com/54311614/187511487-b9e29415-23b0-4688-9ad7-ae04f405900e.png)
![ima

[2022-08-30 21:10] derisen commented on #5120
Closing let us resolved. Let us know if you have further questions.

[2022-08-30 21:10] #5120 closed, assigned to derisen

[2022-08-30 21:17] alfaromeo90210 commented on #5147
Sorry, I think I posted this under the wrong repo.

[2022-08-30 21:45] tnorling commented on #5148
@nipothar This error can be thrown for a number of reasons such as:
1. No user is signed in (if no hint provided) or no user matching the hint is signed-in (if hint provided)
2. No hint is provided but multiple users are signed in (AAD doesn't know which user you intend to sign in with so it throws)
3. The hint provided is in the wrong format or does not match the username of the existing session.

[2022-08-30 21:51] bmahall commented on #5095
@ViswanathCelitotech This can be due to the third-party IDP specific behavior .
Can you share network trace to see which parameters are getting sent in the popup request, and you can send a fiddler trace to the email on my profile.
Also, are you using B2c ?

[2022-08-30 22:12] bmahall commented on #5090
@foramkumar-parekh

Please verify:
1. The site is loaded over https and not http
2. The redirect uri and authority is configured correctly,  is " https://login.microsoftonline.com/testscorpiogroup.net/" valid?
3. Is the redirect uri set properly in the Azure portal?

[2022-08-30 22:40] peterzenz commented on #5134
@sameerag can you take a look at this and the similar issue that Jason has referenced above.

[2022-08-30 22:47] peterzenz commented on #4934
We will track this item internally for a future sprint.  Thanks.

[2022-08-30 22:48] peterzenz commented on #4921
@sameerag I believe you were tracking this item.

[2022-08-30 23:01] peterzenz commented on #5117
This isn't a scenario we'd support in our library where we'd only handle part of the auth code flow with you implementing the other part.  The code we have is here and you're welcome to use it, but it's not a scenario we'd build or support.

[2022-08-30 23:01] #5117 closed, assigned to EmLauber

[2022-08-30 23:18] tnorling commented on #5138
@RadIsACoder Did you try following the instructions in the error message to provide polyfills? We recently switched to using http instead of axios to make network requests - if that is unavailable in your environment network requests will not work. You may also find our [Electron/React sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/Ele

[2022-08-30 23:27] RadIsACoder commented on #5138
I followed the tutorial (above) to add polyfills.
Have you tried to install using the above steps ? If so, did you get the same error?

Webpack in CRA5 but is hidden so have to add fallbacks as per above to override the config settings.

Thanks for the sample. Will check it out.

[2022-08-31 01:54] byunru opened #5149 "GitHub Enterprise Rest API authenticate with MSAL"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Description

Request an example for call GitHub Enterprise Rest API and authenticate with MSAL

### Source

External (Customer)

[2022-08-31 08:41] eluchsinger commented on #5118
@hectormmg of course.

This is what we are doing in the app-routing:

[code]

[2022-08-31 09:10] phyr0s commented on #5052
Reopen this issue

[2022-08-31 09:11] phyr0s opened #5150 "Ionic - Cordova application"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Description

Allow to use msal-angular using ionic-cordova based application

->
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5052

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4290

##

[2022-08-31 10:19] jcharnley commented on #5113
thanks @hectormmg i've been speaking with Sergio on this too. I will proceed with the ARM solution and see how that goes first. I will keep you updated. Thanks again

[2022-08-31 16:39] snydergd commented on #5052
@hectormmg It looks like the issue has closed due to lack of a response from the original author, but it does not seem that the issue has been resolved quite yet for the others of us contributing to it.  Can it be reopened?  Also, was my last post the correct way to try what you were suggesting, or should I try something else?

[2022-08-31 17:27] tnorling commented on #5149
@byunru You can find our Msal-Angular samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples) which will show you how to obtain an access token for MS Graph. You may need to consult the documentation or samples provided by Github for specific usage of that API and make the necessary changes.

[2022-08-31 17:30] tnorling commented on #5150
@phyr0s We do not currently support Cordova, Capacitor or any hybrid framework. We do have this on our backlog for future consideration but unfortunately do not have an ETA at this time. You can track updates to that feature request in #4290. Closing this as duplicate for now.

[2022-08-31 17:30] #5150 closed, assigned to tnorling

[2022-08-31 17:33] himesha-wijekoon opened #5153 "Token retrieval error after changing password"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Public or Confidential Client?

Public

### Description

We implemented the password change policy as given in the example below.

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/m

[2022-08-31 18:27] tnorling commented on #5153
@himesha-wijekoon Could you please email me (email on my profile) a network trace showing this behavior? Thanks!

[2022-08-31 18:33] tnorling commented on #5146
@ionut-gheorghe Can you please enable verbose logging and share the output here?

[2022-08-31 19:07] tnorling commented on #5139
@camer314 I was not able to reproduce this behavior. Can you try our [OBO sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/on-behalf-of) and see if you have the same problem?

Also of note: you should not use `knownAuthorities` for login.microsoftonline.com. The library will handle discovery for "known to Microsoft" authorities.

[2022-08-31 19:10] tnorling commented on #5138
@RadIsACoder To clarify, adding the polyfills did or did not solve the problem?

[2022-08-31 20:50] joshuablanco commented on #3260
In my case, I got this error because when I requested the token with the wrong scopes, I mean scopes not defined in the API exposed by one APP registration previously defined by me.

[2022-08-31 20:54] Sectaur commented on #5138
Not yet but I'm going through the ElectronReactTestApp. Jut to clarify, whats the exact defintiion of "authority" in theMSAL config.

The example gives

[code]

but another example on MSAL website gives:

[code]

Pretty confusing. Which one is it ?

[2022-08-31 20:57] Sectaur commented on #5138
or is it this one ?

[code]

[2022-08-31 21:05] Sectaur commented on #5138
I am using B2C for my Electron React App but the test Electron React example is for AAD

[2022-08-31 21:16] tnorling commented on #5138
@Sectaur Authority is the url of the identity provider you are trying to acquire tokens from. All are valid, which you use depends on where your app registration and users reside. Since you're using B2C you should use the last example and fill in the placeholders with your specific tenant and policies

[2022-08-31 21:45] danielvoigt commented on #4935
@bmahall
1. `redirect` and `postRedirectUri` are both valid strings. The scope is a valid array. The configuration is included in the issue description
2. As discussed in the description, there is no active account after the redirect, which is the main issue:

3. there are no active accounts to pass along with the scope

[2022-08-31 22:02] danielvoigt opened #5155 "After loginRedirect success, no active account exists"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

After successfully logging with AD B2C using the `loginRedirect` method and getting redirected back to the SPA, MSAL is unable to retrieve the active account of

[2022-08-31 22:27] Sectaur commented on #5138
Ok thanks. Will try it out.

Re: Redirect URI - The previous app used "https://${TENANT_NAME}.b2clogin.com/oauth2/nativeclient" and "Allow Public ClientFlows" to "yes".

To access the B2C user Flow, should I use this or "msal4b0db8c2-9f26-4417-8bde-3f0e3656f8e0://auth" ?

I'm not sure why the "https:// " Redirect URI worked in production mode when the Electron-React App was deployed.

Are there an

[2022-08-31 23:02] tnorling commented on #5155
@danielvoigt Where are you setting the active account?

[2022-08-31 23:15] tnorling commented on #5138
The redirectUri is the location where your app will listen for the response. It can be anything you like as long as it's something your app owns and understands how to read responses from. The sample I linked before sets up a custom protocol listener [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/ElectronReactTestApp/src/CustomProtocolL

[2022-09-01 01:01] ghost commented on #5130
@udayansarma This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-01 01:01] ghost commented on #5127
@t-jmakulec This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-01 01:01] ghost commented on #5089
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-01 02:53] camer314 commented on #5139
You are correct. If I create a new node application and include latest MSAL then it works as expected. It must have something to do with my setup in my other project, possibly because I am mixing msal and adal or something else. But for the purposes of this issue I think it is fine.

[2022-09-01 06:41] supriyaGannvi commented on #5132
@ionut-gheorghe  Did u got any solution for this issue

[2022-09-01 07:53] Sectaur commented on #5138
It doesn't work with the current set up. The PublicClientApplication instantiates normally but the code fails at client.getAuthCodeUrl().

The ElectronReactTest App also failed until we added this arcane "checks" Key which we found after lots of searching.

"clientId": "123455-03aa-4f80-5rde-782b17c11859",
 "authority": "https://Tenant_Name.b2clogin.com/Tenant_Name.onmicrosoft.com/Ploicy",
"knownA

[2022-09-01 07:59] deepti1805 commented on #5144
@tnorling - I am still not able to resolve this issue. Could you please suggest something?

[2022-09-01 12:54] ionut-gheorghe commented on #5146
Verbose logging enabled, in about 24 hours i'll have the logs. I will send them to your email.

[2022-09-01 12:59] ionut-gheorghe commented on #5132
None for my 2 issues: mandatory interactive login after 24 hours and the loop when sign in a new user.

[2022-09-01 13:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-01 13:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-09-01 14:00] bgavrilMS commented on #5134
Just a hunch on this. The internal cache key under which we store access tokens is:

`home_account_id-env-AccessToken-client_id-scoppes`

However, if client_credentials flow, there is no home_account_id, so the key looks like:

`-env-AccessToken-client_id-scopes`

I wonder if there is a bug where `acquireTokenByClientCredential` cache lookup logic hits tokens from OBO ?

@r-delgadillo - what are t

[2022-09-01 14:19] supriyaGannvi commented on #5132
@jo-arroyo could u help us how can we reslove this issue

[2022-09-01 15:52] Core121 commented on #5155
You have to do something like this, since for some reason setting the active account isn't something MSAL handles.

[code]

If you have any more trouble check out [this example](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular14-rxjs7-sample-app)

[2022-09-01 16:32] tnorling commented on #5139
Great thanks for confirming! Closing as resolved, let us know if you need any further assistance.

[2022-09-01 16:32] #5139 closed, assigned to tnorling

[2022-09-01 16:36] tnorling commented on #5146
To reproduce faster you can try finding your refresh token in local storage and deleting it.

[2022-09-01 16:38] tnorling commented on #5144
@deepti1805 Please provide verbose level logs from MSAL and code snippets showing how you are trying to use the library.

[2022-09-01 16:48] ionut-gheorghe commented on #5146
Deleted it, no errors, should I wait for the token to expire?

[2022-09-01 16:50] tnorling commented on #5138
@Sectaur

Fails how?

What is this? This isn't a config option that MSAL.js recognizes.

[2022-09-01 16:52] tnorling commented on #5146
Ah shoot sorry, it's probably still serving the access token from cache. You can try setting the `forceRefresh` parameter on your `acquireTokenSilent` call to skip the cache.

[2022-09-01 17:01] ryancole opened #5164 "The getAllAccounts method returns no accounts when accessing the app from a nested path but does when accessed from a root path"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Public or Confidential Client?

Public

### Description

My React application uses msal-react. In my `index.ts` document that loads the application, I am setting up MSAL and then rendering the React app.

My issue revolve

[2022-09-01 17:02] deepti1805 commented on #5144
@tnorling I have included below script in page.html and it used all over the website. I am not getting any msal logs in console it just got stuck with #state
<script type="text/javascript" src="[https://alcdn.msauth.net/browser/2.6.1/js/msal-browser.js"](https://alcdn.msauth.net/browser/2.6.1/js/msal-browser.js%22) integrity="sha384-kHVR+hnKKUXpL5UEI3dgmdIKZgopBagC1RdQytFqglEGROvOSAGJRkaFWfu8VsSx"

[2022-09-01 17:08] ryancole commented on #5164
Nevermind. Closing. I just saw that the default cache mechanism is session storage. That explains it. Switching it to local storage fixes my issue.

[2022-09-01 17:08] #5164 closed, assigned to tnorling

[2022-09-01 17:14] ionut-gheorghe commented on #5146
Where can I do that?

[2022-09-01 17:18] tnorling commented on #5144
@deepti1805 Please configure the logger as shown in [this sample configuration](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/07540895a6a2e96009fcc9bcf85af10c632826e7/samples/msal-browser-samples/VanillaJSTestApp2.0/app/default/authConfig.js#L11)

[2022-09-01 17:19] tnorling commented on #5144
Please also update to 2.28.1. The version you are using is almost 2 years old.

[2022-09-01 17:23] tnorling commented on #5146
In the [`authRequest` field](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md#optional-authrequest) of your interceptor config.

[2022-09-01 17:26] ionut-gheorghe commented on #5146
I'm using the provided interceptor from the library, I do not have any other interceptor that uses msal.

[2022-09-01 17:52] ionut-gheorghe commented on #5146
Is not throwing errors when there is only one http call. If there are more concurent http calls it throws the error, 4 http calls, 4 errors

[code]

[2022-09-01 22:57] jo-arroyo commented on #5132
@ionut-gheorghe Needing to login interactively after 24 hours is expected behavior. Refresh tokens used in single page apps and with the authorization code flow are limited to 24 hours. Once outside the 24 hour window, it is supposed to fail and require interactive login. While we recognize that this is not the best user experience, the 24 hour limit was chosen for [security reasons](https://docs.

[2022-09-02 07:50] supriyaGannvi commented on #5132
![Screenshot (62)](https://user-images.githubusercontent.com/111850297/190657801-fbb0c2a8-5923-4037-8c4e-556e88552226.png)

[2022-09-02 07:51] supriyaGannvi commented on #5132
![Screenshot (61)](https://user-images.githubusercontent.com/111850297/190657896-9e76386c-e06a-4319-88c2-f01f709c4553.png)

[2022-09-02 07:52] supriyaGannvi commented on #5132
@jo-arroyo i have send u the screen shot verbose logs

[2022-09-02 09:21] itstaby opened #5165 "No refresh token in acquireTokenOnBehalfOf response"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

I'm working on a Teams app and integrating Graph API into some of the server side operations.

I first use the Teams SDK to request a token with the required scopes on the app cli

[2022-09-02 12:42] deepti1805 commented on #5144
@tnorling - actually our website in production environments since 2 year back that’s why we are using this oldest version. I will let team know about updation of version but for now we need to resolve this issue.If we have any workaround please do let me know.

please find the logs that you needed

[Fri, 02 Sep 2022 12:33:23 GMT] :  : 1.7.1 : Info - Emitting event: msal:handleRedirectStart [b2c__l

[2022-09-02 13:15] Uzef1997 commented on #4735
hello there any updates on the same?

[2022-09-02 16:25] florianeidner commented on #5002
As @svdHero and @derisen already figured out, the issue was related to our custom B2C policies. In the end, we were using `<OutputClaim ClaimTypeReferenceId="tenantId" AlwaysUseDefaultValue="true" DefaultValue="{Policy:TenantObjectId}">` in the `SignUpOrSignin.xml` policy and didn't assign the Output Claim "tenantId" in the Technical Profil for Session Management ("SM-RefreshTokenReadAndSetup").

[2022-09-02 16:28] tnorling commented on #5165
We intentionally do not return the refresh token on any of our APIs. See [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#how-do-i-get-the-refresh-token). When you need a new access token you should call `acquireTokenSilent` and MSAL.js will use its stored refresh token, if available, to get it for you.

[2022-09-02 16:34] tnorling commented on #5144
@deepti1805 So many changes have been made in the last 2 years that it's very likely this has been resolved in a newer version. Please update and then come back to us if it's still an issue in the latest version.

[2022-09-02 16:52] EmLauber commented on #4735
No updates, this ask remains uncommitted.

[2022-09-02 17:43] tnorling commented on #5146
@ionut-gheorghe Thanks for this, this does appear to be a flaw in the interceptor's fallback logic. What's happening is that the interceptor is not verifying the interaction status prior to invoking interaction when the silent token acquisition fails. So when all 4 requests fail they all invoke interaction and everything after the 1st throws. I'll mark this as a bug for us to address. Given the nu

[2022-09-02 17:56] jo-arroyo commented on #5132
@supriyaGannvi Please upgrade to the latest versions of msal-angular and msal-browser, and let me know if you are still experiencing this behavior.

Edit: If you are still experiencing this behavior, please copy and paste the verbose logs in a comment and provide a fiddler trace, thanks.

[2022-09-02 19:18] r-delgadillo commented on #5134
@bgavrilMS  For OBO flows, we are currently only getting an access token for MS graph (https://graph.windows.net/.default).

For, `acquireTokenByRefreshToken` we are issuing the following:
- ["https://graph.microsoft.com/.default"]
- ["https://graph.windows.net/.default"]
- ["https://management.azure.com/.default"]

For, `acquireTokenByClientCredential` we are issuing the following tokens:
- ["htt

[2022-09-04 01:01] ghost commented on #5091
@Benni03 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-04 05:16] fralejanro opened #5166 "Resources unprotected with wildcards don't work"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.2.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

I have a route `/reports/*` in which all the resources are protected except one` /reports/public/*`, when trying to indicate that the resource is unprotected usin

[2022-09-04 13:01] ghost commented on #5140
@SandonAhoy This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-04 13:01] #5115 closed, assigned to hectormmg

[2022-09-04 13:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-04 23:51] SandonAhoy commented on #5140
This seems to work thanks.

For future reference you want something like this:

[code]

[2022-09-04 23:51] #5140 closed, assigned to bgavrilMS, jmprieur, jennyf19

[2022-09-05 01:01] ghost commented on #5148
@nipothar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-05 01:01] ghost commented on #5095
@ViswanathCelitotech This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-05 01:01] ghost commented on #5090
@foramkumar-parekh This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-05 01:01] ghost commented on #4934
@zhshqzyc This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-05 01:01] ghost commented on #4921
@yoLotus This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-05 04:09] foramkumar-parekh commented on #5090
@bmahall can you please be more specific about point 1? Points 2 & 3 are correctly configured.

[2022-09-05 11:01] deepti1805 commented on #5144
@tnorling - updated to latest version but still got stuck with #state. Please check the logs.

[Mon, 05 Sep 2022 10:54:39 GMT] : @azure/msal-browser@2.28.1 : Verbose - handleRedirectPromise called b2c__libs.js:54:221263

[Mon, 05 Sep 2022 10:54:39 GMT] : @azure/msal-browser@2.28.1 : Verbose - getAllAccounts called b2c__libs.js:54:221263

[Mon, 05 Sep 2022 10:54:39 GMT] : @azure/msal-browser@2.28.1

[2022-09-05 13:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-05 13:01] ghost commented on #5113
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-06 01:01] ghost commented on #5153
@himesha-wijekoon This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-06 01:01] ghost commented on #5149
@byunru This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-06 01:01] ghost commented on #5089
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-06 01:01] ghost commented on #4935
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-06 05:39] aNyMoRe0505 commented on #5091
@tnorling thanks for your reply

I understand the race condition you have mentioned, and I log my path info in redirect page like this

[code]

![截圖 2022-09-06 下午1 23 13](https://user-images.githubusercontent.com/9814815/188554052-a5433a11-0cb8-4d6c-820e-d4817a3ace35.png)

and I check the url in browser bar. Indeed, the url has been updated without the hash

but the console only log the url with h

[2022-09-06 07:39] supriyaGannvi commented on #5132
![Screenshot (62)](https://user-images.githubusercontent.com/111850297/188640553-93cfdc11-7727-4b43-9873-f718d86a0b4d.png)

[2022-09-06 07:41] himesha-wijekoon commented on #5153
I emailed @tnorling the trace as he requested and now waiting for his feedback.

[2022-09-06 07:42] supriyaGannvi commented on #5132
@jo-arroyo
Still the issue persist and recent upgardation @azure/msal-angular :2.4.1 @azure/msal-browser : 2.28.1

[2022-09-06 08:06] supriyaGannvi commented on #5132
And this issue happens only if we are logging with different user

[2022-09-06 09:28] bgavrilMS commented on #5165
CC @Robbie-Microsoft as FYI

[2022-09-06 09:34] bgavrilMS commented on #5134
Yes @r-delgadillo, I think you can do that. You could:

- have 1 application object for `acquireTokenByRefreshToken ` and 1 for `acquireTokenByClientCredential`

If explicitly serialize (persist) your cache, e.g. you store the cache data to a file or smth, then just make sure the 2 application objects point to different files. Let me know if this is the case and I can advise further.

[2022-09-06 10:26] bgavrilMS commented on #5134
This would be a good bug to pick up for @Robbie-Microsoft, maybe @sameerag can act as advisor on this one?

[2022-09-06 10:54] bgavrilMS commented on #4879
Could it be a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5114 ?

[2022-09-06 13:00] itstaby commented on #5165
The documentation [here](soft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/acquire-token.md#acquiring-an-access-token) states that silent acquisition works by using the user session and an invisible iframe, but I'm doing OBO on the backend as per [these](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/tab-sso-graph-api?tabs=nodejs#configure-code-

[2022-09-06 13:42] rafagsiqueira opened #5173 "'MsalModule' does not appear to be an NgModule class"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

Cannot build angular library which imports MsalModule.

### Error Message

- Compiling with Angular sources in Ivy partial compilation mode.
✖ Compiling with An

[2022-09-06 14:02] estruyf opened #5174 "OBO issues after upgrading from 1.9.0 to any other version - Network request failed."
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

Our team updated the `@azure/msal-node` library from `1.9.0` to the latest version `1.12.1` and started seeing the following issue in the OBO flow:

[code]

Switching back to vers

[2022-09-06 14:59] bgavrilMS commented on #5165
OBO flow is for web APIs, so it expected that there is no UI / invisible iframe or anything like that. See token caching https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/caching.md - it shows how to persist the "whole" cache. If you don't persist it, MSAL will store it in memory.

MSAL js does not have documentation around distributed token caching yet

[2022-09-06 15:38] itstaby commented on #5165
Sounds good. Thanks for the guidance!

[2022-09-06 15:38] #5165 closed, assigned to tnorling

[2022-09-06 15:50] r-delgadillo commented on #4878
@emLauber @bmahall @jmprieur can we please get an ETA on this, thank you.

[2022-09-06 16:42] jasonnutter commented on #4879
Looks like #5174 is a similar issue.

[2022-09-06 16:47] tnorling commented on #5153
@himesha-wijekoon I've reviewed the trace - this is happening because somewhere in your application you are calling `acquireTokenSilent` with authority = your signUpSignIn policy & account = the account associated with your passwordReset policy. This results in an attempt to redeem the refresh token associated with your password reset policy for a token from your signInSignUp policy which is not a

[2022-09-06 16:54] derisen commented on #5002
@florianeidner sounds good -glad you got your policy fixed! Closing this as resolved.

[2022-09-06 16:54] #5002 closed, assigned to derisen

[2022-09-06 16:58] tnorling commented on #5144
@deepti1805

This line indicates what the problem is. MSAL doesn't think there is any interaction currently in progress, which means that temporary cache items in `sessionStorage` are not present. Please debug and confirm that your application is not clearing `sessionStorage`

[2022-09-06 17:10] tnorling commented on #5091
@aNyMoRe0505 In your case there appears to be an interaction type mismatch (indicated on the final log of your screenshot) i.e. you've called both loginRedirect and loginPopup and the hash represents one of those operations whereas the temporary cache values in sessionStorage represent the other. In general we recommend picking one interaction type and sticking with it, if that's not possible for

[2022-09-06 23:52] bmahall commented on #5174
@estruyf  Thanks for opening this issue, we are currently working on a fix and this is being tracked internally.

[2022-09-07 00:38] bmahall commented on #5173
@rafagsiqueira Thanks for opening this issue. What version of Angular are you using?

[2022-09-07 00:45] rafagsiqueira commented on #5173
@bmahall thank you for looking into it. I am on version 14.2.0.

[2022-09-07 01:01] ghost commented on #5155
@danielvoigt This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-07 01:01] ghost commented on #5138
@RadIsACoder This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-07 01:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-07 01:01] ghost commented on #4799
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-09-07 01:50] DewangS opened #5187 "How do you re-validate the token for session management?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

NA

### Public or Confidential Client?

Public

### Description

I have a single page React app. I use this @azure/msal-browser package's loginPopup() API to let my app user login using their Azure AD credentials. Once successfully signed in, their

[2022-09-07 02:20] aNyMoRe0505 commented on #5091
@tnorling thanks for your reply
I am sure that I don't call both loginRedirect and loginPopup at the same time
I will open another issue for this, thank you ❤️

[2022-09-07 06:53] fralejanro commented on #5166
After a long read of the documentation, I realized that I had to manually subscribe to handleRedirectObservable since my public routes were obviously not going to be protected by MSAL Guard. After this and a configuration of my routes by lazy loading it worked for me.

[2022-09-07 06:53] #5166 closed, assigned to bmahall

[2022-09-07 10:56] mchr3k commented on #5107
I think this ticket should still be open as https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5112 has not been merged yet.

[2022-09-07 11:06] Alino commented on #3923
I have created a sample repo with OIDC-client-ts lib instead of MSAL
https://github.com/Alino/OIDC-client-ts-chromium-sample

It actually works, I can sign in and sign out...

[2022-09-07 15:50] bgavrilMS commented on #5134
TTD test:

1. acquire token from ESTS `client_credentials` to ARM scope, store cache to a file
2. acquire token from ESTS `refresh_token` to ARM scope
3. repeat 1. It might repro the bug.

[2022-09-07 16:35] bmahall commented on #4878
Hi @r-delgadillo  , we have a PR for this coming this week , the work is in progress and under review.
Thanks for your patience.

[2022-09-07 17:23] derisen commented on #5187
@DewangS client apps shouldn't build logic around claims in an access token. Token validation is to be done by the resource server (your backend, MS Graph etc.). The correct pattern is to always call msal's `acquireToken*` before you make a call to a resource server, and msal will do it's best to return a fresh access token to you.

[2022-09-07 20:28] bmahall commented on #5187
@DewangS As suggested above, you don't need to manually check token validity and should use acquireTokenSilent  API .
For more information, refer to [Token Lifetimes](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md)

[2022-09-08 00:07] bmahall commented on #5173
@rafagsiqueira Can you try the following steps in sequence and let me know if this fixes the error you are getting:-
1. Delete node_modules and reinstall all dependencies using npm install
2. Add the following line in tsconfig.json:-
            "importHelpers": true
3. Check that you are including all the relevant imports in your code file, including import { NgModule } from '@angular/core';
4. R

[2022-09-08 01:01] #5130 closed, assigned to jo-arroyo

[2022-09-08 13:01] #5127 closed, assigned to tnorling

[2022-09-08 15:07] supriyaGannvi commented on #5132
@bmahall  could u please help how can we resolve this issue

[2022-09-08 16:48] manio143 commented on #5083
The issue has been fixed in the token issuing service, no changes to MSAL.js are required.

[2022-09-08 16:48] #5083 closed, assigned to jasonnutter

[2022-09-08 21:05] rafagsiqueira commented on #5173
@bmahall we solved the issue. It seems related to the docker context. We are now building the library directly on the build agent and copying it to the docker image already built.

[2022-09-08 21:05] #5173 closed, assigned to bmahall

[2022-09-08 21:32] bmahall commented on #5155
@danielvoigt Are you still facing any issues in setting active account?

[2022-09-09 03:29] DewangS commented on #5187
Thanks @derisen  and @bmahall  though the question was, is there an API in this package (and in MS Graph) to validate the existing token which was acquired from the initial login and also some kind of flag if it has expired. Saves me from creating database based persistence and session time management.

[2022-09-09 07:00] lemt93 commented on #3649
Is there any updates on this?

In our application, we are fully aware of this could harm the user experience. But that's also exactly what we want for our application.

Any workarounds that I can use atm?

[2022-09-09 07:04] bmahall commented on #5187
@DewangS I see, are you trying to validate an Access Token for MS-Graph or for your own custom API?

[2022-09-09 07:12] bmahall commented on #5132
@supriyaGannvi Thanks for upgrading to recent version of msal-browser . Do you experience the looping issue with acquireTokenPopup() API as well?
It would be more helpful if you can kindly provide the logs in a text format using notepad, in place of screenshots as suggested above too.

[2022-09-09 07:13] bmahall commented on #5132
@ionut-gheorghe Please feel free to open a separate issue in case of any further questions. Thanks!

[2022-09-09 07:15] bmahall commented on #5095
@ViswanathCelitotech If you need help sending verbose logs, or fiddler trace please let me know. Thanks

[2022-09-09 07:25] bmahall commented on #5095
@ViswanathCelitotech  To enable verbose logs:-You can change the logLevel in config as below:-

`auth: {
      clientId: clientid
      authority: authority,

    },
    cache: {
      cacheLocation: BrowserCacheLocation.LocalStorage,
      storeAuthStateInCookie: isIE
    },
    system: {
      loggerOptions: {
        loggerCallback,
        logLevel: LogLevel.Verbose, // Change to Verbose here

[2022-09-09 07:41] supriyaGannvi commented on #5132
@bmahall its only happening while we are using loginRedirect

[2022-09-09 14:47] MateusDev98 commented on #4799
Good afternoon, it's been a while and we don't have an answer, do you have anything for us? @tnorling

[2022-09-09 15:25] awanlin commented on #4879
@bgavrilMS took a look at that issue and we aren't using `mailgun-js`, appreciate the suggestion though

[2022-09-09 15:28] awanlin commented on #4879
@jasonnutter took a look at this issue as well and we aren't using the OBO flow and they are getting a different error message with a 400 status code which we aren't seeing. Thanks for suggesting this though

[2022-09-09 16:26] rafagsiqueira opened #5192 "Use credentials obtained by msal-node for e2e tests on msal-angular"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL Node Extensions (@azure/msal-node-extensions)

### Public or Confidential Client?

Public, Confidential

### Description

Most test runners allow running a global script to populate browser session storage before running tests.
This could allow a scenario where a confidential client co

[2022-09-09 17:28] AK-Loblaw commented on #4921
@yoLotus, @sameerag, any more details on this? I've been experiencing the same issue. Hoping it doesn't get closed.

[2022-09-09 18:09] bmahall commented on #5192
@rafagsiqueira Please refer to this [sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/2771) that illustrates how to use msal-node ROPC flow in test environment to obtain cached credentials that can be used for e2e testing . Please note ROPC is meant to be used for testing only and not in prod environment.

[2022-09-10 01:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-10 07:32] DewangS commented on #5187
@bmahall My app uses MS Graph API when user tries to initially login. It authenticates them against the Azure AD. This is all working though I need to manage sessions i.e. user should be re-directed to the login page if their idToken expired. I can see the response from MS Graph API suing this NPM package, returns expiry date\time in Unix date\time format though I want to use any other API from MS

[2022-09-10 13:01] ghost commented on #5090
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-11 01:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-11 01:01] ghost commented on #5113
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-11 12:23] jcharnley commented on #5113
I implemented The ARM Api however this does not allow for type guests users, it only works for AAD members. I have found a working solution, I now send over the tenantID as a query parameter in the sharing url, and I update the authority on login request. This can be closed now but could be a idea to look into guest accounts in a multi tenant setup as people will run into this problem

[2022-09-11 12:23] #5113 closed, assigned to hectormmg

[2022-09-11 13:01] ghost commented on #5089
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-11 13:01] ghost commented on #4935
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-11 16:46] diamantisufi opened #5196 "Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.6

### Public or Confidential Client?

Confidential

### Description

Hi guys, I'm getting this error while trying to login with 'popup' interaction.

Cross-origin token redemption is permitted only for the 'Single-Page Applicat

[2022-09-12 00:56] sameerag commented on #5196
@diamantisufi Is your application type `web`? Can you change the app-type to `SPA` in the [portal](https://ms.portal.azure.com/#home) and let us know if the login works?

[2022-09-12 00:57] sameerag commented on #5196
Also I see the app type is set as `Confidential`. React is supported only for browser apps which are `PublicClient`.

[2022-09-12 01:01] ghost commented on #5174
@estruyf This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-12 01:01] ghost commented on #5153
@himesha-wijekoon This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-12 01:01] ghost commented on #5144
@deepti1805 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-12 01:01] ghost commented on #4932
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-09-12 05:56] estruyf commented on #5174
Thanks @msftbot, but I'm waiting on the fix 😆

[2022-09-12 07:37] ludwich commented on #5091
I have the same issue in Vue 3. There is no logic to this either since it happens sometimes and sometimes it just works. Weird that it is showing the application itself.

[2022-09-12 07:39] diamant-isufi-sveasolar commented on #5196
@sameerag could you guide me on how to change the app-type and PublicClient.

[2022-09-12 13:01] #4934 closed, assigned to jo-arroyo

[2022-09-12 14:58] rafagsiqueira commented on #5192
@bmahall I tried a similar approach with @azure/msal-node ConfidentialClientApplication, but msal guard doesn't recognize the user as authenticated. Upon inspecting the local storage, I noticed that homeAccountId = "". Is that the reason? Does that mean acquiring the access token with ConfidentialClientApplication is not supported?

[2022-09-12 15:23] himesha-wijekoon commented on #5153
@tnorling Thanks for investigating this. However this call is made by the MSAL library, not by our code as per my understanding. It only happens for random users. Do you have any clues to find why it can only happen for specific users only?

[2022-09-12 16:59] tnorling commented on #5153
@himesha-wijekoon You should check to see where you are configuring your token requests and ensure that if you are providing an account on the request that it matches the authority. If you are not providing an account on the request the only other possibility is that you are using the `setActiveAccount` APIs. If this is the case you need to ensure that the active account matches the authority you'

[2022-09-12 17:20] nipothar commented on #5148
Thanks @tnorling for the information.

I have a few more questions:

1. Where can we get the "loginHint" optional claim from? It looks like the account information does not have that property.
2. You mentioned this could happen if 3p cookies are blocked by browser. My understanding is that the cookies should not make any difference in our case since we disable the cookies and use storage instead i

[2022-09-12 18:14] r-delgadillo commented on #5134
@bgavrilMS do you know who will be taking point on this and the potential timeline to get a fix out? Thank you

[2022-09-12 19:44] 1hw7 commented on #5111
To update: user is not actually signed out and the user is sso'd back into the app. It seems the server session is not ended?

[2022-09-12 22:22] nedgrady opened #5198 "AADSTS90009 (I think) due to no scope form parameter on refresh"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.0

### Public or Confidential Client?

Public

### Description

When the library makes a refresh request (using `aquireTokenSilent`) I get a 400 error back from the _/token_ endpoint. Initially obtaining the token works fine wit

[2022-09-12 22:50] ghost commented on #5107
:tada:This issue was addressed in #5112, which has now been successfully released as `@azure/msal-browser@v2.28.3`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.28.3)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.28.3)

[2022-09-13 01:01] #5149 closed, assigned to tnorling

[2022-09-13 03:26] rbWies opened #5205 "Content overflow on login screen - Electron"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.0.0-beta.0

### Public or Confidential Client?

Public

### Description

When creating a new browserwindow object in electron the login page content has an overflow, showing a scrollbar. The scrollbar only moves a tiny amount up and down. Would be be

[2022-09-13 07:56] zhongsp opened #5206 "Is is possible to set token validation "clockSkew" in @azure/msal-browser lib?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Public or Confidential Client?

Public

### Description

How to set the `clockSkew` setting for token expiration validation in `@azure/msal-browser` lib?
If it's not supported, what's the reason? Thanks.

### MSAL Configuration

[code]

##

[2022-09-13 18:21] drcrook1 opened #5207 "Resolve 2 HIGH severity VULNERABILITIES"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Description

Just feels wrong to be installing a security focused sample and on a fresh install of it I get a big red warning that says I now have 2 high severity vulnerabilities.

<img width="787" alt="image" src="https://user-images.githubuserco

[2022-09-13 18:32] drcrook1 opened #5208 "Installation Instructions Don't Work"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples/react-router-sample

### Description

I literally copied the installation instructions, and it did this:

<img width="85

[2022-09-13 18:38] drcrook1 commented on #5207
If I install the dependencies for the router example, I increase my HIGH SEVERITY VULNERABILITY count to 6
<img width="691" alt="image" src="https://user-images.githubusercontent.com/6099287/189983530-cc521a29-e0fc-4260-8f99-00d6a714733e.png">

[2022-09-13 18:43] sameerag commented on #5208
@derisen Can you help with this?

[2022-09-13 18:44] sameerag commented on #5207
@drcrook1 We will address this asap. We have a periodic check point to resolve these in general, I will track this ticket to make these changes.

[2022-09-13 18:51] drcrook1 commented on #5207
Might be related to this: https://overreacted.io/npm-audit-broken-by-design/ if it is, it is an unfortunate situation that hopefully can be resolved at the ecosystem level.

[2022-09-13 19:21] drcrook1 commented on #5207
the 6 vulnerabilities are a cumulative counting based on the dependency chain which starts at react-scripts which is a build time tool.  Its worth further investigation but the "high" severity is probably a bit ambitious of a mention from the tooling.  So _really_ this appears to be only a single vulnerability which is deep in the dependency tree of the build tooling used for this project.  The sp

[2022-09-13 20:13] derisen commented on #5207
@drcrook1 as you found out, these vulnerabilities are coming from the `react-scripts` package, and are essentially false positives.  Here is [the notice from the devs](https://github.com/facebook/create-react-app/issues/11174#issue-935928547). I've made a note to move it into `devDependencies` section. If you are running into issues in CI/CD, you should use `npm audit --production` instead of `npm

[2022-09-13 20:16] derisen commented on #5208
@drcrook1 apologies for the hassle. Will double check the steps and update as necessary. I assume you are running into issues when trying to use the local build. Did you give a try to install published versions instead? Essentially:

[code]

[2022-09-13 20:31] derisen commented on #5205
@rbWies thanks for catching this! I've created a new [issue in the sample repo itself](https://github.com/Azure-Samples/ms-identity-javascript-nodejs-desktop/issues/10) instead. Will try to reproduce this and respond accordingly. Closing this one.

[2022-09-13 20:31] #5205 closed, assigned to derisen

[2022-09-13 20:51] derisen commented on #5187
@DewangS just to clarify a few things:

- The ID token is only meant for your client application. It should not be used for accessing a web API (Microsoft Graph will not accept an ID token in any case).
- If you need to manage user session in your app based on ID token expiry, you should look at the [exp claim](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#payload-claim

[2022-09-14 00:29] DewangS commented on #5187
Thanks @derisen . Correct, I am just using MS Graph for the initial auth against our AD. Not using pr planning to use any other MS Graph APIs. At the moment, I am successfully logging in user and storing their session details in the local storage.. just their userid and the idtoken. I can also convert and store the token expiry date\time in the local storage and validate against each request thoug

[2022-09-14 01:23] pondchamp opened #5209 "endpoints_resolution_error on ROPC flow in msal-node (B2C)"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

I recently ran into the exact same issue encountered here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4099

My understanding is that ROPC flows for AAD B2

[2022-09-14 03:23] aNyMoRe0505 opened #5210 "how to implement promptless logout with msal"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Public or Confidential Client?

Public

### Description

Hello, I am using Azure AD B2C custom policy to implement sign-in, sign-up flow

I want to implement [promptless logout](https://github.com/AzureAD/microsoft-authen

[2022-09-14 08:43] supriyaGannvi commented on #5132
@bmahall could u please help us out

[2022-09-14 13:01] #5138 closed, assigned to tnorling

[2022-09-14 13:13] drcrook1 commented on #5207
On the learning path for node here, npm audit --production produces the same result still, I'm sure its some kind of config issue I'll resolve later.

For now, I'm content enough knowing its a false positive.  It might be worth documenting this though in the docs because I think a lot of folks will probably have the same initial reaction I did but may not necessarily research it further to this co

[2022-09-14 13:13] #5207 closed, assigned to sameerag

[2022-09-14 15:53] sameerag commented on #5209
Ack. Will reproduce this and reach out.

[2022-09-14 16:24] sameerag commented on #5206
@zhongsp Yes, it is. You can set `system.tokenRenewalOffsetSeconds` in your  msal `Configuration` to achieve this.

[code]

Hope this helps.

[2022-09-14 16:27] sameerag commented on #5210
@aNyMoRe0505 We do not have support for this in B2C yet. There is an open feature request on the service team regarding the same, and I tagged this issue with the same ticket

The idea is to enable a user send `logout_hint` to the `logout_endpoint` which enables logout without the screen selection of the user account (as it is today).

[2022-09-14 16:42] sameerag commented on #5210
Hey @aNyMoRe0505 , on a second check, I believe this is possible with B2C by passing an `id_token_hint` to the `logout endpoint`. Please check the issue #3569 for details.

[2022-09-14 16:43] sameerag commented on #5196
@derisen Do we have docs demonstrating this?

@diamantisufi In your app registration, there is a left blade for `Authentication`:

<img width="275" alt="AuthenticationBlade" src="https://user-images.githubusercontent.com/21958742/190212780-0b345a07-3cc7-426c-b2de-e9ce01e327ce.png">

Once you go to the screen it has an option to `Add a platform` and you should be able to add the `SPA` type.
Hope th

[2022-09-14 18:25] bmahall commented on #5174
@estruyf The fix [#5175 ](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5175) is going to be part of next release. Thanks for your patience. Feel free to drop your suggestions on the same.

[2022-09-14 18:40] bmahall commented on #5187
@DewangS Thanks for elaborating further. As @derisen  mentioned above, the idToken is not tied to the web resource that you are trying to access.
In order to renew id tokens, you need to use acquireTokenSilent with the client-id of your application as the scope. This api will automatically fetch a valid IdToken for you in case of expiration.

If the session is not valid at that point, Msal will th

[2022-09-14 18:57] bmahall commented on #5132
@supriyaGannvi Can you please share code snippet(masking any critical auth data) where you are calling loginRedirect() and handling the response?
It is possible that the application logic is improperly using the handleRedirect() Api. Please refer to this document which explains the point:- [Angular -looping when redirect](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/

[2022-09-14 19:17] James-Thibaudeau commented on #4921
I am also having the same issue, using MSAL.js v2 (@azure/msal-browser) 2.28.3

[2022-09-14 19:20] bmahall commented on #5090
[](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5090#issuecomment-1236522163)

Regarding point 1:-
The server needs to be SSL/TLS enabled.

Can you please ensure that the logoutRedirectUri and postLogoutRedirectUri are both set correctly, and there is no inconsistency between the url's mentioned in the Azure and your application.

Are you facing similar error on Firefo

[2022-09-14 20:41] bmahall commented on #4935
@danielvoigt After looking into the source code you have linked above, it is possible that handleRedirectPromise has not finished when you call getAllAccounts().

Can you please ensure that handleRedirectPromise() completes, and then use getAllAccounts() API.
You could call getAllAccounts() inside the else block here:
`else {

          // If the tokenResponse !== null, then you are coming back fr

[2022-09-14 22:58] zhongsp commented on #5206
@sameerag Thanks, it helps a lot!

[2022-09-14 22:58] #5206 closed, assigned to sameerag

[2022-09-15 01:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-15 03:34] aNyMoRe0505 commented on #5210
@sameerag Thank for your reply

I tried to pass `idToken` which from `acquireTokenSilent` response in logoutPopup function

[code]

But it still popup a modal to logout, I think I misunderstand something... 🤔

BTW, the issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3569 you mentioned, it seems that `idToken` will expose in account object now, but I log my account o

[2022-09-15 03:51] bmahall commented on #4932
Closing this as similar to #3758.

[2022-09-15 03:51] #4932 closed, assigned to bmahall

[2022-09-15 05:35] DewangS commented on #5187
Thanks @bmahall for the detailed explanation. For now I've just implemented local session management i.e. if the session is idle for a set amount of time, user gets logged out.

[2022-09-15 05:35] #5187 closed, assigned to bmahall

[2022-09-15 06:48] adityavikasd commented on #4104
Same error occurred in my app (and also a loop of redirects) due to 2 things:

1.  Missing` *ngIf="!isIframe"` in the `app.component.html`'s `router-outlet`. Make sure it is
    `<router-outlet *ngIf="!isIframe"></router-outlet>`
2. Setting the active user (using `this.msalService.instance.setActiveAccount(allAccounts[0]);`) from the constructor of an Angular Service or the Bootstrap Component (`A

[2022-09-15 08:36] aNyMoRe0505 commented on #5091
I just come up with a workaround

According to tnorling [mentioned](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5091#issuecomment-1230543003) above, this is a race condition between the popup window and the caller.

if set the redirect uri to blank page not work for you, you can try my workaround

let's say your redirect uri page is A component, you can save the hash

[2022-09-15 10:49] aleon0103 commented on #4910
I got it working on iOS using Capacitor with the Cordova InAppBrowser plugin on IOS 16  I use this approach
https://stackoverflow.com/a/73729743/20002757

instead of use  _msalInstance.loginPopup(); try to use LoginRedirect

[2022-09-15 13:57] GodaProjects opened #5216 "Test "unverified" app - "are you trying to sign in to **app name**? only continue if you downloaded the app from a store or website that you trust" prompt"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.7

### Public or Confidential Client?

Public

### Description

Hi All,

I have created a test app in Azure ad. I have exposed permissions for reading user profile data and onedrive file contents. I am using msal-react 1.4.7. I

[2022-09-15 14:14] svdHero commented on #5002
@derisen I have a follow-up question here. I've just added end-to-end tests using Playwright and ran into problems when trying to save and restore browser storage snapshots. In a nutshell, Playwright can only capture local storage state but not session storage state, which causes my end-to-end tests to fail, because MSAL loses the authentication cache. For more details see [this issue](https://git

[2022-09-15 14:26] kengaderdus commented on #4939
@Robbie-Microsoft

Any updates?

[2022-09-15 16:04] estruyf commented on #5174
Hi @bmahall just started testing out your PR. It seems to have brought back the experience of how it was working in version `1.9.0`. Thanks!

[2022-09-15 16:37] Robbie-Microsoft commented on #4939
We believe that @derisen's fix in [this PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4999) will fix the issue.

[2022-09-15 17:43] bmahall commented on #5174
Thanks for taking time to test it , @estruyf
Keeping this issue open until the PR is not part of official release.

[2022-09-15 17:46] bmahall commented on #5089
@h3rmanj  Linking the email communication here for reference:-
Thanks so much for sharing the logs over email .
Based on the verbose logs, I am interested in the below:-

1.Can you try setting  navigateToLoginRequestUrl:false in the config?

2.  Are you registering callback in your code to handle the redirect response?
A snippet of how you are handling redirect response and where you are registeri

[2022-09-15 18:31] derisen commented on #5002
@svdHero would you mind creating a new issue so that this gets more visibility?

[2022-09-15 18:41] tnorling commented on #4796
@WellyHong After looking at this further I'm not sure we can address this from our side without breaking other scenarios we need to support. If this is still an issue for you my suggestion would be to have the home route (`/#/`) and the auth code route (`/#code=`) render the same content so that the removal of the auth code doesn't cause your site to re-render.

[2022-09-15 18:41] #4796 closed, assigned to mpminayo

[2022-09-15 19:26] sameerag commented on #5216
@GodaProjects Is this a desktop app?

[2022-09-15 20:04] #4939 closed, assigned to Robbie-Microsoft

[2022-09-15 20:06] derisen commented on #4939
@kengaderdus the fix for this has been merged and will be available in the next release of msal-node. Closing as no further action at the moment. cc @Robbie-Microsoft

[2022-09-15 22:43] #4445 closed, assigned to Robbie-Microsoft

[2022-09-15 22:49] sameerag commented on #5216
@GodaProjects Where is your app running? Mobile space? or in a standalone browser?

[2022-09-16 01:01] #5155 closed, assigned to tnorling

[2022-09-16 04:49] yadhunandantg commented on #5216
Standalone browser

[2022-09-16 06:58] svdHero opened #5221 "Add Pros and Cons for Cache Location (session storage vs. local storage)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/caching.md#cache-storage

### Description

Why has Microsoft chosen session storage over local storage as a default value for

[2022-09-16 06:59] svdHero commented on #5002
@derisen issue created: #5221

[2022-09-16 10:35] mariiasonina opened #5222 "BrowserAuthError: monitor_window_timeout instead of InteractionRequiredAuthError when the refresh token expires"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Public or Confidential Client?

Public

### Description

I faced a problem with receiving the real InteractionRequiredAuthError (which I can see in the network tab: "error":"invalid_grant") after the refresh token expires

[2022-09-16 13:01] #5095 closed, assigned to bmahall

[2022-09-16 13:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-16 14:20] sameerag commented on #5134
@Robbie-Microsoft will be. We can reach out soon regarding the timeline, need to re-assess some of the other issues which are in the pipeline. Please watch out this space.

[2022-09-16 14:26] sameerag commented on #5221
@svdHero The difference between these storage types is exactly as the MDN docs mention it [here](https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API).

We chose to make `sessionStorage` default as it has  less persistence among the two. However choosing a specific storage totally depends on your application model and how you want the cache to persist across tabs, across sessions and i

[2022-09-17 02:17] derisen commented on #5221
@svdHero cache location choice is essentially a tradeoff between user experience vs. security. Since session storage has shorter lifespan and not shared between tabs, it creates smaller attack surface. In general, using the session storage whenever possible (instead of local storage) is a security [best practice](https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html). So t

[2022-09-18 01:01] ghost commented on #5153
@himesha-wijekoon This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-18 01:01] ghost commented on #5198
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-09-18 01:01] ghost commented on #5192
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-09-18 01:01] ghost commented on #5148
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @tnorling please follow up.

[2022-09-18 21:00] sameerag commented on #5221
@derisen Do we need to document this?

[2022-09-18 21:23] sameerag commented on #5192
@rafagsiqueira What happens if you acquire tokens with msal-node as a `Public Client` app and try the same use case? Does that work?

[2022-09-18 21:27] sameerag commented on #5210
Yes. And not necessarily that, eSTS also renders an account selection page even if there is a single account unless you pass t
the `id_token_hint` which is the `idToken` for B2C use cases.

Nope. As you highlighted above, the `id_token_hint` addresses the server interaction only.

[2022-09-19 01:01] ghost commented on #5208
@drcrook1 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-19 01:01] #5144 closed, assigned to tnorling

[2022-09-19 04:00] sameerag commented on #4921
@James-Thibaudeau @AK-Loblaw and @yoLotus
Did the suggestion above by @wnuczek work in your case?

I am picking this issue and will be working with @bmahall to reproduce it.

[2022-09-19 04:01] sameerag commented on #4921
Same as #4458

[2022-09-19 04:02] sameerag commented on #4625
Update: MSAL JS already has all the code changes needed regarding this change. Azure SDK dev is currently adding tests to confirm the consistency of the authority behavior.

@KarishmaGhiya please close this once you are able to test all the use cases.

[2022-09-19 04:04] sameerag commented on #5111
Can we please get the msal and network logs @1hw7?

[2022-09-19 04:06] sameerag commented on #5196
Did this solve your issue @diamantisufi?

[2022-09-19 04:36] sameerag commented on #5198
@nedgrady The error indicates improper scopes for the token requested and it is thrown by eSTS. MSAL JS is only communicating the error to you.

 `getServiceToken` calls the `acquireTokenSilent` which basically tries to renew your session if the `refresh_token` is available and the `access_token` in the cache is expired. When that fails, it throws.  However, I see that there could be a case where

[2022-09-19 07:29] Onokaev opened #5226 "Getting new authentication result after updating dissenting to a permissions still returns the dissented permission in the scopes array"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

I am implementing a feature where our users should be able to dissent to permissions already granted. I am using the /v1.0/oAuth2PermissionGrant endpoint for this. The permissions a

[2022-09-19 09:50] andreaslarssen commented on #3758
My issue (#4932) was closed in favor of this one. @bmahall answered that one with `I am currently looking into this , thanks for your patience!`, but this issue hasn't moved in almost a year.

[2022-09-19 15:00] nedgrady commented on #5198
Thanks for the response @sameerag. Really appreciate the thoughts & help.

Is there a way I can ensure the correct scope is supplied when the session is renewed? (e.g. the same scope as when the token is initially retrieved)

[2022-09-19 16:51] nipothar commented on #5148
Hi @tnorling, following-up on this. Do you have any updates on the questions above? Thanks!

[2022-09-19 17:37] tnorling commented on #5148
@nipothar

1. loginHint is an optional claim that must be [enabled on your app registration](https://learn.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-optional-claims)
2. There are 2 different sets of cookies. The first are temporary cookies used by MSAL.js to keep track of the auth request through the entirety of the request. These are only need

[2022-09-19 18:52] sameerag commented on #5222
@mariiasonina msal js handles the `invalid_grant` error internally by retrying the request with the `/authorize` endpoint as per the spec [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).  If the request fails even after the retry, we throw and that is when `monitor_window_timeout` is thrown (where the iframe could not authorize on time and times out

[2022-09-20 01:01] ghost commented on #5209
@pondchamp This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-20 01:01] ghost commented on #5090
@foramkumar-parekh This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-20 01:01] ghost commented on #4935
@danielvoigt This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-20 01:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-20 01:12] pondchamp commented on #5209
Replying to keep this thread active. Thanks!

[2022-09-20 03:14] foramkumar-parekh commented on #5090
@bmahall
I figured out that the app service was enabled for HTTP and HTTPS. After changing it to HTTPS only, it is working as expected.

[2022-09-20 03:14] #5090 closed, assigned to bmahall

[2022-09-20 03:49] aNyMoRe0505 commented on #5210
@sameerag  thank you, I have no further questions, let me close this issue

[2022-09-20 03:49] #5210 closed, assigned to sameerag

[2022-09-20 05:52] yadhunandantg commented on #5216
@jasonnutter Any clues for me? thanks.

[2022-09-20 09:29] h3rmanj commented on #5089
Hi again, thanks for the answer. I will try to reproduce again, but it'll take a day or so to get an expired token. Do you by any chance know of any tool to export and import session storage, so I can try to develop with a broken one for easier debug and fixing?

I use `@azure/msal-react` with redirect. I also have an authorizedFetch method calling acquireToken directly on the public client instan

[2022-09-20 13:03] mariiasonina commented on #5222
@sameerag thank you for the explanation.
What do you mean by the Interactive flow? I'm assuming that the call to acquireTokenRedirect after the failure of acquireTokenSilent is an interactive flow. Am I wrong?
I noticed that after the refresh token expires and the user is logged in, the first token post request has grant_type: authorization_code and that request succeeds, but the second one has gr

[2022-09-20 14:51] grgicpetar opened #5230 "Is it possible to have multiple application logins?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.7

### Public or Confidential Client?

Public

### Description

Application usage scenario:

Landing page -> _Azure AD B2C login_ -> some functionalities -> _Azure AD B2B login_ -> all functionalities

After authenticating with

[2022-09-20 15:52] jasonnutter commented on #5216
@yadhunandantg Can you please provide a screenshot of the message you are referring to? Also, a correlation id and timestamp of a login request for your app would be helpful.

[2022-09-20 15:55] jasonnutter commented on #5226
@Onokaev Have you noticed any patterns here? For example, a certain amount of time passing?

Worth noting from [the documentation](https://learn.microsoft.com/en-us/graph/api/oauth2permissiongrant-delete?view=graph-rest-1.0&tabs=http):

[2022-09-20 16:10] sameerag commented on #5196
Closing this, please open a new issue if you still have questions.

[2022-09-20 16:10] #5196 closed, assigned to sameerag

[2022-09-20 16:41] jasonnutter commented on #5230
@grgicpetar

are available. To be granted access to all the functionalities, user must authenticate with Azure AD B2B this time.

To be clear, do you want users to authenticate directly against AAD (i.e. MSAL -> AAD, [as opposed to via B2C](https://learn.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow), i.e. MSAL -> B2C -> AAD)?

You can

[2022-09-20 16:45] sameerag commented on #5198
@nedgrady
On second look, I think your code is behaving as expected. I missed the comment you added that the silent call always works.

Does this mean that the token acquisition is indeed successful?

There are some cases where if the fetch fails from `/token` endpoint, `msal js` retries the request with `/authorize`. I would like to check the fiddler trace for your use case to actually see what i

[2022-09-20 17:05] sameerag commented on #5209
@jasonnutter Can you please take this over?

[2022-09-20 20:32] sameerag commented on #5222
Yes.

* When `acquireTokenSilent` is called, we first try to fetch the tokens from the cache.
* If the `access_token` is expired, we try to refresh the tokens in the background with the `grant_type=refresh_token`.
* If the `refresh_token` is also expired, and the request fails with `invalid_grant`, we initiate the call to the `/authorize` endpoint in an iframe to attempt to fetch tokens silently f

[2022-09-20 20:40] rutherfordjp8 commented on #4921
Having same issue with msal-react. A fix would be much appreciated!

[2022-09-20 21:07] nedgrady commented on #5198
Have shared some logs with you.

Yeah I can see a token returned by getServiceToken(), but still see an uncaught error in the console. If I wrap an error boundary around my whole app:

[code]

What I see in the console is:

And I see the "Something went wrong." error on screen.

Very confusing.

[2022-09-21 01:01] ghost commented on #5174
@estruyf This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-21 06:30] grgicpetar commented on #5230
@jasonnutter

I am aware that I can change authorities on a per request basis, but what I need to do is change ClientId  on a second authorization request.

I believe this should explain my use case more clearly:

Landing page -> _Azure AD B2C login (Client ID 1)_ -> some functionalities -> _Azure AD B2B login (Client ID 2)_ -> all functionalities.

As far as I know, I didn't see any example where

[2022-09-21 08:02] blockingHD opened #5231 "Using multiple B2C sign in policies"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

We are looking at implementing a impersonation flow to our Angular application. Currently we are using a custom sign-in sign-up policy using local accounts.

Th

[2022-09-21 08:28] h3rmanj commented on #5089
To give more context, a very simplified version of my app;

[code]

I suspect that `MsalAuthenticationTemplate` might be rendering it's children, even though the token in cache has expired, which would make the `App` component try to fetch data and trying to acquire a token from the instance.

After reading the source code for `handleRedirectPromise`, it seems to return a singleton promise of sort

[2022-09-21 09:32] yadhunandantg commented on #5216
@jasonnutter Here is the snapshot.

![Screenshot from 2022-09-21 13-03-52](https://user-images.githubusercontent.com/113335671/191469690-54c71d93-686f-4641-8159-cbc14f6f6dad.png)

I have not configured logs. Should I do that?

[2022-09-21 12:45] prattyaDatta opened #5232 "Azure AD in nodejs unable to resolve endpoint in the keyvault when in vnet"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

none

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Public or Confidential Client?

Public

### Description

I am using @azure/identity for an app registered in azure AD which has all the access to the keyvault. The node js app where this package is used, uses @azure/keyvault-secrets to get

[2022-09-21 13:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-21 15:33] jasonnutter commented on #5230
@grgicpetar In that case, you will need multiple instances of `PublicClientApplication`.

[2022-09-21 15:37] jasonnutter commented on #5231
@blockingHD You can set the `authority` for a given request on a per-request basis, which would enable you to login with a different B2C policy than the one set in the configuration (`auth.authority` above). Have you tried this? If so, can you provide code snippets show what you tried and what happens when do?

[2022-09-21 16:32] jasonnutter commented on #5216
@yadhunandantg What is your client id?

[2022-09-21 17:25] jasonnutter commented on #5232
May be related to #4879

[2022-09-22 01:01] ghost commented on #5134
@r-delgadillo This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-22 01:01] ghost commented on #5132
@supriyaGannvi This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-22 04:04] yadhunandantg commented on #5216
@jasonnutter

[code]

[2022-09-22 07:04] p-rk commented on #5091
+1 same issue, even with the blank route this is still **not working**.

[2022-09-22 08:04] blockingHD commented on #5231
@jasonnutter Not sure how I can do this in my case as I want the authority to be accepted when the auth request is triggered externally to the application. IE a user goes into https://www.office.com/apps and clicks the enterprise application then they go straight to the b2c policy.

Going through the app is not ideal as we would have to create a page that routes them with the authority. Plus they

[2022-09-22 08:37] h3rmanj commented on #5089
I'm struggling to reproduce it now. I've had a tab/session open for a couple of days. Has there been a minor or patch which could have fixed this?

The versions from my logs are @azure/msal-browser@2.28.0 & @azure/msal-react@1.4.4.
The versions now are @azure/msal-browser@2.28.1 & @azure/msal-react@1.4.5.

But I can't see any meaningful changes in those versions. I'll give it some more time.

[2022-09-22 09:04] supriyaGannvi commented on #5132
@bmahall  still the issue persist

[2022-09-22 16:32] supriyaGannvi commented on #5132
@bmahall We have added the $Inprogress and handle the active account as suggest by you still we could see the login redirect issue

[2022-09-22 17:54] r-delgadillo commented on #5134
Adding comment to keep this item open.

[2022-09-22 17:59] jasonnutter commented on #5231
@blockingHD I'm not sure if this is possible, and I think the B2C support team will be able to provide a better answer: https://docs.microsoft.com/azure/active-directory-b2c/support-options

[2022-09-22 18:00] jasonnutter commented on #5216
@yadhunandantg It looks like this app is configured with `localhost` as the redirect URI? This prompt can be shown for requests made with `localhost` as the redirect URI, so I would not expect to see this prompt once you use a redirect URI for your own domain.

[2022-09-22 18:02] Robbie-Microsoft commented on #5134
Apologies @r-delgadillo. I have begun working on this today.

[2022-09-22 18:23] roopeshchinnakampalli opened #5238 "Redirect URL is converted to lowercase"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.24.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.3

### Public or Confidential Client?

Public

### Description

#3621 -  I'm looking for the fix for this issue which was reported last year. I can still reproduce this issue now with the latest code.

You can follow the sam

[2022-09-22 18:55] sushrut111 commented on #5091
Workaround if you are using React and logins with only popups -
In index.tsx / index.js =>
Replace
[code]
with
[code]

[2022-09-22 18:56] jasonnutter commented on #5238
@roopeshreddy Please provide code snippets that demonstrate your usage, including your configuration of MSAL Angular.

[2022-09-22 18:58] jasonnutter commented on #5091
As noted above, this can happen when the page you use as the redirect URI removes/changes the hash when the application is loaded in the popup. Consider turning off any router logic when your application is loaded in the popup in this scenario, or using a completely blank html page as the redirect uri.

[2022-09-22 19:01] jasonnutter commented on #5091
Also, the redirect URI used for a given request must be on the same origin as your application.

[2022-09-22 19:04] roopeshchinnakampalli commented on #5238
Hey @jasonnutter We've written a custom MSAL navigation client wrapper.

Basically, I've extended the Navigation Client as described here - [https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/performance.md](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/performance.md)

The below snip

[2022-09-22 23:49] sameerag commented on #5208
@drcrook1 @derisen provided the installation instructions above. Please raise a new issue with the relevant errors if the above steps still fail for you.

Closing this.

[2022-09-22 23:49] #5208 closed, assigned to sameerag

[2022-09-23 04:14] yadhunandantg commented on #5216
Thanks a lot Jason. That makes sense.  We can close this ticket now.

On Thu, 22 Sept 2022 at 23:31, Jason Nutter ***@***.***>
wrote:

[2022-09-23 10:37] supriyaGannvi commented on #5132
@bmahall  could u please helps us out

[2022-09-23 12:41] hansmaad commented on #3758
It would be great if the interceptor would be more open for extension in general. Every little attempt for customization usually means that we have to copy the whole thing and do changes instead of extending it.

[2022-09-24 13:01] ghost commented on #5111
@1hw7 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-25 01:01] ghost commented on #5192
@rafagsiqueira This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-25 01:01] ghost commented on #5148
@nipothar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-25 01:01] #5153 closed, assigned to tnorling

[2022-09-25 07:00] bmahall commented on #5132
@supriyaGannvi Can you please share the fiddler trace and verbose logs on the email on my Git profile? Thanks

[2022-09-25 07:11] bmahall commented on #5132
@supriyaGannvi Meanwhile , please refer to a couple of points : -
1. Are you able to reproduce the behavior with local Storage , rather than session storage?
2. Please confirm the version(s) of msal-angular with which you are facing this issue
3. Redirects must be handled either with the MsalRedirectComponent or with calling handleRedirectObservable(). See our docs on redirects [here](https://gith

[2022-09-25 07:14] bmahall commented on #5089
@h3rmanj Is this after you are adding `await instance.handleRedirectPromise()' ?

[2022-09-25 07:52] h3rmanj commented on #5089
No, I have not yet changed any code, I want to reproduce the error first so I can confirm a fix. I have a tab open om my work computer that I will check tomorrow, and I'll close this issue if it hasn't happened then.

[2022-09-25 13:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-26 01:01] ghost commented on #5226
@Onokaev This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-26 01:01] ghost commented on #5222
@mariiasonina This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-26 01:01] ghost commented on #5221
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-26 01:01] ghost commented on #5209
@pondchamp This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-09-26 01:13] pondchamp commented on #5209
Ping for activity

[2022-09-26 06:54] h3rmanj commented on #5089
I can't reproduce it anymore. I'll close it for now, sorry for taking so much of your time.

[2022-09-26 06:54] #5089 closed, assigned to bmahall

[2022-09-26 09:01] svdHero commented on #5221
@derisen thank you for your help and the explanation. I would rather like to stay with session storage and I am not happy with Playwright with regard to this feature. I will open a feature request with them for an option to include session storage in storage export. I will link the issue here.

Overall, I am quite happy with Playwright in combination with MSAL. At the moment, I just repeat the sig

[2022-09-26 11:52] eglavin opened #5241 "Interactive state still set in session storage on logoutRedirect"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

After upgrade from version 2.21.0 to 2.28.3. I'm unable to login again after logoutRedirect is called and browser is redirected to the login page. I see in the browsers session stor

[2022-09-26 11:58] eglavin commented on #5241
I tried upgrading a few months ago and ran into the same issue, I thought it had been fixed though

Possibly related: #4719 #4697

[2022-09-26 12:38] supriyaGannvi commented on #5132
this is snipped code

 this.msalBrodcastService.msalSubject$
      .pipe(
        filter(
          (msg: EventMessage) =>
            msg.eventType === EventType.LOGIN_SUCCESS ||
            msg.eventType === EventType.LOGOUT_START
        )
      )
      .subscribe(({ eventType }: EventMessage) => {
        if (eventType === EventType.LOGIN_SUCCESS) {
          this._isAuthenticated.next(true);

[2022-09-26 13:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-09-26 16:31] mariiasonina commented on #5222
@sameerag, seems the handleRedirectPromise registration solved my problem.

[2022-09-26 16:33] MateusDev98 commented on #4799
Hi, good afternoon, do we have any progress? @tnorling

[2022-09-26 17:28] #5216 closed, assigned to jasonnutter

[2022-09-26 17:47] jasonnutter commented on #5238
@roopeshreddy Our `UrlString` class normalizes URLs by design. If the built-in navigation client does not fit your needs, you should consider implementing a custom navigation client (i.e. copy the built-in navigation client into your project and change it to fit your needs).

[2022-09-26 18:08] hectormmg commented on #5241
@eglavin thanks for raising this issue. I'll start investigating and update you when I can reproduce this behavior.

[2022-09-26 18:09] r-delgadillo commented on #4878
@bmahall  will the PR be merged in time for the upcoming release on the 1st? Our adoption of MSAL/V2 endpoint is currently blocked due to this issue. Thanks

[2022-09-26 18:12] levisalarcon opened #5243 "what is the proper way to authenticate SPFX Web-parts?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Public or Confidential Client?

Public

### Description

We currently use MSAL 2.14.2 to get our AAD token to be able to get an access token from our own API. The problem is that ITP on Safari breaks the authentication flow and the only so

[2022-09-26 21:33] hectormmg commented on #5243
Hi @levisalarcon . Thanks for the question, please look into using `AadHttpClient` with SPFX for the correct way to authenticate. Le us know if this solves your question so we can close the issue!

[2022-09-26 21:36] hectormmg commented on #5231
@blockingHD please let us know if you do file a support ticket with the B2C team so we can close this issue.

[2022-09-26 21:42] hectormmg commented on #5209
@pondchamp there is currently an issue with the msal-node HttpClient that is obfuscating server errors that we are working on fixing. We're hoping that when that fix rolls out it will become clear where the endpoint_resolution errors are coming from. Thanks for your patience, you can track the HttpClient fix here:  #5175

[2022-09-26 21:52] pondchamp commented on #5209
Sounds good, thanks! I'll try to repro this again once this fix is released.

[2022-09-26 22:04] levisalarcon commented on #5243
hi @hectormmg. Thanks for the quick answer. Apologies, when I said we implemented the ADAL.js approach, I meant `AadHttpClient` (it's built on top of ADAL.js I believe?). I have updated the question accordingly.

[2022-09-26 22:13] hectormmg commented on #5243
@levisalarcon it does currently use an older version of MSAL I believe (I think the docs are outdated, it actually uses MSAL v1 and will probably migrate to MSAL v2 soon).

Regarding this part of your quesiton:

Yes, interaction is always necessary if MSAL cannot renew the tokens silently, this is because of 3p cookies being blocked by browsers. I believe the AadHttpClient already takes care of fa

[2022-09-26 23:12] jasonnutter commented on #5243
@hectormmg Might be worth adding this to the FAQ.

[2022-09-26 23:23] bmahall commented on #5132
@supriyaGannvi Please use the following code in place of ` this.msalBrodcastService.inProgress$
  .pipe(filter((status: InteractionStatus) => status === InteractionStatus.None))
  .subscribe(() => {
    this.setLoginDisplay();
  });`

`
    this.msalBroadcastService.inProgress$
      .pipe(
        filter((status: InteractionStatus) => status === InteractionStatus.None),
        takeUntil(this._de

[2022-09-27 03:24] derisen commented on #5221
@svdHero sounds good -thanks for the update. I've made a small PR to clarify the docs, which should close this issue when merged.

[2022-09-27 12:15] supriyaGannvi commented on #5132
@bmahall  we cannot add the $destory for the service

[2022-09-27 13:01] #4935 closed, assigned to bmahall

[2022-09-27 13:12] blockingHD commented on #5231
Asked this question via Microsoft Support. @hectormmg

[2022-09-27 15:14] levisalarcon commented on #5243
thanks for the answer @hectormmg.

[2022-09-27 15:14] #5243 closed, assigned to hectormmg

[2022-09-27 15:59] #4104 closed

[2022-09-27 15:59] #4153 closed, assigned to Robbie-Microsoft

[2022-09-27 20:37] hectormmg commented on #5241
@eglavin could you send the GIF you mentioned to the e-mail in my profile? I haven't been able to reproduce this behavior. Does it always happen?

[2022-09-27 21:53] diamantisufi commented on #5196
@sameerag it solved my issue, thanks!

[2022-09-28 01:01] #4921 closed, assigned to sameerag

[2022-09-28 04:17] sameerag commented on #5222
Great! Resolving the issue.

[2022-09-28 04:17] #5222 closed, assigned to sameerag

[2022-09-28 11:06] svdHero opened #5245 "Memory Leak Error with MsalAuthenticationTemplate"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Public or Confidential Client?

Public

### Description

I have a component that is secured via the React wrapper component [`<MsalAuthenticationTemplate/>`](https://github.com/AzureAD/microsoft-authentication-library-for

[2022-09-28 12:25] AK-Loblaw commented on #4921
@sameerag, sorry for the delay. No, I'm afraid it didn't help in my case.

Was this issue closed due to a fix?

[2022-09-28 13:01] #5174 closed, assigned to bmahall

[2022-09-28 15:44] sameerag commented on #5111
Keeping this active. The team reached out to me offline and provided the needed information.

[2022-09-28 16:27] urielzen commented on #4298
I can't believe this is still in the backlog after this long. How are we supposed to encourage our clients to use Microsoft accounts login if we are not even provided with this core implementation?

[2022-09-28 17:08] rutherfordjp8 commented on #4921
@sameerag  @bmahall

Can we please reopen this if there's not been a fix?

[2022-09-29 14:23] hada79 commented on #5198
I am having a similar experience: msal-browers 2.21.0, msal-react 1.4.5
I have an api and SPA sharing the same app registration. Like Ned, I can get the initial token fine, when trying to refresh the token, I get the 90009 error. The scopes I am sending are openid profile offline_access.

Looking at [this post](https://stackoverflow.com/questions/42006468/oauth-2-0-and-azure-active-directory-error

[2022-09-29 18:31] hectormmg commented on #5245
@svdHero thanks for bringing this to our attention, I'll investigate as soon as I can.

[2022-09-29 22:00] mgrell commented on #5091
I am experiencing the same problem using the MSAL.js popup method in a Laravel app as well.  I have tried many things with the redirected page including a blank page but the window remains open and the authPopup.js basically hangs in wait.  If any action is taken to close the popup, either manually or a javascript window close, an error in console appears that the flow was cancelled by the user.

[2022-09-30 13:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-09-30 19:10] PeterArriaza opened #5251 "broken link for initializing application object"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/public-apis.md

### Description

The first link for how to initialize the application object is broken.  It seems

[2022-10-01 23:20] diamant-isufi-sveasolar opened #5259 "How do I get rawIdToken and jwt token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.27.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.6

### Public or Confidential Client?

Public

### Description

To send request to my server I need to get the rawIdToken and the jwt token from the request.

### MSAL Configuration

[code]

### Relevant Code Snippets

_No respo

[2022-10-02 01:01] ghost commented on #5238
@roopeshreddy This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-02 01:01] ghost commented on #5232
@prattyaDatta This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-02 01:01] ghost commented on #5230
@grgicpetar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-02 01:01] #5148 closed, assigned to tnorling

[2022-10-02 01:01] ghost commented on #5209
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-10-02 01:01] ghost commented on #5118
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-10-02 10:52] nedgrady commented on #5198
Yeah @hada79 that's exactly what we are doing. Ithink being able to use the client_id as a resource would fix the problem.

[2022-10-02 13:01] ghost commented on #5132
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-10-03 01:01] ghost commented on #5241
@eglavin This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-03 01:01] ghost commented on #5231
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-10-03 05:47] itstaby opened #5260 "Getting a generic network error from `acquireOnBehalfOf`"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.12.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

I have an MS Teams app which is using Graph API to fetch data.
I first use the incremental consent flow detailed [here](https://docs.microsoft.com/en-us/azure/active-directory/dev

[2022-10-03 08:48] eglavin commented on #5241
@hectormmg Did you receive the email I sent you?

For any version past 2.21.0 it does yes, returning to 2.21.0 fixes it for now.

[2022-10-03 09:17] yksht commented on #4036
@jasonnutter
Hi, I have some time to continue with this task.

Your last message from the closed pr:

Im not sure I have ideas to not break compatability.
Did you mean just keep MsalRedirectComponent and implement new solution as an extra way of having msalBroadcastService.inProgress$ subscription?

[2022-10-03 11:05] spuyet commented on #4921
We've exactly the same issue here, any ETA for a fix ?

[2022-10-03 11:20] eglavin commented on #5241
Ok, I'm realising now that I'm missing a call to `handleRedirectPromise` in my init function which I see now in these docs https://learn.microsoft.com/en-gb/azure/active-directory/develop/msal-js-initializing-client-applications#initialize-msaljs-2x-apps

My original implementation was based of this repo: https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo/blob/

[2022-10-03 11:20] #5241 closed, assigned to hectormmg

[2022-10-03 11:47] eqdrs commented on #4921
I am experiencing the same issue. Is there any update on the fix?

[2022-10-03 12:42] matEhickey commented on #4921
Same on my end, @bmahall  @sameerag is there any update ?

[2022-10-03 13:01] ghost commented on #5221
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-03 13:52] yksht commented on #4835
Im not familiar with Angular Universal SSR, anyway there is unsafe usage of global window object.
I see there is properly injected document object in the interceptor constructor

And I guess `const redirectStartPage = window.location.href;` should be replaced with `const redirectStartPage = this._document.location.href;`.

As I remember angular provides its own abstraction over document/location o

[2022-10-03 14:56] svdHero commented on #5221
Bump. I haven't had time to create and link the Playwright issue, but will do so this week.

[2022-10-03 15:18] roopeshchinnakampalli commented on #5238
@jasonnutter  Thank you! Sure, we can do that. Since this method is available OOB, we thought to use it. Atleast if we can get the URL in the same case, that would be great.

[2022-10-03 16:42] mikerains commented on #5091
I experience this, and have not found a good solution.  The Azure-Samples msal-react app does not set the RedirectUrl to a blank page either, the instructions say to set it to "https://localhost:3000"

If set to "https://localhost:3000/blank.html" and the user uses loginRedirect(...) then the user it routed to the blank.html page and is not in the SPA.  I suppose it might be possible to put javasc

[2022-10-03 16:44] hectormmg commented on #5260
@itstaby thanks for raising the issue, however it seems to be a duplicate of #4878. I'm closing this one but please track #4878 for the fix.

[2022-10-03 16:44] #5260 closed, assigned to jo-arroyo

[2022-10-03 18:46] itstaby commented on #4878
Any updates on when this will be released?

[2022-10-03 22:45] ghost commented on #4939
:tada:This issue was addressed in #4999, which has now been successfully released as `@azure/msal-node@v1.14.1`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.14.1)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-node/v/1.14.1)

[2022-10-04 01:01] #5226 closed, assigned to hectormmg

[2022-10-04 01:01] #5192 closed, assigned to hectormmg

[2022-10-04 02:53] SGeorge007 opened #5273 "this.msalBroadcastService.inProgress$ subscribe event called twice"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Public or Confidential Client?

Public

### Description

Inside subscribe of  this.msalBroadcastService.inProgress$, I am calling my API code.
but this subscribe event is always called two times when user logs in. Ple

[2022-10-04 12:08] bgavrilMS commented on #4878
The fix was merged via https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/5175 and according to the release notes, it is available in node 1.14.1

https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-node-v1.14.1

@bmahall @EmLauber - can we close this as done?

[2022-10-04 13:00] FelipeSimoes opened #5274 "ES6 export options for npm package @azure/msal-browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Confidential

### Description

Currently, we have all bundled at @azure/msal-browser.
Meaning no tree-shaking is allowed now.
Projects can reduce the final bundle size by at least 40%, not ~300k.
We wish to have an option exported at NPM package with ES6 modules

For example

[2022-10-04 15:33] #5221 closed, assigned to derisen

[2022-10-04 16:45] hectormmg commented on #5238
@roopeshreddy since you're going with a custom implementation of the navigation client, is it alright if we close this issue?

[2022-10-04 18:36] jo-arroyo commented on #5274
@FelipeSimoes This ask is already in our consideration and has been added to our backlog. Changing this to feature ask for tracking.

[2022-10-04 18:39] jo-arroyo commented on #5273
@SGeorge007 Can you provide your configuration (how you are setting up your app in app.module.ts) and also provide verbose logs showing where the two calls are happening?

[2022-10-04 18:57] hectormmg commented on #5259
@diamant-isufi-sveasolar please take a look at our [Acquire Token docs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/acquire-token.md) and let us know if this answers your question.

[2022-10-04 19:10] hectormmg commented on #5251
@PeterArriaza thanks for raising this issue. I've made a PR with updates to fix the broken angular doc references. As for how to initialize an MSAL Angular instance, I suggest you follow the v2 docs since those are updated more regularly than the dev samples for older versions of Angular. Please let us know if you have any other questions!

[2022-10-04 21:57] #5231 closed, assigned to hectormmg

[2022-10-04 22:04] hectormmg commented on #5245
@svdHero so from what we can see this isn't an issue with MSAL React, but more of a React restriction. Unmounting a component will not cancel an asynchronous call that has been queued, meaning the app will still attempt to make the state update even if the component is unmounted.

[2022-10-04 22:13] hectormmg commented on #5209
@bmahall assigning to you, could you please check in here when the Http Client fix is released? Thanks!

[2022-10-04 22:15] hectormmg commented on #4879
@bmahall tracking your recent fix as well.

[2022-10-04 23:07] #5251 closed, assigned to hectormmg

[2022-10-04 23:16] admehta01 commented on #4878
Can confirm, I'm getting proper error messages with 1.14.1 now!

[2022-10-05 00:39] jo-arroyo commented on #5118
@eluchsinger Picking up this issue. Have you continued to see this behavior since the last comment? If so, are you able to get verbose logs and a network trace? We have thus far been unable to reproduce this behavior on our end.

[2022-10-05 08:02] vherilier opened #5277 "Msal-react seems not to be React 18 compliant"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.7

### Public or Confidential Client?

Public

### Description

Hi ,

Switching React from 17.0.2 to 18.2.0, the msal authentication process stops now to show an error message on screen when the related app is "called" in the br

[2022-10-05 08:17] svdHero commented on #5245
@hectormmg you are absolutely right. That is a React restriction. However, you are missing the point of my problem description. The stacktrace suggests that the problem lies within the React component `MsalAuthenticationTemplate` which is an integral part of MSAL React. So it is, indeed, an issue with MSAL React, unless I am totally mistaken.

In my component I am using the clean-up function `() =

[2022-10-05 08:23] svdHero commented on #5245
Having said that, at first glance I cannot see any `useEffect` in [MsalAuthenticationTemplate.tsx](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/926f1c2ba0598575e23dfd8cdd8b79fa3a3d19ff/lib/msal-react/src/components/MsalAuthenticationTemplate.tsx), but maybe it is hidden in some of the hooks used in `MsalAuthenticationTemplate`?

[2022-10-05 09:05] eluchsinger commented on #5118
@jo-arroyo I haven't heard of any further problems. I think we can close this issue. Thanks!

[2022-10-05 09:05] #5118 closed, assigned to jo-arroyo

[2022-10-05 10:28] vherilier commented on #5277
A potential root cause could come from the behavior of the useEffect hook when using a Strict Mode in React 18:
* https://medium.com/geekculture/the-tricky-behavior-of-useeffect-hook-in-react-18-282ef4fb570a
* https://medium.com/gitconnected/react-18-the-trickiness-of-useeffect-fadfa65fa4b4

Hope it will help...

[2022-10-05 14:05] bgavrilMS commented on #4878
Great, thanks for confirming @admehta01 and thanks for getting this fix out @bmahall

[2022-10-05 14:12] bgavrilMS commented on #4878
Closing as fixed in node 1.14.1

[2022-10-05 14:12] #4878 closed, assigned to bmahall

[2022-10-05 14:43] roopeshchinnakampalli commented on #5238
@hectormmg Since I'm using the function from MSAL library -

`import { UrlString } from '@azure/msal-browser';`

is there any possibility to fix it?

[2022-10-05 14:50] AnthonyLzq commented on #5051
@TiagoNH I'm sorry to ask but, where did you found the `tenant` for the scope?

[code]

[2022-10-05 15:19] justin-rhoades-stg commented on #4378
@tnorling Just for clarification on your suggestion.  You are suggesting we rebuild the MSAL Guard and add the catchError on the handleRedirectObservable?   Also what page should get the handle handleRedirectObservable?  The page that initiated the password reset or the page that we are redirecting to.

Thank you for your time!

[2022-10-05 15:31] jasonnutter commented on #5091
@hectormmg Will be this be addressed by #5276 ?

[2022-10-05 18:09] tnorling commented on #4378
Correct. The current behavior of the MSAL Guard naiivly assumes that when a redirect returns an error it means that the user should not have access to the guarded route. This is not an accurate assumption when trying to sign a 2nd user in or when working with B2C where you might be invoking interaction to go to the profile edit or password reset policy rather than to sign a user in. You should mod

[2022-10-05 18:31] jo-arroyo commented on #5238
@roopeshreddy As stated above, our `UrlString` class normalizes URLs by design. Along with the custom navigation client, you may need to write your own URL methods to suit your needs.

[2022-10-05 19:20] hectormmg commented on #5091
I believe so, increasing the polling frequency by lowering the poll interval time seems to greatly mitigate this race condition

[2022-10-05 20:05] jesben opened #5278 "Adding token to request header for Azure storage blob requests using service worker"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Description

I use MSAL Angular and Azure storage blobs for images and reports in my Angular PWA. It is very important that images and reports are protected and can be cached. The application is mostly accessed with mobile devices on 4G networ

[2022-10-05 21:47] jo-arroyo commented on #4835
@yksht Can you please open a new issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/new/choose) with your requested fix? This will help with our feature tracking and prioritization. Thank you.

[2022-10-05 22:48] jo-arroyo commented on #5277
@vherilier We haven't seen this issue with our React apps running on React 18. Are you able to provide your configuration and usage above? Specifically, where you are providing the redirectUri.
Any logs or network traces you are providing could be useful as well.

[2022-10-05 22:58] jo-arroyo commented on #5278
@jesben To clarify, you are looking for service worker support? We don't currently have any examples of this, but we will track this feature request internally and update when it is prioritized.

cc. @EmLauber

[2022-10-06 01:01] ghost commented on #5128
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bgavrilMS, @jmprieur, @jennyf19, @Robbie-Microsoft please follow up.

[2022-10-06 05:21] pondchamp commented on #5209
I've just upgraded to msal-node@1.14.1 / msal-common@7.5.0, but I appear to be getting the same error... is there anything else I can try?

[2022-10-06 06:14] jesben commented on #5278
@jo-arroyo correct that would be super cool. I'm a fan of MSAL Angular, Azure appservice and storage account. It would be really cool to have a lib that can take care of the security for both appservice "done" and storage account.

[2022-10-06 07:52] TiagoNH commented on #5051
https://learn.microsoft.com/en-us/azure/active-directory-b2c/media/tenant-management/get-azure-ad-b2c-tenant-name.png

Anthony Luzquiños ***@***.***> escreveu no dia quarta,
5/10/2022 à(s) 15:51:

[2022-10-06 09:20] vherilier commented on #5277
@jo-arroyo
[Downloads.zip](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/9723455/Downloads.zip)
Here are the _HAR_ traces for both __React__ `17` and `18` executions.

I'm quite following the example provided from __Azure__ about _SPA_.

for _msal_ configuration:
[code]

with `window.location.href` replaced by `http://localhost:3000` (and registred to the __Azure__ platf

[2022-10-06 09:24] vherilier commented on #5277
@jo-arroyo : btw I'm using react-redux `8.0.4` (linked to redux `4.2.0`) too. Maybe it could explain the difference seen with your _React_ `18` execution tests...

[2022-10-06 10:18] bgavrilMS commented on #5128
Please see the .NET guidance here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Retry-Policy

[2022-10-06 22:46] jo-arroyo commented on #5277
@vherilier Are you also able to send verbose level logs?

[2022-10-07 05:06] bmahall commented on #5232
@prattyaDatta Can you try the latest version (node 1.14.1) and let me know if you are still seeing this error?

[2022-10-07 05:06] bmahall commented on #4879
@awanlin Can you try the latest version (node 1.14.1) and let me know if you are still seeing this error message?

[2022-10-07 05:43] bmahall commented on #5209
@pondchamp Thanks for confirming. Are you receiving the same error and sub-error message? Can you please share fiddler trace on the email on my profile?

[2022-10-07 05:59] Done3319 opened #5281 "MSAL Angular: Guard/intercept all (service worker) web requests to the hosting web site"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.4

### Public or Confidential Client?

Confidential

### Description

We have an Angular application which is located on an Azure "App Service" web server
The web server requires authentication for all requests (EasyAuth - R

[2022-10-07 09:39] vherilier commented on #5277
@jo-arroyo Here's the requested logs file I could extract by `preserving logs` in the _Developer Tool_ console.
I've added a minimal app that is failing by my side.
You can switch `index.js` code to be __React__`17` compliant.

[msal-react-18_1665134410086.log](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/9732689/msal-react-18_1665134410086.log)
[msal-react-18.zip](http

[2022-10-07 13:40] pondchamp commented on #5209
Huh, not sure what I did but I'm actually getting the underlying error now! It was a simple user/pw mismatch issue, which I've been able to resolve since. I'll open this ticket if this issue returns. Thanks for all your help!

[2022-10-07 13:40] #5209 closed, assigned to bmahall

[2022-10-08 00:03] sameerag commented on #5198
@hada79 have you been able to solve your problem by using `client_id` as a resource as @nedgrady suggested?

@nedgrady Apologies for the delay, can you resend the logs to my email? I could not find them and not sure if I ever received them.

[2022-10-08 00:05] hada79 commented on #5198
@sameerag There doesnt appear to be a way to specify the client ID as the resource using msal, which is the problem.

[2022-10-08 01:01] ghost commented on #5132
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-10-08 14:13] nedgrady commented on #5198
No probs no rush, not like our current auth solution is going to stop working. Have resent the email from my gmail account

[2022-10-08 18:07] quentingosset opened #5282 "ConfidentialClientApplication -> acquireTokenByUsernamePassword : Error AADSTS90036"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

noe

### Public or Confidential Client?

Confidential

### Description

I did exactly what the following example shows: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/username-password-cca

but whe

[2022-10-08 20:43] quentingosset commented on #5282
After a few attempts, I think I have a lead.
My main Azure account is quentingosset7500@hotmail.com it is the one that has the error message AADSTS90036.
This one is therefore in the list of users in the default directory.
To test, I created a new user in the default directory and there, what is my surprise. I have no error!

~~The difference is that I have my main account quentingosset7500@hotmai

[2022-10-10 01:01] ghost commented on #5273
@SGeorge007 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-10 01:01] ghost commented on #5259
@diamant-isufi-sveasolar This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-10 13:01] ghost commented on #5245
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-10-10 16:58] babarmashkoor commented on #5091
Is that issue resolved? I am facing the same problem; the popup windows sometimes won't close and redirect to the app.

[2022-10-10 18:44] tnorling commented on #5281
@Done3319 I'm not familiar with this pattern. What is making the failing request (It doesn't look like MSAL.js)? Do you need to be authenticated to access the hosting site? If not, configuring the interceptor may not solve the problem.

[2022-10-10 18:51] tnorling commented on #5282
@quentingosset Please see the prerequisites on the doc you linked and the important notes in the [ROPC docs](https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc). ROPC is not supported for personal accounts (@hotmail.com accounts for example) even if those accounts are invited to an Azure AD tenant. You must use an account that belongs to your organizational tenant.

[2022-10-10 19:36] quentingosset commented on #5282
@tnorling I see !
So it is impossible for a personal Hotmail account of the type "quentin@hotmail.com" to give identification information or validate once and only once the access to the application which will be in background?
I am currently facing a huge amount of mail on my mailbox and I would like to be able to create a background app that will sort my mails automatically.

However, I have to

[2022-10-10 20:21] Done3319 commented on #5281
@tnorling Thanks for looking into this!
Right, any request to the hosting site must be authenticated (the hosting site is an Azure App Service with EasyAuth enabled).
The ngsw.json is located on the hosting site. The Angular service worker fetches this file regularly in order to check if there is a newer version of the app available.
I'm wondering how such requests can be covered by the MSAL inter

[2022-10-10 21:47] ghost opened #5285 "Angular application integrating with ADFS 2019 - Error when calling secured API service"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.29.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.1

### Public or Confidential Client?

Public

### Description

I have an Angular 14.x project using the msal angular library. This project is configured to integrate with ADFS 2019. The issue I'm running into is configuring

[2022-10-10 22:21] ghost commented on #5285
The issue might be related to the refresh_token grant request... I thought ADFS needs something like this:

client_id=f2c5c411-8f32-49ca-b8ff-536c0f7cb362&**resource**=urn%3AApp%3AAzure%3AGeneric%20openid%20profile%20offline_access&grant_type=refresh_token

[2022-10-11 01:01] ghost commented on #5238
@roopeshreddy This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-11 10:15] aleknik commented on #5128
@bgavrilMS does msal-node implement the "retryOnceOn5xx" policy?

[2022-10-11 10:19] olafwrieden opened #5294 "MSAL Configuration: 'Telemetry' Description Update"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#telemetry-config-options

### Description

I would like to find out more about the MSAL Configuration for `t

[2022-10-11 10:20] aleknik opened #5295 "Setting custom https.Agent for msal-node"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

Is it possible to set a custom https.Agent for msal-node confidential client? I see there is a way to set networkClient as INetworkModule. Can the default INetworkModule be extend

[2022-10-11 12:18] bgavrilMS commented on #5128
@aleknik - no, it does not. The `retryOnceOn5xx` seems to be implemented only in MSAL .NET and in hindsight it was a bad decision, because it interferes with retry policies set by others.

[2022-10-11 12:46] awanlin commented on #4879
@bmahall with @azure/msal-node `1.14.1` I'm still getting an error though now it's slightly different: ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a trusted authority. Please include this authority in the knownAuthorities config parameter.

B

[2022-10-11 12:49] awanlin commented on #4879
Ok, did a quick search and I think we are setting this correctly: `authority: https://login.microsoftonline.com/${tenantId}` as per the Relevant Code Snippet from the description above. I don't think this is something I can fix on my side :(

[2022-10-11 14:29] aleknik commented on #5128
Ok, so the recommendation is for clients to implement their own retry logic. I see .NET has a handy IsRetryable property on exception objects. Is this property present in JS exceptions and if not is there a plan to support it?

[2022-10-11 14:42] bgavrilMS commented on #5128
@aleknik - no, but @Robbie-Microsoft is looking into it. Let me try to spec this a bit (in the description). Please provide feedback on the plan.

[2022-10-11 15:09] bgavrilMS commented on #5128
Aside: @EmLauber @jasonnutter - do you know if claim challenges are extracted as part of UiRequiredError or ServerError? I did not see them anywhere in the code. Can MSAL.js handle claim challenges from ESTS?

[2022-10-11 16:38] Robbie-Microsoft commented on #4879
@awanlin To set the authority and knownAuthorities config parameters:
``authority: `https://login.microsoftonline.com/${tenantId}`,``
``knownAuthorities: [`https://login.microsoftonline.com/${tenantId}`,],``

[2022-10-11 16:53] bgavrilMS commented on #4879
Unless you are running in a private / air-gapped cloud, setting the `knownAuthorities` should not be required. MSAL tries to validate the authority against:

- a list of known authorities which AAD knows
- known authorities to you, the developer

1. Is it possible that you got the tenantId wrong?
1. Is it possible to get a network trace to see the actual node response? (you might have to send it v

[2022-10-11 17:31] tnorling commented on #5295
No we do not expose a way to configure the default implementation. If you need to use a different https agent you will need to provide your own custom implementation of `INetworkModule`.

[2022-10-11 18:02] roopeshchinnakampalli commented on #5238
Sure thanks!

[2022-10-11 18:02] #5238 closed, assigned to jo-arroyo

[2022-10-11 18:04] tnorling commented on #5294
@olafwrieden These values get sent to our internal logs on every network request. They are used by our first party (Microsoft) applications and are generally not something external developers need to provide. Is there something you are looking for in terms of telemetry features?

[2022-10-11 18:08] tnorling commented on #5281
Got it, so then yes you should use the Interceptor to attach an access token to all requests to the hosting site. I'm not sure I understand why you're suggesting using a dummy scope, you should use a real scope that you will then validate on the resource.

[2022-10-11 18:19] jasonnutter commented on #5128
Don't believe so, no. @tnorling @hectormmg can you confirm?

[2022-10-11 18:42] tnorling commented on #5282
You should use the auth code flow for this, or perhaps the device code flow if your server can't take user input. Besides the incompatibility with MSA accounts, the ROPC flow is generally discouraged and should be limited to only testing scenarios. The refresh token you'll receive from these other flows will have a lifetime of 90 days so that's how often you would need to reauthenticate.

[2022-10-11 19:02] imrans110 commented on #4808
hey folks, I am facing the same issue here with the sample code.

Were you able to find a fix for this @mustafaAly ?

[2022-10-11 19:19] tnorling commented on #5285
@remkm01 Just to clarify, you are receiving an access token from your ADFS server using MSAL.js but when you try to use it on your resource validation fails? Has this worked for you when acquiring the token through other means? Have you tried decoding the token to determine what is missing or different? If MSAL.js is getting you a token but the contents are incorrect it's likely due to some miscon

[2022-10-11 19:41] ghost commented on #5285
@tnorling To clarify, I'm getting an access token from ADFS but when accessing the API, the audience validation fails at the service because the aud field is not set correctly. Yes, if you manually call the token endpoint as described above (use "resource" instead of "scope"), the access token returned has the correct aud value. If I open a ticket with Microsoft, they will say this is working as d

[2022-10-11 19:48] tnorling commented on #5285
I see. Is the rest of the token correct? We do support ADFS 2019+ as long as it is OIDC compliant and supports scopes and PKCE. See more [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/docs/ADFS.md). We do not support the `resource` parameter.

[2022-10-11 20:07] ghost commented on #5285
Sorry to be blunt, but how can you say you support ADFS 2019+?  Am I doing something wrong?

The token is not what I expect either... The service only requires a few "claims". Looks like the token sent to the service is basically a copy of the IdToken/AccessToken received during authentication.

[2022-10-11 20:18] tnorling commented on #5277
@vherilier Thanks for sharing your app. Two things I'm noticing:

1. In your `Azure` component you should only call `loginRedirect` if the `inProgress` state value is equal to `None`. Not doing this may cause race conditions and/or loginRedirect being invoked multiple times resulting in an interaction_in_progress error. You may have just gotten lucky in React 17 that this problem didn't manifest i

[2022-10-11 20:28] tnorling commented on #5285
@remkm01 This is what you are passing as scope: `urn:App:Azure:Generic` but this doesn't look like a scope to me. A scope is typically in the form of `https://resource-url.com/scope-name`. And the resulting access token will have the audience set to the corresponding resource. If you need specific claims included in the token you can request them through the `claims` parameter on the auth request.

[2022-10-11 20:34] tnorling commented on #5132
Why not? Can you also please confirm that you are handling the redirect response as described by @bmahall above? Are you able to reproduce your issue with one of our samples [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples)?

[2022-10-11 20:57] derisen commented on #4808
@imrans110 can you please create a new issue and provide details?

[2022-10-11 20:59] ghost commented on #5285
@tnorling Yes, `urn:App:Azure:Generic` is the scope I'm sending. This is just a URI assigned to the API for ADFS to locate and generate the access token:
![image](https://user-images.githubusercontent.com/5065217/195193698-bd5c84bd-8c45-41ed-aef2-f622d43001a4.png)

By specifying the "resource" identifier, the access token generated is concise and only sends what the service requires:
![image](http

[2022-10-11 21:10] tnorling commented on #5245
@svdHero I am not able to reproduce this either with our samples or with the code snippets you shared. Could you please put together a minimal reproduction so that I may investigate in more depth? I have a suspicion that [this line](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/src/hooks/useMsalAuthentication.ts#L127) is the problem, however, I'd like t

[2022-10-11 21:25] tnorling commented on #5285
Right so that's not actually a scope. The "scp" field in your access token shows "profile openid" which are default scopes appended by MSAL.js and in the absence of any other valid scopes will result in an access token intended for your application rather than an external resource (which is what's happening here). Wherever you configure your resource you need to create a scope and request that ins

[2022-10-12 01:01] #5230 closed, assigned to jo-arroyo

[2022-10-12 02:00] ghost commented on #5285
I think I figured it out... I had to configure the Interceptor with the resourceId/scope (even though the scope isn't used here).  I setup 2 services within the application and was calling each one simultaneously and the calls were working as expected.  I will keep testing to make sure.

For those who are having issues, make sure to configure the Interceptor as follows:

export function MSALInterc

[2022-10-12 02:00] #5285 closed, assigned to tnorling

[2022-10-12 08:39] #5259 closed, assigned to jo-arroyo

[2022-10-12 09:37] aleknik commented on #5295
We are ok with using the default implementation of INetworkModule, so having our own implementation and maintaining it just so we can specify an http agent is not a good idea for us. It would be good if we could configure MSAL directly to use a custom https agent. Can we contribute to the project by adding support for http agent in the MSAL config, or another option would be to export the default

[2022-10-12 10:09] Done3319 commented on #5281
I was thinking of a dummy scope because the hosting web server will only check for successful authentication. As far as I know, EasyAuth cannot check authorization tokens.

In order to test with the Interceptor approach, I have setup a mapping like
`protectedResourceMap: new Map([ ['https://hosting_site/*', ['dummy']]`

Unfortunately, this does not work. According to the MSAL verbose logs the Inte

[2022-10-12 12:03] vherilier commented on #5277
@tnorling Thanks for your feedbacks and suggestions.
It will try the 2 points and will let you know about quickly

[2022-10-12 13:03] vherilier commented on #5277
@tnorling providing explicitly redirect URIs solves the issue.
Adding progression control to `loginRedirect` execution in `Azure` file seems to reduce calls when the application starts.

Thanks for double checking the code and for your suggestions.
I think the issue is over and you can close it.
Thanks and regards.

[2022-10-12 16:04] #5277 closed, assigned to tnorling

[2022-10-12 16:37] tnorling commented on #5295
We do welcome external contributions, please feel free to open a PR with a suggested implementation. I think I would personally lean towards option 2 of the ones you've described.

[2022-10-12 16:56] tnorling commented on #5281
So the service worker is making the request to hosting_site? I'm assuming the service worker is not running MSAL, is that a correct assumption? If so, that's why it's not working. You may need to manually call `acquireTokenSilent` before invoking your `safeFetch` function

[2022-10-12 17:04] justin-rhoades-stg commented on #4378
@tnorling Thanks for answering that question thoroughly and quickly.  Would this error `error while logging in, unable to activate` mean something happened up stream from the guard which is logging this line only when it catches the error?

[2022-10-12 17:28] Done3319 commented on #5281
The service worker is something provided by Angular out of the box. I don't know how this works in detail. As far as I understand it is regularly checking for updates by polling the https://hosting_site/ngsw.json file.
Not sure how much this process can be changed from outside. I will check the `acquireTokenSilent` and see if it can help.

[2022-10-12 17:32] tnorling commented on #4378
It indicates that loginPopup or loginRedirect/handleRedirectPromise threw an error which resulted in the user not being logged in

[2022-10-12 18:52] #5282 closed, assigned to tnorling

[2022-10-13 00:05] diamant-isufi-sveasolar opened #5296 "Popup fails to open https://login.microsoftonline.com/"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.2

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.6

### Public or Confidential Client?

Public

### Description

There is this issue that sometimes the popup fails to open https://login.microsoftonline.com/, instead it opens the URL that my project is hosted in(e.g: staging.te

[2022-10-13 07:51] aNyMoRe0505 commented on #5091
I think this issue is not resolved yet, even with the blank route. As @hectormmg said, it just mitigate the race condition (?)

[2022-10-13 14:32] mmigge opened #5297 "Advanced "ms-identity-javascript-v2" sample"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.28.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

Hello,

I am working with the tutorial abc and have been able to load and run it without any problems. In a next step I wanted to extend the existing functions and I have difficult

[2022-10-13 15:28] tadeas22 commented on #5111
Same problem for me, please reopen

[2022-10-13 15:37] gatsby-david commented on #5111
For me, the bug is happening only in Chrome on mobile. FF is ok.

[2022-10-13 15:50] Georg-Trixl opened #5298 "SharePoint webparts embedding authenticated PowerBi reports combined with URL query parameters"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.17

### Wrapper Library

Not Applicable

### Wrapper Library Version

-

### Public or Confidential Client?

Public

### Description

The Customer NGO SOS Chidlren's Villages has the requirement to send to coworkers link-URLs in Emails, with query parameters.
Those required query parameters are used to point in the d

[2022-10-13 16:41] tnorling commented on #5296
@diamant-isufi-sveasolar Are you sure it isn't hitting login.microsoftonline.com and then immediately redirecting back to your app? In cases where you already have an active session with AAD you may be redirected back without interacting with the page. Try collecting some network logs to confirm.

[2022-10-13 16:45] tnorling commented on #5297
@mmigge What specifically is not working? What errors are you getting, if any?

[2022-10-13 16:57] tnorling commented on #5298
@Georg-Trixl I'm a little confused, the `getAccount` API does not invoke a redirect. Are you perhaps calling `loginRedirect` or `acquireTokenRedirect` somewhere? If so, you can preserve the query parameters through the redirect by providing them to the `state` parameter which will be returned to you in the `AuthenticationResult` object upon returning from the redirect and calling `handleRedirectCa

[2022-10-13 18:19] mmigge commented on #5297
Hi @tnorling ,

a 401 error is returned for the following call (should return "Labs - List By Subscription")
` https://management.azure.com/subscriptions/<clientId-from-portal>/providers/Microsoft.DevTestLab/labs?api-version=2018-09-15`

Before the failed request, a token is successfully queried using:
`https://login.microsoftonline.com/<tenantId-from-portal>/oauth2/v2.0/token`

In summary, the qu

[2022-10-13 18:24] tnorling commented on #5297
Try removing User.Read from your scopes list. This is an MS Graph scope which is a different resource. It's possible you are getting an MS Graph scope instead of the one you need

[2022-10-13 19:23] mmigge commented on #5297
That worked, I should have asked earlier. I spent so much time reading documentation...

Thank's a lot!

[2022-10-13 19:48] #5297 closed, assigned to tnorling

[2022-10-14 07:09] carpusherw opened #5302 "adal-node depends on @xmldom/xmldom that has a security vulnerability"
### Core Library

ADAL Node (adal-node)

### Core Library Version

0.2.3

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Public or Confidential Client?

Public

### Description

The `adal-node` package has a dependency on `@xmldom/xmldom` which in turn has a security vulnerability. Please see https://github.com/advisories/GHSA-9pgh-qqpf-7wqj

### Error Message

_No resp

[2022-10-14 08:25] diamant-isufi-sveasolar commented on #5296
@tnorling it does go to https://login.microsoftonline.com, but then it redirects me back to my app **inside** the popup, so it doesn't close.

[2022-10-14 08:49] carpusherw commented on #5302
Oh I just saw this #5300

[2022-10-14 13:01] #5232 closed, assigned to bmahall

[2022-10-14 14:26] 1hw7 commented on #5111
Hi @sameerag could we please reopen this issue(edit: i didn't realize my comment would reopen sorry!)? i do not think the issue has been resolved on our end

[2022-10-14 16:52] tnorling commented on #5302
The linked pull request will address this. Please be aware that adal-node is deprecated and will no longer be receiving any updates as of [December 31st, 2022](https://github.com/azure-deprecation/dashboard/issues/60) You should [migrate to msal-node](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-node-migration) ASAP.

[2022-10-14 16:54] tnorling commented on #5296
Does the url of the popup include the #code= or has the hash been stripped off?

[2022-10-16 15:16] awanlin commented on #4879
@Robbie-Microsoft @bgavrilMS thanks for the help. I've tried `1.14.1` again with the addition of the `knownAuthorities` and now the error I'm getting is: "ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientAuthError: openid_config_error: Could not retrieve endpoints. Check your authority and verify the .well-known/open

[2022-10-17 01:01] ghost commented on #5294
@olafwrieden This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-17 01:01] ghost commented on #5245
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-17 01:01] ghost commented on #5132
@supriyaGannvi This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-17 01:01] #5273 closed, assigned to jo-arroyo

[2022-10-17 03:04] carpusherw commented on #5302
Cross post to https://github.com/Azure/ms-rest-nodeauth/issues/146

[2022-10-17 09:11] Gillardo commented on #1665
This is exactly what i need

[2022-10-17 11:19] Done3319 commented on #5281
Update: The `acquireTokenSilent` works as expected. However, the acquired token useless because it cannot be passed to the service worker. The worker uses `fetch` instead of HttpClient, so the worker's requests never get intercepted.

I'll follow up on this with the Angular community. This needs to be fixed in the Angular service worker.

[2022-10-17 11:19] #5281 closed, assigned to tnorling

[2022-10-17 18:12] derisen commented on #4578
@snebjorn apologies for the late response. msal-guard will not pass the exact error that occurred to `loginFailedRoute `. (cc @jo-arroyo) Instead, you can listen for `LOGIN.FAILURE` event in your `LoginFailedComponent `, e.g.:

[code]

If your app is using `PathLocationStrategy`, see also: [How do I make sure all events are available when using path location strategy?](https://github.com/AzureAD/m

[2022-10-17 18:39] derisen commented on #4369
Documentation has ben updated to clarify this. Closing as completed.

[2022-10-17 18:39] #4369 closed, assigned to derisen

[2022-10-17 19:10] drGarbinsky opened #5305 "accessToken is null after redirect request"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Public or Confidential Client?

Public

### Description

After completing a login via a redirect or pop-up login the token retuned has a null access token value. This was confirmed to be working at least two weeks ago but

[2022-10-17 19:13] snebjorn commented on #4578
I believe `this.msalBroadcastService.msalSubject$.pipe(map((x) => x.error));` observes everything not just `LOGIN.FAILURE`, so it seems like your snippet just adds a filter to what I'm doing. Which would result in an empty error as before.

However

This seems relevant. I'll check that out. Thanks.

[2022-10-17 19:16] drGarbinsky commented on #5305
same behavior with 2.30.0 of msal-browser
I've also noted the returned scopes are empty as seen below:
[code]

[2022-10-17 21:04] #5305 closed, assigned to sameerag

[2022-10-17 21:04] drGarbinsky commented on #5305
didn't have the custom scope set as a required permission on the App Reg

[2022-10-17 23:34] EmLauber commented on #4346
Closing as this is tracked separately.

[2022-10-17 23:34] #4346 closed, assigned to EmLauber

[2022-10-17 23:35] EmLauber commented on #4346
Closing as this is tracked separately.

[2022-10-18 02:30] sameerag commented on #5111
The issue is auto closed. This will be kept open.

[2022-10-18 03:20] olafwrieden commented on #5294
Thanks, that's all I was looking for. I was thinking maybe this value is visible to me in Application Insights somewhere or can be used to filter logs if I have multiple apps using the same Application ID. No further info required but it might be good to update the docs to inform users what this value does and where it becomes visible to them if they define it.

[2022-10-18 12:55] 72gm opened #5310 "acquireTokenSilent not returning an error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.5

### Public or Confidential Client?

Public

### Description

If I call the following

`export const acquireAccessToken = async (
  theInstance: IPublicClientApplication,
  theAccount: AccountInfo,
  theScopes: string[]
) => {

[2022-10-18 13:19] svdHero commented on #5245
@tnorling I am preparing a simple reproduction app. Can I somehow PM you in order to send you the `.env` file with the IDs for our company B2C? Is it okay to write to your Microsoft email address?

[2022-10-18 14:41] anjalikalsariya opened #5311 "400 bad request error while Sign In"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Public or Confidential Client?

Public

### Description

Can't be able to do azure b2c login with two tabs.

Reproduce the error:
Step: 1 Open the login page in two tabs.
Step 2: Now go to the first tab and do login and l

[2022-10-18 14:43] hada79 commented on #5198
@sameerag Any ideas on how to specify a resource id using msal? I believe you may have misread the thread, thinking nedgrady had provided a solution.

[2022-10-18 14:52] sameerag commented on #5310
MSAL JS is only a token acquisition library and not a token validation library. When we require a token with a set of scopes, the authentication service issues a token for the specific scopes the user consented to and is allowed to be issued a token for. You can refer the documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resource

[2022-10-18 16:13] tnorling commented on #5245
You may email me at my Microsoft email. Let's start with just the app, I'll use my own B2C instance and if I still can't get it to repro I'll reach out. In theory if this is a bug in the library the authority should be irrelevant.

[2022-10-18 16:38] Robbie-Microsoft commented on #4879
@awanlin You can use a tool like [Fiddler](https://www.telerik.com/fiddler) to get the network trace.

[2022-10-18 20:33] sameerag commented on #5311
@anjalikalsariya Can you share us msal logs? You can enable them as instructed [here](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-logging-js).

[2022-10-18 20:45] sameerag commented on #5294
Sure. We have plans to update the docs soon.  I have marked an internal ticket to track this.
Thanks for reaching out.

[2022-10-18 20:45] #5294 closed, assigned to tnorling

[2022-10-18 20:54] Robbie-Microsoft commented on #5295
@aleknik Just curious, what is your scenario for wanting a custom https agent?

[2022-10-18 23:24] derisen commented on #5310
@72gm if the scope string you are passing to `acquireToken*` is malformed or invalid somehow, B2C will respond with an error, and MSAL will resurface that error to you. Other than that, the scope might be valid but the service might not carry out the request. In B2C for instance, if you haven't declared the required permissions in the app registration, it will not issue the user an access token, s

[2022-10-19 05:54] anjalikalsariya commented on #5311
@sameerag I have added below msal config

export const msalConfig: Configuration = {

    auth: {
        clientId: clientId,
        authority: b2cPolicies.authorities.signUpSignIn.authority,
        knownAuthorities: [b2cPolicies.authorityDomain],
        redirectUri: process.env.REACT_APP_AUTH_REDIRECT_URI,
        postLogoutRedirectUri: process.env.REACT_APP_AUTH_REDIRECT_URI,
        navigate

[2022-10-19 05:56] ToshB opened #5312 "Device Code Flow in msal-browser"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Public

### Description

I'd like to request support for Device Code flow in msal-browser (in addition to msal-node).

I have several applications where the auth code flow doesn't give the best user experience, due to several reasons.
- The page is displayed on a dashboard d

[2022-10-19 08:08] diamant-isufi-sveasolar commented on #5296
@tnorling The login.microsoftonline route opens up, it then redirects me back to the web route, but fails to close.. I am then stuck in the popup having the route that should be in the browser. This is a screenshot of the logs

<img width="566" alt="image" src="https://user-images.githubusercontent.com/105778530/196633645-3ac7d4fe-3d60-44d1-80aa-81722b8e4b18.png">

[2022-10-19 10:06] goester-team23 opened #5313 "Azure AD B2C user flow name can break token cache"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.4.5

### Public or Confidential Client?

Public

### Description

The implementation of [`getCredentialType`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/cache/entities/Crede

[2022-10-19 10:32] gatsby-david commented on #5111
We have investigated this bug with @tadeas22 into depth and possibly find the root source of the problem, sadly not the solution. It looks like the bug isn't connected with msal library itself but with the implementation of IndexedDB (https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB). If you run the example code from this page https://developer.mozilla.org/en-US/docs/

[2022-10-19 11:56] 72gm commented on #5310
@sameerag & @derisen many thanks for the quick responses.

In my scenario the DevOps had failed to set up the scopes correctly named. My application was handling tokens and errors but not empty string tokens, so it blew my application up

I can't remember the exact detail of the original scenario but if I call B2C with 'scope2' instead of 'scope1' the access token being returned from B2C is an emp

[2022-10-19 22:56] jonocairns opened #5314 "acquireTokenPopup flow suggested behavior"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Public

### Description

When using the recommended flow stated in the documentation for token acquisition, there's a two-step approach calling `acquireTokenSilent` and then `acquireTokenPopup` if `InteractionRequiredAuthError` is thrown.

My main problem involves acquireTok

[2022-10-20 01:01] ghost commented on #5128
@aleknik This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-20 01:35] carpusherw commented on #5302
@tnorling, would you release a new version, supposedly 0.2.4?

[2022-10-20 02:02] alexseyrakov opened #5315 "acquireTokenSilent after 8 hour"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.29.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Public

### Description

We use the MSAL library to access corporate resources.
After 8 hours, acquireTokenSilent stops receiving a new token and asks for re-authorization in ADFS.

### MSAL Configuration

[2022-10-20 06:19] dbelyaev opened #5316 "Broken link"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Public or Confidential Client?

Public

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples

### Description

* Broken link

[Multi-tenant tutorial using MSAL Angular v2](https://github.com/Azure-Samples

[2022-10-20 11:06] bui2jp opened #5317 "Cannot build the vue3-sample-app"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.18.0

### Public or Confidential Client?

Public

### Description

reg, samples/msal-browser-samples/vue3-sample-app

i cannot build the vue3-sample-app with following error.

can anyone help me for this issue?

`
$ npm run build

src/views/Profi

[2022-10-20 12:29] yksht commented on #4835
@jo-arroyo Is it realy necessary to create another issue? :)
Replacing window object with properly injected document object should help with this issue in Angular Unversal SSR

[2022-10-20 14:51] bgavrilMS opened #5319 "How to capture network traffic for a nodejs app?"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Confidential

### Documentation Location

msal wiki or samples or docs.ms

### Description

1. Run the sample https://github.com/Azure-Samples/ms-identity-javascript-nodejs-console
2. Get into some problem with it
3. Contact the team, who'll ask for logs and network traces

Actu

[2022-10-20 14:56] agrahamwize opened #5320 "Handle AADSTS50105 and other login failures on client"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.28.3

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.7

### Public or Confidential Client?

Public

### Description

Hi there,

At times, we have users receive the AADSTS50105 error message for their login request because the client they are logging into does not contain any role

[2022-10-20 16:09] tnorling commented on #5302
Yes, we have a release currently scheduled for next Monday. Will make sure this gets out. cc. @sameerag

[2022-10-20 16:52] Tsathyapriya80 opened #5321 "Issue with SSO from Outlook Web App"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0

### Public or Confidential Client?

Confidential

### Description

 Outlook add-in with SSO using Microsoft Identity Platform. localhost -web page is working from browser, and it works on Outlook app in windows. But the s

[2022-10-20 17:52] derisen commented on #5316
@dbelyaev Thanks for catching that! A fix is underway.

[2022-10-20 18:33] derisen commented on #5310
@72gm I agree the inconsistency here is confusing, but MSAL merely constructs the response object with what is coming from the service. Perhaps MSAL can set the `accessToken` property to null when it's an empty string, but this would make it opiniated about the service response. @sameerag @tnorling thoughts?

[2022-10-20 18:48] derisen commented on #5319
Fiddler has some [guidance ](https://docs.telerik.com/fiddler-everywhere/knowledge-base/how-to-capture-nodejs-traffic) for setting up a proxied http client, which could be used as a custom network client with msal-node. There's this [FAQ item](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#why-doesnt-my-app-function-correctly-when-its-running-

[2022-10-20 20:47] Robbie-Microsoft commented on #5319
@bgavrilMS As I seem to remember, when you open Fiddler, it acts as a proxy and all network traffic travels through it. I think that Node doesn't like traveling through proxies and that you need to make a new rule in the Firewall to allow outbound traffic on port 8888 (default Fiddler port). See step #3 my description [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4

[2022-10-20 22:03] Robbie-Microsoft commented on #5319
@derisen Looks like that guidance is out of date. MSAL-Node no longer uses axios, I re-wrote the default network manager to use node's native http/https modules. I think the first 3 sentences should be deleted.

[2022-10-21 02:02] sameerag commented on #5320
@agrahamwize Can you please share a screenshot of the error you are seeing? You can grey out the confidential parts if needed or email me [here](https://github.com/sameerag).

[2022-10-21 02:03] sameerag commented on #5319
@Robbie-Microsoft @derisen can we please make the FAQ doc changes as needed?

[2022-10-21 02:05] sameerag commented on #5315
@alexseyrakov Thanks for reaching out. We try to acquire/refresh tokens silently as long as the session is valid. Can you share the exact error message you see?

[2022-10-21 02:26] sameerag commented on #5314
@jonocairns Thanks for reaching out. For popups or any interactive requests, we need to open a popup or reload the browser window to handle the response from the service. Having requests queued up may result in UX experience degradation.

However, can you elaborate your scenario where you would need popup requests simultaneously?

[2022-10-21 02:30] agrahamwize commented on #5320
Hey, absolutely. Included is the more full text and display for the error when it is encountered.

![Screenshot (1)](https://user-images.githubusercontent.com/61852360/197097280-a78d3ba8-7066-4504-b953-78d5bb8e0d18.png)

[2022-10-21 03:39] bui2jp commented on #5317
I found that it works without "vue-tsc --noEmit".

[2022-10-21 04:40] sameerag commented on #5313
@goester-team23 good find. Since credential look up is a substring-based search, I see why this can happen. Let me mark this as a bug on our end.

[2022-10-21 06:13] Robbie-Microsoft commented on #5319
@sameerag yes. @bgavrilMS @derisen. I actually just put the finishing touches on a small typescript msal-node project that's able to have it's network traffic traced in Fiddler! Will share the sample tomorrow.

[2022-10-21 06:57] musale opened #5324 "Firefox v103.0.1+ does not show popup screen during authentication"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Public or Confidential Client?

Public

### Description

The [Microsoft Graph Toolkit](https://learn.microsoft.com/toolkit) uses the `msal-browser` package in their Teams Provider for authentication. There are [issues](https://github.com/

[2022-10-21 07:23] dzendras commented on #5198
I seem to be experiencing the same problem.

[2022-10-21 12:47] daniel-seitz opened #5325 "Cancelling editProfile or changePassword flows lead to access_denied"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.30.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

n.a.

### Public or Confidential Client?

Public

### Description

We are calling loginRedirect with

    { authority: `${cloudInstance}/${tenant}/${changePasswordPolicyId}` }

and are directed to the correct page.

However when **cancelling** ther

[2022-10-21 14:25] okapies opened #5326 "Obtain autorization code from `loginPopup` instead of token(s)"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL React (@azure/msal-react)

### Public or Confidential Client?

Public

### Description

`loginPopup` sends a request to `/oauth2/token` to obtain `access_token` and `id_token` immediately after obtaining `authorization_code` in its implementation. But I want to obtain `authorization_code` directly from my public client a

[2022-10-21 15:44] sameerag commented on #5326
@okapies Can you give me more details about your scenario? Is your server also AAD?

[2022-10-21 15:47] sameerag commented on #5325
cc @nickgmicrosoft Is there a specific reason for this error from B2C?
@daniel-seitz We are relaying the server error and it is possible the error messaging is accurate in the sub_code. I have tagged our B2C contact to help with this.

[2022-10-21 15:54] scottgit commented on #4879
Just wanted to note that I experienced the same issue @awanlin has had (using latest 1.14.9), and downgrading to 1.9.0 did fix it. So something changed after that which causes, at least in some situations, that error message of failing to retrieve endpoints with proper configuration in place.

[2022-10-21 16:13] tnorling commented on #5310
Changing the response type would be a breaking change which we cannot do now but may consider for future versions of the library. That said, empty access token is unexpected and indicates a configuration error - once you've addressed the issue in your code you shouldn't have this problem anymore. Checking for empty string (or even better - truthiness) would help you identify this problem in the fu

[2022-10-21 20:37] zavionsherman opened #5327 "How do I handle queries coming from the URL?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.26.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.4.2

### Public or Confidential Client?

Public

### Description

I am working on an application that needs to be able to accept queries from the url to fetch data.  I am trying to have the url look something like this https://app

[2022-10-21 21:09] zavionsherman commented on #5327
I actually figured out my issue.  The redirectUri that is set up in my msalConfig was window.location.href which should be just "/".

[2022-10-21 21:09] #5327 closed, assigned to sameerag

[2022-10-21 23:54] derisen commented on #5317
@bui2jp I can reproduce this. There are two issues here:

(1) view files (Profile.vue, ProfileNoGuard.vue) don't have a type for the displayed data from Graph, so you could just define one to resolve.
(2) Typescript complaining about some dependencies in the `node_modules` folder. These are outside of your control so not much to do. I tried excluding them but this doesn't seem to work. So another

[2022-10-23 01:00] ghost commented on #5298
@Georg-Trixl This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-23 01:23] okapies commented on #5326
My application plans to use AAD for authenticating our customer. MSAL makes the customer authenticate themself on the popup window to obtain `authorization_code` immediately before fetching an `access_token`, but there is no way to obtain `authorization_code` directly in our client. I want to redeem it for `access_token` in our API server instead of the client.

[2022-10-23 21:56] sameerag commented on #5312
@ToshB Thanks for raising this. `msal-browser` is a specific type of public client (SPA) which has certain restrictions on the RT issued etc. Expanding it to device-code may not be feasible as is.

However, we do think browsers with limited i/p or interface is a good use case. We are exploring some solutions internally in MSFT to address similar scenarios and the 3P cookies being blocked on most b

[2022-10-24 01:00] ghost commented on #5245
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-10-24 01:12] alexseyrakov commented on #5315
in console
"MSIS9615: The refresh token received in 'refresh_token' parameter has expired."

[2022-10-24 07:00] daniel-seitz commented on #5325
According to https://learn.microsoft.com/en-us/azure/active-directory-b2c/error-codes this is a defined and expected _error_ so technically the message is forwarded correctly but the _errorCode_ is not. The term "access_denied" is not correct.

I'd like to stress the definition of the word _error_ though and suggest a different usage here. A cancel operation is not an error but for me a result of

[2022-10-24 07:19] Georg-Trixl commented on #5298
So i figured it out on my own, in SPFX the state and extraQueryParameters are also not usefull.
The in SPFX, PNPJS and also MSAL-React integrated authentication, things are not helping to embed a PowerBI-Report into a SharePoint - when a developer is required to put PowerBI into a SharePoint Webpart without of an pre generated embedding Link.

[2022-10-24 07:19] #5298 closed, assigned to sameerag

[2022-10-24 09:26] aleknik opened #5330 "OBO flow not using refresh tokens"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.14.2

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Public or Confidential Client?

Confidential

### Description

When acquiring tokens using obo flow, they are not refreshed before expiry (offline_access scope is included).
Since MSAL is not exposing refresh tokens it should handle refresh o

[2022-10-24 10:06] ZeroGDrive commented on #4298
Please consider resolving this ASAP, as angular 15 will remove view engine completely

[2022-10-24 12:10] bgavrilMS commented on #4879
@Robbie-Microsoft - can you provide @awanlin the latest instructions on how to get a Fiddler trace?

[2022-10-24 13:00] #5132 closed, assigned to tnorling

[2022-10-24 13:00] ghost commented on #5311
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-10-24 13:01] ghost commented on #5296
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-10-24 22:00] jonocairns commented on #5314
Hey @sameerag - thanks for responding! 🥳

I think it's less about queuing and more about coordination between inflight requests and subsequent requests for a token, essentially minimizing the `interaction_in_progress` chances when a burst of API requests are fired in quick succession.

My scenario is this:
1. login to app on a Friday, continue working, and leave logged in over the weekend
2. acces

[2022-10-24 22:12] izikl opened #5332 "PopupWindowAttributes is not exported"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Public or Confidential Client?

Public

### Description

loginPopup expects PopupRequest:
[code]

PopupRequest type is:
[code]

Which allows popupWindowAttributes as parameter. However, this parameter is not exported in `\lib\msal-browser\src\index.ts`. Can this type be exported?

### Source

Internal (Mic