[2022-02-17 21:00] hectormmg commented on #4527
@relief12 yes, clearing local/session storage will remove MSAL tokens from the cache, meaning that when MSAL attempts to retrieve a token silently, it will not be able to and the user will have to re-authenticate in order to acquire more tokens.

[2022-02-17 21:24] hectormmg commented on #4528
@waxisien could you provide a screenshot showing where you want the popup to appear so we can better understand the request? Thanks.

[2022-02-17 21:35] rellis-of-rhindleton opened #4532 "MsalGuard and consent scopes fail when scopes from multiple resources are specified"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

We've been using MSAL Angular for a long time now, and I thought I knew how to configure it. We had to spend a few hours troubleshooting an error yesterday and although we got it working I'm confused. Was

[2022-02-17 21:51] fgoulet commented on #4154
I tried that but when I started to update deprecated rxjs 6 code with their replacement in 7, the new code would not compile.

The overrides look like a better option. Will try that.

[2022-02-17 22:14] relief12 commented on #4527
@hectormmg thanks for the reply. So if for some reason Azure is offline, then the users won’t be able to use my app because they can’t log in? I had the understanding that in that scenario Azure/MSAL would automatically check if the user has cached credentials/token and use that for the log in process. So then if we are clearing out the cache, the Azure backup plan won’t work, is that correct?

[2022-02-17 23:18] hectormmg commented on #4529
@ranikatta that error screen as well as the navigation are handled on the service side, so MSAL has no control over redirection after an error like this. The user needs to hit the back button or manually go back to your application. You can leverage MSAL's logout APIs in order to remove the tokens from their other accounts from the MSAL cache so the next time they will be prompted for the account

[2022-02-18 00:37] whatjakecodes commented on #4519
The error I was seeing was that the Cypress test harness, which loads `localhost:8080` where the app is running into an iframe, would redirect the entire page (including the Cypress harness, which is outside the iframe on `localhost:15436` or some such port) to the microsoft online login page, rather than contain the redirect within the iframe.

Perhaps there are some settings to make that redirec

[2022-02-18 01:38] hectormmg commented on #4523
After reviewing this issue and discussing it offline with @salman90 we determined this isn't a bug, but the intended behavior. The actual bug around returning the incorrect token when claims are requested is only present in the current version of MSAL Node.

What is happening here is that there are two tokens in the cache for the same resource, one with and one without claims. These aren't duplica

[2022-02-18 01:38] #4523 closed, assigned to hectormmg

[2022-02-18 01:45] hectormmg commented on #4532
Hi @rellis-of-rhindleton , thanks for opening this issue, happy to help.

AAD doesn't support scopes for multiple resources in the `scopes` parameter, but there is a query parameter that MSAL and AAD support called `extraScopesToConsent`. Putting scopes for other resources in `extraScopesToConsent` should allow the server to prompt the user for consent on those scopes while they're logging in and

[2022-02-18 01:54] rellis-of-rhindleton commented on #4532
I see - apparently the [documentation](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-guard.md) for msalGuardConfigFactory needs to be updated. There’s nothing in  about that.

I believe that answers my question, thanks.

[2022-02-18 01:54] #4532 closed, assigned to hectormmg

[2022-02-18 02:05] hectormmg commented on #4527
Right, if the authorization service were to come offline, the user may be able to keep using their cached tokens for as long as they are valid (assuming the validation service that the resource server uses isn't also down).

However, if the user signs out from your app, the correct behavior would be to clear the cache and require them to log in again the next time. If the authorization service hap

[2022-02-18 13:39] relief12 commented on #4527
@hectormmg Thank you!

[2022-02-18 13:39] #4527 closed, assigned to hectormmg

[2022-02-18 14:11] bj00rn opened #4535 "logoutRedirect always shows account picker when called with an account and idTokenClaim.login_hint is set"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Promptless logoutRedirect (https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#promptless-logout) is not working.

Account picker is shown even if a val

[2022-02-18 14:19] bj00rn commented on #4535
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3559

[2022-02-18 18:39] hectormmg commented on #4535
@bj00rn it seems you are using version 2.21 of msal-browser. The logout hint support feature was shipped on the latest version, 2.22. Could you please upgrade your msal-browser version and let us know if your issue is resolved? We’ll make sure to update documentation to make it clear that this is a v2.22+ feature.

[2022-02-18 20:29] hectormmg commented on #4519
@whatjakecodes I've been looking further into your approach, and I think you should check out the [testing doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md) we have on using `loadExternalTokens` API. What you originally wanted to do is achievable through this advanced API.

[2022-02-18 20:52] jasonnutter commented on #4257
Closing as duplicate of #4154, which includes some potential short-term workarounds. Apologies for the delay in addressing this!

[2022-02-18 20:52] #4257 closed, assigned to nobody

[2022-02-18 22:13] waxisien commented on #4528
Case 1: when the bottom screen is the main display, the popup is not centered but aligned with the bottom border:
![Popup_non_main_screen](https://user-images.githubusercontent.com/1349973/154767256-2b9f8526-df40-4c9e-b13b-8341cd79d144.png)

Case 2: when the top screen is the main display, the popup is centered as it should be:
![Popup_main_screen](https://user-images.githubusercontent.com/1349973

[2022-02-19 01:00] ghost commented on #4424
@joshmouch This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-19 01:38] EmLauber commented on #4445
We start our quarterly planning period in March and it typically takes a month to gather, validate, and prioritize all the asks. I'll know more by end of March.

[2022-02-19 09:29] mikkelmk commented on #4519
I did something like this, which is... suboptimal. It has, however, worked seamlessly.

[code]

`loadExternalTokens` might be a better way to achieve something similar.

[2022-02-20 00:22] gaweCodes commented on #4154
I use the workarounds. Bit I am really unhappy about the roadmap. Is it so hard to find a good solution?!

[2022-02-20 01:00] ghost commented on #4516
@svdHero This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-20 01:00] ghost commented on #4457
@rahulmotwani1996 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-20 01:00] #4463 closed, assigned to jasonnutter

[2022-02-20 08:28] svdHero commented on #4516
@peterzenz thank you for your explanation, but I still don't understand. Like I wrote above, given name and family name are part of the B2C registration form. They are visible in the AD of the B2C tenant and they are included in the id token claims. I can read them manually from the token.

Shouldn't they be provided via `AccountInfo.name` then?

And wouldn't it be more consistent across systems t

[2022-02-20 13:00] ghost commented on #4412
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-20 21:56] HichamBenjelloun commented on #4456
To complement @jasonnutter's answer, [the official documentation recommends setting the `redirectUri` to a blank page when using popup and silent APIs](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#redirecturi-considerations).

I had the same issue recently because my application router was intermittently redirecting based on the au

[2022-02-21 01:00] ghost commented on #4507
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-21 01:00] ghost commented on #4486
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-21 07:16] tejaswibm commented on #4525
@hectormmg - Thanks for providing your insights.
1. All portals in our eco-system are hosted on the same domain (only sub-domains are different).
2. Flask-AppBuilder lib uses session cookie to check if JWT is already present; if not then makes token request call.

Given above 2 points, do you still suggest not to set session cookie with JWT manually ? Is there any security risks in doing so manual

[2022-02-21 13:00] ghost commented on #4506
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @bmahall please follow up.

[2022-02-21 13:00] ghost commented on #4411
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @sameerag please follow up.

[2022-02-21 22:47] naissa12 opened #4537 "Not returning a refresh token"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

latest

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

I am using the Microsoft graph Javascript client library to get a refresh token for a user. I created an app that connects doctors and patients. I want to create and delete events on the doctors' calendars. I first need their aut

[2022-02-22 01:00] ghost commented on #4526
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-22 01:00] ghost commented on #4524
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-22 01:00] ghost commented on #4522
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-22 01:00] ghost commented on #4521
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-22 02:14] ranikatta commented on #4529
@hectormmg thanks for your reply and suggestion.

[2022-02-22 02:14] #4529 closed, assigned to hectormmg

[2022-02-22 08:12] bj00rn commented on #4535
Ok, i see. Seems it's still an issue with 2.21 i'm afraid. Still getting the account picker. I'm passing my account to logoutRedirect as shown below.

![image](https://user-images.githubusercontent.com/10961167/155089593-be022789-8295-4715-bc33-980d2cc2d0da.png)

![image](https://user-images.githubusercontent.com/10961167/155090005-210a533b-5fea-49d1-8797-9850283620ef.png)

[2022-02-22 08:53] bj00rn commented on #4535
![image](https://user-images.githubusercontent.com/10961167/155096301-0a08c719-556c-448c-b645-8a10a67908e8.png)

Edit: it's working if I set both `account` and `logoutHint` in `EndSessionRequest` is this a requirement? Maybe the documentation should be updated if this is the case. Setting only `accont` in `EndSessionRequest` still shows the account picker.

[2022-02-22 12:03] svrooij opened #4538 "Change type of `idTokenClaims` for direct access"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Description

If the `idTokenClaims` are set on an account, it's recognized as an `object`. This means you cannot access it's members (`roles doesn't exist on object`). With the following work-around I'm able to access the properties in the identity token.

[code]

The type `{ [key: stri

[2022-02-22 14:55] bj00rn commented on #4535
Thanks! Please do 🌹 .

Confirmed working with `v2.22`

Closing

[2022-02-22 14:55] #4535 closed, assigned to hectormmg

[2022-02-22 17:29] johnyoungnvs commented on #4452
Sorry for the delay, got some time from dev team to enable it and pull out the details

Please see below, i've tokenized the website and tenant name, if you need, I can send privately, no front door on this one, straight connection to b2c, i highlighted the first error of access control error from b2c

[MSAL Verbose.docx](https://github.com/AzureAD/microsoft-authentication-library-for-js/files/811

[2022-02-22 17:57] hectormmg commented on #4519
@whatjakecodes yes, `loadExternalTokens` should help abstract away most of this logic, please let us know if your issue is resolved so we can close this ticket.

[2022-02-22 18:22] jo-arroyo commented on #4537
@naissa12 MSAL abstracts away all refresh token complexity, and does not return the refresh token to the user. Please see [this FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/docs/faq.md#how-do-i-get-the-refresh-token) for more information.

[2022-02-22 19:00] hectormmg commented on #4522
@getwebem could you [file a support](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) ticket with the B2C service team? This is most likely related to your B2C configuration and not MSAL itself, thanks!

[2022-02-22 22:36] jo-arroyo commented on #4412
@rfprod Thanks for opening this issue. We have been able to reproduce this error and will investigate a fix.

[2022-02-22 22:45] sameerag commented on #4486
@hastudillo Thanks for the data. We think this is a bug in access token filtering, which should include account matching. I am marking this as a bug and will follow up with a PR.

[2022-02-22 22:46] sameerag commented on #4425
@EmLauber can we close this if this is tracked internally?

[2022-02-22 22:55] sameerag commented on #4507
Marking it as bug and assigned to me. Will work on this soon.

[2022-02-22 23:05] sameerag commented on #2600
@san-goyal Did you try the latest msal-node release?

We added proxy support in the latest msal-node release [@azure/msal-node](https://www.npmjs.com/package/@azure/msal-node) `version 1.6.0` with the change log details [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-node/CHANGELOG.md)

Please let us know if this solves your issue.

[2022-02-23 00:58] EmLauber commented on #4425
@sameerag  I'm happy to close this as we are tracking it internally as well as externally in other issues:  https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4154

[2022-02-23 03:40] jscoder1009 commented on #4104
We are facing the same issue as well, I’m unable to catch the exception in acquireTokenSilent subscription block with instance of InteractionRequiredAuthError

[2022-02-23 05:33] 2strokes opened #4539 "Does msal-react, msal-common, msal-browser support client credentials Flow "acquireTokenByClientCredential" for automation testing ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.1.2

### Description

Does msal-react, msal-browser, support Client Credentials Flow "acquireTokenByClientCredential"  for automation testing ?

### MSAL Configuration

_No response_

### Relevant Code Snippets

_No response_

###

[2022-02-23 07:35] sameerag commented on #4425
Thanks. Closing.

[2022-02-23 07:35] #4425 closed, assigned to sameerag

[2022-02-23 12:06] djcarryout commented on #4519
Yes you can mark it resolved. I appreciate your support very much, @hectormmg !

[2022-02-23 12:08] whatjakecodes commented on #4519
Yes, please mark it resolved. Appreciate your support, @hectormmg !

[2022-02-23 13:41] ukaaa commented on #4526
Any suggestions? Is the approach of using `jsonwebtoken` acceptable? I find it strange that there is no clean way of obtaining a user's roles using the MSAL library. I can't be the first one wanting to adapt a UI based on the roles a user has.

[2022-02-23 17:45] timtucker-dte commented on #4526
was looking to see if there were tags for this as well and disappointed not to see them -- looks like I'll be heading down the jsonwebtoken approach as well.

[2022-02-23 18:01] 2strokes commented on #4519
@hectormmg Thank you for all the suggestions. I am in a similar scenario and would like to know if loadExternalTokens can be used with client credentials grant to obtain token.

[2022-02-23 19:14] tsulli opened #4541 "TypeError: tslib_1.__spreadArray is not a function with msal 1.4.16"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.16

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

msal 1.4.16 uses tslib ^1.9.3, but TelemetryManger.ts uses __spreadArray that is only available in tslib ^2.1.0

I have tried adding an upgraded version of tslib to my build but it does not resolve the issue. Deleting node_mo

[2022-02-23 21:39] jo-arroyo commented on #4541
@tsulli Unfortunately, msal 1.x is only receiving critical security fixes at this point. Unless you are able to use an upgraded version of tslib, our recommendation would be to use the @azure/msal-browser library instead.

[2022-02-23 21:43] jo-arroyo commented on #4539
@2strokes msal-browser and msal-react only supports the Auth Code Flow, and not the Client Credential Flow. If you are wanting to load tokens for testing purposes, you could use our `loadExternalTokens` API, detailed in this doc [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/testing.md).

[2022-02-23 22:04] 2strokes commented on #4539
@jo-arroyo Thank you for your quick response. In order to use loadExternalTokens, do I need to have a valid test user account set up in azure ?
Also, acquireTokenSilent() causes interaction Auth error because no refresh token is present.

[2022-02-23 23:34] jo-arroyo commented on #4526
@ukaaa We generally don't recommend opening up access tokens to get the roles. User roles should also be found on an id token (see docs [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens)), and MSAL populates `idTokenClaims` on the `AccountInfo` object with these roles. Please see [this doc](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/l

[2022-02-23 23:43] jo-arroyo commented on #4525
@tejaswibm Since the cache is not shared between sub-domains, each app would have to go to the network to request tokens. Our recommendation would still be to leverage [ssoSilent](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#silent-login-with-ssosilent) instead of setting the cookies manually.

[2022-02-23 23:45] jo-arroyo commented on #4524
@patrick-rodgers Are you able to access login.microsoftonline.com/consumers with those configurations?

[2022-02-23 23:54] jo-arroyo commented on #4506
@gustavoabell Please provide the steps you are currently taking, and where you are seeing issues, so that we can better help you.

[2022-02-24 00:02] jo-arroyo commented on #4411
@julian-code @davidspiess @deryost @francesconi Thank you for your patience. We have been able to reproduce this and will investigate a fix. While we do that, you may have to continue having the user log out after editing their profile.

[2022-02-24 01:00] #4508 closed, assigned to bmahall

[2022-02-24 07:10] ukaaa commented on #4526
Hi @jo-arroyo

Thanks for the input. I've tried using the Graph API but as stated above I was only able to get the assigned app roles for _some_ of the app registrations but not all of them. Some of the app registrations simply didn't show up. On the other hand, when I retrieve and parse access tokens with `jsonwebtoken` the roles are there.

[2022-02-24 15:49] ukaaa commented on #4526
Hi @jo-arroyo
I just discovered I can in fact [list appRoleAssignments](https://docs.microsoft.com/en-us/graph/api/user-list-approleassignments) for _all_ app registrations. I was incorrectly filtering the results. I had the pass the resource ID of the resource in enterprize applications, instead of the ID of the app registration.

Now my next question would be, how can I retrieve the human-readab

[2022-02-24 16:36] #4519 closed, assigned to hectormmg

[2022-02-24 16:41] hectormmg commented on #4519
@2strokes we recommend the username password grant for this testing scenario (never use ROPC or username/password grant in production on a confidential client application)

[2022-02-25 01:20] NateRadebaugh opened #4543 "@azure/msal-browser and @azure/msal-common are huge dependencies"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

I'm using this library in my angular app but the documented steps result in a `230+ KB` increase of bundle size.

<img width="541" alt="image" src="https://user-images.githubusercontent.com/130445/1556347

[2022-02-25 13:00] ghost commented on #4516
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-02-25 13:19] Bartheleway commented on #4379
I got an answer from Salesforce, and as expected they say everything is working as expected on their side. They currently don't have a public document explaining it but they will have one (no ETA provided).

Knowing this in addition with my previous comment, could you consider again accepting my PR ?

[2022-02-25 14:41] ajayiviewlab opened #4544 "Start issue after a long inactivity due to Refresh token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2..0.5

### Description

As per the document of token lifetimes, it says default refresh token validity is 90 days

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

B

[2022-02-25 19:57] jo-arroyo commented on #4544
@ajayiviewlab While the default lifetime for refresh tokens is 90 days, refresh tokens used in single page apps and with the authorization code flow are limited to 24 hours. Please see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens#token-timeouts) about refresh tokens lifetimes and [this document](https://docs.microsoft.com/en-us/azure/active-directo

[2022-02-25 21:02] tsulli commented on #4541
Thanks. We had upgrading to msal 2.x in the backlog and this pushed it straight to the top of the queue. I managed to get everything upgraded and mostly working now.

[2022-02-25 21:02] #4541 closed, assigned to jo-arroyo

[2022-02-25 21:40] BobJeronowitz opened #4545 "Single Logout Using iFrame X-Frame-Options Deny"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.17.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

There are 2 applications sharing SSO,  Logout using Single Logout (SLO)
- Asp.Net / AngularJs application
- Angular v12 SPA

User logs into 1 application and is logged in to both and SLO logs each user ou

[2022-02-26 00:13] jasonnutter commented on #4379
Thanks for the update. So to be clear, they are saying their documentation (which explicitly shows `Object.keys(localStorage)`) is incorrect?

[2022-02-26 00:15] jasonnutter commented on #4379
We will discuss internally and follow up. One concern is that as a team we don't have an easy way to test this environment, and just because we fix this issue doesn't mean there aren't other parts of the library that are broken (either currently or in the future).

[2022-02-26 00:40] kandeeb1 commented on #4539
@jo-arroyo  Could you please help me with mentioned questions?

[2022-02-26 01:43] 2strokes commented on #4539
@jo-arroyo @hectormmg Could you please help me with the above mentioned questions. Appreciate your help !!

[2022-02-26 02:10] jo-arroyo commented on #4521
@alexander-e-andrews Have you followed the steps listed in [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps) about adding app roles?

[2022-02-26 08:35] Bartheleway commented on #4379
As I tried to explain before, there are several technologies in Salesforce world. In particular there are 2 front end framework "Aura" and "LWC" (or Lightning Out). The documentation was for LWC and I am in Aura context. It seems they don't have the equivalent of provided documentation for Aura. They said they will add it but they don't know when.

We could describe this environment as an environm

[2022-02-26 13:00] #4424 closed, assigned to sameerag

[2022-02-26 22:01] gustavoabel commented on #4506
All Right.

[2022-02-27 13:00] #4457 closed, assigned to jasonnutter

[2022-02-28 01:00] ghost commented on #4537
@naissa12 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-28 01:00] ghost commented on #4522
@getwebem This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-02-28 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jasonnutter please follow up.

[2022-02-28 09:35] luismanez opened #4548 "[QUESTION] What is the Authorize param mscrid for?"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.12

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I´ve been involved in this interesting issue related to SharePoint framework, msal.js and MS Edge Canary:
https://github.com/SharePoint/sp-dev-docs/issues/7711

Luckily, seems finally solved, and, although I´m not sure about

[2022-02-28 10:47] #4522 closed, assigned to hectormmg

[2022-02-28 15:26] cajutemdesign opened #4549 "Infinite loop while making api calls"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

After authentication, I am getting an infinite loop on any subsequent api calls I make while using msal as a custom interceptor. I am not sure what I am doing wrong

### MSAL Configuration

[code]

### Rel

[2022-02-28 16:09] patrick-rodgers commented on #4524
Hi @jo-arroyo - Thanks! Gave it a try this morning and am a step further, but got this now. Do you have a link on how to get my app enabled for consumer?

_unauthorized_client: The client does not exist or is not enabled for consumers. If you are the application developer, configure a new application through the App Registrations in the Azure Portal at https://go.microsoft.com/fwlink/?linkid=20839

[2022-02-28 16:14] pkanher617 commented on #4549
Need more info - redirect loop?

[2022-02-28 17:11] jasonnutter commented on #4379
I see, I missed that, apologies for the confusion. That said, we certainly cannot guarantee support for an undocumented environment.

Potentially. Our library relies heavily on persistent browser storage (localStorage, sessionStorage, IndexedDB, cookies) and an environment where those are restricted will likely be difficult for us to properly support.

[2022-02-28 17:54] Bartheleway commented on #4379
That's why implementation should be based on specifications more than observations / implementations (`Object.keys(this.sessionStorage)` returning the keys but not documented).

Let say tomorrow we have a new browser that only implement the session storage as described by the HTML living standard and thus does not make it iterable. Would you like this library to work on it or not ?

I'm happy to h

[2022-02-28 19:11] hectormmg commented on #4524
@patrick-rodgers you can try updating the supported account type property in your app registration manifest.

Assuming you want AAD + MSA consumer accounts:

[code]

Or if you just want to support /consumer (MSA):

[code]
Is that what you're looking for?

[2022-02-28 19:26] pkanher617 commented on #4506
@gustavoabell Are you still having issues with this? A more detailed list of steps for the authentication flow can help us better understand what the desired behavior is here.

[2022-02-28 19:35] yrosenberg-hj opened #4550 "Intermittent MSAL Browser Auth Error: hash empty"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.16.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.2

### Description

Intermittently getting a error when sending a request to authenticate user.

### Error Message

![image](https://user-images.githubusercontent.com/100439885/156042960-255822e0-f5e1-4be8-9850-fa4429384ba8.

[2022-02-28 19:37] pkanher617 commented on #4516
All of these claims can be found under the `idTokenClaims` object as well, so adding these to the AccountInfo object doesn't seem necessary. The `.name` field is more of a convenience feature, but any code dependent on a specific claim can get it from the `idTokenClaims` property.

[2022-02-28 20:54] DerekJDev opened #4551 "Logout redirecting 3 or more times"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

When I call the msalService.logoutRedirect({ postLogoutRedirectUrl: ..appurl }) the msal library goes between the Azure B2C logout route and my app 3 or more times before finally routing to the login scre

[2022-02-28 21:10] patrick-rodgers commented on #4524
Hmm, I got the below error, guessing this choice isn't in the UI due to some conditions in the back end - switching probably isn't supported. All good. I am going to create a new registration to test. Thanks for your help!

[code]

[2022-02-28 21:10] #4524 closed, assigned to hectormmg

[2022-02-28 21:37] svdHero commented on #4516
@pkanher617 thank you for your advice. That's what I am actually doing, reading from the claims directly.

I was just wondering if improving said convenience feature might be helpful for some users. Especially for people using Typescript who don't want to write yet another interface just to access `idTokenClaims` in a type-safe way.

[2022-02-28 22:45] pkanher617 commented on #4545
Bit confused here, did this mean to say "NOT using..."?

This is probably something that the B2C team will need to help with, as front-channel logout is handled by the B2C service. The page that is throwing the "X-Frame-Options Deny" error is the B2C logout page rendered inside of the iframe.

Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft

[2022-02-28 22:49] pkanher617 commented on #4543
@NateRadebaugh We appreciate the feedback! For the most part the modules that are included in the MSAL package are required files. There is a bit more involved than just redirecting, but you are correct that you shouldn't be required to package every feature as part of this if you only need basic token acquisition through a redirect. We are exploring ways to make this package easier to perform tre

[2022-02-28 23:00] pkanher617 commented on #4539
You will need to use the same account as the external tokens you are loading.

This is most likely because the scopes or account provided does not match the account used to load the tokens. Make sure that the IDs being passed in match the IDs in the cache/token you are loading using `loadExternalTokens`.

[2022-02-28 23:12] pkanher617 commented on #4550
@yrosenberg-hj Could you try updating your packages to the latest versions? That would be `2.22.0` for `@azure/msal-browser` and `2.1.1` for `@azure/msal-angular`.

There have been [multiple updates](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases?expanded=true&page=1&q=browser) addressing redirect handling in the versions since the one you provided, and may fix the iss

[2022-03-01 01:00] ghost commented on #4525
@tejaswibm This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-01 02:30] harrisonbs commented on #4154
It has been almost 6 months since the issue was raised. I just ran into the same issue. Why is this so hard to address?

[2022-03-01 13:18] bobjeronowitz-gs1us commented on #4545
Thanks, Prithvi.  Yes, NOT using logoutPopup.  I will create an issue with the B2C team to see if they can help with getting the script to operate in the iframe.

[2022-03-01 14:30] yrosenberg-hj commented on #4550
Thank you for the response. Unfortunately, the issue persists even after updating to the the latest versions.

[2022-03-01 16:34] mharj opened #4562 "OIDC compatibility"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

Testing msal with other OIDC IDP's and at least Google seem to complains on login about offline_access scope (which I haven't set).
Is there way to prevent offline_access scope or is it just required for libr

[2022-03-02 01:00] ghost commented on #4526
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-03-02 02:01] 2strokes commented on #4539
@pkanher617 Appreciate your help !! I am trying to use username password grant flow and loading the same external tokens (using loadExternalTokens) for automation. But stuck with an error "The request body must contain the following parameter: 'client_assertion' or 'client_secret'.  And this happens when MSAL tries to acquire a token.

[2022-03-02 09:02] tiennguyen1293 commented on #4159
I have the issue with `loginRedirect` and `loginPopup` when I implement it on Microsoft Teams Desktop App.

Please update if we have any updates.

Version:

"azure/@msal-browser": "^2.22.0",
"@azure/msal-react": "^1.3.0",

<img width="784" alt="image" src="https://user-images.githubusercontent.com/26110369/156329272-9b103158-f031-4153-b41f-d02661698bb9.png">

[2022-03-02 10:46] mettoware opened #4564 "logoutRedirect() gives --> "Error - Attempted to clear all MSAL cache items and failed. Local cache unchanged.""
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

Everything seems to be working fine, but when you do msalService.logoutRedirect() you will get an error (in Chrome browser console + preserve logs):
**"Error - Attempted to clear all MSAL cache items and

[2022-03-02 15:49] pkanher617 commented on #4526
You should be able to retrieve `displayName` the same way the `appRoleId` is found [here](https://docs.microsoft.com/en-us/answers/questions/110903/how-to-get-app-role-id.html).

[2022-03-02 18:48] jasonnutter commented on #4159
@tiennguyen1293 Teams apps must leverage the Teams SDK to open a Teams dialog, and then perform loginRedirect inside that dialog. This sample demonstrates how to do that: https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs

If you have further questions, please open a separate issue, thanks!

[2022-03-02 18:51] PakitoSec commented on #4326
I tried with  encodeURIComponent(password) and it doesnt work.
Are you sure this is the only problem ? Because I tried with adal-node lib, and everything worked with the same creds.

`        context.acquireTokenWithUsernamePassword
`

[2022-03-02 21:00] pkanher617 commented on #4548
@luismanez Thanks for opening this and bringing this to our attention. It doesn't appear that the `mscrid` parameter is something that would have affected this - this param is most likely being added by Windows or Edge, and the original issue appears to be fixed in Edge, looking at the linked issue. We will keep this in mind for any future cases that come up!

[2022-03-02 23:16] pkanher617 commented on #4551
@DerekJDev This commonly happens when the postLogoutRedirectUri page is the same as the redirectUri. Could you ensure that the page you redirect to after logout is not invoking the logout API again?

[2022-03-03 00:55] DerekJDev commented on #4551
@pkanher617 I had is set to the same thing... I switched the postLogoutRedirectUri to a route that is not protected by the MsalGuard and that you can access with being authenticated, but now it's just stuck in a loop of redirecting back and forth. Besides msalService.logoutRedirect(...) and the MsalGuard, what would be invoking the logout API?

For reference, my **redirectUri** is **http://localho

[2022-03-03 09:32] luismanez commented on #4548
Thanks for the comment @pkanher617. Yeah, issue has been fixed by the Edge team, I was just so curious to know what´s that param for. Would be good to see if someone in the AAD team know the answer :). Anyway, closing this issue, as is not _msal.js_ using that parameter for anything.
Thanks again!

[2022-03-03 09:32] #4548 closed, assigned to pkanher617

[2022-03-03 13:00] ghost commented on #4521
@alexander-e-andrews This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-03 21:33] jasonnutter commented on #4154
Apologies again for the delay on this issue, and thank you everyone for your patience. @Robbie-Microsoft from our team will be working now to get Angular 13/rxjs 7 compat resolved.

Furthermore, we're having discussions internally to make sure going forward we don't continue to be the blocker for Angular upgrades, given the documented and predictable release cadence of the Angular project.

[2022-03-03 21:38] HichamBenjelloun commented on #4550
@yrosenberg-hj I had the same issue recently and solved it by setting the `redirectUri` to a blank page as suggested in the documentation : https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#redirecturi-considerations

Similar issue: #4456

[2022-03-03 22:59] EmLauber commented on #4562
We appreciate the feedback. We could investigate this issue, but in general the library is scoped to be optimized for Microsoft as an IDP. There is not yet a commitment that the libraries should support other IDPs so we can't guarantee combability with others. We are open to this feedback though and will monitor for more feedback on MSAL.js supporting non-Microsoft IDPs.

[2022-03-04 11:28] davidspiess commented on #4411
@jo-arroyo Thank you for looking into this. When can we expect a fix?

[2022-03-04 16:14] yrosenberg-hj commented on #4550
Thank You! It looks like the issue is resolved!

[2022-03-04 16:14] #4550 closed, assigned to pkanher617

[2022-03-04 17:20] ivantrave opened #4573 "Hash value cannot be processed because it is empty"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

The user cannot log in after entering email & password. The login popup gets closed and nothing happens.

After getting the error, that does not happen all times, it's possible to login after clicking the log

[2022-03-04 17:26] ranzolinrafa opened #4574 "Getting 'monitor_window_timeout' and 'X-Frame-Options set to deny' error when login with facebook account"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

We're getting an error sometimes when login with facebook. It's hard to say how this error is triggered, it looks like when we change between our applications or environments the error occurs but I don't know

[2022-03-04 17:26] ranzolinrafa opened #4575 "Getting 'monitor_window_timeout' and 'X-Frame-Options set to deny' error when login with facebook account"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

We're getting an error sometimes when login with facebook. It's hard to say how this error is triggered, it looks like when we change between our applications or environments the error occurs but I don't know

[2022-03-04 17:28] ranzolinrafa commented on #4574
Duplicated

[2022-03-04 17:28] #4574 closed, assigned to pkanher617

[2022-03-04 18:04] jo-arroyo commented on #4411
@davidspiess Unfortunately I have no ETA at this time as this will need to be prioritized against our other efforts. We will keep this issue open and post an update here with any progress.

[2022-03-06 01:00] ghost commented on #4549
@cajutemdesign This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-06 01:00] ghost commented on #4543
@NateRadebaugh This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-06 01:00] ghost commented on #4506
@gustavoabell This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-06 01:00] ghost commented on #4516
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-03-06 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-07 01:00] ghost commented on #4545
@BobJeronowitz This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-07 01:00] #4537 closed, assigned to jo-arroyo

[2022-03-07 09:33] snebjorn opened #4578 "HowTo get error on `loginFailedRoute`?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.0

### Description

When a login error occurs how do we get the actual error message?

### MSAL Configuration

[code]

### Relevant Code Snippets

[code]

### Identity Provider

Azure AD / MSA

### Source

External (Customer

[2022-03-07 13:00] ghost commented on #4564
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-07 13:00] ghost commented on #4539
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-03-07 16:20] mpminayo commented on #4575
Hi, could you email your network trace to the email included on my github profile? We believe this is because the b2c policy is not forwarding the login hint.

[2022-03-07 16:30] mpminayo commented on #4573
Hi, which version of chrome are you using, and did you add any code to the sample? Could you also share a network trace and verbose logs to the email on my github profile?

[2022-03-07 21:34] #4171 closed, assigned to hectormmg

[2022-03-07 22:05] pkanher617 commented on #4564
@mettoware We were able to reproduce this and hope to have a PR up to fix this shortly - thanks for bringing this to our attention!

[2022-03-07 23:27] #4113 closed

[2022-03-07 23:33] ghost commented on #4171
:tada:This issue was addressed in #4513, which has now been successfully released as `@azure/msal-browser@v2.22.1`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.22.1)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.22.1)

[2022-03-07 23:36] ghost commented on #4402
:tada:This issue was addressed in #4477, which has now been successfully released as `@azure/msal-react@v1.3.1`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-react-v1.3.1)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-react/v/1.3.1)

[2022-03-08 00:22] ranzolinrafa commented on #4575
@mpminayo I couldn't find an e-mail in your profile

[2022-03-08 00:27] TLKG opened #4584 "How to specify Interceptor configuration for Static Web App's integrated APIs?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.1.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

None

### Description

Followed this [MS Doc for adding API into Static Web App (SWA)](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=angular), I'd like to

- MS account login prompt as a popup.
- add Msal In

[2022-03-08 01:00] ghost commented on #4526
@ukaaa This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-08 01:00] ghost commented on #4551
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-08 06:42] mpminayo commented on #4575
Sorry, check now.

[2022-03-08 07:53] mpminayo commented on #4573
Could you upgrade to the latest version of MSAL?

[2022-03-08 13:00] #4525 closed, assigned to hectormmg

[2022-03-08 16:30] ranzolinrafa commented on #4575
@mpminayo still couldn't find any e-mail in your profile ☹Maybe I can send to @pkanher617  ? I've exported the network trace in a .har file

[2022-03-08 16:47] ss90128311 opened #4585 "MSAL support for Service Principals"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.21.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.2.0

### Description

Is it possible to use a service principal to login to an application using MSAL?

I am trying to write an automated test in cypress to login via a service principal. I need to get a token for the service prin

[2022-03-08 16:51] ashokdasari opened #4586 "The "AAD Instance Discovery Endpoint" should be `azureCloudInstance` enum specific"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Description

The "AAD Instance Discovery Endpoint" is hardcoded to use "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=" in the file "msal-common\src\utils\Constants

[2022-03-08 19:13] ranzolinrafa opened #4587 "Token data is not being updated after edit account flow"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

We're trying to implement an edit account feature in our application but we're encountering a problem with the edit account flow. When user has ended the flow and the SSO returns the user to the application t

[2022-03-08 19:14] ranzolinrafa commented on #4587
I've uploaded a sample project so anyone can reproduce the problem.
https://github.com/ranzolinrafa/sample-sso-azure-react

[2022-03-08 20:36] jamesdruhan opened #4588 "Error when using: import msal from "@azure/msal-node""
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.7.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When using the import statement for msal-node, all types and interfaces are available but upon compilation msal is undefined.

If I use the require statement then I don't get the importation of the types.

### Error Message

[code

[2022-03-08 20:43] #4586 closed, assigned to mpminayo

[2022-03-08 20:44] ashokdasari commented on #4586
Closing as we whitelisted the '.com' version of the URL in our network.

[2022-03-09 07:35] mpminayo commented on #4584
We currently don't have any documentation on using MSAL Angular with Static Web Apps.
All our docs for using MSAL Angular can be found here: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/docs/v2-docs

[2022-03-09 08:18] mpminayo commented on #4584
MSAL interceptor is a convenience function that adds the access token to the authorization header of the request. To add additional things to the header, you may want to write your own interceptor.

From your configuration, the last entry to your protectedResourceMap has the api and then null. The reason that the token is not in the headers is because null is used to unprotect the resource, so the

[2022-03-09 09:10] mpminayo commented on #4575
I've fixed the email issue, but you can send to @pkanher617.

[2022-03-09 10:04] gadour97 commented on #4154
How to do that ? I'm having some issues. @rdogmartin

[2022-03-09 11:38] ivantrave commented on #4573
I am currently using Version 98.0.4758.109 (Official Build) (arm64)

I did not add any particular code to the sample beside the one shared in this ticket

I will check if I can gather any log and send them. The popup closes and makes it difficult to get data from it

I will try with the new version released. The ticket was created using 1.3.0

Thanks for your feedback and quick support

[2022-03-09 12:21] ivantrave commented on #4573
Not sure if it is related, but it also throws this error sometimes:

<img width="477" height="400" alt="Screenshot 2022-03-09 at 12 07 08" src="https://user-images.githubusercontent.com/2745404/157439066-fab9e82f-49ef-49f9-9b9a-5e1f3ceb259f.png">

This error message is shown after entering the Microsoft account. It does not get to ask you for the password.

No particular error is shown in the cons

[2022-03-09 13:51] brucethomaswayne6 opened #4589 "how to get inProgress in a ts file ?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.16.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

^1.0.1

### Description

![image](https://user-images.githubusercontent.com/52198079/157454367-470e0f07-a66d-4d32-869b-bf9c599f06cd.png)

How do I get  'inProgress' in this file？

### MSAL Configuration

_No response_

### Relevant

[2022-03-09 15:37] OscarDL commented on #4573
I am facing this exact issue with Chrome on Android. Using Edge, Chrome or Firefox on Windows 11 works perfectly fine. Below is a video of the issue. While trying to record the first time for this comment, it worked for the first time on my phone, so I gave it another try and the error happened again, which is even more strange.

Either way, it never happens once on all 3 browsers I tried on Windo

[2022-03-09 15:59] nicholashendrickx-tomtom commented on #4526
I've tried calling `https://graph.microsoft.com/v1.0/applications?$select=displayName, appId, appRoles&$filter=startswith(displayName, 'App-Name')` but I get a status 403 stating "Insufficient privileges to complete the operation."

I pass the access token I use for other Graph API calls. The one for my client. But no luck.

[2022-03-09 16:01] ukaaa commented on #4526
I've tried calling `https://graph.microsoft.com/v1.0/applications?$select=displayName, appId, appRoles&$filter=startswith(displayName, 'App-Name')` but I get a status 403 stating "Insufficient privileges to complete the operation."

I pass the access token I use for other Graph API calls. The one for my client. But no luck.

[2022-03-09 16:11] mpminayo commented on #4588
How are you installing your package?

[2022-03-09 16:15] jamesdruhan commented on #4588
I'm using **npm install --save @azure/msal-node**

Here is my package.json:

[code]

[2022-03-09 16:17] mpminayo commented on #4585
MSAL node does not take service principals as input. What is the end goal here?

[2022-03-09 16:24] mpminayo commented on #4573
Could you share the logs? Try an upgrade to the latest MSAL version and see if it persists.

[2022-03-09 16:34] #4516 closed, assigned to hectormmg

[2022-03-09 16:34] TLKG commented on #4584
@mpminayo Appreciate the info. I'll study the doc and please keep this thread open. Thank you.

[2022-03-09 17:23] ss90128311 commented on #4585
Hi, we're looking to login to our application via a service principal in order to run automated tests, we are trying to use a service principal as we are not allowed to use a test user account. I assume this is a no-go then?

[2022-03-09 17:25] ss90128311 commented on #4585
Although, even when we did try with a test user account it still didn't work. We used the ROPC flow in order to generate a token for the user, extracted and saved the values in the cache before the test and we still got re-directed to login when running the tests. We were using the example code listed here in order to generate the cache values in the correct format: https://github.com/juunas11/Azu

[2022-03-09 18:39] OscarDL commented on #4573
I've just updated msal-browser to 2.22.1 and the issue persists unfolrtunately. The react-specific package was already on the latest version. Here's the stack trace log below, I'm not sure exactly what logs you're asking me so if something else, let me know so I can help you get those as well :)
Thanks!

PS: You might wonder if it could be tied to me using a self-signed certificate for HTTPS, I al

[2022-03-09 19:42] TLKG commented on #4584
Solution:
`['/api/*', ['offline_access']]`

[2022-03-09 19:42] #4584 closed, assigned to mpminayo

[2022-03-09 20:08] mpminayo commented on #4587
Are you experiencing something similar to this https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4411? If so, we are looking into it.

[2022-03-10 11:00] mpminayo commented on #4589
I am sharing a use case from our typescript sample: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-react-samples/typescript-sample/src/pages/Profile.tsx. Feel free to go through, I hope it will unblock you.

[2022-03-10 11:12] mpminayo commented on #4588
Could you check if @azure/msal-node has been installed in the node modules?

[2022-03-10 13:00] #4521 closed, assigned to hectormmg

[2022-03-10 14:34] adamblok opened #4591 "The library keeps to add default scopes when I'm requesting for a one"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

For a logged in user to my application, I'd like to ask him later for some additional permission (User.ReadBasic.All) to be able to perform some operations. My code looks like:

[code]

It works as expected and redirect user

[2022-03-10 15:28] brucethomaswayne6 commented on #4589
In this file , I can't use hooks to get inProgress.
In another requset utils file I need to carry the accesstoken when initiating the request api with requestInterceptors.
![image](https://user-images.githubusercontent.com/52198079/157698927-c2c914d4-c311-4e0f-a3c3-5e26f9f008c0.png)

[2022-03-10 16:07] vishnu-marthala opened #4592 "Which Library should we use to integrate Azure Ad B2C login in my Electron React App?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

I am trying to integrate  Azure Ad B2C login in my [Electron React App](https://electron-react-boilerplate.js.org/). I have used the [MSAL-React Wrapper library](https://github.com/AzureAD/microsoft-authentic

[2022-03-10 17:20] ranzolinrafa commented on #4575
@mpminayo  I sent to your e-mail our network and console logs for the error 👍

[2022-03-10 17:35] ranzolinrafa commented on #4587
@mpminayo  It's seems to be the same problem with msal-browser library, do you have and idea when this will be prioritized?

[2022-03-10 17:43] ranzolinrafa commented on #4411
We're experiencing the same behavior in our application using msal-browser with msal-react wrapper...
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4587

Should I close my issue and stay updated with you here?

[2022-03-10 17:46] tsulli opened #4593 "BrowserAuthError: post_request_failed attempting to reach login.microsoftonline.com only on iOS Safari / Chrome + MacOS Safari"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Encountering some strange issues and errors with MSAL 2.x in my app.

Chrome on Windows 10 and MacOS fails to complete the second redirect (to the originating page) after login, even with navigateToLoginRequestUrl set to true

[2022-03-10 20:06] siddarthapal commented on #4154
@jasonnutter Is there any date for releasing the  Angular 13 compatible package?

[2022-03-10 20:08] siddarthapal commented on #4154
I would also like to know the same.

[2022-03-10 20:35] mdivkovic-speech opened #4594 "Is MSAL for Javascript using FIPS validated cryptography?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

Any

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

[FIPS](https://en.wikipedia.org/wiki/FIPS_140-2) Is a security standard that federal agencies in the US have to adhere to, and that means that the software they use also has to be built on top of FIPS validated cryptography.

Fo

[2022-03-10 23:18] peterzenz commented on #4594
We are to our current understanding using algorithms that are FIPS approved, and we are not using any proprietary crypto algorithms.  You're welcome to review the source and confirm which crypto libraries and algorithms are being used as our source is all open.  We have not, and likely will not submit the MSAL library for official or formal FIPS certification.

[2022-03-11 06:17] hp7hao opened #4595 "I'm acquiring token in axios interceptors, how could I know whether there is an interaction happening?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

Hi, I'm now integrating msal to our web app, we use axios to send API calls.
After reading the doc, I think the most straightforward way is to put acquireTokenSilent calls in axios interceptors.
But we keep g

[2022-03-11 09:17] sibijohn72 opened #4596 "Redirect flow within iframe with allowRedirectInIframe flag"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

Hi,

My application B is hosted inside an iframe of another application A. The user journey is that the user logs into the parent application A and then clicks on the navigation menu which loads my applic

[2022-03-11 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-11 16:09] HenryY2J commented on #4206
Unfortunately, this approach doesn't work (at least for me):
 instance.getActiveAccount() always returns null, so i tried account from hook ( const msAccount = useAccount(accounts[0] || {}) where accounts is object array from useMsal() hook), but it always keeps the first acquired idToken and doesn't refresh data for account after acquireTokenSilent call with forceRefresh:true, so after first toke

[2022-03-11 17:55] jasonnutter commented on #4154
Not yet. We'll follow up when we know more.

[2022-03-11 18:21] jasonnutter commented on #4596
@sibijohn72 Are you using the B2C embedded sign in feature? The `allowRedirectInIframe` flag was added specifically to enable that feature (otherwise, the server will return `X-Frame-Options` header set to `Deny`, which will prevent the login page from being rendered in the iframe).

From the documentation you linked:

[2022-03-11 18:27] jo-arroyo commented on #4411
@ranzolinrafa Yes, this issue will stay open and updated with progress of the fix.

[2022-03-11 21:10] tsulli commented on #4593
I was able to reworking things in a way that resolved most of these issues. I think what was happening is that the MSAL instance was getting initiated and handling the redirect response while Aurelia was still starting up. So I think:

1. I wasn't able to capture the HANDLE_REDIRECT_START event because it was occurring before Aurelia (and my logger) had finished starting up,
2. The redirects were

[2022-03-11 21:10] #4593 closed, assigned to mpminayo

[2022-03-11 21:47] PraveenVerma17 commented on #4564
@pkanher617  is this fixed ?

[2022-03-11 22:34] ryansh100 opened #4598 "Requesting "passport-azure-ad" migrate off of the deprecated "request" package for getting openid connect metadata."
### Core Library

Passport Azure AD (passport-azure-ad)

### Wrapper Library

Not Applicable

### Description

The "request" package is still used in the passport-azure-ad library. This hurts the ability of an application to maintain a high level of security and reduce CVE's.

https://www.npmjs.com/package/request
https://github.com/request/request/issues/3142

I believe that these could easily be

[2022-03-12 05:50] DerekJDev commented on #4551
Any update on this?

[2022-03-12 16:53] ranzolinrafa commented on #4587
I'm closing this issue since there is another already in progress.

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4411

[2022-03-12 16:53] #4587 closed, assigned to mpminayo

[2022-03-12 17:36] sibijohn72 commented on #4596
@jasonnutter We dont use the embedded sign-in experience. Thank you for clarifying. 👍
It would be really great if you can tell me if the following thought process of mine is right. :)
 My app and the iframe is on the same origin. Unfortunately the parent frame does not use local storage for MSAL's caching. Given this scenario i am assuming that i could to go with the "Apps with cross origin" appro

[2022-03-13 01:00] ghost commented on #4539
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-03-13 04:38] LuisDev99 opened #4600 "B2C Error codes enum"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

Duplicate issue of #1441 but since that issue got closed, I'm opening a new issue to this since it really never got solved.

It would be really helpful if we had enums for all the [error codes from B2C](h

[2022-03-13 13:00] #4549 closed, assigned to pkanher617

[2022-03-13 13:00] #4543 closed, assigned to jo-arroyo

[2022-03-13 13:00] #4506 closed, assigned to bmahall

[2022-03-14 08:01] tejaswibm-roposo commented on #4573
Am facing this same issue on react webapp. Though I have used loginPopup() , still it opens a new tab and then closes by itself. Login is unsuccessful and get this below error message in console.

[code]

Versions -
[code]

not sure what the issue is !! I cannot fetch the network logs since am in a corporate network !

[2022-03-14 08:50] elepner opened #4601 "Incorrect active account selection when there are multiple same accounts but with different authority"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.1.1

### Description

We've got multiple web applications using Azure B2C SSO and 2 login flows: SingInAndUp and JustSignIn. Therefore there are 2 accounts listed when calling ``getAllAccounts()``. Here's our example
[code]
As you can see they ha

[2022-03-14 09:56] tejaswibm-roposo commented on #4573
Additional question. There is a consideration given in this link -

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4573

I did not understand how this will impact the `popup()` flow.. As of now, my `redirectUri` is configured to the landing page of my react application which has below code -

[code]

Below is the az-config.

[code]

So, all components have `MsalProvider`

[2022-03-14 11:25] vtrusevich-incomm commented on #4452
Are there any updates on the issue?

[2022-03-14 13:00] #4545 closed, assigned to jo-arroyo

[2022-03-14 14:45] jamesdruhan commented on #4588
It was indeed installed OK.

It appears the solution is to import in this fashion:
[code]

However, It's strange as when I use the normal **import msal from "@azure/msal-node";** VSCode recognizes and validates everything without issue. I only get the error when I compile.

[2022-03-14 15:21] sameerag commented on #4598
@ryansh100 We are working on a new token validation library which is moving to a more up-to-date https module. Currently we are not adding new features on `passport-azure-ad` since we plan to move away soon. cc @jo-arroyo to add more context.

[2022-03-14 20:13] #3605 closed

[2022-03-14 20:34] johnyoungnvs commented on #4452
No updates yet, still getting an infinite loop when msal tries to do refresh token cycle w/ b2c

we're adding some logic to clear the local/session storage after 12 hours so we don't hit the 24 hour refresh token expiry time now to avoid the issue from happening, but it is just a bandaid fix so users aren't stuck

we think the problem starts from this

https://{{B2C_TENANT}}.b2clogin.com/{{B2C_TEN

[2022-03-15 06:55] AsafMah opened #4602 "Using msal's logger in a downstream library"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.5.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello, I'm developing the kusto SDK for node which uses the msal library - https://github.com/Azure/azure-kusto-node.

We are now trying to add logging to our library, in a non-disruptive way to existing users.

Your logging class

[2022-03-15 07:16] samuelkubai commented on #4601
Hi @elepner,

This is a confirmed bug and we have it in our backlog to fix and allow for you to possible select the active account based on both the local account ID and home account id.

I will keep you updated on the progress of this.

[2022-03-15 07:18] samuelkubai commented on #4600
Hi @LuisDev99

Thank you for raising this issue, the errors in question are server generated errors, the server is the source of truth for this, it's not practical for us to mirror this.

The best solution here is to improve the docs and we have an active conversation on that.

[2022-03-15 07:22] samuelkubai commented on #4595
Hi @youkabeng,

The `interaction_in_progress` error is not originating from the `acquireTokenSilent` call rather the `acquireTokenRedirect` and with react we [advice](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#what-can-i-do-outside-of-azuremsal-react-context) that all functions that trigger an interaction be done under the react component tree

[2022-03-15 07:23] samuelkubai commented on #4592
Hi @vishnu-marthala

Thank you for reaching out to us, to answer which library to use where, you should use msal-node for the Electron app and msal-react for the React(frontend).

To help us debug you problem, please provide us with an accurate step by step reproduction of your setup.

[2022-03-15 07:25] samuelkubai commented on #4591
Hi @adamblok,

Thank you for reaching out, we require the additional scopes to ensure the library works as expected as documented [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#im-seeing-scopes-openid-profile-email-offline_access-and-userread-in-my-tokens-even-though-i-havent-requested-them-what-are-they)

However, why do you want the ext

[2022-03-15 07:28] samuelkubai commented on #4589
Hi @ZengJun-cloud ,

With react we [advice](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#what-can-i-do-outside-of-azuremsal-react-context) that all functions that trigger an interaction be done under the react component tree rather than in the axios interceptor.

[2022-03-15 07:30] samuelkubai commented on #4588
I agree @jamesdruhan, that's very strange.

I will go ahead and close the issue for now, as we have found a resolution but feel free to reopen the issue if the problem persists.

[2022-03-15 07:30] #4588 closed, assigned to mpminayo

[2022-03-15 07:33] samuelkubai commented on #4539
Hi @2strokes,

Could you share more information on the setup you have for acquiring tokens through the username and password flow?
To help us, help you debug that error, as it is often a configuration issue.

[2022-03-15 07:41] samuelkubai commented on #4602
Hi @AsafMah,

We are happy you would want to reuse our piece of code in your library. Could you elaborate on how exactly you intend to do that?

[2022-03-15 08:06] brucethomaswayne6 commented on #4589
Thank you for your advice. But Is there a way to use it here? If not, I can only modify the logic.

[2022-03-15 08:14] adamblok commented on #4591
@samuelkubai Thanks for the answer. I'd like to ask for a single scope for an extra call in API (it receives basics scopes after first user login), which needs ``User.ReadBasic.All`` in order to get all users from a tenant. It doesn't need additional scopes and I'd like to not ask user for them in a login prompt. I can do that by generating URL by myself in a frontend code (and it works), but for

[2022-03-15 08:19] AsafMah commented on #4602
Since `Logger` is exported, I thought about having `getLogger` and `setLogger` methods in my classes that accept the `Logger` type from your package and I'll just import it and use it.

For the default logger I would have liked to use `DEFAULT_LOGGER_OPTIONS`, but since it's not exported I would just re-create it.

If you'll tell me that the interface is subject to change and I can't rely on it, I

[2022-03-15 09:55] shailahir opened #4603 "Please provide support for Node JS 17 18 to msal-node"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable

### Description

Please provide Node JS 17 and 18 support for msal-node. My builds are failing because I am using 17.x.x version of node js and msal is 1.7.0

### Source

External (Customer)

[2022-03-15 11:45] atkinchris commented on #4573
For me, when the login popup is opened in a popup window, then it succeeds. However, if the login popup is opened in a tab - then it fails with the same error as above (`hash_empty_error`). I find Chrome, running in fullscreen mode on a Mac (rather than just expanded to the display) will open the popup as a tab, rather than a new window - triggering the error.

[2022-03-15 12:06] tejaswibm-roposo commented on #4573
In my case, for few users irrespective of doing anything, it always opens in new tab.

[2022-03-15 12:34] nmylle opened #4604 "HttpClient call requires login"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.13.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.0-beta.3

### Description

Hi,

I have an angular website that uses the MSAL to let colleagues login and ask company data.
The calls to the endpoint must be authenticated (as it is company data). (endpoint example: api.compa

[2022-03-15 13:00] ghost commented on #4585
@ss90128311 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-15 14:13] samuelkubai commented on #4602
Thank you @AsafMah for shedding more light on this. The `Logger` interface is not set to change anytime soon, but I would advice that your copy over the code and not rely on our Logger as we do not promise that it will remain the same in the long run. Wouldn't want to have it be a potential dependency between your library and ours in that specific way.

[2022-03-15 14:17] samuelkubai commented on #4591
Hi @adamblok, at this point the library does require to inject the default scopes to ensure the library works as expected. We will however take your case under consideration, keep your eye out for our next releases on the evolution of this behaviour.

[2022-03-15 14:18] adamblok commented on #4591
@samuelkubai Thanks

[2022-03-15 14:18] #4591 closed, assigned to mpminayo

[2022-03-15 14:25] samuelkubai commented on #4589
Hi @ZengJun-cloud,

You cannot use the `inProgress` hook outside the React component tree, you would need to modify the logic to make this work.

[2022-03-15 17:23] shashankBobbala commented on #4573
I too facing this issue, my react app is used both in electron and browser. In electron it is working fine but in browser most of the time it returns this error, one difference I observed in both is there is no refresh  for electron so it’s always you close and open and when open it always making  authorization but in browser it’s different. I see in storage, cache hits is incrementing when I see

[2022-03-16 01:00] ghost commented on #4594
@mdivkovic-speech This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-16 01:00] ghost commented on #4575
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-16 05:13] tejaswibm-roposo commented on #4573
only @mpminayo or somebody from msft can comment on this issue now.. Its been faced by many as far as github issues is concerned. Maybe they need to address the issue, or provide FAQ / Sample app to demo how library needs to be used.

[2022-03-16 08:48] samuelkubai commented on #4604
Hi @mylle, thanks for reaching out to us.

It looks like you are still using the beta version of msal-angular, whereas msal-angular is now on version 2.1.2. It would be great if you could upgrade.

On the matter at hand, is endpoint set in the protectedResourceMap (environment.API_URL) the same as the authorized and unauthorized endpoint you are trying to use? (I.e. is environment.API_URI api.comp

[2022-03-16 10:24] mettoware commented on #4564
@pkanher617 Could you estimate when you'll have a fix for this released? The issue labels could also be updated as a confirmed bug.

[2022-03-16 11:02] nmylle commented on #4604
Hi @samuelkubai ,

I want to let you know everything worked like you explained!
I changed my code to this:

[code]

Thank you very much for the explanation!

Kind regards,
Niels

[2022-03-16 11:02] #4604 closed, assigned to nobody

[2022-03-16 15:10] pkanher617 commented on #4551
Apologies for not reviewing this earlier. Is the `postLogoutRedirectUri` calling logout somewhere? Is that why this is redirecting multiple times? If you can send a Fiddler trace to my email in my profile, I can review the trace to see if there are any unexpected issues.

[2022-03-16 15:23] jo-arroyo commented on #4544
Closing issue due to inactivity.

[2022-03-16 15:23] #4544 closed, assigned to jo-arroyo

[2022-03-16 15:53] ClumsyPenguin commented on #4538
Yes, i kinda also want to get rid of the dynamic objects, since i need to get access to role exp date of the token and it roles.
I don't like writing something like this.

[code]

[2022-03-16 16:09] svrooij commented on #4538
@tnorling or @jasonnutter what do you guys think of my idea? And would you go for the complete type or for the open `{  [key: string]: any; }` way?

[2022-03-16 16:39] DerekJDev commented on #4551
@pkanher617 I will send that trace over. Also, here's my code to show how the `postLogoutRedirectUri` is routed to:

app-routing.module.ts
[code]

unauthorized.component.ts
[code]

[2022-03-16 17:09] MakamiSupport commented on #4104
I am facing the same issue, too. Still looking for solution.

[2022-03-16 17:41] siddarthapal commented on #4154
@rdogmartin just in case you need it...
it worked me as well....

Add the following to your package.json file...
  "overrides": {
    "rxjs": "~7.4.0"
  }

[2022-03-16 18:30] jasonnutter commented on #4596
@sibijohn72 Yes, you can try that approach.

[2022-03-16 18:31] jasonnutter commented on #4538
@svrooij We'll take it into consideration and follow up, thanks!

[2022-03-16 18:58] harryhtet8 opened #4606 "ConfidentialClientApplication.acquireTokenOnBehalfOf() undefined scenarios"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

From @azure/msal-node, I am initializing `ConfidentialClientApplication` and later calling `let response = await this.cca.acquireTokenOnBehalfOf(oboRequest)`. From time to time, when I try to access `accessToken `from `response`,

[2022-03-16 21:20] sibijohn72 commented on #4596
Try it already. Works. Thank you. :)

[2022-03-16 21:20] #4596 closed, assigned to jasonnutter

[2022-03-17 00:56] sameerag commented on #4601
Can we link the PR here once we have it up in github? cc @samuelkubai

[2022-03-17 00:59] sameerag commented on #4603
Thanks for raising this @shailahir, we have this in the backlog. We will start supporting once node 18 gets Current - as per the schedule [here](https://nodejs.org/en/about/releases/) that will be mid-april.

@EmLauber to track this for next quarter.

[2022-03-17 02:34] hp7hao commented on #4595
Hi @samuelkubai
I checked the advice, I think it explains the strange issues reported by random users.
I'm moving redirect call to react context.
Thanks a lot.

[2022-03-17 07:39] shailahir commented on #4603
Thanks  a lot

On Thu, 17 Mar 2022 at 06:29, Sameera Gajjarapu ***@***.***>
wrote:

--
Regards,

Shailendra Ahir

[2022-03-17 11:09] samuelkubai commented on #4606
Hi @iron-man14, thank you for reaching out about this. Could you share the general structure of the response, in the cases where the access token has been empty when returned?

[2022-03-17 17:47] atkinchris commented on #4573
We've resolved this in our application. For us, we had our redirect URL as the home page of our application. This caused an issue where our router (in Next.js) took over the routing in the popup, stripping the hash and redirecting it to the login page - before the window that launched the popup had time to extract it. Redirecting to a blank page allowed consistent logins.

These comments and docum

[2022-03-17 17:51] harryhtet8 commented on #4606
I am not able to repro this issue and we do not store the response object of the accessToken, so we do not know what is returned for the response. However, after tracing the code, it is possible that the accessToken is empty when it is returned from response, but I cannot validate that since we do not store the response object, so I am wondering if there are scenarios where accessToken might be re

[2022-03-17 19:06] jeffj6123 opened #4607 "node js and browser only compliance"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.70

### Wrapper Library

Not Applicable

### Wrapper Library Version

n/a

### Description

When wrapping an existing web app into an electron app, I ran across the following error. I just wanted to confirm if this means this tenant isnt allowed to use an electron browserWindow configuration and if there is another way in

[2022-03-17 23:53] VarunKuchimanchi opened #4608 "Error: Cannot find module 'msal-express-wrapper/dist/AuthProvider'"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

2.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

2.0

### Description

Hello team,

I am trying to run the test app for Azure Authentication and followed all the listed steps from the ReadME file. I'm having an issue while running the app which states 'Error: Cannot find module 'msal-exp

[2022-03-18 00:10] keystroke opened #4609 "How to export token cache for use in backend console application?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

We are trying to enable a workflow like described in the MSAL.NET docs for "sharing" the tokens acquired from this frontend application in a backend context:
https://github.com/Azure-Samples/ms-identity-dotnet-advanced-token-

[2022-03-18 02:26] #4608 closed, assigned to samuelkubai

[2022-03-18 02:27] VarunKuchimanchi commented on #4608
resolved the issue by using "npm run build" command in ExpressTestApp directory.

[2022-03-18 05:53] tejaswibm-roposo commented on #4573
@atkinchris - Could you let me know what this `blank.html` should consist of ?? How will this redirect back to my application landing page ?? A sample would be of great help to me as am a newbie to React.

[2022-03-18 09:09] atkinchris commented on #4573
We use the popup login methods. The popup first directs the user to Microsoft, they sign in (or are already signed in) and are then redirected to our `redirectUri` that we've set in both the `PublicClientApplication` config and Azure portal. The URL they're redirected to has a hash appended (`http://your.redirect.url#some-hash-from-microsoft`). The parent window (the one where you created the popu

[2022-03-18 10:04] tejaswibm-roposo commented on #4573
This part I did understand. Thanks for giving a detailed info.

React being a SPA, is it even possible to have a url to open up a static html page ? My application entire routes + App components are bound by
[code]
According to msft docs, this blank route should be outside of the `<MsalProvider />` . Is my understanding correct ? If so, how do we now open a blank.html outside of the SPA 🤔

Again a

[2022-03-18 10:10] atkinchris commented on #4573
There'll be a few ways to solve this, depending on your setup and how you want to implement it.

If you're serving your application from a static location, and routing all unmatched resources to `index.html`, add an empty (or nearly empty, as above) `blank.html` alongside your `index.html`.

If you're serving from `nginx` or similar, again add a `blank.html` alongside your `index.html` - and make

[2022-03-18 10:31] tejaswibm-roposo commented on #4573
Am using JHipster to generate my React application. Given the structure of JHipster React App, I have tried to add below snippets -

[code]
This is added inside of `<MsalProvider />` only, since `<Route /> ` cannot be added outside of `Router` and `Router` in-turn is under `<MsalProvider />` only.

I have also tried adding a BlankPage component like below -

[code]

and `blank.html` is same as you

[2022-03-18 10:37] atkinchris commented on #4573
If you navigate to `http://your-application.url/blank.html` does your `blank.html` appear? Does your `blank.html` appear in the build folder that `webpack` writes to, alongside your `index.html`?

[2022-03-18 11:52] tejaswibm-roposo commented on #4573
Yes. When I use `http://your-application.url/blank.html` , it renders on the browser.

[2022-03-18 12:15] atkinchris commented on #4573
Great - then you can set that as your redirect URL in your `PublicClientApplication` config and Azure portal. 🙂

[2022-03-18 13:39] yuvarani-nagarajan opened #4610 "MsalGuard is allowing to route even after logout in same browser window."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.5

### Description

**Issue**:   MsalGuard is not preventing to use the route url, when the session is logged out from different application with same Microsoft authentication

**Steps to reproduce**:
1. Open Incognito mode

[2022-03-18 14:33] tejaswibm-roposo commented on #4573
Seems like its working now.. Still under testing though.. Thanks for your help and valuable feedback !!

[2022-03-18 21:01] svrooij commented on #4538
Want me to create a pr for this?

[2022-03-19 04:27] andrewalderson commented on #4585
@ss90128311  I have tried doing this with a Service Principal and have never been able to figure it out. You would have to use the msal-node and a plugin to get the tokens. I could never get it to work. I have a sample of how to do this with a test user in github [(here)](https://github.com/andrewalderson/angular-msal).  It is based off of the sample you linked to. That sample is a little outdated

[2022-03-19 19:01] ionut-gheorghe opened #4613 "Refresh token lifetime"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Description

Is there a way to avoid asking for user password (performing an interactive flow) after 24 hours of continuous use?

`{
  "error": "invalid_grant",
  "error_description": "AADSTS700084: The refresh token

[2022-03-20 01:00] ghost commented on #4526
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-20 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-20 13:00] ghost commented on #4600
@LuisDev99 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-20 13:00] ghost commented on #4592
@vishnu-marthala This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-20 13:00] ghost commented on #4539
@2strokes This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-20 18:11] PraveenVerma17 commented on #4564
@hectormmg when can we expect fix for this, this is causing so much unwanted error logged in my system.
Kindly fix as early as possible.

[2022-03-21 07:35] vishnu-marthala commented on #4592
thank you @samuelkubai  for the reply. My situation is that my frontend is in React and backend is in Electron.js . So how can i use both as you suggested?

[2022-03-21 09:30] arozdobudko-incomm commented on #4104
any updates?

[2022-03-21 12:51] santhosh1248 opened #4614 "MsalGuard on Redirect URI - getting into redirect loop"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.4.4

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

1.1.2

### Description

Hello, I'm implementing msal in my angular application and I'm using msal-v1 library.

I have taken angular-7 sample from the documented samples and tried implementing the below code in my enterprise appli

[2022-03-21 13:00] ghost commented on #4602
@AsafMah This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-21 13:00] ghost commented on #4589
@ZengJun-cloud This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-21 13:00] ghost commented on #4575
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-21 13:25] ranzolinrafa commented on #4575
hello @mpminayo, do you have any updates about this issue?

[2022-03-21 13:46] samuelkubai commented on #4606
For successful authentication flows, there's no scenario where the access token would be empty.

Have you seen a reoccurrence of this issue, since you raised this Github issue?

[2022-03-21 15:03] pkanher617 commented on #4526
This means the scope you are using for the access token does not have the correct scope for the graph operation. You can try using the `/.default` scope. Since these are application level permissions, you will have to grant admin consent for these scopes in the portal. Please review the linked docs again as there are samples linked that should have the scopes used for this endpoint.

[2022-03-21 15:15] pkanher617 commented on #4575
Hi @ranzolinrafa, I can see in the logs that there is the following Bad Request error:

[code]

However I can't find any info about this in the sent logs, are there any browser console logs that tell us why this request failed?

The error initially reported is most likely happening on the B2C service, but that is happening after the Bad Request error, so that may be the root cause.

[2022-03-21 15:22] pkanher617 commented on #4551
Hi @DerekJDev could you resend the logs? I don't appear to have them in my email. The code alone doesn't have enough information to help us debug this.

[2022-03-21 15:59] DerekJDev commented on #4551
Hi @pkanher617, I sent it to the email on your GitHub profile, I just replied to the original message, let me know if you got it. Thanks.

[2022-03-21 17:24] jo-arroyo commented on #4614
@santhosh1248 If you removed the MsalGuard from the default landing page, and directly navigate to the profile path, do you still see this issue?

[2022-03-21 17:38] jo-arroyo commented on #4613
@ionut-gheorghe After the refresh token has expired, the library should catch these errors and silently renew the tokens. It's only when this fails that interaction is required. Please take a look our docs [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/token-lifetimes.md#token-renewal) for more information about token renewal. If the docs d

[2022-03-21 17:46] jo-arroyo commented on #4610
@yuvarani-nagarajan You can enable front-channel logout to prevent this from happening. Please see our docs on logout [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/logout.md#front-channel-logout) and our sample demonstrating this with MSAL Angular [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/ms

[2022-03-21 18:05] jo-arroyo commented on #4609
@keystroke While we do have samples demonstrating the hybrid flow where a user is authenticated server-side and then an auth code is redeemed client-side, MSAL does not support the scenario you describe. The refresh token issued by MSAL Browser is specific to single-page applications, and therefore cannot be exchanged for tokens for any other application type.

[2022-03-21 18:16] jo-arroyo commented on #4592
@vishnu-marthala Unfortunately, we have not fully investigated the model you described and do not currently have a sample. We will be investigating and update this issue when we know more.

cc: @salman90

[2022-03-21 18:18] hectormmg commented on #4564
@PraveenVerma17 I'm currently working on a fix for this issue which should come out in the april release barring any complications. This issue should be updated automatically when the PR in question is submitted and merged. Thanks for your patience!

[2022-03-21 18:24] hectormmg commented on #4607
Hi @jeffj6123 , thanks for raising the issue. I'll try to reproduce this issue and get back to you as soon as I get a successful repro. It is likely that for corp accounts Electron would not be a supported browser environment out of the box, so we'll have to look into the specifics to give you a concrete answer. For now, following that tutorial or our Electron sample (in the msal-node-samples dire

[2022-03-21 18:25] keystroke commented on #4609
@jo-arroyo can you provide more details? Which API call can be used with the refresh token acquired from MSAL? Why couldn’t we use this in backend with an embedded browser session (if truly necessary) or some kind of CURL request?

[2022-03-21 19:31] TLKG opened #4615 "Can you provide some sample/document on how to use msal-Angular for Google login?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2

### Description

Love this library, works out great!
Looking for a way to log in using Google gmail acct, and Apple's icloud as well. Can you please provide a document/sample on how?
Thank you!

### MSAL Configuration

_No re

[2022-03-21 20:08] jo-arroyo commented on #4615
@TLKG Are you looking to use MSAL with B2C for your app? Please find more information on B2C [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/overview), how to work with MSAL.js and B2C [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/working-with-b2c.md), and our msal-angular B2C sample [here](https://github.com/AzureAD/mic

[2022-03-21 21:53] jeffj6123 commented on #4607
hey @hectormmg I had made this progress by using the electron sample and that is when I hit this issue.

[2022-03-21 23:35] pkanher617 commented on #4573
@atkinchris's answer above should resolve this issue - thank you for your input. We will update our docs to be more clear that you must either allow MSAL to complete processing before the router, or follow the docs listed and redirect to a blank page.

Thank you for your help @atkinchris!

[2022-03-21 23:35] TLKG commented on #4615
@jo-arroyo For this [Custom authentication in Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#configure-a-custom-identity-provider), to find out `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET`, I go portal, find Azure Active Directory goes into Default Directory, Manage -> App registration, select the SWA, in the Overview, there is `Applicat

[2022-03-22 00:20] TLKG commented on #4615
@jo-arroyo All my users need is to be authenticated using their own personal MS acct, Gmail acct, iCloud acct, etc. They don't need features such as sign-up, or manage their own MS/Google/iCloud profiles within my app. My app has own database backend not AAD directory/store to manage user access/authorization. The sophisticated feature of AAD B2C seems an overkill, and I admit not smart enough to

[2022-03-22 05:21] tejaswibm-roposo commented on #4573
Yes.. The documentation is provided by msft which states we need to provide a `blank.html` redirect URI. But the samples do not incorporate this. Probably a full scale sample with this recommendation would help or at least a comment on the config values in the sample.

We are getting consistent logins now via `blank.html` redirect uri !

[2022-03-22 05:43] hp7hao commented on #4595
Hi @samuelkubai,

Though I added redirect calls in interceptors, but all the API calls are triggered in react useEffect() hook, I think it's already under the react component tree. I'm not a react expert, please correct me if I get it wrong. Thank you.

[2022-03-22 06:12] santhosh1248 commented on #4614
@jo-arroyo I don't see an issue after removing MsalGuard from the landing page and directly navigate to profile path.
what can I do to make oauth work on landing page as well?

[2022-03-22 09:25] janiek commented on #3883
any progress on this one? Bug is still present...

[2022-03-22 09:39] RajendraNayak opened #4619 "Logout doesn't redirect back to my iOS app"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.2.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

I am using MSAL auth library in my iOS app & login is perfectly working.
I want logout using browser so I made below

**signoutParameters.signoutFromBrowser = true**

But On calling logout(), I expect the browser to be redirected

[2022-03-22 10:42] mharj commented on #4562
@EmLauber yep, I know not all IDP's working same way. We mostly working with AAD environments but sometimes we need to support also other IDP's. Also it would be great it there would be some abstraction we can help to fill parts to do handling for others :)

[2022-03-22 10:42] #4562 closed, assigned to EmLauber

[2022-03-22 11:20] ivantrave commented on #4573
A full scale sample would help a lot

Thanks for your feedback

[2022-03-22 13:20] ionut-gheorghe commented on #4613
My application/feature does http calls every 60 seconds. Looking at the source code of the interceptor, the aquireTokenSilent is invoked when there is a http call. Lets say that this call is done 60 seconds after the refresh token is expired, the call to `{tenant}/oauth2/v2.0/token` it will result in an error (bad request 400) with the response above shown and invoking interactive flow.

[2022-03-22 14:35] ss90128311 commented on #4585
I have ran your example and made a few changes to it, I needed to change the scope and add a client_secret value. I have managed to generate a token, I then provide a redirect back to my application. However I just see a grey screen. I tried copying the tokens generated from the test manually into session storage within the app itself and I still get redirected to login.

[2022-03-22 17:23] TLKG opened #4622 "You can't sign in with this GitHub account"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

A valid GitHub account got "You can't sign in with this GitHub account ... is a work or school account. You can't use this GitHub account to sign in"

![image](https://user-images.githubusercontent.com/22

[2022-03-22 17:59] jo-arroyo commented on #4614
@santhosh1248 Having MsalGuard on the landing page is triggering the redirect loops. Is there a reason you chose to use msal-angular v1 and Angular 7? Our recommendation would be to upgrade to msal-angular v2 and follow the instructions [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#how-do-i-log-users-in-when-they-hit-the-application

[2022-03-22 18:12] jasonnutter commented on #4538
@svrooij You're welcome to open a PR, yes.

[2022-03-22 18:14] jo-arroyo commented on #4613
@ionut-gheorghe Are you able to send me verbose logs? My email is in my Github profile.

[2022-03-22 18:24] santhosh1248 commented on #4614
@jo-arroyo angular version upgrade is scoped for our future releases and for now, our application should be on angular-7 version. is there any way, I could solve this in msal-v1 version?

[2022-03-22 18:44] jo-arroyo commented on #4619
@RajendraNayak Are you using MSAL for JavaScript or [MSAL for Objective C](https://github.com/AzureAD/microsoft-authentication-library-for-objc)?

[2022-03-22 19:41] gregchak opened #4623 "Bypass "account list" page when authenticating"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

1.4.15

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.1

### Description

If a user in our SPA has not yet authenticated and they attempt to navigate to a route guarded by `MsalGuard`, they will be redirected to start the authentication process.  If that user had previously aut

[2022-03-22 21:38] jo-arroyo commented on #4614
@santhosh1248 Can you try registering another redirectUri in the Azure Portal (e.g. 'auth-redirect'), setting that as the redirectUri in your app, and creating a new route with that redirectUri?

[code]

[2022-03-22 22:41] jo-arroyo commented on #4623
@gregchak You can bypass the select account page and force the login page by passing `prompt: "login"` in the login request. Please see our [FAQ](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#in-what-scenarios-will-getallaccounts-return-multiple-accounts) for more information about all accounts, and [our docs](https://azuread.github.io/microsof

[2022-03-22 22:47] jo-arroyo commented on #4615
@TLKG B2C would still be the way to authenticate your users, and our [msal-angular B2C sample](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample) demonstrates how to set it up for an Angular app. If you have more questions about portal configurations or how to set up B2C in a simple way for your application, please file

[2022-03-22 23:24] xiangyan99 opened #4625 "Consistency track: please provide consistent APIs to disable authority validation and instance discovery"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular), MSAL React (@azure/msal-react), MSAL Node Extensions (@azure/msal-node-extensions)

### Description

Now we have different API/behaviors for customers to disable authority validation and instance discovery.

Please sync across languages to provide consistent ones.

This is important because

[2022-03-22 23:38] jasonnutter commented on #4625
@xiangyan99 Thanks for filing. Can you please work with @EmLauber to have this tracked in ADO? Thanks!

[2022-03-22 23:49] jasonnutter commented on #4625
@xiangyan99 Also, please confirm the version of MSAL.js impacted. We are no longer adding new feature to MSAL.js v1, and instead are only focusing on MSAL.js v2 (`@azure/msal-browser`).

[2022-03-22 23:51] xiangyan99 commented on #4625
This is for latest msal. :)

[2022-03-23 00:00] TLKG commented on #4615
@jo-arroyo You are simply AWESOME!

[2022-03-23 00:00] #4615 closed, assigned to jo-arroyo

[2022-03-23 00:52] gregchak commented on #4623
I have my guard configured as follows.  Is this the correct way to implement this?  In this configuration I am redirected to the select account page and not the login page.
[code]

[2022-03-23 01:00] #4594 closed, assigned to mpminayo

[2022-03-23 01:37] gregchak commented on #4623
I think I found the issue.  My `MsalGuard` is doing the redirect as expected with the `prompt` value set to 'login'.  In the other area of my application I am manually calling `MsalService.loginRedirect()`.  I specified `RedirectRequest` options in the call and now it works as expected.  Thank you for your help!

[2022-03-23 01:37] #4623 closed, assigned to jo-arroyo

[2022-03-23 04:08] RajendraNayak commented on #4619
@jo-arroyo I am using MSAL for Objective C
https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2022-03-23 04:58] piyumi25 opened #4626 "BrowserAuthError: empty_window_error: window.open returned null or undefined window object in ios"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

I am using msal-browser and msal-react libraries to process authentication for outlook addin. When trying to use "loginPopup"
 in ios I am getting following error. In android it works fine.

### Error Message

[2022-03-23 05:14] sameerag commented on #4625
@jasonnutter I am in discussion with AzureSDK on this topic. We do not intend to change MSAL JS's API, we are already compliant with JEDI/Airgapped support with "KnownAuthorities". I have tagged @EmLauber to follow up with the PM leads to standardize this across MSALs.

@xiangyan99 We prefer ADO tracking instead of github in this use case since there is no action needed from the MSAL JS dev team a

[2022-03-23 11:55] ionut-gheorghe commented on #4613
I have launched locally the app  in verbose mode just after I saw your response but my PC decided to restart, so I have to wait another 24 hours...

[2022-03-23 13:18] davidspiess opened #4628 "Login redirect with custom `extraQueryParameters` doesn't update the account anymore"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

After upgrading `msal-react` from `1.2.0` to `1.3.0` (same applies to `1.3.1`) our multi-tenancy functionality in our app stopped working.
After calling `loginRedirect` with a customQueryParamter the `instanc

[2022-03-23 15:09] santhosh1248 commented on #4614
@jo-arroyo it is working fine now, but when authenticating from path other than home page, I see a small UI glitch of home page as the `auth-redirect` is set to HomeComponent and then to the desired page.
is there anyway we can hide the UI glitch of loading home component?

[2022-03-23 19:54] CelestialMusa commented on #3260
If you're still toiling on this after having tried everything suggested, you might want to follow this approach:
Include your Client ID as part of the identityMetadata url as a query param named "appid" like so:

**V1 Tokens:**
`https://login.microsoftonline.com/<tenant_id>/.well-known/openid-configuration?appid=<client_id>`

**V2 Tokens:**
`https://login.microsoftonline.com/<tenant_id>/v2.0/.well

[2022-03-23 20:02] DerekJDev commented on #4551
@pkanher617 did you get my email?

[2022-03-23 20:11] rocketraman commented on #3260
Coming back to this after a long time... after having just updated to MSAL 2.x, I can offer some additional guidance which I'm not sure anyone has mentioned above.

The main thing to note is that with MSAL you can pass one set of scopes (graph scopes like `openid`, `profile`, and `user.read`) to the login call e.g. `loginRedirect`, and a *different* set of scopes when retrieving an id token e.g. `

[2022-03-23 20:54] jo-arroyo commented on #4619
@RajendraNayak Please open an issue on the MSAL for Objective C repository, as issues here are handled by the MSAL for JavaScript team. Closing.

[2022-03-23 20:54] #4619 closed, assigned to jo-arroyo

[2022-03-23 20:54] pkanher617 commented on #4551
Thanks @DerekJDev I got it, reviewing today and will get as soon as I can!

[2022-03-24 04:44] jokerlovescaptainmarvel opened #4629 "@azure/msal-react Config to Connect to ASP.NET Core Web API"
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.0.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

None

### Description

Hello, I'm following the react.js Quickstart SPA sample app provided by azure. I'm able to use the Login, Logout and view login Profile Data based on the authConfig.js provided by Microsoft. (See Msal Configura

[2022-03-24 17:08] jo-arroyo commented on #4629
@jokerlovescaptainmarvel Can you try sending `response.accessToken` in the authorization header instead of the idToken?

[2022-03-24 17:45] jo-arroyo commented on #4614
@santhosh1248 We generally do not recommend setting the MsalGuard on the home page/all paths as looping is an issue. This has been specifically addressed in msal-angular v2 (see the FAQ [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/FAQ.md#how-do-i-log-users-in-when-they-hit-the-application)), but we are no longer making changes to msal-ang

[2022-03-24 18:09] jo-arroyo commented on #4626
@piyumi25 Does following the instructions in [this comment](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4095#issuecomment-930259019) address your issue?

[2022-03-24 18:14] jo-arroyo commented on #4628
@davidspiess Are you able to share more usage? How are you trying to get the account?

When you run the app with version 1.3.x, is there ever a hash processed from the redirect? Can you send us logs in that case?

[2022-03-24 18:24] jo-arroyo commented on #4622
@TLKG You may need to look into the "Supported Account Types" setting in your Azure Portal app registration.

[2022-03-24 23:24] jo-arroyo commented on #4609
@keystroke Different application models issue different refresh tokens. The refresh tokens issued from the browser is different from refresh tokens from the server, and you cannot exchange a refresh token from a SPA app for access tokens for the backend.

cc. @nickludwig for further information on refresh tokens.

Could you further clarify what you are trying to achieve? What is your use case?
If

[2022-03-25 01:35] jokerlovescaptainmarvel commented on #4629
![401](https://user-images.githubusercontent.com/62391611/160037305-ec1173a7-10ed-4a5b-a8b5-648b32a2bd8a.png)

Hi @jo-arroyo , Thank you for you response. I tried using the `response.accessToken` but it still throws the 401 error.

![image](https://user-images.githubusercontent.com/62391611/160037513-4253f27a-495d-4b45-8427-eb2bf890b34b.png)

[2022-03-25 09:28] ElSpitfire opened #4630 "GetTokenCache not recongnized as a function"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.3.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

Hi,

I am trying to follow this tutorial : https://docs.microsoft.com/fr-fr/graph/tutorials/node

unfortunatly i am running into an error that is telling me that GetTokenCache is not a function

I ran into this error because i add

[2022-03-25 10:17] ionut-gheorghe commented on #4613
I finally have the logs, I will have then sent to your email this afternoon

Edit. Logs sent

[2022-03-25 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-25 16:08] TLKG commented on #4622
@jo-arroyo This is all "Supported Account Types" has:
![image](https://user-images.githubusercontent.com/22269729/160158332-049d7895-d8d3-4886-bf3b-dddb14c777a1.png)

[2022-03-25 17:18] jo-arroyo commented on #4630
@ElSpitfire Can you try `getTokenCache` instead of `GetTokenCache`? Also, can you show where you are instantiating the `msalClient`?

[2022-03-25 21:38] jeffj6123 opened #4631 "msal node test app and electron 17"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.70

### Wrapper Library

MSAL Node Extensions (@azure/msal-node-extensions)

### Wrapper Library Version

1.70

### Description

When taking the electron sample and updating electron to 17.2.0 I am getting the follow error when logging in and trying to open emails.

### Error Message

E:\MICROSOFT_WORK\microsoft-authentica

[2022-03-25 22:35] keystroke commented on #4609
@jo-arroyo the flow is for a private cloud deployment system; a customer initiates a multi-hour private cloud deployment from a Windows Admin Center (WAC) UI, which is using MSAL.js. The auth token(s) acquired there are not used until hours later in the deployment. The auth context needs to be captured up-front and saved to be used later to acquire fresh access tokens. This WAC SPA application end

[2022-03-25 22:46] jasonnutter commented on #4609
@keystroke Today, eSTS does not allow refresh tokens issued to spa redirect URIs to be redeemed server-side, and in the future, refresh tokens issued by eSTS will be cryptographically bound to the browser, to explicitly prevent what you are trying to do. This is one of the reasons we do not expose the refresh tokens in our API surface.

Have you considered using the on behalf of flow here? https:/

[2022-03-25 23:23] keystroke commented on #4609
We discussed offline; issue here is WAC is a public client without a straightforward way of making it a confidential client to use those flows. An approach using device login flow could perhaps be utilized and may even get some direct support in future versions of MSAL.js (requiring ESTS adjusting the CORS on the token endpoint for that flow).

[2022-03-26 00:35] EmLauber commented on #4445
Hi @kevindixon we added this to our CY22Q2 planning period (April-June). We'll have updates on what release specifically once the team starts developing on it.

[2022-03-26 00:46] EmLauber commented on #3883
We are planning on addressing it next quarter, FY22Q2.

[2022-03-26 01:32] EmLauber commented on #4562
@mharj  can can you be more specific by "some abstraction... to fill parts"? We are open to PRs from the community, and it would be great if we knew more specifics of what kind of changes we can make that would help you contribute.

[2022-03-26 08:25] rudfoss opened #4632 "Outdated and incorrect documentation on distributed caching in `@azure/msal-node`"
### Core Library

MSAL Node (@azure/msal-node)

### Wrapper Library

Not Applicable (edit: removed angular, not applicable).

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-node-samples/ExpressTestApp/TestApp/App/utils/cachePlugin.js

### Description

The example provided here doesn't seem to be correct anymore.

[This line](htt

[2022-03-27 01:00] ghost commented on #4610
@yuvarani-nagarajan This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-27 01:00] ghost commented on #4606
@iron-man14 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-27 01:00] ghost commented on #4592
@vishnu-marthala This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-27 01:00] ghost commented on #4575
@ranzolinrafa This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-27 01:00] ghost commented on #4526
@ukaaa This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-27 01:00] ghost commented on #4607
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-03-27 03:51] ydogandjiev opened #4633 "Security vulnerability in passport-azure-ad > bunyan > mv > mkdirp > minimist dependency chain"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

The following dependency chaining originating in passport-azure-ad introduces a security vulnerability which is getting flagged by GitHub's Dependabot:
passport-azure-ad > bunyan > mv > mkdirp > minimist

The issue was re

[2022-03-27 10:18] vvolodin opened #4634 "Getting stuck in 'interaction is currently in progress' after refusing to give consent"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Description

My little app is basically a tutorial app with very little modifications. I have three pages, home, profile and directory. I have MsalGuard protecting the directory page, but I don't even visit this page

[2022-03-27 13:00] #4600 closed, assigned to nobody

[2022-03-27 13:00] ghost commented on #4573
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-27 14:01] tejaswibm-roposo commented on #4573
Am getting into a new issue now. The `LOGIN_SUCCESS` callback event is getting triggered many times post login success.
Am not able to figure our why this behaviour.

Code snippets -
[code]

[code]

`console.log("Inside LOGIN_SUCCESS event handler");` print 4 times in my case.

code snippets are from the samples provided by Azure only. Nothing new here.

I was able to work around this issue by cal

[2022-03-28 01:00] #4539 closed, assigned to jo-arroyo

[2022-03-28 01:00] ghost commented on #4585
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @mpminayo please follow up.

[2022-03-28 05:27] mharj commented on #4562
@EmLauber I was thinking something like generic Config to be more specific i.e. AzureADConfig class which implements something like getRequestHeaders(), getRequestBody() methods (based from abstract class) which then can be consumed when building payloads, this way we can have also GitHubConfig, BattleNetConfig, etc either build as npm packages by community or even PR those to be on same package.

[2022-03-28 05:30] sameerag commented on #4633
@ydogandjiev We are working on a new validation library and hence `passport-azure-ad` is not being actively updated. However let me check with @jo-arroyo if this security vulnerability will be fixed. We are close to private preview and the preference will be on the new library release to the public asap. cc @EmLauber

[2022-03-28 05:31] sameerag commented on #4632
@rudfoss Thank you for bringing this to our attention. @salman90 can you please work with @samuelkubai to update this sample?

[2022-03-28 07:18] ElSpitfire commented on #4630
Hi,

Thank you for your response.
I tried what you said and the result is the same.

This script is called in an other script called auth.js
on the line 45 i duplicated the Response.accessToken to get through the "if" condition in the previous script with the getTokenCache error then this error showed up

Here is the code you asked for :

const graph = require('../graph');
const router = require('

[2022-03-28 09:17] andrew-hwahin commented on #4486
Hi, may I know how to completely disable the cache for a temporary fix?

cc @coder-pm

[2022-03-28 09:21] coder-pm commented on #4486
@andrew-hwahin don't provide any `cachePlugin` and it should use `in-memory` cache by default. There is no issue there.

[2022-03-28 09:23] andrew-hwahin commented on #4486
@coder-pm Thanks for the prompt response, but I'm facing the same issue even though I did not provide any cache to it. 🤔

[2022-03-28 23:29] TLKG opened #4635 "Couldn't sign you in, This browser or app may not be secure"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0

### Description

Use VSC to open folder `microsoft-authentication-library-for-js-dev\samples\msal-angular-v2-samples\angular11-b2c-sampsample`, ran `npm install` and `ng serve`, localhost:4200, tried Google login received

![i

[2022-03-29 00:03] TLKG commented on #4635
Solution:

1. npm cache clear --force
2. npm cache verify
3. restart VSC
4. login to a MS account
5. logout
6. try Google, ok

Seems some cache or previous-not-logout issue.

[2022-03-29 00:03] #4635 closed, assigned to sameerag

[2022-03-29 01:00] ghost commented on #4551
@DerekJDev This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-29 01:00] #4602 closed, assigned to nobody

[2022-03-29 01:00] #4589 closed, assigned to mpminayo

[2022-03-29 04:14] DerekJDev commented on #4551
Keep open.

[2022-03-29 05:35] l-o-l commented on #3656
Is there an update on this issue? I just hit the same issue with prompt=login not being included in the redirect.

[2022-03-29 18:00] jo-arroyo commented on #4634
@vvolodin Are you able to show your `app-routing.module.ts` file? Also, are you calling `loginPopup` somewhere, and what are you passing in that request?

[2022-03-29 19:11] jeffj6123 opened #4636 "Acquire V1 ID token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.18.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

How am I able to acquire a V1 ID token?

I configured the application manifest with accessTokenAcceptedVersion: 1 and the access tokens are V1 but the ID tokens are V2.

### MSAL Configuration

_No respon

[2022-03-29 19:31] #4636 closed, assigned to sameerag

[2022-03-30 01:00] ghost commented on #4628
@davidspiess This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-30 01:00] ghost commented on #4626
@piyumi25 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-30 01:00] ghost commented on #4614
@santhosh1248 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-03-30 09:11] PaulHossfeld opened #4637 "The token-request responded with "net::ERR_ABORTED" and triggers a loop-issue."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

The Login-prozess is normally working fine as intended.
In some rare cases when we do the token-request to "https://login.microsoftonline.com/9186fbbe-fa2f-408b-b116-e9799f388136/oauth2/v2.0/token" we're gett

[2022-03-30 13:00] ghost commented on #4629
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-03-30 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-03-30 14:26] francesconi commented on #4628
@jo-arroyo What kind of usage are you looking for? We've already enabled verbose logging and shared the log entries for both msal versions. We are retrieving the account by calling `getAllAccounts()`. Since there is always just one entry we just take the first one.

[2022-03-30 16:15] DerekJDev commented on #4551
Hey @pkanher617 sorry for all the checking in, but were you able to find anything in the fiddler trace? Thanks in advance.

[2022-03-30 18:02] sameerag commented on #4637
@PaulHossfeld This error is not from MSAL, could be from the XHR, which is beyond MSAL JS at that point and falls into the network issue category. Is it possible there are connection issues?

[2022-03-30 18:03] sameerag commented on #4631
@salman90 Can you please check this?

[2022-03-30 18:43] jo-arroyo commented on #4628
@francesconi The logs show that for 1.3 a hash is not being returned from the redirect. Can you ensure that the usage is consistent between the two versions? If the hash is not processed, the account will not be updated.

[2022-03-30 19:00] jo-arroyo commented on #4622
@TLKG You may need to link your Github account to a Microsoft account to use it in an AAD application (see [here](https://support.microsoft.com/en-us/account-billing/link-your-github-account-and-microsoft-account-c9b04f45-8978-448e-bb90-0503d22d7ea1#:~:text=Link%20your%20GitHub%20account%20and%20Microsoft%20account%201,GitHub%20and%20Microsoft%20accounts.%20...%203%20See%20also) for more details)

[2022-03-30 22:51] jo-arroyo commented on #4629
@jokerlovescaptainmarvel While your usage looks correct, your backend API is out of scope for MSAL. You may wish to debug your API to determine why it is throwing a 401.

[2022-03-31 01:00] ghost commented on #4613
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-03-31 01:00] ghost commented on #4609
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @samuelkubai please follow up.

[2022-03-31 07:16] davidspiess commented on #4628
@jo-arroyo i checked the `hash` parameter value when `RedirectClient.prototype.getRedirectResponseHash` is called.
In 1.2.0 the hash includes a state, in 1.3.1 the hash is an empty string.
The only thing i changed, is the version of the react-msal library.
Here the complete log files from my new test, when initiating a `loginRedirect`.

<details>
<summary>1.20</summary>

[code]
</details>

<detail

[2022-03-31 08:43] PaulHossfeld commented on #4637
@sameerag Thank you for your fast reply. We will continue our analysis in this direction.

[2022-03-31 10:50] ARsquare opened #4643 "Providers.globalProvider.getAccessToken always makes an http call even if the token is present in the local storage."
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.0.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

2.0.0

### Description

We are working on an app which uses MSAL for authentication.
For getting the access token we are using the following function exposed by the library.
The issue is :-
Providers.globalProvider.getAccessToken always makes an htt

[2022-03-31 16:36] harryhtet8 commented on #4606
I have not seen the issue again for a while but in our telemetry, we did not detect that issue for the whole month of February, but started seeing the issue again in March. For now, we have added additional telemetry to help us make further analysis on this issue.

[2022-03-31 17:47] jasonnutter commented on #4154
Thank you everyone for your patience, and apologies again the delay in addressing this. #4605 has updated the peer dependency for rxjs to indicate support for rxjs@7, and we have included a couple of samples applications for Angular 13 (rxjs 6 and 7). This will be available in our release of MSAL Angular this coming Monday. We'll address any further enhancements (e.g. Ivy distribution) incremental

[2022-03-31 17:47] #4154 closed, assigned to Robbie-Microsoft

[2022-03-31 23:28] salman90 commented on #4631
@hectormmg

[2022-03-31 23:29] #4564 closed, assigned to hectormmg

[2022-04-01 04:54] dillonbailey commented on #4486
@sameerag we're encountering the same bug on our project - disabling the cache is not a solution for us. Any updates would be great!

[2022-04-01 07:17] andrew-hwahin commented on #4486
Is there any other temporary fix I could implement to avoid this bug?

[2022-04-01 13:00] ghost commented on #4607
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-04-01 17:08] sameerag commented on #4585
@ss90128311 Is this what you are looking for - [managed identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)? Please let us know your use case clearly for us to suggest which solution works for you.

[2022-04-01 17:27] sameerag commented on #4606
Thanks. Closing this, please raise a new issue if you have reproduced it and with telemetry preferably to us.

[2022-04-01 17:27] #4606 closed, assigned to samuelkubai

[2022-04-01 17:31] sameerag commented on #4609
Closing this since the use case is clarified.

[2022-04-01 17:31] #4609 closed, assigned to samuelkubai

[2022-04-01 17:34] sameerag commented on #4613
@jo-arroyo assigning this to you as you seem to have the logs sent.

[2022-04-01 17:47] sameerag commented on #4637
Thanks. @PaulHossfeld I am closing this now. Please let us know if we can be of further help when you know more, feel free to file a new issue with details.

[2022-04-01 17:47] #4637 closed, assigned to sameerag

[2022-04-01 19:19] sameerag commented on #4643
@ARsquare Can you share your token `request` details? And turn on MSAL logs? For the first request, we go to the network (which is indicated by the loginType.popup in your code) and later expect your application to call `acquireTokenSilent` which pulls the tokens from cache and silently goes to the network in case of token expiry.

All our samples demonstrate this and can be accessed [here](https:

[2022-04-02 00:33] benlieber-codaio opened #4658 "handleRedirectPromise flakily returns null after redirect in Microsoft Teams authentication window"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

### Background

Using msal-react within a Microsoft Teams tab configuration page (effectively a single-page-app) to get graph access to read from channel/chat members since Microsoft Teams authentication libr

[2022-04-02 01:00] ghost commented on #4573
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-02 02:29] sameerag commented on #4630
@ElSpitfire I do not see `msalClient` being initialized in the above code. It is only fetched from the `req.app.locals` instead. `getTokenCache()` is an API exposed under the instance of `msalClient` and hence can you check if `msalClient` is accessible at the place where you are invoking `getTokenCache`?

If possible, can you upload the relevant code sample (may be dummy functional one) and share

[2022-04-02 04:45] sameerag commented on #3208
#4081 is merged now. Closing this issue. Please test and raise another issue if you are still seeing this problem.

[2022-04-02 04:45] #3208 closed

[2022-04-02 04:46] sameerag commented on #1588
@jasonnutter Do we know what the latest on this issue is?

[2022-04-02 04:48] sameerag commented on #1665
@jo-arroyo Are we still planning official support for this feature?

[2022-04-02 04:49] sameerag commented on #2273
@EmLauber can we have this tracked internally in our backlog to evaluate if we can support it?

[2022-04-02 04:51] sameerag commented on #2323
@jo-arroyo @EmLauber Are we planning to support this? Can we also mark it in the backlog?

[2022-04-02 04:52] sameerag commented on #2600
We support proxy with `axios` but noticed that `axios`s support is at best patchy with proxies. The latest is supporting proxy with `hpagent` and development is currently in progress. cc @Robbie-Microsoft @EmLauber

[2022-04-02 04:52] sameerag commented on #1626
cc @salman90

[2022-04-02 04:55] sameerag commented on #3024
@samuelkubai can we start tracking this? @EmLauber Please add this to the backlog, this issue is missing traction.

[2022-04-02 04:55] sameerag commented on #3279
Thanks @shsuman. Closing this issue.

[2022-04-02 04:55] #3279 closed

[2022-04-02 04:57] sameerag commented on #3221
Tagging with the new node-validation library in works, cc @jo-arroyo

[2022-04-02 05:10] sameerag commented on #3277
@jasonnutter Did we sort this?

[2022-04-02 05:17] sameerag commented on #3656
B2C service team addressed this for specific IDPs (google for example) but if it is a custom policy, the details are user specific. They had plans to roll it out eventually for a list of IDPs. To get the status for your specific use case, can you please follow up with the service team on the status by raising an issue [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-optio

[2022-04-02 05:19] sameerag commented on #3687
@EmLauber Lets track this internally for multi-tenant support in MSAL JS.

[2022-04-02 05:20] sameerag commented on #3850
@jo-arroyo Are we tracking this scenario for the node-validation library?

[2022-04-02 05:23] sameerag commented on #3712
Closing this since the questions seems to be clarified. In case of further issues, can you please raise a new issue to track?

[2022-04-02 05:23] #3712 closed

[2022-04-02 05:51] sameerag commented on #4177
Tagging this with node validation library, cc @jo-arroyo.

[2022-04-02 06:13] sameerag commented on #4104
Apologies for the delay. @EmLauber can we track this internally?

[2022-04-02 06:16] sameerag commented on #3933
@zealotrahl We are decommissioning adal-node and have been recommending our customers to move to `msal-node`. Is that a possibility for you?

[2022-04-02 06:32] sameerag commented on #4411
@EmLauber can we have this added to the backlog?

[2022-04-02 06:34] sameerag commented on #4486
We are adding an enhancement in OBO and will be pushing a PR soon that should potentially resolve this issue. Please watch this space for the updates, I am tracking this issue.

[2022-04-02 06:42] josh-hemphill commented on #2273
Since I started on that fork, Deno has released a Node.js compatibility layer that can be used to create a wrapper and a bundle that ultimately calls the Deno api instead of the Node.js. So that would probably make it possible to just add a single file and a CI step to add support for deno.

[2022-04-02 06:50] sameerag commented on #4312
@Shyam268 Does the linked issue solve your case?

[2022-04-02 07:01] sameerag commented on #4658
@tnorling Have we seen this before? msal-react used in a teams tab (embedded app as a SPA) has issues with `redirect` and the `popup` is disabled by teams.

[2022-04-02 07:08] sameerag commented on #4633
@pkanher617 Assigning to you as you are working on the `passport-azure-ad` patching up for a few related issues.

[2022-04-02 09:50] hp7hao opened #4659 "acquireTokenSilent keeps getting monitor_window_timeout error after refresh token is expired"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.0

### Description

Hi I'm getting monitor_window_timeout after the refresh token is expired.

After a refresh login, I left the browser open and waited 24 hours. acquireTokenSilent will fail,  a 400 bad request follows and fina

[2022-04-03 01:00] ghost commented on #4632
@rudfoss This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-03 06:39] dillonbailey commented on #4486
@sameerag thank you! As this is blocking a client project would it be possible for us to share an ETA on the fix?

[2022-04-03 13:00] #4610 closed, assigned to samuelkubai

[2022-04-03 13:00] #4592 closed, assigned to salman90

[2022-04-03 13:00] #4575 closed, assigned to pkanher617

[2022-04-03 13:00] #4526 closed, assigned to pkanher617

[2022-04-04 01:00] ghost commented on #4634
@vvolodin This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-04 05:35] fan-boy opened #4662 "Keep user signed in after the browser has been closed and 24 hours has expired in SPA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.0.1

### Description

We are using an Azure B2C Custom Policy to Sign Up/Sign In users using local account (Phone Number).

Currently Azure AD B2C issues a [refresh token](https://github.com/AzureAD/microsoft-authentication-librar

[2022-04-04 08:31] ellymakuba commented on #4659
I'm pursuing this will revert

[2022-04-04 08:51] ellymakuba commented on #4662
Pursuing this issue, I will revert to you

[2022-04-04 09:08] fan-boy commented on #4662
Okay.

[2022-04-04 13:11] vlabensky opened #4663 "msal-common's debug dependency part of production build"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

-

### Description

Not sure whether it can be considered a bug, but I'll post it regardless.

We're using msal-browser in our SPA web app successfully and we've just noticed that the 'debug' library in our NPM package list has switched from 'dev=t

[2022-04-04 13:33] ellymakuba commented on #4663
Looking into this, will get back to you

[2022-04-04 15:34] jasonnutter commented on #1588
@sameerag This would require custom storage, we have not been able to prioritize.

[2022-04-04 15:38] roopeshchinnakampalli opened #4664 "Fix for multiple reload of application"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.15.0

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.0.4

### Description

Let's say, our redirectURI is configured to - **http://localhost:4200** and we're kicking the Authentication (by MSALGuard) in the route - **http://localhost:4200/myprofile** and we set the option - **"na

[2022-04-04 16:16] ellymakuba commented on #4664
Unfortunately this issue has not been addressed yet, as we have been unable to prioritize it.

[2022-04-04 16:54] ellymakuba commented on #4663
I have made a PR to fix the issue, waiting for changes to be merged

[2022-04-04 16:55] tnorling commented on #4658
@benlieber-codaio Please check out [this sample](https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-sso/src/nodejs) which demonstrates our recommended approach for integrating with Teams and let us know if you have any follow up questions.

[2022-04-04 17:32] DerekJDev commented on #4551
Comment to keep open and active.

[2022-04-04 18:36] benlieber-codaio commented on #4658
@tnorling thanks for the pointer - took a look through the sample and would still appreciate some further help diagnosing the specific issue reported here.

Some notes comparing the two - it seems like the pattern for handling the redirect is similar in that it uses the event callback `instance.addEventCallback` https://github.com/pnp/teams-dev-samples/blob/main/samples/tab-sso/src/nodejs/src/comp

[2022-04-04 18:49] roopeshchinnakampalli commented on #4664
Any idea when we gonna get this? This is causing an extra load on lower bandiwdth n/w's.

[2022-04-04 20:13] jasonnutter commented on #3277
No, we have not addressed this.

[2022-04-04 20:35] jasonnutter commented on #4664
@roopeshreddy Unfortunately, no. We found that using the Angular router resulted in the hash (containing the auth code) not being properly cleared, which is a security concern. And we have deprioritized finding a workaround.

[2022-04-04 20:56] #4663 closed, assigned to ellymakuba

[2022-04-04 21:36] siddarthapal commented on #4154
@jasonnutter Is there any problem with GIT repo for Angular 13 compatible sample?

[2022-04-04 21:44] jasonnutter commented on #4379
I've checked with the folks who own the HTML standards and `Object.keys(local/sessionStorage)` returning the array of keys is the correct behavior, so we would consider Salesforce's behavior incorrect. Please ask Salesforce to fix this in their framework (feel free to have them contact me if needed). And unfortunately, we would prefer not to accept fixes for unsupported browsers that are not follo

[2022-04-04 21:44] #4379 closed, assigned to jasonnutter

[2022-04-04 22:22] ghost commented on #4564
:tada:This issue was addressed in #4617, which has now been successfully released as `@azure/msal-browser@v2.23.0`.:tada:

Handy links:
* [Release Notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases/tag/msal-browser-v2.23.0)
* [Official NPM Release](https://www.npmjs.com/package/@azure/msal-browser/v/2.23.0)

[2022-04-04 23:01] Bartheleway commented on #4379
@jasonnutter really sad to read this ... Could you provide a link to the HTML standards specification which state this ?
I already know the answer from Salesforce support, "work as designed". It's nearly impossible for the crowd to reach product owner at Salesforce to make a point.
I will use my fork and try to stay up to date until the custom storage interface comes out. Hopefully it will solve m

[2022-04-04 23:23] jasonnutter commented on #2273
@josh-hemphill Are you referring to this? https://deno.land/manual/node/compatibility_mode#node-compatibility-mode

[2022-04-04 23:37] josh-hemphill commented on #2273
Yep, I've had a lot of luck with it, the only significant things I've found that are still missing are the polyfills for node's raw sockets and DNS interfaces.

[2022-04-04 23:42] jasonnutter commented on #2273
@josh-hemphill Thanks. Not sure when we'll be able to prioritize this, but you are welcome to open a PR demonstrating what support for Deno would look like in MSAL Node.

[2022-04-05 00:33] dillonbailey commented on #4486
Sorry to bump, we're just doing our sprint planning/refinement and are hoping to share an update with the team.

[2022-04-05 01:00] ghost commented on #4629
@jokerlovescaptainmarvel This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-05 01:00] ghost commented on #4622
@TLKG This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-05 01:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-05 13:00] ghost commented on #4628
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @jo-arroyo please follow up.

[2022-04-05 13:18] ElSpitfire commented on #4630
Thank you for your response.

 With your help and quit some time I solved the issue.

For thoses who are interested by this tutorial here is what you need to change :

In the auth.js script search for this line :
const user = await graph.getUserDetails(response.accesToken);
and replace it by this one :
const user = await graph.getUserDetails(req.app.locals.msalClient, req.session.userId);

First t

[2022-04-05 13:28] GoestaBergfeld opened #4681 "Additional parameters for Popup-Window"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

It would be great if we could pass some more parameters to the popup-Request. Currently we can only set the width and height per popupWindowAttributes but in addition we would like to control wheather the location-bar should be visible and if it's allowed to resize the popup window.

### Sourc

[2022-04-05 15:07] fan-boy commented on #4662
Hi @ellymakuba . Any updates on this.

[2022-04-05 15:08] ellymakuba commented on #4681
@GoestaBergfeld we will discuss this internally and get back to you

[2022-04-05 15:40] ellymakuba commented on #4613
@ionut-gheorghe thank you for providing the logs. After 24hr after the refresh token expires MSAL will attempt to silently renew the refresh token and if that succeeds the user should not need to sign in again. This may fail if the user's AAD session has expired or if they have 3rd party cookies blocked. The server logs indicate that either the user's session has expired or 3rd party cookies are b

[2022-04-05 16:33] jasonnutter commented on #4658
With MSAL React, applications do not need to manually invoke `handleRedirectPromise`. More details here: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/FAQ.md#how-do-i-handle-the-redirect-flow-in-a-react-app

The first thing I would look at is to ensure the page you are using for the redirect URI for loginRedirect​ inside the Teams dialog is not clearing

[2022-04-05 17:18] jasonnutter commented on #1665
We haven't decided on it, no. It looks like there are workarounds, though.

[2022-04-05 17:29] nichovski opened #4682 "Refresh token in chrome extension background"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I'm working on a chrome extension and using the MSAL library to log in via chrome popup. Everything works great when the library is called from the popup. I have an issue when I'm trying to "acquireTokenSilent" from the backg

[2022-04-05 17:39] jeffj6123 commented on #4631
@salman90  @hectormmg Is this version not supported?

[2022-04-05 17:39] ellymakuba commented on #4662
Hello @fan-boy, This was identified as an issue with the B2C service. Please file a support ticket with the B2C team by following the instructions here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options. They can help you out further, they may ask for a public repro link or additional data. You can also link this Github issue in the support request.

[2022-04-05 17:44] jasonnutter commented on #4682
@nichovski This looks like a duplicate of #3923. Are you using the v3 manifest?

[2022-04-05 17:48] nichovski commented on #4682
@jasonnutter Yes, I'm using manifest v3. It looks like the same issue :( I hope it will be solved sooner.

[2022-04-05 17:50] nichovski commented on #3923
Did anyone find a workaround for this issue?

[2022-04-05 17:51] jasonnutter commented on #4682
@nichovski Thanks for confirming. Unfortunately, we haven't been able to prioritize compatibility for manifest v3 in service workers, given the current dependency on the window object. Apologies for the inconvenience there. I'll close this issue as a duplicate, please follow the linked issue for updates.

[2022-04-05 17:51] #4682 closed, assigned to ellymakuba

[2022-04-05 19:10] hectormmg commented on #4631
@jeffj6123 although Electron technically isn't officially supported by MSAL Node yet, we expect MSAL Node still works for the newer versions of Electron. In this case the sample is just outdated, I'm working on an update and will update this issue when we have an up-to-date working version. Thanks!

[2022-04-05 20:24] roopeshchinnakampalli commented on #4664
@jasonnutter Thanks for the update! Unfortunately, we see the SPA loads (all assets downloads again) because of this. This is becoming a thing in low bandwidth areas and also in small form factors.

[2022-04-05 21:38] hectormmg commented on #4631
@jeffj6123

(node:163884) UnhandledPromiseRejectionWarning: Error: Request failed with status code 401
at createError (E:\MICROSOFT_WORK\microsoft-authentication-library-for-js\samples\msal-node-samples\ElectronTestApp\node_modules\axios\lib\core\createError.js:16:15)
at settle (E:\MICROSOFT_WORK\microsoft-authentication-library-for-js\samples\msal-node-samples\ElectronTestApp\node_modules\axios\l

[2022-04-05 22:59] benlieber-codaio commented on #4658
@jasonnutter I tried updating to match the pattern employed in the sample using the event callback and a different handler for auth end - still ran into the same issue where sometimes the auth end will just hang i.e. the event is never received (fwiw the documentation link you provided also does say you can use `handleRedirectPromise` )
<img width="1078" alt="image" src="https://user-images.github

[2022-04-05 23:16] benlieber-codaio commented on #4658
some more logs was able to grab - this time using the event handlers only (in my code) and separating out the auth start and auth end endpoints. note the flow observed in terms of urls was essentially `authStart` -> `authEnd#code=...` -> `authEnd` (hangs at `authEnd` as event is never received)

pre-redirect (from another attempt but assuming the same):

![image](https://user-images.githubusercont

[2022-04-05 23:58] jasonnutter commented on #4658
@benlieber-codaio Thanks for the addition info.

I believe we have, yes. One thing you can try is to set the page in the dialogue (to trigger loginRedirect and use as the redirectURI) to a completely blank HTML page outside of your React (i.e. https://myapplication/msalredirect.html) that just runs the code to trigger loginRedirect, handleRedirectPromise, the logic to communicate back to your app

[2022-04-06 00:04] jeffj6123 commented on #4631
@hectormmg can this part be ignored then?

[Fri, 25 Mar 2022 21:34:50 GMT] : [7365176d-273a-4c60-882b-11cee9b4d959] : @azure/msal-common@6.1.0 : Info - in acquireToken call
_(node:163884) electron: Failed to load URL: msal://redirect/?code=<TOKEN_REDACTED>&session_state=165060c1-98e2-488d-b31a-40d0501c4e72 with error: ERR_FILE_NOT_FOUND_
(Use electron --trace-warnings ... to show where the warning

[2022-04-06 00:58] benlieber-codaio commented on #4658
@jasonnutter so i did the opposite of your suggestion but i _think_ should help to isolate about the same - stripped out all the msal related code from my auth end handler and only observe `authStart` -> `authEnd#code=...` . so it seems like the (only) actor that's clearing the hash code is the msal lib itself

[2022-04-06 01:26] benlieber-codaio commented on #4658
one more hypothesis - suspicious the issue might actually be a race condition in that I'm not immediately listening for events / calling `handleRedirectPromise` in my redirect handler. instead wait for both (1) microsoft teams lib to be initialized (2) msal instance to be initialized. given that msal-react calls `handleRedirectPromise` [under the hood ](https://github.com/AzureAD/microsoft-authent

[2022-04-06 09:34] #4630 closed, assigned to sameerag

[2022-04-06 09:57] bitbytie commented on #4104
We're also experiencing this issue, is there a workaround we could use until the solution is implemented?

[2022-04-06 13:00] #4626 closed, assigned to jo-arroyo

[2022-04-06 13:00] #4614 closed, assigned to jo-arroyo

[2022-04-06 13:00] ghost commented on #4607
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg please follow up.

[2022-04-06 13:39] bartlomiejzuber commented on #3923
Kind of yes although I didn't finish it, as a workaround you can use `jsdom` and assign it to the global.window, additionally you might need to add polyfills for things like Crypto API(https://developer.mozilla.org/en-US/docs/Web/API/Crypto). Keep in mind that this type of workaround will bloat your background(service worker) script bundle significantly.

[2022-04-06 15:44] ellymakuba commented on #4659
@youkabeng please email me the verbose logs from msal along with fiddler trace. My email is on github

[2022-04-06 16:12] jasonnutter commented on #4104
The library receiving a 400 error from the token endpoint when calling `acquireTokenSilent` is expected and by design. This error should be caught and handled by the library, which will either result in the tokens successfully renewed, or in an interaction required error (if the library is unable to silently renew the refresh token, i.e. the user no longer an active session or third-party cookies

[2022-04-06 16:18] siddarthapal commented on #4154
@jasonnutter Hi Jason, thanks a lot for the new version which is compatible with Angular 13. I am going through the following:-
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md

Seems one topic for "How to configure Scopes for Custom APIs" is missing? Is this correct? Also I am not sure, if this is the right place to rais

[2022-04-06 16:21] jasonnutter commented on #4154
@siddarthapal Can you please open a new issue with your question? Thanks!

[2022-04-06 16:28] siddarthapal opened #4685 "How to configure scopes for own Web APIs?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md

### Description

Hello Documentation team

We are using MSAL authentication library for our Angular 13 Project. I am trying to understan

[2022-04-06 16:30] siddarthapal commented on #4154
Link for the issue created
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4685

[2022-04-06 16:43] jasonnutter commented on #4664
@roopeshreddy If the provided navigation behavior does not suite your needs, you can implement your own.

- Overview: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/navigation.md
- Example: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.navigation.client.ts

For MSAL Angular, you can provide t

[2022-04-06 17:15] jasonnutter commented on #4658
@benlieber-codaio Ah, that could be it. Given you are using `useMsal`, I would recommend just relying on the event API to get the result (and [inspect the interaction status](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md#usemsal-hook) instead of waiting on `handleRedirectPromise`). And furthermore, it may also help to use two dedicated pag

[2022-04-06 17:17] siddarthapal commented on #4154
@jasonnutter I raised the issue.

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4685

But not sure, if someone would be looking into that or not. I raised the query because it appears that the documentation is not complete.
Could you please respond?

[2022-04-06 17:18] jasonnutter commented on #4154
@siddarthapal Thank you, and yes, we read and respond to all issues.

[2022-04-06 17:19] jasonnutter commented on #4379
https://github.com/whatwg/html/issues/7741

[2022-04-06 17:20] siddarthapal commented on #4154
I am pretty new to this so I asked. thanks for the quick response.

[2022-04-06 18:14] siddarthapal commented on #4685
This is request for missing stuff from the documentation, not for the Angular 13 compatible MSAL library. I see something being closed at the bottom so I am confused.

[2022-04-06 18:20] hectormmg commented on #4631
@jeffj6123 I believe so. The error comes from the auth window trying to load the URL when it is changed after the redirect. This isn't a URL meant to be navigated to, we just need to extract the auth code from it through the custom file protocol's listener. If you can confirm that the auth code is being extracted by the Custom file protocol listener and then that code is being successfully exchang

[2022-04-06 18:22] hectormmg commented on #4607
@jeffj6123 could you elaborate on how this error happens with the sample? Is this error happening on login in the popup?

[2022-04-06 18:47] jeffj6123 commented on #4631
hey, @hectormmg the 401 error I believe came from me not setting a different url than  "https://graph.microsoft-ppe.com/v1.0/me" but yes I do see a token get generated.

[2022-04-06 19:00] siddarthapal commented on #4685
This is the URL, I guess:-
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis

It would be good, if we can add to documentation.

[2022-04-06 21:57] benlieber-codaio commented on #4658
@jasonnutter @tnorling I updated my code to do this and updated the hook to avoid the race condition with teams initialization. now running into another issue, seeing error message `state_not_found: State not found:  Cached State` . guessing might indicate an issue where msal-react under the hood is still failing to update the cache / accounts overall?

[2022-04-06 22:31] jasonnutter commented on #4658
@benlieber-codaio Does this error go away if you enable `storeAuthStateInCookie`?

[2022-04-06 22:42] DerekJDev commented on #4551
Any update on this?

[2022-04-07 01:00] ghost commented on #4643
@ARsquare This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-07 01:00] ghost commented on #4585
@ss90128311 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-07 01:00] ghost commented on #4573
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-07 02:42] benlieber-codaio commented on #4658
@jasonnutter seem to still have the same error if set `storeAuthStateInCookie` to true

[2022-04-07 03:01] benlieber-codaio commented on #4658
another debugging note - the issue is similarly transient - sometimes it will succeed.

this post suggested needed to also include removing the event callback in the return from `useEffect` which I hadn't done - is this the case? http://ostack.cn/qa/?qa=108886/

[2022-04-07 07:52] sinedied commented on #3332
@sameerag Could this issue be re-opened? The original problem you're citing above about having to build ~90 binaries is no more relevant when using Node N-API, as you can see that Keytar now supports all versions and platforms with only 11 prebuilt binaries: https://github.com/atom/node-keytar/releases/tag/v7.9.0

This is also linked to a blocking issue for us, mentioned here: https://github.com/A

[2022-04-07 08:32] h3rmanj opened #4686 "Request Deduplication"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

Not Applicable

### Description

Hi!

I have a React project which uses `@azure/msal-browser`. When we call our API, we use a custom fetcher that calls `acquireTokenSilent` before the request. We use the custom fetcher through a library (`SWR`) that includes fetching hooks with request deduplication etc.

So if I use the fetc

[2022-04-07 13:00] ghost commented on #4633
@ydogandjiev This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-07 13:00] ghost commented on #3933
@fella752 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-07 15:43] ellymakuba commented on #4686
For instance discovery and openid-confiuration calls we are working on enhancements to reduce the number of network calls made by the library. For the token endpoint can you please confirm that you are requesting multiple different access tokens for different resources? Please share relevant code snippets on how you are invoking acquiretokensilent along with verbose logs from msal.

[2022-04-07 15:48] ellymakuba commented on #4685
That is the correct link, thank you. We will add that to our FAQ.

[2022-04-07 16:52] tnorling commented on #4686
The metadata call should only be made once per page load per `PublicClientApplication` instance. Can you make sure you are not reinstantiating `PublicClientApplication`? When using React you should not instantiate `PublicClientApplication` inside a React component due to re-renders potentially causing reinstantiation.

[2022-04-07 19:31] prsauer opened #4689 "useIsAuthenticated returns true during logout process"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

Using `useIsAuthenticated` seems to produce unwanted behavior when `logout` is called. The user accounts array from `getAllAccounts()` is emptied before `isAuthenticated` becomes false. This leads to a situat

[2022-04-07 20:43] jasonnutter commented on #4658
@benlieber-codaio Interesting, thanks. Sounds like a good idea, worth trying.

When this happens, what is in session storage? Is it empty? Or are there entries (the state value MSAL is looking for is stored in session storage [and cookies if `storeAuthStateInCookie` is enabled])?

[2022-04-07 21:16] jasonnutter commented on #3332
Reopening, as this is being requested again. As a workaround, I would suggest consuming applications/libraries to mark MSAL Node Extensions (or its dependent) as an optional dependency (and handle its potential absence), and/or to precompile your application (e.g. using pkg).

[2022-04-07 22:14] #3255 closed

[2022-04-07 22:21] jasonnutter commented on #3257
Ability to disable issuer validation for new Node Token Validation library will be tracked internally in ADO, closing. @jo-arroyo

[2022-04-07 22:21] #3257 closed

[2022-04-07 22:22] jasonnutter commented on #3259
Ability to set metadata per request for new Node Token Validation library will be tracked internally in ADO, closing. @jo-arroyo

[2022-04-07 22:22] #3259 closed

[2022-04-07 22:24] #3260 closed

[2022-04-07 22:26] jasonnutter commented on #3848
Documentation for how to set audience claim for new Node Token Validation library will be tracked internally in ADO, closing. @jo-arroyo

[2022-04-07 22:26] #3848 closed

[2022-04-07 22:27] #3388 closed

[2022-04-07 22:28] jasonnutter commented on #3399
This will be handled by MSAL Node, closing.

[2022-04-07 22:28] #3399 closed

[2022-04-07 22:30] jasonnutter commented on #3400
Ability to leverage cookies for authorization for new Node Token Validation library will be tracked internally in ADO, closing. @jo-arroyo

[2022-04-07 22:30] #3400 closed

[2022-04-07 22:31] jasonnutter commented on #3852
Audience claim will be set explicitly in new Node Token Validation library, closing.

[2022-04-07 22:31] #3852 closed

[2022-04-07 22:34] jasonnutter commented on #3429
Ability to use app specific signing keys for Node Token Validation library will be tracked internally in ADO, closing. @jo-arroyo

[2022-04-07 22:34] #3429 closed

[2022-04-07 22:37] jasonnutter commented on #3465
Closing, please let us know if this is still a concern.

[2022-04-07 22:37] #3465 closed

[2022-04-07 22:39] jasonnutter commented on #3470
Closing, please open a new issue if there are still concerns.

[2022-04-07 22:39] #3470 closed

[2022-04-07 22:42] jasonnutter commented on #3447
Closing, let us know if what is provided in MSAL Node does not meet your needs.

[2022-04-07 22:42] #3447 closed

[2022-04-07 22:42] jasonnutter commented on #3446
Closing due to inactivity.

[2022-04-07 22:42] #3446 closed

[2022-04-07 22:44] jasonnutter commented on #3221
Ability to validate id tokens will be in the new Node Token Validation library, closing.

[2022-04-07 22:44] #3221 closed

[2022-04-07 22:45] jasonnutter commented on #3850
Ability to validate tokens for multiple audiences will be in the new Node Token Validation library, closing.

[2022-04-07 22:45] #3850 closed

[2022-04-07 22:46] jasonnutter commented on #4177
Closing, as this will be handled in teh new Token Validation library, let us know if there are still questions.

[2022-04-07 22:46] #4177 closed, assigned to nobody

[2022-04-07 22:49] jasonnutter commented on #4334
Closing. If you would like to see this logic in MSAL Node, you may open a PR.

[2022-04-07 22:49] #4334 closed, assigned to nobody

[2022-04-07 22:55] jasonnutter commented on #2816
Closing, as we have no plans to address this.

[2022-04-07 22:55] #2816 closed

[2022-04-07 23:01] jasonnutter commented on #3789
Closing, as we have no plans to support `code id_token` for MSAL Browser.

@bladmoreno Please open a new issue if this is still an issue, thanks.

[2022-04-07 23:01] #3789 closed

[2022-04-07 23:01] jasonnutter commented on #3933
Closing due to inactivity.

[2022-04-07 23:01] #3933 closed

[2022-04-07 23:06] jasonnutter commented on #4388
@EmLauber for performance telemetry for MSAL Node.

[2022-04-08 10:00] h3rmanj commented on #4686
Hi! Thanks for the quick answers. I used a self-made msal -> react binding package that probably was a little outdated. I did a long overdue refactor to use `@azure/msal-react`, and there's now less requests to retrieve the metadata. But there's still one per `acquireTokenSilent` request per resource.

I made a codesandbox to demonstrate this: https://codesandbox.io/s/gallant-liskov-ofrnlv?file=/s

[2022-04-08 11:16] sturano opened #4692 "Blocked form submission because the form's frame is sandboxed and the 'allow-forms' permission is not set."
### Core Library

MSAL.js v1 (@azure/msal or msal)

### Core Library Version

1.2.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Hello,
after a Azure b2c login flow with external identity provider configurated on OpenID Connect, we get on console:
Blocked form submission to 'https://xxxxxxxx.b2clogin.com/xxxxxxxxx.onmicrosoft.com/oauth2/authresp' becaus

[2022-04-08 12:24] ppagadala opened #4693 "acquireTokenSilent with MSAL.js giving error"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

When trying to renew the token with acquireTokenSilent getting 400 status for "/token" call.

### Error Message

`{"error":"invalid_grant","error_description":"AADSTS700084: The refresh token was issued to a single page app (

[2022-04-08 13:11] siddarthapal commented on #4685
As a consumer of this package, having  a link/reference at the location I mentioned would be far more helpful. I faced the issue and we can see the same. Everyone is not aware of all the things around Azure Authentication.

[2022-04-08 13:22] fan-boy commented on #4662
Okay. Thanks @ellymakuba . Closing this issue.

[2022-04-08 13:22] #4662 closed, assigned to ellymakuba

[2022-04-08 13:39] siddarthapal opened #4695 "MSAL Interceptor Configuration-Gap between Angular 13 sample and documentation"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-interceptor.md

### Description

Following is the code from Angular 13 sample:-

export function MSALInterceptorConfigFactory(): MsalInterceptorConfigur

[2022-04-08 14:36] othpwn opened #4696 "AcquireTokenSilent Behavior with Apollo Client setContext"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.2

### Description

Hello,

I am using Apollo Client to manage the state of my react app.
However, when I want to acquire a token to authenticate my requests, it results in infinite loop of requests from Apollo Client.
I tried t

[2022-04-08 14:47] othpwn commented on #4696
I went back to "@azure/msal-browser": "2.14.2" and "@azure/msal-react": "1.0.0" and the issue is gone. I think the behavior of acquireTokenSilent was changed and didn't work well with Apollo

[2022-04-08 15:46] ellymakuba commented on #4696
@othpwn please provide verbose MSAL logs when it loops and when also when it doesn't

[2022-04-08 15:54] ellymakuba commented on #4695
Both methods are valid, it just depends on whether you are using a factory method to set the interceptor configuration.

[2022-04-08 15:59] ellymakuba commented on #4693
Expected behavior and it will be handled by the library. Which you can see by the authorize call that happened after the failed call to the token endpoint.

[2022-04-08 16:02] ellymakuba commented on #4692
Please update to MSALJS version 1.4.16 as this has been fixed in the latest version.

[2022-04-08 20:51] tnorling commented on #4628
@davidspiess Can you update the logs to include the first part of the login flow? I'm only seeing the response handling here and the 1.2.0 logs indicate that you've returned from a redirect, where the 1.3.1 logs indicate you did not. Please make sure these logs are collected from the same scenario so we can compare

[2022-04-08 21:32] sebrenna opened #4697 ""Interaction in progress" state is not reset when logging out of a specific account in the local logout scenario"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

N/A

### Description

Performing a local-only logout with a specific account leaves MSAL in the "interaction in progress" state even after the operation completes. This results in errors when other interactive operations are started, such as a subs

[2022-04-09 18:47] ckumpe commented on #3883
I've submitted a PR to fix this issue. This PR adds the `response_type=token+id_token` parameter for the request send by _acquireTokenByUsernamePassword_ to retrieve the ID Token.
This enables later calls to _acquireTokenSilent_ to retrieve the tokens from cache.

[2022-04-10 13:00] ghost commented on #4452
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-11 01:00] ghost commented on #4613
@ionut-gheorghe This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-11 01:00] #4634 closed, assigned to sameerag

[2022-04-11 06:30] KrzysztofJaneczko opened #4699 "Multiple configurations in a single SPA"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Wrapper Library Version

2.1.2

### Description

Hi!

In the Angular app I currently develop, I've got a structure like this:
- admin
- module a
- module b

I've received a requirement that the admin section of the app should be protected by two factor

[2022-04-11 11:12] ppagadala commented on #4693
@ellymakuba
That is happening because we had **acquireTokenPopup** if the **acquireTokenSilent** fails. The acquireTokenSilent should return refreshToken once the accessToken expires?

[2022-04-11 11:28] Takas0522 opened #4700 "Not working "Syncing logged in state across tabs and windows". Do I need to set up anything?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.19.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

Even though I set it up as per [this document](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/events.md#syncing-logged-in-state-across-tabs-and-windows).
The logout process,

[2022-04-11 11:46] Takas0522 commented on #4700
`<script type="text/javascript" src="https://alcdn.msauth.net/browser/2.23.0/js/msal-browser.min.js"></script>`
Version `2.23.0` had the same result

[2022-04-11 14:44] erik-neumann commented on #4633
We're running into this as well. Various high severity security issues are reported by our code / dependency analysis. This is also affecting almost any of products, and authentication isn't on of the topics where I would say security is minor important or critical. Any idea of a timeline, or is there any workaround we can implement until this is fixed?

[2022-04-11 14:58] matzehecht opened #4701 "Performance issues after msal-react update caused by a lot of hook changes"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.22.1

### Wrapper Library

MSAL React (@azure/msal-react)

### Wrapper Library Version

1.3.1

### Description

Since upgrading from @azure/msal-browser v2.22.0 to v2.22.1 and from @azure/msal-react v1.3.0 to v1.3.1 my React App is terribly slow on each navigation. With some investigation (using [why-did-you-render](ht

[2022-04-11 15:26] jasonnutter commented on #4366
Reopening to confirm workaround, see if there are other options.

[2022-04-11 19:02] jasonnutter commented on #4689
@prsauer Can you please share relevant code snippets for how you are invoking logout and handling `useIsAuthenticated`?

[2022-04-11 20:20] jasonnutter commented on #4700
@Takas0522 If your `msalConfig` object, you will need to set `cache.cacheLocation` to `localStorage` in order to share MSAL cache across tabs and windows.

[2022-04-11 20:25] jasonnutter commented on #4701
@matzehecht Do you think this is similar to behavior described here? https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/4477#issuecomment-1080891316

cc @tnorling

[2022-04-11 20:56] matzehecht commented on #4701
@jasonnutter Yes, I think this is the same behavior. In my project, I call the acquireToken function on each request to our backend. Such a request happens after almost every navigation (that's why I thought the issue has something to do with react-router/navigation... my colleague implemented this part...).

Until these changes, our implementation worked perfectly fine, as every call to the acqui

[2022-04-11 21:18] jasonnutter commented on #4693
@ppagadala acquireTokenSilent will attempt to silently renew the access token (and refresh token, if that has expired, which happened here), and then return an error if that does not succeed. Can you please share a network trace and verbose logs from MSAL with me demonstrating the behavior shown in the screenshot above (email is in my profile)?

[2022-04-11 21:22] jasonnutter commented on #4685
@siddarthapal Fair feedback, we'll make sure that gets added.

[2022-04-11 22:34] benlieber-codaio commented on #4658
@jasonnutter I ended up going with using just `msal-browser` and calling `handleRedirectPromise` directly for the end auth handler. Haven't had a ton of time to bake it yet but feels more stable so far / haven't run into any flakiness yet.

If it helps to diagnose further attaching code snippets - new code using `msal-browser` directly:

[code]

Previous code using `msal-react` (would see previous

[2022-04-11 22:58] jasonnutter commented on #4697
@sebrenna Thanks, I can confirm this is a bug. Will follow up if I have any further questions.

[2022-04-11 23:00] jasonnutter commented on #4697
For anyone else experiencing this bug, refreshing the page after invoking `logout/logoutRedirect` (with an account passed and `onRedirectNavigate` set to return `false`) should result in the interaction status temporary cache entry to be cleared,

[2022-04-12 01:00] ghost commented on #4664
@roopeshreddy This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-12 01:00] ghost commented on #4659
@youkabeng This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-12 01:00] ghost commented on #4607
@jeffj6123 This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-12 01:00] #4629 closed, assigned to jo-arroyo

[2022-04-12 01:00] #4622 closed, assigned to jo-arroyo

[2022-04-12 01:00] ghost commented on #4631
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @hectormmg, @sameerag please follow up.

[2022-04-12 01:00] ghost commented on #4573
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-12 01:01] ghost commented on #4551
This issue requires attention from the MSAL.js team and has not seen activity in **5 days**. @pkanher617 please follow up.

[2022-04-12 06:38] HakuTheWolfSpirit opened #4702 "Msal returns graph api token, not authentication token"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

^2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I am having trouble with following the vue3-sample. When acquiring the token I get the token for the graph api only, which is not accepted by the backend.

I have analyzed the token and the scope "User.Read" is always in the

[2022-04-12 10:55] Takas0522 commented on #4700
Changing `cache.cacheLocation` to localStorage did not change the situation, but if I was SSO Login, the results were as expected.

I understand that the process is based on [this documents](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso#sso-between-browser-tabs) function.
Thanks for the very good advice--that solves it!

[2022-04-12 15:57] jasonnutter commented on #4686
@h3rmanj Thanks. What you observe is currently expected behavior. When you login, the login call will initiate the first call to teh metadata endpoints, which gets cached and reused for the `acquireTokenSilent` calls. When you are already logged in (after refreshing), the login call doesn't happen again, and since the two `acquireTokenSilent` calls happen in parallel, they'll both make a metadata

[2022-04-12 16:11] jasonnutter commented on #4699
I don't believe this is currently possible with MSAL Angular.

I think this would be possible using a combination of the MSAL Guard and Conditional Access policies. You could setup the MSAL Guard on the admin part of the app to prompt the user to login, only allow users with the admin role to access it, and then require admin users to complete MFA via conditional access policy.

Enabling MFA via C

[2022-04-12 16:19] jasonnutter commented on #4701
@matzehecht Thanks, we'll investigate and follow up if we need more information.

[2022-04-12 16:20] #4700 closed, assigned to jasonnutter

[2022-04-12 16:22] jasonnutter commented on #4573
I have seen these a few times in my own testing, and I have theory on why it is happening, will follow up with a fix.

[2022-04-12 16:23] jasonnutter commented on #4631
@jeffj6123 I believe this will be fixed by #4684, @hectormmg please confirm.

[2022-04-12 16:25] jasonnutter commented on #4658
@benlieber-codaio Glad to hear you got it working. I'll see if I can figure out why your previous approach wasn't reliable.

[2022-04-12 17:35] othpwn commented on #4696
Here is the log I got, it keep looping between msal:acquireTokenStart msal:acquireTokenSuccess:

[Tue, 12 Apr 2022 17:34:05 GMT] : @azure/msal-browser@2.23.0 : Info - Emitting event: msal:handleRedirectStart
auth-config.js:26 [Tue, 12 Apr 2022 17:34:05 GMT] : [fbea0831-737d-42db-8b24-b9ce26905408] : msal.js.browser@2.23.0 : Info - handleRedirectPromise called but there is no interaction in progres

[2022-04-12 20:04] siddarthapal opened #4704 "MSAL Guard - URLS not working"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Wrapper Library

MSAL Angular (@azure/msal-angular)

### Documentation Location

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-guard.md

### Description

Under section "Optional authRequest" there are links on "PopupRequest" and "RedirectRequest". they are not working. Could you

[2022-04-12 20:20] jasonnutter commented on #4704
@siddarthapal Thanks, I'll make sure those are fixed. You can find them both here: https://azuread.github.io/microsoft-authentication-library-for-js/ref/modules/_azure_msal_browser.html#popuprequest

[2022-04-12 20:32] jasonnutter commented on #4702
@Popeye4242 It looks like you are trying to validate a Microsoft Graph access token for your own resource, which is not allowed. Instead, you should register your resource in the Azure Portal, create custom scopes for that resource, and then request an access token for those scopes.

More details here: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-

[2022-04-12 22:40] jasonnutter commented on #4633
I believe this should be addressed if you pick up the latest version of `mkdirp`, which has been bumped to `minimist@1.2.6`:

[code]

Please regenerate your lock files and confirm, thanks! @ydogandjiev @erik-neumann

[2022-04-12 22:55] jasonnutter commented on #4696
@othpwn Does the behavior you observe match what is described here (i.e. does it work with 1.3.0 but not the latest)? https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4701#issuecomment-1095531435

[2022-04-12 23:00] othpwn commented on #4696
Indeed, it works with 1.3.0 but not the latest.

[2022-04-12 23:01] jasonnutter commented on #4696
Thanks for confirming, will close as a duplicate of #4701.

[2022-04-12 23:01] #4696 closed, assigned to ellymakuba

[2022-04-13 01:24] bryce-by commented on #4573
We are getting this "hash_empty_error" error as well. Been trying to resolve it for days now.

Our React apps are deployed using a very common method (Azure Static Web Apps with GitHub Actions). How would we get this required blank.html page included in this case? Github Actions is building our app so we can't just add a blank.html page into the public folder.

Additionally, how would this play wi

[2022-04-13 09:04] Farinius opened #4705 "Security vulnerability in passport-azure-ad > async AND passport-azure-ad > cache-manager > async"
### Core Library

Passport Azure AD (passport-azure-ad)

### Core Library Version

4.3.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

The following dependency chaining originating in passport-azure-ad introduces a security vulnerability which is getting flagged by Whitesource: CVE-2021-43138  https://nvd.nist.gov/vuln/detail/CVE-2021-43138

Upgrade to v

[2022-04-13 09:28] HakuTheWolfSpirit commented on #4702
Thank you for your suggestion @jasonnutter. After defining the scope I could successfully sign in.

[2022-04-13 09:28] #4702 closed, assigned to jasonnutter

[2022-04-13 11:47] erik-neumann commented on #4633
Thanks @jasonnutter for your response. Actually we have multiple packages that seem to contain vulnerabilities.

- qs-6.5.3
- async-1.5.2
- minimist-1.2.5
- moment-2.29.1
- node-forge-1.2.1

I tried your approach by referencing the affected packages directly. That resolved some of the issues but not all. Still async and qs is having issues. qs seems to be referenced by request package that is not

[2022-04-13 11:57] erik-neumann commented on #4598
Hi @sameerag ,

any idea of a timeline or maybe reference to that replacement? There currently seem to be some security issues within currently used packages. E.g. related issues #4633 and #4705. Does this mean they won't be addressed within `passport-azure-ad`?

[2022-04-13 13:45] eglavin commented on #4697
I'm also seeing this since updating to version "@azure/msal-browser": "2.22.1"

[2022-04-13 15:38] siddarthapal commented on #4704
Thank you very much for the timely reply.

[2022-04-13 15:46] siddarthapal commented on #4685
THANK YOU VERY MUCH FOR YOUR CONSIDERATION. HOPE THIS WOULD HELPS OTHERS.

[2022-04-13 16:01] jasonnutter commented on #4598
@erik-neumann We will be addressing these dependencies soon. No exact ETA yet.

[2022-04-13 16:02] jasonnutter commented on #4633
@erik-neumann Did removing your node_modules folder and regenerating your lock file address the minimist dependency specifically?

[2022-04-13 16:11] jasonnutter commented on #4705
@Farinius Thanks, we'll investigate. Note, that the breaking change shipped in `cache-manager@3` previously broke `passport-azure-ad`, so it will take some time to address that: https://github.com/AzureAD/passport-azure-ad/issues/471

[2022-04-13 16:49] jasonnutter commented on #4692
Closing, as this was a known issue that has since been fixed in the latest version of MSAL.

[2022-04-13 16:49] #4692 closed, assigned to ellymakuba

[2022-04-13 17:00] roopeshchinnakampalli commented on #4664
Thanks @jasonnutter  This helps!

[2022-04-13 17:00] #4664 closed, assigned to ellymakuba

[2022-04-13 17:49] hectormmg commented on #4631
@jasonnutter there's two separate problems related to this issue, here's a summary:

1. The 401 when calling the /messages graph endpoint

It turns out that the /messages endpoint is disabled for @microsoft accounts, which is why this error comes up in any/all of our samples that use /messages (Mail.Read).

2. The "could not load URL" error that happens after the auth code redirect is actually the

[2022-04-13 17:50] jasonnutter commented on #4573
@bryce-by A common cause of this is the page used as the redirect uri redirects and/or removes the hash before MSAL has a chance to parse it. When your redirect URI is loaded in a popup with a hash response (i.e. `myapplication.com/redirect#code=`), does your application redirect and/or clear the hash? If so, make it so that it doesn't do that, and for popup/silent requests, you can set your redir

[2022-04-13 17:51] jasonnutter commented on #4573
Why not?

[2022-04-13 21:51] jasonnutter commented on #4701
I believe we have found the root cause of this issue, will have PR soon with a fix (which will land in our May release).

[2022-04-13 22:27] sameerag commented on #4486
#4691 is a work in progress, ETA 4/22

[2022-04-13 22:29] sameerag commented on #4458
Can you please test this on the latest version of Safari and let us know if you still see the issue @mikkelmk @MagnusHJensen?

Note to the team:
This fix isn't straightforward and we need some thought to solve this. We would like to get this information before we land on a solution. Redirect refresh is not handled as expected in Safari, which causes this issue.

[2022-04-13 22:35] sameerag commented on #4411
@nickgmicrosoft can you confirm if this is by design in B2C?

[2022-04-13 22:44] sameerag commented on #4206
The initial assumption we made when we designed the library is the uniformity between expiry times for id_token and access_token. However, this is not true in all cases and we need to enhance the library to support these various expiry times. Added this to our internal backlog.

However, please note that this would need some redesign from our end and hence will take some time.

[2022-04-13 22:47] sameerag commented on #4159
Closing this, provided workarounds in the above thread. As mentioned, please open a new issue if you have more questions.

[2022-04-13 22:47] #4159 closed, assigned to nobody

[2022-04-13 22:49] #4091 closed

[2022-04-13 22:54] jasonklinke commented on #4662
Having the same issue -- @ellymakuba is this a known bug?

React SPA using MSAL-react library with Azure AD B2C and KMSI (using Local Accounts).
cacheLocation is LocalStorage and the user stays logged in across tabs just fine, and also gets new Refresh Tokens fine within the first 24 hrs.
But after 24 hrs user is forced to re-authenticate (acquireTokenSilent fails and is handled and we call acquir

[2022-04-13 23:06] sameerag commented on #4681
@GoestaBergfeld We anticipate more problems with providing the ability to resize a popup to the user (we do not want more overhead of error handling). However, feel free to open a PR for adding the `location Bar` and we can consider this added to the MSAL popups.

We do not plan to make this enhancement ourselves right now.

[2022-04-13 23:06] #4681 closed, assigned to nobody

[2022-04-13 23:14] sameerag commented on #4598
This will be addressed in `passport-azure-ad` as this is a security vulnerability @erik-neumann. We have picked this up and will update the issue with the PR once we have it ready.

[2022-04-13 23:16] sameerag commented on #4578
@mpminayo Can you please update this issue? Can you please check if this is already supported in `msal-angular`?

[2022-04-13 23:17] sameerag commented on #4538
@svrooij Can you please check if all tests pass and we can consider merging it?

[2022-04-13 23:19] sameerag commented on #4528
@jo-arroyo can you check if this is addressed already?

[2022-04-14 01:00] ghost commented on #4695
@siddarthapal This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-14 01:00] ghost commented on #4628
@davidspiess This issue has been automatically marked as stale because it is marked as requiring author feedback but has not had any activity for **5 days**. If your issue has been resolved please let us know by closing the issue. If your issue has **not** been resolved please leave a comment to keep this open. It will be closed automatically in **7 days** if it remains stale.

[2022-04-14 01:00] #4643 closed, assigned to sameerag

[2022-04-14 05:25] shisoAqron opened #4706 "Caused BrowserAuthError in Vue3 sample code & tutorial code"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.23.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

None

### Description

I want to use msal-browser to build a Nuxt3 application.
So I refer to the next page and sample code.
- [Single-page application: Sign-in and Sign-out](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-

[2022-04-14 05:39] svrooij commented on #4538
@sameerag all tests are checked in the PR and are still green

[2022-04-14 06:34] idbartosz opened #4707 "Hybrid SPA flow doesn't work in AD B2C"
### Core Library

MSAL Node (@azure/msal-node)

### Core Library Version

1.8.0

### Wrapper Library

Not Applicable

### Wrapper Library Version

0.0.0

### Description

In AD B2C setup while calling `acquireTokenByCode` with `enableSpaAuthorizationCode: true` option the response returns `code: undefined`. In contrast, for a tenant without AD B2C the code is normally returned.

I suspect that thi

[2022-04-14 07:35] erik-neumann commented on #4633
@jasonnutter yes, `minimist` was fine then. Issue remains with `async` and `qs` referenced by `request`.

[2022-04-14 12:32] mikkelmk commented on #4458
@sameerag I'm still seeing the issue in Safari version 15.4 (17613.1.17.1.13), with msal-browser v2.23.0 and msal-react v1.3.2.

[2022-04-14 13:00] #4585 closed, assigned to mpminayo

[2022-04-14 13:24] siddarthapal commented on #4695
Closing the issue....

[2022-04-14 13:24] #4695 closed, assigned to ellymakuba

[2022-04-14 13:25] siddarthapal commented on #4704
Closing the issue...

[2022-04-14 13:25] #4704 closed, assigned to jasonnutter

[2022-04-14 15:57] eglavin commented on #4697
Ok, I can reproduce this issue back as far as v2.22.0 as soon as i downgrade to v2.21.0 I'm able to sign out and continue using the login again after.

[2022-04-14 16:21] #4538 closed, assigned to nobody

[2022-04-14 17:16] jasonnutter commented on #4633
@erik-neumann Thanks for confirming. We are aware of the issues with `async` and `request`, so I will close this.

[2022-04-14 17:16] #4633 closed, assigned to jasonnutter, pkanher617

[2022-04-14 17:30] jasonnutter commented on #4707
@idbartosz Support for the hybrid spa flow has not yet shipped for B2C. Will close this for now, and follow up when that support has been added (ETA TBD, unfortunately). cc @EmLauber

[2022-04-14 17:30] #4707 closed, assigned to jasonnutter

[2022-04-14 17:37] jasonnutter commented on #4707
I'll add a note to our docs that B2C has not added support yet.

[2022-04-14 17:53] idbartosz commented on #4707
Thanks @jasonnutter for a quick response, and looking forward to any updates on this 👍

[2022-04-14 17:56] prsauer commented on #4519
@hectormmg Getting an error using the `loadExternalTokens` strategy -- since I'm not granted a refresh token and it seems like the access token I'm injecting isn't being used:

[code]